@{
    var masterTable = Resolve("Aktivitas");
    masterTable.TableClass = "table table-bordered table-hover table-sm ew-table ew-master-table"; // DN
}
@if (masterTable.Visible) { // masterTable.Visible (begin)
<div class="ew-master-div">
<table id="tbl_Aktivitasmaster" class="table ew-view-table ew-master-table ew-vertical">
    <tbody>
        @if (masterTable.No_Referensi.Visible) { // masterTable.No_Referensi.Visible (begin)
        <tr id="r_No_Referensi" @Html.Raw(masterTable.No_Referensi.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.No_Referensi.Caption)</td>
            <td @Html.Raw(masterTable.No_Referensi.CellAttributes)>
<span id="el_Aktivitas_No_Referensi">
<span @Html.Raw(masterTable.No_Referensi.ViewAttributes)>
@Html.Raw(masterTable.No_Referensi.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.No_Referensi.Visible (end) *@
        @if (masterTable.IdProses.Visible) { // masterTable.IdProses.Visible (begin)
        <tr id="r_IdProses" @Html.Raw(masterTable.IdProses.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.IdProses.Caption)</td>
            <td @Html.Raw(masterTable.IdProses.CellAttributes)>
<span id="el_Aktivitas_IdProses">
<span @Html.Raw(masterTable.IdProses.ViewAttributes)>
@Html.Raw(masterTable.IdProses.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.IdProses.Visible (end) *@
        @if (masterTable.Aktivitas2.Visible) { // masterTable.Aktivitas2.Visible (begin)
        <tr id="r_Aktivitas2" @Html.Raw(masterTable.Aktivitas2.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.Aktivitas2.Caption)</td>
            <td @Html.Raw(masterTable.Aktivitas2.CellAttributes)>
<span id="el_Aktivitas_Aktivitas2">
<span @Html.Raw(masterTable.Aktivitas2.ViewAttributes)>
@Html.Raw(masterTable.Aktivitas2.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.Aktivitas2.Visible (end) *@
        @if (masterTable.PIC.Visible) { // masterTable.PIC.Visible (begin)
        <tr id="r_PIC" @Html.Raw(masterTable.PIC.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.PIC.Caption)</td>
            <td @Html.Raw(masterTable.PIC.CellAttributes)>
<span id="el_Aktivitas_PIC">
<span @Html.Raw(masterTable.PIC.ViewAttributes)>
@Html.Raw(masterTable.PIC.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.PIC.Visible (end) *@
        @if (masterTable.TanggalMulai.Visible) { // masterTable.TanggalMulai.Visible (begin)
        <tr id="r_TanggalMulai" @Html.Raw(masterTable.TanggalMulai.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.TanggalMulai.Caption)</td>
            <td @Html.Raw(masterTable.TanggalMulai.CellAttributes)>
<span id="el_Aktivitas_TanggalMulai">
<span @Html.Raw(masterTable.TanggalMulai.ViewAttributes)>
@Html.Raw(masterTable.TanggalMulai.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.TanggalMulai.Visible (end) *@
        @if (masterTable.TanggalSelesai.Visible) { // masterTable.TanggalSelesai.Visible (begin)
        <tr id="r_TanggalSelesai" @Html.Raw(masterTable.TanggalSelesai.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.TanggalSelesai.Caption)</td>
            <td @Html.Raw(masterTable.TanggalSelesai.CellAttributes)>
<span id="el_Aktivitas_TanggalSelesai">
<span @Html.Raw(masterTable.TanggalSelesai.ViewAttributes)>
@Html.Raw(masterTable.TanggalSelesai.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.TanggalSelesai.Visible (end) *@
        @if (masterTable.StatusAktivitas.Visible) { // masterTable.StatusAktivitas.Visible (begin)
        <tr id="r_StatusAktivitas" @Html.Raw(masterTable.StatusAktivitas.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.StatusAktivitas.Caption)</td>
            <td @Html.Raw(masterTable.StatusAktivitas.CellAttributes)>
<span id="el_Aktivitas_StatusAktivitas">
<span @Html.Raw(masterTable.StatusAktivitas.ViewAttributes)>
@Html.Raw(masterTable.StatusAktivitas.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.StatusAktivitas.Visible (end) *@
        @if (masterTable.DibuatOleh.Visible) { // masterTable.DibuatOleh.Visible (begin)
        <tr id="r_DibuatOleh" @Html.Raw(masterTable.DibuatOleh.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.DibuatOleh.Caption)</td>
            <td @Html.Raw(masterTable.DibuatOleh.CellAttributes)>
<span id="el_Aktivitas_DibuatOleh">
<span @Html.Raw(masterTable.DibuatOleh.ViewAttributes)>
@Html.Raw(masterTable.DibuatOleh.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.DibuatOleh.Visible (end) *@
        @if (masterTable.TanggalDibuat.Visible) { // masterTable.TanggalDibuat.Visible (begin)
        <tr id="r_TanggalDibuat" @Html.Raw(masterTable.TanggalDibuat.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.TanggalDibuat.Caption)</td>
            <td @Html.Raw(masterTable.TanggalDibuat.CellAttributes)>
<span id="el_Aktivitas_TanggalDibuat">
<span @Html.Raw(masterTable.TanggalDibuat.ViewAttributes)>
@Html.Raw(masterTable.TanggalDibuat.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.TanggalDibuat.Visible (end) *@
        @if (masterTable.DiperbaruiOleh.Visible) { // masterTable.DiperbaruiOleh.Visible (begin)
        <tr id="r_DiperbaruiOleh" @Html.Raw(masterTable.DiperbaruiOleh.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.DiperbaruiOleh.Caption)</td>
            <td @Html.Raw(masterTable.DiperbaruiOleh.CellAttributes)>
<span id="el_Aktivitas_DiperbaruiOleh">
<span @Html.Raw(masterTable.DiperbaruiOleh.ViewAttributes)>
@Html.Raw(masterTable.DiperbaruiOleh.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.DiperbaruiOleh.Visible (end) *@
        @if (masterTable.TanggalDiperbarui.Visible) { // masterTable.TanggalDiperbarui.Visible (begin)
        <tr id="r_TanggalDiperbarui" @Html.Raw(masterTable.TanggalDiperbarui.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.TanggalDiperbarui.Caption)</td>
            <td @Html.Raw(masterTable.TanggalDiperbarui.CellAttributes)>
<span id="el_Aktivitas_TanggalDiperbarui">
<span @Html.Raw(masterTable.TanggalDiperbarui.ViewAttributes)>
@Html.Raw(masterTable.TanggalDiperbarui.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.TanggalDiperbarui.Visible (end) *@
        @if (masterTable.TipeAktivitas.Visible) { // masterTable.TipeAktivitas.Visible (begin)
        <tr id="r_TipeAktivitas" @Html.Raw(masterTable.TipeAktivitas.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.TipeAktivitas.Caption)</td>
            <td @Html.Raw(masterTable.TipeAktivitas.CellAttributes)>
<span id="el_Aktivitas_TipeAktivitas">
<span @Html.Raw(masterTable.TipeAktivitas.ViewAttributes)>
@Html.Raw(masterTable.TipeAktivitas.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.TipeAktivitas.Visible (end) *@
        @if (masterTable.Keterangan.Visible) { // masterTable.Keterangan.Visible (begin)
        <tr id="r_Keterangan" @Html.Raw(masterTable.Keterangan.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.Keterangan.Caption)</td>
            <td @Html.Raw(masterTable.Keterangan.CellAttributes)>
<span id="el_Aktivitas_Keterangan">
<span @Html.Raw(masterTable.Keterangan.ViewAttributes)>
@Html.Raw(masterTable.Keterangan.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.Keterangan.Visible (end) *@
        @if (masterTable.TipeProses.Visible) { // masterTable.TipeProses.Visible (begin)
        <tr id="r_TipeProses" @Html.Raw(masterTable.TipeProses.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.TipeProses.Caption)</td>
            <td @Html.Raw(masterTable.TipeProses.CellAttributes)>
<span id="el_Aktivitas_TipeProses">
<span @Html.Raw(masterTable.TipeProses.ViewAttributes)>
@Html.Raw(masterTable.TipeProses.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.TipeProses.Visible (end) *@
        @if (masterTable.Urutan.Visible) { // masterTable.Urutan.Visible (begin)
        <tr id="r_Urutan" @Html.Raw(masterTable.Urutan.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.Urutan.Caption)</td>
            <td @Html.Raw(masterTable.Urutan.CellAttributes)>
<span id="el_Aktivitas_Urutan">
<span @Html.Raw(masterTable.Urutan.ViewAttributes)>
@Html.Raw(masterTable.Urutan.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.Urutan.Visible (end) *@
        @if (masterTable.IsNominationTankReceivingLineOpen.Visible) { // masterTable.IsNominationTankReceivingLineOpen.Visible (begin)
        <tr id="r_IsNominationTankReceivingLineOpen" @Html.Raw(masterTable.IsNominationTankReceivingLineOpen.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.IsNominationTankReceivingLineOpen.Caption)</td>
            <td @Html.Raw(masterTable.IsNominationTankReceivingLineOpen.CellAttributes)>
<span id="el_Aktivitas_IsNominationTankReceivingLineOpen">
<span @Html.Raw(masterTable.IsNominationTankReceivingLineOpen.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(masterTable.IsNominationTankReceivingLineOpen.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span></td>
        </tr>
        } @* masterTable.IsNominationTankReceivingLineOpen.Visible (end) *@
        @if (masterTable.IsNonNominationReceivingLineClosedAndSealed.Visible) { // masterTable.IsNonNominationReceivingLineClosedAndSealed.Visible (begin)
        <tr id="r_IsNonNominationReceivingLineClosedAndSealed" @Html.Raw(masterTable.IsNonNominationReceivingLineClosedAndSealed.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.IsNonNominationReceivingLineClosedAndSealed.Caption)</td>
            <td @Html.Raw(masterTable.IsNonNominationReceivingLineClosedAndSealed.CellAttributes)>
<span id="el_Aktivitas_IsNonNominationReceivingLineClosedAndSealed">
<span @Html.Raw(masterTable.IsNonNominationReceivingLineClosedAndSealed.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(masterTable.IsNonNominationReceivingLineClosedAndSealed.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span></td>
        </tr>
        } @* masterTable.IsNonNominationReceivingLineClosedAndSealed.Visible (end) *@
        @if (masterTable.IsTankEmptyAndDry.Visible) { // masterTable.IsTankEmptyAndDry.Visible (begin)
        <tr id="r_IsTankEmptyAndDry" @Html.Raw(masterTable.IsTankEmptyAndDry.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.IsTankEmptyAndDry.Caption)</td>
            <td @Html.Raw(masterTable.IsTankEmptyAndDry.CellAttributes)>
<span id="el_Aktivitas_IsTankEmptyAndDry">
<span @Html.Raw(masterTable.IsTankEmptyAndDry.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(masterTable.IsTankEmptyAndDry.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span></td>
        </tr>
        } @* masterTable.IsTankEmptyAndDry.Visible (end) *@
        @if (masterTable.IsDocumentationComplete.Visible) { // masterTable.IsDocumentationComplete.Visible (begin)
        <tr id="r_IsDocumentationComplete" @Html.Raw(masterTable.IsDocumentationComplete.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.IsDocumentationComplete.Caption)</td>
            <td @Html.Raw(masterTable.IsDocumentationComplete.CellAttributes)>
<span id="el_Aktivitas_IsDocumentationComplete">
<span @Html.Raw(masterTable.IsDocumentationComplete.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(masterTable.IsDocumentationComplete.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span></td>
        </tr>
        } @* masterTable.IsDocumentationComplete.Visible (end) *@
    </tbody>
</table>
</div>
} @* masterTable.Visible (end) *@
