@{
    // View
    View = this;

    // Check action result
    if (closingStockView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = closingStockView.UseLayout ? "_Layout" : "";
}
@if (!closingStockView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @closingStockView.ExportOptions.RenderBody()
    @closingStockView.OtherOptions.RenderBody()
</div>
}
@closingStockView.ShowPageHeader()
@closingStockView.ShowMessages()
<main class="view">
<form name="fClosingStockview" id="fClosingStockview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!closingStockView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(closingStockView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { ClosingStock: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fClosingStockview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fClosingStockview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(closingStockView.IsModal)">
<table class="@(closingStockView.TableClass)">
@if (closingStockView.IdClosingStock.Visible) { // closingStockView.IdClosingStock.Visible (begin)
    <tr id="r_IdClosingStock" @Html.Raw(closingStockView.IdClosingStock.RowAttributes)>
        <td class="@(closingStockView.TableLeftColumnClass)"><span id="elh_ClosingStock_IdClosingStock">@Html.Raw(closingStockView.IdClosingStock.Caption)</span></td>
        <td data-name="IdClosingStock" @Html.Raw(closingStockView.IdClosingStock.CellAttributes)>
<span id="el_ClosingStock_IdClosingStock">
<span @Html.Raw(closingStockView.IdClosingStock.ViewAttributes)>
@Html.Raw(closingStockView.IdClosingStock.GetViewValue())</span>
</span></td>
    </tr>
} @* closingStockView.IdClosingStock.Visible (end) *@
@if (closingStockView.IdTemplate.Visible) { // closingStockView.IdTemplate.Visible (begin)
    <tr id="r_IdTemplate" @Html.Raw(closingStockView.IdTemplate.RowAttributes)>
        <td class="@(closingStockView.TableLeftColumnClass)"><span id="elh_ClosingStock_IdTemplate">@Html.Raw(closingStockView.IdTemplate.Caption)</span></td>
        <td data-name="IdTemplate" @Html.Raw(closingStockView.IdTemplate.CellAttributes)>
<span id="el_ClosingStock_IdTemplate">
<span @Html.Raw(closingStockView.IdTemplate.ViewAttributes)>
@Html.Raw(closingStockView.IdTemplate.GetViewValue())</span>
</span></td>
    </tr>
} @* closingStockView.IdTemplate.Visible (end) *@
@if (closingStockView.NomorClosingStock.Visible) { // closingStockView.NomorClosingStock.Visible (begin)
    <tr id="r_NomorClosingStock" @Html.Raw(closingStockView.NomorClosingStock.RowAttributes)>
        <td class="@(closingStockView.TableLeftColumnClass)"><span id="elh_ClosingStock_NomorClosingStock">@Html.Raw(closingStockView.NomorClosingStock.Caption)</span></td>
        <td data-name="NomorClosingStock" @Html.Raw(closingStockView.NomorClosingStock.CellAttributes)>
<span id="el_ClosingStock_NomorClosingStock">
<span @Html.Raw(closingStockView.NomorClosingStock.ViewAttributes)>
@Html.Raw(closingStockView.NomorClosingStock.GetViewValue())</span>
</span></td>
    </tr>
} @* closingStockView.NomorClosingStock.Visible (end) *@
@if (closingStockView.Proses2.Visible) { // closingStockView.Proses2.Visible (begin)
    <tr id="r_Proses2" @Html.Raw(closingStockView.Proses2.RowAttributes)>
        <td class="@(closingStockView.TableLeftColumnClass)"><span id="elh_ClosingStock_Proses2">@Html.Raw(closingStockView.Proses2.Caption)</span></td>
        <td data-name="Proses2" @Html.Raw(closingStockView.Proses2.CellAttributes)>
<span id="el_ClosingStock_Proses2">
<span @Html.Raw(closingStockView.Proses2.ViewAttributes)>
@Html.Raw(closingStockView.Proses2.GetViewValue())</span>
</span></td>
    </tr>
} @* closingStockView.Proses2.Visible (end) *@
@if (closingStockView.LookupPlant.Visible) { // closingStockView.LookupPlant.Visible (begin)
    <tr id="r_LookupPlant" @Html.Raw(closingStockView.LookupPlant.RowAttributes)>
        <td class="@(closingStockView.TableLeftColumnClass)"><span id="elh_ClosingStock_LookupPlant">@Html.Raw(closingStockView.LookupPlant.Caption)</span></td>
        <td data-name="LookupPlant" @Html.Raw(closingStockView.LookupPlant.CellAttributes)>
<span id="el_ClosingStock_LookupPlant">
<span @Html.Raw(closingStockView.LookupPlant.ViewAttributes)>
@Html.Raw(closingStockView.LookupPlant.GetViewValue())</span>
</span></td>
    </tr>
} @* closingStockView.LookupPlant.Visible (end) *@
@if (closingStockView.Plant.Visible) { // closingStockView.Plant.Visible (begin)
    <tr id="r_Plant" @Html.Raw(closingStockView.Plant.RowAttributes)>
        <td class="@(closingStockView.TableLeftColumnClass)"><span id="elh_ClosingStock_Plant">@Html.Raw(closingStockView.Plant.Caption)</span></td>
        <td data-name="Plant" @Html.Raw(closingStockView.Plant.CellAttributes)>
<span id="el_ClosingStock_Plant">
<span @Html.Raw(closingStockView.Plant.ViewAttributes)>
@Html.Raw(closingStockView.Plant.GetViewValue())</span>
</span></td>
    </tr>
} @* closingStockView.Plant.Visible (end) *@
@if (closingStockView.TipeProdukSTS.Visible) { // closingStockView.TipeProdukSTS.Visible (begin)
    <tr id="r_TipeProdukSTS" @Html.Raw(closingStockView.TipeProdukSTS.RowAttributes)>
        <td class="@(closingStockView.TableLeftColumnClass)"><span id="elh_ClosingStock_TipeProdukSTS">@Html.Raw(closingStockView.TipeProdukSTS.Caption)</span></td>
        <td data-name="TipeProdukSTS" @Html.Raw(closingStockView.TipeProdukSTS.CellAttributes)>
<span id="el_ClosingStock_TipeProdukSTS">
<span @Html.Raw(closingStockView.TipeProdukSTS.ViewAttributes)>
@Html.Raw(closingStockView.TipeProdukSTS.GetViewValue())</span>
</span></td>
    </tr>
} @* closingStockView.TipeProdukSTS.Visible (end) *@
@if (closingStockView.IdTangki.Visible) { // closingStockView.IdTangki.Visible (begin)
    <tr id="r_IdTangki" @Html.Raw(closingStockView.IdTangki.RowAttributes)>
        <td class="@(closingStockView.TableLeftColumnClass)"><span id="elh_ClosingStock_IdTangki">@Html.Raw(closingStockView.IdTangki.Caption)</span></td>
        <td data-name="IdTangki" @Html.Raw(closingStockView.IdTangki.CellAttributes)>
<span id="el_ClosingStock_IdTangki">
<span @Html.Raw(closingStockView.IdTangki.ViewAttributes)>
@Html.Raw(closingStockView.IdTangki.GetViewValue())</span>
</span></td>
    </tr>
} @* closingStockView.IdTangki.Visible (end) *@
@if (closingStockView.TanggalClosingStock.Visible) { // closingStockView.TanggalClosingStock.Visible (begin)
    <tr id="r_TanggalClosingStock" @Html.Raw(closingStockView.TanggalClosingStock.RowAttributes)>
        <td class="@(closingStockView.TableLeftColumnClass)"><span id="elh_ClosingStock_TanggalClosingStock">@Html.Raw(closingStockView.TanggalClosingStock.Caption)</span></td>
        <td data-name="TanggalClosingStock" @Html.Raw(closingStockView.TanggalClosingStock.CellAttributes)>
<span id="el_ClosingStock_TanggalClosingStock">
<span @Html.Raw(closingStockView.TanggalClosingStock.ViewAttributes)>
@Html.Raw(closingStockView.TanggalClosingStock.GetViewValue())</span>
</span></td>
    </tr>
} @* closingStockView.TanggalClosingStock.Visible (end) *@
@if (closingStockView.Produk.Visible) { // closingStockView.Produk.Visible (begin)
    <tr id="r_Produk" @Html.Raw(closingStockView.Produk.RowAttributes)>
        <td class="@(closingStockView.TableLeftColumnClass)"><span id="elh_ClosingStock_Produk">@Html.Raw(closingStockView.Produk.Caption)</span></td>
        <td data-name="Produk" @Html.Raw(closingStockView.Produk.CellAttributes)>
<span id="el_ClosingStock_Produk">
<span @Html.Raw(closingStockView.Produk.ViewAttributes)>
@Html.Raw(closingStockView.Produk.GetViewValue())</span>
</span></td>
    </tr>
} @* closingStockView.Produk.Visible (end) *@
@if (closingStockView.StatusProses.Visible) { // closingStockView.StatusProses.Visible (begin)
    <tr id="r_StatusProses" @Html.Raw(closingStockView.StatusProses.RowAttributes)>
        <td class="@(closingStockView.TableLeftColumnClass)"><span id="elh_ClosingStock_StatusProses">@Html.Raw(closingStockView.StatusProses.Caption)</span></td>
        <td data-name="StatusProses" @Html.Raw(closingStockView.StatusProses.CellAttributes)>
<span id="el_ClosingStock_StatusProses">
<span @Html.Raw(closingStockView.StatusProses.ViewAttributes)>
@Html.Raw(closingStockView.StatusProses.GetViewValue())</span>
</span></td>
    </tr>
} @* closingStockView.StatusProses.Visible (end) *@
@if (closingStockView.PersentaseProgress.Visible) { // closingStockView.PersentaseProgress.Visible (begin)
    <tr id="r_PersentaseProgress" @Html.Raw(closingStockView.PersentaseProgress.RowAttributes)>
        <td class="@(closingStockView.TableLeftColumnClass)"><span id="elh_ClosingStock_PersentaseProgress">@Html.Raw(closingStockView.PersentaseProgress.Caption)</span></td>
        <td data-name="PersentaseProgress" @Html.Raw(closingStockView.PersentaseProgress.CellAttributes)>
<span id="el_ClosingStock_PersentaseProgress">
<span @Html.Raw(closingStockView.PersentaseProgress.ViewAttributes)>
@Html.Raw(closingStockView.PersentaseProgress.GetViewValue())</span>
</span></td>
    </tr>
} @* closingStockView.PersentaseProgress.Visible (end) *@
@if (closingStockView.Catatan.Visible) { // closingStockView.Catatan.Visible (begin)
    <tr id="r_Catatan" @Html.Raw(closingStockView.Catatan.RowAttributes)>
        <td class="@(closingStockView.TableLeftColumnClass)"><span id="elh_ClosingStock_Catatan">@Html.Raw(closingStockView.Catatan.Caption)</span></td>
        <td data-name="Catatan" @Html.Raw(closingStockView.Catatan.CellAttributes)>
<span id="el_ClosingStock_Catatan">
<span @Html.Raw(closingStockView.Catatan.ViewAttributes)>
@Html.Raw(closingStockView.Catatan.GetViewValue())</span>
</span></td>
    </tr>
} @* closingStockView.Catatan.Visible (end) *@
@if (closingStockView.DibuatOleh.Visible) { // closingStockView.DibuatOleh.Visible (begin)
    <tr id="r_DibuatOleh" @Html.Raw(closingStockView.DibuatOleh.RowAttributes)>
        <td class="@(closingStockView.TableLeftColumnClass)"><span id="elh_ClosingStock_DibuatOleh">@Html.Raw(closingStockView.DibuatOleh.Caption)</span></td>
        <td data-name="DibuatOleh" @Html.Raw(closingStockView.DibuatOleh.CellAttributes)>
<span id="el_ClosingStock_DibuatOleh">
<span @Html.Raw(closingStockView.DibuatOleh.ViewAttributes)>
@Html.Raw(closingStockView.DibuatOleh.GetViewValue())</span>
</span></td>
    </tr>
} @* closingStockView.DibuatOleh.Visible (end) *@
@if (closingStockView.TanggalDibuat.Visible) { // closingStockView.TanggalDibuat.Visible (begin)
    <tr id="r_TanggalDibuat" @Html.Raw(closingStockView.TanggalDibuat.RowAttributes)>
        <td class="@(closingStockView.TableLeftColumnClass)"><span id="elh_ClosingStock_TanggalDibuat">@Html.Raw(closingStockView.TanggalDibuat.Caption)</span></td>
        <td data-name="TanggalDibuat" @Html.Raw(closingStockView.TanggalDibuat.CellAttributes)>
<span id="el_ClosingStock_TanggalDibuat">
<span @Html.Raw(closingStockView.TanggalDibuat.ViewAttributes)>
@Html.Raw(closingStockView.TanggalDibuat.GetViewValue())</span>
</span></td>
    </tr>
} @* closingStockView.TanggalDibuat.Visible (end) *@
@if (closingStockView.DiperbaruiOleh.Visible) { // closingStockView.DiperbaruiOleh.Visible (begin)
    <tr id="r_DiperbaruiOleh" @Html.Raw(closingStockView.DiperbaruiOleh.RowAttributes)>
        <td class="@(closingStockView.TableLeftColumnClass)"><span id="elh_ClosingStock_DiperbaruiOleh">@Html.Raw(closingStockView.DiperbaruiOleh.Caption)</span></td>
        <td data-name="DiperbaruiOleh" @Html.Raw(closingStockView.DiperbaruiOleh.CellAttributes)>
<span id="el_ClosingStock_DiperbaruiOleh">
<span @Html.Raw(closingStockView.DiperbaruiOleh.ViewAttributes)>
@Html.Raw(closingStockView.DiperbaruiOleh.GetViewValue())</span>
</span></td>
    </tr>
} @* closingStockView.DiperbaruiOleh.Visible (end) *@
@if (closingStockView.TanggalDiperbarui.Visible) { // closingStockView.TanggalDiperbarui.Visible (begin)
    <tr id="r_TanggalDiperbarui" @Html.Raw(closingStockView.TanggalDiperbarui.RowAttributes)>
        <td class="@(closingStockView.TableLeftColumnClass)"><span id="elh_ClosingStock_TanggalDiperbarui">@Html.Raw(closingStockView.TanggalDiperbarui.Caption)</span></td>
        <td data-name="TanggalDiperbarui" @Html.Raw(closingStockView.TanggalDiperbarui.CellAttributes)>
<span id="el_ClosingStock_TanggalDiperbarui">
<span @Html.Raw(closingStockView.TanggalDiperbarui.ViewAttributes)>
@Html.Raw(closingStockView.TanggalDiperbarui.GetViewValue())</span>
</span></td>
    </tr>
} @* closingStockView.TanggalDiperbarui.Visible (end) *@
</table>
@{ closingStockView.CloseRecordset(); }
</form>
</main>
@closingStockView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!closingStockView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
