@{
    // View
    View = this;

    // Check action result
    if (controlRutinSecurityEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = controlRutinSecurityEdit.UseLayout ? "_Layout" : "";
}
@controlRutinSecurityEdit.ShowPageHeader()
@controlRutinSecurityEdit.ShowMessages()
<main class="edit">
<form name="fControlRutinSecurityedit" id="fControlRutinSecurityedit" class="@(controlRutinSecurityEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(controlRutinSecurityEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { ControlRutinSecurity: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fControlRutinSecurityedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fControlRutinSecurityedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["IdCRS", [fields.IdCRS.visible && fields.IdCRS.required ? ew.Validators.required(fields.IdCRS.caption) : null], fields.IdCRS.isInvalid],
            ["NomorCRS", [fields.NomorCRS.visible && fields.NomorCRS.required ? ew.Validators.required(fields.NomorCRS.caption) : null], fields.NomorCRS.isInvalid],
            ["Plant", [fields.Plant.visible && fields.Plant.required ? ew.Validators.required(fields.Plant.caption) : null], fields.Plant.isInvalid],
            ["Catatan", [fields.Catatan.visible && fields.Catatan.required ? ew.Validators.required(fields.Catatan.caption) : null], fields.Catatan.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(controlRutinSecurityEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(controlRutinSecurityEdit.OldKeyName)" value="@Html.Raw(controlRutinSecurityEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (controlRutinSecurityEdit.IdCRS.Visible) { // controlRutinSecurityEdit.IdCRS.Visible (begin)
    <div id="r_IdCRS" @Html.Raw(controlRutinSecurityEdit.IdCRS.RowAttributes)>
        <label id="elh_ControlRutinSecurity_IdCRS" class="@(controlRutinSecurityEdit.LeftColumnClass)">@Html.Raw(controlRutinSecurityEdit.IdCRS.Caption)@Html.Raw(controlRutinSecurityEdit.IdCRS.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(controlRutinSecurityEdit.RightColumnClass)"><div @Html.Raw(controlRutinSecurityEdit.IdCRS.CellAttributes)>
<span id="el_ControlRutinSecurity_IdCRS">
<span @Html.Raw(controlRutinSecurityEdit.IdCRS.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(controlRutinSecurityEdit.IdCRS.EditValue)))"></span>
<input type="hidden" data-table="ControlRutinSecurity" data-field="x_IdCRS" data-hidden="1" name="x_IdCRS" id="x_IdCRS" value="@Html.Raw(HtmlEncode(controlRutinSecurityEdit.IdCRS.CurrentValue))">
</span>
</div></div>
    </div>
} @* controlRutinSecurityEdit.IdCRS.Visible (end) *@
@if (controlRutinSecurityEdit.NomorCRS.Visible) { // controlRutinSecurityEdit.NomorCRS.Visible (begin)
    <div id="r_NomorCRS" @Html.Raw(controlRutinSecurityEdit.NomorCRS.RowAttributes)>
        <label id="elh_ControlRutinSecurity_NomorCRS" for="x_NomorCRS" class="@(controlRutinSecurityEdit.LeftColumnClass)">@Html.Raw(controlRutinSecurityEdit.NomorCRS.Caption)@Html.Raw(controlRutinSecurityEdit.NomorCRS.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(controlRutinSecurityEdit.RightColumnClass)"><div @Html.Raw(controlRutinSecurityEdit.NomorCRS.CellAttributes)>
<span id="el_ControlRutinSecurity_NomorCRS">
<span @Html.Raw(controlRutinSecurityEdit.NomorCRS.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(controlRutinSecurityEdit.NomorCRS.EditValue)))"></span>
<input type="hidden" data-table="ControlRutinSecurity" data-field="x_NomorCRS" data-hidden="1" name="x_NomorCRS" id="x_NomorCRS" value="@Html.Raw(HtmlEncode(controlRutinSecurityEdit.NomorCRS.CurrentValue))">
</span>
</div></div>
    </div>
} @* controlRutinSecurityEdit.NomorCRS.Visible (end) *@
@if (controlRutinSecurityEdit.Plant.Visible) { // controlRutinSecurityEdit.Plant.Visible (begin)
    <div id="r_Plant" @Html.Raw(controlRutinSecurityEdit.Plant.RowAttributes)>
        <label id="elh_ControlRutinSecurity_Plant" class="@(controlRutinSecurityEdit.LeftColumnClass)">@Html.Raw(controlRutinSecurityEdit.Plant.Caption)@Html.Raw(controlRutinSecurityEdit.Plant.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(controlRutinSecurityEdit.RightColumnClass)"><div @Html.Raw(controlRutinSecurityEdit.Plant.CellAttributes)>
<span id="el_ControlRutinSecurity_Plant">
<span @Html.Raw(controlRutinSecurityEdit.Plant.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(controlRutinSecurityEdit.Plant.DisplayValue(controlRutinSecurityEdit.Plant.EditValue))</span></span>
<input type="hidden" data-table="ControlRutinSecurity" data-field="x_Plant" data-hidden="1" name="x_Plant" id="x_Plant" value="@Html.Raw(HtmlEncode(controlRutinSecurityEdit.Plant.CurrentValue))">
</span>
</div></div>
    </div>
} @* controlRutinSecurityEdit.Plant.Visible (end) *@
@if (controlRutinSecurityEdit.Catatan.Visible) { // controlRutinSecurityEdit.Catatan.Visible (begin)
    <div id="r_Catatan" @Html.Raw(controlRutinSecurityEdit.Catatan.RowAttributes)>
        <label id="elh_ControlRutinSecurity_Catatan" for="x_Catatan" class="@(controlRutinSecurityEdit.LeftColumnClass)">@Html.Raw(controlRutinSecurityEdit.Catatan.Caption)@Html.Raw(controlRutinSecurityEdit.Catatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(controlRutinSecurityEdit.RightColumnClass)"><div @Html.Raw(controlRutinSecurityEdit.Catatan.CellAttributes)>
<span id="el_ControlRutinSecurity_Catatan">
<textarea data-table="ControlRutinSecurity" data-field="x_Catatan" name="x_Catatan" id="x_Catatan" cols="35" rows="4" placeholder="@Html.Raw(HtmlEncode(controlRutinSecurityEdit.Catatan.PlaceHolder))"@Html.Raw(controlRutinSecurityEdit.Catatan.EditAttributes) aria-describedby="x_Catatan_help">@(controlRutinSecurityEdit.Catatan.EditValue)</textarea>
@Html.Raw(controlRutinSecurityEdit.Catatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(controlRutinSecurityEdit.Catatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* controlRutinSecurityEdit.Catatan.Visible (end) *@
</div><!-- /page* -->
@{ controlRutinSecurityEdit.CloseRecordset(); }
@Html.Raw(controlRutinSecurityEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(controlRutinSecurityEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fControlRutinSecurityedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fControlRutinSecurityedit" data-href="@AppPath(controlRutinSecurityEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(controlRutinSecurityEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@controlRutinSecurityEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("ControlRutinSecurity");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
