@{
    // View
    View = this;

    // Check action result
    if (controlRutinSecurityView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = controlRutinSecurityView.UseLayout ? "_Layout" : "";
}
@if (!controlRutinSecurityView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @controlRutinSecurityView.ExportOptions.RenderBody()
    @controlRutinSecurityView.OtherOptions.RenderBody()
</div>
}
@controlRutinSecurityView.ShowPageHeader()
@controlRutinSecurityView.ShowMessages()
<main class="view">
<form name="fControlRutinSecurityview" id="fControlRutinSecurityview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!controlRutinSecurityView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(controlRutinSecurityView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { ControlRutinSecurity: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fControlRutinSecurityview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fControlRutinSecurityview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(controlRutinSecurityView.IsModal)">
<table class="@(controlRutinSecurityView.TableClass)">
@if (controlRutinSecurityView.IdCRS.Visible) { // controlRutinSecurityView.IdCRS.Visible (begin)
    <tr id="r_IdCRS" @Html.Raw(controlRutinSecurityView.IdCRS.RowAttributes)>
        <td class="@(controlRutinSecurityView.TableLeftColumnClass)"><span id="elh_ControlRutinSecurity_IdCRS">@Html.Raw(controlRutinSecurityView.IdCRS.Caption)</span></td>
        <td data-name="IdCRS" @Html.Raw(controlRutinSecurityView.IdCRS.CellAttributes)>
<span id="el_ControlRutinSecurity_IdCRS">
<span @Html.Raw(controlRutinSecurityView.IdCRS.ViewAttributes)>
@Html.Raw(controlRutinSecurityView.IdCRS.GetViewValue())</span>
</span></td>
    </tr>
} @* controlRutinSecurityView.IdCRS.Visible (end) *@
@if (controlRutinSecurityView.NomorCRS.Visible) { // controlRutinSecurityView.NomorCRS.Visible (begin)
    <tr id="r_NomorCRS" @Html.Raw(controlRutinSecurityView.NomorCRS.RowAttributes)>
        <td class="@(controlRutinSecurityView.TableLeftColumnClass)"><span id="elh_ControlRutinSecurity_NomorCRS">@Html.Raw(controlRutinSecurityView.NomorCRS.Caption)</span></td>
        <td data-name="NomorCRS" @Html.Raw(controlRutinSecurityView.NomorCRS.CellAttributes)>
<span id="el_ControlRutinSecurity_NomorCRS">
<span @Html.Raw(controlRutinSecurityView.NomorCRS.ViewAttributes)>
@Html.Raw(controlRutinSecurityView.NomorCRS.GetViewValue())</span>
</span></td>
    </tr>
} @* controlRutinSecurityView.NomorCRS.Visible (end) *@
@if (controlRutinSecurityView.LinkRedirect.Visible) { // controlRutinSecurityView.LinkRedirect.Visible (begin)
    <tr id="r_LinkRedirect" @Html.Raw(controlRutinSecurityView.LinkRedirect.RowAttributes)>
        <td class="@(controlRutinSecurityView.TableLeftColumnClass)"><span id="elh_ControlRutinSecurity_LinkRedirect">@Html.Raw(controlRutinSecurityView.LinkRedirect.Caption)</span></td>
        <td data-name="LinkRedirect" @Html.Raw(controlRutinSecurityView.LinkRedirect.CellAttributes)>
<span id="el_ControlRutinSecurity_LinkRedirect">
<span @Html.Raw(controlRutinSecurityView.LinkRedirect.ViewAttributes)>
@Html.Raw(controlRutinSecurityView.LinkRedirect.GetViewValue())</span>
</span></td>
    </tr>
} @* controlRutinSecurityView.LinkRedirect.Visible (end) *@
@if (controlRutinSecurityView.LookupPlant.Visible) { // controlRutinSecurityView.LookupPlant.Visible (begin)
    <tr id="r_LookupPlant" @Html.Raw(controlRutinSecurityView.LookupPlant.RowAttributes)>
        <td class="@(controlRutinSecurityView.TableLeftColumnClass)"><span id="elh_ControlRutinSecurity_LookupPlant">@Html.Raw(controlRutinSecurityView.LookupPlant.Caption)</span></td>
        <td data-name="LookupPlant" @Html.Raw(controlRutinSecurityView.LookupPlant.CellAttributes)>
<span id="el_ControlRutinSecurity_LookupPlant">
<span @Html.Raw(controlRutinSecurityView.LookupPlant.ViewAttributes)>
@Html.Raw(controlRutinSecurityView.LookupPlant.GetViewValue())</span>
</span></td>
    </tr>
} @* controlRutinSecurityView.LookupPlant.Visible (end) *@
@if (controlRutinSecurityView.Plant.Visible) { // controlRutinSecurityView.Plant.Visible (begin)
    <tr id="r_Plant" @Html.Raw(controlRutinSecurityView.Plant.RowAttributes)>
        <td class="@(controlRutinSecurityView.TableLeftColumnClass)"><span id="elh_ControlRutinSecurity_Plant">@Html.Raw(controlRutinSecurityView.Plant.Caption)</span></td>
        <td data-name="Plant" @Html.Raw(controlRutinSecurityView.Plant.CellAttributes)>
<span id="el_ControlRutinSecurity_Plant">
<span @Html.Raw(controlRutinSecurityView.Plant.ViewAttributes)>
@Html.Raw(controlRutinSecurityView.Plant.GetViewValue())</span>
</span></td>
    </tr>
} @* controlRutinSecurityView.Plant.Visible (end) *@
@if (controlRutinSecurityView.JumlahKetidaksesuaiaan.Visible) { // controlRutinSecurityView.JumlahKetidaksesuaiaan.Visible (begin)
    <tr id="r_JumlahKetidaksesuaiaan" @Html.Raw(controlRutinSecurityView.JumlahKetidaksesuaiaan.RowAttributes)>
        <td class="@(controlRutinSecurityView.TableLeftColumnClass)"><span id="elh_ControlRutinSecurity_JumlahKetidaksesuaiaan">@Html.Raw(controlRutinSecurityView.JumlahKetidaksesuaiaan.Caption)</span></td>
        <td data-name="JumlahKetidaksesuaiaan" @Html.Raw(controlRutinSecurityView.JumlahKetidaksesuaiaan.CellAttributes)>
<span id="el_ControlRutinSecurity_JumlahKetidaksesuaiaan">
<span @Html.Raw(controlRutinSecurityView.JumlahKetidaksesuaiaan.ViewAttributes)>
@Html.Raw(controlRutinSecurityView.JumlahKetidaksesuaiaan.GetViewValue())</span>
</span></td>
    </tr>
} @* controlRutinSecurityView.JumlahKetidaksesuaiaan.Visible (end) *@
@if (controlRutinSecurityView.Catatan.Visible) { // controlRutinSecurityView.Catatan.Visible (begin)
    <tr id="r_Catatan" @Html.Raw(controlRutinSecurityView.Catatan.RowAttributes)>
        <td class="@(controlRutinSecurityView.TableLeftColumnClass)"><span id="elh_ControlRutinSecurity_Catatan">@Html.Raw(controlRutinSecurityView.Catatan.Caption)</span></td>
        <td data-name="Catatan" @Html.Raw(controlRutinSecurityView.Catatan.CellAttributes)>
<span id="el_ControlRutinSecurity_Catatan">
<span @Html.Raw(controlRutinSecurityView.Catatan.ViewAttributes)>
@Html.Raw(controlRutinSecurityView.Catatan.GetViewValue())</span>
</span></td>
    </tr>
} @* controlRutinSecurityView.Catatan.Visible (end) *@
@if (controlRutinSecurityView.DibuatOleh.Visible) { // controlRutinSecurityView.DibuatOleh.Visible (begin)
    <tr id="r_DibuatOleh" @Html.Raw(controlRutinSecurityView.DibuatOleh.RowAttributes)>
        <td class="@(controlRutinSecurityView.TableLeftColumnClass)"><span id="elh_ControlRutinSecurity_DibuatOleh">@Html.Raw(controlRutinSecurityView.DibuatOleh.Caption)</span></td>
        <td data-name="DibuatOleh" @Html.Raw(controlRutinSecurityView.DibuatOleh.CellAttributes)>
<span id="el_ControlRutinSecurity_DibuatOleh">
<span @Html.Raw(controlRutinSecurityView.DibuatOleh.ViewAttributes)>
@Html.Raw(controlRutinSecurityView.DibuatOleh.GetViewValue())</span>
</span></td>
    </tr>
} @* controlRutinSecurityView.DibuatOleh.Visible (end) *@
@if (controlRutinSecurityView.TanggalDibuat.Visible) { // controlRutinSecurityView.TanggalDibuat.Visible (begin)
    <tr id="r_TanggalDibuat" @Html.Raw(controlRutinSecurityView.TanggalDibuat.RowAttributes)>
        <td class="@(controlRutinSecurityView.TableLeftColumnClass)"><span id="elh_ControlRutinSecurity_TanggalDibuat">@Html.Raw(controlRutinSecurityView.TanggalDibuat.Caption)</span></td>
        <td data-name="TanggalDibuat" @Html.Raw(controlRutinSecurityView.TanggalDibuat.CellAttributes)>
<span id="el_ControlRutinSecurity_TanggalDibuat">
<span @Html.Raw(controlRutinSecurityView.TanggalDibuat.ViewAttributes)>
@Html.Raw(controlRutinSecurityView.TanggalDibuat.GetViewValue())</span>
</span></td>
    </tr>
} @* controlRutinSecurityView.TanggalDibuat.Visible (end) *@
@if (controlRutinSecurityView.DiperbaruiOleh.Visible) { // controlRutinSecurityView.DiperbaruiOleh.Visible (begin)
    <tr id="r_DiperbaruiOleh" @Html.Raw(controlRutinSecurityView.DiperbaruiOleh.RowAttributes)>
        <td class="@(controlRutinSecurityView.TableLeftColumnClass)"><span id="elh_ControlRutinSecurity_DiperbaruiOleh">@Html.Raw(controlRutinSecurityView.DiperbaruiOleh.Caption)</span></td>
        <td data-name="DiperbaruiOleh" @Html.Raw(controlRutinSecurityView.DiperbaruiOleh.CellAttributes)>
<span id="el_ControlRutinSecurity_DiperbaruiOleh">
<span @Html.Raw(controlRutinSecurityView.DiperbaruiOleh.ViewAttributes)>
@Html.Raw(controlRutinSecurityView.DiperbaruiOleh.GetViewValue())</span>
</span></td>
    </tr>
} @* controlRutinSecurityView.DiperbaruiOleh.Visible (end) *@
@if (controlRutinSecurityView.TanggalDiperbarui.Visible) { // controlRutinSecurityView.TanggalDiperbarui.Visible (begin)
    <tr id="r_TanggalDiperbarui" @Html.Raw(controlRutinSecurityView.TanggalDiperbarui.RowAttributes)>
        <td class="@(controlRutinSecurityView.TableLeftColumnClass)"><span id="elh_ControlRutinSecurity_TanggalDiperbarui">@Html.Raw(controlRutinSecurityView.TanggalDiperbarui.Caption)</span></td>
        <td data-name="TanggalDiperbarui" @Html.Raw(controlRutinSecurityView.TanggalDiperbarui.CellAttributes)>
<span id="el_ControlRutinSecurity_TanggalDiperbarui">
<span @Html.Raw(controlRutinSecurityView.TanggalDiperbarui.ViewAttributes)>
@Html.Raw(controlRutinSecurityView.TanggalDiperbarui.GetViewValue())</span>
</span></td>
    </tr>
} @* controlRutinSecurityView.TanggalDiperbarui.Visible (end) *@
</table>
@{ controlRutinSecurityView.CloseRecordset(); }
</form>
</main>
@controlRutinSecurityView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!controlRutinSecurityView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
