@{
    // View
    View = this;

    // Check action result
    if (controlRutinSecurityDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = controlRutinSecurityDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(controlRutinSecurityDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { ControlRutinSecurity: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fControlRutinSecuritydelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fControlRutinSecuritydelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@controlRutinSecurityDelete.ShowPageHeader()
@controlRutinSecurityDelete.ShowMessages()
<form name="fControlRutinSecuritydelete" id="fControlRutinSecuritydelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in controlRutinSecurityDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(controlRutinSecurityDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(controlRutinSecurityDelete.TableContainerClass)" style="@(controlRutinSecurityDelete.TableContainerStyle)">
<table class="@(controlRutinSecurityDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (controlRutinSecurityDelete.LinkRedirect.Visible) { // controlRutinSecurityDelete.LinkRedirect.Visible (begin)
        <th class="@Html.Raw(controlRutinSecurityDelete.LinkRedirect.HeaderCellClass)"><span id="elh_ControlRutinSecurity_LinkRedirect" class="ControlRutinSecurity_LinkRedirect">@Html.Raw(controlRutinSecurityDelete.LinkRedirect.Caption)</span></th>
} @* controlRutinSecurityDelete.LinkRedirect.Visible (end) *@
@if (controlRutinSecurityDelete.Plant.Visible) { // controlRutinSecurityDelete.Plant.Visible (begin)
        <th class="@Html.Raw(controlRutinSecurityDelete.Plant.HeaderCellClass)"><span id="elh_ControlRutinSecurity_Plant" class="ControlRutinSecurity_Plant">@Html.Raw(controlRutinSecurityDelete.Plant.Caption)</span></th>
} @* controlRutinSecurityDelete.Plant.Visible (end) *@
@if (controlRutinSecurityDelete.JumlahKetidaksesuaiaan.Visible) { // controlRutinSecurityDelete.JumlahKetidaksesuaiaan.Visible (begin)
        <th class="@Html.Raw(controlRutinSecurityDelete.JumlahKetidaksesuaiaan.HeaderCellClass)"><span id="elh_ControlRutinSecurity_JumlahKetidaksesuaiaan" class="ControlRutinSecurity_JumlahKetidaksesuaiaan">@Html.Raw(controlRutinSecurityDelete.JumlahKetidaksesuaiaan.Caption)</span></th>
} @* controlRutinSecurityDelete.JumlahKetidaksesuaiaan.Visible (end) *@
@if (controlRutinSecurityDelete.DibuatOleh.Visible) { // controlRutinSecurityDelete.DibuatOleh.Visible (begin)
        <th class="@Html.Raw(controlRutinSecurityDelete.DibuatOleh.HeaderCellClass)"><span id="elh_ControlRutinSecurity_DibuatOleh" class="ControlRutinSecurity_DibuatOleh">@Html.Raw(controlRutinSecurityDelete.DibuatOleh.Caption)</span></th>
} @* controlRutinSecurityDelete.DibuatOleh.Visible (end) *@
@if (controlRutinSecurityDelete.TanggalDibuat.Visible) { // controlRutinSecurityDelete.TanggalDibuat.Visible (begin)
        <th class="@Html.Raw(controlRutinSecurityDelete.TanggalDibuat.HeaderCellClass)"><span id="elh_ControlRutinSecurity_TanggalDibuat" class="ControlRutinSecurity_TanggalDibuat">@Html.Raw(controlRutinSecurityDelete.TanggalDibuat.Caption)</span></th>
} @* controlRutinSecurityDelete.TanggalDibuat.Visible (end) *@
@if (controlRutinSecurityDelete.DiperbaruiOleh.Visible) { // controlRutinSecurityDelete.DiperbaruiOleh.Visible (begin)
        <th class="@Html.Raw(controlRutinSecurityDelete.DiperbaruiOleh.HeaderCellClass)"><span id="elh_ControlRutinSecurity_DiperbaruiOleh" class="ControlRutinSecurity_DiperbaruiOleh">@Html.Raw(controlRutinSecurityDelete.DiperbaruiOleh.Caption)</span></th>
} @* controlRutinSecurityDelete.DiperbaruiOleh.Visible (end) *@
@if (controlRutinSecurityDelete.TanggalDiperbarui.Visible) { // controlRutinSecurityDelete.TanggalDiperbarui.Visible (begin)
        <th class="@Html.Raw(controlRutinSecurityDelete.TanggalDiperbarui.HeaderCellClass)"><span id="elh_ControlRutinSecurity_TanggalDiperbarui" class="ControlRutinSecurity_TanggalDiperbarui">@Html.Raw(controlRutinSecurityDelete.TanggalDiperbarui.Caption)</span></th>
} @* controlRutinSecurityDelete.TanggalDiperbarui.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ controlRutinSecurityDelete.RecordCount = 0; }
@while (controlRutinSecurityDelete.Recordset != null && await controlRutinSecurityDelete.Recordset.ReadAsync()) { // DN
    controlRutinSecurityDelete.RecordCount++;
    controlRutinSecurityDelete.RowCount++;

    // Set row properties
    controlRutinSecurityDelete.ResetAttributes();
    controlRutinSecurityDelete.RowType = RowType.View; // View

    // Get the field contents
    await controlRutinSecurityDelete.LoadRowValues(controlRutinSecurityDelete.Recordset);

    // Render row
    await controlRutinSecurityDelete.RenderRow();
    <tr @Html.Raw(controlRutinSecurityDelete.RowAttributes)>
@if (controlRutinSecurityDelete.LinkRedirect.Visible) { // controlRutinSecurityDelete.LinkRedirect.Visible (begin)
        <td @Html.Raw(controlRutinSecurityDelete.LinkRedirect.CellAttributes)>
<span id="">
<span @Html.Raw(controlRutinSecurityDelete.LinkRedirect.ViewAttributes)>
@Html.Raw(controlRutinSecurityDelete.LinkRedirect.GetViewValue())</span>
</span></td>
} @* controlRutinSecurityDelete.LinkRedirect.Visible (end) *@
@if (controlRutinSecurityDelete.Plant.Visible) { // controlRutinSecurityDelete.Plant.Visible (begin)
        <td @Html.Raw(controlRutinSecurityDelete.Plant.CellAttributes)>
<span id="">
<span @Html.Raw(controlRutinSecurityDelete.Plant.ViewAttributes)>
@Html.Raw(controlRutinSecurityDelete.Plant.GetViewValue())</span>
</span></td>
} @* controlRutinSecurityDelete.Plant.Visible (end) *@
@if (controlRutinSecurityDelete.JumlahKetidaksesuaiaan.Visible) { // controlRutinSecurityDelete.JumlahKetidaksesuaiaan.Visible (begin)
        <td @Html.Raw(controlRutinSecurityDelete.JumlahKetidaksesuaiaan.CellAttributes)>
<span id="">
<span @Html.Raw(controlRutinSecurityDelete.JumlahKetidaksesuaiaan.ViewAttributes)>
@Html.Raw(controlRutinSecurityDelete.JumlahKetidaksesuaiaan.GetViewValue())</span>
</span></td>
} @* controlRutinSecurityDelete.JumlahKetidaksesuaiaan.Visible (end) *@
@if (controlRutinSecurityDelete.DibuatOleh.Visible) { // controlRutinSecurityDelete.DibuatOleh.Visible (begin)
        <td @Html.Raw(controlRutinSecurityDelete.DibuatOleh.CellAttributes)>
<span id="">
<span @Html.Raw(controlRutinSecurityDelete.DibuatOleh.ViewAttributes)>
@Html.Raw(controlRutinSecurityDelete.DibuatOleh.GetViewValue())</span>
</span></td>
} @* controlRutinSecurityDelete.DibuatOleh.Visible (end) *@
@if (controlRutinSecurityDelete.TanggalDibuat.Visible) { // controlRutinSecurityDelete.TanggalDibuat.Visible (begin)
        <td @Html.Raw(controlRutinSecurityDelete.TanggalDibuat.CellAttributes)>
<span id="">
<span @Html.Raw(controlRutinSecurityDelete.TanggalDibuat.ViewAttributes)>
@Html.Raw(controlRutinSecurityDelete.TanggalDibuat.GetViewValue())</span>
</span></td>
} @* controlRutinSecurityDelete.TanggalDibuat.Visible (end) *@
@if (controlRutinSecurityDelete.DiperbaruiOleh.Visible) { // controlRutinSecurityDelete.DiperbaruiOleh.Visible (begin)
        <td @Html.Raw(controlRutinSecurityDelete.DiperbaruiOleh.CellAttributes)>
<span id="">
<span @Html.Raw(controlRutinSecurityDelete.DiperbaruiOleh.ViewAttributes)>
@Html.Raw(controlRutinSecurityDelete.DiperbaruiOleh.GetViewValue())</span>
</span></td>
} @* controlRutinSecurityDelete.DiperbaruiOleh.Visible (end) *@
@if (controlRutinSecurityDelete.TanggalDiperbarui.Visible) { // controlRutinSecurityDelete.TanggalDiperbarui.Visible (begin)
        <td @Html.Raw(controlRutinSecurityDelete.TanggalDiperbarui.CellAttributes)>
<span id="">
<span @Html.Raw(controlRutinSecurityDelete.TanggalDiperbarui.ViewAttributes)>
@Html.Raw(controlRutinSecurityDelete.TanggalDiperbarui.GetViewValue())</span>
</span></td>
} @* controlRutinSecurityDelete.TanggalDiperbarui.Visible (end) *@
    </tr>
}
@{ controlRutinSecurityDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(controlRutinSecurityDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@controlRutinSecurityDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
