@{
    // View
    View = this;

    // Check action result
    if (detailMasterPipaDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = detailMasterPipaDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(detailMasterPipaDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { DetailMasterPipa: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fDetailMasterPipadelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fDetailMasterPipadelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@detailMasterPipaDelete.ShowPageHeader()
@detailMasterPipaDelete.ShowMessages()
<form name="fDetailMasterPipadelete" id="fDetailMasterPipadelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in detailMasterPipaDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(detailMasterPipaDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(detailMasterPipaDelete.TableContainerClass)" style="@(detailMasterPipaDelete.TableContainerStyle)">
<table class="@(detailMasterPipaDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (detailMasterPipaDelete.idPipa.Visible) { // detailMasterPipaDelete.idPipa.Visible (begin)
        <th class="@Html.Raw(detailMasterPipaDelete.idPipa.HeaderCellClass)"><span id="elh_DetailMasterPipa_idPipa" class="DetailMasterPipa_idPipa">@Html.Raw(detailMasterPipaDelete.idPipa.Caption)</span></th>
} @* detailMasterPipaDelete.idPipa.Visible (end) *@
@if (detailMasterPipaDelete.idPlantTujuan.Visible) { // detailMasterPipaDelete.idPlantTujuan.Visible (begin)
        <th class="@Html.Raw(detailMasterPipaDelete.idPlantTujuan.HeaderCellClass)"><span id="elh_DetailMasterPipa_idPlantTujuan" class="DetailMasterPipa_idPlantTujuan">@Html.Raw(detailMasterPipaDelete.idPlantTujuan.Caption)</span></th>
} @* detailMasterPipaDelete.idPlantTujuan.Visible (end) *@
@if (detailMasterPipaDelete.Panjang.Visible) { // detailMasterPipaDelete.Panjang.Visible (begin)
        <th class="@Html.Raw(detailMasterPipaDelete.Panjang.HeaderCellClass)"><span id="elh_DetailMasterPipa_Panjang" class="DetailMasterPipa_Panjang">@Html.Raw(detailMasterPipaDelete.Panjang.Caption)</span></th>
} @* detailMasterPipaDelete.Panjang.Visible (end) *@
@if (detailMasterPipaDelete.Diameter.Visible) { // detailMasterPipaDelete.Diameter.Visible (begin)
        <th class="@Html.Raw(detailMasterPipaDelete.Diameter.HeaderCellClass)"><span id="elh_DetailMasterPipa_Diameter" class="DetailMasterPipa_Diameter">@Html.Raw(detailMasterPipaDelete.Diameter.Caption)</span></th>
} @* detailMasterPipaDelete.Diameter.Visible (end) *@
@if (detailMasterPipaDelete.Volume.Visible) { // detailMasterPipaDelete.Volume.Visible (begin)
        <th class="@Html.Raw(detailMasterPipaDelete.Volume.HeaderCellClass)"><span id="elh_DetailMasterPipa_Volume" class="DetailMasterPipa_Volume">@Html.Raw(detailMasterPipaDelete.Volume.Caption)</span></th>
} @* detailMasterPipaDelete.Volume.Visible (end) *@
@if (detailMasterPipaDelete.CreatedBy.Visible) { // detailMasterPipaDelete.CreatedBy.Visible (begin)
        <th class="@Html.Raw(detailMasterPipaDelete.CreatedBy.HeaderCellClass)"><span id="elh_DetailMasterPipa_CreatedBy" class="DetailMasterPipa_CreatedBy">@Html.Raw(detailMasterPipaDelete.CreatedBy.Caption)</span></th>
} @* detailMasterPipaDelete.CreatedBy.Visible (end) *@
@if (detailMasterPipaDelete.etlDate.Visible) { // detailMasterPipaDelete.etlDate.Visible (begin)
        <th class="@Html.Raw(detailMasterPipaDelete.etlDate.HeaderCellClass)"><span id="elh_DetailMasterPipa_etlDate" class="DetailMasterPipa_etlDate">@Html.Raw(detailMasterPipaDelete.etlDate.Caption)</span></th>
} @* detailMasterPipaDelete.etlDate.Visible (end) *@
@if (detailMasterPipaDelete.LastUpdatedBy.Visible) { // detailMasterPipaDelete.LastUpdatedBy.Visible (begin)
        <th class="@Html.Raw(detailMasterPipaDelete.LastUpdatedBy.HeaderCellClass)"><span id="elh_DetailMasterPipa_LastUpdatedBy" class="DetailMasterPipa_LastUpdatedBy">@Html.Raw(detailMasterPipaDelete.LastUpdatedBy.Caption)</span></th>
} @* detailMasterPipaDelete.LastUpdatedBy.Visible (end) *@
@if (detailMasterPipaDelete.LastUpdatedDate.Visible) { // detailMasterPipaDelete.LastUpdatedDate.Visible (begin)
        <th class="@Html.Raw(detailMasterPipaDelete.LastUpdatedDate.HeaderCellClass)"><span id="elh_DetailMasterPipa_LastUpdatedDate" class="DetailMasterPipa_LastUpdatedDate">@Html.Raw(detailMasterPipaDelete.LastUpdatedDate.Caption)</span></th>
} @* detailMasterPipaDelete.LastUpdatedDate.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ detailMasterPipaDelete.RecordCount = 0; }
@while (detailMasterPipaDelete.Recordset != null && await detailMasterPipaDelete.Recordset.ReadAsync()) { // DN
    detailMasterPipaDelete.RecordCount++;
    detailMasterPipaDelete.RowCount++;

    // Set row properties
    detailMasterPipaDelete.ResetAttributes();
    detailMasterPipaDelete.RowType = RowType.View; // View

    // Get the field contents
    await detailMasterPipaDelete.LoadRowValues(detailMasterPipaDelete.Recordset);

    // Render row
    await detailMasterPipaDelete.RenderRow();
    <tr @Html.Raw(detailMasterPipaDelete.RowAttributes)>
@if (detailMasterPipaDelete.idPipa.Visible) { // detailMasterPipaDelete.idPipa.Visible (begin)
        <td @Html.Raw(detailMasterPipaDelete.idPipa.CellAttributes)>
<span id="">
<span @Html.Raw(detailMasterPipaDelete.idPipa.ViewAttributes)>
@Html.Raw(detailMasterPipaDelete.idPipa.GetViewValue())</span>
</span></td>
} @* detailMasterPipaDelete.idPipa.Visible (end) *@
@if (detailMasterPipaDelete.idPlantTujuan.Visible) { // detailMasterPipaDelete.idPlantTujuan.Visible (begin)
        <td @Html.Raw(detailMasterPipaDelete.idPlantTujuan.CellAttributes)>
<span id="">
<span @Html.Raw(detailMasterPipaDelete.idPlantTujuan.ViewAttributes)>
@Html.Raw(detailMasterPipaDelete.idPlantTujuan.GetViewValue())</span>
</span></td>
} @* detailMasterPipaDelete.idPlantTujuan.Visible (end) *@
@if (detailMasterPipaDelete.Panjang.Visible) { // detailMasterPipaDelete.Panjang.Visible (begin)
        <td @Html.Raw(detailMasterPipaDelete.Panjang.CellAttributes)>
<span id="">
<span @Html.Raw(detailMasterPipaDelete.Panjang.ViewAttributes)>
@Html.Raw(detailMasterPipaDelete.Panjang.GetViewValue())</span>
</span></td>
} @* detailMasterPipaDelete.Panjang.Visible (end) *@
@if (detailMasterPipaDelete.Diameter.Visible) { // detailMasterPipaDelete.Diameter.Visible (begin)
        <td @Html.Raw(detailMasterPipaDelete.Diameter.CellAttributes)>
<span id="">
<span @Html.Raw(detailMasterPipaDelete.Diameter.ViewAttributes)>
@Html.Raw(detailMasterPipaDelete.Diameter.GetViewValue())</span>
</span></td>
} @* detailMasterPipaDelete.Diameter.Visible (end) *@
@if (detailMasterPipaDelete.Volume.Visible) { // detailMasterPipaDelete.Volume.Visible (begin)
        <td @Html.Raw(detailMasterPipaDelete.Volume.CellAttributes)>
<span id="">
<span @Html.Raw(detailMasterPipaDelete.Volume.ViewAttributes)>
@Html.Raw(detailMasterPipaDelete.Volume.GetViewValue())</span>
</span></td>
} @* detailMasterPipaDelete.Volume.Visible (end) *@
@if (detailMasterPipaDelete.CreatedBy.Visible) { // detailMasterPipaDelete.CreatedBy.Visible (begin)
        <td @Html.Raw(detailMasterPipaDelete.CreatedBy.CellAttributes)>
<span id="">
<span @Html.Raw(detailMasterPipaDelete.CreatedBy.ViewAttributes)>
@Html.Raw(detailMasterPipaDelete.CreatedBy.GetViewValue())</span>
</span></td>
} @* detailMasterPipaDelete.CreatedBy.Visible (end) *@
@if (detailMasterPipaDelete.etlDate.Visible) { // detailMasterPipaDelete.etlDate.Visible (begin)
        <td @Html.Raw(detailMasterPipaDelete.etlDate.CellAttributes)>
<span id="">
<span @Html.Raw(detailMasterPipaDelete.etlDate.ViewAttributes)>
@Html.Raw(detailMasterPipaDelete.etlDate.GetViewValue())</span>
</span></td>
} @* detailMasterPipaDelete.etlDate.Visible (end) *@
@if (detailMasterPipaDelete.LastUpdatedBy.Visible) { // detailMasterPipaDelete.LastUpdatedBy.Visible (begin)
        <td @Html.Raw(detailMasterPipaDelete.LastUpdatedBy.CellAttributes)>
<span id="">
<span @Html.Raw(detailMasterPipaDelete.LastUpdatedBy.ViewAttributes)>
@Html.Raw(detailMasterPipaDelete.LastUpdatedBy.GetViewValue())</span>
</span></td>
} @* detailMasterPipaDelete.LastUpdatedBy.Visible (end) *@
@if (detailMasterPipaDelete.LastUpdatedDate.Visible) { // detailMasterPipaDelete.LastUpdatedDate.Visible (begin)
        <td @Html.Raw(detailMasterPipaDelete.LastUpdatedDate.CellAttributes)>
<span id="">
<span @Html.Raw(detailMasterPipaDelete.LastUpdatedDate.ViewAttributes)>
@Html.Raw(detailMasterPipaDelete.LastUpdatedDate.GetViewValue())</span>
</span></td>
} @* detailMasterPipaDelete.LastUpdatedDate.Visible (end) *@
    </tr>
}
@{ detailMasterPipaDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(detailMasterPipaDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@detailMasterPipaDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
