@{
    // View
    View = this;

    // Check action result
    if (detailMasterPipaView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = detailMasterPipaView.UseLayout ? "_Layout" : "";
}
@if (!detailMasterPipaView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @detailMasterPipaView.ExportOptions.RenderBody()
    @detailMasterPipaView.OtherOptions.RenderBody()
</div>
}
@detailMasterPipaView.ShowPageHeader()
@detailMasterPipaView.ShowMessages()
<main class="view">
<form name="fDetailMasterPipaview" id="fDetailMasterPipaview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!detailMasterPipaView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(detailMasterPipaView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { DetailMasterPipa: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fDetailMasterPipaview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fDetailMasterPipaview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(detailMasterPipaView.IsModal)">
<table class="@(detailMasterPipaView.TableClass)">
@if (detailMasterPipaView.idPipa.Visible) { // detailMasterPipaView.idPipa.Visible (begin)
    <tr id="r_idPipa" @Html.Raw(detailMasterPipaView.idPipa.RowAttributes)>
        <td class="@(detailMasterPipaView.TableLeftColumnClass)"><span id="elh_DetailMasterPipa_idPipa">@Html.Raw(detailMasterPipaView.idPipa.Caption)</span></td>
        <td data-name="idPipa" @Html.Raw(detailMasterPipaView.idPipa.CellAttributes)>
<span id="el_DetailMasterPipa_idPipa">
<span @Html.Raw(detailMasterPipaView.idPipa.ViewAttributes)>
@Html.Raw(detailMasterPipaView.idPipa.GetViewValue())</span>
</span></td>
    </tr>
} @* detailMasterPipaView.idPipa.Visible (end) *@
@if (detailMasterPipaView.idPlantTujuan.Visible) { // detailMasterPipaView.idPlantTujuan.Visible (begin)
    <tr id="r_idPlantTujuan" @Html.Raw(detailMasterPipaView.idPlantTujuan.RowAttributes)>
        <td class="@(detailMasterPipaView.TableLeftColumnClass)"><span id="elh_DetailMasterPipa_idPlantTujuan">@Html.Raw(detailMasterPipaView.idPlantTujuan.Caption)</span></td>
        <td data-name="idPlantTujuan" @Html.Raw(detailMasterPipaView.idPlantTujuan.CellAttributes)>
<span id="el_DetailMasterPipa_idPlantTujuan">
<span @Html.Raw(detailMasterPipaView.idPlantTujuan.ViewAttributes)>
@Html.Raw(detailMasterPipaView.idPlantTujuan.GetViewValue())</span>
</span></td>
    </tr>
} @* detailMasterPipaView.idPlantTujuan.Visible (end) *@
@if (detailMasterPipaView.Panjang.Visible) { // detailMasterPipaView.Panjang.Visible (begin)
    <tr id="r_Panjang" @Html.Raw(detailMasterPipaView.Panjang.RowAttributes)>
        <td class="@(detailMasterPipaView.TableLeftColumnClass)"><span id="elh_DetailMasterPipa_Panjang">@Html.Raw(detailMasterPipaView.Panjang.Caption)</span></td>
        <td data-name="Panjang" @Html.Raw(detailMasterPipaView.Panjang.CellAttributes)>
<span id="el_DetailMasterPipa_Panjang">
<span @Html.Raw(detailMasterPipaView.Panjang.ViewAttributes)>
@Html.Raw(detailMasterPipaView.Panjang.GetViewValue())</span>
</span></td>
    </tr>
} @* detailMasterPipaView.Panjang.Visible (end) *@
@if (detailMasterPipaView.Diameter.Visible) { // detailMasterPipaView.Diameter.Visible (begin)
    <tr id="r_Diameter" @Html.Raw(detailMasterPipaView.Diameter.RowAttributes)>
        <td class="@(detailMasterPipaView.TableLeftColumnClass)"><span id="elh_DetailMasterPipa_Diameter">@Html.Raw(detailMasterPipaView.Diameter.Caption)</span></td>
        <td data-name="Diameter" @Html.Raw(detailMasterPipaView.Diameter.CellAttributes)>
<span id="el_DetailMasterPipa_Diameter">
<span @Html.Raw(detailMasterPipaView.Diameter.ViewAttributes)>
@Html.Raw(detailMasterPipaView.Diameter.GetViewValue())</span>
</span></td>
    </tr>
} @* detailMasterPipaView.Diameter.Visible (end) *@
@if (detailMasterPipaView.Volume.Visible) { // detailMasterPipaView.Volume.Visible (begin)
    <tr id="r_Volume" @Html.Raw(detailMasterPipaView.Volume.RowAttributes)>
        <td class="@(detailMasterPipaView.TableLeftColumnClass)"><span id="elh_DetailMasterPipa_Volume">@Html.Raw(detailMasterPipaView.Volume.Caption)</span></td>
        <td data-name="Volume" @Html.Raw(detailMasterPipaView.Volume.CellAttributes)>
<span id="el_DetailMasterPipa_Volume">
<span @Html.Raw(detailMasterPipaView.Volume.ViewAttributes)>
@Html.Raw(detailMasterPipaView.Volume.GetViewValue())</span>
</span></td>
    </tr>
} @* detailMasterPipaView.Volume.Visible (end) *@
@if (detailMasterPipaView.CreatedBy.Visible) { // detailMasterPipaView.CreatedBy.Visible (begin)
    <tr id="r_CreatedBy" @Html.Raw(detailMasterPipaView.CreatedBy.RowAttributes)>
        <td class="@(detailMasterPipaView.TableLeftColumnClass)"><span id="elh_DetailMasterPipa_CreatedBy">@Html.Raw(detailMasterPipaView.CreatedBy.Caption)</span></td>
        <td data-name="CreatedBy" @Html.Raw(detailMasterPipaView.CreatedBy.CellAttributes)>
<span id="el_DetailMasterPipa_CreatedBy">
<span @Html.Raw(detailMasterPipaView.CreatedBy.ViewAttributes)>
@Html.Raw(detailMasterPipaView.CreatedBy.GetViewValue())</span>
</span></td>
    </tr>
} @* detailMasterPipaView.CreatedBy.Visible (end) *@
@if (detailMasterPipaView.etlDate.Visible) { // detailMasterPipaView.etlDate.Visible (begin)
    <tr id="r_etlDate" @Html.Raw(detailMasterPipaView.etlDate.RowAttributes)>
        <td class="@(detailMasterPipaView.TableLeftColumnClass)"><span id="elh_DetailMasterPipa_etlDate">@Html.Raw(detailMasterPipaView.etlDate.Caption)</span></td>
        <td data-name="etlDate" @Html.Raw(detailMasterPipaView.etlDate.CellAttributes)>
<span id="el_DetailMasterPipa_etlDate">
<span @Html.Raw(detailMasterPipaView.etlDate.ViewAttributes)>
@Html.Raw(detailMasterPipaView.etlDate.GetViewValue())</span>
</span></td>
    </tr>
} @* detailMasterPipaView.etlDate.Visible (end) *@
@if (detailMasterPipaView.LastUpdatedBy.Visible) { // detailMasterPipaView.LastUpdatedBy.Visible (begin)
    <tr id="r_LastUpdatedBy" @Html.Raw(detailMasterPipaView.LastUpdatedBy.RowAttributes)>
        <td class="@(detailMasterPipaView.TableLeftColumnClass)"><span id="elh_DetailMasterPipa_LastUpdatedBy">@Html.Raw(detailMasterPipaView.LastUpdatedBy.Caption)</span></td>
        <td data-name="LastUpdatedBy" @Html.Raw(detailMasterPipaView.LastUpdatedBy.CellAttributes)>
<span id="el_DetailMasterPipa_LastUpdatedBy">
<span @Html.Raw(detailMasterPipaView.LastUpdatedBy.ViewAttributes)>
@Html.Raw(detailMasterPipaView.LastUpdatedBy.GetViewValue())</span>
</span></td>
    </tr>
} @* detailMasterPipaView.LastUpdatedBy.Visible (end) *@
@if (detailMasterPipaView.LastUpdatedDate.Visible) { // detailMasterPipaView.LastUpdatedDate.Visible (begin)
    <tr id="r_LastUpdatedDate" @Html.Raw(detailMasterPipaView.LastUpdatedDate.RowAttributes)>
        <td class="@(detailMasterPipaView.TableLeftColumnClass)"><span id="elh_DetailMasterPipa_LastUpdatedDate">@Html.Raw(detailMasterPipaView.LastUpdatedDate.Caption)</span></td>
        <td data-name="LastUpdatedDate" @Html.Raw(detailMasterPipaView.LastUpdatedDate.CellAttributes)>
<span id="el_DetailMasterPipa_LastUpdatedDate">
<span @Html.Raw(detailMasterPipaView.LastUpdatedDate.ViewAttributes)>
@Html.Raw(detailMasterPipaView.LastUpdatedDate.GetViewValue())</span>
</span></td>
    </tr>
} @* detailMasterPipaView.LastUpdatedDate.Visible (end) *@
</table>
@{ detailMasterPipaView.CloseRecordset(); }
</form>
</main>
@detailMasterPipaView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!detailMasterPipaView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
