@{
    // View
    View = this;

    // Check action result
    if (goodHouseKeepingEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = goodHouseKeepingEdit.UseLayout ? "_Layout" : "";
}
@goodHouseKeepingEdit.ShowPageHeader()
@goodHouseKeepingEdit.ShowMessages()
<main class="edit">
<form name="fGoodHouseKeepingedit" id="fGoodHouseKeepingedit" class="@(goodHouseKeepingEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(goodHouseKeepingEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { GoodHouseKeeping: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fGoodHouseKeepingedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fGoodHouseKeepingedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["IdGoodHouseKeeping", [fields.IdGoodHouseKeeping.visible && fields.IdGoodHouseKeeping.required ? ew.Validators.required(fields.IdGoodHouseKeeping.caption) : null], fields.IdGoodHouseKeeping.isInvalid],
            ["NomorGoodHouseKeeping", [fields.NomorGoodHouseKeeping.visible && fields.NomorGoodHouseKeeping.required ? ew.Validators.required(fields.NomorGoodHouseKeeping.caption) : null], fields.NomorGoodHouseKeeping.isInvalid],
            ["Plant", [fields.Plant.visible && fields.Plant.required ? ew.Validators.required(fields.Plant.caption) : null], fields.Plant.isInvalid],
            ["Catatan", [fields.Catatan.visible && fields.Catatan.required ? ew.Validators.required(fields.Catatan.caption) : null], fields.Catatan.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(goodHouseKeepingEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(goodHouseKeepingEdit.OldKeyName)" value="@Html.Raw(goodHouseKeepingEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (goodHouseKeepingEdit.IdGoodHouseKeeping.Visible) { // goodHouseKeepingEdit.IdGoodHouseKeeping.Visible (begin)
    <div id="r_IdGoodHouseKeeping" @Html.Raw(goodHouseKeepingEdit.IdGoodHouseKeeping.RowAttributes)>
        <label id="elh_GoodHouseKeeping_IdGoodHouseKeeping" class="@(goodHouseKeepingEdit.LeftColumnClass)">@Html.Raw(goodHouseKeepingEdit.IdGoodHouseKeeping.Caption)@Html.Raw(goodHouseKeepingEdit.IdGoodHouseKeeping.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(goodHouseKeepingEdit.RightColumnClass)"><div @Html.Raw(goodHouseKeepingEdit.IdGoodHouseKeeping.CellAttributes)>
<span id="el_GoodHouseKeeping_IdGoodHouseKeeping">
<span @Html.Raw(goodHouseKeepingEdit.IdGoodHouseKeeping.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(goodHouseKeepingEdit.IdGoodHouseKeeping.EditValue)))"></span>
<input type="hidden" data-table="GoodHouseKeeping" data-field="x_IdGoodHouseKeeping" data-hidden="1" name="x_IdGoodHouseKeeping" id="x_IdGoodHouseKeeping" value="@Html.Raw(HtmlEncode(goodHouseKeepingEdit.IdGoodHouseKeeping.CurrentValue))">
</span>
</div></div>
    </div>
} @* goodHouseKeepingEdit.IdGoodHouseKeeping.Visible (end) *@
@if (goodHouseKeepingEdit.NomorGoodHouseKeeping.Visible) { // goodHouseKeepingEdit.NomorGoodHouseKeeping.Visible (begin)
    <div id="r_NomorGoodHouseKeeping" @Html.Raw(goodHouseKeepingEdit.NomorGoodHouseKeeping.RowAttributes)>
        <label id="elh_GoodHouseKeeping_NomorGoodHouseKeeping" for="x_NomorGoodHouseKeeping" class="@(goodHouseKeepingEdit.LeftColumnClass)">@Html.Raw(goodHouseKeepingEdit.NomorGoodHouseKeeping.Caption)@Html.Raw(goodHouseKeepingEdit.NomorGoodHouseKeeping.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(goodHouseKeepingEdit.RightColumnClass)"><div @Html.Raw(goodHouseKeepingEdit.NomorGoodHouseKeeping.CellAttributes)>
<span id="el_GoodHouseKeeping_NomorGoodHouseKeeping">
<span @Html.Raw(goodHouseKeepingEdit.NomorGoodHouseKeeping.ViewAttributes)>
@if (!EmptyString(goodHouseKeepingEdit.NomorGoodHouseKeeping.EditValue) && !Empty(goodHouseKeepingEdit.NomorGoodHouseKeeping.LinkAttributes)) {
<a @Html.Raw(goodHouseKeepingEdit.NomorGoodHouseKeeping.LinkAttributes)><input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(goodHouseKeepingEdit.NomorGoodHouseKeeping.EditValue)))"></a>
} else {
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(goodHouseKeepingEdit.NomorGoodHouseKeeping.EditValue)))">
}
</span>
<input type="hidden" data-table="GoodHouseKeeping" data-field="x_NomorGoodHouseKeeping" data-hidden="1" name="x_NomorGoodHouseKeeping" id="x_NomorGoodHouseKeeping" value="@Html.Raw(HtmlEncode(goodHouseKeepingEdit.NomorGoodHouseKeeping.CurrentValue))">
</span>
</div></div>
    </div>
} @* goodHouseKeepingEdit.NomorGoodHouseKeeping.Visible (end) *@
@if (goodHouseKeepingEdit.Plant.Visible) { // goodHouseKeepingEdit.Plant.Visible (begin)
    <div id="r_Plant" @Html.Raw(goodHouseKeepingEdit.Plant.RowAttributes)>
        <label id="elh_GoodHouseKeeping_Plant" class="@(goodHouseKeepingEdit.LeftColumnClass)">@Html.Raw(goodHouseKeepingEdit.Plant.Caption)@Html.Raw(goodHouseKeepingEdit.Plant.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(goodHouseKeepingEdit.RightColumnClass)"><div @Html.Raw(goodHouseKeepingEdit.Plant.CellAttributes)>
<span id="el_GoodHouseKeeping_Plant">
<span @Html.Raw(goodHouseKeepingEdit.Plant.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(goodHouseKeepingEdit.Plant.DisplayValue(goodHouseKeepingEdit.Plant.EditValue))</span></span>
<input type="hidden" data-table="GoodHouseKeeping" data-field="x_Plant" data-hidden="1" name="x_Plant" id="x_Plant" value="@Html.Raw(HtmlEncode(goodHouseKeepingEdit.Plant.CurrentValue))">
</span>
</div></div>
    </div>
} @* goodHouseKeepingEdit.Plant.Visible (end) *@
@if (goodHouseKeepingEdit.Catatan.Visible) { // goodHouseKeepingEdit.Catatan.Visible (begin)
    <div id="r_Catatan" @Html.Raw(goodHouseKeepingEdit.Catatan.RowAttributes)>
        <label id="elh_GoodHouseKeeping_Catatan" for="x_Catatan" class="@(goodHouseKeepingEdit.LeftColumnClass)">@Html.Raw(goodHouseKeepingEdit.Catatan.Caption)@Html.Raw(goodHouseKeepingEdit.Catatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(goodHouseKeepingEdit.RightColumnClass)"><div @Html.Raw(goodHouseKeepingEdit.Catatan.CellAttributes)>
<span id="el_GoodHouseKeeping_Catatan">
<textarea data-table="GoodHouseKeeping" data-field="x_Catatan" name="x_Catatan" id="x_Catatan" cols="35" rows="4" placeholder="@Html.Raw(HtmlEncode(goodHouseKeepingEdit.Catatan.PlaceHolder))"@Html.Raw(goodHouseKeepingEdit.Catatan.EditAttributes) aria-describedby="x_Catatan_help">@(goodHouseKeepingEdit.Catatan.EditValue)</textarea>
@Html.Raw(goodHouseKeepingEdit.Catatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(goodHouseKeepingEdit.Catatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* goodHouseKeepingEdit.Catatan.Visible (end) *@
</div><!-- /page* -->
@{ goodHouseKeepingEdit.CloseRecordset(); }
@Html.Raw(goodHouseKeepingEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(goodHouseKeepingEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fGoodHouseKeepingedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fGoodHouseKeepingedit" data-href="@AppPath(goodHouseKeepingEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(goodHouseKeepingEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@goodHouseKeepingEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("GoodHouseKeeping");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
