@{
    // View
    View = this;

    // Check action result
    if (goodHouseKeepingView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = goodHouseKeepingView.UseLayout ? "_Layout" : "";
}
@if (!goodHouseKeepingView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @goodHouseKeepingView.ExportOptions.RenderBody()
    @goodHouseKeepingView.OtherOptions.RenderBody()
</div>
}
@goodHouseKeepingView.ShowPageHeader()
@goodHouseKeepingView.ShowMessages()
<main class="view">
<form name="fGoodHouseKeepingview" id="fGoodHouseKeepingview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!goodHouseKeepingView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(goodHouseKeepingView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { GoodHouseKeeping: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fGoodHouseKeepingview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fGoodHouseKeepingview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(goodHouseKeepingView.IsModal)">
<table class="@(goodHouseKeepingView.TableClass)">
@if (goodHouseKeepingView.IdGoodHouseKeeping.Visible) { // goodHouseKeepingView.IdGoodHouseKeeping.Visible (begin)
    <tr id="r_IdGoodHouseKeeping" @Html.Raw(goodHouseKeepingView.IdGoodHouseKeeping.RowAttributes)>
        <td class="@(goodHouseKeepingView.TableLeftColumnClass)"><span id="elh_GoodHouseKeeping_IdGoodHouseKeeping">@Html.Raw(goodHouseKeepingView.IdGoodHouseKeeping.Caption)</span></td>
        <td data-name="IdGoodHouseKeeping" @Html.Raw(goodHouseKeepingView.IdGoodHouseKeeping.CellAttributes)>
<span id="el_GoodHouseKeeping_IdGoodHouseKeeping">
<span @Html.Raw(goodHouseKeepingView.IdGoodHouseKeeping.ViewAttributes)>
@Html.Raw(goodHouseKeepingView.IdGoodHouseKeeping.GetViewValue())</span>
</span></td>
    </tr>
} @* goodHouseKeepingView.IdGoodHouseKeeping.Visible (end) *@
@if (goodHouseKeepingView.NomorGoodHouseKeeping.Visible) { // goodHouseKeepingView.NomorGoodHouseKeeping.Visible (begin)
    <tr id="r_NomorGoodHouseKeeping" @Html.Raw(goodHouseKeepingView.NomorGoodHouseKeeping.RowAttributes)>
        <td class="@(goodHouseKeepingView.TableLeftColumnClass)"><span id="elh_GoodHouseKeeping_NomorGoodHouseKeeping">@Html.Raw(goodHouseKeepingView.NomorGoodHouseKeeping.Caption)</span></td>
        <td data-name="NomorGoodHouseKeeping" @Html.Raw(goodHouseKeepingView.NomorGoodHouseKeeping.CellAttributes)>
<span id="el_GoodHouseKeeping_NomorGoodHouseKeeping">
<span @Html.Raw(goodHouseKeepingView.NomorGoodHouseKeeping.ViewAttributes)>
@if (!EmptyString(goodHouseKeepingView.NomorGoodHouseKeeping.GetViewValue()) && !Empty(goodHouseKeepingView.NomorGoodHouseKeeping.LinkAttributes)) {
<a @Html.Raw(goodHouseKeepingView.NomorGoodHouseKeeping.LinkAttributes)>@Html.Raw(goodHouseKeepingView.NomorGoodHouseKeeping.GetViewValue())</a>
} else {
@Html.Raw(goodHouseKeepingView.NomorGoodHouseKeeping.GetViewValue())
}
</span>
</span></td>
    </tr>
} @* goodHouseKeepingView.NomorGoodHouseKeeping.Visible (end) *@
@if (goodHouseKeepingView.LinkRedirect.Visible) { // goodHouseKeepingView.LinkRedirect.Visible (begin)
    <tr id="r_LinkRedirect" @Html.Raw(goodHouseKeepingView.LinkRedirect.RowAttributes)>
        <td class="@(goodHouseKeepingView.TableLeftColumnClass)"><span id="elh_GoodHouseKeeping_LinkRedirect">@Html.Raw(goodHouseKeepingView.LinkRedirect.Caption)</span></td>
        <td data-name="LinkRedirect" @Html.Raw(goodHouseKeepingView.LinkRedirect.CellAttributes)>
<span id="el_GoodHouseKeeping_LinkRedirect">
<span @Html.Raw(goodHouseKeepingView.LinkRedirect.ViewAttributes)>
@Html.Raw(goodHouseKeepingView.LinkRedirect.GetViewValue())</span>
</span></td>
    </tr>
} @* goodHouseKeepingView.LinkRedirect.Visible (end) *@
@if (goodHouseKeepingView.LookupPlant.Visible) { // goodHouseKeepingView.LookupPlant.Visible (begin)
    <tr id="r_LookupPlant" @Html.Raw(goodHouseKeepingView.LookupPlant.RowAttributes)>
        <td class="@(goodHouseKeepingView.TableLeftColumnClass)"><span id="elh_GoodHouseKeeping_LookupPlant">@Html.Raw(goodHouseKeepingView.LookupPlant.Caption)</span></td>
        <td data-name="LookupPlant" @Html.Raw(goodHouseKeepingView.LookupPlant.CellAttributes)>
<span id="el_GoodHouseKeeping_LookupPlant">
<span @Html.Raw(goodHouseKeepingView.LookupPlant.ViewAttributes)>
@Html.Raw(goodHouseKeepingView.LookupPlant.GetViewValue())</span>
</span></td>
    </tr>
} @* goodHouseKeepingView.LookupPlant.Visible (end) *@
@if (goodHouseKeepingView.Plant.Visible) { // goodHouseKeepingView.Plant.Visible (begin)
    <tr id="r_Plant" @Html.Raw(goodHouseKeepingView.Plant.RowAttributes)>
        <td class="@(goodHouseKeepingView.TableLeftColumnClass)"><span id="elh_GoodHouseKeeping_Plant">@Html.Raw(goodHouseKeepingView.Plant.Caption)</span></td>
        <td data-name="Plant" @Html.Raw(goodHouseKeepingView.Plant.CellAttributes)>
<span id="el_GoodHouseKeeping_Plant">
<span @Html.Raw(goodHouseKeepingView.Plant.ViewAttributes)>
@Html.Raw(goodHouseKeepingView.Plant.GetViewValue())</span>
</span></td>
    </tr>
} @* goodHouseKeepingView.Plant.Visible (end) *@
@if (goodHouseKeepingView.Catatan.Visible) { // goodHouseKeepingView.Catatan.Visible (begin)
    <tr id="r_Catatan" @Html.Raw(goodHouseKeepingView.Catatan.RowAttributes)>
        <td class="@(goodHouseKeepingView.TableLeftColumnClass)"><span id="elh_GoodHouseKeeping_Catatan">@Html.Raw(goodHouseKeepingView.Catatan.Caption)</span></td>
        <td data-name="Catatan" @Html.Raw(goodHouseKeepingView.Catatan.CellAttributes)>
<span id="el_GoodHouseKeeping_Catatan">
<span @Html.Raw(goodHouseKeepingView.Catatan.ViewAttributes)>
@Html.Raw(goodHouseKeepingView.Catatan.GetViewValue())</span>
</span></td>
    </tr>
} @* goodHouseKeepingView.Catatan.Visible (end) *@
@if (goodHouseKeepingView.DibuatOleh.Visible) { // goodHouseKeepingView.DibuatOleh.Visible (begin)
    <tr id="r_DibuatOleh" @Html.Raw(goodHouseKeepingView.DibuatOleh.RowAttributes)>
        <td class="@(goodHouseKeepingView.TableLeftColumnClass)"><span id="elh_GoodHouseKeeping_DibuatOleh">@Html.Raw(goodHouseKeepingView.DibuatOleh.Caption)</span></td>
        <td data-name="DibuatOleh" @Html.Raw(goodHouseKeepingView.DibuatOleh.CellAttributes)>
<span id="el_GoodHouseKeeping_DibuatOleh">
<span @Html.Raw(goodHouseKeepingView.DibuatOleh.ViewAttributes)>
@Html.Raw(goodHouseKeepingView.DibuatOleh.GetViewValue())</span>
</span></td>
    </tr>
} @* goodHouseKeepingView.DibuatOleh.Visible (end) *@
@if (goodHouseKeepingView.TanggalDibuat.Visible) { // goodHouseKeepingView.TanggalDibuat.Visible (begin)
    <tr id="r_TanggalDibuat" @Html.Raw(goodHouseKeepingView.TanggalDibuat.RowAttributes)>
        <td class="@(goodHouseKeepingView.TableLeftColumnClass)"><span id="elh_GoodHouseKeeping_TanggalDibuat">@Html.Raw(goodHouseKeepingView.TanggalDibuat.Caption)</span></td>
        <td data-name="TanggalDibuat" @Html.Raw(goodHouseKeepingView.TanggalDibuat.CellAttributes)>
<span id="el_GoodHouseKeeping_TanggalDibuat">
<span @Html.Raw(goodHouseKeepingView.TanggalDibuat.ViewAttributes)>
@Html.Raw(goodHouseKeepingView.TanggalDibuat.GetViewValue())</span>
</span></td>
    </tr>
} @* goodHouseKeepingView.TanggalDibuat.Visible (end) *@
@if (goodHouseKeepingView.DiperbaruiOleh.Visible) { // goodHouseKeepingView.DiperbaruiOleh.Visible (begin)
    <tr id="r_DiperbaruiOleh" @Html.Raw(goodHouseKeepingView.DiperbaruiOleh.RowAttributes)>
        <td class="@(goodHouseKeepingView.TableLeftColumnClass)"><span id="elh_GoodHouseKeeping_DiperbaruiOleh">@Html.Raw(goodHouseKeepingView.DiperbaruiOleh.Caption)</span></td>
        <td data-name="DiperbaruiOleh" @Html.Raw(goodHouseKeepingView.DiperbaruiOleh.CellAttributes)>
<span id="el_GoodHouseKeeping_DiperbaruiOleh">
<span @Html.Raw(goodHouseKeepingView.DiperbaruiOleh.ViewAttributes)>
@Html.Raw(goodHouseKeepingView.DiperbaruiOleh.GetViewValue())</span>
</span></td>
    </tr>
} @* goodHouseKeepingView.DiperbaruiOleh.Visible (end) *@
@if (goodHouseKeepingView.TanggalDiperbarui.Visible) { // goodHouseKeepingView.TanggalDiperbarui.Visible (begin)
    <tr id="r_TanggalDiperbarui" @Html.Raw(goodHouseKeepingView.TanggalDiperbarui.RowAttributes)>
        <td class="@(goodHouseKeepingView.TableLeftColumnClass)"><span id="elh_GoodHouseKeeping_TanggalDiperbarui">@Html.Raw(goodHouseKeepingView.TanggalDiperbarui.Caption)</span></td>
        <td data-name="TanggalDiperbarui" @Html.Raw(goodHouseKeepingView.TanggalDiperbarui.CellAttributes)>
<span id="el_GoodHouseKeeping_TanggalDiperbarui">
<span @Html.Raw(goodHouseKeepingView.TanggalDiperbarui.ViewAttributes)>
@Html.Raw(goodHouseKeepingView.TanggalDiperbarui.GetViewValue())</span>
</span></td>
    </tr>
} @* goodHouseKeepingView.TanggalDiperbarui.Visible (end) *@
</table>
@{ goodHouseKeepingView.CloseRecordset(); }
</form>
</main>
@goodHouseKeepingView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!goodHouseKeepingView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
