@{
    // View
    View = this;

    // Check action result
    if (goodHouseKeepingDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = goodHouseKeepingDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(goodHouseKeepingDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { GoodHouseKeeping: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fGoodHouseKeepingdelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fGoodHouseKeepingdelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@goodHouseKeepingDelete.ShowPageHeader()
@goodHouseKeepingDelete.ShowMessages()
<form name="fGoodHouseKeepingdelete" id="fGoodHouseKeepingdelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in goodHouseKeepingDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(goodHouseKeepingDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(goodHouseKeepingDelete.TableContainerClass)" style="@(goodHouseKeepingDelete.TableContainerStyle)">
<table class="@(goodHouseKeepingDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (goodHouseKeepingDelete.LinkRedirect.Visible) { // goodHouseKeepingDelete.LinkRedirect.Visible (begin)
        <th class="@Html.Raw(goodHouseKeepingDelete.LinkRedirect.HeaderCellClass)"><span id="elh_GoodHouseKeeping_LinkRedirect" class="GoodHouseKeeping_LinkRedirect">@Html.Raw(goodHouseKeepingDelete.LinkRedirect.Caption)</span></th>
} @* goodHouseKeepingDelete.LinkRedirect.Visible (end) *@
@if (goodHouseKeepingDelete.Plant.Visible) { // goodHouseKeepingDelete.Plant.Visible (begin)
        <th class="@Html.Raw(goodHouseKeepingDelete.Plant.HeaderCellClass)"><span id="elh_GoodHouseKeeping_Plant" class="GoodHouseKeeping_Plant">@Html.Raw(goodHouseKeepingDelete.Plant.Caption)</span></th>
} @* goodHouseKeepingDelete.Plant.Visible (end) *@
@if (goodHouseKeepingDelete.Catatan.Visible) { // goodHouseKeepingDelete.Catatan.Visible (begin)
        <th class="@Html.Raw(goodHouseKeepingDelete.Catatan.HeaderCellClass)"><span id="elh_GoodHouseKeeping_Catatan" class="GoodHouseKeeping_Catatan">@Html.Raw(goodHouseKeepingDelete.Catatan.Caption)</span></th>
} @* goodHouseKeepingDelete.Catatan.Visible (end) *@
@if (goodHouseKeepingDelete.DibuatOleh.Visible) { // goodHouseKeepingDelete.DibuatOleh.Visible (begin)
        <th class="@Html.Raw(goodHouseKeepingDelete.DibuatOleh.HeaderCellClass)"><span id="elh_GoodHouseKeeping_DibuatOleh" class="GoodHouseKeeping_DibuatOleh">@Html.Raw(goodHouseKeepingDelete.DibuatOleh.Caption)</span></th>
} @* goodHouseKeepingDelete.DibuatOleh.Visible (end) *@
@if (goodHouseKeepingDelete.TanggalDibuat.Visible) { // goodHouseKeepingDelete.TanggalDibuat.Visible (begin)
        <th class="@Html.Raw(goodHouseKeepingDelete.TanggalDibuat.HeaderCellClass)"><span id="elh_GoodHouseKeeping_TanggalDibuat" class="GoodHouseKeeping_TanggalDibuat">@Html.Raw(goodHouseKeepingDelete.TanggalDibuat.Caption)</span></th>
} @* goodHouseKeepingDelete.TanggalDibuat.Visible (end) *@
@if (goodHouseKeepingDelete.DiperbaruiOleh.Visible) { // goodHouseKeepingDelete.DiperbaruiOleh.Visible (begin)
        <th class="@Html.Raw(goodHouseKeepingDelete.DiperbaruiOleh.HeaderCellClass)"><span id="elh_GoodHouseKeeping_DiperbaruiOleh" class="GoodHouseKeeping_DiperbaruiOleh">@Html.Raw(goodHouseKeepingDelete.DiperbaruiOleh.Caption)</span></th>
} @* goodHouseKeepingDelete.DiperbaruiOleh.Visible (end) *@
@if (goodHouseKeepingDelete.TanggalDiperbarui.Visible) { // goodHouseKeepingDelete.TanggalDiperbarui.Visible (begin)
        <th class="@Html.Raw(goodHouseKeepingDelete.TanggalDiperbarui.HeaderCellClass)"><span id="elh_GoodHouseKeeping_TanggalDiperbarui" class="GoodHouseKeeping_TanggalDiperbarui">@Html.Raw(goodHouseKeepingDelete.TanggalDiperbarui.Caption)</span></th>
} @* goodHouseKeepingDelete.TanggalDiperbarui.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ goodHouseKeepingDelete.RecordCount = 0; }
@while (goodHouseKeepingDelete.Recordset != null && await goodHouseKeepingDelete.Recordset.ReadAsync()) { // DN
    goodHouseKeepingDelete.RecordCount++;
    goodHouseKeepingDelete.RowCount++;

    // Set row properties
    goodHouseKeepingDelete.ResetAttributes();
    goodHouseKeepingDelete.RowType = RowType.View; // View

    // Get the field contents
    await goodHouseKeepingDelete.LoadRowValues(goodHouseKeepingDelete.Recordset);

    // Render row
    await goodHouseKeepingDelete.RenderRow();
    <tr @Html.Raw(goodHouseKeepingDelete.RowAttributes)>
@if (goodHouseKeepingDelete.LinkRedirect.Visible) { // goodHouseKeepingDelete.LinkRedirect.Visible (begin)
        <td @Html.Raw(goodHouseKeepingDelete.LinkRedirect.CellAttributes)>
<span id="">
<span @Html.Raw(goodHouseKeepingDelete.LinkRedirect.ViewAttributes)>
@Html.Raw(goodHouseKeepingDelete.LinkRedirect.GetViewValue())</span>
</span></td>
} @* goodHouseKeepingDelete.LinkRedirect.Visible (end) *@
@if (goodHouseKeepingDelete.Plant.Visible) { // goodHouseKeepingDelete.Plant.Visible (begin)
        <td @Html.Raw(goodHouseKeepingDelete.Plant.CellAttributes)>
<span id="">
<span @Html.Raw(goodHouseKeepingDelete.Plant.ViewAttributes)>
@Html.Raw(goodHouseKeepingDelete.Plant.GetViewValue())</span>
</span></td>
} @* goodHouseKeepingDelete.Plant.Visible (end) *@
@if (goodHouseKeepingDelete.Catatan.Visible) { // goodHouseKeepingDelete.Catatan.Visible (begin)
        <td @Html.Raw(goodHouseKeepingDelete.Catatan.CellAttributes)>
<span id="">
<span @Html.Raw(goodHouseKeepingDelete.Catatan.ViewAttributes)>
@Html.Raw(goodHouseKeepingDelete.Catatan.GetViewValue())</span>
</span></td>
} @* goodHouseKeepingDelete.Catatan.Visible (end) *@
@if (goodHouseKeepingDelete.DibuatOleh.Visible) { // goodHouseKeepingDelete.DibuatOleh.Visible (begin)
        <td @Html.Raw(goodHouseKeepingDelete.DibuatOleh.CellAttributes)>
<span id="">
<span @Html.Raw(goodHouseKeepingDelete.DibuatOleh.ViewAttributes)>
@Html.Raw(goodHouseKeepingDelete.DibuatOleh.GetViewValue())</span>
</span></td>
} @* goodHouseKeepingDelete.DibuatOleh.Visible (end) *@
@if (goodHouseKeepingDelete.TanggalDibuat.Visible) { // goodHouseKeepingDelete.TanggalDibuat.Visible (begin)
        <td @Html.Raw(goodHouseKeepingDelete.TanggalDibuat.CellAttributes)>
<span id="">
<span @Html.Raw(goodHouseKeepingDelete.TanggalDibuat.ViewAttributes)>
@Html.Raw(goodHouseKeepingDelete.TanggalDibuat.GetViewValue())</span>
</span></td>
} @* goodHouseKeepingDelete.TanggalDibuat.Visible (end) *@
@if (goodHouseKeepingDelete.DiperbaruiOleh.Visible) { // goodHouseKeepingDelete.DiperbaruiOleh.Visible (begin)
        <td @Html.Raw(goodHouseKeepingDelete.DiperbaruiOleh.CellAttributes)>
<span id="">
<span @Html.Raw(goodHouseKeepingDelete.DiperbaruiOleh.ViewAttributes)>
@Html.Raw(goodHouseKeepingDelete.DiperbaruiOleh.GetViewValue())</span>
</span></td>
} @* goodHouseKeepingDelete.DiperbaruiOleh.Visible (end) *@
@if (goodHouseKeepingDelete.TanggalDiperbarui.Visible) { // goodHouseKeepingDelete.TanggalDiperbarui.Visible (begin)
        <td @Html.Raw(goodHouseKeepingDelete.TanggalDiperbarui.CellAttributes)>
<span id="">
<span @Html.Raw(goodHouseKeepingDelete.TanggalDiperbarui.ViewAttributes)>
@Html.Raw(goodHouseKeepingDelete.TanggalDiperbarui.GetViewValue())</span>
</span></td>
} @* goodHouseKeepingDelete.TanggalDiperbarui.Visible (end) *@
    </tr>
}
@{ goodHouseKeepingDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(goodHouseKeepingDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@goodHouseKeepingDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
