@{
    // View
    View = this;

    // Check action result
    if (masterPicAdd.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = masterPicAdd.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(masterPicAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MasterPIC: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fMasterPICadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMasterPICadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["NamaPIC", [fields.NamaPIC.visible && fields.NamaPIC.required ? ew.Validators.required(fields.NamaPIC.caption) : null], fields.NamaPIC.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Client script
    $('#fMasterPICadd').on('submit', function (e) {
        e.preventDefault();
        showLoading();
        setTimeout(() => {
            hideLoading();
        }, 3000);
        this.requestSubmit();
    });
});
</script>
@masterPicAdd.ShowPageHeader()
@masterPicAdd.ShowMessages()
<form name="fMasterPICadd" id="fMasterPICadd" class="@(masterPicAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(masterPicAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(masterPicAdd.OldKeyName)" value="@Html.Raw(masterPicAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (masterPicAdd.NamaPIC.Visible) { // masterPicAdd.NamaPIC.Visible (begin)
    <div id="r_NamaPIC" @Html.Raw(masterPicAdd.NamaPIC.RowAttributes)>
        <label id="elh_MasterPIC_NamaPIC" for="x_NamaPIC" class="@(masterPicAdd.LeftColumnClass)">@Html.Raw(masterPicAdd.NamaPIC.Caption)@Html.Raw(masterPicAdd.NamaPIC.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterPicAdd.RightColumnClass)"><div @Html.Raw(masterPicAdd.NamaPIC.CellAttributes)>
<span id="el_MasterPIC_NamaPIC">
<input type="@(masterPicAdd.NamaPIC.InputTextType)" name="x_NamaPIC" id="x_NamaPIC" data-table="MasterPIC" data-field="x_NamaPIC" value="@Html.Raw(masterPicAdd.NamaPIC.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(masterPicAdd.NamaPIC.PlaceHolder))" data-format-pattern="@(masterPicAdd.NamaPIC.FormatPattern)"@Html.Raw(masterPicAdd.NamaPIC.EditAttributes) aria-describedby="x_NamaPIC_help">
@Html.Raw(masterPicAdd.NamaPIC.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterPicAdd.NamaPIC.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* masterPicAdd.NamaPIC.Visible (end) *@
</div><!-- /page* -->
@{ masterPicAdd.CloseRecordset(); }
@Html.Raw(masterPicAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(masterPicAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fMasterPICadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fMasterPICadd" data-href="@AppPath(masterPicAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(masterPicAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@masterPicAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("MasterPIC");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
