@{
    // View
    View = this;

    // Check action result
    if (masterModaEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = masterModaEdit.UseLayout ? "_Layout" : "";
}
@masterModaEdit.ShowPageHeader()
@masterModaEdit.ShowMessages()
<main class="edit">
<form name="fMasterModaedit" id="fMasterModaedit" class="@(masterModaEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(masterModaEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MasterModa: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fMasterModaedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMasterModaedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["IdModa", [fields.IdModa.visible && fields.IdModa.required ? ew.Validators.required(fields.IdModa.caption) : null], fields.IdModa.isInvalid],
            ["NamaModa", [fields.NamaModa.visible && fields.NamaModa.required ? ew.Validators.required(fields.NamaModa.caption) : null], fields.NamaModa.isInvalid],
            ["Kategori", [fields.Kategori.visible && fields.Kategori.required ? ew.Validators.required(fields.Kategori.caption) : null], fields.Kategori.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Client script
    $('#fMasterModaedit').on('submit', function (e) {
        e.preventDefault();
        showLoading();
        setTimeout(() => {
            hideLoading();
        }, 3000);
        this.requestSubmit();
    });
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(masterModaEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(masterModaEdit.OldKeyName)" value="@Html.Raw(masterModaEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (masterModaEdit.IdModa.Visible) { // masterModaEdit.IdModa.Visible (begin)
    <div id="r_IdModa" @Html.Raw(masterModaEdit.IdModa.RowAttributes)>
        <label id="elh_MasterModa_IdModa" class="@(masterModaEdit.LeftColumnClass)">@Html.Raw(masterModaEdit.IdModa.Caption)@Html.Raw(masterModaEdit.IdModa.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterModaEdit.RightColumnClass)"><div @Html.Raw(masterModaEdit.IdModa.CellAttributes)>
<span id="el_MasterModa_IdModa">
<span @Html.Raw(masterModaEdit.IdModa.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(masterModaEdit.IdModa.EditValue)))"></span>
<input type="hidden" data-table="MasterModa" data-field="x_IdModa" data-hidden="1" name="x_IdModa" id="x_IdModa" value="@Html.Raw(HtmlEncode(masterModaEdit.IdModa.CurrentValue))">
</span>
</div></div>
    </div>
} @* masterModaEdit.IdModa.Visible (end) *@
@if (masterModaEdit.NamaModa.Visible) { // masterModaEdit.NamaModa.Visible (begin)
    <div id="r_NamaModa" @Html.Raw(masterModaEdit.NamaModa.RowAttributes)>
        <label id="elh_MasterModa_NamaModa" for="x_NamaModa" class="@(masterModaEdit.LeftColumnClass)">@Html.Raw(masterModaEdit.NamaModa.Caption)@Html.Raw(masterModaEdit.NamaModa.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterModaEdit.RightColumnClass)"><div @Html.Raw(masterModaEdit.NamaModa.CellAttributes)>
<span id="el_MasterModa_NamaModa">
<input type="@(masterModaEdit.NamaModa.InputTextType)" name="x_NamaModa" id="x_NamaModa" data-table="MasterModa" data-field="x_NamaModa" value="@Html.Raw(masterModaEdit.NamaModa.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(masterModaEdit.NamaModa.PlaceHolder))" data-format-pattern="@(masterModaEdit.NamaModa.FormatPattern)"@Html.Raw(masterModaEdit.NamaModa.EditAttributes) aria-describedby="x_NamaModa_help">
@Html.Raw(masterModaEdit.NamaModa.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterModaEdit.NamaModa.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* masterModaEdit.NamaModa.Visible (end) *@
@if (masterModaEdit.Kategori.Visible) { // masterModaEdit.Kategori.Visible (begin)
    <div id="r_Kategori" @Html.Raw(masterModaEdit.Kategori.RowAttributes)>
        <label id="elh_MasterModa_Kategori" for="x_Kategori" class="@(masterModaEdit.LeftColumnClass)">@Html.Raw(masterModaEdit.Kategori.Caption)@Html.Raw(masterModaEdit.Kategori.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterModaEdit.RightColumnClass)"><div @Html.Raw(masterModaEdit.Kategori.CellAttributes)>
<span id="el_MasterModa_Kategori">
<input type="@(masterModaEdit.Kategori.InputTextType)" name="x_Kategori" id="x_Kategori" data-table="MasterModa" data-field="x_Kategori" value="@Html.Raw(masterModaEdit.Kategori.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(masterModaEdit.Kategori.PlaceHolder))" data-format-pattern="@(masterModaEdit.Kategori.FormatPattern)"@Html.Raw(masterModaEdit.Kategori.EditAttributes) aria-describedby="x_Kategori_help">
@Html.Raw(masterModaEdit.Kategori.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterModaEdit.Kategori.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* masterModaEdit.Kategori.Visible (end) *@
</div><!-- /page* -->
@{ masterModaEdit.CloseRecordset(); }
@Html.Raw(masterModaEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(masterModaEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fMasterModaedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fMasterModaedit" data-href="@AppPath(masterModaEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(masterModaEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@masterModaEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("MasterModa");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
