@{
    // View
    View = this;

    // Check action result
    if (masterTemplateView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = masterTemplateView.UseLayout ? "_Layout" : "";
}
@if (!masterTemplateView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @masterTemplateView.ExportOptions.RenderBody()
    @masterTemplateView.OtherOptions.RenderBody()
</div>
}
@masterTemplateView.ShowPageHeader()
@masterTemplateView.ShowMessages()
<main class="view">
<form name="fMasterTemplateview" id="fMasterTemplateview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!masterTemplateView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(masterTemplateView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MasterTemplate: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fMasterTemplateview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMasterTemplateview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(masterTemplateView.IsModal)">
<table class="@(masterTemplateView.TableClass)">
@if (masterTemplateView.IdTemplate.Visible) { // masterTemplateView.IdTemplate.Visible (begin)
    <tr id="r_IdTemplate" @Html.Raw(masterTemplateView.IdTemplate.RowAttributes)>
        <td class="@(masterTemplateView.TableLeftColumnClass)"><span id="elh_MasterTemplate_IdTemplate">@Html.Raw(masterTemplateView.IdTemplate.Caption)</span></td>
        <td data-name="IdTemplate" @Html.Raw(masterTemplateView.IdTemplate.CellAttributes)>
<span id="el_MasterTemplate_IdTemplate">
<span @Html.Raw(masterTemplateView.IdTemplate.ViewAttributes)>
@Html.Raw(masterTemplateView.IdTemplate.GetViewValue())</span>
</span></td>
    </tr>
} @* masterTemplateView.IdTemplate.Visible (end) *@
@if (masterTemplateView.NamaTemplate.Visible) { // masterTemplateView.NamaTemplate.Visible (begin)
    <tr id="r_NamaTemplate" @Html.Raw(masterTemplateView.NamaTemplate.RowAttributes)>
        <td class="@(masterTemplateView.TableLeftColumnClass)"><span id="elh_MasterTemplate_NamaTemplate">@Html.Raw(masterTemplateView.NamaTemplate.Caption)</span></td>
        <td data-name="NamaTemplate" @Html.Raw(masterTemplateView.NamaTemplate.CellAttributes)>
<span id="el_MasterTemplate_NamaTemplate">
<span @Html.Raw(masterTemplateView.NamaTemplate.ViewAttributes)>
@Html.Raw(masterTemplateView.NamaTemplate.GetViewValue())</span>
</span></td>
    </tr>
} @* masterTemplateView.NamaTemplate.Visible (end) *@
@if (masterTemplateView.IdModa.Visible) { // masterTemplateView.IdModa.Visible (begin)
    <tr id="r_IdModa" @Html.Raw(masterTemplateView.IdModa.RowAttributes)>
        <td class="@(masterTemplateView.TableLeftColumnClass)"><span id="elh_MasterTemplate_IdModa">@Html.Raw(masterTemplateView.IdModa.Caption)</span></td>
        <td data-name="IdModa" @Html.Raw(masterTemplateView.IdModa.CellAttributes)>
<span id="el_MasterTemplate_IdModa">
<span @Html.Raw(masterTemplateView.IdModa.ViewAttributes)>
@Html.Raw(masterTemplateView.IdModa.GetViewValue())</span>
</span></td>
    </tr>
} @* masterTemplateView.IdModa.Visible (end) *@
@if (masterTemplateView.JenisProses.Visible) { // masterTemplateView.JenisProses.Visible (begin)
    <tr id="r_JenisProses" @Html.Raw(masterTemplateView.JenisProses.RowAttributes)>
        <td class="@(masterTemplateView.TableLeftColumnClass)"><span id="elh_MasterTemplate_JenisProses">@Html.Raw(masterTemplateView.JenisProses.Caption)</span></td>
        <td data-name="JenisProses" @Html.Raw(masterTemplateView.JenisProses.CellAttributes)>
<span id="el_MasterTemplate_JenisProses">
<span @Html.Raw(masterTemplateView.JenisProses.ViewAttributes)>
@Html.Raw(masterTemplateView.JenisProses.GetViewValue())</span>
</span></td>
    </tr>
} @* masterTemplateView.JenisProses.Visible (end) *@
@if (masterTemplateView.Keterangan.Visible) { // masterTemplateView.Keterangan.Visible (begin)
    <tr id="r_Keterangan" @Html.Raw(masterTemplateView.Keterangan.RowAttributes)>
        <td class="@(masterTemplateView.TableLeftColumnClass)"><span id="elh_MasterTemplate_Keterangan">@Html.Raw(masterTemplateView.Keterangan.Caption)</span></td>
        <td data-name="Keterangan" @Html.Raw(masterTemplateView.Keterangan.CellAttributes)>
<span id="el_MasterTemplate_Keterangan">
<span @Html.Raw(masterTemplateView.Keterangan.ViewAttributes)>
@Html.Raw(masterTemplateView.Keterangan.GetViewValue())</span>
</span></td>
    </tr>
} @* masterTemplateView.Keterangan.Visible (end) *@
@if (masterTemplateView.DibuatOleh.Visible) { // masterTemplateView.DibuatOleh.Visible (begin)
    <tr id="r_DibuatOleh" @Html.Raw(masterTemplateView.DibuatOleh.RowAttributes)>
        <td class="@(masterTemplateView.TableLeftColumnClass)"><span id="elh_MasterTemplate_DibuatOleh">@Html.Raw(masterTemplateView.DibuatOleh.Caption)</span></td>
        <td data-name="DibuatOleh" @Html.Raw(masterTemplateView.DibuatOleh.CellAttributes)>
<span id="el_MasterTemplate_DibuatOleh">
<span @Html.Raw(masterTemplateView.DibuatOleh.ViewAttributes)>
@Html.Raw(masterTemplateView.DibuatOleh.GetViewValue())</span>
</span></td>
    </tr>
} @* masterTemplateView.DibuatOleh.Visible (end) *@
@if (masterTemplateView.TanggalDibuat.Visible) { // masterTemplateView.TanggalDibuat.Visible (begin)
    <tr id="r_TanggalDibuat" @Html.Raw(masterTemplateView.TanggalDibuat.RowAttributes)>
        <td class="@(masterTemplateView.TableLeftColumnClass)"><span id="elh_MasterTemplate_TanggalDibuat">@Html.Raw(masterTemplateView.TanggalDibuat.Caption)</span></td>
        <td data-name="TanggalDibuat" @Html.Raw(masterTemplateView.TanggalDibuat.CellAttributes)>
<span id="el_MasterTemplate_TanggalDibuat">
<span @Html.Raw(masterTemplateView.TanggalDibuat.ViewAttributes)>
@Html.Raw(masterTemplateView.TanggalDibuat.GetViewValue())</span>
</span></td>
    </tr>
} @* masterTemplateView.TanggalDibuat.Visible (end) *@
@if (masterTemplateView.DiperbaruiOleh.Visible) { // masterTemplateView.DiperbaruiOleh.Visible (begin)
    <tr id="r_DiperbaruiOleh" @Html.Raw(masterTemplateView.DiperbaruiOleh.RowAttributes)>
        <td class="@(masterTemplateView.TableLeftColumnClass)"><span id="elh_MasterTemplate_DiperbaruiOleh">@Html.Raw(masterTemplateView.DiperbaruiOleh.Caption)</span></td>
        <td data-name="DiperbaruiOleh" @Html.Raw(masterTemplateView.DiperbaruiOleh.CellAttributes)>
<span id="el_MasterTemplate_DiperbaruiOleh">
<span @Html.Raw(masterTemplateView.DiperbaruiOleh.ViewAttributes)>
@Html.Raw(masterTemplateView.DiperbaruiOleh.GetViewValue())</span>
</span></td>
    </tr>
} @* masterTemplateView.DiperbaruiOleh.Visible (end) *@
@if (masterTemplateView.TanggalDiperbarui.Visible) { // masterTemplateView.TanggalDiperbarui.Visible (begin)
    <tr id="r_TanggalDiperbarui" @Html.Raw(masterTemplateView.TanggalDiperbarui.RowAttributes)>
        <td class="@(masterTemplateView.TableLeftColumnClass)"><span id="elh_MasterTemplate_TanggalDiperbarui">@Html.Raw(masterTemplateView.TanggalDiperbarui.Caption)</span></td>
        <td data-name="TanggalDiperbarui" @Html.Raw(masterTemplateView.TanggalDiperbarui.CellAttributes)>
<span id="el_MasterTemplate_TanggalDiperbarui">
<span @Html.Raw(masterTemplateView.TanggalDiperbarui.ViewAttributes)>
@Html.Raw(masterTemplateView.TanggalDiperbarui.GetViewValue())</span>
</span></td>
    </tr>
} @* masterTemplateView.TanggalDiperbarui.Visible (end) *@
@if (masterTemplateView.TipePenimbunan.Visible) { // masterTemplateView.TipePenimbunan.Visible (begin)
    <tr id="r_TipePenimbunan" @Html.Raw(masterTemplateView.TipePenimbunan.RowAttributes)>
        <td class="@(masterTemplateView.TableLeftColumnClass)"><span id="elh_MasterTemplate_TipePenimbunan">@Html.Raw(masterTemplateView.TipePenimbunan.Caption)</span></td>
        <td data-name="TipePenimbunan" @Html.Raw(masterTemplateView.TipePenimbunan.CellAttributes)>
<span id="el_MasterTemplate_TipePenimbunan">
<span @Html.Raw(masterTemplateView.TipePenimbunan.ViewAttributes)>
@Html.Raw(masterTemplateView.TipePenimbunan.GetViewValue())</span>
</span></td>
    </tr>
} @* masterTemplateView.TipePenimbunan.Visible (end) *@
@if (masterTemplateView.TipePenyaluran.Visible) { // masterTemplateView.TipePenyaluran.Visible (begin)
    <tr id="r_TipePenyaluran" @Html.Raw(masterTemplateView.TipePenyaluran.RowAttributes)>
        <td class="@(masterTemplateView.TableLeftColumnClass)"><span id="elh_MasterTemplate_TipePenyaluran">@Html.Raw(masterTemplateView.TipePenyaluran.Caption)</span></td>
        <td data-name="TipePenyaluran" @Html.Raw(masterTemplateView.TipePenyaluran.CellAttributes)>
<span id="el_MasterTemplate_TipePenyaluran">
<span @Html.Raw(masterTemplateView.TipePenyaluran.ViewAttributes)>
@Html.Raw(masterTemplateView.TipePenyaluran.GetViewValue())</span>
</span></td>
    </tr>
} @* masterTemplateView.TipePenyaluran.Visible (end) *@
@if (masterTemplateView.KategoriPenyaluran.Visible) { // masterTemplateView.KategoriPenyaluran.Visible (begin)
    <tr id="r_KategoriPenyaluran" @Html.Raw(masterTemplateView.KategoriPenyaluran.RowAttributes)>
        <td class="@(masterTemplateView.TableLeftColumnClass)"><span id="elh_MasterTemplate_KategoriPenyaluran">@Html.Raw(masterTemplateView.KategoriPenyaluran.Caption)</span></td>
        <td data-name="KategoriPenyaluran" @Html.Raw(masterTemplateView.KategoriPenyaluran.CellAttributes)>
<span id="el_MasterTemplate_KategoriPenyaluran">
<span @Html.Raw(masterTemplateView.KategoriPenyaluran.ViewAttributes)>
@Html.Raw(masterTemplateView.KategoriPenyaluran.GetViewValue())</span>
</span></td>
    </tr>
} @* masterTemplateView.KategoriPenyaluran.Visible (end) *@
@if (masterTemplateView.NamaDokumen.Visible) { // masterTemplateView.NamaDokumen.Visible (begin)
    <tr id="r_NamaDokumen" @Html.Raw(masterTemplateView.NamaDokumen.RowAttributes)>
        <td class="@(masterTemplateView.TableLeftColumnClass)"><span id="elh_MasterTemplate_NamaDokumen">@Html.Raw(masterTemplateView.NamaDokumen.Caption)</span></td>
        <td data-name="NamaDokumen" @Html.Raw(masterTemplateView.NamaDokumen.CellAttributes)>
<span id="el_MasterTemplate_NamaDokumen">
<span @Html.Raw(masterTemplateView.NamaDokumen.ViewAttributes)>
@Html.Raw(masterTemplateView.NamaDokumen.GetViewValue())</span>
</span></td>
    </tr>
} @* masterTemplateView.NamaDokumen.Visible (end) *@
</table>
@{ masterTemplateView.CloseRecordset(); }
@if (masterTemplateView.CurrentDetailTables.Contains("TemplateProses") && Resolve("TemplateProses").DetailView) {
    if (!Empty(masterTemplateView.CurrentDetailTable)) {
<h4 class="ew-detail-caption">@Html.Raw(Language.TablePhrase("TemplateProses", "TblCaption"))</h4>
    }
        @await Html.PartialAsync("TemplateProsesGrid")
    View = this;
}
</form>
</main>
@masterTemplateView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!masterTemplateView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
