@{
    // View
    View = this;

    // Check action result
    if (masterPlantView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = masterPlantView.UseLayout ? "_Layout" : "";
}
@if (!masterPlantView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @masterPlantView.ExportOptions.RenderBody()
    @masterPlantView.OtherOptions.RenderBody()
</div>
}
@masterPlantView.ShowPageHeader()
@masterPlantView.ShowMessages()
<main class="view">
<form name="fMasterPlantview" id="fMasterPlantview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!masterPlantView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(masterPlantView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MasterPlant: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fMasterPlantview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMasterPlantview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(masterPlantView.IsModal)">
<table class="@(masterPlantView.TableClass)">
@if (masterPlantView.IdPlant.Visible) { // masterPlantView.IdPlant.Visible (begin)
    <tr id="r_IdPlant" @Html.Raw(masterPlantView.IdPlant.RowAttributes)>
        <td class="@(masterPlantView.TableLeftColumnClass)"><span id="elh_MasterPlant_IdPlant">@Html.Raw(masterPlantView.IdPlant.Caption)</span></td>
        <td data-name="IdPlant" @Html.Raw(masterPlantView.IdPlant.CellAttributes)>
<span id="el_MasterPlant_IdPlant">
<span @Html.Raw(masterPlantView.IdPlant.ViewAttributes)>
@Html.Raw(masterPlantView.IdPlant.GetViewValue())</span>
</span></td>
    </tr>
} @* masterPlantView.IdPlant.Visible (end) *@
@if (masterPlantView.Terminal_Manager.Visible) { // masterPlantView.Terminal_Manager.Visible (begin)
    <tr id="r_Terminal_Manager" @Html.Raw(masterPlantView.Terminal_Manager.RowAttributes)>
        <td class="@(masterPlantView.TableLeftColumnClass)"><span id="elh_MasterPlant_Terminal_Manager">@Html.Raw(masterPlantView.Terminal_Manager.Caption)</span></td>
        <td data-name="Terminal_Manager" @Html.Raw(masterPlantView.Terminal_Manager.CellAttributes)>
<span id="el_MasterPlant_Terminal_Manager">
<span @Html.Raw(masterPlantView.Terminal_Manager.ViewAttributes)>
@Html.Raw(masterPlantView.Terminal_Manager.GetViewValue())</span>
</span></td>
    </tr>
} @* masterPlantView.Terminal_Manager.Visible (end) *@
@if (masterPlantView.PRL.Visible) { // masterPlantView.PRL.Visible (begin)
    <tr id="r_PRL" @Html.Raw(masterPlantView.PRL.RowAttributes)>
        <td class="@(masterPlantView.TableLeftColumnClass)"><span id="elh_MasterPlant_PRL">@Html.Raw(masterPlantView.PRL.Caption)</span></td>
        <td data-name="PRL" @Html.Raw(masterPlantView.PRL.CellAttributes)>
<span id="el_MasterPlant_PRL">
<span @Html.Raw(masterPlantView.PRL.ViewAttributes)>
@Html.Raw(masterPlantView.PRL.GetViewValue())</span>
</span></td>
    </tr>
} @* masterPlantView.PRL.Visible (end) *@
@if (masterPlantView.Status.Visible) { // masterPlantView.Status.Visible (begin)
    <tr id="r_Status" @Html.Raw(masterPlantView.Status.RowAttributes)>
        <td class="@(masterPlantView.TableLeftColumnClass)"><span id="elh_MasterPlant_Status">@Html.Raw(masterPlantView.Status.Caption)</span></td>
        <td data-name="Status" @Html.Raw(masterPlantView.Status.CellAttributes)>
<span id="el_MasterPlant_Status">
<span @Html.Raw(masterPlantView.Status.ViewAttributes)>
@Html.Raw(masterPlantView.Status.GetViewValue())</span>
</span></td>
    </tr>
} @* masterPlantView.Status.Visible (end) *@
@if (masterPlantView.Terminal_Induk.Visible) { // masterPlantView.Terminal_Induk.Visible (begin)
    <tr id="r_Terminal_Induk" @Html.Raw(masterPlantView.Terminal_Induk.RowAttributes)>
        <td class="@(masterPlantView.TableLeftColumnClass)"><span id="elh_MasterPlant_Terminal_Induk">@Html.Raw(masterPlantView.Terminal_Induk.Caption)</span></td>
        <td data-name="Terminal_Induk" @Html.Raw(masterPlantView.Terminal_Induk.CellAttributes)>
<span id="el_MasterPlant_Terminal_Induk">
<span @Html.Raw(masterPlantView.Terminal_Induk.ViewAttributes)>
@Html.Raw(masterPlantView.Terminal_Induk.GetViewValue())</span>
</span></td>
    </tr>
} @* masterPlantView.Terminal_Induk.Visible (end) *@
@if (masterPlantView.Nama_Terminal.Visible) { // masterPlantView.Nama_Terminal.Visible (begin)
    <tr id="r_Nama_Terminal" @Html.Raw(masterPlantView.Nama_Terminal.RowAttributes)>
        <td class="@(masterPlantView.TableLeftColumnClass)"><span id="elh_MasterPlant_Nama_Terminal">@Html.Raw(masterPlantView.Nama_Terminal.Caption)</span></td>
        <td data-name="Nama_Terminal" @Html.Raw(masterPlantView.Nama_Terminal.CellAttributes)>
<span id="el_MasterPlant_Nama_Terminal">
<span @Html.Raw(masterPlantView.Nama_Terminal.ViewAttributes)>
@Html.Raw(masterPlantView.Nama_Terminal.GetViewValue())</span>
</span></td>
    </tr>
} @* masterPlantView.Nama_Terminal.Visible (end) *@
@if (masterPlantView.Region.Visible) { // masterPlantView.Region.Visible (begin)
    <tr id="r_Region" @Html.Raw(masterPlantView.Region.RowAttributes)>
        <td class="@(masterPlantView.TableLeftColumnClass)"><span id="elh_MasterPlant_Region">@Html.Raw(masterPlantView.Region.Caption)</span></td>
        <td data-name="Region" @Html.Raw(masterPlantView.Region.CellAttributes)>
<span id="el_MasterPlant_Region">
<span @Html.Raw(masterPlantView.Region.ViewAttributes)>
@Html.Raw(masterPlantView.Region.GetViewValue())</span>
</span></td>
    </tr>
} @* masterPlantView.Region.Visible (end) *@
@if (masterPlantView.Fungsi.Visible) { // masterPlantView.Fungsi.Visible (begin)
    <tr id="r_Fungsi" @Html.Raw(masterPlantView.Fungsi.RowAttributes)>
        <td class="@(masterPlantView.TableLeftColumnClass)"><span id="elh_MasterPlant_Fungsi">@Html.Raw(masterPlantView.Fungsi.Caption)</span></td>
        <td data-name="Fungsi" @Html.Raw(masterPlantView.Fungsi.CellAttributes)>
<span id="el_MasterPlant_Fungsi">
<span @Html.Raw(masterPlantView.Fungsi.ViewAttributes)>
@Html.Raw(masterPlantView.Fungsi.GetViewValue())</span>
</span></td>
    </tr>
} @* masterPlantView.Fungsi.Visible (end) *@
@if (masterPlantView.Cost_Center.Visible) { // masterPlantView.Cost_Center.Visible (begin)
    <tr id="r_Cost_Center" @Html.Raw(masterPlantView.Cost_Center.RowAttributes)>
        <td class="@(masterPlantView.TableLeftColumnClass)"><span id="elh_MasterPlant_Cost_Center">@Html.Raw(masterPlantView.Cost_Center.Caption)</span></td>
        <td data-name="Cost_Center" @Html.Raw(masterPlantView.Cost_Center.CellAttributes)>
<span id="el_MasterPlant_Cost_Center">
<span @Html.Raw(masterPlantView.Cost_Center.ViewAttributes)>
@Html.Raw(masterPlantView.Cost_Center.GetViewValue())</span>
</span></td>
    </tr>
} @* masterPlantView.Cost_Center.Visible (end) *@
@if (masterPlantView.Jenis.Visible) { // masterPlantView.Jenis.Visible (begin)
    <tr id="r_Jenis" @Html.Raw(masterPlantView.Jenis.RowAttributes)>
        <td class="@(masterPlantView.TableLeftColumnClass)"><span id="elh_MasterPlant_Jenis">@Html.Raw(masterPlantView.Jenis.Caption)</span></td>
        <td data-name="Jenis" @Html.Raw(masterPlantView.Jenis.CellAttributes)>
<span id="el_MasterPlant_Jenis">
<span @Html.Raw(masterPlantView.Jenis.ViewAttributes)>
@Html.Raw(masterPlantView.Jenis.GetViewValue())</span>
</span></td>
    </tr>
} @* masterPlantView.Jenis.Visible (end) *@
@if (masterPlantView.Plant.Visible) { // masterPlantView.Plant.Visible (begin)
    <tr id="r_Plant" @Html.Raw(masterPlantView.Plant.RowAttributes)>
        <td class="@(masterPlantView.TableLeftColumnClass)"><span id="elh_MasterPlant_Plant">@Html.Raw(masterPlantView.Plant.Caption)</span></td>
        <td data-name="Plant" @Html.Raw(masterPlantView.Plant.CellAttributes)>
<span id="el_MasterPlant_Plant">
<span @Html.Raw(masterPlantView.Plant.ViewAttributes)>
@Html.Raw(masterPlantView.Plant.GetViewValue())</span>
</span></td>
    </tr>
} @* masterPlantView.Plant.Visible (end) *@
@if (masterPlantView.UTC.Visible) { // masterPlantView.UTC.Visible (begin)
    <tr id="r_UTC" @Html.Raw(masterPlantView.UTC.RowAttributes)>
        <td class="@(masterPlantView.TableLeftColumnClass)"><span id="elh_MasterPlant_UTC">@Html.Raw(masterPlantView.UTC.Caption)</span></td>
        <td data-name="UTC" @Html.Raw(masterPlantView.UTC.CellAttributes)>
<span id="el_MasterPlant_UTC">
<span @Html.Raw(masterPlantView.UTC.ViewAttributes)>
@Html.Raw(masterPlantView.UTC.GetViewValue())</span>
</span></td>
    </tr>
} @* masterPlantView.UTC.Visible (end) *@
@if (masterPlantView.TipeProduk.Visible) { // masterPlantView.TipeProduk.Visible (begin)
    <tr id="r_TipeProduk" @Html.Raw(masterPlantView.TipeProduk.RowAttributes)>
        <td class="@(masterPlantView.TableLeftColumnClass)"><span id="elh_MasterPlant_TipeProduk">@Html.Raw(masterPlantView.TipeProduk.Caption)</span></td>
        <td data-name="TipeProduk" @Html.Raw(masterPlantView.TipeProduk.CellAttributes)>
<span id="el_MasterPlant_TipeProduk">
<span @Html.Raw(masterPlantView.TipeProduk.ViewAttributes)>
@Html.Raw(masterPlantView.TipeProduk.GetViewValue())</span>
</span></td>
    </tr>
} @* masterPlantView.TipeProduk.Visible (end) *@
@if (masterPlantView.JenisPlant.Visible) { // masterPlantView.JenisPlant.Visible (begin)
    <tr id="r_JenisPlant" @Html.Raw(masterPlantView.JenisPlant.RowAttributes)>
        <td class="@(masterPlantView.TableLeftColumnClass)"><span id="elh_MasterPlant_JenisPlant">@Html.Raw(masterPlantView.JenisPlant.Caption)</span></td>
        <td data-name="JenisPlant" @Html.Raw(masterPlantView.JenisPlant.CellAttributes)>
<span id="el_MasterPlant_JenisPlant">
<span @Html.Raw(masterPlantView.JenisPlant.ViewAttributes)>
@Html.Raw(masterPlantView.JenisPlant.GetViewValue())</span>
</span></td>
    </tr>
} @* masterPlantView.JenisPlant.Visible (end) *@
@if (masterPlantView.DibuatOleh.Visible) { // masterPlantView.DibuatOleh.Visible (begin)
    <tr id="r_DibuatOleh" @Html.Raw(masterPlantView.DibuatOleh.RowAttributes)>
        <td class="@(masterPlantView.TableLeftColumnClass)"><span id="elh_MasterPlant_DibuatOleh">@Html.Raw(masterPlantView.DibuatOleh.Caption)</span></td>
        <td data-name="DibuatOleh" @Html.Raw(masterPlantView.DibuatOleh.CellAttributes)>
<span id="el_MasterPlant_DibuatOleh">
<span @Html.Raw(masterPlantView.DibuatOleh.ViewAttributes)>
@Html.Raw(masterPlantView.DibuatOleh.GetViewValue())</span>
</span></td>
    </tr>
} @* masterPlantView.DibuatOleh.Visible (end) *@
@if (masterPlantView.TanggalDibuat.Visible) { // masterPlantView.TanggalDibuat.Visible (begin)
    <tr id="r_TanggalDibuat" @Html.Raw(masterPlantView.TanggalDibuat.RowAttributes)>
        <td class="@(masterPlantView.TableLeftColumnClass)"><span id="elh_MasterPlant_TanggalDibuat">@Html.Raw(masterPlantView.TanggalDibuat.Caption)</span></td>
        <td data-name="TanggalDibuat" @Html.Raw(masterPlantView.TanggalDibuat.CellAttributes)>
<span id="el_MasterPlant_TanggalDibuat">
<span @Html.Raw(masterPlantView.TanggalDibuat.ViewAttributes)>
@Html.Raw(masterPlantView.TanggalDibuat.GetViewValue())</span>
</span></td>
    </tr>
} @* masterPlantView.TanggalDibuat.Visible (end) *@
@if (masterPlantView.DiperbaruiOleh.Visible) { // masterPlantView.DiperbaruiOleh.Visible (begin)
    <tr id="r_DiperbaruiOleh" @Html.Raw(masterPlantView.DiperbaruiOleh.RowAttributes)>
        <td class="@(masterPlantView.TableLeftColumnClass)"><span id="elh_MasterPlant_DiperbaruiOleh">@Html.Raw(masterPlantView.DiperbaruiOleh.Caption)</span></td>
        <td data-name="DiperbaruiOleh" @Html.Raw(masterPlantView.DiperbaruiOleh.CellAttributes)>
<span id="el_MasterPlant_DiperbaruiOleh">
<span @Html.Raw(masterPlantView.DiperbaruiOleh.ViewAttributes)>
@Html.Raw(masterPlantView.DiperbaruiOleh.GetViewValue())</span>
</span></td>
    </tr>
} @* masterPlantView.DiperbaruiOleh.Visible (end) *@
@if (masterPlantView.TanggalDiperbarui.Visible) { // masterPlantView.TanggalDiperbarui.Visible (begin)
    <tr id="r_TanggalDiperbarui" @Html.Raw(masterPlantView.TanggalDiperbarui.RowAttributes)>
        <td class="@(masterPlantView.TableLeftColumnClass)"><span id="elh_MasterPlant_TanggalDiperbarui">@Html.Raw(masterPlantView.TanggalDiperbarui.Caption)</span></td>
        <td data-name="TanggalDiperbarui" @Html.Raw(masterPlantView.TanggalDiperbarui.CellAttributes)>
<span id="el_MasterPlant_TanggalDiperbarui">
<span @Html.Raw(masterPlantView.TanggalDiperbarui.ViewAttributes)>
@Html.Raw(masterPlantView.TanggalDiperbarui.GetViewValue())</span>
</span></td>
    </tr>
} @* masterPlantView.TanggalDiperbarui.Visible (end) *@
</table>
@{ masterPlantView.CloseRecordset(); }
</form>
</main>
@masterPlantView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!masterPlantView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
