@{
    // View
    View = this;

    // Check action result
    if (masterPositionEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = masterPositionEdit.UseLayout ? "_Layout" : "";
}
@masterPositionEdit.ShowPageHeader()
@masterPositionEdit.ShowMessages()
<main class="edit">
<form name="fMasterPositionedit" id="fMasterPositionedit" class="@(masterPositionEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(masterPositionEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MasterPosition: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fMasterPositionedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMasterPositionedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["IdPosition", [fields.IdPosition.visible && fields.IdPosition.required ? ew.Validators.required(fields.IdPosition.caption) : null, ew.Validators.integer], fields.IdPosition.isInvalid],
            ["NamaPosition", [fields.NamaPosition.visible && fields.NamaPosition.required ? ew.Validators.required(fields.NamaPosition.caption) : null], fields.NamaPosition.isInvalid],
            ["Location", [fields.Location.visible && fields.Location.required ? ew.Validators.required(fields.Location.caption) : null], fields.Location.isInvalid],
            ["_UserLevel", [fields._UserLevel.visible && fields._UserLevel.required ? ew.Validators.required(fields._UserLevel.caption) : null], fields._UserLevel.isInvalid],
            ["Role", [fields.Role.visible && fields.Role.required ? ew.Validators.required(fields.Role.caption) : null], fields.Role.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "_UserLevel": @Html.Raw(masterPositionEdit._UserLevel.ToClientList(masterPositionEdit)),
            "Role": @Html.Raw(masterPositionEdit.Role.ToClientList(masterPositionEdit)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(masterPositionEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(masterPositionEdit.OldKeyName)" value="@Html.Raw(masterPositionEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (masterPositionEdit.IdPosition.Visible) { // masterPositionEdit.IdPosition.Visible (begin)
    <div id="r_IdPosition" @Html.Raw(masterPositionEdit.IdPosition.RowAttributes)>
        <label id="elh_MasterPosition_IdPosition" for="x_IdPosition" class="@(masterPositionEdit.LeftColumnClass)">@Html.Raw(masterPositionEdit.IdPosition.Caption)@Html.Raw(masterPositionEdit.IdPosition.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterPositionEdit.RightColumnClass)"><div @Html.Raw(masterPositionEdit.IdPosition.CellAttributes)>
<span id="el_MasterPosition_IdPosition">
<input type="@(masterPositionEdit.IdPosition.InputTextType)" name="x_IdPosition" id="x_IdPosition" data-table="MasterPosition" data-field="x_IdPosition" value="@Html.Raw(masterPositionEdit.IdPosition.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(masterPositionEdit.IdPosition.PlaceHolder))" data-format-pattern="@(masterPositionEdit.IdPosition.FormatPattern)"@Html.Raw(masterPositionEdit.IdPosition.EditAttributes) aria-describedby="x_IdPosition_help">
@Html.Raw(masterPositionEdit.IdPosition.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterPositionEdit.IdPosition.GetErrorMessage())</div>
<input type="hidden" data-table="MasterPosition" data-field="x_IdPosition" data-hidden="1" data-old name="o_IdPosition" id="o_IdPosition" value="@Html.Raw(HtmlEncode(masterPositionEdit.IdPosition.OldValue ?? masterPositionEdit.IdPosition.CurrentValue))">
</span>
</div></div>
    </div>
} @* masterPositionEdit.IdPosition.Visible (end) *@
@if (masterPositionEdit.NamaPosition.Visible) { // masterPositionEdit.NamaPosition.Visible (begin)
    <div id="r_NamaPosition" @Html.Raw(masterPositionEdit.NamaPosition.RowAttributes)>
        <label id="elh_MasterPosition_NamaPosition" for="x_NamaPosition" class="@(masterPositionEdit.LeftColumnClass)">@Html.Raw(masterPositionEdit.NamaPosition.Caption)@Html.Raw(masterPositionEdit.NamaPosition.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterPositionEdit.RightColumnClass)"><div @Html.Raw(masterPositionEdit.NamaPosition.CellAttributes)>
<span id="el_MasterPosition_NamaPosition">
<input type="@(masterPositionEdit.NamaPosition.InputTextType)" name="x_NamaPosition" id="x_NamaPosition" data-table="MasterPosition" data-field="x_NamaPosition" value="@Html.Raw(masterPositionEdit.NamaPosition.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(masterPositionEdit.NamaPosition.PlaceHolder))" data-format-pattern="@(masterPositionEdit.NamaPosition.FormatPattern)"@Html.Raw(masterPositionEdit.NamaPosition.EditAttributes) aria-describedby="x_NamaPosition_help">
@Html.Raw(masterPositionEdit.NamaPosition.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterPositionEdit.NamaPosition.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* masterPositionEdit.NamaPosition.Visible (end) *@
@if (masterPositionEdit.Location.Visible) { // masterPositionEdit.Location.Visible (begin)
    <div id="r_Location" @Html.Raw(masterPositionEdit.Location.RowAttributes)>
        <label id="elh_MasterPosition_Location" for="x_Location" class="@(masterPositionEdit.LeftColumnClass)">@Html.Raw(masterPositionEdit.Location.Caption)@Html.Raw(masterPositionEdit.Location.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterPositionEdit.RightColumnClass)"><div @Html.Raw(masterPositionEdit.Location.CellAttributes)>
<span id="el_MasterPosition_Location">
<input type="@(masterPositionEdit.Location.InputTextType)" name="x_Location" id="x_Location" data-table="MasterPosition" data-field="x_Location" value="@Html.Raw(masterPositionEdit.Location.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(masterPositionEdit.Location.PlaceHolder))" data-format-pattern="@(masterPositionEdit.Location.FormatPattern)"@Html.Raw(masterPositionEdit.Location.EditAttributes) aria-describedby="x_Location_help">
@Html.Raw(masterPositionEdit.Location.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterPositionEdit.Location.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* masterPositionEdit.Location.Visible (end) *@
@if (masterPositionEdit._UserLevel.Visible) { // masterPositionEdit._UserLevel.Visible (begin)
    <div id="r__UserLevel" @Html.Raw(masterPositionEdit._UserLevel.RowAttributes)>
        <label id="elh_MasterPosition__UserLevel" for="x__UserLevel" class="@(masterPositionEdit.LeftColumnClass)">@Html.Raw(masterPositionEdit._UserLevel.Caption)@Html.Raw(masterPositionEdit._UserLevel.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterPositionEdit.RightColumnClass)"><div @Html.Raw(masterPositionEdit._UserLevel.CellAttributes)>
<span id="el_MasterPosition__UserLevel">
    <select
        id="x__UserLevel"
        name="x__UserLevel"
        class="form-select ew-select@(masterPositionEdit._UserLevel.IsInvalidClass)"
        data-select2-id="fMasterPositionedit_x__UserLevel"
        data-table="MasterPosition"
        data-field="x__UserLevel"
        data-value-separator="@(masterPositionEdit._UserLevel.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(masterPositionEdit._UserLevel.PlaceHolder))"
        @Html.Raw(masterPositionEdit._UserLevel.EditAttributes)>
        @(masterPositionEdit._UserLevel.SelectOptionListHtml("x__UserLevel"))
    </select>
    @Html.Raw(masterPositionEdit._UserLevel.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(masterPositionEdit._UserLevel.GetErrorMessage())</div>
@Html.Raw(masterPositionEdit._UserLevel.Lookup.GetParamTag(masterPositionEdit, "p_x__UserLevel"))
<script>
loadjs.ready("fMasterPositionedit", function() {
    var options = { name: "x__UserLevel", selectId: "fMasterPositionedit_x__UserLevel" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fMasterPositionedit.lists._UserLevel?.lookupOptions.length) {
        options.data = { id: "x__UserLevel", form: "fMasterPositionedit" };
    } else {
        options.ajax = { id: "x__UserLevel", form: "fMasterPositionedit", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumInputLength = ew.selectMinimumInputLength;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.MasterPosition.fields._UserLevel.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
</div></div>
    </div>
} @* masterPositionEdit._UserLevel.Visible (end) *@
@if (masterPositionEdit.Role.Visible) { // masterPositionEdit.Role.Visible (begin)
    <div id="r_Role" @Html.Raw(masterPositionEdit.Role.RowAttributes)>
        <label id="elh_MasterPosition_Role" for="x_Role" class="@(masterPositionEdit.LeftColumnClass)">@Html.Raw(masterPositionEdit.Role.Caption)@Html.Raw(masterPositionEdit.Role.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterPositionEdit.RightColumnClass)"><div @Html.Raw(masterPositionEdit.Role.CellAttributes)>
<span id="el_MasterPosition_Role">
    <select
        id="x_Role"
        name="x_Role"
        class="form-select ew-select@(masterPositionEdit.Role.IsInvalidClass)"
        data-select2-id="fMasterPositionedit_x_Role"
        data-table="MasterPosition"
        data-field="x_Role"
        data-value-separator="@(masterPositionEdit.Role.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(masterPositionEdit.Role.PlaceHolder))"
        @Html.Raw(masterPositionEdit.Role.EditAttributes)>
        @(masterPositionEdit.Role.SelectOptionListHtml("x_Role"))
    </select>
    @Html.Raw(masterPositionEdit.Role.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(masterPositionEdit.Role.GetErrorMessage())</div>
@Html.Raw(masterPositionEdit.Role.Lookup.GetParamTag(masterPositionEdit, "p_x_Role"))
<script>
loadjs.ready("fMasterPositionedit", function() {
    var options = { name: "x_Role", selectId: "fMasterPositionedit_x_Role" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fMasterPositionedit.lists.Role?.lookupOptions.length) {
        options.data = { id: "x_Role", form: "fMasterPositionedit" };
    } else {
        options.ajax = { id: "x_Role", form: "fMasterPositionedit", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumInputLength = ew.selectMinimumInputLength;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.MasterPosition.fields.Role.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
</div></div>
    </div>
} @* masterPositionEdit.Role.Visible (end) *@
</div><!-- /page* -->
@{ masterPositionEdit.CloseRecordset(); }
@Html.Raw(masterPositionEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(masterPositionEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fMasterPositionedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fMasterPositionedit" data-href="@AppPath(masterPositionEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(masterPositionEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@masterPositionEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("MasterPosition");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
