@{
    // View
    View = this;

    // Check action result
    if (masterTangkiView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = masterTangkiView.UseLayout ? "_Layout" : "";
}
@if (!masterTangkiView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @masterTangkiView.ExportOptions.RenderBody()
    @masterTangkiView.OtherOptions.RenderBody()
</div>
}
@masterTangkiView.ShowPageHeader()
@masterTangkiView.ShowMessages()
<main class="view">
<form name="fMasterTangkiview" id="fMasterTangkiview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!masterTangkiView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(masterTangkiView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MasterTangki: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fMasterTangkiview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMasterTangkiview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(masterTangkiView.IsModal)">
<table class="@(masterTangkiView.TableClass)">
@if (masterTangkiView.id.Visible) { // masterTangkiView.id.Visible (begin)
    <tr id="r_id" @Html.Raw(masterTangkiView.id.RowAttributes)>
        <td class="@(masterTangkiView.TableLeftColumnClass)"><span id="elh_MasterTangki_id">@Html.Raw(masterTangkiView.id.Caption)</span></td>
        <td data-name="id" @Html.Raw(masterTangkiView.id.CellAttributes)>
<span id="el_MasterTangki_id">
<span @Html.Raw(masterTangkiView.id.ViewAttributes)>
@Html.Raw(masterTangkiView.id.GetViewValue())</span>
</span></td>
    </tr>
} @* masterTangkiView.id.Visible (end) *@
@if (masterTangkiView.NamaTerminal.Visible) { // masterTangkiView.NamaTerminal.Visible (begin)
    <tr id="r_NamaTerminal" @Html.Raw(masterTangkiView.NamaTerminal.RowAttributes)>
        <td class="@(masterTangkiView.TableLeftColumnClass)"><span id="elh_MasterTangki_NamaTerminal">@Html.Raw(masterTangkiView.NamaTerminal.Caption)</span></td>
        <td data-name="NamaTerminal" @Html.Raw(masterTangkiView.NamaTerminal.CellAttributes)>
<span id="el_MasterTangki_NamaTerminal">
<span @Html.Raw(masterTangkiView.NamaTerminal.ViewAttributes)>
@Html.Raw(masterTangkiView.NamaTerminal.GetViewValue())</span>
</span></td>
    </tr>
} @* masterTangkiView.NamaTerminal.Visible (end) *@
@if (masterTangkiView.Plant.Visible) { // masterTangkiView.Plant.Visible (begin)
    <tr id="r_Plant" @Html.Raw(masterTangkiView.Plant.RowAttributes)>
        <td class="@(masterTangkiView.TableLeftColumnClass)"><span id="elh_MasterTangki_Plant">@Html.Raw(masterTangkiView.Plant.Caption)</span></td>
        <td data-name="Plant" @Html.Raw(masterTangkiView.Plant.CellAttributes)>
<span id="el_MasterTangki_Plant">
<span @Html.Raw(masterTangkiView.Plant.ViewAttributes)>
@Html.Raw(masterTangkiView.Plant.GetViewValue())</span>
</span></td>
    </tr>
} @* masterTangkiView.Plant.Visible (end) *@
@if (masterTangkiView.Sloc.Visible) { // masterTangkiView.Sloc.Visible (begin)
    <tr id="r_Sloc" @Html.Raw(masterTangkiView.Sloc.RowAttributes)>
        <td class="@(masterTangkiView.TableLeftColumnClass)"><span id="elh_MasterTangki_Sloc">@Html.Raw(masterTangkiView.Sloc.Caption)</span></td>
        <td data-name="Sloc" @Html.Raw(masterTangkiView.Sloc.CellAttributes)>
<span id="el_MasterTangki_Sloc">
<span @Html.Raw(masterTangkiView.Sloc.ViewAttributes)>
@Html.Raw(masterTangkiView.Sloc.GetViewValue())</span>
</span></td>
    </tr>
} @* masterTangkiView.Sloc.Visible (end) *@
@if (masterTangkiView.SeqTangki.Visible) { // masterTangkiView.SeqTangki.Visible (begin)
    <tr id="r_SeqTangki" @Html.Raw(masterTangkiView.SeqTangki.RowAttributes)>
        <td class="@(masterTangkiView.TableLeftColumnClass)"><span id="elh_MasterTangki_SeqTangki">@Html.Raw(masterTangkiView.SeqTangki.Caption)</span></td>
        <td data-name="SeqTangki" @Html.Raw(masterTangkiView.SeqTangki.CellAttributes)>
<span id="el_MasterTangki_SeqTangki">
<span @Html.Raw(masterTangkiView.SeqTangki.ViewAttributes)>
@Html.Raw(masterTangkiView.SeqTangki.GetViewValue())</span>
</span></td>
    </tr>
} @* masterTangkiView.SeqTangki.Visible (end) *@
@if (masterTangkiView.MatNo.Visible) { // masterTangkiView.MatNo.Visible (begin)
    <tr id="r_MatNo" @Html.Raw(masterTangkiView.MatNo.RowAttributes)>
        <td class="@(masterTangkiView.TableLeftColumnClass)"><span id="elh_MasterTangki_MatNo">@Html.Raw(masterTangkiView.MatNo.Caption)</span></td>
        <td data-name="MatNo" @Html.Raw(masterTangkiView.MatNo.CellAttributes)>
<span id="el_MasterTangki_MatNo">
<span @Html.Raw(masterTangkiView.MatNo.ViewAttributes)>
@Html.Raw(masterTangkiView.MatNo.GetViewValue())</span>
</span></td>
    </tr>
} @* masterTangkiView.MatNo.Visible (end) *@
@if (masterTangkiView.TglKalibrasi.Visible) { // masterTangkiView.TglKalibrasi.Visible (begin)
    <tr id="r_TglKalibrasi" @Html.Raw(masterTangkiView.TglKalibrasi.RowAttributes)>
        <td class="@(masterTangkiView.TableLeftColumnClass)"><span id="elh_MasterTangki_TglKalibrasi">@Html.Raw(masterTangkiView.TglKalibrasi.Caption)</span></td>
        <td data-name="TglKalibrasi" @Html.Raw(masterTangkiView.TglKalibrasi.CellAttributes)>
<span id="el_MasterTangki_TglKalibrasi">
<span @Html.Raw(masterTangkiView.TglKalibrasi.ViewAttributes)>
@Html.Raw(masterTangkiView.TglKalibrasi.GetViewValue())</span>
</span></td>
    </tr>
} @* masterTangkiView.TglKalibrasi.Visible (end) *@
@if (masterTangkiView.ExpDate.Visible) { // masterTangkiView.ExpDate.Visible (begin)
    <tr id="r_ExpDate" @Html.Raw(masterTangkiView.ExpDate.RowAttributes)>
        <td class="@(masterTangkiView.TableLeftColumnClass)"><span id="elh_MasterTangki_ExpDate">@Html.Raw(masterTangkiView.ExpDate.Caption)</span></td>
        <td data-name="ExpDate" @Html.Raw(masterTangkiView.ExpDate.CellAttributes)>
<span id="el_MasterTangki_ExpDate">
<span @Html.Raw(masterTangkiView.ExpDate.ViewAttributes)>
@Html.Raw(masterTangkiView.ExpDate.GetViewValue())</span>
</span></td>
    </tr>
} @* masterTangkiView.ExpDate.Visible (end) *@
@if (masterTangkiView.Status.Visible) { // masterTangkiView.Status.Visible (begin)
    <tr id="r_Status" @Html.Raw(masterTangkiView.Status.RowAttributes)>
        <td class="@(masterTangkiView.TableLeftColumnClass)"><span id="elh_MasterTangki_Status">@Html.Raw(masterTangkiView.Status.Caption)</span></td>
        <td data-name="Status" @Html.Raw(masterTangkiView.Status.CellAttributes)>
<span id="el_MasterTangki_Status">
<span @Html.Raw(masterTangkiView.Status.ViewAttributes)>
@Html.Raw(masterTangkiView.Status.GetViewValue())</span>
</span></td>
    </tr>
} @* masterTangkiView.Status.Visible (end) *@
@if (masterTangkiView.TinggiMejaUk.Visible) { // masterTangkiView.TinggiMejaUk.Visible (begin)
    <tr id="r_TinggiMejaUk" @Html.Raw(masterTangkiView.TinggiMejaUk.RowAttributes)>
        <td class="@(masterTangkiView.TableLeftColumnClass)"><span id="elh_MasterTangki_TinggiMejaUk">@Html.Raw(masterTangkiView.TinggiMejaUk.Caption)</span></td>
        <td data-name="TinggiMejaUk" @Html.Raw(masterTangkiView.TinggiMejaUk.CellAttributes)>
<span id="el_MasterTangki_TinggiMejaUk">
<span @Html.Raw(masterTangkiView.TinggiMejaUk.ViewAttributes)>
@Html.Raw(masterTangkiView.TinggiMejaUk.GetViewValue())</span>
</span></td>
    </tr>
} @* masterTangkiView.TinggiMejaUk.Visible (end) *@
@if (masterTangkiView.MaxDipping.Visible) { // masterTangkiView.MaxDipping.Visible (begin)
    <tr id="r_MaxDipping" @Html.Raw(masterTangkiView.MaxDipping.RowAttributes)>
        <td class="@(masterTangkiView.TableLeftColumnClass)"><span id="elh_MasterTangki_MaxDipping">@Html.Raw(masterTangkiView.MaxDipping.Caption)</span></td>
        <td data-name="MaxDipping" @Html.Raw(masterTangkiView.MaxDipping.CellAttributes)>
<span id="el_MasterTangki_MaxDipping">
<span @Html.Raw(masterTangkiView.MaxDipping.ViewAttributes)>
@Html.Raw(masterTangkiView.MaxDipping.GetViewValue())</span>
</span></td>
    </tr>
} @* masterTangkiView.MaxDipping.Visible (end) *@
@if (masterTangkiView.MaxCapacity.Visible) { // masterTangkiView.MaxCapacity.Visible (begin)
    <tr id="r_MaxCapacity" @Html.Raw(masterTangkiView.MaxCapacity.RowAttributes)>
        <td class="@(masterTangkiView.TableLeftColumnClass)"><span id="elh_MasterTangki_MaxCapacity">@Html.Raw(masterTangkiView.MaxCapacity.Caption)</span></td>
        <td data-name="MaxCapacity" @Html.Raw(masterTangkiView.MaxCapacity.CellAttributes)>
<span id="el_MasterTangki_MaxCapacity">
<span @Html.Raw(masterTangkiView.MaxCapacity.ViewAttributes)>
@Html.Raw(masterTangkiView.MaxCapacity.GetViewValue())</span>
</span></td>
    </tr>
} @* masterTangkiView.MaxCapacity.Visible (end) *@
@if (masterTangkiView.UnpumpableQty.Visible) { // masterTangkiView.UnpumpableQty.Visible (begin)
    <tr id="r_UnpumpableQty" @Html.Raw(masterTangkiView.UnpumpableQty.RowAttributes)>
        <td class="@(masterTangkiView.TableLeftColumnClass)"><span id="elh_MasterTangki_UnpumpableQty">@Html.Raw(masterTangkiView.UnpumpableQty.Caption)</span></td>
        <td data-name="UnpumpableQty" @Html.Raw(masterTangkiView.UnpumpableQty.CellAttributes)>
<span id="el_MasterTangki_UnpumpableQty">
<span @Html.Raw(masterTangkiView.UnpumpableQty.ViewAttributes)>
@Html.Raw(masterTangkiView.UnpumpableQty.GetViewValue())</span>
</span></td>
    </tr>
} @* masterTangkiView.UnpumpableQty.Visible (end) *@
@if (masterTangkiView.PumpableQty.Visible) { // masterTangkiView.PumpableQty.Visible (begin)
    <tr id="r_PumpableQty" @Html.Raw(masterTangkiView.PumpableQty.RowAttributes)>
        <td class="@(masterTangkiView.TableLeftColumnClass)"><span id="elh_MasterTangki_PumpableQty">@Html.Raw(masterTangkiView.PumpableQty.Caption)</span></td>
        <td data-name="PumpableQty" @Html.Raw(masterTangkiView.PumpableQty.CellAttributes)>
<span id="el_MasterTangki_PumpableQty">
<span @Html.Raw(masterTangkiView.PumpableQty.ViewAttributes)>
@Html.Raw(masterTangkiView.PumpableQty.GetViewValue())</span>
</span></td>
    </tr>
} @* masterTangkiView.PumpableQty.Visible (end) *@
@if (masterTangkiView.etlDate.Visible) { // masterTangkiView.etlDate.Visible (begin)
    <tr id="r_etlDate" @Html.Raw(masterTangkiView.etlDate.RowAttributes)>
        <td class="@(masterTangkiView.TableLeftColumnClass)"><span id="elh_MasterTangki_etlDate">@Html.Raw(masterTangkiView.etlDate.Caption)</span></td>
        <td data-name="etlDate" @Html.Raw(masterTangkiView.etlDate.CellAttributes)>
<span id="el_MasterTangki_etlDate">
<span @Html.Raw(masterTangkiView.etlDate.ViewAttributes)>
@Html.Raw(masterTangkiView.etlDate.GetViewValue())</span>
</span></td>
    </tr>
} @* masterTangkiView.etlDate.Visible (end) *@
@if (masterTangkiView.LastUpdatedBy.Visible) { // masterTangkiView.LastUpdatedBy.Visible (begin)
    <tr id="r_LastUpdatedBy" @Html.Raw(masterTangkiView.LastUpdatedBy.RowAttributes)>
        <td class="@(masterTangkiView.TableLeftColumnClass)"><span id="elh_MasterTangki_LastUpdatedBy">@Html.Raw(masterTangkiView.LastUpdatedBy.Caption)</span></td>
        <td data-name="LastUpdatedBy" @Html.Raw(masterTangkiView.LastUpdatedBy.CellAttributes)>
<span id="el_MasterTangki_LastUpdatedBy">
<span @Html.Raw(masterTangkiView.LastUpdatedBy.ViewAttributes)>
@Html.Raw(masterTangkiView.LastUpdatedBy.GetViewValue())</span>
</span></td>
    </tr>
} @* masterTangkiView.LastUpdatedBy.Visible (end) *@
@if (masterTangkiView.lastUpdatedDate.Visible) { // masterTangkiView.lastUpdatedDate.Visible (begin)
    <tr id="r_lastUpdatedDate" @Html.Raw(masterTangkiView.lastUpdatedDate.RowAttributes)>
        <td class="@(masterTangkiView.TableLeftColumnClass)"><span id="elh_MasterTangki_lastUpdatedDate">@Html.Raw(masterTangkiView.lastUpdatedDate.Caption)</span></td>
        <td data-name="lastUpdatedDate" @Html.Raw(masterTangkiView.lastUpdatedDate.CellAttributes)>
<span id="el_MasterTangki_lastUpdatedDate">
<span @Html.Raw(masterTangkiView.lastUpdatedDate.ViewAttributes)>
@Html.Raw(masterTangkiView.lastUpdatedDate.GetViewValue())</span>
</span></td>
    </tr>
} @* masterTangkiView.lastUpdatedDate.Visible (end) *@
</table>
@{ masterTangkiView.CloseRecordset(); }
</form>
</main>
@masterTangkiView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!masterTangkiView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
