@{
    // View
    View = this;

    // Check action result
    if (masterUserDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = masterUserDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(masterUserDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MasterUser: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fMasterUserdelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMasterUserdelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Client script
    $('#fMasterUserdelete').on('submit', function (e) {
        e.preventDefault();
        showLoading();
        setTimeout(() => {
            hideLoading();
        }, 3000);
        this.requestSubmit();
    });
});
</script>
@masterUserDelete.ShowPageHeader()
@masterUserDelete.ShowMessages()
<form name="fMasterUserdelete" id="fMasterUserdelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in masterUserDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(masterUserDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(masterUserDelete.TableContainerClass)" style="@(masterUserDelete.TableContainerStyle)">
<table class="@(masterUserDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (masterUserDelete._Email.Visible) { // masterUserDelete._Email.Visible (begin)
        <th class="@Html.Raw(masterUserDelete._Email.HeaderCellClass)"><span id="elh_MasterUser__Email" class="MasterUser__Email">@Html.Raw(masterUserDelete._Email.Caption)</span></th>
} @* masterUserDelete._Email.Visible (end) *@
@if (masterUserDelete._Username.Visible) { // masterUserDelete._Username.Visible (begin)
        <th class="@Html.Raw(masterUserDelete._Username.HeaderCellClass)"><span id="elh_MasterUser__Username" class="MasterUser__Username">@Html.Raw(masterUserDelete._Username.Caption)</span></th>
} @* masterUserDelete._Username.Visible (end) *@
@if (masterUserDelete.NamaLengkap.Visible) { // masterUserDelete.NamaLengkap.Visible (begin)
        <th class="@Html.Raw(masterUserDelete.NamaLengkap.HeaderCellClass)"><span id="elh_MasterUser_NamaLengkap" class="MasterUser_NamaLengkap">@Html.Raw(masterUserDelete.NamaLengkap.Caption)</span></th>
} @* masterUserDelete.NamaLengkap.Visible (end) *@
@if (masterUserDelete._UserLevel.Visible) { // masterUserDelete._UserLevel.Visible (begin)
        <th class="@Html.Raw(masterUserDelete._UserLevel.HeaderCellClass)"><span id="elh_MasterUser__UserLevel" class="MasterUser__UserLevel">@Html.Raw(masterUserDelete._UserLevel.Caption)</span></th>
} @* masterUserDelete._UserLevel.Visible (end) *@
@if (masterUserDelete.Rule.Visible) { // masterUserDelete.Rule.Visible (begin)
        <th class="@Html.Raw(masterUserDelete.Rule.HeaderCellClass)"><span id="elh_MasterUser_Rule" class="MasterUser_Rule">@Html.Raw(masterUserDelete.Rule.Caption)</span></th>
} @* masterUserDelete.Rule.Visible (end) *@
@if (masterUserDelete.IdPosition.Visible) { // masterUserDelete.IdPosition.Visible (begin)
        <th class="@Html.Raw(masterUserDelete.IdPosition.HeaderCellClass)"><span id="elh_MasterUser_IdPosition" class="MasterUser_IdPosition">@Html.Raw(masterUserDelete.IdPosition.Caption)</span></th>
} @* masterUserDelete.IdPosition.Visible (end) *@
@if (masterUserDelete.Region.Visible) { // masterUserDelete.Region.Visible (begin)
        <th class="@Html.Raw(masterUserDelete.Region.HeaderCellClass)"><span id="elh_MasterUser_Region" class="MasterUser_Region">@Html.Raw(masterUserDelete.Region.Caption)</span></th>
} @* masterUserDelete.Region.Visible (end) *@
@if (masterUserDelete.Plant.Visible) { // masterUserDelete.Plant.Visible (begin)
        <th class="@Html.Raw(masterUserDelete.Plant.HeaderCellClass)"><span id="elh_MasterUser_Plant" class="MasterUser_Plant">@Html.Raw(masterUserDelete.Plant.Caption)</span></th>
} @* masterUserDelete.Plant.Visible (end) *@
@if (masterUserDelete.StatusAktif.Visible) { // masterUserDelete.StatusAktif.Visible (begin)
        <th class="@Html.Raw(masterUserDelete.StatusAktif.HeaderCellClass)"><span id="elh_MasterUser_StatusAktif" class="MasterUser_StatusAktif">@Html.Raw(masterUserDelete.StatusAktif.Caption)</span></th>
} @* masterUserDelete.StatusAktif.Visible (end) *@
@if (masterUserDelete.Keterangan.Visible) { // masterUserDelete.Keterangan.Visible (begin)
        <th class="@Html.Raw(masterUserDelete.Keterangan.HeaderCellClass)"><span id="elh_MasterUser_Keterangan" class="MasterUser_Keterangan">@Html.Raw(masterUserDelete.Keterangan.Caption)</span></th>
} @* masterUserDelete.Keterangan.Visible (end) *@
@if (masterUserDelete.DibuatOleh.Visible) { // masterUserDelete.DibuatOleh.Visible (begin)
        <th class="@Html.Raw(masterUserDelete.DibuatOleh.HeaderCellClass)"><span id="elh_MasterUser_DibuatOleh" class="MasterUser_DibuatOleh">@Html.Raw(masterUserDelete.DibuatOleh.Caption)</span></th>
} @* masterUserDelete.DibuatOleh.Visible (end) *@
@if (masterUserDelete.TanggalDibuat.Visible) { // masterUserDelete.TanggalDibuat.Visible (begin)
        <th class="@Html.Raw(masterUserDelete.TanggalDibuat.HeaderCellClass)"><span id="elh_MasterUser_TanggalDibuat" class="MasterUser_TanggalDibuat">@Html.Raw(masterUserDelete.TanggalDibuat.Caption)</span></th>
} @* masterUserDelete.TanggalDibuat.Visible (end) *@
@if (masterUserDelete.DiperbaruiOleh.Visible) { // masterUserDelete.DiperbaruiOleh.Visible (begin)
        <th class="@Html.Raw(masterUserDelete.DiperbaruiOleh.HeaderCellClass)"><span id="elh_MasterUser_DiperbaruiOleh" class="MasterUser_DiperbaruiOleh">@Html.Raw(masterUserDelete.DiperbaruiOleh.Caption)</span></th>
} @* masterUserDelete.DiperbaruiOleh.Visible (end) *@
@if (masterUserDelete.TanggalDiperbarui.Visible) { // masterUserDelete.TanggalDiperbarui.Visible (begin)
        <th class="@Html.Raw(masterUserDelete.TanggalDiperbarui.HeaderCellClass)"><span id="elh_MasterUser_TanggalDiperbarui" class="MasterUser_TanggalDiperbarui">@Html.Raw(masterUserDelete.TanggalDiperbarui.Caption)</span></th>
} @* masterUserDelete.TanggalDiperbarui.Visible (end) *@
@if (masterUserDelete.IdIdaman.Visible) { // masterUserDelete.IdIdaman.Visible (begin)
        <th class="@Html.Raw(masterUserDelete.IdIdaman.HeaderCellClass)"><span id="elh_MasterUser_IdIdaman" class="MasterUser_IdIdaman">@Html.Raw(masterUserDelete.IdIdaman.Caption)</span></th>
} @* masterUserDelete.IdIdaman.Visible (end) *@
@if (masterUserDelete.exception.Visible) { // masterUserDelete.exception.Visible (begin)
        <th class="@Html.Raw(masterUserDelete.exception.HeaderCellClass)"><span id="elh_MasterUser_exception" class="MasterUser_exception">@Html.Raw(masterUserDelete.exception.Caption)</span></th>
} @* masterUserDelete.exception.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ masterUserDelete.RecordCount = 0; }
@while (masterUserDelete.Recordset != null && await masterUserDelete.Recordset.ReadAsync()) { // DN
    masterUserDelete.RecordCount++;
    masterUserDelete.RowCount++;

    // Set row properties
    masterUserDelete.ResetAttributes();
    masterUserDelete.RowType = RowType.View; // View

    // Get the field contents
    await masterUserDelete.LoadRowValues(masterUserDelete.Recordset);

    // Render row
    await masterUserDelete.RenderRow();
    <tr @Html.Raw(masterUserDelete.RowAttributes)>
@if (masterUserDelete._Email.Visible) { // masterUserDelete._Email.Visible (begin)
        <td @Html.Raw(masterUserDelete._Email.CellAttributes)>
<span id="">
<span @Html.Raw(masterUserDelete._Email.ViewAttributes)>
@Html.Raw(masterUserDelete._Email.GetViewValue())</span>
</span></td>
} @* masterUserDelete._Email.Visible (end) *@
@if (masterUserDelete._Username.Visible) { // masterUserDelete._Username.Visible (begin)
        <td @Html.Raw(masterUserDelete._Username.CellAttributes)>
<span id="">
<span @Html.Raw(masterUserDelete._Username.ViewAttributes)>
@Html.Raw(masterUserDelete._Username.GetViewValue())</span>
</span></td>
} @* masterUserDelete._Username.Visible (end) *@
@if (masterUserDelete.NamaLengkap.Visible) { // masterUserDelete.NamaLengkap.Visible (begin)
        <td @Html.Raw(masterUserDelete.NamaLengkap.CellAttributes)>
<span id="">
<span @Html.Raw(masterUserDelete.NamaLengkap.ViewAttributes)>
@Html.Raw(masterUserDelete.NamaLengkap.GetViewValue())</span>
</span></td>
} @* masterUserDelete.NamaLengkap.Visible (end) *@
@if (masterUserDelete._UserLevel.Visible) { // masterUserDelete._UserLevel.Visible (begin)
        <td @Html.Raw(masterUserDelete._UserLevel.CellAttributes)>
<span id="">
<span @Html.Raw(masterUserDelete._UserLevel.ViewAttributes)>
@Html.Raw(masterUserDelete._UserLevel.GetViewValue())</span>
</span></td>
} @* masterUserDelete._UserLevel.Visible (end) *@
@if (masterUserDelete.Rule.Visible) { // masterUserDelete.Rule.Visible (begin)
        <td @Html.Raw(masterUserDelete.Rule.CellAttributes)>
<span id="">
<span @Html.Raw(masterUserDelete.Rule.ViewAttributes)>
@Html.Raw(masterUserDelete.Rule.GetViewValue())</span>
</span></td>
} @* masterUserDelete.Rule.Visible (end) *@
@if (masterUserDelete.IdPosition.Visible) { // masterUserDelete.IdPosition.Visible (begin)
        <td @Html.Raw(masterUserDelete.IdPosition.CellAttributes)>
<span id="">
<span @Html.Raw(masterUserDelete.IdPosition.ViewAttributes)>
@Html.Raw(masterUserDelete.IdPosition.GetViewValue())</span>
</span></td>
} @* masterUserDelete.IdPosition.Visible (end) *@
@if (masterUserDelete.Region.Visible) { // masterUserDelete.Region.Visible (begin)
        <td @Html.Raw(masterUserDelete.Region.CellAttributes)>
<span id="">
<span @Html.Raw(masterUserDelete.Region.ViewAttributes)>
@Html.Raw(masterUserDelete.Region.GetViewValue())</span>
</span></td>
} @* masterUserDelete.Region.Visible (end) *@
@if (masterUserDelete.Plant.Visible) { // masterUserDelete.Plant.Visible (begin)
        <td @Html.Raw(masterUserDelete.Plant.CellAttributes)>
<span id="">
<span @Html.Raw(masterUserDelete.Plant.ViewAttributes)>
@Html.Raw(masterUserDelete.Plant.GetViewValue())</span>
</span></td>
} @* masterUserDelete.Plant.Visible (end) *@
@if (masterUserDelete.StatusAktif.Visible) { // masterUserDelete.StatusAktif.Visible (begin)
        <td @Html.Raw(masterUserDelete.StatusAktif.CellAttributes)>
<span id="">
<span @Html.Raw(masterUserDelete.StatusAktif.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(masterUserDelete.StatusAktif.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span></td>
} @* masterUserDelete.StatusAktif.Visible (end) *@
@if (masterUserDelete.Keterangan.Visible) { // masterUserDelete.Keterangan.Visible (begin)
        <td @Html.Raw(masterUserDelete.Keterangan.CellAttributes)>
<span id="">
<span @Html.Raw(masterUserDelete.Keterangan.ViewAttributes)>
@Html.Raw(masterUserDelete.Keterangan.GetViewValue())</span>
</span></td>
} @* masterUserDelete.Keterangan.Visible (end) *@
@if (masterUserDelete.DibuatOleh.Visible) { // masterUserDelete.DibuatOleh.Visible (begin)
        <td @Html.Raw(masterUserDelete.DibuatOleh.CellAttributes)>
<span id="">
<span @Html.Raw(masterUserDelete.DibuatOleh.ViewAttributes)>
@Html.Raw(masterUserDelete.DibuatOleh.GetViewValue())</span>
</span></td>
} @* masterUserDelete.DibuatOleh.Visible (end) *@
@if (masterUserDelete.TanggalDibuat.Visible) { // masterUserDelete.TanggalDibuat.Visible (begin)
        <td @Html.Raw(masterUserDelete.TanggalDibuat.CellAttributes)>
<span id="">
<span @Html.Raw(masterUserDelete.TanggalDibuat.ViewAttributes)>
@Html.Raw(masterUserDelete.TanggalDibuat.GetViewValue())</span>
</span></td>
} @* masterUserDelete.TanggalDibuat.Visible (end) *@
@if (masterUserDelete.DiperbaruiOleh.Visible) { // masterUserDelete.DiperbaruiOleh.Visible (begin)
        <td @Html.Raw(masterUserDelete.DiperbaruiOleh.CellAttributes)>
<span id="">
<span @Html.Raw(masterUserDelete.DiperbaruiOleh.ViewAttributes)>
@Html.Raw(masterUserDelete.DiperbaruiOleh.GetViewValue())</span>
</span></td>
} @* masterUserDelete.DiperbaruiOleh.Visible (end) *@
@if (masterUserDelete.TanggalDiperbarui.Visible) { // masterUserDelete.TanggalDiperbarui.Visible (begin)
        <td @Html.Raw(masterUserDelete.TanggalDiperbarui.CellAttributes)>
<span id="">
<span @Html.Raw(masterUserDelete.TanggalDiperbarui.ViewAttributes)>
@Html.Raw(masterUserDelete.TanggalDiperbarui.GetViewValue())</span>
</span></td>
} @* masterUserDelete.TanggalDiperbarui.Visible (end) *@
@if (masterUserDelete.IdIdaman.Visible) { // masterUserDelete.IdIdaman.Visible (begin)
        <td @Html.Raw(masterUserDelete.IdIdaman.CellAttributes)>
<span id="">
<span @Html.Raw(masterUserDelete.IdIdaman.ViewAttributes)>
@Html.Raw(masterUserDelete.IdIdaman.GetViewValue())</span>
</span></td>
} @* masterUserDelete.IdIdaman.Visible (end) *@
@if (masterUserDelete.exception.Visible) { // masterUserDelete.exception.Visible (begin)
        <td @Html.Raw(masterUserDelete.exception.CellAttributes)>
<span id="">
<span @Html.Raw(masterUserDelete.exception.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(masterUserDelete.exception.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span></td>
} @* masterUserDelete.exception.Visible (end) *@
    </tr>
}
@{ masterUserDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(masterUserDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@masterUserDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
