@{
    // View
    View = this;

    // Check action result
    if (masterPositionDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = masterPositionDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(masterPositionDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MasterPosition: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fMasterPositiondelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMasterPositiondelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@masterPositionDelete.ShowPageHeader()
@masterPositionDelete.ShowMessages()
<form name="fMasterPositiondelete" id="fMasterPositiondelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in masterPositionDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(masterPositionDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(masterPositionDelete.TableContainerClass)" style="@(masterPositionDelete.TableContainerStyle)">
<table class="@(masterPositionDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (masterPositionDelete.IdPosition.Visible) { // masterPositionDelete.IdPosition.Visible (begin)
        <th class="@Html.Raw(masterPositionDelete.IdPosition.HeaderCellClass)"><span id="elh_MasterPosition_IdPosition" class="MasterPosition_IdPosition">@Html.Raw(masterPositionDelete.IdPosition.Caption)</span></th>
} @* masterPositionDelete.IdPosition.Visible (end) *@
@if (masterPositionDelete.NamaPosition.Visible) { // masterPositionDelete.NamaPosition.Visible (begin)
        <th class="@Html.Raw(masterPositionDelete.NamaPosition.HeaderCellClass)"><span id="elh_MasterPosition_NamaPosition" class="MasterPosition_NamaPosition">@Html.Raw(masterPositionDelete.NamaPosition.Caption)</span></th>
} @* masterPositionDelete.NamaPosition.Visible (end) *@
@if (masterPositionDelete.Location.Visible) { // masterPositionDelete.Location.Visible (begin)
        <th class="@Html.Raw(masterPositionDelete.Location.HeaderCellClass)"><span id="elh_MasterPosition_Location" class="MasterPosition_Location">@Html.Raw(masterPositionDelete.Location.Caption)</span></th>
} @* masterPositionDelete.Location.Visible (end) *@
@if (masterPositionDelete._UserLevel.Visible) { // masterPositionDelete._UserLevel.Visible (begin)
        <th class="@Html.Raw(masterPositionDelete._UserLevel.HeaderCellClass)"><span id="elh_MasterPosition__UserLevel" class="MasterPosition__UserLevel">@Html.Raw(masterPositionDelete._UserLevel.Caption)</span></th>
} @* masterPositionDelete._UserLevel.Visible (end) *@
@if (masterPositionDelete.Role.Visible) { // masterPositionDelete.Role.Visible (begin)
        <th class="@Html.Raw(masterPositionDelete.Role.HeaderCellClass)"><span id="elh_MasterPosition_Role" class="MasterPosition_Role">@Html.Raw(masterPositionDelete.Role.Caption)</span></th>
} @* masterPositionDelete.Role.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ masterPositionDelete.RecordCount = 0; }
@while (masterPositionDelete.Recordset != null && await masterPositionDelete.Recordset.ReadAsync()) { // DN
    masterPositionDelete.RecordCount++;
    masterPositionDelete.RowCount++;

    // Set row properties
    masterPositionDelete.ResetAttributes();
    masterPositionDelete.RowType = RowType.View; // View

    // Get the field contents
    await masterPositionDelete.LoadRowValues(masterPositionDelete.Recordset);

    // Render row
    await masterPositionDelete.RenderRow();
    <tr @Html.Raw(masterPositionDelete.RowAttributes)>
@if (masterPositionDelete.IdPosition.Visible) { // masterPositionDelete.IdPosition.Visible (begin)
        <td @Html.Raw(masterPositionDelete.IdPosition.CellAttributes)>
<span id="">
<span @Html.Raw(masterPositionDelete.IdPosition.ViewAttributes)>
@Html.Raw(masterPositionDelete.IdPosition.GetViewValue())</span>
</span></td>
} @* masterPositionDelete.IdPosition.Visible (end) *@
@if (masterPositionDelete.NamaPosition.Visible) { // masterPositionDelete.NamaPosition.Visible (begin)
        <td @Html.Raw(masterPositionDelete.NamaPosition.CellAttributes)>
<span id="">
<span @Html.Raw(masterPositionDelete.NamaPosition.ViewAttributes)>
@Html.Raw(masterPositionDelete.NamaPosition.GetViewValue())</span>
</span></td>
} @* masterPositionDelete.NamaPosition.Visible (end) *@
@if (masterPositionDelete.Location.Visible) { // masterPositionDelete.Location.Visible (begin)
        <td @Html.Raw(masterPositionDelete.Location.CellAttributes)>
<span id="">
<span @Html.Raw(masterPositionDelete.Location.ViewAttributes)>
@Html.Raw(masterPositionDelete.Location.GetViewValue())</span>
</span></td>
} @* masterPositionDelete.Location.Visible (end) *@
@if (masterPositionDelete._UserLevel.Visible) { // masterPositionDelete._UserLevel.Visible (begin)
        <td @Html.Raw(masterPositionDelete._UserLevel.CellAttributes)>
<span id="">
<span @Html.Raw(masterPositionDelete._UserLevel.ViewAttributes)>
@Html.Raw(masterPositionDelete._UserLevel.GetViewValue())</span>
</span></td>
} @* masterPositionDelete._UserLevel.Visible (end) *@
@if (masterPositionDelete.Role.Visible) { // masterPositionDelete.Role.Visible (begin)
        <td @Html.Raw(masterPositionDelete.Role.CellAttributes)>
<span id="">
<span @Html.Raw(masterPositionDelete.Role.ViewAttributes)>
@Html.Raw(masterPositionDelete.Role.GetViewValue())</span>
</span></td>
} @* masterPositionDelete.Role.Visible (end) *@
    </tr>
}
@{ masterPositionDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(masterPositionDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@masterPositionDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
