@{
    // View
    View = this;

    // Check action result
    if (masterTemplateDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = masterTemplateDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(masterTemplateDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MasterTemplate: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fMasterTemplatedelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMasterTemplatedelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Client script
    $('#fMasterTemplatedelete').on('submit', function (e) {
        e.preventDefault();
        showLoading();
        setTimeout(() => {
            hideLoading();
        }, 3000);
        this.requestSubmit();
    });
});
</script>
@masterTemplateDelete.ShowPageHeader()
@masterTemplateDelete.ShowMessages()
<form name="fMasterTemplatedelete" id="fMasterTemplatedelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in masterTemplateDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(masterTemplateDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(masterTemplateDelete.TableContainerClass)" style="@(masterTemplateDelete.TableContainerStyle)">
<table class="@(masterTemplateDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (masterTemplateDelete.NamaTemplate.Visible) { // masterTemplateDelete.NamaTemplate.Visible (begin)
        <th class="@Html.Raw(masterTemplateDelete.NamaTemplate.HeaderCellClass)"><span id="elh_MasterTemplate_NamaTemplate" class="MasterTemplate_NamaTemplate">@Html.Raw(masterTemplateDelete.NamaTemplate.Caption)</span></th>
} @* masterTemplateDelete.NamaTemplate.Visible (end) *@
@if (masterTemplateDelete.IdModa.Visible) { // masterTemplateDelete.IdModa.Visible (begin)
        <th class="@Html.Raw(masterTemplateDelete.IdModa.HeaderCellClass)"><span id="elh_MasterTemplate_IdModa" class="MasterTemplate_IdModa">@Html.Raw(masterTemplateDelete.IdModa.Caption)</span></th>
} @* masterTemplateDelete.IdModa.Visible (end) *@
@if (masterTemplateDelete.JenisProses.Visible) { // masterTemplateDelete.JenisProses.Visible (begin)
        <th class="@Html.Raw(masterTemplateDelete.JenisProses.HeaderCellClass)"><span id="elh_MasterTemplate_JenisProses" class="MasterTemplate_JenisProses">@Html.Raw(masterTemplateDelete.JenisProses.Caption)</span></th>
} @* masterTemplateDelete.JenisProses.Visible (end) *@
@if (masterTemplateDelete.Keterangan.Visible) { // masterTemplateDelete.Keterangan.Visible (begin)
        <th class="@Html.Raw(masterTemplateDelete.Keterangan.HeaderCellClass)"><span id="elh_MasterTemplate_Keterangan" class="MasterTemplate_Keterangan">@Html.Raw(masterTemplateDelete.Keterangan.Caption)</span></th>
} @* masterTemplateDelete.Keterangan.Visible (end) *@
@if (masterTemplateDelete.DibuatOleh.Visible) { // masterTemplateDelete.DibuatOleh.Visible (begin)
        <th class="@Html.Raw(masterTemplateDelete.DibuatOleh.HeaderCellClass)"><span id="elh_MasterTemplate_DibuatOleh" class="MasterTemplate_DibuatOleh">@Html.Raw(masterTemplateDelete.DibuatOleh.Caption)</span></th>
} @* masterTemplateDelete.DibuatOleh.Visible (end) *@
@if (masterTemplateDelete.TanggalDibuat.Visible) { // masterTemplateDelete.TanggalDibuat.Visible (begin)
        <th class="@Html.Raw(masterTemplateDelete.TanggalDibuat.HeaderCellClass)"><span id="elh_MasterTemplate_TanggalDibuat" class="MasterTemplate_TanggalDibuat">@Html.Raw(masterTemplateDelete.TanggalDibuat.Caption)</span></th>
} @* masterTemplateDelete.TanggalDibuat.Visible (end) *@
@if (masterTemplateDelete.DiperbaruiOleh.Visible) { // masterTemplateDelete.DiperbaruiOleh.Visible (begin)
        <th class="@Html.Raw(masterTemplateDelete.DiperbaruiOleh.HeaderCellClass)"><span id="elh_MasterTemplate_DiperbaruiOleh" class="MasterTemplate_DiperbaruiOleh">@Html.Raw(masterTemplateDelete.DiperbaruiOleh.Caption)</span></th>
} @* masterTemplateDelete.DiperbaruiOleh.Visible (end) *@
@if (masterTemplateDelete.TanggalDiperbarui.Visible) { // masterTemplateDelete.TanggalDiperbarui.Visible (begin)
        <th class="@Html.Raw(masterTemplateDelete.TanggalDiperbarui.HeaderCellClass)"><span id="elh_MasterTemplate_TanggalDiperbarui" class="MasterTemplate_TanggalDiperbarui">@Html.Raw(masterTemplateDelete.TanggalDiperbarui.Caption)</span></th>
} @* masterTemplateDelete.TanggalDiperbarui.Visible (end) *@
@if (masterTemplateDelete.TipePenimbunan.Visible) { // masterTemplateDelete.TipePenimbunan.Visible (begin)
        <th class="@Html.Raw(masterTemplateDelete.TipePenimbunan.HeaderCellClass)"><span id="elh_MasterTemplate_TipePenimbunan" class="MasterTemplate_TipePenimbunan">@Html.Raw(masterTemplateDelete.TipePenimbunan.Caption)</span></th>
} @* masterTemplateDelete.TipePenimbunan.Visible (end) *@
@if (masterTemplateDelete.TipePenyaluran.Visible) { // masterTemplateDelete.TipePenyaluran.Visible (begin)
        <th class="@Html.Raw(masterTemplateDelete.TipePenyaluran.HeaderCellClass)"><span id="elh_MasterTemplate_TipePenyaluran" class="MasterTemplate_TipePenyaluran">@Html.Raw(masterTemplateDelete.TipePenyaluran.Caption)</span></th>
} @* masterTemplateDelete.TipePenyaluran.Visible (end) *@
@if (masterTemplateDelete.KategoriPenyaluran.Visible) { // masterTemplateDelete.KategoriPenyaluran.Visible (begin)
        <th class="@Html.Raw(masterTemplateDelete.KategoriPenyaluran.HeaderCellClass)"><span id="elh_MasterTemplate_KategoriPenyaluran" class="MasterTemplate_KategoriPenyaluran">@Html.Raw(masterTemplateDelete.KategoriPenyaluran.Caption)</span></th>
} @* masterTemplateDelete.KategoriPenyaluran.Visible (end) *@
@if (masterTemplateDelete.NamaDokumen.Visible) { // masterTemplateDelete.NamaDokumen.Visible (begin)
        <th class="@Html.Raw(masterTemplateDelete.NamaDokumen.HeaderCellClass)"><span id="elh_MasterTemplate_NamaDokumen" class="MasterTemplate_NamaDokumen">@Html.Raw(masterTemplateDelete.NamaDokumen.Caption)</span></th>
} @* masterTemplateDelete.NamaDokumen.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ masterTemplateDelete.RecordCount = 0; }
@while (masterTemplateDelete.Recordset != null && await masterTemplateDelete.Recordset.ReadAsync()) { // DN
    masterTemplateDelete.RecordCount++;
    masterTemplateDelete.RowCount++;

    // Set row properties
    masterTemplateDelete.ResetAttributes();
    masterTemplateDelete.RowType = RowType.View; // View

    // Get the field contents
    await masterTemplateDelete.LoadRowValues(masterTemplateDelete.Recordset);

    // Render row
    await masterTemplateDelete.RenderRow();
    <tr @Html.Raw(masterTemplateDelete.RowAttributes)>
@if (masterTemplateDelete.NamaTemplate.Visible) { // masterTemplateDelete.NamaTemplate.Visible (begin)
        <td @Html.Raw(masterTemplateDelete.NamaTemplate.CellAttributes)>
<span id="">
<span @Html.Raw(masterTemplateDelete.NamaTemplate.ViewAttributes)>
@Html.Raw(masterTemplateDelete.NamaTemplate.GetViewValue())</span>
</span></td>
} @* masterTemplateDelete.NamaTemplate.Visible (end) *@
@if (masterTemplateDelete.IdModa.Visible) { // masterTemplateDelete.IdModa.Visible (begin)
        <td @Html.Raw(masterTemplateDelete.IdModa.CellAttributes)>
<span id="">
<span @Html.Raw(masterTemplateDelete.IdModa.ViewAttributes)>
@Html.Raw(masterTemplateDelete.IdModa.GetViewValue())</span>
</span></td>
} @* masterTemplateDelete.IdModa.Visible (end) *@
@if (masterTemplateDelete.JenisProses.Visible) { // masterTemplateDelete.JenisProses.Visible (begin)
        <td @Html.Raw(masterTemplateDelete.JenisProses.CellAttributes)>
<span id="">
<span @Html.Raw(masterTemplateDelete.JenisProses.ViewAttributes)>
@Html.Raw(masterTemplateDelete.JenisProses.GetViewValue())</span>
</span></td>
} @* masterTemplateDelete.JenisProses.Visible (end) *@
@if (masterTemplateDelete.Keterangan.Visible) { // masterTemplateDelete.Keterangan.Visible (begin)
        <td @Html.Raw(masterTemplateDelete.Keterangan.CellAttributes)>
<span id="">
<span @Html.Raw(masterTemplateDelete.Keterangan.ViewAttributes)>
@Html.Raw(masterTemplateDelete.Keterangan.GetViewValue())</span>
</span></td>
} @* masterTemplateDelete.Keterangan.Visible (end) *@
@if (masterTemplateDelete.DibuatOleh.Visible) { // masterTemplateDelete.DibuatOleh.Visible (begin)
        <td @Html.Raw(masterTemplateDelete.DibuatOleh.CellAttributes)>
<span id="">
<span @Html.Raw(masterTemplateDelete.DibuatOleh.ViewAttributes)>
@Html.Raw(masterTemplateDelete.DibuatOleh.GetViewValue())</span>
</span></td>
} @* masterTemplateDelete.DibuatOleh.Visible (end) *@
@if (masterTemplateDelete.TanggalDibuat.Visible) { // masterTemplateDelete.TanggalDibuat.Visible (begin)
        <td @Html.Raw(masterTemplateDelete.TanggalDibuat.CellAttributes)>
<span id="">
<span @Html.Raw(masterTemplateDelete.TanggalDibuat.ViewAttributes)>
@Html.Raw(masterTemplateDelete.TanggalDibuat.GetViewValue())</span>
</span></td>
} @* masterTemplateDelete.TanggalDibuat.Visible (end) *@
@if (masterTemplateDelete.DiperbaruiOleh.Visible) { // masterTemplateDelete.DiperbaruiOleh.Visible (begin)
        <td @Html.Raw(masterTemplateDelete.DiperbaruiOleh.CellAttributes)>
<span id="">
<span @Html.Raw(masterTemplateDelete.DiperbaruiOleh.ViewAttributes)>
@Html.Raw(masterTemplateDelete.DiperbaruiOleh.GetViewValue())</span>
</span></td>
} @* masterTemplateDelete.DiperbaruiOleh.Visible (end) *@
@if (masterTemplateDelete.TanggalDiperbarui.Visible) { // masterTemplateDelete.TanggalDiperbarui.Visible (begin)
        <td @Html.Raw(masterTemplateDelete.TanggalDiperbarui.CellAttributes)>
<span id="">
<span @Html.Raw(masterTemplateDelete.TanggalDiperbarui.ViewAttributes)>
@Html.Raw(masterTemplateDelete.TanggalDiperbarui.GetViewValue())</span>
</span></td>
} @* masterTemplateDelete.TanggalDiperbarui.Visible (end) *@
@if (masterTemplateDelete.TipePenimbunan.Visible) { // masterTemplateDelete.TipePenimbunan.Visible (begin)
        <td @Html.Raw(masterTemplateDelete.TipePenimbunan.CellAttributes)>
<span id="">
<span @Html.Raw(masterTemplateDelete.TipePenimbunan.ViewAttributes)>
@Html.Raw(masterTemplateDelete.TipePenimbunan.GetViewValue())</span>
</span></td>
} @* masterTemplateDelete.TipePenimbunan.Visible (end) *@
@if (masterTemplateDelete.TipePenyaluran.Visible) { // masterTemplateDelete.TipePenyaluran.Visible (begin)
        <td @Html.Raw(masterTemplateDelete.TipePenyaluran.CellAttributes)>
<span id="">
<span @Html.Raw(masterTemplateDelete.TipePenyaluran.ViewAttributes)>
@Html.Raw(masterTemplateDelete.TipePenyaluran.GetViewValue())</span>
</span></td>
} @* masterTemplateDelete.TipePenyaluran.Visible (end) *@
@if (masterTemplateDelete.KategoriPenyaluran.Visible) { // masterTemplateDelete.KategoriPenyaluran.Visible (begin)
        <td @Html.Raw(masterTemplateDelete.KategoriPenyaluran.CellAttributes)>
<span id="">
<span @Html.Raw(masterTemplateDelete.KategoriPenyaluran.ViewAttributes)>
@Html.Raw(masterTemplateDelete.KategoriPenyaluran.GetViewValue())</span>
</span></td>
} @* masterTemplateDelete.KategoriPenyaluran.Visible (end) *@
@if (masterTemplateDelete.NamaDokumen.Visible) { // masterTemplateDelete.NamaDokumen.Visible (begin)
        <td @Html.Raw(masterTemplateDelete.NamaDokumen.CellAttributes)>
<span id="">
<span @Html.Raw(masterTemplateDelete.NamaDokumen.ViewAttributes)>
@Html.Raw(masterTemplateDelete.NamaDokumen.GetViewValue())</span>
</span></td>
} @* masterTemplateDelete.NamaDokumen.Visible (end) *@
    </tr>
}
@{ masterTemplateDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(masterTemplateDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@masterTemplateDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
