@{
    // View
    View = this;

    // Check action result
    if (masterPlantEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = masterPlantEdit.UseLayout ? "_Layout" : "";
}
@masterPlantEdit.ShowPageHeader()
@masterPlantEdit.ShowMessages()
<main class="edit">
<form name="fMasterPlantedit" id="fMasterPlantedit" class="@(masterPlantEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(masterPlantEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MasterPlant: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fMasterPlantedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMasterPlantedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["IdPlant", [fields.IdPlant.visible && fields.IdPlant.required ? ew.Validators.required(fields.IdPlant.caption) : null], fields.IdPlant.isInvalid],
            ["Terminal_Manager", [fields.Terminal_Manager.visible && fields.Terminal_Manager.required ? ew.Validators.required(fields.Terminal_Manager.caption) : null], fields.Terminal_Manager.isInvalid],
            ["PRL", [fields.PRL.visible && fields.PRL.required ? ew.Validators.required(fields.PRL.caption) : null], fields.PRL.isInvalid],
            ["Status", [fields.Status.visible && fields.Status.required ? ew.Validators.required(fields.Status.caption) : null], fields.Status.isInvalid],
            ["Terminal_Induk", [fields.Terminal_Induk.visible && fields.Terminal_Induk.required ? ew.Validators.required(fields.Terminal_Induk.caption) : null], fields.Terminal_Induk.isInvalid],
            ["Nama_Terminal", [fields.Nama_Terminal.visible && fields.Nama_Terminal.required ? ew.Validators.required(fields.Nama_Terminal.caption) : null], fields.Nama_Terminal.isInvalid],
            ["Region", [fields.Region.visible && fields.Region.required ? ew.Validators.required(fields.Region.caption) : null], fields.Region.isInvalid],
            ["Fungsi", [fields.Fungsi.visible && fields.Fungsi.required ? ew.Validators.required(fields.Fungsi.caption) : null], fields.Fungsi.isInvalid],
            ["Cost_Center", [fields.Cost_Center.visible && fields.Cost_Center.required ? ew.Validators.required(fields.Cost_Center.caption) : null], fields.Cost_Center.isInvalid],
            ["Jenis", [fields.Jenis.visible && fields.Jenis.required ? ew.Validators.required(fields.Jenis.caption) : null], fields.Jenis.isInvalid],
            ["Plant", [fields.Plant.visible && fields.Plant.required ? ew.Validators.required(fields.Plant.caption) : null], fields.Plant.isInvalid],
            ["UTC", [fields.UTC.visible && fields.UTC.required ? ew.Validators.required(fields.UTC.caption) : null], fields.UTC.isInvalid],
            ["TipeProduk", [fields.TipeProduk.visible && fields.TipeProduk.required ? ew.Validators.required(fields.TipeProduk.caption) : null], fields.TipeProduk.isInvalid],
            ["JenisPlant", [fields.JenisPlant.visible && fields.JenisPlant.required ? ew.Validators.required(fields.JenisPlant.caption) : null], fields.JenisPlant.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "UTC": @Html.Raw(masterPlantEdit.UTC.ToClientList(masterPlantEdit)),
            "TipeProduk": @Html.Raw(masterPlantEdit.TipeProduk.ToClientList(masterPlantEdit)),
            "JenisPlant": @Html.Raw(masterPlantEdit.JenisPlant.ToClientList(masterPlantEdit)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Client script
    $('#fMasterPlanedit').on('submit', function (e) {
        e.preventDefault();
        showLoading();
        setTimeout(() => {
            hideLoading();
        }, 3000);
        this.requestSubmit();
    });
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(masterPlantEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(masterPlantEdit.OldKeyName)" value="@Html.Raw(masterPlantEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (masterPlantEdit.IdPlant.Visible) { // masterPlantEdit.IdPlant.Visible (begin)
    <div id="r_IdPlant" @Html.Raw(masterPlantEdit.IdPlant.RowAttributes)>
        <label id="elh_MasterPlant_IdPlant" class="@(masterPlantEdit.LeftColumnClass)">@Html.Raw(masterPlantEdit.IdPlant.Caption)@Html.Raw(masterPlantEdit.IdPlant.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterPlantEdit.RightColumnClass)"><div @Html.Raw(masterPlantEdit.IdPlant.CellAttributes)>
<span id="el_MasterPlant_IdPlant">
<span @Html.Raw(masterPlantEdit.IdPlant.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(masterPlantEdit.IdPlant.EditValue)))"></span>
<input type="hidden" data-table="MasterPlant" data-field="x_IdPlant" data-hidden="1" name="x_IdPlant" id="x_IdPlant" value="@Html.Raw(HtmlEncode(masterPlantEdit.IdPlant.CurrentValue))">
</span>
</div></div>
    </div>
} @* masterPlantEdit.IdPlant.Visible (end) *@
@if (masterPlantEdit.Terminal_Manager.Visible) { // masterPlantEdit.Terminal_Manager.Visible (begin)
    <div id="r_Terminal_Manager" @Html.Raw(masterPlantEdit.Terminal_Manager.RowAttributes)>
        <label id="elh_MasterPlant_Terminal_Manager" for="x_Terminal_Manager" class="@(masterPlantEdit.LeftColumnClass)">@Html.Raw(masterPlantEdit.Terminal_Manager.Caption)@Html.Raw(masterPlantEdit.Terminal_Manager.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterPlantEdit.RightColumnClass)"><div @Html.Raw(masterPlantEdit.Terminal_Manager.CellAttributes)>
<span id="el_MasterPlant_Terminal_Manager">
<input type="@(masterPlantEdit.Terminal_Manager.InputTextType)" name="x_Terminal_Manager" id="x_Terminal_Manager" data-table="MasterPlant" data-field="x_Terminal_Manager" value="@Html.Raw(masterPlantEdit.Terminal_Manager.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(masterPlantEdit.Terminal_Manager.PlaceHolder))" data-format-pattern="@(masterPlantEdit.Terminal_Manager.FormatPattern)"@Html.Raw(masterPlantEdit.Terminal_Manager.EditAttributes) aria-describedby="x_Terminal_Manager_help">
@Html.Raw(masterPlantEdit.Terminal_Manager.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterPlantEdit.Terminal_Manager.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* masterPlantEdit.Terminal_Manager.Visible (end) *@
@if (masterPlantEdit.PRL.Visible) { // masterPlantEdit.PRL.Visible (begin)
    <div id="r_PRL" @Html.Raw(masterPlantEdit.PRL.RowAttributes)>
        <label id="elh_MasterPlant_PRL" for="x_PRL" class="@(masterPlantEdit.LeftColumnClass)">@Html.Raw(masterPlantEdit.PRL.Caption)@Html.Raw(masterPlantEdit.PRL.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterPlantEdit.RightColumnClass)"><div @Html.Raw(masterPlantEdit.PRL.CellAttributes)>
<span id="el_MasterPlant_PRL">
<input type="@(masterPlantEdit.PRL.InputTextType)" name="x_PRL" id="x_PRL" data-table="MasterPlant" data-field="x_PRL" value="@Html.Raw(masterPlantEdit.PRL.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(masterPlantEdit.PRL.PlaceHolder))" data-format-pattern="@(masterPlantEdit.PRL.FormatPattern)"@Html.Raw(masterPlantEdit.PRL.EditAttributes) aria-describedby="x_PRL_help">
@Html.Raw(masterPlantEdit.PRL.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterPlantEdit.PRL.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* masterPlantEdit.PRL.Visible (end) *@
@if (masterPlantEdit.Status.Visible) { // masterPlantEdit.Status.Visible (begin)
    <div id="r_Status" @Html.Raw(masterPlantEdit.Status.RowAttributes)>
        <label id="elh_MasterPlant_Status" for="x_Status" class="@(masterPlantEdit.LeftColumnClass)">@Html.Raw(masterPlantEdit.Status.Caption)@Html.Raw(masterPlantEdit.Status.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterPlantEdit.RightColumnClass)"><div @Html.Raw(masterPlantEdit.Status.CellAttributes)>
<span id="el_MasterPlant_Status">
<input type="@(masterPlantEdit.Status.InputTextType)" name="x_Status" id="x_Status" data-table="MasterPlant" data-field="x_Status" value="@Html.Raw(masterPlantEdit.Status.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(masterPlantEdit.Status.PlaceHolder))" data-format-pattern="@(masterPlantEdit.Status.FormatPattern)"@Html.Raw(masterPlantEdit.Status.EditAttributes) aria-describedby="x_Status_help">
@Html.Raw(masterPlantEdit.Status.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterPlantEdit.Status.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* masterPlantEdit.Status.Visible (end) *@
@if (masterPlantEdit.Terminal_Induk.Visible) { // masterPlantEdit.Terminal_Induk.Visible (begin)
    <div id="r_Terminal_Induk" @Html.Raw(masterPlantEdit.Terminal_Induk.RowAttributes)>
        <label id="elh_MasterPlant_Terminal_Induk" for="x_Terminal_Induk" class="@(masterPlantEdit.LeftColumnClass)">@Html.Raw(masterPlantEdit.Terminal_Induk.Caption)@Html.Raw(masterPlantEdit.Terminal_Induk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterPlantEdit.RightColumnClass)"><div @Html.Raw(masterPlantEdit.Terminal_Induk.CellAttributes)>
<span id="el_MasterPlant_Terminal_Induk">
<input type="@(masterPlantEdit.Terminal_Induk.InputTextType)" name="x_Terminal_Induk" id="x_Terminal_Induk" data-table="MasterPlant" data-field="x_Terminal_Induk" value="@Html.Raw(masterPlantEdit.Terminal_Induk.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(masterPlantEdit.Terminal_Induk.PlaceHolder))" data-format-pattern="@(masterPlantEdit.Terminal_Induk.FormatPattern)"@Html.Raw(masterPlantEdit.Terminal_Induk.EditAttributes) aria-describedby="x_Terminal_Induk_help">
@Html.Raw(masterPlantEdit.Terminal_Induk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterPlantEdit.Terminal_Induk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* masterPlantEdit.Terminal_Induk.Visible (end) *@
@if (masterPlantEdit.Nama_Terminal.Visible) { // masterPlantEdit.Nama_Terminal.Visible (begin)
    <div id="r_Nama_Terminal" @Html.Raw(masterPlantEdit.Nama_Terminal.RowAttributes)>
        <label id="elh_MasterPlant_Nama_Terminal" for="x_Nama_Terminal" class="@(masterPlantEdit.LeftColumnClass)">@Html.Raw(masterPlantEdit.Nama_Terminal.Caption)@Html.Raw(masterPlantEdit.Nama_Terminal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterPlantEdit.RightColumnClass)"><div @Html.Raw(masterPlantEdit.Nama_Terminal.CellAttributes)>
<span id="el_MasterPlant_Nama_Terminal">
<input type="@(masterPlantEdit.Nama_Terminal.InputTextType)" name="x_Nama_Terminal" id="x_Nama_Terminal" data-table="MasterPlant" data-field="x_Nama_Terminal" value="@Html.Raw(masterPlantEdit.Nama_Terminal.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(masterPlantEdit.Nama_Terminal.PlaceHolder))" data-format-pattern="@(masterPlantEdit.Nama_Terminal.FormatPattern)"@Html.Raw(masterPlantEdit.Nama_Terminal.EditAttributes) aria-describedby="x_Nama_Terminal_help">
@Html.Raw(masterPlantEdit.Nama_Terminal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterPlantEdit.Nama_Terminal.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* masterPlantEdit.Nama_Terminal.Visible (end) *@
@if (masterPlantEdit.Region.Visible) { // masterPlantEdit.Region.Visible (begin)
    <div id="r_Region" @Html.Raw(masterPlantEdit.Region.RowAttributes)>
        <label id="elh_MasterPlant_Region" for="x_Region" class="@(masterPlantEdit.LeftColumnClass)">@Html.Raw(masterPlantEdit.Region.Caption)@Html.Raw(masterPlantEdit.Region.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterPlantEdit.RightColumnClass)"><div @Html.Raw(masterPlantEdit.Region.CellAttributes)>
<span id="el_MasterPlant_Region">
<input type="@(masterPlantEdit.Region.InputTextType)" name="x_Region" id="x_Region" data-table="MasterPlant" data-field="x_Region" value="@Html.Raw(masterPlantEdit.Region.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(masterPlantEdit.Region.PlaceHolder))" data-format-pattern="@(masterPlantEdit.Region.FormatPattern)"@Html.Raw(masterPlantEdit.Region.EditAttributes) aria-describedby="x_Region_help">
@Html.Raw(masterPlantEdit.Region.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterPlantEdit.Region.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* masterPlantEdit.Region.Visible (end) *@
@if (masterPlantEdit.Fungsi.Visible) { // masterPlantEdit.Fungsi.Visible (begin)
    <div id="r_Fungsi" @Html.Raw(masterPlantEdit.Fungsi.RowAttributes)>
        <label id="elh_MasterPlant_Fungsi" for="x_Fungsi" class="@(masterPlantEdit.LeftColumnClass)">@Html.Raw(masterPlantEdit.Fungsi.Caption)@Html.Raw(masterPlantEdit.Fungsi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterPlantEdit.RightColumnClass)"><div @Html.Raw(masterPlantEdit.Fungsi.CellAttributes)>
<span id="el_MasterPlant_Fungsi">
<input type="@(masterPlantEdit.Fungsi.InputTextType)" name="x_Fungsi" id="x_Fungsi" data-table="MasterPlant" data-field="x_Fungsi" value="@Html.Raw(masterPlantEdit.Fungsi.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(masterPlantEdit.Fungsi.PlaceHolder))" data-format-pattern="@(masterPlantEdit.Fungsi.FormatPattern)"@Html.Raw(masterPlantEdit.Fungsi.EditAttributes) aria-describedby="x_Fungsi_help">
@Html.Raw(masterPlantEdit.Fungsi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterPlantEdit.Fungsi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* masterPlantEdit.Fungsi.Visible (end) *@
@if (masterPlantEdit.Cost_Center.Visible) { // masterPlantEdit.Cost_Center.Visible (begin)
    <div id="r_Cost_Center" @Html.Raw(masterPlantEdit.Cost_Center.RowAttributes)>
        <label id="elh_MasterPlant_Cost_Center" for="x_Cost_Center" class="@(masterPlantEdit.LeftColumnClass)">@Html.Raw(masterPlantEdit.Cost_Center.Caption)@Html.Raw(masterPlantEdit.Cost_Center.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterPlantEdit.RightColumnClass)"><div @Html.Raw(masterPlantEdit.Cost_Center.CellAttributes)>
<span id="el_MasterPlant_Cost_Center">
<input type="@(masterPlantEdit.Cost_Center.InputTextType)" name="x_Cost_Center" id="x_Cost_Center" data-table="MasterPlant" data-field="x_Cost_Center" value="@Html.Raw(masterPlantEdit.Cost_Center.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(masterPlantEdit.Cost_Center.PlaceHolder))" data-format-pattern="@(masterPlantEdit.Cost_Center.FormatPattern)"@Html.Raw(masterPlantEdit.Cost_Center.EditAttributes) aria-describedby="x_Cost_Center_help">
@Html.Raw(masterPlantEdit.Cost_Center.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterPlantEdit.Cost_Center.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* masterPlantEdit.Cost_Center.Visible (end) *@
@if (masterPlantEdit.Jenis.Visible) { // masterPlantEdit.Jenis.Visible (begin)
    <div id="r_Jenis" @Html.Raw(masterPlantEdit.Jenis.RowAttributes)>
        <label id="elh_MasterPlant_Jenis" for="x_Jenis" class="@(masterPlantEdit.LeftColumnClass)">@Html.Raw(masterPlantEdit.Jenis.Caption)@Html.Raw(masterPlantEdit.Jenis.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterPlantEdit.RightColumnClass)"><div @Html.Raw(masterPlantEdit.Jenis.CellAttributes)>
<span id="el_MasterPlant_Jenis">
<input type="@(masterPlantEdit.Jenis.InputTextType)" name="x_Jenis" id="x_Jenis" data-table="MasterPlant" data-field="x_Jenis" value="@Html.Raw(masterPlantEdit.Jenis.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(masterPlantEdit.Jenis.PlaceHolder))" data-format-pattern="@(masterPlantEdit.Jenis.FormatPattern)"@Html.Raw(masterPlantEdit.Jenis.EditAttributes) aria-describedby="x_Jenis_help">
@Html.Raw(masterPlantEdit.Jenis.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterPlantEdit.Jenis.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* masterPlantEdit.Jenis.Visible (end) *@
@if (masterPlantEdit.Plant.Visible) { // masterPlantEdit.Plant.Visible (begin)
    <div id="r_Plant" @Html.Raw(masterPlantEdit.Plant.RowAttributes)>
        <label id="elh_MasterPlant_Plant" for="x_Plant" class="@(masterPlantEdit.LeftColumnClass)">@Html.Raw(masterPlantEdit.Plant.Caption)@Html.Raw(masterPlantEdit.Plant.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterPlantEdit.RightColumnClass)"><div @Html.Raw(masterPlantEdit.Plant.CellAttributes)>
<span id="el_MasterPlant_Plant">
<input type="@(masterPlantEdit.Plant.InputTextType)" name="x_Plant" id="x_Plant" data-table="MasterPlant" data-field="x_Plant" value="@Html.Raw(masterPlantEdit.Plant.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(masterPlantEdit.Plant.PlaceHolder))" data-format-pattern="@(masterPlantEdit.Plant.FormatPattern)"@Html.Raw(masterPlantEdit.Plant.EditAttributes) aria-describedby="x_Plant_help">
@Html.Raw(masterPlantEdit.Plant.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterPlantEdit.Plant.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* masterPlantEdit.Plant.Visible (end) *@
@if (masterPlantEdit.UTC.Visible) { // masterPlantEdit.UTC.Visible (begin)
    <div id="r_UTC" @Html.Raw(masterPlantEdit.UTC.RowAttributes)>
        <label id="elh_MasterPlant_UTC" for="x_UTC" class="@(masterPlantEdit.LeftColumnClass)">@Html.Raw(masterPlantEdit.UTC.Caption)@Html.Raw(masterPlantEdit.UTC.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterPlantEdit.RightColumnClass)"><div @Html.Raw(masterPlantEdit.UTC.CellAttributes)>
<span id="el_MasterPlant_UTC">
    <select
        id="x_UTC"
        name="x_UTC"
        class="form-select ew-select@(masterPlantEdit.UTC.IsInvalidClass)"
        data-select2-id="fMasterPlantedit_x_UTC"
        data-table="MasterPlant"
        data-field="x_UTC"
        data-value-separator="@(masterPlantEdit.UTC.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(masterPlantEdit.UTC.PlaceHolder))"
        @Html.Raw(masterPlantEdit.UTC.EditAttributes)>
        @(masterPlantEdit.UTC.SelectOptionListHtml("x_UTC"))
    </select>
    @Html.Raw(masterPlantEdit.UTC.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(masterPlantEdit.UTC.GetErrorMessage())</div>
<script>
loadjs.ready("fMasterPlantedit", function() {
    var options = { name: "x_UTC", selectId: "fMasterPlantedit_x_UTC" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fMasterPlantedit.lists.UTC?.lookupOptions.length) {
        options.data = { id: "x_UTC", form: "fMasterPlantedit" };
    } else {
        options.ajax = { id: "x_UTC", form: "fMasterPlantedit", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.MasterPlant.fields.UTC.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
</div></div>
    </div>
} @* masterPlantEdit.UTC.Visible (end) *@
@if (masterPlantEdit.TipeProduk.Visible) { // masterPlantEdit.TipeProduk.Visible (begin)
    <div id="r_TipeProduk" @Html.Raw(masterPlantEdit.TipeProduk.RowAttributes)>
        <label id="elh_MasterPlant_TipeProduk" for="x_TipeProduk" class="@(masterPlantEdit.LeftColumnClass)">@Html.Raw(masterPlantEdit.TipeProduk.Caption)@Html.Raw(masterPlantEdit.TipeProduk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterPlantEdit.RightColumnClass)"><div @Html.Raw(masterPlantEdit.TipeProduk.CellAttributes)>
<span id="el_MasterPlant_TipeProduk">
    <select
        id="x_TipeProduk"
        name="x_TipeProduk"
        class="form-select ew-select@(masterPlantEdit.TipeProduk.IsInvalidClass)"
        data-select2-id="fMasterPlantedit_x_TipeProduk"
        data-table="MasterPlant"
        data-field="x_TipeProduk"
        data-value-separator="@(masterPlantEdit.TipeProduk.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(masterPlantEdit.TipeProduk.PlaceHolder))"
        @Html.Raw(masterPlantEdit.TipeProduk.EditAttributes)>
        @(masterPlantEdit.TipeProduk.SelectOptionListHtml("x_TipeProduk"))
    </select>
    @Html.Raw(masterPlantEdit.TipeProduk.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(masterPlantEdit.TipeProduk.GetErrorMessage())</div>
<script>
loadjs.ready("fMasterPlantedit", function() {
    var options = { name: "x_TipeProduk", selectId: "fMasterPlantedit_x_TipeProduk" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fMasterPlantedit.lists.TipeProduk?.lookupOptions.length) {
        options.data = { id: "x_TipeProduk", form: "fMasterPlantedit" };
    } else {
        options.ajax = { id: "x_TipeProduk", form: "fMasterPlantedit", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.MasterPlant.fields.TipeProduk.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
</div></div>
    </div>
} @* masterPlantEdit.TipeProduk.Visible (end) *@
@if (masterPlantEdit.JenisPlant.Visible) { // masterPlantEdit.JenisPlant.Visible (begin)
    <div id="r_JenisPlant" @Html.Raw(masterPlantEdit.JenisPlant.RowAttributes)>
        <label id="elh_MasterPlant_JenisPlant" for="x_JenisPlant" class="@(masterPlantEdit.LeftColumnClass)">@Html.Raw(masterPlantEdit.JenisPlant.Caption)@Html.Raw(masterPlantEdit.JenisPlant.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterPlantEdit.RightColumnClass)"><div @Html.Raw(masterPlantEdit.JenisPlant.CellAttributes)>
<span id="el_MasterPlant_JenisPlant">
    <select
        id="x_JenisPlant"
        name="x_JenisPlant"
        class="form-select ew-select@(masterPlantEdit.JenisPlant.IsInvalidClass)"
        data-select2-id="fMasterPlantedit_x_JenisPlant"
        data-table="MasterPlant"
        data-field="x_JenisPlant"
        data-value-separator="@(masterPlantEdit.JenisPlant.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(masterPlantEdit.JenisPlant.PlaceHolder))"
        @Html.Raw(masterPlantEdit.JenisPlant.EditAttributes)>
        @(masterPlantEdit.JenisPlant.SelectOptionListHtml("x_JenisPlant"))
    </select>
    @Html.Raw(masterPlantEdit.JenisPlant.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(masterPlantEdit.JenisPlant.GetErrorMessage())</div>
<script>
loadjs.ready("fMasterPlantedit", function() {
    var options = { name: "x_JenisPlant", selectId: "fMasterPlantedit_x_JenisPlant" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fMasterPlantedit.lists.JenisPlant?.lookupOptions.length) {
        options.data = { id: "x_JenisPlant", form: "fMasterPlantedit" };
    } else {
        options.ajax = { id: "x_JenisPlant", form: "fMasterPlantedit", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.MasterPlant.fields.JenisPlant.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
</div></div>
    </div>
} @* masterPlantEdit.JenisPlant.Visible (end) *@
</div><!-- /page* -->
@{ masterPlantEdit.CloseRecordset(); }
@Html.Raw(masterPlantEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(masterPlantEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fMasterPlantedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fMasterPlantedit" data-href="@AppPath(masterPlantEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(masterPlantEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@masterPlantEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("MasterPlant");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
