@{
    // View
    View = this;

    // Check action result
    if (masterPipaDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = masterPipaDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(masterPipaDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MasterPipa: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fMasterPipadelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMasterPipadelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@masterPipaDelete.ShowPageHeader()
@masterPipaDelete.ShowMessages()
<form name="fMasterPipadelete" id="fMasterPipadelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in masterPipaDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(masterPipaDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(masterPipaDelete.TableContainerClass)" style="@(masterPipaDelete.TableContainerStyle)">
<table class="@(masterPipaDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (masterPipaDelete.KeteranganPipa.Visible) { // masterPipaDelete.KeteranganPipa.Visible (begin)
        <th class="@Html.Raw(masterPipaDelete.KeteranganPipa.HeaderCellClass)"><span id="elh_MasterPipa_KeteranganPipa" class="MasterPipa_KeteranganPipa">@Html.Raw(masterPipaDelete.KeteranganPipa.Caption)</span></th>
} @* masterPipaDelete.KeteranganPipa.Visible (end) *@
@if (masterPipaDelete.idPlantAsal.Visible) { // masterPipaDelete.idPlantAsal.Visible (begin)
        <th class="@Html.Raw(masterPipaDelete.idPlantAsal.HeaderCellClass)"><span id="elh_MasterPipa_idPlantAsal" class="MasterPipa_idPlantAsal">@Html.Raw(masterPipaDelete.idPlantAsal.Caption)</span></th>
} @* masterPipaDelete.idPlantAsal.Visible (end) *@
@if (masterPipaDelete.Flowrate.Visible) { // masterPipaDelete.Flowrate.Visible (begin)
        <th class="@Html.Raw(masterPipaDelete.Flowrate.HeaderCellClass)"><span id="elh_MasterPipa_Flowrate" class="MasterPipa_Flowrate">@Html.Raw(masterPipaDelete.Flowrate.Caption)</span></th>
} @* masterPipaDelete.Flowrate.Visible (end) *@
@if (masterPipaDelete.BiayaProject.Visible) { // masterPipaDelete.BiayaProject.Visible (begin)
        <th class="@Html.Raw(masterPipaDelete.BiayaProject.HeaderCellClass)"><span id="elh_MasterPipa_BiayaProject" class="MasterPipa_BiayaProject">@Html.Raw(masterPipaDelete.BiayaProject.Caption)</span></th>
} @* masterPipaDelete.BiayaProject.Visible (end) *@
@if (masterPipaDelete.PlantAsal.Visible) { // masterPipaDelete.PlantAsal.Visible (begin)
        <th class="@Html.Raw(masterPipaDelete.PlantAsal.HeaderCellClass)"><span id="elh_MasterPipa_PlantAsal" class="MasterPipa_PlantAsal">@Html.Raw(masterPipaDelete.PlantAsal.Caption)</span></th>
} @* masterPipaDelete.PlantAsal.Visible (end) *@
@if (masterPipaDelete.NamaPlantAsal.Visible) { // masterPipaDelete.NamaPlantAsal.Visible (begin)
        <th class="@Html.Raw(masterPipaDelete.NamaPlantAsal.HeaderCellClass)"><span id="elh_MasterPipa_NamaPlantAsal" class="MasterPipa_NamaPlantAsal">@Html.Raw(masterPipaDelete.NamaPlantAsal.Caption)</span></th>
} @* masterPipaDelete.NamaPlantAsal.Visible (end) *@
@if (masterPipaDelete.CreatedBy.Visible) { // masterPipaDelete.CreatedBy.Visible (begin)
        <th class="@Html.Raw(masterPipaDelete.CreatedBy.HeaderCellClass)"><span id="elh_MasterPipa_CreatedBy" class="MasterPipa_CreatedBy">@Html.Raw(masterPipaDelete.CreatedBy.Caption)</span></th>
} @* masterPipaDelete.CreatedBy.Visible (end) *@
@if (masterPipaDelete.etlDate.Visible) { // masterPipaDelete.etlDate.Visible (begin)
        <th class="@Html.Raw(masterPipaDelete.etlDate.HeaderCellClass)"><span id="elh_MasterPipa_etlDate" class="MasterPipa_etlDate">@Html.Raw(masterPipaDelete.etlDate.Caption)</span></th>
} @* masterPipaDelete.etlDate.Visible (end) *@
@if (masterPipaDelete.LastUpdatedBy.Visible) { // masterPipaDelete.LastUpdatedBy.Visible (begin)
        <th class="@Html.Raw(masterPipaDelete.LastUpdatedBy.HeaderCellClass)"><span id="elh_MasterPipa_LastUpdatedBy" class="MasterPipa_LastUpdatedBy">@Html.Raw(masterPipaDelete.LastUpdatedBy.Caption)</span></th>
} @* masterPipaDelete.LastUpdatedBy.Visible (end) *@
@if (masterPipaDelete.LastUpdatedDate.Visible) { // masterPipaDelete.LastUpdatedDate.Visible (begin)
        <th class="@Html.Raw(masterPipaDelete.LastUpdatedDate.HeaderCellClass)"><span id="elh_MasterPipa_LastUpdatedDate" class="MasterPipa_LastUpdatedDate">@Html.Raw(masterPipaDelete.LastUpdatedDate.Caption)</span></th>
} @* masterPipaDelete.LastUpdatedDate.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ masterPipaDelete.RecordCount = 0; }
@while (masterPipaDelete.Recordset != null && await masterPipaDelete.Recordset.ReadAsync()) { // DN
    masterPipaDelete.RecordCount++;
    masterPipaDelete.RowCount++;

    // Set row properties
    masterPipaDelete.ResetAttributes();
    masterPipaDelete.RowType = RowType.View; // View

    // Get the field contents
    await masterPipaDelete.LoadRowValues(masterPipaDelete.Recordset);

    // Render row
    await masterPipaDelete.RenderRow();
    <tr @Html.Raw(masterPipaDelete.RowAttributes)>
@if (masterPipaDelete.KeteranganPipa.Visible) { // masterPipaDelete.KeteranganPipa.Visible (begin)
        <td @Html.Raw(masterPipaDelete.KeteranganPipa.CellAttributes)>
<span id="">
<span @Html.Raw(masterPipaDelete.KeteranganPipa.ViewAttributes)>
@Html.Raw(masterPipaDelete.KeteranganPipa.GetViewValue())</span>
</span></td>
} @* masterPipaDelete.KeteranganPipa.Visible (end) *@
@if (masterPipaDelete.idPlantAsal.Visible) { // masterPipaDelete.idPlantAsal.Visible (begin)
        <td @Html.Raw(masterPipaDelete.idPlantAsal.CellAttributes)>
<span id="">
<span @Html.Raw(masterPipaDelete.idPlantAsal.ViewAttributes)>
@Html.Raw(masterPipaDelete.idPlantAsal.GetViewValue())</span>
</span></td>
} @* masterPipaDelete.idPlantAsal.Visible (end) *@
@if (masterPipaDelete.Flowrate.Visible) { // masterPipaDelete.Flowrate.Visible (begin)
        <td @Html.Raw(masterPipaDelete.Flowrate.CellAttributes)>
<span id="">
<span @Html.Raw(masterPipaDelete.Flowrate.ViewAttributes)>
@Html.Raw(masterPipaDelete.Flowrate.GetViewValue())</span>
</span></td>
} @* masterPipaDelete.Flowrate.Visible (end) *@
@if (masterPipaDelete.BiayaProject.Visible) { // masterPipaDelete.BiayaProject.Visible (begin)
        <td @Html.Raw(masterPipaDelete.BiayaProject.CellAttributes)>
<span id="">
<span @Html.Raw(masterPipaDelete.BiayaProject.ViewAttributes)>
@Html.Raw(masterPipaDelete.BiayaProject.GetViewValue())</span>
</span></td>
} @* masterPipaDelete.BiayaProject.Visible (end) *@
@if (masterPipaDelete.PlantAsal.Visible) { // masterPipaDelete.PlantAsal.Visible (begin)
        <td @Html.Raw(masterPipaDelete.PlantAsal.CellAttributes)>
<span id="">
<span @Html.Raw(masterPipaDelete.PlantAsal.ViewAttributes)>
@Html.Raw(masterPipaDelete.PlantAsal.GetViewValue())</span>
</span></td>
} @* masterPipaDelete.PlantAsal.Visible (end) *@
@if (masterPipaDelete.NamaPlantAsal.Visible) { // masterPipaDelete.NamaPlantAsal.Visible (begin)
        <td @Html.Raw(masterPipaDelete.NamaPlantAsal.CellAttributes)>
<span id="">
<span @Html.Raw(masterPipaDelete.NamaPlantAsal.ViewAttributes)>
@Html.Raw(masterPipaDelete.NamaPlantAsal.GetViewValue())</span>
</span></td>
} @* masterPipaDelete.NamaPlantAsal.Visible (end) *@
@if (masterPipaDelete.CreatedBy.Visible) { // masterPipaDelete.CreatedBy.Visible (begin)
        <td @Html.Raw(masterPipaDelete.CreatedBy.CellAttributes)>
<span id="">
<span @Html.Raw(masterPipaDelete.CreatedBy.ViewAttributes)>
@Html.Raw(masterPipaDelete.CreatedBy.GetViewValue())</span>
</span></td>
} @* masterPipaDelete.CreatedBy.Visible (end) *@
@if (masterPipaDelete.etlDate.Visible) { // masterPipaDelete.etlDate.Visible (begin)
        <td @Html.Raw(masterPipaDelete.etlDate.CellAttributes)>
<span id="">
<span @Html.Raw(masterPipaDelete.etlDate.ViewAttributes)>
@Html.Raw(masterPipaDelete.etlDate.GetViewValue())</span>
</span></td>
} @* masterPipaDelete.etlDate.Visible (end) *@
@if (masterPipaDelete.LastUpdatedBy.Visible) { // masterPipaDelete.LastUpdatedBy.Visible (begin)
        <td @Html.Raw(masterPipaDelete.LastUpdatedBy.CellAttributes)>
<span id="">
<span @Html.Raw(masterPipaDelete.LastUpdatedBy.ViewAttributes)>
@Html.Raw(masterPipaDelete.LastUpdatedBy.GetViewValue())</span>
</span></td>
} @* masterPipaDelete.LastUpdatedBy.Visible (end) *@
@if (masterPipaDelete.LastUpdatedDate.Visible) { // masterPipaDelete.LastUpdatedDate.Visible (begin)
        <td @Html.Raw(masterPipaDelete.LastUpdatedDate.CellAttributes)>
<span id="">
<span @Html.Raw(masterPipaDelete.LastUpdatedDate.ViewAttributes)>
@Html.Raw(masterPipaDelete.LastUpdatedDate.GetViewValue())</span>
</span></td>
} @* masterPipaDelete.LastUpdatedDate.Visible (end) *@
    </tr>
}
@{ masterPipaDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(masterPipaDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@masterPipaDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
