@{
    // View
    View = this;

    // Check action result
    if (masterFungsiKunjunganEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = masterFungsiKunjunganEdit.UseLayout ? "_Layout" : "";
}
@masterFungsiKunjunganEdit.ShowPageHeader()
@masterFungsiKunjunganEdit.ShowMessages()
<main class="edit">
<form name="fMasterFungsiKunjunganedit" id="fMasterFungsiKunjunganedit" class="@(masterFungsiKunjunganEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(masterFungsiKunjunganEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MasterFungsiKunjungan: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fMasterFungsiKunjunganedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMasterFungsiKunjunganedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["ID", [fields.ID.visible && fields.ID.required ? ew.Validators.required(fields.ID.caption) : null], fields.ID.isInvalid],
            ["FungsiKunjungan", [fields.FungsiKunjungan.visible && fields.FungsiKunjungan.required ? ew.Validators.required(fields.FungsiKunjungan.caption) : null], fields.FungsiKunjungan.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(masterFungsiKunjunganEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(masterFungsiKunjunganEdit.OldKeyName)" value="@Html.Raw(masterFungsiKunjunganEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (masterFungsiKunjunganEdit.ID.Visible) { // masterFungsiKunjunganEdit.ID.Visible (begin)
    <div id="r_ID" @Html.Raw(masterFungsiKunjunganEdit.ID.RowAttributes)>
        <label id="elh_MasterFungsiKunjungan_ID" class="@(masterFungsiKunjunganEdit.LeftColumnClass)">@Html.Raw(masterFungsiKunjunganEdit.ID.Caption)@Html.Raw(masterFungsiKunjunganEdit.ID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterFungsiKunjunganEdit.RightColumnClass)"><div @Html.Raw(masterFungsiKunjunganEdit.ID.CellAttributes)>
<span id="el_MasterFungsiKunjungan_ID">
<span @Html.Raw(masterFungsiKunjunganEdit.ID.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(masterFungsiKunjunganEdit.ID.EditValue)))"></span>
<input type="hidden" data-table="MasterFungsiKunjungan" data-field="x_ID" data-hidden="1" name="x_ID" id="x_ID" value="@Html.Raw(HtmlEncode(masterFungsiKunjunganEdit.ID.CurrentValue))">
</span>
</div></div>
    </div>
} @* masterFungsiKunjunganEdit.ID.Visible (end) *@
@if (masterFungsiKunjunganEdit.FungsiKunjungan.Visible) { // masterFungsiKunjunganEdit.FungsiKunjungan.Visible (begin)
    <div id="r_FungsiKunjungan" @Html.Raw(masterFungsiKunjunganEdit.FungsiKunjungan.RowAttributes)>
        <label id="elh_MasterFungsiKunjungan_FungsiKunjungan" for="x_FungsiKunjungan" class="@(masterFungsiKunjunganEdit.LeftColumnClass)">@Html.Raw(masterFungsiKunjunganEdit.FungsiKunjungan.Caption)@Html.Raw(masterFungsiKunjunganEdit.FungsiKunjungan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterFungsiKunjunganEdit.RightColumnClass)"><div @Html.Raw(masterFungsiKunjunganEdit.FungsiKunjungan.CellAttributes)>
<span id="el_MasterFungsiKunjungan_FungsiKunjungan">
<input type="@(masterFungsiKunjunganEdit.FungsiKunjungan.InputTextType)" name="x_FungsiKunjungan" id="x_FungsiKunjungan" data-table="MasterFungsiKunjungan" data-field="x_FungsiKunjungan" value="@Html.Raw(masterFungsiKunjunganEdit.FungsiKunjungan.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(masterFungsiKunjunganEdit.FungsiKunjungan.PlaceHolder))" data-format-pattern="@(masterFungsiKunjunganEdit.FungsiKunjungan.FormatPattern)"@Html.Raw(masterFungsiKunjunganEdit.FungsiKunjungan.EditAttributes) aria-describedby="x_FungsiKunjungan_help">
@Html.Raw(masterFungsiKunjunganEdit.FungsiKunjungan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterFungsiKunjunganEdit.FungsiKunjungan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* masterFungsiKunjunganEdit.FungsiKunjungan.Visible (end) *@
</div><!-- /page* -->
@{ masterFungsiKunjunganEdit.CloseRecordset(); }
@Html.Raw(masterFungsiKunjunganEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(masterFungsiKunjunganEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fMasterFungsiKunjunganedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fMasterFungsiKunjunganedit" data-href="@AppPath(masterFungsiKunjunganEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(masterFungsiKunjunganEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@masterFungsiKunjunganEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("MasterFungsiKunjungan");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
