@{
    // View
    View = this;

    // Check action result
    if (masterDermagaDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = masterDermagaDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(masterDermagaDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MasterDermaga: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fMasterDermagadelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMasterDermagadelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Client script
    $('#fMasterDermagadelete').on('submit', function (e) {
        e.preventDefault();
        showLoading();
        setTimeout(() => {
            hideLoading();
        }, 3000);
        this.requestSubmit();
    });
});
</script>
@masterDermagaDelete.ShowPageHeader()
@masterDermagaDelete.ShowMessages()
<form name="fMasterDermagadelete" id="fMasterDermagadelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in masterDermagaDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(masterDermagaDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(masterDermagaDelete.TableContainerClass)" style="@(masterDermagaDelete.TableContainerStyle)">
<table class="@(masterDermagaDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (masterDermagaDelete.Region.Visible) { // masterDermagaDelete.Region.Visible (begin)
        <th class="@Html.Raw(masterDermagaDelete.Region.HeaderCellClass)"><span id="elh_MasterDermaga_Region" class="MasterDermaga_Region">@Html.Raw(masterDermagaDelete.Region.Caption)</span></th>
} @* masterDermagaDelete.Region.Visible (end) *@
@if (masterDermagaDelete.Id_Plant.Visible) { // masterDermagaDelete.Id_Plant.Visible (begin)
        <th class="@Html.Raw(masterDermagaDelete.Id_Plant.HeaderCellClass)"><span id="elh_MasterDermaga_Id_Plant" class="MasterDermaga_Id_Plant">@Html.Raw(masterDermagaDelete.Id_Plant.Caption)</span></th>
} @* masterDermagaDelete.Id_Plant.Visible (end) *@
@if (masterDermagaDelete.TBBM.Visible) { // masterDermagaDelete.TBBM.Visible (begin)
        <th class="@Html.Raw(masterDermagaDelete.TBBM.HeaderCellClass)"><span id="elh_MasterDermaga_TBBM" class="MasterDermaga_TBBM">@Html.Raw(masterDermagaDelete.TBBM.Caption)</span></th>
} @* masterDermagaDelete.TBBM.Visible (end) *@
@if (masterDermagaDelete.Equipment_ID.Visible) { // masterDermagaDelete.Equipment_ID.Visible (begin)
        <th class="@Html.Raw(masterDermagaDelete.Equipment_ID.HeaderCellClass)"><span id="elh_MasterDermaga_Equipment_ID" class="MasterDermaga_Equipment_ID">@Html.Raw(masterDermagaDelete.Equipment_ID.Caption)</span></th>
} @* masterDermagaDelete.Equipment_ID.Visible (end) *@
@if (masterDermagaDelete.Fungsi.Visible) { // masterDermagaDelete.Fungsi.Visible (begin)
        <th class="@Html.Raw(masterDermagaDelete.Fungsi.HeaderCellClass)"><span id="elh_MasterDermaga_Fungsi" class="MasterDermaga_Fungsi">@Html.Raw(masterDermagaDelete.Fungsi.Caption)</span></th>
} @* masterDermagaDelete.Fungsi.Visible (end) *@
@if (masterDermagaDelete.Kapasitas_DWT.Visible) { // masterDermagaDelete.Kapasitas_DWT.Visible (begin)
        <th class="@Html.Raw(masterDermagaDelete.Kapasitas_DWT.HeaderCellClass)"><span id="elh_MasterDermaga_Kapasitas_DWT" class="MasterDermaga_Kapasitas_DWT">@Html.Raw(masterDermagaDelete.Kapasitas_DWT.Caption)</span></th>
} @* masterDermagaDelete.Kapasitas_DWT.Visible (end) *@
@if (masterDermagaDelete.Kategori_Kapasitas.Visible) { // masterDermagaDelete.Kategori_Kapasitas.Visible (begin)
        <th class="@Html.Raw(masterDermagaDelete.Kategori_Kapasitas.HeaderCellClass)"><span id="elh_MasterDermaga_Kategori_Kapasitas" class="MasterDermaga_Kategori_Kapasitas">@Html.Raw(masterDermagaDelete.Kategori_Kapasitas.Caption)</span></th>
} @* masterDermagaDelete.Kategori_Kapasitas.Visible (end) *@
@if (masterDermagaDelete.Jenis_Sartam.Visible) { // masterDermagaDelete.Jenis_Sartam.Visible (begin)
        <th class="@Html.Raw(masterDermagaDelete.Jenis_Sartam.HeaderCellClass)"><span id="elh_MasterDermaga_Jenis_Sartam" class="MasterDermaga_Jenis_Sartam">@Html.Raw(masterDermagaDelete.Jenis_Sartam.Caption)</span></th>
} @* masterDermagaDelete.Jenis_Sartam.Visible (end) *@
@if (masterDermagaDelete.Type_Sartam.Visible) { // masterDermagaDelete.Type_Sartam.Visible (begin)
        <th class="@Html.Raw(masterDermagaDelete.Type_Sartam.HeaderCellClass)"><span id="elh_MasterDermaga_Type_Sartam" class="MasterDermaga_Type_Sartam">@Html.Raw(masterDermagaDelete.Type_Sartam.Caption)</span></th>
} @* masterDermagaDelete.Type_Sartam.Visible (end) *@
@if (masterDermagaDelete.Tahun_Pembuatan.Visible) { // masterDermagaDelete.Tahun_Pembuatan.Visible (begin)
        <th class="@Html.Raw(masterDermagaDelete.Tahun_Pembuatan.HeaderCellClass)"><span id="elh_MasterDermaga_Tahun_Pembuatan" class="MasterDermaga_Tahun_Pembuatan">@Html.Raw(masterDermagaDelete.Tahun_Pembuatan.Caption)</span></th>
} @* masterDermagaDelete.Tahun_Pembuatan.Visible (end) *@
@if (masterDermagaDelete.Kategori_Port.Visible) { // masterDermagaDelete.Kategori_Port.Visible (begin)
        <th class="@Html.Raw(masterDermagaDelete.Kategori_Port.HeaderCellClass)"><span id="elh_MasterDermaga_Kategori_Port" class="MasterDermaga_Kategori_Port">@Html.Raw(masterDermagaDelete.Kategori_Port.Caption)</span></th>
} @* masterDermagaDelete.Kategori_Port.Visible (end) *@
@if (masterDermagaDelete.DibuatOleh.Visible) { // masterDermagaDelete.DibuatOleh.Visible (begin)
        <th class="@Html.Raw(masterDermagaDelete.DibuatOleh.HeaderCellClass)"><span id="elh_MasterDermaga_DibuatOleh" class="MasterDermaga_DibuatOleh">@Html.Raw(masterDermagaDelete.DibuatOleh.Caption)</span></th>
} @* masterDermagaDelete.DibuatOleh.Visible (end) *@
@if (masterDermagaDelete.TanggalDibuat.Visible) { // masterDermagaDelete.TanggalDibuat.Visible (begin)
        <th class="@Html.Raw(masterDermagaDelete.TanggalDibuat.HeaderCellClass)"><span id="elh_MasterDermaga_TanggalDibuat" class="MasterDermaga_TanggalDibuat">@Html.Raw(masterDermagaDelete.TanggalDibuat.Caption)</span></th>
} @* masterDermagaDelete.TanggalDibuat.Visible (end) *@
@if (masterDermagaDelete.DiperbaruiOleh.Visible) { // masterDermagaDelete.DiperbaruiOleh.Visible (begin)
        <th class="@Html.Raw(masterDermagaDelete.DiperbaruiOleh.HeaderCellClass)"><span id="elh_MasterDermaga_DiperbaruiOleh" class="MasterDermaga_DiperbaruiOleh">@Html.Raw(masterDermagaDelete.DiperbaruiOleh.Caption)</span></th>
} @* masterDermagaDelete.DiperbaruiOleh.Visible (end) *@
@if (masterDermagaDelete.TanggalDiperbarui.Visible) { // masterDermagaDelete.TanggalDiperbarui.Visible (begin)
        <th class="@Html.Raw(masterDermagaDelete.TanggalDiperbarui.HeaderCellClass)"><span id="elh_MasterDermaga_TanggalDiperbarui" class="MasterDermaga_TanggalDiperbarui">@Html.Raw(masterDermagaDelete.TanggalDiperbarui.Caption)</span></th>
} @* masterDermagaDelete.TanggalDiperbarui.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ masterDermagaDelete.RecordCount = 0; }
@while (masterDermagaDelete.Recordset != null && await masterDermagaDelete.Recordset.ReadAsync()) { // DN
    masterDermagaDelete.RecordCount++;
    masterDermagaDelete.RowCount++;

    // Set row properties
    masterDermagaDelete.ResetAttributes();
    masterDermagaDelete.RowType = RowType.View; // View

    // Get the field contents
    await masterDermagaDelete.LoadRowValues(masterDermagaDelete.Recordset);

    // Render row
    await masterDermagaDelete.RenderRow();
    <tr @Html.Raw(masterDermagaDelete.RowAttributes)>
@if (masterDermagaDelete.Region.Visible) { // masterDermagaDelete.Region.Visible (begin)
        <td @Html.Raw(masterDermagaDelete.Region.CellAttributes)>
<span id="">
<span @Html.Raw(masterDermagaDelete.Region.ViewAttributes)>
@Html.Raw(masterDermagaDelete.Region.GetViewValue())</span>
</span></td>
} @* masterDermagaDelete.Region.Visible (end) *@
@if (masterDermagaDelete.Id_Plant.Visible) { // masterDermagaDelete.Id_Plant.Visible (begin)
        <td @Html.Raw(masterDermagaDelete.Id_Plant.CellAttributes)>
<span id="">
<span @Html.Raw(masterDermagaDelete.Id_Plant.ViewAttributes)>
@Html.Raw(masterDermagaDelete.Id_Plant.GetViewValue())</span>
</span></td>
} @* masterDermagaDelete.Id_Plant.Visible (end) *@
@if (masterDermagaDelete.TBBM.Visible) { // masterDermagaDelete.TBBM.Visible (begin)
        <td @Html.Raw(masterDermagaDelete.TBBM.CellAttributes)>
<span id="">
<span @Html.Raw(masterDermagaDelete.TBBM.ViewAttributes)>
@Html.Raw(masterDermagaDelete.TBBM.GetViewValue())</span>
</span></td>
} @* masterDermagaDelete.TBBM.Visible (end) *@
@if (masterDermagaDelete.Equipment_ID.Visible) { // masterDermagaDelete.Equipment_ID.Visible (begin)
        <td @Html.Raw(masterDermagaDelete.Equipment_ID.CellAttributes)>
<span id="">
<span @Html.Raw(masterDermagaDelete.Equipment_ID.ViewAttributes)>
@Html.Raw(masterDermagaDelete.Equipment_ID.GetViewValue())</span>
</span></td>
} @* masterDermagaDelete.Equipment_ID.Visible (end) *@
@if (masterDermagaDelete.Fungsi.Visible) { // masterDermagaDelete.Fungsi.Visible (begin)
        <td @Html.Raw(masterDermagaDelete.Fungsi.CellAttributes)>
<span id="">
<span @Html.Raw(masterDermagaDelete.Fungsi.ViewAttributes)>
@Html.Raw(masterDermagaDelete.Fungsi.GetViewValue())</span>
</span></td>
} @* masterDermagaDelete.Fungsi.Visible (end) *@
@if (masterDermagaDelete.Kapasitas_DWT.Visible) { // masterDermagaDelete.Kapasitas_DWT.Visible (begin)
        <td @Html.Raw(masterDermagaDelete.Kapasitas_DWT.CellAttributes)>
<span id="">
<span @Html.Raw(masterDermagaDelete.Kapasitas_DWT.ViewAttributes)>
@Html.Raw(masterDermagaDelete.Kapasitas_DWT.GetViewValue())</span>
</span></td>
} @* masterDermagaDelete.Kapasitas_DWT.Visible (end) *@
@if (masterDermagaDelete.Kategori_Kapasitas.Visible) { // masterDermagaDelete.Kategori_Kapasitas.Visible (begin)
        <td @Html.Raw(masterDermagaDelete.Kategori_Kapasitas.CellAttributes)>
<span id="">
<span @Html.Raw(masterDermagaDelete.Kategori_Kapasitas.ViewAttributes)>
@Html.Raw(masterDermagaDelete.Kategori_Kapasitas.GetViewValue())</span>
</span></td>
} @* masterDermagaDelete.Kategori_Kapasitas.Visible (end) *@
@if (masterDermagaDelete.Jenis_Sartam.Visible) { // masterDermagaDelete.Jenis_Sartam.Visible (begin)
        <td @Html.Raw(masterDermagaDelete.Jenis_Sartam.CellAttributes)>
<span id="">
<span @Html.Raw(masterDermagaDelete.Jenis_Sartam.ViewAttributes)>
@Html.Raw(masterDermagaDelete.Jenis_Sartam.GetViewValue())</span>
</span></td>
} @* masterDermagaDelete.Jenis_Sartam.Visible (end) *@
@if (masterDermagaDelete.Type_Sartam.Visible) { // masterDermagaDelete.Type_Sartam.Visible (begin)
        <td @Html.Raw(masterDermagaDelete.Type_Sartam.CellAttributes)>
<span id="">
<span @Html.Raw(masterDermagaDelete.Type_Sartam.ViewAttributes)>
@Html.Raw(masterDermagaDelete.Type_Sartam.GetViewValue())</span>
</span></td>
} @* masterDermagaDelete.Type_Sartam.Visible (end) *@
@if (masterDermagaDelete.Tahun_Pembuatan.Visible) { // masterDermagaDelete.Tahun_Pembuatan.Visible (begin)
        <td @Html.Raw(masterDermagaDelete.Tahun_Pembuatan.CellAttributes)>
<span id="">
<span @Html.Raw(masterDermagaDelete.Tahun_Pembuatan.ViewAttributes)>
@Html.Raw(masterDermagaDelete.Tahun_Pembuatan.GetViewValue())</span>
</span></td>
} @* masterDermagaDelete.Tahun_Pembuatan.Visible (end) *@
@if (masterDermagaDelete.Kategori_Port.Visible) { // masterDermagaDelete.Kategori_Port.Visible (begin)
        <td @Html.Raw(masterDermagaDelete.Kategori_Port.CellAttributes)>
<span id="">
<span @Html.Raw(masterDermagaDelete.Kategori_Port.ViewAttributes)>
@Html.Raw(masterDermagaDelete.Kategori_Port.GetViewValue())</span>
</span></td>
} @* masterDermagaDelete.Kategori_Port.Visible (end) *@
@if (masterDermagaDelete.DibuatOleh.Visible) { // masterDermagaDelete.DibuatOleh.Visible (begin)
        <td @Html.Raw(masterDermagaDelete.DibuatOleh.CellAttributes)>
<span id="">
<span @Html.Raw(masterDermagaDelete.DibuatOleh.ViewAttributes)>
@Html.Raw(masterDermagaDelete.DibuatOleh.GetViewValue())</span>
</span></td>
} @* masterDermagaDelete.DibuatOleh.Visible (end) *@
@if (masterDermagaDelete.TanggalDibuat.Visible) { // masterDermagaDelete.TanggalDibuat.Visible (begin)
        <td @Html.Raw(masterDermagaDelete.TanggalDibuat.CellAttributes)>
<span id="">
<span @Html.Raw(masterDermagaDelete.TanggalDibuat.ViewAttributes)>
@Html.Raw(masterDermagaDelete.TanggalDibuat.GetViewValue())</span>
</span></td>
} @* masterDermagaDelete.TanggalDibuat.Visible (end) *@
@if (masterDermagaDelete.DiperbaruiOleh.Visible) { // masterDermagaDelete.DiperbaruiOleh.Visible (begin)
        <td @Html.Raw(masterDermagaDelete.DiperbaruiOleh.CellAttributes)>
<span id="">
<span @Html.Raw(masterDermagaDelete.DiperbaruiOleh.ViewAttributes)>
@Html.Raw(masterDermagaDelete.DiperbaruiOleh.GetViewValue())</span>
</span></td>
} @* masterDermagaDelete.DiperbaruiOleh.Visible (end) *@
@if (masterDermagaDelete.TanggalDiperbarui.Visible) { // masterDermagaDelete.TanggalDiperbarui.Visible (begin)
        <td @Html.Raw(masterDermagaDelete.TanggalDiperbarui.CellAttributes)>
<span id="">
<span @Html.Raw(masterDermagaDelete.TanggalDiperbarui.ViewAttributes)>
@Html.Raw(masterDermagaDelete.TanggalDiperbarui.GetViewValue())</span>
</span></td>
} @* masterDermagaDelete.TanggalDiperbarui.Visible (end) *@
    </tr>
}
@{ masterDermagaDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(masterDermagaDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@masterDermagaDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
