@{
    // View
    View = this;

    // Check action result
    if (masterDermagaView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = masterDermagaView.UseLayout ? "_Layout" : "";
}
@if (!masterDermagaView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @masterDermagaView.ExportOptions.RenderBody()
    @masterDermagaView.OtherOptions.RenderBody()
</div>
}
@masterDermagaView.ShowPageHeader()
@masterDermagaView.ShowMessages()
<main class="view">
<form name="fMasterDermagaview" id="fMasterDermagaview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!masterDermagaView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(masterDermagaView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MasterDermaga: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fMasterDermagaview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMasterDermagaview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(masterDermagaView.IsModal)">
<table class="@(masterDermagaView.TableClass)">
@if (masterDermagaView.IdDermaga.Visible) { // masterDermagaView.IdDermaga.Visible (begin)
    <tr id="r_IdDermaga" @Html.Raw(masterDermagaView.IdDermaga.RowAttributes)>
        <td class="@(masterDermagaView.TableLeftColumnClass)"><span id="elh_MasterDermaga_IdDermaga">@Html.Raw(masterDermagaView.IdDermaga.Caption)</span></td>
        <td data-name="IdDermaga" @Html.Raw(masterDermagaView.IdDermaga.CellAttributes)>
<span id="el_MasterDermaga_IdDermaga">
<span @Html.Raw(masterDermagaView.IdDermaga.ViewAttributes)>
@Html.Raw(masterDermagaView.IdDermaga.GetViewValue())</span>
</span></td>
    </tr>
} @* masterDermagaView.IdDermaga.Visible (end) *@
@if (masterDermagaView.Region.Visible) { // masterDermagaView.Region.Visible (begin)
    <tr id="r_Region" @Html.Raw(masterDermagaView.Region.RowAttributes)>
        <td class="@(masterDermagaView.TableLeftColumnClass)"><span id="elh_MasterDermaga_Region">@Html.Raw(masterDermagaView.Region.Caption)</span></td>
        <td data-name="Region" @Html.Raw(masterDermagaView.Region.CellAttributes)>
<span id="el_MasterDermaga_Region">
<span @Html.Raw(masterDermagaView.Region.ViewAttributes)>
@Html.Raw(masterDermagaView.Region.GetViewValue())</span>
</span></td>
    </tr>
} @* masterDermagaView.Region.Visible (end) *@
@if (masterDermagaView.Id_Plant.Visible) { // masterDermagaView.Id_Plant.Visible (begin)
    <tr id="r_Id_Plant" @Html.Raw(masterDermagaView.Id_Plant.RowAttributes)>
        <td class="@(masterDermagaView.TableLeftColumnClass)"><span id="elh_MasterDermaga_Id_Plant">@Html.Raw(masterDermagaView.Id_Plant.Caption)</span></td>
        <td data-name="Id_Plant" @Html.Raw(masterDermagaView.Id_Plant.CellAttributes)>
<span id="el_MasterDermaga_Id_Plant">
<span @Html.Raw(masterDermagaView.Id_Plant.ViewAttributes)>
@Html.Raw(masterDermagaView.Id_Plant.GetViewValue())</span>
</span></td>
    </tr>
} @* masterDermagaView.Id_Plant.Visible (end) *@
@if (masterDermagaView.TBBM.Visible) { // masterDermagaView.TBBM.Visible (begin)
    <tr id="r_TBBM" @Html.Raw(masterDermagaView.TBBM.RowAttributes)>
        <td class="@(masterDermagaView.TableLeftColumnClass)"><span id="elh_MasterDermaga_TBBM">@Html.Raw(masterDermagaView.TBBM.Caption)</span></td>
        <td data-name="TBBM" @Html.Raw(masterDermagaView.TBBM.CellAttributes)>
<span id="el_MasterDermaga_TBBM">
<span @Html.Raw(masterDermagaView.TBBM.ViewAttributes)>
@Html.Raw(masterDermagaView.TBBM.GetViewValue())</span>
</span></td>
    </tr>
} @* masterDermagaView.TBBM.Visible (end) *@
@if (masterDermagaView.Equipment_ID.Visible) { // masterDermagaView.Equipment_ID.Visible (begin)
    <tr id="r_Equipment_ID" @Html.Raw(masterDermagaView.Equipment_ID.RowAttributes)>
        <td class="@(masterDermagaView.TableLeftColumnClass)"><span id="elh_MasterDermaga_Equipment_ID">@Html.Raw(masterDermagaView.Equipment_ID.Caption)</span></td>
        <td data-name="Equipment_ID" @Html.Raw(masterDermagaView.Equipment_ID.CellAttributes)>
<span id="el_MasterDermaga_Equipment_ID">
<span @Html.Raw(masterDermagaView.Equipment_ID.ViewAttributes)>
@Html.Raw(masterDermagaView.Equipment_ID.GetViewValue())</span>
</span></td>
    </tr>
} @* masterDermagaView.Equipment_ID.Visible (end) *@
@if (masterDermagaView.Fungsi.Visible) { // masterDermagaView.Fungsi.Visible (begin)
    <tr id="r_Fungsi" @Html.Raw(masterDermagaView.Fungsi.RowAttributes)>
        <td class="@(masterDermagaView.TableLeftColumnClass)"><span id="elh_MasterDermaga_Fungsi">@Html.Raw(masterDermagaView.Fungsi.Caption)</span></td>
        <td data-name="Fungsi" @Html.Raw(masterDermagaView.Fungsi.CellAttributes)>
<span id="el_MasterDermaga_Fungsi">
<span @Html.Raw(masterDermagaView.Fungsi.ViewAttributes)>
@Html.Raw(masterDermagaView.Fungsi.GetViewValue())</span>
</span></td>
    </tr>
} @* masterDermagaView.Fungsi.Visible (end) *@
@if (masterDermagaView.Kapasitas_DWT.Visible) { // masterDermagaView.Kapasitas_DWT.Visible (begin)
    <tr id="r_Kapasitas_DWT" @Html.Raw(masterDermagaView.Kapasitas_DWT.RowAttributes)>
        <td class="@(masterDermagaView.TableLeftColumnClass)"><span id="elh_MasterDermaga_Kapasitas_DWT">@Html.Raw(masterDermagaView.Kapasitas_DWT.Caption)</span></td>
        <td data-name="Kapasitas_DWT" @Html.Raw(masterDermagaView.Kapasitas_DWT.CellAttributes)>
<span id="el_MasterDermaga_Kapasitas_DWT">
<span @Html.Raw(masterDermagaView.Kapasitas_DWT.ViewAttributes)>
@Html.Raw(masterDermagaView.Kapasitas_DWT.GetViewValue())</span>
</span></td>
    </tr>
} @* masterDermagaView.Kapasitas_DWT.Visible (end) *@
@if (masterDermagaView.Kategori_Kapasitas.Visible) { // masterDermagaView.Kategori_Kapasitas.Visible (begin)
    <tr id="r_Kategori_Kapasitas" @Html.Raw(masterDermagaView.Kategori_Kapasitas.RowAttributes)>
        <td class="@(masterDermagaView.TableLeftColumnClass)"><span id="elh_MasterDermaga_Kategori_Kapasitas">@Html.Raw(masterDermagaView.Kategori_Kapasitas.Caption)</span></td>
        <td data-name="Kategori_Kapasitas" @Html.Raw(masterDermagaView.Kategori_Kapasitas.CellAttributes)>
<span id="el_MasterDermaga_Kategori_Kapasitas">
<span @Html.Raw(masterDermagaView.Kategori_Kapasitas.ViewAttributes)>
@Html.Raw(masterDermagaView.Kategori_Kapasitas.GetViewValue())</span>
</span></td>
    </tr>
} @* masterDermagaView.Kategori_Kapasitas.Visible (end) *@
@if (masterDermagaView.Jenis_Sartam.Visible) { // masterDermagaView.Jenis_Sartam.Visible (begin)
    <tr id="r_Jenis_Sartam" @Html.Raw(masterDermagaView.Jenis_Sartam.RowAttributes)>
        <td class="@(masterDermagaView.TableLeftColumnClass)"><span id="elh_MasterDermaga_Jenis_Sartam">@Html.Raw(masterDermagaView.Jenis_Sartam.Caption)</span></td>
        <td data-name="Jenis_Sartam" @Html.Raw(masterDermagaView.Jenis_Sartam.CellAttributes)>
<span id="el_MasterDermaga_Jenis_Sartam">
<span @Html.Raw(masterDermagaView.Jenis_Sartam.ViewAttributes)>
@Html.Raw(masterDermagaView.Jenis_Sartam.GetViewValue())</span>
</span></td>
    </tr>
} @* masterDermagaView.Jenis_Sartam.Visible (end) *@
@if (masterDermagaView.Type_Sartam.Visible) { // masterDermagaView.Type_Sartam.Visible (begin)
    <tr id="r_Type_Sartam" @Html.Raw(masterDermagaView.Type_Sartam.RowAttributes)>
        <td class="@(masterDermagaView.TableLeftColumnClass)"><span id="elh_MasterDermaga_Type_Sartam">@Html.Raw(masterDermagaView.Type_Sartam.Caption)</span></td>
        <td data-name="Type_Sartam" @Html.Raw(masterDermagaView.Type_Sartam.CellAttributes)>
<span id="el_MasterDermaga_Type_Sartam">
<span @Html.Raw(masterDermagaView.Type_Sartam.ViewAttributes)>
@Html.Raw(masterDermagaView.Type_Sartam.GetViewValue())</span>
</span></td>
    </tr>
} @* masterDermagaView.Type_Sartam.Visible (end) *@
@if (masterDermagaView.Tahun_Pembuatan.Visible) { // masterDermagaView.Tahun_Pembuatan.Visible (begin)
    <tr id="r_Tahun_Pembuatan" @Html.Raw(masterDermagaView.Tahun_Pembuatan.RowAttributes)>
        <td class="@(masterDermagaView.TableLeftColumnClass)"><span id="elh_MasterDermaga_Tahun_Pembuatan">@Html.Raw(masterDermagaView.Tahun_Pembuatan.Caption)</span></td>
        <td data-name="Tahun_Pembuatan" @Html.Raw(masterDermagaView.Tahun_Pembuatan.CellAttributes)>
<span id="el_MasterDermaga_Tahun_Pembuatan">
<span @Html.Raw(masterDermagaView.Tahun_Pembuatan.ViewAttributes)>
@Html.Raw(masterDermagaView.Tahun_Pembuatan.GetViewValue())</span>
</span></td>
    </tr>
} @* masterDermagaView.Tahun_Pembuatan.Visible (end) *@
@if (masterDermagaView.Kategori_Port.Visible) { // masterDermagaView.Kategori_Port.Visible (begin)
    <tr id="r_Kategori_Port" @Html.Raw(masterDermagaView.Kategori_Port.RowAttributes)>
        <td class="@(masterDermagaView.TableLeftColumnClass)"><span id="elh_MasterDermaga_Kategori_Port">@Html.Raw(masterDermagaView.Kategori_Port.Caption)</span></td>
        <td data-name="Kategori_Port" @Html.Raw(masterDermagaView.Kategori_Port.CellAttributes)>
<span id="el_MasterDermaga_Kategori_Port">
<span @Html.Raw(masterDermagaView.Kategori_Port.ViewAttributes)>
@Html.Raw(masterDermagaView.Kategori_Port.GetViewValue())</span>
</span></td>
    </tr>
} @* masterDermagaView.Kategori_Port.Visible (end) *@
@if (masterDermagaView.DibuatOleh.Visible) { // masterDermagaView.DibuatOleh.Visible (begin)
    <tr id="r_DibuatOleh" @Html.Raw(masterDermagaView.DibuatOleh.RowAttributes)>
        <td class="@(masterDermagaView.TableLeftColumnClass)"><span id="elh_MasterDermaga_DibuatOleh">@Html.Raw(masterDermagaView.DibuatOleh.Caption)</span></td>
        <td data-name="DibuatOleh" @Html.Raw(masterDermagaView.DibuatOleh.CellAttributes)>
<span id="el_MasterDermaga_DibuatOleh">
<span @Html.Raw(masterDermagaView.DibuatOleh.ViewAttributes)>
@Html.Raw(masterDermagaView.DibuatOleh.GetViewValue())</span>
</span></td>
    </tr>
} @* masterDermagaView.DibuatOleh.Visible (end) *@
@if (masterDermagaView.TanggalDibuat.Visible) { // masterDermagaView.TanggalDibuat.Visible (begin)
    <tr id="r_TanggalDibuat" @Html.Raw(masterDermagaView.TanggalDibuat.RowAttributes)>
        <td class="@(masterDermagaView.TableLeftColumnClass)"><span id="elh_MasterDermaga_TanggalDibuat">@Html.Raw(masterDermagaView.TanggalDibuat.Caption)</span></td>
        <td data-name="TanggalDibuat" @Html.Raw(masterDermagaView.TanggalDibuat.CellAttributes)>
<span id="el_MasterDermaga_TanggalDibuat">
<span @Html.Raw(masterDermagaView.TanggalDibuat.ViewAttributes)>
@Html.Raw(masterDermagaView.TanggalDibuat.GetViewValue())</span>
</span></td>
    </tr>
} @* masterDermagaView.TanggalDibuat.Visible (end) *@
@if (masterDermagaView.DiperbaruiOleh.Visible) { // masterDermagaView.DiperbaruiOleh.Visible (begin)
    <tr id="r_DiperbaruiOleh" @Html.Raw(masterDermagaView.DiperbaruiOleh.RowAttributes)>
        <td class="@(masterDermagaView.TableLeftColumnClass)"><span id="elh_MasterDermaga_DiperbaruiOleh">@Html.Raw(masterDermagaView.DiperbaruiOleh.Caption)</span></td>
        <td data-name="DiperbaruiOleh" @Html.Raw(masterDermagaView.DiperbaruiOleh.CellAttributes)>
<span id="el_MasterDermaga_DiperbaruiOleh">
<span @Html.Raw(masterDermagaView.DiperbaruiOleh.ViewAttributes)>
@Html.Raw(masterDermagaView.DiperbaruiOleh.GetViewValue())</span>
</span></td>
    </tr>
} @* masterDermagaView.DiperbaruiOleh.Visible (end) *@
@if (masterDermagaView.TanggalDiperbarui.Visible) { // masterDermagaView.TanggalDiperbarui.Visible (begin)
    <tr id="r_TanggalDiperbarui" @Html.Raw(masterDermagaView.TanggalDiperbarui.RowAttributes)>
        <td class="@(masterDermagaView.TableLeftColumnClass)"><span id="elh_MasterDermaga_TanggalDiperbarui">@Html.Raw(masterDermagaView.TanggalDiperbarui.Caption)</span></td>
        <td data-name="TanggalDiperbarui" @Html.Raw(masterDermagaView.TanggalDiperbarui.CellAttributes)>
<span id="el_MasterDermaga_TanggalDiperbarui">
<span @Html.Raw(masterDermagaView.TanggalDiperbarui.ViewAttributes)>
@Html.Raw(masterDermagaView.TanggalDiperbarui.GetViewValue())</span>
</span></td>
    </tr>
} @* masterDermagaView.TanggalDiperbarui.Visible (end) *@
</table>
@{ masterDermagaView.CloseRecordset(); }
</form>
</main>
@masterDermagaView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!masterDermagaView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
