@{
    // View
    View = this;

    // Check action result
    if (masterTangkiDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = masterTangkiDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(masterTangkiDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MasterTangki: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fMasterTangkidelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMasterTangkidelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Client script
    $('#fMasterTangkidelete').on('submit', function (e) {
        e.preventDefault();
        showLoading();
        setTimeout(() => {
            hideLoading();
        }, 3000);
        this.requestSubmit();
    });
});
</script>
@masterTangkiDelete.ShowPageHeader()
@masterTangkiDelete.ShowMessages()
<form name="fMasterTangkidelete" id="fMasterTangkidelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in masterTangkiDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(masterTangkiDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(masterTangkiDelete.TableContainerClass)" style="@(masterTangkiDelete.TableContainerStyle)">
<table class="@(masterTangkiDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (masterTangkiDelete.NamaTerminal.Visible) { // masterTangkiDelete.NamaTerminal.Visible (begin)
        <th class="@Html.Raw(masterTangkiDelete.NamaTerminal.HeaderCellClass)"><span id="elh_MasterTangki_NamaTerminal" class="MasterTangki_NamaTerminal">@Html.Raw(masterTangkiDelete.NamaTerminal.Caption)</span></th>
} @* masterTangkiDelete.NamaTerminal.Visible (end) *@
@if (masterTangkiDelete.Plant.Visible) { // masterTangkiDelete.Plant.Visible (begin)
        <th class="@Html.Raw(masterTangkiDelete.Plant.HeaderCellClass)"><span id="elh_MasterTangki_Plant" class="MasterTangki_Plant">@Html.Raw(masterTangkiDelete.Plant.Caption)</span></th>
} @* masterTangkiDelete.Plant.Visible (end) *@
@if (masterTangkiDelete.Sloc.Visible) { // masterTangkiDelete.Sloc.Visible (begin)
        <th class="@Html.Raw(masterTangkiDelete.Sloc.HeaderCellClass)"><span id="elh_MasterTangki_Sloc" class="MasterTangki_Sloc">@Html.Raw(masterTangkiDelete.Sloc.Caption)</span></th>
} @* masterTangkiDelete.Sloc.Visible (end) *@
@if (masterTangkiDelete.SeqTangki.Visible) { // masterTangkiDelete.SeqTangki.Visible (begin)
        <th class="@Html.Raw(masterTangkiDelete.SeqTangki.HeaderCellClass)"><span id="elh_MasterTangki_SeqTangki" class="MasterTangki_SeqTangki">@Html.Raw(masterTangkiDelete.SeqTangki.Caption)</span></th>
} @* masterTangkiDelete.SeqTangki.Visible (end) *@
@if (masterTangkiDelete.MatNo.Visible) { // masterTangkiDelete.MatNo.Visible (begin)
        <th class="@Html.Raw(masterTangkiDelete.MatNo.HeaderCellClass)"><span id="elh_MasterTangki_MatNo" class="MasterTangki_MatNo">@Html.Raw(masterTangkiDelete.MatNo.Caption)</span></th>
} @* masterTangkiDelete.MatNo.Visible (end) *@
@if (masterTangkiDelete.TglKalibrasi.Visible) { // masterTangkiDelete.TglKalibrasi.Visible (begin)
        <th class="@Html.Raw(masterTangkiDelete.TglKalibrasi.HeaderCellClass)"><span id="elh_MasterTangki_TglKalibrasi" class="MasterTangki_TglKalibrasi">@Html.Raw(masterTangkiDelete.TglKalibrasi.Caption)</span></th>
} @* masterTangkiDelete.TglKalibrasi.Visible (end) *@
@if (masterTangkiDelete.ExpDate.Visible) { // masterTangkiDelete.ExpDate.Visible (begin)
        <th class="@Html.Raw(masterTangkiDelete.ExpDate.HeaderCellClass)"><span id="elh_MasterTangki_ExpDate" class="MasterTangki_ExpDate">@Html.Raw(masterTangkiDelete.ExpDate.Caption)</span></th>
} @* masterTangkiDelete.ExpDate.Visible (end) *@
@if (masterTangkiDelete.Status.Visible) { // masterTangkiDelete.Status.Visible (begin)
        <th class="@Html.Raw(masterTangkiDelete.Status.HeaderCellClass)"><span id="elh_MasterTangki_Status" class="MasterTangki_Status">@Html.Raw(masterTangkiDelete.Status.Caption)</span></th>
} @* masterTangkiDelete.Status.Visible (end) *@
@if (masterTangkiDelete.TinggiMejaUk.Visible) { // masterTangkiDelete.TinggiMejaUk.Visible (begin)
        <th class="@Html.Raw(masterTangkiDelete.TinggiMejaUk.HeaderCellClass)"><span id="elh_MasterTangki_TinggiMejaUk" class="MasterTangki_TinggiMejaUk">@Html.Raw(masterTangkiDelete.TinggiMejaUk.Caption)</span></th>
} @* masterTangkiDelete.TinggiMejaUk.Visible (end) *@
@if (masterTangkiDelete.MaxDipping.Visible) { // masterTangkiDelete.MaxDipping.Visible (begin)
        <th class="@Html.Raw(masterTangkiDelete.MaxDipping.HeaderCellClass)"><span id="elh_MasterTangki_MaxDipping" class="MasterTangki_MaxDipping">@Html.Raw(masterTangkiDelete.MaxDipping.Caption)</span></th>
} @* masterTangkiDelete.MaxDipping.Visible (end) *@
@if (masterTangkiDelete.MaxCapacity.Visible) { // masterTangkiDelete.MaxCapacity.Visible (begin)
        <th class="@Html.Raw(masterTangkiDelete.MaxCapacity.HeaderCellClass)"><span id="elh_MasterTangki_MaxCapacity" class="MasterTangki_MaxCapacity">@Html.Raw(masterTangkiDelete.MaxCapacity.Caption)</span></th>
} @* masterTangkiDelete.MaxCapacity.Visible (end) *@
@if (masterTangkiDelete.UnpumpableQty.Visible) { // masterTangkiDelete.UnpumpableQty.Visible (begin)
        <th class="@Html.Raw(masterTangkiDelete.UnpumpableQty.HeaderCellClass)"><span id="elh_MasterTangki_UnpumpableQty" class="MasterTangki_UnpumpableQty">@Html.Raw(masterTangkiDelete.UnpumpableQty.Caption)</span></th>
} @* masterTangkiDelete.UnpumpableQty.Visible (end) *@
@if (masterTangkiDelete.PumpableQty.Visible) { // masterTangkiDelete.PumpableQty.Visible (begin)
        <th class="@Html.Raw(masterTangkiDelete.PumpableQty.HeaderCellClass)"><span id="elh_MasterTangki_PumpableQty" class="MasterTangki_PumpableQty">@Html.Raw(masterTangkiDelete.PumpableQty.Caption)</span></th>
} @* masterTangkiDelete.PumpableQty.Visible (end) *@
@if (masterTangkiDelete.LastUpdatedBy.Visible) { // masterTangkiDelete.LastUpdatedBy.Visible (begin)
        <th class="@Html.Raw(masterTangkiDelete.LastUpdatedBy.HeaderCellClass)"><span id="elh_MasterTangki_LastUpdatedBy" class="MasterTangki_LastUpdatedBy">@Html.Raw(masterTangkiDelete.LastUpdatedBy.Caption)</span></th>
} @* masterTangkiDelete.LastUpdatedBy.Visible (end) *@
@if (masterTangkiDelete.lastUpdatedDate.Visible) { // masterTangkiDelete.lastUpdatedDate.Visible (begin)
        <th class="@Html.Raw(masterTangkiDelete.lastUpdatedDate.HeaderCellClass)"><span id="elh_MasterTangki_lastUpdatedDate" class="MasterTangki_lastUpdatedDate">@Html.Raw(masterTangkiDelete.lastUpdatedDate.Caption)</span></th>
} @* masterTangkiDelete.lastUpdatedDate.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ masterTangkiDelete.RecordCount = 0; }
@while (masterTangkiDelete.Recordset != null && await masterTangkiDelete.Recordset.ReadAsync()) { // DN
    masterTangkiDelete.RecordCount++;
    masterTangkiDelete.RowCount++;

    // Set row properties
    masterTangkiDelete.ResetAttributes();
    masterTangkiDelete.RowType = RowType.View; // View

    // Get the field contents
    await masterTangkiDelete.LoadRowValues(masterTangkiDelete.Recordset);

    // Render row
    await masterTangkiDelete.RenderRow();
    <tr @Html.Raw(masterTangkiDelete.RowAttributes)>
@if (masterTangkiDelete.NamaTerminal.Visible) { // masterTangkiDelete.NamaTerminal.Visible (begin)
        <td @Html.Raw(masterTangkiDelete.NamaTerminal.CellAttributes)>
<span id="">
<span @Html.Raw(masterTangkiDelete.NamaTerminal.ViewAttributes)>
@Html.Raw(masterTangkiDelete.NamaTerminal.GetViewValue())</span>
</span></td>
} @* masterTangkiDelete.NamaTerminal.Visible (end) *@
@if (masterTangkiDelete.Plant.Visible) { // masterTangkiDelete.Plant.Visible (begin)
        <td @Html.Raw(masterTangkiDelete.Plant.CellAttributes)>
<span id="">
<span @Html.Raw(masterTangkiDelete.Plant.ViewAttributes)>
@Html.Raw(masterTangkiDelete.Plant.GetViewValue())</span>
</span></td>
} @* masterTangkiDelete.Plant.Visible (end) *@
@if (masterTangkiDelete.Sloc.Visible) { // masterTangkiDelete.Sloc.Visible (begin)
        <td @Html.Raw(masterTangkiDelete.Sloc.CellAttributes)>
<span id="">
<span @Html.Raw(masterTangkiDelete.Sloc.ViewAttributes)>
@Html.Raw(masterTangkiDelete.Sloc.GetViewValue())</span>
</span></td>
} @* masterTangkiDelete.Sloc.Visible (end) *@
@if (masterTangkiDelete.SeqTangki.Visible) { // masterTangkiDelete.SeqTangki.Visible (begin)
        <td @Html.Raw(masterTangkiDelete.SeqTangki.CellAttributes)>
<span id="">
<span @Html.Raw(masterTangkiDelete.SeqTangki.ViewAttributes)>
@Html.Raw(masterTangkiDelete.SeqTangki.GetViewValue())</span>
</span></td>
} @* masterTangkiDelete.SeqTangki.Visible (end) *@
@if (masterTangkiDelete.MatNo.Visible) { // masterTangkiDelete.MatNo.Visible (begin)
        <td @Html.Raw(masterTangkiDelete.MatNo.CellAttributes)>
<span id="">
<span @Html.Raw(masterTangkiDelete.MatNo.ViewAttributes)>
@Html.Raw(masterTangkiDelete.MatNo.GetViewValue())</span>
</span></td>
} @* masterTangkiDelete.MatNo.Visible (end) *@
@if (masterTangkiDelete.TglKalibrasi.Visible) { // masterTangkiDelete.TglKalibrasi.Visible (begin)
        <td @Html.Raw(masterTangkiDelete.TglKalibrasi.CellAttributes)>
<span id="">
<span @Html.Raw(masterTangkiDelete.TglKalibrasi.ViewAttributes)>
@Html.Raw(masterTangkiDelete.TglKalibrasi.GetViewValue())</span>
</span></td>
} @* masterTangkiDelete.TglKalibrasi.Visible (end) *@
@if (masterTangkiDelete.ExpDate.Visible) { // masterTangkiDelete.ExpDate.Visible (begin)
        <td @Html.Raw(masterTangkiDelete.ExpDate.CellAttributes)>
<span id="">
<span @Html.Raw(masterTangkiDelete.ExpDate.ViewAttributes)>
@Html.Raw(masterTangkiDelete.ExpDate.GetViewValue())</span>
</span></td>
} @* masterTangkiDelete.ExpDate.Visible (end) *@
@if (masterTangkiDelete.Status.Visible) { // masterTangkiDelete.Status.Visible (begin)
        <td @Html.Raw(masterTangkiDelete.Status.CellAttributes)>
<span id="">
<span @Html.Raw(masterTangkiDelete.Status.ViewAttributes)>
@Html.Raw(masterTangkiDelete.Status.GetViewValue())</span>
</span></td>
} @* masterTangkiDelete.Status.Visible (end) *@
@if (masterTangkiDelete.TinggiMejaUk.Visible) { // masterTangkiDelete.TinggiMejaUk.Visible (begin)
        <td @Html.Raw(masterTangkiDelete.TinggiMejaUk.CellAttributes)>
<span id="">
<span @Html.Raw(masterTangkiDelete.TinggiMejaUk.ViewAttributes)>
@Html.Raw(masterTangkiDelete.TinggiMejaUk.GetViewValue())</span>
</span></td>
} @* masterTangkiDelete.TinggiMejaUk.Visible (end) *@
@if (masterTangkiDelete.MaxDipping.Visible) { // masterTangkiDelete.MaxDipping.Visible (begin)
        <td @Html.Raw(masterTangkiDelete.MaxDipping.CellAttributes)>
<span id="">
<span @Html.Raw(masterTangkiDelete.MaxDipping.ViewAttributes)>
@Html.Raw(masterTangkiDelete.MaxDipping.GetViewValue())</span>
</span></td>
} @* masterTangkiDelete.MaxDipping.Visible (end) *@
@if (masterTangkiDelete.MaxCapacity.Visible) { // masterTangkiDelete.MaxCapacity.Visible (begin)
        <td @Html.Raw(masterTangkiDelete.MaxCapacity.CellAttributes)>
<span id="">
<span @Html.Raw(masterTangkiDelete.MaxCapacity.ViewAttributes)>
@Html.Raw(masterTangkiDelete.MaxCapacity.GetViewValue())</span>
</span></td>
} @* masterTangkiDelete.MaxCapacity.Visible (end) *@
@if (masterTangkiDelete.UnpumpableQty.Visible) { // masterTangkiDelete.UnpumpableQty.Visible (begin)
        <td @Html.Raw(masterTangkiDelete.UnpumpableQty.CellAttributes)>
<span id="">
<span @Html.Raw(masterTangkiDelete.UnpumpableQty.ViewAttributes)>
@Html.Raw(masterTangkiDelete.UnpumpableQty.GetViewValue())</span>
</span></td>
} @* masterTangkiDelete.UnpumpableQty.Visible (end) *@
@if (masterTangkiDelete.PumpableQty.Visible) { // masterTangkiDelete.PumpableQty.Visible (begin)
        <td @Html.Raw(masterTangkiDelete.PumpableQty.CellAttributes)>
<span id="">
<span @Html.Raw(masterTangkiDelete.PumpableQty.ViewAttributes)>
@Html.Raw(masterTangkiDelete.PumpableQty.GetViewValue())</span>
</span></td>
} @* masterTangkiDelete.PumpableQty.Visible (end) *@
@if (masterTangkiDelete.LastUpdatedBy.Visible) { // masterTangkiDelete.LastUpdatedBy.Visible (begin)
        <td @Html.Raw(masterTangkiDelete.LastUpdatedBy.CellAttributes)>
<span id="">
<span @Html.Raw(masterTangkiDelete.LastUpdatedBy.ViewAttributes)>
@Html.Raw(masterTangkiDelete.LastUpdatedBy.GetViewValue())</span>
</span></td>
} @* masterTangkiDelete.LastUpdatedBy.Visible (end) *@
@if (masterTangkiDelete.lastUpdatedDate.Visible) { // masterTangkiDelete.lastUpdatedDate.Visible (begin)
        <td @Html.Raw(masterTangkiDelete.lastUpdatedDate.CellAttributes)>
<span id="">
<span @Html.Raw(masterTangkiDelete.lastUpdatedDate.ViewAttributes)>
@Html.Raw(masterTangkiDelete.lastUpdatedDate.GetViewValue())</span>
</span></td>
} @* masterTangkiDelete.lastUpdatedDate.Visible (end) *@
    </tr>
}
@{ masterTangkiDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(masterTangkiDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@masterTangkiDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
