@{
    var masterTable = Resolve("MasterTemplate");
    masterTable.TableClass = "table table-bordered table-hover table-sm ew-table ew-master-table"; // DN
}
@if (masterTable.Visible) { // masterTable.Visible (begin)
<div class="ew-master-div">
<table id="tbl_MasterTemplatemaster" class="table ew-view-table ew-master-table ew-vertical">
    <tbody>
        @if (masterTable.NamaTemplate.Visible) { // masterTable.NamaTemplate.Visible (begin)
        <tr id="r_NamaTemplate" @Html.Raw(masterTable.NamaTemplate.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.NamaTemplate.Caption)</td>
            <td @Html.Raw(masterTable.NamaTemplate.CellAttributes)>
<span id="el_MasterTemplate_NamaTemplate">
<span @Html.Raw(masterTable.NamaTemplate.ViewAttributes)>
@Html.Raw(masterTable.NamaTemplate.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.NamaTemplate.Visible (end) *@
        @if (masterTable.IdModa.Visible) { // masterTable.IdModa.Visible (begin)
        <tr id="r_IdModa" @Html.Raw(masterTable.IdModa.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.IdModa.Caption)</td>
            <td @Html.Raw(masterTable.IdModa.CellAttributes)>
<span id="el_MasterTemplate_IdModa">
<span @Html.Raw(masterTable.IdModa.ViewAttributes)>
@Html.Raw(masterTable.IdModa.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.IdModa.Visible (end) *@
        @if (masterTable.JenisProses.Visible) { // masterTable.JenisProses.Visible (begin)
        <tr id="r_JenisProses" @Html.Raw(masterTable.JenisProses.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.JenisProses.Caption)</td>
            <td @Html.Raw(masterTable.JenisProses.CellAttributes)>
<span id="el_MasterTemplate_JenisProses">
<span @Html.Raw(masterTable.JenisProses.ViewAttributes)>
@Html.Raw(masterTable.JenisProses.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.JenisProses.Visible (end) *@
        @if (masterTable.Keterangan.Visible) { // masterTable.Keterangan.Visible (begin)
        <tr id="r_Keterangan" @Html.Raw(masterTable.Keterangan.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.Keterangan.Caption)</td>
            <td @Html.Raw(masterTable.Keterangan.CellAttributes)>
<span id="el_MasterTemplate_Keterangan">
<span @Html.Raw(masterTable.Keterangan.ViewAttributes)>
@Html.Raw(masterTable.Keterangan.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.Keterangan.Visible (end) *@
        @if (masterTable.DibuatOleh.Visible) { // masterTable.DibuatOleh.Visible (begin)
        <tr id="r_DibuatOleh" @Html.Raw(masterTable.DibuatOleh.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.DibuatOleh.Caption)</td>
            <td @Html.Raw(masterTable.DibuatOleh.CellAttributes)>
<span id="el_MasterTemplate_DibuatOleh">
<span @Html.Raw(masterTable.DibuatOleh.ViewAttributes)>
@Html.Raw(masterTable.DibuatOleh.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.DibuatOleh.Visible (end) *@
        @if (masterTable.TanggalDibuat.Visible) { // masterTable.TanggalDibuat.Visible (begin)
        <tr id="r_TanggalDibuat" @Html.Raw(masterTable.TanggalDibuat.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.TanggalDibuat.Caption)</td>
            <td @Html.Raw(masterTable.TanggalDibuat.CellAttributes)>
<span id="el_MasterTemplate_TanggalDibuat">
<span @Html.Raw(masterTable.TanggalDibuat.ViewAttributes)>
@Html.Raw(masterTable.TanggalDibuat.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.TanggalDibuat.Visible (end) *@
        @if (masterTable.DiperbaruiOleh.Visible) { // masterTable.DiperbaruiOleh.Visible (begin)
        <tr id="r_DiperbaruiOleh" @Html.Raw(masterTable.DiperbaruiOleh.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.DiperbaruiOleh.Caption)</td>
            <td @Html.Raw(masterTable.DiperbaruiOleh.CellAttributes)>
<span id="el_MasterTemplate_DiperbaruiOleh">
<span @Html.Raw(masterTable.DiperbaruiOleh.ViewAttributes)>
@Html.Raw(masterTable.DiperbaruiOleh.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.DiperbaruiOleh.Visible (end) *@
        @if (masterTable.TanggalDiperbarui.Visible) { // masterTable.TanggalDiperbarui.Visible (begin)
        <tr id="r_TanggalDiperbarui" @Html.Raw(masterTable.TanggalDiperbarui.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.TanggalDiperbarui.Caption)</td>
            <td @Html.Raw(masterTable.TanggalDiperbarui.CellAttributes)>
<span id="el_MasterTemplate_TanggalDiperbarui">
<span @Html.Raw(masterTable.TanggalDiperbarui.ViewAttributes)>
@Html.Raw(masterTable.TanggalDiperbarui.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.TanggalDiperbarui.Visible (end) *@
        @if (masterTable.TipePenimbunan.Visible) { // masterTable.TipePenimbunan.Visible (begin)
        <tr id="r_TipePenimbunan" @Html.Raw(masterTable.TipePenimbunan.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.TipePenimbunan.Caption)</td>
            <td @Html.Raw(masterTable.TipePenimbunan.CellAttributes)>
<span id="el_MasterTemplate_TipePenimbunan">
<span @Html.Raw(masterTable.TipePenimbunan.ViewAttributes)>
@Html.Raw(masterTable.TipePenimbunan.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.TipePenimbunan.Visible (end) *@
        @if (masterTable.TipePenyaluran.Visible) { // masterTable.TipePenyaluran.Visible (begin)
        <tr id="r_TipePenyaluran" @Html.Raw(masterTable.TipePenyaluran.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.TipePenyaluran.Caption)</td>
            <td @Html.Raw(masterTable.TipePenyaluran.CellAttributes)>
<span id="el_MasterTemplate_TipePenyaluran">
<span @Html.Raw(masterTable.TipePenyaluran.ViewAttributes)>
@Html.Raw(masterTable.TipePenyaluran.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.TipePenyaluran.Visible (end) *@
        @if (masterTable.KategoriPenyaluran.Visible) { // masterTable.KategoriPenyaluran.Visible (begin)
        <tr id="r_KategoriPenyaluran" @Html.Raw(masterTable.KategoriPenyaluran.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.KategoriPenyaluran.Caption)</td>
            <td @Html.Raw(masterTable.KategoriPenyaluran.CellAttributes)>
<span id="el_MasterTemplate_KategoriPenyaluran">
<span @Html.Raw(masterTable.KategoriPenyaluran.ViewAttributes)>
@Html.Raw(masterTable.KategoriPenyaluran.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.KategoriPenyaluran.Visible (end) *@
        @if (masterTable.NamaDokumen.Visible) { // masterTable.NamaDokumen.Visible (begin)
        <tr id="r_NamaDokumen" @Html.Raw(masterTable.NamaDokumen.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.NamaDokumen.Caption)</td>
            <td @Html.Raw(masterTable.NamaDokumen.CellAttributes)>
<span id="el_MasterTemplate_NamaDokumen">
<span @Html.Raw(masterTable.NamaDokumen.ViewAttributes)>
@Html.Raw(masterTable.NamaDokumen.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.NamaDokumen.Visible (end) *@
    </tbody>
</table>
</div>
} @* masterTable.Visible (end) *@
