@{
    // View
    View = this;

    // Check action result
    if (masterUserView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = masterUserView.UseLayout ? "_Layout" : "";
}
@if (!masterUserView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @masterUserView.ExportOptions.RenderBody()
    @masterUserView.OtherOptions.RenderBody()
</div>
}
@masterUserView.ShowPageHeader()
@masterUserView.ShowMessages()
<main class="view">
<form name="fMasterUserview" id="fMasterUserview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!masterUserView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(masterUserView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MasterUser: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fMasterUserview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMasterUserview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(masterUserView.IsModal)">
<table class="@(masterUserView.TableClass)">
@if (masterUserView._Email.Visible) { // masterUserView._Email.Visible (begin)
    <tr id="r__Email" @Html.Raw(masterUserView._Email.RowAttributes)>
        <td class="@(masterUserView.TableLeftColumnClass)"><span id="elh_MasterUser__Email">@Html.Raw(masterUserView._Email.Caption)</span></td>
        <td data-name="_Email" @Html.Raw(masterUserView._Email.CellAttributes)>
<span id="el_MasterUser__Email">
<span @Html.Raw(masterUserView._Email.ViewAttributes)>
@Html.Raw(masterUserView._Email.GetViewValue())</span>
</span></td>
    </tr>
} @* masterUserView._Email.Visible (end) *@
@if (masterUserView._Username.Visible) { // masterUserView._Username.Visible (begin)
    <tr id="r__Username" @Html.Raw(masterUserView._Username.RowAttributes)>
        <td class="@(masterUserView.TableLeftColumnClass)"><span id="elh_MasterUser__Username">@Html.Raw(masterUserView._Username.Caption)</span></td>
        <td data-name="_Username" @Html.Raw(masterUserView._Username.CellAttributes)>
<span id="el_MasterUser__Username">
<span @Html.Raw(masterUserView._Username.ViewAttributes)>
@Html.Raw(masterUserView._Username.GetViewValue())</span>
</span></td>
    </tr>
} @* masterUserView._Username.Visible (end) *@
@if (masterUserView.PasswordHash.Visible) { // masterUserView.PasswordHash.Visible (begin)
    <tr id="r_PasswordHash" @Html.Raw(masterUserView.PasswordHash.RowAttributes)>
        <td class="@(masterUserView.TableLeftColumnClass)"><span id="elh_MasterUser_PasswordHash">@Html.Raw(masterUserView.PasswordHash.Caption)</span></td>
        <td data-name="PasswordHash" @Html.Raw(masterUserView.PasswordHash.CellAttributes)>
<span id="el_MasterUser_PasswordHash">
<span @Html.Raw(masterUserView.PasswordHash.ViewAttributes)>
@Html.Raw(masterUserView.PasswordHash.GetViewValue())</span>
</span></td>
    </tr>
} @* masterUserView.PasswordHash.Visible (end) *@
@if (masterUserView.NamaLengkap.Visible) { // masterUserView.NamaLengkap.Visible (begin)
    <tr id="r_NamaLengkap" @Html.Raw(masterUserView.NamaLengkap.RowAttributes)>
        <td class="@(masterUserView.TableLeftColumnClass)"><span id="elh_MasterUser_NamaLengkap">@Html.Raw(masterUserView.NamaLengkap.Caption)</span></td>
        <td data-name="NamaLengkap" @Html.Raw(masterUserView.NamaLengkap.CellAttributes)>
<span id="el_MasterUser_NamaLengkap">
<span @Html.Raw(masterUserView.NamaLengkap.ViewAttributes)>
@Html.Raw(masterUserView.NamaLengkap.GetViewValue())</span>
</span></td>
    </tr>
} @* masterUserView.NamaLengkap.Visible (end) *@
@if (masterUserView._UserLevel.Visible) { // masterUserView._UserLevel.Visible (begin)
    <tr id="r__UserLevel" @Html.Raw(masterUserView._UserLevel.RowAttributes)>
        <td class="@(masterUserView.TableLeftColumnClass)"><span id="elh_MasterUser__UserLevel">@Html.Raw(masterUserView._UserLevel.Caption)</span></td>
        <td data-name="_UserLevel" @Html.Raw(masterUserView._UserLevel.CellAttributes)>
<span id="el_MasterUser__UserLevel">
<span @Html.Raw(masterUserView._UserLevel.ViewAttributes)>
@Html.Raw(masterUserView._UserLevel.GetViewValue())</span>
</span></td>
    </tr>
} @* masterUserView._UserLevel.Visible (end) *@
@if (masterUserView.Rule.Visible) { // masterUserView.Rule.Visible (begin)
    <tr id="r_Rule" @Html.Raw(masterUserView.Rule.RowAttributes)>
        <td class="@(masterUserView.TableLeftColumnClass)"><span id="elh_MasterUser_Rule">@Html.Raw(masterUserView.Rule.Caption)</span></td>
        <td data-name="Rule" @Html.Raw(masterUserView.Rule.CellAttributes)>
<span id="el_MasterUser_Rule">
<span @Html.Raw(masterUserView.Rule.ViewAttributes)>
@Html.Raw(masterUserView.Rule.GetViewValue())</span>
</span></td>
    </tr>
} @* masterUserView.Rule.Visible (end) *@
@if (masterUserView.IdPosition.Visible) { // masterUserView.IdPosition.Visible (begin)
    <tr id="r_IdPosition" @Html.Raw(masterUserView.IdPosition.RowAttributes)>
        <td class="@(masterUserView.TableLeftColumnClass)"><span id="elh_MasterUser_IdPosition">@Html.Raw(masterUserView.IdPosition.Caption)</span></td>
        <td data-name="IdPosition" @Html.Raw(masterUserView.IdPosition.CellAttributes)>
<span id="el_MasterUser_IdPosition">
<span @Html.Raw(masterUserView.IdPosition.ViewAttributes)>
@Html.Raw(masterUserView.IdPosition.GetViewValue())</span>
</span></td>
    </tr>
} @* masterUserView.IdPosition.Visible (end) *@
@if (masterUserView.Region.Visible) { // masterUserView.Region.Visible (begin)
    <tr id="r_Region" @Html.Raw(masterUserView.Region.RowAttributes)>
        <td class="@(masterUserView.TableLeftColumnClass)"><span id="elh_MasterUser_Region">@Html.Raw(masterUserView.Region.Caption)</span></td>
        <td data-name="Region" @Html.Raw(masterUserView.Region.CellAttributes)>
<span id="el_MasterUser_Region">
<span @Html.Raw(masterUserView.Region.ViewAttributes)>
@Html.Raw(masterUserView.Region.GetViewValue())</span>
</span></td>
    </tr>
} @* masterUserView.Region.Visible (end) *@
@if (masterUserView.Plant.Visible) { // masterUserView.Plant.Visible (begin)
    <tr id="r_Plant" @Html.Raw(masterUserView.Plant.RowAttributes)>
        <td class="@(masterUserView.TableLeftColumnClass)"><span id="elh_MasterUser_Plant">@Html.Raw(masterUserView.Plant.Caption)</span></td>
        <td data-name="Plant" @Html.Raw(masterUserView.Plant.CellAttributes)>
<span id="el_MasterUser_Plant">
<span @Html.Raw(masterUserView.Plant.ViewAttributes)>
@Html.Raw(masterUserView.Plant.GetViewValue())</span>
</span></td>
    </tr>
} @* masterUserView.Plant.Visible (end) *@
@if (masterUserView.StatusAktif.Visible) { // masterUserView.StatusAktif.Visible (begin)
    <tr id="r_StatusAktif" @Html.Raw(masterUserView.StatusAktif.RowAttributes)>
        <td class="@(masterUserView.TableLeftColumnClass)"><span id="elh_MasterUser_StatusAktif">@Html.Raw(masterUserView.StatusAktif.Caption)</span></td>
        <td data-name="StatusAktif" @Html.Raw(masterUserView.StatusAktif.CellAttributes)>
<span id="el_MasterUser_StatusAktif">
<span @Html.Raw(masterUserView.StatusAktif.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(masterUserView.StatusAktif.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span></td>
    </tr>
} @* masterUserView.StatusAktif.Visible (end) *@
@if (masterUserView.Keterangan.Visible) { // masterUserView.Keterangan.Visible (begin)
    <tr id="r_Keterangan" @Html.Raw(masterUserView.Keterangan.RowAttributes)>
        <td class="@(masterUserView.TableLeftColumnClass)"><span id="elh_MasterUser_Keterangan">@Html.Raw(masterUserView.Keterangan.Caption)</span></td>
        <td data-name="Keterangan" @Html.Raw(masterUserView.Keterangan.CellAttributes)>
<span id="el_MasterUser_Keterangan">
<span @Html.Raw(masterUserView.Keterangan.ViewAttributes)>
@Html.Raw(masterUserView.Keterangan.GetViewValue())</span>
</span></td>
    </tr>
} @* masterUserView.Keterangan.Visible (end) *@
@if (masterUserView.DibuatOleh.Visible) { // masterUserView.DibuatOleh.Visible (begin)
    <tr id="r_DibuatOleh" @Html.Raw(masterUserView.DibuatOleh.RowAttributes)>
        <td class="@(masterUserView.TableLeftColumnClass)"><span id="elh_MasterUser_DibuatOleh">@Html.Raw(masterUserView.DibuatOleh.Caption)</span></td>
        <td data-name="DibuatOleh" @Html.Raw(masterUserView.DibuatOleh.CellAttributes)>
<span id="el_MasterUser_DibuatOleh">
<span @Html.Raw(masterUserView.DibuatOleh.ViewAttributes)>
@Html.Raw(masterUserView.DibuatOleh.GetViewValue())</span>
</span></td>
    </tr>
} @* masterUserView.DibuatOleh.Visible (end) *@
@if (masterUserView.TanggalDibuat.Visible) { // masterUserView.TanggalDibuat.Visible (begin)
    <tr id="r_TanggalDibuat" @Html.Raw(masterUserView.TanggalDibuat.RowAttributes)>
        <td class="@(masterUserView.TableLeftColumnClass)"><span id="elh_MasterUser_TanggalDibuat">@Html.Raw(masterUserView.TanggalDibuat.Caption)</span></td>
        <td data-name="TanggalDibuat" @Html.Raw(masterUserView.TanggalDibuat.CellAttributes)>
<span id="el_MasterUser_TanggalDibuat">
<span @Html.Raw(masterUserView.TanggalDibuat.ViewAttributes)>
@Html.Raw(masterUserView.TanggalDibuat.GetViewValue())</span>
</span></td>
    </tr>
} @* masterUserView.TanggalDibuat.Visible (end) *@
@if (masterUserView.DiperbaruiOleh.Visible) { // masterUserView.DiperbaruiOleh.Visible (begin)
    <tr id="r_DiperbaruiOleh" @Html.Raw(masterUserView.DiperbaruiOleh.RowAttributes)>
        <td class="@(masterUserView.TableLeftColumnClass)"><span id="elh_MasterUser_DiperbaruiOleh">@Html.Raw(masterUserView.DiperbaruiOleh.Caption)</span></td>
        <td data-name="DiperbaruiOleh" @Html.Raw(masterUserView.DiperbaruiOleh.CellAttributes)>
<span id="el_MasterUser_DiperbaruiOleh">
<span @Html.Raw(masterUserView.DiperbaruiOleh.ViewAttributes)>
@Html.Raw(masterUserView.DiperbaruiOleh.GetViewValue())</span>
</span></td>
    </tr>
} @* masterUserView.DiperbaruiOleh.Visible (end) *@
@if (masterUserView.TanggalDiperbarui.Visible) { // masterUserView.TanggalDiperbarui.Visible (begin)
    <tr id="r_TanggalDiperbarui" @Html.Raw(masterUserView.TanggalDiperbarui.RowAttributes)>
        <td class="@(masterUserView.TableLeftColumnClass)"><span id="elh_MasterUser_TanggalDiperbarui">@Html.Raw(masterUserView.TanggalDiperbarui.Caption)</span></td>
        <td data-name="TanggalDiperbarui" @Html.Raw(masterUserView.TanggalDiperbarui.CellAttributes)>
<span id="el_MasterUser_TanggalDiperbarui">
<span @Html.Raw(masterUserView.TanggalDiperbarui.ViewAttributes)>
@Html.Raw(masterUserView.TanggalDiperbarui.GetViewValue())</span>
</span></td>
    </tr>
} @* masterUserView.TanggalDiperbarui.Visible (end) *@
@if (masterUserView.IdIdaman.Visible) { // masterUserView.IdIdaman.Visible (begin)
    <tr id="r_IdIdaman" @Html.Raw(masterUserView.IdIdaman.RowAttributes)>
        <td class="@(masterUserView.TableLeftColumnClass)"><span id="elh_MasterUser_IdIdaman">@Html.Raw(masterUserView.IdIdaman.Caption)</span></td>
        <td data-name="IdIdaman" @Html.Raw(masterUserView.IdIdaman.CellAttributes)>
<span id="el_MasterUser_IdIdaman">
<span @Html.Raw(masterUserView.IdIdaman.ViewAttributes)>
@Html.Raw(masterUserView.IdIdaman.GetViewValue())</span>
</span></td>
    </tr>
} @* masterUserView.IdIdaman.Visible (end) *@
@if (masterUserView.exception.Visible) { // masterUserView.exception.Visible (begin)
    <tr id="r_exception" @Html.Raw(masterUserView.exception.RowAttributes)>
        <td class="@(masterUserView.TableLeftColumnClass)"><span id="elh_MasterUser_exception">@Html.Raw(masterUserView.exception.Caption)</span></td>
        <td data-name="exception" @Html.Raw(masterUserView.exception.CellAttributes)>
<span id="el_MasterUser_exception">
<span @Html.Raw(masterUserView.exception.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(masterUserView.exception.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span></td>
    </tr>
} @* masterUserView.exception.Visible (end) *@
</table>
@{ masterUserView.CloseRecordset(); }
</form>
</main>
@masterUserView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!masterUserView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
