@{
    // View
    View = this;

    // Check action result
    if (masterPlantDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = masterPlantDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(masterPlantDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MasterPlant: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fMasterPlantdelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMasterPlantdelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Client script
    $('#fMasterPlandelete').on('submit', function (e) {
        e.preventDefault();
        showLoading();
        setTimeout(() => {
            hideLoading();
        }, 3000);
        this.requestSubmit();
    });
});
</script>
@masterPlantDelete.ShowPageHeader()
@masterPlantDelete.ShowMessages()
<form name="fMasterPlantdelete" id="fMasterPlantdelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in masterPlantDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(masterPlantDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(masterPlantDelete.TableContainerClass)" style="@(masterPlantDelete.TableContainerStyle)">
<table class="@(masterPlantDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (masterPlantDelete.Terminal_Manager.Visible) { // masterPlantDelete.Terminal_Manager.Visible (begin)
        <th class="@Html.Raw(masterPlantDelete.Terminal_Manager.HeaderCellClass)"><span id="elh_MasterPlant_Terminal_Manager" class="MasterPlant_Terminal_Manager">@Html.Raw(masterPlantDelete.Terminal_Manager.Caption)</span></th>
} @* masterPlantDelete.Terminal_Manager.Visible (end) *@
@if (masterPlantDelete.PRL.Visible) { // masterPlantDelete.PRL.Visible (begin)
        <th class="@Html.Raw(masterPlantDelete.PRL.HeaderCellClass)"><span id="elh_MasterPlant_PRL" class="MasterPlant_PRL">@Html.Raw(masterPlantDelete.PRL.Caption)</span></th>
} @* masterPlantDelete.PRL.Visible (end) *@
@if (masterPlantDelete.Status.Visible) { // masterPlantDelete.Status.Visible (begin)
        <th class="@Html.Raw(masterPlantDelete.Status.HeaderCellClass)"><span id="elh_MasterPlant_Status" class="MasterPlant_Status">@Html.Raw(masterPlantDelete.Status.Caption)</span></th>
} @* masterPlantDelete.Status.Visible (end) *@
@if (masterPlantDelete.Terminal_Induk.Visible) { // masterPlantDelete.Terminal_Induk.Visible (begin)
        <th class="@Html.Raw(masterPlantDelete.Terminal_Induk.HeaderCellClass)"><span id="elh_MasterPlant_Terminal_Induk" class="MasterPlant_Terminal_Induk">@Html.Raw(masterPlantDelete.Terminal_Induk.Caption)</span></th>
} @* masterPlantDelete.Terminal_Induk.Visible (end) *@
@if (masterPlantDelete.Nama_Terminal.Visible) { // masterPlantDelete.Nama_Terminal.Visible (begin)
        <th class="@Html.Raw(masterPlantDelete.Nama_Terminal.HeaderCellClass)"><span id="elh_MasterPlant_Nama_Terminal" class="MasterPlant_Nama_Terminal">@Html.Raw(masterPlantDelete.Nama_Terminal.Caption)</span></th>
} @* masterPlantDelete.Nama_Terminal.Visible (end) *@
@if (masterPlantDelete.Region.Visible) { // masterPlantDelete.Region.Visible (begin)
        <th class="@Html.Raw(masterPlantDelete.Region.HeaderCellClass)"><span id="elh_MasterPlant_Region" class="MasterPlant_Region">@Html.Raw(masterPlantDelete.Region.Caption)</span></th>
} @* masterPlantDelete.Region.Visible (end) *@
@if (masterPlantDelete.Fungsi.Visible) { // masterPlantDelete.Fungsi.Visible (begin)
        <th class="@Html.Raw(masterPlantDelete.Fungsi.HeaderCellClass)"><span id="elh_MasterPlant_Fungsi" class="MasterPlant_Fungsi">@Html.Raw(masterPlantDelete.Fungsi.Caption)</span></th>
} @* masterPlantDelete.Fungsi.Visible (end) *@
@if (masterPlantDelete.Cost_Center.Visible) { // masterPlantDelete.Cost_Center.Visible (begin)
        <th class="@Html.Raw(masterPlantDelete.Cost_Center.HeaderCellClass)"><span id="elh_MasterPlant_Cost_Center" class="MasterPlant_Cost_Center">@Html.Raw(masterPlantDelete.Cost_Center.Caption)</span></th>
} @* masterPlantDelete.Cost_Center.Visible (end) *@
@if (masterPlantDelete.Jenis.Visible) { // masterPlantDelete.Jenis.Visible (begin)
        <th class="@Html.Raw(masterPlantDelete.Jenis.HeaderCellClass)"><span id="elh_MasterPlant_Jenis" class="MasterPlant_Jenis">@Html.Raw(masterPlantDelete.Jenis.Caption)</span></th>
} @* masterPlantDelete.Jenis.Visible (end) *@
@if (masterPlantDelete.Plant.Visible) { // masterPlantDelete.Plant.Visible (begin)
        <th class="@Html.Raw(masterPlantDelete.Plant.HeaderCellClass)"><span id="elh_MasterPlant_Plant" class="MasterPlant_Plant">@Html.Raw(masterPlantDelete.Plant.Caption)</span></th>
} @* masterPlantDelete.Plant.Visible (end) *@
@if (masterPlantDelete.UTC.Visible) { // masterPlantDelete.UTC.Visible (begin)
        <th class="@Html.Raw(masterPlantDelete.UTC.HeaderCellClass)"><span id="elh_MasterPlant_UTC" class="MasterPlant_UTC">@Html.Raw(masterPlantDelete.UTC.Caption)</span></th>
} @* masterPlantDelete.UTC.Visible (end) *@
@if (masterPlantDelete.TipeProduk.Visible) { // masterPlantDelete.TipeProduk.Visible (begin)
        <th class="@Html.Raw(masterPlantDelete.TipeProduk.HeaderCellClass)"><span id="elh_MasterPlant_TipeProduk" class="MasterPlant_TipeProduk">@Html.Raw(masterPlantDelete.TipeProduk.Caption)</span></th>
} @* masterPlantDelete.TipeProduk.Visible (end) *@
@if (masterPlantDelete.JenisPlant.Visible) { // masterPlantDelete.JenisPlant.Visible (begin)
        <th class="@Html.Raw(masterPlantDelete.JenisPlant.HeaderCellClass)"><span id="elh_MasterPlant_JenisPlant" class="MasterPlant_JenisPlant">@Html.Raw(masterPlantDelete.JenisPlant.Caption)</span></th>
} @* masterPlantDelete.JenisPlant.Visible (end) *@
@if (masterPlantDelete.DibuatOleh.Visible) { // masterPlantDelete.DibuatOleh.Visible (begin)
        <th class="@Html.Raw(masterPlantDelete.DibuatOleh.HeaderCellClass)"><span id="elh_MasterPlant_DibuatOleh" class="MasterPlant_DibuatOleh">@Html.Raw(masterPlantDelete.DibuatOleh.Caption)</span></th>
} @* masterPlantDelete.DibuatOleh.Visible (end) *@
@if (masterPlantDelete.TanggalDibuat.Visible) { // masterPlantDelete.TanggalDibuat.Visible (begin)
        <th class="@Html.Raw(masterPlantDelete.TanggalDibuat.HeaderCellClass)"><span id="elh_MasterPlant_TanggalDibuat" class="MasterPlant_TanggalDibuat">@Html.Raw(masterPlantDelete.TanggalDibuat.Caption)</span></th>
} @* masterPlantDelete.TanggalDibuat.Visible (end) *@
@if (masterPlantDelete.DiperbaruiOleh.Visible) { // masterPlantDelete.DiperbaruiOleh.Visible (begin)
        <th class="@Html.Raw(masterPlantDelete.DiperbaruiOleh.HeaderCellClass)"><span id="elh_MasterPlant_DiperbaruiOleh" class="MasterPlant_DiperbaruiOleh">@Html.Raw(masterPlantDelete.DiperbaruiOleh.Caption)</span></th>
} @* masterPlantDelete.DiperbaruiOleh.Visible (end) *@
@if (masterPlantDelete.TanggalDiperbarui.Visible) { // masterPlantDelete.TanggalDiperbarui.Visible (begin)
        <th class="@Html.Raw(masterPlantDelete.TanggalDiperbarui.HeaderCellClass)"><span id="elh_MasterPlant_TanggalDiperbarui" class="MasterPlant_TanggalDiperbarui">@Html.Raw(masterPlantDelete.TanggalDiperbarui.Caption)</span></th>
} @* masterPlantDelete.TanggalDiperbarui.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ masterPlantDelete.RecordCount = 0; }
@while (masterPlantDelete.Recordset != null && await masterPlantDelete.Recordset.ReadAsync()) { // DN
    masterPlantDelete.RecordCount++;
    masterPlantDelete.RowCount++;

    // Set row properties
    masterPlantDelete.ResetAttributes();
    masterPlantDelete.RowType = RowType.View; // View

    // Get the field contents
    await masterPlantDelete.LoadRowValues(masterPlantDelete.Recordset);

    // Render row
    await masterPlantDelete.RenderRow();
    <tr @Html.Raw(masterPlantDelete.RowAttributes)>
@if (masterPlantDelete.Terminal_Manager.Visible) { // masterPlantDelete.Terminal_Manager.Visible (begin)
        <td @Html.Raw(masterPlantDelete.Terminal_Manager.CellAttributes)>
<span id="">
<span @Html.Raw(masterPlantDelete.Terminal_Manager.ViewAttributes)>
@Html.Raw(masterPlantDelete.Terminal_Manager.GetViewValue())</span>
</span></td>
} @* masterPlantDelete.Terminal_Manager.Visible (end) *@
@if (masterPlantDelete.PRL.Visible) { // masterPlantDelete.PRL.Visible (begin)
        <td @Html.Raw(masterPlantDelete.PRL.CellAttributes)>
<span id="">
<span @Html.Raw(masterPlantDelete.PRL.ViewAttributes)>
@Html.Raw(masterPlantDelete.PRL.GetViewValue())</span>
</span></td>
} @* masterPlantDelete.PRL.Visible (end) *@
@if (masterPlantDelete.Status.Visible) { // masterPlantDelete.Status.Visible (begin)
        <td @Html.Raw(masterPlantDelete.Status.CellAttributes)>
<span id="">
<span @Html.Raw(masterPlantDelete.Status.ViewAttributes)>
@Html.Raw(masterPlantDelete.Status.GetViewValue())</span>
</span></td>
} @* masterPlantDelete.Status.Visible (end) *@
@if (masterPlantDelete.Terminal_Induk.Visible) { // masterPlantDelete.Terminal_Induk.Visible (begin)
        <td @Html.Raw(masterPlantDelete.Terminal_Induk.CellAttributes)>
<span id="">
<span @Html.Raw(masterPlantDelete.Terminal_Induk.ViewAttributes)>
@Html.Raw(masterPlantDelete.Terminal_Induk.GetViewValue())</span>
</span></td>
} @* masterPlantDelete.Terminal_Induk.Visible (end) *@
@if (masterPlantDelete.Nama_Terminal.Visible) { // masterPlantDelete.Nama_Terminal.Visible (begin)
        <td @Html.Raw(masterPlantDelete.Nama_Terminal.CellAttributes)>
<span id="">
<span @Html.Raw(masterPlantDelete.Nama_Terminal.ViewAttributes)>
@Html.Raw(masterPlantDelete.Nama_Terminal.GetViewValue())</span>
</span></td>
} @* masterPlantDelete.Nama_Terminal.Visible (end) *@
@if (masterPlantDelete.Region.Visible) { // masterPlantDelete.Region.Visible (begin)
        <td @Html.Raw(masterPlantDelete.Region.CellAttributes)>
<span id="">
<span @Html.Raw(masterPlantDelete.Region.ViewAttributes)>
@Html.Raw(masterPlantDelete.Region.GetViewValue())</span>
</span></td>
} @* masterPlantDelete.Region.Visible (end) *@
@if (masterPlantDelete.Fungsi.Visible) { // masterPlantDelete.Fungsi.Visible (begin)
        <td @Html.Raw(masterPlantDelete.Fungsi.CellAttributes)>
<span id="">
<span @Html.Raw(masterPlantDelete.Fungsi.ViewAttributes)>
@Html.Raw(masterPlantDelete.Fungsi.GetViewValue())</span>
</span></td>
} @* masterPlantDelete.Fungsi.Visible (end) *@
@if (masterPlantDelete.Cost_Center.Visible) { // masterPlantDelete.Cost_Center.Visible (begin)
        <td @Html.Raw(masterPlantDelete.Cost_Center.CellAttributes)>
<span id="">
<span @Html.Raw(masterPlantDelete.Cost_Center.ViewAttributes)>
@Html.Raw(masterPlantDelete.Cost_Center.GetViewValue())</span>
</span></td>
} @* masterPlantDelete.Cost_Center.Visible (end) *@
@if (masterPlantDelete.Jenis.Visible) { // masterPlantDelete.Jenis.Visible (begin)
        <td @Html.Raw(masterPlantDelete.Jenis.CellAttributes)>
<span id="">
<span @Html.Raw(masterPlantDelete.Jenis.ViewAttributes)>
@Html.Raw(masterPlantDelete.Jenis.GetViewValue())</span>
</span></td>
} @* masterPlantDelete.Jenis.Visible (end) *@
@if (masterPlantDelete.Plant.Visible) { // masterPlantDelete.Plant.Visible (begin)
        <td @Html.Raw(masterPlantDelete.Plant.CellAttributes)>
<span id="">
<span @Html.Raw(masterPlantDelete.Plant.ViewAttributes)>
@Html.Raw(masterPlantDelete.Plant.GetViewValue())</span>
</span></td>
} @* masterPlantDelete.Plant.Visible (end) *@
@if (masterPlantDelete.UTC.Visible) { // masterPlantDelete.UTC.Visible (begin)
        <td @Html.Raw(masterPlantDelete.UTC.CellAttributes)>
<span id="">
<span @Html.Raw(masterPlantDelete.UTC.ViewAttributes)>
@Html.Raw(masterPlantDelete.UTC.GetViewValue())</span>
</span></td>
} @* masterPlantDelete.UTC.Visible (end) *@
@if (masterPlantDelete.TipeProduk.Visible) { // masterPlantDelete.TipeProduk.Visible (begin)
        <td @Html.Raw(masterPlantDelete.TipeProduk.CellAttributes)>
<span id="">
<span @Html.Raw(masterPlantDelete.TipeProduk.ViewAttributes)>
@Html.Raw(masterPlantDelete.TipeProduk.GetViewValue())</span>
</span></td>
} @* masterPlantDelete.TipeProduk.Visible (end) *@
@if (masterPlantDelete.JenisPlant.Visible) { // masterPlantDelete.JenisPlant.Visible (begin)
        <td @Html.Raw(masterPlantDelete.JenisPlant.CellAttributes)>
<span id="">
<span @Html.Raw(masterPlantDelete.JenisPlant.ViewAttributes)>
@Html.Raw(masterPlantDelete.JenisPlant.GetViewValue())</span>
</span></td>
} @* masterPlantDelete.JenisPlant.Visible (end) *@
@if (masterPlantDelete.DibuatOleh.Visible) { // masterPlantDelete.DibuatOleh.Visible (begin)
        <td @Html.Raw(masterPlantDelete.DibuatOleh.CellAttributes)>
<span id="">
<span @Html.Raw(masterPlantDelete.DibuatOleh.ViewAttributes)>
@Html.Raw(masterPlantDelete.DibuatOleh.GetViewValue())</span>
</span></td>
} @* masterPlantDelete.DibuatOleh.Visible (end) *@
@if (masterPlantDelete.TanggalDibuat.Visible) { // masterPlantDelete.TanggalDibuat.Visible (begin)
        <td @Html.Raw(masterPlantDelete.TanggalDibuat.CellAttributes)>
<span id="">
<span @Html.Raw(masterPlantDelete.TanggalDibuat.ViewAttributes)>
@Html.Raw(masterPlantDelete.TanggalDibuat.GetViewValue())</span>
</span></td>
} @* masterPlantDelete.TanggalDibuat.Visible (end) *@
@if (masterPlantDelete.DiperbaruiOleh.Visible) { // masterPlantDelete.DiperbaruiOleh.Visible (begin)
        <td @Html.Raw(masterPlantDelete.DiperbaruiOleh.CellAttributes)>
<span id="">
<span @Html.Raw(masterPlantDelete.DiperbaruiOleh.ViewAttributes)>
@Html.Raw(masterPlantDelete.DiperbaruiOleh.GetViewValue())</span>
</span></td>
} @* masterPlantDelete.DiperbaruiOleh.Visible (end) *@
@if (masterPlantDelete.TanggalDiperbarui.Visible) { // masterPlantDelete.TanggalDiperbarui.Visible (begin)
        <td @Html.Raw(masterPlantDelete.TanggalDiperbarui.CellAttributes)>
<span id="">
<span @Html.Raw(masterPlantDelete.TanggalDiperbarui.ViewAttributes)>
@Html.Raw(masterPlantDelete.TanggalDiperbarui.GetViewValue())</span>
</span></td>
} @* masterPlantDelete.TanggalDiperbarui.Visible (end) *@
    </tr>
}
@{ masterPlantDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(masterPlantDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@masterPlantDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
