@{
    // View
    View = this;

    // Check action result
    if (masterFungsiKunjunganList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = masterFungsiKunjunganList.UseLayout ? "_Layout" : "";
}
@if (!masterFungsiKunjunganList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(masterFungsiKunjunganList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MasterFungsiKunjungan: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(masterFungsiKunjunganList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(masterFungsiKunjunganList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(masterFungsiKunjunganList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(masterFungsiKunjunganList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!masterFungsiKunjunganList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (masterFungsiKunjunganList.TotalRecords > 0 && masterFungsiKunjunganList.ExportOptions.Visible) {
    masterFungsiKunjunganList.ExportOptions.Render("body");
}
@if (masterFungsiKunjunganList.ImportOptions.Visible) {
    masterFungsiKunjunganList.ImportOptions.Render("body");
}
@if (masterFungsiKunjunganList.SearchOptions.Visible) {
    masterFungsiKunjunganList.SearchOptions.Render("body");
}
@if (masterFungsiKunjunganList.FilterOptions.Visible) {
    masterFungsiKunjunganList.FilterOptions.Render("body");
}
</div>
}
@if (!masterFungsiKunjunganList.IsModal) {
<form name="fMasterFungsiKunjungansrch" id="fMasterFungsiKunjungansrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fMasterFungsiKunjungansrch_search_panel" class="mb-2 mb-sm-0 @(masterFungsiKunjunganList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(masterFungsiKunjunganList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MasterFungsiKunjungan: currentTable } });
var currentForm;
var fMasterFungsiKunjungansrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fMasterFungsiKunjungansrch")
        .setPageId("list")
@if (masterFungsiKunjunganList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(masterFungsiKunjunganList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!masterFungsiKunjunganList.IsExport() && Empty(masterFungsiKunjunganList.CurrentAction) && masterFungsiKunjunganList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(masterFungsiKunjunganList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(masterFungsiKunjunganList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(masterFungsiKunjunganList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(masterFungsiKunjunganList.BasicSearch.SessionType == "" ? " active" : "")" form="fMasterFungsiKunjungansrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(masterFungsiKunjunganList.BasicSearch.SessionType == "=" ? " active" : "")" form="fMasterFungsiKunjungansrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(masterFungsiKunjunganList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fMasterFungsiKunjungansrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(masterFungsiKunjunganList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fMasterFungsiKunjungansrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@masterFungsiKunjunganList.ShowPageHeader()
@masterFungsiKunjunganList.ShowMessages()
<main class="list @(masterFungsiKunjunganList.TotalRecords == 0 && !masterFungsiKunjunganList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @masterFungsiKunjunganList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (masterFungsiKunjunganList.TotalRecords > 0 || !Empty(masterFungsiKunjunganList.CurrentAction)) {
<div class="card ew-card ew-grid@(masterFungsiKunjunganList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(masterFungsiKunjunganList.TableGridClass)">
<form name="@(masterFungsiKunjunganList.FormName)" id="@(masterFungsiKunjunganList.FormName)" class="ew-form ew-list-form" action="@AppPath(masterFungsiKunjunganList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (masterFungsiKunjunganList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_MasterFungsiKunjungan" class="card-body ew-grid-middle-panel @(masterFungsiKunjunganList.TableContainerClass)" style="@(masterFungsiKunjunganList.TableContainerStyle)">
@if (masterFungsiKunjunganList.TotalRecords > 0 || masterFungsiKunjunganList.IsGridEdit || masterFungsiKunjunganList.IsMultiEdit) {
<table id="tbl_MasterFungsiKunjunganlist" class="@(masterFungsiKunjunganList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    masterFungsiKunjunganList.RowType = RowType.Header;

    // Render list options
    await masterFungsiKunjunganList.RenderListOptions();
}
@* Render list options (header, left) *@
@masterFungsiKunjunganList.ListOptions.RenderHeader("left")
@if (masterFungsiKunjunganList.ID.Visible) { // masterFungsiKunjunganList.ID.Visible (begin)
        <th data-name="ID" class="@(masterFungsiKunjunganList.ID.HeaderCellClass)"><div id="elh_MasterFungsiKunjungan_ID" class="MasterFungsiKunjungan_ID">@Html.Raw(masterFungsiKunjunganList.RenderFieldHeader(masterFungsiKunjunganList.ID))</div></th>
} @* masterFungsiKunjunganList.ID.Visible (end) *@
@if (masterFungsiKunjunganList.FungsiKunjungan.Visible) { // masterFungsiKunjunganList.FungsiKunjungan.Visible (begin)
        <th data-name="FungsiKunjungan" class="@(masterFungsiKunjunganList.FungsiKunjungan.HeaderCellClass)"><div id="elh_MasterFungsiKunjungan_FungsiKunjungan" class="MasterFungsiKunjungan_FungsiKunjungan">@Html.Raw(masterFungsiKunjunganList.RenderFieldHeader(masterFungsiKunjunganList.FungsiKunjungan))</div></th>
} @* masterFungsiKunjunganList.FungsiKunjungan.Visible (end) *@
@* Render list options (header, right) *@
@masterFungsiKunjunganList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(masterFungsiKunjunganList.PageNumber)">
@{
    await masterFungsiKunjunganList.SetupGrid();
    bool eof = masterFungsiKunjunganList.Recordset == null; // DN
}
@while (masterFungsiKunjunganList.RecordCount < masterFungsiKunjunganList.StopRecord || SameString(masterFungsiKunjunganList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(masterFungsiKunjunganList.RowIndex, "$rowindex$") &&
        (!masterFungsiKunjunganList.IsGridAdd || masterFungsiKunjunganList.CurrentMode == "copy") &&
        (!((masterFungsiKunjunganList.IsCopy || masterFungsiKunjunganList.IsAdd) && masterFungsiKunjunganList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await masterFungsiKunjunganList.Recordset.ReadAsync();
    masterFungsiKunjunganList.RecordCount++;
    if (masterFungsiKunjunganList.RecordCount >= masterFungsiKunjunganList.StartRecord) {
        await masterFungsiKunjunganList.SetupRow();
    <tr @Html.Raw(masterFungsiKunjunganList.RowAttributes)>
    @* Render list options (body, left) *@
    @masterFungsiKunjunganList.ListOptions.RenderBody("left", masterFungsiKunjunganList.RowCount)
    @if (masterFungsiKunjunganList.ID.Visible) { // masterFungsiKunjunganList.ID.Visible (begin)
        <td data-name="ID" @Html.Raw(masterFungsiKunjunganList.ID.CellAttributes)>
<span id="el@(SameString(masterFungsiKunjunganList.RowIndex, "$rowindex$") ? "$rowindex$" : masterFungsiKunjunganList.RowCount)_MasterFungsiKunjungan_ID" class="el_MasterFungsiKunjungan_ID">
<span @Html.Raw(masterFungsiKunjunganList.ID.ViewAttributes)>
@Html.Raw(masterFungsiKunjunganList.ID.GetViewValue())</span>
</span>
</td>
    } @* masterFungsiKunjunganList.ID.Visible (end) *@
    @if (masterFungsiKunjunganList.FungsiKunjungan.Visible) { // masterFungsiKunjunganList.FungsiKunjungan.Visible (begin)
        <td data-name="FungsiKunjungan" @Html.Raw(masterFungsiKunjunganList.FungsiKunjungan.CellAttributes)>
<span id="el@(SameString(masterFungsiKunjunganList.RowIndex, "$rowindex$") ? "$rowindex$" : masterFungsiKunjunganList.RowCount)_MasterFungsiKunjungan_FungsiKunjungan" class="el_MasterFungsiKunjungan_FungsiKunjungan">
<span @Html.Raw(masterFungsiKunjunganList.FungsiKunjungan.ViewAttributes)>
@Html.Raw(masterFungsiKunjunganList.FungsiKunjungan.GetViewValue())</span>
</span>
</td>
    } @* masterFungsiKunjunganList.FungsiKunjungan.Visible (end) *@
    @* Render list options (body, right) *@
    @masterFungsiKunjunganList.ListOptions.RenderBody("right", masterFungsiKunjunganList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(masterFungsiKunjunganList.RowIndex, "$rowindex$"))
        masterFungsiKunjunganList.RowIndex = 0;

    // Reset inline add/copy row
    if ((masterFungsiKunjunganList.IsCopy || masterFungsiKunjunganList.IsAdd) && masterFungsiKunjunganList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        masterFungsiKunjunganList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(masterFungsiKunjunganList.CurrentAction) && !masterFungsiKunjunganList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ masterFungsiKunjunganList.CloseRecordset(); }
@if (!masterFungsiKunjunganList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!masterFungsiKunjunganList.IsGridAdd && !(masterFungsiKunjunganList.IsGridEdit && masterFungsiKunjunganList.ModalGridEdit) && !masterFungsiKunjunganList.IsMultiEdit) {
@Html.Raw(masterFungsiKunjunganList.Pager.Render())
}
<div class="ew-list-other-options">
@masterFungsiKunjunganList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@masterFungsiKunjunganList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @masterFungsiKunjunganList.FooterOptions.RenderBody()
</div>
</main>
@masterFungsiKunjunganList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!masterFungsiKunjunganList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("MasterFungsiKunjungan");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
