@{
    // View
    View = this;

    // Check action result
    if (masterPositionAdd.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = masterPositionAdd.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(masterPositionAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MasterPosition: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fMasterPositionadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMasterPositionadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["IdPosition", [fields.IdPosition.visible && fields.IdPosition.required ? ew.Validators.required(fields.IdPosition.caption) : null, ew.Validators.integer], fields.IdPosition.isInvalid],
            ["NamaPosition", [fields.NamaPosition.visible && fields.NamaPosition.required ? ew.Validators.required(fields.NamaPosition.caption) : null], fields.NamaPosition.isInvalid],
            ["Location", [fields.Location.visible && fields.Location.required ? ew.Validators.required(fields.Location.caption) : null], fields.Location.isInvalid],
            ["_UserLevel", [fields._UserLevel.visible && fields._UserLevel.required ? ew.Validators.required(fields._UserLevel.caption) : null], fields._UserLevel.isInvalid],
            ["Role", [fields.Role.visible && fields.Role.required ? ew.Validators.required(fields.Role.caption) : null], fields.Role.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "_UserLevel": @Html.Raw(masterPositionAdd._UserLevel.ToClientList(masterPositionAdd)),
            "Role": @Html.Raw(masterPositionAdd.Role.ToClientList(masterPositionAdd)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@masterPositionAdd.ShowPageHeader()
@masterPositionAdd.ShowMessages()
<form name="fMasterPositionadd" id="fMasterPositionadd" class="@(masterPositionAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(masterPositionAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(masterPositionAdd.OldKeyName)" value="@Html.Raw(masterPositionAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (masterPositionAdd.IdPosition.Visible) { // masterPositionAdd.IdPosition.Visible (begin)
    <div id="r_IdPosition" @Html.Raw(masterPositionAdd.IdPosition.RowAttributes)>
        <label id="elh_MasterPosition_IdPosition" for="x_IdPosition" class="@(masterPositionAdd.LeftColumnClass)">@Html.Raw(masterPositionAdd.IdPosition.Caption)@Html.Raw(masterPositionAdd.IdPosition.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterPositionAdd.RightColumnClass)"><div @Html.Raw(masterPositionAdd.IdPosition.CellAttributes)>
<span id="el_MasterPosition_IdPosition">
<input type="@(masterPositionAdd.IdPosition.InputTextType)" name="x_IdPosition" id="x_IdPosition" data-table="MasterPosition" data-field="x_IdPosition" value="@Html.Raw(masterPositionAdd.IdPosition.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(masterPositionAdd.IdPosition.PlaceHolder))" data-format-pattern="@(masterPositionAdd.IdPosition.FormatPattern)"@Html.Raw(masterPositionAdd.IdPosition.EditAttributes) aria-describedby="x_IdPosition_help">
@Html.Raw(masterPositionAdd.IdPosition.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterPositionAdd.IdPosition.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* masterPositionAdd.IdPosition.Visible (end) *@
@if (masterPositionAdd.NamaPosition.Visible) { // masterPositionAdd.NamaPosition.Visible (begin)
    <div id="r_NamaPosition" @Html.Raw(masterPositionAdd.NamaPosition.RowAttributes)>
        <label id="elh_MasterPosition_NamaPosition" for="x_NamaPosition" class="@(masterPositionAdd.LeftColumnClass)">@Html.Raw(masterPositionAdd.NamaPosition.Caption)@Html.Raw(masterPositionAdd.NamaPosition.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterPositionAdd.RightColumnClass)"><div @Html.Raw(masterPositionAdd.NamaPosition.CellAttributes)>
<span id="el_MasterPosition_NamaPosition">
<input type="@(masterPositionAdd.NamaPosition.InputTextType)" name="x_NamaPosition" id="x_NamaPosition" data-table="MasterPosition" data-field="x_NamaPosition" value="@Html.Raw(masterPositionAdd.NamaPosition.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(masterPositionAdd.NamaPosition.PlaceHolder))" data-format-pattern="@(masterPositionAdd.NamaPosition.FormatPattern)"@Html.Raw(masterPositionAdd.NamaPosition.EditAttributes) aria-describedby="x_NamaPosition_help">
@Html.Raw(masterPositionAdd.NamaPosition.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterPositionAdd.NamaPosition.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* masterPositionAdd.NamaPosition.Visible (end) *@
@if (masterPositionAdd.Location.Visible) { // masterPositionAdd.Location.Visible (begin)
    <div id="r_Location" @Html.Raw(masterPositionAdd.Location.RowAttributes)>
        <label id="elh_MasterPosition_Location" for="x_Location" class="@(masterPositionAdd.LeftColumnClass)">@Html.Raw(masterPositionAdd.Location.Caption)@Html.Raw(masterPositionAdd.Location.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterPositionAdd.RightColumnClass)"><div @Html.Raw(masterPositionAdd.Location.CellAttributes)>
<span id="el_MasterPosition_Location">
<input type="@(masterPositionAdd.Location.InputTextType)" name="x_Location" id="x_Location" data-table="MasterPosition" data-field="x_Location" value="@Html.Raw(masterPositionAdd.Location.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(masterPositionAdd.Location.PlaceHolder))" data-format-pattern="@(masterPositionAdd.Location.FormatPattern)"@Html.Raw(masterPositionAdd.Location.EditAttributes) aria-describedby="x_Location_help">
@Html.Raw(masterPositionAdd.Location.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterPositionAdd.Location.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* masterPositionAdd.Location.Visible (end) *@
@if (masterPositionAdd._UserLevel.Visible) { // masterPositionAdd._UserLevel.Visible (begin)
    <div id="r__UserLevel" @Html.Raw(masterPositionAdd._UserLevel.RowAttributes)>
        <label id="elh_MasterPosition__UserLevel" for="x__UserLevel" class="@(masterPositionAdd.LeftColumnClass)">@Html.Raw(masterPositionAdd._UserLevel.Caption)@Html.Raw(masterPositionAdd._UserLevel.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterPositionAdd.RightColumnClass)"><div @Html.Raw(masterPositionAdd._UserLevel.CellAttributes)>
<span id="el_MasterPosition__UserLevel">
    <select
        id="x__UserLevel"
        name="x__UserLevel"
        class="form-select ew-select@(masterPositionAdd._UserLevel.IsInvalidClass)"
        data-select2-id="fMasterPositionadd_x__UserLevel"
        data-table="MasterPosition"
        data-field="x__UserLevel"
        data-value-separator="@(masterPositionAdd._UserLevel.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(masterPositionAdd._UserLevel.PlaceHolder))"
        @Html.Raw(masterPositionAdd._UserLevel.EditAttributes)>
        @(masterPositionAdd._UserLevel.SelectOptionListHtml("x__UserLevel"))
    </select>
    @Html.Raw(masterPositionAdd._UserLevel.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(masterPositionAdd._UserLevel.GetErrorMessage())</div>
@Html.Raw(masterPositionAdd._UserLevel.Lookup.GetParamTag(masterPositionAdd, "p_x__UserLevel"))
<script>
loadjs.ready("fMasterPositionadd", function() {
    var options = { name: "x__UserLevel", selectId: "fMasterPositionadd_x__UserLevel" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fMasterPositionadd.lists._UserLevel?.lookupOptions.length) {
        options.data = { id: "x__UserLevel", form: "fMasterPositionadd" };
    } else {
        options.ajax = { id: "x__UserLevel", form: "fMasterPositionadd", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumInputLength = ew.selectMinimumInputLength;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.MasterPosition.fields._UserLevel.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
</div></div>
    </div>
} @* masterPositionAdd._UserLevel.Visible (end) *@
@if (masterPositionAdd.Role.Visible) { // masterPositionAdd.Role.Visible (begin)
    <div id="r_Role" @Html.Raw(masterPositionAdd.Role.RowAttributes)>
        <label id="elh_MasterPosition_Role" for="x_Role" class="@(masterPositionAdd.LeftColumnClass)">@Html.Raw(masterPositionAdd.Role.Caption)@Html.Raw(masterPositionAdd.Role.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterPositionAdd.RightColumnClass)"><div @Html.Raw(masterPositionAdd.Role.CellAttributes)>
<span id="el_MasterPosition_Role">
    <select
        id="x_Role"
        name="x_Role"
        class="form-select ew-select@(masterPositionAdd.Role.IsInvalidClass)"
        data-select2-id="fMasterPositionadd_x_Role"
        data-table="MasterPosition"
        data-field="x_Role"
        data-value-separator="@(masterPositionAdd.Role.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(masterPositionAdd.Role.PlaceHolder))"
        @Html.Raw(masterPositionAdd.Role.EditAttributes)>
        @(masterPositionAdd.Role.SelectOptionListHtml("x_Role"))
    </select>
    @Html.Raw(masterPositionAdd.Role.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(masterPositionAdd.Role.GetErrorMessage())</div>
@Html.Raw(masterPositionAdd.Role.Lookup.GetParamTag(masterPositionAdd, "p_x_Role"))
<script>
loadjs.ready("fMasterPositionadd", function() {
    var options = { name: "x_Role", selectId: "fMasterPositionadd_x_Role" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fMasterPositionadd.lists.Role?.lookupOptions.length) {
        options.data = { id: "x_Role", form: "fMasterPositionadd" };
    } else {
        options.ajax = { id: "x_Role", form: "fMasterPositionadd", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumInputLength = ew.selectMinimumInputLength;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.MasterPosition.fields.Role.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
</div></div>
    </div>
} @* masterPositionAdd.Role.Visible (end) *@
</div><!-- /page* -->
@{ masterPositionAdd.CloseRecordset(); }
@Html.Raw(masterPositionAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(masterPositionAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fMasterPositionadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fMasterPositionadd" data-href="@AppPath(masterPositionAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(masterPositionAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@masterPositionAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("MasterPosition");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
