@{
    // View
    View = this;

    // Check action result
    if (masterTemplateEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = masterTemplateEdit.UseLayout ? "_Layout" : "";
}
@masterTemplateEdit.ShowPageHeader()
@masterTemplateEdit.ShowMessages()
<main class="edit">
<form name="fMasterTemplateedit" id="fMasterTemplateedit" class="@(masterTemplateEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(masterTemplateEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MasterTemplate: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fMasterTemplateedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMasterTemplateedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["NamaTemplate", [fields.NamaTemplate.visible && fields.NamaTemplate.required ? ew.Validators.required(fields.NamaTemplate.caption) : null], fields.NamaTemplate.isInvalid],
            ["IdModa", [fields.IdModa.visible && fields.IdModa.required ? ew.Validators.required(fields.IdModa.caption) : null], fields.IdModa.isInvalid],
            ["JenisProses", [fields.JenisProses.visible && fields.JenisProses.required ? ew.Validators.required(fields.JenisProses.caption) : null], fields.JenisProses.isInvalid],
            ["Keterangan", [fields.Keterangan.visible && fields.Keterangan.required ? ew.Validators.required(fields.Keterangan.caption) : null], fields.Keterangan.isInvalid],
            ["TipePenimbunan", [fields.TipePenimbunan.visible && fields.TipePenimbunan.required ? ew.Validators.required(fields.TipePenimbunan.caption) : null], fields.TipePenimbunan.isInvalid],
            ["TipePenyaluran", [fields.TipePenyaluran.visible && fields.TipePenyaluran.required ? ew.Validators.required(fields.TipePenyaluran.caption) : null], fields.TipePenyaluran.isInvalid],
            ["KategoriPenyaluran", [fields.KategoriPenyaluran.visible && fields.KategoriPenyaluran.required ? ew.Validators.required(fields.KategoriPenyaluran.caption) : null], fields.KategoriPenyaluran.isInvalid],
            ["NamaDokumen", [fields.NamaDokumen.visible && fields.NamaDokumen.required ? ew.Validators.required(fields.NamaDokumen.caption) : null], fields.NamaDokumen.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "IdModa": @Html.Raw(masterTemplateEdit.IdModa.ToClientList(masterTemplateEdit)),
            "JenisProses": @Html.Raw(masterTemplateEdit.JenisProses.ToClientList(masterTemplateEdit)),
            "TipePenimbunan": @Html.Raw(masterTemplateEdit.TipePenimbunan.ToClientList(masterTemplateEdit)),
            "TipePenyaluran": @Html.Raw(masterTemplateEdit.TipePenyaluran.ToClientList(masterTemplateEdit)),
            "KategoriPenyaluran": @Html.Raw(masterTemplateEdit.KategoriPenyaluran.ToClientList(masterTemplateEdit)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Client script
    $('#fMasterTemplateedit').on('submit', function (e) {
        e.preventDefault();
        showLoading();
        setTimeout(() => {
            hideLoading();
        }, 3000);
        this.requestSubmit();
    });
    $('#x_JenisProses').change(function(){
        if ($(this).val() == 'SamplingLabTest' || $(this).val() == 'RencanaPenyaluran' || $(this).val() == 'Penyaluran') {
            $('#r_TipePenyaluran').show();
            $('#r_KategoriPenyaluran').show();
            $('#r_TipePenimbunan').hide();
        } else if ($(this).val() == 'Penimbunan') {
            $('#r_TipePenimbunan').show();
            $('#r_TipePenyaluran').hide();
            $('#r_KategoriPenyaluran').hide();
        } else {
            $('#r_TipePenyaluran').hide();
            $('#r_KategoriPenyaluran').hide();
            $('#r_TipePenimbunan').hide();
        }
    });
    if ($('#x_JenisProses').val() == 'SamplingLabTest' || $('#x_JenisProses').val() == 'RencanaPenyaluran' || $('#x_JenisProses').val() == 'Penyaluran') {
        $('#r_TipePenyaluran').show();
        $('#r_KategoriPenyaluran').show();
        $('#r_TipePenimbunan').hide();
    } else if ($('#x_JenisProses').val() == 'Penimbunan') {
        $('#r_TipePenimbunan').show();
        $('#r_TipePenyaluran').hide();
        $('#r_KategoriPenyaluran').hide();
    } else {
        $('#r_TipePenyaluran').hide();
        $('#r_KategoriPenyaluran').hide();
        $('#r_TipePenimbunan').hide();
    }
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(masterTemplateEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(masterTemplateEdit.OldKeyName)" value="@Html.Raw(masterTemplateEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (masterTemplateEdit.NamaTemplate.Visible) { // masterTemplateEdit.NamaTemplate.Visible (begin)
    <div id="r_NamaTemplate" @Html.Raw(masterTemplateEdit.NamaTemplate.RowAttributes)>
        <label id="elh_MasterTemplate_NamaTemplate" for="x_NamaTemplate" class="@(masterTemplateEdit.LeftColumnClass)">@Html.Raw(masterTemplateEdit.NamaTemplate.Caption)@Html.Raw(masterTemplateEdit.NamaTemplate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterTemplateEdit.RightColumnClass)"><div @Html.Raw(masterTemplateEdit.NamaTemplate.CellAttributes)>
<span id="el_MasterTemplate_NamaTemplate">
<input type="@(masterTemplateEdit.NamaTemplate.InputTextType)" name="x_NamaTemplate" id="x_NamaTemplate" data-table="MasterTemplate" data-field="x_NamaTemplate" value="@Html.Raw(masterTemplateEdit.NamaTemplate.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(masterTemplateEdit.NamaTemplate.PlaceHolder))" data-format-pattern="@(masterTemplateEdit.NamaTemplate.FormatPattern)"@Html.Raw(masterTemplateEdit.NamaTemplate.EditAttributes) aria-describedby="x_NamaTemplate_help">
@Html.Raw(masterTemplateEdit.NamaTemplate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterTemplateEdit.NamaTemplate.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* masterTemplateEdit.NamaTemplate.Visible (end) *@
@if (masterTemplateEdit.IdModa.Visible) { // masterTemplateEdit.IdModa.Visible (begin)
    <div id="r_IdModa" @Html.Raw(masterTemplateEdit.IdModa.RowAttributes)>
        <label id="elh_MasterTemplate_IdModa" for="x_IdModa" class="@(masterTemplateEdit.LeftColumnClass)">@Html.Raw(masterTemplateEdit.IdModa.Caption)@Html.Raw(masterTemplateEdit.IdModa.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterTemplateEdit.RightColumnClass)"><div @Html.Raw(masterTemplateEdit.IdModa.CellAttributes)>
<span id="el_MasterTemplate_IdModa">
    <select
        id="x_IdModa"
        name="x_IdModa"
        class="form-select ew-select@(masterTemplateEdit.IdModa.IsInvalidClass)"
        data-select2-id="fMasterTemplateedit_x_IdModa"
        data-table="MasterTemplate"
        data-field="x_IdModa"
        data-value-separator="@(masterTemplateEdit.IdModa.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(masterTemplateEdit.IdModa.PlaceHolder))"
        @Html.Raw(masterTemplateEdit.IdModa.EditAttributes)>
        @(masterTemplateEdit.IdModa.SelectOptionListHtml("x_IdModa"))
    </select>
    @Html.Raw(masterTemplateEdit.IdModa.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(masterTemplateEdit.IdModa.GetErrorMessage())</div>
@Html.Raw(masterTemplateEdit.IdModa.Lookup.GetParamTag(masterTemplateEdit, "p_x_IdModa"))
<script>
loadjs.ready("fMasterTemplateedit", function() {
    var options = { name: "x_IdModa", selectId: "fMasterTemplateedit_x_IdModa" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fMasterTemplateedit.lists.IdModa?.lookupOptions.length) {
        options.data = { id: "x_IdModa", form: "fMasterTemplateedit" };
    } else {
        options.ajax = { id: "x_IdModa", form: "fMasterTemplateedit", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumInputLength = ew.selectMinimumInputLength;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.MasterTemplate.fields.IdModa.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
</div></div>
    </div>
} @* masterTemplateEdit.IdModa.Visible (end) *@
@if (masterTemplateEdit.JenisProses.Visible) { // masterTemplateEdit.JenisProses.Visible (begin)
    <div id="r_JenisProses" @Html.Raw(masterTemplateEdit.JenisProses.RowAttributes)>
        <label id="elh_MasterTemplate_JenisProses" for="x_JenisProses" class="@(masterTemplateEdit.LeftColumnClass)">@Html.Raw(masterTemplateEdit.JenisProses.Caption)@Html.Raw(masterTemplateEdit.JenisProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterTemplateEdit.RightColumnClass)"><div @Html.Raw(masterTemplateEdit.JenisProses.CellAttributes)>
<span id="el_MasterTemplate_JenisProses">
    <select
        id="x_JenisProses"
        name="x_JenisProses"
        class="form-select ew-select@(masterTemplateEdit.JenisProses.IsInvalidClass)"
        data-select2-id="fMasterTemplateedit_x_JenisProses"
        data-table="MasterTemplate"
        data-field="x_JenisProses"
        data-value-separator="@(masterTemplateEdit.JenisProses.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(masterTemplateEdit.JenisProses.PlaceHolder))"
        @Html.Raw(masterTemplateEdit.JenisProses.EditAttributes)>
        @(masterTemplateEdit.JenisProses.SelectOptionListHtml("x_JenisProses"))
    </select>
    @Html.Raw(masterTemplateEdit.JenisProses.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(masterTemplateEdit.JenisProses.GetErrorMessage())</div>
<script>
loadjs.ready("fMasterTemplateedit", function() {
    var options = { name: "x_JenisProses", selectId: "fMasterTemplateedit_x_JenisProses" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fMasterTemplateedit.lists.JenisProses?.lookupOptions.length) {
        options.data = { id: "x_JenisProses", form: "fMasterTemplateedit" };
    } else {
        options.ajax = { id: "x_JenisProses", form: "fMasterTemplateedit", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.MasterTemplate.fields.JenisProses.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
</div></div>
    </div>
} @* masterTemplateEdit.JenisProses.Visible (end) *@
@if (masterTemplateEdit.Keterangan.Visible) { // masterTemplateEdit.Keterangan.Visible (begin)
    <div id="r_Keterangan" @Html.Raw(masterTemplateEdit.Keterangan.RowAttributes)>
        <label id="elh_MasterTemplate_Keterangan" for="x_Keterangan" class="@(masterTemplateEdit.LeftColumnClass)">@Html.Raw(masterTemplateEdit.Keterangan.Caption)@Html.Raw(masterTemplateEdit.Keterangan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterTemplateEdit.RightColumnClass)"><div @Html.Raw(masterTemplateEdit.Keterangan.CellAttributes)>
<span id="el_MasterTemplate_Keterangan">
<textarea data-table="MasterTemplate" data-field="x_Keterangan" name="x_Keterangan" id="x_Keterangan" cols="35" rows="4" placeholder="@Html.Raw(HtmlEncode(masterTemplateEdit.Keterangan.PlaceHolder))"@Html.Raw(masterTemplateEdit.Keterangan.EditAttributes) aria-describedby="x_Keterangan_help">@(masterTemplateEdit.Keterangan.EditValue)</textarea>
@Html.Raw(masterTemplateEdit.Keterangan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterTemplateEdit.Keterangan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* masterTemplateEdit.Keterangan.Visible (end) *@
@if (masterTemplateEdit.TipePenimbunan.Visible) { // masterTemplateEdit.TipePenimbunan.Visible (begin)
    <div id="r_TipePenimbunan" @Html.Raw(masterTemplateEdit.TipePenimbunan.RowAttributes)>
        <label id="elh_MasterTemplate_TipePenimbunan" for="x_TipePenimbunan" class="@(masterTemplateEdit.LeftColumnClass)">@Html.Raw(masterTemplateEdit.TipePenimbunan.Caption)@Html.Raw(masterTemplateEdit.TipePenimbunan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterTemplateEdit.RightColumnClass)"><div @Html.Raw(masterTemplateEdit.TipePenimbunan.CellAttributes)>
<span id="el_MasterTemplate_TipePenimbunan">
    <select
        id="x_TipePenimbunan"
        name="x_TipePenimbunan"
        class="form-select ew-select@(masterTemplateEdit.TipePenimbunan.IsInvalidClass)"
        data-select2-id="fMasterTemplateedit_x_TipePenimbunan"
        data-table="MasterTemplate"
        data-field="x_TipePenimbunan"
        data-value-separator="@(masterTemplateEdit.TipePenimbunan.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(masterTemplateEdit.TipePenimbunan.PlaceHolder))"
        @Html.Raw(masterTemplateEdit.TipePenimbunan.EditAttributes)>
        @(masterTemplateEdit.TipePenimbunan.SelectOptionListHtml("x_TipePenimbunan"))
    </select>
    @Html.Raw(masterTemplateEdit.TipePenimbunan.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(masterTemplateEdit.TipePenimbunan.GetErrorMessage())</div>
<script>
loadjs.ready("fMasterTemplateedit", function() {
    var options = { name: "x_TipePenimbunan", selectId: "fMasterTemplateedit_x_TipePenimbunan" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fMasterTemplateedit.lists.TipePenimbunan?.lookupOptions.length) {
        options.data = { id: "x_TipePenimbunan", form: "fMasterTemplateedit" };
    } else {
        options.ajax = { id: "x_TipePenimbunan", form: "fMasterTemplateedit", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.MasterTemplate.fields.TipePenimbunan.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
</div></div>
    </div>
} @* masterTemplateEdit.TipePenimbunan.Visible (end) *@
@if (masterTemplateEdit.TipePenyaluran.Visible) { // masterTemplateEdit.TipePenyaluran.Visible (begin)
    <div id="r_TipePenyaluran" @Html.Raw(masterTemplateEdit.TipePenyaluran.RowAttributes)>
        <label id="elh_MasterTemplate_TipePenyaluran" for="x_TipePenyaluran" class="@(masterTemplateEdit.LeftColumnClass)">@Html.Raw(masterTemplateEdit.TipePenyaluran.Caption)@Html.Raw(masterTemplateEdit.TipePenyaluran.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterTemplateEdit.RightColumnClass)"><div @Html.Raw(masterTemplateEdit.TipePenyaluran.CellAttributes)>
<span id="el_MasterTemplate_TipePenyaluran">
    <select
        id="x_TipePenyaluran"
        name="x_TipePenyaluran"
        class="form-select ew-select@(masterTemplateEdit.TipePenyaluran.IsInvalidClass)"
        data-select2-id="fMasterTemplateedit_x_TipePenyaluran"
        data-table="MasterTemplate"
        data-field="x_TipePenyaluran"
        data-value-separator="@(masterTemplateEdit.TipePenyaluran.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(masterTemplateEdit.TipePenyaluran.PlaceHolder))"
        @Html.Raw(masterTemplateEdit.TipePenyaluran.EditAttributes)>
        @(masterTemplateEdit.TipePenyaluran.SelectOptionListHtml("x_TipePenyaluran"))
    </select>
    @Html.Raw(masterTemplateEdit.TipePenyaluran.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(masterTemplateEdit.TipePenyaluran.GetErrorMessage())</div>
<script>
loadjs.ready("fMasterTemplateedit", function() {
    var options = { name: "x_TipePenyaluran", selectId: "fMasterTemplateedit_x_TipePenyaluran" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fMasterTemplateedit.lists.TipePenyaluran?.lookupOptions.length) {
        options.data = { id: "x_TipePenyaluran", form: "fMasterTemplateedit" };
    } else {
        options.ajax = { id: "x_TipePenyaluran", form: "fMasterTemplateedit", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.MasterTemplate.fields.TipePenyaluran.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
</div></div>
    </div>
} @* masterTemplateEdit.TipePenyaluran.Visible (end) *@
@if (masterTemplateEdit.KategoriPenyaluran.Visible) { // masterTemplateEdit.KategoriPenyaluran.Visible (begin)
    <div id="r_KategoriPenyaluran" @Html.Raw(masterTemplateEdit.KategoriPenyaluran.RowAttributes)>
        <label id="elh_MasterTemplate_KategoriPenyaluran" for="x_KategoriPenyaluran" class="@(masterTemplateEdit.LeftColumnClass)">@Html.Raw(masterTemplateEdit.KategoriPenyaluran.Caption)@Html.Raw(masterTemplateEdit.KategoriPenyaluran.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterTemplateEdit.RightColumnClass)"><div @Html.Raw(masterTemplateEdit.KategoriPenyaluran.CellAttributes)>
<span id="el_MasterTemplate_KategoriPenyaluran">
    <select
        id="x_KategoriPenyaluran"
        name="x_KategoriPenyaluran"
        class="form-select ew-select@(masterTemplateEdit.KategoriPenyaluran.IsInvalidClass)"
        data-select2-id="fMasterTemplateedit_x_KategoriPenyaluran"
        data-table="MasterTemplate"
        data-field="x_KategoriPenyaluran"
        data-value-separator="@(masterTemplateEdit.KategoriPenyaluran.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(masterTemplateEdit.KategoriPenyaluran.PlaceHolder))"
        @Html.Raw(masterTemplateEdit.KategoriPenyaluran.EditAttributes)>
        @(masterTemplateEdit.KategoriPenyaluran.SelectOptionListHtml("x_KategoriPenyaluran"))
    </select>
    @Html.Raw(masterTemplateEdit.KategoriPenyaluran.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(masterTemplateEdit.KategoriPenyaluran.GetErrorMessage())</div>
<script>
loadjs.ready("fMasterTemplateedit", function() {
    var options = { name: "x_KategoriPenyaluran", selectId: "fMasterTemplateedit_x_KategoriPenyaluran" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fMasterTemplateedit.lists.KategoriPenyaluran?.lookupOptions.length) {
        options.data = { id: "x_KategoriPenyaluran", form: "fMasterTemplateedit" };
    } else {
        options.ajax = { id: "x_KategoriPenyaluran", form: "fMasterTemplateedit", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.MasterTemplate.fields.KategoriPenyaluran.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
</div></div>
    </div>
} @* masterTemplateEdit.KategoriPenyaluran.Visible (end) *@
@if (masterTemplateEdit.NamaDokumen.Visible) { // masterTemplateEdit.NamaDokumen.Visible (begin)
    <div id="r_NamaDokumen" @Html.Raw(masterTemplateEdit.NamaDokumen.RowAttributes)>
        <label id="elh_MasterTemplate_NamaDokumen" for="x_NamaDokumen" class="@(masterTemplateEdit.LeftColumnClass)">@Html.Raw(masterTemplateEdit.NamaDokumen.Caption)@Html.Raw(masterTemplateEdit.NamaDokumen.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterTemplateEdit.RightColumnClass)"><div @Html.Raw(masterTemplateEdit.NamaDokumen.CellAttributes)>
<span id="el_MasterTemplate_NamaDokumen">
<input type="@(masterTemplateEdit.NamaDokumen.InputTextType)" name="x_NamaDokumen" id="x_NamaDokumen" data-table="MasterTemplate" data-field="x_NamaDokumen" value="@Html.Raw(masterTemplateEdit.NamaDokumen.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(masterTemplateEdit.NamaDokumen.PlaceHolder))" data-format-pattern="@(masterTemplateEdit.NamaDokumen.FormatPattern)"@Html.Raw(masterTemplateEdit.NamaDokumen.EditAttributes) aria-describedby="x_NamaDokumen_help">
@Html.Raw(masterTemplateEdit.NamaDokumen.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterTemplateEdit.NamaDokumen.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* masterTemplateEdit.NamaDokumen.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="MasterTemplate" data-field="x_IdTemplate" data-hidden="1" name="x_IdTemplate" id="x_IdTemplate" value="@Html.Raw(HtmlEncode(masterTemplateEdit.IdTemplate.CurrentValue))">
@{ masterTemplateEdit.CloseRecordset(); }
@if (masterTemplateEdit.CurrentDetailTables.Contains("TemplateProses") && Resolve("TemplateProses").DetailEdit) {
    if (!Empty(masterTemplateEdit.CurrentDetailTable)) {
<h4 class="ew-detail-caption">@Html.Raw(Language.TablePhrase("TemplateProses", "TblCaption"))</h4>
    }
        @await Html.PartialAsync("TemplateProsesGrid")
    View = this;
}
@Html.Raw(masterTemplateEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(masterTemplateEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fMasterTemplateedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fMasterTemplateedit" data-href="@AppPath(masterTemplateEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(masterTemplateEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@masterTemplateEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("MasterTemplate");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
