@{
    // View
    View = this;

    // Check action result
    if (masterDermagaEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = masterDermagaEdit.UseLayout ? "_Layout" : "";
}
@masterDermagaEdit.ShowPageHeader()
@masterDermagaEdit.ShowMessages()
<main class="edit">
<form name="fMasterDermagaedit" id="fMasterDermagaedit" class="@(masterDermagaEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(masterDermagaEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MasterDermaga: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fMasterDermagaedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMasterDermagaedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["IdDermaga", [fields.IdDermaga.visible && fields.IdDermaga.required ? ew.Validators.required(fields.IdDermaga.caption) : null], fields.IdDermaga.isInvalid],
            ["Region", [fields.Region.visible && fields.Region.required ? ew.Validators.required(fields.Region.caption) : null], fields.Region.isInvalid],
            ["Id_Plant", [fields.Id_Plant.visible && fields.Id_Plant.required ? ew.Validators.required(fields.Id_Plant.caption) : null], fields.Id_Plant.isInvalid],
            ["TBBM", [fields.TBBM.visible && fields.TBBM.required ? ew.Validators.required(fields.TBBM.caption) : null], fields.TBBM.isInvalid],
            ["Equipment_ID", [fields.Equipment_ID.visible && fields.Equipment_ID.required ? ew.Validators.required(fields.Equipment_ID.caption) : null], fields.Equipment_ID.isInvalid],
            ["Fungsi", [fields.Fungsi.visible && fields.Fungsi.required ? ew.Validators.required(fields.Fungsi.caption) : null], fields.Fungsi.isInvalid],
            ["Kapasitas_DWT", [fields.Kapasitas_DWT.visible && fields.Kapasitas_DWT.required ? ew.Validators.required(fields.Kapasitas_DWT.caption) : null], fields.Kapasitas_DWT.isInvalid],
            ["Kategori_Kapasitas", [fields.Kategori_Kapasitas.visible && fields.Kategori_Kapasitas.required ? ew.Validators.required(fields.Kategori_Kapasitas.caption) : null], fields.Kategori_Kapasitas.isInvalid],
            ["Jenis_Sartam", [fields.Jenis_Sartam.visible && fields.Jenis_Sartam.required ? ew.Validators.required(fields.Jenis_Sartam.caption) : null], fields.Jenis_Sartam.isInvalid],
            ["Type_Sartam", [fields.Type_Sartam.visible && fields.Type_Sartam.required ? ew.Validators.required(fields.Type_Sartam.caption) : null], fields.Type_Sartam.isInvalid],
            ["Tahun_Pembuatan", [fields.Tahun_Pembuatan.visible && fields.Tahun_Pembuatan.required ? ew.Validators.required(fields.Tahun_Pembuatan.caption) : null], fields.Tahun_Pembuatan.isInvalid],
            ["Kategori_Port", [fields.Kategori_Port.visible && fields.Kategori_Port.required ? ew.Validators.required(fields.Kategori_Port.caption) : null], fields.Kategori_Port.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "Id_Plant": @Html.Raw(masterDermagaEdit.Id_Plant.ToClientList(masterDermagaEdit)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Client script
    $('#fMasterDermagaedit').on('submit', function (e) {
        e.preventDefault();
        showLoading();
        setTimeout(() => {
            hideLoading();
        }, 3000);
        this.requestSubmit();
    });
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(masterDermagaEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(masterDermagaEdit.OldKeyName)" value="@Html.Raw(masterDermagaEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (masterDermagaEdit.IdDermaga.Visible) { // masterDermagaEdit.IdDermaga.Visible (begin)
    <div id="r_IdDermaga" @Html.Raw(masterDermagaEdit.IdDermaga.RowAttributes)>
        <label id="elh_MasterDermaga_IdDermaga" class="@(masterDermagaEdit.LeftColumnClass)">@Html.Raw(masterDermagaEdit.IdDermaga.Caption)@Html.Raw(masterDermagaEdit.IdDermaga.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterDermagaEdit.RightColumnClass)"><div @Html.Raw(masterDermagaEdit.IdDermaga.CellAttributes)>
<span id="el_MasterDermaga_IdDermaga">
<span @Html.Raw(masterDermagaEdit.IdDermaga.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(masterDermagaEdit.IdDermaga.EditValue)))"></span>
<input type="hidden" data-table="MasterDermaga" data-field="x_IdDermaga" data-hidden="1" name="x_IdDermaga" id="x_IdDermaga" value="@Html.Raw(HtmlEncode(masterDermagaEdit.IdDermaga.CurrentValue))">
</span>
</div></div>
    </div>
} @* masterDermagaEdit.IdDermaga.Visible (end) *@
@if (masterDermagaEdit.Region.Visible) { // masterDermagaEdit.Region.Visible (begin)
    <div id="r_Region" @Html.Raw(masterDermagaEdit.Region.RowAttributes)>
        <label id="elh_MasterDermaga_Region" for="x_Region" class="@(masterDermagaEdit.LeftColumnClass)">@Html.Raw(masterDermagaEdit.Region.Caption)@Html.Raw(masterDermagaEdit.Region.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterDermagaEdit.RightColumnClass)"><div @Html.Raw(masterDermagaEdit.Region.CellAttributes)>
<span id="el_MasterDermaga_Region">
<input type="@(masterDermagaEdit.Region.InputTextType)" name="x_Region" id="x_Region" data-table="MasterDermaga" data-field="x_Region" value="@Html.Raw(masterDermagaEdit.Region.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(masterDermagaEdit.Region.PlaceHolder))" data-format-pattern="@(masterDermagaEdit.Region.FormatPattern)"@Html.Raw(masterDermagaEdit.Region.EditAttributes) aria-describedby="x_Region_help">
@Html.Raw(masterDermagaEdit.Region.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterDermagaEdit.Region.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* masterDermagaEdit.Region.Visible (end) *@
@if (masterDermagaEdit.Id_Plant.Visible) { // masterDermagaEdit.Id_Plant.Visible (begin)
    <div id="r_Id_Plant" @Html.Raw(masterDermagaEdit.Id_Plant.RowAttributes)>
        <label id="elh_MasterDermaga_Id_Plant" for="x_Id_Plant" class="@(masterDermagaEdit.LeftColumnClass)">@Html.Raw(masterDermagaEdit.Id_Plant.Caption)@Html.Raw(masterDermagaEdit.Id_Plant.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterDermagaEdit.RightColumnClass)"><div @Html.Raw(masterDermagaEdit.Id_Plant.CellAttributes)>
<span id="el_MasterDermaga_Id_Plant">
    <select
        id="x_Id_Plant"
        name="x_Id_Plant"
        class="form-select ew-select@(masterDermagaEdit.Id_Plant.IsInvalidClass)"
        data-select2-id="fMasterDermagaedit_x_Id_Plant"
        data-table="MasterDermaga"
        data-field="x_Id_Plant"
        data-value-separator="@(masterDermagaEdit.Id_Plant.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(masterDermagaEdit.Id_Plant.PlaceHolder))"
        @Html.Raw(masterDermagaEdit.Id_Plant.EditAttributes)>
        @(masterDermagaEdit.Id_Plant.SelectOptionListHtml("x_Id_Plant"))
    </select>
    @Html.Raw(masterDermagaEdit.Id_Plant.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(masterDermagaEdit.Id_Plant.GetErrorMessage())</div>
@Html.Raw(masterDermagaEdit.Id_Plant.Lookup.GetParamTag(masterDermagaEdit, "p_x_Id_Plant"))
<script>
loadjs.ready("fMasterDermagaedit", function() {
    var options = { name: "x_Id_Plant", selectId: "fMasterDermagaedit_x_Id_Plant" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fMasterDermagaedit.lists.Id_Plant?.lookupOptions.length) {
        options.data = { id: "x_Id_Plant", form: "fMasterDermagaedit" };
    } else {
        options.ajax = { id: "x_Id_Plant", form: "fMasterDermagaedit", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumInputLength = ew.selectMinimumInputLength;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.MasterDermaga.fields.Id_Plant.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
</div></div>
    </div>
} @* masterDermagaEdit.Id_Plant.Visible (end) *@
@if (masterDermagaEdit.TBBM.Visible) { // masterDermagaEdit.TBBM.Visible (begin)
    <div id="r_TBBM" @Html.Raw(masterDermagaEdit.TBBM.RowAttributes)>
        <label id="elh_MasterDermaga_TBBM" for="x_TBBM" class="@(masterDermagaEdit.LeftColumnClass)">@Html.Raw(masterDermagaEdit.TBBM.Caption)@Html.Raw(masterDermagaEdit.TBBM.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterDermagaEdit.RightColumnClass)"><div @Html.Raw(masterDermagaEdit.TBBM.CellAttributes)>
<span id="el_MasterDermaga_TBBM">
<input type="@(masterDermagaEdit.TBBM.InputTextType)" name="x_TBBM" id="x_TBBM" data-table="MasterDermaga" data-field="x_TBBM" value="@Html.Raw(masterDermagaEdit.TBBM.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(masterDermagaEdit.TBBM.PlaceHolder))" data-format-pattern="@(masterDermagaEdit.TBBM.FormatPattern)"@Html.Raw(masterDermagaEdit.TBBM.EditAttributes) aria-describedby="x_TBBM_help">
@Html.Raw(masterDermagaEdit.TBBM.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterDermagaEdit.TBBM.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* masterDermagaEdit.TBBM.Visible (end) *@
@if (masterDermagaEdit.Equipment_ID.Visible) { // masterDermagaEdit.Equipment_ID.Visible (begin)
    <div id="r_Equipment_ID" @Html.Raw(masterDermagaEdit.Equipment_ID.RowAttributes)>
        <label id="elh_MasterDermaga_Equipment_ID" for="x_Equipment_ID" class="@(masterDermagaEdit.LeftColumnClass)">@Html.Raw(masterDermagaEdit.Equipment_ID.Caption)@Html.Raw(masterDermagaEdit.Equipment_ID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterDermagaEdit.RightColumnClass)"><div @Html.Raw(masterDermagaEdit.Equipment_ID.CellAttributes)>
<span id="el_MasterDermaga_Equipment_ID">
<input type="@(masterDermagaEdit.Equipment_ID.InputTextType)" name="x_Equipment_ID" id="x_Equipment_ID" data-table="MasterDermaga" data-field="x_Equipment_ID" value="@Html.Raw(masterDermagaEdit.Equipment_ID.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(masterDermagaEdit.Equipment_ID.PlaceHolder))" data-format-pattern="@(masterDermagaEdit.Equipment_ID.FormatPattern)"@Html.Raw(masterDermagaEdit.Equipment_ID.EditAttributes) aria-describedby="x_Equipment_ID_help">
@Html.Raw(masterDermagaEdit.Equipment_ID.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterDermagaEdit.Equipment_ID.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* masterDermagaEdit.Equipment_ID.Visible (end) *@
@if (masterDermagaEdit.Fungsi.Visible) { // masterDermagaEdit.Fungsi.Visible (begin)
    <div id="r_Fungsi" @Html.Raw(masterDermagaEdit.Fungsi.RowAttributes)>
        <label id="elh_MasterDermaga_Fungsi" for="x_Fungsi" class="@(masterDermagaEdit.LeftColumnClass)">@Html.Raw(masterDermagaEdit.Fungsi.Caption)@Html.Raw(masterDermagaEdit.Fungsi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterDermagaEdit.RightColumnClass)"><div @Html.Raw(masterDermagaEdit.Fungsi.CellAttributes)>
<span id="el_MasterDermaga_Fungsi">
<input type="@(masterDermagaEdit.Fungsi.InputTextType)" name="x_Fungsi" id="x_Fungsi" data-table="MasterDermaga" data-field="x_Fungsi" value="@Html.Raw(masterDermagaEdit.Fungsi.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(masterDermagaEdit.Fungsi.PlaceHolder))" data-format-pattern="@(masterDermagaEdit.Fungsi.FormatPattern)"@Html.Raw(masterDermagaEdit.Fungsi.EditAttributes) aria-describedby="x_Fungsi_help">
@Html.Raw(masterDermagaEdit.Fungsi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterDermagaEdit.Fungsi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* masterDermagaEdit.Fungsi.Visible (end) *@
@if (masterDermagaEdit.Kapasitas_DWT.Visible) { // masterDermagaEdit.Kapasitas_DWT.Visible (begin)
    <div id="r_Kapasitas_DWT" @Html.Raw(masterDermagaEdit.Kapasitas_DWT.RowAttributes)>
        <label id="elh_MasterDermaga_Kapasitas_DWT" for="x_Kapasitas_DWT" class="@(masterDermagaEdit.LeftColumnClass)">@Html.Raw(masterDermagaEdit.Kapasitas_DWT.Caption)@Html.Raw(masterDermagaEdit.Kapasitas_DWT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterDermagaEdit.RightColumnClass)"><div @Html.Raw(masterDermagaEdit.Kapasitas_DWT.CellAttributes)>
<span id="el_MasterDermaga_Kapasitas_DWT">
<input type="@(masterDermagaEdit.Kapasitas_DWT.InputTextType)" name="x_Kapasitas_DWT" id="x_Kapasitas_DWT" data-table="MasterDermaga" data-field="x_Kapasitas_DWT" value="@Html.Raw(masterDermagaEdit.Kapasitas_DWT.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(masterDermagaEdit.Kapasitas_DWT.PlaceHolder))" data-format-pattern="@(masterDermagaEdit.Kapasitas_DWT.FormatPattern)"@Html.Raw(masterDermagaEdit.Kapasitas_DWT.EditAttributes) aria-describedby="x_Kapasitas_DWT_help">
@Html.Raw(masterDermagaEdit.Kapasitas_DWT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterDermagaEdit.Kapasitas_DWT.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* masterDermagaEdit.Kapasitas_DWT.Visible (end) *@
@if (masterDermagaEdit.Kategori_Kapasitas.Visible) { // masterDermagaEdit.Kategori_Kapasitas.Visible (begin)
    <div id="r_Kategori_Kapasitas" @Html.Raw(masterDermagaEdit.Kategori_Kapasitas.RowAttributes)>
        <label id="elh_MasterDermaga_Kategori_Kapasitas" for="x_Kategori_Kapasitas" class="@(masterDermagaEdit.LeftColumnClass)">@Html.Raw(masterDermagaEdit.Kategori_Kapasitas.Caption)@Html.Raw(masterDermagaEdit.Kategori_Kapasitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterDermagaEdit.RightColumnClass)"><div @Html.Raw(masterDermagaEdit.Kategori_Kapasitas.CellAttributes)>
<span id="el_MasterDermaga_Kategori_Kapasitas">
<input type="@(masterDermagaEdit.Kategori_Kapasitas.InputTextType)" name="x_Kategori_Kapasitas" id="x_Kategori_Kapasitas" data-table="MasterDermaga" data-field="x_Kategori_Kapasitas" value="@Html.Raw(masterDermagaEdit.Kategori_Kapasitas.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(masterDermagaEdit.Kategori_Kapasitas.PlaceHolder))" data-format-pattern="@(masterDermagaEdit.Kategori_Kapasitas.FormatPattern)"@Html.Raw(masterDermagaEdit.Kategori_Kapasitas.EditAttributes) aria-describedby="x_Kategori_Kapasitas_help">
@Html.Raw(masterDermagaEdit.Kategori_Kapasitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterDermagaEdit.Kategori_Kapasitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* masterDermagaEdit.Kategori_Kapasitas.Visible (end) *@
@if (masterDermagaEdit.Jenis_Sartam.Visible) { // masterDermagaEdit.Jenis_Sartam.Visible (begin)
    <div id="r_Jenis_Sartam" @Html.Raw(masterDermagaEdit.Jenis_Sartam.RowAttributes)>
        <label id="elh_MasterDermaga_Jenis_Sartam" for="x_Jenis_Sartam" class="@(masterDermagaEdit.LeftColumnClass)">@Html.Raw(masterDermagaEdit.Jenis_Sartam.Caption)@Html.Raw(masterDermagaEdit.Jenis_Sartam.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterDermagaEdit.RightColumnClass)"><div @Html.Raw(masterDermagaEdit.Jenis_Sartam.CellAttributes)>
<span id="el_MasterDermaga_Jenis_Sartam">
<input type="@(masterDermagaEdit.Jenis_Sartam.InputTextType)" name="x_Jenis_Sartam" id="x_Jenis_Sartam" data-table="MasterDermaga" data-field="x_Jenis_Sartam" value="@Html.Raw(masterDermagaEdit.Jenis_Sartam.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(masterDermagaEdit.Jenis_Sartam.PlaceHolder))" data-format-pattern="@(masterDermagaEdit.Jenis_Sartam.FormatPattern)"@Html.Raw(masterDermagaEdit.Jenis_Sartam.EditAttributes) aria-describedby="x_Jenis_Sartam_help">
@Html.Raw(masterDermagaEdit.Jenis_Sartam.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterDermagaEdit.Jenis_Sartam.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* masterDermagaEdit.Jenis_Sartam.Visible (end) *@
@if (masterDermagaEdit.Type_Sartam.Visible) { // masterDermagaEdit.Type_Sartam.Visible (begin)
    <div id="r_Type_Sartam" @Html.Raw(masterDermagaEdit.Type_Sartam.RowAttributes)>
        <label id="elh_MasterDermaga_Type_Sartam" for="x_Type_Sartam" class="@(masterDermagaEdit.LeftColumnClass)">@Html.Raw(masterDermagaEdit.Type_Sartam.Caption)@Html.Raw(masterDermagaEdit.Type_Sartam.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterDermagaEdit.RightColumnClass)"><div @Html.Raw(masterDermagaEdit.Type_Sartam.CellAttributes)>
<span id="el_MasterDermaga_Type_Sartam">
<input type="@(masterDermagaEdit.Type_Sartam.InputTextType)" name="x_Type_Sartam" id="x_Type_Sartam" data-table="MasterDermaga" data-field="x_Type_Sartam" value="@Html.Raw(masterDermagaEdit.Type_Sartam.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(masterDermagaEdit.Type_Sartam.PlaceHolder))" data-format-pattern="@(masterDermagaEdit.Type_Sartam.FormatPattern)"@Html.Raw(masterDermagaEdit.Type_Sartam.EditAttributes) aria-describedby="x_Type_Sartam_help">
@Html.Raw(masterDermagaEdit.Type_Sartam.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterDermagaEdit.Type_Sartam.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* masterDermagaEdit.Type_Sartam.Visible (end) *@
@if (masterDermagaEdit.Tahun_Pembuatan.Visible) { // masterDermagaEdit.Tahun_Pembuatan.Visible (begin)
    <div id="r_Tahun_Pembuatan" @Html.Raw(masterDermagaEdit.Tahun_Pembuatan.RowAttributes)>
        <label id="elh_MasterDermaga_Tahun_Pembuatan" for="x_Tahun_Pembuatan" class="@(masterDermagaEdit.LeftColumnClass)">@Html.Raw(masterDermagaEdit.Tahun_Pembuatan.Caption)@Html.Raw(masterDermagaEdit.Tahun_Pembuatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterDermagaEdit.RightColumnClass)"><div @Html.Raw(masterDermagaEdit.Tahun_Pembuatan.CellAttributes)>
<span id="el_MasterDermaga_Tahun_Pembuatan">
<input type="@(masterDermagaEdit.Tahun_Pembuatan.InputTextType)" name="x_Tahun_Pembuatan" id="x_Tahun_Pembuatan" data-table="MasterDermaga" data-field="x_Tahun_Pembuatan" value="@Html.Raw(masterDermagaEdit.Tahun_Pembuatan.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(masterDermagaEdit.Tahun_Pembuatan.PlaceHolder))" data-format-pattern="@(masterDermagaEdit.Tahun_Pembuatan.FormatPattern)"@Html.Raw(masterDermagaEdit.Tahun_Pembuatan.EditAttributes) aria-describedby="x_Tahun_Pembuatan_help">
@Html.Raw(masterDermagaEdit.Tahun_Pembuatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterDermagaEdit.Tahun_Pembuatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* masterDermagaEdit.Tahun_Pembuatan.Visible (end) *@
@if (masterDermagaEdit.Kategori_Port.Visible) { // masterDermagaEdit.Kategori_Port.Visible (begin)
    <div id="r_Kategori_Port" @Html.Raw(masterDermagaEdit.Kategori_Port.RowAttributes)>
        <label id="elh_MasterDermaga_Kategori_Port" for="x_Kategori_Port" class="@(masterDermagaEdit.LeftColumnClass)">@Html.Raw(masterDermagaEdit.Kategori_Port.Caption)@Html.Raw(masterDermagaEdit.Kategori_Port.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(masterDermagaEdit.RightColumnClass)"><div @Html.Raw(masterDermagaEdit.Kategori_Port.CellAttributes)>
<span id="el_MasterDermaga_Kategori_Port">
<input type="@(masterDermagaEdit.Kategori_Port.InputTextType)" name="x_Kategori_Port" id="x_Kategori_Port" data-table="MasterDermaga" data-field="x_Kategori_Port" value="@Html.Raw(masterDermagaEdit.Kategori_Port.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(masterDermagaEdit.Kategori_Port.PlaceHolder))" data-format-pattern="@(masterDermagaEdit.Kategori_Port.FormatPattern)"@Html.Raw(masterDermagaEdit.Kategori_Port.EditAttributes) aria-describedby="x_Kategori_Port_help">
@Html.Raw(masterDermagaEdit.Kategori_Port.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(masterDermagaEdit.Kategori_Port.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* masterDermagaEdit.Kategori_Port.Visible (end) *@
</div><!-- /page* -->
@{ masterDermagaEdit.CloseRecordset(); }
@Html.Raw(masterDermagaEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(masterDermagaEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fMasterDermagaedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fMasterDermagaedit" data-href="@AppPath(masterDermagaEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(masterDermagaEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@masterDermagaEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("MasterDermaga");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
