@{
    // View
    View = this;

    // Check action result
    if (mwtOnlineDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = mwtOnlineDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(mwtOnlineDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MWTOnline: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fMWTOnlinedelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMWTOnlinedelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@mwtOnlineDelete.ShowPageHeader()
@mwtOnlineDelete.ShowMessages()
<form name="fMWTOnlinedelete" id="fMWTOnlinedelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in mwtOnlineDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(mwtOnlineDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(mwtOnlineDelete.TableContainerClass)" style="@(mwtOnlineDelete.TableContainerStyle)">
<table class="@(mwtOnlineDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (mwtOnlineDelete.LinkRedirect.Visible) { // mwtOnlineDelete.LinkRedirect.Visible (begin)
        <th class="@Html.Raw(mwtOnlineDelete.LinkRedirect.HeaderCellClass)"><span id="elh_MWTOnline_LinkRedirect" class="MWTOnline_LinkRedirect">@Html.Raw(mwtOnlineDelete.LinkRedirect.Caption)</span></th>
} @* mwtOnlineDelete.LinkRedirect.Visible (end) *@
@if (mwtOnlineDelete.IdPlant.Visible) { // mwtOnlineDelete.IdPlant.Visible (begin)
        <th class="@Html.Raw(mwtOnlineDelete.IdPlant.HeaderCellClass)"><span id="elh_MWTOnline_IdPlant" class="MWTOnline_IdPlant">@Html.Raw(mwtOnlineDelete.IdPlant.Caption)</span></th>
} @* mwtOnlineDelete.IdPlant.Visible (end) *@
@if (mwtOnlineDelete.Status.Visible) { // mwtOnlineDelete.Status.Visible (begin)
        <th class="@Html.Raw(mwtOnlineDelete.Status.HeaderCellClass)"><span id="elh_MWTOnline_Status" class="MWTOnline_Status">@Html.Raw(mwtOnlineDelete.Status.Caption)</span></th>
} @* mwtOnlineDelete.Status.Visible (end) *@
@if (mwtOnlineDelete.DownloadFile.Visible) { // mwtOnlineDelete.DownloadFile.Visible (begin)
        <th class="@Html.Raw(mwtOnlineDelete.DownloadFile.HeaderCellClass)"><span id="elh_MWTOnline_DownloadFile" class="MWTOnline_DownloadFile">@Html.Raw(mwtOnlineDelete.DownloadFile.Caption)</span></th>
} @* mwtOnlineDelete.DownloadFile.Visible (end) *@
@if (mwtOnlineDelete.CreatedBy.Visible) { // mwtOnlineDelete.CreatedBy.Visible (begin)
        <th class="@Html.Raw(mwtOnlineDelete.CreatedBy.HeaderCellClass)"><span id="elh_MWTOnline_CreatedBy" class="MWTOnline_CreatedBy">@Html.Raw(mwtOnlineDelete.CreatedBy.Caption)</span></th>
} @* mwtOnlineDelete.CreatedBy.Visible (end) *@
@if (mwtOnlineDelete.CreatedDate.Visible) { // mwtOnlineDelete.CreatedDate.Visible (begin)
        <th class="@Html.Raw(mwtOnlineDelete.CreatedDate.HeaderCellClass)"><span id="elh_MWTOnline_CreatedDate" class="MWTOnline_CreatedDate">@Html.Raw(mwtOnlineDelete.CreatedDate.Caption)</span></th>
} @* mwtOnlineDelete.CreatedDate.Visible (end) *@
@if (mwtOnlineDelete.LastUpdatedBy.Visible) { // mwtOnlineDelete.LastUpdatedBy.Visible (begin)
        <th class="@Html.Raw(mwtOnlineDelete.LastUpdatedBy.HeaderCellClass)"><span id="elh_MWTOnline_LastUpdatedBy" class="MWTOnline_LastUpdatedBy">@Html.Raw(mwtOnlineDelete.LastUpdatedBy.Caption)</span></th>
} @* mwtOnlineDelete.LastUpdatedBy.Visible (end) *@
@if (mwtOnlineDelete.LastUpdatedDate.Visible) { // mwtOnlineDelete.LastUpdatedDate.Visible (begin)
        <th class="@Html.Raw(mwtOnlineDelete.LastUpdatedDate.HeaderCellClass)"><span id="elh_MWTOnline_LastUpdatedDate" class="MWTOnline_LastUpdatedDate">@Html.Raw(mwtOnlineDelete.LastUpdatedDate.Caption)</span></th>
} @* mwtOnlineDelete.LastUpdatedDate.Visible (end) *@
@if (mwtOnlineDelete.CompletedBy.Visible) { // mwtOnlineDelete.CompletedBy.Visible (begin)
        <th class="@Html.Raw(mwtOnlineDelete.CompletedBy.HeaderCellClass)"><span id="elh_MWTOnline_CompletedBy" class="MWTOnline_CompletedBy">@Html.Raw(mwtOnlineDelete.CompletedBy.Caption)</span></th>
} @* mwtOnlineDelete.CompletedBy.Visible (end) *@
@if (mwtOnlineDelete.CompletedDate.Visible) { // mwtOnlineDelete.CompletedDate.Visible (begin)
        <th class="@Html.Raw(mwtOnlineDelete.CompletedDate.HeaderCellClass)"><span id="elh_MWTOnline_CompletedDate" class="MWTOnline_CompletedDate">@Html.Raw(mwtOnlineDelete.CompletedDate.Caption)</span></th>
} @* mwtOnlineDelete.CompletedDate.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ mwtOnlineDelete.RecordCount = 0; }
@while (mwtOnlineDelete.Recordset != null && await mwtOnlineDelete.Recordset.ReadAsync()) { // DN
    mwtOnlineDelete.RecordCount++;
    mwtOnlineDelete.RowCount++;

    // Set row properties
    mwtOnlineDelete.ResetAttributes();
    mwtOnlineDelete.RowType = RowType.View; // View

    // Get the field contents
    await mwtOnlineDelete.LoadRowValues(mwtOnlineDelete.Recordset);

    // Render row
    await mwtOnlineDelete.RenderRow();
    <tr @Html.Raw(mwtOnlineDelete.RowAttributes)>
@if (mwtOnlineDelete.LinkRedirect.Visible) { // mwtOnlineDelete.LinkRedirect.Visible (begin)
        <td @Html.Raw(mwtOnlineDelete.LinkRedirect.CellAttributes)>
<span id="">
<span @Html.Raw(mwtOnlineDelete.LinkRedirect.ViewAttributes)>
@Html.Raw(mwtOnlineDelete.LinkRedirect.GetViewValue())</span>
</span></td>
} @* mwtOnlineDelete.LinkRedirect.Visible (end) *@
@if (mwtOnlineDelete.IdPlant.Visible) { // mwtOnlineDelete.IdPlant.Visible (begin)
        <td @Html.Raw(mwtOnlineDelete.IdPlant.CellAttributes)>
<span id="">
<span @Html.Raw(mwtOnlineDelete.IdPlant.ViewAttributes)>
@Html.Raw(mwtOnlineDelete.IdPlant.GetViewValue())</span>
</span></td>
} @* mwtOnlineDelete.IdPlant.Visible (end) *@
@if (mwtOnlineDelete.Status.Visible) { // mwtOnlineDelete.Status.Visible (begin)
        <td @Html.Raw(mwtOnlineDelete.Status.CellAttributes)>
<span id="">
<span @Html.Raw(mwtOnlineDelete.Status.ViewAttributes)>
@Html.Raw(mwtOnlineDelete.Status.GetViewValue())</span>
</span></td>
} @* mwtOnlineDelete.Status.Visible (end) *@
@if (mwtOnlineDelete.DownloadFile.Visible) { // mwtOnlineDelete.DownloadFile.Visible (begin)
        <td @Html.Raw(mwtOnlineDelete.DownloadFile.CellAttributes)>
<span id="">
<span @Html.Raw(mwtOnlineDelete.DownloadFile.ViewAttributes)>
@Html.Raw(mwtOnlineDelete.DownloadFile.GetViewValue())</span>
</span></td>
} @* mwtOnlineDelete.DownloadFile.Visible (end) *@
@if (mwtOnlineDelete.CreatedBy.Visible) { // mwtOnlineDelete.CreatedBy.Visible (begin)
        <td @Html.Raw(mwtOnlineDelete.CreatedBy.CellAttributes)>
<span id="">
<span @Html.Raw(mwtOnlineDelete.CreatedBy.ViewAttributes)>
@Html.Raw(mwtOnlineDelete.CreatedBy.GetViewValue())</span>
</span></td>
} @* mwtOnlineDelete.CreatedBy.Visible (end) *@
@if (mwtOnlineDelete.CreatedDate.Visible) { // mwtOnlineDelete.CreatedDate.Visible (begin)
        <td @Html.Raw(mwtOnlineDelete.CreatedDate.CellAttributes)>
<span id="">
<span @Html.Raw(mwtOnlineDelete.CreatedDate.ViewAttributes)>
@Html.Raw(mwtOnlineDelete.CreatedDate.GetViewValue())</span>
</span></td>
} @* mwtOnlineDelete.CreatedDate.Visible (end) *@
@if (mwtOnlineDelete.LastUpdatedBy.Visible) { // mwtOnlineDelete.LastUpdatedBy.Visible (begin)
        <td @Html.Raw(mwtOnlineDelete.LastUpdatedBy.CellAttributes)>
<span id="">
<span @Html.Raw(mwtOnlineDelete.LastUpdatedBy.ViewAttributes)>
@Html.Raw(mwtOnlineDelete.LastUpdatedBy.GetViewValue())</span>
</span></td>
} @* mwtOnlineDelete.LastUpdatedBy.Visible (end) *@
@if (mwtOnlineDelete.LastUpdatedDate.Visible) { // mwtOnlineDelete.LastUpdatedDate.Visible (begin)
        <td @Html.Raw(mwtOnlineDelete.LastUpdatedDate.CellAttributes)>
<span id="">
<span @Html.Raw(mwtOnlineDelete.LastUpdatedDate.ViewAttributes)>
@Html.Raw(mwtOnlineDelete.LastUpdatedDate.GetViewValue())</span>
</span></td>
} @* mwtOnlineDelete.LastUpdatedDate.Visible (end) *@
@if (mwtOnlineDelete.CompletedBy.Visible) { // mwtOnlineDelete.CompletedBy.Visible (begin)
        <td @Html.Raw(mwtOnlineDelete.CompletedBy.CellAttributes)>
<span id="">
<span @Html.Raw(mwtOnlineDelete.CompletedBy.ViewAttributes)>
@Html.Raw(mwtOnlineDelete.CompletedBy.GetViewValue())</span>
</span></td>
} @* mwtOnlineDelete.CompletedBy.Visible (end) *@
@if (mwtOnlineDelete.CompletedDate.Visible) { // mwtOnlineDelete.CompletedDate.Visible (begin)
        <td @Html.Raw(mwtOnlineDelete.CompletedDate.CellAttributes)>
<span id="">
<span @Html.Raw(mwtOnlineDelete.CompletedDate.ViewAttributes)>
@Html.Raw(mwtOnlineDelete.CompletedDate.GetViewValue())</span>
</span></td>
} @* mwtOnlineDelete.CompletedDate.Visible (end) *@
    </tr>
}
@{ mwtOnlineDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(mwtOnlineDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@mwtOnlineDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
