@{
    // View
    View = this;

    // Check action result
    if (mwtOnlineDetailEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = mwtOnlineDetailEdit.UseLayout ? "_Layout" : "";
}
@mwtOnlineDetailEdit.ShowPageHeader()
@mwtOnlineDetailEdit.ShowMessages()
<main class="edit">
<form name="fMWTOnlineDetailedit" id="fMWTOnlineDetailedit" class="@(mwtOnlineDetailEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(mwtOnlineDetailEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { MWTOnlineDetail: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fMWTOnlineDetailedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fMWTOnlineDetailedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["Id", [fields.Id.visible && fields.Id.required ? ew.Validators.required(fields.Id.caption) : null], fields.Id.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["Penjelasan", [fields.Penjelasan.visible && fields.Penjelasan.required ? ew.Validators.required(fields.Penjelasan.caption) : null], fields.Penjelasan.isInvalid],
            ["UploadEvidence", [fields.UploadEvidence.visible && fields.UploadEvidence.required ? ew.Validators.required(fields.UploadEvidence.caption) : null], fields.UploadEvidence.isInvalid],
            ["CreatedDate", [fields.CreatedDate.visible && fields.CreatedDate.required ? ew.Validators.required(fields.CreatedDate.caption) : null, ew.Validators.datetime(fields.CreatedDate.clientFormatPattern)], fields.CreatedDate.isInvalid],
            ["CreatedBy", [fields.CreatedBy.visible && fields.CreatedBy.required ? ew.Validators.required(fields.CreatedBy.caption) : null], fields.CreatedBy.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["LastUpdatedDate", [fields.LastUpdatedDate.visible && fields.LastUpdatedDate.required ? ew.Validators.required(fields.LastUpdatedDate.caption) : null, ew.Validators.datetime(fields.LastUpdatedDate.clientFormatPattern)], fields.LastUpdatedDate.isInvalid],
            ["StatusEmail", [fields.StatusEmail.visible && fields.StatusEmail.required ? ew.Validators.required(fields.StatusEmail.caption) : null], fields.StatusEmail.isInvalid],
            ["FileType", [fields.FileType.visible && fields.FileType.required ? ew.Validators.required(fields.FileType.caption) : null], fields.FileType.isInvalid],
            ["OriginalFileName", [fields.OriginalFileName.visible && fields.OriginalFileName.required ? ew.Validators.required(fields.OriginalFileName.caption) : null], fields.OriginalFileName.isInvalid],
            ["Flag", [fields.Flag.visible && fields.Flag.required ? ew.Validators.required(fields.Flag.caption) : null], fields.Flag.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(mwtOnlineDetailEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(mwtOnlineDetailEdit.OldKeyName)" value="@Html.Raw(mwtOnlineDetailEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (mwtOnlineDetailEdit.Id.Visible) { // mwtOnlineDetailEdit.Id.Visible (begin)
    <div id="r_Id" @Html.Raw(mwtOnlineDetailEdit.Id.RowAttributes)>
        <label id="elh_MWTOnlineDetail_Id" class="@(mwtOnlineDetailEdit.LeftColumnClass)">@Html.Raw(mwtOnlineDetailEdit.Id.Caption)@Html.Raw(mwtOnlineDetailEdit.Id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mwtOnlineDetailEdit.RightColumnClass)"><div @Html.Raw(mwtOnlineDetailEdit.Id.CellAttributes)>
<span id="el_MWTOnlineDetail_Id">
<span @Html.Raw(mwtOnlineDetailEdit.Id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(mwtOnlineDetailEdit.Id.EditValue)))"></span>
<input type="hidden" data-table="MWTOnlineDetail" data-field="x_Id" data-hidden="1" name="x_Id" id="x_Id" value="@Html.Raw(HtmlEncode(mwtOnlineDetailEdit.Id.CurrentValue))">
</span>
</div></div>
    </div>
} @* mwtOnlineDetailEdit.Id.Visible (end) *@
@if (mwtOnlineDetailEdit.NoReferensi.Visible) { // mwtOnlineDetailEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(mwtOnlineDetailEdit.NoReferensi.RowAttributes)>
        <label id="elh_MWTOnlineDetail_NoReferensi" for="x_NoReferensi" class="@(mwtOnlineDetailEdit.LeftColumnClass)">@Html.Raw(mwtOnlineDetailEdit.NoReferensi.Caption)@Html.Raw(mwtOnlineDetailEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mwtOnlineDetailEdit.RightColumnClass)"><div @Html.Raw(mwtOnlineDetailEdit.NoReferensi.CellAttributes)>
<span id="el_MWTOnlineDetail_NoReferensi">
<input type="@(mwtOnlineDetailEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="MWTOnlineDetail" data-field="x_NoReferensi" value="@Html.Raw(mwtOnlineDetailEdit.NoReferensi.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(mwtOnlineDetailEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(mwtOnlineDetailEdit.NoReferensi.FormatPattern)"@Html.Raw(mwtOnlineDetailEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(mwtOnlineDetailEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mwtOnlineDetailEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mwtOnlineDetailEdit.NoReferensi.Visible (end) *@
@if (mwtOnlineDetailEdit.Penjelasan.Visible) { // mwtOnlineDetailEdit.Penjelasan.Visible (begin)
    <div id="r_Penjelasan" @Html.Raw(mwtOnlineDetailEdit.Penjelasan.RowAttributes)>
        <label id="elh_MWTOnlineDetail_Penjelasan" for="x_Penjelasan" class="@(mwtOnlineDetailEdit.LeftColumnClass)">@Html.Raw(mwtOnlineDetailEdit.Penjelasan.Caption)@Html.Raw(mwtOnlineDetailEdit.Penjelasan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mwtOnlineDetailEdit.RightColumnClass)"><div @Html.Raw(mwtOnlineDetailEdit.Penjelasan.CellAttributes)>
<span id="el_MWTOnlineDetail_Penjelasan">
<textarea data-table="MWTOnlineDetail" data-field="x_Penjelasan" name="x_Penjelasan" id="x_Penjelasan" cols="35" rows="4" placeholder="@Html.Raw(HtmlEncode(mwtOnlineDetailEdit.Penjelasan.PlaceHolder))"@Html.Raw(mwtOnlineDetailEdit.Penjelasan.EditAttributes) aria-describedby="x_Penjelasan_help">@(mwtOnlineDetailEdit.Penjelasan.EditValue)</textarea>
@Html.Raw(mwtOnlineDetailEdit.Penjelasan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mwtOnlineDetailEdit.Penjelasan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mwtOnlineDetailEdit.Penjelasan.Visible (end) *@
@if (mwtOnlineDetailEdit.UploadEvidence.Visible) { // mwtOnlineDetailEdit.UploadEvidence.Visible (begin)
    <div id="r_UploadEvidence" @Html.Raw(mwtOnlineDetailEdit.UploadEvidence.RowAttributes)>
        <label id="elh_MWTOnlineDetail_UploadEvidence" for="x_UploadEvidence" class="@(mwtOnlineDetailEdit.LeftColumnClass)">@Html.Raw(mwtOnlineDetailEdit.UploadEvidence.Caption)@Html.Raw(mwtOnlineDetailEdit.UploadEvidence.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mwtOnlineDetailEdit.RightColumnClass)"><div @Html.Raw(mwtOnlineDetailEdit.UploadEvidence.CellAttributes)>
<span id="el_MWTOnlineDetail_UploadEvidence">
<input type="@(mwtOnlineDetailEdit.UploadEvidence.InputTextType)" name="x_UploadEvidence" id="x_UploadEvidence" data-table="MWTOnlineDetail" data-field="x_UploadEvidence" value="@Html.Raw(mwtOnlineDetailEdit.UploadEvidence.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(mwtOnlineDetailEdit.UploadEvidence.PlaceHolder))" data-format-pattern="@(mwtOnlineDetailEdit.UploadEvidence.FormatPattern)"@Html.Raw(mwtOnlineDetailEdit.UploadEvidence.EditAttributes) aria-describedby="x_UploadEvidence_help">
@Html.Raw(mwtOnlineDetailEdit.UploadEvidence.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mwtOnlineDetailEdit.UploadEvidence.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mwtOnlineDetailEdit.UploadEvidence.Visible (end) *@
@if (mwtOnlineDetailEdit.CreatedDate.Visible) { // mwtOnlineDetailEdit.CreatedDate.Visible (begin)
    <div id="r_CreatedDate" @Html.Raw(mwtOnlineDetailEdit.CreatedDate.RowAttributes)>
        <label id="elh_MWTOnlineDetail_CreatedDate" for="x_CreatedDate" class="@(mwtOnlineDetailEdit.LeftColumnClass)">@Html.Raw(mwtOnlineDetailEdit.CreatedDate.Caption)@Html.Raw(mwtOnlineDetailEdit.CreatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mwtOnlineDetailEdit.RightColumnClass)"><div @Html.Raw(mwtOnlineDetailEdit.CreatedDate.CellAttributes)>
<span id="el_MWTOnlineDetail_CreatedDate">
<input type="@(mwtOnlineDetailEdit.CreatedDate.InputTextType)" name="x_CreatedDate" id="x_CreatedDate" data-table="MWTOnlineDetail" data-field="x_CreatedDate" value="@Html.Raw(mwtOnlineDetailEdit.CreatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(mwtOnlineDetailEdit.CreatedDate.PlaceHolder))" data-format-pattern="@(mwtOnlineDetailEdit.CreatedDate.FormatPattern)"@Html.Raw(mwtOnlineDetailEdit.CreatedDate.EditAttributes) aria-describedby="x_CreatedDate_help">
@Html.Raw(mwtOnlineDetailEdit.CreatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mwtOnlineDetailEdit.CreatedDate.GetErrorMessage())</div>
@if (!mwtOnlineDetailEdit.CreatedDate.ReadOnly && !mwtOnlineDetailEdit.CreatedDate.Disabled && !mwtOnlineDetailEdit.CreatedDate.EditAttrs.Is("readonly") && !mwtOnlineDetailEdit.CreatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fMWTOnlineDetailedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fMWTOnlineDetailedit", "x_CreatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* mwtOnlineDetailEdit.CreatedDate.Visible (end) *@
@if (mwtOnlineDetailEdit.CreatedBy.Visible) { // mwtOnlineDetailEdit.CreatedBy.Visible (begin)
    <div id="r_CreatedBy" @Html.Raw(mwtOnlineDetailEdit.CreatedBy.RowAttributes)>
        <label id="elh_MWTOnlineDetail_CreatedBy" for="x_CreatedBy" class="@(mwtOnlineDetailEdit.LeftColumnClass)">@Html.Raw(mwtOnlineDetailEdit.CreatedBy.Caption)@Html.Raw(mwtOnlineDetailEdit.CreatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mwtOnlineDetailEdit.RightColumnClass)"><div @Html.Raw(mwtOnlineDetailEdit.CreatedBy.CellAttributes)>
<span id="el_MWTOnlineDetail_CreatedBy">
<input type="@(mwtOnlineDetailEdit.CreatedBy.InputTextType)" name="x_CreatedBy" id="x_CreatedBy" data-table="MWTOnlineDetail" data-field="x_CreatedBy" value="@Html.Raw(mwtOnlineDetailEdit.CreatedBy.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(mwtOnlineDetailEdit.CreatedBy.PlaceHolder))" data-format-pattern="@(mwtOnlineDetailEdit.CreatedBy.FormatPattern)"@Html.Raw(mwtOnlineDetailEdit.CreatedBy.EditAttributes) aria-describedby="x_CreatedBy_help">
@Html.Raw(mwtOnlineDetailEdit.CreatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mwtOnlineDetailEdit.CreatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mwtOnlineDetailEdit.CreatedBy.Visible (end) *@
@if (mwtOnlineDetailEdit.LastUpdatedBy.Visible) { // mwtOnlineDetailEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(mwtOnlineDetailEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_MWTOnlineDetail_LastUpdatedBy" for="x_LastUpdatedBy" class="@(mwtOnlineDetailEdit.LeftColumnClass)">@Html.Raw(mwtOnlineDetailEdit.LastUpdatedBy.Caption)@Html.Raw(mwtOnlineDetailEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mwtOnlineDetailEdit.RightColumnClass)"><div @Html.Raw(mwtOnlineDetailEdit.LastUpdatedBy.CellAttributes)>
<span id="el_MWTOnlineDetail_LastUpdatedBy">
<input type="@(mwtOnlineDetailEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="MWTOnlineDetail" data-field="x_LastUpdatedBy" value="@Html.Raw(mwtOnlineDetailEdit.LastUpdatedBy.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(mwtOnlineDetailEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(mwtOnlineDetailEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(mwtOnlineDetailEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(mwtOnlineDetailEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mwtOnlineDetailEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mwtOnlineDetailEdit.LastUpdatedBy.Visible (end) *@
@if (mwtOnlineDetailEdit.LastUpdatedDate.Visible) { // mwtOnlineDetailEdit.LastUpdatedDate.Visible (begin)
    <div id="r_LastUpdatedDate" @Html.Raw(mwtOnlineDetailEdit.LastUpdatedDate.RowAttributes)>
        <label id="elh_MWTOnlineDetail_LastUpdatedDate" for="x_LastUpdatedDate" class="@(mwtOnlineDetailEdit.LeftColumnClass)">@Html.Raw(mwtOnlineDetailEdit.LastUpdatedDate.Caption)@Html.Raw(mwtOnlineDetailEdit.LastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mwtOnlineDetailEdit.RightColumnClass)"><div @Html.Raw(mwtOnlineDetailEdit.LastUpdatedDate.CellAttributes)>
<span id="el_MWTOnlineDetail_LastUpdatedDate">
<input type="@(mwtOnlineDetailEdit.LastUpdatedDate.InputTextType)" name="x_LastUpdatedDate" id="x_LastUpdatedDate" data-table="MWTOnlineDetail" data-field="x_LastUpdatedDate" value="@Html.Raw(mwtOnlineDetailEdit.LastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(mwtOnlineDetailEdit.LastUpdatedDate.PlaceHolder))" data-format-pattern="@(mwtOnlineDetailEdit.LastUpdatedDate.FormatPattern)"@Html.Raw(mwtOnlineDetailEdit.LastUpdatedDate.EditAttributes) aria-describedby="x_LastUpdatedDate_help">
@Html.Raw(mwtOnlineDetailEdit.LastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mwtOnlineDetailEdit.LastUpdatedDate.GetErrorMessage())</div>
@if (!mwtOnlineDetailEdit.LastUpdatedDate.ReadOnly && !mwtOnlineDetailEdit.LastUpdatedDate.Disabled && !mwtOnlineDetailEdit.LastUpdatedDate.EditAttrs.Is("readonly") && !mwtOnlineDetailEdit.LastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fMWTOnlineDetailedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fMWTOnlineDetailedit", "x_LastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* mwtOnlineDetailEdit.LastUpdatedDate.Visible (end) *@
@if (mwtOnlineDetailEdit.StatusEmail.Visible) { // mwtOnlineDetailEdit.StatusEmail.Visible (begin)
    <div id="r_StatusEmail" @Html.Raw(mwtOnlineDetailEdit.StatusEmail.RowAttributes)>
        <label id="elh_MWTOnlineDetail_StatusEmail" for="x_StatusEmail" class="@(mwtOnlineDetailEdit.LeftColumnClass)">@Html.Raw(mwtOnlineDetailEdit.StatusEmail.Caption)@Html.Raw(mwtOnlineDetailEdit.StatusEmail.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mwtOnlineDetailEdit.RightColumnClass)"><div @Html.Raw(mwtOnlineDetailEdit.StatusEmail.CellAttributes)>
<span id="el_MWTOnlineDetail_StatusEmail">
<input type="@(mwtOnlineDetailEdit.StatusEmail.InputTextType)" name="x_StatusEmail" id="x_StatusEmail" data-table="MWTOnlineDetail" data-field="x_StatusEmail" value="@Html.Raw(mwtOnlineDetailEdit.StatusEmail.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(mwtOnlineDetailEdit.StatusEmail.PlaceHolder))" data-format-pattern="@(mwtOnlineDetailEdit.StatusEmail.FormatPattern)"@Html.Raw(mwtOnlineDetailEdit.StatusEmail.EditAttributes) aria-describedby="x_StatusEmail_help">
@Html.Raw(mwtOnlineDetailEdit.StatusEmail.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mwtOnlineDetailEdit.StatusEmail.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mwtOnlineDetailEdit.StatusEmail.Visible (end) *@
@if (mwtOnlineDetailEdit.FileType.Visible) { // mwtOnlineDetailEdit.FileType.Visible (begin)
    <div id="r_FileType" @Html.Raw(mwtOnlineDetailEdit.FileType.RowAttributes)>
        <label id="elh_MWTOnlineDetail_FileType" for="x_FileType" class="@(mwtOnlineDetailEdit.LeftColumnClass)">@Html.Raw(mwtOnlineDetailEdit.FileType.Caption)@Html.Raw(mwtOnlineDetailEdit.FileType.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mwtOnlineDetailEdit.RightColumnClass)"><div @Html.Raw(mwtOnlineDetailEdit.FileType.CellAttributes)>
<span id="el_MWTOnlineDetail_FileType">
<input type="@(mwtOnlineDetailEdit.FileType.InputTextType)" name="x_FileType" id="x_FileType" data-table="MWTOnlineDetail" data-field="x_FileType" value="@Html.Raw(mwtOnlineDetailEdit.FileType.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(mwtOnlineDetailEdit.FileType.PlaceHolder))" data-format-pattern="@(mwtOnlineDetailEdit.FileType.FormatPattern)"@Html.Raw(mwtOnlineDetailEdit.FileType.EditAttributes) aria-describedby="x_FileType_help">
@Html.Raw(mwtOnlineDetailEdit.FileType.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mwtOnlineDetailEdit.FileType.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mwtOnlineDetailEdit.FileType.Visible (end) *@
@if (mwtOnlineDetailEdit.OriginalFileName.Visible) { // mwtOnlineDetailEdit.OriginalFileName.Visible (begin)
    <div id="r_OriginalFileName" @Html.Raw(mwtOnlineDetailEdit.OriginalFileName.RowAttributes)>
        <label id="elh_MWTOnlineDetail_OriginalFileName" for="x_OriginalFileName" class="@(mwtOnlineDetailEdit.LeftColumnClass)">@Html.Raw(mwtOnlineDetailEdit.OriginalFileName.Caption)@Html.Raw(mwtOnlineDetailEdit.OriginalFileName.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mwtOnlineDetailEdit.RightColumnClass)"><div @Html.Raw(mwtOnlineDetailEdit.OriginalFileName.CellAttributes)>
<span id="el_MWTOnlineDetail_OriginalFileName">
<input type="@(mwtOnlineDetailEdit.OriginalFileName.InputTextType)" name="x_OriginalFileName" id="x_OriginalFileName" data-table="MWTOnlineDetail" data-field="x_OriginalFileName" value="@Html.Raw(mwtOnlineDetailEdit.OriginalFileName.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(mwtOnlineDetailEdit.OriginalFileName.PlaceHolder))" data-format-pattern="@(mwtOnlineDetailEdit.OriginalFileName.FormatPattern)"@Html.Raw(mwtOnlineDetailEdit.OriginalFileName.EditAttributes) aria-describedby="x_OriginalFileName_help">
@Html.Raw(mwtOnlineDetailEdit.OriginalFileName.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mwtOnlineDetailEdit.OriginalFileName.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mwtOnlineDetailEdit.OriginalFileName.Visible (end) *@
@if (mwtOnlineDetailEdit.Flag.Visible) { // mwtOnlineDetailEdit.Flag.Visible (begin)
    <div id="r_Flag" @Html.Raw(mwtOnlineDetailEdit.Flag.RowAttributes)>
        <label id="elh_MWTOnlineDetail_Flag" for="x_Flag" class="@(mwtOnlineDetailEdit.LeftColumnClass)">@Html.Raw(mwtOnlineDetailEdit.Flag.Caption)@Html.Raw(mwtOnlineDetailEdit.Flag.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(mwtOnlineDetailEdit.RightColumnClass)"><div @Html.Raw(mwtOnlineDetailEdit.Flag.CellAttributes)>
<span id="el_MWTOnlineDetail_Flag">
<input type="@(mwtOnlineDetailEdit.Flag.InputTextType)" name="x_Flag" id="x_Flag" data-table="MWTOnlineDetail" data-field="x_Flag" value="@Html.Raw(mwtOnlineDetailEdit.Flag.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(mwtOnlineDetailEdit.Flag.PlaceHolder))" data-format-pattern="@(mwtOnlineDetailEdit.Flag.FormatPattern)"@Html.Raw(mwtOnlineDetailEdit.Flag.EditAttributes) aria-describedby="x_Flag_help">
@Html.Raw(mwtOnlineDetailEdit.Flag.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(mwtOnlineDetailEdit.Flag.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* mwtOnlineDetailEdit.Flag.Visible (end) *@
</div><!-- /page* -->
@{ mwtOnlineDetailEdit.CloseRecordset(); }
@Html.Raw(mwtOnlineDetailEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(mwtOnlineDetailEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fMWTOnlineDetailedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fMWTOnlineDetailedit" data-href="@AppPath(mwtOnlineDetailEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(mwtOnlineDetailEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@mwtOnlineDetailEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("MWTOnlineDetail");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
