@{
    // View
    View = this;

    // Check action result
    if (pengujianSampleLainnyaEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = pengujianSampleLainnyaEdit.UseLayout ? "_Layout" : "";
}
@pengujianSampleLainnyaEdit.ShowPageHeader()
@pengujianSampleLainnyaEdit.ShowMessages()
<main class="edit">
<form name="fPengujianSampleLainnyaedit" id="fPengujianSampleLainnyaedit" class="@(pengujianSampleLainnyaEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(pengujianSampleLainnyaEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { PengujianSampleLainnya: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fPengujianSampleLainnyaedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fPengujianSampleLainnyaedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["NomorPengujianSampelLainnya", [fields.NomorPengujianSampelLainnya.visible && fields.NomorPengujianSampelLainnya.required ? ew.Validators.required(fields.NomorPengujianSampelLainnya.caption) : null], fields.NomorPengujianSampelLainnya.isInvalid],
            ["idPlant", [fields.idPlant.visible && fields.idPlant.required ? ew.Validators.required(fields.idPlant.caption) : null], fields.idPlant.isInvalid],
            ["Tanggal", [fields.Tanggal.visible && fields.Tanggal.required ? ew.Validators.required(fields.Tanggal.caption) : null], fields.Tanggal.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["Keterangan", [fields.Keterangan.visible && fields.Keterangan.required ? ew.Validators.required(fields.Keterangan.caption) : null], fields.Keterangan.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(pengujianSampleLainnyaEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(pengujianSampleLainnyaEdit.OldKeyName)" value="@Html.Raw(pengujianSampleLainnyaEdit.OldKey)">
<div class="ew-edit-div d-none"><!-- page* -->
@if (pengujianSampleLainnyaEdit.NomorPengujianSampelLainnya.Visible) { // pengujianSampleLainnyaEdit.NomorPengujianSampelLainnya.Visible (begin)
    <div id="r_NomorPengujianSampelLainnya" @Html.Raw(pengujianSampleLainnyaEdit.NomorPengujianSampelLainnya.RowAttributes)>
        <label id="elh_PengujianSampleLainnya_NomorPengujianSampelLainnya" for="x_NomorPengujianSampelLainnya" class="@(pengujianSampleLainnyaEdit.LeftColumnClass)"><template id="tpc_PengujianSampleLainnya_NomorPengujianSampelLainnya">@Html.Raw(pengujianSampleLainnyaEdit.NomorPengujianSampelLainnya.Caption)@Html.Raw(pengujianSampleLainnyaEdit.NomorPengujianSampelLainnya.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(pengujianSampleLainnyaEdit.RightColumnClass)"><div @Html.Raw(pengujianSampleLainnyaEdit.NomorPengujianSampelLainnya.CellAttributes)>
<template id="tpx_PengujianSampleLainnya_NomorPengujianSampelLainnya"><span id="el_PengujianSampleLainnya_NomorPengujianSampelLainnya">
<span @Html.Raw(pengujianSampleLainnyaEdit.NomorPengujianSampelLainnya.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(pengujianSampleLainnyaEdit.NomorPengujianSampelLainnya.EditValue)))"></span>
<input type="hidden" data-table="PengujianSampleLainnya" data-field="x_NomorPengujianSampelLainnya" data-hidden="1" name="x_NomorPengujianSampelLainnya" id="x_NomorPengujianSampelLainnya" value="@Html.Raw(HtmlEncode(pengujianSampleLainnyaEdit.NomorPengujianSampelLainnya.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* pengujianSampleLainnyaEdit.NomorPengujianSampelLainnya.Visible (end) *@
@if (pengujianSampleLainnyaEdit.idPlant.Visible) { // pengujianSampleLainnyaEdit.idPlant.Visible (begin)
    <div id="r_idPlant" @Html.Raw(pengujianSampleLainnyaEdit.idPlant.RowAttributes)>
        <label id="elh_PengujianSampleLainnya_idPlant" for="x_idPlant" class="@(pengujianSampleLainnyaEdit.LeftColumnClass)"><template id="tpc_PengujianSampleLainnya_idPlant">@Html.Raw(pengujianSampleLainnyaEdit.idPlant.Caption)@Html.Raw(pengujianSampleLainnyaEdit.idPlant.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(pengujianSampleLainnyaEdit.RightColumnClass)"><div @Html.Raw(pengujianSampleLainnyaEdit.idPlant.CellAttributes)>
<template id="tpx_PengujianSampleLainnya_idPlant"><span id="el_PengujianSampleLainnya_idPlant">
<span @Html.Raw(pengujianSampleLainnyaEdit.idPlant.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(pengujianSampleLainnyaEdit.idPlant.DisplayValue(pengujianSampleLainnyaEdit.idPlant.EditValue))</span></span>
<input type="hidden" data-table="PengujianSampleLainnya" data-field="x_idPlant" data-hidden="1" name="x_idPlant" id="x_idPlant" value="@Html.Raw(HtmlEncode(pengujianSampleLainnyaEdit.idPlant.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* pengujianSampleLainnyaEdit.idPlant.Visible (end) *@
@if (pengujianSampleLainnyaEdit.Tanggal.Visible) { // pengujianSampleLainnyaEdit.Tanggal.Visible (begin)
    <div id="r_Tanggal" @Html.Raw(pengujianSampleLainnyaEdit.Tanggal.RowAttributes)>
        <label id="elh_PengujianSampleLainnya_Tanggal" for="x_Tanggal" class="@(pengujianSampleLainnyaEdit.LeftColumnClass)"><template id="tpc_PengujianSampleLainnya_Tanggal">@Html.Raw(pengujianSampleLainnyaEdit.Tanggal.Caption)@Html.Raw(pengujianSampleLainnyaEdit.Tanggal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(pengujianSampleLainnyaEdit.RightColumnClass)"><div @Html.Raw(pengujianSampleLainnyaEdit.Tanggal.CellAttributes)>
<template id="tpx_PengujianSampleLainnya_Tanggal"><span id="el_PengujianSampleLainnya_Tanggal">
<span @Html.Raw(pengujianSampleLainnyaEdit.Tanggal.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(pengujianSampleLainnyaEdit.Tanggal.EditValue)))"></span>
<input type="hidden" data-table="PengujianSampleLainnya" data-field="x_Tanggal" data-hidden="1" name="x_Tanggal" id="x_Tanggal" value="@Html.Raw(HtmlEncode(pengujianSampleLainnyaEdit.Tanggal.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* pengujianSampleLainnyaEdit.Tanggal.Visible (end) *@
@if (pengujianSampleLainnyaEdit.Produk.Visible) { // pengujianSampleLainnyaEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(pengujianSampleLainnyaEdit.Produk.RowAttributes)>
        <label id="elh_PengujianSampleLainnya_Produk" for="x_Produk" class="@(pengujianSampleLainnyaEdit.LeftColumnClass)"><template id="tpc_PengujianSampleLainnya_Produk">@Html.Raw(pengujianSampleLainnyaEdit.Produk.Caption)@Html.Raw(pengujianSampleLainnyaEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(pengujianSampleLainnyaEdit.RightColumnClass)"><div @Html.Raw(pengujianSampleLainnyaEdit.Produk.CellAttributes)>
<template id="tpx_PengujianSampleLainnya_Produk"><span id="el_PengujianSampleLainnya_Produk">
<span @Html.Raw(pengujianSampleLainnyaEdit.Produk.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(pengujianSampleLainnyaEdit.Produk.DisplayValue(pengujianSampleLainnyaEdit.Produk.EditValue))</span></span>
<input type="hidden" data-table="PengujianSampleLainnya" data-field="x_Produk" data-hidden="1" name="x_Produk" id="x_Produk" value="@Html.Raw(HtmlEncode(pengujianSampleLainnyaEdit.Produk.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* pengujianSampleLainnyaEdit.Produk.Visible (end) *@
@if (pengujianSampleLainnyaEdit.Keterangan.Visible) { // pengujianSampleLainnyaEdit.Keterangan.Visible (begin)
    <div id="r_Keterangan" @Html.Raw(pengujianSampleLainnyaEdit.Keterangan.RowAttributes)>
        <label id="elh_PengujianSampleLainnya_Keterangan" for="x_Keterangan" class="@(pengujianSampleLainnyaEdit.LeftColumnClass)"><template id="tpc_PengujianSampleLainnya_Keterangan">@Html.Raw(pengujianSampleLainnyaEdit.Keterangan.Caption)@Html.Raw(pengujianSampleLainnyaEdit.Keterangan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(pengujianSampleLainnyaEdit.RightColumnClass)"><div @Html.Raw(pengujianSampleLainnyaEdit.Keterangan.CellAttributes)>
<template id="tpx_PengujianSampleLainnya_Keterangan"><span id="el_PengujianSampleLainnya_Keterangan">
<span @Html.Raw(pengujianSampleLainnyaEdit.Keterangan.ViewAttributes)>
@Html.Raw(pengujianSampleLainnyaEdit.Keterangan.EditValue)</span>
<input type="hidden" data-table="PengujianSampleLainnya" data-field="x_Keterangan" data-hidden="1" name="x_Keterangan" id="x_Keterangan" value="@Html.Raw(HtmlEncode(pengujianSampleLainnyaEdit.Keterangan.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* pengujianSampleLainnyaEdit.Keterangan.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="PengujianSampleLainnya" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(pengujianSampleLainnyaEdit.id.CurrentValue))">
<div id="tpd_PengujianSampleLainnyaedit" class="ew-custom-template"></div>
<template id="tpm_PengujianSampleLainnyaedit">
<div id="ct_pengujianSampleLainnyaEdit"><div id="r_NomorPengujianSampelLainnya" class="row">
    <label for="x_NomorPengujianSampelLainnya" class="col-sm-2 col-form-label">@Html.Raw(pengujianSampleLainnyaEdit.NomorPengujianSampelLainnya.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PengujianSampleLainnya_NomorPengujianSampelLainnya"></slot></div>
</div>
<div id="r_idPlant" class="row">
    <label for="x_idPlant" class="col-sm-2 col-form-label">@Html.Raw(pengujianSampleLainnyaEdit.idPlant.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PengujianSampleLainnya_idPlant"></slot></div>
</div>
<div id="r_Tanggal" class="row">
    <label for="x_Tanggal" class="col-sm-2 col-form-label">@Html.Raw(pengujianSampleLainnyaEdit.Tanggal.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PengujianSampleLainnya_Tanggal"></slot></div>
</div>
<div id="r_Produk" class="row">
    <label for="x_Produk" class="col-sm-2 col-form-label">@Html.Raw(pengujianSampleLainnyaEdit.Produk.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PengujianSampleLainnya_Produk"></slot></div>
</div>
<!-- custom field hasil pengujian -->
<div id="r_cstm_Produk" class="row">
    <label for="x_cstm_Produk" class="col-sm-2 col-form-label">Hasil Pengujian</label>
    <div class="col-sm-10">
        <button type="button" class="btn btn-primary btn-download" data-id="@pengujianSampleLainnyaEdit.id.CurrentValue">
            <i class="fa-solid fa-download me-2"></i>
            Download
        </button>
    </div>
</div>
<div id="r_Keterangan" class="row">
    <label for="x_Keterangan" class="col-sm-2 col-form-label">@Html.Raw(pengujianSampleLainnyaEdit.Keterangan.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PengujianSampleLainnya_Keterangan"></slot></div>
</div></div>
</template>
@{ pengujianSampleLainnyaEdit.CloseRecordset(); }
@Html.Raw(pengujianSampleLainnyaEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(pengujianSampleLainnyaEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fPengujianSampleLainnyaedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fPengujianSampleLainnyaedit" data-href="@AppPath(pengujianSampleLainnyaEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(pengujianSampleLainnyaEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
<script class="ew-apply-template">
loadjs.ready(ew.applyTemplateId, function() {
    var $ = jQuery;
    ew.templateData = { rows: @Html.Raw(ConvertToJson(pengujianSampleLainnyaEdit.Rows)) };
    ew.applyTemplate("tpd_PengujianSampleLainnyaedit", "tpm_PengujianSampleLainnyaedit", "PengujianSampleLainnyaedit", "@(pengujianSampleLainnyaEdit.Export)", "PengujianSampleLainnya", ew.templateData.rows[0], @(pengujianSampleLainnyaEdit.IsModal ? "true" : "false"));
    loadjs.done("customtemplate");
});
</script>
</main>
@pengujianSampleLainnyaEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("PengujianSampleLainnya");
});
</script>
<script>
loadjs.ready("load", function() {
    // Startup script
    // Write your table-specific startup script here
    // document.write("page loaded");
    const parentURL = ew.PATH_BASE;
    const showMessage = m => (ew?.alert ? ew.alert(m) : alert(m));
    const showLoadingSafe = () => (typeof showLoading === 'function' ? showLoading() : null);
    const hideLoadingSafe = () => (typeof hideLoading === 'function' ? hideLoading() : null);
    function getFilenamFromDisposition(disposition) {
        if (!disposition) return 'download_file';
        const utf8 = disposition.match(/filename\*\s*=\s*UTF-8''([^;]+)/i);
        if (utf8?.[1]) return decodeURIComponent(utf8[1]);
        const normal = disposition.match(/filename="?([^";]+)"?/i);
        if (normal?.[1]) return decodeURIComponent(normal[1]);
        return 'download_file';
    }
    function downloadBlob(blob, fileName) {
        const url = URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.href = url;
        a.download = fileName || 'download_file';
        document.body.appendChild(a);
        a.click();
        a.remove();
        URL.revokeObjectURL(url);
    }
    async function blobToJson(blob) {
        const text = await blob.text();
        try {
            return JSON.parse(text);
        } catch {
            return null;
        }
    }
    $(document).on('click', '.btn-download', function (e) {
        e.preventDefault();
        const id = $(this).data('id');
        const type = ($(this).data('type') || 'psl').toString().trim().toLowerCase();
        if(!id) return ew.alert('ID dokumen tidak ditemukan.');
        if(!type) return ew.alert('Type tidak ditemukan.');
        $.ajax({
            url: `${parentURL}api/qq/download?id=${encodeURIComponent(id)}&type=${encodeURIComponent(type)}`,
            method: 'GET',
            xhrFields: { responseType: 'blob' },
            beforeSend: showLoadingSafe,
            success: async (blob, _status, xhr) => {
                const ct = (xhr.getResponseHeader('Content-Type') || '').toLowerCase();
                if (ct.includes('application/json')) {
                    const obj = await blobToJson(blob);
                    return showMessage(obj.message || 'Gagal download.');
                }
                const cd = xhr.getResponseHeader('Content-Disposition');
                const fileName = getFilenamFromDisposition(cd);
                downloadBlob(blob, fileName);
                showMessage('Download berhasil!');
            },
            error: async xhr => {
                try {
                    const blob = xhr.response;
                    if (blob instanceof Blob) {
                        const obj = await blobToJson(blob);
                        if (obj?.message) return showMessage(obj.message);
                    }
                } catch {}
                console.error(`Gagal mengunduh file. (${xhr.status} ${xhr.statusText})`);
                return showMessage('Gagal mengunduh file.');
            },
            complete: hideLoadingSafe,
        });
    });
    const apply = () => {
        const saveBtn = document.querySelector('#btn-action');
        const cancelBtn = document.querySelector('#btn-cancel');
        if(!saveBtn || !cancelBtn) return false;
        if (!saveBtn.dataset.iconized) {
            saveBtn.insertAdjacentHTML("afterbegin", '<i class="fas fa-save me-2"></i>');
            saveBtn.dataset.iconized = "1";
        }
        if (!cancelBtn.dataset.iconized) {
            cancelBtn.insertAdjacentHTML("afterbegin", '<i class="fas fa-ban me-2"></i>');
            cancelBtn.dataset.iconized = "1";
        }
        return true;
    };
    if(apply()) return;
});
</script>
