@{
    // View
    View = this;

    // Check action result
    if (pengujianSampleLainnyaView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = pengujianSampleLainnyaView.UseLayout ? "_Layout" : "";
}
@if (!pengujianSampleLainnyaView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @pengujianSampleLainnyaView.ExportOptions.RenderBody()
    @pengujianSampleLainnyaView.OtherOptions.RenderBody()
</div>
}
@pengujianSampleLainnyaView.ShowPageHeader()
@pengujianSampleLainnyaView.ShowMessages()
<main class="view">
<form name="fPengujianSampleLainnyaview" id="fPengujianSampleLainnyaview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!pengujianSampleLainnyaView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(pengujianSampleLainnyaView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { PengujianSampleLainnya: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fPengujianSampleLainnyaview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fPengujianSampleLainnyaview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(pengujianSampleLainnyaView.IsModal)">
<table class="@(pengujianSampleLainnyaView.TableClass)">
@if (pengujianSampleLainnyaView.NomorPengujianSampelLainnya.Visible) { // pengujianSampleLainnyaView.NomorPengujianSampelLainnya.Visible (begin)
    <tr id="r_NomorPengujianSampelLainnya" @Html.Raw(pengujianSampleLainnyaView.NomorPengujianSampelLainnya.RowAttributes)>
        <td class="@(pengujianSampleLainnyaView.TableLeftColumnClass)"><span id="elh_PengujianSampleLainnya_NomorPengujianSampelLainnya">@Html.Raw(pengujianSampleLainnyaView.NomorPengujianSampelLainnya.Caption)</span></td>
        <td data-name="NomorPengujianSampelLainnya" @Html.Raw(pengujianSampleLainnyaView.NomorPengujianSampelLainnya.CellAttributes)>
<span id="el_PengujianSampleLainnya_NomorPengujianSampelLainnya">
<span @Html.Raw(pengujianSampleLainnyaView.NomorPengujianSampelLainnya.ViewAttributes)>
@Html.Raw(pengujianSampleLainnyaView.NomorPengujianSampelLainnya.GetViewValue())</span>
</span></td>
    </tr>
} @* pengujianSampleLainnyaView.NomorPengujianSampelLainnya.Visible (end) *@
@if (pengujianSampleLainnyaView.idPlant.Visible) { // pengujianSampleLainnyaView.idPlant.Visible (begin)
    <tr id="r_idPlant" @Html.Raw(pengujianSampleLainnyaView.idPlant.RowAttributes)>
        <td class="@(pengujianSampleLainnyaView.TableLeftColumnClass)"><span id="elh_PengujianSampleLainnya_idPlant">@Html.Raw(pengujianSampleLainnyaView.idPlant.Caption)</span></td>
        <td data-name="idPlant" @Html.Raw(pengujianSampleLainnyaView.idPlant.CellAttributes)>
<span id="el_PengujianSampleLainnya_idPlant">
<span @Html.Raw(pengujianSampleLainnyaView.idPlant.ViewAttributes)>
@Html.Raw(pengujianSampleLainnyaView.idPlant.GetViewValue())</span>
</span></td>
    </tr>
} @* pengujianSampleLainnyaView.idPlant.Visible (end) *@
@if (pengujianSampleLainnyaView.Tanggal.Visible) { // pengujianSampleLainnyaView.Tanggal.Visible (begin)
    <tr id="r_Tanggal" @Html.Raw(pengujianSampleLainnyaView.Tanggal.RowAttributes)>
        <td class="@(pengujianSampleLainnyaView.TableLeftColumnClass)"><span id="elh_PengujianSampleLainnya_Tanggal">@Html.Raw(pengujianSampleLainnyaView.Tanggal.Caption)</span></td>
        <td data-name="Tanggal" @Html.Raw(pengujianSampleLainnyaView.Tanggal.CellAttributes)>
<span id="el_PengujianSampleLainnya_Tanggal">
<span @Html.Raw(pengujianSampleLainnyaView.Tanggal.ViewAttributes)>
@Html.Raw(pengujianSampleLainnyaView.Tanggal.GetViewValue())</span>
</span></td>
    </tr>
} @* pengujianSampleLainnyaView.Tanggal.Visible (end) *@
@if (pengujianSampleLainnyaView.Produk.Visible) { // pengujianSampleLainnyaView.Produk.Visible (begin)
    <tr id="r_Produk" @Html.Raw(pengujianSampleLainnyaView.Produk.RowAttributes)>
        <td class="@(pengujianSampleLainnyaView.TableLeftColumnClass)"><span id="elh_PengujianSampleLainnya_Produk">@Html.Raw(pengujianSampleLainnyaView.Produk.Caption)</span></td>
        <td data-name="Produk" @Html.Raw(pengujianSampleLainnyaView.Produk.CellAttributes)>
<span id="el_PengujianSampleLainnya_Produk">
<span @Html.Raw(pengujianSampleLainnyaView.Produk.ViewAttributes)>
@Html.Raw(pengujianSampleLainnyaView.Produk.GetViewValue())</span>
</span></td>
    </tr>
} @* pengujianSampleLainnyaView.Produk.Visible (end) *@
@if (pengujianSampleLainnyaView.UploadHasil.Visible) { // pengujianSampleLainnyaView.UploadHasil.Visible (begin)
    <tr id="r_UploadHasil" @Html.Raw(pengujianSampleLainnyaView.UploadHasil.RowAttributes)>
        <td class="@(pengujianSampleLainnyaView.TableLeftColumnClass)"><span id="elh_PengujianSampleLainnya_UploadHasil">@Html.Raw(pengujianSampleLainnyaView.UploadHasil.Caption)</span></td>
        <td data-name="UploadHasil" @Html.Raw(pengujianSampleLainnyaView.UploadHasil.CellAttributes)>
<span id="el_PengujianSampleLainnya_UploadHasil">
<span @Html.Raw(pengujianSampleLainnyaView.UploadHasil.ViewAttributes)>
@Html.Raw(pengujianSampleLainnyaView.UploadHasil.GetViewValue())</span>
</span></td>
    </tr>
} @* pengujianSampleLainnyaView.UploadHasil.Visible (end) *@
@if (pengujianSampleLainnyaView.Keterangan.Visible) { // pengujianSampleLainnyaView.Keterangan.Visible (begin)
    <tr id="r_Keterangan" @Html.Raw(pengujianSampleLainnyaView.Keterangan.RowAttributes)>
        <td class="@(pengujianSampleLainnyaView.TableLeftColumnClass)"><span id="elh_PengujianSampleLainnya_Keterangan">@Html.Raw(pengujianSampleLainnyaView.Keterangan.Caption)</span></td>
        <td data-name="Keterangan" @Html.Raw(pengujianSampleLainnyaView.Keterangan.CellAttributes)>
<span id="el_PengujianSampleLainnya_Keterangan">
<span @Html.Raw(pengujianSampleLainnyaView.Keterangan.ViewAttributes)>
@Html.Raw(pengujianSampleLainnyaView.Keterangan.GetViewValue())</span>
</span></td>
    </tr>
} @* pengujianSampleLainnyaView.Keterangan.Visible (end) *@
@if (pengujianSampleLainnyaView.DibuatOleh.Visible) { // pengujianSampleLainnyaView.DibuatOleh.Visible (begin)
    <tr id="r_DibuatOleh" @Html.Raw(pengujianSampleLainnyaView.DibuatOleh.RowAttributes)>
        <td class="@(pengujianSampleLainnyaView.TableLeftColumnClass)"><span id="elh_PengujianSampleLainnya_DibuatOleh">@Html.Raw(pengujianSampleLainnyaView.DibuatOleh.Caption)</span></td>
        <td data-name="DibuatOleh" @Html.Raw(pengujianSampleLainnyaView.DibuatOleh.CellAttributes)>
<span id="el_PengujianSampleLainnya_DibuatOleh">
<span @Html.Raw(pengujianSampleLainnyaView.DibuatOleh.ViewAttributes)>
@Html.Raw(pengujianSampleLainnyaView.DibuatOleh.GetViewValue())</span>
</span></td>
    </tr>
} @* pengujianSampleLainnyaView.DibuatOleh.Visible (end) *@
@if (pengujianSampleLainnyaView.TanggalDibuat.Visible) { // pengujianSampleLainnyaView.TanggalDibuat.Visible (begin)
    <tr id="r_TanggalDibuat" @Html.Raw(pengujianSampleLainnyaView.TanggalDibuat.RowAttributes)>
        <td class="@(pengujianSampleLainnyaView.TableLeftColumnClass)"><span id="elh_PengujianSampleLainnya_TanggalDibuat">@Html.Raw(pengujianSampleLainnyaView.TanggalDibuat.Caption)</span></td>
        <td data-name="TanggalDibuat" @Html.Raw(pengujianSampleLainnyaView.TanggalDibuat.CellAttributes)>
<span id="el_PengujianSampleLainnya_TanggalDibuat">
<span @Html.Raw(pengujianSampleLainnyaView.TanggalDibuat.ViewAttributes)>
@Html.Raw(pengujianSampleLainnyaView.TanggalDibuat.GetViewValue())</span>
</span></td>
    </tr>
} @* pengujianSampleLainnyaView.TanggalDibuat.Visible (end) *@
@if (pengujianSampleLainnyaView.DiperbaruiOleh.Visible) { // pengujianSampleLainnyaView.DiperbaruiOleh.Visible (begin)
    <tr id="r_DiperbaruiOleh" @Html.Raw(pengujianSampleLainnyaView.DiperbaruiOleh.RowAttributes)>
        <td class="@(pengujianSampleLainnyaView.TableLeftColumnClass)"><span id="elh_PengujianSampleLainnya_DiperbaruiOleh">@Html.Raw(pengujianSampleLainnyaView.DiperbaruiOleh.Caption)</span></td>
        <td data-name="DiperbaruiOleh" @Html.Raw(pengujianSampleLainnyaView.DiperbaruiOleh.CellAttributes)>
<span id="el_PengujianSampleLainnya_DiperbaruiOleh">
<span @Html.Raw(pengujianSampleLainnyaView.DiperbaruiOleh.ViewAttributes)>
@Html.Raw(pengujianSampleLainnyaView.DiperbaruiOleh.GetViewValue())</span>
</span></td>
    </tr>
} @* pengujianSampleLainnyaView.DiperbaruiOleh.Visible (end) *@
@if (pengujianSampleLainnyaView.TanggalDiperbarui.Visible) { // pengujianSampleLainnyaView.TanggalDiperbarui.Visible (begin)
    <tr id="r_TanggalDiperbarui" @Html.Raw(pengujianSampleLainnyaView.TanggalDiperbarui.RowAttributes)>
        <td class="@(pengujianSampleLainnyaView.TableLeftColumnClass)"><span id="elh_PengujianSampleLainnya_TanggalDiperbarui">@Html.Raw(pengujianSampleLainnyaView.TanggalDiperbarui.Caption)</span></td>
        <td data-name="TanggalDiperbarui" @Html.Raw(pengujianSampleLainnyaView.TanggalDiperbarui.CellAttributes)>
<span id="el_PengujianSampleLainnya_TanggalDiperbarui">
<span @Html.Raw(pengujianSampleLainnyaView.TanggalDiperbarui.ViewAttributes)>
@Html.Raw(pengujianSampleLainnyaView.TanggalDiperbarui.GetViewValue())</span>
</span></td>
    </tr>
} @* pengujianSampleLainnyaView.TanggalDiperbarui.Visible (end) *@
</table>
@{ pengujianSampleLainnyaView.CloseRecordset(); }
</form>
</main>
@pengujianSampleLainnyaView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!pengujianSampleLainnyaView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
