@{
    // View
    View = this;

    // Check action result
    if (penimbunanPenyaluranAdd.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = penimbunanPenyaluranAdd.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(penimbunanPenyaluranAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { PenimbunanPenyaluran: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fPenimbunanPenyaluranadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fPenimbunanPenyaluranadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["NomorPenimbunanPenyaluran", [fields.NomorPenimbunanPenyaluran.visible && fields.NomorPenimbunanPenyaluran.required ? ew.Validators.required(fields.NomorPenimbunanPenyaluran.caption) : null], fields.NomorPenimbunanPenyaluran.isInvalid],
            ["IdTemplate", [fields.IdTemplate.visible && fields.IdTemplate.required ? ew.Validators.required(fields.IdTemplate.caption) : null], fields.IdTemplate.isInvalid],
            ["LookupPlant", [fields.LookupPlant.visible && fields.LookupPlant.required ? ew.Validators.required(fields.LookupPlant.caption) : null], fields.LookupPlant.isInvalid],
            ["Plant", [fields.Plant.visible && fields.Plant.required ? ew.Validators.required(fields.Plant.caption) : null], fields.Plant.isInvalid],
            ["TipeProdukSTS", [fields.TipeProdukSTS.visible && fields.TipeProdukSTS.required ? ew.Validators.required(fields.TipeProdukSTS.caption) : null], fields.TipeProdukSTS.isInvalid],
            ["TipePenyaluran", [fields.TipePenyaluran.visible && fields.TipePenyaluran.required ? ew.Validators.required(fields.TipePenyaluran.caption) : null], fields.TipePenyaluran.isInvalid],
            ["JenisProduk", [fields.JenisProduk.visible && fields.JenisProduk.required ? ew.Validators.required(fields.JenisProduk.caption) : null], fields.JenisProduk.isInvalid],
            ["IdModa", [fields.IdModa.visible && fields.IdModa.required ? ew.Validators.required(fields.IdModa.caption) : null], fields.IdModa.isInvalid],
            ["IdTangki", [fields.IdTangki.visible && fields.IdTangki.required ? ew.Validators.required(fields.IdTangki.caption) : null], fields.IdTangki.isInvalid],
            ["StatusProses", [fields.StatusProses.visible && fields.StatusProses.required ? ew.Validators.required(fields.StatusProses.caption) : null], fields.StatusProses.isInvalid],
            ["LookupNoPenyaluran", [fields.LookupNoPenyaluran.visible && fields.LookupNoPenyaluran.required ? ew.Validators.required(fields.LookupNoPenyaluran.caption) : null], fields.LookupNoPenyaluran.isInvalid],
            ["NoPenyaluran", [fields.NoPenyaluran.visible && fields.NoPenyaluran.required ? ew.Validators.required(fields.NoPenyaluran.caption) : null], fields.NoPenyaluran.isInvalid],
            ["PersentaseProgress", [fields.PersentaseProgress.visible && fields.PersentaseProgress.required ? ew.Validators.required(fields.PersentaseProgress.caption) : null], fields.PersentaseProgress.isInvalid],
            ["Catatan", [fields.Catatan.visible && fields.Catatan.required ? ew.Validators.required(fields.Catatan.caption) : null], fields.Catatan.isInvalid],
            ["DibuatOleh", [fields.DibuatOleh.visible && fields.DibuatOleh.required ? ew.Validators.required(fields.DibuatOleh.caption) : null], fields.DibuatOleh.isInvalid],
            ["TanggalDibuat", [fields.TanggalDibuat.visible && fields.TanggalDibuat.required ? ew.Validators.required(fields.TanggalDibuat.caption) : null], fields.TanggalDibuat.isInvalid],
            ["PlantForLookup", [fields.PlantForLookup.visible && fields.PlantForLookup.required ? ew.Validators.required(fields.PlantForLookup.caption) : null], fields.PlantForLookup.isInvalid],
            ["LookupTipeProduk", [fields.LookupTipeProduk.visible && fields.LookupTipeProduk.required ? ew.Validators.required(fields.LookupTipeProduk.caption) : null], fields.LookupTipeProduk.isInvalid],
            ["LookupJenisPlant", [fields.LookupJenisPlant.visible && fields.LookupJenisPlant.required ? ew.Validators.required(fields.LookupJenisPlant.caption) : null], fields.LookupJenisPlant.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "LookupPlant": @Html.Raw(penimbunanPenyaluranAdd.LookupPlant.ToClientList(penimbunanPenyaluranAdd)),
            "Plant": @Html.Raw(penimbunanPenyaluranAdd.Plant.ToClientList(penimbunanPenyaluranAdd)),
            "TipeProdukSTS": @Html.Raw(penimbunanPenyaluranAdd.TipeProdukSTS.ToClientList(penimbunanPenyaluranAdd)),
            "TipePenyaluran": @Html.Raw(penimbunanPenyaluranAdd.TipePenyaluran.ToClientList(penimbunanPenyaluranAdd)),
            "JenisProduk": @Html.Raw(penimbunanPenyaluranAdd.JenisProduk.ToClientList(penimbunanPenyaluranAdd)),
            "IdModa": @Html.Raw(penimbunanPenyaluranAdd.IdModa.ToClientList(penimbunanPenyaluranAdd)),
            "IdTangki": @Html.Raw(penimbunanPenyaluranAdd.IdTangki.ToClientList(penimbunanPenyaluranAdd)),
            "LookupNoPenyaluran": @Html.Raw(penimbunanPenyaluranAdd.LookupNoPenyaluran.ToClientList(penimbunanPenyaluranAdd)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Client script
    $('#r_IdModa').show();
    $('#x_IdModa').show();
    $('#r_LookupNoPenyaluran').hide();
    const parent_url = ew.PATH_BASE;
    $('#r_LookupNoPenyaluran').after(`
        <div id="r_LookupNoPenyaluranSelect" class="row">
            <label id="elh_PenimbunanPenyaluran_LookupNoPenyaluranSelect"
                for="x_LookupNoPenyaluranSelect"
                class="col-sm-2 col-form-label ew-label">
                Nomor Penyaluran
            </label>
            <div class="col-sm-10">
                <div>
                    <span id="el_PenimbunanPenyaluran_LookupNoPenyaluranSelect">
                        <select
                            id="x_LookupNoPenyaluranSelect"
                            name="x_LookupNoPenyaluranSelect"
                            class="form-select ew-select"
                            data-select2-id="fPenimbunanPenyaluranadd_x_LookupNoPenyaluranSelect"
                            data-value-separator=""
                            data-placeholder="Nomor Penyaluran">
                        </select>
                    </span>
                </div>
            </div>
        </div>
    `);
    // initialize select options START
    let options = { name: "x_LookupNoPenyaluranSelect", selectId: `fPenimbunanPenyaluranadd_x_LookupNoPenyaluranSelect` };
    const el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    options.minimumInputLength = ew.selectMinimumInputLength;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables["PenimbunanPenyaluran"].fields.LookupNoPenyaluran.selectOptions);
    ew.createSelect(options);
    function fillPenyaluranSelect(idPlant, idModa) {
        $.ajax({
            url: `${parent_url}api/LookUpList/get-dropdown/lookup-penyaluran?idPlant=${encodeURIComponent(idPlant)}&menu=PenimbunanPenyaluran&idModa=${encodeURIComponent(idModa)}`,
            method: 'GET',
            dataType: 'json',
            success: function(data) {
                $('#x_LookupNoPenyaluranSelect').html('');
                $.each(data, function (index, item) {
                    $('#x_LookupNoPenyaluranSelect').append(new Option(item.NomorPenyaluran, item.NomorPenyaluran, false, false)).trigger('change');
                });
                $('#x_LookupNoPenyaluranSelect').val(null).trigger('change');
            },
            error: function(xhr, textStatus, errorThrown) {
                console.error("Gagal ambil data dropdown:", error);
            }
        });
    }
    // initialize select options END
    $('#fPenimbunanPenyaluranadd').on('submit', function (e) {
        e.preventDefault();
        const parent_url = ew.PATH_BASE;
        const UserLevel = "@CurrentUserLevel()";
        const idRole = '@CurrentUserInfo("Rule")?.ToString()';
        if (UserLevel != "2" && UserLevel != "-1" && UserLevel != "4" && UserLevel != "5" && UserLevel != "6" && idRole != '1' && idRole != '12' && idRole != '13') {
            ew.alert('Anda tidak memiliki akses untuk menambah data Proses Penyaluran.');
            setTimeOut(() => {
                window.location.href = parent_url+'PenimbunanPenyaluranList';
            }, 1000);
            return false;
        }
        showLoading();
        setTimeout(() => {
            hideLoading();
        }, 3000);
        this.requestSubmit();
    });
    $('#x_LookupJenisPlant, #x_TipePenyaluran').change(function () {
        let JenisPlant = $('#x_LookupJenisPlant').val();
        let TipePenyaluran = $('#x_TipePenyaluran').val();
        if (JenisPlant == 'STS') {
            $('#r_TipeProdukSTS').show();
        } else {
            $('#r_TipeProdukSTS').hide();
            $('#r_TipeProdukSTS').val('');
        }
        if (JenisPlant == 'STS' && TipePenyaluran == 'Sales') {
            $('#r_JenisProduk').show();
        } else {
            $('#r_JenisProduk').hide();
            $('#r_JenisProduk').val('');
        }
        if (TipePenyaluran == 'Konsinyasi') {
            $('#r_LookupNoPenyaluranSelect').show();
        } else {
            $('#r_LookupNoPenyaluranSelect').hide();
            $('#x_LookupNoPenyaluranSelect').val(null).trigger('change');
        }
        $('#r_IdModa').show();
        // if (TipePenyaluran == 'Sales') {
        //     $('#r_IdModa').show();
        // } else {
        //     $('#r_IdModa').hide();
        //     $('#x_IdModa').val('');
        // }
    });
    $('#x_IdModa').on("change", function () {
        const selectedValue = $(this).val();
        const idPlant = $('#x_Plant').val();
        if (selectedValue != null && selectedValue != '' && idPlant != null && idPlant != '')
        {
            fillPenyaluranSelect(idPlant, selectedValue);
        }
        else
        {
            $('#x_NoPenyaluran').val(null).trigger('change');
            // $('#x_LookupNoPenyaluran').val(null).trigger('change');
            $('#x_LookupNoPenyaluranSelect').val(null).trigger('change');
        }
    });
    $('#x_LookupPlant').on("change", function () {
        const $this = $(this);
        const selectedValue = $this.val();
        const selectedText = $this.find('option:selected').text();
        const idModa = $('#x_IdModa').val();
        $('#x_Plant').val(selectedValue || '').trigger('change');
        $('#sv_x_Plant').val(selectedText || '');
        // Clear dependents so they reload with new Plant
        $('#x_IdTangki').val(null).trigger('change');
        $('#x_NoPenyaluran').val(null).trigger('change');
        if (selectedValue != null && selectedValue != '' && idModa != null && idModa != '')
        {
            fillPenyaluranSelect(selectedValue, idModa);
        }

        // const ddlNoPenyaluran = $("#x_LookupNoPenyaluran");
        // ddlNoPenyaluran.empty();
        // ddlNoPenyaluran.append('<option value="">Loading...</option>');

        // $.ajax({
        //     url: `${parent_url}api/LookUpList/get-dropdown/lookup-penyaluran?idPlant=${encodeURIComponent(selectedValue)}&menu=PenimbunanPenyaluran`,
        //     method: 'GET',
        //     dataType: 'json',
        //     success: function (data) {
        //         ddlNoPenyaluran.empty(); 
        //         $.each(data, function (index, item) {
        //             ddlNoPenyaluran.append(`<option value="${item.NomorPenyaluran}">${item.NomorPenyaluran}</option>`);
        //         });
        //         ddlNoPenyaluran.val(null).trigger('change');
        //     },
        //     error: function (xhr, status, error) {
        //         console.error("Gagal ambil data dropdown:", error);
        //         ddlNoPenyaluran.empty();
        //     }
        // });
    });
    $('#x_LookupNoPenyaluranSelect').on("change", function () {
        const selectedValue = $(this).val();
        $('#x_NoPenyaluran').val(selectedValue).trigger('change');
    });
    // $('#x_LookupNoPenyaluran').on("change", function () {
    //     const selectedValue = $(this).val();
    //     $('#x_NoPenyaluran').val(selectedValue).trigger('change');
    // });
});
</script>
@penimbunanPenyaluranAdd.ShowPageHeader()
@penimbunanPenyaluranAdd.ShowMessages()
<form name="fPenimbunanPenyaluranadd" id="fPenimbunanPenyaluranadd" class="@(penimbunanPenyaluranAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(penimbunanPenyaluranAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(penimbunanPenyaluranAdd.OldKeyName)" value="@Html.Raw(penimbunanPenyaluranAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (penimbunanPenyaluranAdd.NomorPenimbunanPenyaluran.Visible) { // penimbunanPenyaluranAdd.NomorPenimbunanPenyaluran.Visible (begin)
    <div id="r_NomorPenimbunanPenyaluran" @Html.Raw(penimbunanPenyaluranAdd.NomorPenimbunanPenyaluran.RowAttributes)>
        <label id="elh_PenimbunanPenyaluran_NomorPenimbunanPenyaluran" for="x_NomorPenimbunanPenyaluran" class="@(penimbunanPenyaluranAdd.LeftColumnClass)">@Html.Raw(penimbunanPenyaluranAdd.NomorPenimbunanPenyaluran.Caption)@Html.Raw(penimbunanPenyaluranAdd.NomorPenimbunanPenyaluran.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(penimbunanPenyaluranAdd.RightColumnClass)"><div @Html.Raw(penimbunanPenyaluranAdd.NomorPenimbunanPenyaluran.CellAttributes)>
<span id="el_PenimbunanPenyaluran_NomorPenimbunanPenyaluran">
<input type="@(penimbunanPenyaluranAdd.NomorPenimbunanPenyaluran.InputTextType)" name="x_NomorPenimbunanPenyaluran" id="x_NomorPenimbunanPenyaluran" data-table="PenimbunanPenyaluran" data-field="x_NomorPenimbunanPenyaluran" value="@Html.Raw(penimbunanPenyaluranAdd.NomorPenimbunanPenyaluran.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(penimbunanPenyaluranAdd.NomorPenimbunanPenyaluran.PlaceHolder))" data-format-pattern="@(penimbunanPenyaluranAdd.NomorPenimbunanPenyaluran.FormatPattern)"@Html.Raw(penimbunanPenyaluranAdd.NomorPenimbunanPenyaluran.EditAttributes) aria-describedby="x_NomorPenimbunanPenyaluran_help">
@Html.Raw(penimbunanPenyaluranAdd.NomorPenimbunanPenyaluran.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(penimbunanPenyaluranAdd.NomorPenimbunanPenyaluran.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* penimbunanPenyaluranAdd.NomorPenimbunanPenyaluran.Visible (end) *@
    <span id="el_PenimbunanPenyaluran_IdTemplate">
    <input type="hidden" data-table="PenimbunanPenyaluran" data-field="x_IdTemplate" data-hidden="1" name="x_IdTemplate" id="x_IdTemplate" value="@Html.Raw(HtmlEncode(penimbunanPenyaluranAdd.IdTemplate.CurrentValue))">
    </span>
@if (penimbunanPenyaluranAdd.LookupPlant.Visible) { // penimbunanPenyaluranAdd.LookupPlant.Visible (begin)
    <div id="r_LookupPlant" @Html.Raw(penimbunanPenyaluranAdd.LookupPlant.RowAttributes)>
        <label id="elh_PenimbunanPenyaluran_LookupPlant" for="x_LookupPlant" class="@(penimbunanPenyaluranAdd.LeftColumnClass)">@Html.Raw(penimbunanPenyaluranAdd.LookupPlant.Caption)@Html.Raw(penimbunanPenyaluranAdd.LookupPlant.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(penimbunanPenyaluranAdd.RightColumnClass)"><div @Html.Raw(penimbunanPenyaluranAdd.LookupPlant.CellAttributes)>
<span id="el_PenimbunanPenyaluran_LookupPlant">
    <select
        id="x_LookupPlant"
        name="x_LookupPlant"
        class="form-select ew-select@(penimbunanPenyaluranAdd.LookupPlant.IsInvalidClass)"
        data-select2-id="fPenimbunanPenyaluranadd_x_LookupPlant"
        data-table="PenimbunanPenyaluran"
        data-field="x_LookupPlant"
        data-value-separator="@(penimbunanPenyaluranAdd.LookupPlant.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(penimbunanPenyaluranAdd.LookupPlant.PlaceHolder))"
        @Html.Raw(penimbunanPenyaluranAdd.LookupPlant.EditAttributes)>
        @(penimbunanPenyaluranAdd.LookupPlant.SelectOptionListHtml("x_LookupPlant"))
    </select>
    @Html.Raw(penimbunanPenyaluranAdd.LookupPlant.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(penimbunanPenyaluranAdd.LookupPlant.GetErrorMessage())</div>
<script>
loadjs.ready("fPenimbunanPenyaluranadd", function() {
    var options = { name: "x_LookupPlant", selectId: "fPenimbunanPenyaluranadd_x_LookupPlant" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fPenimbunanPenyaluranadd.lists.LookupPlant?.lookupOptions.length) {
        options.data = { id: "x_LookupPlant", form: "fPenimbunanPenyaluranadd" };
    } else {
        options.ajax = { id: "x_LookupPlant", form: "fPenimbunanPenyaluranadd", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumInputLength = ew.selectMinimumInputLength;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.PenimbunanPenyaluran.fields.LookupPlant.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
</div></div>
    </div>
} @* penimbunanPenyaluranAdd.LookupPlant.Visible (end) *@
@if (penimbunanPenyaluranAdd.Plant.Visible) { // penimbunanPenyaluranAdd.Plant.Visible (begin)
    <div id="r_Plant" @Html.Raw(penimbunanPenyaluranAdd.Plant.RowAttributes)>
        <label id="elh_PenimbunanPenyaluran_Plant" class="@(penimbunanPenyaluranAdd.LeftColumnClass)">@Html.Raw(penimbunanPenyaluranAdd.Plant.Caption)@Html.Raw(penimbunanPenyaluranAdd.Plant.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(penimbunanPenyaluranAdd.RightColumnClass)"><div @Html.Raw(penimbunanPenyaluranAdd.Plant.CellAttributes)>
<span id="el_PenimbunanPenyaluran_Plant">
<span>@{
    if (IsRTL) {
        penimbunanPenyaluranAdd.Plant.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_Plant" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_Plant" id="sv_x_Plant" value="@(RemoveHtml(ConvertToString(penimbunanPenyaluranAdd.Plant.EditValue)))" autocomplete="off" size="30" maxlength="10" placeholder="@Html.Raw(HtmlEncode(penimbunanPenyaluranAdd.Plant.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(penimbunanPenyaluranAdd.Plant.PlaceHolder))" data-format-pattern="@(penimbunanPenyaluranAdd.Plant.FormatPattern)" @Html.Raw(penimbunanPenyaluranAdd.Plant.EditAttributes) aria-describedby="x_Plant_help">
</span>
<selection-list hidden class="form-control" data-table="PenimbunanPenyaluran" data-field="x_Plant" data-input="sv_x_Plant" data-value-separator="@(penimbunanPenyaluranAdd.Plant.DisplayValueSeparatorAttribute)" name="x_Plant" id="x_Plant" value="@(HtmlEncode(penimbunanPenyaluranAdd.Plant.CurrentValue))" data-ew-action="autofill"></selection-list>
@Html.Raw(penimbunanPenyaluranAdd.Plant.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(penimbunanPenyaluranAdd.Plant.GetErrorMessage())</div>
<script>
loadjs.ready(["fPenimbunanPenyaluranadd"], function() {
    fPenimbunanPenyaluranadd.createAutoSuggest(Object.assign({"id":"x_Plant","forceSelect":true}, { lookupAllDisplayFields: @(penimbunanPenyaluranAdd.Plant.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.PenimbunanPenyaluran.fields.Plant.autoSuggestOptions));
});
</script>
@Html.Raw(penimbunanPenyaluranAdd.Plant.Lookup.GetParamTag(penimbunanPenyaluranAdd, "p_x_Plant"))
</span>
</div></div>
    </div>
} @* penimbunanPenyaluranAdd.Plant.Visible (end) *@
@if (penimbunanPenyaluranAdd.TipeProdukSTS.Visible) { // penimbunanPenyaluranAdd.TipeProdukSTS.Visible (begin)
    <div id="r_TipeProdukSTS" @Html.Raw(penimbunanPenyaluranAdd.TipeProdukSTS.RowAttributes)>
        <label id="elh_PenimbunanPenyaluran_TipeProdukSTS" for="x_TipeProdukSTS" class="@(penimbunanPenyaluranAdd.LeftColumnClass)">@Html.Raw(penimbunanPenyaluranAdd.TipeProdukSTS.Caption)@Html.Raw(penimbunanPenyaluranAdd.TipeProdukSTS.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(penimbunanPenyaluranAdd.RightColumnClass)"><div @Html.Raw(penimbunanPenyaluranAdd.TipeProdukSTS.CellAttributes)>
<span id="el_PenimbunanPenyaluran_TipeProdukSTS">
    <select
        id="x_TipeProdukSTS"
        name="x_TipeProdukSTS"
        class="form-select ew-select@(penimbunanPenyaluranAdd.TipeProdukSTS.IsInvalidClass)"
        data-select2-id="fPenimbunanPenyaluranadd_x_TipeProdukSTS"
        data-table="PenimbunanPenyaluran"
        data-field="x_TipeProdukSTS"
        data-value-separator="@(penimbunanPenyaluranAdd.TipeProdukSTS.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(penimbunanPenyaluranAdd.TipeProdukSTS.PlaceHolder))"
        data-ew-action="autofill"
        @Html.Raw(penimbunanPenyaluranAdd.TipeProdukSTS.EditAttributes)>
        @(penimbunanPenyaluranAdd.TipeProdukSTS.SelectOptionListHtml("x_TipeProdukSTS"))
    </select>
    @Html.Raw(penimbunanPenyaluranAdd.TipeProdukSTS.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(penimbunanPenyaluranAdd.TipeProdukSTS.GetErrorMessage())</div>
@Html.Raw(penimbunanPenyaluranAdd.TipeProdukSTS.Lookup.GetParamTag(penimbunanPenyaluranAdd, "p_x_TipeProdukSTS"))
<script>
loadjs.ready("fPenimbunanPenyaluranadd", function() {
    var options = { name: "x_TipeProdukSTS", selectId: "fPenimbunanPenyaluranadd_x_TipeProdukSTS" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fPenimbunanPenyaluranadd.lists.TipeProdukSTS?.lookupOptions.length) {
        options.data = { id: "x_TipeProdukSTS", form: "fPenimbunanPenyaluranadd" };
    } else {
        options.ajax = { id: "x_TipeProdukSTS", form: "fPenimbunanPenyaluranadd", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.PenimbunanPenyaluran.fields.TipeProdukSTS.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
</div></div>
    </div>
} @* penimbunanPenyaluranAdd.TipeProdukSTS.Visible (end) *@
@if (penimbunanPenyaluranAdd.TipePenyaluran.Visible) { // penimbunanPenyaluranAdd.TipePenyaluran.Visible (begin)
    <div id="r_TipePenyaluran" @Html.Raw(penimbunanPenyaluranAdd.TipePenyaluran.RowAttributes)>
        <label id="elh_PenimbunanPenyaluran_TipePenyaluran" for="x_TipePenyaluran" class="@(penimbunanPenyaluranAdd.LeftColumnClass)">@Html.Raw(penimbunanPenyaluranAdd.TipePenyaluran.Caption)@Html.Raw(penimbunanPenyaluranAdd.TipePenyaluran.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(penimbunanPenyaluranAdd.RightColumnClass)"><div @Html.Raw(penimbunanPenyaluranAdd.TipePenyaluran.CellAttributes)>
<span id="el_PenimbunanPenyaluran_TipePenyaluran">
    <select
        id="x_TipePenyaluran"
        name="x_TipePenyaluran"
        class="form-select ew-select@(penimbunanPenyaluranAdd.TipePenyaluran.IsInvalidClass)"
        data-select2-id="fPenimbunanPenyaluranadd_x_TipePenyaluran"
        data-table="PenimbunanPenyaluran"
        data-field="x_TipePenyaluran"
        data-value-separator="@(penimbunanPenyaluranAdd.TipePenyaluran.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(penimbunanPenyaluranAdd.TipePenyaluran.PlaceHolder))"
        @Html.Raw(penimbunanPenyaluranAdd.TipePenyaluran.EditAttributes)>
        @(penimbunanPenyaluranAdd.TipePenyaluran.SelectOptionListHtml("x_TipePenyaluran"))
    </select>
    @Html.Raw(penimbunanPenyaluranAdd.TipePenyaluran.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(penimbunanPenyaluranAdd.TipePenyaluran.GetErrorMessage())</div>
<script>
loadjs.ready("fPenimbunanPenyaluranadd", function() {
    var options = { name: "x_TipePenyaluran", selectId: "fPenimbunanPenyaluranadd_x_TipePenyaluran" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fPenimbunanPenyaluranadd.lists.TipePenyaluran?.lookupOptions.length) {
        options.data = { id: "x_TipePenyaluran", form: "fPenimbunanPenyaluranadd" };
    } else {
        options.ajax = { id: "x_TipePenyaluran", form: "fPenimbunanPenyaluranadd", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.PenimbunanPenyaluran.fields.TipePenyaluran.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
</div></div>
    </div>
} @* penimbunanPenyaluranAdd.TipePenyaluran.Visible (end) *@
@if (penimbunanPenyaluranAdd.JenisProduk.Visible) { // penimbunanPenyaluranAdd.JenisProduk.Visible (begin)
    <div id="r_JenisProduk" @Html.Raw(penimbunanPenyaluranAdd.JenisProduk.RowAttributes)>
        <label id="elh_PenimbunanPenyaluran_JenisProduk" for="x_JenisProduk" class="@(penimbunanPenyaluranAdd.LeftColumnClass)">@Html.Raw(penimbunanPenyaluranAdd.JenisProduk.Caption)@Html.Raw(penimbunanPenyaluranAdd.JenisProduk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(penimbunanPenyaluranAdd.RightColumnClass)"><div @Html.Raw(penimbunanPenyaluranAdd.JenisProduk.CellAttributes)>
<span id="el_PenimbunanPenyaluran_JenisProduk">
    <select
        id="x_JenisProduk"
        name="x_JenisProduk"
        class="form-select ew-select@(penimbunanPenyaluranAdd.JenisProduk.IsInvalidClass)"
        data-select2-id="fPenimbunanPenyaluranadd_x_JenisProduk"
        data-table="PenimbunanPenyaluran"
        data-field="x_JenisProduk"
        data-value-separator="@(penimbunanPenyaluranAdd.JenisProduk.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(penimbunanPenyaluranAdd.JenisProduk.PlaceHolder))"
        @Html.Raw(penimbunanPenyaluranAdd.JenisProduk.EditAttributes)>
        @(penimbunanPenyaluranAdd.JenisProduk.SelectOptionListHtml("x_JenisProduk"))
    </select>
    @Html.Raw(penimbunanPenyaluranAdd.JenisProduk.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(penimbunanPenyaluranAdd.JenisProduk.GetErrorMessage())</div>
@Html.Raw(penimbunanPenyaluranAdd.JenisProduk.Lookup.GetParamTag(penimbunanPenyaluranAdd, "p_x_JenisProduk"))
<script>
loadjs.ready("fPenimbunanPenyaluranadd", function() {
    var options = { name: "x_JenisProduk", selectId: "fPenimbunanPenyaluranadd_x_JenisProduk" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fPenimbunanPenyaluranadd.lists.JenisProduk?.lookupOptions.length) {
        options.data = { id: "x_JenisProduk", form: "fPenimbunanPenyaluranadd" };
    } else {
        options.ajax = { id: "x_JenisProduk", form: "fPenimbunanPenyaluranadd", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumInputLength = ew.selectMinimumInputLength;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.PenimbunanPenyaluran.fields.JenisProduk.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
</div></div>
    </div>
} @* penimbunanPenyaluranAdd.JenisProduk.Visible (end) *@
@if (penimbunanPenyaluranAdd.IdModa.Visible) { // penimbunanPenyaluranAdd.IdModa.Visible (begin)
    <div id="r_IdModa" @Html.Raw(penimbunanPenyaluranAdd.IdModa.RowAttributes)>
        <label id="elh_PenimbunanPenyaluran_IdModa" for="x_IdModa" class="@(penimbunanPenyaluranAdd.LeftColumnClass)">@Html.Raw(penimbunanPenyaluranAdd.IdModa.Caption)@Html.Raw(penimbunanPenyaluranAdd.IdModa.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(penimbunanPenyaluranAdd.RightColumnClass)"><div @Html.Raw(penimbunanPenyaluranAdd.IdModa.CellAttributes)>
<span id="el_PenimbunanPenyaluran_IdModa">
    <select
        id="x_IdModa"
        name="x_IdModa"
        class="form-select ew-select@(penimbunanPenyaluranAdd.IdModa.IsInvalidClass)"
        data-select2-id="fPenimbunanPenyaluranadd_x_IdModa"
        data-table="PenimbunanPenyaluran"
        data-field="x_IdModa"
        data-value-separator="@(penimbunanPenyaluranAdd.IdModa.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(penimbunanPenyaluranAdd.IdModa.PlaceHolder))"
        @Html.Raw(penimbunanPenyaluranAdd.IdModa.EditAttributes)>
        @(penimbunanPenyaluranAdd.IdModa.SelectOptionListHtml("x_IdModa"))
    </select>
    @Html.Raw(penimbunanPenyaluranAdd.IdModa.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(penimbunanPenyaluranAdd.IdModa.GetErrorMessage())</div>
@Html.Raw(penimbunanPenyaluranAdd.IdModa.Lookup.GetParamTag(penimbunanPenyaluranAdd, "p_x_IdModa"))
<script>
loadjs.ready("fPenimbunanPenyaluranadd", function() {
    var options = { name: "x_IdModa", selectId: "fPenimbunanPenyaluranadd_x_IdModa" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fPenimbunanPenyaluranadd.lists.IdModa?.lookupOptions.length) {
        options.data = { id: "x_IdModa", form: "fPenimbunanPenyaluranadd" };
    } else {
        options.ajax = { id: "x_IdModa", form: "fPenimbunanPenyaluranadd", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumInputLength = ew.selectMinimumInputLength;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.PenimbunanPenyaluran.fields.IdModa.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
</div></div>
    </div>
} @* penimbunanPenyaluranAdd.IdModa.Visible (end) *@
@if (penimbunanPenyaluranAdd.IdTangki.Visible) { // penimbunanPenyaluranAdd.IdTangki.Visible (begin)
    <div id="r_IdTangki" @Html.Raw(penimbunanPenyaluranAdd.IdTangki.RowAttributes)>
        <label id="elh_PenimbunanPenyaluran_IdTangki" for="x_IdTangki" class="@(penimbunanPenyaluranAdd.LeftColumnClass)">@Html.Raw(penimbunanPenyaluranAdd.IdTangki.Caption)@Html.Raw(penimbunanPenyaluranAdd.IdTangki.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(penimbunanPenyaluranAdd.RightColumnClass)"><div @Html.Raw(penimbunanPenyaluranAdd.IdTangki.CellAttributes)>
<span id="el_PenimbunanPenyaluran_IdTangki">
    <select
        id="x_IdTangki"
        name="x_IdTangki"
        class="form-select ew-select@(penimbunanPenyaluranAdd.IdTangki.IsInvalidClass)"
        data-select2-id="fPenimbunanPenyaluranadd_x_IdTangki"
        data-table="PenimbunanPenyaluran"
        data-field="x_IdTangki"
        data-value-separator="@(penimbunanPenyaluranAdd.IdTangki.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(penimbunanPenyaluranAdd.IdTangki.PlaceHolder))"
        @Html.Raw(penimbunanPenyaluranAdd.IdTangki.EditAttributes)>
        @(penimbunanPenyaluranAdd.IdTangki.SelectOptionListHtml("x_IdTangki"))
    </select>
    @Html.Raw(penimbunanPenyaluranAdd.IdTangki.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(penimbunanPenyaluranAdd.IdTangki.GetErrorMessage())</div>
@Html.Raw(penimbunanPenyaluranAdd.IdTangki.Lookup.GetParamTag(penimbunanPenyaluranAdd, "p_x_IdTangki"))
<script>
loadjs.ready("fPenimbunanPenyaluranadd", function() {
    var options = { name: "x_IdTangki", selectId: "fPenimbunanPenyaluranadd_x_IdTangki" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fPenimbunanPenyaluranadd.lists.IdTangki?.lookupOptions.length) {
        options.data = { id: "x_IdTangki", form: "fPenimbunanPenyaluranadd" };
    } else {
        options.ajax = { id: "x_IdTangki", form: "fPenimbunanPenyaluranadd", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumInputLength = ew.selectMinimumInputLength;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.PenimbunanPenyaluran.fields.IdTangki.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
</div></div>
    </div>
} @* penimbunanPenyaluranAdd.IdTangki.Visible (end) *@
    <span id="el_PenimbunanPenyaluran_StatusProses">
    <input type="hidden" data-table="PenimbunanPenyaluran" data-field="x_StatusProses" data-hidden="1" name="x_StatusProses" id="x_StatusProses" value="@Html.Raw(HtmlEncode(penimbunanPenyaluranAdd.StatusProses.CurrentValue))">
    </span>
@if (penimbunanPenyaluranAdd.LookupNoPenyaluran.Visible) { // penimbunanPenyaluranAdd.LookupNoPenyaluran.Visible (begin)
    <div id="r_LookupNoPenyaluran" @Html.Raw(penimbunanPenyaluranAdd.LookupNoPenyaluran.RowAttributes)>
        <label id="elh_PenimbunanPenyaluran_LookupNoPenyaluran" for="x_LookupNoPenyaluran" class="@(penimbunanPenyaluranAdd.LeftColumnClass)">@Html.Raw(penimbunanPenyaluranAdd.LookupNoPenyaluran.Caption)@Html.Raw(penimbunanPenyaluranAdd.LookupNoPenyaluran.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(penimbunanPenyaluranAdd.RightColumnClass)"><div @Html.Raw(penimbunanPenyaluranAdd.LookupNoPenyaluran.CellAttributes)>
<span id="el_PenimbunanPenyaluran_LookupNoPenyaluran">
    <select
        id="x_LookupNoPenyaluran"
        name="x_LookupNoPenyaluran"
        class="form-select ew-select@(penimbunanPenyaluranAdd.LookupNoPenyaluran.IsInvalidClass)"
        data-select2-id="fPenimbunanPenyaluranadd_x_LookupNoPenyaluran"
        data-table="PenimbunanPenyaluran"
        data-field="x_LookupNoPenyaluran"
        data-value-separator="@(penimbunanPenyaluranAdd.LookupNoPenyaluran.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(penimbunanPenyaluranAdd.LookupNoPenyaluran.PlaceHolder))"
        @Html.Raw(penimbunanPenyaluranAdd.LookupNoPenyaluran.EditAttributes)>
        @(penimbunanPenyaluranAdd.LookupNoPenyaluran.SelectOptionListHtml("x_LookupNoPenyaluran"))
    </select>
    @Html.Raw(penimbunanPenyaluranAdd.LookupNoPenyaluran.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(penimbunanPenyaluranAdd.LookupNoPenyaluran.GetErrorMessage())</div>
<script>
loadjs.ready("fPenimbunanPenyaluranadd", function() {
    var options = { name: "x_LookupNoPenyaluran", selectId: "fPenimbunanPenyaluranadd_x_LookupNoPenyaluran" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fPenimbunanPenyaluranadd.lists.LookupNoPenyaluran?.lookupOptions.length) {
        options.data = { id: "x_LookupNoPenyaluran", form: "fPenimbunanPenyaluranadd" };
    } else {
        options.ajax = { id: "x_LookupNoPenyaluran", form: "fPenimbunanPenyaluranadd", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumInputLength = ew.selectMinimumInputLength;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.PenimbunanPenyaluran.fields.LookupNoPenyaluran.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
</div></div>
    </div>
} @* penimbunanPenyaluranAdd.LookupNoPenyaluran.Visible (end) *@
@if (penimbunanPenyaluranAdd.NoPenyaluran.Visible) { // penimbunanPenyaluranAdd.NoPenyaluran.Visible (begin)
    <div id="r_NoPenyaluran" @Html.Raw(penimbunanPenyaluranAdd.NoPenyaluran.RowAttributes)>
        <label id="elh_PenimbunanPenyaluran_NoPenyaluran" for="x_NoPenyaluran" class="@(penimbunanPenyaluranAdd.LeftColumnClass)">@Html.Raw(penimbunanPenyaluranAdd.NoPenyaluran.Caption)@Html.Raw(penimbunanPenyaluranAdd.NoPenyaluran.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(penimbunanPenyaluranAdd.RightColumnClass)"><div @Html.Raw(penimbunanPenyaluranAdd.NoPenyaluran.CellAttributes)>
<span id="el_PenimbunanPenyaluran_NoPenyaluran">
<input type="@(penimbunanPenyaluranAdd.NoPenyaluran.InputTextType)" name="x_NoPenyaluran" id="x_NoPenyaluran" data-table="PenimbunanPenyaluran" data-field="x_NoPenyaluran" value="@Html.Raw(penimbunanPenyaluranAdd.NoPenyaluran.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(penimbunanPenyaluranAdd.NoPenyaluran.PlaceHolder))" data-format-pattern="@(penimbunanPenyaluranAdd.NoPenyaluran.FormatPattern)"@Html.Raw(penimbunanPenyaluranAdd.NoPenyaluran.EditAttributes) aria-describedby="x_NoPenyaluran_help">
@Html.Raw(penimbunanPenyaluranAdd.NoPenyaluran.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(penimbunanPenyaluranAdd.NoPenyaluran.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* penimbunanPenyaluranAdd.NoPenyaluran.Visible (end) *@
    <span id="el_PenimbunanPenyaluran_PersentaseProgress">
    <input type="hidden" data-table="PenimbunanPenyaluran" data-field="x_PersentaseProgress" data-hidden="1" name="x_PersentaseProgress" id="x_PersentaseProgress" value="@Html.Raw(HtmlEncode(penimbunanPenyaluranAdd.PersentaseProgress.CurrentValue))">
    </span>
@if (penimbunanPenyaluranAdd.Catatan.Visible) { // penimbunanPenyaluranAdd.Catatan.Visible (begin)
    <div id="r_Catatan" @Html.Raw(penimbunanPenyaluranAdd.Catatan.RowAttributes)>
        <label id="elh_PenimbunanPenyaluran_Catatan" for="x_Catatan" class="@(penimbunanPenyaluranAdd.LeftColumnClass)">@Html.Raw(penimbunanPenyaluranAdd.Catatan.Caption)@Html.Raw(penimbunanPenyaluranAdd.Catatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(penimbunanPenyaluranAdd.RightColumnClass)"><div @Html.Raw(penimbunanPenyaluranAdd.Catatan.CellAttributes)>
<span id="el_PenimbunanPenyaluran_Catatan">
<textarea data-table="PenimbunanPenyaluran" data-field="x_Catatan" name="x_Catatan" id="x_Catatan" cols="35" rows="4" placeholder="@Html.Raw(HtmlEncode(penimbunanPenyaluranAdd.Catatan.PlaceHolder))"@Html.Raw(penimbunanPenyaluranAdd.Catatan.EditAttributes) aria-describedby="x_Catatan_help">@(penimbunanPenyaluranAdd.Catatan.EditValue)</textarea>
@Html.Raw(penimbunanPenyaluranAdd.Catatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(penimbunanPenyaluranAdd.Catatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* penimbunanPenyaluranAdd.Catatan.Visible (end) *@
@if (penimbunanPenyaluranAdd.PlantForLookup.Visible) { // penimbunanPenyaluranAdd.PlantForLookup.Visible (begin)
    <div id="r_PlantForLookup" @Html.Raw(penimbunanPenyaluranAdd.PlantForLookup.RowAttributes)>
        <label id="elh_PenimbunanPenyaluran_PlantForLookup" class="@(penimbunanPenyaluranAdd.LeftColumnClass)">@Html.Raw(penimbunanPenyaluranAdd.PlantForLookup.Caption)@Html.Raw(penimbunanPenyaluranAdd.PlantForLookup.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(penimbunanPenyaluranAdd.RightColumnClass)"><div @Html.Raw(penimbunanPenyaluranAdd.PlantForLookup.CellAttributes)>
<span id="el_PenimbunanPenyaluran_PlantForLookup">
<input type="@(penimbunanPenyaluranAdd.PlantForLookup.InputTextType)" name="x_PlantForLookup" id="x_PlantForLookup" data-table="PenimbunanPenyaluran" data-field="x_PlantForLookup" value="@Html.Raw(penimbunanPenyaluranAdd.PlantForLookup.EditValue)" size="30" maxlength="1" placeholder="@Html.Raw(HtmlEncode(penimbunanPenyaluranAdd.PlantForLookup.PlaceHolder))" data-format-pattern="@(penimbunanPenyaluranAdd.PlantForLookup.FormatPattern)"@Html.Raw(penimbunanPenyaluranAdd.PlantForLookup.EditAttributes) aria-describedby="x_PlantForLookup_help">
@Html.Raw(penimbunanPenyaluranAdd.PlantForLookup.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(penimbunanPenyaluranAdd.PlantForLookup.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* penimbunanPenyaluranAdd.PlantForLookup.Visible (end) *@
@if (penimbunanPenyaluranAdd.LookupTipeProduk.Visible) { // penimbunanPenyaluranAdd.LookupTipeProduk.Visible (begin)
    <div id="r_LookupTipeProduk" @Html.Raw(penimbunanPenyaluranAdd.LookupTipeProduk.RowAttributes)>
        <label id="elh_PenimbunanPenyaluran_LookupTipeProduk" class="@(penimbunanPenyaluranAdd.LeftColumnClass)">@Html.Raw(penimbunanPenyaluranAdd.LookupTipeProduk.Caption)@Html.Raw(penimbunanPenyaluranAdd.LookupTipeProduk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(penimbunanPenyaluranAdd.RightColumnClass)"><div @Html.Raw(penimbunanPenyaluranAdd.LookupTipeProduk.CellAttributes)>
<span id="el_PenimbunanPenyaluran_LookupTipeProduk">
<input type="@(penimbunanPenyaluranAdd.LookupTipeProduk.InputTextType)" name="x_LookupTipeProduk" id="x_LookupTipeProduk" data-table="PenimbunanPenyaluran" data-field="x_LookupTipeProduk" value="@Html.Raw(penimbunanPenyaluranAdd.LookupTipeProduk.EditValue)" size="30" maxlength="1" placeholder="@Html.Raw(HtmlEncode(penimbunanPenyaluranAdd.LookupTipeProduk.PlaceHolder))" data-format-pattern="@(penimbunanPenyaluranAdd.LookupTipeProduk.FormatPattern)"@Html.Raw(penimbunanPenyaluranAdd.LookupTipeProduk.EditAttributes) aria-describedby="x_LookupTipeProduk_help">
@Html.Raw(penimbunanPenyaluranAdd.LookupTipeProduk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(penimbunanPenyaluranAdd.LookupTipeProduk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* penimbunanPenyaluranAdd.LookupTipeProduk.Visible (end) *@
@if (penimbunanPenyaluranAdd.LookupJenisPlant.Visible) { // penimbunanPenyaluranAdd.LookupJenisPlant.Visible (begin)
    <div id="r_LookupJenisPlant" @Html.Raw(penimbunanPenyaluranAdd.LookupJenisPlant.RowAttributes)>
        <label id="elh_PenimbunanPenyaluran_LookupJenisPlant" class="@(penimbunanPenyaluranAdd.LeftColumnClass)">@Html.Raw(penimbunanPenyaluranAdd.LookupJenisPlant.Caption)@Html.Raw(penimbunanPenyaluranAdd.LookupJenisPlant.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(penimbunanPenyaluranAdd.RightColumnClass)"><div @Html.Raw(penimbunanPenyaluranAdd.LookupJenisPlant.CellAttributes)>
<span id="el_PenimbunanPenyaluran_LookupJenisPlant">
<input type="@(penimbunanPenyaluranAdd.LookupJenisPlant.InputTextType)" name="x_LookupJenisPlant" id="x_LookupJenisPlant" data-table="PenimbunanPenyaluran" data-field="x_LookupJenisPlant" value="@Html.Raw(penimbunanPenyaluranAdd.LookupJenisPlant.EditValue)" size="30" maxlength="1" placeholder="@Html.Raw(HtmlEncode(penimbunanPenyaluranAdd.LookupJenisPlant.PlaceHolder))" data-format-pattern="@(penimbunanPenyaluranAdd.LookupJenisPlant.FormatPattern)"@Html.Raw(penimbunanPenyaluranAdd.LookupJenisPlant.EditAttributes) aria-describedby="x_LookupJenisPlant_help">
@Html.Raw(penimbunanPenyaluranAdd.LookupJenisPlant.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(penimbunanPenyaluranAdd.LookupJenisPlant.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* penimbunanPenyaluranAdd.LookupJenisPlant.Visible (end) *@
</div><!-- /page* -->
@{ penimbunanPenyaluranAdd.CloseRecordset(); }
@Html.Raw(penimbunanPenyaluranAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(penimbunanPenyaluranAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fPenimbunanPenyaluranadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fPenimbunanPenyaluranadd" data-href="@AppPath(penimbunanPenyaluranAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(penimbunanPenyaluranAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@penimbunanPenyaluranAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("PenimbunanPenyaluran");
});
</script>
<script>
loadjs.ready("load", function() {
    // Startup script
    var parent_url = ew.PATH_BASE;
    $('#r_PlantForLookup').hide();
    $('#r_NomorPenimbunanPenyaluran').hide();
    $('#r_NoPenyaluran').hide();
    $('#r_LookupTipeProduk').hide();
    $('#r_LookupJenisPlant').hide();
    $('#r_TipeProdukSTS').hide();
    $('#r_JenisProduk').hide();
    $('#r_Plant').hide();
    $('#r_IdModa').hide();
    $(document).ready(function () {
        const ddl = $("#x_LookupPlant");
        ddl.empty();
        ddl.append('<option value="">Loading...</option>');
        $.ajax({
            url: parent_url + 'api/LookUpList/get-dropdown/plant?Menu=PenimbunanPenyaluran',
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                ddl.empty();
                $.each(data, function (index, item) {
                    ddl.append(`<option value="${item.Value}">${item.Label}</option>`);
                });
                if (Array.isArray(data) && data.length > 0) {
                    ddl.val(data[0].Value).trigger('change');
                }
            },
            error: function (xhr, status, error) {
                console.error("Gagal ambil data dropdown:", error);
                ddl.empty();
            }
        });
        const UserLevel = "@CurrentUserLevel()";
        const idRole = '@CurrentUserInfo("Rule")?.ToString()';
        if (UserLevel != "2" && UserLevel != "-1" && UserLevel != "4" && UserLevel != "5" && UserLevel != "6" && idRole != '1' && idRole != '12' && idRole != '13') {
            ew.alert('Anda tidak memiliki akses untuk menambah data Proses Penyaluran.');
            setTimeout(() => {
                window.location.href = parent_url+'PenimbunanPenyaluranList';
            }, 1000);
        }
    });
    // Ensure Plant is set before opening dependent lookups
    const ensurePlantBeforeOpen = function(e) {
        const plantVal = $('#x_Plant').val();
        if (!plantVal) {
            const lpVal = $('#x_LookupPlant').val();
            const lpText = $('#x_LookupPlant').find('option:selected').text();
            if (lpVal) {
                $('#x_Plant').val(lpVal).trigger('change');
                $('#sv_x_Plant').val(lpText || '');
            } else {
                ew.alert('Silakan pilih Plant terlebih dahulu');
                e.preventDefault();
            }
        }
    };
    // Ensure Plant and Moda is set before opening dependent lookups
    const ensurePlantAndModaBeforeOpen = function(e) {
        const plantVal = $('#x_Plant').val();
        if (!plantVal) {
            const lpVal = $('#x_LookupPlant').val();
            const lpText = $('#x_LookupPlant').find('option:selected').text();
            if (lpVal) {
                $('#x_Plant').val(lpVal).trigger('change');
                $('#sv_x_Plant').val(lpText || '');
            } else {
                ew.alert('Silakan pilih Plant terlebih dahulu');
                e.preventDefault();
            }
        }
        const modaVal = $('#x_IdModa').val();
        if (!modaVal) {
            ew.alert('Silakan pilih Moda terlebih dahulu');
            e.preventDefault();
        }
    };
    $('#x_IdTangki').on('select2:opening', ensurePlantBeforeOpen);
    // $('#x_NoPenyaluran').on('select2:opening', ensurePlantBeforeOpen);
    $('#x_LookupNoPenyaluranSelect').on('select2:opening', ensurePlantAndModaBeforeOpen);
    $("#x_Plant").prop("readonly", true);
    const action = "@HttpContext.Request.Query["action"].ToString()";
    if (action === 'addproduct') {
        $('#x_KodeProduk').val('').trigger('change');
        $('#x_IdPlant').trigger('change');
    }
});
</script>
