@{
    // View
    View = this;

    // Check action result
    if (penimbunanPenyaluranView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = penimbunanPenyaluranView.UseLayout ? "_Layout" : "";
}
@if (!penimbunanPenyaluranView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @penimbunanPenyaluranView.ExportOptions.RenderBody()
    @penimbunanPenyaluranView.OtherOptions.RenderBody()
</div>
}
@penimbunanPenyaluranView.ShowPageHeader()
@penimbunanPenyaluranView.ShowMessages()
<main class="view">
<form name="fPenimbunanPenyaluranview" id="fPenimbunanPenyaluranview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!penimbunanPenyaluranView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(penimbunanPenyaluranView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { PenimbunanPenyaluran: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fPenimbunanPenyaluranview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fPenimbunanPenyaluranview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(penimbunanPenyaluranView.IsModal)">
<table class="@(penimbunanPenyaluranView.TableClass)">
@if (penimbunanPenyaluranView.IdPenimbunanPenyaluran.Visible) { // penimbunanPenyaluranView.IdPenimbunanPenyaluran.Visible (begin)
    <tr id="r_IdPenimbunanPenyaluran" @Html.Raw(penimbunanPenyaluranView.IdPenimbunanPenyaluran.RowAttributes)>
        <td class="@(penimbunanPenyaluranView.TableLeftColumnClass)"><span id="elh_PenimbunanPenyaluran_IdPenimbunanPenyaluran">@Html.Raw(penimbunanPenyaluranView.IdPenimbunanPenyaluran.Caption)</span></td>
        <td data-name="IdPenimbunanPenyaluran" @Html.Raw(penimbunanPenyaluranView.IdPenimbunanPenyaluran.CellAttributes)>
<span id="el_PenimbunanPenyaluran_IdPenimbunanPenyaluran">
<span @Html.Raw(penimbunanPenyaluranView.IdPenimbunanPenyaluran.ViewAttributes)>
@Html.Raw(penimbunanPenyaluranView.IdPenimbunanPenyaluran.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanPenyaluranView.IdPenimbunanPenyaluran.Visible (end) *@
@if (penimbunanPenyaluranView.NomorPenimbunanPenyaluran.Visible) { // penimbunanPenyaluranView.NomorPenimbunanPenyaluran.Visible (begin)
    <tr id="r_NomorPenimbunanPenyaluran" @Html.Raw(penimbunanPenyaluranView.NomorPenimbunanPenyaluran.RowAttributes)>
        <td class="@(penimbunanPenyaluranView.TableLeftColumnClass)"><span id="elh_PenimbunanPenyaluran_NomorPenimbunanPenyaluran">@Html.Raw(penimbunanPenyaluranView.NomorPenimbunanPenyaluran.Caption)</span></td>
        <td data-name="NomorPenimbunanPenyaluran" @Html.Raw(penimbunanPenyaluranView.NomorPenimbunanPenyaluran.CellAttributes)>
<span id="el_PenimbunanPenyaluran_NomorPenimbunanPenyaluran">
<span @Html.Raw(penimbunanPenyaluranView.NomorPenimbunanPenyaluran.ViewAttributes)>
@Html.Raw(penimbunanPenyaluranView.NomorPenimbunanPenyaluran.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanPenyaluranView.NomorPenimbunanPenyaluran.Visible (end) *@
@if (penimbunanPenyaluranView.Proses2.Visible) { // penimbunanPenyaluranView.Proses2.Visible (begin)
    <tr id="r_Proses2" @Html.Raw(penimbunanPenyaluranView.Proses2.RowAttributes)>
        <td class="@(penimbunanPenyaluranView.TableLeftColumnClass)"><span id="elh_PenimbunanPenyaluran_Proses2">@Html.Raw(penimbunanPenyaluranView.Proses2.Caption)</span></td>
        <td data-name="Proses2" @Html.Raw(penimbunanPenyaluranView.Proses2.CellAttributes)>
<span id="el_PenimbunanPenyaluran_Proses2">
<span @Html.Raw(penimbunanPenyaluranView.Proses2.ViewAttributes)>
@Html.Raw(penimbunanPenyaluranView.Proses2.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanPenyaluranView.Proses2.Visible (end) *@
@if (penimbunanPenyaluranView.IdTemplate.Visible) { // penimbunanPenyaluranView.IdTemplate.Visible (begin)
    <tr id="r_IdTemplate" @Html.Raw(penimbunanPenyaluranView.IdTemplate.RowAttributes)>
        <td class="@(penimbunanPenyaluranView.TableLeftColumnClass)"><span id="elh_PenimbunanPenyaluran_IdTemplate">@Html.Raw(penimbunanPenyaluranView.IdTemplate.Caption)</span></td>
        <td data-name="IdTemplate" @Html.Raw(penimbunanPenyaluranView.IdTemplate.CellAttributes)>
<span id="el_PenimbunanPenyaluran_IdTemplate">
<span @Html.Raw(penimbunanPenyaluranView.IdTemplate.ViewAttributes)>
@Html.Raw(penimbunanPenyaluranView.IdTemplate.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanPenyaluranView.IdTemplate.Visible (end) *@
@if (penimbunanPenyaluranView.LookupPlant.Visible) { // penimbunanPenyaluranView.LookupPlant.Visible (begin)
    <tr id="r_LookupPlant" @Html.Raw(penimbunanPenyaluranView.LookupPlant.RowAttributes)>
        <td class="@(penimbunanPenyaluranView.TableLeftColumnClass)"><span id="elh_PenimbunanPenyaluran_LookupPlant">@Html.Raw(penimbunanPenyaluranView.LookupPlant.Caption)</span></td>
        <td data-name="LookupPlant" @Html.Raw(penimbunanPenyaluranView.LookupPlant.CellAttributes)>
<span id="el_PenimbunanPenyaluran_LookupPlant">
<span @Html.Raw(penimbunanPenyaluranView.LookupPlant.ViewAttributes)>
@Html.Raw(penimbunanPenyaluranView.LookupPlant.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanPenyaluranView.LookupPlant.Visible (end) *@
@if (penimbunanPenyaluranView.Plant.Visible) { // penimbunanPenyaluranView.Plant.Visible (begin)
    <tr id="r_Plant" @Html.Raw(penimbunanPenyaluranView.Plant.RowAttributes)>
        <td class="@(penimbunanPenyaluranView.TableLeftColumnClass)"><span id="elh_PenimbunanPenyaluran_Plant">@Html.Raw(penimbunanPenyaluranView.Plant.Caption)</span></td>
        <td data-name="Plant" @Html.Raw(penimbunanPenyaluranView.Plant.CellAttributes)>
<span id="el_PenimbunanPenyaluran_Plant">
<span @Html.Raw(penimbunanPenyaluranView.Plant.ViewAttributes)>
@Html.Raw(penimbunanPenyaluranView.Plant.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanPenyaluranView.Plant.Visible (end) *@
@if (penimbunanPenyaluranView.TipeProdukSTS.Visible) { // penimbunanPenyaluranView.TipeProdukSTS.Visible (begin)
    <tr id="r_TipeProdukSTS" @Html.Raw(penimbunanPenyaluranView.TipeProdukSTS.RowAttributes)>
        <td class="@(penimbunanPenyaluranView.TableLeftColumnClass)"><span id="elh_PenimbunanPenyaluran_TipeProdukSTS">@Html.Raw(penimbunanPenyaluranView.TipeProdukSTS.Caption)</span></td>
        <td data-name="TipeProdukSTS" @Html.Raw(penimbunanPenyaluranView.TipeProdukSTS.CellAttributes)>
<span id="el_PenimbunanPenyaluran_TipeProdukSTS">
<span @Html.Raw(penimbunanPenyaluranView.TipeProdukSTS.ViewAttributes)>
@Html.Raw(penimbunanPenyaluranView.TipeProdukSTS.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanPenyaluranView.TipeProdukSTS.Visible (end) *@
@if (penimbunanPenyaluranView.TipePenyaluran.Visible) { // penimbunanPenyaluranView.TipePenyaluran.Visible (begin)
    <tr id="r_TipePenyaluran" @Html.Raw(penimbunanPenyaluranView.TipePenyaluran.RowAttributes)>
        <td class="@(penimbunanPenyaluranView.TableLeftColumnClass)"><span id="elh_PenimbunanPenyaluran_TipePenyaluran">@Html.Raw(penimbunanPenyaluranView.TipePenyaluran.Caption)</span></td>
        <td data-name="TipePenyaluran" @Html.Raw(penimbunanPenyaluranView.TipePenyaluran.CellAttributes)>
<span id="el_PenimbunanPenyaluran_TipePenyaluran">
<span @Html.Raw(penimbunanPenyaluranView.TipePenyaluran.ViewAttributes)>
@Html.Raw(penimbunanPenyaluranView.TipePenyaluran.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanPenyaluranView.TipePenyaluran.Visible (end) *@
@if (penimbunanPenyaluranView.JenisProduk.Visible) { // penimbunanPenyaluranView.JenisProduk.Visible (begin)
    <tr id="r_JenisProduk" @Html.Raw(penimbunanPenyaluranView.JenisProduk.RowAttributes)>
        <td class="@(penimbunanPenyaluranView.TableLeftColumnClass)"><span id="elh_PenimbunanPenyaluran_JenisProduk">@Html.Raw(penimbunanPenyaluranView.JenisProduk.Caption)</span></td>
        <td data-name="JenisProduk" @Html.Raw(penimbunanPenyaluranView.JenisProduk.CellAttributes)>
<span id="el_PenimbunanPenyaluran_JenisProduk">
<span @Html.Raw(penimbunanPenyaluranView.JenisProduk.ViewAttributes)>
@Html.Raw(penimbunanPenyaluranView.JenisProduk.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanPenyaluranView.JenisProduk.Visible (end) *@
@if (penimbunanPenyaluranView.IdModa.Visible) { // penimbunanPenyaluranView.IdModa.Visible (begin)
    <tr id="r_IdModa" @Html.Raw(penimbunanPenyaluranView.IdModa.RowAttributes)>
        <td class="@(penimbunanPenyaluranView.TableLeftColumnClass)"><span id="elh_PenimbunanPenyaluran_IdModa">@Html.Raw(penimbunanPenyaluranView.IdModa.Caption)</span></td>
        <td data-name="IdModa" @Html.Raw(penimbunanPenyaluranView.IdModa.CellAttributes)>
<span id="el_PenimbunanPenyaluran_IdModa">
<span @Html.Raw(penimbunanPenyaluranView.IdModa.ViewAttributes)>
@Html.Raw(penimbunanPenyaluranView.IdModa.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanPenyaluranView.IdModa.Visible (end) *@
@if (penimbunanPenyaluranView.IdTangki.Visible) { // penimbunanPenyaluranView.IdTangki.Visible (begin)
    <tr id="r_IdTangki" @Html.Raw(penimbunanPenyaluranView.IdTangki.RowAttributes)>
        <td class="@(penimbunanPenyaluranView.TableLeftColumnClass)"><span id="elh_PenimbunanPenyaluran_IdTangki">@Html.Raw(penimbunanPenyaluranView.IdTangki.Caption)</span></td>
        <td data-name="IdTangki" @Html.Raw(penimbunanPenyaluranView.IdTangki.CellAttributes)>
<span id="el_PenimbunanPenyaluran_IdTangki">
<span @Html.Raw(penimbunanPenyaluranView.IdTangki.ViewAttributes)>
@Html.Raw(penimbunanPenyaluranView.IdTangki.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanPenyaluranView.IdTangki.Visible (end) *@
@if (penimbunanPenyaluranView.StatusProses.Visible) { // penimbunanPenyaluranView.StatusProses.Visible (begin)
    <tr id="r_StatusProses" @Html.Raw(penimbunanPenyaluranView.StatusProses.RowAttributes)>
        <td class="@(penimbunanPenyaluranView.TableLeftColumnClass)"><span id="elh_PenimbunanPenyaluran_StatusProses">@Html.Raw(penimbunanPenyaluranView.StatusProses.Caption)</span></td>
        <td data-name="StatusProses" @Html.Raw(penimbunanPenyaluranView.StatusProses.CellAttributes)>
<span id="el_PenimbunanPenyaluran_StatusProses">
<span @Html.Raw(penimbunanPenyaluranView.StatusProses.ViewAttributes)>
@Html.Raw(penimbunanPenyaluranView.StatusProses.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanPenyaluranView.StatusProses.Visible (end) *@
@if (penimbunanPenyaluranView.NoPenyaluran.Visible) { // penimbunanPenyaluranView.NoPenyaluran.Visible (begin)
    <tr id="r_NoPenyaluran" @Html.Raw(penimbunanPenyaluranView.NoPenyaluran.RowAttributes)>
        <td class="@(penimbunanPenyaluranView.TableLeftColumnClass)"><span id="elh_PenimbunanPenyaluran_NoPenyaluran">@Html.Raw(penimbunanPenyaluranView.NoPenyaluran.Caption)</span></td>
        <td data-name="NoPenyaluran" @Html.Raw(penimbunanPenyaluranView.NoPenyaluran.CellAttributes)>
<span id="el_PenimbunanPenyaluran_NoPenyaluran">
<span @Html.Raw(penimbunanPenyaluranView.NoPenyaluran.ViewAttributes)>
@Html.Raw(penimbunanPenyaluranView.NoPenyaluran.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanPenyaluranView.NoPenyaluran.Visible (end) *@
@if (penimbunanPenyaluranView.PersentaseProgress.Visible) { // penimbunanPenyaluranView.PersentaseProgress.Visible (begin)
    <tr id="r_PersentaseProgress" @Html.Raw(penimbunanPenyaluranView.PersentaseProgress.RowAttributes)>
        <td class="@(penimbunanPenyaluranView.TableLeftColumnClass)"><span id="elh_PenimbunanPenyaluran_PersentaseProgress">@Html.Raw(penimbunanPenyaluranView.PersentaseProgress.Caption)</span></td>
        <td data-name="PersentaseProgress" @Html.Raw(penimbunanPenyaluranView.PersentaseProgress.CellAttributes)>
<span id="el_PenimbunanPenyaluran_PersentaseProgress">
<span @Html.Raw(penimbunanPenyaluranView.PersentaseProgress.ViewAttributes)>
@Html.Raw(penimbunanPenyaluranView.PersentaseProgress.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanPenyaluranView.PersentaseProgress.Visible (end) *@
@if (penimbunanPenyaluranView.Catatan.Visible) { // penimbunanPenyaluranView.Catatan.Visible (begin)
    <tr id="r_Catatan" @Html.Raw(penimbunanPenyaluranView.Catatan.RowAttributes)>
        <td class="@(penimbunanPenyaluranView.TableLeftColumnClass)"><span id="elh_PenimbunanPenyaluran_Catatan">@Html.Raw(penimbunanPenyaluranView.Catatan.Caption)</span></td>
        <td data-name="Catatan" @Html.Raw(penimbunanPenyaluranView.Catatan.CellAttributes)>
<span id="el_PenimbunanPenyaluran_Catatan">
<span @Html.Raw(penimbunanPenyaluranView.Catatan.ViewAttributes)>
@Html.Raw(penimbunanPenyaluranView.Catatan.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanPenyaluranView.Catatan.Visible (end) *@
@if (penimbunanPenyaluranView.DibuatOleh.Visible) { // penimbunanPenyaluranView.DibuatOleh.Visible (begin)
    <tr id="r_DibuatOleh" @Html.Raw(penimbunanPenyaluranView.DibuatOleh.RowAttributes)>
        <td class="@(penimbunanPenyaluranView.TableLeftColumnClass)"><span id="elh_PenimbunanPenyaluran_DibuatOleh">@Html.Raw(penimbunanPenyaluranView.DibuatOleh.Caption)</span></td>
        <td data-name="DibuatOleh" @Html.Raw(penimbunanPenyaluranView.DibuatOleh.CellAttributes)>
<span id="el_PenimbunanPenyaluran_DibuatOleh">
<span @Html.Raw(penimbunanPenyaluranView.DibuatOleh.ViewAttributes)>
@Html.Raw(penimbunanPenyaluranView.DibuatOleh.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanPenyaluranView.DibuatOleh.Visible (end) *@
@if (penimbunanPenyaluranView.TanggalDibuat.Visible) { // penimbunanPenyaluranView.TanggalDibuat.Visible (begin)
    <tr id="r_TanggalDibuat" @Html.Raw(penimbunanPenyaluranView.TanggalDibuat.RowAttributes)>
        <td class="@(penimbunanPenyaluranView.TableLeftColumnClass)"><span id="elh_PenimbunanPenyaluran_TanggalDibuat">@Html.Raw(penimbunanPenyaluranView.TanggalDibuat.Caption)</span></td>
        <td data-name="TanggalDibuat" @Html.Raw(penimbunanPenyaluranView.TanggalDibuat.CellAttributes)>
<span id="el_PenimbunanPenyaluran_TanggalDibuat">
<span @Html.Raw(penimbunanPenyaluranView.TanggalDibuat.ViewAttributes)>
@Html.Raw(penimbunanPenyaluranView.TanggalDibuat.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanPenyaluranView.TanggalDibuat.Visible (end) *@
@if (penimbunanPenyaluranView.DiperbaruiOleh.Visible) { // penimbunanPenyaluranView.DiperbaruiOleh.Visible (begin)
    <tr id="r_DiperbaruiOleh" @Html.Raw(penimbunanPenyaluranView.DiperbaruiOleh.RowAttributes)>
        <td class="@(penimbunanPenyaluranView.TableLeftColumnClass)"><span id="elh_PenimbunanPenyaluran_DiperbaruiOleh">@Html.Raw(penimbunanPenyaluranView.DiperbaruiOleh.Caption)</span></td>
        <td data-name="DiperbaruiOleh" @Html.Raw(penimbunanPenyaluranView.DiperbaruiOleh.CellAttributes)>
<span id="el_PenimbunanPenyaluran_DiperbaruiOleh">
<span @Html.Raw(penimbunanPenyaluranView.DiperbaruiOleh.ViewAttributes)>
@Html.Raw(penimbunanPenyaluranView.DiperbaruiOleh.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanPenyaluranView.DiperbaruiOleh.Visible (end) *@
@if (penimbunanPenyaluranView.TanggalDiperbarui.Visible) { // penimbunanPenyaluranView.TanggalDiperbarui.Visible (begin)
    <tr id="r_TanggalDiperbarui" @Html.Raw(penimbunanPenyaluranView.TanggalDiperbarui.RowAttributes)>
        <td class="@(penimbunanPenyaluranView.TableLeftColumnClass)"><span id="elh_PenimbunanPenyaluran_TanggalDiperbarui">@Html.Raw(penimbunanPenyaluranView.TanggalDiperbarui.Caption)</span></td>
        <td data-name="TanggalDiperbarui" @Html.Raw(penimbunanPenyaluranView.TanggalDiperbarui.CellAttributes)>
<span id="el_PenimbunanPenyaluran_TanggalDiperbarui">
<span @Html.Raw(penimbunanPenyaluranView.TanggalDiperbarui.ViewAttributes)>
@Html.Raw(penimbunanPenyaluranView.TanggalDiperbarui.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanPenyaluranView.TanggalDiperbarui.Visible (end) *@
</table>
@{ penimbunanPenyaluranView.CloseRecordset(); }
</form>
</main>
@penimbunanPenyaluranView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!penimbunanPenyaluranView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
