@{
    // View
    View = this;

    // Check action result
    if (penimbunanView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = penimbunanView.UseLayout ? "_Layout" : "";
}
@if (!penimbunanView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @penimbunanView.ExportOptions.RenderBody()
    @penimbunanView.OtherOptions.RenderBody()
</div>
}
@penimbunanView.ShowPageHeader()
@penimbunanView.ShowMessages()
<main class="view">
<form name="fPenimbunanview" id="fPenimbunanview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!penimbunanView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(penimbunanView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { Penimbunan: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fPenimbunanview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fPenimbunanview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(penimbunanView.IsModal)">
<table class="@(penimbunanView.TableClass)">
@if (penimbunanView.IdPenimbunan.Visible) { // penimbunanView.IdPenimbunan.Visible (begin)
    <tr id="r_IdPenimbunan" @Html.Raw(penimbunanView.IdPenimbunan.RowAttributes)>
        <td class="@(penimbunanView.TableLeftColumnClass)"><span id="elh_Penimbunan_IdPenimbunan">@Html.Raw(penimbunanView.IdPenimbunan.Caption)</span></td>
        <td data-name="IdPenimbunan" @Html.Raw(penimbunanView.IdPenimbunan.CellAttributes)>
<span id="el_Penimbunan_IdPenimbunan">
<span @Html.Raw(penimbunanView.IdPenimbunan.ViewAttributes)>
@Html.Raw(penimbunanView.IdPenimbunan.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanView.IdPenimbunan.Visible (end) *@
@if (penimbunanView.Proses2.Visible) { // penimbunanView.Proses2.Visible (begin)
    <tr id="r_Proses2" @Html.Raw(penimbunanView.Proses2.RowAttributes)>
        <td class="@(penimbunanView.TableLeftColumnClass)"><span id="elh_Penimbunan_Proses2">@Html.Raw(penimbunanView.Proses2.Caption)</span></td>
        <td data-name="Proses2" @Html.Raw(penimbunanView.Proses2.CellAttributes)>
<span id="el_Penimbunan_Proses2">
<span @Html.Raw(penimbunanView.Proses2.ViewAttributes)>
@Html.Raw(penimbunanView.Proses2.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanView.Proses2.Visible (end) *@
@if (penimbunanView.NomorPenimbunan.Visible) { // penimbunanView.NomorPenimbunan.Visible (begin)
    <tr id="r_NomorPenimbunan" @Html.Raw(penimbunanView.NomorPenimbunan.RowAttributes)>
        <td class="@(penimbunanView.TableLeftColumnClass)"><span id="elh_Penimbunan_NomorPenimbunan">@Html.Raw(penimbunanView.NomorPenimbunan.Caption)</span></td>
        <td data-name="NomorPenimbunan" @Html.Raw(penimbunanView.NomorPenimbunan.CellAttributes)>
<span id="el_Penimbunan_NomorPenimbunan">
<span @Html.Raw(penimbunanView.NomorPenimbunan.ViewAttributes)>
@Html.Raw(penimbunanView.NomorPenimbunan.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanView.NomorPenimbunan.Visible (end) *@
@if (penimbunanView.IdTemplate.Visible) { // penimbunanView.IdTemplate.Visible (begin)
    <tr id="r_IdTemplate" @Html.Raw(penimbunanView.IdTemplate.RowAttributes)>
        <td class="@(penimbunanView.TableLeftColumnClass)"><span id="elh_Penimbunan_IdTemplate">@Html.Raw(penimbunanView.IdTemplate.Caption)</span></td>
        <td data-name="IdTemplate" @Html.Raw(penimbunanView.IdTemplate.CellAttributes)>
<span id="el_Penimbunan_IdTemplate">
<span @Html.Raw(penimbunanView.IdTemplate.ViewAttributes)>
@Html.Raw(penimbunanView.IdTemplate.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanView.IdTemplate.Visible (end) *@
@if (penimbunanView.LookupPlant.Visible) { // penimbunanView.LookupPlant.Visible (begin)
    <tr id="r_LookupPlant" @Html.Raw(penimbunanView.LookupPlant.RowAttributes)>
        <td class="@(penimbunanView.TableLeftColumnClass)"><span id="elh_Penimbunan_LookupPlant">@Html.Raw(penimbunanView.LookupPlant.Caption)</span></td>
        <td data-name="LookupPlant" @Html.Raw(penimbunanView.LookupPlant.CellAttributes)>
<span id="el_Penimbunan_LookupPlant">
<span @Html.Raw(penimbunanView.LookupPlant.ViewAttributes)>
@Html.Raw(penimbunanView.LookupPlant.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanView.LookupPlant.Visible (end) *@
@if (penimbunanView.Plant.Visible) { // penimbunanView.Plant.Visible (begin)
    <tr id="r_Plant" @Html.Raw(penimbunanView.Plant.RowAttributes)>
        <td class="@(penimbunanView.TableLeftColumnClass)"><span id="elh_Penimbunan_Plant">@Html.Raw(penimbunanView.Plant.Caption)</span></td>
        <td data-name="Plant" @Html.Raw(penimbunanView.Plant.CellAttributes)>
<span id="el_Penimbunan_Plant">
<span @Html.Raw(penimbunanView.Plant.ViewAttributes)>
@Html.Raw(penimbunanView.Plant.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanView.Plant.Visible (end) *@
@if (penimbunanView.IdPenerimaan.Visible) { // penimbunanView.IdPenerimaan.Visible (begin)
    <tr id="r_IdPenerimaan" @Html.Raw(penimbunanView.IdPenerimaan.RowAttributes)>
        <td class="@(penimbunanView.TableLeftColumnClass)"><span id="elh_Penimbunan_IdPenerimaan">@Html.Raw(penimbunanView.IdPenerimaan.Caption)</span></td>
        <td data-name="IdPenerimaan" @Html.Raw(penimbunanView.IdPenerimaan.CellAttributes)>
<span id="el_Penimbunan_IdPenerimaan">
<span @Html.Raw(penimbunanView.IdPenerimaan.ViewAttributes)>
@Html.Raw(penimbunanView.IdPenerimaan.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanView.IdPenerimaan.Visible (end) *@
@if (penimbunanView.IdTangki.Visible) { // penimbunanView.IdTangki.Visible (begin)
    <tr id="r_IdTangki" @Html.Raw(penimbunanView.IdTangki.RowAttributes)>
        <td class="@(penimbunanView.TableLeftColumnClass)"><span id="elh_Penimbunan_IdTangki">@Html.Raw(penimbunanView.IdTangki.Caption)</span></td>
        <td data-name="IdTangki" @Html.Raw(penimbunanView.IdTangki.CellAttributes)>
<span id="el_Penimbunan_IdTangki">
<span @Html.Raw(penimbunanView.IdTangki.ViewAttributes)>
@Html.Raw(penimbunanView.IdTangki.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanView.IdTangki.Visible (end) *@
@if (penimbunanView.StatusProses.Visible) { // penimbunanView.StatusProses.Visible (begin)
    <tr id="r_StatusProses" @Html.Raw(penimbunanView.StatusProses.RowAttributes)>
        <td class="@(penimbunanView.TableLeftColumnClass)"><span id="elh_Penimbunan_StatusProses">@Html.Raw(penimbunanView.StatusProses.Caption)</span></td>
        <td data-name="StatusProses" @Html.Raw(penimbunanView.StatusProses.CellAttributes)>
<span id="el_Penimbunan_StatusProses">
<span @Html.Raw(penimbunanView.StatusProses.ViewAttributes)>
@Html.Raw(penimbunanView.StatusProses.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanView.StatusProses.Visible (end) *@
@if (penimbunanView.PersentaseProgress.Visible) { // penimbunanView.PersentaseProgress.Visible (begin)
    <tr id="r_PersentaseProgress" @Html.Raw(penimbunanView.PersentaseProgress.RowAttributes)>
        <td class="@(penimbunanView.TableLeftColumnClass)"><span id="elh_Penimbunan_PersentaseProgress">@Html.Raw(penimbunanView.PersentaseProgress.Caption)</span></td>
        <td data-name="PersentaseProgress" @Html.Raw(penimbunanView.PersentaseProgress.CellAttributes)>
<span id="el_Penimbunan_PersentaseProgress">
<span @Html.Raw(penimbunanView.PersentaseProgress.ViewAttributes)>
@Html.Raw(penimbunanView.PersentaseProgress.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanView.PersentaseProgress.Visible (end) *@
@if (penimbunanView.Catatan.Visible) { // penimbunanView.Catatan.Visible (begin)
    <tr id="r_Catatan" @Html.Raw(penimbunanView.Catatan.RowAttributes)>
        <td class="@(penimbunanView.TableLeftColumnClass)"><span id="elh_Penimbunan_Catatan">@Html.Raw(penimbunanView.Catatan.Caption)</span></td>
        <td data-name="Catatan" @Html.Raw(penimbunanView.Catatan.CellAttributes)>
<span id="el_Penimbunan_Catatan">
<span @Html.Raw(penimbunanView.Catatan.ViewAttributes)>
@Html.Raw(penimbunanView.Catatan.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanView.Catatan.Visible (end) *@
@if (penimbunanView.DibuatOleh.Visible) { // penimbunanView.DibuatOleh.Visible (begin)
    <tr id="r_DibuatOleh" @Html.Raw(penimbunanView.DibuatOleh.RowAttributes)>
        <td class="@(penimbunanView.TableLeftColumnClass)"><span id="elh_Penimbunan_DibuatOleh">@Html.Raw(penimbunanView.DibuatOleh.Caption)</span></td>
        <td data-name="DibuatOleh" @Html.Raw(penimbunanView.DibuatOleh.CellAttributes)>
<span id="el_Penimbunan_DibuatOleh">
<span @Html.Raw(penimbunanView.DibuatOleh.ViewAttributes)>
@Html.Raw(penimbunanView.DibuatOleh.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanView.DibuatOleh.Visible (end) *@
@if (penimbunanView.TanggalDibuat.Visible) { // penimbunanView.TanggalDibuat.Visible (begin)
    <tr id="r_TanggalDibuat" @Html.Raw(penimbunanView.TanggalDibuat.RowAttributes)>
        <td class="@(penimbunanView.TableLeftColumnClass)"><span id="elh_Penimbunan_TanggalDibuat">@Html.Raw(penimbunanView.TanggalDibuat.Caption)</span></td>
        <td data-name="TanggalDibuat" @Html.Raw(penimbunanView.TanggalDibuat.CellAttributes)>
<span id="el_Penimbunan_TanggalDibuat">
<span @Html.Raw(penimbunanView.TanggalDibuat.ViewAttributes)>
@Html.Raw(penimbunanView.TanggalDibuat.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanView.TanggalDibuat.Visible (end) *@
@if (penimbunanView.DiperbaruiOleh.Visible) { // penimbunanView.DiperbaruiOleh.Visible (begin)
    <tr id="r_DiperbaruiOleh" @Html.Raw(penimbunanView.DiperbaruiOleh.RowAttributes)>
        <td class="@(penimbunanView.TableLeftColumnClass)"><span id="elh_Penimbunan_DiperbaruiOleh">@Html.Raw(penimbunanView.DiperbaruiOleh.Caption)</span></td>
        <td data-name="DiperbaruiOleh" @Html.Raw(penimbunanView.DiperbaruiOleh.CellAttributes)>
<span id="el_Penimbunan_DiperbaruiOleh">
<span @Html.Raw(penimbunanView.DiperbaruiOleh.ViewAttributes)>
@Html.Raw(penimbunanView.DiperbaruiOleh.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanView.DiperbaruiOleh.Visible (end) *@
@if (penimbunanView.TanggalDiperbarui.Visible) { // penimbunanView.TanggalDiperbarui.Visible (begin)
    <tr id="r_TanggalDiperbarui" @Html.Raw(penimbunanView.TanggalDiperbarui.RowAttributes)>
        <td class="@(penimbunanView.TableLeftColumnClass)"><span id="elh_Penimbunan_TanggalDiperbarui">@Html.Raw(penimbunanView.TanggalDiperbarui.Caption)</span></td>
        <td data-name="TanggalDiperbarui" @Html.Raw(penimbunanView.TanggalDiperbarui.CellAttributes)>
<span id="el_Penimbunan_TanggalDiperbarui">
<span @Html.Raw(penimbunanView.TanggalDiperbarui.ViewAttributes)>
@Html.Raw(penimbunanView.TanggalDiperbarui.GetViewValue())</span>
</span></td>
    </tr>
} @* penimbunanView.TanggalDiperbarui.Visible (end) *@
</table>
@{ penimbunanView.CloseRecordset(); }
</form>
</main>
@penimbunanView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!penimbunanView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
