@{
    // View
    View = this;

    // Check action result
    if (penimbunanPenyaluranSearch.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = penimbunanPenyaluranSearch.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(penimbunanPenyaluranSearch.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { PenimbunanPenyaluran: currentTable } });
var currentPageID = ew.PAGE_ID = "search";
var currentForm;
var fPenimbunanPenyaluransearch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fPenimbunanPenyaluransearch")
        .setPageId("search")
@if (penimbunanPenyaluranSearch.IsModal && penimbunanPenyaluranSearch.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Add fields
        .setFields([

            ["IdModa", [], fields.IdModa.isInvalid],
            ["LookupNoPenyaluran", [], fields.LookupNoPenyaluran.isInvalid],
            ["TanggalDibuat", [], fields.TanggalDibuat.isInvalid],
            ["y_TanggalDibuat", [ew.Validators.between], false],
            ["TanggalDiperbarui", [], fields.TanggalDiperbarui.isInvalid],
            ["y_TanggalDiperbarui", [ew.Validators.between], false]
        ])
        // Validate form
        .setValidate(
            async function () {
                if (!this.validateRequired)
                    return true; // Ignore validation
                let fobj = this.getForm();

                // Validate fields
                if (!this.validateFields())
                    return false;

                // Call Form_CustomValidate event
                if (!(await this.customValidate?.(fobj) ?? true)) {
                    this.focus();
                    return false;
                }
                return true;
            }
        )

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "IdModa": @Html.Raw(penimbunanPenyaluranSearch.IdModa.ToClientList(penimbunanPenyaluranSearch)),
            "LookupNoPenyaluran": @Html.Raw(penimbunanPenyaluranSearch.LookupNoPenyaluran.ToClientList(penimbunanPenyaluranSearch)),
        })
        .build();
    window[form.id] = form;
@if (penimbunanPenyaluranSearch.IsModal) {
    <text>currentAdvancedSearchForm = form;</text>
} else {
    <text>currentForm = form;</text>
}
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@penimbunanPenyaluranSearch.ShowPageHeader()
@penimbunanPenyaluranSearch.ShowMessages()
<form name="fPenimbunanPenyaluransearch" id="fPenimbunanPenyaluransearch" class="@(penimbunanPenyaluranSearch.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="search">
@if (penimbunanPenyaluranSearch.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div class="ew-search-div"><!-- page* -->
@if (penimbunanPenyaluranSearch.IdModa.Visible) { // penimbunanPenyaluranSearch.IdModa.Visible (begin)
    <div id="r_IdModa" class="row" @Html.Raw(penimbunanPenyaluranSearch.IdModa.RowAttributes)>
        <label for="x_IdModa" class="@(penimbunanPenyaluranSearch.LeftColumnClass)"><span id="elh_PenimbunanPenyaluran_IdModa">@Html.Raw(penimbunanPenyaluranSearch.IdModa.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("="))
<input type="hidden" name="z_IdModa" id="z_IdModa" value="=">
</span>
        </label>
        <div class="@(penimbunanPenyaluranSearch.RightColumnClass)">
            <div @Html.Raw(penimbunanPenyaluranSearch.IdModa.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_PenimbunanPenyaluran_IdModa" class="ew-search-field ew-search-field-single">
    <select
        id="x_IdModa"
        name="x_IdModa"
        class="form-select ew-select@(penimbunanPenyaluranSearch.IdModa.IsInvalidClass)"
        data-select2-id="fPenimbunanPenyaluransearch_x_IdModa"
        data-table="PenimbunanPenyaluran"
        data-field="x_IdModa"
        data-value-separator="@(penimbunanPenyaluranSearch.IdModa.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(penimbunanPenyaluranSearch.IdModa.PlaceHolder))"
        @Html.Raw(penimbunanPenyaluranSearch.IdModa.EditAttributes)>
        @(penimbunanPenyaluranSearch.IdModa.SelectOptionListHtml("x_IdModa"))
    </select>
    <div class="invalid-feedback">@Html.Raw(penimbunanPenyaluranSearch.IdModa.GetErrorMessage(false))</div>
@Html.Raw(penimbunanPenyaluranSearch.IdModa.Lookup.GetParamTag(penimbunanPenyaluranSearch, "p_x_IdModa"))
<script>
loadjs.ready("fPenimbunanPenyaluransearch", function() {
    var options = { name: "x_IdModa", selectId: "fPenimbunanPenyaluransearch_x_IdModa" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fPenimbunanPenyaluransearch.lists.IdModa?.lookupOptions.length) {
        options.data = { id: "x_IdModa", form: "fPenimbunanPenyaluransearch" };
    } else {
        options.ajax = { id: "x_IdModa", form: "fPenimbunanPenyaluransearch", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumInputLength = ew.selectMinimumInputLength;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.PenimbunanPenyaluran.fields.IdModa.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
                </div>
            </div>
        </div>
    </div>
} @* penimbunanPenyaluranSearch.IdModa.Visible (end) *@
@if (penimbunanPenyaluranSearch.LookupNoPenyaluran.Visible) { // penimbunanPenyaluranSearch.LookupNoPenyaluran.Visible (begin)
    <div id="r_LookupNoPenyaluran" class="row" @Html.Raw(penimbunanPenyaluranSearch.LookupNoPenyaluran.RowAttributes)>
        <label for="x_LookupNoPenyaluran" class="@(penimbunanPenyaluranSearch.LeftColumnClass)"><span id="elh_PenimbunanPenyaluran_LookupNoPenyaluran">@Html.Raw(penimbunanPenyaluranSearch.LookupNoPenyaluran.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("LIKE"))
<input type="hidden" name="z_LookupNoPenyaluran" id="z_LookupNoPenyaluran" value="LIKE">
</span>
        </label>
        <div class="@(penimbunanPenyaluranSearch.RightColumnClass)">
            <div @Html.Raw(penimbunanPenyaluranSearch.LookupNoPenyaluran.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_PenimbunanPenyaluran_LookupNoPenyaluran" class="ew-search-field ew-search-field-single">
    <select
        id="x_LookupNoPenyaluran"
        name="x_LookupNoPenyaluran"
        class="form-select ew-select@(penimbunanPenyaluranSearch.LookupNoPenyaluran.IsInvalidClass)"
        data-select2-id="fPenimbunanPenyaluransearch_x_LookupNoPenyaluran"
        data-table="PenimbunanPenyaluran"
        data-field="x_LookupNoPenyaluran"
        data-value-separator="@(penimbunanPenyaluranSearch.LookupNoPenyaluran.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(penimbunanPenyaluranSearch.LookupNoPenyaluran.PlaceHolder))"
        @Html.Raw(penimbunanPenyaluranSearch.LookupNoPenyaluran.EditAttributes)>
        @(penimbunanPenyaluranSearch.LookupNoPenyaluran.SelectOptionListHtml("x_LookupNoPenyaluran"))
    </select>
    <div class="invalid-feedback">@Html.Raw(penimbunanPenyaluranSearch.LookupNoPenyaluran.GetErrorMessage(false))</div>
<script>
loadjs.ready("fPenimbunanPenyaluransearch", function() {
    var options = { name: "x_LookupNoPenyaluran", selectId: "fPenimbunanPenyaluransearch_x_LookupNoPenyaluran" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fPenimbunanPenyaluransearch.lists.LookupNoPenyaluran?.lookupOptions.length) {
        options.data = { id: "x_LookupNoPenyaluran", form: "fPenimbunanPenyaluransearch" };
    } else {
        options.ajax = { id: "x_LookupNoPenyaluran", form: "fPenimbunanPenyaluransearch", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumInputLength = ew.selectMinimumInputLength;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.PenimbunanPenyaluran.fields.LookupNoPenyaluran.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
                </div>
            </div>
        </div>
    </div>
} @* penimbunanPenyaluranSearch.LookupNoPenyaluran.Visible (end) *@
@if (penimbunanPenyaluranSearch.TanggalDibuat.Visible) { // penimbunanPenyaluranSearch.TanggalDibuat.Visible (begin)
    <div id="r_TanggalDibuat" class="row" @Html.Raw(penimbunanPenyaluranSearch.TanggalDibuat.RowAttributes)>
        <label class="@(penimbunanPenyaluranSearch.LeftColumnClass)"><span id="elh_PenimbunanPenyaluran_TanggalDibuat">@Html.Raw(penimbunanPenyaluranSearch.TanggalDibuat.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("BETWEEN"))
<input type="hidden" name="z_TanggalDibuat" id="z_TanggalDibuat" value="BETWEEN">
</span>
        </label>
        <div class="@(penimbunanPenyaluranSearch.RightColumnClass)">
            <div @Html.Raw(penimbunanPenyaluranSearch.TanggalDibuat.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_PenimbunanPenyaluran_TanggalDibuat" class="ew-search-field">
<input type="@(penimbunanPenyaluranSearch.TanggalDibuat.InputTextType)" name="x_TanggalDibuat" id="x_TanggalDibuat" data-table="PenimbunanPenyaluran" data-field="x_TanggalDibuat" value="@Html.Raw(penimbunanPenyaluranSearch.TanggalDibuat.EditValue)" placeholder="@Html.Raw(HtmlEncode(penimbunanPenyaluranSearch.TanggalDibuat.PlaceHolder))" data-format-pattern="@(penimbunanPenyaluranSearch.TanggalDibuat.FormatPattern)"@Html.Raw(penimbunanPenyaluranSearch.TanggalDibuat.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(penimbunanPenyaluranSearch.TanggalDibuat.GetErrorMessage(false))</div>
@if (!penimbunanPenyaluranSearch.TanggalDibuat.ReadOnly && !penimbunanPenyaluranSearch.TanggalDibuat.Disabled && !penimbunanPenyaluranSearch.TanggalDibuat.EditAttrs.Is("readonly") && !penimbunanPenyaluranSearch.TanggalDibuat.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fPenimbunanPenyaluransearch", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fPenimbunanPenyaluransearch", "x_TanggalDibuat", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
                    <span class="ew-search-and"><label>@Html.Raw(Language.Phrase("AND"))</label></span>
                    <span id="el2_PenimbunanPenyaluran_TanggalDibuat" class="ew-search-field2">
<input type="@(penimbunanPenyaluranSearch.TanggalDibuat.InputTextType)" name="y_TanggalDibuat" id="y_TanggalDibuat" data-table="PenimbunanPenyaluran" data-field="x_TanggalDibuat" value="@Html.Raw(penimbunanPenyaluranSearch.TanggalDibuat.EditValue2)" placeholder="@Html.Raw(HtmlEncode(penimbunanPenyaluranSearch.TanggalDibuat.PlaceHolder))" data-format-pattern="@(penimbunanPenyaluranSearch.TanggalDibuat.FormatPattern)"@Html.Raw(penimbunanPenyaluranSearch.TanggalDibuat.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(penimbunanPenyaluranSearch.TanggalDibuat.GetErrorMessage(false))</div>
@if (!penimbunanPenyaluranSearch.TanggalDibuat.ReadOnly && !penimbunanPenyaluranSearch.TanggalDibuat.Disabled && !penimbunanPenyaluranSearch.TanggalDibuat.EditAttrs.Is("readonly") && !penimbunanPenyaluranSearch.TanggalDibuat.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fPenimbunanPenyaluransearch", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fPenimbunanPenyaluransearch", "y_TanggalDibuat", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
                </div>
            </div>
        </div>
    </div>
} @* penimbunanPenyaluranSearch.TanggalDibuat.Visible (end) *@
@if (penimbunanPenyaluranSearch.TanggalDiperbarui.Visible) { // penimbunanPenyaluranSearch.TanggalDiperbarui.Visible (begin)
    <div id="r_TanggalDiperbarui" class="row" @Html.Raw(penimbunanPenyaluranSearch.TanggalDiperbarui.RowAttributes)>
        <label class="@(penimbunanPenyaluranSearch.LeftColumnClass)"><span id="elh_PenimbunanPenyaluran_TanggalDiperbarui">@Html.Raw(penimbunanPenyaluranSearch.TanggalDiperbarui.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("BETWEEN"))
<input type="hidden" name="z_TanggalDiperbarui" id="z_TanggalDiperbarui" value="BETWEEN">
</span>
        </label>
        <div class="@(penimbunanPenyaluranSearch.RightColumnClass)">
            <div @Html.Raw(penimbunanPenyaluranSearch.TanggalDiperbarui.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_PenimbunanPenyaluran_TanggalDiperbarui" class="ew-search-field">
<input type="@(penimbunanPenyaluranSearch.TanggalDiperbarui.InputTextType)" name="x_TanggalDiperbarui" id="x_TanggalDiperbarui" data-table="PenimbunanPenyaluran" data-field="x_TanggalDiperbarui" value="@Html.Raw(penimbunanPenyaluranSearch.TanggalDiperbarui.EditValue)" placeholder="@Html.Raw(HtmlEncode(penimbunanPenyaluranSearch.TanggalDiperbarui.PlaceHolder))" data-format-pattern="@(penimbunanPenyaluranSearch.TanggalDiperbarui.FormatPattern)"@Html.Raw(penimbunanPenyaluranSearch.TanggalDiperbarui.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(penimbunanPenyaluranSearch.TanggalDiperbarui.GetErrorMessage(false))</div>
@if (!penimbunanPenyaluranSearch.TanggalDiperbarui.ReadOnly && !penimbunanPenyaluranSearch.TanggalDiperbarui.Disabled && !penimbunanPenyaluranSearch.TanggalDiperbarui.EditAttrs.Is("readonly") && !penimbunanPenyaluranSearch.TanggalDiperbarui.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fPenimbunanPenyaluransearch", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fPenimbunanPenyaluransearch", "x_TanggalDiperbarui", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
                    <span class="ew-search-and"><label>@Html.Raw(Language.Phrase("AND"))</label></span>
                    <span id="el2_PenimbunanPenyaluran_TanggalDiperbarui" class="ew-search-field2">
<input type="@(penimbunanPenyaluranSearch.TanggalDiperbarui.InputTextType)" name="y_TanggalDiperbarui" id="y_TanggalDiperbarui" data-table="PenimbunanPenyaluran" data-field="x_TanggalDiperbarui" value="@Html.Raw(penimbunanPenyaluranSearch.TanggalDiperbarui.EditValue2)" placeholder="@Html.Raw(HtmlEncode(penimbunanPenyaluranSearch.TanggalDiperbarui.PlaceHolder))" data-format-pattern="@(penimbunanPenyaluranSearch.TanggalDiperbarui.FormatPattern)"@Html.Raw(penimbunanPenyaluranSearch.TanggalDiperbarui.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(penimbunanPenyaluranSearch.TanggalDiperbarui.GetErrorMessage(false))</div>
@if (!penimbunanPenyaluranSearch.TanggalDiperbarui.ReadOnly && !penimbunanPenyaluranSearch.TanggalDiperbarui.Disabled && !penimbunanPenyaluranSearch.TanggalDiperbarui.EditAttrs.Is("readonly") && !penimbunanPenyaluranSearch.TanggalDiperbarui.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fPenimbunanPenyaluransearch", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fPenimbunanPenyaluransearch", "y_TanggalDiperbarui", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
                </div>
            </div>
        </div>
    </div>
} @* penimbunanPenyaluranSearch.TanggalDiperbarui.Visible (end) *@
</div><!-- /page* -->
@Html.Raw(penimbunanPenyaluranSearch.IsModal ? Html.Raw("<template class=\"ew-modal-buttons\">") : Html.Raw("<div class=\"row ew-buttons\">"))<!-- buttons .row -->
    <div class="@(penimbunanPenyaluranSearch.OffsetColumnClass)"><!-- buttons offset -->
        <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fPenimbunanPenyaluransearch">@Html.Raw(Language.Phrase("Search"))</button>
@if (penimbunanPenyaluranSearch.IsModal) {
        <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fPenimbunanPenyaluransearch">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
        <button class="btn btn-default ew-btn" name="btn-reset" id="btn-reset" type="button" form="fPenimbunanPenyaluransearch" data-ew-action="reload">@Html.Raw(Language.Phrase("Reset"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(penimbunanPenyaluranSearch.IsModal ? Html.Raw("</template>") : Html.Raw("</div>"))<!-- /buttons .row -->
</form>
@penimbunanPenyaluranSearch.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("PenimbunanPenyaluran");
});
</script>
<script>
loadjs.ready("load", function() {
    // Startup script
    $('.ew-search-operator').hide();
    $('.ew-search-and').hide();
    $('.ew-search-field2').addClass('ew-search-field').removeClass('ew-search-field2');
    $('.ew-search-field').addClass('align-items-center');
    $('.modal-header').addClass('bg-primary');
    const fromEl = '<p class="p-0 m-0 fw-bold me-2" style="width: 80px;">Start Date</p>';
    const toEl = '<p class="p-0 m-0 fw-bold mx-2" style="width: 70px;">End Date</p>';
    $('#datetimepicker_fPenerimaansearch_x_TanggalDibuat').before(fromEl);
    $('#datetimepicker_fPenerimaansearch_y_TanggalDibuat').before(toEl);
    $('#datetimepicker_fPenerimaansearch_x_TanggalDiperbarui').before(fromEl);
    $('#datetimepicker_fPenerimaansearch_y_TanggalDiperbarui').before(toEl);
});
</script>
