@{
    // View
    View = this;

    // Check action result
    if (penimbunanPenyaluranEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = penimbunanPenyaluranEdit.UseLayout ? "_Layout" : "";
}
@penimbunanPenyaluranEdit.ShowPageHeader()
@penimbunanPenyaluranEdit.ShowMessages()
<main class="edit">
<form name="fPenimbunanPenyaluranedit" id="fPenimbunanPenyaluranedit" class="@(penimbunanPenyaluranEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(penimbunanPenyaluranEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { PenimbunanPenyaluran: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fPenimbunanPenyaluranedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fPenimbunanPenyaluranedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["NomorPenimbunanPenyaluran", [fields.NomorPenimbunanPenyaluran.visible && fields.NomorPenimbunanPenyaluran.required ? ew.Validators.required(fields.NomorPenimbunanPenyaluran.caption) : null], fields.NomorPenimbunanPenyaluran.isInvalid],
            ["Plant", [fields.Plant.visible && fields.Plant.required ? ew.Validators.required(fields.Plant.caption) : null], fields.Plant.isInvalid],
            ["TipeProdukSTS", [fields.TipeProdukSTS.visible && fields.TipeProdukSTS.required ? ew.Validators.required(fields.TipeProdukSTS.caption) : null], fields.TipeProdukSTS.isInvalid],
            ["TipePenyaluran", [fields.TipePenyaluran.visible && fields.TipePenyaluran.required ? ew.Validators.required(fields.TipePenyaluran.caption) : null], fields.TipePenyaluran.isInvalid],
            ["JenisProduk", [fields.JenisProduk.visible && fields.JenisProduk.required ? ew.Validators.required(fields.JenisProduk.caption) : null], fields.JenisProduk.isInvalid],
            ["IdModa", [fields.IdModa.visible && fields.IdModa.required ? ew.Validators.required(fields.IdModa.caption) : null], fields.IdModa.isInvalid],
            ["IdTangki", [fields.IdTangki.visible && fields.IdTangki.required ? ew.Validators.required(fields.IdTangki.caption) : null], fields.IdTangki.isInvalid],
            ["StatusProses", [fields.StatusProses.visible && fields.StatusProses.required ? ew.Validators.required(fields.StatusProses.caption) : null], fields.StatusProses.isInvalid],
            ["NoPenyaluran", [fields.NoPenyaluran.visible && fields.NoPenyaluran.required ? ew.Validators.required(fields.NoPenyaluran.caption) : null], fields.NoPenyaluran.isInvalid],
            ["PersentaseProgress", [fields.PersentaseProgress.visible && fields.PersentaseProgress.required ? ew.Validators.required(fields.PersentaseProgress.caption) : null], fields.PersentaseProgress.isInvalid],
            ["Catatan", [fields.Catatan.visible && fields.Catatan.required ? ew.Validators.required(fields.Catatan.caption) : null], fields.Catatan.isInvalid],
            ["PlantForLookup", [fields.PlantForLookup.visible && fields.PlantForLookup.required ? ew.Validators.required(fields.PlantForLookup.caption) : null], fields.PlantForLookup.isInvalid],
            ["LookupTipeProduk", [fields.LookupTipeProduk.visible && fields.LookupTipeProduk.required ? ew.Validators.required(fields.LookupTipeProduk.caption) : null], fields.LookupTipeProduk.isInvalid],
            ["LookupJenisPlant", [fields.LookupJenisPlant.visible && fields.LookupJenisPlant.required ? ew.Validators.required(fields.LookupJenisPlant.caption) : null], fields.LookupJenisPlant.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Client script
    // Write your client script here, no need to add script tags.
    $('#fPenimbunanPenyaluranedit').on('submit', function (e) {
        e.preventDefault();
        showLoading();
        setTimeout(() => {
            hideLoading();
        }, 3000);
        this.requestSubmit();
    });
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(penimbunanPenyaluranEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(penimbunanPenyaluranEdit.OldKeyName)" value="@Html.Raw(penimbunanPenyaluranEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (penimbunanPenyaluranEdit.NomorPenimbunanPenyaluran.Visible) { // penimbunanPenyaluranEdit.NomorPenimbunanPenyaluran.Visible (begin)
    <div id="r_NomorPenimbunanPenyaluran" @Html.Raw(penimbunanPenyaluranEdit.NomorPenimbunanPenyaluran.RowAttributes)>
        <label id="elh_PenimbunanPenyaluran_NomorPenimbunanPenyaluran" for="x_NomorPenimbunanPenyaluran" class="@(penimbunanPenyaluranEdit.LeftColumnClass)">@Html.Raw(penimbunanPenyaluranEdit.NomorPenimbunanPenyaluran.Caption)@Html.Raw(penimbunanPenyaluranEdit.NomorPenimbunanPenyaluran.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(penimbunanPenyaluranEdit.RightColumnClass)"><div @Html.Raw(penimbunanPenyaluranEdit.NomorPenimbunanPenyaluran.CellAttributes)>
<span id="el_PenimbunanPenyaluran_NomorPenimbunanPenyaluran">
<span @Html.Raw(penimbunanPenyaluranEdit.NomorPenimbunanPenyaluran.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(penimbunanPenyaluranEdit.NomorPenimbunanPenyaluran.EditValue)))"></span>
<input type="hidden" data-table="PenimbunanPenyaluran" data-field="x_NomorPenimbunanPenyaluran" data-hidden="1" name="x_NomorPenimbunanPenyaluran" id="x_NomorPenimbunanPenyaluran" value="@Html.Raw(HtmlEncode(penimbunanPenyaluranEdit.NomorPenimbunanPenyaluran.CurrentValue))">
</span>
</div></div>
    </div>
} @* penimbunanPenyaluranEdit.NomorPenimbunanPenyaluran.Visible (end) *@
@if (penimbunanPenyaluranEdit.Plant.Visible) { // penimbunanPenyaluranEdit.Plant.Visible (begin)
    <div id="r_Plant" @Html.Raw(penimbunanPenyaluranEdit.Plant.RowAttributes)>
        <label id="elh_PenimbunanPenyaluran_Plant" class="@(penimbunanPenyaluranEdit.LeftColumnClass)">@Html.Raw(penimbunanPenyaluranEdit.Plant.Caption)@Html.Raw(penimbunanPenyaluranEdit.Plant.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(penimbunanPenyaluranEdit.RightColumnClass)"><div @Html.Raw(penimbunanPenyaluranEdit.Plant.CellAttributes)>
<span id="el_PenimbunanPenyaluran_Plant">
<span @Html.Raw(penimbunanPenyaluranEdit.Plant.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(penimbunanPenyaluranEdit.Plant.DisplayValue(penimbunanPenyaluranEdit.Plant.EditValue))</span></span>
<input type="hidden" data-table="PenimbunanPenyaluran" data-field="x_Plant" data-hidden="1" name="x_Plant" id="x_Plant" value="@Html.Raw(HtmlEncode(penimbunanPenyaluranEdit.Plant.CurrentValue))">
</span>
</div></div>
    </div>
} @* penimbunanPenyaluranEdit.Plant.Visible (end) *@
@if (penimbunanPenyaluranEdit.TipeProdukSTS.Visible) { // penimbunanPenyaluranEdit.TipeProdukSTS.Visible (begin)
    <div id="r_TipeProdukSTS" @Html.Raw(penimbunanPenyaluranEdit.TipeProdukSTS.RowAttributes)>
        <label id="elh_PenimbunanPenyaluran_TipeProdukSTS" for="x_TipeProdukSTS" class="@(penimbunanPenyaluranEdit.LeftColumnClass)">@Html.Raw(penimbunanPenyaluranEdit.TipeProdukSTS.Caption)@Html.Raw(penimbunanPenyaluranEdit.TipeProdukSTS.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(penimbunanPenyaluranEdit.RightColumnClass)"><div @Html.Raw(penimbunanPenyaluranEdit.TipeProdukSTS.CellAttributes)>
<span id="el_PenimbunanPenyaluran_TipeProdukSTS">
<span @Html.Raw(penimbunanPenyaluranEdit.TipeProdukSTS.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(penimbunanPenyaluranEdit.TipeProdukSTS.DisplayValue(penimbunanPenyaluranEdit.TipeProdukSTS.EditValue))</span></span>
<input type="hidden" data-table="PenimbunanPenyaluran" data-field="x_TipeProdukSTS" data-hidden="1" name="x_TipeProdukSTS" id="x_TipeProdukSTS" value="@Html.Raw(HtmlEncode(penimbunanPenyaluranEdit.TipeProdukSTS.CurrentValue))">
</span>
</div></div>
    </div>
} @* penimbunanPenyaluranEdit.TipeProdukSTS.Visible (end) *@
@if (penimbunanPenyaluranEdit.TipePenyaluran.Visible) { // penimbunanPenyaluranEdit.TipePenyaluran.Visible (begin)
    <div id="r_TipePenyaluran" @Html.Raw(penimbunanPenyaluranEdit.TipePenyaluran.RowAttributes)>
        <label id="elh_PenimbunanPenyaluran_TipePenyaluran" for="x_TipePenyaluran" class="@(penimbunanPenyaluranEdit.LeftColumnClass)">@Html.Raw(penimbunanPenyaluranEdit.TipePenyaluran.Caption)@Html.Raw(penimbunanPenyaluranEdit.TipePenyaluran.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(penimbunanPenyaluranEdit.RightColumnClass)"><div @Html.Raw(penimbunanPenyaluranEdit.TipePenyaluran.CellAttributes)>
<span id="el_PenimbunanPenyaluran_TipePenyaluran">
<span @Html.Raw(penimbunanPenyaluranEdit.TipePenyaluran.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(penimbunanPenyaluranEdit.TipePenyaluran.DisplayValue(penimbunanPenyaluranEdit.TipePenyaluran.EditValue))</span></span>
<input type="hidden" data-table="PenimbunanPenyaluran" data-field="x_TipePenyaluran" data-hidden="1" name="x_TipePenyaluran" id="x_TipePenyaluran" value="@Html.Raw(HtmlEncode(penimbunanPenyaluranEdit.TipePenyaluran.CurrentValue))">
</span>
</div></div>
    </div>
} @* penimbunanPenyaluranEdit.TipePenyaluran.Visible (end) *@
@if (penimbunanPenyaluranEdit.JenisProduk.Visible) { // penimbunanPenyaluranEdit.JenisProduk.Visible (begin)
    <div id="r_JenisProduk" @Html.Raw(penimbunanPenyaluranEdit.JenisProduk.RowAttributes)>
        <label id="elh_PenimbunanPenyaluran_JenisProduk" for="x_JenisProduk" class="@(penimbunanPenyaluranEdit.LeftColumnClass)">@Html.Raw(penimbunanPenyaluranEdit.JenisProduk.Caption)@Html.Raw(penimbunanPenyaluranEdit.JenisProduk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(penimbunanPenyaluranEdit.RightColumnClass)"><div @Html.Raw(penimbunanPenyaluranEdit.JenisProduk.CellAttributes)>
<span id="el_PenimbunanPenyaluran_JenisProduk">
<span @Html.Raw(penimbunanPenyaluranEdit.JenisProduk.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(penimbunanPenyaluranEdit.JenisProduk.DisplayValue(penimbunanPenyaluranEdit.JenisProduk.EditValue))</span></span>
<input type="hidden" data-table="PenimbunanPenyaluran" data-field="x_JenisProduk" data-hidden="1" name="x_JenisProduk" id="x_JenisProduk" value="@Html.Raw(HtmlEncode(penimbunanPenyaluranEdit.JenisProduk.CurrentValue))">
</span>
</div></div>
    </div>
} @* penimbunanPenyaluranEdit.JenisProduk.Visible (end) *@
@if (penimbunanPenyaluranEdit.IdModa.Visible) { // penimbunanPenyaluranEdit.IdModa.Visible (begin)
    <div id="r_IdModa" @Html.Raw(penimbunanPenyaluranEdit.IdModa.RowAttributes)>
        <label id="elh_PenimbunanPenyaluran_IdModa" for="x_IdModa" class="@(penimbunanPenyaluranEdit.LeftColumnClass)">@Html.Raw(penimbunanPenyaluranEdit.IdModa.Caption)@Html.Raw(penimbunanPenyaluranEdit.IdModa.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(penimbunanPenyaluranEdit.RightColumnClass)"><div @Html.Raw(penimbunanPenyaluranEdit.IdModa.CellAttributes)>
<span id="el_PenimbunanPenyaluran_IdModa">
<span @Html.Raw(penimbunanPenyaluranEdit.IdModa.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(penimbunanPenyaluranEdit.IdModa.DisplayValue(penimbunanPenyaluranEdit.IdModa.EditValue))</span></span>
<input type="hidden" data-table="PenimbunanPenyaluran" data-field="x_IdModa" data-hidden="1" name="x_IdModa" id="x_IdModa" value="@Html.Raw(HtmlEncode(penimbunanPenyaluranEdit.IdModa.CurrentValue))">
</span>
</div></div>
    </div>
} @* penimbunanPenyaluranEdit.IdModa.Visible (end) *@
@if (penimbunanPenyaluranEdit.IdTangki.Visible) { // penimbunanPenyaluranEdit.IdTangki.Visible (begin)
    <div id="r_IdTangki" @Html.Raw(penimbunanPenyaluranEdit.IdTangki.RowAttributes)>
        <label id="elh_PenimbunanPenyaluran_IdTangki" for="x_IdTangki" class="@(penimbunanPenyaluranEdit.LeftColumnClass)">@Html.Raw(penimbunanPenyaluranEdit.IdTangki.Caption)@Html.Raw(penimbunanPenyaluranEdit.IdTangki.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(penimbunanPenyaluranEdit.RightColumnClass)"><div @Html.Raw(penimbunanPenyaluranEdit.IdTangki.CellAttributes)>
<span id="el_PenimbunanPenyaluran_IdTangki">
<span @Html.Raw(penimbunanPenyaluranEdit.IdTangki.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(penimbunanPenyaluranEdit.IdTangki.DisplayValue(penimbunanPenyaluranEdit.IdTangki.EditValue))</span></span>
<input type="hidden" data-table="PenimbunanPenyaluran" data-field="x_IdTangki" data-hidden="1" name="x_IdTangki" id="x_IdTangki" value="@Html.Raw(HtmlEncode(penimbunanPenyaluranEdit.IdTangki.CurrentValue))">
</span>
</div></div>
    </div>
} @* penimbunanPenyaluranEdit.IdTangki.Visible (end) *@
@if (penimbunanPenyaluranEdit.NoPenyaluran.Visible) { // penimbunanPenyaluranEdit.NoPenyaluran.Visible (begin)
    <div id="r_NoPenyaluran" @Html.Raw(penimbunanPenyaluranEdit.NoPenyaluran.RowAttributes)>
        <label id="elh_PenimbunanPenyaluran_NoPenyaluran" for="x_NoPenyaluran" class="@(penimbunanPenyaluranEdit.LeftColumnClass)">@Html.Raw(penimbunanPenyaluranEdit.NoPenyaluran.Caption)@Html.Raw(penimbunanPenyaluranEdit.NoPenyaluran.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(penimbunanPenyaluranEdit.RightColumnClass)"><div @Html.Raw(penimbunanPenyaluranEdit.NoPenyaluran.CellAttributes)>
<span id="el_PenimbunanPenyaluran_NoPenyaluran">
<span @Html.Raw(penimbunanPenyaluranEdit.NoPenyaluran.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(penimbunanPenyaluranEdit.NoPenyaluran.EditValue)))"></span>
<input type="hidden" data-table="PenimbunanPenyaluran" data-field="x_NoPenyaluran" data-hidden="1" name="x_NoPenyaluran" id="x_NoPenyaluran" value="@Html.Raw(HtmlEncode(penimbunanPenyaluranEdit.NoPenyaluran.CurrentValue))">
</span>
</div></div>
    </div>
} @* penimbunanPenyaluranEdit.NoPenyaluran.Visible (end) *@
@if (penimbunanPenyaluranEdit.Catatan.Visible) { // penimbunanPenyaluranEdit.Catatan.Visible (begin)
    <div id="r_Catatan" @Html.Raw(penimbunanPenyaluranEdit.Catatan.RowAttributes)>
        <label id="elh_PenimbunanPenyaluran_Catatan" for="x_Catatan" class="@(penimbunanPenyaluranEdit.LeftColumnClass)">@Html.Raw(penimbunanPenyaluranEdit.Catatan.Caption)@Html.Raw(penimbunanPenyaluranEdit.Catatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(penimbunanPenyaluranEdit.RightColumnClass)"><div @Html.Raw(penimbunanPenyaluranEdit.Catatan.CellAttributes)>
<span id="el_PenimbunanPenyaluran_Catatan">
<textarea data-table="PenimbunanPenyaluran" data-field="x_Catatan" name="x_Catatan" id="x_Catatan" cols="35" rows="4" placeholder="@Html.Raw(HtmlEncode(penimbunanPenyaluranEdit.Catatan.PlaceHolder))"@Html.Raw(penimbunanPenyaluranEdit.Catatan.EditAttributes) aria-describedby="x_Catatan_help">@(penimbunanPenyaluranEdit.Catatan.EditValue)</textarea>
@Html.Raw(penimbunanPenyaluranEdit.Catatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(penimbunanPenyaluranEdit.Catatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* penimbunanPenyaluranEdit.Catatan.Visible (end) *@
</div><!-- /page* -->
<span id="el_PenimbunanPenyaluran_StatusProses">
<input type="hidden" data-table="PenimbunanPenyaluran" data-field="x_StatusProses" data-hidden="1" name="x_StatusProses" id="x_StatusProses" value="@Html.Raw(HtmlEncode(penimbunanPenyaluranEdit.StatusProses.CurrentValue))">
</span>
<span id="el_PenimbunanPenyaluran_PersentaseProgress">
<input type="hidden" data-table="PenimbunanPenyaluran" data-field="x_PersentaseProgress" data-hidden="1" name="x_PersentaseProgress" id="x_PersentaseProgress" value="@Html.Raw(HtmlEncode(penimbunanPenyaluranEdit.PersentaseProgress.CurrentValue))">
</span>
<span id="el_PenimbunanPenyaluran_PlantForLookup">
<input type="hidden" data-table="PenimbunanPenyaluran" data-field="x_PlantForLookup" data-hidden="1" name="x_PlantForLookup" id="x_PlantForLookup" value="@Html.Raw(HtmlEncode(penimbunanPenyaluranEdit.PlantForLookup.CurrentValue))">
</span>
<span id="el_PenimbunanPenyaluran_LookupTipeProduk">
<input type="hidden" data-table="PenimbunanPenyaluran" data-field="x_LookupTipeProduk" data-hidden="1" name="x_LookupTipeProduk" id="x_LookupTipeProduk" value="@Html.Raw(HtmlEncode(penimbunanPenyaluranEdit.LookupTipeProduk.CurrentValue))">
</span>
<span id="el_PenimbunanPenyaluran_LookupJenisPlant">
<input type="hidden" data-table="PenimbunanPenyaluran" data-field="x_LookupJenisPlant" data-hidden="1" name="x_LookupJenisPlant" id="x_LookupJenisPlant" value="@Html.Raw(HtmlEncode(penimbunanPenyaluranEdit.LookupJenisPlant.CurrentValue))">
</span>
    <input type="hidden" data-table="PenimbunanPenyaluran" data-field="x_IdPenimbunanPenyaluran" data-hidden="1" name="x_IdPenimbunanPenyaluran" id="x_IdPenimbunanPenyaluran" value="@Html.Raw(HtmlEncode(penimbunanPenyaluranEdit.IdPenimbunanPenyaluran.CurrentValue))">
@{ penimbunanPenyaluranEdit.CloseRecordset(); }
@Html.Raw(penimbunanPenyaluranEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(penimbunanPenyaluranEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fPenimbunanPenyaluranedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fPenimbunanPenyaluranedit" data-href="@AppPath(penimbunanPenyaluranEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(penimbunanPenyaluranEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@penimbunanPenyaluranEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("PenimbunanPenyaluran");
});
</script>
<script>
loadjs.ready("load", function() {
    // Startup script
    $('#r_PlantForLookup').hide();
    $('#r_NomorPenimbunanPenyaluran').hide();
    $('#r_NoPenyaluran').hide();
    $('#r_LookupTipeProduk').hide();
    $('#r_LookupJenisPlant').hide();
    $('#r_TipeProdukSTS').hide();
    let JenisPlant = $('#x_LookupJenisPlant').val();
    let TipePenyaluran = $('#x_TipePenyaluran').val();
    if (JenisPlant == 'STS') {
        $('#r_TipeProdukSTS').show();
    } else {
        $('#r_TipeProdukSTS').hide();
    }
    if (JenisPlant == 'STS' && TipePenyaluran == 'Sales') {
        $('#r_JenisProduk').show();
    } else {
        $('#r_JenisProduk').hide();
    }
    if (TipePenyaluran == 'Konsinyasi') {
        $('#r_NoPenyaluran').show();
    } else {
        $('#r_NoPenyaluran').hide();
    }
    if (TipePenyaluran == 'Sales') {
        $('#r_IdModa').show();
    } else {
        $('#r_IdModa').hide();
    }
});
</script>
