@{
    // View
    View = this;

    // Check action result
    if (penyimpananSampleAdd.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = penyimpananSampleAdd.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(penyimpananSampleAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { PenyimpananSample: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fPenyimpananSampleadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fPenyimpananSampleadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["JenisSample", [fields.JenisSample.visible && fields.JenisSample.required ? ew.Validators.required(fields.JenisSample.caption) : null], fields.JenisSample.isInvalid],
            ["IdPlant", [fields.IdPlant.visible && fields.IdPlant.required ? ew.Validators.required(fields.IdPlant.caption) : null], fields.IdPlant.isInvalid],
            ["Tanggal", [fields.Tanggal.visible && fields.Tanggal.required ? ew.Validators.required(fields.Tanggal.caption) : null, ew.Validators.datetime(fields.Tanggal.clientFormatPattern)], fields.Tanggal.isInvalid],
            ["NamaMasterSample", [fields.NamaMasterSample.visible && fields.NamaMasterSample.required ? ew.Validators.required(fields.NamaMasterSample.caption) : null], fields.NamaMasterSample.isInvalid],
            ["NomorSegel", [fields.NomorSegel.visible && fields.NomorSegel.required ? ew.Validators.required(fields.NomorSegel.caption) : null], fields.NomorSegel.isInvalid],
            ["Foto", [fields.Foto.visible && fields.Foto.required ? ew.Validators.required(fields.Foto.caption) : null], fields.Foto.isInvalid],
            ["ExpiredEst", [fields.ExpiredEst.visible && fields.ExpiredEst.required ? ew.Validators.required(fields.ExpiredEst.caption) : null, ew.Validators.datetime(fields.ExpiredEst.clientFormatPattern)], fields.ExpiredEst.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "JenisSample": @Html.Raw(penyimpananSampleAdd.JenisSample.ToClientList(penyimpananSampleAdd)),
            "IdPlant": @Html.Raw(penyimpananSampleAdd.IdPlant.ToClientList(penyimpananSampleAdd)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@penyimpananSampleAdd.ShowPageHeader()
@penyimpananSampleAdd.ShowMessages()
<form name="fPenyimpananSampleadd" id="fPenyimpananSampleadd" class="@(penyimpananSampleAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(penyimpananSampleAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(penyimpananSampleAdd.OldKeyName)" value="@Html.Raw(penyimpananSampleAdd.OldKey)">
<div class="ew-add-div d-none"><!-- page* -->
@if (penyimpananSampleAdd.JenisSample.Visible) { // penyimpananSampleAdd.JenisSample.Visible (begin)
    <div id="r_JenisSample" @Html.Raw(penyimpananSampleAdd.JenisSample.RowAttributes)>
        <label id="elh_PenyimpananSample_JenisSample" for="x_JenisSample" class="@(penyimpananSampleAdd.LeftColumnClass)"><template id="tpc_PenyimpananSample_JenisSample">@Html.Raw(penyimpananSampleAdd.JenisSample.Caption)@Html.Raw(penyimpananSampleAdd.JenisSample.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(penyimpananSampleAdd.RightColumnClass)"><div @Html.Raw(penyimpananSampleAdd.JenisSample.CellAttributes)>
<template id="tpx_PenyimpananSample_JenisSample"><span id="el_PenyimpananSample_JenisSample">
    <select
        id="x_JenisSample"
        name="x_JenisSample"
        class="form-select ew-select@(penyimpananSampleAdd.JenisSample.IsInvalidClass)"
        data-select2-id="fPenyimpananSampleadd_x_JenisSample"
        data-table="PenyimpananSample"
        data-field="x_JenisSample"
        data-value-separator="@(penyimpananSampleAdd.JenisSample.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(penyimpananSampleAdd.JenisSample.PlaceHolder))"
        @Html.Raw(penyimpananSampleAdd.JenisSample.EditAttributes)>
        @(penyimpananSampleAdd.JenisSample.SelectOptionListHtml("x_JenisSample"))
    </select>
    @Html.Raw(penyimpananSampleAdd.JenisSample.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(penyimpananSampleAdd.JenisSample.GetErrorMessage())</div>
<script>
loadjs.ready("fPenyimpananSampleadd", function() {
    var options = { name: "x_JenisSample", selectId: "fPenyimpananSampleadd_x_JenisSample" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fPenyimpananSampleadd.lists.JenisSample?.lookupOptions.length) {
        options.data = { id: "x_JenisSample", form: "fPenyimpananSampleadd" };
    } else {
        options.ajax = { id: "x_JenisSample", form: "fPenyimpananSampleadd", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.PenyimpananSample.fields.JenisSample.selectOptions);
    ew.createSelect(options);
});
</script>
</span></template>
</div></div>
    </div>
} @* penyimpananSampleAdd.JenisSample.Visible (end) *@
@if (penyimpananSampleAdd.IdPlant.Visible) { // penyimpananSampleAdd.IdPlant.Visible (begin)
    <div id="r_IdPlant" @Html.Raw(penyimpananSampleAdd.IdPlant.RowAttributes)>
        <label id="elh_PenyimpananSample_IdPlant" for="x_IdPlant" class="@(penyimpananSampleAdd.LeftColumnClass)"><template id="tpc_PenyimpananSample_IdPlant">@Html.Raw(penyimpananSampleAdd.IdPlant.Caption)@Html.Raw(penyimpananSampleAdd.IdPlant.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(penyimpananSampleAdd.RightColumnClass)"><div @Html.Raw(penyimpananSampleAdd.IdPlant.CellAttributes)>
<template id="tpx_PenyimpananSample_IdPlant"><span id="el_PenyimpananSample_IdPlant">
    <select
        id="x_IdPlant"
        name="x_IdPlant"
        class="form-select ew-select@(penyimpananSampleAdd.IdPlant.IsInvalidClass)"
        data-select2-id="fPenyimpananSampleadd_x_IdPlant"
        data-table="PenyimpananSample"
        data-field="x_IdPlant"
        data-value-separator="@(penyimpananSampleAdd.IdPlant.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(penyimpananSampleAdd.IdPlant.PlaceHolder))"
        @Html.Raw(penyimpananSampleAdd.IdPlant.EditAttributes)>
        @(penyimpananSampleAdd.IdPlant.SelectOptionListHtml("x_IdPlant"))
    </select>
    @Html.Raw(penyimpananSampleAdd.IdPlant.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(penyimpananSampleAdd.IdPlant.GetErrorMessage())</div>
@Html.Raw(penyimpananSampleAdd.IdPlant.Lookup.GetParamTag(penyimpananSampleAdd, "p_x_IdPlant"))
<script>
loadjs.ready("fPenyimpananSampleadd", function() {
    var options = { name: "x_IdPlant", selectId: "fPenyimpananSampleadd_x_IdPlant" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fPenyimpananSampleadd.lists.IdPlant?.lookupOptions.length) {
        options.data = { id: "x_IdPlant", form: "fPenyimpananSampleadd" };
    } else {
        options.ajax = { id: "x_IdPlant", form: "fPenyimpananSampleadd", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumInputLength = ew.selectMinimumInputLength;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.PenyimpananSample.fields.IdPlant.selectOptions);
    ew.createSelect(options);
});
</script>
</span></template>
</div></div>
    </div>
} @* penyimpananSampleAdd.IdPlant.Visible (end) *@
@if (penyimpananSampleAdd.Tanggal.Visible) { // penyimpananSampleAdd.Tanggal.Visible (begin)
    <div id="r_Tanggal" @Html.Raw(penyimpananSampleAdd.Tanggal.RowAttributes)>
        <label id="elh_PenyimpananSample_Tanggal" for="x_Tanggal" class="@(penyimpananSampleAdd.LeftColumnClass)"><template id="tpc_PenyimpananSample_Tanggal">@Html.Raw(penyimpananSampleAdd.Tanggal.Caption)@Html.Raw(penyimpananSampleAdd.Tanggal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(penyimpananSampleAdd.RightColumnClass)"><div @Html.Raw(penyimpananSampleAdd.Tanggal.CellAttributes)>
<template id="tpx_PenyimpananSample_Tanggal"><span id="el_PenyimpananSample_Tanggal">
<input type="@(penyimpananSampleAdd.Tanggal.InputTextType)" name="x_Tanggal" id="x_Tanggal" data-table="PenyimpananSample" data-field="x_Tanggal" value="@Html.Raw(penyimpananSampleAdd.Tanggal.EditValue)" placeholder="@Html.Raw(HtmlEncode(penyimpananSampleAdd.Tanggal.PlaceHolder))" data-format-pattern="@(penyimpananSampleAdd.Tanggal.FormatPattern)"@Html.Raw(penyimpananSampleAdd.Tanggal.EditAttributes) aria-describedby="x_Tanggal_help">
@Html.Raw(penyimpananSampleAdd.Tanggal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(penyimpananSampleAdd.Tanggal.GetErrorMessage())</div>
@if (!penyimpananSampleAdd.Tanggal.ReadOnly && !penyimpananSampleAdd.Tanggal.Disabled && !penyimpananSampleAdd.Tanggal.EditAttrs.Is("readonly") && !penyimpananSampleAdd.Tanggal.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fPenyimpananSampleadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fPenyimpananSampleadd", "x_Tanggal", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span></template>
</div></div>
    </div>
} @* penyimpananSampleAdd.Tanggal.Visible (end) *@
@if (penyimpananSampleAdd.NamaMasterSample.Visible) { // penyimpananSampleAdd.NamaMasterSample.Visible (begin)
    <div id="r_NamaMasterSample" @Html.Raw(penyimpananSampleAdd.NamaMasterSample.RowAttributes)>
        <label id="elh_PenyimpananSample_NamaMasterSample" for="x_NamaMasterSample" class="@(penyimpananSampleAdd.LeftColumnClass)"><template id="tpc_PenyimpananSample_NamaMasterSample">@Html.Raw(penyimpananSampleAdd.NamaMasterSample.Caption)@Html.Raw(penyimpananSampleAdd.NamaMasterSample.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(penyimpananSampleAdd.RightColumnClass)"><div @Html.Raw(penyimpananSampleAdd.NamaMasterSample.CellAttributes)>
<template id="tpx_PenyimpananSample_NamaMasterSample"><span id="el_PenyimpananSample_NamaMasterSample">
<input type="@(penyimpananSampleAdd.NamaMasterSample.InputTextType)" name="x_NamaMasterSample" id="x_NamaMasterSample" data-table="PenyimpananSample" data-field="x_NamaMasterSample" value="@Html.Raw(penyimpananSampleAdd.NamaMasterSample.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(penyimpananSampleAdd.NamaMasterSample.PlaceHolder))" data-format-pattern="@(penyimpananSampleAdd.NamaMasterSample.FormatPattern)"@Html.Raw(penyimpananSampleAdd.NamaMasterSample.EditAttributes) aria-describedby="x_NamaMasterSample_help">
@Html.Raw(penyimpananSampleAdd.NamaMasterSample.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(penyimpananSampleAdd.NamaMasterSample.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* penyimpananSampleAdd.NamaMasterSample.Visible (end) *@
@if (penyimpananSampleAdd.NomorSegel.Visible) { // penyimpananSampleAdd.NomorSegel.Visible (begin)
    <div id="r_NomorSegel" @Html.Raw(penyimpananSampleAdd.NomorSegel.RowAttributes)>
        <label id="elh_PenyimpananSample_NomorSegel" for="x_NomorSegel" class="@(penyimpananSampleAdd.LeftColumnClass)"><template id="tpc_PenyimpananSample_NomorSegel">@Html.Raw(penyimpananSampleAdd.NomorSegel.Caption)@Html.Raw(penyimpananSampleAdd.NomorSegel.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(penyimpananSampleAdd.RightColumnClass)"><div @Html.Raw(penyimpananSampleAdd.NomorSegel.CellAttributes)>
<template id="tpx_PenyimpananSample_NomorSegel"><span id="el_PenyimpananSample_NomorSegel">
<input type="@(penyimpananSampleAdd.NomorSegel.InputTextType)" name="x_NomorSegel" id="x_NomorSegel" data-table="PenyimpananSample" data-field="x_NomorSegel" value="@Html.Raw(penyimpananSampleAdd.NomorSegel.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(penyimpananSampleAdd.NomorSegel.PlaceHolder))" data-format-pattern="@(penyimpananSampleAdd.NomorSegel.FormatPattern)"@Html.Raw(penyimpananSampleAdd.NomorSegel.EditAttributes) aria-describedby="x_NomorSegel_help">
@Html.Raw(penyimpananSampleAdd.NomorSegel.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(penyimpananSampleAdd.NomorSegel.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* penyimpananSampleAdd.NomorSegel.Visible (end) *@
@if (penyimpananSampleAdd.Foto.Visible) { // penyimpananSampleAdd.Foto.Visible (begin)
    <div id="r_Foto" @Html.Raw(penyimpananSampleAdd.Foto.RowAttributes)>
        <label id="elh_PenyimpananSample_Foto" for="x_Foto" class="@(penyimpananSampleAdd.LeftColumnClass)"><template id="tpc_PenyimpananSample_Foto">@Html.Raw(penyimpananSampleAdd.Foto.Caption)@Html.Raw(penyimpananSampleAdd.Foto.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(penyimpananSampleAdd.RightColumnClass)"><div @Html.Raw(penyimpananSampleAdd.Foto.CellAttributes)>
<template id="tpx_PenyimpananSample_Foto"><span id="el_PenyimpananSample_Foto">
<textarea data-table="PenyimpananSample" data-field="x_Foto" name="x_Foto" id="x_Foto" cols="35" rows="4" placeholder="@Html.Raw(HtmlEncode(penyimpananSampleAdd.Foto.PlaceHolder))"@Html.Raw(penyimpananSampleAdd.Foto.EditAttributes) aria-describedby="x_Foto_help">@(penyimpananSampleAdd.Foto.EditValue)</textarea>
@Html.Raw(penyimpananSampleAdd.Foto.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(penyimpananSampleAdd.Foto.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* penyimpananSampleAdd.Foto.Visible (end) *@
@if (penyimpananSampleAdd.ExpiredEst.Visible) { // penyimpananSampleAdd.ExpiredEst.Visible (begin)
    <div id="r_ExpiredEst" @Html.Raw(penyimpananSampleAdd.ExpiredEst.RowAttributes)>
        <label id="elh_PenyimpananSample_ExpiredEst" for="x_ExpiredEst" class="@(penyimpananSampleAdd.LeftColumnClass)"><template id="tpc_PenyimpananSample_ExpiredEst">@Html.Raw(penyimpananSampleAdd.ExpiredEst.Caption)@Html.Raw(penyimpananSampleAdd.ExpiredEst.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(penyimpananSampleAdd.RightColumnClass)"><div @Html.Raw(penyimpananSampleAdd.ExpiredEst.CellAttributes)>
<template id="tpx_PenyimpananSample_ExpiredEst"><span id="el_PenyimpananSample_ExpiredEst">
<input type="@(penyimpananSampleAdd.ExpiredEst.InputTextType)" name="x_ExpiredEst" id="x_ExpiredEst" data-table="PenyimpananSample" data-field="x_ExpiredEst" value="@Html.Raw(penyimpananSampleAdd.ExpiredEst.EditValue)" placeholder="@Html.Raw(HtmlEncode(penyimpananSampleAdd.ExpiredEst.PlaceHolder))" data-format-pattern="@(penyimpananSampleAdd.ExpiredEst.FormatPattern)"@Html.Raw(penyimpananSampleAdd.ExpiredEst.EditAttributes) aria-describedby="x_ExpiredEst_help">
@Html.Raw(penyimpananSampleAdd.ExpiredEst.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(penyimpananSampleAdd.ExpiredEst.GetErrorMessage())</div>
@if (!penyimpananSampleAdd.ExpiredEst.ReadOnly && !penyimpananSampleAdd.ExpiredEst.Disabled && !penyimpananSampleAdd.ExpiredEst.EditAttrs.Is("readonly") && !penyimpananSampleAdd.ExpiredEst.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fPenyimpananSampleadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fPenyimpananSampleadd", "x_ExpiredEst", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span></template>
</div></div>
    </div>
} @* penyimpananSampleAdd.ExpiredEst.Visible (end) *@
</div><!-- /page* -->
<div id="tpd_PenyimpananSampleadd" class="ew-custom-template"></div>
<template id="tpm_PenyimpananSampleadd">
<div id="ct_penyimpananSampleAdd"><style>
    .ew-buttons {
        display: none;
    }
    .view-page-table td {
        white-space: normal !important;
        word-wrap: break-word;
    }
    .view-page-table th {
        background-color: #006BB7;
    }
    .body-table {
        background-color: #fff;
    }
    .header-table {
        background-color: #006BB7 !important;
        color: #fff !important;
    }
    .view-page-table {
        table-layout: fixed;
    }
    .btn {
        white-space: nowrap;
    }
    .file-input-wrapper {
        border: 1px solid #ced4da;
        border-radius: .375rem;
        overflow: hidden;
        transition: border-color .15s, box-shadow .15s;
    }
    .file-input-wrapper:focus-within {
        border-color: #86b7fe;
        box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
    }
    .file-input-wrapper .btn {
        border-radius: 0;
    }
    .file-input-wrapper .form-control {
        border: none;
        box-shadow: none !important;
    }
</style>
<div id="r_IdPlant" class="row">
    <label for="x_IdPlant" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleAdd.IdPlant.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PenyimpananSample_IdPlant"></slot></div>
</div>
<div id="r_JenisSample" class="row">
    <label for="x_JenisSample" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleAdd.JenisSample.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PenyimpananSample_JenisSample"></slot></div>
</div>
<div id="r_NamaMasterSample" class="row">
    <label for="x_NamaMasterSample" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleAdd.NamaMasterSample.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PenyimpananSample_NamaMasterSample"></slot></div>
</div>
<div id="r_NomorSegel" class="row">
    <label for="x_NomorSegel" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleAdd.NomorSegel.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PenyimpananSample_NomorSegel"></slot></div>
</div>
<div id="r_Tanggal" class="row">
    <label for="x_Tanggal" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleAdd.Tanggal.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PenyimpananSample_Tanggal"></slot></div>
</div>
<div id="r_ExpiredEst" class="row">
    <label for="x_ExpiredEst" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleAdd.ExpiredEst.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PenyimpananSample_ExpiredEst"></slot></div>
</div>
<div id="r_Foto" class="row">
    <label for="x_Foto" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleAdd.Foto.Caption)</label>
    <div class="col-sm-10">
        <div class="d-none"><slot class="ew-slot" name="tpx_PenyimpananSample_Foto"></slot></div>
        <div class="input-group file-input-wrapper">
            <label class="btn btn-primary mb-0">
                Add Images <input type="file" id="cstm_x_Foto" hidden multiple />
            </label>
            <input type="text" class="form-control" id="cstm_x_Foto-Name" style="cursor: pointer;" value="Add Images" readonly />
        </div>
        <small class="text-muted">Maximum file size: 20 MB</small>
        <div class="border rounded p-0 mt-2" id="row-table" style="display: none;">
            <table aria-hidden="true" class="table table-hover view-page-table w-100 m-0" id="cstm_x_Foto-Table">
                <thead>
                    <tr>
                        <th width="5%" class="fw-bold header-table">No</th>
                        <th class="fw-bold header-table">Nama File</th>
                        <th width="10%" class="fw-bold header-table"></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- js render -->
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-2 fw-bold d-flex align-items-center"></div>
    <div class="col-10">
        <button id="btn-submit-custom" class="btn btn-primary ew-btn" type="button">
            <i class="fas fa-plus me-2"></i>Add
        </button>
        <button id="btn-cancel-custom" class="btn btn-default ew-btn" type="button">
            <i class="fas fa-ban me-2"></i>cancel
        </button>
    </div>
</div></div>
</template>
@{ penyimpananSampleAdd.CloseRecordset(); }
@Html.Raw(penyimpananSampleAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(penyimpananSampleAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fPenyimpananSampleadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fPenyimpananSampleadd" data-href="@AppPath(penyimpananSampleAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(penyimpananSampleAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
<script class="ew-apply-template">
loadjs.ready(ew.applyTemplateId, function() {
    var $ = jQuery;
    ew.templateData = { rows: @Html.Raw(ConvertToJson(penyimpananSampleAdd.Rows)) };
    ew.applyTemplate("tpd_PenyimpananSampleadd", "tpm_PenyimpananSampleadd", "PenyimpananSampleadd", "@(penyimpananSampleAdd.Export)", "PenyimpananSample", ew.templateData.rows[0], @(penyimpananSampleAdd.IsModal ? "true" : "false"));
    loadjs.done("customtemplate");
});
</script>
@penyimpananSampleAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("PenyimpananSample");
});
</script>
<script>
loadjs.ready("load", function() {
    // Startup script
    // Write your table-specific startup script here
    // document.write("page loaded");
    (() => {
        const parentURL = ew.PATH_BASE;
        const showMsg = (m) => (ew?.alert ? ew.alert(m) : alert(m));
        const showLoadingSafe = () => typeof showLoading === "function" && showLoading();
        const hideLoadingSafe = () => typeof hideLoading === "function" && hideLoading();
        $(function () {
            let filesArr = [];
            $("#cstm_x_Foto-Name").on("click", () => $("#cstm_x_Foto").trigger("click"));
            $("#cstm_x_Foto").on("change", function (e) {
                const newFiles = Array.from(e.target.files || []);
                if (!newFiles.length) return;
                newFiles.forEach((f) => {
                    const key = `${f.name}|${f.size}|${f.lastModified}`;
                    const exists = filesArr.some((x) => `${x.name}|${x.size}|${x.lastModified}` === key);
                    if (!exists) filesArr.push(f);
                });
                $(this).val("");
                renderTable();
            });
            function renderTable() {
                const $rowWrap = $("#row-table");
                const $tbody = $("#cstm_x_Foto-Table tbody");
                const $label = $("#cstm_x_Foto-Name");
                if (!$rowWrap.length) {
                    console.warn("#row-table tidak ditemukan");
                    return;
                }
                if (!$tbody.length) {
                    console.warn("#cstm_x_Foto-Table tbody tidak ditemukan");
                    return;
                }
                const count = filesArr.length;
                $label.val(count === 0 ? "Add Images" : count === 1 ? "1 file selected" : `${count} files selected`);
                $tbody.empty();
                if (count === 0) {
                    $rowWrap.hide();
                    return;
                }
                $rowWrap.show();
                filesArr.forEach((file, index) => {
                    const sizeKB = (file.size / 1024).toFixed(1);
                    $tbody.append(`
                            <tr>
                                <td class="text-center">${index + 1}</td>
                                <td>${escapeHtml(file.name)} <small class="text-muted">(${sizeKB} KB)</small></td>
                                <td class="text-center">
                                <button class="btn btn-sm text-danger btn-delete" type="button" data-index="${index}">
                                    <i class="fa-solid fa-times"></i>
                                </button>
                                </td>
                            </tr>
                        `);
                });
            }
            $("#row-table").on("click", ".btn-delete", function () {
                const idx = Number($(this).data("index"));
                if (!Number.isInteger(idx)) return;
                filesArr.splice(idx, 1);
                renderTable();
            });
            function escapeHtml(s) {
                return String(s).replaceAll("&", "&amp;").replaceAll("<", "&lt;").replaceAll(">", "&gt;").replaceAll('"', "&quot;").replaceAll("'", "&#039;");
            }
            renderTable();
            const $plant = $("#x_IdPlant");
            $plant.empty().append('<option value="">Please Select</option>');
            $.getJSON(`${parentURL}api/LookUpList/get-dropdown/plant`)
                .done((rows) => {
                    rows.forEach((r) => $plant.append(new Option(r.Label, r.Value)));
                    if (rows.length > 0) $plant.val(rows[0].Value).trigger("change");
                })
                .fail(() => showMsg("Gagal load data Plant."));
            $("#btn-submit-custom").on("click", function (e) {
                e.preventDefault();
                const formData = new FormData();
                const jenisSample = $("#x_JenisSample").val();
                const idPlant = $("#x_IdPlant").val();
                const tanggal = $("#x_Tanggal").val();
                const namaMasterSample = $("#x_NamaMasterSample").val();
                const expired = $("#x_ExpiredEst").val();
                if (!jenisSample) return showMsg("Jenis Sample wajib diisi.");
                if (!idPlant) return showMsg("Plant wajib diisi.");
                if (!tanggal) return showMsg("Tanggal wajib diisi.");
                if (!namaMasterSample) return showMsg("Nama Master Sample wajib diisi.");
                if (!expired) return showMsg("Expired Est wajib diisi.");

                ["JenisSample", "IdPlant", "NamaMasterSample", "NomorSegel", "Tanggal", "ExpiredEst"].forEach((f) => {
                    const v = $(`#x_${f}`).val();
                    if (v) formData.set(f, v);
                });
                filesArr.forEach((f) => formData.append("Foto", f));
                showLoadingSafe();
                $.ajax({
                    url: `${parentURL}api/qq/psm-add`,
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: (res) => {
                        hideLoadingSafe();
                        if(!res?.success) {
                            showMsg(res?.message || 'An error occurred while adding record')
                            return;
                        }
                        showMsg(res?.message || "Berhasil menambahkan data.");
                        window.location.href = `${parentURL}PenyimpananSampleList`;
                    },
                    error: (xhr) => showMsg(xhr.responseJSON?.message || "Gagal menyimpan data."),
                    complete: hideLoadingSafe,
                });
            });
            $("#btn-cancel-custom").on("click", function (e) {
                e.preventDefault();
                window.location.href = `${parentURL}PenyimpananSampleList`;
            });
        });
    })();
});
</script>
