@{
    // View
    View = this;

    // Check action result
    if (penyimpananSampleView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = penyimpananSampleView.UseLayout ? "_Layout" : "";
}
@if (!penyimpananSampleView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @penyimpananSampleView.ExportOptions.RenderBody()
    @penyimpananSampleView.OtherOptions.RenderBody()
</div>
}
@penyimpananSampleView.ShowPageHeader()
@penyimpananSampleView.ShowMessages()
<main class="view">
<form name="fPenyimpananSampleview" id="fPenyimpananSampleview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!penyimpananSampleView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(penyimpananSampleView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { PenyimpananSample: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fPenyimpananSampleview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fPenyimpananSampleview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(penyimpananSampleView.IsModal)">
<table class="@(penyimpananSampleView.TableClass)">
@if (penyimpananSampleView.NomorPenyimpananSample.Visible) { // penyimpananSampleView.NomorPenyimpananSample.Visible (begin)
    <tr id="r_NomorPenyimpananSample" @Html.Raw(penyimpananSampleView.NomorPenyimpananSample.RowAttributes)>
        <td class="@(penyimpananSampleView.TableLeftColumnClass)"><span id="elh_PenyimpananSample_NomorPenyimpananSample"><template id="tpc_PenyimpananSample_NomorPenyimpananSample">@Html.Raw(penyimpananSampleView.NomorPenyimpananSample.Caption)</template></span></td>
        <td data-name="NomorPenyimpananSample" @Html.Raw(penyimpananSampleView.NomorPenyimpananSample.CellAttributes)>
<template id="tpx_PenyimpananSample_NomorPenyimpananSample"><span id="el_PenyimpananSample_NomorPenyimpananSample">
<span @Html.Raw(penyimpananSampleView.NomorPenyimpananSample.ViewAttributes)>
@Html.Raw(penyimpananSampleView.NomorPenyimpananSample.GetViewValue())</span>
</span></template></td>
    </tr>
} @* penyimpananSampleView.NomorPenyimpananSample.Visible (end) *@
@if (penyimpananSampleView.JenisSample.Visible) { // penyimpananSampleView.JenisSample.Visible (begin)
    <tr id="r_JenisSample" @Html.Raw(penyimpananSampleView.JenisSample.RowAttributes)>
        <td class="@(penyimpananSampleView.TableLeftColumnClass)"><span id="elh_PenyimpananSample_JenisSample"><template id="tpc_PenyimpananSample_JenisSample">@Html.Raw(penyimpananSampleView.JenisSample.Caption)</template></span></td>
        <td data-name="JenisSample" @Html.Raw(penyimpananSampleView.JenisSample.CellAttributes)>
<template id="tpx_PenyimpananSample_JenisSample"><span id="el_PenyimpananSample_JenisSample">
<span @Html.Raw(penyimpananSampleView.JenisSample.ViewAttributes)>
@Html.Raw(penyimpananSampleView.JenisSample.GetViewValue())</span>
</span></template></td>
    </tr>
} @* penyimpananSampleView.JenisSample.Visible (end) *@
@if (penyimpananSampleView.IdPlant.Visible) { // penyimpananSampleView.IdPlant.Visible (begin)
    <tr id="r_IdPlant" @Html.Raw(penyimpananSampleView.IdPlant.RowAttributes)>
        <td class="@(penyimpananSampleView.TableLeftColumnClass)"><span id="elh_PenyimpananSample_IdPlant"><template id="tpc_PenyimpananSample_IdPlant">@Html.Raw(penyimpananSampleView.IdPlant.Caption)</template></span></td>
        <td data-name="IdPlant" @Html.Raw(penyimpananSampleView.IdPlant.CellAttributes)>
<template id="tpx_PenyimpananSample_IdPlant"><span id="el_PenyimpananSample_IdPlant">
<span @Html.Raw(penyimpananSampleView.IdPlant.ViewAttributes)>
@Html.Raw(penyimpananSampleView.IdPlant.GetViewValue())</span>
</span></template></td>
    </tr>
} @* penyimpananSampleView.IdPlant.Visible (end) *@
@if (penyimpananSampleView.Tanggal.Visible) { // penyimpananSampleView.Tanggal.Visible (begin)
    <tr id="r_Tanggal" @Html.Raw(penyimpananSampleView.Tanggal.RowAttributes)>
        <td class="@(penyimpananSampleView.TableLeftColumnClass)"><span id="elh_PenyimpananSample_Tanggal"><template id="tpc_PenyimpananSample_Tanggal">@Html.Raw(penyimpananSampleView.Tanggal.Caption)</template></span></td>
        <td data-name="Tanggal" @Html.Raw(penyimpananSampleView.Tanggal.CellAttributes)>
<template id="tpx_PenyimpananSample_Tanggal"><span id="el_PenyimpananSample_Tanggal">
<span @Html.Raw(penyimpananSampleView.Tanggal.ViewAttributes)>
@Html.Raw(penyimpananSampleView.Tanggal.GetViewValue())</span>
</span></template></td>
    </tr>
} @* penyimpananSampleView.Tanggal.Visible (end) *@
@if (penyimpananSampleView.NamaMasterSample.Visible) { // penyimpananSampleView.NamaMasterSample.Visible (begin)
    <tr id="r_NamaMasterSample" @Html.Raw(penyimpananSampleView.NamaMasterSample.RowAttributes)>
        <td class="@(penyimpananSampleView.TableLeftColumnClass)"><span id="elh_PenyimpananSample_NamaMasterSample"><template id="tpc_PenyimpananSample_NamaMasterSample">@Html.Raw(penyimpananSampleView.NamaMasterSample.Caption)</template></span></td>
        <td data-name="NamaMasterSample" @Html.Raw(penyimpananSampleView.NamaMasterSample.CellAttributes)>
<template id="tpx_PenyimpananSample_NamaMasterSample"><span id="el_PenyimpananSample_NamaMasterSample">
<span @Html.Raw(penyimpananSampleView.NamaMasterSample.ViewAttributes)>
@Html.Raw(penyimpananSampleView.NamaMasterSample.GetViewValue())</span>
</span></template></td>
    </tr>
} @* penyimpananSampleView.NamaMasterSample.Visible (end) *@
@if (penyimpananSampleView.NomorSegel.Visible) { // penyimpananSampleView.NomorSegel.Visible (begin)
    <tr id="r_NomorSegel" @Html.Raw(penyimpananSampleView.NomorSegel.RowAttributes)>
        <td class="@(penyimpananSampleView.TableLeftColumnClass)"><span id="elh_PenyimpananSample_NomorSegel"><template id="tpc_PenyimpananSample_NomorSegel">@Html.Raw(penyimpananSampleView.NomorSegel.Caption)</template></span></td>
        <td data-name="NomorSegel" @Html.Raw(penyimpananSampleView.NomorSegel.CellAttributes)>
<template id="tpx_PenyimpananSample_NomorSegel"><span id="el_PenyimpananSample_NomorSegel">
<span @Html.Raw(penyimpananSampleView.NomorSegel.ViewAttributes)>
@Html.Raw(penyimpananSampleView.NomorSegel.GetViewValue())</span>
</span></template></td>
    </tr>
} @* penyimpananSampleView.NomorSegel.Visible (end) *@
@if (penyimpananSampleView.Status.Visible) { // penyimpananSampleView.Status.Visible (begin)
    <tr id="r_Status" @Html.Raw(penyimpananSampleView.Status.RowAttributes)>
        <td class="@(penyimpananSampleView.TableLeftColumnClass)"><span id="elh_PenyimpananSample_Status"><template id="tpc_PenyimpananSample_Status">@Html.Raw(penyimpananSampleView.Status.Caption)</template></span></td>
        <td data-name="Status" @Html.Raw(penyimpananSampleView.Status.CellAttributes)>
<template id="tpx_PenyimpananSample_Status"><span id="el_PenyimpananSample_Status">
<span @Html.Raw(penyimpananSampleView.Status.ViewAttributes)>
@Html.Raw(penyimpananSampleView.Status.GetViewValue())</span>
</span></template></td>
    </tr>
} @* penyimpananSampleView.Status.Visible (end) *@
@if (penyimpananSampleView.Foto.Visible) { // penyimpananSampleView.Foto.Visible (begin)
    <tr id="r_Foto" @Html.Raw(penyimpananSampleView.Foto.RowAttributes)>
        <td class="@(penyimpananSampleView.TableLeftColumnClass)"><span id="elh_PenyimpananSample_Foto"><template id="tpc_PenyimpananSample_Foto">@Html.Raw(penyimpananSampleView.Foto.Caption)</template></span></td>
        <td data-name="Foto" @Html.Raw(penyimpananSampleView.Foto.CellAttributes)>
<template id="tpx_PenyimpananSample_Foto"><span id="el_PenyimpananSample_Foto">
<span @Html.Raw(penyimpananSampleView.Foto.ViewAttributes)>
@Html.Raw(penyimpananSampleView.Foto.GetViewValue())</span>
</span></template></td>
    </tr>
} @* penyimpananSampleView.Foto.Visible (end) *@
@if (penyimpananSampleView.ExpiredEst.Visible) { // penyimpananSampleView.ExpiredEst.Visible (begin)
    <tr id="r_ExpiredEst" @Html.Raw(penyimpananSampleView.ExpiredEst.RowAttributes)>
        <td class="@(penyimpananSampleView.TableLeftColumnClass)"><span id="elh_PenyimpananSample_ExpiredEst"><template id="tpc_PenyimpananSample_ExpiredEst">@Html.Raw(penyimpananSampleView.ExpiredEst.Caption)</template></span></td>
        <td data-name="ExpiredEst" @Html.Raw(penyimpananSampleView.ExpiredEst.CellAttributes)>
<template id="tpx_PenyimpananSample_ExpiredEst"><span id="el_PenyimpananSample_ExpiredEst">
<span @Html.Raw(penyimpananSampleView.ExpiredEst.ViewAttributes)>
@Html.Raw(penyimpananSampleView.ExpiredEst.GetViewValue())</span>
</span></template></td>
    </tr>
} @* penyimpananSampleView.ExpiredEst.Visible (end) *@
@if (penyimpananSampleView.TanggalDimusnahkan.Visible) { // penyimpananSampleView.TanggalDimusnahkan.Visible (begin)
    <tr id="r_TanggalDimusnahkan" @Html.Raw(penyimpananSampleView.TanggalDimusnahkan.RowAttributes)>
        <td class="@(penyimpananSampleView.TableLeftColumnClass)"><span id="elh_PenyimpananSample_TanggalDimusnahkan"><template id="tpc_PenyimpananSample_TanggalDimusnahkan">@Html.Raw(penyimpananSampleView.TanggalDimusnahkan.Caption)</template></span></td>
        <td data-name="TanggalDimusnahkan" @Html.Raw(penyimpananSampleView.TanggalDimusnahkan.CellAttributes)>
<template id="tpx_PenyimpananSample_TanggalDimusnahkan"><span id="el_PenyimpananSample_TanggalDimusnahkan">
<span @Html.Raw(penyimpananSampleView.TanggalDimusnahkan.ViewAttributes)>
@Html.Raw(penyimpananSampleView.TanggalDimusnahkan.GetViewValue())</span>
</span></template></td>
    </tr>
} @* penyimpananSampleView.TanggalDimusnahkan.Visible (end) *@
@if (penyimpananSampleView.LokasiPemusnahan.Visible) { // penyimpananSampleView.LokasiPemusnahan.Visible (begin)
    <tr id="r_LokasiPemusnahan" @Html.Raw(penyimpananSampleView.LokasiPemusnahan.RowAttributes)>
        <td class="@(penyimpananSampleView.TableLeftColumnClass)"><span id="elh_PenyimpananSample_LokasiPemusnahan"><template id="tpc_PenyimpananSample_LokasiPemusnahan">@Html.Raw(penyimpananSampleView.LokasiPemusnahan.Caption)</template></span></td>
        <td data-name="LokasiPemusnahan" @Html.Raw(penyimpananSampleView.LokasiPemusnahan.CellAttributes)>
<template id="tpx_PenyimpananSample_LokasiPemusnahan"><span id="el_PenyimpananSample_LokasiPemusnahan">
<span @Html.Raw(penyimpananSampleView.LokasiPemusnahan.ViewAttributes)>
@Html.Raw(penyimpananSampleView.LokasiPemusnahan.GetViewValue())</span>
</span></template></td>
    </tr>
} @* penyimpananSampleView.LokasiPemusnahan.Visible (end) *@
@if (penyimpananSampleView.CreatedBy.Visible) { // penyimpananSampleView.CreatedBy.Visible (begin)
    <tr id="r_CreatedBy" @Html.Raw(penyimpananSampleView.CreatedBy.RowAttributes)>
        <td class="@(penyimpananSampleView.TableLeftColumnClass)"><span id="elh_PenyimpananSample_CreatedBy"><template id="tpc_PenyimpananSample_CreatedBy">@Html.Raw(penyimpananSampleView.CreatedBy.Caption)</template></span></td>
        <td data-name="CreatedBy" @Html.Raw(penyimpananSampleView.CreatedBy.CellAttributes)>
<template id="tpx_PenyimpananSample_CreatedBy"><span id="el_PenyimpananSample_CreatedBy">
<span @Html.Raw(penyimpananSampleView.CreatedBy.ViewAttributes)>
@Html.Raw(penyimpananSampleView.CreatedBy.GetViewValue())</span>
</span></template></td>
    </tr>
} @* penyimpananSampleView.CreatedBy.Visible (end) *@
@if (penyimpananSampleView.etlDate.Visible) { // penyimpananSampleView.etlDate.Visible (begin)
    <tr id="r_etlDate" @Html.Raw(penyimpananSampleView.etlDate.RowAttributes)>
        <td class="@(penyimpananSampleView.TableLeftColumnClass)"><span id="elh_PenyimpananSample_etlDate"><template id="tpc_PenyimpananSample_etlDate">@Html.Raw(penyimpananSampleView.etlDate.Caption)</template></span></td>
        <td data-name="etlDate" @Html.Raw(penyimpananSampleView.etlDate.CellAttributes)>
<template id="tpx_PenyimpananSample_etlDate"><span id="el_PenyimpananSample_etlDate">
<span @Html.Raw(penyimpananSampleView.etlDate.ViewAttributes)>
@Html.Raw(penyimpananSampleView.etlDate.GetViewValue())</span>
</span></template></td>
    </tr>
} @* penyimpananSampleView.etlDate.Visible (end) *@
@if (penyimpananSampleView.LastUpdatedBy.Visible) { // penyimpananSampleView.LastUpdatedBy.Visible (begin)
    <tr id="r_LastUpdatedBy" @Html.Raw(penyimpananSampleView.LastUpdatedBy.RowAttributes)>
        <td class="@(penyimpananSampleView.TableLeftColumnClass)"><span id="elh_PenyimpananSample_LastUpdatedBy"><template id="tpc_PenyimpananSample_LastUpdatedBy">@Html.Raw(penyimpananSampleView.LastUpdatedBy.Caption)</template></span></td>
        <td data-name="LastUpdatedBy" @Html.Raw(penyimpananSampleView.LastUpdatedBy.CellAttributes)>
<template id="tpx_PenyimpananSample_LastUpdatedBy"><span id="el_PenyimpananSample_LastUpdatedBy">
<span @Html.Raw(penyimpananSampleView.LastUpdatedBy.ViewAttributes)>
@Html.Raw(penyimpananSampleView.LastUpdatedBy.GetViewValue())</span>
</span></template></td>
    </tr>
} @* penyimpananSampleView.LastUpdatedBy.Visible (end) *@
@if (penyimpananSampleView.lastUpdatedDate.Visible) { // penyimpananSampleView.lastUpdatedDate.Visible (begin)
    <tr id="r_lastUpdatedDate" @Html.Raw(penyimpananSampleView.lastUpdatedDate.RowAttributes)>
        <td class="@(penyimpananSampleView.TableLeftColumnClass)"><span id="elh_PenyimpananSample_lastUpdatedDate"><template id="tpc_PenyimpananSample_lastUpdatedDate">@Html.Raw(penyimpananSampleView.lastUpdatedDate.Caption)</template></span></td>
        <td data-name="lastUpdatedDate" @Html.Raw(penyimpananSampleView.lastUpdatedDate.CellAttributes)>
<template id="tpx_PenyimpananSample_lastUpdatedDate"><span id="el_PenyimpananSample_lastUpdatedDate">
<span @Html.Raw(penyimpananSampleView.lastUpdatedDate.ViewAttributes)>
@Html.Raw(penyimpananSampleView.lastUpdatedDate.GetViewValue())</span>
</span></template></td>
    </tr>
} @* penyimpananSampleView.lastUpdatedDate.Visible (end) *@
</table>
<div id="tpd_PenyimpananSampleview" class="ew-custom-template"></div>
<template id="tpm_PenyimpananSampleview">
<div id="ct_penyimpananSampleView"><div id="r_NomorPenyimpananSample" class="row">
    <label for="x_NomorPenyimpananSample" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleView.NomorPenyimpananSample.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PenyimpananSample_NomorPenyimpananSample"></slot></div>
</div>
<div id="r_IdPlant" class="row">
    <label for="x_IdPlant" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleView.IdPlant.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PenyimpananSample_IdPlant"></slot></div>
</div>
<div id="r_JenisSample" class="row">
    <label for="x_JenisSample" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleView.JenisSample.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PenyimpananSample_JenisSample"></slot></div>
</div>
<div id="r_NamaMasterSample" class="row">
    <label for="x_NamaMasterSample" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleView.NamaMasterSample.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PenyimpananSample_NamaMasterSample"></slot></div>
</div>
<div id="r_NomorSegel" class="row">
    <label for="x_NomorSegel" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleView.NomorSegel.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PenyimpananSample_NomorSegel"></slot></div>
</div>
<div id="r_Tanggal" class="row">
    <label for="x_Tanggal" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleView.Tanggal.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PenyimpananSample_Tanggal"></slot></div>
</div>
<div id="r_ExpiredEst" class="row">
    <label for="x_ExpiredEst" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleView.ExpiredEst.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PenyimpananSample_ExpiredEst"></slot></div>
</div>
<div id="r_Foto" class="row">
    <label for="x_Foto" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleView.Foto.Caption)</label>
    <div class="col-sm-10 d-flex align-items-center gap-2">
        <div id="downloadFotoWrap" class="mt-2"></div>
        <div class="d-none"><slot class="ew-slot" name="tpx_PenyimpananSample_Foto"></slot></div>
    </div>
</div>
<div id="r_Status" class="row">
    <label for="x_Status" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleView.Status.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PenyimpananSample_Status"></slot></div>
</div>
<div id="r_TanggalDimusnahkan" class="row">
    <label for="x_TanggalDimusnahkan" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleView.TanggalDimusnahkan.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PenyimpananSample_TanggalDimusnahkan"></slot></div>
</div>
<div id="r_LokasiPemusnahan" class="row">
    <label for="x_LokasiPemusnahan" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleView.LokasiPemusnahan.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PenyimpananSample_LokasiPemusnahan"></slot></div>
</div>
<div id="r_CreatedBy" class="row">
    <label for="x_CreatedBy" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleView.CreatedBy.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PenyimpananSample_CreatedBy"></slot></div>
</div>
<div id="r_etlDate" class="row">
    <label for="x_etlDate" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleView.etlDate.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PenyimpananSample_etlDate"></slot></div>
</div>
<div id="r_LastUpdatedBy" class="row">
    <label for="x_LastUpdatedBy" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleView.LastUpdatedBy.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PenyimpananSample_LastUpdatedBy"></slot></div>
</div>
<div id="r_lastUpdatedDate" class="row">
    <label for="x_lastUpdatedDate" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleView.lastUpdatedDate.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PenyimpananSample_lastUpdatedDate"></slot></div>
</div></div>
</template>
@{ penyimpananSampleView.CloseRecordset(); }
</form>
<script class="ew-apply-template">
loadjs.ready(ew.applyTemplateId, function() {
    var $ = jQuery;
    ew.templateData = { rows: @Html.Raw(ConvertToJson(penyimpananSampleView.Rows)) };
    ew.applyTemplate("tpd_PenyimpananSampleview", "tpm_PenyimpananSampleview", "PenyimpananSampleview", "@(penyimpananSampleView.Export)", "PenyimpananSample", ew.templateData.rows[0], @(penyimpananSampleView.IsModal ? "true" : "false"));
    loadjs.done("customtemplate");
});
</script>
</main>
@penyimpananSampleView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!penyimpananSampleView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Startup script
    (() => {
        const parentURL = ew.PATH_BASE;
        const showMsg = (msg) => (ew?.alert ? ew.alert(msg) : alert(msg));
        const showLoadingSafe = () => (typeof showLoading === "function" ? showLoading() : null);
        function getFileNameFromDisposition(disposition) {
            if (!disposition) return "download_file";
            const utf8 = disposition.match(/filename\*\s*=\s*UTF-8''([^;]+)/i);
            if (utf8?.[1]) return decodeURIComponent(utf8[1]);
            const normal = disposition.match(/filename="?([^";]+)"?/i);
            if (normal?.[1]) return decodeURIComponent(normal[1]);
            return "download_file";
        }
        function downloadBlob(blob, fileName) {
            const url = URL.createObjectURL(blob);
            const a = document.createElement("a");
            a.href = url;
            a.download = fileName || "download_file";
            document.body.appendChild(a);
            a.click();
            a.remove();
            URL.revokeObjectURL(url);
        }
        const wrap = document.querySelector("#downloadFotoWrap");
        if (!wrap) return;
        const fotoText = document.querySelector("#el_PenyimpananSample_Foto")?.textContent?.trim() || "";
        console.log(fotoText);
        const id = location.pathname.split("/").pop();
        if (fotoText && !/Not Uploaded/i.test(fotoText)) {
            wrap.innerHTML = `
                    <a class="download-document btn btn-primary"
                        data-id="${id}"
                        data-field="Foto">
                        <i class="fas fa-download me-2"></i> Download
                    </a>
                `;
        } else {
            wrap.innerHTML = `<p class="mb-0">Not Uploaded</p>`;
        }
        $(document).on("click", ".download-document", function (e) {
            e.preventDefault();
            const field = $(this).data("field");
            if (!id) return showMsg("ID dokumen tidak ditemukan.");
            if (!field) return showMsg("Field dokumen tidak ditemukan.");
            const fileKey = String(field).trim().toLowerCase();
            const url = `${parentURL}api/qq/penyimpanan-samples/${encodeURIComponent(id)}/files/${encodeURIComponent(fileKey)}`;
            $.ajax({
                url: url,
                type: "GET",
                xhrFields: { responseType: "blob" },
                beforeSend: showLoadingSafe,
                success: (blob, _status, xhr) => {
                    const fileName = getFileNameFromDisposition(xhr.getResponseHeader("Content-Disposition"));
                    downloadBlob(blob, fileName);
                    showMsg("Download berhasil!");
                },
                error: (xhr) => {
                    if (xhr.status === 404) return showMsg("File tidak ditemukan di server.");
                    if (xhr.status === 500) return showMsg("Terjadi kesalahan server. Coba lagi nanti.");
                    return showMsg(`Gagal mengunduh file. Error: ${xhr.responseText || xhr.statusText}`);
                },
                complete: () => {
                    if (typeof hideLoading === "function") hideLoading();
                },
            });
        });
        /*
        const handleToast = (el) => {
            const msg = el.querySelector(".toast-body")?.innerText?.trim();
            if (!msg) return;
            el.remove();
            (window.ew?.alert ?? alert)(msg);
        };
        const scan = (root = document) => root.querySelectorAll(".toast.text-bg-danger.show, .toast.text-bg-danger.fade.show").forEach(handleToast);
        scan();
        new MutationObserver((m) => m.forEach((x) => x.addedNodes.forEach((n) => n instanceof Element && scan(n)))).observe(document.body, { childList: true, subtree: true });
        const apply = () => {
            const saveBtn = document.querySelector("#btn-action");
            const cancelBtn = document.querySelector("#btn-cancel");
            if (!saveBtn || !cancelBtn) return false;
            const status = document.querySelector("#x_Status")?.value?.trim() || "";
            if (!saveBtn.dataset.iconized) {
                saveBtn.insertAdjacentHTML("afterbegin", '<i class="fas fa-save me-2"></i>');
                saveBtn.dataset.iconized = "1";
            }
            if (!cancelBtn.dataset.iconized) {
                cancelBtn.insertAdjacentHTML("afterbegin", '<i class="fas fa-ban me-2"></i>');
                cancelBtn.dataset.iconized = "1";
            }
            if (status === "Dimusnahkan") {
                saveBtn.remove();
            }
            return true;
        };
        if (apply()) return;
        const obs = new MutationObserver(() => {
            if (apply()) obs.disconnect();
        });
        obs.observe(document.body, { childList: true, subtree: true });
        */
    })();
});
</script>
}
