@{
    // View
    View = this;

    // Check action result
    if (penyimpananSampleDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = penyimpananSampleDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(penyimpananSampleDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { PenyimpananSample: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fPenyimpananSampledelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fPenyimpananSampledelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@penyimpananSampleDelete.ShowPageHeader()
@penyimpananSampleDelete.ShowMessages()
<form name="fPenyimpananSampledelete" id="fPenyimpananSampledelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in penyimpananSampleDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(penyimpananSampleDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(penyimpananSampleDelete.TableContainerClass)" style="@(penyimpananSampleDelete.TableContainerStyle)">
<table class="@(penyimpananSampleDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (penyimpananSampleDelete.NomorPenyimpananSample.Visible) { // penyimpananSampleDelete.NomorPenyimpananSample.Visible (begin)
        <th class="@Html.Raw(penyimpananSampleDelete.NomorPenyimpananSample.HeaderCellClass)"><span id="elh_PenyimpananSample_NomorPenyimpananSample" class="PenyimpananSample_NomorPenyimpananSample">@Html.Raw(penyimpananSampleDelete.NomorPenyimpananSample.Caption)</span></th>
} @* penyimpananSampleDelete.NomorPenyimpananSample.Visible (end) *@
@if (penyimpananSampleDelete.JenisSample.Visible) { // penyimpananSampleDelete.JenisSample.Visible (begin)
        <th class="@Html.Raw(penyimpananSampleDelete.JenisSample.HeaderCellClass)"><span id="elh_PenyimpananSample_JenisSample" class="PenyimpananSample_JenisSample">@Html.Raw(penyimpananSampleDelete.JenisSample.Caption)</span></th>
} @* penyimpananSampleDelete.JenisSample.Visible (end) *@
@if (penyimpananSampleDelete.IdPlant.Visible) { // penyimpananSampleDelete.IdPlant.Visible (begin)
        <th class="@Html.Raw(penyimpananSampleDelete.IdPlant.HeaderCellClass)"><span id="elh_PenyimpananSample_IdPlant" class="PenyimpananSample_IdPlant">@Html.Raw(penyimpananSampleDelete.IdPlant.Caption)</span></th>
} @* penyimpananSampleDelete.IdPlant.Visible (end) *@
@if (penyimpananSampleDelete.Tanggal.Visible) { // penyimpananSampleDelete.Tanggal.Visible (begin)
        <th class="@Html.Raw(penyimpananSampleDelete.Tanggal.HeaderCellClass)"><span id="elh_PenyimpananSample_Tanggal" class="PenyimpananSample_Tanggal">@Html.Raw(penyimpananSampleDelete.Tanggal.Caption)</span></th>
} @* penyimpananSampleDelete.Tanggal.Visible (end) *@
@if (penyimpananSampleDelete.NamaMasterSample.Visible) { // penyimpananSampleDelete.NamaMasterSample.Visible (begin)
        <th class="@Html.Raw(penyimpananSampleDelete.NamaMasterSample.HeaderCellClass)"><span id="elh_PenyimpananSample_NamaMasterSample" class="PenyimpananSample_NamaMasterSample">@Html.Raw(penyimpananSampleDelete.NamaMasterSample.Caption)</span></th>
} @* penyimpananSampleDelete.NamaMasterSample.Visible (end) *@
@if (penyimpananSampleDelete.NomorSegel.Visible) { // penyimpananSampleDelete.NomorSegel.Visible (begin)
        <th class="@Html.Raw(penyimpananSampleDelete.NomorSegel.HeaderCellClass)"><span id="elh_PenyimpananSample_NomorSegel" class="PenyimpananSample_NomorSegel">@Html.Raw(penyimpananSampleDelete.NomorSegel.Caption)</span></th>
} @* penyimpananSampleDelete.NomorSegel.Visible (end) *@
@if (penyimpananSampleDelete.Status.Visible) { // penyimpananSampleDelete.Status.Visible (begin)
        <th class="@Html.Raw(penyimpananSampleDelete.Status.HeaderCellClass)"><span id="elh_PenyimpananSample_Status" class="PenyimpananSample_Status">@Html.Raw(penyimpananSampleDelete.Status.Caption)</span></th>
} @* penyimpananSampleDelete.Status.Visible (end) *@
@if (penyimpananSampleDelete.DownloadFoto.Visible) { // penyimpananSampleDelete.DownloadFoto.Visible (begin)
        <th class="@Html.Raw(penyimpananSampleDelete.DownloadFoto.HeaderCellClass)"><span id="elh_PenyimpananSample_DownloadFoto" class="PenyimpananSample_DownloadFoto">@Html.Raw(penyimpananSampleDelete.DownloadFoto.Caption)</span></th>
} @* penyimpananSampleDelete.DownloadFoto.Visible (end) *@
@if (penyimpananSampleDelete.ExpiredEst.Visible) { // penyimpananSampleDelete.ExpiredEst.Visible (begin)
        <th class="@Html.Raw(penyimpananSampleDelete.ExpiredEst.HeaderCellClass)"><span id="elh_PenyimpananSample_ExpiredEst" class="PenyimpananSample_ExpiredEst">@Html.Raw(penyimpananSampleDelete.ExpiredEst.Caption)</span></th>
} @* penyimpananSampleDelete.ExpiredEst.Visible (end) *@
@if (penyimpananSampleDelete.TanggalDimusnahkan.Visible) { // penyimpananSampleDelete.TanggalDimusnahkan.Visible (begin)
        <th class="@Html.Raw(penyimpananSampleDelete.TanggalDimusnahkan.HeaderCellClass)"><span id="elh_PenyimpananSample_TanggalDimusnahkan" class="PenyimpananSample_TanggalDimusnahkan">@Html.Raw(penyimpananSampleDelete.TanggalDimusnahkan.Caption)</span></th>
} @* penyimpananSampleDelete.TanggalDimusnahkan.Visible (end) *@
@if (penyimpananSampleDelete.LokasiPemusnahan.Visible) { // penyimpananSampleDelete.LokasiPemusnahan.Visible (begin)
        <th class="@Html.Raw(penyimpananSampleDelete.LokasiPemusnahan.HeaderCellClass)"><span id="elh_PenyimpananSample_LokasiPemusnahan" class="PenyimpananSample_LokasiPemusnahan">@Html.Raw(penyimpananSampleDelete.LokasiPemusnahan.Caption)</span></th>
} @* penyimpananSampleDelete.LokasiPemusnahan.Visible (end) *@
@if (penyimpananSampleDelete.CreatedBy.Visible) { // penyimpananSampleDelete.CreatedBy.Visible (begin)
        <th class="@Html.Raw(penyimpananSampleDelete.CreatedBy.HeaderCellClass)"><span id="elh_PenyimpananSample_CreatedBy" class="PenyimpananSample_CreatedBy">@Html.Raw(penyimpananSampleDelete.CreatedBy.Caption)</span></th>
} @* penyimpananSampleDelete.CreatedBy.Visible (end) *@
@if (penyimpananSampleDelete.etlDate.Visible) { // penyimpananSampleDelete.etlDate.Visible (begin)
        <th class="@Html.Raw(penyimpananSampleDelete.etlDate.HeaderCellClass)"><span id="elh_PenyimpananSample_etlDate" class="PenyimpananSample_etlDate">@Html.Raw(penyimpananSampleDelete.etlDate.Caption)</span></th>
} @* penyimpananSampleDelete.etlDate.Visible (end) *@
@if (penyimpananSampleDelete.LastUpdatedBy.Visible) { // penyimpananSampleDelete.LastUpdatedBy.Visible (begin)
        <th class="@Html.Raw(penyimpananSampleDelete.LastUpdatedBy.HeaderCellClass)"><span id="elh_PenyimpananSample_LastUpdatedBy" class="PenyimpananSample_LastUpdatedBy">@Html.Raw(penyimpananSampleDelete.LastUpdatedBy.Caption)</span></th>
} @* penyimpananSampleDelete.LastUpdatedBy.Visible (end) *@
@if (penyimpananSampleDelete.lastUpdatedDate.Visible) { // penyimpananSampleDelete.lastUpdatedDate.Visible (begin)
        <th class="@Html.Raw(penyimpananSampleDelete.lastUpdatedDate.HeaderCellClass)"><span id="elh_PenyimpananSample_lastUpdatedDate" class="PenyimpananSample_lastUpdatedDate">@Html.Raw(penyimpananSampleDelete.lastUpdatedDate.Caption)</span></th>
} @* penyimpananSampleDelete.lastUpdatedDate.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ penyimpananSampleDelete.RecordCount = 0; }
@while (penyimpananSampleDelete.Recordset != null && await penyimpananSampleDelete.Recordset.ReadAsync()) { // DN
    penyimpananSampleDelete.RecordCount++;
    penyimpananSampleDelete.RowCount++;

    // Set row properties
    penyimpananSampleDelete.ResetAttributes();
    penyimpananSampleDelete.RowType = RowType.View; // View

    // Get the field contents
    await penyimpananSampleDelete.LoadRowValues(penyimpananSampleDelete.Recordset);

    // Render row
    await penyimpananSampleDelete.RenderRow();
    <tr @Html.Raw(penyimpananSampleDelete.RowAttributes)>
@if (penyimpananSampleDelete.NomorPenyimpananSample.Visible) { // penyimpananSampleDelete.NomorPenyimpananSample.Visible (begin)
        <td @Html.Raw(penyimpananSampleDelete.NomorPenyimpananSample.CellAttributes)>
<span id="">
<span @Html.Raw(penyimpananSampleDelete.NomorPenyimpananSample.ViewAttributes)>
@Html.Raw(penyimpananSampleDelete.NomorPenyimpananSample.GetViewValue())</span>
</span></td>
} @* penyimpananSampleDelete.NomorPenyimpananSample.Visible (end) *@
@if (penyimpananSampleDelete.JenisSample.Visible) { // penyimpananSampleDelete.JenisSample.Visible (begin)
        <td @Html.Raw(penyimpananSampleDelete.JenisSample.CellAttributes)>
<span id="">
<span @Html.Raw(penyimpananSampleDelete.JenisSample.ViewAttributes)>
@Html.Raw(penyimpananSampleDelete.JenisSample.GetViewValue())</span>
</span></td>
} @* penyimpananSampleDelete.JenisSample.Visible (end) *@
@if (penyimpananSampleDelete.IdPlant.Visible) { // penyimpananSampleDelete.IdPlant.Visible (begin)
        <td @Html.Raw(penyimpananSampleDelete.IdPlant.CellAttributes)>
<span id="">
<span @Html.Raw(penyimpananSampleDelete.IdPlant.ViewAttributes)>
@Html.Raw(penyimpananSampleDelete.IdPlant.GetViewValue())</span>
</span></td>
} @* penyimpananSampleDelete.IdPlant.Visible (end) *@
@if (penyimpananSampleDelete.Tanggal.Visible) { // penyimpananSampleDelete.Tanggal.Visible (begin)
        <td @Html.Raw(penyimpananSampleDelete.Tanggal.CellAttributes)>
<span id="">
<span @Html.Raw(penyimpananSampleDelete.Tanggal.ViewAttributes)>
@Html.Raw(penyimpananSampleDelete.Tanggal.GetViewValue())</span>
</span></td>
} @* penyimpananSampleDelete.Tanggal.Visible (end) *@
@if (penyimpananSampleDelete.NamaMasterSample.Visible) { // penyimpananSampleDelete.NamaMasterSample.Visible (begin)
        <td @Html.Raw(penyimpananSampleDelete.NamaMasterSample.CellAttributes)>
<span id="">
<span @Html.Raw(penyimpananSampleDelete.NamaMasterSample.ViewAttributes)>
@Html.Raw(penyimpananSampleDelete.NamaMasterSample.GetViewValue())</span>
</span></td>
} @* penyimpananSampleDelete.NamaMasterSample.Visible (end) *@
@if (penyimpananSampleDelete.NomorSegel.Visible) { // penyimpananSampleDelete.NomorSegel.Visible (begin)
        <td @Html.Raw(penyimpananSampleDelete.NomorSegel.CellAttributes)>
<span id="">
<span @Html.Raw(penyimpananSampleDelete.NomorSegel.ViewAttributes)>
@Html.Raw(penyimpananSampleDelete.NomorSegel.GetViewValue())</span>
</span></td>
} @* penyimpananSampleDelete.NomorSegel.Visible (end) *@
@if (penyimpananSampleDelete.Status.Visible) { // penyimpananSampleDelete.Status.Visible (begin)
        <td @Html.Raw(penyimpananSampleDelete.Status.CellAttributes)>
<span id="">
<span @Html.Raw(penyimpananSampleDelete.Status.ViewAttributes)>
@Html.Raw(penyimpananSampleDelete.Status.GetViewValue())</span>
</span></td>
} @* penyimpananSampleDelete.Status.Visible (end) *@
@if (penyimpananSampleDelete.DownloadFoto.Visible) { // penyimpananSampleDelete.DownloadFoto.Visible (begin)
        <td @Html.Raw(penyimpananSampleDelete.DownloadFoto.CellAttributes)>
<span id="">
<span @Html.Raw(penyimpananSampleDelete.DownloadFoto.ViewAttributes)>
@Html.Raw(penyimpananSampleDelete.DownloadFoto.GetViewValue())</span>
</span></td>
} @* penyimpananSampleDelete.DownloadFoto.Visible (end) *@
@if (penyimpananSampleDelete.ExpiredEst.Visible) { // penyimpananSampleDelete.ExpiredEst.Visible (begin)
        <td @Html.Raw(penyimpananSampleDelete.ExpiredEst.CellAttributes)>
<span id="">
<span @Html.Raw(penyimpananSampleDelete.ExpiredEst.ViewAttributes)>
@Html.Raw(penyimpananSampleDelete.ExpiredEst.GetViewValue())</span>
</span></td>
} @* penyimpananSampleDelete.ExpiredEst.Visible (end) *@
@if (penyimpananSampleDelete.TanggalDimusnahkan.Visible) { // penyimpananSampleDelete.TanggalDimusnahkan.Visible (begin)
        <td @Html.Raw(penyimpananSampleDelete.TanggalDimusnahkan.CellAttributes)>
<span id="">
<span @Html.Raw(penyimpananSampleDelete.TanggalDimusnahkan.ViewAttributes)>
@Html.Raw(penyimpananSampleDelete.TanggalDimusnahkan.GetViewValue())</span>
</span></td>
} @* penyimpananSampleDelete.TanggalDimusnahkan.Visible (end) *@
@if (penyimpananSampleDelete.LokasiPemusnahan.Visible) { // penyimpananSampleDelete.LokasiPemusnahan.Visible (begin)
        <td @Html.Raw(penyimpananSampleDelete.LokasiPemusnahan.CellAttributes)>
<span id="">
<span @Html.Raw(penyimpananSampleDelete.LokasiPemusnahan.ViewAttributes)>
@Html.Raw(penyimpananSampleDelete.LokasiPemusnahan.GetViewValue())</span>
</span></td>
} @* penyimpananSampleDelete.LokasiPemusnahan.Visible (end) *@
@if (penyimpananSampleDelete.CreatedBy.Visible) { // penyimpananSampleDelete.CreatedBy.Visible (begin)
        <td @Html.Raw(penyimpananSampleDelete.CreatedBy.CellAttributes)>
<span id="">
<span @Html.Raw(penyimpananSampleDelete.CreatedBy.ViewAttributes)>
@Html.Raw(penyimpananSampleDelete.CreatedBy.GetViewValue())</span>
</span></td>
} @* penyimpananSampleDelete.CreatedBy.Visible (end) *@
@if (penyimpananSampleDelete.etlDate.Visible) { // penyimpananSampleDelete.etlDate.Visible (begin)
        <td @Html.Raw(penyimpananSampleDelete.etlDate.CellAttributes)>
<span id="">
<span @Html.Raw(penyimpananSampleDelete.etlDate.ViewAttributes)>
@Html.Raw(penyimpananSampleDelete.etlDate.GetViewValue())</span>
</span></td>
} @* penyimpananSampleDelete.etlDate.Visible (end) *@
@if (penyimpananSampleDelete.LastUpdatedBy.Visible) { // penyimpananSampleDelete.LastUpdatedBy.Visible (begin)
        <td @Html.Raw(penyimpananSampleDelete.LastUpdatedBy.CellAttributes)>
<span id="">
<span @Html.Raw(penyimpananSampleDelete.LastUpdatedBy.ViewAttributes)>
@Html.Raw(penyimpananSampleDelete.LastUpdatedBy.GetViewValue())</span>
</span></td>
} @* penyimpananSampleDelete.LastUpdatedBy.Visible (end) *@
@if (penyimpananSampleDelete.lastUpdatedDate.Visible) { // penyimpananSampleDelete.lastUpdatedDate.Visible (begin)
        <td @Html.Raw(penyimpananSampleDelete.lastUpdatedDate.CellAttributes)>
<span id="">
<span @Html.Raw(penyimpananSampleDelete.lastUpdatedDate.ViewAttributes)>
@Html.Raw(penyimpananSampleDelete.lastUpdatedDate.GetViewValue())</span>
</span></td>
} @* penyimpananSampleDelete.lastUpdatedDate.Visible (end) *@
    </tr>
}
@{ penyimpananSampleDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(penyimpananSampleDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@penyimpananSampleDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
