@{
    // View
    View = this;

    // Check action result
    if (penyaluranView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = penyaluranView.UseLayout ? "_Layout" : "";
}
@if (!penyaluranView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @penyaluranView.ExportOptions.RenderBody()
    @penyaluranView.OtherOptions.RenderBody()
</div>
}
@penyaluranView.ShowPageHeader()
@penyaluranView.ShowMessages()
<main class="view">
<form name="fPenyaluranview" id="fPenyaluranview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!penyaluranView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(penyaluranView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { Penyaluran: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fPenyaluranview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fPenyaluranview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(penyaluranView.IsModal)">
<table class="@(penyaluranView.TableClass)">
@if (penyaluranView.IdPenyaluran.Visible) { // penyaluranView.IdPenyaluran.Visible (begin)
    <tr id="r_IdPenyaluran" @Html.Raw(penyaluranView.IdPenyaluran.RowAttributes)>
        <td class="@(penyaluranView.TableLeftColumnClass)"><span id="elh_Penyaluran_IdPenyaluran">@Html.Raw(penyaluranView.IdPenyaluran.Caption)</span></td>
        <td data-name="IdPenyaluran" @Html.Raw(penyaluranView.IdPenyaluran.CellAttributes)>
<span id="el_Penyaluran_IdPenyaluran">
<span @Html.Raw(penyaluranView.IdPenyaluran.ViewAttributes)>
@Html.Raw(penyaluranView.IdPenyaluran.GetViewValue())</span>
</span></td>
    </tr>
} @* penyaluranView.IdPenyaluran.Visible (end) *@
@if (penyaluranView.NomorPenyaluran.Visible) { // penyaluranView.NomorPenyaluran.Visible (begin)
    <tr id="r_NomorPenyaluran" @Html.Raw(penyaluranView.NomorPenyaluran.RowAttributes)>
        <td class="@(penyaluranView.TableLeftColumnClass)"><span id="elh_Penyaluran_NomorPenyaluran">@Html.Raw(penyaluranView.NomorPenyaluran.Caption)</span></td>
        <td data-name="NomorPenyaluran" @Html.Raw(penyaluranView.NomorPenyaluran.CellAttributes)>
<span id="el_Penyaluran_NomorPenyaluran">
<span @Html.Raw(penyaluranView.NomorPenyaluran.ViewAttributes)>
@Html.Raw(penyaluranView.NomorPenyaluran.GetViewValue())</span>
</span></td>
    </tr>
} @* penyaluranView.NomorPenyaluran.Visible (end) *@
@if (penyaluranView.LinkProses.Visible) { // penyaluranView.LinkProses.Visible (begin)
    <tr id="r_LinkProses" @Html.Raw(penyaluranView.LinkProses.RowAttributes)>
        <td class="@(penyaluranView.TableLeftColumnClass)"><span id="elh_Penyaluran_LinkProses">@Html.Raw(penyaluranView.LinkProses.Caption)</span></td>
        <td data-name="LinkProses" @Html.Raw(penyaluranView.LinkProses.CellAttributes)>
<span id="el_Penyaluran_LinkProses">
<span @Html.Raw(penyaluranView.LinkProses.ViewAttributes)>
@Html.Raw(penyaluranView.LinkProses.GetViewValue())</span>
</span></td>
    </tr>
} @* penyaluranView.LinkProses.Visible (end) *@
@if (penyaluranView.LookupPlant.Visible) { // penyaluranView.LookupPlant.Visible (begin)
    <tr id="r_LookupPlant" @Html.Raw(penyaluranView.LookupPlant.RowAttributes)>
        <td class="@(penyaluranView.TableLeftColumnClass)"><span id="elh_Penyaluran_LookupPlant">@Html.Raw(penyaluranView.LookupPlant.Caption)</span></td>
        <td data-name="LookupPlant" @Html.Raw(penyaluranView.LookupPlant.CellAttributes)>
<span id="el_Penyaluran_LookupPlant">
<span @Html.Raw(penyaluranView.LookupPlant.ViewAttributes)>
@Html.Raw(penyaluranView.LookupPlant.GetViewValue())</span>
</span></td>
    </tr>
} @* penyaluranView.LookupPlant.Visible (end) *@
@if (penyaluranView.IdPlant.Visible) { // penyaluranView.IdPlant.Visible (begin)
    <tr id="r_IdPlant" @Html.Raw(penyaluranView.IdPlant.RowAttributes)>
        <td class="@(penyaluranView.TableLeftColumnClass)"><span id="elh_Penyaluran_IdPlant">@Html.Raw(penyaluranView.IdPlant.Caption)</span></td>
        <td data-name="IdPlant" @Html.Raw(penyaluranView.IdPlant.CellAttributes)>
<span id="el_Penyaluran_IdPlant">
<span @Html.Raw(penyaluranView.IdPlant.ViewAttributes)>
@Html.Raw(penyaluranView.IdPlant.GetViewValue())</span>
</span></td>
    </tr>
} @* penyaluranView.IdPlant.Visible (end) *@
@if (penyaluranView.TipePenyaluran.Visible) { // penyaluranView.TipePenyaluran.Visible (begin)
    <tr id="r_TipePenyaluran" @Html.Raw(penyaluranView.TipePenyaluran.RowAttributes)>
        <td class="@(penyaluranView.TableLeftColumnClass)"><span id="elh_Penyaluran_TipePenyaluran">@Html.Raw(penyaluranView.TipePenyaluran.Caption)</span></td>
        <td data-name="TipePenyaluran" @Html.Raw(penyaluranView.TipePenyaluran.CellAttributes)>
<span id="el_Penyaluran_TipePenyaluran">
<span @Html.Raw(penyaluranView.TipePenyaluran.ViewAttributes)>
@Html.Raw(penyaluranView.TipePenyaluran.GetViewValue())</span>
</span></td>
    </tr>
} @* penyaluranView.TipePenyaluran.Visible (end) *@
@if (penyaluranView.TipeProdukSTS.Visible) { // penyaluranView.TipeProdukSTS.Visible (begin)
    <tr id="r_TipeProdukSTS" @Html.Raw(penyaluranView.TipeProdukSTS.RowAttributes)>
        <td class="@(penyaluranView.TableLeftColumnClass)"><span id="elh_Penyaluran_TipeProdukSTS">@Html.Raw(penyaluranView.TipeProdukSTS.Caption)</span></td>
        <td data-name="TipeProdukSTS" @Html.Raw(penyaluranView.TipeProdukSTS.CellAttributes)>
<span id="el_Penyaluran_TipeProdukSTS">
<span @Html.Raw(penyaluranView.TipeProdukSTS.ViewAttributes)>
@Html.Raw(penyaluranView.TipeProdukSTS.GetViewValue())</span>
</span></td>
    </tr>
} @* penyaluranView.TipeProdukSTS.Visible (end) *@
@if (penyaluranView.KategoriPenyaluran.Visible) { // penyaluranView.KategoriPenyaluran.Visible (begin)
    <tr id="r_KategoriPenyaluran" @Html.Raw(penyaluranView.KategoriPenyaluran.RowAttributes)>
        <td class="@(penyaluranView.TableLeftColumnClass)"><span id="elh_Penyaluran_KategoriPenyaluran">@Html.Raw(penyaluranView.KategoriPenyaluran.Caption)</span></td>
        <td data-name="KategoriPenyaluran" @Html.Raw(penyaluranView.KategoriPenyaluran.CellAttributes)>
<span id="el_Penyaluran_KategoriPenyaluran">
<span @Html.Raw(penyaluranView.KategoriPenyaluran.ViewAttributes)>
@Html.Raw(penyaluranView.KategoriPenyaluran.GetViewValue())</span>
</span></td>
    </tr>
} @* penyaluranView.KategoriPenyaluran.Visible (end) *@
@if (penyaluranView.IdModa.Visible) { // penyaluranView.IdModa.Visible (begin)
    <tr id="r_IdModa" @Html.Raw(penyaluranView.IdModa.RowAttributes)>
        <td class="@(penyaluranView.TableLeftColumnClass)"><span id="elh_Penyaluran_IdModa">@Html.Raw(penyaluranView.IdModa.Caption)</span></td>
        <td data-name="IdModa" @Html.Raw(penyaluranView.IdModa.CellAttributes)>
<span id="el_Penyaluran_IdModa">
<span @Html.Raw(penyaluranView.IdModa.ViewAttributes)>
@Html.Raw(penyaluranView.IdModa.GetViewValue())</span>
</span></td>
    </tr>
} @* penyaluranView.IdModa.Visible (end) *@
@if (penyaluranView.IdPipa.Visible) { // penyaluranView.IdPipa.Visible (begin)
    <tr id="r_IdPipa" @Html.Raw(penyaluranView.IdPipa.RowAttributes)>
        <td class="@(penyaluranView.TableLeftColumnClass)"><span id="elh_Penyaluran_IdPipa">@Html.Raw(penyaluranView.IdPipa.Caption)</span></td>
        <td data-name="IdPipa" @Html.Raw(penyaluranView.IdPipa.CellAttributes)>
<span id="el_Penyaluran_IdPipa">
<span @Html.Raw(penyaluranView.IdPipa.ViewAttributes)>
@Html.Raw(penyaluranView.IdPipa.GetViewValue())</span>
</span></td>
    </tr>
} @* penyaluranView.IdPipa.Visible (end) *@
@if (penyaluranView.NomorPolisi.Visible) { // penyaluranView.NomorPolisi.Visible (begin)
    <tr id="r_NomorPolisi" @Html.Raw(penyaluranView.NomorPolisi.RowAttributes)>
        <td class="@(penyaluranView.TableLeftColumnClass)"><span id="elh_Penyaluran_NomorPolisi">@Html.Raw(penyaluranView.NomorPolisi.Caption)</span></td>
        <td data-name="NomorPolisi" @Html.Raw(penyaluranView.NomorPolisi.CellAttributes)>
<span id="el_Penyaluran_NomorPolisi">
<span @Html.Raw(penyaluranView.NomorPolisi.ViewAttributes)>
@Html.Raw(penyaluranView.NomorPolisi.GetViewValue())</span>
</span></td>
    </tr>
} @* penyaluranView.NomorPolisi.Visible (end) *@
@if (penyaluranView.NamaKapal.Visible) { // penyaluranView.NamaKapal.Visible (begin)
    <tr id="r_NamaKapal" @Html.Raw(penyaluranView.NamaKapal.RowAttributes)>
        <td class="@(penyaluranView.TableLeftColumnClass)"><span id="elh_Penyaluran_NamaKapal">@Html.Raw(penyaluranView.NamaKapal.Caption)</span></td>
        <td data-name="NamaKapal" @Html.Raw(penyaluranView.NamaKapal.CellAttributes)>
<span id="el_Penyaluran_NamaKapal">
<span @Html.Raw(penyaluranView.NamaKapal.ViewAttributes)>
@Html.Raw(penyaluranView.NamaKapal.GetViewValue())</span>
</span></td>
    </tr>
} @* penyaluranView.NamaKapal.Visible (end) *@
@if (penyaluranView.JenisProduk.Visible) { // penyaluranView.JenisProduk.Visible (begin)
    <tr id="r_JenisProduk" @Html.Raw(penyaluranView.JenisProduk.RowAttributes)>
        <td class="@(penyaluranView.TableLeftColumnClass)"><span id="elh_Penyaluran_JenisProduk">@Html.Raw(penyaluranView.JenisProduk.Caption)</span></td>
        <td data-name="JenisProduk" @Html.Raw(penyaluranView.JenisProduk.CellAttributes)>
<span id="el_Penyaluran_JenisProduk">
<span @Html.Raw(penyaluranView.JenisProduk.ViewAttributes)>
@Html.Raw(penyaluranView.JenisProduk.GetViewValue())</span>
</span></td>
    </tr>
} @* penyaluranView.JenisProduk.Visible (end) *@
@if (penyaluranView.IdPenimbunan.Visible) { // penyaluranView.IdPenimbunan.Visible (begin)
    <tr id="r_IdPenimbunan" @Html.Raw(penyaluranView.IdPenimbunan.RowAttributes)>
        <td class="@(penyaluranView.TableLeftColumnClass)"><span id="elh_Penyaluran_IdPenimbunan">@Html.Raw(penyaluranView.IdPenimbunan.Caption)</span></td>
        <td data-name="IdPenimbunan" @Html.Raw(penyaluranView.IdPenimbunan.CellAttributes)>
<span id="el_Penyaluran_IdPenimbunan">
<span @Html.Raw(penyaluranView.IdPenimbunan.ViewAttributes)>
@Html.Raw(penyaluranView.IdPenimbunan.GetViewValue())</span>
</span></td>
    </tr>
} @* penyaluranView.IdPenimbunan.Visible (end) *@
@if (penyaluranView.StatusProses.Visible) { // penyaluranView.StatusProses.Visible (begin)
    <tr id="r_StatusProses" @Html.Raw(penyaluranView.StatusProses.RowAttributes)>
        <td class="@(penyaluranView.TableLeftColumnClass)"><span id="elh_Penyaluran_StatusProses">@Html.Raw(penyaluranView.StatusProses.Caption)</span></td>
        <td data-name="StatusProses" @Html.Raw(penyaluranView.StatusProses.CellAttributes)>
<span id="el_Penyaluran_StatusProses">
<span @Html.Raw(penyaluranView.StatusProses.ViewAttributes)>
@Html.Raw(penyaluranView.StatusProses.GetViewValue())</span>
</span></td>
    </tr>
} @* penyaluranView.StatusProses.Visible (end) *@
@if (penyaluranView.IdTemplate.Visible) { // penyaluranView.IdTemplate.Visible (begin)
    <tr id="r_IdTemplate" @Html.Raw(penyaluranView.IdTemplate.RowAttributes)>
        <td class="@(penyaluranView.TableLeftColumnClass)"><span id="elh_Penyaluran_IdTemplate">@Html.Raw(penyaluranView.IdTemplate.Caption)</span></td>
        <td data-name="IdTemplate" @Html.Raw(penyaluranView.IdTemplate.CellAttributes)>
<span id="el_Penyaluran_IdTemplate">
<span @Html.Raw(penyaluranView.IdTemplate.ViewAttributes)>
@Html.Raw(penyaluranView.IdTemplate.GetViewValue())</span>
</span></td>
    </tr>
} @* penyaluranView.IdTemplate.Visible (end) *@
@if (penyaluranView.PersentaseProgress.Visible) { // penyaluranView.PersentaseProgress.Visible (begin)
    <tr id="r_PersentaseProgress" @Html.Raw(penyaluranView.PersentaseProgress.RowAttributes)>
        <td class="@(penyaluranView.TableLeftColumnClass)"><span id="elh_Penyaluran_PersentaseProgress">@Html.Raw(penyaluranView.PersentaseProgress.Caption)</span></td>
        <td data-name="PersentaseProgress" @Html.Raw(penyaluranView.PersentaseProgress.CellAttributes)>
<span id="el_Penyaluran_PersentaseProgress">
<span @Html.Raw(penyaluranView.PersentaseProgress.ViewAttributes)>
@Html.Raw(penyaluranView.PersentaseProgress.GetViewValue())</span>
</span></td>
    </tr>
} @* penyaluranView.PersentaseProgress.Visible (end) *@
@if (penyaluranView.Tujuan.Visible) { // penyaluranView.Tujuan.Visible (begin)
    <tr id="r_Tujuan" @Html.Raw(penyaluranView.Tujuan.RowAttributes)>
        <td class="@(penyaluranView.TableLeftColumnClass)"><span id="elh_Penyaluran_Tujuan">@Html.Raw(penyaluranView.Tujuan.Caption)</span></td>
        <td data-name="Tujuan" @Html.Raw(penyaluranView.Tujuan.CellAttributes)>
<span id="el_Penyaluran_Tujuan">
<span @Html.Raw(penyaluranView.Tujuan.ViewAttributes)>
@Html.Raw(penyaluranView.Tujuan.GetViewValue())</span>
</span></td>
    </tr>
} @* penyaluranView.Tujuan.Visible (end) *@
@if (penyaluranView.TujuanKonsinyasi.Visible) { // penyaluranView.TujuanKonsinyasi.Visible (begin)
    <tr id="r_TujuanKonsinyasi" @Html.Raw(penyaluranView.TujuanKonsinyasi.RowAttributes)>
        <td class="@(penyaluranView.TableLeftColumnClass)"><span id="elh_Penyaluran_TujuanKonsinyasi">@Html.Raw(penyaluranView.TujuanKonsinyasi.Caption)</span></td>
        <td data-name="TujuanKonsinyasi" @Html.Raw(penyaluranView.TujuanKonsinyasi.CellAttributes)>
<span id="el_Penyaluran_TujuanKonsinyasi">
<span @Html.Raw(penyaluranView.TujuanKonsinyasi.ViewAttributes)>
@Html.Raw(penyaluranView.TujuanKonsinyasi.GetViewValue())</span>
</span></td>
    </tr>
} @* penyaluranView.TujuanKonsinyasi.Visible (end) *@
@if (penyaluranView.Volume.Visible) { // penyaluranView.Volume.Visible (begin)
    <tr id="r_Volume" @Html.Raw(penyaluranView.Volume.RowAttributes)>
        <td class="@(penyaluranView.TableLeftColumnClass)"><span id="elh_Penyaluran_Volume">@Html.Raw(penyaluranView.Volume.Caption)</span></td>
        <td data-name="Volume" @Html.Raw(penyaluranView.Volume.CellAttributes)>
<span id="el_Penyaluran_Volume">
<span @Html.Raw(penyaluranView.Volume.ViewAttributes)>
@Html.Raw(penyaluranView.Volume.GetViewValue())</span>
</span></td>
    </tr>
} @* penyaluranView.Volume.Visible (end) *@
@if (penyaluranView.TujuanKonsinyasiPipa.Visible) { // penyaluranView.TujuanKonsinyasiPipa.Visible (begin)
    <tr id="r_TujuanKonsinyasiPipa" @Html.Raw(penyaluranView.TujuanKonsinyasiPipa.RowAttributes)>
        <td class="@(penyaluranView.TableLeftColumnClass)"><span id="elh_Penyaluran_TujuanKonsinyasiPipa">@Html.Raw(penyaluranView.TujuanKonsinyasiPipa.Caption)</span></td>
        <td data-name="TujuanKonsinyasiPipa" @Html.Raw(penyaluranView.TujuanKonsinyasiPipa.CellAttributes)>
<span id="el_Penyaluran_TujuanKonsinyasiPipa">
<span @Html.Raw(penyaluranView.TujuanKonsinyasiPipa.ViewAttributes)>
@Html.Raw(penyaluranView.TujuanKonsinyasiPipa.GetViewValue())</span>
</span></td>
    </tr>
} @* penyaluranView.TujuanKonsinyasiPipa.Visible (end) *@
@if (penyaluranView.QuantityKonsinyasiPipa.Visible) { // penyaluranView.QuantityKonsinyasiPipa.Visible (begin)
    <tr id="r_QuantityKonsinyasiPipa" @Html.Raw(penyaluranView.QuantityKonsinyasiPipa.RowAttributes)>
        <td class="@(penyaluranView.TableLeftColumnClass)"><span id="elh_Penyaluran_QuantityKonsinyasiPipa">@Html.Raw(penyaluranView.QuantityKonsinyasiPipa.Caption)</span></td>
        <td data-name="QuantityKonsinyasiPipa" @Html.Raw(penyaluranView.QuantityKonsinyasiPipa.CellAttributes)>
<span id="el_Penyaluran_QuantityKonsinyasiPipa">
<span @Html.Raw(penyaluranView.QuantityKonsinyasiPipa.ViewAttributes)>
@Html.Raw(penyaluranView.QuantityKonsinyasiPipa.GetViewValue())</span>
</span></td>
    </tr>
} @* penyaluranView.QuantityKonsinyasiPipa.Visible (end) *@
@if (penyaluranView.TanggalSandar.Visible) { // penyaluranView.TanggalSandar.Visible (begin)
    <tr id="r_TanggalSandar" @Html.Raw(penyaluranView.TanggalSandar.RowAttributes)>
        <td class="@(penyaluranView.TableLeftColumnClass)"><span id="elh_Penyaluran_TanggalSandar">@Html.Raw(penyaluranView.TanggalSandar.Caption)</span></td>
        <td data-name="TanggalSandar" @Html.Raw(penyaluranView.TanggalSandar.CellAttributes)>
<span id="el_Penyaluran_TanggalSandar">
<span @Html.Raw(penyaluranView.TanggalSandar.ViewAttributes)>
@Html.Raw(penyaluranView.TanggalSandar.GetViewValue())</span>
</span></td>
    </tr>
} @* penyaluranView.TanggalSandar.Visible (end) *@
@if (penyaluranView.Catatan.Visible) { // penyaluranView.Catatan.Visible (begin)
    <tr id="r_Catatan" @Html.Raw(penyaluranView.Catatan.RowAttributes)>
        <td class="@(penyaluranView.TableLeftColumnClass)"><span id="elh_Penyaluran_Catatan">@Html.Raw(penyaluranView.Catatan.Caption)</span></td>
        <td data-name="Catatan" @Html.Raw(penyaluranView.Catatan.CellAttributes)>
<span id="el_Penyaluran_Catatan">
<span @Html.Raw(penyaluranView.Catatan.ViewAttributes)>
@Html.Raw(penyaluranView.Catatan.GetViewValue())</span>
</span></td>
    </tr>
} @* penyaluranView.Catatan.Visible (end) *@
@if (penyaluranView.DibuatOleh.Visible) { // penyaluranView.DibuatOleh.Visible (begin)
    <tr id="r_DibuatOleh" @Html.Raw(penyaluranView.DibuatOleh.RowAttributes)>
        <td class="@(penyaluranView.TableLeftColumnClass)"><span id="elh_Penyaluran_DibuatOleh">@Html.Raw(penyaluranView.DibuatOleh.Caption)</span></td>
        <td data-name="DibuatOleh" @Html.Raw(penyaluranView.DibuatOleh.CellAttributes)>
<span id="el_Penyaluran_DibuatOleh">
<span @Html.Raw(penyaluranView.DibuatOleh.ViewAttributes)>
@Html.Raw(penyaluranView.DibuatOleh.GetViewValue())</span>
</span></td>
    </tr>
} @* penyaluranView.DibuatOleh.Visible (end) *@
@if (penyaluranView.TanggalDibuat.Visible) { // penyaluranView.TanggalDibuat.Visible (begin)
    <tr id="r_TanggalDibuat" @Html.Raw(penyaluranView.TanggalDibuat.RowAttributes)>
        <td class="@(penyaluranView.TableLeftColumnClass)"><span id="elh_Penyaluran_TanggalDibuat">@Html.Raw(penyaluranView.TanggalDibuat.Caption)</span></td>
        <td data-name="TanggalDibuat" @Html.Raw(penyaluranView.TanggalDibuat.CellAttributes)>
<span id="el_Penyaluran_TanggalDibuat">
<span @Html.Raw(penyaluranView.TanggalDibuat.ViewAttributes)>
@Html.Raw(penyaluranView.TanggalDibuat.GetViewValue())</span>
</span></td>
    </tr>
} @* penyaluranView.TanggalDibuat.Visible (end) *@
@if (penyaluranView.DiperbaruiOleh.Visible) { // penyaluranView.DiperbaruiOleh.Visible (begin)
    <tr id="r_DiperbaruiOleh" @Html.Raw(penyaluranView.DiperbaruiOleh.RowAttributes)>
        <td class="@(penyaluranView.TableLeftColumnClass)"><span id="elh_Penyaluran_DiperbaruiOleh">@Html.Raw(penyaluranView.DiperbaruiOleh.Caption)</span></td>
        <td data-name="DiperbaruiOleh" @Html.Raw(penyaluranView.DiperbaruiOleh.CellAttributes)>
<span id="el_Penyaluran_DiperbaruiOleh">
<span @Html.Raw(penyaluranView.DiperbaruiOleh.ViewAttributes)>
@Html.Raw(penyaluranView.DiperbaruiOleh.GetViewValue())</span>
</span></td>
    </tr>
} @* penyaluranView.DiperbaruiOleh.Visible (end) *@
@if (penyaluranView.TanggalDiperbarui.Visible) { // penyaluranView.TanggalDiperbarui.Visible (begin)
    <tr id="r_TanggalDiperbarui" @Html.Raw(penyaluranView.TanggalDiperbarui.RowAttributes)>
        <td class="@(penyaluranView.TableLeftColumnClass)"><span id="elh_Penyaluran_TanggalDiperbarui">@Html.Raw(penyaluranView.TanggalDiperbarui.Caption)</span></td>
        <td data-name="TanggalDiperbarui" @Html.Raw(penyaluranView.TanggalDiperbarui.CellAttributes)>
<span id="el_Penyaluran_TanggalDiperbarui">
<span @Html.Raw(penyaluranView.TanggalDiperbarui.ViewAttributes)>
@Html.Raw(penyaluranView.TanggalDiperbarui.GetViewValue())</span>
</span></td>
    </tr>
} @* penyaluranView.TanggalDiperbarui.Visible (end) *@
</table>
@{ penyaluranView.CloseRecordset(); }
</form>
</main>
@penyaluranView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!penyaluranView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
