@{
    // View
    View = this;

    // Check action result
    if (penyimpananSampleEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = penyimpananSampleEdit.UseLayout ? "_Layout" : "";
}
@penyimpananSampleEdit.ShowPageHeader()
@penyimpananSampleEdit.ShowMessages()
<main class="edit">
<form name="fPenyimpananSampleedit" id="fPenyimpananSampleedit" class="@(penyimpananSampleEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(penyimpananSampleEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { PenyimpananSample: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fPenyimpananSampleedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fPenyimpananSampleedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["NomorPenyimpananSample", [fields.NomorPenyimpananSample.visible && fields.NomorPenyimpananSample.required ? ew.Validators.required(fields.NomorPenyimpananSample.caption) : null], fields.NomorPenyimpananSample.isInvalid],
            ["JenisSample", [fields.JenisSample.visible && fields.JenisSample.required ? ew.Validators.required(fields.JenisSample.caption) : null], fields.JenisSample.isInvalid],
            ["IdPlant", [fields.IdPlant.visible && fields.IdPlant.required ? ew.Validators.required(fields.IdPlant.caption) : null], fields.IdPlant.isInvalid],
            ["Tanggal", [fields.Tanggal.visible && fields.Tanggal.required ? ew.Validators.required(fields.Tanggal.caption) : null], fields.Tanggal.isInvalid],
            ["NamaMasterSample", [fields.NamaMasterSample.visible && fields.NamaMasterSample.required ? ew.Validators.required(fields.NamaMasterSample.caption) : null], fields.NamaMasterSample.isInvalid],
            ["NomorSegel", [fields.NomorSegel.visible && fields.NomorSegel.required ? ew.Validators.required(fields.NomorSegel.caption) : null], fields.NomorSegel.isInvalid],
            ["Status", [fields.Status.visible && fields.Status.required ? ew.Validators.required(fields.Status.caption) : null], fields.Status.isInvalid],
            ["Foto", [fields.Foto.visible && fields.Foto.required ? ew.Validators.required(fields.Foto.caption) : null], fields.Foto.isInvalid],
            ["ExpiredEst", [fields.ExpiredEst.visible && fields.ExpiredEst.required ? ew.Validators.required(fields.ExpiredEst.caption) : null], fields.ExpiredEst.isInvalid],
            ["TanggalDimusnahkan", [fields.TanggalDimusnahkan.visible && fields.TanggalDimusnahkan.required ? ew.Validators.required(fields.TanggalDimusnahkan.caption) : null, ew.Validators.datetime(fields.TanggalDimusnahkan.clientFormatPattern)], fields.TanggalDimusnahkan.isInvalid],
            ["LokasiPemusnahan", [fields.LokasiPemusnahan.visible && fields.LokasiPemusnahan.required ? ew.Validators.required(fields.LokasiPemusnahan.caption) : null], fields.LokasiPemusnahan.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(penyimpananSampleEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(penyimpananSampleEdit.OldKeyName)" value="@Html.Raw(penyimpananSampleEdit.OldKey)">
<div class="ew-edit-div d-none"><!-- page* -->
@if (penyimpananSampleEdit.NomorPenyimpananSample.Visible) { // penyimpananSampleEdit.NomorPenyimpananSample.Visible (begin)
    <div id="r_NomorPenyimpananSample" @Html.Raw(penyimpananSampleEdit.NomorPenyimpananSample.RowAttributes)>
        <label id="elh_PenyimpananSample_NomorPenyimpananSample" for="x_NomorPenyimpananSample" class="@(penyimpananSampleEdit.LeftColumnClass)"><template id="tpc_PenyimpananSample_NomorPenyimpananSample">@Html.Raw(penyimpananSampleEdit.NomorPenyimpananSample.Caption)@Html.Raw(penyimpananSampleEdit.NomorPenyimpananSample.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(penyimpananSampleEdit.RightColumnClass)"><div @Html.Raw(penyimpananSampleEdit.NomorPenyimpananSample.CellAttributes)>
<template id="tpx_PenyimpananSample_NomorPenyimpananSample"><span id="el_PenyimpananSample_NomorPenyimpananSample">
<span @Html.Raw(penyimpananSampleEdit.NomorPenyimpananSample.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(penyimpananSampleEdit.NomorPenyimpananSample.EditValue)))"></span>
<input type="hidden" data-table="PenyimpananSample" data-field="x_NomorPenyimpananSample" data-hidden="1" name="x_NomorPenyimpananSample" id="x_NomorPenyimpananSample" value="@Html.Raw(HtmlEncode(penyimpananSampleEdit.NomorPenyimpananSample.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* penyimpananSampleEdit.NomorPenyimpananSample.Visible (end) *@
@if (penyimpananSampleEdit.JenisSample.Visible) { // penyimpananSampleEdit.JenisSample.Visible (begin)
    <div id="r_JenisSample" @Html.Raw(penyimpananSampleEdit.JenisSample.RowAttributes)>
        <label id="elh_PenyimpananSample_JenisSample" for="x_JenisSample" class="@(penyimpananSampleEdit.LeftColumnClass)"><template id="tpc_PenyimpananSample_JenisSample">@Html.Raw(penyimpananSampleEdit.JenisSample.Caption)@Html.Raw(penyimpananSampleEdit.JenisSample.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(penyimpananSampleEdit.RightColumnClass)"><div @Html.Raw(penyimpananSampleEdit.JenisSample.CellAttributes)>
<template id="tpx_PenyimpananSample_JenisSample"><span id="el_PenyimpananSample_JenisSample">
<span @Html.Raw(penyimpananSampleEdit.JenisSample.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(penyimpananSampleEdit.JenisSample.DisplayValue(penyimpananSampleEdit.JenisSample.EditValue))</span></span>
<input type="hidden" data-table="PenyimpananSample" data-field="x_JenisSample" data-hidden="1" name="x_JenisSample" id="x_JenisSample" value="@Html.Raw(HtmlEncode(penyimpananSampleEdit.JenisSample.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* penyimpananSampleEdit.JenisSample.Visible (end) *@
@if (penyimpananSampleEdit.IdPlant.Visible) { // penyimpananSampleEdit.IdPlant.Visible (begin)
    <div id="r_IdPlant" @Html.Raw(penyimpananSampleEdit.IdPlant.RowAttributes)>
        <label id="elh_PenyimpananSample_IdPlant" for="x_IdPlant" class="@(penyimpananSampleEdit.LeftColumnClass)"><template id="tpc_PenyimpananSample_IdPlant">@Html.Raw(penyimpananSampleEdit.IdPlant.Caption)@Html.Raw(penyimpananSampleEdit.IdPlant.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(penyimpananSampleEdit.RightColumnClass)"><div @Html.Raw(penyimpananSampleEdit.IdPlant.CellAttributes)>
<template id="tpx_PenyimpananSample_IdPlant"><span id="el_PenyimpananSample_IdPlant">
<span @Html.Raw(penyimpananSampleEdit.IdPlant.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(penyimpananSampleEdit.IdPlant.DisplayValue(penyimpananSampleEdit.IdPlant.EditValue))</span></span>
<input type="hidden" data-table="PenyimpananSample" data-field="x_IdPlant" data-hidden="1" name="x_IdPlant" id="x_IdPlant" value="@Html.Raw(HtmlEncode(penyimpananSampleEdit.IdPlant.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* penyimpananSampleEdit.IdPlant.Visible (end) *@
@if (penyimpananSampleEdit.Tanggal.Visible) { // penyimpananSampleEdit.Tanggal.Visible (begin)
    <div id="r_Tanggal" @Html.Raw(penyimpananSampleEdit.Tanggal.RowAttributes)>
        <label id="elh_PenyimpananSample_Tanggal" for="x_Tanggal" class="@(penyimpananSampleEdit.LeftColumnClass)"><template id="tpc_PenyimpananSample_Tanggal">@Html.Raw(penyimpananSampleEdit.Tanggal.Caption)@Html.Raw(penyimpananSampleEdit.Tanggal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(penyimpananSampleEdit.RightColumnClass)"><div @Html.Raw(penyimpananSampleEdit.Tanggal.CellAttributes)>
<template id="tpx_PenyimpananSample_Tanggal"><span id="el_PenyimpananSample_Tanggal">
<span @Html.Raw(penyimpananSampleEdit.Tanggal.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(penyimpananSampleEdit.Tanggal.EditValue)))"></span>
<input type="hidden" data-table="PenyimpananSample" data-field="x_Tanggal" data-hidden="1" name="x_Tanggal" id="x_Tanggal" value="@Html.Raw(HtmlEncode(penyimpananSampleEdit.Tanggal.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* penyimpananSampleEdit.Tanggal.Visible (end) *@
@if (penyimpananSampleEdit.NamaMasterSample.Visible) { // penyimpananSampleEdit.NamaMasterSample.Visible (begin)
    <div id="r_NamaMasterSample" @Html.Raw(penyimpananSampleEdit.NamaMasterSample.RowAttributes)>
        <label id="elh_PenyimpananSample_NamaMasterSample" for="x_NamaMasterSample" class="@(penyimpananSampleEdit.LeftColumnClass)"><template id="tpc_PenyimpananSample_NamaMasterSample">@Html.Raw(penyimpananSampleEdit.NamaMasterSample.Caption)@Html.Raw(penyimpananSampleEdit.NamaMasterSample.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(penyimpananSampleEdit.RightColumnClass)"><div @Html.Raw(penyimpananSampleEdit.NamaMasterSample.CellAttributes)>
<template id="tpx_PenyimpananSample_NamaMasterSample"><span id="el_PenyimpananSample_NamaMasterSample">
<span @Html.Raw(penyimpananSampleEdit.NamaMasterSample.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(penyimpananSampleEdit.NamaMasterSample.EditValue)))"></span>
<input type="hidden" data-table="PenyimpananSample" data-field="x_NamaMasterSample" data-hidden="1" name="x_NamaMasterSample" id="x_NamaMasterSample" value="@Html.Raw(HtmlEncode(penyimpananSampleEdit.NamaMasterSample.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* penyimpananSampleEdit.NamaMasterSample.Visible (end) *@
@if (penyimpananSampleEdit.NomorSegel.Visible) { // penyimpananSampleEdit.NomorSegel.Visible (begin)
    <div id="r_NomorSegel" @Html.Raw(penyimpananSampleEdit.NomorSegel.RowAttributes)>
        <label id="elh_PenyimpananSample_NomorSegel" for="x_NomorSegel" class="@(penyimpananSampleEdit.LeftColumnClass)"><template id="tpc_PenyimpananSample_NomorSegel">@Html.Raw(penyimpananSampleEdit.NomorSegel.Caption)@Html.Raw(penyimpananSampleEdit.NomorSegel.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(penyimpananSampleEdit.RightColumnClass)"><div @Html.Raw(penyimpananSampleEdit.NomorSegel.CellAttributes)>
<template id="tpx_PenyimpananSample_NomorSegel"><span id="el_PenyimpananSample_NomorSegel">
<span @Html.Raw(penyimpananSampleEdit.NomorSegel.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(penyimpananSampleEdit.NomorSegel.EditValue)))"></span>
<input type="hidden" data-table="PenyimpananSample" data-field="x_NomorSegel" data-hidden="1" name="x_NomorSegel" id="x_NomorSegel" value="@Html.Raw(HtmlEncode(penyimpananSampleEdit.NomorSegel.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* penyimpananSampleEdit.NomorSegel.Visible (end) *@
@if (penyimpananSampleEdit.Status.Visible) { // penyimpananSampleEdit.Status.Visible (begin)
    <div id="r_Status" @Html.Raw(penyimpananSampleEdit.Status.RowAttributes)>
        <label id="elh_PenyimpananSample_Status" for="x_Status" class="@(penyimpananSampleEdit.LeftColumnClass)"><template id="tpc_PenyimpananSample_Status">@Html.Raw(penyimpananSampleEdit.Status.Caption)@Html.Raw(penyimpananSampleEdit.Status.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(penyimpananSampleEdit.RightColumnClass)"><div @Html.Raw(penyimpananSampleEdit.Status.CellAttributes)>
<template id="tpx_PenyimpananSample_Status"><span id="el_PenyimpananSample_Status">
<span @Html.Raw(penyimpananSampleEdit.Status.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(penyimpananSampleEdit.Status.EditValue)))"></span>
<input type="hidden" data-table="PenyimpananSample" data-field="x_Status" data-hidden="1" name="x_Status" id="x_Status" value="@Html.Raw(HtmlEncode(penyimpananSampleEdit.Status.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* penyimpananSampleEdit.Status.Visible (end) *@
@if (penyimpananSampleEdit.Foto.Visible) { // penyimpananSampleEdit.Foto.Visible (begin)
    <div id="r_Foto" @Html.Raw(penyimpananSampleEdit.Foto.RowAttributes)>
        <label id="elh_PenyimpananSample_Foto" for="x_Foto" class="@(penyimpananSampleEdit.LeftColumnClass)"><template id="tpc_PenyimpananSample_Foto">@Html.Raw(penyimpananSampleEdit.Foto.Caption)@Html.Raw(penyimpananSampleEdit.Foto.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(penyimpananSampleEdit.RightColumnClass)"><div @Html.Raw(penyimpananSampleEdit.Foto.CellAttributes)>
<template id="tpx_PenyimpananSample_Foto"><span id="el_PenyimpananSample_Foto">
<span @Html.Raw(penyimpananSampleEdit.Foto.ViewAttributes)>
@Html.Raw(penyimpananSampleEdit.Foto.EditValue)</span>
<input type="hidden" data-table="PenyimpananSample" data-field="x_Foto" data-hidden="1" name="x_Foto" id="x_Foto" value="@Html.Raw(HtmlEncode(penyimpananSampleEdit.Foto.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* penyimpananSampleEdit.Foto.Visible (end) *@
@if (penyimpananSampleEdit.ExpiredEst.Visible) { // penyimpananSampleEdit.ExpiredEst.Visible (begin)
    <div id="r_ExpiredEst" @Html.Raw(penyimpananSampleEdit.ExpiredEst.RowAttributes)>
        <label id="elh_PenyimpananSample_ExpiredEst" for="x_ExpiredEst" class="@(penyimpananSampleEdit.LeftColumnClass)"><template id="tpc_PenyimpananSample_ExpiredEst">@Html.Raw(penyimpananSampleEdit.ExpiredEst.Caption)@Html.Raw(penyimpananSampleEdit.ExpiredEst.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(penyimpananSampleEdit.RightColumnClass)"><div @Html.Raw(penyimpananSampleEdit.ExpiredEst.CellAttributes)>
<template id="tpx_PenyimpananSample_ExpiredEst"><span id="el_PenyimpananSample_ExpiredEst">
<span @Html.Raw(penyimpananSampleEdit.ExpiredEst.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(penyimpananSampleEdit.ExpiredEst.EditValue)))"></span>
<input type="hidden" data-table="PenyimpananSample" data-field="x_ExpiredEst" data-hidden="1" name="x_ExpiredEst" id="x_ExpiredEst" value="@Html.Raw(HtmlEncode(penyimpananSampleEdit.ExpiredEst.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* penyimpananSampleEdit.ExpiredEst.Visible (end) *@
@if (penyimpananSampleEdit.TanggalDimusnahkan.Visible) { // penyimpananSampleEdit.TanggalDimusnahkan.Visible (begin)
    <div id="r_TanggalDimusnahkan" @Html.Raw(penyimpananSampleEdit.TanggalDimusnahkan.RowAttributes)>
        <label id="elh_PenyimpananSample_TanggalDimusnahkan" for="x_TanggalDimusnahkan" class="@(penyimpananSampleEdit.LeftColumnClass)"><template id="tpc_PenyimpananSample_TanggalDimusnahkan">@Html.Raw(penyimpananSampleEdit.TanggalDimusnahkan.Caption)@Html.Raw(penyimpananSampleEdit.TanggalDimusnahkan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(penyimpananSampleEdit.RightColumnClass)"><div @Html.Raw(penyimpananSampleEdit.TanggalDimusnahkan.CellAttributes)>
<template id="tpx_PenyimpananSample_TanggalDimusnahkan"><span id="el_PenyimpananSample_TanggalDimusnahkan">
<input type="@(penyimpananSampleEdit.TanggalDimusnahkan.InputTextType)" name="x_TanggalDimusnahkan" id="x_TanggalDimusnahkan" data-table="PenyimpananSample" data-field="x_TanggalDimusnahkan" value="@Html.Raw(penyimpananSampleEdit.TanggalDimusnahkan.EditValue)" placeholder="@Html.Raw(HtmlEncode(penyimpananSampleEdit.TanggalDimusnahkan.PlaceHolder))" data-format-pattern="@(penyimpananSampleEdit.TanggalDimusnahkan.FormatPattern)"@Html.Raw(penyimpananSampleEdit.TanggalDimusnahkan.EditAttributes) aria-describedby="x_TanggalDimusnahkan_help">
@Html.Raw(penyimpananSampleEdit.TanggalDimusnahkan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(penyimpananSampleEdit.TanggalDimusnahkan.GetErrorMessage())</div>
@if (!penyimpananSampleEdit.TanggalDimusnahkan.ReadOnly && !penyimpananSampleEdit.TanggalDimusnahkan.Disabled && !penyimpananSampleEdit.TanggalDimusnahkan.EditAttrs.Is("readonly") && !penyimpananSampleEdit.TanggalDimusnahkan.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fPenyimpananSampleedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fPenyimpananSampleedit", "x_TanggalDimusnahkan", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span></template>
</div></div>
    </div>
} @* penyimpananSampleEdit.TanggalDimusnahkan.Visible (end) *@
@if (penyimpananSampleEdit.LokasiPemusnahan.Visible) { // penyimpananSampleEdit.LokasiPemusnahan.Visible (begin)
    <div id="r_LokasiPemusnahan" @Html.Raw(penyimpananSampleEdit.LokasiPemusnahan.RowAttributes)>
        <label id="elh_PenyimpananSample_LokasiPemusnahan" for="x_LokasiPemusnahan" class="@(penyimpananSampleEdit.LeftColumnClass)"><template id="tpc_PenyimpananSample_LokasiPemusnahan">@Html.Raw(penyimpananSampleEdit.LokasiPemusnahan.Caption)@Html.Raw(penyimpananSampleEdit.LokasiPemusnahan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(penyimpananSampleEdit.RightColumnClass)"><div @Html.Raw(penyimpananSampleEdit.LokasiPemusnahan.CellAttributes)>
<template id="tpx_PenyimpananSample_LokasiPemusnahan"><span id="el_PenyimpananSample_LokasiPemusnahan">
<input type="@(penyimpananSampleEdit.LokasiPemusnahan.InputTextType)" name="x_LokasiPemusnahan" id="x_LokasiPemusnahan" data-table="PenyimpananSample" data-field="x_LokasiPemusnahan" value="@Html.Raw(penyimpananSampleEdit.LokasiPemusnahan.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(penyimpananSampleEdit.LokasiPemusnahan.PlaceHolder))" data-format-pattern="@(penyimpananSampleEdit.LokasiPemusnahan.FormatPattern)"@Html.Raw(penyimpananSampleEdit.LokasiPemusnahan.EditAttributes) aria-describedby="x_LokasiPemusnahan_help">
@Html.Raw(penyimpananSampleEdit.LokasiPemusnahan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(penyimpananSampleEdit.LokasiPemusnahan.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* penyimpananSampleEdit.LokasiPemusnahan.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="PenyimpananSample" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(penyimpananSampleEdit.id.CurrentValue))">
<div id="tpd_PenyimpananSampleedit" class="ew-custom-template"></div>
<template id="tpm_PenyimpananSampleedit">
<div id="ct_penyimpananSampleEdit"><div id="r_NomorPenyimpananSample" class="row">
    <label for="x_NomorPenyimpananSample" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleEdit.NomorPenyimpananSample.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PenyimpananSample_NomorPenyimpananSample"></slot></div>
</div>
<div id="r_IdPlant" class="row">
    <label for="x_IdPlant" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleEdit.IdPlant.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PenyimpananSample_IdPlant"></slot></div>
</div>
<div id="r_JenisSample" class="row">
    <label for="x_JenisSample" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleEdit.JenisSample.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PenyimpananSample_JenisSample"></slot></div>
</div>
<div id="r_NamaMasterSample" class="row">
    <label for="x_NamaMasterSample" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleEdit.NamaMasterSample.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PenyimpananSample_NamaMasterSample"></slot></div>
</div>
<div id="r_NomorSegel" class="row">
    <label for="x_NomorSegel" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleEdit.NomorSegel.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PenyimpananSample_NomorSegel"></slot></div>
</div>
<div id="r_Tanggal" class="row">
    <label for="x_Tanggal" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleEdit.Tanggal.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PenyimpananSample_Tanggal"></slot></div>
</div>
<div id="r_ExpiredEst" class="row">
    <label for="x_ExpiredEst" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleEdit.ExpiredEst.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PenyimpananSample_ExpiredEst"></slot></div>
</div>
<div id="r_Foto" class="row">
    <label for="x_Foto" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleEdit.Foto.Caption)</label>
    <div class="col-sm-10 d-flex align-items-center gap-2">
        <div id="downloadFotoWrap" class="mt-2"></div>
        <div class="d-none"><slot class="ew-slot" name="tpx_PenyimpananSample_Foto"></slot></div>
    </div>
</div>
<div id="r_Status" class="row">
    <label for="x_Status" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleEdit.Status.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PenyimpananSample_Status"></slot></div>
</div>
<div id="r_TanggalDimusnahkan" class="row">
    <label for="x_TanggalDimusnahkan" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleEdit.TanggalDimusnahkan.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PenyimpananSample_TanggalDimusnahkan"></slot></div>
</div>
<div id="r_LokasiPemusnahan" class="row">
    <label for="x_LokasiPemusnahan" class="col-sm-2 col-form-label">@Html.Raw(penyimpananSampleEdit.LokasiPemusnahan.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_PenyimpananSample_LokasiPemusnahan"></slot></div>
</div></div>
</template>
@{ penyimpananSampleEdit.CloseRecordset(); }
@Html.Raw(penyimpananSampleEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(penyimpananSampleEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fPenyimpananSampleedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fPenyimpananSampleedit" data-href="@AppPath(penyimpananSampleEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(penyimpananSampleEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
<script class="ew-apply-template">
loadjs.ready(ew.applyTemplateId, function() {
    var $ = jQuery;
    ew.templateData = { rows: @Html.Raw(ConvertToJson(penyimpananSampleEdit.Rows)) };
    ew.applyTemplate("tpd_PenyimpananSampleedit", "tpm_PenyimpananSampleedit", "PenyimpananSampleedit", "@(penyimpananSampleEdit.Export)", "PenyimpananSample", ew.templateData.rows[0], @(penyimpananSampleEdit.IsModal ? "true" : "false"));
    loadjs.done("customtemplate");
});
</script>
</main>
@penyimpananSampleEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("PenyimpananSample");
});
</script>
<script>
loadjs.ready("load", function() {
    // Startup script
    // Write your table-specific startup script here
    // document.write("page loaded");
    (() => {
        const parentURL = ew.PATH_BASE;
        const showMessage = (msg) => (ew?.alert ? ew.alert(msg) : alert(msg));
        const showLoadingSafe = () => (typeof showLoading === "function" ? showLoading() : null);
        const hideLoadingSafe = () => (typeof hideLoading === 'function' ? hideLoading() : null);
        function getFilenamFromDisposition(disposition) {
            if (!disposition) return "download_file";
            const utf8 = disposition.match(/filename\*\s*=\s*UTF-8''([^;]+)/i);
            if (utf8?.[1]) return decodeURIComponent(utf8[1]);
            const normal = disposition.match(/filename="?([^";]+)"?/i);
            if (normal?.[1]) return decodeURIComponent(normal[1]);
            return "download_file";
        }
        function downloadBlob(blob, fileName) {
            const url = URL.createObjectURL(blob);
            const a = document.createElement("a");
            a.href = url;
            a.download = fileName || "download_file";
            document.body.appendChild(a);
            a.click();
            a.remove();
            URL.revokeObjectURL(url);
        }
        const wrap = document.querySelector("#downloadFotoWrap");
        if (!wrap) return;
        const fotoText = document.querySelector("#el_PenyimpananSample_Foto")?.textContent?.trim() || "";
        console.log(fotoText);
        const id = location.pathname.split("/").pop();
        if (fotoText && !/Not Uploaded/i.test(fotoText)) {
            wrap.innerHTML = `
                    <a class="download-document btn btn-primary"
                        data-id="${id}"
                        data-field="Foto">
                        <i class="fas fa-download me-2"></i> Download
                    </a>
                `;
        } else {
            wrap.innerHTML = `<p class="mb-0">Not Uploaded</p>`;
        }
        $(document).on('click', '.download-document', function (e) {
            e.preventDefault();
            const id = $(this).data('id');
            const type = ($(this).data('type') || 'psm').toString().trim().toLowerCase();
            if(!id) return ew.alert('ID dokumen tidak ditemukan.');
            if(!type) return ew.alert('Type tidak ditemukan.');
            $.ajax({
                url: `${parentURL}api/qq/download?id=${encodeURIComponent(id)}&type=${encodeURIComponent(type)}`,
                method: 'GET',
                xhrFields: { responseType: 'blob' },
                beforeSend: showLoadingSafe,
                success: async (blob, _status, xhr) => {
                    const ct = (xhr.getResponseHeader('Content-Type') || '').toLowerCase();
                    if (ct.includes('application/json')) {
                        const obj = await blobToJson(blob);
                        return showMessage(obj.message || 'Gagal download.');
                    }
                    const cd = xhr.getResponseHeader('Content-Disposition');
                    const fileName = getFilenamFromDisposition(cd);
                    downloadBlob(blob, fileName);
                    showMessage('Download berhasil!');
                },
                error: async xhr => {
                    try {
                        const blob = xhr.response;
                        if (blob instanceof Blob) {
                            const obj = await blobToJson(blob);
                            if (obj?.message) return showMessage(obj.message);
                        }
                    } catch {}
                    console.error(`Gagal mengunduh file. (${xhr.status} ${xhr.statusText})`);
                    return showMessage('Gagal mengunduh file.');
                },
                complete: hideLoadingSafe,
            });
        });
        const handleToast = (el) => {
            const msg = el.querySelector(".toast-body")?.innerText?.trim();
            if (!msg) return;
            el.remove();
            (window.ew?.alert ?? alert)(msg);
        };
        const scan = (root = document) => root.querySelectorAll(".toast.text-bg-danger.show, .toast.text-bg-danger.fade.show").forEach(handleToast);
        scan();
        new MutationObserver((m) => m.forEach((x) => x.addedNodes.forEach((n) => n instanceof Element && scan(n)))).observe(document.body, { childList: true, subtree: true });
        const apply = () => {
            const saveBtn = document.querySelector("#btn-action");
            const cancelBtn = document.querySelector("#btn-cancel");
            if (!saveBtn || !cancelBtn) return false;
            const status = document.querySelector("#x_Status")?.value?.trim() || "";
            if (!saveBtn.dataset.iconized) {
                saveBtn.insertAdjacentHTML("afterbegin", '<i class="fas fa-save me-2"></i>');
                saveBtn.dataset.iconized = "1";
            }
            if (!cancelBtn.dataset.iconized) {
                cancelBtn.insertAdjacentHTML("afterbegin", '<i class="fas fa-ban me-2"></i>');
                cancelBtn.dataset.iconized = "1";
            }
            if (status === "Dimusnahkan") {
                saveBtn.remove();
            }
            return true;
        };
        if (apply()) return;
        const obs = new MutationObserver(() => {
            if (apply()) obs.disconnect();
        });
        obs.observe(document.body, { childList: true, subtree: true });
    })();
});
</script>
