@{
    // View
    View = this;

    // Check action result
    if (proofOfVisitEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = proofOfVisitEdit.UseLayout ? "_Layout" : "";
}
@proofOfVisitEdit.ShowPageHeader()
@proofOfVisitEdit.ShowMessages()
<main class="edit">
<form name="fProofOfVisitedit" id="fProofOfVisitedit" class="@(proofOfVisitEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(proofOfVisitEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { ProofOfVisit: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fProofOfVisitedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fProofOfVisitedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["IdProofOfVisit", [fields.IdProofOfVisit.visible && fields.IdProofOfVisit.required ? ew.Validators.required(fields.IdProofOfVisit.caption) : null], fields.IdProofOfVisit.isInvalid],
            ["NomorProofOfVisit", [fields.NomorProofOfVisit.visible && fields.NomorProofOfVisit.required ? ew.Validators.required(fields.NomorProofOfVisit.caption) : null], fields.NomorProofOfVisit.isInvalid],
            ["Plant", [fields.Plant.visible && fields.Plant.required ? ew.Validators.required(fields.Plant.caption) : null], fields.Plant.isInvalid],
            ["Catatan", [fields.Catatan.visible && fields.Catatan.required ? ew.Validators.required(fields.Catatan.caption) : null], fields.Catatan.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(proofOfVisitEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(proofOfVisitEdit.OldKeyName)" value="@Html.Raw(proofOfVisitEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (proofOfVisitEdit.IdProofOfVisit.Visible) { // proofOfVisitEdit.IdProofOfVisit.Visible (begin)
    <div id="r_IdProofOfVisit" @Html.Raw(proofOfVisitEdit.IdProofOfVisit.RowAttributes)>
        <label id="elh_ProofOfVisit_IdProofOfVisit" class="@(proofOfVisitEdit.LeftColumnClass)">@Html.Raw(proofOfVisitEdit.IdProofOfVisit.Caption)@Html.Raw(proofOfVisitEdit.IdProofOfVisit.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(proofOfVisitEdit.RightColumnClass)"><div @Html.Raw(proofOfVisitEdit.IdProofOfVisit.CellAttributes)>
<span id="el_ProofOfVisit_IdProofOfVisit">
<span @Html.Raw(proofOfVisitEdit.IdProofOfVisit.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(proofOfVisitEdit.IdProofOfVisit.EditValue)))"></span>
<input type="hidden" data-table="ProofOfVisit" data-field="x_IdProofOfVisit" data-hidden="1" name="x_IdProofOfVisit" id="x_IdProofOfVisit" value="@Html.Raw(HtmlEncode(proofOfVisitEdit.IdProofOfVisit.CurrentValue))">
</span>
</div></div>
    </div>
} @* proofOfVisitEdit.IdProofOfVisit.Visible (end) *@
@if (proofOfVisitEdit.NomorProofOfVisit.Visible) { // proofOfVisitEdit.NomorProofOfVisit.Visible (begin)
    <div id="r_NomorProofOfVisit" @Html.Raw(proofOfVisitEdit.NomorProofOfVisit.RowAttributes)>
        <label id="elh_ProofOfVisit_NomorProofOfVisit" for="x_NomorProofOfVisit" class="@(proofOfVisitEdit.LeftColumnClass)">@Html.Raw(proofOfVisitEdit.NomorProofOfVisit.Caption)@Html.Raw(proofOfVisitEdit.NomorProofOfVisit.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(proofOfVisitEdit.RightColumnClass)"><div @Html.Raw(proofOfVisitEdit.NomorProofOfVisit.CellAttributes)>
<span id="el_ProofOfVisit_NomorProofOfVisit">
<span @Html.Raw(proofOfVisitEdit.NomorProofOfVisit.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(proofOfVisitEdit.NomorProofOfVisit.EditValue)))"></span>
<input type="hidden" data-table="ProofOfVisit" data-field="x_NomorProofOfVisit" data-hidden="1" name="x_NomorProofOfVisit" id="x_NomorProofOfVisit" value="@Html.Raw(HtmlEncode(proofOfVisitEdit.NomorProofOfVisit.CurrentValue))">
</span>
</div></div>
    </div>
} @* proofOfVisitEdit.NomorProofOfVisit.Visible (end) *@
@if (proofOfVisitEdit.Plant.Visible) { // proofOfVisitEdit.Plant.Visible (begin)
    <div id="r_Plant" @Html.Raw(proofOfVisitEdit.Plant.RowAttributes)>
        <label id="elh_ProofOfVisit_Plant" class="@(proofOfVisitEdit.LeftColumnClass)">@Html.Raw(proofOfVisitEdit.Plant.Caption)@Html.Raw(proofOfVisitEdit.Plant.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(proofOfVisitEdit.RightColumnClass)"><div @Html.Raw(proofOfVisitEdit.Plant.CellAttributes)>
<span id="el_ProofOfVisit_Plant">
<span @Html.Raw(proofOfVisitEdit.Plant.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(proofOfVisitEdit.Plant.DisplayValue(proofOfVisitEdit.Plant.EditValue))</span></span>
<input type="hidden" data-table="ProofOfVisit" data-field="x_Plant" data-hidden="1" name="x_Plant" id="x_Plant" value="@Html.Raw(HtmlEncode(proofOfVisitEdit.Plant.CurrentValue))">
</span>
</div></div>
    </div>
} @* proofOfVisitEdit.Plant.Visible (end) *@
@if (proofOfVisitEdit.Catatan.Visible) { // proofOfVisitEdit.Catatan.Visible (begin)
    <div id="r_Catatan" @Html.Raw(proofOfVisitEdit.Catatan.RowAttributes)>
        <label id="elh_ProofOfVisit_Catatan" for="x_Catatan" class="@(proofOfVisitEdit.LeftColumnClass)">@Html.Raw(proofOfVisitEdit.Catatan.Caption)@Html.Raw(proofOfVisitEdit.Catatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(proofOfVisitEdit.RightColumnClass)"><div @Html.Raw(proofOfVisitEdit.Catatan.CellAttributes)>
<span id="el_ProofOfVisit_Catatan">
<textarea data-table="ProofOfVisit" data-field="x_Catatan" name="x_Catatan" id="x_Catatan" cols="35" rows="4" placeholder="@Html.Raw(HtmlEncode(proofOfVisitEdit.Catatan.PlaceHolder))"@Html.Raw(proofOfVisitEdit.Catatan.EditAttributes) aria-describedby="x_Catatan_help">@(proofOfVisitEdit.Catatan.EditValue)</textarea>
@Html.Raw(proofOfVisitEdit.Catatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(proofOfVisitEdit.Catatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* proofOfVisitEdit.Catatan.Visible (end) *@
</div><!-- /page* -->
@{ proofOfVisitEdit.CloseRecordset(); }
@Html.Raw(proofOfVisitEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(proofOfVisitEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fProofOfVisitedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fProofOfVisitedit" data-href="@AppPath(proofOfVisitEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(proofOfVisitEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@proofOfVisitEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("ProofOfVisit");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
