@{
    // View
    View = this;

    // Check action result
    if (rencanaPenyaluranView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = rencanaPenyaluranView.UseLayout ? "_Layout" : "";
}
@if (!rencanaPenyaluranView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @rencanaPenyaluranView.ExportOptions.RenderBody()
    @rencanaPenyaluranView.OtherOptions.RenderBody()
</div>
}
@rencanaPenyaluranView.ShowPageHeader()
@rencanaPenyaluranView.ShowMessages()
<main class="view">
<form name="fRencanaPenyaluranview" id="fRencanaPenyaluranview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!rencanaPenyaluranView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(rencanaPenyaluranView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { RencanaPenyaluran: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fRencanaPenyaluranview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fRencanaPenyaluranview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(rencanaPenyaluranView.IsModal)">
<table class="@(rencanaPenyaluranView.TableClass)">
@if (rencanaPenyaluranView.IdRencanaPenyaluran.Visible) { // rencanaPenyaluranView.IdRencanaPenyaluran.Visible (begin)
    <tr id="r_IdRencanaPenyaluran" @Html.Raw(rencanaPenyaluranView.IdRencanaPenyaluran.RowAttributes)>
        <td class="@(rencanaPenyaluranView.TableLeftColumnClass)"><span id="elh_RencanaPenyaluran_IdRencanaPenyaluran">@Html.Raw(rencanaPenyaluranView.IdRencanaPenyaluran.Caption)</span></td>
        <td data-name="IdRencanaPenyaluran" @Html.Raw(rencanaPenyaluranView.IdRencanaPenyaluran.CellAttributes)>
<span id="el_RencanaPenyaluran_IdRencanaPenyaluran">
<span @Html.Raw(rencanaPenyaluranView.IdRencanaPenyaluran.ViewAttributes)>
@Html.Raw(rencanaPenyaluranView.IdRencanaPenyaluran.GetViewValue())</span>
</span></td>
    </tr>
} @* rencanaPenyaluranView.IdRencanaPenyaluran.Visible (end) *@
@if (rencanaPenyaluranView.NomorRencanaPenyaluran.Visible) { // rencanaPenyaluranView.NomorRencanaPenyaluran.Visible (begin)
    <tr id="r_NomorRencanaPenyaluran" @Html.Raw(rencanaPenyaluranView.NomorRencanaPenyaluran.RowAttributes)>
        <td class="@(rencanaPenyaluranView.TableLeftColumnClass)"><span id="elh_RencanaPenyaluran_NomorRencanaPenyaluran">@Html.Raw(rencanaPenyaluranView.NomorRencanaPenyaluran.Caption)</span></td>
        <td data-name="NomorRencanaPenyaluran" @Html.Raw(rencanaPenyaluranView.NomorRencanaPenyaluran.CellAttributes)>
<span id="el_RencanaPenyaluran_NomorRencanaPenyaluran">
<span @Html.Raw(rencanaPenyaluranView.NomorRencanaPenyaluran.ViewAttributes)>
@Html.Raw(rencanaPenyaluranView.NomorRencanaPenyaluran.GetViewValue())</span>
</span></td>
    </tr>
} @* rencanaPenyaluranView.NomorRencanaPenyaluran.Visible (end) *@
@if (rencanaPenyaluranView.LinkProses.Visible) { // rencanaPenyaluranView.LinkProses.Visible (begin)
    <tr id="r_LinkProses" @Html.Raw(rencanaPenyaluranView.LinkProses.RowAttributes)>
        <td class="@(rencanaPenyaluranView.TableLeftColumnClass)"><span id="elh_RencanaPenyaluran_LinkProses">@Html.Raw(rencanaPenyaluranView.LinkProses.Caption)</span></td>
        <td data-name="LinkProses" @Html.Raw(rencanaPenyaluranView.LinkProses.CellAttributes)>
<span id="el_RencanaPenyaluran_LinkProses">
<span @Html.Raw(rencanaPenyaluranView.LinkProses.ViewAttributes)>
@Html.Raw(rencanaPenyaluranView.LinkProses.GetViewValue())</span>
</span></td>
    </tr>
} @* rencanaPenyaluranView.LinkProses.Visible (end) *@
@if (rencanaPenyaluranView.IdPenimbunan.Visible) { // rencanaPenyaluranView.IdPenimbunan.Visible (begin)
    <tr id="r_IdPenimbunan" @Html.Raw(rencanaPenyaluranView.IdPenimbunan.RowAttributes)>
        <td class="@(rencanaPenyaluranView.TableLeftColumnClass)"><span id="elh_RencanaPenyaluran_IdPenimbunan">@Html.Raw(rencanaPenyaluranView.IdPenimbunan.Caption)</span></td>
        <td data-name="IdPenimbunan" @Html.Raw(rencanaPenyaluranView.IdPenimbunan.CellAttributes)>
<span id="el_RencanaPenyaluran_IdPenimbunan">
<span @Html.Raw(rencanaPenyaluranView.IdPenimbunan.ViewAttributes)>
@Html.Raw(rencanaPenyaluranView.IdPenimbunan.GetViewValue())</span>
</span></td>
    </tr>
} @* rencanaPenyaluranView.IdPenimbunan.Visible (end) *@
@if (rencanaPenyaluranView.IdTemplate.Visible) { // rencanaPenyaluranView.IdTemplate.Visible (begin)
    <tr id="r_IdTemplate" @Html.Raw(rencanaPenyaluranView.IdTemplate.RowAttributes)>
        <td class="@(rencanaPenyaluranView.TableLeftColumnClass)"><span id="elh_RencanaPenyaluran_IdTemplate">@Html.Raw(rencanaPenyaluranView.IdTemplate.Caption)</span></td>
        <td data-name="IdTemplate" @Html.Raw(rencanaPenyaluranView.IdTemplate.CellAttributes)>
<span id="el_RencanaPenyaluran_IdTemplate">
<span @Html.Raw(rencanaPenyaluranView.IdTemplate.ViewAttributes)>
@Html.Raw(rencanaPenyaluranView.IdTemplate.GetViewValue())</span>
</span></td>
    </tr>
} @* rencanaPenyaluranView.IdTemplate.Visible (end) *@
@if (rencanaPenyaluranView.StatusProses.Visible) { // rencanaPenyaluranView.StatusProses.Visible (begin)
    <tr id="r_StatusProses" @Html.Raw(rencanaPenyaluranView.StatusProses.RowAttributes)>
        <td class="@(rencanaPenyaluranView.TableLeftColumnClass)"><span id="elh_RencanaPenyaluran_StatusProses">@Html.Raw(rencanaPenyaluranView.StatusProses.Caption)</span></td>
        <td data-name="StatusProses" @Html.Raw(rencanaPenyaluranView.StatusProses.CellAttributes)>
<span id="el_RencanaPenyaluran_StatusProses">
<span @Html.Raw(rencanaPenyaluranView.StatusProses.ViewAttributes)>
@Html.Raw(rencanaPenyaluranView.StatusProses.GetViewValue())</span>
</span></td>
    </tr>
} @* rencanaPenyaluranView.StatusProses.Visible (end) *@
@if (rencanaPenyaluranView.PersentaseProgress.Visible) { // rencanaPenyaluranView.PersentaseProgress.Visible (begin)
    <tr id="r_PersentaseProgress" @Html.Raw(rencanaPenyaluranView.PersentaseProgress.RowAttributes)>
        <td class="@(rencanaPenyaluranView.TableLeftColumnClass)"><span id="elh_RencanaPenyaluran_PersentaseProgress">@Html.Raw(rencanaPenyaluranView.PersentaseProgress.Caption)</span></td>
        <td data-name="PersentaseProgress" @Html.Raw(rencanaPenyaluranView.PersentaseProgress.CellAttributes)>
<span id="el_RencanaPenyaluran_PersentaseProgress">
<span @Html.Raw(rencanaPenyaluranView.PersentaseProgress.ViewAttributes)>
@Html.Raw(rencanaPenyaluranView.PersentaseProgress.GetViewValue())</span>
</span></td>
    </tr>
} @* rencanaPenyaluranView.PersentaseProgress.Visible (end) *@
@if (rencanaPenyaluranView.LookupPlant.Visible) { // rencanaPenyaluranView.LookupPlant.Visible (begin)
    <tr id="r_LookupPlant" @Html.Raw(rencanaPenyaluranView.LookupPlant.RowAttributes)>
        <td class="@(rencanaPenyaluranView.TableLeftColumnClass)"><span id="elh_RencanaPenyaluran_LookupPlant">@Html.Raw(rencanaPenyaluranView.LookupPlant.Caption)</span></td>
        <td data-name="LookupPlant" @Html.Raw(rencanaPenyaluranView.LookupPlant.CellAttributes)>
<span id="el_RencanaPenyaluran_LookupPlant">
<span @Html.Raw(rencanaPenyaluranView.LookupPlant.ViewAttributes)>
@Html.Raw(rencanaPenyaluranView.LookupPlant.GetViewValue())</span>
</span></td>
    </tr>
} @* rencanaPenyaluranView.LookupPlant.Visible (end) *@
@if (rencanaPenyaluranView.IdPlant.Visible) { // rencanaPenyaluranView.IdPlant.Visible (begin)
    <tr id="r_IdPlant" @Html.Raw(rencanaPenyaluranView.IdPlant.RowAttributes)>
        <td class="@(rencanaPenyaluranView.TableLeftColumnClass)"><span id="elh_RencanaPenyaluran_IdPlant">@Html.Raw(rencanaPenyaluranView.IdPlant.Caption)</span></td>
        <td data-name="IdPlant" @Html.Raw(rencanaPenyaluranView.IdPlant.CellAttributes)>
<span id="el_RencanaPenyaluran_IdPlant">
<span @Html.Raw(rencanaPenyaluranView.IdPlant.ViewAttributes)>
@Html.Raw(rencanaPenyaluranView.IdPlant.GetViewValue())</span>
</span></td>
    </tr>
} @* rencanaPenyaluranView.IdPlant.Visible (end) *@
@if (rencanaPenyaluranView.TipeProdukSTS.Visible) { // rencanaPenyaluranView.TipeProdukSTS.Visible (begin)
    <tr id="r_TipeProdukSTS" @Html.Raw(rencanaPenyaluranView.TipeProdukSTS.RowAttributes)>
        <td class="@(rencanaPenyaluranView.TableLeftColumnClass)"><span id="elh_RencanaPenyaluran_TipeProdukSTS">@Html.Raw(rencanaPenyaluranView.TipeProdukSTS.Caption)</span></td>
        <td data-name="TipeProdukSTS" @Html.Raw(rencanaPenyaluranView.TipeProdukSTS.CellAttributes)>
<span id="el_RencanaPenyaluran_TipeProdukSTS">
<span @Html.Raw(rencanaPenyaluranView.TipeProdukSTS.ViewAttributes)>
@Html.Raw(rencanaPenyaluranView.TipeProdukSTS.GetViewValue())</span>
</span></td>
    </tr>
} @* rencanaPenyaluranView.TipeProdukSTS.Visible (end) *@
@if (rencanaPenyaluranView.IdModa.Visible) { // rencanaPenyaluranView.IdModa.Visible (begin)
    <tr id="r_IdModa" @Html.Raw(rencanaPenyaluranView.IdModa.RowAttributes)>
        <td class="@(rencanaPenyaluranView.TableLeftColumnClass)"><span id="elh_RencanaPenyaluran_IdModa">@Html.Raw(rencanaPenyaluranView.IdModa.Caption)</span></td>
        <td data-name="IdModa" @Html.Raw(rencanaPenyaluranView.IdModa.CellAttributes)>
<span id="el_RencanaPenyaluran_IdModa">
<span @Html.Raw(rencanaPenyaluranView.IdModa.ViewAttributes)>
@Html.Raw(rencanaPenyaluranView.IdModa.GetViewValue())</span>
</span></td>
    </tr>
} @* rencanaPenyaluranView.IdModa.Visible (end) *@
@if (rencanaPenyaluranView.TipePenyaluran.Visible) { // rencanaPenyaluranView.TipePenyaluran.Visible (begin)
    <tr id="r_TipePenyaluran" @Html.Raw(rencanaPenyaluranView.TipePenyaluran.RowAttributes)>
        <td class="@(rencanaPenyaluranView.TableLeftColumnClass)"><span id="elh_RencanaPenyaluran_TipePenyaluran">@Html.Raw(rencanaPenyaluranView.TipePenyaluran.Caption)</span></td>
        <td data-name="TipePenyaluran" @Html.Raw(rencanaPenyaluranView.TipePenyaluran.CellAttributes)>
<span id="el_RencanaPenyaluran_TipePenyaluran">
<span @Html.Raw(rencanaPenyaluranView.TipePenyaluran.ViewAttributes)>
@Html.Raw(rencanaPenyaluranView.TipePenyaluran.GetViewValue())</span>
</span></td>
    </tr>
} @* rencanaPenyaluranView.TipePenyaluran.Visible (end) *@
@if (rencanaPenyaluranView.KategoriPenyaluran.Visible) { // rencanaPenyaluranView.KategoriPenyaluran.Visible (begin)
    <tr id="r_KategoriPenyaluran" @Html.Raw(rencanaPenyaluranView.KategoriPenyaluran.RowAttributes)>
        <td class="@(rencanaPenyaluranView.TableLeftColumnClass)"><span id="elh_RencanaPenyaluran_KategoriPenyaluran">@Html.Raw(rencanaPenyaluranView.KategoriPenyaluran.Caption)</span></td>
        <td data-name="KategoriPenyaluran" @Html.Raw(rencanaPenyaluranView.KategoriPenyaluran.CellAttributes)>
<span id="el_RencanaPenyaluran_KategoriPenyaluran">
<span @Html.Raw(rencanaPenyaluranView.KategoriPenyaluran.ViewAttributes)>
@Html.Raw(rencanaPenyaluranView.KategoriPenyaluran.GetViewValue())</span>
</span></td>
    </tr>
} @* rencanaPenyaluranView.KategoriPenyaluran.Visible (end) *@
@if (rencanaPenyaluranView.Tujuan.Visible) { // rencanaPenyaluranView.Tujuan.Visible (begin)
    <tr id="r_Tujuan" @Html.Raw(rencanaPenyaluranView.Tujuan.RowAttributes)>
        <td class="@(rencanaPenyaluranView.TableLeftColumnClass)"><span id="elh_RencanaPenyaluran_Tujuan">@Html.Raw(rencanaPenyaluranView.Tujuan.Caption)</span></td>
        <td data-name="Tujuan" @Html.Raw(rencanaPenyaluranView.Tujuan.CellAttributes)>
<span id="el_RencanaPenyaluran_Tujuan">
<span @Html.Raw(rencanaPenyaluranView.Tujuan.ViewAttributes)>
@Html.Raw(rencanaPenyaluranView.Tujuan.GetViewValue())</span>
</span></td>
    </tr>
} @* rencanaPenyaluranView.Tujuan.Visible (end) *@
@if (rencanaPenyaluranView.Catatan.Visible) { // rencanaPenyaluranView.Catatan.Visible (begin)
    <tr id="r_Catatan" @Html.Raw(rencanaPenyaluranView.Catatan.RowAttributes)>
        <td class="@(rencanaPenyaluranView.TableLeftColumnClass)"><span id="elh_RencanaPenyaluran_Catatan">@Html.Raw(rencanaPenyaluranView.Catatan.Caption)</span></td>
        <td data-name="Catatan" @Html.Raw(rencanaPenyaluranView.Catatan.CellAttributes)>
<span id="el_RencanaPenyaluran_Catatan">
<span @Html.Raw(rencanaPenyaluranView.Catatan.ViewAttributes)>
@Html.Raw(rencanaPenyaluranView.Catatan.GetViewValue())</span>
</span></td>
    </tr>
} @* rencanaPenyaluranView.Catatan.Visible (end) *@
@if (rencanaPenyaluranView.DibuatOleh.Visible) { // rencanaPenyaluranView.DibuatOleh.Visible (begin)
    <tr id="r_DibuatOleh" @Html.Raw(rencanaPenyaluranView.DibuatOleh.RowAttributes)>
        <td class="@(rencanaPenyaluranView.TableLeftColumnClass)"><span id="elh_RencanaPenyaluran_DibuatOleh">@Html.Raw(rencanaPenyaluranView.DibuatOleh.Caption)</span></td>
        <td data-name="DibuatOleh" @Html.Raw(rencanaPenyaluranView.DibuatOleh.CellAttributes)>
<span id="el_RencanaPenyaluran_DibuatOleh">
<span @Html.Raw(rencanaPenyaluranView.DibuatOleh.ViewAttributes)>
@Html.Raw(rencanaPenyaluranView.DibuatOleh.GetViewValue())</span>
</span></td>
    </tr>
} @* rencanaPenyaluranView.DibuatOleh.Visible (end) *@
@if (rencanaPenyaluranView.TanggalDibuat.Visible) { // rencanaPenyaluranView.TanggalDibuat.Visible (begin)
    <tr id="r_TanggalDibuat" @Html.Raw(rencanaPenyaluranView.TanggalDibuat.RowAttributes)>
        <td class="@(rencanaPenyaluranView.TableLeftColumnClass)"><span id="elh_RencanaPenyaluran_TanggalDibuat">@Html.Raw(rencanaPenyaluranView.TanggalDibuat.Caption)</span></td>
        <td data-name="TanggalDibuat" @Html.Raw(rencanaPenyaluranView.TanggalDibuat.CellAttributes)>
<span id="el_RencanaPenyaluran_TanggalDibuat">
<span @Html.Raw(rencanaPenyaluranView.TanggalDibuat.ViewAttributes)>
@Html.Raw(rencanaPenyaluranView.TanggalDibuat.GetViewValue())</span>
</span></td>
    </tr>
} @* rencanaPenyaluranView.TanggalDibuat.Visible (end) *@
@if (rencanaPenyaluranView.DiperbaruiOleh.Visible) { // rencanaPenyaluranView.DiperbaruiOleh.Visible (begin)
    <tr id="r_DiperbaruiOleh" @Html.Raw(rencanaPenyaluranView.DiperbaruiOleh.RowAttributes)>
        <td class="@(rencanaPenyaluranView.TableLeftColumnClass)"><span id="elh_RencanaPenyaluran_DiperbaruiOleh">@Html.Raw(rencanaPenyaluranView.DiperbaruiOleh.Caption)</span></td>
        <td data-name="DiperbaruiOleh" @Html.Raw(rencanaPenyaluranView.DiperbaruiOleh.CellAttributes)>
<span id="el_RencanaPenyaluran_DiperbaruiOleh">
<span @Html.Raw(rencanaPenyaluranView.DiperbaruiOleh.ViewAttributes)>
@Html.Raw(rencanaPenyaluranView.DiperbaruiOleh.GetViewValue())</span>
</span></td>
    </tr>
} @* rencanaPenyaluranView.DiperbaruiOleh.Visible (end) *@
@if (rencanaPenyaluranView.TanggalDiperbarui.Visible) { // rencanaPenyaluranView.TanggalDiperbarui.Visible (begin)
    <tr id="r_TanggalDiperbarui" @Html.Raw(rencanaPenyaluranView.TanggalDiperbarui.RowAttributes)>
        <td class="@(rencanaPenyaluranView.TableLeftColumnClass)"><span id="elh_RencanaPenyaluran_TanggalDiperbarui">@Html.Raw(rencanaPenyaluranView.TanggalDiperbarui.Caption)</span></td>
        <td data-name="TanggalDiperbarui" @Html.Raw(rencanaPenyaluranView.TanggalDiperbarui.CellAttributes)>
<span id="el_RencanaPenyaluran_TanggalDiperbarui">
<span @Html.Raw(rencanaPenyaluranView.TanggalDiperbarui.ViewAttributes)>
@Html.Raw(rencanaPenyaluranView.TanggalDiperbarui.GetViewValue())</span>
</span></td>
    </tr>
} @* rencanaPenyaluranView.TanggalDiperbarui.Visible (end) *@
</table>
@{ rencanaPenyaluranView.CloseRecordset(); }
</form>
</main>
@rencanaPenyaluranView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!rencanaPenyaluranView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
