@{
    // View
    View = this;

    // Check action result
    if (samplingLabTestDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = samplingLabTestDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(samplingLabTestDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SamplingLabTest: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fSamplingLabTestdelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSamplingLabTestdelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Client script
    $('#fSamplingLabTestdelete button[type=submit]').on('click', function(e) {
        e.preventDefault();
        const data = $('#fSamplingLabTestdelete').serializeArray();
        const parent_url = ew.PATH_BASE;
        const submitData = data
            .filter(field => field.name === "key_m[]")
            .map(field => field.value);
        showLoading();
        $.ajax({
            url: parent_url + 'api/LookUpList/CheckDeletableReferensi',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                Referensi: 'SamplingLabTest',
                IdReferensi: submitData
            }),
            success: function (res) {
                if (res.success) {
                    $('#fSamplingLabTestdelete').submit();
                } else {
                    hideLoading();
                    ew.alert(res.message);
                    return false;
                }
            },
            error: function (err) {
                hideLoading();
                ew.alert('An error occured on the server.');
                console.error(err);
                return false;
            },
        });
    });
});
</script>
@samplingLabTestDelete.ShowPageHeader()
@samplingLabTestDelete.ShowMessages()
<form name="fSamplingLabTestdelete" id="fSamplingLabTestdelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in samplingLabTestDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(samplingLabTestDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(samplingLabTestDelete.TableContainerClass)" style="@(samplingLabTestDelete.TableContainerStyle)">
<table class="@(samplingLabTestDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (samplingLabTestDelete.LinkProses.Visible) { // samplingLabTestDelete.LinkProses.Visible (begin)
        <th class="@Html.Raw(samplingLabTestDelete.LinkProses.HeaderCellClass)"><span id="elh_SamplingLabTest_LinkProses" class="SamplingLabTest_LinkProses">@Html.Raw(samplingLabTestDelete.LinkProses.Caption)</span></th>
} @* samplingLabTestDelete.LinkProses.Visible (end) *@
@if (samplingLabTestDelete.IdPlant.Visible) { // samplingLabTestDelete.IdPlant.Visible (begin)
        <th class="@Html.Raw(samplingLabTestDelete.IdPlant.HeaderCellClass)"><span id="elh_SamplingLabTest_IdPlant" class="SamplingLabTest_IdPlant">@Html.Raw(samplingLabTestDelete.IdPlant.Caption)</span></th>
} @* samplingLabTestDelete.IdPlant.Visible (end) *@
@if (samplingLabTestDelete.IdReferensi.Visible) { // samplingLabTestDelete.IdReferensi.Visible (begin)
        <th class="@Html.Raw(samplingLabTestDelete.IdReferensi.HeaderCellClass)"><span id="elh_SamplingLabTest_IdReferensi" class="SamplingLabTest_IdReferensi">@Html.Raw(samplingLabTestDelete.IdReferensi.Caption)</span></th>
} @* samplingLabTestDelete.IdReferensi.Visible (end) *@
@if (samplingLabTestDelete.StatusProses.Visible) { // samplingLabTestDelete.StatusProses.Visible (begin)
        <th class="@Html.Raw(samplingLabTestDelete.StatusProses.HeaderCellClass)"><span id="elh_SamplingLabTest_StatusProses" class="SamplingLabTest_StatusProses">@Html.Raw(samplingLabTestDelete.StatusProses.Caption)</span></th>
} @* samplingLabTestDelete.StatusProses.Visible (end) *@
@if (samplingLabTestDelete.PersentaseProgress.Visible) { // samplingLabTestDelete.PersentaseProgress.Visible (begin)
        <th class="@Html.Raw(samplingLabTestDelete.PersentaseProgress.HeaderCellClass)"><span id="elh_SamplingLabTest_PersentaseProgress" class="SamplingLabTest_PersentaseProgress">@Html.Raw(samplingLabTestDelete.PersentaseProgress.Caption)</span></th>
} @* samplingLabTestDelete.PersentaseProgress.Visible (end) *@
@if (samplingLabTestDelete.IdModa.Visible) { // samplingLabTestDelete.IdModa.Visible (begin)
        <th class="@Html.Raw(samplingLabTestDelete.IdModa.HeaderCellClass)"><span id="elh_SamplingLabTest_IdModa" class="SamplingLabTest_IdModa">@Html.Raw(samplingLabTestDelete.IdModa.Caption)</span></th>
} @* samplingLabTestDelete.IdModa.Visible (end) *@
@if (samplingLabTestDelete.TipePenyaluran.Visible) { // samplingLabTestDelete.TipePenyaluran.Visible (begin)
        <th class="@Html.Raw(samplingLabTestDelete.TipePenyaluran.HeaderCellClass)"><span id="elh_SamplingLabTest_TipePenyaluran" class="SamplingLabTest_TipePenyaluran">@Html.Raw(samplingLabTestDelete.TipePenyaluran.Caption)</span></th>
} @* samplingLabTestDelete.TipePenyaluran.Visible (end) *@
@if (samplingLabTestDelete.KategoriPenyaluran.Visible) { // samplingLabTestDelete.KategoriPenyaluran.Visible (begin)
        <th class="@Html.Raw(samplingLabTestDelete.KategoriPenyaluran.HeaderCellClass)"><span id="elh_SamplingLabTest_KategoriPenyaluran" class="SamplingLabTest_KategoriPenyaluran">@Html.Raw(samplingLabTestDelete.KategoriPenyaluran.Caption)</span></th>
} @* samplingLabTestDelete.KategoriPenyaluran.Visible (end) *@
@if (samplingLabTestDelete.NomorPolisi.Visible) { // samplingLabTestDelete.NomorPolisi.Visible (begin)
        <th class="@Html.Raw(samplingLabTestDelete.NomorPolisi.HeaderCellClass)"><span id="elh_SamplingLabTest_NomorPolisi" class="SamplingLabTest_NomorPolisi">@Html.Raw(samplingLabTestDelete.NomorPolisi.Caption)</span></th>
} @* samplingLabTestDelete.NomorPolisi.Visible (end) *@
@if (samplingLabTestDelete.TipeProdukSTS.Visible) { // samplingLabTestDelete.TipeProdukSTS.Visible (begin)
        <th class="@Html.Raw(samplingLabTestDelete.TipeProdukSTS.HeaderCellClass)"><span id="elh_SamplingLabTest_TipeProdukSTS" class="SamplingLabTest_TipeProdukSTS">@Html.Raw(samplingLabTestDelete.TipeProdukSTS.Caption)</span></th>
} @* samplingLabTestDelete.TipeProdukSTS.Visible (end) *@
@if (samplingLabTestDelete.KodeProduk.Visible) { // samplingLabTestDelete.KodeProduk.Visible (begin)
        <th class="@Html.Raw(samplingLabTestDelete.KodeProduk.HeaderCellClass)"><span id="elh_SamplingLabTest_KodeProduk" class="SamplingLabTest_KodeProduk">@Html.Raw(samplingLabTestDelete.KodeProduk.Caption)</span></th>
} @* samplingLabTestDelete.KodeProduk.Visible (end) *@
@if (samplingLabTestDelete.Tujuan.Visible) { // samplingLabTestDelete.Tujuan.Visible (begin)
        <th class="@Html.Raw(samplingLabTestDelete.Tujuan.HeaderCellClass)"><span id="elh_SamplingLabTest_Tujuan" class="SamplingLabTest_Tujuan">@Html.Raw(samplingLabTestDelete.Tujuan.Caption)</span></th>
} @* samplingLabTestDelete.Tujuan.Visible (end) *@
@if (samplingLabTestDelete.DibuatOleh.Visible) { // samplingLabTestDelete.DibuatOleh.Visible (begin)
        <th class="@Html.Raw(samplingLabTestDelete.DibuatOleh.HeaderCellClass)"><span id="elh_SamplingLabTest_DibuatOleh" class="SamplingLabTest_DibuatOleh">@Html.Raw(samplingLabTestDelete.DibuatOleh.Caption)</span></th>
} @* samplingLabTestDelete.DibuatOleh.Visible (end) *@
@if (samplingLabTestDelete.TanggalDibuat.Visible) { // samplingLabTestDelete.TanggalDibuat.Visible (begin)
        <th class="@Html.Raw(samplingLabTestDelete.TanggalDibuat.HeaderCellClass)"><span id="elh_SamplingLabTest_TanggalDibuat" class="SamplingLabTest_TanggalDibuat">@Html.Raw(samplingLabTestDelete.TanggalDibuat.Caption)</span></th>
} @* samplingLabTestDelete.TanggalDibuat.Visible (end) *@
@if (samplingLabTestDelete.DiperbaruiOleh.Visible) { // samplingLabTestDelete.DiperbaruiOleh.Visible (begin)
        <th class="@Html.Raw(samplingLabTestDelete.DiperbaruiOleh.HeaderCellClass)"><span id="elh_SamplingLabTest_DiperbaruiOleh" class="SamplingLabTest_DiperbaruiOleh">@Html.Raw(samplingLabTestDelete.DiperbaruiOleh.Caption)</span></th>
} @* samplingLabTestDelete.DiperbaruiOleh.Visible (end) *@
@if (samplingLabTestDelete.TanggalDiperbarui.Visible) { // samplingLabTestDelete.TanggalDiperbarui.Visible (begin)
        <th class="@Html.Raw(samplingLabTestDelete.TanggalDiperbarui.HeaderCellClass)"><span id="elh_SamplingLabTest_TanggalDiperbarui" class="SamplingLabTest_TanggalDiperbarui">@Html.Raw(samplingLabTestDelete.TanggalDiperbarui.Caption)</span></th>
} @* samplingLabTestDelete.TanggalDiperbarui.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ samplingLabTestDelete.RecordCount = 0; }
@while (samplingLabTestDelete.Recordset != null && await samplingLabTestDelete.Recordset.ReadAsync()) { // DN
    samplingLabTestDelete.RecordCount++;
    samplingLabTestDelete.RowCount++;

    // Set row properties
    samplingLabTestDelete.ResetAttributes();
    samplingLabTestDelete.RowType = RowType.View; // View

    // Get the field contents
    await samplingLabTestDelete.LoadRowValues(samplingLabTestDelete.Recordset);

    // Render row
    await samplingLabTestDelete.RenderRow();
    <tr @Html.Raw(samplingLabTestDelete.RowAttributes)>
@if (samplingLabTestDelete.LinkProses.Visible) { // samplingLabTestDelete.LinkProses.Visible (begin)
        <td @Html.Raw(samplingLabTestDelete.LinkProses.CellAttributes)>
<span id="">
<span @Html.Raw(samplingLabTestDelete.LinkProses.ViewAttributes)>
@Html.Raw(samplingLabTestDelete.LinkProses.GetViewValue())</span>
</span></td>
} @* samplingLabTestDelete.LinkProses.Visible (end) *@
@if (samplingLabTestDelete.IdPlant.Visible) { // samplingLabTestDelete.IdPlant.Visible (begin)
        <td @Html.Raw(samplingLabTestDelete.IdPlant.CellAttributes)>
<span id="">
<span @Html.Raw(samplingLabTestDelete.IdPlant.ViewAttributes)>
@Html.Raw(samplingLabTestDelete.IdPlant.GetViewValue())</span>
</span></td>
} @* samplingLabTestDelete.IdPlant.Visible (end) *@
@if (samplingLabTestDelete.IdReferensi.Visible) { // samplingLabTestDelete.IdReferensi.Visible (begin)
        <td @Html.Raw(samplingLabTestDelete.IdReferensi.CellAttributes)>
<span id="">
<span @Html.Raw(samplingLabTestDelete.IdReferensi.ViewAttributes)>
@Html.Raw(samplingLabTestDelete.IdReferensi.GetViewValue())</span>
</span></td>
} @* samplingLabTestDelete.IdReferensi.Visible (end) *@
@if (samplingLabTestDelete.StatusProses.Visible) { // samplingLabTestDelete.StatusProses.Visible (begin)
        <td @Html.Raw(samplingLabTestDelete.StatusProses.CellAttributes)>
<span id="">
<span @Html.Raw(samplingLabTestDelete.StatusProses.ViewAttributes)>
@Html.Raw(samplingLabTestDelete.StatusProses.GetViewValue())</span>
</span></td>
} @* samplingLabTestDelete.StatusProses.Visible (end) *@
@if (samplingLabTestDelete.PersentaseProgress.Visible) { // samplingLabTestDelete.PersentaseProgress.Visible (begin)
        <td @Html.Raw(samplingLabTestDelete.PersentaseProgress.CellAttributes)>
<span id="">
<span @Html.Raw(samplingLabTestDelete.PersentaseProgress.ViewAttributes)>
@Html.Raw(samplingLabTestDelete.PersentaseProgress.GetViewValue())</span>
</span></td>
} @* samplingLabTestDelete.PersentaseProgress.Visible (end) *@
@if (samplingLabTestDelete.IdModa.Visible) { // samplingLabTestDelete.IdModa.Visible (begin)
        <td @Html.Raw(samplingLabTestDelete.IdModa.CellAttributes)>
<span id="">
<span @Html.Raw(samplingLabTestDelete.IdModa.ViewAttributes)>
@Html.Raw(samplingLabTestDelete.IdModa.GetViewValue())</span>
</span></td>
} @* samplingLabTestDelete.IdModa.Visible (end) *@
@if (samplingLabTestDelete.TipePenyaluran.Visible) { // samplingLabTestDelete.TipePenyaluran.Visible (begin)
        <td @Html.Raw(samplingLabTestDelete.TipePenyaluran.CellAttributes)>
<span id="">
<span @Html.Raw(samplingLabTestDelete.TipePenyaluran.ViewAttributes)>
@Html.Raw(samplingLabTestDelete.TipePenyaluran.GetViewValue())</span>
</span></td>
} @* samplingLabTestDelete.TipePenyaluran.Visible (end) *@
@if (samplingLabTestDelete.KategoriPenyaluran.Visible) { // samplingLabTestDelete.KategoriPenyaluran.Visible (begin)
        <td @Html.Raw(samplingLabTestDelete.KategoriPenyaluran.CellAttributes)>
<span id="">
<span @Html.Raw(samplingLabTestDelete.KategoriPenyaluran.ViewAttributes)>
@Html.Raw(samplingLabTestDelete.KategoriPenyaluran.GetViewValue())</span>
</span></td>
} @* samplingLabTestDelete.KategoriPenyaluran.Visible (end) *@
@if (samplingLabTestDelete.NomorPolisi.Visible) { // samplingLabTestDelete.NomorPolisi.Visible (begin)
        <td @Html.Raw(samplingLabTestDelete.NomorPolisi.CellAttributes)>
<span id="">
<span @Html.Raw(samplingLabTestDelete.NomorPolisi.ViewAttributes)>
@Html.Raw(samplingLabTestDelete.NomorPolisi.GetViewValue())</span>
</span></td>
} @* samplingLabTestDelete.NomorPolisi.Visible (end) *@
@if (samplingLabTestDelete.TipeProdukSTS.Visible) { // samplingLabTestDelete.TipeProdukSTS.Visible (begin)
        <td @Html.Raw(samplingLabTestDelete.TipeProdukSTS.CellAttributes)>
<span id="">
<span @Html.Raw(samplingLabTestDelete.TipeProdukSTS.ViewAttributes)>
@Html.Raw(samplingLabTestDelete.TipeProdukSTS.GetViewValue())</span>
</span></td>
} @* samplingLabTestDelete.TipeProdukSTS.Visible (end) *@
@if (samplingLabTestDelete.KodeProduk.Visible) { // samplingLabTestDelete.KodeProduk.Visible (begin)
        <td @Html.Raw(samplingLabTestDelete.KodeProduk.CellAttributes)>
<span id="">
<span @Html.Raw(samplingLabTestDelete.KodeProduk.ViewAttributes)>
@Html.Raw(samplingLabTestDelete.KodeProduk.GetViewValue())</span>
</span></td>
} @* samplingLabTestDelete.KodeProduk.Visible (end) *@
@if (samplingLabTestDelete.Tujuan.Visible) { // samplingLabTestDelete.Tujuan.Visible (begin)
        <td @Html.Raw(samplingLabTestDelete.Tujuan.CellAttributes)>
<span id="">
<span @Html.Raw(samplingLabTestDelete.Tujuan.ViewAttributes)>
@Html.Raw(samplingLabTestDelete.Tujuan.GetViewValue())</span>
</span></td>
} @* samplingLabTestDelete.Tujuan.Visible (end) *@
@if (samplingLabTestDelete.DibuatOleh.Visible) { // samplingLabTestDelete.DibuatOleh.Visible (begin)
        <td @Html.Raw(samplingLabTestDelete.DibuatOleh.CellAttributes)>
<span id="">
<span @Html.Raw(samplingLabTestDelete.DibuatOleh.ViewAttributes)>
@Html.Raw(samplingLabTestDelete.DibuatOleh.GetViewValue())</span>
</span></td>
} @* samplingLabTestDelete.DibuatOleh.Visible (end) *@
@if (samplingLabTestDelete.TanggalDibuat.Visible) { // samplingLabTestDelete.TanggalDibuat.Visible (begin)
        <td @Html.Raw(samplingLabTestDelete.TanggalDibuat.CellAttributes)>
<span id="">
<span @Html.Raw(samplingLabTestDelete.TanggalDibuat.ViewAttributes)>
@Html.Raw(samplingLabTestDelete.TanggalDibuat.GetViewValue())</span>
</span></td>
} @* samplingLabTestDelete.TanggalDibuat.Visible (end) *@
@if (samplingLabTestDelete.DiperbaruiOleh.Visible) { // samplingLabTestDelete.DiperbaruiOleh.Visible (begin)
        <td @Html.Raw(samplingLabTestDelete.DiperbaruiOleh.CellAttributes)>
<span id="">
<span @Html.Raw(samplingLabTestDelete.DiperbaruiOleh.ViewAttributes)>
@Html.Raw(samplingLabTestDelete.DiperbaruiOleh.GetViewValue())</span>
</span></td>
} @* samplingLabTestDelete.DiperbaruiOleh.Visible (end) *@
@if (samplingLabTestDelete.TanggalDiperbarui.Visible) { // samplingLabTestDelete.TanggalDiperbarui.Visible (begin)
        <td @Html.Raw(samplingLabTestDelete.TanggalDiperbarui.CellAttributes)>
<span id="">
<span @Html.Raw(samplingLabTestDelete.TanggalDiperbarui.ViewAttributes)>
@Html.Raw(samplingLabTestDelete.TanggalDiperbarui.GetViewValue())</span>
</span></td>
} @* samplingLabTestDelete.TanggalDiperbarui.Visible (end) *@
    </tr>
}
@{ samplingLabTestDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(samplingLabTestDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@samplingLabTestDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
