@{
    // View
    View = this;

    // Check action result
    if (samplingLabTestSearch.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = samplingLabTestSearch.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(samplingLabTestSearch.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SamplingLabTest: currentTable } });
var currentPageID = ew.PAGE_ID = "search";
var currentForm;
var fSamplingLabTestsearch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSamplingLabTestsearch")
        .setPageId("search")
@if (samplingLabTestSearch.IsModal && samplingLabTestSearch.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Add fields
        .setFields([

            ["TanggalDibuat", [ew.Validators.datetime(fields.TanggalDibuat.clientFormatPattern)], fields.TanggalDibuat.isInvalid],
            ["y_TanggalDibuat", [ew.Validators.between], false],
            ["TanggalDiperbarui", [ew.Validators.datetime(fields.TanggalDiperbarui.clientFormatPattern)], fields.TanggalDiperbarui.isInvalid],
            ["y_TanggalDiperbarui", [ew.Validators.between], false]
        ])
        // Validate form
        .setValidate(
            async function () {
                if (!this.validateRequired)
                    return true; // Ignore validation
                let fobj = this.getForm();

                // Validate fields
                if (!this.validateFields())
                    return false;

                // Call Form_CustomValidate event
                if (!(await this.customValidate?.(fobj) ?? true)) {
                    this.focus();
                    return false;
                }
                return true;
            }
        )

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
@if (samplingLabTestSearch.IsModal) {
    <text>currentAdvancedSearchForm = form;</text>
} else {
    <text>currentForm = form;</text>
}
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@samplingLabTestSearch.ShowPageHeader()
@samplingLabTestSearch.ShowMessages()
<form name="fSamplingLabTestsearch" id="fSamplingLabTestsearch" class="@(samplingLabTestSearch.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="search">
@if (samplingLabTestSearch.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div class="ew-search-div"><!-- page* -->
@if (samplingLabTestSearch.TanggalDibuat.Visible) { // samplingLabTestSearch.TanggalDibuat.Visible (begin)
    <div id="r_TanggalDibuat" class="row" @Html.Raw(samplingLabTestSearch.TanggalDibuat.RowAttributes)>
        <label for="x_TanggalDibuat" class="@(samplingLabTestSearch.LeftColumnClass)"><span id="elh_SamplingLabTest_TanggalDibuat">@Html.Raw(samplingLabTestSearch.TanggalDibuat.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("BETWEEN"))
<input type="hidden" name="z_TanggalDibuat" id="z_TanggalDibuat" value="BETWEEN">
</span>
        </label>
        <div class="@(samplingLabTestSearch.RightColumnClass)">
            <div @Html.Raw(samplingLabTestSearch.TanggalDibuat.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_SamplingLabTest_TanggalDibuat" class="ew-search-field">
<input type="@(samplingLabTestSearch.TanggalDibuat.InputTextType)" name="x_TanggalDibuat" id="x_TanggalDibuat" data-table="SamplingLabTest" data-field="x_TanggalDibuat" value="@Html.Raw(samplingLabTestSearch.TanggalDibuat.EditValue)" placeholder="@Html.Raw(HtmlEncode(samplingLabTestSearch.TanggalDibuat.PlaceHolder))" data-format-pattern="@(samplingLabTestSearch.TanggalDibuat.FormatPattern)"@Html.Raw(samplingLabTestSearch.TanggalDibuat.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(samplingLabTestSearch.TanggalDibuat.GetErrorMessage(false))</div>
@if (!samplingLabTestSearch.TanggalDibuat.ReadOnly && !samplingLabTestSearch.TanggalDibuat.Disabled && !samplingLabTestSearch.TanggalDibuat.EditAttrs.Is("readonly") && !samplingLabTestSearch.TanggalDibuat.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSamplingLabTestsearch", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSamplingLabTestsearch", "x_TanggalDibuat", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
                    <span class="ew-search-and"><label>@Html.Raw(Language.Phrase("AND"))</label></span>
                    <span id="el2_SamplingLabTest_TanggalDibuat" class="ew-search-field2">
<input type="@(samplingLabTestSearch.TanggalDibuat.InputTextType)" name="y_TanggalDibuat" id="y_TanggalDibuat" data-table="SamplingLabTest" data-field="x_TanggalDibuat" value="@Html.Raw(samplingLabTestSearch.TanggalDibuat.EditValue2)" placeholder="@Html.Raw(HtmlEncode(samplingLabTestSearch.TanggalDibuat.PlaceHolder))" data-format-pattern="@(samplingLabTestSearch.TanggalDibuat.FormatPattern)"@Html.Raw(samplingLabTestSearch.TanggalDibuat.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(samplingLabTestSearch.TanggalDibuat.GetErrorMessage(false))</div>
@if (!samplingLabTestSearch.TanggalDibuat.ReadOnly && !samplingLabTestSearch.TanggalDibuat.Disabled && !samplingLabTestSearch.TanggalDibuat.EditAttrs.Is("readonly") && !samplingLabTestSearch.TanggalDibuat.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSamplingLabTestsearch", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSamplingLabTestsearch", "y_TanggalDibuat", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
                </div>
            </div>
        </div>
    </div>
} @* samplingLabTestSearch.TanggalDibuat.Visible (end) *@
@if (samplingLabTestSearch.TanggalDiperbarui.Visible) { // samplingLabTestSearch.TanggalDiperbarui.Visible (begin)
    <div id="r_TanggalDiperbarui" class="row" @Html.Raw(samplingLabTestSearch.TanggalDiperbarui.RowAttributes)>
        <label for="x_TanggalDiperbarui" class="@(samplingLabTestSearch.LeftColumnClass)"><span id="elh_SamplingLabTest_TanggalDiperbarui">@Html.Raw(samplingLabTestSearch.TanggalDiperbarui.Caption)</span>
        <span class="ew-search-operator">
@Html.Raw(Language.Phrase("BETWEEN"))
<input type="hidden" name="z_TanggalDiperbarui" id="z_TanggalDiperbarui" value="BETWEEN">
</span>
        </label>
        <div class="@(samplingLabTestSearch.RightColumnClass)">
            <div @Html.Raw(samplingLabTestSearch.TanggalDiperbarui.CellAttributes)>
                <div class="d-flex align-items-start">
                <span id="el_SamplingLabTest_TanggalDiperbarui" class="ew-search-field">
<input type="@(samplingLabTestSearch.TanggalDiperbarui.InputTextType)" name="x_TanggalDiperbarui" id="x_TanggalDiperbarui" data-table="SamplingLabTest" data-field="x_TanggalDiperbarui" value="@Html.Raw(samplingLabTestSearch.TanggalDiperbarui.EditValue)" placeholder="@Html.Raw(HtmlEncode(samplingLabTestSearch.TanggalDiperbarui.PlaceHolder))" data-format-pattern="@(samplingLabTestSearch.TanggalDiperbarui.FormatPattern)"@Html.Raw(samplingLabTestSearch.TanggalDiperbarui.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(samplingLabTestSearch.TanggalDiperbarui.GetErrorMessage(false))</div>
@if (!samplingLabTestSearch.TanggalDiperbarui.ReadOnly && !samplingLabTestSearch.TanggalDiperbarui.Disabled && !samplingLabTestSearch.TanggalDiperbarui.EditAttrs.Is("readonly") && !samplingLabTestSearch.TanggalDiperbarui.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSamplingLabTestsearch", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSamplingLabTestsearch", "x_TanggalDiperbarui", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
                    <span class="ew-search-and"><label>@Html.Raw(Language.Phrase("AND"))</label></span>
                    <span id="el2_SamplingLabTest_TanggalDiperbarui" class="ew-search-field2">
<input type="@(samplingLabTestSearch.TanggalDiperbarui.InputTextType)" name="y_TanggalDiperbarui" id="y_TanggalDiperbarui" data-table="SamplingLabTest" data-field="x_TanggalDiperbarui" value="@Html.Raw(samplingLabTestSearch.TanggalDiperbarui.EditValue2)" placeholder="@Html.Raw(HtmlEncode(samplingLabTestSearch.TanggalDiperbarui.PlaceHolder))" data-format-pattern="@(samplingLabTestSearch.TanggalDiperbarui.FormatPattern)"@Html.Raw(samplingLabTestSearch.TanggalDiperbarui.EditAttributes)>
<div class="invalid-feedback">@Html.Raw(samplingLabTestSearch.TanggalDiperbarui.GetErrorMessage(false))</div>
@if (!samplingLabTestSearch.TanggalDiperbarui.ReadOnly && !samplingLabTestSearch.TanggalDiperbarui.Disabled && !samplingLabTestSearch.TanggalDiperbarui.EditAttrs.Is("readonly") && !samplingLabTestSearch.TanggalDiperbarui.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSamplingLabTestsearch", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSamplingLabTestsearch", "y_TanggalDiperbarui", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
                </div>
            </div>
        </div>
    </div>
} @* samplingLabTestSearch.TanggalDiperbarui.Visible (end) *@
</div><!-- /page* -->
@Html.Raw(samplingLabTestSearch.IsModal ? Html.Raw("<template class=\"ew-modal-buttons\">") : Html.Raw("<div class=\"row ew-buttons\">"))<!-- buttons .row -->
    <div class="@(samplingLabTestSearch.OffsetColumnClass)"><!-- buttons offset -->
        <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSamplingLabTestsearch">@Html.Raw(Language.Phrase("Search"))</button>
@if (samplingLabTestSearch.IsModal) {
        <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSamplingLabTestsearch">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
        <button class="btn btn-default ew-btn" name="btn-reset" id="btn-reset" type="button" form="fSamplingLabTestsearch" data-ew-action="reload">@Html.Raw(Language.Phrase("Reset"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(samplingLabTestSearch.IsModal ? Html.Raw("</template>") : Html.Raw("</div>"))<!-- /buttons .row -->
</form>
@samplingLabTestSearch.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SamplingLabTest");
});
</script>
<script>
loadjs.ready("load", function() {
    // Startup script
    $('.ew-search-operator').hide();
    $('.ew-search-and').hide();
    $('.ew-search-field2').addClass('ew-search-field').removeClass('ew-search-field2');
    $('.ew-search-field').addClass('align-items-center');
    $('.modal-header').addClass('bg-primary');
    const fromEl = '<p class="p-0 m-0 fw-bold me-2" style="width: 80px;">Start Date</p>';
    const toEl = '<p class="p-0 m-0 fw-bold mx-2" style="width: 70px;">End Date</p>';
    $('#datetimepicker_fPenerimaansearch_x_TanggalDibuat').before(fromEl);
    $('#datetimepicker_fPenerimaansearch_y_TanggalDibuat').before(toEl);
    $('#datetimepicker_fPenerimaansearch_x_TanggalDiperbarui').before(fromEl);
    $('#datetimepicker_fPenerimaansearch_y_TanggalDiperbarui').before(toEl);
});
</script>
