@{
    // View
    View = this;

    // Check action result
    if (samplingLabTestView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = samplingLabTestView.UseLayout ? "_Layout" : "";
}
@if (!samplingLabTestView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @samplingLabTestView.ExportOptions.RenderBody()
    @samplingLabTestView.OtherOptions.RenderBody()
</div>
}
@samplingLabTestView.ShowPageHeader()
@samplingLabTestView.ShowMessages()
<main class="view">
<form name="fSamplingLabTestview" id="fSamplingLabTestview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!samplingLabTestView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(samplingLabTestView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SamplingLabTest: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fSamplingLabTestview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSamplingLabTestview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(samplingLabTestView.IsModal)">
<table class="@(samplingLabTestView.TableClass)">
@if (samplingLabTestView.IdSamplingLabTest.Visible) { // samplingLabTestView.IdSamplingLabTest.Visible (begin)
    <tr id="r_IdSamplingLabTest" @Html.Raw(samplingLabTestView.IdSamplingLabTest.RowAttributes)>
        <td class="@(samplingLabTestView.TableLeftColumnClass)"><span id="elh_SamplingLabTest_IdSamplingLabTest">@Html.Raw(samplingLabTestView.IdSamplingLabTest.Caption)</span></td>
        <td data-name="IdSamplingLabTest" @Html.Raw(samplingLabTestView.IdSamplingLabTest.CellAttributes)>
<span id="el_SamplingLabTest_IdSamplingLabTest">
<span @Html.Raw(samplingLabTestView.IdSamplingLabTest.ViewAttributes)>
@Html.Raw(samplingLabTestView.IdSamplingLabTest.GetViewValue())</span>
</span></td>
    </tr>
} @* samplingLabTestView.IdSamplingLabTest.Visible (end) *@
@if (samplingLabTestView.NomorSamplingLabTest.Visible) { // samplingLabTestView.NomorSamplingLabTest.Visible (begin)
    <tr id="r_NomorSamplingLabTest" @Html.Raw(samplingLabTestView.NomorSamplingLabTest.RowAttributes)>
        <td class="@(samplingLabTestView.TableLeftColumnClass)"><span id="elh_SamplingLabTest_NomorSamplingLabTest">@Html.Raw(samplingLabTestView.NomorSamplingLabTest.Caption)</span></td>
        <td data-name="NomorSamplingLabTest" @Html.Raw(samplingLabTestView.NomorSamplingLabTest.CellAttributes)>
<span id="el_SamplingLabTest_NomorSamplingLabTest">
<span @Html.Raw(samplingLabTestView.NomorSamplingLabTest.ViewAttributes)>
@Html.Raw(samplingLabTestView.NomorSamplingLabTest.GetViewValue())</span>
</span></td>
    </tr>
} @* samplingLabTestView.NomorSamplingLabTest.Visible (end) *@
@if (samplingLabTestView.LinkProses.Visible) { // samplingLabTestView.LinkProses.Visible (begin)
    <tr id="r_LinkProses" @Html.Raw(samplingLabTestView.LinkProses.RowAttributes)>
        <td class="@(samplingLabTestView.TableLeftColumnClass)"><span id="elh_SamplingLabTest_LinkProses">@Html.Raw(samplingLabTestView.LinkProses.Caption)</span></td>
        <td data-name="LinkProses" @Html.Raw(samplingLabTestView.LinkProses.CellAttributes)>
<span id="el_SamplingLabTest_LinkProses">
<span @Html.Raw(samplingLabTestView.LinkProses.ViewAttributes)>
@Html.Raw(samplingLabTestView.LinkProses.GetViewValue())</span>
</span></td>
    </tr>
} @* samplingLabTestView.LinkProses.Visible (end) *@
@if (samplingLabTestView.LookupPlant.Visible) { // samplingLabTestView.LookupPlant.Visible (begin)
    <tr id="r_LookupPlant" @Html.Raw(samplingLabTestView.LookupPlant.RowAttributes)>
        <td class="@(samplingLabTestView.TableLeftColumnClass)"><span id="elh_SamplingLabTest_LookupPlant">@Html.Raw(samplingLabTestView.LookupPlant.Caption)</span></td>
        <td data-name="LookupPlant" @Html.Raw(samplingLabTestView.LookupPlant.CellAttributes)>
<span id="el_SamplingLabTest_LookupPlant">
<span @Html.Raw(samplingLabTestView.LookupPlant.ViewAttributes)>
@Html.Raw(samplingLabTestView.LookupPlant.GetViewValue())</span>
</span></td>
    </tr>
} @* samplingLabTestView.LookupPlant.Visible (end) *@
@if (samplingLabTestView.IdPlant.Visible) { // samplingLabTestView.IdPlant.Visible (begin)
    <tr id="r_IdPlant" @Html.Raw(samplingLabTestView.IdPlant.RowAttributes)>
        <td class="@(samplingLabTestView.TableLeftColumnClass)"><span id="elh_SamplingLabTest_IdPlant">@Html.Raw(samplingLabTestView.IdPlant.Caption)</span></td>
        <td data-name="IdPlant" @Html.Raw(samplingLabTestView.IdPlant.CellAttributes)>
<span id="el_SamplingLabTest_IdPlant">
<span @Html.Raw(samplingLabTestView.IdPlant.ViewAttributes)>
@Html.Raw(samplingLabTestView.IdPlant.GetViewValue())</span>
</span></td>
    </tr>
} @* samplingLabTestView.IdPlant.Visible (end) *@
@if (samplingLabTestView.IdReferensi.Visible) { // samplingLabTestView.IdReferensi.Visible (begin)
    <tr id="r_IdReferensi" @Html.Raw(samplingLabTestView.IdReferensi.RowAttributes)>
        <td class="@(samplingLabTestView.TableLeftColumnClass)"><span id="elh_SamplingLabTest_IdReferensi">@Html.Raw(samplingLabTestView.IdReferensi.Caption)</span></td>
        <td data-name="IdReferensi" @Html.Raw(samplingLabTestView.IdReferensi.CellAttributes)>
<span id="el_SamplingLabTest_IdReferensi">
<span @Html.Raw(samplingLabTestView.IdReferensi.ViewAttributes)>
@Html.Raw(samplingLabTestView.IdReferensi.GetViewValue())</span>
</span></td>
    </tr>
} @* samplingLabTestView.IdReferensi.Visible (end) *@
@if (samplingLabTestView.IdPenimbunan.Visible) { // samplingLabTestView.IdPenimbunan.Visible (begin)
    <tr id="r_IdPenimbunan" @Html.Raw(samplingLabTestView.IdPenimbunan.RowAttributes)>
        <td class="@(samplingLabTestView.TableLeftColumnClass)"><span id="elh_SamplingLabTest_IdPenimbunan">@Html.Raw(samplingLabTestView.IdPenimbunan.Caption)</span></td>
        <td data-name="IdPenimbunan" @Html.Raw(samplingLabTestView.IdPenimbunan.CellAttributes)>
<span id="el_SamplingLabTest_IdPenimbunan">
<span @Html.Raw(samplingLabTestView.IdPenimbunan.ViewAttributes)>
@Html.Raw(samplingLabTestView.IdPenimbunan.GetViewValue())</span>
</span></td>
    </tr>
} @* samplingLabTestView.IdPenimbunan.Visible (end) *@
@if (samplingLabTestView.IdTemplate.Visible) { // samplingLabTestView.IdTemplate.Visible (begin)
    <tr id="r_IdTemplate" @Html.Raw(samplingLabTestView.IdTemplate.RowAttributes)>
        <td class="@(samplingLabTestView.TableLeftColumnClass)"><span id="elh_SamplingLabTest_IdTemplate">@Html.Raw(samplingLabTestView.IdTemplate.Caption)</span></td>
        <td data-name="IdTemplate" @Html.Raw(samplingLabTestView.IdTemplate.CellAttributes)>
<span id="el_SamplingLabTest_IdTemplate">
<span @Html.Raw(samplingLabTestView.IdTemplate.ViewAttributes)>
@Html.Raw(samplingLabTestView.IdTemplate.GetViewValue())</span>
</span></td>
    </tr>
} @* samplingLabTestView.IdTemplate.Visible (end) *@
@if (samplingLabTestView.StatusProses.Visible) { // samplingLabTestView.StatusProses.Visible (begin)
    <tr id="r_StatusProses" @Html.Raw(samplingLabTestView.StatusProses.RowAttributes)>
        <td class="@(samplingLabTestView.TableLeftColumnClass)"><span id="elh_SamplingLabTest_StatusProses">@Html.Raw(samplingLabTestView.StatusProses.Caption)</span></td>
        <td data-name="StatusProses" @Html.Raw(samplingLabTestView.StatusProses.CellAttributes)>
<span id="el_SamplingLabTest_StatusProses">
<span @Html.Raw(samplingLabTestView.StatusProses.ViewAttributes)>
@Html.Raw(samplingLabTestView.StatusProses.GetViewValue())</span>
</span></td>
    </tr>
} @* samplingLabTestView.StatusProses.Visible (end) *@
@if (samplingLabTestView.PersentaseProgress.Visible) { // samplingLabTestView.PersentaseProgress.Visible (begin)
    <tr id="r_PersentaseProgress" @Html.Raw(samplingLabTestView.PersentaseProgress.RowAttributes)>
        <td class="@(samplingLabTestView.TableLeftColumnClass)"><span id="elh_SamplingLabTest_PersentaseProgress">@Html.Raw(samplingLabTestView.PersentaseProgress.Caption)</span></td>
        <td data-name="PersentaseProgress" @Html.Raw(samplingLabTestView.PersentaseProgress.CellAttributes)>
<span id="el_SamplingLabTest_PersentaseProgress">
<span @Html.Raw(samplingLabTestView.PersentaseProgress.ViewAttributes)>
@Html.Raw(samplingLabTestView.PersentaseProgress.GetViewValue())</span>
</span></td>
    </tr>
} @* samplingLabTestView.PersentaseProgress.Visible (end) *@
@if (samplingLabTestView.IdModa.Visible) { // samplingLabTestView.IdModa.Visible (begin)
    <tr id="r_IdModa" @Html.Raw(samplingLabTestView.IdModa.RowAttributes)>
        <td class="@(samplingLabTestView.TableLeftColumnClass)"><span id="elh_SamplingLabTest_IdModa">@Html.Raw(samplingLabTestView.IdModa.Caption)</span></td>
        <td data-name="IdModa" @Html.Raw(samplingLabTestView.IdModa.CellAttributes)>
<span id="el_SamplingLabTest_IdModa">
<span @Html.Raw(samplingLabTestView.IdModa.ViewAttributes)>
@Html.Raw(samplingLabTestView.IdModa.GetViewValue())</span>
</span></td>
    </tr>
} @* samplingLabTestView.IdModa.Visible (end) *@
@if (samplingLabTestView.TipePenyaluran.Visible) { // samplingLabTestView.TipePenyaluran.Visible (begin)
    <tr id="r_TipePenyaluran" @Html.Raw(samplingLabTestView.TipePenyaluran.RowAttributes)>
        <td class="@(samplingLabTestView.TableLeftColumnClass)"><span id="elh_SamplingLabTest_TipePenyaluran">@Html.Raw(samplingLabTestView.TipePenyaluran.Caption)</span></td>
        <td data-name="TipePenyaluran" @Html.Raw(samplingLabTestView.TipePenyaluran.CellAttributes)>
<span id="el_SamplingLabTest_TipePenyaluran">
<span @Html.Raw(samplingLabTestView.TipePenyaluran.ViewAttributes)>
@Html.Raw(samplingLabTestView.TipePenyaluran.GetViewValue())</span>
</span></td>
    </tr>
} @* samplingLabTestView.TipePenyaluran.Visible (end) *@
@if (samplingLabTestView.KategoriPenyaluran.Visible) { // samplingLabTestView.KategoriPenyaluran.Visible (begin)
    <tr id="r_KategoriPenyaluran" @Html.Raw(samplingLabTestView.KategoriPenyaluran.RowAttributes)>
        <td class="@(samplingLabTestView.TableLeftColumnClass)"><span id="elh_SamplingLabTest_KategoriPenyaluran">@Html.Raw(samplingLabTestView.KategoriPenyaluran.Caption)</span></td>
        <td data-name="KategoriPenyaluran" @Html.Raw(samplingLabTestView.KategoriPenyaluran.CellAttributes)>
<span id="el_SamplingLabTest_KategoriPenyaluran">
<span @Html.Raw(samplingLabTestView.KategoriPenyaluran.ViewAttributes)>
@Html.Raw(samplingLabTestView.KategoriPenyaluran.GetViewValue())</span>
</span></td>
    </tr>
} @* samplingLabTestView.KategoriPenyaluran.Visible (end) *@
@if (samplingLabTestView.NomorPolisi.Visible) { // samplingLabTestView.NomorPolisi.Visible (begin)
    <tr id="r_NomorPolisi" @Html.Raw(samplingLabTestView.NomorPolisi.RowAttributes)>
        <td class="@(samplingLabTestView.TableLeftColumnClass)"><span id="elh_SamplingLabTest_NomorPolisi">@Html.Raw(samplingLabTestView.NomorPolisi.Caption)</span></td>
        <td data-name="NomorPolisi" @Html.Raw(samplingLabTestView.NomorPolisi.CellAttributes)>
<span id="el_SamplingLabTest_NomorPolisi">
<span @Html.Raw(samplingLabTestView.NomorPolisi.ViewAttributes)>
@Html.Raw(samplingLabTestView.NomorPolisi.GetViewValue())</span>
</span></td>
    </tr>
} @* samplingLabTestView.NomorPolisi.Visible (end) *@
@if (samplingLabTestView.TipeProdukSTS.Visible) { // samplingLabTestView.TipeProdukSTS.Visible (begin)
    <tr id="r_TipeProdukSTS" @Html.Raw(samplingLabTestView.TipeProdukSTS.RowAttributes)>
        <td class="@(samplingLabTestView.TableLeftColumnClass)"><span id="elh_SamplingLabTest_TipeProdukSTS">@Html.Raw(samplingLabTestView.TipeProdukSTS.Caption)</span></td>
        <td data-name="TipeProdukSTS" @Html.Raw(samplingLabTestView.TipeProdukSTS.CellAttributes)>
<span id="el_SamplingLabTest_TipeProdukSTS">
<span @Html.Raw(samplingLabTestView.TipeProdukSTS.ViewAttributes)>
@Html.Raw(samplingLabTestView.TipeProdukSTS.GetViewValue())</span>
</span></td>
    </tr>
} @* samplingLabTestView.TipeProdukSTS.Visible (end) *@
@if (samplingLabTestView.KodeProduk.Visible) { // samplingLabTestView.KodeProduk.Visible (begin)
    <tr id="r_KodeProduk" @Html.Raw(samplingLabTestView.KodeProduk.RowAttributes)>
        <td class="@(samplingLabTestView.TableLeftColumnClass)"><span id="elh_SamplingLabTest_KodeProduk">@Html.Raw(samplingLabTestView.KodeProduk.Caption)</span></td>
        <td data-name="KodeProduk" @Html.Raw(samplingLabTestView.KodeProduk.CellAttributes)>
<span id="el_SamplingLabTest_KodeProduk">
<span @Html.Raw(samplingLabTestView.KodeProduk.ViewAttributes)>
@Html.Raw(samplingLabTestView.KodeProduk.GetViewValue())</span>
</span></td>
    </tr>
} @* samplingLabTestView.KodeProduk.Visible (end) *@
@if (samplingLabTestView.Tujuan.Visible) { // samplingLabTestView.Tujuan.Visible (begin)
    <tr id="r_Tujuan" @Html.Raw(samplingLabTestView.Tujuan.RowAttributes)>
        <td class="@(samplingLabTestView.TableLeftColumnClass)"><span id="elh_SamplingLabTest_Tujuan">@Html.Raw(samplingLabTestView.Tujuan.Caption)</span></td>
        <td data-name="Tujuan" @Html.Raw(samplingLabTestView.Tujuan.CellAttributes)>
<span id="el_SamplingLabTest_Tujuan">
<span @Html.Raw(samplingLabTestView.Tujuan.ViewAttributes)>
@Html.Raw(samplingLabTestView.Tujuan.GetViewValue())</span>
</span></td>
    </tr>
} @* samplingLabTestView.Tujuan.Visible (end) *@
@if (samplingLabTestView.Catatan.Visible) { // samplingLabTestView.Catatan.Visible (begin)
    <tr id="r_Catatan" @Html.Raw(samplingLabTestView.Catatan.RowAttributes)>
        <td class="@(samplingLabTestView.TableLeftColumnClass)"><span id="elh_SamplingLabTest_Catatan">@Html.Raw(samplingLabTestView.Catatan.Caption)</span></td>
        <td data-name="Catatan" @Html.Raw(samplingLabTestView.Catatan.CellAttributes)>
<span id="el_SamplingLabTest_Catatan">
<span @Html.Raw(samplingLabTestView.Catatan.ViewAttributes)>
@Html.Raw(samplingLabTestView.Catatan.GetViewValue())</span>
</span></td>
    </tr>
} @* samplingLabTestView.Catatan.Visible (end) *@
@if (samplingLabTestView.DibuatOleh.Visible) { // samplingLabTestView.DibuatOleh.Visible (begin)
    <tr id="r_DibuatOleh" @Html.Raw(samplingLabTestView.DibuatOleh.RowAttributes)>
        <td class="@(samplingLabTestView.TableLeftColumnClass)"><span id="elh_SamplingLabTest_DibuatOleh">@Html.Raw(samplingLabTestView.DibuatOleh.Caption)</span></td>
        <td data-name="DibuatOleh" @Html.Raw(samplingLabTestView.DibuatOleh.CellAttributes)>
<span id="el_SamplingLabTest_DibuatOleh">
<span @Html.Raw(samplingLabTestView.DibuatOleh.ViewAttributes)>
@Html.Raw(samplingLabTestView.DibuatOleh.GetViewValue())</span>
</span></td>
    </tr>
} @* samplingLabTestView.DibuatOleh.Visible (end) *@
@if (samplingLabTestView.TanggalDibuat.Visible) { // samplingLabTestView.TanggalDibuat.Visible (begin)
    <tr id="r_TanggalDibuat" @Html.Raw(samplingLabTestView.TanggalDibuat.RowAttributes)>
        <td class="@(samplingLabTestView.TableLeftColumnClass)"><span id="elh_SamplingLabTest_TanggalDibuat">@Html.Raw(samplingLabTestView.TanggalDibuat.Caption)</span></td>
        <td data-name="TanggalDibuat" @Html.Raw(samplingLabTestView.TanggalDibuat.CellAttributes)>
<span id="el_SamplingLabTest_TanggalDibuat">
<span @Html.Raw(samplingLabTestView.TanggalDibuat.ViewAttributes)>
@Html.Raw(samplingLabTestView.TanggalDibuat.GetViewValue())</span>
</span></td>
    </tr>
} @* samplingLabTestView.TanggalDibuat.Visible (end) *@
@if (samplingLabTestView.DiperbaruiOleh.Visible) { // samplingLabTestView.DiperbaruiOleh.Visible (begin)
    <tr id="r_DiperbaruiOleh" @Html.Raw(samplingLabTestView.DiperbaruiOleh.RowAttributes)>
        <td class="@(samplingLabTestView.TableLeftColumnClass)"><span id="elh_SamplingLabTest_DiperbaruiOleh">@Html.Raw(samplingLabTestView.DiperbaruiOleh.Caption)</span></td>
        <td data-name="DiperbaruiOleh" @Html.Raw(samplingLabTestView.DiperbaruiOleh.CellAttributes)>
<span id="el_SamplingLabTest_DiperbaruiOleh">
<span @Html.Raw(samplingLabTestView.DiperbaruiOleh.ViewAttributes)>
@Html.Raw(samplingLabTestView.DiperbaruiOleh.GetViewValue())</span>
</span></td>
    </tr>
} @* samplingLabTestView.DiperbaruiOleh.Visible (end) *@
@if (samplingLabTestView.TanggalDiperbarui.Visible) { // samplingLabTestView.TanggalDiperbarui.Visible (begin)
    <tr id="r_TanggalDiperbarui" @Html.Raw(samplingLabTestView.TanggalDiperbarui.RowAttributes)>
        <td class="@(samplingLabTestView.TableLeftColumnClass)"><span id="elh_SamplingLabTest_TanggalDiperbarui">@Html.Raw(samplingLabTestView.TanggalDiperbarui.Caption)</span></td>
        <td data-name="TanggalDiperbarui" @Html.Raw(samplingLabTestView.TanggalDiperbarui.CellAttributes)>
<span id="el_SamplingLabTest_TanggalDiperbarui">
<span @Html.Raw(samplingLabTestView.TanggalDiperbarui.ViewAttributes)>
@Html.Raw(samplingLabTestView.TanggalDiperbarui.GetViewValue())</span>
</span></td>
    </tr>
} @* samplingLabTestView.TanggalDiperbarui.Visible (end) *@
</table>
@{ samplingLabTestView.CloseRecordset(); }
</form>
</main>
@samplingLabTestView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!samplingLabTestView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
