@{
    // View
    View = this;

    // Check action result
    if (samplingLabTestEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = samplingLabTestEdit.UseLayout ? "_Layout" : "";
}
@samplingLabTestEdit.ShowPageHeader()
@samplingLabTestEdit.ShowMessages()
<main class="edit">
<form name="fSamplingLabTestedit" id="fSamplingLabTestedit" class="@(samplingLabTestEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(samplingLabTestEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SamplingLabTest: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSamplingLabTestedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSamplingLabTestedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["NomorSamplingLabTest", [fields.NomorSamplingLabTest.visible && fields.NomorSamplingLabTest.required ? ew.Validators.required(fields.NomorSamplingLabTest.caption) : null], fields.NomorSamplingLabTest.isInvalid],
            ["LookupPlant", [fields.LookupPlant.visible && fields.LookupPlant.required ? ew.Validators.required(fields.LookupPlant.caption) : null], fields.LookupPlant.isInvalid],
            ["IdPlant", [fields.IdPlant.visible && fields.IdPlant.required ? ew.Validators.required(fields.IdPlant.caption) : null], fields.IdPlant.isInvalid],
            ["IdReferensi", [fields.IdReferensi.visible && fields.IdReferensi.required ? ew.Validators.required(fields.IdReferensi.caption) : null], fields.IdReferensi.isInvalid],
            ["IdModa", [fields.IdModa.visible && fields.IdModa.required ? ew.Validators.required(fields.IdModa.caption) : null], fields.IdModa.isInvalid],
            ["TipePenyaluran", [fields.TipePenyaluran.visible && fields.TipePenyaluran.required ? ew.Validators.required(fields.TipePenyaluran.caption) : null], fields.TipePenyaluran.isInvalid],
            ["KategoriPenyaluran", [fields.KategoriPenyaluran.visible && fields.KategoriPenyaluran.required ? ew.Validators.required(fields.KategoriPenyaluran.caption) : null], fields.KategoriPenyaluran.isInvalid],
            ["NomorPolisi", [fields.NomorPolisi.visible && fields.NomorPolisi.required ? ew.Validators.required(fields.NomorPolisi.caption) : null], fields.NomorPolisi.isInvalid],
            ["TipeProdukSTS", [fields.TipeProdukSTS.visible && fields.TipeProdukSTS.required ? ew.Validators.required(fields.TipeProdukSTS.caption) : null], fields.TipeProdukSTS.isInvalid],
            ["KodeProduk", [fields.KodeProduk.visible && fields.KodeProduk.required ? ew.Validators.required(fields.KodeProduk.caption) : null], fields.KodeProduk.isInvalid],
            ["Tujuan", [fields.Tujuan.visible && fields.Tujuan.required ? ew.Validators.required(fields.Tujuan.caption) : null], fields.Tujuan.isInvalid],
            ["Catatan", [fields.Catatan.visible && fields.Catatan.required ? ew.Validators.required(fields.Catatan.caption) : null], fields.Catatan.isInvalid],
            ["LookupTipeProduk", [fields.LookupTipeProduk.visible && fields.LookupTipeProduk.required ? ew.Validators.required(fields.LookupTipeProduk.caption) : null], fields.LookupTipeProduk.isInvalid],
            ["LookupJenisPlant", [fields.LookupJenisPlant.visible && fields.LookupJenisPlant.required ? ew.Validators.required(fields.LookupJenisPlant.caption) : null], fields.LookupJenisPlant.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Client script
    $('#fSamplingLabTestedit').on('submit', function (e) {
        e.preventDefault();
        showLoading();
        setTimeout(() => {
            hideLoading();
        }, 3000);
        this.requestSubmit();
    });
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(samplingLabTestEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(samplingLabTestEdit.OldKeyName)" value="@Html.Raw(samplingLabTestEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (samplingLabTestEdit.NomorSamplingLabTest.Visible) { // samplingLabTestEdit.NomorSamplingLabTest.Visible (begin)
    <div id="r_NomorSamplingLabTest" @Html.Raw(samplingLabTestEdit.NomorSamplingLabTest.RowAttributes)>
        <label id="elh_SamplingLabTest_NomorSamplingLabTest" for="x_NomorSamplingLabTest" class="@(samplingLabTestEdit.LeftColumnClass)">@Html.Raw(samplingLabTestEdit.NomorSamplingLabTest.Caption)@Html.Raw(samplingLabTestEdit.NomorSamplingLabTest.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(samplingLabTestEdit.RightColumnClass)"><div @Html.Raw(samplingLabTestEdit.NomorSamplingLabTest.CellAttributes)>
<span id="el_SamplingLabTest_NomorSamplingLabTest">
<span @Html.Raw(samplingLabTestEdit.NomorSamplingLabTest.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(samplingLabTestEdit.NomorSamplingLabTest.EditValue)))"></span>
<input type="hidden" data-table="SamplingLabTest" data-field="x_NomorSamplingLabTest" data-hidden="1" name="x_NomorSamplingLabTest" id="x_NomorSamplingLabTest" value="@Html.Raw(HtmlEncode(samplingLabTestEdit.NomorSamplingLabTest.CurrentValue))">
</span>
</div></div>
    </div>
} @* samplingLabTestEdit.NomorSamplingLabTest.Visible (end) *@
@if (samplingLabTestEdit.LookupPlant.Visible) { // samplingLabTestEdit.LookupPlant.Visible (begin)
    <div id="r_LookupPlant" @Html.Raw(samplingLabTestEdit.LookupPlant.RowAttributes)>
        <label id="elh_SamplingLabTest_LookupPlant" for="x_LookupPlant" class="@(samplingLabTestEdit.LeftColumnClass)">@Html.Raw(samplingLabTestEdit.LookupPlant.Caption)@Html.Raw(samplingLabTestEdit.LookupPlant.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(samplingLabTestEdit.RightColumnClass)"><div @Html.Raw(samplingLabTestEdit.LookupPlant.CellAttributes)>
<span id="el_SamplingLabTest_LookupPlant">
<span @Html.Raw(samplingLabTestEdit.LookupPlant.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(samplingLabTestEdit.LookupPlant.DisplayValue(samplingLabTestEdit.LookupPlant.EditValue))</span></span>
<input type="hidden" data-table="SamplingLabTest" data-field="x_LookupPlant" data-hidden="1" name="x_LookupPlant" id="x_LookupPlant" value="@Html.Raw(HtmlEncode(samplingLabTestEdit.LookupPlant.CurrentValue))">
</span>
</div></div>
    </div>
} @* samplingLabTestEdit.LookupPlant.Visible (end) *@
@if (samplingLabTestEdit.IdPlant.Visible) { // samplingLabTestEdit.IdPlant.Visible (begin)
    <div id="r_IdPlant" @Html.Raw(samplingLabTestEdit.IdPlant.RowAttributes)>
        <label id="elh_SamplingLabTest_IdPlant" class="@(samplingLabTestEdit.LeftColumnClass)">@Html.Raw(samplingLabTestEdit.IdPlant.Caption)@Html.Raw(samplingLabTestEdit.IdPlant.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(samplingLabTestEdit.RightColumnClass)"><div @Html.Raw(samplingLabTestEdit.IdPlant.CellAttributes)>
<span id="el_SamplingLabTest_IdPlant">
<span @Html.Raw(samplingLabTestEdit.IdPlant.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(samplingLabTestEdit.IdPlant.DisplayValue(samplingLabTestEdit.IdPlant.EditValue))</span></span>
<input type="hidden" data-table="SamplingLabTest" data-field="x_IdPlant" data-hidden="1" name="x_IdPlant" id="x_IdPlant" value="@Html.Raw(HtmlEncode(samplingLabTestEdit.IdPlant.CurrentValue))">
</span>
</div></div>
    </div>
} @* samplingLabTestEdit.IdPlant.Visible (end) *@
@if (samplingLabTestEdit.IdReferensi.Visible) { // samplingLabTestEdit.IdReferensi.Visible (begin)
    <div id="r_IdReferensi" @Html.Raw(samplingLabTestEdit.IdReferensi.RowAttributes)>
        <label id="elh_SamplingLabTest_IdReferensi" for="x_IdReferensi" class="@(samplingLabTestEdit.LeftColumnClass)">@Html.Raw(samplingLabTestEdit.IdReferensi.Caption)@Html.Raw(samplingLabTestEdit.IdReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(samplingLabTestEdit.RightColumnClass)"><div @Html.Raw(samplingLabTestEdit.IdReferensi.CellAttributes)>
<span id="el_SamplingLabTest_IdReferensi">
<span @Html.Raw(samplingLabTestEdit.IdReferensi.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(samplingLabTestEdit.IdReferensi.EditValue)))"></span>
<input type="hidden" data-table="SamplingLabTest" data-field="x_IdReferensi" data-hidden="1" name="x_IdReferensi" id="x_IdReferensi" value="@Html.Raw(HtmlEncode(samplingLabTestEdit.IdReferensi.CurrentValue))">
</span>
</div></div>
    </div>
} @* samplingLabTestEdit.IdReferensi.Visible (end) *@
@if (samplingLabTestEdit.IdModa.Visible) { // samplingLabTestEdit.IdModa.Visible (begin)
    <div id="r_IdModa" @Html.Raw(samplingLabTestEdit.IdModa.RowAttributes)>
        <label id="elh_SamplingLabTest_IdModa" for="x_IdModa" class="@(samplingLabTestEdit.LeftColumnClass)">@Html.Raw(samplingLabTestEdit.IdModa.Caption)@Html.Raw(samplingLabTestEdit.IdModa.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(samplingLabTestEdit.RightColumnClass)"><div @Html.Raw(samplingLabTestEdit.IdModa.CellAttributes)>
<span id="el_SamplingLabTest_IdModa">
<span @Html.Raw(samplingLabTestEdit.IdModa.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(samplingLabTestEdit.IdModa.DisplayValue(samplingLabTestEdit.IdModa.EditValue))</span></span>
<input type="hidden" data-table="SamplingLabTest" data-field="x_IdModa" data-hidden="1" name="x_IdModa" id="x_IdModa" value="@Html.Raw(HtmlEncode(samplingLabTestEdit.IdModa.CurrentValue))">
</span>
</div></div>
    </div>
} @* samplingLabTestEdit.IdModa.Visible (end) *@
@if (samplingLabTestEdit.TipePenyaluran.Visible) { // samplingLabTestEdit.TipePenyaluran.Visible (begin)
    <div id="r_TipePenyaluran" @Html.Raw(samplingLabTestEdit.TipePenyaluran.RowAttributes)>
        <label id="elh_SamplingLabTest_TipePenyaluran" for="x_TipePenyaluran" class="@(samplingLabTestEdit.LeftColumnClass)">@Html.Raw(samplingLabTestEdit.TipePenyaluran.Caption)@Html.Raw(samplingLabTestEdit.TipePenyaluran.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(samplingLabTestEdit.RightColumnClass)"><div @Html.Raw(samplingLabTestEdit.TipePenyaluran.CellAttributes)>
<span id="el_SamplingLabTest_TipePenyaluran">
<span @Html.Raw(samplingLabTestEdit.TipePenyaluran.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(samplingLabTestEdit.TipePenyaluran.DisplayValue(samplingLabTestEdit.TipePenyaluran.EditValue))</span></span>
<input type="hidden" data-table="SamplingLabTest" data-field="x_TipePenyaluran" data-hidden="1" name="x_TipePenyaluran" id="x_TipePenyaluran" value="@Html.Raw(HtmlEncode(samplingLabTestEdit.TipePenyaluran.CurrentValue))">
</span>
</div></div>
    </div>
} @* samplingLabTestEdit.TipePenyaluran.Visible (end) *@
@if (samplingLabTestEdit.KategoriPenyaluran.Visible) { // samplingLabTestEdit.KategoriPenyaluran.Visible (begin)
    <div id="r_KategoriPenyaluran" @Html.Raw(samplingLabTestEdit.KategoriPenyaluran.RowAttributes)>
        <label id="elh_SamplingLabTest_KategoriPenyaluran" for="x_KategoriPenyaluran" class="@(samplingLabTestEdit.LeftColumnClass)">@Html.Raw(samplingLabTestEdit.KategoriPenyaluran.Caption)@Html.Raw(samplingLabTestEdit.KategoriPenyaluran.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(samplingLabTestEdit.RightColumnClass)"><div @Html.Raw(samplingLabTestEdit.KategoriPenyaluran.CellAttributes)>
<span id="el_SamplingLabTest_KategoriPenyaluran">
<span @Html.Raw(samplingLabTestEdit.KategoriPenyaluran.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(samplingLabTestEdit.KategoriPenyaluran.DisplayValue(samplingLabTestEdit.KategoriPenyaluran.EditValue))</span></span>
<input type="hidden" data-table="SamplingLabTest" data-field="x_KategoriPenyaluran" data-hidden="1" name="x_KategoriPenyaluran" id="x_KategoriPenyaluran" value="@Html.Raw(HtmlEncode(samplingLabTestEdit.KategoriPenyaluran.CurrentValue))">
</span>
</div></div>
    </div>
} @* samplingLabTestEdit.KategoriPenyaluran.Visible (end) *@
@if (samplingLabTestEdit.NomorPolisi.Visible) { // samplingLabTestEdit.NomorPolisi.Visible (begin)
    <div id="r_NomorPolisi" @Html.Raw(samplingLabTestEdit.NomorPolisi.RowAttributes)>
        <label id="elh_SamplingLabTest_NomorPolisi" for="x_NomorPolisi" class="@(samplingLabTestEdit.LeftColumnClass)">@Html.Raw(samplingLabTestEdit.NomorPolisi.Caption)@Html.Raw(samplingLabTestEdit.NomorPolisi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(samplingLabTestEdit.RightColumnClass)"><div @Html.Raw(samplingLabTestEdit.NomorPolisi.CellAttributes)>
<span id="el_SamplingLabTest_NomorPolisi">
<span @Html.Raw(samplingLabTestEdit.NomorPolisi.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(samplingLabTestEdit.NomorPolisi.EditValue)))"></span>
<input type="hidden" data-table="SamplingLabTest" data-field="x_NomorPolisi" data-hidden="1" name="x_NomorPolisi" id="x_NomorPolisi" value="@Html.Raw(HtmlEncode(samplingLabTestEdit.NomorPolisi.CurrentValue))">
</span>
</div></div>
    </div>
} @* samplingLabTestEdit.NomorPolisi.Visible (end) *@
@if (samplingLabTestEdit.TipeProdukSTS.Visible) { // samplingLabTestEdit.TipeProdukSTS.Visible (begin)
    <div id="r_TipeProdukSTS" @Html.Raw(samplingLabTestEdit.TipeProdukSTS.RowAttributes)>
        <label id="elh_SamplingLabTest_TipeProdukSTS" for="x_TipeProdukSTS" class="@(samplingLabTestEdit.LeftColumnClass)">@Html.Raw(samplingLabTestEdit.TipeProdukSTS.Caption)@Html.Raw(samplingLabTestEdit.TipeProdukSTS.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(samplingLabTestEdit.RightColumnClass)"><div @Html.Raw(samplingLabTestEdit.TipeProdukSTS.CellAttributes)>
<span id="el_SamplingLabTest_TipeProdukSTS">
<span @Html.Raw(samplingLabTestEdit.TipeProdukSTS.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(samplingLabTestEdit.TipeProdukSTS.DisplayValue(samplingLabTestEdit.TipeProdukSTS.EditValue))</span></span>
<input type="hidden" data-table="SamplingLabTest" data-field="x_TipeProdukSTS" data-hidden="1" name="x_TipeProdukSTS" id="x_TipeProdukSTS" value="@Html.Raw(HtmlEncode(samplingLabTestEdit.TipeProdukSTS.CurrentValue))">
</span>
</div></div>
    </div>
} @* samplingLabTestEdit.TipeProdukSTS.Visible (end) *@
@if (samplingLabTestEdit.KodeProduk.Visible) { // samplingLabTestEdit.KodeProduk.Visible (begin)
    <div id="r_KodeProduk" @Html.Raw(samplingLabTestEdit.KodeProduk.RowAttributes)>
        <label id="elh_SamplingLabTest_KodeProduk" for="x_KodeProduk" class="@(samplingLabTestEdit.LeftColumnClass)">@Html.Raw(samplingLabTestEdit.KodeProduk.Caption)@Html.Raw(samplingLabTestEdit.KodeProduk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(samplingLabTestEdit.RightColumnClass)"><div @Html.Raw(samplingLabTestEdit.KodeProduk.CellAttributes)>
<span id="el_SamplingLabTest_KodeProduk">
<span @Html.Raw(samplingLabTestEdit.KodeProduk.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(samplingLabTestEdit.KodeProduk.DisplayValue(samplingLabTestEdit.KodeProduk.EditValue))</span></span>
<input type="hidden" data-table="SamplingLabTest" data-field="x_KodeProduk" data-hidden="1" name="x_KodeProduk" id="x_KodeProduk" value="@Html.Raw(HtmlEncode(samplingLabTestEdit.KodeProduk.CurrentValue))">
</span>
</div></div>
    </div>
} @* samplingLabTestEdit.KodeProduk.Visible (end) *@
@if (samplingLabTestEdit.Tujuan.Visible) { // samplingLabTestEdit.Tujuan.Visible (begin)
    <div id="r_Tujuan" @Html.Raw(samplingLabTestEdit.Tujuan.RowAttributes)>
        <label id="elh_SamplingLabTest_Tujuan" for="x_Tujuan" class="@(samplingLabTestEdit.LeftColumnClass)">@Html.Raw(samplingLabTestEdit.Tujuan.Caption)@Html.Raw(samplingLabTestEdit.Tujuan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(samplingLabTestEdit.RightColumnClass)"><div @Html.Raw(samplingLabTestEdit.Tujuan.CellAttributes)>
<span id="el_SamplingLabTest_Tujuan">
<input type="@(samplingLabTestEdit.Tujuan.InputTextType)" name="x_Tujuan" id="x_Tujuan" data-table="SamplingLabTest" data-field="x_Tujuan" value="@Html.Raw(samplingLabTestEdit.Tujuan.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(samplingLabTestEdit.Tujuan.PlaceHolder))" data-format-pattern="@(samplingLabTestEdit.Tujuan.FormatPattern)"@Html.Raw(samplingLabTestEdit.Tujuan.EditAttributes) aria-describedby="x_Tujuan_help">
@Html.Raw(samplingLabTestEdit.Tujuan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(samplingLabTestEdit.Tujuan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* samplingLabTestEdit.Tujuan.Visible (end) *@
@if (samplingLabTestEdit.Catatan.Visible) { // samplingLabTestEdit.Catatan.Visible (begin)
    <div id="r_Catatan" @Html.Raw(samplingLabTestEdit.Catatan.RowAttributes)>
        <label id="elh_SamplingLabTest_Catatan" for="x_Catatan" class="@(samplingLabTestEdit.LeftColumnClass)">@Html.Raw(samplingLabTestEdit.Catatan.Caption)@Html.Raw(samplingLabTestEdit.Catatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(samplingLabTestEdit.RightColumnClass)"><div @Html.Raw(samplingLabTestEdit.Catatan.CellAttributes)>
<span id="el_SamplingLabTest_Catatan">
<textarea data-table="SamplingLabTest" data-field="x_Catatan" name="x_Catatan" id="x_Catatan" cols="35" rows="4" placeholder="@Html.Raw(HtmlEncode(samplingLabTestEdit.Catatan.PlaceHolder))"@Html.Raw(samplingLabTestEdit.Catatan.EditAttributes) aria-describedby="x_Catatan_help">@(samplingLabTestEdit.Catatan.EditValue)</textarea>
@Html.Raw(samplingLabTestEdit.Catatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(samplingLabTestEdit.Catatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* samplingLabTestEdit.Catatan.Visible (end) *@
</div><!-- /page* -->
<span id="el_SamplingLabTest_LookupTipeProduk">
<input type="hidden" data-table="SamplingLabTest" data-field="x_LookupTipeProduk" data-hidden="1" name="x_LookupTipeProduk" id="x_LookupTipeProduk" value="@Html.Raw(HtmlEncode(samplingLabTestEdit.LookupTipeProduk.CurrentValue))">
</span>
<span id="el_SamplingLabTest_LookupJenisPlant">
<input type="hidden" data-table="SamplingLabTest" data-field="x_LookupJenisPlant" data-hidden="1" name="x_LookupJenisPlant" id="x_LookupJenisPlant" value="@Html.Raw(HtmlEncode(samplingLabTestEdit.LookupJenisPlant.CurrentValue))">
</span>
    <input type="hidden" data-table="SamplingLabTest" data-field="x_IdSamplingLabTest" data-hidden="1" name="x_IdSamplingLabTest" id="x_IdSamplingLabTest" value="@Html.Raw(HtmlEncode(samplingLabTestEdit.IdSamplingLabTest.CurrentValue))">
@{ samplingLabTestEdit.CloseRecordset(); }
@Html.Raw(samplingLabTestEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(samplingLabTestEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSamplingLabTestedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSamplingLabTestedit" data-href="@AppPath(samplingLabTestEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(samplingLabTestEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@samplingLabTestEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SamplingLabTest");
});
</script>
<script>
loadjs.ready("load", function() {
    // Startup script
    $("#r_NomorSamplingLabTest").hide();
    $('#r_LookupTipeProduk').hide();
    $('#r_LookupJenisPlant').hide();
    $('#r_TipeProdukSTS').hide();
    if ($('#x_TipeProdukSTS') != '') {
        $('#r_TipeProdukSTS').show();
    } else {
        $('#r_TipeProdukSTS').hide();
    }
});
</script>
