@{
    // View
    View = this;

    // Check action result
    if (setPjsDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = setPjsDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(setPjsDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SetPjs: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fSetPjsdelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSetPjsdelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@setPjsDelete.ShowPageHeader()
@setPjsDelete.ShowMessages()
<form name="fSetPjsdelete" id="fSetPjsdelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in setPjsDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(setPjsDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(setPjsDelete.TableContainerClass)" style="@(setPjsDelete.TableContainerStyle)">
<table class="@(setPjsDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (setPjsDelete.RedirectLink.Visible) { // setPjsDelete.RedirectLink.Visible (begin)
        <th class="@Html.Raw(setPjsDelete.RedirectLink.HeaderCellClass)"><span id="elh_SetPjs_RedirectLink" class="SetPjs_RedirectLink">@Html.Raw(setPjsDelete.RedirectLink.Caption)</span></th>
} @* setPjsDelete.RedirectLink.Visible (end) *@
@if (setPjsDelete.Nama.Visible) { // setPjsDelete.Nama.Visible (begin)
        <th class="@Html.Raw(setPjsDelete.Nama.HeaderCellClass)"><span id="elh_SetPjs_Nama" class="SetPjs_Nama">@Html.Raw(setPjsDelete.Nama.Caption)</span></th>
} @* setPjsDelete.Nama.Visible (end) *@
@if (setPjsDelete.OrganizationLevel.Visible) { // setPjsDelete.OrganizationLevel.Visible (begin)
        <th class="@Html.Raw(setPjsDelete.OrganizationLevel.HeaderCellClass)"><span id="elh_SetPjs_OrganizationLevel" class="SetPjs_OrganizationLevel">@Html.Raw(setPjsDelete.OrganizationLevel.Caption)</span></th>
} @* setPjsDelete.OrganizationLevel.Visible (end) *@
@if (setPjsDelete.PosisiAwal.Visible) { // setPjsDelete.PosisiAwal.Visible (begin)
        <th class="@Html.Raw(setPjsDelete.PosisiAwal.HeaderCellClass)"><span id="elh_SetPjs_PosisiAwal" class="SetPjs_PosisiAwal">@Html.Raw(setPjsDelete.PosisiAwal.Caption)</span></th>
} @* setPjsDelete.PosisiAwal.Visible (end) *@
@if (setPjsDelete.PosisiPJS.Visible) { // setPjsDelete.PosisiPJS.Visible (begin)
        <th class="@Html.Raw(setPjsDelete.PosisiPJS.HeaderCellClass)"><span id="elh_SetPjs_PosisiPJS" class="SetPjs_PosisiPJS">@Html.Raw(setPjsDelete.PosisiPJS.Caption)</span></th>
} @* setPjsDelete.PosisiPJS.Visible (end) *@
@if (setPjsDelete.TanggalMulai.Visible) { // setPjsDelete.TanggalMulai.Visible (begin)
        <th class="@Html.Raw(setPjsDelete.TanggalMulai.HeaderCellClass)"><span id="elh_SetPjs_TanggalMulai" class="SetPjs_TanggalMulai">@Html.Raw(setPjsDelete.TanggalMulai.Caption)</span></th>
} @* setPjsDelete.TanggalMulai.Visible (end) *@
@if (setPjsDelete.TanggalSelesai.Visible) { // setPjsDelete.TanggalSelesai.Visible (begin)
        <th class="@Html.Raw(setPjsDelete.TanggalSelesai.HeaderCellClass)"><span id="elh_SetPjs_TanggalSelesai" class="SetPjs_TanggalSelesai">@Html.Raw(setPjsDelete.TanggalSelesai.Caption)</span></th>
} @* setPjsDelete.TanggalSelesai.Visible (end) *@
@if (setPjsDelete.Status.Visible) { // setPjsDelete.Status.Visible (begin)
        <th class="@Html.Raw(setPjsDelete.Status.HeaderCellClass)"><span id="elh_SetPjs_Status" class="SetPjs_Status">@Html.Raw(setPjsDelete.Status.Caption)</span></th>
} @* setPjsDelete.Status.Visible (end) *@
@if (setPjsDelete.DownloadSuratTugas.Visible) { // setPjsDelete.DownloadSuratTugas.Visible (begin)
        <th class="@Html.Raw(setPjsDelete.DownloadSuratTugas.HeaderCellClass)"><span id="elh_SetPjs_DownloadSuratTugas" class="SetPjs_DownloadSuratTugas">@Html.Raw(setPjsDelete.DownloadSuratTugas.Caption)</span></th>
} @* setPjsDelete.DownloadSuratTugas.Visible (end) *@
@if (setPjsDelete.Remaks.Visible) { // setPjsDelete.Remaks.Visible (begin)
        <th class="@Html.Raw(setPjsDelete.Remaks.HeaderCellClass)"><span id="elh_SetPjs_Remaks" class="SetPjs_Remaks">@Html.Raw(setPjsDelete.Remaks.Caption)</span></th>
} @* setPjsDelete.Remaks.Visible (end) *@
@if (setPjsDelete.DibuatOleh.Visible) { // setPjsDelete.DibuatOleh.Visible (begin)
        <th class="@Html.Raw(setPjsDelete.DibuatOleh.HeaderCellClass)"><span id="elh_SetPjs_DibuatOleh" class="SetPjs_DibuatOleh">@Html.Raw(setPjsDelete.DibuatOleh.Caption)</span></th>
} @* setPjsDelete.DibuatOleh.Visible (end) *@
@if (setPjsDelete.TanggalDibuat.Visible) { // setPjsDelete.TanggalDibuat.Visible (begin)
        <th class="@Html.Raw(setPjsDelete.TanggalDibuat.HeaderCellClass)"><span id="elh_SetPjs_TanggalDibuat" class="SetPjs_TanggalDibuat">@Html.Raw(setPjsDelete.TanggalDibuat.Caption)</span></th>
} @* setPjsDelete.TanggalDibuat.Visible (end) *@
@if (setPjsDelete.DiperbaharuiOleh.Visible) { // setPjsDelete.DiperbaharuiOleh.Visible (begin)
        <th class="@Html.Raw(setPjsDelete.DiperbaharuiOleh.HeaderCellClass)"><span id="elh_SetPjs_DiperbaharuiOleh" class="SetPjs_DiperbaharuiOleh">@Html.Raw(setPjsDelete.DiperbaharuiOleh.Caption)</span></th>
} @* setPjsDelete.DiperbaharuiOleh.Visible (end) *@
@if (setPjsDelete.DiperbaharuiTanggal.Visible) { // setPjsDelete.DiperbaharuiTanggal.Visible (begin)
        <th class="@Html.Raw(setPjsDelete.DiperbaharuiTanggal.HeaderCellClass)"><span id="elh_SetPjs_DiperbaharuiTanggal" class="SetPjs_DiperbaharuiTanggal">@Html.Raw(setPjsDelete.DiperbaharuiTanggal.Caption)</span></th>
} @* setPjsDelete.DiperbaharuiTanggal.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ setPjsDelete.RecordCount = 0; }
@while (setPjsDelete.Recordset != null && await setPjsDelete.Recordset.ReadAsync()) { // DN
    setPjsDelete.RecordCount++;
    setPjsDelete.RowCount++;

    // Set row properties
    setPjsDelete.ResetAttributes();
    setPjsDelete.RowType = RowType.View; // View

    // Get the field contents
    await setPjsDelete.LoadRowValues(setPjsDelete.Recordset);

    // Render row
    await setPjsDelete.RenderRow();
    <tr @Html.Raw(setPjsDelete.RowAttributes)>
@if (setPjsDelete.RedirectLink.Visible) { // setPjsDelete.RedirectLink.Visible (begin)
        <td @Html.Raw(setPjsDelete.RedirectLink.CellAttributes)>
<span id="">
<span @Html.Raw(setPjsDelete.RedirectLink.ViewAttributes)>
@Html.Raw(setPjsDelete.RedirectLink.GetViewValue())</span>
</span></td>
} @* setPjsDelete.RedirectLink.Visible (end) *@
@if (setPjsDelete.Nama.Visible) { // setPjsDelete.Nama.Visible (begin)
        <td @Html.Raw(setPjsDelete.Nama.CellAttributes)>
<span id="">
<span @Html.Raw(setPjsDelete.Nama.ViewAttributes)>
@Html.Raw(setPjsDelete.Nama.GetViewValue())</span>
</span></td>
} @* setPjsDelete.Nama.Visible (end) *@
@if (setPjsDelete.OrganizationLevel.Visible) { // setPjsDelete.OrganizationLevel.Visible (begin)
        <td @Html.Raw(setPjsDelete.OrganizationLevel.CellAttributes)>
<span id="">
<span @Html.Raw(setPjsDelete.OrganizationLevel.ViewAttributes)>
@Html.Raw(setPjsDelete.OrganizationLevel.GetViewValue())</span>
</span></td>
} @* setPjsDelete.OrganizationLevel.Visible (end) *@
@if (setPjsDelete.PosisiAwal.Visible) { // setPjsDelete.PosisiAwal.Visible (begin)
        <td @Html.Raw(setPjsDelete.PosisiAwal.CellAttributes)>
<span id="">
<span @Html.Raw(setPjsDelete.PosisiAwal.ViewAttributes)>
@Html.Raw(setPjsDelete.PosisiAwal.GetViewValue())</span>
</span></td>
} @* setPjsDelete.PosisiAwal.Visible (end) *@
@if (setPjsDelete.PosisiPJS.Visible) { // setPjsDelete.PosisiPJS.Visible (begin)
        <td @Html.Raw(setPjsDelete.PosisiPJS.CellAttributes)>
<span id="">
<span @Html.Raw(setPjsDelete.PosisiPJS.ViewAttributes)>
@Html.Raw(setPjsDelete.PosisiPJS.GetViewValue())</span>
</span></td>
} @* setPjsDelete.PosisiPJS.Visible (end) *@
@if (setPjsDelete.TanggalMulai.Visible) { // setPjsDelete.TanggalMulai.Visible (begin)
        <td @Html.Raw(setPjsDelete.TanggalMulai.CellAttributes)>
<span id="">
<span @Html.Raw(setPjsDelete.TanggalMulai.ViewAttributes)>
@Html.Raw(setPjsDelete.TanggalMulai.GetViewValue())</span>
</span></td>
} @* setPjsDelete.TanggalMulai.Visible (end) *@
@if (setPjsDelete.TanggalSelesai.Visible) { // setPjsDelete.TanggalSelesai.Visible (begin)
        <td @Html.Raw(setPjsDelete.TanggalSelesai.CellAttributes)>
<span id="">
<span @Html.Raw(setPjsDelete.TanggalSelesai.ViewAttributes)>
@Html.Raw(setPjsDelete.TanggalSelesai.GetViewValue())</span>
</span></td>
} @* setPjsDelete.TanggalSelesai.Visible (end) *@
@if (setPjsDelete.Status.Visible) { // setPjsDelete.Status.Visible (begin)
        <td @Html.Raw(setPjsDelete.Status.CellAttributes)>
<span id="">
<span @Html.Raw(setPjsDelete.Status.ViewAttributes)>
@Html.Raw(setPjsDelete.Status.GetViewValue())</span>
</span></td>
} @* setPjsDelete.Status.Visible (end) *@
@if (setPjsDelete.DownloadSuratTugas.Visible) { // setPjsDelete.DownloadSuratTugas.Visible (begin)
        <td @Html.Raw(setPjsDelete.DownloadSuratTugas.CellAttributes)>
<span id="">
<span @Html.Raw(setPjsDelete.DownloadSuratTugas.ViewAttributes)>
@Html.Raw(setPjsDelete.DownloadSuratTugas.GetViewValue())</span>
</span></td>
} @* setPjsDelete.DownloadSuratTugas.Visible (end) *@
@if (setPjsDelete.Remaks.Visible) { // setPjsDelete.Remaks.Visible (begin)
        <td @Html.Raw(setPjsDelete.Remaks.CellAttributes)>
<span id="">
<span @Html.Raw(setPjsDelete.Remaks.ViewAttributes)>
@Html.Raw(setPjsDelete.Remaks.GetViewValue())</span>
</span></td>
} @* setPjsDelete.Remaks.Visible (end) *@
@if (setPjsDelete.DibuatOleh.Visible) { // setPjsDelete.DibuatOleh.Visible (begin)
        <td @Html.Raw(setPjsDelete.DibuatOleh.CellAttributes)>
<span id="">
<span @Html.Raw(setPjsDelete.DibuatOleh.ViewAttributes)>
@Html.Raw(setPjsDelete.DibuatOleh.GetViewValue())</span>
</span></td>
} @* setPjsDelete.DibuatOleh.Visible (end) *@
@if (setPjsDelete.TanggalDibuat.Visible) { // setPjsDelete.TanggalDibuat.Visible (begin)
        <td @Html.Raw(setPjsDelete.TanggalDibuat.CellAttributes)>
<span id="">
<span @Html.Raw(setPjsDelete.TanggalDibuat.ViewAttributes)>
@Html.Raw(setPjsDelete.TanggalDibuat.GetViewValue())</span>
</span></td>
} @* setPjsDelete.TanggalDibuat.Visible (end) *@
@if (setPjsDelete.DiperbaharuiOleh.Visible) { // setPjsDelete.DiperbaharuiOleh.Visible (begin)
        <td @Html.Raw(setPjsDelete.DiperbaharuiOleh.CellAttributes)>
<span id="">
<span @Html.Raw(setPjsDelete.DiperbaharuiOleh.ViewAttributes)>
@Html.Raw(setPjsDelete.DiperbaharuiOleh.GetViewValue())</span>
</span></td>
} @* setPjsDelete.DiperbaharuiOleh.Visible (end) *@
@if (setPjsDelete.DiperbaharuiTanggal.Visible) { // setPjsDelete.DiperbaharuiTanggal.Visible (begin)
        <td @Html.Raw(setPjsDelete.DiperbaharuiTanggal.CellAttributes)>
<span id="">
<span @Html.Raw(setPjsDelete.DiperbaharuiTanggal.ViewAttributes)>
@Html.Raw(setPjsDelete.DiperbaharuiTanggal.GetViewValue())</span>
</span></td>
} @* setPjsDelete.DiperbaharuiTanggal.Visible (end) *@
    </tr>
}
@{ setPjsDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(setPjsDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@setPjsDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
