@{
    // View
    View = this;

    // Check action result
    if (setUserModView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = setUserModView.UseLayout ? "_Layout" : "";
}
@if (!setUserModView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @setUserModView.ExportOptions.RenderBody()
    @setUserModView.OtherOptions.RenderBody()
</div>
}
@setUserModView.ShowPageHeader()
@setUserModView.ShowMessages()
<main class="view">
<form name="fSetUserMODview" id="fSetUserMODview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!setUserModView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(setUserModView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SetUserMOD: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fSetUserMODview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSetUserMODview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(setUserModView.IsModal)">
<table class="@(setUserModView.TableClass)">
@if (setUserModView.Tanggal.Visible) { // setUserModView.Tanggal.Visible (begin)
    <tr id="r_Tanggal" @Html.Raw(setUserModView.Tanggal.RowAttributes)>
        <td class="@(setUserModView.TableLeftColumnClass)"><span id="elh_SetUserMOD_Tanggal">@Html.Raw(setUserModView.Tanggal.Caption)</span></td>
        <td data-name="Tanggal" @Html.Raw(setUserModView.Tanggal.CellAttributes)>
<span id="el_SetUserMOD_Tanggal">
<span @Html.Raw(setUserModView.Tanggal.ViewAttributes)>
@Html.Raw(setUserModView.Tanggal.GetViewValue())</span>
</span></td>
    </tr>
} @* setUserModView.Tanggal.Visible (end) *@
@if (setUserModView.LookupPlant.Visible) { // setUserModView.LookupPlant.Visible (begin)
    <tr id="r_LookupPlant" @Html.Raw(setUserModView.LookupPlant.RowAttributes)>
        <td class="@(setUserModView.TableLeftColumnClass)"><span id="elh_SetUserMOD_LookupPlant">@Html.Raw(setUserModView.LookupPlant.Caption)</span></td>
        <td data-name="LookupPlant" @Html.Raw(setUserModView.LookupPlant.CellAttributes)>
<span id="el_SetUserMOD_LookupPlant">
<span @Html.Raw(setUserModView.LookupPlant.ViewAttributes)>
@Html.Raw(setUserModView.LookupPlant.GetViewValue())</span>
</span></td>
    </tr>
} @* setUserModView.LookupPlant.Visible (end) *@
@if (setUserModView.Plant.Visible) { // setUserModView.Plant.Visible (begin)
    <tr id="r_Plant" @Html.Raw(setUserModView.Plant.RowAttributes)>
        <td class="@(setUserModView.TableLeftColumnClass)"><span id="elh_SetUserMOD_Plant">@Html.Raw(setUserModView.Plant.Caption)</span></td>
        <td data-name="Plant" @Html.Raw(setUserModView.Plant.CellAttributes)>
<span id="el_SetUserMOD_Plant">
<span @Html.Raw(setUserModView.Plant.ViewAttributes)>
@Html.Raw(setUserModView.Plant.GetViewValue())</span>
</span></td>
    </tr>
} @* setUserModView.Plant.Visible (end) *@
@if (setUserModView.UserMOD.Visible) { // setUserModView.UserMOD.Visible (begin)
    <tr id="r_UserMOD" @Html.Raw(setUserModView.UserMOD.RowAttributes)>
        <td class="@(setUserModView.TableLeftColumnClass)"><span id="elh_SetUserMOD_UserMOD">@Html.Raw(setUserModView.UserMOD.Caption)</span></td>
        <td data-name="UserMOD" @Html.Raw(setUserModView.UserMOD.CellAttributes)>
<span id="el_SetUserMOD_UserMOD">
<span @Html.Raw(setUserModView.UserMOD.ViewAttributes)>
@Html.Raw(setUserModView.UserMOD.GetViewValue())</span>
</span></td>
    </tr>
} @* setUserModView.UserMOD.Visible (end) *@
@if (setUserModView.userInput.Visible) { // setUserModView.userInput.Visible (begin)
    <tr id="r_userInput" @Html.Raw(setUserModView.userInput.RowAttributes)>
        <td class="@(setUserModView.TableLeftColumnClass)"><span id="elh_SetUserMOD_userInput">@Html.Raw(setUserModView.userInput.Caption)</span></td>
        <td data-name="userInput" @Html.Raw(setUserModView.userInput.CellAttributes)>
<span id="el_SetUserMOD_userInput">
<span @Html.Raw(setUserModView.userInput.ViewAttributes)>
@Html.Raw(setUserModView.userInput.GetViewValue())</span>
</span></td>
    </tr>
} @* setUserModView.userInput.Visible (end) *@
@if (setUserModView.etlDate.Visible) { // setUserModView.etlDate.Visible (begin)
    <tr id="r_etlDate" @Html.Raw(setUserModView.etlDate.RowAttributes)>
        <td class="@(setUserModView.TableLeftColumnClass)"><span id="elh_SetUserMOD_etlDate">@Html.Raw(setUserModView.etlDate.Caption)</span></td>
        <td data-name="etlDate" @Html.Raw(setUserModView.etlDate.CellAttributes)>
<span id="el_SetUserMOD_etlDate">
<span @Html.Raw(setUserModView.etlDate.ViewAttributes)>
@Html.Raw(setUserModView.etlDate.GetViewValue())</span>
</span></td>
    </tr>
} @* setUserModView.etlDate.Visible (end) *@
@if (setUserModView.LastUpdatedBy.Visible) { // setUserModView.LastUpdatedBy.Visible (begin)
    <tr id="r_LastUpdatedBy" @Html.Raw(setUserModView.LastUpdatedBy.RowAttributes)>
        <td class="@(setUserModView.TableLeftColumnClass)"><span id="elh_SetUserMOD_LastUpdatedBy">@Html.Raw(setUserModView.LastUpdatedBy.Caption)</span></td>
        <td data-name="LastUpdatedBy" @Html.Raw(setUserModView.LastUpdatedBy.CellAttributes)>
<span id="el_SetUserMOD_LastUpdatedBy">
<span @Html.Raw(setUserModView.LastUpdatedBy.ViewAttributes)>
@Html.Raw(setUserModView.LastUpdatedBy.GetViewValue())</span>
</span></td>
    </tr>
} @* setUserModView.LastUpdatedBy.Visible (end) *@
@if (setUserModView.lastUpdatedDate.Visible) { // setUserModView.lastUpdatedDate.Visible (begin)
    <tr id="r_lastUpdatedDate" @Html.Raw(setUserModView.lastUpdatedDate.RowAttributes)>
        <td class="@(setUserModView.TableLeftColumnClass)"><span id="elh_SetUserMOD_lastUpdatedDate">@Html.Raw(setUserModView.lastUpdatedDate.Caption)</span></td>
        <td data-name="lastUpdatedDate" @Html.Raw(setUserModView.lastUpdatedDate.CellAttributes)>
<span id="el_SetUserMOD_lastUpdatedDate">
<span @Html.Raw(setUserModView.lastUpdatedDate.ViewAttributes)>
@Html.Raw(setUserModView.lastUpdatedDate.GetViewValue())</span>
</span></td>
    </tr>
} @* setUserModView.lastUpdatedDate.Visible (end) *@
</table>
@{ setUserModView.CloseRecordset(); }
</form>
</main>
@setUserModView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!setUserModView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
