@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputBLsesuaiCqlrtwView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputBLsesuaiCqlrtwView.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputBLsesuaiCqlrtwView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @subAktivitasFormInputBLsesuaiCqlrtwView.ExportOptions.RenderBody()
    @subAktivitasFormInputBLsesuaiCqlrtwView.OtherOptions.RenderBody()
</div>
}
@subAktivitasFormInputBLsesuaiCqlrtwView.ShowPageHeader()
@subAktivitasFormInputBLsesuaiCqlrtwView.ShowMessages()
<main class="view">
<form name="fSubAktivitasFormInputBLsesuaiCQLRTWview" id="fSubAktivitasFormInputBLsesuaiCQLRTWview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!subAktivitasFormInputBLsesuaiCqlrtwView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputBLsesuaiCqlrtwView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputBLsesuaiCQLRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fSubAktivitasFormInputBLsesuaiCQLRTWview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputBLsesuaiCQLRTWview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputBLsesuaiCqlrtwView.IsModal)">
<table class="@(subAktivitasFormInputBLsesuaiCqlrtwView.TableClass)">
@if (subAktivitasFormInputBLsesuaiCqlrtwView.id.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwView.id.Visible (begin)
    <tr id="r_id" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.id.RowAttributes)>
        <td class="@(subAktivitasFormInputBLsesuaiCqlrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_id">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.id.Caption)</span></td>
        <td data-name="id" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.id.CellAttributes)>
<span id="el_SubAktivitasFormInputBLsesuaiCQLRTW_id">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.id.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLsesuaiCqlrtwView.id.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwView.idAktifitas.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwView.idAktifitas.Visible (begin)
    <tr id="r_idAktifitas" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.idAktifitas.RowAttributes)>
        <td class="@(subAktivitasFormInputBLsesuaiCqlrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_idAktifitas">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.idAktifitas.Caption)</span></td>
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputBLsesuaiCQLRTW_idAktifitas">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.idAktifitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLsesuaiCqlrtwView.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwView.KL_Obs.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwView.KL_Obs.Visible (begin)
    <tr id="r_KL_Obs" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.KL_Obs.RowAttributes)>
        <td class="@(subAktivitasFormInputBLsesuaiCqlrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_KL_Obs">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.KL_Obs.Caption)</span></td>
        <td data-name="KL_Obs" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.KL_Obs.CellAttributes)>
<span id="el_SubAktivitasFormInputBLsesuaiCQLRTW_KL_Obs">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.KL_Obs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.KL_Obs.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLsesuaiCqlrtwView.KL_Obs.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwView.KL_15.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwView.KL_15.Visible (begin)
    <tr id="r_KL_15" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.KL_15.RowAttributes)>
        <td class="@(subAktivitasFormInputBLsesuaiCqlrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_KL_15">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.KL_15.Caption)</span></td>
        <td data-name="KL_15" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.KL_15.CellAttributes)>
<span id="el_SubAktivitasFormInputBLsesuaiCQLRTW_KL_15">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.KL_15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.KL_15.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLsesuaiCqlrtwView.KL_15.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwView.Barrels.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwView.Barrels.Visible (begin)
    <tr id="r_Barrels" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.Barrels.RowAttributes)>
        <td class="@(subAktivitasFormInputBLsesuaiCqlrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_Barrels">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.Barrels.Caption)</span></td>
        <td data-name="Barrels" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.Barrels.CellAttributes)>
<span id="el_SubAktivitasFormInputBLsesuaiCQLRTW_Barrels">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.Barrels.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.Barrels.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLsesuaiCqlrtwView.Barrels.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwView.LT.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwView.LT.Visible (begin)
    <tr id="r_LT" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.LT.RowAttributes)>
        <td class="@(subAktivitasFormInputBLsesuaiCqlrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_LT">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.LT.Caption)</span></td>
        <td data-name="LT" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.LT.CellAttributes)>
<span id="el_SubAktivitasFormInputBLsesuaiCQLRTW_LT">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.LT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.LT.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLsesuaiCqlrtwView.LT.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwView.ML.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwView.ML.Visible (begin)
    <tr id="r_ML" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.ML.RowAttributes)>
        <td class="@(subAktivitasFormInputBLsesuaiCqlrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_ML">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.ML.Caption)</span></td>
        <td data-name="ML" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.ML.CellAttributes)>
<span id="el_SubAktivitasFormInputBLsesuaiCQLRTW_ML">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.ML.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.ML.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLsesuaiCqlrtwView.ML.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwView.userInput.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwView.userInput.Visible (begin)
    <tr id="r_userInput" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.userInput.RowAttributes)>
        <td class="@(subAktivitasFormInputBLsesuaiCqlrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_userInput">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.userInput.Caption)</span></td>
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputBLsesuaiCQLRTW_userInput">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.userInput.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLsesuaiCqlrtwView.userInput.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwView.etlDate.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwView.etlDate.Visible (begin)
    <tr id="r_etlDate" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.etlDate.RowAttributes)>
        <td class="@(subAktivitasFormInputBLsesuaiCqlrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_etlDate">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.etlDate.Caption)</span></td>
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputBLsesuaiCQLRTW_etlDate">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.etlDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLsesuaiCqlrtwView.etlDate.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwView.idProses.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwView.idProses.Visible (begin)
    <tr id="r_idProses" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.idProses.RowAttributes)>
        <td class="@(subAktivitasFormInputBLsesuaiCqlrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_idProses">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.idProses.Caption)</span></td>
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputBLsesuaiCQLRTW_idProses">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.idProses.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLsesuaiCqlrtwView.idProses.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwView.LastUpdatedBy.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwView.LastUpdatedBy.Visible (begin)
    <tr id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.LastUpdatedBy.RowAttributes)>
        <td class="@(subAktivitasFormInputBLsesuaiCqlrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_LastUpdatedBy">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.LastUpdatedBy.Caption)</span></td>
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputBLsesuaiCQLRTW_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.LastUpdatedBy.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLsesuaiCqlrtwView.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwView.lastUpdatedDate.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwView.lastUpdatedDate.Visible (begin)
    <tr id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.lastUpdatedDate.RowAttributes)>
        <td class="@(subAktivitasFormInputBLsesuaiCqlrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_lastUpdatedDate">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.lastUpdatedDate.Caption)</span></td>
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputBLsesuaiCQLRTW_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.lastUpdatedDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLsesuaiCqlrtwView.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwView.NoReferensi.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwView.NoReferensi.Visible (begin)
    <tr id="r_NoReferensi" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.NoReferensi.RowAttributes)>
        <td class="@(subAktivitasFormInputBLsesuaiCqlrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_NoReferensi">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.NoReferensi.Caption)</span></td>
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputBLsesuaiCQLRTW_NoReferensi">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.NoReferensi.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLsesuaiCqlrtwView.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwView.StatusAktivitas.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwView.StatusAktivitas.Visible (begin)
    <tr id="r_StatusAktivitas" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.StatusAktivitas.RowAttributes)>
        <td class="@(subAktivitasFormInputBLsesuaiCqlrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_StatusAktivitas">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.StatusAktivitas.Caption)</span></td>
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasFormInputBLsesuaiCQLRTW_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwView.StatusAktivitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLsesuaiCqlrtwView.StatusAktivitas.Visible (end) *@
</table>
@{ subAktivitasFormInputBLsesuaiCqlrtwView.CloseRecordset(); }
</form>
</main>
@subAktivitasFormInputBLsesuaiCqlrtwView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputBLsesuaiCqlrtwView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
