@{
    // View
    View = this;

    // Check action result
    if (subAktivitasLogbookPenerimaanPenyaluranLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasLogbookPenerimaanPenyaluranLpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasLogbookPenerimaanPenyaluranLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasLogbookPenerimaanPenyaluranLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasLogbookPenerimaanPenyaluranLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasLogbookPenerimaanPenyaluranLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasLogbookPenerimaanPenyaluranLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasLogbookPenerimaanPenyaluranLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasLogbookPenerimaanPenyaluranLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasLogbookPenerimaanPenyaluranLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasLogbookPenerimaanPenyaluranLpgList.TotalRecords > 0 && subAktivitasLogbookPenerimaanPenyaluranLpgList.ExportOptions.Visible) {
    subAktivitasLogbookPenerimaanPenyaluranLpgList.ExportOptions.Render("body");
}
@if (subAktivitasLogbookPenerimaanPenyaluranLpgList.ImportOptions.Visible) {
    subAktivitasLogbookPenerimaanPenyaluranLpgList.ImportOptions.Render("body");
}
@if (subAktivitasLogbookPenerimaanPenyaluranLpgList.SearchOptions.Visible) {
    subAktivitasLogbookPenerimaanPenyaluranLpgList.SearchOptions.Render("body");
}
@if (subAktivitasLogbookPenerimaanPenyaluranLpgList.FilterOptions.Visible) {
    subAktivitasLogbookPenerimaanPenyaluranLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasLogbookPenerimaanPenyaluranLpgList.IsModal) {
<form name="fSubAktivitasLogbookPenerimaanPenyaluranLPGsrch" id="fSubAktivitasLogbookPenerimaanPenyaluranLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasLogbookPenerimaanPenyaluranLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasLogbookPenerimaanPenyaluranLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasLogbookPenerimaanPenyaluranLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasLogbookPenerimaanPenyaluranLPG: currentTable } });
var currentForm;
var fSubAktivitasLogbookPenerimaanPenyaluranLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasLogbookPenerimaanPenyaluranLPGsrch")
        .setPageId("list")
@if (subAktivitasLogbookPenerimaanPenyaluranLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasLogbookPenerimaanPenyaluranLpgList.IsExport() && Empty(subAktivitasLogbookPenerimaanPenyaluranLpgList.CurrentAction) && subAktivitasLogbookPenerimaanPenyaluranLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanPenyaluranLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasLogbookPenerimaanPenyaluranLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasLogbookPenerimaanPenyaluranLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasLogbookPenerimaanPenyaluranLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasLogbookPenerimaanPenyaluranLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasLogbookPenerimaanPenyaluranLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasLogbookPenerimaanPenyaluranLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasLogbookPenerimaanPenyaluranLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasLogbookPenerimaanPenyaluranLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasLogbookPenerimaanPenyaluranLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasLogbookPenerimaanPenyaluranLpgList.ShowPageHeader()
@subAktivitasLogbookPenerimaanPenyaluranLpgList.ShowMessages()
<main class="list @(subAktivitasLogbookPenerimaanPenyaluranLpgList.TotalRecords == 0 && !subAktivitasLogbookPenerimaanPenyaluranLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasLogbookPenerimaanPenyaluranLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasLogbookPenerimaanPenyaluranLpgList.TotalRecords > 0 || !Empty(subAktivitasLogbookPenerimaanPenyaluranLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasLogbookPenerimaanPenyaluranLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasLogbookPenerimaanPenyaluranLpgList.TableGridClass)">
<form name="@(subAktivitasLogbookPenerimaanPenyaluranLpgList.FormName)" id="@(subAktivitasLogbookPenerimaanPenyaluranLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasLogbookPenerimaanPenyaluranLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasLogbookPenerimaanPenyaluranLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasLogbookPenerimaanPenyaluranLPG" class="card-body ew-grid-middle-panel @(subAktivitasLogbookPenerimaanPenyaluranLpgList.TableContainerClass)" style="@(subAktivitasLogbookPenerimaanPenyaluranLpgList.TableContainerStyle)">
@if (subAktivitasLogbookPenerimaanPenyaluranLpgList.TotalRecords > 0 || subAktivitasLogbookPenerimaanPenyaluranLpgList.IsGridEdit || subAktivitasLogbookPenerimaanPenyaluranLpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasLogbookPenerimaanPenyaluranLPGlist" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasLogbookPenerimaanPenyaluranLpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasLogbookPenerimaanPenyaluranLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasLogbookPenerimaanPenyaluranLpgList.ListOptions.RenderHeader("left")
@if (subAktivitasLogbookPenerimaanPenyaluranLpgList.id.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluranLPG_id" class="SubAktivitasLogbookPenerimaanPenyaluranLPG_id">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranLpgList.id))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranLpgList.id.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranLpgList.idProses.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluranLPG_idProses" class="SubAktivitasLogbookPenerimaanPenyaluranLPG_idProses">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranLpgList.idProses))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranLpgList.idProses.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranLpgList.idAktifitas.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluranLPG_idAktifitas" class="SubAktivitasLogbookPenerimaanPenyaluranLPG_idAktifitas">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranLpgList.idAktifitas))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranLpgList.idAktifitas.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranLpgList.NoReferensi.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluranLPG_NoReferensi" class="SubAktivitasLogbookPenerimaanPenyaluranLPG_NoReferensi">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranLpgList.NoReferensi))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranLpgList.NoReferensi.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranLpgList.NomorTangki.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgList.NomorTangki.Visible (begin)
        <th data-name="NomorTangki" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgList.NomorTangki.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluranLPG_NomorTangki" class="SubAktivitasLogbookPenerimaanPenyaluranLPG_NomorTangki">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranLpgList.NomorTangki))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranLpgList.NomorTangki.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranLpgList.Produk.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluranLPG_Produk" class="SubAktivitasLogbookPenerimaanPenyaluranLPG_Produk">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranLpgList.Produk))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranLpgList.Produk.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranLpgList.SPA.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgList.SPA.Visible (begin)
        <th data-name="SPA" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgList.SPA.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluranLPG_SPA" class="SubAktivitasLogbookPenerimaanPenyaluranLPG_SPA">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranLpgList.SPA))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranLpgList.SPA.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranLpgList.BayNumber.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgList.BayNumber.Visible (begin)
        <th data-name="BayNumber" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgList.BayNumber.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluranLPG_BayNumber" class="SubAktivitasLogbookPenerimaanPenyaluranLPG_BayNumber">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranLpgList.BayNumber))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranLpgList.BayNumber.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranLpgList.Quantity.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgList.Quantity.Visible (begin)
        <th data-name="Quantity" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgList.Quantity.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluranLPG_Quantity" class="SubAktivitasLogbookPenerimaanPenyaluranLPG_Quantity">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranLpgList.Quantity))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranLpgList.Quantity.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranLpgList.MeterAwal.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgList.MeterAwal.Visible (begin)
        <th data-name="MeterAwal" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgList.MeterAwal.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluranLPG_MeterAwal" class="SubAktivitasLogbookPenerimaanPenyaluranLPG_MeterAwal">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranLpgList.MeterAwal))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranLpgList.MeterAwal.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranLpgList.MeterAkhir.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgList.MeterAkhir.Visible (begin)
        <th data-name="MeterAkhir" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgList.MeterAkhir.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluranLPG_MeterAkhir" class="SubAktivitasLogbookPenerimaanPenyaluranLPG_MeterAkhir">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranLpgList.MeterAkhir))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranLpgList.MeterAkhir.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranLpgList.PresentaseLevelRotoGauge.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgList.PresentaseLevelRotoGauge.Visible (begin)
        <th data-name="PresentaseLevelRotoGauge" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgList.PresentaseLevelRotoGauge.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluranLPG_PresentaseLevelRotoGauge" class="SubAktivitasLogbookPenerimaanPenyaluranLPG_PresentaseLevelRotoGauge">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranLpgList.PresentaseLevelRotoGauge))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranLpgList.PresentaseLevelRotoGauge.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranLpgList.userInput.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluranLPG_userInput" class="SubAktivitasLogbookPenerimaanPenyaluranLPG_userInput">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranLpgList.userInput))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranLpgList.userInput.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranLpgList.etlDate.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluranLPG_etlDate" class="SubAktivitasLogbookPenerimaanPenyaluranLPG_etlDate">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranLpgList.etlDate))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranLpgList.etlDate.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranLpgList.LastUpdatedBy.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluranLPG_LastUpdatedBy" class="SubAktivitasLogbookPenerimaanPenyaluranLPG_LastUpdatedBy">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranLpgList.LastUpdatedBy))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranLpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranLpgList.lastUpdatedDate.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluranLPG_lastUpdatedDate" class="SubAktivitasLogbookPenerimaanPenyaluranLPG_lastUpdatedDate">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranLpgList.lastUpdatedDate))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranLpgList.lastUpdatedDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasLogbookPenerimaanPenyaluranLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasLogbookPenerimaanPenyaluranLpgList.PageNumber)">
@{
    await subAktivitasLogbookPenerimaanPenyaluranLpgList.SetupGrid();
    bool eof = subAktivitasLogbookPenerimaanPenyaluranLpgList.Recordset == null; // DN
}
@while (subAktivitasLogbookPenerimaanPenyaluranLpgList.RecordCount < subAktivitasLogbookPenerimaanPenyaluranLpgList.StopRecord || SameString(subAktivitasLogbookPenerimaanPenyaluranLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasLogbookPenerimaanPenyaluranLpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasLogbookPenerimaanPenyaluranLpgList.IsGridAdd || subAktivitasLogbookPenerimaanPenyaluranLpgList.CurrentMode == "copy") &&
        (!((subAktivitasLogbookPenerimaanPenyaluranLpgList.IsCopy || subAktivitasLogbookPenerimaanPenyaluranLpgList.IsAdd) && subAktivitasLogbookPenerimaanPenyaluranLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasLogbookPenerimaanPenyaluranLpgList.Recordset.ReadAsync();
    subAktivitasLogbookPenerimaanPenyaluranLpgList.RecordCount++;
    if (subAktivitasLogbookPenerimaanPenyaluranLpgList.RecordCount >= subAktivitasLogbookPenerimaanPenyaluranLpgList.StartRecord) {
        await subAktivitasLogbookPenerimaanPenyaluranLpgList.SetupRow();
    <tr @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasLogbookPenerimaanPenyaluranLpgList.ListOptions.RenderBody("left", subAktivitasLogbookPenerimaanPenyaluranLpgList.RowCount)
    @if (subAktivitasLogbookPenerimaanPenyaluranLpgList.id.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranLpgList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluranLPG_id" class="el_SubAktivitasLogbookPenerimaanPenyaluranLPG_id">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranLpgList.id.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanPenyaluranLpgList.idProses.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranLpgList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluranLPG_idProses" class="el_SubAktivitasLogbookPenerimaanPenyaluranLPG_idProses">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranLpgList.idProses.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanPenyaluranLpgList.idAktifitas.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranLpgList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluranLPG_idAktifitas" class="el_SubAktivitasLogbookPenerimaanPenyaluranLPG_idAktifitas">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranLpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanPenyaluranLpgList.NoReferensi.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranLpgList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluranLPG_NoReferensi" class="el_SubAktivitasLogbookPenerimaanPenyaluranLPG_NoReferensi">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranLpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanPenyaluranLpgList.NomorTangki.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgList.NomorTangki.Visible (begin)
        <td data-name="NomorTangki" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.NomorTangki.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranLpgList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluranLPG_NomorTangki" class="el_SubAktivitasLogbookPenerimaanPenyaluranLPG_NomorTangki">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.NomorTangki.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.NomorTangki.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranLpgList.NomorTangki.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanPenyaluranLpgList.Produk.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.Produk.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranLpgList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluranLPG_Produk" class="el_SubAktivitasLogbookPenerimaanPenyaluranLPG_Produk">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranLpgList.Produk.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanPenyaluranLpgList.SPA.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgList.SPA.Visible (begin)
        <td data-name="SPA" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.SPA.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranLpgList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluranLPG_SPA" class="el_SubAktivitasLogbookPenerimaanPenyaluranLPG_SPA">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.SPA.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.SPA.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranLpgList.SPA.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanPenyaluranLpgList.BayNumber.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgList.BayNumber.Visible (begin)
        <td data-name="BayNumber" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.BayNumber.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranLpgList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluranLPG_BayNumber" class="el_SubAktivitasLogbookPenerimaanPenyaluranLPG_BayNumber">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.BayNumber.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.BayNumber.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranLpgList.BayNumber.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanPenyaluranLpgList.Quantity.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgList.Quantity.Visible (begin)
        <td data-name="Quantity" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.Quantity.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranLpgList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluranLPG_Quantity" class="el_SubAktivitasLogbookPenerimaanPenyaluranLPG_Quantity">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.Quantity.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.Quantity.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranLpgList.Quantity.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanPenyaluranLpgList.MeterAwal.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgList.MeterAwal.Visible (begin)
        <td data-name="MeterAwal" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.MeterAwal.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranLpgList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluranLPG_MeterAwal" class="el_SubAktivitasLogbookPenerimaanPenyaluranLPG_MeterAwal">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.MeterAwal.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.MeterAwal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranLpgList.MeterAwal.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanPenyaluranLpgList.MeterAkhir.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgList.MeterAkhir.Visible (begin)
        <td data-name="MeterAkhir" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.MeterAkhir.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranLpgList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluranLPG_MeterAkhir" class="el_SubAktivitasLogbookPenerimaanPenyaluranLPG_MeterAkhir">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.MeterAkhir.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.MeterAkhir.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranLpgList.MeterAkhir.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanPenyaluranLpgList.PresentaseLevelRotoGauge.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgList.PresentaseLevelRotoGauge.Visible (begin)
        <td data-name="PresentaseLevelRotoGauge" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.PresentaseLevelRotoGauge.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranLpgList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluranLPG_PresentaseLevelRotoGauge" class="el_SubAktivitasLogbookPenerimaanPenyaluranLPG_PresentaseLevelRotoGauge">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.PresentaseLevelRotoGauge.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.PresentaseLevelRotoGauge.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranLpgList.PresentaseLevelRotoGauge.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanPenyaluranLpgList.userInput.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranLpgList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluranLPG_userInput" class="el_SubAktivitasLogbookPenerimaanPenyaluranLPG_userInput">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranLpgList.userInput.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanPenyaluranLpgList.etlDate.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranLpgList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluranLPG_etlDate" class="el_SubAktivitasLogbookPenerimaanPenyaluranLPG_etlDate">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranLpgList.etlDate.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanPenyaluranLpgList.LastUpdatedBy.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranLpgList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluranLPG_LastUpdatedBy" class="el_SubAktivitasLogbookPenerimaanPenyaluranLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranLpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanPenyaluranLpgList.lastUpdatedDate.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranLpgList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluranLPG_lastUpdatedDate" class="el_SubAktivitasLogbookPenerimaanPenyaluranLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranLpgList.lastUpdatedDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasLogbookPenerimaanPenyaluranLpgList.ListOptions.RenderBody("right", subAktivitasLogbookPenerimaanPenyaluranLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasLogbookPenerimaanPenyaluranLpgList.RowIndex, "$rowindex$"))
        subAktivitasLogbookPenerimaanPenyaluranLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasLogbookPenerimaanPenyaluranLpgList.IsCopy || subAktivitasLogbookPenerimaanPenyaluranLpgList.IsAdd) && subAktivitasLogbookPenerimaanPenyaluranLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasLogbookPenerimaanPenyaluranLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasLogbookPenerimaanPenyaluranLpgList.CurrentAction) && !subAktivitasLogbookPenerimaanPenyaluranLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasLogbookPenerimaanPenyaluranLpgList.CloseRecordset(); }
@if (!subAktivitasLogbookPenerimaanPenyaluranLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasLogbookPenerimaanPenyaluranLpgList.IsGridAdd && !(subAktivitasLogbookPenerimaanPenyaluranLpgList.IsGridEdit && subAktivitasLogbookPenerimaanPenyaluranLpgList.ModalGridEdit) && !subAktivitasLogbookPenerimaanPenyaluranLpgList.IsMultiEdit) {
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasLogbookPenerimaanPenyaluranLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasLogbookPenerimaanPenyaluranLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasLogbookPenerimaanPenyaluranLpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasLogbookPenerimaanPenyaluranLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasLogbookPenerimaanPenyaluranLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasLogbookPenerimaanPenyaluranLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
