@{
    // View
    View = this;

    // Check action result
    if (subAktivitasDataStartPenyaluranList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasDataStartPenyaluranList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasDataStartPenyaluranList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataStartPenyaluranList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataStartPenyaluran: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasDataStartPenyaluranList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasDataStartPenyaluranList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasDataStartPenyaluranList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasDataStartPenyaluranList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasDataStartPenyaluranList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasDataStartPenyaluranList.TotalRecords > 0 && subAktivitasDataStartPenyaluranList.ExportOptions.Visible) {
    subAktivitasDataStartPenyaluranList.ExportOptions.Render("body");
}
@if (subAktivitasDataStartPenyaluranList.ImportOptions.Visible) {
    subAktivitasDataStartPenyaluranList.ImportOptions.Render("body");
}
@if (subAktivitasDataStartPenyaluranList.SearchOptions.Visible) {
    subAktivitasDataStartPenyaluranList.SearchOptions.Render("body");
}
@if (subAktivitasDataStartPenyaluranList.FilterOptions.Visible) {
    subAktivitasDataStartPenyaluranList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasDataStartPenyaluranList.IsModal) {
<form name="fSubAktivitasDataStartPenyaluransrch" id="fSubAktivitasDataStartPenyaluransrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasDataStartPenyaluransrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasDataStartPenyaluranList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataStartPenyaluranList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataStartPenyaluran: currentTable } });
var currentForm;
var fSubAktivitasDataStartPenyaluransrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasDataStartPenyaluransrch")
        .setPageId("list")
@if (subAktivitasDataStartPenyaluranList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasDataStartPenyaluranList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasDataStartPenyaluranList.IsExport() && Empty(subAktivitasDataStartPenyaluranList.CurrentAction) && subAktivitasDataStartPenyaluranList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasDataStartPenyaluranList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasDataStartPenyaluranList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasDataStartPenyaluranList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasDataStartPenyaluranList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasDataStartPenyaluransrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStartPenyaluranList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasDataStartPenyaluransrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStartPenyaluranList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasDataStartPenyaluransrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStartPenyaluranList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasDataStartPenyaluransrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasDataStartPenyaluranList.ShowPageHeader()
@subAktivitasDataStartPenyaluranList.ShowMessages()
<main class="list @(subAktivitasDataStartPenyaluranList.TotalRecords == 0 && !subAktivitasDataStartPenyaluranList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasDataStartPenyaluranList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasDataStartPenyaluranList.TotalRecords > 0 || !Empty(subAktivitasDataStartPenyaluranList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasDataStartPenyaluranList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasDataStartPenyaluranList.TableGridClass)">
<form name="@(subAktivitasDataStartPenyaluranList.FormName)" id="@(subAktivitasDataStartPenyaluranList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasDataStartPenyaluranList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasDataStartPenyaluranList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasDataStartPenyaluran" class="card-body ew-grid-middle-panel @(subAktivitasDataStartPenyaluranList.TableContainerClass)" style="@(subAktivitasDataStartPenyaluranList.TableContainerStyle)">
@if (subAktivitasDataStartPenyaluranList.TotalRecords > 0 || subAktivitasDataStartPenyaluranList.IsGridEdit || subAktivitasDataStartPenyaluranList.IsMultiEdit) {
<table id="tbl_SubAktivitasDataStartPenyaluranlist" class="@(subAktivitasDataStartPenyaluranList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasDataStartPenyaluranList.RowType = RowType.Header;

    // Render list options
    await subAktivitasDataStartPenyaluranList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasDataStartPenyaluranList.ListOptions.RenderHeader("left")
@if (subAktivitasDataStartPenyaluranList.NoReferensi.Visible) { // subAktivitasDataStartPenyaluranList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasDataStartPenyaluranList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluran_NoReferensi" class="SubAktivitasDataStartPenyaluran_NoReferensi">@Html.Raw(subAktivitasDataStartPenyaluranList.RenderFieldHeader(subAktivitasDataStartPenyaluranList.NoReferensi))</div></th>
} @* subAktivitasDataStartPenyaluranList.NoReferensi.Visible (end) *@
@if (subAktivitasDataStartPenyaluranList.idProses.Visible) { // subAktivitasDataStartPenyaluranList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasDataStartPenyaluranList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluran_idProses" class="SubAktivitasDataStartPenyaluran_idProses">@Html.Raw(subAktivitasDataStartPenyaluranList.RenderFieldHeader(subAktivitasDataStartPenyaluranList.idProses))</div></th>
} @* subAktivitasDataStartPenyaluranList.idProses.Visible (end) *@
@if (subAktivitasDataStartPenyaluranList.idAktifitas.Visible) { // subAktivitasDataStartPenyaluranList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasDataStartPenyaluranList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluran_idAktifitas" class="SubAktivitasDataStartPenyaluran_idAktifitas">@Html.Raw(subAktivitasDataStartPenyaluranList.RenderFieldHeader(subAktivitasDataStartPenyaluranList.idAktifitas))</div></th>
} @* subAktivitasDataStartPenyaluranList.idAktifitas.Visible (end) *@
@if (subAktivitasDataStartPenyaluranList.StatusAktivitas.Visible) { // subAktivitasDataStartPenyaluranList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasDataStartPenyaluranList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluran_StatusAktivitas" class="SubAktivitasDataStartPenyaluran_StatusAktivitas">@Html.Raw(subAktivitasDataStartPenyaluranList.RenderFieldHeader(subAktivitasDataStartPenyaluranList.StatusAktivitas))</div></th>
} @* subAktivitasDataStartPenyaluranList.StatusAktivitas.Visible (end) *@
@if (subAktivitasDataStartPenyaluranList.LastUpdatedBy.Visible) { // subAktivitasDataStartPenyaluranList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasDataStartPenyaluranList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluran_LastUpdatedBy" class="SubAktivitasDataStartPenyaluran_LastUpdatedBy">@Html.Raw(subAktivitasDataStartPenyaluranList.RenderFieldHeader(subAktivitasDataStartPenyaluranList.LastUpdatedBy))</div></th>
} @* subAktivitasDataStartPenyaluranList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasDataStartPenyaluranList.lastUpdatedDate.Visible) { // subAktivitasDataStartPenyaluranList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasDataStartPenyaluranList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluran_lastUpdatedDate" class="SubAktivitasDataStartPenyaluran_lastUpdatedDate">@Html.Raw(subAktivitasDataStartPenyaluranList.RenderFieldHeader(subAktivitasDataStartPenyaluranList.lastUpdatedDate))</div></th>
} @* subAktivitasDataStartPenyaluranList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasDataStartPenyaluranList.Tanggal.Visible) { // subAktivitasDataStartPenyaluranList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasDataStartPenyaluranList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluran_Tanggal" class="SubAktivitasDataStartPenyaluran_Tanggal">@Html.Raw(subAktivitasDataStartPenyaluranList.RenderFieldHeader(subAktivitasDataStartPenyaluranList.Tanggal))</div></th>
} @* subAktivitasDataStartPenyaluranList.Tanggal.Visible (end) *@
@if (subAktivitasDataStartPenyaluranList.userInput.Visible) { // subAktivitasDataStartPenyaluranList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasDataStartPenyaluranList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluran_userInput" class="SubAktivitasDataStartPenyaluran_userInput">@Html.Raw(subAktivitasDataStartPenyaluranList.RenderFieldHeader(subAktivitasDataStartPenyaluranList.userInput))</div></th>
} @* subAktivitasDataStartPenyaluranList.userInput.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasDataStartPenyaluranList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasDataStartPenyaluranList.PageNumber)">
@{
    await subAktivitasDataStartPenyaluranList.SetupGrid();
    bool eof = subAktivitasDataStartPenyaluranList.Recordset == null; // DN
}
@while (subAktivitasDataStartPenyaluranList.RecordCount < subAktivitasDataStartPenyaluranList.StopRecord || SameString(subAktivitasDataStartPenyaluranList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasDataStartPenyaluranList.RowIndex, "$rowindex$") &&
        (!subAktivitasDataStartPenyaluranList.IsGridAdd || subAktivitasDataStartPenyaluranList.CurrentMode == "copy") &&
        (!((subAktivitasDataStartPenyaluranList.IsCopy || subAktivitasDataStartPenyaluranList.IsAdd) && subAktivitasDataStartPenyaluranList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasDataStartPenyaluranList.Recordset.ReadAsync();
    subAktivitasDataStartPenyaluranList.RecordCount++;
    if (subAktivitasDataStartPenyaluranList.RecordCount >= subAktivitasDataStartPenyaluranList.StartRecord) {
        await subAktivitasDataStartPenyaluranList.SetupRow();
    <tr @Html.Raw(subAktivitasDataStartPenyaluranList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasDataStartPenyaluranList.ListOptions.RenderBody("left", subAktivitasDataStartPenyaluranList.RowCount)
    @if (subAktivitasDataStartPenyaluranList.NoReferensi.Visible) { // subAktivitasDataStartPenyaluranList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasDataStartPenyaluranList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStartPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStartPenyaluranList.RowCount)_SubAktivitasDataStartPenyaluran_NoReferensi" class="el_SubAktivitasDataStartPenyaluran_NoReferensi">
<span @Html.Raw(subAktivitasDataStartPenyaluranList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranList.NoReferensi.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranList.idProses.Visible) { // subAktivitasDataStartPenyaluranList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasDataStartPenyaluranList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStartPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStartPenyaluranList.RowCount)_SubAktivitasDataStartPenyaluran_idProses" class="el_SubAktivitasDataStartPenyaluran_idProses">
<span @Html.Raw(subAktivitasDataStartPenyaluranList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranList.idProses.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranList.idAktifitas.Visible) { // subAktivitasDataStartPenyaluranList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasDataStartPenyaluranList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStartPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStartPenyaluranList.RowCount)_SubAktivitasDataStartPenyaluran_idAktifitas" class="el_SubAktivitasDataStartPenyaluran_idAktifitas">
<span @Html.Raw(subAktivitasDataStartPenyaluranList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranList.idAktifitas.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranList.StatusAktivitas.Visible) { // subAktivitasDataStartPenyaluranList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasDataStartPenyaluranList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStartPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStartPenyaluranList.RowCount)_SubAktivitasDataStartPenyaluran_StatusAktivitas" class="el_SubAktivitasDataStartPenyaluran_StatusAktivitas">
<span @Html.Raw(subAktivitasDataStartPenyaluranList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranList.LastUpdatedBy.Visible) { // subAktivitasDataStartPenyaluranList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasDataStartPenyaluranList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStartPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStartPenyaluranList.RowCount)_SubAktivitasDataStartPenyaluran_LastUpdatedBy" class="el_SubAktivitasDataStartPenyaluran_LastUpdatedBy">
<span @Html.Raw(subAktivitasDataStartPenyaluranList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranList.lastUpdatedDate.Visible) { // subAktivitasDataStartPenyaluranList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasDataStartPenyaluranList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStartPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStartPenyaluranList.RowCount)_SubAktivitasDataStartPenyaluran_lastUpdatedDate" class="el_SubAktivitasDataStartPenyaluran_lastUpdatedDate">
<span @Html.Raw(subAktivitasDataStartPenyaluranList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranList.Tanggal.Visible) { // subAktivitasDataStartPenyaluranList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasDataStartPenyaluranList.Tanggal.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStartPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStartPenyaluranList.RowCount)_SubAktivitasDataStartPenyaluran_Tanggal" class="el_SubAktivitasDataStartPenyaluran_Tanggal">
<span @Html.Raw(subAktivitasDataStartPenyaluranList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranList.Tanggal.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranList.userInput.Visible) { // subAktivitasDataStartPenyaluranList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasDataStartPenyaluranList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStartPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStartPenyaluranList.RowCount)_SubAktivitasDataStartPenyaluran_userInput" class="el_SubAktivitasDataStartPenyaluran_userInput">
<span @Html.Raw(subAktivitasDataStartPenyaluranList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranList.userInput.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasDataStartPenyaluranList.ListOptions.RenderBody("right", subAktivitasDataStartPenyaluranList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasDataStartPenyaluranList.RowIndex, "$rowindex$"))
        subAktivitasDataStartPenyaluranList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasDataStartPenyaluranList.IsCopy || subAktivitasDataStartPenyaluranList.IsAdd) && subAktivitasDataStartPenyaluranList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasDataStartPenyaluranList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasDataStartPenyaluranList.CurrentAction) && !subAktivitasDataStartPenyaluranList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasDataStartPenyaluranList.CloseRecordset(); }
@if (!subAktivitasDataStartPenyaluranList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasDataStartPenyaluranList.IsGridAdd && !(subAktivitasDataStartPenyaluranList.IsGridEdit && subAktivitasDataStartPenyaluranList.ModalGridEdit) && !subAktivitasDataStartPenyaluranList.IsMultiEdit) {
@Html.Raw(subAktivitasDataStartPenyaluranList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasDataStartPenyaluranList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasDataStartPenyaluranList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasDataStartPenyaluranList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasDataStartPenyaluranList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasDataStartPenyaluranList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasDataStartPenyaluran");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
