@{
    // View
    View = this;

    // Check action result
    if (subAktivitasRealisasiPenyaluranPerProdukList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasRealisasiPenyaluranPerProdukList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasRealisasiPenyaluranPerProdukList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasRealisasiPenyaluranPerProdukList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasRealisasiPenyaluranPerProduk: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasRealisasiPenyaluranPerProdukList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasRealisasiPenyaluranPerProdukList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasRealisasiPenyaluranPerProdukList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasRealisasiPenyaluranPerProdukList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasRealisasiPenyaluranPerProdukList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasRealisasiPenyaluranPerProdukList.TotalRecords > 0 && subAktivitasRealisasiPenyaluranPerProdukList.ExportOptions.Visible) {
    subAktivitasRealisasiPenyaluranPerProdukList.ExportOptions.Render("body");
}
@if (subAktivitasRealisasiPenyaluranPerProdukList.ImportOptions.Visible) {
    subAktivitasRealisasiPenyaluranPerProdukList.ImportOptions.Render("body");
}
@if (subAktivitasRealisasiPenyaluranPerProdukList.SearchOptions.Visible) {
    subAktivitasRealisasiPenyaluranPerProdukList.SearchOptions.Render("body");
}
@if (subAktivitasRealisasiPenyaluranPerProdukList.FilterOptions.Visible) {
    subAktivitasRealisasiPenyaluranPerProdukList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasRealisasiPenyaluranPerProdukList.IsModal) {
<form name="fSubAktivitasRealisasiPenyaluranPerProduksrch" id="fSubAktivitasRealisasiPenyaluranPerProduksrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasRealisasiPenyaluranPerProduksrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasRealisasiPenyaluranPerProdukList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasRealisasiPenyaluranPerProdukList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasRealisasiPenyaluranPerProduk: currentTable } });
var currentForm;
var fSubAktivitasRealisasiPenyaluranPerProduksrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasRealisasiPenyaluranPerProduksrch")
        .setPageId("list")
@if (subAktivitasRealisasiPenyaluranPerProdukList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasRealisasiPenyaluranPerProdukList.IsExport() && Empty(subAktivitasRealisasiPenyaluranPerProdukList.CurrentAction) && subAktivitasRealisasiPenyaluranPerProdukList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasRealisasiPenyaluranPerProdukList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasRealisasiPenyaluranPerProdukList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasRealisasiPenyaluranPerProdukList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasRealisasiPenyaluranPerProduksrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasRealisasiPenyaluranPerProdukList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasRealisasiPenyaluranPerProduksrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasRealisasiPenyaluranPerProdukList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasRealisasiPenyaluranPerProduksrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasRealisasiPenyaluranPerProdukList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasRealisasiPenyaluranPerProduksrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasRealisasiPenyaluranPerProdukList.ShowPageHeader()
@subAktivitasRealisasiPenyaluranPerProdukList.ShowMessages()
<main class="list @(subAktivitasRealisasiPenyaluranPerProdukList.TotalRecords == 0 && !subAktivitasRealisasiPenyaluranPerProdukList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasRealisasiPenyaluranPerProdukList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasRealisasiPenyaluranPerProdukList.TotalRecords > 0 || !Empty(subAktivitasRealisasiPenyaluranPerProdukList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasRealisasiPenyaluranPerProdukList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasRealisasiPenyaluranPerProdukList.TableGridClass)">
<form name="@(subAktivitasRealisasiPenyaluranPerProdukList.FormName)" id="@(subAktivitasRealisasiPenyaluranPerProdukList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasRealisasiPenyaluranPerProdukList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasRealisasiPenyaluranPerProdukList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasRealisasiPenyaluranPerProduk" class="card-body ew-grid-middle-panel @(subAktivitasRealisasiPenyaluranPerProdukList.TableContainerClass)" style="@(subAktivitasRealisasiPenyaluranPerProdukList.TableContainerStyle)">
@if (subAktivitasRealisasiPenyaluranPerProdukList.TotalRecords > 0 || subAktivitasRealisasiPenyaluranPerProdukList.IsGridEdit || subAktivitasRealisasiPenyaluranPerProdukList.IsMultiEdit) {
<table id="tbl_SubAktivitasRealisasiPenyaluranPerProduklist" class="@(subAktivitasRealisasiPenyaluranPerProdukList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasRealisasiPenyaluranPerProdukList.RowType = RowType.Header;

    // Render list options
    await subAktivitasRealisasiPenyaluranPerProdukList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasRealisasiPenyaluranPerProdukList.ListOptions.RenderHeader("left")
@if (subAktivitasRealisasiPenyaluranPerProdukList.idProses.Visible) { // subAktivitasRealisasiPenyaluranPerProdukList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasRealisasiPenyaluranPerProdukList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasRealisasiPenyaluranPerProduk_idProses" class="SubAktivitasRealisasiPenyaluranPerProduk_idProses">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.RenderFieldHeader(subAktivitasRealisasiPenyaluranPerProdukList.idProses))</div></th>
} @* subAktivitasRealisasiPenyaluranPerProdukList.idProses.Visible (end) *@
@if (subAktivitasRealisasiPenyaluranPerProdukList.idAktifitas.Visible) { // subAktivitasRealisasiPenyaluranPerProdukList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasRealisasiPenyaluranPerProdukList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasRealisasiPenyaluranPerProduk_idAktifitas" class="SubAktivitasRealisasiPenyaluranPerProduk_idAktifitas">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.RenderFieldHeader(subAktivitasRealisasiPenyaluranPerProdukList.idAktifitas))</div></th>
} @* subAktivitasRealisasiPenyaluranPerProdukList.idAktifitas.Visible (end) *@
@if (subAktivitasRealisasiPenyaluranPerProdukList.NoReferensi.Visible) { // subAktivitasRealisasiPenyaluranPerProdukList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasRealisasiPenyaluranPerProdukList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasRealisasiPenyaluranPerProduk_NoReferensi" class="SubAktivitasRealisasiPenyaluranPerProduk_NoReferensi">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.RenderFieldHeader(subAktivitasRealisasiPenyaluranPerProdukList.NoReferensi))</div></th>
} @* subAktivitasRealisasiPenyaluranPerProdukList.NoReferensi.Visible (end) *@
@if (subAktivitasRealisasiPenyaluranPerProdukList.Produk.Visible) { // subAktivitasRealisasiPenyaluranPerProdukList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasRealisasiPenyaluranPerProdukList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasRealisasiPenyaluranPerProduk_Produk" class="SubAktivitasRealisasiPenyaluranPerProduk_Produk">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.RenderFieldHeader(subAktivitasRealisasiPenyaluranPerProdukList.Produk))</div></th>
} @* subAktivitasRealisasiPenyaluranPerProdukList.Produk.Visible (end) *@
@if (subAktivitasRealisasiPenyaluranPerProdukList.Shift1.Visible) { // subAktivitasRealisasiPenyaluranPerProdukList.Shift1.Visible (begin)
        <th data-name="Shift1" class="@(subAktivitasRealisasiPenyaluranPerProdukList.Shift1.HeaderCellClass)"><div id="elh_SubAktivitasRealisasiPenyaluranPerProduk_Shift1" class="SubAktivitasRealisasiPenyaluranPerProduk_Shift1">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.RenderFieldHeader(subAktivitasRealisasiPenyaluranPerProdukList.Shift1))</div></th>
} @* subAktivitasRealisasiPenyaluranPerProdukList.Shift1.Visible (end) *@
@if (subAktivitasRealisasiPenyaluranPerProdukList.Shift2.Visible) { // subAktivitasRealisasiPenyaluranPerProdukList.Shift2.Visible (begin)
        <th data-name="Shift2" class="@(subAktivitasRealisasiPenyaluranPerProdukList.Shift2.HeaderCellClass)"><div id="elh_SubAktivitasRealisasiPenyaluranPerProduk_Shift2" class="SubAktivitasRealisasiPenyaluranPerProduk_Shift2">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.RenderFieldHeader(subAktivitasRealisasiPenyaluranPerProdukList.Shift2))</div></th>
} @* subAktivitasRealisasiPenyaluranPerProdukList.Shift2.Visible (end) *@
@if (subAktivitasRealisasiPenyaluranPerProdukList.Shift3.Visible) { // subAktivitasRealisasiPenyaluranPerProdukList.Shift3.Visible (begin)
        <th data-name="Shift3" class="@(subAktivitasRealisasiPenyaluranPerProdukList.Shift3.HeaderCellClass)"><div id="elh_SubAktivitasRealisasiPenyaluranPerProduk_Shift3" class="SubAktivitasRealisasiPenyaluranPerProduk_Shift3">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.RenderFieldHeader(subAktivitasRealisasiPenyaluranPerProdukList.Shift3))</div></th>
} @* subAktivitasRealisasiPenyaluranPerProdukList.Shift3.Visible (end) *@
@if (subAktivitasRealisasiPenyaluranPerProdukList.Shift4.Visible) { // subAktivitasRealisasiPenyaluranPerProdukList.Shift4.Visible (begin)
        <th data-name="Shift4" class="@(subAktivitasRealisasiPenyaluranPerProdukList.Shift4.HeaderCellClass)"><div id="elh_SubAktivitasRealisasiPenyaluranPerProduk_Shift4" class="SubAktivitasRealisasiPenyaluranPerProduk_Shift4">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.RenderFieldHeader(subAktivitasRealisasiPenyaluranPerProdukList.Shift4))</div></th>
} @* subAktivitasRealisasiPenyaluranPerProdukList.Shift4.Visible (end) *@
@if (subAktivitasRealisasiPenyaluranPerProdukList.Total.Visible) { // subAktivitasRealisasiPenyaluranPerProdukList.Total.Visible (begin)
        <th data-name="Total" class="@(subAktivitasRealisasiPenyaluranPerProdukList.Total.HeaderCellClass)"><div id="elh_SubAktivitasRealisasiPenyaluranPerProduk_Total" class="SubAktivitasRealisasiPenyaluranPerProduk_Total">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.RenderFieldHeader(subAktivitasRealisasiPenyaluranPerProdukList.Total))</div></th>
} @* subAktivitasRealisasiPenyaluranPerProdukList.Total.Visible (end) *@
@if (subAktivitasRealisasiPenyaluranPerProdukList.userInput.Visible) { // subAktivitasRealisasiPenyaluranPerProdukList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasRealisasiPenyaluranPerProdukList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasRealisasiPenyaluranPerProduk_userInput" class="SubAktivitasRealisasiPenyaluranPerProduk_userInput">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.RenderFieldHeader(subAktivitasRealisasiPenyaluranPerProdukList.userInput))</div></th>
} @* subAktivitasRealisasiPenyaluranPerProdukList.userInput.Visible (end) *@
@if (subAktivitasRealisasiPenyaluranPerProdukList.LastUpdatedBy.Visible) { // subAktivitasRealisasiPenyaluranPerProdukList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasRealisasiPenyaluranPerProdukList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasRealisasiPenyaluranPerProduk_LastUpdatedBy" class="SubAktivitasRealisasiPenyaluranPerProduk_LastUpdatedBy">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.RenderFieldHeader(subAktivitasRealisasiPenyaluranPerProdukList.LastUpdatedBy))</div></th>
} @* subAktivitasRealisasiPenyaluranPerProdukList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasRealisasiPenyaluranPerProdukList.lastUpdatedDate.Visible) { // subAktivitasRealisasiPenyaluranPerProdukList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasRealisasiPenyaluranPerProdukList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasRealisasiPenyaluranPerProduk_lastUpdatedDate" class="SubAktivitasRealisasiPenyaluranPerProduk_lastUpdatedDate">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.RenderFieldHeader(subAktivitasRealisasiPenyaluranPerProdukList.lastUpdatedDate))</div></th>
} @* subAktivitasRealisasiPenyaluranPerProdukList.lastUpdatedDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasRealisasiPenyaluranPerProdukList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasRealisasiPenyaluranPerProdukList.PageNumber)">
@{
    await subAktivitasRealisasiPenyaluranPerProdukList.SetupGrid();
    bool eof = subAktivitasRealisasiPenyaluranPerProdukList.Recordset == null; // DN
}
@while (subAktivitasRealisasiPenyaluranPerProdukList.RecordCount < subAktivitasRealisasiPenyaluranPerProdukList.StopRecord || SameString(subAktivitasRealisasiPenyaluranPerProdukList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasRealisasiPenyaluranPerProdukList.RowIndex, "$rowindex$") &&
        (!subAktivitasRealisasiPenyaluranPerProdukList.IsGridAdd || subAktivitasRealisasiPenyaluranPerProdukList.CurrentMode == "copy") &&
        (!((subAktivitasRealisasiPenyaluranPerProdukList.IsCopy || subAktivitasRealisasiPenyaluranPerProdukList.IsAdd) && subAktivitasRealisasiPenyaluranPerProdukList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasRealisasiPenyaluranPerProdukList.Recordset.ReadAsync();
    subAktivitasRealisasiPenyaluranPerProdukList.RecordCount++;
    if (subAktivitasRealisasiPenyaluranPerProdukList.RecordCount >= subAktivitasRealisasiPenyaluranPerProdukList.StartRecord) {
        await subAktivitasRealisasiPenyaluranPerProdukList.SetupRow();
    <tr @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasRealisasiPenyaluranPerProdukList.ListOptions.RenderBody("left", subAktivitasRealisasiPenyaluranPerProdukList.RowCount)
    @if (subAktivitasRealisasiPenyaluranPerProdukList.idProses.Visible) { // subAktivitasRealisasiPenyaluranPerProdukList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.idProses.CellAttributes)>
<span id="el@(subAktivitasRealisasiPenyaluranPerProdukList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasRealisasiPenyaluranPerProdukList.RowCount)_SubAktivitasRealisasiPenyaluranPerProduk_idProses" class="el_SubAktivitasRealisasiPenyaluranPerProduk_idProses">
<span @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasRealisasiPenyaluranPerProdukList.idProses.Visible (end) *@
    @if (subAktivitasRealisasiPenyaluranPerProdukList.idAktifitas.Visible) { // subAktivitasRealisasiPenyaluranPerProdukList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasRealisasiPenyaluranPerProdukList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasRealisasiPenyaluranPerProdukList.RowCount)_SubAktivitasRealisasiPenyaluranPerProduk_idAktifitas" class="el_SubAktivitasRealisasiPenyaluranPerProduk_idAktifitas">
<span @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasRealisasiPenyaluranPerProdukList.idAktifitas.Visible (end) *@
    @if (subAktivitasRealisasiPenyaluranPerProdukList.NoReferensi.Visible) { // subAktivitasRealisasiPenyaluranPerProdukList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasRealisasiPenyaluranPerProdukList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasRealisasiPenyaluranPerProdukList.RowCount)_SubAktivitasRealisasiPenyaluranPerProduk_NoReferensi" class="el_SubAktivitasRealisasiPenyaluranPerProduk_NoReferensi">
<span @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasRealisasiPenyaluranPerProdukList.NoReferensi.Visible (end) *@
    @if (subAktivitasRealisasiPenyaluranPerProdukList.Produk.Visible) { // subAktivitasRealisasiPenyaluranPerProdukList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.Produk.CellAttributes)>
<span id="el@(subAktivitasRealisasiPenyaluranPerProdukList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasRealisasiPenyaluranPerProdukList.RowCount)_SubAktivitasRealisasiPenyaluranPerProduk_Produk" class="el_SubAktivitasRealisasiPenyaluranPerProduk_Produk">
<span @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasRealisasiPenyaluranPerProdukList.Produk.Visible (end) *@
    @if (subAktivitasRealisasiPenyaluranPerProdukList.Shift1.Visible) { // subAktivitasRealisasiPenyaluranPerProdukList.Shift1.Visible (begin)
        <td data-name="Shift1" @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.Shift1.CellAttributes)>
<span id="el@(subAktivitasRealisasiPenyaluranPerProdukList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasRealisasiPenyaluranPerProdukList.RowCount)_SubAktivitasRealisasiPenyaluranPerProduk_Shift1" class="el_SubAktivitasRealisasiPenyaluranPerProduk_Shift1">
<span @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.Shift1.ViewAttributes)>
@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.Shift1.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasRealisasiPenyaluranPerProdukList.Shift1.Visible (end) *@
    @if (subAktivitasRealisasiPenyaluranPerProdukList.Shift2.Visible) { // subAktivitasRealisasiPenyaluranPerProdukList.Shift2.Visible (begin)
        <td data-name="Shift2" @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.Shift2.CellAttributes)>
<span id="el@(subAktivitasRealisasiPenyaluranPerProdukList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasRealisasiPenyaluranPerProdukList.RowCount)_SubAktivitasRealisasiPenyaluranPerProduk_Shift2" class="el_SubAktivitasRealisasiPenyaluranPerProduk_Shift2">
<span @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.Shift2.ViewAttributes)>
@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.Shift2.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasRealisasiPenyaluranPerProdukList.Shift2.Visible (end) *@
    @if (subAktivitasRealisasiPenyaluranPerProdukList.Shift3.Visible) { // subAktivitasRealisasiPenyaluranPerProdukList.Shift3.Visible (begin)
        <td data-name="Shift3" @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.Shift3.CellAttributes)>
<span id="el@(subAktivitasRealisasiPenyaluranPerProdukList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasRealisasiPenyaluranPerProdukList.RowCount)_SubAktivitasRealisasiPenyaluranPerProduk_Shift3" class="el_SubAktivitasRealisasiPenyaluranPerProduk_Shift3">
<span @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.Shift3.ViewAttributes)>
@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.Shift3.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasRealisasiPenyaluranPerProdukList.Shift3.Visible (end) *@
    @if (subAktivitasRealisasiPenyaluranPerProdukList.Shift4.Visible) { // subAktivitasRealisasiPenyaluranPerProdukList.Shift4.Visible (begin)
        <td data-name="Shift4" @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.Shift4.CellAttributes)>
<span id="el@(subAktivitasRealisasiPenyaluranPerProdukList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasRealisasiPenyaluranPerProdukList.RowCount)_SubAktivitasRealisasiPenyaluranPerProduk_Shift4" class="el_SubAktivitasRealisasiPenyaluranPerProduk_Shift4">
<span @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.Shift4.ViewAttributes)>
@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.Shift4.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasRealisasiPenyaluranPerProdukList.Shift4.Visible (end) *@
    @if (subAktivitasRealisasiPenyaluranPerProdukList.Total.Visible) { // subAktivitasRealisasiPenyaluranPerProdukList.Total.Visible (begin)
        <td data-name="Total" @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.Total.CellAttributes)>
<span id="el@(subAktivitasRealisasiPenyaluranPerProdukList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasRealisasiPenyaluranPerProdukList.RowCount)_SubAktivitasRealisasiPenyaluranPerProduk_Total" class="el_SubAktivitasRealisasiPenyaluranPerProduk_Total">
<span @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.Total.ViewAttributes)>
@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.Total.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasRealisasiPenyaluranPerProdukList.Total.Visible (end) *@
    @if (subAktivitasRealisasiPenyaluranPerProdukList.userInput.Visible) { // subAktivitasRealisasiPenyaluranPerProdukList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.userInput.CellAttributes)>
<span id="el@(subAktivitasRealisasiPenyaluranPerProdukList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasRealisasiPenyaluranPerProdukList.RowCount)_SubAktivitasRealisasiPenyaluranPerProduk_userInput" class="el_SubAktivitasRealisasiPenyaluranPerProduk_userInput">
<span @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasRealisasiPenyaluranPerProdukList.userInput.Visible (end) *@
    @if (subAktivitasRealisasiPenyaluranPerProdukList.LastUpdatedBy.Visible) { // subAktivitasRealisasiPenyaluranPerProdukList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasRealisasiPenyaluranPerProdukList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasRealisasiPenyaluranPerProdukList.RowCount)_SubAktivitasRealisasiPenyaluranPerProduk_LastUpdatedBy" class="el_SubAktivitasRealisasiPenyaluranPerProduk_LastUpdatedBy">
<span @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasRealisasiPenyaluranPerProdukList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasRealisasiPenyaluranPerProdukList.lastUpdatedDate.Visible) { // subAktivitasRealisasiPenyaluranPerProdukList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasRealisasiPenyaluranPerProdukList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasRealisasiPenyaluranPerProdukList.RowCount)_SubAktivitasRealisasiPenyaluranPerProduk_lastUpdatedDate" class="el_SubAktivitasRealisasiPenyaluranPerProduk_lastUpdatedDate">
<span @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasRealisasiPenyaluranPerProdukList.lastUpdatedDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasRealisasiPenyaluranPerProdukList.ListOptions.RenderBody("right", subAktivitasRealisasiPenyaluranPerProdukList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasRealisasiPenyaluranPerProdukList.RowIndex, "$rowindex$"))
        subAktivitasRealisasiPenyaluranPerProdukList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasRealisasiPenyaluranPerProdukList.IsCopy || subAktivitasRealisasiPenyaluranPerProdukList.IsAdd) && subAktivitasRealisasiPenyaluranPerProdukList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasRealisasiPenyaluranPerProdukList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasRealisasiPenyaluranPerProdukList.CurrentAction) && !subAktivitasRealisasiPenyaluranPerProdukList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasRealisasiPenyaluranPerProdukList.CloseRecordset(); }
@if (!subAktivitasRealisasiPenyaluranPerProdukList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasRealisasiPenyaluranPerProdukList.IsGridAdd && !(subAktivitasRealisasiPenyaluranPerProdukList.IsGridEdit && subAktivitasRealisasiPenyaluranPerProdukList.ModalGridEdit) && !subAktivitasRealisasiPenyaluranPerProdukList.IsMultiEdit) {
@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasRealisasiPenyaluranPerProdukList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasRealisasiPenyaluranPerProdukList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasRealisasiPenyaluranPerProdukList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasRealisasiPenyaluranPerProdukList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasRealisasiPenyaluranPerProdukList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasRealisasiPenyaluranPerProduk");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
