@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputHslPemeriksaanEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputHslPemeriksaanEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasFormInputHslPemeriksaanEdit.ShowPageHeader()
@subAktivitasFormInputHslPemeriksaanEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasFormInputHslPemeriksaanedit" id="fSubAktivitasFormInputHslPemeriksaanedit" class="@(subAktivitasFormInputHslPemeriksaanEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputHslPemeriksaanEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputHslPemeriksaan: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasFormInputHslPemeriksaanedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputHslPemeriksaanedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["Tanggal", [fields.Tanggal.visible && fields.Tanggal.required ? ew.Validators.required(fields.Tanggal.caption) : null, ew.Validators.datetime(fields.Tanggal.clientFormatPattern)], fields.Tanggal.isInvalid],
            ["NamaKegiatan", [fields.NamaKegiatan.visible && fields.NamaKegiatan.required ? ew.Validators.required(fields.NamaKegiatan.caption) : null], fields.NamaKegiatan.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["Density", [fields.Density.visible && fields.Density.required ? ew.Validators.required(fields.Density.caption) : null], fields.Density.isInvalid],
            ["Temperature", [fields.Temperature.visible && fields.Temperature.required ? ew.Validators.required(fields.Temperature.caption) : null], fields.Temperature.isInvalid],
            ["Pressure", [fields.Pressure.visible && fields.Pressure.required ? ew.Validators.required(fields.Pressure.caption) : null], fields.Pressure.isInvalid],
            ["Keterangan", [fields.Keterangan.visible && fields.Keterangan.required ? ew.Validators.required(fields.Keterangan.caption) : null], fields.Keterangan.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["TanggalJamSOP", [fields.TanggalJamSOP.visible && fields.TanggalJamSOP.required ? ew.Validators.required(fields.TanggalJamSOP.caption) : null, ew.Validators.datetime(fields.TanggalJamSOP.clientFormatPattern)], fields.TanggalJamSOP.isInvalid],
            ["SelisihWaktu", [fields.SelisihWaktu.visible && fields.SelisihWaktu.required ? ew.Validators.required(fields.SelisihWaktu.caption) : null], fields.SelisihWaktu.isInvalid],
            ["IsQualityActive", [fields.IsQualityActive.visible && fields.IsQualityActive.required ? ew.Validators.required(fields.IsQualityActive.caption) : null], fields.IsQualityActive.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "IsQualityActive": @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.IsQualityActive.ToClientList(subAktivitasFormInputHslPemeriksaanEdit)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputHslPemeriksaanEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasFormInputHslPemeriksaanEdit.OldKeyName)" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasFormInputHslPemeriksaanEdit.id.Visible) { // subAktivitasFormInputHslPemeriksaanEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.id.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_id" class="@(subAktivitasFormInputHslPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.id.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.id.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_id">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasFormInputHslPemeriksaanEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanEdit.id.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanEdit.idAktifitas.Visible) { // subAktivitasFormInputHslPemeriksaanEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_idAktifitas" for="x_idAktifitas" class="@(subAktivitasFormInputHslPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.idAktifitas.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_idAktifitas">
<input type="@(subAktivitasFormInputHslPemeriksaanEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_idAktifitas" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHslPemeriksaanEdit.idAktifitas.FormatPattern)"@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanEdit.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanEdit.idProses.Visible) { // subAktivitasFormInputHslPemeriksaanEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_idProses" for="x_idProses" class="@(subAktivitasFormInputHslPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.idProses.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_idProses">
<input type="@(subAktivitasFormInputHslPemeriksaanEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_idProses" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanEdit.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHslPemeriksaanEdit.idProses.FormatPattern)"@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanEdit.idProses.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanEdit.NoReferensi.Visible) { // subAktivitasFormInputHslPemeriksaanEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_NoReferensi" for="x_NoReferensi" class="@(subAktivitasFormInputHslPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.NoReferensi.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_NoReferensi">
<input type="@(subAktivitasFormInputHslPemeriksaanEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.NoReferensi.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHslPemeriksaanEdit.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanEdit.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanEdit.Tanggal.Visible) { // subAktivitasFormInputHslPemeriksaanEdit.Tanggal.Visible (begin)
    <div id="r_Tanggal" @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Tanggal.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_Tanggal" for="x_Tanggal" class="@(subAktivitasFormInputHslPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Tanggal.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Tanggal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Tanggal.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_Tanggal">
<input type="@(subAktivitasFormInputHslPemeriksaanEdit.Tanggal.InputTextType)" name="x_Tanggal" id="x_Tanggal" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_Tanggal" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Tanggal.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanEdit.Tanggal.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHslPemeriksaanEdit.Tanggal.FormatPattern)"@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Tanggal.EditAttributes) aria-describedby="x_Tanggal_help">
@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Tanggal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Tanggal.GetErrorMessage())</div>
@if (!subAktivitasFormInputHslPemeriksaanEdit.Tanggal.ReadOnly && !subAktivitasFormInputHslPemeriksaanEdit.Tanggal.Disabled && !subAktivitasFormInputHslPemeriksaanEdit.Tanggal.EditAttrs.Is("readonly") && !subAktivitasFormInputHslPemeriksaanEdit.Tanggal.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputHslPemeriksaanedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputHslPemeriksaanedit", "x_Tanggal", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanEdit.Tanggal.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanEdit.NamaKegiatan.Visible) { // subAktivitasFormInputHslPemeriksaanEdit.NamaKegiatan.Visible (begin)
    <div id="r_NamaKegiatan" @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.NamaKegiatan.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_NamaKegiatan" for="x_NamaKegiatan" class="@(subAktivitasFormInputHslPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.NamaKegiatan.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.NamaKegiatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.NamaKegiatan.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_NamaKegiatan">
<input type="@(subAktivitasFormInputHslPemeriksaanEdit.NamaKegiatan.InputTextType)" name="x_NamaKegiatan" id="x_NamaKegiatan" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_NamaKegiatan" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.NamaKegiatan.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanEdit.NamaKegiatan.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHslPemeriksaanEdit.NamaKegiatan.FormatPattern)"@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.NamaKegiatan.EditAttributes) aria-describedby="x_NamaKegiatan_help">
@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.NamaKegiatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.NamaKegiatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanEdit.NamaKegiatan.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanEdit.Produk.Visible) { // subAktivitasFormInputHslPemeriksaanEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Produk.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_Produk" for="x_Produk" class="@(subAktivitasFormInputHslPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Produk.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Produk.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_Produk">
<input type="@(subAktivitasFormInputHslPemeriksaanEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_Produk" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Produk.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanEdit.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHslPemeriksaanEdit.Produk.FormatPattern)"@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanEdit.Produk.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanEdit.Density.Visible) { // subAktivitasFormInputHslPemeriksaanEdit.Density.Visible (begin)
    <div id="r_Density" @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Density.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_Density" for="x_Density" class="@(subAktivitasFormInputHslPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Density.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Density.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Density.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_Density">
<input type="@(subAktivitasFormInputHslPemeriksaanEdit.Density.InputTextType)" name="x_Density" id="x_Density" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_Density" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Density.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanEdit.Density.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHslPemeriksaanEdit.Density.FormatPattern)"@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Density.EditAttributes) aria-describedby="x_Density_help">
@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Density.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Density.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanEdit.Density.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanEdit.Temperature.Visible) { // subAktivitasFormInputHslPemeriksaanEdit.Temperature.Visible (begin)
    <div id="r_Temperature" @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Temperature.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_Temperature" for="x_Temperature" class="@(subAktivitasFormInputHslPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Temperature.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Temperature.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Temperature.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_Temperature">
<input type="@(subAktivitasFormInputHslPemeriksaanEdit.Temperature.InputTextType)" name="x_Temperature" id="x_Temperature" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_Temperature" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Temperature.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanEdit.Temperature.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHslPemeriksaanEdit.Temperature.FormatPattern)"@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Temperature.EditAttributes) aria-describedby="x_Temperature_help">
@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Temperature.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Temperature.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanEdit.Temperature.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanEdit.Pressure.Visible) { // subAktivitasFormInputHslPemeriksaanEdit.Pressure.Visible (begin)
    <div id="r_Pressure" @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Pressure.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_Pressure" for="x_Pressure" class="@(subAktivitasFormInputHslPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Pressure.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Pressure.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Pressure.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_Pressure">
<input type="@(subAktivitasFormInputHslPemeriksaanEdit.Pressure.InputTextType)" name="x_Pressure" id="x_Pressure" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_Pressure" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Pressure.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanEdit.Pressure.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHslPemeriksaanEdit.Pressure.FormatPattern)"@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Pressure.EditAttributes) aria-describedby="x_Pressure_help">
@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Pressure.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Pressure.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanEdit.Pressure.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanEdit.Keterangan.Visible) { // subAktivitasFormInputHslPemeriksaanEdit.Keterangan.Visible (begin)
    <div id="r_Keterangan" @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Keterangan.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_Keterangan" for="x_Keterangan" class="@(subAktivitasFormInputHslPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Keterangan.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Keterangan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Keterangan.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_Keterangan">
<input type="@(subAktivitasFormInputHslPemeriksaanEdit.Keterangan.InputTextType)" name="x_Keterangan" id="x_Keterangan" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_Keterangan" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Keterangan.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanEdit.Keterangan.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHslPemeriksaanEdit.Keterangan.FormatPattern)"@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Keterangan.EditAttributes) aria-describedby="x_Keterangan_help">
@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Keterangan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.Keterangan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanEdit.Keterangan.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanEdit.userInput.Visible) { // subAktivitasFormInputHslPemeriksaanEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.userInput.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_userInput" for="x_userInput" class="@(subAktivitasFormInputHslPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.userInput.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_userInput">
<input type="@(subAktivitasFormInputHslPemeriksaanEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_userInput" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanEdit.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHslPemeriksaanEdit.userInput.FormatPattern)"@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanEdit.userInput.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanEdit.etlDate.Visible) { // subAktivitasFormInputHslPemeriksaanEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_etlDate" for="x_etlDate" class="@(subAktivitasFormInputHslPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.etlDate.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_etlDate">
<input type="@(subAktivitasFormInputHslPemeriksaanEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_etlDate" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanEdit.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHslPemeriksaanEdit.etlDate.FormatPattern)"@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.etlDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputHslPemeriksaanEdit.etlDate.ReadOnly && !subAktivitasFormInputHslPemeriksaanEdit.etlDate.Disabled && !subAktivitasFormInputHslPemeriksaanEdit.etlDate.EditAttrs.Is("readonly") && !subAktivitasFormInputHslPemeriksaanEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputHslPemeriksaanedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputHslPemeriksaanedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanEdit.etlDate.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanEdit.LastUpdatedBy.Visible) { // subAktivitasFormInputHslPemeriksaanEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasFormInputHslPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_LastUpdatedBy">
<input type="@(subAktivitasFormInputHslPemeriksaanEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHslPemeriksaanEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanEdit.lastUpdatedDate.Visible) { // subAktivitasFormInputHslPemeriksaanEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasFormInputHslPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_lastUpdatedDate">
<input type="@(subAktivitasFormInputHslPemeriksaanEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHslPemeriksaanEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputHslPemeriksaanEdit.lastUpdatedDate.ReadOnly && !subAktivitasFormInputHslPemeriksaanEdit.lastUpdatedDate.Disabled && !subAktivitasFormInputHslPemeriksaanEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasFormInputHslPemeriksaanEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputHslPemeriksaanedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputHslPemeriksaanedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanEdit.TanggalJamSOP.Visible) { // subAktivitasFormInputHslPemeriksaanEdit.TanggalJamSOP.Visible (begin)
    <div id="r_TanggalJamSOP" @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.TanggalJamSOP.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_TanggalJamSOP" for="x_TanggalJamSOP" class="@(subAktivitasFormInputHslPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.TanggalJamSOP.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.TanggalJamSOP.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.TanggalJamSOP.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_TanggalJamSOP">
<input type="@(subAktivitasFormInputHslPemeriksaanEdit.TanggalJamSOP.InputTextType)" name="x_TanggalJamSOP" id="x_TanggalJamSOP" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_TanggalJamSOP" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.TanggalJamSOP.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanEdit.TanggalJamSOP.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHslPemeriksaanEdit.TanggalJamSOP.FormatPattern)"@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.TanggalJamSOP.EditAttributes) aria-describedby="x_TanggalJamSOP_help">
@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.TanggalJamSOP.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.TanggalJamSOP.GetErrorMessage())</div>
@if (!subAktivitasFormInputHslPemeriksaanEdit.TanggalJamSOP.ReadOnly && !subAktivitasFormInputHslPemeriksaanEdit.TanggalJamSOP.Disabled && !subAktivitasFormInputHslPemeriksaanEdit.TanggalJamSOP.EditAttrs.Is("readonly") && !subAktivitasFormInputHslPemeriksaanEdit.TanggalJamSOP.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputHslPemeriksaanedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputHslPemeriksaanedit", "x_TanggalJamSOP", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanEdit.TanggalJamSOP.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanEdit.SelisihWaktu.Visible) { // subAktivitasFormInputHslPemeriksaanEdit.SelisihWaktu.Visible (begin)
    <div id="r_SelisihWaktu" @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.SelisihWaktu.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_SelisihWaktu" for="x_SelisihWaktu" class="@(subAktivitasFormInputHslPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.SelisihWaktu.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.SelisihWaktu.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.SelisihWaktu.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_SelisihWaktu">
<input type="@(subAktivitasFormInputHslPemeriksaanEdit.SelisihWaktu.InputTextType)" name="x_SelisihWaktu" id="x_SelisihWaktu" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_SelisihWaktu" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.SelisihWaktu.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanEdit.SelisihWaktu.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHslPemeriksaanEdit.SelisihWaktu.FormatPattern)"@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.SelisihWaktu.EditAttributes) aria-describedby="x_SelisihWaktu_help">
@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.SelisihWaktu.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.SelisihWaktu.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanEdit.SelisihWaktu.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanEdit.IsQualityActive.Visible) { // subAktivitasFormInputHslPemeriksaanEdit.IsQualityActive.Visible (begin)
    <div id="r_IsQualityActive" @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.IsQualityActive.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_IsQualityActive" class="@(subAktivitasFormInputHslPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.IsQualityActive.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.IsQualityActive.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.IsQualityActive.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_IsQualityActive">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(subAktivitasFormInputHslPemeriksaanEdit.IsQualityActive.IsInvalidClass)" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_IsQualityActive" data-boolean name="x_IsQualityActive" id="x_IsQualityActive" value="1" checked="@ConvertToBool(subAktivitasFormInputHslPemeriksaanEdit.IsQualityActive.CurrentValue)" @Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.IsQualityActive.EditAttributes) aria-describedby="x_IsQualityActive_help">
    <div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.IsQualityActive.GetErrorMessage())</div>
</div>
@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.IsQualityActive.GetCustomMessage)
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanEdit.IsQualityActive.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasFormInputHslPemeriksaanEdit.CloseRecordset(); }
@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasFormInputHslPemeriksaanEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasFormInputHslPemeriksaanedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasFormInputHslPemeriksaanedit" data-href="@AppPath(subAktivitasFormInputHslPemeriksaanEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasFormInputHslPemeriksaanEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasFormInputHslPemeriksaanEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputHslPemeriksaan");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
