@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputDataStopPenyaluranRtwList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputDataStopPenyaluranRtwList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputDataStopPenyaluranRtwList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputDataStopPenyaluranRtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputDataStopPenyaluranRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasFormInputDataStopPenyaluranRtwList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasFormInputDataStopPenyaluranRtwList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasFormInputDataStopPenyaluranRtwList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasFormInputDataStopPenyaluranRtwList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasFormInputDataStopPenyaluranRtwList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasFormInputDataStopPenyaluranRtwList.TotalRecords > 0 && subAktivitasFormInputDataStopPenyaluranRtwList.ExportOptions.Visible) {
    subAktivitasFormInputDataStopPenyaluranRtwList.ExportOptions.Render("body");
}
@if (subAktivitasFormInputDataStopPenyaluranRtwList.ImportOptions.Visible) {
    subAktivitasFormInputDataStopPenyaluranRtwList.ImportOptions.Render("body");
}
@if (subAktivitasFormInputDataStopPenyaluranRtwList.SearchOptions.Visible) {
    subAktivitasFormInputDataStopPenyaluranRtwList.SearchOptions.Render("body");
}
@if (subAktivitasFormInputDataStopPenyaluranRtwList.FilterOptions.Visible) {
    subAktivitasFormInputDataStopPenyaluranRtwList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasFormInputDataStopPenyaluranRtwList.IsModal) {
<form name="fSubAktivitasFormInputDataStopPenyaluranRTWsrch" id="fSubAktivitasFormInputDataStopPenyaluranRTWsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasFormInputDataStopPenyaluranRTWsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasFormInputDataStopPenyaluranRtwList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputDataStopPenyaluranRtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputDataStopPenyaluranRTW: currentTable } });
var currentForm;
var fSubAktivitasFormInputDataStopPenyaluranRTWsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputDataStopPenyaluranRTWsrch")
        .setPageId("list")
@if (subAktivitasFormInputDataStopPenyaluranRtwList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasFormInputDataStopPenyaluranRtwList.IsExport() && Empty(subAktivitasFormInputDataStopPenyaluranRtwList.CurrentAction) && subAktivitasFormInputDataStopPenyaluranRtwList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasFormInputDataStopPenyaluranRtwList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasFormInputDataStopPenyaluranRtwList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasFormInputDataStopPenyaluranRtwList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasFormInputDataStopPenyaluranRTWsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputDataStopPenyaluranRtwList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasFormInputDataStopPenyaluranRTWsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputDataStopPenyaluranRtwList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasFormInputDataStopPenyaluranRTWsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputDataStopPenyaluranRtwList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasFormInputDataStopPenyaluranRTWsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasFormInputDataStopPenyaluranRtwList.ShowPageHeader()
@subAktivitasFormInputDataStopPenyaluranRtwList.ShowMessages()
<main class="list @(subAktivitasFormInputDataStopPenyaluranRtwList.TotalRecords == 0 && !subAktivitasFormInputDataStopPenyaluranRtwList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasFormInputDataStopPenyaluranRtwList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasFormInputDataStopPenyaluranRtwList.TotalRecords > 0 || !Empty(subAktivitasFormInputDataStopPenyaluranRtwList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasFormInputDataStopPenyaluranRtwList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasFormInputDataStopPenyaluranRtwList.TableGridClass)">
<form name="@(subAktivitasFormInputDataStopPenyaluranRtwList.FormName)" id="@(subAktivitasFormInputDataStopPenyaluranRtwList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasFormInputDataStopPenyaluranRtwList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasFormInputDataStopPenyaluranRtwList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasFormInputDataStopPenyaluranRTW" class="card-body ew-grid-middle-panel @(subAktivitasFormInputDataStopPenyaluranRtwList.TableContainerClass)" style="@(subAktivitasFormInputDataStopPenyaluranRtwList.TableContainerStyle)">
@if (subAktivitasFormInputDataStopPenyaluranRtwList.TotalRecords > 0 || subAktivitasFormInputDataStopPenyaluranRtwList.IsGridEdit || subAktivitasFormInputDataStopPenyaluranRtwList.IsMultiEdit) {
<table id="tbl_SubAktivitasFormInputDataStopPenyaluranRTWlist" class="@(subAktivitasFormInputDataStopPenyaluranRtwList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasFormInputDataStopPenyaluranRtwList.RowType = RowType.Header;

    // Render list options
    await subAktivitasFormInputDataStopPenyaluranRtwList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasFormInputDataStopPenyaluranRtwList.ListOptions.RenderHeader("left")
@if (subAktivitasFormInputDataStopPenyaluranRtwList.NoReferensi.Visible) { // subAktivitasFormInputDataStopPenyaluranRtwList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasFormInputDataStopPenyaluranRtwList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStopPenyaluranRTW_NoReferensi" class="SubAktivitasFormInputDataStopPenyaluranRTW_NoReferensi">@Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.RenderFieldHeader(subAktivitasFormInputDataStopPenyaluranRtwList.NoReferensi))</div></th>
} @* subAktivitasFormInputDataStopPenyaluranRtwList.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputDataStopPenyaluranRtwList.idProses.Visible) { // subAktivitasFormInputDataStopPenyaluranRtwList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasFormInputDataStopPenyaluranRtwList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStopPenyaluranRTW_idProses" class="SubAktivitasFormInputDataStopPenyaluranRTW_idProses">@Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.RenderFieldHeader(subAktivitasFormInputDataStopPenyaluranRtwList.idProses))</div></th>
} @* subAktivitasFormInputDataStopPenyaluranRtwList.idProses.Visible (end) *@
@if (subAktivitasFormInputDataStopPenyaluranRtwList.idAktifitas.Visible) { // subAktivitasFormInputDataStopPenyaluranRtwList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasFormInputDataStopPenyaluranRtwList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStopPenyaluranRTW_idAktifitas" class="SubAktivitasFormInputDataStopPenyaluranRTW_idAktifitas">@Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.RenderFieldHeader(subAktivitasFormInputDataStopPenyaluranRtwList.idAktifitas))</div></th>
} @* subAktivitasFormInputDataStopPenyaluranRtwList.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputDataStopPenyaluranRtwList.StatusAktivitas.Visible) { // subAktivitasFormInputDataStopPenyaluranRtwList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasFormInputDataStopPenyaluranRtwList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStopPenyaluranRTW_StatusAktivitas" class="SubAktivitasFormInputDataStopPenyaluranRTW_StatusAktivitas">@Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.RenderFieldHeader(subAktivitasFormInputDataStopPenyaluranRtwList.StatusAktivitas))</div></th>
} @* subAktivitasFormInputDataStopPenyaluranRtwList.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputDataStopPenyaluranRtwList.LastUpdatedBy.Visible) { // subAktivitasFormInputDataStopPenyaluranRtwList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasFormInputDataStopPenyaluranRtwList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStopPenyaluranRTW_LastUpdatedBy" class="SubAktivitasFormInputDataStopPenyaluranRTW_LastUpdatedBy">@Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.RenderFieldHeader(subAktivitasFormInputDataStopPenyaluranRtwList.LastUpdatedBy))</div></th>
} @* subAktivitasFormInputDataStopPenyaluranRtwList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputDataStopPenyaluranRtwList.lastUpdatedDate.Visible) { // subAktivitasFormInputDataStopPenyaluranRtwList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasFormInputDataStopPenyaluranRtwList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStopPenyaluranRTW_lastUpdatedDate" class="SubAktivitasFormInputDataStopPenyaluranRTW_lastUpdatedDate">@Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.RenderFieldHeader(subAktivitasFormInputDataStopPenyaluranRtwList.lastUpdatedDate))</div></th>
} @* subAktivitasFormInputDataStopPenyaluranRtwList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputDataStopPenyaluranRtwList.Tanggal.Visible) { // subAktivitasFormInputDataStopPenyaluranRtwList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasFormInputDataStopPenyaluranRtwList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStopPenyaluranRTW_Tanggal" class="SubAktivitasFormInputDataStopPenyaluranRTW_Tanggal">@Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.RenderFieldHeader(subAktivitasFormInputDataStopPenyaluranRtwList.Tanggal))</div></th>
} @* subAktivitasFormInputDataStopPenyaluranRtwList.Tanggal.Visible (end) *@
@if (subAktivitasFormInputDataStopPenyaluranRtwList.userInput.Visible) { // subAktivitasFormInputDataStopPenyaluranRtwList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasFormInputDataStopPenyaluranRtwList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStopPenyaluranRTW_userInput" class="SubAktivitasFormInputDataStopPenyaluranRTW_userInput">@Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.RenderFieldHeader(subAktivitasFormInputDataStopPenyaluranRtwList.userInput))</div></th>
} @* subAktivitasFormInputDataStopPenyaluranRtwList.userInput.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasFormInputDataStopPenyaluranRtwList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasFormInputDataStopPenyaluranRtwList.PageNumber)">
@{
    await subAktivitasFormInputDataStopPenyaluranRtwList.SetupGrid();
    bool eof = subAktivitasFormInputDataStopPenyaluranRtwList.Recordset == null; // DN
}
@while (subAktivitasFormInputDataStopPenyaluranRtwList.RecordCount < subAktivitasFormInputDataStopPenyaluranRtwList.StopRecord || SameString(subAktivitasFormInputDataStopPenyaluranRtwList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasFormInputDataStopPenyaluranRtwList.RowIndex, "$rowindex$") &&
        (!subAktivitasFormInputDataStopPenyaluranRtwList.IsGridAdd || subAktivitasFormInputDataStopPenyaluranRtwList.CurrentMode == "copy") &&
        (!((subAktivitasFormInputDataStopPenyaluranRtwList.IsCopy || subAktivitasFormInputDataStopPenyaluranRtwList.IsAdd) && subAktivitasFormInputDataStopPenyaluranRtwList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasFormInputDataStopPenyaluranRtwList.Recordset.ReadAsync();
    subAktivitasFormInputDataStopPenyaluranRtwList.RecordCount++;
    if (subAktivitasFormInputDataStopPenyaluranRtwList.RecordCount >= subAktivitasFormInputDataStopPenyaluranRtwList.StartRecord) {
        await subAktivitasFormInputDataStopPenyaluranRtwList.SetupRow();
    <tr @Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasFormInputDataStopPenyaluranRtwList.ListOptions.RenderBody("left", subAktivitasFormInputDataStopPenyaluranRtwList.RowCount)
    @if (subAktivitasFormInputDataStopPenyaluranRtwList.NoReferensi.Visible) { // subAktivitasFormInputDataStopPenyaluranRtwList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasFormInputDataStopPenyaluranRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputDataStopPenyaluranRtwList.RowCount)_SubAktivitasFormInputDataStopPenyaluranRTW_NoReferensi" class="el_SubAktivitasFormInputDataStopPenyaluranRTW_NoReferensi">
<span @Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStopPenyaluranRtwList.NoReferensi.Visible (end) *@
    @if (subAktivitasFormInputDataStopPenyaluranRtwList.idProses.Visible) { // subAktivitasFormInputDataStopPenyaluranRtwList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.idProses.CellAttributes)>
<span id="el@(subAktivitasFormInputDataStopPenyaluranRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputDataStopPenyaluranRtwList.RowCount)_SubAktivitasFormInputDataStopPenyaluranRTW_idProses" class="el_SubAktivitasFormInputDataStopPenyaluranRTW_idProses">
<span @Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStopPenyaluranRtwList.idProses.Visible (end) *@
    @if (subAktivitasFormInputDataStopPenyaluranRtwList.idAktifitas.Visible) { // subAktivitasFormInputDataStopPenyaluranRtwList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasFormInputDataStopPenyaluranRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputDataStopPenyaluranRtwList.RowCount)_SubAktivitasFormInputDataStopPenyaluranRTW_idAktifitas" class="el_SubAktivitasFormInputDataStopPenyaluranRTW_idAktifitas">
<span @Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStopPenyaluranRtwList.idAktifitas.Visible (end) *@
    @if (subAktivitasFormInputDataStopPenyaluranRtwList.StatusAktivitas.Visible) { // subAktivitasFormInputDataStopPenyaluranRtwList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasFormInputDataStopPenyaluranRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputDataStopPenyaluranRtwList.RowCount)_SubAktivitasFormInputDataStopPenyaluranRTW_StatusAktivitas" class="el_SubAktivitasFormInputDataStopPenyaluranRTW_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStopPenyaluranRtwList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasFormInputDataStopPenyaluranRtwList.LastUpdatedBy.Visible) { // subAktivitasFormInputDataStopPenyaluranRtwList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasFormInputDataStopPenyaluranRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputDataStopPenyaluranRtwList.RowCount)_SubAktivitasFormInputDataStopPenyaluranRTW_LastUpdatedBy" class="el_SubAktivitasFormInputDataStopPenyaluranRTW_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStopPenyaluranRtwList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasFormInputDataStopPenyaluranRtwList.lastUpdatedDate.Visible) { // subAktivitasFormInputDataStopPenyaluranRtwList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasFormInputDataStopPenyaluranRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputDataStopPenyaluranRtwList.RowCount)_SubAktivitasFormInputDataStopPenyaluranRTW_lastUpdatedDate" class="el_SubAktivitasFormInputDataStopPenyaluranRTW_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStopPenyaluranRtwList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasFormInputDataStopPenyaluranRtwList.Tanggal.Visible) { // subAktivitasFormInputDataStopPenyaluranRtwList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.Tanggal.CellAttributes)>
<span id="el@(subAktivitasFormInputDataStopPenyaluranRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputDataStopPenyaluranRtwList.RowCount)_SubAktivitasFormInputDataStopPenyaluranRTW_Tanggal" class="el_SubAktivitasFormInputDataStopPenyaluranRTW_Tanggal">
<span @Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStopPenyaluranRtwList.Tanggal.Visible (end) *@
    @if (subAktivitasFormInputDataStopPenyaluranRtwList.userInput.Visible) { // subAktivitasFormInputDataStopPenyaluranRtwList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.userInput.CellAttributes)>
<span id="el@(subAktivitasFormInputDataStopPenyaluranRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputDataStopPenyaluranRtwList.RowCount)_SubAktivitasFormInputDataStopPenyaluranRTW_userInput" class="el_SubAktivitasFormInputDataStopPenyaluranRTW_userInput">
<span @Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStopPenyaluranRtwList.userInput.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasFormInputDataStopPenyaluranRtwList.ListOptions.RenderBody("right", subAktivitasFormInputDataStopPenyaluranRtwList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasFormInputDataStopPenyaluranRtwList.RowIndex, "$rowindex$"))
        subAktivitasFormInputDataStopPenyaluranRtwList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasFormInputDataStopPenyaluranRtwList.IsCopy || subAktivitasFormInputDataStopPenyaluranRtwList.IsAdd) && subAktivitasFormInputDataStopPenyaluranRtwList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasFormInputDataStopPenyaluranRtwList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasFormInputDataStopPenyaluranRtwList.CurrentAction) && !subAktivitasFormInputDataStopPenyaluranRtwList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasFormInputDataStopPenyaluranRtwList.CloseRecordset(); }
@if (!subAktivitasFormInputDataStopPenyaluranRtwList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasFormInputDataStopPenyaluranRtwList.IsGridAdd && !(subAktivitasFormInputDataStopPenyaluranRtwList.IsGridEdit && subAktivitasFormInputDataStopPenyaluranRtwList.ModalGridEdit) && !subAktivitasFormInputDataStopPenyaluranRtwList.IsMultiEdit) {
@Html.Raw(subAktivitasFormInputDataStopPenyaluranRtwList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasFormInputDataStopPenyaluranRtwList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasFormInputDataStopPenyaluranRtwList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasFormInputDataStopPenyaluranRtwList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasFormInputDataStopPenyaluranRtwList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputDataStopPenyaluranRtwList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputDataStopPenyaluranRTW");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
