@{
    // View
    View = this;

    // Check action result
    if (subAktivitasLogbookPenerimaanPenyaluranList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasLogbookPenerimaanPenyaluranList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasLogbookPenerimaanPenyaluranList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasLogbookPenerimaanPenyaluranList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasLogbookPenerimaanPenyaluran: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasLogbookPenerimaanPenyaluranList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasLogbookPenerimaanPenyaluranList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasLogbookPenerimaanPenyaluranList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasLogbookPenerimaanPenyaluranList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasLogbookPenerimaanPenyaluranList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasLogbookPenerimaanPenyaluranList.TotalRecords > 0 && subAktivitasLogbookPenerimaanPenyaluranList.ExportOptions.Visible) {
    subAktivitasLogbookPenerimaanPenyaluranList.ExportOptions.Render("body");
}
@if (subAktivitasLogbookPenerimaanPenyaluranList.ImportOptions.Visible) {
    subAktivitasLogbookPenerimaanPenyaluranList.ImportOptions.Render("body");
}
@if (subAktivitasLogbookPenerimaanPenyaluranList.SearchOptions.Visible) {
    subAktivitasLogbookPenerimaanPenyaluranList.SearchOptions.Render("body");
}
@if (subAktivitasLogbookPenerimaanPenyaluranList.FilterOptions.Visible) {
    subAktivitasLogbookPenerimaanPenyaluranList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasLogbookPenerimaanPenyaluranList.IsModal) {
<form name="fSubAktivitasLogbookPenerimaanPenyaluransrch" id="fSubAktivitasLogbookPenerimaanPenyaluransrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasLogbookPenerimaanPenyaluransrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasLogbookPenerimaanPenyaluranList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasLogbookPenerimaanPenyaluranList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasLogbookPenerimaanPenyaluran: currentTable } });
var currentForm;
var fSubAktivitasLogbookPenerimaanPenyaluransrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasLogbookPenerimaanPenyaluransrch")
        .setPageId("list")
@if (subAktivitasLogbookPenerimaanPenyaluranList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasLogbookPenerimaanPenyaluranList.IsExport() && Empty(subAktivitasLogbookPenerimaanPenyaluranList.CurrentAction) && subAktivitasLogbookPenerimaanPenyaluranList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanPenyaluranList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasLogbookPenerimaanPenyaluranList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasLogbookPenerimaanPenyaluranList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasLogbookPenerimaanPenyaluransrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasLogbookPenerimaanPenyaluranList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasLogbookPenerimaanPenyaluransrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasLogbookPenerimaanPenyaluranList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasLogbookPenerimaanPenyaluransrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasLogbookPenerimaanPenyaluranList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasLogbookPenerimaanPenyaluransrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasLogbookPenerimaanPenyaluranList.ShowPageHeader()
@subAktivitasLogbookPenerimaanPenyaluranList.ShowMessages()
<main class="list @(subAktivitasLogbookPenerimaanPenyaluranList.TotalRecords == 0 && !subAktivitasLogbookPenerimaanPenyaluranList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasLogbookPenerimaanPenyaluranList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasLogbookPenerimaanPenyaluranList.TotalRecords > 0 || !Empty(subAktivitasLogbookPenerimaanPenyaluranList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasLogbookPenerimaanPenyaluranList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasLogbookPenerimaanPenyaluranList.TableGridClass)">
<form name="@(subAktivitasLogbookPenerimaanPenyaluranList.FormName)" id="@(subAktivitasLogbookPenerimaanPenyaluranList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasLogbookPenerimaanPenyaluranList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasLogbookPenerimaanPenyaluranList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasLogbookPenerimaanPenyaluran" class="card-body ew-grid-middle-panel @(subAktivitasLogbookPenerimaanPenyaluranList.TableContainerClass)" style="@(subAktivitasLogbookPenerimaanPenyaluranList.TableContainerStyle)">
@if (subAktivitasLogbookPenerimaanPenyaluranList.TotalRecords > 0 || subAktivitasLogbookPenerimaanPenyaluranList.IsGridEdit || subAktivitasLogbookPenerimaanPenyaluranList.IsMultiEdit) {
<table id="tbl_SubAktivitasLogbookPenerimaanPenyaluranlist" class="@(subAktivitasLogbookPenerimaanPenyaluranList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasLogbookPenerimaanPenyaluranList.RowType = RowType.Header;

    // Render list options
    await subAktivitasLogbookPenerimaanPenyaluranList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasLogbookPenerimaanPenyaluranList.ListOptions.RenderHeader("left")
@if (subAktivitasLogbookPenerimaanPenyaluranList.NoReferensi.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasLogbookPenerimaanPenyaluranList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluran_NoReferensi" class="SubAktivitasLogbookPenerimaanPenyaluran_NoReferensi">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranList.NoReferensi))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranList.NoReferensi.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranList.idProses.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasLogbookPenerimaanPenyaluranList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluran_idProses" class="SubAktivitasLogbookPenerimaanPenyaluran_idProses">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranList.idProses))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranList.idProses.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranList.idAktifitas.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasLogbookPenerimaanPenyaluranList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluran_idAktifitas" class="SubAktivitasLogbookPenerimaanPenyaluran_idAktifitas">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranList.idAktifitas))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranList.idAktifitas.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranList.Produk.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasLogbookPenerimaanPenyaluranList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluran_Produk" class="SubAktivitasLogbookPenerimaanPenyaluran_Produk">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranList.Produk))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranList.Produk.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranList.StatusAktivitas.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasLogbookPenerimaanPenyaluranList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluran_StatusAktivitas" class="SubAktivitasLogbookPenerimaanPenyaluran_StatusAktivitas">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranList.StatusAktivitas))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranList.StatusAktivitas.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranList.LastUpdatedBy.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasLogbookPenerimaanPenyaluranList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluran_LastUpdatedBy" class="SubAktivitasLogbookPenerimaanPenyaluran_LastUpdatedBy">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranList.LastUpdatedBy))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranList.lastUpdatedDate.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasLogbookPenerimaanPenyaluranList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluran_lastUpdatedDate" class="SubAktivitasLogbookPenerimaanPenyaluran_lastUpdatedDate">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranList.lastUpdatedDate))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranList.LO.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.LO.Visible (begin)
        <th data-name="LO" class="@(subAktivitasLogbookPenerimaanPenyaluranList.LO.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluran_LO" class="SubAktivitasLogbookPenerimaanPenyaluran_LO">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranList.LO))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranList.LO.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranList.NomorTangki.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.NomorTangki.Visible (begin)
        <th data-name="NomorTangki" class="@(subAktivitasLogbookPenerimaanPenyaluranList.NomorTangki.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluran_NomorTangki" class="SubAktivitasLogbookPenerimaanPenyaluran_NomorTangki">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranList.NomorTangki))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranList.NomorTangki.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranList.MeterAwal.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.MeterAwal.Visible (begin)
        <th data-name="MeterAwal" class="@(subAktivitasLogbookPenerimaanPenyaluranList.MeterAwal.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluran_MeterAwal" class="SubAktivitasLogbookPenerimaanPenyaluran_MeterAwal">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranList.MeterAwal))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranList.MeterAwal.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranList.MeterAkhir.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.MeterAkhir.Visible (begin)
        <th data-name="MeterAkhir" class="@(subAktivitasLogbookPenerimaanPenyaluranList.MeterAkhir.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluran_MeterAkhir" class="SubAktivitasLogbookPenerimaanPenyaluran_MeterAkhir">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranList.MeterAkhir))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranList.MeterAkhir.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranList.Volume.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.Volume.Visible (begin)
        <th data-name="Volume" class="@(subAktivitasLogbookPenerimaanPenyaluranList.Volume.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluran_Volume" class="SubAktivitasLogbookPenerimaanPenyaluran_Volume">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranList.Volume))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranList.Volume.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranList.BayNumber.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.BayNumber.Visible (begin)
        <th data-name="BayNumber" class="@(subAktivitasLogbookPenerimaanPenyaluranList.BayNumber.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluran_BayNumber" class="SubAktivitasLogbookPenerimaanPenyaluran_BayNumber">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranList.BayNumber))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranList.BayNumber.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranList.userInput.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasLogbookPenerimaanPenyaluranList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluran_userInput" class="SubAktivitasLogbookPenerimaanPenyaluran_userInput">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranList.userInput))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranList.userInput.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranList.NomorKompartment.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.NomorKompartment.Visible (begin)
        <th data-name="NomorKompartment" class="@(subAktivitasLogbookPenerimaanPenyaluranList.NomorKompartment.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluran_NomorKompartment" class="SubAktivitasLogbookPenerimaanPenyaluran_NomorKompartment">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranList.NomorKompartment))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranList.NomorKompartment.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranList.InLineBlending.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.InLineBlending.Visible (begin)
        <th data-name="InLineBlending" class="@(subAktivitasLogbookPenerimaanPenyaluranList.InLineBlending.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluran_InLineBlending" class="SubAktivitasLogbookPenerimaanPenyaluran_InLineBlending">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranList.InLineBlending))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranList.InLineBlending.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranList.NomorTangki2.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.NomorTangki2.Visible (begin)
        <th data-name="NomorTangki2" class="@(subAktivitasLogbookPenerimaanPenyaluranList.NomorTangki2.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluran_NomorTangki2" class="SubAktivitasLogbookPenerimaanPenyaluran_NomorTangki2">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranList.NomorTangki2))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranList.NomorTangki2.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranList.NoMeter.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.NoMeter.Visible (begin)
        <th data-name="NoMeter" class="@(subAktivitasLogbookPenerimaanPenyaluranList.NoMeter.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanPenyaluran_NoMeter" class="SubAktivitasLogbookPenerimaanPenyaluran_NoMeter">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.RenderFieldHeader(subAktivitasLogbookPenerimaanPenyaluranList.NoMeter))</div></th>
} @* subAktivitasLogbookPenerimaanPenyaluranList.NoMeter.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasLogbookPenerimaanPenyaluranList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasLogbookPenerimaanPenyaluranList.PageNumber)">
@{
    await subAktivitasLogbookPenerimaanPenyaluranList.SetupGrid();
    bool eof = subAktivitasLogbookPenerimaanPenyaluranList.Recordset == null; // DN
}
@while (subAktivitasLogbookPenerimaanPenyaluranList.RecordCount < subAktivitasLogbookPenerimaanPenyaluranList.StopRecord || SameString(subAktivitasLogbookPenerimaanPenyaluranList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasLogbookPenerimaanPenyaluranList.RowIndex, "$rowindex$") &&
        (!subAktivitasLogbookPenerimaanPenyaluranList.IsGridAdd || subAktivitasLogbookPenerimaanPenyaluranList.CurrentMode == "copy") &&
        (!((subAktivitasLogbookPenerimaanPenyaluranList.IsCopy || subAktivitasLogbookPenerimaanPenyaluranList.IsAdd) && subAktivitasLogbookPenerimaanPenyaluranList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasLogbookPenerimaanPenyaluranList.Recordset.ReadAsync();
    subAktivitasLogbookPenerimaanPenyaluranList.RecordCount++;
    if (subAktivitasLogbookPenerimaanPenyaluranList.RecordCount >= subAktivitasLogbookPenerimaanPenyaluranList.StartRecord) {
        await subAktivitasLogbookPenerimaanPenyaluranList.SetupRow();
    <tr @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasLogbookPenerimaanPenyaluranList.ListOptions.RenderBody("left", subAktivitasLogbookPenerimaanPenyaluranList.RowCount)
    @if (subAktivitasLogbookPenerimaanPenyaluranList.NoReferensi.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluran_NoReferensi" class="el_SubAktivitasLogbookPenerimaanPenyaluran_NoReferensi">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranList.NoReferensi.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanPenyaluranList.idProses.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluran_idProses" class="el_SubAktivitasLogbookPenerimaanPenyaluran_idProses">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranList.idProses.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanPenyaluranList.idAktifitas.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluran_idAktifitas" class="el_SubAktivitasLogbookPenerimaanPenyaluran_idAktifitas">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranList.idAktifitas.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanPenyaluranList.Produk.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.Produk.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluran_Produk" class="el_SubAktivitasLogbookPenerimaanPenyaluran_Produk">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranList.Produk.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanPenyaluranList.StatusAktivitas.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluran_StatusAktivitas" class="el_SubAktivitasLogbookPenerimaanPenyaluran_StatusAktivitas">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanPenyaluranList.LastUpdatedBy.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluran_LastUpdatedBy" class="el_SubAktivitasLogbookPenerimaanPenyaluran_LastUpdatedBy">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanPenyaluranList.lastUpdatedDate.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluran_lastUpdatedDate" class="el_SubAktivitasLogbookPenerimaanPenyaluran_lastUpdatedDate">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanPenyaluranList.LO.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.LO.Visible (begin)
        <td data-name="LO" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.LO.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluran_LO" class="el_SubAktivitasLogbookPenerimaanPenyaluran_LO">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.LO.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.LO.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranList.LO.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanPenyaluranList.NomorTangki.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.NomorTangki.Visible (begin)
        <td data-name="NomorTangki" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.NomorTangki.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluran_NomorTangki" class="el_SubAktivitasLogbookPenerimaanPenyaluran_NomorTangki">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.NomorTangki.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.NomorTangki.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranList.NomorTangki.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanPenyaluranList.MeterAwal.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.MeterAwal.Visible (begin)
        <td data-name="MeterAwal" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.MeterAwal.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluran_MeterAwal" class="el_SubAktivitasLogbookPenerimaanPenyaluran_MeterAwal">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.MeterAwal.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.MeterAwal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranList.MeterAwal.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanPenyaluranList.MeterAkhir.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.MeterAkhir.Visible (begin)
        <td data-name="MeterAkhir" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.MeterAkhir.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluran_MeterAkhir" class="el_SubAktivitasLogbookPenerimaanPenyaluran_MeterAkhir">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.MeterAkhir.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.MeterAkhir.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranList.MeterAkhir.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanPenyaluranList.Volume.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.Volume.Visible (begin)
        <td data-name="Volume" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.Volume.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluran_Volume" class="el_SubAktivitasLogbookPenerimaanPenyaluran_Volume">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.Volume.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.Volume.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranList.Volume.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanPenyaluranList.BayNumber.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.BayNumber.Visible (begin)
        <td data-name="BayNumber" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.BayNumber.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluran_BayNumber" class="el_SubAktivitasLogbookPenerimaanPenyaluran_BayNumber">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.BayNumber.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.BayNumber.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranList.BayNumber.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanPenyaluranList.userInput.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluran_userInput" class="el_SubAktivitasLogbookPenerimaanPenyaluran_userInput">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranList.userInput.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanPenyaluranList.NomorKompartment.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.NomorKompartment.Visible (begin)
        <td data-name="NomorKompartment" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.NomorKompartment.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluran_NomorKompartment" class="el_SubAktivitasLogbookPenerimaanPenyaluran_NomorKompartment">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.NomorKompartment.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.NomorKompartment.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranList.NomorKompartment.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanPenyaluranList.InLineBlending.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.InLineBlending.Visible (begin)
        <td data-name="InLineBlending" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.InLineBlending.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluran_InLineBlending" class="el_SubAktivitasLogbookPenerimaanPenyaluran_InLineBlending">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.InLineBlending.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(subAktivitasLogbookPenerimaanPenyaluranList.InLineBlending.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranList.InLineBlending.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanPenyaluranList.NomorTangki2.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.NomorTangki2.Visible (begin)
        <td data-name="NomorTangki2" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.NomorTangki2.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluran_NomorTangki2" class="el_SubAktivitasLogbookPenerimaanPenyaluran_NomorTangki2">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.NomorTangki2.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.NomorTangki2.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranList.NomorTangki2.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanPenyaluranList.NoMeter.Visible) { // subAktivitasLogbookPenerimaanPenyaluranList.NoMeter.Visible (begin)
        <td data-name="NoMeter" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.NoMeter.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanPenyaluranList.RowCount)_SubAktivitasLogbookPenerimaanPenyaluran_NoMeter" class="el_SubAktivitasLogbookPenerimaanPenyaluran_NoMeter">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.NoMeter.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.NoMeter.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanPenyaluranList.NoMeter.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasLogbookPenerimaanPenyaluranList.ListOptions.RenderBody("right", subAktivitasLogbookPenerimaanPenyaluranList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasLogbookPenerimaanPenyaluranList.RowIndex, "$rowindex$"))
        subAktivitasLogbookPenerimaanPenyaluranList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasLogbookPenerimaanPenyaluranList.IsCopy || subAktivitasLogbookPenerimaanPenyaluranList.IsAdd) && subAktivitasLogbookPenerimaanPenyaluranList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasLogbookPenerimaanPenyaluranList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasLogbookPenerimaanPenyaluranList.CurrentAction) && !subAktivitasLogbookPenerimaanPenyaluranList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasLogbookPenerimaanPenyaluranList.CloseRecordset(); }
@if (!subAktivitasLogbookPenerimaanPenyaluranList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasLogbookPenerimaanPenyaluranList.IsGridAdd && !(subAktivitasLogbookPenerimaanPenyaluranList.IsGridEdit && subAktivitasLogbookPenerimaanPenyaluranList.ModalGridEdit) && !subAktivitasLogbookPenerimaanPenyaluranList.IsMultiEdit) {
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasLogbookPenerimaanPenyaluranList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasLogbookPenerimaanPenyaluranList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasLogbookPenerimaanPenyaluranList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasLogbookPenerimaanPenyaluranList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasLogbookPenerimaanPenyaluranList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasLogbookPenerimaanPenyaluran");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
