@{
    // View
    View = this;

    // Check action result
    if (subAktivitasInputDataKapalStsPyrBbmList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasInputDataKapalStsPyrBbmList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasInputDataKapalStsPyrBbmList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasInputDataKapalStsPyrBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasInputDataKapalSTSPyrBBM: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasInputDataKapalStsPyrBbmList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasInputDataKapalStsPyrBbmList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasInputDataKapalStsPyrBbmList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasInputDataKapalStsPyrBbmList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasInputDataKapalStsPyrBbmList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasInputDataKapalStsPyrBbmList.TotalRecords > 0 && subAktivitasInputDataKapalStsPyrBbmList.ExportOptions.Visible) {
    subAktivitasInputDataKapalStsPyrBbmList.ExportOptions.Render("body");
}
@if (subAktivitasInputDataKapalStsPyrBbmList.ImportOptions.Visible) {
    subAktivitasInputDataKapalStsPyrBbmList.ImportOptions.Render("body");
}
@if (subAktivitasInputDataKapalStsPyrBbmList.SearchOptions.Visible) {
    subAktivitasInputDataKapalStsPyrBbmList.SearchOptions.Render("body");
}
@if (subAktivitasInputDataKapalStsPyrBbmList.FilterOptions.Visible) {
    subAktivitasInputDataKapalStsPyrBbmList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasInputDataKapalStsPyrBbmList.IsModal) {
<form name="fSubAktivitasInputDataKapalSTSPyrBBMsrch" id="fSubAktivitasInputDataKapalSTSPyrBBMsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasInputDataKapalSTSPyrBBMsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasInputDataKapalStsPyrBbmList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasInputDataKapalStsPyrBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasInputDataKapalSTSPyrBBM: currentTable } });
var currentForm;
var fSubAktivitasInputDataKapalSTSPyrBBMsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasInputDataKapalSTSPyrBBMsrch")
        .setPageId("list")
@if (subAktivitasInputDataKapalStsPyrBbmList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasInputDataKapalStsPyrBbmList.IsExport() && Empty(subAktivitasInputDataKapalStsPyrBbmList.CurrentAction) && subAktivitasInputDataKapalStsPyrBbmList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasInputDataKapalStsPyrBbmList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasInputDataKapalStsPyrBbmList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasInputDataKapalStsPyrBbmList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasInputDataKapalSTSPyrBBMsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasInputDataKapalStsPyrBbmList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasInputDataKapalSTSPyrBBMsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasInputDataKapalStsPyrBbmList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasInputDataKapalSTSPyrBBMsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasInputDataKapalStsPyrBbmList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasInputDataKapalSTSPyrBBMsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasInputDataKapalStsPyrBbmList.ShowPageHeader()
@subAktivitasInputDataKapalStsPyrBbmList.ShowMessages()
<main class="list @(subAktivitasInputDataKapalStsPyrBbmList.TotalRecords == 0 && !subAktivitasInputDataKapalStsPyrBbmList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasInputDataKapalStsPyrBbmList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasInputDataKapalStsPyrBbmList.TotalRecords > 0 || !Empty(subAktivitasInputDataKapalStsPyrBbmList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasInputDataKapalStsPyrBbmList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasInputDataKapalStsPyrBbmList.TableGridClass)">
<form name="@(subAktivitasInputDataKapalStsPyrBbmList.FormName)" id="@(subAktivitasInputDataKapalStsPyrBbmList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasInputDataKapalStsPyrBbmList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasInputDataKapalStsPyrBbmList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasInputDataKapalSTSPyrBBM" class="card-body ew-grid-middle-panel @(subAktivitasInputDataKapalStsPyrBbmList.TableContainerClass)" style="@(subAktivitasInputDataKapalStsPyrBbmList.TableContainerStyle)">
@if (subAktivitasInputDataKapalStsPyrBbmList.TotalRecords > 0 || subAktivitasInputDataKapalStsPyrBbmList.IsGridEdit || subAktivitasInputDataKapalStsPyrBbmList.IsMultiEdit) {
<table id="tbl_SubAktivitasInputDataKapalSTSPyrBBMlist" class="@(subAktivitasInputDataKapalStsPyrBbmList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasInputDataKapalStsPyrBbmList.RowType = RowType.Header;

    // Render list options
    await subAktivitasInputDataKapalStsPyrBbmList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasInputDataKapalStsPyrBbmList.ListOptions.RenderHeader("left")
@if (subAktivitasInputDataKapalStsPyrBbmList.id.Visible) { // subAktivitasInputDataKapalStsPyrBbmList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasInputDataKapalStsPyrBbmList.id.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalSTSPyrBBM_id" class="SubAktivitasInputDataKapalSTSPyrBBM_id">@Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.RenderFieldHeader(subAktivitasInputDataKapalStsPyrBbmList.id))</div></th>
} @* subAktivitasInputDataKapalStsPyrBbmList.id.Visible (end) *@
@if (subAktivitasInputDataKapalStsPyrBbmList.NoReferensi.Visible) { // subAktivitasInputDataKapalStsPyrBbmList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasInputDataKapalStsPyrBbmList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalSTSPyrBBM_NoReferensi" class="SubAktivitasInputDataKapalSTSPyrBBM_NoReferensi">@Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.RenderFieldHeader(subAktivitasInputDataKapalStsPyrBbmList.NoReferensi))</div></th>
} @* subAktivitasInputDataKapalStsPyrBbmList.NoReferensi.Visible (end) *@
@if (subAktivitasInputDataKapalStsPyrBbmList.idProses.Visible) { // subAktivitasInputDataKapalStsPyrBbmList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasInputDataKapalStsPyrBbmList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalSTSPyrBBM_idProses" class="SubAktivitasInputDataKapalSTSPyrBBM_idProses">@Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.RenderFieldHeader(subAktivitasInputDataKapalStsPyrBbmList.idProses))</div></th>
} @* subAktivitasInputDataKapalStsPyrBbmList.idProses.Visible (end) *@
@if (subAktivitasInputDataKapalStsPyrBbmList.idAktifitas.Visible) { // subAktivitasInputDataKapalStsPyrBbmList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasInputDataKapalStsPyrBbmList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalSTSPyrBBM_idAktifitas" class="SubAktivitasInputDataKapalSTSPyrBBM_idAktifitas">@Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.RenderFieldHeader(subAktivitasInputDataKapalStsPyrBbmList.idAktifitas))</div></th>
} @* subAktivitasInputDataKapalStsPyrBbmList.idAktifitas.Visible (end) *@
@if (subAktivitasInputDataKapalStsPyrBbmList.StatusAktivitas.Visible) { // subAktivitasInputDataKapalStsPyrBbmList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasInputDataKapalStsPyrBbmList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalSTSPyrBBM_StatusAktivitas" class="SubAktivitasInputDataKapalSTSPyrBBM_StatusAktivitas">@Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.RenderFieldHeader(subAktivitasInputDataKapalStsPyrBbmList.StatusAktivitas))</div></th>
} @* subAktivitasInputDataKapalStsPyrBbmList.StatusAktivitas.Visible (end) *@
@if (subAktivitasInputDataKapalStsPyrBbmList.LastUpdatedBy.Visible) { // subAktivitasInputDataKapalStsPyrBbmList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasInputDataKapalStsPyrBbmList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalSTSPyrBBM_LastUpdatedBy" class="SubAktivitasInputDataKapalSTSPyrBBM_LastUpdatedBy">@Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.RenderFieldHeader(subAktivitasInputDataKapalStsPyrBbmList.LastUpdatedBy))</div></th>
} @* subAktivitasInputDataKapalStsPyrBbmList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasInputDataKapalStsPyrBbmList.lastUpdatedDate.Visible) { // subAktivitasInputDataKapalStsPyrBbmList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasInputDataKapalStsPyrBbmList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalSTSPyrBBM_lastUpdatedDate" class="SubAktivitasInputDataKapalSTSPyrBBM_lastUpdatedDate">@Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.RenderFieldHeader(subAktivitasInputDataKapalStsPyrBbmList.lastUpdatedDate))</div></th>
} @* subAktivitasInputDataKapalStsPyrBbmList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasInputDataKapalStsPyrBbmList.NamaKapal.Visible) { // subAktivitasInputDataKapalStsPyrBbmList.NamaKapal.Visible (begin)
        <th data-name="NamaKapal" class="@(subAktivitasInputDataKapalStsPyrBbmList.NamaKapal.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalSTSPyrBBM_NamaKapal" class="SubAktivitasInputDataKapalSTSPyrBBM_NamaKapal">@Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.RenderFieldHeader(subAktivitasInputDataKapalStsPyrBbmList.NamaKapal))</div></th>
} @* subAktivitasInputDataKapalStsPyrBbmList.NamaKapal.Visible (end) *@
@if (subAktivitasInputDataKapalStsPyrBbmList.JenisProduk.Visible) { // subAktivitasInputDataKapalStsPyrBbmList.JenisProduk.Visible (begin)
        <th data-name="JenisProduk" class="@(subAktivitasInputDataKapalStsPyrBbmList.JenisProduk.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalSTSPyrBBM_JenisProduk" class="SubAktivitasInputDataKapalSTSPyrBBM_JenisProduk">@Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.RenderFieldHeader(subAktivitasInputDataKapalStsPyrBbmList.JenisProduk))</div></th>
} @* subAktivitasInputDataKapalStsPyrBbmList.JenisProduk.Visible (end) *@
@if (subAktivitasInputDataKapalStsPyrBbmList.Nominasi.Visible) { // subAktivitasInputDataKapalStsPyrBbmList.Nominasi.Visible (begin)
        <th data-name="Nominasi" class="@(subAktivitasInputDataKapalStsPyrBbmList.Nominasi.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalSTSPyrBBM_Nominasi" class="SubAktivitasInputDataKapalSTSPyrBBM_Nominasi">@Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.RenderFieldHeader(subAktivitasInputDataKapalStsPyrBbmList.Nominasi))</div></th>
} @* subAktivitasInputDataKapalStsPyrBbmList.Nominasi.Visible (end) *@
@if (subAktivitasInputDataKapalStsPyrBbmList.VoyageNumber.Visible) { // subAktivitasInputDataKapalStsPyrBbmList.VoyageNumber.Visible (begin)
        <th data-name="VoyageNumber" class="@(subAktivitasInputDataKapalStsPyrBbmList.VoyageNumber.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalSTSPyrBBM_VoyageNumber" class="SubAktivitasInputDataKapalSTSPyrBBM_VoyageNumber">@Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.RenderFieldHeader(subAktivitasInputDataKapalStsPyrBbmList.VoyageNumber))</div></th>
} @* subAktivitasInputDataKapalStsPyrBbmList.VoyageNumber.Visible (end) *@
@if (subAktivitasInputDataKapalStsPyrBbmList.TanggalTiba.Visible) { // subAktivitasInputDataKapalStsPyrBbmList.TanggalTiba.Visible (begin)
        <th data-name="TanggalTiba" class="@(subAktivitasInputDataKapalStsPyrBbmList.TanggalTiba.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalSTSPyrBBM_TanggalTiba" class="SubAktivitasInputDataKapalSTSPyrBBM_TanggalTiba">@Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.RenderFieldHeader(subAktivitasInputDataKapalStsPyrBbmList.TanggalTiba))</div></th>
} @* subAktivitasInputDataKapalStsPyrBbmList.TanggalTiba.Visible (end) *@
@if (subAktivitasInputDataKapalStsPyrBbmList.userInput.Visible) { // subAktivitasInputDataKapalStsPyrBbmList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasInputDataKapalStsPyrBbmList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalSTSPyrBBM_userInput" class="SubAktivitasInputDataKapalSTSPyrBBM_userInput">@Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.RenderFieldHeader(subAktivitasInputDataKapalStsPyrBbmList.userInput))</div></th>
} @* subAktivitasInputDataKapalStsPyrBbmList.userInput.Visible (end) *@
@if (subAktivitasInputDataKapalStsPyrBbmList.etlDate.Visible) { // subAktivitasInputDataKapalStsPyrBbmList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasInputDataKapalStsPyrBbmList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalSTSPyrBBM_etlDate" class="SubAktivitasInputDataKapalSTSPyrBBM_etlDate">@Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.RenderFieldHeader(subAktivitasInputDataKapalStsPyrBbmList.etlDate))</div></th>
} @* subAktivitasInputDataKapalStsPyrBbmList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasInputDataKapalStsPyrBbmList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasInputDataKapalStsPyrBbmList.PageNumber)">
@{
    await subAktivitasInputDataKapalStsPyrBbmList.SetupGrid();
    bool eof = subAktivitasInputDataKapalStsPyrBbmList.Recordset == null; // DN
}
@while (subAktivitasInputDataKapalStsPyrBbmList.RecordCount < subAktivitasInputDataKapalStsPyrBbmList.StopRecord || SameString(subAktivitasInputDataKapalStsPyrBbmList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasInputDataKapalStsPyrBbmList.RowIndex, "$rowindex$") &&
        (!subAktivitasInputDataKapalStsPyrBbmList.IsGridAdd || subAktivitasInputDataKapalStsPyrBbmList.CurrentMode == "copy") &&
        (!((subAktivitasInputDataKapalStsPyrBbmList.IsCopy || subAktivitasInputDataKapalStsPyrBbmList.IsAdd) && subAktivitasInputDataKapalStsPyrBbmList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasInputDataKapalStsPyrBbmList.Recordset.ReadAsync();
    subAktivitasInputDataKapalStsPyrBbmList.RecordCount++;
    if (subAktivitasInputDataKapalStsPyrBbmList.RecordCount >= subAktivitasInputDataKapalStsPyrBbmList.StartRecord) {
        await subAktivitasInputDataKapalStsPyrBbmList.SetupRow();
    <tr @Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasInputDataKapalStsPyrBbmList.ListOptions.RenderBody("left", subAktivitasInputDataKapalStsPyrBbmList.RowCount)
    @if (subAktivitasInputDataKapalStsPyrBbmList.id.Visible) { // subAktivitasInputDataKapalStsPyrBbmList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.id.CellAttributes)>
<span id="el@(subAktivitasInputDataKapalStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputDataKapalStsPyrBbmList.RowCount)_SubAktivitasInputDataKapalSTSPyrBBM_id" class="el_SubAktivitasInputDataKapalSTSPyrBBM_id">
<span @Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.id.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalStsPyrBbmList.id.Visible (end) *@
    @if (subAktivitasInputDataKapalStsPyrBbmList.NoReferensi.Visible) { // subAktivitasInputDataKapalStsPyrBbmList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasInputDataKapalStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputDataKapalStsPyrBbmList.RowCount)_SubAktivitasInputDataKapalSTSPyrBBM_NoReferensi" class="el_SubAktivitasInputDataKapalSTSPyrBBM_NoReferensi">
<span @Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalStsPyrBbmList.NoReferensi.Visible (end) *@
    @if (subAktivitasInputDataKapalStsPyrBbmList.idProses.Visible) { // subAktivitasInputDataKapalStsPyrBbmList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.idProses.CellAttributes)>
<span id="el@(subAktivitasInputDataKapalStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputDataKapalStsPyrBbmList.RowCount)_SubAktivitasInputDataKapalSTSPyrBBM_idProses" class="el_SubAktivitasInputDataKapalSTSPyrBBM_idProses">
<span @Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalStsPyrBbmList.idProses.Visible (end) *@
    @if (subAktivitasInputDataKapalStsPyrBbmList.idAktifitas.Visible) { // subAktivitasInputDataKapalStsPyrBbmList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasInputDataKapalStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputDataKapalStsPyrBbmList.RowCount)_SubAktivitasInputDataKapalSTSPyrBBM_idAktifitas" class="el_SubAktivitasInputDataKapalSTSPyrBBM_idAktifitas">
<span @Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalStsPyrBbmList.idAktifitas.Visible (end) *@
    @if (subAktivitasInputDataKapalStsPyrBbmList.StatusAktivitas.Visible) { // subAktivitasInputDataKapalStsPyrBbmList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasInputDataKapalStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputDataKapalStsPyrBbmList.RowCount)_SubAktivitasInputDataKapalSTSPyrBBM_StatusAktivitas" class="el_SubAktivitasInputDataKapalSTSPyrBBM_StatusAktivitas">
<span @Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalStsPyrBbmList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasInputDataKapalStsPyrBbmList.LastUpdatedBy.Visible) { // subAktivitasInputDataKapalStsPyrBbmList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasInputDataKapalStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputDataKapalStsPyrBbmList.RowCount)_SubAktivitasInputDataKapalSTSPyrBBM_LastUpdatedBy" class="el_SubAktivitasInputDataKapalSTSPyrBBM_LastUpdatedBy">
<span @Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalStsPyrBbmList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasInputDataKapalStsPyrBbmList.lastUpdatedDate.Visible) { // subAktivitasInputDataKapalStsPyrBbmList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasInputDataKapalStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputDataKapalStsPyrBbmList.RowCount)_SubAktivitasInputDataKapalSTSPyrBBM_lastUpdatedDate" class="el_SubAktivitasInputDataKapalSTSPyrBBM_lastUpdatedDate">
<span @Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalStsPyrBbmList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasInputDataKapalStsPyrBbmList.NamaKapal.Visible) { // subAktivitasInputDataKapalStsPyrBbmList.NamaKapal.Visible (begin)
        <td data-name="NamaKapal" @Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.NamaKapal.CellAttributes)>
<span id="el@(subAktivitasInputDataKapalStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputDataKapalStsPyrBbmList.RowCount)_SubAktivitasInputDataKapalSTSPyrBBM_NamaKapal" class="el_SubAktivitasInputDataKapalSTSPyrBBM_NamaKapal">
<span @Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.NamaKapal.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.NamaKapal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalStsPyrBbmList.NamaKapal.Visible (end) *@
    @if (subAktivitasInputDataKapalStsPyrBbmList.JenisProduk.Visible) { // subAktivitasInputDataKapalStsPyrBbmList.JenisProduk.Visible (begin)
        <td data-name="JenisProduk" @Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.JenisProduk.CellAttributes)>
<span id="el@(subAktivitasInputDataKapalStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputDataKapalStsPyrBbmList.RowCount)_SubAktivitasInputDataKapalSTSPyrBBM_JenisProduk" class="el_SubAktivitasInputDataKapalSTSPyrBBM_JenisProduk">
<span @Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.JenisProduk.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.JenisProduk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalStsPyrBbmList.JenisProduk.Visible (end) *@
    @if (subAktivitasInputDataKapalStsPyrBbmList.Nominasi.Visible) { // subAktivitasInputDataKapalStsPyrBbmList.Nominasi.Visible (begin)
        <td data-name="Nominasi" @Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.Nominasi.CellAttributes)>
<span id="el@(subAktivitasInputDataKapalStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputDataKapalStsPyrBbmList.RowCount)_SubAktivitasInputDataKapalSTSPyrBBM_Nominasi" class="el_SubAktivitasInputDataKapalSTSPyrBBM_Nominasi">
<span @Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.Nominasi.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.Nominasi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalStsPyrBbmList.Nominasi.Visible (end) *@
    @if (subAktivitasInputDataKapalStsPyrBbmList.VoyageNumber.Visible) { // subAktivitasInputDataKapalStsPyrBbmList.VoyageNumber.Visible (begin)
        <td data-name="VoyageNumber" @Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.VoyageNumber.CellAttributes)>
<span id="el@(subAktivitasInputDataKapalStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputDataKapalStsPyrBbmList.RowCount)_SubAktivitasInputDataKapalSTSPyrBBM_VoyageNumber" class="el_SubAktivitasInputDataKapalSTSPyrBBM_VoyageNumber">
<span @Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.VoyageNumber.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.VoyageNumber.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalStsPyrBbmList.VoyageNumber.Visible (end) *@
    @if (subAktivitasInputDataKapalStsPyrBbmList.TanggalTiba.Visible) { // subAktivitasInputDataKapalStsPyrBbmList.TanggalTiba.Visible (begin)
        <td data-name="TanggalTiba" @Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.TanggalTiba.CellAttributes)>
<span id="el@(subAktivitasInputDataKapalStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputDataKapalStsPyrBbmList.RowCount)_SubAktivitasInputDataKapalSTSPyrBBM_TanggalTiba" class="el_SubAktivitasInputDataKapalSTSPyrBBM_TanggalTiba">
<span @Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.TanggalTiba.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.TanggalTiba.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalStsPyrBbmList.TanggalTiba.Visible (end) *@
    @if (subAktivitasInputDataKapalStsPyrBbmList.userInput.Visible) { // subAktivitasInputDataKapalStsPyrBbmList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.userInput.CellAttributes)>
<span id="el@(subAktivitasInputDataKapalStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputDataKapalStsPyrBbmList.RowCount)_SubAktivitasInputDataKapalSTSPyrBBM_userInput" class="el_SubAktivitasInputDataKapalSTSPyrBBM_userInput">
<span @Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalStsPyrBbmList.userInput.Visible (end) *@
    @if (subAktivitasInputDataKapalStsPyrBbmList.etlDate.Visible) { // subAktivitasInputDataKapalStsPyrBbmList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.etlDate.CellAttributes)>
<span id="el@(subAktivitasInputDataKapalStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputDataKapalStsPyrBbmList.RowCount)_SubAktivitasInputDataKapalSTSPyrBBM_etlDate" class="el_SubAktivitasInputDataKapalSTSPyrBBM_etlDate">
<span @Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalStsPyrBbmList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasInputDataKapalStsPyrBbmList.ListOptions.RenderBody("right", subAktivitasInputDataKapalStsPyrBbmList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasInputDataKapalStsPyrBbmList.RowIndex, "$rowindex$"))
        subAktivitasInputDataKapalStsPyrBbmList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasInputDataKapalStsPyrBbmList.IsCopy || subAktivitasInputDataKapalStsPyrBbmList.IsAdd) && subAktivitasInputDataKapalStsPyrBbmList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasInputDataKapalStsPyrBbmList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasInputDataKapalStsPyrBbmList.CurrentAction) && !subAktivitasInputDataKapalStsPyrBbmList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasInputDataKapalStsPyrBbmList.CloseRecordset(); }
@if (!subAktivitasInputDataKapalStsPyrBbmList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasInputDataKapalStsPyrBbmList.IsGridAdd && !(subAktivitasInputDataKapalStsPyrBbmList.IsGridEdit && subAktivitasInputDataKapalStsPyrBbmList.ModalGridEdit) && !subAktivitasInputDataKapalStsPyrBbmList.IsMultiEdit) {
@Html.Raw(subAktivitasInputDataKapalStsPyrBbmList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasInputDataKapalStsPyrBbmList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasInputDataKapalStsPyrBbmList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasInputDataKapalStsPyrBbmList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasInputDataKapalStsPyrBbmList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasInputDataKapalStsPyrBbmList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasInputDataKapalSTSPyrBBM");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
