@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiNewBlsfadsfbllpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiNewBlsfadsfbllpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasNilaiNewBlsfadsfbllpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiNewBlsfadsfbllpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiNewBLSFADSFBLLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasNilaiNewBlsfadsfbllpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasNilaiNewBlsfadsfbllpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasNilaiNewBlsfadsfbllpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasNilaiNewBlsfadsfbllpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasNilaiNewBlsfadsfbllpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasNilaiNewBlsfadsfbllpgList.TotalRecords > 0 && subAktivitasNilaiNewBlsfadsfbllpgList.ExportOptions.Visible) {
    subAktivitasNilaiNewBlsfadsfbllpgList.ExportOptions.Render("body");
}
@if (subAktivitasNilaiNewBlsfadsfbllpgList.ImportOptions.Visible) {
    subAktivitasNilaiNewBlsfadsfbllpgList.ImportOptions.Render("body");
}
@if (subAktivitasNilaiNewBlsfadsfbllpgList.SearchOptions.Visible) {
    subAktivitasNilaiNewBlsfadsfbllpgList.SearchOptions.Render("body");
}
@if (subAktivitasNilaiNewBlsfadsfbllpgList.FilterOptions.Visible) {
    subAktivitasNilaiNewBlsfadsfbllpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasNilaiNewBlsfadsfbllpgList.IsModal) {
<form name="fSubAktivitasNilaiNewBLSFADSFBLLPGsrch" id="fSubAktivitasNilaiNewBLSFADSFBLLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasNilaiNewBLSFADSFBLLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasNilaiNewBlsfadsfbllpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiNewBlsfadsfbllpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiNewBLSFADSFBLLPG: currentTable } });
var currentForm;
var fSubAktivitasNilaiNewBLSFADSFBLLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiNewBLSFADSFBLLPGsrch")
        .setPageId("list")
@if (subAktivitasNilaiNewBlsfadsfbllpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasNilaiNewBlsfadsfbllpgList.IsExport() && Empty(subAktivitasNilaiNewBlsfadsfbllpgList.CurrentAction) && subAktivitasNilaiNewBlsfadsfbllpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasNilaiNewBlsfadsfbllpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasNilaiNewBlsfadsfbllpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasNilaiNewBlsfadsfbllpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasNilaiNewBLSFADSFBLLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiNewBlsfadsfbllpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasNilaiNewBLSFADSFBLLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiNewBlsfadsfbllpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasNilaiNewBLSFADSFBLLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiNewBlsfadsfbllpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasNilaiNewBLSFADSFBLLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasNilaiNewBlsfadsfbllpgList.ShowPageHeader()
@subAktivitasNilaiNewBlsfadsfbllpgList.ShowMessages()
<main class="list @(subAktivitasNilaiNewBlsfadsfbllpgList.TotalRecords == 0 && !subAktivitasNilaiNewBlsfadsfbllpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasNilaiNewBlsfadsfbllpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasNilaiNewBlsfadsfbllpgList.TotalRecords > 0 || !Empty(subAktivitasNilaiNewBlsfadsfbllpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasNilaiNewBlsfadsfbllpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasNilaiNewBlsfadsfbllpgList.TableGridClass)">
<form name="@(subAktivitasNilaiNewBlsfadsfbllpgList.FormName)" id="@(subAktivitasNilaiNewBlsfadsfbllpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasNilaiNewBlsfadsfbllpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasNilaiNewBlsfadsfbllpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasNilaiNewBLSFADSFBLLPG" class="card-body ew-grid-middle-panel @(subAktivitasNilaiNewBlsfadsfbllpgList.TableContainerClass)" style="@(subAktivitasNilaiNewBlsfadsfbllpgList.TableContainerStyle)">
@if (subAktivitasNilaiNewBlsfadsfbllpgList.TotalRecords > 0 || subAktivitasNilaiNewBlsfadsfbllpgList.IsGridEdit || subAktivitasNilaiNewBlsfadsfbllpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasNilaiNewBLSFADSFBLLPGlist" class="@(subAktivitasNilaiNewBlsfadsfbllpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasNilaiNewBlsfadsfbllpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasNilaiNewBlsfadsfbllpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasNilaiNewBlsfadsfbllpgList.ListOptions.RenderHeader("left")
@if (subAktivitasNilaiNewBlsfadsfbllpgList.id.Visible) { // subAktivitasNilaiNewBlsfadsfbllpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasNilaiNewBlsfadsfbllpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLLPG_id" class="SubAktivitasNilaiNewBLSFADSFBLLPG_id">@Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfbllpgList.id))</div></th>
} @* subAktivitasNilaiNewBlsfadsfbllpgList.id.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfbllpgList.NoReferensi.Visible) { // subAktivitasNilaiNewBlsfadsfbllpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasNilaiNewBlsfadsfbllpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLLPG_NoReferensi" class="SubAktivitasNilaiNewBLSFADSFBLLPG_NoReferensi">@Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfbllpgList.NoReferensi))</div></th>
} @* subAktivitasNilaiNewBlsfadsfbllpgList.NoReferensi.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfbllpgList.idProses.Visible) { // subAktivitasNilaiNewBlsfadsfbllpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasNilaiNewBlsfadsfbllpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLLPG_idProses" class="SubAktivitasNilaiNewBLSFADSFBLLPG_idProses">@Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfbllpgList.idProses))</div></th>
} @* subAktivitasNilaiNewBlsfadsfbllpgList.idProses.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfbllpgList.idAktifitas.Visible) { // subAktivitasNilaiNewBlsfadsfbllpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasNilaiNewBlsfadsfbllpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLLPG_idAktifitas" class="SubAktivitasNilaiNewBLSFADSFBLLPG_idAktifitas">@Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfbllpgList.idAktifitas))</div></th>
} @* subAktivitasNilaiNewBlsfadsfbllpgList.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfbllpgList.LastUpdatedBy.Visible) { // subAktivitasNilaiNewBlsfadsfbllpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasNilaiNewBlsfadsfbllpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLLPG_LastUpdatedBy" class="SubAktivitasNilaiNewBLSFADSFBLLPG_LastUpdatedBy">@Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfbllpgList.LastUpdatedBy))</div></th>
} @* subAktivitasNilaiNewBlsfadsfbllpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfbllpgList.lastUpdatedDate.Visible) { // subAktivitasNilaiNewBlsfadsfbllpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasNilaiNewBlsfadsfbllpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLLPG_lastUpdatedDate" class="SubAktivitasNilaiNewBLSFADSFBLLPG_lastUpdatedDate">@Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfbllpgList.lastUpdatedDate))</div></th>
} @* subAktivitasNilaiNewBlsfadsfbllpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfbllpgList.NewBL_MT.Visible) { // subAktivitasNilaiNewBlsfadsfbllpgList.NewBL_MT.Visible (begin)
        <th data-name="NewBL_MT" class="@(subAktivitasNilaiNewBlsfadsfbllpgList.NewBL_MT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLLPG_NewBL_MT" class="SubAktivitasNilaiNewBLSFADSFBLLPG_NewBL_MT">@Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfbllpgList.NewBL_MT))</div></th>
} @* subAktivitasNilaiNewBlsfadsfbllpgList.NewBL_MT.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfbllpgList.SFAD_MT.Visible) { // subAktivitasNilaiNewBlsfadsfbllpgList.SFAD_MT.Visible (begin)
        <th data-name="SFAD_MT" class="@(subAktivitasNilaiNewBlsfadsfbllpgList.SFAD_MT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLLPG_SFAD_MT" class="SubAktivitasNilaiNewBLSFADSFBLLPG_SFAD_MT">@Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfbllpgList.SFAD_MT))</div></th>
} @* subAktivitasNilaiNewBlsfadsfbllpgList.SFAD_MT.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfbllpgList.SFBL_MT.Visible) { // subAktivitasNilaiNewBlsfadsfbllpgList.SFBL_MT.Visible (begin)
        <th data-name="SFBL_MT" class="@(subAktivitasNilaiNewBlsfadsfbllpgList.SFBL_MT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLLPG_SFBL_MT" class="SubAktivitasNilaiNewBLSFADSFBLLPG_SFBL_MT">@Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfbllpgList.SFBL_MT))</div></th>
} @* subAktivitasNilaiNewBlsfadsfbllpgList.SFBL_MT.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfbllpgList.ExROB.Visible) { // subAktivitasNilaiNewBlsfadsfbllpgList.ExROB.Visible (begin)
        <th data-name="ExROB" class="@(subAktivitasNilaiNewBlsfadsfbllpgList.ExROB.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLLPG_ExROB" class="SubAktivitasNilaiNewBLSFADSFBLLPG_ExROB">@Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfbllpgList.ExROB))</div></th>
} @* subAktivitasNilaiNewBlsfadsfbllpgList.ExROB.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfbllpgList.NoPenerimaan.Visible) { // subAktivitasNilaiNewBlsfadsfbllpgList.NoPenerimaan.Visible (begin)
        <th data-name="NoPenerimaan" class="@(subAktivitasNilaiNewBlsfadsfbllpgList.NoPenerimaan.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLLPG_NoPenerimaan" class="SubAktivitasNilaiNewBLSFADSFBLLPG_NoPenerimaan">@Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfbllpgList.NoPenerimaan))</div></th>
} @* subAktivitasNilaiNewBlsfadsfbllpgList.NoPenerimaan.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfbllpgList.userInput.Visible) { // subAktivitasNilaiNewBlsfadsfbllpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasNilaiNewBlsfadsfbllpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLLPG_userInput" class="SubAktivitasNilaiNewBLSFADSFBLLPG_userInput">@Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfbllpgList.userInput))</div></th>
} @* subAktivitasNilaiNewBlsfadsfbllpgList.userInput.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfbllpgList.etlDate.Visible) { // subAktivitasNilaiNewBlsfadsfbllpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasNilaiNewBlsfadsfbllpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLLPG_etlDate" class="SubAktivitasNilaiNewBLSFADSFBLLPG_etlDate">@Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfbllpgList.etlDate))</div></th>
} @* subAktivitasNilaiNewBlsfadsfbllpgList.etlDate.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfbllpgList.StatusAktivitas.Visible) { // subAktivitasNilaiNewBlsfadsfbllpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasNilaiNewBlsfadsfbllpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLLPG_StatusAktivitas" class="SubAktivitasNilaiNewBLSFADSFBLLPG_StatusAktivitas">@Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfbllpgList.StatusAktivitas))</div></th>
} @* subAktivitasNilaiNewBlsfadsfbllpgList.StatusAktivitas.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasNilaiNewBlsfadsfbllpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasNilaiNewBlsfadsfbllpgList.PageNumber)">
@{
    await subAktivitasNilaiNewBlsfadsfbllpgList.SetupGrid();
    bool eof = subAktivitasNilaiNewBlsfadsfbllpgList.Recordset == null; // DN
}
@while (subAktivitasNilaiNewBlsfadsfbllpgList.RecordCount < subAktivitasNilaiNewBlsfadsfbllpgList.StopRecord || SameString(subAktivitasNilaiNewBlsfadsfbllpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasNilaiNewBlsfadsfbllpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasNilaiNewBlsfadsfbllpgList.IsGridAdd || subAktivitasNilaiNewBlsfadsfbllpgList.CurrentMode == "copy") &&
        (!((subAktivitasNilaiNewBlsfadsfbllpgList.IsCopy || subAktivitasNilaiNewBlsfadsfbllpgList.IsAdd) && subAktivitasNilaiNewBlsfadsfbllpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasNilaiNewBlsfadsfbllpgList.Recordset.ReadAsync();
    subAktivitasNilaiNewBlsfadsfbllpgList.RecordCount++;
    if (subAktivitasNilaiNewBlsfadsfbllpgList.RecordCount >= subAktivitasNilaiNewBlsfadsfbllpgList.StartRecord) {
        await subAktivitasNilaiNewBlsfadsfbllpgList.SetupRow();
    <tr @Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasNilaiNewBlsfadsfbllpgList.ListOptions.RenderBody("left", subAktivitasNilaiNewBlsfadsfbllpgList.RowCount)
    @if (subAktivitasNilaiNewBlsfadsfbllpgList.id.Visible) { // subAktivitasNilaiNewBlsfadsfbllpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.id.CellAttributes)>
<span id="el@(subAktivitasNilaiNewBlsfadsfbllpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfbllpgList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLLPG_id" class="el_SubAktivitasNilaiNewBLSFADSFBLLPG_id">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfbllpgList.id.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfbllpgList.NoReferensi.Visible) { // subAktivitasNilaiNewBlsfadsfbllpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasNilaiNewBlsfadsfbllpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfbllpgList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLLPG_NoReferensi" class="el_SubAktivitasNilaiNewBLSFADSFBLLPG_NoReferensi">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfbllpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfbllpgList.idProses.Visible) { // subAktivitasNilaiNewBlsfadsfbllpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.idProses.CellAttributes)>
<span id="el@(subAktivitasNilaiNewBlsfadsfbllpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfbllpgList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLLPG_idProses" class="el_SubAktivitasNilaiNewBLSFADSFBLLPG_idProses">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfbllpgList.idProses.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfbllpgList.idAktifitas.Visible) { // subAktivitasNilaiNewBlsfadsfbllpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasNilaiNewBlsfadsfbllpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfbllpgList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLLPG_idAktifitas" class="el_SubAktivitasNilaiNewBLSFADSFBLLPG_idAktifitas">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfbllpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfbllpgList.LastUpdatedBy.Visible) { // subAktivitasNilaiNewBlsfadsfbllpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasNilaiNewBlsfadsfbllpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfbllpgList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLLPG_LastUpdatedBy" class="el_SubAktivitasNilaiNewBLSFADSFBLLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfbllpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfbllpgList.lastUpdatedDate.Visible) { // subAktivitasNilaiNewBlsfadsfbllpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasNilaiNewBlsfadsfbllpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfbllpgList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLLPG_lastUpdatedDate" class="el_SubAktivitasNilaiNewBLSFADSFBLLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfbllpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfbllpgList.NewBL_MT.Visible) { // subAktivitasNilaiNewBlsfadsfbllpgList.NewBL_MT.Visible (begin)
        <td data-name="NewBL_MT" @Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.NewBL_MT.CellAttributes)>
<span id="el@(subAktivitasNilaiNewBlsfadsfbllpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfbllpgList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLLPG_NewBL_MT" class="el_SubAktivitasNilaiNewBLSFADSFBLLPG_NewBL_MT">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.NewBL_MT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.NewBL_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfbllpgList.NewBL_MT.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfbllpgList.SFAD_MT.Visible) { // subAktivitasNilaiNewBlsfadsfbllpgList.SFAD_MT.Visible (begin)
        <td data-name="SFAD_MT" @Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.SFAD_MT.CellAttributes)>
<span id="el@(subAktivitasNilaiNewBlsfadsfbllpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfbllpgList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLLPG_SFAD_MT" class="el_SubAktivitasNilaiNewBLSFADSFBLLPG_SFAD_MT">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.SFAD_MT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.SFAD_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfbllpgList.SFAD_MT.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfbllpgList.SFBL_MT.Visible) { // subAktivitasNilaiNewBlsfadsfbllpgList.SFBL_MT.Visible (begin)
        <td data-name="SFBL_MT" @Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.SFBL_MT.CellAttributes)>
<span id="el@(subAktivitasNilaiNewBlsfadsfbllpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfbllpgList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLLPG_SFBL_MT" class="el_SubAktivitasNilaiNewBLSFADSFBLLPG_SFBL_MT">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.SFBL_MT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.SFBL_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfbllpgList.SFBL_MT.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfbllpgList.ExROB.Visible) { // subAktivitasNilaiNewBlsfadsfbllpgList.ExROB.Visible (begin)
        <td data-name="ExROB" @Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.ExROB.CellAttributes)>
<span id="el@(subAktivitasNilaiNewBlsfadsfbllpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfbllpgList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLLPG_ExROB" class="el_SubAktivitasNilaiNewBLSFADSFBLLPG_ExROB">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.ExROB.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(subAktivitasNilaiNewBlsfadsfbllpgList.ExROB.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfbllpgList.ExROB.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfbllpgList.NoPenerimaan.Visible) { // subAktivitasNilaiNewBlsfadsfbllpgList.NoPenerimaan.Visible (begin)
        <td data-name="NoPenerimaan" @Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.NoPenerimaan.CellAttributes)>
<span id="el@(subAktivitasNilaiNewBlsfadsfbllpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfbllpgList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLLPG_NoPenerimaan" class="el_SubAktivitasNilaiNewBLSFADSFBLLPG_NoPenerimaan">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.NoPenerimaan.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.NoPenerimaan.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfbllpgList.NoPenerimaan.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfbllpgList.userInput.Visible) { // subAktivitasNilaiNewBlsfadsfbllpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.userInput.CellAttributes)>
<span id="el@(subAktivitasNilaiNewBlsfadsfbllpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfbllpgList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLLPG_userInput" class="el_SubAktivitasNilaiNewBLSFADSFBLLPG_userInput">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfbllpgList.userInput.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfbllpgList.etlDate.Visible) { // subAktivitasNilaiNewBlsfadsfbllpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.etlDate.CellAttributes)>
<span id="el@(subAktivitasNilaiNewBlsfadsfbllpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfbllpgList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLLPG_etlDate" class="el_SubAktivitasNilaiNewBLSFADSFBLLPG_etlDate">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfbllpgList.etlDate.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfbllpgList.StatusAktivitas.Visible) { // subAktivitasNilaiNewBlsfadsfbllpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasNilaiNewBlsfadsfbllpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfbllpgList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLLPG_StatusAktivitas" class="el_SubAktivitasNilaiNewBLSFADSFBLLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfbllpgList.StatusAktivitas.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasNilaiNewBlsfadsfbllpgList.ListOptions.RenderBody("right", subAktivitasNilaiNewBlsfadsfbllpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasNilaiNewBlsfadsfbllpgList.RowIndex, "$rowindex$"))
        subAktivitasNilaiNewBlsfadsfbllpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasNilaiNewBlsfadsfbllpgList.IsCopy || subAktivitasNilaiNewBlsfadsfbllpgList.IsAdd) && subAktivitasNilaiNewBlsfadsfbllpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasNilaiNewBlsfadsfbllpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasNilaiNewBlsfadsfbllpgList.CurrentAction) && !subAktivitasNilaiNewBlsfadsfbllpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasNilaiNewBlsfadsfbllpgList.CloseRecordset(); }
@if (!subAktivitasNilaiNewBlsfadsfbllpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasNilaiNewBlsfadsfbllpgList.IsGridAdd && !(subAktivitasNilaiNewBlsfadsfbllpgList.IsGridEdit && subAktivitasNilaiNewBlsfadsfbllpgList.ModalGridEdit) && !subAktivitasNilaiNewBlsfadsfbllpgList.IsMultiEdit) {
@Html.Raw(subAktivitasNilaiNewBlsfadsfbllpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasNilaiNewBlsfadsfbllpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasNilaiNewBlsfadsfbllpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasNilaiNewBlsfadsfbllpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasNilaiNewBlsfadsfbllpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasNilaiNewBlsfadsfbllpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasNilaiNewBLSFADSFBLLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
