@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiAgreementPenKonList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiAgreementPenKonList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasNilaiAgreementPenKonList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiAgreementPenKonList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiAgreementPenKon: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasNilaiAgreementPenKonList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasNilaiAgreementPenKonList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasNilaiAgreementPenKonList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasNilaiAgreementPenKonList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasNilaiAgreementPenKonList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasNilaiAgreementPenKonList.TotalRecords > 0 && subAktivitasNilaiAgreementPenKonList.ExportOptions.Visible) {
    subAktivitasNilaiAgreementPenKonList.ExportOptions.Render("body");
}
@if (subAktivitasNilaiAgreementPenKonList.ImportOptions.Visible) {
    subAktivitasNilaiAgreementPenKonList.ImportOptions.Render("body");
}
@if (subAktivitasNilaiAgreementPenKonList.SearchOptions.Visible) {
    subAktivitasNilaiAgreementPenKonList.SearchOptions.Render("body");
}
@if (subAktivitasNilaiAgreementPenKonList.FilterOptions.Visible) {
    subAktivitasNilaiAgreementPenKonList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasNilaiAgreementPenKonList.IsModal) {
<form name="fSubAktivitasNilaiAgreementPenKonsrch" id="fSubAktivitasNilaiAgreementPenKonsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasNilaiAgreementPenKonsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasNilaiAgreementPenKonList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiAgreementPenKonList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiAgreementPenKon: currentTable } });
var currentForm;
var fSubAktivitasNilaiAgreementPenKonsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiAgreementPenKonsrch")
        .setPageId("list")
@if (subAktivitasNilaiAgreementPenKonList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasNilaiAgreementPenKonList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasNilaiAgreementPenKonList.IsExport() && Empty(subAktivitasNilaiAgreementPenKonList.CurrentAction) && subAktivitasNilaiAgreementPenKonList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasNilaiAgreementPenKonList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasNilaiAgreementPenKonList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasNilaiAgreementPenKonList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasNilaiAgreementPenKonList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasNilaiAgreementPenKonsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiAgreementPenKonList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasNilaiAgreementPenKonsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiAgreementPenKonList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasNilaiAgreementPenKonsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiAgreementPenKonList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasNilaiAgreementPenKonsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasNilaiAgreementPenKonList.ShowPageHeader()
@subAktivitasNilaiAgreementPenKonList.ShowMessages()
<main class="list @(subAktivitasNilaiAgreementPenKonList.TotalRecords == 0 && !subAktivitasNilaiAgreementPenKonList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasNilaiAgreementPenKonList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasNilaiAgreementPenKonList.TotalRecords > 0 || !Empty(subAktivitasNilaiAgreementPenKonList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasNilaiAgreementPenKonList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasNilaiAgreementPenKonList.TableGridClass)">
<form name="@(subAktivitasNilaiAgreementPenKonList.FormName)" id="@(subAktivitasNilaiAgreementPenKonList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasNilaiAgreementPenKonList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasNilaiAgreementPenKonList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasNilaiAgreementPenKon" class="card-body ew-grid-middle-panel @(subAktivitasNilaiAgreementPenKonList.TableContainerClass)" style="@(subAktivitasNilaiAgreementPenKonList.TableContainerStyle)">
@if (subAktivitasNilaiAgreementPenKonList.TotalRecords > 0 || subAktivitasNilaiAgreementPenKonList.IsGridEdit || subAktivitasNilaiAgreementPenKonList.IsMultiEdit) {
<table id="tbl_SubAktivitasNilaiAgreementPenKonlist" class="@(subAktivitasNilaiAgreementPenKonList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasNilaiAgreementPenKonList.RowType = RowType.Header;

    // Render list options
    await subAktivitasNilaiAgreementPenKonList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasNilaiAgreementPenKonList.ListOptions.RenderHeader("left")
@if (subAktivitasNilaiAgreementPenKonList.idProses.Visible) { // subAktivitasNilaiAgreementPenKonList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasNilaiAgreementPenKonList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenKon_idProses" class="SubAktivitasNilaiAgreementPenKon_idProses">@Html.Raw(subAktivitasNilaiAgreementPenKonList.RenderFieldHeader(subAktivitasNilaiAgreementPenKonList.idProses))</div></th>
} @* subAktivitasNilaiAgreementPenKonList.idProses.Visible (end) *@
@if (subAktivitasNilaiAgreementPenKonList.idAktifitas.Visible) { // subAktivitasNilaiAgreementPenKonList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasNilaiAgreementPenKonList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenKon_idAktifitas" class="SubAktivitasNilaiAgreementPenKon_idAktifitas">@Html.Raw(subAktivitasNilaiAgreementPenKonList.RenderFieldHeader(subAktivitasNilaiAgreementPenKonList.idAktifitas))</div></th>
} @* subAktivitasNilaiAgreementPenKonList.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiAgreementPenKonList.NoReferensi.Visible) { // subAktivitasNilaiAgreementPenKonList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasNilaiAgreementPenKonList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenKon_NoReferensi" class="SubAktivitasNilaiAgreementPenKon_NoReferensi">@Html.Raw(subAktivitasNilaiAgreementPenKonList.RenderFieldHeader(subAktivitasNilaiAgreementPenKonList.NoReferensi))</div></th>
} @* subAktivitasNilaiAgreementPenKonList.NoReferensi.Visible (end) *@
@if (subAktivitasNilaiAgreementPenKonList.LastUpdatedBy.Visible) { // subAktivitasNilaiAgreementPenKonList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasNilaiAgreementPenKonList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenKon_LastUpdatedBy" class="SubAktivitasNilaiAgreementPenKon_LastUpdatedBy">@Html.Raw(subAktivitasNilaiAgreementPenKonList.RenderFieldHeader(subAktivitasNilaiAgreementPenKonList.LastUpdatedBy))</div></th>
} @* subAktivitasNilaiAgreementPenKonList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiAgreementPenKonList.lastUpdatedDate.Visible) { // subAktivitasNilaiAgreementPenKonList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasNilaiAgreementPenKonList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenKon_lastUpdatedDate" class="SubAktivitasNilaiAgreementPenKon_lastUpdatedDate">@Html.Raw(subAktivitasNilaiAgreementPenKonList.RenderFieldHeader(subAktivitasNilaiAgreementPenKonList.lastUpdatedDate))</div></th>
} @* subAktivitasNilaiAgreementPenKonList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasNilaiAgreementPenKonList.StatusAktivitas.Visible) { // subAktivitasNilaiAgreementPenKonList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasNilaiAgreementPenKonList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenKon_StatusAktivitas" class="SubAktivitasNilaiAgreementPenKon_StatusAktivitas">@Html.Raw(subAktivitasNilaiAgreementPenKonList.RenderFieldHeader(subAktivitasNilaiAgreementPenKonList.StatusAktivitas))</div></th>
} @* subAktivitasNilaiAgreementPenKonList.StatusAktivitas.Visible (end) *@
@if (subAktivitasNilaiAgreementPenKonList.Flowrate.Visible) { // subAktivitasNilaiAgreementPenKonList.Flowrate.Visible (begin)
        <th data-name="Flowrate" class="@(subAktivitasNilaiAgreementPenKonList.Flowrate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenKon_Flowrate" class="SubAktivitasNilaiAgreementPenKon_Flowrate">@Html.Raw(subAktivitasNilaiAgreementPenKonList.RenderFieldHeader(subAktivitasNilaiAgreementPenKonList.Flowrate))</div></th>
} @* subAktivitasNilaiAgreementPenKonList.Flowrate.Visible (end) *@
@if (subAktivitasNilaiAgreementPenKonList.Pressure.Visible) { // subAktivitasNilaiAgreementPenKonList.Pressure.Visible (begin)
        <th data-name="Pressure" class="@(subAktivitasNilaiAgreementPenKonList.Pressure.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenKon_Pressure" class="SubAktivitasNilaiAgreementPenKon_Pressure">@Html.Raw(subAktivitasNilaiAgreementPenKonList.RenderFieldHeader(subAktivitasNilaiAgreementPenKonList.Pressure))</div></th>
} @* subAktivitasNilaiAgreementPenKonList.Pressure.Visible (end) *@
@if (subAktivitasNilaiAgreementPenKonList.StrippingTime.Visible) { // subAktivitasNilaiAgreementPenKonList.StrippingTime.Visible (begin)
        <th data-name="StrippingTime" class="@(subAktivitasNilaiAgreementPenKonList.StrippingTime.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenKon_StrippingTime" class="SubAktivitasNilaiAgreementPenKon_StrippingTime">@Html.Raw(subAktivitasNilaiAgreementPenKonList.RenderFieldHeader(subAktivitasNilaiAgreementPenKonList.StrippingTime))</div></th>
} @* subAktivitasNilaiAgreementPenKonList.StrippingTime.Visible (end) *@
@if (subAktivitasNilaiAgreementPenKonList.ETC.Visible) { // subAktivitasNilaiAgreementPenKonList.ETC.Visible (begin)
        <th data-name="ETC" class="@(subAktivitasNilaiAgreementPenKonList.ETC.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenKon_ETC" class="SubAktivitasNilaiAgreementPenKon_ETC">@Html.Raw(subAktivitasNilaiAgreementPenKonList.RenderFieldHeader(subAktivitasNilaiAgreementPenKonList.ETC))</div></th>
} @* subAktivitasNilaiAgreementPenKonList.ETC.Visible (end) *@
@if (subAktivitasNilaiAgreementPenKonList.LamaPembongkaran.Visible) { // subAktivitasNilaiAgreementPenKonList.LamaPembongkaran.Visible (begin)
        <th data-name="LamaPembongkaran" class="@(subAktivitasNilaiAgreementPenKonList.LamaPembongkaran.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenKon_LamaPembongkaran" class="SubAktivitasNilaiAgreementPenKon_LamaPembongkaran">@Html.Raw(subAktivitasNilaiAgreementPenKonList.RenderFieldHeader(subAktivitasNilaiAgreementPenKonList.LamaPembongkaran))</div></th>
} @* subAktivitasNilaiAgreementPenKonList.LamaPembongkaran.Visible (end) *@
@if (subAktivitasNilaiAgreementPenKonList.userInput.Visible) { // subAktivitasNilaiAgreementPenKonList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasNilaiAgreementPenKonList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenKon_userInput" class="SubAktivitasNilaiAgreementPenKon_userInput">@Html.Raw(subAktivitasNilaiAgreementPenKonList.RenderFieldHeader(subAktivitasNilaiAgreementPenKonList.userInput))</div></th>
} @* subAktivitasNilaiAgreementPenKonList.userInput.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasNilaiAgreementPenKonList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasNilaiAgreementPenKonList.PageNumber)">
@{
    await subAktivitasNilaiAgreementPenKonList.SetupGrid();
    bool eof = subAktivitasNilaiAgreementPenKonList.Recordset == null; // DN
}
@while (subAktivitasNilaiAgreementPenKonList.RecordCount < subAktivitasNilaiAgreementPenKonList.StopRecord || SameString(subAktivitasNilaiAgreementPenKonList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasNilaiAgreementPenKonList.RowIndex, "$rowindex$") &&
        (!subAktivitasNilaiAgreementPenKonList.IsGridAdd || subAktivitasNilaiAgreementPenKonList.CurrentMode == "copy") &&
        (!((subAktivitasNilaiAgreementPenKonList.IsCopy || subAktivitasNilaiAgreementPenKonList.IsAdd) && subAktivitasNilaiAgreementPenKonList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasNilaiAgreementPenKonList.Recordset.ReadAsync();
    subAktivitasNilaiAgreementPenKonList.RecordCount++;
    if (subAktivitasNilaiAgreementPenKonList.RecordCount >= subAktivitasNilaiAgreementPenKonList.StartRecord) {
        await subAktivitasNilaiAgreementPenKonList.SetupRow();
    <tr @Html.Raw(subAktivitasNilaiAgreementPenKonList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasNilaiAgreementPenKonList.ListOptions.RenderBody("left", subAktivitasNilaiAgreementPenKonList.RowCount)
    @if (subAktivitasNilaiAgreementPenKonList.idProses.Visible) { // subAktivitasNilaiAgreementPenKonList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasNilaiAgreementPenKonList.idProses.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenKonList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenKonList.RowCount)_SubAktivitasNilaiAgreementPenKon_idProses" class="el_SubAktivitasNilaiAgreementPenKon_idProses">
<span @Html.Raw(subAktivitasNilaiAgreementPenKonList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenKonList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenKonList.idProses.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenKonList.idAktifitas.Visible) { // subAktivitasNilaiAgreementPenKonList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasNilaiAgreementPenKonList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenKonList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenKonList.RowCount)_SubAktivitasNilaiAgreementPenKon_idAktifitas" class="el_SubAktivitasNilaiAgreementPenKon_idAktifitas">
<span @Html.Raw(subAktivitasNilaiAgreementPenKonList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenKonList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenKonList.idAktifitas.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenKonList.NoReferensi.Visible) { // subAktivitasNilaiAgreementPenKonList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasNilaiAgreementPenKonList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenKonList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenKonList.RowCount)_SubAktivitasNilaiAgreementPenKon_NoReferensi" class="el_SubAktivitasNilaiAgreementPenKon_NoReferensi">
<span @Html.Raw(subAktivitasNilaiAgreementPenKonList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenKonList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenKonList.NoReferensi.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenKonList.LastUpdatedBy.Visible) { // subAktivitasNilaiAgreementPenKonList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasNilaiAgreementPenKonList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenKonList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenKonList.RowCount)_SubAktivitasNilaiAgreementPenKon_LastUpdatedBy" class="el_SubAktivitasNilaiAgreementPenKon_LastUpdatedBy">
<span @Html.Raw(subAktivitasNilaiAgreementPenKonList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenKonList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenKonList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenKonList.lastUpdatedDate.Visible) { // subAktivitasNilaiAgreementPenKonList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasNilaiAgreementPenKonList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenKonList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenKonList.RowCount)_SubAktivitasNilaiAgreementPenKon_lastUpdatedDate" class="el_SubAktivitasNilaiAgreementPenKon_lastUpdatedDate">
<span @Html.Raw(subAktivitasNilaiAgreementPenKonList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenKonList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenKonList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenKonList.StatusAktivitas.Visible) { // subAktivitasNilaiAgreementPenKonList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasNilaiAgreementPenKonList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenKonList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenKonList.RowCount)_SubAktivitasNilaiAgreementPenKon_StatusAktivitas" class="el_SubAktivitasNilaiAgreementPenKon_StatusAktivitas">
<span @Html.Raw(subAktivitasNilaiAgreementPenKonList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenKonList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenKonList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenKonList.Flowrate.Visible) { // subAktivitasNilaiAgreementPenKonList.Flowrate.Visible (begin)
        <td data-name="Flowrate" @Html.Raw(subAktivitasNilaiAgreementPenKonList.Flowrate.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenKonList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenKonList.RowCount)_SubAktivitasNilaiAgreementPenKon_Flowrate" class="el_SubAktivitasNilaiAgreementPenKon_Flowrate">
<span @Html.Raw(subAktivitasNilaiAgreementPenKonList.Flowrate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenKonList.Flowrate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenKonList.Flowrate.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenKonList.Pressure.Visible) { // subAktivitasNilaiAgreementPenKonList.Pressure.Visible (begin)
        <td data-name="Pressure" @Html.Raw(subAktivitasNilaiAgreementPenKonList.Pressure.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenKonList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenKonList.RowCount)_SubAktivitasNilaiAgreementPenKon_Pressure" class="el_SubAktivitasNilaiAgreementPenKon_Pressure">
<span @Html.Raw(subAktivitasNilaiAgreementPenKonList.Pressure.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenKonList.Pressure.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenKonList.Pressure.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenKonList.StrippingTime.Visible) { // subAktivitasNilaiAgreementPenKonList.StrippingTime.Visible (begin)
        <td data-name="StrippingTime" @Html.Raw(subAktivitasNilaiAgreementPenKonList.StrippingTime.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenKonList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenKonList.RowCount)_SubAktivitasNilaiAgreementPenKon_StrippingTime" class="el_SubAktivitasNilaiAgreementPenKon_StrippingTime">
<span @Html.Raw(subAktivitasNilaiAgreementPenKonList.StrippingTime.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenKonList.StrippingTime.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenKonList.StrippingTime.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenKonList.ETC.Visible) { // subAktivitasNilaiAgreementPenKonList.ETC.Visible (begin)
        <td data-name="ETC" @Html.Raw(subAktivitasNilaiAgreementPenKonList.ETC.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenKonList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenKonList.RowCount)_SubAktivitasNilaiAgreementPenKon_ETC" class="el_SubAktivitasNilaiAgreementPenKon_ETC">
<span @Html.Raw(subAktivitasNilaiAgreementPenKonList.ETC.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenKonList.ETC.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenKonList.ETC.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenKonList.LamaPembongkaran.Visible) { // subAktivitasNilaiAgreementPenKonList.LamaPembongkaran.Visible (begin)
        <td data-name="LamaPembongkaran" @Html.Raw(subAktivitasNilaiAgreementPenKonList.LamaPembongkaran.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenKonList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenKonList.RowCount)_SubAktivitasNilaiAgreementPenKon_LamaPembongkaran" class="el_SubAktivitasNilaiAgreementPenKon_LamaPembongkaran">
<span @Html.Raw(subAktivitasNilaiAgreementPenKonList.LamaPembongkaran.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenKonList.LamaPembongkaran.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenKonList.LamaPembongkaran.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenKonList.userInput.Visible) { // subAktivitasNilaiAgreementPenKonList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasNilaiAgreementPenKonList.userInput.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenKonList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenKonList.RowCount)_SubAktivitasNilaiAgreementPenKon_userInput" class="el_SubAktivitasNilaiAgreementPenKon_userInput">
<span @Html.Raw(subAktivitasNilaiAgreementPenKonList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenKonList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenKonList.userInput.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasNilaiAgreementPenKonList.ListOptions.RenderBody("right", subAktivitasNilaiAgreementPenKonList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasNilaiAgreementPenKonList.RowIndex, "$rowindex$"))
        subAktivitasNilaiAgreementPenKonList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasNilaiAgreementPenKonList.IsCopy || subAktivitasNilaiAgreementPenKonList.IsAdd) && subAktivitasNilaiAgreementPenKonList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasNilaiAgreementPenKonList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasNilaiAgreementPenKonList.CurrentAction) && !subAktivitasNilaiAgreementPenKonList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasNilaiAgreementPenKonList.CloseRecordset(); }
@if (!subAktivitasNilaiAgreementPenKonList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasNilaiAgreementPenKonList.IsGridAdd && !(subAktivitasNilaiAgreementPenKonList.IsGridEdit && subAktivitasNilaiAgreementPenKonList.ModalGridEdit) && !subAktivitasNilaiAgreementPenKonList.IsMultiEdit) {
@Html.Raw(subAktivitasNilaiAgreementPenKonList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasNilaiAgreementPenKonList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasNilaiAgreementPenKonList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasNilaiAgreementPenKonList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasNilaiAgreementPenKonList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasNilaiAgreementPenKonList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasNilaiAgreementPenKon");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
