@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputKeberangkatanMobilTangkiDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputKeberangkatanMobilTangkiDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputKeberangkatanMobilTangkiDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputKeberangkatanMobilTangki: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fSubAktivitasFormInputKeberangkatanMobilTangkidelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputKeberangkatanMobilTangkidelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasFormInputKeberangkatanMobilTangkiDelete.ShowPageHeader()
@subAktivitasFormInputKeberangkatanMobilTangkiDelete.ShowMessages()
<form name="fSubAktivitasFormInputKeberangkatanMobilTangkidelete" id="fSubAktivitasFormInputKeberangkatanMobilTangkidelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in subAktivitasFormInputKeberangkatanMobilTangkiDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(subAktivitasFormInputKeberangkatanMobilTangkiDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(subAktivitasFormInputKeberangkatanMobilTangkiDelete.TableContainerClass)" style="@(subAktivitasFormInputKeberangkatanMobilTangkiDelete.TableContainerStyle)">
<table class="@(subAktivitasFormInputKeberangkatanMobilTangkiDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (subAktivitasFormInputKeberangkatanMobilTangkiDelete.id.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiDelete.id.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.id.HeaderCellClass)"><span id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_id" class="SubAktivitasFormInputKeberangkatanMobilTangki_id">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.id.Caption)</span></th>
} @* subAktivitasFormInputKeberangkatanMobilTangkiDelete.id.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiDelete.NoReferensi.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiDelete.NoReferensi.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.NoReferensi.HeaderCellClass)"><span id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_NoReferensi" class="SubAktivitasFormInputKeberangkatanMobilTangki_NoReferensi">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.NoReferensi.Caption)</span></th>
} @* subAktivitasFormInputKeberangkatanMobilTangkiDelete.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiDelete.idProses.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiDelete.idProses.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.idProses.HeaderCellClass)"><span id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_idProses" class="SubAktivitasFormInputKeberangkatanMobilTangki_idProses">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.idProses.Caption)</span></th>
} @* subAktivitasFormInputKeberangkatanMobilTangkiDelete.idProses.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiDelete.idAktifitas.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiDelete.idAktifitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.idAktifitas.HeaderCellClass)"><span id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_idAktifitas" class="SubAktivitasFormInputKeberangkatanMobilTangki_idAktifitas">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.idAktifitas.Caption)</span></th>
} @* subAktivitasFormInputKeberangkatanMobilTangkiDelete.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiDelete.StatusAktivitas.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiDelete.StatusAktivitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.StatusAktivitas.HeaderCellClass)"><span id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_StatusAktivitas" class="SubAktivitasFormInputKeberangkatanMobilTangki_StatusAktivitas">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.StatusAktivitas.Caption)</span></th>
} @* subAktivitasFormInputKeberangkatanMobilTangkiDelete.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiDelete.LastUpdatedBy.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiDelete.LastUpdatedBy.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.LastUpdatedBy.HeaderCellClass)"><span id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_LastUpdatedBy" class="SubAktivitasFormInputKeberangkatanMobilTangki_LastUpdatedBy">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.LastUpdatedBy.Caption)</span></th>
} @* subAktivitasFormInputKeberangkatanMobilTangkiDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiDelete.lastUpdatedDate.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiDelete.lastUpdatedDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.lastUpdatedDate.HeaderCellClass)"><span id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_lastUpdatedDate" class="SubAktivitasFormInputKeberangkatanMobilTangki_lastUpdatedDate">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.lastUpdatedDate.Caption)</span></th>
} @* subAktivitasFormInputKeberangkatanMobilTangkiDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiDelete.Tanggal.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiDelete.Tanggal.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.Tanggal.HeaderCellClass)"><span id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_Tanggal" class="SubAktivitasFormInputKeberangkatanMobilTangki_Tanggal">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.Tanggal.Caption)</span></th>
} @* subAktivitasFormInputKeberangkatanMobilTangkiDelete.Tanggal.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiDelete.userInput.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiDelete.userInput.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.userInput.HeaderCellClass)"><span id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_userInput" class="SubAktivitasFormInputKeberangkatanMobilTangki_userInput">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.userInput.Caption)</span></th>
} @* subAktivitasFormInputKeberangkatanMobilTangkiDelete.userInput.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiDelete.etlDate.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiDelete.etlDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.etlDate.HeaderCellClass)"><span id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_etlDate" class="SubAktivitasFormInputKeberangkatanMobilTangki_etlDate">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.etlDate.Caption)</span></th>
} @* subAktivitasFormInputKeberangkatanMobilTangkiDelete.etlDate.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ subAktivitasFormInputKeberangkatanMobilTangkiDelete.RecordCount = 0; }
@while (subAktivitasFormInputKeberangkatanMobilTangkiDelete.Recordset != null && await subAktivitasFormInputKeberangkatanMobilTangkiDelete.Recordset.ReadAsync()) { // DN
    subAktivitasFormInputKeberangkatanMobilTangkiDelete.RecordCount++;
    subAktivitasFormInputKeberangkatanMobilTangkiDelete.RowCount++;

    // Set row properties
    subAktivitasFormInputKeberangkatanMobilTangkiDelete.ResetAttributes();
    subAktivitasFormInputKeberangkatanMobilTangkiDelete.RowType = RowType.View; // View

    // Get the field contents
    await subAktivitasFormInputKeberangkatanMobilTangkiDelete.LoadRowValues(subAktivitasFormInputKeberangkatanMobilTangkiDelete.Recordset);

    // Render row
    await subAktivitasFormInputKeberangkatanMobilTangkiDelete.RenderRow();
    <tr @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.RowAttributes)>
@if (subAktivitasFormInputKeberangkatanMobilTangkiDelete.id.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiDelete.id.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.id.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.id.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputKeberangkatanMobilTangkiDelete.id.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiDelete.NoReferensi.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiDelete.NoReferensi.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.NoReferensi.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.NoReferensi.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputKeberangkatanMobilTangkiDelete.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiDelete.idProses.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiDelete.idProses.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.idProses.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.idProses.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputKeberangkatanMobilTangkiDelete.idProses.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiDelete.idAktifitas.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiDelete.idAktifitas.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.idAktifitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.idAktifitas.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputKeberangkatanMobilTangkiDelete.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiDelete.StatusAktivitas.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiDelete.StatusAktivitas.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.StatusAktivitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.StatusAktivitas.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputKeberangkatanMobilTangkiDelete.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiDelete.LastUpdatedBy.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiDelete.LastUpdatedBy.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.LastUpdatedBy.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.LastUpdatedBy.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputKeberangkatanMobilTangkiDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiDelete.lastUpdatedDate.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiDelete.lastUpdatedDate.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.lastUpdatedDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.lastUpdatedDate.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputKeberangkatanMobilTangkiDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiDelete.Tanggal.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiDelete.Tanggal.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.Tanggal.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.Tanggal.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputKeberangkatanMobilTangkiDelete.Tanggal.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiDelete.userInput.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiDelete.userInput.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.userInput.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.userInput.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputKeberangkatanMobilTangkiDelete.userInput.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiDelete.etlDate.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiDelete.etlDate.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.etlDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiDelete.etlDate.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputKeberangkatanMobilTangkiDelete.etlDate.Visible (end) *@
    </tr>
}
@{ subAktivitasFormInputKeberangkatanMobilTangkiDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(subAktivitasFormInputKeberangkatanMobilTangkiDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@subAktivitasFormInputKeberangkatanMobilTangkiDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
