@{
    // View
    View = this;

    // Check action result
    if (subAktivitasStopPembongkaranPenKonList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasStopPembongkaranPenKonList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasStopPembongkaranPenKonList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasStopPembongkaranPenKonList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasStopPembongkaranPenKon: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasStopPembongkaranPenKonList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasStopPembongkaranPenKonList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasStopPembongkaranPenKonList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasStopPembongkaranPenKonList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasStopPembongkaranPenKonList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasStopPembongkaranPenKonList.TotalRecords > 0 && subAktivitasStopPembongkaranPenKonList.ExportOptions.Visible) {
    subAktivitasStopPembongkaranPenKonList.ExportOptions.Render("body");
}
@if (subAktivitasStopPembongkaranPenKonList.ImportOptions.Visible) {
    subAktivitasStopPembongkaranPenKonList.ImportOptions.Render("body");
}
@if (subAktivitasStopPembongkaranPenKonList.SearchOptions.Visible) {
    subAktivitasStopPembongkaranPenKonList.SearchOptions.Render("body");
}
@if (subAktivitasStopPembongkaranPenKonList.FilterOptions.Visible) {
    subAktivitasStopPembongkaranPenKonList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasStopPembongkaranPenKonList.IsModal) {
<form name="fSubAktivitasStopPembongkaranPenKonsrch" id="fSubAktivitasStopPembongkaranPenKonsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasStopPembongkaranPenKonsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasStopPembongkaranPenKonList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasStopPembongkaranPenKonList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasStopPembongkaranPenKon: currentTable } });
var currentForm;
var fSubAktivitasStopPembongkaranPenKonsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasStopPembongkaranPenKonsrch")
        .setPageId("list")
@if (subAktivitasStopPembongkaranPenKonList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasStopPembongkaranPenKonList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasStopPembongkaranPenKonList.IsExport() && Empty(subAktivitasStopPembongkaranPenKonList.CurrentAction) && subAktivitasStopPembongkaranPenKonList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasStopPembongkaranPenKonList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasStopPembongkaranPenKonList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasStopPembongkaranPenKonList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasStopPembongkaranPenKonList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasStopPembongkaranPenKonsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasStopPembongkaranPenKonList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasStopPembongkaranPenKonsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasStopPembongkaranPenKonList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasStopPembongkaranPenKonsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasStopPembongkaranPenKonList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasStopPembongkaranPenKonsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasStopPembongkaranPenKonList.ShowPageHeader()
@subAktivitasStopPembongkaranPenKonList.ShowMessages()
<main class="list @(subAktivitasStopPembongkaranPenKonList.TotalRecords == 0 && !subAktivitasStopPembongkaranPenKonList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasStopPembongkaranPenKonList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasStopPembongkaranPenKonList.TotalRecords > 0 || !Empty(subAktivitasStopPembongkaranPenKonList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasStopPembongkaranPenKonList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasStopPembongkaranPenKonList.TableGridClass)">
<form name="@(subAktivitasStopPembongkaranPenKonList.FormName)" id="@(subAktivitasStopPembongkaranPenKonList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasStopPembongkaranPenKonList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasStopPembongkaranPenKonList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasStopPembongkaranPenKon" class="card-body ew-grid-middle-panel @(subAktivitasStopPembongkaranPenKonList.TableContainerClass)" style="@(subAktivitasStopPembongkaranPenKonList.TableContainerStyle)">
@if (subAktivitasStopPembongkaranPenKonList.TotalRecords > 0 || subAktivitasStopPembongkaranPenKonList.IsGridEdit || subAktivitasStopPembongkaranPenKonList.IsMultiEdit) {
<table id="tbl_SubAktivitasStopPembongkaranPenKonlist" class="@(subAktivitasStopPembongkaranPenKonList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasStopPembongkaranPenKonList.RowType = RowType.Header;

    // Render list options
    await subAktivitasStopPembongkaranPenKonList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasStopPembongkaranPenKonList.ListOptions.RenderHeader("left")
@if (subAktivitasStopPembongkaranPenKonList.idProses.Visible) { // subAktivitasStopPembongkaranPenKonList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasStopPembongkaranPenKonList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasStopPembongkaranPenKon_idProses" class="SubAktivitasStopPembongkaranPenKon_idProses">@Html.Raw(subAktivitasStopPembongkaranPenKonList.RenderFieldHeader(subAktivitasStopPembongkaranPenKonList.idProses))</div></th>
} @* subAktivitasStopPembongkaranPenKonList.idProses.Visible (end) *@
@if (subAktivitasStopPembongkaranPenKonList.idAktifitas.Visible) { // subAktivitasStopPembongkaranPenKonList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasStopPembongkaranPenKonList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasStopPembongkaranPenKon_idAktifitas" class="SubAktivitasStopPembongkaranPenKon_idAktifitas">@Html.Raw(subAktivitasStopPembongkaranPenKonList.RenderFieldHeader(subAktivitasStopPembongkaranPenKonList.idAktifitas))</div></th>
} @* subAktivitasStopPembongkaranPenKonList.idAktifitas.Visible (end) *@
@if (subAktivitasStopPembongkaranPenKonList.NoReferensi.Visible) { // subAktivitasStopPembongkaranPenKonList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasStopPembongkaranPenKonList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasStopPembongkaranPenKon_NoReferensi" class="SubAktivitasStopPembongkaranPenKon_NoReferensi">@Html.Raw(subAktivitasStopPembongkaranPenKonList.RenderFieldHeader(subAktivitasStopPembongkaranPenKonList.NoReferensi))</div></th>
} @* subAktivitasStopPembongkaranPenKonList.NoReferensi.Visible (end) *@
@if (subAktivitasStopPembongkaranPenKonList.LastUpdatedBy.Visible) { // subAktivitasStopPembongkaranPenKonList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasStopPembongkaranPenKonList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasStopPembongkaranPenKon_LastUpdatedBy" class="SubAktivitasStopPembongkaranPenKon_LastUpdatedBy">@Html.Raw(subAktivitasStopPembongkaranPenKonList.RenderFieldHeader(subAktivitasStopPembongkaranPenKonList.LastUpdatedBy))</div></th>
} @* subAktivitasStopPembongkaranPenKonList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasStopPembongkaranPenKonList.lastUpdatedDate.Visible) { // subAktivitasStopPembongkaranPenKonList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasStopPembongkaranPenKonList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasStopPembongkaranPenKon_lastUpdatedDate" class="SubAktivitasStopPembongkaranPenKon_lastUpdatedDate">@Html.Raw(subAktivitasStopPembongkaranPenKonList.RenderFieldHeader(subAktivitasStopPembongkaranPenKonList.lastUpdatedDate))</div></th>
} @* subAktivitasStopPembongkaranPenKonList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasStopPembongkaranPenKonList.StatusAktivitas.Visible) { // subAktivitasStopPembongkaranPenKonList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasStopPembongkaranPenKonList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasStopPembongkaranPenKon_StatusAktivitas" class="SubAktivitasStopPembongkaranPenKon_StatusAktivitas">@Html.Raw(subAktivitasStopPembongkaranPenKonList.RenderFieldHeader(subAktivitasStopPembongkaranPenKonList.StatusAktivitas))</div></th>
} @* subAktivitasStopPembongkaranPenKonList.StatusAktivitas.Visible (end) *@
@if (subAktivitasStopPembongkaranPenKonList.Tanggal.Visible) { // subAktivitasStopPembongkaranPenKonList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasStopPembongkaranPenKonList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasStopPembongkaranPenKon_Tanggal" class="SubAktivitasStopPembongkaranPenKon_Tanggal">@Html.Raw(subAktivitasStopPembongkaranPenKonList.RenderFieldHeader(subAktivitasStopPembongkaranPenKonList.Tanggal))</div></th>
} @* subAktivitasStopPembongkaranPenKonList.Tanggal.Visible (end) *@
@if (subAktivitasStopPembongkaranPenKonList.userInput.Visible) { // subAktivitasStopPembongkaranPenKonList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasStopPembongkaranPenKonList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasStopPembongkaranPenKon_userInput" class="SubAktivitasStopPembongkaranPenKon_userInput">@Html.Raw(subAktivitasStopPembongkaranPenKonList.RenderFieldHeader(subAktivitasStopPembongkaranPenKonList.userInput))</div></th>
} @* subAktivitasStopPembongkaranPenKonList.userInput.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasStopPembongkaranPenKonList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasStopPembongkaranPenKonList.PageNumber)">
@{
    await subAktivitasStopPembongkaranPenKonList.SetupGrid();
    bool eof = subAktivitasStopPembongkaranPenKonList.Recordset == null; // DN
}
@while (subAktivitasStopPembongkaranPenKonList.RecordCount < subAktivitasStopPembongkaranPenKonList.StopRecord || SameString(subAktivitasStopPembongkaranPenKonList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasStopPembongkaranPenKonList.RowIndex, "$rowindex$") &&
        (!subAktivitasStopPembongkaranPenKonList.IsGridAdd || subAktivitasStopPembongkaranPenKonList.CurrentMode == "copy") &&
        (!((subAktivitasStopPembongkaranPenKonList.IsCopy || subAktivitasStopPembongkaranPenKonList.IsAdd) && subAktivitasStopPembongkaranPenKonList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasStopPembongkaranPenKonList.Recordset.ReadAsync();
    subAktivitasStopPembongkaranPenKonList.RecordCount++;
    if (subAktivitasStopPembongkaranPenKonList.RecordCount >= subAktivitasStopPembongkaranPenKonList.StartRecord) {
        await subAktivitasStopPembongkaranPenKonList.SetupRow();
    <tr @Html.Raw(subAktivitasStopPembongkaranPenKonList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasStopPembongkaranPenKonList.ListOptions.RenderBody("left", subAktivitasStopPembongkaranPenKonList.RowCount)
    @if (subAktivitasStopPembongkaranPenKonList.idProses.Visible) { // subAktivitasStopPembongkaranPenKonList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasStopPembongkaranPenKonList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasStopPembongkaranPenKonList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStopPembongkaranPenKonList.RowCount)_SubAktivitasStopPembongkaranPenKon_idProses" class="el_SubAktivitasStopPembongkaranPenKon_idProses">
<span @Html.Raw(subAktivitasStopPembongkaranPenKonList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasStopPembongkaranPenKonList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopPembongkaranPenKonList.idProses.Visible (end) *@
    @if (subAktivitasStopPembongkaranPenKonList.idAktifitas.Visible) { // subAktivitasStopPembongkaranPenKonList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasStopPembongkaranPenKonList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasStopPembongkaranPenKonList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStopPembongkaranPenKonList.RowCount)_SubAktivitasStopPembongkaranPenKon_idAktifitas" class="el_SubAktivitasStopPembongkaranPenKon_idAktifitas">
<span @Html.Raw(subAktivitasStopPembongkaranPenKonList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasStopPembongkaranPenKonList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopPembongkaranPenKonList.idAktifitas.Visible (end) *@
    @if (subAktivitasStopPembongkaranPenKonList.NoReferensi.Visible) { // subAktivitasStopPembongkaranPenKonList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasStopPembongkaranPenKonList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasStopPembongkaranPenKonList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStopPembongkaranPenKonList.RowCount)_SubAktivitasStopPembongkaranPenKon_NoReferensi" class="el_SubAktivitasStopPembongkaranPenKon_NoReferensi">
<span @Html.Raw(subAktivitasStopPembongkaranPenKonList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasStopPembongkaranPenKonList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopPembongkaranPenKonList.NoReferensi.Visible (end) *@
    @if (subAktivitasStopPembongkaranPenKonList.LastUpdatedBy.Visible) { // subAktivitasStopPembongkaranPenKonList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasStopPembongkaranPenKonList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasStopPembongkaranPenKonList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStopPembongkaranPenKonList.RowCount)_SubAktivitasStopPembongkaranPenKon_LastUpdatedBy" class="el_SubAktivitasStopPembongkaranPenKon_LastUpdatedBy">
<span @Html.Raw(subAktivitasStopPembongkaranPenKonList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasStopPembongkaranPenKonList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopPembongkaranPenKonList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasStopPembongkaranPenKonList.lastUpdatedDate.Visible) { // subAktivitasStopPembongkaranPenKonList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasStopPembongkaranPenKonList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasStopPembongkaranPenKonList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStopPembongkaranPenKonList.RowCount)_SubAktivitasStopPembongkaranPenKon_lastUpdatedDate" class="el_SubAktivitasStopPembongkaranPenKon_lastUpdatedDate">
<span @Html.Raw(subAktivitasStopPembongkaranPenKonList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasStopPembongkaranPenKonList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopPembongkaranPenKonList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasStopPembongkaranPenKonList.StatusAktivitas.Visible) { // subAktivitasStopPembongkaranPenKonList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasStopPembongkaranPenKonList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasStopPembongkaranPenKonList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStopPembongkaranPenKonList.RowCount)_SubAktivitasStopPembongkaranPenKon_StatusAktivitas" class="el_SubAktivitasStopPembongkaranPenKon_StatusAktivitas">
<span @Html.Raw(subAktivitasStopPembongkaranPenKonList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasStopPembongkaranPenKonList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopPembongkaranPenKonList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasStopPembongkaranPenKonList.Tanggal.Visible) { // subAktivitasStopPembongkaranPenKonList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasStopPembongkaranPenKonList.Tanggal.CellAttributes)>
<span id="el@(SameString(subAktivitasStopPembongkaranPenKonList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStopPembongkaranPenKonList.RowCount)_SubAktivitasStopPembongkaranPenKon_Tanggal" class="el_SubAktivitasStopPembongkaranPenKon_Tanggal">
<span @Html.Raw(subAktivitasStopPembongkaranPenKonList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasStopPembongkaranPenKonList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopPembongkaranPenKonList.Tanggal.Visible (end) *@
    @if (subAktivitasStopPembongkaranPenKonList.userInput.Visible) { // subAktivitasStopPembongkaranPenKonList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasStopPembongkaranPenKonList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasStopPembongkaranPenKonList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStopPembongkaranPenKonList.RowCount)_SubAktivitasStopPembongkaranPenKon_userInput" class="el_SubAktivitasStopPembongkaranPenKon_userInput">
<span @Html.Raw(subAktivitasStopPembongkaranPenKonList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasStopPembongkaranPenKonList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopPembongkaranPenKonList.userInput.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasStopPembongkaranPenKonList.ListOptions.RenderBody("right", subAktivitasStopPembongkaranPenKonList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasStopPembongkaranPenKonList.RowIndex, "$rowindex$"))
        subAktivitasStopPembongkaranPenKonList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasStopPembongkaranPenKonList.IsCopy || subAktivitasStopPembongkaranPenKonList.IsAdd) && subAktivitasStopPembongkaranPenKonList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasStopPembongkaranPenKonList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasStopPembongkaranPenKonList.CurrentAction) && !subAktivitasStopPembongkaranPenKonList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasStopPembongkaranPenKonList.CloseRecordset(); }
@if (!subAktivitasStopPembongkaranPenKonList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasStopPembongkaranPenKonList.IsGridAdd && !(subAktivitasStopPembongkaranPenKonList.IsGridEdit && subAktivitasStopPembongkaranPenKonList.ModalGridEdit) && !subAktivitasStopPembongkaranPenKonList.IsMultiEdit) {
@Html.Raw(subAktivitasStopPembongkaranPenKonList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasStopPembongkaranPenKonList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasStopPembongkaranPenKonList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasStopPembongkaranPenKonList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasStopPembongkaranPenKonList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasStopPembongkaranPenKonList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasStopPembongkaranPenKon");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
