@{
    // View
    View = this;

    // Check action result
    if (subAktivitasHasilPemeriksaanStslpgEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasHasilPemeriksaanStslpgEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasHasilPemeriksaanStslpgEdit.ShowPageHeader()
@subAktivitasHasilPemeriksaanStslpgEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasHasilPemeriksaanSTSLPGedit" id="fSubAktivitasHasilPemeriksaanSTSLPGedit" class="@(subAktivitasHasilPemeriksaanStslpgEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasHasilPemeriksaanStslpgEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasHasilPemeriksaanSTSLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasHasilPemeriksaanSTSLPGedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasHasilPemeriksaanSTSLPGedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["NamaKapal", [fields.NamaKapal.visible && fields.NamaKapal.required ? ew.Validators.required(fields.NamaKapal.caption) : null], fields.NamaKapal.isInvalid],
            ["TanggalJam", [fields.TanggalJam.visible && fields.TanggalJam.required ? ew.Validators.required(fields.TanggalJam.caption) : null, ew.Validators.datetime(fields.TanggalJam.clientFormatPattern)], fields.TanggalJam.isInvalid],
            ["NamaKegiatan", [fields.NamaKegiatan.visible && fields.NamaKegiatan.required ? ew.Validators.required(fields.NamaKegiatan.caption) : null], fields.NamaKegiatan.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["Density", [fields.Density.visible && fields.Density.required ? ew.Validators.required(fields.Density.caption) : null], fields.Density.isInvalid],
            ["Temperature", [fields.Temperature.visible && fields.Temperature.required ? ew.Validators.required(fields.Temperature.caption) : null], fields.Temperature.isInvalid],
            ["Pressure", [fields.Pressure.visible && fields.Pressure.required ? ew.Validators.required(fields.Pressure.caption) : null], fields.Pressure.isInvalid],
            ["Keterangan", [fields.Keterangan.visible && fields.Keterangan.required ? ew.Validators.required(fields.Keterangan.caption) : null], fields.Keterangan.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["TanggalJamSOP", [fields.TanggalJamSOP.visible && fields.TanggalJamSOP.required ? ew.Validators.required(fields.TanggalJamSOP.caption) : null, ew.Validators.datetime(fields.TanggalJamSOP.clientFormatPattern)], fields.TanggalJamSOP.isInvalid],
            ["SelisihWaktu", [fields.SelisihWaktu.visible && fields.SelisihWaktu.required ? ew.Validators.required(fields.SelisihWaktu.caption) : null], fields.SelisihWaktu.isInvalid],
            ["IsQualityActive", [fields.IsQualityActive.visible && fields.IsQualityActive.required ? ew.Validators.required(fields.IsQualityActive.caption) : null], fields.IsQualityActive.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "IsQualityActive": @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.IsQualityActive.ToClientList(subAktivitasHasilPemeriksaanStslpgEdit)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasHasilPemeriksaanStslpgEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasHasilPemeriksaanStslpgEdit.OldKeyName)" value="@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasHasilPemeriksaanStslpgEdit.id.Visible) { // subAktivitasHasilPemeriksaanStslpgEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.id.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanSTSLPG_id" class="@(subAktivitasHasilPemeriksaanStslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.id.Caption)@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanStslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.id.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanSTSLPG_id">
<span @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasHasilPemeriksaanStslpgEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasHasilPemeriksaanSTSLPG" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanStslpgEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanStslpgEdit.id.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgEdit.idAktifitas.Visible) { // subAktivitasHasilPemeriksaanStslpgEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanSTSLPG_idAktifitas" for="x_idAktifitas" class="@(subAktivitasHasilPemeriksaanStslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.idAktifitas.Caption)@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanStslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanSTSLPG_idAktifitas">
<input type="@(subAktivitasHasilPemeriksaanStslpgEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubAktivitasHasilPemeriksaanSTSLPG" data-field="x_idAktifitas" value="@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanStslpgEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanStslpgEdit.idAktifitas.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanStslpgEdit.idAktifitas.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgEdit.NamaKapal.Visible) { // subAktivitasHasilPemeriksaanStslpgEdit.NamaKapal.Visible (begin)
    <div id="r_NamaKapal" @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.NamaKapal.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanSTSLPG_NamaKapal" for="x_NamaKapal" class="@(subAktivitasHasilPemeriksaanStslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.NamaKapal.Caption)@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.NamaKapal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanStslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.NamaKapal.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanSTSLPG_NamaKapal">
<input type="@(subAktivitasHasilPemeriksaanStslpgEdit.NamaKapal.InputTextType)" name="x_NamaKapal" id="x_NamaKapal" data-table="SubAktivitasHasilPemeriksaanSTSLPG" data-field="x_NamaKapal" value="@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.NamaKapal.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanStslpgEdit.NamaKapal.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanStslpgEdit.NamaKapal.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.NamaKapal.EditAttributes) aria-describedby="x_NamaKapal_help">
@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.NamaKapal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.NamaKapal.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanStslpgEdit.NamaKapal.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgEdit.TanggalJam.Visible) { // subAktivitasHasilPemeriksaanStslpgEdit.TanggalJam.Visible (begin)
    <div id="r_TanggalJam" @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.TanggalJam.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanSTSLPG_TanggalJam" for="x_TanggalJam" class="@(subAktivitasHasilPemeriksaanStslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.TanggalJam.Caption)@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.TanggalJam.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanStslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.TanggalJam.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanSTSLPG_TanggalJam">
<input type="@(subAktivitasHasilPemeriksaanStslpgEdit.TanggalJam.InputTextType)" name="x_TanggalJam" id="x_TanggalJam" data-table="SubAktivitasHasilPemeriksaanSTSLPG" data-field="x_TanggalJam" value="@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.TanggalJam.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanStslpgEdit.TanggalJam.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanStslpgEdit.TanggalJam.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.TanggalJam.EditAttributes) aria-describedby="x_TanggalJam_help">
@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.TanggalJam.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.TanggalJam.GetErrorMessage())</div>
@if (!subAktivitasHasilPemeriksaanStslpgEdit.TanggalJam.ReadOnly && !subAktivitasHasilPemeriksaanStslpgEdit.TanggalJam.Disabled && !subAktivitasHasilPemeriksaanStslpgEdit.TanggalJam.EditAttrs.Is("readonly") && !subAktivitasHasilPemeriksaanStslpgEdit.TanggalJam.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasHasilPemeriksaanSTSLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasHasilPemeriksaanSTSLPGedit", "x_TanggalJam", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanStslpgEdit.TanggalJam.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgEdit.NamaKegiatan.Visible) { // subAktivitasHasilPemeriksaanStslpgEdit.NamaKegiatan.Visible (begin)
    <div id="r_NamaKegiatan" @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.NamaKegiatan.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanSTSLPG_NamaKegiatan" for="x_NamaKegiatan" class="@(subAktivitasHasilPemeriksaanStslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.NamaKegiatan.Caption)@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.NamaKegiatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanStslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.NamaKegiatan.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanSTSLPG_NamaKegiatan">
<input type="@(subAktivitasHasilPemeriksaanStslpgEdit.NamaKegiatan.InputTextType)" name="x_NamaKegiatan" id="x_NamaKegiatan" data-table="SubAktivitasHasilPemeriksaanSTSLPG" data-field="x_NamaKegiatan" value="@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.NamaKegiatan.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanStslpgEdit.NamaKegiatan.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanStslpgEdit.NamaKegiatan.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.NamaKegiatan.EditAttributes) aria-describedby="x_NamaKegiatan_help">
@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.NamaKegiatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.NamaKegiatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanStslpgEdit.NamaKegiatan.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgEdit.Produk.Visible) { // subAktivitasHasilPemeriksaanStslpgEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Produk.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanSTSLPG_Produk" for="x_Produk" class="@(subAktivitasHasilPemeriksaanStslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Produk.Caption)@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanStslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Produk.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanSTSLPG_Produk">
<input type="@(subAktivitasHasilPemeriksaanStslpgEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasHasilPemeriksaanSTSLPG" data-field="x_Produk" value="@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Produk.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanStslpgEdit.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanStslpgEdit.Produk.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanStslpgEdit.Produk.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgEdit.Density.Visible) { // subAktivitasHasilPemeriksaanStslpgEdit.Density.Visible (begin)
    <div id="r_Density" @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Density.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanSTSLPG_Density" for="x_Density" class="@(subAktivitasHasilPemeriksaanStslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Density.Caption)@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Density.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanStslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Density.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanSTSLPG_Density">
<input type="@(subAktivitasHasilPemeriksaanStslpgEdit.Density.InputTextType)" name="x_Density" id="x_Density" data-table="SubAktivitasHasilPemeriksaanSTSLPG" data-field="x_Density" value="@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Density.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanStslpgEdit.Density.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanStslpgEdit.Density.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Density.EditAttributes) aria-describedby="x_Density_help">
@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Density.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Density.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanStslpgEdit.Density.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgEdit.Temperature.Visible) { // subAktivitasHasilPemeriksaanStslpgEdit.Temperature.Visible (begin)
    <div id="r_Temperature" @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Temperature.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanSTSLPG_Temperature" for="x_Temperature" class="@(subAktivitasHasilPemeriksaanStslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Temperature.Caption)@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Temperature.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanStslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Temperature.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanSTSLPG_Temperature">
<input type="@(subAktivitasHasilPemeriksaanStslpgEdit.Temperature.InputTextType)" name="x_Temperature" id="x_Temperature" data-table="SubAktivitasHasilPemeriksaanSTSLPG" data-field="x_Temperature" value="@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Temperature.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanStslpgEdit.Temperature.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanStslpgEdit.Temperature.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Temperature.EditAttributes) aria-describedby="x_Temperature_help">
@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Temperature.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Temperature.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanStslpgEdit.Temperature.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgEdit.Pressure.Visible) { // subAktivitasHasilPemeriksaanStslpgEdit.Pressure.Visible (begin)
    <div id="r_Pressure" @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Pressure.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanSTSLPG_Pressure" for="x_Pressure" class="@(subAktivitasHasilPemeriksaanStslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Pressure.Caption)@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Pressure.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanStslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Pressure.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanSTSLPG_Pressure">
<input type="@(subAktivitasHasilPemeriksaanStslpgEdit.Pressure.InputTextType)" name="x_Pressure" id="x_Pressure" data-table="SubAktivitasHasilPemeriksaanSTSLPG" data-field="x_Pressure" value="@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Pressure.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanStslpgEdit.Pressure.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanStslpgEdit.Pressure.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Pressure.EditAttributes) aria-describedby="x_Pressure_help">
@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Pressure.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Pressure.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanStslpgEdit.Pressure.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgEdit.Keterangan.Visible) { // subAktivitasHasilPemeriksaanStslpgEdit.Keterangan.Visible (begin)
    <div id="r_Keterangan" @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Keterangan.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanSTSLPG_Keterangan" for="x_Keterangan" class="@(subAktivitasHasilPemeriksaanStslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Keterangan.Caption)@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Keterangan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanStslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Keterangan.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanSTSLPG_Keterangan">
<textarea data-table="SubAktivitasHasilPemeriksaanSTSLPG" data-field="x_Keterangan" name="x_Keterangan" id="x_Keterangan" cols="35" rows="4" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanStslpgEdit.Keterangan.PlaceHolder))"@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Keterangan.EditAttributes) aria-describedby="x_Keterangan_help">@(subAktivitasHasilPemeriksaanStslpgEdit.Keterangan.EditValue)</textarea>
@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Keterangan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.Keterangan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanStslpgEdit.Keterangan.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgEdit.userInput.Visible) { // subAktivitasHasilPemeriksaanStslpgEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.userInput.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanSTSLPG_userInput" for="x_userInput" class="@(subAktivitasHasilPemeriksaanStslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.userInput.Caption)@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanStslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.userInput.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanSTSLPG_userInput">
<input type="@(subAktivitasHasilPemeriksaanStslpgEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasHasilPemeriksaanSTSLPG" data-field="x_userInput" value="@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanStslpgEdit.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanStslpgEdit.userInput.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanStslpgEdit.userInput.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgEdit.etlDate.Visible) { // subAktivitasHasilPemeriksaanStslpgEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanSTSLPG_etlDate" for="x_etlDate" class="@(subAktivitasHasilPemeriksaanStslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.etlDate.Caption)@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanStslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.etlDate.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanSTSLPG_etlDate">
<input type="@(subAktivitasHasilPemeriksaanStslpgEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasHasilPemeriksaanSTSLPG" data-field="x_etlDate" value="@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanStslpgEdit.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanStslpgEdit.etlDate.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.etlDate.GetErrorMessage())</div>
@if (!subAktivitasHasilPemeriksaanStslpgEdit.etlDate.ReadOnly && !subAktivitasHasilPemeriksaanStslpgEdit.etlDate.Disabled && !subAktivitasHasilPemeriksaanStslpgEdit.etlDate.EditAttrs.Is("readonly") && !subAktivitasHasilPemeriksaanStslpgEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasHasilPemeriksaanSTSLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasHasilPemeriksaanSTSLPGedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanStslpgEdit.etlDate.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgEdit.idProses.Visible) { // subAktivitasHasilPemeriksaanStslpgEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanSTSLPG_idProses" for="x_idProses" class="@(subAktivitasHasilPemeriksaanStslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.idProses.Caption)@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanStslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanSTSLPG_idProses">
<input type="@(subAktivitasHasilPemeriksaanStslpgEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubAktivitasHasilPemeriksaanSTSLPG" data-field="x_idProses" value="@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanStslpgEdit.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanStslpgEdit.idProses.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanStslpgEdit.idProses.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgEdit.LastUpdatedBy.Visible) { // subAktivitasHasilPemeriksaanStslpgEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanSTSLPG_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasHasilPemeriksaanStslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanStslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanSTSLPG_LastUpdatedBy">
<input type="@(subAktivitasHasilPemeriksaanStslpgEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasHasilPemeriksaanSTSLPG" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanStslpgEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanStslpgEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanStslpgEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgEdit.lastUpdatedDate.Visible) { // subAktivitasHasilPemeriksaanStslpgEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanSTSLPG_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasHasilPemeriksaanStslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanStslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanSTSLPG_lastUpdatedDate">
<input type="@(subAktivitasHasilPemeriksaanStslpgEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasHasilPemeriksaanSTSLPG" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanStslpgEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanStslpgEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasHasilPemeriksaanStslpgEdit.lastUpdatedDate.ReadOnly && !subAktivitasHasilPemeriksaanStslpgEdit.lastUpdatedDate.Disabled && !subAktivitasHasilPemeriksaanStslpgEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasHasilPemeriksaanStslpgEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasHasilPemeriksaanSTSLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasHasilPemeriksaanSTSLPGedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanStslpgEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgEdit.NoReferensi.Visible) { // subAktivitasHasilPemeriksaanStslpgEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanSTSLPG_NoReferensi" for="x_NoReferensi" class="@(subAktivitasHasilPemeriksaanStslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.NoReferensi.Caption)@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanStslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanSTSLPG_NoReferensi">
<input type="@(subAktivitasHasilPemeriksaanStslpgEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasHasilPemeriksaanSTSLPG" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.NoReferensi.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanStslpgEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanStslpgEdit.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanStslpgEdit.NoReferensi.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgEdit.TanggalJamSOP.Visible) { // subAktivitasHasilPemeriksaanStslpgEdit.TanggalJamSOP.Visible (begin)
    <div id="r_TanggalJamSOP" @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.TanggalJamSOP.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanSTSLPG_TanggalJamSOP" for="x_TanggalJamSOP" class="@(subAktivitasHasilPemeriksaanStslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.TanggalJamSOP.Caption)@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.TanggalJamSOP.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanStslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.TanggalJamSOP.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanSTSLPG_TanggalJamSOP">
<input type="@(subAktivitasHasilPemeriksaanStslpgEdit.TanggalJamSOP.InputTextType)" name="x_TanggalJamSOP" id="x_TanggalJamSOP" data-table="SubAktivitasHasilPemeriksaanSTSLPG" data-field="x_TanggalJamSOP" value="@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.TanggalJamSOP.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanStslpgEdit.TanggalJamSOP.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanStslpgEdit.TanggalJamSOP.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.TanggalJamSOP.EditAttributes) aria-describedby="x_TanggalJamSOP_help">
@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.TanggalJamSOP.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.TanggalJamSOP.GetErrorMessage())</div>
@if (!subAktivitasHasilPemeriksaanStslpgEdit.TanggalJamSOP.ReadOnly && !subAktivitasHasilPemeriksaanStslpgEdit.TanggalJamSOP.Disabled && !subAktivitasHasilPemeriksaanStslpgEdit.TanggalJamSOP.EditAttrs.Is("readonly") && !subAktivitasHasilPemeriksaanStslpgEdit.TanggalJamSOP.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasHasilPemeriksaanSTSLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasHasilPemeriksaanSTSLPGedit", "x_TanggalJamSOP", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanStslpgEdit.TanggalJamSOP.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgEdit.SelisihWaktu.Visible) { // subAktivitasHasilPemeriksaanStslpgEdit.SelisihWaktu.Visible (begin)
    <div id="r_SelisihWaktu" @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.SelisihWaktu.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanSTSLPG_SelisihWaktu" for="x_SelisihWaktu" class="@(subAktivitasHasilPemeriksaanStslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.SelisihWaktu.Caption)@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.SelisihWaktu.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanStslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.SelisihWaktu.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanSTSLPG_SelisihWaktu">
<input type="@(subAktivitasHasilPemeriksaanStslpgEdit.SelisihWaktu.InputTextType)" name="x_SelisihWaktu" id="x_SelisihWaktu" data-table="SubAktivitasHasilPemeriksaanSTSLPG" data-field="x_SelisihWaktu" value="@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.SelisihWaktu.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanStslpgEdit.SelisihWaktu.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanStslpgEdit.SelisihWaktu.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.SelisihWaktu.EditAttributes) aria-describedby="x_SelisihWaktu_help">
@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.SelisihWaktu.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.SelisihWaktu.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanStslpgEdit.SelisihWaktu.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgEdit.IsQualityActive.Visible) { // subAktivitasHasilPemeriksaanStslpgEdit.IsQualityActive.Visible (begin)
    <div id="r_IsQualityActive" @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.IsQualityActive.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanSTSLPG_IsQualityActive" class="@(subAktivitasHasilPemeriksaanStslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.IsQualityActive.Caption)@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.IsQualityActive.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanStslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.IsQualityActive.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanSTSLPG_IsQualityActive">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(subAktivitasHasilPemeriksaanStslpgEdit.IsQualityActive.IsInvalidClass)" data-table="SubAktivitasHasilPemeriksaanSTSLPG" data-field="x_IsQualityActive" data-boolean name="x_IsQualityActive" id="x_IsQualityActive" value="1" checked="@ConvertToBool(subAktivitasHasilPemeriksaanStslpgEdit.IsQualityActive.CurrentValue)" @Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.IsQualityActive.EditAttributes) aria-describedby="x_IsQualityActive_help">
    <div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.IsQualityActive.GetErrorMessage())</div>
</div>
@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.IsQualityActive.GetCustomMessage)
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanStslpgEdit.IsQualityActive.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasHasilPemeriksaanStslpgEdit.CloseRecordset(); }
@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasHasilPemeriksaanStslpgEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasHasilPemeriksaanSTSLPGedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasHasilPemeriksaanSTSLPGedit" data-href="@AppPath(subAktivitasHasilPemeriksaanStslpgEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasHasilPemeriksaanStslpgEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasHasilPemeriksaanStslpgEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasHasilPemeriksaanSTSLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
