@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.TotalRecords > 0 && subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.ExportOptions.Visible) {
    subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.ExportOptions.Render("body");
}
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.ImportOptions.Visible) {
    subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.ImportOptions.Render("body");
}
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SearchOptions.Visible) {
    subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SearchOptions.Render("body");
}
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.FilterOptions.Visible) {
    subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.IsModal) {
<form name="fSubAktivitasNilaiNewBLSFADSFBLSTSPyrBBMsrch" id="fSubAktivitasNilaiNewBLSFADSFBLSTSPyrBBMsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasNilaiNewBLSFADSFBLSTSPyrBBMsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM: currentTable } });
var currentForm;
var fSubAktivitasNilaiNewBLSFADSFBLSTSPyrBBMsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiNewBLSFADSFBLSTSPyrBBMsrch")
        .setPageId("list")
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.IsExport() && Empty(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.CurrentAction) && subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasNilaiNewBLSFADSFBLSTSPyrBBMsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasNilaiNewBLSFADSFBLSTSPyrBBMsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasNilaiNewBLSFADSFBLSTSPyrBBMsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasNilaiNewBLSFADSFBLSTSPyrBBMsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.ShowPageHeader()
@subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.ShowMessages()
<main class="list @(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.TotalRecords == 0 && !subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.TotalRecords > 0 || !Empty(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.TableGridClass)">
<form name="@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.FormName)" id="@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM" class="card-body ew-grid-middle-panel @(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.TableContainerClass)" style="@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.TableContainerStyle)">
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.TotalRecords > 0 || subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.IsGridEdit || subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.IsMultiEdit) {
<table id="tbl_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBMlist" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowType = RowType.Header;

    // Render list options
    await subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.ListOptions.RenderHeader("left")
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.id.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.id.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_id" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_id">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.id))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.id.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.idProses.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_idProses" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_idProses">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.idProses))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.idProses.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.idAktifitas.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_idAktifitas" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_idAktifitas">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.idAktifitas))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NoReferensi.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_NoReferensi" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_NoReferensi">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NoReferensi))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NoReferensi.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_KLObs.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_KLObs.Visible (begin)
        <th data-name="NewBL_KLObs" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_KLObs.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_NewBL_KLObs" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_NewBL_KLObs">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_KLObs))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_KLObs.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_KL15.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_KL15.Visible (begin)
        <th data-name="NewBL_KL15" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_KL15.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_NewBL_KL15" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_NewBL_KL15">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_KL15))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_KL15.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_Barrels.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_Barrels.Visible (begin)
        <th data-name="NewBL_Barrels" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_Barrels.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_NewBL_Barrels" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_NewBL_Barrels">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_Barrels))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_Barrels.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_LT.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_LT.Visible (begin)
        <th data-name="NewBL_LT" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_LT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_NewBL_LT" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_NewBL_LT">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_LT))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_LT.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_MT.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_MT.Visible (begin)
        <th data-name="NewBL_MT" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_MT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_NewBL_MT" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_NewBL_MT">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_MT))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_MT.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_KLObs.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_KLObs.Visible (begin)
        <th data-name="SFAD_KLObs" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_KLObs.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFAD_KLObs" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFAD_KLObs">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_KLObs))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_KLObs.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_KL15.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_KL15.Visible (begin)
        <th data-name="SFAD_KL15" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_KL15.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFAD_KL15" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFAD_KL15">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_KL15))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_KL15.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_Barrels.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_Barrels.Visible (begin)
        <th data-name="SFAD_Barrels" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_Barrels.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFAD_Barrels" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFAD_Barrels">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_Barrels))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_Barrels.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_LT.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_LT.Visible (begin)
        <th data-name="SFAD_LT" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_LT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFAD_LT" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFAD_LT">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_LT))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_LT.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_MT.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_MT.Visible (begin)
        <th data-name="SFAD_MT" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_MT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFAD_MT" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFAD_MT">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_MT))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_MT.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_KLObs.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_KLObs.Visible (begin)
        <th data-name="SFBL_KLObs" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_KLObs.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFBL_KLObs" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFBL_KLObs">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_KLObs))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_KLObs.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_KL15.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_KL15.Visible (begin)
        <th data-name="SFBL_KL15" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_KL15.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFBL_KL15" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFBL_KL15">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_KL15))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_KL15.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_Barrels.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_Barrels.Visible (begin)
        <th data-name="SFBL_Barrels" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_Barrels.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFBL_Barrels" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFBL_Barrels">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_Barrels))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_Barrels.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_LT.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_LT.Visible (begin)
        <th data-name="SFBL_LT" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_LT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFBL_LT" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFBL_LT">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_LT))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_LT.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_MT.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_MT.Visible (begin)
        <th data-name="SFBL_MT" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_MT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFBL_MT" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFBL_MT">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_MT))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_MT.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.userInput.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_userInput" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_userInput">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.userInput))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.userInput.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.etlDate.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_etlDate" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_etlDate">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.etlDate))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.etlDate.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.LastUpdatedBy.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_LastUpdatedBy" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_LastUpdatedBy">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.LastUpdatedBy))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.lastUpdatedDate.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_lastUpdatedDate" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_lastUpdatedDate">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.lastUpdatedDate))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.ExROB.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.ExROB.Visible (begin)
        <th data-name="ExROB" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.ExROB.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_ExROB" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_ExROB">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.ExROB))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.ExROB.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NoPenerimaan.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NoPenerimaan.Visible (begin)
        <th data-name="NoPenerimaan" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NoPenerimaan.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_NoPenerimaan" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_NoPenerimaan">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NoPenerimaan))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NoPenerimaan.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.StatusAktivitas.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_StatusAktivitas" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_StatusAktivitas">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.StatusAktivitas))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.StatusAktivitas.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.PageNumber)">
@{
    await subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SetupGrid();
    bool eof = subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.Recordset == null; // DN
}
@while (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RecordCount < subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.StopRecord || SameString(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex, "$rowindex$") &&
        (!subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.IsGridAdd || subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.CurrentMode == "copy") &&
        (!((subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.IsCopy || subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.IsAdd) && subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.Recordset.ReadAsync();
    subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RecordCount++;
    if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RecordCount >= subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.StartRecord) {
        await subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SetupRow();
    <tr @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.ListOptions.RenderBody("left", subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowCount)
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.id.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_id" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_id">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.id.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.id.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.idProses.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_idProses" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_idProses">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.idProses.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.idAktifitas.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_idAktifitas" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_idAktifitas">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.idAktifitas.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NoReferensi.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_NoReferensi" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_NoReferensi">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NoReferensi.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_KLObs.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_KLObs.Visible (begin)
        <td data-name="NewBL_KLObs" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_KLObs.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_NewBL_KLObs" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_NewBL_KLObs">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_KLObs.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_KLObs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_KLObs.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_KL15.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_KL15.Visible (begin)
        <td data-name="NewBL_KL15" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_KL15.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_NewBL_KL15" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_NewBL_KL15">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_KL15.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_KL15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_KL15.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_Barrels.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_Barrels.Visible (begin)
        <td data-name="NewBL_Barrels" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_Barrels.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_NewBL_Barrels" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_NewBL_Barrels">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_Barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_Barrels.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_LT.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_LT.Visible (begin)
        <td data-name="NewBL_LT" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_LT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_NewBL_LT" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_NewBL_LT">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_LT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_LT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_LT.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_MT.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_MT.Visible (begin)
        <td data-name="NewBL_MT" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_MT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_NewBL_MT" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_NewBL_MT">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_MT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NewBL_MT.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_KLObs.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_KLObs.Visible (begin)
        <td data-name="SFAD_KLObs" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_KLObs.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFAD_KLObs" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFAD_KLObs">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_KLObs.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_KLObs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_KLObs.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_KL15.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_KL15.Visible (begin)
        <td data-name="SFAD_KL15" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_KL15.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFAD_KL15" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFAD_KL15">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_KL15.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_KL15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_KL15.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_Barrels.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_Barrels.Visible (begin)
        <td data-name="SFAD_Barrels" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_Barrels.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFAD_Barrels" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFAD_Barrels">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_Barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_Barrels.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_LT.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_LT.Visible (begin)
        <td data-name="SFAD_LT" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_LT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFAD_LT" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFAD_LT">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_LT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_LT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_LT.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_MT.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_MT.Visible (begin)
        <td data-name="SFAD_MT" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_MT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFAD_MT" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFAD_MT">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_MT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFAD_MT.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_KLObs.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_KLObs.Visible (begin)
        <td data-name="SFBL_KLObs" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_KLObs.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFBL_KLObs" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFBL_KLObs">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_KLObs.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_KLObs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_KLObs.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_KL15.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_KL15.Visible (begin)
        <td data-name="SFBL_KL15" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_KL15.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFBL_KL15" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFBL_KL15">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_KL15.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_KL15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_KL15.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_Barrels.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_Barrels.Visible (begin)
        <td data-name="SFBL_Barrels" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_Barrels.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFBL_Barrels" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFBL_Barrels">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_Barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_Barrels.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_LT.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_LT.Visible (begin)
        <td data-name="SFBL_LT" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_LT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFBL_LT" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFBL_LT">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_LT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_LT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_LT.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_MT.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_MT.Visible (begin)
        <td data-name="SFBL_MT" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_MT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFBL_MT" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_SFBL_MT">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_MT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.SFBL_MT.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.userInput.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_userInput" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_userInput">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.userInput.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.etlDate.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_etlDate" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_etlDate">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.etlDate.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.LastUpdatedBy.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_LastUpdatedBy" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_LastUpdatedBy">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.lastUpdatedDate.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_lastUpdatedDate" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_lastUpdatedDate">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.ExROB.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.ExROB.Visible (begin)
        <td data-name="ExROB" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.ExROB.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_ExROB" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_ExROB">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.ExROB.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.ExROB.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.ExROB.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NoPenerimaan.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NoPenerimaan.Visible (begin)
        <td data-name="NoPenerimaan" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NoPenerimaan.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_NoPenerimaan" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_NoPenerimaan">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NoPenerimaan.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NoPenerimaan.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.NoPenerimaan.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.StatusAktivitas.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_StatusAktivitas" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM_StatusAktivitas">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.StatusAktivitas.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.ListOptions.RenderBody("right", subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex, "$rowindex$"))
        subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.IsCopy || subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.IsAdd) && subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.CurrentAction) && !subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.CloseRecordset(); }
@if (!subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.IsGridAdd && !(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.IsGridEdit && subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.ModalGridEdit) && !subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.IsMultiEdit) {
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasNilaiNewBlsfadsfblstsPyrBbmList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasNilaiNewBLSFADSFBLSTSPyrBBM");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
