@{
    // View
    View = this;

    // Check action result
    if (subAktivitasDataStartPembongkaranRtwView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasDataStartPembongkaranRtwView.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasDataStartPembongkaranRtwView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @subAktivitasDataStartPembongkaranRtwView.ExportOptions.RenderBody()
    @subAktivitasDataStartPembongkaranRtwView.OtherOptions.RenderBody()
</div>
}
@subAktivitasDataStartPembongkaranRtwView.ShowPageHeader()
@subAktivitasDataStartPembongkaranRtwView.ShowMessages()
<main class="view">
<form name="fSubAktivitasDataStartPembongkaranRTWview" id="fSubAktivitasDataStartPembongkaranRTWview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!subAktivitasDataStartPembongkaranRtwView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataStartPembongkaranRtwView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataStartPembongkaranRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fSubAktivitasDataStartPembongkaranRTWview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasDataStartPembongkaranRTWview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasDataStartPembongkaranRtwView.IsModal)">
<table class="@(subAktivitasDataStartPembongkaranRtwView.TableClass)">
@if (subAktivitasDataStartPembongkaranRtwView.id.Visible) { // subAktivitasDataStartPembongkaranRtwView.id.Visible (begin)
    <tr id="r_id" @Html.Raw(subAktivitasDataStartPembongkaranRtwView.id.RowAttributes)>
        <td class="@(subAktivitasDataStartPembongkaranRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataStartPembongkaranRTW_id">@Html.Raw(subAktivitasDataStartPembongkaranRtwView.id.Caption)</span></td>
        <td data-name="id" @Html.Raw(subAktivitasDataStartPembongkaranRtwView.id.CellAttributes)>
<span id="el_SubAktivitasDataStartPembongkaranRTW_id">
<span @Html.Raw(subAktivitasDataStartPembongkaranRtwView.id.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranRtwView.id.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataStartPembongkaranRtwView.id.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwView.NoReferensi.Visible) { // subAktivitasDataStartPembongkaranRtwView.NoReferensi.Visible (begin)
    <tr id="r_NoReferensi" @Html.Raw(subAktivitasDataStartPembongkaranRtwView.NoReferensi.RowAttributes)>
        <td class="@(subAktivitasDataStartPembongkaranRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataStartPembongkaranRTW_NoReferensi">@Html.Raw(subAktivitasDataStartPembongkaranRtwView.NoReferensi.Caption)</span></td>
        <td data-name="NoReferensi" @Html.Raw(subAktivitasDataStartPembongkaranRtwView.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasDataStartPembongkaranRTW_NoReferensi">
<span @Html.Raw(subAktivitasDataStartPembongkaranRtwView.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranRtwView.NoReferensi.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataStartPembongkaranRtwView.NoReferensi.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwView.idProses.Visible) { // subAktivitasDataStartPembongkaranRtwView.idProses.Visible (begin)
    <tr id="r_idProses" @Html.Raw(subAktivitasDataStartPembongkaranRtwView.idProses.RowAttributes)>
        <td class="@(subAktivitasDataStartPembongkaranRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataStartPembongkaranRTW_idProses">@Html.Raw(subAktivitasDataStartPembongkaranRtwView.idProses.Caption)</span></td>
        <td data-name="idProses" @Html.Raw(subAktivitasDataStartPembongkaranRtwView.idProses.CellAttributes)>
<span id="el_SubAktivitasDataStartPembongkaranRTW_idProses">
<span @Html.Raw(subAktivitasDataStartPembongkaranRtwView.idProses.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranRtwView.idProses.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataStartPembongkaranRtwView.idProses.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwView.idAktifitas.Visible) { // subAktivitasDataStartPembongkaranRtwView.idAktifitas.Visible (begin)
    <tr id="r_idAktifitas" @Html.Raw(subAktivitasDataStartPembongkaranRtwView.idAktifitas.RowAttributes)>
        <td class="@(subAktivitasDataStartPembongkaranRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataStartPembongkaranRTW_idAktifitas">@Html.Raw(subAktivitasDataStartPembongkaranRtwView.idAktifitas.Caption)</span></td>
        <td data-name="idAktifitas" @Html.Raw(subAktivitasDataStartPembongkaranRtwView.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasDataStartPembongkaranRTW_idAktifitas">
<span @Html.Raw(subAktivitasDataStartPembongkaranRtwView.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranRtwView.idAktifitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataStartPembongkaranRtwView.idAktifitas.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwView.StatusAktivitas.Visible) { // subAktivitasDataStartPembongkaranRtwView.StatusAktivitas.Visible (begin)
    <tr id="r_StatusAktivitas" @Html.Raw(subAktivitasDataStartPembongkaranRtwView.StatusAktivitas.RowAttributes)>
        <td class="@(subAktivitasDataStartPembongkaranRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataStartPembongkaranRTW_StatusAktivitas">@Html.Raw(subAktivitasDataStartPembongkaranRtwView.StatusAktivitas.Caption)</span></td>
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasDataStartPembongkaranRtwView.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasDataStartPembongkaranRTW_StatusAktivitas">
<span @Html.Raw(subAktivitasDataStartPembongkaranRtwView.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranRtwView.StatusAktivitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataStartPembongkaranRtwView.StatusAktivitas.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwView.LastUpdatedBy.Visible) { // subAktivitasDataStartPembongkaranRtwView.LastUpdatedBy.Visible (begin)
    <tr id="r_LastUpdatedBy" @Html.Raw(subAktivitasDataStartPembongkaranRtwView.LastUpdatedBy.RowAttributes)>
        <td class="@(subAktivitasDataStartPembongkaranRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataStartPembongkaranRTW_LastUpdatedBy">@Html.Raw(subAktivitasDataStartPembongkaranRtwView.LastUpdatedBy.Caption)</span></td>
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasDataStartPembongkaranRtwView.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasDataStartPembongkaranRTW_LastUpdatedBy">
<span @Html.Raw(subAktivitasDataStartPembongkaranRtwView.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranRtwView.LastUpdatedBy.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataStartPembongkaranRtwView.LastUpdatedBy.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwView.lastUpdatedDate.Visible) { // subAktivitasDataStartPembongkaranRtwView.lastUpdatedDate.Visible (begin)
    <tr id="r_lastUpdatedDate" @Html.Raw(subAktivitasDataStartPembongkaranRtwView.lastUpdatedDate.RowAttributes)>
        <td class="@(subAktivitasDataStartPembongkaranRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataStartPembongkaranRTW_lastUpdatedDate">@Html.Raw(subAktivitasDataStartPembongkaranRtwView.lastUpdatedDate.Caption)</span></td>
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasDataStartPembongkaranRtwView.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasDataStartPembongkaranRTW_lastUpdatedDate">
<span @Html.Raw(subAktivitasDataStartPembongkaranRtwView.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranRtwView.lastUpdatedDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataStartPembongkaranRtwView.lastUpdatedDate.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwView.Tanggal.Visible) { // subAktivitasDataStartPembongkaranRtwView.Tanggal.Visible (begin)
    <tr id="r_Tanggal" @Html.Raw(subAktivitasDataStartPembongkaranRtwView.Tanggal.RowAttributes)>
        <td class="@(subAktivitasDataStartPembongkaranRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataStartPembongkaranRTW_Tanggal">@Html.Raw(subAktivitasDataStartPembongkaranRtwView.Tanggal.Caption)</span></td>
        <td data-name="Tanggal" @Html.Raw(subAktivitasDataStartPembongkaranRtwView.Tanggal.CellAttributes)>
<span id="el_SubAktivitasDataStartPembongkaranRTW_Tanggal">
<span @Html.Raw(subAktivitasDataStartPembongkaranRtwView.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranRtwView.Tanggal.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataStartPembongkaranRtwView.Tanggal.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwView.userInput.Visible) { // subAktivitasDataStartPembongkaranRtwView.userInput.Visible (begin)
    <tr id="r_userInput" @Html.Raw(subAktivitasDataStartPembongkaranRtwView.userInput.RowAttributes)>
        <td class="@(subAktivitasDataStartPembongkaranRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataStartPembongkaranRTW_userInput">@Html.Raw(subAktivitasDataStartPembongkaranRtwView.userInput.Caption)</span></td>
        <td data-name="userInput" @Html.Raw(subAktivitasDataStartPembongkaranRtwView.userInput.CellAttributes)>
<span id="el_SubAktivitasDataStartPembongkaranRTW_userInput">
<span @Html.Raw(subAktivitasDataStartPembongkaranRtwView.userInput.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranRtwView.userInput.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataStartPembongkaranRtwView.userInput.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwView.etlDate.Visible) { // subAktivitasDataStartPembongkaranRtwView.etlDate.Visible (begin)
    <tr id="r_etlDate" @Html.Raw(subAktivitasDataStartPembongkaranRtwView.etlDate.RowAttributes)>
        <td class="@(subAktivitasDataStartPembongkaranRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataStartPembongkaranRTW_etlDate">@Html.Raw(subAktivitasDataStartPembongkaranRtwView.etlDate.Caption)</span></td>
        <td data-name="etlDate" @Html.Raw(subAktivitasDataStartPembongkaranRtwView.etlDate.CellAttributes)>
<span id="el_SubAktivitasDataStartPembongkaranRTW_etlDate">
<span @Html.Raw(subAktivitasDataStartPembongkaranRtwView.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranRtwView.etlDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataStartPembongkaranRtwView.etlDate.Visible (end) *@
</table>
@{ subAktivitasDataStartPembongkaranRtwView.CloseRecordset(); }
</form>
</main>
@subAktivitasDataStartPembongkaranRtwView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasDataStartPembongkaranRtwView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
