@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputKeberangkatanMobilTangkiList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputKeberangkatanMobilTangkiList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputKeberangkatanMobilTangkiList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputKeberangkatanMobilTangkiList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputKeberangkatanMobilTangki: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasFormInputKeberangkatanMobilTangkiList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasFormInputKeberangkatanMobilTangkiList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasFormInputKeberangkatanMobilTangkiList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasFormInputKeberangkatanMobilTangkiList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasFormInputKeberangkatanMobilTangkiList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasFormInputKeberangkatanMobilTangkiList.TotalRecords > 0 && subAktivitasFormInputKeberangkatanMobilTangkiList.ExportOptions.Visible) {
    subAktivitasFormInputKeberangkatanMobilTangkiList.ExportOptions.Render("body");
}
@if (subAktivitasFormInputKeberangkatanMobilTangkiList.ImportOptions.Visible) {
    subAktivitasFormInputKeberangkatanMobilTangkiList.ImportOptions.Render("body");
}
@if (subAktivitasFormInputKeberangkatanMobilTangkiList.SearchOptions.Visible) {
    subAktivitasFormInputKeberangkatanMobilTangkiList.SearchOptions.Render("body");
}
@if (subAktivitasFormInputKeberangkatanMobilTangkiList.FilterOptions.Visible) {
    subAktivitasFormInputKeberangkatanMobilTangkiList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasFormInputKeberangkatanMobilTangkiList.IsModal) {
<form name="fSubAktivitasFormInputKeberangkatanMobilTangkisrch" id="fSubAktivitasFormInputKeberangkatanMobilTangkisrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasFormInputKeberangkatanMobilTangkisrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasFormInputKeberangkatanMobilTangkiList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputKeberangkatanMobilTangkiList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputKeberangkatanMobilTangki: currentTable } });
var currentForm;
var fSubAktivitasFormInputKeberangkatanMobilTangkisrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputKeberangkatanMobilTangkisrch")
        .setPageId("list")
@if (subAktivitasFormInputKeberangkatanMobilTangkiList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasFormInputKeberangkatanMobilTangkiList.IsExport() && Empty(subAktivitasFormInputKeberangkatanMobilTangkiList.CurrentAction) && subAktivitasFormInputKeberangkatanMobilTangkiList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasFormInputKeberangkatanMobilTangkiList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasFormInputKeberangkatanMobilTangkiList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasFormInputKeberangkatanMobilTangkiList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasFormInputKeberangkatanMobilTangkisrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputKeberangkatanMobilTangkiList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasFormInputKeberangkatanMobilTangkisrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputKeberangkatanMobilTangkiList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasFormInputKeberangkatanMobilTangkisrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputKeberangkatanMobilTangkiList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasFormInputKeberangkatanMobilTangkisrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasFormInputKeberangkatanMobilTangkiList.ShowPageHeader()
@subAktivitasFormInputKeberangkatanMobilTangkiList.ShowMessages()
<main class="list @(subAktivitasFormInputKeberangkatanMobilTangkiList.TotalRecords == 0 && !subAktivitasFormInputKeberangkatanMobilTangkiList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasFormInputKeberangkatanMobilTangkiList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasFormInputKeberangkatanMobilTangkiList.TotalRecords > 0 || !Empty(subAktivitasFormInputKeberangkatanMobilTangkiList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasFormInputKeberangkatanMobilTangkiList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasFormInputKeberangkatanMobilTangkiList.TableGridClass)">
<form name="@(subAktivitasFormInputKeberangkatanMobilTangkiList.FormName)" id="@(subAktivitasFormInputKeberangkatanMobilTangkiList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasFormInputKeberangkatanMobilTangkiList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasFormInputKeberangkatanMobilTangkiList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasFormInputKeberangkatanMobilTangki" class="card-body ew-grid-middle-panel @(subAktivitasFormInputKeberangkatanMobilTangkiList.TableContainerClass)" style="@(subAktivitasFormInputKeberangkatanMobilTangkiList.TableContainerStyle)">
@if (subAktivitasFormInputKeberangkatanMobilTangkiList.TotalRecords > 0 || subAktivitasFormInputKeberangkatanMobilTangkiList.IsGridEdit || subAktivitasFormInputKeberangkatanMobilTangkiList.IsMultiEdit) {
<table id="tbl_SubAktivitasFormInputKeberangkatanMobilTangkilist" class="@(subAktivitasFormInputKeberangkatanMobilTangkiList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasFormInputKeberangkatanMobilTangkiList.RowType = RowType.Header;

    // Render list options
    await subAktivitasFormInputKeberangkatanMobilTangkiList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasFormInputKeberangkatanMobilTangkiList.ListOptions.RenderHeader("left")
@if (subAktivitasFormInputKeberangkatanMobilTangkiList.id.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasFormInputKeberangkatanMobilTangkiList.id.HeaderCellClass)"><div id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_id" class="SubAktivitasFormInputKeberangkatanMobilTangki_id">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.RenderFieldHeader(subAktivitasFormInputKeberangkatanMobilTangkiList.id))</div></th>
} @* subAktivitasFormInputKeberangkatanMobilTangkiList.id.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiList.NoReferensi.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasFormInputKeberangkatanMobilTangkiList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_NoReferensi" class="SubAktivitasFormInputKeberangkatanMobilTangki_NoReferensi">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.RenderFieldHeader(subAktivitasFormInputKeberangkatanMobilTangkiList.NoReferensi))</div></th>
} @* subAktivitasFormInputKeberangkatanMobilTangkiList.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiList.idProses.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasFormInputKeberangkatanMobilTangkiList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_idProses" class="SubAktivitasFormInputKeberangkatanMobilTangki_idProses">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.RenderFieldHeader(subAktivitasFormInputKeberangkatanMobilTangkiList.idProses))</div></th>
} @* subAktivitasFormInputKeberangkatanMobilTangkiList.idProses.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiList.idAktifitas.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasFormInputKeberangkatanMobilTangkiList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_idAktifitas" class="SubAktivitasFormInputKeberangkatanMobilTangki_idAktifitas">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.RenderFieldHeader(subAktivitasFormInputKeberangkatanMobilTangkiList.idAktifitas))</div></th>
} @* subAktivitasFormInputKeberangkatanMobilTangkiList.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiList.StatusAktivitas.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasFormInputKeberangkatanMobilTangkiList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_StatusAktivitas" class="SubAktivitasFormInputKeberangkatanMobilTangki_StatusAktivitas">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.RenderFieldHeader(subAktivitasFormInputKeberangkatanMobilTangkiList.StatusAktivitas))</div></th>
} @* subAktivitasFormInputKeberangkatanMobilTangkiList.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiList.LastUpdatedBy.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasFormInputKeberangkatanMobilTangkiList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_LastUpdatedBy" class="SubAktivitasFormInputKeberangkatanMobilTangki_LastUpdatedBy">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.RenderFieldHeader(subAktivitasFormInputKeberangkatanMobilTangkiList.LastUpdatedBy))</div></th>
} @* subAktivitasFormInputKeberangkatanMobilTangkiList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiList.lastUpdatedDate.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasFormInputKeberangkatanMobilTangkiList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_lastUpdatedDate" class="SubAktivitasFormInputKeberangkatanMobilTangki_lastUpdatedDate">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.RenderFieldHeader(subAktivitasFormInputKeberangkatanMobilTangkiList.lastUpdatedDate))</div></th>
} @* subAktivitasFormInputKeberangkatanMobilTangkiList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiList.Tanggal.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasFormInputKeberangkatanMobilTangkiList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_Tanggal" class="SubAktivitasFormInputKeberangkatanMobilTangki_Tanggal">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.RenderFieldHeader(subAktivitasFormInputKeberangkatanMobilTangkiList.Tanggal))</div></th>
} @* subAktivitasFormInputKeberangkatanMobilTangkiList.Tanggal.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiList.userInput.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasFormInputKeberangkatanMobilTangkiList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_userInput" class="SubAktivitasFormInputKeberangkatanMobilTangki_userInput">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.RenderFieldHeader(subAktivitasFormInputKeberangkatanMobilTangkiList.userInput))</div></th>
} @* subAktivitasFormInputKeberangkatanMobilTangkiList.userInput.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiList.etlDate.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasFormInputKeberangkatanMobilTangkiList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_etlDate" class="SubAktivitasFormInputKeberangkatanMobilTangki_etlDate">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.RenderFieldHeader(subAktivitasFormInputKeberangkatanMobilTangkiList.etlDate))</div></th>
} @* subAktivitasFormInputKeberangkatanMobilTangkiList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasFormInputKeberangkatanMobilTangkiList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasFormInputKeberangkatanMobilTangkiList.PageNumber)">
@{
    await subAktivitasFormInputKeberangkatanMobilTangkiList.SetupGrid();
    bool eof = subAktivitasFormInputKeberangkatanMobilTangkiList.Recordset == null; // DN
}
@while (subAktivitasFormInputKeberangkatanMobilTangkiList.RecordCount < subAktivitasFormInputKeberangkatanMobilTangkiList.StopRecord || SameString(subAktivitasFormInputKeberangkatanMobilTangkiList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasFormInputKeberangkatanMobilTangkiList.RowIndex, "$rowindex$") &&
        (!subAktivitasFormInputKeberangkatanMobilTangkiList.IsGridAdd || subAktivitasFormInputKeberangkatanMobilTangkiList.CurrentMode == "copy") &&
        (!((subAktivitasFormInputKeberangkatanMobilTangkiList.IsCopy || subAktivitasFormInputKeberangkatanMobilTangkiList.IsAdd) && subAktivitasFormInputKeberangkatanMobilTangkiList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasFormInputKeberangkatanMobilTangkiList.Recordset.ReadAsync();
    subAktivitasFormInputKeberangkatanMobilTangkiList.RecordCount++;
    if (subAktivitasFormInputKeberangkatanMobilTangkiList.RecordCount >= subAktivitasFormInputKeberangkatanMobilTangkiList.StartRecord) {
        await subAktivitasFormInputKeberangkatanMobilTangkiList.SetupRow();
    <tr @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasFormInputKeberangkatanMobilTangkiList.ListOptions.RenderBody("left", subAktivitasFormInputKeberangkatanMobilTangkiList.RowCount)
    @if (subAktivitasFormInputKeberangkatanMobilTangkiList.id.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.id.CellAttributes)>
<span id="el@(subAktivitasFormInputKeberangkatanMobilTangkiList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputKeberangkatanMobilTangkiList.RowCount)_SubAktivitasFormInputKeberangkatanMobilTangki_id" class="el_SubAktivitasFormInputKeberangkatanMobilTangki_id">
<span @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputKeberangkatanMobilTangkiList.id.Visible (end) *@
    @if (subAktivitasFormInputKeberangkatanMobilTangkiList.NoReferensi.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasFormInputKeberangkatanMobilTangkiList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputKeberangkatanMobilTangkiList.RowCount)_SubAktivitasFormInputKeberangkatanMobilTangki_NoReferensi" class="el_SubAktivitasFormInputKeberangkatanMobilTangki_NoReferensi">
<span @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputKeberangkatanMobilTangkiList.NoReferensi.Visible (end) *@
    @if (subAktivitasFormInputKeberangkatanMobilTangkiList.idProses.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.idProses.CellAttributes)>
<span id="el@(subAktivitasFormInputKeberangkatanMobilTangkiList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputKeberangkatanMobilTangkiList.RowCount)_SubAktivitasFormInputKeberangkatanMobilTangki_idProses" class="el_SubAktivitasFormInputKeberangkatanMobilTangki_idProses">
<span @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputKeberangkatanMobilTangkiList.idProses.Visible (end) *@
    @if (subAktivitasFormInputKeberangkatanMobilTangkiList.idAktifitas.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasFormInputKeberangkatanMobilTangkiList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputKeberangkatanMobilTangkiList.RowCount)_SubAktivitasFormInputKeberangkatanMobilTangki_idAktifitas" class="el_SubAktivitasFormInputKeberangkatanMobilTangki_idAktifitas">
<span @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputKeberangkatanMobilTangkiList.idAktifitas.Visible (end) *@
    @if (subAktivitasFormInputKeberangkatanMobilTangkiList.StatusAktivitas.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasFormInputKeberangkatanMobilTangkiList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputKeberangkatanMobilTangkiList.RowCount)_SubAktivitasFormInputKeberangkatanMobilTangki_StatusAktivitas" class="el_SubAktivitasFormInputKeberangkatanMobilTangki_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputKeberangkatanMobilTangkiList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasFormInputKeberangkatanMobilTangkiList.LastUpdatedBy.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasFormInputKeberangkatanMobilTangkiList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputKeberangkatanMobilTangkiList.RowCount)_SubAktivitasFormInputKeberangkatanMobilTangki_LastUpdatedBy" class="el_SubAktivitasFormInputKeberangkatanMobilTangki_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputKeberangkatanMobilTangkiList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasFormInputKeberangkatanMobilTangkiList.lastUpdatedDate.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasFormInputKeberangkatanMobilTangkiList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputKeberangkatanMobilTangkiList.RowCount)_SubAktivitasFormInputKeberangkatanMobilTangki_lastUpdatedDate" class="el_SubAktivitasFormInputKeberangkatanMobilTangki_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputKeberangkatanMobilTangkiList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasFormInputKeberangkatanMobilTangkiList.Tanggal.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.Tanggal.CellAttributes)>
<span id="el@(subAktivitasFormInputKeberangkatanMobilTangkiList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputKeberangkatanMobilTangkiList.RowCount)_SubAktivitasFormInputKeberangkatanMobilTangki_Tanggal" class="el_SubAktivitasFormInputKeberangkatanMobilTangki_Tanggal">
<span @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputKeberangkatanMobilTangkiList.Tanggal.Visible (end) *@
    @if (subAktivitasFormInputKeberangkatanMobilTangkiList.userInput.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.userInput.CellAttributes)>
<span id="el@(subAktivitasFormInputKeberangkatanMobilTangkiList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputKeberangkatanMobilTangkiList.RowCount)_SubAktivitasFormInputKeberangkatanMobilTangki_userInput" class="el_SubAktivitasFormInputKeberangkatanMobilTangki_userInput">
<span @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputKeberangkatanMobilTangkiList.userInput.Visible (end) *@
    @if (subAktivitasFormInputKeberangkatanMobilTangkiList.etlDate.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.etlDate.CellAttributes)>
<span id="el@(subAktivitasFormInputKeberangkatanMobilTangkiList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputKeberangkatanMobilTangkiList.RowCount)_SubAktivitasFormInputKeberangkatanMobilTangki_etlDate" class="el_SubAktivitasFormInputKeberangkatanMobilTangki_etlDate">
<span @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputKeberangkatanMobilTangkiList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasFormInputKeberangkatanMobilTangkiList.ListOptions.RenderBody("right", subAktivitasFormInputKeberangkatanMobilTangkiList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasFormInputKeberangkatanMobilTangkiList.RowIndex, "$rowindex$"))
        subAktivitasFormInputKeberangkatanMobilTangkiList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasFormInputKeberangkatanMobilTangkiList.IsCopy || subAktivitasFormInputKeberangkatanMobilTangkiList.IsAdd) && subAktivitasFormInputKeberangkatanMobilTangkiList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasFormInputKeberangkatanMobilTangkiList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasFormInputKeberangkatanMobilTangkiList.CurrentAction) && !subAktivitasFormInputKeberangkatanMobilTangkiList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasFormInputKeberangkatanMobilTangkiList.CloseRecordset(); }
@if (!subAktivitasFormInputKeberangkatanMobilTangkiList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasFormInputKeberangkatanMobilTangkiList.IsGridAdd && !(subAktivitasFormInputKeberangkatanMobilTangkiList.IsGridEdit && subAktivitasFormInputKeberangkatanMobilTangkiList.ModalGridEdit) && !subAktivitasFormInputKeberangkatanMobilTangkiList.IsMultiEdit) {
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasFormInputKeberangkatanMobilTangkiList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasFormInputKeberangkatanMobilTangkiList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasFormInputKeberangkatanMobilTangkiList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasFormInputKeberangkatanMobilTangkiList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputKeberangkatanMobilTangkiList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputKeberangkatanMobilTangki");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
