@{
    // View
    View = this;

    // Check action result
    if (subaktivitasInputHasilPemeriksaanPipaList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subaktivitasInputHasilPemeriksaanPipaList.UseLayout ? "_Layout" : "";
}
@if (!subaktivitasInputHasilPemeriksaanPipaList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasInputHasilPemeriksaanPipaList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasInputHasilPemeriksaanPipa: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subaktivitasInputHasilPemeriksaanPipaList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subaktivitasInputHasilPemeriksaanPipaList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subaktivitasInputHasilPemeriksaanPipaList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subaktivitasInputHasilPemeriksaanPipaList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subaktivitasInputHasilPemeriksaanPipaList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subaktivitasInputHasilPemeriksaanPipaList.TotalRecords > 0 && subaktivitasInputHasilPemeriksaanPipaList.ExportOptions.Visible) {
    subaktivitasInputHasilPemeriksaanPipaList.ExportOptions.Render("body");
}
@if (subaktivitasInputHasilPemeriksaanPipaList.ImportOptions.Visible) {
    subaktivitasInputHasilPemeriksaanPipaList.ImportOptions.Render("body");
}
@if (subaktivitasInputHasilPemeriksaanPipaList.SearchOptions.Visible) {
    subaktivitasInputHasilPemeriksaanPipaList.SearchOptions.Render("body");
}
@if (subaktivitasInputHasilPemeriksaanPipaList.FilterOptions.Visible) {
    subaktivitasInputHasilPemeriksaanPipaList.FilterOptions.Render("body");
}
</div>
}
@if (!subaktivitasInputHasilPemeriksaanPipaList.IsModal) {
<form name="fSubaktivitasInputHasilPemeriksaanPipasrch" id="fSubaktivitasInputHasilPemeriksaanPipasrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubaktivitasInputHasilPemeriksaanPipasrch_search_panel" class="mb-2 mb-sm-0 @(subaktivitasInputHasilPemeriksaanPipaList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasInputHasilPemeriksaanPipaList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasInputHasilPemeriksaanPipa: currentTable } });
var currentForm;
var fSubaktivitasInputHasilPemeriksaanPipasrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubaktivitasInputHasilPemeriksaanPipasrch")
        .setPageId("list")
@if (subaktivitasInputHasilPemeriksaanPipaList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subaktivitasInputHasilPemeriksaanPipaList.IsExport() && Empty(subaktivitasInputHasilPemeriksaanPipaList.CurrentAction) && subaktivitasInputHasilPemeriksaanPipaList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subaktivitasInputHasilPemeriksaanPipaList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subaktivitasInputHasilPemeriksaanPipaList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subaktivitasInputHasilPemeriksaanPipaList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubaktivitasInputHasilPemeriksaanPipasrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subaktivitasInputHasilPemeriksaanPipaList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubaktivitasInputHasilPemeriksaanPipasrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subaktivitasInputHasilPemeriksaanPipaList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubaktivitasInputHasilPemeriksaanPipasrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subaktivitasInputHasilPemeriksaanPipaList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubaktivitasInputHasilPemeriksaanPipasrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subaktivitasInputHasilPemeriksaanPipaList.ShowPageHeader()
@subaktivitasInputHasilPemeriksaanPipaList.ShowMessages()
<main class="list @(subaktivitasInputHasilPemeriksaanPipaList.TotalRecords == 0 && !subaktivitasInputHasilPemeriksaanPipaList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subaktivitasInputHasilPemeriksaanPipaList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subaktivitasInputHasilPemeriksaanPipaList.TotalRecords > 0 || !Empty(subaktivitasInputHasilPemeriksaanPipaList.CurrentAction)) {
<div class="card ew-card ew-grid@(subaktivitasInputHasilPemeriksaanPipaList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subaktivitasInputHasilPemeriksaanPipaList.TableGridClass)">
<form name="@(subaktivitasInputHasilPemeriksaanPipaList.FormName)" id="@(subaktivitasInputHasilPemeriksaanPipaList.FormName)" class="ew-form ew-list-form" action="@AppPath(subaktivitasInputHasilPemeriksaanPipaList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subaktivitasInputHasilPemeriksaanPipaList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubaktivitasInputHasilPemeriksaanPipa" class="card-body ew-grid-middle-panel @(subaktivitasInputHasilPemeriksaanPipaList.TableContainerClass)" style="@(subaktivitasInputHasilPemeriksaanPipaList.TableContainerStyle)">
@if (subaktivitasInputHasilPemeriksaanPipaList.TotalRecords > 0 || subaktivitasInputHasilPemeriksaanPipaList.IsGridEdit || subaktivitasInputHasilPemeriksaanPipaList.IsMultiEdit) {
<table id="tbl_SubaktivitasInputHasilPemeriksaanPipalist" class="@(subaktivitasInputHasilPemeriksaanPipaList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subaktivitasInputHasilPemeriksaanPipaList.RowType = RowType.Header;

    // Render list options
    await subaktivitasInputHasilPemeriksaanPipaList.RenderListOptions();
}
@* Render list options (header, left) *@
@subaktivitasInputHasilPemeriksaanPipaList.ListOptions.RenderHeader("left")
@if (subaktivitasInputHasilPemeriksaanPipaList.id.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.id.Visible (begin)
        <th data-name="id" class="@(subaktivitasInputHasilPemeriksaanPipaList.id.HeaderCellClass)"><div id="elh_SubaktivitasInputHasilPemeriksaanPipa_id" class="SubaktivitasInputHasilPemeriksaanPipa_id">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.RenderFieldHeader(subaktivitasInputHasilPemeriksaanPipaList.id))</div></th>
} @* subaktivitasInputHasilPemeriksaanPipaList.id.Visible (end) *@
@if (subaktivitasInputHasilPemeriksaanPipaList.idAktifitas.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subaktivitasInputHasilPemeriksaanPipaList.idAktifitas.HeaderCellClass)"><div id="elh_SubaktivitasInputHasilPemeriksaanPipa_idAktifitas" class="SubaktivitasInputHasilPemeriksaanPipa_idAktifitas">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.RenderFieldHeader(subaktivitasInputHasilPemeriksaanPipaList.idAktifitas))</div></th>
} @* subaktivitasInputHasilPemeriksaanPipaList.idAktifitas.Visible (end) *@
@if (subaktivitasInputHasilPemeriksaanPipaList.TanggalJam.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.TanggalJam.Visible (begin)
        <th data-name="TanggalJam" class="@(subaktivitasInputHasilPemeriksaanPipaList.TanggalJam.HeaderCellClass)"><div id="elh_SubaktivitasInputHasilPemeriksaanPipa_TanggalJam" class="SubaktivitasInputHasilPemeriksaanPipa_TanggalJam">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.RenderFieldHeader(subaktivitasInputHasilPemeriksaanPipaList.TanggalJam))</div></th>
} @* subaktivitasInputHasilPemeriksaanPipaList.TanggalJam.Visible (end) *@
@if (subaktivitasInputHasilPemeriksaanPipaList.NamaKegiatan.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.NamaKegiatan.Visible (begin)
        <th data-name="NamaKegiatan" class="@(subaktivitasInputHasilPemeriksaanPipaList.NamaKegiatan.HeaderCellClass)"><div id="elh_SubaktivitasInputHasilPemeriksaanPipa_NamaKegiatan" class="SubaktivitasInputHasilPemeriksaanPipa_NamaKegiatan">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.RenderFieldHeader(subaktivitasInputHasilPemeriksaanPipaList.NamaKegiatan))</div></th>
} @* subaktivitasInputHasilPemeriksaanPipaList.NamaKegiatan.Visible (end) *@
@if (subaktivitasInputHasilPemeriksaanPipaList.Produk.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subaktivitasInputHasilPemeriksaanPipaList.Produk.HeaderCellClass)"><div id="elh_SubaktivitasInputHasilPemeriksaanPipa_Produk" class="SubaktivitasInputHasilPemeriksaanPipa_Produk">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.RenderFieldHeader(subaktivitasInputHasilPemeriksaanPipaList.Produk))</div></th>
} @* subaktivitasInputHasilPemeriksaanPipaList.Produk.Visible (end) *@
@if (subaktivitasInputHasilPemeriksaanPipaList.Density.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.Density.Visible (begin)
        <th data-name="Density" class="@(subaktivitasInputHasilPemeriksaanPipaList.Density.HeaderCellClass)"><div id="elh_SubaktivitasInputHasilPemeriksaanPipa_Density" class="SubaktivitasInputHasilPemeriksaanPipa_Density">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.RenderFieldHeader(subaktivitasInputHasilPemeriksaanPipaList.Density))</div></th>
} @* subaktivitasInputHasilPemeriksaanPipaList.Density.Visible (end) *@
@if (subaktivitasInputHasilPemeriksaanPipaList.Temperature.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.Temperature.Visible (begin)
        <th data-name="Temperature" class="@(subaktivitasInputHasilPemeriksaanPipaList.Temperature.HeaderCellClass)"><div id="elh_SubaktivitasInputHasilPemeriksaanPipa_Temperature" class="SubaktivitasInputHasilPemeriksaanPipa_Temperature">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.RenderFieldHeader(subaktivitasInputHasilPemeriksaanPipaList.Temperature))</div></th>
} @* subaktivitasInputHasilPemeriksaanPipaList.Temperature.Visible (end) *@
@if (subaktivitasInputHasilPemeriksaanPipaList.Pressure.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.Pressure.Visible (begin)
        <th data-name="Pressure" class="@(subaktivitasInputHasilPemeriksaanPipaList.Pressure.HeaderCellClass)"><div id="elh_SubaktivitasInputHasilPemeriksaanPipa_Pressure" class="SubaktivitasInputHasilPemeriksaanPipa_Pressure">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.RenderFieldHeader(subaktivitasInputHasilPemeriksaanPipaList.Pressure))</div></th>
} @* subaktivitasInputHasilPemeriksaanPipaList.Pressure.Visible (end) *@
@if (subaktivitasInputHasilPemeriksaanPipaList.Keterangan.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.Keterangan.Visible (begin)
        <th data-name="Keterangan" class="@(subaktivitasInputHasilPemeriksaanPipaList.Keterangan.HeaderCellClass)"><div id="elh_SubaktivitasInputHasilPemeriksaanPipa_Keterangan" class="SubaktivitasInputHasilPemeriksaanPipa_Keterangan">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.RenderFieldHeader(subaktivitasInputHasilPemeriksaanPipaList.Keterangan))</div></th>
} @* subaktivitasInputHasilPemeriksaanPipaList.Keterangan.Visible (end) *@
@if (subaktivitasInputHasilPemeriksaanPipaList.QuantityDischarge.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.QuantityDischarge.Visible (begin)
        <th data-name="QuantityDischarge" class="@(subaktivitasInputHasilPemeriksaanPipaList.QuantityDischarge.HeaderCellClass)"><div id="elh_SubaktivitasInputHasilPemeriksaanPipa_QuantityDischarge" class="SubaktivitasInputHasilPemeriksaanPipa_QuantityDischarge">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.RenderFieldHeader(subaktivitasInputHasilPemeriksaanPipaList.QuantityDischarge))</div></th>
} @* subaktivitasInputHasilPemeriksaanPipaList.QuantityDischarge.Visible (end) *@
@if (subaktivitasInputHasilPemeriksaanPipaList.Flowrate.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.Flowrate.Visible (begin)
        <th data-name="Flowrate" class="@(subaktivitasInputHasilPemeriksaanPipaList.Flowrate.HeaderCellClass)"><div id="elh_SubaktivitasInputHasilPemeriksaanPipa_Flowrate" class="SubaktivitasInputHasilPemeriksaanPipa_Flowrate">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.RenderFieldHeader(subaktivitasInputHasilPemeriksaanPipaList.Flowrate))</div></th>
} @* subaktivitasInputHasilPemeriksaanPipaList.Flowrate.Visible (end) *@
@if (subaktivitasInputHasilPemeriksaanPipaList.userInput.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subaktivitasInputHasilPemeriksaanPipaList.userInput.HeaderCellClass)"><div id="elh_SubaktivitasInputHasilPemeriksaanPipa_userInput" class="SubaktivitasInputHasilPemeriksaanPipa_userInput">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.RenderFieldHeader(subaktivitasInputHasilPemeriksaanPipaList.userInput))</div></th>
} @* subaktivitasInputHasilPemeriksaanPipaList.userInput.Visible (end) *@
@if (subaktivitasInputHasilPemeriksaanPipaList.etlDate.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subaktivitasInputHasilPemeriksaanPipaList.etlDate.HeaderCellClass)"><div id="elh_SubaktivitasInputHasilPemeriksaanPipa_etlDate" class="SubaktivitasInputHasilPemeriksaanPipa_etlDate">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.RenderFieldHeader(subaktivitasInputHasilPemeriksaanPipaList.etlDate))</div></th>
} @* subaktivitasInputHasilPemeriksaanPipaList.etlDate.Visible (end) *@
@if (subaktivitasInputHasilPemeriksaanPipaList.idProses.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subaktivitasInputHasilPemeriksaanPipaList.idProses.HeaderCellClass)"><div id="elh_SubaktivitasInputHasilPemeriksaanPipa_idProses" class="SubaktivitasInputHasilPemeriksaanPipa_idProses">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.RenderFieldHeader(subaktivitasInputHasilPemeriksaanPipaList.idProses))</div></th>
} @* subaktivitasInputHasilPemeriksaanPipaList.idProses.Visible (end) *@
@if (subaktivitasInputHasilPemeriksaanPipaList.LastUpdatedBy.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subaktivitasInputHasilPemeriksaanPipaList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubaktivitasInputHasilPemeriksaanPipa_LastUpdatedBy" class="SubaktivitasInputHasilPemeriksaanPipa_LastUpdatedBy">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.RenderFieldHeader(subaktivitasInputHasilPemeriksaanPipaList.LastUpdatedBy))</div></th>
} @* subaktivitasInputHasilPemeriksaanPipaList.LastUpdatedBy.Visible (end) *@
@if (subaktivitasInputHasilPemeriksaanPipaList.lastUpdatedDate.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subaktivitasInputHasilPemeriksaanPipaList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubaktivitasInputHasilPemeriksaanPipa_lastUpdatedDate" class="SubaktivitasInputHasilPemeriksaanPipa_lastUpdatedDate">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.RenderFieldHeader(subaktivitasInputHasilPemeriksaanPipaList.lastUpdatedDate))</div></th>
} @* subaktivitasInputHasilPemeriksaanPipaList.lastUpdatedDate.Visible (end) *@
@if (subaktivitasInputHasilPemeriksaanPipaList.NoReferensi.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subaktivitasInputHasilPemeriksaanPipaList.NoReferensi.HeaderCellClass)"><div id="elh_SubaktivitasInputHasilPemeriksaanPipa_NoReferensi" class="SubaktivitasInputHasilPemeriksaanPipa_NoReferensi">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.RenderFieldHeader(subaktivitasInputHasilPemeriksaanPipaList.NoReferensi))</div></th>
} @* subaktivitasInputHasilPemeriksaanPipaList.NoReferensi.Visible (end) *@
@* Render list options (header, right) *@
@subaktivitasInputHasilPemeriksaanPipaList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subaktivitasInputHasilPemeriksaanPipaList.PageNumber)">
@{
    await subaktivitasInputHasilPemeriksaanPipaList.SetupGrid();
    bool eof = subaktivitasInputHasilPemeriksaanPipaList.Recordset == null; // DN
}
@while (subaktivitasInputHasilPemeriksaanPipaList.RecordCount < subaktivitasInputHasilPemeriksaanPipaList.StopRecord || SameString(subaktivitasInputHasilPemeriksaanPipaList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subaktivitasInputHasilPemeriksaanPipaList.RowIndex, "$rowindex$") &&
        (!subaktivitasInputHasilPemeriksaanPipaList.IsGridAdd || subaktivitasInputHasilPemeriksaanPipaList.CurrentMode == "copy") &&
        (!((subaktivitasInputHasilPemeriksaanPipaList.IsCopy || subaktivitasInputHasilPemeriksaanPipaList.IsAdd) && subaktivitasInputHasilPemeriksaanPipaList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subaktivitasInputHasilPemeriksaanPipaList.Recordset.ReadAsync();
    subaktivitasInputHasilPemeriksaanPipaList.RecordCount++;
    if (subaktivitasInputHasilPemeriksaanPipaList.RecordCount >= subaktivitasInputHasilPemeriksaanPipaList.StartRecord) {
        await subaktivitasInputHasilPemeriksaanPipaList.SetupRow();
    <tr @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.RowAttributes)>
    @* Render list options (body, left) *@
    @subaktivitasInputHasilPemeriksaanPipaList.ListOptions.RenderBody("left", subaktivitasInputHasilPemeriksaanPipaList.RowCount)
    @if (subaktivitasInputHasilPemeriksaanPipaList.id.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.id.CellAttributes)>
<span id="el@(SameString(subaktivitasInputHasilPemeriksaanPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasInputHasilPemeriksaanPipaList.RowCount)_SubaktivitasInputHasilPemeriksaanPipa_id" class="el_SubaktivitasInputHasilPemeriksaanPipa_id">
<span @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.id.ViewAttributes)>
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.id.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputHasilPemeriksaanPipaList.id.Visible (end) *@
    @if (subaktivitasInputHasilPemeriksaanPipaList.idAktifitas.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subaktivitasInputHasilPemeriksaanPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasInputHasilPemeriksaanPipaList.RowCount)_SubaktivitasInputHasilPemeriksaanPipa_idAktifitas" class="el_SubaktivitasInputHasilPemeriksaanPipa_idAktifitas">
<span @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.idAktifitas.ViewAttributes)>
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputHasilPemeriksaanPipaList.idAktifitas.Visible (end) *@
    @if (subaktivitasInputHasilPemeriksaanPipaList.TanggalJam.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.TanggalJam.Visible (begin)
        <td data-name="TanggalJam" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.TanggalJam.CellAttributes)>
<span id="el@(SameString(subaktivitasInputHasilPemeriksaanPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasInputHasilPemeriksaanPipaList.RowCount)_SubaktivitasInputHasilPemeriksaanPipa_TanggalJam" class="el_SubaktivitasInputHasilPemeriksaanPipa_TanggalJam">
<span @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.TanggalJam.ViewAttributes)>
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.TanggalJam.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputHasilPemeriksaanPipaList.TanggalJam.Visible (end) *@
    @if (subaktivitasInputHasilPemeriksaanPipaList.NamaKegiatan.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.NamaKegiatan.Visible (begin)
        <td data-name="NamaKegiatan" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.NamaKegiatan.CellAttributes)>
<span id="el@(SameString(subaktivitasInputHasilPemeriksaanPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasInputHasilPemeriksaanPipaList.RowCount)_SubaktivitasInputHasilPemeriksaanPipa_NamaKegiatan" class="el_SubaktivitasInputHasilPemeriksaanPipa_NamaKegiatan">
<span @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.NamaKegiatan.ViewAttributes)>
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.NamaKegiatan.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputHasilPemeriksaanPipaList.NamaKegiatan.Visible (end) *@
    @if (subaktivitasInputHasilPemeriksaanPipaList.Produk.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.Produk.CellAttributes)>
<span id="el@(SameString(subaktivitasInputHasilPemeriksaanPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasInputHasilPemeriksaanPipaList.RowCount)_SubaktivitasInputHasilPemeriksaanPipa_Produk" class="el_SubaktivitasInputHasilPemeriksaanPipa_Produk">
<span @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.Produk.ViewAttributes)>
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputHasilPemeriksaanPipaList.Produk.Visible (end) *@
    @if (subaktivitasInputHasilPemeriksaanPipaList.Density.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.Density.Visible (begin)
        <td data-name="Density" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.Density.CellAttributes)>
<span id="el@(SameString(subaktivitasInputHasilPemeriksaanPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasInputHasilPemeriksaanPipaList.RowCount)_SubaktivitasInputHasilPemeriksaanPipa_Density" class="el_SubaktivitasInputHasilPemeriksaanPipa_Density">
<span @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.Density.ViewAttributes)>
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.Density.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputHasilPemeriksaanPipaList.Density.Visible (end) *@
    @if (subaktivitasInputHasilPemeriksaanPipaList.Temperature.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.Temperature.Visible (begin)
        <td data-name="Temperature" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.Temperature.CellAttributes)>
<span id="el@(SameString(subaktivitasInputHasilPemeriksaanPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasInputHasilPemeriksaanPipaList.RowCount)_SubaktivitasInputHasilPemeriksaanPipa_Temperature" class="el_SubaktivitasInputHasilPemeriksaanPipa_Temperature">
<span @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.Temperature.ViewAttributes)>
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.Temperature.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputHasilPemeriksaanPipaList.Temperature.Visible (end) *@
    @if (subaktivitasInputHasilPemeriksaanPipaList.Pressure.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.Pressure.Visible (begin)
        <td data-name="Pressure" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.Pressure.CellAttributes)>
<span id="el@(SameString(subaktivitasInputHasilPemeriksaanPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasInputHasilPemeriksaanPipaList.RowCount)_SubaktivitasInputHasilPemeriksaanPipa_Pressure" class="el_SubaktivitasInputHasilPemeriksaanPipa_Pressure">
<span @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.Pressure.ViewAttributes)>
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.Pressure.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputHasilPemeriksaanPipaList.Pressure.Visible (end) *@
    @if (subaktivitasInputHasilPemeriksaanPipaList.Keterangan.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.Keterangan.Visible (begin)
        <td data-name="Keterangan" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.Keterangan.CellAttributes)>
<span id="el@(SameString(subaktivitasInputHasilPemeriksaanPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasInputHasilPemeriksaanPipaList.RowCount)_SubaktivitasInputHasilPemeriksaanPipa_Keterangan" class="el_SubaktivitasInputHasilPemeriksaanPipa_Keterangan">
<span @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.Keterangan.ViewAttributes)>
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.Keterangan.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputHasilPemeriksaanPipaList.Keterangan.Visible (end) *@
    @if (subaktivitasInputHasilPemeriksaanPipaList.QuantityDischarge.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.QuantityDischarge.Visible (begin)
        <td data-name="QuantityDischarge" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.QuantityDischarge.CellAttributes)>
<span id="el@(SameString(subaktivitasInputHasilPemeriksaanPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasInputHasilPemeriksaanPipaList.RowCount)_SubaktivitasInputHasilPemeriksaanPipa_QuantityDischarge" class="el_SubaktivitasInputHasilPemeriksaanPipa_QuantityDischarge">
<span @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.QuantityDischarge.ViewAttributes)>
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.QuantityDischarge.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputHasilPemeriksaanPipaList.QuantityDischarge.Visible (end) *@
    @if (subaktivitasInputHasilPemeriksaanPipaList.Flowrate.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.Flowrate.Visible (begin)
        <td data-name="Flowrate" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.Flowrate.CellAttributes)>
<span id="el@(SameString(subaktivitasInputHasilPemeriksaanPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasInputHasilPemeriksaanPipaList.RowCount)_SubaktivitasInputHasilPemeriksaanPipa_Flowrate" class="el_SubaktivitasInputHasilPemeriksaanPipa_Flowrate">
<span @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.Flowrate.ViewAttributes)>
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.Flowrate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputHasilPemeriksaanPipaList.Flowrate.Visible (end) *@
    @if (subaktivitasInputHasilPemeriksaanPipaList.userInput.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.userInput.CellAttributes)>
<span id="el@(SameString(subaktivitasInputHasilPemeriksaanPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasInputHasilPemeriksaanPipaList.RowCount)_SubaktivitasInputHasilPemeriksaanPipa_userInput" class="el_SubaktivitasInputHasilPemeriksaanPipa_userInput">
<span @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.userInput.ViewAttributes)>
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputHasilPemeriksaanPipaList.userInput.Visible (end) *@
    @if (subaktivitasInputHasilPemeriksaanPipaList.etlDate.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.etlDate.CellAttributes)>
<span id="el@(SameString(subaktivitasInputHasilPemeriksaanPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasInputHasilPemeriksaanPipaList.RowCount)_SubaktivitasInputHasilPemeriksaanPipa_etlDate" class="el_SubaktivitasInputHasilPemeriksaanPipa_etlDate">
<span @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.etlDate.ViewAttributes)>
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputHasilPemeriksaanPipaList.etlDate.Visible (end) *@
    @if (subaktivitasInputHasilPemeriksaanPipaList.idProses.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.idProses.CellAttributes)>
<span id="el@(SameString(subaktivitasInputHasilPemeriksaanPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasInputHasilPemeriksaanPipaList.RowCount)_SubaktivitasInputHasilPemeriksaanPipa_idProses" class="el_SubaktivitasInputHasilPemeriksaanPipa_idProses">
<span @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.idProses.ViewAttributes)>
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputHasilPemeriksaanPipaList.idProses.Visible (end) *@
    @if (subaktivitasInputHasilPemeriksaanPipaList.LastUpdatedBy.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subaktivitasInputHasilPemeriksaanPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasInputHasilPemeriksaanPipaList.RowCount)_SubaktivitasInputHasilPemeriksaanPipa_LastUpdatedBy" class="el_SubaktivitasInputHasilPemeriksaanPipa_LastUpdatedBy">
<span @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputHasilPemeriksaanPipaList.LastUpdatedBy.Visible (end) *@
    @if (subaktivitasInputHasilPemeriksaanPipaList.lastUpdatedDate.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subaktivitasInputHasilPemeriksaanPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasInputHasilPemeriksaanPipaList.RowCount)_SubaktivitasInputHasilPemeriksaanPipa_lastUpdatedDate" class="el_SubaktivitasInputHasilPemeriksaanPipa_lastUpdatedDate">
<span @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputHasilPemeriksaanPipaList.lastUpdatedDate.Visible (end) *@
    @if (subaktivitasInputHasilPemeriksaanPipaList.NoReferensi.Visible) { // subaktivitasInputHasilPemeriksaanPipaList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subaktivitasInputHasilPemeriksaanPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasInputHasilPemeriksaanPipaList.RowCount)_SubaktivitasInputHasilPemeriksaanPipa_NoReferensi" class="el_SubaktivitasInputHasilPemeriksaanPipa_NoReferensi">
<span @Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.NoReferensi.ViewAttributes)>
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputHasilPemeriksaanPipaList.NoReferensi.Visible (end) *@
    @* Render list options (body, right) *@
    @subaktivitasInputHasilPemeriksaanPipaList.ListOptions.RenderBody("right", subaktivitasInputHasilPemeriksaanPipaList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subaktivitasInputHasilPemeriksaanPipaList.RowIndex, "$rowindex$"))
        subaktivitasInputHasilPemeriksaanPipaList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subaktivitasInputHasilPemeriksaanPipaList.IsCopy || subaktivitasInputHasilPemeriksaanPipaList.IsAdd) && subaktivitasInputHasilPemeriksaanPipaList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subaktivitasInputHasilPemeriksaanPipaList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subaktivitasInputHasilPemeriksaanPipaList.CurrentAction) && !subaktivitasInputHasilPemeriksaanPipaList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subaktivitasInputHasilPemeriksaanPipaList.CloseRecordset(); }
@if (!subaktivitasInputHasilPemeriksaanPipaList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subaktivitasInputHasilPemeriksaanPipaList.IsGridAdd && !(subaktivitasInputHasilPemeriksaanPipaList.IsGridEdit && subaktivitasInputHasilPemeriksaanPipaList.ModalGridEdit) && !subaktivitasInputHasilPemeriksaanPipaList.IsMultiEdit) {
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaList.Pager.Render())
}
<div class="ew-list-other-options">
@subaktivitasInputHasilPemeriksaanPipaList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subaktivitasInputHasilPemeriksaanPipaList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subaktivitasInputHasilPemeriksaanPipaList.FooterOptions.RenderBody()
</div>
</main>
@subaktivitasInputHasilPemeriksaanPipaList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subaktivitasInputHasilPemeriksaanPipaList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubaktivitasInputHasilPemeriksaanPipa");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
