@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiActualPumpingList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiActualPumpingList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasNilaiActualPumpingList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiActualPumpingList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiActualPumping: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasNilaiActualPumpingList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasNilaiActualPumpingList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasNilaiActualPumpingList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasNilaiActualPumpingList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasNilaiActualPumpingList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasNilaiActualPumpingList.TotalRecords > 0 && subAktivitasNilaiActualPumpingList.ExportOptions.Visible) {
    subAktivitasNilaiActualPumpingList.ExportOptions.Render("body");
}
@if (subAktivitasNilaiActualPumpingList.ImportOptions.Visible) {
    subAktivitasNilaiActualPumpingList.ImportOptions.Render("body");
}
@if (subAktivitasNilaiActualPumpingList.SearchOptions.Visible) {
    subAktivitasNilaiActualPumpingList.SearchOptions.Render("body");
}
@if (subAktivitasNilaiActualPumpingList.FilterOptions.Visible) {
    subAktivitasNilaiActualPumpingList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasNilaiActualPumpingList.IsModal) {
<form name="fSubAktivitasNilaiActualPumpingsrch" id="fSubAktivitasNilaiActualPumpingsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasNilaiActualPumpingsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasNilaiActualPumpingList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiActualPumpingList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiActualPumping: currentTable } });
var currentForm;
var fSubAktivitasNilaiActualPumpingsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiActualPumpingsrch")
        .setPageId("list")
@if (subAktivitasNilaiActualPumpingList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasNilaiActualPumpingList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasNilaiActualPumpingList.IsExport() && Empty(subAktivitasNilaiActualPumpingList.CurrentAction) && subAktivitasNilaiActualPumpingList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasNilaiActualPumpingList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasNilaiActualPumpingList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasNilaiActualPumpingList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasNilaiActualPumpingList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasNilaiActualPumpingsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiActualPumpingList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasNilaiActualPumpingsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiActualPumpingList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasNilaiActualPumpingsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiActualPumpingList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasNilaiActualPumpingsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasNilaiActualPumpingList.ShowPageHeader()
@subAktivitasNilaiActualPumpingList.ShowMessages()
<main class="list @(subAktivitasNilaiActualPumpingList.TotalRecords == 0 && !subAktivitasNilaiActualPumpingList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasNilaiActualPumpingList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasNilaiActualPumpingList.TotalRecords > 0 || !Empty(subAktivitasNilaiActualPumpingList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasNilaiActualPumpingList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasNilaiActualPumpingList.TableGridClass)">
<form name="@(subAktivitasNilaiActualPumpingList.FormName)" id="@(subAktivitasNilaiActualPumpingList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasNilaiActualPumpingList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasNilaiActualPumpingList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasNilaiActualPumping" class="card-body ew-grid-middle-panel @(subAktivitasNilaiActualPumpingList.TableContainerClass)" style="@(subAktivitasNilaiActualPumpingList.TableContainerStyle)">
@if (subAktivitasNilaiActualPumpingList.TotalRecords > 0 || subAktivitasNilaiActualPumpingList.IsGridEdit || subAktivitasNilaiActualPumpingList.IsMultiEdit) {
<table id="tbl_SubAktivitasNilaiActualPumpinglist" class="@(subAktivitasNilaiActualPumpingList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasNilaiActualPumpingList.RowType = RowType.Header;

    // Render list options
    await subAktivitasNilaiActualPumpingList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasNilaiActualPumpingList.ListOptions.RenderHeader("left")
@if (subAktivitasNilaiActualPumpingList.idProses.Visible) { // subAktivitasNilaiActualPumpingList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasNilaiActualPumpingList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasNilaiActualPumping_idProses" class="SubAktivitasNilaiActualPumping_idProses">@Html.Raw(subAktivitasNilaiActualPumpingList.RenderFieldHeader(subAktivitasNilaiActualPumpingList.idProses))</div></th>
} @* subAktivitasNilaiActualPumpingList.idProses.Visible (end) *@
@if (subAktivitasNilaiActualPumpingList.idAktifitas.Visible) { // subAktivitasNilaiActualPumpingList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasNilaiActualPumpingList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiActualPumping_idAktifitas" class="SubAktivitasNilaiActualPumping_idAktifitas">@Html.Raw(subAktivitasNilaiActualPumpingList.RenderFieldHeader(subAktivitasNilaiActualPumpingList.idAktifitas))</div></th>
} @* subAktivitasNilaiActualPumpingList.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiActualPumpingList.NoReferensi.Visible) { // subAktivitasNilaiActualPumpingList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasNilaiActualPumpingList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasNilaiActualPumping_NoReferensi" class="SubAktivitasNilaiActualPumping_NoReferensi">@Html.Raw(subAktivitasNilaiActualPumpingList.RenderFieldHeader(subAktivitasNilaiActualPumpingList.NoReferensi))</div></th>
} @* subAktivitasNilaiActualPumpingList.NoReferensi.Visible (end) *@
@if (subAktivitasNilaiActualPumpingList.StatusAktivitas.Visible) { // subAktivitasNilaiActualPumpingList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasNilaiActualPumpingList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiActualPumping_StatusAktivitas" class="SubAktivitasNilaiActualPumping_StatusAktivitas">@Html.Raw(subAktivitasNilaiActualPumpingList.RenderFieldHeader(subAktivitasNilaiActualPumpingList.StatusAktivitas))</div></th>
} @* subAktivitasNilaiActualPumpingList.StatusAktivitas.Visible (end) *@
@if (subAktivitasNilaiActualPumpingList.ActualFlowrate.Visible) { // subAktivitasNilaiActualPumpingList.ActualFlowrate.Visible (begin)
        <th data-name="ActualFlowrate" class="@(subAktivitasNilaiActualPumpingList.ActualFlowrate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiActualPumping_ActualFlowrate" class="SubAktivitasNilaiActualPumping_ActualFlowrate">@Html.Raw(subAktivitasNilaiActualPumpingList.RenderFieldHeader(subAktivitasNilaiActualPumpingList.ActualFlowrate))</div></th>
} @* subAktivitasNilaiActualPumpingList.ActualFlowrate.Visible (end) *@
@if (subAktivitasNilaiActualPumpingList.ActualPressure.Visible) { // subAktivitasNilaiActualPumpingList.ActualPressure.Visible (begin)
        <th data-name="ActualPressure" class="@(subAktivitasNilaiActualPumpingList.ActualPressure.HeaderCellClass)"><div id="elh_SubAktivitasNilaiActualPumping_ActualPressure" class="SubAktivitasNilaiActualPumping_ActualPressure">@Html.Raw(subAktivitasNilaiActualPumpingList.RenderFieldHeader(subAktivitasNilaiActualPumpingList.ActualPressure))</div></th>
} @* subAktivitasNilaiActualPumpingList.ActualPressure.Visible (end) *@
@if (subAktivitasNilaiActualPumpingList.userInput.Visible) { // subAktivitasNilaiActualPumpingList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasNilaiActualPumpingList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasNilaiActualPumping_userInput" class="SubAktivitasNilaiActualPumping_userInput">@Html.Raw(subAktivitasNilaiActualPumpingList.RenderFieldHeader(subAktivitasNilaiActualPumpingList.userInput))</div></th>
} @* subAktivitasNilaiActualPumpingList.userInput.Visible (end) *@
@if (subAktivitasNilaiActualPumpingList.LastUpdatedBy.Visible) { // subAktivitasNilaiActualPumpingList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasNilaiActualPumpingList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasNilaiActualPumping_LastUpdatedBy" class="SubAktivitasNilaiActualPumping_LastUpdatedBy">@Html.Raw(subAktivitasNilaiActualPumpingList.RenderFieldHeader(subAktivitasNilaiActualPumpingList.LastUpdatedBy))</div></th>
} @* subAktivitasNilaiActualPumpingList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiActualPumpingList.lastUpdatedDate.Visible) { // subAktivitasNilaiActualPumpingList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasNilaiActualPumpingList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiActualPumping_lastUpdatedDate" class="SubAktivitasNilaiActualPumping_lastUpdatedDate">@Html.Raw(subAktivitasNilaiActualPumpingList.RenderFieldHeader(subAktivitasNilaiActualPumpingList.lastUpdatedDate))</div></th>
} @* subAktivitasNilaiActualPumpingList.lastUpdatedDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasNilaiActualPumpingList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasNilaiActualPumpingList.PageNumber)">
@{
    await subAktivitasNilaiActualPumpingList.SetupGrid();
    bool eof = subAktivitasNilaiActualPumpingList.Recordset == null; // DN
}
@while (subAktivitasNilaiActualPumpingList.RecordCount < subAktivitasNilaiActualPumpingList.StopRecord || SameString(subAktivitasNilaiActualPumpingList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasNilaiActualPumpingList.RowIndex, "$rowindex$") &&
        (!subAktivitasNilaiActualPumpingList.IsGridAdd || subAktivitasNilaiActualPumpingList.CurrentMode == "copy") &&
        (!((subAktivitasNilaiActualPumpingList.IsCopy || subAktivitasNilaiActualPumpingList.IsAdd) && subAktivitasNilaiActualPumpingList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasNilaiActualPumpingList.Recordset.ReadAsync();
    subAktivitasNilaiActualPumpingList.RecordCount++;
    if (subAktivitasNilaiActualPumpingList.RecordCount >= subAktivitasNilaiActualPumpingList.StartRecord) {
        await subAktivitasNilaiActualPumpingList.SetupRow();
    <tr @Html.Raw(subAktivitasNilaiActualPumpingList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasNilaiActualPumpingList.ListOptions.RenderBody("left", subAktivitasNilaiActualPumpingList.RowCount)
    @if (subAktivitasNilaiActualPumpingList.idProses.Visible) { // subAktivitasNilaiActualPumpingList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasNilaiActualPumpingList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiActualPumpingList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiActualPumpingList.RowCount)_SubAktivitasNilaiActualPumping_idProses" class="el_SubAktivitasNilaiActualPumping_idProses">
<span @Html.Raw(subAktivitasNilaiActualPumpingList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasNilaiActualPumpingList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiActualPumpingList.idProses.Visible (end) *@
    @if (subAktivitasNilaiActualPumpingList.idAktifitas.Visible) { // subAktivitasNilaiActualPumpingList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasNilaiActualPumpingList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiActualPumpingList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiActualPumpingList.RowCount)_SubAktivitasNilaiActualPumping_idAktifitas" class="el_SubAktivitasNilaiActualPumping_idAktifitas">
<span @Html.Raw(subAktivitasNilaiActualPumpingList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiActualPumpingList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiActualPumpingList.idAktifitas.Visible (end) *@
    @if (subAktivitasNilaiActualPumpingList.NoReferensi.Visible) { // subAktivitasNilaiActualPumpingList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasNilaiActualPumpingList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiActualPumpingList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiActualPumpingList.RowCount)_SubAktivitasNilaiActualPumping_NoReferensi" class="el_SubAktivitasNilaiActualPumping_NoReferensi">
<span @Html.Raw(subAktivitasNilaiActualPumpingList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasNilaiActualPumpingList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiActualPumpingList.NoReferensi.Visible (end) *@
    @if (subAktivitasNilaiActualPumpingList.StatusAktivitas.Visible) { // subAktivitasNilaiActualPumpingList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasNilaiActualPumpingList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiActualPumpingList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiActualPumpingList.RowCount)_SubAktivitasNilaiActualPumping_StatusAktivitas" class="el_SubAktivitasNilaiActualPumping_StatusAktivitas">
<span @Html.Raw(subAktivitasNilaiActualPumpingList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiActualPumpingList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiActualPumpingList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasNilaiActualPumpingList.ActualFlowrate.Visible) { // subAktivitasNilaiActualPumpingList.ActualFlowrate.Visible (begin)
        <td data-name="ActualFlowrate" @Html.Raw(subAktivitasNilaiActualPumpingList.ActualFlowrate.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiActualPumpingList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiActualPumpingList.RowCount)_SubAktivitasNilaiActualPumping_ActualFlowrate" class="el_SubAktivitasNilaiActualPumping_ActualFlowrate">
<span @Html.Raw(subAktivitasNilaiActualPumpingList.ActualFlowrate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiActualPumpingList.ActualFlowrate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiActualPumpingList.ActualFlowrate.Visible (end) *@
    @if (subAktivitasNilaiActualPumpingList.ActualPressure.Visible) { // subAktivitasNilaiActualPumpingList.ActualPressure.Visible (begin)
        <td data-name="ActualPressure" @Html.Raw(subAktivitasNilaiActualPumpingList.ActualPressure.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiActualPumpingList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiActualPumpingList.RowCount)_SubAktivitasNilaiActualPumping_ActualPressure" class="el_SubAktivitasNilaiActualPumping_ActualPressure">
<span @Html.Raw(subAktivitasNilaiActualPumpingList.ActualPressure.ViewAttributes)>
@Html.Raw(subAktivitasNilaiActualPumpingList.ActualPressure.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiActualPumpingList.ActualPressure.Visible (end) *@
    @if (subAktivitasNilaiActualPumpingList.userInput.Visible) { // subAktivitasNilaiActualPumpingList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasNilaiActualPumpingList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiActualPumpingList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiActualPumpingList.RowCount)_SubAktivitasNilaiActualPumping_userInput" class="el_SubAktivitasNilaiActualPumping_userInput">
<span @Html.Raw(subAktivitasNilaiActualPumpingList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasNilaiActualPumpingList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiActualPumpingList.userInput.Visible (end) *@
    @if (subAktivitasNilaiActualPumpingList.LastUpdatedBy.Visible) { // subAktivitasNilaiActualPumpingList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasNilaiActualPumpingList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiActualPumpingList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiActualPumpingList.RowCount)_SubAktivitasNilaiActualPumping_LastUpdatedBy" class="el_SubAktivitasNilaiActualPumping_LastUpdatedBy">
<span @Html.Raw(subAktivitasNilaiActualPumpingList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasNilaiActualPumpingList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiActualPumpingList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasNilaiActualPumpingList.lastUpdatedDate.Visible) { // subAktivitasNilaiActualPumpingList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasNilaiActualPumpingList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiActualPumpingList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiActualPumpingList.RowCount)_SubAktivitasNilaiActualPumping_lastUpdatedDate" class="el_SubAktivitasNilaiActualPumping_lastUpdatedDate">
<span @Html.Raw(subAktivitasNilaiActualPumpingList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiActualPumpingList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiActualPumpingList.lastUpdatedDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasNilaiActualPumpingList.ListOptions.RenderBody("right", subAktivitasNilaiActualPumpingList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasNilaiActualPumpingList.RowIndex, "$rowindex$"))
        subAktivitasNilaiActualPumpingList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasNilaiActualPumpingList.IsCopy || subAktivitasNilaiActualPumpingList.IsAdd) && subAktivitasNilaiActualPumpingList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasNilaiActualPumpingList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasNilaiActualPumpingList.CurrentAction) && !subAktivitasNilaiActualPumpingList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasNilaiActualPumpingList.CloseRecordset(); }
@if (!subAktivitasNilaiActualPumpingList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasNilaiActualPumpingList.IsGridAdd && !(subAktivitasNilaiActualPumpingList.IsGridEdit && subAktivitasNilaiActualPumpingList.ModalGridEdit) && !subAktivitasNilaiActualPumpingList.IsMultiEdit) {
@Html.Raw(subAktivitasNilaiActualPumpingList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasNilaiActualPumpingList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasNilaiActualPumpingList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasNilaiActualPumpingList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasNilaiActualPumpingList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasNilaiActualPumpingList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasNilaiActualPumping");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
