@{
    // View
    View = this;

    // Check action result
    if (subaktivitasHasilPemeriksaanStsPnrBbmEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subaktivitasHasilPemeriksaanStsPnrBbmEdit.UseLayout ? "_Layout" : "";
}
@subaktivitasHasilPemeriksaanStsPnrBbmEdit.ShowPageHeader()
@subaktivitasHasilPemeriksaanStsPnrBbmEdit.ShowMessages()
<main class="edit">
<form name="fSubaktivitasHasilPemeriksaanSTSPnrBBMedit" id="fSubaktivitasHasilPemeriksaanSTSPnrBBMedit" class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasHasilPemeriksaanStsPnrBbmEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasHasilPemeriksaanSTSPnrBBM: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubaktivitasHasilPemeriksaanSTSPnrBBMedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubaktivitasHasilPemeriksaanSTSPnrBBMedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["NamaKapal", [fields.NamaKapal.visible && fields.NamaKapal.required ? ew.Validators.required(fields.NamaKapal.caption) : null], fields.NamaKapal.isInvalid],
            ["TanggalJam", [fields.TanggalJam.visible && fields.TanggalJam.required ? ew.Validators.required(fields.TanggalJam.caption) : null, ew.Validators.datetime(fields.TanggalJam.clientFormatPattern)], fields.TanggalJam.isInvalid],
            ["NamaKegiatan", [fields.NamaKegiatan.visible && fields.NamaKegiatan.required ? ew.Validators.required(fields.NamaKegiatan.caption) : null], fields.NamaKegiatan.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["Density", [fields.Density.visible && fields.Density.required ? ew.Validators.required(fields.Density.caption) : null], fields.Density.isInvalid],
            ["Temperature", [fields.Temperature.visible && fields.Temperature.required ? ew.Validators.required(fields.Temperature.caption) : null], fields.Temperature.isInvalid],
            ["Pressure", [fields.Pressure.visible && fields.Pressure.required ? ew.Validators.required(fields.Pressure.caption) : null], fields.Pressure.isInvalid],
            ["Keterangan", [fields.Keterangan.visible && fields.Keterangan.required ? ew.Validators.required(fields.Keterangan.caption) : null], fields.Keterangan.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["TanggalJamSOP", [fields.TanggalJamSOP.visible && fields.TanggalJamSOP.required ? ew.Validators.required(fields.TanggalJamSOP.caption) : null, ew.Validators.datetime(fields.TanggalJamSOP.clientFormatPattern)], fields.TanggalJamSOP.isInvalid],
            ["SelisihWaktu", [fields.SelisihWaktu.visible && fields.SelisihWaktu.required ? ew.Validators.required(fields.SelisihWaktu.caption) : null], fields.SelisihWaktu.isInvalid],
            ["IsQualityActive", [fields.IsQualityActive.visible && fields.IsQualityActive.required ? ew.Validators.required(fields.IsQualityActive.caption) : null], fields.IsQualityActive.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "IsQualityActive": @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.IsQualityActive.ToClientList(subaktivitasHasilPemeriksaanStsPnrBbmEdit)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subaktivitasHasilPemeriksaanStsPnrBbmEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.OldKeyName)" value="@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subaktivitasHasilPemeriksaanStsPnrBbmEdit.id.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.id.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_id" class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.id.Caption)@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.id.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_id">
<span @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subaktivitasHasilPemeriksaanStsPnrBbmEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubaktivitasHasilPemeriksaanSTSPnrBBM" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanStsPnrBbmEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanStsPnrBbmEdit.id.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmEdit.idAktifitas.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_idAktifitas" for="x_idAktifitas" class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.idAktifitas.Caption)@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.idAktifitas.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_idAktifitas">
<input type="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubaktivitasHasilPemeriksaanSTSPnrBBM" data-field="x_idAktifitas" value="@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanStsPnrBbmEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.idAktifitas.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanStsPnrBbmEdit.idAktifitas.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmEdit.NamaKapal.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmEdit.NamaKapal.Visible (begin)
    <div id="r_NamaKapal" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NamaKapal.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_NamaKapal" for="x_NamaKapal" class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NamaKapal.Caption)@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NamaKapal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NamaKapal.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_NamaKapal">
<input type="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NamaKapal.InputTextType)" name="x_NamaKapal" id="x_NamaKapal" data-table="SubaktivitasHasilPemeriksaanSTSPnrBBM" data-field="x_NamaKapal" value="@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NamaKapal.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NamaKapal.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NamaKapal.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NamaKapal.EditAttributes) aria-describedby="x_NamaKapal_help">
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NamaKapal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NamaKapal.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanStsPnrBbmEdit.NamaKapal.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJam.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJam.Visible (begin)
    <div id="r_TanggalJam" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJam.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_TanggalJam" for="x_TanggalJam" class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJam.Caption)@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJam.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJam.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_TanggalJam">
<input type="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJam.InputTextType)" name="x_TanggalJam" id="x_TanggalJam" data-table="SubaktivitasHasilPemeriksaanSTSPnrBBM" data-field="x_TanggalJam" value="@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJam.EditValue)" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJam.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJam.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJam.EditAttributes) aria-describedby="x_TanggalJam_help">
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJam.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJam.GetErrorMessage())</div>
@if (!subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJam.ReadOnly && !subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJam.Disabled && !subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJam.EditAttrs.Is("readonly") && !subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJam.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubaktivitasHasilPemeriksaanSTSPnrBBMedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubaktivitasHasilPemeriksaanSTSPnrBBMedit", "x_TanggalJam", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJam.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmEdit.NamaKegiatan.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmEdit.NamaKegiatan.Visible (begin)
    <div id="r_NamaKegiatan" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NamaKegiatan.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_NamaKegiatan" for="x_NamaKegiatan" class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NamaKegiatan.Caption)@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NamaKegiatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NamaKegiatan.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_NamaKegiatan">
<input type="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NamaKegiatan.InputTextType)" name="x_NamaKegiatan" id="x_NamaKegiatan" data-table="SubaktivitasHasilPemeriksaanSTSPnrBBM" data-field="x_NamaKegiatan" value="@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NamaKegiatan.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NamaKegiatan.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NamaKegiatan.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NamaKegiatan.EditAttributes) aria-describedby="x_NamaKegiatan_help">
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NamaKegiatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NamaKegiatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanStsPnrBbmEdit.NamaKegiatan.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmEdit.Produk.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Produk.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_Produk" for="x_Produk" class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Produk.Caption)@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Produk.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_Produk">
<input type="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubaktivitasHasilPemeriksaanSTSPnrBBM" data-field="x_Produk" value="@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Produk.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Produk.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Produk.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanStsPnrBbmEdit.Produk.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmEdit.Density.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmEdit.Density.Visible (begin)
    <div id="r_Density" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Density.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_Density" for="x_Density" class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Density.Caption)@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Density.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Density.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_Density">
<input type="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Density.InputTextType)" name="x_Density" id="x_Density" data-table="SubaktivitasHasilPemeriksaanSTSPnrBBM" data-field="x_Density" value="@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Density.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Density.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Density.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Density.EditAttributes) aria-describedby="x_Density_help">
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Density.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Density.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanStsPnrBbmEdit.Density.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmEdit.Temperature.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmEdit.Temperature.Visible (begin)
    <div id="r_Temperature" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Temperature.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_Temperature" for="x_Temperature" class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Temperature.Caption)@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Temperature.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Temperature.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_Temperature">
<input type="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Temperature.InputTextType)" name="x_Temperature" id="x_Temperature" data-table="SubaktivitasHasilPemeriksaanSTSPnrBBM" data-field="x_Temperature" value="@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Temperature.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Temperature.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Temperature.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Temperature.EditAttributes) aria-describedby="x_Temperature_help">
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Temperature.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Temperature.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanStsPnrBbmEdit.Temperature.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmEdit.Pressure.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmEdit.Pressure.Visible (begin)
    <div id="r_Pressure" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Pressure.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_Pressure" for="x_Pressure" class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Pressure.Caption)@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Pressure.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Pressure.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_Pressure">
<input type="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Pressure.InputTextType)" name="x_Pressure" id="x_Pressure" data-table="SubaktivitasHasilPemeriksaanSTSPnrBBM" data-field="x_Pressure" value="@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Pressure.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Pressure.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Pressure.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Pressure.EditAttributes) aria-describedby="x_Pressure_help">
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Pressure.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Pressure.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanStsPnrBbmEdit.Pressure.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmEdit.Keterangan.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmEdit.Keterangan.Visible (begin)
    <div id="r_Keterangan" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Keterangan.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_Keterangan" for="x_Keterangan" class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Keterangan.Caption)@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Keterangan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Keterangan.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_Keterangan">
<textarea data-table="SubaktivitasHasilPemeriksaanSTSPnrBBM" data-field="x_Keterangan" name="x_Keterangan" id="x_Keterangan" cols="35" rows="4" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Keterangan.PlaceHolder))"@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Keterangan.EditAttributes) aria-describedby="x_Keterangan_help">@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Keterangan.EditValue)</textarea>
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Keterangan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.Keterangan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanStsPnrBbmEdit.Keterangan.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmEdit.userInput.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.userInput.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_userInput" for="x_userInput" class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.userInput.Caption)@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.userInput.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_userInput">
<input type="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubaktivitasHasilPemeriksaanSTSPnrBBM" data-field="x_userInput" value="@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanStsPnrBbmEdit.userInput.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.userInput.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanStsPnrBbmEdit.userInput.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmEdit.etlDate.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.etlDate.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_etlDate" for="x_etlDate" class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.etlDate.Caption)@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.etlDate.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_etlDate">
<input type="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubaktivitasHasilPemeriksaanSTSPnrBBM" data-field="x_etlDate" value="@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanStsPnrBbmEdit.etlDate.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.etlDate.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.etlDate.GetErrorMessage())</div>
@if (!subaktivitasHasilPemeriksaanStsPnrBbmEdit.etlDate.ReadOnly && !subaktivitasHasilPemeriksaanStsPnrBbmEdit.etlDate.Disabled && !subaktivitasHasilPemeriksaanStsPnrBbmEdit.etlDate.EditAttrs.Is("readonly") && !subaktivitasHasilPemeriksaanStsPnrBbmEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubaktivitasHasilPemeriksaanSTSPnrBBMedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubaktivitasHasilPemeriksaanSTSPnrBBMedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanStsPnrBbmEdit.etlDate.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmEdit.idProses.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.idProses.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_idProses" for="x_idProses" class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.idProses.Caption)@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.idProses.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_idProses">
<input type="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubaktivitasHasilPemeriksaanSTSPnrBBM" data-field="x_idProses" value="@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanStsPnrBbmEdit.idProses.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.idProses.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanStsPnrBbmEdit.idProses.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmEdit.LastUpdatedBy.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.LastUpdatedBy.Caption)@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_LastUpdatedBy">
<input type="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubaktivitasHasilPemeriksaanSTSPnrBBM" data-field="x_LastUpdatedBy" value="@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanStsPnrBbmEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanStsPnrBbmEdit.LastUpdatedBy.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmEdit.lastUpdatedDate.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.lastUpdatedDate.Caption)@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_lastUpdatedDate">
<input type="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubaktivitasHasilPemeriksaanSTSPnrBBM" data-field="x_lastUpdatedDate" value="@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanStsPnrBbmEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subaktivitasHasilPemeriksaanStsPnrBbmEdit.lastUpdatedDate.ReadOnly && !subaktivitasHasilPemeriksaanStsPnrBbmEdit.lastUpdatedDate.Disabled && !subaktivitasHasilPemeriksaanStsPnrBbmEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subaktivitasHasilPemeriksaanStsPnrBbmEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubaktivitasHasilPemeriksaanSTSPnrBBMedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubaktivitasHasilPemeriksaanSTSPnrBBMedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanStsPnrBbmEdit.lastUpdatedDate.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmEdit.NoReferensi.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_NoReferensi" for="x_NoReferensi" class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NoReferensi.Caption)@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NoReferensi.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_NoReferensi">
<input type="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubaktivitasHasilPemeriksaanSTSPnrBBM" data-field="x_NoReferensi" value="@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NoReferensi.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NoReferensi.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanStsPnrBbmEdit.NoReferensi.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJamSOP.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJamSOP.Visible (begin)
    <div id="r_TanggalJamSOP" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJamSOP.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_TanggalJamSOP" for="x_TanggalJamSOP" class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJamSOP.Caption)@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJamSOP.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJamSOP.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_TanggalJamSOP">
<input type="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJamSOP.InputTextType)" name="x_TanggalJamSOP" id="x_TanggalJamSOP" data-table="SubaktivitasHasilPemeriksaanSTSPnrBBM" data-field="x_TanggalJamSOP" value="@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJamSOP.EditValue)" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJamSOP.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJamSOP.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJamSOP.EditAttributes) aria-describedby="x_TanggalJamSOP_help">
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJamSOP.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJamSOP.GetErrorMessage())</div>
@if (!subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJamSOP.ReadOnly && !subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJamSOP.Disabled && !subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJamSOP.EditAttrs.Is("readonly") && !subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJamSOP.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubaktivitasHasilPemeriksaanSTSPnrBBMedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubaktivitasHasilPemeriksaanSTSPnrBBMedit", "x_TanggalJamSOP", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanStsPnrBbmEdit.TanggalJamSOP.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmEdit.SelisihWaktu.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmEdit.SelisihWaktu.Visible (begin)
    <div id="r_SelisihWaktu" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.SelisihWaktu.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_SelisihWaktu" for="x_SelisihWaktu" class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.SelisihWaktu.Caption)@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.SelisihWaktu.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.SelisihWaktu.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_SelisihWaktu">
<input type="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.SelisihWaktu.InputTextType)" name="x_SelisihWaktu" id="x_SelisihWaktu" data-table="SubaktivitasHasilPemeriksaanSTSPnrBBM" data-field="x_SelisihWaktu" value="@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.SelisihWaktu.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanStsPnrBbmEdit.SelisihWaktu.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.SelisihWaktu.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.SelisihWaktu.EditAttributes) aria-describedby="x_SelisihWaktu_help">
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.SelisihWaktu.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.SelisihWaktu.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanStsPnrBbmEdit.SelisihWaktu.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmEdit.IsQualityActive.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmEdit.IsQualityActive.Visible (begin)
    <div id="r_IsQualityActive" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.IsQualityActive.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_IsQualityActive" class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.IsQualityActive.Caption)@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.IsQualityActive.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.IsQualityActive.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_IsQualityActive">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.IsQualityActive.IsInvalidClass)" data-table="SubaktivitasHasilPemeriksaanSTSPnrBBM" data-field="x_IsQualityActive" data-boolean name="x_IsQualityActive" id="x_IsQualityActive" value="1" checked="@ConvertToBool(subaktivitasHasilPemeriksaanStsPnrBbmEdit.IsQualityActive.CurrentValue)" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.IsQualityActive.EditAttributes) aria-describedby="x_IsQualityActive_help">
    <div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.IsQualityActive.GetErrorMessage())</div>
</div>
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.IsQualityActive.GetCustomMessage)
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanStsPnrBbmEdit.IsQualityActive.Visible (end) *@
</div><!-- /page* -->
@{ subaktivitasHasilPemeriksaanStsPnrBbmEdit.CloseRecordset(); }
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subaktivitasHasilPemeriksaanStsPnrBbmEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubaktivitasHasilPemeriksaanSTSPnrBBMedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubaktivitasHasilPemeriksaanSTSPnrBBMedit" data-href="@AppPath(subaktivitasHasilPemeriksaanStsPnrBbmEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subaktivitasHasilPemeriksaanStsPnrBbmEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubaktivitasHasilPemeriksaanSTSPnrBBM");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
