@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputMonitoringStockStsPymSlpgEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputMonitoringStockStsPymSlpgEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasFormInputMonitoringStockStsPymSlpgEdit.ShowPageHeader()
@subAktivitasFormInputMonitoringStockStsPymSlpgEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasFormInputMonitoringStockSTSPymSLPGedit" id="fSubAktivitasFormInputMonitoringStockSTSPymSLPGedit" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputMonitoringStockSTSPymSLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasFormInputMonitoringStockSTSPymSLPGedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputMonitoringStockSTSPymSLPGedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["NomorTangki", [fields.NomorTangki.visible && fields.NomorTangki.required ? ew.Validators.required(fields.NomorTangki.caption) : null], fields.NomorTangki.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["Aktivitas2", [fields.Aktivitas2.visible && fields.Aktivitas2.required ? ew.Validators.required(fields.Aktivitas2.caption) : null], fields.Aktivitas2.isInvalid],
            ["QuantityAwal", [fields.QuantityAwal.visible && fields.QuantityAwal.required ? ew.Validators.required(fields.QuantityAwal.caption) : null], fields.QuantityAwal.isInvalid],
            ["QuantityAkhir", [fields.QuantityAkhir.visible && fields.QuantityAkhir.required ? ew.Validators.required(fields.QuantityAkhir.caption) : null], fields.QuantityAkhir.isInvalid],
            ["Flowrate", [fields.Flowrate.visible && fields.Flowrate.required ? ew.Validators.required(fields.Flowrate.caption) : null], fields.Flowrate.isInvalid],
            ["Keterangan", [fields.Keterangan.visible && fields.Keterangan.required ? ew.Validators.required(fields.Keterangan.caption) : null], fields.Keterangan.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["TanggalQuantityAwal", [fields.TanggalQuantityAwal.visible && fields.TanggalQuantityAwal.required ? ew.Validators.required(fields.TanggalQuantityAwal.caption) : null, ew.Validators.datetime(fields.TanggalQuantityAwal.clientFormatPattern)], fields.TanggalQuantityAwal.isInvalid],
            ["TanggalQuantityAkhir", [fields.TanggalQuantityAkhir.visible && fields.TanggalQuantityAkhir.required ? ew.Validators.required(fields.TanggalQuantityAkhir.caption) : null, ew.Validators.datetime(fields.TanggalQuantityAkhir.clientFormatPattern)], fields.TanggalQuantityAkhir.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.OldKeyName)" value="@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasFormInputMonitoringStockStsPymSlpgEdit.id.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.id.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_id" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.id.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.id.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_id">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasFormInputMonitoringStockSTSPymSLPG" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgEdit.id.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSlpgEdit.idProses.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_idProses" for="x_idProses" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.idProses.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_idProses">
<input type="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubAktivitasFormInputMonitoringStockSTSPymSLPG" data-field="x_idProses" value="@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.idProses.FormatPattern)"@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgEdit.idProses.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSlpgEdit.idAktifitas.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_idAktifitas" for="x_idAktifitas" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.idAktifitas.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_idAktifitas">
<input type="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubAktivitasFormInputMonitoringStockSTSPymSLPG" data-field="x_idAktifitas" value="@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.idAktifitas.FormatPattern)"@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgEdit.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSlpgEdit.NoReferensi.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_NoReferensi" for="x_NoReferensi" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.NoReferensi.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_NoReferensi">
<input type="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasFormInputMonitoringStockSTSPymSLPG" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.NoReferensi.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgEdit.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSlpgEdit.NomorTangki.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgEdit.NomorTangki.Visible (begin)
    <div id="r_NomorTangki" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.NomorTangki.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_NomorTangki" for="x_NomorTangki" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.NomorTangki.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.NomorTangki.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.NomorTangki.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_NomorTangki">
<input type="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.NomorTangki.InputTextType)" name="x_NomorTangki" id="x_NomorTangki" data-table="SubAktivitasFormInputMonitoringStockSTSPymSLPG" data-field="x_NomorTangki" value="@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.NomorTangki.EditValue)" size="30" maxlength="200" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.NomorTangki.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.NomorTangki.FormatPattern)"@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.NomorTangki.EditAttributes) aria-describedby="x_NomorTangki_help">
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.NomorTangki.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.NomorTangki.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgEdit.NomorTangki.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Produk.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Produk.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_Produk" for="x_Produk" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Produk.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Produk.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_Produk">
<input type="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasFormInputMonitoringStockSTSPymSLPG" data-field="x_Produk" value="@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Produk.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Produk.FormatPattern)"@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Produk.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Aktivitas2.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Aktivitas2.Visible (begin)
    <div id="r_Aktivitas2" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Aktivitas2.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_Aktivitas2" for="x_Aktivitas2" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Aktivitas2.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Aktivitas2.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Aktivitas2.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_Aktivitas2">
<input type="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Aktivitas2.InputTextType)" name="x_Aktivitas2" id="x_Aktivitas2" data-table="SubAktivitasFormInputMonitoringStockSTSPymSLPG" data-field="x_Aktivitas2" value="@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Aktivitas2.EditValue)" size="30" maxlength="200" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Aktivitas2.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Aktivitas2.FormatPattern)"@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Aktivitas2.EditAttributes) aria-describedby="x_Aktivitas2_help">
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Aktivitas2.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Aktivitas2.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Aktivitas2.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSlpgEdit.QuantityAwal.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgEdit.QuantityAwal.Visible (begin)
    <div id="r_QuantityAwal" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.QuantityAwal.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_QuantityAwal" for="x_QuantityAwal" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.QuantityAwal.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.QuantityAwal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.QuantityAwal.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_QuantityAwal">
<input type="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.QuantityAwal.InputTextType)" name="x_QuantityAwal" id="x_QuantityAwal" data-table="SubAktivitasFormInputMonitoringStockSTSPymSLPG" data-field="x_QuantityAwal" value="@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.QuantityAwal.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.QuantityAwal.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.QuantityAwal.FormatPattern)"@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.QuantityAwal.EditAttributes) aria-describedby="x_QuantityAwal_help">
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.QuantityAwal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.QuantityAwal.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgEdit.QuantityAwal.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSlpgEdit.QuantityAkhir.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgEdit.QuantityAkhir.Visible (begin)
    <div id="r_QuantityAkhir" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.QuantityAkhir.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_QuantityAkhir" for="x_QuantityAkhir" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.QuantityAkhir.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.QuantityAkhir.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.QuantityAkhir.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_QuantityAkhir">
<input type="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.QuantityAkhir.InputTextType)" name="x_QuantityAkhir" id="x_QuantityAkhir" data-table="SubAktivitasFormInputMonitoringStockSTSPymSLPG" data-field="x_QuantityAkhir" value="@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.QuantityAkhir.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.QuantityAkhir.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.QuantityAkhir.FormatPattern)"@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.QuantityAkhir.EditAttributes) aria-describedby="x_QuantityAkhir_help">
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.QuantityAkhir.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.QuantityAkhir.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgEdit.QuantityAkhir.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Flowrate.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Flowrate.Visible (begin)
    <div id="r_Flowrate" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Flowrate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_Flowrate" for="x_Flowrate" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Flowrate.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Flowrate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Flowrate.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_Flowrate">
<input type="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Flowrate.InputTextType)" name="x_Flowrate" id="x_Flowrate" data-table="SubAktivitasFormInputMonitoringStockSTSPymSLPG" data-field="x_Flowrate" value="@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Flowrate.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Flowrate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Flowrate.FormatPattern)"@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Flowrate.EditAttributes) aria-describedby="x_Flowrate_help">
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Flowrate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Flowrate.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Flowrate.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Keterangan.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Keterangan.Visible (begin)
    <div id="r_Keterangan" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Keterangan.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_Keterangan" for="x_Keterangan" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Keterangan.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Keterangan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Keterangan.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_Keterangan">
<textarea data-table="SubAktivitasFormInputMonitoringStockSTSPymSLPG" data-field="x_Keterangan" name="x_Keterangan" id="x_Keterangan" cols="35" rows="4" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Keterangan.PlaceHolder))"@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Keterangan.EditAttributes) aria-describedby="x_Keterangan_help">@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Keterangan.EditValue)</textarea>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Keterangan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Keterangan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgEdit.Keterangan.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSlpgEdit.userInput.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.userInput.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_userInput" for="x_userInput" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.userInput.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_userInput">
<input type="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasFormInputMonitoringStockSTSPymSLPG" data-field="x_userInput" value="@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.userInput.FormatPattern)"@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgEdit.userInput.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSlpgEdit.etlDate.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_etlDate" for="x_etlDate" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.etlDate.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_etlDate">
<input type="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasFormInputMonitoringStockSTSPymSLPG" data-field="x_etlDate" value="@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.etlDate.FormatPattern)"@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.etlDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputMonitoringStockStsPymSlpgEdit.etlDate.ReadOnly && !subAktivitasFormInputMonitoringStockStsPymSlpgEdit.etlDate.Disabled && !subAktivitasFormInputMonitoringStockStsPymSlpgEdit.etlDate.EditAttrs.Is("readonly") && !subAktivitasFormInputMonitoringStockStsPymSlpgEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputMonitoringStockSTSPymSLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputMonitoringStockSTSPymSLPGedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgEdit.etlDate.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSlpgEdit.LastUpdatedBy.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_LastUpdatedBy">
<input type="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasFormInputMonitoringStockSTSPymSLPG" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSlpgEdit.lastUpdatedDate.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_lastUpdatedDate">
<input type="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasFormInputMonitoringStockSTSPymSLPG" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputMonitoringStockStsPymSlpgEdit.lastUpdatedDate.ReadOnly && !subAktivitasFormInputMonitoringStockStsPymSlpgEdit.lastUpdatedDate.Disabled && !subAktivitasFormInputMonitoringStockStsPymSlpgEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasFormInputMonitoringStockStsPymSlpgEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputMonitoringStockSTSPymSLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputMonitoringStockSTSPymSLPGedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAwal.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAwal.Visible (begin)
    <div id="r_TanggalQuantityAwal" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAwal.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_TanggalQuantityAwal" for="x_TanggalQuantityAwal" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAwal.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAwal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAwal.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_TanggalQuantityAwal">
<input type="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAwal.InputTextType)" name="x_TanggalQuantityAwal" id="x_TanggalQuantityAwal" data-table="SubAktivitasFormInputMonitoringStockSTSPymSLPG" data-field="x_TanggalQuantityAwal" value="@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAwal.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAwal.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAwal.FormatPattern)"@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAwal.EditAttributes) aria-describedby="x_TanggalQuantityAwal_help">
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAwal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAwal.GetErrorMessage())</div>
@if (!subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAwal.ReadOnly && !subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAwal.Disabled && !subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAwal.EditAttrs.Is("readonly") && !subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAwal.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputMonitoringStockSTSPymSLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputMonitoringStockSTSPymSLPGedit", "x_TanggalQuantityAwal", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAwal.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAkhir.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAkhir.Visible (begin)
    <div id="r_TanggalQuantityAkhir" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAkhir.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_TanggalQuantityAkhir" for="x_TanggalQuantityAkhir" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAkhir.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAkhir.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAkhir.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_TanggalQuantityAkhir">
<input type="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAkhir.InputTextType)" name="x_TanggalQuantityAkhir" id="x_TanggalQuantityAkhir" data-table="SubAktivitasFormInputMonitoringStockSTSPymSLPG" data-field="x_TanggalQuantityAkhir" value="@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAkhir.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAkhir.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAkhir.FormatPattern)"@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAkhir.EditAttributes) aria-describedby="x_TanggalQuantityAkhir_help">
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAkhir.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAkhir.GetErrorMessage())</div>
@if (!subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAkhir.ReadOnly && !subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAkhir.Disabled && !subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAkhir.EditAttrs.Is("readonly") && !subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAkhir.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputMonitoringStockSTSPymSLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputMonitoringStockSTSPymSLPGedit", "x_TanggalQuantityAkhir", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgEdit.TanggalQuantityAkhir.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasFormInputMonitoringStockStsPymSlpgEdit.CloseRecordset(); }
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasFormInputMonitoringStockSTSPymSLPGedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasFormInputMonitoringStockSTSPymSLPGedit" data-href="@AppPath(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasFormInputMonitoringStockStsPymSlpgEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputMonitoringStockSTSPymSLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
