@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiSfbdrtwView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiSfbdrtwView.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasNilaiSfbdrtwView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @subAktivitasNilaiSfbdrtwView.ExportOptions.RenderBody()
    @subAktivitasNilaiSfbdrtwView.OtherOptions.RenderBody()
</div>
}
@subAktivitasNilaiSfbdrtwView.ShowPageHeader()
@subAktivitasNilaiSfbdrtwView.ShowMessages()
<main class="view">
<form name="fSubAktivitasNilaiSFBDRTWview" id="fSubAktivitasNilaiSFBDRTWview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!subAktivitasNilaiSfbdrtwView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiSfbdrtwView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiSFBDRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fSubAktivitasNilaiSFBDRTWview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiSFBDRTWview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasNilaiSfbdrtwView.IsModal)">
<table class="@(subAktivitasNilaiSfbdrtwView.TableClass)">
@if (subAktivitasNilaiSfbdrtwView.id.Visible) { // subAktivitasNilaiSfbdrtwView.id.Visible (begin)
    <tr id="r_id" @Html.Raw(subAktivitasNilaiSfbdrtwView.id.RowAttributes)>
        <td class="@(subAktivitasNilaiSfbdrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasNilaiSFBDRTW_id">@Html.Raw(subAktivitasNilaiSfbdrtwView.id.Caption)</span></td>
        <td data-name="id" @Html.Raw(subAktivitasNilaiSfbdrtwView.id.CellAttributes)>
<span id="el_SubAktivitasNilaiSFBDRTW_id">
<span @Html.Raw(subAktivitasNilaiSfbdrtwView.id.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwView.id.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasNilaiSfbdrtwView.id.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwView.idAktifitas.Visible) { // subAktivitasNilaiSfbdrtwView.idAktifitas.Visible (begin)
    <tr id="r_idAktifitas" @Html.Raw(subAktivitasNilaiSfbdrtwView.idAktifitas.RowAttributes)>
        <td class="@(subAktivitasNilaiSfbdrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasNilaiSFBDRTW_idAktifitas">@Html.Raw(subAktivitasNilaiSfbdrtwView.idAktifitas.Caption)</span></td>
        <td data-name="idAktifitas" @Html.Raw(subAktivitasNilaiSfbdrtwView.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasNilaiSFBDRTW_idAktifitas">
<span @Html.Raw(subAktivitasNilaiSfbdrtwView.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwView.idAktifitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasNilaiSfbdrtwView.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwView.SFBD_KL_Obs.Visible) { // subAktivitasNilaiSfbdrtwView.SFBD_KL_Obs.Visible (begin)
    <tr id="r_SFBD_KL_Obs" @Html.Raw(subAktivitasNilaiSfbdrtwView.SFBD_KL_Obs.RowAttributes)>
        <td class="@(subAktivitasNilaiSfbdrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasNilaiSFBDRTW_SFBD_KL_Obs">@Html.Raw(subAktivitasNilaiSfbdrtwView.SFBD_KL_Obs.Caption)</span></td>
        <td data-name="SFBD_KL_Obs" @Html.Raw(subAktivitasNilaiSfbdrtwView.SFBD_KL_Obs.CellAttributes)>
<span id="el_SubAktivitasNilaiSFBDRTW_SFBD_KL_Obs">
<span @Html.Raw(subAktivitasNilaiSfbdrtwView.SFBD_KL_Obs.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwView.SFBD_KL_Obs.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasNilaiSfbdrtwView.SFBD_KL_Obs.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwView.SFBD_KL_15.Visible) { // subAktivitasNilaiSfbdrtwView.SFBD_KL_15.Visible (begin)
    <tr id="r_SFBD_KL_15" @Html.Raw(subAktivitasNilaiSfbdrtwView.SFBD_KL_15.RowAttributes)>
        <td class="@(subAktivitasNilaiSfbdrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasNilaiSFBDRTW_SFBD_KL_15">@Html.Raw(subAktivitasNilaiSfbdrtwView.SFBD_KL_15.Caption)</span></td>
        <td data-name="SFBD_KL_15" @Html.Raw(subAktivitasNilaiSfbdrtwView.SFBD_KL_15.CellAttributes)>
<span id="el_SubAktivitasNilaiSFBDRTW_SFBD_KL_15">
<span @Html.Raw(subAktivitasNilaiSfbdrtwView.SFBD_KL_15.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwView.SFBD_KL_15.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasNilaiSfbdrtwView.SFBD_KL_15.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwView.SFBD_Barrels.Visible) { // subAktivitasNilaiSfbdrtwView.SFBD_Barrels.Visible (begin)
    <tr id="r_SFBD_Barrels" @Html.Raw(subAktivitasNilaiSfbdrtwView.SFBD_Barrels.RowAttributes)>
        <td class="@(subAktivitasNilaiSfbdrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasNilaiSFBDRTW_SFBD_Barrels">@Html.Raw(subAktivitasNilaiSfbdrtwView.SFBD_Barrels.Caption)</span></td>
        <td data-name="SFBD_Barrels" @Html.Raw(subAktivitasNilaiSfbdrtwView.SFBD_Barrels.CellAttributes)>
<span id="el_SubAktivitasNilaiSFBDRTW_SFBD_Barrels">
<span @Html.Raw(subAktivitasNilaiSfbdrtwView.SFBD_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwView.SFBD_Barrels.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasNilaiSfbdrtwView.SFBD_Barrels.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwView.SFBD_LT.Visible) { // subAktivitasNilaiSfbdrtwView.SFBD_LT.Visible (begin)
    <tr id="r_SFBD_LT" @Html.Raw(subAktivitasNilaiSfbdrtwView.SFBD_LT.RowAttributes)>
        <td class="@(subAktivitasNilaiSfbdrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasNilaiSFBDRTW_SFBD_LT">@Html.Raw(subAktivitasNilaiSfbdrtwView.SFBD_LT.Caption)</span></td>
        <td data-name="SFBD_LT" @Html.Raw(subAktivitasNilaiSfbdrtwView.SFBD_LT.CellAttributes)>
<span id="el_SubAktivitasNilaiSFBDRTW_SFBD_LT">
<span @Html.Raw(subAktivitasNilaiSfbdrtwView.SFBD_LT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwView.SFBD_LT.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasNilaiSfbdrtwView.SFBD_LT.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwView.SFBD_MT.Visible) { // subAktivitasNilaiSfbdrtwView.SFBD_MT.Visible (begin)
    <tr id="r_SFBD_MT" @Html.Raw(subAktivitasNilaiSfbdrtwView.SFBD_MT.RowAttributes)>
        <td class="@(subAktivitasNilaiSfbdrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasNilaiSFBDRTW_SFBD_MT">@Html.Raw(subAktivitasNilaiSfbdrtwView.SFBD_MT.Caption)</span></td>
        <td data-name="SFBD_MT" @Html.Raw(subAktivitasNilaiSfbdrtwView.SFBD_MT.CellAttributes)>
<span id="el_SubAktivitasNilaiSFBDRTW_SFBD_MT">
<span @Html.Raw(subAktivitasNilaiSfbdrtwView.SFBD_MT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwView.SFBD_MT.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasNilaiSfbdrtwView.SFBD_MT.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwView.userInput.Visible) { // subAktivitasNilaiSfbdrtwView.userInput.Visible (begin)
    <tr id="r_userInput" @Html.Raw(subAktivitasNilaiSfbdrtwView.userInput.RowAttributes)>
        <td class="@(subAktivitasNilaiSfbdrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasNilaiSFBDRTW_userInput">@Html.Raw(subAktivitasNilaiSfbdrtwView.userInput.Caption)</span></td>
        <td data-name="userInput" @Html.Raw(subAktivitasNilaiSfbdrtwView.userInput.CellAttributes)>
<span id="el_SubAktivitasNilaiSFBDRTW_userInput">
<span @Html.Raw(subAktivitasNilaiSfbdrtwView.userInput.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwView.userInput.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasNilaiSfbdrtwView.userInput.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwView.etlDate.Visible) { // subAktivitasNilaiSfbdrtwView.etlDate.Visible (begin)
    <tr id="r_etlDate" @Html.Raw(subAktivitasNilaiSfbdrtwView.etlDate.RowAttributes)>
        <td class="@(subAktivitasNilaiSfbdrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasNilaiSFBDRTW_etlDate">@Html.Raw(subAktivitasNilaiSfbdrtwView.etlDate.Caption)</span></td>
        <td data-name="etlDate" @Html.Raw(subAktivitasNilaiSfbdrtwView.etlDate.CellAttributes)>
<span id="el_SubAktivitasNilaiSFBDRTW_etlDate">
<span @Html.Raw(subAktivitasNilaiSfbdrtwView.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwView.etlDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasNilaiSfbdrtwView.etlDate.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwView.LastUpdatedBy.Visible) { // subAktivitasNilaiSfbdrtwView.LastUpdatedBy.Visible (begin)
    <tr id="r_LastUpdatedBy" @Html.Raw(subAktivitasNilaiSfbdrtwView.LastUpdatedBy.RowAttributes)>
        <td class="@(subAktivitasNilaiSfbdrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasNilaiSFBDRTW_LastUpdatedBy">@Html.Raw(subAktivitasNilaiSfbdrtwView.LastUpdatedBy.Caption)</span></td>
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasNilaiSfbdrtwView.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasNilaiSFBDRTW_LastUpdatedBy">
<span @Html.Raw(subAktivitasNilaiSfbdrtwView.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwView.LastUpdatedBy.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasNilaiSfbdrtwView.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwView.lastUpdatedDate.Visible) { // subAktivitasNilaiSfbdrtwView.lastUpdatedDate.Visible (begin)
    <tr id="r_lastUpdatedDate" @Html.Raw(subAktivitasNilaiSfbdrtwView.lastUpdatedDate.RowAttributes)>
        <td class="@(subAktivitasNilaiSfbdrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasNilaiSFBDRTW_lastUpdatedDate">@Html.Raw(subAktivitasNilaiSfbdrtwView.lastUpdatedDate.Caption)</span></td>
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasNilaiSfbdrtwView.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasNilaiSFBDRTW_lastUpdatedDate">
<span @Html.Raw(subAktivitasNilaiSfbdrtwView.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwView.lastUpdatedDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasNilaiSfbdrtwView.lastUpdatedDate.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwView.NoReferensi.Visible) { // subAktivitasNilaiSfbdrtwView.NoReferensi.Visible (begin)
    <tr id="r_NoReferensi" @Html.Raw(subAktivitasNilaiSfbdrtwView.NoReferensi.RowAttributes)>
        <td class="@(subAktivitasNilaiSfbdrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasNilaiSFBDRTW_NoReferensi">@Html.Raw(subAktivitasNilaiSfbdrtwView.NoReferensi.Caption)</span></td>
        <td data-name="NoReferensi" @Html.Raw(subAktivitasNilaiSfbdrtwView.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasNilaiSFBDRTW_NoReferensi">
<span @Html.Raw(subAktivitasNilaiSfbdrtwView.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwView.NoReferensi.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasNilaiSfbdrtwView.NoReferensi.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwView.idProses.Visible) { // subAktivitasNilaiSfbdrtwView.idProses.Visible (begin)
    <tr id="r_idProses" @Html.Raw(subAktivitasNilaiSfbdrtwView.idProses.RowAttributes)>
        <td class="@(subAktivitasNilaiSfbdrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasNilaiSFBDRTW_idProses">@Html.Raw(subAktivitasNilaiSfbdrtwView.idProses.Caption)</span></td>
        <td data-name="idProses" @Html.Raw(subAktivitasNilaiSfbdrtwView.idProses.CellAttributes)>
<span id="el_SubAktivitasNilaiSFBDRTW_idProses">
<span @Html.Raw(subAktivitasNilaiSfbdrtwView.idProses.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwView.idProses.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasNilaiSfbdrtwView.idProses.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwView.StatusAktivitas.Visible) { // subAktivitasNilaiSfbdrtwView.StatusAktivitas.Visible (begin)
    <tr id="r_StatusAktivitas" @Html.Raw(subAktivitasNilaiSfbdrtwView.StatusAktivitas.RowAttributes)>
        <td class="@(subAktivitasNilaiSfbdrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasNilaiSFBDRTW_StatusAktivitas">@Html.Raw(subAktivitasNilaiSfbdrtwView.StatusAktivitas.Caption)</span></td>
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasNilaiSfbdrtwView.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasNilaiSFBDRTW_StatusAktivitas">
<span @Html.Raw(subAktivitasNilaiSfbdrtwView.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwView.StatusAktivitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasNilaiSfbdrtwView.StatusAktivitas.Visible (end) *@
</table>
@{ subAktivitasNilaiSfbdrtwView.CloseRecordset(); }
</form>
</main>
@subAktivitasNilaiSfbdrtwView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasNilaiSfbdrtwView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
