@{
    // View
    View = this;

    // Check action result
    if (subAktivitasDataStopPenyaluranStsPyrBbmList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasDataStopPenyaluranStsPyrBbmList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasDataStopPenyaluranStsPyrBbmList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataStopPenyaluranStsPyrBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataStopPenyaluranSTSPyrBBM: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasDataStopPenyaluranStsPyrBbmList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasDataStopPenyaluranStsPyrBbmList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasDataStopPenyaluranStsPyrBbmList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasDataStopPenyaluranStsPyrBbmList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasDataStopPenyaluranStsPyrBbmList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasDataStopPenyaluranStsPyrBbmList.TotalRecords > 0 && subAktivitasDataStopPenyaluranStsPyrBbmList.ExportOptions.Visible) {
    subAktivitasDataStopPenyaluranStsPyrBbmList.ExportOptions.Render("body");
}
@if (subAktivitasDataStopPenyaluranStsPyrBbmList.ImportOptions.Visible) {
    subAktivitasDataStopPenyaluranStsPyrBbmList.ImportOptions.Render("body");
}
@if (subAktivitasDataStopPenyaluranStsPyrBbmList.SearchOptions.Visible) {
    subAktivitasDataStopPenyaluranStsPyrBbmList.SearchOptions.Render("body");
}
@if (subAktivitasDataStopPenyaluranStsPyrBbmList.FilterOptions.Visible) {
    subAktivitasDataStopPenyaluranStsPyrBbmList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasDataStopPenyaluranStsPyrBbmList.IsModal) {
<form name="fSubAktivitasDataStopPenyaluranSTSPyrBBMsrch" id="fSubAktivitasDataStopPenyaluranSTSPyrBBMsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasDataStopPenyaluranSTSPyrBBMsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasDataStopPenyaluranStsPyrBbmList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataStopPenyaluranStsPyrBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataStopPenyaluranSTSPyrBBM: currentTable } });
var currentForm;
var fSubAktivitasDataStopPenyaluranSTSPyrBBMsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasDataStopPenyaluranSTSPyrBBMsrch")
        .setPageId("list")
@if (subAktivitasDataStopPenyaluranStsPyrBbmList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasDataStopPenyaluranStsPyrBbmList.IsExport() && Empty(subAktivitasDataStopPenyaluranStsPyrBbmList.CurrentAction) && subAktivitasDataStopPenyaluranStsPyrBbmList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasDataStopPenyaluranStsPyrBbmList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasDataStopPenyaluranStsPyrBbmList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasDataStopPenyaluranStsPyrBbmList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasDataStopPenyaluranSTSPyrBBMsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStopPenyaluranStsPyrBbmList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasDataStopPenyaluranSTSPyrBBMsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStopPenyaluranStsPyrBbmList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasDataStopPenyaluranSTSPyrBBMsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStopPenyaluranStsPyrBbmList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasDataStopPenyaluranSTSPyrBBMsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasDataStopPenyaluranStsPyrBbmList.ShowPageHeader()
@subAktivitasDataStopPenyaluranStsPyrBbmList.ShowMessages()
<main class="list @(subAktivitasDataStopPenyaluranStsPyrBbmList.TotalRecords == 0 && !subAktivitasDataStopPenyaluranStsPyrBbmList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasDataStopPenyaluranStsPyrBbmList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasDataStopPenyaluranStsPyrBbmList.TotalRecords > 0 || !Empty(subAktivitasDataStopPenyaluranStsPyrBbmList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasDataStopPenyaluranStsPyrBbmList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasDataStopPenyaluranStsPyrBbmList.TableGridClass)">
<form name="@(subAktivitasDataStopPenyaluranStsPyrBbmList.FormName)" id="@(subAktivitasDataStopPenyaluranStsPyrBbmList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasDataStopPenyaluranStsPyrBbmList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasDataStopPenyaluranStsPyrBbmList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasDataStopPenyaluranSTSPyrBBM" class="card-body ew-grid-middle-panel @(subAktivitasDataStopPenyaluranStsPyrBbmList.TableContainerClass)" style="@(subAktivitasDataStopPenyaluranStsPyrBbmList.TableContainerStyle)">
@if (subAktivitasDataStopPenyaluranStsPyrBbmList.TotalRecords > 0 || subAktivitasDataStopPenyaluranStsPyrBbmList.IsGridEdit || subAktivitasDataStopPenyaluranStsPyrBbmList.IsMultiEdit) {
<table id="tbl_SubAktivitasDataStopPenyaluranSTSPyrBBMlist" class="@(subAktivitasDataStopPenyaluranStsPyrBbmList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasDataStopPenyaluranStsPyrBbmList.RowType = RowType.Header;

    // Render list options
    await subAktivitasDataStopPenyaluranStsPyrBbmList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasDataStopPenyaluranStsPyrBbmList.ListOptions.RenderHeader("left")
@if (subAktivitasDataStopPenyaluranStsPyrBbmList.id.Visible) { // subAktivitasDataStopPenyaluranStsPyrBbmList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasDataStopPenyaluranStsPyrBbmList.id.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluranSTSPyrBBM_id" class="SubAktivitasDataStopPenyaluranSTSPyrBBM_id">@Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasDataStopPenyaluranStsPyrBbmList.id))</div></th>
} @* subAktivitasDataStopPenyaluranStsPyrBbmList.id.Visible (end) *@
@if (subAktivitasDataStopPenyaluranStsPyrBbmList.NoReferensi.Visible) { // subAktivitasDataStopPenyaluranStsPyrBbmList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasDataStopPenyaluranStsPyrBbmList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluranSTSPyrBBM_NoReferensi" class="SubAktivitasDataStopPenyaluranSTSPyrBBM_NoReferensi">@Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasDataStopPenyaluranStsPyrBbmList.NoReferensi))</div></th>
} @* subAktivitasDataStopPenyaluranStsPyrBbmList.NoReferensi.Visible (end) *@
@if (subAktivitasDataStopPenyaluranStsPyrBbmList.idProses.Visible) { // subAktivitasDataStopPenyaluranStsPyrBbmList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasDataStopPenyaluranStsPyrBbmList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluranSTSPyrBBM_idProses" class="SubAktivitasDataStopPenyaluranSTSPyrBBM_idProses">@Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasDataStopPenyaluranStsPyrBbmList.idProses))</div></th>
} @* subAktivitasDataStopPenyaluranStsPyrBbmList.idProses.Visible (end) *@
@if (subAktivitasDataStopPenyaluranStsPyrBbmList.idAktifitas.Visible) { // subAktivitasDataStopPenyaluranStsPyrBbmList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasDataStopPenyaluranStsPyrBbmList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluranSTSPyrBBM_idAktifitas" class="SubAktivitasDataStopPenyaluranSTSPyrBBM_idAktifitas">@Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasDataStopPenyaluranStsPyrBbmList.idAktifitas))</div></th>
} @* subAktivitasDataStopPenyaluranStsPyrBbmList.idAktifitas.Visible (end) *@
@if (subAktivitasDataStopPenyaluranStsPyrBbmList.StatusAktivitas.Visible) { // subAktivitasDataStopPenyaluranStsPyrBbmList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasDataStopPenyaluranStsPyrBbmList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluranSTSPyrBBM_StatusAktivitas" class="SubAktivitasDataStopPenyaluranSTSPyrBBM_StatusAktivitas">@Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasDataStopPenyaluranStsPyrBbmList.StatusAktivitas))</div></th>
} @* subAktivitasDataStopPenyaluranStsPyrBbmList.StatusAktivitas.Visible (end) *@
@if (subAktivitasDataStopPenyaluranStsPyrBbmList.LastUpdatedBy.Visible) { // subAktivitasDataStopPenyaluranStsPyrBbmList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasDataStopPenyaluranStsPyrBbmList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluranSTSPyrBBM_LastUpdatedBy" class="SubAktivitasDataStopPenyaluranSTSPyrBBM_LastUpdatedBy">@Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasDataStopPenyaluranStsPyrBbmList.LastUpdatedBy))</div></th>
} @* subAktivitasDataStopPenyaluranStsPyrBbmList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasDataStopPenyaluranStsPyrBbmList.lastUpdatedDate.Visible) { // subAktivitasDataStopPenyaluranStsPyrBbmList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasDataStopPenyaluranStsPyrBbmList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluranSTSPyrBBM_lastUpdatedDate" class="SubAktivitasDataStopPenyaluranSTSPyrBBM_lastUpdatedDate">@Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasDataStopPenyaluranStsPyrBbmList.lastUpdatedDate))</div></th>
} @* subAktivitasDataStopPenyaluranStsPyrBbmList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasDataStopPenyaluranStsPyrBbmList.Tanggal.Visible) { // subAktivitasDataStopPenyaluranStsPyrBbmList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasDataStopPenyaluranStsPyrBbmList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluranSTSPyrBBM_Tanggal" class="SubAktivitasDataStopPenyaluranSTSPyrBBM_Tanggal">@Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasDataStopPenyaluranStsPyrBbmList.Tanggal))</div></th>
} @* subAktivitasDataStopPenyaluranStsPyrBbmList.Tanggal.Visible (end) *@
@if (subAktivitasDataStopPenyaluranStsPyrBbmList.userInput.Visible) { // subAktivitasDataStopPenyaluranStsPyrBbmList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasDataStopPenyaluranStsPyrBbmList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluranSTSPyrBBM_userInput" class="SubAktivitasDataStopPenyaluranSTSPyrBBM_userInput">@Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasDataStopPenyaluranStsPyrBbmList.userInput))</div></th>
} @* subAktivitasDataStopPenyaluranStsPyrBbmList.userInput.Visible (end) *@
@if (subAktivitasDataStopPenyaluranStsPyrBbmList.etlDate.Visible) { // subAktivitasDataStopPenyaluranStsPyrBbmList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasDataStopPenyaluranStsPyrBbmList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluranSTSPyrBBM_etlDate" class="SubAktivitasDataStopPenyaluranSTSPyrBBM_etlDate">@Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasDataStopPenyaluranStsPyrBbmList.etlDate))</div></th>
} @* subAktivitasDataStopPenyaluranStsPyrBbmList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasDataStopPenyaluranStsPyrBbmList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasDataStopPenyaluranStsPyrBbmList.PageNumber)">
@{
    await subAktivitasDataStopPenyaluranStsPyrBbmList.SetupGrid();
    bool eof = subAktivitasDataStopPenyaluranStsPyrBbmList.Recordset == null; // DN
}
@while (subAktivitasDataStopPenyaluranStsPyrBbmList.RecordCount < subAktivitasDataStopPenyaluranStsPyrBbmList.StopRecord || SameString(subAktivitasDataStopPenyaluranStsPyrBbmList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasDataStopPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") &&
        (!subAktivitasDataStopPenyaluranStsPyrBbmList.IsGridAdd || subAktivitasDataStopPenyaluranStsPyrBbmList.CurrentMode == "copy") &&
        (!((subAktivitasDataStopPenyaluranStsPyrBbmList.IsCopy || subAktivitasDataStopPenyaluranStsPyrBbmList.IsAdd) && subAktivitasDataStopPenyaluranStsPyrBbmList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasDataStopPenyaluranStsPyrBbmList.Recordset.ReadAsync();
    subAktivitasDataStopPenyaluranStsPyrBbmList.RecordCount++;
    if (subAktivitasDataStopPenyaluranStsPyrBbmList.RecordCount >= subAktivitasDataStopPenyaluranStsPyrBbmList.StartRecord) {
        await subAktivitasDataStopPenyaluranStsPyrBbmList.SetupRow();
    <tr @Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasDataStopPenyaluranStsPyrBbmList.ListOptions.RenderBody("left", subAktivitasDataStopPenyaluranStsPyrBbmList.RowCount)
    @if (subAktivitasDataStopPenyaluranStsPyrBbmList.id.Visible) { // subAktivitasDataStopPenyaluranStsPyrBbmList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.id.CellAttributes)>
<span id="el@(subAktivitasDataStopPenyaluranStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPenyaluranStsPyrBbmList.RowCount)_SubAktivitasDataStopPenyaluranSTSPyrBBM_id" class="el_SubAktivitasDataStopPenyaluranSTSPyrBBM_id">
<span @Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.id.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranStsPyrBbmList.id.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranStsPyrBbmList.NoReferensi.Visible) { // subAktivitasDataStopPenyaluranStsPyrBbmList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasDataStopPenyaluranStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPenyaluranStsPyrBbmList.RowCount)_SubAktivitasDataStopPenyaluranSTSPyrBBM_NoReferensi" class="el_SubAktivitasDataStopPenyaluranSTSPyrBBM_NoReferensi">
<span @Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranStsPyrBbmList.NoReferensi.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranStsPyrBbmList.idProses.Visible) { // subAktivitasDataStopPenyaluranStsPyrBbmList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.idProses.CellAttributes)>
<span id="el@(subAktivitasDataStopPenyaluranStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPenyaluranStsPyrBbmList.RowCount)_SubAktivitasDataStopPenyaluranSTSPyrBBM_idProses" class="el_SubAktivitasDataStopPenyaluranSTSPyrBBM_idProses">
<span @Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranStsPyrBbmList.idProses.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranStsPyrBbmList.idAktifitas.Visible) { // subAktivitasDataStopPenyaluranStsPyrBbmList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasDataStopPenyaluranStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPenyaluranStsPyrBbmList.RowCount)_SubAktivitasDataStopPenyaluranSTSPyrBBM_idAktifitas" class="el_SubAktivitasDataStopPenyaluranSTSPyrBBM_idAktifitas">
<span @Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranStsPyrBbmList.idAktifitas.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranStsPyrBbmList.StatusAktivitas.Visible) { // subAktivitasDataStopPenyaluranStsPyrBbmList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasDataStopPenyaluranStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPenyaluranStsPyrBbmList.RowCount)_SubAktivitasDataStopPenyaluranSTSPyrBBM_StatusAktivitas" class="el_SubAktivitasDataStopPenyaluranSTSPyrBBM_StatusAktivitas">
<span @Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranStsPyrBbmList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranStsPyrBbmList.LastUpdatedBy.Visible) { // subAktivitasDataStopPenyaluranStsPyrBbmList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasDataStopPenyaluranStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPenyaluranStsPyrBbmList.RowCount)_SubAktivitasDataStopPenyaluranSTSPyrBBM_LastUpdatedBy" class="el_SubAktivitasDataStopPenyaluranSTSPyrBBM_LastUpdatedBy">
<span @Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranStsPyrBbmList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranStsPyrBbmList.lastUpdatedDate.Visible) { // subAktivitasDataStopPenyaluranStsPyrBbmList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasDataStopPenyaluranStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPenyaluranStsPyrBbmList.RowCount)_SubAktivitasDataStopPenyaluranSTSPyrBBM_lastUpdatedDate" class="el_SubAktivitasDataStopPenyaluranSTSPyrBBM_lastUpdatedDate">
<span @Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranStsPyrBbmList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranStsPyrBbmList.Tanggal.Visible) { // subAktivitasDataStopPenyaluranStsPyrBbmList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.Tanggal.CellAttributes)>
<span id="el@(subAktivitasDataStopPenyaluranStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPenyaluranStsPyrBbmList.RowCount)_SubAktivitasDataStopPenyaluranSTSPyrBBM_Tanggal" class="el_SubAktivitasDataStopPenyaluranSTSPyrBBM_Tanggal">
<span @Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranStsPyrBbmList.Tanggal.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranStsPyrBbmList.userInput.Visible) { // subAktivitasDataStopPenyaluranStsPyrBbmList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.userInput.CellAttributes)>
<span id="el@(subAktivitasDataStopPenyaluranStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPenyaluranStsPyrBbmList.RowCount)_SubAktivitasDataStopPenyaluranSTSPyrBBM_userInput" class="el_SubAktivitasDataStopPenyaluranSTSPyrBBM_userInput">
<span @Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranStsPyrBbmList.userInput.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranStsPyrBbmList.etlDate.Visible) { // subAktivitasDataStopPenyaluranStsPyrBbmList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.etlDate.CellAttributes)>
<span id="el@(subAktivitasDataStopPenyaluranStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPenyaluranStsPyrBbmList.RowCount)_SubAktivitasDataStopPenyaluranSTSPyrBBM_etlDate" class="el_SubAktivitasDataStopPenyaluranSTSPyrBBM_etlDate">
<span @Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranStsPyrBbmList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasDataStopPenyaluranStsPyrBbmList.ListOptions.RenderBody("right", subAktivitasDataStopPenyaluranStsPyrBbmList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasDataStopPenyaluranStsPyrBbmList.RowIndex, "$rowindex$"))
        subAktivitasDataStopPenyaluranStsPyrBbmList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasDataStopPenyaluranStsPyrBbmList.IsCopy || subAktivitasDataStopPenyaluranStsPyrBbmList.IsAdd) && subAktivitasDataStopPenyaluranStsPyrBbmList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasDataStopPenyaluranStsPyrBbmList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasDataStopPenyaluranStsPyrBbmList.CurrentAction) && !subAktivitasDataStopPenyaluranStsPyrBbmList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasDataStopPenyaluranStsPyrBbmList.CloseRecordset(); }
@if (!subAktivitasDataStopPenyaluranStsPyrBbmList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasDataStopPenyaluranStsPyrBbmList.IsGridAdd && !(subAktivitasDataStopPenyaluranStsPyrBbmList.IsGridEdit && subAktivitasDataStopPenyaluranStsPyrBbmList.ModalGridEdit) && !subAktivitasDataStopPenyaluranStsPyrBbmList.IsMultiEdit) {
@Html.Raw(subAktivitasDataStopPenyaluranStsPyrBbmList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasDataStopPenyaluranStsPyrBbmList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasDataStopPenyaluranStsPyrBbmList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasDataStopPenyaluranStsPyrBbmList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasDataStopPenyaluranStsPyrBbmList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasDataStopPenyaluranStsPyrBbmList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasDataStopPenyaluranSTSPyrBBM");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
