@{
    // View
    View = this;

    // Check action result
    if (subAktivitasDataStartPembongkaranRtwList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasDataStartPembongkaranRtwList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasDataStartPembongkaranRtwList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataStartPembongkaranRtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataStartPembongkaranRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasDataStartPembongkaranRtwList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasDataStartPembongkaranRtwList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasDataStartPembongkaranRtwList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasDataStartPembongkaranRtwList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasDataStartPembongkaranRtwList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasDataStartPembongkaranRtwList.TotalRecords > 0 && subAktivitasDataStartPembongkaranRtwList.ExportOptions.Visible) {
    subAktivitasDataStartPembongkaranRtwList.ExportOptions.Render("body");
}
@if (subAktivitasDataStartPembongkaranRtwList.ImportOptions.Visible) {
    subAktivitasDataStartPembongkaranRtwList.ImportOptions.Render("body");
}
@if (subAktivitasDataStartPembongkaranRtwList.SearchOptions.Visible) {
    subAktivitasDataStartPembongkaranRtwList.SearchOptions.Render("body");
}
@if (subAktivitasDataStartPembongkaranRtwList.FilterOptions.Visible) {
    subAktivitasDataStartPembongkaranRtwList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasDataStartPembongkaranRtwList.IsModal) {
<form name="fSubAktivitasDataStartPembongkaranRTWsrch" id="fSubAktivitasDataStartPembongkaranRTWsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasDataStartPembongkaranRTWsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasDataStartPembongkaranRtwList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataStartPembongkaranRtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataStartPembongkaranRTW: currentTable } });
var currentForm;
var fSubAktivitasDataStartPembongkaranRTWsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasDataStartPembongkaranRTWsrch")
        .setPageId("list")
@if (subAktivitasDataStartPembongkaranRtwList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasDataStartPembongkaranRtwList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasDataStartPembongkaranRtwList.IsExport() && Empty(subAktivitasDataStartPembongkaranRtwList.CurrentAction) && subAktivitasDataStartPembongkaranRtwList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasDataStartPembongkaranRtwList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasDataStartPembongkaranRtwList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasDataStartPembongkaranRtwList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasDataStartPembongkaranRtwList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasDataStartPembongkaranRTWsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStartPembongkaranRtwList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasDataStartPembongkaranRTWsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStartPembongkaranRtwList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasDataStartPembongkaranRTWsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStartPembongkaranRtwList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasDataStartPembongkaranRTWsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasDataStartPembongkaranRtwList.ShowPageHeader()
@subAktivitasDataStartPembongkaranRtwList.ShowMessages()
<main class="list @(subAktivitasDataStartPembongkaranRtwList.TotalRecords == 0 && !subAktivitasDataStartPembongkaranRtwList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasDataStartPembongkaranRtwList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasDataStartPembongkaranRtwList.TotalRecords > 0 || !Empty(subAktivitasDataStartPembongkaranRtwList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasDataStartPembongkaranRtwList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasDataStartPembongkaranRtwList.TableGridClass)">
<form name="@(subAktivitasDataStartPembongkaranRtwList.FormName)" id="@(subAktivitasDataStartPembongkaranRtwList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasDataStartPembongkaranRtwList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasDataStartPembongkaranRtwList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasDataStartPembongkaranRTW" class="card-body ew-grid-middle-panel @(subAktivitasDataStartPembongkaranRtwList.TableContainerClass)" style="@(subAktivitasDataStartPembongkaranRtwList.TableContainerStyle)">
@if (subAktivitasDataStartPembongkaranRtwList.TotalRecords > 0 || subAktivitasDataStartPembongkaranRtwList.IsGridEdit || subAktivitasDataStartPembongkaranRtwList.IsMultiEdit) {
<table id="tbl_SubAktivitasDataStartPembongkaranRTWlist" class="@(subAktivitasDataStartPembongkaranRtwList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasDataStartPembongkaranRtwList.RowType = RowType.Header;

    // Render list options
    await subAktivitasDataStartPembongkaranRtwList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasDataStartPembongkaranRtwList.ListOptions.RenderHeader("left")
@if (subAktivitasDataStartPembongkaranRtwList.id.Visible) { // subAktivitasDataStartPembongkaranRtwList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasDataStartPembongkaranRtwList.id.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPembongkaranRTW_id" class="SubAktivitasDataStartPembongkaranRTW_id">@Html.Raw(subAktivitasDataStartPembongkaranRtwList.RenderFieldHeader(subAktivitasDataStartPembongkaranRtwList.id))</div></th>
} @* subAktivitasDataStartPembongkaranRtwList.id.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwList.NoReferensi.Visible) { // subAktivitasDataStartPembongkaranRtwList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasDataStartPembongkaranRtwList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPembongkaranRTW_NoReferensi" class="SubAktivitasDataStartPembongkaranRTW_NoReferensi">@Html.Raw(subAktivitasDataStartPembongkaranRtwList.RenderFieldHeader(subAktivitasDataStartPembongkaranRtwList.NoReferensi))</div></th>
} @* subAktivitasDataStartPembongkaranRtwList.NoReferensi.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwList.idProses.Visible) { // subAktivitasDataStartPembongkaranRtwList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasDataStartPembongkaranRtwList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPembongkaranRTW_idProses" class="SubAktivitasDataStartPembongkaranRTW_idProses">@Html.Raw(subAktivitasDataStartPembongkaranRtwList.RenderFieldHeader(subAktivitasDataStartPembongkaranRtwList.idProses))</div></th>
} @* subAktivitasDataStartPembongkaranRtwList.idProses.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwList.idAktifitas.Visible) { // subAktivitasDataStartPembongkaranRtwList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasDataStartPembongkaranRtwList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPembongkaranRTW_idAktifitas" class="SubAktivitasDataStartPembongkaranRTW_idAktifitas">@Html.Raw(subAktivitasDataStartPembongkaranRtwList.RenderFieldHeader(subAktivitasDataStartPembongkaranRtwList.idAktifitas))</div></th>
} @* subAktivitasDataStartPembongkaranRtwList.idAktifitas.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwList.StatusAktivitas.Visible) { // subAktivitasDataStartPembongkaranRtwList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasDataStartPembongkaranRtwList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPembongkaranRTW_StatusAktivitas" class="SubAktivitasDataStartPembongkaranRTW_StatusAktivitas">@Html.Raw(subAktivitasDataStartPembongkaranRtwList.RenderFieldHeader(subAktivitasDataStartPembongkaranRtwList.StatusAktivitas))</div></th>
} @* subAktivitasDataStartPembongkaranRtwList.StatusAktivitas.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwList.LastUpdatedBy.Visible) { // subAktivitasDataStartPembongkaranRtwList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasDataStartPembongkaranRtwList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPembongkaranRTW_LastUpdatedBy" class="SubAktivitasDataStartPembongkaranRTW_LastUpdatedBy">@Html.Raw(subAktivitasDataStartPembongkaranRtwList.RenderFieldHeader(subAktivitasDataStartPembongkaranRtwList.LastUpdatedBy))</div></th>
} @* subAktivitasDataStartPembongkaranRtwList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwList.lastUpdatedDate.Visible) { // subAktivitasDataStartPembongkaranRtwList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasDataStartPembongkaranRtwList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPembongkaranRTW_lastUpdatedDate" class="SubAktivitasDataStartPembongkaranRTW_lastUpdatedDate">@Html.Raw(subAktivitasDataStartPembongkaranRtwList.RenderFieldHeader(subAktivitasDataStartPembongkaranRtwList.lastUpdatedDate))</div></th>
} @* subAktivitasDataStartPembongkaranRtwList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwList.Tanggal.Visible) { // subAktivitasDataStartPembongkaranRtwList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasDataStartPembongkaranRtwList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPembongkaranRTW_Tanggal" class="SubAktivitasDataStartPembongkaranRTW_Tanggal">@Html.Raw(subAktivitasDataStartPembongkaranRtwList.RenderFieldHeader(subAktivitasDataStartPembongkaranRtwList.Tanggal))</div></th>
} @* subAktivitasDataStartPembongkaranRtwList.Tanggal.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwList.userInput.Visible) { // subAktivitasDataStartPembongkaranRtwList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasDataStartPembongkaranRtwList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPembongkaranRTW_userInput" class="SubAktivitasDataStartPembongkaranRTW_userInput">@Html.Raw(subAktivitasDataStartPembongkaranRtwList.RenderFieldHeader(subAktivitasDataStartPembongkaranRtwList.userInput))</div></th>
} @* subAktivitasDataStartPembongkaranRtwList.userInput.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwList.etlDate.Visible) { // subAktivitasDataStartPembongkaranRtwList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasDataStartPembongkaranRtwList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPembongkaranRTW_etlDate" class="SubAktivitasDataStartPembongkaranRTW_etlDate">@Html.Raw(subAktivitasDataStartPembongkaranRtwList.RenderFieldHeader(subAktivitasDataStartPembongkaranRtwList.etlDate))</div></th>
} @* subAktivitasDataStartPembongkaranRtwList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasDataStartPembongkaranRtwList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasDataStartPembongkaranRtwList.PageNumber)">
@{
    await subAktivitasDataStartPembongkaranRtwList.SetupGrid();
    bool eof = subAktivitasDataStartPembongkaranRtwList.Recordset == null; // DN
}
@while (subAktivitasDataStartPembongkaranRtwList.RecordCount < subAktivitasDataStartPembongkaranRtwList.StopRecord || SameString(subAktivitasDataStartPembongkaranRtwList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasDataStartPembongkaranRtwList.RowIndex, "$rowindex$") &&
        (!subAktivitasDataStartPembongkaranRtwList.IsGridAdd || subAktivitasDataStartPembongkaranRtwList.CurrentMode == "copy") &&
        (!((subAktivitasDataStartPembongkaranRtwList.IsCopy || subAktivitasDataStartPembongkaranRtwList.IsAdd) && subAktivitasDataStartPembongkaranRtwList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasDataStartPembongkaranRtwList.Recordset.ReadAsync();
    subAktivitasDataStartPembongkaranRtwList.RecordCount++;
    if (subAktivitasDataStartPembongkaranRtwList.RecordCount >= subAktivitasDataStartPembongkaranRtwList.StartRecord) {
        await subAktivitasDataStartPembongkaranRtwList.SetupRow();
    <tr @Html.Raw(subAktivitasDataStartPembongkaranRtwList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasDataStartPembongkaranRtwList.ListOptions.RenderBody("left", subAktivitasDataStartPembongkaranRtwList.RowCount)
    @if (subAktivitasDataStartPembongkaranRtwList.id.Visible) { // subAktivitasDataStartPembongkaranRtwList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasDataStartPembongkaranRtwList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStartPembongkaranRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStartPembongkaranRtwList.RowCount)_SubAktivitasDataStartPembongkaranRTW_id" class="el_SubAktivitasDataStartPembongkaranRTW_id">
<span @Html.Raw(subAktivitasDataStartPembongkaranRtwList.id.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranRtwList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPembongkaranRtwList.id.Visible (end) *@
    @if (subAktivitasDataStartPembongkaranRtwList.NoReferensi.Visible) { // subAktivitasDataStartPembongkaranRtwList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasDataStartPembongkaranRtwList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStartPembongkaranRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStartPembongkaranRtwList.RowCount)_SubAktivitasDataStartPembongkaranRTW_NoReferensi" class="el_SubAktivitasDataStartPembongkaranRTW_NoReferensi">
<span @Html.Raw(subAktivitasDataStartPembongkaranRtwList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranRtwList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPembongkaranRtwList.NoReferensi.Visible (end) *@
    @if (subAktivitasDataStartPembongkaranRtwList.idProses.Visible) { // subAktivitasDataStartPembongkaranRtwList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasDataStartPembongkaranRtwList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStartPembongkaranRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStartPembongkaranRtwList.RowCount)_SubAktivitasDataStartPembongkaranRTW_idProses" class="el_SubAktivitasDataStartPembongkaranRTW_idProses">
<span @Html.Raw(subAktivitasDataStartPembongkaranRtwList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranRtwList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPembongkaranRtwList.idProses.Visible (end) *@
    @if (subAktivitasDataStartPembongkaranRtwList.idAktifitas.Visible) { // subAktivitasDataStartPembongkaranRtwList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasDataStartPembongkaranRtwList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStartPembongkaranRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStartPembongkaranRtwList.RowCount)_SubAktivitasDataStartPembongkaranRTW_idAktifitas" class="el_SubAktivitasDataStartPembongkaranRTW_idAktifitas">
<span @Html.Raw(subAktivitasDataStartPembongkaranRtwList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranRtwList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPembongkaranRtwList.idAktifitas.Visible (end) *@
    @if (subAktivitasDataStartPembongkaranRtwList.StatusAktivitas.Visible) { // subAktivitasDataStartPembongkaranRtwList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasDataStartPembongkaranRtwList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStartPembongkaranRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStartPembongkaranRtwList.RowCount)_SubAktivitasDataStartPembongkaranRTW_StatusAktivitas" class="el_SubAktivitasDataStartPembongkaranRTW_StatusAktivitas">
<span @Html.Raw(subAktivitasDataStartPembongkaranRtwList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranRtwList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPembongkaranRtwList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasDataStartPembongkaranRtwList.LastUpdatedBy.Visible) { // subAktivitasDataStartPembongkaranRtwList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasDataStartPembongkaranRtwList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStartPembongkaranRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStartPembongkaranRtwList.RowCount)_SubAktivitasDataStartPembongkaranRTW_LastUpdatedBy" class="el_SubAktivitasDataStartPembongkaranRTW_LastUpdatedBy">
<span @Html.Raw(subAktivitasDataStartPembongkaranRtwList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranRtwList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPembongkaranRtwList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasDataStartPembongkaranRtwList.lastUpdatedDate.Visible) { // subAktivitasDataStartPembongkaranRtwList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasDataStartPembongkaranRtwList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStartPembongkaranRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStartPembongkaranRtwList.RowCount)_SubAktivitasDataStartPembongkaranRTW_lastUpdatedDate" class="el_SubAktivitasDataStartPembongkaranRTW_lastUpdatedDate">
<span @Html.Raw(subAktivitasDataStartPembongkaranRtwList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranRtwList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPembongkaranRtwList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasDataStartPembongkaranRtwList.Tanggal.Visible) { // subAktivitasDataStartPembongkaranRtwList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasDataStartPembongkaranRtwList.Tanggal.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStartPembongkaranRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStartPembongkaranRtwList.RowCount)_SubAktivitasDataStartPembongkaranRTW_Tanggal" class="el_SubAktivitasDataStartPembongkaranRTW_Tanggal">
<span @Html.Raw(subAktivitasDataStartPembongkaranRtwList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranRtwList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPembongkaranRtwList.Tanggal.Visible (end) *@
    @if (subAktivitasDataStartPembongkaranRtwList.userInput.Visible) { // subAktivitasDataStartPembongkaranRtwList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasDataStartPembongkaranRtwList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStartPembongkaranRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStartPembongkaranRtwList.RowCount)_SubAktivitasDataStartPembongkaranRTW_userInput" class="el_SubAktivitasDataStartPembongkaranRTW_userInput">
<span @Html.Raw(subAktivitasDataStartPembongkaranRtwList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranRtwList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPembongkaranRtwList.userInput.Visible (end) *@
    @if (subAktivitasDataStartPembongkaranRtwList.etlDate.Visible) { // subAktivitasDataStartPembongkaranRtwList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasDataStartPembongkaranRtwList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStartPembongkaranRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStartPembongkaranRtwList.RowCount)_SubAktivitasDataStartPembongkaranRTW_etlDate" class="el_SubAktivitasDataStartPembongkaranRTW_etlDate">
<span @Html.Raw(subAktivitasDataStartPembongkaranRtwList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranRtwList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPembongkaranRtwList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasDataStartPembongkaranRtwList.ListOptions.RenderBody("right", subAktivitasDataStartPembongkaranRtwList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasDataStartPembongkaranRtwList.RowIndex, "$rowindex$"))
        subAktivitasDataStartPembongkaranRtwList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasDataStartPembongkaranRtwList.IsCopy || subAktivitasDataStartPembongkaranRtwList.IsAdd) && subAktivitasDataStartPembongkaranRtwList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasDataStartPembongkaranRtwList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasDataStartPembongkaranRtwList.CurrentAction) && !subAktivitasDataStartPembongkaranRtwList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasDataStartPembongkaranRtwList.CloseRecordset(); }
@if (!subAktivitasDataStartPembongkaranRtwList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasDataStartPembongkaranRtwList.IsGridAdd && !(subAktivitasDataStartPembongkaranRtwList.IsGridEdit && subAktivitasDataStartPembongkaranRtwList.ModalGridEdit) && !subAktivitasDataStartPembongkaranRtwList.IsMultiEdit) {
@Html.Raw(subAktivitasDataStartPembongkaranRtwList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasDataStartPembongkaranRtwList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasDataStartPembongkaranRtwList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasDataStartPembongkaranRtwList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasDataStartPembongkaranRtwList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasDataStartPembongkaranRtwList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasDataStartPembongkaranRTW");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
