@{
    // View
    View = this;

    // Check action result
    if (subAktivitasLogbookJembatanTimbangLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasLogbookJembatanTimbangLpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasLogbookJembatanTimbangLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasLogbookJembatanTimbangLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasLogbookJembatanTimbangLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasLogbookJembatanTimbangLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasLogbookJembatanTimbangLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasLogbookJembatanTimbangLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasLogbookJembatanTimbangLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasLogbookJembatanTimbangLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasLogbookJembatanTimbangLpgList.TotalRecords > 0 && subAktivitasLogbookJembatanTimbangLpgList.ExportOptions.Visible) {
    subAktivitasLogbookJembatanTimbangLpgList.ExportOptions.Render("body");
}
@if (subAktivitasLogbookJembatanTimbangLpgList.ImportOptions.Visible) {
    subAktivitasLogbookJembatanTimbangLpgList.ImportOptions.Render("body");
}
@if (subAktivitasLogbookJembatanTimbangLpgList.SearchOptions.Visible) {
    subAktivitasLogbookJembatanTimbangLpgList.SearchOptions.Render("body");
}
@if (subAktivitasLogbookJembatanTimbangLpgList.FilterOptions.Visible) {
    subAktivitasLogbookJembatanTimbangLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasLogbookJembatanTimbangLpgList.IsModal) {
<form name="fSubAktivitasLogbookJembatanTimbangLPGsrch" id="fSubAktivitasLogbookJembatanTimbangLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasLogbookJembatanTimbangLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasLogbookJembatanTimbangLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasLogbookJembatanTimbangLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasLogbookJembatanTimbangLPG: currentTable } });
var currentForm;
var fSubAktivitasLogbookJembatanTimbangLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasLogbookJembatanTimbangLPGsrch")
        .setPageId("list")
@if (subAktivitasLogbookJembatanTimbangLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasLogbookJembatanTimbangLpgList.IsExport() && Empty(subAktivitasLogbookJembatanTimbangLpgList.CurrentAction) && subAktivitasLogbookJembatanTimbangLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasLogbookJembatanTimbangLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasLogbookJembatanTimbangLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasLogbookJembatanTimbangLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasLogbookJembatanTimbangLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasLogbookJembatanTimbangLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasLogbookJembatanTimbangLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasLogbookJembatanTimbangLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasLogbookJembatanTimbangLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasLogbookJembatanTimbangLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasLogbookJembatanTimbangLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasLogbookJembatanTimbangLpgList.ShowPageHeader()
@subAktivitasLogbookJembatanTimbangLpgList.ShowMessages()
<main class="list @(subAktivitasLogbookJembatanTimbangLpgList.TotalRecords == 0 && !subAktivitasLogbookJembatanTimbangLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasLogbookJembatanTimbangLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasLogbookJembatanTimbangLpgList.TotalRecords > 0 || !Empty(subAktivitasLogbookJembatanTimbangLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasLogbookJembatanTimbangLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasLogbookJembatanTimbangLpgList.TableGridClass)">
<form name="@(subAktivitasLogbookJembatanTimbangLpgList.FormName)" id="@(subAktivitasLogbookJembatanTimbangLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasLogbookJembatanTimbangLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasLogbookJembatanTimbangLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasLogbookJembatanTimbangLPG" class="card-body ew-grid-middle-panel @(subAktivitasLogbookJembatanTimbangLpgList.TableContainerClass)" style="@(subAktivitasLogbookJembatanTimbangLpgList.TableContainerStyle)">
@if (subAktivitasLogbookJembatanTimbangLpgList.TotalRecords > 0 || subAktivitasLogbookJembatanTimbangLpgList.IsGridEdit || subAktivitasLogbookJembatanTimbangLpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasLogbookJembatanTimbangLPGlist" class="@(subAktivitasLogbookJembatanTimbangLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasLogbookJembatanTimbangLpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasLogbookJembatanTimbangLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasLogbookJembatanTimbangLpgList.ListOptions.RenderHeader("left")
@if (subAktivitasLogbookJembatanTimbangLpgList.id.Visible) { // subAktivitasLogbookJembatanTimbangLpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasLogbookJembatanTimbangLpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasLogbookJembatanTimbangLPG_id" class="SubAktivitasLogbookJembatanTimbangLPG_id">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.RenderFieldHeader(subAktivitasLogbookJembatanTimbangLpgList.id))</div></th>
} @* subAktivitasLogbookJembatanTimbangLpgList.id.Visible (end) *@
@if (subAktivitasLogbookJembatanTimbangLpgList.idProses.Visible) { // subAktivitasLogbookJembatanTimbangLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasLogbookJembatanTimbangLpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasLogbookJembatanTimbangLPG_idProses" class="SubAktivitasLogbookJembatanTimbangLPG_idProses">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.RenderFieldHeader(subAktivitasLogbookJembatanTimbangLpgList.idProses))</div></th>
} @* subAktivitasLogbookJembatanTimbangLpgList.idProses.Visible (end) *@
@if (subAktivitasLogbookJembatanTimbangLpgList.idAktifitas.Visible) { // subAktivitasLogbookJembatanTimbangLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasLogbookJembatanTimbangLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasLogbookJembatanTimbangLPG_idAktifitas" class="SubAktivitasLogbookJembatanTimbangLPG_idAktifitas">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.RenderFieldHeader(subAktivitasLogbookJembatanTimbangLpgList.idAktifitas))</div></th>
} @* subAktivitasLogbookJembatanTimbangLpgList.idAktifitas.Visible (end) *@
@if (subAktivitasLogbookJembatanTimbangLpgList.NoReferensi.Visible) { // subAktivitasLogbookJembatanTimbangLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasLogbookJembatanTimbangLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasLogbookJembatanTimbangLPG_NoReferensi" class="SubAktivitasLogbookJembatanTimbangLPG_NoReferensi">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.RenderFieldHeader(subAktivitasLogbookJembatanTimbangLpgList.NoReferensi))</div></th>
} @* subAktivitasLogbookJembatanTimbangLpgList.NoReferensi.Visible (end) *@
@if (subAktivitasLogbookJembatanTimbangLpgList.NomorTangki.Visible) { // subAktivitasLogbookJembatanTimbangLpgList.NomorTangki.Visible (begin)
        <th data-name="NomorTangki" class="@(subAktivitasLogbookJembatanTimbangLpgList.NomorTangki.HeaderCellClass)"><div id="elh_SubAktivitasLogbookJembatanTimbangLPG_NomorTangki" class="SubAktivitasLogbookJembatanTimbangLPG_NomorTangki">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.RenderFieldHeader(subAktivitasLogbookJembatanTimbangLpgList.NomorTangki))</div></th>
} @* subAktivitasLogbookJembatanTimbangLpgList.NomorTangki.Visible (end) *@
@if (subAktivitasLogbookJembatanTimbangLpgList.Produk.Visible) { // subAktivitasLogbookJembatanTimbangLpgList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasLogbookJembatanTimbangLpgList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasLogbookJembatanTimbangLPG_Produk" class="SubAktivitasLogbookJembatanTimbangLPG_Produk">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.RenderFieldHeader(subAktivitasLogbookJembatanTimbangLpgList.Produk))</div></th>
} @* subAktivitasLogbookJembatanTimbangLpgList.Produk.Visible (end) *@
@if (subAktivitasLogbookJembatanTimbangLpgList.SPA.Visible) { // subAktivitasLogbookJembatanTimbangLpgList.SPA.Visible (begin)
        <th data-name="SPA" class="@(subAktivitasLogbookJembatanTimbangLpgList.SPA.HeaderCellClass)"><div id="elh_SubAktivitasLogbookJembatanTimbangLPG_SPA" class="SubAktivitasLogbookJembatanTimbangLPG_SPA">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.RenderFieldHeader(subAktivitasLogbookJembatanTimbangLpgList.SPA))</div></th>
} @* subAktivitasLogbookJembatanTimbangLpgList.SPA.Visible (end) *@
@if (subAktivitasLogbookJembatanTimbangLpgList.TimbanganAwal.Visible) { // subAktivitasLogbookJembatanTimbangLpgList.TimbanganAwal.Visible (begin)
        <th data-name="TimbanganAwal" class="@(subAktivitasLogbookJembatanTimbangLpgList.TimbanganAwal.HeaderCellClass)"><div id="elh_SubAktivitasLogbookJembatanTimbangLPG_TimbanganAwal" class="SubAktivitasLogbookJembatanTimbangLPG_TimbanganAwal">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.RenderFieldHeader(subAktivitasLogbookJembatanTimbangLpgList.TimbanganAwal))</div></th>
} @* subAktivitasLogbookJembatanTimbangLpgList.TimbanganAwal.Visible (end) *@
@if (subAktivitasLogbookJembatanTimbangLpgList.TimbanganAkhir.Visible) { // subAktivitasLogbookJembatanTimbangLpgList.TimbanganAkhir.Visible (begin)
        <th data-name="TimbanganAkhir" class="@(subAktivitasLogbookJembatanTimbangLpgList.TimbanganAkhir.HeaderCellClass)"><div id="elh_SubAktivitasLogbookJembatanTimbangLPG_TimbanganAkhir" class="SubAktivitasLogbookJembatanTimbangLPG_TimbanganAkhir">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.RenderFieldHeader(subAktivitasLogbookJembatanTimbangLpgList.TimbanganAkhir))</div></th>
} @* subAktivitasLogbookJembatanTimbangLpgList.TimbanganAkhir.Visible (end) *@
@if (subAktivitasLogbookJembatanTimbangLpgList.NetWight.Visible) { // subAktivitasLogbookJembatanTimbangLpgList.NetWight.Visible (begin)
        <th data-name="NetWight" class="@(subAktivitasLogbookJembatanTimbangLpgList.NetWight.HeaderCellClass)"><div id="elh_SubAktivitasLogbookJembatanTimbangLPG_NetWight" class="SubAktivitasLogbookJembatanTimbangLPG_NetWight">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.RenderFieldHeader(subAktivitasLogbookJembatanTimbangLpgList.NetWight))</div></th>
} @* subAktivitasLogbookJembatanTimbangLpgList.NetWight.Visible (end) *@
@if (subAktivitasLogbookJembatanTimbangLpgList.PresentaseLevelRotoGauge.Visible) { // subAktivitasLogbookJembatanTimbangLpgList.PresentaseLevelRotoGauge.Visible (begin)
        <th data-name="PresentaseLevelRotoGauge" class="@(subAktivitasLogbookJembatanTimbangLpgList.PresentaseLevelRotoGauge.HeaderCellClass)"><div id="elh_SubAktivitasLogbookJembatanTimbangLPG_PresentaseLevelRotoGauge" class="SubAktivitasLogbookJembatanTimbangLPG_PresentaseLevelRotoGauge">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.RenderFieldHeader(subAktivitasLogbookJembatanTimbangLpgList.PresentaseLevelRotoGauge))</div></th>
} @* subAktivitasLogbookJembatanTimbangLpgList.PresentaseLevelRotoGauge.Visible (end) *@
@if (subAktivitasLogbookJembatanTimbangLpgList.userInput.Visible) { // subAktivitasLogbookJembatanTimbangLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasLogbookJembatanTimbangLpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasLogbookJembatanTimbangLPG_userInput" class="SubAktivitasLogbookJembatanTimbangLPG_userInput">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.RenderFieldHeader(subAktivitasLogbookJembatanTimbangLpgList.userInput))</div></th>
} @* subAktivitasLogbookJembatanTimbangLpgList.userInput.Visible (end) *@
@if (subAktivitasLogbookJembatanTimbangLpgList.etlDate.Visible) { // subAktivitasLogbookJembatanTimbangLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasLogbookJembatanTimbangLpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasLogbookJembatanTimbangLPG_etlDate" class="SubAktivitasLogbookJembatanTimbangLPG_etlDate">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.RenderFieldHeader(subAktivitasLogbookJembatanTimbangLpgList.etlDate))</div></th>
} @* subAktivitasLogbookJembatanTimbangLpgList.etlDate.Visible (end) *@
@if (subAktivitasLogbookJembatanTimbangLpgList.LastUpdatedBy.Visible) { // subAktivitasLogbookJembatanTimbangLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasLogbookJembatanTimbangLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasLogbookJembatanTimbangLPG_LastUpdatedBy" class="SubAktivitasLogbookJembatanTimbangLPG_LastUpdatedBy">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.RenderFieldHeader(subAktivitasLogbookJembatanTimbangLpgList.LastUpdatedBy))</div></th>
} @* subAktivitasLogbookJembatanTimbangLpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasLogbookJembatanTimbangLpgList.lastUpdatedDate.Visible) { // subAktivitasLogbookJembatanTimbangLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasLogbookJembatanTimbangLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasLogbookJembatanTimbangLPG_lastUpdatedDate" class="SubAktivitasLogbookJembatanTimbangLPG_lastUpdatedDate">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.RenderFieldHeader(subAktivitasLogbookJembatanTimbangLpgList.lastUpdatedDate))</div></th>
} @* subAktivitasLogbookJembatanTimbangLpgList.lastUpdatedDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasLogbookJembatanTimbangLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasLogbookJembatanTimbangLpgList.PageNumber)">
@{
    await subAktivitasLogbookJembatanTimbangLpgList.SetupGrid();
    bool eof = subAktivitasLogbookJembatanTimbangLpgList.Recordset == null; // DN
}
@while (subAktivitasLogbookJembatanTimbangLpgList.RecordCount < subAktivitasLogbookJembatanTimbangLpgList.StopRecord || SameString(subAktivitasLogbookJembatanTimbangLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasLogbookJembatanTimbangLpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasLogbookJembatanTimbangLpgList.IsGridAdd || subAktivitasLogbookJembatanTimbangLpgList.CurrentMode == "copy") &&
        (!((subAktivitasLogbookJembatanTimbangLpgList.IsCopy || subAktivitasLogbookJembatanTimbangLpgList.IsAdd) && subAktivitasLogbookJembatanTimbangLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasLogbookJembatanTimbangLpgList.Recordset.ReadAsync();
    subAktivitasLogbookJembatanTimbangLpgList.RecordCount++;
    if (subAktivitasLogbookJembatanTimbangLpgList.RecordCount >= subAktivitasLogbookJembatanTimbangLpgList.StartRecord) {
        await subAktivitasLogbookJembatanTimbangLpgList.SetupRow();
    <tr @Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasLogbookJembatanTimbangLpgList.ListOptions.RenderBody("left", subAktivitasLogbookJembatanTimbangLpgList.RowCount)
    @if (subAktivitasLogbookJembatanTimbangLpgList.id.Visible) { // subAktivitasLogbookJembatanTimbangLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookJembatanTimbangLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookJembatanTimbangLpgList.RowCount)_SubAktivitasLogbookJembatanTimbangLPG_id" class="el_SubAktivitasLogbookJembatanTimbangLPG_id">
<span @Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookJembatanTimbangLpgList.id.Visible (end) *@
    @if (subAktivitasLogbookJembatanTimbangLpgList.idProses.Visible) { // subAktivitasLogbookJembatanTimbangLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookJembatanTimbangLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookJembatanTimbangLpgList.RowCount)_SubAktivitasLogbookJembatanTimbangLPG_idProses" class="el_SubAktivitasLogbookJembatanTimbangLPG_idProses">
<span @Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookJembatanTimbangLpgList.idProses.Visible (end) *@
    @if (subAktivitasLogbookJembatanTimbangLpgList.idAktifitas.Visible) { // subAktivitasLogbookJembatanTimbangLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookJembatanTimbangLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookJembatanTimbangLpgList.RowCount)_SubAktivitasLogbookJembatanTimbangLPG_idAktifitas" class="el_SubAktivitasLogbookJembatanTimbangLPG_idAktifitas">
<span @Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookJembatanTimbangLpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasLogbookJembatanTimbangLpgList.NoReferensi.Visible) { // subAktivitasLogbookJembatanTimbangLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookJembatanTimbangLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookJembatanTimbangLpgList.RowCount)_SubAktivitasLogbookJembatanTimbangLPG_NoReferensi" class="el_SubAktivitasLogbookJembatanTimbangLPG_NoReferensi">
<span @Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookJembatanTimbangLpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasLogbookJembatanTimbangLpgList.NomorTangki.Visible) { // subAktivitasLogbookJembatanTimbangLpgList.NomorTangki.Visible (begin)
        <td data-name="NomorTangki" @Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.NomorTangki.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookJembatanTimbangLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookJembatanTimbangLpgList.RowCount)_SubAktivitasLogbookJembatanTimbangLPG_NomorTangki" class="el_SubAktivitasLogbookJembatanTimbangLPG_NomorTangki">
<span @Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.NomorTangki.ViewAttributes)>
@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.NomorTangki.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookJembatanTimbangLpgList.NomorTangki.Visible (end) *@
    @if (subAktivitasLogbookJembatanTimbangLpgList.Produk.Visible) { // subAktivitasLogbookJembatanTimbangLpgList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.Produk.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookJembatanTimbangLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookJembatanTimbangLpgList.RowCount)_SubAktivitasLogbookJembatanTimbangLPG_Produk" class="el_SubAktivitasLogbookJembatanTimbangLPG_Produk">
<span @Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookJembatanTimbangLpgList.Produk.Visible (end) *@
    @if (subAktivitasLogbookJembatanTimbangLpgList.SPA.Visible) { // subAktivitasLogbookJembatanTimbangLpgList.SPA.Visible (begin)
        <td data-name="SPA" @Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.SPA.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookJembatanTimbangLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookJembatanTimbangLpgList.RowCount)_SubAktivitasLogbookJembatanTimbangLPG_SPA" class="el_SubAktivitasLogbookJembatanTimbangLPG_SPA">
<span @Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.SPA.ViewAttributes)>
@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.SPA.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookJembatanTimbangLpgList.SPA.Visible (end) *@
    @if (subAktivitasLogbookJembatanTimbangLpgList.TimbanganAwal.Visible) { // subAktivitasLogbookJembatanTimbangLpgList.TimbanganAwal.Visible (begin)
        <td data-name="TimbanganAwal" @Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.TimbanganAwal.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookJembatanTimbangLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookJembatanTimbangLpgList.RowCount)_SubAktivitasLogbookJembatanTimbangLPG_TimbanganAwal" class="el_SubAktivitasLogbookJembatanTimbangLPG_TimbanganAwal">
<span @Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.TimbanganAwal.ViewAttributes)>
@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.TimbanganAwal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookJembatanTimbangLpgList.TimbanganAwal.Visible (end) *@
    @if (subAktivitasLogbookJembatanTimbangLpgList.TimbanganAkhir.Visible) { // subAktivitasLogbookJembatanTimbangLpgList.TimbanganAkhir.Visible (begin)
        <td data-name="TimbanganAkhir" @Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.TimbanganAkhir.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookJembatanTimbangLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookJembatanTimbangLpgList.RowCount)_SubAktivitasLogbookJembatanTimbangLPG_TimbanganAkhir" class="el_SubAktivitasLogbookJembatanTimbangLPG_TimbanganAkhir">
<span @Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.TimbanganAkhir.ViewAttributes)>
@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.TimbanganAkhir.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookJembatanTimbangLpgList.TimbanganAkhir.Visible (end) *@
    @if (subAktivitasLogbookJembatanTimbangLpgList.NetWight.Visible) { // subAktivitasLogbookJembatanTimbangLpgList.NetWight.Visible (begin)
        <td data-name="NetWight" @Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.NetWight.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookJembatanTimbangLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookJembatanTimbangLpgList.RowCount)_SubAktivitasLogbookJembatanTimbangLPG_NetWight" class="el_SubAktivitasLogbookJembatanTimbangLPG_NetWight">
<span @Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.NetWight.ViewAttributes)>
@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.NetWight.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookJembatanTimbangLpgList.NetWight.Visible (end) *@
    @if (subAktivitasLogbookJembatanTimbangLpgList.PresentaseLevelRotoGauge.Visible) { // subAktivitasLogbookJembatanTimbangLpgList.PresentaseLevelRotoGauge.Visible (begin)
        <td data-name="PresentaseLevelRotoGauge" @Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.PresentaseLevelRotoGauge.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookJembatanTimbangLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookJembatanTimbangLpgList.RowCount)_SubAktivitasLogbookJembatanTimbangLPG_PresentaseLevelRotoGauge" class="el_SubAktivitasLogbookJembatanTimbangLPG_PresentaseLevelRotoGauge">
<span @Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.PresentaseLevelRotoGauge.ViewAttributes)>
@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.PresentaseLevelRotoGauge.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookJembatanTimbangLpgList.PresentaseLevelRotoGauge.Visible (end) *@
    @if (subAktivitasLogbookJembatanTimbangLpgList.userInput.Visible) { // subAktivitasLogbookJembatanTimbangLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookJembatanTimbangLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookJembatanTimbangLpgList.RowCount)_SubAktivitasLogbookJembatanTimbangLPG_userInput" class="el_SubAktivitasLogbookJembatanTimbangLPG_userInput">
<span @Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookJembatanTimbangLpgList.userInput.Visible (end) *@
    @if (subAktivitasLogbookJembatanTimbangLpgList.etlDate.Visible) { // subAktivitasLogbookJembatanTimbangLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookJembatanTimbangLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookJembatanTimbangLpgList.RowCount)_SubAktivitasLogbookJembatanTimbangLPG_etlDate" class="el_SubAktivitasLogbookJembatanTimbangLPG_etlDate">
<span @Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookJembatanTimbangLpgList.etlDate.Visible (end) *@
    @if (subAktivitasLogbookJembatanTimbangLpgList.LastUpdatedBy.Visible) { // subAktivitasLogbookJembatanTimbangLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookJembatanTimbangLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookJembatanTimbangLpgList.RowCount)_SubAktivitasLogbookJembatanTimbangLPG_LastUpdatedBy" class="el_SubAktivitasLogbookJembatanTimbangLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookJembatanTimbangLpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasLogbookJembatanTimbangLpgList.lastUpdatedDate.Visible) { // subAktivitasLogbookJembatanTimbangLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookJembatanTimbangLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookJembatanTimbangLpgList.RowCount)_SubAktivitasLogbookJembatanTimbangLPG_lastUpdatedDate" class="el_SubAktivitasLogbookJembatanTimbangLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookJembatanTimbangLpgList.lastUpdatedDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasLogbookJembatanTimbangLpgList.ListOptions.RenderBody("right", subAktivitasLogbookJembatanTimbangLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasLogbookJembatanTimbangLpgList.RowIndex, "$rowindex$"))
        subAktivitasLogbookJembatanTimbangLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasLogbookJembatanTimbangLpgList.IsCopy || subAktivitasLogbookJembatanTimbangLpgList.IsAdd) && subAktivitasLogbookJembatanTimbangLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasLogbookJembatanTimbangLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasLogbookJembatanTimbangLpgList.CurrentAction) && !subAktivitasLogbookJembatanTimbangLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasLogbookJembatanTimbangLpgList.CloseRecordset(); }
@if (!subAktivitasLogbookJembatanTimbangLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasLogbookJembatanTimbangLpgList.IsGridAdd && !(subAktivitasLogbookJembatanTimbangLpgList.IsGridEdit && subAktivitasLogbookJembatanTimbangLpgList.ModalGridEdit) && !subAktivitasLogbookJembatanTimbangLpgList.IsMultiEdit) {
@Html.Raw(subAktivitasLogbookJembatanTimbangLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasLogbookJembatanTimbangLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasLogbookJembatanTimbangLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasLogbookJembatanTimbangLpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasLogbookJembatanTimbangLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasLogbookJembatanTimbangLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasLogbookJembatanTimbangLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
