@{
    // View
    View = this;

    // Check action result
    if (subAktivitasLogbookPenerimaanPenyaluranLpgEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasLogbookPenerimaanPenyaluranLpgEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasLogbookPenerimaanPenyaluranLpgEdit.ShowPageHeader()
@subAktivitasLogbookPenerimaanPenyaluranLpgEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasLogbookPenerimaanPenyaluranLPGedit" id="fSubAktivitasLogbookPenerimaanPenyaluranLPGedit" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasLogbookPenerimaanPenyaluranLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasLogbookPenerimaanPenyaluranLPGedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasLogbookPenerimaanPenyaluranLPGedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["NomorTangki", [fields.NomorTangki.visible && fields.NomorTangki.required ? ew.Validators.required(fields.NomorTangki.caption) : null], fields.NomorTangki.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["SPA", [fields.SPA.visible && fields.SPA.required ? ew.Validators.required(fields.SPA.caption) : null], fields.SPA.isInvalid],
            ["BayNumber", [fields.BayNumber.visible && fields.BayNumber.required ? ew.Validators.required(fields.BayNumber.caption) : null], fields.BayNumber.isInvalid],
            ["Quantity", [fields.Quantity.visible && fields.Quantity.required ? ew.Validators.required(fields.Quantity.caption) : null], fields.Quantity.isInvalid],
            ["MeterAwal", [fields.MeterAwal.visible && fields.MeterAwal.required ? ew.Validators.required(fields.MeterAwal.caption) : null], fields.MeterAwal.isInvalid],
            ["MeterAkhir", [fields.MeterAkhir.visible && fields.MeterAkhir.required ? ew.Validators.required(fields.MeterAkhir.caption) : null], fields.MeterAkhir.isInvalid],
            ["PresentaseLevelRotoGauge", [fields.PresentaseLevelRotoGauge.visible && fields.PresentaseLevelRotoGauge.required ? ew.Validators.required(fields.PresentaseLevelRotoGauge.caption) : null], fields.PresentaseLevelRotoGauge.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.OldKeyName)" value="@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasLogbookPenerimaanPenyaluranLpgEdit.id.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.id.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanPenyaluranLPG_id" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.id.Caption)@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.id.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanPenyaluranLPG_id">
<span @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasLogbookPenerimaanPenyaluranLPG" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanPenyaluranLpgEdit.id.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranLpgEdit.idProses.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanPenyaluranLPG_idProses" for="x_idProses" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.idProses.Caption)@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanPenyaluranLPG_idProses">
<input type="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubAktivitasLogbookPenerimaanPenyaluranLPG" data-field="x_idProses" value="@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.idProses.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanPenyaluranLpgEdit.idProses.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranLpgEdit.idAktifitas.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanPenyaluranLPG_idAktifitas" for="x_idAktifitas" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.idAktifitas.Caption)@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanPenyaluranLPG_idAktifitas">
<input type="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubAktivitasLogbookPenerimaanPenyaluranLPG" data-field="x_idAktifitas" value="@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.idAktifitas.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanPenyaluranLpgEdit.idAktifitas.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranLpgEdit.NoReferensi.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanPenyaluranLPG_NoReferensi" for="x_NoReferensi" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.NoReferensi.Caption)@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanPenyaluranLPG_NoReferensi">
<input type="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasLogbookPenerimaanPenyaluranLPG" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.NoReferensi.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanPenyaluranLpgEdit.NoReferensi.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranLpgEdit.NomorTangki.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgEdit.NomorTangki.Visible (begin)
    <div id="r_NomorTangki" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.NomorTangki.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanPenyaluranLPG_NomorTangki" for="x_NomorTangki" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.NomorTangki.Caption)@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.NomorTangki.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.NomorTangki.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanPenyaluranLPG_NomorTangki">
<input type="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.NomorTangki.InputTextType)" name="x_NomorTangki" id="x_NomorTangki" data-table="SubAktivitasLogbookPenerimaanPenyaluranLPG" data-field="x_NomorTangki" value="@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.NomorTangki.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.NomorTangki.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.NomorTangki.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.NomorTangki.EditAttributes) aria-describedby="x_NomorTangki_help">
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.NomorTangki.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.NomorTangki.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanPenyaluranLpgEdit.NomorTangki.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranLpgEdit.Produk.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.Produk.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanPenyaluranLPG_Produk" for="x_Produk" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.Produk.Caption)@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.Produk.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanPenyaluranLPG_Produk">
<input type="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasLogbookPenerimaanPenyaluranLPG" data-field="x_Produk" value="@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.Produk.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.Produk.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanPenyaluranLpgEdit.Produk.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranLpgEdit.SPA.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgEdit.SPA.Visible (begin)
    <div id="r_SPA" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.SPA.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanPenyaluranLPG_SPA" for="x_SPA" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.SPA.Caption)@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.SPA.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.SPA.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanPenyaluranLPG_SPA">
<input type="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.SPA.InputTextType)" name="x_SPA" id="x_SPA" data-table="SubAktivitasLogbookPenerimaanPenyaluranLPG" data-field="x_SPA" value="@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.SPA.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.SPA.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.SPA.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.SPA.EditAttributes) aria-describedby="x_SPA_help">
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.SPA.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.SPA.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanPenyaluranLpgEdit.SPA.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranLpgEdit.BayNumber.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgEdit.BayNumber.Visible (begin)
    <div id="r_BayNumber" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.BayNumber.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanPenyaluranLPG_BayNumber" for="x_BayNumber" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.BayNumber.Caption)@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.BayNumber.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.BayNumber.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanPenyaluranLPG_BayNumber">
<input type="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.BayNumber.InputTextType)" name="x_BayNumber" id="x_BayNumber" data-table="SubAktivitasLogbookPenerimaanPenyaluranLPG" data-field="x_BayNumber" value="@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.BayNumber.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.BayNumber.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.BayNumber.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.BayNumber.EditAttributes) aria-describedby="x_BayNumber_help">
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.BayNumber.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.BayNumber.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanPenyaluranLpgEdit.BayNumber.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranLpgEdit.Quantity.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgEdit.Quantity.Visible (begin)
    <div id="r_Quantity" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.Quantity.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanPenyaluranLPG_Quantity" for="x_Quantity" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.Quantity.Caption)@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.Quantity.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.Quantity.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanPenyaluranLPG_Quantity">
<input type="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.Quantity.InputTextType)" name="x_Quantity" id="x_Quantity" data-table="SubAktivitasLogbookPenerimaanPenyaluranLPG" data-field="x_Quantity" value="@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.Quantity.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.Quantity.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.Quantity.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.Quantity.EditAttributes) aria-describedby="x_Quantity_help">
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.Quantity.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.Quantity.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanPenyaluranLpgEdit.Quantity.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranLpgEdit.MeterAwal.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgEdit.MeterAwal.Visible (begin)
    <div id="r_MeterAwal" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.MeterAwal.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanPenyaluranLPG_MeterAwal" for="x_MeterAwal" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.MeterAwal.Caption)@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.MeterAwal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.MeterAwal.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanPenyaluranLPG_MeterAwal">
<input type="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.MeterAwal.InputTextType)" name="x_MeterAwal" id="x_MeterAwal" data-table="SubAktivitasLogbookPenerimaanPenyaluranLPG" data-field="x_MeterAwal" value="@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.MeterAwal.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.MeterAwal.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.MeterAwal.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.MeterAwal.EditAttributes) aria-describedby="x_MeterAwal_help">
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.MeterAwal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.MeterAwal.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanPenyaluranLpgEdit.MeterAwal.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranLpgEdit.MeterAkhir.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgEdit.MeterAkhir.Visible (begin)
    <div id="r_MeterAkhir" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.MeterAkhir.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanPenyaluranLPG_MeterAkhir" for="x_MeterAkhir" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.MeterAkhir.Caption)@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.MeterAkhir.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.MeterAkhir.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanPenyaluranLPG_MeterAkhir">
<input type="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.MeterAkhir.InputTextType)" name="x_MeterAkhir" id="x_MeterAkhir" data-table="SubAktivitasLogbookPenerimaanPenyaluranLPG" data-field="x_MeterAkhir" value="@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.MeterAkhir.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.MeterAkhir.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.MeterAkhir.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.MeterAkhir.EditAttributes) aria-describedby="x_MeterAkhir_help">
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.MeterAkhir.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.MeterAkhir.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanPenyaluranLpgEdit.MeterAkhir.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranLpgEdit.PresentaseLevelRotoGauge.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgEdit.PresentaseLevelRotoGauge.Visible (begin)
    <div id="r_PresentaseLevelRotoGauge" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.PresentaseLevelRotoGauge.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanPenyaluranLPG_PresentaseLevelRotoGauge" for="x_PresentaseLevelRotoGauge" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.PresentaseLevelRotoGauge.Caption)@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.PresentaseLevelRotoGauge.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.PresentaseLevelRotoGauge.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanPenyaluranLPG_PresentaseLevelRotoGauge">
<input type="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.PresentaseLevelRotoGauge.InputTextType)" name="x_PresentaseLevelRotoGauge" id="x_PresentaseLevelRotoGauge" data-table="SubAktivitasLogbookPenerimaanPenyaluranLPG" data-field="x_PresentaseLevelRotoGauge" value="@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.PresentaseLevelRotoGauge.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.PresentaseLevelRotoGauge.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.PresentaseLevelRotoGauge.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.PresentaseLevelRotoGauge.EditAttributes) aria-describedby="x_PresentaseLevelRotoGauge_help">
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.PresentaseLevelRotoGauge.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.PresentaseLevelRotoGauge.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanPenyaluranLpgEdit.PresentaseLevelRotoGauge.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranLpgEdit.userInput.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.userInput.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanPenyaluranLPG_userInput" for="x_userInput" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.userInput.Caption)@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.userInput.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanPenyaluranLPG_userInput">
<input type="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasLogbookPenerimaanPenyaluranLPG" data-field="x_userInput" value="@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.userInput.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanPenyaluranLpgEdit.userInput.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranLpgEdit.etlDate.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanPenyaluranLPG_etlDate" for="x_etlDate" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.etlDate.Caption)@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.etlDate.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanPenyaluranLPG_etlDate">
<input type="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasLogbookPenerimaanPenyaluranLPG" data-field="x_etlDate" value="@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.etlDate.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.etlDate.GetErrorMessage())</div>
@if (!subAktivitasLogbookPenerimaanPenyaluranLpgEdit.etlDate.ReadOnly && !subAktivitasLogbookPenerimaanPenyaluranLpgEdit.etlDate.Disabled && !subAktivitasLogbookPenerimaanPenyaluranLpgEdit.etlDate.EditAttrs.Is("readonly") && !subAktivitasLogbookPenerimaanPenyaluranLpgEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasLogbookPenerimaanPenyaluranLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasLogbookPenerimaanPenyaluranLPGedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanPenyaluranLpgEdit.etlDate.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranLpgEdit.LastUpdatedBy.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanPenyaluranLPG_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanPenyaluranLPG_LastUpdatedBy">
<input type="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasLogbookPenerimaanPenyaluranLPG" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanPenyaluranLpgEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasLogbookPenerimaanPenyaluranLpgEdit.lastUpdatedDate.Visible) { // subAktivitasLogbookPenerimaanPenyaluranLpgEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanPenyaluranLPG_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanPenyaluranLPG_lastUpdatedDate">
<input type="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasLogbookPenerimaanPenyaluranLPG" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasLogbookPenerimaanPenyaluranLpgEdit.lastUpdatedDate.ReadOnly && !subAktivitasLogbookPenerimaanPenyaluranLpgEdit.lastUpdatedDate.Disabled && !subAktivitasLogbookPenerimaanPenyaluranLpgEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasLogbookPenerimaanPenyaluranLpgEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasLogbookPenerimaanPenyaluranLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasLogbookPenerimaanPenyaluranLPGedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanPenyaluranLpgEdit.lastUpdatedDate.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasLogbookPenerimaanPenyaluranLpgEdit.CloseRecordset(); }
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasLogbookPenerimaanPenyaluranLPGedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasLogbookPenerimaanPenyaluranLPGedit" data-href="@AppPath(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasLogbookPenerimaanPenyaluranLpgEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasLogbookPenerimaanPenyaluranLpgEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasLogbookPenerimaanPenyaluranLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
