@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputLogbookPenerimaanTruckList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputLogbookPenerimaanTruckList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputLogbookPenerimaanTruckList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputLogbookPenerimaanTruckList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputLogbookPenerimaanTruck: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasFormInputLogbookPenerimaanTruckList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasFormInputLogbookPenerimaanTruckList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasFormInputLogbookPenerimaanTruckList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasFormInputLogbookPenerimaanTruckList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasFormInputLogbookPenerimaanTruckList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasFormInputLogbookPenerimaanTruckList.TotalRecords > 0 && subAktivitasFormInputLogbookPenerimaanTruckList.ExportOptions.Visible) {
    subAktivitasFormInputLogbookPenerimaanTruckList.ExportOptions.Render("body");
}
@if (subAktivitasFormInputLogbookPenerimaanTruckList.ImportOptions.Visible) {
    subAktivitasFormInputLogbookPenerimaanTruckList.ImportOptions.Render("body");
}
@if (subAktivitasFormInputLogbookPenerimaanTruckList.SearchOptions.Visible) {
    subAktivitasFormInputLogbookPenerimaanTruckList.SearchOptions.Render("body");
}
@if (subAktivitasFormInputLogbookPenerimaanTruckList.FilterOptions.Visible) {
    subAktivitasFormInputLogbookPenerimaanTruckList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasFormInputLogbookPenerimaanTruckList.IsModal) {
<form name="fSubAktivitasFormInputLogbookPenerimaanTrucksrch" id="fSubAktivitasFormInputLogbookPenerimaanTrucksrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasFormInputLogbookPenerimaanTrucksrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasFormInputLogbookPenerimaanTruckList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputLogbookPenerimaanTruckList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputLogbookPenerimaanTruck: currentTable } });
var currentForm;
var fSubAktivitasFormInputLogbookPenerimaanTrucksrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputLogbookPenerimaanTrucksrch")
        .setPageId("list")
@if (subAktivitasFormInputLogbookPenerimaanTruckList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasFormInputLogbookPenerimaanTruckList.IsExport() && Empty(subAktivitasFormInputLogbookPenerimaanTruckList.CurrentAction) && subAktivitasFormInputLogbookPenerimaanTruckList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanTruckList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasFormInputLogbookPenerimaanTruckList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasFormInputLogbookPenerimaanTruckList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasFormInputLogbookPenerimaanTrucksrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputLogbookPenerimaanTruckList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasFormInputLogbookPenerimaanTrucksrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputLogbookPenerimaanTruckList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasFormInputLogbookPenerimaanTrucksrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputLogbookPenerimaanTruckList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasFormInputLogbookPenerimaanTrucksrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasFormInputLogbookPenerimaanTruckList.ShowPageHeader()
@subAktivitasFormInputLogbookPenerimaanTruckList.ShowMessages()
<main class="list @(subAktivitasFormInputLogbookPenerimaanTruckList.TotalRecords == 0 && !subAktivitasFormInputLogbookPenerimaanTruckList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasFormInputLogbookPenerimaanTruckList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasFormInputLogbookPenerimaanTruckList.TotalRecords > 0 || !Empty(subAktivitasFormInputLogbookPenerimaanTruckList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasFormInputLogbookPenerimaanTruckList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasFormInputLogbookPenerimaanTruckList.TableGridClass)">
<form name="@(subAktivitasFormInputLogbookPenerimaanTruckList.FormName)" id="@(subAktivitasFormInputLogbookPenerimaanTruckList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasFormInputLogbookPenerimaanTruckList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasFormInputLogbookPenerimaanTruckList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasFormInputLogbookPenerimaanTruck" class="card-body ew-grid-middle-panel @(subAktivitasFormInputLogbookPenerimaanTruckList.TableContainerClass)" style="@(subAktivitasFormInputLogbookPenerimaanTruckList.TableContainerStyle)">
@if (subAktivitasFormInputLogbookPenerimaanTruckList.TotalRecords > 0 || subAktivitasFormInputLogbookPenerimaanTruckList.IsGridEdit || subAktivitasFormInputLogbookPenerimaanTruckList.IsMultiEdit) {
<table id="tbl_SubAktivitasFormInputLogbookPenerimaanTrucklist" class="@(subAktivitasFormInputLogbookPenerimaanTruckList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasFormInputLogbookPenerimaanTruckList.RowType = RowType.Header;

    // Render list options
    await subAktivitasFormInputLogbookPenerimaanTruckList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasFormInputLogbookPenerimaanTruckList.ListOptions.RenderHeader("left")
@if (subAktivitasFormInputLogbookPenerimaanTruckList.id.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasFormInputLogbookPenerimaanTruckList.id.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_id" class="SubAktivitasFormInputLogbookPenerimaanTruck_id">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanTruckList.id))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanTruckList.id.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckList.idAktifitas.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasFormInputLogbookPenerimaanTruckList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_idAktifitas" class="SubAktivitasFormInputLogbookPenerimaanTruck_idAktifitas">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanTruckList.idAktifitas))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanTruckList.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckList.idProses.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasFormInputLogbookPenerimaanTruckList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_idProses" class="SubAktivitasFormInputLogbookPenerimaanTruck_idProses">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanTruckList.idProses))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanTruckList.idProses.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckList.NoReferensi.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasFormInputLogbookPenerimaanTruckList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_NoReferensi" class="SubAktivitasFormInputLogbookPenerimaanTruck_NoReferensi">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanTruckList.NoReferensi))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanTruckList.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckList.Tanggal.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasFormInputLogbookPenerimaanTruckList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_Tanggal" class="SubAktivitasFormInputLogbookPenerimaanTruck_Tanggal">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanTruckList.Tanggal))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanTruckList.Tanggal.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckList.NamaKegiatan.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.NamaKegiatan.Visible (begin)
        <th data-name="NamaKegiatan" class="@(subAktivitasFormInputLogbookPenerimaanTruckList.NamaKegiatan.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_NamaKegiatan" class="SubAktivitasFormInputLogbookPenerimaanTruck_NamaKegiatan">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanTruckList.NamaKegiatan))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanTruckList.NamaKegiatan.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckList.Produk.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasFormInputLogbookPenerimaanTruckList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_Produk" class="SubAktivitasFormInputLogbookPenerimaanTruck_Produk">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanTruckList.Produk))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanTruckList.Produk.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckList.Density.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.Density.Visible (begin)
        <th data-name="Density" class="@(subAktivitasFormInputLogbookPenerimaanTruckList.Density.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_Density" class="SubAktivitasFormInputLogbookPenerimaanTruck_Density">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanTruckList.Density))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanTruckList.Density.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckList.Temperatur.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.Temperatur.Visible (begin)
        <th data-name="Temperatur" class="@(subAktivitasFormInputLogbookPenerimaanTruckList.Temperatur.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_Temperatur" class="SubAktivitasFormInputLogbookPenerimaanTruck_Temperatur">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanTruckList.Temperatur))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanTruckList.Temperatur.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckList.Keterangan.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.Keterangan.Visible (begin)
        <th data-name="Keterangan" class="@(subAktivitasFormInputLogbookPenerimaanTruckList.Keterangan.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_Keterangan" class="SubAktivitasFormInputLogbookPenerimaanTruck_Keterangan">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanTruckList.Keterangan))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanTruckList.Keterangan.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckList.Level.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.Level.Visible (begin)
        <th data-name="Level" class="@(subAktivitasFormInputLogbookPenerimaanTruckList.Level.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_Level" class="SubAktivitasFormInputLogbookPenerimaanTruck_Level">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanTruckList.Level))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanTruckList.Level.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckList.Volume.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.Volume.Visible (begin)
        <th data-name="Volume" class="@(subAktivitasFormInputLogbookPenerimaanTruckList.Volume.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_Volume" class="SubAktivitasFormInputLogbookPenerimaanTruck_Volume">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanTruckList.Volume))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanTruckList.Volume.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckList.Flowrate.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.Flowrate.Visible (begin)
        <th data-name="Flowrate" class="@(subAktivitasFormInputLogbookPenerimaanTruckList.Flowrate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_Flowrate" class="SubAktivitasFormInputLogbookPenerimaanTruck_Flowrate">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanTruckList.Flowrate))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanTruckList.Flowrate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckList.userInput.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasFormInputLogbookPenerimaanTruckList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_userInput" class="SubAktivitasFormInputLogbookPenerimaanTruck_userInput">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanTruckList.userInput))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanTruckList.userInput.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckList.etlDate.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasFormInputLogbookPenerimaanTruckList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_etlDate" class="SubAktivitasFormInputLogbookPenerimaanTruck_etlDate">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanTruckList.etlDate))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanTruckList.etlDate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckList.LastUpdatedBy.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasFormInputLogbookPenerimaanTruckList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_LastUpdatedBy" class="SubAktivitasFormInputLogbookPenerimaanTruck_LastUpdatedBy">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanTruckList.LastUpdatedBy))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanTruckList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckList.lastUpdatedDate.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasFormInputLogbookPenerimaanTruckList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_lastUpdatedDate" class="SubAktivitasFormInputLogbookPenerimaanTruck_lastUpdatedDate">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanTruckList.lastUpdatedDate))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanTruckList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckList.StatusAktivitas.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasFormInputLogbookPenerimaanTruckList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_StatusAktivitas" class="SubAktivitasFormInputLogbookPenerimaanTruck_StatusAktivitas">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanTruckList.StatusAktivitas))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanTruckList.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckList.TanggalJamSOP.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.TanggalJamSOP.Visible (begin)
        <th data-name="TanggalJamSOP" class="@(subAktivitasFormInputLogbookPenerimaanTruckList.TanggalJamSOP.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_TanggalJamSOP" class="SubAktivitasFormInputLogbookPenerimaanTruck_TanggalJamSOP">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanTruckList.TanggalJamSOP))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanTruckList.TanggalJamSOP.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckList.SelisihWaktu.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.SelisihWaktu.Visible (begin)
        <th data-name="SelisihWaktu" class="@(subAktivitasFormInputLogbookPenerimaanTruckList.SelisihWaktu.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_SelisihWaktu" class="SubAktivitasFormInputLogbookPenerimaanTruck_SelisihWaktu">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanTruckList.SelisihWaktu))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanTruckList.SelisihWaktu.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckList.IsQualityActive.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.IsQualityActive.Visible (begin)
        <th data-name="IsQualityActive" class="@(subAktivitasFormInputLogbookPenerimaanTruckList.IsQualityActive.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_IsQualityActive" class="SubAktivitasFormInputLogbookPenerimaanTruck_IsQualityActive">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanTruckList.IsQualityActive))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanTruckList.IsQualityActive.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasFormInputLogbookPenerimaanTruckList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasFormInputLogbookPenerimaanTruckList.PageNumber)">
@{
    await subAktivitasFormInputLogbookPenerimaanTruckList.SetupGrid();
    bool eof = subAktivitasFormInputLogbookPenerimaanTruckList.Recordset == null; // DN
}
@while (subAktivitasFormInputLogbookPenerimaanTruckList.RecordCount < subAktivitasFormInputLogbookPenerimaanTruckList.StopRecord || SameString(subAktivitasFormInputLogbookPenerimaanTruckList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasFormInputLogbookPenerimaanTruckList.RowIndex, "$rowindex$") &&
        (!subAktivitasFormInputLogbookPenerimaanTruckList.IsGridAdd || subAktivitasFormInputLogbookPenerimaanTruckList.CurrentMode == "copy") &&
        (!((subAktivitasFormInputLogbookPenerimaanTruckList.IsCopy || subAktivitasFormInputLogbookPenerimaanTruckList.IsAdd) && subAktivitasFormInputLogbookPenerimaanTruckList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasFormInputLogbookPenerimaanTruckList.Recordset.ReadAsync();
    subAktivitasFormInputLogbookPenerimaanTruckList.RecordCount++;
    if (subAktivitasFormInputLogbookPenerimaanTruckList.RecordCount >= subAktivitasFormInputLogbookPenerimaanTruckList.StartRecord) {
        await subAktivitasFormInputLogbookPenerimaanTruckList.SetupRow();
    <tr @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasFormInputLogbookPenerimaanTruckList.ListOptions.RenderBody("left", subAktivitasFormInputLogbookPenerimaanTruckList.RowCount)
    @if (subAktivitasFormInputLogbookPenerimaanTruckList.id.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.id.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanTruckList.RowCount)_SubAktivitasFormInputLogbookPenerimaanTruck_id" class="el_SubAktivitasFormInputLogbookPenerimaanTruck_id">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanTruckList.id.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanTruckList.idAktifitas.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanTruckList.RowCount)_SubAktivitasFormInputLogbookPenerimaanTruck_idAktifitas" class="el_SubAktivitasFormInputLogbookPenerimaanTruck_idAktifitas">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanTruckList.idAktifitas.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanTruckList.idProses.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.idProses.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanTruckList.RowCount)_SubAktivitasFormInputLogbookPenerimaanTruck_idProses" class="el_SubAktivitasFormInputLogbookPenerimaanTruck_idProses">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanTruckList.idProses.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanTruckList.NoReferensi.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanTruckList.RowCount)_SubAktivitasFormInputLogbookPenerimaanTruck_NoReferensi" class="el_SubAktivitasFormInputLogbookPenerimaanTruck_NoReferensi">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanTruckList.NoReferensi.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanTruckList.Tanggal.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.Tanggal.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanTruckList.RowCount)_SubAktivitasFormInputLogbookPenerimaanTruck_Tanggal" class="el_SubAktivitasFormInputLogbookPenerimaanTruck_Tanggal">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanTruckList.Tanggal.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanTruckList.NamaKegiatan.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.NamaKegiatan.Visible (begin)
        <td data-name="NamaKegiatan" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.NamaKegiatan.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanTruckList.RowCount)_SubAktivitasFormInputLogbookPenerimaanTruck_NamaKegiatan" class="el_SubAktivitasFormInputLogbookPenerimaanTruck_NamaKegiatan">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.NamaKegiatan.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.NamaKegiatan.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanTruckList.NamaKegiatan.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanTruckList.Produk.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.Produk.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanTruckList.RowCount)_SubAktivitasFormInputLogbookPenerimaanTruck_Produk" class="el_SubAktivitasFormInputLogbookPenerimaanTruck_Produk">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanTruckList.Produk.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanTruckList.Density.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.Density.Visible (begin)
        <td data-name="Density" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.Density.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanTruckList.RowCount)_SubAktivitasFormInputLogbookPenerimaanTruck_Density" class="el_SubAktivitasFormInputLogbookPenerimaanTruck_Density">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.Density.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.Density.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanTruckList.Density.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanTruckList.Temperatur.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.Temperatur.Visible (begin)
        <td data-name="Temperatur" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.Temperatur.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanTruckList.RowCount)_SubAktivitasFormInputLogbookPenerimaanTruck_Temperatur" class="el_SubAktivitasFormInputLogbookPenerimaanTruck_Temperatur">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.Temperatur.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.Temperatur.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanTruckList.Temperatur.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanTruckList.Keterangan.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.Keterangan.Visible (begin)
        <td data-name="Keterangan" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.Keterangan.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanTruckList.RowCount)_SubAktivitasFormInputLogbookPenerimaanTruck_Keterangan" class="el_SubAktivitasFormInputLogbookPenerimaanTruck_Keterangan">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.Keterangan.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.Keterangan.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanTruckList.Keterangan.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanTruckList.Level.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.Level.Visible (begin)
        <td data-name="Level" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.Level.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanTruckList.RowCount)_SubAktivitasFormInputLogbookPenerimaanTruck_Level" class="el_SubAktivitasFormInputLogbookPenerimaanTruck_Level">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.Level.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.Level.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanTruckList.Level.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanTruckList.Volume.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.Volume.Visible (begin)
        <td data-name="Volume" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.Volume.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanTruckList.RowCount)_SubAktivitasFormInputLogbookPenerimaanTruck_Volume" class="el_SubAktivitasFormInputLogbookPenerimaanTruck_Volume">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.Volume.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.Volume.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanTruckList.Volume.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanTruckList.Flowrate.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.Flowrate.Visible (begin)
        <td data-name="Flowrate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.Flowrate.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanTruckList.RowCount)_SubAktivitasFormInputLogbookPenerimaanTruck_Flowrate" class="el_SubAktivitasFormInputLogbookPenerimaanTruck_Flowrate">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.Flowrate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.Flowrate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanTruckList.Flowrate.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanTruckList.userInput.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.userInput.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanTruckList.RowCount)_SubAktivitasFormInputLogbookPenerimaanTruck_userInput" class="el_SubAktivitasFormInputLogbookPenerimaanTruck_userInput">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanTruckList.userInput.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanTruckList.etlDate.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.etlDate.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanTruckList.RowCount)_SubAktivitasFormInputLogbookPenerimaanTruck_etlDate" class="el_SubAktivitasFormInputLogbookPenerimaanTruck_etlDate">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanTruckList.etlDate.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanTruckList.LastUpdatedBy.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanTruckList.RowCount)_SubAktivitasFormInputLogbookPenerimaanTruck_LastUpdatedBy" class="el_SubAktivitasFormInputLogbookPenerimaanTruck_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanTruckList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanTruckList.lastUpdatedDate.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanTruckList.RowCount)_SubAktivitasFormInputLogbookPenerimaanTruck_lastUpdatedDate" class="el_SubAktivitasFormInputLogbookPenerimaanTruck_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanTruckList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanTruckList.StatusAktivitas.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanTruckList.RowCount)_SubAktivitasFormInputLogbookPenerimaanTruck_StatusAktivitas" class="el_SubAktivitasFormInputLogbookPenerimaanTruck_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanTruckList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanTruckList.TanggalJamSOP.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.TanggalJamSOP.Visible (begin)
        <td data-name="TanggalJamSOP" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.TanggalJamSOP.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanTruckList.RowCount)_SubAktivitasFormInputLogbookPenerimaanTruck_TanggalJamSOP" class="el_SubAktivitasFormInputLogbookPenerimaanTruck_TanggalJamSOP">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.TanggalJamSOP.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.TanggalJamSOP.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanTruckList.TanggalJamSOP.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanTruckList.SelisihWaktu.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.SelisihWaktu.Visible (begin)
        <td data-name="SelisihWaktu" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.SelisihWaktu.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanTruckList.RowCount)_SubAktivitasFormInputLogbookPenerimaanTruck_SelisihWaktu" class="el_SubAktivitasFormInputLogbookPenerimaanTruck_SelisihWaktu">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.SelisihWaktu.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.SelisihWaktu.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanTruckList.SelisihWaktu.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanTruckList.IsQualityActive.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckList.IsQualityActive.Visible (begin)
        <td data-name="IsQualityActive" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.IsQualityActive.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanTruckList.RowCount)_SubAktivitasFormInputLogbookPenerimaanTruck_IsQualityActive" class="el_SubAktivitasFormInputLogbookPenerimaanTruck_IsQualityActive">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.IsQualityActive.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(subAktivitasFormInputLogbookPenerimaanTruckList.IsQualityActive.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanTruckList.IsQualityActive.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasFormInputLogbookPenerimaanTruckList.ListOptions.RenderBody("right", subAktivitasFormInputLogbookPenerimaanTruckList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasFormInputLogbookPenerimaanTruckList.RowIndex, "$rowindex$"))
        subAktivitasFormInputLogbookPenerimaanTruckList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasFormInputLogbookPenerimaanTruckList.IsCopy || subAktivitasFormInputLogbookPenerimaanTruckList.IsAdd) && subAktivitasFormInputLogbookPenerimaanTruckList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasFormInputLogbookPenerimaanTruckList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasFormInputLogbookPenerimaanTruckList.CurrentAction) && !subAktivitasFormInputLogbookPenerimaanTruckList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasFormInputLogbookPenerimaanTruckList.CloseRecordset(); }
@if (!subAktivitasFormInputLogbookPenerimaanTruckList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasFormInputLogbookPenerimaanTruckList.IsGridAdd && !(subAktivitasFormInputLogbookPenerimaanTruckList.IsGridEdit && subAktivitasFormInputLogbookPenerimaanTruckList.ModalGridEdit) && !subAktivitasFormInputLogbookPenerimaanTruckList.IsMultiEdit) {
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasFormInputLogbookPenerimaanTruckList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasFormInputLogbookPenerimaanTruckList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasFormInputLogbookPenerimaanTruckList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasFormInputLogbookPenerimaanTruckList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputLogbookPenerimaanTruckList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputLogbookPenerimaanTruck");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
