@{
    // View
    View = this;

    // Check action result
    if (subAktivitasInputDataRtwEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasInputDataRtwEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasInputDataRtwEdit.ShowPageHeader()
@subAktivitasInputDataRtwEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasInputDataRTWedit" id="fSubAktivitasInputDataRTWedit" class="@(subAktivitasInputDataRtwEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasInputDataRtwEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasInputDataRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasInputDataRTWedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasInputDataRTWedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null], fields.idAktifitas.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null], fields.idProses.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null], fields.StatusAktivitas.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null], fields.lastUpdatedDate.isInvalid],
            ["NomorGerbongKertel", [fields.NomorGerbongKertel.visible && fields.NomorGerbongKertel.required ? ew.Validators.required(fields.NomorGerbongKertel.caption) : null], fields.NomorGerbongKertel.isInvalid],
            ["MeterAwal", [fields.MeterAwal.visible && fields.MeterAwal.required ? ew.Validators.required(fields.MeterAwal.caption) : null], fields.MeterAwal.isInvalid],
            ["MeterAkhir", [fields.MeterAkhir.visible && fields.MeterAkhir.required ? ew.Validators.required(fields.MeterAkhir.caption) : null], fields.MeterAkhir.isInvalid],
            ["Total", [fields.Total.visible && fields.Total.required ? ew.Validators.required(fields.Total.caption) : null], fields.Total.isInvalid],
            ["NoMeter", [fields.NoMeter.visible && fields.NoMeter.required ? ew.Validators.required(fields.NoMeter.caption) : null], fields.NoMeter.isInvalid],
            ["Quantity", [fields.Quantity.visible && fields.Quantity.required ? ew.Validators.required(fields.Quantity.caption) : null], fields.Quantity.isInvalid],
            ["HasilPengukuranT2", [fields.HasilPengukuranT2.visible && fields.HasilPengukuranT2.required ? ew.Validators.required(fields.HasilPengukuranT2.caption) : null], fields.HasilPengukuranT2.isInvalid],
            ["PICPengisian", [fields.PICPengisian.visible && fields.PICPengisian.required ? ew.Validators.required(fields.PICPengisian.caption) : null], fields.PICPengisian.isInvalid],
            ["NomorGerbongKertel2", [fields.NomorGerbongKertel2.visible && fields.NomorGerbongKertel2.required ? ew.Validators.required(fields.NomorGerbongKertel2.caption) : null], fields.NomorGerbongKertel2.isInvalid],
            ["NomorGerbongKertel3", [fields.NomorGerbongKertel3.visible && fields.NomorGerbongKertel3.required ? ew.Validators.required(fields.NomorGerbongKertel3.caption) : null], fields.NomorGerbongKertel3.isInvalid],
            ["Quantity2", [fields.Quantity2.visible && fields.Quantity2.required ? ew.Validators.required(fields.Quantity2.caption) : null], fields.Quantity2.isInvalid],
            ["Quantity3", [fields.Quantity3.visible && fields.Quantity3.required ? ew.Validators.required(fields.Quantity3.caption) : null], fields.Quantity3.isInvalid],
            ["HasilPengukuranT2_2", [fields.HasilPengukuranT2_2.visible && fields.HasilPengukuranT2_2.required ? ew.Validators.required(fields.HasilPengukuranT2_2.caption) : null], fields.HasilPengukuranT2_2.isInvalid],
            ["HasilPengukuranT2_3", [fields.HasilPengukuranT2_3.visible && fields.HasilPengukuranT2_3.required ? ew.Validators.required(fields.HasilPengukuranT2_3.caption) : null], fields.HasilPengukuranT2_3.isInvalid],
            ["TotalGK", [fields.TotalGK.visible && fields.TotalGK.required ? ew.Validators.required(fields.TotalGK.caption) : null], fields.TotalGK.isInvalid],
            ["Selisih", [fields.Selisih.visible && fields.Selisih.required ? ew.Validators.required(fields.Selisih.caption) : null], fields.Selisih.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasInputDataRtwEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasInputDataRtwEdit.OldKeyName)" value="@Html.Raw(subAktivitasInputDataRtwEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasInputDataRtwEdit.idAktifitas.Visible) { // subAktivitasInputDataRtwEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasInputDataRtwEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasInputDataRTW_idAktifitas" class="@(subAktivitasInputDataRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataRtwEdit.idAktifitas.Caption)@Html.Raw(subAktivitasInputDataRtwEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataRtwEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasInputDataRTW_idAktifitas">
<span @Html.Raw(subAktivitasInputDataRtwEdit.idAktifitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasInputDataRtwEdit.idAktifitas.DisplayValue(subAktivitasInputDataRtwEdit.idAktifitas.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasInputDataRTW" data-field="x_idAktifitas" data-hidden="1" name="x_idAktifitas" id="x_idAktifitas" value="@Html.Raw(HtmlEncode(subAktivitasInputDataRtwEdit.idAktifitas.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasInputDataRtwEdit.idAktifitas.Visible (end) *@
@if (subAktivitasInputDataRtwEdit.idProses.Visible) { // subAktivitasInputDataRtwEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasInputDataRtwEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasInputDataRTW_idProses" class="@(subAktivitasInputDataRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataRtwEdit.idProses.Caption)@Html.Raw(subAktivitasInputDataRtwEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataRtwEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasInputDataRTW_idProses">
<span @Html.Raw(subAktivitasInputDataRtwEdit.idProses.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasInputDataRtwEdit.idProses.DisplayValue(subAktivitasInputDataRtwEdit.idProses.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasInputDataRTW" data-field="x_idProses" data-hidden="1" name="x_idProses" id="x_idProses" value="@Html.Raw(HtmlEncode(subAktivitasInputDataRtwEdit.idProses.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasInputDataRtwEdit.idProses.Visible (end) *@
@if (subAktivitasInputDataRtwEdit.NoReferensi.Visible) { // subAktivitasInputDataRtwEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasInputDataRtwEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasInputDataRTW_NoReferensi" for="x_NoReferensi" class="@(subAktivitasInputDataRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataRtwEdit.NoReferensi.Caption)@Html.Raw(subAktivitasInputDataRtwEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataRtwEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasInputDataRTW_NoReferensi">
<span @Html.Raw(subAktivitasInputDataRtwEdit.NoReferensi.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasInputDataRtwEdit.NoReferensi.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasInputDataRTW" data-field="x_NoReferensi" data-hidden="1" name="x_NoReferensi" id="x_NoReferensi" value="@Html.Raw(HtmlEncode(subAktivitasInputDataRtwEdit.NoReferensi.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasInputDataRtwEdit.NoReferensi.Visible (end) *@
@if (subAktivitasInputDataRtwEdit.Produk.Visible) { // subAktivitasInputDataRtwEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasInputDataRtwEdit.Produk.RowAttributes)>
        <label id="elh_SubAktivitasInputDataRTW_Produk" for="x_Produk" class="@(subAktivitasInputDataRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataRtwEdit.Produk.Caption)@Html.Raw(subAktivitasInputDataRtwEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataRtwEdit.Produk.CellAttributes)>
<span id="el_SubAktivitasInputDataRTW_Produk">
<input type="@(subAktivitasInputDataRtwEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasInputDataRTW" data-field="x_Produk" value="@Html.Raw(subAktivitasInputDataRtwEdit.Produk.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputDataRtwEdit.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasInputDataRtwEdit.Produk.FormatPattern)"@Html.Raw(subAktivitasInputDataRtwEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasInputDataRtwEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputDataRtwEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputDataRtwEdit.Produk.Visible (end) *@
@if (subAktivitasInputDataRtwEdit.StatusAktivitas.Visible) { // subAktivitasInputDataRtwEdit.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subAktivitasInputDataRtwEdit.StatusAktivitas.RowAttributes)>
        <label id="elh_SubAktivitasInputDataRTW_StatusAktivitas" class="@(subAktivitasInputDataRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataRtwEdit.StatusAktivitas.Caption)@Html.Raw(subAktivitasInputDataRtwEdit.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataRtwEdit.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasInputDataRTW_StatusAktivitas">
<span @Html.Raw(subAktivitasInputDataRtwEdit.StatusAktivitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasInputDataRtwEdit.StatusAktivitas.DisplayValue(subAktivitasInputDataRtwEdit.StatusAktivitas.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasInputDataRTW" data-field="x_StatusAktivitas" data-hidden="1" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@Html.Raw(HtmlEncode(subAktivitasInputDataRtwEdit.StatusAktivitas.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasInputDataRtwEdit.StatusAktivitas.Visible (end) *@
@if (subAktivitasInputDataRtwEdit.LastUpdatedBy.Visible) { // subAktivitasInputDataRtwEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasInputDataRtwEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasInputDataRTW_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasInputDataRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataRtwEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasInputDataRtwEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataRtwEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasInputDataRTW_LastUpdatedBy">
<span @Html.Raw(subAktivitasInputDataRtwEdit.LastUpdatedBy.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasInputDataRtwEdit.LastUpdatedBy.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasInputDataRTW" data-field="x_LastUpdatedBy" data-hidden="1" name="x_LastUpdatedBy" id="x_LastUpdatedBy" value="@Html.Raw(HtmlEncode(subAktivitasInputDataRtwEdit.LastUpdatedBy.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasInputDataRtwEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasInputDataRtwEdit.lastUpdatedDate.Visible) { // subAktivitasInputDataRtwEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasInputDataRtwEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasInputDataRTW_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasInputDataRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataRtwEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasInputDataRtwEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataRtwEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasInputDataRTW_lastUpdatedDate">
<span @Html.Raw(subAktivitasInputDataRtwEdit.lastUpdatedDate.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasInputDataRtwEdit.lastUpdatedDate.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasInputDataRTW" data-field="x_lastUpdatedDate" data-hidden="1" name="x_lastUpdatedDate" id="x_lastUpdatedDate" value="@Html.Raw(HtmlEncode(subAktivitasInputDataRtwEdit.lastUpdatedDate.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasInputDataRtwEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasInputDataRtwEdit.NomorGerbongKertel.Visible) { // subAktivitasInputDataRtwEdit.NomorGerbongKertel.Visible (begin)
    <div id="r_NomorGerbongKertel" @Html.Raw(subAktivitasInputDataRtwEdit.NomorGerbongKertel.RowAttributes)>
        <label id="elh_SubAktivitasInputDataRTW_NomorGerbongKertel" for="x_NomorGerbongKertel" class="@(subAktivitasInputDataRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataRtwEdit.NomorGerbongKertel.Caption)@Html.Raw(subAktivitasInputDataRtwEdit.NomorGerbongKertel.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataRtwEdit.NomorGerbongKertel.CellAttributes)>
<span id="el_SubAktivitasInputDataRTW_NomorGerbongKertel">
<input type="@(subAktivitasInputDataRtwEdit.NomorGerbongKertel.InputTextType)" name="x_NomorGerbongKertel" id="x_NomorGerbongKertel" data-table="SubAktivitasInputDataRTW" data-field="x_NomorGerbongKertel" value="@Html.Raw(subAktivitasInputDataRtwEdit.NomorGerbongKertel.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputDataRtwEdit.NomorGerbongKertel.PlaceHolder))" data-format-pattern="@(subAktivitasInputDataRtwEdit.NomorGerbongKertel.FormatPattern)"@Html.Raw(subAktivitasInputDataRtwEdit.NomorGerbongKertel.EditAttributes) aria-describedby="x_NomorGerbongKertel_help">
@Html.Raw(subAktivitasInputDataRtwEdit.NomorGerbongKertel.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputDataRtwEdit.NomorGerbongKertel.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputDataRtwEdit.NomorGerbongKertel.Visible (end) *@
@if (subAktivitasInputDataRtwEdit.MeterAwal.Visible) { // subAktivitasInputDataRtwEdit.MeterAwal.Visible (begin)
    <div id="r_MeterAwal" @Html.Raw(subAktivitasInputDataRtwEdit.MeterAwal.RowAttributes)>
        <label id="elh_SubAktivitasInputDataRTW_MeterAwal" for="x_MeterAwal" class="@(subAktivitasInputDataRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataRtwEdit.MeterAwal.Caption)@Html.Raw(subAktivitasInputDataRtwEdit.MeterAwal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataRtwEdit.MeterAwal.CellAttributes)>
<span id="el_SubAktivitasInputDataRTW_MeterAwal">
<input type="@(subAktivitasInputDataRtwEdit.MeterAwal.InputTextType)" name="x_MeterAwal" id="x_MeterAwal" data-table="SubAktivitasInputDataRTW" data-field="x_MeterAwal" value="@Html.Raw(subAktivitasInputDataRtwEdit.MeterAwal.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputDataRtwEdit.MeterAwal.PlaceHolder))" data-format-pattern="@(subAktivitasInputDataRtwEdit.MeterAwal.FormatPattern)"@Html.Raw(subAktivitasInputDataRtwEdit.MeterAwal.EditAttributes) aria-describedby="x_MeterAwal_help">
@Html.Raw(subAktivitasInputDataRtwEdit.MeterAwal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputDataRtwEdit.MeterAwal.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputDataRtwEdit.MeterAwal.Visible (end) *@
@if (subAktivitasInputDataRtwEdit.MeterAkhir.Visible) { // subAktivitasInputDataRtwEdit.MeterAkhir.Visible (begin)
    <div id="r_MeterAkhir" @Html.Raw(subAktivitasInputDataRtwEdit.MeterAkhir.RowAttributes)>
        <label id="elh_SubAktivitasInputDataRTW_MeterAkhir" for="x_MeterAkhir" class="@(subAktivitasInputDataRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataRtwEdit.MeterAkhir.Caption)@Html.Raw(subAktivitasInputDataRtwEdit.MeterAkhir.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataRtwEdit.MeterAkhir.CellAttributes)>
<span id="el_SubAktivitasInputDataRTW_MeterAkhir">
<input type="@(subAktivitasInputDataRtwEdit.MeterAkhir.InputTextType)" name="x_MeterAkhir" id="x_MeterAkhir" data-table="SubAktivitasInputDataRTW" data-field="x_MeterAkhir" value="@Html.Raw(subAktivitasInputDataRtwEdit.MeterAkhir.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputDataRtwEdit.MeterAkhir.PlaceHolder))" data-format-pattern="@(subAktivitasInputDataRtwEdit.MeterAkhir.FormatPattern)"@Html.Raw(subAktivitasInputDataRtwEdit.MeterAkhir.EditAttributes) aria-describedby="x_MeterAkhir_help">
@Html.Raw(subAktivitasInputDataRtwEdit.MeterAkhir.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputDataRtwEdit.MeterAkhir.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputDataRtwEdit.MeterAkhir.Visible (end) *@
@if (subAktivitasInputDataRtwEdit.Total.Visible) { // subAktivitasInputDataRtwEdit.Total.Visible (begin)
    <div id="r_Total" @Html.Raw(subAktivitasInputDataRtwEdit.Total.RowAttributes)>
        <label id="elh_SubAktivitasInputDataRTW_Total" for="x_Total" class="@(subAktivitasInputDataRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataRtwEdit.Total.Caption)@Html.Raw(subAktivitasInputDataRtwEdit.Total.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataRtwEdit.Total.CellAttributes)>
<span id="el_SubAktivitasInputDataRTW_Total">
<input type="@(subAktivitasInputDataRtwEdit.Total.InputTextType)" name="x_Total" id="x_Total" data-table="SubAktivitasInputDataRTW" data-field="x_Total" value="@Html.Raw(subAktivitasInputDataRtwEdit.Total.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputDataRtwEdit.Total.PlaceHolder))" data-format-pattern="@(subAktivitasInputDataRtwEdit.Total.FormatPattern)"@Html.Raw(subAktivitasInputDataRtwEdit.Total.EditAttributes) aria-describedby="x_Total_help">
@Html.Raw(subAktivitasInputDataRtwEdit.Total.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputDataRtwEdit.Total.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputDataRtwEdit.Total.Visible (end) *@
@if (subAktivitasInputDataRtwEdit.NoMeter.Visible) { // subAktivitasInputDataRtwEdit.NoMeter.Visible (begin)
    <div id="r_NoMeter" @Html.Raw(subAktivitasInputDataRtwEdit.NoMeter.RowAttributes)>
        <label id="elh_SubAktivitasInputDataRTW_NoMeter" for="x_NoMeter" class="@(subAktivitasInputDataRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataRtwEdit.NoMeter.Caption)@Html.Raw(subAktivitasInputDataRtwEdit.NoMeter.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataRtwEdit.NoMeter.CellAttributes)>
<span id="el_SubAktivitasInputDataRTW_NoMeter">
<input type="@(subAktivitasInputDataRtwEdit.NoMeter.InputTextType)" name="x_NoMeter" id="x_NoMeter" data-table="SubAktivitasInputDataRTW" data-field="x_NoMeter" value="@Html.Raw(subAktivitasInputDataRtwEdit.NoMeter.EditValue)" size="30" maxlength="10" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputDataRtwEdit.NoMeter.PlaceHolder))" data-format-pattern="@(subAktivitasInputDataRtwEdit.NoMeter.FormatPattern)"@Html.Raw(subAktivitasInputDataRtwEdit.NoMeter.EditAttributes) aria-describedby="x_NoMeter_help">
@Html.Raw(subAktivitasInputDataRtwEdit.NoMeter.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputDataRtwEdit.NoMeter.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputDataRtwEdit.NoMeter.Visible (end) *@
@if (subAktivitasInputDataRtwEdit.Quantity.Visible) { // subAktivitasInputDataRtwEdit.Quantity.Visible (begin)
    <div id="r_Quantity" @Html.Raw(subAktivitasInputDataRtwEdit.Quantity.RowAttributes)>
        <label id="elh_SubAktivitasInputDataRTW_Quantity" for="x_Quantity" class="@(subAktivitasInputDataRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataRtwEdit.Quantity.Caption)@Html.Raw(subAktivitasInputDataRtwEdit.Quantity.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataRtwEdit.Quantity.CellAttributes)>
<span id="el_SubAktivitasInputDataRTW_Quantity">
<input type="@(subAktivitasInputDataRtwEdit.Quantity.InputTextType)" name="x_Quantity" id="x_Quantity" data-table="SubAktivitasInputDataRTW" data-field="x_Quantity" value="@Html.Raw(subAktivitasInputDataRtwEdit.Quantity.EditValue)" size="30" maxlength="10" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputDataRtwEdit.Quantity.PlaceHolder))" data-format-pattern="@(subAktivitasInputDataRtwEdit.Quantity.FormatPattern)"@Html.Raw(subAktivitasInputDataRtwEdit.Quantity.EditAttributes) aria-describedby="x_Quantity_help">
@Html.Raw(subAktivitasInputDataRtwEdit.Quantity.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputDataRtwEdit.Quantity.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputDataRtwEdit.Quantity.Visible (end) *@
@if (subAktivitasInputDataRtwEdit.HasilPengukuranT2.Visible) { // subAktivitasInputDataRtwEdit.HasilPengukuranT2.Visible (begin)
    <div id="r_HasilPengukuranT2" @Html.Raw(subAktivitasInputDataRtwEdit.HasilPengukuranT2.RowAttributes)>
        <label id="elh_SubAktivitasInputDataRTW_HasilPengukuranT2" for="x_HasilPengukuranT2" class="@(subAktivitasInputDataRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataRtwEdit.HasilPengukuranT2.Caption)@Html.Raw(subAktivitasInputDataRtwEdit.HasilPengukuranT2.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataRtwEdit.HasilPengukuranT2.CellAttributes)>
<span id="el_SubAktivitasInputDataRTW_HasilPengukuranT2">
<input type="@(subAktivitasInputDataRtwEdit.HasilPengukuranT2.InputTextType)" name="x_HasilPengukuranT2" id="x_HasilPengukuranT2" data-table="SubAktivitasInputDataRTW" data-field="x_HasilPengukuranT2" value="@Html.Raw(subAktivitasInputDataRtwEdit.HasilPengukuranT2.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputDataRtwEdit.HasilPengukuranT2.PlaceHolder))" data-format-pattern="@(subAktivitasInputDataRtwEdit.HasilPengukuranT2.FormatPattern)"@Html.Raw(subAktivitasInputDataRtwEdit.HasilPengukuranT2.EditAttributes) aria-describedby="x_HasilPengukuranT2_help">
@Html.Raw(subAktivitasInputDataRtwEdit.HasilPengukuranT2.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputDataRtwEdit.HasilPengukuranT2.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputDataRtwEdit.HasilPengukuranT2.Visible (end) *@
@if (subAktivitasInputDataRtwEdit.PICPengisian.Visible) { // subAktivitasInputDataRtwEdit.PICPengisian.Visible (begin)
    <div id="r_PICPengisian" @Html.Raw(subAktivitasInputDataRtwEdit.PICPengisian.RowAttributes)>
        <label id="elh_SubAktivitasInputDataRTW_PICPengisian" for="x_PICPengisian" class="@(subAktivitasInputDataRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataRtwEdit.PICPengisian.Caption)@Html.Raw(subAktivitasInputDataRtwEdit.PICPengisian.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataRtwEdit.PICPengisian.CellAttributes)>
<span id="el_SubAktivitasInputDataRTW_PICPengisian">
<input type="@(subAktivitasInputDataRtwEdit.PICPengisian.InputTextType)" name="x_PICPengisian" id="x_PICPengisian" data-table="SubAktivitasInputDataRTW" data-field="x_PICPengisian" value="@Html.Raw(subAktivitasInputDataRtwEdit.PICPengisian.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputDataRtwEdit.PICPengisian.PlaceHolder))" data-format-pattern="@(subAktivitasInputDataRtwEdit.PICPengisian.FormatPattern)"@Html.Raw(subAktivitasInputDataRtwEdit.PICPengisian.EditAttributes) aria-describedby="x_PICPengisian_help">
@Html.Raw(subAktivitasInputDataRtwEdit.PICPengisian.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputDataRtwEdit.PICPengisian.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputDataRtwEdit.PICPengisian.Visible (end) *@
@if (subAktivitasInputDataRtwEdit.NomorGerbongKertel2.Visible) { // subAktivitasInputDataRtwEdit.NomorGerbongKertel2.Visible (begin)
    <div id="r_NomorGerbongKertel2" @Html.Raw(subAktivitasInputDataRtwEdit.NomorGerbongKertel2.RowAttributes)>
        <label id="elh_SubAktivitasInputDataRTW_NomorGerbongKertel2" for="x_NomorGerbongKertel2" class="@(subAktivitasInputDataRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataRtwEdit.NomorGerbongKertel2.Caption)@Html.Raw(subAktivitasInputDataRtwEdit.NomorGerbongKertel2.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataRtwEdit.NomorGerbongKertel2.CellAttributes)>
<span id="el_SubAktivitasInputDataRTW_NomorGerbongKertel2">
<input type="@(subAktivitasInputDataRtwEdit.NomorGerbongKertel2.InputTextType)" name="x_NomorGerbongKertel2" id="x_NomorGerbongKertel2" data-table="SubAktivitasInputDataRTW" data-field="x_NomorGerbongKertel2" value="@Html.Raw(subAktivitasInputDataRtwEdit.NomorGerbongKertel2.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputDataRtwEdit.NomorGerbongKertel2.PlaceHolder))" data-format-pattern="@(subAktivitasInputDataRtwEdit.NomorGerbongKertel2.FormatPattern)"@Html.Raw(subAktivitasInputDataRtwEdit.NomorGerbongKertel2.EditAttributes) aria-describedby="x_NomorGerbongKertel2_help">
@Html.Raw(subAktivitasInputDataRtwEdit.NomorGerbongKertel2.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputDataRtwEdit.NomorGerbongKertel2.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputDataRtwEdit.NomorGerbongKertel2.Visible (end) *@
@if (subAktivitasInputDataRtwEdit.NomorGerbongKertel3.Visible) { // subAktivitasInputDataRtwEdit.NomorGerbongKertel3.Visible (begin)
    <div id="r_NomorGerbongKertel3" @Html.Raw(subAktivitasInputDataRtwEdit.NomorGerbongKertel3.RowAttributes)>
        <label id="elh_SubAktivitasInputDataRTW_NomorGerbongKertel3" for="x_NomorGerbongKertel3" class="@(subAktivitasInputDataRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataRtwEdit.NomorGerbongKertel3.Caption)@Html.Raw(subAktivitasInputDataRtwEdit.NomorGerbongKertel3.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataRtwEdit.NomorGerbongKertel3.CellAttributes)>
<span id="el_SubAktivitasInputDataRTW_NomorGerbongKertel3">
<input type="@(subAktivitasInputDataRtwEdit.NomorGerbongKertel3.InputTextType)" name="x_NomorGerbongKertel3" id="x_NomorGerbongKertel3" data-table="SubAktivitasInputDataRTW" data-field="x_NomorGerbongKertel3" value="@Html.Raw(subAktivitasInputDataRtwEdit.NomorGerbongKertel3.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputDataRtwEdit.NomorGerbongKertel3.PlaceHolder))" data-format-pattern="@(subAktivitasInputDataRtwEdit.NomorGerbongKertel3.FormatPattern)"@Html.Raw(subAktivitasInputDataRtwEdit.NomorGerbongKertel3.EditAttributes) aria-describedby="x_NomorGerbongKertel3_help">
@Html.Raw(subAktivitasInputDataRtwEdit.NomorGerbongKertel3.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputDataRtwEdit.NomorGerbongKertel3.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputDataRtwEdit.NomorGerbongKertel3.Visible (end) *@
@if (subAktivitasInputDataRtwEdit.Quantity2.Visible) { // subAktivitasInputDataRtwEdit.Quantity2.Visible (begin)
    <div id="r_Quantity2" @Html.Raw(subAktivitasInputDataRtwEdit.Quantity2.RowAttributes)>
        <label id="elh_SubAktivitasInputDataRTW_Quantity2" for="x_Quantity2" class="@(subAktivitasInputDataRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataRtwEdit.Quantity2.Caption)@Html.Raw(subAktivitasInputDataRtwEdit.Quantity2.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataRtwEdit.Quantity2.CellAttributes)>
<span id="el_SubAktivitasInputDataRTW_Quantity2">
<input type="@(subAktivitasInputDataRtwEdit.Quantity2.InputTextType)" name="x_Quantity2" id="x_Quantity2" data-table="SubAktivitasInputDataRTW" data-field="x_Quantity2" value="@Html.Raw(subAktivitasInputDataRtwEdit.Quantity2.EditValue)" size="30" maxlength="10" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputDataRtwEdit.Quantity2.PlaceHolder))" data-format-pattern="@(subAktivitasInputDataRtwEdit.Quantity2.FormatPattern)"@Html.Raw(subAktivitasInputDataRtwEdit.Quantity2.EditAttributes) aria-describedby="x_Quantity2_help">
@Html.Raw(subAktivitasInputDataRtwEdit.Quantity2.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputDataRtwEdit.Quantity2.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputDataRtwEdit.Quantity2.Visible (end) *@
@if (subAktivitasInputDataRtwEdit.Quantity3.Visible) { // subAktivitasInputDataRtwEdit.Quantity3.Visible (begin)
    <div id="r_Quantity3" @Html.Raw(subAktivitasInputDataRtwEdit.Quantity3.RowAttributes)>
        <label id="elh_SubAktivitasInputDataRTW_Quantity3" for="x_Quantity3" class="@(subAktivitasInputDataRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataRtwEdit.Quantity3.Caption)@Html.Raw(subAktivitasInputDataRtwEdit.Quantity3.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataRtwEdit.Quantity3.CellAttributes)>
<span id="el_SubAktivitasInputDataRTW_Quantity3">
<input type="@(subAktivitasInputDataRtwEdit.Quantity3.InputTextType)" name="x_Quantity3" id="x_Quantity3" data-table="SubAktivitasInputDataRTW" data-field="x_Quantity3" value="@Html.Raw(subAktivitasInputDataRtwEdit.Quantity3.EditValue)" size="30" maxlength="10" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputDataRtwEdit.Quantity3.PlaceHolder))" data-format-pattern="@(subAktivitasInputDataRtwEdit.Quantity3.FormatPattern)"@Html.Raw(subAktivitasInputDataRtwEdit.Quantity3.EditAttributes) aria-describedby="x_Quantity3_help">
@Html.Raw(subAktivitasInputDataRtwEdit.Quantity3.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputDataRtwEdit.Quantity3.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputDataRtwEdit.Quantity3.Visible (end) *@
@if (subAktivitasInputDataRtwEdit.HasilPengukuranT2_2.Visible) { // subAktivitasInputDataRtwEdit.HasilPengukuranT2_2.Visible (begin)
    <div id="r_HasilPengukuranT2_2" @Html.Raw(subAktivitasInputDataRtwEdit.HasilPengukuranT2_2.RowAttributes)>
        <label id="elh_SubAktivitasInputDataRTW_HasilPengukuranT2_2" for="x_HasilPengukuranT2_2" class="@(subAktivitasInputDataRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataRtwEdit.HasilPengukuranT2_2.Caption)@Html.Raw(subAktivitasInputDataRtwEdit.HasilPengukuranT2_2.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataRtwEdit.HasilPengukuranT2_2.CellAttributes)>
<span id="el_SubAktivitasInputDataRTW_HasilPengukuranT2_2">
<input type="@(subAktivitasInputDataRtwEdit.HasilPengukuranT2_2.InputTextType)" name="x_HasilPengukuranT2_2" id="x_HasilPengukuranT2_2" data-table="SubAktivitasInputDataRTW" data-field="x_HasilPengukuranT2_2" value="@Html.Raw(subAktivitasInputDataRtwEdit.HasilPengukuranT2_2.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputDataRtwEdit.HasilPengukuranT2_2.PlaceHolder))" data-format-pattern="@(subAktivitasInputDataRtwEdit.HasilPengukuranT2_2.FormatPattern)"@Html.Raw(subAktivitasInputDataRtwEdit.HasilPengukuranT2_2.EditAttributes) aria-describedby="x_HasilPengukuranT2_2_help">
@Html.Raw(subAktivitasInputDataRtwEdit.HasilPengukuranT2_2.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputDataRtwEdit.HasilPengukuranT2_2.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputDataRtwEdit.HasilPengukuranT2_2.Visible (end) *@
@if (subAktivitasInputDataRtwEdit.HasilPengukuranT2_3.Visible) { // subAktivitasInputDataRtwEdit.HasilPengukuranT2_3.Visible (begin)
    <div id="r_HasilPengukuranT2_3" @Html.Raw(subAktivitasInputDataRtwEdit.HasilPengukuranT2_3.RowAttributes)>
        <label id="elh_SubAktivitasInputDataRTW_HasilPengukuranT2_3" for="x_HasilPengukuranT2_3" class="@(subAktivitasInputDataRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataRtwEdit.HasilPengukuranT2_3.Caption)@Html.Raw(subAktivitasInputDataRtwEdit.HasilPengukuranT2_3.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataRtwEdit.HasilPengukuranT2_3.CellAttributes)>
<span id="el_SubAktivitasInputDataRTW_HasilPengukuranT2_3">
<input type="@(subAktivitasInputDataRtwEdit.HasilPengukuranT2_3.InputTextType)" name="x_HasilPengukuranT2_3" id="x_HasilPengukuranT2_3" data-table="SubAktivitasInputDataRTW" data-field="x_HasilPengukuranT2_3" value="@Html.Raw(subAktivitasInputDataRtwEdit.HasilPengukuranT2_3.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputDataRtwEdit.HasilPengukuranT2_3.PlaceHolder))" data-format-pattern="@(subAktivitasInputDataRtwEdit.HasilPengukuranT2_3.FormatPattern)"@Html.Raw(subAktivitasInputDataRtwEdit.HasilPengukuranT2_3.EditAttributes) aria-describedby="x_HasilPengukuranT2_3_help">
@Html.Raw(subAktivitasInputDataRtwEdit.HasilPengukuranT2_3.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputDataRtwEdit.HasilPengukuranT2_3.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputDataRtwEdit.HasilPengukuranT2_3.Visible (end) *@
@if (subAktivitasInputDataRtwEdit.TotalGK.Visible) { // subAktivitasInputDataRtwEdit.TotalGK.Visible (begin)
    <div id="r_TotalGK" @Html.Raw(subAktivitasInputDataRtwEdit.TotalGK.RowAttributes)>
        <label id="elh_SubAktivitasInputDataRTW_TotalGK" for="x_TotalGK" class="@(subAktivitasInputDataRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataRtwEdit.TotalGK.Caption)@Html.Raw(subAktivitasInputDataRtwEdit.TotalGK.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataRtwEdit.TotalGK.CellAttributes)>
<span id="el_SubAktivitasInputDataRTW_TotalGK">
<input type="@(subAktivitasInputDataRtwEdit.TotalGK.InputTextType)" name="x_TotalGK" id="x_TotalGK" data-table="SubAktivitasInputDataRTW" data-field="x_TotalGK" value="@Html.Raw(subAktivitasInputDataRtwEdit.TotalGK.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputDataRtwEdit.TotalGK.PlaceHolder))" data-format-pattern="@(subAktivitasInputDataRtwEdit.TotalGK.FormatPattern)"@Html.Raw(subAktivitasInputDataRtwEdit.TotalGK.EditAttributes) aria-describedby="x_TotalGK_help">
@Html.Raw(subAktivitasInputDataRtwEdit.TotalGK.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputDataRtwEdit.TotalGK.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputDataRtwEdit.TotalGK.Visible (end) *@
@if (subAktivitasInputDataRtwEdit.Selisih.Visible) { // subAktivitasInputDataRtwEdit.Selisih.Visible (begin)
    <div id="r_Selisih" @Html.Raw(subAktivitasInputDataRtwEdit.Selisih.RowAttributes)>
        <label id="elh_SubAktivitasInputDataRTW_Selisih" for="x_Selisih" class="@(subAktivitasInputDataRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataRtwEdit.Selisih.Caption)@Html.Raw(subAktivitasInputDataRtwEdit.Selisih.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataRtwEdit.Selisih.CellAttributes)>
<span id="el_SubAktivitasInputDataRTW_Selisih">
<input type="@(subAktivitasInputDataRtwEdit.Selisih.InputTextType)" name="x_Selisih" id="x_Selisih" data-table="SubAktivitasInputDataRTW" data-field="x_Selisih" value="@Html.Raw(subAktivitasInputDataRtwEdit.Selisih.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputDataRtwEdit.Selisih.PlaceHolder))" data-format-pattern="@(subAktivitasInputDataRtwEdit.Selisih.FormatPattern)"@Html.Raw(subAktivitasInputDataRtwEdit.Selisih.EditAttributes) aria-describedby="x_Selisih_help">
@Html.Raw(subAktivitasInputDataRtwEdit.Selisih.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputDataRtwEdit.Selisih.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputDataRtwEdit.Selisih.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="SubAktivitasInputDataRTW" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasInputDataRtwEdit.id.CurrentValue))">
@{ subAktivitasInputDataRtwEdit.CloseRecordset(); }
@Html.Raw(subAktivitasInputDataRtwEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasInputDataRtwEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasInputDataRTWedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasInputDataRTWedit" data-href="@AppPath(subAktivitasInputDataRtwEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasInputDataRtwEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasInputDataRtwEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasInputDataRTW");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
