@{
    // View
    View = this;

    // Check action result
    if (subAktivitasStartBongkarStslpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasStartBongkarStslpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasStartBongkarStslpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasStartBongkarStslpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasStartBongkarSTSLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasStartBongkarStslpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasStartBongkarStslpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasStartBongkarStslpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasStartBongkarStslpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasStartBongkarStslpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasStartBongkarStslpgList.TotalRecords > 0 && subAktivitasStartBongkarStslpgList.ExportOptions.Visible) {
    subAktivitasStartBongkarStslpgList.ExportOptions.Render("body");
}
@if (subAktivitasStartBongkarStslpgList.ImportOptions.Visible) {
    subAktivitasStartBongkarStslpgList.ImportOptions.Render("body");
}
@if (subAktivitasStartBongkarStslpgList.SearchOptions.Visible) {
    subAktivitasStartBongkarStslpgList.SearchOptions.Render("body");
}
@if (subAktivitasStartBongkarStslpgList.FilterOptions.Visible) {
    subAktivitasStartBongkarStslpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasStartBongkarStslpgList.IsModal) {
<form name="fSubAktivitasStartBongkarSTSLPGsrch" id="fSubAktivitasStartBongkarSTSLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasStartBongkarSTSLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasStartBongkarStslpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasStartBongkarStslpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasStartBongkarSTSLPG: currentTable } });
var currentForm;
var fSubAktivitasStartBongkarSTSLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasStartBongkarSTSLPGsrch")
        .setPageId("list")
@if (subAktivitasStartBongkarStslpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasStartBongkarStslpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasStartBongkarStslpgList.IsExport() && Empty(subAktivitasStartBongkarStslpgList.CurrentAction) && subAktivitasStartBongkarStslpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasStartBongkarStslpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasStartBongkarStslpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasStartBongkarStslpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasStartBongkarStslpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasStartBongkarSTSLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasStartBongkarStslpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasStartBongkarSTSLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasStartBongkarStslpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasStartBongkarSTSLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasStartBongkarStslpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasStartBongkarSTSLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasStartBongkarStslpgList.ShowPageHeader()
@subAktivitasStartBongkarStslpgList.ShowMessages()
<main class="list @(subAktivitasStartBongkarStslpgList.TotalRecords == 0 && !subAktivitasStartBongkarStslpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasStartBongkarStslpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasStartBongkarStslpgList.TotalRecords > 0 || !Empty(subAktivitasStartBongkarStslpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasStartBongkarStslpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasStartBongkarStslpgList.TableGridClass)">
<form name="@(subAktivitasStartBongkarStslpgList.FormName)" id="@(subAktivitasStartBongkarStslpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasStartBongkarStslpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasStartBongkarStslpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasStartBongkarSTSLPG" class="card-body ew-grid-middle-panel @(subAktivitasStartBongkarStslpgList.TableContainerClass)" style="@(subAktivitasStartBongkarStslpgList.TableContainerStyle)">
@if (subAktivitasStartBongkarStslpgList.TotalRecords > 0 || subAktivitasStartBongkarStslpgList.IsGridEdit || subAktivitasStartBongkarStslpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasStartBongkarSTSLPGlist" class="@(subAktivitasStartBongkarStslpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasStartBongkarStslpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasStartBongkarStslpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasStartBongkarStslpgList.ListOptions.RenderHeader("left")
@if (subAktivitasStartBongkarStslpgList.id.Visible) { // subAktivitasStartBongkarStslpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasStartBongkarStslpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasStartBongkarSTSLPG_id" class="SubAktivitasStartBongkarSTSLPG_id">@Html.Raw(subAktivitasStartBongkarStslpgList.RenderFieldHeader(subAktivitasStartBongkarStslpgList.id))</div></th>
} @* subAktivitasStartBongkarStslpgList.id.Visible (end) *@
@if (subAktivitasStartBongkarStslpgList.NoReferensi.Visible) { // subAktivitasStartBongkarStslpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasStartBongkarStslpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasStartBongkarSTSLPG_NoReferensi" class="SubAktivitasStartBongkarSTSLPG_NoReferensi">@Html.Raw(subAktivitasStartBongkarStslpgList.RenderFieldHeader(subAktivitasStartBongkarStslpgList.NoReferensi))</div></th>
} @* subAktivitasStartBongkarStslpgList.NoReferensi.Visible (end) *@
@if (subAktivitasStartBongkarStslpgList.idProses.Visible) { // subAktivitasStartBongkarStslpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasStartBongkarStslpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasStartBongkarSTSLPG_idProses" class="SubAktivitasStartBongkarSTSLPG_idProses">@Html.Raw(subAktivitasStartBongkarStslpgList.RenderFieldHeader(subAktivitasStartBongkarStslpgList.idProses))</div></th>
} @* subAktivitasStartBongkarStslpgList.idProses.Visible (end) *@
@if (subAktivitasStartBongkarStslpgList.idAktifitas.Visible) { // subAktivitasStartBongkarStslpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasStartBongkarStslpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasStartBongkarSTSLPG_idAktifitas" class="SubAktivitasStartBongkarSTSLPG_idAktifitas">@Html.Raw(subAktivitasStartBongkarStslpgList.RenderFieldHeader(subAktivitasStartBongkarStslpgList.idAktifitas))</div></th>
} @* subAktivitasStartBongkarStslpgList.idAktifitas.Visible (end) *@
@if (subAktivitasStartBongkarStslpgList.StatusAktivitas.Visible) { // subAktivitasStartBongkarStslpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasStartBongkarStslpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasStartBongkarSTSLPG_StatusAktivitas" class="SubAktivitasStartBongkarSTSLPG_StatusAktivitas">@Html.Raw(subAktivitasStartBongkarStslpgList.RenderFieldHeader(subAktivitasStartBongkarStslpgList.StatusAktivitas))</div></th>
} @* subAktivitasStartBongkarStslpgList.StatusAktivitas.Visible (end) *@
@if (subAktivitasStartBongkarStslpgList.LastUpdatedBy.Visible) { // subAktivitasStartBongkarStslpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasStartBongkarStslpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasStartBongkarSTSLPG_LastUpdatedBy" class="SubAktivitasStartBongkarSTSLPG_LastUpdatedBy">@Html.Raw(subAktivitasStartBongkarStslpgList.RenderFieldHeader(subAktivitasStartBongkarStslpgList.LastUpdatedBy))</div></th>
} @* subAktivitasStartBongkarStslpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasStartBongkarStslpgList.lastUpdatedDate.Visible) { // subAktivitasStartBongkarStslpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasStartBongkarStslpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasStartBongkarSTSLPG_lastUpdatedDate" class="SubAktivitasStartBongkarSTSLPG_lastUpdatedDate">@Html.Raw(subAktivitasStartBongkarStslpgList.RenderFieldHeader(subAktivitasStartBongkarStslpgList.lastUpdatedDate))</div></th>
} @* subAktivitasStartBongkarStslpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasStartBongkarStslpgList.tglStartBongkar.Visible) { // subAktivitasStartBongkarStslpgList.tglStartBongkar.Visible (begin)
        <th data-name="tglStartBongkar" class="@(subAktivitasStartBongkarStslpgList.tglStartBongkar.HeaderCellClass)"><div id="elh_SubAktivitasStartBongkarSTSLPG_tglStartBongkar" class="SubAktivitasStartBongkarSTSLPG_tglStartBongkar">@Html.Raw(subAktivitasStartBongkarStslpgList.RenderFieldHeader(subAktivitasStartBongkarStslpgList.tglStartBongkar))</div></th>
} @* subAktivitasStartBongkarStslpgList.tglStartBongkar.Visible (end) *@
@if (subAktivitasStartBongkarStslpgList.userInput.Visible) { // subAktivitasStartBongkarStslpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasStartBongkarStslpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasStartBongkarSTSLPG_userInput" class="SubAktivitasStartBongkarSTSLPG_userInput">@Html.Raw(subAktivitasStartBongkarStslpgList.RenderFieldHeader(subAktivitasStartBongkarStslpgList.userInput))</div></th>
} @* subAktivitasStartBongkarStslpgList.userInput.Visible (end) *@
@if (subAktivitasStartBongkarStslpgList.etlDate.Visible) { // subAktivitasStartBongkarStslpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasStartBongkarStslpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasStartBongkarSTSLPG_etlDate" class="SubAktivitasStartBongkarSTSLPG_etlDate">@Html.Raw(subAktivitasStartBongkarStslpgList.RenderFieldHeader(subAktivitasStartBongkarStslpgList.etlDate))</div></th>
} @* subAktivitasStartBongkarStslpgList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasStartBongkarStslpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasStartBongkarStslpgList.PageNumber)">
@{
    await subAktivitasStartBongkarStslpgList.SetupGrid();
    bool eof = subAktivitasStartBongkarStslpgList.Recordset == null; // DN
}
@while (subAktivitasStartBongkarStslpgList.RecordCount < subAktivitasStartBongkarStslpgList.StopRecord || SameString(subAktivitasStartBongkarStslpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasStartBongkarStslpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasStartBongkarStslpgList.IsGridAdd || subAktivitasStartBongkarStslpgList.CurrentMode == "copy") &&
        (!((subAktivitasStartBongkarStslpgList.IsCopy || subAktivitasStartBongkarStslpgList.IsAdd) && subAktivitasStartBongkarStslpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasStartBongkarStslpgList.Recordset.ReadAsync();
    subAktivitasStartBongkarStslpgList.RecordCount++;
    if (subAktivitasStartBongkarStslpgList.RecordCount >= subAktivitasStartBongkarStslpgList.StartRecord) {
        await subAktivitasStartBongkarStslpgList.SetupRow();
    <tr @Html.Raw(subAktivitasStartBongkarStslpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasStartBongkarStslpgList.ListOptions.RenderBody("left", subAktivitasStartBongkarStslpgList.RowCount)
    @if (subAktivitasStartBongkarStslpgList.id.Visible) { // subAktivitasStartBongkarStslpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasStartBongkarStslpgList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasStartBongkarStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStartBongkarStslpgList.RowCount)_SubAktivitasStartBongkarSTSLPG_id" class="el_SubAktivitasStartBongkarSTSLPG_id">
<span @Html.Raw(subAktivitasStartBongkarStslpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasStartBongkarStslpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStartBongkarStslpgList.id.Visible (end) *@
    @if (subAktivitasStartBongkarStslpgList.NoReferensi.Visible) { // subAktivitasStartBongkarStslpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasStartBongkarStslpgList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasStartBongkarStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStartBongkarStslpgList.RowCount)_SubAktivitasStartBongkarSTSLPG_NoReferensi" class="el_SubAktivitasStartBongkarSTSLPG_NoReferensi">
<span @Html.Raw(subAktivitasStartBongkarStslpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasStartBongkarStslpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStartBongkarStslpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasStartBongkarStslpgList.idProses.Visible) { // subAktivitasStartBongkarStslpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasStartBongkarStslpgList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasStartBongkarStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStartBongkarStslpgList.RowCount)_SubAktivitasStartBongkarSTSLPG_idProses" class="el_SubAktivitasStartBongkarSTSLPG_idProses">
<span @Html.Raw(subAktivitasStartBongkarStslpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasStartBongkarStslpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStartBongkarStslpgList.idProses.Visible (end) *@
    @if (subAktivitasStartBongkarStslpgList.idAktifitas.Visible) { // subAktivitasStartBongkarStslpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasStartBongkarStslpgList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasStartBongkarStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStartBongkarStslpgList.RowCount)_SubAktivitasStartBongkarSTSLPG_idAktifitas" class="el_SubAktivitasStartBongkarSTSLPG_idAktifitas">
<span @Html.Raw(subAktivitasStartBongkarStslpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasStartBongkarStslpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStartBongkarStslpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasStartBongkarStslpgList.StatusAktivitas.Visible) { // subAktivitasStartBongkarStslpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasStartBongkarStslpgList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasStartBongkarStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStartBongkarStslpgList.RowCount)_SubAktivitasStartBongkarSTSLPG_StatusAktivitas" class="el_SubAktivitasStartBongkarSTSLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasStartBongkarStslpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasStartBongkarStslpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStartBongkarStslpgList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasStartBongkarStslpgList.LastUpdatedBy.Visible) { // subAktivitasStartBongkarStslpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasStartBongkarStslpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasStartBongkarStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStartBongkarStslpgList.RowCount)_SubAktivitasStartBongkarSTSLPG_LastUpdatedBy" class="el_SubAktivitasStartBongkarSTSLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasStartBongkarStslpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasStartBongkarStslpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStartBongkarStslpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasStartBongkarStslpgList.lastUpdatedDate.Visible) { // subAktivitasStartBongkarStslpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasStartBongkarStslpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasStartBongkarStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStartBongkarStslpgList.RowCount)_SubAktivitasStartBongkarSTSLPG_lastUpdatedDate" class="el_SubAktivitasStartBongkarSTSLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasStartBongkarStslpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasStartBongkarStslpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStartBongkarStslpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasStartBongkarStslpgList.tglStartBongkar.Visible) { // subAktivitasStartBongkarStslpgList.tglStartBongkar.Visible (begin)
        <td data-name="tglStartBongkar" @Html.Raw(subAktivitasStartBongkarStslpgList.tglStartBongkar.CellAttributes)>
<span id="el@(SameString(subAktivitasStartBongkarStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStartBongkarStslpgList.RowCount)_SubAktivitasStartBongkarSTSLPG_tglStartBongkar" class="el_SubAktivitasStartBongkarSTSLPG_tglStartBongkar">
<span @Html.Raw(subAktivitasStartBongkarStslpgList.tglStartBongkar.ViewAttributes)>
@Html.Raw(subAktivitasStartBongkarStslpgList.tglStartBongkar.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStartBongkarStslpgList.tglStartBongkar.Visible (end) *@
    @if (subAktivitasStartBongkarStslpgList.userInput.Visible) { // subAktivitasStartBongkarStslpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasStartBongkarStslpgList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasStartBongkarStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStartBongkarStslpgList.RowCount)_SubAktivitasStartBongkarSTSLPG_userInput" class="el_SubAktivitasStartBongkarSTSLPG_userInput">
<span @Html.Raw(subAktivitasStartBongkarStslpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasStartBongkarStslpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStartBongkarStslpgList.userInput.Visible (end) *@
    @if (subAktivitasStartBongkarStslpgList.etlDate.Visible) { // subAktivitasStartBongkarStslpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasStartBongkarStslpgList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasStartBongkarStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStartBongkarStslpgList.RowCount)_SubAktivitasStartBongkarSTSLPG_etlDate" class="el_SubAktivitasStartBongkarSTSLPG_etlDate">
<span @Html.Raw(subAktivitasStartBongkarStslpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasStartBongkarStslpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStartBongkarStslpgList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasStartBongkarStslpgList.ListOptions.RenderBody("right", subAktivitasStartBongkarStslpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasStartBongkarStslpgList.RowIndex, "$rowindex$"))
        subAktivitasStartBongkarStslpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasStartBongkarStslpgList.IsCopy || subAktivitasStartBongkarStslpgList.IsAdd) && subAktivitasStartBongkarStslpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasStartBongkarStslpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasStartBongkarStslpgList.CurrentAction) && !subAktivitasStartBongkarStslpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasStartBongkarStslpgList.CloseRecordset(); }
@if (!subAktivitasStartBongkarStslpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasStartBongkarStslpgList.IsGridAdd && !(subAktivitasStartBongkarStslpgList.IsGridEdit && subAktivitasStartBongkarStslpgList.ModalGridEdit) && !subAktivitasStartBongkarStslpgList.IsMultiEdit) {
@Html.Raw(subAktivitasStartBongkarStslpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasStartBongkarStslpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasStartBongkarStslpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasStartBongkarStslpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasStartBongkarStslpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasStartBongkarStslpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasStartBongkarSTSLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
