@{
    // View
    View = this;

    // Check action result
    if (subAktivitasInputDataRtwList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasInputDataRtwList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasInputDataRtwList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasInputDataRtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasInputDataRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasInputDataRtwList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasInputDataRtwList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasInputDataRtwList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasInputDataRtwList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasInputDataRtwList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasInputDataRtwList.TotalRecords > 0 && subAktivitasInputDataRtwList.ExportOptions.Visible) {
    subAktivitasInputDataRtwList.ExportOptions.Render("body");
}
@if (subAktivitasInputDataRtwList.ImportOptions.Visible) {
    subAktivitasInputDataRtwList.ImportOptions.Render("body");
}
@if (subAktivitasInputDataRtwList.SearchOptions.Visible) {
    subAktivitasInputDataRtwList.SearchOptions.Render("body");
}
@if (subAktivitasInputDataRtwList.FilterOptions.Visible) {
    subAktivitasInputDataRtwList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasInputDataRtwList.IsModal) {
<form name="fSubAktivitasInputDataRTWsrch" id="fSubAktivitasInputDataRTWsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasInputDataRTWsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasInputDataRtwList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasInputDataRtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasInputDataRTW: currentTable } });
var currentForm;
var fSubAktivitasInputDataRTWsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasInputDataRTWsrch")
        .setPageId("list")
@if (subAktivitasInputDataRtwList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasInputDataRtwList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasInputDataRtwList.IsExport() && Empty(subAktivitasInputDataRtwList.CurrentAction) && subAktivitasInputDataRtwList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasInputDataRtwList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasInputDataRtwList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasInputDataRtwList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasInputDataRtwList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasInputDataRTWsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasInputDataRtwList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasInputDataRTWsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasInputDataRtwList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasInputDataRTWsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasInputDataRtwList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasInputDataRTWsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasInputDataRtwList.ShowPageHeader()
@subAktivitasInputDataRtwList.ShowMessages()
<main class="list @(subAktivitasInputDataRtwList.TotalRecords == 0 && !subAktivitasInputDataRtwList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasInputDataRtwList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasInputDataRtwList.TotalRecords > 0 || !Empty(subAktivitasInputDataRtwList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasInputDataRtwList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasInputDataRtwList.TableGridClass)">
<form name="@(subAktivitasInputDataRtwList.FormName)" id="@(subAktivitasInputDataRtwList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasInputDataRtwList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasInputDataRtwList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasInputDataRTW" class="card-body ew-grid-middle-panel @(subAktivitasInputDataRtwList.TableContainerClass)" style="@(subAktivitasInputDataRtwList.TableContainerStyle)">
@if (subAktivitasInputDataRtwList.TotalRecords > 0 || subAktivitasInputDataRtwList.IsGridEdit || subAktivitasInputDataRtwList.IsMultiEdit) {
<table id="tbl_SubAktivitasInputDataRTWlist" class="@(subAktivitasInputDataRtwList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasInputDataRtwList.RowType = RowType.Header;

    // Render list options
    await subAktivitasInputDataRtwList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasInputDataRtwList.ListOptions.RenderHeader("left")
@if (subAktivitasInputDataRtwList.idAktifitas.Visible) { // subAktivitasInputDataRtwList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasInputDataRtwList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasInputDataRTW_idAktifitas" class="SubAktivitasInputDataRTW_idAktifitas">@Html.Raw(subAktivitasInputDataRtwList.RenderFieldHeader(subAktivitasInputDataRtwList.idAktifitas))</div></th>
} @* subAktivitasInputDataRtwList.idAktifitas.Visible (end) *@
@if (subAktivitasInputDataRtwList.idProses.Visible) { // subAktivitasInputDataRtwList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasInputDataRtwList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasInputDataRTW_idProses" class="SubAktivitasInputDataRTW_idProses">@Html.Raw(subAktivitasInputDataRtwList.RenderFieldHeader(subAktivitasInputDataRtwList.idProses))</div></th>
} @* subAktivitasInputDataRtwList.idProses.Visible (end) *@
@if (subAktivitasInputDataRtwList.NoReferensi.Visible) { // subAktivitasInputDataRtwList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasInputDataRtwList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasInputDataRTW_NoReferensi" class="SubAktivitasInputDataRTW_NoReferensi">@Html.Raw(subAktivitasInputDataRtwList.RenderFieldHeader(subAktivitasInputDataRtwList.NoReferensi))</div></th>
} @* subAktivitasInputDataRtwList.NoReferensi.Visible (end) *@
@if (subAktivitasInputDataRtwList.Produk.Visible) { // subAktivitasInputDataRtwList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasInputDataRtwList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasInputDataRTW_Produk" class="SubAktivitasInputDataRTW_Produk">@Html.Raw(subAktivitasInputDataRtwList.RenderFieldHeader(subAktivitasInputDataRtwList.Produk))</div></th>
} @* subAktivitasInputDataRtwList.Produk.Visible (end) *@
@if (subAktivitasInputDataRtwList.StatusAktivitas.Visible) { // subAktivitasInputDataRtwList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasInputDataRtwList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasInputDataRTW_StatusAktivitas" class="SubAktivitasInputDataRTW_StatusAktivitas">@Html.Raw(subAktivitasInputDataRtwList.RenderFieldHeader(subAktivitasInputDataRtwList.StatusAktivitas))</div></th>
} @* subAktivitasInputDataRtwList.StatusAktivitas.Visible (end) *@
@if (subAktivitasInputDataRtwList.LastUpdatedBy.Visible) { // subAktivitasInputDataRtwList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasInputDataRtwList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasInputDataRTW_LastUpdatedBy" class="SubAktivitasInputDataRTW_LastUpdatedBy">@Html.Raw(subAktivitasInputDataRtwList.RenderFieldHeader(subAktivitasInputDataRtwList.LastUpdatedBy))</div></th>
} @* subAktivitasInputDataRtwList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasInputDataRtwList.lastUpdatedDate.Visible) { // subAktivitasInputDataRtwList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasInputDataRtwList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasInputDataRTW_lastUpdatedDate" class="SubAktivitasInputDataRTW_lastUpdatedDate">@Html.Raw(subAktivitasInputDataRtwList.RenderFieldHeader(subAktivitasInputDataRtwList.lastUpdatedDate))</div></th>
} @* subAktivitasInputDataRtwList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasInputDataRtwList.NomorGerbongKertel.Visible) { // subAktivitasInputDataRtwList.NomorGerbongKertel.Visible (begin)
        <th data-name="NomorGerbongKertel" class="@(subAktivitasInputDataRtwList.NomorGerbongKertel.HeaderCellClass)"><div id="elh_SubAktivitasInputDataRTW_NomorGerbongKertel" class="SubAktivitasInputDataRTW_NomorGerbongKertel">@Html.Raw(subAktivitasInputDataRtwList.RenderFieldHeader(subAktivitasInputDataRtwList.NomorGerbongKertel))</div></th>
} @* subAktivitasInputDataRtwList.NomorGerbongKertel.Visible (end) *@
@if (subAktivitasInputDataRtwList.MeterAwal.Visible) { // subAktivitasInputDataRtwList.MeterAwal.Visible (begin)
        <th data-name="MeterAwal" class="@(subAktivitasInputDataRtwList.MeterAwal.HeaderCellClass)"><div id="elh_SubAktivitasInputDataRTW_MeterAwal" class="SubAktivitasInputDataRTW_MeterAwal">@Html.Raw(subAktivitasInputDataRtwList.RenderFieldHeader(subAktivitasInputDataRtwList.MeterAwal))</div></th>
} @* subAktivitasInputDataRtwList.MeterAwal.Visible (end) *@
@if (subAktivitasInputDataRtwList.MeterAkhir.Visible) { // subAktivitasInputDataRtwList.MeterAkhir.Visible (begin)
        <th data-name="MeterAkhir" class="@(subAktivitasInputDataRtwList.MeterAkhir.HeaderCellClass)"><div id="elh_SubAktivitasInputDataRTW_MeterAkhir" class="SubAktivitasInputDataRTW_MeterAkhir">@Html.Raw(subAktivitasInputDataRtwList.RenderFieldHeader(subAktivitasInputDataRtwList.MeterAkhir))</div></th>
} @* subAktivitasInputDataRtwList.MeterAkhir.Visible (end) *@
@if (subAktivitasInputDataRtwList.Total.Visible) { // subAktivitasInputDataRtwList.Total.Visible (begin)
        <th data-name="Total" class="@(subAktivitasInputDataRtwList.Total.HeaderCellClass)"><div id="elh_SubAktivitasInputDataRTW_Total" class="SubAktivitasInputDataRTW_Total">@Html.Raw(subAktivitasInputDataRtwList.RenderFieldHeader(subAktivitasInputDataRtwList.Total))</div></th>
} @* subAktivitasInputDataRtwList.Total.Visible (end) *@
@if (subAktivitasInputDataRtwList.userInput.Visible) { // subAktivitasInputDataRtwList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasInputDataRtwList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasInputDataRTW_userInput" class="SubAktivitasInputDataRTW_userInput">@Html.Raw(subAktivitasInputDataRtwList.RenderFieldHeader(subAktivitasInputDataRtwList.userInput))</div></th>
} @* subAktivitasInputDataRtwList.userInput.Visible (end) *@
@if (subAktivitasInputDataRtwList.NoMeter.Visible) { // subAktivitasInputDataRtwList.NoMeter.Visible (begin)
        <th data-name="NoMeter" class="@(subAktivitasInputDataRtwList.NoMeter.HeaderCellClass)"><div id="elh_SubAktivitasInputDataRTW_NoMeter" class="SubAktivitasInputDataRTW_NoMeter">@Html.Raw(subAktivitasInputDataRtwList.RenderFieldHeader(subAktivitasInputDataRtwList.NoMeter))</div></th>
} @* subAktivitasInputDataRtwList.NoMeter.Visible (end) *@
@if (subAktivitasInputDataRtwList.Quantity.Visible) { // subAktivitasInputDataRtwList.Quantity.Visible (begin)
        <th data-name="Quantity" class="@(subAktivitasInputDataRtwList.Quantity.HeaderCellClass)"><div id="elh_SubAktivitasInputDataRTW_Quantity" class="SubAktivitasInputDataRTW_Quantity">@Html.Raw(subAktivitasInputDataRtwList.RenderFieldHeader(subAktivitasInputDataRtwList.Quantity))</div></th>
} @* subAktivitasInputDataRtwList.Quantity.Visible (end) *@
@if (subAktivitasInputDataRtwList.HasilPengukuranT2.Visible) { // subAktivitasInputDataRtwList.HasilPengukuranT2.Visible (begin)
        <th data-name="HasilPengukuranT2" class="@(subAktivitasInputDataRtwList.HasilPengukuranT2.HeaderCellClass)"><div id="elh_SubAktivitasInputDataRTW_HasilPengukuranT2" class="SubAktivitasInputDataRTW_HasilPengukuranT2">@Html.Raw(subAktivitasInputDataRtwList.RenderFieldHeader(subAktivitasInputDataRtwList.HasilPengukuranT2))</div></th>
} @* subAktivitasInputDataRtwList.HasilPengukuranT2.Visible (end) *@
@if (subAktivitasInputDataRtwList.PICPengisian.Visible) { // subAktivitasInputDataRtwList.PICPengisian.Visible (begin)
        <th data-name="PICPengisian" class="@(subAktivitasInputDataRtwList.PICPengisian.HeaderCellClass)"><div id="elh_SubAktivitasInputDataRTW_PICPengisian" class="SubAktivitasInputDataRTW_PICPengisian">@Html.Raw(subAktivitasInputDataRtwList.RenderFieldHeader(subAktivitasInputDataRtwList.PICPengisian))</div></th>
} @* subAktivitasInputDataRtwList.PICPengisian.Visible (end) *@
@if (subAktivitasInputDataRtwList.NomorGerbongKertel2.Visible) { // subAktivitasInputDataRtwList.NomorGerbongKertel2.Visible (begin)
        <th data-name="NomorGerbongKertel2" class="@(subAktivitasInputDataRtwList.NomorGerbongKertel2.HeaderCellClass)"><div id="elh_SubAktivitasInputDataRTW_NomorGerbongKertel2" class="SubAktivitasInputDataRTW_NomorGerbongKertel2">@Html.Raw(subAktivitasInputDataRtwList.RenderFieldHeader(subAktivitasInputDataRtwList.NomorGerbongKertel2))</div></th>
} @* subAktivitasInputDataRtwList.NomorGerbongKertel2.Visible (end) *@
@if (subAktivitasInputDataRtwList.NomorGerbongKertel3.Visible) { // subAktivitasInputDataRtwList.NomorGerbongKertel3.Visible (begin)
        <th data-name="NomorGerbongKertel3" class="@(subAktivitasInputDataRtwList.NomorGerbongKertel3.HeaderCellClass)"><div id="elh_SubAktivitasInputDataRTW_NomorGerbongKertel3" class="SubAktivitasInputDataRTW_NomorGerbongKertel3">@Html.Raw(subAktivitasInputDataRtwList.RenderFieldHeader(subAktivitasInputDataRtwList.NomorGerbongKertel3))</div></th>
} @* subAktivitasInputDataRtwList.NomorGerbongKertel3.Visible (end) *@
@if (subAktivitasInputDataRtwList.Quantity2.Visible) { // subAktivitasInputDataRtwList.Quantity2.Visible (begin)
        <th data-name="Quantity2" class="@(subAktivitasInputDataRtwList.Quantity2.HeaderCellClass)"><div id="elh_SubAktivitasInputDataRTW_Quantity2" class="SubAktivitasInputDataRTW_Quantity2">@Html.Raw(subAktivitasInputDataRtwList.RenderFieldHeader(subAktivitasInputDataRtwList.Quantity2))</div></th>
} @* subAktivitasInputDataRtwList.Quantity2.Visible (end) *@
@if (subAktivitasInputDataRtwList.Quantity3.Visible) { // subAktivitasInputDataRtwList.Quantity3.Visible (begin)
        <th data-name="Quantity3" class="@(subAktivitasInputDataRtwList.Quantity3.HeaderCellClass)"><div id="elh_SubAktivitasInputDataRTW_Quantity3" class="SubAktivitasInputDataRTW_Quantity3">@Html.Raw(subAktivitasInputDataRtwList.RenderFieldHeader(subAktivitasInputDataRtwList.Quantity3))</div></th>
} @* subAktivitasInputDataRtwList.Quantity3.Visible (end) *@
@if (subAktivitasInputDataRtwList.HasilPengukuranT2_2.Visible) { // subAktivitasInputDataRtwList.HasilPengukuranT2_2.Visible (begin)
        <th data-name="HasilPengukuranT2_2" class="@(subAktivitasInputDataRtwList.HasilPengukuranT2_2.HeaderCellClass)"><div id="elh_SubAktivitasInputDataRTW_HasilPengukuranT2_2" class="SubAktivitasInputDataRTW_HasilPengukuranT2_2">@Html.Raw(subAktivitasInputDataRtwList.RenderFieldHeader(subAktivitasInputDataRtwList.HasilPengukuranT2_2))</div></th>
} @* subAktivitasInputDataRtwList.HasilPengukuranT2_2.Visible (end) *@
@if (subAktivitasInputDataRtwList.HasilPengukuranT2_3.Visible) { // subAktivitasInputDataRtwList.HasilPengukuranT2_3.Visible (begin)
        <th data-name="HasilPengukuranT2_3" class="@(subAktivitasInputDataRtwList.HasilPengukuranT2_3.HeaderCellClass)"><div id="elh_SubAktivitasInputDataRTW_HasilPengukuranT2_3" class="SubAktivitasInputDataRTW_HasilPengukuranT2_3">@Html.Raw(subAktivitasInputDataRtwList.RenderFieldHeader(subAktivitasInputDataRtwList.HasilPengukuranT2_3))</div></th>
} @* subAktivitasInputDataRtwList.HasilPengukuranT2_3.Visible (end) *@
@if (subAktivitasInputDataRtwList.TotalGK.Visible) { // subAktivitasInputDataRtwList.TotalGK.Visible (begin)
        <th data-name="TotalGK" class="@(subAktivitasInputDataRtwList.TotalGK.HeaderCellClass)"><div id="elh_SubAktivitasInputDataRTW_TotalGK" class="SubAktivitasInputDataRTW_TotalGK">@Html.Raw(subAktivitasInputDataRtwList.RenderFieldHeader(subAktivitasInputDataRtwList.TotalGK))</div></th>
} @* subAktivitasInputDataRtwList.TotalGK.Visible (end) *@
@if (subAktivitasInputDataRtwList.Selisih.Visible) { // subAktivitasInputDataRtwList.Selisih.Visible (begin)
        <th data-name="Selisih" class="@(subAktivitasInputDataRtwList.Selisih.HeaderCellClass)"><div id="elh_SubAktivitasInputDataRTW_Selisih" class="SubAktivitasInputDataRTW_Selisih">@Html.Raw(subAktivitasInputDataRtwList.RenderFieldHeader(subAktivitasInputDataRtwList.Selisih))</div></th>
} @* subAktivitasInputDataRtwList.Selisih.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasInputDataRtwList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasInputDataRtwList.PageNumber)">
@{
    await subAktivitasInputDataRtwList.SetupGrid();
    bool eof = subAktivitasInputDataRtwList.Recordset == null; // DN
}
@while (subAktivitasInputDataRtwList.RecordCount < subAktivitasInputDataRtwList.StopRecord || SameString(subAktivitasInputDataRtwList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasInputDataRtwList.RowIndex, "$rowindex$") &&
        (!subAktivitasInputDataRtwList.IsGridAdd || subAktivitasInputDataRtwList.CurrentMode == "copy") &&
        (!((subAktivitasInputDataRtwList.IsCopy || subAktivitasInputDataRtwList.IsAdd) && subAktivitasInputDataRtwList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasInputDataRtwList.Recordset.ReadAsync();
    subAktivitasInputDataRtwList.RecordCount++;
    if (subAktivitasInputDataRtwList.RecordCount >= subAktivitasInputDataRtwList.StartRecord) {
        await subAktivitasInputDataRtwList.SetupRow();
    <tr @Html.Raw(subAktivitasInputDataRtwList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasInputDataRtwList.ListOptions.RenderBody("left", subAktivitasInputDataRtwList.RowCount)
    @if (subAktivitasInputDataRtwList.idAktifitas.Visible) { // subAktivitasInputDataRtwList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasInputDataRtwList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataRtwList.RowCount)_SubAktivitasInputDataRTW_idAktifitas" class="el_SubAktivitasInputDataRTW_idAktifitas">
<span @Html.Raw(subAktivitasInputDataRtwList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasInputDataRtwList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataRtwList.idAktifitas.Visible (end) *@
    @if (subAktivitasInputDataRtwList.idProses.Visible) { // subAktivitasInputDataRtwList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasInputDataRtwList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataRtwList.RowCount)_SubAktivitasInputDataRTW_idProses" class="el_SubAktivitasInputDataRTW_idProses">
<span @Html.Raw(subAktivitasInputDataRtwList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasInputDataRtwList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataRtwList.idProses.Visible (end) *@
    @if (subAktivitasInputDataRtwList.NoReferensi.Visible) { // subAktivitasInputDataRtwList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasInputDataRtwList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataRtwList.RowCount)_SubAktivitasInputDataRTW_NoReferensi" class="el_SubAktivitasInputDataRTW_NoReferensi">
<span @Html.Raw(subAktivitasInputDataRtwList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasInputDataRtwList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataRtwList.NoReferensi.Visible (end) *@
    @if (subAktivitasInputDataRtwList.Produk.Visible) { // subAktivitasInputDataRtwList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasInputDataRtwList.Produk.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataRtwList.RowCount)_SubAktivitasInputDataRTW_Produk" class="el_SubAktivitasInputDataRTW_Produk">
<span @Html.Raw(subAktivitasInputDataRtwList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasInputDataRtwList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataRtwList.Produk.Visible (end) *@
    @if (subAktivitasInputDataRtwList.StatusAktivitas.Visible) { // subAktivitasInputDataRtwList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasInputDataRtwList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataRtwList.RowCount)_SubAktivitasInputDataRTW_StatusAktivitas" class="el_SubAktivitasInputDataRTW_StatusAktivitas">
<span @Html.Raw(subAktivitasInputDataRtwList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasInputDataRtwList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataRtwList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasInputDataRtwList.LastUpdatedBy.Visible) { // subAktivitasInputDataRtwList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasInputDataRtwList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataRtwList.RowCount)_SubAktivitasInputDataRTW_LastUpdatedBy" class="el_SubAktivitasInputDataRTW_LastUpdatedBy">
<span @Html.Raw(subAktivitasInputDataRtwList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasInputDataRtwList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataRtwList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasInputDataRtwList.lastUpdatedDate.Visible) { // subAktivitasInputDataRtwList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasInputDataRtwList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataRtwList.RowCount)_SubAktivitasInputDataRTW_lastUpdatedDate" class="el_SubAktivitasInputDataRTW_lastUpdatedDate">
<span @Html.Raw(subAktivitasInputDataRtwList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasInputDataRtwList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataRtwList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasInputDataRtwList.NomorGerbongKertel.Visible) { // subAktivitasInputDataRtwList.NomorGerbongKertel.Visible (begin)
        <td data-name="NomorGerbongKertel" @Html.Raw(subAktivitasInputDataRtwList.NomorGerbongKertel.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataRtwList.RowCount)_SubAktivitasInputDataRTW_NomorGerbongKertel" class="el_SubAktivitasInputDataRTW_NomorGerbongKertel">
<span @Html.Raw(subAktivitasInputDataRtwList.NomorGerbongKertel.ViewAttributes)>
@Html.Raw(subAktivitasInputDataRtwList.NomorGerbongKertel.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataRtwList.NomorGerbongKertel.Visible (end) *@
    @if (subAktivitasInputDataRtwList.MeterAwal.Visible) { // subAktivitasInputDataRtwList.MeterAwal.Visible (begin)
        <td data-name="MeterAwal" @Html.Raw(subAktivitasInputDataRtwList.MeterAwal.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataRtwList.RowCount)_SubAktivitasInputDataRTW_MeterAwal" class="el_SubAktivitasInputDataRTW_MeterAwal">
<span @Html.Raw(subAktivitasInputDataRtwList.MeterAwal.ViewAttributes)>
@Html.Raw(subAktivitasInputDataRtwList.MeterAwal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataRtwList.MeterAwal.Visible (end) *@
    @if (subAktivitasInputDataRtwList.MeterAkhir.Visible) { // subAktivitasInputDataRtwList.MeterAkhir.Visible (begin)
        <td data-name="MeterAkhir" @Html.Raw(subAktivitasInputDataRtwList.MeterAkhir.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataRtwList.RowCount)_SubAktivitasInputDataRTW_MeterAkhir" class="el_SubAktivitasInputDataRTW_MeterAkhir">
<span @Html.Raw(subAktivitasInputDataRtwList.MeterAkhir.ViewAttributes)>
@Html.Raw(subAktivitasInputDataRtwList.MeterAkhir.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataRtwList.MeterAkhir.Visible (end) *@
    @if (subAktivitasInputDataRtwList.Total.Visible) { // subAktivitasInputDataRtwList.Total.Visible (begin)
        <td data-name="Total" @Html.Raw(subAktivitasInputDataRtwList.Total.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataRtwList.RowCount)_SubAktivitasInputDataRTW_Total" class="el_SubAktivitasInputDataRTW_Total">
<span @Html.Raw(subAktivitasInputDataRtwList.Total.ViewAttributes)>
@Html.Raw(subAktivitasInputDataRtwList.Total.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataRtwList.Total.Visible (end) *@
    @if (subAktivitasInputDataRtwList.userInput.Visible) { // subAktivitasInputDataRtwList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasInputDataRtwList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataRtwList.RowCount)_SubAktivitasInputDataRTW_userInput" class="el_SubAktivitasInputDataRTW_userInput">
<span @Html.Raw(subAktivitasInputDataRtwList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasInputDataRtwList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataRtwList.userInput.Visible (end) *@
    @if (subAktivitasInputDataRtwList.NoMeter.Visible) { // subAktivitasInputDataRtwList.NoMeter.Visible (begin)
        <td data-name="NoMeter" @Html.Raw(subAktivitasInputDataRtwList.NoMeter.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataRtwList.RowCount)_SubAktivitasInputDataRTW_NoMeter" class="el_SubAktivitasInputDataRTW_NoMeter">
<span @Html.Raw(subAktivitasInputDataRtwList.NoMeter.ViewAttributes)>
@Html.Raw(subAktivitasInputDataRtwList.NoMeter.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataRtwList.NoMeter.Visible (end) *@
    @if (subAktivitasInputDataRtwList.Quantity.Visible) { // subAktivitasInputDataRtwList.Quantity.Visible (begin)
        <td data-name="Quantity" @Html.Raw(subAktivitasInputDataRtwList.Quantity.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataRtwList.RowCount)_SubAktivitasInputDataRTW_Quantity" class="el_SubAktivitasInputDataRTW_Quantity">
<span @Html.Raw(subAktivitasInputDataRtwList.Quantity.ViewAttributes)>
@Html.Raw(subAktivitasInputDataRtwList.Quantity.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataRtwList.Quantity.Visible (end) *@
    @if (subAktivitasInputDataRtwList.HasilPengukuranT2.Visible) { // subAktivitasInputDataRtwList.HasilPengukuranT2.Visible (begin)
        <td data-name="HasilPengukuranT2" @Html.Raw(subAktivitasInputDataRtwList.HasilPengukuranT2.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataRtwList.RowCount)_SubAktivitasInputDataRTW_HasilPengukuranT2" class="el_SubAktivitasInputDataRTW_HasilPengukuranT2">
<span @Html.Raw(subAktivitasInputDataRtwList.HasilPengukuranT2.ViewAttributes)>
@Html.Raw(subAktivitasInputDataRtwList.HasilPengukuranT2.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataRtwList.HasilPengukuranT2.Visible (end) *@
    @if (subAktivitasInputDataRtwList.PICPengisian.Visible) { // subAktivitasInputDataRtwList.PICPengisian.Visible (begin)
        <td data-name="PICPengisian" @Html.Raw(subAktivitasInputDataRtwList.PICPengisian.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataRtwList.RowCount)_SubAktivitasInputDataRTW_PICPengisian" class="el_SubAktivitasInputDataRTW_PICPengisian">
<span @Html.Raw(subAktivitasInputDataRtwList.PICPengisian.ViewAttributes)>
@Html.Raw(subAktivitasInputDataRtwList.PICPengisian.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataRtwList.PICPengisian.Visible (end) *@
    @if (subAktivitasInputDataRtwList.NomorGerbongKertel2.Visible) { // subAktivitasInputDataRtwList.NomorGerbongKertel2.Visible (begin)
        <td data-name="NomorGerbongKertel2" @Html.Raw(subAktivitasInputDataRtwList.NomorGerbongKertel2.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataRtwList.RowCount)_SubAktivitasInputDataRTW_NomorGerbongKertel2" class="el_SubAktivitasInputDataRTW_NomorGerbongKertel2">
<span @Html.Raw(subAktivitasInputDataRtwList.NomorGerbongKertel2.ViewAttributes)>
@Html.Raw(subAktivitasInputDataRtwList.NomorGerbongKertel2.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataRtwList.NomorGerbongKertel2.Visible (end) *@
    @if (subAktivitasInputDataRtwList.NomorGerbongKertel3.Visible) { // subAktivitasInputDataRtwList.NomorGerbongKertel3.Visible (begin)
        <td data-name="NomorGerbongKertel3" @Html.Raw(subAktivitasInputDataRtwList.NomorGerbongKertel3.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataRtwList.RowCount)_SubAktivitasInputDataRTW_NomorGerbongKertel3" class="el_SubAktivitasInputDataRTW_NomorGerbongKertel3">
<span @Html.Raw(subAktivitasInputDataRtwList.NomorGerbongKertel3.ViewAttributes)>
@Html.Raw(subAktivitasInputDataRtwList.NomorGerbongKertel3.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataRtwList.NomorGerbongKertel3.Visible (end) *@
    @if (subAktivitasInputDataRtwList.Quantity2.Visible) { // subAktivitasInputDataRtwList.Quantity2.Visible (begin)
        <td data-name="Quantity2" @Html.Raw(subAktivitasInputDataRtwList.Quantity2.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataRtwList.RowCount)_SubAktivitasInputDataRTW_Quantity2" class="el_SubAktivitasInputDataRTW_Quantity2">
<span @Html.Raw(subAktivitasInputDataRtwList.Quantity2.ViewAttributes)>
@Html.Raw(subAktivitasInputDataRtwList.Quantity2.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataRtwList.Quantity2.Visible (end) *@
    @if (subAktivitasInputDataRtwList.Quantity3.Visible) { // subAktivitasInputDataRtwList.Quantity3.Visible (begin)
        <td data-name="Quantity3" @Html.Raw(subAktivitasInputDataRtwList.Quantity3.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataRtwList.RowCount)_SubAktivitasInputDataRTW_Quantity3" class="el_SubAktivitasInputDataRTW_Quantity3">
<span @Html.Raw(subAktivitasInputDataRtwList.Quantity3.ViewAttributes)>
@Html.Raw(subAktivitasInputDataRtwList.Quantity3.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataRtwList.Quantity3.Visible (end) *@
    @if (subAktivitasInputDataRtwList.HasilPengukuranT2_2.Visible) { // subAktivitasInputDataRtwList.HasilPengukuranT2_2.Visible (begin)
        <td data-name="HasilPengukuranT2_2" @Html.Raw(subAktivitasInputDataRtwList.HasilPengukuranT2_2.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataRtwList.RowCount)_SubAktivitasInputDataRTW_HasilPengukuranT2_2" class="el_SubAktivitasInputDataRTW_HasilPengukuranT2_2">
<span @Html.Raw(subAktivitasInputDataRtwList.HasilPengukuranT2_2.ViewAttributes)>
@Html.Raw(subAktivitasInputDataRtwList.HasilPengukuranT2_2.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataRtwList.HasilPengukuranT2_2.Visible (end) *@
    @if (subAktivitasInputDataRtwList.HasilPengukuranT2_3.Visible) { // subAktivitasInputDataRtwList.HasilPengukuranT2_3.Visible (begin)
        <td data-name="HasilPengukuranT2_3" @Html.Raw(subAktivitasInputDataRtwList.HasilPengukuranT2_3.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataRtwList.RowCount)_SubAktivitasInputDataRTW_HasilPengukuranT2_3" class="el_SubAktivitasInputDataRTW_HasilPengukuranT2_3">
<span @Html.Raw(subAktivitasInputDataRtwList.HasilPengukuranT2_3.ViewAttributes)>
@Html.Raw(subAktivitasInputDataRtwList.HasilPengukuranT2_3.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataRtwList.HasilPengukuranT2_3.Visible (end) *@
    @if (subAktivitasInputDataRtwList.TotalGK.Visible) { // subAktivitasInputDataRtwList.TotalGK.Visible (begin)
        <td data-name="TotalGK" @Html.Raw(subAktivitasInputDataRtwList.TotalGK.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataRtwList.RowCount)_SubAktivitasInputDataRTW_TotalGK" class="el_SubAktivitasInputDataRTW_TotalGK">
<span @Html.Raw(subAktivitasInputDataRtwList.TotalGK.ViewAttributes)>
@Html.Raw(subAktivitasInputDataRtwList.TotalGK.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataRtwList.TotalGK.Visible (end) *@
    @if (subAktivitasInputDataRtwList.Selisih.Visible) { // subAktivitasInputDataRtwList.Selisih.Visible (begin)
        <td data-name="Selisih" @Html.Raw(subAktivitasInputDataRtwList.Selisih.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataRtwList.RowCount)_SubAktivitasInputDataRTW_Selisih" class="el_SubAktivitasInputDataRTW_Selisih">
<span @Html.Raw(subAktivitasInputDataRtwList.Selisih.ViewAttributes)>
@Html.Raw(subAktivitasInputDataRtwList.Selisih.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataRtwList.Selisih.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasInputDataRtwList.ListOptions.RenderBody("right", subAktivitasInputDataRtwList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasInputDataRtwList.RowIndex, "$rowindex$"))
        subAktivitasInputDataRtwList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasInputDataRtwList.IsCopy || subAktivitasInputDataRtwList.IsAdd) && subAktivitasInputDataRtwList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasInputDataRtwList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasInputDataRtwList.CurrentAction) && !subAktivitasInputDataRtwList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasInputDataRtwList.CloseRecordset(); }
@if (!subAktivitasInputDataRtwList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasInputDataRtwList.IsGridAdd && !(subAktivitasInputDataRtwList.IsGridEdit && subAktivitasInputDataRtwList.ModalGridEdit) && !subAktivitasInputDataRtwList.IsMultiEdit) {
@Html.Raw(subAktivitasInputDataRtwList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasInputDataRtwList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasInputDataRtwList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasInputDataRtwList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasInputDataRtwList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasInputDataRtwList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasInputDataRTW");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
