@{
    // View
    View = this;

    // Check action result
    if (subaktivitasStopBongkarStsPnrBbmList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subaktivitasStopBongkarStsPnrBbmList.UseLayout ? "_Layout" : "";
}
@if (!subaktivitasStopBongkarStsPnrBbmList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasStopBongkarStsPnrBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasStopBongkarSTSPnrBBM: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subaktivitasStopBongkarStsPnrBbmList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subaktivitasStopBongkarStsPnrBbmList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subaktivitasStopBongkarStsPnrBbmList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subaktivitasStopBongkarStsPnrBbmList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subaktivitasStopBongkarStsPnrBbmList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subaktivitasStopBongkarStsPnrBbmList.TotalRecords > 0 && subaktivitasStopBongkarStsPnrBbmList.ExportOptions.Visible) {
    subaktivitasStopBongkarStsPnrBbmList.ExportOptions.Render("body");
}
@if (subaktivitasStopBongkarStsPnrBbmList.ImportOptions.Visible) {
    subaktivitasStopBongkarStsPnrBbmList.ImportOptions.Render("body");
}
@if (subaktivitasStopBongkarStsPnrBbmList.SearchOptions.Visible) {
    subaktivitasStopBongkarStsPnrBbmList.SearchOptions.Render("body");
}
@if (subaktivitasStopBongkarStsPnrBbmList.FilterOptions.Visible) {
    subaktivitasStopBongkarStsPnrBbmList.FilterOptions.Render("body");
}
</div>
}
@if (!subaktivitasStopBongkarStsPnrBbmList.IsModal) {
<form name="fSubaktivitasStopBongkarSTSPnrBBMsrch" id="fSubaktivitasStopBongkarSTSPnrBBMsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubaktivitasStopBongkarSTSPnrBBMsrch_search_panel" class="mb-2 mb-sm-0 @(subaktivitasStopBongkarStsPnrBbmList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasStopBongkarStsPnrBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasStopBongkarSTSPnrBBM: currentTable } });
var currentForm;
var fSubaktivitasStopBongkarSTSPnrBBMsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubaktivitasStopBongkarSTSPnrBBMsrch")
        .setPageId("list")
@if (subaktivitasStopBongkarStsPnrBbmList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subaktivitasStopBongkarStsPnrBbmList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subaktivitasStopBongkarStsPnrBbmList.IsExport() && Empty(subaktivitasStopBongkarStsPnrBbmList.CurrentAction) && subaktivitasStopBongkarStsPnrBbmList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subaktivitasStopBongkarStsPnrBbmList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subaktivitasStopBongkarStsPnrBbmList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subaktivitasStopBongkarStsPnrBbmList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subaktivitasStopBongkarStsPnrBbmList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubaktivitasStopBongkarSTSPnrBBMsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subaktivitasStopBongkarStsPnrBbmList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubaktivitasStopBongkarSTSPnrBBMsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subaktivitasStopBongkarStsPnrBbmList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubaktivitasStopBongkarSTSPnrBBMsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subaktivitasStopBongkarStsPnrBbmList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubaktivitasStopBongkarSTSPnrBBMsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subaktivitasStopBongkarStsPnrBbmList.ShowPageHeader()
@subaktivitasStopBongkarStsPnrBbmList.ShowMessages()
<main class="list @(subaktivitasStopBongkarStsPnrBbmList.TotalRecords == 0 && !subaktivitasStopBongkarStsPnrBbmList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subaktivitasStopBongkarStsPnrBbmList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subaktivitasStopBongkarStsPnrBbmList.TotalRecords > 0 || !Empty(subaktivitasStopBongkarStsPnrBbmList.CurrentAction)) {
<div class="card ew-card ew-grid@(subaktivitasStopBongkarStsPnrBbmList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subaktivitasStopBongkarStsPnrBbmList.TableGridClass)">
<form name="@(subaktivitasStopBongkarStsPnrBbmList.FormName)" id="@(subaktivitasStopBongkarStsPnrBbmList.FormName)" class="ew-form ew-list-form" action="@AppPath(subaktivitasStopBongkarStsPnrBbmList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subaktivitasStopBongkarStsPnrBbmList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubaktivitasStopBongkarSTSPnrBBM" class="card-body ew-grid-middle-panel @(subaktivitasStopBongkarStsPnrBbmList.TableContainerClass)" style="@(subaktivitasStopBongkarStsPnrBbmList.TableContainerStyle)">
@if (subaktivitasStopBongkarStsPnrBbmList.TotalRecords > 0 || subaktivitasStopBongkarStsPnrBbmList.IsGridEdit || subaktivitasStopBongkarStsPnrBbmList.IsMultiEdit) {
<table id="tbl_SubaktivitasStopBongkarSTSPnrBBMlist" class="@(subaktivitasStopBongkarStsPnrBbmList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subaktivitasStopBongkarStsPnrBbmList.RowType = RowType.Header;

    // Render list options
    await subaktivitasStopBongkarStsPnrBbmList.RenderListOptions();
}
@* Render list options (header, left) *@
@subaktivitasStopBongkarStsPnrBbmList.ListOptions.RenderHeader("left")
@if (subaktivitasStopBongkarStsPnrBbmList.id.Visible) { // subaktivitasStopBongkarStsPnrBbmList.id.Visible (begin)
        <th data-name="id" class="@(subaktivitasStopBongkarStsPnrBbmList.id.HeaderCellClass)"><div id="elh_SubaktivitasStopBongkarSTSPnrBBM_id" class="SubaktivitasStopBongkarSTSPnrBBM_id">@Html.Raw(subaktivitasStopBongkarStsPnrBbmList.RenderFieldHeader(subaktivitasStopBongkarStsPnrBbmList.id))</div></th>
} @* subaktivitasStopBongkarStsPnrBbmList.id.Visible (end) *@
@if (subaktivitasStopBongkarStsPnrBbmList.NoReferensi.Visible) { // subaktivitasStopBongkarStsPnrBbmList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subaktivitasStopBongkarStsPnrBbmList.NoReferensi.HeaderCellClass)"><div id="elh_SubaktivitasStopBongkarSTSPnrBBM_NoReferensi" class="SubaktivitasStopBongkarSTSPnrBBM_NoReferensi">@Html.Raw(subaktivitasStopBongkarStsPnrBbmList.RenderFieldHeader(subaktivitasStopBongkarStsPnrBbmList.NoReferensi))</div></th>
} @* subaktivitasStopBongkarStsPnrBbmList.NoReferensi.Visible (end) *@
@if (subaktivitasStopBongkarStsPnrBbmList.idProses.Visible) { // subaktivitasStopBongkarStsPnrBbmList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subaktivitasStopBongkarStsPnrBbmList.idProses.HeaderCellClass)"><div id="elh_SubaktivitasStopBongkarSTSPnrBBM_idProses" class="SubaktivitasStopBongkarSTSPnrBBM_idProses">@Html.Raw(subaktivitasStopBongkarStsPnrBbmList.RenderFieldHeader(subaktivitasStopBongkarStsPnrBbmList.idProses))</div></th>
} @* subaktivitasStopBongkarStsPnrBbmList.idProses.Visible (end) *@
@if (subaktivitasStopBongkarStsPnrBbmList.idAktifitas.Visible) { // subaktivitasStopBongkarStsPnrBbmList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subaktivitasStopBongkarStsPnrBbmList.idAktifitas.HeaderCellClass)"><div id="elh_SubaktivitasStopBongkarSTSPnrBBM_idAktifitas" class="SubaktivitasStopBongkarSTSPnrBBM_idAktifitas">@Html.Raw(subaktivitasStopBongkarStsPnrBbmList.RenderFieldHeader(subaktivitasStopBongkarStsPnrBbmList.idAktifitas))</div></th>
} @* subaktivitasStopBongkarStsPnrBbmList.idAktifitas.Visible (end) *@
@if (subaktivitasStopBongkarStsPnrBbmList.StatusAktivitas.Visible) { // subaktivitasStopBongkarStsPnrBbmList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subaktivitasStopBongkarStsPnrBbmList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubaktivitasStopBongkarSTSPnrBBM_StatusAktivitas" class="SubaktivitasStopBongkarSTSPnrBBM_StatusAktivitas">@Html.Raw(subaktivitasStopBongkarStsPnrBbmList.RenderFieldHeader(subaktivitasStopBongkarStsPnrBbmList.StatusAktivitas))</div></th>
} @* subaktivitasStopBongkarStsPnrBbmList.StatusAktivitas.Visible (end) *@
@if (subaktivitasStopBongkarStsPnrBbmList.LastUpdatedBy.Visible) { // subaktivitasStopBongkarStsPnrBbmList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subaktivitasStopBongkarStsPnrBbmList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubaktivitasStopBongkarSTSPnrBBM_LastUpdatedBy" class="SubaktivitasStopBongkarSTSPnrBBM_LastUpdatedBy">@Html.Raw(subaktivitasStopBongkarStsPnrBbmList.RenderFieldHeader(subaktivitasStopBongkarStsPnrBbmList.LastUpdatedBy))</div></th>
} @* subaktivitasStopBongkarStsPnrBbmList.LastUpdatedBy.Visible (end) *@
@if (subaktivitasStopBongkarStsPnrBbmList.lastUpdatedDate.Visible) { // subaktivitasStopBongkarStsPnrBbmList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subaktivitasStopBongkarStsPnrBbmList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubaktivitasStopBongkarSTSPnrBBM_lastUpdatedDate" class="SubaktivitasStopBongkarSTSPnrBBM_lastUpdatedDate">@Html.Raw(subaktivitasStopBongkarStsPnrBbmList.RenderFieldHeader(subaktivitasStopBongkarStsPnrBbmList.lastUpdatedDate))</div></th>
} @* subaktivitasStopBongkarStsPnrBbmList.lastUpdatedDate.Visible (end) *@
@if (subaktivitasStopBongkarStsPnrBbmList.tglStopBongkar.Visible) { // subaktivitasStopBongkarStsPnrBbmList.tglStopBongkar.Visible (begin)
        <th data-name="tglStopBongkar" class="@(subaktivitasStopBongkarStsPnrBbmList.tglStopBongkar.HeaderCellClass)"><div id="elh_SubaktivitasStopBongkarSTSPnrBBM_tglStopBongkar" class="SubaktivitasStopBongkarSTSPnrBBM_tglStopBongkar">@Html.Raw(subaktivitasStopBongkarStsPnrBbmList.RenderFieldHeader(subaktivitasStopBongkarStsPnrBbmList.tglStopBongkar))</div></th>
} @* subaktivitasStopBongkarStsPnrBbmList.tglStopBongkar.Visible (end) *@
@if (subaktivitasStopBongkarStsPnrBbmList.userInput.Visible) { // subaktivitasStopBongkarStsPnrBbmList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subaktivitasStopBongkarStsPnrBbmList.userInput.HeaderCellClass)"><div id="elh_SubaktivitasStopBongkarSTSPnrBBM_userInput" class="SubaktivitasStopBongkarSTSPnrBBM_userInput">@Html.Raw(subaktivitasStopBongkarStsPnrBbmList.RenderFieldHeader(subaktivitasStopBongkarStsPnrBbmList.userInput))</div></th>
} @* subaktivitasStopBongkarStsPnrBbmList.userInput.Visible (end) *@
@if (subaktivitasStopBongkarStsPnrBbmList.etlDate.Visible) { // subaktivitasStopBongkarStsPnrBbmList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subaktivitasStopBongkarStsPnrBbmList.etlDate.HeaderCellClass)"><div id="elh_SubaktivitasStopBongkarSTSPnrBBM_etlDate" class="SubaktivitasStopBongkarSTSPnrBBM_etlDate">@Html.Raw(subaktivitasStopBongkarStsPnrBbmList.RenderFieldHeader(subaktivitasStopBongkarStsPnrBbmList.etlDate))</div></th>
} @* subaktivitasStopBongkarStsPnrBbmList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subaktivitasStopBongkarStsPnrBbmList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subaktivitasStopBongkarStsPnrBbmList.PageNumber)">
@{
    await subaktivitasStopBongkarStsPnrBbmList.SetupGrid();
    bool eof = subaktivitasStopBongkarStsPnrBbmList.Recordset == null; // DN
}
@while (subaktivitasStopBongkarStsPnrBbmList.RecordCount < subaktivitasStopBongkarStsPnrBbmList.StopRecord || SameString(subaktivitasStopBongkarStsPnrBbmList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subaktivitasStopBongkarStsPnrBbmList.RowIndex, "$rowindex$") &&
        (!subaktivitasStopBongkarStsPnrBbmList.IsGridAdd || subaktivitasStopBongkarStsPnrBbmList.CurrentMode == "copy") &&
        (!((subaktivitasStopBongkarStsPnrBbmList.IsCopy || subaktivitasStopBongkarStsPnrBbmList.IsAdd) && subaktivitasStopBongkarStsPnrBbmList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subaktivitasStopBongkarStsPnrBbmList.Recordset.ReadAsync();
    subaktivitasStopBongkarStsPnrBbmList.RecordCount++;
    if (subaktivitasStopBongkarStsPnrBbmList.RecordCount >= subaktivitasStopBongkarStsPnrBbmList.StartRecord) {
        await subaktivitasStopBongkarStsPnrBbmList.SetupRow();
    <tr @Html.Raw(subaktivitasStopBongkarStsPnrBbmList.RowAttributes)>
    @* Render list options (body, left) *@
    @subaktivitasStopBongkarStsPnrBbmList.ListOptions.RenderBody("left", subaktivitasStopBongkarStsPnrBbmList.RowCount)
    @if (subaktivitasStopBongkarStsPnrBbmList.id.Visible) { // subaktivitasStopBongkarStsPnrBbmList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subaktivitasStopBongkarStsPnrBbmList.id.CellAttributes)>
<span id="el@(subaktivitasStopBongkarStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasStopBongkarStsPnrBbmList.RowCount)_SubaktivitasStopBongkarSTSPnrBBM_id" class="el_SubaktivitasStopBongkarSTSPnrBBM_id">
<span @Html.Raw(subaktivitasStopBongkarStsPnrBbmList.id.ViewAttributes)>
@Html.Raw(subaktivitasStopBongkarStsPnrBbmList.id.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStopBongkarStsPnrBbmList.id.Visible (end) *@
    @if (subaktivitasStopBongkarStsPnrBbmList.NoReferensi.Visible) { // subaktivitasStopBongkarStsPnrBbmList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subaktivitasStopBongkarStsPnrBbmList.NoReferensi.CellAttributes)>
<span id="el@(subaktivitasStopBongkarStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasStopBongkarStsPnrBbmList.RowCount)_SubaktivitasStopBongkarSTSPnrBBM_NoReferensi" class="el_SubaktivitasStopBongkarSTSPnrBBM_NoReferensi">
<span @Html.Raw(subaktivitasStopBongkarStsPnrBbmList.NoReferensi.ViewAttributes)>
@Html.Raw(subaktivitasStopBongkarStsPnrBbmList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStopBongkarStsPnrBbmList.NoReferensi.Visible (end) *@
    @if (subaktivitasStopBongkarStsPnrBbmList.idProses.Visible) { // subaktivitasStopBongkarStsPnrBbmList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subaktivitasStopBongkarStsPnrBbmList.idProses.CellAttributes)>
<span id="el@(subaktivitasStopBongkarStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasStopBongkarStsPnrBbmList.RowCount)_SubaktivitasStopBongkarSTSPnrBBM_idProses" class="el_SubaktivitasStopBongkarSTSPnrBBM_idProses">
<span @Html.Raw(subaktivitasStopBongkarStsPnrBbmList.idProses.ViewAttributes)>
@Html.Raw(subaktivitasStopBongkarStsPnrBbmList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStopBongkarStsPnrBbmList.idProses.Visible (end) *@
    @if (subaktivitasStopBongkarStsPnrBbmList.idAktifitas.Visible) { // subaktivitasStopBongkarStsPnrBbmList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subaktivitasStopBongkarStsPnrBbmList.idAktifitas.CellAttributes)>
<span id="el@(subaktivitasStopBongkarStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasStopBongkarStsPnrBbmList.RowCount)_SubaktivitasStopBongkarSTSPnrBBM_idAktifitas" class="el_SubaktivitasStopBongkarSTSPnrBBM_idAktifitas">
<span @Html.Raw(subaktivitasStopBongkarStsPnrBbmList.idAktifitas.ViewAttributes)>
@Html.Raw(subaktivitasStopBongkarStsPnrBbmList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStopBongkarStsPnrBbmList.idAktifitas.Visible (end) *@
    @if (subaktivitasStopBongkarStsPnrBbmList.StatusAktivitas.Visible) { // subaktivitasStopBongkarStsPnrBbmList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subaktivitasStopBongkarStsPnrBbmList.StatusAktivitas.CellAttributes)>
<span id="el@(subaktivitasStopBongkarStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasStopBongkarStsPnrBbmList.RowCount)_SubaktivitasStopBongkarSTSPnrBBM_StatusAktivitas" class="el_SubaktivitasStopBongkarSTSPnrBBM_StatusAktivitas">
<span @Html.Raw(subaktivitasStopBongkarStsPnrBbmList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subaktivitasStopBongkarStsPnrBbmList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStopBongkarStsPnrBbmList.StatusAktivitas.Visible (end) *@
    @if (subaktivitasStopBongkarStsPnrBbmList.LastUpdatedBy.Visible) { // subaktivitasStopBongkarStsPnrBbmList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subaktivitasStopBongkarStsPnrBbmList.LastUpdatedBy.CellAttributes)>
<span id="el@(subaktivitasStopBongkarStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasStopBongkarStsPnrBbmList.RowCount)_SubaktivitasStopBongkarSTSPnrBBM_LastUpdatedBy" class="el_SubaktivitasStopBongkarSTSPnrBBM_LastUpdatedBy">
<span @Html.Raw(subaktivitasStopBongkarStsPnrBbmList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subaktivitasStopBongkarStsPnrBbmList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStopBongkarStsPnrBbmList.LastUpdatedBy.Visible (end) *@
    @if (subaktivitasStopBongkarStsPnrBbmList.lastUpdatedDate.Visible) { // subaktivitasStopBongkarStsPnrBbmList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subaktivitasStopBongkarStsPnrBbmList.lastUpdatedDate.CellAttributes)>
<span id="el@(subaktivitasStopBongkarStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasStopBongkarStsPnrBbmList.RowCount)_SubaktivitasStopBongkarSTSPnrBBM_lastUpdatedDate" class="el_SubaktivitasStopBongkarSTSPnrBBM_lastUpdatedDate">
<span @Html.Raw(subaktivitasStopBongkarStsPnrBbmList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subaktivitasStopBongkarStsPnrBbmList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStopBongkarStsPnrBbmList.lastUpdatedDate.Visible (end) *@
    @if (subaktivitasStopBongkarStsPnrBbmList.tglStopBongkar.Visible) { // subaktivitasStopBongkarStsPnrBbmList.tglStopBongkar.Visible (begin)
        <td data-name="tglStopBongkar" @Html.Raw(subaktivitasStopBongkarStsPnrBbmList.tglStopBongkar.CellAttributes)>
<span id="el@(subaktivitasStopBongkarStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasStopBongkarStsPnrBbmList.RowCount)_SubaktivitasStopBongkarSTSPnrBBM_tglStopBongkar" class="el_SubaktivitasStopBongkarSTSPnrBBM_tglStopBongkar">
<span @Html.Raw(subaktivitasStopBongkarStsPnrBbmList.tglStopBongkar.ViewAttributes)>
@Html.Raw(subaktivitasStopBongkarStsPnrBbmList.tglStopBongkar.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStopBongkarStsPnrBbmList.tglStopBongkar.Visible (end) *@
    @if (subaktivitasStopBongkarStsPnrBbmList.userInput.Visible) { // subaktivitasStopBongkarStsPnrBbmList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subaktivitasStopBongkarStsPnrBbmList.userInput.CellAttributes)>
<span id="el@(subaktivitasStopBongkarStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasStopBongkarStsPnrBbmList.RowCount)_SubaktivitasStopBongkarSTSPnrBBM_userInput" class="el_SubaktivitasStopBongkarSTSPnrBBM_userInput">
<span @Html.Raw(subaktivitasStopBongkarStsPnrBbmList.userInput.ViewAttributes)>
@Html.Raw(subaktivitasStopBongkarStsPnrBbmList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStopBongkarStsPnrBbmList.userInput.Visible (end) *@
    @if (subaktivitasStopBongkarStsPnrBbmList.etlDate.Visible) { // subaktivitasStopBongkarStsPnrBbmList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subaktivitasStopBongkarStsPnrBbmList.etlDate.CellAttributes)>
<span id="el@(subaktivitasStopBongkarStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasStopBongkarStsPnrBbmList.RowCount)_SubaktivitasStopBongkarSTSPnrBBM_etlDate" class="el_SubaktivitasStopBongkarSTSPnrBBM_etlDate">
<span @Html.Raw(subaktivitasStopBongkarStsPnrBbmList.etlDate.ViewAttributes)>
@Html.Raw(subaktivitasStopBongkarStsPnrBbmList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStopBongkarStsPnrBbmList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subaktivitasStopBongkarStsPnrBbmList.ListOptions.RenderBody("right", subaktivitasStopBongkarStsPnrBbmList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subaktivitasStopBongkarStsPnrBbmList.RowIndex, "$rowindex$"))
        subaktivitasStopBongkarStsPnrBbmList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subaktivitasStopBongkarStsPnrBbmList.IsCopy || subaktivitasStopBongkarStsPnrBbmList.IsAdd) && subaktivitasStopBongkarStsPnrBbmList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subaktivitasStopBongkarStsPnrBbmList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subaktivitasStopBongkarStsPnrBbmList.CurrentAction) && !subaktivitasStopBongkarStsPnrBbmList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subaktivitasStopBongkarStsPnrBbmList.CloseRecordset(); }
@if (!subaktivitasStopBongkarStsPnrBbmList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subaktivitasStopBongkarStsPnrBbmList.IsGridAdd && !(subaktivitasStopBongkarStsPnrBbmList.IsGridEdit && subaktivitasStopBongkarStsPnrBbmList.ModalGridEdit) && !subaktivitasStopBongkarStsPnrBbmList.IsMultiEdit) {
@Html.Raw(subaktivitasStopBongkarStsPnrBbmList.Pager.Render())
}
<div class="ew-list-other-options">
@subaktivitasStopBongkarStsPnrBbmList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subaktivitasStopBongkarStsPnrBbmList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subaktivitasStopBongkarStsPnrBbmList.FooterOptions.RenderBody()
</div>
</main>
@subaktivitasStopBongkarStsPnrBbmList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subaktivitasStopBongkarStsPnrBbmList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubaktivitasStopBongkarSTSPnrBBM");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
