@{
    // View
    View = this;

    // Check action result
    if (subaktivitasRencanaPenyaluranPipaEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subaktivitasRencanaPenyaluranPipaEdit.UseLayout ? "_Layout" : "";
}
@subaktivitasRencanaPenyaluranPipaEdit.ShowPageHeader()
@subaktivitasRencanaPenyaluranPipaEdit.ShowMessages()
<main class="edit">
<form name="fSubaktivitasRencanaPenyaluranPipaedit" id="fSubaktivitasRencanaPenyaluranPipaedit" class="@(subaktivitasRencanaPenyaluranPipaEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasRencanaPenyaluranPipaEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasRencanaPenyaluranPipa: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubaktivitasRencanaPenyaluranPipaedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubaktivitasRencanaPenyaluranPipaedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["TanggalJam", [fields.TanggalJam.visible && fields.TanggalJam.required ? ew.Validators.required(fields.TanggalJam.caption) : null, ew.Validators.datetime(fields.TanggalJam.clientFormatPattern)], fields.TanggalJam.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["RencanaPenyaluran2", [fields.RencanaPenyaluran2.visible && fields.RencanaPenyaluran2.required ? ew.Validators.required(fields.RencanaPenyaluran2.caption) : null], fields.RencanaPenyaluran2.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subaktivitasRencanaPenyaluranPipaEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subaktivitasRencanaPenyaluranPipaEdit.OldKeyName)" value="@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subaktivitasRencanaPenyaluranPipaEdit.id.Visible) { // subaktivitasRencanaPenyaluranPipaEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.id.RowAttributes)>
        <label id="elh_SubaktivitasRencanaPenyaluranPipa_id" class="@(subaktivitasRencanaPenyaluranPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.id.Caption)@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasRencanaPenyaluranPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.id.CellAttributes)>
<span id="el_SubaktivitasRencanaPenyaluranPipa_id">
<span @Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subaktivitasRencanaPenyaluranPipaEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubaktivitasRencanaPenyaluranPipa" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subaktivitasRencanaPenyaluranPipaEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subaktivitasRencanaPenyaluranPipaEdit.id.Visible (end) *@
@if (subaktivitasRencanaPenyaluranPipaEdit.idAktifitas.Visible) { // subaktivitasRencanaPenyaluranPipaEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubaktivitasRencanaPenyaluranPipa_idAktifitas" for="x_idAktifitas" class="@(subaktivitasRencanaPenyaluranPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.idAktifitas.Caption)@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasRencanaPenyaluranPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.idAktifitas.CellAttributes)>
<span id="el_SubaktivitasRencanaPenyaluranPipa_idAktifitas">
<input type="@(subaktivitasRencanaPenyaluranPipaEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubaktivitasRencanaPenyaluranPipa" data-field="x_idAktifitas" value="@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subaktivitasRencanaPenyaluranPipaEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subaktivitasRencanaPenyaluranPipaEdit.idAktifitas.FormatPattern)"@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasRencanaPenyaluranPipaEdit.idAktifitas.Visible (end) *@
@if (subaktivitasRencanaPenyaluranPipaEdit.TanggalJam.Visible) { // subaktivitasRencanaPenyaluranPipaEdit.TanggalJam.Visible (begin)
    <div id="r_TanggalJam" @Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.TanggalJam.RowAttributes)>
        <label id="elh_SubaktivitasRencanaPenyaluranPipa_TanggalJam" for="x_TanggalJam" class="@(subaktivitasRencanaPenyaluranPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.TanggalJam.Caption)@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.TanggalJam.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasRencanaPenyaluranPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.TanggalJam.CellAttributes)>
<span id="el_SubaktivitasRencanaPenyaluranPipa_TanggalJam">
<input type="@(subaktivitasRencanaPenyaluranPipaEdit.TanggalJam.InputTextType)" name="x_TanggalJam" id="x_TanggalJam" data-table="SubaktivitasRencanaPenyaluranPipa" data-field="x_TanggalJam" value="@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.TanggalJam.EditValue)" placeholder="@Html.Raw(HtmlEncode(subaktivitasRencanaPenyaluranPipaEdit.TanggalJam.PlaceHolder))" data-format-pattern="@(subaktivitasRencanaPenyaluranPipaEdit.TanggalJam.FormatPattern)"@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.TanggalJam.EditAttributes) aria-describedby="x_TanggalJam_help">
@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.TanggalJam.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.TanggalJam.GetErrorMessage())</div>
@if (!subaktivitasRencanaPenyaluranPipaEdit.TanggalJam.ReadOnly && !subaktivitasRencanaPenyaluranPipaEdit.TanggalJam.Disabled && !subaktivitasRencanaPenyaluranPipaEdit.TanggalJam.EditAttrs.Is("readonly") && !subaktivitasRencanaPenyaluranPipaEdit.TanggalJam.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubaktivitasRencanaPenyaluranPipaedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubaktivitasRencanaPenyaluranPipaedit", "x_TanggalJam", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subaktivitasRencanaPenyaluranPipaEdit.TanggalJam.Visible (end) *@
@if (subaktivitasRencanaPenyaluranPipaEdit.Produk.Visible) { // subaktivitasRencanaPenyaluranPipaEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.Produk.RowAttributes)>
        <label id="elh_SubaktivitasRencanaPenyaluranPipa_Produk" for="x_Produk" class="@(subaktivitasRencanaPenyaluranPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.Produk.Caption)@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasRencanaPenyaluranPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.Produk.CellAttributes)>
<span id="el_SubaktivitasRencanaPenyaluranPipa_Produk">
<input type="@(subaktivitasRencanaPenyaluranPipaEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubaktivitasRencanaPenyaluranPipa" data-field="x_Produk" value="@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.Produk.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasRencanaPenyaluranPipaEdit.Produk.PlaceHolder))" data-format-pattern="@(subaktivitasRencanaPenyaluranPipaEdit.Produk.FormatPattern)"@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasRencanaPenyaluranPipaEdit.Produk.Visible (end) *@
@if (subaktivitasRencanaPenyaluranPipaEdit.RencanaPenyaluran2.Visible) { // subaktivitasRencanaPenyaluranPipaEdit.RencanaPenyaluran2.Visible (begin)
    <div id="r_RencanaPenyaluran2" @Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.RencanaPenyaluran2.RowAttributes)>
        <label id="elh_SubaktivitasRencanaPenyaluranPipa_RencanaPenyaluran2" for="x_RencanaPenyaluran2" class="@(subaktivitasRencanaPenyaluranPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.RencanaPenyaluran2.Caption)@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.RencanaPenyaluran2.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasRencanaPenyaluranPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.RencanaPenyaluran2.CellAttributes)>
<span id="el_SubaktivitasRencanaPenyaluranPipa_RencanaPenyaluran2">
<input type="@(subaktivitasRencanaPenyaluranPipaEdit.RencanaPenyaluran2.InputTextType)" name="x_RencanaPenyaluran2" id="x_RencanaPenyaluran2" data-table="SubaktivitasRencanaPenyaluranPipa" data-field="x_RencanaPenyaluran2" value="@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.RencanaPenyaluran2.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasRencanaPenyaluranPipaEdit.RencanaPenyaluran2.PlaceHolder))" data-format-pattern="@(subaktivitasRencanaPenyaluranPipaEdit.RencanaPenyaluran2.FormatPattern)"@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.RencanaPenyaluran2.EditAttributes) aria-describedby="x_RencanaPenyaluran2_help">
@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.RencanaPenyaluran2.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.RencanaPenyaluran2.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasRencanaPenyaluranPipaEdit.RencanaPenyaluran2.Visible (end) *@
@if (subaktivitasRencanaPenyaluranPipaEdit.userInput.Visible) { // subaktivitasRencanaPenyaluranPipaEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.userInput.RowAttributes)>
        <label id="elh_SubaktivitasRencanaPenyaluranPipa_userInput" for="x_userInput" class="@(subaktivitasRencanaPenyaluranPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.userInput.Caption)@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasRencanaPenyaluranPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.userInput.CellAttributes)>
<span id="el_SubaktivitasRencanaPenyaluranPipa_userInput">
<input type="@(subaktivitasRencanaPenyaluranPipaEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubaktivitasRencanaPenyaluranPipa" data-field="x_userInput" value="@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasRencanaPenyaluranPipaEdit.userInput.PlaceHolder))" data-format-pattern="@(subaktivitasRencanaPenyaluranPipaEdit.userInput.FormatPattern)"@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasRencanaPenyaluranPipaEdit.userInput.Visible (end) *@
@if (subaktivitasRencanaPenyaluranPipaEdit.etlDate.Visible) { // subaktivitasRencanaPenyaluranPipaEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.etlDate.RowAttributes)>
        <label id="elh_SubaktivitasRencanaPenyaluranPipa_etlDate" for="x_etlDate" class="@(subaktivitasRencanaPenyaluranPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.etlDate.Caption)@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasRencanaPenyaluranPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.etlDate.CellAttributes)>
<span id="el_SubaktivitasRencanaPenyaluranPipa_etlDate">
<input type="@(subaktivitasRencanaPenyaluranPipaEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubaktivitasRencanaPenyaluranPipa" data-field="x_etlDate" value="@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subaktivitasRencanaPenyaluranPipaEdit.etlDate.PlaceHolder))" data-format-pattern="@(subaktivitasRencanaPenyaluranPipaEdit.etlDate.FormatPattern)"@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.etlDate.GetErrorMessage())</div>
@if (!subaktivitasRencanaPenyaluranPipaEdit.etlDate.ReadOnly && !subaktivitasRencanaPenyaluranPipaEdit.etlDate.Disabled && !subaktivitasRencanaPenyaluranPipaEdit.etlDate.EditAttrs.Is("readonly") && !subaktivitasRencanaPenyaluranPipaEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubaktivitasRencanaPenyaluranPipaedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubaktivitasRencanaPenyaluranPipaedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subaktivitasRencanaPenyaluranPipaEdit.etlDate.Visible (end) *@
@if (subaktivitasRencanaPenyaluranPipaEdit.idProses.Visible) { // subaktivitasRencanaPenyaluranPipaEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.idProses.RowAttributes)>
        <label id="elh_SubaktivitasRencanaPenyaluranPipa_idProses" for="x_idProses" class="@(subaktivitasRencanaPenyaluranPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.idProses.Caption)@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasRencanaPenyaluranPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.idProses.CellAttributes)>
<span id="el_SubaktivitasRencanaPenyaluranPipa_idProses">
<input type="@(subaktivitasRencanaPenyaluranPipaEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubaktivitasRencanaPenyaluranPipa" data-field="x_idProses" value="@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subaktivitasRencanaPenyaluranPipaEdit.idProses.PlaceHolder))" data-format-pattern="@(subaktivitasRencanaPenyaluranPipaEdit.idProses.FormatPattern)"@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasRencanaPenyaluranPipaEdit.idProses.Visible (end) *@
@if (subaktivitasRencanaPenyaluranPipaEdit.LastUpdatedBy.Visible) { // subaktivitasRencanaPenyaluranPipaEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubaktivitasRencanaPenyaluranPipa_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subaktivitasRencanaPenyaluranPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.LastUpdatedBy.Caption)@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasRencanaPenyaluranPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubaktivitasRencanaPenyaluranPipa_LastUpdatedBy">
<input type="@(subaktivitasRencanaPenyaluranPipaEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubaktivitasRencanaPenyaluranPipa" data-field="x_LastUpdatedBy" value="@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasRencanaPenyaluranPipaEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subaktivitasRencanaPenyaluranPipaEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasRencanaPenyaluranPipaEdit.LastUpdatedBy.Visible (end) *@
@if (subaktivitasRencanaPenyaluranPipaEdit.lastUpdatedDate.Visible) { // subaktivitasRencanaPenyaluranPipaEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubaktivitasRencanaPenyaluranPipa_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subaktivitasRencanaPenyaluranPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.lastUpdatedDate.Caption)@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasRencanaPenyaluranPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubaktivitasRencanaPenyaluranPipa_lastUpdatedDate">
<input type="@(subaktivitasRencanaPenyaluranPipaEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubaktivitasRencanaPenyaluranPipa" data-field="x_lastUpdatedDate" value="@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subaktivitasRencanaPenyaluranPipaEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subaktivitasRencanaPenyaluranPipaEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subaktivitasRencanaPenyaluranPipaEdit.lastUpdatedDate.ReadOnly && !subaktivitasRencanaPenyaluranPipaEdit.lastUpdatedDate.Disabled && !subaktivitasRencanaPenyaluranPipaEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subaktivitasRencanaPenyaluranPipaEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubaktivitasRencanaPenyaluranPipaedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubaktivitasRencanaPenyaluranPipaedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subaktivitasRencanaPenyaluranPipaEdit.lastUpdatedDate.Visible (end) *@
@if (subaktivitasRencanaPenyaluranPipaEdit.NoReferensi.Visible) { // subaktivitasRencanaPenyaluranPipaEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubaktivitasRencanaPenyaluranPipa_NoReferensi" for="x_NoReferensi" class="@(subaktivitasRencanaPenyaluranPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.NoReferensi.Caption)@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasRencanaPenyaluranPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.NoReferensi.CellAttributes)>
<span id="el_SubaktivitasRencanaPenyaluranPipa_NoReferensi">
<input type="@(subaktivitasRencanaPenyaluranPipaEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubaktivitasRencanaPenyaluranPipa" data-field="x_NoReferensi" value="@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.NoReferensi.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subaktivitasRencanaPenyaluranPipaEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subaktivitasRencanaPenyaluranPipaEdit.NoReferensi.FormatPattern)"@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasRencanaPenyaluranPipaEdit.NoReferensi.Visible (end) *@
</div><!-- /page* -->
@{ subaktivitasRencanaPenyaluranPipaEdit.CloseRecordset(); }
@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subaktivitasRencanaPenyaluranPipaEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubaktivitasRencanaPenyaluranPipaedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubaktivitasRencanaPenyaluranPipaedit" data-href="@AppPath(subaktivitasRencanaPenyaluranPipaEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subaktivitasRencanaPenyaluranPipaEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subaktivitasRencanaPenyaluranPipaEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubaktivitasRencanaPenyaluranPipa");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
