@{
    // View
    View = this;

    // Check action result
    if (subAktivitasStartPembongkaranPenKonList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasStartPembongkaranPenKonList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasStartPembongkaranPenKonList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasStartPembongkaranPenKonList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasStartPembongkaranPenKon: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasStartPembongkaranPenKonList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasStartPembongkaranPenKonList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasStartPembongkaranPenKonList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasStartPembongkaranPenKonList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasStartPembongkaranPenKonList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasStartPembongkaranPenKonList.TotalRecords > 0 && subAktivitasStartPembongkaranPenKonList.ExportOptions.Visible) {
    subAktivitasStartPembongkaranPenKonList.ExportOptions.Render("body");
}
@if (subAktivitasStartPembongkaranPenKonList.ImportOptions.Visible) {
    subAktivitasStartPembongkaranPenKonList.ImportOptions.Render("body");
}
@if (subAktivitasStartPembongkaranPenKonList.SearchOptions.Visible) {
    subAktivitasStartPembongkaranPenKonList.SearchOptions.Render("body");
}
@if (subAktivitasStartPembongkaranPenKonList.FilterOptions.Visible) {
    subAktivitasStartPembongkaranPenKonList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasStartPembongkaranPenKonList.IsModal) {
<form name="fSubAktivitasStartPembongkaranPenKonsrch" id="fSubAktivitasStartPembongkaranPenKonsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasStartPembongkaranPenKonsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasStartPembongkaranPenKonList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasStartPembongkaranPenKonList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasStartPembongkaranPenKon: currentTable } });
var currentForm;
var fSubAktivitasStartPembongkaranPenKonsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasStartPembongkaranPenKonsrch")
        .setPageId("list")
@if (subAktivitasStartPembongkaranPenKonList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasStartPembongkaranPenKonList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasStartPembongkaranPenKonList.IsExport() && Empty(subAktivitasStartPembongkaranPenKonList.CurrentAction) && subAktivitasStartPembongkaranPenKonList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasStartPembongkaranPenKonList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasStartPembongkaranPenKonList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasStartPembongkaranPenKonList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasStartPembongkaranPenKonList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasStartPembongkaranPenKonsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasStartPembongkaranPenKonList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasStartPembongkaranPenKonsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasStartPembongkaranPenKonList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasStartPembongkaranPenKonsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasStartPembongkaranPenKonList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasStartPembongkaranPenKonsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasStartPembongkaranPenKonList.ShowPageHeader()
@subAktivitasStartPembongkaranPenKonList.ShowMessages()
<main class="list @(subAktivitasStartPembongkaranPenKonList.TotalRecords == 0 && !subAktivitasStartPembongkaranPenKonList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasStartPembongkaranPenKonList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasStartPembongkaranPenKonList.TotalRecords > 0 || !Empty(subAktivitasStartPembongkaranPenKonList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasStartPembongkaranPenKonList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasStartPembongkaranPenKonList.TableGridClass)">
<form name="@(subAktivitasStartPembongkaranPenKonList.FormName)" id="@(subAktivitasStartPembongkaranPenKonList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasStartPembongkaranPenKonList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasStartPembongkaranPenKonList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasStartPembongkaranPenKon" class="card-body ew-grid-middle-panel @(subAktivitasStartPembongkaranPenKonList.TableContainerClass)" style="@(subAktivitasStartPembongkaranPenKonList.TableContainerStyle)">
@if (subAktivitasStartPembongkaranPenKonList.TotalRecords > 0 || subAktivitasStartPembongkaranPenKonList.IsGridEdit || subAktivitasStartPembongkaranPenKonList.IsMultiEdit) {
<table id="tbl_SubAktivitasStartPembongkaranPenKonlist" class="@(subAktivitasStartPembongkaranPenKonList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasStartPembongkaranPenKonList.RowType = RowType.Header;

    // Render list options
    await subAktivitasStartPembongkaranPenKonList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasStartPembongkaranPenKonList.ListOptions.RenderHeader("left")
@if (subAktivitasStartPembongkaranPenKonList.idProses.Visible) { // subAktivitasStartPembongkaranPenKonList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasStartPembongkaranPenKonList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasStartPembongkaranPenKon_idProses" class="SubAktivitasStartPembongkaranPenKon_idProses">@Html.Raw(subAktivitasStartPembongkaranPenKonList.RenderFieldHeader(subAktivitasStartPembongkaranPenKonList.idProses))</div></th>
} @* subAktivitasStartPembongkaranPenKonList.idProses.Visible (end) *@
@if (subAktivitasStartPembongkaranPenKonList.idAktifitas.Visible) { // subAktivitasStartPembongkaranPenKonList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasStartPembongkaranPenKonList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasStartPembongkaranPenKon_idAktifitas" class="SubAktivitasStartPembongkaranPenKon_idAktifitas">@Html.Raw(subAktivitasStartPembongkaranPenKonList.RenderFieldHeader(subAktivitasStartPembongkaranPenKonList.idAktifitas))</div></th>
} @* subAktivitasStartPembongkaranPenKonList.idAktifitas.Visible (end) *@
@if (subAktivitasStartPembongkaranPenKonList.NoReferensi.Visible) { // subAktivitasStartPembongkaranPenKonList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasStartPembongkaranPenKonList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasStartPembongkaranPenKon_NoReferensi" class="SubAktivitasStartPembongkaranPenKon_NoReferensi">@Html.Raw(subAktivitasStartPembongkaranPenKonList.RenderFieldHeader(subAktivitasStartPembongkaranPenKonList.NoReferensi))</div></th>
} @* subAktivitasStartPembongkaranPenKonList.NoReferensi.Visible (end) *@
@if (subAktivitasStartPembongkaranPenKonList.LastUpdatedBy.Visible) { // subAktivitasStartPembongkaranPenKonList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasStartPembongkaranPenKonList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasStartPembongkaranPenKon_LastUpdatedBy" class="SubAktivitasStartPembongkaranPenKon_LastUpdatedBy">@Html.Raw(subAktivitasStartPembongkaranPenKonList.RenderFieldHeader(subAktivitasStartPembongkaranPenKonList.LastUpdatedBy))</div></th>
} @* subAktivitasStartPembongkaranPenKonList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasStartPembongkaranPenKonList.lastUpdatedDate.Visible) { // subAktivitasStartPembongkaranPenKonList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasStartPembongkaranPenKonList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasStartPembongkaranPenKon_lastUpdatedDate" class="SubAktivitasStartPembongkaranPenKon_lastUpdatedDate">@Html.Raw(subAktivitasStartPembongkaranPenKonList.RenderFieldHeader(subAktivitasStartPembongkaranPenKonList.lastUpdatedDate))</div></th>
} @* subAktivitasStartPembongkaranPenKonList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasStartPembongkaranPenKonList.StatusAktivitas.Visible) { // subAktivitasStartPembongkaranPenKonList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasStartPembongkaranPenKonList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasStartPembongkaranPenKon_StatusAktivitas" class="SubAktivitasStartPembongkaranPenKon_StatusAktivitas">@Html.Raw(subAktivitasStartPembongkaranPenKonList.RenderFieldHeader(subAktivitasStartPembongkaranPenKonList.StatusAktivitas))</div></th>
} @* subAktivitasStartPembongkaranPenKonList.StatusAktivitas.Visible (end) *@
@if (subAktivitasStartPembongkaranPenKonList.Tanggal.Visible) { // subAktivitasStartPembongkaranPenKonList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasStartPembongkaranPenKonList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasStartPembongkaranPenKon_Tanggal" class="SubAktivitasStartPembongkaranPenKon_Tanggal">@Html.Raw(subAktivitasStartPembongkaranPenKonList.RenderFieldHeader(subAktivitasStartPembongkaranPenKonList.Tanggal))</div></th>
} @* subAktivitasStartPembongkaranPenKonList.Tanggal.Visible (end) *@
@if (subAktivitasStartPembongkaranPenKonList.userInput.Visible) { // subAktivitasStartPembongkaranPenKonList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasStartPembongkaranPenKonList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasStartPembongkaranPenKon_userInput" class="SubAktivitasStartPembongkaranPenKon_userInput">@Html.Raw(subAktivitasStartPembongkaranPenKonList.RenderFieldHeader(subAktivitasStartPembongkaranPenKonList.userInput))</div></th>
} @* subAktivitasStartPembongkaranPenKonList.userInput.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasStartPembongkaranPenKonList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasStartPembongkaranPenKonList.PageNumber)">
@{
    await subAktivitasStartPembongkaranPenKonList.SetupGrid();
    bool eof = subAktivitasStartPembongkaranPenKonList.Recordset == null; // DN
}
@while (subAktivitasStartPembongkaranPenKonList.RecordCount < subAktivitasStartPembongkaranPenKonList.StopRecord || SameString(subAktivitasStartPembongkaranPenKonList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasStartPembongkaranPenKonList.RowIndex, "$rowindex$") &&
        (!subAktivitasStartPembongkaranPenKonList.IsGridAdd || subAktivitasStartPembongkaranPenKonList.CurrentMode == "copy") &&
        (!((subAktivitasStartPembongkaranPenKonList.IsCopy || subAktivitasStartPembongkaranPenKonList.IsAdd) && subAktivitasStartPembongkaranPenKonList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasStartPembongkaranPenKonList.Recordset.ReadAsync();
    subAktivitasStartPembongkaranPenKonList.RecordCount++;
    if (subAktivitasStartPembongkaranPenKonList.RecordCount >= subAktivitasStartPembongkaranPenKonList.StartRecord) {
        await subAktivitasStartPembongkaranPenKonList.SetupRow();
    <tr @Html.Raw(subAktivitasStartPembongkaranPenKonList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasStartPembongkaranPenKonList.ListOptions.RenderBody("left", subAktivitasStartPembongkaranPenKonList.RowCount)
    @if (subAktivitasStartPembongkaranPenKonList.idProses.Visible) { // subAktivitasStartPembongkaranPenKonList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasStartPembongkaranPenKonList.idProses.CellAttributes)>
<span id="el@(subAktivitasStartPembongkaranPenKonList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasStartPembongkaranPenKonList.RowCount)_SubAktivitasStartPembongkaranPenKon_idProses" class="el_SubAktivitasStartPembongkaranPenKon_idProses">
<span @Html.Raw(subAktivitasStartPembongkaranPenKonList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasStartPembongkaranPenKonList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStartPembongkaranPenKonList.idProses.Visible (end) *@
    @if (subAktivitasStartPembongkaranPenKonList.idAktifitas.Visible) { // subAktivitasStartPembongkaranPenKonList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasStartPembongkaranPenKonList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasStartPembongkaranPenKonList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasStartPembongkaranPenKonList.RowCount)_SubAktivitasStartPembongkaranPenKon_idAktifitas" class="el_SubAktivitasStartPembongkaranPenKon_idAktifitas">
<span @Html.Raw(subAktivitasStartPembongkaranPenKonList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasStartPembongkaranPenKonList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStartPembongkaranPenKonList.idAktifitas.Visible (end) *@
    @if (subAktivitasStartPembongkaranPenKonList.NoReferensi.Visible) { // subAktivitasStartPembongkaranPenKonList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasStartPembongkaranPenKonList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasStartPembongkaranPenKonList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasStartPembongkaranPenKonList.RowCount)_SubAktivitasStartPembongkaranPenKon_NoReferensi" class="el_SubAktivitasStartPembongkaranPenKon_NoReferensi">
<span @Html.Raw(subAktivitasStartPembongkaranPenKonList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasStartPembongkaranPenKonList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStartPembongkaranPenKonList.NoReferensi.Visible (end) *@
    @if (subAktivitasStartPembongkaranPenKonList.LastUpdatedBy.Visible) { // subAktivitasStartPembongkaranPenKonList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasStartPembongkaranPenKonList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasStartPembongkaranPenKonList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasStartPembongkaranPenKonList.RowCount)_SubAktivitasStartPembongkaranPenKon_LastUpdatedBy" class="el_SubAktivitasStartPembongkaranPenKon_LastUpdatedBy">
<span @Html.Raw(subAktivitasStartPembongkaranPenKonList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasStartPembongkaranPenKonList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStartPembongkaranPenKonList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasStartPembongkaranPenKonList.lastUpdatedDate.Visible) { // subAktivitasStartPembongkaranPenKonList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasStartPembongkaranPenKonList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasStartPembongkaranPenKonList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasStartPembongkaranPenKonList.RowCount)_SubAktivitasStartPembongkaranPenKon_lastUpdatedDate" class="el_SubAktivitasStartPembongkaranPenKon_lastUpdatedDate">
<span @Html.Raw(subAktivitasStartPembongkaranPenKonList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasStartPembongkaranPenKonList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStartPembongkaranPenKonList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasStartPembongkaranPenKonList.StatusAktivitas.Visible) { // subAktivitasStartPembongkaranPenKonList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasStartPembongkaranPenKonList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasStartPembongkaranPenKonList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasStartPembongkaranPenKonList.RowCount)_SubAktivitasStartPembongkaranPenKon_StatusAktivitas" class="el_SubAktivitasStartPembongkaranPenKon_StatusAktivitas">
<span @Html.Raw(subAktivitasStartPembongkaranPenKonList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasStartPembongkaranPenKonList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStartPembongkaranPenKonList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasStartPembongkaranPenKonList.Tanggal.Visible) { // subAktivitasStartPembongkaranPenKonList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasStartPembongkaranPenKonList.Tanggal.CellAttributes)>
<span id="el@(subAktivitasStartPembongkaranPenKonList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasStartPembongkaranPenKonList.RowCount)_SubAktivitasStartPembongkaranPenKon_Tanggal" class="el_SubAktivitasStartPembongkaranPenKon_Tanggal">
<span @Html.Raw(subAktivitasStartPembongkaranPenKonList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasStartPembongkaranPenKonList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStartPembongkaranPenKonList.Tanggal.Visible (end) *@
    @if (subAktivitasStartPembongkaranPenKonList.userInput.Visible) { // subAktivitasStartPembongkaranPenKonList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasStartPembongkaranPenKonList.userInput.CellAttributes)>
<span id="el@(subAktivitasStartPembongkaranPenKonList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasStartPembongkaranPenKonList.RowCount)_SubAktivitasStartPembongkaranPenKon_userInput" class="el_SubAktivitasStartPembongkaranPenKon_userInput">
<span @Html.Raw(subAktivitasStartPembongkaranPenKonList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasStartPembongkaranPenKonList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStartPembongkaranPenKonList.userInput.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasStartPembongkaranPenKonList.ListOptions.RenderBody("right", subAktivitasStartPembongkaranPenKonList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasStartPembongkaranPenKonList.RowIndex, "$rowindex$"))
        subAktivitasStartPembongkaranPenKonList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasStartPembongkaranPenKonList.IsCopy || subAktivitasStartPembongkaranPenKonList.IsAdd) && subAktivitasStartPembongkaranPenKonList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasStartPembongkaranPenKonList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasStartPembongkaranPenKonList.CurrentAction) && !subAktivitasStartPembongkaranPenKonList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasStartPembongkaranPenKonList.CloseRecordset(); }
@if (!subAktivitasStartPembongkaranPenKonList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasStartPembongkaranPenKonList.IsGridAdd && !(subAktivitasStartPembongkaranPenKonList.IsGridEdit && subAktivitasStartPembongkaranPenKonList.ModalGridEdit) && !subAktivitasStartPembongkaranPenKonList.IsMultiEdit) {
@Html.Raw(subAktivitasStartPembongkaranPenKonList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasStartPembongkaranPenKonList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasStartPembongkaranPenKonList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasStartPembongkaranPenKonList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasStartPembongkaranPenKonList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasStartPembongkaranPenKonList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasStartPembongkaranPenKon");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
