@{
    // View
    View = this;

    // Check action result
    if (subAktivitasDataStopPenyaluranPipaList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasDataStopPenyaluranPipaList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasDataStopPenyaluranPipaList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataStopPenyaluranPipaList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataStopPenyaluranPipa: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasDataStopPenyaluranPipaList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasDataStopPenyaluranPipaList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasDataStopPenyaluranPipaList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasDataStopPenyaluranPipaList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasDataStopPenyaluranPipaList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasDataStopPenyaluranPipaList.TotalRecords > 0 && subAktivitasDataStopPenyaluranPipaList.ExportOptions.Visible) {
    subAktivitasDataStopPenyaluranPipaList.ExportOptions.Render("body");
}
@if (subAktivitasDataStopPenyaluranPipaList.ImportOptions.Visible) {
    subAktivitasDataStopPenyaluranPipaList.ImportOptions.Render("body");
}
@if (subAktivitasDataStopPenyaluranPipaList.SearchOptions.Visible) {
    subAktivitasDataStopPenyaluranPipaList.SearchOptions.Render("body");
}
@if (subAktivitasDataStopPenyaluranPipaList.FilterOptions.Visible) {
    subAktivitasDataStopPenyaluranPipaList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasDataStopPenyaluranPipaList.IsModal) {
<form name="fSubAktivitasDataStopPenyaluranPipasrch" id="fSubAktivitasDataStopPenyaluranPipasrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasDataStopPenyaluranPipasrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasDataStopPenyaluranPipaList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataStopPenyaluranPipaList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataStopPenyaluranPipa: currentTable } });
var currentForm;
var fSubAktivitasDataStopPenyaluranPipasrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasDataStopPenyaluranPipasrch")
        .setPageId("list")
@if (subAktivitasDataStopPenyaluranPipaList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasDataStopPenyaluranPipaList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasDataStopPenyaluranPipaList.IsExport() && Empty(subAktivitasDataStopPenyaluranPipaList.CurrentAction) && subAktivitasDataStopPenyaluranPipaList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasDataStopPenyaluranPipaList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasDataStopPenyaluranPipaList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasDataStopPenyaluranPipaList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasDataStopPenyaluranPipaList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasDataStopPenyaluranPipasrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStopPenyaluranPipaList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasDataStopPenyaluranPipasrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStopPenyaluranPipaList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasDataStopPenyaluranPipasrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStopPenyaluranPipaList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasDataStopPenyaluranPipasrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasDataStopPenyaluranPipaList.ShowPageHeader()
@subAktivitasDataStopPenyaluranPipaList.ShowMessages()
<main class="list @(subAktivitasDataStopPenyaluranPipaList.TotalRecords == 0 && !subAktivitasDataStopPenyaluranPipaList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasDataStopPenyaluranPipaList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasDataStopPenyaluranPipaList.TotalRecords > 0 || !Empty(subAktivitasDataStopPenyaluranPipaList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasDataStopPenyaluranPipaList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasDataStopPenyaluranPipaList.TableGridClass)">
<form name="@(subAktivitasDataStopPenyaluranPipaList.FormName)" id="@(subAktivitasDataStopPenyaluranPipaList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasDataStopPenyaluranPipaList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasDataStopPenyaluranPipaList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasDataStopPenyaluranPipa" class="card-body ew-grid-middle-panel @(subAktivitasDataStopPenyaluranPipaList.TableContainerClass)" style="@(subAktivitasDataStopPenyaluranPipaList.TableContainerStyle)">
@if (subAktivitasDataStopPenyaluranPipaList.TotalRecords > 0 || subAktivitasDataStopPenyaluranPipaList.IsGridEdit || subAktivitasDataStopPenyaluranPipaList.IsMultiEdit) {
<table id="tbl_SubAktivitasDataStopPenyaluranPipalist" class="@(subAktivitasDataStopPenyaluranPipaList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasDataStopPenyaluranPipaList.RowType = RowType.Header;

    // Render list options
    await subAktivitasDataStopPenyaluranPipaList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasDataStopPenyaluranPipaList.ListOptions.RenderHeader("left")
@if (subAktivitasDataStopPenyaluranPipaList.id.Visible) { // subAktivitasDataStopPenyaluranPipaList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasDataStopPenyaluranPipaList.id.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluranPipa_id" class="SubAktivitasDataStopPenyaluranPipa_id">@Html.Raw(subAktivitasDataStopPenyaluranPipaList.RenderFieldHeader(subAktivitasDataStopPenyaluranPipaList.id))</div></th>
} @* subAktivitasDataStopPenyaluranPipaList.id.Visible (end) *@
@if (subAktivitasDataStopPenyaluranPipaList.NoReferensi.Visible) { // subAktivitasDataStopPenyaluranPipaList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasDataStopPenyaluranPipaList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluranPipa_NoReferensi" class="SubAktivitasDataStopPenyaluranPipa_NoReferensi">@Html.Raw(subAktivitasDataStopPenyaluranPipaList.RenderFieldHeader(subAktivitasDataStopPenyaluranPipaList.NoReferensi))</div></th>
} @* subAktivitasDataStopPenyaluranPipaList.NoReferensi.Visible (end) *@
@if (subAktivitasDataStopPenyaluranPipaList.idProses.Visible) { // subAktivitasDataStopPenyaluranPipaList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasDataStopPenyaluranPipaList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluranPipa_idProses" class="SubAktivitasDataStopPenyaluranPipa_idProses">@Html.Raw(subAktivitasDataStopPenyaluranPipaList.RenderFieldHeader(subAktivitasDataStopPenyaluranPipaList.idProses))</div></th>
} @* subAktivitasDataStopPenyaluranPipaList.idProses.Visible (end) *@
@if (subAktivitasDataStopPenyaluranPipaList.idAktifitas.Visible) { // subAktivitasDataStopPenyaluranPipaList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasDataStopPenyaluranPipaList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluranPipa_idAktifitas" class="SubAktivitasDataStopPenyaluranPipa_idAktifitas">@Html.Raw(subAktivitasDataStopPenyaluranPipaList.RenderFieldHeader(subAktivitasDataStopPenyaluranPipaList.idAktifitas))</div></th>
} @* subAktivitasDataStopPenyaluranPipaList.idAktifitas.Visible (end) *@
@if (subAktivitasDataStopPenyaluranPipaList.StatusAktivitas.Visible) { // subAktivitasDataStopPenyaluranPipaList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasDataStopPenyaluranPipaList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluranPipa_StatusAktivitas" class="SubAktivitasDataStopPenyaluranPipa_StatusAktivitas">@Html.Raw(subAktivitasDataStopPenyaluranPipaList.RenderFieldHeader(subAktivitasDataStopPenyaluranPipaList.StatusAktivitas))</div></th>
} @* subAktivitasDataStopPenyaluranPipaList.StatusAktivitas.Visible (end) *@
@if (subAktivitasDataStopPenyaluranPipaList.LastUpdatedBy.Visible) { // subAktivitasDataStopPenyaluranPipaList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasDataStopPenyaluranPipaList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluranPipa_LastUpdatedBy" class="SubAktivitasDataStopPenyaluranPipa_LastUpdatedBy">@Html.Raw(subAktivitasDataStopPenyaluranPipaList.RenderFieldHeader(subAktivitasDataStopPenyaluranPipaList.LastUpdatedBy))</div></th>
} @* subAktivitasDataStopPenyaluranPipaList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasDataStopPenyaluranPipaList.lastUpdatedDate.Visible) { // subAktivitasDataStopPenyaluranPipaList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasDataStopPenyaluranPipaList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluranPipa_lastUpdatedDate" class="SubAktivitasDataStopPenyaluranPipa_lastUpdatedDate">@Html.Raw(subAktivitasDataStopPenyaluranPipaList.RenderFieldHeader(subAktivitasDataStopPenyaluranPipaList.lastUpdatedDate))</div></th>
} @* subAktivitasDataStopPenyaluranPipaList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasDataStopPenyaluranPipaList.Tanggal.Visible) { // subAktivitasDataStopPenyaluranPipaList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasDataStopPenyaluranPipaList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluranPipa_Tanggal" class="SubAktivitasDataStopPenyaluranPipa_Tanggal">@Html.Raw(subAktivitasDataStopPenyaluranPipaList.RenderFieldHeader(subAktivitasDataStopPenyaluranPipaList.Tanggal))</div></th>
} @* subAktivitasDataStopPenyaluranPipaList.Tanggal.Visible (end) *@
@if (subAktivitasDataStopPenyaluranPipaList.userInput.Visible) { // subAktivitasDataStopPenyaluranPipaList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasDataStopPenyaluranPipaList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluranPipa_userInput" class="SubAktivitasDataStopPenyaluranPipa_userInput">@Html.Raw(subAktivitasDataStopPenyaluranPipaList.RenderFieldHeader(subAktivitasDataStopPenyaluranPipaList.userInput))</div></th>
} @* subAktivitasDataStopPenyaluranPipaList.userInput.Visible (end) *@
@if (subAktivitasDataStopPenyaluranPipaList.etlDate.Visible) { // subAktivitasDataStopPenyaluranPipaList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasDataStopPenyaluranPipaList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluranPipa_etlDate" class="SubAktivitasDataStopPenyaluranPipa_etlDate">@Html.Raw(subAktivitasDataStopPenyaluranPipaList.RenderFieldHeader(subAktivitasDataStopPenyaluranPipaList.etlDate))</div></th>
} @* subAktivitasDataStopPenyaluranPipaList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasDataStopPenyaluranPipaList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasDataStopPenyaluranPipaList.PageNumber)">
@{
    await subAktivitasDataStopPenyaluranPipaList.SetupGrid();
    bool eof = subAktivitasDataStopPenyaluranPipaList.Recordset == null; // DN
}
@while (subAktivitasDataStopPenyaluranPipaList.RecordCount < subAktivitasDataStopPenyaluranPipaList.StopRecord || SameString(subAktivitasDataStopPenyaluranPipaList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasDataStopPenyaluranPipaList.RowIndex, "$rowindex$") &&
        (!subAktivitasDataStopPenyaluranPipaList.IsGridAdd || subAktivitasDataStopPenyaluranPipaList.CurrentMode == "copy") &&
        (!((subAktivitasDataStopPenyaluranPipaList.IsCopy || subAktivitasDataStopPenyaluranPipaList.IsAdd) && subAktivitasDataStopPenyaluranPipaList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasDataStopPenyaluranPipaList.Recordset.ReadAsync();
    subAktivitasDataStopPenyaluranPipaList.RecordCount++;
    if (subAktivitasDataStopPenyaluranPipaList.RecordCount >= subAktivitasDataStopPenyaluranPipaList.StartRecord) {
        await subAktivitasDataStopPenyaluranPipaList.SetupRow();
    <tr @Html.Raw(subAktivitasDataStopPenyaluranPipaList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasDataStopPenyaluranPipaList.ListOptions.RenderBody("left", subAktivitasDataStopPenyaluranPipaList.RowCount)
    @if (subAktivitasDataStopPenyaluranPipaList.id.Visible) { // subAktivitasDataStopPenyaluranPipaList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasDataStopPenyaluranPipaList.id.CellAttributes)>
<span id="el@(subAktivitasDataStopPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPenyaluranPipaList.RowCount)_SubAktivitasDataStopPenyaluranPipa_id" class="el_SubAktivitasDataStopPenyaluranPipa_id">
<span @Html.Raw(subAktivitasDataStopPenyaluranPipaList.id.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranPipaList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranPipaList.id.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranPipaList.NoReferensi.Visible) { // subAktivitasDataStopPenyaluranPipaList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasDataStopPenyaluranPipaList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasDataStopPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPenyaluranPipaList.RowCount)_SubAktivitasDataStopPenyaluranPipa_NoReferensi" class="el_SubAktivitasDataStopPenyaluranPipa_NoReferensi">
<span @Html.Raw(subAktivitasDataStopPenyaluranPipaList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranPipaList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranPipaList.NoReferensi.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranPipaList.idProses.Visible) { // subAktivitasDataStopPenyaluranPipaList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasDataStopPenyaluranPipaList.idProses.CellAttributes)>
<span id="el@(subAktivitasDataStopPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPenyaluranPipaList.RowCount)_SubAktivitasDataStopPenyaluranPipa_idProses" class="el_SubAktivitasDataStopPenyaluranPipa_idProses">
<span @Html.Raw(subAktivitasDataStopPenyaluranPipaList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranPipaList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranPipaList.idProses.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranPipaList.idAktifitas.Visible) { // subAktivitasDataStopPenyaluranPipaList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasDataStopPenyaluranPipaList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasDataStopPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPenyaluranPipaList.RowCount)_SubAktivitasDataStopPenyaluranPipa_idAktifitas" class="el_SubAktivitasDataStopPenyaluranPipa_idAktifitas">
<span @Html.Raw(subAktivitasDataStopPenyaluranPipaList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranPipaList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranPipaList.idAktifitas.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranPipaList.StatusAktivitas.Visible) { // subAktivitasDataStopPenyaluranPipaList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasDataStopPenyaluranPipaList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasDataStopPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPenyaluranPipaList.RowCount)_SubAktivitasDataStopPenyaluranPipa_StatusAktivitas" class="el_SubAktivitasDataStopPenyaluranPipa_StatusAktivitas">
<span @Html.Raw(subAktivitasDataStopPenyaluranPipaList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranPipaList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranPipaList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranPipaList.LastUpdatedBy.Visible) { // subAktivitasDataStopPenyaluranPipaList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasDataStopPenyaluranPipaList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasDataStopPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPenyaluranPipaList.RowCount)_SubAktivitasDataStopPenyaluranPipa_LastUpdatedBy" class="el_SubAktivitasDataStopPenyaluranPipa_LastUpdatedBy">
<span @Html.Raw(subAktivitasDataStopPenyaluranPipaList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranPipaList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranPipaList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranPipaList.lastUpdatedDate.Visible) { // subAktivitasDataStopPenyaluranPipaList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasDataStopPenyaluranPipaList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasDataStopPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPenyaluranPipaList.RowCount)_SubAktivitasDataStopPenyaluranPipa_lastUpdatedDate" class="el_SubAktivitasDataStopPenyaluranPipa_lastUpdatedDate">
<span @Html.Raw(subAktivitasDataStopPenyaluranPipaList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranPipaList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranPipaList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranPipaList.Tanggal.Visible) { // subAktivitasDataStopPenyaluranPipaList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasDataStopPenyaluranPipaList.Tanggal.CellAttributes)>
<span id="el@(subAktivitasDataStopPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPenyaluranPipaList.RowCount)_SubAktivitasDataStopPenyaluranPipa_Tanggal" class="el_SubAktivitasDataStopPenyaluranPipa_Tanggal">
<span @Html.Raw(subAktivitasDataStopPenyaluranPipaList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranPipaList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranPipaList.Tanggal.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranPipaList.userInput.Visible) { // subAktivitasDataStopPenyaluranPipaList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasDataStopPenyaluranPipaList.userInput.CellAttributes)>
<span id="el@(subAktivitasDataStopPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPenyaluranPipaList.RowCount)_SubAktivitasDataStopPenyaluranPipa_userInput" class="el_SubAktivitasDataStopPenyaluranPipa_userInput">
<span @Html.Raw(subAktivitasDataStopPenyaluranPipaList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranPipaList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranPipaList.userInput.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranPipaList.etlDate.Visible) { // subAktivitasDataStopPenyaluranPipaList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasDataStopPenyaluranPipaList.etlDate.CellAttributes)>
<span id="el@(subAktivitasDataStopPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPenyaluranPipaList.RowCount)_SubAktivitasDataStopPenyaluranPipa_etlDate" class="el_SubAktivitasDataStopPenyaluranPipa_etlDate">
<span @Html.Raw(subAktivitasDataStopPenyaluranPipaList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranPipaList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranPipaList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasDataStopPenyaluranPipaList.ListOptions.RenderBody("right", subAktivitasDataStopPenyaluranPipaList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasDataStopPenyaluranPipaList.RowIndex, "$rowindex$"))
        subAktivitasDataStopPenyaluranPipaList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasDataStopPenyaluranPipaList.IsCopy || subAktivitasDataStopPenyaluranPipaList.IsAdd) && subAktivitasDataStopPenyaluranPipaList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasDataStopPenyaluranPipaList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasDataStopPenyaluranPipaList.CurrentAction) && !subAktivitasDataStopPenyaluranPipaList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasDataStopPenyaluranPipaList.CloseRecordset(); }
@if (!subAktivitasDataStopPenyaluranPipaList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasDataStopPenyaluranPipaList.IsGridAdd && !(subAktivitasDataStopPenyaluranPipaList.IsGridEdit && subAktivitasDataStopPenyaluranPipaList.ModalGridEdit) && !subAktivitasDataStopPenyaluranPipaList.IsMultiEdit) {
@Html.Raw(subAktivitasDataStopPenyaluranPipaList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasDataStopPenyaluranPipaList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasDataStopPenyaluranPipaList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasDataStopPenyaluranPipaList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasDataStopPenyaluranPipaList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasDataStopPenyaluranPipaList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasDataStopPenyaluranPipa");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
