@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputHasilPemeriksaanPipaList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputHasilPemeriksaanPipaList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputHasilPemeriksaanPipaList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputHasilPemeriksaanPipaList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputHasilPemeriksaanPipa: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasFormInputHasilPemeriksaanPipaList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasFormInputHasilPemeriksaanPipaList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasFormInputHasilPemeriksaanPipaList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasFormInputHasilPemeriksaanPipaList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasFormInputHasilPemeriksaanPipaList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasFormInputHasilPemeriksaanPipaList.TotalRecords > 0 && subAktivitasFormInputHasilPemeriksaanPipaList.ExportOptions.Visible) {
    subAktivitasFormInputHasilPemeriksaanPipaList.ExportOptions.Render("body");
}
@if (subAktivitasFormInputHasilPemeriksaanPipaList.ImportOptions.Visible) {
    subAktivitasFormInputHasilPemeriksaanPipaList.ImportOptions.Render("body");
}
@if (subAktivitasFormInputHasilPemeriksaanPipaList.SearchOptions.Visible) {
    subAktivitasFormInputHasilPemeriksaanPipaList.SearchOptions.Render("body");
}
@if (subAktivitasFormInputHasilPemeriksaanPipaList.FilterOptions.Visible) {
    subAktivitasFormInputHasilPemeriksaanPipaList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasFormInputHasilPemeriksaanPipaList.IsModal) {
<form name="fSubAktivitasFormInputHasilPemeriksaanPipasrch" id="fSubAktivitasFormInputHasilPemeriksaanPipasrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasFormInputHasilPemeriksaanPipasrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasFormInputHasilPemeriksaanPipaList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputHasilPemeriksaanPipaList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputHasilPemeriksaanPipa: currentTable } });
var currentForm;
var fSubAktivitasFormInputHasilPemeriksaanPipasrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputHasilPemeriksaanPipasrch")
        .setPageId("list")
@if (subAktivitasFormInputHasilPemeriksaanPipaList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasFormInputHasilPemeriksaanPipaList.IsExport() && Empty(subAktivitasFormInputHasilPemeriksaanPipaList.CurrentAction) && subAktivitasFormInputHasilPemeriksaanPipaList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasFormInputHasilPemeriksaanPipaList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasFormInputHasilPemeriksaanPipaList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasFormInputHasilPemeriksaanPipaList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasFormInputHasilPemeriksaanPipasrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputHasilPemeriksaanPipaList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasFormInputHasilPemeriksaanPipasrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputHasilPemeriksaanPipaList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasFormInputHasilPemeriksaanPipasrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputHasilPemeriksaanPipaList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasFormInputHasilPemeriksaanPipasrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasFormInputHasilPemeriksaanPipaList.ShowPageHeader()
@subAktivitasFormInputHasilPemeriksaanPipaList.ShowMessages()
<main class="list @(subAktivitasFormInputHasilPemeriksaanPipaList.TotalRecords == 0 && !subAktivitasFormInputHasilPemeriksaanPipaList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasFormInputHasilPemeriksaanPipaList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasFormInputHasilPemeriksaanPipaList.TotalRecords > 0 || !Empty(subAktivitasFormInputHasilPemeriksaanPipaList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasFormInputHasilPemeriksaanPipaList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasFormInputHasilPemeriksaanPipaList.TableGridClass)">
<form name="@(subAktivitasFormInputHasilPemeriksaanPipaList.FormName)" id="@(subAktivitasFormInputHasilPemeriksaanPipaList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasFormInputHasilPemeriksaanPipaList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasFormInputHasilPemeriksaanPipaList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasFormInputHasilPemeriksaanPipa" class="card-body ew-grid-middle-panel @(subAktivitasFormInputHasilPemeriksaanPipaList.TableContainerClass)" style="@(subAktivitasFormInputHasilPemeriksaanPipaList.TableContainerStyle)">
@if (subAktivitasFormInputHasilPemeriksaanPipaList.TotalRecords > 0 || subAktivitasFormInputHasilPemeriksaanPipaList.IsGridEdit || subAktivitasFormInputHasilPemeriksaanPipaList.IsMultiEdit) {
<table id="tbl_SubAktivitasFormInputHasilPemeriksaanPipalist" class="@(subAktivitasFormInputHasilPemeriksaanPipaList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasFormInputHasilPemeriksaanPipaList.RowType = RowType.Header;

    // Render list options
    await subAktivitasFormInputHasilPemeriksaanPipaList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasFormInputHasilPemeriksaanPipaList.ListOptions.RenderHeader("left")
@if (subAktivitasFormInputHasilPemeriksaanPipaList.id.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasFormInputHasilPemeriksaanPipaList.id.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_id" class="SubAktivitasFormInputHasilPemeriksaanPipa_id">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.RenderFieldHeader(subAktivitasFormInputHasilPemeriksaanPipaList.id))</div></th>
} @* subAktivitasFormInputHasilPemeriksaanPipaList.id.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaList.NoReferensi.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasFormInputHasilPemeriksaanPipaList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_NoReferensi" class="SubAktivitasFormInputHasilPemeriksaanPipa_NoReferensi">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.RenderFieldHeader(subAktivitasFormInputHasilPemeriksaanPipaList.NoReferensi))</div></th>
} @* subAktivitasFormInputHasilPemeriksaanPipaList.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaList.idAktifitas.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasFormInputHasilPemeriksaanPipaList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_idAktifitas" class="SubAktivitasFormInputHasilPemeriksaanPipa_idAktifitas">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.RenderFieldHeader(subAktivitasFormInputHasilPemeriksaanPipaList.idAktifitas))</div></th>
} @* subAktivitasFormInputHasilPemeriksaanPipaList.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaList.NamaBatch.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.NamaBatch.Visible (begin)
        <th data-name="NamaBatch" class="@(subAktivitasFormInputHasilPemeriksaanPipaList.NamaBatch.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_NamaBatch" class="SubAktivitasFormInputHasilPemeriksaanPipa_NamaBatch">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.RenderFieldHeader(subAktivitasFormInputHasilPemeriksaanPipaList.NamaBatch))</div></th>
} @* subAktivitasFormInputHasilPemeriksaanPipaList.NamaBatch.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaList.TanggalJam.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.TanggalJam.Visible (begin)
        <th data-name="TanggalJam" class="@(subAktivitasFormInputHasilPemeriksaanPipaList.TanggalJam.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_TanggalJam" class="SubAktivitasFormInputHasilPemeriksaanPipa_TanggalJam">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.RenderFieldHeader(subAktivitasFormInputHasilPemeriksaanPipaList.TanggalJam))</div></th>
} @* subAktivitasFormInputHasilPemeriksaanPipaList.TanggalJam.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaList.NamaKegiatan.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.NamaKegiatan.Visible (begin)
        <th data-name="NamaKegiatan" class="@(subAktivitasFormInputHasilPemeriksaanPipaList.NamaKegiatan.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_NamaKegiatan" class="SubAktivitasFormInputHasilPemeriksaanPipa_NamaKegiatan">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.RenderFieldHeader(subAktivitasFormInputHasilPemeriksaanPipaList.NamaKegiatan))</div></th>
} @* subAktivitasFormInputHasilPemeriksaanPipaList.NamaKegiatan.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaList.Produk.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasFormInputHasilPemeriksaanPipaList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_Produk" class="SubAktivitasFormInputHasilPemeriksaanPipa_Produk">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.RenderFieldHeader(subAktivitasFormInputHasilPemeriksaanPipaList.Produk))</div></th>
} @* subAktivitasFormInputHasilPemeriksaanPipaList.Produk.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaList.Density.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.Density.Visible (begin)
        <th data-name="Density" class="@(subAktivitasFormInputHasilPemeriksaanPipaList.Density.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_Density" class="SubAktivitasFormInputHasilPemeriksaanPipa_Density">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.RenderFieldHeader(subAktivitasFormInputHasilPemeriksaanPipaList.Density))</div></th>
} @* subAktivitasFormInputHasilPemeriksaanPipaList.Density.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaList.Temperature.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.Temperature.Visible (begin)
        <th data-name="Temperature" class="@(subAktivitasFormInputHasilPemeriksaanPipaList.Temperature.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_Temperature" class="SubAktivitasFormInputHasilPemeriksaanPipa_Temperature">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.RenderFieldHeader(subAktivitasFormInputHasilPemeriksaanPipaList.Temperature))</div></th>
} @* subAktivitasFormInputHasilPemeriksaanPipaList.Temperature.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaList.Pressure.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.Pressure.Visible (begin)
        <th data-name="Pressure" class="@(subAktivitasFormInputHasilPemeriksaanPipaList.Pressure.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_Pressure" class="SubAktivitasFormInputHasilPemeriksaanPipa_Pressure">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.RenderFieldHeader(subAktivitasFormInputHasilPemeriksaanPipaList.Pressure))</div></th>
} @* subAktivitasFormInputHasilPemeriksaanPipaList.Pressure.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaList.userInput.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasFormInputHasilPemeriksaanPipaList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_userInput" class="SubAktivitasFormInputHasilPemeriksaanPipa_userInput">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.RenderFieldHeader(subAktivitasFormInputHasilPemeriksaanPipaList.userInput))</div></th>
} @* subAktivitasFormInputHasilPemeriksaanPipaList.userInput.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaList.etlDate.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasFormInputHasilPemeriksaanPipaList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_etlDate" class="SubAktivitasFormInputHasilPemeriksaanPipa_etlDate">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.RenderFieldHeader(subAktivitasFormInputHasilPemeriksaanPipaList.etlDate))</div></th>
} @* subAktivitasFormInputHasilPemeriksaanPipaList.etlDate.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaList.idProses.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasFormInputHasilPemeriksaanPipaList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_idProses" class="SubAktivitasFormInputHasilPemeriksaanPipa_idProses">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.RenderFieldHeader(subAktivitasFormInputHasilPemeriksaanPipaList.idProses))</div></th>
} @* subAktivitasFormInputHasilPemeriksaanPipaList.idProses.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaList.LastUpdatedBy.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasFormInputHasilPemeriksaanPipaList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_LastUpdatedBy" class="SubAktivitasFormInputHasilPemeriksaanPipa_LastUpdatedBy">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.RenderFieldHeader(subAktivitasFormInputHasilPemeriksaanPipaList.LastUpdatedBy))</div></th>
} @* subAktivitasFormInputHasilPemeriksaanPipaList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaList.lastUpdatedDate.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasFormInputHasilPemeriksaanPipaList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_lastUpdatedDate" class="SubAktivitasFormInputHasilPemeriksaanPipa_lastUpdatedDate">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.RenderFieldHeader(subAktivitasFormInputHasilPemeriksaanPipaList.lastUpdatedDate))</div></th>
} @* subAktivitasFormInputHasilPemeriksaanPipaList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaList.StatusAktivitas.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasFormInputHasilPemeriksaanPipaList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_StatusAktivitas" class="SubAktivitasFormInputHasilPemeriksaanPipa_StatusAktivitas">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.RenderFieldHeader(subAktivitasFormInputHasilPemeriksaanPipaList.StatusAktivitas))</div></th>
} @* subAktivitasFormInputHasilPemeriksaanPipaList.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaList.TanggalJamSOP.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.TanggalJamSOP.Visible (begin)
        <th data-name="TanggalJamSOP" class="@(subAktivitasFormInputHasilPemeriksaanPipaList.TanggalJamSOP.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_TanggalJamSOP" class="SubAktivitasFormInputHasilPemeriksaanPipa_TanggalJamSOP">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.RenderFieldHeader(subAktivitasFormInputHasilPemeriksaanPipaList.TanggalJamSOP))</div></th>
} @* subAktivitasFormInputHasilPemeriksaanPipaList.TanggalJamSOP.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaList.SelisihWaktu.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.SelisihWaktu.Visible (begin)
        <th data-name="SelisihWaktu" class="@(subAktivitasFormInputHasilPemeriksaanPipaList.SelisihWaktu.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_SelisihWaktu" class="SubAktivitasFormInputHasilPemeriksaanPipa_SelisihWaktu">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.RenderFieldHeader(subAktivitasFormInputHasilPemeriksaanPipaList.SelisihWaktu))</div></th>
} @* subAktivitasFormInputHasilPemeriksaanPipaList.SelisihWaktu.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaList.IsQualityActive.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.IsQualityActive.Visible (begin)
        <th data-name="IsQualityActive" class="@(subAktivitasFormInputHasilPemeriksaanPipaList.IsQualityActive.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_IsQualityActive" class="SubAktivitasFormInputHasilPemeriksaanPipa_IsQualityActive">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.RenderFieldHeader(subAktivitasFormInputHasilPemeriksaanPipaList.IsQualityActive))</div></th>
} @* subAktivitasFormInputHasilPemeriksaanPipaList.IsQualityActive.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasFormInputHasilPemeriksaanPipaList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasFormInputHasilPemeriksaanPipaList.PageNumber)">
@{
    await subAktivitasFormInputHasilPemeriksaanPipaList.SetupGrid();
    bool eof = subAktivitasFormInputHasilPemeriksaanPipaList.Recordset == null; // DN
}
@while (subAktivitasFormInputHasilPemeriksaanPipaList.RecordCount < subAktivitasFormInputHasilPemeriksaanPipaList.StopRecord || SameString(subAktivitasFormInputHasilPemeriksaanPipaList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasFormInputHasilPemeriksaanPipaList.RowIndex, "$rowindex$") &&
        (!subAktivitasFormInputHasilPemeriksaanPipaList.IsGridAdd || subAktivitasFormInputHasilPemeriksaanPipaList.CurrentMode == "copy") &&
        (!((subAktivitasFormInputHasilPemeriksaanPipaList.IsCopy || subAktivitasFormInputHasilPemeriksaanPipaList.IsAdd) && subAktivitasFormInputHasilPemeriksaanPipaList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasFormInputHasilPemeriksaanPipaList.Recordset.ReadAsync();
    subAktivitasFormInputHasilPemeriksaanPipaList.RecordCount++;
    if (subAktivitasFormInputHasilPemeriksaanPipaList.RecordCount >= subAktivitasFormInputHasilPemeriksaanPipaList.StartRecord) {
        await subAktivitasFormInputHasilPemeriksaanPipaList.SetupRow();
    <tr @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasFormInputHasilPemeriksaanPipaList.ListOptions.RenderBody("left", subAktivitasFormInputHasilPemeriksaanPipaList.RowCount)
    @if (subAktivitasFormInputHasilPemeriksaanPipaList.id.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.id.CellAttributes)>
<span id="el@(subAktivitasFormInputHasilPemeriksaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputHasilPemeriksaanPipaList.RowCount)_SubAktivitasFormInputHasilPemeriksaanPipa_id" class="el_SubAktivitasFormInputHasilPemeriksaanPipa_id">
<span @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHasilPemeriksaanPipaList.id.Visible (end) *@
    @if (subAktivitasFormInputHasilPemeriksaanPipaList.NoReferensi.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasFormInputHasilPemeriksaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputHasilPemeriksaanPipaList.RowCount)_SubAktivitasFormInputHasilPemeriksaanPipa_NoReferensi" class="el_SubAktivitasFormInputHasilPemeriksaanPipa_NoReferensi">
<span @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHasilPemeriksaanPipaList.NoReferensi.Visible (end) *@
    @if (subAktivitasFormInputHasilPemeriksaanPipaList.idAktifitas.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasFormInputHasilPemeriksaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputHasilPemeriksaanPipaList.RowCount)_SubAktivitasFormInputHasilPemeriksaanPipa_idAktifitas" class="el_SubAktivitasFormInputHasilPemeriksaanPipa_idAktifitas">
<span @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHasilPemeriksaanPipaList.idAktifitas.Visible (end) *@
    @if (subAktivitasFormInputHasilPemeriksaanPipaList.NamaBatch.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.NamaBatch.Visible (begin)
        <td data-name="NamaBatch" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.NamaBatch.CellAttributes)>
<span id="el@(subAktivitasFormInputHasilPemeriksaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputHasilPemeriksaanPipaList.RowCount)_SubAktivitasFormInputHasilPemeriksaanPipa_NamaBatch" class="el_SubAktivitasFormInputHasilPemeriksaanPipa_NamaBatch">
<span @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.NamaBatch.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.NamaBatch.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHasilPemeriksaanPipaList.NamaBatch.Visible (end) *@
    @if (subAktivitasFormInputHasilPemeriksaanPipaList.TanggalJam.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.TanggalJam.Visible (begin)
        <td data-name="TanggalJam" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.TanggalJam.CellAttributes)>
<span id="el@(subAktivitasFormInputHasilPemeriksaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputHasilPemeriksaanPipaList.RowCount)_SubAktivitasFormInputHasilPemeriksaanPipa_TanggalJam" class="el_SubAktivitasFormInputHasilPemeriksaanPipa_TanggalJam">
<span @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.TanggalJam.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.TanggalJam.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHasilPemeriksaanPipaList.TanggalJam.Visible (end) *@
    @if (subAktivitasFormInputHasilPemeriksaanPipaList.NamaKegiatan.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.NamaKegiatan.Visible (begin)
        <td data-name="NamaKegiatan" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.NamaKegiatan.CellAttributes)>
<span id="el@(subAktivitasFormInputHasilPemeriksaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputHasilPemeriksaanPipaList.RowCount)_SubAktivitasFormInputHasilPemeriksaanPipa_NamaKegiatan" class="el_SubAktivitasFormInputHasilPemeriksaanPipa_NamaKegiatan">
<span @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.NamaKegiatan.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.NamaKegiatan.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHasilPemeriksaanPipaList.NamaKegiatan.Visible (end) *@
    @if (subAktivitasFormInputHasilPemeriksaanPipaList.Produk.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.Produk.CellAttributes)>
<span id="el@(subAktivitasFormInputHasilPemeriksaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputHasilPemeriksaanPipaList.RowCount)_SubAktivitasFormInputHasilPemeriksaanPipa_Produk" class="el_SubAktivitasFormInputHasilPemeriksaanPipa_Produk">
<span @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHasilPemeriksaanPipaList.Produk.Visible (end) *@
    @if (subAktivitasFormInputHasilPemeriksaanPipaList.Density.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.Density.Visible (begin)
        <td data-name="Density" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.Density.CellAttributes)>
<span id="el@(subAktivitasFormInputHasilPemeriksaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputHasilPemeriksaanPipaList.RowCount)_SubAktivitasFormInputHasilPemeriksaanPipa_Density" class="el_SubAktivitasFormInputHasilPemeriksaanPipa_Density">
<span @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.Density.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.Density.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHasilPemeriksaanPipaList.Density.Visible (end) *@
    @if (subAktivitasFormInputHasilPemeriksaanPipaList.Temperature.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.Temperature.Visible (begin)
        <td data-name="Temperature" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.Temperature.CellAttributes)>
<span id="el@(subAktivitasFormInputHasilPemeriksaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputHasilPemeriksaanPipaList.RowCount)_SubAktivitasFormInputHasilPemeriksaanPipa_Temperature" class="el_SubAktivitasFormInputHasilPemeriksaanPipa_Temperature">
<span @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.Temperature.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.Temperature.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHasilPemeriksaanPipaList.Temperature.Visible (end) *@
    @if (subAktivitasFormInputHasilPemeriksaanPipaList.Pressure.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.Pressure.Visible (begin)
        <td data-name="Pressure" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.Pressure.CellAttributes)>
<span id="el@(subAktivitasFormInputHasilPemeriksaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputHasilPemeriksaanPipaList.RowCount)_SubAktivitasFormInputHasilPemeriksaanPipa_Pressure" class="el_SubAktivitasFormInputHasilPemeriksaanPipa_Pressure">
<span @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.Pressure.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.Pressure.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHasilPemeriksaanPipaList.Pressure.Visible (end) *@
    @if (subAktivitasFormInputHasilPemeriksaanPipaList.userInput.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.userInput.CellAttributes)>
<span id="el@(subAktivitasFormInputHasilPemeriksaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputHasilPemeriksaanPipaList.RowCount)_SubAktivitasFormInputHasilPemeriksaanPipa_userInput" class="el_SubAktivitasFormInputHasilPemeriksaanPipa_userInput">
<span @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHasilPemeriksaanPipaList.userInput.Visible (end) *@
    @if (subAktivitasFormInputHasilPemeriksaanPipaList.etlDate.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.etlDate.CellAttributes)>
<span id="el@(subAktivitasFormInputHasilPemeriksaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputHasilPemeriksaanPipaList.RowCount)_SubAktivitasFormInputHasilPemeriksaanPipa_etlDate" class="el_SubAktivitasFormInputHasilPemeriksaanPipa_etlDate">
<span @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHasilPemeriksaanPipaList.etlDate.Visible (end) *@
    @if (subAktivitasFormInputHasilPemeriksaanPipaList.idProses.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.idProses.CellAttributes)>
<span id="el@(subAktivitasFormInputHasilPemeriksaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputHasilPemeriksaanPipaList.RowCount)_SubAktivitasFormInputHasilPemeriksaanPipa_idProses" class="el_SubAktivitasFormInputHasilPemeriksaanPipa_idProses">
<span @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHasilPemeriksaanPipaList.idProses.Visible (end) *@
    @if (subAktivitasFormInputHasilPemeriksaanPipaList.LastUpdatedBy.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasFormInputHasilPemeriksaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputHasilPemeriksaanPipaList.RowCount)_SubAktivitasFormInputHasilPemeriksaanPipa_LastUpdatedBy" class="el_SubAktivitasFormInputHasilPemeriksaanPipa_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHasilPemeriksaanPipaList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasFormInputHasilPemeriksaanPipaList.lastUpdatedDate.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasFormInputHasilPemeriksaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputHasilPemeriksaanPipaList.RowCount)_SubAktivitasFormInputHasilPemeriksaanPipa_lastUpdatedDate" class="el_SubAktivitasFormInputHasilPemeriksaanPipa_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHasilPemeriksaanPipaList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasFormInputHasilPemeriksaanPipaList.StatusAktivitas.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasFormInputHasilPemeriksaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputHasilPemeriksaanPipaList.RowCount)_SubAktivitasFormInputHasilPemeriksaanPipa_StatusAktivitas" class="el_SubAktivitasFormInputHasilPemeriksaanPipa_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHasilPemeriksaanPipaList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasFormInputHasilPemeriksaanPipaList.TanggalJamSOP.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.TanggalJamSOP.Visible (begin)
        <td data-name="TanggalJamSOP" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.TanggalJamSOP.CellAttributes)>
<span id="el@(subAktivitasFormInputHasilPemeriksaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputHasilPemeriksaanPipaList.RowCount)_SubAktivitasFormInputHasilPemeriksaanPipa_TanggalJamSOP" class="el_SubAktivitasFormInputHasilPemeriksaanPipa_TanggalJamSOP">
<span @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.TanggalJamSOP.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.TanggalJamSOP.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHasilPemeriksaanPipaList.TanggalJamSOP.Visible (end) *@
    @if (subAktivitasFormInputHasilPemeriksaanPipaList.SelisihWaktu.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.SelisihWaktu.Visible (begin)
        <td data-name="SelisihWaktu" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.SelisihWaktu.CellAttributes)>
<span id="el@(subAktivitasFormInputHasilPemeriksaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputHasilPemeriksaanPipaList.RowCount)_SubAktivitasFormInputHasilPemeriksaanPipa_SelisihWaktu" class="el_SubAktivitasFormInputHasilPemeriksaanPipa_SelisihWaktu">
<span @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.SelisihWaktu.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.SelisihWaktu.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHasilPemeriksaanPipaList.SelisihWaktu.Visible (end) *@
    @if (subAktivitasFormInputHasilPemeriksaanPipaList.IsQualityActive.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaList.IsQualityActive.Visible (begin)
        <td data-name="IsQualityActive" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.IsQualityActive.CellAttributes)>
<span id="el@(subAktivitasFormInputHasilPemeriksaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputHasilPemeriksaanPipaList.RowCount)_SubAktivitasFormInputHasilPemeriksaanPipa_IsQualityActive" class="el_SubAktivitasFormInputHasilPemeriksaanPipa_IsQualityActive">
<span @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.IsQualityActive.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(subAktivitasFormInputHasilPemeriksaanPipaList.IsQualityActive.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span>
</td>
    } @* subAktivitasFormInputHasilPemeriksaanPipaList.IsQualityActive.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasFormInputHasilPemeriksaanPipaList.ListOptions.RenderBody("right", subAktivitasFormInputHasilPemeriksaanPipaList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasFormInputHasilPemeriksaanPipaList.RowIndex, "$rowindex$"))
        subAktivitasFormInputHasilPemeriksaanPipaList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasFormInputHasilPemeriksaanPipaList.IsCopy || subAktivitasFormInputHasilPemeriksaanPipaList.IsAdd) && subAktivitasFormInputHasilPemeriksaanPipaList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasFormInputHasilPemeriksaanPipaList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasFormInputHasilPemeriksaanPipaList.CurrentAction) && !subAktivitasFormInputHasilPemeriksaanPipaList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasFormInputHasilPemeriksaanPipaList.CloseRecordset(); }
@if (!subAktivitasFormInputHasilPemeriksaanPipaList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasFormInputHasilPemeriksaanPipaList.IsGridAdd && !(subAktivitasFormInputHasilPemeriksaanPipaList.IsGridEdit && subAktivitasFormInputHasilPemeriksaanPipaList.ModalGridEdit) && !subAktivitasFormInputHasilPemeriksaanPipaList.IsMultiEdit) {
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasFormInputHasilPemeriksaanPipaList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasFormInputHasilPemeriksaanPipaList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasFormInputHasilPemeriksaanPipaList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasFormInputHasilPemeriksaanPipaList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputHasilPemeriksaanPipaList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputHasilPemeriksaanPipa");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
