@{
    // View
    View = this;

    // Check action result
    if (subaktivitasInputLogbookPenyaluranPipaBackupAdd.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subaktivitasInputLogbookPenyaluranPipaBackupAdd.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasInputLogbookPenyaluranPipaBackupAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasInputLogbookPenyaluranPipa_Backup: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fSubaktivitasInputLogbookPenyaluranPipa_Backupadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubaktivitasInputLogbookPenyaluranPipa_Backupadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["NomorTangki", [fields.NomorTangki.visible && fields.NomorTangki.required ? ew.Validators.required(fields.NomorTangki.caption) : null], fields.NomorTangki.isInvalid],
            ["LO", [fields.LO.visible && fields.LO.required ? ew.Validators.required(fields.LO.caption) : null], fields.LO.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["MeterAwal", [fields.MeterAwal.visible && fields.MeterAwal.required ? ew.Validators.required(fields.MeterAwal.caption) : null], fields.MeterAwal.isInvalid],
            ["MeterAkhir", [fields.MeterAkhir.visible && fields.MeterAkhir.required ? ew.Validators.required(fields.MeterAkhir.caption) : null], fields.MeterAkhir.isInvalid],
            ["Quantity", [fields.Quantity.visible && fields.Quantity.required ? ew.Validators.required(fields.Quantity.caption) : null], fields.Quantity.isInvalid],
            ["BayNumber", [fields.BayNumber.visible && fields.BayNumber.required ? ew.Validators.required(fields.BayNumber.caption) : null], fields.BayNumber.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subaktivitasInputLogbookPenyaluranPipaBackupAdd.ShowPageHeader()
@subaktivitasInputLogbookPenyaluranPipaBackupAdd.ShowMessages()
<form name="fSubaktivitasInputLogbookPenyaluranPipa_Backupadd" id="fSubaktivitasInputLogbookPenyaluranPipa_Backupadd" class="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(subaktivitasInputLogbookPenyaluranPipaBackupAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.OldKeyName)" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (subaktivitasInputLogbookPenyaluranPipaBackupAdd.idAktifitas.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupAdd.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.idAktifitas.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_idAktifitas" for="x_idAktifitas" class="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.idAktifitas.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.idAktifitas.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_idAktifitas">
<input type="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubaktivitasInputLogbookPenyaluranPipa_Backup" data-field="x_idAktifitas" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaBackupAdd.idAktifitas.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.idAktifitas.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaBackupAdd.idAktifitas.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupAdd.NomorTangki.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupAdd.NomorTangki.Visible (begin)
    <div id="r_NomorTangki" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.NomorTangki.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_NomorTangki" for="x_NomorTangki" class="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.NomorTangki.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.NomorTangki.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.NomorTangki.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_NomorTangki">
<input type="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.NomorTangki.InputTextType)" name="x_NomorTangki" id="x_NomorTangki" data-table="SubaktivitasInputLogbookPenyaluranPipa_Backup" data-field="x_NomorTangki" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.NomorTangki.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaBackupAdd.NomorTangki.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.NomorTangki.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.NomorTangki.EditAttributes) aria-describedby="x_NomorTangki_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.NomorTangki.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.NomorTangki.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaBackupAdd.NomorTangki.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupAdd.LO.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupAdd.LO.Visible (begin)
    <div id="r_LO" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LO.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_LO" for="x_LO" class="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LO.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LO.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LO.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_LO">
<input type="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LO.InputTextType)" name="x_LO" id="x_LO" data-table="SubaktivitasInputLogbookPenyaluranPipa_Backup" data-field="x_LO" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LO.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LO.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LO.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LO.EditAttributes) aria-describedby="x_LO_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LO.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LO.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaBackupAdd.LO.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupAdd.Produk.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupAdd.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.Produk.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_Produk" for="x_Produk" class="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.Produk.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.Produk.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_Produk">
<input type="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubaktivitasInputLogbookPenyaluranPipa_Backup" data-field="x_Produk" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.Produk.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaBackupAdd.Produk.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.Produk.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaBackupAdd.Produk.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupAdd.MeterAwal.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupAdd.MeterAwal.Visible (begin)
    <div id="r_MeterAwal" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.MeterAwal.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_MeterAwal" for="x_MeterAwal" class="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.MeterAwal.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.MeterAwal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.MeterAwal.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_MeterAwal">
<input type="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.MeterAwal.InputTextType)" name="x_MeterAwal" id="x_MeterAwal" data-table="SubaktivitasInputLogbookPenyaluranPipa_Backup" data-field="x_MeterAwal" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.MeterAwal.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaBackupAdd.MeterAwal.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.MeterAwal.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.MeterAwal.EditAttributes) aria-describedby="x_MeterAwal_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.MeterAwal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.MeterAwal.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaBackupAdd.MeterAwal.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupAdd.MeterAkhir.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupAdd.MeterAkhir.Visible (begin)
    <div id="r_MeterAkhir" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.MeterAkhir.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_MeterAkhir" for="x_MeterAkhir" class="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.MeterAkhir.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.MeterAkhir.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.MeterAkhir.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_MeterAkhir">
<input type="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.MeterAkhir.InputTextType)" name="x_MeterAkhir" id="x_MeterAkhir" data-table="SubaktivitasInputLogbookPenyaluranPipa_Backup" data-field="x_MeterAkhir" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.MeterAkhir.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaBackupAdd.MeterAkhir.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.MeterAkhir.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.MeterAkhir.EditAttributes) aria-describedby="x_MeterAkhir_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.MeterAkhir.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.MeterAkhir.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaBackupAdd.MeterAkhir.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupAdd.Quantity.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupAdd.Quantity.Visible (begin)
    <div id="r_Quantity" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.Quantity.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_Quantity" for="x_Quantity" class="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.Quantity.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.Quantity.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.Quantity.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_Quantity">
<input type="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.Quantity.InputTextType)" name="x_Quantity" id="x_Quantity" data-table="SubaktivitasInputLogbookPenyaluranPipa_Backup" data-field="x_Quantity" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.Quantity.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaBackupAdd.Quantity.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.Quantity.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.Quantity.EditAttributes) aria-describedby="x_Quantity_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.Quantity.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.Quantity.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaBackupAdd.Quantity.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupAdd.BayNumber.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupAdd.BayNumber.Visible (begin)
    <div id="r_BayNumber" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.BayNumber.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_BayNumber" for="x_BayNumber" class="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.BayNumber.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.BayNumber.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.BayNumber.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_BayNumber">
<input type="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.BayNumber.InputTextType)" name="x_BayNumber" id="x_BayNumber" data-table="SubaktivitasInputLogbookPenyaluranPipa_Backup" data-field="x_BayNumber" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.BayNumber.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaBackupAdd.BayNumber.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.BayNumber.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.BayNumber.EditAttributes) aria-describedby="x_BayNumber_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.BayNumber.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.BayNumber.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaBackupAdd.BayNumber.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupAdd.userInput.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupAdd.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.userInput.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_userInput" for="x_userInput" class="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.userInput.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.userInput.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_userInput">
<input type="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubaktivitasInputLogbookPenyaluranPipa_Backup" data-field="x_userInput" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaBackupAdd.userInput.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.userInput.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaBackupAdd.userInput.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupAdd.etlDate.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupAdd.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.etlDate.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_etlDate" for="x_etlDate" class="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.etlDate.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.etlDate.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_etlDate">
<input type="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubaktivitasInputLogbookPenyaluranPipa_Backup" data-field="x_etlDate" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaBackupAdd.etlDate.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.etlDate.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.etlDate.GetErrorMessage())</div>
@if (!subaktivitasInputLogbookPenyaluranPipaBackupAdd.etlDate.ReadOnly && !subaktivitasInputLogbookPenyaluranPipaBackupAdd.etlDate.Disabled && !subaktivitasInputLogbookPenyaluranPipaBackupAdd.etlDate.EditAttrs.Is("readonly") && !subaktivitasInputLogbookPenyaluranPipaBackupAdd.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubaktivitasInputLogbookPenyaluranPipa_Backupadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubaktivitasInputLogbookPenyaluranPipa_Backupadd", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaBackupAdd.etlDate.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupAdd.idProses.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupAdd.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.idProses.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_idProses" for="x_idProses" class="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.idProses.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.idProses.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_idProses">
<input type="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubaktivitasInputLogbookPenyaluranPipa_Backup" data-field="x_idProses" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaBackupAdd.idProses.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.idProses.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaBackupAdd.idProses.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupAdd.LastUpdatedBy.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupAdd.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LastUpdatedBy.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LastUpdatedBy.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_LastUpdatedBy">
<input type="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubaktivitasInputLogbookPenyaluranPipa_Backup" data-field="x_LastUpdatedBy" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LastUpdatedBy.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaBackupAdd.LastUpdatedBy.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupAdd.lastUpdatedDate.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupAdd.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.lastUpdatedDate.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.lastUpdatedDate.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_lastUpdatedDate">
<input type="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubaktivitasInputLogbookPenyaluranPipa_Backup" data-field="x_lastUpdatedDate" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaBackupAdd.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.lastUpdatedDate.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.lastUpdatedDate.GetErrorMessage())</div>
@if (!subaktivitasInputLogbookPenyaluranPipaBackupAdd.lastUpdatedDate.ReadOnly && !subaktivitasInputLogbookPenyaluranPipaBackupAdd.lastUpdatedDate.Disabled && !subaktivitasInputLogbookPenyaluranPipaBackupAdd.lastUpdatedDate.EditAttrs.Is("readonly") && !subaktivitasInputLogbookPenyaluranPipaBackupAdd.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubaktivitasInputLogbookPenyaluranPipa_Backupadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubaktivitasInputLogbookPenyaluranPipa_Backupadd", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaBackupAdd.lastUpdatedDate.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupAdd.NoReferensi.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupAdd.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.NoReferensi.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_NoReferensi" for="x_NoReferensi" class="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.NoReferensi.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.NoReferensi.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_NoReferensi">
<input type="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubaktivitasInputLogbookPenyaluranPipa_Backup" data-field="x_NoReferensi" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.NoReferensi.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaBackupAdd.NoReferensi.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.NoReferensi.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaBackupAdd.NoReferensi.Visible (end) *@
</div><!-- /page* -->
@{ subaktivitasInputLogbookPenyaluranPipaBackupAdd.CloseRecordset(); }
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subaktivitasInputLogbookPenyaluranPipaBackupAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubaktivitasInputLogbookPenyaluranPipa_Backupadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubaktivitasInputLogbookPenyaluranPipa_Backupadd" data-href="@AppPath(subaktivitasInputLogbookPenyaluranPipaBackupAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@subaktivitasInputLogbookPenyaluranPipaBackupAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubaktivitasInputLogbookPenyaluranPipa_Backup");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
