@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputNilaiAktDischargeRtwDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputNilaiAktDischargeRtwDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputNilaiAktDischargeRtwDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputNilaiAktDischargeRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fSubAktivitasFormInputNilaiAktDischargeRTWdelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputNilaiAktDischargeRTWdelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasFormInputNilaiAktDischargeRtwDelete.ShowPageHeader()
@subAktivitasFormInputNilaiAktDischargeRtwDelete.ShowMessages()
<form name="fSubAktivitasFormInputNilaiAktDischargeRTWdelete" id="fSubAktivitasFormInputNilaiAktDischargeRTWdelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in subAktivitasFormInputNilaiAktDischargeRtwDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(subAktivitasFormInputNilaiAktDischargeRtwDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(subAktivitasFormInputNilaiAktDischargeRtwDelete.TableContainerClass)" style="@(subAktivitasFormInputNilaiAktDischargeRtwDelete.TableContainerStyle)">
<table class="@(subAktivitasFormInputNilaiAktDischargeRtwDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.id.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.id.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.id.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_id" class="SubAktivitasFormInputNilaiAktDischargeRTW_id">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.id.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.id.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.NoReferensi.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.NoReferensi.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.NoReferensi.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_NoReferensi" class="SubAktivitasFormInputNilaiAktDischargeRTW_NoReferensi">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.NoReferensi.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.idProses.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.idProses.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.idProses.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_idProses" class="SubAktivitasFormInputNilaiAktDischargeRTW_idProses">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.idProses.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.idProses.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.idAktifitas.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.idAktifitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.idAktifitas.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_idAktifitas" class="SubAktivitasFormInputNilaiAktDischargeRTW_idAktifitas">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.idAktifitas.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.StatusAktivitas.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.StatusAktivitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.StatusAktivitas.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_StatusAktivitas" class="SubAktivitasFormInputNilaiAktDischargeRTW_StatusAktivitas">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.StatusAktivitas.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.LastUpdatedBy.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.LastUpdatedBy.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.LastUpdatedBy.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_LastUpdatedBy" class="SubAktivitasFormInputNilaiAktDischargeRTW_LastUpdatedBy">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.LastUpdatedBy.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.lastUpdatedDate.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.lastUpdatedDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.lastUpdatedDate.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_lastUpdatedDate" class="SubAktivitasFormInputNilaiAktDischargeRTW_lastUpdatedDate">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.lastUpdatedDate.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.Import.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.Import.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.Import.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_Import" class="SubAktivitasFormInputNilaiAktDischargeRTW_Import">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.Import.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.Import.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.ApakahAdaROB.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.ApakahAdaROB.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.ApakahAdaROB.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_ApakahAdaROB" class="SubAktivitasFormInputNilaiAktDischargeRTW_ApakahAdaROB">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.ApakahAdaROB.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.ApakahAdaROB.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.Tujuan.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.Tujuan.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.Tujuan.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_Tujuan" class="SubAktivitasFormInputNilaiAktDischargeRTW_Tujuan">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.Tujuan.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.Tujuan.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_KLObs.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_KLObs.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_KLObs.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_KLObs" class="SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_KLObs">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_KLObs.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_KLObs.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_KL15.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_KL15.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_KL15.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_KL15" class="SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_KL15">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_KL15.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_KL15.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_Barrels.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_Barrels.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_Barrels.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_Barrels" class="SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_Barrels">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_Barrels.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_LT.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_LT.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_LT.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_LT" class="SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_LT">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_LT.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_LT.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_MT.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_MT.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_MT.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_MT" class="SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_MT">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_MT.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_MT.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_KLObs.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_KLObs.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_KLObs.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_KLObs" class="SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_KLObs">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_KLObs.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_KLObs.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_KL15.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_KL15.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_KL15.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_KL15" class="SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_KL15">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_KL15.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_KL15.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_Barrels.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_Barrels.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_Barrels.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_Barrels" class="SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_Barrels">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_Barrels.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_LT.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_LT.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_LT.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_LT" class="SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_LT">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_LT.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_LT.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_MT.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_MT.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_MT.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_MT" class="SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_MT">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_MT.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_MT.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.userInput.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.userInput.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.userInput.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_userInput" class="SubAktivitasFormInputNilaiAktDischargeRTW_userInput">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.userInput.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.userInput.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.etlDate.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.etlDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.etlDate.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_etlDate" class="SubAktivitasFormInputNilaiAktDischargeRTW_etlDate">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.etlDate.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.etlDate.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_klobs.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_klobs.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_klobs.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_klobs" class="SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_klobs">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_klobs.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_klobs.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_kl15.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_kl15.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_kl15.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_kl15" class="SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_kl15">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_kl15.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_kl15.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_Barrel.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_Barrel.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_Barrel.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_Barrel" class="SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_Barrel">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_Barrel.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_Barrel.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_lt.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_lt.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_lt.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_lt" class="SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_lt">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_lt.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_lt.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_mt.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_mt.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_mt.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_mt" class="SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_mt">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_mt.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_mt.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ subAktivitasFormInputNilaiAktDischargeRtwDelete.RecordCount = 0; }
@while (subAktivitasFormInputNilaiAktDischargeRtwDelete.Recordset != null && await subAktivitasFormInputNilaiAktDischargeRtwDelete.Recordset.ReadAsync()) { // DN
    subAktivitasFormInputNilaiAktDischargeRtwDelete.RecordCount++;
    subAktivitasFormInputNilaiAktDischargeRtwDelete.RowCount++;

    // Set row properties
    subAktivitasFormInputNilaiAktDischargeRtwDelete.ResetAttributes();
    subAktivitasFormInputNilaiAktDischargeRtwDelete.RowType = RowType.View; // View

    // Get the field contents
    await subAktivitasFormInputNilaiAktDischargeRtwDelete.LoadRowValues(subAktivitasFormInputNilaiAktDischargeRtwDelete.Recordset);

    // Render row
    await subAktivitasFormInputNilaiAktDischargeRtwDelete.RenderRow();
    <tr @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.RowAttributes)>
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.id.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.id.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.id.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.id.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.id.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.NoReferensi.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.NoReferensi.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.NoReferensi.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.NoReferensi.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.idProses.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.idProses.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.idProses.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.idProses.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.idProses.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.idAktifitas.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.idAktifitas.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.idAktifitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.idAktifitas.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.StatusAktivitas.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.StatusAktivitas.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.StatusAktivitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.StatusAktivitas.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.LastUpdatedBy.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.LastUpdatedBy.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.LastUpdatedBy.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.LastUpdatedBy.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.lastUpdatedDate.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.lastUpdatedDate.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.lastUpdatedDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.lastUpdatedDate.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.Import.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.Import.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.Import.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.Import.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(subAktivitasFormInputNilaiAktDischargeRtwDelete.Import.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span></td>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.Import.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.ApakahAdaROB.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.ApakahAdaROB.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.ApakahAdaROB.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.ApakahAdaROB.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(subAktivitasFormInputNilaiAktDischargeRtwDelete.ApakahAdaROB.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span></td>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.ApakahAdaROB.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.Tujuan.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.Tujuan.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.Tujuan.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.Tujuan.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.Tujuan.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.Tujuan.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_KLObs.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_KLObs.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_KLObs.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_KLObs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_KLObs.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_KLObs.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_KL15.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_KL15.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_KL15.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_KL15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_KL15.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_KL15.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_Barrels.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_Barrels.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_Barrels.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_Barrels.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_LT.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_LT.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_LT.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_LT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_LT.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_LT.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_MT.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_MT.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_MT.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_MT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_MT.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.SFAD_MT.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_KLObs.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_KLObs.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_KLObs.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_KLObs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_KLObs.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_KLObs.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_KL15.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_KL15.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_KL15.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_KL15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_KL15.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_KL15.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_Barrels.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_Barrels.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_Barrels.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_Barrels.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_LT.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_LT.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_LT.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_LT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_LT.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_LT.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_MT.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_MT.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_MT.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_MT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_MT.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.NewBL_MT.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.userInput.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.userInput.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.userInput.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.userInput.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.userInput.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.etlDate.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.etlDate.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.etlDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.etlDate.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.etlDate.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_klobs.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_klobs.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_klobs.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_klobs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_klobs.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_klobs.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_kl15.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_kl15.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_kl15.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_kl15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_kl15.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_kl15.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_Barrel.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_Barrel.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_Barrel.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_Barrel.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_Barrel.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_Barrel.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_lt.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_lt.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_lt.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_lt.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_lt.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_lt.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_mt.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_mt.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_mt.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_mt.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_mt.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktDischargeRtwDelete.AR45B_mt.Visible (end) *@
    </tr>
}
@{ subAktivitasFormInputNilaiAktDischargeRtwDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(subAktivitasFormInputNilaiAktDischargeRtwDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@subAktivitasFormInputNilaiAktDischargeRtwDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
