@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputBLnSfalrtwEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputBLnSfalrtwEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasFormInputBLnSfalrtwEdit.ShowPageHeader()
@subAktivitasFormInputBLnSfalrtwEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasFormInputBLnSFALRTWedit" id="fSubAktivitasFormInputBLnSFALRTWedit" class="@(subAktivitasFormInputBLnSfalrtwEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputBLnSfalrtwEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputBLnSFALRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasFormInputBLnSFALRTWedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputBLnSFALRTWedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null], fields.idAktifitas.isInvalid],
            ["BL_KLObs", [fields.BL_KLObs.visible && fields.BL_KLObs.required ? ew.Validators.required(fields.BL_KLObs.caption) : null], fields.BL_KLObs.isInvalid],
            ["BL_KL15", [fields.BL_KL15.visible && fields.BL_KL15.required ? ew.Validators.required(fields.BL_KL15.caption) : null], fields.BL_KL15.isInvalid],
            ["BL_Barrels", [fields.BL_Barrels.visible && fields.BL_Barrels.required ? ew.Validators.required(fields.BL_Barrels.caption) : null], fields.BL_Barrels.isInvalid],
            ["BL_LT", [fields.BL_LT.visible && fields.BL_LT.required ? ew.Validators.required(fields.BL_LT.caption) : null], fields.BL_LT.isInvalid],
            ["BL_MT", [fields.BL_MT.visible && fields.BL_MT.required ? ew.Validators.required(fields.BL_MT.caption) : null], fields.BL_MT.isInvalid],
            ["SFAL_KLObs", [fields.SFAL_KLObs.visible && fields.SFAL_KLObs.required ? ew.Validators.required(fields.SFAL_KLObs.caption) : null], fields.SFAL_KLObs.isInvalid],
            ["SFAL_KL15", [fields.SFAL_KL15.visible && fields.SFAL_KL15.required ? ew.Validators.required(fields.SFAL_KL15.caption) : null], fields.SFAL_KL15.isInvalid],
            ["SFAL_Barrels", [fields.SFAL_Barrels.visible && fields.SFAL_Barrels.required ? ew.Validators.required(fields.SFAL_Barrels.caption) : null], fields.SFAL_Barrels.isInvalid],
            ["SFAL_LT", [fields.SFAL_LT.visible && fields.SFAL_LT.required ? ew.Validators.required(fields.SFAL_LT.caption) : null], fields.SFAL_LT.isInvalid],
            ["SFAL_MT", [fields.SFAL_MT.visible && fields.SFAL_MT.required ? ew.Validators.required(fields.SFAL_MT.caption) : null], fields.SFAL_MT.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null], fields.idProses.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null], fields.lastUpdatedDate.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null], fields.StatusAktivitas.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Client script
    // Write your client script here, no need to add script tags.
    var parent_url = ew.PATH_BASE;
    var IdProses = "@subAktivitasFormInputBLnSfalrtwEdit.idProses.CurrentValue";
    var NoReferensi = "@subAktivitasFormInputBLnSfalrtwEdit.NoReferensi.CurrentValue";
    var IdAktivitas = "@subAktivitasFormInputBLnSfalrtwEdit.idAktifitas.CurrentValue";
    let proceedSubmitStatus = null;
    $('#x_BL_KLObs, #x_BL_KL15, #x_BL_Barrels, #x_BL_MT, #x_BL_LT, #x_SFAL_KLObs, #x_SFAL_KL15, #x_SFAL_Barrels, #x_SFAL_MT, #x_SFAL_LT').on('focus', function () {
        hideFeedback($(this));
    });
    function hideFeedback(el) {
        let feedback = el.siblings('.invalid-feedback');
        feedback.hide();
    }
    function validasiInput(){
        var inputMap = {
            "#x_BL_KLObs": "BL KL Obs",
            "#x_BL_KL15": "BL KL 15",
            "#x_BL_Barrels": "BL Barrels",
            "#x_BL_MT": "BL Mt",
            "#x_BL_LT": "BL Lt",
            "#x_SFAL_KLObs": "AL KL Obs",
            "#x_SFAL_KL15": "AL KL 15",
            "#x_SFAL_Barrels": "AL Barrels",
            "#x_SFAL_MT": "AL Mt",
            "#x_SFAL_LT": "AL Lt"
        };
        let isValid = true;
        $('.invalid-feedback').hide();
        let zeroOrNegativeFields = [];
        for (var id in inputMap) {
            var el = $(id);
            var label = inputMap[id];
            var val = el.val().trim();
            el.val(val);
            var feedback = el.siblings('.invalid-feedback');
            if (val === "") {
                feedback.text('*' + label + ' tidak boleh kosong.').show();
                isValid = false;
                continue;
            }
            if (isNaN(val)) {
                feedback.text('*' + label + ' harus diisi dengan angka desimal yang valid.').show();
                isValid = false;
                continue;
            }
            var number = parseFloat(val);
            if (number <= 0) {
                zeroOrNegativeFields.push(label)
            }
        }
        if (!isValid) {
            ew.alert('Nilai input harus berupa angka desimal yang valid.');
            return;
        }
        let fieldNotValid = [];
        for (const fieldId in inputMap) {
            const el = $(fieldId);
            const label = inputMap[fieldId];
            if (el.length && !el.val().trim()) {
                fieldNotValid.push(label);
                isValid = false
            }
        }
        if (!isValid) {
            ew.alert("Field tidak boleh kosong: " + fieldNotValid.join(", "));
            return { isValid: false}; // Gagal submit
        } else {
            $('.invalid-feedback').hide();
            if (zeroOrNegativeFields.length > 0) {
                return { isValid: false, hasNegative: true, fields: zeroOrNegativeFields };
            }
                return { isValid: true};
        }
        return { isValid: true};
    }
    function handleCustomSubmit(status) {
        let idAktivitas = $("#x_idAktifitas").val();
        const originalStatus = document.querySelector('#el_SubAktivitasFormInputBLnSFALRTW_StatusAktivitas .form-control-plaintext').textContent;
        const isValidInput = validasiInput();
        if (!isValidInput.isValid && !isValidInput.hasNegative) return;
        let allNegativeFields = [];
        if (isValidInput.hasNegative) allNegativeFields = allNegativeFields.concat(isValidInput.fields);
        if (allNegativeFields.length > 0) {
            let warningText = "Field berikut bernilai 0 atau kurang: " + allNegativeFields.join(", ") + ". Apakah Anda ingin tetap menyimpan?";
            $("#warningValueText").text(warningText);
            proceedSubmitStatus = status;
            $("#warningValueModal").modal("show");
            return;
        }

        // Jika nilai valid langsung submit
        submitFinal(status);
    }
    function submitFinal(status) {
        let idAktivitas = $("#x_idAktifitas").val();
        const originalStatus = document.querySelector('#el_SubAktivitasFormInputBLnSFALRTW_StatusAktivitas .form-control-plaintext').textContent;
        $.ajax({
            url: parent_url + `api/LookUpList/check_valid_status_aktivitas?idAktivitas=${idAktivitas}&originalStatus=${originalStatus}`,
            type: 'GET',
            beforeSend: function () {
                showLoading();
            },
            success: function (response) {
                if (!response.IsValid){
                    hideLoading();
                    ew.alert(response.Message ?? "Status aktivitas telah diubah oleh pengguna lain");
                    return;
                } else {
                    let form = $("#fSubAktivitasFormInputBLnSFALRTWedit");
                    $.ajax({
                        url: form.attr("action"),
                        type: form.attr("method"),
                        data: form.serialize(),
                        success: function (response) {
                            updateStatus(idAktivitas, status);
                        },
                        error: function (xhr, status, error) {
                            hideLoading();
                            ew.alert("Gagal menyimpan data.");
                            console.error("Form submit gagal:", error);
                        }
                    });  
                }
            },
            error: function (xhr, status, error) {
                hideLoading();
                ew.alert("Gagal menyimpan data.");
                console.error("Form submit gagal:", error);
            }
        }); 
    }
    function updateStatus(idAktivitas, status) {
        $.ajax({
            url: parent_url + `api/LookUpList/update_status_aktivitas?idAktivitas=${idAktivitas}&statusAktivitas=${status}`,
            type: 'POST',
            success: function () {
                const payload = JSON.stringify({
                    NoReferensi: NoReferensi,
                    IdProses: IdProses,
                    IdAktivitas: IdAktivitas
                });
                const reqR2 = $.ajax({
                    url: parent_url + 'api/LookUpList/update_lop_r2_rtw',
                    type: 'POST',
                    data: payload,
                    contentType: 'application/json'
                });
                const reqR4 = $.ajax({
                    url: parent_url + 'api/LookUpList/update_lop_r4_rtw',
                    type: 'POST',
                    data: payload,
                    contentType: 'application/json'
                });
                $.when(reqR2, reqR4)
                .done(function (resR2, resR4) {
                    ew.alert('Berhasil update data.');
                    setTimeout(function () {
                        if (status == "Completed" || status == "Completed Edit") {
                            window.location.href = `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`;
                        } else {
                            location.reload();
                        }
                    }, 1000);
                })
                .fail(function (xhr, statusText, error) {
                    console.error("Salah satu update gagal:", statusText, error);
                })
                .always(function () {
                    hideLoading();
                });
            },
            error: function (xhr, status, error) {
                ew.alert("Status gagal diperbarui.");
                console.error("Update status gagal:", error);
                hideLoading();
            }
        });
    }
    function reverseStatus(status, catatan) {
        showLoading();
        let idAktivitas = $("#x_idAktifitas").val();
        $.ajax({
            url: parent_url + `api/LookUpList/update_status_aktivitas-v2`,
            type: 'POST',
            data: JSON.stringify({ IdAktivitas: idAktivitas, StatusAktivitas: status, Catatan: catatan ?? null }),
            contentType: 'application/json',
            success: function () {
                hideLoading();
                ew.alert('Berhasil update data.');
                setTimeout(function () {
                    window.location.href = `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`;
                }, 1000);
            },
            error: function (xhr, status, error) {
                ew.alert("Status gagal diperbarui.");
                console.error("Update status gagal:", error);
            },
            complete: function () {
                hideLoading();
            }
        });
    }
    $(document).on("click", "#btn-draft", function () {
        handleCustomSubmit("Draft");
    });
    $(document).on("click", "#btn-completed", function () {
        handleCustomSubmit("Completed");
    });
    $(document).on("click", "#btn-editing", function () {
        handleCustomSubmit("Editing");
    });
    $(document).on("click", "#btn-completedEdit", function () {
        handleCustomSubmit("Completed Edit");
    });
    $(document).on("click", "#btn-confirm-modal", function () {
        $("#warningValueModal").modal("hide");
        submitFinal(proceedSubmitStatus);
    });
    $(document).on("submit", "#reverseStatusEditingModalForm", function (e) {
        e.preventDefault();
        let catatanText = $("#catatanReverseStatusEditing").val();
        reverseStatus("Editing", catatanText);
    });
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputBLnSfalrtwEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasFormInputBLnSfalrtwEdit.OldKeyName)" value="@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.OldKey)">
<div class="ew-edit-div d-none"><!-- page* -->
@if (subAktivitasFormInputBLnSfalrtwEdit.id.Visible) { // subAktivitasFormInputBLnSfalrtwEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.id.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_id" class="@(subAktivitasFormInputBLnSfalrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputBLnSFALRTW_id">@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.id.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputBLnSfalrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.id.CellAttributes)>
<template id="tpx_SubAktivitasFormInputBLnSFALRTW_id"><span id="el_SubAktivitasFormInputBLnSFALRTW_id">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasFormInputBLnSfalrtwEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwEdit.id.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwEdit.id.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwEdit.idAktifitas.Visible) { // subAktivitasFormInputBLnSfalrtwEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_idAktifitas" class="@(subAktivitasFormInputBLnSfalrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputBLnSFALRTW_idAktifitas">@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.idAktifitas.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputBLnSfalrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.idAktifitas.CellAttributes)>
<template id="tpx_SubAktivitasFormInputBLnSFALRTW_idAktifitas"><span id="el_SubAktivitasFormInputBLnSFALRTW_idAktifitas">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.idAktifitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.idAktifitas.DisplayValue(subAktivitasFormInputBLnSfalrtwEdit.idAktifitas.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_idAktifitas" data-hidden="1" name="x_idAktifitas" id="x_idAktifitas" value="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwEdit.idAktifitas.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwEdit.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwEdit.BL_KLObs.Visible) { // subAktivitasFormInputBLnSfalrtwEdit.BL_KLObs.Visible (begin)
    <div id="r_BL_KLObs" @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_KLObs.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_BL_KLObs" for="x_BL_KLObs" class="@(subAktivitasFormInputBLnSfalrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputBLnSFALRTW_BL_KLObs">@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_KLObs.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_KLObs.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputBLnSfalrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_KLObs.CellAttributes)>
<template id="tpx_SubAktivitasFormInputBLnSFALRTW_BL_KLObs"><span id="el_SubAktivitasFormInputBLnSFALRTW_BL_KLObs">
<input type="@(subAktivitasFormInputBLnSfalrtwEdit.BL_KLObs.InputTextType)" name="x_BL_KLObs" id="x_BL_KLObs" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_BL_KLObs" value="@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_KLObs.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwEdit.BL_KLObs.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLnSfalrtwEdit.BL_KLObs.FormatPattern)"@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_KLObs.EditAttributes) aria-describedby="x_BL_KLObs_help">
@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_KLObs.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_KLObs.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwEdit.BL_KLObs.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwEdit.BL_KL15.Visible) { // subAktivitasFormInputBLnSfalrtwEdit.BL_KL15.Visible (begin)
    <div id="r_BL_KL15" @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_KL15.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_BL_KL15" for="x_BL_KL15" class="@(subAktivitasFormInputBLnSfalrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputBLnSFALRTW_BL_KL15">@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_KL15.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_KL15.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputBLnSfalrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_KL15.CellAttributes)>
<template id="tpx_SubAktivitasFormInputBLnSFALRTW_BL_KL15"><span id="el_SubAktivitasFormInputBLnSFALRTW_BL_KL15">
<input type="@(subAktivitasFormInputBLnSfalrtwEdit.BL_KL15.InputTextType)" name="x_BL_KL15" id="x_BL_KL15" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_BL_KL15" value="@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_KL15.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwEdit.BL_KL15.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLnSfalrtwEdit.BL_KL15.FormatPattern)"@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_KL15.EditAttributes) aria-describedby="x_BL_KL15_help">
@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_KL15.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_KL15.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwEdit.BL_KL15.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwEdit.BL_Barrels.Visible) { // subAktivitasFormInputBLnSfalrtwEdit.BL_Barrels.Visible (begin)
    <div id="r_BL_Barrels" @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_Barrels.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_BL_Barrels" for="x_BL_Barrels" class="@(subAktivitasFormInputBLnSfalrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputBLnSFALRTW_BL_Barrels">@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_Barrels.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_Barrels.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputBLnSfalrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_Barrels.CellAttributes)>
<template id="tpx_SubAktivitasFormInputBLnSFALRTW_BL_Barrels"><span id="el_SubAktivitasFormInputBLnSFALRTW_BL_Barrels">
<input type="@(subAktivitasFormInputBLnSfalrtwEdit.BL_Barrels.InputTextType)" name="x_BL_Barrels" id="x_BL_Barrels" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_BL_Barrels" value="@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_Barrels.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwEdit.BL_Barrels.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLnSfalrtwEdit.BL_Barrels.FormatPattern)"@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_Barrels.EditAttributes) aria-describedby="x_BL_Barrels_help">
@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_Barrels.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_Barrels.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwEdit.BL_Barrels.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwEdit.BL_LT.Visible) { // subAktivitasFormInputBLnSfalrtwEdit.BL_LT.Visible (begin)
    <div id="r_BL_LT" @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_LT.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_BL_LT" for="x_BL_LT" class="@(subAktivitasFormInputBLnSfalrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputBLnSFALRTW_BL_LT">@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_LT.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_LT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputBLnSfalrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_LT.CellAttributes)>
<template id="tpx_SubAktivitasFormInputBLnSFALRTW_BL_LT"><span id="el_SubAktivitasFormInputBLnSFALRTW_BL_LT">
<input type="@(subAktivitasFormInputBLnSfalrtwEdit.BL_LT.InputTextType)" name="x_BL_LT" id="x_BL_LT" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_BL_LT" value="@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_LT.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwEdit.BL_LT.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLnSfalrtwEdit.BL_LT.FormatPattern)"@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_LT.EditAttributes) aria-describedby="x_BL_LT_help">
@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_LT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_LT.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwEdit.BL_LT.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwEdit.BL_MT.Visible) { // subAktivitasFormInputBLnSfalrtwEdit.BL_MT.Visible (begin)
    <div id="r_BL_MT" @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_MT.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_BL_MT" for="x_BL_MT" class="@(subAktivitasFormInputBLnSfalrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputBLnSFALRTW_BL_MT">@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_MT.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_MT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputBLnSfalrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_MT.CellAttributes)>
<template id="tpx_SubAktivitasFormInputBLnSFALRTW_BL_MT"><span id="el_SubAktivitasFormInputBLnSFALRTW_BL_MT">
<input type="@(subAktivitasFormInputBLnSfalrtwEdit.BL_MT.InputTextType)" name="x_BL_MT" id="x_BL_MT" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_BL_MT" value="@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_MT.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwEdit.BL_MT.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLnSfalrtwEdit.BL_MT.FormatPattern)"@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_MT.EditAttributes) aria-describedby="x_BL_MT_help">
@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_MT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.BL_MT.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwEdit.BL_MT.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwEdit.SFAL_KLObs.Visible) { // subAktivitasFormInputBLnSfalrtwEdit.SFAL_KLObs.Visible (begin)
    <div id="r_SFAL_KLObs" @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_KLObs.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_SFAL_KLObs" for="x_SFAL_KLObs" class="@(subAktivitasFormInputBLnSfalrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputBLnSFALRTW_SFAL_KLObs">@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_KLObs.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_KLObs.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputBLnSfalrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_KLObs.CellAttributes)>
<template id="tpx_SubAktivitasFormInputBLnSFALRTW_SFAL_KLObs"><span id="el_SubAktivitasFormInputBLnSFALRTW_SFAL_KLObs">
<input type="@(subAktivitasFormInputBLnSfalrtwEdit.SFAL_KLObs.InputTextType)" name="x_SFAL_KLObs" id="x_SFAL_KLObs" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_SFAL_KLObs" value="@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_KLObs.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwEdit.SFAL_KLObs.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLnSfalrtwEdit.SFAL_KLObs.FormatPattern)"@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_KLObs.EditAttributes) aria-describedby="x_SFAL_KLObs_help">
@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_KLObs.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_KLObs.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwEdit.SFAL_KLObs.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwEdit.SFAL_KL15.Visible) { // subAktivitasFormInputBLnSfalrtwEdit.SFAL_KL15.Visible (begin)
    <div id="r_SFAL_KL15" @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_KL15.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_SFAL_KL15" for="x_SFAL_KL15" class="@(subAktivitasFormInputBLnSfalrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputBLnSFALRTW_SFAL_KL15">@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_KL15.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_KL15.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputBLnSfalrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_KL15.CellAttributes)>
<template id="tpx_SubAktivitasFormInputBLnSFALRTW_SFAL_KL15"><span id="el_SubAktivitasFormInputBLnSFALRTW_SFAL_KL15">
<input type="@(subAktivitasFormInputBLnSfalrtwEdit.SFAL_KL15.InputTextType)" name="x_SFAL_KL15" id="x_SFAL_KL15" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_SFAL_KL15" value="@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_KL15.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwEdit.SFAL_KL15.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLnSfalrtwEdit.SFAL_KL15.FormatPattern)"@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_KL15.EditAttributes) aria-describedby="x_SFAL_KL15_help">
@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_KL15.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_KL15.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwEdit.SFAL_KL15.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwEdit.SFAL_Barrels.Visible) { // subAktivitasFormInputBLnSfalrtwEdit.SFAL_Barrels.Visible (begin)
    <div id="r_SFAL_Barrels" @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_Barrels.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_SFAL_Barrels" for="x_SFAL_Barrels" class="@(subAktivitasFormInputBLnSfalrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputBLnSFALRTW_SFAL_Barrels">@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_Barrels.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_Barrels.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputBLnSfalrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_Barrels.CellAttributes)>
<template id="tpx_SubAktivitasFormInputBLnSFALRTW_SFAL_Barrels"><span id="el_SubAktivitasFormInputBLnSFALRTW_SFAL_Barrels">
<input type="@(subAktivitasFormInputBLnSfalrtwEdit.SFAL_Barrels.InputTextType)" name="x_SFAL_Barrels" id="x_SFAL_Barrels" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_SFAL_Barrels" value="@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_Barrels.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwEdit.SFAL_Barrels.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLnSfalrtwEdit.SFAL_Barrels.FormatPattern)"@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_Barrels.EditAttributes) aria-describedby="x_SFAL_Barrels_help">
@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_Barrels.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_Barrels.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwEdit.SFAL_Barrels.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwEdit.SFAL_LT.Visible) { // subAktivitasFormInputBLnSfalrtwEdit.SFAL_LT.Visible (begin)
    <div id="r_SFAL_LT" @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_LT.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_SFAL_LT" for="x_SFAL_LT" class="@(subAktivitasFormInputBLnSfalrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputBLnSFALRTW_SFAL_LT">@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_LT.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_LT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputBLnSfalrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_LT.CellAttributes)>
<template id="tpx_SubAktivitasFormInputBLnSFALRTW_SFAL_LT"><span id="el_SubAktivitasFormInputBLnSFALRTW_SFAL_LT">
<input type="@(subAktivitasFormInputBLnSfalrtwEdit.SFAL_LT.InputTextType)" name="x_SFAL_LT" id="x_SFAL_LT" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_SFAL_LT" value="@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_LT.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwEdit.SFAL_LT.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLnSfalrtwEdit.SFAL_LT.FormatPattern)"@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_LT.EditAttributes) aria-describedby="x_SFAL_LT_help">
@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_LT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_LT.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwEdit.SFAL_LT.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwEdit.SFAL_MT.Visible) { // subAktivitasFormInputBLnSfalrtwEdit.SFAL_MT.Visible (begin)
    <div id="r_SFAL_MT" @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_MT.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_SFAL_MT" for="x_SFAL_MT" class="@(subAktivitasFormInputBLnSfalrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputBLnSFALRTW_SFAL_MT">@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_MT.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_MT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputBLnSfalrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_MT.CellAttributes)>
<template id="tpx_SubAktivitasFormInputBLnSFALRTW_SFAL_MT"><span id="el_SubAktivitasFormInputBLnSFALRTW_SFAL_MT">
<input type="@(subAktivitasFormInputBLnSfalrtwEdit.SFAL_MT.InputTextType)" name="x_SFAL_MT" id="x_SFAL_MT" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_SFAL_MT" value="@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_MT.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwEdit.SFAL_MT.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLnSfalrtwEdit.SFAL_MT.FormatPattern)"@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_MT.EditAttributes) aria-describedby="x_SFAL_MT_help">
@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_MT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.SFAL_MT.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwEdit.SFAL_MT.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwEdit.idProses.Visible) { // subAktivitasFormInputBLnSfalrtwEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_idProses" class="@(subAktivitasFormInputBLnSfalrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputBLnSFALRTW_idProses">@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.idProses.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputBLnSfalrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.idProses.CellAttributes)>
<template id="tpx_SubAktivitasFormInputBLnSFALRTW_idProses"><span id="el_SubAktivitasFormInputBLnSFALRTW_idProses">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.idProses.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.idProses.DisplayValue(subAktivitasFormInputBLnSfalrtwEdit.idProses.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_idProses" data-hidden="1" name="x_idProses" id="x_idProses" value="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwEdit.idProses.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwEdit.idProses.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwEdit.LastUpdatedBy.Visible) { // subAktivitasFormInputBLnSfalrtwEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasFormInputBLnSfalrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputBLnSFALRTW_LastUpdatedBy">@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputBLnSfalrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.LastUpdatedBy.CellAttributes)>
<template id="tpx_SubAktivitasFormInputBLnSFALRTW_LastUpdatedBy"><span id="el_SubAktivitasFormInputBLnSFALRTW_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.LastUpdatedBy.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasFormInputBLnSfalrtwEdit.LastUpdatedBy.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_LastUpdatedBy" data-hidden="1" name="x_LastUpdatedBy" id="x_LastUpdatedBy" value="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwEdit.LastUpdatedBy.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwEdit.lastUpdatedDate.Visible) { // subAktivitasFormInputBLnSfalrtwEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasFormInputBLnSfalrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputBLnSFALRTW_lastUpdatedDate">@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputBLnSfalrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.lastUpdatedDate.CellAttributes)>
<template id="tpx_SubAktivitasFormInputBLnSFALRTW_lastUpdatedDate"><span id="el_SubAktivitasFormInputBLnSFALRTW_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.lastUpdatedDate.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasFormInputBLnSfalrtwEdit.lastUpdatedDate.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_lastUpdatedDate" data-hidden="1" name="x_lastUpdatedDate" id="x_lastUpdatedDate" value="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwEdit.lastUpdatedDate.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwEdit.NoReferensi.Visible) { // subAktivitasFormInputBLnSfalrtwEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_NoReferensi" for="x_NoReferensi" class="@(subAktivitasFormInputBLnSfalrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputBLnSFALRTW_NoReferensi">@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.NoReferensi.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputBLnSfalrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.NoReferensi.CellAttributes)>
<template id="tpx_SubAktivitasFormInputBLnSFALRTW_NoReferensi"><span id="el_SubAktivitasFormInputBLnSFALRTW_NoReferensi">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.NoReferensi.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasFormInputBLnSfalrtwEdit.NoReferensi.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_NoReferensi" data-hidden="1" name="x_NoReferensi" id="x_NoReferensi" value="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwEdit.NoReferensi.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwEdit.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwEdit.StatusAktivitas.Visible) { // subAktivitasFormInputBLnSfalrtwEdit.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.StatusAktivitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_StatusAktivitas" class="@(subAktivitasFormInputBLnSfalrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputBLnSFALRTW_StatusAktivitas">@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.StatusAktivitas.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputBLnSfalrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.StatusAktivitas.CellAttributes)>
<template id="tpx_SubAktivitasFormInputBLnSFALRTW_StatusAktivitas"><span id="el_SubAktivitasFormInputBLnSFALRTW_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.StatusAktivitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.StatusAktivitas.DisplayValue(subAktivitasFormInputBLnSfalrtwEdit.StatusAktivitas.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_StatusAktivitas" data-hidden="1" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwEdit.StatusAktivitas.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwEdit.StatusAktivitas.Visible (end) *@
</div><!-- /page* -->
<div id="tpd_SubAktivitasFormInputBLnSFALRTWedit" class="ew-custom-template"></div>
<template id="tpm_SubAktivitasFormInputBLnSFALRTWedit">
<div id="ct_subAktivitasFormInputBLnSfalrtwEdit"><style>
    .view-page-table td {
        white-space: normal !important;
        word-wrap: break-word;
    }
    .view-page-table th {
        background-color: #006BB7;
    }
    .body-table {
        background-color: #fff;
    }
    .header-table {
        background-color: #006BB7 !important;
        color: #fff !important;
    }
    .view-page-table {
        table-layout: fixed;
    }
    .tab-content {
    display: none;
    }
    .tab-content.active {
        display: block;
    }
    .ag-theme-quartz .ag-header {
        background-color: #006BB7 !important;
    }
    .ag-theme-quartz .ag-header-cell-label {
        color: #ffffff !important;
    }
    .ag-theme-quartz .ag-icon-filter {
        color: #ffffff !important;
    }
    .rotate-down {
        transform: rotate(90deg);
        transition: transform 0.3s ease;
    }
    .rotate-right {
        transform: rotate(0deg);
        transition: transform 0.3s ease;
    }
</style>
<div class="row mb-2">
    <div class="col-2 fw-bold d-flex align-items-center">
        @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.NoReferensi.Caption)
    </div>
    <div class="col-10">
        <slot class="ew-slot" name="tpx_SubAktivitasFormInputBLnSFALRTW_NoReferensi"></slot>
    </div>
</div>
<div class="row mb-2">
    <div class="col-2 fw-bold d-flex align-items-center">
        @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.idProses.Caption)
    </div>
    <div class="col-10">
        <slot class="ew-slot" name="tpx_SubAktivitasFormInputBLnSFALRTW_idProses"></slot>
    </div>
</div>
<div class="row mb-2">
    <div class="col-2 fw-bold d-flex align-items-center">
        @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.idAktifitas.Caption)
    </div>
    <div class="col-10">
        <slot class="ew-slot" name="tpx_SubAktivitasFormInputBLnSFALRTW_idAktifitas"></slot>
    </div>
</div>
<div class="row mb-3">
    <div class="col-2 fw-bold d-flex align-items-center">
        @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.StatusAktivitas.Caption)
    </div>
    <div class="col-10">
        <slot class="ew-slot" name="tpx_SubAktivitasFormInputBLnSFALRTW_StatusAktivitas"></slot>
    </div>
</div>
<div class="row mb-3">
    <div class="col-2 fw-bold d-flex align-items-center">
        @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.LastUpdatedBy.Caption)
    </div>
    <div class="col-10 d-flex gap-3">
        <slot class="ew-slot" name="tpx_SubAktivitasFormInputBLnSFALRTW_LastUpdatedBy"></slot>
        <button type="button" class="btn btn-primary ew-btn ps-2" expand-log="false">
            <i class="fa-solid fa-caret-right fa-2xl me-2 caret-icon rotate-right"></i>
            Log History
            <i class="fa-solid fa-clock-rotate-left ms-1"></i> 
        </button>
    </div>
</div>
<div id="log-table-row" class="d-none row m-0">
    <div class="p-0">
        <div id="log-table-wrapper" style="overflow: hidden; transition: all 0.6s ease; max-height: 0;">
            <div id="myGrid" class="ag-theme-quartz w-75 my-3" style="height: 300px;"></div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-2 fw-bold d-flex align-items-center">
        @Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.lastUpdatedDate.Caption)
    </div>
    <div class="col-10">
        <slot class="ew-slot" name="tpx_SubAktivitasFormInputBLnSFALRTW_lastUpdatedDate"></slot>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-9 border rounded p-0 mb-3">
        <table aria-hidden="true" class="table table-hover view-page-table w-100 m-0">
            <tbody>
                <tr>
                    <td width="20%" class="fw-bold header-table">Satuan</td>
                    <td width="25%" class="fw-bold header-table">BL</td>
                    <td width="25%" class="fw-bold header-table">AL</td>
                    <td class="fw-bold header-table">BD</td>
                    <td class="fw-bold header-table">AR</td>
                </tr>
                <tr>
                    <td class="text-break fw-bold">KL Obs</td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubAktivitasFormInputBLnSFALRTW_BL_KLObs"></slot></td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubAktivitasFormInputBLnSFALRTW_SFAL_KLObs"></slot></td>
                    <td class="text-break body-table"><p id="SFBD-klobs"></p></td>
                    <td class="text-break body-table"><p id="AR-klobs"></p></td>
                </tr>
                <tr>
                    <td class="text-break fw-bold">KL 15</td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubAktivitasFormInputBLnSFALRTW_BL_KL15"></slot></td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubAktivitasFormInputBLnSFALRTW_SFAL_KL15"></slot></td>
                    <td class="text-break body-table"><p id="SFBD-kl15"></p></td>
                    <td class="text-break body-table"><p id="AR-kl15"></p></td>
                </tr>
                <tr>
                    <td class="text-break fw-bold">Barrels</td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubAktivitasFormInputBLnSFALRTW_BL_Barrels"></slot></td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubAktivitasFormInputBLnSFALRTW_SFAL_Barrels"></slot></td>
                    <td class="text-break body-table"><p id="SFBD-barrels"></p></td>
                    <td class="text-break body-table"><p id="AR-barrels"></p></td>
                </tr>
                <tr>
                    <td class="text-break fw-bold">Metric Ton</td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubAktivitasFormInputBLnSFALRTW_BL_MT"></slot></td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubAktivitasFormInputBLnSFALRTW_SFAL_MT"></slot></td>
                    <td class="text-break body-table"><p id="SFBD-mt"></p></td>
                    <td class="text-break body-table"><p id="AR-mt"></p></td>
                </tr>
                <tr>
                    <td class="text-break fw-bold">Long Ton</td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubAktivitasFormInputBLnSFALRTW_BL_LT"></slot></td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubAktivitasFormInputBLnSFALRTW_SFAL_LT"></slot></td>
                    <td class="text-break body-table"><p id="SFBD-lt"></p></td>
                    <td class="text-break body-table"><p id="AR-lt"></p></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<table aria-hidden="true" class="table table-hover view-page-table w-25 mb-3">
    <tbody>
        <tr>
            <td class="text-break fw-bold">R1</td>
            <td class="text-break body-table fw-bold" id="R1"></td>
        </tr>
        <tr>
            <td class="text-break fw-bold">R2</td>
            <td class="text-break body-table fw-bold" id="R2"></td>
        </tr>
        <tr>
            <td class="text-break fw-bold">R3</td>
            <td class="text-break body-table fw-bold" id="R3"></td>
        </tr>
        <tr>
            <td class="text-break fw-bold">R4</td>
            <td class="text-break body-table fw-bold" id="R4"></td>
        </tr>
    </tbody>
</table></div>
</template>
@{ subAktivitasFormInputBLnSfalrtwEdit.CloseRecordset(); }
@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasFormInputBLnSfalrtwEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasFormInputBLnSFALRTWedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasFormInputBLnSFALRTWedit" data-href="@AppPath(subAktivitasFormInputBLnSfalrtwEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasFormInputBLnSfalrtwEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
<script class="ew-apply-template">
loadjs.ready(ew.applyTemplateId, function() {
    var $ = jQuery;
    ew.templateData = { rows: @Html.Raw(ConvertToJson(subAktivitasFormInputBLnSfalrtwEdit.Rows)) };
    ew.applyTemplate("tpd_SubAktivitasFormInputBLnSFALRTWedit", "tpm_SubAktivitasFormInputBLnSFALRTWedit", "SubAktivitasFormInputBLnSFALRTWedit", "@(subAktivitasFormInputBLnSfalrtwEdit.Export)", "SubAktivitasFormInputBLnSFALRTW", ew.templateData.rows[0], @(subAktivitasFormInputBLnSfalrtwEdit.IsModal ? "true" : "false"));
    loadjs.done("customtemplate");
});
</script>
</main>
@subAktivitasFormInputBLnSfalrtwEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputBLnSFALRTW");
});
</script>
<script>
loadjs.ready("load", function() {
    // Startup script
    var NoReferensi = "@subAktivitasFormInputBLnSfalrtwEdit.NoReferensi.CurrentValue";
    var IdProses = "@subAktivitasFormInputBLnSfalrtwEdit.idProses.CurrentValue";
    var idAktivitas = "@subAktivitasFormInputBLnSfalrtwEdit.idAktifitas.CurrentValue";
    var NamaAktivitas = $('#el_SubAktivitasFormInputBLnSFALRTW_idAktifitas').text();
    var parent_url = ew.PATH_BASE;
    const userLevel = "@CurrentUserLevel()";
    let currentStatusAktivitas = "";
    var steps = [
        { number: 1, label: "Penerimaan", url: `${parent_url}PenerimaanList`, icon: "fa-box-open" },
        { number: 2, label: "Proses", url: `${parent_url}ProsesList?cmd=search&x_IdReferensi%5B%5D=${NoReferensi}&search=&searchtype=`, icon: "fa-gears" },
        { number: 3, label: "Aktivitas", url: `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`, icon: "fa-list-check" },
        { number: 4, label: NamaAktivitas, url: '', icon: "fa-file-circle-check" }
    ];
    var currentStep = 4;
    $("<style>")
        .prop("type", "text/css")
        .html(`
            .stepper {
                display: flex;
                counter-reset: step;
                flex-wrap: nowrap;        /* jangan pecah ke bawah */
                overflow-x: auto;         /* scroll horizontal */
                -webkit-overflow-scrolling: touch; /* smooth scroll di mobile */
                padding-bottom: 8px;      /* space biar scroll bar gak nempel */
            }
            .stepper::-webkit-scrollbar {
            height: 6px; /* tipis */
            }
            .stepper::-webkit-scrollbar-thumb {
                background-color: #ccc;
                border-radius: 3px;
            }
            .step {
                width: 150px;
                text-align: center;
                position: relative;
            }
            .step:not(:last-child)::after {
                content: '';
                position: absolute;
                top: 20px;
                right: -50%;
                width: 100%;
                height: 4px;
                background-color: #ccc;
                z-index: 0;
            }
            .step.completed:not(:last-child)::after {
                background-color: #3c6dbd;
            }
            .step-icon {
                width: 36px;
                height: 36px;
                line-height: 36px;
                border-radius: 50%;
                background: #ccc;
                display: inline-block;
                z-index: 1;
                position: relative;
                color: white;
                font-weight: bold;
            }
            .step.active .step-icon {
                background: #3c6dbd;
            }
            .step-label {
                margin-top: 8px;
                font-size: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6px;
                color: #333;
            }
            .step-label {
                color: #3c6dbd !important;
                text-decoration: none;
                margin: 0;
                padding: 0;
            }
            .step-label-not-active {
                color: #CCCCCC !important;
            } 
        `)
        .appendTo("head");
    var $stepperWrapper = $('<div class="d-flex border-bottom border-2 pb-2"><div class="stepper"></div></div>');
    var $stepper = $stepperWrapper.find(".stepper");
    steps.forEach(function (step, i) {
        var isActive = step.number === currentStep;
        var isCompleted = step.number < currentStep;
        var stepClass = isActive ? "active" : isCompleted ? "completed" : "";
        var icon, labelContent, html;
        if (isActive) {
            icon = `<div class="step-icon bg-success">${step.number}</div>`;
            labelContent = `<div class="step-label"><p class="text-success mb-1"><i class="fa-solid ${step.icon} me-1 text-success"></i> ${step.label}</p></div>`;
            html = `<div class="step ${stepClass} text-success">${icon}${labelContent}</div>`;
        } else if (isCompleted) {
            icon = `<div class="step-icon" style="background: #3c6dbd;">${step.number}</div>`;
            labelContent = `<div class="step-label"><a href="${step.url}" class="text-primary"><i class="fa-solid ${step.icon} me-1"></i>${step.label}</a></div>`;
            html = `<div class="step ${stepClass}">${icon}${labelContent}</div>`;
        } else {
            icon = `<div class="step-icon">${step.number}</div>`;
            labelContent = `<div class="step-label-not-active"><p style="margin: 0;"><i class="fa-solid ${step.icon} me-1"></i>${step.label}</p></div>`;
            html = `<div class="step ${stepClass} text-secondary">${icon}${labelContent}</div>`;
        }
        $stepper.append(html);
    });
    $(".content-header .container-fluid .row").append($stepperWrapper);
    $("#btn-action").hide();
    $("#btn-cancel").html('<i class="fa-solid fa-ban"></i></i> Cancel');
    const $cancelButton = $("#btn-cancel");
    const idAktifitas = $("#x_idAktifitas").val();
     $(document).on('click', 'button[expand-log]', function () {
            const $btn = $(this);
            const isExpanded = $btn.attr('expand-log') === 'true';
            const $row = $('#log-table-row');
            const $wrapper = $('#log-table-wrapper');
            const $caret = $btn.find('.caret-icon');
            if (!isExpanded) {
                $btn.attr('expand-log', 'true');
                $row.removeClass('d-none');
                setTimeout(() => {
                    $wrapper.css({
                        maxHeight: '500px'
                    });
                }, 10);
                $caret.removeClass('rotate-right').addClass('rotate-down');
            } else {
                $btn.attr('expand-log', 'false');
                $wrapper.css({
                    maxHeight: '0'
                });
                setTimeout(() => {
                    $row.addClass('d-none');
                }, 600);
                $caret.removeClass('rotate-down').addClass('rotate-right');
            }
        });
    if (idAktivitas && idAktivitas !== "0") {
        $.ajax({
            url: parent_url + `api/LookUpList/sub-aktivitas/startup?idAktivitas=${idAktivitas}`,
            type: 'GET',
            success: function(response) {
                // cek status
                if ($cancelButton.length){
                    let status = response.StatusAktivitas;
                    currentStatusAktivitas = status;
                    let $customButtons = ``;
                    switch (status) {
                        case "Waiting":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-draft">
                                    <i class="fas fa-save"></i> Save
                                </button>
                            `;
                            break;
                        case "Draft":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-draft">
                                    <i class="fas fa-save"></i> Save
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completed">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `
                            break;
                        case "Completed":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-editing">
                                    <i class="fa-solid fa-pen-to-square"></i> Edit
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completedEdit">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `;
                            break;
                        case "Editing":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-editing">
                                    <i class="fa-solid fa-pen-to-square"></i> Edit
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completedEdit">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `;
                            break;
                        case "Completed Edit":
                            if (userLevel === '4'){
                                $customButtons = `
                                    <button type="button" class="btn btn-warning ew-btn ml-2" id="btn-reverse-status">
                                        <i class="fa-solid fa-pen-to-square"></i> Edit 
                                    </button>
                                `;
                            }
                            break;
                    }
                    $cancelButton.before($customButtons);
                }

                // Cek is editable
                if(!response.IsEditable || response.StatusAktivitas === "Completed Edit"){
                    $("#btn-draft").hide();
                    $("#btn-editing").hide();
                    $("#btn-completed").hide();
                    $("#btn-completedEdit").hide();
                    $('input, select, textarea').prop('disabled', true);
                    $('#catatanReverseStatusEditing').prop('disabled', false);
                }

                // Log
                const mappedData = response.LogAktivitas.map(item => ({
                    Aktivitas: item.Aktivitas,
                    Username: item.UserName,
                    StatusAktivitas: item.StatusAktivitas,
                    Tanggal: item.Tanggal,
                    Catatan: item.Catatan
                }));
                $.getScript('https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js', function () {
                    const gridOptions = {
                        rowData: mappedData,
                        columnDefs: [
                            {
                                headerName: 'No.',
                                valueGetter: 'node.rowIndex + 1',
                                width: 80,
                                filter: false
                            },
                            {
                                headerName: 'Aktivitas',
                                field: 'Aktivitas',
                                flex: 1
                            },
                            {
                                headerName: 'Username',
                                field: 'Username',
                                flex: 1
                            },
                            {
                                headerName: 'Status Aktivitas',
                                field: 'StatusAktivitas',
                                flex: 1
                            },
                            {
                                headerName: 'Tanggal',
                                field: 'Tanggal',
                                flex: 1
                            },
                            {
                                headerName: 'Catatan',
                                field: 'Catatan',
                                flex: 1
                            }
                        ],
                        defaultColDef: {
                            sortable: false,
                            suppressMovable: true,
                            filter: true,
                            resizable: false
                        },
                        rowSelection: 'multiple',
                        suppressRowClickSelection: true,
                        pagination: true,
                        paginationPageSize: 10
                    };
                    const myGridElement = document.querySelector('#myGrid');
                    agGrid.createGrid(myGridElement, gridOptions);
                });
            },
            error: function(xhr, status, error) {
                ew.alert(xhr.responseJSON.message ?? "Terjadi kesalahan dalam memuat data");
            }
        });
    } else {
        console.warn("Skipping startup API: Invalid IdAktivitas");
        $('button[expand-log]').hide(); 
        $("#btn-draft, #btn-editing, #btn-completed, #btn-completedEdit").hide();
        $('input, select, textarea').prop('disabled', true);
    }
    $.ajax({
        url: parent_url + "api/LookUpList/GetSFBDValue",
        type: "GET",
        data: {
            NoReferensi: NoReferensi,
            Jenis: 'RTW'
        },
        success: function(rs){
            if (rs.success) {
                $('#SFBD-klobs').text(rs.klobs);
                $('#SFBD-kl15').text(rs.kl15);
                $('#SFBD-barrels').text(rs.barrels);
                $('#SFBD-lt').text(rs.lt);
                $('#SFBD-mt').text(rs.mt);
            }
        },
        error: function (xhr, status, error) {
            console.log("Error: " + xhr.responseText);
        }
    });
    $.ajax({
        url: parent_url + "api/LookUpList/GetARValue",
        type: "GET",
        data: {
            NoReferensi: NoReferensi,
            Jenis: 'RTW'
        },
        success: function(rs){
            if (rs.success) {
                $('#AR-klobs').text(rs.klobs);
                $('#AR-kl15').text(rs.kl15);
                $('#AR-barrels').text(rs.barrels);
                $('#AR-lt').text(rs.lt);
                $('#AR-mt').text(rs.mt);
            }
        },
        error: function (xhr, status, error) {
            console.log("Error: " + xhr.responseText);
        }
    });
    $.ajax({
        url: parent_url + "api/LookUpList/GetRValue",
        type: "GET",
        data: {
            NoReferensi: NoReferensi,
            Menu: "BLSFAL",
            Jenis: "RTW"
        },
        success: function(rs){
            if (rs.success) {

                ["R1", "R2", "R3", "R4"].forEach(key => {
                    let val = parseFloat(rs[key]);
                    const el = document.getElementById(key);
                    if (!isNaN(val)) {
                        let color = "";
                        val = val * 100;
                        if (key === "R2") {
                            if (val < -0.1) {
                                color = "#ba313b";
                            } else if (val >= -0.1 && val <= 0) {
                                color = "#3c6dbd";
                            } else {
                                color = "#198754";
                            }
                        } else {
                            if (val < -0.125) {
                                color = "#ba313b";
                            } else if (val >= -0.125 && val <= 0) {
                                color = "#3c6dbd";
                            } else {
                                color = "#198754";
                            }
                        }
                        el.textContent = val.toFixed(3) + "%";
                        el.style.color = color;
                    }
                });
            }
        },
        error: function (xhr, status, error) {
            console.log("Error: " + xhr.responseText);
        }
    });
    $('#x_BL_KLObs, #x_BL_KL15, #x_BL_Barrels, #x_BL_MT, #x_BL_LT, #x_SFAL_KLObs, #x_SFAL_KL15, #x_SFAL_Barrels, #x_SFAL_MT, #x_SFAL_LT')
        .attr('inputmode', 'numeric')
        .on('input', function () {
            let val = $(this).val();
            let isNegative = val.startsWith('-');
            val = val.replace(',', '.');
            val = val.replace(/[^0-9.]/g, '');
            const parts = val.split('.');
            if (parts.length > 2) {
                val = parts[0] + '.' + parts.slice(1).join('');
            }
            if (isNegative) {
                val = '-' + val;
            }
            $(this).val(val);
        });
    let uploadModal = `<div class="modal fade" id="warningValueModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="warningValueModalTitle">Konfirmasi Simpan Data</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id='warningValueText'>
            Konfirmasi 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-cancel-modal">Batal</button>
            <button type="button" class="btn btn-primary" id="btn-confirm-modal">Lanjutkan</button>
          </div>
        </div>
      </div>
    </div>`
     let reverseStatusModal = `<div class="modal fade" id="confirmReverseStatusEditingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header bg-primary">
                    <h1 class="modal-title fs-5" id="confirmReverseStatusEditingModalTitle">Konfirmasi Kembalikan Status</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form id="reverseStatusEditingModalForm">
                    <div class="modal-body px-2 py-1">
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Catatan:</label>
                            <textarea class="form-control" id="catatanReverseStatusEditing" required rows="4"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnReverseStatusEditingModalCancel">Batal</button>
                        <button type="submit" class="btn btn-primary" id="btnReverseStatusEditingModalSubmit">Lanjutkan</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>`
    $("body").append(uploadModal);
    $("body").append(reverseStatusModal);
    $("#btn-cancel-modal").click(function (event) {
        event.preventDefault();
        $("#warningValueModal").modal("hide");
    });
    $(document).on("click", "#btn-reverse-status", function () {
        $("#confirmReverseStatusEditingModal").modal("show");
    });
});
</script>
