@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputLogbookPenerimaanRtwEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputLogbookPenerimaanRtwEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasFormInputLogbookPenerimaanRtwEdit.ShowPageHeader()
@subAktivitasFormInputLogbookPenerimaanRtwEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasFormInputLogbookPenerimaanRTWedit" id="fSubAktivitasFormInputLogbookPenerimaanRTWedit" class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputLogbookPenerimaanRtwEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputLogbookPenerimaanRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasFormInputLogbookPenerimaanRTWedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputLogbookPenerimaanRTWedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["Tanggal", [fields.Tanggal.visible && fields.Tanggal.required ? ew.Validators.required(fields.Tanggal.caption) : null, ew.Validators.datetime(fields.Tanggal.clientFormatPattern)], fields.Tanggal.isInvalid],
            ["NamaKegiatan", [fields.NamaKegiatan.visible && fields.NamaKegiatan.required ? ew.Validators.required(fields.NamaKegiatan.caption) : null], fields.NamaKegiatan.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["Density", [fields.Density.visible && fields.Density.required ? ew.Validators.required(fields.Density.caption) : null], fields.Density.isInvalid],
            ["Temperature", [fields.Temperature.visible && fields.Temperature.required ? ew.Validators.required(fields.Temperature.caption) : null], fields.Temperature.isInvalid],
            ["Keterangan", [fields.Keterangan.visible && fields.Keterangan.required ? ew.Validators.required(fields.Keterangan.caption) : null], fields.Keterangan.isInvalid],
            ["Level", [fields.Level.visible && fields.Level.required ? ew.Validators.required(fields.Level.caption) : null], fields.Level.isInvalid],
            ["Volume", [fields.Volume.visible && fields.Volume.required ? ew.Validators.required(fields.Volume.caption) : null], fields.Volume.isInvalid],
            ["Flowrate", [fields.Flowrate.visible && fields.Flowrate.required ? ew.Validators.required(fields.Flowrate.caption) : null], fields.Flowrate.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["SubAktivitasFormInputHslPemeriksaanRTWId", [fields.SubAktivitasFormInputHslPemeriksaanRTWId.visible && fields.SubAktivitasFormInputHslPemeriksaanRTWId.required ? ew.Validators.required(fields.SubAktivitasFormInputHslPemeriksaanRTWId.caption) : null, ew.Validators.integer], fields.SubAktivitasFormInputHslPemeriksaanRTWId.isInvalid],
            ["TanggalJamSOP", [fields.TanggalJamSOP.visible && fields.TanggalJamSOP.required ? ew.Validators.required(fields.TanggalJamSOP.caption) : null, ew.Validators.datetime(fields.TanggalJamSOP.clientFormatPattern)], fields.TanggalJamSOP.isInvalid],
            ["SelisihWaktu", [fields.SelisihWaktu.visible && fields.SelisihWaktu.required ? ew.Validators.required(fields.SelisihWaktu.caption) : null], fields.SelisihWaktu.isInvalid],
            ["IsQualityActive", [fields.IsQualityActive.visible && fields.IsQualityActive.required ? ew.Validators.required(fields.IsQualityActive.caption) : null], fields.IsQualityActive.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "IsQualityActive": @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.IsQualityActive.ToClientList(subAktivitasFormInputLogbookPenerimaanRtwEdit)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputLogbookPenerimaanRtwEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.OldKeyName)" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasFormInputLogbookPenerimaanRtwEdit.id.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.id.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_id" class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.id.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.id.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanRTW_id">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasFormInputLogbookPenerimaanRtwEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasFormInputLogbookPenerimaanRTW" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanRtwEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanRtwEdit.id.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwEdit.idAktifitas.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_idAktifitas" for="x_idAktifitas" class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.idAktifitas.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanRTW_idAktifitas">
<input type="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubAktivitasFormInputLogbookPenerimaanRTW" data-field="x_idAktifitas" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanRtwEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.idAktifitas.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanRtwEdit.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwEdit.Tanggal.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwEdit.Tanggal.Visible (begin)
    <div id="r_Tanggal" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Tanggal.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_Tanggal" for="x_Tanggal" class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Tanggal.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Tanggal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Tanggal.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanRTW_Tanggal">
<input type="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.Tanggal.InputTextType)" name="x_Tanggal" id="x_Tanggal" data-table="SubAktivitasFormInputLogbookPenerimaanRTW" data-field="x_Tanggal" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Tanggal.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanRtwEdit.Tanggal.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.Tanggal.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Tanggal.EditAttributes) aria-describedby="x_Tanggal_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Tanggal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Tanggal.GetErrorMessage())</div>
@if (!subAktivitasFormInputLogbookPenerimaanRtwEdit.Tanggal.ReadOnly && !subAktivitasFormInputLogbookPenerimaanRtwEdit.Tanggal.Disabled && !subAktivitasFormInputLogbookPenerimaanRtwEdit.Tanggal.EditAttrs.Is("readonly") && !subAktivitasFormInputLogbookPenerimaanRtwEdit.Tanggal.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputLogbookPenerimaanRTWedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputLogbookPenerimaanRTWedit", "x_Tanggal", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanRtwEdit.Tanggal.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwEdit.NamaKegiatan.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwEdit.NamaKegiatan.Visible (begin)
    <div id="r_NamaKegiatan" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.NamaKegiatan.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_NamaKegiatan" for="x_NamaKegiatan" class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.NamaKegiatan.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.NamaKegiatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.NamaKegiatan.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanRTW_NamaKegiatan">
<input type="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.NamaKegiatan.InputTextType)" name="x_NamaKegiatan" id="x_NamaKegiatan" data-table="SubAktivitasFormInputLogbookPenerimaanRTW" data-field="x_NamaKegiatan" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.NamaKegiatan.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanRtwEdit.NamaKegiatan.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.NamaKegiatan.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.NamaKegiatan.EditAttributes) aria-describedby="x_NamaKegiatan_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.NamaKegiatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.NamaKegiatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanRtwEdit.NamaKegiatan.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwEdit.Produk.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Produk.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_Produk" for="x_Produk" class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Produk.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Produk.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanRTW_Produk">
<input type="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasFormInputLogbookPenerimaanRTW" data-field="x_Produk" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Produk.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanRtwEdit.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.Produk.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanRtwEdit.Produk.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwEdit.Density.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwEdit.Density.Visible (begin)
    <div id="r_Density" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Density.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_Density" for="x_Density" class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Density.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Density.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Density.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanRTW_Density">
<input type="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.Density.InputTextType)" name="x_Density" id="x_Density" data-table="SubAktivitasFormInputLogbookPenerimaanRTW" data-field="x_Density" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Density.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanRtwEdit.Density.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.Density.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Density.EditAttributes) aria-describedby="x_Density_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Density.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Density.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanRtwEdit.Density.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwEdit.Temperature.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwEdit.Temperature.Visible (begin)
    <div id="r_Temperature" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Temperature.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_Temperature" for="x_Temperature" class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Temperature.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Temperature.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Temperature.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanRTW_Temperature">
<input type="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.Temperature.InputTextType)" name="x_Temperature" id="x_Temperature" data-table="SubAktivitasFormInputLogbookPenerimaanRTW" data-field="x_Temperature" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Temperature.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanRtwEdit.Temperature.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.Temperature.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Temperature.EditAttributes) aria-describedby="x_Temperature_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Temperature.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Temperature.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanRtwEdit.Temperature.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwEdit.Keterangan.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwEdit.Keterangan.Visible (begin)
    <div id="r_Keterangan" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Keterangan.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_Keterangan" for="x_Keterangan" class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Keterangan.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Keterangan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Keterangan.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanRTW_Keterangan">
<textarea data-table="SubAktivitasFormInputLogbookPenerimaanRTW" data-field="x_Keterangan" name="x_Keterangan" id="x_Keterangan" cols="35" rows="4" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanRtwEdit.Keterangan.PlaceHolder))"@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Keterangan.EditAttributes) aria-describedby="x_Keterangan_help">@(subAktivitasFormInputLogbookPenerimaanRtwEdit.Keterangan.EditValue)</textarea>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Keterangan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Keterangan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanRtwEdit.Keterangan.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwEdit.Level.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwEdit.Level.Visible (begin)
    <div id="r_Level" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Level.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_Level" for="x_Level" class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Level.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Level.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Level.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanRTW_Level">
<input type="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.Level.InputTextType)" name="x_Level" id="x_Level" data-table="SubAktivitasFormInputLogbookPenerimaanRTW" data-field="x_Level" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Level.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanRtwEdit.Level.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.Level.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Level.EditAttributes) aria-describedby="x_Level_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Level.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Level.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanRtwEdit.Level.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwEdit.Volume.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwEdit.Volume.Visible (begin)
    <div id="r_Volume" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Volume.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_Volume" for="x_Volume" class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Volume.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Volume.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Volume.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanRTW_Volume">
<input type="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.Volume.InputTextType)" name="x_Volume" id="x_Volume" data-table="SubAktivitasFormInputLogbookPenerimaanRTW" data-field="x_Volume" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Volume.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanRtwEdit.Volume.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.Volume.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Volume.EditAttributes) aria-describedby="x_Volume_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Volume.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Volume.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanRtwEdit.Volume.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwEdit.Flowrate.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwEdit.Flowrate.Visible (begin)
    <div id="r_Flowrate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Flowrate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_Flowrate" for="x_Flowrate" class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Flowrate.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Flowrate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Flowrate.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanRTW_Flowrate">
<input type="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.Flowrate.InputTextType)" name="x_Flowrate" id="x_Flowrate" data-table="SubAktivitasFormInputLogbookPenerimaanRTW" data-field="x_Flowrate" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Flowrate.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanRtwEdit.Flowrate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.Flowrate.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Flowrate.EditAttributes) aria-describedby="x_Flowrate_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Flowrate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.Flowrate.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanRtwEdit.Flowrate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwEdit.userInput.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.userInput.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_userInput" for="x_userInput" class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.userInput.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanRTW_userInput">
<input type="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasFormInputLogbookPenerimaanRTW" data-field="x_userInput" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanRtwEdit.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.userInput.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanRtwEdit.userInput.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwEdit.etlDate.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_etlDate" for="x_etlDate" class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.etlDate.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanRTW_etlDate">
<input type="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasFormInputLogbookPenerimaanRTW" data-field="x_etlDate" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanRtwEdit.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.etlDate.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.etlDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputLogbookPenerimaanRtwEdit.etlDate.ReadOnly && !subAktivitasFormInputLogbookPenerimaanRtwEdit.etlDate.Disabled && !subAktivitasFormInputLogbookPenerimaanRtwEdit.etlDate.EditAttrs.Is("readonly") && !subAktivitasFormInputLogbookPenerimaanRtwEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputLogbookPenerimaanRTWedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputLogbookPenerimaanRTWedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanRtwEdit.etlDate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwEdit.idProses.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_idProses" for="x_idProses" class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.idProses.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanRTW_idProses">
<input type="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubAktivitasFormInputLogbookPenerimaanRTW" data-field="x_idProses" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanRtwEdit.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.idProses.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanRtwEdit.idProses.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwEdit.LastUpdatedBy.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanRTW_LastUpdatedBy">
<input type="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasFormInputLogbookPenerimaanRTW" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanRtwEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanRtwEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwEdit.lastUpdatedDate.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanRTW_lastUpdatedDate">
<input type="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasFormInputLogbookPenerimaanRTW" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanRtwEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputLogbookPenerimaanRtwEdit.lastUpdatedDate.ReadOnly && !subAktivitasFormInputLogbookPenerimaanRtwEdit.lastUpdatedDate.Disabled && !subAktivitasFormInputLogbookPenerimaanRtwEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasFormInputLogbookPenerimaanRtwEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputLogbookPenerimaanRTWedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputLogbookPenerimaanRTWedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanRtwEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwEdit.NoReferensi.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_NoReferensi" for="x_NoReferensi" class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.NoReferensi.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanRTW_NoReferensi">
<input type="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasFormInputLogbookPenerimaanRTW" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.NoReferensi.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanRtwEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanRtwEdit.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwEdit.SubAktivitasFormInputHslPemeriksaanRTWId.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwEdit.SubAktivitasFormInputHslPemeriksaanRTWId.Visible (begin)
    <div id="r_SubAktivitasFormInputHslPemeriksaanRTWId" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.SubAktivitasFormInputHslPemeriksaanRTWId.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_SubAktivitasFormInputHslPemeriksaanRTWId" for="x_SubAktivitasFormInputHslPemeriksaanRTWId" class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.SubAktivitasFormInputHslPemeriksaanRTWId.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.SubAktivitasFormInputHslPemeriksaanRTWId.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.SubAktivitasFormInputHslPemeriksaanRTWId.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanRTW_SubAktivitasFormInputHslPemeriksaanRTWId">
<input type="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.SubAktivitasFormInputHslPemeriksaanRTWId.InputTextType)" name="x_SubAktivitasFormInputHslPemeriksaanRTWId" id="x_SubAktivitasFormInputHslPemeriksaanRTWId" data-table="SubAktivitasFormInputLogbookPenerimaanRTW" data-field="x_SubAktivitasFormInputHslPemeriksaanRTWId" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.SubAktivitasFormInputHslPemeriksaanRTWId.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanRtwEdit.SubAktivitasFormInputHslPemeriksaanRTWId.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.SubAktivitasFormInputHslPemeriksaanRTWId.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.SubAktivitasFormInputHslPemeriksaanRTWId.EditAttributes) aria-describedby="x_SubAktivitasFormInputHslPemeriksaanRTWId_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.SubAktivitasFormInputHslPemeriksaanRTWId.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.SubAktivitasFormInputHslPemeriksaanRTWId.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanRtwEdit.SubAktivitasFormInputHslPemeriksaanRTWId.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwEdit.TanggalJamSOP.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwEdit.TanggalJamSOP.Visible (begin)
    <div id="r_TanggalJamSOP" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.TanggalJamSOP.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_TanggalJamSOP" for="x_TanggalJamSOP" class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.TanggalJamSOP.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.TanggalJamSOP.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.TanggalJamSOP.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanRTW_TanggalJamSOP">
<input type="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.TanggalJamSOP.InputTextType)" name="x_TanggalJamSOP" id="x_TanggalJamSOP" data-table="SubAktivitasFormInputLogbookPenerimaanRTW" data-field="x_TanggalJamSOP" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.TanggalJamSOP.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanRtwEdit.TanggalJamSOP.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.TanggalJamSOP.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.TanggalJamSOP.EditAttributes) aria-describedby="x_TanggalJamSOP_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.TanggalJamSOP.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.TanggalJamSOP.GetErrorMessage())</div>
@if (!subAktivitasFormInputLogbookPenerimaanRtwEdit.TanggalJamSOP.ReadOnly && !subAktivitasFormInputLogbookPenerimaanRtwEdit.TanggalJamSOP.Disabled && !subAktivitasFormInputLogbookPenerimaanRtwEdit.TanggalJamSOP.EditAttrs.Is("readonly") && !subAktivitasFormInputLogbookPenerimaanRtwEdit.TanggalJamSOP.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputLogbookPenerimaanRTWedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputLogbookPenerimaanRTWedit", "x_TanggalJamSOP", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanRtwEdit.TanggalJamSOP.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwEdit.SelisihWaktu.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwEdit.SelisihWaktu.Visible (begin)
    <div id="r_SelisihWaktu" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.SelisihWaktu.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_SelisihWaktu" for="x_SelisihWaktu" class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.SelisihWaktu.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.SelisihWaktu.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.SelisihWaktu.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanRTW_SelisihWaktu">
<input type="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.SelisihWaktu.InputTextType)" name="x_SelisihWaktu" id="x_SelisihWaktu" data-table="SubAktivitasFormInputLogbookPenerimaanRTW" data-field="x_SelisihWaktu" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.SelisihWaktu.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanRtwEdit.SelisihWaktu.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.SelisihWaktu.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.SelisihWaktu.EditAttributes) aria-describedby="x_SelisihWaktu_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.SelisihWaktu.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.SelisihWaktu.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanRtwEdit.SelisihWaktu.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwEdit.IsQualityActive.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwEdit.IsQualityActive.Visible (begin)
    <div id="r_IsQualityActive" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.IsQualityActive.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_IsQualityActive" class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.IsQualityActive.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.IsQualityActive.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.IsQualityActive.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanRTW_IsQualityActive">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(subAktivitasFormInputLogbookPenerimaanRtwEdit.IsQualityActive.IsInvalidClass)" data-table="SubAktivitasFormInputLogbookPenerimaanRTW" data-field="x_IsQualityActive" data-boolean name="x_IsQualityActive" id="x_IsQualityActive" value="1" checked="@ConvertToBool(subAktivitasFormInputLogbookPenerimaanRtwEdit.IsQualityActive.CurrentValue)" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.IsQualityActive.EditAttributes) aria-describedby="x_IsQualityActive_help">
    <div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.IsQualityActive.GetErrorMessage())</div>
</div>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.IsQualityActive.GetCustomMessage)
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanRtwEdit.IsQualityActive.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasFormInputLogbookPenerimaanRtwEdit.CloseRecordset(); }
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasFormInputLogbookPenerimaanRtwEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasFormInputLogbookPenerimaanRTWedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasFormInputLogbookPenerimaanRTWedit" data-href="@AppPath(subAktivitasFormInputLogbookPenerimaanRtwEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasFormInputLogbookPenerimaanRtwEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputLogbookPenerimaanRTW");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
