@{
    // View
    View = this;

    // Check action result
    if (subAkivitasNilaiAktualDischargePipaList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAkivitasNilaiAktualDischargePipaList.UseLayout ? "_Layout" : "";
}
@if (!subAkivitasNilaiAktualDischargePipaList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAkivitasNilaiAktualDischargePipaList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAkivitasNilaiAktualDischargePipa: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAkivitasNilaiAktualDischargePipaList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAkivitasNilaiAktualDischargePipaList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAkivitasNilaiAktualDischargePipaList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAkivitasNilaiAktualDischargePipaList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAkivitasNilaiAktualDischargePipaList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAkivitasNilaiAktualDischargePipaList.TotalRecords > 0 && subAkivitasNilaiAktualDischargePipaList.ExportOptions.Visible) {
    subAkivitasNilaiAktualDischargePipaList.ExportOptions.Render("body");
}
@if (subAkivitasNilaiAktualDischargePipaList.ImportOptions.Visible) {
    subAkivitasNilaiAktualDischargePipaList.ImportOptions.Render("body");
}
@if (subAkivitasNilaiAktualDischargePipaList.SearchOptions.Visible) {
    subAkivitasNilaiAktualDischargePipaList.SearchOptions.Render("body");
}
@if (subAkivitasNilaiAktualDischargePipaList.FilterOptions.Visible) {
    subAkivitasNilaiAktualDischargePipaList.FilterOptions.Render("body");
}
</div>
}
@if (!subAkivitasNilaiAktualDischargePipaList.IsModal) {
<form name="fSubAkivitasNilaiAktualDischargePipasrch" id="fSubAkivitasNilaiAktualDischargePipasrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAkivitasNilaiAktualDischargePipasrch_search_panel" class="mb-2 mb-sm-0 @(subAkivitasNilaiAktualDischargePipaList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAkivitasNilaiAktualDischargePipaList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAkivitasNilaiAktualDischargePipa: currentTable } });
var currentForm;
var fSubAkivitasNilaiAktualDischargePipasrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAkivitasNilaiAktualDischargePipasrch")
        .setPageId("list")
@if (subAkivitasNilaiAktualDischargePipaList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAkivitasNilaiAktualDischargePipaList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAkivitasNilaiAktualDischargePipaList.IsExport() && Empty(subAkivitasNilaiAktualDischargePipaList.CurrentAction) && subAkivitasNilaiAktualDischargePipaList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAkivitasNilaiAktualDischargePipaList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAkivitasNilaiAktualDischargePipaList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAkivitasNilaiAktualDischargePipaList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAkivitasNilaiAktualDischargePipaList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAkivitasNilaiAktualDischargePipasrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAkivitasNilaiAktualDischargePipaList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAkivitasNilaiAktualDischargePipasrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAkivitasNilaiAktualDischargePipaList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAkivitasNilaiAktualDischargePipasrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAkivitasNilaiAktualDischargePipaList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAkivitasNilaiAktualDischargePipasrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAkivitasNilaiAktualDischargePipaList.ShowPageHeader()
@subAkivitasNilaiAktualDischargePipaList.ShowMessages()
<main class="list @(subAkivitasNilaiAktualDischargePipaList.TotalRecords == 0 && !subAkivitasNilaiAktualDischargePipaList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAkivitasNilaiAktualDischargePipaList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAkivitasNilaiAktualDischargePipaList.TotalRecords > 0 || !Empty(subAkivitasNilaiAktualDischargePipaList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAkivitasNilaiAktualDischargePipaList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAkivitasNilaiAktualDischargePipaList.TableGridClass)">
<form name="@(subAkivitasNilaiAktualDischargePipaList.FormName)" id="@(subAkivitasNilaiAktualDischargePipaList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAkivitasNilaiAktualDischargePipaList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAkivitasNilaiAktualDischargePipaList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAkivitasNilaiAktualDischargePipa" class="card-body ew-grid-middle-panel @(subAkivitasNilaiAktualDischargePipaList.TableContainerClass)" style="@(subAkivitasNilaiAktualDischargePipaList.TableContainerStyle)">
@if (subAkivitasNilaiAktualDischargePipaList.TotalRecords > 0 || subAkivitasNilaiAktualDischargePipaList.IsGridEdit || subAkivitasNilaiAktualDischargePipaList.IsMultiEdit) {
<table id="tbl_SubAkivitasNilaiAktualDischargePipalist" class="@(subAkivitasNilaiAktualDischargePipaList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAkivitasNilaiAktualDischargePipaList.RowType = RowType.Header;

    // Render list options
    await subAkivitasNilaiAktualDischargePipaList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAkivitasNilaiAktualDischargePipaList.ListOptions.RenderHeader("left")
@if (subAkivitasNilaiAktualDischargePipaList.id.Visible) { // subAkivitasNilaiAktualDischargePipaList.id.Visible (begin)
        <th data-name="id" class="@(subAkivitasNilaiAktualDischargePipaList.id.HeaderCellClass)"><div id="elh_SubAkivitasNilaiAktualDischargePipa_id" class="SubAkivitasNilaiAktualDischargePipa_id">@Html.Raw(subAkivitasNilaiAktualDischargePipaList.RenderFieldHeader(subAkivitasNilaiAktualDischargePipaList.id))</div></th>
} @* subAkivitasNilaiAktualDischargePipaList.id.Visible (end) *@
@if (subAkivitasNilaiAktualDischargePipaList.idAktifitas.Visible) { // subAkivitasNilaiAktualDischargePipaList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAkivitasNilaiAktualDischargePipaList.idAktifitas.HeaderCellClass)"><div id="elh_SubAkivitasNilaiAktualDischargePipa_idAktifitas" class="SubAkivitasNilaiAktualDischargePipa_idAktifitas">@Html.Raw(subAkivitasNilaiAktualDischargePipaList.RenderFieldHeader(subAkivitasNilaiAktualDischargePipaList.idAktifitas))</div></th>
} @* subAkivitasNilaiAktualDischargePipaList.idAktifitas.Visible (end) *@
@if (subAkivitasNilaiAktualDischargePipaList.AktualDischarge_klobs.Visible) { // subAkivitasNilaiAktualDischargePipaList.AktualDischarge_klobs.Visible (begin)
        <th data-name="AktualDischarge_klobs" class="@(subAkivitasNilaiAktualDischargePipaList.AktualDischarge_klobs.HeaderCellClass)"><div id="elh_SubAkivitasNilaiAktualDischargePipa_AktualDischarge_klobs" class="SubAkivitasNilaiAktualDischargePipa_AktualDischarge_klobs">@Html.Raw(subAkivitasNilaiAktualDischargePipaList.RenderFieldHeader(subAkivitasNilaiAktualDischargePipaList.AktualDischarge_klobs))</div></th>
} @* subAkivitasNilaiAktualDischargePipaList.AktualDischarge_klobs.Visible (end) *@
@if (subAkivitasNilaiAktualDischargePipaList.AktualDischarge_kl15.Visible) { // subAkivitasNilaiAktualDischargePipaList.AktualDischarge_kl15.Visible (begin)
        <th data-name="AktualDischarge_kl15" class="@(subAkivitasNilaiAktualDischargePipaList.AktualDischarge_kl15.HeaderCellClass)"><div id="elh_SubAkivitasNilaiAktualDischargePipa_AktualDischarge_kl15" class="SubAkivitasNilaiAktualDischargePipa_AktualDischarge_kl15">@Html.Raw(subAkivitasNilaiAktualDischargePipaList.RenderFieldHeader(subAkivitasNilaiAktualDischargePipaList.AktualDischarge_kl15))</div></th>
} @* subAkivitasNilaiAktualDischargePipaList.AktualDischarge_kl15.Visible (end) *@
@if (subAkivitasNilaiAktualDischargePipaList.AktualDischarge_barrels.Visible) { // subAkivitasNilaiAktualDischargePipaList.AktualDischarge_barrels.Visible (begin)
        <th data-name="AktualDischarge_barrels" class="@(subAkivitasNilaiAktualDischargePipaList.AktualDischarge_barrels.HeaderCellClass)"><div id="elh_SubAkivitasNilaiAktualDischargePipa_AktualDischarge_barrels" class="SubAkivitasNilaiAktualDischargePipa_AktualDischarge_barrels">@Html.Raw(subAkivitasNilaiAktualDischargePipaList.RenderFieldHeader(subAkivitasNilaiAktualDischargePipaList.AktualDischarge_barrels))</div></th>
} @* subAkivitasNilaiAktualDischargePipaList.AktualDischarge_barrels.Visible (end) *@
@if (subAkivitasNilaiAktualDischargePipaList.AktualDischarge_lt.Visible) { // subAkivitasNilaiAktualDischargePipaList.AktualDischarge_lt.Visible (begin)
        <th data-name="AktualDischarge_lt" class="@(subAkivitasNilaiAktualDischargePipaList.AktualDischarge_lt.HeaderCellClass)"><div id="elh_SubAkivitasNilaiAktualDischargePipa_AktualDischarge_lt" class="SubAkivitasNilaiAktualDischargePipa_AktualDischarge_lt">@Html.Raw(subAkivitasNilaiAktualDischargePipaList.RenderFieldHeader(subAkivitasNilaiAktualDischargePipaList.AktualDischarge_lt))</div></th>
} @* subAkivitasNilaiAktualDischargePipaList.AktualDischarge_lt.Visible (end) *@
@if (subAkivitasNilaiAktualDischargePipaList.AktualDischarge_mt.Visible) { // subAkivitasNilaiAktualDischargePipaList.AktualDischarge_mt.Visible (begin)
        <th data-name="AktualDischarge_mt" class="@(subAkivitasNilaiAktualDischargePipaList.AktualDischarge_mt.HeaderCellClass)"><div id="elh_SubAkivitasNilaiAktualDischargePipa_AktualDischarge_mt" class="SubAkivitasNilaiAktualDischargePipa_AktualDischarge_mt">@Html.Raw(subAkivitasNilaiAktualDischargePipaList.RenderFieldHeader(subAkivitasNilaiAktualDischargePipaList.AktualDischarge_mt))</div></th>
} @* subAkivitasNilaiAktualDischargePipaList.AktualDischarge_mt.Visible (end) *@
@if (subAkivitasNilaiAktualDischargePipaList.userInput.Visible) { // subAkivitasNilaiAktualDischargePipaList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAkivitasNilaiAktualDischargePipaList.userInput.HeaderCellClass)"><div id="elh_SubAkivitasNilaiAktualDischargePipa_userInput" class="SubAkivitasNilaiAktualDischargePipa_userInput">@Html.Raw(subAkivitasNilaiAktualDischargePipaList.RenderFieldHeader(subAkivitasNilaiAktualDischargePipaList.userInput))</div></th>
} @* subAkivitasNilaiAktualDischargePipaList.userInput.Visible (end) *@
@if (subAkivitasNilaiAktualDischargePipaList.etlDate.Visible) { // subAkivitasNilaiAktualDischargePipaList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAkivitasNilaiAktualDischargePipaList.etlDate.HeaderCellClass)"><div id="elh_SubAkivitasNilaiAktualDischargePipa_etlDate" class="SubAkivitasNilaiAktualDischargePipa_etlDate">@Html.Raw(subAkivitasNilaiAktualDischargePipaList.RenderFieldHeader(subAkivitasNilaiAktualDischargePipaList.etlDate))</div></th>
} @* subAkivitasNilaiAktualDischargePipaList.etlDate.Visible (end) *@
@if (subAkivitasNilaiAktualDischargePipaList.idProses.Visible) { // subAkivitasNilaiAktualDischargePipaList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAkivitasNilaiAktualDischargePipaList.idProses.HeaderCellClass)"><div id="elh_SubAkivitasNilaiAktualDischargePipa_idProses" class="SubAkivitasNilaiAktualDischargePipa_idProses">@Html.Raw(subAkivitasNilaiAktualDischargePipaList.RenderFieldHeader(subAkivitasNilaiAktualDischargePipaList.idProses))</div></th>
} @* subAkivitasNilaiAktualDischargePipaList.idProses.Visible (end) *@
@if (subAkivitasNilaiAktualDischargePipaList.LastUpdatedBy.Visible) { // subAkivitasNilaiAktualDischargePipaList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAkivitasNilaiAktualDischargePipaList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAkivitasNilaiAktualDischargePipa_LastUpdatedBy" class="SubAkivitasNilaiAktualDischargePipa_LastUpdatedBy">@Html.Raw(subAkivitasNilaiAktualDischargePipaList.RenderFieldHeader(subAkivitasNilaiAktualDischargePipaList.LastUpdatedBy))</div></th>
} @* subAkivitasNilaiAktualDischargePipaList.LastUpdatedBy.Visible (end) *@
@if (subAkivitasNilaiAktualDischargePipaList.lastUpdatedDate.Visible) { // subAkivitasNilaiAktualDischargePipaList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAkivitasNilaiAktualDischargePipaList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAkivitasNilaiAktualDischargePipa_lastUpdatedDate" class="SubAkivitasNilaiAktualDischargePipa_lastUpdatedDate">@Html.Raw(subAkivitasNilaiAktualDischargePipaList.RenderFieldHeader(subAkivitasNilaiAktualDischargePipaList.lastUpdatedDate))</div></th>
} @* subAkivitasNilaiAktualDischargePipaList.lastUpdatedDate.Visible (end) *@
@if (subAkivitasNilaiAktualDischargePipaList.NoReferensi.Visible) { // subAkivitasNilaiAktualDischargePipaList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAkivitasNilaiAktualDischargePipaList.NoReferensi.HeaderCellClass)"><div id="elh_SubAkivitasNilaiAktualDischargePipa_NoReferensi" class="SubAkivitasNilaiAktualDischargePipa_NoReferensi">@Html.Raw(subAkivitasNilaiAktualDischargePipaList.RenderFieldHeader(subAkivitasNilaiAktualDischargePipaList.NoReferensi))</div></th>
} @* subAkivitasNilaiAktualDischargePipaList.NoReferensi.Visible (end) *@
@if (subAkivitasNilaiAktualDischargePipaList.StatusAktivitas.Visible) { // subAkivitasNilaiAktualDischargePipaList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAkivitasNilaiAktualDischargePipaList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAkivitasNilaiAktualDischargePipa_StatusAktivitas" class="SubAkivitasNilaiAktualDischargePipa_StatusAktivitas">@Html.Raw(subAkivitasNilaiAktualDischargePipaList.RenderFieldHeader(subAkivitasNilaiAktualDischargePipaList.StatusAktivitas))</div></th>
} @* subAkivitasNilaiAktualDischargePipaList.StatusAktivitas.Visible (end) *@
@* Render list options (header, right) *@
@subAkivitasNilaiAktualDischargePipaList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAkivitasNilaiAktualDischargePipaList.PageNumber)">
@{
    await subAkivitasNilaiAktualDischargePipaList.SetupGrid();
    bool eof = subAkivitasNilaiAktualDischargePipaList.Recordset == null; // DN
}
@while (subAkivitasNilaiAktualDischargePipaList.RecordCount < subAkivitasNilaiAktualDischargePipaList.StopRecord || SameString(subAkivitasNilaiAktualDischargePipaList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAkivitasNilaiAktualDischargePipaList.RowIndex, "$rowindex$") &&
        (!subAkivitasNilaiAktualDischargePipaList.IsGridAdd || subAkivitasNilaiAktualDischargePipaList.CurrentMode == "copy") &&
        (!((subAkivitasNilaiAktualDischargePipaList.IsCopy || subAkivitasNilaiAktualDischargePipaList.IsAdd) && subAkivitasNilaiAktualDischargePipaList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAkivitasNilaiAktualDischargePipaList.Recordset.ReadAsync();
    subAkivitasNilaiAktualDischargePipaList.RecordCount++;
    if (subAkivitasNilaiAktualDischargePipaList.RecordCount >= subAkivitasNilaiAktualDischargePipaList.StartRecord) {
        await subAkivitasNilaiAktualDischargePipaList.SetupRow();
    <tr @Html.Raw(subAkivitasNilaiAktualDischargePipaList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAkivitasNilaiAktualDischargePipaList.ListOptions.RenderBody("left", subAkivitasNilaiAktualDischargePipaList.RowCount)
    @if (subAkivitasNilaiAktualDischargePipaList.id.Visible) { // subAkivitasNilaiAktualDischargePipaList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAkivitasNilaiAktualDischargePipaList.id.CellAttributes)>
<span id="el@(subAkivitasNilaiAktualDischargePipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAkivitasNilaiAktualDischargePipaList.RowCount)_SubAkivitasNilaiAktualDischargePipa_id" class="el_SubAkivitasNilaiAktualDischargePipa_id">
<span @Html.Raw(subAkivitasNilaiAktualDischargePipaList.id.ViewAttributes)>
@Html.Raw(subAkivitasNilaiAktualDischargePipaList.id.GetViewValue())</span>
</span>
</td>
    } @* subAkivitasNilaiAktualDischargePipaList.id.Visible (end) *@
    @if (subAkivitasNilaiAktualDischargePipaList.idAktifitas.Visible) { // subAkivitasNilaiAktualDischargePipaList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAkivitasNilaiAktualDischargePipaList.idAktifitas.CellAttributes)>
<span id="el@(subAkivitasNilaiAktualDischargePipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAkivitasNilaiAktualDischargePipaList.RowCount)_SubAkivitasNilaiAktualDischargePipa_idAktifitas" class="el_SubAkivitasNilaiAktualDischargePipa_idAktifitas">
<span @Html.Raw(subAkivitasNilaiAktualDischargePipaList.idAktifitas.ViewAttributes)>
@Html.Raw(subAkivitasNilaiAktualDischargePipaList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAkivitasNilaiAktualDischargePipaList.idAktifitas.Visible (end) *@
    @if (subAkivitasNilaiAktualDischargePipaList.AktualDischarge_klobs.Visible) { // subAkivitasNilaiAktualDischargePipaList.AktualDischarge_klobs.Visible (begin)
        <td data-name="AktualDischarge_klobs" @Html.Raw(subAkivitasNilaiAktualDischargePipaList.AktualDischarge_klobs.CellAttributes)>
<span id="el@(subAkivitasNilaiAktualDischargePipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAkivitasNilaiAktualDischargePipaList.RowCount)_SubAkivitasNilaiAktualDischargePipa_AktualDischarge_klobs" class="el_SubAkivitasNilaiAktualDischargePipa_AktualDischarge_klobs">
<span @Html.Raw(subAkivitasNilaiAktualDischargePipaList.AktualDischarge_klobs.ViewAttributes)>
@Html.Raw(subAkivitasNilaiAktualDischargePipaList.AktualDischarge_klobs.GetViewValue())</span>
</span>
</td>
    } @* subAkivitasNilaiAktualDischargePipaList.AktualDischarge_klobs.Visible (end) *@
    @if (subAkivitasNilaiAktualDischargePipaList.AktualDischarge_kl15.Visible) { // subAkivitasNilaiAktualDischargePipaList.AktualDischarge_kl15.Visible (begin)
        <td data-name="AktualDischarge_kl15" @Html.Raw(subAkivitasNilaiAktualDischargePipaList.AktualDischarge_kl15.CellAttributes)>
<span id="el@(subAkivitasNilaiAktualDischargePipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAkivitasNilaiAktualDischargePipaList.RowCount)_SubAkivitasNilaiAktualDischargePipa_AktualDischarge_kl15" class="el_SubAkivitasNilaiAktualDischargePipa_AktualDischarge_kl15">
<span @Html.Raw(subAkivitasNilaiAktualDischargePipaList.AktualDischarge_kl15.ViewAttributes)>
@Html.Raw(subAkivitasNilaiAktualDischargePipaList.AktualDischarge_kl15.GetViewValue())</span>
</span>
</td>
    } @* subAkivitasNilaiAktualDischargePipaList.AktualDischarge_kl15.Visible (end) *@
    @if (subAkivitasNilaiAktualDischargePipaList.AktualDischarge_barrels.Visible) { // subAkivitasNilaiAktualDischargePipaList.AktualDischarge_barrels.Visible (begin)
        <td data-name="AktualDischarge_barrels" @Html.Raw(subAkivitasNilaiAktualDischargePipaList.AktualDischarge_barrels.CellAttributes)>
<span id="el@(subAkivitasNilaiAktualDischargePipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAkivitasNilaiAktualDischargePipaList.RowCount)_SubAkivitasNilaiAktualDischargePipa_AktualDischarge_barrels" class="el_SubAkivitasNilaiAktualDischargePipa_AktualDischarge_barrels">
<span @Html.Raw(subAkivitasNilaiAktualDischargePipaList.AktualDischarge_barrels.ViewAttributes)>
@Html.Raw(subAkivitasNilaiAktualDischargePipaList.AktualDischarge_barrels.GetViewValue())</span>
</span>
</td>
    } @* subAkivitasNilaiAktualDischargePipaList.AktualDischarge_barrels.Visible (end) *@
    @if (subAkivitasNilaiAktualDischargePipaList.AktualDischarge_lt.Visible) { // subAkivitasNilaiAktualDischargePipaList.AktualDischarge_lt.Visible (begin)
        <td data-name="AktualDischarge_lt" @Html.Raw(subAkivitasNilaiAktualDischargePipaList.AktualDischarge_lt.CellAttributes)>
<span id="el@(subAkivitasNilaiAktualDischargePipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAkivitasNilaiAktualDischargePipaList.RowCount)_SubAkivitasNilaiAktualDischargePipa_AktualDischarge_lt" class="el_SubAkivitasNilaiAktualDischargePipa_AktualDischarge_lt">
<span @Html.Raw(subAkivitasNilaiAktualDischargePipaList.AktualDischarge_lt.ViewAttributes)>
@Html.Raw(subAkivitasNilaiAktualDischargePipaList.AktualDischarge_lt.GetViewValue())</span>
</span>
</td>
    } @* subAkivitasNilaiAktualDischargePipaList.AktualDischarge_lt.Visible (end) *@
    @if (subAkivitasNilaiAktualDischargePipaList.AktualDischarge_mt.Visible) { // subAkivitasNilaiAktualDischargePipaList.AktualDischarge_mt.Visible (begin)
        <td data-name="AktualDischarge_mt" @Html.Raw(subAkivitasNilaiAktualDischargePipaList.AktualDischarge_mt.CellAttributes)>
<span id="el@(subAkivitasNilaiAktualDischargePipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAkivitasNilaiAktualDischargePipaList.RowCount)_SubAkivitasNilaiAktualDischargePipa_AktualDischarge_mt" class="el_SubAkivitasNilaiAktualDischargePipa_AktualDischarge_mt">
<span @Html.Raw(subAkivitasNilaiAktualDischargePipaList.AktualDischarge_mt.ViewAttributes)>
@Html.Raw(subAkivitasNilaiAktualDischargePipaList.AktualDischarge_mt.GetViewValue())</span>
</span>
</td>
    } @* subAkivitasNilaiAktualDischargePipaList.AktualDischarge_mt.Visible (end) *@
    @if (subAkivitasNilaiAktualDischargePipaList.userInput.Visible) { // subAkivitasNilaiAktualDischargePipaList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAkivitasNilaiAktualDischargePipaList.userInput.CellAttributes)>
<span id="el@(subAkivitasNilaiAktualDischargePipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAkivitasNilaiAktualDischargePipaList.RowCount)_SubAkivitasNilaiAktualDischargePipa_userInput" class="el_SubAkivitasNilaiAktualDischargePipa_userInput">
<span @Html.Raw(subAkivitasNilaiAktualDischargePipaList.userInput.ViewAttributes)>
@Html.Raw(subAkivitasNilaiAktualDischargePipaList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAkivitasNilaiAktualDischargePipaList.userInput.Visible (end) *@
    @if (subAkivitasNilaiAktualDischargePipaList.etlDate.Visible) { // subAkivitasNilaiAktualDischargePipaList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAkivitasNilaiAktualDischargePipaList.etlDate.CellAttributes)>
<span id="el@(subAkivitasNilaiAktualDischargePipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAkivitasNilaiAktualDischargePipaList.RowCount)_SubAkivitasNilaiAktualDischargePipa_etlDate" class="el_SubAkivitasNilaiAktualDischargePipa_etlDate">
<span @Html.Raw(subAkivitasNilaiAktualDischargePipaList.etlDate.ViewAttributes)>
@Html.Raw(subAkivitasNilaiAktualDischargePipaList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAkivitasNilaiAktualDischargePipaList.etlDate.Visible (end) *@
    @if (subAkivitasNilaiAktualDischargePipaList.idProses.Visible) { // subAkivitasNilaiAktualDischargePipaList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAkivitasNilaiAktualDischargePipaList.idProses.CellAttributes)>
<span id="el@(subAkivitasNilaiAktualDischargePipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAkivitasNilaiAktualDischargePipaList.RowCount)_SubAkivitasNilaiAktualDischargePipa_idProses" class="el_SubAkivitasNilaiAktualDischargePipa_idProses">
<span @Html.Raw(subAkivitasNilaiAktualDischargePipaList.idProses.ViewAttributes)>
@Html.Raw(subAkivitasNilaiAktualDischargePipaList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAkivitasNilaiAktualDischargePipaList.idProses.Visible (end) *@
    @if (subAkivitasNilaiAktualDischargePipaList.LastUpdatedBy.Visible) { // subAkivitasNilaiAktualDischargePipaList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAkivitasNilaiAktualDischargePipaList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAkivitasNilaiAktualDischargePipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAkivitasNilaiAktualDischargePipaList.RowCount)_SubAkivitasNilaiAktualDischargePipa_LastUpdatedBy" class="el_SubAkivitasNilaiAktualDischargePipa_LastUpdatedBy">
<span @Html.Raw(subAkivitasNilaiAktualDischargePipaList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAkivitasNilaiAktualDischargePipaList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAkivitasNilaiAktualDischargePipaList.LastUpdatedBy.Visible (end) *@
    @if (subAkivitasNilaiAktualDischargePipaList.lastUpdatedDate.Visible) { // subAkivitasNilaiAktualDischargePipaList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAkivitasNilaiAktualDischargePipaList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAkivitasNilaiAktualDischargePipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAkivitasNilaiAktualDischargePipaList.RowCount)_SubAkivitasNilaiAktualDischargePipa_lastUpdatedDate" class="el_SubAkivitasNilaiAktualDischargePipa_lastUpdatedDate">
<span @Html.Raw(subAkivitasNilaiAktualDischargePipaList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAkivitasNilaiAktualDischargePipaList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAkivitasNilaiAktualDischargePipaList.lastUpdatedDate.Visible (end) *@
    @if (subAkivitasNilaiAktualDischargePipaList.NoReferensi.Visible) { // subAkivitasNilaiAktualDischargePipaList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAkivitasNilaiAktualDischargePipaList.NoReferensi.CellAttributes)>
<span id="el@(subAkivitasNilaiAktualDischargePipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAkivitasNilaiAktualDischargePipaList.RowCount)_SubAkivitasNilaiAktualDischargePipa_NoReferensi" class="el_SubAkivitasNilaiAktualDischargePipa_NoReferensi">
<span @Html.Raw(subAkivitasNilaiAktualDischargePipaList.NoReferensi.ViewAttributes)>
@Html.Raw(subAkivitasNilaiAktualDischargePipaList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAkivitasNilaiAktualDischargePipaList.NoReferensi.Visible (end) *@
    @if (subAkivitasNilaiAktualDischargePipaList.StatusAktivitas.Visible) { // subAkivitasNilaiAktualDischargePipaList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAkivitasNilaiAktualDischargePipaList.StatusAktivitas.CellAttributes)>
<span id="el@(subAkivitasNilaiAktualDischargePipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAkivitasNilaiAktualDischargePipaList.RowCount)_SubAkivitasNilaiAktualDischargePipa_StatusAktivitas" class="el_SubAkivitasNilaiAktualDischargePipa_StatusAktivitas">
<span @Html.Raw(subAkivitasNilaiAktualDischargePipaList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAkivitasNilaiAktualDischargePipaList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAkivitasNilaiAktualDischargePipaList.StatusAktivitas.Visible (end) *@
    @* Render list options (body, right) *@
    @subAkivitasNilaiAktualDischargePipaList.ListOptions.RenderBody("right", subAkivitasNilaiAktualDischargePipaList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAkivitasNilaiAktualDischargePipaList.RowIndex, "$rowindex$"))
        subAkivitasNilaiAktualDischargePipaList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAkivitasNilaiAktualDischargePipaList.IsCopy || subAkivitasNilaiAktualDischargePipaList.IsAdd) && subAkivitasNilaiAktualDischargePipaList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAkivitasNilaiAktualDischargePipaList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAkivitasNilaiAktualDischargePipaList.CurrentAction) && !subAkivitasNilaiAktualDischargePipaList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAkivitasNilaiAktualDischargePipaList.CloseRecordset(); }
@if (!subAkivitasNilaiAktualDischargePipaList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAkivitasNilaiAktualDischargePipaList.IsGridAdd && !(subAkivitasNilaiAktualDischargePipaList.IsGridEdit && subAkivitasNilaiAktualDischargePipaList.ModalGridEdit) && !subAkivitasNilaiAktualDischargePipaList.IsMultiEdit) {
@Html.Raw(subAkivitasNilaiAktualDischargePipaList.Pager.Render())
}
<div class="ew-list-other-options">
@subAkivitasNilaiAktualDischargePipaList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAkivitasNilaiAktualDischargePipaList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAkivitasNilaiAktualDischargePipaList.FooterOptions.RenderBody()
</div>
</main>
@subAkivitasNilaiAktualDischargePipaList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAkivitasNilaiAktualDischargePipaList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAkivitasNilaiAktualDischargePipa");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
