@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputDataStartPenyaluranRtwDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputDataStartPenyaluranRtwDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputDataStartPenyaluranRtwDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputDataStartPenyaluranRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fSubAktivitasFormInputDataStartPenyaluranRTWdelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputDataStartPenyaluranRTWdelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasFormInputDataStartPenyaluranRtwDelete.ShowPageHeader()
@subAktivitasFormInputDataStartPenyaluranRtwDelete.ShowMessages()
<form name="fSubAktivitasFormInputDataStartPenyaluranRTWdelete" id="fSubAktivitasFormInputDataStartPenyaluranRTWdelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in subAktivitasFormInputDataStartPenyaluranRtwDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(subAktivitasFormInputDataStartPenyaluranRtwDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(subAktivitasFormInputDataStartPenyaluranRtwDelete.TableContainerClass)" style="@(subAktivitasFormInputDataStartPenyaluranRtwDelete.TableContainerStyle)">
<table class="@(subAktivitasFormInputDataStartPenyaluranRtwDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (subAktivitasFormInputDataStartPenyaluranRtwDelete.NoReferensi.Visible) { // subAktivitasFormInputDataStartPenyaluranRtwDelete.NoReferensi.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.NoReferensi.HeaderCellClass)"><span id="elh_SubAktivitasFormInputDataStartPenyaluranRTW_NoReferensi" class="SubAktivitasFormInputDataStartPenyaluranRTW_NoReferensi">@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.NoReferensi.Caption)</span></th>
} @* subAktivitasFormInputDataStartPenyaluranRtwDelete.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputDataStartPenyaluranRtwDelete.idProses.Visible) { // subAktivitasFormInputDataStartPenyaluranRtwDelete.idProses.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.idProses.HeaderCellClass)"><span id="elh_SubAktivitasFormInputDataStartPenyaluranRTW_idProses" class="SubAktivitasFormInputDataStartPenyaluranRTW_idProses">@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.idProses.Caption)</span></th>
} @* subAktivitasFormInputDataStartPenyaluranRtwDelete.idProses.Visible (end) *@
@if (subAktivitasFormInputDataStartPenyaluranRtwDelete.idAktifitas.Visible) { // subAktivitasFormInputDataStartPenyaluranRtwDelete.idAktifitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.idAktifitas.HeaderCellClass)"><span id="elh_SubAktivitasFormInputDataStartPenyaluranRTW_idAktifitas" class="SubAktivitasFormInputDataStartPenyaluranRTW_idAktifitas">@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.idAktifitas.Caption)</span></th>
} @* subAktivitasFormInputDataStartPenyaluranRtwDelete.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputDataStartPenyaluranRtwDelete.StatusAktivitas.Visible) { // subAktivitasFormInputDataStartPenyaluranRtwDelete.StatusAktivitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.StatusAktivitas.HeaderCellClass)"><span id="elh_SubAktivitasFormInputDataStartPenyaluranRTW_StatusAktivitas" class="SubAktivitasFormInputDataStartPenyaluranRTW_StatusAktivitas">@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.StatusAktivitas.Caption)</span></th>
} @* subAktivitasFormInputDataStartPenyaluranRtwDelete.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputDataStartPenyaluranRtwDelete.LastUpdatedBy.Visible) { // subAktivitasFormInputDataStartPenyaluranRtwDelete.LastUpdatedBy.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.LastUpdatedBy.HeaderCellClass)"><span id="elh_SubAktivitasFormInputDataStartPenyaluranRTW_LastUpdatedBy" class="SubAktivitasFormInputDataStartPenyaluranRTW_LastUpdatedBy">@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.LastUpdatedBy.Caption)</span></th>
} @* subAktivitasFormInputDataStartPenyaluranRtwDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputDataStartPenyaluranRtwDelete.lastUpdatedDate.Visible) { // subAktivitasFormInputDataStartPenyaluranRtwDelete.lastUpdatedDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.lastUpdatedDate.HeaderCellClass)"><span id="elh_SubAktivitasFormInputDataStartPenyaluranRTW_lastUpdatedDate" class="SubAktivitasFormInputDataStartPenyaluranRTW_lastUpdatedDate">@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.lastUpdatedDate.Caption)</span></th>
} @* subAktivitasFormInputDataStartPenyaluranRtwDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputDataStartPenyaluranRtwDelete.Tanggal.Visible) { // subAktivitasFormInputDataStartPenyaluranRtwDelete.Tanggal.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.Tanggal.HeaderCellClass)"><span id="elh_SubAktivitasFormInputDataStartPenyaluranRTW_Tanggal" class="SubAktivitasFormInputDataStartPenyaluranRTW_Tanggal">@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.Tanggal.Caption)</span></th>
} @* subAktivitasFormInputDataStartPenyaluranRtwDelete.Tanggal.Visible (end) *@
@if (subAktivitasFormInputDataStartPenyaluranRtwDelete.userInput.Visible) { // subAktivitasFormInputDataStartPenyaluranRtwDelete.userInput.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.userInput.HeaderCellClass)"><span id="elh_SubAktivitasFormInputDataStartPenyaluranRTW_userInput" class="SubAktivitasFormInputDataStartPenyaluranRTW_userInput">@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.userInput.Caption)</span></th>
} @* subAktivitasFormInputDataStartPenyaluranRtwDelete.userInput.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ subAktivitasFormInputDataStartPenyaluranRtwDelete.RecordCount = 0; }
@while (subAktivitasFormInputDataStartPenyaluranRtwDelete.Recordset != null && await subAktivitasFormInputDataStartPenyaluranRtwDelete.Recordset.ReadAsync()) { // DN
    subAktivitasFormInputDataStartPenyaluranRtwDelete.RecordCount++;
    subAktivitasFormInputDataStartPenyaluranRtwDelete.RowCount++;

    // Set row properties
    subAktivitasFormInputDataStartPenyaluranRtwDelete.ResetAttributes();
    subAktivitasFormInputDataStartPenyaluranRtwDelete.RowType = RowType.View; // View

    // Get the field contents
    await subAktivitasFormInputDataStartPenyaluranRtwDelete.LoadRowValues(subAktivitasFormInputDataStartPenyaluranRtwDelete.Recordset);

    // Render row
    await subAktivitasFormInputDataStartPenyaluranRtwDelete.RenderRow();
    <tr @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.RowAttributes)>
@if (subAktivitasFormInputDataStartPenyaluranRtwDelete.NoReferensi.Visible) { // subAktivitasFormInputDataStartPenyaluranRtwDelete.NoReferensi.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.NoReferensi.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.NoReferensi.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputDataStartPenyaluranRtwDelete.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputDataStartPenyaluranRtwDelete.idProses.Visible) { // subAktivitasFormInputDataStartPenyaluranRtwDelete.idProses.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.idProses.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.idProses.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputDataStartPenyaluranRtwDelete.idProses.Visible (end) *@
@if (subAktivitasFormInputDataStartPenyaluranRtwDelete.idAktifitas.Visible) { // subAktivitasFormInputDataStartPenyaluranRtwDelete.idAktifitas.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.idAktifitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.idAktifitas.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputDataStartPenyaluranRtwDelete.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputDataStartPenyaluranRtwDelete.StatusAktivitas.Visible) { // subAktivitasFormInputDataStartPenyaluranRtwDelete.StatusAktivitas.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.StatusAktivitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.StatusAktivitas.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputDataStartPenyaluranRtwDelete.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputDataStartPenyaluranRtwDelete.LastUpdatedBy.Visible) { // subAktivitasFormInputDataStartPenyaluranRtwDelete.LastUpdatedBy.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.LastUpdatedBy.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.LastUpdatedBy.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputDataStartPenyaluranRtwDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputDataStartPenyaluranRtwDelete.lastUpdatedDate.Visible) { // subAktivitasFormInputDataStartPenyaluranRtwDelete.lastUpdatedDate.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.lastUpdatedDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.lastUpdatedDate.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputDataStartPenyaluranRtwDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputDataStartPenyaluranRtwDelete.Tanggal.Visible) { // subAktivitasFormInputDataStartPenyaluranRtwDelete.Tanggal.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.Tanggal.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.Tanggal.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputDataStartPenyaluranRtwDelete.Tanggal.Visible (end) *@
@if (subAktivitasFormInputDataStartPenyaluranRtwDelete.userInput.Visible) { // subAktivitasFormInputDataStartPenyaluranRtwDelete.userInput.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.userInput.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwDelete.userInput.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputDataStartPenyaluranRtwDelete.userInput.Visible (end) *@
    </tr>
}
@{ subAktivitasFormInputDataStartPenyaluranRtwDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(subAktivitasFormInputDataStartPenyaluranRtwDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@subAktivitasFormInputDataStartPenyaluranRtwDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
