@{
    // View
    View = this;

    // Check action result
    if (subAktivitasKeberangkatanRtwView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasKeberangkatanRtwView.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasKeberangkatanRtwView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @subAktivitasKeberangkatanRtwView.ExportOptions.RenderBody()
    @subAktivitasKeberangkatanRtwView.OtherOptions.RenderBody()
</div>
}
@subAktivitasKeberangkatanRtwView.ShowPageHeader()
@subAktivitasKeberangkatanRtwView.ShowMessages()
<main class="view">
<form name="fSubAktivitasKeberangkatanRTWview" id="fSubAktivitasKeberangkatanRTWview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!subAktivitasKeberangkatanRtwView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasKeberangkatanRtwView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasKeberangkatanRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fSubAktivitasKeberangkatanRTWview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasKeberangkatanRTWview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasKeberangkatanRtwView.IsModal)">
<table class="@(subAktivitasKeberangkatanRtwView.TableClass)">
@if (subAktivitasKeberangkatanRtwView.id.Visible) { // subAktivitasKeberangkatanRtwView.id.Visible (begin)
    <tr id="r_id" @Html.Raw(subAktivitasKeberangkatanRtwView.id.RowAttributes)>
        <td class="@(subAktivitasKeberangkatanRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasKeberangkatanRTW_id">@Html.Raw(subAktivitasKeberangkatanRtwView.id.Caption)</span></td>
        <td data-name="id" @Html.Raw(subAktivitasKeberangkatanRtwView.id.CellAttributes)>
<span id="el_SubAktivitasKeberangkatanRTW_id">
<span @Html.Raw(subAktivitasKeberangkatanRtwView.id.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanRtwView.id.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasKeberangkatanRtwView.id.Visible (end) *@
@if (subAktivitasKeberangkatanRtwView.NoReferensi.Visible) { // subAktivitasKeberangkatanRtwView.NoReferensi.Visible (begin)
    <tr id="r_NoReferensi" @Html.Raw(subAktivitasKeberangkatanRtwView.NoReferensi.RowAttributes)>
        <td class="@(subAktivitasKeberangkatanRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasKeberangkatanRTW_NoReferensi">@Html.Raw(subAktivitasKeberangkatanRtwView.NoReferensi.Caption)</span></td>
        <td data-name="NoReferensi" @Html.Raw(subAktivitasKeberangkatanRtwView.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasKeberangkatanRTW_NoReferensi">
<span @Html.Raw(subAktivitasKeberangkatanRtwView.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanRtwView.NoReferensi.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasKeberangkatanRtwView.NoReferensi.Visible (end) *@
@if (subAktivitasKeberangkatanRtwView.idProses.Visible) { // subAktivitasKeberangkatanRtwView.idProses.Visible (begin)
    <tr id="r_idProses" @Html.Raw(subAktivitasKeberangkatanRtwView.idProses.RowAttributes)>
        <td class="@(subAktivitasKeberangkatanRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasKeberangkatanRTW_idProses">@Html.Raw(subAktivitasKeberangkatanRtwView.idProses.Caption)</span></td>
        <td data-name="idProses" @Html.Raw(subAktivitasKeberangkatanRtwView.idProses.CellAttributes)>
<span id="el_SubAktivitasKeberangkatanRTW_idProses">
<span @Html.Raw(subAktivitasKeberangkatanRtwView.idProses.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanRtwView.idProses.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasKeberangkatanRtwView.idProses.Visible (end) *@
@if (subAktivitasKeberangkatanRtwView.idAktifitas.Visible) { // subAktivitasKeberangkatanRtwView.idAktifitas.Visible (begin)
    <tr id="r_idAktifitas" @Html.Raw(subAktivitasKeberangkatanRtwView.idAktifitas.RowAttributes)>
        <td class="@(subAktivitasKeberangkatanRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasKeberangkatanRTW_idAktifitas">@Html.Raw(subAktivitasKeberangkatanRtwView.idAktifitas.Caption)</span></td>
        <td data-name="idAktifitas" @Html.Raw(subAktivitasKeberangkatanRtwView.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasKeberangkatanRTW_idAktifitas">
<span @Html.Raw(subAktivitasKeberangkatanRtwView.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanRtwView.idAktifitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasKeberangkatanRtwView.idAktifitas.Visible (end) *@
@if (subAktivitasKeberangkatanRtwView.StatusAktivitas.Visible) { // subAktivitasKeberangkatanRtwView.StatusAktivitas.Visible (begin)
    <tr id="r_StatusAktivitas" @Html.Raw(subAktivitasKeberangkatanRtwView.StatusAktivitas.RowAttributes)>
        <td class="@(subAktivitasKeberangkatanRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasKeberangkatanRTW_StatusAktivitas">@Html.Raw(subAktivitasKeberangkatanRtwView.StatusAktivitas.Caption)</span></td>
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasKeberangkatanRtwView.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasKeberangkatanRTW_StatusAktivitas">
<span @Html.Raw(subAktivitasKeberangkatanRtwView.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanRtwView.StatusAktivitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasKeberangkatanRtwView.StatusAktivitas.Visible (end) *@
@if (subAktivitasKeberangkatanRtwView.LastUpdatedBy.Visible) { // subAktivitasKeberangkatanRtwView.LastUpdatedBy.Visible (begin)
    <tr id="r_LastUpdatedBy" @Html.Raw(subAktivitasKeberangkatanRtwView.LastUpdatedBy.RowAttributes)>
        <td class="@(subAktivitasKeberangkatanRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasKeberangkatanRTW_LastUpdatedBy">@Html.Raw(subAktivitasKeberangkatanRtwView.LastUpdatedBy.Caption)</span></td>
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasKeberangkatanRtwView.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasKeberangkatanRTW_LastUpdatedBy">
<span @Html.Raw(subAktivitasKeberangkatanRtwView.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanRtwView.LastUpdatedBy.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasKeberangkatanRtwView.LastUpdatedBy.Visible (end) *@
@if (subAktivitasKeberangkatanRtwView.lastUpdatedDate.Visible) { // subAktivitasKeberangkatanRtwView.lastUpdatedDate.Visible (begin)
    <tr id="r_lastUpdatedDate" @Html.Raw(subAktivitasKeberangkatanRtwView.lastUpdatedDate.RowAttributes)>
        <td class="@(subAktivitasKeberangkatanRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasKeberangkatanRTW_lastUpdatedDate">@Html.Raw(subAktivitasKeberangkatanRtwView.lastUpdatedDate.Caption)</span></td>
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasKeberangkatanRtwView.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasKeberangkatanRTW_lastUpdatedDate">
<span @Html.Raw(subAktivitasKeberangkatanRtwView.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanRtwView.lastUpdatedDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasKeberangkatanRtwView.lastUpdatedDate.Visible (end) *@
@if (subAktivitasKeberangkatanRtwView.Tanggal.Visible) { // subAktivitasKeberangkatanRtwView.Tanggal.Visible (begin)
    <tr id="r_Tanggal" @Html.Raw(subAktivitasKeberangkatanRtwView.Tanggal.RowAttributes)>
        <td class="@(subAktivitasKeberangkatanRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasKeberangkatanRTW_Tanggal">@Html.Raw(subAktivitasKeberangkatanRtwView.Tanggal.Caption)</span></td>
        <td data-name="Tanggal" @Html.Raw(subAktivitasKeberangkatanRtwView.Tanggal.CellAttributes)>
<span id="el_SubAktivitasKeberangkatanRTW_Tanggal">
<span @Html.Raw(subAktivitasKeberangkatanRtwView.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanRtwView.Tanggal.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasKeberangkatanRtwView.Tanggal.Visible (end) *@
@if (subAktivitasKeberangkatanRtwView.userInput.Visible) { // subAktivitasKeberangkatanRtwView.userInput.Visible (begin)
    <tr id="r_userInput" @Html.Raw(subAktivitasKeberangkatanRtwView.userInput.RowAttributes)>
        <td class="@(subAktivitasKeberangkatanRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasKeberangkatanRTW_userInput">@Html.Raw(subAktivitasKeberangkatanRtwView.userInput.Caption)</span></td>
        <td data-name="userInput" @Html.Raw(subAktivitasKeberangkatanRtwView.userInput.CellAttributes)>
<span id="el_SubAktivitasKeberangkatanRTW_userInput">
<span @Html.Raw(subAktivitasKeberangkatanRtwView.userInput.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanRtwView.userInput.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasKeberangkatanRtwView.userInput.Visible (end) *@
@if (subAktivitasKeberangkatanRtwView.etlDate.Visible) { // subAktivitasKeberangkatanRtwView.etlDate.Visible (begin)
    <tr id="r_etlDate" @Html.Raw(subAktivitasKeberangkatanRtwView.etlDate.RowAttributes)>
        <td class="@(subAktivitasKeberangkatanRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasKeberangkatanRTW_etlDate">@Html.Raw(subAktivitasKeberangkatanRtwView.etlDate.Caption)</span></td>
        <td data-name="etlDate" @Html.Raw(subAktivitasKeberangkatanRtwView.etlDate.CellAttributes)>
<span id="el_SubAktivitasKeberangkatanRTW_etlDate">
<span @Html.Raw(subAktivitasKeberangkatanRtwView.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanRtwView.etlDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasKeberangkatanRtwView.etlDate.Visible (end) *@
</table>
@{ subAktivitasKeberangkatanRtwView.CloseRecordset(); }
</form>
</main>
@subAktivitasKeberangkatanRtwView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasKeberangkatanRtwView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
