@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputDataStopPembongkaranView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputDataStopPembongkaranView.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputDataStopPembongkaranView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @subAktivitasFormInputDataStopPembongkaranView.ExportOptions.RenderBody()
    @subAktivitasFormInputDataStopPembongkaranView.OtherOptions.RenderBody()
</div>
}
@subAktivitasFormInputDataStopPembongkaranView.ShowPageHeader()
@subAktivitasFormInputDataStopPembongkaranView.ShowMessages()
<main class="view">
<form name="fSubAktivitasFormInputDataStopPembongkaranview" id="fSubAktivitasFormInputDataStopPembongkaranview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!subAktivitasFormInputDataStopPembongkaranView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputDataStopPembongkaranView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputDataStopPembongkaran: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fSubAktivitasFormInputDataStopPembongkaranview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputDataStopPembongkaranview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputDataStopPembongkaranView.IsModal)">
<table class="@(subAktivitasFormInputDataStopPembongkaranView.TableClass)">
@if (subAktivitasFormInputDataStopPembongkaranView.id.Visible) { // subAktivitasFormInputDataStopPembongkaranView.id.Visible (begin)
    <tr id="r_id" @Html.Raw(subAktivitasFormInputDataStopPembongkaranView.id.RowAttributes)>
        <td class="@(subAktivitasFormInputDataStopPembongkaranView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataStopPembongkaran_id">@Html.Raw(subAktivitasFormInputDataStopPembongkaranView.id.Caption)</span></td>
        <td data-name="id" @Html.Raw(subAktivitasFormInputDataStopPembongkaranView.id.CellAttributes)>
<span id="el_SubAktivitasFormInputDataStopPembongkaran_id">
<span @Html.Raw(subAktivitasFormInputDataStopPembongkaranView.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPembongkaranView.id.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataStopPembongkaranView.id.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranView.NoReferensi.Visible) { // subAktivitasFormInputDataStopPembongkaranView.NoReferensi.Visible (begin)
    <tr id="r_NoReferensi" @Html.Raw(subAktivitasFormInputDataStopPembongkaranView.NoReferensi.RowAttributes)>
        <td class="@(subAktivitasFormInputDataStopPembongkaranView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataStopPembongkaran_NoReferensi">@Html.Raw(subAktivitasFormInputDataStopPembongkaranView.NoReferensi.Caption)</span></td>
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputDataStopPembongkaranView.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputDataStopPembongkaran_NoReferensi">
<span @Html.Raw(subAktivitasFormInputDataStopPembongkaranView.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPembongkaranView.NoReferensi.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataStopPembongkaranView.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranView.idProses.Visible) { // subAktivitasFormInputDataStopPembongkaranView.idProses.Visible (begin)
    <tr id="r_idProses" @Html.Raw(subAktivitasFormInputDataStopPembongkaranView.idProses.RowAttributes)>
        <td class="@(subAktivitasFormInputDataStopPembongkaranView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataStopPembongkaran_idProses">@Html.Raw(subAktivitasFormInputDataStopPembongkaranView.idProses.Caption)</span></td>
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputDataStopPembongkaranView.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputDataStopPembongkaran_idProses">
<span @Html.Raw(subAktivitasFormInputDataStopPembongkaranView.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPembongkaranView.idProses.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataStopPembongkaranView.idProses.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranView.idAktifitas.Visible) { // subAktivitasFormInputDataStopPembongkaranView.idAktifitas.Visible (begin)
    <tr id="r_idAktifitas" @Html.Raw(subAktivitasFormInputDataStopPembongkaranView.idAktifitas.RowAttributes)>
        <td class="@(subAktivitasFormInputDataStopPembongkaranView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataStopPembongkaran_idAktifitas">@Html.Raw(subAktivitasFormInputDataStopPembongkaranView.idAktifitas.Caption)</span></td>
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputDataStopPembongkaranView.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputDataStopPembongkaran_idAktifitas">
<span @Html.Raw(subAktivitasFormInputDataStopPembongkaranView.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPembongkaranView.idAktifitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataStopPembongkaranView.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranView.StatusAktivitas.Visible) { // subAktivitasFormInputDataStopPembongkaranView.StatusAktivitas.Visible (begin)
    <tr id="r_StatusAktivitas" @Html.Raw(subAktivitasFormInputDataStopPembongkaranView.StatusAktivitas.RowAttributes)>
        <td class="@(subAktivitasFormInputDataStopPembongkaranView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataStopPembongkaran_StatusAktivitas">@Html.Raw(subAktivitasFormInputDataStopPembongkaranView.StatusAktivitas.Caption)</span></td>
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputDataStopPembongkaranView.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasFormInputDataStopPembongkaran_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputDataStopPembongkaranView.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPembongkaranView.StatusAktivitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataStopPembongkaranView.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranView.LastUpdatedBy.Visible) { // subAktivitasFormInputDataStopPembongkaranView.LastUpdatedBy.Visible (begin)
    <tr id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputDataStopPembongkaranView.LastUpdatedBy.RowAttributes)>
        <td class="@(subAktivitasFormInputDataStopPembongkaranView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataStopPembongkaran_LastUpdatedBy">@Html.Raw(subAktivitasFormInputDataStopPembongkaranView.LastUpdatedBy.Caption)</span></td>
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputDataStopPembongkaranView.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputDataStopPembongkaran_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputDataStopPembongkaranView.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPembongkaranView.LastUpdatedBy.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataStopPembongkaranView.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranView.lastUpdatedDate.Visible) { // subAktivitasFormInputDataStopPembongkaranView.lastUpdatedDate.Visible (begin)
    <tr id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputDataStopPembongkaranView.lastUpdatedDate.RowAttributes)>
        <td class="@(subAktivitasFormInputDataStopPembongkaranView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataStopPembongkaran_lastUpdatedDate">@Html.Raw(subAktivitasFormInputDataStopPembongkaranView.lastUpdatedDate.Caption)</span></td>
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputDataStopPembongkaranView.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputDataStopPembongkaran_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputDataStopPembongkaranView.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPembongkaranView.lastUpdatedDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataStopPembongkaranView.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranView.Tanggal.Visible) { // subAktivitasFormInputDataStopPembongkaranView.Tanggal.Visible (begin)
    <tr id="r_Tanggal" @Html.Raw(subAktivitasFormInputDataStopPembongkaranView.Tanggal.RowAttributes)>
        <td class="@(subAktivitasFormInputDataStopPembongkaranView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataStopPembongkaran_Tanggal">@Html.Raw(subAktivitasFormInputDataStopPembongkaranView.Tanggal.Caption)</span></td>
        <td data-name="Tanggal" @Html.Raw(subAktivitasFormInputDataStopPembongkaranView.Tanggal.CellAttributes)>
<span id="el_SubAktivitasFormInputDataStopPembongkaran_Tanggal">
<span @Html.Raw(subAktivitasFormInputDataStopPembongkaranView.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPembongkaranView.Tanggal.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataStopPembongkaranView.Tanggal.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranView.userInput.Visible) { // subAktivitasFormInputDataStopPembongkaranView.userInput.Visible (begin)
    <tr id="r_userInput" @Html.Raw(subAktivitasFormInputDataStopPembongkaranView.userInput.RowAttributes)>
        <td class="@(subAktivitasFormInputDataStopPembongkaranView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataStopPembongkaran_userInput">@Html.Raw(subAktivitasFormInputDataStopPembongkaranView.userInput.Caption)</span></td>
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputDataStopPembongkaranView.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputDataStopPembongkaran_userInput">
<span @Html.Raw(subAktivitasFormInputDataStopPembongkaranView.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPembongkaranView.userInput.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataStopPembongkaranView.userInput.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranView.etlDate.Visible) { // subAktivitasFormInputDataStopPembongkaranView.etlDate.Visible (begin)
    <tr id="r_etlDate" @Html.Raw(subAktivitasFormInputDataStopPembongkaranView.etlDate.RowAttributes)>
        <td class="@(subAktivitasFormInputDataStopPembongkaranView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataStopPembongkaran_etlDate">@Html.Raw(subAktivitasFormInputDataStopPembongkaranView.etlDate.Caption)</span></td>
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputDataStopPembongkaranView.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputDataStopPembongkaran_etlDate">
<span @Html.Raw(subAktivitasFormInputDataStopPembongkaranView.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPembongkaranView.etlDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataStopPembongkaranView.etlDate.Visible (end) *@
</table>
@{ subAktivitasFormInputDataStopPembongkaranView.CloseRecordset(); }
</form>
</main>
@subAktivitasFormInputDataStopPembongkaranView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputDataStopPembongkaranView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
