@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.TotalRecords > 0 && subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.ExportOptions.Visible) {
    subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.ExportOptions.Render("body");
}
@if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.ImportOptions.Visible) {
    subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.ImportOptions.Render("body");
}
@if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.SearchOptions.Visible) {
    subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.SearchOptions.Render("body");
}
@if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.FilterOptions.Visible) {
    subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.IsModal) {
<form name="fSubAktivitasNilaiNewBLSFADSFBLSTSPyrLPGsrch" id="fSubAktivitasNilaiNewBLSFADSFBLSTSPyrLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasNilaiNewBLSFADSFBLSTSPyrLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG: currentTable } });
var currentForm;
var fSubAktivitasNilaiNewBLSFADSFBLSTSPyrLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiNewBLSFADSFBLSTSPyrLPGsrch")
        .setPageId("list")
@if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.IsExport() && Empty(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.CurrentAction) && subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasNilaiNewBLSFADSFBLSTSPyrLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasNilaiNewBLSFADSFBLSTSPyrLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasNilaiNewBLSFADSFBLSTSPyrLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasNilaiNewBLSFADSFBLSTSPyrLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.ShowPageHeader()
@subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.ShowMessages()
<main class="list @(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.TotalRecords == 0 && !subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.TotalRecords > 0 || !Empty(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.TableGridClass)">
<form name="@(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.FormName)" id="@(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG" class="card-body ew-grid-middle-panel @(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.TableContainerClass)" style="@(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.TableContainerStyle)">
@if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.TotalRecords > 0 || subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.IsGridEdit || subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPGlist" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.ListOptions.RenderHeader("left")
@if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.id.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_id" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_id">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.id))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.id.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NoReferensi.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_NoReferensi" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_NoReferensi">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NoReferensi))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NoReferensi.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.idProses.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_idProses" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_idProses">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.idProses))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.idProses.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.idAktifitas.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_idAktifitas" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_idAktifitas">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.idAktifitas))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.LastUpdatedBy.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_LastUpdatedBy" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_LastUpdatedBy">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.LastUpdatedBy))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.lastUpdatedDate.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_lastUpdatedDate" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_lastUpdatedDate">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.lastUpdatedDate))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NewBL_MT.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NewBL_MT.Visible (begin)
        <th data-name="NewBL_MT" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NewBL_MT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_NewBL_MT" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_NewBL_MT">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NewBL_MT))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NewBL_MT.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.SFAD_MT.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.SFAD_MT.Visible (begin)
        <th data-name="SFAD_MT" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.SFAD_MT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_SFAD_MT" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_SFAD_MT">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.SFAD_MT))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.SFAD_MT.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.SFBL_MT.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.SFBL_MT.Visible (begin)
        <th data-name="SFBL_MT" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.SFBL_MT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_SFBL_MT" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_SFBL_MT">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.SFBL_MT))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.SFBL_MT.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.ExROB.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.ExROB.Visible (begin)
        <th data-name="ExROB" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.ExROB.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_ExROB" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_ExROB">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.ExROB))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.ExROB.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NoPenerimaan.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NoPenerimaan.Visible (begin)
        <th data-name="NoPenerimaan" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NoPenerimaan.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_NoPenerimaan" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_NoPenerimaan">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NoPenerimaan))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NoPenerimaan.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.userInput.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_userInput" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_userInput">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.userInput))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.userInput.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.etlDate.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_etlDate" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_etlDate">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.etlDate))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.etlDate.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.StatusAktivitas.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_StatusAktivitas" class="SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_StatusAktivitas">@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.StatusAktivitas))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.StatusAktivitas.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.PageNumber)">
@{
    await subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.SetupGrid();
    bool eof = subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.Recordset == null; // DN
}
@while (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RecordCount < subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.StopRecord || SameString(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.IsGridAdd || subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.CurrentMode == "copy") &&
        (!((subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.IsCopy || subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.IsAdd) && subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.Recordset.ReadAsync();
    subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RecordCount++;
    if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RecordCount >= subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.StartRecord) {
        await subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.SetupRow();
    <tr @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.ListOptions.RenderBody("left", subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowCount)
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.id.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_id" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_id">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.id.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NoReferensi.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_NoReferensi" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_NoReferensi">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.idProses.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_idProses" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_idProses">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.idProses.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.idAktifitas.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_idAktifitas" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_idAktifitas">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.LastUpdatedBy.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_LastUpdatedBy" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.lastUpdatedDate.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_lastUpdatedDate" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NewBL_MT.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NewBL_MT.Visible (begin)
        <td data-name="NewBL_MT" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NewBL_MT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_NewBL_MT" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_NewBL_MT">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NewBL_MT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NewBL_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NewBL_MT.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.SFAD_MT.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.SFAD_MT.Visible (begin)
        <td data-name="SFAD_MT" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.SFAD_MT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_SFAD_MT" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_SFAD_MT">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.SFAD_MT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.SFAD_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.SFAD_MT.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.SFBL_MT.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.SFBL_MT.Visible (begin)
        <td data-name="SFBL_MT" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.SFBL_MT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_SFBL_MT" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_SFBL_MT">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.SFBL_MT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.SFBL_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.SFBL_MT.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.ExROB.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.ExROB.Visible (begin)
        <td data-name="ExROB" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.ExROB.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_ExROB" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_ExROB">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.ExROB.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.ExROB.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.ExROB.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NoPenerimaan.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NoPenerimaan.Visible (begin)
        <td data-name="NoPenerimaan" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NoPenerimaan.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_NoPenerimaan" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_NoPenerimaan">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NoPenerimaan.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NoPenerimaan.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.NoPenerimaan.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.userInput.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_userInput" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_userInput">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.userInput.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.etlDate.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_etlDate" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_etlDate">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.etlDate.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.StatusAktivitas.Visible) { // subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowCount)_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_StatusAktivitas" class="el_SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.StatusAktivitas.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.ListOptions.RenderBody("right", subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowIndex, "$rowindex$"))
        subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.IsCopy || subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.IsAdd) && subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.CurrentAction) && !subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.CloseRecordset(); }
@if (!subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.IsGridAdd && !(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.IsGridEdit && subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.ModalGridEdit) && !subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.IsMultiEdit) {
@Html.Raw(subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasNilaiNewBlsfadsfblstsPyrLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasNilaiNewBLSFADSFBLSTSPyrLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
