@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputFlowrateRtwAdd.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputFlowrateRtwAdd.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputFlowrateRtwAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputFlowrateRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fSubAktivitasFormInputFlowrateRTWadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputFlowrateRTWadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null, ew.Validators.integer], fields.StatusAktivitas.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["Flowrate", [fields.Flowrate.visible && fields.Flowrate.required ? ew.Validators.required(fields.Flowrate.caption) : null], fields.Flowrate.isInvalid],
            ["StrippingTime", [fields.StrippingTime.visible && fields.StrippingTime.required ? ew.Validators.required(fields.StrippingTime.caption) : null], fields.StrippingTime.isInvalid],
            ["Pressuren", [fields.Pressuren.visible && fields.Pressuren.required ? ew.Validators.required(fields.Pressuren.caption) : null], fields.Pressuren.isInvalid],
            ["LamaPembongkaran", [fields.LamaPembongkaran.visible && fields.LamaPembongkaran.required ? ew.Validators.required(fields.LamaPembongkaran.caption) : null], fields.LamaPembongkaran.isInvalid],
            ["ETC", [fields.ETC.visible && fields.ETC.required ? ew.Validators.required(fields.ETC.caption) : null, ew.Validators.datetime(fields.ETC.clientFormatPattern)], fields.ETC.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "idProses": @Html.Raw(subAktivitasFormInputFlowrateRtwAdd.idProses.ToClientList(subAktivitasFormInputFlowrateRtwAdd)),
            "idAktifitas": @Html.Raw(subAktivitasFormInputFlowrateRtwAdd.idAktifitas.ToClientList(subAktivitasFormInputFlowrateRtwAdd)),
            "StatusAktivitas": @Html.Raw(subAktivitasFormInputFlowrateRtwAdd.StatusAktivitas.ToClientList(subAktivitasFormInputFlowrateRtwAdd)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasFormInputFlowrateRtwAdd.ShowPageHeader()
@subAktivitasFormInputFlowrateRtwAdd.ShowMessages()
<form name="fSubAktivitasFormInputFlowrateRTWadd" id="fSubAktivitasFormInputFlowrateRTWadd" class="@(subAktivitasFormInputFlowrateRtwAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputFlowrateRtwAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasFormInputFlowrateRtwAdd.OldKeyName)" value="@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (subAktivitasFormInputFlowrateRtwAdd.NoReferensi.Visible) { // subAktivitasFormInputFlowrateRtwAdd.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasFormInputFlowrateRtwAdd.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasFormInputFlowrateRTW_NoReferensi" for="x_NoReferensi" class="@(subAktivitasFormInputFlowrateRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.NoReferensi.Caption)@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputFlowrateRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputFlowrateRtwAdd.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrateRTW_NoReferensi">
<input type="@(subAktivitasFormInputFlowrateRtwAdd.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasFormInputFlowrateRTW" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.NoReferensi.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateRtwAdd.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputFlowrateRtwAdd.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputFlowrateRtwAdd.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwAdd.idProses.Visible) { // subAktivitasFormInputFlowrateRtwAdd.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasFormInputFlowrateRtwAdd.idProses.RowAttributes)>
        <label id="elh_SubAktivitasFormInputFlowrateRTW_idProses" class="@(subAktivitasFormInputFlowrateRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.idProses.Caption)@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputFlowrateRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputFlowrateRtwAdd.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrateRTW_idProses">
<span>@{
    if (IsRTL) {
        subAktivitasFormInputFlowrateRtwAdd.idProses.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_idProses" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_idProses" id="sv_x_idProses" value="@(RemoveHtml(ConvertToString(subAktivitasFormInputFlowrateRtwAdd.idProses.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateRtwAdd.idProses.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateRtwAdd.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputFlowrateRtwAdd.idProses.FormatPattern)" @Html.Raw(subAktivitasFormInputFlowrateRtwAdd.idProses.EditAttributes) aria-describedby="x_idProses_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasFormInputFlowrateRTW" data-field="x_idProses" data-input="sv_x_idProses" data-value-separator="@(subAktivitasFormInputFlowrateRtwAdd.idProses.DisplayValueSeparatorAttribute)" name="x_idProses" id="x_idProses" value="@(HtmlEncode(subAktivitasFormInputFlowrateRtwAdd.idProses.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.idProses.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasFormInputFlowrateRTWadd"], function() {
    fSubAktivitasFormInputFlowrateRTWadd.createAutoSuggest(Object.assign({"id":"x_idProses","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasFormInputFlowrateRtwAdd.idProses.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasFormInputFlowrateRTW.fields.idProses.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.idProses.Lookup.GetParamTag(subAktivitasFormInputFlowrateRtwAdd, "p_x_idProses"))
</span>
</div></div>
    </div>
} @* subAktivitasFormInputFlowrateRtwAdd.idProses.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwAdd.idAktifitas.Visible) { // subAktivitasFormInputFlowrateRtwAdd.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasFormInputFlowrateRtwAdd.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputFlowrateRTW_idAktifitas" class="@(subAktivitasFormInputFlowrateRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.idAktifitas.Caption)@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputFlowrateRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputFlowrateRtwAdd.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrateRTW_idAktifitas">
<span>@{
    if (IsRTL) {
        subAktivitasFormInputFlowrateRtwAdd.idAktifitas.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_idAktifitas" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_idAktifitas" id="sv_x_idAktifitas" value="@(RemoveHtml(ConvertToString(subAktivitasFormInputFlowrateRtwAdd.idAktifitas.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateRtwAdd.idAktifitas.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateRtwAdd.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputFlowrateRtwAdd.idAktifitas.FormatPattern)" @Html.Raw(subAktivitasFormInputFlowrateRtwAdd.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasFormInputFlowrateRTW" data-field="x_idAktifitas" data-input="sv_x_idAktifitas" data-value-separator="@(subAktivitasFormInputFlowrateRtwAdd.idAktifitas.DisplayValueSeparatorAttribute)" name="x_idAktifitas" id="x_idAktifitas" value="@(HtmlEncode(subAktivitasFormInputFlowrateRtwAdd.idAktifitas.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.idAktifitas.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasFormInputFlowrateRTWadd"], function() {
    fSubAktivitasFormInputFlowrateRTWadd.createAutoSuggest(Object.assign({"id":"x_idAktifitas","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasFormInputFlowrateRtwAdd.idAktifitas.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasFormInputFlowrateRTW.fields.idAktifitas.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.idAktifitas.Lookup.GetParamTag(subAktivitasFormInputFlowrateRtwAdd, "p_x_idAktifitas"))
</span>
</div></div>
    </div>
} @* subAktivitasFormInputFlowrateRtwAdd.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwAdd.StatusAktivitas.Visible) { // subAktivitasFormInputFlowrateRtwAdd.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subAktivitasFormInputFlowrateRtwAdd.StatusAktivitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputFlowrateRTW_StatusAktivitas" class="@(subAktivitasFormInputFlowrateRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.StatusAktivitas.Caption)@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputFlowrateRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputFlowrateRtwAdd.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrateRTW_StatusAktivitas">
<span>@{
    if (IsRTL) {
        subAktivitasFormInputFlowrateRtwAdd.StatusAktivitas.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_StatusAktivitas" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_StatusAktivitas" id="sv_x_StatusAktivitas" value="@(RemoveHtml(ConvertToString(subAktivitasFormInputFlowrateRtwAdd.StatusAktivitas.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateRtwAdd.StatusAktivitas.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateRtwAdd.StatusAktivitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputFlowrateRtwAdd.StatusAktivitas.FormatPattern)" @Html.Raw(subAktivitasFormInputFlowrateRtwAdd.StatusAktivitas.EditAttributes) aria-describedby="x_StatusAktivitas_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasFormInputFlowrateRTW" data-field="x_StatusAktivitas" data-input="sv_x_StatusAktivitas" data-value-separator="@(subAktivitasFormInputFlowrateRtwAdd.StatusAktivitas.DisplayValueSeparatorAttribute)" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@(HtmlEncode(subAktivitasFormInputFlowrateRtwAdd.StatusAktivitas.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.StatusAktivitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.StatusAktivitas.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasFormInputFlowrateRTWadd"], function() {
    fSubAktivitasFormInputFlowrateRTWadd.createAutoSuggest(Object.assign({"id":"x_StatusAktivitas","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasFormInputFlowrateRtwAdd.StatusAktivitas.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasFormInputFlowrateRTW.fields.StatusAktivitas.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.StatusAktivitas.Lookup.GetParamTag(subAktivitasFormInputFlowrateRtwAdd, "p_x_StatusAktivitas"))
</span>
</div></div>
    </div>
} @* subAktivitasFormInputFlowrateRtwAdd.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwAdd.LastUpdatedBy.Visible) { // subAktivitasFormInputFlowrateRtwAdd.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputFlowrateRtwAdd.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasFormInputFlowrateRTW_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasFormInputFlowrateRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.LastUpdatedBy.Caption)@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputFlowrateRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputFlowrateRtwAdd.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrateRTW_LastUpdatedBy">
<input type="@(subAktivitasFormInputFlowrateRtwAdd.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasFormInputFlowrateRTW" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateRtwAdd.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputFlowrateRtwAdd.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputFlowrateRtwAdd.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwAdd.lastUpdatedDate.Visible) { // subAktivitasFormInputFlowrateRtwAdd.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputFlowrateRtwAdd.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputFlowrateRTW_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasFormInputFlowrateRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.lastUpdatedDate.Caption)@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputFlowrateRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputFlowrateRtwAdd.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrateRTW_lastUpdatedDate">
<input type="@(subAktivitasFormInputFlowrateRtwAdd.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasFormInputFlowrateRTW" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateRtwAdd.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputFlowrateRtwAdd.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputFlowrateRtwAdd.lastUpdatedDate.ReadOnly && !subAktivitasFormInputFlowrateRtwAdd.lastUpdatedDate.Disabled && !subAktivitasFormInputFlowrateRtwAdd.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasFormInputFlowrateRtwAdd.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputFlowrateRTWadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(15))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputFlowrateRTWadd", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputFlowrateRtwAdd.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwAdd.Flowrate.Visible) { // subAktivitasFormInputFlowrateRtwAdd.Flowrate.Visible (begin)
    <div id="r_Flowrate" @Html.Raw(subAktivitasFormInputFlowrateRtwAdd.Flowrate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputFlowrateRTW_Flowrate" for="x_Flowrate" class="@(subAktivitasFormInputFlowrateRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.Flowrate.Caption)@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.Flowrate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputFlowrateRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputFlowrateRtwAdd.Flowrate.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrateRTW_Flowrate">
<input type="@(subAktivitasFormInputFlowrateRtwAdd.Flowrate.InputTextType)" name="x_Flowrate" id="x_Flowrate" data-table="SubAktivitasFormInputFlowrateRTW" data-field="x_Flowrate" value="@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.Flowrate.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateRtwAdd.Flowrate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputFlowrateRtwAdd.Flowrate.FormatPattern)"@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.Flowrate.EditAttributes) aria-describedby="x_Flowrate_help">
@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.Flowrate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.Flowrate.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputFlowrateRtwAdd.Flowrate.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwAdd.StrippingTime.Visible) { // subAktivitasFormInputFlowrateRtwAdd.StrippingTime.Visible (begin)
    <div id="r_StrippingTime" @Html.Raw(subAktivitasFormInputFlowrateRtwAdd.StrippingTime.RowAttributes)>
        <label id="elh_SubAktivitasFormInputFlowrateRTW_StrippingTime" for="x_StrippingTime" class="@(subAktivitasFormInputFlowrateRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.StrippingTime.Caption)@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.StrippingTime.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputFlowrateRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputFlowrateRtwAdd.StrippingTime.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrateRTW_StrippingTime">
<input type="@(subAktivitasFormInputFlowrateRtwAdd.StrippingTime.InputTextType)" name="x_StrippingTime" id="x_StrippingTime" data-table="SubAktivitasFormInputFlowrateRTW" data-field="x_StrippingTime" value="@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.StrippingTime.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateRtwAdd.StrippingTime.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputFlowrateRtwAdd.StrippingTime.FormatPattern)"@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.StrippingTime.EditAttributes) aria-describedby="x_StrippingTime_help">
@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.StrippingTime.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.StrippingTime.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputFlowrateRtwAdd.StrippingTime.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwAdd.Pressuren.Visible) { // subAktivitasFormInputFlowrateRtwAdd.Pressuren.Visible (begin)
    <div id="r_Pressuren" @Html.Raw(subAktivitasFormInputFlowrateRtwAdd.Pressuren.RowAttributes)>
        <label id="elh_SubAktivitasFormInputFlowrateRTW_Pressuren" for="x_Pressuren" class="@(subAktivitasFormInputFlowrateRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.Pressuren.Caption)@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.Pressuren.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputFlowrateRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputFlowrateRtwAdd.Pressuren.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrateRTW_Pressuren">
<input type="@(subAktivitasFormInputFlowrateRtwAdd.Pressuren.InputTextType)" name="x_Pressuren" id="x_Pressuren" data-table="SubAktivitasFormInputFlowrateRTW" data-field="x_Pressuren" value="@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.Pressuren.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateRtwAdd.Pressuren.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputFlowrateRtwAdd.Pressuren.FormatPattern)"@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.Pressuren.EditAttributes) aria-describedby="x_Pressuren_help">
@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.Pressuren.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.Pressuren.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputFlowrateRtwAdd.Pressuren.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwAdd.LamaPembongkaran.Visible) { // subAktivitasFormInputFlowrateRtwAdd.LamaPembongkaran.Visible (begin)
    <div id="r_LamaPembongkaran" @Html.Raw(subAktivitasFormInputFlowrateRtwAdd.LamaPembongkaran.RowAttributes)>
        <label id="elh_SubAktivitasFormInputFlowrateRTW_LamaPembongkaran" for="x_LamaPembongkaran" class="@(subAktivitasFormInputFlowrateRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.LamaPembongkaran.Caption)@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.LamaPembongkaran.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputFlowrateRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputFlowrateRtwAdd.LamaPembongkaran.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrateRTW_LamaPembongkaran">
<input type="@(subAktivitasFormInputFlowrateRtwAdd.LamaPembongkaran.InputTextType)" name="x_LamaPembongkaran" id="x_LamaPembongkaran" data-table="SubAktivitasFormInputFlowrateRTW" data-field="x_LamaPembongkaran" value="@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.LamaPembongkaran.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateRtwAdd.LamaPembongkaran.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputFlowrateRtwAdd.LamaPembongkaran.FormatPattern)"@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.LamaPembongkaran.EditAttributes) aria-describedby="x_LamaPembongkaran_help">
@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.LamaPembongkaran.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.LamaPembongkaran.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputFlowrateRtwAdd.LamaPembongkaran.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwAdd.ETC.Visible) { // subAktivitasFormInputFlowrateRtwAdd.ETC.Visible (begin)
    <div id="r_ETC" @Html.Raw(subAktivitasFormInputFlowrateRtwAdd.ETC.RowAttributes)>
        <label id="elh_SubAktivitasFormInputFlowrateRTW_ETC" for="x_ETC" class="@(subAktivitasFormInputFlowrateRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.ETC.Caption)@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.ETC.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputFlowrateRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputFlowrateRtwAdd.ETC.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrateRTW_ETC">
<input type="@(subAktivitasFormInputFlowrateRtwAdd.ETC.InputTextType)" name="x_ETC" id="x_ETC" data-table="SubAktivitasFormInputFlowrateRTW" data-field="x_ETC" value="@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.ETC.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateRtwAdd.ETC.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputFlowrateRtwAdd.ETC.FormatPattern)"@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.ETC.EditAttributes) aria-describedby="x_ETC_help">
@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.ETC.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.ETC.GetErrorMessage())</div>
@if (!subAktivitasFormInputFlowrateRtwAdd.ETC.ReadOnly && !subAktivitasFormInputFlowrateRtwAdd.ETC.Disabled && !subAktivitasFormInputFlowrateRtwAdd.ETC.EditAttrs.Is("readonly") && !subAktivitasFormInputFlowrateRtwAdd.ETC.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputFlowrateRTWadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputFlowrateRTWadd", "x_ETC", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputFlowrateRtwAdd.ETC.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwAdd.userInput.Visible) { // subAktivitasFormInputFlowrateRtwAdd.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasFormInputFlowrateRtwAdd.userInput.RowAttributes)>
        <label id="elh_SubAktivitasFormInputFlowrateRTW_userInput" for="x_userInput" class="@(subAktivitasFormInputFlowrateRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.userInput.Caption)@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputFlowrateRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputFlowrateRtwAdd.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrateRTW_userInput">
<input type="@(subAktivitasFormInputFlowrateRtwAdd.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasFormInputFlowrateRTW" data-field="x_userInput" value="@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateRtwAdd.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputFlowrateRtwAdd.userInput.FormatPattern)"@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputFlowrateRtwAdd.userInput.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwAdd.etlDate.Visible) { // subAktivitasFormInputFlowrateRtwAdd.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasFormInputFlowrateRtwAdd.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputFlowrateRTW_etlDate" for="x_etlDate" class="@(subAktivitasFormInputFlowrateRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.etlDate.Caption)@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputFlowrateRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputFlowrateRtwAdd.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrateRTW_etlDate">
<input type="@(subAktivitasFormInputFlowrateRtwAdd.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasFormInputFlowrateRTW" data-field="x_etlDate" value="@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateRtwAdd.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputFlowrateRtwAdd.etlDate.FormatPattern)"@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.etlDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputFlowrateRtwAdd.etlDate.ReadOnly && !subAktivitasFormInputFlowrateRtwAdd.etlDate.Disabled && !subAktivitasFormInputFlowrateRtwAdd.etlDate.EditAttrs.Is("readonly") && !subAktivitasFormInputFlowrateRtwAdd.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputFlowrateRTWadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputFlowrateRTWadd", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputFlowrateRtwAdd.etlDate.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasFormInputFlowrateRtwAdd.CloseRecordset(); }
@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasFormInputFlowrateRtwAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasFormInputFlowrateRTWadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasFormInputFlowrateRTWadd" data-href="@AppPath(subAktivitasFormInputFlowrateRtwAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasFormInputFlowrateRtwAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@subAktivitasFormInputFlowrateRtwAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputFlowrateRTW");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
