@{
    // View
    View = this;

    // Check action result
    if (subAktivitasLogbookPenerimaanEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasLogbookPenerimaanEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasLogbookPenerimaanEdit.ShowPageHeader()
@subAktivitasLogbookPenerimaanEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasLogbookPenerimaanedit" id="fSubAktivitasLogbookPenerimaanedit" class="@(subAktivitasLogbookPenerimaanEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasLogbookPenerimaanEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasLogbookPenerimaan: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasLogbookPenerimaanedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasLogbookPenerimaanedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null], fields.idAktifitas.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["Nama_Kapal", [fields.Nama_Kapal.visible && fields.Nama_Kapal.required ? ew.Validators.required(fields.Nama_Kapal.caption) : null], fields.Nama_Kapal.isInvalid],
            ["TanggalJam", [fields.TanggalJam.visible && fields.TanggalJam.required ? ew.Validators.required(fields.TanggalJam.caption) : null, ew.Validators.datetime(fields.TanggalJam.clientFormatPattern)], fields.TanggalJam.isInvalid],
            ["Nama_Kegiatan", [fields.Nama_Kegiatan.visible && fields.Nama_Kegiatan.required ? ew.Validators.required(fields.Nama_Kegiatan.caption) : null], fields.Nama_Kegiatan.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null], fields.StatusAktivitas.isInvalid],
            ["Density", [fields.Density.visible && fields.Density.required ? ew.Validators.required(fields.Density.caption) : null], fields.Density.isInvalid],
            ["Temperatur", [fields.Temperatur.visible && fields.Temperatur.required ? ew.Validators.required(fields.Temperatur.caption) : null], fields.Temperatur.isInvalid],
            ["Keterangan", [fields.Keterangan.visible && fields.Keterangan.required ? ew.Validators.required(fields.Keterangan.caption) : null], fields.Keterangan.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["SubAktivitasHasilPemeriksaanId", [fields.SubAktivitasHasilPemeriksaanId.visible && fields.SubAktivitasHasilPemeriksaanId.required ? ew.Validators.required(fields.SubAktivitasHasilPemeriksaanId.caption) : null, ew.Validators.integer], fields.SubAktivitasHasilPemeriksaanId.isInvalid],
            ["Level", [fields.Level.visible && fields.Level.required ? ew.Validators.required(fields.Level.caption) : null], fields.Level.isInvalid],
            ["Volume", [fields.Volume.visible && fields.Volume.required ? ew.Validators.required(fields.Volume.caption) : null], fields.Volume.isInvalid],
            ["Flowrate", [fields.Flowrate.visible && fields.Flowrate.required ? ew.Validators.required(fields.Flowrate.caption) : null], fields.Flowrate.isInvalid],
            ["TanggalJamSOP", [fields.TanggalJamSOP.visible && fields.TanggalJamSOP.required ? ew.Validators.required(fields.TanggalJamSOP.caption) : null, ew.Validators.datetime(fields.TanggalJamSOP.clientFormatPattern)], fields.TanggalJamSOP.isInvalid],
            ["SelisihWaktu", [fields.SelisihWaktu.visible && fields.SelisihWaktu.required ? ew.Validators.required(fields.SelisihWaktu.caption) : null], fields.SelisihWaktu.isInvalid],
            ["IsQualityActive", [fields.IsQualityActive.visible && fields.IsQualityActive.required ? ew.Validators.required(fields.IsQualityActive.caption) : null], fields.IsQualityActive.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "IsQualityActive": @Html.Raw(subAktivitasLogbookPenerimaanEdit.IsQualityActive.ToClientList(subAktivitasLogbookPenerimaanEdit)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasLogbookPenerimaanEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasLogbookPenerimaanEdit.OldKeyName)" value="@Html.Raw(subAktivitasLogbookPenerimaanEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasLogbookPenerimaanEdit.id.Visible) { // subAktivitasLogbookPenerimaanEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subAktivitasLogbookPenerimaanEdit.id.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaan_id" class="@(subAktivitasLogbookPenerimaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanEdit.id.Caption)@Html.Raw(subAktivitasLogbookPenerimaanEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanEdit.id.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaan_id">
<span @Html.Raw(subAktivitasLogbookPenerimaanEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasLogbookPenerimaanEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasLogbookPenerimaan" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanEdit.id.Visible (end) *@
@if (subAktivitasLogbookPenerimaanEdit.idProses.Visible) { // subAktivitasLogbookPenerimaanEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasLogbookPenerimaanEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaan_idProses" for="x_idProses" class="@(subAktivitasLogbookPenerimaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanEdit.idProses.Caption)@Html.Raw(subAktivitasLogbookPenerimaanEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaan_idProses">
<input type="@(subAktivitasLogbookPenerimaanEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubAktivitasLogbookPenerimaan" data-field="x_idProses" value="@Html.Raw(subAktivitasLogbookPenerimaanEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanEdit.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanEdit.idProses.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subAktivitasLogbookPenerimaanEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanEdit.idProses.Visible (end) *@
@if (subAktivitasLogbookPenerimaanEdit.idAktifitas.Visible) { // subAktivitasLogbookPenerimaanEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasLogbookPenerimaanEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaan_idAktifitas" for="x_idAktifitas" class="@(subAktivitasLogbookPenerimaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanEdit.idAktifitas.Caption)@Html.Raw(subAktivitasLogbookPenerimaanEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaan_idAktifitas">
<input type="@(subAktivitasLogbookPenerimaanEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubAktivitasLogbookPenerimaan" data-field="x_idAktifitas" value="@Html.Raw(subAktivitasLogbookPenerimaanEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanEdit.idAktifitas.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subAktivitasLogbookPenerimaanEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanEdit.idAktifitas.Visible (end) *@
@if (subAktivitasLogbookPenerimaanEdit.NoReferensi.Visible) { // subAktivitasLogbookPenerimaanEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasLogbookPenerimaanEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaan_NoReferensi" for="x_NoReferensi" class="@(subAktivitasLogbookPenerimaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanEdit.NoReferensi.Caption)@Html.Raw(subAktivitasLogbookPenerimaanEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaan_NoReferensi">
<input type="@(subAktivitasLogbookPenerimaanEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasLogbookPenerimaan" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasLogbookPenerimaanEdit.NoReferensi.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanEdit.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasLogbookPenerimaanEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanEdit.NoReferensi.Visible (end) *@
@if (subAktivitasLogbookPenerimaanEdit.Nama_Kapal.Visible) { // subAktivitasLogbookPenerimaanEdit.Nama_Kapal.Visible (begin)
    <div id="r_Nama_Kapal" @Html.Raw(subAktivitasLogbookPenerimaanEdit.Nama_Kapal.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaan_Nama_Kapal" for="x_Nama_Kapal" class="@(subAktivitasLogbookPenerimaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanEdit.Nama_Kapal.Caption)@Html.Raw(subAktivitasLogbookPenerimaanEdit.Nama_Kapal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanEdit.Nama_Kapal.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaan_Nama_Kapal">
<input type="@(subAktivitasLogbookPenerimaanEdit.Nama_Kapal.InputTextType)" name="x_Nama_Kapal" id="x_Nama_Kapal" data-table="SubAktivitasLogbookPenerimaan" data-field="x_Nama_Kapal" value="@Html.Raw(subAktivitasLogbookPenerimaanEdit.Nama_Kapal.EditValue)" size="30" maxlength="200" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanEdit.Nama_Kapal.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanEdit.Nama_Kapal.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanEdit.Nama_Kapal.EditAttributes) aria-describedby="x_Nama_Kapal_help">
@Html.Raw(subAktivitasLogbookPenerimaanEdit.Nama_Kapal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanEdit.Nama_Kapal.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanEdit.Nama_Kapal.Visible (end) *@
@if (subAktivitasLogbookPenerimaanEdit.TanggalJam.Visible) { // subAktivitasLogbookPenerimaanEdit.TanggalJam.Visible (begin)
    <div id="r_TanggalJam" @Html.Raw(subAktivitasLogbookPenerimaanEdit.TanggalJam.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaan_TanggalJam" for="x_TanggalJam" class="@(subAktivitasLogbookPenerimaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanEdit.TanggalJam.Caption)@Html.Raw(subAktivitasLogbookPenerimaanEdit.TanggalJam.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanEdit.TanggalJam.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaan_TanggalJam">
<input type="@(subAktivitasLogbookPenerimaanEdit.TanggalJam.InputTextType)" name="x_TanggalJam" id="x_TanggalJam" data-table="SubAktivitasLogbookPenerimaan" data-field="x_TanggalJam" value="@Html.Raw(subAktivitasLogbookPenerimaanEdit.TanggalJam.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanEdit.TanggalJam.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanEdit.TanggalJam.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanEdit.TanggalJam.EditAttributes) aria-describedby="x_TanggalJam_help">
@Html.Raw(subAktivitasLogbookPenerimaanEdit.TanggalJam.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanEdit.TanggalJam.GetErrorMessage())</div>
@if (!subAktivitasLogbookPenerimaanEdit.TanggalJam.ReadOnly && !subAktivitasLogbookPenerimaanEdit.TanggalJam.Disabled && !subAktivitasLogbookPenerimaanEdit.TanggalJam.EditAttrs.Is("readonly") && !subAktivitasLogbookPenerimaanEdit.TanggalJam.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasLogbookPenerimaanedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasLogbookPenerimaanedit", "x_TanggalJam", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanEdit.TanggalJam.Visible (end) *@
@if (subAktivitasLogbookPenerimaanEdit.Nama_Kegiatan.Visible) { // subAktivitasLogbookPenerimaanEdit.Nama_Kegiatan.Visible (begin)
    <div id="r_Nama_Kegiatan" @Html.Raw(subAktivitasLogbookPenerimaanEdit.Nama_Kegiatan.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaan_Nama_Kegiatan" for="x_Nama_Kegiatan" class="@(subAktivitasLogbookPenerimaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanEdit.Nama_Kegiatan.Caption)@Html.Raw(subAktivitasLogbookPenerimaanEdit.Nama_Kegiatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanEdit.Nama_Kegiatan.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaan_Nama_Kegiatan">
<input type="@(subAktivitasLogbookPenerimaanEdit.Nama_Kegiatan.InputTextType)" name="x_Nama_Kegiatan" id="x_Nama_Kegiatan" data-table="SubAktivitasLogbookPenerimaan" data-field="x_Nama_Kegiatan" value="@Html.Raw(subAktivitasLogbookPenerimaanEdit.Nama_Kegiatan.EditValue)" size="30" maxlength="200" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanEdit.Nama_Kegiatan.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanEdit.Nama_Kegiatan.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanEdit.Nama_Kegiatan.EditAttributes) aria-describedby="x_Nama_Kegiatan_help">
@Html.Raw(subAktivitasLogbookPenerimaanEdit.Nama_Kegiatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanEdit.Nama_Kegiatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanEdit.Nama_Kegiatan.Visible (end) *@
@if (subAktivitasLogbookPenerimaanEdit.Produk.Visible) { // subAktivitasLogbookPenerimaanEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasLogbookPenerimaanEdit.Produk.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaan_Produk" for="x_Produk" class="@(subAktivitasLogbookPenerimaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanEdit.Produk.Caption)@Html.Raw(subAktivitasLogbookPenerimaanEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanEdit.Produk.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaan_Produk">
<input type="@(subAktivitasLogbookPenerimaanEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasLogbookPenerimaan" data-field="x_Produk" value="@Html.Raw(subAktivitasLogbookPenerimaanEdit.Produk.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanEdit.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanEdit.Produk.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasLogbookPenerimaanEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanEdit.Produk.Visible (end) *@
@if (subAktivitasLogbookPenerimaanEdit.StatusAktivitas.Visible) { // subAktivitasLogbookPenerimaanEdit.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subAktivitasLogbookPenerimaanEdit.StatusAktivitas.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaan_StatusAktivitas" class="@(subAktivitasLogbookPenerimaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanEdit.StatusAktivitas.Caption)@Html.Raw(subAktivitasLogbookPenerimaanEdit.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanEdit.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaan_StatusAktivitas">
<span @Html.Raw(subAktivitasLogbookPenerimaanEdit.StatusAktivitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasLogbookPenerimaanEdit.StatusAktivitas.DisplayValue(subAktivitasLogbookPenerimaanEdit.StatusAktivitas.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasLogbookPenerimaan" data-field="x_StatusAktivitas" data-hidden="1" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanEdit.StatusAktivitas.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanEdit.StatusAktivitas.Visible (end) *@
@if (subAktivitasLogbookPenerimaanEdit.Density.Visible) { // subAktivitasLogbookPenerimaanEdit.Density.Visible (begin)
    <div id="r_Density" @Html.Raw(subAktivitasLogbookPenerimaanEdit.Density.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaan_Density" for="x_Density" class="@(subAktivitasLogbookPenerimaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanEdit.Density.Caption)@Html.Raw(subAktivitasLogbookPenerimaanEdit.Density.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanEdit.Density.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaan_Density">
<input type="@(subAktivitasLogbookPenerimaanEdit.Density.InputTextType)" name="x_Density" id="x_Density" data-table="SubAktivitasLogbookPenerimaan" data-field="x_Density" value="@Html.Raw(subAktivitasLogbookPenerimaanEdit.Density.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanEdit.Density.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanEdit.Density.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanEdit.Density.EditAttributes) aria-describedby="x_Density_help">
@Html.Raw(subAktivitasLogbookPenerimaanEdit.Density.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanEdit.Density.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanEdit.Density.Visible (end) *@
@if (subAktivitasLogbookPenerimaanEdit.Temperatur.Visible) { // subAktivitasLogbookPenerimaanEdit.Temperatur.Visible (begin)
    <div id="r_Temperatur" @Html.Raw(subAktivitasLogbookPenerimaanEdit.Temperatur.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaan_Temperatur" for="x_Temperatur" class="@(subAktivitasLogbookPenerimaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanEdit.Temperatur.Caption)@Html.Raw(subAktivitasLogbookPenerimaanEdit.Temperatur.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanEdit.Temperatur.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaan_Temperatur">
<input type="@(subAktivitasLogbookPenerimaanEdit.Temperatur.InputTextType)" name="x_Temperatur" id="x_Temperatur" data-table="SubAktivitasLogbookPenerimaan" data-field="x_Temperatur" value="@Html.Raw(subAktivitasLogbookPenerimaanEdit.Temperatur.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanEdit.Temperatur.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanEdit.Temperatur.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanEdit.Temperatur.EditAttributes) aria-describedby="x_Temperatur_help">
@Html.Raw(subAktivitasLogbookPenerimaanEdit.Temperatur.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanEdit.Temperatur.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanEdit.Temperatur.Visible (end) *@
@if (subAktivitasLogbookPenerimaanEdit.Keterangan.Visible) { // subAktivitasLogbookPenerimaanEdit.Keterangan.Visible (begin)
    <div id="r_Keterangan" @Html.Raw(subAktivitasLogbookPenerimaanEdit.Keterangan.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaan_Keterangan" for="x_Keterangan" class="@(subAktivitasLogbookPenerimaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanEdit.Keterangan.Caption)@Html.Raw(subAktivitasLogbookPenerimaanEdit.Keterangan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanEdit.Keterangan.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaan_Keterangan">
<textarea data-table="SubAktivitasLogbookPenerimaan" data-field="x_Keterangan" name="x_Keterangan" id="x_Keterangan" cols="35" rows="4" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanEdit.Keterangan.PlaceHolder))"@Html.Raw(subAktivitasLogbookPenerimaanEdit.Keterangan.EditAttributes) aria-describedby="x_Keterangan_help">@(subAktivitasLogbookPenerimaanEdit.Keterangan.EditValue)</textarea>
@Html.Raw(subAktivitasLogbookPenerimaanEdit.Keterangan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanEdit.Keterangan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanEdit.Keterangan.Visible (end) *@
@if (subAktivitasLogbookPenerimaanEdit.userInput.Visible) { // subAktivitasLogbookPenerimaanEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasLogbookPenerimaanEdit.userInput.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaan_userInput" for="x_userInput" class="@(subAktivitasLogbookPenerimaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanEdit.userInput.Caption)@Html.Raw(subAktivitasLogbookPenerimaanEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanEdit.userInput.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaan_userInput">
<input type="@(subAktivitasLogbookPenerimaanEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasLogbookPenerimaan" data-field="x_userInput" value="@Html.Raw(subAktivitasLogbookPenerimaanEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanEdit.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanEdit.userInput.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasLogbookPenerimaanEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanEdit.userInput.Visible (end) *@
@if (subAktivitasLogbookPenerimaanEdit.etlDate.Visible) { // subAktivitasLogbookPenerimaanEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasLogbookPenerimaanEdit.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaan_etlDate" for="x_etlDate" class="@(subAktivitasLogbookPenerimaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanEdit.etlDate.Caption)@Html.Raw(subAktivitasLogbookPenerimaanEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanEdit.etlDate.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaan_etlDate">
<input type="@(subAktivitasLogbookPenerimaanEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasLogbookPenerimaan" data-field="x_etlDate" value="@Html.Raw(subAktivitasLogbookPenerimaanEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanEdit.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanEdit.etlDate.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasLogbookPenerimaanEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanEdit.etlDate.GetErrorMessage())</div>
@if (!subAktivitasLogbookPenerimaanEdit.etlDate.ReadOnly && !subAktivitasLogbookPenerimaanEdit.etlDate.Disabled && !subAktivitasLogbookPenerimaanEdit.etlDate.EditAttrs.Is("readonly") && !subAktivitasLogbookPenerimaanEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasLogbookPenerimaanedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasLogbookPenerimaanedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanEdit.etlDate.Visible (end) *@
@if (subAktivitasLogbookPenerimaanEdit.LastUpdatedBy.Visible) { // subAktivitasLogbookPenerimaanEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasLogbookPenerimaanEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaan_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasLogbookPenerimaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasLogbookPenerimaanEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaan_LastUpdatedBy">
<input type="@(subAktivitasLogbookPenerimaanEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasLogbookPenerimaan" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasLogbookPenerimaanEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasLogbookPenerimaanEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasLogbookPenerimaanEdit.lastUpdatedDate.Visible) { // subAktivitasLogbookPenerimaanEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasLogbookPenerimaanEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaan_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasLogbookPenerimaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasLogbookPenerimaanEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaan_lastUpdatedDate">
<input type="@(subAktivitasLogbookPenerimaanEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasLogbookPenerimaan" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasLogbookPenerimaanEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasLogbookPenerimaanEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasLogbookPenerimaanEdit.lastUpdatedDate.ReadOnly && !subAktivitasLogbookPenerimaanEdit.lastUpdatedDate.Disabled && !subAktivitasLogbookPenerimaanEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasLogbookPenerimaanEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasLogbookPenerimaanedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasLogbookPenerimaanedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasLogbookPenerimaanEdit.SubAktivitasHasilPemeriksaanId.Visible) { // subAktivitasLogbookPenerimaanEdit.SubAktivitasHasilPemeriksaanId.Visible (begin)
    <div id="r_SubAktivitasHasilPemeriksaanId" @Html.Raw(subAktivitasLogbookPenerimaanEdit.SubAktivitasHasilPemeriksaanId.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaan_SubAktivitasHasilPemeriksaanId" for="x_SubAktivitasHasilPemeriksaanId" class="@(subAktivitasLogbookPenerimaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanEdit.SubAktivitasHasilPemeriksaanId.Caption)@Html.Raw(subAktivitasLogbookPenerimaanEdit.SubAktivitasHasilPemeriksaanId.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanEdit.SubAktivitasHasilPemeriksaanId.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaan_SubAktivitasHasilPemeriksaanId">
<input type="@(subAktivitasLogbookPenerimaanEdit.SubAktivitasHasilPemeriksaanId.InputTextType)" name="x_SubAktivitasHasilPemeriksaanId" id="x_SubAktivitasHasilPemeriksaanId" data-table="SubAktivitasLogbookPenerimaan" data-field="x_SubAktivitasHasilPemeriksaanId" value="@Html.Raw(subAktivitasLogbookPenerimaanEdit.SubAktivitasHasilPemeriksaanId.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanEdit.SubAktivitasHasilPemeriksaanId.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanEdit.SubAktivitasHasilPemeriksaanId.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanEdit.SubAktivitasHasilPemeriksaanId.EditAttributes) aria-describedby="x_SubAktivitasHasilPemeriksaanId_help">
@Html.Raw(subAktivitasLogbookPenerimaanEdit.SubAktivitasHasilPemeriksaanId.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanEdit.SubAktivitasHasilPemeriksaanId.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanEdit.SubAktivitasHasilPemeriksaanId.Visible (end) *@
@if (subAktivitasLogbookPenerimaanEdit.Level.Visible) { // subAktivitasLogbookPenerimaanEdit.Level.Visible (begin)
    <div id="r_Level" @Html.Raw(subAktivitasLogbookPenerimaanEdit.Level.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaan_Level" for="x_Level" class="@(subAktivitasLogbookPenerimaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanEdit.Level.Caption)@Html.Raw(subAktivitasLogbookPenerimaanEdit.Level.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanEdit.Level.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaan_Level">
<input type="@(subAktivitasLogbookPenerimaanEdit.Level.InputTextType)" name="x_Level" id="x_Level" data-table="SubAktivitasLogbookPenerimaan" data-field="x_Level" value="@Html.Raw(subAktivitasLogbookPenerimaanEdit.Level.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanEdit.Level.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanEdit.Level.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanEdit.Level.EditAttributes) aria-describedby="x_Level_help">
@Html.Raw(subAktivitasLogbookPenerimaanEdit.Level.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanEdit.Level.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanEdit.Level.Visible (end) *@
@if (subAktivitasLogbookPenerimaanEdit.Volume.Visible) { // subAktivitasLogbookPenerimaanEdit.Volume.Visible (begin)
    <div id="r_Volume" @Html.Raw(subAktivitasLogbookPenerimaanEdit.Volume.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaan_Volume" for="x_Volume" class="@(subAktivitasLogbookPenerimaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanEdit.Volume.Caption)@Html.Raw(subAktivitasLogbookPenerimaanEdit.Volume.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanEdit.Volume.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaan_Volume">
<input type="@(subAktivitasLogbookPenerimaanEdit.Volume.InputTextType)" name="x_Volume" id="x_Volume" data-table="SubAktivitasLogbookPenerimaan" data-field="x_Volume" value="@Html.Raw(subAktivitasLogbookPenerimaanEdit.Volume.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanEdit.Volume.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanEdit.Volume.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanEdit.Volume.EditAttributes) aria-describedby="x_Volume_help">
@Html.Raw(subAktivitasLogbookPenerimaanEdit.Volume.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanEdit.Volume.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanEdit.Volume.Visible (end) *@
@if (subAktivitasLogbookPenerimaanEdit.Flowrate.Visible) { // subAktivitasLogbookPenerimaanEdit.Flowrate.Visible (begin)
    <div id="r_Flowrate" @Html.Raw(subAktivitasLogbookPenerimaanEdit.Flowrate.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaan_Flowrate" for="x_Flowrate" class="@(subAktivitasLogbookPenerimaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanEdit.Flowrate.Caption)@Html.Raw(subAktivitasLogbookPenerimaanEdit.Flowrate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanEdit.Flowrate.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaan_Flowrate">
<input type="@(subAktivitasLogbookPenerimaanEdit.Flowrate.InputTextType)" name="x_Flowrate" id="x_Flowrate" data-table="SubAktivitasLogbookPenerimaan" data-field="x_Flowrate" value="@Html.Raw(subAktivitasLogbookPenerimaanEdit.Flowrate.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanEdit.Flowrate.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanEdit.Flowrate.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanEdit.Flowrate.EditAttributes) aria-describedby="x_Flowrate_help">
@Html.Raw(subAktivitasLogbookPenerimaanEdit.Flowrate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanEdit.Flowrate.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanEdit.Flowrate.Visible (end) *@
@if (subAktivitasLogbookPenerimaanEdit.TanggalJamSOP.Visible) { // subAktivitasLogbookPenerimaanEdit.TanggalJamSOP.Visible (begin)
    <div id="r_TanggalJamSOP" @Html.Raw(subAktivitasLogbookPenerimaanEdit.TanggalJamSOP.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaan_TanggalJamSOP" for="x_TanggalJamSOP" class="@(subAktivitasLogbookPenerimaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanEdit.TanggalJamSOP.Caption)@Html.Raw(subAktivitasLogbookPenerimaanEdit.TanggalJamSOP.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanEdit.TanggalJamSOP.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaan_TanggalJamSOP">
<input type="@(subAktivitasLogbookPenerimaanEdit.TanggalJamSOP.InputTextType)" name="x_TanggalJamSOP" id="x_TanggalJamSOP" data-table="SubAktivitasLogbookPenerimaan" data-field="x_TanggalJamSOP" value="@Html.Raw(subAktivitasLogbookPenerimaanEdit.TanggalJamSOP.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanEdit.TanggalJamSOP.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanEdit.TanggalJamSOP.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanEdit.TanggalJamSOP.EditAttributes) aria-describedby="x_TanggalJamSOP_help">
@Html.Raw(subAktivitasLogbookPenerimaanEdit.TanggalJamSOP.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanEdit.TanggalJamSOP.GetErrorMessage())</div>
@if (!subAktivitasLogbookPenerimaanEdit.TanggalJamSOP.ReadOnly && !subAktivitasLogbookPenerimaanEdit.TanggalJamSOP.Disabled && !subAktivitasLogbookPenerimaanEdit.TanggalJamSOP.EditAttrs.Is("readonly") && !subAktivitasLogbookPenerimaanEdit.TanggalJamSOP.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasLogbookPenerimaanedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasLogbookPenerimaanedit", "x_TanggalJamSOP", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanEdit.TanggalJamSOP.Visible (end) *@
@if (subAktivitasLogbookPenerimaanEdit.SelisihWaktu.Visible) { // subAktivitasLogbookPenerimaanEdit.SelisihWaktu.Visible (begin)
    <div id="r_SelisihWaktu" @Html.Raw(subAktivitasLogbookPenerimaanEdit.SelisihWaktu.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaan_SelisihWaktu" for="x_SelisihWaktu" class="@(subAktivitasLogbookPenerimaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanEdit.SelisihWaktu.Caption)@Html.Raw(subAktivitasLogbookPenerimaanEdit.SelisihWaktu.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanEdit.SelisihWaktu.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaan_SelisihWaktu">
<input type="@(subAktivitasLogbookPenerimaanEdit.SelisihWaktu.InputTextType)" name="x_SelisihWaktu" id="x_SelisihWaktu" data-table="SubAktivitasLogbookPenerimaan" data-field="x_SelisihWaktu" value="@Html.Raw(subAktivitasLogbookPenerimaanEdit.SelisihWaktu.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanEdit.SelisihWaktu.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanEdit.SelisihWaktu.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanEdit.SelisihWaktu.EditAttributes) aria-describedby="x_SelisihWaktu_help">
@Html.Raw(subAktivitasLogbookPenerimaanEdit.SelisihWaktu.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanEdit.SelisihWaktu.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanEdit.SelisihWaktu.Visible (end) *@
@if (subAktivitasLogbookPenerimaanEdit.IsQualityActive.Visible) { // subAktivitasLogbookPenerimaanEdit.IsQualityActive.Visible (begin)
    <div id="r_IsQualityActive" @Html.Raw(subAktivitasLogbookPenerimaanEdit.IsQualityActive.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaan_IsQualityActive" class="@(subAktivitasLogbookPenerimaanEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanEdit.IsQualityActive.Caption)@Html.Raw(subAktivitasLogbookPenerimaanEdit.IsQualityActive.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanEdit.IsQualityActive.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaan_IsQualityActive">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(subAktivitasLogbookPenerimaanEdit.IsQualityActive.IsInvalidClass)" data-table="SubAktivitasLogbookPenerimaan" data-field="x_IsQualityActive" data-boolean name="x_IsQualityActive" id="x_IsQualityActive" value="1" checked="@ConvertToBool(subAktivitasLogbookPenerimaanEdit.IsQualityActive.CurrentValue)" @Html.Raw(subAktivitasLogbookPenerimaanEdit.IsQualityActive.EditAttributes) aria-describedby="x_IsQualityActive_help">
    <div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanEdit.IsQualityActive.GetErrorMessage())</div>
</div>
@Html.Raw(subAktivitasLogbookPenerimaanEdit.IsQualityActive.GetCustomMessage)
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanEdit.IsQualityActive.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasLogbookPenerimaanEdit.CloseRecordset(); }
@Html.Raw(subAktivitasLogbookPenerimaanEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasLogbookPenerimaanEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasLogbookPenerimaanedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasLogbookPenerimaanedit" data-href="@AppPath(subAktivitasLogbookPenerimaanEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasLogbookPenerimaanEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasLogbookPenerimaanEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasLogbookPenerimaan");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
