@{
    // View
    View = this;

    // Check action result
    if (subAktivitasTotalPenyaluranLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasTotalPenyaluranLpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasTotalPenyaluranLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasTotalPenyaluranLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasTotalPenyaluranLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasTotalPenyaluranLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasTotalPenyaluranLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasTotalPenyaluranLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasTotalPenyaluranLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasTotalPenyaluranLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasTotalPenyaluranLpgList.TotalRecords > 0 && subAktivitasTotalPenyaluranLpgList.ExportOptions.Visible) {
    subAktivitasTotalPenyaluranLpgList.ExportOptions.Render("body");
}
@if (subAktivitasTotalPenyaluranLpgList.ImportOptions.Visible) {
    subAktivitasTotalPenyaluranLpgList.ImportOptions.Render("body");
}
@if (subAktivitasTotalPenyaluranLpgList.SearchOptions.Visible) {
    subAktivitasTotalPenyaluranLpgList.SearchOptions.Render("body");
}
@if (subAktivitasTotalPenyaluranLpgList.FilterOptions.Visible) {
    subAktivitasTotalPenyaluranLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasTotalPenyaluranLpgList.IsModal) {
<form name="fSubAktivitasTotalPenyaluranLPGsrch" id="fSubAktivitasTotalPenyaluranLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasTotalPenyaluranLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasTotalPenyaluranLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasTotalPenyaluranLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasTotalPenyaluranLPG: currentTable } });
var currentForm;
var fSubAktivitasTotalPenyaluranLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasTotalPenyaluranLPGsrch")
        .setPageId("list")
@if (subAktivitasTotalPenyaluranLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasTotalPenyaluranLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasTotalPenyaluranLpgList.IsExport() && Empty(subAktivitasTotalPenyaluranLpgList.CurrentAction) && subAktivitasTotalPenyaluranLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasTotalPenyaluranLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasTotalPenyaluranLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasTotalPenyaluranLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasTotalPenyaluranLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasTotalPenyaluranLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasTotalPenyaluranLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasTotalPenyaluranLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasTotalPenyaluranLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasTotalPenyaluranLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasTotalPenyaluranLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasTotalPenyaluranLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasTotalPenyaluranLpgList.ShowPageHeader()
@subAktivitasTotalPenyaluranLpgList.ShowMessages()
<main class="list @(subAktivitasTotalPenyaluranLpgList.TotalRecords == 0 && !subAktivitasTotalPenyaluranLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasTotalPenyaluranLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasTotalPenyaluranLpgList.TotalRecords > 0 || !Empty(subAktivitasTotalPenyaluranLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasTotalPenyaluranLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasTotalPenyaluranLpgList.TableGridClass)">
<form name="@(subAktivitasTotalPenyaluranLpgList.FormName)" id="@(subAktivitasTotalPenyaluranLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasTotalPenyaluranLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasTotalPenyaluranLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasTotalPenyaluranLPG" class="card-body ew-grid-middle-panel @(subAktivitasTotalPenyaluranLpgList.TableContainerClass)" style="@(subAktivitasTotalPenyaluranLpgList.TableContainerStyle)">
@if (subAktivitasTotalPenyaluranLpgList.TotalRecords > 0 || subAktivitasTotalPenyaluranLpgList.IsGridEdit || subAktivitasTotalPenyaluranLpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasTotalPenyaluranLPGlist" class="@(subAktivitasTotalPenyaluranLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasTotalPenyaluranLpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasTotalPenyaluranLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasTotalPenyaluranLpgList.ListOptions.RenderHeader("left")
@if (subAktivitasTotalPenyaluranLpgList.id.Visible) { // subAktivitasTotalPenyaluranLpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasTotalPenyaluranLpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasTotalPenyaluranLPG_id" class="SubAktivitasTotalPenyaluranLPG_id">@Html.Raw(subAktivitasTotalPenyaluranLpgList.RenderFieldHeader(subAktivitasTotalPenyaluranLpgList.id))</div></th>
} @* subAktivitasTotalPenyaluranLpgList.id.Visible (end) *@
@if (subAktivitasTotalPenyaluranLpgList.idProses.Visible) { // subAktivitasTotalPenyaluranLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasTotalPenyaluranLpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasTotalPenyaluranLPG_idProses" class="SubAktivitasTotalPenyaluranLPG_idProses">@Html.Raw(subAktivitasTotalPenyaluranLpgList.RenderFieldHeader(subAktivitasTotalPenyaluranLpgList.idProses))</div></th>
} @* subAktivitasTotalPenyaluranLpgList.idProses.Visible (end) *@
@if (subAktivitasTotalPenyaluranLpgList.idAktifitas.Visible) { // subAktivitasTotalPenyaluranLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasTotalPenyaluranLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasTotalPenyaluranLPG_idAktifitas" class="SubAktivitasTotalPenyaluranLPG_idAktifitas">@Html.Raw(subAktivitasTotalPenyaluranLpgList.RenderFieldHeader(subAktivitasTotalPenyaluranLpgList.idAktifitas))</div></th>
} @* subAktivitasTotalPenyaluranLpgList.idAktifitas.Visible (end) *@
@if (subAktivitasTotalPenyaluranLpgList.NoReferensi.Visible) { // subAktivitasTotalPenyaluranLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasTotalPenyaluranLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasTotalPenyaluranLPG_NoReferensi" class="SubAktivitasTotalPenyaluranLPG_NoReferensi">@Html.Raw(subAktivitasTotalPenyaluranLpgList.RenderFieldHeader(subAktivitasTotalPenyaluranLpgList.NoReferensi))</div></th>
} @* subAktivitasTotalPenyaluranLpgList.NoReferensi.Visible (end) *@
@if (subAktivitasTotalPenyaluranLpgList.TotalPenyaluran.Visible) { // subAktivitasTotalPenyaluranLpgList.TotalPenyaluran.Visible (begin)
        <th data-name="TotalPenyaluran" class="@(subAktivitasTotalPenyaluranLpgList.TotalPenyaluran.HeaderCellClass)"><div id="elh_SubAktivitasTotalPenyaluranLPG_TotalPenyaluran" class="SubAktivitasTotalPenyaluranLPG_TotalPenyaluran">@Html.Raw(subAktivitasTotalPenyaluranLpgList.RenderFieldHeader(subAktivitasTotalPenyaluranLpgList.TotalPenyaluran))</div></th>
} @* subAktivitasTotalPenyaluranLpgList.TotalPenyaluran.Visible (end) *@
@if (subAktivitasTotalPenyaluranLpgList.StokAkhir.Visible) { // subAktivitasTotalPenyaluranLpgList.StokAkhir.Visible (begin)
        <th data-name="StokAkhir" class="@(subAktivitasTotalPenyaluranLpgList.StokAkhir.HeaderCellClass)"><div id="elh_SubAktivitasTotalPenyaluranLPG_StokAkhir" class="SubAktivitasTotalPenyaluranLPG_StokAkhir">@Html.Raw(subAktivitasTotalPenyaluranLpgList.RenderFieldHeader(subAktivitasTotalPenyaluranLpgList.StokAkhir))</div></th>
} @* subAktivitasTotalPenyaluranLpgList.StokAkhir.Visible (end) *@
@if (subAktivitasTotalPenyaluranLpgList.userInput.Visible) { // subAktivitasTotalPenyaluranLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasTotalPenyaluranLpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasTotalPenyaluranLPG_userInput" class="SubAktivitasTotalPenyaluranLPG_userInput">@Html.Raw(subAktivitasTotalPenyaluranLpgList.RenderFieldHeader(subAktivitasTotalPenyaluranLpgList.userInput))</div></th>
} @* subAktivitasTotalPenyaluranLpgList.userInput.Visible (end) *@
@if (subAktivitasTotalPenyaluranLpgList.etlDate.Visible) { // subAktivitasTotalPenyaluranLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasTotalPenyaluranLpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasTotalPenyaluranLPG_etlDate" class="SubAktivitasTotalPenyaluranLPG_etlDate">@Html.Raw(subAktivitasTotalPenyaluranLpgList.RenderFieldHeader(subAktivitasTotalPenyaluranLpgList.etlDate))</div></th>
} @* subAktivitasTotalPenyaluranLpgList.etlDate.Visible (end) *@
@if (subAktivitasTotalPenyaluranLpgList.LastUpdatedBy.Visible) { // subAktivitasTotalPenyaluranLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasTotalPenyaluranLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasTotalPenyaluranLPG_LastUpdatedBy" class="SubAktivitasTotalPenyaluranLPG_LastUpdatedBy">@Html.Raw(subAktivitasTotalPenyaluranLpgList.RenderFieldHeader(subAktivitasTotalPenyaluranLpgList.LastUpdatedBy))</div></th>
} @* subAktivitasTotalPenyaluranLpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasTotalPenyaluranLpgList.lastUpdatedDate.Visible) { // subAktivitasTotalPenyaluranLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasTotalPenyaluranLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasTotalPenyaluranLPG_lastUpdatedDate" class="SubAktivitasTotalPenyaluranLPG_lastUpdatedDate">@Html.Raw(subAktivitasTotalPenyaluranLpgList.RenderFieldHeader(subAktivitasTotalPenyaluranLpgList.lastUpdatedDate))</div></th>
} @* subAktivitasTotalPenyaluranLpgList.lastUpdatedDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasTotalPenyaluranLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasTotalPenyaluranLpgList.PageNumber)">
@{
    await subAktivitasTotalPenyaluranLpgList.SetupGrid();
    bool eof = subAktivitasTotalPenyaluranLpgList.Recordset == null; // DN
}
@while (subAktivitasTotalPenyaluranLpgList.RecordCount < subAktivitasTotalPenyaluranLpgList.StopRecord || SameString(subAktivitasTotalPenyaluranLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasTotalPenyaluranLpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasTotalPenyaluranLpgList.IsGridAdd || subAktivitasTotalPenyaluranLpgList.CurrentMode == "copy") &&
        (!((subAktivitasTotalPenyaluranLpgList.IsCopy || subAktivitasTotalPenyaluranLpgList.IsAdd) && subAktivitasTotalPenyaluranLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasTotalPenyaluranLpgList.Recordset.ReadAsync();
    subAktivitasTotalPenyaluranLpgList.RecordCount++;
    if (subAktivitasTotalPenyaluranLpgList.RecordCount >= subAktivitasTotalPenyaluranLpgList.StartRecord) {
        await subAktivitasTotalPenyaluranLpgList.SetupRow();
    <tr @Html.Raw(subAktivitasTotalPenyaluranLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasTotalPenyaluranLpgList.ListOptions.RenderBody("left", subAktivitasTotalPenyaluranLpgList.RowCount)
    @if (subAktivitasTotalPenyaluranLpgList.id.Visible) { // subAktivitasTotalPenyaluranLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasTotalPenyaluranLpgList.id.CellAttributes)>
<span id="el@(subAktivitasTotalPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasTotalPenyaluranLpgList.RowCount)_SubAktivitasTotalPenyaluranLPG_id" class="el_SubAktivitasTotalPenyaluranLPG_id">
<span @Html.Raw(subAktivitasTotalPenyaluranLpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasTotalPenyaluranLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasTotalPenyaluranLpgList.id.Visible (end) *@
    @if (subAktivitasTotalPenyaluranLpgList.idProses.Visible) { // subAktivitasTotalPenyaluranLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasTotalPenyaluranLpgList.idProses.CellAttributes)>
<span id="el@(subAktivitasTotalPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasTotalPenyaluranLpgList.RowCount)_SubAktivitasTotalPenyaluranLPG_idProses" class="el_SubAktivitasTotalPenyaluranLPG_idProses">
<span @Html.Raw(subAktivitasTotalPenyaluranLpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasTotalPenyaluranLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasTotalPenyaluranLpgList.idProses.Visible (end) *@
    @if (subAktivitasTotalPenyaluranLpgList.idAktifitas.Visible) { // subAktivitasTotalPenyaluranLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasTotalPenyaluranLpgList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasTotalPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasTotalPenyaluranLpgList.RowCount)_SubAktivitasTotalPenyaluranLPG_idAktifitas" class="el_SubAktivitasTotalPenyaluranLPG_idAktifitas">
<span @Html.Raw(subAktivitasTotalPenyaluranLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasTotalPenyaluranLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasTotalPenyaluranLpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasTotalPenyaluranLpgList.NoReferensi.Visible) { // subAktivitasTotalPenyaluranLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasTotalPenyaluranLpgList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasTotalPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasTotalPenyaluranLpgList.RowCount)_SubAktivitasTotalPenyaluranLPG_NoReferensi" class="el_SubAktivitasTotalPenyaluranLPG_NoReferensi">
<span @Html.Raw(subAktivitasTotalPenyaluranLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasTotalPenyaluranLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasTotalPenyaluranLpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasTotalPenyaluranLpgList.TotalPenyaluran.Visible) { // subAktivitasTotalPenyaluranLpgList.TotalPenyaluran.Visible (begin)
        <td data-name="TotalPenyaluran" @Html.Raw(subAktivitasTotalPenyaluranLpgList.TotalPenyaluran.CellAttributes)>
<span id="el@(subAktivitasTotalPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasTotalPenyaluranLpgList.RowCount)_SubAktivitasTotalPenyaluranLPG_TotalPenyaluran" class="el_SubAktivitasTotalPenyaluranLPG_TotalPenyaluran">
<span @Html.Raw(subAktivitasTotalPenyaluranLpgList.TotalPenyaluran.ViewAttributes)>
@Html.Raw(subAktivitasTotalPenyaluranLpgList.TotalPenyaluran.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasTotalPenyaluranLpgList.TotalPenyaluran.Visible (end) *@
    @if (subAktivitasTotalPenyaluranLpgList.StokAkhir.Visible) { // subAktivitasTotalPenyaluranLpgList.StokAkhir.Visible (begin)
        <td data-name="StokAkhir" @Html.Raw(subAktivitasTotalPenyaluranLpgList.StokAkhir.CellAttributes)>
<span id="el@(subAktivitasTotalPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasTotalPenyaluranLpgList.RowCount)_SubAktivitasTotalPenyaluranLPG_StokAkhir" class="el_SubAktivitasTotalPenyaluranLPG_StokAkhir">
<span @Html.Raw(subAktivitasTotalPenyaluranLpgList.StokAkhir.ViewAttributes)>
@Html.Raw(subAktivitasTotalPenyaluranLpgList.StokAkhir.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasTotalPenyaluranLpgList.StokAkhir.Visible (end) *@
    @if (subAktivitasTotalPenyaluranLpgList.userInput.Visible) { // subAktivitasTotalPenyaluranLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasTotalPenyaluranLpgList.userInput.CellAttributes)>
<span id="el@(subAktivitasTotalPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasTotalPenyaluranLpgList.RowCount)_SubAktivitasTotalPenyaluranLPG_userInput" class="el_SubAktivitasTotalPenyaluranLPG_userInput">
<span @Html.Raw(subAktivitasTotalPenyaluranLpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasTotalPenyaluranLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasTotalPenyaluranLpgList.userInput.Visible (end) *@
    @if (subAktivitasTotalPenyaluranLpgList.etlDate.Visible) { // subAktivitasTotalPenyaluranLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasTotalPenyaluranLpgList.etlDate.CellAttributes)>
<span id="el@(subAktivitasTotalPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasTotalPenyaluranLpgList.RowCount)_SubAktivitasTotalPenyaluranLPG_etlDate" class="el_SubAktivitasTotalPenyaluranLPG_etlDate">
<span @Html.Raw(subAktivitasTotalPenyaluranLpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasTotalPenyaluranLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasTotalPenyaluranLpgList.etlDate.Visible (end) *@
    @if (subAktivitasTotalPenyaluranLpgList.LastUpdatedBy.Visible) { // subAktivitasTotalPenyaluranLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasTotalPenyaluranLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasTotalPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasTotalPenyaluranLpgList.RowCount)_SubAktivitasTotalPenyaluranLPG_LastUpdatedBy" class="el_SubAktivitasTotalPenyaluranLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasTotalPenyaluranLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasTotalPenyaluranLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasTotalPenyaluranLpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasTotalPenyaluranLpgList.lastUpdatedDate.Visible) { // subAktivitasTotalPenyaluranLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasTotalPenyaluranLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasTotalPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasTotalPenyaluranLpgList.RowCount)_SubAktivitasTotalPenyaluranLPG_lastUpdatedDate" class="el_SubAktivitasTotalPenyaluranLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasTotalPenyaluranLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasTotalPenyaluranLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasTotalPenyaluranLpgList.lastUpdatedDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasTotalPenyaluranLpgList.ListOptions.RenderBody("right", subAktivitasTotalPenyaluranLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasTotalPenyaluranLpgList.RowIndex, "$rowindex$"))
        subAktivitasTotalPenyaluranLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasTotalPenyaluranLpgList.IsCopy || subAktivitasTotalPenyaluranLpgList.IsAdd) && subAktivitasTotalPenyaluranLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasTotalPenyaluranLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasTotalPenyaluranLpgList.CurrentAction) && !subAktivitasTotalPenyaluranLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasTotalPenyaluranLpgList.CloseRecordset(); }
@if (!subAktivitasTotalPenyaluranLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasTotalPenyaluranLpgList.IsGridAdd && !(subAktivitasTotalPenyaluranLpgList.IsGridEdit && subAktivitasTotalPenyaluranLpgList.ModalGridEdit) && !subAktivitasTotalPenyaluranLpgList.IsMultiEdit) {
@Html.Raw(subAktivitasTotalPenyaluranLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasTotalPenyaluranLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasTotalPenyaluranLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasTotalPenyaluranLpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasTotalPenyaluranLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasTotalPenyaluranLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasTotalPenyaluranLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
