@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.TotalRecords > 0 && subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.ExportOptions.Visible) {
    subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.ExportOptions.Render("body");
}
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.ImportOptions.Visible) {
    subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.ImportOptions.Render("body");
}
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SearchOptions.Visible) {
    subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SearchOptions.Render("body");
}
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.FilterOptions.Visible) {
    subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.IsModal) {
<form name="fSubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBMsrch" id="fSubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBMsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBMsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM: currentTable } });
var currentForm;
var fSubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBMsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBMsrch")
        .setPageId("list")
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.IsExport() && Empty(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.CurrentAction) && subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBMsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBMsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBMsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBMsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.ShowPageHeader()
@subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.ShowMessages()
<main class="list @(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.TotalRecords == 0 && !subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.TotalRecords > 0 || !Empty(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.TableGridClass)">
<form name="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.FormName)" id="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM" class="card-body ew-grid-middle-panel @(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.TableContainerClass)" style="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.TableContainerStyle)">
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.TotalRecords > 0 || subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.IsGridEdit || subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.IsMultiEdit) {
<table id="tbl_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBMlist" class="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowType = RowType.Header;

    // Render list options
    await subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.ListOptions.RenderHeader("left")
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.id.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.id.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_id" class="SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_id">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.id))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.id.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.idProses.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_idProses" class="SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_idProses">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.idProses))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.idProses.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.idAktifitas.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_idAktifitas" class="SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_idAktifitas">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.idAktifitas))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.NoReferensi.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_NoReferensi" class="SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_NoReferensi">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.NoReferensi))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.StatusAktivitas.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_StatusAktivitas" class="SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_StatusAktivitas">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.StatusAktivitas))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.LastUpdatedBy.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_LastUpdatedBy" class="SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_LastUpdatedBy">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.LastUpdatedBy))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.lastUpdatedDate.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_lastUpdatedDate" class="SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_lastUpdatedDate">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.lastUpdatedDate))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.KL_Obs.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.KL_Obs.Visible (begin)
        <th data-name="KL_Obs" class="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.KL_Obs.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_KL_Obs" class="SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_KL_Obs">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.KL_Obs))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.KL_Obs.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.KL_15.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.KL_15.Visible (begin)
        <th data-name="KL_15" class="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.KL_15.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_KL_15" class="SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_KL_15">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.KL_15))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.KL_15.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.Barrels.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.Barrels.Visible (begin)
        <th data-name="Barrels" class="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.Barrels.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_Barrels" class="SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_Barrels">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.Barrels))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.LT.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.LT.Visible (begin)
        <th data-name="LT" class="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.LT.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_LT" class="SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_LT">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.LT))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.LT.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.MT.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.MT.Visible (begin)
        <th data-name="MT" class="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.MT.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_MT" class="SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_MT">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.MT))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.MT.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.etlDate.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_etlDate" class="SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_etlDate">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.etlDate))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.etlDate.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.userInput.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_userInput" class="SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_userInput">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.userInput))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.userInput.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_KL_Obs.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_KL_Obs.Visible (begin)
        <th data-name="SFAL_KL_Obs" class="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_KL_Obs.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_SFAL_KL_Obs" class="SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_SFAL_KL_Obs">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_KL_Obs))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_KL_Obs.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_KL_15.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_KL_15.Visible (begin)
        <th data-name="SFAL_KL_15" class="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_KL_15.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_SFAL_KL_15" class="SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_SFAL_KL_15">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_KL_15))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_KL_15.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_Barrels.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_Barrels.Visible (begin)
        <th data-name="SFAL_Barrels" class="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_Barrels.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_SFAL_Barrels" class="SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_SFAL_Barrels">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_Barrels))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_LT.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_LT.Visible (begin)
        <th data-name="SFAL_LT" class="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_LT.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_SFAL_LT" class="SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_SFAL_LT">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_LT))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_LT.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_MT.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_MT.Visible (begin)
        <th data-name="SFAL_MT" class="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_MT.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_SFAL_MT" class="SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_SFAL_MT">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_MT))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_MT.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.PageNumber)">
@{
    await subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SetupGrid();
    bool eof = subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.Recordset == null; // DN
}
@while (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RecordCount < subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.StopRecord || SameString(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowIndex, "$rowindex$") &&
        (!subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.IsGridAdd || subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.CurrentMode == "copy") &&
        (!((subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.IsCopy || subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.IsAdd) && subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.Recordset.ReadAsync();
    subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RecordCount++;
    if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RecordCount >= subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.StartRecord) {
        await subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SetupRow();
    <tr @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.ListOptions.RenderBody("left", subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowCount)
    @if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.id.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_id" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_id">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.id.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.idProses.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_idProses" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_idProses">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.idProses.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.idAktifitas.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_idAktifitas" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_idAktifitas">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.idAktifitas.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.NoReferensi.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_NoReferensi" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_NoReferensi">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.NoReferensi.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.StatusAktivitas.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_StatusAktivitas" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.LastUpdatedBy.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_LastUpdatedBy" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.lastUpdatedDate.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_lastUpdatedDate" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.KL_Obs.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.KL_Obs.Visible (begin)
        <td data-name="KL_Obs" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.KL_Obs.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_KL_Obs" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_KL_Obs">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.KL_Obs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.KL_Obs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.KL_Obs.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.KL_15.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.KL_15.Visible (begin)
        <td data-name="KL_15" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.KL_15.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_KL_15" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_KL_15">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.KL_15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.KL_15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.KL_15.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.Barrels.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.Barrels.Visible (begin)
        <td data-name="Barrels" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.Barrels.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_Barrels" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_Barrels">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.Barrels.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.Barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.Barrels.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.LT.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.LT.Visible (begin)
        <td data-name="LT" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.LT.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_LT" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_LT">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.LT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.LT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.LT.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.MT.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.MT.Visible (begin)
        <td data-name="MT" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.MT.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_MT" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_MT">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.MT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.MT.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.etlDate.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_etlDate" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_etlDate">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.etlDate.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.userInput.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_userInput" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_userInput">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.userInput.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_KL_Obs.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_KL_Obs.Visible (begin)
        <td data-name="SFAL_KL_Obs" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_KL_Obs.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_SFAL_KL_Obs" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_SFAL_KL_Obs">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_KL_Obs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_KL_Obs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_KL_Obs.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_KL_15.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_KL_15.Visible (begin)
        <td data-name="SFAL_KL_15" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_KL_15.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_SFAL_KL_15" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_SFAL_KL_15">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_KL_15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_KL_15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_KL_15.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_Barrels.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_Barrels.Visible (begin)
        <td data-name="SFAL_Barrels" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_Barrels.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_SFAL_Barrels" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_SFAL_Barrels">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_Barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_Barrels.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_LT.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_LT.Visible (begin)
        <td data-name="SFAL_LT" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_LT.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_SFAL_LT" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_SFAL_LT">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_LT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_LT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_LT.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_MT.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_MT.Visible (begin)
        <td data-name="SFAL_MT" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_MT.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_SFAL_MT" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM_SFAL_MT">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_MT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.SFAL_MT.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.ListOptions.RenderBody("right", subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowIndex, "$rowindex$"))
        subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.IsCopy || subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.IsAdd) && subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.CurrentAction) && !subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.CloseRecordset(); }
@if (!subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.IsGridAdd && !(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.IsGridEdit && subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.ModalGridEdit) && !subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.IsMultiEdit) {
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputNilaiBLsesuaiCqlstsPymBbmList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymBBM");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
