@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputNilaiARsesuaiCQDTruck: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fSubAktivitasFormInputNilaiARsesuaiCQDTruckdelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputNilaiARsesuaiCQDTruckdelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.ShowPageHeader()
@subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.ShowMessages()
<form name="fSubAktivitasFormInputNilaiARsesuaiCQDTruckdelete" id="fSubAktivitasFormInputNilaiARsesuaiCQDTruckdelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.TableContainerClass)" style="@(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.TableContainerStyle)">
<table class="@(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.id.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.id.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.id.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_id" class="SubAktivitasFormInputNilaiARsesuaiCQDTruck_id">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.id.Caption)</span></th>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.id.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.idAktifitas.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.idAktifitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.idAktifitas.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_idAktifitas" class="SubAktivitasFormInputNilaiARsesuaiCQDTruck_idAktifitas">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.idAktifitas.Caption)</span></th>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.idProses.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.idProses.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.idProses.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_idProses" class="SubAktivitasFormInputNilaiARsesuaiCQDTruck_idProses">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.idProses.Caption)</span></th>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.idProses.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.NoReferensi.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.NoReferensi.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.NoReferensi.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_NoReferensi" class="SubAktivitasFormInputNilaiARsesuaiCQDTruck_NoReferensi">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.NoReferensi.Caption)</span></th>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.KL_Obs.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.KL_Obs.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.KL_Obs.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_KL_Obs" class="SubAktivitasFormInputNilaiARsesuaiCQDTruck_KL_Obs">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.KL_Obs.Caption)</span></th>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.KL_Obs.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.KL_15.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.KL_15.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.KL_15.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_KL_15" class="SubAktivitasFormInputNilaiARsesuaiCQDTruck_KL_15">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.KL_15.Caption)</span></th>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.KL_15.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.Barrels.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.Barrels.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.Barrels.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_Barrels" class="SubAktivitasFormInputNilaiARsesuaiCQDTruck_Barrels">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.Barrels.Caption)</span></th>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.LT.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.LT.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.LT.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_LT" class="SubAktivitasFormInputNilaiARsesuaiCQDTruck_LT">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.LT.Caption)</span></th>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.LT.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.MT.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.MT.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.MT.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_MT" class="SubAktivitasFormInputNilaiARsesuaiCQDTruck_MT">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.MT.Caption)</span></th>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.MT.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.userInput.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.userInput.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.userInput.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_userInput" class="SubAktivitasFormInputNilaiARsesuaiCQDTruck_userInput">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.userInput.Caption)</span></th>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.userInput.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.etlDate.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.etlDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.etlDate.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_etlDate" class="SubAktivitasFormInputNilaiARsesuaiCQDTruck_etlDate">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.etlDate.Caption)</span></th>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.etlDate.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.LastUpdatedBy.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.LastUpdatedBy.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.LastUpdatedBy.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_LastUpdatedBy" class="SubAktivitasFormInputNilaiARsesuaiCQDTruck_LastUpdatedBy">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.LastUpdatedBy.Caption)</span></th>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.lastUpdatedDate.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.lastUpdatedDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.lastUpdatedDate.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_lastUpdatedDate" class="SubAktivitasFormInputNilaiARsesuaiCQDTruck_lastUpdatedDate">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.lastUpdatedDate.Caption)</span></th>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.StatusAktivitas.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.StatusAktivitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.StatusAktivitas.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_StatusAktivitas" class="SubAktivitasFormInputNilaiARsesuaiCQDTruck_StatusAktivitas">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.StatusAktivitas.Caption)</span></th>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.StatusAktivitas.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.RecordCount = 0; }
@while (subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.Recordset != null && await subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.Recordset.ReadAsync()) { // DN
    subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.RecordCount++;
    subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.RowCount++;

    // Set row properties
    subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.ResetAttributes();
    subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.RowType = RowType.View; // View

    // Get the field contents
    await subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.LoadRowValues(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.Recordset);

    // Render row
    await subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.RenderRow();
    <tr @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.RowAttributes)>
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.id.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.id.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.id.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.id.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.id.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.idAktifitas.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.idAktifitas.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.idAktifitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.idAktifitas.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.idProses.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.idProses.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.idProses.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.idProses.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.idProses.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.NoReferensi.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.NoReferensi.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.NoReferensi.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.NoReferensi.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.KL_Obs.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.KL_Obs.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.KL_Obs.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.KL_Obs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.KL_Obs.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.KL_Obs.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.KL_15.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.KL_15.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.KL_15.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.KL_15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.KL_15.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.KL_15.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.Barrels.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.Barrels.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.Barrels.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.Barrels.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.Barrels.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.LT.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.LT.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.LT.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.LT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.LT.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.LT.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.MT.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.MT.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.MT.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.MT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.MT.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.MT.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.userInput.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.userInput.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.userInput.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.userInput.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.userInput.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.etlDate.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.etlDate.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.etlDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.etlDate.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.etlDate.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.LastUpdatedBy.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.LastUpdatedBy.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.LastUpdatedBy.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.LastUpdatedBy.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.lastUpdatedDate.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.lastUpdatedDate.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.lastUpdatedDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.lastUpdatedDate.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.StatusAktivitas.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.StatusAktivitas.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.StatusAktivitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.StatusAktivitas.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.StatusAktivitas.Visible (end) *@
    </tr>
}
@{ subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@subAktivitasFormInputNilaiARsesuaiCqdTruckDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
