@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputBLsesuaiCqlrtwEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputBLsesuaiCqlrtwEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasFormInputBLsesuaiCqlrtwEdit.ShowPageHeader()
@subAktivitasFormInputBLsesuaiCqlrtwEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasFormInputBLsesuaiCQLRTWedit" id="fSubAktivitasFormInputBLsesuaiCQLRTWedit" class="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputBLsesuaiCqlrtwEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputBLsesuaiCQLRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasFormInputBLsesuaiCQLRTWedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputBLsesuaiCQLRTWedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null], fields.idAktifitas.isInvalid],
            ["KL_Obs", [fields.KL_Obs.visible && fields.KL_Obs.required ? ew.Validators.required(fields.KL_Obs.caption) : null], fields.KL_Obs.isInvalid],
            ["KL_15", [fields.KL_15.visible && fields.KL_15.required ? ew.Validators.required(fields.KL_15.caption) : null], fields.KL_15.isInvalid],
            ["Barrels", [fields.Barrels.visible && fields.Barrels.required ? ew.Validators.required(fields.Barrels.caption) : null], fields.Barrels.isInvalid],
            ["LT", [fields.LT.visible && fields.LT.required ? ew.Validators.required(fields.LT.caption) : null], fields.LT.isInvalid],
            ["ML", [fields.ML.visible && fields.ML.required ? ew.Validators.required(fields.ML.caption) : null], fields.ML.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null], fields.idProses.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null], fields.lastUpdatedDate.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null], fields.StatusAktivitas.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputBLsesuaiCqlrtwEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.OldKeyName)" value="@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.OldKey)">
<div class="ew-edit-div d-none"><!-- page* -->
@if (subAktivitasFormInputBLsesuaiCqlrtwEdit.idAktifitas.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_idAktifitas" for="x_idAktifitas" class="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputBLsesuaiCQLRTW_idAktifitas">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.idAktifitas.Caption)@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.idAktifitas.CellAttributes)>
<template id="tpx_SubAktivitasFormInputBLsesuaiCQLRTW_idAktifitas"><span id="el_SubAktivitasFormInputBLsesuaiCQLRTW_idAktifitas">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.idAktifitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.idAktifitas.DisplayValue(subAktivitasFormInputBLsesuaiCqlrtwEdit.idAktifitas.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasFormInputBLsesuaiCQLRTW" data-field="x_idAktifitas" data-hidden="1" name="x_idAktifitas" id="x_idAktifitas" value="@Html.Raw(HtmlEncode(subAktivitasFormInputBLsesuaiCqlrtwEdit.idAktifitas.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputBLsesuaiCqlrtwEdit.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwEdit.KL_Obs.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwEdit.KL_Obs.Visible (begin)
    <div id="r_KL_Obs" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.KL_Obs.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_KL_Obs" for="x_KL_Obs" class="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputBLsesuaiCQLRTW_KL_Obs">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.KL_Obs.Caption)@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.KL_Obs.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.KL_Obs.CellAttributes)>
<template id="tpx_SubAktivitasFormInputBLsesuaiCQLRTW_KL_Obs"><span id="el_SubAktivitasFormInputBLsesuaiCQLRTW_KL_Obs">
<input type="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.KL_Obs.InputTextType)" name="x_KL_Obs" id="x_KL_Obs" data-table="SubAktivitasFormInputBLsesuaiCQLRTW" data-field="x_KL_Obs" value="@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.KL_Obs.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLsesuaiCqlrtwEdit.KL_Obs.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.KL_Obs.FormatPattern)"@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.KL_Obs.EditAttributes) aria-describedby="x_KL_Obs_help">
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.KL_Obs.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.KL_Obs.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputBLsesuaiCqlrtwEdit.KL_Obs.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwEdit.KL_15.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwEdit.KL_15.Visible (begin)
    <div id="r_KL_15" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.KL_15.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_KL_15" for="x_KL_15" class="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputBLsesuaiCQLRTW_KL_15">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.KL_15.Caption)@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.KL_15.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.KL_15.CellAttributes)>
<template id="tpx_SubAktivitasFormInputBLsesuaiCQLRTW_KL_15"><span id="el_SubAktivitasFormInputBLsesuaiCQLRTW_KL_15">
<input type="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.KL_15.InputTextType)" name="x_KL_15" id="x_KL_15" data-table="SubAktivitasFormInputBLsesuaiCQLRTW" data-field="x_KL_15" value="@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.KL_15.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLsesuaiCqlrtwEdit.KL_15.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.KL_15.FormatPattern)"@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.KL_15.EditAttributes) aria-describedby="x_KL_15_help">
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.KL_15.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.KL_15.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputBLsesuaiCqlrtwEdit.KL_15.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwEdit.Barrels.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwEdit.Barrels.Visible (begin)
    <div id="r_Barrels" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.Barrels.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_Barrels" for="x_Barrels" class="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputBLsesuaiCQLRTW_Barrels">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.Barrels.Caption)@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.Barrels.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.Barrels.CellAttributes)>
<template id="tpx_SubAktivitasFormInputBLsesuaiCQLRTW_Barrels"><span id="el_SubAktivitasFormInputBLsesuaiCQLRTW_Barrels">
<input type="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.Barrels.InputTextType)" name="x_Barrels" id="x_Barrels" data-table="SubAktivitasFormInputBLsesuaiCQLRTW" data-field="x_Barrels" value="@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.Barrels.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLsesuaiCqlrtwEdit.Barrels.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.Barrels.FormatPattern)"@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.Barrels.EditAttributes) aria-describedby="x_Barrels_help">
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.Barrels.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.Barrels.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputBLsesuaiCqlrtwEdit.Barrels.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwEdit.LT.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwEdit.LT.Visible (begin)
    <div id="r_LT" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.LT.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_LT" for="x_LT" class="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputBLsesuaiCQLRTW_LT">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.LT.Caption)@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.LT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.LT.CellAttributes)>
<template id="tpx_SubAktivitasFormInputBLsesuaiCQLRTW_LT"><span id="el_SubAktivitasFormInputBLsesuaiCQLRTW_LT">
<input type="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.LT.InputTextType)" name="x_LT" id="x_LT" data-table="SubAktivitasFormInputBLsesuaiCQLRTW" data-field="x_LT" value="@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.LT.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLsesuaiCqlrtwEdit.LT.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.LT.FormatPattern)"@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.LT.EditAttributes) aria-describedby="x_LT_help">
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.LT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.LT.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputBLsesuaiCqlrtwEdit.LT.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwEdit.ML.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwEdit.ML.Visible (begin)
    <div id="r_ML" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.ML.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_ML" for="x_ML" class="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputBLsesuaiCQLRTW_ML">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.ML.Caption)@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.ML.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.ML.CellAttributes)>
<template id="tpx_SubAktivitasFormInputBLsesuaiCQLRTW_ML"><span id="el_SubAktivitasFormInputBLsesuaiCQLRTW_ML">
<input type="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.ML.InputTextType)" name="x_ML" id="x_ML" data-table="SubAktivitasFormInputBLsesuaiCQLRTW" data-field="x_ML" value="@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.ML.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLsesuaiCqlrtwEdit.ML.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.ML.FormatPattern)"@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.ML.EditAttributes) aria-describedby="x_ML_help">
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.ML.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.ML.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputBLsesuaiCqlrtwEdit.ML.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwEdit.idProses.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_idProses" for="x_idProses" class="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputBLsesuaiCQLRTW_idProses">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.idProses.Caption)@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.idProses.CellAttributes)>
<template id="tpx_SubAktivitasFormInputBLsesuaiCQLRTW_idProses"><span id="el_SubAktivitasFormInputBLsesuaiCQLRTW_idProses">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.idProses.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.idProses.DisplayValue(subAktivitasFormInputBLsesuaiCqlrtwEdit.idProses.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasFormInputBLsesuaiCQLRTW" data-field="x_idProses" data-hidden="1" name="x_idProses" id="x_idProses" value="@Html.Raw(HtmlEncode(subAktivitasFormInputBLsesuaiCqlrtwEdit.idProses.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputBLsesuaiCqlrtwEdit.idProses.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwEdit.LastUpdatedBy.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputBLsesuaiCQLRTW_LastUpdatedBy">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.LastUpdatedBy.CellAttributes)>
<template id="tpx_SubAktivitasFormInputBLsesuaiCQLRTW_LastUpdatedBy"><span id="el_SubAktivitasFormInputBLsesuaiCQLRTW_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.LastUpdatedBy.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasFormInputBLsesuaiCqlrtwEdit.LastUpdatedBy.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasFormInputBLsesuaiCQLRTW" data-field="x_LastUpdatedBy" data-hidden="1" name="x_LastUpdatedBy" id="x_LastUpdatedBy" value="@Html.Raw(HtmlEncode(subAktivitasFormInputBLsesuaiCqlrtwEdit.LastUpdatedBy.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputBLsesuaiCqlrtwEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwEdit.lastUpdatedDate.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputBLsesuaiCQLRTW_lastUpdatedDate">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.lastUpdatedDate.CellAttributes)>
<template id="tpx_SubAktivitasFormInputBLsesuaiCQLRTW_lastUpdatedDate"><span id="el_SubAktivitasFormInputBLsesuaiCQLRTW_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.lastUpdatedDate.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasFormInputBLsesuaiCqlrtwEdit.lastUpdatedDate.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasFormInputBLsesuaiCQLRTW" data-field="x_lastUpdatedDate" data-hidden="1" name="x_lastUpdatedDate" id="x_lastUpdatedDate" value="@Html.Raw(HtmlEncode(subAktivitasFormInputBLsesuaiCqlrtwEdit.lastUpdatedDate.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputBLsesuaiCqlrtwEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwEdit.NoReferensi.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_NoReferensi" for="x_NoReferensi" class="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputBLsesuaiCQLRTW_NoReferensi">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.NoReferensi.Caption)@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.NoReferensi.CellAttributes)>
<template id="tpx_SubAktivitasFormInputBLsesuaiCQLRTW_NoReferensi"><span id="el_SubAktivitasFormInputBLsesuaiCQLRTW_NoReferensi">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.NoReferensi.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasFormInputBLsesuaiCqlrtwEdit.NoReferensi.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasFormInputBLsesuaiCQLRTW" data-field="x_NoReferensi" data-hidden="1" name="x_NoReferensi" id="x_NoReferensi" value="@Html.Raw(HtmlEncode(subAktivitasFormInputBLsesuaiCqlrtwEdit.NoReferensi.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputBLsesuaiCqlrtwEdit.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwEdit.StatusAktivitas.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwEdit.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.StatusAktivitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_StatusAktivitas" for="x_StatusAktivitas" class="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputBLsesuaiCQLRTW_StatusAktivitas">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.StatusAktivitas.Caption)@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.StatusAktivitas.CellAttributes)>
<template id="tpx_SubAktivitasFormInputBLsesuaiCQLRTW_StatusAktivitas"><span id="el_SubAktivitasFormInputBLsesuaiCQLRTW_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.StatusAktivitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.StatusAktivitas.DisplayValue(subAktivitasFormInputBLsesuaiCqlrtwEdit.StatusAktivitas.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasFormInputBLsesuaiCQLRTW" data-field="x_StatusAktivitas" data-hidden="1" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@Html.Raw(HtmlEncode(subAktivitasFormInputBLsesuaiCqlrtwEdit.StatusAktivitas.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputBLsesuaiCqlrtwEdit.StatusAktivitas.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="SubAktivitasFormInputBLsesuaiCQLRTW" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasFormInputBLsesuaiCqlrtwEdit.id.CurrentValue))">
<div id="tpd_SubAktivitasFormInputBLsesuaiCQLRTWedit" class="ew-custom-template"></div>
<template id="tpm_SubAktivitasFormInputBLsesuaiCQLRTWedit">
<div id="ct_subAktivitasFormInputBLsesuaiCqlrtwEdit"><style>
    .stepper {
        display: flex;
        counter-reset: step;
        flex-wrap: nowrap; /* jangan pecah ke bawah */
        overflow-x: auto; /* scroll horizontal */
        -webkit-overflow-scrolling: touch; /* smooth scroll di mobile */
        padding-bottom: 8px; /* space biar scroll bar gak nempel */
    }
    .stepper::-webkit-scrollbar {
        height: 6px; /* tipis */
    }
    .stepper::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 3px;
    }
    .step {
        width: 150px;
        text-align: center;
        position: relative;
    }
    .step:not(:last-child)::after {
        content: "";
        position: absolute;
        top: 20px;
        right: -50%;
        width: 100%;
        height: 4px;
        background-color: #ccc;
        z-index: 0;
    }
    .step.completed:not(:last-child)::after {
        background-color: #3c6dbd;
    }
    .step-icon {
        width: 36px;
        height: 36px;
        line-height: 36px;
        border-radius: 50%;
        background: #ccc;
        display: inline-block;
        z-index: 1;
        position: relative;
        color: white;
        font-weight: bold;
    }
    .step.active .step-icon {
        background: #3c6dbd;
    }
    .step-label {
        margin-top: 8px;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        color: #333;
    }
    .step-label {
        color: #3c6dbd !important;
        text-decoration: none;
        margin: 0;
        padding: 0;
    }
    .step-label-not-active {
        color: #cccccc !important;
    }
    .step.completed .step-icon {
        background: #3c6dbd;
    }
    .step.active .step-icon {
        background: #198754;
    }
    .view-page-table td {
        white-space: normal !important;
        word-wrap: break-word;
    }
    .view-page-table th {
        background-color: #006bb7;
    }
    .body-table {
        background-color: #fff;
    }
    .header-table {
        background-color: #006bb7 !important;
        color: #fff !important;
    }
    .view-page-table {
        table-layout: fixed;
    }
    .tab-content {
        display: none;
    }
    .tab-content.active {
        display: block;
    }
    .ag-theme-quartz .ag-header {
        background-color: #3c6dbd !important;
    }
    .ag-theme-quartz .ag-header-cell-label {
        color: #ffffff !important;
    }
    .ag-theme-quartz .ag-icon-filter {
        color: #ffffff !important;
    }
    .rotate-down {
        transform: rotate(90deg);
        transition: transform 0.3s ease;
    }
    .rotate-right {
        transform: rotate(0deg);
        transition: transform 0.3s ease;
    }
    #log-table-wrapper {
        overflow: hidden;
        max-height: 0;
        transition: max-height 600ms ease;
    }
</style>
<div class="modal fade" id="confirmReverseStatusEditingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header bg-primary">
        <h1 class="modal-title fs-5" id="confirmReverseStatusEditingModalTitle">Konfirmasi Kembalikan Status</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="reverseStatusEditingModalForm">
        <div class="modal-body px-2 py-1">
            <div class="mb-3">
                <label for="message-text" class="col-form-label">Catatan:</label>
                <textarea class="form-control" id="catatanReverseStatusEditing" required rows="4"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnReverseStatusEditingModalCancel">Batal</button>
            <button type="submit" class="btn btn-primary" id="btnReverseStatusEditingModalSubmit">Lanjutkan</button>
        </div>
        </form>
    </div>
    </div>
</div>
<div id="step-wrapper" class="d-flex border-bottom border-2 pb-2">
    <div class="stepper"></div>
</div>
<div id="r_idAktifitas" class="row">
    <label for="x_idAktifitas" class="col-sm-2 col-form-label">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.idAktifitas.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_SubAktivitasFormInputBLsesuaiCQLRTW_idAktifitas"></slot></div>
</div>
<div id="r_idProses" class="row">
    <label for="x_idProses" class="col-sm-2 col-form-label">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.idProses.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_SubAktivitasFormInputBLsesuaiCQLRTW_idProses"></slot></div>
</div>
<div id="r_NoReferensi" class="row">
    <label for="x_NoReferensi" class="col-sm-2 col-form-label">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.NoReferensi.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_SubAktivitasFormInputBLsesuaiCQLRTW_NoReferensi"></slot></div>
</div>
<div id="r_StatusAktivitas" class="row">
    <label for="x_StatusAktivitas" class="col-sm-2 col-form-label">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.StatusAktivitas.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_SubAktivitasFormInputBLsesuaiCQLRTW_StatusAktivitas"></slot></div>
</div>
<div id="r_LastUpdatedBy" class="row">
    <label for="x_LastUpdatedBy" class="col-sm-2 col-form-label">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.LastUpdatedBy.Caption)</label>
    <div class="col-sm-10 d-flex gap-3 align-items-center">
        <slot class="ew-slot" name="tpx_SubAktivitasFormInputBLsesuaiCQLRTW_LastUpdatedBy"></slot>
        <button id="btn-log-history" type="button" class="btn btn-primary ew-btn ps-2" expand-log="false">
            <i class="fa-solid fa-caret-right fa-2xl me-2 caret-icon rotate-right"></i>
            Log History
            <i class="fa-solid fa-clock-rotate-left ms-1"></i>
        </button>
    </div>
</div>
<div id="log-table-row" class="row m-0">
    <div class="p-0 col-2"></div>
    <div class="p-0 col-10">
        <div id="log-table-wrapper">
            <div id="myGrid" class="ag-theme-quartz w-100 my-3" style="height: 300px;"></div>
        </div>
    </div>
</div>
<div id="r_lastUpdatedDate" class="row">
    <label for="x_lastUpdatedDate" class="col-sm-2 col-form-label">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.lastUpdatedDate.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_SubAktivitasFormInputBLsesuaiCQLRTW_lastUpdatedDate"></slot></div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-9 border rounded p-0 mb-3">
        <table aria-hidden="true" class="table table-hover view-page-table w-100 m-0">
            <tbody>
                <tr>
                    <td class="fw-bold header-table">Satuan</td>
                    <td class="fw-bold header-table">BL</td>
                </tr>
                <tr>
                    <td id="" class="text-break fw-bold">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.KL_Obs.Caption)</td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubAktivitasFormInputBLsesuaiCQLRTW_KL_Obs"></slot></td>
                </tr>
                <tr>
                    <td id="" class="text-break fw-bold">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.KL_15.Caption)</td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubAktivitasFormInputBLsesuaiCQLRTW_KL_15"></slot></td>
                </tr>
                <tr>
                    <td id="" class="text-break fw-bold">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.Barrels.Caption)</td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubAktivitasFormInputBLsesuaiCQLRTW_Barrels"></slot></td>
                </tr>
                <tr>
                    <td id="" class="text-break fw-bold">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.LT.Caption)</td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubAktivitasFormInputBLsesuaiCQLRTW_LT"></slot></td>
                </tr>
                <tr>
                    <td id="" class="text-break fw-bold">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.ML.Caption)</td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubAktivitasFormInputBLsesuaiCQLRTW_ML"></slot></td>
                </tr>
            </tbody>
        </table>
    </div>
</div></div>
</template>
@{ subAktivitasFormInputBLsesuaiCqlrtwEdit.CloseRecordset(); }
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasFormInputBLsesuaiCqlrtwEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasFormInputBLsesuaiCQLRTWedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasFormInputBLsesuaiCQLRTWedit" data-href="@AppPath(subAktivitasFormInputBLsesuaiCqlrtwEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
<script class="ew-apply-template">
loadjs.ready(ew.applyTemplateId, function() {
    var $ = jQuery;
    ew.templateData = { rows: @Html.Raw(ConvertToJson(subAktivitasFormInputBLsesuaiCqlrtwEdit.Rows)) };
    ew.applyTemplate("tpd_SubAktivitasFormInputBLsesuaiCQLRTWedit", "tpm_SubAktivitasFormInputBLsesuaiCQLRTWedit", "SubAktivitasFormInputBLsesuaiCQLRTWedit", "@(subAktivitasFormInputBLsesuaiCqlrtwEdit.Export)", "SubAktivitasFormInputBLsesuaiCQLRTW", ew.templateData.rows[0], @(subAktivitasFormInputBLsesuaiCqlrtwEdit.IsModal ? "true" : "false"));
    loadjs.done("customtemplate");
});
</script>
</main>
@subAktivitasFormInputBLsesuaiCqlrtwEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputBLsesuaiCQLRTW");
});
</script>
<script>
loadjs.ready("load", function() {
    // Startup script
    // Write your table-specific startup script here
    // document.write("page loaded");
    const parentUrl = (ew?.PATH_BASE || "").replace(/\/?$/, "/");
    const $stepper = $("#step-wrapper .stepper");
    if (!$stepper.length) return;
    const idProses = "@subAktivitasFormInputBLsesuaiCqlrtwEdit.idProses.CurrentValue";
    const idAktivitas = "@subAktivitasFormInputBLsesuaiCqlrtwEdit.idAktifitas.CurrentValue";
    const idReferensi = "@subAktivitasFormInputBLsesuaiCqlrtwEdit.NoReferensi.CurrentValue";
    const namaAktivitas = $("#el_SubAktivitasFormInputBLsesuaiCQLRTW_idAktifitas").text().trim() || "Aktivitas";
    const userLevel = "@CurrentUserLevel()";
    const currentStep = 4;
    const escHtml = (s) =>
       	String(s ?? "").replace(
       		/[&<>"']/g,
       		(c) =>
       			({
       				"&": "&amp;",
       				"<": "&lt;",
       				">": "&gt;",
       				'"': "&quot;",
       				"'": "&#39;",
       			})[c],
       	);
    const qs = (v) => encodeURIComponent(String(v ?? ""));
    const isValidId = (v) => {
       	const s = String(v ?? "").trim();
       	return s !== "" && s !== "0";
    };
    const safeShowLoading = () => (typeof showLoading === "function" ? showLoading() : null);
    const safeHideLoading = () => (typeof hideLoading === "function" ? hideLoading() : null);
    const alertError = (xhr, fallbackMsg) => {
       	const msg = xhr?.responseJSON?.message || xhr?.responseJSON?.Message || fallbackMsg || "Terjadi kesalahan";
       	ew.alert(msg);
    };
    const steps = [
       	{
       		number: 1,
       		label: "Proses Penyaluran",
       		url: `${parentUrl}PenimbunanPenyaluranList`,
       		icon: "fa-route",
       	},
       	{
       		number: 2,
       		label: "Proses",
       		url: `${parentUrl}ProsesList?cmd=search&x_IdReferensi%5B%5D=${qs(idReferensi)}&search=&searchtype=`,
       		icon: "fa-gears",
       	},
       	{
       		number: 3,
       		label: "Aktivitas",
       		url: `${parentUrl}AktivitasList?cmd=search&x_IdProses%5B%5D=${qs(idProses)}&search=&searchtype=`,
       		icon: "fa-list-check",
       	},
       	{ number: 4, label: namaAktivitas, url: "", icon: "fa-file-circle-check" },
    ];
    const renderStep = (step) => {
       	const isActive = step.number === currentStep;
       	const isComplete = step.number < currentStep;
       	const stepClass = isActive ? "active" : isComplete ? "completed" : "";
       	const icon = `<div class="step-icon">${step.number}</div>`;
       	const labelHtml = isActive
       		? `<p class="text-success mb-1"><i class="fa-solid ${step.icon} me-1 text-success"></i> ${escHtml(step.label)}</p>`
       		: isComplete
       			? `<a href="${step.url}" class="text-primary"><i class="fa-solid ${step.icon} me-1"></i>${escHtml(step.label)}</a>`
       			: `<p class="m-0"><i class="fa-solid ${step.icon} me-1"></i>${escHtml(step.label)}</p>`;
       	const labelWrapClass = isActive || isComplete ? "step-label" : "step-label-not-active";
       	return `<div class="step ${stepClass}">${icon}<div class="${labelWrapClass}">${labelHtml}</div></div>`;
    };
    $stepper.empty();
    steps.forEach((s) => $stepper.append(renderStep(s)));
    $(".content-header .container-fluid .row").append($("#step-wrapper"));
    $("#btn-log-history").on("click", function () {
       	const $btn = $(this);
       	const expanded = $btn.attr("expand-log") === "true";
       	const $row = $("#log-table-row");
       	const $wrapper = $("#log-table-wrapper");
       	const $caret = $btn.find(".caret-icon");
       	$btn.attr("expand-log", expanded ? "false" : "true");
       	$caret.toggleClass("rotate-down", !expanded).toggleClass("rotate-right", expanded);
       	if (!expanded) {
       		$row.removeClass("d-none");
       		setTimeout(() => $wrapper.css({ maxHeight: "500px" }), 10);
       	} else {
       		$wrapper.css({ maxHeight: "0" });
       		setTimeout(() => $row.addClass("d-none"), 600);
       	}
    });
    $("#btn-action").hide();
    $("#btn-cancel").html('<i class="fa-solid fa-ban"></i> Cancel');
    const $cancelBtn = $("#btn-cancel");
    const insertButtonsByStatus = (status) => {
       	if (!$cancelBtn.length) return;
       	const btn = (id, cls, icon, text) => `
               		<button type="button" class="btn ${cls} ew-btn me-2" id="${id}">
               			<i class="${icon}"></i> ${text}
               		</button>`;
       	const map = {
       		Waiting: () => btn("btn-draft", "btn-primary", "fas fa-save", "Save"),
       		Draft: () => btn("btn-draft", "btn-primary", "fas fa-save", "Save") + btn("btn-completed", "btn-success", "fas fa-paper-plane", "Submit"),
       		Completed: () => btn("btn-editing", "btn-primary", "fa-solid fa-pen-to-square", "Edit") + btn("btn-completedEdit", "btn-success", "fas fa-paper-plane", "Submit"),
       		Editing: () => btn("btn-editing", "btn-primary", "fa-solid fa-pen-to-square", "Edit") + btn("btn-completedEdit", "btn-success", "fas fa-paper-plane", "Submit"),
       		"Completed Edit": () => {
       			if (userLevel === "4") {
       				return btn("btn-reverse-status", "btn-warning", "fa-solid fa-pen-to-square", "Edit");
       			}
       			return "";
       		},
       	};
       	const html = map[status]?.() || "";
       	if (html) $cancelBtn.before(html);
    };
    const $form = $("#fSubAktivitasFormInputBLsesuaiCQLRTWedit");
    const $formInputs = $form.find("input, select, textarea").filter(function () {
       	const type = (this.getAttribute("type") || "").toLowerCase();
       	return type !== "hidden";
    });
    const setDisabled = ($els, disabled) => $els.prop("disabled", !!disabled);
    const $editableInputs = $formInputs.filter('[data-can-edit="1"]');
    const $alwaysDisabled = $formInputs.filter('[data-keep-disabled="1"]');
    const $reverseNote = $("#catatanReverseStatusEditing");
    const lockForm = () => {
       	setDisabled($formInputs, true);
       	setDisabled($reverseNote, false);
       	$("#btn-draft, #btn-editing, #btn-completed, #btn-completedEdit").hide();
    };
    const unlockForm = () => {
       	if ($editableInputs.length) setDisabled($editableInputs, false);
       	else setDisabled($formInputs, false);
       	if ($alwaysDisabled.length) setDisabled($alwaysDisabled, true);
       	setDisabled($reverseNote, true);
       	$("#btn-draft, #btn-editing, #btn-completed, #btn-completedEdit").show();
    };
    const applyEditableState = (response) => {
       	const status = (response?.StatusAktivitas || "").trim();
       	const isEditable = !!response?.IsEditable;
       	if (!isEditable || status === "Completed Edit") {
       		lockForm();
       		return;
       	}
       	unlockForm();
    };
    const renderLogGrid = (logRows) => {
       	const $grid = $("#myGrid");
       	if (!$grid.length) return;
       	const rowData = (logRows ?? []).map((x) => ({
       		Aktivitas: x.Aktivitas,
       		Username: x.UserName,
       		StatusAktivitas: x.StatusAktivitas,
       		Tanggal: x.Tanggal,
       		Catatan: x.Catatan,
       	}));
       	const initGrid = () => {
       		const gridOptions = {
       			rowData,
       			columnDefs: [
       				{
       					headerName: "No.",
       					valueGetter: "node.rowIndex + 1",
       					width: 80,
       					filter: false,
       				},
       				{ headerName: "Aktivitas", field: "Aktivitas", flex: 1 },
       				{ headerName: "Username", field: "Username", flex: 1 },
       				{
       					headerName: "Status Aktivitas",
       					field: "StatusAktivitas",
       					flex: 1,
       				},
       				{ headerName: "Tanggal", field: "Tanggal", flex: 1 },
       				{ headerName: "Catatan", field: "Catatan", flex: 1 },
       			],
       			defaultColDef: {
       				sortable: false,
       				suppressMovable: true,
       				filter: true,
       				resizable: false,
       			},
       			pagination: true,
       			paginationPageSizeSelector: [10, 20, 50, 100],
       			paginationPageSize: 10,
       		};
       		window.agGrid?.createGrid?.($grid[0], gridOptions);
       	};
       	if (window.agGrid?.createGrid) return initGrid();
       	$.getScript("https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js")
       		.done(initGrid)
       		.fail(() => console.warn("Gagal load ag-grid"));
    };
    const disableAll = () => {
       	$("#btn-log-history").hide();
       	$("#btn-draft, #btn-editing, #btn-completed, #btn-completedEdit").hide();
       	setDisabled($formInputs, true);
    };
    const loadStartup = () => {
       	$.ajax({
       		url: `${parentUrl}api/LookUpList/sub-aktivitas/startup?idAktivitas=${qs(idAktivitas)}`,
       		method: "GET",
       		success: (response) => {
       			insertButtonsByStatus(response?.StatusAktivitas);
       			applyEditableState(response);
       			renderLogGrid(response?.LogAktivitas);
       		},
       		error: (xhr) => alertError(xhr, "Terjadi kesalahan dalam memuat data"),
       	});
    };
    if (!isValidId(idAktivitas)) disableAll();
    else loadStartup();
    const getOriginStatus = () => {
       	const el = document.querySelector("#el_SubAktivitasFormInputBLsesuaiCQLRTW_StatusAktivitas .form-control-plaintext");
       	return (el?.textContent || "").trim();
    };
    const saveFormAjax = () => {
       	return $.ajax({
       		url: $form.attr("action"),
       		method: $form.attr("method"),
       		data: $form.serialize(),
       	});
    };
    const redirectToAktivitasList = () => {
       	window.location.href = `${parentUrl}AktivitasList?cmd=search&x_IdProses%5B%5D=${qs(idProses)}&search=&searchtype=`;
    };
    const updateStatus = (status) =>
       	$.ajax({
       		url: `${parentUrl}api/LookUpList/update_status_aktivitas?idAktivitas=${qs(idAktivitas)}&statusAktivitas=${qs(status)}`,
       		method: "POST",
       	});
    const validateStatus = () => {
       	const originStatus = getOriginStatus();
       	return $.ajax({
       		url: `${parentUrl}api/LookUpList/check_valid_status_aktivitas?idAktivitas=${qs(idAktivitas)}&originalStatus=${qs(originStatus)}`,
       		method: "GET",
       	});
    };
    const handleCustomSubmit = (targetStatus) => {
       	safeShowLoading();
       	validateStatus()
       		.done((res) => {
       			if (!res?.IsValid) {
       				safeHideLoading();
       				return ew.alert(res?.Message ?? "Status aktivitas telah diubah oleh pengguna lain");
       			}
       			saveFormAjax()
       				.done(() => {
       					updateStatus(targetStatus)
       						.done(() => {
       							if (targetStatus === "Completed" || targetStatus === "Completed Edit") {
       								redirectToAktivitasList();
       							} else {
       								location.reload();
       							}
       						})
       						.fail((xhr) => alertError(xhr, "Status gagal diperbarui."))
       						.always(safeHideLoading);
       				})
       				.fail((xhr) => {
       					safeHideLoading();
       					alertError(xhr, "Gagal menyimpan data.");
       				});
       		})
       		.fail((xhr) => {
       			safeHideLoading();
       			alertError(xhr, "Terjadi kesalahan dalam memuat data");
       		});
    };
    const reverseStatus = (status, catatan) => {
       	safeShowLoading();
       	const payload = {
       		IdAktivitas: $("#x_idAktifitas").val(),
       		StatusAktivitas: status,
       		Catatan: catatan ?? null,
       	};
       	$.ajax({
       		url: `${parentUrl}api/LookUpList/update_status_aktivitas-v2`,
       		method: "POST",
       		data: JSON.stringify(payload),
       		contentType: "application/json",
       		dataType: "json",
       	})
       		.done(() => {
       			$.ajax({
       				url: `${parentUrl}api/LookUpList/generate_etc`,
       				method: "POST",
       				data: JSON.stringify({ NoReferensi: idReferensi }),
       				contentType: "application/json",
       				dataType: "json",
       			})
       				.done(() => setTimeout(redirectToAktivitasList, 600))
       				.fail((xhr) => alertError(xhr, "Gagal generate ETC."));
       		})
       		.fail((xhr) => alertError(xhr, "Perubahan gagal disimpan."))
       		.always(safeHideLoading);
    };
    $("#btnReverseStatusEditingModalCancel").on("click", (e) => {
       	e.preventDefault();
       	$("#confirmReverseStatusEditingModal").modal("hide");
    });
    $(document).on("click", "#btn-reverse-status", () => {
       	$("#confirmReverseStatusEditingModal").modal("show");
    });
    $(document).on("click", "#btn-draft", () => handleCustomSubmit("Draft"));
    $(document).on("click", "#btn-completed", () => handleCustomSubmit("Completed"));
    $(document).on("click", "#btn-editing", () => handleCustomSubmit("Editing"));
    $(document).on("click", "#btn-completedEdit", () => handleCustomSubmit("Completed Edit"));
    $(document).on("submit", "#reverseStatusEditingModalForm", (e) => {
       	e.preventDefault();
       	const catatanText = $("#catatanReverseStatusEditing").val();
       	reverseStatus("Editing", catatanText);
    });
});
</script>
