@{
    // View
    View = this;

    // Check action result
    if (subaktivitasInputLogbookPenyaluranPipaBackupEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subaktivitasInputLogbookPenyaluranPipaBackupEdit.UseLayout ? "_Layout" : "";
}
@subaktivitasInputLogbookPenyaluranPipaBackupEdit.ShowPageHeader()
@subaktivitasInputLogbookPenyaluranPipaBackupEdit.ShowMessages()
<main class="edit">
<form name="fSubaktivitasInputLogbookPenyaluranPipa_Backupedit" id="fSubaktivitasInputLogbookPenyaluranPipa_Backupedit" class="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasInputLogbookPenyaluranPipaBackupEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasInputLogbookPenyaluranPipa_Backup: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubaktivitasInputLogbookPenyaluranPipa_Backupedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubaktivitasInputLogbookPenyaluranPipa_Backupedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["NomorTangki", [fields.NomorTangki.visible && fields.NomorTangki.required ? ew.Validators.required(fields.NomorTangki.caption) : null], fields.NomorTangki.isInvalid],
            ["LO", [fields.LO.visible && fields.LO.required ? ew.Validators.required(fields.LO.caption) : null], fields.LO.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["MeterAwal", [fields.MeterAwal.visible && fields.MeterAwal.required ? ew.Validators.required(fields.MeterAwal.caption) : null], fields.MeterAwal.isInvalid],
            ["MeterAkhir", [fields.MeterAkhir.visible && fields.MeterAkhir.required ? ew.Validators.required(fields.MeterAkhir.caption) : null], fields.MeterAkhir.isInvalid],
            ["Quantity", [fields.Quantity.visible && fields.Quantity.required ? ew.Validators.required(fields.Quantity.caption) : null], fields.Quantity.isInvalid],
            ["BayNumber", [fields.BayNumber.visible && fields.BayNumber.required ? ew.Validators.required(fields.BayNumber.caption) : null], fields.BayNumber.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subaktivitasInputLogbookPenyaluranPipaBackupEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.OldKeyName)" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subaktivitasInputLogbookPenyaluranPipaBackupEdit.id.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.id.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_id" class="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.id.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.id.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_id">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subaktivitasInputLogbookPenyaluranPipaBackupEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubaktivitasInputLogbookPenyaluranPipa_Backup" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaBackupEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaBackupEdit.id.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupEdit.idAktifitas.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_idAktifitas" for="x_idAktifitas" class="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.idAktifitas.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.idAktifitas.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_idAktifitas">
<input type="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubaktivitasInputLogbookPenyaluranPipa_Backup" data-field="x_idAktifitas" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaBackupEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.idAktifitas.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaBackupEdit.idAktifitas.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupEdit.NomorTangki.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupEdit.NomorTangki.Visible (begin)
    <div id="r_NomorTangki" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.NomorTangki.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_NomorTangki" for="x_NomorTangki" class="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.NomorTangki.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.NomorTangki.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.NomorTangki.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_NomorTangki">
<input type="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.NomorTangki.InputTextType)" name="x_NomorTangki" id="x_NomorTangki" data-table="SubaktivitasInputLogbookPenyaluranPipa_Backup" data-field="x_NomorTangki" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.NomorTangki.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaBackupEdit.NomorTangki.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.NomorTangki.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.NomorTangki.EditAttributes) aria-describedby="x_NomorTangki_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.NomorTangki.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.NomorTangki.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaBackupEdit.NomorTangki.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupEdit.LO.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupEdit.LO.Visible (begin)
    <div id="r_LO" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LO.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_LO" for="x_LO" class="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LO.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LO.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LO.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_LO">
<input type="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LO.InputTextType)" name="x_LO" id="x_LO" data-table="SubaktivitasInputLogbookPenyaluranPipa_Backup" data-field="x_LO" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LO.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LO.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LO.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LO.EditAttributes) aria-describedby="x_LO_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LO.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LO.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaBackupEdit.LO.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupEdit.Produk.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.Produk.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_Produk" for="x_Produk" class="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.Produk.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.Produk.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_Produk">
<input type="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubaktivitasInputLogbookPenyaluranPipa_Backup" data-field="x_Produk" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.Produk.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaBackupEdit.Produk.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.Produk.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaBackupEdit.Produk.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupEdit.MeterAwal.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupEdit.MeterAwal.Visible (begin)
    <div id="r_MeterAwal" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.MeterAwal.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_MeterAwal" for="x_MeterAwal" class="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.MeterAwal.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.MeterAwal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.MeterAwal.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_MeterAwal">
<input type="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.MeterAwal.InputTextType)" name="x_MeterAwal" id="x_MeterAwal" data-table="SubaktivitasInputLogbookPenyaluranPipa_Backup" data-field="x_MeterAwal" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.MeterAwal.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaBackupEdit.MeterAwal.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.MeterAwal.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.MeterAwal.EditAttributes) aria-describedby="x_MeterAwal_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.MeterAwal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.MeterAwal.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaBackupEdit.MeterAwal.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupEdit.MeterAkhir.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupEdit.MeterAkhir.Visible (begin)
    <div id="r_MeterAkhir" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.MeterAkhir.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_MeterAkhir" for="x_MeterAkhir" class="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.MeterAkhir.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.MeterAkhir.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.MeterAkhir.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_MeterAkhir">
<input type="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.MeterAkhir.InputTextType)" name="x_MeterAkhir" id="x_MeterAkhir" data-table="SubaktivitasInputLogbookPenyaluranPipa_Backup" data-field="x_MeterAkhir" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.MeterAkhir.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaBackupEdit.MeterAkhir.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.MeterAkhir.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.MeterAkhir.EditAttributes) aria-describedby="x_MeterAkhir_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.MeterAkhir.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.MeterAkhir.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaBackupEdit.MeterAkhir.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupEdit.Quantity.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupEdit.Quantity.Visible (begin)
    <div id="r_Quantity" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.Quantity.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_Quantity" for="x_Quantity" class="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.Quantity.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.Quantity.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.Quantity.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_Quantity">
<input type="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.Quantity.InputTextType)" name="x_Quantity" id="x_Quantity" data-table="SubaktivitasInputLogbookPenyaluranPipa_Backup" data-field="x_Quantity" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.Quantity.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaBackupEdit.Quantity.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.Quantity.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.Quantity.EditAttributes) aria-describedby="x_Quantity_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.Quantity.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.Quantity.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaBackupEdit.Quantity.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupEdit.BayNumber.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupEdit.BayNumber.Visible (begin)
    <div id="r_BayNumber" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.BayNumber.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_BayNumber" for="x_BayNumber" class="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.BayNumber.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.BayNumber.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.BayNumber.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_BayNumber">
<input type="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.BayNumber.InputTextType)" name="x_BayNumber" id="x_BayNumber" data-table="SubaktivitasInputLogbookPenyaluranPipa_Backup" data-field="x_BayNumber" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.BayNumber.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaBackupEdit.BayNumber.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.BayNumber.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.BayNumber.EditAttributes) aria-describedby="x_BayNumber_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.BayNumber.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.BayNumber.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaBackupEdit.BayNumber.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupEdit.userInput.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.userInput.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_userInput" for="x_userInput" class="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.userInput.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.userInput.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_userInput">
<input type="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubaktivitasInputLogbookPenyaluranPipa_Backup" data-field="x_userInput" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaBackupEdit.userInput.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.userInput.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaBackupEdit.userInput.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupEdit.etlDate.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.etlDate.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_etlDate" for="x_etlDate" class="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.etlDate.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.etlDate.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_etlDate">
<input type="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubaktivitasInputLogbookPenyaluranPipa_Backup" data-field="x_etlDate" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaBackupEdit.etlDate.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.etlDate.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.etlDate.GetErrorMessage())</div>
@if (!subaktivitasInputLogbookPenyaluranPipaBackupEdit.etlDate.ReadOnly && !subaktivitasInputLogbookPenyaluranPipaBackupEdit.etlDate.Disabled && !subaktivitasInputLogbookPenyaluranPipaBackupEdit.etlDate.EditAttrs.Is("readonly") && !subaktivitasInputLogbookPenyaluranPipaBackupEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubaktivitasInputLogbookPenyaluranPipa_Backupedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubaktivitasInputLogbookPenyaluranPipa_Backupedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaBackupEdit.etlDate.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupEdit.idProses.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.idProses.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_idProses" for="x_idProses" class="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.idProses.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.idProses.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_idProses">
<input type="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubaktivitasInputLogbookPenyaluranPipa_Backup" data-field="x_idProses" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaBackupEdit.idProses.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.idProses.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaBackupEdit.idProses.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupEdit.LastUpdatedBy.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LastUpdatedBy.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_LastUpdatedBy">
<input type="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubaktivitasInputLogbookPenyaluranPipa_Backup" data-field="x_LastUpdatedBy" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaBackupEdit.LastUpdatedBy.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupEdit.lastUpdatedDate.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.lastUpdatedDate.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_lastUpdatedDate">
<input type="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubaktivitasInputLogbookPenyaluranPipa_Backup" data-field="x_lastUpdatedDate" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaBackupEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subaktivitasInputLogbookPenyaluranPipaBackupEdit.lastUpdatedDate.ReadOnly && !subaktivitasInputLogbookPenyaluranPipaBackupEdit.lastUpdatedDate.Disabled && !subaktivitasInputLogbookPenyaluranPipaBackupEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subaktivitasInputLogbookPenyaluranPipaBackupEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubaktivitasInputLogbookPenyaluranPipa_Backupedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubaktivitasInputLogbookPenyaluranPipa_Backupedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaBackupEdit.lastUpdatedDate.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupEdit.NoReferensi.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_NoReferensi" for="x_NoReferensi" class="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.NoReferensi.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.NoReferensi.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_NoReferensi">
<input type="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubaktivitasInputLogbookPenyaluranPipa_Backup" data-field="x_NoReferensi" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.NoReferensi.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaBackupEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.NoReferensi.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaBackupEdit.NoReferensi.Visible (end) *@
</div><!-- /page* -->
@{ subaktivitasInputLogbookPenyaluranPipaBackupEdit.CloseRecordset(); }
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subaktivitasInputLogbookPenyaluranPipaBackupEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubaktivitasInputLogbookPenyaluranPipa_Backupedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubaktivitasInputLogbookPenyaluranPipa_Backupedit" data-href="@AppPath(subaktivitasInputLogbookPenyaluranPipaBackupEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subaktivitasInputLogbookPenyaluranPipaBackupEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubaktivitasInputLogbookPenyaluranPipa_Backup");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
