@{
    // View
    View = this;

    // Check action result
    if (subaktivitasKapalBerangkatLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subaktivitasKapalBerangkatLpgList.UseLayout ? "_Layout" : "";
}
@if (!subaktivitasKapalBerangkatLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasKapalBerangkatLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasKapalBerangkatLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subaktivitasKapalBerangkatLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subaktivitasKapalBerangkatLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subaktivitasKapalBerangkatLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subaktivitasKapalBerangkatLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subaktivitasKapalBerangkatLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subaktivitasKapalBerangkatLpgList.TotalRecords > 0 && subaktivitasKapalBerangkatLpgList.ExportOptions.Visible) {
    subaktivitasKapalBerangkatLpgList.ExportOptions.Render("body");
}
@if (subaktivitasKapalBerangkatLpgList.ImportOptions.Visible) {
    subaktivitasKapalBerangkatLpgList.ImportOptions.Render("body");
}
@if (subaktivitasKapalBerangkatLpgList.SearchOptions.Visible) {
    subaktivitasKapalBerangkatLpgList.SearchOptions.Render("body");
}
@if (subaktivitasKapalBerangkatLpgList.FilterOptions.Visible) {
    subaktivitasKapalBerangkatLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subaktivitasKapalBerangkatLpgList.IsModal) {
<form name="fSubaktivitasKapalBerangkatLPGsrch" id="fSubaktivitasKapalBerangkatLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubaktivitasKapalBerangkatLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subaktivitasKapalBerangkatLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasKapalBerangkatLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasKapalBerangkatLPG: currentTable } });
var currentForm;
var fSubaktivitasKapalBerangkatLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubaktivitasKapalBerangkatLPGsrch")
        .setPageId("list")
@if (subaktivitasKapalBerangkatLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subaktivitasKapalBerangkatLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subaktivitasKapalBerangkatLpgList.IsExport() && Empty(subaktivitasKapalBerangkatLpgList.CurrentAction) && subaktivitasKapalBerangkatLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subaktivitasKapalBerangkatLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subaktivitasKapalBerangkatLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subaktivitasKapalBerangkatLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subaktivitasKapalBerangkatLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubaktivitasKapalBerangkatLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subaktivitasKapalBerangkatLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubaktivitasKapalBerangkatLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subaktivitasKapalBerangkatLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubaktivitasKapalBerangkatLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subaktivitasKapalBerangkatLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubaktivitasKapalBerangkatLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subaktivitasKapalBerangkatLpgList.ShowPageHeader()
@subaktivitasKapalBerangkatLpgList.ShowMessages()
<main class="list @(subaktivitasKapalBerangkatLpgList.TotalRecords == 0 && !subaktivitasKapalBerangkatLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subaktivitasKapalBerangkatLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subaktivitasKapalBerangkatLpgList.TotalRecords > 0 || !Empty(subaktivitasKapalBerangkatLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subaktivitasKapalBerangkatLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subaktivitasKapalBerangkatLpgList.TableGridClass)">
<form name="@(subaktivitasKapalBerangkatLpgList.FormName)" id="@(subaktivitasKapalBerangkatLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subaktivitasKapalBerangkatLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subaktivitasKapalBerangkatLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubaktivitasKapalBerangkatLPG" class="card-body ew-grid-middle-panel @(subaktivitasKapalBerangkatLpgList.TableContainerClass)" style="@(subaktivitasKapalBerangkatLpgList.TableContainerStyle)">
@if (subaktivitasKapalBerangkatLpgList.TotalRecords > 0 || subaktivitasKapalBerangkatLpgList.IsGridEdit || subaktivitasKapalBerangkatLpgList.IsMultiEdit) {
<table id="tbl_SubaktivitasKapalBerangkatLPGlist" class="@(subaktivitasKapalBerangkatLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subaktivitasKapalBerangkatLpgList.RowType = RowType.Header;

    // Render list options
    await subaktivitasKapalBerangkatLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subaktivitasKapalBerangkatLpgList.ListOptions.RenderHeader("left")
@if (subaktivitasKapalBerangkatLpgList.id.Visible) { // subaktivitasKapalBerangkatLpgList.id.Visible (begin)
        <th data-name="id" class="@(subaktivitasKapalBerangkatLpgList.id.HeaderCellClass)"><div id="elh_SubaktivitasKapalBerangkatLPG_id" class="SubaktivitasKapalBerangkatLPG_id">@Html.Raw(subaktivitasKapalBerangkatLpgList.RenderFieldHeader(subaktivitasKapalBerangkatLpgList.id))</div></th>
} @* subaktivitasKapalBerangkatLpgList.id.Visible (end) *@
@if (subaktivitasKapalBerangkatLpgList.idProses.Visible) { // subaktivitasKapalBerangkatLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subaktivitasKapalBerangkatLpgList.idProses.HeaderCellClass)"><div id="elh_SubaktivitasKapalBerangkatLPG_idProses" class="SubaktivitasKapalBerangkatLPG_idProses">@Html.Raw(subaktivitasKapalBerangkatLpgList.RenderFieldHeader(subaktivitasKapalBerangkatLpgList.idProses))</div></th>
} @* subaktivitasKapalBerangkatLpgList.idProses.Visible (end) *@
@if (subaktivitasKapalBerangkatLpgList.idAktifitas.Visible) { // subaktivitasKapalBerangkatLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subaktivitasKapalBerangkatLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubaktivitasKapalBerangkatLPG_idAktifitas" class="SubaktivitasKapalBerangkatLPG_idAktifitas">@Html.Raw(subaktivitasKapalBerangkatLpgList.RenderFieldHeader(subaktivitasKapalBerangkatLpgList.idAktifitas))</div></th>
} @* subaktivitasKapalBerangkatLpgList.idAktifitas.Visible (end) *@
@if (subaktivitasKapalBerangkatLpgList.NoReferensi.Visible) { // subaktivitasKapalBerangkatLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subaktivitasKapalBerangkatLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubaktivitasKapalBerangkatLPG_NoReferensi" class="SubaktivitasKapalBerangkatLPG_NoReferensi">@Html.Raw(subaktivitasKapalBerangkatLpgList.RenderFieldHeader(subaktivitasKapalBerangkatLpgList.NoReferensi))</div></th>
} @* subaktivitasKapalBerangkatLpgList.NoReferensi.Visible (end) *@
@if (subaktivitasKapalBerangkatLpgList.StatusAktivitas.Visible) { // subaktivitasKapalBerangkatLpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subaktivitasKapalBerangkatLpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubaktivitasKapalBerangkatLPG_StatusAktivitas" class="SubaktivitasKapalBerangkatLPG_StatusAktivitas">@Html.Raw(subaktivitasKapalBerangkatLpgList.RenderFieldHeader(subaktivitasKapalBerangkatLpgList.StatusAktivitas))</div></th>
} @* subaktivitasKapalBerangkatLpgList.StatusAktivitas.Visible (end) *@
@if (subaktivitasKapalBerangkatLpgList.LastUpdatedBy.Visible) { // subaktivitasKapalBerangkatLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subaktivitasKapalBerangkatLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubaktivitasKapalBerangkatLPG_LastUpdatedBy" class="SubaktivitasKapalBerangkatLPG_LastUpdatedBy">@Html.Raw(subaktivitasKapalBerangkatLpgList.RenderFieldHeader(subaktivitasKapalBerangkatLpgList.LastUpdatedBy))</div></th>
} @* subaktivitasKapalBerangkatLpgList.LastUpdatedBy.Visible (end) *@
@if (subaktivitasKapalBerangkatLpgList.lastUpdatedDate.Visible) { // subaktivitasKapalBerangkatLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subaktivitasKapalBerangkatLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubaktivitasKapalBerangkatLPG_lastUpdatedDate" class="SubaktivitasKapalBerangkatLPG_lastUpdatedDate">@Html.Raw(subaktivitasKapalBerangkatLpgList.RenderFieldHeader(subaktivitasKapalBerangkatLpgList.lastUpdatedDate))</div></th>
} @* subaktivitasKapalBerangkatLpgList.lastUpdatedDate.Visible (end) *@
@if (subaktivitasKapalBerangkatLpgList.tglBerangkat.Visible) { // subaktivitasKapalBerangkatLpgList.tglBerangkat.Visible (begin)
        <th data-name="tglBerangkat" class="@(subaktivitasKapalBerangkatLpgList.tglBerangkat.HeaderCellClass)"><div id="elh_SubaktivitasKapalBerangkatLPG_tglBerangkat" class="SubaktivitasKapalBerangkatLPG_tglBerangkat">@Html.Raw(subaktivitasKapalBerangkatLpgList.RenderFieldHeader(subaktivitasKapalBerangkatLpgList.tglBerangkat))</div></th>
} @* subaktivitasKapalBerangkatLpgList.tglBerangkat.Visible (end) *@
@if (subaktivitasKapalBerangkatLpgList.userInput.Visible) { // subaktivitasKapalBerangkatLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subaktivitasKapalBerangkatLpgList.userInput.HeaderCellClass)"><div id="elh_SubaktivitasKapalBerangkatLPG_userInput" class="SubaktivitasKapalBerangkatLPG_userInput">@Html.Raw(subaktivitasKapalBerangkatLpgList.RenderFieldHeader(subaktivitasKapalBerangkatLpgList.userInput))</div></th>
} @* subaktivitasKapalBerangkatLpgList.userInput.Visible (end) *@
@if (subaktivitasKapalBerangkatLpgList.etlDate.Visible) { // subaktivitasKapalBerangkatLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subaktivitasKapalBerangkatLpgList.etlDate.HeaderCellClass)"><div id="elh_SubaktivitasKapalBerangkatLPG_etlDate" class="SubaktivitasKapalBerangkatLPG_etlDate">@Html.Raw(subaktivitasKapalBerangkatLpgList.RenderFieldHeader(subaktivitasKapalBerangkatLpgList.etlDate))</div></th>
} @* subaktivitasKapalBerangkatLpgList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subaktivitasKapalBerangkatLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subaktivitasKapalBerangkatLpgList.PageNumber)">
@{
    await subaktivitasKapalBerangkatLpgList.SetupGrid();
    bool eof = subaktivitasKapalBerangkatLpgList.Recordset == null; // DN
}
@while (subaktivitasKapalBerangkatLpgList.RecordCount < subaktivitasKapalBerangkatLpgList.StopRecord || SameString(subaktivitasKapalBerangkatLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subaktivitasKapalBerangkatLpgList.RowIndex, "$rowindex$") &&
        (!subaktivitasKapalBerangkatLpgList.IsGridAdd || subaktivitasKapalBerangkatLpgList.CurrentMode == "copy") &&
        (!((subaktivitasKapalBerangkatLpgList.IsCopy || subaktivitasKapalBerangkatLpgList.IsAdd) && subaktivitasKapalBerangkatLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subaktivitasKapalBerangkatLpgList.Recordset.ReadAsync();
    subaktivitasKapalBerangkatLpgList.RecordCount++;
    if (subaktivitasKapalBerangkatLpgList.RecordCount >= subaktivitasKapalBerangkatLpgList.StartRecord) {
        await subaktivitasKapalBerangkatLpgList.SetupRow();
    <tr @Html.Raw(subaktivitasKapalBerangkatLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subaktivitasKapalBerangkatLpgList.ListOptions.RenderBody("left", subaktivitasKapalBerangkatLpgList.RowCount)
    @if (subaktivitasKapalBerangkatLpgList.id.Visible) { // subaktivitasKapalBerangkatLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subaktivitasKapalBerangkatLpgList.id.CellAttributes)>
<span id="el@(subaktivitasKapalBerangkatLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasKapalBerangkatLpgList.RowCount)_SubaktivitasKapalBerangkatLPG_id" class="el_SubaktivitasKapalBerangkatLPG_id">
<span @Html.Raw(subaktivitasKapalBerangkatLpgList.id.ViewAttributes)>
@Html.Raw(subaktivitasKapalBerangkatLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasKapalBerangkatLpgList.id.Visible (end) *@
    @if (subaktivitasKapalBerangkatLpgList.idProses.Visible) { // subaktivitasKapalBerangkatLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subaktivitasKapalBerangkatLpgList.idProses.CellAttributes)>
<span id="el@(subaktivitasKapalBerangkatLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasKapalBerangkatLpgList.RowCount)_SubaktivitasKapalBerangkatLPG_idProses" class="el_SubaktivitasKapalBerangkatLPG_idProses">
<span @Html.Raw(subaktivitasKapalBerangkatLpgList.idProses.ViewAttributes)>
@Html.Raw(subaktivitasKapalBerangkatLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasKapalBerangkatLpgList.idProses.Visible (end) *@
    @if (subaktivitasKapalBerangkatLpgList.idAktifitas.Visible) { // subaktivitasKapalBerangkatLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subaktivitasKapalBerangkatLpgList.idAktifitas.CellAttributes)>
<span id="el@(subaktivitasKapalBerangkatLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasKapalBerangkatLpgList.RowCount)_SubaktivitasKapalBerangkatLPG_idAktifitas" class="el_SubaktivitasKapalBerangkatLPG_idAktifitas">
<span @Html.Raw(subaktivitasKapalBerangkatLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subaktivitasKapalBerangkatLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasKapalBerangkatLpgList.idAktifitas.Visible (end) *@
    @if (subaktivitasKapalBerangkatLpgList.NoReferensi.Visible) { // subaktivitasKapalBerangkatLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subaktivitasKapalBerangkatLpgList.NoReferensi.CellAttributes)>
<span id="el@(subaktivitasKapalBerangkatLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasKapalBerangkatLpgList.RowCount)_SubaktivitasKapalBerangkatLPG_NoReferensi" class="el_SubaktivitasKapalBerangkatLPG_NoReferensi">
<span @Html.Raw(subaktivitasKapalBerangkatLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subaktivitasKapalBerangkatLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasKapalBerangkatLpgList.NoReferensi.Visible (end) *@
    @if (subaktivitasKapalBerangkatLpgList.StatusAktivitas.Visible) { // subaktivitasKapalBerangkatLpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subaktivitasKapalBerangkatLpgList.StatusAktivitas.CellAttributes)>
<span id="el@(subaktivitasKapalBerangkatLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasKapalBerangkatLpgList.RowCount)_SubaktivitasKapalBerangkatLPG_StatusAktivitas" class="el_SubaktivitasKapalBerangkatLPG_StatusAktivitas">
<span @Html.Raw(subaktivitasKapalBerangkatLpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subaktivitasKapalBerangkatLpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasKapalBerangkatLpgList.StatusAktivitas.Visible (end) *@
    @if (subaktivitasKapalBerangkatLpgList.LastUpdatedBy.Visible) { // subaktivitasKapalBerangkatLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subaktivitasKapalBerangkatLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(subaktivitasKapalBerangkatLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasKapalBerangkatLpgList.RowCount)_SubaktivitasKapalBerangkatLPG_LastUpdatedBy" class="el_SubaktivitasKapalBerangkatLPG_LastUpdatedBy">
<span @Html.Raw(subaktivitasKapalBerangkatLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subaktivitasKapalBerangkatLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasKapalBerangkatLpgList.LastUpdatedBy.Visible (end) *@
    @if (subaktivitasKapalBerangkatLpgList.lastUpdatedDate.Visible) { // subaktivitasKapalBerangkatLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subaktivitasKapalBerangkatLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(subaktivitasKapalBerangkatLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasKapalBerangkatLpgList.RowCount)_SubaktivitasKapalBerangkatLPG_lastUpdatedDate" class="el_SubaktivitasKapalBerangkatLPG_lastUpdatedDate">
<span @Html.Raw(subaktivitasKapalBerangkatLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subaktivitasKapalBerangkatLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasKapalBerangkatLpgList.lastUpdatedDate.Visible (end) *@
    @if (subaktivitasKapalBerangkatLpgList.tglBerangkat.Visible) { // subaktivitasKapalBerangkatLpgList.tglBerangkat.Visible (begin)
        <td data-name="tglBerangkat" @Html.Raw(subaktivitasKapalBerangkatLpgList.tglBerangkat.CellAttributes)>
<span id="el@(subaktivitasKapalBerangkatLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasKapalBerangkatLpgList.RowCount)_SubaktivitasKapalBerangkatLPG_tglBerangkat" class="el_SubaktivitasKapalBerangkatLPG_tglBerangkat">
<span @Html.Raw(subaktivitasKapalBerangkatLpgList.tglBerangkat.ViewAttributes)>
@Html.Raw(subaktivitasKapalBerangkatLpgList.tglBerangkat.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasKapalBerangkatLpgList.tglBerangkat.Visible (end) *@
    @if (subaktivitasKapalBerangkatLpgList.userInput.Visible) { // subaktivitasKapalBerangkatLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subaktivitasKapalBerangkatLpgList.userInput.CellAttributes)>
<span id="el@(subaktivitasKapalBerangkatLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasKapalBerangkatLpgList.RowCount)_SubaktivitasKapalBerangkatLPG_userInput" class="el_SubaktivitasKapalBerangkatLPG_userInput">
<span @Html.Raw(subaktivitasKapalBerangkatLpgList.userInput.ViewAttributes)>
@Html.Raw(subaktivitasKapalBerangkatLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasKapalBerangkatLpgList.userInput.Visible (end) *@
    @if (subaktivitasKapalBerangkatLpgList.etlDate.Visible) { // subaktivitasKapalBerangkatLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subaktivitasKapalBerangkatLpgList.etlDate.CellAttributes)>
<span id="el@(subaktivitasKapalBerangkatLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasKapalBerangkatLpgList.RowCount)_SubaktivitasKapalBerangkatLPG_etlDate" class="el_SubaktivitasKapalBerangkatLPG_etlDate">
<span @Html.Raw(subaktivitasKapalBerangkatLpgList.etlDate.ViewAttributes)>
@Html.Raw(subaktivitasKapalBerangkatLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasKapalBerangkatLpgList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subaktivitasKapalBerangkatLpgList.ListOptions.RenderBody("right", subaktivitasKapalBerangkatLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subaktivitasKapalBerangkatLpgList.RowIndex, "$rowindex$"))
        subaktivitasKapalBerangkatLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subaktivitasKapalBerangkatLpgList.IsCopy || subaktivitasKapalBerangkatLpgList.IsAdd) && subaktivitasKapalBerangkatLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subaktivitasKapalBerangkatLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subaktivitasKapalBerangkatLpgList.CurrentAction) && !subaktivitasKapalBerangkatLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subaktivitasKapalBerangkatLpgList.CloseRecordset(); }
@if (!subaktivitasKapalBerangkatLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subaktivitasKapalBerangkatLpgList.IsGridAdd && !(subaktivitasKapalBerangkatLpgList.IsGridEdit && subaktivitasKapalBerangkatLpgList.ModalGridEdit) && !subaktivitasKapalBerangkatLpgList.IsMultiEdit) {
@Html.Raw(subaktivitasKapalBerangkatLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subaktivitasKapalBerangkatLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subaktivitasKapalBerangkatLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subaktivitasKapalBerangkatLpgList.FooterOptions.RenderBody()
</div>
</main>
@subaktivitasKapalBerangkatLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subaktivitasKapalBerangkatLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubaktivitasKapalBerangkatLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
