@{
    // View
    View = this;

    // Check action result
    if (subAktivitasKeberangkatanKapalPenKonList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasKeberangkatanKapalPenKonList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasKeberangkatanKapalPenKonList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasKeberangkatanKapalPenKonList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasKeberangkatanKapalPenKon: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasKeberangkatanKapalPenKonList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasKeberangkatanKapalPenKonList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasKeberangkatanKapalPenKonList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasKeberangkatanKapalPenKonList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasKeberangkatanKapalPenKonList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasKeberangkatanKapalPenKonList.TotalRecords > 0 && subAktivitasKeberangkatanKapalPenKonList.ExportOptions.Visible) {
    subAktivitasKeberangkatanKapalPenKonList.ExportOptions.Render("body");
}
@if (subAktivitasKeberangkatanKapalPenKonList.ImportOptions.Visible) {
    subAktivitasKeberangkatanKapalPenKonList.ImportOptions.Render("body");
}
@if (subAktivitasKeberangkatanKapalPenKonList.SearchOptions.Visible) {
    subAktivitasKeberangkatanKapalPenKonList.SearchOptions.Render("body");
}
@if (subAktivitasKeberangkatanKapalPenKonList.FilterOptions.Visible) {
    subAktivitasKeberangkatanKapalPenKonList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasKeberangkatanKapalPenKonList.IsModal) {
<form name="fSubAktivitasKeberangkatanKapalPenKonsrch" id="fSubAktivitasKeberangkatanKapalPenKonsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasKeberangkatanKapalPenKonsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasKeberangkatanKapalPenKonList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasKeberangkatanKapalPenKonList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasKeberangkatanKapalPenKon: currentTable } });
var currentForm;
var fSubAktivitasKeberangkatanKapalPenKonsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasKeberangkatanKapalPenKonsrch")
        .setPageId("list")
@if (subAktivitasKeberangkatanKapalPenKonList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasKeberangkatanKapalPenKonList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasKeberangkatanKapalPenKonList.IsExport() && Empty(subAktivitasKeberangkatanKapalPenKonList.CurrentAction) && subAktivitasKeberangkatanKapalPenKonList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasKeberangkatanKapalPenKonList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasKeberangkatanKapalPenKonList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasKeberangkatanKapalPenKonList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasKeberangkatanKapalPenKonList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasKeberangkatanKapalPenKonsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasKeberangkatanKapalPenKonList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasKeberangkatanKapalPenKonsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasKeberangkatanKapalPenKonList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasKeberangkatanKapalPenKonsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasKeberangkatanKapalPenKonList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasKeberangkatanKapalPenKonsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasKeberangkatanKapalPenKonList.ShowPageHeader()
@subAktivitasKeberangkatanKapalPenKonList.ShowMessages()
<main class="list @(subAktivitasKeberangkatanKapalPenKonList.TotalRecords == 0 && !subAktivitasKeberangkatanKapalPenKonList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasKeberangkatanKapalPenKonList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasKeberangkatanKapalPenKonList.TotalRecords > 0 || !Empty(subAktivitasKeberangkatanKapalPenKonList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasKeberangkatanKapalPenKonList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasKeberangkatanKapalPenKonList.TableGridClass)">
<form name="@(subAktivitasKeberangkatanKapalPenKonList.FormName)" id="@(subAktivitasKeberangkatanKapalPenKonList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasKeberangkatanKapalPenKonList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasKeberangkatanKapalPenKonList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasKeberangkatanKapalPenKon" class="card-body ew-grid-middle-panel @(subAktivitasKeberangkatanKapalPenKonList.TableContainerClass)" style="@(subAktivitasKeberangkatanKapalPenKonList.TableContainerStyle)">
@if (subAktivitasKeberangkatanKapalPenKonList.TotalRecords > 0 || subAktivitasKeberangkatanKapalPenKonList.IsGridEdit || subAktivitasKeberangkatanKapalPenKonList.IsMultiEdit) {
<table id="tbl_SubAktivitasKeberangkatanKapalPenKonlist" class="@(subAktivitasKeberangkatanKapalPenKonList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasKeberangkatanKapalPenKonList.RowType = RowType.Header;

    // Render list options
    await subAktivitasKeberangkatanKapalPenKonList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasKeberangkatanKapalPenKonList.ListOptions.RenderHeader("left")
@if (subAktivitasKeberangkatanKapalPenKonList.idProses.Visible) { // subAktivitasKeberangkatanKapalPenKonList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasKeberangkatanKapalPenKonList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenKon_idProses" class="SubAktivitasKeberangkatanKapalPenKon_idProses">@Html.Raw(subAktivitasKeberangkatanKapalPenKonList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenKonList.idProses))</div></th>
} @* subAktivitasKeberangkatanKapalPenKonList.idProses.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenKonList.idAktifitas.Visible) { // subAktivitasKeberangkatanKapalPenKonList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasKeberangkatanKapalPenKonList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenKon_idAktifitas" class="SubAktivitasKeberangkatanKapalPenKon_idAktifitas">@Html.Raw(subAktivitasKeberangkatanKapalPenKonList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenKonList.idAktifitas))</div></th>
} @* subAktivitasKeberangkatanKapalPenKonList.idAktifitas.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenKonList.LastUpdatedBy.Visible) { // subAktivitasKeberangkatanKapalPenKonList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasKeberangkatanKapalPenKonList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenKon_LastUpdatedBy" class="SubAktivitasKeberangkatanKapalPenKon_LastUpdatedBy">@Html.Raw(subAktivitasKeberangkatanKapalPenKonList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenKonList.LastUpdatedBy))</div></th>
} @* subAktivitasKeberangkatanKapalPenKonList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenKonList.lastUpdatedDate.Visible) { // subAktivitasKeberangkatanKapalPenKonList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasKeberangkatanKapalPenKonList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenKon_lastUpdatedDate" class="SubAktivitasKeberangkatanKapalPenKon_lastUpdatedDate">@Html.Raw(subAktivitasKeberangkatanKapalPenKonList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenKonList.lastUpdatedDate))</div></th>
} @* subAktivitasKeberangkatanKapalPenKonList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenKonList.StatusAktivitas.Visible) { // subAktivitasKeberangkatanKapalPenKonList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasKeberangkatanKapalPenKonList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenKon_StatusAktivitas" class="SubAktivitasKeberangkatanKapalPenKon_StatusAktivitas">@Html.Raw(subAktivitasKeberangkatanKapalPenKonList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenKonList.StatusAktivitas))</div></th>
} @* subAktivitasKeberangkatanKapalPenKonList.StatusAktivitas.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenKonList.NoReferensi.Visible) { // subAktivitasKeberangkatanKapalPenKonList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasKeberangkatanKapalPenKonList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenKon_NoReferensi" class="SubAktivitasKeberangkatanKapalPenKon_NoReferensi">@Html.Raw(subAktivitasKeberangkatanKapalPenKonList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenKonList.NoReferensi))</div></th>
} @* subAktivitasKeberangkatanKapalPenKonList.NoReferensi.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenKonList.Tanggal.Visible) { // subAktivitasKeberangkatanKapalPenKonList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasKeberangkatanKapalPenKonList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenKon_Tanggal" class="SubAktivitasKeberangkatanKapalPenKon_Tanggal">@Html.Raw(subAktivitasKeberangkatanKapalPenKonList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenKonList.Tanggal))</div></th>
} @* subAktivitasKeberangkatanKapalPenKonList.Tanggal.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenKonList.userInput.Visible) { // subAktivitasKeberangkatanKapalPenKonList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasKeberangkatanKapalPenKonList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenKon_userInput" class="SubAktivitasKeberangkatanKapalPenKon_userInput">@Html.Raw(subAktivitasKeberangkatanKapalPenKonList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenKonList.userInput))</div></th>
} @* subAktivitasKeberangkatanKapalPenKonList.userInput.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasKeberangkatanKapalPenKonList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasKeberangkatanKapalPenKonList.PageNumber)">
@{
    await subAktivitasKeberangkatanKapalPenKonList.SetupGrid();
    bool eof = subAktivitasKeberangkatanKapalPenKonList.Recordset == null; // DN
}
@while (subAktivitasKeberangkatanKapalPenKonList.RecordCount < subAktivitasKeberangkatanKapalPenKonList.StopRecord || SameString(subAktivitasKeberangkatanKapalPenKonList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasKeberangkatanKapalPenKonList.RowIndex, "$rowindex$") &&
        (!subAktivitasKeberangkatanKapalPenKonList.IsGridAdd || subAktivitasKeberangkatanKapalPenKonList.CurrentMode == "copy") &&
        (!((subAktivitasKeberangkatanKapalPenKonList.IsCopy || subAktivitasKeberangkatanKapalPenKonList.IsAdd) && subAktivitasKeberangkatanKapalPenKonList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasKeberangkatanKapalPenKonList.Recordset.ReadAsync();
    subAktivitasKeberangkatanKapalPenKonList.RecordCount++;
    if (subAktivitasKeberangkatanKapalPenKonList.RecordCount >= subAktivitasKeberangkatanKapalPenKonList.StartRecord) {
        await subAktivitasKeberangkatanKapalPenKonList.SetupRow();
    <tr @Html.Raw(subAktivitasKeberangkatanKapalPenKonList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasKeberangkatanKapalPenKonList.ListOptions.RenderBody("left", subAktivitasKeberangkatanKapalPenKonList.RowCount)
    @if (subAktivitasKeberangkatanKapalPenKonList.idProses.Visible) { // subAktivitasKeberangkatanKapalPenKonList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasKeberangkatanKapalPenKonList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenKonList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenKonList.RowCount)_SubAktivitasKeberangkatanKapalPenKon_idProses" class="el_SubAktivitasKeberangkatanKapalPenKon_idProses">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenKonList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenKonList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenKonList.idProses.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenKonList.idAktifitas.Visible) { // subAktivitasKeberangkatanKapalPenKonList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasKeberangkatanKapalPenKonList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenKonList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenKonList.RowCount)_SubAktivitasKeberangkatanKapalPenKon_idAktifitas" class="el_SubAktivitasKeberangkatanKapalPenKon_idAktifitas">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenKonList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenKonList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenKonList.idAktifitas.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenKonList.LastUpdatedBy.Visible) { // subAktivitasKeberangkatanKapalPenKonList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasKeberangkatanKapalPenKonList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenKonList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenKonList.RowCount)_SubAktivitasKeberangkatanKapalPenKon_LastUpdatedBy" class="el_SubAktivitasKeberangkatanKapalPenKon_LastUpdatedBy">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenKonList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenKonList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenKonList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenKonList.lastUpdatedDate.Visible) { // subAktivitasKeberangkatanKapalPenKonList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasKeberangkatanKapalPenKonList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenKonList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenKonList.RowCount)_SubAktivitasKeberangkatanKapalPenKon_lastUpdatedDate" class="el_SubAktivitasKeberangkatanKapalPenKon_lastUpdatedDate">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenKonList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenKonList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenKonList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenKonList.StatusAktivitas.Visible) { // subAktivitasKeberangkatanKapalPenKonList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasKeberangkatanKapalPenKonList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenKonList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenKonList.RowCount)_SubAktivitasKeberangkatanKapalPenKon_StatusAktivitas" class="el_SubAktivitasKeberangkatanKapalPenKon_StatusAktivitas">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenKonList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenKonList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenKonList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenKonList.NoReferensi.Visible) { // subAktivitasKeberangkatanKapalPenKonList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasKeberangkatanKapalPenKonList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenKonList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenKonList.RowCount)_SubAktivitasKeberangkatanKapalPenKon_NoReferensi" class="el_SubAktivitasKeberangkatanKapalPenKon_NoReferensi">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenKonList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenKonList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenKonList.NoReferensi.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenKonList.Tanggal.Visible) { // subAktivitasKeberangkatanKapalPenKonList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasKeberangkatanKapalPenKonList.Tanggal.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenKonList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenKonList.RowCount)_SubAktivitasKeberangkatanKapalPenKon_Tanggal" class="el_SubAktivitasKeberangkatanKapalPenKon_Tanggal">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenKonList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenKonList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenKonList.Tanggal.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenKonList.userInput.Visible) { // subAktivitasKeberangkatanKapalPenKonList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasKeberangkatanKapalPenKonList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenKonList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenKonList.RowCount)_SubAktivitasKeberangkatanKapalPenKon_userInput" class="el_SubAktivitasKeberangkatanKapalPenKon_userInput">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenKonList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenKonList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenKonList.userInput.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasKeberangkatanKapalPenKonList.ListOptions.RenderBody("right", subAktivitasKeberangkatanKapalPenKonList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasKeberangkatanKapalPenKonList.RowIndex, "$rowindex$"))
        subAktivitasKeberangkatanKapalPenKonList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasKeberangkatanKapalPenKonList.IsCopy || subAktivitasKeberangkatanKapalPenKonList.IsAdd) && subAktivitasKeberangkatanKapalPenKonList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasKeberangkatanKapalPenKonList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasKeberangkatanKapalPenKonList.CurrentAction) && !subAktivitasKeberangkatanKapalPenKonList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasKeberangkatanKapalPenKonList.CloseRecordset(); }
@if (!subAktivitasKeberangkatanKapalPenKonList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasKeberangkatanKapalPenKonList.IsGridAdd && !(subAktivitasKeberangkatanKapalPenKonList.IsGridEdit && subAktivitasKeberangkatanKapalPenKonList.ModalGridEdit) && !subAktivitasKeberangkatanKapalPenKonList.IsMultiEdit) {
@Html.Raw(subAktivitasKeberangkatanKapalPenKonList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasKeberangkatanKapalPenKonList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasKeberangkatanKapalPenKonList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasKeberangkatanKapalPenKonList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasKeberangkatanKapalPenKonList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasKeberangkatanKapalPenKonList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasKeberangkatanKapalPenKon");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
