@{
    // View
    View = this;

    // Check action result
    if (subAktivitasHasilPemeriksaanPenyaluranEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasHasilPemeriksaanPenyaluranEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasHasilPemeriksaanPenyaluranEdit.ShowPageHeader()
@subAktivitasHasilPemeriksaanPenyaluranEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasHasilPemeriksaanPenyaluranedit" id="fSubAktivitasHasilPemeriksaanPenyaluranedit" class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasHasilPemeriksaanPenyaluranEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasHasilPemeriksaanPenyaluran: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasHasilPemeriksaanPenyaluranedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasHasilPemeriksaanPenyaluranedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["NamaKapal", [fields.NamaKapal.visible && fields.NamaKapal.required ? ew.Validators.required(fields.NamaKapal.caption) : null], fields.NamaKapal.isInvalid],
            ["Tanggal", [fields.Tanggal.visible && fields.Tanggal.required ? ew.Validators.required(fields.Tanggal.caption) : null, ew.Validators.datetime(fields.Tanggal.clientFormatPattern)], fields.Tanggal.isInvalid],
            ["NamaKegiatan", [fields.NamaKegiatan.visible && fields.NamaKegiatan.required ? ew.Validators.required(fields.NamaKegiatan.caption) : null], fields.NamaKegiatan.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["Density", [fields.Density.visible && fields.Density.required ? ew.Validators.required(fields.Density.caption) : null], fields.Density.isInvalid],
            ["Temperature", [fields.Temperature.visible && fields.Temperature.required ? ew.Validators.required(fields.Temperature.caption) : null], fields.Temperature.isInvalid],
            ["Pressure", [fields.Pressure.visible && fields.Pressure.required ? ew.Validators.required(fields.Pressure.caption) : null], fields.Pressure.isInvalid],
            ["Keterangan", [fields.Keterangan.visible && fields.Keterangan.required ? ew.Validators.required(fields.Keterangan.caption) : null], fields.Keterangan.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "idProses": @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.idProses.ToClientList(subAktivitasHasilPemeriksaanPenyaluranEdit)),
            "idAktifitas": @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.idAktifitas.ToClientList(subAktivitasHasilPemeriksaanPenyaluranEdit)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasHasilPemeriksaanPenyaluranEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasHasilPemeriksaanPenyaluranEdit.OldKeyName)" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasHasilPemeriksaanPenyaluranEdit.id.Visible) { // subAktivitasHasilPemeriksaanPenyaluranEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.id.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluran_id" class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.id.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.id.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluran_id">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasHasilPemeriksaanPenyaluranEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasHasilPemeriksaanPenyaluran" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranEdit.id.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranEdit.idProses.Visible) { // subAktivitasHasilPemeriksaanPenyaluranEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluran_idProses" class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.idProses.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluran_idProses">
<span>@{
    if (IsRTL) {
        subAktivitasHasilPemeriksaanPenyaluranEdit.idProses.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_idProses" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_idProses" id="sv_x_idProses" value="@(RemoveHtml(ConvertToString(subAktivitasHasilPemeriksaanPenyaluranEdit.idProses.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranEdit.idProses.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranEdit.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranEdit.idProses.FormatPattern)" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasHasilPemeriksaanPenyaluran" data-field="x_idProses" data-input="sv_x_idProses" data-value-separator="@(subAktivitasHasilPemeriksaanPenyaluranEdit.idProses.DisplayValueSeparatorAttribute)" name="x_idProses" id="x_idProses" value="@(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranEdit.idProses.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.idProses.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasHasilPemeriksaanPenyaluranedit"], function() {
    fSubAktivitasHasilPemeriksaanPenyaluranedit.createAutoSuggest(Object.assign({"id":"x_idProses","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasHasilPemeriksaanPenyaluranEdit.idProses.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasHasilPemeriksaanPenyaluran.fields.idProses.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.idProses.Lookup.GetParamTag(subAktivitasHasilPemeriksaanPenyaluranEdit, "p_x_idProses"))
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranEdit.idProses.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranEdit.idAktifitas.Visible) { // subAktivitasHasilPemeriksaanPenyaluranEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluran_idAktifitas" class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.idAktifitas.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluran_idAktifitas">
<span>@{
    if (IsRTL) {
        subAktivitasHasilPemeriksaanPenyaluranEdit.idAktifitas.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_idAktifitas" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_idAktifitas" id="sv_x_idAktifitas" value="@(RemoveHtml(ConvertToString(subAktivitasHasilPemeriksaanPenyaluranEdit.idAktifitas.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranEdit.idAktifitas.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranEdit.idAktifitas.FormatPattern)" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasHasilPemeriksaanPenyaluran" data-field="x_idAktifitas" data-input="sv_x_idAktifitas" data-value-separator="@(subAktivitasHasilPemeriksaanPenyaluranEdit.idAktifitas.DisplayValueSeparatorAttribute)" name="x_idAktifitas" id="x_idAktifitas" value="@(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranEdit.idAktifitas.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.idAktifitas.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasHasilPemeriksaanPenyaluranedit"], function() {
    fSubAktivitasHasilPemeriksaanPenyaluranedit.createAutoSuggest(Object.assign({"id":"x_idAktifitas","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasHasilPemeriksaanPenyaluranEdit.idAktifitas.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasHasilPemeriksaanPenyaluran.fields.idAktifitas.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.idAktifitas.Lookup.GetParamTag(subAktivitasHasilPemeriksaanPenyaluranEdit, "p_x_idAktifitas"))
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranEdit.idAktifitas.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranEdit.NoReferensi.Visible) { // subAktivitasHasilPemeriksaanPenyaluranEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluran_NoReferensi" for="x_NoReferensi" class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.NoReferensi.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluran_NoReferensi">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasHasilPemeriksaanPenyaluran" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.NoReferensi.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranEdit.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranEdit.NoReferensi.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranEdit.NamaKapal.Visible) { // subAktivitasHasilPemeriksaanPenyaluranEdit.NamaKapal.Visible (begin)
    <div id="r_NamaKapal" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.NamaKapal.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluran_NamaKapal" for="x_NamaKapal" class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.NamaKapal.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.NamaKapal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.NamaKapal.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluran_NamaKapal">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranEdit.NamaKapal.InputTextType)" name="x_NamaKapal" id="x_NamaKapal" data-table="SubAktivitasHasilPemeriksaanPenyaluran" data-field="x_NamaKapal" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.NamaKapal.EditValue)" size="30" maxlength="200" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranEdit.NamaKapal.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranEdit.NamaKapal.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.NamaKapal.EditAttributes) aria-describedby="x_NamaKapal_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.NamaKapal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.NamaKapal.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranEdit.NamaKapal.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranEdit.Tanggal.Visible) { // subAktivitasHasilPemeriksaanPenyaluranEdit.Tanggal.Visible (begin)
    <div id="r_Tanggal" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Tanggal.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluran_Tanggal" for="x_Tanggal" class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Tanggal.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Tanggal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Tanggal.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluran_Tanggal">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranEdit.Tanggal.InputTextType)" name="x_Tanggal" id="x_Tanggal" data-table="SubAktivitasHasilPemeriksaanPenyaluran" data-field="x_Tanggal" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Tanggal.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranEdit.Tanggal.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranEdit.Tanggal.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Tanggal.EditAttributes) aria-describedby="x_Tanggal_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Tanggal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Tanggal.GetErrorMessage())</div>
@if (!subAktivitasHasilPemeriksaanPenyaluranEdit.Tanggal.ReadOnly && !subAktivitasHasilPemeriksaanPenyaluranEdit.Tanggal.Disabled && !subAktivitasHasilPemeriksaanPenyaluranEdit.Tanggal.EditAttrs.Is("readonly") && !subAktivitasHasilPemeriksaanPenyaluranEdit.Tanggal.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasHasilPemeriksaanPenyaluranedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasHasilPemeriksaanPenyaluranedit", "x_Tanggal", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranEdit.Tanggal.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranEdit.NamaKegiatan.Visible) { // subAktivitasHasilPemeriksaanPenyaluranEdit.NamaKegiatan.Visible (begin)
    <div id="r_NamaKegiatan" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.NamaKegiatan.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluran_NamaKegiatan" for="x_NamaKegiatan" class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.NamaKegiatan.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.NamaKegiatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.NamaKegiatan.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluran_NamaKegiatan">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranEdit.NamaKegiatan.InputTextType)" name="x_NamaKegiatan" id="x_NamaKegiatan" data-table="SubAktivitasHasilPemeriksaanPenyaluran" data-field="x_NamaKegiatan" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.NamaKegiatan.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranEdit.NamaKegiatan.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranEdit.NamaKegiatan.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.NamaKegiatan.EditAttributes) aria-describedby="x_NamaKegiatan_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.NamaKegiatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.NamaKegiatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranEdit.NamaKegiatan.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranEdit.Produk.Visible) { // subAktivitasHasilPemeriksaanPenyaluranEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Produk.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluran_Produk" for="x_Produk" class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Produk.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Produk.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluran_Produk">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasHasilPemeriksaanPenyaluran" data-field="x_Produk" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Produk.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranEdit.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranEdit.Produk.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranEdit.Produk.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranEdit.Density.Visible) { // subAktivitasHasilPemeriksaanPenyaluranEdit.Density.Visible (begin)
    <div id="r_Density" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Density.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluran_Density" for="x_Density" class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Density.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Density.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Density.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluran_Density">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranEdit.Density.InputTextType)" name="x_Density" id="x_Density" data-table="SubAktivitasHasilPemeriksaanPenyaluran" data-field="x_Density" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Density.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranEdit.Density.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranEdit.Density.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Density.EditAttributes) aria-describedby="x_Density_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Density.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Density.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranEdit.Density.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranEdit.Temperature.Visible) { // subAktivitasHasilPemeriksaanPenyaluranEdit.Temperature.Visible (begin)
    <div id="r_Temperature" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Temperature.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluran_Temperature" for="x_Temperature" class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Temperature.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Temperature.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Temperature.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluran_Temperature">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranEdit.Temperature.InputTextType)" name="x_Temperature" id="x_Temperature" data-table="SubAktivitasHasilPemeriksaanPenyaluran" data-field="x_Temperature" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Temperature.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranEdit.Temperature.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranEdit.Temperature.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Temperature.EditAttributes) aria-describedby="x_Temperature_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Temperature.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Temperature.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranEdit.Temperature.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranEdit.Pressure.Visible) { // subAktivitasHasilPemeriksaanPenyaluranEdit.Pressure.Visible (begin)
    <div id="r_Pressure" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Pressure.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluran_Pressure" for="x_Pressure" class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Pressure.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Pressure.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Pressure.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluran_Pressure">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranEdit.Pressure.InputTextType)" name="x_Pressure" id="x_Pressure" data-table="SubAktivitasHasilPemeriksaanPenyaluran" data-field="x_Pressure" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Pressure.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranEdit.Pressure.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranEdit.Pressure.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Pressure.EditAttributes) aria-describedby="x_Pressure_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Pressure.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Pressure.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranEdit.Pressure.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranEdit.Keterangan.Visible) { // subAktivitasHasilPemeriksaanPenyaluranEdit.Keterangan.Visible (begin)
    <div id="r_Keterangan" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Keterangan.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluran_Keterangan" for="x_Keterangan" class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Keterangan.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Keterangan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Keterangan.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluran_Keterangan">
<textarea data-table="SubAktivitasHasilPemeriksaanPenyaluran" data-field="x_Keterangan" name="x_Keterangan" id="x_Keterangan" cols="35" rows="4" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranEdit.Keterangan.PlaceHolder))"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Keterangan.EditAttributes) aria-describedby="x_Keterangan_help">@(subAktivitasHasilPemeriksaanPenyaluranEdit.Keterangan.EditValue)</textarea>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Keterangan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.Keterangan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranEdit.Keterangan.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranEdit.userInput.Visible) { // subAktivitasHasilPemeriksaanPenyaluranEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.userInput.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluran_userInput" for="x_userInput" class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.userInput.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.userInput.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluran_userInput">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasHasilPemeriksaanPenyaluran" data-field="x_userInput" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranEdit.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranEdit.userInput.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranEdit.userInput.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranEdit.etlDate.Visible) { // subAktivitasHasilPemeriksaanPenyaluranEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluran_etlDate" for="x_etlDate" class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.etlDate.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.etlDate.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluran_etlDate">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasHasilPemeriksaanPenyaluran" data-field="x_etlDate" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranEdit.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranEdit.etlDate.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.etlDate.GetErrorMessage())</div>
@if (!subAktivitasHasilPemeriksaanPenyaluranEdit.etlDate.ReadOnly && !subAktivitasHasilPemeriksaanPenyaluranEdit.etlDate.Disabled && !subAktivitasHasilPemeriksaanPenyaluranEdit.etlDate.EditAttrs.Is("readonly") && !subAktivitasHasilPemeriksaanPenyaluranEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasHasilPemeriksaanPenyaluranedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasHasilPemeriksaanPenyaluranedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranEdit.etlDate.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranEdit.LastUpdatedBy.Visible) { // subAktivitasHasilPemeriksaanPenyaluranEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluran_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluran_LastUpdatedBy">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasHasilPemeriksaanPenyaluran" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranEdit.lastUpdatedDate.Visible) { // subAktivitasHasilPemeriksaanPenyaluranEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluran_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluran_lastUpdatedDate">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasHasilPemeriksaanPenyaluran" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasHasilPemeriksaanPenyaluranEdit.lastUpdatedDate.ReadOnly && !subAktivitasHasilPemeriksaanPenyaluranEdit.lastUpdatedDate.Disabled && !subAktivitasHasilPemeriksaanPenyaluranEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasHasilPemeriksaanPenyaluranEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasHasilPemeriksaanPenyaluranedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasHasilPemeriksaanPenyaluranedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranEdit.lastUpdatedDate.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasHasilPemeriksaanPenyaluranEdit.CloseRecordset(); }
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasHasilPemeriksaanPenyaluranEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasHasilPemeriksaanPenyaluranedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasHasilPemeriksaanPenyaluranedit" data-href="@AppPath(subAktivitasHasilPemeriksaanPenyaluranEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasHasilPemeriksaanPenyaluranEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasHasilPemeriksaanPenyaluran");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
