@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputDataStartPembongkaranAdd.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputDataStartPembongkaranAdd.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputDataStartPembongkaranAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputDataStartPembongkaran: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fSubAktivitasFormInputDataStartPembongkaranadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputDataStartPembongkaranadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null, ew.Validators.integer], fields.StatusAktivitas.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["Tanggal", [fields.Tanggal.visible && fields.Tanggal.required ? ew.Validators.required(fields.Tanggal.caption) : null, ew.Validators.datetime(fields.Tanggal.clientFormatPattern)], fields.Tanggal.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "idProses": @Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.idProses.ToClientList(subAktivitasFormInputDataStartPembongkaranAdd)),
            "idAktifitas": @Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.idAktifitas.ToClientList(subAktivitasFormInputDataStartPembongkaranAdd)),
            "StatusAktivitas": @Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.StatusAktivitas.ToClientList(subAktivitasFormInputDataStartPembongkaranAdd)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasFormInputDataStartPembongkaranAdd.ShowPageHeader()
@subAktivitasFormInputDataStartPembongkaranAdd.ShowMessages()
<form name="fSubAktivitasFormInputDataStartPembongkaranadd" id="fSubAktivitasFormInputDataStartPembongkaranadd" class="@(subAktivitasFormInputDataStartPembongkaranAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputDataStartPembongkaranAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasFormInputDataStartPembongkaranAdd.OldKeyName)" value="@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (subAktivitasFormInputDataStartPembongkaranAdd.NoReferensi.Visible) { // subAktivitasFormInputDataStartPembongkaranAdd.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataStartPembongkaran_NoReferensi" for="x_NoReferensi" class="@(subAktivitasFormInputDataStartPembongkaranAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.NoReferensi.Caption)@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputDataStartPembongkaranAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputDataStartPembongkaran_NoReferensi">
<input type="@(subAktivitasFormInputDataStartPembongkaranAdd.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasFormInputDataStartPembongkaran" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.NoReferensi.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputDataStartPembongkaranAdd.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputDataStartPembongkaranAdd.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputDataStartPembongkaranAdd.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputDataStartPembongkaranAdd.idProses.Visible) { // subAktivitasFormInputDataStartPembongkaranAdd.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.idProses.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataStartPembongkaran_idProses" class="@(subAktivitasFormInputDataStartPembongkaranAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.idProses.Caption)@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputDataStartPembongkaranAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputDataStartPembongkaran_idProses">
<span>@{
    if (IsRTL) {
        subAktivitasFormInputDataStartPembongkaranAdd.idProses.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_idProses" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_idProses" id="sv_x_idProses" value="@(RemoveHtml(ConvertToString(subAktivitasFormInputDataStartPembongkaranAdd.idProses.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputDataStartPembongkaranAdd.idProses.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputDataStartPembongkaranAdd.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputDataStartPembongkaranAdd.idProses.FormatPattern)" @Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.idProses.EditAttributes) aria-describedby="x_idProses_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasFormInputDataStartPembongkaran" data-field="x_idProses" data-input="sv_x_idProses" data-value-separator="@(subAktivitasFormInputDataStartPembongkaranAdd.idProses.DisplayValueSeparatorAttribute)" name="x_idProses" id="x_idProses" value="@(HtmlEncode(subAktivitasFormInputDataStartPembongkaranAdd.idProses.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.idProses.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasFormInputDataStartPembongkaranadd"], function() {
    fSubAktivitasFormInputDataStartPembongkaranadd.createAutoSuggest(Object.assign({"id":"x_idProses","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasFormInputDataStartPembongkaranAdd.idProses.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasFormInputDataStartPembongkaran.fields.idProses.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.idProses.Lookup.GetParamTag(subAktivitasFormInputDataStartPembongkaranAdd, "p_x_idProses"))
</span>
</div></div>
    </div>
} @* subAktivitasFormInputDataStartPembongkaranAdd.idProses.Visible (end) *@
@if (subAktivitasFormInputDataStartPembongkaranAdd.idAktifitas.Visible) { // subAktivitasFormInputDataStartPembongkaranAdd.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataStartPembongkaran_idAktifitas" class="@(subAktivitasFormInputDataStartPembongkaranAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.idAktifitas.Caption)@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputDataStartPembongkaranAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputDataStartPembongkaran_idAktifitas">
<span>@{
    if (IsRTL) {
        subAktivitasFormInputDataStartPembongkaranAdd.idAktifitas.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_idAktifitas" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_idAktifitas" id="sv_x_idAktifitas" value="@(RemoveHtml(ConvertToString(subAktivitasFormInputDataStartPembongkaranAdd.idAktifitas.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputDataStartPembongkaranAdd.idAktifitas.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputDataStartPembongkaranAdd.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputDataStartPembongkaranAdd.idAktifitas.FormatPattern)" @Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasFormInputDataStartPembongkaran" data-field="x_idAktifitas" data-input="sv_x_idAktifitas" data-value-separator="@(subAktivitasFormInputDataStartPembongkaranAdd.idAktifitas.DisplayValueSeparatorAttribute)" name="x_idAktifitas" id="x_idAktifitas" value="@(HtmlEncode(subAktivitasFormInputDataStartPembongkaranAdd.idAktifitas.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.idAktifitas.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasFormInputDataStartPembongkaranadd"], function() {
    fSubAktivitasFormInputDataStartPembongkaranadd.createAutoSuggest(Object.assign({"id":"x_idAktifitas","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasFormInputDataStartPembongkaranAdd.idAktifitas.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasFormInputDataStartPembongkaran.fields.idAktifitas.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.idAktifitas.Lookup.GetParamTag(subAktivitasFormInputDataStartPembongkaranAdd, "p_x_idAktifitas"))
</span>
</div></div>
    </div>
} @* subAktivitasFormInputDataStartPembongkaranAdd.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputDataStartPembongkaranAdd.StatusAktivitas.Visible) { // subAktivitasFormInputDataStartPembongkaranAdd.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.StatusAktivitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataStartPembongkaran_StatusAktivitas" class="@(subAktivitasFormInputDataStartPembongkaranAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.StatusAktivitas.Caption)@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputDataStartPembongkaranAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasFormInputDataStartPembongkaran_StatusAktivitas">
<span>@{
    if (IsRTL) {
        subAktivitasFormInputDataStartPembongkaranAdd.StatusAktivitas.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_StatusAktivitas" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_StatusAktivitas" id="sv_x_StatusAktivitas" value="@(RemoveHtml(ConvertToString(subAktivitasFormInputDataStartPembongkaranAdd.StatusAktivitas.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputDataStartPembongkaranAdd.StatusAktivitas.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputDataStartPembongkaranAdd.StatusAktivitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputDataStartPembongkaranAdd.StatusAktivitas.FormatPattern)" @Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.StatusAktivitas.EditAttributes) aria-describedby="x_StatusAktivitas_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasFormInputDataStartPembongkaran" data-field="x_StatusAktivitas" data-input="sv_x_StatusAktivitas" data-value-separator="@(subAktivitasFormInputDataStartPembongkaranAdd.StatusAktivitas.DisplayValueSeparatorAttribute)" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@(HtmlEncode(subAktivitasFormInputDataStartPembongkaranAdd.StatusAktivitas.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.StatusAktivitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.StatusAktivitas.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasFormInputDataStartPembongkaranadd"], function() {
    fSubAktivitasFormInputDataStartPembongkaranadd.createAutoSuggest(Object.assign({"id":"x_StatusAktivitas","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasFormInputDataStartPembongkaranAdd.StatusAktivitas.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasFormInputDataStartPembongkaran.fields.StatusAktivitas.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.StatusAktivitas.Lookup.GetParamTag(subAktivitasFormInputDataStartPembongkaranAdd, "p_x_StatusAktivitas"))
</span>
</div></div>
    </div>
} @* subAktivitasFormInputDataStartPembongkaranAdd.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputDataStartPembongkaranAdd.LastUpdatedBy.Visible) { // subAktivitasFormInputDataStartPembongkaranAdd.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataStartPembongkaran_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasFormInputDataStartPembongkaranAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.LastUpdatedBy.Caption)@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputDataStartPembongkaranAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputDataStartPembongkaran_LastUpdatedBy">
<input type="@(subAktivitasFormInputDataStartPembongkaranAdd.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasFormInputDataStartPembongkaran" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputDataStartPembongkaranAdd.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputDataStartPembongkaranAdd.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputDataStartPembongkaranAdd.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputDataStartPembongkaranAdd.lastUpdatedDate.Visible) { // subAktivitasFormInputDataStartPembongkaranAdd.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataStartPembongkaran_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasFormInputDataStartPembongkaranAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.lastUpdatedDate.Caption)@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputDataStartPembongkaranAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputDataStartPembongkaran_lastUpdatedDate">
<input type="@(subAktivitasFormInputDataStartPembongkaranAdd.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasFormInputDataStartPembongkaran" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputDataStartPembongkaranAdd.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputDataStartPembongkaranAdd.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputDataStartPembongkaranAdd.lastUpdatedDate.ReadOnly && !subAktivitasFormInputDataStartPembongkaranAdd.lastUpdatedDate.Disabled && !subAktivitasFormInputDataStartPembongkaranAdd.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasFormInputDataStartPembongkaranAdd.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputDataStartPembongkaranadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputDataStartPembongkaranadd", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputDataStartPembongkaranAdd.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputDataStartPembongkaranAdd.Tanggal.Visible) { // subAktivitasFormInputDataStartPembongkaranAdd.Tanggal.Visible (begin)
    <div id="r_Tanggal" @Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.Tanggal.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataStartPembongkaran_Tanggal" for="x_Tanggal" class="@(subAktivitasFormInputDataStartPembongkaranAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.Tanggal.Caption)@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.Tanggal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputDataStartPembongkaranAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.Tanggal.CellAttributes)>
<span id="el_SubAktivitasFormInputDataStartPembongkaran_Tanggal">
<input type="@(subAktivitasFormInputDataStartPembongkaranAdd.Tanggal.InputTextType)" name="x_Tanggal" id="x_Tanggal" data-table="SubAktivitasFormInputDataStartPembongkaran" data-field="x_Tanggal" value="@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.Tanggal.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputDataStartPembongkaranAdd.Tanggal.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputDataStartPembongkaranAdd.Tanggal.FormatPattern)"@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.Tanggal.EditAttributes) aria-describedby="x_Tanggal_help">
@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.Tanggal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.Tanggal.GetErrorMessage())</div>
@if (!subAktivitasFormInputDataStartPembongkaranAdd.Tanggal.ReadOnly && !subAktivitasFormInputDataStartPembongkaranAdd.Tanggal.Disabled && !subAktivitasFormInputDataStartPembongkaranAdd.Tanggal.EditAttrs.Is("readonly") && !subAktivitasFormInputDataStartPembongkaranAdd.Tanggal.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputDataStartPembongkaranadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputDataStartPembongkaranadd", "x_Tanggal", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputDataStartPembongkaranAdd.Tanggal.Visible (end) *@
@if (subAktivitasFormInputDataStartPembongkaranAdd.userInput.Visible) { // subAktivitasFormInputDataStartPembongkaranAdd.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.userInput.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataStartPembongkaran_userInput" for="x_userInput" class="@(subAktivitasFormInputDataStartPembongkaranAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.userInput.Caption)@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputDataStartPembongkaranAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputDataStartPembongkaran_userInput">
<input type="@(subAktivitasFormInputDataStartPembongkaranAdd.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasFormInputDataStartPembongkaran" data-field="x_userInput" value="@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputDataStartPembongkaranAdd.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputDataStartPembongkaranAdd.userInput.FormatPattern)"@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputDataStartPembongkaranAdd.userInput.Visible (end) *@
@if (subAktivitasFormInputDataStartPembongkaranAdd.etlDate.Visible) { // subAktivitasFormInputDataStartPembongkaranAdd.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataStartPembongkaran_etlDate" for="x_etlDate" class="@(subAktivitasFormInputDataStartPembongkaranAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.etlDate.Caption)@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputDataStartPembongkaranAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputDataStartPembongkaran_etlDate">
<input type="@(subAktivitasFormInputDataStartPembongkaranAdd.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasFormInputDataStartPembongkaran" data-field="x_etlDate" value="@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputDataStartPembongkaranAdd.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputDataStartPembongkaranAdd.etlDate.FormatPattern)"@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.etlDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputDataStartPembongkaranAdd.etlDate.ReadOnly && !subAktivitasFormInputDataStartPembongkaranAdd.etlDate.Disabled && !subAktivitasFormInputDataStartPembongkaranAdd.etlDate.EditAttrs.Is("readonly") && !subAktivitasFormInputDataStartPembongkaranAdd.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputDataStartPembongkaranadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputDataStartPembongkaranadd", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputDataStartPembongkaranAdd.etlDate.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasFormInputDataStartPembongkaranAdd.CloseRecordset(); }
@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasFormInputDataStartPembongkaranAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasFormInputDataStartPembongkaranadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasFormInputDataStartPembongkaranadd" data-href="@AppPath(subAktivitasFormInputDataStartPembongkaranAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasFormInputDataStartPembongkaranAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@subAktivitasFormInputDataStartPembongkaranAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputDataStartPembongkaran");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
