@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputMonitoringStockStsPymSlpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputMonitoringStockStsPymSlpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputMonitoringStockStsPymSlpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputMonitoringStockStsPymSlpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputMonitoringStockSTSPymSLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasFormInputMonitoringStockStsPymSlpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasFormInputMonitoringStockStsPymSlpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasFormInputMonitoringStockStsPymSlpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasFormInputMonitoringStockStsPymSlpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasFormInputMonitoringStockStsPymSlpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasFormInputMonitoringStockStsPymSlpgList.TotalRecords > 0 && subAktivitasFormInputMonitoringStockStsPymSlpgList.ExportOptions.Visible) {
    subAktivitasFormInputMonitoringStockStsPymSlpgList.ExportOptions.Render("body");
}
@if (subAktivitasFormInputMonitoringStockStsPymSlpgList.ImportOptions.Visible) {
    subAktivitasFormInputMonitoringStockStsPymSlpgList.ImportOptions.Render("body");
}
@if (subAktivitasFormInputMonitoringStockStsPymSlpgList.SearchOptions.Visible) {
    subAktivitasFormInputMonitoringStockStsPymSlpgList.SearchOptions.Render("body");
}
@if (subAktivitasFormInputMonitoringStockStsPymSlpgList.FilterOptions.Visible) {
    subAktivitasFormInputMonitoringStockStsPymSlpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasFormInputMonitoringStockStsPymSlpgList.IsModal) {
<form name="fSubAktivitasFormInputMonitoringStockSTSPymSLPGsrch" id="fSubAktivitasFormInputMonitoringStockSTSPymSLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasFormInputMonitoringStockSTSPymSLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasFormInputMonitoringStockStsPymSlpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputMonitoringStockStsPymSlpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputMonitoringStockSTSPymSLPG: currentTable } });
var currentForm;
var fSubAktivitasFormInputMonitoringStockSTSPymSLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputMonitoringStockSTSPymSLPGsrch")
        .setPageId("list")
@if (subAktivitasFormInputMonitoringStockStsPymSlpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasFormInputMonitoringStockStsPymSlpgList.IsExport() && Empty(subAktivitasFormInputMonitoringStockStsPymSlpgList.CurrentAction) && subAktivitasFormInputMonitoringStockStsPymSlpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSlpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSlpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasFormInputMonitoringStockStsPymSlpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasFormInputMonitoringStockSTSPymSLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputMonitoringStockStsPymSlpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasFormInputMonitoringStockSTSPymSLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputMonitoringStockStsPymSlpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasFormInputMonitoringStockSTSPymSLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputMonitoringStockStsPymSlpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasFormInputMonitoringStockSTSPymSLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasFormInputMonitoringStockStsPymSlpgList.ShowPageHeader()
@subAktivitasFormInputMonitoringStockStsPymSlpgList.ShowMessages()
<main class="list @(subAktivitasFormInputMonitoringStockStsPymSlpgList.TotalRecords == 0 && !subAktivitasFormInputMonitoringStockStsPymSlpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasFormInputMonitoringStockStsPymSlpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasFormInputMonitoringStockStsPymSlpgList.TotalRecords > 0 || !Empty(subAktivitasFormInputMonitoringStockStsPymSlpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasFormInputMonitoringStockStsPymSlpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasFormInputMonitoringStockStsPymSlpgList.TableGridClass)">
<form name="@(subAktivitasFormInputMonitoringStockStsPymSlpgList.FormName)" id="@(subAktivitasFormInputMonitoringStockStsPymSlpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasFormInputMonitoringStockStsPymSlpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasFormInputMonitoringStockStsPymSlpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasFormInputMonitoringStockSTSPymSLPG" class="card-body ew-grid-middle-panel @(subAktivitasFormInputMonitoringStockStsPymSlpgList.TableContainerClass)" style="@(subAktivitasFormInputMonitoringStockStsPymSlpgList.TableContainerStyle)">
@if (subAktivitasFormInputMonitoringStockStsPymSlpgList.TotalRecords > 0 || subAktivitasFormInputMonitoringStockStsPymSlpgList.IsGridEdit || subAktivitasFormInputMonitoringStockStsPymSlpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasFormInputMonitoringStockSTSPymSLPGlist" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasFormInputMonitoringStockStsPymSlpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasFormInputMonitoringStockStsPymSlpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasFormInputMonitoringStockStsPymSlpgList.ListOptions.RenderHeader("left")
@if (subAktivitasFormInputMonitoringStockStsPymSlpgList.id.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_id" class="SubAktivitasFormInputMonitoringStockSTSPymSLPG_id">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.RenderFieldHeader(subAktivitasFormInputMonitoringStockStsPymSlpgList.id))</div></th>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgList.id.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSlpgList.idProses.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_idProses" class="SubAktivitasFormInputMonitoringStockSTSPymSLPG_idProses">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.RenderFieldHeader(subAktivitasFormInputMonitoringStockStsPymSlpgList.idProses))</div></th>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgList.idProses.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSlpgList.idAktifitas.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_idAktifitas" class="SubAktivitasFormInputMonitoringStockSTSPymSLPG_idAktifitas">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.RenderFieldHeader(subAktivitasFormInputMonitoringStockStsPymSlpgList.idAktifitas))</div></th>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgList.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSlpgList.NoReferensi.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_NoReferensi" class="SubAktivitasFormInputMonitoringStockSTSPymSLPG_NoReferensi">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.RenderFieldHeader(subAktivitasFormInputMonitoringStockStsPymSlpgList.NoReferensi))</div></th>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgList.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSlpgList.NomorTangki.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgList.NomorTangki.Visible (begin)
        <th data-name="NomorTangki" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgList.NomorTangki.HeaderCellClass)"><div id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_NomorTangki" class="SubAktivitasFormInputMonitoringStockSTSPymSLPG_NomorTangki">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.RenderFieldHeader(subAktivitasFormInputMonitoringStockStsPymSlpgList.NomorTangki))</div></th>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgList.NomorTangki.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSlpgList.Produk.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_Produk" class="SubAktivitasFormInputMonitoringStockSTSPymSLPG_Produk">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.RenderFieldHeader(subAktivitasFormInputMonitoringStockStsPymSlpgList.Produk))</div></th>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgList.Produk.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSlpgList.Aktivitas2.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgList.Aktivitas2.Visible (begin)
        <th data-name="Aktivitas2" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgList.Aktivitas2.HeaderCellClass)"><div id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_Aktivitas2" class="SubAktivitasFormInputMonitoringStockSTSPymSLPG_Aktivitas2">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.RenderFieldHeader(subAktivitasFormInputMonitoringStockStsPymSlpgList.Aktivitas2))</div></th>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgList.Aktivitas2.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSlpgList.QuantityAwal.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgList.QuantityAwal.Visible (begin)
        <th data-name="QuantityAwal" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgList.QuantityAwal.HeaderCellClass)"><div id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_QuantityAwal" class="SubAktivitasFormInputMonitoringStockSTSPymSLPG_QuantityAwal">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.RenderFieldHeader(subAktivitasFormInputMonitoringStockStsPymSlpgList.QuantityAwal))</div></th>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgList.QuantityAwal.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSlpgList.QuantityAkhir.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgList.QuantityAkhir.Visible (begin)
        <th data-name="QuantityAkhir" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgList.QuantityAkhir.HeaderCellClass)"><div id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_QuantityAkhir" class="SubAktivitasFormInputMonitoringStockSTSPymSLPG_QuantityAkhir">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.RenderFieldHeader(subAktivitasFormInputMonitoringStockStsPymSlpgList.QuantityAkhir))</div></th>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgList.QuantityAkhir.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSlpgList.Flowrate.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgList.Flowrate.Visible (begin)
        <th data-name="Flowrate" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgList.Flowrate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_Flowrate" class="SubAktivitasFormInputMonitoringStockSTSPymSLPG_Flowrate">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.RenderFieldHeader(subAktivitasFormInputMonitoringStockStsPymSlpgList.Flowrate))</div></th>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgList.Flowrate.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSlpgList.userInput.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_userInput" class="SubAktivitasFormInputMonitoringStockSTSPymSLPG_userInput">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.RenderFieldHeader(subAktivitasFormInputMonitoringStockStsPymSlpgList.userInput))</div></th>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgList.userInput.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSlpgList.etlDate.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_etlDate" class="SubAktivitasFormInputMonitoringStockSTSPymSLPG_etlDate">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.RenderFieldHeader(subAktivitasFormInputMonitoringStockStsPymSlpgList.etlDate))</div></th>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgList.etlDate.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSlpgList.LastUpdatedBy.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_LastUpdatedBy" class="SubAktivitasFormInputMonitoringStockSTSPymSLPG_LastUpdatedBy">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.RenderFieldHeader(subAktivitasFormInputMonitoringStockStsPymSlpgList.LastUpdatedBy))</div></th>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSlpgList.lastUpdatedDate.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_lastUpdatedDate" class="SubAktivitasFormInputMonitoringStockSTSPymSLPG_lastUpdatedDate">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.RenderFieldHeader(subAktivitasFormInputMonitoringStockStsPymSlpgList.lastUpdatedDate))</div></th>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSlpgList.TanggalQuantityAwal.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgList.TanggalQuantityAwal.Visible (begin)
        <th data-name="TanggalQuantityAwal" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgList.TanggalQuantityAwal.HeaderCellClass)"><div id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_TanggalQuantityAwal" class="SubAktivitasFormInputMonitoringStockSTSPymSLPG_TanggalQuantityAwal">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.RenderFieldHeader(subAktivitasFormInputMonitoringStockStsPymSlpgList.TanggalQuantityAwal))</div></th>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgList.TanggalQuantityAwal.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSlpgList.TanggalQuantityAkhir.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgList.TanggalQuantityAkhir.Visible (begin)
        <th data-name="TanggalQuantityAkhir" class="@(subAktivitasFormInputMonitoringStockStsPymSlpgList.TanggalQuantityAkhir.HeaderCellClass)"><div id="elh_SubAktivitasFormInputMonitoringStockSTSPymSLPG_TanggalQuantityAkhir" class="SubAktivitasFormInputMonitoringStockSTSPymSLPG_TanggalQuantityAkhir">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.RenderFieldHeader(subAktivitasFormInputMonitoringStockStsPymSlpgList.TanggalQuantityAkhir))</div></th>
} @* subAktivitasFormInputMonitoringStockStsPymSlpgList.TanggalQuantityAkhir.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasFormInputMonitoringStockStsPymSlpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasFormInputMonitoringStockStsPymSlpgList.PageNumber)">
@{
    await subAktivitasFormInputMonitoringStockStsPymSlpgList.SetupGrid();
    bool eof = subAktivitasFormInputMonitoringStockStsPymSlpgList.Recordset == null; // DN
}
@while (subAktivitasFormInputMonitoringStockStsPymSlpgList.RecordCount < subAktivitasFormInputMonitoringStockStsPymSlpgList.StopRecord || SameString(subAktivitasFormInputMonitoringStockStsPymSlpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasFormInputMonitoringStockStsPymSlpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasFormInputMonitoringStockStsPymSlpgList.IsGridAdd || subAktivitasFormInputMonitoringStockStsPymSlpgList.CurrentMode == "copy") &&
        (!((subAktivitasFormInputMonitoringStockStsPymSlpgList.IsCopy || subAktivitasFormInputMonitoringStockStsPymSlpgList.IsAdd) && subAktivitasFormInputMonitoringStockStsPymSlpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasFormInputMonitoringStockStsPymSlpgList.Recordset.ReadAsync();
    subAktivitasFormInputMonitoringStockStsPymSlpgList.RecordCount++;
    if (subAktivitasFormInputMonitoringStockStsPymSlpgList.RecordCount >= subAktivitasFormInputMonitoringStockStsPymSlpgList.StartRecord) {
        await subAktivitasFormInputMonitoringStockStsPymSlpgList.SetupRow();
    <tr @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasFormInputMonitoringStockStsPymSlpgList.ListOptions.RenderBody("left", subAktivitasFormInputMonitoringStockStsPymSlpgList.RowCount)
    @if (subAktivitasFormInputMonitoringStockStsPymSlpgList.id.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.id.CellAttributes)>
<span id="el@(subAktivitasFormInputMonitoringStockStsPymSlpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputMonitoringStockStsPymSlpgList.RowCount)_SubAktivitasFormInputMonitoringStockSTSPymSLPG_id" class="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_id">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputMonitoringStockStsPymSlpgList.id.Visible (end) *@
    @if (subAktivitasFormInputMonitoringStockStsPymSlpgList.idProses.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.idProses.CellAttributes)>
<span id="el@(subAktivitasFormInputMonitoringStockStsPymSlpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputMonitoringStockStsPymSlpgList.RowCount)_SubAktivitasFormInputMonitoringStockSTSPymSLPG_idProses" class="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_idProses">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputMonitoringStockStsPymSlpgList.idProses.Visible (end) *@
    @if (subAktivitasFormInputMonitoringStockStsPymSlpgList.idAktifitas.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasFormInputMonitoringStockStsPymSlpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputMonitoringStockStsPymSlpgList.RowCount)_SubAktivitasFormInputMonitoringStockSTSPymSLPG_idAktifitas" class="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_idAktifitas">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputMonitoringStockStsPymSlpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasFormInputMonitoringStockStsPymSlpgList.NoReferensi.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasFormInputMonitoringStockStsPymSlpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputMonitoringStockStsPymSlpgList.RowCount)_SubAktivitasFormInputMonitoringStockSTSPymSLPG_NoReferensi" class="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_NoReferensi">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputMonitoringStockStsPymSlpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasFormInputMonitoringStockStsPymSlpgList.NomorTangki.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgList.NomorTangki.Visible (begin)
        <td data-name="NomorTangki" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.NomorTangki.CellAttributes)>
<span id="el@(subAktivitasFormInputMonitoringStockStsPymSlpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputMonitoringStockStsPymSlpgList.RowCount)_SubAktivitasFormInputMonitoringStockSTSPymSLPG_NomorTangki" class="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_NomorTangki">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.NomorTangki.ViewAttributes)>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.NomorTangki.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputMonitoringStockStsPymSlpgList.NomorTangki.Visible (end) *@
    @if (subAktivitasFormInputMonitoringStockStsPymSlpgList.Produk.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.Produk.CellAttributes)>
<span id="el@(subAktivitasFormInputMonitoringStockStsPymSlpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputMonitoringStockStsPymSlpgList.RowCount)_SubAktivitasFormInputMonitoringStockSTSPymSLPG_Produk" class="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_Produk">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputMonitoringStockStsPymSlpgList.Produk.Visible (end) *@
    @if (subAktivitasFormInputMonitoringStockStsPymSlpgList.Aktivitas2.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgList.Aktivitas2.Visible (begin)
        <td data-name="Aktivitas2" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.Aktivitas2.CellAttributes)>
<span id="el@(subAktivitasFormInputMonitoringStockStsPymSlpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputMonitoringStockStsPymSlpgList.RowCount)_SubAktivitasFormInputMonitoringStockSTSPymSLPG_Aktivitas2" class="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_Aktivitas2">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.Aktivitas2.ViewAttributes)>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.Aktivitas2.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputMonitoringStockStsPymSlpgList.Aktivitas2.Visible (end) *@
    @if (subAktivitasFormInputMonitoringStockStsPymSlpgList.QuantityAwal.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgList.QuantityAwal.Visible (begin)
        <td data-name="QuantityAwal" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.QuantityAwal.CellAttributes)>
<span id="el@(subAktivitasFormInputMonitoringStockStsPymSlpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputMonitoringStockStsPymSlpgList.RowCount)_SubAktivitasFormInputMonitoringStockSTSPymSLPG_QuantityAwal" class="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_QuantityAwal">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.QuantityAwal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.QuantityAwal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputMonitoringStockStsPymSlpgList.QuantityAwal.Visible (end) *@
    @if (subAktivitasFormInputMonitoringStockStsPymSlpgList.QuantityAkhir.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgList.QuantityAkhir.Visible (begin)
        <td data-name="QuantityAkhir" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.QuantityAkhir.CellAttributes)>
<span id="el@(subAktivitasFormInputMonitoringStockStsPymSlpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputMonitoringStockStsPymSlpgList.RowCount)_SubAktivitasFormInputMonitoringStockSTSPymSLPG_QuantityAkhir" class="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_QuantityAkhir">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.QuantityAkhir.ViewAttributes)>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.QuantityAkhir.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputMonitoringStockStsPymSlpgList.QuantityAkhir.Visible (end) *@
    @if (subAktivitasFormInputMonitoringStockStsPymSlpgList.Flowrate.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgList.Flowrate.Visible (begin)
        <td data-name="Flowrate" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.Flowrate.CellAttributes)>
<span id="el@(subAktivitasFormInputMonitoringStockStsPymSlpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputMonitoringStockStsPymSlpgList.RowCount)_SubAktivitasFormInputMonitoringStockSTSPymSLPG_Flowrate" class="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_Flowrate">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.Flowrate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.Flowrate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputMonitoringStockStsPymSlpgList.Flowrate.Visible (end) *@
    @if (subAktivitasFormInputMonitoringStockStsPymSlpgList.userInput.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.userInput.CellAttributes)>
<span id="el@(subAktivitasFormInputMonitoringStockStsPymSlpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputMonitoringStockStsPymSlpgList.RowCount)_SubAktivitasFormInputMonitoringStockSTSPymSLPG_userInput" class="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_userInput">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputMonitoringStockStsPymSlpgList.userInput.Visible (end) *@
    @if (subAktivitasFormInputMonitoringStockStsPymSlpgList.etlDate.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.etlDate.CellAttributes)>
<span id="el@(subAktivitasFormInputMonitoringStockStsPymSlpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputMonitoringStockStsPymSlpgList.RowCount)_SubAktivitasFormInputMonitoringStockSTSPymSLPG_etlDate" class="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_etlDate">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputMonitoringStockStsPymSlpgList.etlDate.Visible (end) *@
    @if (subAktivitasFormInputMonitoringStockStsPymSlpgList.LastUpdatedBy.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasFormInputMonitoringStockStsPymSlpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputMonitoringStockStsPymSlpgList.RowCount)_SubAktivitasFormInputMonitoringStockSTSPymSLPG_LastUpdatedBy" class="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputMonitoringStockStsPymSlpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasFormInputMonitoringStockStsPymSlpgList.lastUpdatedDate.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasFormInputMonitoringStockStsPymSlpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputMonitoringStockStsPymSlpgList.RowCount)_SubAktivitasFormInputMonitoringStockSTSPymSLPG_lastUpdatedDate" class="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputMonitoringStockStsPymSlpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasFormInputMonitoringStockStsPymSlpgList.TanggalQuantityAwal.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgList.TanggalQuantityAwal.Visible (begin)
        <td data-name="TanggalQuantityAwal" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.TanggalQuantityAwal.CellAttributes)>
<span id="el@(subAktivitasFormInputMonitoringStockStsPymSlpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputMonitoringStockStsPymSlpgList.RowCount)_SubAktivitasFormInputMonitoringStockSTSPymSLPG_TanggalQuantityAwal" class="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_TanggalQuantityAwal">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.TanggalQuantityAwal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.TanggalQuantityAwal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputMonitoringStockStsPymSlpgList.TanggalQuantityAwal.Visible (end) *@
    @if (subAktivitasFormInputMonitoringStockStsPymSlpgList.TanggalQuantityAkhir.Visible) { // subAktivitasFormInputMonitoringStockStsPymSlpgList.TanggalQuantityAkhir.Visible (begin)
        <td data-name="TanggalQuantityAkhir" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.TanggalQuantityAkhir.CellAttributes)>
<span id="el@(subAktivitasFormInputMonitoringStockStsPymSlpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputMonitoringStockStsPymSlpgList.RowCount)_SubAktivitasFormInputMonitoringStockSTSPymSLPG_TanggalQuantityAkhir" class="el_SubAktivitasFormInputMonitoringStockSTSPymSLPG_TanggalQuantityAkhir">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.TanggalQuantityAkhir.ViewAttributes)>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.TanggalQuantityAkhir.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputMonitoringStockStsPymSlpgList.TanggalQuantityAkhir.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasFormInputMonitoringStockStsPymSlpgList.ListOptions.RenderBody("right", subAktivitasFormInputMonitoringStockStsPymSlpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasFormInputMonitoringStockStsPymSlpgList.RowIndex, "$rowindex$"))
        subAktivitasFormInputMonitoringStockStsPymSlpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasFormInputMonitoringStockStsPymSlpgList.IsCopy || subAktivitasFormInputMonitoringStockStsPymSlpgList.IsAdd) && subAktivitasFormInputMonitoringStockStsPymSlpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasFormInputMonitoringStockStsPymSlpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasFormInputMonitoringStockStsPymSlpgList.CurrentAction) && !subAktivitasFormInputMonitoringStockStsPymSlpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasFormInputMonitoringStockStsPymSlpgList.CloseRecordset(); }
@if (!subAktivitasFormInputMonitoringStockStsPymSlpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasFormInputMonitoringStockStsPymSlpgList.IsGridAdd && !(subAktivitasFormInputMonitoringStockStsPymSlpgList.IsGridEdit && subAktivitasFormInputMonitoringStockStsPymSlpgList.ModalGridEdit) && !subAktivitasFormInputMonitoringStockStsPymSlpgList.IsMultiEdit) {
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSlpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasFormInputMonitoringStockStsPymSlpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasFormInputMonitoringStockStsPymSlpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasFormInputMonitoringStockStsPymSlpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasFormInputMonitoringStockStsPymSlpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputMonitoringStockStsPymSlpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputMonitoringStockSTSPymSLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
