@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputNilaiAktualDischargeView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputNilaiAktualDischargeView.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputNilaiAktualDischargeView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @subAktivitasFormInputNilaiAktualDischargeView.ExportOptions.RenderBody()
    @subAktivitasFormInputNilaiAktualDischargeView.OtherOptions.RenderBody()
</div>
}
@subAktivitasFormInputNilaiAktualDischargeView.ShowPageHeader()
@subAktivitasFormInputNilaiAktualDischargeView.ShowMessages()
<main class="view">
<form name="fSubAktivitasFormInputNilaiAktualDischargeview" id="fSubAktivitasFormInputNilaiAktualDischargeview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!subAktivitasFormInputNilaiAktualDischargeView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputNilaiAktualDischargeView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputNilaiAktualDischarge: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fSubAktivitasFormInputNilaiAktualDischargeview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputNilaiAktualDischargeview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputNilaiAktualDischargeView.IsModal)">
<table class="@(subAktivitasFormInputNilaiAktualDischargeView.TableClass)">
@if (subAktivitasFormInputNilaiAktualDischargeView.id.Visible) { // subAktivitasFormInputNilaiAktualDischargeView.id.Visible (begin)
    <tr id="r_id" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.id.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktualDischargeView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktualDischarge_id">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.id.Caption)</span></td>
        <td data-name="id" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.id.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktualDischarge_id">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.id.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktualDischargeView.id.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeView.idAktifitas.Visible) { // subAktivitasFormInputNilaiAktualDischargeView.idAktifitas.Visible (begin)
    <tr id="r_idAktifitas" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.idAktifitas.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktualDischargeView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktualDischarge_idAktifitas">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.idAktifitas.Caption)</span></td>
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktualDischarge_idAktifitas">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.idAktifitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktualDischargeView.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeView.idProses.Visible) { // subAktivitasFormInputNilaiAktualDischargeView.idProses.Visible (begin)
    <tr id="r_idProses" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.idProses.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktualDischargeView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktualDischarge_idProses">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.idProses.Caption)</span></td>
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktualDischarge_idProses">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.idProses.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktualDischargeView.idProses.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeView.NoReferensi.Visible) { // subAktivitasFormInputNilaiAktualDischargeView.NoReferensi.Visible (begin)
    <tr id="r_NoReferensi" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.NoReferensi.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktualDischargeView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktualDischarge_NoReferensi">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.NoReferensi.Caption)</span></td>
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktualDischarge_NoReferensi">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.NoReferensi.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktualDischargeView.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeView.KL_Obs.Visible) { // subAktivitasFormInputNilaiAktualDischargeView.KL_Obs.Visible (begin)
    <tr id="r_KL_Obs" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.KL_Obs.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktualDischargeView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktualDischarge_KL_Obs">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.KL_Obs.Caption)</span></td>
        <td data-name="KL_Obs" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.KL_Obs.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktualDischarge_KL_Obs">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.KL_Obs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.KL_Obs.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktualDischargeView.KL_Obs.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeView.KL_15.Visible) { // subAktivitasFormInputNilaiAktualDischargeView.KL_15.Visible (begin)
    <tr id="r_KL_15" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.KL_15.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktualDischargeView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktualDischarge_KL_15">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.KL_15.Caption)</span></td>
        <td data-name="KL_15" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.KL_15.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktualDischarge_KL_15">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.KL_15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.KL_15.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktualDischargeView.KL_15.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeView.Barrels.Visible) { // subAktivitasFormInputNilaiAktualDischargeView.Barrels.Visible (begin)
    <tr id="r_Barrels" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.Barrels.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktualDischargeView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktualDischarge_Barrels">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.Barrels.Caption)</span></td>
        <td data-name="Barrels" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.Barrels.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktualDischarge_Barrels">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.Barrels.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.Barrels.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktualDischargeView.Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeView.LT.Visible) { // subAktivitasFormInputNilaiAktualDischargeView.LT.Visible (begin)
    <tr id="r_LT" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.LT.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktualDischargeView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktualDischarge_LT">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.LT.Caption)</span></td>
        <td data-name="LT" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.LT.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktualDischarge_LT">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.LT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.LT.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktualDischargeView.LT.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeView.MT.Visible) { // subAktivitasFormInputNilaiAktualDischargeView.MT.Visible (begin)
    <tr id="r_MT" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.MT.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktualDischargeView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktualDischarge_MT">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.MT.Caption)</span></td>
        <td data-name="MT" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.MT.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktualDischarge_MT">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.MT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.MT.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktualDischargeView.MT.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeView.userInput.Visible) { // subAktivitasFormInputNilaiAktualDischargeView.userInput.Visible (begin)
    <tr id="r_userInput" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.userInput.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktualDischargeView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktualDischarge_userInput">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.userInput.Caption)</span></td>
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktualDischarge_userInput">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.userInput.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktualDischargeView.userInput.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeView.etlDate.Visible) { // subAktivitasFormInputNilaiAktualDischargeView.etlDate.Visible (begin)
    <tr id="r_etlDate" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.etlDate.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktualDischargeView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktualDischarge_etlDate">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.etlDate.Caption)</span></td>
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktualDischarge_etlDate">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.etlDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktualDischargeView.etlDate.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeView.LastUpdatedBy.Visible) { // subAktivitasFormInputNilaiAktualDischargeView.LastUpdatedBy.Visible (begin)
    <tr id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.LastUpdatedBy.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktualDischargeView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktualDischarge_LastUpdatedBy">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.LastUpdatedBy.Caption)</span></td>
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktualDischarge_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.LastUpdatedBy.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktualDischargeView.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeView.lastUpdatedDate.Visible) { // subAktivitasFormInputNilaiAktualDischargeView.lastUpdatedDate.Visible (begin)
    <tr id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.lastUpdatedDate.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktualDischargeView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktualDischarge_lastUpdatedDate">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.lastUpdatedDate.Caption)</span></td>
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktualDischarge_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.lastUpdatedDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktualDischargeView.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeView.StatusAktivitas.Visible) { // subAktivitasFormInputNilaiAktualDischargeView.StatusAktivitas.Visible (begin)
    <tr id="r_StatusAktivitas" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.StatusAktivitas.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktualDischargeView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktualDischarge_StatusAktivitas">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.StatusAktivitas.Caption)</span></td>
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktualDischarge_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.StatusAktivitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktualDischargeView.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeView.ApakahAdaROB.Visible) { // subAktivitasFormInputNilaiAktualDischargeView.ApakahAdaROB.Visible (begin)
    <tr id="r_ApakahAdaROB" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.ApakahAdaROB.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktualDischargeView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktualDischarge_ApakahAdaROB">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.ApakahAdaROB.Caption)</span></td>
        <td data-name="ApakahAdaROB" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.ApakahAdaROB.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktualDischarge_ApakahAdaROB">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.ApakahAdaROB.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(subAktivitasFormInputNilaiAktualDischargeView.ApakahAdaROB.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktualDischargeView.ApakahAdaROB.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeView.Tujuan.Visible) { // subAktivitasFormInputNilaiAktualDischargeView.Tujuan.Visible (begin)
    <tr id="r_Tujuan" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.Tujuan.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktualDischargeView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktualDischarge_Tujuan">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.Tujuan.Caption)</span></td>
        <td data-name="Tujuan" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.Tujuan.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktualDischarge_Tujuan">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.Tujuan.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeView.Tujuan.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktualDischargeView.Tujuan.Visible (end) *@
</table>
@{ subAktivitasFormInputNilaiAktualDischargeView.CloseRecordset(); }
</form>
</main>
@subAktivitasFormInputNilaiAktualDischargeView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputNilaiAktualDischargeView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
