@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiBDperGerbongAdd.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiBDperGerbongAdd.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiBDperGerbongAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiBDperGerbong: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fSubAktivitasNilaiBDperGerbongadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiBDperGerbongadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["NomorGerbongKertel", [fields.NomorGerbongKertel.visible && fields.NomorGerbongKertel.required ? ew.Validators.required(fields.NomorGerbongKertel.caption) : null], fields.NomorGerbongKertel.isInvalid],
            ["KL_Obs", [fields.KL_Obs.visible && fields.KL_Obs.required ? ew.Validators.required(fields.KL_Obs.caption) : null], fields.KL_Obs.isInvalid],
            ["KL_15", [fields.KL_15.visible && fields.KL_15.required ? ew.Validators.required(fields.KL_15.caption) : null], fields.KL_15.isInvalid],
            ["Barrels", [fields.Barrels.visible && fields.Barrels.required ? ew.Validators.required(fields.Barrels.caption) : null], fields.Barrels.isInvalid],
            ["LT", [fields.LT.visible && fields.LT.required ? ew.Validators.required(fields.LT.caption) : null], fields.LT.isInvalid],
            ["MT", [fields.MT.visible && fields.MT.required ? ew.Validators.required(fields.MT.caption) : null], fields.MT.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null, ew.Validators.integer], fields.StatusAktivitas.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "idAktifitas": @Html.Raw(subAktivitasNilaiBDperGerbongAdd.idAktifitas.ToClientList(subAktivitasNilaiBDperGerbongAdd)),
            "idProses": @Html.Raw(subAktivitasNilaiBDperGerbongAdd.idProses.ToClientList(subAktivitasNilaiBDperGerbongAdd)),
            "StatusAktivitas": @Html.Raw(subAktivitasNilaiBDperGerbongAdd.StatusAktivitas.ToClientList(subAktivitasNilaiBDperGerbongAdd)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasNilaiBDperGerbongAdd.ShowPageHeader()
@subAktivitasNilaiBDperGerbongAdd.ShowMessages()
<form name="fSubAktivitasNilaiBDperGerbongadd" id="fSubAktivitasNilaiBDperGerbongadd" class="@(subAktivitasNilaiBDperGerbongAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasNilaiBDperGerbongAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasNilaiBDperGerbongAdd.OldKeyName)" value="@Html.Raw(subAktivitasNilaiBDperGerbongAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (subAktivitasNilaiBDperGerbongAdd.idAktifitas.Visible) { // subAktivitasNilaiBDperGerbongAdd.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasNilaiBDperGerbongAdd.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBDperGerbong_idAktifitas" class="@(subAktivitasNilaiBDperGerbongAdd.LeftColumnClass)">@Html.Raw(subAktivitasNilaiBDperGerbongAdd.idAktifitas.Caption)@Html.Raw(subAktivitasNilaiBDperGerbongAdd.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiBDperGerbongAdd.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBDperGerbongAdd.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasNilaiBDperGerbong_idAktifitas">
<span>@{
    if (IsRTL) {
        subAktivitasNilaiBDperGerbongAdd.idAktifitas.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_idAktifitas" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_idAktifitas" id="sv_x_idAktifitas" value="@(RemoveHtml(ConvertToString(subAktivitasNilaiBDperGerbongAdd.idAktifitas.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongAdd.idAktifitas.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongAdd.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBDperGerbongAdd.idAktifitas.FormatPattern)" @Html.Raw(subAktivitasNilaiBDperGerbongAdd.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasNilaiBDperGerbong" data-field="x_idAktifitas" data-input="sv_x_idAktifitas" data-value-separator="@(subAktivitasNilaiBDperGerbongAdd.idAktifitas.DisplayValueSeparatorAttribute)" name="x_idAktifitas" id="x_idAktifitas" value="@(HtmlEncode(subAktivitasNilaiBDperGerbongAdd.idAktifitas.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasNilaiBDperGerbongAdd.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBDperGerbongAdd.idAktifitas.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasNilaiBDperGerbongadd"], function() {
    fSubAktivitasNilaiBDperGerbongadd.createAutoSuggest(Object.assign({"id":"x_idAktifitas","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasNilaiBDperGerbongAdd.idAktifitas.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasNilaiBDperGerbong.fields.idAktifitas.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasNilaiBDperGerbongAdd.idAktifitas.Lookup.GetParamTag(subAktivitasNilaiBDperGerbongAdd, "p_x_idAktifitas"))
</span>
</div></div>
    </div>
} @* subAktivitasNilaiBDperGerbongAdd.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongAdd.NomorGerbongKertel.Visible) { // subAktivitasNilaiBDperGerbongAdd.NomorGerbongKertel.Visible (begin)
    <div id="r_NomorGerbongKertel" @Html.Raw(subAktivitasNilaiBDperGerbongAdd.NomorGerbongKertel.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBDperGerbong_NomorGerbongKertel" for="x_NomorGerbongKertel" class="@(subAktivitasNilaiBDperGerbongAdd.LeftColumnClass)">@Html.Raw(subAktivitasNilaiBDperGerbongAdd.NomorGerbongKertel.Caption)@Html.Raw(subAktivitasNilaiBDperGerbongAdd.NomorGerbongKertel.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiBDperGerbongAdd.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBDperGerbongAdd.NomorGerbongKertel.CellAttributes)>
<span id="el_SubAktivitasNilaiBDperGerbong_NomorGerbongKertel">
<input type="@(subAktivitasNilaiBDperGerbongAdd.NomorGerbongKertel.InputTextType)" name="x_NomorGerbongKertel" id="x_NomorGerbongKertel" data-table="SubAktivitasNilaiBDperGerbong" data-field="x_NomorGerbongKertel" value="@Html.Raw(subAktivitasNilaiBDperGerbongAdd.NomorGerbongKertel.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongAdd.NomorGerbongKertel.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBDperGerbongAdd.NomorGerbongKertel.FormatPattern)"@Html.Raw(subAktivitasNilaiBDperGerbongAdd.NomorGerbongKertel.EditAttributes) aria-describedby="x_NomorGerbongKertel_help">
@Html.Raw(subAktivitasNilaiBDperGerbongAdd.NomorGerbongKertel.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBDperGerbongAdd.NomorGerbongKertel.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasNilaiBDperGerbongAdd.NomorGerbongKertel.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongAdd.KL_Obs.Visible) { // subAktivitasNilaiBDperGerbongAdd.KL_Obs.Visible (begin)
    <div id="r_KL_Obs" @Html.Raw(subAktivitasNilaiBDperGerbongAdd.KL_Obs.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBDperGerbong_KL_Obs" for="x_KL_Obs" class="@(subAktivitasNilaiBDperGerbongAdd.LeftColumnClass)">@Html.Raw(subAktivitasNilaiBDperGerbongAdd.KL_Obs.Caption)@Html.Raw(subAktivitasNilaiBDperGerbongAdd.KL_Obs.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiBDperGerbongAdd.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBDperGerbongAdd.KL_Obs.CellAttributes)>
<span id="el_SubAktivitasNilaiBDperGerbong_KL_Obs">
<input type="@(subAktivitasNilaiBDperGerbongAdd.KL_Obs.InputTextType)" name="x_KL_Obs" id="x_KL_Obs" data-table="SubAktivitasNilaiBDperGerbong" data-field="x_KL_Obs" value="@Html.Raw(subAktivitasNilaiBDperGerbongAdd.KL_Obs.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongAdd.KL_Obs.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBDperGerbongAdd.KL_Obs.FormatPattern)"@Html.Raw(subAktivitasNilaiBDperGerbongAdd.KL_Obs.EditAttributes) aria-describedby="x_KL_Obs_help">
@Html.Raw(subAktivitasNilaiBDperGerbongAdd.KL_Obs.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBDperGerbongAdd.KL_Obs.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasNilaiBDperGerbongAdd.KL_Obs.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongAdd.KL_15.Visible) { // subAktivitasNilaiBDperGerbongAdd.KL_15.Visible (begin)
    <div id="r_KL_15" @Html.Raw(subAktivitasNilaiBDperGerbongAdd.KL_15.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBDperGerbong_KL_15" for="x_KL_15" class="@(subAktivitasNilaiBDperGerbongAdd.LeftColumnClass)">@Html.Raw(subAktivitasNilaiBDperGerbongAdd.KL_15.Caption)@Html.Raw(subAktivitasNilaiBDperGerbongAdd.KL_15.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiBDperGerbongAdd.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBDperGerbongAdd.KL_15.CellAttributes)>
<span id="el_SubAktivitasNilaiBDperGerbong_KL_15">
<input type="@(subAktivitasNilaiBDperGerbongAdd.KL_15.InputTextType)" name="x_KL_15" id="x_KL_15" data-table="SubAktivitasNilaiBDperGerbong" data-field="x_KL_15" value="@Html.Raw(subAktivitasNilaiBDperGerbongAdd.KL_15.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongAdd.KL_15.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBDperGerbongAdd.KL_15.FormatPattern)"@Html.Raw(subAktivitasNilaiBDperGerbongAdd.KL_15.EditAttributes) aria-describedby="x_KL_15_help">
@Html.Raw(subAktivitasNilaiBDperGerbongAdd.KL_15.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBDperGerbongAdd.KL_15.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasNilaiBDperGerbongAdd.KL_15.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongAdd.Barrels.Visible) { // subAktivitasNilaiBDperGerbongAdd.Barrels.Visible (begin)
    <div id="r_Barrels" @Html.Raw(subAktivitasNilaiBDperGerbongAdd.Barrels.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBDperGerbong_Barrels" for="x_Barrels" class="@(subAktivitasNilaiBDperGerbongAdd.LeftColumnClass)">@Html.Raw(subAktivitasNilaiBDperGerbongAdd.Barrels.Caption)@Html.Raw(subAktivitasNilaiBDperGerbongAdd.Barrels.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiBDperGerbongAdd.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBDperGerbongAdd.Barrels.CellAttributes)>
<span id="el_SubAktivitasNilaiBDperGerbong_Barrels">
<input type="@(subAktivitasNilaiBDperGerbongAdd.Barrels.InputTextType)" name="x_Barrels" id="x_Barrels" data-table="SubAktivitasNilaiBDperGerbong" data-field="x_Barrels" value="@Html.Raw(subAktivitasNilaiBDperGerbongAdd.Barrels.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongAdd.Barrels.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBDperGerbongAdd.Barrels.FormatPattern)"@Html.Raw(subAktivitasNilaiBDperGerbongAdd.Barrels.EditAttributes) aria-describedby="x_Barrels_help">
@Html.Raw(subAktivitasNilaiBDperGerbongAdd.Barrels.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBDperGerbongAdd.Barrels.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasNilaiBDperGerbongAdd.Barrels.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongAdd.LT.Visible) { // subAktivitasNilaiBDperGerbongAdd.LT.Visible (begin)
    <div id="r_LT" @Html.Raw(subAktivitasNilaiBDperGerbongAdd.LT.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBDperGerbong_LT" for="x_LT" class="@(subAktivitasNilaiBDperGerbongAdd.LeftColumnClass)">@Html.Raw(subAktivitasNilaiBDperGerbongAdd.LT.Caption)@Html.Raw(subAktivitasNilaiBDperGerbongAdd.LT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiBDperGerbongAdd.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBDperGerbongAdd.LT.CellAttributes)>
<span id="el_SubAktivitasNilaiBDperGerbong_LT">
<input type="@(subAktivitasNilaiBDperGerbongAdd.LT.InputTextType)" name="x_LT" id="x_LT" data-table="SubAktivitasNilaiBDperGerbong" data-field="x_LT" value="@Html.Raw(subAktivitasNilaiBDperGerbongAdd.LT.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongAdd.LT.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBDperGerbongAdd.LT.FormatPattern)"@Html.Raw(subAktivitasNilaiBDperGerbongAdd.LT.EditAttributes) aria-describedby="x_LT_help">
@Html.Raw(subAktivitasNilaiBDperGerbongAdd.LT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBDperGerbongAdd.LT.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasNilaiBDperGerbongAdd.LT.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongAdd.MT.Visible) { // subAktivitasNilaiBDperGerbongAdd.MT.Visible (begin)
    <div id="r_MT" @Html.Raw(subAktivitasNilaiBDperGerbongAdd.MT.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBDperGerbong_MT" for="x_MT" class="@(subAktivitasNilaiBDperGerbongAdd.LeftColumnClass)">@Html.Raw(subAktivitasNilaiBDperGerbongAdd.MT.Caption)@Html.Raw(subAktivitasNilaiBDperGerbongAdd.MT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiBDperGerbongAdd.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBDperGerbongAdd.MT.CellAttributes)>
<span id="el_SubAktivitasNilaiBDperGerbong_MT">
<input type="@(subAktivitasNilaiBDperGerbongAdd.MT.InputTextType)" name="x_MT" id="x_MT" data-table="SubAktivitasNilaiBDperGerbong" data-field="x_MT" value="@Html.Raw(subAktivitasNilaiBDperGerbongAdd.MT.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongAdd.MT.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBDperGerbongAdd.MT.FormatPattern)"@Html.Raw(subAktivitasNilaiBDperGerbongAdd.MT.EditAttributes) aria-describedby="x_MT_help">
@Html.Raw(subAktivitasNilaiBDperGerbongAdd.MT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBDperGerbongAdd.MT.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasNilaiBDperGerbongAdd.MT.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongAdd.etlDate.Visible) { // subAktivitasNilaiBDperGerbongAdd.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasNilaiBDperGerbongAdd.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBDperGerbong_etlDate" for="x_etlDate" class="@(subAktivitasNilaiBDperGerbongAdd.LeftColumnClass)">@Html.Raw(subAktivitasNilaiBDperGerbongAdd.etlDate.Caption)@Html.Raw(subAktivitasNilaiBDperGerbongAdd.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiBDperGerbongAdd.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBDperGerbongAdd.etlDate.CellAttributes)>
<span id="el_SubAktivitasNilaiBDperGerbong_etlDate">
<input type="@(subAktivitasNilaiBDperGerbongAdd.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasNilaiBDperGerbong" data-field="x_etlDate" value="@Html.Raw(subAktivitasNilaiBDperGerbongAdd.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongAdd.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBDperGerbongAdd.etlDate.FormatPattern)"@Html.Raw(subAktivitasNilaiBDperGerbongAdd.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasNilaiBDperGerbongAdd.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBDperGerbongAdd.etlDate.GetErrorMessage())</div>
@if (!subAktivitasNilaiBDperGerbongAdd.etlDate.ReadOnly && !subAktivitasNilaiBDperGerbongAdd.etlDate.Disabled && !subAktivitasNilaiBDperGerbongAdd.etlDate.EditAttrs.Is("readonly") && !subAktivitasNilaiBDperGerbongAdd.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasNilaiBDperGerbongadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasNilaiBDperGerbongadd", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasNilaiBDperGerbongAdd.etlDate.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongAdd.LastUpdatedBy.Visible) { // subAktivitasNilaiBDperGerbongAdd.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasNilaiBDperGerbongAdd.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBDperGerbong_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasNilaiBDperGerbongAdd.LeftColumnClass)">@Html.Raw(subAktivitasNilaiBDperGerbongAdd.LastUpdatedBy.Caption)@Html.Raw(subAktivitasNilaiBDperGerbongAdd.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiBDperGerbongAdd.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBDperGerbongAdd.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasNilaiBDperGerbong_LastUpdatedBy">
<input type="@(subAktivitasNilaiBDperGerbongAdd.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasNilaiBDperGerbong" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasNilaiBDperGerbongAdd.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongAdd.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBDperGerbongAdd.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasNilaiBDperGerbongAdd.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasNilaiBDperGerbongAdd.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBDperGerbongAdd.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasNilaiBDperGerbongAdd.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongAdd.lastUpdatedDate.Visible) { // subAktivitasNilaiBDperGerbongAdd.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasNilaiBDperGerbongAdd.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBDperGerbong_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasNilaiBDperGerbongAdd.LeftColumnClass)">@Html.Raw(subAktivitasNilaiBDperGerbongAdd.lastUpdatedDate.Caption)@Html.Raw(subAktivitasNilaiBDperGerbongAdd.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiBDperGerbongAdd.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBDperGerbongAdd.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasNilaiBDperGerbong_lastUpdatedDate">
<input type="@(subAktivitasNilaiBDperGerbongAdd.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasNilaiBDperGerbong" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasNilaiBDperGerbongAdd.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongAdd.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBDperGerbongAdd.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasNilaiBDperGerbongAdd.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasNilaiBDperGerbongAdd.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBDperGerbongAdd.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasNilaiBDperGerbongAdd.lastUpdatedDate.ReadOnly && !subAktivitasNilaiBDperGerbongAdd.lastUpdatedDate.Disabled && !subAktivitasNilaiBDperGerbongAdd.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasNilaiBDperGerbongAdd.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasNilaiBDperGerbongadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasNilaiBDperGerbongadd", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasNilaiBDperGerbongAdd.lastUpdatedDate.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongAdd.NoReferensi.Visible) { // subAktivitasNilaiBDperGerbongAdd.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasNilaiBDperGerbongAdd.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBDperGerbong_NoReferensi" for="x_NoReferensi" class="@(subAktivitasNilaiBDperGerbongAdd.LeftColumnClass)">@Html.Raw(subAktivitasNilaiBDperGerbongAdd.NoReferensi.Caption)@Html.Raw(subAktivitasNilaiBDperGerbongAdd.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiBDperGerbongAdd.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBDperGerbongAdd.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasNilaiBDperGerbong_NoReferensi">
<input type="@(subAktivitasNilaiBDperGerbongAdd.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasNilaiBDperGerbong" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasNilaiBDperGerbongAdd.NoReferensi.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongAdd.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBDperGerbongAdd.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasNilaiBDperGerbongAdd.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasNilaiBDperGerbongAdd.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBDperGerbongAdd.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasNilaiBDperGerbongAdd.NoReferensi.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongAdd.idProses.Visible) { // subAktivitasNilaiBDperGerbongAdd.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasNilaiBDperGerbongAdd.idProses.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBDperGerbong_idProses" class="@(subAktivitasNilaiBDperGerbongAdd.LeftColumnClass)">@Html.Raw(subAktivitasNilaiBDperGerbongAdd.idProses.Caption)@Html.Raw(subAktivitasNilaiBDperGerbongAdd.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiBDperGerbongAdd.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBDperGerbongAdd.idProses.CellAttributes)>
<span id="el_SubAktivitasNilaiBDperGerbong_idProses">
<span>@{
    if (IsRTL) {
        subAktivitasNilaiBDperGerbongAdd.idProses.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_idProses" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_idProses" id="sv_x_idProses" value="@(RemoveHtml(ConvertToString(subAktivitasNilaiBDperGerbongAdd.idProses.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongAdd.idProses.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongAdd.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBDperGerbongAdd.idProses.FormatPattern)" @Html.Raw(subAktivitasNilaiBDperGerbongAdd.idProses.EditAttributes) aria-describedby="x_idProses_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasNilaiBDperGerbong" data-field="x_idProses" data-input="sv_x_idProses" data-value-separator="@(subAktivitasNilaiBDperGerbongAdd.idProses.DisplayValueSeparatorAttribute)" name="x_idProses" id="x_idProses" value="@(HtmlEncode(subAktivitasNilaiBDperGerbongAdd.idProses.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasNilaiBDperGerbongAdd.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBDperGerbongAdd.idProses.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasNilaiBDperGerbongadd"], function() {
    fSubAktivitasNilaiBDperGerbongadd.createAutoSuggest(Object.assign({"id":"x_idProses","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasNilaiBDperGerbongAdd.idProses.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasNilaiBDperGerbong.fields.idProses.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasNilaiBDperGerbongAdd.idProses.Lookup.GetParamTag(subAktivitasNilaiBDperGerbongAdd, "p_x_idProses"))
</span>
</div></div>
    </div>
} @* subAktivitasNilaiBDperGerbongAdd.idProses.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongAdd.StatusAktivitas.Visible) { // subAktivitasNilaiBDperGerbongAdd.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subAktivitasNilaiBDperGerbongAdd.StatusAktivitas.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBDperGerbong_StatusAktivitas" class="@(subAktivitasNilaiBDperGerbongAdd.LeftColumnClass)">@Html.Raw(subAktivitasNilaiBDperGerbongAdd.StatusAktivitas.Caption)@Html.Raw(subAktivitasNilaiBDperGerbongAdd.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiBDperGerbongAdd.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBDperGerbongAdd.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasNilaiBDperGerbong_StatusAktivitas">
<span>@{
    if (IsRTL) {
        subAktivitasNilaiBDperGerbongAdd.StatusAktivitas.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_StatusAktivitas" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_StatusAktivitas" id="sv_x_StatusAktivitas" value="@(RemoveHtml(ConvertToString(subAktivitasNilaiBDperGerbongAdd.StatusAktivitas.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongAdd.StatusAktivitas.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongAdd.StatusAktivitas.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBDperGerbongAdd.StatusAktivitas.FormatPattern)" @Html.Raw(subAktivitasNilaiBDperGerbongAdd.StatusAktivitas.EditAttributes) aria-describedby="x_StatusAktivitas_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasNilaiBDperGerbong" data-field="x_StatusAktivitas" data-input="sv_x_StatusAktivitas" data-value-separator="@(subAktivitasNilaiBDperGerbongAdd.StatusAktivitas.DisplayValueSeparatorAttribute)" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@(HtmlEncode(subAktivitasNilaiBDperGerbongAdd.StatusAktivitas.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasNilaiBDperGerbongAdd.StatusAktivitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBDperGerbongAdd.StatusAktivitas.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasNilaiBDperGerbongadd"], function() {
    fSubAktivitasNilaiBDperGerbongadd.createAutoSuggest(Object.assign({"id":"x_StatusAktivitas","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasNilaiBDperGerbongAdd.StatusAktivitas.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasNilaiBDperGerbong.fields.StatusAktivitas.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasNilaiBDperGerbongAdd.StatusAktivitas.Lookup.GetParamTag(subAktivitasNilaiBDperGerbongAdd, "p_x_StatusAktivitas"))
</span>
</div></div>
    </div>
} @* subAktivitasNilaiBDperGerbongAdd.StatusAktivitas.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongAdd.userInput.Visible) { // subAktivitasNilaiBDperGerbongAdd.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasNilaiBDperGerbongAdd.userInput.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBDperGerbong_userInput" for="x_userInput" class="@(subAktivitasNilaiBDperGerbongAdd.LeftColumnClass)">@Html.Raw(subAktivitasNilaiBDperGerbongAdd.userInput.Caption)@Html.Raw(subAktivitasNilaiBDperGerbongAdd.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiBDperGerbongAdd.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBDperGerbongAdd.userInput.CellAttributes)>
<span id="el_SubAktivitasNilaiBDperGerbong_userInput">
<input type="@(subAktivitasNilaiBDperGerbongAdd.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasNilaiBDperGerbong" data-field="x_userInput" value="@Html.Raw(subAktivitasNilaiBDperGerbongAdd.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongAdd.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBDperGerbongAdd.userInput.FormatPattern)"@Html.Raw(subAktivitasNilaiBDperGerbongAdd.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasNilaiBDperGerbongAdd.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBDperGerbongAdd.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasNilaiBDperGerbongAdd.userInput.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongAdd.Produk.Visible) { // subAktivitasNilaiBDperGerbongAdd.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasNilaiBDperGerbongAdd.Produk.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBDperGerbong_Produk" for="x_Produk" class="@(subAktivitasNilaiBDperGerbongAdd.LeftColumnClass)">@Html.Raw(subAktivitasNilaiBDperGerbongAdd.Produk.Caption)@Html.Raw(subAktivitasNilaiBDperGerbongAdd.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiBDperGerbongAdd.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBDperGerbongAdd.Produk.CellAttributes)>
<span id="el_SubAktivitasNilaiBDperGerbong_Produk">
<input type="@(subAktivitasNilaiBDperGerbongAdd.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasNilaiBDperGerbong" data-field="x_Produk" value="@Html.Raw(subAktivitasNilaiBDperGerbongAdd.Produk.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongAdd.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBDperGerbongAdd.Produk.FormatPattern)"@Html.Raw(subAktivitasNilaiBDperGerbongAdd.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasNilaiBDperGerbongAdd.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBDperGerbongAdd.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasNilaiBDperGerbongAdd.Produk.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasNilaiBDperGerbongAdd.CloseRecordset(); }
@Html.Raw(subAktivitasNilaiBDperGerbongAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasNilaiBDperGerbongAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasNilaiBDperGerbongadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasNilaiBDperGerbongadd" data-href="@AppPath(subAktivitasNilaiBDperGerbongAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasNilaiBDperGerbongAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@subAktivitasNilaiBDperGerbongAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasNilaiBDperGerbong");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
