@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputLogbMonitoringStockRtwView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputLogbMonitoringStockRtwView.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputLogbMonitoringStockRtwView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @subAktivitasFormInputLogbMonitoringStockRtwView.ExportOptions.RenderBody()
    @subAktivitasFormInputLogbMonitoringStockRtwView.OtherOptions.RenderBody()
</div>
}
@subAktivitasFormInputLogbMonitoringStockRtwView.ShowPageHeader()
@subAktivitasFormInputLogbMonitoringStockRtwView.ShowMessages()
<main class="view">
<form name="fSubAktivitasFormInputLogbMonitoringStockRTWview" id="fSubAktivitasFormInputLogbMonitoringStockRTWview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!subAktivitasFormInputLogbMonitoringStockRtwView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputLogbMonitoringStockRtwView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputLogbMonitoringStockRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fSubAktivitasFormInputLogbMonitoringStockRTWview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputLogbMonitoringStockRTWview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputLogbMonitoringStockRtwView.IsModal)">
<table class="@(subAktivitasFormInputLogbMonitoringStockRtwView.TableClass)">
@if (subAktivitasFormInputLogbMonitoringStockRtwView.id.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwView.id.Visible (begin)
    <tr id="r_id" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.id.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbMonitoringStockRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_id">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.id.Caption)</span></td>
        <td data-name="id" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.id.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_id">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.id.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbMonitoringStockRtwView.id.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwView.idAktifitas.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwView.idAktifitas.Visible (begin)
    <tr id="r_idAktifitas" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.idAktifitas.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbMonitoringStockRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_idAktifitas">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.idAktifitas.Caption)</span></td>
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_idAktifitas">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.idAktifitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbMonitoringStockRtwView.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwView.NoTangki.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwView.NoTangki.Visible (begin)
    <tr id="r_NoTangki" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.NoTangki.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbMonitoringStockRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_NoTangki">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.NoTangki.Caption)</span></td>
        <td data-name="NoTangki" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.NoTangki.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_NoTangki">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.NoTangki.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.NoTangki.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbMonitoringStockRtwView.NoTangki.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwView.Produk.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwView.Produk.Visible (begin)
    <tr id="r_Produk" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.Produk.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbMonitoringStockRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_Produk">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.Produk.Caption)</span></td>
        <td data-name="Produk" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.Produk.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_Produk">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.Produk.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.Produk.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbMonitoringStockRtwView.Produk.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwView.Aktivitas2.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwView.Aktivitas2.Visible (begin)
    <tr id="r_Aktivitas2" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.Aktivitas2.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbMonitoringStockRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_Aktivitas2">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.Aktivitas2.Caption)</span></td>
        <td data-name="Aktivitas2" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.Aktivitas2.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_Aktivitas2">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.Aktivitas2.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.Aktivitas2.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbMonitoringStockRtwView.Aktivitas2.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwView.LevelTangki.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwView.LevelTangki.Visible (begin)
    <tr id="r_LevelTangki" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.LevelTangki.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbMonitoringStockRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_LevelTangki">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.LevelTangki.Caption)</span></td>
        <td data-name="LevelTangki" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.LevelTangki.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_LevelTangki">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.LevelTangki.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.LevelTangki.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbMonitoringStockRtwView.LevelTangki.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwView.Volume.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwView.Volume.Visible (begin)
    <tr id="r_Volume" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.Volume.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbMonitoringStockRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_Volume">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.Volume.Caption)</span></td>
        <td data-name="Volume" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.Volume.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_Volume">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.Volume.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.Volume.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbMonitoringStockRtwView.Volume.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwView.Flowrate.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwView.Flowrate.Visible (begin)
    <tr id="r_Flowrate" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.Flowrate.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbMonitoringStockRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_Flowrate">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.Flowrate.Caption)</span></td>
        <td data-name="Flowrate" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.Flowrate.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_Flowrate">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.Flowrate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.Flowrate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbMonitoringStockRtwView.Flowrate.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwView.userInput.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwView.userInput.Visible (begin)
    <tr id="r_userInput" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.userInput.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbMonitoringStockRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_userInput">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.userInput.Caption)</span></td>
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_userInput">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.userInput.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbMonitoringStockRtwView.userInput.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwView.etlDate.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwView.etlDate.Visible (begin)
    <tr id="r_etlDate" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.etlDate.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbMonitoringStockRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_etlDate">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.etlDate.Caption)</span></td>
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_etlDate">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.etlDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbMonitoringStockRtwView.etlDate.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwView.idProses.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwView.idProses.Visible (begin)
    <tr id="r_idProses" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.idProses.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbMonitoringStockRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_idProses">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.idProses.Caption)</span></td>
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_idProses">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.idProses.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbMonitoringStockRtwView.idProses.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwView.LastUpdatedBy.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwView.LastUpdatedBy.Visible (begin)
    <tr id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.LastUpdatedBy.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbMonitoringStockRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_LastUpdatedBy">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.LastUpdatedBy.Caption)</span></td>
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.LastUpdatedBy.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbMonitoringStockRtwView.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwView.lastUpdatedDate.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwView.lastUpdatedDate.Visible (begin)
    <tr id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.lastUpdatedDate.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbMonitoringStockRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_lastUpdatedDate">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.lastUpdatedDate.Caption)</span></td>
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.lastUpdatedDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbMonitoringStockRtwView.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwView.NoReferensi.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwView.NoReferensi.Visible (begin)
    <tr id="r_NoReferensi" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.NoReferensi.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbMonitoringStockRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_NoReferensi">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.NoReferensi.Caption)</span></td>
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_NoReferensi">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwView.NoReferensi.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbMonitoringStockRtwView.NoReferensi.Visible (end) *@
</table>
@{ subAktivitasFormInputLogbMonitoringStockRtwView.CloseRecordset(); }
</form>
</main>
@subAktivitasFormInputLogbMonitoringStockRtwView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputLogbMonitoringStockRtwView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
