@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiAgreementPenyaluranLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiAgreementPenyaluranLpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasNilaiAgreementPenyaluranLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiAgreementPenyaluranLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiAgreementPenyaluranLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasNilaiAgreementPenyaluranLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasNilaiAgreementPenyaluranLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasNilaiAgreementPenyaluranLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasNilaiAgreementPenyaluranLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasNilaiAgreementPenyaluranLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasNilaiAgreementPenyaluranLpgList.TotalRecords > 0 && subAktivitasNilaiAgreementPenyaluranLpgList.ExportOptions.Visible) {
    subAktivitasNilaiAgreementPenyaluranLpgList.ExportOptions.Render("body");
}
@if (subAktivitasNilaiAgreementPenyaluranLpgList.ImportOptions.Visible) {
    subAktivitasNilaiAgreementPenyaluranLpgList.ImportOptions.Render("body");
}
@if (subAktivitasNilaiAgreementPenyaluranLpgList.SearchOptions.Visible) {
    subAktivitasNilaiAgreementPenyaluranLpgList.SearchOptions.Render("body");
}
@if (subAktivitasNilaiAgreementPenyaluranLpgList.FilterOptions.Visible) {
    subAktivitasNilaiAgreementPenyaluranLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasNilaiAgreementPenyaluranLpgList.IsModal) {
<form name="fSubAktivitasNilaiAgreementPenyaluranLPGsrch" id="fSubAktivitasNilaiAgreementPenyaluranLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasNilaiAgreementPenyaluranLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasNilaiAgreementPenyaluranLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiAgreementPenyaluranLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiAgreementPenyaluranLPG: currentTable } });
var currentForm;
var fSubAktivitasNilaiAgreementPenyaluranLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiAgreementPenyaluranLPGsrch")
        .setPageId("list")
@if (subAktivitasNilaiAgreementPenyaluranLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasNilaiAgreementPenyaluranLpgList.IsExport() && Empty(subAktivitasNilaiAgreementPenyaluranLpgList.CurrentAction) && subAktivitasNilaiAgreementPenyaluranLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasNilaiAgreementPenyaluranLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasNilaiAgreementPenyaluranLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasNilaiAgreementPenyaluranLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasNilaiAgreementPenyaluranLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiAgreementPenyaluranLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasNilaiAgreementPenyaluranLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiAgreementPenyaluranLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasNilaiAgreementPenyaluranLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiAgreementPenyaluranLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasNilaiAgreementPenyaluranLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasNilaiAgreementPenyaluranLpgList.ShowPageHeader()
@subAktivitasNilaiAgreementPenyaluranLpgList.ShowMessages()
<main class="list @(subAktivitasNilaiAgreementPenyaluranLpgList.TotalRecords == 0 && !subAktivitasNilaiAgreementPenyaluranLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasNilaiAgreementPenyaluranLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasNilaiAgreementPenyaluranLpgList.TotalRecords > 0 || !Empty(subAktivitasNilaiAgreementPenyaluranLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasNilaiAgreementPenyaluranLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasNilaiAgreementPenyaluranLpgList.TableGridClass)">
<form name="@(subAktivitasNilaiAgreementPenyaluranLpgList.FormName)" id="@(subAktivitasNilaiAgreementPenyaluranLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasNilaiAgreementPenyaluranLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasNilaiAgreementPenyaluranLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasNilaiAgreementPenyaluranLPG" class="card-body ew-grid-middle-panel @(subAktivitasNilaiAgreementPenyaluranLpgList.TableContainerClass)" style="@(subAktivitasNilaiAgreementPenyaluranLpgList.TableContainerStyle)">
@if (subAktivitasNilaiAgreementPenyaluranLpgList.TotalRecords > 0 || subAktivitasNilaiAgreementPenyaluranLpgList.IsGridEdit || subAktivitasNilaiAgreementPenyaluranLpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasNilaiAgreementPenyaluranLPGlist" class="@(subAktivitasNilaiAgreementPenyaluranLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasNilaiAgreementPenyaluranLpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasNilaiAgreementPenyaluranLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasNilaiAgreementPenyaluranLpgList.ListOptions.RenderHeader("left")
@if (subAktivitasNilaiAgreementPenyaluranLpgList.id.Visible) { // subAktivitasNilaiAgreementPenyaluranLpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasNilaiAgreementPenyaluranLpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluranLPG_id" class="SubAktivitasNilaiAgreementPenyaluranLPG_id">@Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranLpgList.id))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranLpgList.id.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranLpgList.NoReferensi.Visible) { // subAktivitasNilaiAgreementPenyaluranLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasNilaiAgreementPenyaluranLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluranLPG_NoReferensi" class="SubAktivitasNilaiAgreementPenyaluranLPG_NoReferensi">@Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranLpgList.NoReferensi))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranLpgList.NoReferensi.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranLpgList.idProses.Visible) { // subAktivitasNilaiAgreementPenyaluranLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasNilaiAgreementPenyaluranLpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluranLPG_idProses" class="SubAktivitasNilaiAgreementPenyaluranLPG_idProses">@Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranLpgList.idProses))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranLpgList.idProses.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranLpgList.idAktifitas.Visible) { // subAktivitasNilaiAgreementPenyaluranLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasNilaiAgreementPenyaluranLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluranLPG_idAktifitas" class="SubAktivitasNilaiAgreementPenyaluranLPG_idAktifitas">@Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranLpgList.idAktifitas))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranLpgList.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranLpgList.StatusAktivitas.Visible) { // subAktivitasNilaiAgreementPenyaluranLpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasNilaiAgreementPenyaluranLpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluranLPG_StatusAktivitas" class="SubAktivitasNilaiAgreementPenyaluranLPG_StatusAktivitas">@Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranLpgList.StatusAktivitas))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranLpgList.StatusAktivitas.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranLpgList.LastUpdatedBy.Visible) { // subAktivitasNilaiAgreementPenyaluranLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasNilaiAgreementPenyaluranLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluranLPG_LastUpdatedBy" class="SubAktivitasNilaiAgreementPenyaluranLPG_LastUpdatedBy">@Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranLpgList.LastUpdatedBy))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranLpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranLpgList.lastUpdatedDate.Visible) { // subAktivitasNilaiAgreementPenyaluranLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasNilaiAgreementPenyaluranLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluranLPG_lastUpdatedDate" class="SubAktivitasNilaiAgreementPenyaluranLPG_lastUpdatedDate">@Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranLpgList.lastUpdatedDate))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranLpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranLpgList.Flowrate.Visible) { // subAktivitasNilaiAgreementPenyaluranLpgList.Flowrate.Visible (begin)
        <th data-name="Flowrate" class="@(subAktivitasNilaiAgreementPenyaluranLpgList.Flowrate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluranLPG_Flowrate" class="SubAktivitasNilaiAgreementPenyaluranLPG_Flowrate">@Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranLpgList.Flowrate))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranLpgList.Flowrate.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranLpgList.Pressure.Visible) { // subAktivitasNilaiAgreementPenyaluranLpgList.Pressure.Visible (begin)
        <th data-name="Pressure" class="@(subAktivitasNilaiAgreementPenyaluranLpgList.Pressure.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluranLPG_Pressure" class="SubAktivitasNilaiAgreementPenyaluranLPG_Pressure">@Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranLpgList.Pressure))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranLpgList.Pressure.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranLpgList.LamaPembongkaran.Visible) { // subAktivitasNilaiAgreementPenyaluranLpgList.LamaPembongkaran.Visible (begin)
        <th data-name="LamaPembongkaran" class="@(subAktivitasNilaiAgreementPenyaluranLpgList.LamaPembongkaran.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluranLPG_LamaPembongkaran" class="SubAktivitasNilaiAgreementPenyaluranLPG_LamaPembongkaran">@Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranLpgList.LamaPembongkaran))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranLpgList.LamaPembongkaran.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranLpgList.ETC.Visible) { // subAktivitasNilaiAgreementPenyaluranLpgList.ETC.Visible (begin)
        <th data-name="ETC" class="@(subAktivitasNilaiAgreementPenyaluranLpgList.ETC.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluranLPG_ETC" class="SubAktivitasNilaiAgreementPenyaluranLPG_ETC">@Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranLpgList.ETC))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranLpgList.ETC.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranLpgList.etlDate.Visible) { // subAktivitasNilaiAgreementPenyaluranLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasNilaiAgreementPenyaluranLpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluranLPG_etlDate" class="SubAktivitasNilaiAgreementPenyaluranLPG_etlDate">@Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranLpgList.etlDate))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranLpgList.etlDate.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranLpgList.userInput.Visible) { // subAktivitasNilaiAgreementPenyaluranLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasNilaiAgreementPenyaluranLpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluranLPG_userInput" class="SubAktivitasNilaiAgreementPenyaluranLPG_userInput">@Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranLpgList.userInput))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranLpgList.userInput.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasNilaiAgreementPenyaluranLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasNilaiAgreementPenyaluranLpgList.PageNumber)">
@{
    await subAktivitasNilaiAgreementPenyaluranLpgList.SetupGrid();
    bool eof = subAktivitasNilaiAgreementPenyaluranLpgList.Recordset == null; // DN
}
@while (subAktivitasNilaiAgreementPenyaluranLpgList.RecordCount < subAktivitasNilaiAgreementPenyaluranLpgList.StopRecord || SameString(subAktivitasNilaiAgreementPenyaluranLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasNilaiAgreementPenyaluranLpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasNilaiAgreementPenyaluranLpgList.IsGridAdd || subAktivitasNilaiAgreementPenyaluranLpgList.CurrentMode == "copy") &&
        (!((subAktivitasNilaiAgreementPenyaluranLpgList.IsCopy || subAktivitasNilaiAgreementPenyaluranLpgList.IsAdd) && subAktivitasNilaiAgreementPenyaluranLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasNilaiAgreementPenyaluranLpgList.Recordset.ReadAsync();
    subAktivitasNilaiAgreementPenyaluranLpgList.RecordCount++;
    if (subAktivitasNilaiAgreementPenyaluranLpgList.RecordCount >= subAktivitasNilaiAgreementPenyaluranLpgList.StartRecord) {
        await subAktivitasNilaiAgreementPenyaluranLpgList.SetupRow();
    <tr @Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasNilaiAgreementPenyaluranLpgList.ListOptions.RenderBody("left", subAktivitasNilaiAgreementPenyaluranLpgList.RowCount)
    @if (subAktivitasNilaiAgreementPenyaluranLpgList.id.Visible) { // subAktivitasNilaiAgreementPenyaluranLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.id.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranLpgList.RowCount)_SubAktivitasNilaiAgreementPenyaluranLPG_id" class="el_SubAktivitasNilaiAgreementPenyaluranLPG_id">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranLpgList.id.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranLpgList.NoReferensi.Visible) { // subAktivitasNilaiAgreementPenyaluranLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranLpgList.RowCount)_SubAktivitasNilaiAgreementPenyaluranLPG_NoReferensi" class="el_SubAktivitasNilaiAgreementPenyaluranLPG_NoReferensi">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranLpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranLpgList.idProses.Visible) { // subAktivitasNilaiAgreementPenyaluranLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.idProses.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranLpgList.RowCount)_SubAktivitasNilaiAgreementPenyaluranLPG_idProses" class="el_SubAktivitasNilaiAgreementPenyaluranLPG_idProses">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranLpgList.idProses.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranLpgList.idAktifitas.Visible) { // subAktivitasNilaiAgreementPenyaluranLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranLpgList.RowCount)_SubAktivitasNilaiAgreementPenyaluranLPG_idAktifitas" class="el_SubAktivitasNilaiAgreementPenyaluranLPG_idAktifitas">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranLpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranLpgList.StatusAktivitas.Visible) { // subAktivitasNilaiAgreementPenyaluranLpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranLpgList.RowCount)_SubAktivitasNilaiAgreementPenyaluranLPG_StatusAktivitas" class="el_SubAktivitasNilaiAgreementPenyaluranLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranLpgList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranLpgList.LastUpdatedBy.Visible) { // subAktivitasNilaiAgreementPenyaluranLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranLpgList.RowCount)_SubAktivitasNilaiAgreementPenyaluranLPG_LastUpdatedBy" class="el_SubAktivitasNilaiAgreementPenyaluranLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranLpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranLpgList.lastUpdatedDate.Visible) { // subAktivitasNilaiAgreementPenyaluranLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranLpgList.RowCount)_SubAktivitasNilaiAgreementPenyaluranLPG_lastUpdatedDate" class="el_SubAktivitasNilaiAgreementPenyaluranLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranLpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranLpgList.Flowrate.Visible) { // subAktivitasNilaiAgreementPenyaluranLpgList.Flowrate.Visible (begin)
        <td data-name="Flowrate" @Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.Flowrate.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranLpgList.RowCount)_SubAktivitasNilaiAgreementPenyaluranLPG_Flowrate" class="el_SubAktivitasNilaiAgreementPenyaluranLPG_Flowrate">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.Flowrate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.Flowrate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranLpgList.Flowrate.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranLpgList.Pressure.Visible) { // subAktivitasNilaiAgreementPenyaluranLpgList.Pressure.Visible (begin)
        <td data-name="Pressure" @Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.Pressure.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranLpgList.RowCount)_SubAktivitasNilaiAgreementPenyaluranLPG_Pressure" class="el_SubAktivitasNilaiAgreementPenyaluranLPG_Pressure">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.Pressure.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.Pressure.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranLpgList.Pressure.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranLpgList.LamaPembongkaran.Visible) { // subAktivitasNilaiAgreementPenyaluranLpgList.LamaPembongkaran.Visible (begin)
        <td data-name="LamaPembongkaran" @Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.LamaPembongkaran.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranLpgList.RowCount)_SubAktivitasNilaiAgreementPenyaluranLPG_LamaPembongkaran" class="el_SubAktivitasNilaiAgreementPenyaluranLPG_LamaPembongkaran">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.LamaPembongkaran.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.LamaPembongkaran.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranLpgList.LamaPembongkaran.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranLpgList.ETC.Visible) { // subAktivitasNilaiAgreementPenyaluranLpgList.ETC.Visible (begin)
        <td data-name="ETC" @Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.ETC.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranLpgList.RowCount)_SubAktivitasNilaiAgreementPenyaluranLPG_ETC" class="el_SubAktivitasNilaiAgreementPenyaluranLPG_ETC">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.ETC.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.ETC.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranLpgList.ETC.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranLpgList.etlDate.Visible) { // subAktivitasNilaiAgreementPenyaluranLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.etlDate.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranLpgList.RowCount)_SubAktivitasNilaiAgreementPenyaluranLPG_etlDate" class="el_SubAktivitasNilaiAgreementPenyaluranLPG_etlDate">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranLpgList.etlDate.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranLpgList.userInput.Visible) { // subAktivitasNilaiAgreementPenyaluranLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.userInput.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranLpgList.RowCount)_SubAktivitasNilaiAgreementPenyaluranLPG_userInput" class="el_SubAktivitasNilaiAgreementPenyaluranLPG_userInput">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranLpgList.userInput.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasNilaiAgreementPenyaluranLpgList.ListOptions.RenderBody("right", subAktivitasNilaiAgreementPenyaluranLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasNilaiAgreementPenyaluranLpgList.RowIndex, "$rowindex$"))
        subAktivitasNilaiAgreementPenyaluranLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasNilaiAgreementPenyaluranLpgList.IsCopy || subAktivitasNilaiAgreementPenyaluranLpgList.IsAdd) && subAktivitasNilaiAgreementPenyaluranLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasNilaiAgreementPenyaluranLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasNilaiAgreementPenyaluranLpgList.CurrentAction) && !subAktivitasNilaiAgreementPenyaluranLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasNilaiAgreementPenyaluranLpgList.CloseRecordset(); }
@if (!subAktivitasNilaiAgreementPenyaluranLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasNilaiAgreementPenyaluranLpgList.IsGridAdd && !(subAktivitasNilaiAgreementPenyaluranLpgList.IsGridEdit && subAktivitasNilaiAgreementPenyaluranLpgList.ModalGridEdit) && !subAktivitasNilaiAgreementPenyaluranLpgList.IsMultiEdit) {
@Html.Raw(subAktivitasNilaiAgreementPenyaluranLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasNilaiAgreementPenyaluranLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasNilaiAgreementPenyaluranLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasNilaiAgreementPenyaluranLpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasNilaiAgreementPenyaluranLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasNilaiAgreementPenyaluranLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasNilaiAgreementPenyaluranLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
