@{
    // View
    View = this;

    // Check action result
    if (subaktivitasInputHasilPemeriksaanPipaEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subaktivitasInputHasilPemeriksaanPipaEdit.UseLayout ? "_Layout" : "";
}
@subaktivitasInputHasilPemeriksaanPipaEdit.ShowPageHeader()
@subaktivitasInputHasilPemeriksaanPipaEdit.ShowMessages()
<main class="edit">
<form name="fSubaktivitasInputHasilPemeriksaanPipaedit" id="fSubaktivitasInputHasilPemeriksaanPipaedit" class="@(subaktivitasInputHasilPemeriksaanPipaEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasInputHasilPemeriksaanPipaEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasInputHasilPemeriksaanPipa: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubaktivitasInputHasilPemeriksaanPipaedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubaktivitasInputHasilPemeriksaanPipaedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["TanggalJam", [fields.TanggalJam.visible && fields.TanggalJam.required ? ew.Validators.required(fields.TanggalJam.caption) : null, ew.Validators.datetime(fields.TanggalJam.clientFormatPattern)], fields.TanggalJam.isInvalid],
            ["NamaKegiatan", [fields.NamaKegiatan.visible && fields.NamaKegiatan.required ? ew.Validators.required(fields.NamaKegiatan.caption) : null], fields.NamaKegiatan.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["Density", [fields.Density.visible && fields.Density.required ? ew.Validators.required(fields.Density.caption) : null], fields.Density.isInvalid],
            ["Temperature", [fields.Temperature.visible && fields.Temperature.required ? ew.Validators.required(fields.Temperature.caption) : null], fields.Temperature.isInvalid],
            ["Pressure", [fields.Pressure.visible && fields.Pressure.required ? ew.Validators.required(fields.Pressure.caption) : null], fields.Pressure.isInvalid],
            ["Keterangan", [fields.Keterangan.visible && fields.Keterangan.required ? ew.Validators.required(fields.Keterangan.caption) : null], fields.Keterangan.isInvalid],
            ["QuantityDischarge", [fields.QuantityDischarge.visible && fields.QuantityDischarge.required ? ew.Validators.required(fields.QuantityDischarge.caption) : null], fields.QuantityDischarge.isInvalid],
            ["Flowrate", [fields.Flowrate.visible && fields.Flowrate.required ? ew.Validators.required(fields.Flowrate.caption) : null], fields.Flowrate.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subaktivitasInputHasilPemeriksaanPipaEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subaktivitasInputHasilPemeriksaanPipaEdit.OldKeyName)" value="@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subaktivitasInputHasilPemeriksaanPipaEdit.id.Visible) { // subaktivitasInputHasilPemeriksaanPipaEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.id.RowAttributes)>
        <label id="elh_SubaktivitasInputHasilPemeriksaanPipa_id" class="@(subaktivitasInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.id.Caption)@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.id.CellAttributes)>
<span id="el_SubaktivitasInputHasilPemeriksaanPipa_id">
<span @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subaktivitasInputHasilPemeriksaanPipaEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubaktivitasInputHasilPemeriksaanPipa" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subaktivitasInputHasilPemeriksaanPipaEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subaktivitasInputHasilPemeriksaanPipaEdit.id.Visible (end) *@
@if (subaktivitasInputHasilPemeriksaanPipaEdit.idAktifitas.Visible) { // subaktivitasInputHasilPemeriksaanPipaEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubaktivitasInputHasilPemeriksaanPipa_idAktifitas" for="x_idAktifitas" class="@(subaktivitasInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.idAktifitas.Caption)@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.idAktifitas.CellAttributes)>
<span id="el_SubaktivitasInputHasilPemeriksaanPipa_idAktifitas">
<input type="@(subaktivitasInputHasilPemeriksaanPipaEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubaktivitasInputHasilPemeriksaanPipa" data-field="x_idAktifitas" value="@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputHasilPemeriksaanPipaEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subaktivitasInputHasilPemeriksaanPipaEdit.idAktifitas.FormatPattern)"@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputHasilPemeriksaanPipaEdit.idAktifitas.Visible (end) *@
@if (subaktivitasInputHasilPemeriksaanPipaEdit.TanggalJam.Visible) { // subaktivitasInputHasilPemeriksaanPipaEdit.TanggalJam.Visible (begin)
    <div id="r_TanggalJam" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.TanggalJam.RowAttributes)>
        <label id="elh_SubaktivitasInputHasilPemeriksaanPipa_TanggalJam" for="x_TanggalJam" class="@(subaktivitasInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.TanggalJam.Caption)@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.TanggalJam.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.TanggalJam.CellAttributes)>
<span id="el_SubaktivitasInputHasilPemeriksaanPipa_TanggalJam">
<input type="@(subaktivitasInputHasilPemeriksaanPipaEdit.TanggalJam.InputTextType)" name="x_TanggalJam" id="x_TanggalJam" data-table="SubaktivitasInputHasilPemeriksaanPipa" data-field="x_TanggalJam" value="@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.TanggalJam.EditValue)" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputHasilPemeriksaanPipaEdit.TanggalJam.PlaceHolder))" data-format-pattern="@(subaktivitasInputHasilPemeriksaanPipaEdit.TanggalJam.FormatPattern)"@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.TanggalJam.EditAttributes) aria-describedby="x_TanggalJam_help">
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.TanggalJam.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.TanggalJam.GetErrorMessage())</div>
@if (!subaktivitasInputHasilPemeriksaanPipaEdit.TanggalJam.ReadOnly && !subaktivitasInputHasilPemeriksaanPipaEdit.TanggalJam.Disabled && !subaktivitasInputHasilPemeriksaanPipaEdit.TanggalJam.EditAttrs.Is("readonly") && !subaktivitasInputHasilPemeriksaanPipaEdit.TanggalJam.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubaktivitasInputHasilPemeriksaanPipaedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubaktivitasInputHasilPemeriksaanPipaedit", "x_TanggalJam", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subaktivitasInputHasilPemeriksaanPipaEdit.TanggalJam.Visible (end) *@
@if (subaktivitasInputHasilPemeriksaanPipaEdit.NamaKegiatan.Visible) { // subaktivitasInputHasilPemeriksaanPipaEdit.NamaKegiatan.Visible (begin)
    <div id="r_NamaKegiatan" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.NamaKegiatan.RowAttributes)>
        <label id="elh_SubaktivitasInputHasilPemeriksaanPipa_NamaKegiatan" for="x_NamaKegiatan" class="@(subaktivitasInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.NamaKegiatan.Caption)@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.NamaKegiatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.NamaKegiatan.CellAttributes)>
<span id="el_SubaktivitasInputHasilPemeriksaanPipa_NamaKegiatan">
<input type="@(subaktivitasInputHasilPemeriksaanPipaEdit.NamaKegiatan.InputTextType)" name="x_NamaKegiatan" id="x_NamaKegiatan" data-table="SubaktivitasInputHasilPemeriksaanPipa" data-field="x_NamaKegiatan" value="@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.NamaKegiatan.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputHasilPemeriksaanPipaEdit.NamaKegiatan.PlaceHolder))" data-format-pattern="@(subaktivitasInputHasilPemeriksaanPipaEdit.NamaKegiatan.FormatPattern)"@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.NamaKegiatan.EditAttributes) aria-describedby="x_NamaKegiatan_help">
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.NamaKegiatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.NamaKegiatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputHasilPemeriksaanPipaEdit.NamaKegiatan.Visible (end) *@
@if (subaktivitasInputHasilPemeriksaanPipaEdit.Produk.Visible) { // subaktivitasInputHasilPemeriksaanPipaEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Produk.RowAttributes)>
        <label id="elh_SubaktivitasInputHasilPemeriksaanPipa_Produk" for="x_Produk" class="@(subaktivitasInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Produk.Caption)@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Produk.CellAttributes)>
<span id="el_SubaktivitasInputHasilPemeriksaanPipa_Produk">
<input type="@(subaktivitasInputHasilPemeriksaanPipaEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubaktivitasInputHasilPemeriksaanPipa" data-field="x_Produk" value="@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Produk.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputHasilPemeriksaanPipaEdit.Produk.PlaceHolder))" data-format-pattern="@(subaktivitasInputHasilPemeriksaanPipaEdit.Produk.FormatPattern)"@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputHasilPemeriksaanPipaEdit.Produk.Visible (end) *@
@if (subaktivitasInputHasilPemeriksaanPipaEdit.Density.Visible) { // subaktivitasInputHasilPemeriksaanPipaEdit.Density.Visible (begin)
    <div id="r_Density" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Density.RowAttributes)>
        <label id="elh_SubaktivitasInputHasilPemeriksaanPipa_Density" for="x_Density" class="@(subaktivitasInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Density.Caption)@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Density.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Density.CellAttributes)>
<span id="el_SubaktivitasInputHasilPemeriksaanPipa_Density">
<input type="@(subaktivitasInputHasilPemeriksaanPipaEdit.Density.InputTextType)" name="x_Density" id="x_Density" data-table="SubaktivitasInputHasilPemeriksaanPipa" data-field="x_Density" value="@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Density.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputHasilPemeriksaanPipaEdit.Density.PlaceHolder))" data-format-pattern="@(subaktivitasInputHasilPemeriksaanPipaEdit.Density.FormatPattern)"@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Density.EditAttributes) aria-describedby="x_Density_help">
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Density.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Density.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputHasilPemeriksaanPipaEdit.Density.Visible (end) *@
@if (subaktivitasInputHasilPemeriksaanPipaEdit.Temperature.Visible) { // subaktivitasInputHasilPemeriksaanPipaEdit.Temperature.Visible (begin)
    <div id="r_Temperature" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Temperature.RowAttributes)>
        <label id="elh_SubaktivitasInputHasilPemeriksaanPipa_Temperature" for="x_Temperature" class="@(subaktivitasInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Temperature.Caption)@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Temperature.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Temperature.CellAttributes)>
<span id="el_SubaktivitasInputHasilPemeriksaanPipa_Temperature">
<input type="@(subaktivitasInputHasilPemeriksaanPipaEdit.Temperature.InputTextType)" name="x_Temperature" id="x_Temperature" data-table="SubaktivitasInputHasilPemeriksaanPipa" data-field="x_Temperature" value="@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Temperature.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputHasilPemeriksaanPipaEdit.Temperature.PlaceHolder))" data-format-pattern="@(subaktivitasInputHasilPemeriksaanPipaEdit.Temperature.FormatPattern)"@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Temperature.EditAttributes) aria-describedby="x_Temperature_help">
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Temperature.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Temperature.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputHasilPemeriksaanPipaEdit.Temperature.Visible (end) *@
@if (subaktivitasInputHasilPemeriksaanPipaEdit.Pressure.Visible) { // subaktivitasInputHasilPemeriksaanPipaEdit.Pressure.Visible (begin)
    <div id="r_Pressure" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Pressure.RowAttributes)>
        <label id="elh_SubaktivitasInputHasilPemeriksaanPipa_Pressure" for="x_Pressure" class="@(subaktivitasInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Pressure.Caption)@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Pressure.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Pressure.CellAttributes)>
<span id="el_SubaktivitasInputHasilPemeriksaanPipa_Pressure">
<input type="@(subaktivitasInputHasilPemeriksaanPipaEdit.Pressure.InputTextType)" name="x_Pressure" id="x_Pressure" data-table="SubaktivitasInputHasilPemeriksaanPipa" data-field="x_Pressure" value="@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Pressure.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputHasilPemeriksaanPipaEdit.Pressure.PlaceHolder))" data-format-pattern="@(subaktivitasInputHasilPemeriksaanPipaEdit.Pressure.FormatPattern)"@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Pressure.EditAttributes) aria-describedby="x_Pressure_help">
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Pressure.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Pressure.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputHasilPemeriksaanPipaEdit.Pressure.Visible (end) *@
@if (subaktivitasInputHasilPemeriksaanPipaEdit.Keterangan.Visible) { // subaktivitasInputHasilPemeriksaanPipaEdit.Keterangan.Visible (begin)
    <div id="r_Keterangan" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Keterangan.RowAttributes)>
        <label id="elh_SubaktivitasInputHasilPemeriksaanPipa_Keterangan" for="x_Keterangan" class="@(subaktivitasInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Keterangan.Caption)@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Keterangan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Keterangan.CellAttributes)>
<span id="el_SubaktivitasInputHasilPemeriksaanPipa_Keterangan">
<input type="@(subaktivitasInputHasilPemeriksaanPipaEdit.Keterangan.InputTextType)" name="x_Keterangan" id="x_Keterangan" data-table="SubaktivitasInputHasilPemeriksaanPipa" data-field="x_Keterangan" value="@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Keterangan.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputHasilPemeriksaanPipaEdit.Keterangan.PlaceHolder))" data-format-pattern="@(subaktivitasInputHasilPemeriksaanPipaEdit.Keterangan.FormatPattern)"@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Keterangan.EditAttributes) aria-describedby="x_Keterangan_help">
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Keterangan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Keterangan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputHasilPemeriksaanPipaEdit.Keterangan.Visible (end) *@
@if (subaktivitasInputHasilPemeriksaanPipaEdit.QuantityDischarge.Visible) { // subaktivitasInputHasilPemeriksaanPipaEdit.QuantityDischarge.Visible (begin)
    <div id="r_QuantityDischarge" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.QuantityDischarge.RowAttributes)>
        <label id="elh_SubaktivitasInputHasilPemeriksaanPipa_QuantityDischarge" for="x_QuantityDischarge" class="@(subaktivitasInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.QuantityDischarge.Caption)@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.QuantityDischarge.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.QuantityDischarge.CellAttributes)>
<span id="el_SubaktivitasInputHasilPemeriksaanPipa_QuantityDischarge">
<input type="@(subaktivitasInputHasilPemeriksaanPipaEdit.QuantityDischarge.InputTextType)" name="x_QuantityDischarge" id="x_QuantityDischarge" data-table="SubaktivitasInputHasilPemeriksaanPipa" data-field="x_QuantityDischarge" value="@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.QuantityDischarge.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputHasilPemeriksaanPipaEdit.QuantityDischarge.PlaceHolder))" data-format-pattern="@(subaktivitasInputHasilPemeriksaanPipaEdit.QuantityDischarge.FormatPattern)"@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.QuantityDischarge.EditAttributes) aria-describedby="x_QuantityDischarge_help">
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.QuantityDischarge.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.QuantityDischarge.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputHasilPemeriksaanPipaEdit.QuantityDischarge.Visible (end) *@
@if (subaktivitasInputHasilPemeriksaanPipaEdit.Flowrate.Visible) { // subaktivitasInputHasilPemeriksaanPipaEdit.Flowrate.Visible (begin)
    <div id="r_Flowrate" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Flowrate.RowAttributes)>
        <label id="elh_SubaktivitasInputHasilPemeriksaanPipa_Flowrate" for="x_Flowrate" class="@(subaktivitasInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Flowrate.Caption)@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Flowrate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Flowrate.CellAttributes)>
<span id="el_SubaktivitasInputHasilPemeriksaanPipa_Flowrate">
<input type="@(subaktivitasInputHasilPemeriksaanPipaEdit.Flowrate.InputTextType)" name="x_Flowrate" id="x_Flowrate" data-table="SubaktivitasInputHasilPemeriksaanPipa" data-field="x_Flowrate" value="@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Flowrate.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputHasilPemeriksaanPipaEdit.Flowrate.PlaceHolder))" data-format-pattern="@(subaktivitasInputHasilPemeriksaanPipaEdit.Flowrate.FormatPattern)"@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Flowrate.EditAttributes) aria-describedby="x_Flowrate_help">
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Flowrate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.Flowrate.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputHasilPemeriksaanPipaEdit.Flowrate.Visible (end) *@
@if (subaktivitasInputHasilPemeriksaanPipaEdit.userInput.Visible) { // subaktivitasInputHasilPemeriksaanPipaEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.userInput.RowAttributes)>
        <label id="elh_SubaktivitasInputHasilPemeriksaanPipa_userInput" for="x_userInput" class="@(subaktivitasInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.userInput.Caption)@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.userInput.CellAttributes)>
<span id="el_SubaktivitasInputHasilPemeriksaanPipa_userInput">
<input type="@(subaktivitasInputHasilPemeriksaanPipaEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubaktivitasInputHasilPemeriksaanPipa" data-field="x_userInput" value="@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputHasilPemeriksaanPipaEdit.userInput.PlaceHolder))" data-format-pattern="@(subaktivitasInputHasilPemeriksaanPipaEdit.userInput.FormatPattern)"@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputHasilPemeriksaanPipaEdit.userInput.Visible (end) *@
@if (subaktivitasInputHasilPemeriksaanPipaEdit.etlDate.Visible) { // subaktivitasInputHasilPemeriksaanPipaEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.etlDate.RowAttributes)>
        <label id="elh_SubaktivitasInputHasilPemeriksaanPipa_etlDate" for="x_etlDate" class="@(subaktivitasInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.etlDate.Caption)@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.etlDate.CellAttributes)>
<span id="el_SubaktivitasInputHasilPemeriksaanPipa_etlDate">
<input type="@(subaktivitasInputHasilPemeriksaanPipaEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubaktivitasInputHasilPemeriksaanPipa" data-field="x_etlDate" value="@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputHasilPemeriksaanPipaEdit.etlDate.PlaceHolder))" data-format-pattern="@(subaktivitasInputHasilPemeriksaanPipaEdit.etlDate.FormatPattern)"@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.etlDate.GetErrorMessage())</div>
@if (!subaktivitasInputHasilPemeriksaanPipaEdit.etlDate.ReadOnly && !subaktivitasInputHasilPemeriksaanPipaEdit.etlDate.Disabled && !subaktivitasInputHasilPemeriksaanPipaEdit.etlDate.EditAttrs.Is("readonly") && !subaktivitasInputHasilPemeriksaanPipaEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubaktivitasInputHasilPemeriksaanPipaedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubaktivitasInputHasilPemeriksaanPipaedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subaktivitasInputHasilPemeriksaanPipaEdit.etlDate.Visible (end) *@
@if (subaktivitasInputHasilPemeriksaanPipaEdit.idProses.Visible) { // subaktivitasInputHasilPemeriksaanPipaEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.idProses.RowAttributes)>
        <label id="elh_SubaktivitasInputHasilPemeriksaanPipa_idProses" for="x_idProses" class="@(subaktivitasInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.idProses.Caption)@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.idProses.CellAttributes)>
<span id="el_SubaktivitasInputHasilPemeriksaanPipa_idProses">
<input type="@(subaktivitasInputHasilPemeriksaanPipaEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubaktivitasInputHasilPemeriksaanPipa" data-field="x_idProses" value="@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputHasilPemeriksaanPipaEdit.idProses.PlaceHolder))" data-format-pattern="@(subaktivitasInputHasilPemeriksaanPipaEdit.idProses.FormatPattern)"@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputHasilPemeriksaanPipaEdit.idProses.Visible (end) *@
@if (subaktivitasInputHasilPemeriksaanPipaEdit.LastUpdatedBy.Visible) { // subaktivitasInputHasilPemeriksaanPipaEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubaktivitasInputHasilPemeriksaanPipa_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subaktivitasInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.LastUpdatedBy.Caption)@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubaktivitasInputHasilPemeriksaanPipa_LastUpdatedBy">
<input type="@(subaktivitasInputHasilPemeriksaanPipaEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubaktivitasInputHasilPemeriksaanPipa" data-field="x_LastUpdatedBy" value="@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputHasilPemeriksaanPipaEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subaktivitasInputHasilPemeriksaanPipaEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputHasilPemeriksaanPipaEdit.LastUpdatedBy.Visible (end) *@
@if (subaktivitasInputHasilPemeriksaanPipaEdit.lastUpdatedDate.Visible) { // subaktivitasInputHasilPemeriksaanPipaEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubaktivitasInputHasilPemeriksaanPipa_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subaktivitasInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.lastUpdatedDate.Caption)@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubaktivitasInputHasilPemeriksaanPipa_lastUpdatedDate">
<input type="@(subaktivitasInputHasilPemeriksaanPipaEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubaktivitasInputHasilPemeriksaanPipa" data-field="x_lastUpdatedDate" value="@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputHasilPemeriksaanPipaEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subaktivitasInputHasilPemeriksaanPipaEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subaktivitasInputHasilPemeriksaanPipaEdit.lastUpdatedDate.ReadOnly && !subaktivitasInputHasilPemeriksaanPipaEdit.lastUpdatedDate.Disabled && !subaktivitasInputHasilPemeriksaanPipaEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subaktivitasInputHasilPemeriksaanPipaEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubaktivitasInputHasilPemeriksaanPipaedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubaktivitasInputHasilPemeriksaanPipaedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subaktivitasInputHasilPemeriksaanPipaEdit.lastUpdatedDate.Visible (end) *@
@if (subaktivitasInputHasilPemeriksaanPipaEdit.NoReferensi.Visible) { // subaktivitasInputHasilPemeriksaanPipaEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubaktivitasInputHasilPemeriksaanPipa_NoReferensi" for="x_NoReferensi" class="@(subaktivitasInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.NoReferensi.Caption)@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.NoReferensi.CellAttributes)>
<span id="el_SubaktivitasInputHasilPemeriksaanPipa_NoReferensi">
<input type="@(subaktivitasInputHasilPemeriksaanPipaEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubaktivitasInputHasilPemeriksaanPipa" data-field="x_NoReferensi" value="@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.NoReferensi.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputHasilPemeriksaanPipaEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subaktivitasInputHasilPemeriksaanPipaEdit.NoReferensi.FormatPattern)"@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputHasilPemeriksaanPipaEdit.NoReferensi.Visible (end) *@
</div><!-- /page* -->
@{ subaktivitasInputHasilPemeriksaanPipaEdit.CloseRecordset(); }
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subaktivitasInputHasilPemeriksaanPipaEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubaktivitasInputHasilPemeriksaanPipaedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubaktivitasInputHasilPemeriksaanPipaedit" data-href="@AppPath(subaktivitasInputHasilPemeriksaanPipaEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subaktivitasInputHasilPemeriksaanPipaEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subaktivitasInputHasilPemeriksaanPipaEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubaktivitasInputHasilPemeriksaanPipa");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
