@{
    // View
    View = this;

    // Check action result
    if (subaktivitasHasilPemeriksaanLpgEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subaktivitasHasilPemeriksaanLpgEdit.UseLayout ? "_Layout" : "";
}
@subaktivitasHasilPemeriksaanLpgEdit.ShowPageHeader()
@subaktivitasHasilPemeriksaanLpgEdit.ShowMessages()
<main class="edit">
<form name="fSubaktivitasHasilPemeriksaanLPGedit" id="fSubaktivitasHasilPemeriksaanLPGedit" class="@(subaktivitasHasilPemeriksaanLpgEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasHasilPemeriksaanLpgEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasHasilPemeriksaanLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubaktivitasHasilPemeriksaanLPGedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubaktivitasHasilPemeriksaanLPGedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["NamaKapal", [fields.NamaKapal.visible && fields.NamaKapal.required ? ew.Validators.required(fields.NamaKapal.caption) : null], fields.NamaKapal.isInvalid],
            ["TanggalJam", [fields.TanggalJam.visible && fields.TanggalJam.required ? ew.Validators.required(fields.TanggalJam.caption) : null, ew.Validators.datetime(fields.TanggalJam.clientFormatPattern)], fields.TanggalJam.isInvalid],
            ["NamaKegiatan", [fields.NamaKegiatan.visible && fields.NamaKegiatan.required ? ew.Validators.required(fields.NamaKegiatan.caption) : null], fields.NamaKegiatan.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["Density", [fields.Density.visible && fields.Density.required ? ew.Validators.required(fields.Density.caption) : null], fields.Density.isInvalid],
            ["Temperature", [fields.Temperature.visible && fields.Temperature.required ? ew.Validators.required(fields.Temperature.caption) : null], fields.Temperature.isInvalid],
            ["Pressure", [fields.Pressure.visible && fields.Pressure.required ? ew.Validators.required(fields.Pressure.caption) : null], fields.Pressure.isInvalid],
            ["Keterangan", [fields.Keterangan.visible && fields.Keterangan.required ? ew.Validators.required(fields.Keterangan.caption) : null], fields.Keterangan.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["TanggalJamSOP", [fields.TanggalJamSOP.visible && fields.TanggalJamSOP.required ? ew.Validators.required(fields.TanggalJamSOP.caption) : null, ew.Validators.datetime(fields.TanggalJamSOP.clientFormatPattern)], fields.TanggalJamSOP.isInvalid],
            ["SelisihWaktu", [fields.SelisihWaktu.visible && fields.SelisihWaktu.required ? ew.Validators.required(fields.SelisihWaktu.caption) : null], fields.SelisihWaktu.isInvalid],
            ["IsQualityActive", [fields.IsQualityActive.visible && fields.IsQualityActive.required ? ew.Validators.required(fields.IsQualityActive.caption) : null], fields.IsQualityActive.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "IsQualityActive": @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.IsQualityActive.ToClientList(subaktivitasHasilPemeriksaanLpgEdit)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subaktivitasHasilPemeriksaanLpgEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subaktivitasHasilPemeriksaanLpgEdit.OldKeyName)" value="@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subaktivitasHasilPemeriksaanLpgEdit.id.Visible) { // subaktivitasHasilPemeriksaanLpgEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.id.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanLPG_id" class="@(subaktivitasHasilPemeriksaanLpgEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.id.Caption)@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanLpgEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.id.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanLPG_id">
<span @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subaktivitasHasilPemeriksaanLpgEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubaktivitasHasilPemeriksaanLPG" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanLpgEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanLpgEdit.id.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgEdit.idAktifitas.Visible) { // subaktivitasHasilPemeriksaanLpgEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanLPG_idAktifitas" for="x_idAktifitas" class="@(subaktivitasHasilPemeriksaanLpgEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.idAktifitas.Caption)@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanLpgEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.idAktifitas.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanLPG_idAktifitas">
<input type="@(subaktivitasHasilPemeriksaanLpgEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubaktivitasHasilPemeriksaanLPG" data-field="x_idAktifitas" value="@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanLpgEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanLpgEdit.idAktifitas.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanLpgEdit.idAktifitas.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgEdit.NamaKapal.Visible) { // subaktivitasHasilPemeriksaanLpgEdit.NamaKapal.Visible (begin)
    <div id="r_NamaKapal" @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.NamaKapal.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanLPG_NamaKapal" for="x_NamaKapal" class="@(subaktivitasHasilPemeriksaanLpgEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.NamaKapal.Caption)@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.NamaKapal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanLpgEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.NamaKapal.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanLPG_NamaKapal">
<input type="@(subaktivitasHasilPemeriksaanLpgEdit.NamaKapal.InputTextType)" name="x_NamaKapal" id="x_NamaKapal" data-table="SubaktivitasHasilPemeriksaanLPG" data-field="x_NamaKapal" value="@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.NamaKapal.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanLpgEdit.NamaKapal.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanLpgEdit.NamaKapal.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.NamaKapal.EditAttributes) aria-describedby="x_NamaKapal_help">
@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.NamaKapal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.NamaKapal.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanLpgEdit.NamaKapal.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgEdit.TanggalJam.Visible) { // subaktivitasHasilPemeriksaanLpgEdit.TanggalJam.Visible (begin)
    <div id="r_TanggalJam" @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.TanggalJam.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanLPG_TanggalJam" for="x_TanggalJam" class="@(subaktivitasHasilPemeriksaanLpgEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.TanggalJam.Caption)@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.TanggalJam.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanLpgEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.TanggalJam.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanLPG_TanggalJam">
<input type="@(subaktivitasHasilPemeriksaanLpgEdit.TanggalJam.InputTextType)" name="x_TanggalJam" id="x_TanggalJam" data-table="SubaktivitasHasilPemeriksaanLPG" data-field="x_TanggalJam" value="@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.TanggalJam.EditValue)" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanLpgEdit.TanggalJam.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanLpgEdit.TanggalJam.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.TanggalJam.EditAttributes) aria-describedby="x_TanggalJam_help">
@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.TanggalJam.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.TanggalJam.GetErrorMessage())</div>
@if (!subaktivitasHasilPemeriksaanLpgEdit.TanggalJam.ReadOnly && !subaktivitasHasilPemeriksaanLpgEdit.TanggalJam.Disabled && !subaktivitasHasilPemeriksaanLpgEdit.TanggalJam.EditAttrs.Is("readonly") && !subaktivitasHasilPemeriksaanLpgEdit.TanggalJam.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubaktivitasHasilPemeriksaanLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubaktivitasHasilPemeriksaanLPGedit", "x_TanggalJam", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanLpgEdit.TanggalJam.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgEdit.NamaKegiatan.Visible) { // subaktivitasHasilPemeriksaanLpgEdit.NamaKegiatan.Visible (begin)
    <div id="r_NamaKegiatan" @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.NamaKegiatan.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanLPG_NamaKegiatan" for="x_NamaKegiatan" class="@(subaktivitasHasilPemeriksaanLpgEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.NamaKegiatan.Caption)@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.NamaKegiatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanLpgEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.NamaKegiatan.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanLPG_NamaKegiatan">
<input type="@(subaktivitasHasilPemeriksaanLpgEdit.NamaKegiatan.InputTextType)" name="x_NamaKegiatan" id="x_NamaKegiatan" data-table="SubaktivitasHasilPemeriksaanLPG" data-field="x_NamaKegiatan" value="@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.NamaKegiatan.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanLpgEdit.NamaKegiatan.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanLpgEdit.NamaKegiatan.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.NamaKegiatan.EditAttributes) aria-describedby="x_NamaKegiatan_help">
@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.NamaKegiatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.NamaKegiatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanLpgEdit.NamaKegiatan.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgEdit.Produk.Visible) { // subaktivitasHasilPemeriksaanLpgEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Produk.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanLPG_Produk" for="x_Produk" class="@(subaktivitasHasilPemeriksaanLpgEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Produk.Caption)@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanLpgEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Produk.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanLPG_Produk">
<input type="@(subaktivitasHasilPemeriksaanLpgEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubaktivitasHasilPemeriksaanLPG" data-field="x_Produk" value="@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Produk.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanLpgEdit.Produk.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanLpgEdit.Produk.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanLpgEdit.Produk.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgEdit.Density.Visible) { // subaktivitasHasilPemeriksaanLpgEdit.Density.Visible (begin)
    <div id="r_Density" @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Density.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanLPG_Density" for="x_Density" class="@(subaktivitasHasilPemeriksaanLpgEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Density.Caption)@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Density.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanLpgEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Density.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanLPG_Density">
<input type="@(subaktivitasHasilPemeriksaanLpgEdit.Density.InputTextType)" name="x_Density" id="x_Density" data-table="SubaktivitasHasilPemeriksaanLPG" data-field="x_Density" value="@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Density.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanLpgEdit.Density.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanLpgEdit.Density.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Density.EditAttributes) aria-describedby="x_Density_help">
@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Density.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Density.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanLpgEdit.Density.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgEdit.Temperature.Visible) { // subaktivitasHasilPemeriksaanLpgEdit.Temperature.Visible (begin)
    <div id="r_Temperature" @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Temperature.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanLPG_Temperature" for="x_Temperature" class="@(subaktivitasHasilPemeriksaanLpgEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Temperature.Caption)@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Temperature.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanLpgEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Temperature.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanLPG_Temperature">
<input type="@(subaktivitasHasilPemeriksaanLpgEdit.Temperature.InputTextType)" name="x_Temperature" id="x_Temperature" data-table="SubaktivitasHasilPemeriksaanLPG" data-field="x_Temperature" value="@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Temperature.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanLpgEdit.Temperature.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanLpgEdit.Temperature.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Temperature.EditAttributes) aria-describedby="x_Temperature_help">
@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Temperature.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Temperature.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanLpgEdit.Temperature.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgEdit.Pressure.Visible) { // subaktivitasHasilPemeriksaanLpgEdit.Pressure.Visible (begin)
    <div id="r_Pressure" @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Pressure.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanLPG_Pressure" for="x_Pressure" class="@(subaktivitasHasilPemeriksaanLpgEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Pressure.Caption)@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Pressure.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanLpgEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Pressure.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanLPG_Pressure">
<input type="@(subaktivitasHasilPemeriksaanLpgEdit.Pressure.InputTextType)" name="x_Pressure" id="x_Pressure" data-table="SubaktivitasHasilPemeriksaanLPG" data-field="x_Pressure" value="@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Pressure.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanLpgEdit.Pressure.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanLpgEdit.Pressure.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Pressure.EditAttributes) aria-describedby="x_Pressure_help">
@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Pressure.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Pressure.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanLpgEdit.Pressure.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgEdit.Keterangan.Visible) { // subaktivitasHasilPemeriksaanLpgEdit.Keterangan.Visible (begin)
    <div id="r_Keterangan" @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Keterangan.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanLPG_Keterangan" for="x_Keterangan" class="@(subaktivitasHasilPemeriksaanLpgEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Keterangan.Caption)@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Keterangan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanLpgEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Keterangan.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanLPG_Keterangan">
<textarea data-table="SubaktivitasHasilPemeriksaanLPG" data-field="x_Keterangan" name="x_Keterangan" id="x_Keterangan" cols="35" rows="4" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanLpgEdit.Keterangan.PlaceHolder))"@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Keterangan.EditAttributes) aria-describedby="x_Keterangan_help">@(subaktivitasHasilPemeriksaanLpgEdit.Keterangan.EditValue)</textarea>
@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Keterangan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.Keterangan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanLpgEdit.Keterangan.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgEdit.userInput.Visible) { // subaktivitasHasilPemeriksaanLpgEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.userInput.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanLPG_userInput" for="x_userInput" class="@(subaktivitasHasilPemeriksaanLpgEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.userInput.Caption)@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanLpgEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.userInput.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanLPG_userInput">
<input type="@(subaktivitasHasilPemeriksaanLpgEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubaktivitasHasilPemeriksaanLPG" data-field="x_userInput" value="@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanLpgEdit.userInput.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanLpgEdit.userInput.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanLpgEdit.userInput.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgEdit.etlDate.Visible) { // subaktivitasHasilPemeriksaanLpgEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.etlDate.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanLPG_etlDate" for="x_etlDate" class="@(subaktivitasHasilPemeriksaanLpgEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.etlDate.Caption)@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanLpgEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.etlDate.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanLPG_etlDate">
<input type="@(subaktivitasHasilPemeriksaanLpgEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubaktivitasHasilPemeriksaanLPG" data-field="x_etlDate" value="@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanLpgEdit.etlDate.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanLpgEdit.etlDate.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.etlDate.GetErrorMessage())</div>
@if (!subaktivitasHasilPemeriksaanLpgEdit.etlDate.ReadOnly && !subaktivitasHasilPemeriksaanLpgEdit.etlDate.Disabled && !subaktivitasHasilPemeriksaanLpgEdit.etlDate.EditAttrs.Is("readonly") && !subaktivitasHasilPemeriksaanLpgEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubaktivitasHasilPemeriksaanLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubaktivitasHasilPemeriksaanLPGedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanLpgEdit.etlDate.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgEdit.idProses.Visible) { // subaktivitasHasilPemeriksaanLpgEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.idProses.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanLPG_idProses" for="x_idProses" class="@(subaktivitasHasilPemeriksaanLpgEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.idProses.Caption)@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanLpgEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.idProses.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanLPG_idProses">
<input type="@(subaktivitasHasilPemeriksaanLpgEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubaktivitasHasilPemeriksaanLPG" data-field="x_idProses" value="@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanLpgEdit.idProses.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanLpgEdit.idProses.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanLpgEdit.idProses.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgEdit.LastUpdatedBy.Visible) { // subaktivitasHasilPemeriksaanLpgEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanLPG_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subaktivitasHasilPemeriksaanLpgEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.LastUpdatedBy.Caption)@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanLpgEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanLPG_LastUpdatedBy">
<input type="@(subaktivitasHasilPemeriksaanLpgEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubaktivitasHasilPemeriksaanLPG" data-field="x_LastUpdatedBy" value="@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanLpgEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanLpgEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanLpgEdit.LastUpdatedBy.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgEdit.lastUpdatedDate.Visible) { // subaktivitasHasilPemeriksaanLpgEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanLPG_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subaktivitasHasilPemeriksaanLpgEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.lastUpdatedDate.Caption)@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanLpgEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanLPG_lastUpdatedDate">
<input type="@(subaktivitasHasilPemeriksaanLpgEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubaktivitasHasilPemeriksaanLPG" data-field="x_lastUpdatedDate" value="@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanLpgEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanLpgEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subaktivitasHasilPemeriksaanLpgEdit.lastUpdatedDate.ReadOnly && !subaktivitasHasilPemeriksaanLpgEdit.lastUpdatedDate.Disabled && !subaktivitasHasilPemeriksaanLpgEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subaktivitasHasilPemeriksaanLpgEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubaktivitasHasilPemeriksaanLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubaktivitasHasilPemeriksaanLPGedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanLpgEdit.lastUpdatedDate.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgEdit.NoReferensi.Visible) { // subaktivitasHasilPemeriksaanLpgEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanLPG_NoReferensi" for="x_NoReferensi" class="@(subaktivitasHasilPemeriksaanLpgEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.NoReferensi.Caption)@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanLpgEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.NoReferensi.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanLPG_NoReferensi">
<input type="@(subaktivitasHasilPemeriksaanLpgEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubaktivitasHasilPemeriksaanLPG" data-field="x_NoReferensi" value="@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.NoReferensi.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanLpgEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanLpgEdit.NoReferensi.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanLpgEdit.NoReferensi.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgEdit.TanggalJamSOP.Visible) { // subaktivitasHasilPemeriksaanLpgEdit.TanggalJamSOP.Visible (begin)
    <div id="r_TanggalJamSOP" @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.TanggalJamSOP.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanLPG_TanggalJamSOP" for="x_TanggalJamSOP" class="@(subaktivitasHasilPemeriksaanLpgEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.TanggalJamSOP.Caption)@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.TanggalJamSOP.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanLpgEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.TanggalJamSOP.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanLPG_TanggalJamSOP">
<input type="@(subaktivitasHasilPemeriksaanLpgEdit.TanggalJamSOP.InputTextType)" name="x_TanggalJamSOP" id="x_TanggalJamSOP" data-table="SubaktivitasHasilPemeriksaanLPG" data-field="x_TanggalJamSOP" value="@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.TanggalJamSOP.EditValue)" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanLpgEdit.TanggalJamSOP.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanLpgEdit.TanggalJamSOP.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.TanggalJamSOP.EditAttributes) aria-describedby="x_TanggalJamSOP_help">
@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.TanggalJamSOP.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.TanggalJamSOP.GetErrorMessage())</div>
@if (!subaktivitasHasilPemeriksaanLpgEdit.TanggalJamSOP.ReadOnly && !subaktivitasHasilPemeriksaanLpgEdit.TanggalJamSOP.Disabled && !subaktivitasHasilPemeriksaanLpgEdit.TanggalJamSOP.EditAttrs.Is("readonly") && !subaktivitasHasilPemeriksaanLpgEdit.TanggalJamSOP.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubaktivitasHasilPemeriksaanLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubaktivitasHasilPemeriksaanLPGedit", "x_TanggalJamSOP", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanLpgEdit.TanggalJamSOP.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgEdit.SelisihWaktu.Visible) { // subaktivitasHasilPemeriksaanLpgEdit.SelisihWaktu.Visible (begin)
    <div id="r_SelisihWaktu" @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.SelisihWaktu.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanLPG_SelisihWaktu" for="x_SelisihWaktu" class="@(subaktivitasHasilPemeriksaanLpgEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.SelisihWaktu.Caption)@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.SelisihWaktu.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanLpgEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.SelisihWaktu.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanLPG_SelisihWaktu">
<input type="@(subaktivitasHasilPemeriksaanLpgEdit.SelisihWaktu.InputTextType)" name="x_SelisihWaktu" id="x_SelisihWaktu" data-table="SubaktivitasHasilPemeriksaanLPG" data-field="x_SelisihWaktu" value="@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.SelisihWaktu.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanLpgEdit.SelisihWaktu.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanLpgEdit.SelisihWaktu.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.SelisihWaktu.EditAttributes) aria-describedby="x_SelisihWaktu_help">
@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.SelisihWaktu.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.SelisihWaktu.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanLpgEdit.SelisihWaktu.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgEdit.IsQualityActive.Visible) { // subaktivitasHasilPemeriksaanLpgEdit.IsQualityActive.Visible (begin)
    <div id="r_IsQualityActive" @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.IsQualityActive.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaanLPG_IsQualityActive" class="@(subaktivitasHasilPemeriksaanLpgEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.IsQualityActive.Caption)@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.IsQualityActive.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanLpgEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.IsQualityActive.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaanLPG_IsQualityActive">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(subaktivitasHasilPemeriksaanLpgEdit.IsQualityActive.IsInvalidClass)" data-table="SubaktivitasHasilPemeriksaanLPG" data-field="x_IsQualityActive" data-boolean name="x_IsQualityActive" id="x_IsQualityActive" value="1" checked="@ConvertToBool(subaktivitasHasilPemeriksaanLpgEdit.IsQualityActive.CurrentValue)" @Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.IsQualityActive.EditAttributes) aria-describedby="x_IsQualityActive_help">
    <div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.IsQualityActive.GetErrorMessage())</div>
</div>
@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.IsQualityActive.GetCustomMessage)
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanLpgEdit.IsQualityActive.Visible (end) *@
</div><!-- /page* -->
@{ subaktivitasHasilPemeriksaanLpgEdit.CloseRecordset(); }
@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subaktivitasHasilPemeriksaanLpgEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubaktivitasHasilPemeriksaanLPGedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubaktivitasHasilPemeriksaanLPGedit" data-href="@AppPath(subaktivitasHasilPemeriksaanLpgEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subaktivitasHasilPemeriksaanLpgEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subaktivitasHasilPemeriksaanLpgEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubaktivitasHasilPemeriksaanLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
