@{
    // View
    View = this;

    // Check action result
    if (subAktivitasKeberangkatanRtwDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasKeberangkatanRtwDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasKeberangkatanRtwDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasKeberangkatanRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fSubAktivitasKeberangkatanRTWdelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasKeberangkatanRTWdelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasKeberangkatanRtwDelete.ShowPageHeader()
@subAktivitasKeberangkatanRtwDelete.ShowMessages()
<form name="fSubAktivitasKeberangkatanRTWdelete" id="fSubAktivitasKeberangkatanRTWdelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in subAktivitasKeberangkatanRtwDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(subAktivitasKeberangkatanRtwDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(subAktivitasKeberangkatanRtwDelete.TableContainerClass)" style="@(subAktivitasKeberangkatanRtwDelete.TableContainerStyle)">
<table class="@(subAktivitasKeberangkatanRtwDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (subAktivitasKeberangkatanRtwDelete.id.Visible) { // subAktivitasKeberangkatanRtwDelete.id.Visible (begin)
        <th class="@Html.Raw(subAktivitasKeberangkatanRtwDelete.id.HeaderCellClass)"><span id="elh_SubAktivitasKeberangkatanRTW_id" class="SubAktivitasKeberangkatanRTW_id">@Html.Raw(subAktivitasKeberangkatanRtwDelete.id.Caption)</span></th>
} @* subAktivitasKeberangkatanRtwDelete.id.Visible (end) *@
@if (subAktivitasKeberangkatanRtwDelete.NoReferensi.Visible) { // subAktivitasKeberangkatanRtwDelete.NoReferensi.Visible (begin)
        <th class="@Html.Raw(subAktivitasKeberangkatanRtwDelete.NoReferensi.HeaderCellClass)"><span id="elh_SubAktivitasKeberangkatanRTW_NoReferensi" class="SubAktivitasKeberangkatanRTW_NoReferensi">@Html.Raw(subAktivitasKeberangkatanRtwDelete.NoReferensi.Caption)</span></th>
} @* subAktivitasKeberangkatanRtwDelete.NoReferensi.Visible (end) *@
@if (subAktivitasKeberangkatanRtwDelete.idProses.Visible) { // subAktivitasKeberangkatanRtwDelete.idProses.Visible (begin)
        <th class="@Html.Raw(subAktivitasKeberangkatanRtwDelete.idProses.HeaderCellClass)"><span id="elh_SubAktivitasKeberangkatanRTW_idProses" class="SubAktivitasKeberangkatanRTW_idProses">@Html.Raw(subAktivitasKeberangkatanRtwDelete.idProses.Caption)</span></th>
} @* subAktivitasKeberangkatanRtwDelete.idProses.Visible (end) *@
@if (subAktivitasKeberangkatanRtwDelete.idAktifitas.Visible) { // subAktivitasKeberangkatanRtwDelete.idAktifitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasKeberangkatanRtwDelete.idAktifitas.HeaderCellClass)"><span id="elh_SubAktivitasKeberangkatanRTW_idAktifitas" class="SubAktivitasKeberangkatanRTW_idAktifitas">@Html.Raw(subAktivitasKeberangkatanRtwDelete.idAktifitas.Caption)</span></th>
} @* subAktivitasKeberangkatanRtwDelete.idAktifitas.Visible (end) *@
@if (subAktivitasKeberangkatanRtwDelete.StatusAktivitas.Visible) { // subAktivitasKeberangkatanRtwDelete.StatusAktivitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasKeberangkatanRtwDelete.StatusAktivitas.HeaderCellClass)"><span id="elh_SubAktivitasKeberangkatanRTW_StatusAktivitas" class="SubAktivitasKeberangkatanRTW_StatusAktivitas">@Html.Raw(subAktivitasKeberangkatanRtwDelete.StatusAktivitas.Caption)</span></th>
} @* subAktivitasKeberangkatanRtwDelete.StatusAktivitas.Visible (end) *@
@if (subAktivitasKeberangkatanRtwDelete.LastUpdatedBy.Visible) { // subAktivitasKeberangkatanRtwDelete.LastUpdatedBy.Visible (begin)
        <th class="@Html.Raw(subAktivitasKeberangkatanRtwDelete.LastUpdatedBy.HeaderCellClass)"><span id="elh_SubAktivitasKeberangkatanRTW_LastUpdatedBy" class="SubAktivitasKeberangkatanRTW_LastUpdatedBy">@Html.Raw(subAktivitasKeberangkatanRtwDelete.LastUpdatedBy.Caption)</span></th>
} @* subAktivitasKeberangkatanRtwDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasKeberangkatanRtwDelete.lastUpdatedDate.Visible) { // subAktivitasKeberangkatanRtwDelete.lastUpdatedDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasKeberangkatanRtwDelete.lastUpdatedDate.HeaderCellClass)"><span id="elh_SubAktivitasKeberangkatanRTW_lastUpdatedDate" class="SubAktivitasKeberangkatanRTW_lastUpdatedDate">@Html.Raw(subAktivitasKeberangkatanRtwDelete.lastUpdatedDate.Caption)</span></th>
} @* subAktivitasKeberangkatanRtwDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasKeberangkatanRtwDelete.Tanggal.Visible) { // subAktivitasKeberangkatanRtwDelete.Tanggal.Visible (begin)
        <th class="@Html.Raw(subAktivitasKeberangkatanRtwDelete.Tanggal.HeaderCellClass)"><span id="elh_SubAktivitasKeberangkatanRTW_Tanggal" class="SubAktivitasKeberangkatanRTW_Tanggal">@Html.Raw(subAktivitasKeberangkatanRtwDelete.Tanggal.Caption)</span></th>
} @* subAktivitasKeberangkatanRtwDelete.Tanggal.Visible (end) *@
@if (subAktivitasKeberangkatanRtwDelete.userInput.Visible) { // subAktivitasKeberangkatanRtwDelete.userInput.Visible (begin)
        <th class="@Html.Raw(subAktivitasKeberangkatanRtwDelete.userInput.HeaderCellClass)"><span id="elh_SubAktivitasKeberangkatanRTW_userInput" class="SubAktivitasKeberangkatanRTW_userInput">@Html.Raw(subAktivitasKeberangkatanRtwDelete.userInput.Caption)</span></th>
} @* subAktivitasKeberangkatanRtwDelete.userInput.Visible (end) *@
@if (subAktivitasKeberangkatanRtwDelete.etlDate.Visible) { // subAktivitasKeberangkatanRtwDelete.etlDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasKeberangkatanRtwDelete.etlDate.HeaderCellClass)"><span id="elh_SubAktivitasKeberangkatanRTW_etlDate" class="SubAktivitasKeberangkatanRTW_etlDate">@Html.Raw(subAktivitasKeberangkatanRtwDelete.etlDate.Caption)</span></th>
} @* subAktivitasKeberangkatanRtwDelete.etlDate.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ subAktivitasKeberangkatanRtwDelete.RecordCount = 0; }
@while (subAktivitasKeberangkatanRtwDelete.Recordset != null && await subAktivitasKeberangkatanRtwDelete.Recordset.ReadAsync()) { // DN
    subAktivitasKeberangkatanRtwDelete.RecordCount++;
    subAktivitasKeberangkatanRtwDelete.RowCount++;

    // Set row properties
    subAktivitasKeberangkatanRtwDelete.ResetAttributes();
    subAktivitasKeberangkatanRtwDelete.RowType = RowType.View; // View

    // Get the field contents
    await subAktivitasKeberangkatanRtwDelete.LoadRowValues(subAktivitasKeberangkatanRtwDelete.Recordset);

    // Render row
    await subAktivitasKeberangkatanRtwDelete.RenderRow();
    <tr @Html.Raw(subAktivitasKeberangkatanRtwDelete.RowAttributes)>
@if (subAktivitasKeberangkatanRtwDelete.id.Visible) { // subAktivitasKeberangkatanRtwDelete.id.Visible (begin)
        <td @Html.Raw(subAktivitasKeberangkatanRtwDelete.id.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasKeberangkatanRtwDelete.id.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanRtwDelete.id.GetViewValue())</span>
</span></td>
} @* subAktivitasKeberangkatanRtwDelete.id.Visible (end) *@
@if (subAktivitasKeberangkatanRtwDelete.NoReferensi.Visible) { // subAktivitasKeberangkatanRtwDelete.NoReferensi.Visible (begin)
        <td @Html.Raw(subAktivitasKeberangkatanRtwDelete.NoReferensi.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasKeberangkatanRtwDelete.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanRtwDelete.NoReferensi.GetViewValue())</span>
</span></td>
} @* subAktivitasKeberangkatanRtwDelete.NoReferensi.Visible (end) *@
@if (subAktivitasKeberangkatanRtwDelete.idProses.Visible) { // subAktivitasKeberangkatanRtwDelete.idProses.Visible (begin)
        <td @Html.Raw(subAktivitasKeberangkatanRtwDelete.idProses.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasKeberangkatanRtwDelete.idProses.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanRtwDelete.idProses.GetViewValue())</span>
</span></td>
} @* subAktivitasKeberangkatanRtwDelete.idProses.Visible (end) *@
@if (subAktivitasKeberangkatanRtwDelete.idAktifitas.Visible) { // subAktivitasKeberangkatanRtwDelete.idAktifitas.Visible (begin)
        <td @Html.Raw(subAktivitasKeberangkatanRtwDelete.idAktifitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasKeberangkatanRtwDelete.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanRtwDelete.idAktifitas.GetViewValue())</span>
</span></td>
} @* subAktivitasKeberangkatanRtwDelete.idAktifitas.Visible (end) *@
@if (subAktivitasKeberangkatanRtwDelete.StatusAktivitas.Visible) { // subAktivitasKeberangkatanRtwDelete.StatusAktivitas.Visible (begin)
        <td @Html.Raw(subAktivitasKeberangkatanRtwDelete.StatusAktivitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasKeberangkatanRtwDelete.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanRtwDelete.StatusAktivitas.GetViewValue())</span>
</span></td>
} @* subAktivitasKeberangkatanRtwDelete.StatusAktivitas.Visible (end) *@
@if (subAktivitasKeberangkatanRtwDelete.LastUpdatedBy.Visible) { // subAktivitasKeberangkatanRtwDelete.LastUpdatedBy.Visible (begin)
        <td @Html.Raw(subAktivitasKeberangkatanRtwDelete.LastUpdatedBy.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasKeberangkatanRtwDelete.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanRtwDelete.LastUpdatedBy.GetViewValue())</span>
</span></td>
} @* subAktivitasKeberangkatanRtwDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasKeberangkatanRtwDelete.lastUpdatedDate.Visible) { // subAktivitasKeberangkatanRtwDelete.lastUpdatedDate.Visible (begin)
        <td @Html.Raw(subAktivitasKeberangkatanRtwDelete.lastUpdatedDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasKeberangkatanRtwDelete.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanRtwDelete.lastUpdatedDate.GetViewValue())</span>
</span></td>
} @* subAktivitasKeberangkatanRtwDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasKeberangkatanRtwDelete.Tanggal.Visible) { // subAktivitasKeberangkatanRtwDelete.Tanggal.Visible (begin)
        <td @Html.Raw(subAktivitasKeberangkatanRtwDelete.Tanggal.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasKeberangkatanRtwDelete.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanRtwDelete.Tanggal.GetViewValue())</span>
</span></td>
} @* subAktivitasKeberangkatanRtwDelete.Tanggal.Visible (end) *@
@if (subAktivitasKeberangkatanRtwDelete.userInput.Visible) { // subAktivitasKeberangkatanRtwDelete.userInput.Visible (begin)
        <td @Html.Raw(subAktivitasKeberangkatanRtwDelete.userInput.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasKeberangkatanRtwDelete.userInput.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanRtwDelete.userInput.GetViewValue())</span>
</span></td>
} @* subAktivitasKeberangkatanRtwDelete.userInput.Visible (end) *@
@if (subAktivitasKeberangkatanRtwDelete.etlDate.Visible) { // subAktivitasKeberangkatanRtwDelete.etlDate.Visible (begin)
        <td @Html.Raw(subAktivitasKeberangkatanRtwDelete.etlDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasKeberangkatanRtwDelete.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanRtwDelete.etlDate.GetViewValue())</span>
</span></td>
} @* subAktivitasKeberangkatanRtwDelete.etlDate.Visible (end) *@
    </tr>
}
@{ subAktivitasKeberangkatanRtwDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(subAktivitasKeberangkatanRtwDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@subAktivitasKeberangkatanRtwDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
