@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormNilaiSfalarstsPymBbmList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormNilaiSfalarstsPymBbmList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormNilaiSfalarstsPymBbmList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormNilaiSfalarstsPymBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormNilaiSFALARSTSPymBBM: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasFormNilaiSfalarstsPymBbmList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasFormNilaiSfalarstsPymBbmList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasFormNilaiSfalarstsPymBbmList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasFormNilaiSfalarstsPymBbmList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasFormNilaiSfalarstsPymBbmList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasFormNilaiSfalarstsPymBbmList.TotalRecords > 0 && subAktivitasFormNilaiSfalarstsPymBbmList.ExportOptions.Visible) {
    subAktivitasFormNilaiSfalarstsPymBbmList.ExportOptions.Render("body");
}
@if (subAktivitasFormNilaiSfalarstsPymBbmList.ImportOptions.Visible) {
    subAktivitasFormNilaiSfalarstsPymBbmList.ImportOptions.Render("body");
}
@if (subAktivitasFormNilaiSfalarstsPymBbmList.SearchOptions.Visible) {
    subAktivitasFormNilaiSfalarstsPymBbmList.SearchOptions.Render("body");
}
@if (subAktivitasFormNilaiSfalarstsPymBbmList.FilterOptions.Visible) {
    subAktivitasFormNilaiSfalarstsPymBbmList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasFormNilaiSfalarstsPymBbmList.IsModal) {
<form name="fSubAktivitasFormNilaiSFALARSTSPymBBMsrch" id="fSubAktivitasFormNilaiSFALARSTSPymBBMsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasFormNilaiSFALARSTSPymBBMsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasFormNilaiSfalarstsPymBbmList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormNilaiSfalarstsPymBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormNilaiSFALARSTSPymBBM: currentTable } });
var currentForm;
var fSubAktivitasFormNilaiSFALARSTSPymBBMsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormNilaiSFALARSTSPymBBMsrch")
        .setPageId("list")
@if (subAktivitasFormNilaiSfalarstsPymBbmList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasFormNilaiSfalarstsPymBbmList.IsExport() && Empty(subAktivitasFormNilaiSfalarstsPymBbmList.CurrentAction) && subAktivitasFormNilaiSfalarstsPymBbmList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasFormNilaiSfalarstsPymBbmList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasFormNilaiSfalarstsPymBbmList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasFormNilaiSfalarstsPymBbmList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasFormNilaiSFALARSTSPymBBMsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormNilaiSfalarstsPymBbmList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasFormNilaiSFALARSTSPymBBMsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormNilaiSfalarstsPymBbmList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasFormNilaiSFALARSTSPymBBMsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormNilaiSfalarstsPymBbmList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasFormNilaiSFALARSTSPymBBMsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasFormNilaiSfalarstsPymBbmList.ShowPageHeader()
@subAktivitasFormNilaiSfalarstsPymBbmList.ShowMessages()
<main class="list @(subAktivitasFormNilaiSfalarstsPymBbmList.TotalRecords == 0 && !subAktivitasFormNilaiSfalarstsPymBbmList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasFormNilaiSfalarstsPymBbmList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasFormNilaiSfalarstsPymBbmList.TotalRecords > 0 || !Empty(subAktivitasFormNilaiSfalarstsPymBbmList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasFormNilaiSfalarstsPymBbmList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasFormNilaiSfalarstsPymBbmList.TableGridClass)">
<form name="@(subAktivitasFormNilaiSfalarstsPymBbmList.FormName)" id="@(subAktivitasFormNilaiSfalarstsPymBbmList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasFormNilaiSfalarstsPymBbmList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasFormNilaiSfalarstsPymBbmList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasFormNilaiSFALARSTSPymBBM" class="card-body ew-grid-middle-panel @(subAktivitasFormNilaiSfalarstsPymBbmList.TableContainerClass)" style="@(subAktivitasFormNilaiSfalarstsPymBbmList.TableContainerStyle)">
@if (subAktivitasFormNilaiSfalarstsPymBbmList.TotalRecords > 0 || subAktivitasFormNilaiSfalarstsPymBbmList.IsGridEdit || subAktivitasFormNilaiSfalarstsPymBbmList.IsMultiEdit) {
<table id="tbl_SubAktivitasFormNilaiSFALARSTSPymBBMlist" class="@(subAktivitasFormNilaiSfalarstsPymBbmList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasFormNilaiSfalarstsPymBbmList.RowType = RowType.Header;

    // Render list options
    await subAktivitasFormNilaiSfalarstsPymBbmList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasFormNilaiSfalarstsPymBbmList.ListOptions.RenderHeader("left")
@if (subAktivitasFormNilaiSfalarstsPymBbmList.id.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasFormNilaiSfalarstsPymBbmList.id.HeaderCellClass)"><div id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_id" class="SubAktivitasFormNilaiSFALARSTSPymBBM_id">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.RenderFieldHeader(subAktivitasFormNilaiSfalarstsPymBbmList.id))</div></th>
} @* subAktivitasFormNilaiSfalarstsPymBbmList.id.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmList.NoReferensi.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasFormNilaiSfalarstsPymBbmList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_NoReferensi" class="SubAktivitasFormNilaiSFALARSTSPymBBM_NoReferensi">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.RenderFieldHeader(subAktivitasFormNilaiSfalarstsPymBbmList.NoReferensi))</div></th>
} @* subAktivitasFormNilaiSfalarstsPymBbmList.NoReferensi.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmList.idProses.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasFormNilaiSfalarstsPymBbmList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_idProses" class="SubAktivitasFormNilaiSFALARSTSPymBBM_idProses">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.RenderFieldHeader(subAktivitasFormNilaiSfalarstsPymBbmList.idProses))</div></th>
} @* subAktivitasFormNilaiSfalarstsPymBbmList.idProses.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmList.idAktifitas.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasFormNilaiSfalarstsPymBbmList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_idAktifitas" class="SubAktivitasFormNilaiSFALARSTSPymBBM_idAktifitas">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.RenderFieldHeader(subAktivitasFormNilaiSfalarstsPymBbmList.idAktifitas))</div></th>
} @* subAktivitasFormNilaiSfalarstsPymBbmList.idAktifitas.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmList.StatusAktivitas.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasFormNilaiSfalarstsPymBbmList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_StatusAktivitas" class="SubAktivitasFormNilaiSFALARSTSPymBBM_StatusAktivitas">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.RenderFieldHeader(subAktivitasFormNilaiSfalarstsPymBbmList.StatusAktivitas))</div></th>
} @* subAktivitasFormNilaiSfalarstsPymBbmList.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmList.LastUpdatedBy.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasFormNilaiSfalarstsPymBbmList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_LastUpdatedBy" class="SubAktivitasFormNilaiSFALARSTSPymBBM_LastUpdatedBy">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.RenderFieldHeader(subAktivitasFormNilaiSfalarstsPymBbmList.LastUpdatedBy))</div></th>
} @* subAktivitasFormNilaiSfalarstsPymBbmList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmList.lastUpdatedDate.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasFormNilaiSfalarstsPymBbmList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_lastUpdatedDate" class="SubAktivitasFormNilaiSFALARSTSPymBBM_lastUpdatedDate">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.RenderFieldHeader(subAktivitasFormNilaiSfalarstsPymBbmList.lastUpdatedDate))</div></th>
} @* subAktivitasFormNilaiSfalarstsPymBbmList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_klobs.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_klobs.Visible (begin)
        <th data-name="SFAL_klobs" class="@(subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_klobs.HeaderCellClass)"><div id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_klobs" class="SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_klobs">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.RenderFieldHeader(subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_klobs))</div></th>
} @* subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_klobs.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_kl15.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_kl15.Visible (begin)
        <th data-name="SFAL_kl15" class="@(subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_kl15.HeaderCellClass)"><div id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_kl15" class="SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_kl15">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.RenderFieldHeader(subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_kl15))</div></th>
} @* subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_kl15.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_barrels.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_barrels.Visible (begin)
        <th data-name="SFAL_barrels" class="@(subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_barrels.HeaderCellClass)"><div id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_barrels" class="SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_barrels">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.RenderFieldHeader(subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_barrels))</div></th>
} @* subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_barrels.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_lt.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_lt.Visible (begin)
        <th data-name="SFAL_lt" class="@(subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_lt.HeaderCellClass)"><div id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_lt" class="SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_lt">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.RenderFieldHeader(subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_lt))</div></th>
} @* subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_lt.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_mt.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_mt.Visible (begin)
        <th data-name="SFAL_mt" class="@(subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_mt.HeaderCellClass)"><div id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_mt" class="SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_mt">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.RenderFieldHeader(subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_mt))</div></th>
} @* subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_mt.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmList.AR_klobs.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.AR_klobs.Visible (begin)
        <th data-name="AR_klobs" class="@(subAktivitasFormNilaiSfalarstsPymBbmList.AR_klobs.HeaderCellClass)"><div id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_AR_klobs" class="SubAktivitasFormNilaiSFALARSTSPymBBM_AR_klobs">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.RenderFieldHeader(subAktivitasFormNilaiSfalarstsPymBbmList.AR_klobs))</div></th>
} @* subAktivitasFormNilaiSfalarstsPymBbmList.AR_klobs.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmList.AR_kl15.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.AR_kl15.Visible (begin)
        <th data-name="AR_kl15" class="@(subAktivitasFormNilaiSfalarstsPymBbmList.AR_kl15.HeaderCellClass)"><div id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_AR_kl15" class="SubAktivitasFormNilaiSFALARSTSPymBBM_AR_kl15">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.RenderFieldHeader(subAktivitasFormNilaiSfalarstsPymBbmList.AR_kl15))</div></th>
} @* subAktivitasFormNilaiSfalarstsPymBbmList.AR_kl15.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmList.AR_barrels.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.AR_barrels.Visible (begin)
        <th data-name="AR_barrels" class="@(subAktivitasFormNilaiSfalarstsPymBbmList.AR_barrels.HeaderCellClass)"><div id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_AR_barrels" class="SubAktivitasFormNilaiSFALARSTSPymBBM_AR_barrels">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.RenderFieldHeader(subAktivitasFormNilaiSfalarstsPymBbmList.AR_barrels))</div></th>
} @* subAktivitasFormNilaiSfalarstsPymBbmList.AR_barrels.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmList.AR_lt.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.AR_lt.Visible (begin)
        <th data-name="AR_lt" class="@(subAktivitasFormNilaiSfalarstsPymBbmList.AR_lt.HeaderCellClass)"><div id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_AR_lt" class="SubAktivitasFormNilaiSFALARSTSPymBBM_AR_lt">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.RenderFieldHeader(subAktivitasFormNilaiSfalarstsPymBbmList.AR_lt))</div></th>
} @* subAktivitasFormNilaiSfalarstsPymBbmList.AR_lt.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmList.AR_mt.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.AR_mt.Visible (begin)
        <th data-name="AR_mt" class="@(subAktivitasFormNilaiSfalarstsPymBbmList.AR_mt.HeaderCellClass)"><div id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_AR_mt" class="SubAktivitasFormNilaiSFALARSTSPymBBM_AR_mt">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.RenderFieldHeader(subAktivitasFormNilaiSfalarstsPymBbmList.AR_mt))</div></th>
} @* subAktivitasFormNilaiSfalarstsPymBbmList.AR_mt.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmList.etlDate.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasFormNilaiSfalarstsPymBbmList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_etlDate" class="SubAktivitasFormNilaiSFALARSTSPymBBM_etlDate">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.RenderFieldHeader(subAktivitasFormNilaiSfalarstsPymBbmList.etlDate))</div></th>
} @* subAktivitasFormNilaiSfalarstsPymBbmList.etlDate.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmList.userInput.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasFormNilaiSfalarstsPymBbmList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_userInput" class="SubAktivitasFormNilaiSFALARSTSPymBBM_userInput">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.RenderFieldHeader(subAktivitasFormNilaiSfalarstsPymBbmList.userInput))</div></th>
} @* subAktivitasFormNilaiSfalarstsPymBbmList.userInput.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasFormNilaiSfalarstsPymBbmList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasFormNilaiSfalarstsPymBbmList.PageNumber)">
@{
    await subAktivitasFormNilaiSfalarstsPymBbmList.SetupGrid();
    bool eof = subAktivitasFormNilaiSfalarstsPymBbmList.Recordset == null; // DN
}
@while (subAktivitasFormNilaiSfalarstsPymBbmList.RecordCount < subAktivitasFormNilaiSfalarstsPymBbmList.StopRecord || SameString(subAktivitasFormNilaiSfalarstsPymBbmList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasFormNilaiSfalarstsPymBbmList.RowIndex, "$rowindex$") &&
        (!subAktivitasFormNilaiSfalarstsPymBbmList.IsGridAdd || subAktivitasFormNilaiSfalarstsPymBbmList.CurrentMode == "copy") &&
        (!((subAktivitasFormNilaiSfalarstsPymBbmList.IsCopy || subAktivitasFormNilaiSfalarstsPymBbmList.IsAdd) && subAktivitasFormNilaiSfalarstsPymBbmList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasFormNilaiSfalarstsPymBbmList.Recordset.ReadAsync();
    subAktivitasFormNilaiSfalarstsPymBbmList.RecordCount++;
    if (subAktivitasFormNilaiSfalarstsPymBbmList.RecordCount >= subAktivitasFormNilaiSfalarstsPymBbmList.StartRecord) {
        await subAktivitasFormNilaiSfalarstsPymBbmList.SetupRow();
    <tr @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasFormNilaiSfalarstsPymBbmList.ListOptions.RenderBody("left", subAktivitasFormNilaiSfalarstsPymBbmList.RowCount)
    @if (subAktivitasFormNilaiSfalarstsPymBbmList.id.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasFormNilaiSfalarstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormNilaiSfalarstsPymBbmList.RowCount)_SubAktivitasFormNilaiSFALARSTSPymBBM_id" class="el_SubAktivitasFormNilaiSFALARSTSPymBBM_id">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.id.ViewAttributes)>
@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormNilaiSfalarstsPymBbmList.id.Visible (end) *@
    @if (subAktivitasFormNilaiSfalarstsPymBbmList.NoReferensi.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasFormNilaiSfalarstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormNilaiSfalarstsPymBbmList.RowCount)_SubAktivitasFormNilaiSFALARSTSPymBBM_NoReferensi" class="el_SubAktivitasFormNilaiSFALARSTSPymBBM_NoReferensi">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormNilaiSfalarstsPymBbmList.NoReferensi.Visible (end) *@
    @if (subAktivitasFormNilaiSfalarstsPymBbmList.idProses.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasFormNilaiSfalarstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormNilaiSfalarstsPymBbmList.RowCount)_SubAktivitasFormNilaiSFALARSTSPymBBM_idProses" class="el_SubAktivitasFormNilaiSFALARSTSPymBBM_idProses">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormNilaiSfalarstsPymBbmList.idProses.Visible (end) *@
    @if (subAktivitasFormNilaiSfalarstsPymBbmList.idAktifitas.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasFormNilaiSfalarstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormNilaiSfalarstsPymBbmList.RowCount)_SubAktivitasFormNilaiSFALARSTSPymBBM_idAktifitas" class="el_SubAktivitasFormNilaiSFALARSTSPymBBM_idAktifitas">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormNilaiSfalarstsPymBbmList.idAktifitas.Visible (end) *@
    @if (subAktivitasFormNilaiSfalarstsPymBbmList.StatusAktivitas.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasFormNilaiSfalarstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormNilaiSfalarstsPymBbmList.RowCount)_SubAktivitasFormNilaiSFALARSTSPymBBM_StatusAktivitas" class="el_SubAktivitasFormNilaiSFALARSTSPymBBM_StatusAktivitas">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormNilaiSfalarstsPymBbmList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasFormNilaiSfalarstsPymBbmList.LastUpdatedBy.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasFormNilaiSfalarstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormNilaiSfalarstsPymBbmList.RowCount)_SubAktivitasFormNilaiSFALARSTSPymBBM_LastUpdatedBy" class="el_SubAktivitasFormNilaiSFALARSTSPymBBM_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormNilaiSfalarstsPymBbmList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasFormNilaiSfalarstsPymBbmList.lastUpdatedDate.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasFormNilaiSfalarstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormNilaiSfalarstsPymBbmList.RowCount)_SubAktivitasFormNilaiSFALARSTSPymBBM_lastUpdatedDate" class="el_SubAktivitasFormNilaiSFALARSTSPymBBM_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormNilaiSfalarstsPymBbmList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_klobs.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_klobs.Visible (begin)
        <td data-name="SFAL_klobs" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_klobs.CellAttributes)>
<span id="el@(SameString(subAktivitasFormNilaiSfalarstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormNilaiSfalarstsPymBbmList.RowCount)_SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_klobs" class="el_SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_klobs">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_klobs.ViewAttributes)>
@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_klobs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_klobs.Visible (end) *@
    @if (subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_kl15.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_kl15.Visible (begin)
        <td data-name="SFAL_kl15" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_kl15.CellAttributes)>
<span id="el@(SameString(subAktivitasFormNilaiSfalarstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormNilaiSfalarstsPymBbmList.RowCount)_SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_kl15" class="el_SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_kl15">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_kl15.ViewAttributes)>
@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_kl15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_kl15.Visible (end) *@
    @if (subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_barrels.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_barrels.Visible (begin)
        <td data-name="SFAL_barrels" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_barrels.CellAttributes)>
<span id="el@(SameString(subAktivitasFormNilaiSfalarstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormNilaiSfalarstsPymBbmList.RowCount)_SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_barrels" class="el_SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_barrels">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_barrels.ViewAttributes)>
@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_barrels.Visible (end) *@
    @if (subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_lt.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_lt.Visible (begin)
        <td data-name="SFAL_lt" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_lt.CellAttributes)>
<span id="el@(SameString(subAktivitasFormNilaiSfalarstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormNilaiSfalarstsPymBbmList.RowCount)_SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_lt" class="el_SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_lt">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_lt.ViewAttributes)>
@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_lt.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_lt.Visible (end) *@
    @if (subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_mt.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_mt.Visible (begin)
        <td data-name="SFAL_mt" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_mt.CellAttributes)>
<span id="el@(SameString(subAktivitasFormNilaiSfalarstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormNilaiSfalarstsPymBbmList.RowCount)_SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_mt" class="el_SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_mt">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_mt.ViewAttributes)>
@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_mt.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormNilaiSfalarstsPymBbmList.SFAL_mt.Visible (end) *@
    @if (subAktivitasFormNilaiSfalarstsPymBbmList.AR_klobs.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.AR_klobs.Visible (begin)
        <td data-name="AR_klobs" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.AR_klobs.CellAttributes)>
<span id="el@(SameString(subAktivitasFormNilaiSfalarstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormNilaiSfalarstsPymBbmList.RowCount)_SubAktivitasFormNilaiSFALARSTSPymBBM_AR_klobs" class="el_SubAktivitasFormNilaiSFALARSTSPymBBM_AR_klobs">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.AR_klobs.ViewAttributes)>
@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.AR_klobs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormNilaiSfalarstsPymBbmList.AR_klobs.Visible (end) *@
    @if (subAktivitasFormNilaiSfalarstsPymBbmList.AR_kl15.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.AR_kl15.Visible (begin)
        <td data-name="AR_kl15" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.AR_kl15.CellAttributes)>
<span id="el@(SameString(subAktivitasFormNilaiSfalarstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormNilaiSfalarstsPymBbmList.RowCount)_SubAktivitasFormNilaiSFALARSTSPymBBM_AR_kl15" class="el_SubAktivitasFormNilaiSFALARSTSPymBBM_AR_kl15">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.AR_kl15.ViewAttributes)>
@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.AR_kl15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormNilaiSfalarstsPymBbmList.AR_kl15.Visible (end) *@
    @if (subAktivitasFormNilaiSfalarstsPymBbmList.AR_barrels.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.AR_barrels.Visible (begin)
        <td data-name="AR_barrels" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.AR_barrels.CellAttributes)>
<span id="el@(SameString(subAktivitasFormNilaiSfalarstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormNilaiSfalarstsPymBbmList.RowCount)_SubAktivitasFormNilaiSFALARSTSPymBBM_AR_barrels" class="el_SubAktivitasFormNilaiSFALARSTSPymBBM_AR_barrels">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.AR_barrels.ViewAttributes)>
@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.AR_barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormNilaiSfalarstsPymBbmList.AR_barrels.Visible (end) *@
    @if (subAktivitasFormNilaiSfalarstsPymBbmList.AR_lt.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.AR_lt.Visible (begin)
        <td data-name="AR_lt" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.AR_lt.CellAttributes)>
<span id="el@(SameString(subAktivitasFormNilaiSfalarstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormNilaiSfalarstsPymBbmList.RowCount)_SubAktivitasFormNilaiSFALARSTSPymBBM_AR_lt" class="el_SubAktivitasFormNilaiSFALARSTSPymBBM_AR_lt">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.AR_lt.ViewAttributes)>
@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.AR_lt.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormNilaiSfalarstsPymBbmList.AR_lt.Visible (end) *@
    @if (subAktivitasFormNilaiSfalarstsPymBbmList.AR_mt.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.AR_mt.Visible (begin)
        <td data-name="AR_mt" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.AR_mt.CellAttributes)>
<span id="el@(SameString(subAktivitasFormNilaiSfalarstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormNilaiSfalarstsPymBbmList.RowCount)_SubAktivitasFormNilaiSFALARSTSPymBBM_AR_mt" class="el_SubAktivitasFormNilaiSFALARSTSPymBBM_AR_mt">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.AR_mt.ViewAttributes)>
@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.AR_mt.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormNilaiSfalarstsPymBbmList.AR_mt.Visible (end) *@
    @if (subAktivitasFormNilaiSfalarstsPymBbmList.etlDate.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasFormNilaiSfalarstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormNilaiSfalarstsPymBbmList.RowCount)_SubAktivitasFormNilaiSFALARSTSPymBBM_etlDate" class="el_SubAktivitasFormNilaiSFALARSTSPymBBM_etlDate">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormNilaiSfalarstsPymBbmList.etlDate.Visible (end) *@
    @if (subAktivitasFormNilaiSfalarstsPymBbmList.userInput.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasFormNilaiSfalarstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormNilaiSfalarstsPymBbmList.RowCount)_SubAktivitasFormNilaiSFALARSTSPymBBM_userInput" class="el_SubAktivitasFormNilaiSFALARSTSPymBBM_userInput">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormNilaiSfalarstsPymBbmList.userInput.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasFormNilaiSfalarstsPymBbmList.ListOptions.RenderBody("right", subAktivitasFormNilaiSfalarstsPymBbmList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasFormNilaiSfalarstsPymBbmList.RowIndex, "$rowindex$"))
        subAktivitasFormNilaiSfalarstsPymBbmList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasFormNilaiSfalarstsPymBbmList.IsCopy || subAktivitasFormNilaiSfalarstsPymBbmList.IsAdd) && subAktivitasFormNilaiSfalarstsPymBbmList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasFormNilaiSfalarstsPymBbmList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasFormNilaiSfalarstsPymBbmList.CurrentAction) && !subAktivitasFormNilaiSfalarstsPymBbmList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasFormNilaiSfalarstsPymBbmList.CloseRecordset(); }
@if (!subAktivitasFormNilaiSfalarstsPymBbmList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasFormNilaiSfalarstsPymBbmList.IsGridAdd && !(subAktivitasFormNilaiSfalarstsPymBbmList.IsGridEdit && subAktivitasFormNilaiSfalarstsPymBbmList.ModalGridEdit) && !subAktivitasFormNilaiSfalarstsPymBbmList.IsMultiEdit) {
@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasFormNilaiSfalarstsPymBbmList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasFormNilaiSfalarstsPymBbmList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasFormNilaiSfalarstsPymBbmList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasFormNilaiSfalarstsPymBbmList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormNilaiSfalarstsPymBbmList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormNilaiSFALARSTSPymBBM");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
