@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputFlowrateAdd.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputFlowrateAdd.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputFlowrateAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputFlowrate: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fSubAktivitasFormInputFlowrateadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputFlowrateadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null, ew.Validators.integer], fields.StatusAktivitas.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["Flowrate", [fields.Flowrate.visible && fields.Flowrate.required ? ew.Validators.required(fields.Flowrate.caption) : null], fields.Flowrate.isInvalid],
            ["StrippingTime", [fields.StrippingTime.visible && fields.StrippingTime.required ? ew.Validators.required(fields.StrippingTime.caption) : null], fields.StrippingTime.isInvalid],
            ["Pressure", [fields.Pressure.visible && fields.Pressure.required ? ew.Validators.required(fields.Pressure.caption) : null], fields.Pressure.isInvalid],
            ["LamaPembongkaran", [fields.LamaPembongkaran.visible && fields.LamaPembongkaran.required ? ew.Validators.required(fields.LamaPembongkaran.caption) : null], fields.LamaPembongkaran.isInvalid],
            ["ETC", [fields.ETC.visible && fields.ETC.required ? ew.Validators.required(fields.ETC.caption) : null, ew.Validators.datetime(fields.ETC.clientFormatPattern)], fields.ETC.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "idProses": @Html.Raw(subAktivitasFormInputFlowrateAdd.idProses.ToClientList(subAktivitasFormInputFlowrateAdd)),
            "idAktifitas": @Html.Raw(subAktivitasFormInputFlowrateAdd.idAktifitas.ToClientList(subAktivitasFormInputFlowrateAdd)),
            "StatusAktivitas": @Html.Raw(subAktivitasFormInputFlowrateAdd.StatusAktivitas.ToClientList(subAktivitasFormInputFlowrateAdd)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasFormInputFlowrateAdd.ShowPageHeader()
@subAktivitasFormInputFlowrateAdd.ShowMessages()
<form name="fSubAktivitasFormInputFlowrateadd" id="fSubAktivitasFormInputFlowrateadd" class="@(subAktivitasFormInputFlowrateAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputFlowrateAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasFormInputFlowrateAdd.OldKeyName)" value="@Html.Raw(subAktivitasFormInputFlowrateAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (subAktivitasFormInputFlowrateAdd.NoReferensi.Visible) { // subAktivitasFormInputFlowrateAdd.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasFormInputFlowrateAdd.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasFormInputFlowrate_NoReferensi" for="x_NoReferensi" class="@(subAktivitasFormInputFlowrateAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputFlowrateAdd.NoReferensi.Caption)@Html.Raw(subAktivitasFormInputFlowrateAdd.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputFlowrateAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputFlowrateAdd.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrate_NoReferensi">
<input type="@(subAktivitasFormInputFlowrateAdd.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasFormInputFlowrate" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasFormInputFlowrateAdd.NoReferensi.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateAdd.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputFlowrateAdd.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasFormInputFlowrateAdd.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasFormInputFlowrateAdd.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputFlowrateAdd.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputFlowrateAdd.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputFlowrateAdd.idProses.Visible) { // subAktivitasFormInputFlowrateAdd.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasFormInputFlowrateAdd.idProses.RowAttributes)>
        <label id="elh_SubAktivitasFormInputFlowrate_idProses" class="@(subAktivitasFormInputFlowrateAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputFlowrateAdd.idProses.Caption)@Html.Raw(subAktivitasFormInputFlowrateAdd.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputFlowrateAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputFlowrateAdd.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrate_idProses">
<span>@{
    if (IsRTL) {
        subAktivitasFormInputFlowrateAdd.idProses.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_idProses" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_idProses" id="sv_x_idProses" value="@(RemoveHtml(ConvertToString(subAktivitasFormInputFlowrateAdd.idProses.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateAdd.idProses.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateAdd.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputFlowrateAdd.idProses.FormatPattern)" @Html.Raw(subAktivitasFormInputFlowrateAdd.idProses.EditAttributes) aria-describedby="x_idProses_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasFormInputFlowrate" data-field="x_idProses" data-input="sv_x_idProses" data-value-separator="@(subAktivitasFormInputFlowrateAdd.idProses.DisplayValueSeparatorAttribute)" name="x_idProses" id="x_idProses" value="@(HtmlEncode(subAktivitasFormInputFlowrateAdd.idProses.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasFormInputFlowrateAdd.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputFlowrateAdd.idProses.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasFormInputFlowrateadd"], function() {
    fSubAktivitasFormInputFlowrateadd.createAutoSuggest(Object.assign({"id":"x_idProses","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasFormInputFlowrateAdd.idProses.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasFormInputFlowrate.fields.idProses.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasFormInputFlowrateAdd.idProses.Lookup.GetParamTag(subAktivitasFormInputFlowrateAdd, "p_x_idProses"))
</span>
</div></div>
    </div>
} @* subAktivitasFormInputFlowrateAdd.idProses.Visible (end) *@
@if (subAktivitasFormInputFlowrateAdd.idAktifitas.Visible) { // subAktivitasFormInputFlowrateAdd.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasFormInputFlowrateAdd.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputFlowrate_idAktifitas" class="@(subAktivitasFormInputFlowrateAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputFlowrateAdd.idAktifitas.Caption)@Html.Raw(subAktivitasFormInputFlowrateAdd.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputFlowrateAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputFlowrateAdd.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrate_idAktifitas">
<span>@{
    if (IsRTL) {
        subAktivitasFormInputFlowrateAdd.idAktifitas.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_idAktifitas" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_idAktifitas" id="sv_x_idAktifitas" value="@(RemoveHtml(ConvertToString(subAktivitasFormInputFlowrateAdd.idAktifitas.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateAdd.idAktifitas.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateAdd.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputFlowrateAdd.idAktifitas.FormatPattern)" @Html.Raw(subAktivitasFormInputFlowrateAdd.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasFormInputFlowrate" data-field="x_idAktifitas" data-input="sv_x_idAktifitas" data-value-separator="@(subAktivitasFormInputFlowrateAdd.idAktifitas.DisplayValueSeparatorAttribute)" name="x_idAktifitas" id="x_idAktifitas" value="@(HtmlEncode(subAktivitasFormInputFlowrateAdd.idAktifitas.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasFormInputFlowrateAdd.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputFlowrateAdd.idAktifitas.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasFormInputFlowrateadd"], function() {
    fSubAktivitasFormInputFlowrateadd.createAutoSuggest(Object.assign({"id":"x_idAktifitas","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasFormInputFlowrateAdd.idAktifitas.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasFormInputFlowrate.fields.idAktifitas.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasFormInputFlowrateAdd.idAktifitas.Lookup.GetParamTag(subAktivitasFormInputFlowrateAdd, "p_x_idAktifitas"))
</span>
</div></div>
    </div>
} @* subAktivitasFormInputFlowrateAdd.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputFlowrateAdd.StatusAktivitas.Visible) { // subAktivitasFormInputFlowrateAdd.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subAktivitasFormInputFlowrateAdd.StatusAktivitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputFlowrate_StatusAktivitas" class="@(subAktivitasFormInputFlowrateAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputFlowrateAdd.StatusAktivitas.Caption)@Html.Raw(subAktivitasFormInputFlowrateAdd.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputFlowrateAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputFlowrateAdd.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrate_StatusAktivitas">
<span>@{
    if (IsRTL) {
        subAktivitasFormInputFlowrateAdd.StatusAktivitas.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_StatusAktivitas" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_StatusAktivitas" id="sv_x_StatusAktivitas" value="@(RemoveHtml(ConvertToString(subAktivitasFormInputFlowrateAdd.StatusAktivitas.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateAdd.StatusAktivitas.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateAdd.StatusAktivitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputFlowrateAdd.StatusAktivitas.FormatPattern)" @Html.Raw(subAktivitasFormInputFlowrateAdd.StatusAktivitas.EditAttributes) aria-describedby="x_StatusAktivitas_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasFormInputFlowrate" data-field="x_StatusAktivitas" data-input="sv_x_StatusAktivitas" data-value-separator="@(subAktivitasFormInputFlowrateAdd.StatusAktivitas.DisplayValueSeparatorAttribute)" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@(HtmlEncode(subAktivitasFormInputFlowrateAdd.StatusAktivitas.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasFormInputFlowrateAdd.StatusAktivitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputFlowrateAdd.StatusAktivitas.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasFormInputFlowrateadd"], function() {
    fSubAktivitasFormInputFlowrateadd.createAutoSuggest(Object.assign({"id":"x_StatusAktivitas","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasFormInputFlowrateAdd.StatusAktivitas.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasFormInputFlowrate.fields.StatusAktivitas.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasFormInputFlowrateAdd.StatusAktivitas.Lookup.GetParamTag(subAktivitasFormInputFlowrateAdd, "p_x_StatusAktivitas"))
</span>
</div></div>
    </div>
} @* subAktivitasFormInputFlowrateAdd.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputFlowrateAdd.LastUpdatedBy.Visible) { // subAktivitasFormInputFlowrateAdd.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputFlowrateAdd.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasFormInputFlowrate_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasFormInputFlowrateAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputFlowrateAdd.LastUpdatedBy.Caption)@Html.Raw(subAktivitasFormInputFlowrateAdd.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputFlowrateAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputFlowrateAdd.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrate_LastUpdatedBy">
<input type="@(subAktivitasFormInputFlowrateAdd.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasFormInputFlowrate" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasFormInputFlowrateAdd.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateAdd.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputFlowrateAdd.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasFormInputFlowrateAdd.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasFormInputFlowrateAdd.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputFlowrateAdd.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputFlowrateAdd.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputFlowrateAdd.lastUpdatedDate.Visible) { // subAktivitasFormInputFlowrateAdd.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputFlowrateAdd.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputFlowrate_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasFormInputFlowrateAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputFlowrateAdd.lastUpdatedDate.Caption)@Html.Raw(subAktivitasFormInputFlowrateAdd.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputFlowrateAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputFlowrateAdd.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrate_lastUpdatedDate">
<input type="@(subAktivitasFormInputFlowrateAdd.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasFormInputFlowrate" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasFormInputFlowrateAdd.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateAdd.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputFlowrateAdd.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasFormInputFlowrateAdd.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasFormInputFlowrateAdd.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputFlowrateAdd.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputFlowrateAdd.lastUpdatedDate.ReadOnly && !subAktivitasFormInputFlowrateAdd.lastUpdatedDate.Disabled && !subAktivitasFormInputFlowrateAdd.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasFormInputFlowrateAdd.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputFlowrateadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputFlowrateadd", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputFlowrateAdd.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputFlowrateAdd.Flowrate.Visible) { // subAktivitasFormInputFlowrateAdd.Flowrate.Visible (begin)
    <div id="r_Flowrate" @Html.Raw(subAktivitasFormInputFlowrateAdd.Flowrate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputFlowrate_Flowrate" for="x_Flowrate" class="@(subAktivitasFormInputFlowrateAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputFlowrateAdd.Flowrate.Caption)@Html.Raw(subAktivitasFormInputFlowrateAdd.Flowrate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputFlowrateAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputFlowrateAdd.Flowrate.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrate_Flowrate">
<input type="@(subAktivitasFormInputFlowrateAdd.Flowrate.InputTextType)" name="x_Flowrate" id="x_Flowrate" data-table="SubAktivitasFormInputFlowrate" data-field="x_Flowrate" value="@Html.Raw(subAktivitasFormInputFlowrateAdd.Flowrate.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateAdd.Flowrate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputFlowrateAdd.Flowrate.FormatPattern)"@Html.Raw(subAktivitasFormInputFlowrateAdd.Flowrate.EditAttributes) aria-describedby="x_Flowrate_help">
@Html.Raw(subAktivitasFormInputFlowrateAdd.Flowrate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputFlowrateAdd.Flowrate.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputFlowrateAdd.Flowrate.Visible (end) *@
@if (subAktivitasFormInputFlowrateAdd.StrippingTime.Visible) { // subAktivitasFormInputFlowrateAdd.StrippingTime.Visible (begin)
    <div id="r_StrippingTime" @Html.Raw(subAktivitasFormInputFlowrateAdd.StrippingTime.RowAttributes)>
        <label id="elh_SubAktivitasFormInputFlowrate_StrippingTime" for="x_StrippingTime" class="@(subAktivitasFormInputFlowrateAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputFlowrateAdd.StrippingTime.Caption)@Html.Raw(subAktivitasFormInputFlowrateAdd.StrippingTime.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputFlowrateAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputFlowrateAdd.StrippingTime.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrate_StrippingTime">
<input type="@(subAktivitasFormInputFlowrateAdd.StrippingTime.InputTextType)" name="x_StrippingTime" id="x_StrippingTime" data-table="SubAktivitasFormInputFlowrate" data-field="x_StrippingTime" value="@Html.Raw(subAktivitasFormInputFlowrateAdd.StrippingTime.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateAdd.StrippingTime.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputFlowrateAdd.StrippingTime.FormatPattern)"@Html.Raw(subAktivitasFormInputFlowrateAdd.StrippingTime.EditAttributes) aria-describedby="x_StrippingTime_help">
@Html.Raw(subAktivitasFormInputFlowrateAdd.StrippingTime.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputFlowrateAdd.StrippingTime.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputFlowrateAdd.StrippingTime.Visible (end) *@
@if (subAktivitasFormInputFlowrateAdd.Pressure.Visible) { // subAktivitasFormInputFlowrateAdd.Pressure.Visible (begin)
    <div id="r_Pressure" @Html.Raw(subAktivitasFormInputFlowrateAdd.Pressure.RowAttributes)>
        <label id="elh_SubAktivitasFormInputFlowrate_Pressure" for="x_Pressure" class="@(subAktivitasFormInputFlowrateAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputFlowrateAdd.Pressure.Caption)@Html.Raw(subAktivitasFormInputFlowrateAdd.Pressure.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputFlowrateAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputFlowrateAdd.Pressure.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrate_Pressure">
<input type="@(subAktivitasFormInputFlowrateAdd.Pressure.InputTextType)" name="x_Pressure" id="x_Pressure" data-table="SubAktivitasFormInputFlowrate" data-field="x_Pressure" value="@Html.Raw(subAktivitasFormInputFlowrateAdd.Pressure.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateAdd.Pressure.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputFlowrateAdd.Pressure.FormatPattern)"@Html.Raw(subAktivitasFormInputFlowrateAdd.Pressure.EditAttributes) aria-describedby="x_Pressure_help">
@Html.Raw(subAktivitasFormInputFlowrateAdd.Pressure.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputFlowrateAdd.Pressure.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputFlowrateAdd.Pressure.Visible (end) *@
@if (subAktivitasFormInputFlowrateAdd.LamaPembongkaran.Visible) { // subAktivitasFormInputFlowrateAdd.LamaPembongkaran.Visible (begin)
    <div id="r_LamaPembongkaran" @Html.Raw(subAktivitasFormInputFlowrateAdd.LamaPembongkaran.RowAttributes)>
        <label id="elh_SubAktivitasFormInputFlowrate_LamaPembongkaran" for="x_LamaPembongkaran" class="@(subAktivitasFormInputFlowrateAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputFlowrateAdd.LamaPembongkaran.Caption)@Html.Raw(subAktivitasFormInputFlowrateAdd.LamaPembongkaran.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputFlowrateAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputFlowrateAdd.LamaPembongkaran.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrate_LamaPembongkaran">
<input type="@(subAktivitasFormInputFlowrateAdd.LamaPembongkaran.InputTextType)" name="x_LamaPembongkaran" id="x_LamaPembongkaran" data-table="SubAktivitasFormInputFlowrate" data-field="x_LamaPembongkaran" value="@Html.Raw(subAktivitasFormInputFlowrateAdd.LamaPembongkaran.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateAdd.LamaPembongkaran.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputFlowrateAdd.LamaPembongkaran.FormatPattern)"@Html.Raw(subAktivitasFormInputFlowrateAdd.LamaPembongkaran.EditAttributes) aria-describedby="x_LamaPembongkaran_help">
@Html.Raw(subAktivitasFormInputFlowrateAdd.LamaPembongkaran.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputFlowrateAdd.LamaPembongkaran.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputFlowrateAdd.LamaPembongkaran.Visible (end) *@
@if (subAktivitasFormInputFlowrateAdd.ETC.Visible) { // subAktivitasFormInputFlowrateAdd.ETC.Visible (begin)
    <div id="r_ETC" @Html.Raw(subAktivitasFormInputFlowrateAdd.ETC.RowAttributes)>
        <label id="elh_SubAktivitasFormInputFlowrate_ETC" for="x_ETC" class="@(subAktivitasFormInputFlowrateAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputFlowrateAdd.ETC.Caption)@Html.Raw(subAktivitasFormInputFlowrateAdd.ETC.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputFlowrateAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputFlowrateAdd.ETC.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrate_ETC">
<input type="@(subAktivitasFormInputFlowrateAdd.ETC.InputTextType)" name="x_ETC" id="x_ETC" data-table="SubAktivitasFormInputFlowrate" data-field="x_ETC" value="@Html.Raw(subAktivitasFormInputFlowrateAdd.ETC.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateAdd.ETC.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputFlowrateAdd.ETC.FormatPattern)"@Html.Raw(subAktivitasFormInputFlowrateAdd.ETC.EditAttributes) aria-describedby="x_ETC_help">
@Html.Raw(subAktivitasFormInputFlowrateAdd.ETC.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputFlowrateAdd.ETC.GetErrorMessage())</div>
@if (!subAktivitasFormInputFlowrateAdd.ETC.ReadOnly && !subAktivitasFormInputFlowrateAdd.ETC.Disabled && !subAktivitasFormInputFlowrateAdd.ETC.EditAttrs.Is("readonly") && !subAktivitasFormInputFlowrateAdd.ETC.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputFlowrateadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(15))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputFlowrateadd", "x_ETC", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputFlowrateAdd.ETC.Visible (end) *@
@if (subAktivitasFormInputFlowrateAdd.userInput.Visible) { // subAktivitasFormInputFlowrateAdd.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasFormInputFlowrateAdd.userInput.RowAttributes)>
        <label id="elh_SubAktivitasFormInputFlowrate_userInput" for="x_userInput" class="@(subAktivitasFormInputFlowrateAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputFlowrateAdd.userInput.Caption)@Html.Raw(subAktivitasFormInputFlowrateAdd.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputFlowrateAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputFlowrateAdd.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrate_userInput">
<input type="@(subAktivitasFormInputFlowrateAdd.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasFormInputFlowrate" data-field="x_userInput" value="@Html.Raw(subAktivitasFormInputFlowrateAdd.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateAdd.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputFlowrateAdd.userInput.FormatPattern)"@Html.Raw(subAktivitasFormInputFlowrateAdd.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasFormInputFlowrateAdd.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputFlowrateAdd.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputFlowrateAdd.userInput.Visible (end) *@
@if (subAktivitasFormInputFlowrateAdd.etlDate.Visible) { // subAktivitasFormInputFlowrateAdd.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasFormInputFlowrateAdd.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputFlowrate_etlDate" for="x_etlDate" class="@(subAktivitasFormInputFlowrateAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputFlowrateAdd.etlDate.Caption)@Html.Raw(subAktivitasFormInputFlowrateAdd.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputFlowrateAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputFlowrateAdd.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrate_etlDate">
<input type="@(subAktivitasFormInputFlowrateAdd.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasFormInputFlowrate" data-field="x_etlDate" value="@Html.Raw(subAktivitasFormInputFlowrateAdd.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateAdd.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputFlowrateAdd.etlDate.FormatPattern)"@Html.Raw(subAktivitasFormInputFlowrateAdd.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasFormInputFlowrateAdd.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputFlowrateAdd.etlDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputFlowrateAdd.etlDate.ReadOnly && !subAktivitasFormInputFlowrateAdd.etlDate.Disabled && !subAktivitasFormInputFlowrateAdd.etlDate.EditAttrs.Is("readonly") && !subAktivitasFormInputFlowrateAdd.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputFlowrateadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputFlowrateadd", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputFlowrateAdd.etlDate.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasFormInputFlowrateAdd.CloseRecordset(); }
@Html.Raw(subAktivitasFormInputFlowrateAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasFormInputFlowrateAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasFormInputFlowrateadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasFormInputFlowrateadd" data-href="@AppPath(subAktivitasFormInputFlowrateAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasFormInputFlowrateAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@subAktivitasFormInputFlowrateAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputFlowrate");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
