@{
    // View
    View = this;

    // Check action result
    if (subAktivitasDataMobilTangkiMtGateOutLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasDataMobilTangkiMtGateOutLpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasDataMobilTangkiMtGateOutLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataMobilTangkiMtGateOutLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataMobilTangkiMTGateOutLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasDataMobilTangkiMtGateOutLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasDataMobilTangkiMtGateOutLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasDataMobilTangkiMtGateOutLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasDataMobilTangkiMtGateOutLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasDataMobilTangkiMtGateOutLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasDataMobilTangkiMtGateOutLpgList.TotalRecords > 0 && subAktivitasDataMobilTangkiMtGateOutLpgList.ExportOptions.Visible) {
    subAktivitasDataMobilTangkiMtGateOutLpgList.ExportOptions.Render("body");
}
@if (subAktivitasDataMobilTangkiMtGateOutLpgList.ImportOptions.Visible) {
    subAktivitasDataMobilTangkiMtGateOutLpgList.ImportOptions.Render("body");
}
@if (subAktivitasDataMobilTangkiMtGateOutLpgList.SearchOptions.Visible) {
    subAktivitasDataMobilTangkiMtGateOutLpgList.SearchOptions.Render("body");
}
@if (subAktivitasDataMobilTangkiMtGateOutLpgList.FilterOptions.Visible) {
    subAktivitasDataMobilTangkiMtGateOutLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasDataMobilTangkiMtGateOutLpgList.IsModal) {
<form name="fSubAktivitasDataMobilTangkiMTGateOutLPGsrch" id="fSubAktivitasDataMobilTangkiMTGateOutLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasDataMobilTangkiMTGateOutLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasDataMobilTangkiMtGateOutLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataMobilTangkiMtGateOutLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataMobilTangkiMTGateOutLPG: currentTable } });
var currentForm;
var fSubAktivitasDataMobilTangkiMTGateOutLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasDataMobilTangkiMTGateOutLPGsrch")
        .setPageId("list")
@if (subAktivitasDataMobilTangkiMtGateOutLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasDataMobilTangkiMtGateOutLpgList.IsExport() && Empty(subAktivitasDataMobilTangkiMtGateOutLpgList.CurrentAction) && subAktivitasDataMobilTangkiMtGateOutLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasDataMobilTangkiMtGateOutLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasDataMobilTangkiMtGateOutLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasDataMobilTangkiMtGateOutLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasDataMobilTangkiMTGateOutLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataMobilTangkiMtGateOutLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasDataMobilTangkiMTGateOutLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataMobilTangkiMtGateOutLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasDataMobilTangkiMTGateOutLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataMobilTangkiMtGateOutLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasDataMobilTangkiMTGateOutLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasDataMobilTangkiMtGateOutLpgList.ShowPageHeader()
@subAktivitasDataMobilTangkiMtGateOutLpgList.ShowMessages()
<main class="list @(subAktivitasDataMobilTangkiMtGateOutLpgList.TotalRecords == 0 && !subAktivitasDataMobilTangkiMtGateOutLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasDataMobilTangkiMtGateOutLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasDataMobilTangkiMtGateOutLpgList.TotalRecords > 0 || !Empty(subAktivitasDataMobilTangkiMtGateOutLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasDataMobilTangkiMtGateOutLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasDataMobilTangkiMtGateOutLpgList.TableGridClass)">
<form name="@(subAktivitasDataMobilTangkiMtGateOutLpgList.FormName)" id="@(subAktivitasDataMobilTangkiMtGateOutLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasDataMobilTangkiMtGateOutLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasDataMobilTangkiMtGateOutLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasDataMobilTangkiMTGateOutLPG" class="card-body ew-grid-middle-panel @(subAktivitasDataMobilTangkiMtGateOutLpgList.TableContainerClass)" style="@(subAktivitasDataMobilTangkiMtGateOutLpgList.TableContainerStyle)">
@if (subAktivitasDataMobilTangkiMtGateOutLpgList.TotalRecords > 0 || subAktivitasDataMobilTangkiMtGateOutLpgList.IsGridEdit || subAktivitasDataMobilTangkiMtGateOutLpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasDataMobilTangkiMTGateOutLPGlist" class="@(subAktivitasDataMobilTangkiMtGateOutLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasDataMobilTangkiMtGateOutLpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasDataMobilTangkiMtGateOutLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasDataMobilTangkiMtGateOutLpgList.ListOptions.RenderHeader("left")
@if (subAktivitasDataMobilTangkiMtGateOutLpgList.id.Visible) { // subAktivitasDataMobilTangkiMtGateOutLpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasDataMobilTangkiMtGateOutLpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateOutLPG_id" class="SubAktivitasDataMobilTangkiMTGateOutLPG_id">@Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateOutLpgList.id))</div></th>
} @* subAktivitasDataMobilTangkiMtGateOutLpgList.id.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateOutLpgList.NoReferensi.Visible) { // subAktivitasDataMobilTangkiMtGateOutLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasDataMobilTangkiMtGateOutLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateOutLPG_NoReferensi" class="SubAktivitasDataMobilTangkiMTGateOutLPG_NoReferensi">@Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateOutLpgList.NoReferensi))</div></th>
} @* subAktivitasDataMobilTangkiMtGateOutLpgList.NoReferensi.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateOutLpgList.idProses.Visible) { // subAktivitasDataMobilTangkiMtGateOutLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasDataMobilTangkiMtGateOutLpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateOutLPG_idProses" class="SubAktivitasDataMobilTangkiMTGateOutLPG_idProses">@Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateOutLpgList.idProses))</div></th>
} @* subAktivitasDataMobilTangkiMtGateOutLpgList.idProses.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateOutLpgList.idAktifitas.Visible) { // subAktivitasDataMobilTangkiMtGateOutLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasDataMobilTangkiMtGateOutLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateOutLPG_idAktifitas" class="SubAktivitasDataMobilTangkiMTGateOutLPG_idAktifitas">@Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateOutLpgList.idAktifitas))</div></th>
} @* subAktivitasDataMobilTangkiMtGateOutLpgList.idAktifitas.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateOutLpgList.StatusAktivitas.Visible) { // subAktivitasDataMobilTangkiMtGateOutLpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasDataMobilTangkiMtGateOutLpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateOutLPG_StatusAktivitas" class="SubAktivitasDataMobilTangkiMTGateOutLPG_StatusAktivitas">@Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateOutLpgList.StatusAktivitas))</div></th>
} @* subAktivitasDataMobilTangkiMtGateOutLpgList.StatusAktivitas.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateOutLpgList.LastUpdatedBy.Visible) { // subAktivitasDataMobilTangkiMtGateOutLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasDataMobilTangkiMtGateOutLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateOutLPG_LastUpdatedBy" class="SubAktivitasDataMobilTangkiMTGateOutLPG_LastUpdatedBy">@Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateOutLpgList.LastUpdatedBy))</div></th>
} @* subAktivitasDataMobilTangkiMtGateOutLpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateOutLpgList.lastUpdatedDate.Visible) { // subAktivitasDataMobilTangkiMtGateOutLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasDataMobilTangkiMtGateOutLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateOutLPG_lastUpdatedDate" class="SubAktivitasDataMobilTangkiMTGateOutLPG_lastUpdatedDate">@Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateOutLpgList.lastUpdatedDate))</div></th>
} @* subAktivitasDataMobilTangkiMtGateOutLpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateOutLpgList.NomorPolisi.Visible) { // subAktivitasDataMobilTangkiMtGateOutLpgList.NomorPolisi.Visible (begin)
        <th data-name="NomorPolisi" class="@(subAktivitasDataMobilTangkiMtGateOutLpgList.NomorPolisi.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateOutLPG_NomorPolisi" class="SubAktivitasDataMobilTangkiMTGateOutLPG_NomorPolisi">@Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateOutLpgList.NomorPolisi))</div></th>
} @* subAktivitasDataMobilTangkiMtGateOutLpgList.NomorPolisi.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateOutLpgList.AMT.Visible) { // subAktivitasDataMobilTangkiMtGateOutLpgList.AMT.Visible (begin)
        <th data-name="AMT" class="@(subAktivitasDataMobilTangkiMtGateOutLpgList.AMT.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateOutLPG_AMT" class="SubAktivitasDataMobilTangkiMTGateOutLPG_AMT">@Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateOutLpgList.AMT))</div></th>
} @* subAktivitasDataMobilTangkiMtGateOutLpgList.AMT.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateOutLpgList.WaktuGateOut.Visible) { // subAktivitasDataMobilTangkiMtGateOutLpgList.WaktuGateOut.Visible (begin)
        <th data-name="WaktuGateOut" class="@(subAktivitasDataMobilTangkiMtGateOutLpgList.WaktuGateOut.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateOutLPG_WaktuGateOut" class="SubAktivitasDataMobilTangkiMTGateOutLPG_WaktuGateOut">@Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateOutLpgList.WaktuGateOut))</div></th>
} @* subAktivitasDataMobilTangkiMtGateOutLpgList.WaktuGateOut.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateOutLpgList.NomorSegel.Visible) { // subAktivitasDataMobilTangkiMtGateOutLpgList.NomorSegel.Visible (begin)
        <th data-name="NomorSegel" class="@(subAktivitasDataMobilTangkiMtGateOutLpgList.NomorSegel.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateOutLPG_NomorSegel" class="SubAktivitasDataMobilTangkiMTGateOutLPG_NomorSegel">@Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateOutLpgList.NomorSegel))</div></th>
} @* subAktivitasDataMobilTangkiMtGateOutLpgList.NomorSegel.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateOutLpgList.userInput.Visible) { // subAktivitasDataMobilTangkiMtGateOutLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasDataMobilTangkiMtGateOutLpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateOutLPG_userInput" class="SubAktivitasDataMobilTangkiMTGateOutLPG_userInput">@Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateOutLpgList.userInput))</div></th>
} @* subAktivitasDataMobilTangkiMtGateOutLpgList.userInput.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateOutLpgList.etlDate.Visible) { // subAktivitasDataMobilTangkiMtGateOutLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasDataMobilTangkiMtGateOutLpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateOutLPG_etlDate" class="SubAktivitasDataMobilTangkiMTGateOutLPG_etlDate">@Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateOutLpgList.etlDate))</div></th>
} @* subAktivitasDataMobilTangkiMtGateOutLpgList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasDataMobilTangkiMtGateOutLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasDataMobilTangkiMtGateOutLpgList.PageNumber)">
@{
    await subAktivitasDataMobilTangkiMtGateOutLpgList.SetupGrid();
    bool eof = subAktivitasDataMobilTangkiMtGateOutLpgList.Recordset == null; // DN
}
@while (subAktivitasDataMobilTangkiMtGateOutLpgList.RecordCount < subAktivitasDataMobilTangkiMtGateOutLpgList.StopRecord || SameString(subAktivitasDataMobilTangkiMtGateOutLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasDataMobilTangkiMtGateOutLpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasDataMobilTangkiMtGateOutLpgList.IsGridAdd || subAktivitasDataMobilTangkiMtGateOutLpgList.CurrentMode == "copy") &&
        (!((subAktivitasDataMobilTangkiMtGateOutLpgList.IsCopy || subAktivitasDataMobilTangkiMtGateOutLpgList.IsAdd) && subAktivitasDataMobilTangkiMtGateOutLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasDataMobilTangkiMtGateOutLpgList.Recordset.ReadAsync();
    subAktivitasDataMobilTangkiMtGateOutLpgList.RecordCount++;
    if (subAktivitasDataMobilTangkiMtGateOutLpgList.RecordCount >= subAktivitasDataMobilTangkiMtGateOutLpgList.StartRecord) {
        await subAktivitasDataMobilTangkiMtGateOutLpgList.SetupRow();
    <tr @Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasDataMobilTangkiMtGateOutLpgList.ListOptions.RenderBody("left", subAktivitasDataMobilTangkiMtGateOutLpgList.RowCount)
    @if (subAktivitasDataMobilTangkiMtGateOutLpgList.id.Visible) { // subAktivitasDataMobilTangkiMtGateOutLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasDataMobilTangkiMtGateOutLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateOutLpgList.RowCount)_SubAktivitasDataMobilTangkiMTGateOutLPG_id" class="el_SubAktivitasDataMobilTangkiMTGateOutLPG_id">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateOutLpgList.id.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateOutLpgList.NoReferensi.Visible) { // subAktivitasDataMobilTangkiMtGateOutLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasDataMobilTangkiMtGateOutLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateOutLpgList.RowCount)_SubAktivitasDataMobilTangkiMTGateOutLPG_NoReferensi" class="el_SubAktivitasDataMobilTangkiMTGateOutLPG_NoReferensi">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateOutLpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateOutLpgList.idProses.Visible) { // subAktivitasDataMobilTangkiMtGateOutLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasDataMobilTangkiMtGateOutLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateOutLpgList.RowCount)_SubAktivitasDataMobilTangkiMTGateOutLPG_idProses" class="el_SubAktivitasDataMobilTangkiMTGateOutLPG_idProses">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateOutLpgList.idProses.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateOutLpgList.idAktifitas.Visible) { // subAktivitasDataMobilTangkiMtGateOutLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasDataMobilTangkiMtGateOutLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateOutLpgList.RowCount)_SubAktivitasDataMobilTangkiMTGateOutLPG_idAktifitas" class="el_SubAktivitasDataMobilTangkiMTGateOutLPG_idAktifitas">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateOutLpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateOutLpgList.StatusAktivitas.Visible) { // subAktivitasDataMobilTangkiMtGateOutLpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasDataMobilTangkiMtGateOutLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateOutLpgList.RowCount)_SubAktivitasDataMobilTangkiMTGateOutLPG_StatusAktivitas" class="el_SubAktivitasDataMobilTangkiMTGateOutLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateOutLpgList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateOutLpgList.LastUpdatedBy.Visible) { // subAktivitasDataMobilTangkiMtGateOutLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasDataMobilTangkiMtGateOutLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateOutLpgList.RowCount)_SubAktivitasDataMobilTangkiMTGateOutLPG_LastUpdatedBy" class="el_SubAktivitasDataMobilTangkiMTGateOutLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateOutLpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateOutLpgList.lastUpdatedDate.Visible) { // subAktivitasDataMobilTangkiMtGateOutLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasDataMobilTangkiMtGateOutLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateOutLpgList.RowCount)_SubAktivitasDataMobilTangkiMTGateOutLPG_lastUpdatedDate" class="el_SubAktivitasDataMobilTangkiMTGateOutLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateOutLpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateOutLpgList.NomorPolisi.Visible) { // subAktivitasDataMobilTangkiMtGateOutLpgList.NomorPolisi.Visible (begin)
        <td data-name="NomorPolisi" @Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.NomorPolisi.CellAttributes)>
<span id="el@(SameString(subAktivitasDataMobilTangkiMtGateOutLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateOutLpgList.RowCount)_SubAktivitasDataMobilTangkiMTGateOutLPG_NomorPolisi" class="el_SubAktivitasDataMobilTangkiMTGateOutLPG_NomorPolisi">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.NomorPolisi.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.NomorPolisi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateOutLpgList.NomorPolisi.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateOutLpgList.AMT.Visible) { // subAktivitasDataMobilTangkiMtGateOutLpgList.AMT.Visible (begin)
        <td data-name="AMT" @Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.AMT.CellAttributes)>
<span id="el@(SameString(subAktivitasDataMobilTangkiMtGateOutLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateOutLpgList.RowCount)_SubAktivitasDataMobilTangkiMTGateOutLPG_AMT" class="el_SubAktivitasDataMobilTangkiMTGateOutLPG_AMT">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.AMT.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.AMT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateOutLpgList.AMT.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateOutLpgList.WaktuGateOut.Visible) { // subAktivitasDataMobilTangkiMtGateOutLpgList.WaktuGateOut.Visible (begin)
        <td data-name="WaktuGateOut" @Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.WaktuGateOut.CellAttributes)>
<span id="el@(SameString(subAktivitasDataMobilTangkiMtGateOutLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateOutLpgList.RowCount)_SubAktivitasDataMobilTangkiMTGateOutLPG_WaktuGateOut" class="el_SubAktivitasDataMobilTangkiMTGateOutLPG_WaktuGateOut">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.WaktuGateOut.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.WaktuGateOut.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateOutLpgList.WaktuGateOut.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateOutLpgList.NomorSegel.Visible) { // subAktivitasDataMobilTangkiMtGateOutLpgList.NomorSegel.Visible (begin)
        <td data-name="NomorSegel" @Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.NomorSegel.CellAttributes)>
<span id="el@(SameString(subAktivitasDataMobilTangkiMtGateOutLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateOutLpgList.RowCount)_SubAktivitasDataMobilTangkiMTGateOutLPG_NomorSegel" class="el_SubAktivitasDataMobilTangkiMTGateOutLPG_NomorSegel">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.NomorSegel.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.NomorSegel.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateOutLpgList.NomorSegel.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateOutLpgList.userInput.Visible) { // subAktivitasDataMobilTangkiMtGateOutLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasDataMobilTangkiMtGateOutLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateOutLpgList.RowCount)_SubAktivitasDataMobilTangkiMTGateOutLPG_userInput" class="el_SubAktivitasDataMobilTangkiMTGateOutLPG_userInput">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateOutLpgList.userInput.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateOutLpgList.etlDate.Visible) { // subAktivitasDataMobilTangkiMtGateOutLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasDataMobilTangkiMtGateOutLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateOutLpgList.RowCount)_SubAktivitasDataMobilTangkiMTGateOutLPG_etlDate" class="el_SubAktivitasDataMobilTangkiMTGateOutLPG_etlDate">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateOutLpgList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasDataMobilTangkiMtGateOutLpgList.ListOptions.RenderBody("right", subAktivitasDataMobilTangkiMtGateOutLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasDataMobilTangkiMtGateOutLpgList.RowIndex, "$rowindex$"))
        subAktivitasDataMobilTangkiMtGateOutLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasDataMobilTangkiMtGateOutLpgList.IsCopy || subAktivitasDataMobilTangkiMtGateOutLpgList.IsAdd) && subAktivitasDataMobilTangkiMtGateOutLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasDataMobilTangkiMtGateOutLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasDataMobilTangkiMtGateOutLpgList.CurrentAction) && !subAktivitasDataMobilTangkiMtGateOutLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasDataMobilTangkiMtGateOutLpgList.CloseRecordset(); }
@if (!subAktivitasDataMobilTangkiMtGateOutLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasDataMobilTangkiMtGateOutLpgList.IsGridAdd && !(subAktivitasDataMobilTangkiMtGateOutLpgList.IsGridEdit && subAktivitasDataMobilTangkiMtGateOutLpgList.ModalGridEdit) && !subAktivitasDataMobilTangkiMtGateOutLpgList.IsMultiEdit) {
@Html.Raw(subAktivitasDataMobilTangkiMtGateOutLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasDataMobilTangkiMtGateOutLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasDataMobilTangkiMtGateOutLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasDataMobilTangkiMtGateOutLpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasDataMobilTangkiMtGateOutLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasDataMobilTangkiMtGateOutLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasDataMobilTangkiMTGateOutLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
