@{
    // View
    View = this;

    // Check action result
    if (subaktivitasInputLogbookPenyaluranPipaBackupDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subaktivitasInputLogbookPenyaluranPipaBackupDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasInputLogbookPenyaluranPipaBackupDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasInputLogbookPenyaluranPipa_Backup: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fSubaktivitasInputLogbookPenyaluranPipa_Backupdelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubaktivitasInputLogbookPenyaluranPipa_Backupdelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subaktivitasInputLogbookPenyaluranPipaBackupDelete.ShowPageHeader()
@subaktivitasInputLogbookPenyaluranPipaBackupDelete.ShowMessages()
<form name="fSubaktivitasInputLogbookPenyaluranPipa_Backupdelete" id="fSubaktivitasInputLogbookPenyaluranPipa_Backupdelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in subaktivitasInputLogbookPenyaluranPipaBackupDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(subaktivitasInputLogbookPenyaluranPipaBackupDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(subaktivitasInputLogbookPenyaluranPipaBackupDelete.TableContainerClass)" style="@(subaktivitasInputLogbookPenyaluranPipaBackupDelete.TableContainerStyle)">
<table class="@(subaktivitasInputLogbookPenyaluranPipaBackupDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (subaktivitasInputLogbookPenyaluranPipaBackupDelete.id.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupDelete.id.Visible (begin)
        <th class="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.id.HeaderCellClass)"><span id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_id" class="SubaktivitasInputLogbookPenyaluranPipa_Backup_id">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.id.Caption)</span></th>
} @* subaktivitasInputLogbookPenyaluranPipaBackupDelete.id.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupDelete.idAktifitas.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupDelete.idAktifitas.Visible (begin)
        <th class="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.idAktifitas.HeaderCellClass)"><span id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_idAktifitas" class="SubaktivitasInputLogbookPenyaluranPipa_Backup_idAktifitas">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.idAktifitas.Caption)</span></th>
} @* subaktivitasInputLogbookPenyaluranPipaBackupDelete.idAktifitas.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupDelete.NomorTangki.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupDelete.NomorTangki.Visible (begin)
        <th class="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.NomorTangki.HeaderCellClass)"><span id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_NomorTangki" class="SubaktivitasInputLogbookPenyaluranPipa_Backup_NomorTangki">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.NomorTangki.Caption)</span></th>
} @* subaktivitasInputLogbookPenyaluranPipaBackupDelete.NomorTangki.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupDelete.LO.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupDelete.LO.Visible (begin)
        <th class="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.LO.HeaderCellClass)"><span id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_LO" class="SubaktivitasInputLogbookPenyaluranPipa_Backup_LO">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.LO.Caption)</span></th>
} @* subaktivitasInputLogbookPenyaluranPipaBackupDelete.LO.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupDelete.Produk.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupDelete.Produk.Visible (begin)
        <th class="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.Produk.HeaderCellClass)"><span id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_Produk" class="SubaktivitasInputLogbookPenyaluranPipa_Backup_Produk">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.Produk.Caption)</span></th>
} @* subaktivitasInputLogbookPenyaluranPipaBackupDelete.Produk.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupDelete.MeterAwal.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupDelete.MeterAwal.Visible (begin)
        <th class="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.MeterAwal.HeaderCellClass)"><span id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_MeterAwal" class="SubaktivitasInputLogbookPenyaluranPipa_Backup_MeterAwal">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.MeterAwal.Caption)</span></th>
} @* subaktivitasInputLogbookPenyaluranPipaBackupDelete.MeterAwal.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupDelete.MeterAkhir.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupDelete.MeterAkhir.Visible (begin)
        <th class="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.MeterAkhir.HeaderCellClass)"><span id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_MeterAkhir" class="SubaktivitasInputLogbookPenyaluranPipa_Backup_MeterAkhir">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.MeterAkhir.Caption)</span></th>
} @* subaktivitasInputLogbookPenyaluranPipaBackupDelete.MeterAkhir.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupDelete.Quantity.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupDelete.Quantity.Visible (begin)
        <th class="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.Quantity.HeaderCellClass)"><span id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_Quantity" class="SubaktivitasInputLogbookPenyaluranPipa_Backup_Quantity">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.Quantity.Caption)</span></th>
} @* subaktivitasInputLogbookPenyaluranPipaBackupDelete.Quantity.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupDelete.BayNumber.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupDelete.BayNumber.Visible (begin)
        <th class="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.BayNumber.HeaderCellClass)"><span id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_BayNumber" class="SubaktivitasInputLogbookPenyaluranPipa_Backup_BayNumber">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.BayNumber.Caption)</span></th>
} @* subaktivitasInputLogbookPenyaluranPipaBackupDelete.BayNumber.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupDelete.userInput.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupDelete.userInput.Visible (begin)
        <th class="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.userInput.HeaderCellClass)"><span id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_userInput" class="SubaktivitasInputLogbookPenyaluranPipa_Backup_userInput">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.userInput.Caption)</span></th>
} @* subaktivitasInputLogbookPenyaluranPipaBackupDelete.userInput.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupDelete.etlDate.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupDelete.etlDate.Visible (begin)
        <th class="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.etlDate.HeaderCellClass)"><span id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_etlDate" class="SubaktivitasInputLogbookPenyaluranPipa_Backup_etlDate">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.etlDate.Caption)</span></th>
} @* subaktivitasInputLogbookPenyaluranPipaBackupDelete.etlDate.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupDelete.idProses.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupDelete.idProses.Visible (begin)
        <th class="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.idProses.HeaderCellClass)"><span id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_idProses" class="SubaktivitasInputLogbookPenyaluranPipa_Backup_idProses">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.idProses.Caption)</span></th>
} @* subaktivitasInputLogbookPenyaluranPipaBackupDelete.idProses.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupDelete.LastUpdatedBy.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupDelete.LastUpdatedBy.Visible (begin)
        <th class="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.LastUpdatedBy.HeaderCellClass)"><span id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_LastUpdatedBy" class="SubaktivitasInputLogbookPenyaluranPipa_Backup_LastUpdatedBy">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.LastUpdatedBy.Caption)</span></th>
} @* subaktivitasInputLogbookPenyaluranPipaBackupDelete.LastUpdatedBy.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupDelete.lastUpdatedDate.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupDelete.lastUpdatedDate.Visible (begin)
        <th class="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.lastUpdatedDate.HeaderCellClass)"><span id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_lastUpdatedDate" class="SubaktivitasInputLogbookPenyaluranPipa_Backup_lastUpdatedDate">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.lastUpdatedDate.Caption)</span></th>
} @* subaktivitasInputLogbookPenyaluranPipaBackupDelete.lastUpdatedDate.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupDelete.NoReferensi.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupDelete.NoReferensi.Visible (begin)
        <th class="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.NoReferensi.HeaderCellClass)"><span id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_NoReferensi" class="SubaktivitasInputLogbookPenyaluranPipa_Backup_NoReferensi">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.NoReferensi.Caption)</span></th>
} @* subaktivitasInputLogbookPenyaluranPipaBackupDelete.NoReferensi.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ subaktivitasInputLogbookPenyaluranPipaBackupDelete.RecordCount = 0; }
@while (subaktivitasInputLogbookPenyaluranPipaBackupDelete.Recordset != null && await subaktivitasInputLogbookPenyaluranPipaBackupDelete.Recordset.ReadAsync()) { // DN
    subaktivitasInputLogbookPenyaluranPipaBackupDelete.RecordCount++;
    subaktivitasInputLogbookPenyaluranPipaBackupDelete.RowCount++;

    // Set row properties
    subaktivitasInputLogbookPenyaluranPipaBackupDelete.ResetAttributes();
    subaktivitasInputLogbookPenyaluranPipaBackupDelete.RowType = RowType.View; // View

    // Get the field contents
    await subaktivitasInputLogbookPenyaluranPipaBackupDelete.LoadRowValues(subaktivitasInputLogbookPenyaluranPipaBackupDelete.Recordset);

    // Render row
    await subaktivitasInputLogbookPenyaluranPipaBackupDelete.RenderRow();
    <tr @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.RowAttributes)>
@if (subaktivitasInputLogbookPenyaluranPipaBackupDelete.id.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupDelete.id.Visible (begin)
        <td @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.id.CellAttributes)>
<span id="">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.id.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.id.GetViewValue())</span>
</span></td>
} @* subaktivitasInputLogbookPenyaluranPipaBackupDelete.id.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupDelete.idAktifitas.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupDelete.idAktifitas.Visible (begin)
        <td @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.idAktifitas.CellAttributes)>
<span id="">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.idAktifitas.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.idAktifitas.GetViewValue())</span>
</span></td>
} @* subaktivitasInputLogbookPenyaluranPipaBackupDelete.idAktifitas.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupDelete.NomorTangki.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupDelete.NomorTangki.Visible (begin)
        <td @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.NomorTangki.CellAttributes)>
<span id="">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.NomorTangki.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.NomorTangki.GetViewValue())</span>
</span></td>
} @* subaktivitasInputLogbookPenyaluranPipaBackupDelete.NomorTangki.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupDelete.LO.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupDelete.LO.Visible (begin)
        <td @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.LO.CellAttributes)>
<span id="">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.LO.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.LO.GetViewValue())</span>
</span></td>
} @* subaktivitasInputLogbookPenyaluranPipaBackupDelete.LO.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupDelete.Produk.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupDelete.Produk.Visible (begin)
        <td @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.Produk.CellAttributes)>
<span id="">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.Produk.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.Produk.GetViewValue())</span>
</span></td>
} @* subaktivitasInputLogbookPenyaluranPipaBackupDelete.Produk.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupDelete.MeterAwal.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupDelete.MeterAwal.Visible (begin)
        <td @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.MeterAwal.CellAttributes)>
<span id="">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.MeterAwal.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.MeterAwal.GetViewValue())</span>
</span></td>
} @* subaktivitasInputLogbookPenyaluranPipaBackupDelete.MeterAwal.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupDelete.MeterAkhir.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupDelete.MeterAkhir.Visible (begin)
        <td @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.MeterAkhir.CellAttributes)>
<span id="">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.MeterAkhir.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.MeterAkhir.GetViewValue())</span>
</span></td>
} @* subaktivitasInputLogbookPenyaluranPipaBackupDelete.MeterAkhir.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupDelete.Quantity.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupDelete.Quantity.Visible (begin)
        <td @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.Quantity.CellAttributes)>
<span id="">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.Quantity.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.Quantity.GetViewValue())</span>
</span></td>
} @* subaktivitasInputLogbookPenyaluranPipaBackupDelete.Quantity.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupDelete.BayNumber.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupDelete.BayNumber.Visible (begin)
        <td @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.BayNumber.CellAttributes)>
<span id="">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.BayNumber.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.BayNumber.GetViewValue())</span>
</span></td>
} @* subaktivitasInputLogbookPenyaluranPipaBackupDelete.BayNumber.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupDelete.userInput.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupDelete.userInput.Visible (begin)
        <td @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.userInput.CellAttributes)>
<span id="">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.userInput.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.userInput.GetViewValue())</span>
</span></td>
} @* subaktivitasInputLogbookPenyaluranPipaBackupDelete.userInput.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupDelete.etlDate.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupDelete.etlDate.Visible (begin)
        <td @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.etlDate.CellAttributes)>
<span id="">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.etlDate.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.etlDate.GetViewValue())</span>
</span></td>
} @* subaktivitasInputLogbookPenyaluranPipaBackupDelete.etlDate.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupDelete.idProses.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupDelete.idProses.Visible (begin)
        <td @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.idProses.CellAttributes)>
<span id="">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.idProses.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.idProses.GetViewValue())</span>
</span></td>
} @* subaktivitasInputLogbookPenyaluranPipaBackupDelete.idProses.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupDelete.LastUpdatedBy.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupDelete.LastUpdatedBy.Visible (begin)
        <td @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.LastUpdatedBy.CellAttributes)>
<span id="">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.LastUpdatedBy.GetViewValue())</span>
</span></td>
} @* subaktivitasInputLogbookPenyaluranPipaBackupDelete.LastUpdatedBy.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupDelete.lastUpdatedDate.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupDelete.lastUpdatedDate.Visible (begin)
        <td @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.lastUpdatedDate.CellAttributes)>
<span id="">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.lastUpdatedDate.GetViewValue())</span>
</span></td>
} @* subaktivitasInputLogbookPenyaluranPipaBackupDelete.lastUpdatedDate.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupDelete.NoReferensi.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupDelete.NoReferensi.Visible (begin)
        <td @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.NoReferensi.CellAttributes)>
<span id="">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.NoReferensi.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupDelete.NoReferensi.GetViewValue())</span>
</span></td>
} @* subaktivitasInputLogbookPenyaluranPipaBackupDelete.NoReferensi.Visible (end) *@
    </tr>
}
@{ subaktivitasInputLogbookPenyaluranPipaBackupDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(subaktivitasInputLogbookPenyaluranPipaBackupDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@subaktivitasInputLogbookPenyaluranPipaBackupDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
