@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputNilaiAktDischargeRtwList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputNilaiAktDischargeRtwList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputNilaiAktDischargeRtwList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputNilaiAktDischargeRtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputNilaiAktDischargeRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasFormInputNilaiAktDischargeRtwList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasFormInputNilaiAktDischargeRtwList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasFormInputNilaiAktDischargeRtwList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasFormInputNilaiAktDischargeRtwList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasFormInputNilaiAktDischargeRtwList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasFormInputNilaiAktDischargeRtwList.TotalRecords > 0 && subAktivitasFormInputNilaiAktDischargeRtwList.ExportOptions.Visible) {
    subAktivitasFormInputNilaiAktDischargeRtwList.ExportOptions.Render("body");
}
@if (subAktivitasFormInputNilaiAktDischargeRtwList.ImportOptions.Visible) {
    subAktivitasFormInputNilaiAktDischargeRtwList.ImportOptions.Render("body");
}
@if (subAktivitasFormInputNilaiAktDischargeRtwList.SearchOptions.Visible) {
    subAktivitasFormInputNilaiAktDischargeRtwList.SearchOptions.Render("body");
}
@if (subAktivitasFormInputNilaiAktDischargeRtwList.FilterOptions.Visible) {
    subAktivitasFormInputNilaiAktDischargeRtwList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasFormInputNilaiAktDischargeRtwList.IsModal) {
<form name="fSubAktivitasFormInputNilaiAktDischargeRTWsrch" id="fSubAktivitasFormInputNilaiAktDischargeRTWsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasFormInputNilaiAktDischargeRTWsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasFormInputNilaiAktDischargeRtwList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputNilaiAktDischargeRtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputNilaiAktDischargeRTW: currentTable } });
var currentForm;
var fSubAktivitasFormInputNilaiAktDischargeRTWsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputNilaiAktDischargeRTWsrch")
        .setPageId("list")
@if (subAktivitasFormInputNilaiAktDischargeRtwList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasFormInputNilaiAktDischargeRtwList.IsExport() && Empty(subAktivitasFormInputNilaiAktDischargeRtwList.CurrentAction) && subAktivitasFormInputNilaiAktDischargeRtwList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktDischargeRtwList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasFormInputNilaiAktDischargeRtwList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasFormInputNilaiAktDischargeRtwList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasFormInputNilaiAktDischargeRTWsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputNilaiAktDischargeRtwList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasFormInputNilaiAktDischargeRTWsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputNilaiAktDischargeRtwList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasFormInputNilaiAktDischargeRTWsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputNilaiAktDischargeRtwList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasFormInputNilaiAktDischargeRTWsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasFormInputNilaiAktDischargeRtwList.ShowPageHeader()
@subAktivitasFormInputNilaiAktDischargeRtwList.ShowMessages()
<main class="list @(subAktivitasFormInputNilaiAktDischargeRtwList.TotalRecords == 0 && !subAktivitasFormInputNilaiAktDischargeRtwList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasFormInputNilaiAktDischargeRtwList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasFormInputNilaiAktDischargeRtwList.TotalRecords > 0 || !Empty(subAktivitasFormInputNilaiAktDischargeRtwList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasFormInputNilaiAktDischargeRtwList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasFormInputNilaiAktDischargeRtwList.TableGridClass)">
<form name="@(subAktivitasFormInputNilaiAktDischargeRtwList.FormName)" id="@(subAktivitasFormInputNilaiAktDischargeRtwList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasFormInputNilaiAktDischargeRtwList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasFormInputNilaiAktDischargeRtwList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasFormInputNilaiAktDischargeRTW" class="card-body ew-grid-middle-panel @(subAktivitasFormInputNilaiAktDischargeRtwList.TableContainerClass)" style="@(subAktivitasFormInputNilaiAktDischargeRtwList.TableContainerStyle)">
@if (subAktivitasFormInputNilaiAktDischargeRtwList.TotalRecords > 0 || subAktivitasFormInputNilaiAktDischargeRtwList.IsGridEdit || subAktivitasFormInputNilaiAktDischargeRtwList.IsMultiEdit) {
<table id="tbl_SubAktivitasFormInputNilaiAktDischargeRTWlist" class="@(subAktivitasFormInputNilaiAktDischargeRtwList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasFormInputNilaiAktDischargeRtwList.RowType = RowType.Header;

    // Render list options
    await subAktivitasFormInputNilaiAktDischargeRtwList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasFormInputNilaiAktDischargeRtwList.ListOptions.RenderHeader("left")
@if (subAktivitasFormInputNilaiAktDischargeRtwList.id.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasFormInputNilaiAktDischargeRtwList.id.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_id" class="SubAktivitasFormInputNilaiAktDischargeRTW_id">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.RenderFieldHeader(subAktivitasFormInputNilaiAktDischargeRtwList.id))</div></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwList.id.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwList.NoReferensi.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasFormInputNilaiAktDischargeRtwList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_NoReferensi" class="SubAktivitasFormInputNilaiAktDischargeRTW_NoReferensi">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.RenderFieldHeader(subAktivitasFormInputNilaiAktDischargeRtwList.NoReferensi))</div></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwList.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwList.idProses.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasFormInputNilaiAktDischargeRtwList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_idProses" class="SubAktivitasFormInputNilaiAktDischargeRTW_idProses">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.RenderFieldHeader(subAktivitasFormInputNilaiAktDischargeRtwList.idProses))</div></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwList.idProses.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwList.idAktifitas.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasFormInputNilaiAktDischargeRtwList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_idAktifitas" class="SubAktivitasFormInputNilaiAktDischargeRTW_idAktifitas">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.RenderFieldHeader(subAktivitasFormInputNilaiAktDischargeRtwList.idAktifitas))</div></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwList.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwList.StatusAktivitas.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasFormInputNilaiAktDischargeRtwList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_StatusAktivitas" class="SubAktivitasFormInputNilaiAktDischargeRTW_StatusAktivitas">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.RenderFieldHeader(subAktivitasFormInputNilaiAktDischargeRtwList.StatusAktivitas))</div></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwList.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwList.LastUpdatedBy.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasFormInputNilaiAktDischargeRtwList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_LastUpdatedBy" class="SubAktivitasFormInputNilaiAktDischargeRTW_LastUpdatedBy">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.RenderFieldHeader(subAktivitasFormInputNilaiAktDischargeRtwList.LastUpdatedBy))</div></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwList.lastUpdatedDate.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasFormInputNilaiAktDischargeRtwList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_lastUpdatedDate" class="SubAktivitasFormInputNilaiAktDischargeRTW_lastUpdatedDate">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.RenderFieldHeader(subAktivitasFormInputNilaiAktDischargeRtwList.lastUpdatedDate))</div></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwList.Import.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.Import.Visible (begin)
        <th data-name="Import" class="@(subAktivitasFormInputNilaiAktDischargeRtwList.Import.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_Import" class="SubAktivitasFormInputNilaiAktDischargeRTW_Import">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.RenderFieldHeader(subAktivitasFormInputNilaiAktDischargeRtwList.Import))</div></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwList.Import.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwList.ApakahAdaROB.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.ApakahAdaROB.Visible (begin)
        <th data-name="ApakahAdaROB" class="@(subAktivitasFormInputNilaiAktDischargeRtwList.ApakahAdaROB.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_ApakahAdaROB" class="SubAktivitasFormInputNilaiAktDischargeRTW_ApakahAdaROB">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.RenderFieldHeader(subAktivitasFormInputNilaiAktDischargeRtwList.ApakahAdaROB))</div></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwList.ApakahAdaROB.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwList.Tujuan.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.Tujuan.Visible (begin)
        <th data-name="Tujuan" class="@(subAktivitasFormInputNilaiAktDischargeRtwList.Tujuan.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_Tujuan" class="SubAktivitasFormInputNilaiAktDischargeRTW_Tujuan">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.RenderFieldHeader(subAktivitasFormInputNilaiAktDischargeRtwList.Tujuan))</div></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwList.Tujuan.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_KLObs.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_KLObs.Visible (begin)
        <th data-name="SFAD_KLObs" class="@(subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_KLObs.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_KLObs" class="SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_KLObs">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.RenderFieldHeader(subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_KLObs))</div></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_KLObs.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_KL15.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_KL15.Visible (begin)
        <th data-name="SFAD_KL15" class="@(subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_KL15.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_KL15" class="SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_KL15">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.RenderFieldHeader(subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_KL15))</div></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_KL15.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_Barrels.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_Barrels.Visible (begin)
        <th data-name="SFAD_Barrels" class="@(subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_Barrels.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_Barrels" class="SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_Barrels">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.RenderFieldHeader(subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_Barrels))</div></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_LT.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_LT.Visible (begin)
        <th data-name="SFAD_LT" class="@(subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_LT.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_LT" class="SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_LT">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.RenderFieldHeader(subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_LT))</div></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_LT.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_MT.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_MT.Visible (begin)
        <th data-name="SFAD_MT" class="@(subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_MT.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_MT" class="SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_MT">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.RenderFieldHeader(subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_MT))</div></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_MT.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_KLObs.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_KLObs.Visible (begin)
        <th data-name="NewBL_KLObs" class="@(subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_KLObs.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_KLObs" class="SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_KLObs">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.RenderFieldHeader(subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_KLObs))</div></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_KLObs.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_KL15.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_KL15.Visible (begin)
        <th data-name="NewBL_KL15" class="@(subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_KL15.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_KL15" class="SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_KL15">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.RenderFieldHeader(subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_KL15))</div></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_KL15.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_Barrels.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_Barrels.Visible (begin)
        <th data-name="NewBL_Barrels" class="@(subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_Barrels.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_Barrels" class="SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_Barrels">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.RenderFieldHeader(subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_Barrels))</div></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_LT.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_LT.Visible (begin)
        <th data-name="NewBL_LT" class="@(subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_LT.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_LT" class="SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_LT">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.RenderFieldHeader(subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_LT))</div></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_LT.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_MT.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_MT.Visible (begin)
        <th data-name="NewBL_MT" class="@(subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_MT.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_MT" class="SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_MT">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.RenderFieldHeader(subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_MT))</div></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_MT.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwList.userInput.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasFormInputNilaiAktDischargeRtwList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_userInput" class="SubAktivitasFormInputNilaiAktDischargeRTW_userInput">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.RenderFieldHeader(subAktivitasFormInputNilaiAktDischargeRtwList.userInput))</div></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwList.userInput.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwList.etlDate.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasFormInputNilaiAktDischargeRtwList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_etlDate" class="SubAktivitasFormInputNilaiAktDischargeRTW_etlDate">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.RenderFieldHeader(subAktivitasFormInputNilaiAktDischargeRtwList.etlDate))</div></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwList.etlDate.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_klobs.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_klobs.Visible (begin)
        <th data-name="AR45B_klobs" class="@(subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_klobs.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_klobs" class="SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_klobs">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.RenderFieldHeader(subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_klobs))</div></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_klobs.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_kl15.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_kl15.Visible (begin)
        <th data-name="AR45B_kl15" class="@(subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_kl15.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_kl15" class="SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_kl15">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.RenderFieldHeader(subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_kl15))</div></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_kl15.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_Barrel.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_Barrel.Visible (begin)
        <th data-name="AR45B_Barrel" class="@(subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_Barrel.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_Barrel" class="SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_Barrel">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.RenderFieldHeader(subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_Barrel))</div></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_Barrel.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_lt.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_lt.Visible (begin)
        <th data-name="AR45B_lt" class="@(subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_lt.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_lt" class="SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_lt">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.RenderFieldHeader(subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_lt))</div></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_lt.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_mt.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_mt.Visible (begin)
        <th data-name="AR45B_mt" class="@(subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_mt.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_mt" class="SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_mt">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.RenderFieldHeader(subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_mt))</div></th>
} @* subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_mt.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasFormInputNilaiAktDischargeRtwList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasFormInputNilaiAktDischargeRtwList.PageNumber)">
@{
    await subAktivitasFormInputNilaiAktDischargeRtwList.SetupGrid();
    bool eof = subAktivitasFormInputNilaiAktDischargeRtwList.Recordset == null; // DN
}
@while (subAktivitasFormInputNilaiAktDischargeRtwList.RecordCount < subAktivitasFormInputNilaiAktDischargeRtwList.StopRecord || SameString(subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex, "$rowindex$") &&
        (!subAktivitasFormInputNilaiAktDischargeRtwList.IsGridAdd || subAktivitasFormInputNilaiAktDischargeRtwList.CurrentMode == "copy") &&
        (!((subAktivitasFormInputNilaiAktDischargeRtwList.IsCopy || subAktivitasFormInputNilaiAktDischargeRtwList.IsAdd) && subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasFormInputNilaiAktDischargeRtwList.Recordset.ReadAsync();
    subAktivitasFormInputNilaiAktDischargeRtwList.RecordCount++;
    if (subAktivitasFormInputNilaiAktDischargeRtwList.RecordCount >= subAktivitasFormInputNilaiAktDischargeRtwList.StartRecord) {
        await subAktivitasFormInputNilaiAktDischargeRtwList.SetupRow();
    <tr @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasFormInputNilaiAktDischargeRtwList.ListOptions.RenderBody("left", subAktivitasFormInputNilaiAktDischargeRtwList.RowCount)
    @if (subAktivitasFormInputNilaiAktDischargeRtwList.id.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktDischargeRtwList.RowCount)_SubAktivitasFormInputNilaiAktDischargeRTW_id" class="el_SubAktivitasFormInputNilaiAktDischargeRTW_id">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktDischargeRtwList.id.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktDischargeRtwList.NoReferensi.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktDischargeRtwList.RowCount)_SubAktivitasFormInputNilaiAktDischargeRTW_NoReferensi" class="el_SubAktivitasFormInputNilaiAktDischargeRTW_NoReferensi">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktDischargeRtwList.NoReferensi.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktDischargeRtwList.idProses.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktDischargeRtwList.RowCount)_SubAktivitasFormInputNilaiAktDischargeRTW_idProses" class="el_SubAktivitasFormInputNilaiAktDischargeRTW_idProses">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktDischargeRtwList.idProses.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktDischargeRtwList.idAktifitas.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktDischargeRtwList.RowCount)_SubAktivitasFormInputNilaiAktDischargeRTW_idAktifitas" class="el_SubAktivitasFormInputNilaiAktDischargeRTW_idAktifitas">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktDischargeRtwList.idAktifitas.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktDischargeRtwList.StatusAktivitas.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktDischargeRtwList.RowCount)_SubAktivitasFormInputNilaiAktDischargeRTW_StatusAktivitas" class="el_SubAktivitasFormInputNilaiAktDischargeRTW_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktDischargeRtwList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktDischargeRtwList.LastUpdatedBy.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktDischargeRtwList.RowCount)_SubAktivitasFormInputNilaiAktDischargeRTW_LastUpdatedBy" class="el_SubAktivitasFormInputNilaiAktDischargeRTW_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktDischargeRtwList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktDischargeRtwList.lastUpdatedDate.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktDischargeRtwList.RowCount)_SubAktivitasFormInputNilaiAktDischargeRTW_lastUpdatedDate" class="el_SubAktivitasFormInputNilaiAktDischargeRTW_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktDischargeRtwList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktDischargeRtwList.Import.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.Import.Visible (begin)
        <td data-name="Import" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.Import.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktDischargeRtwList.RowCount)_SubAktivitasFormInputNilaiAktDischargeRTW_Import" class="el_SubAktivitasFormInputNilaiAktDischargeRTW_Import">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.Import.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(subAktivitasFormInputNilaiAktDischargeRtwList.Import.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktDischargeRtwList.Import.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktDischargeRtwList.ApakahAdaROB.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.ApakahAdaROB.Visible (begin)
        <td data-name="ApakahAdaROB" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.ApakahAdaROB.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktDischargeRtwList.RowCount)_SubAktivitasFormInputNilaiAktDischargeRTW_ApakahAdaROB" class="el_SubAktivitasFormInputNilaiAktDischargeRTW_ApakahAdaROB">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.ApakahAdaROB.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(subAktivitasFormInputNilaiAktDischargeRtwList.ApakahAdaROB.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktDischargeRtwList.ApakahAdaROB.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktDischargeRtwList.Tujuan.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.Tujuan.Visible (begin)
        <td data-name="Tujuan" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.Tujuan.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktDischargeRtwList.RowCount)_SubAktivitasFormInputNilaiAktDischargeRTW_Tujuan" class="el_SubAktivitasFormInputNilaiAktDischargeRTW_Tujuan">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.Tujuan.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.Tujuan.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktDischargeRtwList.Tujuan.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_KLObs.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_KLObs.Visible (begin)
        <td data-name="SFAD_KLObs" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_KLObs.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktDischargeRtwList.RowCount)_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_KLObs" class="el_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_KLObs">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_KLObs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_KLObs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_KLObs.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_KL15.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_KL15.Visible (begin)
        <td data-name="SFAD_KL15" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_KL15.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktDischargeRtwList.RowCount)_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_KL15" class="el_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_KL15">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_KL15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_KL15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_KL15.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_Barrels.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_Barrels.Visible (begin)
        <td data-name="SFAD_Barrels" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_Barrels.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktDischargeRtwList.RowCount)_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_Barrels" class="el_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_Barrels">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_Barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_Barrels.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_LT.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_LT.Visible (begin)
        <td data-name="SFAD_LT" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_LT.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktDischargeRtwList.RowCount)_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_LT" class="el_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_LT">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_LT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_LT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_LT.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_MT.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_MT.Visible (begin)
        <td data-name="SFAD_MT" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_MT.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktDischargeRtwList.RowCount)_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_MT" class="el_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_MT">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_MT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktDischargeRtwList.SFAD_MT.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_KLObs.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_KLObs.Visible (begin)
        <td data-name="NewBL_KLObs" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_KLObs.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktDischargeRtwList.RowCount)_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_KLObs" class="el_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_KLObs">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_KLObs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_KLObs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_KLObs.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_KL15.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_KL15.Visible (begin)
        <td data-name="NewBL_KL15" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_KL15.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktDischargeRtwList.RowCount)_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_KL15" class="el_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_KL15">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_KL15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_KL15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_KL15.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_Barrels.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_Barrels.Visible (begin)
        <td data-name="NewBL_Barrels" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_Barrels.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktDischargeRtwList.RowCount)_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_Barrels" class="el_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_Barrels">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_Barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_Barrels.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_LT.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_LT.Visible (begin)
        <td data-name="NewBL_LT" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_LT.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktDischargeRtwList.RowCount)_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_LT" class="el_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_LT">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_LT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_LT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_LT.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_MT.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_MT.Visible (begin)
        <td data-name="NewBL_MT" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_MT.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktDischargeRtwList.RowCount)_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_MT" class="el_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_MT">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_MT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktDischargeRtwList.NewBL_MT.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktDischargeRtwList.userInput.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktDischargeRtwList.RowCount)_SubAktivitasFormInputNilaiAktDischargeRTW_userInput" class="el_SubAktivitasFormInputNilaiAktDischargeRTW_userInput">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktDischargeRtwList.userInput.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktDischargeRtwList.etlDate.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktDischargeRtwList.RowCount)_SubAktivitasFormInputNilaiAktDischargeRTW_etlDate" class="el_SubAktivitasFormInputNilaiAktDischargeRTW_etlDate">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktDischargeRtwList.etlDate.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_klobs.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_klobs.Visible (begin)
        <td data-name="AR45B_klobs" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_klobs.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktDischargeRtwList.RowCount)_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_klobs" class="el_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_klobs">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_klobs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_klobs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_klobs.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_kl15.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_kl15.Visible (begin)
        <td data-name="AR45B_kl15" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_kl15.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktDischargeRtwList.RowCount)_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_kl15" class="el_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_kl15">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_kl15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_kl15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_kl15.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_Barrel.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_Barrel.Visible (begin)
        <td data-name="AR45B_Barrel" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_Barrel.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktDischargeRtwList.RowCount)_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_Barrel" class="el_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_Barrel">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_Barrel.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_Barrel.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_Barrel.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_lt.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_lt.Visible (begin)
        <td data-name="AR45B_lt" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_lt.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktDischargeRtwList.RowCount)_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_lt" class="el_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_lt">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_lt.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_lt.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_lt.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_mt.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_mt.Visible (begin)
        <td data-name="AR45B_mt" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_mt.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktDischargeRtwList.RowCount)_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_mt" class="el_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_mt">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_mt.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_mt.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktDischargeRtwList.AR45B_mt.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasFormInputNilaiAktDischargeRtwList.ListOptions.RenderBody("right", subAktivitasFormInputNilaiAktDischargeRtwList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex, "$rowindex$"))
        subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasFormInputNilaiAktDischargeRtwList.IsCopy || subAktivitasFormInputNilaiAktDischargeRtwList.IsAdd) && subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasFormInputNilaiAktDischargeRtwList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasFormInputNilaiAktDischargeRtwList.CurrentAction) && !subAktivitasFormInputNilaiAktDischargeRtwList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasFormInputNilaiAktDischargeRtwList.CloseRecordset(); }
@if (!subAktivitasFormInputNilaiAktDischargeRtwList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasFormInputNilaiAktDischargeRtwList.IsGridAdd && !(subAktivitasFormInputNilaiAktDischargeRtwList.IsGridEdit && subAktivitasFormInputNilaiAktDischargeRtwList.ModalGridEdit) && !subAktivitasFormInputNilaiAktDischargeRtwList.IsMultiEdit) {
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasFormInputNilaiAktDischargeRtwList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasFormInputNilaiAktDischargeRtwList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasFormInputNilaiAktDischargeRtwList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasFormInputNilaiAktDischargeRtwList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputNilaiAktDischargeRtwList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputNilaiAktDischargeRTW");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
