@{
    // View
    View = this;

    // Check action result
    if (subAktivitasDataStopPembongkaranPipaList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasDataStopPembongkaranPipaList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasDataStopPembongkaranPipaList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataStopPembongkaranPipaList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataStopPembongkaranPipa: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasDataStopPembongkaranPipaList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasDataStopPembongkaranPipaList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasDataStopPembongkaranPipaList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasDataStopPembongkaranPipaList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasDataStopPembongkaranPipaList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasDataStopPembongkaranPipaList.TotalRecords > 0 && subAktivitasDataStopPembongkaranPipaList.ExportOptions.Visible) {
    subAktivitasDataStopPembongkaranPipaList.ExportOptions.Render("body");
}
@if (subAktivitasDataStopPembongkaranPipaList.ImportOptions.Visible) {
    subAktivitasDataStopPembongkaranPipaList.ImportOptions.Render("body");
}
@if (subAktivitasDataStopPembongkaranPipaList.SearchOptions.Visible) {
    subAktivitasDataStopPembongkaranPipaList.SearchOptions.Render("body");
}
@if (subAktivitasDataStopPembongkaranPipaList.FilterOptions.Visible) {
    subAktivitasDataStopPembongkaranPipaList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasDataStopPembongkaranPipaList.IsModal) {
<form name="fSubAktivitasDataStopPembongkaranPipasrch" id="fSubAktivitasDataStopPembongkaranPipasrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasDataStopPembongkaranPipasrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasDataStopPembongkaranPipaList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataStopPembongkaranPipaList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataStopPembongkaranPipa: currentTable } });
var currentForm;
var fSubAktivitasDataStopPembongkaranPipasrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasDataStopPembongkaranPipasrch")
        .setPageId("list")
@if (subAktivitasDataStopPembongkaranPipaList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasDataStopPembongkaranPipaList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasDataStopPembongkaranPipaList.IsExport() && Empty(subAktivitasDataStopPembongkaranPipaList.CurrentAction) && subAktivitasDataStopPembongkaranPipaList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasDataStopPembongkaranPipaList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasDataStopPembongkaranPipaList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasDataStopPembongkaranPipaList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasDataStopPembongkaranPipaList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasDataStopPembongkaranPipasrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStopPembongkaranPipaList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasDataStopPembongkaranPipasrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStopPembongkaranPipaList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasDataStopPembongkaranPipasrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStopPembongkaranPipaList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasDataStopPembongkaranPipasrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasDataStopPembongkaranPipaList.ShowPageHeader()
@subAktivitasDataStopPembongkaranPipaList.ShowMessages()
<main class="list @(subAktivitasDataStopPembongkaranPipaList.TotalRecords == 0 && !subAktivitasDataStopPembongkaranPipaList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasDataStopPembongkaranPipaList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasDataStopPembongkaranPipaList.TotalRecords > 0 || !Empty(subAktivitasDataStopPembongkaranPipaList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasDataStopPembongkaranPipaList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasDataStopPembongkaranPipaList.TableGridClass)">
<form name="@(subAktivitasDataStopPembongkaranPipaList.FormName)" id="@(subAktivitasDataStopPembongkaranPipaList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasDataStopPembongkaranPipaList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasDataStopPembongkaranPipaList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasDataStopPembongkaranPipa" class="card-body ew-grid-middle-panel @(subAktivitasDataStopPembongkaranPipaList.TableContainerClass)" style="@(subAktivitasDataStopPembongkaranPipaList.TableContainerStyle)">
@if (subAktivitasDataStopPembongkaranPipaList.TotalRecords > 0 || subAktivitasDataStopPembongkaranPipaList.IsGridEdit || subAktivitasDataStopPembongkaranPipaList.IsMultiEdit) {
<table id="tbl_SubAktivitasDataStopPembongkaranPipalist" class="@(subAktivitasDataStopPembongkaranPipaList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasDataStopPembongkaranPipaList.RowType = RowType.Header;

    // Render list options
    await subAktivitasDataStopPembongkaranPipaList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasDataStopPembongkaranPipaList.ListOptions.RenderHeader("left")
@if (subAktivitasDataStopPembongkaranPipaList.id.Visible) { // subAktivitasDataStopPembongkaranPipaList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasDataStopPembongkaranPipaList.id.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPembongkaranPipa_id" class="SubAktivitasDataStopPembongkaranPipa_id">@Html.Raw(subAktivitasDataStopPembongkaranPipaList.RenderFieldHeader(subAktivitasDataStopPembongkaranPipaList.id))</div></th>
} @* subAktivitasDataStopPembongkaranPipaList.id.Visible (end) *@
@if (subAktivitasDataStopPembongkaranPipaList.NoReferensi.Visible) { // subAktivitasDataStopPembongkaranPipaList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasDataStopPembongkaranPipaList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPembongkaranPipa_NoReferensi" class="SubAktivitasDataStopPembongkaranPipa_NoReferensi">@Html.Raw(subAktivitasDataStopPembongkaranPipaList.RenderFieldHeader(subAktivitasDataStopPembongkaranPipaList.NoReferensi))</div></th>
} @* subAktivitasDataStopPembongkaranPipaList.NoReferensi.Visible (end) *@
@if (subAktivitasDataStopPembongkaranPipaList.idProses.Visible) { // subAktivitasDataStopPembongkaranPipaList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasDataStopPembongkaranPipaList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPembongkaranPipa_idProses" class="SubAktivitasDataStopPembongkaranPipa_idProses">@Html.Raw(subAktivitasDataStopPembongkaranPipaList.RenderFieldHeader(subAktivitasDataStopPembongkaranPipaList.idProses))</div></th>
} @* subAktivitasDataStopPembongkaranPipaList.idProses.Visible (end) *@
@if (subAktivitasDataStopPembongkaranPipaList.idAktifitas.Visible) { // subAktivitasDataStopPembongkaranPipaList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasDataStopPembongkaranPipaList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPembongkaranPipa_idAktifitas" class="SubAktivitasDataStopPembongkaranPipa_idAktifitas">@Html.Raw(subAktivitasDataStopPembongkaranPipaList.RenderFieldHeader(subAktivitasDataStopPembongkaranPipaList.idAktifitas))</div></th>
} @* subAktivitasDataStopPembongkaranPipaList.idAktifitas.Visible (end) *@
@if (subAktivitasDataStopPembongkaranPipaList.StatusAktivitas.Visible) { // subAktivitasDataStopPembongkaranPipaList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasDataStopPembongkaranPipaList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPembongkaranPipa_StatusAktivitas" class="SubAktivitasDataStopPembongkaranPipa_StatusAktivitas">@Html.Raw(subAktivitasDataStopPembongkaranPipaList.RenderFieldHeader(subAktivitasDataStopPembongkaranPipaList.StatusAktivitas))</div></th>
} @* subAktivitasDataStopPembongkaranPipaList.StatusAktivitas.Visible (end) *@
@if (subAktivitasDataStopPembongkaranPipaList.LastUpdatedBy.Visible) { // subAktivitasDataStopPembongkaranPipaList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasDataStopPembongkaranPipaList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPembongkaranPipa_LastUpdatedBy" class="SubAktivitasDataStopPembongkaranPipa_LastUpdatedBy">@Html.Raw(subAktivitasDataStopPembongkaranPipaList.RenderFieldHeader(subAktivitasDataStopPembongkaranPipaList.LastUpdatedBy))</div></th>
} @* subAktivitasDataStopPembongkaranPipaList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasDataStopPembongkaranPipaList.lastUpdatedDate.Visible) { // subAktivitasDataStopPembongkaranPipaList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasDataStopPembongkaranPipaList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPembongkaranPipa_lastUpdatedDate" class="SubAktivitasDataStopPembongkaranPipa_lastUpdatedDate">@Html.Raw(subAktivitasDataStopPembongkaranPipaList.RenderFieldHeader(subAktivitasDataStopPembongkaranPipaList.lastUpdatedDate))</div></th>
} @* subAktivitasDataStopPembongkaranPipaList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasDataStopPembongkaranPipaList.tglStopBongkar.Visible) { // subAktivitasDataStopPembongkaranPipaList.tglStopBongkar.Visible (begin)
        <th data-name="tglStopBongkar" class="@(subAktivitasDataStopPembongkaranPipaList.tglStopBongkar.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPembongkaranPipa_tglStopBongkar" class="SubAktivitasDataStopPembongkaranPipa_tglStopBongkar">@Html.Raw(subAktivitasDataStopPembongkaranPipaList.RenderFieldHeader(subAktivitasDataStopPembongkaranPipaList.tglStopBongkar))</div></th>
} @* subAktivitasDataStopPembongkaranPipaList.tglStopBongkar.Visible (end) *@
@if (subAktivitasDataStopPembongkaranPipaList.userInput.Visible) { // subAktivitasDataStopPembongkaranPipaList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasDataStopPembongkaranPipaList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPembongkaranPipa_userInput" class="SubAktivitasDataStopPembongkaranPipa_userInput">@Html.Raw(subAktivitasDataStopPembongkaranPipaList.RenderFieldHeader(subAktivitasDataStopPembongkaranPipaList.userInput))</div></th>
} @* subAktivitasDataStopPembongkaranPipaList.userInput.Visible (end) *@
@if (subAktivitasDataStopPembongkaranPipaList.etlDate.Visible) { // subAktivitasDataStopPembongkaranPipaList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasDataStopPembongkaranPipaList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPembongkaranPipa_etlDate" class="SubAktivitasDataStopPembongkaranPipa_etlDate">@Html.Raw(subAktivitasDataStopPembongkaranPipaList.RenderFieldHeader(subAktivitasDataStopPembongkaranPipaList.etlDate))</div></th>
} @* subAktivitasDataStopPembongkaranPipaList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasDataStopPembongkaranPipaList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasDataStopPembongkaranPipaList.PageNumber)">
@{
    await subAktivitasDataStopPembongkaranPipaList.SetupGrid();
    bool eof = subAktivitasDataStopPembongkaranPipaList.Recordset == null; // DN
}
@while (subAktivitasDataStopPembongkaranPipaList.RecordCount < subAktivitasDataStopPembongkaranPipaList.StopRecord || SameString(subAktivitasDataStopPembongkaranPipaList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasDataStopPembongkaranPipaList.RowIndex, "$rowindex$") &&
        (!subAktivitasDataStopPembongkaranPipaList.IsGridAdd || subAktivitasDataStopPembongkaranPipaList.CurrentMode == "copy") &&
        (!((subAktivitasDataStopPembongkaranPipaList.IsCopy || subAktivitasDataStopPembongkaranPipaList.IsAdd) && subAktivitasDataStopPembongkaranPipaList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasDataStopPembongkaranPipaList.Recordset.ReadAsync();
    subAktivitasDataStopPembongkaranPipaList.RecordCount++;
    if (subAktivitasDataStopPembongkaranPipaList.RecordCount >= subAktivitasDataStopPembongkaranPipaList.StartRecord) {
        await subAktivitasDataStopPembongkaranPipaList.SetupRow();
    <tr @Html.Raw(subAktivitasDataStopPembongkaranPipaList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasDataStopPembongkaranPipaList.ListOptions.RenderBody("left", subAktivitasDataStopPembongkaranPipaList.RowCount)
    @if (subAktivitasDataStopPembongkaranPipaList.id.Visible) { // subAktivitasDataStopPembongkaranPipaList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasDataStopPembongkaranPipaList.id.CellAttributes)>
<span id="el@(subAktivitasDataStopPembongkaranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPembongkaranPipaList.RowCount)_SubAktivitasDataStopPembongkaranPipa_id" class="el_SubAktivitasDataStopPembongkaranPipa_id">
<span @Html.Raw(subAktivitasDataStopPembongkaranPipaList.id.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranPipaList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPembongkaranPipaList.id.Visible (end) *@
    @if (subAktivitasDataStopPembongkaranPipaList.NoReferensi.Visible) { // subAktivitasDataStopPembongkaranPipaList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasDataStopPembongkaranPipaList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasDataStopPembongkaranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPembongkaranPipaList.RowCount)_SubAktivitasDataStopPembongkaranPipa_NoReferensi" class="el_SubAktivitasDataStopPembongkaranPipa_NoReferensi">
<span @Html.Raw(subAktivitasDataStopPembongkaranPipaList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranPipaList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPembongkaranPipaList.NoReferensi.Visible (end) *@
    @if (subAktivitasDataStopPembongkaranPipaList.idProses.Visible) { // subAktivitasDataStopPembongkaranPipaList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasDataStopPembongkaranPipaList.idProses.CellAttributes)>
<span id="el@(subAktivitasDataStopPembongkaranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPembongkaranPipaList.RowCount)_SubAktivitasDataStopPembongkaranPipa_idProses" class="el_SubAktivitasDataStopPembongkaranPipa_idProses">
<span @Html.Raw(subAktivitasDataStopPembongkaranPipaList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranPipaList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPembongkaranPipaList.idProses.Visible (end) *@
    @if (subAktivitasDataStopPembongkaranPipaList.idAktifitas.Visible) { // subAktivitasDataStopPembongkaranPipaList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasDataStopPembongkaranPipaList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasDataStopPembongkaranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPembongkaranPipaList.RowCount)_SubAktivitasDataStopPembongkaranPipa_idAktifitas" class="el_SubAktivitasDataStopPembongkaranPipa_idAktifitas">
<span @Html.Raw(subAktivitasDataStopPembongkaranPipaList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranPipaList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPembongkaranPipaList.idAktifitas.Visible (end) *@
    @if (subAktivitasDataStopPembongkaranPipaList.StatusAktivitas.Visible) { // subAktivitasDataStopPembongkaranPipaList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasDataStopPembongkaranPipaList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasDataStopPembongkaranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPembongkaranPipaList.RowCount)_SubAktivitasDataStopPembongkaranPipa_StatusAktivitas" class="el_SubAktivitasDataStopPembongkaranPipa_StatusAktivitas">
<span @Html.Raw(subAktivitasDataStopPembongkaranPipaList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranPipaList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPembongkaranPipaList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasDataStopPembongkaranPipaList.LastUpdatedBy.Visible) { // subAktivitasDataStopPembongkaranPipaList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasDataStopPembongkaranPipaList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasDataStopPembongkaranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPembongkaranPipaList.RowCount)_SubAktivitasDataStopPembongkaranPipa_LastUpdatedBy" class="el_SubAktivitasDataStopPembongkaranPipa_LastUpdatedBy">
<span @Html.Raw(subAktivitasDataStopPembongkaranPipaList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranPipaList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPembongkaranPipaList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasDataStopPembongkaranPipaList.lastUpdatedDate.Visible) { // subAktivitasDataStopPembongkaranPipaList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasDataStopPembongkaranPipaList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasDataStopPembongkaranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPembongkaranPipaList.RowCount)_SubAktivitasDataStopPembongkaranPipa_lastUpdatedDate" class="el_SubAktivitasDataStopPembongkaranPipa_lastUpdatedDate">
<span @Html.Raw(subAktivitasDataStopPembongkaranPipaList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranPipaList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPembongkaranPipaList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasDataStopPembongkaranPipaList.tglStopBongkar.Visible) { // subAktivitasDataStopPembongkaranPipaList.tglStopBongkar.Visible (begin)
        <td data-name="tglStopBongkar" @Html.Raw(subAktivitasDataStopPembongkaranPipaList.tglStopBongkar.CellAttributes)>
<span id="el@(subAktivitasDataStopPembongkaranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPembongkaranPipaList.RowCount)_SubAktivitasDataStopPembongkaranPipa_tglStopBongkar" class="el_SubAktivitasDataStopPembongkaranPipa_tglStopBongkar">
<span @Html.Raw(subAktivitasDataStopPembongkaranPipaList.tglStopBongkar.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranPipaList.tglStopBongkar.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPembongkaranPipaList.tglStopBongkar.Visible (end) *@
    @if (subAktivitasDataStopPembongkaranPipaList.userInput.Visible) { // subAktivitasDataStopPembongkaranPipaList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasDataStopPembongkaranPipaList.userInput.CellAttributes)>
<span id="el@(subAktivitasDataStopPembongkaranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPembongkaranPipaList.RowCount)_SubAktivitasDataStopPembongkaranPipa_userInput" class="el_SubAktivitasDataStopPembongkaranPipa_userInput">
<span @Html.Raw(subAktivitasDataStopPembongkaranPipaList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranPipaList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPembongkaranPipaList.userInput.Visible (end) *@
    @if (subAktivitasDataStopPembongkaranPipaList.etlDate.Visible) { // subAktivitasDataStopPembongkaranPipaList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasDataStopPembongkaranPipaList.etlDate.CellAttributes)>
<span id="el@(subAktivitasDataStopPembongkaranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPembongkaranPipaList.RowCount)_SubAktivitasDataStopPembongkaranPipa_etlDate" class="el_SubAktivitasDataStopPembongkaranPipa_etlDate">
<span @Html.Raw(subAktivitasDataStopPembongkaranPipaList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranPipaList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPembongkaranPipaList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasDataStopPembongkaranPipaList.ListOptions.RenderBody("right", subAktivitasDataStopPembongkaranPipaList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasDataStopPembongkaranPipaList.RowIndex, "$rowindex$"))
        subAktivitasDataStopPembongkaranPipaList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasDataStopPembongkaranPipaList.IsCopy || subAktivitasDataStopPembongkaranPipaList.IsAdd) && subAktivitasDataStopPembongkaranPipaList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasDataStopPembongkaranPipaList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasDataStopPembongkaranPipaList.CurrentAction) && !subAktivitasDataStopPembongkaranPipaList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasDataStopPembongkaranPipaList.CloseRecordset(); }
@if (!subAktivitasDataStopPembongkaranPipaList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasDataStopPembongkaranPipaList.IsGridAdd && !(subAktivitasDataStopPembongkaranPipaList.IsGridEdit && subAktivitasDataStopPembongkaranPipaList.ModalGridEdit) && !subAktivitasDataStopPembongkaranPipaList.IsMultiEdit) {
@Html.Raw(subAktivitasDataStopPembongkaranPipaList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasDataStopPembongkaranPipaList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasDataStopPembongkaranPipaList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasDataStopPembongkaranPipaList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasDataStopPembongkaranPipaList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasDataStopPembongkaranPipaList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasDataStopPembongkaranPipa");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
