@{
    // View
    View = this;

    // Check action result
    if (subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.TotalRecords > 0 && subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.ExportOptions.Visible) {
    subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.ExportOptions.Render("body");
}
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.ImportOptions.Visible) {
    subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.ImportOptions.Render("body");
}
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.SearchOptions.Visible) {
    subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.SearchOptions.Render("body");
}
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.FilterOptions.Visible) {
    subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.IsModal) {
<form name="fSubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBMsrch" id="fSubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBMsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBMsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM: currentTable } });
var currentForm;
var fSubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBMsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBMsrch")
        .setPageId("list")
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.IsExport() && Empty(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.CurrentAction) && subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBMsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBMsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBMsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBMsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.ShowPageHeader()
@subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.ShowMessages()
<main class="list @(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.TotalRecords == 0 && !subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.TotalRecords > 0 || !Empty(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.TableGridClass)">
<form name="@(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.FormName)" id="@(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM" class="card-body ew-grid-middle-panel @(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.TableContainerClass)" style="@(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.TableContainerStyle)">
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.TotalRecords > 0 || subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.IsGridEdit || subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.IsMultiEdit) {
<table id="tbl_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBMlist" class="@(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RowType = RowType.Header;

    // Render list options
    await subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.ListOptions.RenderHeader("left")
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.id.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.id.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_id" class="SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_id">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.id))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.id.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.NoReferensi.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_NoReferensi" class="SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_NoReferensi">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.NoReferensi))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.NoReferensi.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.idProses.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_idProses" class="SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_idProses">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.idProses))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.idProses.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.idAktifitas.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_idAktifitas" class="SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_idAktifitas">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.idAktifitas))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.idAktifitas.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.StatusAktivitas.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_StatusAktivitas" class="SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_StatusAktivitas">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.StatusAktivitas))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.StatusAktivitas.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.LastUpdatedBy.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_LastUpdatedBy" class="SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_LastUpdatedBy">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.LastUpdatedBy))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.lastUpdatedDate.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_lastUpdatedDate" class="SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_lastUpdatedDate">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.lastUpdatedDate))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.Tanggal.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_Tanggal" class="SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_Tanggal">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.Tanggal))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.Tanggal.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.userInput.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_userInput" class="SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_userInput">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.userInput))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.userInput.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.etlDate.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_etlDate" class="SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_etlDate">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.etlDate))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.PageNumber)">
@{
    await subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.SetupGrid();
    bool eof = subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.Recordset == null; // DN
}
@while (subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RecordCount < subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.StopRecord || SameString(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") &&
        (!subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.IsGridAdd || subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.CurrentMode == "copy") &&
        (!((subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.IsCopy || subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.IsAdd) && subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.Recordset.ReadAsync();
    subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RecordCount++;
    if (subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RecordCount >= subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.StartRecord) {
        await subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.SetupRow();
    <tr @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.ListOptions.RenderBody("left", subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RowCount)
    @if (subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.id.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_id" class="el_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_id">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.id.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.id.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.NoReferensi.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_NoReferensi" class="el_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_NoReferensi">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.NoReferensi.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.idProses.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_idProses" class="el_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_idProses">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.idProses.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.idAktifitas.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_idAktifitas" class="el_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_idAktifitas">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.idAktifitas.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.StatusAktivitas.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_StatusAktivitas" class="el_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_StatusAktivitas">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.LastUpdatedBy.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_LastUpdatedBy" class="el_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_LastUpdatedBy">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.lastUpdatedDate.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_lastUpdatedDate" class="el_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_lastUpdatedDate">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.Tanggal.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.Tanggal.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_Tanggal" class="el_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_Tanggal">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.Tanggal.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.userInput.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_userInput" class="el_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_userInput">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.userInput.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.etlDate.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_etlDate" class="el_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM_etlDate">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.ListOptions.RenderBody("right", subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$"))
        subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.IsCopy || subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.IsAdd) && subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.CurrentAction) && !subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.CloseRecordset(); }
@if (!subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.IsGridAdd && !(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.IsGridEdit && subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.ModalGridEdit) && !subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.IsMultiEdit) {
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasKeberangkatanKapalPenyaluranStsPyrBbmList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasKeberangkatanKapalPenyaluranSTSPyrBBM");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
