@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiBDperGerbongEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiBDperGerbongEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasNilaiBDperGerbongEdit.ShowPageHeader()
@subAktivitasNilaiBDperGerbongEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasNilaiBDperGerbongedit" id="fSubAktivitasNilaiBDperGerbongedit" class="@(subAktivitasNilaiBDperGerbongEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiBDperGerbongEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiBDperGerbong: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasNilaiBDperGerbongedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiBDperGerbongedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null], fields.idAktifitas.isInvalid],
            ["NomorGerbongKertel", [fields.NomorGerbongKertel.visible && fields.NomorGerbongKertel.required ? ew.Validators.required(fields.NomorGerbongKertel.caption) : null], fields.NomorGerbongKertel.isInvalid],
            ["KL_Obs", [fields.KL_Obs.visible && fields.KL_Obs.required ? ew.Validators.required(fields.KL_Obs.caption) : null], fields.KL_Obs.isInvalid],
            ["KL_15", [fields.KL_15.visible && fields.KL_15.required ? ew.Validators.required(fields.KL_15.caption) : null], fields.KL_15.isInvalid],
            ["Barrels", [fields.Barrels.visible && fields.Barrels.required ? ew.Validators.required(fields.Barrels.caption) : null], fields.Barrels.isInvalid],
            ["LT", [fields.LT.visible && fields.LT.required ? ew.Validators.required(fields.LT.caption) : null], fields.LT.isInvalid],
            ["MT", [fields.MT.visible && fields.MT.required ? ew.Validators.required(fields.MT.caption) : null], fields.MT.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null], fields.lastUpdatedDate.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null], fields.idProses.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null], fields.StatusAktivitas.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Client script
    // Write your client script here, no need to add script tags.
    var parent_url = ew.PATH_BASE;
    var IdProses = "@subAktivitasNilaiBDperGerbongEdit.idProses.CurrentValue";
    var NoReferensi = "@subAktivitasNilaiBDperGerbongEdit.NoReferensi.CurrentValue";
    var IdAktivitas = "@subAktivitasNilaiBDperGerbongEdit.idAktifitas.CurrentValue";
    let proceedSubmitStatus = null;
    $('#x_KL_Obs, #x_KL_15, #x_Barrels, #x_MT, #x_LT').on('focus', function () {
        hideFeedback($(this));
    });
    function hideFeedback(el) {
        let feedback = el.siSFBDings('.invalid-feedback');
        feedback.hide();
    }
    function validasiInput(){
        var inputMap = {
            "#x_KL_Obs": "KL Obs",
            "#x_KL_15": "KL 15",
            "#x_Barrels": "Barrels",
            "#x_MT": "Mt",
            "#x_LT": "Lt"
        };
        let isValid = true;
        $('.invalid-feedback').hide();
        let zeroOrNegativeFields = [];
        for (var id in inputMap) {
            var el = $(id);
            var label = inputMap[id];
            var val = el.val().trim();
            el.val(val);
            var feedback = el.siblings('.invalid-feedback');
            if (val === "") {
                feedback.text('*' + label + ' tidak boleh kosong.').show();
                isValid = false;
                continue;
            }
            if (isNaN(val)) {
                feedback.text('*' + label + ' harus diisi dengan angka desimal yang valid.').show();
                isValid = false;
                continue;
            }
            var number = parseFloat(val);
            if (number <= 0) {
                zeroOrNegativeFields.push(label)
            }
        }
        if (!isValid) {
            ew.alert('Nilai input harus berupa angka desimal yang valid.');
            return;
        }
        let fieldNotValid = [];
        for (const fieldId in inputMap) {
            const el = $(fieldId);
            const label = inputMap[fieldId];
            if (el.length && !el.val().trim()) {
                fieldNotValid.push(label);
                isValid = false
            }
        }
        if (!isValid) {
            ew.alert("Field tidak boleh kosong: " + fieldNotValid.join(", "));
            return { isValid: false}; // Gagal submit
        } else {
            $('.invalid-feedback').hide();
            if (zeroOrNegativeFields.length > 0) {
                return { isValid: false, hasNegative: true, fields: zeroOrNegativeFields };
            }
                return { isValid: true};
        }
        return { isValid: true};
    }
    function handleCustomSubmit(status) {
        let idAktivitas = $("#x_idAktifitas").val();
        const originalStatus = document.querySelector('#el_SubAktivitasNilaiSFBDRTW_StatusAktivitas .form-control-plaintext').textContent;
        const isValidInput = validasiInput();
        if (!isValidInput.isValid && !isValidInput.hasNegative) return;
        let allNegativeFields = [];
        if (isValidInput.hasNegative) allNegativeFields = allNegativeFields.concat(isValidInput.fields);
        if (allNegativeFields.length > 0) {
            let warningText = "Field berikut bernilai 0 atau kurang: " + allNegativeFields.join(", ") + ". Apakah Anda ingin tetap menyimpan?";
            $("#warningValueText").text(warningText);
            proceedSubmitStatus = status;
            $("#warningValueModal").modal("show");
            return;
        }

        // Jika nilai valid langsung submit
        submitFinal(status);
    }
    function submitFinal(status) {
        let idAktivitas = $("#x_idAktifitas").val();
        const originalStatus = document.querySelector('#el_SubAktivitasNilaiSFBDRTW_StatusAktivitas .form-control-plaintext').textContent;
        $.ajax({
            url: parent_url + `api/LookUpList/check_valid_status_aktivitas?idAktivitas=${idAktivitas}&originalStatus=${originalStatus}`,
            type: 'GET',
            beforeSend: function () {
                showLoading();
            },
            success: function (response) {
                if (!response.IsValid){
                    hideLoading();
                    ew.alert(response.Message ?? "Status aktivitas telah diubah oleh pengguna lain");
                    return;
                } else {
                    let form = $("#fSubAktivitasNilaiSFBDRTWedit");
                    $.ajax({
                        url: form.attr("action"),
                        type: form.attr("method"),
                        data: form.serialize(),
                        success: function (response) {
                            updateStatus(idAktivitas, status);
                        },
                        error: function (xhr, status, error) {
                            hideLoading();
                            ew.alert("Gagal menyimpan data.");
                            console.error("Form submit gagal:", error);
                        }
                    });  
                }
            },
            error: function (xhr, status, error) {
                hideLoading();
                ew.alert("Gagal menyimpan data.");
                console.error("Form submit gagal:", error);
            }
        }); 
    }
    function updateStatus(idAktivitas, status) {
        $.ajax({
            url: parent_url + `api/LookUpList/update_status_aktivitas?idAktivitas=${idAktivitas}&statusAktivitas=${status}`,
            type: 'POST',
            success: function () {
                $.ajax({
                    url: parent_url + 'api/LookUpList/insertTotalBDToSubAktivitasNilaiSFBDRTW',
                    type: 'POST',
                    data: JSON.stringify({
                        NoReferensi: NoReferensi,
                        IdProses: IdProses,
                        IdAktivitas: IdAktivitas
                    }),
                    contentType: 'application/json',
                    success: function (res) {
                        hideLoading();
                        ew.alert('Berhasil update data.');
                        setTimeout(function () {
                            if (status == "Completed" || status == "Completed Edit") {
                                window.location.href = `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`;
                            } else {
                                location.reload();
                            }
                        }, 1000);
                    },
                    error: function (xhr, status, error) {
                        console.error("Update Sub Aktivitas gagal:", error);
                    },
                    complete: function () {
                        hideLoading();
                    }
                });
            },
            error: function (xhr, status, error) {
                ew.alert("Status gagal diperbarui.");
                console.error("Update status gagal:", error);
                hideLoading();
            }
        });
    }
    function reverseStatus(status, catatan) {
        showLoading();
        let idAktivitas = $("#x_idAktifitas").val();
        $.ajax({
            url: parent_url + `api/LookUpList/update_status_aktivitas-v2`,
            type: 'POST',
            data: JSON.stringify({ IdAktivitas: idAktivitas, StatusAktivitas: status, Catatan: catatan ?? null }),
            contentType: 'application/json',
            success: function () {
                hideLoading();
                ew.alert('Berhasil update data.');
                setTimeout(function () {
                    window.location.href = `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`;
                }, 1000);
            },
            error: function (xhr, status, error) {
                ew.alert("Status gagal diperbarui.");
                console.error("Update status gagal:", error);
            },
            complete: function () {
                hideLoading();
            }
        });
    }
    $(document).on("click", "#btn-draft", function () {
        handleCustomSubmit("Draft");
    });
    $(document).on("click", "#btn-completed", function () {
        handleCustomSubmit("Completed");
    });
    $(document).on("click", "#btn-editing", function () {
        handleCustomSubmit("Editing");
    });
    $(document).on("click", "#btn-completedEdit", function () {
        handleCustomSubmit("Completed Edit");
    });
    $(document).on("click", "#btn-confirm-modal", function () {
        $("#warningValueModal").modal("hide");
        submitFinal(proceedSubmitStatus);
    });
    $(document).on("submit", "#reverseStatusEditingModalForm", function (e) {
        e.preventDefault();
        let catatanText = $("#catatanReverseStatusEditing").val();
        reverseStatus("Editing", catatanText);
    });
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasNilaiBDperGerbongEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasNilaiBDperGerbongEdit.OldKeyName)" value="@Html.Raw(subAktivitasNilaiBDperGerbongEdit.OldKey)">
<div class="ew-edit-div d-none"><!-- page* -->
@if (subAktivitasNilaiBDperGerbongEdit.idAktifitas.Visible) { // subAktivitasNilaiBDperGerbongEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasNilaiBDperGerbongEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBDperGerbong_idAktifitas" class="@(subAktivitasNilaiBDperGerbongEdit.LeftColumnClass)"><template id="tpc_SubAktivitasNilaiBDperGerbong_idAktifitas">@Html.Raw(subAktivitasNilaiBDperGerbongEdit.idAktifitas.Caption)@Html.Raw(subAktivitasNilaiBDperGerbongEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasNilaiBDperGerbongEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBDperGerbongEdit.idAktifitas.CellAttributes)>
<template id="tpx_SubAktivitasNilaiBDperGerbong_idAktifitas"><span id="el_SubAktivitasNilaiBDperGerbong_idAktifitas">
<span @Html.Raw(subAktivitasNilaiBDperGerbongEdit.idAktifitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasNilaiBDperGerbongEdit.idAktifitas.DisplayValue(subAktivitasNilaiBDperGerbongEdit.idAktifitas.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasNilaiBDperGerbong" data-field="x_idAktifitas" data-hidden="1" name="x_idAktifitas" id="x_idAktifitas" value="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongEdit.idAktifitas.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasNilaiBDperGerbongEdit.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongEdit.NomorGerbongKertel.Visible) { // subAktivitasNilaiBDperGerbongEdit.NomorGerbongKertel.Visible (begin)
    <div id="r_NomorGerbongKertel" @Html.Raw(subAktivitasNilaiBDperGerbongEdit.NomorGerbongKertel.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBDperGerbong_NomorGerbongKertel" for="x_NomorGerbongKertel" class="@(subAktivitasNilaiBDperGerbongEdit.LeftColumnClass)"><template id="tpc_SubAktivitasNilaiBDperGerbong_NomorGerbongKertel">@Html.Raw(subAktivitasNilaiBDperGerbongEdit.NomorGerbongKertel.Caption)@Html.Raw(subAktivitasNilaiBDperGerbongEdit.NomorGerbongKertel.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasNilaiBDperGerbongEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBDperGerbongEdit.NomorGerbongKertel.CellAttributes)>
<template id="tpx_SubAktivitasNilaiBDperGerbong_NomorGerbongKertel"><span id="el_SubAktivitasNilaiBDperGerbong_NomorGerbongKertel">
<input type="@(subAktivitasNilaiBDperGerbongEdit.NomorGerbongKertel.InputTextType)" name="x_NomorGerbongKertel" id="x_NomorGerbongKertel" data-table="SubAktivitasNilaiBDperGerbong" data-field="x_NomorGerbongKertel" value="@Html.Raw(subAktivitasNilaiBDperGerbongEdit.NomorGerbongKertel.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongEdit.NomorGerbongKertel.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBDperGerbongEdit.NomorGerbongKertel.FormatPattern)"@Html.Raw(subAktivitasNilaiBDperGerbongEdit.NomorGerbongKertel.EditAttributes) aria-describedby="x_NomorGerbongKertel_help">
@Html.Raw(subAktivitasNilaiBDperGerbongEdit.NomorGerbongKertel.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBDperGerbongEdit.NomorGerbongKertel.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasNilaiBDperGerbongEdit.NomorGerbongKertel.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongEdit.KL_Obs.Visible) { // subAktivitasNilaiBDperGerbongEdit.KL_Obs.Visible (begin)
    <div id="r_KL_Obs" @Html.Raw(subAktivitasNilaiBDperGerbongEdit.KL_Obs.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBDperGerbong_KL_Obs" for="x_KL_Obs" class="@(subAktivitasNilaiBDperGerbongEdit.LeftColumnClass)"><template id="tpc_SubAktivitasNilaiBDperGerbong_KL_Obs">@Html.Raw(subAktivitasNilaiBDperGerbongEdit.KL_Obs.Caption)@Html.Raw(subAktivitasNilaiBDperGerbongEdit.KL_Obs.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasNilaiBDperGerbongEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBDperGerbongEdit.KL_Obs.CellAttributes)>
<template id="tpx_SubAktivitasNilaiBDperGerbong_KL_Obs"><span id="el_SubAktivitasNilaiBDperGerbong_KL_Obs">
<input type="@(subAktivitasNilaiBDperGerbongEdit.KL_Obs.InputTextType)" name="x_KL_Obs" id="x_KL_Obs" data-table="SubAktivitasNilaiBDperGerbong" data-field="x_KL_Obs" value="@Html.Raw(subAktivitasNilaiBDperGerbongEdit.KL_Obs.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongEdit.KL_Obs.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBDperGerbongEdit.KL_Obs.FormatPattern)"@Html.Raw(subAktivitasNilaiBDperGerbongEdit.KL_Obs.EditAttributes) aria-describedby="x_KL_Obs_help">
@Html.Raw(subAktivitasNilaiBDperGerbongEdit.KL_Obs.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBDperGerbongEdit.KL_Obs.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasNilaiBDperGerbongEdit.KL_Obs.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongEdit.KL_15.Visible) { // subAktivitasNilaiBDperGerbongEdit.KL_15.Visible (begin)
    <div id="r_KL_15" @Html.Raw(subAktivitasNilaiBDperGerbongEdit.KL_15.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBDperGerbong_KL_15" for="x_KL_15" class="@(subAktivitasNilaiBDperGerbongEdit.LeftColumnClass)"><template id="tpc_SubAktivitasNilaiBDperGerbong_KL_15">@Html.Raw(subAktivitasNilaiBDperGerbongEdit.KL_15.Caption)@Html.Raw(subAktivitasNilaiBDperGerbongEdit.KL_15.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasNilaiBDperGerbongEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBDperGerbongEdit.KL_15.CellAttributes)>
<template id="tpx_SubAktivitasNilaiBDperGerbong_KL_15"><span id="el_SubAktivitasNilaiBDperGerbong_KL_15">
<input type="@(subAktivitasNilaiBDperGerbongEdit.KL_15.InputTextType)" name="x_KL_15" id="x_KL_15" data-table="SubAktivitasNilaiBDperGerbong" data-field="x_KL_15" value="@Html.Raw(subAktivitasNilaiBDperGerbongEdit.KL_15.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongEdit.KL_15.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBDperGerbongEdit.KL_15.FormatPattern)"@Html.Raw(subAktivitasNilaiBDperGerbongEdit.KL_15.EditAttributes) aria-describedby="x_KL_15_help">
@Html.Raw(subAktivitasNilaiBDperGerbongEdit.KL_15.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBDperGerbongEdit.KL_15.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasNilaiBDperGerbongEdit.KL_15.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongEdit.Barrels.Visible) { // subAktivitasNilaiBDperGerbongEdit.Barrels.Visible (begin)
    <div id="r_Barrels" @Html.Raw(subAktivitasNilaiBDperGerbongEdit.Barrels.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBDperGerbong_Barrels" for="x_Barrels" class="@(subAktivitasNilaiBDperGerbongEdit.LeftColumnClass)"><template id="tpc_SubAktivitasNilaiBDperGerbong_Barrels">@Html.Raw(subAktivitasNilaiBDperGerbongEdit.Barrels.Caption)@Html.Raw(subAktivitasNilaiBDperGerbongEdit.Barrels.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasNilaiBDperGerbongEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBDperGerbongEdit.Barrels.CellAttributes)>
<template id="tpx_SubAktivitasNilaiBDperGerbong_Barrels"><span id="el_SubAktivitasNilaiBDperGerbong_Barrels">
<input type="@(subAktivitasNilaiBDperGerbongEdit.Barrels.InputTextType)" name="x_Barrels" id="x_Barrels" data-table="SubAktivitasNilaiBDperGerbong" data-field="x_Barrels" value="@Html.Raw(subAktivitasNilaiBDperGerbongEdit.Barrels.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongEdit.Barrels.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBDperGerbongEdit.Barrels.FormatPattern)"@Html.Raw(subAktivitasNilaiBDperGerbongEdit.Barrels.EditAttributes) aria-describedby="x_Barrels_help">
@Html.Raw(subAktivitasNilaiBDperGerbongEdit.Barrels.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBDperGerbongEdit.Barrels.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasNilaiBDperGerbongEdit.Barrels.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongEdit.LT.Visible) { // subAktivitasNilaiBDperGerbongEdit.LT.Visible (begin)
    <div id="r_LT" @Html.Raw(subAktivitasNilaiBDperGerbongEdit.LT.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBDperGerbong_LT" for="x_LT" class="@(subAktivitasNilaiBDperGerbongEdit.LeftColumnClass)"><template id="tpc_SubAktivitasNilaiBDperGerbong_LT">@Html.Raw(subAktivitasNilaiBDperGerbongEdit.LT.Caption)@Html.Raw(subAktivitasNilaiBDperGerbongEdit.LT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasNilaiBDperGerbongEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBDperGerbongEdit.LT.CellAttributes)>
<template id="tpx_SubAktivitasNilaiBDperGerbong_LT"><span id="el_SubAktivitasNilaiBDperGerbong_LT">
<input type="@(subAktivitasNilaiBDperGerbongEdit.LT.InputTextType)" name="x_LT" id="x_LT" data-table="SubAktivitasNilaiBDperGerbong" data-field="x_LT" value="@Html.Raw(subAktivitasNilaiBDperGerbongEdit.LT.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongEdit.LT.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBDperGerbongEdit.LT.FormatPattern)"@Html.Raw(subAktivitasNilaiBDperGerbongEdit.LT.EditAttributes) aria-describedby="x_LT_help">
@Html.Raw(subAktivitasNilaiBDperGerbongEdit.LT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBDperGerbongEdit.LT.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasNilaiBDperGerbongEdit.LT.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongEdit.MT.Visible) { // subAktivitasNilaiBDperGerbongEdit.MT.Visible (begin)
    <div id="r_MT" @Html.Raw(subAktivitasNilaiBDperGerbongEdit.MT.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBDperGerbong_MT" for="x_MT" class="@(subAktivitasNilaiBDperGerbongEdit.LeftColumnClass)"><template id="tpc_SubAktivitasNilaiBDperGerbong_MT">@Html.Raw(subAktivitasNilaiBDperGerbongEdit.MT.Caption)@Html.Raw(subAktivitasNilaiBDperGerbongEdit.MT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasNilaiBDperGerbongEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBDperGerbongEdit.MT.CellAttributes)>
<template id="tpx_SubAktivitasNilaiBDperGerbong_MT"><span id="el_SubAktivitasNilaiBDperGerbong_MT">
<input type="@(subAktivitasNilaiBDperGerbongEdit.MT.InputTextType)" name="x_MT" id="x_MT" data-table="SubAktivitasNilaiBDperGerbong" data-field="x_MT" value="@Html.Raw(subAktivitasNilaiBDperGerbongEdit.MT.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongEdit.MT.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBDperGerbongEdit.MT.FormatPattern)"@Html.Raw(subAktivitasNilaiBDperGerbongEdit.MT.EditAttributes) aria-describedby="x_MT_help">
@Html.Raw(subAktivitasNilaiBDperGerbongEdit.MT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBDperGerbongEdit.MT.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasNilaiBDperGerbongEdit.MT.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongEdit.LastUpdatedBy.Visible) { // subAktivitasNilaiBDperGerbongEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasNilaiBDperGerbongEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBDperGerbong_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasNilaiBDperGerbongEdit.LeftColumnClass)"><template id="tpc_SubAktivitasNilaiBDperGerbong_LastUpdatedBy">@Html.Raw(subAktivitasNilaiBDperGerbongEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasNilaiBDperGerbongEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasNilaiBDperGerbongEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBDperGerbongEdit.LastUpdatedBy.CellAttributes)>
<template id="tpx_SubAktivitasNilaiBDperGerbong_LastUpdatedBy"><span id="el_SubAktivitasNilaiBDperGerbong_LastUpdatedBy">
<span @Html.Raw(subAktivitasNilaiBDperGerbongEdit.LastUpdatedBy.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasNilaiBDperGerbongEdit.LastUpdatedBy.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasNilaiBDperGerbong" data-field="x_LastUpdatedBy" data-hidden="1" name="x_LastUpdatedBy" id="x_LastUpdatedBy" value="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongEdit.LastUpdatedBy.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasNilaiBDperGerbongEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongEdit.lastUpdatedDate.Visible) { // subAktivitasNilaiBDperGerbongEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasNilaiBDperGerbongEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBDperGerbong_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasNilaiBDperGerbongEdit.LeftColumnClass)"><template id="tpc_SubAktivitasNilaiBDperGerbong_lastUpdatedDate">@Html.Raw(subAktivitasNilaiBDperGerbongEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasNilaiBDperGerbongEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasNilaiBDperGerbongEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBDperGerbongEdit.lastUpdatedDate.CellAttributes)>
<template id="tpx_SubAktivitasNilaiBDperGerbong_lastUpdatedDate"><span id="el_SubAktivitasNilaiBDperGerbong_lastUpdatedDate">
<span @Html.Raw(subAktivitasNilaiBDperGerbongEdit.lastUpdatedDate.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasNilaiBDperGerbongEdit.lastUpdatedDate.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasNilaiBDperGerbong" data-field="x_lastUpdatedDate" data-hidden="1" name="x_lastUpdatedDate" id="x_lastUpdatedDate" value="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongEdit.lastUpdatedDate.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasNilaiBDperGerbongEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongEdit.NoReferensi.Visible) { // subAktivitasNilaiBDperGerbongEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasNilaiBDperGerbongEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBDperGerbong_NoReferensi" for="x_NoReferensi" class="@(subAktivitasNilaiBDperGerbongEdit.LeftColumnClass)"><template id="tpc_SubAktivitasNilaiBDperGerbong_NoReferensi">@Html.Raw(subAktivitasNilaiBDperGerbongEdit.NoReferensi.Caption)@Html.Raw(subAktivitasNilaiBDperGerbongEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasNilaiBDperGerbongEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBDperGerbongEdit.NoReferensi.CellAttributes)>
<template id="tpx_SubAktivitasNilaiBDperGerbong_NoReferensi"><span id="el_SubAktivitasNilaiBDperGerbong_NoReferensi">
<span @Html.Raw(subAktivitasNilaiBDperGerbongEdit.NoReferensi.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasNilaiBDperGerbongEdit.NoReferensi.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasNilaiBDperGerbong" data-field="x_NoReferensi" data-hidden="1" name="x_NoReferensi" id="x_NoReferensi" value="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongEdit.NoReferensi.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasNilaiBDperGerbongEdit.NoReferensi.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongEdit.idProses.Visible) { // subAktivitasNilaiBDperGerbongEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasNilaiBDperGerbongEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBDperGerbong_idProses" class="@(subAktivitasNilaiBDperGerbongEdit.LeftColumnClass)"><template id="tpc_SubAktivitasNilaiBDperGerbong_idProses">@Html.Raw(subAktivitasNilaiBDperGerbongEdit.idProses.Caption)@Html.Raw(subAktivitasNilaiBDperGerbongEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasNilaiBDperGerbongEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBDperGerbongEdit.idProses.CellAttributes)>
<template id="tpx_SubAktivitasNilaiBDperGerbong_idProses"><span id="el_SubAktivitasNilaiBDperGerbong_idProses">
<span @Html.Raw(subAktivitasNilaiBDperGerbongEdit.idProses.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasNilaiBDperGerbongEdit.idProses.DisplayValue(subAktivitasNilaiBDperGerbongEdit.idProses.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasNilaiBDperGerbong" data-field="x_idProses" data-hidden="1" name="x_idProses" id="x_idProses" value="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongEdit.idProses.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasNilaiBDperGerbongEdit.idProses.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongEdit.StatusAktivitas.Visible) { // subAktivitasNilaiBDperGerbongEdit.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subAktivitasNilaiBDperGerbongEdit.StatusAktivitas.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBDperGerbong_StatusAktivitas" class="@(subAktivitasNilaiBDperGerbongEdit.LeftColumnClass)"><template id="tpc_SubAktivitasNilaiBDperGerbong_StatusAktivitas">@Html.Raw(subAktivitasNilaiBDperGerbongEdit.StatusAktivitas.Caption)@Html.Raw(subAktivitasNilaiBDperGerbongEdit.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasNilaiBDperGerbongEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBDperGerbongEdit.StatusAktivitas.CellAttributes)>
<template id="tpx_SubAktivitasNilaiBDperGerbong_StatusAktivitas"><span id="el_SubAktivitasNilaiBDperGerbong_StatusAktivitas">
<span @Html.Raw(subAktivitasNilaiBDperGerbongEdit.StatusAktivitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasNilaiBDperGerbongEdit.StatusAktivitas.DisplayValue(subAktivitasNilaiBDperGerbongEdit.StatusAktivitas.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasNilaiBDperGerbong" data-field="x_StatusAktivitas" data-hidden="1" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongEdit.StatusAktivitas.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasNilaiBDperGerbongEdit.StatusAktivitas.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongEdit.userInput.Visible) { // subAktivitasNilaiBDperGerbongEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasNilaiBDperGerbongEdit.userInput.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBDperGerbong_userInput" for="x_userInput" class="@(subAktivitasNilaiBDperGerbongEdit.LeftColumnClass)"><template id="tpc_SubAktivitasNilaiBDperGerbong_userInput">@Html.Raw(subAktivitasNilaiBDperGerbongEdit.userInput.Caption)@Html.Raw(subAktivitasNilaiBDperGerbongEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasNilaiBDperGerbongEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBDperGerbongEdit.userInput.CellAttributes)>
<template id="tpx_SubAktivitasNilaiBDperGerbong_userInput"><span id="el_SubAktivitasNilaiBDperGerbong_userInput">
<input type="@(subAktivitasNilaiBDperGerbongEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasNilaiBDperGerbong" data-field="x_userInput" value="@Html.Raw(subAktivitasNilaiBDperGerbongEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongEdit.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBDperGerbongEdit.userInput.FormatPattern)"@Html.Raw(subAktivitasNilaiBDperGerbongEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasNilaiBDperGerbongEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBDperGerbongEdit.userInput.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasNilaiBDperGerbongEdit.userInput.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongEdit.Produk.Visible) { // subAktivitasNilaiBDperGerbongEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasNilaiBDperGerbongEdit.Produk.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBDperGerbong_Produk" for="x_Produk" class="@(subAktivitasNilaiBDperGerbongEdit.LeftColumnClass)"><template id="tpc_SubAktivitasNilaiBDperGerbong_Produk">@Html.Raw(subAktivitasNilaiBDperGerbongEdit.Produk.Caption)@Html.Raw(subAktivitasNilaiBDperGerbongEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasNilaiBDperGerbongEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBDperGerbongEdit.Produk.CellAttributes)>
<template id="tpx_SubAktivitasNilaiBDperGerbong_Produk"><span id="el_SubAktivitasNilaiBDperGerbong_Produk">
<input type="@(subAktivitasNilaiBDperGerbongEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasNilaiBDperGerbong" data-field="x_Produk" value="@Html.Raw(subAktivitasNilaiBDperGerbongEdit.Produk.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongEdit.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBDperGerbongEdit.Produk.FormatPattern)"@Html.Raw(subAktivitasNilaiBDperGerbongEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasNilaiBDperGerbongEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBDperGerbongEdit.Produk.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasNilaiBDperGerbongEdit.Produk.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="SubAktivitasNilaiBDperGerbong" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongEdit.id.CurrentValue))">
<div id="tpd_SubAktivitasNilaiBDperGerbongedit" class="ew-custom-template"></div>
<template id="tpm_SubAktivitasNilaiBDperGerbongedit">
<div id="ct_subAktivitasNilaiBDperGerbongEdit"><style>
    .view-page-table td {
        white-space: normal !important;
        word-wrap: break-word;
    }
    .view-page-table th {
        background-color: #006BB7;
    }
    .body-table {
        background-color: #fff;
    }
    .header-table {
        background-color: #006BB7 !important;
        color: #fff !important;
    }
    .view-page-table {
        table-layout: fixed;
    }
    .tab-content {
        display: none;
    }
    .tab-content.active {
        display: block;
    }
    .ag-theme-quartz .ag-header {
        background-color: #006BB7 !important;
    }
    .ag-theme-quartz .ag-header-cell-label {
        color: #ffffff !important;
    }
    .ag-theme-quartz .ag-icon-filter {
        color: #ffffff !important;
    }
    .rotate-down {
        transform: rotate(90deg);
        transition: transform 0.3s ease;
    }
    .rotate-right {
        transform: rotate(0deg);
        transition: transform 0.3s ease;
    }
</style>
<div class="row mb-2">
    <div class="col-2 fw-bold d-flex align-items-center">
        @Html.Raw(subAktivitasNilaiBDperGerbongEdit.NoReferensi.Caption)
    </div>
    <div class="col-10">
        <slot class="ew-slot" name="tpx_SubAktivitasNilaiBDperGerbong_NoReferensi"></slot>
    </div>
</div>
<div class="row mb-2">
    <div class="col-2 fw-bold d-flex align-items-center">
        @Html.Raw(subAktivitasNilaiBDperGerbongEdit.idProses.Caption)
    </div>
    <div class="col-10">
        <slot class="ew-slot" name="tpx_SubAktivitasNilaiBDperGerbong_idProses"></slot>
    </div>
</div>
<div class="row mb-2">
    <div class="col-2 fw-bold d-flex align-items-center">
        @Html.Raw(subAktivitasNilaiBDperGerbongEdit.idAktifitas.Caption)
    </div>
    <div class="col-10">
        <slot class="ew-slot" name="tpx_SubAktivitasNilaiBDperGerbong_idAktifitas"></slot>
    </div>
</div>
<div class="row mb-3">
    <div class="col-2 fw-bold d-flex align-items-center">
        @Html.Raw(subAktivitasNilaiBDperGerbongEdit.StatusAktivitas.Caption)
    </div>
    <div class="col-10">
        <slot class="ew-slot" name="tpx_SubAktivitasNilaiBDperGerbong_StatusAktivitas"></slot>
    </div>
</div>
<div class="row mb-3">
    <div class="col-2 fw-bold d-flex align-items-center">
        @Html.Raw(subAktivitasNilaiBDperGerbongEdit.LastUpdatedBy.Caption)
    </div>
    <div class="col-10 d-flex gap-3">
        <slot class="ew-slot" name="tpx_SubAktivitasNilaiBDperGerbong_LastUpdatedBy"></slot>
        <button type="button" class="btn btn-primary ew-btn ps-2" expand-log="false">
            <i class="fa-solid fa-caret-right fa-2xl me-2 caret-icon rotate-right"></i>
            Log History
            <i class="fa-solid fa-clock-rotate-left ms-1"></i> 
        </button>
    </div>
</div>
<div id="log-table-row" class="d-none row m-0">
    <div class="p-0">
        <div id="log-table-wrapper" style="overflow: hidden; transition: all 0.6s ease; max-height: 0;">
            <div id="myGrid" class="ag-theme-quartz w-75 my-3" style="height: 300px;"></div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-2 fw-bold d-flex align-items-center">
        @Html.Raw(subAktivitasNilaiBDperGerbongEdit.lastUpdatedDate.Caption)
    </div>
    <div class="col-10">
        <slot class="ew-slot" name="tpx_SubAktivitasNilaiBDperGerbong_lastUpdatedDate"></slot>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-9 border rounded p-0 mb-3">
        <table aria-hidden="true" class="table table-hover view-page-table w-100 m-0">
            <tbody>
                <tr>
                    <td class="fw-bold header-table">Satuan</td>
                    <td class="fw-bold header-table">BL</td>
                    <td class="fw-bold header-table">AL</td>
                    <td width="25%" class="fw-bold header-table">BD</td>
                    <td class="fw-bold header-table">AR</td>
                </tr>
                <tr>
                    <td class="text-break fw-bold">KL Obs</td>
                    <td class="text-break body-table"><p id="BL-klobs"></p></td>
                    <td class="text-break body-table"><p id="SFAL-klobs"></p></td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubAktivitasNilaiBDperGerbong_KL_Obs"></slot></td>
                    <td class="text-break body-table"><p id="AR-klobs"></p></td>
                </tr>
                <tr>
                    <td class="text-break fw-bold">KL 15</td>
                    <td class="text-break body-table"><p id="BL-kl15"></p></td>
                    <td class="text-break body-table"><p id="SFAL-kl15"></p></td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubAktivitasNilaiBDperGerbong_KL_15"></slot></td>
                    <td class="text-break body-table"><p id="AR-kl15"></p></td>
                </tr>
                <tr>
                    <td class="text-break fw-bold">Barrel</td>
                    <td class="text-break body-table"><p id="BL-barrels"></p></td>
                    <td class="text-break body-table"><p id="SFAL-barrels"></p></td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubAktivitasNilaiBDperGerbong_Barrels"></slot></td>
                    <td class="text-break body-table"><p id="AR-barrels"></p></td>
                </tr>
                <tr>
                    <td class="text-break fw-bold">Metric Ton</td>
                    <td class="text-break body-table"><p id="BL-mt"></p></td>
                    <td class="text-break body-table"><p id="SFAL-mt"></p></td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubAktivitasNilaiBDperGerbong_MT"></slot></td>
                    <td class="text-break body-table"><p id="AR-mt"></p></td>
                </tr>
                <tr>
                    <td class="text-break fw-bold">Long Ton</td>
                    <td class="text-break body-table"><p id="BL-lt"></p></td>
                    <td class="text-break body-table"><p id="SFAL-lt"></p></td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubAktivitasNilaiBDperGerbong_LT"></slot></td>
                    <td class="text-break body-table"><p id="AR-lt"></p></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<table aria-hidden="true" class="table table-hover view-page-table w-25 mb-3">
    <tbody>
        <tr>
            <td class="text-break fw-bold">R1</td>
            <td class="text-break body-table fw-bold" id="R1"></td>
        </tr>
        <tr>
            <td class="text-break fw-bold">R2</td>
            <td class="text-break body-table fw-bold" id="R2"></td>
        </tr>
        <tr>
            <td class="text-break fw-bold">R3</td>
            <td class="text-break body-table fw-bold" id="R3"></td>
        </tr>
        <tr>
            <td class="text-break fw-bold">R4</td>
            <td class="text-break body-table fw-bold" id="R4"></td>
        </tr>
    </tbody>
</table></div>
</template>
@{ subAktivitasNilaiBDperGerbongEdit.CloseRecordset(); }
@Html.Raw(subAktivitasNilaiBDperGerbongEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasNilaiBDperGerbongEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasNilaiBDperGerbongedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasNilaiBDperGerbongedit" data-href="@AppPath(subAktivitasNilaiBDperGerbongEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasNilaiBDperGerbongEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
<script class="ew-apply-template">
loadjs.ready(ew.applyTemplateId, function() {
    var $ = jQuery;
    ew.templateData = { rows: @Html.Raw(ConvertToJson(subAktivitasNilaiBDperGerbongEdit.Rows)) };
    ew.applyTemplate("tpd_SubAktivitasNilaiBDperGerbongedit", "tpm_SubAktivitasNilaiBDperGerbongedit", "SubAktivitasNilaiBDperGerbongedit", "@(subAktivitasNilaiBDperGerbongEdit.Export)", "SubAktivitasNilaiBDperGerbong", ew.templateData.rows[0], @(subAktivitasNilaiBDperGerbongEdit.IsModal ? "true" : "false"));
    loadjs.done("customtemplate");
});
</script>
</main>
@subAktivitasNilaiBDperGerbongEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasNilaiBDperGerbong");
});
</script>
<script>
loadjs.ready("load", function() {
    // Startup script
    var NoReferensi = "@subAktivitasNilaiBDperGerbongEdit.NoReferensi.CurrentValue";
    var IdProses = "@subAktivitasNilaiBDperGerbongEdit.idProses.CurrentValue";
    var idAktivitas = "@subAktivitasNilaiBDperGerbongEdit.idAktifitas.CurrentValue";
    var NamaAktivitas = $('#el_SubAktivitasNilaiBDPerGerbong_idAktifitas').text();
    var parent_url = ew.PATH_BASE;
    const userLevel = "@CurrentUserLevel()";
    let currentStatusAktivitas = "";
    var steps = [
        { number: 1, label: "Penerimaan", url: `${parent_url}PenerimaanList`, icon: "fa-box-open" },
        { number: 2, label: "Proses", url: `${parent_url}ProsesList?cmd=search&x_IdReferensi%5B%5D=${NoReferensi}&search=&searchtype=`, icon: "fa-gears" },
        { number: 3, label: "Aktivitas", url: `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`, icon: "fa-list-check" },
        { number: 4, label: NamaAktivitas, url: '', icon: "fa-file-circle-check" }
    ];
    var currentStep = 4;
    $("<style>")
        .prop("type", "text/css")
        .html(`
            .stepper {
                display: flex;
                counter-reset: step;
                flex-wrap: nowrap;        /* jangan pecah ke bawah */
                overflow-x: auto;         /* scroll horizontal */
                -webkit-overflow-scrolling: touch; /* smooth scroll di mobile */
                padding-bottom: 8px;      /* space biar scroll bar gak nempel */
            }
            .stepper::-webkit-scrollbar {
            height: 6px; /* tipis */
            }
            .stepper::-webkit-scrollbar-thumb {
                background-color: #ccc;
                border-radius: 3px;
            }
            .step {
                width: 150px;
                text-align: center;
                position: relative;
            }
            .step:not(:last-child)::after {
                content: '';
                position: absolute;
                top: 20px;
                right: -50%;
                width: 100%;
                height: 4px;
                background-color: #ccc;
                z-index: 0;
            }
            .step.completed:not(:last-child)::after {
                background-color: #3c6dbd;
            }
            .step-icon {
                width: 36px;
                height: 36px;
                line-height: 36px;
                border-radius: 50%;
                background: #ccc;
                display: inline-block;
                z-index: 1;
                position: relative;
                color: white;
                font-weight: bold;
            }
            .step.active .step-icon {
                background: #3c6dbd;
            }
            .step-label {
                margin-top: 8px;
                font-size: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6px;
                color: #333;
            }
            .step-label {
                color: #3c6dbd !important;
                text-decoration: none;
                margin: 0;
                padding: 0;
            }
            .step-label-not-active {
                color: #CCCCCC !important;
            } 
        `)
        .appendTo("head");
    var $stepperWrapper = $('<div class="d-flex border-bottom border-2 pb-2"><div class="stepper"></div></div>');
    var $stepper = $stepperWrapper.find(".stepper");
    steps.forEach(function (step, i) {
        var isActive = step.number === currentStep;
        var isCompleted = step.number < currentStep;
        var stepClass = isActive ? "active" : isCompleted ? "completed" : "";
        var icon, labelContent, html;
        if (isActive) {
            icon = `<div class="step-icon bg-success">${step.number}</div>`;
            labelContent = `<div class="step-label"><p class="text-success mb-1"><i class="fa-solid ${step.icon} me-1 text-success"></i> ${step.label}</p></div>`;
            html = `<div class="step ${stepClass} text-success">${icon}${labelContent}</div>`;
        } else if (isCompleted) {
            icon = `<div class="step-icon" style="background: #3c6dbd;">${step.number}</div>`;
            labelContent = `<div class="step-label"><a href="${step.url}" class="text-primary"><i class="fa-solid ${step.icon} me-1"></i>${step.label}</a></div>`;
            html = `<div class="step ${stepClass}">${icon}${labelContent}</div>`;
        } else {
            icon = `<div class="step-icon">${step.number}</div>`;
            labelContent = `<div class="step-label-not-active"><p style="margin: 0;"><i class="fa-solid ${step.icon} me-1"></i>${step.label}</p></div>`;
            html = `<div class="step ${stepClass} text-secondary">${icon}${labelContent}</div>`;
        }
        $stepper.append(html);
    });
    $(".content-header .container-fluid .row").append($stepperWrapper);
    $("#btn-action").hide();
    $("#btn-cancel").html('<i class="fa-solid fa-ban"></i></i> Cancel');
    const $cancelButton = $("#btn-cancel");
    const idAktifitas = $("#x_idAktifitas").val();
     $(document).on('click', 'button[expand-log]', function () {
            const $btn = $(this);
            const isExpanded = $btn.attr('expand-log') === 'true';
            const $row = $('#log-table-row');
            const $wrapper = $('#log-table-wrapper');
            const $caret = $btn.find('.caret-icon');
            if (!isExpanded) {
                $btn.attr('expand-log', 'true');
                $row.removeClass('d-none');
                setTimeout(() => {
                    $wrapper.css({
                        maxHeight: '500px'
                    });
                }, 10);
                $caret.removeClass('rotate-right').addClass('rotate-down');
            } else {
                $btn.attr('expand-log', 'false');
                $wrapper.css({
                    maxHeight: '0'
                });
                setTimeout(() => {
                    $row.addClass('d-none');
                }, 600);
                $caret.removeClass('rotate-down').addClass('rotate-right');
            }
        });
    if (idAktivitas && idAktivitas !== "0") {
        $.ajax({
            url: parent_url + `api/LookUpList/sub-aktivitas/startup?idAktivitas=${idAktivitas}`,
            type: 'GET',
            success: function(response) {
                // cek status
                if ($cancelButton.length){
                    let status = response.StatusAktivitas;
                    currentStatusAktivitas = status;
                    let $customButtons = ``;
                    switch (status) {
                        case "Waiting":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-draft">
                                    <i class="fas fa-save"></i> Save
                                </button>
                            `;
                            break;
                        case "Draft":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-draft">
                                    <i class="fas fa-save"></i> Save
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completed">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `
                            break;
                        case "Completed":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-editing">
                                    <i class="fa-solid fa-pen-to-square"></i> Edit
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completedEdit">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `;
                            break;
                        case "Editing":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-editing">
                                    <i class="fa-solid fa-pen-to-square"></i> Edit
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completedEdit">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `;
                            break;
                        case "Completed Edit":
                            if (userLevel === '4'){
                                $customButtons = `
                                    <button type="button" class="btn btn-warning ew-btn ml-2" id="btn-reverse-status">
                                        <i class="fa-solid fa-pen-to-square"></i> Edit 
                                    </button>
                                `;
                            }
                            break;
                    }
                    $cancelButton.before($customButtons);
                }

                // Cek is editable
                if(!response.IsEditable || response.StatusAktivitas === "Completed Edit"){
                    $("#btn-draft").hide();
                    $("#btn-editing").hide();
                    $("#btn-completed").hide();
                    $("#btn-completedEdit").hide();
                    $('input, select, textarea').prop('disabled', true);
                    $('#catatanReverseStatusEditing').prop('disabled', false);
                }

                // Log
                const mappedData = response.LogAktivitas.map(item => ({
                    Aktivitas: item.Aktivitas,
                    Username: item.UserName,
                    StatusAktivitas: item.StatusAktivitas,
                    Tanggal: item.Tanggal,
                    Catatan: item.Catatan
                }));
                $.getScript('https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js', function () {
                    const gridOptions = {
                        rowData: mappedData,
                        columnDefs: [
                            {
                                headerName: 'No.',
                                valueGetter: 'node.rowIndex + 1',
                                width: 80,
                                filter: false
                            },
                            {
                                headerName: 'Aktivitas',
                                field: 'Aktivitas',
                                flex: 1
                            },
                            {
                                headerName: 'Username',
                                field: 'Username',
                                flex: 1
                            },
                            {
                                headerName: 'Status Aktivitas',
                                field: 'StatusAktivitas',
                                flex: 1
                            },
                            {
                                headerName: 'Tanggal',
                                field: 'Tanggal',
                                flex: 1
                            },
                            {
                                headerName: 'Catatan',
                                field: 'Catatan',
                                flex: 1
                            }
                        ],
                        defaultColDef: {
                            sortable: false,
                            suppressMovable: true,
                            filter: true,
                            resizable: false
                        },
                        rowSelection: 'multiple',
                        suppressRowClickSelection: true,
                        pagination: true,
                        paginationPageSize: 10
                    };
                    const myGridElement = document.querySelector('#myGrid');
                    agGrid.createGrid(myGridElement, gridOptions);
                });
            },
            error: function(xhr, status, error) {
                ew.alert(xhr.responseJSON.message ?? "Terjadi kesalahan dalam memuat data");
            }
        });
    } else {
        console.warn("Skipping startup API: Invalid IdAktivitas");
        $('button[expand-log]').hide(); 
        $("#btn-draft, #btn-editing, #btn-completed, #btn-completedEdit").hide();
        $('input, select, textarea').prop('disabled', true);
    }
    $.ajax({
        url: parent_url + "api/LookUpList/GetBLSFALValue",
        type: "GET",
        data: {
            NoReferensi: NoReferensi,
            Jenis: 'RTW'
        },
        success: function(rs){
            if (rs.success) {
                $('#BL-klobs').text(rs.bl_klobs);
                $('#BL-kl15').text(rs.bl_kl15);
                $('#BL-barrels').text(rs.bl_barrels);
                $('#BL-lt').text(rs.bl_lt);
                $('#BL-mt').text(rs.bl_mt);
                $('#SFAL-klobs').text(rs.sfal_klobs);
                $('#SFAL-kl15').text(rs.sfal_kl15);
                $('#SFAL-barrels').text(rs.sfal_barrels);
                $('#SFAL-lt').text(rs.sfal_lt);
                $('#SFAL-mt').text(rs.sfal_mt);
            }
        },
        error: function (xhr, status, error) {
            console.log("Error: " + xhr.responseText);
        }
    });
    $.ajax({
        url: parent_url + "api/LookUpList/GetARValue",
        type: "GET",
        data: {
            NoReferensi: NoReferensi,
            Jenis: 'RTW'
        },
        success: function(rs){
            if (rs.success) {
                $('#AR-klobs').text(rs.klobs);
                $('#AR-kl15').text(rs.kl15);
                $('#AR-barrels').text(rs.barrels);
                $('#AR-lt').text(rs.lt);
                $('#AR-mt').text(rs.mt);
            }
        },
        error: function (xhr, status, error) {
            console.log("Error: " + xhr.responseText);
        }
    });
    $.ajax({
        url: parent_url + "api/LookUpList/GetRValue",
        type: "GET",
        data: {
            NoReferensi: NoReferensi,
            Menu: "SFBD",
            Jenis: "RTW"
        },
        success: function(rs){
            if (rs.success) {

                ["R1", "R2", "R3", "R4"].forEach(key => {
                    let val = parseFloat(rs[key]);
                    const el = document.getElementById(key);
                    if (!isNaN(val)) {
                        let color = "";
                        val = val * 100;
                        if (key === "R2") {
                            if (val < -0.1) {
                                color = "#ba313b";
                            } else if (val >= -0.1 && val <= 0) {
                                color = "#3c6dbd";
                            } else {
                                color = "#198754";
                            }
                        } else {
                            if (val < -0.125) {
                                color = "#ba313b";
                            } else if (val >= -0.125 && val <= 0) {
                                color = "#3c6dbd";
                            } else {
                                color = "#198754";
                            }
                        }
                        el.textContent = val.toFixed(3) + "%";
                        el.style.color = color;
                    }
                });
            }
        },
        error: function (xhr, status, error) {
            console.log("Error: " + xhr.responseText);
        }
    });
    $('#x_KL_Obs, #x_KL_15, #x_Barrels, #x_MT, #x_LT')
        .attr('inputmode', 'numeric')
        .on('input', function () {
            let val = $(this).val();
            let isNegative = val.startsWith('-');
            val = val.replace(',', '.');
            val = val.replace(/[^0-9.]/g, '');
            const parts = val.split('.');
            if (parts.length > 2) {
                val = parts[0] + '.' + parts.slice(1).join('');
            }
            if (isNegative) {
                val = '-' + val;
            }
            $(this).val(val);
        });
    let uploadModal = `<div class="modal fade" id="warningValueModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="warningValueModalTitle">Konfirmasi Simpan Data</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id='warningValueText'>
            Konfirmasi 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-cancel-modal">Batal</button>
            <button type="button" class="btn btn-primary" id="btn-confirm-modal">Lanjutkan</button>
          </div>
        </div>
      </div>
    </div>`
     let reverseStatusModal = `<div class="modal fade" id="confirmReverseStatusEditingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header bg-primary">
                    <h1 class="modal-title fs-5" id="confirmReverseStatusEditingModalTitle">Konfirmasi Kembalikan Status</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form id="reverseStatusEditingModalForm">
                    <div class="modal-body px-2 py-1">
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Catatan:</label>
                            <textarea class="form-control" id="catatanReverseStatusEditing" required rows="4"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnReverseStatusEditingModalCancel">Batal</button>
                        <button type="submit" class="btn btn-primary" id="btnReverseStatusEditingModalSubmit">Lanjutkan</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>`
    $("body").append(uploadModal);
    $("body").append(reverseStatusModal);
    $("#btn-cancel-modal").click(function (event) {
        event.preventDefault();
        $("#warningValueModal").modal("hide");
    });
    $(document).on("click", "#btn-reverse-status", function () {
        $("#confirmReverseStatusEditingModal").modal("show");
    });
});
</script>
