@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputBLsesuaiCqlrtwList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputBLsesuaiCqlrtwList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputBLsesuaiCqlrtwList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputBLsesuaiCqlrtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputBLsesuaiCQLRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasFormInputBLsesuaiCqlrtwList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasFormInputBLsesuaiCqlrtwList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasFormInputBLsesuaiCqlrtwList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasFormInputBLsesuaiCqlrtwList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasFormInputBLsesuaiCqlrtwList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasFormInputBLsesuaiCqlrtwList.TotalRecords > 0 && subAktivitasFormInputBLsesuaiCqlrtwList.ExportOptions.Visible) {
    subAktivitasFormInputBLsesuaiCqlrtwList.ExportOptions.Render("body");
}
@if (subAktivitasFormInputBLsesuaiCqlrtwList.ImportOptions.Visible) {
    subAktivitasFormInputBLsesuaiCqlrtwList.ImportOptions.Render("body");
}
@if (subAktivitasFormInputBLsesuaiCqlrtwList.SearchOptions.Visible) {
    subAktivitasFormInputBLsesuaiCqlrtwList.SearchOptions.Render("body");
}
@if (subAktivitasFormInputBLsesuaiCqlrtwList.FilterOptions.Visible) {
    subAktivitasFormInputBLsesuaiCqlrtwList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasFormInputBLsesuaiCqlrtwList.IsModal) {
<form name="fSubAktivitasFormInputBLsesuaiCQLRTWsrch" id="fSubAktivitasFormInputBLsesuaiCQLRTWsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasFormInputBLsesuaiCQLRTWsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasFormInputBLsesuaiCqlrtwList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputBLsesuaiCqlrtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputBLsesuaiCQLRTW: currentTable } });
var currentForm;
var fSubAktivitasFormInputBLsesuaiCQLRTWsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputBLsesuaiCQLRTWsrch")
        .setPageId("list")
@if (subAktivitasFormInputBLsesuaiCqlrtwList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasFormInputBLsesuaiCqlrtwList.IsExport() && Empty(subAktivitasFormInputBLsesuaiCqlrtwList.CurrentAction) && subAktivitasFormInputBLsesuaiCqlrtwList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasFormInputBLsesuaiCqlrtwList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasFormInputBLsesuaiCqlrtwList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasFormInputBLsesuaiCqlrtwList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasFormInputBLsesuaiCQLRTWsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputBLsesuaiCqlrtwList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasFormInputBLsesuaiCQLRTWsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputBLsesuaiCqlrtwList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasFormInputBLsesuaiCQLRTWsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputBLsesuaiCqlrtwList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasFormInputBLsesuaiCQLRTWsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasFormInputBLsesuaiCqlrtwList.ShowPageHeader()
@subAktivitasFormInputBLsesuaiCqlrtwList.ShowMessages()
<main class="list @(subAktivitasFormInputBLsesuaiCqlrtwList.TotalRecords == 0 && !subAktivitasFormInputBLsesuaiCqlrtwList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasFormInputBLsesuaiCqlrtwList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasFormInputBLsesuaiCqlrtwList.TotalRecords > 0 || !Empty(subAktivitasFormInputBLsesuaiCqlrtwList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasFormInputBLsesuaiCqlrtwList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasFormInputBLsesuaiCqlrtwList.TableGridClass)">
<form name="@(subAktivitasFormInputBLsesuaiCqlrtwList.FormName)" id="@(subAktivitasFormInputBLsesuaiCqlrtwList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasFormInputBLsesuaiCqlrtwList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasFormInputBLsesuaiCqlrtwList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasFormInputBLsesuaiCQLRTW" class="card-body ew-grid-middle-panel @(subAktivitasFormInputBLsesuaiCqlrtwList.TableContainerClass)" style="@(subAktivitasFormInputBLsesuaiCqlrtwList.TableContainerStyle)">
@if (subAktivitasFormInputBLsesuaiCqlrtwList.TotalRecords > 0 || subAktivitasFormInputBLsesuaiCqlrtwList.IsGridEdit || subAktivitasFormInputBLsesuaiCqlrtwList.IsMultiEdit) {
<table id="tbl_SubAktivitasFormInputBLsesuaiCQLRTWlist" class="@(subAktivitasFormInputBLsesuaiCqlrtwList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasFormInputBLsesuaiCqlrtwList.RowType = RowType.Header;

    // Render list options
    await subAktivitasFormInputBLsesuaiCqlrtwList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasFormInputBLsesuaiCqlrtwList.ListOptions.RenderHeader("left")
@if (subAktivitasFormInputBLsesuaiCqlrtwList.id.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasFormInputBLsesuaiCqlrtwList.id.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_id" class="SubAktivitasFormInputBLsesuaiCQLRTW_id">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.RenderFieldHeader(subAktivitasFormInputBLsesuaiCqlrtwList.id))</div></th>
} @* subAktivitasFormInputBLsesuaiCqlrtwList.id.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwList.idAktifitas.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasFormInputBLsesuaiCqlrtwList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_idAktifitas" class="SubAktivitasFormInputBLsesuaiCQLRTW_idAktifitas">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.RenderFieldHeader(subAktivitasFormInputBLsesuaiCqlrtwList.idAktifitas))</div></th>
} @* subAktivitasFormInputBLsesuaiCqlrtwList.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwList.KL_Obs.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwList.KL_Obs.Visible (begin)
        <th data-name="KL_Obs" class="@(subAktivitasFormInputBLsesuaiCqlrtwList.KL_Obs.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_KL_Obs" class="SubAktivitasFormInputBLsesuaiCQLRTW_KL_Obs">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.RenderFieldHeader(subAktivitasFormInputBLsesuaiCqlrtwList.KL_Obs))</div></th>
} @* subAktivitasFormInputBLsesuaiCqlrtwList.KL_Obs.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwList.KL_15.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwList.KL_15.Visible (begin)
        <th data-name="KL_15" class="@(subAktivitasFormInputBLsesuaiCqlrtwList.KL_15.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_KL_15" class="SubAktivitasFormInputBLsesuaiCQLRTW_KL_15">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.RenderFieldHeader(subAktivitasFormInputBLsesuaiCqlrtwList.KL_15))</div></th>
} @* subAktivitasFormInputBLsesuaiCqlrtwList.KL_15.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwList.Barrels.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwList.Barrels.Visible (begin)
        <th data-name="Barrels" class="@(subAktivitasFormInputBLsesuaiCqlrtwList.Barrels.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_Barrels" class="SubAktivitasFormInputBLsesuaiCQLRTW_Barrels">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.RenderFieldHeader(subAktivitasFormInputBLsesuaiCqlrtwList.Barrels))</div></th>
} @* subAktivitasFormInputBLsesuaiCqlrtwList.Barrels.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwList.LT.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwList.LT.Visible (begin)
        <th data-name="LT" class="@(subAktivitasFormInputBLsesuaiCqlrtwList.LT.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_LT" class="SubAktivitasFormInputBLsesuaiCQLRTW_LT">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.RenderFieldHeader(subAktivitasFormInputBLsesuaiCqlrtwList.LT))</div></th>
} @* subAktivitasFormInputBLsesuaiCqlrtwList.LT.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwList.ML.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwList.ML.Visible (begin)
        <th data-name="ML" class="@(subAktivitasFormInputBLsesuaiCqlrtwList.ML.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_ML" class="SubAktivitasFormInputBLsesuaiCQLRTW_ML">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.RenderFieldHeader(subAktivitasFormInputBLsesuaiCqlrtwList.ML))</div></th>
} @* subAktivitasFormInputBLsesuaiCqlrtwList.ML.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwList.userInput.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasFormInputBLsesuaiCqlrtwList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_userInput" class="SubAktivitasFormInputBLsesuaiCQLRTW_userInput">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.RenderFieldHeader(subAktivitasFormInputBLsesuaiCqlrtwList.userInput))</div></th>
} @* subAktivitasFormInputBLsesuaiCqlrtwList.userInput.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwList.etlDate.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasFormInputBLsesuaiCqlrtwList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_etlDate" class="SubAktivitasFormInputBLsesuaiCQLRTW_etlDate">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.RenderFieldHeader(subAktivitasFormInputBLsesuaiCqlrtwList.etlDate))</div></th>
} @* subAktivitasFormInputBLsesuaiCqlrtwList.etlDate.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwList.idProses.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasFormInputBLsesuaiCqlrtwList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_idProses" class="SubAktivitasFormInputBLsesuaiCQLRTW_idProses">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.RenderFieldHeader(subAktivitasFormInputBLsesuaiCqlrtwList.idProses))</div></th>
} @* subAktivitasFormInputBLsesuaiCqlrtwList.idProses.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwList.LastUpdatedBy.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasFormInputBLsesuaiCqlrtwList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_LastUpdatedBy" class="SubAktivitasFormInputBLsesuaiCQLRTW_LastUpdatedBy">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.RenderFieldHeader(subAktivitasFormInputBLsesuaiCqlrtwList.LastUpdatedBy))</div></th>
} @* subAktivitasFormInputBLsesuaiCqlrtwList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwList.lastUpdatedDate.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasFormInputBLsesuaiCqlrtwList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_lastUpdatedDate" class="SubAktivitasFormInputBLsesuaiCQLRTW_lastUpdatedDate">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.RenderFieldHeader(subAktivitasFormInputBLsesuaiCqlrtwList.lastUpdatedDate))</div></th>
} @* subAktivitasFormInputBLsesuaiCqlrtwList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwList.NoReferensi.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasFormInputBLsesuaiCqlrtwList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_NoReferensi" class="SubAktivitasFormInputBLsesuaiCQLRTW_NoReferensi">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.RenderFieldHeader(subAktivitasFormInputBLsesuaiCqlrtwList.NoReferensi))</div></th>
} @* subAktivitasFormInputBLsesuaiCqlrtwList.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputBLsesuaiCqlrtwList.StatusAktivitas.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasFormInputBLsesuaiCqlrtwList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLsesuaiCQLRTW_StatusAktivitas" class="SubAktivitasFormInputBLsesuaiCQLRTW_StatusAktivitas">@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.RenderFieldHeader(subAktivitasFormInputBLsesuaiCqlrtwList.StatusAktivitas))</div></th>
} @* subAktivitasFormInputBLsesuaiCqlrtwList.StatusAktivitas.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasFormInputBLsesuaiCqlrtwList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasFormInputBLsesuaiCqlrtwList.PageNumber)">
@{
    await subAktivitasFormInputBLsesuaiCqlrtwList.SetupGrid();
    bool eof = subAktivitasFormInputBLsesuaiCqlrtwList.Recordset == null; // DN
}
@while (subAktivitasFormInputBLsesuaiCqlrtwList.RecordCount < subAktivitasFormInputBLsesuaiCqlrtwList.StopRecord || SameString(subAktivitasFormInputBLsesuaiCqlrtwList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasFormInputBLsesuaiCqlrtwList.RowIndex, "$rowindex$") &&
        (!subAktivitasFormInputBLsesuaiCqlrtwList.IsGridAdd || subAktivitasFormInputBLsesuaiCqlrtwList.CurrentMode == "copy") &&
        (!((subAktivitasFormInputBLsesuaiCqlrtwList.IsCopy || subAktivitasFormInputBLsesuaiCqlrtwList.IsAdd) && subAktivitasFormInputBLsesuaiCqlrtwList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasFormInputBLsesuaiCqlrtwList.Recordset.ReadAsync();
    subAktivitasFormInputBLsesuaiCqlrtwList.RecordCount++;
    if (subAktivitasFormInputBLsesuaiCqlrtwList.RecordCount >= subAktivitasFormInputBLsesuaiCqlrtwList.StartRecord) {
        await subAktivitasFormInputBLsesuaiCqlrtwList.SetupRow();
    <tr @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasFormInputBLsesuaiCqlrtwList.ListOptions.RenderBody("left", subAktivitasFormInputBLsesuaiCqlrtwList.RowCount)
    @if (subAktivitasFormInputBLsesuaiCqlrtwList.id.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.id.CellAttributes)>
<span id="el@(subAktivitasFormInputBLsesuaiCqlrtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputBLsesuaiCqlrtwList.RowCount)_SubAktivitasFormInputBLsesuaiCQLRTW_id" class="el_SubAktivitasFormInputBLsesuaiCQLRTW_id">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLsesuaiCqlrtwList.id.Visible (end) *@
    @if (subAktivitasFormInputBLsesuaiCqlrtwList.idAktifitas.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasFormInputBLsesuaiCqlrtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputBLsesuaiCqlrtwList.RowCount)_SubAktivitasFormInputBLsesuaiCQLRTW_idAktifitas" class="el_SubAktivitasFormInputBLsesuaiCQLRTW_idAktifitas">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLsesuaiCqlrtwList.idAktifitas.Visible (end) *@
    @if (subAktivitasFormInputBLsesuaiCqlrtwList.KL_Obs.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwList.KL_Obs.Visible (begin)
        <td data-name="KL_Obs" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.KL_Obs.CellAttributes)>
<span id="el@(subAktivitasFormInputBLsesuaiCqlrtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputBLsesuaiCqlrtwList.RowCount)_SubAktivitasFormInputBLsesuaiCQLRTW_KL_Obs" class="el_SubAktivitasFormInputBLsesuaiCQLRTW_KL_Obs">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.KL_Obs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.KL_Obs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLsesuaiCqlrtwList.KL_Obs.Visible (end) *@
    @if (subAktivitasFormInputBLsesuaiCqlrtwList.KL_15.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwList.KL_15.Visible (begin)
        <td data-name="KL_15" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.KL_15.CellAttributes)>
<span id="el@(subAktivitasFormInputBLsesuaiCqlrtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputBLsesuaiCqlrtwList.RowCount)_SubAktivitasFormInputBLsesuaiCQLRTW_KL_15" class="el_SubAktivitasFormInputBLsesuaiCQLRTW_KL_15">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.KL_15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.KL_15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLsesuaiCqlrtwList.KL_15.Visible (end) *@
    @if (subAktivitasFormInputBLsesuaiCqlrtwList.Barrels.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwList.Barrels.Visible (begin)
        <td data-name="Barrels" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.Barrels.CellAttributes)>
<span id="el@(subAktivitasFormInputBLsesuaiCqlrtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputBLsesuaiCqlrtwList.RowCount)_SubAktivitasFormInputBLsesuaiCQLRTW_Barrels" class="el_SubAktivitasFormInputBLsesuaiCQLRTW_Barrels">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.Barrels.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.Barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLsesuaiCqlrtwList.Barrels.Visible (end) *@
    @if (subAktivitasFormInputBLsesuaiCqlrtwList.LT.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwList.LT.Visible (begin)
        <td data-name="LT" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.LT.CellAttributes)>
<span id="el@(subAktivitasFormInputBLsesuaiCqlrtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputBLsesuaiCqlrtwList.RowCount)_SubAktivitasFormInputBLsesuaiCQLRTW_LT" class="el_SubAktivitasFormInputBLsesuaiCQLRTW_LT">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.LT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.LT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLsesuaiCqlrtwList.LT.Visible (end) *@
    @if (subAktivitasFormInputBLsesuaiCqlrtwList.ML.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwList.ML.Visible (begin)
        <td data-name="ML" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.ML.CellAttributes)>
<span id="el@(subAktivitasFormInputBLsesuaiCqlrtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputBLsesuaiCqlrtwList.RowCount)_SubAktivitasFormInputBLsesuaiCQLRTW_ML" class="el_SubAktivitasFormInputBLsesuaiCQLRTW_ML">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.ML.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.ML.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLsesuaiCqlrtwList.ML.Visible (end) *@
    @if (subAktivitasFormInputBLsesuaiCqlrtwList.userInput.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.userInput.CellAttributes)>
<span id="el@(subAktivitasFormInputBLsesuaiCqlrtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputBLsesuaiCqlrtwList.RowCount)_SubAktivitasFormInputBLsesuaiCQLRTW_userInput" class="el_SubAktivitasFormInputBLsesuaiCQLRTW_userInput">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLsesuaiCqlrtwList.userInput.Visible (end) *@
    @if (subAktivitasFormInputBLsesuaiCqlrtwList.etlDate.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.etlDate.CellAttributes)>
<span id="el@(subAktivitasFormInputBLsesuaiCqlrtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputBLsesuaiCqlrtwList.RowCount)_SubAktivitasFormInputBLsesuaiCQLRTW_etlDate" class="el_SubAktivitasFormInputBLsesuaiCQLRTW_etlDate">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLsesuaiCqlrtwList.etlDate.Visible (end) *@
    @if (subAktivitasFormInputBLsesuaiCqlrtwList.idProses.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.idProses.CellAttributes)>
<span id="el@(subAktivitasFormInputBLsesuaiCqlrtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputBLsesuaiCqlrtwList.RowCount)_SubAktivitasFormInputBLsesuaiCQLRTW_idProses" class="el_SubAktivitasFormInputBLsesuaiCQLRTW_idProses">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLsesuaiCqlrtwList.idProses.Visible (end) *@
    @if (subAktivitasFormInputBLsesuaiCqlrtwList.LastUpdatedBy.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasFormInputBLsesuaiCqlrtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputBLsesuaiCqlrtwList.RowCount)_SubAktivitasFormInputBLsesuaiCQLRTW_LastUpdatedBy" class="el_SubAktivitasFormInputBLsesuaiCQLRTW_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLsesuaiCqlrtwList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasFormInputBLsesuaiCqlrtwList.lastUpdatedDate.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasFormInputBLsesuaiCqlrtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputBLsesuaiCqlrtwList.RowCount)_SubAktivitasFormInputBLsesuaiCQLRTW_lastUpdatedDate" class="el_SubAktivitasFormInputBLsesuaiCQLRTW_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLsesuaiCqlrtwList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasFormInputBLsesuaiCqlrtwList.NoReferensi.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasFormInputBLsesuaiCqlrtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputBLsesuaiCqlrtwList.RowCount)_SubAktivitasFormInputBLsesuaiCQLRTW_NoReferensi" class="el_SubAktivitasFormInputBLsesuaiCQLRTW_NoReferensi">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLsesuaiCqlrtwList.NoReferensi.Visible (end) *@
    @if (subAktivitasFormInputBLsesuaiCqlrtwList.StatusAktivitas.Visible) { // subAktivitasFormInputBLsesuaiCqlrtwList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasFormInputBLsesuaiCqlrtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputBLsesuaiCqlrtwList.RowCount)_SubAktivitasFormInputBLsesuaiCQLRTW_StatusAktivitas" class="el_SubAktivitasFormInputBLsesuaiCQLRTW_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLsesuaiCqlrtwList.StatusAktivitas.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasFormInputBLsesuaiCqlrtwList.ListOptions.RenderBody("right", subAktivitasFormInputBLsesuaiCqlrtwList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasFormInputBLsesuaiCqlrtwList.RowIndex, "$rowindex$"))
        subAktivitasFormInputBLsesuaiCqlrtwList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasFormInputBLsesuaiCqlrtwList.IsCopy || subAktivitasFormInputBLsesuaiCqlrtwList.IsAdd) && subAktivitasFormInputBLsesuaiCqlrtwList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasFormInputBLsesuaiCqlrtwList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasFormInputBLsesuaiCqlrtwList.CurrentAction) && !subAktivitasFormInputBLsesuaiCqlrtwList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasFormInputBLsesuaiCqlrtwList.CloseRecordset(); }
@if (!subAktivitasFormInputBLsesuaiCqlrtwList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasFormInputBLsesuaiCqlrtwList.IsGridAdd && !(subAktivitasFormInputBLsesuaiCqlrtwList.IsGridEdit && subAktivitasFormInputBLsesuaiCqlrtwList.ModalGridEdit) && !subAktivitasFormInputBLsesuaiCqlrtwList.IsMultiEdit) {
@Html.Raw(subAktivitasFormInputBLsesuaiCqlrtwList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasFormInputBLsesuaiCqlrtwList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasFormInputBLsesuaiCqlrtwList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasFormInputBLsesuaiCqlrtwList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasFormInputBLsesuaiCqlrtwList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputBLsesuaiCqlrtwList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputBLsesuaiCQLRTW");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
