@{
    // View
    View = this;

    // Check action result
    if (subAktivitasDataStartPembongkaranRtwAdd.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasDataStartPembongkaranRtwAdd.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataStartPembongkaranRtwAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataStartPembongkaranRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fSubAktivitasDataStartPembongkaranRTWadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasDataStartPembongkaranRTWadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null, ew.Validators.integer], fields.StatusAktivitas.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["Tanggal", [fields.Tanggal.visible && fields.Tanggal.required ? ew.Validators.required(fields.Tanggal.caption) : null, ew.Validators.datetime(fields.Tanggal.clientFormatPattern)], fields.Tanggal.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "idProses": @Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.idProses.ToClientList(subAktivitasDataStartPembongkaranRtwAdd)),
            "idAktifitas": @Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.idAktifitas.ToClientList(subAktivitasDataStartPembongkaranRtwAdd)),
            "StatusAktivitas": @Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.StatusAktivitas.ToClientList(subAktivitasDataStartPembongkaranRtwAdd)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasDataStartPembongkaranRtwAdd.ShowPageHeader()
@subAktivitasDataStartPembongkaranRtwAdd.ShowMessages()
<form name="fSubAktivitasDataStartPembongkaranRTWadd" id="fSubAktivitasDataStartPembongkaranRTWadd" class="@(subAktivitasDataStartPembongkaranRtwAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasDataStartPembongkaranRtwAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasDataStartPembongkaranRtwAdd.OldKeyName)" value="@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (subAktivitasDataStartPembongkaranRtwAdd.NoReferensi.Visible) { // subAktivitasDataStartPembongkaranRtwAdd.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasDataStartPembongkaranRTW_NoReferensi" for="x_NoReferensi" class="@(subAktivitasDataStartPembongkaranRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.NoReferensi.Caption)@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasDataStartPembongkaranRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasDataStartPembongkaranRTW_NoReferensi">
<input type="@(subAktivitasDataStartPembongkaranRtwAdd.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasDataStartPembongkaranRTW" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.NoReferensi.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasDataStartPembongkaranRtwAdd.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasDataStartPembongkaranRtwAdd.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasDataStartPembongkaranRtwAdd.NoReferensi.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwAdd.idProses.Visible) { // subAktivitasDataStartPembongkaranRtwAdd.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.idProses.RowAttributes)>
        <label id="elh_SubAktivitasDataStartPembongkaranRTW_idProses" class="@(subAktivitasDataStartPembongkaranRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.idProses.Caption)@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasDataStartPembongkaranRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.idProses.CellAttributes)>
<span id="el_SubAktivitasDataStartPembongkaranRTW_idProses">
<span>@{
    if (IsRTL) {
        subAktivitasDataStartPembongkaranRtwAdd.idProses.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_idProses" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_idProses" id="sv_x_idProses" value="@(RemoveHtml(ConvertToString(subAktivitasDataStartPembongkaranRtwAdd.idProses.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasDataStartPembongkaranRtwAdd.idProses.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasDataStartPembongkaranRtwAdd.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasDataStartPembongkaranRtwAdd.idProses.FormatPattern)" @Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.idProses.EditAttributes) aria-describedby="x_idProses_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasDataStartPembongkaranRTW" data-field="x_idProses" data-input="sv_x_idProses" data-value-separator="@(subAktivitasDataStartPembongkaranRtwAdd.idProses.DisplayValueSeparatorAttribute)" name="x_idProses" id="x_idProses" value="@(HtmlEncode(subAktivitasDataStartPembongkaranRtwAdd.idProses.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.idProses.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasDataStartPembongkaranRTWadd"], function() {
    fSubAktivitasDataStartPembongkaranRTWadd.createAutoSuggest(Object.assign({"id":"x_idProses","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasDataStartPembongkaranRtwAdd.idProses.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasDataStartPembongkaranRTW.fields.idProses.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.idProses.Lookup.GetParamTag(subAktivitasDataStartPembongkaranRtwAdd, "p_x_idProses"))
</span>
</div></div>
    </div>
} @* subAktivitasDataStartPembongkaranRtwAdd.idProses.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwAdd.idAktifitas.Visible) { // subAktivitasDataStartPembongkaranRtwAdd.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasDataStartPembongkaranRTW_idAktifitas" class="@(subAktivitasDataStartPembongkaranRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.idAktifitas.Caption)@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasDataStartPembongkaranRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasDataStartPembongkaranRTW_idAktifitas">
<span>@{
    if (IsRTL) {
        subAktivitasDataStartPembongkaranRtwAdd.idAktifitas.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_idAktifitas" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_idAktifitas" id="sv_x_idAktifitas" value="@(RemoveHtml(ConvertToString(subAktivitasDataStartPembongkaranRtwAdd.idAktifitas.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasDataStartPembongkaranRtwAdd.idAktifitas.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasDataStartPembongkaranRtwAdd.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasDataStartPembongkaranRtwAdd.idAktifitas.FormatPattern)" @Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasDataStartPembongkaranRTW" data-field="x_idAktifitas" data-input="sv_x_idAktifitas" data-value-separator="@(subAktivitasDataStartPembongkaranRtwAdd.idAktifitas.DisplayValueSeparatorAttribute)" name="x_idAktifitas" id="x_idAktifitas" value="@(HtmlEncode(subAktivitasDataStartPembongkaranRtwAdd.idAktifitas.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.idAktifitas.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasDataStartPembongkaranRTWadd"], function() {
    fSubAktivitasDataStartPembongkaranRTWadd.createAutoSuggest(Object.assign({"id":"x_idAktifitas","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasDataStartPembongkaranRtwAdd.idAktifitas.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasDataStartPembongkaranRTW.fields.idAktifitas.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.idAktifitas.Lookup.GetParamTag(subAktivitasDataStartPembongkaranRtwAdd, "p_x_idAktifitas"))
</span>
</div></div>
    </div>
} @* subAktivitasDataStartPembongkaranRtwAdd.idAktifitas.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwAdd.StatusAktivitas.Visible) { // subAktivitasDataStartPembongkaranRtwAdd.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.StatusAktivitas.RowAttributes)>
        <label id="elh_SubAktivitasDataStartPembongkaranRTW_StatusAktivitas" class="@(subAktivitasDataStartPembongkaranRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.StatusAktivitas.Caption)@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasDataStartPembongkaranRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasDataStartPembongkaranRTW_StatusAktivitas">
<span>@{
    if (IsRTL) {
        subAktivitasDataStartPembongkaranRtwAdd.StatusAktivitas.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_StatusAktivitas" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_StatusAktivitas" id="sv_x_StatusAktivitas" value="@(RemoveHtml(ConvertToString(subAktivitasDataStartPembongkaranRtwAdd.StatusAktivitas.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasDataStartPembongkaranRtwAdd.StatusAktivitas.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasDataStartPembongkaranRtwAdd.StatusAktivitas.PlaceHolder))" data-format-pattern="@(subAktivitasDataStartPembongkaranRtwAdd.StatusAktivitas.FormatPattern)" @Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.StatusAktivitas.EditAttributes) aria-describedby="x_StatusAktivitas_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasDataStartPembongkaranRTW" data-field="x_StatusAktivitas" data-input="sv_x_StatusAktivitas" data-value-separator="@(subAktivitasDataStartPembongkaranRtwAdd.StatusAktivitas.DisplayValueSeparatorAttribute)" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@(HtmlEncode(subAktivitasDataStartPembongkaranRtwAdd.StatusAktivitas.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.StatusAktivitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.StatusAktivitas.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasDataStartPembongkaranRTWadd"], function() {
    fSubAktivitasDataStartPembongkaranRTWadd.createAutoSuggest(Object.assign({"id":"x_StatusAktivitas","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasDataStartPembongkaranRtwAdd.StatusAktivitas.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasDataStartPembongkaranRTW.fields.StatusAktivitas.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.StatusAktivitas.Lookup.GetParamTag(subAktivitasDataStartPembongkaranRtwAdd, "p_x_StatusAktivitas"))
</span>
</div></div>
    </div>
} @* subAktivitasDataStartPembongkaranRtwAdd.StatusAktivitas.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwAdd.LastUpdatedBy.Visible) { // subAktivitasDataStartPembongkaranRtwAdd.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasDataStartPembongkaranRTW_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasDataStartPembongkaranRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.LastUpdatedBy.Caption)@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasDataStartPembongkaranRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasDataStartPembongkaranRTW_LastUpdatedBy">
<input type="@(subAktivitasDataStartPembongkaranRtwAdd.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasDataStartPembongkaranRTW" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasDataStartPembongkaranRtwAdd.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasDataStartPembongkaranRtwAdd.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasDataStartPembongkaranRtwAdd.LastUpdatedBy.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwAdd.lastUpdatedDate.Visible) { // subAktivitasDataStartPembongkaranRtwAdd.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasDataStartPembongkaranRTW_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasDataStartPembongkaranRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.lastUpdatedDate.Caption)@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasDataStartPembongkaranRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasDataStartPembongkaranRTW_lastUpdatedDate">
<input type="@(subAktivitasDataStartPembongkaranRtwAdd.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasDataStartPembongkaranRTW" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasDataStartPembongkaranRtwAdd.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasDataStartPembongkaranRtwAdd.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasDataStartPembongkaranRtwAdd.lastUpdatedDate.ReadOnly && !subAktivitasDataStartPembongkaranRtwAdd.lastUpdatedDate.Disabled && !subAktivitasDataStartPembongkaranRtwAdd.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasDataStartPembongkaranRtwAdd.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasDataStartPembongkaranRTWadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasDataStartPembongkaranRTWadd", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasDataStartPembongkaranRtwAdd.lastUpdatedDate.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwAdd.Tanggal.Visible) { // subAktivitasDataStartPembongkaranRtwAdd.Tanggal.Visible (begin)
    <div id="r_Tanggal" @Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.Tanggal.RowAttributes)>
        <label id="elh_SubAktivitasDataStartPembongkaranRTW_Tanggal" for="x_Tanggal" class="@(subAktivitasDataStartPembongkaranRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.Tanggal.Caption)@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.Tanggal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasDataStartPembongkaranRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.Tanggal.CellAttributes)>
<span id="el_SubAktivitasDataStartPembongkaranRTW_Tanggal">
<input type="@(subAktivitasDataStartPembongkaranRtwAdd.Tanggal.InputTextType)" name="x_Tanggal" id="x_Tanggal" data-table="SubAktivitasDataStartPembongkaranRTW" data-field="x_Tanggal" value="@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.Tanggal.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasDataStartPembongkaranRtwAdd.Tanggal.PlaceHolder))" data-format-pattern="@(subAktivitasDataStartPembongkaranRtwAdd.Tanggal.FormatPattern)"@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.Tanggal.EditAttributes) aria-describedby="x_Tanggal_help">
@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.Tanggal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.Tanggal.GetErrorMessage())</div>
@if (!subAktivitasDataStartPembongkaranRtwAdd.Tanggal.ReadOnly && !subAktivitasDataStartPembongkaranRtwAdd.Tanggal.Disabled && !subAktivitasDataStartPembongkaranRtwAdd.Tanggal.EditAttrs.Is("readonly") && !subAktivitasDataStartPembongkaranRtwAdd.Tanggal.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasDataStartPembongkaranRTWadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasDataStartPembongkaranRTWadd", "x_Tanggal", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasDataStartPembongkaranRtwAdd.Tanggal.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwAdd.userInput.Visible) { // subAktivitasDataStartPembongkaranRtwAdd.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.userInput.RowAttributes)>
        <label id="elh_SubAktivitasDataStartPembongkaranRTW_userInput" for="x_userInput" class="@(subAktivitasDataStartPembongkaranRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.userInput.Caption)@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasDataStartPembongkaranRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.userInput.CellAttributes)>
<span id="el_SubAktivitasDataStartPembongkaranRTW_userInput">
<input type="@(subAktivitasDataStartPembongkaranRtwAdd.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasDataStartPembongkaranRTW" data-field="x_userInput" value="@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasDataStartPembongkaranRtwAdd.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasDataStartPembongkaranRtwAdd.userInput.FormatPattern)"@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasDataStartPembongkaranRtwAdd.userInput.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwAdd.etlDate.Visible) { // subAktivitasDataStartPembongkaranRtwAdd.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasDataStartPembongkaranRTW_etlDate" for="x_etlDate" class="@(subAktivitasDataStartPembongkaranRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.etlDate.Caption)@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasDataStartPembongkaranRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.etlDate.CellAttributes)>
<span id="el_SubAktivitasDataStartPembongkaranRTW_etlDate">
<input type="@(subAktivitasDataStartPembongkaranRtwAdd.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasDataStartPembongkaranRTW" data-field="x_etlDate" value="@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasDataStartPembongkaranRtwAdd.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasDataStartPembongkaranRtwAdd.etlDate.FormatPattern)"@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.etlDate.GetErrorMessage())</div>
@if (!subAktivitasDataStartPembongkaranRtwAdd.etlDate.ReadOnly && !subAktivitasDataStartPembongkaranRtwAdd.etlDate.Disabled && !subAktivitasDataStartPembongkaranRtwAdd.etlDate.EditAttrs.Is("readonly") && !subAktivitasDataStartPembongkaranRtwAdd.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasDataStartPembongkaranRTWadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasDataStartPembongkaranRTWadd", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasDataStartPembongkaranRtwAdd.etlDate.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasDataStartPembongkaranRtwAdd.CloseRecordset(); }
@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasDataStartPembongkaranRtwAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasDataStartPembongkaranRTWadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasDataStartPembongkaranRTWadd" data-href="@AppPath(subAktivitasDataStartPembongkaranRtwAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasDataStartPembongkaranRtwAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@subAktivitasDataStartPembongkaranRtwAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasDataStartPembongkaranRTW");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
