@{
    // View
    View = this;

    // Check action result
    if (subAktivitasDataMobilTangkiMtGateInLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasDataMobilTangkiMtGateInLpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasDataMobilTangkiMtGateInLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataMobilTangkiMtGateInLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataMobilTangkiMTGateInLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasDataMobilTangkiMtGateInLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasDataMobilTangkiMtGateInLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasDataMobilTangkiMtGateInLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasDataMobilTangkiMtGateInLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasDataMobilTangkiMtGateInLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasDataMobilTangkiMtGateInLpgList.TotalRecords > 0 && subAktivitasDataMobilTangkiMtGateInLpgList.ExportOptions.Visible) {
    subAktivitasDataMobilTangkiMtGateInLpgList.ExportOptions.Render("body");
}
@if (subAktivitasDataMobilTangkiMtGateInLpgList.ImportOptions.Visible) {
    subAktivitasDataMobilTangkiMtGateInLpgList.ImportOptions.Render("body");
}
@if (subAktivitasDataMobilTangkiMtGateInLpgList.SearchOptions.Visible) {
    subAktivitasDataMobilTangkiMtGateInLpgList.SearchOptions.Render("body");
}
@if (subAktivitasDataMobilTangkiMtGateInLpgList.FilterOptions.Visible) {
    subAktivitasDataMobilTangkiMtGateInLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasDataMobilTangkiMtGateInLpgList.IsModal) {
<form name="fSubAktivitasDataMobilTangkiMTGateInLPGsrch" id="fSubAktivitasDataMobilTangkiMTGateInLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasDataMobilTangkiMTGateInLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasDataMobilTangkiMtGateInLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataMobilTangkiMtGateInLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataMobilTangkiMTGateInLPG: currentTable } });
var currentForm;
var fSubAktivitasDataMobilTangkiMTGateInLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasDataMobilTangkiMTGateInLPGsrch")
        .setPageId("list")
@if (subAktivitasDataMobilTangkiMtGateInLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasDataMobilTangkiMtGateInLpgList.IsExport() && Empty(subAktivitasDataMobilTangkiMtGateInLpgList.CurrentAction) && subAktivitasDataMobilTangkiMtGateInLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasDataMobilTangkiMtGateInLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasDataMobilTangkiMtGateInLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasDataMobilTangkiMtGateInLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasDataMobilTangkiMTGateInLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataMobilTangkiMtGateInLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasDataMobilTangkiMTGateInLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataMobilTangkiMtGateInLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasDataMobilTangkiMTGateInLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataMobilTangkiMtGateInLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasDataMobilTangkiMTGateInLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasDataMobilTangkiMtGateInLpgList.ShowPageHeader()
@subAktivitasDataMobilTangkiMtGateInLpgList.ShowMessages()
<main class="list @(subAktivitasDataMobilTangkiMtGateInLpgList.TotalRecords == 0 && !subAktivitasDataMobilTangkiMtGateInLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasDataMobilTangkiMtGateInLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasDataMobilTangkiMtGateInLpgList.TotalRecords > 0 || !Empty(subAktivitasDataMobilTangkiMtGateInLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasDataMobilTangkiMtGateInLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasDataMobilTangkiMtGateInLpgList.TableGridClass)">
<form name="@(subAktivitasDataMobilTangkiMtGateInLpgList.FormName)" id="@(subAktivitasDataMobilTangkiMtGateInLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasDataMobilTangkiMtGateInLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasDataMobilTangkiMtGateInLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasDataMobilTangkiMTGateInLPG" class="card-body ew-grid-middle-panel @(subAktivitasDataMobilTangkiMtGateInLpgList.TableContainerClass)" style="@(subAktivitasDataMobilTangkiMtGateInLpgList.TableContainerStyle)">
@if (subAktivitasDataMobilTangkiMtGateInLpgList.TotalRecords > 0 || subAktivitasDataMobilTangkiMtGateInLpgList.IsGridEdit || subAktivitasDataMobilTangkiMtGateInLpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasDataMobilTangkiMTGateInLPGlist" class="@(subAktivitasDataMobilTangkiMtGateInLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasDataMobilTangkiMtGateInLpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasDataMobilTangkiMtGateInLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasDataMobilTangkiMtGateInLpgList.ListOptions.RenderHeader("left")
@if (subAktivitasDataMobilTangkiMtGateInLpgList.id.Visible) { // subAktivitasDataMobilTangkiMtGateInLpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasDataMobilTangkiMtGateInLpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateInLPG_id" class="SubAktivitasDataMobilTangkiMTGateInLPG_id">@Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateInLpgList.id))</div></th>
} @* subAktivitasDataMobilTangkiMtGateInLpgList.id.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateInLpgList.NoReferensi.Visible) { // subAktivitasDataMobilTangkiMtGateInLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasDataMobilTangkiMtGateInLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateInLPG_NoReferensi" class="SubAktivitasDataMobilTangkiMTGateInLPG_NoReferensi">@Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateInLpgList.NoReferensi))</div></th>
} @* subAktivitasDataMobilTangkiMtGateInLpgList.NoReferensi.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateInLpgList.idProses.Visible) { // subAktivitasDataMobilTangkiMtGateInLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasDataMobilTangkiMtGateInLpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateInLPG_idProses" class="SubAktivitasDataMobilTangkiMTGateInLPG_idProses">@Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateInLpgList.idProses))</div></th>
} @* subAktivitasDataMobilTangkiMtGateInLpgList.idProses.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateInLpgList.idAktifitas.Visible) { // subAktivitasDataMobilTangkiMtGateInLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasDataMobilTangkiMtGateInLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateInLPG_idAktifitas" class="SubAktivitasDataMobilTangkiMTGateInLPG_idAktifitas">@Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateInLpgList.idAktifitas))</div></th>
} @* subAktivitasDataMobilTangkiMtGateInLpgList.idAktifitas.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateInLpgList.StatusAktivitas.Visible) { // subAktivitasDataMobilTangkiMtGateInLpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasDataMobilTangkiMtGateInLpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateInLPG_StatusAktivitas" class="SubAktivitasDataMobilTangkiMTGateInLPG_StatusAktivitas">@Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateInLpgList.StatusAktivitas))</div></th>
} @* subAktivitasDataMobilTangkiMtGateInLpgList.StatusAktivitas.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateInLpgList.LastUpdatedBy.Visible) { // subAktivitasDataMobilTangkiMtGateInLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasDataMobilTangkiMtGateInLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateInLPG_LastUpdatedBy" class="SubAktivitasDataMobilTangkiMTGateInLPG_LastUpdatedBy">@Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateInLpgList.LastUpdatedBy))</div></th>
} @* subAktivitasDataMobilTangkiMtGateInLpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateInLpgList.lastUpdatedDate.Visible) { // subAktivitasDataMobilTangkiMtGateInLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasDataMobilTangkiMtGateInLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateInLPG_lastUpdatedDate" class="SubAktivitasDataMobilTangkiMTGateInLPG_lastUpdatedDate">@Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateInLpgList.lastUpdatedDate))</div></th>
} @* subAktivitasDataMobilTangkiMtGateInLpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateInLpgList.NomorPolisi.Visible) { // subAktivitasDataMobilTangkiMtGateInLpgList.NomorPolisi.Visible (begin)
        <th data-name="NomorPolisi" class="@(subAktivitasDataMobilTangkiMtGateInLpgList.NomorPolisi.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateInLPG_NomorPolisi" class="SubAktivitasDataMobilTangkiMTGateInLPG_NomorPolisi">@Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateInLpgList.NomorPolisi))</div></th>
} @* subAktivitasDataMobilTangkiMtGateInLpgList.NomorPolisi.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateInLpgList.AMT.Visible) { // subAktivitasDataMobilTangkiMtGateInLpgList.AMT.Visible (begin)
        <th data-name="AMT" class="@(subAktivitasDataMobilTangkiMtGateInLpgList.AMT.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateInLPG_AMT" class="SubAktivitasDataMobilTangkiMTGateInLPG_AMT">@Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateInLpgList.AMT))</div></th>
} @* subAktivitasDataMobilTangkiMtGateInLpgList.AMT.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateInLpgList.WaktuGateIn.Visible) { // subAktivitasDataMobilTangkiMtGateInLpgList.WaktuGateIn.Visible (begin)
        <th data-name="WaktuGateIn" class="@(subAktivitasDataMobilTangkiMtGateInLpgList.WaktuGateIn.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateInLPG_WaktuGateIn" class="SubAktivitasDataMobilTangkiMTGateInLPG_WaktuGateIn">@Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateInLpgList.WaktuGateIn))</div></th>
} @* subAktivitasDataMobilTangkiMtGateInLpgList.WaktuGateIn.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateInLpgList.userInput.Visible) { // subAktivitasDataMobilTangkiMtGateInLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasDataMobilTangkiMtGateInLpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateInLPG_userInput" class="SubAktivitasDataMobilTangkiMTGateInLPG_userInput">@Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateInLpgList.userInput))</div></th>
} @* subAktivitasDataMobilTangkiMtGateInLpgList.userInput.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateInLpgList.etlDate.Visible) { // subAktivitasDataMobilTangkiMtGateInLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasDataMobilTangkiMtGateInLpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateInLPG_etlDate" class="SubAktivitasDataMobilTangkiMTGateInLPG_etlDate">@Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateInLpgList.etlDate))</div></th>
} @* subAktivitasDataMobilTangkiMtGateInLpgList.etlDate.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateInLpgList.TimbanganAwal.Visible) { // subAktivitasDataMobilTangkiMtGateInLpgList.TimbanganAwal.Visible (begin)
        <th data-name="TimbanganAwal" class="@(subAktivitasDataMobilTangkiMtGateInLpgList.TimbanganAwal.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateInLPG_TimbanganAwal" class="SubAktivitasDataMobilTangkiMTGateInLPG_TimbanganAwal">@Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateInLpgList.TimbanganAwal))</div></th>
} @* subAktivitasDataMobilTangkiMtGateInLpgList.TimbanganAwal.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasDataMobilTangkiMtGateInLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasDataMobilTangkiMtGateInLpgList.PageNumber)">
@{
    await subAktivitasDataMobilTangkiMtGateInLpgList.SetupGrid();
    bool eof = subAktivitasDataMobilTangkiMtGateInLpgList.Recordset == null; // DN
}
@while (subAktivitasDataMobilTangkiMtGateInLpgList.RecordCount < subAktivitasDataMobilTangkiMtGateInLpgList.StopRecord || SameString(subAktivitasDataMobilTangkiMtGateInLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasDataMobilTangkiMtGateInLpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasDataMobilTangkiMtGateInLpgList.IsGridAdd || subAktivitasDataMobilTangkiMtGateInLpgList.CurrentMode == "copy") &&
        (!((subAktivitasDataMobilTangkiMtGateInLpgList.IsCopy || subAktivitasDataMobilTangkiMtGateInLpgList.IsAdd) && subAktivitasDataMobilTangkiMtGateInLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasDataMobilTangkiMtGateInLpgList.Recordset.ReadAsync();
    subAktivitasDataMobilTangkiMtGateInLpgList.RecordCount++;
    if (subAktivitasDataMobilTangkiMtGateInLpgList.RecordCount >= subAktivitasDataMobilTangkiMtGateInLpgList.StartRecord) {
        await subAktivitasDataMobilTangkiMtGateInLpgList.SetupRow();
    <tr @Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasDataMobilTangkiMtGateInLpgList.ListOptions.RenderBody("left", subAktivitasDataMobilTangkiMtGateInLpgList.RowCount)
    @if (subAktivitasDataMobilTangkiMtGateInLpgList.id.Visible) { // subAktivitasDataMobilTangkiMtGateInLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasDataMobilTangkiMtGateInLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateInLpgList.RowCount)_SubAktivitasDataMobilTangkiMTGateInLPG_id" class="el_SubAktivitasDataMobilTangkiMTGateInLPG_id">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateInLpgList.id.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateInLpgList.NoReferensi.Visible) { // subAktivitasDataMobilTangkiMtGateInLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasDataMobilTangkiMtGateInLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateInLpgList.RowCount)_SubAktivitasDataMobilTangkiMTGateInLPG_NoReferensi" class="el_SubAktivitasDataMobilTangkiMTGateInLPG_NoReferensi">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateInLpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateInLpgList.idProses.Visible) { // subAktivitasDataMobilTangkiMtGateInLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasDataMobilTangkiMtGateInLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateInLpgList.RowCount)_SubAktivitasDataMobilTangkiMTGateInLPG_idProses" class="el_SubAktivitasDataMobilTangkiMTGateInLPG_idProses">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateInLpgList.idProses.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateInLpgList.idAktifitas.Visible) { // subAktivitasDataMobilTangkiMtGateInLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasDataMobilTangkiMtGateInLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateInLpgList.RowCount)_SubAktivitasDataMobilTangkiMTGateInLPG_idAktifitas" class="el_SubAktivitasDataMobilTangkiMTGateInLPG_idAktifitas">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateInLpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateInLpgList.StatusAktivitas.Visible) { // subAktivitasDataMobilTangkiMtGateInLpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasDataMobilTangkiMtGateInLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateInLpgList.RowCount)_SubAktivitasDataMobilTangkiMTGateInLPG_StatusAktivitas" class="el_SubAktivitasDataMobilTangkiMTGateInLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateInLpgList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateInLpgList.LastUpdatedBy.Visible) { // subAktivitasDataMobilTangkiMtGateInLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasDataMobilTangkiMtGateInLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateInLpgList.RowCount)_SubAktivitasDataMobilTangkiMTGateInLPG_LastUpdatedBy" class="el_SubAktivitasDataMobilTangkiMTGateInLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateInLpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateInLpgList.lastUpdatedDate.Visible) { // subAktivitasDataMobilTangkiMtGateInLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasDataMobilTangkiMtGateInLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateInLpgList.RowCount)_SubAktivitasDataMobilTangkiMTGateInLPG_lastUpdatedDate" class="el_SubAktivitasDataMobilTangkiMTGateInLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateInLpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateInLpgList.NomorPolisi.Visible) { // subAktivitasDataMobilTangkiMtGateInLpgList.NomorPolisi.Visible (begin)
        <td data-name="NomorPolisi" @Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.NomorPolisi.CellAttributes)>
<span id="el@(SameString(subAktivitasDataMobilTangkiMtGateInLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateInLpgList.RowCount)_SubAktivitasDataMobilTangkiMTGateInLPG_NomorPolisi" class="el_SubAktivitasDataMobilTangkiMTGateInLPG_NomorPolisi">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.NomorPolisi.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.NomorPolisi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateInLpgList.NomorPolisi.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateInLpgList.AMT.Visible) { // subAktivitasDataMobilTangkiMtGateInLpgList.AMT.Visible (begin)
        <td data-name="AMT" @Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.AMT.CellAttributes)>
<span id="el@(SameString(subAktivitasDataMobilTangkiMtGateInLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateInLpgList.RowCount)_SubAktivitasDataMobilTangkiMTGateInLPG_AMT" class="el_SubAktivitasDataMobilTangkiMTGateInLPG_AMT">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.AMT.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.AMT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateInLpgList.AMT.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateInLpgList.WaktuGateIn.Visible) { // subAktivitasDataMobilTangkiMtGateInLpgList.WaktuGateIn.Visible (begin)
        <td data-name="WaktuGateIn" @Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.WaktuGateIn.CellAttributes)>
<span id="el@(SameString(subAktivitasDataMobilTangkiMtGateInLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateInLpgList.RowCount)_SubAktivitasDataMobilTangkiMTGateInLPG_WaktuGateIn" class="el_SubAktivitasDataMobilTangkiMTGateInLPG_WaktuGateIn">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.WaktuGateIn.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.WaktuGateIn.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateInLpgList.WaktuGateIn.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateInLpgList.userInput.Visible) { // subAktivitasDataMobilTangkiMtGateInLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasDataMobilTangkiMtGateInLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateInLpgList.RowCount)_SubAktivitasDataMobilTangkiMTGateInLPG_userInput" class="el_SubAktivitasDataMobilTangkiMTGateInLPG_userInput">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateInLpgList.userInput.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateInLpgList.etlDate.Visible) { // subAktivitasDataMobilTangkiMtGateInLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasDataMobilTangkiMtGateInLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateInLpgList.RowCount)_SubAktivitasDataMobilTangkiMTGateInLPG_etlDate" class="el_SubAktivitasDataMobilTangkiMTGateInLPG_etlDate">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateInLpgList.etlDate.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateInLpgList.TimbanganAwal.Visible) { // subAktivitasDataMobilTangkiMtGateInLpgList.TimbanganAwal.Visible (begin)
        <td data-name="TimbanganAwal" @Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.TimbanganAwal.CellAttributes)>
<span id="el@(SameString(subAktivitasDataMobilTangkiMtGateInLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateInLpgList.RowCount)_SubAktivitasDataMobilTangkiMTGateInLPG_TimbanganAwal" class="el_SubAktivitasDataMobilTangkiMTGateInLPG_TimbanganAwal">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.TimbanganAwal.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.TimbanganAwal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateInLpgList.TimbanganAwal.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasDataMobilTangkiMtGateInLpgList.ListOptions.RenderBody("right", subAktivitasDataMobilTangkiMtGateInLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasDataMobilTangkiMtGateInLpgList.RowIndex, "$rowindex$"))
        subAktivitasDataMobilTangkiMtGateInLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasDataMobilTangkiMtGateInLpgList.IsCopy || subAktivitasDataMobilTangkiMtGateInLpgList.IsAdd) && subAktivitasDataMobilTangkiMtGateInLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasDataMobilTangkiMtGateInLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasDataMobilTangkiMtGateInLpgList.CurrentAction) && !subAktivitasDataMobilTangkiMtGateInLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasDataMobilTangkiMtGateInLpgList.CloseRecordset(); }
@if (!subAktivitasDataMobilTangkiMtGateInLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasDataMobilTangkiMtGateInLpgList.IsGridAdd && !(subAktivitasDataMobilTangkiMtGateInLpgList.IsGridEdit && subAktivitasDataMobilTangkiMtGateInLpgList.ModalGridEdit) && !subAktivitasDataMobilTangkiMtGateInLpgList.IsMultiEdit) {
@Html.Raw(subAktivitasDataMobilTangkiMtGateInLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasDataMobilTangkiMtGateInLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasDataMobilTangkiMtGateInLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasDataMobilTangkiMtGateInLpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasDataMobilTangkiMtGateInLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasDataMobilTangkiMtGateInLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasDataMobilTangkiMTGateInLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
