@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputLogbookPenerimaanStsPymLpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputLogbookPenerimaanStsPymLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputLogbookPenerimaanSTSPymLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasFormInputLogbookPenerimaanStsPymLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.TotalRecords > 0 && subAktivitasFormInputLogbookPenerimaanStsPymLpgList.ExportOptions.Visible) {
    subAktivitasFormInputLogbookPenerimaanStsPymLpgList.ExportOptions.Render("body");
}
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.ImportOptions.Visible) {
    subAktivitasFormInputLogbookPenerimaanStsPymLpgList.ImportOptions.Render("body");
}
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.SearchOptions.Visible) {
    subAktivitasFormInputLogbookPenerimaanStsPymLpgList.SearchOptions.Render("body");
}
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.FilterOptions.Visible) {
    subAktivitasFormInputLogbookPenerimaanStsPymLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasFormInputLogbookPenerimaanStsPymLpgList.IsModal) {
<form name="fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGsrch" id="fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputLogbookPenerimaanSTSPymLPG: currentTable } });
var currentForm;
var fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGsrch")
        .setPageId("list")
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasFormInputLogbookPenerimaanStsPymLpgList.IsExport() && Empty(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.CurrentAction) && subAktivitasFormInputLogbookPenerimaanStsPymLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasFormInputLogbookPenerimaanStsPymLpgList.ShowPageHeader()
@subAktivitasFormInputLogbookPenerimaanStsPymLpgList.ShowMessages()
<main class="list @(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.TotalRecords == 0 && !subAktivitasFormInputLogbookPenerimaanStsPymLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasFormInputLogbookPenerimaanStsPymLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.TotalRecords > 0 || !Empty(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.TableGridClass)">
<form name="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.FormName)" id="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG" class="card-body ew-grid-middle-panel @(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.TableContainerClass)" style="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.TableContainerStyle)">
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.TotalRecords > 0 || subAktivitasFormInputLogbookPenerimaanStsPymLpgList.IsGridEdit || subAktivitasFormInputLogbookPenerimaanStsPymLpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasFormInputLogbookPenerimaanSTSPymLPGlist" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasFormInputLogbookPenerimaanStsPymLpgList.ListOptions.RenderHeader("left")
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.id.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_id" class="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_id">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.id))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgList.id.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.idProses.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_idProses" class="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_idProses">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.idProses))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgList.idProses.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.idAktifitas.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_idAktifitas" class="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_idAktifitas">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.idAktifitas))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgList.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.NoReferensi.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_NoReferensi" class="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_NoReferensi">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.NoReferensi))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgList.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Nama_Kapal.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Nama_Kapal.Visible (begin)
        <th data-name="Nama_Kapal" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Nama_Kapal.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Nama_Kapal" class="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Nama_Kapal">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Nama_Kapal))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Nama_Kapal.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Tanggal.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Tanggal" class="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Tanggal">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Tanggal))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Tanggal.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Nama_Kegiatan.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Nama_Kegiatan.Visible (begin)
        <th data-name="Nama_Kegiatan" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Nama_Kegiatan.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Nama_Kegiatan" class="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Nama_Kegiatan">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Nama_Kegiatan))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Nama_Kegiatan.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Produk.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Produk" class="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Produk">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Produk))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Produk.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Density.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Density.Visible (begin)
        <th data-name="Density" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Density.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Density" class="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Density">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Density))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Density.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Temperatur.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Temperatur.Visible (begin)
        <th data-name="Temperatur" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Temperatur.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Temperatur" class="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Temperatur">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Temperatur))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Temperatur.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Keterangan.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Keterangan.Visible (begin)
        <th data-name="Keterangan" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Keterangan.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Keterangan" class="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Keterangan">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Keterangan))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Keterangan.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.userInput.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_userInput" class="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_userInput">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.userInput))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgList.userInput.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.etlDate.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_etlDate" class="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_etlDate">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.etlDate))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgList.etlDate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.LastUpdatedBy.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_LastUpdatedBy" class="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_LastUpdatedBy">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.LastUpdatedBy))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.lastUpdatedDate.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_lastUpdatedDate" class="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_lastUpdatedDate">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.lastUpdatedDate))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.SubAktivitasHasilPemeriksaanId.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgList.SubAktivitasHasilPemeriksaanId.Visible (begin)
        <th data-name="SubAktivitasHasilPemeriksaanId" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.SubAktivitasHasilPemeriksaanId.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_SubAktivitasHasilPemeriksaanId" class="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_SubAktivitasHasilPemeriksaanId">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.SubAktivitasHasilPemeriksaanId))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgList.SubAktivitasHasilPemeriksaanId.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasFormInputLogbookPenerimaanStsPymLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.PageNumber)">
@{
    await subAktivitasFormInputLogbookPenerimaanStsPymLpgList.SetupGrid();
    bool eof = subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Recordset == null; // DN
}
@while (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RecordCount < subAktivitasFormInputLogbookPenerimaanStsPymLpgList.StopRecord || SameString(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasFormInputLogbookPenerimaanStsPymLpgList.IsGridAdd || subAktivitasFormInputLogbookPenerimaanStsPymLpgList.CurrentMode == "copy") &&
        (!((subAktivitasFormInputLogbookPenerimaanStsPymLpgList.IsCopy || subAktivitasFormInputLogbookPenerimaanStsPymLpgList.IsAdd) && subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Recordset.ReadAsync();
    subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RecordCount++;
    if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RecordCount >= subAktivitasFormInputLogbookPenerimaanStsPymLpgList.StartRecord) {
        await subAktivitasFormInputLogbookPenerimaanStsPymLpgList.SetupRow();
    <tr @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasFormInputLogbookPenerimaanStsPymLpgList.ListOptions.RenderBody("left", subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowCount)
    @if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.id.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.id.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_id" class="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_id">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanStsPymLpgList.id.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.idProses.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.idProses.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_idProses" class="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_idProses">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanStsPymLpgList.idProses.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.idAktifitas.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_idAktifitas" class="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_idAktifitas">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanStsPymLpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.NoReferensi.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_NoReferensi" class="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_NoReferensi">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanStsPymLpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Nama_Kapal.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Nama_Kapal.Visible (begin)
        <td data-name="Nama_Kapal" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Nama_Kapal.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Nama_Kapal" class="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Nama_Kapal">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Nama_Kapal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Nama_Kapal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Nama_Kapal.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Tanggal.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Tanggal.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Tanggal" class="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Tanggal">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Tanggal.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Nama_Kegiatan.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Nama_Kegiatan.Visible (begin)
        <td data-name="Nama_Kegiatan" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Nama_Kegiatan.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Nama_Kegiatan" class="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Nama_Kegiatan">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Nama_Kegiatan.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Nama_Kegiatan.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Nama_Kegiatan.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Produk.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Produk.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Produk" class="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Produk">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Produk.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Density.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Density.Visible (begin)
        <td data-name="Density" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Density.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Density" class="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Density">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Density.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Density.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Density.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Temperatur.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Temperatur.Visible (begin)
        <td data-name="Temperatur" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Temperatur.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Temperatur" class="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Temperatur">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Temperatur.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Temperatur.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Temperatur.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Keterangan.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Keterangan.Visible (begin)
        <td data-name="Keterangan" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Keterangan.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Keterangan" class="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Keterangan">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Keterangan.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Keterangan.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Keterangan.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.userInput.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.userInput.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_userInput" class="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_userInput">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanStsPymLpgList.userInput.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.etlDate.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.etlDate.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_etlDate" class="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_etlDate">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanStsPymLpgList.etlDate.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.LastUpdatedBy.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_LastUpdatedBy" class="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanStsPymLpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.lastUpdatedDate.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_lastUpdatedDate" class="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanStsPymLpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanStsPymLpgList.SubAktivitasHasilPemeriksaanId.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgList.SubAktivitasHasilPemeriksaanId.Visible (begin)
        <td data-name="SubAktivitasHasilPemeriksaanId" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.SubAktivitasHasilPemeriksaanId.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_SubAktivitasHasilPemeriksaanId" class="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_SubAktivitasHasilPemeriksaanId">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.SubAktivitasHasilPemeriksaanId.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.SubAktivitasHasilPemeriksaanId.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanStsPymLpgList.SubAktivitasHasilPemeriksaanId.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasFormInputLogbookPenerimaanStsPymLpgList.ListOptions.RenderBody("right", subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowIndex, "$rowindex$"))
        subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasFormInputLogbookPenerimaanStsPymLpgList.IsCopy || subAktivitasFormInputLogbookPenerimaanStsPymLpgList.IsAdd) && subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasFormInputLogbookPenerimaanStsPymLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.CurrentAction) && !subAktivitasFormInputLogbookPenerimaanStsPymLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasFormInputLogbookPenerimaanStsPymLpgList.CloseRecordset(); }
@if (!subAktivitasFormInputLogbookPenerimaanStsPymLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasFormInputLogbookPenerimaanStsPymLpgList.IsGridAdd && !(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.IsGridEdit && subAktivitasFormInputLogbookPenerimaanStsPymLpgList.ModalGridEdit) && !subAktivitasFormInputLogbookPenerimaanStsPymLpgList.IsMultiEdit) {
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasFormInputLogbookPenerimaanStsPymLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasFormInputLogbookPenerimaanStsPymLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasFormInputLogbookPenerimaanStsPymLpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasFormInputLogbookPenerimaanStsPymLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputLogbookPenerimaanStsPymLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputLogbookPenerimaanSTSPymLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
