@{
    // View
    View = this;

    // Check action result
    if (subaktivitasRencanaPenyaluranPipaList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subaktivitasRencanaPenyaluranPipaList.UseLayout ? "_Layout" : "";
}
@if (!subaktivitasRencanaPenyaluranPipaList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasRencanaPenyaluranPipaList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasRencanaPenyaluranPipa: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subaktivitasRencanaPenyaluranPipaList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subaktivitasRencanaPenyaluranPipaList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subaktivitasRencanaPenyaluranPipaList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subaktivitasRencanaPenyaluranPipaList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subaktivitasRencanaPenyaluranPipaList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subaktivitasRencanaPenyaluranPipaList.TotalRecords > 0 && subaktivitasRencanaPenyaluranPipaList.ExportOptions.Visible) {
    subaktivitasRencanaPenyaluranPipaList.ExportOptions.Render("body");
}
@if (subaktivitasRencanaPenyaluranPipaList.ImportOptions.Visible) {
    subaktivitasRencanaPenyaluranPipaList.ImportOptions.Render("body");
}
@if (subaktivitasRencanaPenyaluranPipaList.SearchOptions.Visible) {
    subaktivitasRencanaPenyaluranPipaList.SearchOptions.Render("body");
}
@if (subaktivitasRencanaPenyaluranPipaList.FilterOptions.Visible) {
    subaktivitasRencanaPenyaluranPipaList.FilterOptions.Render("body");
}
</div>
}
@if (!subaktivitasRencanaPenyaluranPipaList.IsModal) {
<form name="fSubaktivitasRencanaPenyaluranPipasrch" id="fSubaktivitasRencanaPenyaluranPipasrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubaktivitasRencanaPenyaluranPipasrch_search_panel" class="mb-2 mb-sm-0 @(subaktivitasRencanaPenyaluranPipaList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasRencanaPenyaluranPipaList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasRencanaPenyaluranPipa: currentTable } });
var currentForm;
var fSubaktivitasRencanaPenyaluranPipasrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubaktivitasRencanaPenyaluranPipasrch")
        .setPageId("list")
@if (subaktivitasRencanaPenyaluranPipaList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subaktivitasRencanaPenyaluranPipaList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subaktivitasRencanaPenyaluranPipaList.IsExport() && Empty(subaktivitasRencanaPenyaluranPipaList.CurrentAction) && subaktivitasRencanaPenyaluranPipaList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subaktivitasRencanaPenyaluranPipaList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subaktivitasRencanaPenyaluranPipaList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subaktivitasRencanaPenyaluranPipaList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subaktivitasRencanaPenyaluranPipaList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubaktivitasRencanaPenyaluranPipasrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subaktivitasRencanaPenyaluranPipaList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubaktivitasRencanaPenyaluranPipasrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subaktivitasRencanaPenyaluranPipaList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubaktivitasRencanaPenyaluranPipasrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subaktivitasRencanaPenyaluranPipaList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubaktivitasRencanaPenyaluranPipasrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subaktivitasRencanaPenyaluranPipaList.ShowPageHeader()
@subaktivitasRencanaPenyaluranPipaList.ShowMessages()
<main class="list @(subaktivitasRencanaPenyaluranPipaList.TotalRecords == 0 && !subaktivitasRencanaPenyaluranPipaList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subaktivitasRencanaPenyaluranPipaList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subaktivitasRencanaPenyaluranPipaList.TotalRecords > 0 || !Empty(subaktivitasRencanaPenyaluranPipaList.CurrentAction)) {
<div class="card ew-card ew-grid@(subaktivitasRencanaPenyaluranPipaList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subaktivitasRencanaPenyaluranPipaList.TableGridClass)">
<form name="@(subaktivitasRencanaPenyaluranPipaList.FormName)" id="@(subaktivitasRencanaPenyaluranPipaList.FormName)" class="ew-form ew-list-form" action="@AppPath(subaktivitasRencanaPenyaluranPipaList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subaktivitasRencanaPenyaluranPipaList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubaktivitasRencanaPenyaluranPipa" class="card-body ew-grid-middle-panel @(subaktivitasRencanaPenyaluranPipaList.TableContainerClass)" style="@(subaktivitasRencanaPenyaluranPipaList.TableContainerStyle)">
@if (subaktivitasRencanaPenyaluranPipaList.TotalRecords > 0 || subaktivitasRencanaPenyaluranPipaList.IsGridEdit || subaktivitasRencanaPenyaluranPipaList.IsMultiEdit) {
<table id="tbl_SubaktivitasRencanaPenyaluranPipalist" class="@(subaktivitasRencanaPenyaluranPipaList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subaktivitasRencanaPenyaluranPipaList.RowType = RowType.Header;

    // Render list options
    await subaktivitasRencanaPenyaluranPipaList.RenderListOptions();
}
@* Render list options (header, left) *@
@subaktivitasRencanaPenyaluranPipaList.ListOptions.RenderHeader("left")
@if (subaktivitasRencanaPenyaluranPipaList.id.Visible) { // subaktivitasRencanaPenyaluranPipaList.id.Visible (begin)
        <th data-name="id" class="@(subaktivitasRencanaPenyaluranPipaList.id.HeaderCellClass)"><div id="elh_SubaktivitasRencanaPenyaluranPipa_id" class="SubaktivitasRencanaPenyaluranPipa_id">@Html.Raw(subaktivitasRencanaPenyaluranPipaList.RenderFieldHeader(subaktivitasRencanaPenyaluranPipaList.id))</div></th>
} @* subaktivitasRencanaPenyaluranPipaList.id.Visible (end) *@
@if (subaktivitasRencanaPenyaluranPipaList.idAktifitas.Visible) { // subaktivitasRencanaPenyaluranPipaList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subaktivitasRencanaPenyaluranPipaList.idAktifitas.HeaderCellClass)"><div id="elh_SubaktivitasRencanaPenyaluranPipa_idAktifitas" class="SubaktivitasRencanaPenyaluranPipa_idAktifitas">@Html.Raw(subaktivitasRencanaPenyaluranPipaList.RenderFieldHeader(subaktivitasRencanaPenyaluranPipaList.idAktifitas))</div></th>
} @* subaktivitasRencanaPenyaluranPipaList.idAktifitas.Visible (end) *@
@if (subaktivitasRencanaPenyaluranPipaList.TanggalJam.Visible) { // subaktivitasRencanaPenyaluranPipaList.TanggalJam.Visible (begin)
        <th data-name="TanggalJam" class="@(subaktivitasRencanaPenyaluranPipaList.TanggalJam.HeaderCellClass)"><div id="elh_SubaktivitasRencanaPenyaluranPipa_TanggalJam" class="SubaktivitasRencanaPenyaluranPipa_TanggalJam">@Html.Raw(subaktivitasRencanaPenyaluranPipaList.RenderFieldHeader(subaktivitasRencanaPenyaluranPipaList.TanggalJam))</div></th>
} @* subaktivitasRencanaPenyaluranPipaList.TanggalJam.Visible (end) *@
@if (subaktivitasRencanaPenyaluranPipaList.Produk.Visible) { // subaktivitasRencanaPenyaluranPipaList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subaktivitasRencanaPenyaluranPipaList.Produk.HeaderCellClass)"><div id="elh_SubaktivitasRencanaPenyaluranPipa_Produk" class="SubaktivitasRencanaPenyaluranPipa_Produk">@Html.Raw(subaktivitasRencanaPenyaluranPipaList.RenderFieldHeader(subaktivitasRencanaPenyaluranPipaList.Produk))</div></th>
} @* subaktivitasRencanaPenyaluranPipaList.Produk.Visible (end) *@
@if (subaktivitasRencanaPenyaluranPipaList.RencanaPenyaluran2.Visible) { // subaktivitasRencanaPenyaluranPipaList.RencanaPenyaluran2.Visible (begin)
        <th data-name="RencanaPenyaluran2" class="@(subaktivitasRencanaPenyaluranPipaList.RencanaPenyaluran2.HeaderCellClass)"><div id="elh_SubaktivitasRencanaPenyaluranPipa_RencanaPenyaluran2" class="SubaktivitasRencanaPenyaluranPipa_RencanaPenyaluran2">@Html.Raw(subaktivitasRencanaPenyaluranPipaList.RenderFieldHeader(subaktivitasRencanaPenyaluranPipaList.RencanaPenyaluran2))</div></th>
} @* subaktivitasRencanaPenyaluranPipaList.RencanaPenyaluran2.Visible (end) *@
@if (subaktivitasRencanaPenyaluranPipaList.userInput.Visible) { // subaktivitasRencanaPenyaluranPipaList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subaktivitasRencanaPenyaluranPipaList.userInput.HeaderCellClass)"><div id="elh_SubaktivitasRencanaPenyaluranPipa_userInput" class="SubaktivitasRencanaPenyaluranPipa_userInput">@Html.Raw(subaktivitasRencanaPenyaluranPipaList.RenderFieldHeader(subaktivitasRencanaPenyaluranPipaList.userInput))</div></th>
} @* subaktivitasRencanaPenyaluranPipaList.userInput.Visible (end) *@
@if (subaktivitasRencanaPenyaluranPipaList.etlDate.Visible) { // subaktivitasRencanaPenyaluranPipaList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subaktivitasRencanaPenyaluranPipaList.etlDate.HeaderCellClass)"><div id="elh_SubaktivitasRencanaPenyaluranPipa_etlDate" class="SubaktivitasRencanaPenyaluranPipa_etlDate">@Html.Raw(subaktivitasRencanaPenyaluranPipaList.RenderFieldHeader(subaktivitasRencanaPenyaluranPipaList.etlDate))</div></th>
} @* subaktivitasRencanaPenyaluranPipaList.etlDate.Visible (end) *@
@if (subaktivitasRencanaPenyaluranPipaList.idProses.Visible) { // subaktivitasRencanaPenyaluranPipaList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subaktivitasRencanaPenyaluranPipaList.idProses.HeaderCellClass)"><div id="elh_SubaktivitasRencanaPenyaluranPipa_idProses" class="SubaktivitasRencanaPenyaluranPipa_idProses">@Html.Raw(subaktivitasRencanaPenyaluranPipaList.RenderFieldHeader(subaktivitasRencanaPenyaluranPipaList.idProses))</div></th>
} @* subaktivitasRencanaPenyaluranPipaList.idProses.Visible (end) *@
@if (subaktivitasRencanaPenyaluranPipaList.LastUpdatedBy.Visible) { // subaktivitasRencanaPenyaluranPipaList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subaktivitasRencanaPenyaluranPipaList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubaktivitasRencanaPenyaluranPipa_LastUpdatedBy" class="SubaktivitasRencanaPenyaluranPipa_LastUpdatedBy">@Html.Raw(subaktivitasRencanaPenyaluranPipaList.RenderFieldHeader(subaktivitasRencanaPenyaluranPipaList.LastUpdatedBy))</div></th>
} @* subaktivitasRencanaPenyaluranPipaList.LastUpdatedBy.Visible (end) *@
@if (subaktivitasRencanaPenyaluranPipaList.lastUpdatedDate.Visible) { // subaktivitasRencanaPenyaluranPipaList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subaktivitasRencanaPenyaluranPipaList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubaktivitasRencanaPenyaluranPipa_lastUpdatedDate" class="SubaktivitasRencanaPenyaluranPipa_lastUpdatedDate">@Html.Raw(subaktivitasRencanaPenyaluranPipaList.RenderFieldHeader(subaktivitasRencanaPenyaluranPipaList.lastUpdatedDate))</div></th>
} @* subaktivitasRencanaPenyaluranPipaList.lastUpdatedDate.Visible (end) *@
@if (subaktivitasRencanaPenyaluranPipaList.NoReferensi.Visible) { // subaktivitasRencanaPenyaluranPipaList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subaktivitasRencanaPenyaluranPipaList.NoReferensi.HeaderCellClass)"><div id="elh_SubaktivitasRencanaPenyaluranPipa_NoReferensi" class="SubaktivitasRencanaPenyaluranPipa_NoReferensi">@Html.Raw(subaktivitasRencanaPenyaluranPipaList.RenderFieldHeader(subaktivitasRencanaPenyaluranPipaList.NoReferensi))</div></th>
} @* subaktivitasRencanaPenyaluranPipaList.NoReferensi.Visible (end) *@
@* Render list options (header, right) *@
@subaktivitasRencanaPenyaluranPipaList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subaktivitasRencanaPenyaluranPipaList.PageNumber)">
@{
    await subaktivitasRencanaPenyaluranPipaList.SetupGrid();
    bool eof = subaktivitasRencanaPenyaluranPipaList.Recordset == null; // DN
}
@while (subaktivitasRencanaPenyaluranPipaList.RecordCount < subaktivitasRencanaPenyaluranPipaList.StopRecord || SameString(subaktivitasRencanaPenyaluranPipaList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subaktivitasRencanaPenyaluranPipaList.RowIndex, "$rowindex$") &&
        (!subaktivitasRencanaPenyaluranPipaList.IsGridAdd || subaktivitasRencanaPenyaluranPipaList.CurrentMode == "copy") &&
        (!((subaktivitasRencanaPenyaluranPipaList.IsCopy || subaktivitasRencanaPenyaluranPipaList.IsAdd) && subaktivitasRencanaPenyaluranPipaList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subaktivitasRencanaPenyaluranPipaList.Recordset.ReadAsync();
    subaktivitasRencanaPenyaluranPipaList.RecordCount++;
    if (subaktivitasRencanaPenyaluranPipaList.RecordCount >= subaktivitasRencanaPenyaluranPipaList.StartRecord) {
        await subaktivitasRencanaPenyaluranPipaList.SetupRow();
    <tr @Html.Raw(subaktivitasRencanaPenyaluranPipaList.RowAttributes)>
    @* Render list options (body, left) *@
    @subaktivitasRencanaPenyaluranPipaList.ListOptions.RenderBody("left", subaktivitasRencanaPenyaluranPipaList.RowCount)
    @if (subaktivitasRencanaPenyaluranPipaList.id.Visible) { // subaktivitasRencanaPenyaluranPipaList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subaktivitasRencanaPenyaluranPipaList.id.CellAttributes)>
<span id="el@(subaktivitasRencanaPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasRencanaPenyaluranPipaList.RowCount)_SubaktivitasRencanaPenyaluranPipa_id" class="el_SubaktivitasRencanaPenyaluranPipa_id">
<span @Html.Raw(subaktivitasRencanaPenyaluranPipaList.id.ViewAttributes)>
@Html.Raw(subaktivitasRencanaPenyaluranPipaList.id.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasRencanaPenyaluranPipaList.id.Visible (end) *@
    @if (subaktivitasRencanaPenyaluranPipaList.idAktifitas.Visible) { // subaktivitasRencanaPenyaluranPipaList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subaktivitasRencanaPenyaluranPipaList.idAktifitas.CellAttributes)>
<span id="el@(subaktivitasRencanaPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasRencanaPenyaluranPipaList.RowCount)_SubaktivitasRencanaPenyaluranPipa_idAktifitas" class="el_SubaktivitasRencanaPenyaluranPipa_idAktifitas">
<span @Html.Raw(subaktivitasRencanaPenyaluranPipaList.idAktifitas.ViewAttributes)>
@Html.Raw(subaktivitasRencanaPenyaluranPipaList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasRencanaPenyaluranPipaList.idAktifitas.Visible (end) *@
    @if (subaktivitasRencanaPenyaluranPipaList.TanggalJam.Visible) { // subaktivitasRencanaPenyaluranPipaList.TanggalJam.Visible (begin)
        <td data-name="TanggalJam" @Html.Raw(subaktivitasRencanaPenyaluranPipaList.TanggalJam.CellAttributes)>
<span id="el@(subaktivitasRencanaPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasRencanaPenyaluranPipaList.RowCount)_SubaktivitasRencanaPenyaluranPipa_TanggalJam" class="el_SubaktivitasRencanaPenyaluranPipa_TanggalJam">
<span @Html.Raw(subaktivitasRencanaPenyaluranPipaList.TanggalJam.ViewAttributes)>
@Html.Raw(subaktivitasRencanaPenyaluranPipaList.TanggalJam.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasRencanaPenyaluranPipaList.TanggalJam.Visible (end) *@
    @if (subaktivitasRencanaPenyaluranPipaList.Produk.Visible) { // subaktivitasRencanaPenyaluranPipaList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subaktivitasRencanaPenyaluranPipaList.Produk.CellAttributes)>
<span id="el@(subaktivitasRencanaPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasRencanaPenyaluranPipaList.RowCount)_SubaktivitasRencanaPenyaluranPipa_Produk" class="el_SubaktivitasRencanaPenyaluranPipa_Produk">
<span @Html.Raw(subaktivitasRencanaPenyaluranPipaList.Produk.ViewAttributes)>
@Html.Raw(subaktivitasRencanaPenyaluranPipaList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasRencanaPenyaluranPipaList.Produk.Visible (end) *@
    @if (subaktivitasRencanaPenyaluranPipaList.RencanaPenyaluran2.Visible) { // subaktivitasRencanaPenyaluranPipaList.RencanaPenyaluran2.Visible (begin)
        <td data-name="RencanaPenyaluran2" @Html.Raw(subaktivitasRencanaPenyaluranPipaList.RencanaPenyaluran2.CellAttributes)>
<span id="el@(subaktivitasRencanaPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasRencanaPenyaluranPipaList.RowCount)_SubaktivitasRencanaPenyaluranPipa_RencanaPenyaluran2" class="el_SubaktivitasRencanaPenyaluranPipa_RencanaPenyaluran2">
<span @Html.Raw(subaktivitasRencanaPenyaluranPipaList.RencanaPenyaluran2.ViewAttributes)>
@Html.Raw(subaktivitasRencanaPenyaluranPipaList.RencanaPenyaluran2.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasRencanaPenyaluranPipaList.RencanaPenyaluran2.Visible (end) *@
    @if (subaktivitasRencanaPenyaluranPipaList.userInput.Visible) { // subaktivitasRencanaPenyaluranPipaList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subaktivitasRencanaPenyaluranPipaList.userInput.CellAttributes)>
<span id="el@(subaktivitasRencanaPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasRencanaPenyaluranPipaList.RowCount)_SubaktivitasRencanaPenyaluranPipa_userInput" class="el_SubaktivitasRencanaPenyaluranPipa_userInput">
<span @Html.Raw(subaktivitasRencanaPenyaluranPipaList.userInput.ViewAttributes)>
@Html.Raw(subaktivitasRencanaPenyaluranPipaList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasRencanaPenyaluranPipaList.userInput.Visible (end) *@
    @if (subaktivitasRencanaPenyaluranPipaList.etlDate.Visible) { // subaktivitasRencanaPenyaluranPipaList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subaktivitasRencanaPenyaluranPipaList.etlDate.CellAttributes)>
<span id="el@(subaktivitasRencanaPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasRencanaPenyaluranPipaList.RowCount)_SubaktivitasRencanaPenyaluranPipa_etlDate" class="el_SubaktivitasRencanaPenyaluranPipa_etlDate">
<span @Html.Raw(subaktivitasRencanaPenyaluranPipaList.etlDate.ViewAttributes)>
@Html.Raw(subaktivitasRencanaPenyaluranPipaList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasRencanaPenyaluranPipaList.etlDate.Visible (end) *@
    @if (subaktivitasRencanaPenyaluranPipaList.idProses.Visible) { // subaktivitasRencanaPenyaluranPipaList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subaktivitasRencanaPenyaluranPipaList.idProses.CellAttributes)>
<span id="el@(subaktivitasRencanaPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasRencanaPenyaluranPipaList.RowCount)_SubaktivitasRencanaPenyaluranPipa_idProses" class="el_SubaktivitasRencanaPenyaluranPipa_idProses">
<span @Html.Raw(subaktivitasRencanaPenyaluranPipaList.idProses.ViewAttributes)>
@Html.Raw(subaktivitasRencanaPenyaluranPipaList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasRencanaPenyaluranPipaList.idProses.Visible (end) *@
    @if (subaktivitasRencanaPenyaluranPipaList.LastUpdatedBy.Visible) { // subaktivitasRencanaPenyaluranPipaList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subaktivitasRencanaPenyaluranPipaList.LastUpdatedBy.CellAttributes)>
<span id="el@(subaktivitasRencanaPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasRencanaPenyaluranPipaList.RowCount)_SubaktivitasRencanaPenyaluranPipa_LastUpdatedBy" class="el_SubaktivitasRencanaPenyaluranPipa_LastUpdatedBy">
<span @Html.Raw(subaktivitasRencanaPenyaluranPipaList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subaktivitasRencanaPenyaluranPipaList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasRencanaPenyaluranPipaList.LastUpdatedBy.Visible (end) *@
    @if (subaktivitasRencanaPenyaluranPipaList.lastUpdatedDate.Visible) { // subaktivitasRencanaPenyaluranPipaList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subaktivitasRencanaPenyaluranPipaList.lastUpdatedDate.CellAttributes)>
<span id="el@(subaktivitasRencanaPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasRencanaPenyaluranPipaList.RowCount)_SubaktivitasRencanaPenyaluranPipa_lastUpdatedDate" class="el_SubaktivitasRencanaPenyaluranPipa_lastUpdatedDate">
<span @Html.Raw(subaktivitasRencanaPenyaluranPipaList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subaktivitasRencanaPenyaluranPipaList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasRencanaPenyaluranPipaList.lastUpdatedDate.Visible (end) *@
    @if (subaktivitasRencanaPenyaluranPipaList.NoReferensi.Visible) { // subaktivitasRencanaPenyaluranPipaList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subaktivitasRencanaPenyaluranPipaList.NoReferensi.CellAttributes)>
<span id="el@(subaktivitasRencanaPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasRencanaPenyaluranPipaList.RowCount)_SubaktivitasRencanaPenyaluranPipa_NoReferensi" class="el_SubaktivitasRencanaPenyaluranPipa_NoReferensi">
<span @Html.Raw(subaktivitasRencanaPenyaluranPipaList.NoReferensi.ViewAttributes)>
@Html.Raw(subaktivitasRencanaPenyaluranPipaList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasRencanaPenyaluranPipaList.NoReferensi.Visible (end) *@
    @* Render list options (body, right) *@
    @subaktivitasRencanaPenyaluranPipaList.ListOptions.RenderBody("right", subaktivitasRencanaPenyaluranPipaList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subaktivitasRencanaPenyaluranPipaList.RowIndex, "$rowindex$"))
        subaktivitasRencanaPenyaluranPipaList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subaktivitasRencanaPenyaluranPipaList.IsCopy || subaktivitasRencanaPenyaluranPipaList.IsAdd) && subaktivitasRencanaPenyaluranPipaList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subaktivitasRencanaPenyaluranPipaList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subaktivitasRencanaPenyaluranPipaList.CurrentAction) && !subaktivitasRencanaPenyaluranPipaList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subaktivitasRencanaPenyaluranPipaList.CloseRecordset(); }
@if (!subaktivitasRencanaPenyaluranPipaList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subaktivitasRencanaPenyaluranPipaList.IsGridAdd && !(subaktivitasRencanaPenyaluranPipaList.IsGridEdit && subaktivitasRencanaPenyaluranPipaList.ModalGridEdit) && !subaktivitasRencanaPenyaluranPipaList.IsMultiEdit) {
@Html.Raw(subaktivitasRencanaPenyaluranPipaList.Pager.Render())
}
<div class="ew-list-other-options">
@subaktivitasRencanaPenyaluranPipaList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subaktivitasRencanaPenyaluranPipaList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subaktivitasRencanaPenyaluranPipaList.FooterOptions.RenderBody()
</div>
</main>
@subaktivitasRencanaPenyaluranPipaList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subaktivitasRencanaPenyaluranPipaList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubaktivitasRencanaPenyaluranPipa");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
