@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputFlowrateList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputFlowrateList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputFlowrateList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputFlowrateList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputFlowrate: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasFormInputFlowrateList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasFormInputFlowrateList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasFormInputFlowrateList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasFormInputFlowrateList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasFormInputFlowrateList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasFormInputFlowrateList.TotalRecords > 0 && subAktivitasFormInputFlowrateList.ExportOptions.Visible) {
    subAktivitasFormInputFlowrateList.ExportOptions.Render("body");
}
@if (subAktivitasFormInputFlowrateList.ImportOptions.Visible) {
    subAktivitasFormInputFlowrateList.ImportOptions.Render("body");
}
@if (subAktivitasFormInputFlowrateList.SearchOptions.Visible) {
    subAktivitasFormInputFlowrateList.SearchOptions.Render("body");
}
@if (subAktivitasFormInputFlowrateList.FilterOptions.Visible) {
    subAktivitasFormInputFlowrateList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasFormInputFlowrateList.IsModal) {
<form name="fSubAktivitasFormInputFlowratesrch" id="fSubAktivitasFormInputFlowratesrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasFormInputFlowratesrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasFormInputFlowrateList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputFlowrateList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputFlowrate: currentTable } });
var currentForm;
var fSubAktivitasFormInputFlowratesrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputFlowratesrch")
        .setPageId("list")
@if (subAktivitasFormInputFlowrateList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasFormInputFlowrateList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasFormInputFlowrateList.IsExport() && Empty(subAktivitasFormInputFlowrateList.CurrentAction) && subAktivitasFormInputFlowrateList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasFormInputFlowrateList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasFormInputFlowrateList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasFormInputFlowrateList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasFormInputFlowratesrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputFlowrateList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasFormInputFlowratesrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputFlowrateList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasFormInputFlowratesrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputFlowrateList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasFormInputFlowratesrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasFormInputFlowrateList.ShowPageHeader()
@subAktivitasFormInputFlowrateList.ShowMessages()
<main class="list @(subAktivitasFormInputFlowrateList.TotalRecords == 0 && !subAktivitasFormInputFlowrateList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasFormInputFlowrateList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasFormInputFlowrateList.TotalRecords > 0 || !Empty(subAktivitasFormInputFlowrateList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasFormInputFlowrateList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasFormInputFlowrateList.TableGridClass)">
<form name="@(subAktivitasFormInputFlowrateList.FormName)" id="@(subAktivitasFormInputFlowrateList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasFormInputFlowrateList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasFormInputFlowrateList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasFormInputFlowrate" class="card-body ew-grid-middle-panel @(subAktivitasFormInputFlowrateList.TableContainerClass)" style="@(subAktivitasFormInputFlowrateList.TableContainerStyle)">
@if (subAktivitasFormInputFlowrateList.TotalRecords > 0 || subAktivitasFormInputFlowrateList.IsGridEdit || subAktivitasFormInputFlowrateList.IsMultiEdit) {
<table id="tbl_SubAktivitasFormInputFlowratelist" class="@(subAktivitasFormInputFlowrateList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasFormInputFlowrateList.RowType = RowType.Header;

    // Render list options
    await subAktivitasFormInputFlowrateList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasFormInputFlowrateList.ListOptions.RenderHeader("left")
@if (subAktivitasFormInputFlowrateList.id.Visible) { // subAktivitasFormInputFlowrateList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasFormInputFlowrateList.id.HeaderCellClass)"><div id="elh_SubAktivitasFormInputFlowrate_id" class="SubAktivitasFormInputFlowrate_id">@Html.Raw(subAktivitasFormInputFlowrateList.RenderFieldHeader(subAktivitasFormInputFlowrateList.id))</div></th>
} @* subAktivitasFormInputFlowrateList.id.Visible (end) *@
@if (subAktivitasFormInputFlowrateList.NoReferensi.Visible) { // subAktivitasFormInputFlowrateList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasFormInputFlowrateList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasFormInputFlowrate_NoReferensi" class="SubAktivitasFormInputFlowrate_NoReferensi">@Html.Raw(subAktivitasFormInputFlowrateList.RenderFieldHeader(subAktivitasFormInputFlowrateList.NoReferensi))</div></th>
} @* subAktivitasFormInputFlowrateList.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputFlowrateList.idProses.Visible) { // subAktivitasFormInputFlowrateList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasFormInputFlowrateList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasFormInputFlowrate_idProses" class="SubAktivitasFormInputFlowrate_idProses">@Html.Raw(subAktivitasFormInputFlowrateList.RenderFieldHeader(subAktivitasFormInputFlowrateList.idProses))</div></th>
} @* subAktivitasFormInputFlowrateList.idProses.Visible (end) *@
@if (subAktivitasFormInputFlowrateList.idAktifitas.Visible) { // subAktivitasFormInputFlowrateList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasFormInputFlowrateList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputFlowrate_idAktifitas" class="SubAktivitasFormInputFlowrate_idAktifitas">@Html.Raw(subAktivitasFormInputFlowrateList.RenderFieldHeader(subAktivitasFormInputFlowrateList.idAktifitas))</div></th>
} @* subAktivitasFormInputFlowrateList.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputFlowrateList.StatusAktivitas.Visible) { // subAktivitasFormInputFlowrateList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasFormInputFlowrateList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputFlowrate_StatusAktivitas" class="SubAktivitasFormInputFlowrate_StatusAktivitas">@Html.Raw(subAktivitasFormInputFlowrateList.RenderFieldHeader(subAktivitasFormInputFlowrateList.StatusAktivitas))</div></th>
} @* subAktivitasFormInputFlowrateList.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputFlowrateList.LastUpdatedBy.Visible) { // subAktivitasFormInputFlowrateList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasFormInputFlowrateList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasFormInputFlowrate_LastUpdatedBy" class="SubAktivitasFormInputFlowrate_LastUpdatedBy">@Html.Raw(subAktivitasFormInputFlowrateList.RenderFieldHeader(subAktivitasFormInputFlowrateList.LastUpdatedBy))</div></th>
} @* subAktivitasFormInputFlowrateList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputFlowrateList.lastUpdatedDate.Visible) { // subAktivitasFormInputFlowrateList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasFormInputFlowrateList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputFlowrate_lastUpdatedDate" class="SubAktivitasFormInputFlowrate_lastUpdatedDate">@Html.Raw(subAktivitasFormInputFlowrateList.RenderFieldHeader(subAktivitasFormInputFlowrateList.lastUpdatedDate))</div></th>
} @* subAktivitasFormInputFlowrateList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputFlowrateList.Flowrate.Visible) { // subAktivitasFormInputFlowrateList.Flowrate.Visible (begin)
        <th data-name="Flowrate" class="@(subAktivitasFormInputFlowrateList.Flowrate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputFlowrate_Flowrate" class="SubAktivitasFormInputFlowrate_Flowrate">@Html.Raw(subAktivitasFormInputFlowrateList.RenderFieldHeader(subAktivitasFormInputFlowrateList.Flowrate))</div></th>
} @* subAktivitasFormInputFlowrateList.Flowrate.Visible (end) *@
@if (subAktivitasFormInputFlowrateList.StrippingTime.Visible) { // subAktivitasFormInputFlowrateList.StrippingTime.Visible (begin)
        <th data-name="StrippingTime" class="@(subAktivitasFormInputFlowrateList.StrippingTime.HeaderCellClass)"><div id="elh_SubAktivitasFormInputFlowrate_StrippingTime" class="SubAktivitasFormInputFlowrate_StrippingTime">@Html.Raw(subAktivitasFormInputFlowrateList.RenderFieldHeader(subAktivitasFormInputFlowrateList.StrippingTime))</div></th>
} @* subAktivitasFormInputFlowrateList.StrippingTime.Visible (end) *@
@if (subAktivitasFormInputFlowrateList.Pressure.Visible) { // subAktivitasFormInputFlowrateList.Pressure.Visible (begin)
        <th data-name="Pressure" class="@(subAktivitasFormInputFlowrateList.Pressure.HeaderCellClass)"><div id="elh_SubAktivitasFormInputFlowrate_Pressure" class="SubAktivitasFormInputFlowrate_Pressure">@Html.Raw(subAktivitasFormInputFlowrateList.RenderFieldHeader(subAktivitasFormInputFlowrateList.Pressure))</div></th>
} @* subAktivitasFormInputFlowrateList.Pressure.Visible (end) *@
@if (subAktivitasFormInputFlowrateList.LamaPembongkaran.Visible) { // subAktivitasFormInputFlowrateList.LamaPembongkaran.Visible (begin)
        <th data-name="LamaPembongkaran" class="@(subAktivitasFormInputFlowrateList.LamaPembongkaran.HeaderCellClass)"><div id="elh_SubAktivitasFormInputFlowrate_LamaPembongkaran" class="SubAktivitasFormInputFlowrate_LamaPembongkaran">@Html.Raw(subAktivitasFormInputFlowrateList.RenderFieldHeader(subAktivitasFormInputFlowrateList.LamaPembongkaran))</div></th>
} @* subAktivitasFormInputFlowrateList.LamaPembongkaran.Visible (end) *@
@if (subAktivitasFormInputFlowrateList.ETC.Visible) { // subAktivitasFormInputFlowrateList.ETC.Visible (begin)
        <th data-name="ETC" class="@(subAktivitasFormInputFlowrateList.ETC.HeaderCellClass)"><div id="elh_SubAktivitasFormInputFlowrate_ETC" class="SubAktivitasFormInputFlowrate_ETC">@Html.Raw(subAktivitasFormInputFlowrateList.RenderFieldHeader(subAktivitasFormInputFlowrateList.ETC))</div></th>
} @* subAktivitasFormInputFlowrateList.ETC.Visible (end) *@
@if (subAktivitasFormInputFlowrateList.userInput.Visible) { // subAktivitasFormInputFlowrateList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasFormInputFlowrateList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasFormInputFlowrate_userInput" class="SubAktivitasFormInputFlowrate_userInput">@Html.Raw(subAktivitasFormInputFlowrateList.RenderFieldHeader(subAktivitasFormInputFlowrateList.userInput))</div></th>
} @* subAktivitasFormInputFlowrateList.userInput.Visible (end) *@
@if (subAktivitasFormInputFlowrateList.etlDate.Visible) { // subAktivitasFormInputFlowrateList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasFormInputFlowrateList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputFlowrate_etlDate" class="SubAktivitasFormInputFlowrate_etlDate">@Html.Raw(subAktivitasFormInputFlowrateList.RenderFieldHeader(subAktivitasFormInputFlowrateList.etlDate))</div></th>
} @* subAktivitasFormInputFlowrateList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasFormInputFlowrateList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasFormInputFlowrateList.PageNumber)">
@{
    await subAktivitasFormInputFlowrateList.SetupGrid();
    bool eof = subAktivitasFormInputFlowrateList.Recordset == null; // DN
}
@while (subAktivitasFormInputFlowrateList.RecordCount < subAktivitasFormInputFlowrateList.StopRecord || SameString(subAktivitasFormInputFlowrateList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasFormInputFlowrateList.RowIndex, "$rowindex$") &&
        (!subAktivitasFormInputFlowrateList.IsGridAdd || subAktivitasFormInputFlowrateList.CurrentMode == "copy") &&
        (!((subAktivitasFormInputFlowrateList.IsCopy || subAktivitasFormInputFlowrateList.IsAdd) && subAktivitasFormInputFlowrateList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasFormInputFlowrateList.Recordset.ReadAsync();
    subAktivitasFormInputFlowrateList.RecordCount++;
    if (subAktivitasFormInputFlowrateList.RecordCount >= subAktivitasFormInputFlowrateList.StartRecord) {
        await subAktivitasFormInputFlowrateList.SetupRow();
    <tr @Html.Raw(subAktivitasFormInputFlowrateList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasFormInputFlowrateList.ListOptions.RenderBody("left", subAktivitasFormInputFlowrateList.RowCount)
    @if (subAktivitasFormInputFlowrateList.id.Visible) { // subAktivitasFormInputFlowrateList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasFormInputFlowrateList.id.CellAttributes)>
<span id="el@(subAktivitasFormInputFlowrateList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputFlowrateList.RowCount)_SubAktivitasFormInputFlowrate_id" class="el_SubAktivitasFormInputFlowrate_id">
<span @Html.Raw(subAktivitasFormInputFlowrateList.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputFlowrateList.id.Visible (end) *@
    @if (subAktivitasFormInputFlowrateList.NoReferensi.Visible) { // subAktivitasFormInputFlowrateList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputFlowrateList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasFormInputFlowrateList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputFlowrateList.RowCount)_SubAktivitasFormInputFlowrate_NoReferensi" class="el_SubAktivitasFormInputFlowrate_NoReferensi">
<span @Html.Raw(subAktivitasFormInputFlowrateList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputFlowrateList.NoReferensi.Visible (end) *@
    @if (subAktivitasFormInputFlowrateList.idProses.Visible) { // subAktivitasFormInputFlowrateList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputFlowrateList.idProses.CellAttributes)>
<span id="el@(subAktivitasFormInputFlowrateList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputFlowrateList.RowCount)_SubAktivitasFormInputFlowrate_idProses" class="el_SubAktivitasFormInputFlowrate_idProses">
<span @Html.Raw(subAktivitasFormInputFlowrateList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputFlowrateList.idProses.Visible (end) *@
    @if (subAktivitasFormInputFlowrateList.idAktifitas.Visible) { // subAktivitasFormInputFlowrateList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputFlowrateList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasFormInputFlowrateList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputFlowrateList.RowCount)_SubAktivitasFormInputFlowrate_idAktifitas" class="el_SubAktivitasFormInputFlowrate_idAktifitas">
<span @Html.Raw(subAktivitasFormInputFlowrateList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputFlowrateList.idAktifitas.Visible (end) *@
    @if (subAktivitasFormInputFlowrateList.StatusAktivitas.Visible) { // subAktivitasFormInputFlowrateList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputFlowrateList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasFormInputFlowrateList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputFlowrateList.RowCount)_SubAktivitasFormInputFlowrate_StatusAktivitas" class="el_SubAktivitasFormInputFlowrate_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputFlowrateList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputFlowrateList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasFormInputFlowrateList.LastUpdatedBy.Visible) { // subAktivitasFormInputFlowrateList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputFlowrateList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasFormInputFlowrateList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputFlowrateList.RowCount)_SubAktivitasFormInputFlowrate_LastUpdatedBy" class="el_SubAktivitasFormInputFlowrate_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputFlowrateList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputFlowrateList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasFormInputFlowrateList.lastUpdatedDate.Visible) { // subAktivitasFormInputFlowrateList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputFlowrateList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasFormInputFlowrateList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputFlowrateList.RowCount)_SubAktivitasFormInputFlowrate_lastUpdatedDate" class="el_SubAktivitasFormInputFlowrate_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputFlowrateList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputFlowrateList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasFormInputFlowrateList.Flowrate.Visible) { // subAktivitasFormInputFlowrateList.Flowrate.Visible (begin)
        <td data-name="Flowrate" @Html.Raw(subAktivitasFormInputFlowrateList.Flowrate.CellAttributes)>
<span id="el@(subAktivitasFormInputFlowrateList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputFlowrateList.RowCount)_SubAktivitasFormInputFlowrate_Flowrate" class="el_SubAktivitasFormInputFlowrate_Flowrate">
<span @Html.Raw(subAktivitasFormInputFlowrateList.Flowrate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateList.Flowrate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputFlowrateList.Flowrate.Visible (end) *@
    @if (subAktivitasFormInputFlowrateList.StrippingTime.Visible) { // subAktivitasFormInputFlowrateList.StrippingTime.Visible (begin)
        <td data-name="StrippingTime" @Html.Raw(subAktivitasFormInputFlowrateList.StrippingTime.CellAttributes)>
<span id="el@(subAktivitasFormInputFlowrateList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputFlowrateList.RowCount)_SubAktivitasFormInputFlowrate_StrippingTime" class="el_SubAktivitasFormInputFlowrate_StrippingTime">
<span @Html.Raw(subAktivitasFormInputFlowrateList.StrippingTime.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateList.StrippingTime.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputFlowrateList.StrippingTime.Visible (end) *@
    @if (subAktivitasFormInputFlowrateList.Pressure.Visible) { // subAktivitasFormInputFlowrateList.Pressure.Visible (begin)
        <td data-name="Pressure" @Html.Raw(subAktivitasFormInputFlowrateList.Pressure.CellAttributes)>
<span id="el@(subAktivitasFormInputFlowrateList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputFlowrateList.RowCount)_SubAktivitasFormInputFlowrate_Pressure" class="el_SubAktivitasFormInputFlowrate_Pressure">
<span @Html.Raw(subAktivitasFormInputFlowrateList.Pressure.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateList.Pressure.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputFlowrateList.Pressure.Visible (end) *@
    @if (subAktivitasFormInputFlowrateList.LamaPembongkaran.Visible) { // subAktivitasFormInputFlowrateList.LamaPembongkaran.Visible (begin)
        <td data-name="LamaPembongkaran" @Html.Raw(subAktivitasFormInputFlowrateList.LamaPembongkaran.CellAttributes)>
<span id="el@(subAktivitasFormInputFlowrateList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputFlowrateList.RowCount)_SubAktivitasFormInputFlowrate_LamaPembongkaran" class="el_SubAktivitasFormInputFlowrate_LamaPembongkaran">
<span @Html.Raw(subAktivitasFormInputFlowrateList.LamaPembongkaran.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateList.LamaPembongkaran.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputFlowrateList.LamaPembongkaran.Visible (end) *@
    @if (subAktivitasFormInputFlowrateList.ETC.Visible) { // subAktivitasFormInputFlowrateList.ETC.Visible (begin)
        <td data-name="ETC" @Html.Raw(subAktivitasFormInputFlowrateList.ETC.CellAttributes)>
<span id="el@(subAktivitasFormInputFlowrateList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputFlowrateList.RowCount)_SubAktivitasFormInputFlowrate_ETC" class="el_SubAktivitasFormInputFlowrate_ETC">
<span @Html.Raw(subAktivitasFormInputFlowrateList.ETC.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateList.ETC.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputFlowrateList.ETC.Visible (end) *@
    @if (subAktivitasFormInputFlowrateList.userInput.Visible) { // subAktivitasFormInputFlowrateList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputFlowrateList.userInput.CellAttributes)>
<span id="el@(subAktivitasFormInputFlowrateList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputFlowrateList.RowCount)_SubAktivitasFormInputFlowrate_userInput" class="el_SubAktivitasFormInputFlowrate_userInput">
<span @Html.Raw(subAktivitasFormInputFlowrateList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputFlowrateList.userInput.Visible (end) *@
    @if (subAktivitasFormInputFlowrateList.etlDate.Visible) { // subAktivitasFormInputFlowrateList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputFlowrateList.etlDate.CellAttributes)>
<span id="el@(subAktivitasFormInputFlowrateList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputFlowrateList.RowCount)_SubAktivitasFormInputFlowrate_etlDate" class="el_SubAktivitasFormInputFlowrate_etlDate">
<span @Html.Raw(subAktivitasFormInputFlowrateList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputFlowrateList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasFormInputFlowrateList.ListOptions.RenderBody("right", subAktivitasFormInputFlowrateList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasFormInputFlowrateList.RowIndex, "$rowindex$"))
        subAktivitasFormInputFlowrateList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasFormInputFlowrateList.IsCopy || subAktivitasFormInputFlowrateList.IsAdd) && subAktivitasFormInputFlowrateList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasFormInputFlowrateList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasFormInputFlowrateList.CurrentAction) && !subAktivitasFormInputFlowrateList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasFormInputFlowrateList.CloseRecordset(); }
@if (!subAktivitasFormInputFlowrateList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasFormInputFlowrateList.IsGridAdd && !(subAktivitasFormInputFlowrateList.IsGridEdit && subAktivitasFormInputFlowrateList.ModalGridEdit) && !subAktivitasFormInputFlowrateList.IsMultiEdit) {
@Html.Raw(subAktivitasFormInputFlowrateList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasFormInputFlowrateList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasFormInputFlowrateList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasFormInputFlowrateList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasFormInputFlowrateList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputFlowrateList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputFlowrate");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
