@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiBlsfallpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiBlsfallpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasNilaiBlsfallpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiBlsfallpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiBLSFALLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasNilaiBlsfallpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasNilaiBlsfallpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasNilaiBlsfallpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasNilaiBlsfallpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasNilaiBlsfallpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasNilaiBlsfallpgList.TotalRecords > 0 && subAktivitasNilaiBlsfallpgList.ExportOptions.Visible) {
    subAktivitasNilaiBlsfallpgList.ExportOptions.Render("body");
}
@if (subAktivitasNilaiBlsfallpgList.ImportOptions.Visible) {
    subAktivitasNilaiBlsfallpgList.ImportOptions.Render("body");
}
@if (subAktivitasNilaiBlsfallpgList.SearchOptions.Visible) {
    subAktivitasNilaiBlsfallpgList.SearchOptions.Render("body");
}
@if (subAktivitasNilaiBlsfallpgList.FilterOptions.Visible) {
    subAktivitasNilaiBlsfallpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasNilaiBlsfallpgList.IsModal) {
<form name="fSubAktivitasNilaiBLSFALLPGsrch" id="fSubAktivitasNilaiBLSFALLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasNilaiBLSFALLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasNilaiBlsfallpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiBlsfallpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiBLSFALLPG: currentTable } });
var currentForm;
var fSubAktivitasNilaiBLSFALLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiBLSFALLPGsrch")
        .setPageId("list")
@if (subAktivitasNilaiBlsfallpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasNilaiBlsfallpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasNilaiBlsfallpgList.IsExport() && Empty(subAktivitasNilaiBlsfallpgList.CurrentAction) && subAktivitasNilaiBlsfallpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasNilaiBlsfallpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasNilaiBlsfallpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasNilaiBlsfallpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasNilaiBlsfallpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasNilaiBLSFALLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiBlsfallpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasNilaiBLSFALLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiBlsfallpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasNilaiBLSFALLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiBlsfallpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasNilaiBLSFALLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasNilaiBlsfallpgList.ShowPageHeader()
@subAktivitasNilaiBlsfallpgList.ShowMessages()
<main class="list @(subAktivitasNilaiBlsfallpgList.TotalRecords == 0 && !subAktivitasNilaiBlsfallpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasNilaiBlsfallpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasNilaiBlsfallpgList.TotalRecords > 0 || !Empty(subAktivitasNilaiBlsfallpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasNilaiBlsfallpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasNilaiBlsfallpgList.TableGridClass)">
<form name="@(subAktivitasNilaiBlsfallpgList.FormName)" id="@(subAktivitasNilaiBlsfallpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasNilaiBlsfallpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasNilaiBlsfallpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasNilaiBLSFALLPG" class="card-body ew-grid-middle-panel @(subAktivitasNilaiBlsfallpgList.TableContainerClass)" style="@(subAktivitasNilaiBlsfallpgList.TableContainerStyle)">
@if (subAktivitasNilaiBlsfallpgList.TotalRecords > 0 || subAktivitasNilaiBlsfallpgList.IsGridEdit || subAktivitasNilaiBlsfallpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasNilaiBLSFALLPGlist" class="@(subAktivitasNilaiBlsfallpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasNilaiBlsfallpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasNilaiBlsfallpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasNilaiBlsfallpgList.ListOptions.RenderHeader("left")
@if (subAktivitasNilaiBlsfallpgList.id.Visible) { // subAktivitasNilaiBlsfallpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasNilaiBlsfallpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALLPG_id" class="SubAktivitasNilaiBLSFALLPG_id">@Html.Raw(subAktivitasNilaiBlsfallpgList.RenderFieldHeader(subAktivitasNilaiBlsfallpgList.id))</div></th>
} @* subAktivitasNilaiBlsfallpgList.id.Visible (end) *@
@if (subAktivitasNilaiBlsfallpgList.idProses.Visible) { // subAktivitasNilaiBlsfallpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasNilaiBlsfallpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALLPG_idProses" class="SubAktivitasNilaiBLSFALLPG_idProses">@Html.Raw(subAktivitasNilaiBlsfallpgList.RenderFieldHeader(subAktivitasNilaiBlsfallpgList.idProses))</div></th>
} @* subAktivitasNilaiBlsfallpgList.idProses.Visible (end) *@
@if (subAktivitasNilaiBlsfallpgList.idAktifitas.Visible) { // subAktivitasNilaiBlsfallpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasNilaiBlsfallpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALLPG_idAktifitas" class="SubAktivitasNilaiBLSFALLPG_idAktifitas">@Html.Raw(subAktivitasNilaiBlsfallpgList.RenderFieldHeader(subAktivitasNilaiBlsfallpgList.idAktifitas))</div></th>
} @* subAktivitasNilaiBlsfallpgList.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiBlsfallpgList.NoReferensi.Visible) { // subAktivitasNilaiBlsfallpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasNilaiBlsfallpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALLPG_NoReferensi" class="SubAktivitasNilaiBLSFALLPG_NoReferensi">@Html.Raw(subAktivitasNilaiBlsfallpgList.RenderFieldHeader(subAktivitasNilaiBlsfallpgList.NoReferensi))</div></th>
} @* subAktivitasNilaiBlsfallpgList.NoReferensi.Visible (end) *@
@if (subAktivitasNilaiBlsfallpgList.StatusAktivitas.Visible) { // subAktivitasNilaiBlsfallpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasNilaiBlsfallpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALLPG_StatusAktivitas" class="SubAktivitasNilaiBLSFALLPG_StatusAktivitas">@Html.Raw(subAktivitasNilaiBlsfallpgList.RenderFieldHeader(subAktivitasNilaiBlsfallpgList.StatusAktivitas))</div></th>
} @* subAktivitasNilaiBlsfallpgList.StatusAktivitas.Visible (end) *@
@if (subAktivitasNilaiBlsfallpgList.lastUpdatedDate.Visible) { // subAktivitasNilaiBlsfallpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasNilaiBlsfallpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALLPG_lastUpdatedDate" class="SubAktivitasNilaiBLSFALLPG_lastUpdatedDate">@Html.Raw(subAktivitasNilaiBlsfallpgList.RenderFieldHeader(subAktivitasNilaiBlsfallpgList.lastUpdatedDate))</div></th>
} @* subAktivitasNilaiBlsfallpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasNilaiBlsfallpgList.LastUpdatedBy.Visible) { // subAktivitasNilaiBlsfallpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasNilaiBlsfallpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALLPG_LastUpdatedBy" class="SubAktivitasNilaiBLSFALLPG_LastUpdatedBy">@Html.Raw(subAktivitasNilaiBlsfallpgList.RenderFieldHeader(subAktivitasNilaiBlsfallpgList.LastUpdatedBy))</div></th>
} @* subAktivitasNilaiBlsfallpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiBlsfallpgList.BL_mt.Visible) { // subAktivitasNilaiBlsfallpgList.BL_mt.Visible (begin)
        <th data-name="BL_mt" class="@(subAktivitasNilaiBlsfallpgList.BL_mt.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALLPG_BL_mt" class="SubAktivitasNilaiBLSFALLPG_BL_mt">@Html.Raw(subAktivitasNilaiBlsfallpgList.RenderFieldHeader(subAktivitasNilaiBlsfallpgList.BL_mt))</div></th>
} @* subAktivitasNilaiBlsfallpgList.BL_mt.Visible (end) *@
@if (subAktivitasNilaiBlsfallpgList.SFAL_mt.Visible) { // subAktivitasNilaiBlsfallpgList.SFAL_mt.Visible (begin)
        <th data-name="SFAL_mt" class="@(subAktivitasNilaiBlsfallpgList.SFAL_mt.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALLPG_SFAL_mt" class="SubAktivitasNilaiBLSFALLPG_SFAL_mt">@Html.Raw(subAktivitasNilaiBlsfallpgList.RenderFieldHeader(subAktivitasNilaiBlsfallpgList.SFAL_mt))</div></th>
} @* subAktivitasNilaiBlsfallpgList.SFAL_mt.Visible (end) *@
@if (subAktivitasNilaiBlsfallpgList.etlDate.Visible) { // subAktivitasNilaiBlsfallpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasNilaiBlsfallpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALLPG_etlDate" class="SubAktivitasNilaiBLSFALLPG_etlDate">@Html.Raw(subAktivitasNilaiBlsfallpgList.RenderFieldHeader(subAktivitasNilaiBlsfallpgList.etlDate))</div></th>
} @* subAktivitasNilaiBlsfallpgList.etlDate.Visible (end) *@
@if (subAktivitasNilaiBlsfallpgList.userInput.Visible) { // subAktivitasNilaiBlsfallpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasNilaiBlsfallpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALLPG_userInput" class="SubAktivitasNilaiBLSFALLPG_userInput">@Html.Raw(subAktivitasNilaiBlsfallpgList.RenderFieldHeader(subAktivitasNilaiBlsfallpgList.userInput))</div></th>
} @* subAktivitasNilaiBlsfallpgList.userInput.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasNilaiBlsfallpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasNilaiBlsfallpgList.PageNumber)">
@{
    await subAktivitasNilaiBlsfallpgList.SetupGrid();
    bool eof = subAktivitasNilaiBlsfallpgList.Recordset == null; // DN
}
@while (subAktivitasNilaiBlsfallpgList.RecordCount < subAktivitasNilaiBlsfallpgList.StopRecord || SameString(subAktivitasNilaiBlsfallpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasNilaiBlsfallpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasNilaiBlsfallpgList.IsGridAdd || subAktivitasNilaiBlsfallpgList.CurrentMode == "copy") &&
        (!((subAktivitasNilaiBlsfallpgList.IsCopy || subAktivitasNilaiBlsfallpgList.IsAdd) && subAktivitasNilaiBlsfallpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasNilaiBlsfallpgList.Recordset.ReadAsync();
    subAktivitasNilaiBlsfallpgList.RecordCount++;
    if (subAktivitasNilaiBlsfallpgList.RecordCount >= subAktivitasNilaiBlsfallpgList.StartRecord) {
        await subAktivitasNilaiBlsfallpgList.SetupRow();
    <tr @Html.Raw(subAktivitasNilaiBlsfallpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasNilaiBlsfallpgList.ListOptions.RenderBody("left", subAktivitasNilaiBlsfallpgList.RowCount)
    @if (subAktivitasNilaiBlsfallpgList.id.Visible) { // subAktivitasNilaiBlsfallpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasNilaiBlsfallpgList.id.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfallpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfallpgList.RowCount)_SubAktivitasNilaiBLSFALLPG_id" class="el_SubAktivitasNilaiBLSFALLPG_id">
<span @Html.Raw(subAktivitasNilaiBlsfallpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfallpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfallpgList.id.Visible (end) *@
    @if (subAktivitasNilaiBlsfallpgList.idProses.Visible) { // subAktivitasNilaiBlsfallpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasNilaiBlsfallpgList.idProses.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfallpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfallpgList.RowCount)_SubAktivitasNilaiBLSFALLPG_idProses" class="el_SubAktivitasNilaiBLSFALLPG_idProses">
<span @Html.Raw(subAktivitasNilaiBlsfallpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfallpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfallpgList.idProses.Visible (end) *@
    @if (subAktivitasNilaiBlsfallpgList.idAktifitas.Visible) { // subAktivitasNilaiBlsfallpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasNilaiBlsfallpgList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfallpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfallpgList.RowCount)_SubAktivitasNilaiBLSFALLPG_idAktifitas" class="el_SubAktivitasNilaiBLSFALLPG_idAktifitas">
<span @Html.Raw(subAktivitasNilaiBlsfallpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfallpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfallpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasNilaiBlsfallpgList.NoReferensi.Visible) { // subAktivitasNilaiBlsfallpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasNilaiBlsfallpgList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfallpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfallpgList.RowCount)_SubAktivitasNilaiBLSFALLPG_NoReferensi" class="el_SubAktivitasNilaiBLSFALLPG_NoReferensi">
<span @Html.Raw(subAktivitasNilaiBlsfallpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfallpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfallpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasNilaiBlsfallpgList.StatusAktivitas.Visible) { // subAktivitasNilaiBlsfallpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasNilaiBlsfallpgList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfallpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfallpgList.RowCount)_SubAktivitasNilaiBLSFALLPG_StatusAktivitas" class="el_SubAktivitasNilaiBLSFALLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasNilaiBlsfallpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfallpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfallpgList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasNilaiBlsfallpgList.lastUpdatedDate.Visible) { // subAktivitasNilaiBlsfallpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasNilaiBlsfallpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfallpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfallpgList.RowCount)_SubAktivitasNilaiBLSFALLPG_lastUpdatedDate" class="el_SubAktivitasNilaiBLSFALLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasNilaiBlsfallpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfallpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfallpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasNilaiBlsfallpgList.LastUpdatedBy.Visible) { // subAktivitasNilaiBlsfallpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasNilaiBlsfallpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfallpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfallpgList.RowCount)_SubAktivitasNilaiBLSFALLPG_LastUpdatedBy" class="el_SubAktivitasNilaiBLSFALLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasNilaiBlsfallpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfallpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfallpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasNilaiBlsfallpgList.BL_mt.Visible) { // subAktivitasNilaiBlsfallpgList.BL_mt.Visible (begin)
        <td data-name="BL_mt" @Html.Raw(subAktivitasNilaiBlsfallpgList.BL_mt.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfallpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfallpgList.RowCount)_SubAktivitasNilaiBLSFALLPG_BL_mt" class="el_SubAktivitasNilaiBLSFALLPG_BL_mt">
<span @Html.Raw(subAktivitasNilaiBlsfallpgList.BL_mt.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfallpgList.BL_mt.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfallpgList.BL_mt.Visible (end) *@
    @if (subAktivitasNilaiBlsfallpgList.SFAL_mt.Visible) { // subAktivitasNilaiBlsfallpgList.SFAL_mt.Visible (begin)
        <td data-name="SFAL_mt" @Html.Raw(subAktivitasNilaiBlsfallpgList.SFAL_mt.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfallpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfallpgList.RowCount)_SubAktivitasNilaiBLSFALLPG_SFAL_mt" class="el_SubAktivitasNilaiBLSFALLPG_SFAL_mt">
<span @Html.Raw(subAktivitasNilaiBlsfallpgList.SFAL_mt.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfallpgList.SFAL_mt.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfallpgList.SFAL_mt.Visible (end) *@
    @if (subAktivitasNilaiBlsfallpgList.etlDate.Visible) { // subAktivitasNilaiBlsfallpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasNilaiBlsfallpgList.etlDate.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfallpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfallpgList.RowCount)_SubAktivitasNilaiBLSFALLPG_etlDate" class="el_SubAktivitasNilaiBLSFALLPG_etlDate">
<span @Html.Raw(subAktivitasNilaiBlsfallpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfallpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfallpgList.etlDate.Visible (end) *@
    @if (subAktivitasNilaiBlsfallpgList.userInput.Visible) { // subAktivitasNilaiBlsfallpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasNilaiBlsfallpgList.userInput.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfallpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfallpgList.RowCount)_SubAktivitasNilaiBLSFALLPG_userInput" class="el_SubAktivitasNilaiBLSFALLPG_userInput">
<span @Html.Raw(subAktivitasNilaiBlsfallpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfallpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfallpgList.userInput.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasNilaiBlsfallpgList.ListOptions.RenderBody("right", subAktivitasNilaiBlsfallpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasNilaiBlsfallpgList.RowIndex, "$rowindex$"))
        subAktivitasNilaiBlsfallpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasNilaiBlsfallpgList.IsCopy || subAktivitasNilaiBlsfallpgList.IsAdd) && subAktivitasNilaiBlsfallpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasNilaiBlsfallpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasNilaiBlsfallpgList.CurrentAction) && !subAktivitasNilaiBlsfallpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasNilaiBlsfallpgList.CloseRecordset(); }
@if (!subAktivitasNilaiBlsfallpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasNilaiBlsfallpgList.IsGridAdd && !(subAktivitasNilaiBlsfallpgList.IsGridEdit && subAktivitasNilaiBlsfallpgList.ModalGridEdit) && !subAktivitasNilaiBlsfallpgList.IsMultiEdit) {
@Html.Raw(subAktivitasNilaiBlsfallpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasNilaiBlsfallpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasNilaiBlsfallpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasNilaiBlsfallpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasNilaiBlsfallpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasNilaiBlsfallpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasNilaiBLSFALLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
