@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputNilaiBdAdd.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputNilaiBdAdd.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputNilaiBdAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputNilaiBD: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fSubAktivitasFormInputNilaiBDadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputNilaiBDadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["BD_KLObs", [fields.BD_KLObs.visible && fields.BD_KLObs.required ? ew.Validators.required(fields.BD_KLObs.caption) : null], fields.BD_KLObs.isInvalid],
            ["BD_KL15", [fields.BD_KL15.visible && fields.BD_KL15.required ? ew.Validators.required(fields.BD_KL15.caption) : null], fields.BD_KL15.isInvalid],
            ["BD_Barrels", [fields.BD_Barrels.visible && fields.BD_Barrels.required ? ew.Validators.required(fields.BD_Barrels.caption) : null], fields.BD_Barrels.isInvalid],
            ["BD_LT", [fields.BD_LT.visible && fields.BD_LT.required ? ew.Validators.required(fields.BD_LT.caption) : null], fields.BD_LT.isInvalid],
            ["BD_MT", [fields.BD_MT.visible && fields.BD_MT.required ? ew.Validators.required(fields.BD_MT.caption) : null], fields.BD_MT.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null, ew.Validators.integer], fields.StatusAktivitas.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "idAktifitas": @Html.Raw(subAktivitasFormInputNilaiBdAdd.idAktifitas.ToClientList(subAktivitasFormInputNilaiBdAdd)),
            "idProses": @Html.Raw(subAktivitasFormInputNilaiBdAdd.idProses.ToClientList(subAktivitasFormInputNilaiBdAdd)),
            "StatusAktivitas": @Html.Raw(subAktivitasFormInputNilaiBdAdd.StatusAktivitas.ToClientList(subAktivitasFormInputNilaiBdAdd)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasFormInputNilaiBdAdd.ShowPageHeader()
@subAktivitasFormInputNilaiBdAdd.ShowMessages()
<form name="fSubAktivitasFormInputNilaiBDadd" id="fSubAktivitasFormInputNilaiBDadd" class="@(subAktivitasFormInputNilaiBdAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputNilaiBdAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasFormInputNilaiBdAdd.OldKeyName)" value="@Html.Raw(subAktivitasFormInputNilaiBdAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (subAktivitasFormInputNilaiBdAdd.idAktifitas.Visible) { // subAktivitasFormInputNilaiBdAdd.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasFormInputNilaiBdAdd.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiBD_idAktifitas" class="@(subAktivitasFormInputNilaiBdAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiBdAdd.idAktifitas.Caption)@Html.Raw(subAktivitasFormInputNilaiBdAdd.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiBdAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiBdAdd.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBD_idAktifitas">
<span>@{
    if (IsRTL) {
        subAktivitasFormInputNilaiBdAdd.idAktifitas.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_idAktifitas" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_idAktifitas" id="sv_x_idAktifitas" value="@(RemoveHtml(ConvertToString(subAktivitasFormInputNilaiBdAdd.idAktifitas.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBdAdd.idAktifitas.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBdAdd.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiBdAdd.idAktifitas.FormatPattern)" @Html.Raw(subAktivitasFormInputNilaiBdAdd.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasFormInputNilaiBD" data-field="x_idAktifitas" data-input="sv_x_idAktifitas" data-value-separator="@(subAktivitasFormInputNilaiBdAdd.idAktifitas.DisplayValueSeparatorAttribute)" name="x_idAktifitas" id="x_idAktifitas" value="@(HtmlEncode(subAktivitasFormInputNilaiBdAdd.idAktifitas.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasFormInputNilaiBdAdd.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiBdAdd.idAktifitas.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasFormInputNilaiBDadd"], function() {
    fSubAktivitasFormInputNilaiBDadd.createAutoSuggest(Object.assign({"id":"x_idAktifitas","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasFormInputNilaiBdAdd.idAktifitas.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasFormInputNilaiBD.fields.idAktifitas.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasFormInputNilaiBdAdd.idAktifitas.Lookup.GetParamTag(subAktivitasFormInputNilaiBdAdd, "p_x_idAktifitas"))
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiBdAdd.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputNilaiBdAdd.idProses.Visible) { // subAktivitasFormInputNilaiBdAdd.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasFormInputNilaiBdAdd.idProses.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiBD_idProses" class="@(subAktivitasFormInputNilaiBdAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiBdAdd.idProses.Caption)@Html.Raw(subAktivitasFormInputNilaiBdAdd.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiBdAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiBdAdd.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBD_idProses">
<span>@{
    if (IsRTL) {
        subAktivitasFormInputNilaiBdAdd.idProses.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_idProses" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_idProses" id="sv_x_idProses" value="@(RemoveHtml(ConvertToString(subAktivitasFormInputNilaiBdAdd.idProses.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBdAdd.idProses.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBdAdd.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiBdAdd.idProses.FormatPattern)" @Html.Raw(subAktivitasFormInputNilaiBdAdd.idProses.EditAttributes) aria-describedby="x_idProses_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasFormInputNilaiBD" data-field="x_idProses" data-input="sv_x_idProses" data-value-separator="@(subAktivitasFormInputNilaiBdAdd.idProses.DisplayValueSeparatorAttribute)" name="x_idProses" id="x_idProses" value="@(HtmlEncode(subAktivitasFormInputNilaiBdAdd.idProses.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasFormInputNilaiBdAdd.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiBdAdd.idProses.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasFormInputNilaiBDadd"], function() {
    fSubAktivitasFormInputNilaiBDadd.createAutoSuggest(Object.assign({"id":"x_idProses","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasFormInputNilaiBdAdd.idProses.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasFormInputNilaiBD.fields.idProses.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasFormInputNilaiBdAdd.idProses.Lookup.GetParamTag(subAktivitasFormInputNilaiBdAdd, "p_x_idProses"))
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiBdAdd.idProses.Visible (end) *@
@if (subAktivitasFormInputNilaiBdAdd.NoReferensi.Visible) { // subAktivitasFormInputNilaiBdAdd.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasFormInputNilaiBdAdd.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiBD_NoReferensi" for="x_NoReferensi" class="@(subAktivitasFormInputNilaiBdAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiBdAdd.NoReferensi.Caption)@Html.Raw(subAktivitasFormInputNilaiBdAdd.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiBdAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiBdAdd.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBD_NoReferensi">
<input type="@(subAktivitasFormInputNilaiBdAdd.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasFormInputNilaiBD" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasFormInputNilaiBdAdd.NoReferensi.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBdAdd.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiBdAdd.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiBdAdd.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasFormInputNilaiBdAdd.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiBdAdd.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiBdAdd.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputNilaiBdAdd.BD_KLObs.Visible) { // subAktivitasFormInputNilaiBdAdd.BD_KLObs.Visible (begin)
    <div id="r_BD_KLObs" @Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_KLObs.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiBD_BD_KLObs" for="x_BD_KLObs" class="@(subAktivitasFormInputNilaiBdAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_KLObs.Caption)@Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_KLObs.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiBdAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_KLObs.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBD_BD_KLObs">
<input type="@(subAktivitasFormInputNilaiBdAdd.BD_KLObs.InputTextType)" name="x_BD_KLObs" id="x_BD_KLObs" data-table="SubAktivitasFormInputNilaiBD" data-field="x_BD_KLObs" value="@Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_KLObs.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBdAdd.BD_KLObs.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiBdAdd.BD_KLObs.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_KLObs.EditAttributes) aria-describedby="x_BD_KLObs_help">
@Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_KLObs.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_KLObs.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiBdAdd.BD_KLObs.Visible (end) *@
@if (subAktivitasFormInputNilaiBdAdd.BD_KL15.Visible) { // subAktivitasFormInputNilaiBdAdd.BD_KL15.Visible (begin)
    <div id="r_BD_KL15" @Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_KL15.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiBD_BD_KL15" for="x_BD_KL15" class="@(subAktivitasFormInputNilaiBdAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_KL15.Caption)@Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_KL15.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiBdAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_KL15.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBD_BD_KL15">
<input type="@(subAktivitasFormInputNilaiBdAdd.BD_KL15.InputTextType)" name="x_BD_KL15" id="x_BD_KL15" data-table="SubAktivitasFormInputNilaiBD" data-field="x_BD_KL15" value="@Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_KL15.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBdAdd.BD_KL15.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiBdAdd.BD_KL15.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_KL15.EditAttributes) aria-describedby="x_BD_KL15_help">
@Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_KL15.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_KL15.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiBdAdd.BD_KL15.Visible (end) *@
@if (subAktivitasFormInputNilaiBdAdd.BD_Barrels.Visible) { // subAktivitasFormInputNilaiBdAdd.BD_Barrels.Visible (begin)
    <div id="r_BD_Barrels" @Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_Barrels.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiBD_BD_Barrels" for="x_BD_Barrels" class="@(subAktivitasFormInputNilaiBdAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_Barrels.Caption)@Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_Barrels.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiBdAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_Barrels.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBD_BD_Barrels">
<input type="@(subAktivitasFormInputNilaiBdAdd.BD_Barrels.InputTextType)" name="x_BD_Barrels" id="x_BD_Barrels" data-table="SubAktivitasFormInputNilaiBD" data-field="x_BD_Barrels" value="@Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_Barrels.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBdAdd.BD_Barrels.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiBdAdd.BD_Barrels.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_Barrels.EditAttributes) aria-describedby="x_BD_Barrels_help">
@Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_Barrels.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_Barrels.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiBdAdd.BD_Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiBdAdd.BD_LT.Visible) { // subAktivitasFormInputNilaiBdAdd.BD_LT.Visible (begin)
    <div id="r_BD_LT" @Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_LT.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiBD_BD_LT" for="x_BD_LT" class="@(subAktivitasFormInputNilaiBdAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_LT.Caption)@Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_LT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiBdAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_LT.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBD_BD_LT">
<input type="@(subAktivitasFormInputNilaiBdAdd.BD_LT.InputTextType)" name="x_BD_LT" id="x_BD_LT" data-table="SubAktivitasFormInputNilaiBD" data-field="x_BD_LT" value="@Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_LT.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBdAdd.BD_LT.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiBdAdd.BD_LT.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_LT.EditAttributes) aria-describedby="x_BD_LT_help">
@Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_LT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_LT.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiBdAdd.BD_LT.Visible (end) *@
@if (subAktivitasFormInputNilaiBdAdd.BD_MT.Visible) { // subAktivitasFormInputNilaiBdAdd.BD_MT.Visible (begin)
    <div id="r_BD_MT" @Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_MT.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiBD_BD_MT" for="x_BD_MT" class="@(subAktivitasFormInputNilaiBdAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_MT.Caption)@Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_MT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiBdAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_MT.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBD_BD_MT">
<input type="@(subAktivitasFormInputNilaiBdAdd.BD_MT.InputTextType)" name="x_BD_MT" id="x_BD_MT" data-table="SubAktivitasFormInputNilaiBD" data-field="x_BD_MT" value="@Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_MT.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBdAdd.BD_MT.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiBdAdd.BD_MT.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_MT.EditAttributes) aria-describedby="x_BD_MT_help">
@Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_MT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiBdAdd.BD_MT.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiBdAdd.BD_MT.Visible (end) *@
@if (subAktivitasFormInputNilaiBdAdd.userInput.Visible) { // subAktivitasFormInputNilaiBdAdd.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasFormInputNilaiBdAdd.userInput.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiBD_userInput" for="x_userInput" class="@(subAktivitasFormInputNilaiBdAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiBdAdd.userInput.Caption)@Html.Raw(subAktivitasFormInputNilaiBdAdd.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiBdAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiBdAdd.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBD_userInput">
<input type="@(subAktivitasFormInputNilaiBdAdd.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasFormInputNilaiBD" data-field="x_userInput" value="@Html.Raw(subAktivitasFormInputNilaiBdAdd.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBdAdd.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiBdAdd.userInput.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiBdAdd.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasFormInputNilaiBdAdd.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiBdAdd.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiBdAdd.userInput.Visible (end) *@
@if (subAktivitasFormInputNilaiBdAdd.etlDate.Visible) { // subAktivitasFormInputNilaiBdAdd.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasFormInputNilaiBdAdd.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiBD_etlDate" for="x_etlDate" class="@(subAktivitasFormInputNilaiBdAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiBdAdd.etlDate.Caption)@Html.Raw(subAktivitasFormInputNilaiBdAdd.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiBdAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiBdAdd.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBD_etlDate">
<input type="@(subAktivitasFormInputNilaiBdAdd.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasFormInputNilaiBD" data-field="x_etlDate" value="@Html.Raw(subAktivitasFormInputNilaiBdAdd.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBdAdd.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiBdAdd.etlDate.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiBdAdd.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasFormInputNilaiBdAdd.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiBdAdd.etlDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputNilaiBdAdd.etlDate.ReadOnly && !subAktivitasFormInputNilaiBdAdd.etlDate.Disabled && !subAktivitasFormInputNilaiBdAdd.etlDate.EditAttrs.Is("readonly") && !subAktivitasFormInputNilaiBdAdd.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputNilaiBDadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputNilaiBDadd", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiBdAdd.etlDate.Visible (end) *@
@if (subAktivitasFormInputNilaiBdAdd.LastUpdatedBy.Visible) { // subAktivitasFormInputNilaiBdAdd.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputNilaiBdAdd.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiBD_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasFormInputNilaiBdAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiBdAdd.LastUpdatedBy.Caption)@Html.Raw(subAktivitasFormInputNilaiBdAdd.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiBdAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiBdAdd.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBD_LastUpdatedBy">
<input type="@(subAktivitasFormInputNilaiBdAdd.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasFormInputNilaiBD" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasFormInputNilaiBdAdd.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBdAdd.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiBdAdd.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiBdAdd.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasFormInputNilaiBdAdd.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiBdAdd.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiBdAdd.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputNilaiBdAdd.lastUpdatedDate.Visible) { // subAktivitasFormInputNilaiBdAdd.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputNilaiBdAdd.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiBD_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasFormInputNilaiBdAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiBdAdd.lastUpdatedDate.Caption)@Html.Raw(subAktivitasFormInputNilaiBdAdd.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiBdAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiBdAdd.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBD_lastUpdatedDate">
<input type="@(subAktivitasFormInputNilaiBdAdd.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasFormInputNilaiBD" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasFormInputNilaiBdAdd.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBdAdd.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiBdAdd.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiBdAdd.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasFormInputNilaiBdAdd.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiBdAdd.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputNilaiBdAdd.lastUpdatedDate.ReadOnly && !subAktivitasFormInputNilaiBdAdd.lastUpdatedDate.Disabled && !subAktivitasFormInputNilaiBdAdd.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasFormInputNilaiBdAdd.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputNilaiBDadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputNilaiBDadd", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiBdAdd.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputNilaiBdAdd.StatusAktivitas.Visible) { // subAktivitasFormInputNilaiBdAdd.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subAktivitasFormInputNilaiBdAdd.StatusAktivitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiBD_StatusAktivitas" class="@(subAktivitasFormInputNilaiBdAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiBdAdd.StatusAktivitas.Caption)@Html.Raw(subAktivitasFormInputNilaiBdAdd.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiBdAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiBdAdd.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBD_StatusAktivitas">
<span>@{
    if (IsRTL) {
        subAktivitasFormInputNilaiBdAdd.StatusAktivitas.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_StatusAktivitas" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_StatusAktivitas" id="sv_x_StatusAktivitas" value="@(RemoveHtml(ConvertToString(subAktivitasFormInputNilaiBdAdd.StatusAktivitas.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBdAdd.StatusAktivitas.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBdAdd.StatusAktivitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiBdAdd.StatusAktivitas.FormatPattern)" @Html.Raw(subAktivitasFormInputNilaiBdAdd.StatusAktivitas.EditAttributes) aria-describedby="x_StatusAktivitas_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasFormInputNilaiBD" data-field="x_StatusAktivitas" data-input="sv_x_StatusAktivitas" data-value-separator="@(subAktivitasFormInputNilaiBdAdd.StatusAktivitas.DisplayValueSeparatorAttribute)" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@(HtmlEncode(subAktivitasFormInputNilaiBdAdd.StatusAktivitas.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasFormInputNilaiBdAdd.StatusAktivitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiBdAdd.StatusAktivitas.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasFormInputNilaiBDadd"], function() {
    fSubAktivitasFormInputNilaiBDadd.createAutoSuggest(Object.assign({"id":"x_StatusAktivitas","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasFormInputNilaiBdAdd.StatusAktivitas.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasFormInputNilaiBD.fields.StatusAktivitas.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasFormInputNilaiBdAdd.StatusAktivitas.Lookup.GetParamTag(subAktivitasFormInputNilaiBdAdd, "p_x_StatusAktivitas"))
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiBdAdd.StatusAktivitas.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasFormInputNilaiBdAdd.CloseRecordset(); }
@Html.Raw(subAktivitasFormInputNilaiBdAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasFormInputNilaiBdAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasFormInputNilaiBDadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasFormInputNilaiBDadd" data-href="@AppPath(subAktivitasFormInputNilaiBdAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasFormInputNilaiBdAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@subAktivitasFormInputNilaiBdAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputNilaiBD");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
