@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputMonitoringStockStsPymSbbmEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputMonitoringStockStsPymSbbmEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasFormInputMonitoringStockStsPymSbbmEdit.ShowPageHeader()
@subAktivitasFormInputMonitoringStockStsPymSbbmEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasFormInputMonitoringStockSTSPymSBBMedit" id="fSubAktivitasFormInputMonitoringStockSTSPymSBBMedit" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputMonitoringStockSTSPymSBBM: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasFormInputMonitoringStockSTSPymSBBMedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputMonitoringStockSTSPymSBBMedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["NomorTangki", [fields.NomorTangki.visible && fields.NomorTangki.required ? ew.Validators.required(fields.NomorTangki.caption) : null], fields.NomorTangki.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["Aktivitas2", [fields.Aktivitas2.visible && fields.Aktivitas2.required ? ew.Validators.required(fields.Aktivitas2.caption) : null], fields.Aktivitas2.isInvalid],
            ["QuantityAwal", [fields.QuantityAwal.visible && fields.QuantityAwal.required ? ew.Validators.required(fields.QuantityAwal.caption) : null], fields.QuantityAwal.isInvalid],
            ["QuantityAkhir", [fields.QuantityAkhir.visible && fields.QuantityAkhir.required ? ew.Validators.required(fields.QuantityAkhir.caption) : null], fields.QuantityAkhir.isInvalid],
            ["Flowrate", [fields.Flowrate.visible && fields.Flowrate.required ? ew.Validators.required(fields.Flowrate.caption) : null], fields.Flowrate.isInvalid],
            ["Keterangan", [fields.Keterangan.visible && fields.Keterangan.required ? ew.Validators.required(fields.Keterangan.caption) : null], fields.Keterangan.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["TanggalQuantityAwal", [fields.TanggalQuantityAwal.visible && fields.TanggalQuantityAwal.required ? ew.Validators.required(fields.TanggalQuantityAwal.caption) : null, ew.Validators.datetime(fields.TanggalQuantityAwal.clientFormatPattern)], fields.TanggalQuantityAwal.isInvalid],
            ["TanggalQuantityAkhir", [fields.TanggalQuantityAkhir.visible && fields.TanggalQuantityAkhir.required ? ew.Validators.required(fields.TanggalQuantityAkhir.caption) : null, ew.Validators.datetime(fields.TanggalQuantityAkhir.clientFormatPattern)], fields.TanggalQuantityAkhir.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.OldKeyName)" value="@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasFormInputMonitoringStockStsPymSbbmEdit.id.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.id.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_id" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.id.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.id.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_id">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasFormInputMonitoringStockSTSPymSBBM" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmEdit.id.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSbbmEdit.idProses.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_idProses" for="x_idProses" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.idProses.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_idProses">
<input type="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubAktivitasFormInputMonitoringStockSTSPymSBBM" data-field="x_idProses" value="@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.idProses.FormatPattern)"@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmEdit.idProses.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSbbmEdit.idAktifitas.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_idAktifitas" for="x_idAktifitas" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.idAktifitas.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_idAktifitas">
<input type="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubAktivitasFormInputMonitoringStockSTSPymSBBM" data-field="x_idAktifitas" value="@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.idAktifitas.FormatPattern)"@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmEdit.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSbbmEdit.NoReferensi.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_NoReferensi" for="x_NoReferensi" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.NoReferensi.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_NoReferensi">
<input type="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasFormInputMonitoringStockSTSPymSBBM" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.NoReferensi.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmEdit.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSbbmEdit.NomorTangki.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmEdit.NomorTangki.Visible (begin)
    <div id="r_NomorTangki" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.NomorTangki.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_NomorTangki" for="x_NomorTangki" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.NomorTangki.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.NomorTangki.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.NomorTangki.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_NomorTangki">
<input type="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.NomorTangki.InputTextType)" name="x_NomorTangki" id="x_NomorTangki" data-table="SubAktivitasFormInputMonitoringStockSTSPymSBBM" data-field="x_NomorTangki" value="@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.NomorTangki.EditValue)" size="30" maxlength="200" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.NomorTangki.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.NomorTangki.FormatPattern)"@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.NomorTangki.EditAttributes) aria-describedby="x_NomorTangki_help">
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.NomorTangki.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.NomorTangki.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmEdit.NomorTangki.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Produk.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Produk.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_Produk" for="x_Produk" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Produk.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Produk.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_Produk">
<input type="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasFormInputMonitoringStockSTSPymSBBM" data-field="x_Produk" value="@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Produk.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Produk.FormatPattern)"@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Produk.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Aktivitas2.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Aktivitas2.Visible (begin)
    <div id="r_Aktivitas2" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Aktivitas2.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_Aktivitas2" for="x_Aktivitas2" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Aktivitas2.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Aktivitas2.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Aktivitas2.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_Aktivitas2">
<input type="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Aktivitas2.InputTextType)" name="x_Aktivitas2" id="x_Aktivitas2" data-table="SubAktivitasFormInputMonitoringStockSTSPymSBBM" data-field="x_Aktivitas2" value="@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Aktivitas2.EditValue)" size="30" maxlength="200" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Aktivitas2.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Aktivitas2.FormatPattern)"@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Aktivitas2.EditAttributes) aria-describedby="x_Aktivitas2_help">
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Aktivitas2.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Aktivitas2.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Aktivitas2.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSbbmEdit.QuantityAwal.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmEdit.QuantityAwal.Visible (begin)
    <div id="r_QuantityAwal" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.QuantityAwal.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_QuantityAwal" for="x_QuantityAwal" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.QuantityAwal.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.QuantityAwal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.QuantityAwal.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_QuantityAwal">
<input type="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.QuantityAwal.InputTextType)" name="x_QuantityAwal" id="x_QuantityAwal" data-table="SubAktivitasFormInputMonitoringStockSTSPymSBBM" data-field="x_QuantityAwal" value="@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.QuantityAwal.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.QuantityAwal.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.QuantityAwal.FormatPattern)"@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.QuantityAwal.EditAttributes) aria-describedby="x_QuantityAwal_help">
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.QuantityAwal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.QuantityAwal.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmEdit.QuantityAwal.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSbbmEdit.QuantityAkhir.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmEdit.QuantityAkhir.Visible (begin)
    <div id="r_QuantityAkhir" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.QuantityAkhir.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_QuantityAkhir" for="x_QuantityAkhir" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.QuantityAkhir.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.QuantityAkhir.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.QuantityAkhir.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_QuantityAkhir">
<input type="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.QuantityAkhir.InputTextType)" name="x_QuantityAkhir" id="x_QuantityAkhir" data-table="SubAktivitasFormInputMonitoringStockSTSPymSBBM" data-field="x_QuantityAkhir" value="@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.QuantityAkhir.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.QuantityAkhir.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.QuantityAkhir.FormatPattern)"@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.QuantityAkhir.EditAttributes) aria-describedby="x_QuantityAkhir_help">
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.QuantityAkhir.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.QuantityAkhir.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmEdit.QuantityAkhir.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Flowrate.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Flowrate.Visible (begin)
    <div id="r_Flowrate" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Flowrate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_Flowrate" for="x_Flowrate" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Flowrate.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Flowrate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Flowrate.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_Flowrate">
<input type="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Flowrate.InputTextType)" name="x_Flowrate" id="x_Flowrate" data-table="SubAktivitasFormInputMonitoringStockSTSPymSBBM" data-field="x_Flowrate" value="@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Flowrate.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Flowrate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Flowrate.FormatPattern)"@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Flowrate.EditAttributes) aria-describedby="x_Flowrate_help">
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Flowrate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Flowrate.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Flowrate.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Keterangan.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Keterangan.Visible (begin)
    <div id="r_Keterangan" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Keterangan.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_Keterangan" for="x_Keterangan" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Keterangan.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Keterangan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Keterangan.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_Keterangan">
<textarea data-table="SubAktivitasFormInputMonitoringStockSTSPymSBBM" data-field="x_Keterangan" name="x_Keterangan" id="x_Keterangan" cols="35" rows="4" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Keterangan.PlaceHolder))"@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Keterangan.EditAttributes) aria-describedby="x_Keterangan_help">@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Keterangan.EditValue)</textarea>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Keterangan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Keterangan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmEdit.Keterangan.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSbbmEdit.userInput.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.userInput.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_userInput" for="x_userInput" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.userInput.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_userInput">
<input type="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasFormInputMonitoringStockSTSPymSBBM" data-field="x_userInput" value="@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.userInput.FormatPattern)"@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmEdit.userInput.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSbbmEdit.etlDate.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_etlDate" for="x_etlDate" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.etlDate.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_etlDate">
<input type="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasFormInputMonitoringStockSTSPymSBBM" data-field="x_etlDate" value="@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.etlDate.FormatPattern)"@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.etlDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputMonitoringStockStsPymSbbmEdit.etlDate.ReadOnly && !subAktivitasFormInputMonitoringStockStsPymSbbmEdit.etlDate.Disabled && !subAktivitasFormInputMonitoringStockStsPymSbbmEdit.etlDate.EditAttrs.Is("readonly") && !subAktivitasFormInputMonitoringStockStsPymSbbmEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputMonitoringStockSTSPymSBBMedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputMonitoringStockSTSPymSBBMedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmEdit.etlDate.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSbbmEdit.LastUpdatedBy.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_LastUpdatedBy">
<input type="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasFormInputMonitoringStockSTSPymSBBM" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSbbmEdit.lastUpdatedDate.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_lastUpdatedDate">
<input type="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasFormInputMonitoringStockSTSPymSBBM" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputMonitoringStockStsPymSbbmEdit.lastUpdatedDate.ReadOnly && !subAktivitasFormInputMonitoringStockStsPymSbbmEdit.lastUpdatedDate.Disabled && !subAktivitasFormInputMonitoringStockStsPymSbbmEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasFormInputMonitoringStockStsPymSbbmEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputMonitoringStockSTSPymSBBMedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputMonitoringStockSTSPymSBBMedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAwal.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAwal.Visible (begin)
    <div id="r_TanggalQuantityAwal" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAwal.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_TanggalQuantityAwal" for="x_TanggalQuantityAwal" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAwal.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAwal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAwal.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_TanggalQuantityAwal">
<input type="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAwal.InputTextType)" name="x_TanggalQuantityAwal" id="x_TanggalQuantityAwal" data-table="SubAktivitasFormInputMonitoringStockSTSPymSBBM" data-field="x_TanggalQuantityAwal" value="@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAwal.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAwal.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAwal.FormatPattern)"@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAwal.EditAttributes) aria-describedby="x_TanggalQuantityAwal_help">
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAwal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAwal.GetErrorMessage())</div>
@if (!subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAwal.ReadOnly && !subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAwal.Disabled && !subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAwal.EditAttrs.Is("readonly") && !subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAwal.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputMonitoringStockSTSPymSBBMedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputMonitoringStockSTSPymSBBMedit", "x_TanggalQuantityAwal", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAwal.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAkhir.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAkhir.Visible (begin)
    <div id="r_TanggalQuantityAkhir" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAkhir.RowAttributes)>
        <label id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_TanggalQuantityAkhir" for="x_TanggalQuantityAkhir" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAkhir.Caption)@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAkhir.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAkhir.CellAttributes)>
<span id="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_TanggalQuantityAkhir">
<input type="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAkhir.InputTextType)" name="x_TanggalQuantityAkhir" id="x_TanggalQuantityAkhir" data-table="SubAktivitasFormInputMonitoringStockSTSPymSBBM" data-field="x_TanggalQuantityAkhir" value="@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAkhir.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAkhir.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAkhir.FormatPattern)"@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAkhir.EditAttributes) aria-describedby="x_TanggalQuantityAkhir_help">
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAkhir.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAkhir.GetErrorMessage())</div>
@if (!subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAkhir.ReadOnly && !subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAkhir.Disabled && !subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAkhir.EditAttrs.Is("readonly") && !subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAkhir.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputMonitoringStockSTSPymSBBMedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputMonitoringStockSTSPymSBBMedit", "x_TanggalQuantityAkhir", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmEdit.TanggalQuantityAkhir.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasFormInputMonitoringStockStsPymSbbmEdit.CloseRecordset(); }
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasFormInputMonitoringStockSTSPymSBBMedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasFormInputMonitoringStockSTSPymSBBMedit" data-href="@AppPath(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasFormInputMonitoringStockStsPymSbbmEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputMonitoringStockSTSPymSBBM");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
