@{
    // View
    View = this;

    // Check action result
    if (subAktivitasKapalBerangkatStslpgEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasKapalBerangkatStslpgEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasKapalBerangkatStslpgEdit.ShowPageHeader()
@subAktivitasKapalBerangkatStslpgEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasKapalBerangkatSTSLPGedit" id="fSubAktivitasKapalBerangkatSTSLPGedit" class="@(subAktivitasKapalBerangkatStslpgEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasKapalBerangkatStslpgEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasKapalBerangkatSTSLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasKapalBerangkatSTSLPGedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasKapalBerangkatSTSLPGedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null], fields.idAktifitas.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null], fields.StatusAktivitas.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null], fields.lastUpdatedDate.isInvalid],
            ["tglBerangkat", [fields.tglBerangkat.visible && fields.tglBerangkat.required ? ew.Validators.required(fields.tglBerangkat.caption) : null, ew.Validators.datetime(fields.tglBerangkat.clientFormatPattern)], fields.tglBerangkat.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Client script
    // Write your client script here, no need to add script tags.
    var parent_url = ew.PATH_BASE;
    var IdProses = "@subAktivitasKapalBerangkatStslpgEdit.idProses.CurrentValue";
    var NoReferensi = "@subAktivitasKapalBerangkatStslpgEdit.NoReferensi.CurrentValue";
    function handleCustomSubmit(status) {
        let idAktivitas = $("#x_idAktifitas").val();
        const originalStatus = document.querySelector('#el_SubAktivitasKapalBerangkatSTSLPG_StatusAktivitas .form-control-plaintext').textContent;
        $.ajax({
            url: parent_url + `api/LookUpList/check_valid_status_aktivitas?idAktivitas=${idAktivitas}&originalStatus=${originalStatus}`,
            type: 'GET',
            beforeSend: function () {
                showLoading();
            },
            success: function (response) {
                if (!response.IsValid){
                    hideLoading();
                    ew.alert(response.Message ?? "Status aktivitas telah diubah oleh pengguna lain");
                    return;
                } else {
                    let form = $("#fSubAktivitasKapalBerangkatSTSLPGedit");
                    $.ajax({
                        url: form.attr("action"),
                        type: form.attr("method"),
                        data: form.serialize(),
                        success: function (response) {
                            updateStatus(idAktivitas, status);
                        },
                        error: function (xhr, status, error) {
                            hideLoading();
                            ew.alert("Gagal menyimpan data.");
                            console.error("Form submit gagal:", error);
                        }
                    });  
                }
            },
            error: function (xhr, status, error) {
                hideLoading();
                ew.alert("Gagal menyimpan data.");
                console.error("Form submit gagal:", error);
            }
        }); 
    }
    function updateStatus(idAktivitas, status) {
        $.ajax({
            url: parent_url + `api/LookUpList/update_status_aktivitas?idAktivitas=${idAktivitas}&statusAktivitas=${status}`,
            type: 'POST',
            success: function () {
                console.log("Status berhasil diperbarui.");
                if (status == "Completed" || status == "Completed Edit") {
                    window.location.href = `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`;
                } else {
                    location.reload();
                }
            },
            error: function (xhr, status, error) {
                ew.alert("Status gagal diperbarui.");
                console.error("Update status gagal:", error);
            },
            complete: function () {
                hideLoading();
            }
        });
    }
    function reverseStatus(status, catatan) {
        showLoading();
        let idAktivitas = $("#x_idAktifitas").val();
        $.ajax({
            url: parent_url + `api/LookUpList/update_status_aktivitas-v2`,
            type: 'POST',
            data: JSON.stringify({ IdAktivitas: idAktivitas, StatusAktivitas: status, Catatan: catatan ?? null }),
            contentType: 'application/json',
            success: function () {
                setTimeout(function () {
                    window.location.href = `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`;
                }, 1000);
            },
            error: function (xhr, status, error) {
                ew.alert("Status gagal diperbarui.");
                console.error("Update status gagal:", error);
            },
            complete: function () {
                hideLoading();
            }
        });
    }
    $(document).on("click", "#btn-draft", function () {
        handleCustomSubmit("Draft");
    });
    $(document).on("click", "#btn-completed", function () {
        handleCustomSubmit("Completed");
    });
    $(document).on("click", "#btn-editing", function () {
        handleCustomSubmit("Editing");
    });
    $(document).on("click", "#btn-completedEdit", function () {
        handleCustomSubmit("Completed Edit");
    });
    $(document).on("submit", "#reverseStatusEditingModalForm", function (e) {
        e.preventDefault();
        let catatanText = $("#catatanReverseStatusEditing").val();
        reverseStatus("Editing", catatanText);
    });
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasKapalBerangkatStslpgEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasKapalBerangkatStslpgEdit.OldKeyName)" value="@Html.Raw(subAktivitasKapalBerangkatStslpgEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasKapalBerangkatStslpgEdit.NoReferensi.Visible) { // subAktivitasKapalBerangkatStslpgEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasKapalBerangkatStslpgEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasKapalBerangkatSTSLPG_NoReferensi" for="x_NoReferensi" class="@(subAktivitasKapalBerangkatStslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasKapalBerangkatStslpgEdit.NoReferensi.Caption)@Html.Raw(subAktivitasKapalBerangkatStslpgEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasKapalBerangkatStslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasKapalBerangkatStslpgEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasKapalBerangkatSTSLPG_NoReferensi">
<span @Html.Raw(subAktivitasKapalBerangkatStslpgEdit.NoReferensi.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasKapalBerangkatStslpgEdit.NoReferensi.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasKapalBerangkatSTSLPG" data-field="x_NoReferensi" data-hidden="1" name="x_NoReferensi" id="x_NoReferensi" value="@Html.Raw(HtmlEncode(subAktivitasKapalBerangkatStslpgEdit.NoReferensi.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasKapalBerangkatStslpgEdit.NoReferensi.Visible (end) *@
@if (subAktivitasKapalBerangkatStslpgEdit.idProses.Visible) { // subAktivitasKapalBerangkatStslpgEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasKapalBerangkatStslpgEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasKapalBerangkatSTSLPG_idProses" class="@(subAktivitasKapalBerangkatStslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasKapalBerangkatStslpgEdit.idProses.Caption)@Html.Raw(subAktivitasKapalBerangkatStslpgEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasKapalBerangkatStslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasKapalBerangkatStslpgEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasKapalBerangkatSTSLPG_idProses">
<span @Html.Raw(subAktivitasKapalBerangkatStslpgEdit.idProses.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasKapalBerangkatStslpgEdit.idProses.DisplayValue(subAktivitasKapalBerangkatStslpgEdit.idProses.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasKapalBerangkatSTSLPG" data-field="x_idProses" data-hidden="1" name="x_idProses" id="x_idProses" value="@Html.Raw(HtmlEncode(subAktivitasKapalBerangkatStslpgEdit.idProses.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasKapalBerangkatStslpgEdit.idProses.Visible (end) *@
@if (subAktivitasKapalBerangkatStslpgEdit.idAktifitas.Visible) { // subAktivitasKapalBerangkatStslpgEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasKapalBerangkatStslpgEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasKapalBerangkatSTSLPG_idAktifitas" class="@(subAktivitasKapalBerangkatStslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasKapalBerangkatStslpgEdit.idAktifitas.Caption)@Html.Raw(subAktivitasKapalBerangkatStslpgEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasKapalBerangkatStslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasKapalBerangkatStslpgEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasKapalBerangkatSTSLPG_idAktifitas">
<span @Html.Raw(subAktivitasKapalBerangkatStslpgEdit.idAktifitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasKapalBerangkatStslpgEdit.idAktifitas.DisplayValue(subAktivitasKapalBerangkatStslpgEdit.idAktifitas.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasKapalBerangkatSTSLPG" data-field="x_idAktifitas" data-hidden="1" name="x_idAktifitas" id="x_idAktifitas" value="@Html.Raw(HtmlEncode(subAktivitasKapalBerangkatStslpgEdit.idAktifitas.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasKapalBerangkatStslpgEdit.idAktifitas.Visible (end) *@
@if (subAktivitasKapalBerangkatStslpgEdit.StatusAktivitas.Visible) { // subAktivitasKapalBerangkatStslpgEdit.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subAktivitasKapalBerangkatStslpgEdit.StatusAktivitas.RowAttributes)>
        <label id="elh_SubAktivitasKapalBerangkatSTSLPG_StatusAktivitas" class="@(subAktivitasKapalBerangkatStslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasKapalBerangkatStslpgEdit.StatusAktivitas.Caption)@Html.Raw(subAktivitasKapalBerangkatStslpgEdit.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasKapalBerangkatStslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasKapalBerangkatStslpgEdit.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasKapalBerangkatSTSLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasKapalBerangkatStslpgEdit.StatusAktivitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasKapalBerangkatStslpgEdit.StatusAktivitas.DisplayValue(subAktivitasKapalBerangkatStslpgEdit.StatusAktivitas.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasKapalBerangkatSTSLPG" data-field="x_StatusAktivitas" data-hidden="1" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@Html.Raw(HtmlEncode(subAktivitasKapalBerangkatStslpgEdit.StatusAktivitas.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasKapalBerangkatStslpgEdit.StatusAktivitas.Visible (end) *@
@if (subAktivitasKapalBerangkatStslpgEdit.LastUpdatedBy.Visible) { // subAktivitasKapalBerangkatStslpgEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasKapalBerangkatStslpgEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasKapalBerangkatSTSLPG_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasKapalBerangkatStslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasKapalBerangkatStslpgEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasKapalBerangkatStslpgEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasKapalBerangkatStslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasKapalBerangkatStslpgEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasKapalBerangkatSTSLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasKapalBerangkatStslpgEdit.LastUpdatedBy.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasKapalBerangkatStslpgEdit.LastUpdatedBy.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasKapalBerangkatSTSLPG" data-field="x_LastUpdatedBy" data-hidden="1" name="x_LastUpdatedBy" id="x_LastUpdatedBy" value="@Html.Raw(HtmlEncode(subAktivitasKapalBerangkatStslpgEdit.LastUpdatedBy.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasKapalBerangkatStslpgEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasKapalBerangkatStslpgEdit.lastUpdatedDate.Visible) { // subAktivitasKapalBerangkatStslpgEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasKapalBerangkatStslpgEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasKapalBerangkatSTSLPG_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasKapalBerangkatStslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasKapalBerangkatStslpgEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasKapalBerangkatStslpgEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasKapalBerangkatStslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasKapalBerangkatStslpgEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasKapalBerangkatSTSLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasKapalBerangkatStslpgEdit.lastUpdatedDate.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasKapalBerangkatStslpgEdit.lastUpdatedDate.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasKapalBerangkatSTSLPG" data-field="x_lastUpdatedDate" data-hidden="1" name="x_lastUpdatedDate" id="x_lastUpdatedDate" value="@Html.Raw(HtmlEncode(subAktivitasKapalBerangkatStslpgEdit.lastUpdatedDate.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasKapalBerangkatStslpgEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasKapalBerangkatStslpgEdit.tglBerangkat.Visible) { // subAktivitasKapalBerangkatStslpgEdit.tglBerangkat.Visible (begin)
    <div id="r_tglBerangkat" @Html.Raw(subAktivitasKapalBerangkatStslpgEdit.tglBerangkat.RowAttributes)>
        <label id="elh_SubAktivitasKapalBerangkatSTSLPG_tglBerangkat" for="x_tglBerangkat" class="@(subAktivitasKapalBerangkatStslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasKapalBerangkatStslpgEdit.tglBerangkat.Caption)@Html.Raw(subAktivitasKapalBerangkatStslpgEdit.tglBerangkat.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasKapalBerangkatStslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasKapalBerangkatStslpgEdit.tglBerangkat.CellAttributes)>
<span id="el_SubAktivitasKapalBerangkatSTSLPG_tglBerangkat">
<input type="@(subAktivitasKapalBerangkatStslpgEdit.tglBerangkat.InputTextType)" name="x_tglBerangkat" id="x_tglBerangkat" data-table="SubAktivitasKapalBerangkatSTSLPG" data-field="x_tglBerangkat" value="@Html.Raw(subAktivitasKapalBerangkatStslpgEdit.tglBerangkat.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasKapalBerangkatStslpgEdit.tglBerangkat.PlaceHolder))" data-format-pattern="@(subAktivitasKapalBerangkatStslpgEdit.tglBerangkat.FormatPattern)"@Html.Raw(subAktivitasKapalBerangkatStslpgEdit.tglBerangkat.EditAttributes) aria-describedby="x_tglBerangkat_help">
@Html.Raw(subAktivitasKapalBerangkatStslpgEdit.tglBerangkat.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasKapalBerangkatStslpgEdit.tglBerangkat.GetErrorMessage())</div>
@if (!subAktivitasKapalBerangkatStslpgEdit.tglBerangkat.ReadOnly && !subAktivitasKapalBerangkatStslpgEdit.tglBerangkat.Disabled && !subAktivitasKapalBerangkatStslpgEdit.tglBerangkat.EditAttrs.Is("readonly") && !subAktivitasKapalBerangkatStslpgEdit.tglBerangkat.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasKapalBerangkatSTSLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasKapalBerangkatSTSLPGedit", "x_tglBerangkat", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasKapalBerangkatStslpgEdit.tglBerangkat.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="SubAktivitasKapalBerangkatSTSLPG" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasKapalBerangkatStslpgEdit.id.CurrentValue))">
@{ subAktivitasKapalBerangkatStslpgEdit.CloseRecordset(); }
@Html.Raw(subAktivitasKapalBerangkatStslpgEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasKapalBerangkatStslpgEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasKapalBerangkatSTSLPGedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasKapalBerangkatSTSLPGedit" data-href="@AppPath(subAktivitasKapalBerangkatStslpgEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasKapalBerangkatStslpgEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasKapalBerangkatStslpgEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasKapalBerangkatSTSLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Startup script
    var IdReferensi = "@subAktivitasKapalBerangkatStslpgEdit.NoReferensi.CurrentValue";
    var IdProses = "@subAktivitasKapalBerangkatStslpgEdit.idProses.CurrentValue";
    var idAktivitas = "@subAktivitasKapalBerangkatStslpgEdit.idAktifitas.CurrentValue";
    var NamaAktivitas = $('#el_SubAktivitasKapalBerangkatSTSLPG_idAktifitas').text();
    const userLevel = "@CurrentUserLevel()";
    let currentStatusAktivitas = "";
    var parent_url = ew.PATH_BASE;
    var steps = [
        { number: 1, label: "Penerimaan", url: `${parent_url}PenerimaanList`, icon: "fa-box-open" },
        { number: 2, label: "Proses", url: `${parent_url}ProsesList?cmd=search&x_IdReferensi%5B%5D=${IdReferensi}&search=&searchtype=`, icon: "fa-gears" },
        { number: 3, label: "Aktivitas", url: `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`, icon: "fa-list-check" },
        { number: 4, label: NamaAktivitas, url: '', icon: "fa-file-circle-check" }
    ];
    var currentStep = 4;
    $("<style>")
        .prop("type", "text/css")
        .html(`
            .stepper {
                display: flex;
                counter-reset: step;
                flex-wrap: nowrap;        /* jangan pecah ke bawah */
                overflow-x: auto;         /* scroll horizontal */
                -webkit-overflow-scrolling: touch; /* smooth scroll di mobile */
                padding-bottom: 8px;      /* space biar scroll bar gak nempel */
            }
            .stepper::-webkit-scrollbar {
            height: 6px; /* tipis */
            }
            .stepper::-webkit-scrollbar-thumb {
                background-color: #ccc;
                border-radius: 3px;
            }
            .step {
                width: 150px;
                text-align: center;
                position: relative;
            }
            .step:not(:last-child)::after {
                content: '';
                position: absolute;
                top: 20px;
                right: -50%;
                width: 100%;
                height: 4px;
                background-color: #ccc;
                z-index: 0;
            }
            .step.completed:not(:last-child)::after {
                background-color: #3c6dbd;
            }
            .step-icon {
                width: 36px;
                height: 36px;
                line-height: 36px;
                border-radius: 50%;
                background: #ccc;
                display: inline-block;
                z-index: 1;
                position: relative;
                color: white;
                font-weight: bold;
            }
            .step.active .step-icon {
                background: #3c6dbd;
            }
            .step-label {
                margin-top: 8px;
                font-size: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6px;
                color: #333;
            }
            .step-label {
                color: #3c6dbd !important;
                text-decoration: none;
                margin: 0;
                padding: 0;
            }
            .step-label-not-active {
                color: #CCCCCC !important;
            }
            .ag-theme-quartz .ag-header {
                background-color: #3c6dbd !important;
            }
            .ag-theme-quartz .ag-header-cell-label {
                color: #ffffff !important;
            }
            .ag-theme-quartz .ag-icon-filter {
                color: #ffffff !important;
            }
            .rotate-down {
                transform: rotate(90deg);
                transition: transform 0.3s ease;
            }
            .rotate-right {
                transform: rotate(0deg);
                transition: transform 0.3s ease;
            }
        `)
        .appendTo("head");
    var $stepperWrapper = $('<div class="d-flex border-bottom border-2 pb-2"><div class="stepper"></div></div>');
    var $stepper = $stepperWrapper.find(".stepper");
    steps.forEach(function (step, i) {
        var isActive = step.number === currentStep;
        var isCompleted = step.number < currentStep;
        var stepClass = isActive ? "active" : isCompleted ? "completed" : "";
        var icon, labelContent, html;
        if (isActive) {
            icon = `<div class="step-icon bg-success">${step.number}</div>`;
            labelContent = `<div class="step-label"><p class="text-success mb-1"><i class="fa-solid ${step.icon} me-1 text-success"></i> ${step.label}</p></div>`;
            html = `<div class="step ${stepClass} text-success">${icon}${labelContent}</div>`;
        } else if (isCompleted) {
            icon = `<div class="step-icon" style="background: #3c6dbd;">${step.number}</div>`;
            labelContent = `<div class="step-label"><a href="${step.url}" class="text-primary"><i class="fa-solid ${step.icon} me-1"></i>${step.label}</a></div>`;
            html = `<div class="step ${stepClass}">${icon}${labelContent}</div>`;
        } else {
            icon = `<div class="step-icon">${step.number}</div>`;
            labelContent = `<div class="step-label-not-active"><p style="margin: 0;"><i class="fa-solid ${step.icon} me-1"></i>${step.label}</p></div>`;
            html = `<div class="step ${stepClass} text-secondary">${icon}${labelContent}</div>`;
        }
        $stepper.append(html);
    });
    $(".content-header .container-fluid .row").append($stepperWrapper);
    $("#btn-action").hide();
    $("#btn-cancel").html('<i class="fa-solid fa-ban"></i></i> Cancel');
    const $cancelButton = $("#btn-cancel");
    const idAktifitas = $("#x_idAktifitas").val();
    // --- log aktivitas start ---
    $('#el_SubAktivitasKapalBerangkatSTSLPG_LastUpdatedBy').addClass('d-flex gap-3');
    $('#el_SubAktivitasKapalBerangkatSTSLPG_LastUpdatedBy').append(`
        <button type="button" class="btn btn-primary ew-btn ps-2" expand-log="false">
            <i class="fa-solid fa-caret-right fa-2xl me-2 caret-icon rotate-right"></i>
            Log History
            <i class="fa-solid fa-clock-rotate-left ms-1"></i> 
        </button>
    `);
    $(document).on('click', 'button[expand-log]', function () {
        const $btn = $(this);
        const isExpanded = $btn.attr('expand-log') === 'true';
        const $row = $('#log-table-row');
        const $wrapper = $('#log-table-wrapper');
        const $caret = $btn.find('.caret-icon');
        if (!isExpanded) {
            $btn.attr('expand-log', 'true');
            $row.removeClass('d-none');
            setTimeout(() => {
                $wrapper.css({
                    maxHeight: '500px'
                });
            }, 10);
            $caret.removeClass('rotate-right').addClass('rotate-down');
        } else {
            $btn.attr('expand-log', 'false');
            $wrapper.css({
                maxHeight: '0'
            });
            setTimeout(() => {
                $row.addClass('d-none');
            }, 600);
            $caret.removeClass('rotate-down').addClass('rotate-right');
        }
    });
    if (idAktivitas && idAktivitas !== "0") {
        $.ajax({
            url: parent_url + `api/LookUpList/sub-aktivitas/startup?idAktivitas=${idAktivitas}`,
            type: 'GET',
            success: function(response) {
                // cek status
                if ($cancelButton.length){
                    let status = response.StatusAktivitas;
                    currentStatusAktivitas = status;
                    let $customButtons = ``;
                    switch (status) {
                        case "Waiting":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-draft">
                                    <i class="fas fa-save"></i> Save
                                </button>
                            `;
                            break;
                        case "Draft":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-draft">
                                    <i class="fas fa-save"></i> Save
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completed">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `
                            break;
                        case "Completed":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-editing">
                                    <i class="fa-solid fa-pen-to-square"></i> Edit
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completedEdit">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `;
                            break;
                        case "Editing":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-editing">
                                    <i class="fa-solid fa-pen-to-square"></i> Edit
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completedEdit">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `;
                            break;
                        case "Completed Edit":
                            if (userLevel === '4'){
                                $customButtons = `
                                    <button type="button" class="btn btn-warning ew-btn ml-2" id="btn-reverse-status">
                                        <i class="fa-solid fa-pen-to-square"></i> Edit 
                                    </button>
                                `;
                            }
                            break;
                    }
                    $cancelButton.before($customButtons);
                }

                // Cek is editable
                if(!response.IsEditable || response.StatusAktivitas === "Completed Edit"){
                    $("#btn-draft").hide();
                    $("#btn-editing").hide();
                    $("#btn-completed").hide();
                    $("#btn-completedEdit").hide();
                    $('input, select, textarea').prop('disabled', true);
                    $('#catatanReverseStatusEditing').prop('disabled', false);
                }

                // Log
                const mappedData = response.LogAktivitas.map(item => ({
                    Aktivitas: item.Aktivitas,
                    Username: item.UserName,
                    StatusAktivitas: item.StatusAktivitas,
                    Tanggal: item.Tanggal,
                    Catatan: item.Catatan
                }));
                $.getScript('https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js', function () {
                        $('#r_LastUpdatedBy').after(`
                            <div id="log-table-row" class="d-none row m-0">
                                <div class="p-0 col-2"></div>
                                <div class="p-0 col-10">
                                    <div id="log-table-wrapper" style="overflow: hidden; transition: all 0.6s ease; max-height: 0;">
                                        <div id="myGrid" class="ag-theme-quartz w-100 my-3" style="height: 300px;"></div>
                                    </div>
                                </div>
                            </div>
                        `);
                        const gridOptions = {
                            rowData: mappedData,
                            columnDefs: [
                                {
                                    headerName: 'No.',
                                    valueGetter: 'node.rowIndex + 1',
                                    width: 80,
                                    filter: false
                                },
                                {
                                    headerName: 'Aktivitas',
                                    field: 'Aktivitas',
                                    flex: 1
                                },
                                {
                                    headerName: 'Username',
                                    field: 'Username',
                                    flex: 1
                                },
                                {
                                    headerName: 'Status Aktivitas',
                                    field: 'StatusAktivitas',
                                    flex: 1
                                },
                                {
                                    headerName: 'Tanggal',
                                    field: 'Tanggal',
                                    flex: 1
                                },
                                {
                                    headerName: 'Catatan',
                                    field: 'Catatan',
                                    flex: 1
                                }
                            ],
                            defaultColDef: {
                                sortable: false,
                                suppressMovable: true,
                                filter: true,
                                resizable: false
                            },
                            rowSelection: 'multiple',
                            suppressRowClickSelection: true,
                            pagination: true,
                            paginationPageSize: 10
                        };
                        const myGridElement = document.querySelector('#myGrid');
                        agGrid.createGrid(myGridElement, gridOptions);
                    });
            },
            error: function(xhr, status, error) {
                ew.alert(xhr.responseJSON.message ?? "Terjadi kesalahan dalam memuat data");
            }
        });
    } else {
        console.warn("Skipping startup API: Invalid IdAktivitas");
        $('button[expand-log]').hide(); 
        $("#btn-draft, #btn-editing, #btn-completed, #btn-completedEdit").hide();
        $('input, select, textarea').prop('disabled', true);
    }
    // --- log aktivitas end ---
        // Reverse Status to Editing
            let reverseStatusModal = `<div class="modal fade" id="confirmReverseStatusEditingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header bg-primary">
                    <h1 class="modal-title fs-5" id="confirmReverseStatusEditingModalTitle">Konfirmasi Kembalikan Status</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form id="reverseStatusEditingModalForm">
                    <div class="modal-body px-2 py-1">
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Catatan:</label>
                            <textarea class="form-control" id="catatanReverseStatusEditing" required rows="4"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnReverseStatusEditingModalCancel">Batal</button>
                        <button type="submit" class="btn btn-primary" id="btnReverseStatusEditingModalSubmit">Lanjutkan</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>`
    $("body").append(reverseStatusModal);
    $("#btnReverseStatusEditingModalCancel").click(function (event) {
        event.preventDefault();
        $("#confirmReverseStatusEditingModal").modal("hide");
    });
    $(document).on("click", "#btn-reverse-status", function () {
        $("#confirmReverseStatusEditingModal").modal("show");
    });
});
</script>
