@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputBLnSfalrtwView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputBLnSfalrtwView.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputBLnSfalrtwView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @subAktivitasFormInputBLnSfalrtwView.ExportOptions.RenderBody()
    @subAktivitasFormInputBLnSfalrtwView.OtherOptions.RenderBody()
</div>
}
@subAktivitasFormInputBLnSfalrtwView.ShowPageHeader()
@subAktivitasFormInputBLnSfalrtwView.ShowMessages()
<main class="view">
<form name="fSubAktivitasFormInputBLnSFALRTWview" id="fSubAktivitasFormInputBLnSFALRTWview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!subAktivitasFormInputBLnSfalrtwView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputBLnSfalrtwView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputBLnSFALRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fSubAktivitasFormInputBLnSFALRTWview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputBLnSFALRTWview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputBLnSfalrtwView.IsModal)">
<table class="@(subAktivitasFormInputBLnSfalrtwView.TableClass)">
@if (subAktivitasFormInputBLnSfalrtwView.id.Visible) { // subAktivitasFormInputBLnSfalrtwView.id.Visible (begin)
    <tr id="r_id" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.id.RowAttributes)>
        <td class="@(subAktivitasFormInputBLnSfalrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_id">@Html.Raw(subAktivitasFormInputBLnSfalrtwView.id.Caption)</span></td>
        <td data-name="id" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.id.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_id">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwView.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwView.id.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLnSfalrtwView.id.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwView.idAktifitas.Visible) { // subAktivitasFormInputBLnSfalrtwView.idAktifitas.Visible (begin)
    <tr id="r_idAktifitas" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.idAktifitas.RowAttributes)>
        <td class="@(subAktivitasFormInputBLnSfalrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_idAktifitas">@Html.Raw(subAktivitasFormInputBLnSfalrtwView.idAktifitas.Caption)</span></td>
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_idAktifitas">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwView.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwView.idAktifitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLnSfalrtwView.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwView.BL_KLObs.Visible) { // subAktivitasFormInputBLnSfalrtwView.BL_KLObs.Visible (begin)
    <tr id="r_BL_KLObs" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.BL_KLObs.RowAttributes)>
        <td class="@(subAktivitasFormInputBLnSfalrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_BL_KLObs">@Html.Raw(subAktivitasFormInputBLnSfalrtwView.BL_KLObs.Caption)</span></td>
        <td data-name="BL_KLObs" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.BL_KLObs.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_BL_KLObs">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwView.BL_KLObs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwView.BL_KLObs.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLnSfalrtwView.BL_KLObs.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwView.BL_KL15.Visible) { // subAktivitasFormInputBLnSfalrtwView.BL_KL15.Visible (begin)
    <tr id="r_BL_KL15" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.BL_KL15.RowAttributes)>
        <td class="@(subAktivitasFormInputBLnSfalrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_BL_KL15">@Html.Raw(subAktivitasFormInputBLnSfalrtwView.BL_KL15.Caption)</span></td>
        <td data-name="BL_KL15" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.BL_KL15.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_BL_KL15">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwView.BL_KL15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwView.BL_KL15.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLnSfalrtwView.BL_KL15.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwView.BL_Barrels.Visible) { // subAktivitasFormInputBLnSfalrtwView.BL_Barrels.Visible (begin)
    <tr id="r_BL_Barrels" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.BL_Barrels.RowAttributes)>
        <td class="@(subAktivitasFormInputBLnSfalrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_BL_Barrels">@Html.Raw(subAktivitasFormInputBLnSfalrtwView.BL_Barrels.Caption)</span></td>
        <td data-name="BL_Barrels" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.BL_Barrels.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_BL_Barrels">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwView.BL_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwView.BL_Barrels.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLnSfalrtwView.BL_Barrels.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwView.BL_LT.Visible) { // subAktivitasFormInputBLnSfalrtwView.BL_LT.Visible (begin)
    <tr id="r_BL_LT" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.BL_LT.RowAttributes)>
        <td class="@(subAktivitasFormInputBLnSfalrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_BL_LT">@Html.Raw(subAktivitasFormInputBLnSfalrtwView.BL_LT.Caption)</span></td>
        <td data-name="BL_LT" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.BL_LT.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_BL_LT">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwView.BL_LT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwView.BL_LT.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLnSfalrtwView.BL_LT.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwView.BL_MT.Visible) { // subAktivitasFormInputBLnSfalrtwView.BL_MT.Visible (begin)
    <tr id="r_BL_MT" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.BL_MT.RowAttributes)>
        <td class="@(subAktivitasFormInputBLnSfalrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_BL_MT">@Html.Raw(subAktivitasFormInputBLnSfalrtwView.BL_MT.Caption)</span></td>
        <td data-name="BL_MT" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.BL_MT.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_BL_MT">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwView.BL_MT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwView.BL_MT.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLnSfalrtwView.BL_MT.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwView.SFAL_KLObs.Visible) { // subAktivitasFormInputBLnSfalrtwView.SFAL_KLObs.Visible (begin)
    <tr id="r_SFAL_KLObs" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.SFAL_KLObs.RowAttributes)>
        <td class="@(subAktivitasFormInputBLnSfalrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_SFAL_KLObs">@Html.Raw(subAktivitasFormInputBLnSfalrtwView.SFAL_KLObs.Caption)</span></td>
        <td data-name="SFAL_KLObs" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.SFAL_KLObs.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_SFAL_KLObs">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwView.SFAL_KLObs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwView.SFAL_KLObs.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLnSfalrtwView.SFAL_KLObs.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwView.SFAL_KL15.Visible) { // subAktivitasFormInputBLnSfalrtwView.SFAL_KL15.Visible (begin)
    <tr id="r_SFAL_KL15" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.SFAL_KL15.RowAttributes)>
        <td class="@(subAktivitasFormInputBLnSfalrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_SFAL_KL15">@Html.Raw(subAktivitasFormInputBLnSfalrtwView.SFAL_KL15.Caption)</span></td>
        <td data-name="SFAL_KL15" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.SFAL_KL15.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_SFAL_KL15">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwView.SFAL_KL15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwView.SFAL_KL15.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLnSfalrtwView.SFAL_KL15.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwView.SFAL_Barrels.Visible) { // subAktivitasFormInputBLnSfalrtwView.SFAL_Barrels.Visible (begin)
    <tr id="r_SFAL_Barrels" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.SFAL_Barrels.RowAttributes)>
        <td class="@(subAktivitasFormInputBLnSfalrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_SFAL_Barrels">@Html.Raw(subAktivitasFormInputBLnSfalrtwView.SFAL_Barrels.Caption)</span></td>
        <td data-name="SFAL_Barrels" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.SFAL_Barrels.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_SFAL_Barrels">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwView.SFAL_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwView.SFAL_Barrels.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLnSfalrtwView.SFAL_Barrels.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwView.SFAL_LT.Visible) { // subAktivitasFormInputBLnSfalrtwView.SFAL_LT.Visible (begin)
    <tr id="r_SFAL_LT" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.SFAL_LT.RowAttributes)>
        <td class="@(subAktivitasFormInputBLnSfalrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_SFAL_LT">@Html.Raw(subAktivitasFormInputBLnSfalrtwView.SFAL_LT.Caption)</span></td>
        <td data-name="SFAL_LT" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.SFAL_LT.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_SFAL_LT">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwView.SFAL_LT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwView.SFAL_LT.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLnSfalrtwView.SFAL_LT.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwView.SFAL_MT.Visible) { // subAktivitasFormInputBLnSfalrtwView.SFAL_MT.Visible (begin)
    <tr id="r_SFAL_MT" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.SFAL_MT.RowAttributes)>
        <td class="@(subAktivitasFormInputBLnSfalrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_SFAL_MT">@Html.Raw(subAktivitasFormInputBLnSfalrtwView.SFAL_MT.Caption)</span></td>
        <td data-name="SFAL_MT" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.SFAL_MT.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_SFAL_MT">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwView.SFAL_MT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwView.SFAL_MT.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLnSfalrtwView.SFAL_MT.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwView.userInput.Visible) { // subAktivitasFormInputBLnSfalrtwView.userInput.Visible (begin)
    <tr id="r_userInput" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.userInput.RowAttributes)>
        <td class="@(subAktivitasFormInputBLnSfalrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_userInput">@Html.Raw(subAktivitasFormInputBLnSfalrtwView.userInput.Caption)</span></td>
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_userInput">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwView.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwView.userInput.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLnSfalrtwView.userInput.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwView.etlDate.Visible) { // subAktivitasFormInputBLnSfalrtwView.etlDate.Visible (begin)
    <tr id="r_etlDate" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.etlDate.RowAttributes)>
        <td class="@(subAktivitasFormInputBLnSfalrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_etlDate">@Html.Raw(subAktivitasFormInputBLnSfalrtwView.etlDate.Caption)</span></td>
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_etlDate">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwView.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwView.etlDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLnSfalrtwView.etlDate.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwView.idProses.Visible) { // subAktivitasFormInputBLnSfalrtwView.idProses.Visible (begin)
    <tr id="r_idProses" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.idProses.RowAttributes)>
        <td class="@(subAktivitasFormInputBLnSfalrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_idProses">@Html.Raw(subAktivitasFormInputBLnSfalrtwView.idProses.Caption)</span></td>
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_idProses">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwView.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwView.idProses.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLnSfalrtwView.idProses.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwView.LastUpdatedBy.Visible) { // subAktivitasFormInputBLnSfalrtwView.LastUpdatedBy.Visible (begin)
    <tr id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.LastUpdatedBy.RowAttributes)>
        <td class="@(subAktivitasFormInputBLnSfalrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_LastUpdatedBy">@Html.Raw(subAktivitasFormInputBLnSfalrtwView.LastUpdatedBy.Caption)</span></td>
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwView.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwView.LastUpdatedBy.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLnSfalrtwView.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwView.lastUpdatedDate.Visible) { // subAktivitasFormInputBLnSfalrtwView.lastUpdatedDate.Visible (begin)
    <tr id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.lastUpdatedDate.RowAttributes)>
        <td class="@(subAktivitasFormInputBLnSfalrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_lastUpdatedDate">@Html.Raw(subAktivitasFormInputBLnSfalrtwView.lastUpdatedDate.Caption)</span></td>
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwView.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwView.lastUpdatedDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLnSfalrtwView.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwView.NoReferensi.Visible) { // subAktivitasFormInputBLnSfalrtwView.NoReferensi.Visible (begin)
    <tr id="r_NoReferensi" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.NoReferensi.RowAttributes)>
        <td class="@(subAktivitasFormInputBLnSfalrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_NoReferensi">@Html.Raw(subAktivitasFormInputBLnSfalrtwView.NoReferensi.Caption)</span></td>
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_NoReferensi">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwView.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwView.NoReferensi.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLnSfalrtwView.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwView.StatusAktivitas.Visible) { // subAktivitasFormInputBLnSfalrtwView.StatusAktivitas.Visible (begin)
    <tr id="r_StatusAktivitas" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.StatusAktivitas.RowAttributes)>
        <td class="@(subAktivitasFormInputBLnSfalrtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_StatusAktivitas">@Html.Raw(subAktivitasFormInputBLnSfalrtwView.StatusAktivitas.Caption)</span></td>
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputBLnSfalrtwView.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwView.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwView.StatusAktivitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputBLnSfalrtwView.StatusAktivitas.Visible (end) *@
</table>
@{ subAktivitasFormInputBLnSfalrtwView.CloseRecordset(); }
</form>
</main>
@subAktivitasFormInputBLnSfalrtwView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputBLnSfalrtwView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
