@{
    // View
    View = this;

    // Check action result
    if (subAktivitasLogbookMonitoringStockPipaList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasLogbookMonitoringStockPipaList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasLogbookMonitoringStockPipaList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasLogbookMonitoringStockPipaList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasLogbookMonitoringStockPipa: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasLogbookMonitoringStockPipaList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasLogbookMonitoringStockPipaList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasLogbookMonitoringStockPipaList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasLogbookMonitoringStockPipaList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasLogbookMonitoringStockPipaList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasLogbookMonitoringStockPipaList.TotalRecords > 0 && subAktivitasLogbookMonitoringStockPipaList.ExportOptions.Visible) {
    subAktivitasLogbookMonitoringStockPipaList.ExportOptions.Render("body");
}
@if (subAktivitasLogbookMonitoringStockPipaList.ImportOptions.Visible) {
    subAktivitasLogbookMonitoringStockPipaList.ImportOptions.Render("body");
}
@if (subAktivitasLogbookMonitoringStockPipaList.SearchOptions.Visible) {
    subAktivitasLogbookMonitoringStockPipaList.SearchOptions.Render("body");
}
@if (subAktivitasLogbookMonitoringStockPipaList.FilterOptions.Visible) {
    subAktivitasLogbookMonitoringStockPipaList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasLogbookMonitoringStockPipaList.IsModal) {
<form name="fSubAktivitasLogbookMonitoringStockPipasrch" id="fSubAktivitasLogbookMonitoringStockPipasrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasLogbookMonitoringStockPipasrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasLogbookMonitoringStockPipaList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasLogbookMonitoringStockPipaList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasLogbookMonitoringStockPipa: currentTable } });
var currentForm;
var fSubAktivitasLogbookMonitoringStockPipasrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasLogbookMonitoringStockPipasrch")
        .setPageId("list")
@if (subAktivitasLogbookMonitoringStockPipaList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasLogbookMonitoringStockPipaList.IsExport() && Empty(subAktivitasLogbookMonitoringStockPipaList.CurrentAction) && subAktivitasLogbookMonitoringStockPipaList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasLogbookMonitoringStockPipaList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasLogbookMonitoringStockPipaList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasLogbookMonitoringStockPipaList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasLogbookMonitoringStockPipasrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasLogbookMonitoringStockPipaList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasLogbookMonitoringStockPipasrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasLogbookMonitoringStockPipaList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasLogbookMonitoringStockPipasrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasLogbookMonitoringStockPipaList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasLogbookMonitoringStockPipasrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasLogbookMonitoringStockPipaList.ShowPageHeader()
@subAktivitasLogbookMonitoringStockPipaList.ShowMessages()
<main class="list @(subAktivitasLogbookMonitoringStockPipaList.TotalRecords == 0 && !subAktivitasLogbookMonitoringStockPipaList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasLogbookMonitoringStockPipaList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasLogbookMonitoringStockPipaList.TotalRecords > 0 || !Empty(subAktivitasLogbookMonitoringStockPipaList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasLogbookMonitoringStockPipaList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasLogbookMonitoringStockPipaList.TableGridClass)">
<form name="@(subAktivitasLogbookMonitoringStockPipaList.FormName)" id="@(subAktivitasLogbookMonitoringStockPipaList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasLogbookMonitoringStockPipaList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasLogbookMonitoringStockPipaList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasLogbookMonitoringStockPipa" class="card-body ew-grid-middle-panel @(subAktivitasLogbookMonitoringStockPipaList.TableContainerClass)" style="@(subAktivitasLogbookMonitoringStockPipaList.TableContainerStyle)">
@if (subAktivitasLogbookMonitoringStockPipaList.TotalRecords > 0 || subAktivitasLogbookMonitoringStockPipaList.IsGridEdit || subAktivitasLogbookMonitoringStockPipaList.IsMultiEdit) {
<table id="tbl_SubAktivitasLogbookMonitoringStockPipalist" class="@(subAktivitasLogbookMonitoringStockPipaList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasLogbookMonitoringStockPipaList.RowType = RowType.Header;

    // Render list options
    await subAktivitasLogbookMonitoringStockPipaList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasLogbookMonitoringStockPipaList.ListOptions.RenderHeader("left")
@if (subAktivitasLogbookMonitoringStockPipaList.id.Visible) { // subAktivitasLogbookMonitoringStockPipaList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasLogbookMonitoringStockPipaList.id.HeaderCellClass)"><div id="elh_SubAktivitasLogbookMonitoringStockPipa_id" class="SubAktivitasLogbookMonitoringStockPipa_id">@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.RenderFieldHeader(subAktivitasLogbookMonitoringStockPipaList.id))</div></th>
} @* subAktivitasLogbookMonitoringStockPipaList.id.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockPipaList.idProses.Visible) { // subAktivitasLogbookMonitoringStockPipaList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasLogbookMonitoringStockPipaList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasLogbookMonitoringStockPipa_idProses" class="SubAktivitasLogbookMonitoringStockPipa_idProses">@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.RenderFieldHeader(subAktivitasLogbookMonitoringStockPipaList.idProses))</div></th>
} @* subAktivitasLogbookMonitoringStockPipaList.idProses.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockPipaList.idAktifitas.Visible) { // subAktivitasLogbookMonitoringStockPipaList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasLogbookMonitoringStockPipaList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasLogbookMonitoringStockPipa_idAktifitas" class="SubAktivitasLogbookMonitoringStockPipa_idAktifitas">@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.RenderFieldHeader(subAktivitasLogbookMonitoringStockPipaList.idAktifitas))</div></th>
} @* subAktivitasLogbookMonitoringStockPipaList.idAktifitas.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockPipaList.NoReferensi.Visible) { // subAktivitasLogbookMonitoringStockPipaList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasLogbookMonitoringStockPipaList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasLogbookMonitoringStockPipa_NoReferensi" class="SubAktivitasLogbookMonitoringStockPipa_NoReferensi">@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.RenderFieldHeader(subAktivitasLogbookMonitoringStockPipaList.NoReferensi))</div></th>
} @* subAktivitasLogbookMonitoringStockPipaList.NoReferensi.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockPipaList.Nomor_Tangki.Visible) { // subAktivitasLogbookMonitoringStockPipaList.Nomor_Tangki.Visible (begin)
        <th data-name="Nomor_Tangki" class="@(subAktivitasLogbookMonitoringStockPipaList.Nomor_Tangki.HeaderCellClass)"><div id="elh_SubAktivitasLogbookMonitoringStockPipa_Nomor_Tangki" class="SubAktivitasLogbookMonitoringStockPipa_Nomor_Tangki">@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.RenderFieldHeader(subAktivitasLogbookMonitoringStockPipaList.Nomor_Tangki))</div></th>
} @* subAktivitasLogbookMonitoringStockPipaList.Nomor_Tangki.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockPipaList.Produk.Visible) { // subAktivitasLogbookMonitoringStockPipaList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasLogbookMonitoringStockPipaList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasLogbookMonitoringStockPipa_Produk" class="SubAktivitasLogbookMonitoringStockPipa_Produk">@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.RenderFieldHeader(subAktivitasLogbookMonitoringStockPipaList.Produk))</div></th>
} @* subAktivitasLogbookMonitoringStockPipaList.Produk.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockPipaList.Aktivitas2.Visible) { // subAktivitasLogbookMonitoringStockPipaList.Aktivitas2.Visible (begin)
        <th data-name="Aktivitas2" class="@(subAktivitasLogbookMonitoringStockPipaList.Aktivitas2.HeaderCellClass)"><div id="elh_SubAktivitasLogbookMonitoringStockPipa_Aktivitas2" class="SubAktivitasLogbookMonitoringStockPipa_Aktivitas2">@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.RenderFieldHeader(subAktivitasLogbookMonitoringStockPipaList.Aktivitas2))</div></th>
} @* subAktivitasLogbookMonitoringStockPipaList.Aktivitas2.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockPipaList.Level_Tangki.Visible) { // subAktivitasLogbookMonitoringStockPipaList.Level_Tangki.Visible (begin)
        <th data-name="Level_Tangki" class="@(subAktivitasLogbookMonitoringStockPipaList.Level_Tangki.HeaderCellClass)"><div id="elh_SubAktivitasLogbookMonitoringStockPipa_Level_Tangki" class="SubAktivitasLogbookMonitoringStockPipa_Level_Tangki">@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.RenderFieldHeader(subAktivitasLogbookMonitoringStockPipaList.Level_Tangki))</div></th>
} @* subAktivitasLogbookMonitoringStockPipaList.Level_Tangki.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockPipaList.Volume_KL.Visible) { // subAktivitasLogbookMonitoringStockPipaList.Volume_KL.Visible (begin)
        <th data-name="Volume_KL" class="@(subAktivitasLogbookMonitoringStockPipaList.Volume_KL.HeaderCellClass)"><div id="elh_SubAktivitasLogbookMonitoringStockPipa_Volume_KL" class="SubAktivitasLogbookMonitoringStockPipa_Volume_KL">@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.RenderFieldHeader(subAktivitasLogbookMonitoringStockPipaList.Volume_KL))</div></th>
} @* subAktivitasLogbookMonitoringStockPipaList.Volume_KL.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockPipaList.Flowrate.Visible) { // subAktivitasLogbookMonitoringStockPipaList.Flowrate.Visible (begin)
        <th data-name="Flowrate" class="@(subAktivitasLogbookMonitoringStockPipaList.Flowrate.HeaderCellClass)"><div id="elh_SubAktivitasLogbookMonitoringStockPipa_Flowrate" class="SubAktivitasLogbookMonitoringStockPipa_Flowrate">@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.RenderFieldHeader(subAktivitasLogbookMonitoringStockPipaList.Flowrate))</div></th>
} @* subAktivitasLogbookMonitoringStockPipaList.Flowrate.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockPipaList.userInput.Visible) { // subAktivitasLogbookMonitoringStockPipaList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasLogbookMonitoringStockPipaList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasLogbookMonitoringStockPipa_userInput" class="SubAktivitasLogbookMonitoringStockPipa_userInput">@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.RenderFieldHeader(subAktivitasLogbookMonitoringStockPipaList.userInput))</div></th>
} @* subAktivitasLogbookMonitoringStockPipaList.userInput.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockPipaList.etlDate.Visible) { // subAktivitasLogbookMonitoringStockPipaList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasLogbookMonitoringStockPipaList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasLogbookMonitoringStockPipa_etlDate" class="SubAktivitasLogbookMonitoringStockPipa_etlDate">@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.RenderFieldHeader(subAktivitasLogbookMonitoringStockPipaList.etlDate))</div></th>
} @* subAktivitasLogbookMonitoringStockPipaList.etlDate.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockPipaList.LastUpdatedBy.Visible) { // subAktivitasLogbookMonitoringStockPipaList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasLogbookMonitoringStockPipaList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasLogbookMonitoringStockPipa_LastUpdatedBy" class="SubAktivitasLogbookMonitoringStockPipa_LastUpdatedBy">@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.RenderFieldHeader(subAktivitasLogbookMonitoringStockPipaList.LastUpdatedBy))</div></th>
} @* subAktivitasLogbookMonitoringStockPipaList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockPipaList.lastUpdatedDate.Visible) { // subAktivitasLogbookMonitoringStockPipaList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasLogbookMonitoringStockPipaList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasLogbookMonitoringStockPipa_lastUpdatedDate" class="SubAktivitasLogbookMonitoringStockPipa_lastUpdatedDate">@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.RenderFieldHeader(subAktivitasLogbookMonitoringStockPipaList.lastUpdatedDate))</div></th>
} @* subAktivitasLogbookMonitoringStockPipaList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockPipaList.IdPlant.Visible) { // subAktivitasLogbookMonitoringStockPipaList.IdPlant.Visible (begin)
        <th data-name="IdPlant" class="@(subAktivitasLogbookMonitoringStockPipaList.IdPlant.HeaderCellClass)"><div id="elh_SubAktivitasLogbookMonitoringStockPipa_IdPlant" class="SubAktivitasLogbookMonitoringStockPipa_IdPlant">@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.RenderFieldHeader(subAktivitasLogbookMonitoringStockPipaList.IdPlant))</div></th>
} @* subAktivitasLogbookMonitoringStockPipaList.IdPlant.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasLogbookMonitoringStockPipaList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasLogbookMonitoringStockPipaList.PageNumber)">
@{
    await subAktivitasLogbookMonitoringStockPipaList.SetupGrid();
    bool eof = subAktivitasLogbookMonitoringStockPipaList.Recordset == null; // DN
}
@while (subAktivitasLogbookMonitoringStockPipaList.RecordCount < subAktivitasLogbookMonitoringStockPipaList.StopRecord || SameString(subAktivitasLogbookMonitoringStockPipaList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasLogbookMonitoringStockPipaList.RowIndex, "$rowindex$") &&
        (!subAktivitasLogbookMonitoringStockPipaList.IsGridAdd || subAktivitasLogbookMonitoringStockPipaList.CurrentMode == "copy") &&
        (!((subAktivitasLogbookMonitoringStockPipaList.IsCopy || subAktivitasLogbookMonitoringStockPipaList.IsAdd) && subAktivitasLogbookMonitoringStockPipaList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasLogbookMonitoringStockPipaList.Recordset.ReadAsync();
    subAktivitasLogbookMonitoringStockPipaList.RecordCount++;
    if (subAktivitasLogbookMonitoringStockPipaList.RecordCount >= subAktivitasLogbookMonitoringStockPipaList.StartRecord) {
        await subAktivitasLogbookMonitoringStockPipaList.SetupRow();
    <tr @Html.Raw(subAktivitasLogbookMonitoringStockPipaList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasLogbookMonitoringStockPipaList.ListOptions.RenderBody("left", subAktivitasLogbookMonitoringStockPipaList.RowCount)
    @if (subAktivitasLogbookMonitoringStockPipaList.id.Visible) { // subAktivitasLogbookMonitoringStockPipaList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasLogbookMonitoringStockPipaList.id.CellAttributes)>
<span id="el@(subAktivitasLogbookMonitoringStockPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasLogbookMonitoringStockPipaList.RowCount)_SubAktivitasLogbookMonitoringStockPipa_id" class="el_SubAktivitasLogbookMonitoringStockPipa_id">
<span @Html.Raw(subAktivitasLogbookMonitoringStockPipaList.id.ViewAttributes)>
@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookMonitoringStockPipaList.id.Visible (end) *@
    @if (subAktivitasLogbookMonitoringStockPipaList.idProses.Visible) { // subAktivitasLogbookMonitoringStockPipaList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasLogbookMonitoringStockPipaList.idProses.CellAttributes)>
<span id="el@(subAktivitasLogbookMonitoringStockPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasLogbookMonitoringStockPipaList.RowCount)_SubAktivitasLogbookMonitoringStockPipa_idProses" class="el_SubAktivitasLogbookMonitoringStockPipa_idProses">
<span @Html.Raw(subAktivitasLogbookMonitoringStockPipaList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookMonitoringStockPipaList.idProses.Visible (end) *@
    @if (subAktivitasLogbookMonitoringStockPipaList.idAktifitas.Visible) { // subAktivitasLogbookMonitoringStockPipaList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasLogbookMonitoringStockPipaList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasLogbookMonitoringStockPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasLogbookMonitoringStockPipaList.RowCount)_SubAktivitasLogbookMonitoringStockPipa_idAktifitas" class="el_SubAktivitasLogbookMonitoringStockPipa_idAktifitas">
<span @Html.Raw(subAktivitasLogbookMonitoringStockPipaList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookMonitoringStockPipaList.idAktifitas.Visible (end) *@
    @if (subAktivitasLogbookMonitoringStockPipaList.NoReferensi.Visible) { // subAktivitasLogbookMonitoringStockPipaList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasLogbookMonitoringStockPipaList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasLogbookMonitoringStockPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasLogbookMonitoringStockPipaList.RowCount)_SubAktivitasLogbookMonitoringStockPipa_NoReferensi" class="el_SubAktivitasLogbookMonitoringStockPipa_NoReferensi">
<span @Html.Raw(subAktivitasLogbookMonitoringStockPipaList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookMonitoringStockPipaList.NoReferensi.Visible (end) *@
    @if (subAktivitasLogbookMonitoringStockPipaList.Nomor_Tangki.Visible) { // subAktivitasLogbookMonitoringStockPipaList.Nomor_Tangki.Visible (begin)
        <td data-name="Nomor_Tangki" @Html.Raw(subAktivitasLogbookMonitoringStockPipaList.Nomor_Tangki.CellAttributes)>
<span id="el@(subAktivitasLogbookMonitoringStockPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasLogbookMonitoringStockPipaList.RowCount)_SubAktivitasLogbookMonitoringStockPipa_Nomor_Tangki" class="el_SubAktivitasLogbookMonitoringStockPipa_Nomor_Tangki">
<span @Html.Raw(subAktivitasLogbookMonitoringStockPipaList.Nomor_Tangki.ViewAttributes)>
@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.Nomor_Tangki.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookMonitoringStockPipaList.Nomor_Tangki.Visible (end) *@
    @if (subAktivitasLogbookMonitoringStockPipaList.Produk.Visible) { // subAktivitasLogbookMonitoringStockPipaList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasLogbookMonitoringStockPipaList.Produk.CellAttributes)>
<span id="el@(subAktivitasLogbookMonitoringStockPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasLogbookMonitoringStockPipaList.RowCount)_SubAktivitasLogbookMonitoringStockPipa_Produk" class="el_SubAktivitasLogbookMonitoringStockPipa_Produk">
<span @Html.Raw(subAktivitasLogbookMonitoringStockPipaList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookMonitoringStockPipaList.Produk.Visible (end) *@
    @if (subAktivitasLogbookMonitoringStockPipaList.Aktivitas2.Visible) { // subAktivitasLogbookMonitoringStockPipaList.Aktivitas2.Visible (begin)
        <td data-name="Aktivitas2" @Html.Raw(subAktivitasLogbookMonitoringStockPipaList.Aktivitas2.CellAttributes)>
<span id="el@(subAktivitasLogbookMonitoringStockPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasLogbookMonitoringStockPipaList.RowCount)_SubAktivitasLogbookMonitoringStockPipa_Aktivitas2" class="el_SubAktivitasLogbookMonitoringStockPipa_Aktivitas2">
<span @Html.Raw(subAktivitasLogbookMonitoringStockPipaList.Aktivitas2.ViewAttributes)>
@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.Aktivitas2.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookMonitoringStockPipaList.Aktivitas2.Visible (end) *@
    @if (subAktivitasLogbookMonitoringStockPipaList.Level_Tangki.Visible) { // subAktivitasLogbookMonitoringStockPipaList.Level_Tangki.Visible (begin)
        <td data-name="Level_Tangki" @Html.Raw(subAktivitasLogbookMonitoringStockPipaList.Level_Tangki.CellAttributes)>
<span id="el@(subAktivitasLogbookMonitoringStockPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasLogbookMonitoringStockPipaList.RowCount)_SubAktivitasLogbookMonitoringStockPipa_Level_Tangki" class="el_SubAktivitasLogbookMonitoringStockPipa_Level_Tangki">
<span @Html.Raw(subAktivitasLogbookMonitoringStockPipaList.Level_Tangki.ViewAttributes)>
@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.Level_Tangki.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookMonitoringStockPipaList.Level_Tangki.Visible (end) *@
    @if (subAktivitasLogbookMonitoringStockPipaList.Volume_KL.Visible) { // subAktivitasLogbookMonitoringStockPipaList.Volume_KL.Visible (begin)
        <td data-name="Volume_KL" @Html.Raw(subAktivitasLogbookMonitoringStockPipaList.Volume_KL.CellAttributes)>
<span id="el@(subAktivitasLogbookMonitoringStockPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasLogbookMonitoringStockPipaList.RowCount)_SubAktivitasLogbookMonitoringStockPipa_Volume_KL" class="el_SubAktivitasLogbookMonitoringStockPipa_Volume_KL">
<span @Html.Raw(subAktivitasLogbookMonitoringStockPipaList.Volume_KL.ViewAttributes)>
@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.Volume_KL.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookMonitoringStockPipaList.Volume_KL.Visible (end) *@
    @if (subAktivitasLogbookMonitoringStockPipaList.Flowrate.Visible) { // subAktivitasLogbookMonitoringStockPipaList.Flowrate.Visible (begin)
        <td data-name="Flowrate" @Html.Raw(subAktivitasLogbookMonitoringStockPipaList.Flowrate.CellAttributes)>
<span id="el@(subAktivitasLogbookMonitoringStockPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasLogbookMonitoringStockPipaList.RowCount)_SubAktivitasLogbookMonitoringStockPipa_Flowrate" class="el_SubAktivitasLogbookMonitoringStockPipa_Flowrate">
<span @Html.Raw(subAktivitasLogbookMonitoringStockPipaList.Flowrate.ViewAttributes)>
@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.Flowrate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookMonitoringStockPipaList.Flowrate.Visible (end) *@
    @if (subAktivitasLogbookMonitoringStockPipaList.userInput.Visible) { // subAktivitasLogbookMonitoringStockPipaList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasLogbookMonitoringStockPipaList.userInput.CellAttributes)>
<span id="el@(subAktivitasLogbookMonitoringStockPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasLogbookMonitoringStockPipaList.RowCount)_SubAktivitasLogbookMonitoringStockPipa_userInput" class="el_SubAktivitasLogbookMonitoringStockPipa_userInput">
<span @Html.Raw(subAktivitasLogbookMonitoringStockPipaList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookMonitoringStockPipaList.userInput.Visible (end) *@
    @if (subAktivitasLogbookMonitoringStockPipaList.etlDate.Visible) { // subAktivitasLogbookMonitoringStockPipaList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasLogbookMonitoringStockPipaList.etlDate.CellAttributes)>
<span id="el@(subAktivitasLogbookMonitoringStockPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasLogbookMonitoringStockPipaList.RowCount)_SubAktivitasLogbookMonitoringStockPipa_etlDate" class="el_SubAktivitasLogbookMonitoringStockPipa_etlDate">
<span @Html.Raw(subAktivitasLogbookMonitoringStockPipaList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookMonitoringStockPipaList.etlDate.Visible (end) *@
    @if (subAktivitasLogbookMonitoringStockPipaList.LastUpdatedBy.Visible) { // subAktivitasLogbookMonitoringStockPipaList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasLogbookMonitoringStockPipaList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasLogbookMonitoringStockPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasLogbookMonitoringStockPipaList.RowCount)_SubAktivitasLogbookMonitoringStockPipa_LastUpdatedBy" class="el_SubAktivitasLogbookMonitoringStockPipa_LastUpdatedBy">
<span @Html.Raw(subAktivitasLogbookMonitoringStockPipaList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookMonitoringStockPipaList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasLogbookMonitoringStockPipaList.lastUpdatedDate.Visible) { // subAktivitasLogbookMonitoringStockPipaList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasLogbookMonitoringStockPipaList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasLogbookMonitoringStockPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasLogbookMonitoringStockPipaList.RowCount)_SubAktivitasLogbookMonitoringStockPipa_lastUpdatedDate" class="el_SubAktivitasLogbookMonitoringStockPipa_lastUpdatedDate">
<span @Html.Raw(subAktivitasLogbookMonitoringStockPipaList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookMonitoringStockPipaList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasLogbookMonitoringStockPipaList.IdPlant.Visible) { // subAktivitasLogbookMonitoringStockPipaList.IdPlant.Visible (begin)
        <td data-name="IdPlant" @Html.Raw(subAktivitasLogbookMonitoringStockPipaList.IdPlant.CellAttributes)>
<span id="el@(subAktivitasLogbookMonitoringStockPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasLogbookMonitoringStockPipaList.RowCount)_SubAktivitasLogbookMonitoringStockPipa_IdPlant" class="el_SubAktivitasLogbookMonitoringStockPipa_IdPlant">
<span @Html.Raw(subAktivitasLogbookMonitoringStockPipaList.IdPlant.ViewAttributes)>
@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.IdPlant.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookMonitoringStockPipaList.IdPlant.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasLogbookMonitoringStockPipaList.ListOptions.RenderBody("right", subAktivitasLogbookMonitoringStockPipaList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasLogbookMonitoringStockPipaList.RowIndex, "$rowindex$"))
        subAktivitasLogbookMonitoringStockPipaList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasLogbookMonitoringStockPipaList.IsCopy || subAktivitasLogbookMonitoringStockPipaList.IsAdd) && subAktivitasLogbookMonitoringStockPipaList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasLogbookMonitoringStockPipaList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasLogbookMonitoringStockPipaList.CurrentAction) && !subAktivitasLogbookMonitoringStockPipaList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasLogbookMonitoringStockPipaList.CloseRecordset(); }
@if (!subAktivitasLogbookMonitoringStockPipaList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasLogbookMonitoringStockPipaList.IsGridAdd && !(subAktivitasLogbookMonitoringStockPipaList.IsGridEdit && subAktivitasLogbookMonitoringStockPipaList.ModalGridEdit) && !subAktivitasLogbookMonitoringStockPipaList.IsMultiEdit) {
@Html.Raw(subAktivitasLogbookMonitoringStockPipaList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasLogbookMonitoringStockPipaList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasLogbookMonitoringStockPipaList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasLogbookMonitoringStockPipaList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasLogbookMonitoringStockPipaList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasLogbookMonitoringStockPipaList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasLogbookMonitoringStockPipa");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
