@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputKeberangkatanMobilTangkiAdd.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputKeberangkatanMobilTangkiAdd.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputKeberangkatanMobilTangkiAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputKeberangkatanMobilTangki: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fSubAktivitasFormInputKeberangkatanMobilTangkiadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputKeberangkatanMobilTangkiadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null, ew.Validators.integer], fields.StatusAktivitas.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["Tanggal", [fields.Tanggal.visible && fields.Tanggal.required ? ew.Validators.required(fields.Tanggal.caption) : null, ew.Validators.datetime(fields.Tanggal.clientFormatPattern)], fields.Tanggal.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "idProses": @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.idProses.ToClientList(subAktivitasFormInputKeberangkatanMobilTangkiAdd)),
            "idAktifitas": @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.idAktifitas.ToClientList(subAktivitasFormInputKeberangkatanMobilTangkiAdd)),
            "StatusAktivitas": @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.StatusAktivitas.ToClientList(subAktivitasFormInputKeberangkatanMobilTangkiAdd)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasFormInputKeberangkatanMobilTangkiAdd.ShowPageHeader()
@subAktivitasFormInputKeberangkatanMobilTangkiAdd.ShowMessages()
<form name="fSubAktivitasFormInputKeberangkatanMobilTangkiadd" id="fSubAktivitasFormInputKeberangkatanMobilTangkiadd" class="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputKeberangkatanMobilTangkiAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.OldKeyName)" value="@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (subAktivitasFormInputKeberangkatanMobilTangkiAdd.NoReferensi.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiAdd.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_NoReferensi" for="x_NoReferensi" class="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.NoReferensi.Caption)@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputKeberangkatanMobilTangki_NoReferensi">
<input type="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasFormInputKeberangkatanMobilTangki" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.NoReferensi.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputKeberangkatanMobilTangkiAdd.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputKeberangkatanMobilTangkiAdd.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiAdd.idProses.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiAdd.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.idProses.RowAttributes)>
        <label id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_idProses" class="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.idProses.Caption)@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputKeberangkatanMobilTangki_idProses">
<span>@{
    if (IsRTL) {
        subAktivitasFormInputKeberangkatanMobilTangkiAdd.idProses.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_idProses" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_idProses" id="sv_x_idProses" value="@(RemoveHtml(ConvertToString(subAktivitasFormInputKeberangkatanMobilTangkiAdd.idProses.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputKeberangkatanMobilTangkiAdd.idProses.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputKeberangkatanMobilTangkiAdd.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.idProses.FormatPattern)" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.idProses.EditAttributes) aria-describedby="x_idProses_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasFormInputKeberangkatanMobilTangki" data-field="x_idProses" data-input="sv_x_idProses" data-value-separator="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.idProses.DisplayValueSeparatorAttribute)" name="x_idProses" id="x_idProses" value="@(HtmlEncode(subAktivitasFormInputKeberangkatanMobilTangkiAdd.idProses.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.idProses.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasFormInputKeberangkatanMobilTangkiadd"], function() {
    fSubAktivitasFormInputKeberangkatanMobilTangkiadd.createAutoSuggest(Object.assign({"id":"x_idProses","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasFormInputKeberangkatanMobilTangkiAdd.idProses.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasFormInputKeberangkatanMobilTangki.fields.idProses.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.idProses.Lookup.GetParamTag(subAktivitasFormInputKeberangkatanMobilTangkiAdd, "p_x_idProses"))
</span>
</div></div>
    </div>
} @* subAktivitasFormInputKeberangkatanMobilTangkiAdd.idProses.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiAdd.idAktifitas.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiAdd.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_idAktifitas" class="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.idAktifitas.Caption)@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputKeberangkatanMobilTangki_idAktifitas">
<span>@{
    if (IsRTL) {
        subAktivitasFormInputKeberangkatanMobilTangkiAdd.idAktifitas.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_idAktifitas" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_idAktifitas" id="sv_x_idAktifitas" value="@(RemoveHtml(ConvertToString(subAktivitasFormInputKeberangkatanMobilTangkiAdd.idAktifitas.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputKeberangkatanMobilTangkiAdd.idAktifitas.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputKeberangkatanMobilTangkiAdd.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.idAktifitas.FormatPattern)" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasFormInputKeberangkatanMobilTangki" data-field="x_idAktifitas" data-input="sv_x_idAktifitas" data-value-separator="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.idAktifitas.DisplayValueSeparatorAttribute)" name="x_idAktifitas" id="x_idAktifitas" value="@(HtmlEncode(subAktivitasFormInputKeberangkatanMobilTangkiAdd.idAktifitas.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.idAktifitas.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasFormInputKeberangkatanMobilTangkiadd"], function() {
    fSubAktivitasFormInputKeberangkatanMobilTangkiadd.createAutoSuggest(Object.assign({"id":"x_idAktifitas","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasFormInputKeberangkatanMobilTangkiAdd.idAktifitas.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasFormInputKeberangkatanMobilTangki.fields.idAktifitas.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.idAktifitas.Lookup.GetParamTag(subAktivitasFormInputKeberangkatanMobilTangkiAdd, "p_x_idAktifitas"))
</span>
</div></div>
    </div>
} @* subAktivitasFormInputKeberangkatanMobilTangkiAdd.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiAdd.StatusAktivitas.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiAdd.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.StatusAktivitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_StatusAktivitas" class="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.StatusAktivitas.Caption)@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasFormInputKeberangkatanMobilTangki_StatusAktivitas">
<span>@{
    if (IsRTL) {
        subAktivitasFormInputKeberangkatanMobilTangkiAdd.StatusAktivitas.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_StatusAktivitas" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_StatusAktivitas" id="sv_x_StatusAktivitas" value="@(RemoveHtml(ConvertToString(subAktivitasFormInputKeberangkatanMobilTangkiAdd.StatusAktivitas.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputKeberangkatanMobilTangkiAdd.StatusAktivitas.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputKeberangkatanMobilTangkiAdd.StatusAktivitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.StatusAktivitas.FormatPattern)" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.StatusAktivitas.EditAttributes) aria-describedby="x_StatusAktivitas_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasFormInputKeberangkatanMobilTangki" data-field="x_StatusAktivitas" data-input="sv_x_StatusAktivitas" data-value-separator="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.StatusAktivitas.DisplayValueSeparatorAttribute)" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@(HtmlEncode(subAktivitasFormInputKeberangkatanMobilTangkiAdd.StatusAktivitas.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.StatusAktivitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.StatusAktivitas.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasFormInputKeberangkatanMobilTangkiadd"], function() {
    fSubAktivitasFormInputKeberangkatanMobilTangkiadd.createAutoSuggest(Object.assign({"id":"x_StatusAktivitas","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasFormInputKeberangkatanMobilTangkiAdd.StatusAktivitas.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasFormInputKeberangkatanMobilTangki.fields.StatusAktivitas.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.StatusAktivitas.Lookup.GetParamTag(subAktivitasFormInputKeberangkatanMobilTangkiAdd, "p_x_StatusAktivitas"))
</span>
</div></div>
    </div>
} @* subAktivitasFormInputKeberangkatanMobilTangkiAdd.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiAdd.LastUpdatedBy.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiAdd.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.LastUpdatedBy.Caption)@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputKeberangkatanMobilTangki_LastUpdatedBy">
<input type="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasFormInputKeberangkatanMobilTangki" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputKeberangkatanMobilTangkiAdd.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputKeberangkatanMobilTangkiAdd.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiAdd.lastUpdatedDate.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiAdd.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.lastUpdatedDate.Caption)@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputKeberangkatanMobilTangki_lastUpdatedDate">
<input type="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasFormInputKeberangkatanMobilTangki" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputKeberangkatanMobilTangkiAdd.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputKeberangkatanMobilTangkiAdd.lastUpdatedDate.ReadOnly && !subAktivitasFormInputKeberangkatanMobilTangkiAdd.lastUpdatedDate.Disabled && !subAktivitasFormInputKeberangkatanMobilTangkiAdd.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasFormInputKeberangkatanMobilTangkiAdd.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputKeberangkatanMobilTangkiadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(15))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputKeberangkatanMobilTangkiadd", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputKeberangkatanMobilTangkiAdd.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiAdd.Tanggal.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiAdd.Tanggal.Visible (begin)
    <div id="r_Tanggal" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.Tanggal.RowAttributes)>
        <label id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_Tanggal" for="x_Tanggal" class="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.Tanggal.Caption)@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.Tanggal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.Tanggal.CellAttributes)>
<span id="el_SubAktivitasFormInputKeberangkatanMobilTangki_Tanggal">
<input type="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.Tanggal.InputTextType)" name="x_Tanggal" id="x_Tanggal" data-table="SubAktivitasFormInputKeberangkatanMobilTangki" data-field="x_Tanggal" value="@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.Tanggal.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputKeberangkatanMobilTangkiAdd.Tanggal.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.Tanggal.FormatPattern)"@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.Tanggal.EditAttributes) aria-describedby="x_Tanggal_help">
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.Tanggal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.Tanggal.GetErrorMessage())</div>
@if (!subAktivitasFormInputKeberangkatanMobilTangkiAdd.Tanggal.ReadOnly && !subAktivitasFormInputKeberangkatanMobilTangkiAdd.Tanggal.Disabled && !subAktivitasFormInputKeberangkatanMobilTangkiAdd.Tanggal.EditAttrs.Is("readonly") && !subAktivitasFormInputKeberangkatanMobilTangkiAdd.Tanggal.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputKeberangkatanMobilTangkiadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputKeberangkatanMobilTangkiadd", "x_Tanggal", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputKeberangkatanMobilTangkiAdd.Tanggal.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiAdd.userInput.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiAdd.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.userInput.RowAttributes)>
        <label id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_userInput" for="x_userInput" class="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.userInput.Caption)@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputKeberangkatanMobilTangki_userInput">
<input type="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasFormInputKeberangkatanMobilTangki" data-field="x_userInput" value="@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputKeberangkatanMobilTangkiAdd.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.userInput.FormatPattern)"@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputKeberangkatanMobilTangkiAdd.userInput.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiAdd.etlDate.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiAdd.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_etlDate" for="x_etlDate" class="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.etlDate.Caption)@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputKeberangkatanMobilTangki_etlDate">
<input type="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasFormInputKeberangkatanMobilTangki" data-field="x_etlDate" value="@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputKeberangkatanMobilTangkiAdd.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.etlDate.FormatPattern)"@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.etlDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputKeberangkatanMobilTangkiAdd.etlDate.ReadOnly && !subAktivitasFormInputKeberangkatanMobilTangkiAdd.etlDate.Disabled && !subAktivitasFormInputKeberangkatanMobilTangkiAdd.etlDate.EditAttrs.Is("readonly") && !subAktivitasFormInputKeberangkatanMobilTangkiAdd.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputKeberangkatanMobilTangkiadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputKeberangkatanMobilTangkiadd", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputKeberangkatanMobilTangkiAdd.etlDate.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasFormInputKeberangkatanMobilTangkiAdd.CloseRecordset(); }
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasFormInputKeberangkatanMobilTangkiAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasFormInputKeberangkatanMobilTangkiadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasFormInputKeberangkatanMobilTangkiadd" data-href="@AppPath(subAktivitasFormInputKeberangkatanMobilTangkiAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@subAktivitasFormInputKeberangkatanMobilTangkiAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputKeberangkatanMobilTangki");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
