@{
    // View
    View = this;

    // Check action result
    if (subAktivitasLogbookMonitoringStockPipaEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasLogbookMonitoringStockPipaEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasLogbookMonitoringStockPipaEdit.ShowPageHeader()
@subAktivitasLogbookMonitoringStockPipaEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasLogbookMonitoringStockPipaedit" id="fSubAktivitasLogbookMonitoringStockPipaedit" class="@(subAktivitasLogbookMonitoringStockPipaEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasLogbookMonitoringStockPipaEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasLogbookMonitoringStockPipa: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasLogbookMonitoringStockPipaedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasLogbookMonitoringStockPipaedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["Nomor_Tangki", [fields.Nomor_Tangki.visible && fields.Nomor_Tangki.required ? ew.Validators.required(fields.Nomor_Tangki.caption) : null], fields.Nomor_Tangki.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["Aktivitas2", [fields.Aktivitas2.visible && fields.Aktivitas2.required ? ew.Validators.required(fields.Aktivitas2.caption) : null], fields.Aktivitas2.isInvalid],
            ["Level_Tangki", [fields.Level_Tangki.visible && fields.Level_Tangki.required ? ew.Validators.required(fields.Level_Tangki.caption) : null], fields.Level_Tangki.isInvalid],
            ["Volume_KL", [fields.Volume_KL.visible && fields.Volume_KL.required ? ew.Validators.required(fields.Volume_KL.caption) : null], fields.Volume_KL.isInvalid],
            ["Flowrate", [fields.Flowrate.visible && fields.Flowrate.required ? ew.Validators.required(fields.Flowrate.caption) : null], fields.Flowrate.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["IdPlant", [fields.IdPlant.visible && fields.IdPlant.required ? ew.Validators.required(fields.IdPlant.caption) : null, ew.Validators.integer], fields.IdPlant.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasLogbookMonitoringStockPipaEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasLogbookMonitoringStockPipaEdit.OldKeyName)" value="@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasLogbookMonitoringStockPipaEdit.id.Visible) { // subAktivitasLogbookMonitoringStockPipaEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.id.RowAttributes)>
        <label id="elh_SubAktivitasLogbookMonitoringStockPipa_id" class="@(subAktivitasLogbookMonitoringStockPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.id.Caption)@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookMonitoringStockPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.id.CellAttributes)>
<span id="el_SubAktivitasLogbookMonitoringStockPipa_id">
<span @Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasLogbookMonitoringStockPipaEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasLogbookMonitoringStockPipa" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasLogbookMonitoringStockPipaEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasLogbookMonitoringStockPipaEdit.id.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockPipaEdit.idProses.Visible) { // subAktivitasLogbookMonitoringStockPipaEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasLogbookMonitoringStockPipa_idProses" for="x_idProses" class="@(subAktivitasLogbookMonitoringStockPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.idProses.Caption)@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookMonitoringStockPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasLogbookMonitoringStockPipa_idProses">
<input type="@(subAktivitasLogbookMonitoringStockPipaEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubAktivitasLogbookMonitoringStockPipa" data-field="x_idProses" value="@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookMonitoringStockPipaEdit.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookMonitoringStockPipaEdit.idProses.FormatPattern)"@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookMonitoringStockPipaEdit.idProses.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockPipaEdit.idAktifitas.Visible) { // subAktivitasLogbookMonitoringStockPipaEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasLogbookMonitoringStockPipa_idAktifitas" for="x_idAktifitas" class="@(subAktivitasLogbookMonitoringStockPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.idAktifitas.Caption)@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookMonitoringStockPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasLogbookMonitoringStockPipa_idAktifitas">
<input type="@(subAktivitasLogbookMonitoringStockPipaEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubAktivitasLogbookMonitoringStockPipa" data-field="x_idAktifitas" value="@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookMonitoringStockPipaEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookMonitoringStockPipaEdit.idAktifitas.FormatPattern)"@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookMonitoringStockPipaEdit.idAktifitas.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockPipaEdit.NoReferensi.Visible) { // subAktivitasLogbookMonitoringStockPipaEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasLogbookMonitoringStockPipa_NoReferensi" for="x_NoReferensi" class="@(subAktivitasLogbookMonitoringStockPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.NoReferensi.Caption)@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookMonitoringStockPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasLogbookMonitoringStockPipa_NoReferensi">
<input type="@(subAktivitasLogbookMonitoringStockPipaEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasLogbookMonitoringStockPipa" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.NoReferensi.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookMonitoringStockPipaEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookMonitoringStockPipaEdit.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookMonitoringStockPipaEdit.NoReferensi.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockPipaEdit.Nomor_Tangki.Visible) { // subAktivitasLogbookMonitoringStockPipaEdit.Nomor_Tangki.Visible (begin)
    <div id="r_Nomor_Tangki" @Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Nomor_Tangki.RowAttributes)>
        <label id="elh_SubAktivitasLogbookMonitoringStockPipa_Nomor_Tangki" for="x_Nomor_Tangki" class="@(subAktivitasLogbookMonitoringStockPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Nomor_Tangki.Caption)@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Nomor_Tangki.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookMonitoringStockPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Nomor_Tangki.CellAttributes)>
<span id="el_SubAktivitasLogbookMonitoringStockPipa_Nomor_Tangki">
<input type="@(subAktivitasLogbookMonitoringStockPipaEdit.Nomor_Tangki.InputTextType)" name="x_Nomor_Tangki" id="x_Nomor_Tangki" data-table="SubAktivitasLogbookMonitoringStockPipa" data-field="x_Nomor_Tangki" value="@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Nomor_Tangki.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookMonitoringStockPipaEdit.Nomor_Tangki.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookMonitoringStockPipaEdit.Nomor_Tangki.FormatPattern)"@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Nomor_Tangki.EditAttributes) aria-describedby="x_Nomor_Tangki_help">
@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Nomor_Tangki.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Nomor_Tangki.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookMonitoringStockPipaEdit.Nomor_Tangki.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockPipaEdit.Produk.Visible) { // subAktivitasLogbookMonitoringStockPipaEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Produk.RowAttributes)>
        <label id="elh_SubAktivitasLogbookMonitoringStockPipa_Produk" for="x_Produk" class="@(subAktivitasLogbookMonitoringStockPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Produk.Caption)@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookMonitoringStockPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Produk.CellAttributes)>
<span id="el_SubAktivitasLogbookMonitoringStockPipa_Produk">
<input type="@(subAktivitasLogbookMonitoringStockPipaEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasLogbookMonitoringStockPipa" data-field="x_Produk" value="@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Produk.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookMonitoringStockPipaEdit.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookMonitoringStockPipaEdit.Produk.FormatPattern)"@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookMonitoringStockPipaEdit.Produk.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockPipaEdit.Aktivitas2.Visible) { // subAktivitasLogbookMonitoringStockPipaEdit.Aktivitas2.Visible (begin)
    <div id="r_Aktivitas2" @Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Aktivitas2.RowAttributes)>
        <label id="elh_SubAktivitasLogbookMonitoringStockPipa_Aktivitas2" for="x_Aktivitas2" class="@(subAktivitasLogbookMonitoringStockPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Aktivitas2.Caption)@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Aktivitas2.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookMonitoringStockPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Aktivitas2.CellAttributes)>
<span id="el_SubAktivitasLogbookMonitoringStockPipa_Aktivitas2">
<input type="@(subAktivitasLogbookMonitoringStockPipaEdit.Aktivitas2.InputTextType)" name="x_Aktivitas2" id="x_Aktivitas2" data-table="SubAktivitasLogbookMonitoringStockPipa" data-field="x_Aktivitas2" value="@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Aktivitas2.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookMonitoringStockPipaEdit.Aktivitas2.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookMonitoringStockPipaEdit.Aktivitas2.FormatPattern)"@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Aktivitas2.EditAttributes) aria-describedby="x_Aktivitas2_help">
@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Aktivitas2.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Aktivitas2.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookMonitoringStockPipaEdit.Aktivitas2.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockPipaEdit.Level_Tangki.Visible) { // subAktivitasLogbookMonitoringStockPipaEdit.Level_Tangki.Visible (begin)
    <div id="r_Level_Tangki" @Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Level_Tangki.RowAttributes)>
        <label id="elh_SubAktivitasLogbookMonitoringStockPipa_Level_Tangki" for="x_Level_Tangki" class="@(subAktivitasLogbookMonitoringStockPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Level_Tangki.Caption)@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Level_Tangki.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookMonitoringStockPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Level_Tangki.CellAttributes)>
<span id="el_SubAktivitasLogbookMonitoringStockPipa_Level_Tangki">
<input type="@(subAktivitasLogbookMonitoringStockPipaEdit.Level_Tangki.InputTextType)" name="x_Level_Tangki" id="x_Level_Tangki" data-table="SubAktivitasLogbookMonitoringStockPipa" data-field="x_Level_Tangki" value="@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Level_Tangki.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookMonitoringStockPipaEdit.Level_Tangki.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookMonitoringStockPipaEdit.Level_Tangki.FormatPattern)"@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Level_Tangki.EditAttributes) aria-describedby="x_Level_Tangki_help">
@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Level_Tangki.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Level_Tangki.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookMonitoringStockPipaEdit.Level_Tangki.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockPipaEdit.Volume_KL.Visible) { // subAktivitasLogbookMonitoringStockPipaEdit.Volume_KL.Visible (begin)
    <div id="r_Volume_KL" @Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Volume_KL.RowAttributes)>
        <label id="elh_SubAktivitasLogbookMonitoringStockPipa_Volume_KL" for="x_Volume_KL" class="@(subAktivitasLogbookMonitoringStockPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Volume_KL.Caption)@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Volume_KL.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookMonitoringStockPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Volume_KL.CellAttributes)>
<span id="el_SubAktivitasLogbookMonitoringStockPipa_Volume_KL">
<input type="@(subAktivitasLogbookMonitoringStockPipaEdit.Volume_KL.InputTextType)" name="x_Volume_KL" id="x_Volume_KL" data-table="SubAktivitasLogbookMonitoringStockPipa" data-field="x_Volume_KL" value="@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Volume_KL.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookMonitoringStockPipaEdit.Volume_KL.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookMonitoringStockPipaEdit.Volume_KL.FormatPattern)"@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Volume_KL.EditAttributes) aria-describedby="x_Volume_KL_help">
@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Volume_KL.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Volume_KL.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookMonitoringStockPipaEdit.Volume_KL.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockPipaEdit.Flowrate.Visible) { // subAktivitasLogbookMonitoringStockPipaEdit.Flowrate.Visible (begin)
    <div id="r_Flowrate" @Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Flowrate.RowAttributes)>
        <label id="elh_SubAktivitasLogbookMonitoringStockPipa_Flowrate" for="x_Flowrate" class="@(subAktivitasLogbookMonitoringStockPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Flowrate.Caption)@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Flowrate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookMonitoringStockPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Flowrate.CellAttributes)>
<span id="el_SubAktivitasLogbookMonitoringStockPipa_Flowrate">
<input type="@(subAktivitasLogbookMonitoringStockPipaEdit.Flowrate.InputTextType)" name="x_Flowrate" id="x_Flowrate" data-table="SubAktivitasLogbookMonitoringStockPipa" data-field="x_Flowrate" value="@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Flowrate.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookMonitoringStockPipaEdit.Flowrate.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookMonitoringStockPipaEdit.Flowrate.FormatPattern)"@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Flowrate.EditAttributes) aria-describedby="x_Flowrate_help">
@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Flowrate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.Flowrate.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookMonitoringStockPipaEdit.Flowrate.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockPipaEdit.userInput.Visible) { // subAktivitasLogbookMonitoringStockPipaEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.userInput.RowAttributes)>
        <label id="elh_SubAktivitasLogbookMonitoringStockPipa_userInput" for="x_userInput" class="@(subAktivitasLogbookMonitoringStockPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.userInput.Caption)@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookMonitoringStockPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.userInput.CellAttributes)>
<span id="el_SubAktivitasLogbookMonitoringStockPipa_userInput">
<input type="@(subAktivitasLogbookMonitoringStockPipaEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasLogbookMonitoringStockPipa" data-field="x_userInput" value="@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookMonitoringStockPipaEdit.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookMonitoringStockPipaEdit.userInput.FormatPattern)"@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookMonitoringStockPipaEdit.userInput.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockPipaEdit.etlDate.Visible) { // subAktivitasLogbookMonitoringStockPipaEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasLogbookMonitoringStockPipa_etlDate" for="x_etlDate" class="@(subAktivitasLogbookMonitoringStockPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.etlDate.Caption)@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookMonitoringStockPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.etlDate.CellAttributes)>
<span id="el_SubAktivitasLogbookMonitoringStockPipa_etlDate">
<input type="@(subAktivitasLogbookMonitoringStockPipaEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasLogbookMonitoringStockPipa" data-field="x_etlDate" value="@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookMonitoringStockPipaEdit.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookMonitoringStockPipaEdit.etlDate.FormatPattern)"@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.etlDate.GetErrorMessage())</div>
@if (!subAktivitasLogbookMonitoringStockPipaEdit.etlDate.ReadOnly && !subAktivitasLogbookMonitoringStockPipaEdit.etlDate.Disabled && !subAktivitasLogbookMonitoringStockPipaEdit.etlDate.EditAttrs.Is("readonly") && !subAktivitasLogbookMonitoringStockPipaEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasLogbookMonitoringStockPipaedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasLogbookMonitoringStockPipaedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasLogbookMonitoringStockPipaEdit.etlDate.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockPipaEdit.LastUpdatedBy.Visible) { // subAktivitasLogbookMonitoringStockPipaEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasLogbookMonitoringStockPipa_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasLogbookMonitoringStockPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookMonitoringStockPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasLogbookMonitoringStockPipa_LastUpdatedBy">
<input type="@(subAktivitasLogbookMonitoringStockPipaEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasLogbookMonitoringStockPipa" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookMonitoringStockPipaEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookMonitoringStockPipaEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookMonitoringStockPipaEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockPipaEdit.lastUpdatedDate.Visible) { // subAktivitasLogbookMonitoringStockPipaEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasLogbookMonitoringStockPipa_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasLogbookMonitoringStockPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookMonitoringStockPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasLogbookMonitoringStockPipa_lastUpdatedDate">
<input type="@(subAktivitasLogbookMonitoringStockPipaEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasLogbookMonitoringStockPipa" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookMonitoringStockPipaEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookMonitoringStockPipaEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasLogbookMonitoringStockPipaEdit.lastUpdatedDate.ReadOnly && !subAktivitasLogbookMonitoringStockPipaEdit.lastUpdatedDate.Disabled && !subAktivitasLogbookMonitoringStockPipaEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasLogbookMonitoringStockPipaEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasLogbookMonitoringStockPipaedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasLogbookMonitoringStockPipaedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasLogbookMonitoringStockPipaEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockPipaEdit.IdPlant.Visible) { // subAktivitasLogbookMonitoringStockPipaEdit.IdPlant.Visible (begin)
    <div id="r_IdPlant" @Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.IdPlant.RowAttributes)>
        <label id="elh_SubAktivitasLogbookMonitoringStockPipa_IdPlant" for="x_IdPlant" class="@(subAktivitasLogbookMonitoringStockPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.IdPlant.Caption)@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.IdPlant.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookMonitoringStockPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.IdPlant.CellAttributes)>
<span id="el_SubAktivitasLogbookMonitoringStockPipa_IdPlant">
<input type="@(subAktivitasLogbookMonitoringStockPipaEdit.IdPlant.InputTextType)" name="x_IdPlant" id="x_IdPlant" data-table="SubAktivitasLogbookMonitoringStockPipa" data-field="x_IdPlant" value="@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.IdPlant.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookMonitoringStockPipaEdit.IdPlant.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookMonitoringStockPipaEdit.IdPlant.FormatPattern)"@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.IdPlant.EditAttributes) aria-describedby="x_IdPlant_help">
@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.IdPlant.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.IdPlant.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookMonitoringStockPipaEdit.IdPlant.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasLogbookMonitoringStockPipaEdit.CloseRecordset(); }
@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasLogbookMonitoringStockPipaEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasLogbookMonitoringStockPipaedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasLogbookMonitoringStockPipaedit" data-href="@AppPath(subAktivitasLogbookMonitoringStockPipaEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasLogbookMonitoringStockPipaEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasLogbookMonitoringStockPipaEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasLogbookMonitoringStockPipa");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
