@{
    // View
    View = this;

    // Check action result
    if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.TotalRecords > 0 && subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.ExportOptions.Visible) {
    subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.ExportOptions.Render("body");
}
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.ImportOptions.Visible) {
    subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.ImportOptions.Render("body");
}
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.SearchOptions.Visible) {
    subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.SearchOptions.Render("body");
}
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.FilterOptions.Visible) {
    subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.IsModal) {
<form name="fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBMsrch" id="fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBMsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBMsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM: currentTable } });
var currentForm;
var fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBMsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBMsrch")
        .setPageId("list")
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.IsExport() && Empty(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.CurrentAction) && subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBMsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBMsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBMsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBMsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.ShowPageHeader()
@subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.ShowMessages()
<main class="list @(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.TotalRecords == 0 && !subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.TotalRecords > 0 || !Empty(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.TableGridClass)">
<form name="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.FormName)" id="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM" class="card-body ew-grid-middle-panel @(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.TableContainerClass)" style="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.TableContainerStyle)">
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.TotalRecords > 0 || subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.IsGridEdit || subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.IsMultiEdit) {
<table id="tbl_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBMlist" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowType = RowType.Header;

    // Render list options
    await subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.ListOptions.RenderHeader("left")
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.id.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.id.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_id" class="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_id">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.id))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.id.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.idProses.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_idProses" class="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_idProses">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.idProses))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.idProses.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.idAktifitas.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_idAktifitas" class="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_idAktifitas">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.idAktifitas))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.idAktifitas.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NoReferensi.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_NoReferensi" class="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_NoReferensi">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NoReferensi))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NoReferensi.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NamaKapal.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NamaKapal.Visible (begin)
        <th data-name="NamaKapal" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NamaKapal.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_NamaKapal" class="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_NamaKapal">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NamaKapal))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NamaKapal.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Tanggal.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_Tanggal" class="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_Tanggal">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Tanggal))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Tanggal.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NamaKegiatan.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NamaKegiatan.Visible (begin)
        <th data-name="NamaKegiatan" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NamaKegiatan.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_NamaKegiatan" class="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_NamaKegiatan">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NamaKegiatan))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NamaKegiatan.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Produk.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_Produk" class="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_Produk">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Produk))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Produk.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Density.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Density.Visible (begin)
        <th data-name="Density" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Density.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_Density" class="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_Density">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Density))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Density.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Temperature.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Temperature.Visible (begin)
        <th data-name="Temperature" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Temperature.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_Temperature" class="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_Temperature">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Temperature))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Temperature.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Pressure.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Pressure.Visible (begin)
        <th data-name="Pressure" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Pressure.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_Pressure" class="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_Pressure">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Pressure))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Pressure.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.userInput.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_userInput" class="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_userInput">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.userInput))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.userInput.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.etlDate.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_etlDate" class="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_etlDate">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.etlDate))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.etlDate.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.LastUpdatedBy.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_LastUpdatedBy" class="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_LastUpdatedBy">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.LastUpdatedBy))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.lastUpdatedDate.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_lastUpdatedDate" class="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_lastUpdatedDate">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.lastUpdatedDate))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.lastUpdatedDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.PageNumber)">
@{
    await subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.SetupGrid();
    bool eof = subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Recordset == null; // DN
}
@while (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RecordCount < subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.StopRecord || SameString(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") &&
        (!subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.IsGridAdd || subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.CurrentMode == "copy") &&
        (!((subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.IsCopy || subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.IsAdd) && subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Recordset.ReadAsync();
    subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RecordCount++;
    if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RecordCount >= subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.StartRecord) {
        await subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.SetupRow();
    <tr @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.ListOptions.RenderBody("left", subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowCount)
    @if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.id.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_id" class="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_id">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.id.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.id.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.idProses.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_idProses" class="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_idProses">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.idProses.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.idAktifitas.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_idAktifitas" class="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_idAktifitas">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.idAktifitas.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NoReferensi.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_NoReferensi" class="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_NoReferensi">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NoReferensi.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NamaKapal.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NamaKapal.Visible (begin)
        <td data-name="NamaKapal" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NamaKapal.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_NamaKapal" class="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_NamaKapal">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NamaKapal.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NamaKapal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NamaKapal.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Tanggal.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Tanggal.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_Tanggal" class="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_Tanggal">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Tanggal.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NamaKegiatan.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NamaKegiatan.Visible (begin)
        <td data-name="NamaKegiatan" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NamaKegiatan.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_NamaKegiatan" class="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_NamaKegiatan">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NamaKegiatan.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NamaKegiatan.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.NamaKegiatan.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Produk.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Produk.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_Produk" class="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_Produk">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Produk.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Density.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Density.Visible (begin)
        <td data-name="Density" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Density.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_Density" class="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_Density">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Density.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Density.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Density.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Temperature.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Temperature.Visible (begin)
        <td data-name="Temperature" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Temperature.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_Temperature" class="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_Temperature">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Temperature.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Temperature.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Temperature.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Pressure.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Pressure.Visible (begin)
        <td data-name="Pressure" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Pressure.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_Pressure" class="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_Pressure">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Pressure.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Pressure.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Pressure.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.userInput.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_userInput" class="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_userInput">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.userInput.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.etlDate.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_etlDate" class="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_etlDate">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.etlDate.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.LastUpdatedBy.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_LastUpdatedBy" class="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_LastUpdatedBy">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.lastUpdatedDate.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_lastUpdatedDate" class="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_lastUpdatedDate">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.lastUpdatedDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.ListOptions.RenderBody("right", subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowIndex, "$rowindex$"))
        subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.IsCopy || subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.IsAdd) && subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.CurrentAction) && !subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.CloseRecordset(); }
@if (!subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.IsGridAdd && !(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.IsGridEdit && subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.ModalGridEdit) && !subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.IsMultiEdit) {
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
