@{
    // View
    View = this;

    // Check action result
    if (subAktivitasDataGerbongKetelRtwAdd.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasDataGerbongKetelRtwAdd.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataGerbongKetelRtwAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataGerbongKetelRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fSubAktivitasDataGerbongKetelRTWadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasDataGerbongKetelRTWadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null, ew.Validators.integer], fields.StatusAktivitas.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["Shipment", [fields.Shipment.visible && fields.Shipment.required ? ew.Validators.required(fields.Shipment.caption) : null], fields.Shipment.isInvalid],
            ["JenisProduk", [fields.JenisProduk.visible && fields.JenisProduk.required ? ew.Validators.required(fields.JenisProduk.caption) : null], fields.JenisProduk.isInvalid],
            ["TanggalTiba", [fields.TanggalTiba.visible && fields.TanggalTiba.required ? ew.Validators.required(fields.TanggalTiba.caption) : null, ew.Validators.datetime(fields.TanggalTiba.clientFormatPattern)], fields.TanggalTiba.isInvalid],
            ["Nominasi", [fields.Nominasi.visible && fields.Nominasi.required ? ew.Validators.required(fields.Nominasi.caption) : null], fields.Nominasi.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["DetailGerbong", [fields.DetailGerbong.visible && fields.DetailGerbong.required ? ew.Validators.required(fields.DetailGerbong.caption) : null], fields.DetailGerbong.isInvalid],
            ["DetailQuantity", [fields.DetailQuantity.visible && fields.DetailQuantity.required ? ew.Validators.required(fields.DetailQuantity.caption) : null], fields.DetailQuantity.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "idProses": @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.idProses.ToClientList(subAktivitasDataGerbongKetelRtwAdd)),
            "idAktifitas": @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.idAktifitas.ToClientList(subAktivitasDataGerbongKetelRtwAdd)),
            "StatusAktivitas": @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.StatusAktivitas.ToClientList(subAktivitasDataGerbongKetelRtwAdd)),
            "JenisProduk": @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.JenisProduk.ToClientList(subAktivitasDataGerbongKetelRtwAdd)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasDataGerbongKetelRtwAdd.ShowPageHeader()
@subAktivitasDataGerbongKetelRtwAdd.ShowMessages()
<form name="fSubAktivitasDataGerbongKetelRTWadd" id="fSubAktivitasDataGerbongKetelRTWadd" class="@(subAktivitasDataGerbongKetelRtwAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasDataGerbongKetelRtwAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasDataGerbongKetelRtwAdd.OldKeyName)" value="@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (subAktivitasDataGerbongKetelRtwAdd.NoReferensi.Visible) { // subAktivitasDataGerbongKetelRtwAdd.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasDataGerbongKetelRTW_NoReferensi" for="x_NoReferensi" class="@(subAktivitasDataGerbongKetelRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.NoReferensi.Caption)@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasDataGerbongKetelRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasDataGerbongKetelRTW_NoReferensi">
<input type="@(subAktivitasDataGerbongKetelRtwAdd.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasDataGerbongKetelRTW" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.NoReferensi.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasDataGerbongKetelRtwAdd.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasDataGerbongKetelRtwAdd.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasDataGerbongKetelRtwAdd.NoReferensi.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwAdd.idProses.Visible) { // subAktivitasDataGerbongKetelRtwAdd.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.idProses.RowAttributes)>
        <label id="elh_SubAktivitasDataGerbongKetelRTW_idProses" class="@(subAktivitasDataGerbongKetelRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.idProses.Caption)@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasDataGerbongKetelRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.idProses.CellAttributes)>
<span id="el_SubAktivitasDataGerbongKetelRTW_idProses">
<span>@{
    if (IsRTL) {
        subAktivitasDataGerbongKetelRtwAdd.idProses.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_idProses" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_idProses" id="sv_x_idProses" value="@(RemoveHtml(ConvertToString(subAktivitasDataGerbongKetelRtwAdd.idProses.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasDataGerbongKetelRtwAdd.idProses.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasDataGerbongKetelRtwAdd.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasDataGerbongKetelRtwAdd.idProses.FormatPattern)" @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.idProses.EditAttributes) aria-describedby="x_idProses_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasDataGerbongKetelRTW" data-field="x_idProses" data-input="sv_x_idProses" data-value-separator="@(subAktivitasDataGerbongKetelRtwAdd.idProses.DisplayValueSeparatorAttribute)" name="x_idProses" id="x_idProses" value="@(HtmlEncode(subAktivitasDataGerbongKetelRtwAdd.idProses.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.idProses.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasDataGerbongKetelRTWadd"], function() {
    fSubAktivitasDataGerbongKetelRTWadd.createAutoSuggest(Object.assign({"id":"x_idProses","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasDataGerbongKetelRtwAdd.idProses.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasDataGerbongKetelRTW.fields.idProses.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.idProses.Lookup.GetParamTag(subAktivitasDataGerbongKetelRtwAdd, "p_x_idProses"))
</span>
</div></div>
    </div>
} @* subAktivitasDataGerbongKetelRtwAdd.idProses.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwAdd.idAktifitas.Visible) { // subAktivitasDataGerbongKetelRtwAdd.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasDataGerbongKetelRTW_idAktifitas" class="@(subAktivitasDataGerbongKetelRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.idAktifitas.Caption)@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasDataGerbongKetelRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasDataGerbongKetelRTW_idAktifitas">
<span>@{
    if (IsRTL) {
        subAktivitasDataGerbongKetelRtwAdd.idAktifitas.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_idAktifitas" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_idAktifitas" id="sv_x_idAktifitas" value="@(RemoveHtml(ConvertToString(subAktivitasDataGerbongKetelRtwAdd.idAktifitas.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasDataGerbongKetelRtwAdd.idAktifitas.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasDataGerbongKetelRtwAdd.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasDataGerbongKetelRtwAdd.idAktifitas.FormatPattern)" @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasDataGerbongKetelRTW" data-field="x_idAktifitas" data-input="sv_x_idAktifitas" data-value-separator="@(subAktivitasDataGerbongKetelRtwAdd.idAktifitas.DisplayValueSeparatorAttribute)" name="x_idAktifitas" id="x_idAktifitas" value="@(HtmlEncode(subAktivitasDataGerbongKetelRtwAdd.idAktifitas.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.idAktifitas.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasDataGerbongKetelRTWadd"], function() {
    fSubAktivitasDataGerbongKetelRTWadd.createAutoSuggest(Object.assign({"id":"x_idAktifitas","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasDataGerbongKetelRtwAdd.idAktifitas.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasDataGerbongKetelRTW.fields.idAktifitas.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.idAktifitas.Lookup.GetParamTag(subAktivitasDataGerbongKetelRtwAdd, "p_x_idAktifitas"))
</span>
</div></div>
    </div>
} @* subAktivitasDataGerbongKetelRtwAdd.idAktifitas.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwAdd.StatusAktivitas.Visible) { // subAktivitasDataGerbongKetelRtwAdd.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.StatusAktivitas.RowAttributes)>
        <label id="elh_SubAktivitasDataGerbongKetelRTW_StatusAktivitas" class="@(subAktivitasDataGerbongKetelRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.StatusAktivitas.Caption)@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasDataGerbongKetelRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasDataGerbongKetelRTW_StatusAktivitas">
<span>@{
    if (IsRTL) {
        subAktivitasDataGerbongKetelRtwAdd.StatusAktivitas.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_StatusAktivitas" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_StatusAktivitas" id="sv_x_StatusAktivitas" value="@(RemoveHtml(ConvertToString(subAktivitasDataGerbongKetelRtwAdd.StatusAktivitas.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasDataGerbongKetelRtwAdd.StatusAktivitas.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasDataGerbongKetelRtwAdd.StatusAktivitas.PlaceHolder))" data-format-pattern="@(subAktivitasDataGerbongKetelRtwAdd.StatusAktivitas.FormatPattern)" @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.StatusAktivitas.EditAttributes) aria-describedby="x_StatusAktivitas_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasDataGerbongKetelRTW" data-field="x_StatusAktivitas" data-input="sv_x_StatusAktivitas" data-value-separator="@(subAktivitasDataGerbongKetelRtwAdd.StatusAktivitas.DisplayValueSeparatorAttribute)" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@(HtmlEncode(subAktivitasDataGerbongKetelRtwAdd.StatusAktivitas.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.StatusAktivitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.StatusAktivitas.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasDataGerbongKetelRTWadd"], function() {
    fSubAktivitasDataGerbongKetelRTWadd.createAutoSuggest(Object.assign({"id":"x_StatusAktivitas","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasDataGerbongKetelRtwAdd.StatusAktivitas.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasDataGerbongKetelRTW.fields.StatusAktivitas.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.StatusAktivitas.Lookup.GetParamTag(subAktivitasDataGerbongKetelRtwAdd, "p_x_StatusAktivitas"))
</span>
</div></div>
    </div>
} @* subAktivitasDataGerbongKetelRtwAdd.StatusAktivitas.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwAdd.LastUpdatedBy.Visible) { // subAktivitasDataGerbongKetelRtwAdd.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasDataGerbongKetelRTW_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasDataGerbongKetelRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.LastUpdatedBy.Caption)@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasDataGerbongKetelRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasDataGerbongKetelRTW_LastUpdatedBy">
<input type="@(subAktivitasDataGerbongKetelRtwAdd.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasDataGerbongKetelRTW" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasDataGerbongKetelRtwAdd.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasDataGerbongKetelRtwAdd.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasDataGerbongKetelRtwAdd.LastUpdatedBy.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwAdd.lastUpdatedDate.Visible) { // subAktivitasDataGerbongKetelRtwAdd.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasDataGerbongKetelRTW_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasDataGerbongKetelRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.lastUpdatedDate.Caption)@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasDataGerbongKetelRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasDataGerbongKetelRTW_lastUpdatedDate">
<input type="@(subAktivitasDataGerbongKetelRtwAdd.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasDataGerbongKetelRTW" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasDataGerbongKetelRtwAdd.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasDataGerbongKetelRtwAdd.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasDataGerbongKetelRtwAdd.lastUpdatedDate.ReadOnly && !subAktivitasDataGerbongKetelRtwAdd.lastUpdatedDate.Disabled && !subAktivitasDataGerbongKetelRtwAdd.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasDataGerbongKetelRtwAdd.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasDataGerbongKetelRTWadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasDataGerbongKetelRTWadd", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasDataGerbongKetelRtwAdd.lastUpdatedDate.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwAdd.Shipment.Visible) { // subAktivitasDataGerbongKetelRtwAdd.Shipment.Visible (begin)
    <div id="r_Shipment" @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.Shipment.RowAttributes)>
        <label id="elh_SubAktivitasDataGerbongKetelRTW_Shipment" for="x_Shipment" class="@(subAktivitasDataGerbongKetelRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.Shipment.Caption)@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.Shipment.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasDataGerbongKetelRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.Shipment.CellAttributes)>
<span id="el_SubAktivitasDataGerbongKetelRTW_Shipment">
<input type="@(subAktivitasDataGerbongKetelRtwAdd.Shipment.InputTextType)" name="x_Shipment" id="x_Shipment" data-table="SubAktivitasDataGerbongKetelRTW" data-field="x_Shipment" value="@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.Shipment.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasDataGerbongKetelRtwAdd.Shipment.PlaceHolder))" data-format-pattern="@(subAktivitasDataGerbongKetelRtwAdd.Shipment.FormatPattern)"@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.Shipment.EditAttributes) aria-describedby="x_Shipment_help">
@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.Shipment.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.Shipment.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasDataGerbongKetelRtwAdd.Shipment.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwAdd.JenisProduk.Visible) { // subAktivitasDataGerbongKetelRtwAdd.JenisProduk.Visible (begin)
    <div id="r_JenisProduk" @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.JenisProduk.RowAttributes)>
        <label id="elh_SubAktivitasDataGerbongKetelRTW_JenisProduk" class="@(subAktivitasDataGerbongKetelRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.JenisProduk.Caption)@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.JenisProduk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasDataGerbongKetelRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.JenisProduk.CellAttributes)>
<span id="el_SubAktivitasDataGerbongKetelRTW_JenisProduk">
<span>@{
    if (IsRTL) {
        subAktivitasDataGerbongKetelRtwAdd.JenisProduk.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_JenisProduk" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_JenisProduk" id="sv_x_JenisProduk" value="@(RemoveHtml(ConvertToString(subAktivitasDataGerbongKetelRtwAdd.JenisProduk.EditValue)))" autocomplete="off" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasDataGerbongKetelRtwAdd.JenisProduk.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasDataGerbongKetelRtwAdd.JenisProduk.PlaceHolder))" data-format-pattern="@(subAktivitasDataGerbongKetelRtwAdd.JenisProduk.FormatPattern)" @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.JenisProduk.EditAttributes) aria-describedby="x_JenisProduk_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasDataGerbongKetelRTW" data-field="x_JenisProduk" data-input="sv_x_JenisProduk" data-value-separator="@(subAktivitasDataGerbongKetelRtwAdd.JenisProduk.DisplayValueSeparatorAttribute)" name="x_JenisProduk" id="x_JenisProduk" value="@(HtmlEncode(subAktivitasDataGerbongKetelRtwAdd.JenisProduk.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.JenisProduk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.JenisProduk.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasDataGerbongKetelRTWadd"], function() {
    fSubAktivitasDataGerbongKetelRTWadd.createAutoSuggest(Object.assign({"id":"x_JenisProduk","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasDataGerbongKetelRtwAdd.JenisProduk.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasDataGerbongKetelRTW.fields.JenisProduk.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.JenisProduk.Lookup.GetParamTag(subAktivitasDataGerbongKetelRtwAdd, "p_x_JenisProduk"))
</span>
</div></div>
    </div>
} @* subAktivitasDataGerbongKetelRtwAdd.JenisProduk.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwAdd.TanggalTiba.Visible) { // subAktivitasDataGerbongKetelRtwAdd.TanggalTiba.Visible (begin)
    <div id="r_TanggalTiba" @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.TanggalTiba.RowAttributes)>
        <label id="elh_SubAktivitasDataGerbongKetelRTW_TanggalTiba" for="x_TanggalTiba" class="@(subAktivitasDataGerbongKetelRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.TanggalTiba.Caption)@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.TanggalTiba.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasDataGerbongKetelRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.TanggalTiba.CellAttributes)>
<span id="el_SubAktivitasDataGerbongKetelRTW_TanggalTiba">
<input type="@(subAktivitasDataGerbongKetelRtwAdd.TanggalTiba.InputTextType)" name="x_TanggalTiba" id="x_TanggalTiba" data-table="SubAktivitasDataGerbongKetelRTW" data-field="x_TanggalTiba" value="@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.TanggalTiba.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasDataGerbongKetelRtwAdd.TanggalTiba.PlaceHolder))" data-format-pattern="@(subAktivitasDataGerbongKetelRtwAdd.TanggalTiba.FormatPattern)"@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.TanggalTiba.EditAttributes) aria-describedby="x_TanggalTiba_help">
@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.TanggalTiba.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.TanggalTiba.GetErrorMessage())</div>
@if (!subAktivitasDataGerbongKetelRtwAdd.TanggalTiba.ReadOnly && !subAktivitasDataGerbongKetelRtwAdd.TanggalTiba.Disabled && !subAktivitasDataGerbongKetelRtwAdd.TanggalTiba.EditAttrs.Is("readonly") && !subAktivitasDataGerbongKetelRtwAdd.TanggalTiba.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasDataGerbongKetelRTWadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasDataGerbongKetelRTWadd", "x_TanggalTiba", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasDataGerbongKetelRtwAdd.TanggalTiba.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwAdd.Nominasi.Visible) { // subAktivitasDataGerbongKetelRtwAdd.Nominasi.Visible (begin)
    <div id="r_Nominasi" @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.Nominasi.RowAttributes)>
        <label id="elh_SubAktivitasDataGerbongKetelRTW_Nominasi" for="x_Nominasi" class="@(subAktivitasDataGerbongKetelRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.Nominasi.Caption)@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.Nominasi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasDataGerbongKetelRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.Nominasi.CellAttributes)>
<span id="el_SubAktivitasDataGerbongKetelRTW_Nominasi">
<input type="@(subAktivitasDataGerbongKetelRtwAdd.Nominasi.InputTextType)" name="x_Nominasi" id="x_Nominasi" data-table="SubAktivitasDataGerbongKetelRTW" data-field="x_Nominasi" value="@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.Nominasi.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasDataGerbongKetelRtwAdd.Nominasi.PlaceHolder))" data-format-pattern="@(subAktivitasDataGerbongKetelRtwAdd.Nominasi.FormatPattern)"@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.Nominasi.EditAttributes) aria-describedby="x_Nominasi_help">
@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.Nominasi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.Nominasi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasDataGerbongKetelRtwAdd.Nominasi.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwAdd.userInput.Visible) { // subAktivitasDataGerbongKetelRtwAdd.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.userInput.RowAttributes)>
        <label id="elh_SubAktivitasDataGerbongKetelRTW_userInput" for="x_userInput" class="@(subAktivitasDataGerbongKetelRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.userInput.Caption)@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasDataGerbongKetelRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.userInput.CellAttributes)>
<span id="el_SubAktivitasDataGerbongKetelRTW_userInput">
<input type="@(subAktivitasDataGerbongKetelRtwAdd.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasDataGerbongKetelRTW" data-field="x_userInput" value="@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasDataGerbongKetelRtwAdd.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasDataGerbongKetelRtwAdd.userInput.FormatPattern)"@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasDataGerbongKetelRtwAdd.userInput.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwAdd.etlDate.Visible) { // subAktivitasDataGerbongKetelRtwAdd.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasDataGerbongKetelRTW_etlDate" for="x_etlDate" class="@(subAktivitasDataGerbongKetelRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.etlDate.Caption)@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasDataGerbongKetelRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.etlDate.CellAttributes)>
<span id="el_SubAktivitasDataGerbongKetelRTW_etlDate">
<input type="@(subAktivitasDataGerbongKetelRtwAdd.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasDataGerbongKetelRTW" data-field="x_etlDate" value="@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasDataGerbongKetelRtwAdd.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasDataGerbongKetelRtwAdd.etlDate.FormatPattern)"@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.etlDate.GetErrorMessage())</div>
@if (!subAktivitasDataGerbongKetelRtwAdd.etlDate.ReadOnly && !subAktivitasDataGerbongKetelRtwAdd.etlDate.Disabled && !subAktivitasDataGerbongKetelRtwAdd.etlDate.EditAttrs.Is("readonly") && !subAktivitasDataGerbongKetelRtwAdd.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasDataGerbongKetelRTWadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasDataGerbongKetelRTWadd", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasDataGerbongKetelRtwAdd.etlDate.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwAdd.DetailGerbong.Visible) { // subAktivitasDataGerbongKetelRtwAdd.DetailGerbong.Visible (begin)
    <div id="r_DetailGerbong" @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.DetailGerbong.RowAttributes)>
        <label id="elh_SubAktivitasDataGerbongKetelRTW_DetailGerbong" for="x_DetailGerbong" class="@(subAktivitasDataGerbongKetelRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.DetailGerbong.Caption)@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.DetailGerbong.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasDataGerbongKetelRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.DetailGerbong.CellAttributes)>
<span id="el_SubAktivitasDataGerbongKetelRTW_DetailGerbong">
<input type="@(subAktivitasDataGerbongKetelRtwAdd.DetailGerbong.InputTextType)" name="x_DetailGerbong" id="x_DetailGerbong" data-table="SubAktivitasDataGerbongKetelRTW" data-field="x_DetailGerbong" value="@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.DetailGerbong.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasDataGerbongKetelRtwAdd.DetailGerbong.PlaceHolder))" data-format-pattern="@(subAktivitasDataGerbongKetelRtwAdd.DetailGerbong.FormatPattern)"@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.DetailGerbong.EditAttributes) aria-describedby="x_DetailGerbong_help">
@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.DetailGerbong.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.DetailGerbong.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasDataGerbongKetelRtwAdd.DetailGerbong.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwAdd.DetailQuantity.Visible) { // subAktivitasDataGerbongKetelRtwAdd.DetailQuantity.Visible (begin)
    <div id="r_DetailQuantity" @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.DetailQuantity.RowAttributes)>
        <label id="elh_SubAktivitasDataGerbongKetelRTW_DetailQuantity" for="x_DetailQuantity" class="@(subAktivitasDataGerbongKetelRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.DetailQuantity.Caption)@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.DetailQuantity.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasDataGerbongKetelRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasDataGerbongKetelRtwAdd.DetailQuantity.CellAttributes)>
<span id="el_SubAktivitasDataGerbongKetelRTW_DetailQuantity">
<input type="@(subAktivitasDataGerbongKetelRtwAdd.DetailQuantity.InputTextType)" name="x_DetailQuantity" id="x_DetailQuantity" data-table="SubAktivitasDataGerbongKetelRTW" data-field="x_DetailQuantity" value="@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.DetailQuantity.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasDataGerbongKetelRtwAdd.DetailQuantity.PlaceHolder))" data-format-pattern="@(subAktivitasDataGerbongKetelRtwAdd.DetailQuantity.FormatPattern)"@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.DetailQuantity.EditAttributes) aria-describedby="x_DetailQuantity_help">
@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.DetailQuantity.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.DetailQuantity.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasDataGerbongKetelRtwAdd.DetailQuantity.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasDataGerbongKetelRtwAdd.CloseRecordset(); }
@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasDataGerbongKetelRtwAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasDataGerbongKetelRTWadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasDataGerbongKetelRTWadd" data-href="@AppPath(subAktivitasDataGerbongKetelRtwAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasDataGerbongKetelRtwAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@subAktivitasDataGerbongKetelRtwAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasDataGerbongKetelRTW");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
