@{
    // View
    View = this;

    // Check action result
    if (subAktivitasLaporanStockList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasLaporanStockList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasLaporanStockList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasLaporanStockList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasLaporanStock: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasLaporanStockList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasLaporanStockList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasLaporanStockList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasLaporanStockList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasLaporanStockList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasLaporanStockList.TotalRecords > 0 && subAktivitasLaporanStockList.ExportOptions.Visible) {
    subAktivitasLaporanStockList.ExportOptions.Render("body");
}
@if (subAktivitasLaporanStockList.ImportOptions.Visible) {
    subAktivitasLaporanStockList.ImportOptions.Render("body");
}
@if (subAktivitasLaporanStockList.SearchOptions.Visible) {
    subAktivitasLaporanStockList.SearchOptions.Render("body");
}
@if (subAktivitasLaporanStockList.FilterOptions.Visible) {
    subAktivitasLaporanStockList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasLaporanStockList.IsModal) {
<form name="fSubAktivitasLaporanStocksrch" id="fSubAktivitasLaporanStocksrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasLaporanStocksrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasLaporanStockList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasLaporanStockList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasLaporanStock: currentTable } });
var currentForm;
var fSubAktivitasLaporanStocksrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasLaporanStocksrch")
        .setPageId("list")
@if (subAktivitasLaporanStockList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasLaporanStockList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasLaporanStockList.IsExport() && Empty(subAktivitasLaporanStockList.CurrentAction) && subAktivitasLaporanStockList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasLaporanStockList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasLaporanStockList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasLaporanStockList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasLaporanStockList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasLaporanStocksrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasLaporanStockList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasLaporanStocksrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasLaporanStockList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasLaporanStocksrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasLaporanStockList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasLaporanStocksrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasLaporanStockList.ShowPageHeader()
@subAktivitasLaporanStockList.ShowMessages()
<main class="list @(subAktivitasLaporanStockList.TotalRecords == 0 && !subAktivitasLaporanStockList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasLaporanStockList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasLaporanStockList.TotalRecords > 0 || !Empty(subAktivitasLaporanStockList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasLaporanStockList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasLaporanStockList.TableGridClass)">
<form name="@(subAktivitasLaporanStockList.FormName)" id="@(subAktivitasLaporanStockList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasLaporanStockList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasLaporanStockList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasLaporanStock" class="card-body ew-grid-middle-panel @(subAktivitasLaporanStockList.TableContainerClass)" style="@(subAktivitasLaporanStockList.TableContainerStyle)">
@if (subAktivitasLaporanStockList.TotalRecords > 0 || subAktivitasLaporanStockList.IsGridEdit || subAktivitasLaporanStockList.IsMultiEdit) {
<table id="tbl_SubAktivitasLaporanStocklist" class="@(subAktivitasLaporanStockList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasLaporanStockList.RowType = RowType.Header;

    // Render list options
    await subAktivitasLaporanStockList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasLaporanStockList.ListOptions.RenderHeader("left")
@if (subAktivitasLaporanStockList.NoReferensi.Visible) { // subAktivitasLaporanStockList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasLaporanStockList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStock_NoReferensi" class="SubAktivitasLaporanStock_NoReferensi">@Html.Raw(subAktivitasLaporanStockList.RenderFieldHeader(subAktivitasLaporanStockList.NoReferensi))</div></th>
} @* subAktivitasLaporanStockList.NoReferensi.Visible (end) *@
@if (subAktivitasLaporanStockList.idProses.Visible) { // subAktivitasLaporanStockList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasLaporanStockList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStock_idProses" class="SubAktivitasLaporanStock_idProses">@Html.Raw(subAktivitasLaporanStockList.RenderFieldHeader(subAktivitasLaporanStockList.idProses))</div></th>
} @* subAktivitasLaporanStockList.idProses.Visible (end) *@
@if (subAktivitasLaporanStockList.idAktifitas.Visible) { // subAktivitasLaporanStockList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasLaporanStockList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStock_idAktifitas" class="SubAktivitasLaporanStock_idAktifitas">@Html.Raw(subAktivitasLaporanStockList.RenderFieldHeader(subAktivitasLaporanStockList.idAktifitas))</div></th>
} @* subAktivitasLaporanStockList.idAktifitas.Visible (end) *@
@if (subAktivitasLaporanStockList.StatusAktivitas.Visible) { // subAktivitasLaporanStockList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasLaporanStockList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStock_StatusAktivitas" class="SubAktivitasLaporanStock_StatusAktivitas">@Html.Raw(subAktivitasLaporanStockList.RenderFieldHeader(subAktivitasLaporanStockList.StatusAktivitas))</div></th>
} @* subAktivitasLaporanStockList.StatusAktivitas.Visible (end) *@
@if (subAktivitasLaporanStockList.LastUpdatedBy.Visible) { // subAktivitasLaporanStockList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasLaporanStockList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStock_LastUpdatedBy" class="SubAktivitasLaporanStock_LastUpdatedBy">@Html.Raw(subAktivitasLaporanStockList.RenderFieldHeader(subAktivitasLaporanStockList.LastUpdatedBy))</div></th>
} @* subAktivitasLaporanStockList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasLaporanStockList.lastUpdatedDate.Visible) { // subAktivitasLaporanStockList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasLaporanStockList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStock_lastUpdatedDate" class="SubAktivitasLaporanStock_lastUpdatedDate">@Html.Raw(subAktivitasLaporanStockList.RenderFieldHeader(subAktivitasLaporanStockList.lastUpdatedDate))</div></th>
} @* subAktivitasLaporanStockList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasLaporanStockList.StockAwal.Visible) { // subAktivitasLaporanStockList.StockAwal.Visible (begin)
        <th data-name="StockAwal" class="@(subAktivitasLaporanStockList.StockAwal.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStock_StockAwal" class="SubAktivitasLaporanStock_StockAwal">@Html.Raw(subAktivitasLaporanStockList.RenderFieldHeader(subAktivitasLaporanStockList.StockAwal))</div></th>
} @* subAktivitasLaporanStockList.StockAwal.Visible (end) *@
@if (subAktivitasLaporanStockList.Penerimaan2.Visible) { // subAktivitasLaporanStockList.Penerimaan2.Visible (begin)
        <th data-name="Penerimaan2" class="@(subAktivitasLaporanStockList.Penerimaan2.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStock_Penerimaan2" class="SubAktivitasLaporanStock_Penerimaan2">@Html.Raw(subAktivitasLaporanStockList.RenderFieldHeader(subAktivitasLaporanStockList.Penerimaan2))</div></th>
} @* subAktivitasLaporanStockList.Penerimaan2.Visible (end) *@
@if (subAktivitasLaporanStockList.Penyaluran2.Visible) { // subAktivitasLaporanStockList.Penyaluran2.Visible (begin)
        <th data-name="Penyaluran2" class="@(subAktivitasLaporanStockList.Penyaluran2.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStock_Penyaluran2" class="SubAktivitasLaporanStock_Penyaluran2">@Html.Raw(subAktivitasLaporanStockList.RenderFieldHeader(subAktivitasLaporanStockList.Penyaluran2))</div></th>
} @* subAktivitasLaporanStockList.Penyaluran2.Visible (end) *@
@if (subAktivitasLaporanStockList.StockAkhir.Visible) { // subAktivitasLaporanStockList.StockAkhir.Visible (begin)
        <th data-name="StockAkhir" class="@(subAktivitasLaporanStockList.StockAkhir.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStock_StockAkhir" class="SubAktivitasLaporanStock_StockAkhir">@Html.Raw(subAktivitasLaporanStockList.RenderFieldHeader(subAktivitasLaporanStockList.StockAkhir))</div></th>
} @* subAktivitasLaporanStockList.StockAkhir.Visible (end) *@
@if (subAktivitasLaporanStockList.WorkingLoss.Visible) { // subAktivitasLaporanStockList.WorkingLoss.Visible (begin)
        <th data-name="WorkingLoss" class="@(subAktivitasLaporanStockList.WorkingLoss.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStock_WorkingLoss" class="SubAktivitasLaporanStock_WorkingLoss">@Html.Raw(subAktivitasLaporanStockList.RenderFieldHeader(subAktivitasLaporanStockList.WorkingLoss))</div></th>
} @* subAktivitasLaporanStockList.WorkingLoss.Visible (end) *@
@if (subAktivitasLaporanStockList.Presentase.Visible) { // subAktivitasLaporanStockList.Presentase.Visible (begin)
        <th data-name="Presentase" class="@(subAktivitasLaporanStockList.Presentase.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStock_Presentase" class="SubAktivitasLaporanStock_Presentase">@Html.Raw(subAktivitasLaporanStockList.RenderFieldHeader(subAktivitasLaporanStockList.Presentase))</div></th>
} @* subAktivitasLaporanStockList.Presentase.Visible (end) *@
@if (subAktivitasLaporanStockList.userInput.Visible) { // subAktivitasLaporanStockList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasLaporanStockList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStock_userInput" class="SubAktivitasLaporanStock_userInput">@Html.Raw(subAktivitasLaporanStockList.RenderFieldHeader(subAktivitasLaporanStockList.userInput))</div></th>
} @* subAktivitasLaporanStockList.userInput.Visible (end) *@
@if (subAktivitasLaporanStockList.Tangki.Visible) { // subAktivitasLaporanStockList.Tangki.Visible (begin)
        <th data-name="Tangki" class="@(subAktivitasLaporanStockList.Tangki.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStock_Tangki" class="SubAktivitasLaporanStock_Tangki">@Html.Raw(subAktivitasLaporanStockList.RenderFieldHeader(subAktivitasLaporanStockList.Tangki))</div></th>
} @* subAktivitasLaporanStockList.Tangki.Visible (end) *@
@if (subAktivitasLaporanStockList.Produk.Visible) { // subAktivitasLaporanStockList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasLaporanStockList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStock_Produk" class="SubAktivitasLaporanStock_Produk">@Html.Raw(subAktivitasLaporanStockList.RenderFieldHeader(subAktivitasLaporanStockList.Produk))</div></th>
} @* subAktivitasLaporanStockList.Produk.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasLaporanStockList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasLaporanStockList.PageNumber)">
@{
    await subAktivitasLaporanStockList.SetupGrid();
    bool eof = subAktivitasLaporanStockList.Recordset == null; // DN
}
@while (subAktivitasLaporanStockList.RecordCount < subAktivitasLaporanStockList.StopRecord || SameString(subAktivitasLaporanStockList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasLaporanStockList.RowIndex, "$rowindex$") &&
        (!subAktivitasLaporanStockList.IsGridAdd || subAktivitasLaporanStockList.CurrentMode == "copy") &&
        (!((subAktivitasLaporanStockList.IsCopy || subAktivitasLaporanStockList.IsAdd) && subAktivitasLaporanStockList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasLaporanStockList.Recordset.ReadAsync();
    subAktivitasLaporanStockList.RecordCount++;
    if (subAktivitasLaporanStockList.RecordCount >= subAktivitasLaporanStockList.StartRecord) {
        await subAktivitasLaporanStockList.SetupRow();
    <tr @Html.Raw(subAktivitasLaporanStockList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasLaporanStockList.ListOptions.RenderBody("left", subAktivitasLaporanStockList.RowCount)
    @if (subAktivitasLaporanStockList.NoReferensi.Visible) { // subAktivitasLaporanStockList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasLaporanStockList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasLaporanStockList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLaporanStockList.RowCount)_SubAktivitasLaporanStock_NoReferensi" class="el_SubAktivitasLaporanStock_NoReferensi">
<span @Html.Raw(subAktivitasLaporanStockList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockList.NoReferensi.Visible (end) *@
    @if (subAktivitasLaporanStockList.idProses.Visible) { // subAktivitasLaporanStockList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasLaporanStockList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasLaporanStockList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLaporanStockList.RowCount)_SubAktivitasLaporanStock_idProses" class="el_SubAktivitasLaporanStock_idProses">
<span @Html.Raw(subAktivitasLaporanStockList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockList.idProses.Visible (end) *@
    @if (subAktivitasLaporanStockList.idAktifitas.Visible) { // subAktivitasLaporanStockList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasLaporanStockList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasLaporanStockList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLaporanStockList.RowCount)_SubAktivitasLaporanStock_idAktifitas" class="el_SubAktivitasLaporanStock_idAktifitas">
<span @Html.Raw(subAktivitasLaporanStockList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockList.idAktifitas.Visible (end) *@
    @if (subAktivitasLaporanStockList.StatusAktivitas.Visible) { // subAktivitasLaporanStockList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasLaporanStockList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasLaporanStockList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLaporanStockList.RowCount)_SubAktivitasLaporanStock_StatusAktivitas" class="el_SubAktivitasLaporanStock_StatusAktivitas">
<span @Html.Raw(subAktivitasLaporanStockList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasLaporanStockList.LastUpdatedBy.Visible) { // subAktivitasLaporanStockList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasLaporanStockList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasLaporanStockList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLaporanStockList.RowCount)_SubAktivitasLaporanStock_LastUpdatedBy" class="el_SubAktivitasLaporanStock_LastUpdatedBy">
<span @Html.Raw(subAktivitasLaporanStockList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasLaporanStockList.lastUpdatedDate.Visible) { // subAktivitasLaporanStockList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasLaporanStockList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasLaporanStockList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLaporanStockList.RowCount)_SubAktivitasLaporanStock_lastUpdatedDate" class="el_SubAktivitasLaporanStock_lastUpdatedDate">
<span @Html.Raw(subAktivitasLaporanStockList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasLaporanStockList.StockAwal.Visible) { // subAktivitasLaporanStockList.StockAwal.Visible (begin)
        <td data-name="StockAwal" @Html.Raw(subAktivitasLaporanStockList.StockAwal.CellAttributes)>
<span id="el@(SameString(subAktivitasLaporanStockList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLaporanStockList.RowCount)_SubAktivitasLaporanStock_StockAwal" class="el_SubAktivitasLaporanStock_StockAwal">
<span @Html.Raw(subAktivitasLaporanStockList.StockAwal.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockList.StockAwal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockList.StockAwal.Visible (end) *@
    @if (subAktivitasLaporanStockList.Penerimaan2.Visible) { // subAktivitasLaporanStockList.Penerimaan2.Visible (begin)
        <td data-name="Penerimaan2" @Html.Raw(subAktivitasLaporanStockList.Penerimaan2.CellAttributes)>
<span id="el@(SameString(subAktivitasLaporanStockList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLaporanStockList.RowCount)_SubAktivitasLaporanStock_Penerimaan2" class="el_SubAktivitasLaporanStock_Penerimaan2">
<span @Html.Raw(subAktivitasLaporanStockList.Penerimaan2.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockList.Penerimaan2.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockList.Penerimaan2.Visible (end) *@
    @if (subAktivitasLaporanStockList.Penyaluran2.Visible) { // subAktivitasLaporanStockList.Penyaluran2.Visible (begin)
        <td data-name="Penyaluran2" @Html.Raw(subAktivitasLaporanStockList.Penyaluran2.CellAttributes)>
<span id="el@(SameString(subAktivitasLaporanStockList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLaporanStockList.RowCount)_SubAktivitasLaporanStock_Penyaluran2" class="el_SubAktivitasLaporanStock_Penyaluran2">
<span @Html.Raw(subAktivitasLaporanStockList.Penyaluran2.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockList.Penyaluran2.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockList.Penyaluran2.Visible (end) *@
    @if (subAktivitasLaporanStockList.StockAkhir.Visible) { // subAktivitasLaporanStockList.StockAkhir.Visible (begin)
        <td data-name="StockAkhir" @Html.Raw(subAktivitasLaporanStockList.StockAkhir.CellAttributes)>
<span id="el@(SameString(subAktivitasLaporanStockList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLaporanStockList.RowCount)_SubAktivitasLaporanStock_StockAkhir" class="el_SubAktivitasLaporanStock_StockAkhir">
<span @Html.Raw(subAktivitasLaporanStockList.StockAkhir.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockList.StockAkhir.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockList.StockAkhir.Visible (end) *@
    @if (subAktivitasLaporanStockList.WorkingLoss.Visible) { // subAktivitasLaporanStockList.WorkingLoss.Visible (begin)
        <td data-name="WorkingLoss" @Html.Raw(subAktivitasLaporanStockList.WorkingLoss.CellAttributes)>
<span id="el@(SameString(subAktivitasLaporanStockList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLaporanStockList.RowCount)_SubAktivitasLaporanStock_WorkingLoss" class="el_SubAktivitasLaporanStock_WorkingLoss">
<span @Html.Raw(subAktivitasLaporanStockList.WorkingLoss.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockList.WorkingLoss.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockList.WorkingLoss.Visible (end) *@
    @if (subAktivitasLaporanStockList.Presentase.Visible) { // subAktivitasLaporanStockList.Presentase.Visible (begin)
        <td data-name="Presentase" @Html.Raw(subAktivitasLaporanStockList.Presentase.CellAttributes)>
<span id="el@(SameString(subAktivitasLaporanStockList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLaporanStockList.RowCount)_SubAktivitasLaporanStock_Presentase" class="el_SubAktivitasLaporanStock_Presentase">
<span @Html.Raw(subAktivitasLaporanStockList.Presentase.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockList.Presentase.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockList.Presentase.Visible (end) *@
    @if (subAktivitasLaporanStockList.userInput.Visible) { // subAktivitasLaporanStockList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasLaporanStockList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasLaporanStockList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLaporanStockList.RowCount)_SubAktivitasLaporanStock_userInput" class="el_SubAktivitasLaporanStock_userInput">
<span @Html.Raw(subAktivitasLaporanStockList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockList.userInput.Visible (end) *@
    @if (subAktivitasLaporanStockList.Tangki.Visible) { // subAktivitasLaporanStockList.Tangki.Visible (begin)
        <td data-name="Tangki" @Html.Raw(subAktivitasLaporanStockList.Tangki.CellAttributes)>
<span id="el@(SameString(subAktivitasLaporanStockList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLaporanStockList.RowCount)_SubAktivitasLaporanStock_Tangki" class="el_SubAktivitasLaporanStock_Tangki">
<span @Html.Raw(subAktivitasLaporanStockList.Tangki.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockList.Tangki.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockList.Tangki.Visible (end) *@
    @if (subAktivitasLaporanStockList.Produk.Visible) { // subAktivitasLaporanStockList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasLaporanStockList.Produk.CellAttributes)>
<span id="el@(SameString(subAktivitasLaporanStockList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLaporanStockList.RowCount)_SubAktivitasLaporanStock_Produk" class="el_SubAktivitasLaporanStock_Produk">
<span @Html.Raw(subAktivitasLaporanStockList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockList.Produk.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasLaporanStockList.ListOptions.RenderBody("right", subAktivitasLaporanStockList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasLaporanStockList.RowIndex, "$rowindex$"))
        subAktivitasLaporanStockList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasLaporanStockList.IsCopy || subAktivitasLaporanStockList.IsAdd) && subAktivitasLaporanStockList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasLaporanStockList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasLaporanStockList.CurrentAction) && !subAktivitasLaporanStockList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasLaporanStockList.CloseRecordset(); }
@if (!subAktivitasLaporanStockList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasLaporanStockList.IsGridAdd && !(subAktivitasLaporanStockList.IsGridEdit && subAktivitasLaporanStockList.ModalGridEdit) && !subAktivitasLaporanStockList.IsMultiEdit) {
@Html.Raw(subAktivitasLaporanStockList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasLaporanStockList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasLaporanStockList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasLaporanStockList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasLaporanStockList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasLaporanStockList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasLaporanStock");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
