@{
    // View
    View = this;

    // Check action result
    if (subaktivitasStartBongkarList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subaktivitasStartBongkarList.UseLayout ? "_Layout" : "";
}
@if (!subaktivitasStartBongkarList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasStartBongkarList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasStartBongkar: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subaktivitasStartBongkarList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subaktivitasStartBongkarList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subaktivitasStartBongkarList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subaktivitasStartBongkarList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subaktivitasStartBongkarList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subaktivitasStartBongkarList.TotalRecords > 0 && subaktivitasStartBongkarList.ExportOptions.Visible) {
    subaktivitasStartBongkarList.ExportOptions.Render("body");
}
@if (subaktivitasStartBongkarList.ImportOptions.Visible) {
    subaktivitasStartBongkarList.ImportOptions.Render("body");
}
@if (subaktivitasStartBongkarList.SearchOptions.Visible) {
    subaktivitasStartBongkarList.SearchOptions.Render("body");
}
@if (subaktivitasStartBongkarList.FilterOptions.Visible) {
    subaktivitasStartBongkarList.FilterOptions.Render("body");
}
</div>
}
@if (!subaktivitasStartBongkarList.IsModal) {
<form name="fSubaktivitasStartBongkarsrch" id="fSubaktivitasStartBongkarsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubaktivitasStartBongkarsrch_search_panel" class="mb-2 mb-sm-0 @(subaktivitasStartBongkarList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasStartBongkarList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasStartBongkar: currentTable } });
var currentForm;
var fSubaktivitasStartBongkarsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubaktivitasStartBongkarsrch")
        .setPageId("list")
@if (subaktivitasStartBongkarList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subaktivitasStartBongkarList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subaktivitasStartBongkarList.IsExport() && Empty(subaktivitasStartBongkarList.CurrentAction) && subaktivitasStartBongkarList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subaktivitasStartBongkarList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subaktivitasStartBongkarList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subaktivitasStartBongkarList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subaktivitasStartBongkarList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubaktivitasStartBongkarsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subaktivitasStartBongkarList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubaktivitasStartBongkarsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subaktivitasStartBongkarList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubaktivitasStartBongkarsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subaktivitasStartBongkarList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubaktivitasStartBongkarsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subaktivitasStartBongkarList.ShowPageHeader()
@subaktivitasStartBongkarList.ShowMessages()
<main class="list @(subaktivitasStartBongkarList.TotalRecords == 0 && !subaktivitasStartBongkarList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subaktivitasStartBongkarList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subaktivitasStartBongkarList.TotalRecords > 0 || !Empty(subaktivitasStartBongkarList.CurrentAction)) {
<div class="card ew-card ew-grid@(subaktivitasStartBongkarList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subaktivitasStartBongkarList.TableGridClass)">
<form name="@(subaktivitasStartBongkarList.FormName)" id="@(subaktivitasStartBongkarList.FormName)" class="ew-form ew-list-form" action="@AppPath(subaktivitasStartBongkarList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subaktivitasStartBongkarList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubaktivitasStartBongkar" class="card-body ew-grid-middle-panel @(subaktivitasStartBongkarList.TableContainerClass)" style="@(subaktivitasStartBongkarList.TableContainerStyle)">
@if (subaktivitasStartBongkarList.TotalRecords > 0 || subaktivitasStartBongkarList.IsGridEdit || subaktivitasStartBongkarList.IsMultiEdit) {
<table id="tbl_SubaktivitasStartBongkarlist" class="@(subaktivitasStartBongkarList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subaktivitasStartBongkarList.RowType = RowType.Header;

    // Render list options
    await subaktivitasStartBongkarList.RenderListOptions();
}
@* Render list options (header, left) *@
@subaktivitasStartBongkarList.ListOptions.RenderHeader("left")
@if (subaktivitasStartBongkarList.idAktifitas.Visible) { // subaktivitasStartBongkarList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subaktivitasStartBongkarList.idAktifitas.HeaderCellClass)"><div id="elh_SubaktivitasStartBongkar_idAktifitas" class="SubaktivitasStartBongkar_idAktifitas">@Html.Raw(subaktivitasStartBongkarList.RenderFieldHeader(subaktivitasStartBongkarList.idAktifitas))</div></th>
} @* subaktivitasStartBongkarList.idAktifitas.Visible (end) *@
@if (subaktivitasStartBongkarList.idProses.Visible) { // subaktivitasStartBongkarList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subaktivitasStartBongkarList.idProses.HeaderCellClass)"><div id="elh_SubaktivitasStartBongkar_idProses" class="SubaktivitasStartBongkar_idProses">@Html.Raw(subaktivitasStartBongkarList.RenderFieldHeader(subaktivitasStartBongkarList.idProses))</div></th>
} @* subaktivitasStartBongkarList.idProses.Visible (end) *@
@if (subaktivitasStartBongkarList.NoReferensi.Visible) { // subaktivitasStartBongkarList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subaktivitasStartBongkarList.NoReferensi.HeaderCellClass)"><div id="elh_SubaktivitasStartBongkar_NoReferensi" class="SubaktivitasStartBongkar_NoReferensi">@Html.Raw(subaktivitasStartBongkarList.RenderFieldHeader(subaktivitasStartBongkarList.NoReferensi))</div></th>
} @* subaktivitasStartBongkarList.NoReferensi.Visible (end) *@
@if (subaktivitasStartBongkarList.StatusAktivitas.Visible) { // subaktivitasStartBongkarList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subaktivitasStartBongkarList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubaktivitasStartBongkar_StatusAktivitas" class="SubaktivitasStartBongkar_StatusAktivitas">@Html.Raw(subaktivitasStartBongkarList.RenderFieldHeader(subaktivitasStartBongkarList.StatusAktivitas))</div></th>
} @* subaktivitasStartBongkarList.StatusAktivitas.Visible (end) *@
@if (subaktivitasStartBongkarList.LastUpdatedBy.Visible) { // subaktivitasStartBongkarList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subaktivitasStartBongkarList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubaktivitasStartBongkar_LastUpdatedBy" class="SubaktivitasStartBongkar_LastUpdatedBy">@Html.Raw(subaktivitasStartBongkarList.RenderFieldHeader(subaktivitasStartBongkarList.LastUpdatedBy))</div></th>
} @* subaktivitasStartBongkarList.LastUpdatedBy.Visible (end) *@
@if (subaktivitasStartBongkarList.lastUpdatedDate.Visible) { // subaktivitasStartBongkarList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subaktivitasStartBongkarList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubaktivitasStartBongkar_lastUpdatedDate" class="SubaktivitasStartBongkar_lastUpdatedDate">@Html.Raw(subaktivitasStartBongkarList.RenderFieldHeader(subaktivitasStartBongkarList.lastUpdatedDate))</div></th>
} @* subaktivitasStartBongkarList.lastUpdatedDate.Visible (end) *@
@if (subaktivitasStartBongkarList.tglStartBongkar.Visible) { // subaktivitasStartBongkarList.tglStartBongkar.Visible (begin)
        <th data-name="tglStartBongkar" class="@(subaktivitasStartBongkarList.tglStartBongkar.HeaderCellClass)"><div id="elh_SubaktivitasStartBongkar_tglStartBongkar" class="SubaktivitasStartBongkar_tglStartBongkar">@Html.Raw(subaktivitasStartBongkarList.RenderFieldHeader(subaktivitasStartBongkarList.tglStartBongkar))</div></th>
} @* subaktivitasStartBongkarList.tglStartBongkar.Visible (end) *@
@if (subaktivitasStartBongkarList.userInput.Visible) { // subaktivitasStartBongkarList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subaktivitasStartBongkarList.userInput.HeaderCellClass)"><div id="elh_SubaktivitasStartBongkar_userInput" class="SubaktivitasStartBongkar_userInput">@Html.Raw(subaktivitasStartBongkarList.RenderFieldHeader(subaktivitasStartBongkarList.userInput))</div></th>
} @* subaktivitasStartBongkarList.userInput.Visible (end) *@
@* Render list options (header, right) *@
@subaktivitasStartBongkarList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subaktivitasStartBongkarList.PageNumber)">
@{
    await subaktivitasStartBongkarList.SetupGrid();
    bool eof = subaktivitasStartBongkarList.Recordset == null; // DN
}
@while (subaktivitasStartBongkarList.RecordCount < subaktivitasStartBongkarList.StopRecord || SameString(subaktivitasStartBongkarList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subaktivitasStartBongkarList.RowIndex, "$rowindex$") &&
        (!subaktivitasStartBongkarList.IsGridAdd || subaktivitasStartBongkarList.CurrentMode == "copy") &&
        (!((subaktivitasStartBongkarList.IsCopy || subaktivitasStartBongkarList.IsAdd) && subaktivitasStartBongkarList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subaktivitasStartBongkarList.Recordset.ReadAsync();
    subaktivitasStartBongkarList.RecordCount++;
    if (subaktivitasStartBongkarList.RecordCount >= subaktivitasStartBongkarList.StartRecord) {
        await subaktivitasStartBongkarList.SetupRow();
    <tr @Html.Raw(subaktivitasStartBongkarList.RowAttributes)>
    @* Render list options (body, left) *@
    @subaktivitasStartBongkarList.ListOptions.RenderBody("left", subaktivitasStartBongkarList.RowCount)
    @if (subaktivitasStartBongkarList.idAktifitas.Visible) { // subaktivitasStartBongkarList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subaktivitasStartBongkarList.idAktifitas.CellAttributes)>
<span id="el@(subaktivitasStartBongkarList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasStartBongkarList.RowCount)_SubaktivitasStartBongkar_idAktifitas" class="el_SubaktivitasStartBongkar_idAktifitas">
<span @Html.Raw(subaktivitasStartBongkarList.idAktifitas.ViewAttributes)>
@Html.Raw(subaktivitasStartBongkarList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStartBongkarList.idAktifitas.Visible (end) *@
    @if (subaktivitasStartBongkarList.idProses.Visible) { // subaktivitasStartBongkarList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subaktivitasStartBongkarList.idProses.CellAttributes)>
<span id="el@(subaktivitasStartBongkarList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasStartBongkarList.RowCount)_SubaktivitasStartBongkar_idProses" class="el_SubaktivitasStartBongkar_idProses">
<span @Html.Raw(subaktivitasStartBongkarList.idProses.ViewAttributes)>
@Html.Raw(subaktivitasStartBongkarList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStartBongkarList.idProses.Visible (end) *@
    @if (subaktivitasStartBongkarList.NoReferensi.Visible) { // subaktivitasStartBongkarList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subaktivitasStartBongkarList.NoReferensi.CellAttributes)>
<span id="el@(subaktivitasStartBongkarList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasStartBongkarList.RowCount)_SubaktivitasStartBongkar_NoReferensi" class="el_SubaktivitasStartBongkar_NoReferensi">
<span @Html.Raw(subaktivitasStartBongkarList.NoReferensi.ViewAttributes)>
@Html.Raw(subaktivitasStartBongkarList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStartBongkarList.NoReferensi.Visible (end) *@
    @if (subaktivitasStartBongkarList.StatusAktivitas.Visible) { // subaktivitasStartBongkarList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subaktivitasStartBongkarList.StatusAktivitas.CellAttributes)>
<span id="el@(subaktivitasStartBongkarList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasStartBongkarList.RowCount)_SubaktivitasStartBongkar_StatusAktivitas" class="el_SubaktivitasStartBongkar_StatusAktivitas">
<span @Html.Raw(subaktivitasStartBongkarList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subaktivitasStartBongkarList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStartBongkarList.StatusAktivitas.Visible (end) *@
    @if (subaktivitasStartBongkarList.LastUpdatedBy.Visible) { // subaktivitasStartBongkarList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subaktivitasStartBongkarList.LastUpdatedBy.CellAttributes)>
<span id="el@(subaktivitasStartBongkarList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasStartBongkarList.RowCount)_SubaktivitasStartBongkar_LastUpdatedBy" class="el_SubaktivitasStartBongkar_LastUpdatedBy">
<span @Html.Raw(subaktivitasStartBongkarList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subaktivitasStartBongkarList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStartBongkarList.LastUpdatedBy.Visible (end) *@
    @if (subaktivitasStartBongkarList.lastUpdatedDate.Visible) { // subaktivitasStartBongkarList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subaktivitasStartBongkarList.lastUpdatedDate.CellAttributes)>
<span id="el@(subaktivitasStartBongkarList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasStartBongkarList.RowCount)_SubaktivitasStartBongkar_lastUpdatedDate" class="el_SubaktivitasStartBongkar_lastUpdatedDate">
<span @Html.Raw(subaktivitasStartBongkarList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subaktivitasStartBongkarList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStartBongkarList.lastUpdatedDate.Visible (end) *@
    @if (subaktivitasStartBongkarList.tglStartBongkar.Visible) { // subaktivitasStartBongkarList.tglStartBongkar.Visible (begin)
        <td data-name="tglStartBongkar" @Html.Raw(subaktivitasStartBongkarList.tglStartBongkar.CellAttributes)>
<span id="el@(subaktivitasStartBongkarList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasStartBongkarList.RowCount)_SubaktivitasStartBongkar_tglStartBongkar" class="el_SubaktivitasStartBongkar_tglStartBongkar">
<span @Html.Raw(subaktivitasStartBongkarList.tglStartBongkar.ViewAttributes)>
@Html.Raw(subaktivitasStartBongkarList.tglStartBongkar.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStartBongkarList.tglStartBongkar.Visible (end) *@
    @if (subaktivitasStartBongkarList.userInput.Visible) { // subaktivitasStartBongkarList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subaktivitasStartBongkarList.userInput.CellAttributes)>
<span id="el@(subaktivitasStartBongkarList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasStartBongkarList.RowCount)_SubaktivitasStartBongkar_userInput" class="el_SubaktivitasStartBongkar_userInput">
<span @Html.Raw(subaktivitasStartBongkarList.userInput.ViewAttributes)>
@Html.Raw(subaktivitasStartBongkarList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStartBongkarList.userInput.Visible (end) *@
    @* Render list options (body, right) *@
    @subaktivitasStartBongkarList.ListOptions.RenderBody("right", subaktivitasStartBongkarList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subaktivitasStartBongkarList.RowIndex, "$rowindex$"))
        subaktivitasStartBongkarList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subaktivitasStartBongkarList.IsCopy || subaktivitasStartBongkarList.IsAdd) && subaktivitasStartBongkarList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subaktivitasStartBongkarList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subaktivitasStartBongkarList.CurrentAction) && !subaktivitasStartBongkarList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subaktivitasStartBongkarList.CloseRecordset(); }
@if (!subaktivitasStartBongkarList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subaktivitasStartBongkarList.IsGridAdd && !(subaktivitasStartBongkarList.IsGridEdit && subaktivitasStartBongkarList.ModalGridEdit) && !subaktivitasStartBongkarList.IsMultiEdit) {
@Html.Raw(subaktivitasStartBongkarList.Pager.Render())
}
<div class="ew-list-other-options">
@subaktivitasStartBongkarList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subaktivitasStartBongkarList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subaktivitasStartBongkarList.FooterOptions.RenderBody()
</div>
</main>
@subaktivitasStartBongkarList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subaktivitasStartBongkarList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubaktivitasStartBongkar");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
