@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiARsesuaiCqdlpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiARsesuaiCqdlpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasNilaiARsesuaiCqdlpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiARsesuaiCqdlpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiARsesuaiCQDLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasNilaiARsesuaiCqdlpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasNilaiARsesuaiCqdlpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasNilaiARsesuaiCqdlpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasNilaiARsesuaiCqdlpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasNilaiARsesuaiCqdlpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasNilaiARsesuaiCqdlpgList.TotalRecords > 0 && subAktivitasNilaiARsesuaiCqdlpgList.ExportOptions.Visible) {
    subAktivitasNilaiARsesuaiCqdlpgList.ExportOptions.Render("body");
}
@if (subAktivitasNilaiARsesuaiCqdlpgList.ImportOptions.Visible) {
    subAktivitasNilaiARsesuaiCqdlpgList.ImportOptions.Render("body");
}
@if (subAktivitasNilaiARsesuaiCqdlpgList.SearchOptions.Visible) {
    subAktivitasNilaiARsesuaiCqdlpgList.SearchOptions.Render("body");
}
@if (subAktivitasNilaiARsesuaiCqdlpgList.FilterOptions.Visible) {
    subAktivitasNilaiARsesuaiCqdlpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasNilaiARsesuaiCqdlpgList.IsModal) {
<form name="fSubAktivitasNilaiARsesuaiCQDLPGsrch" id="fSubAktivitasNilaiARsesuaiCQDLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasNilaiARsesuaiCQDLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasNilaiARsesuaiCqdlpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiARsesuaiCqdlpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiARsesuaiCQDLPG: currentTable } });
var currentForm;
var fSubAktivitasNilaiARsesuaiCQDLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiARsesuaiCQDLPGsrch")
        .setPageId("list")
@if (subAktivitasNilaiARsesuaiCqdlpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasNilaiARsesuaiCqdlpgList.IsExport() && Empty(subAktivitasNilaiARsesuaiCqdlpgList.CurrentAction) && subAktivitasNilaiARsesuaiCqdlpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasNilaiARsesuaiCqdlpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasNilaiARsesuaiCqdlpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasNilaiARsesuaiCqdlpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasNilaiARsesuaiCQDLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiARsesuaiCqdlpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasNilaiARsesuaiCQDLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiARsesuaiCqdlpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasNilaiARsesuaiCQDLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiARsesuaiCqdlpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasNilaiARsesuaiCQDLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasNilaiARsesuaiCqdlpgList.ShowPageHeader()
@subAktivitasNilaiARsesuaiCqdlpgList.ShowMessages()
<main class="list @(subAktivitasNilaiARsesuaiCqdlpgList.TotalRecords == 0 && !subAktivitasNilaiARsesuaiCqdlpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasNilaiARsesuaiCqdlpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasNilaiARsesuaiCqdlpgList.TotalRecords > 0 || !Empty(subAktivitasNilaiARsesuaiCqdlpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasNilaiARsesuaiCqdlpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasNilaiARsesuaiCqdlpgList.TableGridClass)">
<form name="@(subAktivitasNilaiARsesuaiCqdlpgList.FormName)" id="@(subAktivitasNilaiARsesuaiCqdlpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasNilaiARsesuaiCqdlpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasNilaiARsesuaiCqdlpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasNilaiARsesuaiCQDLPG" class="card-body ew-grid-middle-panel @(subAktivitasNilaiARsesuaiCqdlpgList.TableContainerClass)" style="@(subAktivitasNilaiARsesuaiCqdlpgList.TableContainerStyle)">
@if (subAktivitasNilaiARsesuaiCqdlpgList.TotalRecords > 0 || subAktivitasNilaiARsesuaiCqdlpgList.IsGridEdit || subAktivitasNilaiARsesuaiCqdlpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasNilaiARsesuaiCQDLPGlist" class="@(subAktivitasNilaiARsesuaiCqdlpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasNilaiARsesuaiCqdlpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasNilaiARsesuaiCqdlpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasNilaiARsesuaiCqdlpgList.ListOptions.RenderHeader("left")
@if (subAktivitasNilaiARsesuaiCqdlpgList.id.Visible) { // subAktivitasNilaiARsesuaiCqdlpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasNilaiARsesuaiCqdlpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDLPG_id" class="SubAktivitasNilaiARsesuaiCQDLPG_id">@Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdlpgList.id))</div></th>
} @* subAktivitasNilaiARsesuaiCqdlpgList.id.Visible (end) *@
@if (subAktivitasNilaiARsesuaiCqdlpgList.idProses.Visible) { // subAktivitasNilaiARsesuaiCqdlpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasNilaiARsesuaiCqdlpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDLPG_idProses" class="SubAktivitasNilaiARsesuaiCQDLPG_idProses">@Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdlpgList.idProses))</div></th>
} @* subAktivitasNilaiARsesuaiCqdlpgList.idProses.Visible (end) *@
@if (subAktivitasNilaiARsesuaiCqdlpgList.idAktifitas.Visible) { // subAktivitasNilaiARsesuaiCqdlpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasNilaiARsesuaiCqdlpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDLPG_idAktifitas" class="SubAktivitasNilaiARsesuaiCQDLPG_idAktifitas">@Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdlpgList.idAktifitas))</div></th>
} @* subAktivitasNilaiARsesuaiCqdlpgList.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiARsesuaiCqdlpgList.StatusAktivitas.Visible) { // subAktivitasNilaiARsesuaiCqdlpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasNilaiARsesuaiCqdlpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDLPG_StatusAktivitas" class="SubAktivitasNilaiARsesuaiCQDLPG_StatusAktivitas">@Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdlpgList.StatusAktivitas))</div></th>
} @* subAktivitasNilaiARsesuaiCqdlpgList.StatusAktivitas.Visible (end) *@
@if (subAktivitasNilaiARsesuaiCqdlpgList.NoReferensi.Visible) { // subAktivitasNilaiARsesuaiCqdlpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasNilaiARsesuaiCqdlpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDLPG_NoReferensi" class="SubAktivitasNilaiARsesuaiCQDLPG_NoReferensi">@Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdlpgList.NoReferensi))</div></th>
} @* subAktivitasNilaiARsesuaiCqdlpgList.NoReferensi.Visible (end) *@
@if (subAktivitasNilaiARsesuaiCqdlpgList.LastUpdatedBy.Visible) { // subAktivitasNilaiARsesuaiCqdlpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasNilaiARsesuaiCqdlpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDLPG_LastUpdatedBy" class="SubAktivitasNilaiARsesuaiCQDLPG_LastUpdatedBy">@Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdlpgList.LastUpdatedBy))</div></th>
} @* subAktivitasNilaiARsesuaiCqdlpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiARsesuaiCqdlpgList.lastUpdatedDate.Visible) { // subAktivitasNilaiARsesuaiCqdlpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasNilaiARsesuaiCqdlpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDLPG_lastUpdatedDate" class="SubAktivitasNilaiARsesuaiCQDLPG_lastUpdatedDate">@Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdlpgList.lastUpdatedDate))</div></th>
} @* subAktivitasNilaiARsesuaiCqdlpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasNilaiARsesuaiCqdlpgList.MT.Visible) { // subAktivitasNilaiARsesuaiCqdlpgList.MT.Visible (begin)
        <th data-name="MT" class="@(subAktivitasNilaiARsesuaiCqdlpgList.MT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDLPG_MT" class="SubAktivitasNilaiARsesuaiCQDLPG_MT">@Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdlpgList.MT))</div></th>
} @* subAktivitasNilaiARsesuaiCqdlpgList.MT.Visible (end) *@
@if (subAktivitasNilaiARsesuaiCqdlpgList.userInput.Visible) { // subAktivitasNilaiARsesuaiCqdlpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasNilaiARsesuaiCqdlpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDLPG_userInput" class="SubAktivitasNilaiARsesuaiCQDLPG_userInput">@Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdlpgList.userInput))</div></th>
} @* subAktivitasNilaiARsesuaiCqdlpgList.userInput.Visible (end) *@
@if (subAktivitasNilaiARsesuaiCqdlpgList.etlDate.Visible) { // subAktivitasNilaiARsesuaiCqdlpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasNilaiARsesuaiCqdlpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDLPG_etlDate" class="SubAktivitasNilaiARsesuaiCQDLPG_etlDate">@Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdlpgList.etlDate))</div></th>
} @* subAktivitasNilaiARsesuaiCqdlpgList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasNilaiARsesuaiCqdlpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasNilaiARsesuaiCqdlpgList.PageNumber)">
@{
    await subAktivitasNilaiARsesuaiCqdlpgList.SetupGrid();
    bool eof = subAktivitasNilaiARsesuaiCqdlpgList.Recordset == null; // DN
}
@while (subAktivitasNilaiARsesuaiCqdlpgList.RecordCount < subAktivitasNilaiARsesuaiCqdlpgList.StopRecord || SameString(subAktivitasNilaiARsesuaiCqdlpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasNilaiARsesuaiCqdlpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasNilaiARsesuaiCqdlpgList.IsGridAdd || subAktivitasNilaiARsesuaiCqdlpgList.CurrentMode == "copy") &&
        (!((subAktivitasNilaiARsesuaiCqdlpgList.IsCopy || subAktivitasNilaiARsesuaiCqdlpgList.IsAdd) && subAktivitasNilaiARsesuaiCqdlpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasNilaiARsesuaiCqdlpgList.Recordset.ReadAsync();
    subAktivitasNilaiARsesuaiCqdlpgList.RecordCount++;
    if (subAktivitasNilaiARsesuaiCqdlpgList.RecordCount >= subAktivitasNilaiARsesuaiCqdlpgList.StartRecord) {
        await subAktivitasNilaiARsesuaiCqdlpgList.SetupRow();
    <tr @Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasNilaiARsesuaiCqdlpgList.ListOptions.RenderBody("left", subAktivitasNilaiARsesuaiCqdlpgList.RowCount)
    @if (subAktivitasNilaiARsesuaiCqdlpgList.id.Visible) { // subAktivitasNilaiARsesuaiCqdlpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdlpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdlpgList.RowCount)_SubAktivitasNilaiARsesuaiCQDLPG_id" class="el_SubAktivitasNilaiARsesuaiCQDLPG_id">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdlpgList.id.Visible (end) *@
    @if (subAktivitasNilaiARsesuaiCqdlpgList.idProses.Visible) { // subAktivitasNilaiARsesuaiCqdlpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdlpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdlpgList.RowCount)_SubAktivitasNilaiARsesuaiCQDLPG_idProses" class="el_SubAktivitasNilaiARsesuaiCQDLPG_idProses">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdlpgList.idProses.Visible (end) *@
    @if (subAktivitasNilaiARsesuaiCqdlpgList.idAktifitas.Visible) { // subAktivitasNilaiARsesuaiCqdlpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdlpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdlpgList.RowCount)_SubAktivitasNilaiARsesuaiCQDLPG_idAktifitas" class="el_SubAktivitasNilaiARsesuaiCQDLPG_idAktifitas">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdlpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasNilaiARsesuaiCqdlpgList.StatusAktivitas.Visible) { // subAktivitasNilaiARsesuaiCqdlpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdlpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdlpgList.RowCount)_SubAktivitasNilaiARsesuaiCQDLPG_StatusAktivitas" class="el_SubAktivitasNilaiARsesuaiCQDLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdlpgList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasNilaiARsesuaiCqdlpgList.NoReferensi.Visible) { // subAktivitasNilaiARsesuaiCqdlpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdlpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdlpgList.RowCount)_SubAktivitasNilaiARsesuaiCQDLPG_NoReferensi" class="el_SubAktivitasNilaiARsesuaiCQDLPG_NoReferensi">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdlpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasNilaiARsesuaiCqdlpgList.LastUpdatedBy.Visible) { // subAktivitasNilaiARsesuaiCqdlpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdlpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdlpgList.RowCount)_SubAktivitasNilaiARsesuaiCQDLPG_LastUpdatedBy" class="el_SubAktivitasNilaiARsesuaiCQDLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdlpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasNilaiARsesuaiCqdlpgList.lastUpdatedDate.Visible) { // subAktivitasNilaiARsesuaiCqdlpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdlpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdlpgList.RowCount)_SubAktivitasNilaiARsesuaiCQDLPG_lastUpdatedDate" class="el_SubAktivitasNilaiARsesuaiCQDLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdlpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasNilaiARsesuaiCqdlpgList.MT.Visible) { // subAktivitasNilaiARsesuaiCqdlpgList.MT.Visible (begin)
        <td data-name="MT" @Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.MT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdlpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdlpgList.RowCount)_SubAktivitasNilaiARsesuaiCQDLPG_MT" class="el_SubAktivitasNilaiARsesuaiCQDLPG_MT">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.MT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdlpgList.MT.Visible (end) *@
    @if (subAktivitasNilaiARsesuaiCqdlpgList.userInput.Visible) { // subAktivitasNilaiARsesuaiCqdlpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdlpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdlpgList.RowCount)_SubAktivitasNilaiARsesuaiCQDLPG_userInput" class="el_SubAktivitasNilaiARsesuaiCQDLPG_userInput">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdlpgList.userInput.Visible (end) *@
    @if (subAktivitasNilaiARsesuaiCqdlpgList.etlDate.Visible) { // subAktivitasNilaiARsesuaiCqdlpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdlpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdlpgList.RowCount)_SubAktivitasNilaiARsesuaiCQDLPG_etlDate" class="el_SubAktivitasNilaiARsesuaiCQDLPG_etlDate">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdlpgList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasNilaiARsesuaiCqdlpgList.ListOptions.RenderBody("right", subAktivitasNilaiARsesuaiCqdlpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasNilaiARsesuaiCqdlpgList.RowIndex, "$rowindex$"))
        subAktivitasNilaiARsesuaiCqdlpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasNilaiARsesuaiCqdlpgList.IsCopy || subAktivitasNilaiARsesuaiCqdlpgList.IsAdd) && subAktivitasNilaiARsesuaiCqdlpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasNilaiARsesuaiCqdlpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasNilaiARsesuaiCqdlpgList.CurrentAction) && !subAktivitasNilaiARsesuaiCqdlpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasNilaiARsesuaiCqdlpgList.CloseRecordset(); }
@if (!subAktivitasNilaiARsesuaiCqdlpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasNilaiARsesuaiCqdlpgList.IsGridAdd && !(subAktivitasNilaiARsesuaiCqdlpgList.IsGridEdit && subAktivitasNilaiARsesuaiCqdlpgList.ModalGridEdit) && !subAktivitasNilaiARsesuaiCqdlpgList.IsMultiEdit) {
@Html.Raw(subAktivitasNilaiARsesuaiCqdlpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasNilaiARsesuaiCqdlpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasNilaiARsesuaiCqdlpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasNilaiARsesuaiCqdlpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasNilaiARsesuaiCqdlpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasNilaiARsesuaiCqdlpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasNilaiARsesuaiCQDLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
