@{
    // View
    View = this;

    // Check action result
    if (subaktivitasNilaiSfbdstsPnrBbmList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subaktivitasNilaiSfbdstsPnrBbmList.UseLayout ? "_Layout" : "";
}
@if (!subaktivitasNilaiSfbdstsPnrBbmList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasNilaiSfbdstsPnrBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasNilaiSFBDSTSPnrBBM: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subaktivitasNilaiSfbdstsPnrBbmList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subaktivitasNilaiSfbdstsPnrBbmList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subaktivitasNilaiSfbdstsPnrBbmList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subaktivitasNilaiSfbdstsPnrBbmList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subaktivitasNilaiSfbdstsPnrBbmList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subaktivitasNilaiSfbdstsPnrBbmList.TotalRecords > 0 && subaktivitasNilaiSfbdstsPnrBbmList.ExportOptions.Visible) {
    subaktivitasNilaiSfbdstsPnrBbmList.ExportOptions.Render("body");
}
@if (subaktivitasNilaiSfbdstsPnrBbmList.ImportOptions.Visible) {
    subaktivitasNilaiSfbdstsPnrBbmList.ImportOptions.Render("body");
}
@if (subaktivitasNilaiSfbdstsPnrBbmList.SearchOptions.Visible) {
    subaktivitasNilaiSfbdstsPnrBbmList.SearchOptions.Render("body");
}
@if (subaktivitasNilaiSfbdstsPnrBbmList.FilterOptions.Visible) {
    subaktivitasNilaiSfbdstsPnrBbmList.FilterOptions.Render("body");
}
</div>
}
@if (!subaktivitasNilaiSfbdstsPnrBbmList.IsModal) {
<form name="fSubaktivitasNilaiSFBDSTSPnrBBMsrch" id="fSubaktivitasNilaiSFBDSTSPnrBBMsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubaktivitasNilaiSFBDSTSPnrBBMsrch_search_panel" class="mb-2 mb-sm-0 @(subaktivitasNilaiSfbdstsPnrBbmList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasNilaiSfbdstsPnrBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasNilaiSFBDSTSPnrBBM: currentTable } });
var currentForm;
var fSubaktivitasNilaiSFBDSTSPnrBBMsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubaktivitasNilaiSFBDSTSPnrBBMsrch")
        .setPageId("list")
@if (subaktivitasNilaiSfbdstsPnrBbmList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subaktivitasNilaiSfbdstsPnrBbmList.IsExport() && Empty(subaktivitasNilaiSfbdstsPnrBbmList.CurrentAction) && subaktivitasNilaiSfbdstsPnrBbmList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subaktivitasNilaiSfbdstsPnrBbmList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subaktivitasNilaiSfbdstsPnrBbmList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subaktivitasNilaiSfbdstsPnrBbmList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubaktivitasNilaiSFBDSTSPnrBBMsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subaktivitasNilaiSfbdstsPnrBbmList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubaktivitasNilaiSFBDSTSPnrBBMsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subaktivitasNilaiSfbdstsPnrBbmList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubaktivitasNilaiSFBDSTSPnrBBMsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subaktivitasNilaiSfbdstsPnrBbmList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubaktivitasNilaiSFBDSTSPnrBBMsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subaktivitasNilaiSfbdstsPnrBbmList.ShowPageHeader()
@subaktivitasNilaiSfbdstsPnrBbmList.ShowMessages()
<main class="list @(subaktivitasNilaiSfbdstsPnrBbmList.TotalRecords == 0 && !subaktivitasNilaiSfbdstsPnrBbmList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subaktivitasNilaiSfbdstsPnrBbmList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subaktivitasNilaiSfbdstsPnrBbmList.TotalRecords > 0 || !Empty(subaktivitasNilaiSfbdstsPnrBbmList.CurrentAction)) {
<div class="card ew-card ew-grid@(subaktivitasNilaiSfbdstsPnrBbmList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subaktivitasNilaiSfbdstsPnrBbmList.TableGridClass)">
<form name="@(subaktivitasNilaiSfbdstsPnrBbmList.FormName)" id="@(subaktivitasNilaiSfbdstsPnrBbmList.FormName)" class="ew-form ew-list-form" action="@AppPath(subaktivitasNilaiSfbdstsPnrBbmList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subaktivitasNilaiSfbdstsPnrBbmList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubaktivitasNilaiSFBDSTSPnrBBM" class="card-body ew-grid-middle-panel @(subaktivitasNilaiSfbdstsPnrBbmList.TableContainerClass)" style="@(subaktivitasNilaiSfbdstsPnrBbmList.TableContainerStyle)">
@if (subaktivitasNilaiSfbdstsPnrBbmList.TotalRecords > 0 || subaktivitasNilaiSfbdstsPnrBbmList.IsGridEdit || subaktivitasNilaiSfbdstsPnrBbmList.IsMultiEdit) {
<table id="tbl_SubaktivitasNilaiSFBDSTSPnrBBMlist" class="@(subaktivitasNilaiSfbdstsPnrBbmList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subaktivitasNilaiSfbdstsPnrBbmList.RowType = RowType.Header;

    // Render list options
    await subaktivitasNilaiSfbdstsPnrBbmList.RenderListOptions();
}
@* Render list options (header, left) *@
@subaktivitasNilaiSfbdstsPnrBbmList.ListOptions.RenderHeader("left")
@if (subaktivitasNilaiSfbdstsPnrBbmList.id.Visible) { // subaktivitasNilaiSfbdstsPnrBbmList.id.Visible (begin)
        <th data-name="id" class="@(subaktivitasNilaiSfbdstsPnrBbmList.id.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBDSTSPnrBBM_id" class="SubaktivitasNilaiSFBDSTSPnrBBM_id">@Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiSfbdstsPnrBbmList.id))</div></th>
} @* subaktivitasNilaiSfbdstsPnrBbmList.id.Visible (end) *@
@if (subaktivitasNilaiSfbdstsPnrBbmList.idAktifitas.Visible) { // subaktivitasNilaiSfbdstsPnrBbmList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subaktivitasNilaiSfbdstsPnrBbmList.idAktifitas.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBDSTSPnrBBM_idAktifitas" class="SubaktivitasNilaiSFBDSTSPnrBBM_idAktifitas">@Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiSfbdstsPnrBbmList.idAktifitas))</div></th>
} @* subaktivitasNilaiSfbdstsPnrBbmList.idAktifitas.Visible (end) *@
@if (subaktivitasNilaiSfbdstsPnrBbmList.klobs.Visible) { // subaktivitasNilaiSfbdstsPnrBbmList.klobs.Visible (begin)
        <th data-name="klobs" class="@(subaktivitasNilaiSfbdstsPnrBbmList.klobs.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBDSTSPnrBBM_klobs" class="SubaktivitasNilaiSFBDSTSPnrBBM_klobs">@Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiSfbdstsPnrBbmList.klobs))</div></th>
} @* subaktivitasNilaiSfbdstsPnrBbmList.klobs.Visible (end) *@
@if (subaktivitasNilaiSfbdstsPnrBbmList.kl15.Visible) { // subaktivitasNilaiSfbdstsPnrBbmList.kl15.Visible (begin)
        <th data-name="kl15" class="@(subaktivitasNilaiSfbdstsPnrBbmList.kl15.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBDSTSPnrBBM_kl15" class="SubaktivitasNilaiSFBDSTSPnrBBM_kl15">@Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiSfbdstsPnrBbmList.kl15))</div></th>
} @* subaktivitasNilaiSfbdstsPnrBbmList.kl15.Visible (end) *@
@if (subaktivitasNilaiSfbdstsPnrBbmList.barrels.Visible) { // subaktivitasNilaiSfbdstsPnrBbmList.barrels.Visible (begin)
        <th data-name="barrels" class="@(subaktivitasNilaiSfbdstsPnrBbmList.barrels.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBDSTSPnrBBM_barrels" class="SubaktivitasNilaiSFBDSTSPnrBBM_barrels">@Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiSfbdstsPnrBbmList.barrels))</div></th>
} @* subaktivitasNilaiSfbdstsPnrBbmList.barrels.Visible (end) *@
@if (subaktivitasNilaiSfbdstsPnrBbmList.lt.Visible) { // subaktivitasNilaiSfbdstsPnrBbmList.lt.Visible (begin)
        <th data-name="lt" class="@(subaktivitasNilaiSfbdstsPnrBbmList.lt.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBDSTSPnrBBM_lt" class="SubaktivitasNilaiSFBDSTSPnrBBM_lt">@Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiSfbdstsPnrBbmList.lt))</div></th>
} @* subaktivitasNilaiSfbdstsPnrBbmList.lt.Visible (end) *@
@if (subaktivitasNilaiSfbdstsPnrBbmList.mt.Visible) { // subaktivitasNilaiSfbdstsPnrBbmList.mt.Visible (begin)
        <th data-name="mt" class="@(subaktivitasNilaiSfbdstsPnrBbmList.mt.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBDSTSPnrBBM_mt" class="SubaktivitasNilaiSFBDSTSPnrBBM_mt">@Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiSfbdstsPnrBbmList.mt))</div></th>
} @* subaktivitasNilaiSfbdstsPnrBbmList.mt.Visible (end) *@
@if (subaktivitasNilaiSfbdstsPnrBbmList.userInput.Visible) { // subaktivitasNilaiSfbdstsPnrBbmList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subaktivitasNilaiSfbdstsPnrBbmList.userInput.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBDSTSPnrBBM_userInput" class="SubaktivitasNilaiSFBDSTSPnrBBM_userInput">@Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiSfbdstsPnrBbmList.userInput))</div></th>
} @* subaktivitasNilaiSfbdstsPnrBbmList.userInput.Visible (end) *@
@if (subaktivitasNilaiSfbdstsPnrBbmList.etlDate.Visible) { // subaktivitasNilaiSfbdstsPnrBbmList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subaktivitasNilaiSfbdstsPnrBbmList.etlDate.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBDSTSPnrBBM_etlDate" class="SubaktivitasNilaiSFBDSTSPnrBBM_etlDate">@Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiSfbdstsPnrBbmList.etlDate))</div></th>
} @* subaktivitasNilaiSfbdstsPnrBbmList.etlDate.Visible (end) *@
@if (subaktivitasNilaiSfbdstsPnrBbmList.idProses.Visible) { // subaktivitasNilaiSfbdstsPnrBbmList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subaktivitasNilaiSfbdstsPnrBbmList.idProses.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBDSTSPnrBBM_idProses" class="SubaktivitasNilaiSFBDSTSPnrBBM_idProses">@Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiSfbdstsPnrBbmList.idProses))</div></th>
} @* subaktivitasNilaiSfbdstsPnrBbmList.idProses.Visible (end) *@
@if (subaktivitasNilaiSfbdstsPnrBbmList.LastUpdatedBy.Visible) { // subaktivitasNilaiSfbdstsPnrBbmList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subaktivitasNilaiSfbdstsPnrBbmList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBDSTSPnrBBM_LastUpdatedBy" class="SubaktivitasNilaiSFBDSTSPnrBBM_LastUpdatedBy">@Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiSfbdstsPnrBbmList.LastUpdatedBy))</div></th>
} @* subaktivitasNilaiSfbdstsPnrBbmList.LastUpdatedBy.Visible (end) *@
@if (subaktivitasNilaiSfbdstsPnrBbmList.lastUpdatedDate.Visible) { // subaktivitasNilaiSfbdstsPnrBbmList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subaktivitasNilaiSfbdstsPnrBbmList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBDSTSPnrBBM_lastUpdatedDate" class="SubaktivitasNilaiSFBDSTSPnrBBM_lastUpdatedDate">@Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiSfbdstsPnrBbmList.lastUpdatedDate))</div></th>
} @* subaktivitasNilaiSfbdstsPnrBbmList.lastUpdatedDate.Visible (end) *@
@if (subaktivitasNilaiSfbdstsPnrBbmList.NoReferensi.Visible) { // subaktivitasNilaiSfbdstsPnrBbmList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subaktivitasNilaiSfbdstsPnrBbmList.NoReferensi.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBDSTSPnrBBM_NoReferensi" class="SubaktivitasNilaiSFBDSTSPnrBBM_NoReferensi">@Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiSfbdstsPnrBbmList.NoReferensi))</div></th>
} @* subaktivitasNilaiSfbdstsPnrBbmList.NoReferensi.Visible (end) *@
@if (subaktivitasNilaiSfbdstsPnrBbmList.StatusAktivitas.Visible) { // subaktivitasNilaiSfbdstsPnrBbmList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subaktivitasNilaiSfbdstsPnrBbmList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBDSTSPnrBBM_StatusAktivitas" class="SubaktivitasNilaiSFBDSTSPnrBBM_StatusAktivitas">@Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiSfbdstsPnrBbmList.StatusAktivitas))</div></th>
} @* subaktivitasNilaiSfbdstsPnrBbmList.StatusAktivitas.Visible (end) *@
@* Render list options (header, right) *@
@subaktivitasNilaiSfbdstsPnrBbmList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subaktivitasNilaiSfbdstsPnrBbmList.PageNumber)">
@{
    await subaktivitasNilaiSfbdstsPnrBbmList.SetupGrid();
    bool eof = subaktivitasNilaiSfbdstsPnrBbmList.Recordset == null; // DN
}
@while (subaktivitasNilaiSfbdstsPnrBbmList.RecordCount < subaktivitasNilaiSfbdstsPnrBbmList.StopRecord || SameString(subaktivitasNilaiSfbdstsPnrBbmList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subaktivitasNilaiSfbdstsPnrBbmList.RowIndex, "$rowindex$") &&
        (!subaktivitasNilaiSfbdstsPnrBbmList.IsGridAdd || subaktivitasNilaiSfbdstsPnrBbmList.CurrentMode == "copy") &&
        (!((subaktivitasNilaiSfbdstsPnrBbmList.IsCopy || subaktivitasNilaiSfbdstsPnrBbmList.IsAdd) && subaktivitasNilaiSfbdstsPnrBbmList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subaktivitasNilaiSfbdstsPnrBbmList.Recordset.ReadAsync();
    subaktivitasNilaiSfbdstsPnrBbmList.RecordCount++;
    if (subaktivitasNilaiSfbdstsPnrBbmList.RecordCount >= subaktivitasNilaiSfbdstsPnrBbmList.StartRecord) {
        await subaktivitasNilaiSfbdstsPnrBbmList.SetupRow();
    <tr @Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.RowAttributes)>
    @* Render list options (body, left) *@
    @subaktivitasNilaiSfbdstsPnrBbmList.ListOptions.RenderBody("left", subaktivitasNilaiSfbdstsPnrBbmList.RowCount)
    @if (subaktivitasNilaiSfbdstsPnrBbmList.id.Visible) { // subaktivitasNilaiSfbdstsPnrBbmList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.id.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiSfbdstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiSfbdstsPnrBbmList.RowCount)_SubaktivitasNilaiSFBDSTSPnrBBM_id" class="el_SubaktivitasNilaiSFBDSTSPnrBBM_id">
<span @Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.id.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.id.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfbdstsPnrBbmList.id.Visible (end) *@
    @if (subaktivitasNilaiSfbdstsPnrBbmList.idAktifitas.Visible) { // subaktivitasNilaiSfbdstsPnrBbmList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiSfbdstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiSfbdstsPnrBbmList.RowCount)_SubaktivitasNilaiSFBDSTSPnrBBM_idAktifitas" class="el_SubaktivitasNilaiSFBDSTSPnrBBM_idAktifitas">
<span @Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.idAktifitas.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfbdstsPnrBbmList.idAktifitas.Visible (end) *@
    @if (subaktivitasNilaiSfbdstsPnrBbmList.klobs.Visible) { // subaktivitasNilaiSfbdstsPnrBbmList.klobs.Visible (begin)
        <td data-name="klobs" @Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.klobs.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiSfbdstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiSfbdstsPnrBbmList.RowCount)_SubaktivitasNilaiSFBDSTSPnrBBM_klobs" class="el_SubaktivitasNilaiSFBDSTSPnrBBM_klobs">
<span @Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.klobs.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.klobs.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfbdstsPnrBbmList.klobs.Visible (end) *@
    @if (subaktivitasNilaiSfbdstsPnrBbmList.kl15.Visible) { // subaktivitasNilaiSfbdstsPnrBbmList.kl15.Visible (begin)
        <td data-name="kl15" @Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.kl15.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiSfbdstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiSfbdstsPnrBbmList.RowCount)_SubaktivitasNilaiSFBDSTSPnrBBM_kl15" class="el_SubaktivitasNilaiSFBDSTSPnrBBM_kl15">
<span @Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.kl15.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.kl15.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfbdstsPnrBbmList.kl15.Visible (end) *@
    @if (subaktivitasNilaiSfbdstsPnrBbmList.barrels.Visible) { // subaktivitasNilaiSfbdstsPnrBbmList.barrels.Visible (begin)
        <td data-name="barrels" @Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.barrels.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiSfbdstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiSfbdstsPnrBbmList.RowCount)_SubaktivitasNilaiSFBDSTSPnrBBM_barrels" class="el_SubaktivitasNilaiSFBDSTSPnrBBM_barrels">
<span @Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.barrels.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.barrels.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfbdstsPnrBbmList.barrels.Visible (end) *@
    @if (subaktivitasNilaiSfbdstsPnrBbmList.lt.Visible) { // subaktivitasNilaiSfbdstsPnrBbmList.lt.Visible (begin)
        <td data-name="lt" @Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.lt.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiSfbdstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiSfbdstsPnrBbmList.RowCount)_SubaktivitasNilaiSFBDSTSPnrBBM_lt" class="el_SubaktivitasNilaiSFBDSTSPnrBBM_lt">
<span @Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.lt.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.lt.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfbdstsPnrBbmList.lt.Visible (end) *@
    @if (subaktivitasNilaiSfbdstsPnrBbmList.mt.Visible) { // subaktivitasNilaiSfbdstsPnrBbmList.mt.Visible (begin)
        <td data-name="mt" @Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.mt.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiSfbdstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiSfbdstsPnrBbmList.RowCount)_SubaktivitasNilaiSFBDSTSPnrBBM_mt" class="el_SubaktivitasNilaiSFBDSTSPnrBBM_mt">
<span @Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.mt.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.mt.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfbdstsPnrBbmList.mt.Visible (end) *@
    @if (subaktivitasNilaiSfbdstsPnrBbmList.userInput.Visible) { // subaktivitasNilaiSfbdstsPnrBbmList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.userInput.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiSfbdstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiSfbdstsPnrBbmList.RowCount)_SubaktivitasNilaiSFBDSTSPnrBBM_userInput" class="el_SubaktivitasNilaiSFBDSTSPnrBBM_userInput">
<span @Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.userInput.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfbdstsPnrBbmList.userInput.Visible (end) *@
    @if (subaktivitasNilaiSfbdstsPnrBbmList.etlDate.Visible) { // subaktivitasNilaiSfbdstsPnrBbmList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.etlDate.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiSfbdstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiSfbdstsPnrBbmList.RowCount)_SubaktivitasNilaiSFBDSTSPnrBBM_etlDate" class="el_SubaktivitasNilaiSFBDSTSPnrBBM_etlDate">
<span @Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.etlDate.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfbdstsPnrBbmList.etlDate.Visible (end) *@
    @if (subaktivitasNilaiSfbdstsPnrBbmList.idProses.Visible) { // subaktivitasNilaiSfbdstsPnrBbmList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.idProses.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiSfbdstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiSfbdstsPnrBbmList.RowCount)_SubaktivitasNilaiSFBDSTSPnrBBM_idProses" class="el_SubaktivitasNilaiSFBDSTSPnrBBM_idProses">
<span @Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.idProses.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfbdstsPnrBbmList.idProses.Visible (end) *@
    @if (subaktivitasNilaiSfbdstsPnrBbmList.LastUpdatedBy.Visible) { // subaktivitasNilaiSfbdstsPnrBbmList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiSfbdstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiSfbdstsPnrBbmList.RowCount)_SubaktivitasNilaiSFBDSTSPnrBBM_LastUpdatedBy" class="el_SubaktivitasNilaiSFBDSTSPnrBBM_LastUpdatedBy">
<span @Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfbdstsPnrBbmList.LastUpdatedBy.Visible (end) *@
    @if (subaktivitasNilaiSfbdstsPnrBbmList.lastUpdatedDate.Visible) { // subaktivitasNilaiSfbdstsPnrBbmList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiSfbdstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiSfbdstsPnrBbmList.RowCount)_SubaktivitasNilaiSFBDSTSPnrBBM_lastUpdatedDate" class="el_SubaktivitasNilaiSFBDSTSPnrBBM_lastUpdatedDate">
<span @Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfbdstsPnrBbmList.lastUpdatedDate.Visible (end) *@
    @if (subaktivitasNilaiSfbdstsPnrBbmList.NoReferensi.Visible) { // subaktivitasNilaiSfbdstsPnrBbmList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiSfbdstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiSfbdstsPnrBbmList.RowCount)_SubaktivitasNilaiSFBDSTSPnrBBM_NoReferensi" class="el_SubaktivitasNilaiSFBDSTSPnrBBM_NoReferensi">
<span @Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.NoReferensi.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfbdstsPnrBbmList.NoReferensi.Visible (end) *@
    @if (subaktivitasNilaiSfbdstsPnrBbmList.StatusAktivitas.Visible) { // subaktivitasNilaiSfbdstsPnrBbmList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiSfbdstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiSfbdstsPnrBbmList.RowCount)_SubaktivitasNilaiSFBDSTSPnrBBM_StatusAktivitas" class="el_SubaktivitasNilaiSFBDSTSPnrBBM_StatusAktivitas">
<span @Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfbdstsPnrBbmList.StatusAktivitas.Visible (end) *@
    @* Render list options (body, right) *@
    @subaktivitasNilaiSfbdstsPnrBbmList.ListOptions.RenderBody("right", subaktivitasNilaiSfbdstsPnrBbmList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subaktivitasNilaiSfbdstsPnrBbmList.RowIndex, "$rowindex$"))
        subaktivitasNilaiSfbdstsPnrBbmList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subaktivitasNilaiSfbdstsPnrBbmList.IsCopy || subaktivitasNilaiSfbdstsPnrBbmList.IsAdd) && subaktivitasNilaiSfbdstsPnrBbmList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subaktivitasNilaiSfbdstsPnrBbmList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subaktivitasNilaiSfbdstsPnrBbmList.CurrentAction) && !subaktivitasNilaiSfbdstsPnrBbmList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subaktivitasNilaiSfbdstsPnrBbmList.CloseRecordset(); }
@if (!subaktivitasNilaiSfbdstsPnrBbmList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subaktivitasNilaiSfbdstsPnrBbmList.IsGridAdd && !(subaktivitasNilaiSfbdstsPnrBbmList.IsGridEdit && subaktivitasNilaiSfbdstsPnrBbmList.ModalGridEdit) && !subaktivitasNilaiSfbdstsPnrBbmList.IsMultiEdit) {
@Html.Raw(subaktivitasNilaiSfbdstsPnrBbmList.Pager.Render())
}
<div class="ew-list-other-options">
@subaktivitasNilaiSfbdstsPnrBbmList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subaktivitasNilaiSfbdstsPnrBbmList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subaktivitasNilaiSfbdstsPnrBbmList.FooterOptions.RenderBody()
</div>
</main>
@subaktivitasNilaiSfbdstsPnrBbmList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subaktivitasNilaiSfbdstsPnrBbmList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubaktivitasNilaiSFBDSTSPnrBBM");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
