@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputLogbookPenerimaanTruckEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputLogbookPenerimaanTruckEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasFormInputLogbookPenerimaanTruckEdit.ShowPageHeader()
@subAktivitasFormInputLogbookPenerimaanTruckEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasFormInputLogbookPenerimaanTruckedit" id="fSubAktivitasFormInputLogbookPenerimaanTruckedit" class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputLogbookPenerimaanTruckEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputLogbookPenerimaanTruck: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasFormInputLogbookPenerimaanTruckedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputLogbookPenerimaanTruckedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null], fields.idAktifitas.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null], fields.idProses.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["Tanggal", [fields.Tanggal.visible && fields.Tanggal.required ? ew.Validators.required(fields.Tanggal.caption) : null, ew.Validators.datetime(fields.Tanggal.clientFormatPattern)], fields.Tanggal.isInvalid],
            ["NamaKegiatan", [fields.NamaKegiatan.visible && fields.NamaKegiatan.required ? ew.Validators.required(fields.NamaKegiatan.caption) : null], fields.NamaKegiatan.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["Density", [fields.Density.visible && fields.Density.required ? ew.Validators.required(fields.Density.caption) : null], fields.Density.isInvalid],
            ["Temperatur", [fields.Temperatur.visible && fields.Temperatur.required ? ew.Validators.required(fields.Temperatur.caption) : null], fields.Temperatur.isInvalid],
            ["Keterangan", [fields.Keterangan.visible && fields.Keterangan.required ? ew.Validators.required(fields.Keterangan.caption) : null], fields.Keterangan.isInvalid],
            ["Level", [fields.Level.visible && fields.Level.required ? ew.Validators.required(fields.Level.caption) : null], fields.Level.isInvalid],
            ["Volume", [fields.Volume.visible && fields.Volume.required ? ew.Validators.required(fields.Volume.caption) : null], fields.Volume.isInvalid],
            ["Flowrate", [fields.Flowrate.visible && fields.Flowrate.required ? ew.Validators.required(fields.Flowrate.caption) : null], fields.Flowrate.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null], fields.lastUpdatedDate.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null], fields.StatusAktivitas.isInvalid],
            ["TanggalJamSOP", [fields.TanggalJamSOP.visible && fields.TanggalJamSOP.required ? ew.Validators.required(fields.TanggalJamSOP.caption) : null, ew.Validators.datetime(fields.TanggalJamSOP.clientFormatPattern)], fields.TanggalJamSOP.isInvalid],
            ["SelisihWaktu", [fields.SelisihWaktu.visible && fields.SelisihWaktu.required ? ew.Validators.required(fields.SelisihWaktu.caption) : null], fields.SelisihWaktu.isInvalid],
            ["IsQualityActive", [fields.IsQualityActive.visible && fields.IsQualityActive.required ? ew.Validators.required(fields.IsQualityActive.caption) : null], fields.IsQualityActive.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "IsQualityActive": @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.IsQualityActive.ToClientList(subAktivitasFormInputLogbookPenerimaanTruckEdit)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputLogbookPenerimaanTruckEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.OldKeyName)" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasFormInputLogbookPenerimaanTruckEdit.idAktifitas.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_idAktifitas" class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.idAktifitas.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_idAktifitas">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.idAktifitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.idAktifitas.DisplayValue(subAktivitasFormInputLogbookPenerimaanTruckEdit.idAktifitas.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasFormInputLogbookPenerimaanTruck" data-field="x_idAktifitas" data-hidden="1" name="x_idAktifitas" id="x_idAktifitas" value="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanTruckEdit.idAktifitas.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanTruckEdit.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckEdit.idProses.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_idProses" class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.idProses.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_idProses">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.idProses.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.idProses.DisplayValue(subAktivitasFormInputLogbookPenerimaanTruckEdit.idProses.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasFormInputLogbookPenerimaanTruck" data-field="x_idProses" data-hidden="1" name="x_idProses" id="x_idProses" value="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanTruckEdit.idProses.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanTruckEdit.idProses.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckEdit.NoReferensi.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_NoReferensi" for="x_NoReferensi" class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.NoReferensi.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_NoReferensi">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.NoReferensi.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasFormInputLogbookPenerimaanTruckEdit.NoReferensi.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasFormInputLogbookPenerimaanTruck" data-field="x_NoReferensi" data-hidden="1" name="x_NoReferensi" id="x_NoReferensi" value="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanTruckEdit.NoReferensi.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanTruckEdit.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckEdit.Tanggal.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckEdit.Tanggal.Visible (begin)
    <div id="r_Tanggal" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Tanggal.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_Tanggal" for="x_Tanggal" class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Tanggal.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Tanggal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Tanggal.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_Tanggal">
<input type="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.Tanggal.InputTextType)" name="x_Tanggal" id="x_Tanggal" data-table="SubAktivitasFormInputLogbookPenerimaanTruck" data-field="x_Tanggal" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Tanggal.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanTruckEdit.Tanggal.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.Tanggal.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Tanggal.EditAttributes) aria-describedby="x_Tanggal_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Tanggal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Tanggal.GetErrorMessage())</div>
@if (!subAktivitasFormInputLogbookPenerimaanTruckEdit.Tanggal.ReadOnly && !subAktivitasFormInputLogbookPenerimaanTruckEdit.Tanggal.Disabled && !subAktivitasFormInputLogbookPenerimaanTruckEdit.Tanggal.EditAttrs.Is("readonly") && !subAktivitasFormInputLogbookPenerimaanTruckEdit.Tanggal.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputLogbookPenerimaanTruckedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputLogbookPenerimaanTruckedit", "x_Tanggal", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanTruckEdit.Tanggal.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckEdit.NamaKegiatan.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckEdit.NamaKegiatan.Visible (begin)
    <div id="r_NamaKegiatan" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.NamaKegiatan.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_NamaKegiatan" for="x_NamaKegiatan" class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.NamaKegiatan.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.NamaKegiatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.NamaKegiatan.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_NamaKegiatan">
<input type="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.NamaKegiatan.InputTextType)" name="x_NamaKegiatan" id="x_NamaKegiatan" data-table="SubAktivitasFormInputLogbookPenerimaanTruck" data-field="x_NamaKegiatan" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.NamaKegiatan.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanTruckEdit.NamaKegiatan.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.NamaKegiatan.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.NamaKegiatan.EditAttributes) aria-describedby="x_NamaKegiatan_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.NamaKegiatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.NamaKegiatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanTruckEdit.NamaKegiatan.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckEdit.Produk.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Produk.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_Produk" for="x_Produk" class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Produk.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Produk.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_Produk">
<input type="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasFormInputLogbookPenerimaanTruck" data-field="x_Produk" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Produk.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanTruckEdit.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.Produk.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanTruckEdit.Produk.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckEdit.Density.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckEdit.Density.Visible (begin)
    <div id="r_Density" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Density.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_Density" for="x_Density" class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Density.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Density.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Density.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_Density">
<input type="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.Density.InputTextType)" name="x_Density" id="x_Density" data-table="SubAktivitasFormInputLogbookPenerimaanTruck" data-field="x_Density" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Density.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanTruckEdit.Density.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.Density.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Density.EditAttributes) aria-describedby="x_Density_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Density.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Density.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanTruckEdit.Density.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckEdit.Temperatur.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckEdit.Temperatur.Visible (begin)
    <div id="r_Temperatur" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Temperatur.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_Temperatur" for="x_Temperatur" class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Temperatur.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Temperatur.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Temperatur.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_Temperatur">
<input type="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.Temperatur.InputTextType)" name="x_Temperatur" id="x_Temperatur" data-table="SubAktivitasFormInputLogbookPenerimaanTruck" data-field="x_Temperatur" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Temperatur.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanTruckEdit.Temperatur.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.Temperatur.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Temperatur.EditAttributes) aria-describedby="x_Temperatur_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Temperatur.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Temperatur.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanTruckEdit.Temperatur.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckEdit.Keterangan.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckEdit.Keterangan.Visible (begin)
    <div id="r_Keterangan" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Keterangan.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_Keterangan" for="x_Keterangan" class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Keterangan.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Keterangan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Keterangan.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_Keterangan">
<input type="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.Keterangan.InputTextType)" name="x_Keterangan" id="x_Keterangan" data-table="SubAktivitasFormInputLogbookPenerimaanTruck" data-field="x_Keterangan" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Keterangan.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanTruckEdit.Keterangan.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.Keterangan.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Keterangan.EditAttributes) aria-describedby="x_Keterangan_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Keterangan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Keterangan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanTruckEdit.Keterangan.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckEdit.Level.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckEdit.Level.Visible (begin)
    <div id="r_Level" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Level.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_Level" for="x_Level" class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Level.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Level.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Level.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_Level">
<input type="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.Level.InputTextType)" name="x_Level" id="x_Level" data-table="SubAktivitasFormInputLogbookPenerimaanTruck" data-field="x_Level" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Level.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanTruckEdit.Level.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.Level.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Level.EditAttributes) aria-describedby="x_Level_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Level.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Level.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanTruckEdit.Level.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckEdit.Volume.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckEdit.Volume.Visible (begin)
    <div id="r_Volume" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Volume.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_Volume" for="x_Volume" class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Volume.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Volume.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Volume.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_Volume">
<input type="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.Volume.InputTextType)" name="x_Volume" id="x_Volume" data-table="SubAktivitasFormInputLogbookPenerimaanTruck" data-field="x_Volume" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Volume.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanTruckEdit.Volume.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.Volume.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Volume.EditAttributes) aria-describedby="x_Volume_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Volume.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Volume.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanTruckEdit.Volume.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckEdit.Flowrate.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckEdit.Flowrate.Visible (begin)
    <div id="r_Flowrate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Flowrate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_Flowrate" for="x_Flowrate" class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Flowrate.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Flowrate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Flowrate.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_Flowrate">
<input type="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.Flowrate.InputTextType)" name="x_Flowrate" id="x_Flowrate" data-table="SubAktivitasFormInputLogbookPenerimaanTruck" data-field="x_Flowrate" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Flowrate.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanTruckEdit.Flowrate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.Flowrate.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Flowrate.EditAttributes) aria-describedby="x_Flowrate_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Flowrate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.Flowrate.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanTruckEdit.Flowrate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckEdit.LastUpdatedBy.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.LastUpdatedBy.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasFormInputLogbookPenerimaanTruckEdit.LastUpdatedBy.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasFormInputLogbookPenerimaanTruck" data-field="x_LastUpdatedBy" data-hidden="1" name="x_LastUpdatedBy" id="x_LastUpdatedBy" value="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanTruckEdit.LastUpdatedBy.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanTruckEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckEdit.lastUpdatedDate.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.lastUpdatedDate.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasFormInputLogbookPenerimaanTruckEdit.lastUpdatedDate.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasFormInputLogbookPenerimaanTruck" data-field="x_lastUpdatedDate" data-hidden="1" name="x_lastUpdatedDate" id="x_lastUpdatedDate" value="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanTruckEdit.lastUpdatedDate.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanTruckEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckEdit.StatusAktivitas.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckEdit.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.StatusAktivitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_StatusAktivitas" for="x_StatusAktivitas" class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.StatusAktivitas.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.StatusAktivitas.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasFormInputLogbookPenerimaanTruckEdit.StatusAktivitas.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasFormInputLogbookPenerimaanTruck" data-field="x_StatusAktivitas" data-hidden="1" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanTruckEdit.StatusAktivitas.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanTruckEdit.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckEdit.TanggalJamSOP.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckEdit.TanggalJamSOP.Visible (begin)
    <div id="r_TanggalJamSOP" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.TanggalJamSOP.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_TanggalJamSOP" for="x_TanggalJamSOP" class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.TanggalJamSOP.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.TanggalJamSOP.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.TanggalJamSOP.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_TanggalJamSOP">
<input type="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.TanggalJamSOP.InputTextType)" name="x_TanggalJamSOP" id="x_TanggalJamSOP" data-table="SubAktivitasFormInputLogbookPenerimaanTruck" data-field="x_TanggalJamSOP" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.TanggalJamSOP.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanTruckEdit.TanggalJamSOP.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.TanggalJamSOP.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.TanggalJamSOP.EditAttributes) aria-describedby="x_TanggalJamSOP_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.TanggalJamSOP.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.TanggalJamSOP.GetErrorMessage())</div>
@if (!subAktivitasFormInputLogbookPenerimaanTruckEdit.TanggalJamSOP.ReadOnly && !subAktivitasFormInputLogbookPenerimaanTruckEdit.TanggalJamSOP.Disabled && !subAktivitasFormInputLogbookPenerimaanTruckEdit.TanggalJamSOP.EditAttrs.Is("readonly") && !subAktivitasFormInputLogbookPenerimaanTruckEdit.TanggalJamSOP.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputLogbookPenerimaanTruckedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputLogbookPenerimaanTruckedit", "x_TanggalJamSOP", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanTruckEdit.TanggalJamSOP.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckEdit.SelisihWaktu.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckEdit.SelisihWaktu.Visible (begin)
    <div id="r_SelisihWaktu" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.SelisihWaktu.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_SelisihWaktu" for="x_SelisihWaktu" class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.SelisihWaktu.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.SelisihWaktu.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.SelisihWaktu.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_SelisihWaktu">
<input type="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.SelisihWaktu.InputTextType)" name="x_SelisihWaktu" id="x_SelisihWaktu" data-table="SubAktivitasFormInputLogbookPenerimaanTruck" data-field="x_SelisihWaktu" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.SelisihWaktu.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanTruckEdit.SelisihWaktu.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.SelisihWaktu.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.SelisihWaktu.EditAttributes) aria-describedby="x_SelisihWaktu_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.SelisihWaktu.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.SelisihWaktu.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanTruckEdit.SelisihWaktu.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckEdit.IsQualityActive.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckEdit.IsQualityActive.Visible (begin)
    <div id="r_IsQualityActive" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.IsQualityActive.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_IsQualityActive" class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.IsQualityActive.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.IsQualityActive.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.IsQualityActive.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_IsQualityActive">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(subAktivitasFormInputLogbookPenerimaanTruckEdit.IsQualityActive.IsInvalidClass)" data-table="SubAktivitasFormInputLogbookPenerimaanTruck" data-field="x_IsQualityActive" data-boolean name="x_IsQualityActive" id="x_IsQualityActive" value="1" checked="@ConvertToBool(subAktivitasFormInputLogbookPenerimaanTruckEdit.IsQualityActive.CurrentValue)" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.IsQualityActive.EditAttributes) aria-describedby="x_IsQualityActive_help">
    <div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.IsQualityActive.GetErrorMessage())</div>
</div>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.IsQualityActive.GetCustomMessage)
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanTruckEdit.IsQualityActive.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="SubAktivitasFormInputLogbookPenerimaanTruck" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanTruckEdit.id.CurrentValue))">
@{ subAktivitasFormInputLogbookPenerimaanTruckEdit.CloseRecordset(); }
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasFormInputLogbookPenerimaanTruckEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasFormInputLogbookPenerimaanTruckedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasFormInputLogbookPenerimaanTruckedit" data-href="@AppPath(subAktivitasFormInputLogbookPenerimaanTruckEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasFormInputLogbookPenerimaanTruckEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputLogbookPenerimaanTruck");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
