@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiSfbdstslpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiSfbdstslpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasNilaiSfbdstslpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiSfbdstslpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiSFBDSTSLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasNilaiSfbdstslpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasNilaiSfbdstslpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasNilaiSfbdstslpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasNilaiSfbdstslpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasNilaiSfbdstslpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasNilaiSfbdstslpgList.TotalRecords > 0 && subAktivitasNilaiSfbdstslpgList.ExportOptions.Visible) {
    subAktivitasNilaiSfbdstslpgList.ExportOptions.Render("body");
}
@if (subAktivitasNilaiSfbdstslpgList.ImportOptions.Visible) {
    subAktivitasNilaiSfbdstslpgList.ImportOptions.Render("body");
}
@if (subAktivitasNilaiSfbdstslpgList.SearchOptions.Visible) {
    subAktivitasNilaiSfbdstslpgList.SearchOptions.Render("body");
}
@if (subAktivitasNilaiSfbdstslpgList.FilterOptions.Visible) {
    subAktivitasNilaiSfbdstslpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasNilaiSfbdstslpgList.IsModal) {
<form name="fSubAktivitasNilaiSFBDSTSLPGsrch" id="fSubAktivitasNilaiSFBDSTSLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasNilaiSFBDSTSLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasNilaiSfbdstslpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiSfbdstslpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiSFBDSTSLPG: currentTable } });
var currentForm;
var fSubAktivitasNilaiSFBDSTSLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiSFBDSTSLPGsrch")
        .setPageId("list")
@if (subAktivitasNilaiSfbdstslpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasNilaiSfbdstslpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasNilaiSfbdstslpgList.IsExport() && Empty(subAktivitasNilaiSfbdstslpgList.CurrentAction) && subAktivitasNilaiSfbdstslpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasNilaiSfbdstslpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasNilaiSfbdstslpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasNilaiSfbdstslpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasNilaiSfbdstslpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasNilaiSFBDSTSLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiSfbdstslpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasNilaiSFBDSTSLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiSfbdstslpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasNilaiSFBDSTSLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiSfbdstslpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasNilaiSFBDSTSLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasNilaiSfbdstslpgList.ShowPageHeader()
@subAktivitasNilaiSfbdstslpgList.ShowMessages()
<main class="list @(subAktivitasNilaiSfbdstslpgList.TotalRecords == 0 && !subAktivitasNilaiSfbdstslpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasNilaiSfbdstslpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasNilaiSfbdstslpgList.TotalRecords > 0 || !Empty(subAktivitasNilaiSfbdstslpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasNilaiSfbdstslpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasNilaiSfbdstslpgList.TableGridClass)">
<form name="@(subAktivitasNilaiSfbdstslpgList.FormName)" id="@(subAktivitasNilaiSfbdstslpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasNilaiSfbdstslpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasNilaiSfbdstslpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasNilaiSFBDSTSLPG" class="card-body ew-grid-middle-panel @(subAktivitasNilaiSfbdstslpgList.TableContainerClass)" style="@(subAktivitasNilaiSfbdstslpgList.TableContainerStyle)">
@if (subAktivitasNilaiSfbdstslpgList.TotalRecords > 0 || subAktivitasNilaiSfbdstslpgList.IsGridEdit || subAktivitasNilaiSfbdstslpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasNilaiSFBDSTSLPGlist" class="@(subAktivitasNilaiSfbdstslpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasNilaiSfbdstslpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasNilaiSfbdstslpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasNilaiSfbdstslpgList.ListOptions.RenderHeader("left")
@if (subAktivitasNilaiSfbdstslpgList.id.Visible) { // subAktivitasNilaiSfbdstslpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasNilaiSfbdstslpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasNilaiSFBDSTSLPG_id" class="SubAktivitasNilaiSFBDSTSLPG_id">@Html.Raw(subAktivitasNilaiSfbdstslpgList.RenderFieldHeader(subAktivitasNilaiSfbdstslpgList.id))</div></th>
} @* subAktivitasNilaiSfbdstslpgList.id.Visible (end) *@
@if (subAktivitasNilaiSfbdstslpgList.idAktifitas.Visible) { // subAktivitasNilaiSfbdstslpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasNilaiSfbdstslpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiSFBDSTSLPG_idAktifitas" class="SubAktivitasNilaiSFBDSTSLPG_idAktifitas">@Html.Raw(subAktivitasNilaiSfbdstslpgList.RenderFieldHeader(subAktivitasNilaiSfbdstslpgList.idAktifitas))</div></th>
} @* subAktivitasNilaiSfbdstslpgList.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiSfbdstslpgList.mt.Visible) { // subAktivitasNilaiSfbdstslpgList.mt.Visible (begin)
        <th data-name="mt" class="@(subAktivitasNilaiSfbdstslpgList.mt.HeaderCellClass)"><div id="elh_SubAktivitasNilaiSFBDSTSLPG_mt" class="SubAktivitasNilaiSFBDSTSLPG_mt">@Html.Raw(subAktivitasNilaiSfbdstslpgList.RenderFieldHeader(subAktivitasNilaiSfbdstslpgList.mt))</div></th>
} @* subAktivitasNilaiSfbdstslpgList.mt.Visible (end) *@
@if (subAktivitasNilaiSfbdstslpgList.userInput.Visible) { // subAktivitasNilaiSfbdstslpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasNilaiSfbdstslpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasNilaiSFBDSTSLPG_userInput" class="SubAktivitasNilaiSFBDSTSLPG_userInput">@Html.Raw(subAktivitasNilaiSfbdstslpgList.RenderFieldHeader(subAktivitasNilaiSfbdstslpgList.userInput))</div></th>
} @* subAktivitasNilaiSfbdstslpgList.userInput.Visible (end) *@
@if (subAktivitasNilaiSfbdstslpgList.etlDate.Visible) { // subAktivitasNilaiSfbdstslpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasNilaiSfbdstslpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiSFBDSTSLPG_etlDate" class="SubAktivitasNilaiSFBDSTSLPG_etlDate">@Html.Raw(subAktivitasNilaiSfbdstslpgList.RenderFieldHeader(subAktivitasNilaiSfbdstslpgList.etlDate))</div></th>
} @* subAktivitasNilaiSfbdstslpgList.etlDate.Visible (end) *@
@if (subAktivitasNilaiSfbdstslpgList.idProses.Visible) { // subAktivitasNilaiSfbdstslpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasNilaiSfbdstslpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasNilaiSFBDSTSLPG_idProses" class="SubAktivitasNilaiSFBDSTSLPG_idProses">@Html.Raw(subAktivitasNilaiSfbdstslpgList.RenderFieldHeader(subAktivitasNilaiSfbdstslpgList.idProses))</div></th>
} @* subAktivitasNilaiSfbdstslpgList.idProses.Visible (end) *@
@if (subAktivitasNilaiSfbdstslpgList.LastUpdatedBy.Visible) { // subAktivitasNilaiSfbdstslpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasNilaiSfbdstslpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasNilaiSFBDSTSLPG_LastUpdatedBy" class="SubAktivitasNilaiSFBDSTSLPG_LastUpdatedBy">@Html.Raw(subAktivitasNilaiSfbdstslpgList.RenderFieldHeader(subAktivitasNilaiSfbdstslpgList.LastUpdatedBy))</div></th>
} @* subAktivitasNilaiSfbdstslpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiSfbdstslpgList.lastUpdatedDate.Visible) { // subAktivitasNilaiSfbdstslpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasNilaiSfbdstslpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiSFBDSTSLPG_lastUpdatedDate" class="SubAktivitasNilaiSFBDSTSLPG_lastUpdatedDate">@Html.Raw(subAktivitasNilaiSfbdstslpgList.RenderFieldHeader(subAktivitasNilaiSfbdstslpgList.lastUpdatedDate))</div></th>
} @* subAktivitasNilaiSfbdstslpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasNilaiSfbdstslpgList.NoReferensi.Visible) { // subAktivitasNilaiSfbdstslpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasNilaiSfbdstslpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasNilaiSFBDSTSLPG_NoReferensi" class="SubAktivitasNilaiSFBDSTSLPG_NoReferensi">@Html.Raw(subAktivitasNilaiSfbdstslpgList.RenderFieldHeader(subAktivitasNilaiSfbdstslpgList.NoReferensi))</div></th>
} @* subAktivitasNilaiSfbdstslpgList.NoReferensi.Visible (end) *@
@if (subAktivitasNilaiSfbdstslpgList.StatusAktivitas.Visible) { // subAktivitasNilaiSfbdstslpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasNilaiSfbdstslpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiSFBDSTSLPG_StatusAktivitas" class="SubAktivitasNilaiSFBDSTSLPG_StatusAktivitas">@Html.Raw(subAktivitasNilaiSfbdstslpgList.RenderFieldHeader(subAktivitasNilaiSfbdstslpgList.StatusAktivitas))</div></th>
} @* subAktivitasNilaiSfbdstslpgList.StatusAktivitas.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasNilaiSfbdstslpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasNilaiSfbdstslpgList.PageNumber)">
@{
    await subAktivitasNilaiSfbdstslpgList.SetupGrid();
    bool eof = subAktivitasNilaiSfbdstslpgList.Recordset == null; // DN
}
@while (subAktivitasNilaiSfbdstslpgList.RecordCount < subAktivitasNilaiSfbdstslpgList.StopRecord || SameString(subAktivitasNilaiSfbdstslpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasNilaiSfbdstslpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasNilaiSfbdstslpgList.IsGridAdd || subAktivitasNilaiSfbdstslpgList.CurrentMode == "copy") &&
        (!((subAktivitasNilaiSfbdstslpgList.IsCopy || subAktivitasNilaiSfbdstslpgList.IsAdd) && subAktivitasNilaiSfbdstslpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasNilaiSfbdstslpgList.Recordset.ReadAsync();
    subAktivitasNilaiSfbdstslpgList.RecordCount++;
    if (subAktivitasNilaiSfbdstslpgList.RecordCount >= subAktivitasNilaiSfbdstslpgList.StartRecord) {
        await subAktivitasNilaiSfbdstslpgList.SetupRow();
    <tr @Html.Raw(subAktivitasNilaiSfbdstslpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasNilaiSfbdstslpgList.ListOptions.RenderBody("left", subAktivitasNilaiSfbdstslpgList.RowCount)
    @if (subAktivitasNilaiSfbdstslpgList.id.Visible) { // subAktivitasNilaiSfbdstslpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasNilaiSfbdstslpgList.id.CellAttributes)>
<span id="el@(subAktivitasNilaiSfbdstslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiSfbdstslpgList.RowCount)_SubAktivitasNilaiSFBDSTSLPG_id" class="el_SubAktivitasNilaiSFBDSTSLPG_id">
<span @Html.Raw(subAktivitasNilaiSfbdstslpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdstslpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiSfbdstslpgList.id.Visible (end) *@
    @if (subAktivitasNilaiSfbdstslpgList.idAktifitas.Visible) { // subAktivitasNilaiSfbdstslpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasNilaiSfbdstslpgList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasNilaiSfbdstslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiSfbdstslpgList.RowCount)_SubAktivitasNilaiSFBDSTSLPG_idAktifitas" class="el_SubAktivitasNilaiSFBDSTSLPG_idAktifitas">
<span @Html.Raw(subAktivitasNilaiSfbdstslpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdstslpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiSfbdstslpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasNilaiSfbdstslpgList.mt.Visible) { // subAktivitasNilaiSfbdstslpgList.mt.Visible (begin)
        <td data-name="mt" @Html.Raw(subAktivitasNilaiSfbdstslpgList.mt.CellAttributes)>
<span id="el@(subAktivitasNilaiSfbdstslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiSfbdstslpgList.RowCount)_SubAktivitasNilaiSFBDSTSLPG_mt" class="el_SubAktivitasNilaiSFBDSTSLPG_mt">
<span @Html.Raw(subAktivitasNilaiSfbdstslpgList.mt.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdstslpgList.mt.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiSfbdstslpgList.mt.Visible (end) *@
    @if (subAktivitasNilaiSfbdstslpgList.userInput.Visible) { // subAktivitasNilaiSfbdstslpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasNilaiSfbdstslpgList.userInput.CellAttributes)>
<span id="el@(subAktivitasNilaiSfbdstslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiSfbdstslpgList.RowCount)_SubAktivitasNilaiSFBDSTSLPG_userInput" class="el_SubAktivitasNilaiSFBDSTSLPG_userInput">
<span @Html.Raw(subAktivitasNilaiSfbdstslpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdstslpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiSfbdstslpgList.userInput.Visible (end) *@
    @if (subAktivitasNilaiSfbdstslpgList.etlDate.Visible) { // subAktivitasNilaiSfbdstslpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasNilaiSfbdstslpgList.etlDate.CellAttributes)>
<span id="el@(subAktivitasNilaiSfbdstslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiSfbdstslpgList.RowCount)_SubAktivitasNilaiSFBDSTSLPG_etlDate" class="el_SubAktivitasNilaiSFBDSTSLPG_etlDate">
<span @Html.Raw(subAktivitasNilaiSfbdstslpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdstslpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiSfbdstslpgList.etlDate.Visible (end) *@
    @if (subAktivitasNilaiSfbdstslpgList.idProses.Visible) { // subAktivitasNilaiSfbdstslpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasNilaiSfbdstslpgList.idProses.CellAttributes)>
<span id="el@(subAktivitasNilaiSfbdstslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiSfbdstslpgList.RowCount)_SubAktivitasNilaiSFBDSTSLPG_idProses" class="el_SubAktivitasNilaiSFBDSTSLPG_idProses">
<span @Html.Raw(subAktivitasNilaiSfbdstslpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdstslpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiSfbdstslpgList.idProses.Visible (end) *@
    @if (subAktivitasNilaiSfbdstslpgList.LastUpdatedBy.Visible) { // subAktivitasNilaiSfbdstslpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasNilaiSfbdstslpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasNilaiSfbdstslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiSfbdstslpgList.RowCount)_SubAktivitasNilaiSFBDSTSLPG_LastUpdatedBy" class="el_SubAktivitasNilaiSFBDSTSLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasNilaiSfbdstslpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdstslpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiSfbdstslpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasNilaiSfbdstslpgList.lastUpdatedDate.Visible) { // subAktivitasNilaiSfbdstslpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasNilaiSfbdstslpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasNilaiSfbdstslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiSfbdstslpgList.RowCount)_SubAktivitasNilaiSFBDSTSLPG_lastUpdatedDate" class="el_SubAktivitasNilaiSFBDSTSLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasNilaiSfbdstslpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdstslpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiSfbdstslpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasNilaiSfbdstslpgList.NoReferensi.Visible) { // subAktivitasNilaiSfbdstslpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasNilaiSfbdstslpgList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasNilaiSfbdstslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiSfbdstslpgList.RowCount)_SubAktivitasNilaiSFBDSTSLPG_NoReferensi" class="el_SubAktivitasNilaiSFBDSTSLPG_NoReferensi">
<span @Html.Raw(subAktivitasNilaiSfbdstslpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdstslpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiSfbdstslpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasNilaiSfbdstslpgList.StatusAktivitas.Visible) { // subAktivitasNilaiSfbdstslpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasNilaiSfbdstslpgList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasNilaiSfbdstslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiSfbdstslpgList.RowCount)_SubAktivitasNilaiSFBDSTSLPG_StatusAktivitas" class="el_SubAktivitasNilaiSFBDSTSLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasNilaiSfbdstslpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdstslpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiSfbdstslpgList.StatusAktivitas.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasNilaiSfbdstslpgList.ListOptions.RenderBody("right", subAktivitasNilaiSfbdstslpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasNilaiSfbdstslpgList.RowIndex, "$rowindex$"))
        subAktivitasNilaiSfbdstslpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasNilaiSfbdstslpgList.IsCopy || subAktivitasNilaiSfbdstslpgList.IsAdd) && subAktivitasNilaiSfbdstslpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasNilaiSfbdstslpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasNilaiSfbdstslpgList.CurrentAction) && !subAktivitasNilaiSfbdstslpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasNilaiSfbdstslpgList.CloseRecordset(); }
@if (!subAktivitasNilaiSfbdstslpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasNilaiSfbdstslpgList.IsGridAdd && !(subAktivitasNilaiSfbdstslpgList.IsGridEdit && subAktivitasNilaiSfbdstslpgList.ModalGridEdit) && !subAktivitasNilaiSfbdstslpgList.IsMultiEdit) {
@Html.Raw(subAktivitasNilaiSfbdstslpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasNilaiSfbdstslpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasNilaiSfbdstslpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasNilaiSfbdstslpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasNilaiSfbdstslpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasNilaiSfbdstslpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasNilaiSFBDSTSLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
