@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputBLnSfalrtwList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputBLnSfalrtwList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputBLnSfalrtwList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputBLnSfalrtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputBLnSFALRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasFormInputBLnSfalrtwList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasFormInputBLnSfalrtwList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasFormInputBLnSfalrtwList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasFormInputBLnSfalrtwList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasFormInputBLnSfalrtwList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasFormInputBLnSfalrtwList.TotalRecords > 0 && subAktivitasFormInputBLnSfalrtwList.ExportOptions.Visible) {
    subAktivitasFormInputBLnSfalrtwList.ExportOptions.Render("body");
}
@if (subAktivitasFormInputBLnSfalrtwList.ImportOptions.Visible) {
    subAktivitasFormInputBLnSfalrtwList.ImportOptions.Render("body");
}
@if (subAktivitasFormInputBLnSfalrtwList.SearchOptions.Visible) {
    subAktivitasFormInputBLnSfalrtwList.SearchOptions.Render("body");
}
@if (subAktivitasFormInputBLnSfalrtwList.FilterOptions.Visible) {
    subAktivitasFormInputBLnSfalrtwList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasFormInputBLnSfalrtwList.IsModal) {
<form name="fSubAktivitasFormInputBLnSFALRTWsrch" id="fSubAktivitasFormInputBLnSFALRTWsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasFormInputBLnSFALRTWsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasFormInputBLnSfalrtwList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputBLnSfalrtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputBLnSFALRTW: currentTable } });
var currentForm;
var fSubAktivitasFormInputBLnSFALRTWsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputBLnSFALRTWsrch")
        .setPageId("list")
@if (subAktivitasFormInputBLnSfalrtwList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasFormInputBLnSfalrtwList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasFormInputBLnSfalrtwList.IsExport() && Empty(subAktivitasFormInputBLnSfalrtwList.CurrentAction) && subAktivitasFormInputBLnSfalrtwList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasFormInputBLnSfalrtwList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasFormInputBLnSfalrtwList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasFormInputBLnSfalrtwList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasFormInputBLnSFALRTWsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputBLnSfalrtwList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasFormInputBLnSFALRTWsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputBLnSfalrtwList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasFormInputBLnSFALRTWsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputBLnSfalrtwList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasFormInputBLnSFALRTWsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasFormInputBLnSfalrtwList.ShowPageHeader()
@subAktivitasFormInputBLnSfalrtwList.ShowMessages()
<main class="list @(subAktivitasFormInputBLnSfalrtwList.TotalRecords == 0 && !subAktivitasFormInputBLnSfalrtwList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasFormInputBLnSfalrtwList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasFormInputBLnSfalrtwList.TotalRecords > 0 || !Empty(subAktivitasFormInputBLnSfalrtwList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasFormInputBLnSfalrtwList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasFormInputBLnSfalrtwList.TableGridClass)">
<form name="@(subAktivitasFormInputBLnSfalrtwList.FormName)" id="@(subAktivitasFormInputBLnSfalrtwList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasFormInputBLnSfalrtwList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasFormInputBLnSfalrtwList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasFormInputBLnSFALRTW" class="card-body ew-grid-middle-panel @(subAktivitasFormInputBLnSfalrtwList.TableContainerClass)" style="@(subAktivitasFormInputBLnSfalrtwList.TableContainerStyle)">
@if (subAktivitasFormInputBLnSfalrtwList.TotalRecords > 0 || subAktivitasFormInputBLnSfalrtwList.IsGridEdit || subAktivitasFormInputBLnSfalrtwList.IsMultiEdit) {
<table id="tbl_SubAktivitasFormInputBLnSFALRTWlist" class="@(subAktivitasFormInputBLnSfalrtwList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasFormInputBLnSfalrtwList.RowType = RowType.Header;

    // Render list options
    await subAktivitasFormInputBLnSfalrtwList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasFormInputBLnSfalrtwList.ListOptions.RenderHeader("left")
@if (subAktivitasFormInputBLnSfalrtwList.id.Visible) { // subAktivitasFormInputBLnSfalrtwList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasFormInputBLnSfalrtwList.id.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLnSFALRTW_id" class="SubAktivitasFormInputBLnSFALRTW_id">@Html.Raw(subAktivitasFormInputBLnSfalrtwList.RenderFieldHeader(subAktivitasFormInputBLnSfalrtwList.id))</div></th>
} @* subAktivitasFormInputBLnSfalrtwList.id.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwList.idAktifitas.Visible) { // subAktivitasFormInputBLnSfalrtwList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasFormInputBLnSfalrtwList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLnSFALRTW_idAktifitas" class="SubAktivitasFormInputBLnSFALRTW_idAktifitas">@Html.Raw(subAktivitasFormInputBLnSfalrtwList.RenderFieldHeader(subAktivitasFormInputBLnSfalrtwList.idAktifitas))</div></th>
} @* subAktivitasFormInputBLnSfalrtwList.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwList.BL_KLObs.Visible) { // subAktivitasFormInputBLnSfalrtwList.BL_KLObs.Visible (begin)
        <th data-name="BL_KLObs" class="@(subAktivitasFormInputBLnSfalrtwList.BL_KLObs.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLnSFALRTW_BL_KLObs" class="SubAktivitasFormInputBLnSFALRTW_BL_KLObs">@Html.Raw(subAktivitasFormInputBLnSfalrtwList.RenderFieldHeader(subAktivitasFormInputBLnSfalrtwList.BL_KLObs))</div></th>
} @* subAktivitasFormInputBLnSfalrtwList.BL_KLObs.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwList.BL_KL15.Visible) { // subAktivitasFormInputBLnSfalrtwList.BL_KL15.Visible (begin)
        <th data-name="BL_KL15" class="@(subAktivitasFormInputBLnSfalrtwList.BL_KL15.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLnSFALRTW_BL_KL15" class="SubAktivitasFormInputBLnSFALRTW_BL_KL15">@Html.Raw(subAktivitasFormInputBLnSfalrtwList.RenderFieldHeader(subAktivitasFormInputBLnSfalrtwList.BL_KL15))</div></th>
} @* subAktivitasFormInputBLnSfalrtwList.BL_KL15.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwList.BL_Barrels.Visible) { // subAktivitasFormInputBLnSfalrtwList.BL_Barrels.Visible (begin)
        <th data-name="BL_Barrels" class="@(subAktivitasFormInputBLnSfalrtwList.BL_Barrels.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLnSFALRTW_BL_Barrels" class="SubAktivitasFormInputBLnSFALRTW_BL_Barrels">@Html.Raw(subAktivitasFormInputBLnSfalrtwList.RenderFieldHeader(subAktivitasFormInputBLnSfalrtwList.BL_Barrels))</div></th>
} @* subAktivitasFormInputBLnSfalrtwList.BL_Barrels.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwList.BL_LT.Visible) { // subAktivitasFormInputBLnSfalrtwList.BL_LT.Visible (begin)
        <th data-name="BL_LT" class="@(subAktivitasFormInputBLnSfalrtwList.BL_LT.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLnSFALRTW_BL_LT" class="SubAktivitasFormInputBLnSFALRTW_BL_LT">@Html.Raw(subAktivitasFormInputBLnSfalrtwList.RenderFieldHeader(subAktivitasFormInputBLnSfalrtwList.BL_LT))</div></th>
} @* subAktivitasFormInputBLnSfalrtwList.BL_LT.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwList.BL_MT.Visible) { // subAktivitasFormInputBLnSfalrtwList.BL_MT.Visible (begin)
        <th data-name="BL_MT" class="@(subAktivitasFormInputBLnSfalrtwList.BL_MT.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLnSFALRTW_BL_MT" class="SubAktivitasFormInputBLnSFALRTW_BL_MT">@Html.Raw(subAktivitasFormInputBLnSfalrtwList.RenderFieldHeader(subAktivitasFormInputBLnSfalrtwList.BL_MT))</div></th>
} @* subAktivitasFormInputBLnSfalrtwList.BL_MT.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwList.SFAL_KLObs.Visible) { // subAktivitasFormInputBLnSfalrtwList.SFAL_KLObs.Visible (begin)
        <th data-name="SFAL_KLObs" class="@(subAktivitasFormInputBLnSfalrtwList.SFAL_KLObs.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLnSFALRTW_SFAL_KLObs" class="SubAktivitasFormInputBLnSFALRTW_SFAL_KLObs">@Html.Raw(subAktivitasFormInputBLnSfalrtwList.RenderFieldHeader(subAktivitasFormInputBLnSfalrtwList.SFAL_KLObs))</div></th>
} @* subAktivitasFormInputBLnSfalrtwList.SFAL_KLObs.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwList.SFAL_KL15.Visible) { // subAktivitasFormInputBLnSfalrtwList.SFAL_KL15.Visible (begin)
        <th data-name="SFAL_KL15" class="@(subAktivitasFormInputBLnSfalrtwList.SFAL_KL15.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLnSFALRTW_SFAL_KL15" class="SubAktivitasFormInputBLnSFALRTW_SFAL_KL15">@Html.Raw(subAktivitasFormInputBLnSfalrtwList.RenderFieldHeader(subAktivitasFormInputBLnSfalrtwList.SFAL_KL15))</div></th>
} @* subAktivitasFormInputBLnSfalrtwList.SFAL_KL15.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwList.SFAL_Barrels.Visible) { // subAktivitasFormInputBLnSfalrtwList.SFAL_Barrels.Visible (begin)
        <th data-name="SFAL_Barrels" class="@(subAktivitasFormInputBLnSfalrtwList.SFAL_Barrels.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLnSFALRTW_SFAL_Barrels" class="SubAktivitasFormInputBLnSFALRTW_SFAL_Barrels">@Html.Raw(subAktivitasFormInputBLnSfalrtwList.RenderFieldHeader(subAktivitasFormInputBLnSfalrtwList.SFAL_Barrels))</div></th>
} @* subAktivitasFormInputBLnSfalrtwList.SFAL_Barrels.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwList.SFAL_LT.Visible) { // subAktivitasFormInputBLnSfalrtwList.SFAL_LT.Visible (begin)
        <th data-name="SFAL_LT" class="@(subAktivitasFormInputBLnSfalrtwList.SFAL_LT.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLnSFALRTW_SFAL_LT" class="SubAktivitasFormInputBLnSFALRTW_SFAL_LT">@Html.Raw(subAktivitasFormInputBLnSfalrtwList.RenderFieldHeader(subAktivitasFormInputBLnSfalrtwList.SFAL_LT))</div></th>
} @* subAktivitasFormInputBLnSfalrtwList.SFAL_LT.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwList.SFAL_MT.Visible) { // subAktivitasFormInputBLnSfalrtwList.SFAL_MT.Visible (begin)
        <th data-name="SFAL_MT" class="@(subAktivitasFormInputBLnSfalrtwList.SFAL_MT.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLnSFALRTW_SFAL_MT" class="SubAktivitasFormInputBLnSFALRTW_SFAL_MT">@Html.Raw(subAktivitasFormInputBLnSfalrtwList.RenderFieldHeader(subAktivitasFormInputBLnSfalrtwList.SFAL_MT))</div></th>
} @* subAktivitasFormInputBLnSfalrtwList.SFAL_MT.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwList.userInput.Visible) { // subAktivitasFormInputBLnSfalrtwList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasFormInputBLnSfalrtwList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLnSFALRTW_userInput" class="SubAktivitasFormInputBLnSFALRTW_userInput">@Html.Raw(subAktivitasFormInputBLnSfalrtwList.RenderFieldHeader(subAktivitasFormInputBLnSfalrtwList.userInput))</div></th>
} @* subAktivitasFormInputBLnSfalrtwList.userInput.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwList.etlDate.Visible) { // subAktivitasFormInputBLnSfalrtwList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasFormInputBLnSfalrtwList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLnSFALRTW_etlDate" class="SubAktivitasFormInputBLnSFALRTW_etlDate">@Html.Raw(subAktivitasFormInputBLnSfalrtwList.RenderFieldHeader(subAktivitasFormInputBLnSfalrtwList.etlDate))</div></th>
} @* subAktivitasFormInputBLnSfalrtwList.etlDate.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwList.idProses.Visible) { // subAktivitasFormInputBLnSfalrtwList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasFormInputBLnSfalrtwList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLnSFALRTW_idProses" class="SubAktivitasFormInputBLnSFALRTW_idProses">@Html.Raw(subAktivitasFormInputBLnSfalrtwList.RenderFieldHeader(subAktivitasFormInputBLnSfalrtwList.idProses))</div></th>
} @* subAktivitasFormInputBLnSfalrtwList.idProses.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwList.LastUpdatedBy.Visible) { // subAktivitasFormInputBLnSfalrtwList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasFormInputBLnSfalrtwList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLnSFALRTW_LastUpdatedBy" class="SubAktivitasFormInputBLnSFALRTW_LastUpdatedBy">@Html.Raw(subAktivitasFormInputBLnSfalrtwList.RenderFieldHeader(subAktivitasFormInputBLnSfalrtwList.LastUpdatedBy))</div></th>
} @* subAktivitasFormInputBLnSfalrtwList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwList.lastUpdatedDate.Visible) { // subAktivitasFormInputBLnSfalrtwList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasFormInputBLnSfalrtwList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLnSFALRTW_lastUpdatedDate" class="SubAktivitasFormInputBLnSFALRTW_lastUpdatedDate">@Html.Raw(subAktivitasFormInputBLnSfalrtwList.RenderFieldHeader(subAktivitasFormInputBLnSfalrtwList.lastUpdatedDate))</div></th>
} @* subAktivitasFormInputBLnSfalrtwList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwList.NoReferensi.Visible) { // subAktivitasFormInputBLnSfalrtwList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasFormInputBLnSfalrtwList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLnSFALRTW_NoReferensi" class="SubAktivitasFormInputBLnSFALRTW_NoReferensi">@Html.Raw(subAktivitasFormInputBLnSfalrtwList.RenderFieldHeader(subAktivitasFormInputBLnSfalrtwList.NoReferensi))</div></th>
} @* subAktivitasFormInputBLnSfalrtwList.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwList.StatusAktivitas.Visible) { // subAktivitasFormInputBLnSfalrtwList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasFormInputBLnSfalrtwList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputBLnSFALRTW_StatusAktivitas" class="SubAktivitasFormInputBLnSFALRTW_StatusAktivitas">@Html.Raw(subAktivitasFormInputBLnSfalrtwList.RenderFieldHeader(subAktivitasFormInputBLnSfalrtwList.StatusAktivitas))</div></th>
} @* subAktivitasFormInputBLnSfalrtwList.StatusAktivitas.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasFormInputBLnSfalrtwList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasFormInputBLnSfalrtwList.PageNumber)">
@{
    await subAktivitasFormInputBLnSfalrtwList.SetupGrid();
    bool eof = subAktivitasFormInputBLnSfalrtwList.Recordset == null; // DN
}
@while (subAktivitasFormInputBLnSfalrtwList.RecordCount < subAktivitasFormInputBLnSfalrtwList.StopRecord || SameString(subAktivitasFormInputBLnSfalrtwList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasFormInputBLnSfalrtwList.RowIndex, "$rowindex$") &&
        (!subAktivitasFormInputBLnSfalrtwList.IsGridAdd || subAktivitasFormInputBLnSfalrtwList.CurrentMode == "copy") &&
        (!((subAktivitasFormInputBLnSfalrtwList.IsCopy || subAktivitasFormInputBLnSfalrtwList.IsAdd) && subAktivitasFormInputBLnSfalrtwList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasFormInputBLnSfalrtwList.Recordset.ReadAsync();
    subAktivitasFormInputBLnSfalrtwList.RecordCount++;
    if (subAktivitasFormInputBLnSfalrtwList.RecordCount >= subAktivitasFormInputBLnSfalrtwList.StartRecord) {
        await subAktivitasFormInputBLnSfalrtwList.SetupRow();
    <tr @Html.Raw(subAktivitasFormInputBLnSfalrtwList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasFormInputBLnSfalrtwList.ListOptions.RenderBody("left", subAktivitasFormInputBLnSfalrtwList.RowCount)
    @if (subAktivitasFormInputBLnSfalrtwList.id.Visible) { // subAktivitasFormInputBLnSfalrtwList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasFormInputBLnSfalrtwList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputBLnSfalrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputBLnSfalrtwList.RowCount)_SubAktivitasFormInputBLnSFALRTW_id" class="el_SubAktivitasFormInputBLnSFALRTW_id">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwList.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLnSfalrtwList.id.Visible (end) *@
    @if (subAktivitasFormInputBLnSfalrtwList.idAktifitas.Visible) { // subAktivitasFormInputBLnSfalrtwList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputBLnSfalrtwList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputBLnSfalrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputBLnSfalrtwList.RowCount)_SubAktivitasFormInputBLnSFALRTW_idAktifitas" class="el_SubAktivitasFormInputBLnSFALRTW_idAktifitas">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLnSfalrtwList.idAktifitas.Visible (end) *@
    @if (subAktivitasFormInputBLnSfalrtwList.BL_KLObs.Visible) { // subAktivitasFormInputBLnSfalrtwList.BL_KLObs.Visible (begin)
        <td data-name="BL_KLObs" @Html.Raw(subAktivitasFormInputBLnSfalrtwList.BL_KLObs.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputBLnSfalrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputBLnSfalrtwList.RowCount)_SubAktivitasFormInputBLnSFALRTW_BL_KLObs" class="el_SubAktivitasFormInputBLnSFALRTW_BL_KLObs">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwList.BL_KLObs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwList.BL_KLObs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLnSfalrtwList.BL_KLObs.Visible (end) *@
    @if (subAktivitasFormInputBLnSfalrtwList.BL_KL15.Visible) { // subAktivitasFormInputBLnSfalrtwList.BL_KL15.Visible (begin)
        <td data-name="BL_KL15" @Html.Raw(subAktivitasFormInputBLnSfalrtwList.BL_KL15.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputBLnSfalrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputBLnSfalrtwList.RowCount)_SubAktivitasFormInputBLnSFALRTW_BL_KL15" class="el_SubAktivitasFormInputBLnSFALRTW_BL_KL15">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwList.BL_KL15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwList.BL_KL15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLnSfalrtwList.BL_KL15.Visible (end) *@
    @if (subAktivitasFormInputBLnSfalrtwList.BL_Barrels.Visible) { // subAktivitasFormInputBLnSfalrtwList.BL_Barrels.Visible (begin)
        <td data-name="BL_Barrels" @Html.Raw(subAktivitasFormInputBLnSfalrtwList.BL_Barrels.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputBLnSfalrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputBLnSfalrtwList.RowCount)_SubAktivitasFormInputBLnSFALRTW_BL_Barrels" class="el_SubAktivitasFormInputBLnSFALRTW_BL_Barrels">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwList.BL_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwList.BL_Barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLnSfalrtwList.BL_Barrels.Visible (end) *@
    @if (subAktivitasFormInputBLnSfalrtwList.BL_LT.Visible) { // subAktivitasFormInputBLnSfalrtwList.BL_LT.Visible (begin)
        <td data-name="BL_LT" @Html.Raw(subAktivitasFormInputBLnSfalrtwList.BL_LT.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputBLnSfalrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputBLnSfalrtwList.RowCount)_SubAktivitasFormInputBLnSFALRTW_BL_LT" class="el_SubAktivitasFormInputBLnSFALRTW_BL_LT">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwList.BL_LT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwList.BL_LT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLnSfalrtwList.BL_LT.Visible (end) *@
    @if (subAktivitasFormInputBLnSfalrtwList.BL_MT.Visible) { // subAktivitasFormInputBLnSfalrtwList.BL_MT.Visible (begin)
        <td data-name="BL_MT" @Html.Raw(subAktivitasFormInputBLnSfalrtwList.BL_MT.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputBLnSfalrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputBLnSfalrtwList.RowCount)_SubAktivitasFormInputBLnSFALRTW_BL_MT" class="el_SubAktivitasFormInputBLnSFALRTW_BL_MT">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwList.BL_MT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwList.BL_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLnSfalrtwList.BL_MT.Visible (end) *@
    @if (subAktivitasFormInputBLnSfalrtwList.SFAL_KLObs.Visible) { // subAktivitasFormInputBLnSfalrtwList.SFAL_KLObs.Visible (begin)
        <td data-name="SFAL_KLObs" @Html.Raw(subAktivitasFormInputBLnSfalrtwList.SFAL_KLObs.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputBLnSfalrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputBLnSfalrtwList.RowCount)_SubAktivitasFormInputBLnSFALRTW_SFAL_KLObs" class="el_SubAktivitasFormInputBLnSFALRTW_SFAL_KLObs">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwList.SFAL_KLObs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwList.SFAL_KLObs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLnSfalrtwList.SFAL_KLObs.Visible (end) *@
    @if (subAktivitasFormInputBLnSfalrtwList.SFAL_KL15.Visible) { // subAktivitasFormInputBLnSfalrtwList.SFAL_KL15.Visible (begin)
        <td data-name="SFAL_KL15" @Html.Raw(subAktivitasFormInputBLnSfalrtwList.SFAL_KL15.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputBLnSfalrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputBLnSfalrtwList.RowCount)_SubAktivitasFormInputBLnSFALRTW_SFAL_KL15" class="el_SubAktivitasFormInputBLnSFALRTW_SFAL_KL15">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwList.SFAL_KL15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwList.SFAL_KL15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLnSfalrtwList.SFAL_KL15.Visible (end) *@
    @if (subAktivitasFormInputBLnSfalrtwList.SFAL_Barrels.Visible) { // subAktivitasFormInputBLnSfalrtwList.SFAL_Barrels.Visible (begin)
        <td data-name="SFAL_Barrels" @Html.Raw(subAktivitasFormInputBLnSfalrtwList.SFAL_Barrels.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputBLnSfalrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputBLnSfalrtwList.RowCount)_SubAktivitasFormInputBLnSFALRTW_SFAL_Barrels" class="el_SubAktivitasFormInputBLnSFALRTW_SFAL_Barrels">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwList.SFAL_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwList.SFAL_Barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLnSfalrtwList.SFAL_Barrels.Visible (end) *@
    @if (subAktivitasFormInputBLnSfalrtwList.SFAL_LT.Visible) { // subAktivitasFormInputBLnSfalrtwList.SFAL_LT.Visible (begin)
        <td data-name="SFAL_LT" @Html.Raw(subAktivitasFormInputBLnSfalrtwList.SFAL_LT.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputBLnSfalrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputBLnSfalrtwList.RowCount)_SubAktivitasFormInputBLnSFALRTW_SFAL_LT" class="el_SubAktivitasFormInputBLnSFALRTW_SFAL_LT">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwList.SFAL_LT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwList.SFAL_LT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLnSfalrtwList.SFAL_LT.Visible (end) *@
    @if (subAktivitasFormInputBLnSfalrtwList.SFAL_MT.Visible) { // subAktivitasFormInputBLnSfalrtwList.SFAL_MT.Visible (begin)
        <td data-name="SFAL_MT" @Html.Raw(subAktivitasFormInputBLnSfalrtwList.SFAL_MT.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputBLnSfalrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputBLnSfalrtwList.RowCount)_SubAktivitasFormInputBLnSFALRTW_SFAL_MT" class="el_SubAktivitasFormInputBLnSFALRTW_SFAL_MT">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwList.SFAL_MT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwList.SFAL_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLnSfalrtwList.SFAL_MT.Visible (end) *@
    @if (subAktivitasFormInputBLnSfalrtwList.userInput.Visible) { // subAktivitasFormInputBLnSfalrtwList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputBLnSfalrtwList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputBLnSfalrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputBLnSfalrtwList.RowCount)_SubAktivitasFormInputBLnSFALRTW_userInput" class="el_SubAktivitasFormInputBLnSFALRTW_userInput">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLnSfalrtwList.userInput.Visible (end) *@
    @if (subAktivitasFormInputBLnSfalrtwList.etlDate.Visible) { // subAktivitasFormInputBLnSfalrtwList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputBLnSfalrtwList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputBLnSfalrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputBLnSfalrtwList.RowCount)_SubAktivitasFormInputBLnSFALRTW_etlDate" class="el_SubAktivitasFormInputBLnSFALRTW_etlDate">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLnSfalrtwList.etlDate.Visible (end) *@
    @if (subAktivitasFormInputBLnSfalrtwList.idProses.Visible) { // subAktivitasFormInputBLnSfalrtwList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputBLnSfalrtwList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputBLnSfalrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputBLnSfalrtwList.RowCount)_SubAktivitasFormInputBLnSFALRTW_idProses" class="el_SubAktivitasFormInputBLnSFALRTW_idProses">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLnSfalrtwList.idProses.Visible (end) *@
    @if (subAktivitasFormInputBLnSfalrtwList.LastUpdatedBy.Visible) { // subAktivitasFormInputBLnSfalrtwList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputBLnSfalrtwList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputBLnSfalrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputBLnSfalrtwList.RowCount)_SubAktivitasFormInputBLnSFALRTW_LastUpdatedBy" class="el_SubAktivitasFormInputBLnSFALRTW_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLnSfalrtwList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasFormInputBLnSfalrtwList.lastUpdatedDate.Visible) { // subAktivitasFormInputBLnSfalrtwList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputBLnSfalrtwList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputBLnSfalrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputBLnSfalrtwList.RowCount)_SubAktivitasFormInputBLnSFALRTW_lastUpdatedDate" class="el_SubAktivitasFormInputBLnSFALRTW_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLnSfalrtwList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasFormInputBLnSfalrtwList.NoReferensi.Visible) { // subAktivitasFormInputBLnSfalrtwList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputBLnSfalrtwList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputBLnSfalrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputBLnSfalrtwList.RowCount)_SubAktivitasFormInputBLnSFALRTW_NoReferensi" class="el_SubAktivitasFormInputBLnSFALRTW_NoReferensi">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLnSfalrtwList.NoReferensi.Visible (end) *@
    @if (subAktivitasFormInputBLnSfalrtwList.StatusAktivitas.Visible) { // subAktivitasFormInputBLnSfalrtwList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputBLnSfalrtwList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputBLnSfalrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputBLnSfalrtwList.RowCount)_SubAktivitasFormInputBLnSFALRTW_StatusAktivitas" class="el_SubAktivitasFormInputBLnSFALRTW_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputBLnSfalrtwList.StatusAktivitas.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasFormInputBLnSfalrtwList.ListOptions.RenderBody("right", subAktivitasFormInputBLnSfalrtwList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasFormInputBLnSfalrtwList.RowIndex, "$rowindex$"))
        subAktivitasFormInputBLnSfalrtwList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasFormInputBLnSfalrtwList.IsCopy || subAktivitasFormInputBLnSfalrtwList.IsAdd) && subAktivitasFormInputBLnSfalrtwList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasFormInputBLnSfalrtwList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasFormInputBLnSfalrtwList.CurrentAction) && !subAktivitasFormInputBLnSfalrtwList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasFormInputBLnSfalrtwList.CloseRecordset(); }
@if (!subAktivitasFormInputBLnSfalrtwList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasFormInputBLnSfalrtwList.IsGridAdd && !(subAktivitasFormInputBLnSfalrtwList.IsGridEdit && subAktivitasFormInputBLnSfalrtwList.ModalGridEdit) && !subAktivitasFormInputBLnSfalrtwList.IsMultiEdit) {
@Html.Raw(subAktivitasFormInputBLnSfalrtwList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasFormInputBLnSfalrtwList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasFormInputBLnSfalrtwList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasFormInputBLnSfalrtwList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasFormInputBLnSfalrtwList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputBLnSfalrtwList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputBLnSFALRTW");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
