@{
    // View
    View = this;

    // Check action result
    if (subAktivitasCatatanKhususEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasCatatanKhususEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasCatatanKhususEdit.ShowPageHeader()
@subAktivitasCatatanKhususEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasCatatanKhususedit" id="fSubAktivitasCatatanKhususedit" class="@(subAktivitasCatatanKhususEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasCatatanKhususEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasCatatanKhusus: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasCatatanKhususedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasCatatanKhususedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null], fields.idAktifitas.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["Kontaminasi", [fields.Kontaminasi.visible && fields.Kontaminasi.required ? ew.Validators.required(fields.Kontaminasi.caption) : null], fields.Kontaminasi.isInvalid],
            ["Insident", [fields.Insident.visible && fields.Insident.required ? ew.Validators.required(fields.Insident.caption) : null], fields.Insident.isInvalid],
            ["CuacaBuruk", [fields.CuacaBuruk.visible && fields.CuacaBuruk.required ? ew.Validators.required(fields.CuacaBuruk.caption) : null], fields.CuacaBuruk.isInvalid],
            ["Keterangan", [fields.Keterangan.visible && fields.Keterangan.required ? ew.Validators.required(fields.Keterangan.caption) : null], fields.Keterangan.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null], fields.lastUpdatedDate.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null], fields.StatusAktivitas.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "Kontaminasi": @Html.Raw(subAktivitasCatatanKhususEdit.Kontaminasi.ToClientList(subAktivitasCatatanKhususEdit)),
            "Insident": @Html.Raw(subAktivitasCatatanKhususEdit.Insident.ToClientList(subAktivitasCatatanKhususEdit)),
            "CuacaBuruk": @Html.Raw(subAktivitasCatatanKhususEdit.CuacaBuruk.ToClientList(subAktivitasCatatanKhususEdit)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasCatatanKhususEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasCatatanKhususEdit.OldKeyName)" value="@Html.Raw(subAktivitasCatatanKhususEdit.OldKey)">
<div class="ew-edit-div d-none"><!-- page* -->
@if (subAktivitasCatatanKhususEdit.idProses.Visible) { // subAktivitasCatatanKhususEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasCatatanKhususEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasCatatanKhusus_idProses" for="x_idProses" class="@(subAktivitasCatatanKhususEdit.LeftColumnClass)"><template id="tpc_SubAktivitasCatatanKhusus_idProses">@Html.Raw(subAktivitasCatatanKhususEdit.idProses.Caption)@Html.Raw(subAktivitasCatatanKhususEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasCatatanKhususEdit.RightColumnClass)"><div @Html.Raw(subAktivitasCatatanKhususEdit.idProses.CellAttributes)>
<template id="tpx_SubAktivitasCatatanKhusus_idProses"><span id="el_SubAktivitasCatatanKhusus_idProses">
<span @Html.Raw(subAktivitasCatatanKhususEdit.idProses.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasCatatanKhususEdit.idProses.DisplayValue(subAktivitasCatatanKhususEdit.idProses.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasCatatanKhusus" data-field="x_idProses" data-hidden="1" name="x_idProses" id="x_idProses" value="@Html.Raw(HtmlEncode(subAktivitasCatatanKhususEdit.idProses.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasCatatanKhususEdit.idProses.Visible (end) *@
@if (subAktivitasCatatanKhususEdit.idAktifitas.Visible) { // subAktivitasCatatanKhususEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasCatatanKhususEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasCatatanKhusus_idAktifitas" for="x_idAktifitas" class="@(subAktivitasCatatanKhususEdit.LeftColumnClass)"><template id="tpc_SubAktivitasCatatanKhusus_idAktifitas">@Html.Raw(subAktivitasCatatanKhususEdit.idAktifitas.Caption)@Html.Raw(subAktivitasCatatanKhususEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasCatatanKhususEdit.RightColumnClass)"><div @Html.Raw(subAktivitasCatatanKhususEdit.idAktifitas.CellAttributes)>
<template id="tpx_SubAktivitasCatatanKhusus_idAktifitas"><span id="el_SubAktivitasCatatanKhusus_idAktifitas">
<span @Html.Raw(subAktivitasCatatanKhususEdit.idAktifitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasCatatanKhususEdit.idAktifitas.DisplayValue(subAktivitasCatatanKhususEdit.idAktifitas.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasCatatanKhusus" data-field="x_idAktifitas" data-hidden="1" name="x_idAktifitas" id="x_idAktifitas" value="@Html.Raw(HtmlEncode(subAktivitasCatatanKhususEdit.idAktifitas.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasCatatanKhususEdit.idAktifitas.Visible (end) *@
@if (subAktivitasCatatanKhususEdit.NoReferensi.Visible) { // subAktivitasCatatanKhususEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasCatatanKhususEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasCatatanKhusus_NoReferensi" for="x_NoReferensi" class="@(subAktivitasCatatanKhususEdit.LeftColumnClass)"><template id="tpc_SubAktivitasCatatanKhusus_NoReferensi">@Html.Raw(subAktivitasCatatanKhususEdit.NoReferensi.Caption)@Html.Raw(subAktivitasCatatanKhususEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasCatatanKhususEdit.RightColumnClass)"><div @Html.Raw(subAktivitasCatatanKhususEdit.NoReferensi.CellAttributes)>
<template id="tpx_SubAktivitasCatatanKhusus_NoReferensi"><span id="el_SubAktivitasCatatanKhusus_NoReferensi">
<span @Html.Raw(subAktivitasCatatanKhususEdit.NoReferensi.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasCatatanKhususEdit.NoReferensi.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasCatatanKhusus" data-field="x_NoReferensi" data-hidden="1" name="x_NoReferensi" id="x_NoReferensi" value="@Html.Raw(HtmlEncode(subAktivitasCatatanKhususEdit.NoReferensi.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasCatatanKhususEdit.NoReferensi.Visible (end) *@
@if (subAktivitasCatatanKhususEdit.Kontaminasi.Visible) { // subAktivitasCatatanKhususEdit.Kontaminasi.Visible (begin)
    <div id="r_Kontaminasi" @Html.Raw(subAktivitasCatatanKhususEdit.Kontaminasi.RowAttributes)>
        <label id="elh_SubAktivitasCatatanKhusus_Kontaminasi" for="x_Kontaminasi" class="@(subAktivitasCatatanKhususEdit.LeftColumnClass)"><template id="tpc_SubAktivitasCatatanKhusus_Kontaminasi">@Html.Raw(subAktivitasCatatanKhususEdit.Kontaminasi.Caption)@Html.Raw(subAktivitasCatatanKhususEdit.Kontaminasi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasCatatanKhususEdit.RightColumnClass)"><div @Html.Raw(subAktivitasCatatanKhususEdit.Kontaminasi.CellAttributes)>
<template id="tpx_SubAktivitasCatatanKhusus_Kontaminasi"><span id="el_SubAktivitasCatatanKhusus_Kontaminasi">
    <select
        id="x_Kontaminasi"
        name="x_Kontaminasi"
        class="form-select ew-select@(subAktivitasCatatanKhususEdit.Kontaminasi.IsInvalidClass)"
        data-select2-id="fSubAktivitasCatatanKhususedit_x_Kontaminasi"
        data-table="SubAktivitasCatatanKhusus"
        data-field="x_Kontaminasi"
        data-value-separator="@(subAktivitasCatatanKhususEdit.Kontaminasi.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(subAktivitasCatatanKhususEdit.Kontaminasi.PlaceHolder))"
        @Html.Raw(subAktivitasCatatanKhususEdit.Kontaminasi.EditAttributes)>
        @(subAktivitasCatatanKhususEdit.Kontaminasi.SelectOptionListHtml("x_Kontaminasi"))
    </select>
    @Html.Raw(subAktivitasCatatanKhususEdit.Kontaminasi.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(subAktivitasCatatanKhususEdit.Kontaminasi.GetErrorMessage())</div>
<script>
loadjs.ready("fSubAktivitasCatatanKhususedit", function() {
    var options = { name: "x_Kontaminasi", selectId: "fSubAktivitasCatatanKhususedit_x_Kontaminasi" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fSubAktivitasCatatanKhususedit.lists.Kontaminasi?.lookupOptions.length) {
        options.data = { id: "x_Kontaminasi", form: "fSubAktivitasCatatanKhususedit" };
    } else {
        options.ajax = { id: "x_Kontaminasi", form: "fSubAktivitasCatatanKhususedit", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.SubAktivitasCatatanKhusus.fields.Kontaminasi.selectOptions);
    ew.createSelect(options);
});
</script>
</span></template>
</div></div>
    </div>
} @* subAktivitasCatatanKhususEdit.Kontaminasi.Visible (end) *@
@if (subAktivitasCatatanKhususEdit.Insident.Visible) { // subAktivitasCatatanKhususEdit.Insident.Visible (begin)
    <div id="r_Insident" @Html.Raw(subAktivitasCatatanKhususEdit.Insident.RowAttributes)>
        <label id="elh_SubAktivitasCatatanKhusus_Insident" for="x_Insident" class="@(subAktivitasCatatanKhususEdit.LeftColumnClass)"><template id="tpc_SubAktivitasCatatanKhusus_Insident">@Html.Raw(subAktivitasCatatanKhususEdit.Insident.Caption)@Html.Raw(subAktivitasCatatanKhususEdit.Insident.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasCatatanKhususEdit.RightColumnClass)"><div @Html.Raw(subAktivitasCatatanKhususEdit.Insident.CellAttributes)>
<template id="tpx_SubAktivitasCatatanKhusus_Insident"><span id="el_SubAktivitasCatatanKhusus_Insident">
    <select
        id="x_Insident"
        name="x_Insident"
        class="form-select ew-select@(subAktivitasCatatanKhususEdit.Insident.IsInvalidClass)"
        data-select2-id="fSubAktivitasCatatanKhususedit_x_Insident"
        data-table="SubAktivitasCatatanKhusus"
        data-field="x_Insident"
        data-value-separator="@(subAktivitasCatatanKhususEdit.Insident.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(subAktivitasCatatanKhususEdit.Insident.PlaceHolder))"
        @Html.Raw(subAktivitasCatatanKhususEdit.Insident.EditAttributes)>
        @(subAktivitasCatatanKhususEdit.Insident.SelectOptionListHtml("x_Insident"))
    </select>
    @Html.Raw(subAktivitasCatatanKhususEdit.Insident.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(subAktivitasCatatanKhususEdit.Insident.GetErrorMessage())</div>
<script>
loadjs.ready("fSubAktivitasCatatanKhususedit", function() {
    var options = { name: "x_Insident", selectId: "fSubAktivitasCatatanKhususedit_x_Insident" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fSubAktivitasCatatanKhususedit.lists.Insident?.lookupOptions.length) {
        options.data = { id: "x_Insident", form: "fSubAktivitasCatatanKhususedit" };
    } else {
        options.ajax = { id: "x_Insident", form: "fSubAktivitasCatatanKhususedit", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.SubAktivitasCatatanKhusus.fields.Insident.selectOptions);
    ew.createSelect(options);
});
</script>
</span></template>
</div></div>
    </div>
} @* subAktivitasCatatanKhususEdit.Insident.Visible (end) *@
@if (subAktivitasCatatanKhususEdit.CuacaBuruk.Visible) { // subAktivitasCatatanKhususEdit.CuacaBuruk.Visible (begin)
    <div id="r_CuacaBuruk" @Html.Raw(subAktivitasCatatanKhususEdit.CuacaBuruk.RowAttributes)>
        <label id="elh_SubAktivitasCatatanKhusus_CuacaBuruk" for="x_CuacaBuruk" class="@(subAktivitasCatatanKhususEdit.LeftColumnClass)"><template id="tpc_SubAktivitasCatatanKhusus_CuacaBuruk">@Html.Raw(subAktivitasCatatanKhususEdit.CuacaBuruk.Caption)@Html.Raw(subAktivitasCatatanKhususEdit.CuacaBuruk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasCatatanKhususEdit.RightColumnClass)"><div @Html.Raw(subAktivitasCatatanKhususEdit.CuacaBuruk.CellAttributes)>
<template id="tpx_SubAktivitasCatatanKhusus_CuacaBuruk"><span id="el_SubAktivitasCatatanKhusus_CuacaBuruk">
    <select
        id="x_CuacaBuruk"
        name="x_CuacaBuruk"
        class="form-select ew-select@(subAktivitasCatatanKhususEdit.CuacaBuruk.IsInvalidClass)"
        data-select2-id="fSubAktivitasCatatanKhususedit_x_CuacaBuruk"
        data-table="SubAktivitasCatatanKhusus"
        data-field="x_CuacaBuruk"
        data-value-separator="@(subAktivitasCatatanKhususEdit.CuacaBuruk.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(subAktivitasCatatanKhususEdit.CuacaBuruk.PlaceHolder))"
        @Html.Raw(subAktivitasCatatanKhususEdit.CuacaBuruk.EditAttributes)>
        @(subAktivitasCatatanKhususEdit.CuacaBuruk.SelectOptionListHtml("x_CuacaBuruk"))
    </select>
    @Html.Raw(subAktivitasCatatanKhususEdit.CuacaBuruk.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(subAktivitasCatatanKhususEdit.CuacaBuruk.GetErrorMessage())</div>
<script>
loadjs.ready("fSubAktivitasCatatanKhususedit", function() {
    var options = { name: "x_CuacaBuruk", selectId: "fSubAktivitasCatatanKhususedit_x_CuacaBuruk" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fSubAktivitasCatatanKhususedit.lists.CuacaBuruk?.lookupOptions.length) {
        options.data = { id: "x_CuacaBuruk", form: "fSubAktivitasCatatanKhususedit" };
    } else {
        options.ajax = { id: "x_CuacaBuruk", form: "fSubAktivitasCatatanKhususedit", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.SubAktivitasCatatanKhusus.fields.CuacaBuruk.selectOptions);
    ew.createSelect(options);
});
</script>
</span></template>
</div></div>
    </div>
} @* subAktivitasCatatanKhususEdit.CuacaBuruk.Visible (end) *@
@if (subAktivitasCatatanKhususEdit.Keterangan.Visible) { // subAktivitasCatatanKhususEdit.Keterangan.Visible (begin)
    <div id="r_Keterangan" @Html.Raw(subAktivitasCatatanKhususEdit.Keterangan.RowAttributes)>
        <label id="elh_SubAktivitasCatatanKhusus_Keterangan" for="x_Keterangan" class="@(subAktivitasCatatanKhususEdit.LeftColumnClass)"><template id="tpc_SubAktivitasCatatanKhusus_Keterangan">@Html.Raw(subAktivitasCatatanKhususEdit.Keterangan.Caption)@Html.Raw(subAktivitasCatatanKhususEdit.Keterangan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasCatatanKhususEdit.RightColumnClass)"><div @Html.Raw(subAktivitasCatatanKhususEdit.Keterangan.CellAttributes)>
<template id="tpx_SubAktivitasCatatanKhusus_Keterangan"><span id="el_SubAktivitasCatatanKhusus_Keterangan">
<textarea data-table="SubAktivitasCatatanKhusus" data-field="x_Keterangan" name="x_Keterangan" id="x_Keterangan" cols="35" rows="4" placeholder="@Html.Raw(HtmlEncode(subAktivitasCatatanKhususEdit.Keterangan.PlaceHolder))"@Html.Raw(subAktivitasCatatanKhususEdit.Keterangan.EditAttributes) aria-describedby="x_Keterangan_help">@(subAktivitasCatatanKhususEdit.Keterangan.EditValue)</textarea>
@Html.Raw(subAktivitasCatatanKhususEdit.Keterangan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasCatatanKhususEdit.Keterangan.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasCatatanKhususEdit.Keterangan.Visible (end) *@
@if (subAktivitasCatatanKhususEdit.LastUpdatedBy.Visible) { // subAktivitasCatatanKhususEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasCatatanKhususEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasCatatanKhusus_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasCatatanKhususEdit.LeftColumnClass)"><template id="tpc_SubAktivitasCatatanKhusus_LastUpdatedBy">@Html.Raw(subAktivitasCatatanKhususEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasCatatanKhususEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasCatatanKhususEdit.RightColumnClass)"><div @Html.Raw(subAktivitasCatatanKhususEdit.LastUpdatedBy.CellAttributes)>
<template id="tpx_SubAktivitasCatatanKhusus_LastUpdatedBy"><span id="el_SubAktivitasCatatanKhusus_LastUpdatedBy">
<span @Html.Raw(subAktivitasCatatanKhususEdit.LastUpdatedBy.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasCatatanKhususEdit.LastUpdatedBy.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasCatatanKhusus" data-field="x_LastUpdatedBy" data-hidden="1" name="x_LastUpdatedBy" id="x_LastUpdatedBy" value="@Html.Raw(HtmlEncode(subAktivitasCatatanKhususEdit.LastUpdatedBy.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasCatatanKhususEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasCatatanKhususEdit.lastUpdatedDate.Visible) { // subAktivitasCatatanKhususEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasCatatanKhususEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasCatatanKhusus_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasCatatanKhususEdit.LeftColumnClass)"><template id="tpc_SubAktivitasCatatanKhusus_lastUpdatedDate">@Html.Raw(subAktivitasCatatanKhususEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasCatatanKhususEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasCatatanKhususEdit.RightColumnClass)"><div @Html.Raw(subAktivitasCatatanKhususEdit.lastUpdatedDate.CellAttributes)>
<template id="tpx_SubAktivitasCatatanKhusus_lastUpdatedDate"><span id="el_SubAktivitasCatatanKhusus_lastUpdatedDate">
<span @Html.Raw(subAktivitasCatatanKhususEdit.lastUpdatedDate.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasCatatanKhususEdit.lastUpdatedDate.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasCatatanKhusus" data-field="x_lastUpdatedDate" data-hidden="1" name="x_lastUpdatedDate" id="x_lastUpdatedDate" value="@Html.Raw(HtmlEncode(subAktivitasCatatanKhususEdit.lastUpdatedDate.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasCatatanKhususEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasCatatanKhususEdit.StatusAktivitas.Visible) { // subAktivitasCatatanKhususEdit.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subAktivitasCatatanKhususEdit.StatusAktivitas.RowAttributes)>
        <label id="elh_SubAktivitasCatatanKhusus_StatusAktivitas" class="@(subAktivitasCatatanKhususEdit.LeftColumnClass)"><template id="tpc_SubAktivitasCatatanKhusus_StatusAktivitas">@Html.Raw(subAktivitasCatatanKhususEdit.StatusAktivitas.Caption)@Html.Raw(subAktivitasCatatanKhususEdit.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasCatatanKhususEdit.RightColumnClass)"><div @Html.Raw(subAktivitasCatatanKhususEdit.StatusAktivitas.CellAttributes)>
<template id="tpx_SubAktivitasCatatanKhusus_StatusAktivitas"><span id="el_SubAktivitasCatatanKhusus_StatusAktivitas">
<span @Html.Raw(subAktivitasCatatanKhususEdit.StatusAktivitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasCatatanKhususEdit.StatusAktivitas.DisplayValue(subAktivitasCatatanKhususEdit.StatusAktivitas.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasCatatanKhusus" data-field="x_StatusAktivitas" data-hidden="1" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@Html.Raw(HtmlEncode(subAktivitasCatatanKhususEdit.StatusAktivitas.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasCatatanKhususEdit.StatusAktivitas.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="SubAktivitasCatatanKhusus" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasCatatanKhususEdit.id.CurrentValue))">
<div id="tpd_SubAktivitasCatatanKhususedit" class="ew-custom-template"></div>
<template id="tpm_SubAktivitasCatatanKhususedit">
<div id="ct_subAktivitasCatatanKhususEdit"><style>
    .stepper {
        display: flex;
        counter-reset: step;
        flex-wrap: nowrap;        /* jangan pecah ke bawah */
        overflow-x: auto;         /* scroll horizontal */
        -webkit-overflow-scrolling: touch; /* smooth scroll di mobile */
        padding-bottom: 8px;      /* space biar scroll bar gak nempel */
    }
    .stepper::-webkit-scrollbar {
    height: 6px; /* tipis */
    }
    .stepper::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 3px;
    }
    .step {
        width: 150px;
        text-align: center;
        position: relative;
    }
    .step:not(:last-child)::after {
        content: '';
        position: absolute;
        top: 20px;
        right: -50%;
        width: 100%;
        height: 4px;
        background-color: #ccc;
        z-index: 0;
    }
    .step.completed:not(:last-child)::after {
        background-color: #3c6dbd;
    }
    .step-icon {
        width: 36px;
        height: 36px;
        line-height: 36px;
        border-radius: 50%;
        background: #ccc;
        display: inline-block;
        z-index: 1;
        position: relative;
        color: white;
        font-weight: bold;
    }
    .step.active .step-icon {
        background: #3c6dbd;
    }
    .step-label {
        margin-top: 8px;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        color: #333;
    }
    .step-label {
        color: #3c6dbd !important;
        text-decoration: none;
        margin: 0;
        padding: 0;
    }
    .step-label-not-active {
        color: #CCCCCC !important;
    }
    .step.completed .step-icon { background:#3c6dbd; }
    .step.active .step-icon { background: #198754; }
    .ag-theme-quartz .ag-header {
        background-color: #3c6dbd !important;
    }
    .ag-theme-quartz .ag-header-cell-label {
        color: #ffffff !important;
    }
    .ag-theme-quartz .ag-icon-filter {
        color: #ffffff !important;
    }
    .rotate-down {
        transform: rotate(90deg);
        transition: transform 0.3s ease;
    }
    .rotate-right {
        transform: rotate(0deg);
        transition: transform 0.3s ease;
    }
    #log-table-wrapper{
        overflow: hidden;
        max-height: 0;
        transition: max-height 600ms ease;
    }
</style>
<div class="modal fade" id="confirmReverseStatusEditingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header bg-primary">
        <h1 class="modal-title fs-5" id="confirmReverseStatusEditingModalTitle">Konfirmasi Kembalikan Status</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="reverseStatusEditingModalForm">
        <div class="modal-body px-2 py-1">
            <div class="mb-3">
                <label for="message-text" class="col-form-label">Catatan:</label>
                <textarea class="form-control" id="catatanReverseStatusEditing" required rows="4"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnReverseStatusEditingModalCancel">Batal</button>
            <button type="submit" class="btn btn-primary" id="btnReverseStatusEditingModalSubmit">Lanjutkan</button>
        </div>
        </form>
    </div>
    </div>
</div>
<div id="step-wrapper" class="d-flex border-bottom border-2 pb-2">
    <div class="stepper"></div>
</div>
<div id="r_idAktifitas" class="row">
    <label for="x_idAktifitas" class="col-sm-2 col-form-label">@Html.Raw(subAktivitasCatatanKhususEdit.idAktifitas.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_SubAktivitasCatatanKhusus_idAktifitas"></slot></div>
</div>
<div id="r_idProses" class="row">
    <label for="x_idProses" class="col-sm-2 col-form-label">@Html.Raw(subAktivitasCatatanKhususEdit.idProses.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_SubAktivitasCatatanKhusus_idProses"></slot></div>
</div>
<div id="r_NoReferensi" class="row">
    <label for="x_NoReferensi" class="col-sm-2 col-form-label">@Html.Raw(subAktivitasCatatanKhususEdit.NoReferensi.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_SubAktivitasCatatanKhusus_NoReferensi"></slot></div>
</div>
<div id="r_StatusAktivitas" class="row">
    <label for="x_StatusAktivitas" class="col-sm-2 col-form-label">@Html.Raw(subAktivitasCatatanKhususEdit.StatusAktivitas.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_SubAktivitasCatatanKhusus_StatusAktivitas"></slot></div>
</div>
<div id="r_LastUpdatedBy" class="row">
    <label for="x_LastUpdatedBy" class="col-sm-2 col-form-label">@Html.Raw(subAktivitasCatatanKhususEdit.LastUpdatedBy.Caption)</label>
    <div class="col-sm-10 d-flex gap-3 align-items-center">
        <slot class="ew-slot" name="tpx_SubAktivitasCatatanKhusus_LastUpdatedBy"></slot>
        <button id="btn-log-history" type="button" class="btn btn-primary ew-btn ps-2" expand-log="false">
            <i class="fa-solid fa-caret-right fa-2xl me-2 caret-icon rotate-right"></i>
            Log History
            <i class="fa-solid fa-clock-rotate-left ms-1"></i>
        </button>
    </div>
</div>
<div id="log-table-row" class="row m-0">
    <div class="p-0 col-2"></div>
    <div class="p-0 col-10">
        <div id="log-table-wrapper">
            <div id="myGrid" class="ag-theme-quartz w-100 my-3" style="height: 300px;"></div>
        </div>
    </div>
</div>
<div id="r_lastUpdatedDate" class="row">
    <label for="x_lastUpdatedDate" class="col-sm-2 col-form-label">@Html.Raw(subAktivitasCatatanKhususEdit.lastUpdatedDate.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_SubAktivitasCatatanKhusus_lastUpdatedDate"></slot></div>
</div>
<div id="r_Kontaminasi" class="row">
    <label for="x_Kontaminasi" class="col-sm-2 col-form-label">@Html.Raw(subAktivitasCatatanKhususEdit.Kontaminasi.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_SubAktivitasCatatanKhusus_Kontaminasi"></slot></div>
</div>
<div id="r_Insident" class="row">
    <label for="x_Insident" class="col-sm-2 col-form-label">@Html.Raw(subAktivitasCatatanKhususEdit.Insident.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_SubAktivitasCatatanKhusus_Insident"></slot></div>
</div>
<div id="r_CuacaBuruk" class="row">
    <label for="x_CuacaBuruk" class="col-sm-2 col-form-label">@Html.Raw(subAktivitasCatatanKhususEdit.CuacaBuruk.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_SubAktivitasCatatanKhusus_CuacaBuruk"></slot></div>
</div>
<div id="r_Keterangan" class="row">
    <label for="x_Keterangan" class="col-sm-2 col-form-label">@Html.Raw(subAktivitasCatatanKhususEdit.Keterangan.Caption)</label>
    <div class="col-sm-10"><slot class="ew-slot" name="tpx_SubAktivitasCatatanKhusus_Keterangan"></slot></div>
</div></div>
</template>
@{ subAktivitasCatatanKhususEdit.CloseRecordset(); }
@Html.Raw(subAktivitasCatatanKhususEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasCatatanKhususEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasCatatanKhususedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasCatatanKhususedit" data-href="@AppPath(subAktivitasCatatanKhususEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasCatatanKhususEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
<script class="ew-apply-template">
loadjs.ready(ew.applyTemplateId, function() {
    var $ = jQuery;
    ew.templateData = { rows: @Html.Raw(ConvertToJson(subAktivitasCatatanKhususEdit.Rows)) };
    ew.applyTemplate("tpd_SubAktivitasCatatanKhususedit", "tpm_SubAktivitasCatatanKhususedit", "SubAktivitasCatatanKhususedit", "@(subAktivitasCatatanKhususEdit.Export)", "SubAktivitasCatatanKhusus", ew.templateData.rows[0], @(subAktivitasCatatanKhususEdit.IsModal ? "true" : "false"));
    loadjs.done("customtemplate");
});
</script>
</main>
@subAktivitasCatatanKhususEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasCatatanKhusus");
});
</script>
<script>
loadjs.ready("load", function() {
    // Startup script
    // Write your table-specific startup script here
    // document.write("page loaded");
    const parentUrl = (ew?.PATH_BASE || "").replace(/\/?$/, "/");
    const $stepper = $("#step-wrapper .stepper");
    if (!$stepper.length) return;
    const idProses = "@subAktivitasCatatanKhususEdit.idProses.CurrentValue";
    const idAktivitas = "@subAktivitasCatatanKhususEdit.idAktifitas.CurrentValue";
    const idReferensi = "@subAktivitasCatatanKhususEdit.NoReferensi.CurrentValue";
    const namaAktivitas = $("#el_SubAktivitasCatatanKhusus_idAktifitas").text().trim() || "Aktivitas";
    const userLevel = "@CurrentUserLevel()";
    const currentStep = 4;
    const escHtml = (s) =>
    	String(s ?? "").replace(
    		/[&<>"']/g,
    		(c) =>
    			({
    				"&": "&amp;",
    				"<": "&lt;",
    				">": "&gt;",
    				'"': "&quot;",
    				"'": "&#39;",
    			})[c],
    	);
    const qs = (v) => encodeURIComponent(String(v ?? ""));
    const isValidId = (v) => {
    	const s = String(v ?? "").trim();
    	return s !== "" && s !== "0";
    };
    const safeShowLoading = () => (typeof showLoading === "function" ? showLoading() : null);
    const safeHideLoading = () => (typeof hideLoading === "function" ? hideLoading() : null);
    const alertError = (xhr, fallbackMsg) => {
    	const msg = xhr?.responseJSON?.message || xhr?.responseJSON?.Message || fallbackMsg || "Terjadi kesalahan";
    	ew.alert(msg);
    };
    const steps = [
    	{
    		number: 1,
    		label: "Penerimaan",
    		url: `${parentUrl}PenerimaanList`,
    		icon: "fa-box-open",
    	},
    	{
    		number: 2,
    		label: "Proses",
    		url: `${parentUrl}ProsesList?cmd=search&x_IdReferensi%5B%5D=${qs(idReferensi)}&search=&searchtype=`,
    		icon: "fa-gears",
    	},
    	{
    		number: 3,
    		label: "Aktivitas",
    		url: `${parentUrl}AktivitasList?cmd=search&x_IdProses%5B%5D=${qs(idProses)}&search=&searchtype=`,
    		icon: "fa-list-check",
    	},
    	{ number: 4, label: namaAktivitas, url: "", icon: "fa-file-circle-check" },
    ];
    const renderStep = (step) => {
    	const isActive = step.number === currentStep;
    	const isComplete = step.number < currentStep;
    	const stepClass = isActive ? "active" : isComplete ? "completed" : "";
    	const icon = `<div class="step-icon">${step.number}</div>`;
    	const labelHtml = isActive
    		? `<p class="text-success mb-1"><i class="fa-solid ${step.icon} me-1 text-success"></i> ${escHtml(step.label)}</p>`
    		: isComplete
    			? `<a href="${step.url}" class="text-primary"><i class="fa-solid ${step.icon} me-1"></i>${escHtml(step.label)}</a>`
    			: `<p class="m-0"><i class="fa-solid ${step.icon} me-1"></i>${escHtml(step.label)}</p>`;
    	const labelWrapClass = isActive || isComplete ? "step-label" : "step-label-not-active";
    	return `<div class="step ${stepClass}">${icon}<div class="${labelWrapClass}">${labelHtml}</div></div>`;
    };
    $stepper.empty();
    steps.forEach((s) => $stepper.append(renderStep(s)));
    $(".content-header .container-fluid .row").append($("#step-wrapper"));
    $("#btn-log-history").on("click", function () {
    	const $btn = $(this);
    	const expanded = $btn.attr("expand-log") === "true";
    	const $row = $("#log-table-row");
    	const $wrapper = $("#log-table-wrapper");
    	const $caret = $btn.find(".caret-icon");
    	$btn.attr("expand-log", expanded ? "false" : "true");
    	$caret.toggleClass("rotate-down", !expanded).toggleClass("rotate-right", expanded);
    	if (!expanded) {
    		$row.removeClass("d-none");
    		setTimeout(() => $wrapper.css({ maxHeight: "500px" }), 10);
    	} else {
    		$wrapper.css({ maxHeight: "0" });
    		setTimeout(() => $row.addClass("d-none"), 600);
    	}
    });
    $("#btn-action").hide();
    $("#btn-cancel").html('<i class="fa-solid fa-ban"></i> Cancel');
    const $cancelBtn = $("#btn-cancel");
    const insertButtonsByStatus = (status) => {
    	if (!$cancelBtn.length) return;
    	const btn = (id, cls, icon, text) => `
            		<button type="button" class="btn ${cls} ew-btn me-2" id="${id}">
            			<i class="${icon}"></i> ${text}
            		</button>`;
    	const map = {
    		Waiting: () => btn("btn-draft", "btn-primary", "fas fa-save", "Save"),
    		Draft: () => btn("btn-draft", "btn-primary", "fas fa-save", "Save") + btn("btn-completed", "btn-success", "fas fa-paper-plane", "Submit"),
    		Completed: () => btn("btn-editing", "btn-primary", "fa-solid fa-pen-to-square", "Edit") + btn("btn-completedEdit", "btn-success", "fas fa-paper-plane", "Submit"),
    		Editing: () => btn("btn-editing", "btn-primary", "fa-solid fa-pen-to-square", "Edit") + btn("btn-completedEdit", "btn-success", "fas fa-paper-plane", "Submit"),
    		"Completed Edit": () => {
    			if (userLevel === "4") {
    				return btn("btn-reverse-status", "btn-warning", "fa-solid fa-pen-to-square", "Edit");
    			}
    			return "";
    		},
    	};
    	const html = map[status]?.() || "";
    	if (html) $cancelBtn.before(html);
    };
    const $form = $("#fSubAktivitasCatatanKhususedit");
    const $formInputs = $form.find("input, select, textarea").filter(function () {
    	const type = (this.getAttribute("type") || "").toLowerCase();
    	return type !== "hidden";
    });
    const setDisabled = ($els, disabled) => $els.prop("disabled", !!disabled);
    const $editableInputs = $formInputs.filter('[data-can-edit="1"]');
    const $alwaysDisabled = $formInputs.filter('[data-keep-disabled="1"]');
    const $reverseNote = $("#catatanReverseStatusEditing");
    const lockForm = () => {
    	setDisabled($formInputs, true);
    	setDisabled($reverseNote, false);
    	$("#btn-draft, #btn-editing, #btn-completed, #btn-completedEdit").hide();
    };
    const unlockForm = () => {
    	if ($editableInputs.length) setDisabled($editableInputs, false);
    	else setDisabled($formInputs, false);
    	if ($alwaysDisabled.length) setDisabled($alwaysDisabled, true);
    	setDisabled($reverseNote, true);
    	$("#btn-draft, #btn-editing, #btn-completed, #btn-completedEdit").show();
    };
    const applyEditableState = (response) => {
    	const status = (response?.StatusAktivitas || "").trim();
    	const isEditable = !!response?.IsEditable;
    	if (!isEditable || status === "Completed Edit") {
    		lockForm();
    		return;
    	}
    	unlockForm();
    };
    const renderLogGrid = (logRows) => {
    	const $grid = $("#myGrid");
    	if (!$grid.length) return;
    	const rowData = (logRows ?? []).map((x) => ({
    		Aktivitas: x.Aktivitas,
    		Username: x.UserName,
    		StatusAktivitas: x.StatusAktivitas,
    		Tanggal: x.Tanggal,
    		Catatan: x.Catatan,
    	}));
    	const initGrid = () => {
    		const gridOptions = {
    			rowData,
    			columnDefs: [
    				{
    					headerName: "No.",
    					valueGetter: "node.rowIndex + 1",
    					width: 80,
    					filter: false,
    				},
    				{ headerName: "Aktivitas", field: "Aktivitas", flex: 1 },
    				{ headerName: "Username", field: "Username", flex: 1 },
    				{
    					headerName: "Status Aktivitas",
    					field: "StatusAktivitas",
    					flex: 1,
    				},
    				{ headerName: "Tanggal", field: "Tanggal", flex: 1 },
    				{ headerName: "Catatan", field: "Catatan", flex: 1 },
    			],
    			defaultColDef: {
    				sortable: false,
    				suppressMovable: true,
    				filter: true,
    				resizable: false,
    			},
    			pagination: true,
    			paginationPageSizeSelector: [10, 20, 50, 100],
    			paginationPageSize: 10,
    		};
    		window.agGrid?.createGrid?.($grid[0], gridOptions);
    	};
    	if (window.agGrid?.createGrid) return initGrid();
    	$.getScript("https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js")
    		.done(initGrid)
    		.fail(() => console.warn("Gagal load ag-grid"));
    };
    const disableAll = () => {
    	$("#btn-log-history").hide();
    	$("#btn-draft, #btn-editing, #btn-completed, #btn-completedEdit").hide();
    	setDisabled($formInputs, true);
    };
    const loadStartup = () => {
    	$.ajax({
    		url: `${parentUrl}api/LookUpList/sub-aktivitas/startup?idAktivitas=${qs(idAktivitas)}`,
    		method: "GET",
    		success: (response) => {
    			insertButtonsByStatus(response?.StatusAktivitas);
    			applyEditableState(response);
    			renderLogGrid(response?.LogAktivitas);
    		},
    		error: (xhr) => alertError(xhr, "Terjadi kesalahan dalam memuat data"),
    	});
    };
    if (!isValidId(idAktivitas)) disableAll();
    else loadStartup();
    const getOriginStatus = () => {
    	const el = document.querySelector("#el_SubAktivitasCatatanKhusus_StatusAktivitas .form-control-plaintext");
    	return (el?.textContent || "").trim();
    };
    const saveFormAjax = () => {
    	return $.ajax({
    		url: $form.attr("action"),
    		method: $form.attr("method"),
    		data: $form.serialize(),
    	});
    };
    const redirectToAktivitasList = () => {
    	window.location.href = `${parentUrl}AktivitasList?cmd=search&x_IdProses%5B%5D=${qs(idProses)}&search=&searchtype=`;
    };
    const updateStatus = (status) =>
    	$.ajax({
    		url: `${parentUrl}api/LookUpList/update_status_aktivitas?idAktivitas=${qs(idAktivitas)}&statusAktivitas=${qs(status)}`,
    		method: "POST",
    	});
    const validateStatus = () => {
    	const originStatus = getOriginStatus();
    	return $.ajax({
    		url: `${parentUrl}api/LookUpList/check_valid_status_aktivitas?idAktivitas=${qs(idAktivitas)}&originalStatus=${qs(originStatus)}`,
    		method: "GET",
    	});
    };
    const handleCustomSubmit = (targetStatus) => {
    	safeShowLoading();
    	validateStatus()
    		.done((res) => {
    			if (!res?.IsValid) {
    				safeHideLoading();
    				return ew.alert(res?.Message ?? "Status aktivitas telah diubah oleh pengguna lain");
    			}
    			saveFormAjax()
    				.done(() => {
    					updateStatus(targetStatus)
    						.done(() => {
    							if (targetStatus === "Completed" || targetStatus === "Completed Edit") {
    								redirectToAktivitasList();
    							} else {
    								location.reload();
    							}
    						})
    						.fail((xhr) => alertError(xhr, "Status gagal diperbarui."))
    						.always(safeHideLoading);
    				})
    				.fail((xhr) => {
    					safeHideLoading();
    					alertError(xhr, "Gagal menyimpan data.");
    				});
    		})
    		.fail((xhr) => {
    			safeHideLoading();
    			alertError(xhr, "Terjadi kesalahan dalam memuat data");
    		});
    };
    const reverseStatus = (status, catatan) => {
    	safeShowLoading();
    	const payload = {
    		IdAktivitas: $("#x_idAktifitas").val(),
    		StatusAktivitas: status,
    		Catatan: catatan ?? null,
    	};
    	$.ajax({
    		url: `${parentUrl}api/LookUpList/update_status_aktivitas-v2`,
    		method: "POST",
    		data: JSON.stringify(payload),
    		contentType: "application/json",
    		dataType: "json",
    	})
    		.done(() => {
    			$.ajax({
    				url: `${parentUrl}api/LookUpList/generate_etc`,
    				method: "POST",
    				data: JSON.stringify({ NoReferensi: idReferensi }),
    				contentType: "application/json",
    				dataType: "json",
    			})
    				.done(() => setTimeout(redirectToAktivitasList, 600))
    				.fail((xhr) => alertError(xhr, "Gagal generate ETC."));
    		})
    		.fail((xhr) => alertError(xhr, "Perubahan gagal disimpan."))
    		.always(safeHideLoading);
    };
    $("#btnReverseStatusEditingModalCancel").on("click", (e) => {
    	e.preventDefault();
    	$("#confirmReverseStatusEditingModal").modal("hide");
    });
    $(document).on("click", "#btn-reverse-status", () => {
    	$("#confirmReverseStatusEditingModal").modal("show");
    });
    $(document).on("click", "#btn-draft", () => handleCustomSubmit("Draft"));
    $(document).on("click", "#btn-completed", () => handleCustomSubmit("Completed"));
    $(document).on("click", "#btn-editing", () => handleCustomSubmit("Editing"));
    $(document).on("click", "#btn-completedEdit", () => handleCustomSubmit("Completed Edit"));
    $(document).on("submit", "#reverseStatusEditingModalForm", (e) => {
    	e.preventDefault();
    	const catatanText = $("#catatanReverseStatusEditing").val();
    	reverseStatus("Editing", catatanText);
    });
});
</script>
