@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputFlowrateRtwList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputFlowrateRtwList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputFlowrateRtwList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputFlowrateRtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputFlowrateRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasFormInputFlowrateRtwList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasFormInputFlowrateRtwList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasFormInputFlowrateRtwList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasFormInputFlowrateRtwList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasFormInputFlowrateRtwList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasFormInputFlowrateRtwList.TotalRecords > 0 && subAktivitasFormInputFlowrateRtwList.ExportOptions.Visible) {
    subAktivitasFormInputFlowrateRtwList.ExportOptions.Render("body");
}
@if (subAktivitasFormInputFlowrateRtwList.ImportOptions.Visible) {
    subAktivitasFormInputFlowrateRtwList.ImportOptions.Render("body");
}
@if (subAktivitasFormInputFlowrateRtwList.SearchOptions.Visible) {
    subAktivitasFormInputFlowrateRtwList.SearchOptions.Render("body");
}
@if (subAktivitasFormInputFlowrateRtwList.FilterOptions.Visible) {
    subAktivitasFormInputFlowrateRtwList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasFormInputFlowrateRtwList.IsModal) {
<form name="fSubAktivitasFormInputFlowrateRTWsrch" id="fSubAktivitasFormInputFlowrateRTWsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasFormInputFlowrateRTWsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasFormInputFlowrateRtwList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputFlowrateRtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputFlowrateRTW: currentTable } });
var currentForm;
var fSubAktivitasFormInputFlowrateRTWsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputFlowrateRTWsrch")
        .setPageId("list")
@if (subAktivitasFormInputFlowrateRtwList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasFormInputFlowrateRtwList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasFormInputFlowrateRtwList.IsExport() && Empty(subAktivitasFormInputFlowrateRtwList.CurrentAction) && subAktivitasFormInputFlowrateRtwList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasFormInputFlowrateRtwList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasFormInputFlowrateRtwList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasFormInputFlowrateRtwList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasFormInputFlowrateRtwList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasFormInputFlowrateRTWsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputFlowrateRtwList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasFormInputFlowrateRTWsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputFlowrateRtwList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasFormInputFlowrateRTWsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputFlowrateRtwList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasFormInputFlowrateRTWsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasFormInputFlowrateRtwList.ShowPageHeader()
@subAktivitasFormInputFlowrateRtwList.ShowMessages()
<main class="list @(subAktivitasFormInputFlowrateRtwList.TotalRecords == 0 && !subAktivitasFormInputFlowrateRtwList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasFormInputFlowrateRtwList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasFormInputFlowrateRtwList.TotalRecords > 0 || !Empty(subAktivitasFormInputFlowrateRtwList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasFormInputFlowrateRtwList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasFormInputFlowrateRtwList.TableGridClass)">
<form name="@(subAktivitasFormInputFlowrateRtwList.FormName)" id="@(subAktivitasFormInputFlowrateRtwList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasFormInputFlowrateRtwList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasFormInputFlowrateRtwList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasFormInputFlowrateRTW" class="card-body ew-grid-middle-panel @(subAktivitasFormInputFlowrateRtwList.TableContainerClass)" style="@(subAktivitasFormInputFlowrateRtwList.TableContainerStyle)">
@if (subAktivitasFormInputFlowrateRtwList.TotalRecords > 0 || subAktivitasFormInputFlowrateRtwList.IsGridEdit || subAktivitasFormInputFlowrateRtwList.IsMultiEdit) {
<table id="tbl_SubAktivitasFormInputFlowrateRTWlist" class="@(subAktivitasFormInputFlowrateRtwList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasFormInputFlowrateRtwList.RowType = RowType.Header;

    // Render list options
    await subAktivitasFormInputFlowrateRtwList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasFormInputFlowrateRtwList.ListOptions.RenderHeader("left")
@if (subAktivitasFormInputFlowrateRtwList.id.Visible) { // subAktivitasFormInputFlowrateRtwList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasFormInputFlowrateRtwList.id.HeaderCellClass)"><div id="elh_SubAktivitasFormInputFlowrateRTW_id" class="SubAktivitasFormInputFlowrateRTW_id">@Html.Raw(subAktivitasFormInputFlowrateRtwList.RenderFieldHeader(subAktivitasFormInputFlowrateRtwList.id))</div></th>
} @* subAktivitasFormInputFlowrateRtwList.id.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwList.NoReferensi.Visible) { // subAktivitasFormInputFlowrateRtwList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasFormInputFlowrateRtwList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasFormInputFlowrateRTW_NoReferensi" class="SubAktivitasFormInputFlowrateRTW_NoReferensi">@Html.Raw(subAktivitasFormInputFlowrateRtwList.RenderFieldHeader(subAktivitasFormInputFlowrateRtwList.NoReferensi))</div></th>
} @* subAktivitasFormInputFlowrateRtwList.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwList.idProses.Visible) { // subAktivitasFormInputFlowrateRtwList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasFormInputFlowrateRtwList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasFormInputFlowrateRTW_idProses" class="SubAktivitasFormInputFlowrateRTW_idProses">@Html.Raw(subAktivitasFormInputFlowrateRtwList.RenderFieldHeader(subAktivitasFormInputFlowrateRtwList.idProses))</div></th>
} @* subAktivitasFormInputFlowrateRtwList.idProses.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwList.idAktifitas.Visible) { // subAktivitasFormInputFlowrateRtwList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasFormInputFlowrateRtwList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputFlowrateRTW_idAktifitas" class="SubAktivitasFormInputFlowrateRTW_idAktifitas">@Html.Raw(subAktivitasFormInputFlowrateRtwList.RenderFieldHeader(subAktivitasFormInputFlowrateRtwList.idAktifitas))</div></th>
} @* subAktivitasFormInputFlowrateRtwList.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwList.StatusAktivitas.Visible) { // subAktivitasFormInputFlowrateRtwList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasFormInputFlowrateRtwList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputFlowrateRTW_StatusAktivitas" class="SubAktivitasFormInputFlowrateRTW_StatusAktivitas">@Html.Raw(subAktivitasFormInputFlowrateRtwList.RenderFieldHeader(subAktivitasFormInputFlowrateRtwList.StatusAktivitas))</div></th>
} @* subAktivitasFormInputFlowrateRtwList.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwList.LastUpdatedBy.Visible) { // subAktivitasFormInputFlowrateRtwList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasFormInputFlowrateRtwList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasFormInputFlowrateRTW_LastUpdatedBy" class="SubAktivitasFormInputFlowrateRTW_LastUpdatedBy">@Html.Raw(subAktivitasFormInputFlowrateRtwList.RenderFieldHeader(subAktivitasFormInputFlowrateRtwList.LastUpdatedBy))</div></th>
} @* subAktivitasFormInputFlowrateRtwList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwList.lastUpdatedDate.Visible) { // subAktivitasFormInputFlowrateRtwList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasFormInputFlowrateRtwList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputFlowrateRTW_lastUpdatedDate" class="SubAktivitasFormInputFlowrateRTW_lastUpdatedDate">@Html.Raw(subAktivitasFormInputFlowrateRtwList.RenderFieldHeader(subAktivitasFormInputFlowrateRtwList.lastUpdatedDate))</div></th>
} @* subAktivitasFormInputFlowrateRtwList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwList.Flowrate.Visible) { // subAktivitasFormInputFlowrateRtwList.Flowrate.Visible (begin)
        <th data-name="Flowrate" class="@(subAktivitasFormInputFlowrateRtwList.Flowrate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputFlowrateRTW_Flowrate" class="SubAktivitasFormInputFlowrateRTW_Flowrate">@Html.Raw(subAktivitasFormInputFlowrateRtwList.RenderFieldHeader(subAktivitasFormInputFlowrateRtwList.Flowrate))</div></th>
} @* subAktivitasFormInputFlowrateRtwList.Flowrate.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwList.StrippingTime.Visible) { // subAktivitasFormInputFlowrateRtwList.StrippingTime.Visible (begin)
        <th data-name="StrippingTime" class="@(subAktivitasFormInputFlowrateRtwList.StrippingTime.HeaderCellClass)"><div id="elh_SubAktivitasFormInputFlowrateRTW_StrippingTime" class="SubAktivitasFormInputFlowrateRTW_StrippingTime">@Html.Raw(subAktivitasFormInputFlowrateRtwList.RenderFieldHeader(subAktivitasFormInputFlowrateRtwList.StrippingTime))</div></th>
} @* subAktivitasFormInputFlowrateRtwList.StrippingTime.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwList.Pressuren.Visible) { // subAktivitasFormInputFlowrateRtwList.Pressuren.Visible (begin)
        <th data-name="Pressuren" class="@(subAktivitasFormInputFlowrateRtwList.Pressuren.HeaderCellClass)"><div id="elh_SubAktivitasFormInputFlowrateRTW_Pressuren" class="SubAktivitasFormInputFlowrateRTW_Pressuren">@Html.Raw(subAktivitasFormInputFlowrateRtwList.RenderFieldHeader(subAktivitasFormInputFlowrateRtwList.Pressuren))</div></th>
} @* subAktivitasFormInputFlowrateRtwList.Pressuren.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwList.LamaPembongkaran.Visible) { // subAktivitasFormInputFlowrateRtwList.LamaPembongkaran.Visible (begin)
        <th data-name="LamaPembongkaran" class="@(subAktivitasFormInputFlowrateRtwList.LamaPembongkaran.HeaderCellClass)"><div id="elh_SubAktivitasFormInputFlowrateRTW_LamaPembongkaran" class="SubAktivitasFormInputFlowrateRTW_LamaPembongkaran">@Html.Raw(subAktivitasFormInputFlowrateRtwList.RenderFieldHeader(subAktivitasFormInputFlowrateRtwList.LamaPembongkaran))</div></th>
} @* subAktivitasFormInputFlowrateRtwList.LamaPembongkaran.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwList.ETC.Visible) { // subAktivitasFormInputFlowrateRtwList.ETC.Visible (begin)
        <th data-name="ETC" class="@(subAktivitasFormInputFlowrateRtwList.ETC.HeaderCellClass)"><div id="elh_SubAktivitasFormInputFlowrateRTW_ETC" class="SubAktivitasFormInputFlowrateRTW_ETC">@Html.Raw(subAktivitasFormInputFlowrateRtwList.RenderFieldHeader(subAktivitasFormInputFlowrateRtwList.ETC))</div></th>
} @* subAktivitasFormInputFlowrateRtwList.ETC.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwList.userInput.Visible) { // subAktivitasFormInputFlowrateRtwList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasFormInputFlowrateRtwList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasFormInputFlowrateRTW_userInput" class="SubAktivitasFormInputFlowrateRTW_userInput">@Html.Raw(subAktivitasFormInputFlowrateRtwList.RenderFieldHeader(subAktivitasFormInputFlowrateRtwList.userInput))</div></th>
} @* subAktivitasFormInputFlowrateRtwList.userInput.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwList.etlDate.Visible) { // subAktivitasFormInputFlowrateRtwList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasFormInputFlowrateRtwList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputFlowrateRTW_etlDate" class="SubAktivitasFormInputFlowrateRTW_etlDate">@Html.Raw(subAktivitasFormInputFlowrateRtwList.RenderFieldHeader(subAktivitasFormInputFlowrateRtwList.etlDate))</div></th>
} @* subAktivitasFormInputFlowrateRtwList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasFormInputFlowrateRtwList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasFormInputFlowrateRtwList.PageNumber)">
@{
    await subAktivitasFormInputFlowrateRtwList.SetupGrid();
    bool eof = subAktivitasFormInputFlowrateRtwList.Recordset == null; // DN
}
@while (subAktivitasFormInputFlowrateRtwList.RecordCount < subAktivitasFormInputFlowrateRtwList.StopRecord || SameString(subAktivitasFormInputFlowrateRtwList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasFormInputFlowrateRtwList.RowIndex, "$rowindex$") &&
        (!subAktivitasFormInputFlowrateRtwList.IsGridAdd || subAktivitasFormInputFlowrateRtwList.CurrentMode == "copy") &&
        (!((subAktivitasFormInputFlowrateRtwList.IsCopy || subAktivitasFormInputFlowrateRtwList.IsAdd) && subAktivitasFormInputFlowrateRtwList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasFormInputFlowrateRtwList.Recordset.ReadAsync();
    subAktivitasFormInputFlowrateRtwList.RecordCount++;
    if (subAktivitasFormInputFlowrateRtwList.RecordCount >= subAktivitasFormInputFlowrateRtwList.StartRecord) {
        await subAktivitasFormInputFlowrateRtwList.SetupRow();
    <tr @Html.Raw(subAktivitasFormInputFlowrateRtwList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasFormInputFlowrateRtwList.ListOptions.RenderBody("left", subAktivitasFormInputFlowrateRtwList.RowCount)
    @if (subAktivitasFormInputFlowrateRtwList.id.Visible) { // subAktivitasFormInputFlowrateRtwList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasFormInputFlowrateRtwList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputFlowrateRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputFlowrateRtwList.RowCount)_SubAktivitasFormInputFlowrateRTW_id" class="el_SubAktivitasFormInputFlowrateRTW_id">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwList.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputFlowrateRtwList.id.Visible (end) *@
    @if (subAktivitasFormInputFlowrateRtwList.NoReferensi.Visible) { // subAktivitasFormInputFlowrateRtwList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputFlowrateRtwList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputFlowrateRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputFlowrateRtwList.RowCount)_SubAktivitasFormInputFlowrateRTW_NoReferensi" class="el_SubAktivitasFormInputFlowrateRTW_NoReferensi">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputFlowrateRtwList.NoReferensi.Visible (end) *@
    @if (subAktivitasFormInputFlowrateRtwList.idProses.Visible) { // subAktivitasFormInputFlowrateRtwList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputFlowrateRtwList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputFlowrateRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputFlowrateRtwList.RowCount)_SubAktivitasFormInputFlowrateRTW_idProses" class="el_SubAktivitasFormInputFlowrateRTW_idProses">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputFlowrateRtwList.idProses.Visible (end) *@
    @if (subAktivitasFormInputFlowrateRtwList.idAktifitas.Visible) { // subAktivitasFormInputFlowrateRtwList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputFlowrateRtwList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputFlowrateRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputFlowrateRtwList.RowCount)_SubAktivitasFormInputFlowrateRTW_idAktifitas" class="el_SubAktivitasFormInputFlowrateRTW_idAktifitas">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputFlowrateRtwList.idAktifitas.Visible (end) *@
    @if (subAktivitasFormInputFlowrateRtwList.StatusAktivitas.Visible) { // subAktivitasFormInputFlowrateRtwList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputFlowrateRtwList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputFlowrateRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputFlowrateRtwList.RowCount)_SubAktivitasFormInputFlowrateRTW_StatusAktivitas" class="el_SubAktivitasFormInputFlowrateRTW_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputFlowrateRtwList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasFormInputFlowrateRtwList.LastUpdatedBy.Visible) { // subAktivitasFormInputFlowrateRtwList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputFlowrateRtwList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputFlowrateRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputFlowrateRtwList.RowCount)_SubAktivitasFormInputFlowrateRTW_LastUpdatedBy" class="el_SubAktivitasFormInputFlowrateRTW_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputFlowrateRtwList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasFormInputFlowrateRtwList.lastUpdatedDate.Visible) { // subAktivitasFormInputFlowrateRtwList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputFlowrateRtwList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputFlowrateRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputFlowrateRtwList.RowCount)_SubAktivitasFormInputFlowrateRTW_lastUpdatedDate" class="el_SubAktivitasFormInputFlowrateRTW_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputFlowrateRtwList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasFormInputFlowrateRtwList.Flowrate.Visible) { // subAktivitasFormInputFlowrateRtwList.Flowrate.Visible (begin)
        <td data-name="Flowrate" @Html.Raw(subAktivitasFormInputFlowrateRtwList.Flowrate.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputFlowrateRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputFlowrateRtwList.RowCount)_SubAktivitasFormInputFlowrateRTW_Flowrate" class="el_SubAktivitasFormInputFlowrateRTW_Flowrate">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwList.Flowrate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwList.Flowrate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputFlowrateRtwList.Flowrate.Visible (end) *@
    @if (subAktivitasFormInputFlowrateRtwList.StrippingTime.Visible) { // subAktivitasFormInputFlowrateRtwList.StrippingTime.Visible (begin)
        <td data-name="StrippingTime" @Html.Raw(subAktivitasFormInputFlowrateRtwList.StrippingTime.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputFlowrateRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputFlowrateRtwList.RowCount)_SubAktivitasFormInputFlowrateRTW_StrippingTime" class="el_SubAktivitasFormInputFlowrateRTW_StrippingTime">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwList.StrippingTime.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwList.StrippingTime.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputFlowrateRtwList.StrippingTime.Visible (end) *@
    @if (subAktivitasFormInputFlowrateRtwList.Pressuren.Visible) { // subAktivitasFormInputFlowrateRtwList.Pressuren.Visible (begin)
        <td data-name="Pressuren" @Html.Raw(subAktivitasFormInputFlowrateRtwList.Pressuren.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputFlowrateRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputFlowrateRtwList.RowCount)_SubAktivitasFormInputFlowrateRTW_Pressuren" class="el_SubAktivitasFormInputFlowrateRTW_Pressuren">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwList.Pressuren.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwList.Pressuren.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputFlowrateRtwList.Pressuren.Visible (end) *@
    @if (subAktivitasFormInputFlowrateRtwList.LamaPembongkaran.Visible) { // subAktivitasFormInputFlowrateRtwList.LamaPembongkaran.Visible (begin)
        <td data-name="LamaPembongkaran" @Html.Raw(subAktivitasFormInputFlowrateRtwList.LamaPembongkaran.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputFlowrateRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputFlowrateRtwList.RowCount)_SubAktivitasFormInputFlowrateRTW_LamaPembongkaran" class="el_SubAktivitasFormInputFlowrateRTW_LamaPembongkaran">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwList.LamaPembongkaran.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwList.LamaPembongkaran.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputFlowrateRtwList.LamaPembongkaran.Visible (end) *@
    @if (subAktivitasFormInputFlowrateRtwList.ETC.Visible) { // subAktivitasFormInputFlowrateRtwList.ETC.Visible (begin)
        <td data-name="ETC" @Html.Raw(subAktivitasFormInputFlowrateRtwList.ETC.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputFlowrateRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputFlowrateRtwList.RowCount)_SubAktivitasFormInputFlowrateRTW_ETC" class="el_SubAktivitasFormInputFlowrateRTW_ETC">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwList.ETC.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwList.ETC.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputFlowrateRtwList.ETC.Visible (end) *@
    @if (subAktivitasFormInputFlowrateRtwList.userInput.Visible) { // subAktivitasFormInputFlowrateRtwList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputFlowrateRtwList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputFlowrateRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputFlowrateRtwList.RowCount)_SubAktivitasFormInputFlowrateRTW_userInput" class="el_SubAktivitasFormInputFlowrateRTW_userInput">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputFlowrateRtwList.userInput.Visible (end) *@
    @if (subAktivitasFormInputFlowrateRtwList.etlDate.Visible) { // subAktivitasFormInputFlowrateRtwList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputFlowrateRtwList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputFlowrateRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputFlowrateRtwList.RowCount)_SubAktivitasFormInputFlowrateRTW_etlDate" class="el_SubAktivitasFormInputFlowrateRTW_etlDate">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputFlowrateRtwList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasFormInputFlowrateRtwList.ListOptions.RenderBody("right", subAktivitasFormInputFlowrateRtwList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasFormInputFlowrateRtwList.RowIndex, "$rowindex$"))
        subAktivitasFormInputFlowrateRtwList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasFormInputFlowrateRtwList.IsCopy || subAktivitasFormInputFlowrateRtwList.IsAdd) && subAktivitasFormInputFlowrateRtwList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasFormInputFlowrateRtwList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasFormInputFlowrateRtwList.CurrentAction) && !subAktivitasFormInputFlowrateRtwList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasFormInputFlowrateRtwList.CloseRecordset(); }
@if (!subAktivitasFormInputFlowrateRtwList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasFormInputFlowrateRtwList.IsGridAdd && !(subAktivitasFormInputFlowrateRtwList.IsGridEdit && subAktivitasFormInputFlowrateRtwList.ModalGridEdit) && !subAktivitasFormInputFlowrateRtwList.IsMultiEdit) {
@Html.Raw(subAktivitasFormInputFlowrateRtwList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasFormInputFlowrateRtwList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasFormInputFlowrateRtwList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasFormInputFlowrateRtwList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasFormInputFlowrateRtwList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputFlowrateRtwList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputFlowrateRTW");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
