@{
    // View
    View = this;

    // Check action result
    if (subaktivitasHasilPemeriksaanEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subaktivitasHasilPemeriksaanEdit.UseLayout ? "_Layout" : "";
}
@subaktivitasHasilPemeriksaanEdit.ShowPageHeader()
@subaktivitasHasilPemeriksaanEdit.ShowMessages()
<main class="edit">
<form name="fSubaktivitasHasilPemeriksaanedit" id="fSubaktivitasHasilPemeriksaanedit" class="@(subaktivitasHasilPemeriksaanEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasHasilPemeriksaanEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasHasilPemeriksaan: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubaktivitasHasilPemeriksaanedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubaktivitasHasilPemeriksaanedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null], fields.idAktifitas.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null], fields.idProses.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null], fields.StatusAktivitas.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null], fields.lastUpdatedDate.isInvalid],
            ["NamaKapal", [fields.NamaKapal.visible && fields.NamaKapal.required ? ew.Validators.required(fields.NamaKapal.caption) : null], fields.NamaKapal.isInvalid],
            ["TanggalJam", [fields.TanggalJam.visible && fields.TanggalJam.required ? ew.Validators.required(fields.TanggalJam.caption) : null, ew.Validators.datetime(fields.TanggalJam.clientFormatPattern)], fields.TanggalJam.isInvalid],
            ["NamaKegiatan", [fields.NamaKegiatan.visible && fields.NamaKegiatan.required ? ew.Validators.required(fields.NamaKegiatan.caption) : null], fields.NamaKegiatan.isInvalid],
            ["Density", [fields.Density.visible && fields.Density.required ? ew.Validators.required(fields.Density.caption) : null], fields.Density.isInvalid],
            ["Temperature", [fields.Temperature.visible && fields.Temperature.required ? ew.Validators.required(fields.Temperature.caption) : null], fields.Temperature.isInvalid],
            ["Pressure", [fields.Pressure.visible && fields.Pressure.required ? ew.Validators.required(fields.Pressure.caption) : null], fields.Pressure.isInvalid],
            ["Keterangan", [fields.Keterangan.visible && fields.Keterangan.required ? ew.Validators.required(fields.Keterangan.caption) : null], fields.Keterangan.isInvalid],
            ["TanggalJamSOP", [fields.TanggalJamSOP.visible && fields.TanggalJamSOP.required ? ew.Validators.required(fields.TanggalJamSOP.caption) : null, ew.Validators.datetime(fields.TanggalJamSOP.clientFormatPattern)], fields.TanggalJamSOP.isInvalid],
            ["SelisihWaktu", [fields.SelisihWaktu.visible && fields.SelisihWaktu.required ? ew.Validators.required(fields.SelisihWaktu.caption) : null], fields.SelisihWaktu.isInvalid],
            ["IsQualityActive", [fields.IsQualityActive.visible && fields.IsQualityActive.required ? ew.Validators.required(fields.IsQualityActive.caption) : null], fields.IsQualityActive.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "IsQualityActive": @Html.Raw(subaktivitasHasilPemeriksaanEdit.IsQualityActive.ToClientList(subaktivitasHasilPemeriksaanEdit)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Client script
    // Write your client script here, no need to add script tags.
    var parent_url = ew.PATH_BASE;
    var IdProses = "@subaktivitasHasilPemeriksaanEdit.idProses.CurrentValue";
    function handleCustomSubmit(status) {
        let idAktivitas = $("#x_idAktifitas").val();
        let form = $("#fSubaktivitasHasilPemeriksaanedit");
        $.ajax({
            url: form.attr("action"),
            type: form.attr("method"),
            data: form.serialize(),
            beforeSend: function () {
                showLoading();
            },
            success: function (response) {
                updateStatus(idAktivitas, status);
            },
            error: function (xhr, status, error) {
                hideLoading();
                ew.alert("Gagal menyimpan data.");
                console.error("Form submit gagal:", error);
            }
        });  
    }
    function updateStatus(idAktivitas, status) {
        $.ajax({
            url: parent_url + `api/LookUpList/update_status_aktivitas?idAktivitas=${idAktivitas}&statusAktivitas=${status}`,
            type: 'POST',
            success: function () {
                console.log("Status berhasil diperbarui.");
                if (status == "Completed" || status == "Completed Edit") {
                    window.location.href = `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`;
                } else {
                    location.reload();
                }            
            },
            error: function (xhr, status, error) {
                ew.alert("Status gagal diperbarui.");
                console.error("Update status gagal:", error);
            },
            complete: function () {
                hideLoading();
            }
        });
    }
    $(document).on("click", "#btn-draft", function () {
        handleCustomSubmit("Draft");
    });
    $(document).on("click", "#btn-completed", function () {
        handleCustomSubmit("Completed");
    });
    $(document).on("click", "#btn-editing", function () {
        handleCustomSubmit("Editing");
    });
    $(document).on("click", "#btn-completedEdit", function () {
        handleCustomSubmit("Completed Edit");
    });
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subaktivitasHasilPemeriksaanEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subaktivitasHasilPemeriksaanEdit.OldKeyName)" value="@Html.Raw(subaktivitasHasilPemeriksaanEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subaktivitasHasilPemeriksaanEdit.idAktifitas.Visible) { // subaktivitasHasilPemeriksaanEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subaktivitasHasilPemeriksaanEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaan_idAktifitas" class="@(subaktivitasHasilPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanEdit.idAktifitas.Caption)@Html.Raw(subaktivitasHasilPemeriksaanEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanEdit.idAktifitas.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaan_idAktifitas">
<span @Html.Raw(subaktivitasHasilPemeriksaanEdit.idAktifitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subaktivitasHasilPemeriksaanEdit.idAktifitas.DisplayValue(subaktivitasHasilPemeriksaanEdit.idAktifitas.EditValue))</span></span>
<input type="hidden" data-table="SubaktivitasHasilPemeriksaan" data-field="x_idAktifitas" data-hidden="1" name="x_idAktifitas" id="x_idAktifitas" value="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanEdit.idAktifitas.CurrentValue))">
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanEdit.idAktifitas.Visible (end) *@
@if (subaktivitasHasilPemeriksaanEdit.idProses.Visible) { // subaktivitasHasilPemeriksaanEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subaktivitasHasilPemeriksaanEdit.idProses.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaan_idProses" class="@(subaktivitasHasilPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanEdit.idProses.Caption)@Html.Raw(subaktivitasHasilPemeriksaanEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanEdit.idProses.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaan_idProses">
<span @Html.Raw(subaktivitasHasilPemeriksaanEdit.idProses.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subaktivitasHasilPemeriksaanEdit.idProses.DisplayValue(subaktivitasHasilPemeriksaanEdit.idProses.EditValue))</span></span>
<input type="hidden" data-table="SubaktivitasHasilPemeriksaan" data-field="x_idProses" data-hidden="1" name="x_idProses" id="x_idProses" value="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanEdit.idProses.CurrentValue))">
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanEdit.idProses.Visible (end) *@
@if (subaktivitasHasilPemeriksaanEdit.NoReferensi.Visible) { // subaktivitasHasilPemeriksaanEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subaktivitasHasilPemeriksaanEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaan_NoReferensi" for="x_NoReferensi" class="@(subaktivitasHasilPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanEdit.NoReferensi.Caption)@Html.Raw(subaktivitasHasilPemeriksaanEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanEdit.NoReferensi.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaan_NoReferensi">
<span @Html.Raw(subaktivitasHasilPemeriksaanEdit.NoReferensi.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subaktivitasHasilPemeriksaanEdit.NoReferensi.EditValue)))"></span>
<input type="hidden" data-table="SubaktivitasHasilPemeriksaan" data-field="x_NoReferensi" data-hidden="1" name="x_NoReferensi" id="x_NoReferensi" value="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanEdit.NoReferensi.CurrentValue))">
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanEdit.NoReferensi.Visible (end) *@
@if (subaktivitasHasilPemeriksaanEdit.StatusAktivitas.Visible) { // subaktivitasHasilPemeriksaanEdit.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subaktivitasHasilPemeriksaanEdit.StatusAktivitas.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaan_StatusAktivitas" class="@(subaktivitasHasilPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanEdit.StatusAktivitas.Caption)@Html.Raw(subaktivitasHasilPemeriksaanEdit.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanEdit.StatusAktivitas.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaan_StatusAktivitas">
<span @Html.Raw(subaktivitasHasilPemeriksaanEdit.StatusAktivitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subaktivitasHasilPemeriksaanEdit.StatusAktivitas.DisplayValue(subaktivitasHasilPemeriksaanEdit.StatusAktivitas.EditValue))</span></span>
<input type="hidden" data-table="SubaktivitasHasilPemeriksaan" data-field="x_StatusAktivitas" data-hidden="1" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanEdit.StatusAktivitas.CurrentValue))">
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanEdit.StatusAktivitas.Visible (end) *@
@if (subaktivitasHasilPemeriksaanEdit.Produk.Visible) { // subaktivitasHasilPemeriksaanEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subaktivitasHasilPemeriksaanEdit.Produk.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaan_Produk" for="x_Produk" class="@(subaktivitasHasilPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanEdit.Produk.Caption)@Html.Raw(subaktivitasHasilPemeriksaanEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanEdit.Produk.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaan_Produk">
<span @Html.Raw(subaktivitasHasilPemeriksaanEdit.Produk.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subaktivitasHasilPemeriksaanEdit.Produk.EditValue)))"></span>
<input type="hidden" data-table="SubaktivitasHasilPemeriksaan" data-field="x_Produk" data-hidden="1" name="x_Produk" id="x_Produk" value="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanEdit.Produk.CurrentValue))">
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanEdit.Produk.Visible (end) *@
@if (subaktivitasHasilPemeriksaanEdit.LastUpdatedBy.Visible) { // subaktivitasHasilPemeriksaanEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subaktivitasHasilPemeriksaanEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaan_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subaktivitasHasilPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanEdit.LastUpdatedBy.Caption)@Html.Raw(subaktivitasHasilPemeriksaanEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaan_LastUpdatedBy">
<span @Html.Raw(subaktivitasHasilPemeriksaanEdit.LastUpdatedBy.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subaktivitasHasilPemeriksaanEdit.LastUpdatedBy.EditValue)))"></span>
<input type="hidden" data-table="SubaktivitasHasilPemeriksaan" data-field="x_LastUpdatedBy" data-hidden="1" name="x_LastUpdatedBy" id="x_LastUpdatedBy" value="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanEdit.LastUpdatedBy.CurrentValue))">
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanEdit.LastUpdatedBy.Visible (end) *@
@if (subaktivitasHasilPemeriksaanEdit.lastUpdatedDate.Visible) { // subaktivitasHasilPemeriksaanEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subaktivitasHasilPemeriksaanEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaan_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subaktivitasHasilPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanEdit.lastUpdatedDate.Caption)@Html.Raw(subaktivitasHasilPemeriksaanEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaan_lastUpdatedDate">
<span @Html.Raw(subaktivitasHasilPemeriksaanEdit.lastUpdatedDate.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subaktivitasHasilPemeriksaanEdit.lastUpdatedDate.EditValue)))"></span>
<input type="hidden" data-table="SubaktivitasHasilPemeriksaan" data-field="x_lastUpdatedDate" data-hidden="1" name="x_lastUpdatedDate" id="x_lastUpdatedDate" value="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanEdit.lastUpdatedDate.CurrentValue))">
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanEdit.lastUpdatedDate.Visible (end) *@
@if (subaktivitasHasilPemeriksaanEdit.NamaKapal.Visible) { // subaktivitasHasilPemeriksaanEdit.NamaKapal.Visible (begin)
    <div id="r_NamaKapal" @Html.Raw(subaktivitasHasilPemeriksaanEdit.NamaKapal.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaan_NamaKapal" for="x_NamaKapal" class="@(subaktivitasHasilPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanEdit.NamaKapal.Caption)@Html.Raw(subaktivitasHasilPemeriksaanEdit.NamaKapal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanEdit.NamaKapal.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaan_NamaKapal">
<input type="@(subaktivitasHasilPemeriksaanEdit.NamaKapal.InputTextType)" name="x_NamaKapal" id="x_NamaKapal" data-table="SubaktivitasHasilPemeriksaan" data-field="x_NamaKapal" value="@Html.Raw(subaktivitasHasilPemeriksaanEdit.NamaKapal.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanEdit.NamaKapal.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanEdit.NamaKapal.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanEdit.NamaKapal.EditAttributes) aria-describedby="x_NamaKapal_help">
@Html.Raw(subaktivitasHasilPemeriksaanEdit.NamaKapal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanEdit.NamaKapal.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanEdit.NamaKapal.Visible (end) *@
@if (subaktivitasHasilPemeriksaanEdit.TanggalJam.Visible) { // subaktivitasHasilPemeriksaanEdit.TanggalJam.Visible (begin)
    <div id="r_TanggalJam" @Html.Raw(subaktivitasHasilPemeriksaanEdit.TanggalJam.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaan_TanggalJam" for="x_TanggalJam" class="@(subaktivitasHasilPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanEdit.TanggalJam.Caption)@Html.Raw(subaktivitasHasilPemeriksaanEdit.TanggalJam.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanEdit.TanggalJam.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaan_TanggalJam">
<input type="@(subaktivitasHasilPemeriksaanEdit.TanggalJam.InputTextType)" name="x_TanggalJam" id="x_TanggalJam" data-table="SubaktivitasHasilPemeriksaan" data-field="x_TanggalJam" value="@Html.Raw(subaktivitasHasilPemeriksaanEdit.TanggalJam.EditValue)" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanEdit.TanggalJam.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanEdit.TanggalJam.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanEdit.TanggalJam.EditAttributes) aria-describedby="x_TanggalJam_help">
@Html.Raw(subaktivitasHasilPemeriksaanEdit.TanggalJam.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanEdit.TanggalJam.GetErrorMessage())</div>
@if (!subaktivitasHasilPemeriksaanEdit.TanggalJam.ReadOnly && !subaktivitasHasilPemeriksaanEdit.TanggalJam.Disabled && !subaktivitasHasilPemeriksaanEdit.TanggalJam.EditAttrs.Is("readonly") && !subaktivitasHasilPemeriksaanEdit.TanggalJam.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubaktivitasHasilPemeriksaanedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubaktivitasHasilPemeriksaanedit", "x_TanggalJam", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanEdit.TanggalJam.Visible (end) *@
@if (subaktivitasHasilPemeriksaanEdit.NamaKegiatan.Visible) { // subaktivitasHasilPemeriksaanEdit.NamaKegiatan.Visible (begin)
    <div id="r_NamaKegiatan" @Html.Raw(subaktivitasHasilPemeriksaanEdit.NamaKegiatan.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaan_NamaKegiatan" for="x_NamaKegiatan" class="@(subaktivitasHasilPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanEdit.NamaKegiatan.Caption)@Html.Raw(subaktivitasHasilPemeriksaanEdit.NamaKegiatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanEdit.NamaKegiatan.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaan_NamaKegiatan">
<input type="@(subaktivitasHasilPemeriksaanEdit.NamaKegiatan.InputTextType)" name="x_NamaKegiatan" id="x_NamaKegiatan" data-table="SubaktivitasHasilPemeriksaan" data-field="x_NamaKegiatan" value="@Html.Raw(subaktivitasHasilPemeriksaanEdit.NamaKegiatan.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanEdit.NamaKegiatan.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanEdit.NamaKegiatan.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanEdit.NamaKegiatan.EditAttributes) aria-describedby="x_NamaKegiatan_help">
@Html.Raw(subaktivitasHasilPemeriksaanEdit.NamaKegiatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanEdit.NamaKegiatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanEdit.NamaKegiatan.Visible (end) *@
@if (subaktivitasHasilPemeriksaanEdit.Density.Visible) { // subaktivitasHasilPemeriksaanEdit.Density.Visible (begin)
    <div id="r_Density" @Html.Raw(subaktivitasHasilPemeriksaanEdit.Density.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaan_Density" for="x_Density" class="@(subaktivitasHasilPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanEdit.Density.Caption)@Html.Raw(subaktivitasHasilPemeriksaanEdit.Density.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanEdit.Density.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaan_Density">
<input type="@(subaktivitasHasilPemeriksaanEdit.Density.InputTextType)" name="x_Density" id="x_Density" data-table="SubaktivitasHasilPemeriksaan" data-field="x_Density" value="@Html.Raw(subaktivitasHasilPemeriksaanEdit.Density.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanEdit.Density.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanEdit.Density.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanEdit.Density.EditAttributes) aria-describedby="x_Density_help">
@Html.Raw(subaktivitasHasilPemeriksaanEdit.Density.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanEdit.Density.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanEdit.Density.Visible (end) *@
@if (subaktivitasHasilPemeriksaanEdit.Temperature.Visible) { // subaktivitasHasilPemeriksaanEdit.Temperature.Visible (begin)
    <div id="r_Temperature" @Html.Raw(subaktivitasHasilPemeriksaanEdit.Temperature.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaan_Temperature" for="x_Temperature" class="@(subaktivitasHasilPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanEdit.Temperature.Caption)@Html.Raw(subaktivitasHasilPemeriksaanEdit.Temperature.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanEdit.Temperature.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaan_Temperature">
<input type="@(subaktivitasHasilPemeriksaanEdit.Temperature.InputTextType)" name="x_Temperature" id="x_Temperature" data-table="SubaktivitasHasilPemeriksaan" data-field="x_Temperature" value="@Html.Raw(subaktivitasHasilPemeriksaanEdit.Temperature.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanEdit.Temperature.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanEdit.Temperature.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanEdit.Temperature.EditAttributes) aria-describedby="x_Temperature_help">
@Html.Raw(subaktivitasHasilPemeriksaanEdit.Temperature.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanEdit.Temperature.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanEdit.Temperature.Visible (end) *@
@if (subaktivitasHasilPemeriksaanEdit.Pressure.Visible) { // subaktivitasHasilPemeriksaanEdit.Pressure.Visible (begin)
    <div id="r_Pressure" @Html.Raw(subaktivitasHasilPemeriksaanEdit.Pressure.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaan_Pressure" for="x_Pressure" class="@(subaktivitasHasilPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanEdit.Pressure.Caption)@Html.Raw(subaktivitasHasilPemeriksaanEdit.Pressure.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanEdit.Pressure.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaan_Pressure">
<input type="@(subaktivitasHasilPemeriksaanEdit.Pressure.InputTextType)" name="x_Pressure" id="x_Pressure" data-table="SubaktivitasHasilPemeriksaan" data-field="x_Pressure" value="@Html.Raw(subaktivitasHasilPemeriksaanEdit.Pressure.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanEdit.Pressure.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanEdit.Pressure.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanEdit.Pressure.EditAttributes) aria-describedby="x_Pressure_help">
@Html.Raw(subaktivitasHasilPemeriksaanEdit.Pressure.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanEdit.Pressure.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanEdit.Pressure.Visible (end) *@
@if (subaktivitasHasilPemeriksaanEdit.Keterangan.Visible) { // subaktivitasHasilPemeriksaanEdit.Keterangan.Visible (begin)
    <div id="r_Keterangan" @Html.Raw(subaktivitasHasilPemeriksaanEdit.Keterangan.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaan_Keterangan" for="x_Keterangan" class="@(subaktivitasHasilPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanEdit.Keterangan.Caption)@Html.Raw(subaktivitasHasilPemeriksaanEdit.Keterangan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanEdit.Keterangan.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaan_Keterangan">
<textarea data-table="SubaktivitasHasilPemeriksaan" data-field="x_Keterangan" name="x_Keterangan" id="x_Keterangan" cols="35" rows="4" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanEdit.Keterangan.PlaceHolder))"@Html.Raw(subaktivitasHasilPemeriksaanEdit.Keterangan.EditAttributes) aria-describedby="x_Keterangan_help">@(subaktivitasHasilPemeriksaanEdit.Keterangan.EditValue)</textarea>
@Html.Raw(subaktivitasHasilPemeriksaanEdit.Keterangan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanEdit.Keterangan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanEdit.Keterangan.Visible (end) *@
@if (subaktivitasHasilPemeriksaanEdit.TanggalJamSOP.Visible) { // subaktivitasHasilPemeriksaanEdit.TanggalJamSOP.Visible (begin)
    <div id="r_TanggalJamSOP" @Html.Raw(subaktivitasHasilPemeriksaanEdit.TanggalJamSOP.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaan_TanggalJamSOP" for="x_TanggalJamSOP" class="@(subaktivitasHasilPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanEdit.TanggalJamSOP.Caption)@Html.Raw(subaktivitasHasilPemeriksaanEdit.TanggalJamSOP.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanEdit.TanggalJamSOP.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaan_TanggalJamSOP">
<input type="@(subaktivitasHasilPemeriksaanEdit.TanggalJamSOP.InputTextType)" name="x_TanggalJamSOP" id="x_TanggalJamSOP" data-table="SubaktivitasHasilPemeriksaan" data-field="x_TanggalJamSOP" value="@Html.Raw(subaktivitasHasilPemeriksaanEdit.TanggalJamSOP.EditValue)" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanEdit.TanggalJamSOP.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanEdit.TanggalJamSOP.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanEdit.TanggalJamSOP.EditAttributes) aria-describedby="x_TanggalJamSOP_help">
@Html.Raw(subaktivitasHasilPemeriksaanEdit.TanggalJamSOP.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanEdit.TanggalJamSOP.GetErrorMessage())</div>
@if (!subaktivitasHasilPemeriksaanEdit.TanggalJamSOP.ReadOnly && !subaktivitasHasilPemeriksaanEdit.TanggalJamSOP.Disabled && !subaktivitasHasilPemeriksaanEdit.TanggalJamSOP.EditAttrs.Is("readonly") && !subaktivitasHasilPemeriksaanEdit.TanggalJamSOP.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubaktivitasHasilPemeriksaanedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubaktivitasHasilPemeriksaanedit", "x_TanggalJamSOP", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanEdit.TanggalJamSOP.Visible (end) *@
@if (subaktivitasHasilPemeriksaanEdit.SelisihWaktu.Visible) { // subaktivitasHasilPemeriksaanEdit.SelisihWaktu.Visible (begin)
    <div id="r_SelisihWaktu" @Html.Raw(subaktivitasHasilPemeriksaanEdit.SelisihWaktu.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaan_SelisihWaktu" for="x_SelisihWaktu" class="@(subaktivitasHasilPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanEdit.SelisihWaktu.Caption)@Html.Raw(subaktivitasHasilPemeriksaanEdit.SelisihWaktu.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanEdit.SelisihWaktu.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaan_SelisihWaktu">
<input type="@(subaktivitasHasilPemeriksaanEdit.SelisihWaktu.InputTextType)" name="x_SelisihWaktu" id="x_SelisihWaktu" data-table="SubaktivitasHasilPemeriksaan" data-field="x_SelisihWaktu" value="@Html.Raw(subaktivitasHasilPemeriksaanEdit.SelisihWaktu.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanEdit.SelisihWaktu.PlaceHolder))" data-format-pattern="@(subaktivitasHasilPemeriksaanEdit.SelisihWaktu.FormatPattern)"@Html.Raw(subaktivitasHasilPemeriksaanEdit.SelisihWaktu.EditAttributes) aria-describedby="x_SelisihWaktu_help">
@Html.Raw(subaktivitasHasilPemeriksaanEdit.SelisihWaktu.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanEdit.SelisihWaktu.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanEdit.SelisihWaktu.Visible (end) *@
@if (subaktivitasHasilPemeriksaanEdit.IsQualityActive.Visible) { // subaktivitasHasilPemeriksaanEdit.IsQualityActive.Visible (begin)
    <div id="r_IsQualityActive" @Html.Raw(subaktivitasHasilPemeriksaanEdit.IsQualityActive.RowAttributes)>
        <label id="elh_SubaktivitasHasilPemeriksaan_IsQualityActive" class="@(subaktivitasHasilPemeriksaanEdit.LeftColumnClass)">@Html.Raw(subaktivitasHasilPemeriksaanEdit.IsQualityActive.Caption)@Html.Raw(subaktivitasHasilPemeriksaanEdit.IsQualityActive.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasHasilPemeriksaanEdit.RightColumnClass)"><div @Html.Raw(subaktivitasHasilPemeriksaanEdit.IsQualityActive.CellAttributes)>
<span id="el_SubaktivitasHasilPemeriksaan_IsQualityActive">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(subaktivitasHasilPemeriksaanEdit.IsQualityActive.IsInvalidClass)" data-table="SubaktivitasHasilPemeriksaan" data-field="x_IsQualityActive" data-boolean name="x_IsQualityActive" id="x_IsQualityActive" value="1" checked="@ConvertToBool(subaktivitasHasilPemeriksaanEdit.IsQualityActive.CurrentValue)" @Html.Raw(subaktivitasHasilPemeriksaanEdit.IsQualityActive.EditAttributes) aria-describedby="x_IsQualityActive_help">
    <div class="invalid-feedback">@Html.Raw(subaktivitasHasilPemeriksaanEdit.IsQualityActive.GetErrorMessage())</div>
</div>
@Html.Raw(subaktivitasHasilPemeriksaanEdit.IsQualityActive.GetCustomMessage)
</span>
</div></div>
    </div>
} @* subaktivitasHasilPemeriksaanEdit.IsQualityActive.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="SubaktivitasHasilPemeriksaan" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanEdit.id.CurrentValue))">
@{ subaktivitasHasilPemeriksaanEdit.CloseRecordset(); }
@Html.Raw(subaktivitasHasilPemeriksaanEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subaktivitasHasilPemeriksaanEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubaktivitasHasilPemeriksaanedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubaktivitasHasilPemeriksaanedit" data-href="@AppPath(subaktivitasHasilPemeriksaanEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subaktivitasHasilPemeriksaanEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subaktivitasHasilPemeriksaanEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubaktivitasHasilPemeriksaan");
});
</script>
<script>
loadjs.ready("load", function() {
    // Startup script
    var IdReferensi = "@subaktivitasHasilPemeriksaanEdit.NoReferensi.CurrentValue";
    var IdProses = "@subaktivitasHasilPemeriksaanEdit.idProses.CurrentValue";
    var idAktivitas = "@subaktivitasHasilPemeriksaanEdit.idAktifitas.CurrentValue";
    var NamaAktivitas = $('#el_SubaktivitasHasilPemeriksaan_idAktifitas').text();
    var parent_url = ew.PATH_BASE;
    var steps = [
        { number: 1, label: "Penerimaan", url: `${parent_url}PenerimaanList`, icon: "fa-box-open" },
        { number: 2, label: "Proses", url: `${parent_url}ProsesList?cmd=search&x_IdReferensi%5B%5D=${IdReferensi}&search=&searchtype=`, icon: "fa-gears" },
        { number: 3, label: "Aktivitas", url: `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`, icon: "fa-list-check" },
        { number: 4, label: NamaAktivitas, url: '', icon: "fa-file-circle-check" }
    ];
    var currentStep = 4;
    $("<style>")
        .prop("type", "text/css")
        .html(`
            .stepper {
                display: flex;
                counter-reset: step;
                flex-wrap: nowrap;        /* jangan pecah ke bawah */
                overflow-x: auto;         /* scroll horizontal */
                -webkit-overflow-scrolling: touch; /* smooth scroll di mobile */
                padding-bottom: 8px;      /* space biar scroll bar gak nempel */
            }
            .stepper::-webkit-scrollbar {
            height: 6px; /* tipis */
            }
            .stepper::-webkit-scrollbar-thumb {
                background-color: #ccc;
                border-radius: 3px;
            }
            .step {
                width: 150px;
                text-align: center;
                position: relative;
            }
            .step:not(:last-child)::after {
                content: '';
                position: absolute;
                top: 20px;
                right: -50%;
                width: 100%;
                height: 4px;
                background-color: #ccc;
                z-index: 0;
            }
            .step.completed:not(:last-child)::after {
                background-color: #3c6dbd;
            }
            .step-icon {
                width: 36px;
                height: 36px;
                line-height: 36px;
                border-radius: 50%;
                background: #ccc;
                display: inline-block;
                z-index: 1;
                position: relative;
                color: white;
                font-weight: bold;
            }
            .step.active .step-icon {
                background: #3c6dbd;
            }
            .step-label {
                margin-top: 8px;
                font-size: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6px;
                color: #333;
            }
            .step-label {
                color: #3c6dbd !important;
                text-decoration: none;
                margin: 0;
                padding: 0;
            }
            .step-label-not-active {
                color: #CCCCCC !important;
            }
            .ag-theme-quartz .ag-header {
                background-color: #3c6dbd !important;
            }
            .ag-theme-quartz .ag-header-cell-label {
                color: #ffffff !important;
            }
            .ag-theme-quartz .ag-icon-filter {
                color: #ffffff !important;
            }
            .rotate-down {
                transform: rotate(90deg);
                transition: transform 0.3s ease;
            }
            .rotate-right {
                transform: rotate(0deg);
                transition: transform 0.3s ease;
            }
        `)
        .appendTo("head");
    var $stepperWrapper = $('<div class="d-flex border-bottom border-2 pb-2"><div class="stepper"></div></div>');
    var $stepper = $stepperWrapper.find(".stepper");
    steps.forEach(function (step, i) {
        var isActive = step.number === currentStep;
        var isCompleted = step.number < currentStep;
        var stepClass = isActive ? "active" : isCompleted ? "completed" : "";
        var icon, labelContent, html;
        if (isActive) {
            icon = `<div class="step-icon bg-success">${step.number}</div>`;
            labelContent = `<div class="step-label"><p class="text-success mb-1"><i class="fa-solid ${step.icon} me-1 text-success"></i> ${step.label}</p></div>`;
            html = `<div class="step ${stepClass} text-success">${icon}${labelContent}</div>`;
        } else if (isCompleted) {
            icon = `<div class="step-icon" style="background: #3c6dbd;">${step.number}</div>`;
            labelContent = `<div class="step-label"><a href="${step.url}" class="text-primary"><i class="fa-solid ${step.icon} me-1"></i>${step.label}</a></div>`;
            html = `<div class="step ${stepClass}">${icon}${labelContent}</div>`;
        } else {
            icon = `<div class="step-icon">${step.number}</div>`;
            labelContent = `<div class="step-label-not-active"><p style="margin: 0;"><i class="fa-solid ${step.icon} me-1"></i>${step.label}</p></div>`;
            html = `<div class="step ${stepClass} text-secondary">${icon}${labelContent}</div>`;
        }
        $stepper.append(html);
    });
    $(".content-header .container-fluid .row").append($stepperWrapper);
    $("#btn-action").hide();
    $("#btn-cancel").html('<i class="fa-solid fa-ban"></i></i> Cancel');
    const $cancelButton = $("#btn-cancel");
    const idAktifitas = $("#x_idAktifitas").val();
    if ($cancelButton.length) {
        $.ajax({
            url: parent_url + `api/LookUpList/get_status_aktivitas?idAktivitas=${idAktifitas}`,
            type: 'GET',
            success: function(response) {
                let status = response.statusAktivitas;
                let $customButtons = ``;
                switch (status) {
                case "Waiting":
                    $customButtons = `
                        <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-draft">
                            <i class="fas fa-save"></i> Save
                        </button>
                    `;
                    break;
                case "Draft":
                    $customButtons = `
                        <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-draft">
                            <i class="fas fa-save"></i> Save
                        </button>
                        <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completed">
                            <i class="fas fa-paper-plane"></i> Submit
                        </button>
                    `
                    break;
                case "Completed":
                    $customButtons = `
                        <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-editing">
                            <i class="fa-solid fa-pen-to-square"></i> Edit
                        </button>
                        <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completedEdit">
                            <i class="fas fa-paper-plane"></i> Submit
                        </button>
                    `;
                    break;
                case "Editing":
                    $customButtons = `
                        <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-editing">
                            <i class="fa-solid fa-pen-to-square"></i> Edit
                        </button>
                        <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completedEdit">
                            <i class="fas fa-paper-plane"></i> Submit
                        </button>
                    `;
                    break;
                }
                    $cancelButton.before($customButtons);
                    checkIsEditable();
            },
            error: function(xhr, status, error) {
                console.error('API call failed:', status, error);
            }
        });
    }

    // --- log aktivitas start ---
    $('#el_SubaktivitasHasilPemeriksaan_LastUpdatedBy').addClass('d-flex gap-3');
    $('#el_SubaktivitasHasilPemeriksaan_LastUpdatedBy').append(`
        <button type="button" class="btn btn-primary ew-btn ps-2" expand-log="false">
            <i class="fa-solid fa-caret-right fa-2xl me-2 caret-icon rotate-right"></i>
            Log History
            <i class="fa-solid fa-clock-rotate-left ms-1"></i> 
        </button>
    `);
    $(document).on('click', 'button[expand-log]', function () {
        const $btn = $(this);
        const isExpanded = $btn.attr('expand-log') === 'true';
        const $row = $('#log-table-row');
        const $wrapper = $('#log-table-wrapper');
        const $caret = $btn.find('.caret-icon');
        if (!isExpanded) {
            $btn.attr('expand-log', 'true');
            $row.removeClass('d-none');
            setTimeout(() => {
                $wrapper.css({
                    maxHeight: '500px'
                });
            }, 10);
            $caret.removeClass('rotate-right').addClass('rotate-down');
        } else {
            $btn.attr('expand-log', 'false');
            $wrapper.css({
                maxHeight: '0'
            });
            setTimeout(() => {
                $row.addClass('d-none');
            }, 600);
            $caret.removeClass('rotate-down').addClass('rotate-right');
        }
    });
    $('head').append(`
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-grid.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-theme-quartz.css">
    `);

    // Tambahkan JS ag-Grid dan inisialisasi setelah selesai load
    $.getScript("https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js", function () {
        // Sisipkan elemen grid setelah #r_Keterangan
        $('#r_Keterangan').after(`
            <div id="sampling-log-row" class="row m-0">
                <div class="p-0 col-2"></div>
                <div class="p-0 col-10">
                    <div id="samplingGrid" class="ag-theme-quartz w-100 my-3" style="height: 300px;"></div>
                </div>
            </div>
        `);

        // Data statis
        const rowData = [
            {
                NamaKegiatan: 'Sampling Tangki 1',
                TanggalJam: '2025-05-28 08:00',
                Density: 0.85,
                Temperature: 25,
                Pressure: 1.2,
                Keterangan: 'Normal'
            },
            {
                NamaKegiatan: 'Sampling Tangki 2',
                TanggalJam: '2025-05-28 10:00',
                Density: 0.88,
                Temperature: 27,
                Pressure: 1.3,
                Keterangan: 'Perlu cek ulang'
            }
            // Tambahkan data lain di sini...
        ];

        // Definisi kolom
        const columnDefs = [
            { headerName: 'No.', valueGetter: 'node.rowIndex + 1', width: 80, filter: false },
            { headerName: 'Nama Kegiatan', field: 'NamaKegiatan', flex: 1 },
            { headerName: 'Tanggal Jam', field: 'TanggalJam', flex: 1 },
            { headerName: 'Density', field: 'Density', flex: 1 },
            { headerName: 'Temperature', field: 'Temperature', flex: 1 },
            { headerName: 'Pressure', field: 'Pressure', flex: 1 },
            { headerName: 'Keterangan', field: 'Keterangan', flex: 1 }
        ];
        const gridOptions = {
            columnDefs: columnDefs,
            rowData: rowData,
            defaultColDef: {
                sortable: false,
                suppressMovable: true,
                filter: true,
                resizable: false
            },
            pagination: true,
            paginationPageSize: 10
        };

        // Buat grid
        const gridDiv = document.querySelector('#samplingGrid');
        agGrid.createGrid(gridDiv, gridOptions);
    });
    if (idAktivitas && idAktivitas !== "0") {
        $.ajax({
            url: parent_url + `api/LookUpList/sub-aktivitas/startup?idAktivitas=${idAktivitas}`,
            type: 'GET',
            success: function(response) {
                // cek status
                if ($cancelButton.length){
                    let status = response.StatusAktivitas;
                    currentStatusAktivitas = status;
                    let $customButtons = ``;
                    switch (status) {
                        case "Waiting":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-draft">
                                    <i class="fas fa-save"></i> Save
                                </button>
                            `;
                            break;
                        case "Draft":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-draft">
                                    <i class="fas fa-save"></i> Save
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completed">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `
                            break;
                        case "Completed":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-editing">
                                    <i class="fa-solid fa-pen-to-square"></i> Edit
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completedEdit">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `;
                            break;
                        case "Editing":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-editing">
                                    <i class="fa-solid fa-pen-to-square"></i> Edit
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completedEdit">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `;
                            break;
                        case "Completed Edit":
                            if (userLevel === '4'){
                                $customButtons = `
                                    <button type="button" class="btn btn-warning ew-btn ml-2" id="btn-reverse-status">
                                        <i class="fa-solid fa-pen-to-square"></i> Edit 
                                    </button>
                                `;
                            }
                            break;
                    }
                    $cancelButton.before($customButtons);
                }

                // Cek is editable
                if(!response.IsEditable || response.StatusAktivitas === "Completed Edit"){
                    $("#btn-draft").hide();
                    $("#btn-editing").hide();
                    $("#btn-completed").hide();
                    $("#btn-completedEdit").hide();
                    $('input, select, textarea').prop('disabled', true);
                }

                // Log
                const mappedData = response.LogAktivitas.map(item => ({
                    Aktivitas: item.Aktivitas,
                    Username: item.UserName,
                    StatusAktivitas: item.StatusAktivitas,
                    Tanggal: item.Tanggal,
                    Catatan: item.Catatan
                }));
                $.getScript('https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js', function () {
                        $('#r_LastUpdatedBy').after(`
                            <div id="log-table-row" class="d-none row m-0">
                                <div class="p-0 col-2"></div>
                                <div class="p-0 col-10">
                                    <div id="log-table-wrapper" style="overflow: hidden; transition: all 0.6s ease; max-height: 0;">
                                        <div id="myGrid" class="ag-theme-quartz w-100 my-3" style="height: 300px;"></div>
                                    </div>
                                </div>
                            </div>
                        `);
                        const gridOptions = {
                            rowData: mappedData,
                            columnDefs: [
                                {
                                    headerName: 'No.',
                                    valueGetter: 'node.rowIndex + 1',
                                    width: 80,
                                    filter: false
                                },
                                {
                                    headerName: 'Aktivitas',
                                    field: 'Aktivitas',
                                    flex: 1
                                },
                                {
                                    headerName: 'Username',
                                    field: 'Username',
                                    flex: 1
                                },
                                {
                                    headerName: 'Status Aktivitas',
                                    field: 'StatusAktivitas',
                                    flex: 1
                                },
                                {
                                    headerName: 'Tanggal',
                                    field: 'Tanggal',
                                    flex: 1
                                },
                                {
                                    headerName: 'Catatan',
                                    field: 'Catatan',
                                    flex: 1
                                }
                            ],
                            defaultColDef: {
                                sortable: false,
                                suppressMovable: true,
                                filter: true,
                                resizable: false
                            },
                            rowSelection: 'multiple',
                            suppressRowClickSelection: true,
                            pagination: true,
                            paginationPageSize: 10
                        };
                        const myGridElement = document.querySelector('#myGrid');
                        agGrid.createGrid(myGridElement, gridOptions);
                    });
            },
            error: function(xhr, status, error) {
                ew.alert(xhr.responseJSON.message ?? "Terjadi kesalahan dalam memuat data");
            }
        });
    } else {
        console.warn("Skipping startup API: Invalid IdAktivitas");
        $('button[expand-log]').hide(); 
        $("#btn-draft, #btn-editing, #btn-completed, #btn-completedEdit").hide();
        $('input, select, textarea').prop('disabled', true);
    }
    // --- log aktivitas end ---
});
</script>
