@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiAgreementStslpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiAgreementStslpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasNilaiAgreementStslpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiAgreementStslpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiAgreementSTSLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasNilaiAgreementStslpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasNilaiAgreementStslpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasNilaiAgreementStslpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasNilaiAgreementStslpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasNilaiAgreementStslpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasNilaiAgreementStslpgList.TotalRecords > 0 && subAktivitasNilaiAgreementStslpgList.ExportOptions.Visible) {
    subAktivitasNilaiAgreementStslpgList.ExportOptions.Render("body");
}
@if (subAktivitasNilaiAgreementStslpgList.ImportOptions.Visible) {
    subAktivitasNilaiAgreementStslpgList.ImportOptions.Render("body");
}
@if (subAktivitasNilaiAgreementStslpgList.SearchOptions.Visible) {
    subAktivitasNilaiAgreementStslpgList.SearchOptions.Render("body");
}
@if (subAktivitasNilaiAgreementStslpgList.FilterOptions.Visible) {
    subAktivitasNilaiAgreementStslpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasNilaiAgreementStslpgList.IsModal) {
<form name="fSubAktivitasNilaiAgreementSTSLPGsrch" id="fSubAktivitasNilaiAgreementSTSLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasNilaiAgreementSTSLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasNilaiAgreementStslpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiAgreementStslpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiAgreementSTSLPG: currentTable } });
var currentForm;
var fSubAktivitasNilaiAgreementSTSLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiAgreementSTSLPGsrch")
        .setPageId("list")
@if (subAktivitasNilaiAgreementStslpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasNilaiAgreementStslpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasNilaiAgreementStslpgList.IsExport() && Empty(subAktivitasNilaiAgreementStslpgList.CurrentAction) && subAktivitasNilaiAgreementStslpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasNilaiAgreementStslpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasNilaiAgreementStslpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasNilaiAgreementStslpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasNilaiAgreementStslpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasNilaiAgreementSTSLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiAgreementStslpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasNilaiAgreementSTSLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiAgreementStslpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasNilaiAgreementSTSLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiAgreementStslpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasNilaiAgreementSTSLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasNilaiAgreementStslpgList.ShowPageHeader()
@subAktivitasNilaiAgreementStslpgList.ShowMessages()
<main class="list @(subAktivitasNilaiAgreementStslpgList.TotalRecords == 0 && !subAktivitasNilaiAgreementStslpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasNilaiAgreementStslpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasNilaiAgreementStslpgList.TotalRecords > 0 || !Empty(subAktivitasNilaiAgreementStslpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasNilaiAgreementStslpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasNilaiAgreementStslpgList.TableGridClass)">
<form name="@(subAktivitasNilaiAgreementStslpgList.FormName)" id="@(subAktivitasNilaiAgreementStslpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasNilaiAgreementStslpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasNilaiAgreementStslpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasNilaiAgreementSTSLPG" class="card-body ew-grid-middle-panel @(subAktivitasNilaiAgreementStslpgList.TableContainerClass)" style="@(subAktivitasNilaiAgreementStslpgList.TableContainerStyle)">
@if (subAktivitasNilaiAgreementStslpgList.TotalRecords > 0 || subAktivitasNilaiAgreementStslpgList.IsGridEdit || subAktivitasNilaiAgreementStslpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasNilaiAgreementSTSLPGlist" class="@(subAktivitasNilaiAgreementStslpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasNilaiAgreementStslpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasNilaiAgreementStslpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasNilaiAgreementStslpgList.ListOptions.RenderHeader("left")
@if (subAktivitasNilaiAgreementStslpgList.id.Visible) { // subAktivitasNilaiAgreementStslpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasNilaiAgreementStslpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementSTSLPG_id" class="SubAktivitasNilaiAgreementSTSLPG_id">@Html.Raw(subAktivitasNilaiAgreementStslpgList.RenderFieldHeader(subAktivitasNilaiAgreementStslpgList.id))</div></th>
} @* subAktivitasNilaiAgreementStslpgList.id.Visible (end) *@
@if (subAktivitasNilaiAgreementStslpgList.NoReferensi.Visible) { // subAktivitasNilaiAgreementStslpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasNilaiAgreementStslpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementSTSLPG_NoReferensi" class="SubAktivitasNilaiAgreementSTSLPG_NoReferensi">@Html.Raw(subAktivitasNilaiAgreementStslpgList.RenderFieldHeader(subAktivitasNilaiAgreementStslpgList.NoReferensi))</div></th>
} @* subAktivitasNilaiAgreementStslpgList.NoReferensi.Visible (end) *@
@if (subAktivitasNilaiAgreementStslpgList.idProses.Visible) { // subAktivitasNilaiAgreementStslpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasNilaiAgreementStslpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementSTSLPG_idProses" class="SubAktivitasNilaiAgreementSTSLPG_idProses">@Html.Raw(subAktivitasNilaiAgreementStslpgList.RenderFieldHeader(subAktivitasNilaiAgreementStslpgList.idProses))</div></th>
} @* subAktivitasNilaiAgreementStslpgList.idProses.Visible (end) *@
@if (subAktivitasNilaiAgreementStslpgList.idAktifitas.Visible) { // subAktivitasNilaiAgreementStslpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasNilaiAgreementStslpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementSTSLPG_idAktifitas" class="SubAktivitasNilaiAgreementSTSLPG_idAktifitas">@Html.Raw(subAktivitasNilaiAgreementStslpgList.RenderFieldHeader(subAktivitasNilaiAgreementStslpgList.idAktifitas))</div></th>
} @* subAktivitasNilaiAgreementStslpgList.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiAgreementStslpgList.StatusAktivitas.Visible) { // subAktivitasNilaiAgreementStslpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasNilaiAgreementStslpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementSTSLPG_StatusAktivitas" class="SubAktivitasNilaiAgreementSTSLPG_StatusAktivitas">@Html.Raw(subAktivitasNilaiAgreementStslpgList.RenderFieldHeader(subAktivitasNilaiAgreementStslpgList.StatusAktivitas))</div></th>
} @* subAktivitasNilaiAgreementStslpgList.StatusAktivitas.Visible (end) *@
@if (subAktivitasNilaiAgreementStslpgList.LastUpdatedBy.Visible) { // subAktivitasNilaiAgreementStslpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasNilaiAgreementStslpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementSTSLPG_LastUpdatedBy" class="SubAktivitasNilaiAgreementSTSLPG_LastUpdatedBy">@Html.Raw(subAktivitasNilaiAgreementStslpgList.RenderFieldHeader(subAktivitasNilaiAgreementStslpgList.LastUpdatedBy))</div></th>
} @* subAktivitasNilaiAgreementStslpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiAgreementStslpgList.lastUpdatedDate.Visible) { // subAktivitasNilaiAgreementStslpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasNilaiAgreementStslpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementSTSLPG_lastUpdatedDate" class="SubAktivitasNilaiAgreementSTSLPG_lastUpdatedDate">@Html.Raw(subAktivitasNilaiAgreementStslpgList.RenderFieldHeader(subAktivitasNilaiAgreementStslpgList.lastUpdatedDate))</div></th>
} @* subAktivitasNilaiAgreementStslpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasNilaiAgreementStslpgList.Flowrate.Visible) { // subAktivitasNilaiAgreementStslpgList.Flowrate.Visible (begin)
        <th data-name="Flowrate" class="@(subAktivitasNilaiAgreementStslpgList.Flowrate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementSTSLPG_Flowrate" class="SubAktivitasNilaiAgreementSTSLPG_Flowrate">@Html.Raw(subAktivitasNilaiAgreementStslpgList.RenderFieldHeader(subAktivitasNilaiAgreementStslpgList.Flowrate))</div></th>
} @* subAktivitasNilaiAgreementStslpgList.Flowrate.Visible (end) *@
@if (subAktivitasNilaiAgreementStslpgList.Pressure.Visible) { // subAktivitasNilaiAgreementStslpgList.Pressure.Visible (begin)
        <th data-name="Pressure" class="@(subAktivitasNilaiAgreementStslpgList.Pressure.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementSTSLPG_Pressure" class="SubAktivitasNilaiAgreementSTSLPG_Pressure">@Html.Raw(subAktivitasNilaiAgreementStslpgList.RenderFieldHeader(subAktivitasNilaiAgreementStslpgList.Pressure))</div></th>
} @* subAktivitasNilaiAgreementStslpgList.Pressure.Visible (end) *@
@if (subAktivitasNilaiAgreementStslpgList.StrippingTime.Visible) { // subAktivitasNilaiAgreementStslpgList.StrippingTime.Visible (begin)
        <th data-name="StrippingTime" class="@(subAktivitasNilaiAgreementStslpgList.StrippingTime.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementSTSLPG_StrippingTime" class="SubAktivitasNilaiAgreementSTSLPG_StrippingTime">@Html.Raw(subAktivitasNilaiAgreementStslpgList.RenderFieldHeader(subAktivitasNilaiAgreementStslpgList.StrippingTime))</div></th>
} @* subAktivitasNilaiAgreementStslpgList.StrippingTime.Visible (end) *@
@if (subAktivitasNilaiAgreementStslpgList.LamaPembongkaran.Visible) { // subAktivitasNilaiAgreementStslpgList.LamaPembongkaran.Visible (begin)
        <th data-name="LamaPembongkaran" class="@(subAktivitasNilaiAgreementStslpgList.LamaPembongkaran.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementSTSLPG_LamaPembongkaran" class="SubAktivitasNilaiAgreementSTSLPG_LamaPembongkaran">@Html.Raw(subAktivitasNilaiAgreementStslpgList.RenderFieldHeader(subAktivitasNilaiAgreementStslpgList.LamaPembongkaran))</div></th>
} @* subAktivitasNilaiAgreementStslpgList.LamaPembongkaran.Visible (end) *@
@if (subAktivitasNilaiAgreementStslpgList.ETC.Visible) { // subAktivitasNilaiAgreementStslpgList.ETC.Visible (begin)
        <th data-name="ETC" class="@(subAktivitasNilaiAgreementStslpgList.ETC.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementSTSLPG_ETC" class="SubAktivitasNilaiAgreementSTSLPG_ETC">@Html.Raw(subAktivitasNilaiAgreementStslpgList.RenderFieldHeader(subAktivitasNilaiAgreementStslpgList.ETC))</div></th>
} @* subAktivitasNilaiAgreementStslpgList.ETC.Visible (end) *@
@if (subAktivitasNilaiAgreementStslpgList.userInput.Visible) { // subAktivitasNilaiAgreementStslpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasNilaiAgreementStslpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementSTSLPG_userInput" class="SubAktivitasNilaiAgreementSTSLPG_userInput">@Html.Raw(subAktivitasNilaiAgreementStslpgList.RenderFieldHeader(subAktivitasNilaiAgreementStslpgList.userInput))</div></th>
} @* subAktivitasNilaiAgreementStslpgList.userInput.Visible (end) *@
@if (subAktivitasNilaiAgreementStslpgList.etlDate.Visible) { // subAktivitasNilaiAgreementStslpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasNilaiAgreementStslpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementSTSLPG_etlDate" class="SubAktivitasNilaiAgreementSTSLPG_etlDate">@Html.Raw(subAktivitasNilaiAgreementStslpgList.RenderFieldHeader(subAktivitasNilaiAgreementStslpgList.etlDate))</div></th>
} @* subAktivitasNilaiAgreementStslpgList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasNilaiAgreementStslpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasNilaiAgreementStslpgList.PageNumber)">
@{
    await subAktivitasNilaiAgreementStslpgList.SetupGrid();
    bool eof = subAktivitasNilaiAgreementStslpgList.Recordset == null; // DN
}
@while (subAktivitasNilaiAgreementStslpgList.RecordCount < subAktivitasNilaiAgreementStslpgList.StopRecord || SameString(subAktivitasNilaiAgreementStslpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasNilaiAgreementStslpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasNilaiAgreementStslpgList.IsGridAdd || subAktivitasNilaiAgreementStslpgList.CurrentMode == "copy") &&
        (!((subAktivitasNilaiAgreementStslpgList.IsCopy || subAktivitasNilaiAgreementStslpgList.IsAdd) && subAktivitasNilaiAgreementStslpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasNilaiAgreementStslpgList.Recordset.ReadAsync();
    subAktivitasNilaiAgreementStslpgList.RecordCount++;
    if (subAktivitasNilaiAgreementStslpgList.RecordCount >= subAktivitasNilaiAgreementStslpgList.StartRecord) {
        await subAktivitasNilaiAgreementStslpgList.SetupRow();
    <tr @Html.Raw(subAktivitasNilaiAgreementStslpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasNilaiAgreementStslpgList.ListOptions.RenderBody("left", subAktivitasNilaiAgreementStslpgList.RowCount)
    @if (subAktivitasNilaiAgreementStslpgList.id.Visible) { // subAktivitasNilaiAgreementStslpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasNilaiAgreementStslpgList.id.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementStslpgList.RowCount)_SubAktivitasNilaiAgreementSTSLPG_id" class="el_SubAktivitasNilaiAgreementSTSLPG_id">
<span @Html.Raw(subAktivitasNilaiAgreementStslpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementStslpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementStslpgList.id.Visible (end) *@
    @if (subAktivitasNilaiAgreementStslpgList.NoReferensi.Visible) { // subAktivitasNilaiAgreementStslpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasNilaiAgreementStslpgList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementStslpgList.RowCount)_SubAktivitasNilaiAgreementSTSLPG_NoReferensi" class="el_SubAktivitasNilaiAgreementSTSLPG_NoReferensi">
<span @Html.Raw(subAktivitasNilaiAgreementStslpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementStslpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementStslpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasNilaiAgreementStslpgList.idProses.Visible) { // subAktivitasNilaiAgreementStslpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasNilaiAgreementStslpgList.idProses.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementStslpgList.RowCount)_SubAktivitasNilaiAgreementSTSLPG_idProses" class="el_SubAktivitasNilaiAgreementSTSLPG_idProses">
<span @Html.Raw(subAktivitasNilaiAgreementStslpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementStslpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementStslpgList.idProses.Visible (end) *@
    @if (subAktivitasNilaiAgreementStslpgList.idAktifitas.Visible) { // subAktivitasNilaiAgreementStslpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasNilaiAgreementStslpgList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementStslpgList.RowCount)_SubAktivitasNilaiAgreementSTSLPG_idAktifitas" class="el_SubAktivitasNilaiAgreementSTSLPG_idAktifitas">
<span @Html.Raw(subAktivitasNilaiAgreementStslpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementStslpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementStslpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasNilaiAgreementStslpgList.StatusAktivitas.Visible) { // subAktivitasNilaiAgreementStslpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasNilaiAgreementStslpgList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementStslpgList.RowCount)_SubAktivitasNilaiAgreementSTSLPG_StatusAktivitas" class="el_SubAktivitasNilaiAgreementSTSLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasNilaiAgreementStslpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementStslpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementStslpgList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasNilaiAgreementStslpgList.LastUpdatedBy.Visible) { // subAktivitasNilaiAgreementStslpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasNilaiAgreementStslpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementStslpgList.RowCount)_SubAktivitasNilaiAgreementSTSLPG_LastUpdatedBy" class="el_SubAktivitasNilaiAgreementSTSLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasNilaiAgreementStslpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementStslpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementStslpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasNilaiAgreementStslpgList.lastUpdatedDate.Visible) { // subAktivitasNilaiAgreementStslpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasNilaiAgreementStslpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementStslpgList.RowCount)_SubAktivitasNilaiAgreementSTSLPG_lastUpdatedDate" class="el_SubAktivitasNilaiAgreementSTSLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasNilaiAgreementStslpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementStslpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementStslpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasNilaiAgreementStslpgList.Flowrate.Visible) { // subAktivitasNilaiAgreementStslpgList.Flowrate.Visible (begin)
        <td data-name="Flowrate" @Html.Raw(subAktivitasNilaiAgreementStslpgList.Flowrate.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementStslpgList.RowCount)_SubAktivitasNilaiAgreementSTSLPG_Flowrate" class="el_SubAktivitasNilaiAgreementSTSLPG_Flowrate">
<span @Html.Raw(subAktivitasNilaiAgreementStslpgList.Flowrate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementStslpgList.Flowrate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementStslpgList.Flowrate.Visible (end) *@
    @if (subAktivitasNilaiAgreementStslpgList.Pressure.Visible) { // subAktivitasNilaiAgreementStslpgList.Pressure.Visible (begin)
        <td data-name="Pressure" @Html.Raw(subAktivitasNilaiAgreementStslpgList.Pressure.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementStslpgList.RowCount)_SubAktivitasNilaiAgreementSTSLPG_Pressure" class="el_SubAktivitasNilaiAgreementSTSLPG_Pressure">
<span @Html.Raw(subAktivitasNilaiAgreementStslpgList.Pressure.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementStslpgList.Pressure.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementStslpgList.Pressure.Visible (end) *@
    @if (subAktivitasNilaiAgreementStslpgList.StrippingTime.Visible) { // subAktivitasNilaiAgreementStslpgList.StrippingTime.Visible (begin)
        <td data-name="StrippingTime" @Html.Raw(subAktivitasNilaiAgreementStslpgList.StrippingTime.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementStslpgList.RowCount)_SubAktivitasNilaiAgreementSTSLPG_StrippingTime" class="el_SubAktivitasNilaiAgreementSTSLPG_StrippingTime">
<span @Html.Raw(subAktivitasNilaiAgreementStslpgList.StrippingTime.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementStslpgList.StrippingTime.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementStslpgList.StrippingTime.Visible (end) *@
    @if (subAktivitasNilaiAgreementStslpgList.LamaPembongkaran.Visible) { // subAktivitasNilaiAgreementStslpgList.LamaPembongkaran.Visible (begin)
        <td data-name="LamaPembongkaran" @Html.Raw(subAktivitasNilaiAgreementStslpgList.LamaPembongkaran.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementStslpgList.RowCount)_SubAktivitasNilaiAgreementSTSLPG_LamaPembongkaran" class="el_SubAktivitasNilaiAgreementSTSLPG_LamaPembongkaran">
<span @Html.Raw(subAktivitasNilaiAgreementStslpgList.LamaPembongkaran.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementStslpgList.LamaPembongkaran.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementStslpgList.LamaPembongkaran.Visible (end) *@
    @if (subAktivitasNilaiAgreementStslpgList.ETC.Visible) { // subAktivitasNilaiAgreementStslpgList.ETC.Visible (begin)
        <td data-name="ETC" @Html.Raw(subAktivitasNilaiAgreementStslpgList.ETC.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementStslpgList.RowCount)_SubAktivitasNilaiAgreementSTSLPG_ETC" class="el_SubAktivitasNilaiAgreementSTSLPG_ETC">
<span @Html.Raw(subAktivitasNilaiAgreementStslpgList.ETC.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementStslpgList.ETC.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementStslpgList.ETC.Visible (end) *@
    @if (subAktivitasNilaiAgreementStslpgList.userInput.Visible) { // subAktivitasNilaiAgreementStslpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasNilaiAgreementStslpgList.userInput.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementStslpgList.RowCount)_SubAktivitasNilaiAgreementSTSLPG_userInput" class="el_SubAktivitasNilaiAgreementSTSLPG_userInput">
<span @Html.Raw(subAktivitasNilaiAgreementStslpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementStslpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementStslpgList.userInput.Visible (end) *@
    @if (subAktivitasNilaiAgreementStslpgList.etlDate.Visible) { // subAktivitasNilaiAgreementStslpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasNilaiAgreementStslpgList.etlDate.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementStslpgList.RowCount)_SubAktivitasNilaiAgreementSTSLPG_etlDate" class="el_SubAktivitasNilaiAgreementSTSLPG_etlDate">
<span @Html.Raw(subAktivitasNilaiAgreementStslpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementStslpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementStslpgList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasNilaiAgreementStslpgList.ListOptions.RenderBody("right", subAktivitasNilaiAgreementStslpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasNilaiAgreementStslpgList.RowIndex, "$rowindex$"))
        subAktivitasNilaiAgreementStslpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasNilaiAgreementStslpgList.IsCopy || subAktivitasNilaiAgreementStslpgList.IsAdd) && subAktivitasNilaiAgreementStslpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasNilaiAgreementStslpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasNilaiAgreementStslpgList.CurrentAction) && !subAktivitasNilaiAgreementStslpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasNilaiAgreementStslpgList.CloseRecordset(); }
@if (!subAktivitasNilaiAgreementStslpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasNilaiAgreementStslpgList.IsGridAdd && !(subAktivitasNilaiAgreementStslpgList.IsGridEdit && subAktivitasNilaiAgreementStslpgList.ModalGridEdit) && !subAktivitasNilaiAgreementStslpgList.IsMultiEdit) {
@Html.Raw(subAktivitasNilaiAgreementStslpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasNilaiAgreementStslpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasNilaiAgreementStslpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasNilaiAgreementStslpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasNilaiAgreementStslpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasNilaiAgreementStslpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasNilaiAgreementSTSLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
