@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputNilaiAktualDischargeList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputNilaiAktualDischargeList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputNilaiAktualDischargeList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputNilaiAktualDischargeList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputNilaiAktualDischarge: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasFormInputNilaiAktualDischargeList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasFormInputNilaiAktualDischargeList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasFormInputNilaiAktualDischargeList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasFormInputNilaiAktualDischargeList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasFormInputNilaiAktualDischargeList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasFormInputNilaiAktualDischargeList.TotalRecords > 0 && subAktivitasFormInputNilaiAktualDischargeList.ExportOptions.Visible) {
    subAktivitasFormInputNilaiAktualDischargeList.ExportOptions.Render("body");
}
@if (subAktivitasFormInputNilaiAktualDischargeList.ImportOptions.Visible) {
    subAktivitasFormInputNilaiAktualDischargeList.ImportOptions.Render("body");
}
@if (subAktivitasFormInputNilaiAktualDischargeList.SearchOptions.Visible) {
    subAktivitasFormInputNilaiAktualDischargeList.SearchOptions.Render("body");
}
@if (subAktivitasFormInputNilaiAktualDischargeList.FilterOptions.Visible) {
    subAktivitasFormInputNilaiAktualDischargeList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasFormInputNilaiAktualDischargeList.IsModal) {
<form name="fSubAktivitasFormInputNilaiAktualDischargesrch" id="fSubAktivitasFormInputNilaiAktualDischargesrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasFormInputNilaiAktualDischargesrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasFormInputNilaiAktualDischargeList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputNilaiAktualDischargeList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputNilaiAktualDischarge: currentTable } });
var currentForm;
var fSubAktivitasFormInputNilaiAktualDischargesrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputNilaiAktualDischargesrch")
        .setPageId("list")
@if (subAktivitasFormInputNilaiAktualDischargeList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasFormInputNilaiAktualDischargeList.IsExport() && Empty(subAktivitasFormInputNilaiAktualDischargeList.CurrentAction) && subAktivitasFormInputNilaiAktualDischargeList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktualDischargeList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasFormInputNilaiAktualDischargeList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasFormInputNilaiAktualDischargeList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasFormInputNilaiAktualDischargesrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputNilaiAktualDischargeList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasFormInputNilaiAktualDischargesrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputNilaiAktualDischargeList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasFormInputNilaiAktualDischargesrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputNilaiAktualDischargeList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasFormInputNilaiAktualDischargesrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasFormInputNilaiAktualDischargeList.ShowPageHeader()
@subAktivitasFormInputNilaiAktualDischargeList.ShowMessages()
<main class="list @(subAktivitasFormInputNilaiAktualDischargeList.TotalRecords == 0 && !subAktivitasFormInputNilaiAktualDischargeList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasFormInputNilaiAktualDischargeList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasFormInputNilaiAktualDischargeList.TotalRecords > 0 || !Empty(subAktivitasFormInputNilaiAktualDischargeList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasFormInputNilaiAktualDischargeList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasFormInputNilaiAktualDischargeList.TableGridClass)">
<form name="@(subAktivitasFormInputNilaiAktualDischargeList.FormName)" id="@(subAktivitasFormInputNilaiAktualDischargeList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasFormInputNilaiAktualDischargeList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasFormInputNilaiAktualDischargeList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasFormInputNilaiAktualDischarge" class="card-body ew-grid-middle-panel @(subAktivitasFormInputNilaiAktualDischargeList.TableContainerClass)" style="@(subAktivitasFormInputNilaiAktualDischargeList.TableContainerStyle)">
@if (subAktivitasFormInputNilaiAktualDischargeList.TotalRecords > 0 || subAktivitasFormInputNilaiAktualDischargeList.IsGridEdit || subAktivitasFormInputNilaiAktualDischargeList.IsMultiEdit) {
<table id="tbl_SubAktivitasFormInputNilaiAktualDischargelist" class="@(subAktivitasFormInputNilaiAktualDischargeList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasFormInputNilaiAktualDischargeList.RowType = RowType.Header;

    // Render list options
    await subAktivitasFormInputNilaiAktualDischargeList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasFormInputNilaiAktualDischargeList.ListOptions.RenderHeader("left")
@if (subAktivitasFormInputNilaiAktualDischargeList.id.Visible) { // subAktivitasFormInputNilaiAktualDischargeList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasFormInputNilaiAktualDischargeList.id.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktualDischarge_id" class="SubAktivitasFormInputNilaiAktualDischarge_id">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.RenderFieldHeader(subAktivitasFormInputNilaiAktualDischargeList.id))</div></th>
} @* subAktivitasFormInputNilaiAktualDischargeList.id.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeList.idAktifitas.Visible) { // subAktivitasFormInputNilaiAktualDischargeList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasFormInputNilaiAktualDischargeList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktualDischarge_idAktifitas" class="SubAktivitasFormInputNilaiAktualDischarge_idAktifitas">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.RenderFieldHeader(subAktivitasFormInputNilaiAktualDischargeList.idAktifitas))</div></th>
} @* subAktivitasFormInputNilaiAktualDischargeList.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeList.idProses.Visible) { // subAktivitasFormInputNilaiAktualDischargeList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasFormInputNilaiAktualDischargeList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktualDischarge_idProses" class="SubAktivitasFormInputNilaiAktualDischarge_idProses">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.RenderFieldHeader(subAktivitasFormInputNilaiAktualDischargeList.idProses))</div></th>
} @* subAktivitasFormInputNilaiAktualDischargeList.idProses.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeList.NoReferensi.Visible) { // subAktivitasFormInputNilaiAktualDischargeList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasFormInputNilaiAktualDischargeList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktualDischarge_NoReferensi" class="SubAktivitasFormInputNilaiAktualDischarge_NoReferensi">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.RenderFieldHeader(subAktivitasFormInputNilaiAktualDischargeList.NoReferensi))</div></th>
} @* subAktivitasFormInputNilaiAktualDischargeList.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeList.KL_Obs.Visible) { // subAktivitasFormInputNilaiAktualDischargeList.KL_Obs.Visible (begin)
        <th data-name="KL_Obs" class="@(subAktivitasFormInputNilaiAktualDischargeList.KL_Obs.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktualDischarge_KL_Obs" class="SubAktivitasFormInputNilaiAktualDischarge_KL_Obs">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.RenderFieldHeader(subAktivitasFormInputNilaiAktualDischargeList.KL_Obs))</div></th>
} @* subAktivitasFormInputNilaiAktualDischargeList.KL_Obs.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeList.KL_15.Visible) { // subAktivitasFormInputNilaiAktualDischargeList.KL_15.Visible (begin)
        <th data-name="KL_15" class="@(subAktivitasFormInputNilaiAktualDischargeList.KL_15.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktualDischarge_KL_15" class="SubAktivitasFormInputNilaiAktualDischarge_KL_15">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.RenderFieldHeader(subAktivitasFormInputNilaiAktualDischargeList.KL_15))</div></th>
} @* subAktivitasFormInputNilaiAktualDischargeList.KL_15.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeList.Barrels.Visible) { // subAktivitasFormInputNilaiAktualDischargeList.Barrels.Visible (begin)
        <th data-name="Barrels" class="@(subAktivitasFormInputNilaiAktualDischargeList.Barrels.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktualDischarge_Barrels" class="SubAktivitasFormInputNilaiAktualDischarge_Barrels">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.RenderFieldHeader(subAktivitasFormInputNilaiAktualDischargeList.Barrels))</div></th>
} @* subAktivitasFormInputNilaiAktualDischargeList.Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeList.LT.Visible) { // subAktivitasFormInputNilaiAktualDischargeList.LT.Visible (begin)
        <th data-name="LT" class="@(subAktivitasFormInputNilaiAktualDischargeList.LT.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktualDischarge_LT" class="SubAktivitasFormInputNilaiAktualDischarge_LT">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.RenderFieldHeader(subAktivitasFormInputNilaiAktualDischargeList.LT))</div></th>
} @* subAktivitasFormInputNilaiAktualDischargeList.LT.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeList.MT.Visible) { // subAktivitasFormInputNilaiAktualDischargeList.MT.Visible (begin)
        <th data-name="MT" class="@(subAktivitasFormInputNilaiAktualDischargeList.MT.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktualDischarge_MT" class="SubAktivitasFormInputNilaiAktualDischarge_MT">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.RenderFieldHeader(subAktivitasFormInputNilaiAktualDischargeList.MT))</div></th>
} @* subAktivitasFormInputNilaiAktualDischargeList.MT.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeList.userInput.Visible) { // subAktivitasFormInputNilaiAktualDischargeList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasFormInputNilaiAktualDischargeList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktualDischarge_userInput" class="SubAktivitasFormInputNilaiAktualDischarge_userInput">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.RenderFieldHeader(subAktivitasFormInputNilaiAktualDischargeList.userInput))</div></th>
} @* subAktivitasFormInputNilaiAktualDischargeList.userInput.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeList.etlDate.Visible) { // subAktivitasFormInputNilaiAktualDischargeList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasFormInputNilaiAktualDischargeList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktualDischarge_etlDate" class="SubAktivitasFormInputNilaiAktualDischarge_etlDate">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.RenderFieldHeader(subAktivitasFormInputNilaiAktualDischargeList.etlDate))</div></th>
} @* subAktivitasFormInputNilaiAktualDischargeList.etlDate.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeList.LastUpdatedBy.Visible) { // subAktivitasFormInputNilaiAktualDischargeList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasFormInputNilaiAktualDischargeList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktualDischarge_LastUpdatedBy" class="SubAktivitasFormInputNilaiAktualDischarge_LastUpdatedBy">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.RenderFieldHeader(subAktivitasFormInputNilaiAktualDischargeList.LastUpdatedBy))</div></th>
} @* subAktivitasFormInputNilaiAktualDischargeList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeList.lastUpdatedDate.Visible) { // subAktivitasFormInputNilaiAktualDischargeList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasFormInputNilaiAktualDischargeList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktualDischarge_lastUpdatedDate" class="SubAktivitasFormInputNilaiAktualDischarge_lastUpdatedDate">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.RenderFieldHeader(subAktivitasFormInputNilaiAktualDischargeList.lastUpdatedDate))</div></th>
} @* subAktivitasFormInputNilaiAktualDischargeList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeList.StatusAktivitas.Visible) { // subAktivitasFormInputNilaiAktualDischargeList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasFormInputNilaiAktualDischargeList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktualDischarge_StatusAktivitas" class="SubAktivitasFormInputNilaiAktualDischarge_StatusAktivitas">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.RenderFieldHeader(subAktivitasFormInputNilaiAktualDischargeList.StatusAktivitas))</div></th>
} @* subAktivitasFormInputNilaiAktualDischargeList.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeList.ApakahAdaROB.Visible) { // subAktivitasFormInputNilaiAktualDischargeList.ApakahAdaROB.Visible (begin)
        <th data-name="ApakahAdaROB" class="@(subAktivitasFormInputNilaiAktualDischargeList.ApakahAdaROB.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktualDischarge_ApakahAdaROB" class="SubAktivitasFormInputNilaiAktualDischarge_ApakahAdaROB">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.RenderFieldHeader(subAktivitasFormInputNilaiAktualDischargeList.ApakahAdaROB))</div></th>
} @* subAktivitasFormInputNilaiAktualDischargeList.ApakahAdaROB.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeList.Tujuan.Visible) { // subAktivitasFormInputNilaiAktualDischargeList.Tujuan.Visible (begin)
        <th data-name="Tujuan" class="@(subAktivitasFormInputNilaiAktualDischargeList.Tujuan.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiAktualDischarge_Tujuan" class="SubAktivitasFormInputNilaiAktualDischarge_Tujuan">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.RenderFieldHeader(subAktivitasFormInputNilaiAktualDischargeList.Tujuan))</div></th>
} @* subAktivitasFormInputNilaiAktualDischargeList.Tujuan.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasFormInputNilaiAktualDischargeList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasFormInputNilaiAktualDischargeList.PageNumber)">
@{
    await subAktivitasFormInputNilaiAktualDischargeList.SetupGrid();
    bool eof = subAktivitasFormInputNilaiAktualDischargeList.Recordset == null; // DN
}
@while (subAktivitasFormInputNilaiAktualDischargeList.RecordCount < subAktivitasFormInputNilaiAktualDischargeList.StopRecord || SameString(subAktivitasFormInputNilaiAktualDischargeList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasFormInputNilaiAktualDischargeList.RowIndex, "$rowindex$") &&
        (!subAktivitasFormInputNilaiAktualDischargeList.IsGridAdd || subAktivitasFormInputNilaiAktualDischargeList.CurrentMode == "copy") &&
        (!((subAktivitasFormInputNilaiAktualDischargeList.IsCopy || subAktivitasFormInputNilaiAktualDischargeList.IsAdd) && subAktivitasFormInputNilaiAktualDischargeList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasFormInputNilaiAktualDischargeList.Recordset.ReadAsync();
    subAktivitasFormInputNilaiAktualDischargeList.RecordCount++;
    if (subAktivitasFormInputNilaiAktualDischargeList.RecordCount >= subAktivitasFormInputNilaiAktualDischargeList.StartRecord) {
        await subAktivitasFormInputNilaiAktualDischargeList.SetupRow();
    <tr @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasFormInputNilaiAktualDischargeList.ListOptions.RenderBody("left", subAktivitasFormInputNilaiAktualDischargeList.RowCount)
    @if (subAktivitasFormInputNilaiAktualDischargeList.id.Visible) { // subAktivitasFormInputNilaiAktualDischargeList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktualDischargeList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktualDischargeList.RowCount)_SubAktivitasFormInputNilaiAktualDischarge_id" class="el_SubAktivitasFormInputNilaiAktualDischarge_id">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktualDischargeList.id.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktualDischargeList.idAktifitas.Visible) { // subAktivitasFormInputNilaiAktualDischargeList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktualDischargeList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktualDischargeList.RowCount)_SubAktivitasFormInputNilaiAktualDischarge_idAktifitas" class="el_SubAktivitasFormInputNilaiAktualDischarge_idAktifitas">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktualDischargeList.idAktifitas.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktualDischargeList.idProses.Visible) { // subAktivitasFormInputNilaiAktualDischargeList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktualDischargeList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktualDischargeList.RowCount)_SubAktivitasFormInputNilaiAktualDischarge_idProses" class="el_SubAktivitasFormInputNilaiAktualDischarge_idProses">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktualDischargeList.idProses.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktualDischargeList.NoReferensi.Visible) { // subAktivitasFormInputNilaiAktualDischargeList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktualDischargeList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktualDischargeList.RowCount)_SubAktivitasFormInputNilaiAktualDischarge_NoReferensi" class="el_SubAktivitasFormInputNilaiAktualDischarge_NoReferensi">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktualDischargeList.NoReferensi.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktualDischargeList.KL_Obs.Visible) { // subAktivitasFormInputNilaiAktualDischargeList.KL_Obs.Visible (begin)
        <td data-name="KL_Obs" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.KL_Obs.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktualDischargeList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktualDischargeList.RowCount)_SubAktivitasFormInputNilaiAktualDischarge_KL_Obs" class="el_SubAktivitasFormInputNilaiAktualDischarge_KL_Obs">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.KL_Obs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.KL_Obs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktualDischargeList.KL_Obs.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktualDischargeList.KL_15.Visible) { // subAktivitasFormInputNilaiAktualDischargeList.KL_15.Visible (begin)
        <td data-name="KL_15" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.KL_15.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktualDischargeList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktualDischargeList.RowCount)_SubAktivitasFormInputNilaiAktualDischarge_KL_15" class="el_SubAktivitasFormInputNilaiAktualDischarge_KL_15">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.KL_15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.KL_15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktualDischargeList.KL_15.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktualDischargeList.Barrels.Visible) { // subAktivitasFormInputNilaiAktualDischargeList.Barrels.Visible (begin)
        <td data-name="Barrels" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.Barrels.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktualDischargeList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktualDischargeList.RowCount)_SubAktivitasFormInputNilaiAktualDischarge_Barrels" class="el_SubAktivitasFormInputNilaiAktualDischarge_Barrels">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.Barrels.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.Barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktualDischargeList.Barrels.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktualDischargeList.LT.Visible) { // subAktivitasFormInputNilaiAktualDischargeList.LT.Visible (begin)
        <td data-name="LT" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.LT.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktualDischargeList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktualDischargeList.RowCount)_SubAktivitasFormInputNilaiAktualDischarge_LT" class="el_SubAktivitasFormInputNilaiAktualDischarge_LT">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.LT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.LT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktualDischargeList.LT.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktualDischargeList.MT.Visible) { // subAktivitasFormInputNilaiAktualDischargeList.MT.Visible (begin)
        <td data-name="MT" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.MT.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktualDischargeList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktualDischargeList.RowCount)_SubAktivitasFormInputNilaiAktualDischarge_MT" class="el_SubAktivitasFormInputNilaiAktualDischarge_MT">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.MT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktualDischargeList.MT.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktualDischargeList.userInput.Visible) { // subAktivitasFormInputNilaiAktualDischargeList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktualDischargeList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktualDischargeList.RowCount)_SubAktivitasFormInputNilaiAktualDischarge_userInput" class="el_SubAktivitasFormInputNilaiAktualDischarge_userInput">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktualDischargeList.userInput.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktualDischargeList.etlDate.Visible) { // subAktivitasFormInputNilaiAktualDischargeList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktualDischargeList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktualDischargeList.RowCount)_SubAktivitasFormInputNilaiAktualDischarge_etlDate" class="el_SubAktivitasFormInputNilaiAktualDischarge_etlDate">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktualDischargeList.etlDate.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktualDischargeList.LastUpdatedBy.Visible) { // subAktivitasFormInputNilaiAktualDischargeList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktualDischargeList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktualDischargeList.RowCount)_SubAktivitasFormInputNilaiAktualDischarge_LastUpdatedBy" class="el_SubAktivitasFormInputNilaiAktualDischarge_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktualDischargeList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktualDischargeList.lastUpdatedDate.Visible) { // subAktivitasFormInputNilaiAktualDischargeList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktualDischargeList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktualDischargeList.RowCount)_SubAktivitasFormInputNilaiAktualDischarge_lastUpdatedDate" class="el_SubAktivitasFormInputNilaiAktualDischarge_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktualDischargeList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktualDischargeList.StatusAktivitas.Visible) { // subAktivitasFormInputNilaiAktualDischargeList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktualDischargeList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktualDischargeList.RowCount)_SubAktivitasFormInputNilaiAktualDischarge_StatusAktivitas" class="el_SubAktivitasFormInputNilaiAktualDischarge_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktualDischargeList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktualDischargeList.ApakahAdaROB.Visible) { // subAktivitasFormInputNilaiAktualDischargeList.ApakahAdaROB.Visible (begin)
        <td data-name="ApakahAdaROB" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.ApakahAdaROB.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktualDischargeList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktualDischargeList.RowCount)_SubAktivitasFormInputNilaiAktualDischarge_ApakahAdaROB" class="el_SubAktivitasFormInputNilaiAktualDischarge_ApakahAdaROB">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.ApakahAdaROB.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(subAktivitasFormInputNilaiAktualDischargeList.ApakahAdaROB.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktualDischargeList.ApakahAdaROB.Visible (end) *@
    @if (subAktivitasFormInputNilaiAktualDischargeList.Tujuan.Visible) { // subAktivitasFormInputNilaiAktualDischargeList.Tujuan.Visible (begin)
        <td data-name="Tujuan" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.Tujuan.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiAktualDischargeList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiAktualDischargeList.RowCount)_SubAktivitasFormInputNilaiAktualDischarge_Tujuan" class="el_SubAktivitasFormInputNilaiAktualDischarge_Tujuan">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.Tujuan.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.Tujuan.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiAktualDischargeList.Tujuan.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasFormInputNilaiAktualDischargeList.ListOptions.RenderBody("right", subAktivitasFormInputNilaiAktualDischargeList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasFormInputNilaiAktualDischargeList.RowIndex, "$rowindex$"))
        subAktivitasFormInputNilaiAktualDischargeList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasFormInputNilaiAktualDischargeList.IsCopy || subAktivitasFormInputNilaiAktualDischargeList.IsAdd) && subAktivitasFormInputNilaiAktualDischargeList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasFormInputNilaiAktualDischargeList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasFormInputNilaiAktualDischargeList.CurrentAction) && !subAktivitasFormInputNilaiAktualDischargeList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasFormInputNilaiAktualDischargeList.CloseRecordset(); }
@if (!subAktivitasFormInputNilaiAktualDischargeList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasFormInputNilaiAktualDischargeList.IsGridAdd && !(subAktivitasFormInputNilaiAktualDischargeList.IsGridEdit && subAktivitasFormInputNilaiAktualDischargeList.ModalGridEdit) && !subAktivitasFormInputNilaiAktualDischargeList.IsMultiEdit) {
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasFormInputNilaiAktualDischargeList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasFormInputNilaiAktualDischargeList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasFormInputNilaiAktualDischargeList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasFormInputNilaiAktualDischargeList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputNilaiAktualDischargeList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputNilaiAktualDischarge");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
