@{
    // View
    View = this;

    // Check action result
    if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.ShowPageHeader()
@subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPGedit" id="fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPGedit" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPGedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPGedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["NamaKapal", [fields.NamaKapal.visible && fields.NamaKapal.required ? ew.Validators.required(fields.NamaKapal.caption) : null], fields.NamaKapal.isInvalid],
            ["Tanggal", [fields.Tanggal.visible && fields.Tanggal.required ? ew.Validators.required(fields.Tanggal.caption) : null, ew.Validators.datetime(fields.Tanggal.clientFormatPattern)], fields.Tanggal.isInvalid],
            ["NamaKegiatan", [fields.NamaKegiatan.visible && fields.NamaKegiatan.required ? ew.Validators.required(fields.NamaKegiatan.caption) : null], fields.NamaKegiatan.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["Density", [fields.Density.visible && fields.Density.required ? ew.Validators.required(fields.Density.caption) : null], fields.Density.isInvalid],
            ["Temperature", [fields.Temperature.visible && fields.Temperature.required ? ew.Validators.required(fields.Temperature.caption) : null], fields.Temperature.isInvalid],
            ["Pressure", [fields.Pressure.visible && fields.Pressure.required ? ew.Validators.required(fields.Pressure.caption) : null], fields.Pressure.isInvalid],
            ["Keterangan", [fields.Keterangan.visible && fields.Keterangan.required ? ew.Validators.required(fields.Keterangan.caption) : null], fields.Keterangan.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.OldKeyName)" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.id.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.id.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_id" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.id.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.id.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_id">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.id.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.idProses.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_idProses" for="x_idProses" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.idProses.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_idProses">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG" data-field="x_idProses" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.idProses.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.idProses.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.idAktifitas.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_idAktifitas" for="x_idAktifitas" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.idAktifitas.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_idAktifitas">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG" data-field="x_idAktifitas" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.idAktifitas.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.idAktifitas.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NoReferensi.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_NoReferensi" for="x_NoReferensi" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NoReferensi.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_NoReferensi">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NoReferensi.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NoReferensi.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NamaKapal.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NamaKapal.Visible (begin)
    <div id="r_NamaKapal" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NamaKapal.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_NamaKapal" for="x_NamaKapal" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NamaKapal.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NamaKapal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NamaKapal.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_NamaKapal">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NamaKapal.InputTextType)" name="x_NamaKapal" id="x_NamaKapal" data-table="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG" data-field="x_NamaKapal" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NamaKapal.EditValue)" size="30" maxlength="200" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NamaKapal.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NamaKapal.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NamaKapal.EditAttributes) aria-describedby="x_NamaKapal_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NamaKapal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NamaKapal.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NamaKapal.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Tanggal.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Tanggal.Visible (begin)
    <div id="r_Tanggal" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Tanggal.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_Tanggal" for="x_Tanggal" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Tanggal.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Tanggal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Tanggal.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_Tanggal">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Tanggal.InputTextType)" name="x_Tanggal" id="x_Tanggal" data-table="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG" data-field="x_Tanggal" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Tanggal.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Tanggal.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Tanggal.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Tanggal.EditAttributes) aria-describedby="x_Tanggal_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Tanggal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Tanggal.GetErrorMessage())</div>
@if (!subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Tanggal.ReadOnly && !subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Tanggal.Disabled && !subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Tanggal.EditAttrs.Is("readonly") && !subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Tanggal.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPGedit", "x_Tanggal", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Tanggal.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NamaKegiatan.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NamaKegiatan.Visible (begin)
    <div id="r_NamaKegiatan" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NamaKegiatan.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_NamaKegiatan" for="x_NamaKegiatan" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NamaKegiatan.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NamaKegiatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NamaKegiatan.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_NamaKegiatan">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NamaKegiatan.InputTextType)" name="x_NamaKegiatan" id="x_NamaKegiatan" data-table="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG" data-field="x_NamaKegiatan" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NamaKegiatan.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NamaKegiatan.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NamaKegiatan.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NamaKegiatan.EditAttributes) aria-describedby="x_NamaKegiatan_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NamaKegiatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NamaKegiatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.NamaKegiatan.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Produk.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Produk.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_Produk" for="x_Produk" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Produk.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Produk.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_Produk">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG" data-field="x_Produk" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Produk.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Produk.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Produk.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Density.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Density.Visible (begin)
    <div id="r_Density" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Density.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_Density" for="x_Density" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Density.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Density.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Density.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_Density">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Density.InputTextType)" name="x_Density" id="x_Density" data-table="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG" data-field="x_Density" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Density.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Density.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Density.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Density.EditAttributes) aria-describedby="x_Density_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Density.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Density.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Density.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Temperature.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Temperature.Visible (begin)
    <div id="r_Temperature" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Temperature.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_Temperature" for="x_Temperature" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Temperature.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Temperature.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Temperature.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_Temperature">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Temperature.InputTextType)" name="x_Temperature" id="x_Temperature" data-table="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG" data-field="x_Temperature" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Temperature.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Temperature.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Temperature.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Temperature.EditAttributes) aria-describedby="x_Temperature_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Temperature.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Temperature.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Temperature.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Pressure.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Pressure.Visible (begin)
    <div id="r_Pressure" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Pressure.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_Pressure" for="x_Pressure" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Pressure.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Pressure.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Pressure.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_Pressure">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Pressure.InputTextType)" name="x_Pressure" id="x_Pressure" data-table="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG" data-field="x_Pressure" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Pressure.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Pressure.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Pressure.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Pressure.EditAttributes) aria-describedby="x_Pressure_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Pressure.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Pressure.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Pressure.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Keterangan.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Keterangan.Visible (begin)
    <div id="r_Keterangan" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Keterangan.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_Keterangan" for="x_Keterangan" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Keterangan.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Keterangan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Keterangan.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_Keterangan">
<textarea data-table="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG" data-field="x_Keterangan" name="x_Keterangan" id="x_Keterangan" cols="35" rows="4" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Keterangan.PlaceHolder))"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Keterangan.EditAttributes) aria-describedby="x_Keterangan_help">@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Keterangan.EditValue)</textarea>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Keterangan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Keterangan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.Keterangan.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.userInput.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.userInput.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_userInput" for="x_userInput" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.userInput.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.userInput.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_userInput">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG" data-field="x_userInput" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.userInput.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.userInput.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.etlDate.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_etlDate" for="x_etlDate" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.etlDate.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.etlDate.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_etlDate">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG" data-field="x_etlDate" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.etlDate.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.etlDate.GetErrorMessage())</div>
@if (!subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.etlDate.ReadOnly && !subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.etlDate.Disabled && !subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.etlDate.EditAttrs.Is("readonly") && !subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPGedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.etlDate.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.LastUpdatedBy.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_LastUpdatedBy">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.lastUpdatedDate.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_lastUpdatedDate">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.lastUpdatedDate.ReadOnly && !subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.lastUpdatedDate.Disabled && !subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPGedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.lastUpdatedDate.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.CloseRecordset(); }
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPGedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPGedit" data-href="@AppPath(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
