@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputBLnSfalrtwAdd.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputBLnSfalrtwAdd.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputBLnSfalrtwAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputBLnSFALRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fSubAktivitasFormInputBLnSFALRTWadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputBLnSFALRTWadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["BL_KLObs", [fields.BL_KLObs.visible && fields.BL_KLObs.required ? ew.Validators.required(fields.BL_KLObs.caption) : null], fields.BL_KLObs.isInvalid],
            ["BL_KL15", [fields.BL_KL15.visible && fields.BL_KL15.required ? ew.Validators.required(fields.BL_KL15.caption) : null], fields.BL_KL15.isInvalid],
            ["BL_Barrels", [fields.BL_Barrels.visible && fields.BL_Barrels.required ? ew.Validators.required(fields.BL_Barrels.caption) : null], fields.BL_Barrels.isInvalid],
            ["BL_LT", [fields.BL_LT.visible && fields.BL_LT.required ? ew.Validators.required(fields.BL_LT.caption) : null], fields.BL_LT.isInvalid],
            ["BL_MT", [fields.BL_MT.visible && fields.BL_MT.required ? ew.Validators.required(fields.BL_MT.caption) : null], fields.BL_MT.isInvalid],
            ["SFAL_KLObs", [fields.SFAL_KLObs.visible && fields.SFAL_KLObs.required ? ew.Validators.required(fields.SFAL_KLObs.caption) : null], fields.SFAL_KLObs.isInvalid],
            ["SFAL_KL15", [fields.SFAL_KL15.visible && fields.SFAL_KL15.required ? ew.Validators.required(fields.SFAL_KL15.caption) : null], fields.SFAL_KL15.isInvalid],
            ["SFAL_Barrels", [fields.SFAL_Barrels.visible && fields.SFAL_Barrels.required ? ew.Validators.required(fields.SFAL_Barrels.caption) : null], fields.SFAL_Barrels.isInvalid],
            ["SFAL_LT", [fields.SFAL_LT.visible && fields.SFAL_LT.required ? ew.Validators.required(fields.SFAL_LT.caption) : null], fields.SFAL_LT.isInvalid],
            ["SFAL_MT", [fields.SFAL_MT.visible && fields.SFAL_MT.required ? ew.Validators.required(fields.SFAL_MT.caption) : null], fields.SFAL_MT.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null, ew.Validators.integer], fields.StatusAktivitas.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "idAktifitas": @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.idAktifitas.ToClientList(subAktivitasFormInputBLnSfalrtwAdd)),
            "idProses": @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.idProses.ToClientList(subAktivitasFormInputBLnSfalrtwAdd)),
            "StatusAktivitas": @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.StatusAktivitas.ToClientList(subAktivitasFormInputBLnSfalrtwAdd)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasFormInputBLnSfalrtwAdd.ShowPageHeader()
@subAktivitasFormInputBLnSfalrtwAdd.ShowMessages()
<form name="fSubAktivitasFormInputBLnSFALRTWadd" id="fSubAktivitasFormInputBLnSFALRTWadd" class="@(subAktivitasFormInputBLnSfalrtwAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputBLnSfalrtwAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasFormInputBLnSfalrtwAdd.OldKeyName)" value="@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (subAktivitasFormInputBLnSfalrtwAdd.idAktifitas.Visible) { // subAktivitasFormInputBLnSfalrtwAdd.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_idAktifitas" class="@(subAktivitasFormInputBLnSfalrtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.idAktifitas.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputBLnSfalrtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_idAktifitas">
<span>@{
    if (IsRTL) {
        subAktivitasFormInputBLnSfalrtwAdd.idAktifitas.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_idAktifitas" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_idAktifitas" id="sv_x_idAktifitas" value="@(RemoveHtml(ConvertToString(subAktivitasFormInputBLnSfalrtwAdd.idAktifitas.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwAdd.idAktifitas.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwAdd.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLnSfalrtwAdd.idAktifitas.FormatPattern)" @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_idAktifitas" data-input="sv_x_idAktifitas" data-value-separator="@(subAktivitasFormInputBLnSfalrtwAdd.idAktifitas.DisplayValueSeparatorAttribute)" name="x_idAktifitas" id="x_idAktifitas" value="@(HtmlEncode(subAktivitasFormInputBLnSfalrtwAdd.idAktifitas.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.idAktifitas.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasFormInputBLnSFALRTWadd"], function() {
    fSubAktivitasFormInputBLnSFALRTWadd.createAutoSuggest(Object.assign({"id":"x_idAktifitas","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasFormInputBLnSfalrtwAdd.idAktifitas.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasFormInputBLnSFALRTW.fields.idAktifitas.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.idAktifitas.Lookup.GetParamTag(subAktivitasFormInputBLnSfalrtwAdd, "p_x_idAktifitas"))
</span>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwAdd.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwAdd.BL_KLObs.Visible) { // subAktivitasFormInputBLnSfalrtwAdd.BL_KLObs.Visible (begin)
    <div id="r_BL_KLObs" @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_KLObs.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_BL_KLObs" for="x_BL_KLObs" class="@(subAktivitasFormInputBLnSfalrtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_KLObs.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_KLObs.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputBLnSfalrtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_KLObs.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_BL_KLObs">
<input type="@(subAktivitasFormInputBLnSfalrtwAdd.BL_KLObs.InputTextType)" name="x_BL_KLObs" id="x_BL_KLObs" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_BL_KLObs" value="@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_KLObs.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwAdd.BL_KLObs.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLnSfalrtwAdd.BL_KLObs.FormatPattern)"@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_KLObs.EditAttributes) aria-describedby="x_BL_KLObs_help">
@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_KLObs.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_KLObs.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwAdd.BL_KLObs.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwAdd.BL_KL15.Visible) { // subAktivitasFormInputBLnSfalrtwAdd.BL_KL15.Visible (begin)
    <div id="r_BL_KL15" @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_KL15.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_BL_KL15" for="x_BL_KL15" class="@(subAktivitasFormInputBLnSfalrtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_KL15.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_KL15.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputBLnSfalrtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_KL15.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_BL_KL15">
<input type="@(subAktivitasFormInputBLnSfalrtwAdd.BL_KL15.InputTextType)" name="x_BL_KL15" id="x_BL_KL15" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_BL_KL15" value="@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_KL15.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwAdd.BL_KL15.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLnSfalrtwAdd.BL_KL15.FormatPattern)"@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_KL15.EditAttributes) aria-describedby="x_BL_KL15_help">
@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_KL15.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_KL15.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwAdd.BL_KL15.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwAdd.BL_Barrels.Visible) { // subAktivitasFormInputBLnSfalrtwAdd.BL_Barrels.Visible (begin)
    <div id="r_BL_Barrels" @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_Barrels.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_BL_Barrels" for="x_BL_Barrels" class="@(subAktivitasFormInputBLnSfalrtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_Barrels.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_Barrels.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputBLnSfalrtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_Barrels.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_BL_Barrels">
<input type="@(subAktivitasFormInputBLnSfalrtwAdd.BL_Barrels.InputTextType)" name="x_BL_Barrels" id="x_BL_Barrels" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_BL_Barrels" value="@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_Barrels.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwAdd.BL_Barrels.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLnSfalrtwAdd.BL_Barrels.FormatPattern)"@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_Barrels.EditAttributes) aria-describedby="x_BL_Barrels_help">
@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_Barrels.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_Barrels.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwAdd.BL_Barrels.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwAdd.BL_LT.Visible) { // subAktivitasFormInputBLnSfalrtwAdd.BL_LT.Visible (begin)
    <div id="r_BL_LT" @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_LT.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_BL_LT" for="x_BL_LT" class="@(subAktivitasFormInputBLnSfalrtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_LT.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_LT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputBLnSfalrtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_LT.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_BL_LT">
<input type="@(subAktivitasFormInputBLnSfalrtwAdd.BL_LT.InputTextType)" name="x_BL_LT" id="x_BL_LT" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_BL_LT" value="@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_LT.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwAdd.BL_LT.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLnSfalrtwAdd.BL_LT.FormatPattern)"@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_LT.EditAttributes) aria-describedby="x_BL_LT_help">
@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_LT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_LT.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwAdd.BL_LT.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwAdd.BL_MT.Visible) { // subAktivitasFormInputBLnSfalrtwAdd.BL_MT.Visible (begin)
    <div id="r_BL_MT" @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_MT.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_BL_MT" for="x_BL_MT" class="@(subAktivitasFormInputBLnSfalrtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_MT.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_MT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputBLnSfalrtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_MT.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_BL_MT">
<input type="@(subAktivitasFormInputBLnSfalrtwAdd.BL_MT.InputTextType)" name="x_BL_MT" id="x_BL_MT" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_BL_MT" value="@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_MT.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwAdd.BL_MT.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLnSfalrtwAdd.BL_MT.FormatPattern)"@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_MT.EditAttributes) aria-describedby="x_BL_MT_help">
@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_MT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.BL_MT.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwAdd.BL_MT.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwAdd.SFAL_KLObs.Visible) { // subAktivitasFormInputBLnSfalrtwAdd.SFAL_KLObs.Visible (begin)
    <div id="r_SFAL_KLObs" @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_KLObs.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_SFAL_KLObs" for="x_SFAL_KLObs" class="@(subAktivitasFormInputBLnSfalrtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_KLObs.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_KLObs.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputBLnSfalrtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_KLObs.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_SFAL_KLObs">
<input type="@(subAktivitasFormInputBLnSfalrtwAdd.SFAL_KLObs.InputTextType)" name="x_SFAL_KLObs" id="x_SFAL_KLObs" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_SFAL_KLObs" value="@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_KLObs.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwAdd.SFAL_KLObs.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLnSfalrtwAdd.SFAL_KLObs.FormatPattern)"@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_KLObs.EditAttributes) aria-describedby="x_SFAL_KLObs_help">
@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_KLObs.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_KLObs.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwAdd.SFAL_KLObs.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwAdd.SFAL_KL15.Visible) { // subAktivitasFormInputBLnSfalrtwAdd.SFAL_KL15.Visible (begin)
    <div id="r_SFAL_KL15" @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_KL15.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_SFAL_KL15" for="x_SFAL_KL15" class="@(subAktivitasFormInputBLnSfalrtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_KL15.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_KL15.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputBLnSfalrtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_KL15.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_SFAL_KL15">
<input type="@(subAktivitasFormInputBLnSfalrtwAdd.SFAL_KL15.InputTextType)" name="x_SFAL_KL15" id="x_SFAL_KL15" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_SFAL_KL15" value="@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_KL15.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwAdd.SFAL_KL15.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLnSfalrtwAdd.SFAL_KL15.FormatPattern)"@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_KL15.EditAttributes) aria-describedby="x_SFAL_KL15_help">
@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_KL15.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_KL15.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwAdd.SFAL_KL15.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwAdd.SFAL_Barrels.Visible) { // subAktivitasFormInputBLnSfalrtwAdd.SFAL_Barrels.Visible (begin)
    <div id="r_SFAL_Barrels" @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_Barrels.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_SFAL_Barrels" for="x_SFAL_Barrels" class="@(subAktivitasFormInputBLnSfalrtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_Barrels.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_Barrels.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputBLnSfalrtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_Barrels.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_SFAL_Barrels">
<input type="@(subAktivitasFormInputBLnSfalrtwAdd.SFAL_Barrels.InputTextType)" name="x_SFAL_Barrels" id="x_SFAL_Barrels" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_SFAL_Barrels" value="@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_Barrels.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwAdd.SFAL_Barrels.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLnSfalrtwAdd.SFAL_Barrels.FormatPattern)"@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_Barrels.EditAttributes) aria-describedby="x_SFAL_Barrels_help">
@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_Barrels.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_Barrels.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwAdd.SFAL_Barrels.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwAdd.SFAL_LT.Visible) { // subAktivitasFormInputBLnSfalrtwAdd.SFAL_LT.Visible (begin)
    <div id="r_SFAL_LT" @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_LT.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_SFAL_LT" for="x_SFAL_LT" class="@(subAktivitasFormInputBLnSfalrtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_LT.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_LT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputBLnSfalrtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_LT.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_SFAL_LT">
<input type="@(subAktivitasFormInputBLnSfalrtwAdd.SFAL_LT.InputTextType)" name="x_SFAL_LT" id="x_SFAL_LT" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_SFAL_LT" value="@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_LT.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwAdd.SFAL_LT.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLnSfalrtwAdd.SFAL_LT.FormatPattern)"@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_LT.EditAttributes) aria-describedby="x_SFAL_LT_help">
@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_LT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_LT.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwAdd.SFAL_LT.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwAdd.SFAL_MT.Visible) { // subAktivitasFormInputBLnSfalrtwAdd.SFAL_MT.Visible (begin)
    <div id="r_SFAL_MT" @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_MT.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_SFAL_MT" for="x_SFAL_MT" class="@(subAktivitasFormInputBLnSfalrtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_MT.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_MT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputBLnSfalrtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_MT.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_SFAL_MT">
<input type="@(subAktivitasFormInputBLnSfalrtwAdd.SFAL_MT.InputTextType)" name="x_SFAL_MT" id="x_SFAL_MT" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_SFAL_MT" value="@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_MT.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwAdd.SFAL_MT.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLnSfalrtwAdd.SFAL_MT.FormatPattern)"@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_MT.EditAttributes) aria-describedby="x_SFAL_MT_help">
@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_MT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.SFAL_MT.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwAdd.SFAL_MT.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwAdd.userInput.Visible) { // subAktivitasFormInputBLnSfalrtwAdd.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.userInput.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_userInput" for="x_userInput" class="@(subAktivitasFormInputBLnSfalrtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.userInput.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputBLnSfalrtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_userInput">
<input type="@(subAktivitasFormInputBLnSfalrtwAdd.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_userInput" value="@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwAdd.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLnSfalrtwAdd.userInput.FormatPattern)"@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwAdd.userInput.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwAdd.etlDate.Visible) { // subAktivitasFormInputBLnSfalrtwAdd.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_etlDate" for="x_etlDate" class="@(subAktivitasFormInputBLnSfalrtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.etlDate.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputBLnSfalrtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_etlDate">
<input type="@(subAktivitasFormInputBLnSfalrtwAdd.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_etlDate" value="@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwAdd.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLnSfalrtwAdd.etlDate.FormatPattern)"@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.etlDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputBLnSfalrtwAdd.etlDate.ReadOnly && !subAktivitasFormInputBLnSfalrtwAdd.etlDate.Disabled && !subAktivitasFormInputBLnSfalrtwAdd.etlDate.EditAttrs.Is("readonly") && !subAktivitasFormInputBLnSfalrtwAdd.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputBLnSFALRTWadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputBLnSFALRTWadd", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwAdd.etlDate.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwAdd.idProses.Visible) { // subAktivitasFormInputBLnSfalrtwAdd.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.idProses.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_idProses" class="@(subAktivitasFormInputBLnSfalrtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.idProses.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputBLnSfalrtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_idProses">
<span>@{
    if (IsRTL) {
        subAktivitasFormInputBLnSfalrtwAdd.idProses.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_idProses" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_idProses" id="sv_x_idProses" value="@(RemoveHtml(ConvertToString(subAktivitasFormInputBLnSfalrtwAdd.idProses.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwAdd.idProses.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwAdd.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLnSfalrtwAdd.idProses.FormatPattern)" @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.idProses.EditAttributes) aria-describedby="x_idProses_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_idProses" data-input="sv_x_idProses" data-value-separator="@(subAktivitasFormInputBLnSfalrtwAdd.idProses.DisplayValueSeparatorAttribute)" name="x_idProses" id="x_idProses" value="@(HtmlEncode(subAktivitasFormInputBLnSfalrtwAdd.idProses.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.idProses.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasFormInputBLnSFALRTWadd"], function() {
    fSubAktivitasFormInputBLnSFALRTWadd.createAutoSuggest(Object.assign({"id":"x_idProses","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasFormInputBLnSfalrtwAdd.idProses.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasFormInputBLnSFALRTW.fields.idProses.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.idProses.Lookup.GetParamTag(subAktivitasFormInputBLnSfalrtwAdd, "p_x_idProses"))
</span>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwAdd.idProses.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwAdd.LastUpdatedBy.Visible) { // subAktivitasFormInputBLnSfalrtwAdd.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasFormInputBLnSfalrtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.LastUpdatedBy.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputBLnSfalrtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_LastUpdatedBy">
<input type="@(subAktivitasFormInputBLnSfalrtwAdd.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwAdd.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLnSfalrtwAdd.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwAdd.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwAdd.lastUpdatedDate.Visible) { // subAktivitasFormInputBLnSfalrtwAdd.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasFormInputBLnSfalrtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.lastUpdatedDate.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputBLnSfalrtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_lastUpdatedDate">
<input type="@(subAktivitasFormInputBLnSfalrtwAdd.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwAdd.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLnSfalrtwAdd.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputBLnSfalrtwAdd.lastUpdatedDate.ReadOnly && !subAktivitasFormInputBLnSfalrtwAdd.lastUpdatedDate.Disabled && !subAktivitasFormInputBLnSfalrtwAdd.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasFormInputBLnSfalrtwAdd.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputBLnSFALRTWadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputBLnSFALRTWadd", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwAdd.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwAdd.NoReferensi.Visible) { // subAktivitasFormInputBLnSfalrtwAdd.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_NoReferensi" for="x_NoReferensi" class="@(subAktivitasFormInputBLnSfalrtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.NoReferensi.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputBLnSfalrtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_NoReferensi">
<input type="@(subAktivitasFormInputBLnSfalrtwAdd.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.NoReferensi.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwAdd.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLnSfalrtwAdd.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwAdd.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwAdd.StatusAktivitas.Visible) { // subAktivitasFormInputBLnSfalrtwAdd.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.StatusAktivitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputBLnSFALRTW_StatusAktivitas" class="@(subAktivitasFormInputBLnSfalrtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.StatusAktivitas.Caption)@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputBLnSfalrtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasFormInputBLnSFALRTW_StatusAktivitas">
<span>@{
    if (IsRTL) {
        subAktivitasFormInputBLnSfalrtwAdd.StatusAktivitas.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_StatusAktivitas" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_StatusAktivitas" id="sv_x_StatusAktivitas" value="@(RemoveHtml(ConvertToString(subAktivitasFormInputBLnSfalrtwAdd.StatusAktivitas.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwAdd.StatusAktivitas.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputBLnSfalrtwAdd.StatusAktivitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputBLnSfalrtwAdd.StatusAktivitas.FormatPattern)" @Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.StatusAktivitas.EditAttributes) aria-describedby="x_StatusAktivitas_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasFormInputBLnSFALRTW" data-field="x_StatusAktivitas" data-input="sv_x_StatusAktivitas" data-value-separator="@(subAktivitasFormInputBLnSfalrtwAdd.StatusAktivitas.DisplayValueSeparatorAttribute)" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@(HtmlEncode(subAktivitasFormInputBLnSfalrtwAdd.StatusAktivitas.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.StatusAktivitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.StatusAktivitas.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasFormInputBLnSFALRTWadd"], function() {
    fSubAktivitasFormInputBLnSFALRTWadd.createAutoSuggest(Object.assign({"id":"x_StatusAktivitas","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasFormInputBLnSfalrtwAdd.StatusAktivitas.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasFormInputBLnSFALRTW.fields.StatusAktivitas.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.StatusAktivitas.Lookup.GetParamTag(subAktivitasFormInputBLnSfalrtwAdd, "p_x_StatusAktivitas"))
</span>
</div></div>
    </div>
} @* subAktivitasFormInputBLnSfalrtwAdd.StatusAktivitas.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasFormInputBLnSfalrtwAdd.CloseRecordset(); }
@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasFormInputBLnSfalrtwAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasFormInputBLnSFALRTWadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasFormInputBLnSFALRTWadd" data-href="@AppPath(subAktivitasFormInputBLnSfalrtwAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasFormInputBLnSfalrtwAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@subAktivitasFormInputBLnSfalrtwAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputBLnSFALRTW");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
