@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputNilaiAktualDischargeAdd.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputNilaiAktualDischargeAdd.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputNilaiAktualDischargeAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputNilaiAktualDischarge: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fSubAktivitasFormInputNilaiAktualDischargeadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputNilaiAktualDischargeadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["KL_Obs", [fields.KL_Obs.visible && fields.KL_Obs.required ? ew.Validators.required(fields.KL_Obs.caption) : null], fields.KL_Obs.isInvalid],
            ["KL_15", [fields.KL_15.visible && fields.KL_15.required ? ew.Validators.required(fields.KL_15.caption) : null], fields.KL_15.isInvalid],
            ["Barrels", [fields.Barrels.visible && fields.Barrels.required ? ew.Validators.required(fields.Barrels.caption) : null], fields.Barrels.isInvalid],
            ["LT", [fields.LT.visible && fields.LT.required ? ew.Validators.required(fields.LT.caption) : null], fields.LT.isInvalid],
            ["MT", [fields.MT.visible && fields.MT.required ? ew.Validators.required(fields.MT.caption) : null], fields.MT.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null, ew.Validators.integer], fields.StatusAktivitas.isInvalid],
            ["ApakahAdaROB", [fields.ApakahAdaROB.visible && fields.ApakahAdaROB.required ? ew.Validators.required(fields.ApakahAdaROB.caption) : null], fields.ApakahAdaROB.isInvalid],
            ["Tujuan", [fields.Tujuan.visible && fields.Tujuan.required ? ew.Validators.required(fields.Tujuan.caption) : null], fields.Tujuan.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "idAktifitas": @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.idAktifitas.ToClientList(subAktivitasFormInputNilaiAktualDischargeAdd)),
            "idProses": @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.idProses.ToClientList(subAktivitasFormInputNilaiAktualDischargeAdd)),
            "StatusAktivitas": @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.StatusAktivitas.ToClientList(subAktivitasFormInputNilaiAktualDischargeAdd)),
            "ApakahAdaROB": @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.ApakahAdaROB.ToClientList(subAktivitasFormInputNilaiAktualDischargeAdd)),
            "Tujuan": @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.Tujuan.ToClientList(subAktivitasFormInputNilaiAktualDischargeAdd)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasFormInputNilaiAktualDischargeAdd.ShowPageHeader()
@subAktivitasFormInputNilaiAktualDischargeAdd.ShowMessages()
<form name="fSubAktivitasFormInputNilaiAktualDischargeadd" id="fSubAktivitasFormInputNilaiAktualDischargeadd" class="@(subAktivitasFormInputNilaiAktualDischargeAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputNilaiAktualDischargeAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasFormInputNilaiAktualDischargeAdd.OldKeyName)" value="@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (subAktivitasFormInputNilaiAktualDischargeAdd.idAktifitas.Visible) { // subAktivitasFormInputNilaiAktualDischargeAdd.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktualDischarge_idAktifitas" class="@(subAktivitasFormInputNilaiAktualDischargeAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.idAktifitas.Caption)@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktualDischargeAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktualDischarge_idAktifitas">
<span>@{
    if (IsRTL) {
        subAktivitasFormInputNilaiAktualDischargeAdd.idAktifitas.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_idAktifitas" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_idAktifitas" id="sv_x_idAktifitas" value="@(RemoveHtml(ConvertToString(subAktivitasFormInputNilaiAktualDischargeAdd.idAktifitas.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktualDischargeAdd.idAktifitas.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktualDischargeAdd.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktualDischargeAdd.idAktifitas.FormatPattern)" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasFormInputNilaiAktualDischarge" data-field="x_idAktifitas" data-input="sv_x_idAktifitas" data-value-separator="@(subAktivitasFormInputNilaiAktualDischargeAdd.idAktifitas.DisplayValueSeparatorAttribute)" name="x_idAktifitas" id="x_idAktifitas" value="@(HtmlEncode(subAktivitasFormInputNilaiAktualDischargeAdd.idAktifitas.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.idAktifitas.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasFormInputNilaiAktualDischargeadd"], function() {
    fSubAktivitasFormInputNilaiAktualDischargeadd.createAutoSuggest(Object.assign({"id":"x_idAktifitas","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasFormInputNilaiAktualDischargeAdd.idAktifitas.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasFormInputNilaiAktualDischarge.fields.idAktifitas.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.idAktifitas.Lookup.GetParamTag(subAktivitasFormInputNilaiAktualDischargeAdd, "p_x_idAktifitas"))
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktualDischargeAdd.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeAdd.idProses.Visible) { // subAktivitasFormInputNilaiAktualDischargeAdd.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.idProses.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktualDischarge_idProses" class="@(subAktivitasFormInputNilaiAktualDischargeAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.idProses.Caption)@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktualDischargeAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktualDischarge_idProses">
<span>@{
    if (IsRTL) {
        subAktivitasFormInputNilaiAktualDischargeAdd.idProses.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_idProses" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_idProses" id="sv_x_idProses" value="@(RemoveHtml(ConvertToString(subAktivitasFormInputNilaiAktualDischargeAdd.idProses.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktualDischargeAdd.idProses.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktualDischargeAdd.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktualDischargeAdd.idProses.FormatPattern)" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.idProses.EditAttributes) aria-describedby="x_idProses_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasFormInputNilaiAktualDischarge" data-field="x_idProses" data-input="sv_x_idProses" data-value-separator="@(subAktivitasFormInputNilaiAktualDischargeAdd.idProses.DisplayValueSeparatorAttribute)" name="x_idProses" id="x_idProses" value="@(HtmlEncode(subAktivitasFormInputNilaiAktualDischargeAdd.idProses.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.idProses.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasFormInputNilaiAktualDischargeadd"], function() {
    fSubAktivitasFormInputNilaiAktualDischargeadd.createAutoSuggest(Object.assign({"id":"x_idProses","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasFormInputNilaiAktualDischargeAdd.idProses.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasFormInputNilaiAktualDischarge.fields.idProses.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.idProses.Lookup.GetParamTag(subAktivitasFormInputNilaiAktualDischargeAdd, "p_x_idProses"))
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktualDischargeAdd.idProses.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeAdd.NoReferensi.Visible) { // subAktivitasFormInputNilaiAktualDischargeAdd.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktualDischarge_NoReferensi" for="x_NoReferensi" class="@(subAktivitasFormInputNilaiAktualDischargeAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.NoReferensi.Caption)@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktualDischargeAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktualDischarge_NoReferensi">
<input type="@(subAktivitasFormInputNilaiAktualDischargeAdd.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasFormInputNilaiAktualDischarge" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.NoReferensi.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktualDischargeAdd.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktualDischargeAdd.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktualDischargeAdd.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeAdd.KL_Obs.Visible) { // subAktivitasFormInputNilaiAktualDischargeAdd.KL_Obs.Visible (begin)
    <div id="r_KL_Obs" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.KL_Obs.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktualDischarge_KL_Obs" for="x_KL_Obs" class="@(subAktivitasFormInputNilaiAktualDischargeAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.KL_Obs.Caption)@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.KL_Obs.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktualDischargeAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.KL_Obs.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktualDischarge_KL_Obs">
<input type="@(subAktivitasFormInputNilaiAktualDischargeAdd.KL_Obs.InputTextType)" name="x_KL_Obs" id="x_KL_Obs" data-table="SubAktivitasFormInputNilaiAktualDischarge" data-field="x_KL_Obs" value="@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.KL_Obs.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktualDischargeAdd.KL_Obs.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktualDischargeAdd.KL_Obs.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.KL_Obs.EditAttributes) aria-describedby="x_KL_Obs_help">
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.KL_Obs.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.KL_Obs.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktualDischargeAdd.KL_Obs.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeAdd.KL_15.Visible) { // subAktivitasFormInputNilaiAktualDischargeAdd.KL_15.Visible (begin)
    <div id="r_KL_15" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.KL_15.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktualDischarge_KL_15" for="x_KL_15" class="@(subAktivitasFormInputNilaiAktualDischargeAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.KL_15.Caption)@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.KL_15.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktualDischargeAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.KL_15.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktualDischarge_KL_15">
<input type="@(subAktivitasFormInputNilaiAktualDischargeAdd.KL_15.InputTextType)" name="x_KL_15" id="x_KL_15" data-table="SubAktivitasFormInputNilaiAktualDischarge" data-field="x_KL_15" value="@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.KL_15.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktualDischargeAdd.KL_15.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktualDischargeAdd.KL_15.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.KL_15.EditAttributes) aria-describedby="x_KL_15_help">
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.KL_15.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.KL_15.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktualDischargeAdd.KL_15.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeAdd.Barrels.Visible) { // subAktivitasFormInputNilaiAktualDischargeAdd.Barrels.Visible (begin)
    <div id="r_Barrels" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.Barrels.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktualDischarge_Barrels" for="x_Barrels" class="@(subAktivitasFormInputNilaiAktualDischargeAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.Barrels.Caption)@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.Barrels.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktualDischargeAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.Barrels.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktualDischarge_Barrels">
<input type="@(subAktivitasFormInputNilaiAktualDischargeAdd.Barrels.InputTextType)" name="x_Barrels" id="x_Barrels" data-table="SubAktivitasFormInputNilaiAktualDischarge" data-field="x_Barrels" value="@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.Barrels.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktualDischargeAdd.Barrels.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktualDischargeAdd.Barrels.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.Barrels.EditAttributes) aria-describedby="x_Barrels_help">
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.Barrels.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.Barrels.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktualDischargeAdd.Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeAdd.LT.Visible) { // subAktivitasFormInputNilaiAktualDischargeAdd.LT.Visible (begin)
    <div id="r_LT" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.LT.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktualDischarge_LT" for="x_LT" class="@(subAktivitasFormInputNilaiAktualDischargeAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.LT.Caption)@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.LT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktualDischargeAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.LT.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktualDischarge_LT">
<input type="@(subAktivitasFormInputNilaiAktualDischargeAdd.LT.InputTextType)" name="x_LT" id="x_LT" data-table="SubAktivitasFormInputNilaiAktualDischarge" data-field="x_LT" value="@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.LT.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktualDischargeAdd.LT.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktualDischargeAdd.LT.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.LT.EditAttributes) aria-describedby="x_LT_help">
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.LT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.LT.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktualDischargeAdd.LT.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeAdd.MT.Visible) { // subAktivitasFormInputNilaiAktualDischargeAdd.MT.Visible (begin)
    <div id="r_MT" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.MT.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktualDischarge_MT" for="x_MT" class="@(subAktivitasFormInputNilaiAktualDischargeAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.MT.Caption)@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.MT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktualDischargeAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.MT.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktualDischarge_MT">
<input type="@(subAktivitasFormInputNilaiAktualDischargeAdd.MT.InputTextType)" name="x_MT" id="x_MT" data-table="SubAktivitasFormInputNilaiAktualDischarge" data-field="x_MT" value="@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.MT.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktualDischargeAdd.MT.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktualDischargeAdd.MT.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.MT.EditAttributes) aria-describedby="x_MT_help">
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.MT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.MT.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktualDischargeAdd.MT.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeAdd.userInput.Visible) { // subAktivitasFormInputNilaiAktualDischargeAdd.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.userInput.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktualDischarge_userInput" for="x_userInput" class="@(subAktivitasFormInputNilaiAktualDischargeAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.userInput.Caption)@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktualDischargeAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktualDischarge_userInput">
<input type="@(subAktivitasFormInputNilaiAktualDischargeAdd.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasFormInputNilaiAktualDischarge" data-field="x_userInput" value="@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktualDischargeAdd.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktualDischargeAdd.userInput.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktualDischargeAdd.userInput.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeAdd.etlDate.Visible) { // subAktivitasFormInputNilaiAktualDischargeAdd.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktualDischarge_etlDate" for="x_etlDate" class="@(subAktivitasFormInputNilaiAktualDischargeAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.etlDate.Caption)@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktualDischargeAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktualDischarge_etlDate">
<input type="@(subAktivitasFormInputNilaiAktualDischargeAdd.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasFormInputNilaiAktualDischarge" data-field="x_etlDate" value="@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktualDischargeAdd.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktualDischargeAdd.etlDate.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.etlDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputNilaiAktualDischargeAdd.etlDate.ReadOnly && !subAktivitasFormInputNilaiAktualDischargeAdd.etlDate.Disabled && !subAktivitasFormInputNilaiAktualDischargeAdd.etlDate.EditAttrs.Is("readonly") && !subAktivitasFormInputNilaiAktualDischargeAdd.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputNilaiAktualDischargeadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputNilaiAktualDischargeadd", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktualDischargeAdd.etlDate.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeAdd.LastUpdatedBy.Visible) { // subAktivitasFormInputNilaiAktualDischargeAdd.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktualDischarge_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasFormInputNilaiAktualDischargeAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.LastUpdatedBy.Caption)@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktualDischargeAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktualDischarge_LastUpdatedBy">
<input type="@(subAktivitasFormInputNilaiAktualDischargeAdd.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasFormInputNilaiAktualDischarge" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktualDischargeAdd.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktualDischargeAdd.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktualDischargeAdd.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeAdd.lastUpdatedDate.Visible) { // subAktivitasFormInputNilaiAktualDischargeAdd.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktualDischarge_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasFormInputNilaiAktualDischargeAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.lastUpdatedDate.Caption)@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktualDischargeAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktualDischarge_lastUpdatedDate">
<input type="@(subAktivitasFormInputNilaiAktualDischargeAdd.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasFormInputNilaiAktualDischarge" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktualDischargeAdd.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktualDischargeAdd.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputNilaiAktualDischargeAdd.lastUpdatedDate.ReadOnly && !subAktivitasFormInputNilaiAktualDischargeAdd.lastUpdatedDate.Disabled && !subAktivitasFormInputNilaiAktualDischargeAdd.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasFormInputNilaiAktualDischargeAdd.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputNilaiAktualDischargeadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputNilaiAktualDischargeadd", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktualDischargeAdd.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeAdd.StatusAktivitas.Visible) { // subAktivitasFormInputNilaiAktualDischargeAdd.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.StatusAktivitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktualDischarge_StatusAktivitas" class="@(subAktivitasFormInputNilaiAktualDischargeAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.StatusAktivitas.Caption)@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktualDischargeAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktualDischarge_StatusAktivitas">
<span>@{
    if (IsRTL) {
        subAktivitasFormInputNilaiAktualDischargeAdd.StatusAktivitas.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_StatusAktivitas" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_StatusAktivitas" id="sv_x_StatusAktivitas" value="@(RemoveHtml(ConvertToString(subAktivitasFormInputNilaiAktualDischargeAdd.StatusAktivitas.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktualDischargeAdd.StatusAktivitas.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktualDischargeAdd.StatusAktivitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktualDischargeAdd.StatusAktivitas.FormatPattern)" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.StatusAktivitas.EditAttributes) aria-describedby="x_StatusAktivitas_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasFormInputNilaiAktualDischarge" data-field="x_StatusAktivitas" data-input="sv_x_StatusAktivitas" data-value-separator="@(subAktivitasFormInputNilaiAktualDischargeAdd.StatusAktivitas.DisplayValueSeparatorAttribute)" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@(HtmlEncode(subAktivitasFormInputNilaiAktualDischargeAdd.StatusAktivitas.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.StatusAktivitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.StatusAktivitas.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasFormInputNilaiAktualDischargeadd"], function() {
    fSubAktivitasFormInputNilaiAktualDischargeadd.createAutoSuggest(Object.assign({"id":"x_StatusAktivitas","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasFormInputNilaiAktualDischargeAdd.StatusAktivitas.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasFormInputNilaiAktualDischarge.fields.StatusAktivitas.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.StatusAktivitas.Lookup.GetParamTag(subAktivitasFormInputNilaiAktualDischargeAdd, "p_x_StatusAktivitas"))
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktualDischargeAdd.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeAdd.ApakahAdaROB.Visible) { // subAktivitasFormInputNilaiAktualDischargeAdd.ApakahAdaROB.Visible (begin)
    <div id="r_ApakahAdaROB" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.ApakahAdaROB.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktualDischarge_ApakahAdaROB" class="@(subAktivitasFormInputNilaiAktualDischargeAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.ApakahAdaROB.Caption)@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.ApakahAdaROB.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktualDischargeAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.ApakahAdaROB.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktualDischarge_ApakahAdaROB">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(subAktivitasFormInputNilaiAktualDischargeAdd.ApakahAdaROB.IsInvalidClass)" data-table="SubAktivitasFormInputNilaiAktualDischarge" data-field="x_ApakahAdaROB" data-boolean name="x_ApakahAdaROB" id="x_ApakahAdaROB" value="1" checked="@ConvertToBool(subAktivitasFormInputNilaiAktualDischargeAdd.ApakahAdaROB.CurrentValue)" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.ApakahAdaROB.EditAttributes) aria-describedby="x_ApakahAdaROB_help">
    <div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.ApakahAdaROB.GetErrorMessage())</div>
</div>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.ApakahAdaROB.GetCustomMessage)
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktualDischargeAdd.ApakahAdaROB.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeAdd.Tujuan.Visible) { // subAktivitasFormInputNilaiAktualDischargeAdd.Tujuan.Visible (begin)
    <div id="r_Tujuan" @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.Tujuan.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktualDischarge_Tujuan" for="x_Tujuan" class="@(subAktivitasFormInputNilaiAktualDischargeAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.Tujuan.Caption)@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.Tujuan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktualDischargeAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.Tujuan.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktualDischarge_Tujuan">
    <select
        id="x_Tujuan"
        name="x_Tujuan"
        class="form-select ew-select@(subAktivitasFormInputNilaiAktualDischargeAdd.Tujuan.IsInvalidClass)"
        data-select2-id="fSubAktivitasFormInputNilaiAktualDischargeadd_x_Tujuan"
        data-table="SubAktivitasFormInputNilaiAktualDischarge"
        data-field="x_Tujuan"
        data-value-separator="@(subAktivitasFormInputNilaiAktualDischargeAdd.Tujuan.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(subAktivitasFormInputNilaiAktualDischargeAdd.Tujuan.PlaceHolder))"
        @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.Tujuan.EditAttributes)>
        @(subAktivitasFormInputNilaiAktualDischargeAdd.Tujuan.SelectOptionListHtml("x_Tujuan"))
    </select>
    @Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.Tujuan.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.Tujuan.GetErrorMessage())</div>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.Tujuan.Lookup.GetParamTag(subAktivitasFormInputNilaiAktualDischargeAdd, "p_x_Tujuan"))
<script>
loadjs.ready("fSubAktivitasFormInputNilaiAktualDischargeadd", function() {
    var options = { name: "x_Tujuan", selectId: "fSubAktivitasFormInputNilaiAktualDischargeadd_x_Tujuan" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fSubAktivitasFormInputNilaiAktualDischargeadd.lists.Tujuan?.lookupOptions.length) {
        options.data = { id: "x_Tujuan", form: "fSubAktivitasFormInputNilaiAktualDischargeadd" };
    } else {
        options.ajax = { id: "x_Tujuan", form: "fSubAktivitasFormInputNilaiAktualDischargeadd", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumInputLength = ew.selectMinimumInputLength;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.SubAktivitasFormInputNilaiAktualDischarge.fields.Tujuan.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktualDischargeAdd.Tujuan.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasFormInputNilaiAktualDischargeAdd.CloseRecordset(); }
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasFormInputNilaiAktualDischargeAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasFormInputNilaiAktualDischargeadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasFormInputNilaiAktualDischargeadd" data-href="@AppPath(subAktivitasFormInputNilaiAktualDischargeAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@subAktivitasFormInputNilaiAktualDischargeAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputNilaiAktualDischarge");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
