@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputLogbookPenerimaanTruckView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputLogbookPenerimaanTruckView.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputLogbookPenerimaanTruckView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @subAktivitasFormInputLogbookPenerimaanTruckView.ExportOptions.RenderBody()
    @subAktivitasFormInputLogbookPenerimaanTruckView.OtherOptions.RenderBody()
</div>
}
@subAktivitasFormInputLogbookPenerimaanTruckView.ShowPageHeader()
@subAktivitasFormInputLogbookPenerimaanTruckView.ShowMessages()
<main class="view">
<form name="fSubAktivitasFormInputLogbookPenerimaanTruckview" id="fSubAktivitasFormInputLogbookPenerimaanTruckview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!subAktivitasFormInputLogbookPenerimaanTruckView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputLogbookPenerimaanTruckView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputLogbookPenerimaanTruck: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fSubAktivitasFormInputLogbookPenerimaanTruckview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputLogbookPenerimaanTruckview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputLogbookPenerimaanTruckView.IsModal)">
<table class="@(subAktivitasFormInputLogbookPenerimaanTruckView.TableClass)">
@if (subAktivitasFormInputLogbookPenerimaanTruckView.idAktifitas.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckView.idAktifitas.Visible (begin)
    <tr id="r_idAktifitas" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.idAktifitas.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_idAktifitas">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.idAktifitas.Caption)</span></td>
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_idAktifitas">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.idAktifitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanTruckView.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckView.idProses.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckView.idProses.Visible (begin)
    <tr id="r_idProses" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.idProses.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_idProses">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.idProses.Caption)</span></td>
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_idProses">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.idProses.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanTruckView.idProses.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckView.NoReferensi.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckView.NoReferensi.Visible (begin)
    <tr id="r_NoReferensi" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.NoReferensi.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_NoReferensi">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.NoReferensi.Caption)</span></td>
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_NoReferensi">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.NoReferensi.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanTruckView.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckView.Tanggal.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckView.Tanggal.Visible (begin)
    <tr id="r_Tanggal" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Tanggal.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_Tanggal">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Tanggal.Caption)</span></td>
        <td data-name="Tanggal" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Tanggal.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_Tanggal">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Tanggal.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanTruckView.Tanggal.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckView.NamaKegiatan.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckView.NamaKegiatan.Visible (begin)
    <tr id="r_NamaKegiatan" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.NamaKegiatan.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_NamaKegiatan">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.NamaKegiatan.Caption)</span></td>
        <td data-name="NamaKegiatan" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.NamaKegiatan.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_NamaKegiatan">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.NamaKegiatan.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.NamaKegiatan.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanTruckView.NamaKegiatan.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckView.Produk.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckView.Produk.Visible (begin)
    <tr id="r_Produk" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Produk.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_Produk">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Produk.Caption)</span></td>
        <td data-name="Produk" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Produk.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_Produk">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Produk.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Produk.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanTruckView.Produk.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckView.Density.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckView.Density.Visible (begin)
    <tr id="r_Density" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Density.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_Density">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Density.Caption)</span></td>
        <td data-name="Density" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Density.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_Density">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Density.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Density.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanTruckView.Density.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckView.Temperatur.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckView.Temperatur.Visible (begin)
    <tr id="r_Temperatur" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Temperatur.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_Temperatur">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Temperatur.Caption)</span></td>
        <td data-name="Temperatur" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Temperatur.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_Temperatur">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Temperatur.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Temperatur.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanTruckView.Temperatur.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckView.Keterangan.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckView.Keterangan.Visible (begin)
    <tr id="r_Keterangan" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Keterangan.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_Keterangan">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Keterangan.Caption)</span></td>
        <td data-name="Keterangan" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Keterangan.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_Keterangan">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Keterangan.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Keterangan.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanTruckView.Keterangan.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckView.Level.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckView.Level.Visible (begin)
    <tr id="r_Level" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Level.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_Level">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Level.Caption)</span></td>
        <td data-name="Level" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Level.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_Level">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Level.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Level.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanTruckView.Level.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckView.Volume.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckView.Volume.Visible (begin)
    <tr id="r_Volume" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Volume.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_Volume">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Volume.Caption)</span></td>
        <td data-name="Volume" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Volume.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_Volume">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Volume.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Volume.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanTruckView.Volume.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckView.Flowrate.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckView.Flowrate.Visible (begin)
    <tr id="r_Flowrate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Flowrate.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_Flowrate">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Flowrate.Caption)</span></td>
        <td data-name="Flowrate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Flowrate.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_Flowrate">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Flowrate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.Flowrate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanTruckView.Flowrate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckView.userInput.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckView.userInput.Visible (begin)
    <tr id="r_userInput" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.userInput.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_userInput">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.userInput.Caption)</span></td>
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_userInput">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.userInput.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanTruckView.userInput.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckView.etlDate.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckView.etlDate.Visible (begin)
    <tr id="r_etlDate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.etlDate.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_etlDate">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.etlDate.Caption)</span></td>
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_etlDate">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.etlDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanTruckView.etlDate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckView.LastUpdatedBy.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckView.LastUpdatedBy.Visible (begin)
    <tr id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.LastUpdatedBy.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_LastUpdatedBy">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.LastUpdatedBy.Caption)</span></td>
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.LastUpdatedBy.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanTruckView.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckView.lastUpdatedDate.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckView.lastUpdatedDate.Visible (begin)
    <tr id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.lastUpdatedDate.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_lastUpdatedDate">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.lastUpdatedDate.Caption)</span></td>
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.lastUpdatedDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanTruckView.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckView.StatusAktivitas.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckView.StatusAktivitas.Visible (begin)
    <tr id="r_StatusAktivitas" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.StatusAktivitas.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_StatusAktivitas">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.StatusAktivitas.Caption)</span></td>
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.StatusAktivitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanTruckView.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckView.TanggalJamSOP.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckView.TanggalJamSOP.Visible (begin)
    <tr id="r_TanggalJamSOP" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.TanggalJamSOP.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_TanggalJamSOP">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.TanggalJamSOP.Caption)</span></td>
        <td data-name="TanggalJamSOP" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.TanggalJamSOP.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_TanggalJamSOP">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.TanggalJamSOP.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.TanggalJamSOP.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanTruckView.TanggalJamSOP.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckView.SelisihWaktu.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckView.SelisihWaktu.Visible (begin)
    <tr id="r_SelisihWaktu" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.SelisihWaktu.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_SelisihWaktu">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.SelisihWaktu.Caption)</span></td>
        <td data-name="SelisihWaktu" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.SelisihWaktu.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_SelisihWaktu">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.SelisihWaktu.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.SelisihWaktu.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanTruckView.SelisihWaktu.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanTruckView.IsQualityActive.Visible) { // subAktivitasFormInputLogbookPenerimaanTruckView.IsQualityActive.Visible (begin)
    <tr id="r_IsQualityActive" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.IsQualityActive.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanTruck_IsQualityActive">@Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.IsQualityActive.Caption)</span></td>
        <td data-name="IsQualityActive" @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.IsQualityActive.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanTruck_IsQualityActive">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanTruckView.IsQualityActive.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(subAktivitasFormInputLogbookPenerimaanTruckView.IsQualityActive.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanTruckView.IsQualityActive.Visible (end) *@
</table>
@{ subAktivitasFormInputLogbookPenerimaanTruckView.CloseRecordset(); }
</form>
</main>
@subAktivitasFormInputLogbookPenerimaanTruckView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputLogbookPenerimaanTruckView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
