@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiBlsfalPenyaluranLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiBlsfalPenyaluranLpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasNilaiBlsfalPenyaluranLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiBlsfalPenyaluranLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiBLSFALPenyaluranLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasNilaiBlsfalPenyaluranLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasNilaiBlsfalPenyaluranLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasNilaiBlsfalPenyaluranLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasNilaiBlsfalPenyaluranLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasNilaiBlsfalPenyaluranLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasNilaiBlsfalPenyaluranLpgList.TotalRecords > 0 && subAktivitasNilaiBlsfalPenyaluranLpgList.ExportOptions.Visible) {
    subAktivitasNilaiBlsfalPenyaluranLpgList.ExportOptions.Render("body");
}
@if (subAktivitasNilaiBlsfalPenyaluranLpgList.ImportOptions.Visible) {
    subAktivitasNilaiBlsfalPenyaluranLpgList.ImportOptions.Render("body");
}
@if (subAktivitasNilaiBlsfalPenyaluranLpgList.SearchOptions.Visible) {
    subAktivitasNilaiBlsfalPenyaluranLpgList.SearchOptions.Render("body");
}
@if (subAktivitasNilaiBlsfalPenyaluranLpgList.FilterOptions.Visible) {
    subAktivitasNilaiBlsfalPenyaluranLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasNilaiBlsfalPenyaluranLpgList.IsModal) {
<form name="fSubAktivitasNilaiBLSFALPenyaluranLPGsrch" id="fSubAktivitasNilaiBLSFALPenyaluranLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasNilaiBLSFALPenyaluranLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasNilaiBlsfalPenyaluranLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiBlsfalPenyaluranLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiBLSFALPenyaluranLPG: currentTable } });
var currentForm;
var fSubAktivitasNilaiBLSFALPenyaluranLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiBLSFALPenyaluranLPGsrch")
        .setPageId("list")
@if (subAktivitasNilaiBlsfalPenyaluranLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasNilaiBlsfalPenyaluranLpgList.IsExport() && Empty(subAktivitasNilaiBlsfalPenyaluranLpgList.CurrentAction) && subAktivitasNilaiBlsfalPenyaluranLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasNilaiBlsfalPenyaluranLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasNilaiBlsfalPenyaluranLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasNilaiBlsfalPenyaluranLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasNilaiBLSFALPenyaluranLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiBlsfalPenyaluranLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasNilaiBLSFALPenyaluranLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiBlsfalPenyaluranLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasNilaiBLSFALPenyaluranLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiBlsfalPenyaluranLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasNilaiBLSFALPenyaluranLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasNilaiBlsfalPenyaluranLpgList.ShowPageHeader()
@subAktivitasNilaiBlsfalPenyaluranLpgList.ShowMessages()
<main class="list @(subAktivitasNilaiBlsfalPenyaluranLpgList.TotalRecords == 0 && !subAktivitasNilaiBlsfalPenyaluranLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasNilaiBlsfalPenyaluranLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasNilaiBlsfalPenyaluranLpgList.TotalRecords > 0 || !Empty(subAktivitasNilaiBlsfalPenyaluranLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasNilaiBlsfalPenyaluranLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasNilaiBlsfalPenyaluranLpgList.TableGridClass)">
<form name="@(subAktivitasNilaiBlsfalPenyaluranLpgList.FormName)" id="@(subAktivitasNilaiBlsfalPenyaluranLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasNilaiBlsfalPenyaluranLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasNilaiBlsfalPenyaluranLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasNilaiBLSFALPenyaluranLPG" class="card-body ew-grid-middle-panel @(subAktivitasNilaiBlsfalPenyaluranLpgList.TableContainerClass)" style="@(subAktivitasNilaiBlsfalPenyaluranLpgList.TableContainerStyle)">
@if (subAktivitasNilaiBlsfalPenyaluranLpgList.TotalRecords > 0 || subAktivitasNilaiBlsfalPenyaluranLpgList.IsGridEdit || subAktivitasNilaiBlsfalPenyaluranLpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasNilaiBLSFALPenyaluranLPGlist" class="@(subAktivitasNilaiBlsfalPenyaluranLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasNilaiBlsfalPenyaluranLpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasNilaiBlsfalPenyaluranLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasNilaiBlsfalPenyaluranLpgList.ListOptions.RenderHeader("left")
@if (subAktivitasNilaiBlsfalPenyaluranLpgList.id.Visible) { // subAktivitasNilaiBlsfalPenyaluranLpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasNilaiBlsfalPenyaluranLpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranLPG_id" class="SubAktivitasNilaiBLSFALPenyaluranLPG_id">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranLpgList.id))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranLpgList.id.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranLpgList.NoReferensi.Visible) { // subAktivitasNilaiBlsfalPenyaluranLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasNilaiBlsfalPenyaluranLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranLPG_NoReferensi" class="SubAktivitasNilaiBLSFALPenyaluranLPG_NoReferensi">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranLpgList.NoReferensi))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranLpgList.NoReferensi.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranLpgList.idProses.Visible) { // subAktivitasNilaiBlsfalPenyaluranLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasNilaiBlsfalPenyaluranLpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranLPG_idProses" class="SubAktivitasNilaiBLSFALPenyaluranLPG_idProses">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranLpgList.idProses))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranLpgList.idProses.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranLpgList.idAktifitas.Visible) { // subAktivitasNilaiBlsfalPenyaluranLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasNilaiBlsfalPenyaluranLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranLPG_idAktifitas" class="SubAktivitasNilaiBLSFALPenyaluranLPG_idAktifitas">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranLpgList.idAktifitas))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranLpgList.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranLpgList.StatusAktivitas.Visible) { // subAktivitasNilaiBlsfalPenyaluranLpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasNilaiBlsfalPenyaluranLpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranLPG_StatusAktivitas" class="SubAktivitasNilaiBLSFALPenyaluranLPG_StatusAktivitas">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranLpgList.StatusAktivitas))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranLpgList.StatusAktivitas.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranLpgList.LastUpdatedBy.Visible) { // subAktivitasNilaiBlsfalPenyaluranLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasNilaiBlsfalPenyaluranLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranLPG_LastUpdatedBy" class="SubAktivitasNilaiBLSFALPenyaluranLPG_LastUpdatedBy">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranLpgList.LastUpdatedBy))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranLpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranLpgList.lastUpdatedDate.Visible) { // subAktivitasNilaiBlsfalPenyaluranLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasNilaiBlsfalPenyaluranLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranLPG_lastUpdatedDate" class="SubAktivitasNilaiBLSFALPenyaluranLPG_lastUpdatedDate">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranLpgList.lastUpdatedDate))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranLpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranLpgList.BL_MT.Visible) { // subAktivitasNilaiBlsfalPenyaluranLpgList.BL_MT.Visible (begin)
        <th data-name="BL_MT" class="@(subAktivitasNilaiBlsfalPenyaluranLpgList.BL_MT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranLPG_BL_MT" class="SubAktivitasNilaiBLSFALPenyaluranLPG_BL_MT">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranLpgList.BL_MT))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranLpgList.BL_MT.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranLpgList.SFAL_MT.Visible) { // subAktivitasNilaiBlsfalPenyaluranLpgList.SFAL_MT.Visible (begin)
        <th data-name="SFAL_MT" class="@(subAktivitasNilaiBlsfalPenyaluranLpgList.SFAL_MT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranLPG_SFAL_MT" class="SubAktivitasNilaiBLSFALPenyaluranLPG_SFAL_MT">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranLpgList.SFAL_MT))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranLpgList.SFAL_MT.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranLpgList.userInput.Visible) { // subAktivitasNilaiBlsfalPenyaluranLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasNilaiBlsfalPenyaluranLpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranLPG_userInput" class="SubAktivitasNilaiBLSFALPenyaluranLPG_userInput">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranLpgList.userInput))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranLpgList.userInput.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranLpgList.etlDate.Visible) { // subAktivitasNilaiBlsfalPenyaluranLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasNilaiBlsfalPenyaluranLpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranLPG_etlDate" class="SubAktivitasNilaiBLSFALPenyaluranLPG_etlDate">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranLpgList.etlDate))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranLpgList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasNilaiBlsfalPenyaluranLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasNilaiBlsfalPenyaluranLpgList.PageNumber)">
@{
    await subAktivitasNilaiBlsfalPenyaluranLpgList.SetupGrid();
    bool eof = subAktivitasNilaiBlsfalPenyaluranLpgList.Recordset == null; // DN
}
@while (subAktivitasNilaiBlsfalPenyaluranLpgList.RecordCount < subAktivitasNilaiBlsfalPenyaluranLpgList.StopRecord || SameString(subAktivitasNilaiBlsfalPenyaluranLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasNilaiBlsfalPenyaluranLpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasNilaiBlsfalPenyaluranLpgList.IsGridAdd || subAktivitasNilaiBlsfalPenyaluranLpgList.CurrentMode == "copy") &&
        (!((subAktivitasNilaiBlsfalPenyaluranLpgList.IsCopy || subAktivitasNilaiBlsfalPenyaluranLpgList.IsAdd) && subAktivitasNilaiBlsfalPenyaluranLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasNilaiBlsfalPenyaluranLpgList.Recordset.ReadAsync();
    subAktivitasNilaiBlsfalPenyaluranLpgList.RecordCount++;
    if (subAktivitasNilaiBlsfalPenyaluranLpgList.RecordCount >= subAktivitasNilaiBlsfalPenyaluranLpgList.StartRecord) {
        await subAktivitasNilaiBlsfalPenyaluranLpgList.SetupRow();
    <tr @Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasNilaiBlsfalPenyaluranLpgList.ListOptions.RenderBody("left", subAktivitasNilaiBlsfalPenyaluranLpgList.RowCount)
    @if (subAktivitasNilaiBlsfalPenyaluranLpgList.id.Visible) { // subAktivitasNilaiBlsfalPenyaluranLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranLpgList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranLPG_id" class="el_SubAktivitasNilaiBLSFALPenyaluranLPG_id">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranLpgList.id.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranLpgList.NoReferensi.Visible) { // subAktivitasNilaiBlsfalPenyaluranLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranLpgList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranLPG_NoReferensi" class="el_SubAktivitasNilaiBLSFALPenyaluranLPG_NoReferensi">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranLpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranLpgList.idProses.Visible) { // subAktivitasNilaiBlsfalPenyaluranLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranLpgList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranLPG_idProses" class="el_SubAktivitasNilaiBLSFALPenyaluranLPG_idProses">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranLpgList.idProses.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranLpgList.idAktifitas.Visible) { // subAktivitasNilaiBlsfalPenyaluranLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranLpgList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranLPG_idAktifitas" class="el_SubAktivitasNilaiBLSFALPenyaluranLPG_idAktifitas">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranLpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranLpgList.StatusAktivitas.Visible) { // subAktivitasNilaiBlsfalPenyaluranLpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranLpgList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranLPG_StatusAktivitas" class="el_SubAktivitasNilaiBLSFALPenyaluranLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranLpgList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranLpgList.LastUpdatedBy.Visible) { // subAktivitasNilaiBlsfalPenyaluranLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranLpgList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranLPG_LastUpdatedBy" class="el_SubAktivitasNilaiBLSFALPenyaluranLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranLpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranLpgList.lastUpdatedDate.Visible) { // subAktivitasNilaiBlsfalPenyaluranLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranLpgList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranLPG_lastUpdatedDate" class="el_SubAktivitasNilaiBLSFALPenyaluranLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranLpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranLpgList.BL_MT.Visible) { // subAktivitasNilaiBlsfalPenyaluranLpgList.BL_MT.Visible (begin)
        <td data-name="BL_MT" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.BL_MT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranLpgList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranLPG_BL_MT" class="el_SubAktivitasNilaiBLSFALPenyaluranLPG_BL_MT">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.BL_MT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.BL_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranLpgList.BL_MT.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranLpgList.SFAL_MT.Visible) { // subAktivitasNilaiBlsfalPenyaluranLpgList.SFAL_MT.Visible (begin)
        <td data-name="SFAL_MT" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.SFAL_MT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranLpgList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranLPG_SFAL_MT" class="el_SubAktivitasNilaiBLSFALPenyaluranLPG_SFAL_MT">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.SFAL_MT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.SFAL_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranLpgList.SFAL_MT.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranLpgList.userInput.Visible) { // subAktivitasNilaiBlsfalPenyaluranLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranLpgList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranLPG_userInput" class="el_SubAktivitasNilaiBLSFALPenyaluranLPG_userInput">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranLpgList.userInput.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranLpgList.etlDate.Visible) { // subAktivitasNilaiBlsfalPenyaluranLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranLpgList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranLPG_etlDate" class="el_SubAktivitasNilaiBLSFALPenyaluranLPG_etlDate">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranLpgList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasNilaiBlsfalPenyaluranLpgList.ListOptions.RenderBody("right", subAktivitasNilaiBlsfalPenyaluranLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasNilaiBlsfalPenyaluranLpgList.RowIndex, "$rowindex$"))
        subAktivitasNilaiBlsfalPenyaluranLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasNilaiBlsfalPenyaluranLpgList.IsCopy || subAktivitasNilaiBlsfalPenyaluranLpgList.IsAdd) && subAktivitasNilaiBlsfalPenyaluranLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasNilaiBlsfalPenyaluranLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasNilaiBlsfalPenyaluranLpgList.CurrentAction) && !subAktivitasNilaiBlsfalPenyaluranLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasNilaiBlsfalPenyaluranLpgList.CloseRecordset(); }
@if (!subAktivitasNilaiBlsfalPenyaluranLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasNilaiBlsfalPenyaluranLpgList.IsGridAdd && !(subAktivitasNilaiBlsfalPenyaluranLpgList.IsGridEdit && subAktivitasNilaiBlsfalPenyaluranLpgList.ModalGridEdit) && !subAktivitasNilaiBlsfalPenyaluranLpgList.IsMultiEdit) {
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasNilaiBlsfalPenyaluranLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasNilaiBlsfalPenyaluranLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasNilaiBlsfalPenyaluranLpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasNilaiBlsfalPenyaluranLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasNilaiBlsfalPenyaluranLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasNilaiBLSFALPenyaluranLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
