@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiAgreementPenyaluranList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiAgreementPenyaluranList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasNilaiAgreementPenyaluranList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiAgreementPenyaluranList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiAgreementPenyaluran: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasNilaiAgreementPenyaluranList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasNilaiAgreementPenyaluranList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasNilaiAgreementPenyaluranList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasNilaiAgreementPenyaluranList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasNilaiAgreementPenyaluranList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasNilaiAgreementPenyaluranList.TotalRecords > 0 && subAktivitasNilaiAgreementPenyaluranList.ExportOptions.Visible) {
    subAktivitasNilaiAgreementPenyaluranList.ExportOptions.Render("body");
}
@if (subAktivitasNilaiAgreementPenyaluranList.ImportOptions.Visible) {
    subAktivitasNilaiAgreementPenyaluranList.ImportOptions.Render("body");
}
@if (subAktivitasNilaiAgreementPenyaluranList.SearchOptions.Visible) {
    subAktivitasNilaiAgreementPenyaluranList.SearchOptions.Render("body");
}
@if (subAktivitasNilaiAgreementPenyaluranList.FilterOptions.Visible) {
    subAktivitasNilaiAgreementPenyaluranList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasNilaiAgreementPenyaluranList.IsModal) {
<form name="fSubAktivitasNilaiAgreementPenyaluransrch" id="fSubAktivitasNilaiAgreementPenyaluransrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasNilaiAgreementPenyaluransrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasNilaiAgreementPenyaluranList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiAgreementPenyaluranList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiAgreementPenyaluran: currentTable } });
var currentForm;
var fSubAktivitasNilaiAgreementPenyaluransrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiAgreementPenyaluransrch")
        .setPageId("list")
@if (subAktivitasNilaiAgreementPenyaluranList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasNilaiAgreementPenyaluranList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasNilaiAgreementPenyaluranList.IsExport() && Empty(subAktivitasNilaiAgreementPenyaluranList.CurrentAction) && subAktivitasNilaiAgreementPenyaluranList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasNilaiAgreementPenyaluranList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasNilaiAgreementPenyaluranList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasNilaiAgreementPenyaluranList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasNilaiAgreementPenyaluranList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasNilaiAgreementPenyaluransrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiAgreementPenyaluranList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasNilaiAgreementPenyaluransrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiAgreementPenyaluranList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasNilaiAgreementPenyaluransrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiAgreementPenyaluranList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasNilaiAgreementPenyaluransrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasNilaiAgreementPenyaluranList.ShowPageHeader()
@subAktivitasNilaiAgreementPenyaluranList.ShowMessages()
<main class="list @(subAktivitasNilaiAgreementPenyaluranList.TotalRecords == 0 && !subAktivitasNilaiAgreementPenyaluranList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasNilaiAgreementPenyaluranList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasNilaiAgreementPenyaluranList.TotalRecords > 0 || !Empty(subAktivitasNilaiAgreementPenyaluranList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasNilaiAgreementPenyaluranList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasNilaiAgreementPenyaluranList.TableGridClass)">
<form name="@(subAktivitasNilaiAgreementPenyaluranList.FormName)" id="@(subAktivitasNilaiAgreementPenyaluranList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasNilaiAgreementPenyaluranList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasNilaiAgreementPenyaluranList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasNilaiAgreementPenyaluran" class="card-body ew-grid-middle-panel @(subAktivitasNilaiAgreementPenyaluranList.TableContainerClass)" style="@(subAktivitasNilaiAgreementPenyaluranList.TableContainerStyle)">
@if (subAktivitasNilaiAgreementPenyaluranList.TotalRecords > 0 || subAktivitasNilaiAgreementPenyaluranList.IsGridEdit || subAktivitasNilaiAgreementPenyaluranList.IsMultiEdit) {
<table id="tbl_SubAktivitasNilaiAgreementPenyaluranlist" class="@(subAktivitasNilaiAgreementPenyaluranList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasNilaiAgreementPenyaluranList.RowType = RowType.Header;

    // Render list options
    await subAktivitasNilaiAgreementPenyaluranList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasNilaiAgreementPenyaluranList.ListOptions.RenderHeader("left")
@if (subAktivitasNilaiAgreementPenyaluranList.NoReferensi.Visible) { // subAktivitasNilaiAgreementPenyaluranList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasNilaiAgreementPenyaluranList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluran_NoReferensi" class="SubAktivitasNilaiAgreementPenyaluran_NoReferensi">@Html.Raw(subAktivitasNilaiAgreementPenyaluranList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranList.NoReferensi))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranList.NoReferensi.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranList.idProses.Visible) { // subAktivitasNilaiAgreementPenyaluranList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasNilaiAgreementPenyaluranList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluran_idProses" class="SubAktivitasNilaiAgreementPenyaluran_idProses">@Html.Raw(subAktivitasNilaiAgreementPenyaluranList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranList.idProses))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranList.idProses.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranList.idAktifitas.Visible) { // subAktivitasNilaiAgreementPenyaluranList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasNilaiAgreementPenyaluranList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluran_idAktifitas" class="SubAktivitasNilaiAgreementPenyaluran_idAktifitas">@Html.Raw(subAktivitasNilaiAgreementPenyaluranList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranList.idAktifitas))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranList.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranList.StatusAktivitas.Visible) { // subAktivitasNilaiAgreementPenyaluranList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasNilaiAgreementPenyaluranList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluran_StatusAktivitas" class="SubAktivitasNilaiAgreementPenyaluran_StatusAktivitas">@Html.Raw(subAktivitasNilaiAgreementPenyaluranList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranList.StatusAktivitas))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranList.StatusAktivitas.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranList.LastUpdatedBy.Visible) { // subAktivitasNilaiAgreementPenyaluranList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasNilaiAgreementPenyaluranList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluran_LastUpdatedBy" class="SubAktivitasNilaiAgreementPenyaluran_LastUpdatedBy">@Html.Raw(subAktivitasNilaiAgreementPenyaluranList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranList.LastUpdatedBy))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranList.lastUpdatedDate.Visible) { // subAktivitasNilaiAgreementPenyaluranList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasNilaiAgreementPenyaluranList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluran_lastUpdatedDate" class="SubAktivitasNilaiAgreementPenyaluran_lastUpdatedDate">@Html.Raw(subAktivitasNilaiAgreementPenyaluranList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranList.lastUpdatedDate))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranList.Flowrate.Visible) { // subAktivitasNilaiAgreementPenyaluranList.Flowrate.Visible (begin)
        <th data-name="Flowrate" class="@(subAktivitasNilaiAgreementPenyaluranList.Flowrate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluran_Flowrate" class="SubAktivitasNilaiAgreementPenyaluran_Flowrate">@Html.Raw(subAktivitasNilaiAgreementPenyaluranList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranList.Flowrate))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranList.Flowrate.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranList.Pressure.Visible) { // subAktivitasNilaiAgreementPenyaluranList.Pressure.Visible (begin)
        <th data-name="Pressure" class="@(subAktivitasNilaiAgreementPenyaluranList.Pressure.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluran_Pressure" class="SubAktivitasNilaiAgreementPenyaluran_Pressure">@Html.Raw(subAktivitasNilaiAgreementPenyaluranList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranList.Pressure))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranList.Pressure.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranList.LamaPembongkaran.Visible) { // subAktivitasNilaiAgreementPenyaluranList.LamaPembongkaran.Visible (begin)
        <th data-name="LamaPembongkaran" class="@(subAktivitasNilaiAgreementPenyaluranList.LamaPembongkaran.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluran_LamaPembongkaran" class="SubAktivitasNilaiAgreementPenyaluran_LamaPembongkaran">@Html.Raw(subAktivitasNilaiAgreementPenyaluranList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranList.LamaPembongkaran))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranList.LamaPembongkaran.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranList.ETC.Visible) { // subAktivitasNilaiAgreementPenyaluranList.ETC.Visible (begin)
        <th data-name="ETC" class="@(subAktivitasNilaiAgreementPenyaluranList.ETC.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluran_ETC" class="SubAktivitasNilaiAgreementPenyaluran_ETC">@Html.Raw(subAktivitasNilaiAgreementPenyaluranList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranList.ETC))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranList.ETC.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranList.userInput.Visible) { // subAktivitasNilaiAgreementPenyaluranList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasNilaiAgreementPenyaluranList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluran_userInput" class="SubAktivitasNilaiAgreementPenyaluran_userInput">@Html.Raw(subAktivitasNilaiAgreementPenyaluranList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranList.userInput))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranList.userInput.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasNilaiAgreementPenyaluranList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasNilaiAgreementPenyaluranList.PageNumber)">
@{
    await subAktivitasNilaiAgreementPenyaluranList.SetupGrid();
    bool eof = subAktivitasNilaiAgreementPenyaluranList.Recordset == null; // DN
}
@while (subAktivitasNilaiAgreementPenyaluranList.RecordCount < subAktivitasNilaiAgreementPenyaluranList.StopRecord || SameString(subAktivitasNilaiAgreementPenyaluranList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasNilaiAgreementPenyaluranList.RowIndex, "$rowindex$") &&
        (!subAktivitasNilaiAgreementPenyaluranList.IsGridAdd || subAktivitasNilaiAgreementPenyaluranList.CurrentMode == "copy") &&
        (!((subAktivitasNilaiAgreementPenyaluranList.IsCopy || subAktivitasNilaiAgreementPenyaluranList.IsAdd) && subAktivitasNilaiAgreementPenyaluranList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasNilaiAgreementPenyaluranList.Recordset.ReadAsync();
    subAktivitasNilaiAgreementPenyaluranList.RecordCount++;
    if (subAktivitasNilaiAgreementPenyaluranList.RecordCount >= subAktivitasNilaiAgreementPenyaluranList.StartRecord) {
        await subAktivitasNilaiAgreementPenyaluranList.SetupRow();
    <tr @Html.Raw(subAktivitasNilaiAgreementPenyaluranList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasNilaiAgreementPenyaluranList.ListOptions.RenderBody("left", subAktivitasNilaiAgreementPenyaluranList.RowCount)
    @if (subAktivitasNilaiAgreementPenyaluranList.NoReferensi.Visible) { // subAktivitasNilaiAgreementPenyaluranList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasNilaiAgreementPenyaluranList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranList.RowCount)_SubAktivitasNilaiAgreementPenyaluran_NoReferensi" class="el_SubAktivitasNilaiAgreementPenyaluran_NoReferensi">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranList.NoReferensi.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranList.idProses.Visible) { // subAktivitasNilaiAgreementPenyaluranList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasNilaiAgreementPenyaluranList.idProses.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranList.RowCount)_SubAktivitasNilaiAgreementPenyaluran_idProses" class="el_SubAktivitasNilaiAgreementPenyaluran_idProses">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranList.idProses.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranList.idAktifitas.Visible) { // subAktivitasNilaiAgreementPenyaluranList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasNilaiAgreementPenyaluranList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranList.RowCount)_SubAktivitasNilaiAgreementPenyaluran_idAktifitas" class="el_SubAktivitasNilaiAgreementPenyaluran_idAktifitas">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranList.idAktifitas.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranList.StatusAktivitas.Visible) { // subAktivitasNilaiAgreementPenyaluranList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasNilaiAgreementPenyaluranList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranList.RowCount)_SubAktivitasNilaiAgreementPenyaluran_StatusAktivitas" class="el_SubAktivitasNilaiAgreementPenyaluran_StatusAktivitas">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranList.LastUpdatedBy.Visible) { // subAktivitasNilaiAgreementPenyaluranList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasNilaiAgreementPenyaluranList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranList.RowCount)_SubAktivitasNilaiAgreementPenyaluran_LastUpdatedBy" class="el_SubAktivitasNilaiAgreementPenyaluran_LastUpdatedBy">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranList.lastUpdatedDate.Visible) { // subAktivitasNilaiAgreementPenyaluranList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasNilaiAgreementPenyaluranList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranList.RowCount)_SubAktivitasNilaiAgreementPenyaluran_lastUpdatedDate" class="el_SubAktivitasNilaiAgreementPenyaluran_lastUpdatedDate">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranList.Flowrate.Visible) { // subAktivitasNilaiAgreementPenyaluranList.Flowrate.Visible (begin)
        <td data-name="Flowrate" @Html.Raw(subAktivitasNilaiAgreementPenyaluranList.Flowrate.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranList.RowCount)_SubAktivitasNilaiAgreementPenyaluran_Flowrate" class="el_SubAktivitasNilaiAgreementPenyaluran_Flowrate">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranList.Flowrate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranList.Flowrate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranList.Flowrate.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranList.Pressure.Visible) { // subAktivitasNilaiAgreementPenyaluranList.Pressure.Visible (begin)
        <td data-name="Pressure" @Html.Raw(subAktivitasNilaiAgreementPenyaluranList.Pressure.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranList.RowCount)_SubAktivitasNilaiAgreementPenyaluran_Pressure" class="el_SubAktivitasNilaiAgreementPenyaluran_Pressure">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranList.Pressure.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranList.Pressure.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranList.Pressure.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranList.LamaPembongkaran.Visible) { // subAktivitasNilaiAgreementPenyaluranList.LamaPembongkaran.Visible (begin)
        <td data-name="LamaPembongkaran" @Html.Raw(subAktivitasNilaiAgreementPenyaluranList.LamaPembongkaran.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranList.RowCount)_SubAktivitasNilaiAgreementPenyaluran_LamaPembongkaran" class="el_SubAktivitasNilaiAgreementPenyaluran_LamaPembongkaran">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranList.LamaPembongkaran.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranList.LamaPembongkaran.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranList.LamaPembongkaran.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranList.ETC.Visible) { // subAktivitasNilaiAgreementPenyaluranList.ETC.Visible (begin)
        <td data-name="ETC" @Html.Raw(subAktivitasNilaiAgreementPenyaluranList.ETC.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranList.RowCount)_SubAktivitasNilaiAgreementPenyaluran_ETC" class="el_SubAktivitasNilaiAgreementPenyaluran_ETC">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranList.ETC.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranList.ETC.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranList.ETC.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranList.userInput.Visible) { // subAktivitasNilaiAgreementPenyaluranList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasNilaiAgreementPenyaluranList.userInput.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranList.RowCount)_SubAktivitasNilaiAgreementPenyaluran_userInput" class="el_SubAktivitasNilaiAgreementPenyaluran_userInput">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranList.userInput.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasNilaiAgreementPenyaluranList.ListOptions.RenderBody("right", subAktivitasNilaiAgreementPenyaluranList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasNilaiAgreementPenyaluranList.RowIndex, "$rowindex$"))
        subAktivitasNilaiAgreementPenyaluranList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasNilaiAgreementPenyaluranList.IsCopy || subAktivitasNilaiAgreementPenyaluranList.IsAdd) && subAktivitasNilaiAgreementPenyaluranList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasNilaiAgreementPenyaluranList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasNilaiAgreementPenyaluranList.CurrentAction) && !subAktivitasNilaiAgreementPenyaluranList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasNilaiAgreementPenyaluranList.CloseRecordset(); }
@if (!subAktivitasNilaiAgreementPenyaluranList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasNilaiAgreementPenyaluranList.IsGridAdd && !(subAktivitasNilaiAgreementPenyaluranList.IsGridEdit && subAktivitasNilaiAgreementPenyaluranList.ModalGridEdit) && !subAktivitasNilaiAgreementPenyaluranList.IsMultiEdit) {
@Html.Raw(subAktivitasNilaiAgreementPenyaluranList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasNilaiAgreementPenyaluranList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasNilaiAgreementPenyaluranList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasNilaiAgreementPenyaluranList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasNilaiAgreementPenyaluranList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasNilaiAgreementPenyaluranList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasNilaiAgreementPenyaluran");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
