@{
    // View
    View = this;

    // Check action result
    if (subaktivitasInputLogbookPenyaluranPipaBackupList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subaktivitasInputLogbookPenyaluranPipaBackupList.UseLayout ? "_Layout" : "";
}
@if (!subaktivitasInputLogbookPenyaluranPipaBackupList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasInputLogbookPenyaluranPipaBackupList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasInputLogbookPenyaluranPipa_Backup: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subaktivitasInputLogbookPenyaluranPipaBackupList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subaktivitasInputLogbookPenyaluranPipaBackupList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subaktivitasInputLogbookPenyaluranPipaBackupList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subaktivitasInputLogbookPenyaluranPipaBackupList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subaktivitasInputLogbookPenyaluranPipaBackupList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subaktivitasInputLogbookPenyaluranPipaBackupList.TotalRecords > 0 && subaktivitasInputLogbookPenyaluranPipaBackupList.ExportOptions.Visible) {
    subaktivitasInputLogbookPenyaluranPipaBackupList.ExportOptions.Render("body");
}
@if (subaktivitasInputLogbookPenyaluranPipaBackupList.ImportOptions.Visible) {
    subaktivitasInputLogbookPenyaluranPipaBackupList.ImportOptions.Render("body");
}
@if (subaktivitasInputLogbookPenyaluranPipaBackupList.SearchOptions.Visible) {
    subaktivitasInputLogbookPenyaluranPipaBackupList.SearchOptions.Render("body");
}
@if (subaktivitasInputLogbookPenyaluranPipaBackupList.FilterOptions.Visible) {
    subaktivitasInputLogbookPenyaluranPipaBackupList.FilterOptions.Render("body");
}
</div>
}
@if (!subaktivitasInputLogbookPenyaluranPipaBackupList.IsModal) {
<form name="fSubaktivitasInputLogbookPenyaluranPipa_Backupsrch" id="fSubaktivitasInputLogbookPenyaluranPipa_Backupsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubaktivitasInputLogbookPenyaluranPipa_Backupsrch_search_panel" class="mb-2 mb-sm-0 @(subaktivitasInputLogbookPenyaluranPipaBackupList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasInputLogbookPenyaluranPipaBackupList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasInputLogbookPenyaluranPipa_Backup: currentTable } });
var currentForm;
var fSubaktivitasInputLogbookPenyaluranPipa_Backupsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubaktivitasInputLogbookPenyaluranPipa_Backupsrch")
        .setPageId("list")
@if (subaktivitasInputLogbookPenyaluranPipaBackupList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subaktivitasInputLogbookPenyaluranPipaBackupList.IsExport() && Empty(subaktivitasInputLogbookPenyaluranPipaBackupList.CurrentAction) && subaktivitasInputLogbookPenyaluranPipaBackupList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaBackupList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaBackupList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subaktivitasInputLogbookPenyaluranPipaBackupList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubaktivitasInputLogbookPenyaluranPipa_Backupsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subaktivitasInputLogbookPenyaluranPipaBackupList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubaktivitasInputLogbookPenyaluranPipa_Backupsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subaktivitasInputLogbookPenyaluranPipaBackupList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubaktivitasInputLogbookPenyaluranPipa_Backupsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subaktivitasInputLogbookPenyaluranPipaBackupList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubaktivitasInputLogbookPenyaluranPipa_Backupsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subaktivitasInputLogbookPenyaluranPipaBackupList.ShowPageHeader()
@subaktivitasInputLogbookPenyaluranPipaBackupList.ShowMessages()
<main class="list @(subaktivitasInputLogbookPenyaluranPipaBackupList.TotalRecords == 0 && !subaktivitasInputLogbookPenyaluranPipaBackupList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subaktivitasInputLogbookPenyaluranPipaBackupList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subaktivitasInputLogbookPenyaluranPipaBackupList.TotalRecords > 0 || !Empty(subaktivitasInputLogbookPenyaluranPipaBackupList.CurrentAction)) {
<div class="card ew-card ew-grid@(subaktivitasInputLogbookPenyaluranPipaBackupList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subaktivitasInputLogbookPenyaluranPipaBackupList.TableGridClass)">
<form name="@(subaktivitasInputLogbookPenyaluranPipaBackupList.FormName)" id="@(subaktivitasInputLogbookPenyaluranPipaBackupList.FormName)" class="ew-form ew-list-form" action="@AppPath(subaktivitasInputLogbookPenyaluranPipaBackupList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subaktivitasInputLogbookPenyaluranPipaBackupList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubaktivitasInputLogbookPenyaluranPipa_Backup" class="card-body ew-grid-middle-panel @(subaktivitasInputLogbookPenyaluranPipaBackupList.TableContainerClass)" style="@(subaktivitasInputLogbookPenyaluranPipaBackupList.TableContainerStyle)">
@if (subaktivitasInputLogbookPenyaluranPipaBackupList.TotalRecords > 0 || subaktivitasInputLogbookPenyaluranPipaBackupList.IsGridEdit || subaktivitasInputLogbookPenyaluranPipaBackupList.IsMultiEdit) {
<table id="tbl_SubaktivitasInputLogbookPenyaluranPipa_Backuplist" class="@(subaktivitasInputLogbookPenyaluranPipaBackupList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subaktivitasInputLogbookPenyaluranPipaBackupList.RowType = RowType.Header;

    // Render list options
    await subaktivitasInputLogbookPenyaluranPipaBackupList.RenderListOptions();
}
@* Render list options (header, left) *@
@subaktivitasInputLogbookPenyaluranPipaBackupList.ListOptions.RenderHeader("left")
@if (subaktivitasInputLogbookPenyaluranPipaBackupList.id.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupList.id.Visible (begin)
        <th data-name="id" class="@(subaktivitasInputLogbookPenyaluranPipaBackupList.id.HeaderCellClass)"><div id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_id" class="SubaktivitasInputLogbookPenyaluranPipa_Backup_id">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.RenderFieldHeader(subaktivitasInputLogbookPenyaluranPipaBackupList.id))</div></th>
} @* subaktivitasInputLogbookPenyaluranPipaBackupList.id.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupList.idAktifitas.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subaktivitasInputLogbookPenyaluranPipaBackupList.idAktifitas.HeaderCellClass)"><div id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_idAktifitas" class="SubaktivitasInputLogbookPenyaluranPipa_Backup_idAktifitas">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.RenderFieldHeader(subaktivitasInputLogbookPenyaluranPipaBackupList.idAktifitas))</div></th>
} @* subaktivitasInputLogbookPenyaluranPipaBackupList.idAktifitas.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupList.NomorTangki.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupList.NomorTangki.Visible (begin)
        <th data-name="NomorTangki" class="@(subaktivitasInputLogbookPenyaluranPipaBackupList.NomorTangki.HeaderCellClass)"><div id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_NomorTangki" class="SubaktivitasInputLogbookPenyaluranPipa_Backup_NomorTangki">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.RenderFieldHeader(subaktivitasInputLogbookPenyaluranPipaBackupList.NomorTangki))</div></th>
} @* subaktivitasInputLogbookPenyaluranPipaBackupList.NomorTangki.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupList.LO.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupList.LO.Visible (begin)
        <th data-name="LO" class="@(subaktivitasInputLogbookPenyaluranPipaBackupList.LO.HeaderCellClass)"><div id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_LO" class="SubaktivitasInputLogbookPenyaluranPipa_Backup_LO">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.RenderFieldHeader(subaktivitasInputLogbookPenyaluranPipaBackupList.LO))</div></th>
} @* subaktivitasInputLogbookPenyaluranPipaBackupList.LO.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupList.Produk.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subaktivitasInputLogbookPenyaluranPipaBackupList.Produk.HeaderCellClass)"><div id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_Produk" class="SubaktivitasInputLogbookPenyaluranPipa_Backup_Produk">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.RenderFieldHeader(subaktivitasInputLogbookPenyaluranPipaBackupList.Produk))</div></th>
} @* subaktivitasInputLogbookPenyaluranPipaBackupList.Produk.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupList.MeterAwal.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupList.MeterAwal.Visible (begin)
        <th data-name="MeterAwal" class="@(subaktivitasInputLogbookPenyaluranPipaBackupList.MeterAwal.HeaderCellClass)"><div id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_MeterAwal" class="SubaktivitasInputLogbookPenyaluranPipa_Backup_MeterAwal">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.RenderFieldHeader(subaktivitasInputLogbookPenyaluranPipaBackupList.MeterAwal))</div></th>
} @* subaktivitasInputLogbookPenyaluranPipaBackupList.MeterAwal.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupList.MeterAkhir.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupList.MeterAkhir.Visible (begin)
        <th data-name="MeterAkhir" class="@(subaktivitasInputLogbookPenyaluranPipaBackupList.MeterAkhir.HeaderCellClass)"><div id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_MeterAkhir" class="SubaktivitasInputLogbookPenyaluranPipa_Backup_MeterAkhir">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.RenderFieldHeader(subaktivitasInputLogbookPenyaluranPipaBackupList.MeterAkhir))</div></th>
} @* subaktivitasInputLogbookPenyaluranPipaBackupList.MeterAkhir.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupList.Quantity.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupList.Quantity.Visible (begin)
        <th data-name="Quantity" class="@(subaktivitasInputLogbookPenyaluranPipaBackupList.Quantity.HeaderCellClass)"><div id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_Quantity" class="SubaktivitasInputLogbookPenyaluranPipa_Backup_Quantity">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.RenderFieldHeader(subaktivitasInputLogbookPenyaluranPipaBackupList.Quantity))</div></th>
} @* subaktivitasInputLogbookPenyaluranPipaBackupList.Quantity.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupList.BayNumber.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupList.BayNumber.Visible (begin)
        <th data-name="BayNumber" class="@(subaktivitasInputLogbookPenyaluranPipaBackupList.BayNumber.HeaderCellClass)"><div id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_BayNumber" class="SubaktivitasInputLogbookPenyaluranPipa_Backup_BayNumber">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.RenderFieldHeader(subaktivitasInputLogbookPenyaluranPipaBackupList.BayNumber))</div></th>
} @* subaktivitasInputLogbookPenyaluranPipaBackupList.BayNumber.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupList.userInput.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subaktivitasInputLogbookPenyaluranPipaBackupList.userInput.HeaderCellClass)"><div id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_userInput" class="SubaktivitasInputLogbookPenyaluranPipa_Backup_userInput">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.RenderFieldHeader(subaktivitasInputLogbookPenyaluranPipaBackupList.userInput))</div></th>
} @* subaktivitasInputLogbookPenyaluranPipaBackupList.userInput.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupList.etlDate.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subaktivitasInputLogbookPenyaluranPipaBackupList.etlDate.HeaderCellClass)"><div id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_etlDate" class="SubaktivitasInputLogbookPenyaluranPipa_Backup_etlDate">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.RenderFieldHeader(subaktivitasInputLogbookPenyaluranPipaBackupList.etlDate))</div></th>
} @* subaktivitasInputLogbookPenyaluranPipaBackupList.etlDate.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupList.idProses.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subaktivitasInputLogbookPenyaluranPipaBackupList.idProses.HeaderCellClass)"><div id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_idProses" class="SubaktivitasInputLogbookPenyaluranPipa_Backup_idProses">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.RenderFieldHeader(subaktivitasInputLogbookPenyaluranPipaBackupList.idProses))</div></th>
} @* subaktivitasInputLogbookPenyaluranPipaBackupList.idProses.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupList.LastUpdatedBy.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subaktivitasInputLogbookPenyaluranPipaBackupList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_LastUpdatedBy" class="SubaktivitasInputLogbookPenyaluranPipa_Backup_LastUpdatedBy">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.RenderFieldHeader(subaktivitasInputLogbookPenyaluranPipaBackupList.LastUpdatedBy))</div></th>
} @* subaktivitasInputLogbookPenyaluranPipaBackupList.LastUpdatedBy.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupList.lastUpdatedDate.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subaktivitasInputLogbookPenyaluranPipaBackupList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_lastUpdatedDate" class="SubaktivitasInputLogbookPenyaluranPipa_Backup_lastUpdatedDate">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.RenderFieldHeader(subaktivitasInputLogbookPenyaluranPipaBackupList.lastUpdatedDate))</div></th>
} @* subaktivitasInputLogbookPenyaluranPipaBackupList.lastUpdatedDate.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupList.NoReferensi.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subaktivitasInputLogbookPenyaluranPipaBackupList.NoReferensi.HeaderCellClass)"><div id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_NoReferensi" class="SubaktivitasInputLogbookPenyaluranPipa_Backup_NoReferensi">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.RenderFieldHeader(subaktivitasInputLogbookPenyaluranPipaBackupList.NoReferensi))</div></th>
} @* subaktivitasInputLogbookPenyaluranPipaBackupList.NoReferensi.Visible (end) *@
@* Render list options (header, right) *@
@subaktivitasInputLogbookPenyaluranPipaBackupList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subaktivitasInputLogbookPenyaluranPipaBackupList.PageNumber)">
@{
    await subaktivitasInputLogbookPenyaluranPipaBackupList.SetupGrid();
    bool eof = subaktivitasInputLogbookPenyaluranPipaBackupList.Recordset == null; // DN
}
@while (subaktivitasInputLogbookPenyaluranPipaBackupList.RecordCount < subaktivitasInputLogbookPenyaluranPipaBackupList.StopRecord || SameString(subaktivitasInputLogbookPenyaluranPipaBackupList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subaktivitasInputLogbookPenyaluranPipaBackupList.RowIndex, "$rowindex$") &&
        (!subaktivitasInputLogbookPenyaluranPipaBackupList.IsGridAdd || subaktivitasInputLogbookPenyaluranPipaBackupList.CurrentMode == "copy") &&
        (!((subaktivitasInputLogbookPenyaluranPipaBackupList.IsCopy || subaktivitasInputLogbookPenyaluranPipaBackupList.IsAdd) && subaktivitasInputLogbookPenyaluranPipaBackupList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subaktivitasInputLogbookPenyaluranPipaBackupList.Recordset.ReadAsync();
    subaktivitasInputLogbookPenyaluranPipaBackupList.RecordCount++;
    if (subaktivitasInputLogbookPenyaluranPipaBackupList.RecordCount >= subaktivitasInputLogbookPenyaluranPipaBackupList.StartRecord) {
        await subaktivitasInputLogbookPenyaluranPipaBackupList.SetupRow();
    <tr @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.RowAttributes)>
    @* Render list options (body, left) *@
    @subaktivitasInputLogbookPenyaluranPipaBackupList.ListOptions.RenderBody("left", subaktivitasInputLogbookPenyaluranPipaBackupList.RowCount)
    @if (subaktivitasInputLogbookPenyaluranPipaBackupList.id.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.id.CellAttributes)>
<span id="el@(SameString(subaktivitasInputLogbookPenyaluranPipaBackupList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasInputLogbookPenyaluranPipaBackupList.RowCount)_SubaktivitasInputLogbookPenyaluranPipa_Backup_id" class="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_id">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.id.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.id.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputLogbookPenyaluranPipaBackupList.id.Visible (end) *@
    @if (subaktivitasInputLogbookPenyaluranPipaBackupList.idAktifitas.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subaktivitasInputLogbookPenyaluranPipaBackupList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasInputLogbookPenyaluranPipaBackupList.RowCount)_SubaktivitasInputLogbookPenyaluranPipa_Backup_idAktifitas" class="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_idAktifitas">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.idAktifitas.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputLogbookPenyaluranPipaBackupList.idAktifitas.Visible (end) *@
    @if (subaktivitasInputLogbookPenyaluranPipaBackupList.NomorTangki.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupList.NomorTangki.Visible (begin)
        <td data-name="NomorTangki" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.NomorTangki.CellAttributes)>
<span id="el@(SameString(subaktivitasInputLogbookPenyaluranPipaBackupList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasInputLogbookPenyaluranPipaBackupList.RowCount)_SubaktivitasInputLogbookPenyaluranPipa_Backup_NomorTangki" class="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_NomorTangki">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.NomorTangki.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.NomorTangki.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputLogbookPenyaluranPipaBackupList.NomorTangki.Visible (end) *@
    @if (subaktivitasInputLogbookPenyaluranPipaBackupList.LO.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupList.LO.Visible (begin)
        <td data-name="LO" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.LO.CellAttributes)>
<span id="el@(SameString(subaktivitasInputLogbookPenyaluranPipaBackupList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasInputLogbookPenyaluranPipaBackupList.RowCount)_SubaktivitasInputLogbookPenyaluranPipa_Backup_LO" class="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_LO">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.LO.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.LO.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputLogbookPenyaluranPipaBackupList.LO.Visible (end) *@
    @if (subaktivitasInputLogbookPenyaluranPipaBackupList.Produk.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.Produk.CellAttributes)>
<span id="el@(SameString(subaktivitasInputLogbookPenyaluranPipaBackupList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasInputLogbookPenyaluranPipaBackupList.RowCount)_SubaktivitasInputLogbookPenyaluranPipa_Backup_Produk" class="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_Produk">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.Produk.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputLogbookPenyaluranPipaBackupList.Produk.Visible (end) *@
    @if (subaktivitasInputLogbookPenyaluranPipaBackupList.MeterAwal.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupList.MeterAwal.Visible (begin)
        <td data-name="MeterAwal" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.MeterAwal.CellAttributes)>
<span id="el@(SameString(subaktivitasInputLogbookPenyaluranPipaBackupList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasInputLogbookPenyaluranPipaBackupList.RowCount)_SubaktivitasInputLogbookPenyaluranPipa_Backup_MeterAwal" class="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_MeterAwal">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.MeterAwal.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.MeterAwal.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputLogbookPenyaluranPipaBackupList.MeterAwal.Visible (end) *@
    @if (subaktivitasInputLogbookPenyaluranPipaBackupList.MeterAkhir.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupList.MeterAkhir.Visible (begin)
        <td data-name="MeterAkhir" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.MeterAkhir.CellAttributes)>
<span id="el@(SameString(subaktivitasInputLogbookPenyaluranPipaBackupList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasInputLogbookPenyaluranPipaBackupList.RowCount)_SubaktivitasInputLogbookPenyaluranPipa_Backup_MeterAkhir" class="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_MeterAkhir">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.MeterAkhir.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.MeterAkhir.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputLogbookPenyaluranPipaBackupList.MeterAkhir.Visible (end) *@
    @if (subaktivitasInputLogbookPenyaluranPipaBackupList.Quantity.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupList.Quantity.Visible (begin)
        <td data-name="Quantity" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.Quantity.CellAttributes)>
<span id="el@(SameString(subaktivitasInputLogbookPenyaluranPipaBackupList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasInputLogbookPenyaluranPipaBackupList.RowCount)_SubaktivitasInputLogbookPenyaluranPipa_Backup_Quantity" class="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_Quantity">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.Quantity.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.Quantity.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputLogbookPenyaluranPipaBackupList.Quantity.Visible (end) *@
    @if (subaktivitasInputLogbookPenyaluranPipaBackupList.BayNumber.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupList.BayNumber.Visible (begin)
        <td data-name="BayNumber" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.BayNumber.CellAttributes)>
<span id="el@(SameString(subaktivitasInputLogbookPenyaluranPipaBackupList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasInputLogbookPenyaluranPipaBackupList.RowCount)_SubaktivitasInputLogbookPenyaluranPipa_Backup_BayNumber" class="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_BayNumber">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.BayNumber.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.BayNumber.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputLogbookPenyaluranPipaBackupList.BayNumber.Visible (end) *@
    @if (subaktivitasInputLogbookPenyaluranPipaBackupList.userInput.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.userInput.CellAttributes)>
<span id="el@(SameString(subaktivitasInputLogbookPenyaluranPipaBackupList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasInputLogbookPenyaluranPipaBackupList.RowCount)_SubaktivitasInputLogbookPenyaluranPipa_Backup_userInput" class="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_userInput">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.userInput.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputLogbookPenyaluranPipaBackupList.userInput.Visible (end) *@
    @if (subaktivitasInputLogbookPenyaluranPipaBackupList.etlDate.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.etlDate.CellAttributes)>
<span id="el@(SameString(subaktivitasInputLogbookPenyaluranPipaBackupList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasInputLogbookPenyaluranPipaBackupList.RowCount)_SubaktivitasInputLogbookPenyaluranPipa_Backup_etlDate" class="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_etlDate">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.etlDate.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputLogbookPenyaluranPipaBackupList.etlDate.Visible (end) *@
    @if (subaktivitasInputLogbookPenyaluranPipaBackupList.idProses.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.idProses.CellAttributes)>
<span id="el@(SameString(subaktivitasInputLogbookPenyaluranPipaBackupList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasInputLogbookPenyaluranPipaBackupList.RowCount)_SubaktivitasInputLogbookPenyaluranPipa_Backup_idProses" class="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_idProses">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.idProses.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputLogbookPenyaluranPipaBackupList.idProses.Visible (end) *@
    @if (subaktivitasInputLogbookPenyaluranPipaBackupList.LastUpdatedBy.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subaktivitasInputLogbookPenyaluranPipaBackupList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasInputLogbookPenyaluranPipaBackupList.RowCount)_SubaktivitasInputLogbookPenyaluranPipa_Backup_LastUpdatedBy" class="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_LastUpdatedBy">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputLogbookPenyaluranPipaBackupList.LastUpdatedBy.Visible (end) *@
    @if (subaktivitasInputLogbookPenyaluranPipaBackupList.lastUpdatedDate.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subaktivitasInputLogbookPenyaluranPipaBackupList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasInputLogbookPenyaluranPipaBackupList.RowCount)_SubaktivitasInputLogbookPenyaluranPipa_Backup_lastUpdatedDate" class="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_lastUpdatedDate">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputLogbookPenyaluranPipaBackupList.lastUpdatedDate.Visible (end) *@
    @if (subaktivitasInputLogbookPenyaluranPipaBackupList.NoReferensi.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subaktivitasInputLogbookPenyaluranPipaBackupList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasInputLogbookPenyaluranPipaBackupList.RowCount)_SubaktivitasInputLogbookPenyaluranPipa_Backup_NoReferensi" class="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_NoReferensi">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.NoReferensi.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputLogbookPenyaluranPipaBackupList.NoReferensi.Visible (end) *@
    @* Render list options (body, right) *@
    @subaktivitasInputLogbookPenyaluranPipaBackupList.ListOptions.RenderBody("right", subaktivitasInputLogbookPenyaluranPipaBackupList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subaktivitasInputLogbookPenyaluranPipaBackupList.RowIndex, "$rowindex$"))
        subaktivitasInputLogbookPenyaluranPipaBackupList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subaktivitasInputLogbookPenyaluranPipaBackupList.IsCopy || subaktivitasInputLogbookPenyaluranPipaBackupList.IsAdd) && subaktivitasInputLogbookPenyaluranPipaBackupList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subaktivitasInputLogbookPenyaluranPipaBackupList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subaktivitasInputLogbookPenyaluranPipaBackupList.CurrentAction) && !subaktivitasInputLogbookPenyaluranPipaBackupList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subaktivitasInputLogbookPenyaluranPipaBackupList.CloseRecordset(); }
@if (!subaktivitasInputLogbookPenyaluranPipaBackupList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subaktivitasInputLogbookPenyaluranPipaBackupList.IsGridAdd && !(subaktivitasInputLogbookPenyaluranPipaBackupList.IsGridEdit && subaktivitasInputLogbookPenyaluranPipaBackupList.ModalGridEdit) && !subaktivitasInputLogbookPenyaluranPipaBackupList.IsMultiEdit) {
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupList.Pager.Render())
}
<div class="ew-list-other-options">
@subaktivitasInputLogbookPenyaluranPipaBackupList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subaktivitasInputLogbookPenyaluranPipaBackupList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subaktivitasInputLogbookPenyaluranPipaBackupList.FooterOptions.RenderBody()
</div>
</main>
@subaktivitasInputLogbookPenyaluranPipaBackupList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subaktivitasInputLogbookPenyaluranPipaBackupList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubaktivitasInputLogbookPenyaluranPipa_Backup");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
