@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputFlowrateView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputFlowrateView.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputFlowrateView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @subAktivitasFormInputFlowrateView.ExportOptions.RenderBody()
    @subAktivitasFormInputFlowrateView.OtherOptions.RenderBody()
</div>
}
@subAktivitasFormInputFlowrateView.ShowPageHeader()
@subAktivitasFormInputFlowrateView.ShowMessages()
<main class="view">
<form name="fSubAktivitasFormInputFlowrateview" id="fSubAktivitasFormInputFlowrateview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!subAktivitasFormInputFlowrateView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputFlowrateView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputFlowrate: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fSubAktivitasFormInputFlowrateview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputFlowrateview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputFlowrateView.IsModal)">
<table class="@(subAktivitasFormInputFlowrateView.TableClass)">
@if (subAktivitasFormInputFlowrateView.id.Visible) { // subAktivitasFormInputFlowrateView.id.Visible (begin)
    <tr id="r_id" @Html.Raw(subAktivitasFormInputFlowrateView.id.RowAttributes)>
        <td class="@(subAktivitasFormInputFlowrateView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputFlowrate_id">@Html.Raw(subAktivitasFormInputFlowrateView.id.Caption)</span></td>
        <td data-name="id" @Html.Raw(subAktivitasFormInputFlowrateView.id.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrate_id">
<span @Html.Raw(subAktivitasFormInputFlowrateView.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateView.id.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputFlowrateView.id.Visible (end) *@
@if (subAktivitasFormInputFlowrateView.NoReferensi.Visible) { // subAktivitasFormInputFlowrateView.NoReferensi.Visible (begin)
    <tr id="r_NoReferensi" @Html.Raw(subAktivitasFormInputFlowrateView.NoReferensi.RowAttributes)>
        <td class="@(subAktivitasFormInputFlowrateView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputFlowrate_NoReferensi">@Html.Raw(subAktivitasFormInputFlowrateView.NoReferensi.Caption)</span></td>
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputFlowrateView.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrate_NoReferensi">
<span @Html.Raw(subAktivitasFormInputFlowrateView.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateView.NoReferensi.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputFlowrateView.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputFlowrateView.idProses.Visible) { // subAktivitasFormInputFlowrateView.idProses.Visible (begin)
    <tr id="r_idProses" @Html.Raw(subAktivitasFormInputFlowrateView.idProses.RowAttributes)>
        <td class="@(subAktivitasFormInputFlowrateView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputFlowrate_idProses">@Html.Raw(subAktivitasFormInputFlowrateView.idProses.Caption)</span></td>
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputFlowrateView.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrate_idProses">
<span @Html.Raw(subAktivitasFormInputFlowrateView.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateView.idProses.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputFlowrateView.idProses.Visible (end) *@
@if (subAktivitasFormInputFlowrateView.idAktifitas.Visible) { // subAktivitasFormInputFlowrateView.idAktifitas.Visible (begin)
    <tr id="r_idAktifitas" @Html.Raw(subAktivitasFormInputFlowrateView.idAktifitas.RowAttributes)>
        <td class="@(subAktivitasFormInputFlowrateView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputFlowrate_idAktifitas">@Html.Raw(subAktivitasFormInputFlowrateView.idAktifitas.Caption)</span></td>
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputFlowrateView.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrate_idAktifitas">
<span @Html.Raw(subAktivitasFormInputFlowrateView.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateView.idAktifitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputFlowrateView.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputFlowrateView.StatusAktivitas.Visible) { // subAktivitasFormInputFlowrateView.StatusAktivitas.Visible (begin)
    <tr id="r_StatusAktivitas" @Html.Raw(subAktivitasFormInputFlowrateView.StatusAktivitas.RowAttributes)>
        <td class="@(subAktivitasFormInputFlowrateView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputFlowrate_StatusAktivitas">@Html.Raw(subAktivitasFormInputFlowrateView.StatusAktivitas.Caption)</span></td>
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputFlowrateView.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrate_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputFlowrateView.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateView.StatusAktivitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputFlowrateView.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputFlowrateView.LastUpdatedBy.Visible) { // subAktivitasFormInputFlowrateView.LastUpdatedBy.Visible (begin)
    <tr id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputFlowrateView.LastUpdatedBy.RowAttributes)>
        <td class="@(subAktivitasFormInputFlowrateView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputFlowrate_LastUpdatedBy">@Html.Raw(subAktivitasFormInputFlowrateView.LastUpdatedBy.Caption)</span></td>
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputFlowrateView.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrate_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputFlowrateView.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateView.LastUpdatedBy.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputFlowrateView.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputFlowrateView.lastUpdatedDate.Visible) { // subAktivitasFormInputFlowrateView.lastUpdatedDate.Visible (begin)
    <tr id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputFlowrateView.lastUpdatedDate.RowAttributes)>
        <td class="@(subAktivitasFormInputFlowrateView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputFlowrate_lastUpdatedDate">@Html.Raw(subAktivitasFormInputFlowrateView.lastUpdatedDate.Caption)</span></td>
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputFlowrateView.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrate_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputFlowrateView.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateView.lastUpdatedDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputFlowrateView.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputFlowrateView.Flowrate.Visible) { // subAktivitasFormInputFlowrateView.Flowrate.Visible (begin)
    <tr id="r_Flowrate" @Html.Raw(subAktivitasFormInputFlowrateView.Flowrate.RowAttributes)>
        <td class="@(subAktivitasFormInputFlowrateView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputFlowrate_Flowrate">@Html.Raw(subAktivitasFormInputFlowrateView.Flowrate.Caption)</span></td>
        <td data-name="Flowrate" @Html.Raw(subAktivitasFormInputFlowrateView.Flowrate.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrate_Flowrate">
<span @Html.Raw(subAktivitasFormInputFlowrateView.Flowrate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateView.Flowrate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputFlowrateView.Flowrate.Visible (end) *@
@if (subAktivitasFormInputFlowrateView.StrippingTime.Visible) { // subAktivitasFormInputFlowrateView.StrippingTime.Visible (begin)
    <tr id="r_StrippingTime" @Html.Raw(subAktivitasFormInputFlowrateView.StrippingTime.RowAttributes)>
        <td class="@(subAktivitasFormInputFlowrateView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputFlowrate_StrippingTime">@Html.Raw(subAktivitasFormInputFlowrateView.StrippingTime.Caption)</span></td>
        <td data-name="StrippingTime" @Html.Raw(subAktivitasFormInputFlowrateView.StrippingTime.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrate_StrippingTime">
<span @Html.Raw(subAktivitasFormInputFlowrateView.StrippingTime.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateView.StrippingTime.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputFlowrateView.StrippingTime.Visible (end) *@
@if (subAktivitasFormInputFlowrateView.Pressure.Visible) { // subAktivitasFormInputFlowrateView.Pressure.Visible (begin)
    <tr id="r_Pressure" @Html.Raw(subAktivitasFormInputFlowrateView.Pressure.RowAttributes)>
        <td class="@(subAktivitasFormInputFlowrateView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputFlowrate_Pressure">@Html.Raw(subAktivitasFormInputFlowrateView.Pressure.Caption)</span></td>
        <td data-name="Pressure" @Html.Raw(subAktivitasFormInputFlowrateView.Pressure.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrate_Pressure">
<span @Html.Raw(subAktivitasFormInputFlowrateView.Pressure.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateView.Pressure.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputFlowrateView.Pressure.Visible (end) *@
@if (subAktivitasFormInputFlowrateView.LamaPembongkaran.Visible) { // subAktivitasFormInputFlowrateView.LamaPembongkaran.Visible (begin)
    <tr id="r_LamaPembongkaran" @Html.Raw(subAktivitasFormInputFlowrateView.LamaPembongkaran.RowAttributes)>
        <td class="@(subAktivitasFormInputFlowrateView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputFlowrate_LamaPembongkaran">@Html.Raw(subAktivitasFormInputFlowrateView.LamaPembongkaran.Caption)</span></td>
        <td data-name="LamaPembongkaran" @Html.Raw(subAktivitasFormInputFlowrateView.LamaPembongkaran.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrate_LamaPembongkaran">
<span @Html.Raw(subAktivitasFormInputFlowrateView.LamaPembongkaran.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateView.LamaPembongkaran.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputFlowrateView.LamaPembongkaran.Visible (end) *@
@if (subAktivitasFormInputFlowrateView.ETC.Visible) { // subAktivitasFormInputFlowrateView.ETC.Visible (begin)
    <tr id="r_ETC" @Html.Raw(subAktivitasFormInputFlowrateView.ETC.RowAttributes)>
        <td class="@(subAktivitasFormInputFlowrateView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputFlowrate_ETC">@Html.Raw(subAktivitasFormInputFlowrateView.ETC.Caption)</span></td>
        <td data-name="ETC" @Html.Raw(subAktivitasFormInputFlowrateView.ETC.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrate_ETC">
<span @Html.Raw(subAktivitasFormInputFlowrateView.ETC.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateView.ETC.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputFlowrateView.ETC.Visible (end) *@
@if (subAktivitasFormInputFlowrateView.userInput.Visible) { // subAktivitasFormInputFlowrateView.userInput.Visible (begin)
    <tr id="r_userInput" @Html.Raw(subAktivitasFormInputFlowrateView.userInput.RowAttributes)>
        <td class="@(subAktivitasFormInputFlowrateView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputFlowrate_userInput">@Html.Raw(subAktivitasFormInputFlowrateView.userInput.Caption)</span></td>
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputFlowrateView.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrate_userInput">
<span @Html.Raw(subAktivitasFormInputFlowrateView.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateView.userInput.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputFlowrateView.userInput.Visible (end) *@
@if (subAktivitasFormInputFlowrateView.etlDate.Visible) { // subAktivitasFormInputFlowrateView.etlDate.Visible (begin)
    <tr id="r_etlDate" @Html.Raw(subAktivitasFormInputFlowrateView.etlDate.RowAttributes)>
        <td class="@(subAktivitasFormInputFlowrateView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputFlowrate_etlDate">@Html.Raw(subAktivitasFormInputFlowrateView.etlDate.Caption)</span></td>
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputFlowrateView.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrate_etlDate">
<span @Html.Raw(subAktivitasFormInputFlowrateView.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateView.etlDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputFlowrateView.etlDate.Visible (end) *@
</table>
@{ subAktivitasFormInputFlowrateView.CloseRecordset(); }
</form>
</main>
@subAktivitasFormInputFlowrateView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputFlowrateView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
