@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.TotalRecords > 0 && subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.ExportOptions.Visible) {
    subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.ExportOptions.Render("body");
}
@if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.ImportOptions.Visible) {
    subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.ImportOptions.Render("body");
}
@if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.SearchOptions.Visible) {
    subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.SearchOptions.Render("body");
}
@if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.FilterOptions.Visible) {
    subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.IsModal) {
<form name="fSubAktivitasNilaiAgreementPenyaluranSTSPyrLPGsrch" id="fSubAktivitasNilaiAgreementPenyaluranSTSPyrLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasNilaiAgreementPenyaluranSTSPyrLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG: currentTable } });
var currentForm;
var fSubAktivitasNilaiAgreementPenyaluranSTSPyrLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiAgreementPenyaluranSTSPyrLPGsrch")
        .setPageId("list")
@if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.IsExport() && Empty(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.CurrentAction) && subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasNilaiAgreementPenyaluranSTSPyrLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasNilaiAgreementPenyaluranSTSPyrLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasNilaiAgreementPenyaluranSTSPyrLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasNilaiAgreementPenyaluranSTSPyrLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.ShowPageHeader()
@subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.ShowMessages()
<main class="list @(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.TotalRecords == 0 && !subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.TotalRecords > 0 || !Empty(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.TableGridClass)">
<form name="@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.FormName)" id="@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG" class="card-body ew-grid-middle-panel @(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.TableContainerClass)" style="@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.TableContainerStyle)">
@if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.TotalRecords > 0 || subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.IsGridEdit || subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPGlist" class="@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.ListOptions.RenderHeader("left")
@if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.id.Visible) { // subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_id" class="SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_id">@Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.id))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.id.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.NoReferensi.Visible) { // subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_NoReferensi" class="SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_NoReferensi">@Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.NoReferensi))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.NoReferensi.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.idProses.Visible) { // subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_idProses" class="SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_idProses">@Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.idProses))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.idProses.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.idAktifitas.Visible) { // subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_idAktifitas" class="SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_idAktifitas">@Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.idAktifitas))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.StatusAktivitas.Visible) { // subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_StatusAktivitas" class="SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_StatusAktivitas">@Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.StatusAktivitas))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.StatusAktivitas.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.LastUpdatedBy.Visible) { // subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_LastUpdatedBy" class="SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_LastUpdatedBy">@Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.LastUpdatedBy))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.lastUpdatedDate.Visible) { // subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_lastUpdatedDate" class="SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_lastUpdatedDate">@Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.lastUpdatedDate))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.Flowrate.Visible) { // subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.Flowrate.Visible (begin)
        <th data-name="Flowrate" class="@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.Flowrate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_Flowrate" class="SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_Flowrate">@Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.Flowrate))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.Flowrate.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.Pressure.Visible) { // subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.Pressure.Visible (begin)
        <th data-name="Pressure" class="@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.Pressure.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_Pressure" class="SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_Pressure">@Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.Pressure))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.Pressure.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.LamaPembongkaran.Visible) { // subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.LamaPembongkaran.Visible (begin)
        <th data-name="LamaPembongkaran" class="@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.LamaPembongkaran.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_LamaPembongkaran" class="SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_LamaPembongkaran">@Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.LamaPembongkaran))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.LamaPembongkaran.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.ETC.Visible) { // subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.ETC.Visible (begin)
        <th data-name="ETC" class="@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.ETC.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_ETC" class="SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_ETC">@Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.ETC))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.ETC.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.etlDate.Visible) { // subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_etlDate" class="SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_etlDate">@Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.etlDate))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.etlDate.Visible (end) *@
@if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.userInput.Visible) { // subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_userInput" class="SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_userInput">@Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.userInput))</div></th>
} @* subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.userInput.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.PageNumber)">
@{
    await subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.SetupGrid();
    bool eof = subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.Recordset == null; // DN
}
@while (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RecordCount < subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.StopRecord || SameString(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.IsGridAdd || subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.CurrentMode == "copy") &&
        (!((subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.IsCopy || subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.IsAdd) && subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.Recordset.ReadAsync();
    subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RecordCount++;
    if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RecordCount >= subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.StartRecord) {
        await subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.SetupRow();
    <tr @Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.ListOptions.RenderBody("left", subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowCount)
    @if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.id.Visible) { // subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.id.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowCount)_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_id" class="el_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_id">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.id.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.NoReferensi.Visible) { // subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowCount)_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_NoReferensi" class="el_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_NoReferensi">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.idProses.Visible) { // subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.idProses.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowCount)_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_idProses" class="el_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_idProses">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.idProses.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.idAktifitas.Visible) { // subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowCount)_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_idAktifitas" class="el_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_idAktifitas">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.StatusAktivitas.Visible) { // subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowCount)_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_StatusAktivitas" class="el_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.LastUpdatedBy.Visible) { // subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowCount)_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_LastUpdatedBy" class="el_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.lastUpdatedDate.Visible) { // subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowCount)_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_lastUpdatedDate" class="el_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.Flowrate.Visible) { // subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.Flowrate.Visible (begin)
        <td data-name="Flowrate" @Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.Flowrate.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowCount)_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_Flowrate" class="el_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_Flowrate">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.Flowrate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.Flowrate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.Flowrate.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.Pressure.Visible) { // subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.Pressure.Visible (begin)
        <td data-name="Pressure" @Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.Pressure.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowCount)_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_Pressure" class="el_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_Pressure">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.Pressure.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.Pressure.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.Pressure.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.LamaPembongkaran.Visible) { // subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.LamaPembongkaran.Visible (begin)
        <td data-name="LamaPembongkaran" @Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.LamaPembongkaran.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowCount)_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_LamaPembongkaran" class="el_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_LamaPembongkaran">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.LamaPembongkaran.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.LamaPembongkaran.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.LamaPembongkaran.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.ETC.Visible) { // subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.ETC.Visible (begin)
        <td data-name="ETC" @Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.ETC.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowCount)_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_ETC" class="el_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_ETC">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.ETC.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.ETC.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.ETC.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.etlDate.Visible) { // subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.etlDate.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowCount)_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_etlDate" class="el_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_etlDate">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.etlDate.Visible (end) *@
    @if (subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.userInput.Visible) { // subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.userInput.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowCount)_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_userInput" class="el_SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG_userInput">
<span @Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.userInput.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.ListOptions.RenderBody("right", subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowIndex, "$rowindex$"))
        subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.IsCopy || subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.IsAdd) && subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.CurrentAction) && !subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.CloseRecordset(); }
@if (!subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.IsGridAdd && !(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.IsGridEdit && subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.ModalGridEdit) && !subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.IsMultiEdit) {
@Html.Raw(subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasNilaiAgreementPenyaluranStsPyrLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasNilaiAgreementPenyaluranSTSPyrLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
