@{
    // View
    View = this;

    // Check action result
    if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.TotalRecords > 0 && subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.ExportOptions.Visible) {
    subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.ExportOptions.Render("body");
}
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.ImportOptions.Visible) {
    subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.ImportOptions.Render("body");
}
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.SearchOptions.Visible) {
    subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.SearchOptions.Render("body");
}
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.FilterOptions.Visible) {
    subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.IsModal) {
<form name="fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPGsrch" id="fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG: currentTable } });
var currentForm;
var fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPGsrch")
        .setPageId("list")
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.IsExport() && Empty(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.CurrentAction) && subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.ShowPageHeader()
@subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.ShowMessages()
<main class="list @(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.TotalRecords == 0 && !subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.TotalRecords > 0 || !Empty(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.TableGridClass)">
<form name="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.FormName)" id="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG" class="card-body ew-grid-middle-panel @(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.TableContainerClass)" style="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.TableContainerStyle)">
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.TotalRecords > 0 || subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.IsGridEdit || subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPGlist" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.ListOptions.RenderHeader("left")
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.id.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_id" class="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_id">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.id))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.id.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.idProses.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_idProses" class="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_idProses">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.idProses))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.idProses.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.idAktifitas.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_idAktifitas" class="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_idAktifitas">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.idAktifitas))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.idAktifitas.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NoReferensi.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_NoReferensi" class="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_NoReferensi">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NoReferensi))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NoReferensi.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NamaKapal.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NamaKapal.Visible (begin)
        <th data-name="NamaKapal" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NamaKapal.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_NamaKapal" class="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_NamaKapal">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NamaKapal))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NamaKapal.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Tanggal.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_Tanggal" class="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_Tanggal">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Tanggal))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Tanggal.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NamaKegiatan.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NamaKegiatan.Visible (begin)
        <th data-name="NamaKegiatan" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NamaKegiatan.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_NamaKegiatan" class="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_NamaKegiatan">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NamaKegiatan))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NamaKegiatan.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Produk.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_Produk" class="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_Produk">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Produk))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Produk.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Density.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Density.Visible (begin)
        <th data-name="Density" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Density.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_Density" class="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_Density">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Density))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Density.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Temperature.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Temperature.Visible (begin)
        <th data-name="Temperature" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Temperature.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_Temperature" class="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_Temperature">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Temperature))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Temperature.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Pressure.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Pressure.Visible (begin)
        <th data-name="Pressure" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Pressure.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_Pressure" class="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_Pressure">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Pressure))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Pressure.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.userInput.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_userInput" class="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_userInput">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.userInput))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.userInput.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.etlDate.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_etlDate" class="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_etlDate">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.etlDate))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.etlDate.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.LastUpdatedBy.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_LastUpdatedBy" class="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_LastUpdatedBy">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.LastUpdatedBy))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.lastUpdatedDate.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_lastUpdatedDate" class="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_lastUpdatedDate">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.lastUpdatedDate))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.lastUpdatedDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.PageNumber)">
@{
    await subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.SetupGrid();
    bool eof = subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Recordset == null; // DN
}
@while (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RecordCount < subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.StopRecord || SameString(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.IsGridAdd || subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.CurrentMode == "copy") &&
        (!((subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.IsCopy || subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.IsAdd) && subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Recordset.ReadAsync();
    subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RecordCount++;
    if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RecordCount >= subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.StartRecord) {
        await subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.SetupRow();
    <tr @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.ListOptions.RenderBody("left", subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowCount)
    @if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.id.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.id.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_id" class="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_id">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.id.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.idProses.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.idProses.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_idProses" class="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_idProses">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.idProses.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.idAktifitas.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_idAktifitas" class="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_idAktifitas">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NoReferensi.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_NoReferensi" class="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_NoReferensi">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NamaKapal.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NamaKapal.Visible (begin)
        <td data-name="NamaKapal" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NamaKapal.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_NamaKapal" class="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_NamaKapal">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NamaKapal.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NamaKapal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NamaKapal.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Tanggal.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Tanggal.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_Tanggal" class="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_Tanggal">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Tanggal.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NamaKegiatan.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NamaKegiatan.Visible (begin)
        <td data-name="NamaKegiatan" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NamaKegiatan.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_NamaKegiatan" class="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_NamaKegiatan">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NamaKegiatan.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NamaKegiatan.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.NamaKegiatan.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Produk.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Produk.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_Produk" class="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_Produk">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Produk.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Density.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Density.Visible (begin)
        <td data-name="Density" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Density.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_Density" class="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_Density">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Density.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Density.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Density.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Temperature.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Temperature.Visible (begin)
        <td data-name="Temperature" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Temperature.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_Temperature" class="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_Temperature">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Temperature.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Temperature.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Temperature.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Pressure.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Pressure.Visible (begin)
        <td data-name="Pressure" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Pressure.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_Pressure" class="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_Pressure">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Pressure.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Pressure.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Pressure.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.userInput.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.userInput.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_userInput" class="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_userInput">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.userInput.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.etlDate.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.etlDate.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_etlDate" class="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_etlDate">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.etlDate.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.LastUpdatedBy.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_LastUpdatedBy" class="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.lastUpdatedDate.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_lastUpdatedDate" class="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.lastUpdatedDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.ListOptions.RenderBody("right", subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowIndex, "$rowindex$"))
        subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.IsCopy || subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.IsAdd) && subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.CurrentAction) && !subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.CloseRecordset(); }
@if (!subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.IsGridAdd && !(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.IsGridEdit && subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.ModalGridEdit) && !subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.IsMultiEdit) {
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasHasilPemeriksaanPenyaluranStsPyrLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasHasilPemeriksaanPenyaluranSTSPyrLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
