@{
    // View
    View = this;

    // Check action result
    if (subAktivitasInputLogbookPenerimaanPenKonEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasInputLogbookPenerimaanPenKonEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasInputLogbookPenerimaanPenKonEdit.ShowPageHeader()
@subAktivitasInputLogbookPenerimaanPenKonEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasInputLogbookPenerimaanPenKonedit" id="fSubAktivitasInputLogbookPenerimaanPenKonedit" class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasInputLogbookPenerimaanPenKonEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasInputLogbookPenerimaanPenKon: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasInputLogbookPenerimaanPenKonedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasInputLogbookPenerimaanPenKonedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["Nama_Kapal", [fields.Nama_Kapal.visible && fields.Nama_Kapal.required ? ew.Validators.required(fields.Nama_Kapal.caption) : null], fields.Nama_Kapal.isInvalid],
            ["Tanggal", [fields.Tanggal.visible && fields.Tanggal.required ? ew.Validators.required(fields.Tanggal.caption) : null, ew.Validators.datetime(fields.Tanggal.clientFormatPattern)], fields.Tanggal.isInvalid],
            ["Nama_Kegiatan", [fields.Nama_Kegiatan.visible && fields.Nama_Kegiatan.required ? ew.Validators.required(fields.Nama_Kegiatan.caption) : null], fields.Nama_Kegiatan.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["Density", [fields.Density.visible && fields.Density.required ? ew.Validators.required(fields.Density.caption) : null], fields.Density.isInvalid],
            ["Temperatur", [fields.Temperatur.visible && fields.Temperatur.required ? ew.Validators.required(fields.Temperatur.caption) : null], fields.Temperatur.isInvalid],
            ["Keterangan", [fields.Keterangan.visible && fields.Keterangan.required ? ew.Validators.required(fields.Keterangan.caption) : null], fields.Keterangan.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["SubAktivitasHasilPemeriksaanId", [fields.SubAktivitasHasilPemeriksaanId.visible && fields.SubAktivitasHasilPemeriksaanId.required ? ew.Validators.required(fields.SubAktivitasHasilPemeriksaanId.caption) : null, ew.Validators.integer], fields.SubAktivitasHasilPemeriksaanId.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasInputLogbookPenerimaanPenKonEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasInputLogbookPenerimaanPenKonEdit.OldKeyName)" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasInputLogbookPenerimaanPenKonEdit.id.Visible) { // subAktivitasInputLogbookPenerimaanPenKonEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.id.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPenKon_id" class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.id.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.id.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPenKon_id">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasInputLogbookPenerimaanPenKonEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasInputLogbookPenerimaanPenKon" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPenKonEdit.id.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonEdit.idProses.Visible) { // subAktivitasInputLogbookPenerimaanPenKonEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPenKon_idProses" for="x_idProses" class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.idProses.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPenKon_idProses">
<input type="@(subAktivitasInputLogbookPenerimaanPenKonEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubAktivitasInputLogbookPenerimaanPenKon" data-field="x_idProses" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonEdit.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPenKonEdit.idProses.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPenKonEdit.idProses.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonEdit.idAktifitas.Visible) { // subAktivitasInputLogbookPenerimaanPenKonEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPenKon_idAktifitas" for="x_idAktifitas" class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.idAktifitas.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPenKon_idAktifitas">
<input type="@(subAktivitasInputLogbookPenerimaanPenKonEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubAktivitasInputLogbookPenerimaanPenKon" data-field="x_idAktifitas" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPenKonEdit.idAktifitas.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPenKonEdit.idAktifitas.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonEdit.NoReferensi.Visible) { // subAktivitasInputLogbookPenerimaanPenKonEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPenKon_NoReferensi" for="x_NoReferensi" class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.NoReferensi.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPenKon_NoReferensi">
<input type="@(subAktivitasInputLogbookPenerimaanPenKonEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasInputLogbookPenerimaanPenKon" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.NoReferensi.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPenKonEdit.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPenKonEdit.NoReferensi.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonEdit.Nama_Kapal.Visible) { // subAktivitasInputLogbookPenerimaanPenKonEdit.Nama_Kapal.Visible (begin)
    <div id="r_Nama_Kapal" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Nama_Kapal.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPenKon_Nama_Kapal" for="x_Nama_Kapal" class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Nama_Kapal.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Nama_Kapal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Nama_Kapal.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPenKon_Nama_Kapal">
<input type="@(subAktivitasInputLogbookPenerimaanPenKonEdit.Nama_Kapal.InputTextType)" name="x_Nama_Kapal" id="x_Nama_Kapal" data-table="SubAktivitasInputLogbookPenerimaanPenKon" data-field="x_Nama_Kapal" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Nama_Kapal.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonEdit.Nama_Kapal.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPenKonEdit.Nama_Kapal.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Nama_Kapal.EditAttributes) aria-describedby="x_Nama_Kapal_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Nama_Kapal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Nama_Kapal.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPenKonEdit.Nama_Kapal.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonEdit.Tanggal.Visible) { // subAktivitasInputLogbookPenerimaanPenKonEdit.Tanggal.Visible (begin)
    <div id="r_Tanggal" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Tanggal.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPenKon_Tanggal" for="x_Tanggal" class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Tanggal.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Tanggal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Tanggal.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPenKon_Tanggal">
<input type="@(subAktivitasInputLogbookPenerimaanPenKonEdit.Tanggal.InputTextType)" name="x_Tanggal" id="x_Tanggal" data-table="SubAktivitasInputLogbookPenerimaanPenKon" data-field="x_Tanggal" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Tanggal.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonEdit.Tanggal.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPenKonEdit.Tanggal.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Tanggal.EditAttributes) aria-describedby="x_Tanggal_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Tanggal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Tanggal.GetErrorMessage())</div>
@if (!subAktivitasInputLogbookPenerimaanPenKonEdit.Tanggal.ReadOnly && !subAktivitasInputLogbookPenerimaanPenKonEdit.Tanggal.Disabled && !subAktivitasInputLogbookPenerimaanPenKonEdit.Tanggal.EditAttrs.Is("readonly") && !subAktivitasInputLogbookPenerimaanPenKonEdit.Tanggal.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasInputLogbookPenerimaanPenKonedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasInputLogbookPenerimaanPenKonedit", "x_Tanggal", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPenKonEdit.Tanggal.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonEdit.Nama_Kegiatan.Visible) { // subAktivitasInputLogbookPenerimaanPenKonEdit.Nama_Kegiatan.Visible (begin)
    <div id="r_Nama_Kegiatan" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Nama_Kegiatan.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPenKon_Nama_Kegiatan" for="x_Nama_Kegiatan" class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Nama_Kegiatan.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Nama_Kegiatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Nama_Kegiatan.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPenKon_Nama_Kegiatan">
<input type="@(subAktivitasInputLogbookPenerimaanPenKonEdit.Nama_Kegiatan.InputTextType)" name="x_Nama_Kegiatan" id="x_Nama_Kegiatan" data-table="SubAktivitasInputLogbookPenerimaanPenKon" data-field="x_Nama_Kegiatan" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Nama_Kegiatan.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonEdit.Nama_Kegiatan.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPenKonEdit.Nama_Kegiatan.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Nama_Kegiatan.EditAttributes) aria-describedby="x_Nama_Kegiatan_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Nama_Kegiatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Nama_Kegiatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPenKonEdit.Nama_Kegiatan.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonEdit.Produk.Visible) { // subAktivitasInputLogbookPenerimaanPenKonEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Produk.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPenKon_Produk" for="x_Produk" class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Produk.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Produk.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPenKon_Produk">
<input type="@(subAktivitasInputLogbookPenerimaanPenKonEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasInputLogbookPenerimaanPenKon" data-field="x_Produk" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Produk.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonEdit.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPenKonEdit.Produk.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPenKonEdit.Produk.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonEdit.Density.Visible) { // subAktivitasInputLogbookPenerimaanPenKonEdit.Density.Visible (begin)
    <div id="r_Density" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Density.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPenKon_Density" for="x_Density" class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Density.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Density.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Density.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPenKon_Density">
<input type="@(subAktivitasInputLogbookPenerimaanPenKonEdit.Density.InputTextType)" name="x_Density" id="x_Density" data-table="SubAktivitasInputLogbookPenerimaanPenKon" data-field="x_Density" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Density.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonEdit.Density.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPenKonEdit.Density.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Density.EditAttributes) aria-describedby="x_Density_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Density.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Density.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPenKonEdit.Density.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonEdit.Temperatur.Visible) { // subAktivitasInputLogbookPenerimaanPenKonEdit.Temperatur.Visible (begin)
    <div id="r_Temperatur" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Temperatur.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPenKon_Temperatur" for="x_Temperatur" class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Temperatur.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Temperatur.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Temperatur.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPenKon_Temperatur">
<input type="@(subAktivitasInputLogbookPenerimaanPenKonEdit.Temperatur.InputTextType)" name="x_Temperatur" id="x_Temperatur" data-table="SubAktivitasInputLogbookPenerimaanPenKon" data-field="x_Temperatur" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Temperatur.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonEdit.Temperatur.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPenKonEdit.Temperatur.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Temperatur.EditAttributes) aria-describedby="x_Temperatur_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Temperatur.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Temperatur.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPenKonEdit.Temperatur.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonEdit.Keterangan.Visible) { // subAktivitasInputLogbookPenerimaanPenKonEdit.Keterangan.Visible (begin)
    <div id="r_Keterangan" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Keterangan.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPenKon_Keterangan" for="x_Keterangan" class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Keterangan.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Keterangan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Keterangan.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPenKon_Keterangan">
<input type="@(subAktivitasInputLogbookPenerimaanPenKonEdit.Keterangan.InputTextType)" name="x_Keterangan" id="x_Keterangan" data-table="SubAktivitasInputLogbookPenerimaanPenKon" data-field="x_Keterangan" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Keterangan.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonEdit.Keterangan.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPenKonEdit.Keterangan.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Keterangan.EditAttributes) aria-describedby="x_Keterangan_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Keterangan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.Keterangan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPenKonEdit.Keterangan.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonEdit.userInput.Visible) { // subAktivitasInputLogbookPenerimaanPenKonEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.userInput.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPenKon_userInput" for="x_userInput" class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.userInput.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.userInput.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPenKon_userInput">
<input type="@(subAktivitasInputLogbookPenerimaanPenKonEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasInputLogbookPenerimaanPenKon" data-field="x_userInput" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonEdit.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPenKonEdit.userInput.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPenKonEdit.userInput.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonEdit.etlDate.Visible) { // subAktivitasInputLogbookPenerimaanPenKonEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPenKon_etlDate" for="x_etlDate" class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.etlDate.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.etlDate.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPenKon_etlDate">
<input type="@(subAktivitasInputLogbookPenerimaanPenKonEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasInputLogbookPenerimaanPenKon" data-field="x_etlDate" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonEdit.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPenKonEdit.etlDate.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.etlDate.GetErrorMessage())</div>
@if (!subAktivitasInputLogbookPenerimaanPenKonEdit.etlDate.ReadOnly && !subAktivitasInputLogbookPenerimaanPenKonEdit.etlDate.Disabled && !subAktivitasInputLogbookPenerimaanPenKonEdit.etlDate.EditAttrs.Is("readonly") && !subAktivitasInputLogbookPenerimaanPenKonEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasInputLogbookPenerimaanPenKonedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasInputLogbookPenerimaanPenKonedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPenKonEdit.etlDate.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonEdit.LastUpdatedBy.Visible) { // subAktivitasInputLogbookPenerimaanPenKonEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPenKon_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPenKon_LastUpdatedBy">
<input type="@(subAktivitasInputLogbookPenerimaanPenKonEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasInputLogbookPenerimaanPenKon" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPenKonEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPenKonEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonEdit.lastUpdatedDate.Visible) { // subAktivitasInputLogbookPenerimaanPenKonEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPenKon_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPenKon_lastUpdatedDate">
<input type="@(subAktivitasInputLogbookPenerimaanPenKonEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasInputLogbookPenerimaanPenKon" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPenKonEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasInputLogbookPenerimaanPenKonEdit.lastUpdatedDate.ReadOnly && !subAktivitasInputLogbookPenerimaanPenKonEdit.lastUpdatedDate.Disabled && !subAktivitasInputLogbookPenerimaanPenKonEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasInputLogbookPenerimaanPenKonEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasInputLogbookPenerimaanPenKonedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasInputLogbookPenerimaanPenKonedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPenKonEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonEdit.SubAktivitasHasilPemeriksaanId.Visible) { // subAktivitasInputLogbookPenerimaanPenKonEdit.SubAktivitasHasilPemeriksaanId.Visible (begin)
    <div id="r_SubAktivitasHasilPemeriksaanId" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.SubAktivitasHasilPemeriksaanId.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPenKon_SubAktivitasHasilPemeriksaanId" for="x_SubAktivitasHasilPemeriksaanId" class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.SubAktivitasHasilPemeriksaanId.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.SubAktivitasHasilPemeriksaanId.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.SubAktivitasHasilPemeriksaanId.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPenKon_SubAktivitasHasilPemeriksaanId">
<input type="@(subAktivitasInputLogbookPenerimaanPenKonEdit.SubAktivitasHasilPemeriksaanId.InputTextType)" name="x_SubAktivitasHasilPemeriksaanId" id="x_SubAktivitasHasilPemeriksaanId" data-table="SubAktivitasInputLogbookPenerimaanPenKon" data-field="x_SubAktivitasHasilPemeriksaanId" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.SubAktivitasHasilPemeriksaanId.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonEdit.SubAktivitasHasilPemeriksaanId.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPenKonEdit.SubAktivitasHasilPemeriksaanId.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.SubAktivitasHasilPemeriksaanId.EditAttributes) aria-describedby="x_SubAktivitasHasilPemeriksaanId_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.SubAktivitasHasilPemeriksaanId.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.SubAktivitasHasilPemeriksaanId.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPenKonEdit.SubAktivitasHasilPemeriksaanId.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasInputLogbookPenerimaanPenKonEdit.CloseRecordset(); }
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasInputLogbookPenerimaanPenKonEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasInputLogbookPenerimaanPenKonedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasInputLogbookPenerimaanPenKonedit" data-href="@AppPath(subAktivitasInputLogbookPenerimaanPenKonEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasInputLogbookPenerimaanPenKonEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasInputLogbookPenerimaanPenKon");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
