@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiBlsfalPenyaluranList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiBlsfalPenyaluranList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasNilaiBlsfalPenyaluranList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiBlsfalPenyaluranList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiBLSFALPenyaluran: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasNilaiBlsfalPenyaluranList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasNilaiBlsfalPenyaluranList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasNilaiBlsfalPenyaluranList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasNilaiBlsfalPenyaluranList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasNilaiBlsfalPenyaluranList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasNilaiBlsfalPenyaluranList.TotalRecords > 0 && subAktivitasNilaiBlsfalPenyaluranList.ExportOptions.Visible) {
    subAktivitasNilaiBlsfalPenyaluranList.ExportOptions.Render("body");
}
@if (subAktivitasNilaiBlsfalPenyaluranList.ImportOptions.Visible) {
    subAktivitasNilaiBlsfalPenyaluranList.ImportOptions.Render("body");
}
@if (subAktivitasNilaiBlsfalPenyaluranList.SearchOptions.Visible) {
    subAktivitasNilaiBlsfalPenyaluranList.SearchOptions.Render("body");
}
@if (subAktivitasNilaiBlsfalPenyaluranList.FilterOptions.Visible) {
    subAktivitasNilaiBlsfalPenyaluranList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasNilaiBlsfalPenyaluranList.IsModal) {
<form name="fSubAktivitasNilaiBLSFALPenyaluransrch" id="fSubAktivitasNilaiBLSFALPenyaluransrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasNilaiBLSFALPenyaluransrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasNilaiBlsfalPenyaluranList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiBlsfalPenyaluranList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiBLSFALPenyaluran: currentTable } });
var currentForm;
var fSubAktivitasNilaiBLSFALPenyaluransrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiBLSFALPenyaluransrch")
        .setPageId("list")
@if (subAktivitasNilaiBlsfalPenyaluranList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasNilaiBlsfalPenyaluranList.IsExport() && Empty(subAktivitasNilaiBlsfalPenyaluranList.CurrentAction) && subAktivitasNilaiBlsfalPenyaluranList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasNilaiBlsfalPenyaluranList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasNilaiBlsfalPenyaluranList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasNilaiBlsfalPenyaluranList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasNilaiBLSFALPenyaluransrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiBlsfalPenyaluranList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasNilaiBLSFALPenyaluransrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiBlsfalPenyaluranList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasNilaiBLSFALPenyaluransrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiBlsfalPenyaluranList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasNilaiBLSFALPenyaluransrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasNilaiBlsfalPenyaluranList.ShowPageHeader()
@subAktivitasNilaiBlsfalPenyaluranList.ShowMessages()
<main class="list @(subAktivitasNilaiBlsfalPenyaluranList.TotalRecords == 0 && !subAktivitasNilaiBlsfalPenyaluranList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasNilaiBlsfalPenyaluranList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasNilaiBlsfalPenyaluranList.TotalRecords > 0 || !Empty(subAktivitasNilaiBlsfalPenyaluranList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasNilaiBlsfalPenyaluranList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasNilaiBlsfalPenyaluranList.TableGridClass)">
<form name="@(subAktivitasNilaiBlsfalPenyaluranList.FormName)" id="@(subAktivitasNilaiBlsfalPenyaluranList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasNilaiBlsfalPenyaluranList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasNilaiBlsfalPenyaluranList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasNilaiBLSFALPenyaluran" class="card-body ew-grid-middle-panel @(subAktivitasNilaiBlsfalPenyaluranList.TableContainerClass)" style="@(subAktivitasNilaiBlsfalPenyaluranList.TableContainerStyle)">
@if (subAktivitasNilaiBlsfalPenyaluranList.TotalRecords > 0 || subAktivitasNilaiBlsfalPenyaluranList.IsGridEdit || subAktivitasNilaiBlsfalPenyaluranList.IsMultiEdit) {
<table id="tbl_SubAktivitasNilaiBLSFALPenyaluranlist" class="@(subAktivitasNilaiBlsfalPenyaluranList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasNilaiBlsfalPenyaluranList.RowType = RowType.Header;

    // Render list options
    await subAktivitasNilaiBlsfalPenyaluranList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasNilaiBlsfalPenyaluranList.ListOptions.RenderHeader("left")
@if (subAktivitasNilaiBlsfalPenyaluranList.idProses.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasNilaiBlsfalPenyaluranList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluran_idProses" class="SubAktivitasNilaiBLSFALPenyaluran_idProses">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranList.idProses))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranList.idProses.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranList.idAktifitas.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasNilaiBlsfalPenyaluranList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluran_idAktifitas" class="SubAktivitasNilaiBLSFALPenyaluran_idAktifitas">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranList.idAktifitas))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranList.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranList.NoReferensi.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasNilaiBlsfalPenyaluranList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluran_NoReferensi" class="SubAktivitasNilaiBLSFALPenyaluran_NoReferensi">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranList.NoReferensi))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranList.NoReferensi.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranList.StatusAktivitas.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasNilaiBlsfalPenyaluranList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluran_StatusAktivitas" class="SubAktivitasNilaiBLSFALPenyaluran_StatusAktivitas">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranList.StatusAktivitas))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranList.StatusAktivitas.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranList.BL_KLObs.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.BL_KLObs.Visible (begin)
        <th data-name="BL_KLObs" class="@(subAktivitasNilaiBlsfalPenyaluranList.BL_KLObs.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluran_BL_KLObs" class="SubAktivitasNilaiBLSFALPenyaluran_BL_KLObs">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranList.BL_KLObs))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranList.BL_KLObs.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranList.BL_KL15.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.BL_KL15.Visible (begin)
        <th data-name="BL_KL15" class="@(subAktivitasNilaiBlsfalPenyaluranList.BL_KL15.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluran_BL_KL15" class="SubAktivitasNilaiBLSFALPenyaluran_BL_KL15">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranList.BL_KL15))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranList.BL_KL15.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranList.BL_Barrels.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.BL_Barrels.Visible (begin)
        <th data-name="BL_Barrels" class="@(subAktivitasNilaiBlsfalPenyaluranList.BL_Barrels.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluran_BL_Barrels" class="SubAktivitasNilaiBLSFALPenyaluran_BL_Barrels">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranList.BL_Barrels))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranList.BL_Barrels.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranList.BL_LT.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.BL_LT.Visible (begin)
        <th data-name="BL_LT" class="@(subAktivitasNilaiBlsfalPenyaluranList.BL_LT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluran_BL_LT" class="SubAktivitasNilaiBLSFALPenyaluran_BL_LT">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranList.BL_LT))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranList.BL_LT.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranList.BL_MT.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.BL_MT.Visible (begin)
        <th data-name="BL_MT" class="@(subAktivitasNilaiBlsfalPenyaluranList.BL_MT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluran_BL_MT" class="SubAktivitasNilaiBLSFALPenyaluran_BL_MT">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranList.BL_MT))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranList.BL_MT.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranList.SFAL_KLObs.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.SFAL_KLObs.Visible (begin)
        <th data-name="SFAL_KLObs" class="@(subAktivitasNilaiBlsfalPenyaluranList.SFAL_KLObs.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluran_SFAL_KLObs" class="SubAktivitasNilaiBLSFALPenyaluran_SFAL_KLObs">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranList.SFAL_KLObs))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranList.SFAL_KLObs.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranList.SFAL_KL15.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.SFAL_KL15.Visible (begin)
        <th data-name="SFAL_KL15" class="@(subAktivitasNilaiBlsfalPenyaluranList.SFAL_KL15.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluran_SFAL_KL15" class="SubAktivitasNilaiBLSFALPenyaluran_SFAL_KL15">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranList.SFAL_KL15))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranList.SFAL_KL15.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranList.SFAL_Barrels.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.SFAL_Barrels.Visible (begin)
        <th data-name="SFAL_Barrels" class="@(subAktivitasNilaiBlsfalPenyaluranList.SFAL_Barrels.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluran_SFAL_Barrels" class="SubAktivitasNilaiBLSFALPenyaluran_SFAL_Barrels">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranList.SFAL_Barrels))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranList.SFAL_Barrels.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranList.SFAL_LT.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.SFAL_LT.Visible (begin)
        <th data-name="SFAL_LT" class="@(subAktivitasNilaiBlsfalPenyaluranList.SFAL_LT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluran_SFAL_LT" class="SubAktivitasNilaiBLSFALPenyaluran_SFAL_LT">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranList.SFAL_LT))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranList.SFAL_LT.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranList.SFAL_MT.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.SFAL_MT.Visible (begin)
        <th data-name="SFAL_MT" class="@(subAktivitasNilaiBlsfalPenyaluranList.SFAL_MT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluran_SFAL_MT" class="SubAktivitasNilaiBLSFALPenyaluran_SFAL_MT">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranList.SFAL_MT))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranList.SFAL_MT.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranList.userInput.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasNilaiBlsfalPenyaluranList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluran_userInput" class="SubAktivitasNilaiBLSFALPenyaluran_userInput">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranList.userInput))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranList.userInput.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranList.LastUpdatedBy.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasNilaiBlsfalPenyaluranList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluran_LastUpdatedBy" class="SubAktivitasNilaiBLSFALPenyaluran_LastUpdatedBy">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranList.LastUpdatedBy))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranList.lastUpdatedDate.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasNilaiBlsfalPenyaluranList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluran_lastUpdatedDate" class="SubAktivitasNilaiBLSFALPenyaluran_lastUpdatedDate">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranList.lastUpdatedDate))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranList.lastUpdatedDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasNilaiBlsfalPenyaluranList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasNilaiBlsfalPenyaluranList.PageNumber)">
@{
    await subAktivitasNilaiBlsfalPenyaluranList.SetupGrid();
    bool eof = subAktivitasNilaiBlsfalPenyaluranList.Recordset == null; // DN
}
@while (subAktivitasNilaiBlsfalPenyaluranList.RecordCount < subAktivitasNilaiBlsfalPenyaluranList.StopRecord || SameString(subAktivitasNilaiBlsfalPenyaluranList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasNilaiBlsfalPenyaluranList.RowIndex, "$rowindex$") &&
        (!subAktivitasNilaiBlsfalPenyaluranList.IsGridAdd || subAktivitasNilaiBlsfalPenyaluranList.CurrentMode == "copy") &&
        (!((subAktivitasNilaiBlsfalPenyaluranList.IsCopy || subAktivitasNilaiBlsfalPenyaluranList.IsAdd) && subAktivitasNilaiBlsfalPenyaluranList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasNilaiBlsfalPenyaluranList.Recordset.ReadAsync();
    subAktivitasNilaiBlsfalPenyaluranList.RecordCount++;
    if (subAktivitasNilaiBlsfalPenyaluranList.RecordCount >= subAktivitasNilaiBlsfalPenyaluranList.StartRecord) {
        await subAktivitasNilaiBlsfalPenyaluranList.SetupRow();
    <tr @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasNilaiBlsfalPenyaluranList.ListOptions.RenderBody("left", subAktivitasNilaiBlsfalPenyaluranList.RowCount)
    @if (subAktivitasNilaiBlsfalPenyaluranList.idProses.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.idProses.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfalPenyaluranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranList.RowCount)_SubAktivitasNilaiBLSFALPenyaluran_idProses" class="el_SubAktivitasNilaiBLSFALPenyaluran_idProses">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranList.idProses.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranList.idAktifitas.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfalPenyaluranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranList.RowCount)_SubAktivitasNilaiBLSFALPenyaluran_idAktifitas" class="el_SubAktivitasNilaiBLSFALPenyaluran_idAktifitas">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranList.idAktifitas.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranList.NoReferensi.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfalPenyaluranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranList.RowCount)_SubAktivitasNilaiBLSFALPenyaluran_NoReferensi" class="el_SubAktivitasNilaiBLSFALPenyaluran_NoReferensi">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranList.NoReferensi.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranList.StatusAktivitas.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfalPenyaluranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranList.RowCount)_SubAktivitasNilaiBLSFALPenyaluran_StatusAktivitas" class="el_SubAktivitasNilaiBLSFALPenyaluran_StatusAktivitas">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranList.BL_KLObs.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.BL_KLObs.Visible (begin)
        <td data-name="BL_KLObs" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.BL_KLObs.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfalPenyaluranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranList.RowCount)_SubAktivitasNilaiBLSFALPenyaluran_BL_KLObs" class="el_SubAktivitasNilaiBLSFALPenyaluran_BL_KLObs">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.BL_KLObs.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.BL_KLObs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranList.BL_KLObs.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranList.BL_KL15.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.BL_KL15.Visible (begin)
        <td data-name="BL_KL15" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.BL_KL15.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfalPenyaluranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranList.RowCount)_SubAktivitasNilaiBLSFALPenyaluran_BL_KL15" class="el_SubAktivitasNilaiBLSFALPenyaluran_BL_KL15">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.BL_KL15.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.BL_KL15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranList.BL_KL15.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranList.BL_Barrels.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.BL_Barrels.Visible (begin)
        <td data-name="BL_Barrels" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.BL_Barrels.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfalPenyaluranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranList.RowCount)_SubAktivitasNilaiBLSFALPenyaluran_BL_Barrels" class="el_SubAktivitasNilaiBLSFALPenyaluran_BL_Barrels">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.BL_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.BL_Barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranList.BL_Barrels.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranList.BL_LT.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.BL_LT.Visible (begin)
        <td data-name="BL_LT" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.BL_LT.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfalPenyaluranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranList.RowCount)_SubAktivitasNilaiBLSFALPenyaluran_BL_LT" class="el_SubAktivitasNilaiBLSFALPenyaluran_BL_LT">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.BL_LT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.BL_LT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranList.BL_LT.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranList.BL_MT.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.BL_MT.Visible (begin)
        <td data-name="BL_MT" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.BL_MT.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfalPenyaluranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranList.RowCount)_SubAktivitasNilaiBLSFALPenyaluran_BL_MT" class="el_SubAktivitasNilaiBLSFALPenyaluran_BL_MT">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.BL_MT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.BL_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranList.BL_MT.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranList.SFAL_KLObs.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.SFAL_KLObs.Visible (begin)
        <td data-name="SFAL_KLObs" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.SFAL_KLObs.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfalPenyaluranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranList.RowCount)_SubAktivitasNilaiBLSFALPenyaluran_SFAL_KLObs" class="el_SubAktivitasNilaiBLSFALPenyaluran_SFAL_KLObs">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.SFAL_KLObs.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.SFAL_KLObs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranList.SFAL_KLObs.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranList.SFAL_KL15.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.SFAL_KL15.Visible (begin)
        <td data-name="SFAL_KL15" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.SFAL_KL15.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfalPenyaluranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranList.RowCount)_SubAktivitasNilaiBLSFALPenyaluran_SFAL_KL15" class="el_SubAktivitasNilaiBLSFALPenyaluran_SFAL_KL15">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.SFAL_KL15.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.SFAL_KL15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranList.SFAL_KL15.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranList.SFAL_Barrels.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.SFAL_Barrels.Visible (begin)
        <td data-name="SFAL_Barrels" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.SFAL_Barrels.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfalPenyaluranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranList.RowCount)_SubAktivitasNilaiBLSFALPenyaluran_SFAL_Barrels" class="el_SubAktivitasNilaiBLSFALPenyaluran_SFAL_Barrels">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.SFAL_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.SFAL_Barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranList.SFAL_Barrels.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranList.SFAL_LT.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.SFAL_LT.Visible (begin)
        <td data-name="SFAL_LT" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.SFAL_LT.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfalPenyaluranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranList.RowCount)_SubAktivitasNilaiBLSFALPenyaluran_SFAL_LT" class="el_SubAktivitasNilaiBLSFALPenyaluran_SFAL_LT">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.SFAL_LT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.SFAL_LT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranList.SFAL_LT.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranList.SFAL_MT.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.SFAL_MT.Visible (begin)
        <td data-name="SFAL_MT" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.SFAL_MT.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfalPenyaluranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranList.RowCount)_SubAktivitasNilaiBLSFALPenyaluran_SFAL_MT" class="el_SubAktivitasNilaiBLSFALPenyaluran_SFAL_MT">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.SFAL_MT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.SFAL_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranList.SFAL_MT.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranList.userInput.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.userInput.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfalPenyaluranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranList.RowCount)_SubAktivitasNilaiBLSFALPenyaluran_userInput" class="el_SubAktivitasNilaiBLSFALPenyaluran_userInput">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranList.userInput.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranList.LastUpdatedBy.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfalPenyaluranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranList.RowCount)_SubAktivitasNilaiBLSFALPenyaluran_LastUpdatedBy" class="el_SubAktivitasNilaiBLSFALPenyaluran_LastUpdatedBy">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranList.lastUpdatedDate.Visible) { // subAktivitasNilaiBlsfalPenyaluranList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfalPenyaluranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranList.RowCount)_SubAktivitasNilaiBLSFALPenyaluran_lastUpdatedDate" class="el_SubAktivitasNilaiBLSFALPenyaluran_lastUpdatedDate">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranList.lastUpdatedDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasNilaiBlsfalPenyaluranList.ListOptions.RenderBody("right", subAktivitasNilaiBlsfalPenyaluranList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasNilaiBlsfalPenyaluranList.RowIndex, "$rowindex$"))
        subAktivitasNilaiBlsfalPenyaluranList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasNilaiBlsfalPenyaluranList.IsCopy || subAktivitasNilaiBlsfalPenyaluranList.IsAdd) && subAktivitasNilaiBlsfalPenyaluranList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasNilaiBlsfalPenyaluranList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasNilaiBlsfalPenyaluranList.CurrentAction) && !subAktivitasNilaiBlsfalPenyaluranList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasNilaiBlsfalPenyaluranList.CloseRecordset(); }
@if (!subAktivitasNilaiBlsfalPenyaluranList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasNilaiBlsfalPenyaluranList.IsGridAdd && !(subAktivitasNilaiBlsfalPenyaluranList.IsGridEdit && subAktivitasNilaiBlsfalPenyaluranList.ModalGridEdit) && !subAktivitasNilaiBlsfalPenyaluranList.IsMultiEdit) {
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasNilaiBlsfalPenyaluranList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasNilaiBlsfalPenyaluranList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasNilaiBlsfalPenyaluranList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasNilaiBlsfalPenyaluranList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasNilaiBlsfalPenyaluranList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasNilaiBLSFALPenyaluran");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
