@{
    // View
    View = this;

    // Check action result
    if (subaktivitasNilaiSfblstsPymLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subaktivitasNilaiSfblstsPymLpgList.UseLayout ? "_Layout" : "";
}
@if (!subaktivitasNilaiSfblstsPymLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasNilaiSfblstsPymLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasNilaiSFBLSTSPymLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subaktivitasNilaiSfblstsPymLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subaktivitasNilaiSfblstsPymLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subaktivitasNilaiSfblstsPymLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subaktivitasNilaiSfblstsPymLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subaktivitasNilaiSfblstsPymLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subaktivitasNilaiSfblstsPymLpgList.TotalRecords > 0 && subaktivitasNilaiSfblstsPymLpgList.ExportOptions.Visible) {
    subaktivitasNilaiSfblstsPymLpgList.ExportOptions.Render("body");
}
@if (subaktivitasNilaiSfblstsPymLpgList.ImportOptions.Visible) {
    subaktivitasNilaiSfblstsPymLpgList.ImportOptions.Render("body");
}
@if (subaktivitasNilaiSfblstsPymLpgList.SearchOptions.Visible) {
    subaktivitasNilaiSfblstsPymLpgList.SearchOptions.Render("body");
}
@if (subaktivitasNilaiSfblstsPymLpgList.FilterOptions.Visible) {
    subaktivitasNilaiSfblstsPymLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subaktivitasNilaiSfblstsPymLpgList.IsModal) {
<form name="fSubaktivitasNilaiSFBLSTSPymLPGsrch" id="fSubaktivitasNilaiSFBLSTSPymLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubaktivitasNilaiSFBLSTSPymLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subaktivitasNilaiSfblstsPymLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasNilaiSfblstsPymLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasNilaiSFBLSTSPymLPG: currentTable } });
var currentForm;
var fSubaktivitasNilaiSFBLSTSPymLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubaktivitasNilaiSFBLSTSPymLPGsrch")
        .setPageId("list")
@if (subaktivitasNilaiSfblstsPymLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subaktivitasNilaiSfblstsPymLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subaktivitasNilaiSfblstsPymLpgList.IsExport() && Empty(subaktivitasNilaiSfblstsPymLpgList.CurrentAction) && subaktivitasNilaiSfblstsPymLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subaktivitasNilaiSfblstsPymLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subaktivitasNilaiSfblstsPymLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subaktivitasNilaiSfblstsPymLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subaktivitasNilaiSfblstsPymLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubaktivitasNilaiSFBLSTSPymLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subaktivitasNilaiSfblstsPymLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubaktivitasNilaiSFBLSTSPymLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subaktivitasNilaiSfblstsPymLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubaktivitasNilaiSFBLSTSPymLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subaktivitasNilaiSfblstsPymLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubaktivitasNilaiSFBLSTSPymLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subaktivitasNilaiSfblstsPymLpgList.ShowPageHeader()
@subaktivitasNilaiSfblstsPymLpgList.ShowMessages()
<main class="list @(subaktivitasNilaiSfblstsPymLpgList.TotalRecords == 0 && !subaktivitasNilaiSfblstsPymLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subaktivitasNilaiSfblstsPymLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subaktivitasNilaiSfblstsPymLpgList.TotalRecords > 0 || !Empty(subaktivitasNilaiSfblstsPymLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subaktivitasNilaiSfblstsPymLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subaktivitasNilaiSfblstsPymLpgList.TableGridClass)">
<form name="@(subaktivitasNilaiSfblstsPymLpgList.FormName)" id="@(subaktivitasNilaiSfblstsPymLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subaktivitasNilaiSfblstsPymLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subaktivitasNilaiSfblstsPymLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubaktivitasNilaiSFBLSTSPymLPG" class="card-body ew-grid-middle-panel @(subaktivitasNilaiSfblstsPymLpgList.TableContainerClass)" style="@(subaktivitasNilaiSfblstsPymLpgList.TableContainerStyle)">
@if (subaktivitasNilaiSfblstsPymLpgList.TotalRecords > 0 || subaktivitasNilaiSfblstsPymLpgList.IsGridEdit || subaktivitasNilaiSfblstsPymLpgList.IsMultiEdit) {
<table id="tbl_SubaktivitasNilaiSFBLSTSPymLPGlist" class="@(subaktivitasNilaiSfblstsPymLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subaktivitasNilaiSfblstsPymLpgList.RowType = RowType.Header;

    // Render list options
    await subaktivitasNilaiSfblstsPymLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subaktivitasNilaiSfblstsPymLpgList.ListOptions.RenderHeader("left")
@if (subaktivitasNilaiSfblstsPymLpgList.id.Visible) { // subaktivitasNilaiSfblstsPymLpgList.id.Visible (begin)
        <th data-name="id" class="@(subaktivitasNilaiSfblstsPymLpgList.id.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBLSTSPymLPG_id" class="SubaktivitasNilaiSFBLSTSPymLPG_id">@Html.Raw(subaktivitasNilaiSfblstsPymLpgList.RenderFieldHeader(subaktivitasNilaiSfblstsPymLpgList.id))</div></th>
} @* subaktivitasNilaiSfblstsPymLpgList.id.Visible (end) *@
@if (subaktivitasNilaiSfblstsPymLpgList.NoReferensi.Visible) { // subaktivitasNilaiSfblstsPymLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subaktivitasNilaiSfblstsPymLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBLSTSPymLPG_NoReferensi" class="SubaktivitasNilaiSFBLSTSPymLPG_NoReferensi">@Html.Raw(subaktivitasNilaiSfblstsPymLpgList.RenderFieldHeader(subaktivitasNilaiSfblstsPymLpgList.NoReferensi))</div></th>
} @* subaktivitasNilaiSfblstsPymLpgList.NoReferensi.Visible (end) *@
@if (subaktivitasNilaiSfblstsPymLpgList.idProses.Visible) { // subaktivitasNilaiSfblstsPymLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subaktivitasNilaiSfblstsPymLpgList.idProses.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBLSTSPymLPG_idProses" class="SubaktivitasNilaiSFBLSTSPymLPG_idProses">@Html.Raw(subaktivitasNilaiSfblstsPymLpgList.RenderFieldHeader(subaktivitasNilaiSfblstsPymLpgList.idProses))</div></th>
} @* subaktivitasNilaiSfblstsPymLpgList.idProses.Visible (end) *@
@if (subaktivitasNilaiSfblstsPymLpgList.idAktifitas.Visible) { // subaktivitasNilaiSfblstsPymLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subaktivitasNilaiSfblstsPymLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBLSTSPymLPG_idAktifitas" class="SubaktivitasNilaiSFBLSTSPymLPG_idAktifitas">@Html.Raw(subaktivitasNilaiSfblstsPymLpgList.RenderFieldHeader(subaktivitasNilaiSfblstsPymLpgList.idAktifitas))</div></th>
} @* subaktivitasNilaiSfblstsPymLpgList.idAktifitas.Visible (end) *@
@if (subaktivitasNilaiSfblstsPymLpgList.LastUpdatedBy.Visible) { // subaktivitasNilaiSfblstsPymLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subaktivitasNilaiSfblstsPymLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBLSTSPymLPG_LastUpdatedBy" class="SubaktivitasNilaiSFBLSTSPymLPG_LastUpdatedBy">@Html.Raw(subaktivitasNilaiSfblstsPymLpgList.RenderFieldHeader(subaktivitasNilaiSfblstsPymLpgList.LastUpdatedBy))</div></th>
} @* subaktivitasNilaiSfblstsPymLpgList.LastUpdatedBy.Visible (end) *@
@if (subaktivitasNilaiSfblstsPymLpgList.lastUpdatedDate.Visible) { // subaktivitasNilaiSfblstsPymLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subaktivitasNilaiSfblstsPymLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBLSTSPymLPG_lastUpdatedDate" class="SubaktivitasNilaiSFBLSTSPymLPG_lastUpdatedDate">@Html.Raw(subaktivitasNilaiSfblstsPymLpgList.RenderFieldHeader(subaktivitasNilaiSfblstsPymLpgList.lastUpdatedDate))</div></th>
} @* subaktivitasNilaiSfblstsPymLpgList.lastUpdatedDate.Visible (end) *@
@if (subaktivitasNilaiSfblstsPymLpgList.StatusAktivitas.Visible) { // subaktivitasNilaiSfblstsPymLpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subaktivitasNilaiSfblstsPymLpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBLSTSPymLPG_StatusAktivitas" class="SubaktivitasNilaiSFBLSTSPymLPG_StatusAktivitas">@Html.Raw(subaktivitasNilaiSfblstsPymLpgList.RenderFieldHeader(subaktivitasNilaiSfblstsPymLpgList.StatusAktivitas))</div></th>
} @* subaktivitasNilaiSfblstsPymLpgList.StatusAktivitas.Visible (end) *@
@if (subaktivitasNilaiSfblstsPymLpgList.mt.Visible) { // subaktivitasNilaiSfblstsPymLpgList.mt.Visible (begin)
        <th data-name="mt" class="@(subaktivitasNilaiSfblstsPymLpgList.mt.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBLSTSPymLPG_mt" class="SubaktivitasNilaiSFBLSTSPymLPG_mt">@Html.Raw(subaktivitasNilaiSfblstsPymLpgList.RenderFieldHeader(subaktivitasNilaiSfblstsPymLpgList.mt))</div></th>
} @* subaktivitasNilaiSfblstsPymLpgList.mt.Visible (end) *@
@if (subaktivitasNilaiSfblstsPymLpgList.userInput.Visible) { // subaktivitasNilaiSfblstsPymLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subaktivitasNilaiSfblstsPymLpgList.userInput.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBLSTSPymLPG_userInput" class="SubaktivitasNilaiSFBLSTSPymLPG_userInput">@Html.Raw(subaktivitasNilaiSfblstsPymLpgList.RenderFieldHeader(subaktivitasNilaiSfblstsPymLpgList.userInput))</div></th>
} @* subaktivitasNilaiSfblstsPymLpgList.userInput.Visible (end) *@
@if (subaktivitasNilaiSfblstsPymLpgList.etlDate.Visible) { // subaktivitasNilaiSfblstsPymLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subaktivitasNilaiSfblstsPymLpgList.etlDate.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBLSTSPymLPG_etlDate" class="SubaktivitasNilaiSFBLSTSPymLPG_etlDate">@Html.Raw(subaktivitasNilaiSfblstsPymLpgList.RenderFieldHeader(subaktivitasNilaiSfblstsPymLpgList.etlDate))</div></th>
} @* subaktivitasNilaiSfblstsPymLpgList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subaktivitasNilaiSfblstsPymLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subaktivitasNilaiSfblstsPymLpgList.PageNumber)">
@{
    await subaktivitasNilaiSfblstsPymLpgList.SetupGrid();
    bool eof = subaktivitasNilaiSfblstsPymLpgList.Recordset == null; // DN
}
@while (subaktivitasNilaiSfblstsPymLpgList.RecordCount < subaktivitasNilaiSfblstsPymLpgList.StopRecord || SameString(subaktivitasNilaiSfblstsPymLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subaktivitasNilaiSfblstsPymLpgList.RowIndex, "$rowindex$") &&
        (!subaktivitasNilaiSfblstsPymLpgList.IsGridAdd || subaktivitasNilaiSfblstsPymLpgList.CurrentMode == "copy") &&
        (!((subaktivitasNilaiSfblstsPymLpgList.IsCopy || subaktivitasNilaiSfblstsPymLpgList.IsAdd) && subaktivitasNilaiSfblstsPymLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subaktivitasNilaiSfblstsPymLpgList.Recordset.ReadAsync();
    subaktivitasNilaiSfblstsPymLpgList.RecordCount++;
    if (subaktivitasNilaiSfblstsPymLpgList.RecordCount >= subaktivitasNilaiSfblstsPymLpgList.StartRecord) {
        await subaktivitasNilaiSfblstsPymLpgList.SetupRow();
    <tr @Html.Raw(subaktivitasNilaiSfblstsPymLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subaktivitasNilaiSfblstsPymLpgList.ListOptions.RenderBody("left", subaktivitasNilaiSfblstsPymLpgList.RowCount)
    @if (subaktivitasNilaiSfblstsPymLpgList.id.Visible) { // subaktivitasNilaiSfblstsPymLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subaktivitasNilaiSfblstsPymLpgList.id.CellAttributes)>
<span id="el@(subaktivitasNilaiSfblstsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiSfblstsPymLpgList.RowCount)_SubaktivitasNilaiSFBLSTSPymLPG_id" class="el_SubaktivitasNilaiSFBLSTSPymLPG_id">
<span @Html.Raw(subaktivitasNilaiSfblstsPymLpgList.id.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfblstsPymLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfblstsPymLpgList.id.Visible (end) *@
    @if (subaktivitasNilaiSfblstsPymLpgList.NoReferensi.Visible) { // subaktivitasNilaiSfblstsPymLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subaktivitasNilaiSfblstsPymLpgList.NoReferensi.CellAttributes)>
<span id="el@(subaktivitasNilaiSfblstsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiSfblstsPymLpgList.RowCount)_SubaktivitasNilaiSFBLSTSPymLPG_NoReferensi" class="el_SubaktivitasNilaiSFBLSTSPymLPG_NoReferensi">
<span @Html.Raw(subaktivitasNilaiSfblstsPymLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfblstsPymLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfblstsPymLpgList.NoReferensi.Visible (end) *@
    @if (subaktivitasNilaiSfblstsPymLpgList.idProses.Visible) { // subaktivitasNilaiSfblstsPymLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subaktivitasNilaiSfblstsPymLpgList.idProses.CellAttributes)>
<span id="el@(subaktivitasNilaiSfblstsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiSfblstsPymLpgList.RowCount)_SubaktivitasNilaiSFBLSTSPymLPG_idProses" class="el_SubaktivitasNilaiSFBLSTSPymLPG_idProses">
<span @Html.Raw(subaktivitasNilaiSfblstsPymLpgList.idProses.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfblstsPymLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfblstsPymLpgList.idProses.Visible (end) *@
    @if (subaktivitasNilaiSfblstsPymLpgList.idAktifitas.Visible) { // subaktivitasNilaiSfblstsPymLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subaktivitasNilaiSfblstsPymLpgList.idAktifitas.CellAttributes)>
<span id="el@(subaktivitasNilaiSfblstsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiSfblstsPymLpgList.RowCount)_SubaktivitasNilaiSFBLSTSPymLPG_idAktifitas" class="el_SubaktivitasNilaiSFBLSTSPymLPG_idAktifitas">
<span @Html.Raw(subaktivitasNilaiSfblstsPymLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfblstsPymLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfblstsPymLpgList.idAktifitas.Visible (end) *@
    @if (subaktivitasNilaiSfblstsPymLpgList.LastUpdatedBy.Visible) { // subaktivitasNilaiSfblstsPymLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subaktivitasNilaiSfblstsPymLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(subaktivitasNilaiSfblstsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiSfblstsPymLpgList.RowCount)_SubaktivitasNilaiSFBLSTSPymLPG_LastUpdatedBy" class="el_SubaktivitasNilaiSFBLSTSPymLPG_LastUpdatedBy">
<span @Html.Raw(subaktivitasNilaiSfblstsPymLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfblstsPymLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfblstsPymLpgList.LastUpdatedBy.Visible (end) *@
    @if (subaktivitasNilaiSfblstsPymLpgList.lastUpdatedDate.Visible) { // subaktivitasNilaiSfblstsPymLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subaktivitasNilaiSfblstsPymLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(subaktivitasNilaiSfblstsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiSfblstsPymLpgList.RowCount)_SubaktivitasNilaiSFBLSTSPymLPG_lastUpdatedDate" class="el_SubaktivitasNilaiSFBLSTSPymLPG_lastUpdatedDate">
<span @Html.Raw(subaktivitasNilaiSfblstsPymLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfblstsPymLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfblstsPymLpgList.lastUpdatedDate.Visible (end) *@
    @if (subaktivitasNilaiSfblstsPymLpgList.StatusAktivitas.Visible) { // subaktivitasNilaiSfblstsPymLpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subaktivitasNilaiSfblstsPymLpgList.StatusAktivitas.CellAttributes)>
<span id="el@(subaktivitasNilaiSfblstsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiSfblstsPymLpgList.RowCount)_SubaktivitasNilaiSFBLSTSPymLPG_StatusAktivitas" class="el_SubaktivitasNilaiSFBLSTSPymLPG_StatusAktivitas">
<span @Html.Raw(subaktivitasNilaiSfblstsPymLpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfblstsPymLpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfblstsPymLpgList.StatusAktivitas.Visible (end) *@
    @if (subaktivitasNilaiSfblstsPymLpgList.mt.Visible) { // subaktivitasNilaiSfblstsPymLpgList.mt.Visible (begin)
        <td data-name="mt" @Html.Raw(subaktivitasNilaiSfblstsPymLpgList.mt.CellAttributes)>
<span id="el@(subaktivitasNilaiSfblstsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiSfblstsPymLpgList.RowCount)_SubaktivitasNilaiSFBLSTSPymLPG_mt" class="el_SubaktivitasNilaiSFBLSTSPymLPG_mt">
<span @Html.Raw(subaktivitasNilaiSfblstsPymLpgList.mt.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfblstsPymLpgList.mt.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfblstsPymLpgList.mt.Visible (end) *@
    @if (subaktivitasNilaiSfblstsPymLpgList.userInput.Visible) { // subaktivitasNilaiSfblstsPymLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subaktivitasNilaiSfblstsPymLpgList.userInput.CellAttributes)>
<span id="el@(subaktivitasNilaiSfblstsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiSfblstsPymLpgList.RowCount)_SubaktivitasNilaiSFBLSTSPymLPG_userInput" class="el_SubaktivitasNilaiSFBLSTSPymLPG_userInput">
<span @Html.Raw(subaktivitasNilaiSfblstsPymLpgList.userInput.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfblstsPymLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfblstsPymLpgList.userInput.Visible (end) *@
    @if (subaktivitasNilaiSfblstsPymLpgList.etlDate.Visible) { // subaktivitasNilaiSfblstsPymLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subaktivitasNilaiSfblstsPymLpgList.etlDate.CellAttributes)>
<span id="el@(subaktivitasNilaiSfblstsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiSfblstsPymLpgList.RowCount)_SubaktivitasNilaiSFBLSTSPymLPG_etlDate" class="el_SubaktivitasNilaiSFBLSTSPymLPG_etlDate">
<span @Html.Raw(subaktivitasNilaiSfblstsPymLpgList.etlDate.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfblstsPymLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfblstsPymLpgList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subaktivitasNilaiSfblstsPymLpgList.ListOptions.RenderBody("right", subaktivitasNilaiSfblstsPymLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subaktivitasNilaiSfblstsPymLpgList.RowIndex, "$rowindex$"))
        subaktivitasNilaiSfblstsPymLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subaktivitasNilaiSfblstsPymLpgList.IsCopy || subaktivitasNilaiSfblstsPymLpgList.IsAdd) && subaktivitasNilaiSfblstsPymLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subaktivitasNilaiSfblstsPymLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subaktivitasNilaiSfblstsPymLpgList.CurrentAction) && !subaktivitasNilaiSfblstsPymLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subaktivitasNilaiSfblstsPymLpgList.CloseRecordset(); }
@if (!subaktivitasNilaiSfblstsPymLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subaktivitasNilaiSfblstsPymLpgList.IsGridAdd && !(subaktivitasNilaiSfblstsPymLpgList.IsGridEdit && subaktivitasNilaiSfblstsPymLpgList.ModalGridEdit) && !subaktivitasNilaiSfblstsPymLpgList.IsMultiEdit) {
@Html.Raw(subaktivitasNilaiSfblstsPymLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subaktivitasNilaiSfblstsPymLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subaktivitasNilaiSfblstsPymLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subaktivitasNilaiSfblstsPymLpgList.FooterOptions.RenderBody()
</div>
</main>
@subaktivitasNilaiSfblstsPymLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subaktivitasNilaiSfblstsPymLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubaktivitasNilaiSFBLSTSPymLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
