@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputDataMobilTangkiList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputDataMobilTangkiList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputDataMobilTangkiList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputDataMobilTangkiList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputDataMobilTangki: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasFormInputDataMobilTangkiList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasFormInputDataMobilTangkiList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasFormInputDataMobilTangkiList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasFormInputDataMobilTangkiList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasFormInputDataMobilTangkiList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasFormInputDataMobilTangkiList.TotalRecords > 0 && subAktivitasFormInputDataMobilTangkiList.ExportOptions.Visible) {
    subAktivitasFormInputDataMobilTangkiList.ExportOptions.Render("body");
}
@if (subAktivitasFormInputDataMobilTangkiList.ImportOptions.Visible) {
    subAktivitasFormInputDataMobilTangkiList.ImportOptions.Render("body");
}
@if (subAktivitasFormInputDataMobilTangkiList.SearchOptions.Visible) {
    subAktivitasFormInputDataMobilTangkiList.SearchOptions.Render("body");
}
@if (subAktivitasFormInputDataMobilTangkiList.FilterOptions.Visible) {
    subAktivitasFormInputDataMobilTangkiList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasFormInputDataMobilTangkiList.IsModal) {
<form name="fSubAktivitasFormInputDataMobilTangkisrch" id="fSubAktivitasFormInputDataMobilTangkisrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasFormInputDataMobilTangkisrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasFormInputDataMobilTangkiList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputDataMobilTangkiList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputDataMobilTangki: currentTable } });
var currentForm;
var fSubAktivitasFormInputDataMobilTangkisrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputDataMobilTangkisrch")
        .setPageId("list")
@if (subAktivitasFormInputDataMobilTangkiList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasFormInputDataMobilTangkiList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasFormInputDataMobilTangkiList.IsExport() && Empty(subAktivitasFormInputDataMobilTangkiList.CurrentAction) && subAktivitasFormInputDataMobilTangkiList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasFormInputDataMobilTangkiList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasFormInputDataMobilTangkiList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasFormInputDataMobilTangkiList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasFormInputDataMobilTangkiList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasFormInputDataMobilTangkisrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputDataMobilTangkiList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasFormInputDataMobilTangkisrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputDataMobilTangkiList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasFormInputDataMobilTangkisrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputDataMobilTangkiList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasFormInputDataMobilTangkisrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasFormInputDataMobilTangkiList.ShowPageHeader()
@subAktivitasFormInputDataMobilTangkiList.ShowMessages()
<main class="list @(subAktivitasFormInputDataMobilTangkiList.TotalRecords == 0 && !subAktivitasFormInputDataMobilTangkiList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasFormInputDataMobilTangkiList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasFormInputDataMobilTangkiList.TotalRecords > 0 || !Empty(subAktivitasFormInputDataMobilTangkiList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasFormInputDataMobilTangkiList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasFormInputDataMobilTangkiList.TableGridClass)">
<form name="@(subAktivitasFormInputDataMobilTangkiList.FormName)" id="@(subAktivitasFormInputDataMobilTangkiList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasFormInputDataMobilTangkiList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasFormInputDataMobilTangkiList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasFormInputDataMobilTangki" class="card-body ew-grid-middle-panel @(subAktivitasFormInputDataMobilTangkiList.TableContainerClass)" style="@(subAktivitasFormInputDataMobilTangkiList.TableContainerStyle)">
@if (subAktivitasFormInputDataMobilTangkiList.TotalRecords > 0 || subAktivitasFormInputDataMobilTangkiList.IsGridEdit || subAktivitasFormInputDataMobilTangkiList.IsMultiEdit) {
<table id="tbl_SubAktivitasFormInputDataMobilTangkilist" class="@(subAktivitasFormInputDataMobilTangkiList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasFormInputDataMobilTangkiList.RowType = RowType.Header;

    // Render list options
    await subAktivitasFormInputDataMobilTangkiList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasFormInputDataMobilTangkiList.ListOptions.RenderHeader("left")
@if (subAktivitasFormInputDataMobilTangkiList.id.Visible) { // subAktivitasFormInputDataMobilTangkiList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasFormInputDataMobilTangkiList.id.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataMobilTangki_id" class="SubAktivitasFormInputDataMobilTangki_id">@Html.Raw(subAktivitasFormInputDataMobilTangkiList.RenderFieldHeader(subAktivitasFormInputDataMobilTangkiList.id))</div></th>
} @* subAktivitasFormInputDataMobilTangkiList.id.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiList.NoReferensi.Visible) { // subAktivitasFormInputDataMobilTangkiList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasFormInputDataMobilTangkiList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataMobilTangki_NoReferensi" class="SubAktivitasFormInputDataMobilTangki_NoReferensi">@Html.Raw(subAktivitasFormInputDataMobilTangkiList.RenderFieldHeader(subAktivitasFormInputDataMobilTangkiList.NoReferensi))</div></th>
} @* subAktivitasFormInputDataMobilTangkiList.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiList.idProses.Visible) { // subAktivitasFormInputDataMobilTangkiList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasFormInputDataMobilTangkiList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataMobilTangki_idProses" class="SubAktivitasFormInputDataMobilTangki_idProses">@Html.Raw(subAktivitasFormInputDataMobilTangkiList.RenderFieldHeader(subAktivitasFormInputDataMobilTangkiList.idProses))</div></th>
} @* subAktivitasFormInputDataMobilTangkiList.idProses.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiList.idAktifitas.Visible) { // subAktivitasFormInputDataMobilTangkiList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasFormInputDataMobilTangkiList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataMobilTangki_idAktifitas" class="SubAktivitasFormInputDataMobilTangki_idAktifitas">@Html.Raw(subAktivitasFormInputDataMobilTangkiList.RenderFieldHeader(subAktivitasFormInputDataMobilTangkiList.idAktifitas))</div></th>
} @* subAktivitasFormInputDataMobilTangkiList.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiList.StatusAktivitas.Visible) { // subAktivitasFormInputDataMobilTangkiList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasFormInputDataMobilTangkiList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataMobilTangki_StatusAktivitas" class="SubAktivitasFormInputDataMobilTangki_StatusAktivitas">@Html.Raw(subAktivitasFormInputDataMobilTangkiList.RenderFieldHeader(subAktivitasFormInputDataMobilTangkiList.StatusAktivitas))</div></th>
} @* subAktivitasFormInputDataMobilTangkiList.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiList.LastUpdatedBy.Visible) { // subAktivitasFormInputDataMobilTangkiList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasFormInputDataMobilTangkiList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataMobilTangki_LastUpdatedBy" class="SubAktivitasFormInputDataMobilTangki_LastUpdatedBy">@Html.Raw(subAktivitasFormInputDataMobilTangkiList.RenderFieldHeader(subAktivitasFormInputDataMobilTangkiList.LastUpdatedBy))</div></th>
} @* subAktivitasFormInputDataMobilTangkiList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiList.lastUpdatedDate.Visible) { // subAktivitasFormInputDataMobilTangkiList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasFormInputDataMobilTangkiList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataMobilTangki_lastUpdatedDate" class="SubAktivitasFormInputDataMobilTangki_lastUpdatedDate">@Html.Raw(subAktivitasFormInputDataMobilTangkiList.RenderFieldHeader(subAktivitasFormInputDataMobilTangkiList.lastUpdatedDate))</div></th>
} @* subAktivitasFormInputDataMobilTangkiList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiList.JenisProduk.Visible) { // subAktivitasFormInputDataMobilTangkiList.JenisProduk.Visible (begin)
        <th data-name="JenisProduk" class="@(subAktivitasFormInputDataMobilTangkiList.JenisProduk.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataMobilTangki_JenisProduk" class="SubAktivitasFormInputDataMobilTangki_JenisProduk">@Html.Raw(subAktivitasFormInputDataMobilTangkiList.RenderFieldHeader(subAktivitasFormInputDataMobilTangkiList.JenisProduk))</div></th>
} @* subAktivitasFormInputDataMobilTangkiList.JenisProduk.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiList.Shipment.Visible) { // subAktivitasFormInputDataMobilTangkiList.Shipment.Visible (begin)
        <th data-name="Shipment" class="@(subAktivitasFormInputDataMobilTangkiList.Shipment.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataMobilTangki_Shipment" class="SubAktivitasFormInputDataMobilTangki_Shipment">@Html.Raw(subAktivitasFormInputDataMobilTangkiList.RenderFieldHeader(subAktivitasFormInputDataMobilTangkiList.Shipment))</div></th>
} @* subAktivitasFormInputDataMobilTangkiList.Shipment.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiList.Tanggal.Visible) { // subAktivitasFormInputDataMobilTangkiList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasFormInputDataMobilTangkiList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataMobilTangki_Tanggal" class="SubAktivitasFormInputDataMobilTangki_Tanggal">@Html.Raw(subAktivitasFormInputDataMobilTangkiList.RenderFieldHeader(subAktivitasFormInputDataMobilTangkiList.Tanggal))</div></th>
} @* subAktivitasFormInputDataMobilTangkiList.Tanggal.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiList.NomorPolisi.Visible) { // subAktivitasFormInputDataMobilTangkiList.NomorPolisi.Visible (begin)
        <th data-name="NomorPolisi" class="@(subAktivitasFormInputDataMobilTangkiList.NomorPolisi.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataMobilTangki_NomorPolisi" class="SubAktivitasFormInputDataMobilTangki_NomorPolisi">@Html.Raw(subAktivitasFormInputDataMobilTangkiList.RenderFieldHeader(subAktivitasFormInputDataMobilTangkiList.NomorPolisi))</div></th>
} @* subAktivitasFormInputDataMobilTangkiList.NomorPolisi.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiList.Nominasi.Visible) { // subAktivitasFormInputDataMobilTangkiList.Nominasi.Visible (begin)
        <th data-name="Nominasi" class="@(subAktivitasFormInputDataMobilTangkiList.Nominasi.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataMobilTangki_Nominasi" class="SubAktivitasFormInputDataMobilTangki_Nominasi">@Html.Raw(subAktivitasFormInputDataMobilTangkiList.RenderFieldHeader(subAktivitasFormInputDataMobilTangkiList.Nominasi))</div></th>
} @* subAktivitasFormInputDataMobilTangkiList.Nominasi.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiList.userInput.Visible) { // subAktivitasFormInputDataMobilTangkiList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasFormInputDataMobilTangkiList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataMobilTangki_userInput" class="SubAktivitasFormInputDataMobilTangki_userInput">@Html.Raw(subAktivitasFormInputDataMobilTangkiList.RenderFieldHeader(subAktivitasFormInputDataMobilTangkiList.userInput))</div></th>
} @* subAktivitasFormInputDataMobilTangkiList.userInput.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiList.etlDate.Visible) { // subAktivitasFormInputDataMobilTangkiList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasFormInputDataMobilTangkiList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataMobilTangki_etlDate" class="SubAktivitasFormInputDataMobilTangki_etlDate">@Html.Raw(subAktivitasFormInputDataMobilTangkiList.RenderFieldHeader(subAktivitasFormInputDataMobilTangkiList.etlDate))</div></th>
} @* subAktivitasFormInputDataMobilTangkiList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasFormInputDataMobilTangkiList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasFormInputDataMobilTangkiList.PageNumber)">
@{
    await subAktivitasFormInputDataMobilTangkiList.SetupGrid();
    bool eof = subAktivitasFormInputDataMobilTangkiList.Recordset == null; // DN
}
@while (subAktivitasFormInputDataMobilTangkiList.RecordCount < subAktivitasFormInputDataMobilTangkiList.StopRecord || SameString(subAktivitasFormInputDataMobilTangkiList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasFormInputDataMobilTangkiList.RowIndex, "$rowindex$") &&
        (!subAktivitasFormInputDataMobilTangkiList.IsGridAdd || subAktivitasFormInputDataMobilTangkiList.CurrentMode == "copy") &&
        (!((subAktivitasFormInputDataMobilTangkiList.IsCopy || subAktivitasFormInputDataMobilTangkiList.IsAdd) && subAktivitasFormInputDataMobilTangkiList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasFormInputDataMobilTangkiList.Recordset.ReadAsync();
    subAktivitasFormInputDataMobilTangkiList.RecordCount++;
    if (subAktivitasFormInputDataMobilTangkiList.RecordCount >= subAktivitasFormInputDataMobilTangkiList.StartRecord) {
        await subAktivitasFormInputDataMobilTangkiList.SetupRow();
    <tr @Html.Raw(subAktivitasFormInputDataMobilTangkiList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasFormInputDataMobilTangkiList.ListOptions.RenderBody("left", subAktivitasFormInputDataMobilTangkiList.RowCount)
    @if (subAktivitasFormInputDataMobilTangkiList.id.Visible) { // subAktivitasFormInputDataMobilTangkiList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasFormInputDataMobilTangkiList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataMobilTangkiList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataMobilTangkiList.RowCount)_SubAktivitasFormInputDataMobilTangki_id" class="el_SubAktivitasFormInputDataMobilTangki_id">
<span @Html.Raw(subAktivitasFormInputDataMobilTangkiList.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataMobilTangkiList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataMobilTangkiList.id.Visible (end) *@
    @if (subAktivitasFormInputDataMobilTangkiList.NoReferensi.Visible) { // subAktivitasFormInputDataMobilTangkiList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputDataMobilTangkiList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataMobilTangkiList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataMobilTangkiList.RowCount)_SubAktivitasFormInputDataMobilTangki_NoReferensi" class="el_SubAktivitasFormInputDataMobilTangki_NoReferensi">
<span @Html.Raw(subAktivitasFormInputDataMobilTangkiList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataMobilTangkiList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataMobilTangkiList.NoReferensi.Visible (end) *@
    @if (subAktivitasFormInputDataMobilTangkiList.idProses.Visible) { // subAktivitasFormInputDataMobilTangkiList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputDataMobilTangkiList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataMobilTangkiList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataMobilTangkiList.RowCount)_SubAktivitasFormInputDataMobilTangki_idProses" class="el_SubAktivitasFormInputDataMobilTangki_idProses">
<span @Html.Raw(subAktivitasFormInputDataMobilTangkiList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataMobilTangkiList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataMobilTangkiList.idProses.Visible (end) *@
    @if (subAktivitasFormInputDataMobilTangkiList.idAktifitas.Visible) { // subAktivitasFormInputDataMobilTangkiList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputDataMobilTangkiList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataMobilTangkiList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataMobilTangkiList.RowCount)_SubAktivitasFormInputDataMobilTangki_idAktifitas" class="el_SubAktivitasFormInputDataMobilTangki_idAktifitas">
<span @Html.Raw(subAktivitasFormInputDataMobilTangkiList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataMobilTangkiList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataMobilTangkiList.idAktifitas.Visible (end) *@
    @if (subAktivitasFormInputDataMobilTangkiList.StatusAktivitas.Visible) { // subAktivitasFormInputDataMobilTangkiList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputDataMobilTangkiList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataMobilTangkiList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataMobilTangkiList.RowCount)_SubAktivitasFormInputDataMobilTangki_StatusAktivitas" class="el_SubAktivitasFormInputDataMobilTangki_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputDataMobilTangkiList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataMobilTangkiList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataMobilTangkiList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasFormInputDataMobilTangkiList.LastUpdatedBy.Visible) { // subAktivitasFormInputDataMobilTangkiList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputDataMobilTangkiList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataMobilTangkiList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataMobilTangkiList.RowCount)_SubAktivitasFormInputDataMobilTangki_LastUpdatedBy" class="el_SubAktivitasFormInputDataMobilTangki_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputDataMobilTangkiList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataMobilTangkiList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataMobilTangkiList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasFormInputDataMobilTangkiList.lastUpdatedDate.Visible) { // subAktivitasFormInputDataMobilTangkiList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputDataMobilTangkiList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataMobilTangkiList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataMobilTangkiList.RowCount)_SubAktivitasFormInputDataMobilTangki_lastUpdatedDate" class="el_SubAktivitasFormInputDataMobilTangki_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputDataMobilTangkiList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataMobilTangkiList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataMobilTangkiList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasFormInputDataMobilTangkiList.JenisProduk.Visible) { // subAktivitasFormInputDataMobilTangkiList.JenisProduk.Visible (begin)
        <td data-name="JenisProduk" @Html.Raw(subAktivitasFormInputDataMobilTangkiList.JenisProduk.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataMobilTangkiList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataMobilTangkiList.RowCount)_SubAktivitasFormInputDataMobilTangki_JenisProduk" class="el_SubAktivitasFormInputDataMobilTangki_JenisProduk">
<span @Html.Raw(subAktivitasFormInputDataMobilTangkiList.JenisProduk.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataMobilTangkiList.JenisProduk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataMobilTangkiList.JenisProduk.Visible (end) *@
    @if (subAktivitasFormInputDataMobilTangkiList.Shipment.Visible) { // subAktivitasFormInputDataMobilTangkiList.Shipment.Visible (begin)
        <td data-name="Shipment" @Html.Raw(subAktivitasFormInputDataMobilTangkiList.Shipment.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataMobilTangkiList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataMobilTangkiList.RowCount)_SubAktivitasFormInputDataMobilTangki_Shipment" class="el_SubAktivitasFormInputDataMobilTangki_Shipment">
<span @Html.Raw(subAktivitasFormInputDataMobilTangkiList.Shipment.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataMobilTangkiList.Shipment.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataMobilTangkiList.Shipment.Visible (end) *@
    @if (subAktivitasFormInputDataMobilTangkiList.Tanggal.Visible) { // subAktivitasFormInputDataMobilTangkiList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasFormInputDataMobilTangkiList.Tanggal.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataMobilTangkiList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataMobilTangkiList.RowCount)_SubAktivitasFormInputDataMobilTangki_Tanggal" class="el_SubAktivitasFormInputDataMobilTangki_Tanggal">
<span @Html.Raw(subAktivitasFormInputDataMobilTangkiList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataMobilTangkiList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataMobilTangkiList.Tanggal.Visible (end) *@
    @if (subAktivitasFormInputDataMobilTangkiList.NomorPolisi.Visible) { // subAktivitasFormInputDataMobilTangkiList.NomorPolisi.Visible (begin)
        <td data-name="NomorPolisi" @Html.Raw(subAktivitasFormInputDataMobilTangkiList.NomorPolisi.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataMobilTangkiList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataMobilTangkiList.RowCount)_SubAktivitasFormInputDataMobilTangki_NomorPolisi" class="el_SubAktivitasFormInputDataMobilTangki_NomorPolisi">
<span @Html.Raw(subAktivitasFormInputDataMobilTangkiList.NomorPolisi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataMobilTangkiList.NomorPolisi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataMobilTangkiList.NomorPolisi.Visible (end) *@
    @if (subAktivitasFormInputDataMobilTangkiList.Nominasi.Visible) { // subAktivitasFormInputDataMobilTangkiList.Nominasi.Visible (begin)
        <td data-name="Nominasi" @Html.Raw(subAktivitasFormInputDataMobilTangkiList.Nominasi.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataMobilTangkiList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataMobilTangkiList.RowCount)_SubAktivitasFormInputDataMobilTangki_Nominasi" class="el_SubAktivitasFormInputDataMobilTangki_Nominasi">
<span @Html.Raw(subAktivitasFormInputDataMobilTangkiList.Nominasi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataMobilTangkiList.Nominasi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataMobilTangkiList.Nominasi.Visible (end) *@
    @if (subAktivitasFormInputDataMobilTangkiList.userInput.Visible) { // subAktivitasFormInputDataMobilTangkiList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputDataMobilTangkiList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataMobilTangkiList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataMobilTangkiList.RowCount)_SubAktivitasFormInputDataMobilTangki_userInput" class="el_SubAktivitasFormInputDataMobilTangki_userInput">
<span @Html.Raw(subAktivitasFormInputDataMobilTangkiList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataMobilTangkiList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataMobilTangkiList.userInput.Visible (end) *@
    @if (subAktivitasFormInputDataMobilTangkiList.etlDate.Visible) { // subAktivitasFormInputDataMobilTangkiList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputDataMobilTangkiList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataMobilTangkiList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataMobilTangkiList.RowCount)_SubAktivitasFormInputDataMobilTangki_etlDate" class="el_SubAktivitasFormInputDataMobilTangki_etlDate">
<span @Html.Raw(subAktivitasFormInputDataMobilTangkiList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataMobilTangkiList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataMobilTangkiList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasFormInputDataMobilTangkiList.ListOptions.RenderBody("right", subAktivitasFormInputDataMobilTangkiList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasFormInputDataMobilTangkiList.RowIndex, "$rowindex$"))
        subAktivitasFormInputDataMobilTangkiList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasFormInputDataMobilTangkiList.IsCopy || subAktivitasFormInputDataMobilTangkiList.IsAdd) && subAktivitasFormInputDataMobilTangkiList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasFormInputDataMobilTangkiList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasFormInputDataMobilTangkiList.CurrentAction) && !subAktivitasFormInputDataMobilTangkiList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasFormInputDataMobilTangkiList.CloseRecordset(); }
@if (!subAktivitasFormInputDataMobilTangkiList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasFormInputDataMobilTangkiList.IsGridAdd && !(subAktivitasFormInputDataMobilTangkiList.IsGridEdit && subAktivitasFormInputDataMobilTangkiList.ModalGridEdit) && !subAktivitasFormInputDataMobilTangkiList.IsMultiEdit) {
@Html.Raw(subAktivitasFormInputDataMobilTangkiList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasFormInputDataMobilTangkiList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasFormInputDataMobilTangkiList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasFormInputDataMobilTangkiList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasFormInputDataMobilTangkiList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputDataMobilTangkiList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputDataMobilTangki");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
