@{
    // View
    View = this;

    // Check action result
    if (subAktivitasLogbookPenerimaanStsPymLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasLogbookPenerimaanStsPymLpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasLogbookPenerimaanStsPymLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasLogbookPenerimaanStsPymLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasLogbookPenerimaanSTSPymLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasLogbookPenerimaanStsPymLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasLogbookPenerimaanStsPymLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasLogbookPenerimaanStsPymLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasLogbookPenerimaanStsPymLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasLogbookPenerimaanStsPymLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasLogbookPenerimaanStsPymLpgList.TotalRecords > 0 && subAktivitasLogbookPenerimaanStsPymLpgList.ExportOptions.Visible) {
    subAktivitasLogbookPenerimaanStsPymLpgList.ExportOptions.Render("body");
}
@if (subAktivitasLogbookPenerimaanStsPymLpgList.ImportOptions.Visible) {
    subAktivitasLogbookPenerimaanStsPymLpgList.ImportOptions.Render("body");
}
@if (subAktivitasLogbookPenerimaanStsPymLpgList.SearchOptions.Visible) {
    subAktivitasLogbookPenerimaanStsPymLpgList.SearchOptions.Render("body");
}
@if (subAktivitasLogbookPenerimaanStsPymLpgList.FilterOptions.Visible) {
    subAktivitasLogbookPenerimaanStsPymLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasLogbookPenerimaanStsPymLpgList.IsModal) {
<form name="fSubAktivitasLogbookPenerimaanSTSPymLPGsrch" id="fSubAktivitasLogbookPenerimaanSTSPymLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasLogbookPenerimaanSTSPymLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasLogbookPenerimaanStsPymLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasLogbookPenerimaanStsPymLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasLogbookPenerimaanSTSPymLPG: currentTable } });
var currentForm;
var fSubAktivitasLogbookPenerimaanSTSPymLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasLogbookPenerimaanSTSPymLPGsrch")
        .setPageId("list")
@if (subAktivitasLogbookPenerimaanStsPymLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasLogbookPenerimaanStsPymLpgList.IsExport() && Empty(subAktivitasLogbookPenerimaanStsPymLpgList.CurrentAction) && subAktivitasLogbookPenerimaanStsPymLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasLogbookPenerimaanStsPymLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasLogbookPenerimaanStsPymLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasLogbookPenerimaanSTSPymLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasLogbookPenerimaanStsPymLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasLogbookPenerimaanSTSPymLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasLogbookPenerimaanStsPymLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasLogbookPenerimaanSTSPymLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasLogbookPenerimaanStsPymLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasLogbookPenerimaanSTSPymLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasLogbookPenerimaanStsPymLpgList.ShowPageHeader()
@subAktivitasLogbookPenerimaanStsPymLpgList.ShowMessages()
<main class="list @(subAktivitasLogbookPenerimaanStsPymLpgList.TotalRecords == 0 && !subAktivitasLogbookPenerimaanStsPymLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasLogbookPenerimaanStsPymLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasLogbookPenerimaanStsPymLpgList.TotalRecords > 0 || !Empty(subAktivitasLogbookPenerimaanStsPymLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasLogbookPenerimaanStsPymLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasLogbookPenerimaanStsPymLpgList.TableGridClass)">
<form name="@(subAktivitasLogbookPenerimaanStsPymLpgList.FormName)" id="@(subAktivitasLogbookPenerimaanStsPymLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasLogbookPenerimaanStsPymLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasLogbookPenerimaanStsPymLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasLogbookPenerimaanSTSPymLPG" class="card-body ew-grid-middle-panel @(subAktivitasLogbookPenerimaanStsPymLpgList.TableContainerClass)" style="@(subAktivitasLogbookPenerimaanStsPymLpgList.TableContainerStyle)">
@if (subAktivitasLogbookPenerimaanStsPymLpgList.TotalRecords > 0 || subAktivitasLogbookPenerimaanStsPymLpgList.IsGridEdit || subAktivitasLogbookPenerimaanStsPymLpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasLogbookPenerimaanSTSPymLPGlist" class="@(subAktivitasLogbookPenerimaanStsPymLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasLogbookPenerimaanStsPymLpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasLogbookPenerimaanStsPymLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasLogbookPenerimaanStsPymLpgList.ListOptions.RenderHeader("left")
@if (subAktivitasLogbookPenerimaanStsPymLpgList.id.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasLogbookPenerimaanStsPymLpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_id" class="SubAktivitasLogbookPenerimaanSTSPymLPG_id">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymLpgList.id))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymLpgList.id.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgList.idProses.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasLogbookPenerimaanStsPymLpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_idProses" class="SubAktivitasLogbookPenerimaanSTSPymLPG_idProses">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymLpgList.idProses))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymLpgList.idProses.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgList.idAktifitas.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasLogbookPenerimaanStsPymLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_idAktifitas" class="SubAktivitasLogbookPenerimaanSTSPymLPG_idAktifitas">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymLpgList.idAktifitas))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymLpgList.idAktifitas.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgList.NoReferensi.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasLogbookPenerimaanStsPymLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_NoReferensi" class="SubAktivitasLogbookPenerimaanSTSPymLPG_NoReferensi">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymLpgList.NoReferensi))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymLpgList.NoReferensi.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgList.Nama_Kapal.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.Nama_Kapal.Visible (begin)
        <th data-name="Nama_Kapal" class="@(subAktivitasLogbookPenerimaanStsPymLpgList.Nama_Kapal.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_Nama_Kapal" class="SubAktivitasLogbookPenerimaanSTSPymLPG_Nama_Kapal">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymLpgList.Nama_Kapal))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymLpgList.Nama_Kapal.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgList.TanggalJam.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.TanggalJam.Visible (begin)
        <th data-name="TanggalJam" class="@(subAktivitasLogbookPenerimaanStsPymLpgList.TanggalJam.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_TanggalJam" class="SubAktivitasLogbookPenerimaanSTSPymLPG_TanggalJam">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymLpgList.TanggalJam))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymLpgList.TanggalJam.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgList.Nama_Kegiatan.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.Nama_Kegiatan.Visible (begin)
        <th data-name="Nama_Kegiatan" class="@(subAktivitasLogbookPenerimaanStsPymLpgList.Nama_Kegiatan.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_Nama_Kegiatan" class="SubAktivitasLogbookPenerimaanSTSPymLPG_Nama_Kegiatan">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymLpgList.Nama_Kegiatan))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymLpgList.Nama_Kegiatan.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgList.Produk.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasLogbookPenerimaanStsPymLpgList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_Produk" class="SubAktivitasLogbookPenerimaanSTSPymLPG_Produk">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymLpgList.Produk))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymLpgList.Produk.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgList.Density.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.Density.Visible (begin)
        <th data-name="Density" class="@(subAktivitasLogbookPenerimaanStsPymLpgList.Density.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_Density" class="SubAktivitasLogbookPenerimaanSTSPymLPG_Density">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymLpgList.Density))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymLpgList.Density.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgList.Temperatur.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.Temperatur.Visible (begin)
        <th data-name="Temperatur" class="@(subAktivitasLogbookPenerimaanStsPymLpgList.Temperatur.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_Temperatur" class="SubAktivitasLogbookPenerimaanSTSPymLPG_Temperatur">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymLpgList.Temperatur))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymLpgList.Temperatur.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgList.Level.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.Level.Visible (begin)
        <th data-name="Level" class="@(subAktivitasLogbookPenerimaanStsPymLpgList.Level.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_Level" class="SubAktivitasLogbookPenerimaanSTSPymLPG_Level">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymLpgList.Level))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymLpgList.Level.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgList.Volume.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.Volume.Visible (begin)
        <th data-name="Volume" class="@(subAktivitasLogbookPenerimaanStsPymLpgList.Volume.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_Volume" class="SubAktivitasLogbookPenerimaanSTSPymLPG_Volume">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymLpgList.Volume))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymLpgList.Volume.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgList.Flowrate.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.Flowrate.Visible (begin)
        <th data-name="Flowrate" class="@(subAktivitasLogbookPenerimaanStsPymLpgList.Flowrate.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_Flowrate" class="SubAktivitasLogbookPenerimaanSTSPymLPG_Flowrate">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymLpgList.Flowrate))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymLpgList.Flowrate.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgList.userInput.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasLogbookPenerimaanStsPymLpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_userInput" class="SubAktivitasLogbookPenerimaanSTSPymLPG_userInput">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymLpgList.userInput))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymLpgList.userInput.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgList.etlDate.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasLogbookPenerimaanStsPymLpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_etlDate" class="SubAktivitasLogbookPenerimaanSTSPymLPG_etlDate">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymLpgList.etlDate))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymLpgList.etlDate.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgList.LastUpdatedBy.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasLogbookPenerimaanStsPymLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_LastUpdatedBy" class="SubAktivitasLogbookPenerimaanSTSPymLPG_LastUpdatedBy">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymLpgList.LastUpdatedBy))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymLpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgList.lastUpdatedDate.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasLogbookPenerimaanStsPymLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_lastUpdatedDate" class="SubAktivitasLogbookPenerimaanSTSPymLPG_lastUpdatedDate">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymLpgList.lastUpdatedDate))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymLpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgList.SubAktivitasHasilPemeriksaanId.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.SubAktivitasHasilPemeriksaanId.Visible (begin)
        <th data-name="SubAktivitasHasilPemeriksaanId" class="@(subAktivitasLogbookPenerimaanStsPymLpgList.SubAktivitasHasilPemeriksaanId.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_SubAktivitasHasilPemeriksaanId" class="SubAktivitasLogbookPenerimaanSTSPymLPG_SubAktivitasHasilPemeriksaanId">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymLpgList.SubAktivitasHasilPemeriksaanId))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymLpgList.SubAktivitasHasilPemeriksaanId.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgList.TanggalJamSOP.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.TanggalJamSOP.Visible (begin)
        <th data-name="TanggalJamSOP" class="@(subAktivitasLogbookPenerimaanStsPymLpgList.TanggalJamSOP.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_TanggalJamSOP" class="SubAktivitasLogbookPenerimaanSTSPymLPG_TanggalJamSOP">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymLpgList.TanggalJamSOP))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymLpgList.TanggalJamSOP.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgList.SelisihWaktu.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.SelisihWaktu.Visible (begin)
        <th data-name="SelisihWaktu" class="@(subAktivitasLogbookPenerimaanStsPymLpgList.SelisihWaktu.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_SelisihWaktu" class="SubAktivitasLogbookPenerimaanSTSPymLPG_SelisihWaktu">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymLpgList.SelisihWaktu))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymLpgList.SelisihWaktu.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgList.IsQualityActive.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.IsQualityActive.Visible (begin)
        <th data-name="IsQualityActive" class="@(subAktivitasLogbookPenerimaanStsPymLpgList.IsQualityActive.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_IsQualityActive" class="SubAktivitasLogbookPenerimaanSTSPymLPG_IsQualityActive">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymLpgList.IsQualityActive))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymLpgList.IsQualityActive.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasLogbookPenerimaanStsPymLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasLogbookPenerimaanStsPymLpgList.PageNumber)">
@{
    await subAktivitasLogbookPenerimaanStsPymLpgList.SetupGrid();
    bool eof = subAktivitasLogbookPenerimaanStsPymLpgList.Recordset == null; // DN
}
@while (subAktivitasLogbookPenerimaanStsPymLpgList.RecordCount < subAktivitasLogbookPenerimaanStsPymLpgList.StopRecord || SameString(subAktivitasLogbookPenerimaanStsPymLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasLogbookPenerimaanStsPymLpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasLogbookPenerimaanStsPymLpgList.IsGridAdd || subAktivitasLogbookPenerimaanStsPymLpgList.CurrentMode == "copy") &&
        (!((subAktivitasLogbookPenerimaanStsPymLpgList.IsCopy || subAktivitasLogbookPenerimaanStsPymLpgList.IsAdd) && subAktivitasLogbookPenerimaanStsPymLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasLogbookPenerimaanStsPymLpgList.Recordset.ReadAsync();
    subAktivitasLogbookPenerimaanStsPymLpgList.RecordCount++;
    if (subAktivitasLogbookPenerimaanStsPymLpgList.RecordCount >= subAktivitasLogbookPenerimaanStsPymLpgList.StartRecord) {
        await subAktivitasLogbookPenerimaanStsPymLpgList.SetupRow();
    <tr @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasLogbookPenerimaanStsPymLpgList.ListOptions.RenderBody("left", subAktivitasLogbookPenerimaanStsPymLpgList.RowCount)
    @if (subAktivitasLogbookPenerimaanStsPymLpgList.id.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymLPG_id" class="el_SubAktivitasLogbookPenerimaanSTSPymLPG_id">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymLpgList.id.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymLpgList.idProses.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymLPG_idProses" class="el_SubAktivitasLogbookPenerimaanSTSPymLPG_idProses">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymLpgList.idProses.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymLpgList.idAktifitas.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymLPG_idAktifitas" class="el_SubAktivitasLogbookPenerimaanSTSPymLPG_idAktifitas">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymLpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymLpgList.NoReferensi.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymLPG_NoReferensi" class="el_SubAktivitasLogbookPenerimaanSTSPymLPG_NoReferensi">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymLpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymLpgList.Nama_Kapal.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.Nama_Kapal.Visible (begin)
        <td data-name="Nama_Kapal" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.Nama_Kapal.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymLPG_Nama_Kapal" class="el_SubAktivitasLogbookPenerimaanSTSPymLPG_Nama_Kapal">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.Nama_Kapal.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.Nama_Kapal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymLpgList.Nama_Kapal.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymLpgList.TanggalJam.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.TanggalJam.Visible (begin)
        <td data-name="TanggalJam" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.TanggalJam.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymLPG_TanggalJam" class="el_SubAktivitasLogbookPenerimaanSTSPymLPG_TanggalJam">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.TanggalJam.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.TanggalJam.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymLpgList.TanggalJam.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymLpgList.Nama_Kegiatan.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.Nama_Kegiatan.Visible (begin)
        <td data-name="Nama_Kegiatan" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.Nama_Kegiatan.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymLPG_Nama_Kegiatan" class="el_SubAktivitasLogbookPenerimaanSTSPymLPG_Nama_Kegiatan">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.Nama_Kegiatan.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.Nama_Kegiatan.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymLpgList.Nama_Kegiatan.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymLpgList.Produk.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.Produk.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymLPG_Produk" class="el_SubAktivitasLogbookPenerimaanSTSPymLPG_Produk">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymLpgList.Produk.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymLpgList.Density.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.Density.Visible (begin)
        <td data-name="Density" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.Density.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymLPG_Density" class="el_SubAktivitasLogbookPenerimaanSTSPymLPG_Density">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.Density.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.Density.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymLpgList.Density.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymLpgList.Temperatur.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.Temperatur.Visible (begin)
        <td data-name="Temperatur" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.Temperatur.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymLPG_Temperatur" class="el_SubAktivitasLogbookPenerimaanSTSPymLPG_Temperatur">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.Temperatur.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.Temperatur.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymLpgList.Temperatur.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymLpgList.Level.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.Level.Visible (begin)
        <td data-name="Level" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.Level.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymLPG_Level" class="el_SubAktivitasLogbookPenerimaanSTSPymLPG_Level">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.Level.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.Level.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymLpgList.Level.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymLpgList.Volume.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.Volume.Visible (begin)
        <td data-name="Volume" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.Volume.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymLPG_Volume" class="el_SubAktivitasLogbookPenerimaanSTSPymLPG_Volume">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.Volume.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.Volume.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymLpgList.Volume.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymLpgList.Flowrate.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.Flowrate.Visible (begin)
        <td data-name="Flowrate" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.Flowrate.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymLPG_Flowrate" class="el_SubAktivitasLogbookPenerimaanSTSPymLPG_Flowrate">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.Flowrate.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.Flowrate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymLpgList.Flowrate.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymLpgList.userInput.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymLPG_userInput" class="el_SubAktivitasLogbookPenerimaanSTSPymLPG_userInput">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymLpgList.userInput.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymLpgList.etlDate.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymLPG_etlDate" class="el_SubAktivitasLogbookPenerimaanSTSPymLPG_etlDate">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymLpgList.etlDate.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymLpgList.LastUpdatedBy.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymLPG_LastUpdatedBy" class="el_SubAktivitasLogbookPenerimaanSTSPymLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymLpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymLpgList.lastUpdatedDate.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymLPG_lastUpdatedDate" class="el_SubAktivitasLogbookPenerimaanSTSPymLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymLpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymLpgList.SubAktivitasHasilPemeriksaanId.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.SubAktivitasHasilPemeriksaanId.Visible (begin)
        <td data-name="SubAktivitasHasilPemeriksaanId" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.SubAktivitasHasilPemeriksaanId.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymLPG_SubAktivitasHasilPemeriksaanId" class="el_SubAktivitasLogbookPenerimaanSTSPymLPG_SubAktivitasHasilPemeriksaanId">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.SubAktivitasHasilPemeriksaanId.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.SubAktivitasHasilPemeriksaanId.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymLpgList.SubAktivitasHasilPemeriksaanId.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymLpgList.TanggalJamSOP.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.TanggalJamSOP.Visible (begin)
        <td data-name="TanggalJamSOP" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.TanggalJamSOP.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymLPG_TanggalJamSOP" class="el_SubAktivitasLogbookPenerimaanSTSPymLPG_TanggalJamSOP">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.TanggalJamSOP.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.TanggalJamSOP.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymLpgList.TanggalJamSOP.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymLpgList.SelisihWaktu.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.SelisihWaktu.Visible (begin)
        <td data-name="SelisihWaktu" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.SelisihWaktu.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymLPG_SelisihWaktu" class="el_SubAktivitasLogbookPenerimaanSTSPymLPG_SelisihWaktu">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.SelisihWaktu.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.SelisihWaktu.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymLpgList.SelisihWaktu.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymLpgList.IsQualityActive.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgList.IsQualityActive.Visible (begin)
        <td data-name="IsQualityActive" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.IsQualityActive.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymLpgList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymLPG_IsQualityActive" class="el_SubAktivitasLogbookPenerimaanSTSPymLPG_IsQualityActive">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.IsQualityActive.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(subAktivitasLogbookPenerimaanStsPymLpgList.IsQualityActive.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymLpgList.IsQualityActive.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasLogbookPenerimaanStsPymLpgList.ListOptions.RenderBody("right", subAktivitasLogbookPenerimaanStsPymLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasLogbookPenerimaanStsPymLpgList.RowIndex, "$rowindex$"))
        subAktivitasLogbookPenerimaanStsPymLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasLogbookPenerimaanStsPymLpgList.IsCopy || subAktivitasLogbookPenerimaanStsPymLpgList.IsAdd) && subAktivitasLogbookPenerimaanStsPymLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasLogbookPenerimaanStsPymLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasLogbookPenerimaanStsPymLpgList.CurrentAction) && !subAktivitasLogbookPenerimaanStsPymLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasLogbookPenerimaanStsPymLpgList.CloseRecordset(); }
@if (!subAktivitasLogbookPenerimaanStsPymLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasLogbookPenerimaanStsPymLpgList.IsGridAdd && !(subAktivitasLogbookPenerimaanStsPymLpgList.IsGridEdit && subAktivitasLogbookPenerimaanStsPymLpgList.ModalGridEdit) && !subAktivitasLogbookPenerimaanStsPymLpgList.IsMultiEdit) {
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasLogbookPenerimaanStsPymLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasLogbookPenerimaanStsPymLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasLogbookPenerimaanStsPymLpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasLogbookPenerimaanStsPymLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasLogbookPenerimaanStsPymLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasLogbookPenerimaanSTSPymLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
