@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormNilaiSfalarstsPymLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormNilaiSfalarstsPymLpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormNilaiSfalarstsPymLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormNilaiSfalarstsPymLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormNilaiSFALARSTSPymLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasFormNilaiSfalarstsPymLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasFormNilaiSfalarstsPymLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasFormNilaiSfalarstsPymLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasFormNilaiSfalarstsPymLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasFormNilaiSfalarstsPymLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasFormNilaiSfalarstsPymLpgList.TotalRecords > 0 && subAktivitasFormNilaiSfalarstsPymLpgList.ExportOptions.Visible) {
    subAktivitasFormNilaiSfalarstsPymLpgList.ExportOptions.Render("body");
}
@if (subAktivitasFormNilaiSfalarstsPymLpgList.ImportOptions.Visible) {
    subAktivitasFormNilaiSfalarstsPymLpgList.ImportOptions.Render("body");
}
@if (subAktivitasFormNilaiSfalarstsPymLpgList.SearchOptions.Visible) {
    subAktivitasFormNilaiSfalarstsPymLpgList.SearchOptions.Render("body");
}
@if (subAktivitasFormNilaiSfalarstsPymLpgList.FilterOptions.Visible) {
    subAktivitasFormNilaiSfalarstsPymLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasFormNilaiSfalarstsPymLpgList.IsModal) {
<form name="fSubAktivitasFormNilaiSFALARSTSPymLPGsrch" id="fSubAktivitasFormNilaiSFALARSTSPymLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasFormNilaiSFALARSTSPymLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasFormNilaiSfalarstsPymLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormNilaiSfalarstsPymLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormNilaiSFALARSTSPymLPG: currentTable } });
var currentForm;
var fSubAktivitasFormNilaiSFALARSTSPymLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormNilaiSFALARSTSPymLPGsrch")
        .setPageId("list")
@if (subAktivitasFormNilaiSfalarstsPymLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasFormNilaiSfalarstsPymLpgList.IsExport() && Empty(subAktivitasFormNilaiSfalarstsPymLpgList.CurrentAction) && subAktivitasFormNilaiSfalarstsPymLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasFormNilaiSfalarstsPymLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasFormNilaiSfalarstsPymLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasFormNilaiSfalarstsPymLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasFormNilaiSFALARSTSPymLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormNilaiSfalarstsPymLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasFormNilaiSFALARSTSPymLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormNilaiSfalarstsPymLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasFormNilaiSFALARSTSPymLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormNilaiSfalarstsPymLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasFormNilaiSFALARSTSPymLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasFormNilaiSfalarstsPymLpgList.ShowPageHeader()
@subAktivitasFormNilaiSfalarstsPymLpgList.ShowMessages()
<main class="list @(subAktivitasFormNilaiSfalarstsPymLpgList.TotalRecords == 0 && !subAktivitasFormNilaiSfalarstsPymLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasFormNilaiSfalarstsPymLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasFormNilaiSfalarstsPymLpgList.TotalRecords > 0 || !Empty(subAktivitasFormNilaiSfalarstsPymLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasFormNilaiSfalarstsPymLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasFormNilaiSfalarstsPymLpgList.TableGridClass)">
<form name="@(subAktivitasFormNilaiSfalarstsPymLpgList.FormName)" id="@(subAktivitasFormNilaiSfalarstsPymLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasFormNilaiSfalarstsPymLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasFormNilaiSfalarstsPymLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasFormNilaiSFALARSTSPymLPG" class="card-body ew-grid-middle-panel @(subAktivitasFormNilaiSfalarstsPymLpgList.TableContainerClass)" style="@(subAktivitasFormNilaiSfalarstsPymLpgList.TableContainerStyle)">
@if (subAktivitasFormNilaiSfalarstsPymLpgList.TotalRecords > 0 || subAktivitasFormNilaiSfalarstsPymLpgList.IsGridEdit || subAktivitasFormNilaiSfalarstsPymLpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasFormNilaiSFALARSTSPymLPGlist" class="@(subAktivitasFormNilaiSfalarstsPymLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasFormNilaiSfalarstsPymLpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasFormNilaiSfalarstsPymLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasFormNilaiSfalarstsPymLpgList.ListOptions.RenderHeader("left")
@if (subAktivitasFormNilaiSfalarstsPymLpgList.id.Visible) { // subAktivitasFormNilaiSfalarstsPymLpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasFormNilaiSfalarstsPymLpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasFormNilaiSFALARSTSPymLPG_id" class="SubAktivitasFormNilaiSFALARSTSPymLPG_id">@Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.RenderFieldHeader(subAktivitasFormNilaiSfalarstsPymLpgList.id))</div></th>
} @* subAktivitasFormNilaiSfalarstsPymLpgList.id.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymLpgList.NoReferensi.Visible) { // subAktivitasFormNilaiSfalarstsPymLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasFormNilaiSfalarstsPymLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasFormNilaiSFALARSTSPymLPG_NoReferensi" class="SubAktivitasFormNilaiSFALARSTSPymLPG_NoReferensi">@Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.RenderFieldHeader(subAktivitasFormNilaiSfalarstsPymLpgList.NoReferensi))</div></th>
} @* subAktivitasFormNilaiSfalarstsPymLpgList.NoReferensi.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymLpgList.idProses.Visible) { // subAktivitasFormNilaiSfalarstsPymLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasFormNilaiSfalarstsPymLpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasFormNilaiSFALARSTSPymLPG_idProses" class="SubAktivitasFormNilaiSFALARSTSPymLPG_idProses">@Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.RenderFieldHeader(subAktivitasFormNilaiSfalarstsPymLpgList.idProses))</div></th>
} @* subAktivitasFormNilaiSfalarstsPymLpgList.idProses.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymLpgList.idAktifitas.Visible) { // subAktivitasFormNilaiSfalarstsPymLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasFormNilaiSfalarstsPymLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasFormNilaiSFALARSTSPymLPG_idAktifitas" class="SubAktivitasFormNilaiSFALARSTSPymLPG_idAktifitas">@Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.RenderFieldHeader(subAktivitasFormNilaiSfalarstsPymLpgList.idAktifitas))</div></th>
} @* subAktivitasFormNilaiSfalarstsPymLpgList.idAktifitas.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymLpgList.StatusAktivitas.Visible) { // subAktivitasFormNilaiSfalarstsPymLpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasFormNilaiSfalarstsPymLpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasFormNilaiSFALARSTSPymLPG_StatusAktivitas" class="SubAktivitasFormNilaiSFALARSTSPymLPG_StatusAktivitas">@Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.RenderFieldHeader(subAktivitasFormNilaiSfalarstsPymLpgList.StatusAktivitas))</div></th>
} @* subAktivitasFormNilaiSfalarstsPymLpgList.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymLpgList.LastUpdatedBy.Visible) { // subAktivitasFormNilaiSfalarstsPymLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasFormNilaiSfalarstsPymLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasFormNilaiSFALARSTSPymLPG_LastUpdatedBy" class="SubAktivitasFormNilaiSFALARSTSPymLPG_LastUpdatedBy">@Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.RenderFieldHeader(subAktivitasFormNilaiSfalarstsPymLpgList.LastUpdatedBy))</div></th>
} @* subAktivitasFormNilaiSfalarstsPymLpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymLpgList.lastUpdatedDate.Visible) { // subAktivitasFormNilaiSfalarstsPymLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasFormNilaiSfalarstsPymLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasFormNilaiSFALARSTSPymLPG_lastUpdatedDate" class="SubAktivitasFormNilaiSFALARSTSPymLPG_lastUpdatedDate">@Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.RenderFieldHeader(subAktivitasFormNilaiSfalarstsPymLpgList.lastUpdatedDate))</div></th>
} @* subAktivitasFormNilaiSfalarstsPymLpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymLpgList.SFAL_mt.Visible) { // subAktivitasFormNilaiSfalarstsPymLpgList.SFAL_mt.Visible (begin)
        <th data-name="SFAL_mt" class="@(subAktivitasFormNilaiSfalarstsPymLpgList.SFAL_mt.HeaderCellClass)"><div id="elh_SubAktivitasFormNilaiSFALARSTSPymLPG_SFAL_mt" class="SubAktivitasFormNilaiSFALARSTSPymLPG_SFAL_mt">@Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.RenderFieldHeader(subAktivitasFormNilaiSfalarstsPymLpgList.SFAL_mt))</div></th>
} @* subAktivitasFormNilaiSfalarstsPymLpgList.SFAL_mt.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymLpgList.AR_mt.Visible) { // subAktivitasFormNilaiSfalarstsPymLpgList.AR_mt.Visible (begin)
        <th data-name="AR_mt" class="@(subAktivitasFormNilaiSfalarstsPymLpgList.AR_mt.HeaderCellClass)"><div id="elh_SubAktivitasFormNilaiSFALARSTSPymLPG_AR_mt" class="SubAktivitasFormNilaiSFALARSTSPymLPG_AR_mt">@Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.RenderFieldHeader(subAktivitasFormNilaiSfalarstsPymLpgList.AR_mt))</div></th>
} @* subAktivitasFormNilaiSfalarstsPymLpgList.AR_mt.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymLpgList.userInput.Visible) { // subAktivitasFormNilaiSfalarstsPymLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasFormNilaiSfalarstsPymLpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasFormNilaiSFALARSTSPymLPG_userInput" class="SubAktivitasFormNilaiSFALARSTSPymLPG_userInput">@Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.RenderFieldHeader(subAktivitasFormNilaiSfalarstsPymLpgList.userInput))</div></th>
} @* subAktivitasFormNilaiSfalarstsPymLpgList.userInput.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymLpgList.etlDate.Visible) { // subAktivitasFormNilaiSfalarstsPymLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasFormNilaiSfalarstsPymLpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasFormNilaiSFALARSTSPymLPG_etlDate" class="SubAktivitasFormNilaiSFALARSTSPymLPG_etlDate">@Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.RenderFieldHeader(subAktivitasFormNilaiSfalarstsPymLpgList.etlDate))</div></th>
} @* subAktivitasFormNilaiSfalarstsPymLpgList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasFormNilaiSfalarstsPymLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasFormNilaiSfalarstsPymLpgList.PageNumber)">
@{
    await subAktivitasFormNilaiSfalarstsPymLpgList.SetupGrid();
    bool eof = subAktivitasFormNilaiSfalarstsPymLpgList.Recordset == null; // DN
}
@while (subAktivitasFormNilaiSfalarstsPymLpgList.RecordCount < subAktivitasFormNilaiSfalarstsPymLpgList.StopRecord || SameString(subAktivitasFormNilaiSfalarstsPymLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasFormNilaiSfalarstsPymLpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasFormNilaiSfalarstsPymLpgList.IsGridAdd || subAktivitasFormNilaiSfalarstsPymLpgList.CurrentMode == "copy") &&
        (!((subAktivitasFormNilaiSfalarstsPymLpgList.IsCopy || subAktivitasFormNilaiSfalarstsPymLpgList.IsAdd) && subAktivitasFormNilaiSfalarstsPymLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasFormNilaiSfalarstsPymLpgList.Recordset.ReadAsync();
    subAktivitasFormNilaiSfalarstsPymLpgList.RecordCount++;
    if (subAktivitasFormNilaiSfalarstsPymLpgList.RecordCount >= subAktivitasFormNilaiSfalarstsPymLpgList.StartRecord) {
        await subAktivitasFormNilaiSfalarstsPymLpgList.SetupRow();
    <tr @Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasFormNilaiSfalarstsPymLpgList.ListOptions.RenderBody("left", subAktivitasFormNilaiSfalarstsPymLpgList.RowCount)
    @if (subAktivitasFormNilaiSfalarstsPymLpgList.id.Visible) { // subAktivitasFormNilaiSfalarstsPymLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasFormNilaiSfalarstsPymLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormNilaiSfalarstsPymLpgList.RowCount)_SubAktivitasFormNilaiSFALARSTSPymLPG_id" class="el_SubAktivitasFormNilaiSFALARSTSPymLPG_id">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormNilaiSfalarstsPymLpgList.id.Visible (end) *@
    @if (subAktivitasFormNilaiSfalarstsPymLpgList.NoReferensi.Visible) { // subAktivitasFormNilaiSfalarstsPymLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasFormNilaiSfalarstsPymLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormNilaiSfalarstsPymLpgList.RowCount)_SubAktivitasFormNilaiSFALARSTSPymLPG_NoReferensi" class="el_SubAktivitasFormNilaiSFALARSTSPymLPG_NoReferensi">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormNilaiSfalarstsPymLpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasFormNilaiSfalarstsPymLpgList.idProses.Visible) { // subAktivitasFormNilaiSfalarstsPymLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasFormNilaiSfalarstsPymLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormNilaiSfalarstsPymLpgList.RowCount)_SubAktivitasFormNilaiSFALARSTSPymLPG_idProses" class="el_SubAktivitasFormNilaiSFALARSTSPymLPG_idProses">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormNilaiSfalarstsPymLpgList.idProses.Visible (end) *@
    @if (subAktivitasFormNilaiSfalarstsPymLpgList.idAktifitas.Visible) { // subAktivitasFormNilaiSfalarstsPymLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasFormNilaiSfalarstsPymLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormNilaiSfalarstsPymLpgList.RowCount)_SubAktivitasFormNilaiSFALARSTSPymLPG_idAktifitas" class="el_SubAktivitasFormNilaiSFALARSTSPymLPG_idAktifitas">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormNilaiSfalarstsPymLpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasFormNilaiSfalarstsPymLpgList.StatusAktivitas.Visible) { // subAktivitasFormNilaiSfalarstsPymLpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasFormNilaiSfalarstsPymLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormNilaiSfalarstsPymLpgList.RowCount)_SubAktivitasFormNilaiSFALARSTSPymLPG_StatusAktivitas" class="el_SubAktivitasFormNilaiSFALARSTSPymLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormNilaiSfalarstsPymLpgList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasFormNilaiSfalarstsPymLpgList.LastUpdatedBy.Visible) { // subAktivitasFormNilaiSfalarstsPymLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasFormNilaiSfalarstsPymLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormNilaiSfalarstsPymLpgList.RowCount)_SubAktivitasFormNilaiSFALARSTSPymLPG_LastUpdatedBy" class="el_SubAktivitasFormNilaiSFALARSTSPymLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormNilaiSfalarstsPymLpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasFormNilaiSfalarstsPymLpgList.lastUpdatedDate.Visible) { // subAktivitasFormNilaiSfalarstsPymLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasFormNilaiSfalarstsPymLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormNilaiSfalarstsPymLpgList.RowCount)_SubAktivitasFormNilaiSFALARSTSPymLPG_lastUpdatedDate" class="el_SubAktivitasFormNilaiSFALARSTSPymLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormNilaiSfalarstsPymLpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasFormNilaiSfalarstsPymLpgList.SFAL_mt.Visible) { // subAktivitasFormNilaiSfalarstsPymLpgList.SFAL_mt.Visible (begin)
        <td data-name="SFAL_mt" @Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.SFAL_mt.CellAttributes)>
<span id="el@(SameString(subAktivitasFormNilaiSfalarstsPymLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormNilaiSfalarstsPymLpgList.RowCount)_SubAktivitasFormNilaiSFALARSTSPymLPG_SFAL_mt" class="el_SubAktivitasFormNilaiSFALARSTSPymLPG_SFAL_mt">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.SFAL_mt.ViewAttributes)>
@Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.SFAL_mt.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormNilaiSfalarstsPymLpgList.SFAL_mt.Visible (end) *@
    @if (subAktivitasFormNilaiSfalarstsPymLpgList.AR_mt.Visible) { // subAktivitasFormNilaiSfalarstsPymLpgList.AR_mt.Visible (begin)
        <td data-name="AR_mt" @Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.AR_mt.CellAttributes)>
<span id="el@(SameString(subAktivitasFormNilaiSfalarstsPymLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormNilaiSfalarstsPymLpgList.RowCount)_SubAktivitasFormNilaiSFALARSTSPymLPG_AR_mt" class="el_SubAktivitasFormNilaiSFALARSTSPymLPG_AR_mt">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.AR_mt.ViewAttributes)>
@Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.AR_mt.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormNilaiSfalarstsPymLpgList.AR_mt.Visible (end) *@
    @if (subAktivitasFormNilaiSfalarstsPymLpgList.userInput.Visible) { // subAktivitasFormNilaiSfalarstsPymLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasFormNilaiSfalarstsPymLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormNilaiSfalarstsPymLpgList.RowCount)_SubAktivitasFormNilaiSFALARSTSPymLPG_userInput" class="el_SubAktivitasFormNilaiSFALARSTSPymLPG_userInput">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormNilaiSfalarstsPymLpgList.userInput.Visible (end) *@
    @if (subAktivitasFormNilaiSfalarstsPymLpgList.etlDate.Visible) { // subAktivitasFormNilaiSfalarstsPymLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasFormNilaiSfalarstsPymLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormNilaiSfalarstsPymLpgList.RowCount)_SubAktivitasFormNilaiSFALARSTSPymLPG_etlDate" class="el_SubAktivitasFormNilaiSFALARSTSPymLPG_etlDate">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormNilaiSfalarstsPymLpgList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasFormNilaiSfalarstsPymLpgList.ListOptions.RenderBody("right", subAktivitasFormNilaiSfalarstsPymLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasFormNilaiSfalarstsPymLpgList.RowIndex, "$rowindex$"))
        subAktivitasFormNilaiSfalarstsPymLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasFormNilaiSfalarstsPymLpgList.IsCopy || subAktivitasFormNilaiSfalarstsPymLpgList.IsAdd) && subAktivitasFormNilaiSfalarstsPymLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasFormNilaiSfalarstsPymLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasFormNilaiSfalarstsPymLpgList.CurrentAction) && !subAktivitasFormNilaiSfalarstsPymLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasFormNilaiSfalarstsPymLpgList.CloseRecordset(); }
@if (!subAktivitasFormNilaiSfalarstsPymLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasFormNilaiSfalarstsPymLpgList.IsGridAdd && !(subAktivitasFormNilaiSfalarstsPymLpgList.IsGridEdit && subAktivitasFormNilaiSfalarstsPymLpgList.ModalGridEdit) && !subAktivitasFormNilaiSfalarstsPymLpgList.IsMultiEdit) {
@Html.Raw(subAktivitasFormNilaiSfalarstsPymLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasFormNilaiSfalarstsPymLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasFormNilaiSfalarstsPymLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasFormNilaiSfalarstsPymLpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasFormNilaiSfalarstsPymLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormNilaiSfalarstsPymLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormNilaiSFALARSTSPymLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
