@{
    // View
    View = this;

    // Check action result
    if (subaktivitasNilaiBlsfalstsPnrBbmList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subaktivitasNilaiBlsfalstsPnrBbmList.UseLayout ? "_Layout" : "";
}
@if (!subaktivitasNilaiBlsfalstsPnrBbmList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasNilaiBlsfalstsPnrBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasNilaiBLSFALSTSPnrBBM: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subaktivitasNilaiBlsfalstsPnrBbmList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subaktivitasNilaiBlsfalstsPnrBbmList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subaktivitasNilaiBlsfalstsPnrBbmList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subaktivitasNilaiBlsfalstsPnrBbmList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subaktivitasNilaiBlsfalstsPnrBbmList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subaktivitasNilaiBlsfalstsPnrBbmList.TotalRecords > 0 && subaktivitasNilaiBlsfalstsPnrBbmList.ExportOptions.Visible) {
    subaktivitasNilaiBlsfalstsPnrBbmList.ExportOptions.Render("body");
}
@if (subaktivitasNilaiBlsfalstsPnrBbmList.ImportOptions.Visible) {
    subaktivitasNilaiBlsfalstsPnrBbmList.ImportOptions.Render("body");
}
@if (subaktivitasNilaiBlsfalstsPnrBbmList.SearchOptions.Visible) {
    subaktivitasNilaiBlsfalstsPnrBbmList.SearchOptions.Render("body");
}
@if (subaktivitasNilaiBlsfalstsPnrBbmList.FilterOptions.Visible) {
    subaktivitasNilaiBlsfalstsPnrBbmList.FilterOptions.Render("body");
}
</div>
}
@if (!subaktivitasNilaiBlsfalstsPnrBbmList.IsModal) {
<form name="fSubaktivitasNilaiBLSFALSTSPnrBBMsrch" id="fSubaktivitasNilaiBLSFALSTSPnrBBMsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubaktivitasNilaiBLSFALSTSPnrBBMsrch_search_panel" class="mb-2 mb-sm-0 @(subaktivitasNilaiBlsfalstsPnrBbmList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasNilaiBlsfalstsPnrBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasNilaiBLSFALSTSPnrBBM: currentTable } });
var currentForm;
var fSubaktivitasNilaiBLSFALSTSPnrBBMsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubaktivitasNilaiBLSFALSTSPnrBBMsrch")
        .setPageId("list")
@if (subaktivitasNilaiBlsfalstsPnrBbmList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subaktivitasNilaiBlsfalstsPnrBbmList.IsExport() && Empty(subaktivitasNilaiBlsfalstsPnrBbmList.CurrentAction) && subaktivitasNilaiBlsfalstsPnrBbmList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subaktivitasNilaiBlsfalstsPnrBbmList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subaktivitasNilaiBlsfalstsPnrBbmList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subaktivitasNilaiBlsfalstsPnrBbmList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubaktivitasNilaiBLSFALSTSPnrBBMsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subaktivitasNilaiBlsfalstsPnrBbmList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubaktivitasNilaiBLSFALSTSPnrBBMsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subaktivitasNilaiBlsfalstsPnrBbmList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubaktivitasNilaiBLSFALSTSPnrBBMsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subaktivitasNilaiBlsfalstsPnrBbmList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubaktivitasNilaiBLSFALSTSPnrBBMsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subaktivitasNilaiBlsfalstsPnrBbmList.ShowPageHeader()
@subaktivitasNilaiBlsfalstsPnrBbmList.ShowMessages()
<main class="list @(subaktivitasNilaiBlsfalstsPnrBbmList.TotalRecords == 0 && !subaktivitasNilaiBlsfalstsPnrBbmList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subaktivitasNilaiBlsfalstsPnrBbmList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subaktivitasNilaiBlsfalstsPnrBbmList.TotalRecords > 0 || !Empty(subaktivitasNilaiBlsfalstsPnrBbmList.CurrentAction)) {
<div class="card ew-card ew-grid@(subaktivitasNilaiBlsfalstsPnrBbmList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subaktivitasNilaiBlsfalstsPnrBbmList.TableGridClass)">
<form name="@(subaktivitasNilaiBlsfalstsPnrBbmList.FormName)" id="@(subaktivitasNilaiBlsfalstsPnrBbmList.FormName)" class="ew-form ew-list-form" action="@AppPath(subaktivitasNilaiBlsfalstsPnrBbmList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subaktivitasNilaiBlsfalstsPnrBbmList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubaktivitasNilaiBLSFALSTSPnrBBM" class="card-body ew-grid-middle-panel @(subaktivitasNilaiBlsfalstsPnrBbmList.TableContainerClass)" style="@(subaktivitasNilaiBlsfalstsPnrBbmList.TableContainerStyle)">
@if (subaktivitasNilaiBlsfalstsPnrBbmList.TotalRecords > 0 || subaktivitasNilaiBlsfalstsPnrBbmList.IsGridEdit || subaktivitasNilaiBlsfalstsPnrBbmList.IsMultiEdit) {
<table id="tbl_SubaktivitasNilaiBLSFALSTSPnrBBMlist" class="@(subaktivitasNilaiBlsfalstsPnrBbmList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subaktivitasNilaiBlsfalstsPnrBbmList.RowType = RowType.Header;

    // Render list options
    await subaktivitasNilaiBlsfalstsPnrBbmList.RenderListOptions();
}
@* Render list options (header, left) *@
@subaktivitasNilaiBlsfalstsPnrBbmList.ListOptions.RenderHeader("left")
@if (subaktivitasNilaiBlsfalstsPnrBbmList.id.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.id.Visible (begin)
        <th data-name="id" class="@(subaktivitasNilaiBlsfalstsPnrBbmList.id.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLSFALSTSPnrBBM_id" class="SubaktivitasNilaiBLSFALSTSPnrBBM_id">@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiBlsfalstsPnrBbmList.id))</div></th>
} @* subaktivitasNilaiBlsfalstsPnrBbmList.id.Visible (end) *@
@if (subaktivitasNilaiBlsfalstsPnrBbmList.idAktifitas.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subaktivitasNilaiBlsfalstsPnrBbmList.idAktifitas.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLSFALSTSPnrBBM_idAktifitas" class="SubaktivitasNilaiBLSFALSTSPnrBBM_idAktifitas">@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiBlsfalstsPnrBbmList.idAktifitas))</div></th>
} @* subaktivitasNilaiBlsfalstsPnrBbmList.idAktifitas.Visible (end) *@
@if (subaktivitasNilaiBlsfalstsPnrBbmList.BL_klobs.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.BL_klobs.Visible (begin)
        <th data-name="BL_klobs" class="@(subaktivitasNilaiBlsfalstsPnrBbmList.BL_klobs.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLSFALSTSPnrBBM_BL_klobs" class="SubaktivitasNilaiBLSFALSTSPnrBBM_BL_klobs">@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiBlsfalstsPnrBbmList.BL_klobs))</div></th>
} @* subaktivitasNilaiBlsfalstsPnrBbmList.BL_klobs.Visible (end) *@
@if (subaktivitasNilaiBlsfalstsPnrBbmList.BL_kl15.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.BL_kl15.Visible (begin)
        <th data-name="BL_kl15" class="@(subaktivitasNilaiBlsfalstsPnrBbmList.BL_kl15.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLSFALSTSPnrBBM_BL_kl15" class="SubaktivitasNilaiBLSFALSTSPnrBBM_BL_kl15">@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiBlsfalstsPnrBbmList.BL_kl15))</div></th>
} @* subaktivitasNilaiBlsfalstsPnrBbmList.BL_kl15.Visible (end) *@
@if (subaktivitasNilaiBlsfalstsPnrBbmList.BL_barrels.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.BL_barrels.Visible (begin)
        <th data-name="BL_barrels" class="@(subaktivitasNilaiBlsfalstsPnrBbmList.BL_barrels.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLSFALSTSPnrBBM_BL_barrels" class="SubaktivitasNilaiBLSFALSTSPnrBBM_BL_barrels">@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiBlsfalstsPnrBbmList.BL_barrels))</div></th>
} @* subaktivitasNilaiBlsfalstsPnrBbmList.BL_barrels.Visible (end) *@
@if (subaktivitasNilaiBlsfalstsPnrBbmList.BL_lt.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.BL_lt.Visible (begin)
        <th data-name="BL_lt" class="@(subaktivitasNilaiBlsfalstsPnrBbmList.BL_lt.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLSFALSTSPnrBBM_BL_lt" class="SubaktivitasNilaiBLSFALSTSPnrBBM_BL_lt">@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiBlsfalstsPnrBbmList.BL_lt))</div></th>
} @* subaktivitasNilaiBlsfalstsPnrBbmList.BL_lt.Visible (end) *@
@if (subaktivitasNilaiBlsfalstsPnrBbmList.BL_mt.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.BL_mt.Visible (begin)
        <th data-name="BL_mt" class="@(subaktivitasNilaiBlsfalstsPnrBbmList.BL_mt.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLSFALSTSPnrBBM_BL_mt" class="SubaktivitasNilaiBLSFALSTSPnrBBM_BL_mt">@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiBlsfalstsPnrBbmList.BL_mt))</div></th>
} @* subaktivitasNilaiBlsfalstsPnrBbmList.BL_mt.Visible (end) *@
@if (subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_klobs.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_klobs.Visible (begin)
        <th data-name="SFAL_klobs" class="@(subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_klobs.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLSFALSTSPnrBBM_SFAL_klobs" class="SubaktivitasNilaiBLSFALSTSPnrBBM_SFAL_klobs">@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_klobs))</div></th>
} @* subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_klobs.Visible (end) *@
@if (subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_kl15.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_kl15.Visible (begin)
        <th data-name="SFAL_kl15" class="@(subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_kl15.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLSFALSTSPnrBBM_SFAL_kl15" class="SubaktivitasNilaiBLSFALSTSPnrBBM_SFAL_kl15">@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_kl15))</div></th>
} @* subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_kl15.Visible (end) *@
@if (subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_barrels.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_barrels.Visible (begin)
        <th data-name="SFAL_barrels" class="@(subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_barrels.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLSFALSTSPnrBBM_SFAL_barrels" class="SubaktivitasNilaiBLSFALSTSPnrBBM_SFAL_barrels">@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_barrels))</div></th>
} @* subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_barrels.Visible (end) *@
@if (subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_lt.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_lt.Visible (begin)
        <th data-name="SFAL_lt" class="@(subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_lt.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLSFALSTSPnrBBM_SFAL_lt" class="SubaktivitasNilaiBLSFALSTSPnrBBM_SFAL_lt">@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_lt))</div></th>
} @* subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_lt.Visible (end) *@
@if (subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_mt.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_mt.Visible (begin)
        <th data-name="SFAL_mt" class="@(subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_mt.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLSFALSTSPnrBBM_SFAL_mt" class="SubaktivitasNilaiBLSFALSTSPnrBBM_SFAL_mt">@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_mt))</div></th>
} @* subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_mt.Visible (end) *@
@if (subaktivitasNilaiBlsfalstsPnrBbmList.userInput.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subaktivitasNilaiBlsfalstsPnrBbmList.userInput.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLSFALSTSPnrBBM_userInput" class="SubaktivitasNilaiBLSFALSTSPnrBBM_userInput">@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiBlsfalstsPnrBbmList.userInput))</div></th>
} @* subaktivitasNilaiBlsfalstsPnrBbmList.userInput.Visible (end) *@
@if (subaktivitasNilaiBlsfalstsPnrBbmList.etlDate.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subaktivitasNilaiBlsfalstsPnrBbmList.etlDate.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLSFALSTSPnrBBM_etlDate" class="SubaktivitasNilaiBLSFALSTSPnrBBM_etlDate">@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiBlsfalstsPnrBbmList.etlDate))</div></th>
} @* subaktivitasNilaiBlsfalstsPnrBbmList.etlDate.Visible (end) *@
@if (subaktivitasNilaiBlsfalstsPnrBbmList.idProses.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subaktivitasNilaiBlsfalstsPnrBbmList.idProses.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLSFALSTSPnrBBM_idProses" class="SubaktivitasNilaiBLSFALSTSPnrBBM_idProses">@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiBlsfalstsPnrBbmList.idProses))</div></th>
} @* subaktivitasNilaiBlsfalstsPnrBbmList.idProses.Visible (end) *@
@if (subaktivitasNilaiBlsfalstsPnrBbmList.LastUpdatedBy.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subaktivitasNilaiBlsfalstsPnrBbmList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLSFALSTSPnrBBM_LastUpdatedBy" class="SubaktivitasNilaiBLSFALSTSPnrBBM_LastUpdatedBy">@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiBlsfalstsPnrBbmList.LastUpdatedBy))</div></th>
} @* subaktivitasNilaiBlsfalstsPnrBbmList.LastUpdatedBy.Visible (end) *@
@if (subaktivitasNilaiBlsfalstsPnrBbmList.lastUpdatedDate.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subaktivitasNilaiBlsfalstsPnrBbmList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLSFALSTSPnrBBM_lastUpdatedDate" class="SubaktivitasNilaiBLSFALSTSPnrBBM_lastUpdatedDate">@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiBlsfalstsPnrBbmList.lastUpdatedDate))</div></th>
} @* subaktivitasNilaiBlsfalstsPnrBbmList.lastUpdatedDate.Visible (end) *@
@if (subaktivitasNilaiBlsfalstsPnrBbmList.NoReferensi.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subaktivitasNilaiBlsfalstsPnrBbmList.NoReferensi.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLSFALSTSPnrBBM_NoReferensi" class="SubaktivitasNilaiBLSFALSTSPnrBBM_NoReferensi">@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiBlsfalstsPnrBbmList.NoReferensi))</div></th>
} @* subaktivitasNilaiBlsfalstsPnrBbmList.NoReferensi.Visible (end) *@
@if (subaktivitasNilaiBlsfalstsPnrBbmList.StatusAktivitas.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subaktivitasNilaiBlsfalstsPnrBbmList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLSFALSTSPnrBBM_StatusAktivitas" class="SubaktivitasNilaiBLSFALSTSPnrBBM_StatusAktivitas">@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.RenderFieldHeader(subaktivitasNilaiBlsfalstsPnrBbmList.StatusAktivitas))</div></th>
} @* subaktivitasNilaiBlsfalstsPnrBbmList.StatusAktivitas.Visible (end) *@
@* Render list options (header, right) *@
@subaktivitasNilaiBlsfalstsPnrBbmList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subaktivitasNilaiBlsfalstsPnrBbmList.PageNumber)">
@{
    await subaktivitasNilaiBlsfalstsPnrBbmList.SetupGrid();
    bool eof = subaktivitasNilaiBlsfalstsPnrBbmList.Recordset == null; // DN
}
@while (subaktivitasNilaiBlsfalstsPnrBbmList.RecordCount < subaktivitasNilaiBlsfalstsPnrBbmList.StopRecord || SameString(subaktivitasNilaiBlsfalstsPnrBbmList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subaktivitasNilaiBlsfalstsPnrBbmList.RowIndex, "$rowindex$") &&
        (!subaktivitasNilaiBlsfalstsPnrBbmList.IsGridAdd || subaktivitasNilaiBlsfalstsPnrBbmList.CurrentMode == "copy") &&
        (!((subaktivitasNilaiBlsfalstsPnrBbmList.IsCopy || subaktivitasNilaiBlsfalstsPnrBbmList.IsAdd) && subaktivitasNilaiBlsfalstsPnrBbmList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subaktivitasNilaiBlsfalstsPnrBbmList.Recordset.ReadAsync();
    subaktivitasNilaiBlsfalstsPnrBbmList.RecordCount++;
    if (subaktivitasNilaiBlsfalstsPnrBbmList.RecordCount >= subaktivitasNilaiBlsfalstsPnrBbmList.StartRecord) {
        await subaktivitasNilaiBlsfalstsPnrBbmList.SetupRow();
    <tr @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.RowAttributes)>
    @* Render list options (body, left) *@
    @subaktivitasNilaiBlsfalstsPnrBbmList.ListOptions.RenderBody("left", subaktivitasNilaiBlsfalstsPnrBbmList.RowCount)
    @if (subaktivitasNilaiBlsfalstsPnrBbmList.id.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.id.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiBlsfalstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiBlsfalstsPnrBbmList.RowCount)_SubaktivitasNilaiBLSFALSTSPnrBBM_id" class="el_SubaktivitasNilaiBLSFALSTSPnrBBM_id">
<span @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.id.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.id.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlsfalstsPnrBbmList.id.Visible (end) *@
    @if (subaktivitasNilaiBlsfalstsPnrBbmList.idAktifitas.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiBlsfalstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiBlsfalstsPnrBbmList.RowCount)_SubaktivitasNilaiBLSFALSTSPnrBBM_idAktifitas" class="el_SubaktivitasNilaiBLSFALSTSPnrBBM_idAktifitas">
<span @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.idAktifitas.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlsfalstsPnrBbmList.idAktifitas.Visible (end) *@
    @if (subaktivitasNilaiBlsfalstsPnrBbmList.BL_klobs.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.BL_klobs.Visible (begin)
        <td data-name="BL_klobs" @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.BL_klobs.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiBlsfalstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiBlsfalstsPnrBbmList.RowCount)_SubaktivitasNilaiBLSFALSTSPnrBBM_BL_klobs" class="el_SubaktivitasNilaiBLSFALSTSPnrBBM_BL_klobs">
<span @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.BL_klobs.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.BL_klobs.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlsfalstsPnrBbmList.BL_klobs.Visible (end) *@
    @if (subaktivitasNilaiBlsfalstsPnrBbmList.BL_kl15.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.BL_kl15.Visible (begin)
        <td data-name="BL_kl15" @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.BL_kl15.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiBlsfalstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiBlsfalstsPnrBbmList.RowCount)_SubaktivitasNilaiBLSFALSTSPnrBBM_BL_kl15" class="el_SubaktivitasNilaiBLSFALSTSPnrBBM_BL_kl15">
<span @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.BL_kl15.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.BL_kl15.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlsfalstsPnrBbmList.BL_kl15.Visible (end) *@
    @if (subaktivitasNilaiBlsfalstsPnrBbmList.BL_barrels.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.BL_barrels.Visible (begin)
        <td data-name="BL_barrels" @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.BL_barrels.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiBlsfalstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiBlsfalstsPnrBbmList.RowCount)_SubaktivitasNilaiBLSFALSTSPnrBBM_BL_barrels" class="el_SubaktivitasNilaiBLSFALSTSPnrBBM_BL_barrels">
<span @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.BL_barrels.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.BL_barrels.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlsfalstsPnrBbmList.BL_barrels.Visible (end) *@
    @if (subaktivitasNilaiBlsfalstsPnrBbmList.BL_lt.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.BL_lt.Visible (begin)
        <td data-name="BL_lt" @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.BL_lt.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiBlsfalstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiBlsfalstsPnrBbmList.RowCount)_SubaktivitasNilaiBLSFALSTSPnrBBM_BL_lt" class="el_SubaktivitasNilaiBLSFALSTSPnrBBM_BL_lt">
<span @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.BL_lt.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.BL_lt.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlsfalstsPnrBbmList.BL_lt.Visible (end) *@
    @if (subaktivitasNilaiBlsfalstsPnrBbmList.BL_mt.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.BL_mt.Visible (begin)
        <td data-name="BL_mt" @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.BL_mt.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiBlsfalstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiBlsfalstsPnrBbmList.RowCount)_SubaktivitasNilaiBLSFALSTSPnrBBM_BL_mt" class="el_SubaktivitasNilaiBLSFALSTSPnrBBM_BL_mt">
<span @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.BL_mt.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.BL_mt.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlsfalstsPnrBbmList.BL_mt.Visible (end) *@
    @if (subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_klobs.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_klobs.Visible (begin)
        <td data-name="SFAL_klobs" @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_klobs.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiBlsfalstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiBlsfalstsPnrBbmList.RowCount)_SubaktivitasNilaiBLSFALSTSPnrBBM_SFAL_klobs" class="el_SubaktivitasNilaiBLSFALSTSPnrBBM_SFAL_klobs">
<span @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_klobs.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_klobs.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_klobs.Visible (end) *@
    @if (subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_kl15.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_kl15.Visible (begin)
        <td data-name="SFAL_kl15" @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_kl15.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiBlsfalstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiBlsfalstsPnrBbmList.RowCount)_SubaktivitasNilaiBLSFALSTSPnrBBM_SFAL_kl15" class="el_SubaktivitasNilaiBLSFALSTSPnrBBM_SFAL_kl15">
<span @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_kl15.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_kl15.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_kl15.Visible (end) *@
    @if (subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_barrels.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_barrels.Visible (begin)
        <td data-name="SFAL_barrels" @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_barrels.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiBlsfalstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiBlsfalstsPnrBbmList.RowCount)_SubaktivitasNilaiBLSFALSTSPnrBBM_SFAL_barrels" class="el_SubaktivitasNilaiBLSFALSTSPnrBBM_SFAL_barrels">
<span @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_barrels.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_barrels.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_barrels.Visible (end) *@
    @if (subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_lt.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_lt.Visible (begin)
        <td data-name="SFAL_lt" @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_lt.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiBlsfalstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiBlsfalstsPnrBbmList.RowCount)_SubaktivitasNilaiBLSFALSTSPnrBBM_SFAL_lt" class="el_SubaktivitasNilaiBLSFALSTSPnrBBM_SFAL_lt">
<span @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_lt.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_lt.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_lt.Visible (end) *@
    @if (subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_mt.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_mt.Visible (begin)
        <td data-name="SFAL_mt" @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_mt.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiBlsfalstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiBlsfalstsPnrBbmList.RowCount)_SubaktivitasNilaiBLSFALSTSPnrBBM_SFAL_mt" class="el_SubaktivitasNilaiBLSFALSTSPnrBBM_SFAL_mt">
<span @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_mt.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_mt.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlsfalstsPnrBbmList.SFAL_mt.Visible (end) *@
    @if (subaktivitasNilaiBlsfalstsPnrBbmList.userInput.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.userInput.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiBlsfalstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiBlsfalstsPnrBbmList.RowCount)_SubaktivitasNilaiBLSFALSTSPnrBBM_userInput" class="el_SubaktivitasNilaiBLSFALSTSPnrBBM_userInput">
<span @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.userInput.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlsfalstsPnrBbmList.userInput.Visible (end) *@
    @if (subaktivitasNilaiBlsfalstsPnrBbmList.etlDate.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.etlDate.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiBlsfalstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiBlsfalstsPnrBbmList.RowCount)_SubaktivitasNilaiBLSFALSTSPnrBBM_etlDate" class="el_SubaktivitasNilaiBLSFALSTSPnrBBM_etlDate">
<span @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.etlDate.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlsfalstsPnrBbmList.etlDate.Visible (end) *@
    @if (subaktivitasNilaiBlsfalstsPnrBbmList.idProses.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.idProses.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiBlsfalstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiBlsfalstsPnrBbmList.RowCount)_SubaktivitasNilaiBLSFALSTSPnrBBM_idProses" class="el_SubaktivitasNilaiBLSFALSTSPnrBBM_idProses">
<span @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.idProses.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlsfalstsPnrBbmList.idProses.Visible (end) *@
    @if (subaktivitasNilaiBlsfalstsPnrBbmList.LastUpdatedBy.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiBlsfalstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiBlsfalstsPnrBbmList.RowCount)_SubaktivitasNilaiBLSFALSTSPnrBBM_LastUpdatedBy" class="el_SubaktivitasNilaiBLSFALSTSPnrBBM_LastUpdatedBy">
<span @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlsfalstsPnrBbmList.LastUpdatedBy.Visible (end) *@
    @if (subaktivitasNilaiBlsfalstsPnrBbmList.lastUpdatedDate.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiBlsfalstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiBlsfalstsPnrBbmList.RowCount)_SubaktivitasNilaiBLSFALSTSPnrBBM_lastUpdatedDate" class="el_SubaktivitasNilaiBLSFALSTSPnrBBM_lastUpdatedDate">
<span @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlsfalstsPnrBbmList.lastUpdatedDate.Visible (end) *@
    @if (subaktivitasNilaiBlsfalstsPnrBbmList.NoReferensi.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiBlsfalstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiBlsfalstsPnrBbmList.RowCount)_SubaktivitasNilaiBLSFALSTSPnrBBM_NoReferensi" class="el_SubaktivitasNilaiBLSFALSTSPnrBBM_NoReferensi">
<span @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.NoReferensi.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlsfalstsPnrBbmList.NoReferensi.Visible (end) *@
    @if (subaktivitasNilaiBlsfalstsPnrBbmList.StatusAktivitas.Visible) { // subaktivitasNilaiBlsfalstsPnrBbmList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiBlsfalstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiBlsfalstsPnrBbmList.RowCount)_SubaktivitasNilaiBLSFALSTSPnrBBM_StatusAktivitas" class="el_SubaktivitasNilaiBLSFALSTSPnrBBM_StatusAktivitas">
<span @Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlsfalstsPnrBbmList.StatusAktivitas.Visible (end) *@
    @* Render list options (body, right) *@
    @subaktivitasNilaiBlsfalstsPnrBbmList.ListOptions.RenderBody("right", subaktivitasNilaiBlsfalstsPnrBbmList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subaktivitasNilaiBlsfalstsPnrBbmList.RowIndex, "$rowindex$"))
        subaktivitasNilaiBlsfalstsPnrBbmList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subaktivitasNilaiBlsfalstsPnrBbmList.IsCopy || subaktivitasNilaiBlsfalstsPnrBbmList.IsAdd) && subaktivitasNilaiBlsfalstsPnrBbmList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subaktivitasNilaiBlsfalstsPnrBbmList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subaktivitasNilaiBlsfalstsPnrBbmList.CurrentAction) && !subaktivitasNilaiBlsfalstsPnrBbmList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subaktivitasNilaiBlsfalstsPnrBbmList.CloseRecordset(); }
@if (!subaktivitasNilaiBlsfalstsPnrBbmList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subaktivitasNilaiBlsfalstsPnrBbmList.IsGridAdd && !(subaktivitasNilaiBlsfalstsPnrBbmList.IsGridEdit && subaktivitasNilaiBlsfalstsPnrBbmList.ModalGridEdit) && !subaktivitasNilaiBlsfalstsPnrBbmList.IsMultiEdit) {
@Html.Raw(subaktivitasNilaiBlsfalstsPnrBbmList.Pager.Render())
}
<div class="ew-list-other-options">
@subaktivitasNilaiBlsfalstsPnrBbmList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subaktivitasNilaiBlsfalstsPnrBbmList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subaktivitasNilaiBlsfalstsPnrBbmList.FooterOptions.RenderBody()
</div>
</main>
@subaktivitasNilaiBlsfalstsPnrBbmList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subaktivitasNilaiBlsfalstsPnrBbmList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubaktivitasNilaiBLSFALSTSPnrBBM");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
