@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputNilaiAktDischargeRtwView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputNilaiAktDischargeRtwView.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputNilaiAktDischargeRtwView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @subAktivitasFormInputNilaiAktDischargeRtwView.ExportOptions.RenderBody()
    @subAktivitasFormInputNilaiAktDischargeRtwView.OtherOptions.RenderBody()
</div>
}
@subAktivitasFormInputNilaiAktDischargeRtwView.ShowPageHeader()
@subAktivitasFormInputNilaiAktDischargeRtwView.ShowMessages()
<main class="view">
<form name="fSubAktivitasFormInputNilaiAktDischargeRTWview" id="fSubAktivitasFormInputNilaiAktDischargeRTWview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!subAktivitasFormInputNilaiAktDischargeRtwView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputNilaiAktDischargeRtwView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputNilaiAktDischargeRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fSubAktivitasFormInputNilaiAktDischargeRTWview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputNilaiAktDischargeRTWview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputNilaiAktDischargeRtwView.IsModal)">
<table class="@(subAktivitasFormInputNilaiAktDischargeRtwView.TableClass)">
@if (subAktivitasFormInputNilaiAktDischargeRtwView.id.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwView.id.Visible (begin)
    <tr id="r_id" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.id.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktDischargeRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_id">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.id.Caption)</span></td>
        <td data-name="id" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.id.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_id">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.id.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktDischargeRtwView.id.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwView.NoReferensi.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwView.NoReferensi.Visible (begin)
    <tr id="r_NoReferensi" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.NoReferensi.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktDischargeRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_NoReferensi">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.NoReferensi.Caption)</span></td>
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_NoReferensi">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.NoReferensi.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktDischargeRtwView.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwView.idProses.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwView.idProses.Visible (begin)
    <tr id="r_idProses" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.idProses.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktDischargeRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_idProses">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.idProses.Caption)</span></td>
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_idProses">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.idProses.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktDischargeRtwView.idProses.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwView.idAktifitas.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwView.idAktifitas.Visible (begin)
    <tr id="r_idAktifitas" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.idAktifitas.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktDischargeRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_idAktifitas">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.idAktifitas.Caption)</span></td>
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_idAktifitas">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.idAktifitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktDischargeRtwView.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwView.StatusAktivitas.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwView.StatusAktivitas.Visible (begin)
    <tr id="r_StatusAktivitas" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.StatusAktivitas.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktDischargeRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_StatusAktivitas">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.StatusAktivitas.Caption)</span></td>
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.StatusAktivitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktDischargeRtwView.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwView.LastUpdatedBy.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwView.LastUpdatedBy.Visible (begin)
    <tr id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.LastUpdatedBy.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktDischargeRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_LastUpdatedBy">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.LastUpdatedBy.Caption)</span></td>
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.LastUpdatedBy.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktDischargeRtwView.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwView.lastUpdatedDate.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwView.lastUpdatedDate.Visible (begin)
    <tr id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.lastUpdatedDate.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktDischargeRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_lastUpdatedDate">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.lastUpdatedDate.Caption)</span></td>
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.lastUpdatedDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktDischargeRtwView.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwView.Import.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwView.Import.Visible (begin)
    <tr id="r_Import" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.Import.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktDischargeRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_Import">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.Import.Caption)</span></td>
        <td data-name="Import" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.Import.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_Import">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.Import.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(subAktivitasFormInputNilaiAktDischargeRtwView.Import.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktDischargeRtwView.Import.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwView.ApakahAdaROB.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwView.ApakahAdaROB.Visible (begin)
    <tr id="r_ApakahAdaROB" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.ApakahAdaROB.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktDischargeRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_ApakahAdaROB">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.ApakahAdaROB.Caption)</span></td>
        <td data-name="ApakahAdaROB" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.ApakahAdaROB.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_ApakahAdaROB">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.ApakahAdaROB.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(subAktivitasFormInputNilaiAktDischargeRtwView.ApakahAdaROB.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktDischargeRtwView.ApakahAdaROB.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwView.Tujuan.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwView.Tujuan.Visible (begin)
    <tr id="r_Tujuan" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.Tujuan.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktDischargeRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_Tujuan">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.Tujuan.Caption)</span></td>
        <td data-name="Tujuan" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.Tujuan.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_Tujuan">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.Tujuan.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.Tujuan.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktDischargeRtwView.Tujuan.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_KLObs.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_KLObs.Visible (begin)
    <tr id="r_SFAD_KLObs" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_KLObs.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktDischargeRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_KLObs">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_KLObs.Caption)</span></td>
        <td data-name="SFAD_KLObs" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_KLObs.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_KLObs">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_KLObs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_KLObs.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_KLObs.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_KL15.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_KL15.Visible (begin)
    <tr id="r_SFAD_KL15" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_KL15.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktDischargeRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_KL15">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_KL15.Caption)</span></td>
        <td data-name="SFAD_KL15" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_KL15.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_KL15">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_KL15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_KL15.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_KL15.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_Barrels.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_Barrels.Visible (begin)
    <tr id="r_SFAD_Barrels" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_Barrels.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktDischargeRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_Barrels">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_Barrels.Caption)</span></td>
        <td data-name="SFAD_Barrels" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_Barrels.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_Barrels">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_Barrels.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_LT.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_LT.Visible (begin)
    <tr id="r_SFAD_LT" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_LT.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktDischargeRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_LT">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_LT.Caption)</span></td>
        <td data-name="SFAD_LT" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_LT.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_LT">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_LT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_LT.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_LT.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_MT.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_MT.Visible (begin)
    <tr id="r_SFAD_MT" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_MT.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktDischargeRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_MT">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_MT.Caption)</span></td>
        <td data-name="SFAD_MT" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_MT.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_MT">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_MT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_MT.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktDischargeRtwView.SFAD_MT.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_KLObs.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_KLObs.Visible (begin)
    <tr id="r_NewBL_KLObs" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_KLObs.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktDischargeRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_KLObs">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_KLObs.Caption)</span></td>
        <td data-name="NewBL_KLObs" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_KLObs.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_KLObs">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_KLObs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_KLObs.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_KLObs.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_KL15.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_KL15.Visible (begin)
    <tr id="r_NewBL_KL15" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_KL15.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktDischargeRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_KL15">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_KL15.Caption)</span></td>
        <td data-name="NewBL_KL15" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_KL15.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_KL15">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_KL15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_KL15.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_KL15.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_Barrels.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_Barrels.Visible (begin)
    <tr id="r_NewBL_Barrels" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_Barrels.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktDischargeRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_Barrels">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_Barrels.Caption)</span></td>
        <td data-name="NewBL_Barrels" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_Barrels.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_Barrels">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_Barrels.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_LT.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_LT.Visible (begin)
    <tr id="r_NewBL_LT" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_LT.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktDischargeRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_LT">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_LT.Caption)</span></td>
        <td data-name="NewBL_LT" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_LT.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_LT">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_LT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_LT.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_LT.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_MT.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_MT.Visible (begin)
    <tr id="r_NewBL_MT" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_MT.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktDischargeRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_MT">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_MT.Caption)</span></td>
        <td data-name="NewBL_MT" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_MT.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_MT">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_MT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_MT.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktDischargeRtwView.NewBL_MT.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwView.userInput.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwView.userInput.Visible (begin)
    <tr id="r_userInput" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.userInput.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktDischargeRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_userInput">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.userInput.Caption)</span></td>
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_userInput">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.userInput.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktDischargeRtwView.userInput.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwView.etlDate.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwView.etlDate.Visible (begin)
    <tr id="r_etlDate" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.etlDate.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktDischargeRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_etlDate">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.etlDate.Caption)</span></td>
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_etlDate">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.etlDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktDischargeRtwView.etlDate.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_klobs.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_klobs.Visible (begin)
    <tr id="r_AR45B_klobs" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_klobs.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktDischargeRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_klobs">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_klobs.Caption)</span></td>
        <td data-name="AR45B_klobs" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_klobs.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_klobs">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_klobs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_klobs.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_klobs.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_kl15.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_kl15.Visible (begin)
    <tr id="r_AR45B_kl15" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_kl15.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktDischargeRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_kl15">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_kl15.Caption)</span></td>
        <td data-name="AR45B_kl15" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_kl15.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_kl15">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_kl15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_kl15.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_kl15.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_Barrel.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_Barrel.Visible (begin)
    <tr id="r_AR45B_Barrel" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_Barrel.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktDischargeRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_Barrel">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_Barrel.Caption)</span></td>
        <td data-name="AR45B_Barrel" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_Barrel.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_Barrel">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_Barrel.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_Barrel.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_Barrel.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_lt.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_lt.Visible (begin)
    <tr id="r_AR45B_lt" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_lt.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktDischargeRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_lt">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_lt.Caption)</span></td>
        <td data-name="AR45B_lt" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_lt.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_lt">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_lt.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_lt.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_lt.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_mt.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_mt.Visible (begin)
    <tr id="r_AR45B_mt" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_mt.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiAktDischargeRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_mt">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_mt.Caption)</span></td>
        <td data-name="AR45B_mt" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_mt.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_mt">
<span @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_mt.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_mt.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiAktDischargeRtwView.AR45B_mt.Visible (end) *@
</table>
@{ subAktivitasFormInputNilaiAktDischargeRtwView.CloseRecordset(); }
</form>
</main>
@subAktivitasFormInputNilaiAktDischargeRtwView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputNilaiAktDischargeRtwView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
