@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputKeberangkatanMobilTangkiView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputKeberangkatanMobilTangkiView.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputKeberangkatanMobilTangkiView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @subAktivitasFormInputKeberangkatanMobilTangkiView.ExportOptions.RenderBody()
    @subAktivitasFormInputKeberangkatanMobilTangkiView.OtherOptions.RenderBody()
</div>
}
@subAktivitasFormInputKeberangkatanMobilTangkiView.ShowPageHeader()
@subAktivitasFormInputKeberangkatanMobilTangkiView.ShowMessages()
<main class="view">
<form name="fSubAktivitasFormInputKeberangkatanMobilTangkiview" id="fSubAktivitasFormInputKeberangkatanMobilTangkiview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!subAktivitasFormInputKeberangkatanMobilTangkiView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputKeberangkatanMobilTangkiView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputKeberangkatanMobilTangki: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fSubAktivitasFormInputKeberangkatanMobilTangkiview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputKeberangkatanMobilTangkiview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputKeberangkatanMobilTangkiView.IsModal)">
<table class="@(subAktivitasFormInputKeberangkatanMobilTangkiView.TableClass)">
@if (subAktivitasFormInputKeberangkatanMobilTangkiView.id.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiView.id.Visible (begin)
    <tr id="r_id" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.id.RowAttributes)>
        <td class="@(subAktivitasFormInputKeberangkatanMobilTangkiView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_id">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.id.Caption)</span></td>
        <td data-name="id" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.id.CellAttributes)>
<span id="el_SubAktivitasFormInputKeberangkatanMobilTangki_id">
<span @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.id.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputKeberangkatanMobilTangkiView.id.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiView.NoReferensi.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiView.NoReferensi.Visible (begin)
    <tr id="r_NoReferensi" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.NoReferensi.RowAttributes)>
        <td class="@(subAktivitasFormInputKeberangkatanMobilTangkiView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_NoReferensi">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.NoReferensi.Caption)</span></td>
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputKeberangkatanMobilTangki_NoReferensi">
<span @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.NoReferensi.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputKeberangkatanMobilTangkiView.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiView.idProses.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiView.idProses.Visible (begin)
    <tr id="r_idProses" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.idProses.RowAttributes)>
        <td class="@(subAktivitasFormInputKeberangkatanMobilTangkiView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_idProses">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.idProses.Caption)</span></td>
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputKeberangkatanMobilTangki_idProses">
<span @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.idProses.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputKeberangkatanMobilTangkiView.idProses.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiView.idAktifitas.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiView.idAktifitas.Visible (begin)
    <tr id="r_idAktifitas" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.idAktifitas.RowAttributes)>
        <td class="@(subAktivitasFormInputKeberangkatanMobilTangkiView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_idAktifitas">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.idAktifitas.Caption)</span></td>
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputKeberangkatanMobilTangki_idAktifitas">
<span @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.idAktifitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputKeberangkatanMobilTangkiView.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiView.StatusAktivitas.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiView.StatusAktivitas.Visible (begin)
    <tr id="r_StatusAktivitas" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.StatusAktivitas.RowAttributes)>
        <td class="@(subAktivitasFormInputKeberangkatanMobilTangkiView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_StatusAktivitas">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.StatusAktivitas.Caption)</span></td>
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasFormInputKeberangkatanMobilTangki_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.StatusAktivitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputKeberangkatanMobilTangkiView.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiView.LastUpdatedBy.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiView.LastUpdatedBy.Visible (begin)
    <tr id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.LastUpdatedBy.RowAttributes)>
        <td class="@(subAktivitasFormInputKeberangkatanMobilTangkiView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_LastUpdatedBy">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.LastUpdatedBy.Caption)</span></td>
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputKeberangkatanMobilTangki_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.LastUpdatedBy.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputKeberangkatanMobilTangkiView.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiView.lastUpdatedDate.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiView.lastUpdatedDate.Visible (begin)
    <tr id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.lastUpdatedDate.RowAttributes)>
        <td class="@(subAktivitasFormInputKeberangkatanMobilTangkiView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_lastUpdatedDate">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.lastUpdatedDate.Caption)</span></td>
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputKeberangkatanMobilTangki_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.lastUpdatedDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputKeberangkatanMobilTangkiView.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiView.Tanggal.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiView.Tanggal.Visible (begin)
    <tr id="r_Tanggal" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.Tanggal.RowAttributes)>
        <td class="@(subAktivitasFormInputKeberangkatanMobilTangkiView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_Tanggal">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.Tanggal.Caption)</span></td>
        <td data-name="Tanggal" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.Tanggal.CellAttributes)>
<span id="el_SubAktivitasFormInputKeberangkatanMobilTangki_Tanggal">
<span @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.Tanggal.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputKeberangkatanMobilTangkiView.Tanggal.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiView.userInput.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiView.userInput.Visible (begin)
    <tr id="r_userInput" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.userInput.RowAttributes)>
        <td class="@(subAktivitasFormInputKeberangkatanMobilTangkiView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_userInput">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.userInput.Caption)</span></td>
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputKeberangkatanMobilTangki_userInput">
<span @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.userInput.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputKeberangkatanMobilTangkiView.userInput.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanMobilTangkiView.etlDate.Visible) { // subAktivitasFormInputKeberangkatanMobilTangkiView.etlDate.Visible (begin)
    <tr id="r_etlDate" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.etlDate.RowAttributes)>
        <td class="@(subAktivitasFormInputKeberangkatanMobilTangkiView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputKeberangkatanMobilTangki_etlDate">@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.etlDate.Caption)</span></td>
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputKeberangkatanMobilTangki_etlDate">
<span @Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanMobilTangkiView.etlDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputKeberangkatanMobilTangkiView.etlDate.Visible (end) *@
</table>
@{ subAktivitasFormInputKeberangkatanMobilTangkiView.CloseRecordset(); }
</form>
</main>
@subAktivitasFormInputKeberangkatanMobilTangkiView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputKeberangkatanMobilTangkiView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
