@{
    // View
    View = this;

    // Check action result
    if (subAktivitasHasilPemeriksaanPenKonList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasHasilPemeriksaanPenKonList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasHasilPemeriksaanPenKonList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasHasilPemeriksaanPenKonList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasHasilPemeriksaanPenKon: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasHasilPemeriksaanPenKonList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasHasilPemeriksaanPenKonList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasHasilPemeriksaanPenKonList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasHasilPemeriksaanPenKonList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasHasilPemeriksaanPenKonList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasHasilPemeriksaanPenKonList.TotalRecords > 0 && subAktivitasHasilPemeriksaanPenKonList.ExportOptions.Visible) {
    subAktivitasHasilPemeriksaanPenKonList.ExportOptions.Render("body");
}
@if (subAktivitasHasilPemeriksaanPenKonList.ImportOptions.Visible) {
    subAktivitasHasilPemeriksaanPenKonList.ImportOptions.Render("body");
}
@if (subAktivitasHasilPemeriksaanPenKonList.SearchOptions.Visible) {
    subAktivitasHasilPemeriksaanPenKonList.SearchOptions.Render("body");
}
@if (subAktivitasHasilPemeriksaanPenKonList.FilterOptions.Visible) {
    subAktivitasHasilPemeriksaanPenKonList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasHasilPemeriksaanPenKonList.IsModal) {
<form name="fSubAktivitasHasilPemeriksaanPenKonsrch" id="fSubAktivitasHasilPemeriksaanPenKonsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasHasilPemeriksaanPenKonsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasHasilPemeriksaanPenKonList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasHasilPemeriksaanPenKonList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasHasilPemeriksaanPenKon: currentTable } });
var currentForm;
var fSubAktivitasHasilPemeriksaanPenKonsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasHasilPemeriksaanPenKonsrch")
        .setPageId("list")
@if (subAktivitasHasilPemeriksaanPenKonList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasHasilPemeriksaanPenKonList.IsExport() && Empty(subAktivitasHasilPemeriksaanPenKonList.CurrentAction) && subAktivitasHasilPemeriksaanPenKonList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenKonList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasHasilPemeriksaanPenKonList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasHasilPemeriksaanPenKonList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasHasilPemeriksaanPenKonsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasHasilPemeriksaanPenKonList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasHasilPemeriksaanPenKonsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasHasilPemeriksaanPenKonList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasHasilPemeriksaanPenKonsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasHasilPemeriksaanPenKonList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasHasilPemeriksaanPenKonsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasHasilPemeriksaanPenKonList.ShowPageHeader()
@subAktivitasHasilPemeriksaanPenKonList.ShowMessages()
<main class="list @(subAktivitasHasilPemeriksaanPenKonList.TotalRecords == 0 && !subAktivitasHasilPemeriksaanPenKonList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasHasilPemeriksaanPenKonList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasHasilPemeriksaanPenKonList.TotalRecords > 0 || !Empty(subAktivitasHasilPemeriksaanPenKonList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasHasilPemeriksaanPenKonList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasHasilPemeriksaanPenKonList.TableGridClass)">
<form name="@(subAktivitasHasilPemeriksaanPenKonList.FormName)" id="@(subAktivitasHasilPemeriksaanPenKonList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasHasilPemeriksaanPenKonList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasHasilPemeriksaanPenKonList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasHasilPemeriksaanPenKon" class="card-body ew-grid-middle-panel @(subAktivitasHasilPemeriksaanPenKonList.TableContainerClass)" style="@(subAktivitasHasilPemeriksaanPenKonList.TableContainerStyle)">
@if (subAktivitasHasilPemeriksaanPenKonList.TotalRecords > 0 || subAktivitasHasilPemeriksaanPenKonList.IsGridEdit || subAktivitasHasilPemeriksaanPenKonList.IsMultiEdit) {
<table id="tbl_SubAktivitasHasilPemeriksaanPenKonlist" class="@(subAktivitasHasilPemeriksaanPenKonList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasHasilPemeriksaanPenKonList.RowType = RowType.Header;

    // Render list options
    await subAktivitasHasilPemeriksaanPenKonList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasHasilPemeriksaanPenKonList.ListOptions.RenderHeader("left")
@if (subAktivitasHasilPemeriksaanPenKonList.idProses.Visible) { // subAktivitasHasilPemeriksaanPenKonList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasHasilPemeriksaanPenKonList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenKon_idProses" class="SubAktivitasHasilPemeriksaanPenKon_idProses">@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenKonList.idProses))</div></th>
} @* subAktivitasHasilPemeriksaanPenKonList.idProses.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenKonList.idAktifitas.Visible) { // subAktivitasHasilPemeriksaanPenKonList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasHasilPemeriksaanPenKonList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenKon_idAktifitas" class="SubAktivitasHasilPemeriksaanPenKon_idAktifitas">@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenKonList.idAktifitas))</div></th>
} @* subAktivitasHasilPemeriksaanPenKonList.idAktifitas.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenKonList.NoReferensi.Visible) { // subAktivitasHasilPemeriksaanPenKonList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasHasilPemeriksaanPenKonList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenKon_NoReferensi" class="SubAktivitasHasilPemeriksaanPenKon_NoReferensi">@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenKonList.NoReferensi))</div></th>
} @* subAktivitasHasilPemeriksaanPenKonList.NoReferensi.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenKonList.LastUpdatedBy.Visible) { // subAktivitasHasilPemeriksaanPenKonList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasHasilPemeriksaanPenKonList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenKon_LastUpdatedBy" class="SubAktivitasHasilPemeriksaanPenKon_LastUpdatedBy">@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenKonList.LastUpdatedBy))</div></th>
} @* subAktivitasHasilPemeriksaanPenKonList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenKonList.lastUpdatedDate.Visible) { // subAktivitasHasilPemeriksaanPenKonList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasHasilPemeriksaanPenKonList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenKon_lastUpdatedDate" class="SubAktivitasHasilPemeriksaanPenKon_lastUpdatedDate">@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenKonList.lastUpdatedDate))</div></th>
} @* subAktivitasHasilPemeriksaanPenKonList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenKonList.StatusAktivitas.Visible) { // subAktivitasHasilPemeriksaanPenKonList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasHasilPemeriksaanPenKonList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenKon_StatusAktivitas" class="SubAktivitasHasilPemeriksaanPenKon_StatusAktivitas">@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenKonList.StatusAktivitas))</div></th>
} @* subAktivitasHasilPemeriksaanPenKonList.StatusAktivitas.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenKonList.NamaKapal.Visible) { // subAktivitasHasilPemeriksaanPenKonList.NamaKapal.Visible (begin)
        <th data-name="NamaKapal" class="@(subAktivitasHasilPemeriksaanPenKonList.NamaKapal.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenKon_NamaKapal" class="SubAktivitasHasilPemeriksaanPenKon_NamaKapal">@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenKonList.NamaKapal))</div></th>
} @* subAktivitasHasilPemeriksaanPenKonList.NamaKapal.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenKonList.Tanggal.Visible) { // subAktivitasHasilPemeriksaanPenKonList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasHasilPemeriksaanPenKonList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenKon_Tanggal" class="SubAktivitasHasilPemeriksaanPenKon_Tanggal">@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenKonList.Tanggal))</div></th>
} @* subAktivitasHasilPemeriksaanPenKonList.Tanggal.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenKonList.NamaKegiatan.Visible) { // subAktivitasHasilPemeriksaanPenKonList.NamaKegiatan.Visible (begin)
        <th data-name="NamaKegiatan" class="@(subAktivitasHasilPemeriksaanPenKonList.NamaKegiatan.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenKon_NamaKegiatan" class="SubAktivitasHasilPemeriksaanPenKon_NamaKegiatan">@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenKonList.NamaKegiatan))</div></th>
} @* subAktivitasHasilPemeriksaanPenKonList.NamaKegiatan.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenKonList.Produk.Visible) { // subAktivitasHasilPemeriksaanPenKonList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasHasilPemeriksaanPenKonList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenKon_Produk" class="SubAktivitasHasilPemeriksaanPenKon_Produk">@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenKonList.Produk))</div></th>
} @* subAktivitasHasilPemeriksaanPenKonList.Produk.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenKonList.Density.Visible) { // subAktivitasHasilPemeriksaanPenKonList.Density.Visible (begin)
        <th data-name="Density" class="@(subAktivitasHasilPemeriksaanPenKonList.Density.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenKon_Density" class="SubAktivitasHasilPemeriksaanPenKon_Density">@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenKonList.Density))</div></th>
} @* subAktivitasHasilPemeriksaanPenKonList.Density.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenKonList.Temperature.Visible) { // subAktivitasHasilPemeriksaanPenKonList.Temperature.Visible (begin)
        <th data-name="Temperature" class="@(subAktivitasHasilPemeriksaanPenKonList.Temperature.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenKon_Temperature" class="SubAktivitasHasilPemeriksaanPenKon_Temperature">@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenKonList.Temperature))</div></th>
} @* subAktivitasHasilPemeriksaanPenKonList.Temperature.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenKonList.Pressure.Visible) { // subAktivitasHasilPemeriksaanPenKonList.Pressure.Visible (begin)
        <th data-name="Pressure" class="@(subAktivitasHasilPemeriksaanPenKonList.Pressure.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenKon_Pressure" class="SubAktivitasHasilPemeriksaanPenKon_Pressure">@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenKonList.Pressure))</div></th>
} @* subAktivitasHasilPemeriksaanPenKonList.Pressure.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenKonList.Keterangan.Visible) { // subAktivitasHasilPemeriksaanPenKonList.Keterangan.Visible (begin)
        <th data-name="Keterangan" class="@(subAktivitasHasilPemeriksaanPenKonList.Keterangan.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenKon_Keterangan" class="SubAktivitasHasilPemeriksaanPenKon_Keterangan">@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenKonList.Keterangan))</div></th>
} @* subAktivitasHasilPemeriksaanPenKonList.Keterangan.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenKonList.userInput.Visible) { // subAktivitasHasilPemeriksaanPenKonList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasHasilPemeriksaanPenKonList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenKon_userInput" class="SubAktivitasHasilPemeriksaanPenKon_userInput">@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenKonList.userInput))</div></th>
} @* subAktivitasHasilPemeriksaanPenKonList.userInput.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasHasilPemeriksaanPenKonList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasHasilPemeriksaanPenKonList.PageNumber)">
@{
    await subAktivitasHasilPemeriksaanPenKonList.SetupGrid();
    bool eof = subAktivitasHasilPemeriksaanPenKonList.Recordset == null; // DN
}
@while (subAktivitasHasilPemeriksaanPenKonList.RecordCount < subAktivitasHasilPemeriksaanPenKonList.StopRecord || SameString(subAktivitasHasilPemeriksaanPenKonList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasHasilPemeriksaanPenKonList.RowIndex, "$rowindex$") &&
        (!subAktivitasHasilPemeriksaanPenKonList.IsGridAdd || subAktivitasHasilPemeriksaanPenKonList.CurrentMode == "copy") &&
        (!((subAktivitasHasilPemeriksaanPenKonList.IsCopy || subAktivitasHasilPemeriksaanPenKonList.IsAdd) && subAktivitasHasilPemeriksaanPenKonList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasHasilPemeriksaanPenKonList.Recordset.ReadAsync();
    subAktivitasHasilPemeriksaanPenKonList.RecordCount++;
    if (subAktivitasHasilPemeriksaanPenKonList.RecordCount >= subAktivitasHasilPemeriksaanPenKonList.StartRecord) {
        await subAktivitasHasilPemeriksaanPenKonList.SetupRow();
    <tr @Html.Raw(subAktivitasHasilPemeriksaanPenKonList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasHasilPemeriksaanPenKonList.ListOptions.RenderBody("left", subAktivitasHasilPemeriksaanPenKonList.RowCount)
    @if (subAktivitasHasilPemeriksaanPenKonList.idProses.Visible) { // subAktivitasHasilPemeriksaanPenKonList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasHasilPemeriksaanPenKonList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenKonList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenKonList.RowCount)_SubAktivitasHasilPemeriksaanPenKon_idProses" class="el_SubAktivitasHasilPemeriksaanPenKon_idProses">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenKonList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenKonList.idProses.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenKonList.idAktifitas.Visible) { // subAktivitasHasilPemeriksaanPenKonList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasHasilPemeriksaanPenKonList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenKonList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenKonList.RowCount)_SubAktivitasHasilPemeriksaanPenKon_idAktifitas" class="el_SubAktivitasHasilPemeriksaanPenKon_idAktifitas">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenKonList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenKonList.idAktifitas.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenKonList.NoReferensi.Visible) { // subAktivitasHasilPemeriksaanPenKonList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasHasilPemeriksaanPenKonList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenKonList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenKonList.RowCount)_SubAktivitasHasilPemeriksaanPenKon_NoReferensi" class="el_SubAktivitasHasilPemeriksaanPenKon_NoReferensi">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenKonList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenKonList.NoReferensi.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenKonList.LastUpdatedBy.Visible) { // subAktivitasHasilPemeriksaanPenKonList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasHasilPemeriksaanPenKonList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenKonList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenKonList.RowCount)_SubAktivitasHasilPemeriksaanPenKon_LastUpdatedBy" class="el_SubAktivitasHasilPemeriksaanPenKon_LastUpdatedBy">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenKonList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenKonList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenKonList.lastUpdatedDate.Visible) { // subAktivitasHasilPemeriksaanPenKonList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasHasilPemeriksaanPenKonList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenKonList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenKonList.RowCount)_SubAktivitasHasilPemeriksaanPenKon_lastUpdatedDate" class="el_SubAktivitasHasilPemeriksaanPenKon_lastUpdatedDate">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenKonList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenKonList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenKonList.StatusAktivitas.Visible) { // subAktivitasHasilPemeriksaanPenKonList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasHasilPemeriksaanPenKonList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenKonList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenKonList.RowCount)_SubAktivitasHasilPemeriksaanPenKon_StatusAktivitas" class="el_SubAktivitasHasilPemeriksaanPenKon_StatusAktivitas">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenKonList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenKonList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenKonList.NamaKapal.Visible) { // subAktivitasHasilPemeriksaanPenKonList.NamaKapal.Visible (begin)
        <td data-name="NamaKapal" @Html.Raw(subAktivitasHasilPemeriksaanPenKonList.NamaKapal.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenKonList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenKonList.RowCount)_SubAktivitasHasilPemeriksaanPenKon_NamaKapal" class="el_SubAktivitasHasilPemeriksaanPenKon_NamaKapal">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenKonList.NamaKapal.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.NamaKapal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenKonList.NamaKapal.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenKonList.Tanggal.Visible) { // subAktivitasHasilPemeriksaanPenKonList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasHasilPemeriksaanPenKonList.Tanggal.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenKonList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenKonList.RowCount)_SubAktivitasHasilPemeriksaanPenKon_Tanggal" class="el_SubAktivitasHasilPemeriksaanPenKon_Tanggal">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenKonList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenKonList.Tanggal.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenKonList.NamaKegiatan.Visible) { // subAktivitasHasilPemeriksaanPenKonList.NamaKegiatan.Visible (begin)
        <td data-name="NamaKegiatan" @Html.Raw(subAktivitasHasilPemeriksaanPenKonList.NamaKegiatan.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenKonList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenKonList.RowCount)_SubAktivitasHasilPemeriksaanPenKon_NamaKegiatan" class="el_SubAktivitasHasilPemeriksaanPenKon_NamaKegiatan">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenKonList.NamaKegiatan.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.NamaKegiatan.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenKonList.NamaKegiatan.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenKonList.Produk.Visible) { // subAktivitasHasilPemeriksaanPenKonList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasHasilPemeriksaanPenKonList.Produk.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenKonList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenKonList.RowCount)_SubAktivitasHasilPemeriksaanPenKon_Produk" class="el_SubAktivitasHasilPemeriksaanPenKon_Produk">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenKonList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenKonList.Produk.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenKonList.Density.Visible) { // subAktivitasHasilPemeriksaanPenKonList.Density.Visible (begin)
        <td data-name="Density" @Html.Raw(subAktivitasHasilPemeriksaanPenKonList.Density.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenKonList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenKonList.RowCount)_SubAktivitasHasilPemeriksaanPenKon_Density" class="el_SubAktivitasHasilPemeriksaanPenKon_Density">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenKonList.Density.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.Density.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenKonList.Density.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenKonList.Temperature.Visible) { // subAktivitasHasilPemeriksaanPenKonList.Temperature.Visible (begin)
        <td data-name="Temperature" @Html.Raw(subAktivitasHasilPemeriksaanPenKonList.Temperature.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenKonList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenKonList.RowCount)_SubAktivitasHasilPemeriksaanPenKon_Temperature" class="el_SubAktivitasHasilPemeriksaanPenKon_Temperature">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenKonList.Temperature.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.Temperature.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenKonList.Temperature.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenKonList.Pressure.Visible) { // subAktivitasHasilPemeriksaanPenKonList.Pressure.Visible (begin)
        <td data-name="Pressure" @Html.Raw(subAktivitasHasilPemeriksaanPenKonList.Pressure.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenKonList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenKonList.RowCount)_SubAktivitasHasilPemeriksaanPenKon_Pressure" class="el_SubAktivitasHasilPemeriksaanPenKon_Pressure">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenKonList.Pressure.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.Pressure.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenKonList.Pressure.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenKonList.Keterangan.Visible) { // subAktivitasHasilPemeriksaanPenKonList.Keterangan.Visible (begin)
        <td data-name="Keterangan" @Html.Raw(subAktivitasHasilPemeriksaanPenKonList.Keterangan.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenKonList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenKonList.RowCount)_SubAktivitasHasilPemeriksaanPenKon_Keterangan" class="el_SubAktivitasHasilPemeriksaanPenKon_Keterangan">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenKonList.Keterangan.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.Keterangan.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenKonList.Keterangan.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenKonList.userInput.Visible) { // subAktivitasHasilPemeriksaanPenKonList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasHasilPemeriksaanPenKonList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenKonList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenKonList.RowCount)_SubAktivitasHasilPemeriksaanPenKon_userInput" class="el_SubAktivitasHasilPemeriksaanPenKon_userInput">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenKonList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenKonList.userInput.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasHasilPemeriksaanPenKonList.ListOptions.RenderBody("right", subAktivitasHasilPemeriksaanPenKonList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasHasilPemeriksaanPenKonList.RowIndex, "$rowindex$"))
        subAktivitasHasilPemeriksaanPenKonList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasHasilPemeriksaanPenKonList.IsCopy || subAktivitasHasilPemeriksaanPenKonList.IsAdd) && subAktivitasHasilPemeriksaanPenKonList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasHasilPemeriksaanPenKonList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasHasilPemeriksaanPenKonList.CurrentAction) && !subAktivitasHasilPemeriksaanPenKonList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasHasilPemeriksaanPenKonList.CloseRecordset(); }
@if (!subAktivitasHasilPemeriksaanPenKonList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasHasilPemeriksaanPenKonList.IsGridAdd && !(subAktivitasHasilPemeriksaanPenKonList.IsGridEdit && subAktivitasHasilPemeriksaanPenKonList.ModalGridEdit) && !subAktivitasHasilPemeriksaanPenKonList.IsMultiEdit) {
@Html.Raw(subAktivitasHasilPemeriksaanPenKonList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasHasilPemeriksaanPenKonList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasHasilPemeriksaanPenKonList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasHasilPemeriksaanPenKonList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasHasilPemeriksaanPenKonList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasHasilPemeriksaanPenKonList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasHasilPemeriksaanPenKon");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
