@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiBLdanAlrtwEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiBLdanAlrtwEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasNilaiBLdanAlrtwEdit.ShowPageHeader()
@subAktivitasNilaiBLdanAlrtwEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasNilaiBLdanALRTWedit" id="fSubAktivitasNilaiBLdanALRTWedit" class="@(subAktivitasNilaiBLdanAlrtwEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiBLdanAlrtwEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiBLdanALRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasNilaiBLdanALRTWedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiBLdanALRTWedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null], fields.idAktifitas.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null], fields.StatusAktivitas.isInvalid],
            ["BL_KL_Obs", [fields.BL_KL_Obs.visible && fields.BL_KL_Obs.required ? ew.Validators.required(fields.BL_KL_Obs.caption) : null], fields.BL_KL_Obs.isInvalid],
            ["BL_KL_15", [fields.BL_KL_15.visible && fields.BL_KL_15.required ? ew.Validators.required(fields.BL_KL_15.caption) : null], fields.BL_KL_15.isInvalid],
            ["BL_Barrels", [fields.BL_Barrels.visible && fields.BL_Barrels.required ? ew.Validators.required(fields.BL_Barrels.caption) : null], fields.BL_Barrels.isInvalid],
            ["BL_LT", [fields.BL_LT.visible && fields.BL_LT.required ? ew.Validators.required(fields.BL_LT.caption) : null], fields.BL_LT.isInvalid],
            ["BL_MT", [fields.BL_MT.visible && fields.BL_MT.required ? ew.Validators.required(fields.BL_MT.caption) : null], fields.BL_MT.isInvalid],
            ["AL_KL_Obs", [fields.AL_KL_Obs.visible && fields.AL_KL_Obs.required ? ew.Validators.required(fields.AL_KL_Obs.caption) : null], fields.AL_KL_Obs.isInvalid],
            ["AL_KL_15", [fields.AL_KL_15.visible && fields.AL_KL_15.required ? ew.Validators.required(fields.AL_KL_15.caption) : null], fields.AL_KL_15.isInvalid],
            ["AL_Barrels", [fields.AL_Barrels.visible && fields.AL_Barrels.required ? ew.Validators.required(fields.AL_Barrels.caption) : null], fields.AL_Barrels.isInvalid],
            ["AL_LT", [fields.AL_LT.visible && fields.AL_LT.required ? ew.Validators.required(fields.AL_LT.caption) : null], fields.AL_LT.isInvalid],
            ["AL_MT", [fields.AL_MT.visible && fields.AL_MT.required ? ew.Validators.required(fields.AL_MT.caption) : null], fields.AL_MT.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null], fields.idProses.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null], fields.lastUpdatedDate.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Client script
    // Write your client script here, no need to add script tags.
    $(function () {
        var parent_url = ew.PATH_BASE;
        var IdProses = "@subAktivitasNilaiBLdanAlrtwEdit.idProses.CurrentValue";
        var NoReferensi = "@subAktivitasNilaiBLdanAlrtwEdit.NoReferensi.CurrentValue";
        $('#x_BL_KL_Obs, #x_BL_KL_15, #x_BL_Barrels, #x_BL_MT, #x_BL_LT, #x_AL_KL_Obs, #x_AL_KL_15, #x_AL_Barrels, #x_AL_LT, #x_AL_MT').on('focus', function () {
            hideFeedback($(this));
        });
        function hideFeedback(el) {
            let feedback = el.siblings('.invalid-feedback');
            feedback.hide();
        }
        function validasiBSFAL() 
        {
            // let idAktivitas = $("#x_idAktifitas").val();
            // const originalStatus = document.querySelector('#el_SubAktivitasNilaiBLSFALPenyaluran_StatusAktivitas .form-control-plaintext').textContent;
            var inputMap = {
                "#x_BL_KL_Obs": "BL KL Obs",
                "#x_BL_KL_15": "BL KL 15",
                "#x_BL_Barrels": "BL KL Barrel",
                "#x_BL_LT": "BL KL LT",
                "#x_BL_MT": "BL KL MT",
                "#x_AL_KL_Obs": "AL KL Obs",
                "#x_AL_KL_15": "AL KL 15",
                "#x_AL_Barrels": "AL Barrel",
                "#x_AL_LT": "AL LT",
                "#x_AL_MT": "AL MT",
            };
            let isValid = true;
            let zeroOrNegativeFields = [];
            let fieldNotValid = [];
            $('.invalid-feedback').hide();
            for (var id in inputMap) 
            {
                var el = $(id);
                var label = inputMap[id];
                var val = el.val().trim();
                el.val(val);
                var feedback = el.siblings('.invalid-feedback');
                if (val === "") {
                    feedback.text('*' + label + ' tidak boleh kosong.').show();
                    isValid = false;
                    fieldNotValid.push(label);
                    continue;
                }
                if (isNaN(val)) {
                    feedback.text('*' + label + ' harus diisi dengan angka desimal yang valid.').show();
                    isValid = false;
                    fieldNotValid.push(label);
                    continue;
                } 
                const number = parseFloat(val);
                if (number <= 0) {
                    zeroOrNegativeFields.push(label);
                }
            }
            if (!isValid) {
                ew.alert("Field tidak boleh kosong atau salah format: " + fieldNotValid.join(", "));
                return { isValid: false };
            }
            if (zeroOrNegativeFields.length > 0) {
                return { isValid: false, hasNegative: true, fields: zeroOrNegativeFields };
            }
            return { isValid: true };
        }
        function handleCustomSubmit(status) {
            let idAktivitas = $("#x_idAktifitas").val();
            const originalStatus = document.querySelector('#el_SubAktivitasNilaiBLdanALRTW_StatusAktivitas .form-control-plaintext').textContent;
            const BLSFALResult = validasiBSFAL(); 
            if (!BLSFALResult.isValid && !BLSFALResult.hasNegative) return; 
            let allNegativeFields = [];
            if (BLSFALResult.hasNegative) allNegativeFields = allNegativeFields.concat(BLSFALResult.fields); 
            if (allNegativeFields.length > 0) {
                let warningText = "Field berikut bernilai 0 atau kurang: " + allNegativeFields.join(", ") + ". Apakah Anda ingin tetap menyimpan?";
                $("#warningValueText").text(warningText);
                proceedSubmitStatus = status;
                $("#warningValueModal").modal("show");
                return;
            }
            submitFinal(status);
        }
        function submitFinal(status) {
            let idAktivitas = $("#x_idAktifitas").val();
            const originalStatus = document.querySelector('#el_SubAktivitasNilaiBLdanALRTW_StatusAktivitas .form-control-plaintext').textContent;
            $.ajax({
                url: parent_url + `api/LookUpList/check_valid_status_aktivitas?idAktivitas=${idAktivitas}&originalStatus=${originalStatus}`,
                type: 'GET',
                beforeSend: function () {
                    showLoading();
                },
                success: function (response) {
                    if (!response.IsValid){
                        hideLoading();
                        ew.alert(response.Message ?? "Status aktivitas telah diubah oleh pengguna lain");
                        return;
                    } else {
                        let form = $("#fSubAktivitasNilaiBLdanALRTWedit");
                        $.ajax({
                            url: form.attr("action"),
                            type: form.attr("method"),
                            data: form.serialize(),
                            success: function (response) {
                                updateStatus(idAktivitas, status);
                            },
                            error: function (xhr, status, error) {
                                hideLoading();
                                ew.alert("Gagal menyimpan data.");
                                console.error("Form submit gagal:", error);
                            }
                        });  
                    }
                },
                error: function (xhr, status, error) {
                    hideLoading();
                    ew.alert("Gagal menyimpan data.");
                    console.error("Form submit gagal:", error);
                }
            }); 
        }
        function updateStatus(idAktivitas, status) {
            $.ajax({
                url: parent_url + `api/LookUpList/update_status_aktivitas?idAktivitas=${idAktivitas}&statusAktivitas=${status}`,
                type: 'POST',
                success: function () {
                    $.ajax({
                        url: parent_url + 'api/LookUpList/update_lop_r1',
                        type: 'POST',
                        data: JSON.stringify({
                            NoReferensi: NoReferensi,
                            IdProses: IdProses,
                            IdAktivitas: idAktivitas
                        }),
                        contentType: 'application/json',
                        success: function (res) {
                            console.log(res.message);
                            if (status == "Completed" || status == "Completed Edit") {
                                window.location.href = `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`;
                            } else {
                                location.reload();
                            }    
                        },
                        error: function (xhr, status, error) {
                            console.error("Update Aktivitas Dokumen gagal:", error);
                        },
                        complete: function () {
                            hideLoading();
                        }
                    });
                },
                error: function (xhr, status, error) {
                    ew.alert("Status gagal diperbarui.");
                    console.error("Update status gagal:", error);
                },
                complete: function () {
                    hideLoading();
                }
            });
        }
        function reverseStatus(status, catatan) {
            showLoading();
            let idAktivitas = $("#x_idAktifitas").val();
            $.ajax({
                    url: parent_url + `api/LookUpList/update_status_aktivitas-v2`,
                    type: 'POST',
                    data: JSON.stringify({ IdAktivitas: idAktivitas, StatusAktivitas: status, Catatan: catatan ?? null }),
                    contentType: 'application/json',
                    success: function () {
                        $.ajax({
                            url: parent_url + 'api/LookUpList/generate_etc',
                            method: 'POST',
                            data: JSON.stringify({ NoReferensi: NoReferensi }),
                            contentType: 'application/json',
                            success: function (res) {
                                setTimeout(function () {
                                    window.location.href = `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`;
                                }, 1000);
                            },
                            error: function (err) {
                                hideLoading();
                                ew.alert('Perubahan gagal disimpan.');
                                console.error(err);
                            },
                        });
                    },
                    error: function (xhr, status, error) {
                        ew.alert("Status gagal diperbarui.");
                        console.error("Update status gagal:", error);
                    },
                    complete: function () {
                        hideLoading();
                    }
                });
            }
        $(document).on("submit", "#reverseStatusEditingModalForm", function (e) {
            e.preventDefault();
            let catatanText = $("#catatanReverseStatusEditing").val();
            reverseStatus("Editing", catatanText);
        });
        $(document).on("click", "#btn-draft", function () {
            handleCustomSubmit("Draft");
        });
        $(document).on("click", "#btn-completed", function () {
            handleCustomSubmit("Completed");
        });
        $(document).on("click", "#btn-editing", function () {
            handleCustomSubmit("Editing");
        });
        $(document).on("click", "#btn-completedEdit", function () {
            handleCustomSubmit("Completed Edit");
        });
        $(document).on("click", "#btn-confirm-modal", function () {
            $("#warningValueModal").modal("hide");
            submitFinal(proceedSubmitStatus);
        });
    });
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasNilaiBLdanAlrtwEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasNilaiBLdanAlrtwEdit.OldKeyName)" value="@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.OldKey)">
<div class="ew-edit-div d-none"><!-- page* -->
@if (subAktivitasNilaiBLdanAlrtwEdit.idAktifitas.Visible) { // subAktivitasNilaiBLdanAlrtwEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBLdanALRTW_idAktifitas" class="@(subAktivitasNilaiBLdanAlrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasNilaiBLdanALRTW_idAktifitas">@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.idAktifitas.Caption)@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasNilaiBLdanAlrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.idAktifitas.CellAttributes)>
<template id="tpx_SubAktivitasNilaiBLdanALRTW_idAktifitas"><span id="el_SubAktivitasNilaiBLdanALRTW_idAktifitas">
<span @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.idAktifitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.idAktifitas.DisplayValue(subAktivitasNilaiBLdanAlrtwEdit.idAktifitas.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasNilaiBLdanALRTW" data-field="x_idAktifitas" data-hidden="1" name="x_idAktifitas" id="x_idAktifitas" value="@Html.Raw(HtmlEncode(subAktivitasNilaiBLdanAlrtwEdit.idAktifitas.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasNilaiBLdanAlrtwEdit.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiBLdanAlrtwEdit.StatusAktivitas.Visible) { // subAktivitasNilaiBLdanAlrtwEdit.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.StatusAktivitas.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBLdanALRTW_StatusAktivitas" class="@(subAktivitasNilaiBLdanAlrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasNilaiBLdanALRTW_StatusAktivitas">@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.StatusAktivitas.Caption)@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasNilaiBLdanAlrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.StatusAktivitas.CellAttributes)>
<template id="tpx_SubAktivitasNilaiBLdanALRTW_StatusAktivitas"><span id="el_SubAktivitasNilaiBLdanALRTW_StatusAktivitas">
<span @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.StatusAktivitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.StatusAktivitas.DisplayValue(subAktivitasNilaiBLdanAlrtwEdit.StatusAktivitas.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasNilaiBLdanALRTW" data-field="x_StatusAktivitas" data-hidden="1" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@Html.Raw(HtmlEncode(subAktivitasNilaiBLdanAlrtwEdit.StatusAktivitas.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasNilaiBLdanAlrtwEdit.StatusAktivitas.Visible (end) *@
@if (subAktivitasNilaiBLdanAlrtwEdit.BL_KL_Obs.Visible) { // subAktivitasNilaiBLdanAlrtwEdit.BL_KL_Obs.Visible (begin)
    <div id="r_BL_KL_Obs" @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_KL_Obs.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBLdanALRTW_BL_KL_Obs" for="x_BL_KL_Obs" class="@(subAktivitasNilaiBLdanAlrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasNilaiBLdanALRTW_BL_KL_Obs">@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_KL_Obs.Caption)@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_KL_Obs.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasNilaiBLdanAlrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_KL_Obs.CellAttributes)>
<template id="tpx_SubAktivitasNilaiBLdanALRTW_BL_KL_Obs"><span id="el_SubAktivitasNilaiBLdanALRTW_BL_KL_Obs">
<input type="@(subAktivitasNilaiBLdanAlrtwEdit.BL_KL_Obs.InputTextType)" name="x_BL_KL_Obs" id="x_BL_KL_Obs" data-table="SubAktivitasNilaiBLdanALRTW" data-field="x_BL_KL_Obs" value="@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_KL_Obs.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBLdanAlrtwEdit.BL_KL_Obs.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBLdanAlrtwEdit.BL_KL_Obs.FormatPattern)"@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_KL_Obs.EditAttributes) aria-describedby="x_BL_KL_Obs_help">
@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_KL_Obs.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_KL_Obs.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasNilaiBLdanAlrtwEdit.BL_KL_Obs.Visible (end) *@
@if (subAktivitasNilaiBLdanAlrtwEdit.BL_KL_15.Visible) { // subAktivitasNilaiBLdanAlrtwEdit.BL_KL_15.Visible (begin)
    <div id="r_BL_KL_15" @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_KL_15.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBLdanALRTW_BL_KL_15" for="x_BL_KL_15" class="@(subAktivitasNilaiBLdanAlrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasNilaiBLdanALRTW_BL_KL_15">@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_KL_15.Caption)@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_KL_15.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasNilaiBLdanAlrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_KL_15.CellAttributes)>
<template id="tpx_SubAktivitasNilaiBLdanALRTW_BL_KL_15"><span id="el_SubAktivitasNilaiBLdanALRTW_BL_KL_15">
<input type="@(subAktivitasNilaiBLdanAlrtwEdit.BL_KL_15.InputTextType)" name="x_BL_KL_15" id="x_BL_KL_15" data-table="SubAktivitasNilaiBLdanALRTW" data-field="x_BL_KL_15" value="@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_KL_15.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBLdanAlrtwEdit.BL_KL_15.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBLdanAlrtwEdit.BL_KL_15.FormatPattern)"@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_KL_15.EditAttributes) aria-describedby="x_BL_KL_15_help">
@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_KL_15.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_KL_15.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasNilaiBLdanAlrtwEdit.BL_KL_15.Visible (end) *@
@if (subAktivitasNilaiBLdanAlrtwEdit.BL_Barrels.Visible) { // subAktivitasNilaiBLdanAlrtwEdit.BL_Barrels.Visible (begin)
    <div id="r_BL_Barrels" @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_Barrels.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBLdanALRTW_BL_Barrels" for="x_BL_Barrels" class="@(subAktivitasNilaiBLdanAlrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasNilaiBLdanALRTW_BL_Barrels">@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_Barrels.Caption)@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_Barrels.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasNilaiBLdanAlrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_Barrels.CellAttributes)>
<template id="tpx_SubAktivitasNilaiBLdanALRTW_BL_Barrels"><span id="el_SubAktivitasNilaiBLdanALRTW_BL_Barrels">
<input type="@(subAktivitasNilaiBLdanAlrtwEdit.BL_Barrels.InputTextType)" name="x_BL_Barrels" id="x_BL_Barrels" data-table="SubAktivitasNilaiBLdanALRTW" data-field="x_BL_Barrels" value="@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_Barrels.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBLdanAlrtwEdit.BL_Barrels.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBLdanAlrtwEdit.BL_Barrels.FormatPattern)"@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_Barrels.EditAttributes) aria-describedby="x_BL_Barrels_help">
@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_Barrels.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_Barrels.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasNilaiBLdanAlrtwEdit.BL_Barrels.Visible (end) *@
@if (subAktivitasNilaiBLdanAlrtwEdit.BL_LT.Visible) { // subAktivitasNilaiBLdanAlrtwEdit.BL_LT.Visible (begin)
    <div id="r_BL_LT" @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_LT.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBLdanALRTW_BL_LT" for="x_BL_LT" class="@(subAktivitasNilaiBLdanAlrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasNilaiBLdanALRTW_BL_LT">@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_LT.Caption)@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_LT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasNilaiBLdanAlrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_LT.CellAttributes)>
<template id="tpx_SubAktivitasNilaiBLdanALRTW_BL_LT"><span id="el_SubAktivitasNilaiBLdanALRTW_BL_LT">
<input type="@(subAktivitasNilaiBLdanAlrtwEdit.BL_LT.InputTextType)" name="x_BL_LT" id="x_BL_LT" data-table="SubAktivitasNilaiBLdanALRTW" data-field="x_BL_LT" value="@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_LT.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBLdanAlrtwEdit.BL_LT.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBLdanAlrtwEdit.BL_LT.FormatPattern)"@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_LT.EditAttributes) aria-describedby="x_BL_LT_help">
@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_LT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_LT.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasNilaiBLdanAlrtwEdit.BL_LT.Visible (end) *@
@if (subAktivitasNilaiBLdanAlrtwEdit.BL_MT.Visible) { // subAktivitasNilaiBLdanAlrtwEdit.BL_MT.Visible (begin)
    <div id="r_BL_MT" @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_MT.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBLdanALRTW_BL_MT" for="x_BL_MT" class="@(subAktivitasNilaiBLdanAlrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasNilaiBLdanALRTW_BL_MT">@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_MT.Caption)@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_MT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasNilaiBLdanAlrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_MT.CellAttributes)>
<template id="tpx_SubAktivitasNilaiBLdanALRTW_BL_MT"><span id="el_SubAktivitasNilaiBLdanALRTW_BL_MT">
<input type="@(subAktivitasNilaiBLdanAlrtwEdit.BL_MT.InputTextType)" name="x_BL_MT" id="x_BL_MT" data-table="SubAktivitasNilaiBLdanALRTW" data-field="x_BL_MT" value="@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_MT.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBLdanAlrtwEdit.BL_MT.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBLdanAlrtwEdit.BL_MT.FormatPattern)"@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_MT.EditAttributes) aria-describedby="x_BL_MT_help">
@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_MT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.BL_MT.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasNilaiBLdanAlrtwEdit.BL_MT.Visible (end) *@
@if (subAktivitasNilaiBLdanAlrtwEdit.AL_KL_Obs.Visible) { // subAktivitasNilaiBLdanAlrtwEdit.AL_KL_Obs.Visible (begin)
    <div id="r_AL_KL_Obs" @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_KL_Obs.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBLdanALRTW_AL_KL_Obs" for="x_AL_KL_Obs" class="@(subAktivitasNilaiBLdanAlrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasNilaiBLdanALRTW_AL_KL_Obs">@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_KL_Obs.Caption)@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_KL_Obs.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasNilaiBLdanAlrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_KL_Obs.CellAttributes)>
<template id="tpx_SubAktivitasNilaiBLdanALRTW_AL_KL_Obs"><span id="el_SubAktivitasNilaiBLdanALRTW_AL_KL_Obs">
<input type="@(subAktivitasNilaiBLdanAlrtwEdit.AL_KL_Obs.InputTextType)" name="x_AL_KL_Obs" id="x_AL_KL_Obs" data-table="SubAktivitasNilaiBLdanALRTW" data-field="x_AL_KL_Obs" value="@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_KL_Obs.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBLdanAlrtwEdit.AL_KL_Obs.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBLdanAlrtwEdit.AL_KL_Obs.FormatPattern)"@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_KL_Obs.EditAttributes) aria-describedby="x_AL_KL_Obs_help">
@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_KL_Obs.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_KL_Obs.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasNilaiBLdanAlrtwEdit.AL_KL_Obs.Visible (end) *@
@if (subAktivitasNilaiBLdanAlrtwEdit.AL_KL_15.Visible) { // subAktivitasNilaiBLdanAlrtwEdit.AL_KL_15.Visible (begin)
    <div id="r_AL_KL_15" @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_KL_15.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBLdanALRTW_AL_KL_15" for="x_AL_KL_15" class="@(subAktivitasNilaiBLdanAlrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasNilaiBLdanALRTW_AL_KL_15">@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_KL_15.Caption)@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_KL_15.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasNilaiBLdanAlrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_KL_15.CellAttributes)>
<template id="tpx_SubAktivitasNilaiBLdanALRTW_AL_KL_15"><span id="el_SubAktivitasNilaiBLdanALRTW_AL_KL_15">
<input type="@(subAktivitasNilaiBLdanAlrtwEdit.AL_KL_15.InputTextType)" name="x_AL_KL_15" id="x_AL_KL_15" data-table="SubAktivitasNilaiBLdanALRTW" data-field="x_AL_KL_15" value="@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_KL_15.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBLdanAlrtwEdit.AL_KL_15.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBLdanAlrtwEdit.AL_KL_15.FormatPattern)"@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_KL_15.EditAttributes) aria-describedby="x_AL_KL_15_help">
@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_KL_15.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_KL_15.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasNilaiBLdanAlrtwEdit.AL_KL_15.Visible (end) *@
@if (subAktivitasNilaiBLdanAlrtwEdit.AL_Barrels.Visible) { // subAktivitasNilaiBLdanAlrtwEdit.AL_Barrels.Visible (begin)
    <div id="r_AL_Barrels" @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_Barrels.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBLdanALRTW_AL_Barrels" for="x_AL_Barrels" class="@(subAktivitasNilaiBLdanAlrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasNilaiBLdanALRTW_AL_Barrels">@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_Barrels.Caption)@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_Barrels.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasNilaiBLdanAlrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_Barrels.CellAttributes)>
<template id="tpx_SubAktivitasNilaiBLdanALRTW_AL_Barrels"><span id="el_SubAktivitasNilaiBLdanALRTW_AL_Barrels">
<input type="@(subAktivitasNilaiBLdanAlrtwEdit.AL_Barrels.InputTextType)" name="x_AL_Barrels" id="x_AL_Barrels" data-table="SubAktivitasNilaiBLdanALRTW" data-field="x_AL_Barrels" value="@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_Barrels.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBLdanAlrtwEdit.AL_Barrels.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBLdanAlrtwEdit.AL_Barrels.FormatPattern)"@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_Barrels.EditAttributes) aria-describedby="x_AL_Barrels_help">
@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_Barrels.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_Barrels.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasNilaiBLdanAlrtwEdit.AL_Barrels.Visible (end) *@
@if (subAktivitasNilaiBLdanAlrtwEdit.AL_LT.Visible) { // subAktivitasNilaiBLdanAlrtwEdit.AL_LT.Visible (begin)
    <div id="r_AL_LT" @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_LT.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBLdanALRTW_AL_LT" for="x_AL_LT" class="@(subAktivitasNilaiBLdanAlrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasNilaiBLdanALRTW_AL_LT">@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_LT.Caption)@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_LT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasNilaiBLdanAlrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_LT.CellAttributes)>
<template id="tpx_SubAktivitasNilaiBLdanALRTW_AL_LT"><span id="el_SubAktivitasNilaiBLdanALRTW_AL_LT">
<input type="@(subAktivitasNilaiBLdanAlrtwEdit.AL_LT.InputTextType)" name="x_AL_LT" id="x_AL_LT" data-table="SubAktivitasNilaiBLdanALRTW" data-field="x_AL_LT" value="@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_LT.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBLdanAlrtwEdit.AL_LT.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBLdanAlrtwEdit.AL_LT.FormatPattern)"@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_LT.EditAttributes) aria-describedby="x_AL_LT_help">
@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_LT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_LT.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasNilaiBLdanAlrtwEdit.AL_LT.Visible (end) *@
@if (subAktivitasNilaiBLdanAlrtwEdit.AL_MT.Visible) { // subAktivitasNilaiBLdanAlrtwEdit.AL_MT.Visible (begin)
    <div id="r_AL_MT" @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_MT.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBLdanALRTW_AL_MT" for="x_AL_MT" class="@(subAktivitasNilaiBLdanAlrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasNilaiBLdanALRTW_AL_MT">@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_MT.Caption)@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_MT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasNilaiBLdanAlrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_MT.CellAttributes)>
<template id="tpx_SubAktivitasNilaiBLdanALRTW_AL_MT"><span id="el_SubAktivitasNilaiBLdanALRTW_AL_MT">
<input type="@(subAktivitasNilaiBLdanAlrtwEdit.AL_MT.InputTextType)" name="x_AL_MT" id="x_AL_MT" data-table="SubAktivitasNilaiBLdanALRTW" data-field="x_AL_MT" value="@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_MT.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiBLdanAlrtwEdit.AL_MT.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiBLdanAlrtwEdit.AL_MT.FormatPattern)"@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_MT.EditAttributes) aria-describedby="x_AL_MT_help">
@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_MT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.AL_MT.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasNilaiBLdanAlrtwEdit.AL_MT.Visible (end) *@
@if (subAktivitasNilaiBLdanAlrtwEdit.idProses.Visible) { // subAktivitasNilaiBLdanAlrtwEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBLdanALRTW_idProses" class="@(subAktivitasNilaiBLdanAlrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasNilaiBLdanALRTW_idProses">@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.idProses.Caption)@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasNilaiBLdanAlrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.idProses.CellAttributes)>
<template id="tpx_SubAktivitasNilaiBLdanALRTW_idProses"><span id="el_SubAktivitasNilaiBLdanALRTW_idProses">
<span @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.idProses.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.idProses.DisplayValue(subAktivitasNilaiBLdanAlrtwEdit.idProses.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasNilaiBLdanALRTW" data-field="x_idProses" data-hidden="1" name="x_idProses" id="x_idProses" value="@Html.Raw(HtmlEncode(subAktivitasNilaiBLdanAlrtwEdit.idProses.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasNilaiBLdanAlrtwEdit.idProses.Visible (end) *@
@if (subAktivitasNilaiBLdanAlrtwEdit.LastUpdatedBy.Visible) { // subAktivitasNilaiBLdanAlrtwEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBLdanALRTW_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasNilaiBLdanAlrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasNilaiBLdanALRTW_LastUpdatedBy">@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasNilaiBLdanAlrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.LastUpdatedBy.CellAttributes)>
<template id="tpx_SubAktivitasNilaiBLdanALRTW_LastUpdatedBy"><span id="el_SubAktivitasNilaiBLdanALRTW_LastUpdatedBy">
<span @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.LastUpdatedBy.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasNilaiBLdanAlrtwEdit.LastUpdatedBy.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasNilaiBLdanALRTW" data-field="x_LastUpdatedBy" data-hidden="1" name="x_LastUpdatedBy" id="x_LastUpdatedBy" value="@Html.Raw(HtmlEncode(subAktivitasNilaiBLdanAlrtwEdit.LastUpdatedBy.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasNilaiBLdanAlrtwEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiBLdanAlrtwEdit.lastUpdatedDate.Visible) { // subAktivitasNilaiBLdanAlrtwEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBLdanALRTW_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasNilaiBLdanAlrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasNilaiBLdanALRTW_lastUpdatedDate">@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasNilaiBLdanAlrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.lastUpdatedDate.CellAttributes)>
<template id="tpx_SubAktivitasNilaiBLdanALRTW_lastUpdatedDate"><span id="el_SubAktivitasNilaiBLdanALRTW_lastUpdatedDate">
<span @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.lastUpdatedDate.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasNilaiBLdanAlrtwEdit.lastUpdatedDate.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasNilaiBLdanALRTW" data-field="x_lastUpdatedDate" data-hidden="1" name="x_lastUpdatedDate" id="x_lastUpdatedDate" value="@Html.Raw(HtmlEncode(subAktivitasNilaiBLdanAlrtwEdit.lastUpdatedDate.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasNilaiBLdanAlrtwEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasNilaiBLdanAlrtwEdit.NoReferensi.Visible) { // subAktivitasNilaiBLdanAlrtwEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasNilaiBLdanALRTW_NoReferensi" for="x_NoReferensi" class="@(subAktivitasNilaiBLdanAlrtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasNilaiBLdanALRTW_NoReferensi">@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.NoReferensi.Caption)@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasNilaiBLdanAlrtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.NoReferensi.CellAttributes)>
<template id="tpx_SubAktivitasNilaiBLdanALRTW_NoReferensi"><span id="el_SubAktivitasNilaiBLdanALRTW_NoReferensi">
<span @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.NoReferensi.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasNilaiBLdanAlrtwEdit.NoReferensi.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasNilaiBLdanALRTW" data-field="x_NoReferensi" data-hidden="1" name="x_NoReferensi" id="x_NoReferensi" value="@Html.Raw(HtmlEncode(subAktivitasNilaiBLdanAlrtwEdit.NoReferensi.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasNilaiBLdanAlrtwEdit.NoReferensi.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="SubAktivitasNilaiBLdanALRTW" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasNilaiBLdanAlrtwEdit.id.CurrentValue))">
<div id="tpd_SubAktivitasNilaiBLdanALRTWedit" class="ew-custom-template"></div>
<template id="tpm_SubAktivitasNilaiBLdanALRTWedit">
<div id="ct_subAktivitasNilaiBLdanAlrtwEdit"><style>
    .view-page-table td {
        white-space: normal !important;
        word-wrap: break-word;
    }
    .view-page-table th {
        background-color: #006BB7;
    }
    .body-table {
        background-color: #fff;
    }
    .header-table {
        background-color: #006BB7 !important;
        color: #fff !important;
    }
    .view-page-table {
        table-layout: fixed;
    }
    .tab-content {
    display: none;
    }
    .tab-content.active {
        display: block;
    }
    .ag-theme-quartz .ag-header {
        background-color: #006BB7 !important;
    }
    .ag-theme-quartz .ag-header-cell-label {
        color: #ffffff !important;
    }
    .ag-theme-quartz .ag-icon-filter {
        color: #ffffff !important;
    }
    .rotate-down {
        transform: rotate(90deg);
        transition: transform 0.3s ease;
    }
    .rotate-right {
        transform: rotate(0deg);
        transition: transform 0.3s ease;
    }
</style>
<div class="row mb-2">
    <div class="col-2 fw-bold d-flex align-items-center">
        @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.idAktifitas.Caption)
    </div>
    <div class="col-10">
        <slot class="ew-slot" name="tpx_SubAktivitasNilaiBLdanALRTW_idAktifitas"></slot>
    </div>
</div>
<div class="row mb-2">
    <div class="col-2 fw-bold d-flex align-items-center">
        @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.idProses.Caption)
    </div>
    <div class="col-10">
        <slot class="ew-slot" name="tpx_SubAktivitasNilaiBLdanALRTW_idProses"></slot>
    </div>
</div>
<div class="row mb-2">
    <div class="col-2 fw-bold d-flex align-items-center">
        @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.NoReferensi.Caption)
    </div>
    <div class="col-10">
        <slot class="ew-slot" name="tpx_SubAktivitasNilaiBLdanALRTW_NoReferensi"></slot>
    </div>
</div>
<div class="row mb-3">
    <div class="col-2 fw-bold d-flex align-items-center">
        @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.StatusAktivitas.Caption)
    </div>
    <div class="col-10">
        <slot class="ew-slot" name="tpx_SubAktivitasNilaiBLdanALRTW_StatusAktivitas"></slot>
    </div>
</div>
<div class="row mb-3">
    <div class="col-2 fw-bold d-flex align-items-center">
        @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.LastUpdatedBy.Caption)
    </div>
    <div class="col-10 d-flex gap-3">
        <slot class="ew-slot" name="tpx_SubAktivitasNilaiBLdanALRTW_LastUpdatedBy"></slot>
        <button type="button" class="btn btn-primary ew-btn ps-2" expand-log="false">
            <i class="fa-solid fa-caret-right fa-2xl me-2 caret-icon rotate-right"></i>
            Log History
            <i class="fa-solid fa-clock-rotate-left ms-1"></i> 
        </button>
    </div>
</div>
<div id="log-table-row" class="d-none row m-0">
    <div class="p-0">
        <div id="log-table-wrapper" style="overflow: hidden; transition: all 0.6s ease; max-height: 0;">
            <div id="myGrid" class="ag-theme-quartz w-75 my-3" style="height: 300px;"></div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-2 fw-bold d-flex align-items-center">
        @Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.lastUpdatedDate.Caption)
    </div>
    <div class="col-10">
        <slot class="ew-slot" name="tpx_SubAktivitasNilaiBLdanALRTW_lastUpdatedDate"></slot>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-9 border rounded p-0 mb-3">
        <table aria-hidden="true" class="table table-hover view-page-table w-100 m-0">
            <tbody>
                <tr>
                    <td class="fw-bold header-table">Satuan</td>
                    <td width="30%" class="fw-bold header-table">BL</td>
                    <td width="30%" class="fw-bold header-table">AL</td>
                </tr>
                <tr>
                    <td class="text-break fw-bold">KL Obs</td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubAktivitasNilaiBLdanALRTW_BL_KL_Obs"></slot></td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubAktivitasNilaiBLdanALRTW_AL_KL_Obs"></slot></td>
                </tr>
                <tr>
                    <td class="text-break fw-bold">KL 15</td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubAktivitasNilaiBLdanALRTW_BL_KL_15"></slot></td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubAktivitasNilaiBLdanALRTW_AL_KL_15"></slot></td>
                </tr>
                <tr>
                    <td class="text-break fw-bold">Barrel</td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubAktivitasNilaiBLdanALRTW_BL_Barrels"></slot></td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubAktivitasNilaiBLdanALRTW_AL_Barrels"></slot></td>
                </tr>
                <tr>
                    <td class="text-break fw-bold">Metric Ton</td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubAktivitasNilaiBLdanALRTW_BL_MT"></slot></td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubAktivitasNilaiBLdanALRTW_AL_MT"></slot></td>
                </tr>
                <tr>
                    <td class="text-break fw-bold">Long Ton</td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubAktivitasNilaiBLdanALRTW_BL_LT"></slot></td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubAktivitasNilaiBLdanALRTW_AL_LT"></slot></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<table aria-hidden="true" class="table table-hover view-page-table w-25 mb-3">
    <tbody>
        <tr>
            <td class="text-break fw-bold">R1</td>
            <td class="text-break body-table fw-bold" id="R1"></td>
        </tr>
    </tbody>
</table>
</div>
</template>
@{ subAktivitasNilaiBLdanAlrtwEdit.CloseRecordset(); }
@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasNilaiBLdanAlrtwEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasNilaiBLdanALRTWedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasNilaiBLdanALRTWedit" data-href="@AppPath(subAktivitasNilaiBLdanAlrtwEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasNilaiBLdanAlrtwEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
<script class="ew-apply-template">
loadjs.ready(ew.applyTemplateId, function() {
    var $ = jQuery;
    ew.templateData = { rows: @Html.Raw(ConvertToJson(subAktivitasNilaiBLdanAlrtwEdit.Rows)) };
    ew.applyTemplate("tpd_SubAktivitasNilaiBLdanALRTWedit", "tpm_SubAktivitasNilaiBLdanALRTWedit", "SubAktivitasNilaiBLdanALRTWedit", "@(subAktivitasNilaiBLdanAlrtwEdit.Export)", "SubAktivitasNilaiBLdanALRTW", ew.templateData.rows[0], @(subAktivitasNilaiBLdanAlrtwEdit.IsModal ? "true" : "false"));
    loadjs.done("customtemplate");
});
</script>
</main>
@subAktivitasNilaiBLdanAlrtwEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasNilaiBLdanALRTW");
});
</script>
<script>
loadjs.ready("load", function() {
    // Startup script
    var NoReferensi = "@subAktivitasNilaiBLdanAlrtwEdit.NoReferensi.CurrentValue";
    var IdProses = "@subAktivitasNilaiBLdanAlrtwEdit.idProses.CurrentValue";
    var idAktivitas = "@subAktivitasNilaiBLdanAlrtwEdit.idAktifitas.CurrentValue";
    var NamaAktivitas = $('#el_SubAktivitasNilaiBLdanALRTW_idAktifitas').text();
    var parent_url = ew.PATH_BASE;
    const userLevel = "@CurrentUserLevel()";
    let currentStatusAktivitas = "";
    var steps = [
        { number: 1, label: "Proses Penyaluran", url: `${parent_url}PenyaluranList`, icon: "fa-truck-fast" },
        { number: 2, label: "Proses", url: `${parent_url}ProsesList?cmd=search&x_IdReferensi%5B%5D=${NoReferensi}&search=&searchtype=`, icon: "fa-gears" },
        { number: 3, label: "Aktivitas", url: `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`, icon: "fa-list-check" },
        { number: 4, label: NamaAktivitas, url: '', icon: "fa-file-circle-check" }
    ];
    var currentStep = 4;
    $("<style>")
        .prop("type", "text/css")
        .html(`
            .stepper {
                display: flex;
                counter-reset: step;
                flex-wrap: nowrap;        /* jangan pecah ke bawah */
                overflow-x: auto;         /* scroll horizontal */
                -webkit-overflow-scrolling: touch; /* smooth scroll di mobile */
                padding-bottom: 8px;      /* space biar scroll bar gak nempel */
            }
            .stepper::-webkit-scrollbar {
            height: 6px; /* tipis */
            }
            .stepper::-webkit-scrollbar-thumb {
                background-color: #ccc;
                border-radius: 3px;
            }
            .step {
                width: 150px;
                text-align: center;
                position: relative;
            }
            .step:not(:last-child)::after {
                content: '';
                position: absolute;
                top: 20px;
                right: -50%;
                width: 100%;
                height: 4px;
                background-color: #ccc;
                z-index: 0;
            }
            .step.completed:not(:last-child)::after {
                background-color: #3c6dbd;
            }
            .step-icon {
                width: 36px;
                height: 36px;
                line-height: 36px;
                border-radius: 50%;
                background: #ccc;
                display: inline-block;
                z-index: 1;
                position: relative;
                color: white;
                font-weight: bold;
            }
            .step.active .step-icon {
                background: #3c6dbd;
            }
            .step-label {
                margin-top: 8px;
                font-size: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6px;
                color: #333;
            }
            .step-label {
                color: #3c6dbd !important;
                text-decoration: none;
                margin: 0;
                padding: 0;
            }
            .step-label-not-active {
                color: #CCCCCC !important;
            }
            .ag-theme-quartz .ag-header {
                background-color: #3c6dbd !important;
            }
            .ag-theme-quartz .ag-header-cell-label {
                color: #ffffff !important;
            }
            .ag-theme-quartz .ag-icon-filter {
                color: #ffffff !important;
            } 
            .rotate-down {
                transform: rotate(90deg);
                transition: transform 0.3s ease;
            }
            .rotate-right {
                transform: rotate(0deg);
                transition: transform 0.3s ease;
            }
            .header-table {
                background-color: #3c6dbd !important;
                color: #fff !important;
            }
        `)
        .appendTo("head");
    var $stepperWrapper = $('<div class="d-flex border-bottom border-2 pb-2"><div class="stepper"></div></div>');
    var $stepper = $stepperWrapper.find(".stepper");
    steps.forEach(function (step, i) {
        var isActive = step.number === currentStep;
        var isCompleted = step.number < currentStep;
        var stepClass = isActive ? "active" : isCompleted ? "completed" : "";
        var icon, labelContent, html;
        if (isActive) {
            icon = `<div class="step-icon bg-success">${step.number}</div>`;
            labelContent = `<div class="step-label"><p class="text-success mb-1"><i class="fa-solid ${step.icon} me-1 text-success"></i> ${step.label}</p></div>`;
            html = `<div class="step ${stepClass} text-success">${icon}${labelContent}</div>`;
        } else if (isCompleted) {
            icon = `<div class="step-icon" style="background: #3c6dbd;">${step.number}</div>`;
            labelContent = `<div class="step-label"><a href="${step.url}" class="text-primary"><i class="fa-solid ${step.icon} me-1"></i>${step.label}</a></div>`;
            html = `<div class="step ${stepClass}">${icon}${labelContent}</div>`;
        } else {
            icon = `<div class="step-icon">${step.number}</div>`;
            labelContent = `<div class="step-label-not-active"><p style="margin: 0;"><i class="fa-solid ${step.icon} me-1"></i>${step.label}</p></div>`;
            html = `<div class="step ${stepClass} text-secondary">${icon}${labelContent}</div>`;
        }
        $stepper.append(html);
    });
    $(".content-header .container-fluid .row").append($stepperWrapper);
    $("#btn-action").hide();
    $("#btn-cancel").html('<i class="fa-solid fa-ban"></i></i> Cancel');
    const $cancelButton = $("#btn-cancel");
    const idAktifitas = $("#x_idAktifitas").val();

    // --- log aktivitas start ---
    $('#el_SubAktivitasNilaiBLdanALRTW_lastUpdatedBy').addClass('d-flex gap-3');
    $('#el_SubAktivitasNilaiBLdanALRTW_lastUpdatedBy').append(`
        <button type="button" class="btn btn-primary ew-btn ps-2" expand-log="false">
            <i class="fa-solid fa-caret-right fa-2xl me-2 caret-icon rotate-right"></i>
            Log History
            <i class="fa-solid fa-clock-rotate-left ms-1"></i> 
        </button>
    `);
    $(document).on('click', 'button[expand-log]', function () {
        const $btn = $(this);
        const isExpanded = $btn.attr('expand-log') === 'true';
        const $row = $('#log-table-row');
        const $wrapper = $('#log-table-wrapper');
        const $caret = $btn.find('.caret-icon');
        if (!isExpanded) {
            $btn.attr('expand-log', 'true');
            $row.removeClass('d-none');
            setTimeout(() => {
                $wrapper.css({
                    maxHeight: '500px'
                });
            }, 10);
            $caret.removeClass('rotate-right').addClass('rotate-down');
        } else {
            $btn.attr('expand-log', 'false');
            $wrapper.css({
                maxHeight: '0'
            });
            setTimeout(() => {
                $row.addClass('d-none');
            }, 600);
            $caret.removeClass('rotate-down').addClass('rotate-right');
        }
    });
    if (idAktivitas && idAktivitas !== "0") {
        $.ajax({
            url: parent_url + `api/LookUpList/sub-aktivitas/startup?idAktivitas=${idAktivitas}`,
            type: 'GET',
            success: function(response) {
                // cek status
                if ($cancelButton.length){
                    let status = response.StatusAktivitas;
                    currentStatusAktivitas = status;
                    let $customButtons = ``;
                    switch (status) {
                        case "Waiting":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-draft">
                                    <i class="fas fa-save"></i> Save
                                </button>
                            `;
                            break;
                        case "Draft":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-draft">
                                    <i class="fas fa-save"></i> Save
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completed">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `
                            break;
                        case "Completed":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-editing">
                                    <i class="fa-solid fa-pen-to-square"></i> Edit
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completedEdit">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `;
                            break;
                        case "Editing":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-editing">
                                    <i class="fa-solid fa-pen-to-square"></i> Edit
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completedEdit">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `;
                                break;
                        case "Completed Edit":
                            if (userLevel === '4'){
                                $customButtons = `
                                    <button type="button" class="btn btn-warning ew-btn ml-2" id="btn-reverse-status">
                                        <i class="fa-solid fa-pen-to-square"></i> Edit 
                                    </button>
                                `;
                            }
                        break;
                    }
                    $cancelButton.before($customButtons);
                }

                // Cek is editable
                if(!response.IsEditable || response.StatusAktivitas === "Completed Edit"){
                    $("#btn-draft").hide();
                    $("#btn-editing").hide();
                    $("#btn-completed").hide();
                    $("#btn-completedEdit").hide();
                    $('input, select, textarea').prop('disabled', true);
                    $('#catatanReverseStatusEditing').prop('disabled', false);
                }

                // Log
                const mappedData = response.LogAktivitas.map(item => ({
                    Aktivitas: item.Aktivitas,
                    Username: item.UserName,
                    StatusAktivitas: item.StatusAktivitas,
                    Tanggal: item.Tanggal,
                    Catatan: item.Catatan
                }));
                $.getScript('https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js', function () {
                    const gridOptions = {
                        rowData: mappedData,
                        columnDefs: [
                            {
                                headerName: 'No.',
                                valueGetter: 'node.rowIndex + 1',
                                width: 80,
                                filter: false
                            },
                            {
                                headerName: 'Aktivitas',
                                field: 'Aktivitas',
                                flex: 1
                            },
                            {
                                headerName: 'Username',
                                field: 'Username',
                                flex: 1
                            },
                            {
                                headerName: 'Status Aktivitas',
                                field: 'StatusAktivitas',
                                flex: 1
                            },
                            {
                                headerName: 'Tanggal',
                                field: 'Tanggal',
                                flex: 1
                            },
                            {
                                headerName: 'Catatan',
                                field: 'Catatan',
                                flex: 1
                            }
                        ],
                        defaultColDef: {
                            sortable: false,
                            suppressMovable: true,
                            filter: true,
                            resizable: false
                        },
                        rowSelection: 'multiple',
                        suppressRowClickSelection: true,
                        pagination: true,
                        paginationPageSize: 10
                    };
                    const myGridElement = document.querySelector('#myGrid');
                    agGrid.createGrid(myGridElement, gridOptions);
                });
            },
            error: function(xhr, status, error) {
                ew.alert(xhr.responseJSON.message ?? "Terjadi kesalahan dalam memuat data");
            }
        });
    } else {
        console.warn("Skipping startup API: Invalid IdAktivitas");
        $('button[expand-log]').hide(); 
        $("#btn-draft, #btn-editing, #btn-completed, #btn-completedEdit").hide();
        $('input, select, textarea').prop('disabled', true);
    }
    // --- log aktivitas end ---
    $('#x_BL_KL_Obs, #x_BL_KL_15, #x_BL_Barrels, #x_BL_MT, #x_BL_LT, #x_AL_KL_Obs, #x_AL_KL_15, #x_AL_Barrels, #x_AL_LT, #x_AL_MT')
        .attr('inputmode', 'numeric')
        .on('input', function () {
            let val = $(this).val();
            let isNegative = val.startsWith('-');
            val = val.replace(',', '.');
            val = val.replace(/[^0-9.]/g, '');
            const parts = val.split('.');
            if (parts.length > 2) {
                val = parts[0] + '.' + parts.slice(1).join('');
            }
            if (isNegative) {
                val = '-' + val;
            }
            $(this).val(val);
        });
    $.ajax({
        url: parent_url + "api/LookUpList/GetRValueKonsinyasi",
        type: "GET",
        data: {
            idAktivitas: idAktivitas,
            Menu: "BLSFAL",
            Jenis: "RTW"
        },
        success: function(rs){
            if (rs.success) {

                ["R1"].forEach(key => {
                    let val = parseFloat(rs[key]);
                    const el = document.getElementById(key);
                    if (!isNaN(val)) {
                        let color = "";
                        val = val * 100;
                        if (key === "R2") {
                            if (val < -0.07) {
                                color = "#ba313b";
                            } else if (val >= -0.07 && val <= 0) {
                                color = "#3c6dbd";
                            } else {
                                color = "#198754";
                            }
                        } else {
                            if (val < -0.125) {
                                color = "#ba313b";
                            } else if (val >= -0.125 && val <= 0) {
                                color = "#3c6dbd";
                            } else {
                                color = "#198754";
                            }
                        }
                        el.textContent = val.toFixed(3) + "%";
                        el.style.color = color;
                    }
                });   
            }
        },
        error: function (xhr, status, error) {
            console.log("Error: " + xhr.responseText);
        }
    });
    let uploadModal = `<div class="modal fade" id="warningValueModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="warningValueModalTitle">Konfirmasi Simpan Data</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id='warningValueText'>
            Konfirmasi 
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-cancel-modal">Batal</button>
            <button type="button" class="btn btn-primary" id="btn-confirm-modal">Lanjutkan</button>
            </div>
        </div>
        </div>
    </div>`
    $("body").append(uploadModal);
    $("#btn-cancel-modal").click(function (event) {
        event.preventDefault();
        $("#warningValueModal").modal("hide");
    });
        let reverseStatusModal = `<div class="modal fade" id="confirmReverseStatusEditingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                        <h1 class="modal-title fs-5" id="confirmReverseStatusEditingModalTitle">Konfirmasi Kembalikan Status</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form id="reverseStatusEditingModalForm">
                        <div class="modal-body px-2 py-1">
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Catatan:</label>
                                <textarea class="form-control" id="catatanReverseStatusEditing" required rows="4"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnReverseStatusEditingModalCancel">Batal</button>
                            <button type="submit" class="btn btn-primary" id="btnReverseStatusEditingModalSubmit">Lanjutkan</button>
                        </div>
                        </form>
                    </div>
                    </div>
                </div>`
    $("body").append(reverseStatusModal);
    $("#btnReverseStatusEditingModalCancel").click(function (event) {
        event.preventDefault();
        $("#confirmReverseStatusEditingModal").modal("hide");
    });
    $(document).on("click", "#btn-reverse-status", function () {
        $("#confirmReverseStatusEditingModal").modal("show");
    });
});
</script>
