@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiActualPumpingEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiActualPumpingEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasNilaiActualPumpingEdit.ShowPageHeader()
@subAktivitasNilaiActualPumpingEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasNilaiActualPumpingedit" id="fSubAktivitasNilaiActualPumpingedit" class="@(subAktivitasNilaiActualPumpingEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiActualPumpingEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiActualPumping: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasNilaiActualPumpingedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiActualPumpingedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null], fields.idAktifitas.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null], fields.StatusAktivitas.isInvalid],
            ["ActualFlowrate", [fields.ActualFlowrate.visible && fields.ActualFlowrate.required ? ew.Validators.required(fields.ActualFlowrate.caption) : null], fields.ActualFlowrate.isInvalid],
            ["ActualPressure", [fields.ActualPressure.visible && fields.ActualPressure.required ? ew.Validators.required(fields.ActualPressure.caption) : null], fields.ActualPressure.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasNilaiActualPumpingEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasNilaiActualPumpingEdit.OldKeyName)" value="@Html.Raw(subAktivitasNilaiActualPumpingEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasNilaiActualPumpingEdit.id.Visible) { // subAktivitasNilaiActualPumpingEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subAktivitasNilaiActualPumpingEdit.id.RowAttributes)>
        <label id="elh_SubAktivitasNilaiActualPumping_id" class="@(subAktivitasNilaiActualPumpingEdit.LeftColumnClass)">@Html.Raw(subAktivitasNilaiActualPumpingEdit.id.Caption)@Html.Raw(subAktivitasNilaiActualPumpingEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiActualPumpingEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiActualPumpingEdit.id.CellAttributes)>
<span id="el_SubAktivitasNilaiActualPumping_id">
<span @Html.Raw(subAktivitasNilaiActualPumpingEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasNilaiActualPumpingEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasNilaiActualPumping" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasNilaiActualPumpingEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasNilaiActualPumpingEdit.id.Visible (end) *@
@if (subAktivitasNilaiActualPumpingEdit.idProses.Visible) { // subAktivitasNilaiActualPumpingEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasNilaiActualPumpingEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasNilaiActualPumping_idProses" for="x_idProses" class="@(subAktivitasNilaiActualPumpingEdit.LeftColumnClass)">@Html.Raw(subAktivitasNilaiActualPumpingEdit.idProses.Caption)@Html.Raw(subAktivitasNilaiActualPumpingEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiActualPumpingEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiActualPumpingEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasNilaiActualPumping_idProses">
<input type="@(subAktivitasNilaiActualPumpingEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubAktivitasNilaiActualPumping" data-field="x_idProses" value="@Html.Raw(subAktivitasNilaiActualPumpingEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiActualPumpingEdit.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiActualPumpingEdit.idProses.FormatPattern)"@Html.Raw(subAktivitasNilaiActualPumpingEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subAktivitasNilaiActualPumpingEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiActualPumpingEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasNilaiActualPumpingEdit.idProses.Visible (end) *@
@if (subAktivitasNilaiActualPumpingEdit.idAktifitas.Visible) { // subAktivitasNilaiActualPumpingEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasNilaiActualPumpingEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasNilaiActualPumping_idAktifitas" for="x_idAktifitas" class="@(subAktivitasNilaiActualPumpingEdit.LeftColumnClass)">@Html.Raw(subAktivitasNilaiActualPumpingEdit.idAktifitas.Caption)@Html.Raw(subAktivitasNilaiActualPumpingEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiActualPumpingEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiActualPumpingEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasNilaiActualPumping_idAktifitas">
<input type="@(subAktivitasNilaiActualPumpingEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubAktivitasNilaiActualPumping" data-field="x_idAktifitas" value="@Html.Raw(subAktivitasNilaiActualPumpingEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiActualPumpingEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiActualPumpingEdit.idAktifitas.FormatPattern)"@Html.Raw(subAktivitasNilaiActualPumpingEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subAktivitasNilaiActualPumpingEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiActualPumpingEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasNilaiActualPumpingEdit.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiActualPumpingEdit.NoReferensi.Visible) { // subAktivitasNilaiActualPumpingEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasNilaiActualPumpingEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasNilaiActualPumping_NoReferensi" for="x_NoReferensi" class="@(subAktivitasNilaiActualPumpingEdit.LeftColumnClass)">@Html.Raw(subAktivitasNilaiActualPumpingEdit.NoReferensi.Caption)@Html.Raw(subAktivitasNilaiActualPumpingEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiActualPumpingEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiActualPumpingEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasNilaiActualPumping_NoReferensi">
<input type="@(subAktivitasNilaiActualPumpingEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasNilaiActualPumping" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasNilaiActualPumpingEdit.NoReferensi.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiActualPumpingEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiActualPumpingEdit.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasNilaiActualPumpingEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasNilaiActualPumpingEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiActualPumpingEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasNilaiActualPumpingEdit.NoReferensi.Visible (end) *@
@if (subAktivitasNilaiActualPumpingEdit.StatusAktivitas.Visible) { // subAktivitasNilaiActualPumpingEdit.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subAktivitasNilaiActualPumpingEdit.StatusAktivitas.RowAttributes)>
        <label id="elh_SubAktivitasNilaiActualPumping_StatusAktivitas" class="@(subAktivitasNilaiActualPumpingEdit.LeftColumnClass)">@Html.Raw(subAktivitasNilaiActualPumpingEdit.StatusAktivitas.Caption)@Html.Raw(subAktivitasNilaiActualPumpingEdit.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiActualPumpingEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiActualPumpingEdit.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasNilaiActualPumping_StatusAktivitas">
<span @Html.Raw(subAktivitasNilaiActualPumpingEdit.StatusAktivitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasNilaiActualPumpingEdit.StatusAktivitas.DisplayValue(subAktivitasNilaiActualPumpingEdit.StatusAktivitas.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasNilaiActualPumping" data-field="x_StatusAktivitas" data-hidden="1" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@Html.Raw(HtmlEncode(subAktivitasNilaiActualPumpingEdit.StatusAktivitas.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasNilaiActualPumpingEdit.StatusAktivitas.Visible (end) *@
@if (subAktivitasNilaiActualPumpingEdit.ActualFlowrate.Visible) { // subAktivitasNilaiActualPumpingEdit.ActualFlowrate.Visible (begin)
    <div id="r_ActualFlowrate" @Html.Raw(subAktivitasNilaiActualPumpingEdit.ActualFlowrate.RowAttributes)>
        <label id="elh_SubAktivitasNilaiActualPumping_ActualFlowrate" for="x_ActualFlowrate" class="@(subAktivitasNilaiActualPumpingEdit.LeftColumnClass)">@Html.Raw(subAktivitasNilaiActualPumpingEdit.ActualFlowrate.Caption)@Html.Raw(subAktivitasNilaiActualPumpingEdit.ActualFlowrate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiActualPumpingEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiActualPumpingEdit.ActualFlowrate.CellAttributes)>
<span id="el_SubAktivitasNilaiActualPumping_ActualFlowrate">
<input type="@(subAktivitasNilaiActualPumpingEdit.ActualFlowrate.InputTextType)" name="x_ActualFlowrate" id="x_ActualFlowrate" data-table="SubAktivitasNilaiActualPumping" data-field="x_ActualFlowrate" value="@Html.Raw(subAktivitasNilaiActualPumpingEdit.ActualFlowrate.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiActualPumpingEdit.ActualFlowrate.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiActualPumpingEdit.ActualFlowrate.FormatPattern)"@Html.Raw(subAktivitasNilaiActualPumpingEdit.ActualFlowrate.EditAttributes) aria-describedby="x_ActualFlowrate_help">
@Html.Raw(subAktivitasNilaiActualPumpingEdit.ActualFlowrate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiActualPumpingEdit.ActualFlowrate.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasNilaiActualPumpingEdit.ActualFlowrate.Visible (end) *@
@if (subAktivitasNilaiActualPumpingEdit.ActualPressure.Visible) { // subAktivitasNilaiActualPumpingEdit.ActualPressure.Visible (begin)
    <div id="r_ActualPressure" @Html.Raw(subAktivitasNilaiActualPumpingEdit.ActualPressure.RowAttributes)>
        <label id="elh_SubAktivitasNilaiActualPumping_ActualPressure" for="x_ActualPressure" class="@(subAktivitasNilaiActualPumpingEdit.LeftColumnClass)">@Html.Raw(subAktivitasNilaiActualPumpingEdit.ActualPressure.Caption)@Html.Raw(subAktivitasNilaiActualPumpingEdit.ActualPressure.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiActualPumpingEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiActualPumpingEdit.ActualPressure.CellAttributes)>
<span id="el_SubAktivitasNilaiActualPumping_ActualPressure">
<input type="@(subAktivitasNilaiActualPumpingEdit.ActualPressure.InputTextType)" name="x_ActualPressure" id="x_ActualPressure" data-table="SubAktivitasNilaiActualPumping" data-field="x_ActualPressure" value="@Html.Raw(subAktivitasNilaiActualPumpingEdit.ActualPressure.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiActualPumpingEdit.ActualPressure.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiActualPumpingEdit.ActualPressure.FormatPattern)"@Html.Raw(subAktivitasNilaiActualPumpingEdit.ActualPressure.EditAttributes) aria-describedby="x_ActualPressure_help">
@Html.Raw(subAktivitasNilaiActualPumpingEdit.ActualPressure.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiActualPumpingEdit.ActualPressure.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasNilaiActualPumpingEdit.ActualPressure.Visible (end) *@
@if (subAktivitasNilaiActualPumpingEdit.userInput.Visible) { // subAktivitasNilaiActualPumpingEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasNilaiActualPumpingEdit.userInput.RowAttributes)>
        <label id="elh_SubAktivitasNilaiActualPumping_userInput" for="x_userInput" class="@(subAktivitasNilaiActualPumpingEdit.LeftColumnClass)">@Html.Raw(subAktivitasNilaiActualPumpingEdit.userInput.Caption)@Html.Raw(subAktivitasNilaiActualPumpingEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiActualPumpingEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiActualPumpingEdit.userInput.CellAttributes)>
<span id="el_SubAktivitasNilaiActualPumping_userInput">
<input type="@(subAktivitasNilaiActualPumpingEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasNilaiActualPumping" data-field="x_userInput" value="@Html.Raw(subAktivitasNilaiActualPumpingEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiActualPumpingEdit.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiActualPumpingEdit.userInput.FormatPattern)"@Html.Raw(subAktivitasNilaiActualPumpingEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasNilaiActualPumpingEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiActualPumpingEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasNilaiActualPumpingEdit.userInput.Visible (end) *@
@if (subAktivitasNilaiActualPumpingEdit.etlDate.Visible) { // subAktivitasNilaiActualPumpingEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasNilaiActualPumpingEdit.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasNilaiActualPumping_etlDate" for="x_etlDate" class="@(subAktivitasNilaiActualPumpingEdit.LeftColumnClass)">@Html.Raw(subAktivitasNilaiActualPumpingEdit.etlDate.Caption)@Html.Raw(subAktivitasNilaiActualPumpingEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiActualPumpingEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiActualPumpingEdit.etlDate.CellAttributes)>
<span id="el_SubAktivitasNilaiActualPumping_etlDate">
<input type="@(subAktivitasNilaiActualPumpingEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasNilaiActualPumping" data-field="x_etlDate" value="@Html.Raw(subAktivitasNilaiActualPumpingEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiActualPumpingEdit.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiActualPumpingEdit.etlDate.FormatPattern)"@Html.Raw(subAktivitasNilaiActualPumpingEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasNilaiActualPumpingEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiActualPumpingEdit.etlDate.GetErrorMessage())</div>
@if (!subAktivitasNilaiActualPumpingEdit.etlDate.ReadOnly && !subAktivitasNilaiActualPumpingEdit.etlDate.Disabled && !subAktivitasNilaiActualPumpingEdit.etlDate.EditAttrs.Is("readonly") && !subAktivitasNilaiActualPumpingEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasNilaiActualPumpingedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasNilaiActualPumpingedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasNilaiActualPumpingEdit.etlDate.Visible (end) *@
@if (subAktivitasNilaiActualPumpingEdit.LastUpdatedBy.Visible) { // subAktivitasNilaiActualPumpingEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasNilaiActualPumpingEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasNilaiActualPumping_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasNilaiActualPumpingEdit.LeftColumnClass)">@Html.Raw(subAktivitasNilaiActualPumpingEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasNilaiActualPumpingEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiActualPumpingEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiActualPumpingEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasNilaiActualPumping_LastUpdatedBy">
<input type="@(subAktivitasNilaiActualPumpingEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasNilaiActualPumping" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasNilaiActualPumpingEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiActualPumpingEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiActualPumpingEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasNilaiActualPumpingEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasNilaiActualPumpingEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiActualPumpingEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasNilaiActualPumpingEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiActualPumpingEdit.lastUpdatedDate.Visible) { // subAktivitasNilaiActualPumpingEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasNilaiActualPumpingEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasNilaiActualPumping_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasNilaiActualPumpingEdit.LeftColumnClass)">@Html.Raw(subAktivitasNilaiActualPumpingEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasNilaiActualPumpingEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiActualPumpingEdit.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiActualPumpingEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasNilaiActualPumping_lastUpdatedDate">
<input type="@(subAktivitasNilaiActualPumpingEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasNilaiActualPumping" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasNilaiActualPumpingEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiActualPumpingEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiActualPumpingEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasNilaiActualPumpingEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasNilaiActualPumpingEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiActualPumpingEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasNilaiActualPumpingEdit.lastUpdatedDate.ReadOnly && !subAktivitasNilaiActualPumpingEdit.lastUpdatedDate.Disabled && !subAktivitasNilaiActualPumpingEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasNilaiActualPumpingEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasNilaiActualPumpingedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasNilaiActualPumpingedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasNilaiActualPumpingEdit.lastUpdatedDate.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasNilaiActualPumpingEdit.CloseRecordset(); }
@Html.Raw(subAktivitasNilaiActualPumpingEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasNilaiActualPumpingEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasNilaiActualPumpingedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasNilaiActualPumpingedit" data-href="@AppPath(subAktivitasNilaiActualPumpingEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasNilaiActualPumpingEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasNilaiActualPumpingEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasNilaiActualPumping");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
