@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputKeberangkatanRtwDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputKeberangkatanRtwDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputKeberangkatanRtwDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputKeberangkatanRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fSubAktivitasFormInputKeberangkatanRTWdelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputKeberangkatanRTWdelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasFormInputKeberangkatanRtwDelete.ShowPageHeader()
@subAktivitasFormInputKeberangkatanRtwDelete.ShowMessages()
<form name="fSubAktivitasFormInputKeberangkatanRTWdelete" id="fSubAktivitasFormInputKeberangkatanRTWdelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in subAktivitasFormInputKeberangkatanRtwDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(subAktivitasFormInputKeberangkatanRtwDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(subAktivitasFormInputKeberangkatanRtwDelete.TableContainerClass)" style="@(subAktivitasFormInputKeberangkatanRtwDelete.TableContainerStyle)">
<table class="@(subAktivitasFormInputKeberangkatanRtwDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (subAktivitasFormInputKeberangkatanRtwDelete.NoReferensi.Visible) { // subAktivitasFormInputKeberangkatanRtwDelete.NoReferensi.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.NoReferensi.HeaderCellClass)"><span id="elh_SubAktivitasFormInputKeberangkatanRTW_NoReferensi" class="SubAktivitasFormInputKeberangkatanRTW_NoReferensi">@Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.NoReferensi.Caption)</span></th>
} @* subAktivitasFormInputKeberangkatanRtwDelete.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanRtwDelete.idProses.Visible) { // subAktivitasFormInputKeberangkatanRtwDelete.idProses.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.idProses.HeaderCellClass)"><span id="elh_SubAktivitasFormInputKeberangkatanRTW_idProses" class="SubAktivitasFormInputKeberangkatanRTW_idProses">@Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.idProses.Caption)</span></th>
} @* subAktivitasFormInputKeberangkatanRtwDelete.idProses.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanRtwDelete.idAktifitas.Visible) { // subAktivitasFormInputKeberangkatanRtwDelete.idAktifitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.idAktifitas.HeaderCellClass)"><span id="elh_SubAktivitasFormInputKeberangkatanRTW_idAktifitas" class="SubAktivitasFormInputKeberangkatanRTW_idAktifitas">@Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.idAktifitas.Caption)</span></th>
} @* subAktivitasFormInputKeberangkatanRtwDelete.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanRtwDelete.StatusAktivitas.Visible) { // subAktivitasFormInputKeberangkatanRtwDelete.StatusAktivitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.StatusAktivitas.HeaderCellClass)"><span id="elh_SubAktivitasFormInputKeberangkatanRTW_StatusAktivitas" class="SubAktivitasFormInputKeberangkatanRTW_StatusAktivitas">@Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.StatusAktivitas.Caption)</span></th>
} @* subAktivitasFormInputKeberangkatanRtwDelete.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanRtwDelete.LastUpdatedBy.Visible) { // subAktivitasFormInputKeberangkatanRtwDelete.LastUpdatedBy.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.LastUpdatedBy.HeaderCellClass)"><span id="elh_SubAktivitasFormInputKeberangkatanRTW_LastUpdatedBy" class="SubAktivitasFormInputKeberangkatanRTW_LastUpdatedBy">@Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.LastUpdatedBy.Caption)</span></th>
} @* subAktivitasFormInputKeberangkatanRtwDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanRtwDelete.lastUpdatedDate.Visible) { // subAktivitasFormInputKeberangkatanRtwDelete.lastUpdatedDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.lastUpdatedDate.HeaderCellClass)"><span id="elh_SubAktivitasFormInputKeberangkatanRTW_lastUpdatedDate" class="SubAktivitasFormInputKeberangkatanRTW_lastUpdatedDate">@Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.lastUpdatedDate.Caption)</span></th>
} @* subAktivitasFormInputKeberangkatanRtwDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanRtwDelete.Tanggal.Visible) { // subAktivitasFormInputKeberangkatanRtwDelete.Tanggal.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.Tanggal.HeaderCellClass)"><span id="elh_SubAktivitasFormInputKeberangkatanRTW_Tanggal" class="SubAktivitasFormInputKeberangkatanRTW_Tanggal">@Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.Tanggal.Caption)</span></th>
} @* subAktivitasFormInputKeberangkatanRtwDelete.Tanggal.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanRtwDelete.userInput.Visible) { // subAktivitasFormInputKeberangkatanRtwDelete.userInput.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.userInput.HeaderCellClass)"><span id="elh_SubAktivitasFormInputKeberangkatanRTW_userInput" class="SubAktivitasFormInputKeberangkatanRTW_userInput">@Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.userInput.Caption)</span></th>
} @* subAktivitasFormInputKeberangkatanRtwDelete.userInput.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ subAktivitasFormInputKeberangkatanRtwDelete.RecordCount = 0; }
@while (subAktivitasFormInputKeberangkatanRtwDelete.Recordset != null && await subAktivitasFormInputKeberangkatanRtwDelete.Recordset.ReadAsync()) { // DN
    subAktivitasFormInputKeberangkatanRtwDelete.RecordCount++;
    subAktivitasFormInputKeberangkatanRtwDelete.RowCount++;

    // Set row properties
    subAktivitasFormInputKeberangkatanRtwDelete.ResetAttributes();
    subAktivitasFormInputKeberangkatanRtwDelete.RowType = RowType.View; // View

    // Get the field contents
    await subAktivitasFormInputKeberangkatanRtwDelete.LoadRowValues(subAktivitasFormInputKeberangkatanRtwDelete.Recordset);

    // Render row
    await subAktivitasFormInputKeberangkatanRtwDelete.RenderRow();
    <tr @Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.RowAttributes)>
@if (subAktivitasFormInputKeberangkatanRtwDelete.NoReferensi.Visible) { // subAktivitasFormInputKeberangkatanRtwDelete.NoReferensi.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.NoReferensi.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.NoReferensi.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputKeberangkatanRtwDelete.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanRtwDelete.idProses.Visible) { // subAktivitasFormInputKeberangkatanRtwDelete.idProses.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.idProses.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.idProses.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputKeberangkatanRtwDelete.idProses.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanRtwDelete.idAktifitas.Visible) { // subAktivitasFormInputKeberangkatanRtwDelete.idAktifitas.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.idAktifitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.idAktifitas.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputKeberangkatanRtwDelete.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanRtwDelete.StatusAktivitas.Visible) { // subAktivitasFormInputKeberangkatanRtwDelete.StatusAktivitas.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.StatusAktivitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.StatusAktivitas.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputKeberangkatanRtwDelete.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanRtwDelete.LastUpdatedBy.Visible) { // subAktivitasFormInputKeberangkatanRtwDelete.LastUpdatedBy.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.LastUpdatedBy.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.LastUpdatedBy.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputKeberangkatanRtwDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanRtwDelete.lastUpdatedDate.Visible) { // subAktivitasFormInputKeberangkatanRtwDelete.lastUpdatedDate.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.lastUpdatedDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.lastUpdatedDate.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputKeberangkatanRtwDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanRtwDelete.Tanggal.Visible) { // subAktivitasFormInputKeberangkatanRtwDelete.Tanggal.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.Tanggal.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.Tanggal.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputKeberangkatanRtwDelete.Tanggal.Visible (end) *@
@if (subAktivitasFormInputKeberangkatanRtwDelete.userInput.Visible) { // subAktivitasFormInputKeberangkatanRtwDelete.userInput.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.userInput.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputKeberangkatanRtwDelete.userInput.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputKeberangkatanRtwDelete.userInput.Visible (end) *@
    </tr>
}
@{ subAktivitasFormInputKeberangkatanRtwDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(subAktivitasFormInputKeberangkatanRtwDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@subAktivitasFormInputKeberangkatanRtwDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
