@{
    // View
    View = this;

    // Check action result
    if (subAktivitasDataStartPenyaluranStsPyrBbmList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasDataStartPenyaluranStsPyrBbmList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasDataStartPenyaluranStsPyrBbmList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataStartPenyaluranStsPyrBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataStartPenyaluranSTSPyrBBM: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasDataStartPenyaluranStsPyrBbmList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasDataStartPenyaluranStsPyrBbmList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasDataStartPenyaluranStsPyrBbmList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasDataStartPenyaluranStsPyrBbmList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasDataStartPenyaluranStsPyrBbmList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasDataStartPenyaluranStsPyrBbmList.TotalRecords > 0 && subAktivitasDataStartPenyaluranStsPyrBbmList.ExportOptions.Visible) {
    subAktivitasDataStartPenyaluranStsPyrBbmList.ExportOptions.Render("body");
}
@if (subAktivitasDataStartPenyaluranStsPyrBbmList.ImportOptions.Visible) {
    subAktivitasDataStartPenyaluranStsPyrBbmList.ImportOptions.Render("body");
}
@if (subAktivitasDataStartPenyaluranStsPyrBbmList.SearchOptions.Visible) {
    subAktivitasDataStartPenyaluranStsPyrBbmList.SearchOptions.Render("body");
}
@if (subAktivitasDataStartPenyaluranStsPyrBbmList.FilterOptions.Visible) {
    subAktivitasDataStartPenyaluranStsPyrBbmList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasDataStartPenyaluranStsPyrBbmList.IsModal) {
<form name="fSubAktivitasDataStartPenyaluranSTSPyrBBMsrch" id="fSubAktivitasDataStartPenyaluranSTSPyrBBMsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasDataStartPenyaluranSTSPyrBBMsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasDataStartPenyaluranStsPyrBbmList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataStartPenyaluranStsPyrBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataStartPenyaluranSTSPyrBBM: currentTable } });
var currentForm;
var fSubAktivitasDataStartPenyaluranSTSPyrBBMsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasDataStartPenyaluranSTSPyrBBMsrch")
        .setPageId("list")
@if (subAktivitasDataStartPenyaluranStsPyrBbmList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasDataStartPenyaluranStsPyrBbmList.IsExport() && Empty(subAktivitasDataStartPenyaluranStsPyrBbmList.CurrentAction) && subAktivitasDataStartPenyaluranStsPyrBbmList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasDataStartPenyaluranStsPyrBbmList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasDataStartPenyaluranStsPyrBbmList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasDataStartPenyaluranStsPyrBbmList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasDataStartPenyaluranSTSPyrBBMsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStartPenyaluranStsPyrBbmList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasDataStartPenyaluranSTSPyrBBMsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStartPenyaluranStsPyrBbmList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasDataStartPenyaluranSTSPyrBBMsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStartPenyaluranStsPyrBbmList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasDataStartPenyaluranSTSPyrBBMsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasDataStartPenyaluranStsPyrBbmList.ShowPageHeader()
@subAktivitasDataStartPenyaluranStsPyrBbmList.ShowMessages()
<main class="list @(subAktivitasDataStartPenyaluranStsPyrBbmList.TotalRecords == 0 && !subAktivitasDataStartPenyaluranStsPyrBbmList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasDataStartPenyaluranStsPyrBbmList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasDataStartPenyaluranStsPyrBbmList.TotalRecords > 0 || !Empty(subAktivitasDataStartPenyaluranStsPyrBbmList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasDataStartPenyaluranStsPyrBbmList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasDataStartPenyaluranStsPyrBbmList.TableGridClass)">
<form name="@(subAktivitasDataStartPenyaluranStsPyrBbmList.FormName)" id="@(subAktivitasDataStartPenyaluranStsPyrBbmList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasDataStartPenyaluranStsPyrBbmList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasDataStartPenyaluranStsPyrBbmList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasDataStartPenyaluranSTSPyrBBM" class="card-body ew-grid-middle-panel @(subAktivitasDataStartPenyaluranStsPyrBbmList.TableContainerClass)" style="@(subAktivitasDataStartPenyaluranStsPyrBbmList.TableContainerStyle)">
@if (subAktivitasDataStartPenyaluranStsPyrBbmList.TotalRecords > 0 || subAktivitasDataStartPenyaluranStsPyrBbmList.IsGridEdit || subAktivitasDataStartPenyaluranStsPyrBbmList.IsMultiEdit) {
<table id="tbl_SubAktivitasDataStartPenyaluranSTSPyrBBMlist" class="@(subAktivitasDataStartPenyaluranStsPyrBbmList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasDataStartPenyaluranStsPyrBbmList.RowType = RowType.Header;

    // Render list options
    await subAktivitasDataStartPenyaluranStsPyrBbmList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasDataStartPenyaluranStsPyrBbmList.ListOptions.RenderHeader("left")
@if (subAktivitasDataStartPenyaluranStsPyrBbmList.id.Visible) { // subAktivitasDataStartPenyaluranStsPyrBbmList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasDataStartPenyaluranStsPyrBbmList.id.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranSTSPyrBBM_id" class="SubAktivitasDataStartPenyaluranSTSPyrBBM_id">@Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasDataStartPenyaluranStsPyrBbmList.id))</div></th>
} @* subAktivitasDataStartPenyaluranStsPyrBbmList.id.Visible (end) *@
@if (subAktivitasDataStartPenyaluranStsPyrBbmList.NoReferensi.Visible) { // subAktivitasDataStartPenyaluranStsPyrBbmList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasDataStartPenyaluranStsPyrBbmList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranSTSPyrBBM_NoReferensi" class="SubAktivitasDataStartPenyaluranSTSPyrBBM_NoReferensi">@Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasDataStartPenyaluranStsPyrBbmList.NoReferensi))</div></th>
} @* subAktivitasDataStartPenyaluranStsPyrBbmList.NoReferensi.Visible (end) *@
@if (subAktivitasDataStartPenyaluranStsPyrBbmList.idProses.Visible) { // subAktivitasDataStartPenyaluranStsPyrBbmList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasDataStartPenyaluranStsPyrBbmList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranSTSPyrBBM_idProses" class="SubAktivitasDataStartPenyaluranSTSPyrBBM_idProses">@Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasDataStartPenyaluranStsPyrBbmList.idProses))</div></th>
} @* subAktivitasDataStartPenyaluranStsPyrBbmList.idProses.Visible (end) *@
@if (subAktivitasDataStartPenyaluranStsPyrBbmList.idAktifitas.Visible) { // subAktivitasDataStartPenyaluranStsPyrBbmList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasDataStartPenyaluranStsPyrBbmList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranSTSPyrBBM_idAktifitas" class="SubAktivitasDataStartPenyaluranSTSPyrBBM_idAktifitas">@Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasDataStartPenyaluranStsPyrBbmList.idAktifitas))</div></th>
} @* subAktivitasDataStartPenyaluranStsPyrBbmList.idAktifitas.Visible (end) *@
@if (subAktivitasDataStartPenyaluranStsPyrBbmList.StatusAktivitas.Visible) { // subAktivitasDataStartPenyaluranStsPyrBbmList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasDataStartPenyaluranStsPyrBbmList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranSTSPyrBBM_StatusAktivitas" class="SubAktivitasDataStartPenyaluranSTSPyrBBM_StatusAktivitas">@Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasDataStartPenyaluranStsPyrBbmList.StatusAktivitas))</div></th>
} @* subAktivitasDataStartPenyaluranStsPyrBbmList.StatusAktivitas.Visible (end) *@
@if (subAktivitasDataStartPenyaluranStsPyrBbmList.LastUpdatedBy.Visible) { // subAktivitasDataStartPenyaluranStsPyrBbmList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasDataStartPenyaluranStsPyrBbmList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranSTSPyrBBM_LastUpdatedBy" class="SubAktivitasDataStartPenyaluranSTSPyrBBM_LastUpdatedBy">@Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasDataStartPenyaluranStsPyrBbmList.LastUpdatedBy))</div></th>
} @* subAktivitasDataStartPenyaluranStsPyrBbmList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasDataStartPenyaluranStsPyrBbmList.lastUpdatedDate.Visible) { // subAktivitasDataStartPenyaluranStsPyrBbmList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasDataStartPenyaluranStsPyrBbmList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranSTSPyrBBM_lastUpdatedDate" class="SubAktivitasDataStartPenyaluranSTSPyrBBM_lastUpdatedDate">@Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasDataStartPenyaluranStsPyrBbmList.lastUpdatedDate))</div></th>
} @* subAktivitasDataStartPenyaluranStsPyrBbmList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasDataStartPenyaluranStsPyrBbmList.Tanggal.Visible) { // subAktivitasDataStartPenyaluranStsPyrBbmList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasDataStartPenyaluranStsPyrBbmList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranSTSPyrBBM_Tanggal" class="SubAktivitasDataStartPenyaluranSTSPyrBBM_Tanggal">@Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasDataStartPenyaluranStsPyrBbmList.Tanggal))</div></th>
} @* subAktivitasDataStartPenyaluranStsPyrBbmList.Tanggal.Visible (end) *@
@if (subAktivitasDataStartPenyaluranStsPyrBbmList.userInput.Visible) { // subAktivitasDataStartPenyaluranStsPyrBbmList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasDataStartPenyaluranStsPyrBbmList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranSTSPyrBBM_userInput" class="SubAktivitasDataStartPenyaluranSTSPyrBBM_userInput">@Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasDataStartPenyaluranStsPyrBbmList.userInput))</div></th>
} @* subAktivitasDataStartPenyaluranStsPyrBbmList.userInput.Visible (end) *@
@if (subAktivitasDataStartPenyaluranStsPyrBbmList.etlDate.Visible) { // subAktivitasDataStartPenyaluranStsPyrBbmList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasDataStartPenyaluranStsPyrBbmList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranSTSPyrBBM_etlDate" class="SubAktivitasDataStartPenyaluranSTSPyrBBM_etlDate">@Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasDataStartPenyaluranStsPyrBbmList.etlDate))</div></th>
} @* subAktivitasDataStartPenyaluranStsPyrBbmList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasDataStartPenyaluranStsPyrBbmList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasDataStartPenyaluranStsPyrBbmList.PageNumber)">
@{
    await subAktivitasDataStartPenyaluranStsPyrBbmList.SetupGrid();
    bool eof = subAktivitasDataStartPenyaluranStsPyrBbmList.Recordset == null; // DN
}
@while (subAktivitasDataStartPenyaluranStsPyrBbmList.RecordCount < subAktivitasDataStartPenyaluranStsPyrBbmList.StopRecord || SameString(subAktivitasDataStartPenyaluranStsPyrBbmList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasDataStartPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") &&
        (!subAktivitasDataStartPenyaluranStsPyrBbmList.IsGridAdd || subAktivitasDataStartPenyaluranStsPyrBbmList.CurrentMode == "copy") &&
        (!((subAktivitasDataStartPenyaluranStsPyrBbmList.IsCopy || subAktivitasDataStartPenyaluranStsPyrBbmList.IsAdd) && subAktivitasDataStartPenyaluranStsPyrBbmList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasDataStartPenyaluranStsPyrBbmList.Recordset.ReadAsync();
    subAktivitasDataStartPenyaluranStsPyrBbmList.RecordCount++;
    if (subAktivitasDataStartPenyaluranStsPyrBbmList.RecordCount >= subAktivitasDataStartPenyaluranStsPyrBbmList.StartRecord) {
        await subAktivitasDataStartPenyaluranStsPyrBbmList.SetupRow();
    <tr @Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasDataStartPenyaluranStsPyrBbmList.ListOptions.RenderBody("left", subAktivitasDataStartPenyaluranStsPyrBbmList.RowCount)
    @if (subAktivitasDataStartPenyaluranStsPyrBbmList.id.Visible) { // subAktivitasDataStartPenyaluranStsPyrBbmList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.id.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranStsPyrBbmList.RowCount)_SubAktivitasDataStartPenyaluranSTSPyrBBM_id" class="el_SubAktivitasDataStartPenyaluranSTSPyrBBM_id">
<span @Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.id.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranStsPyrBbmList.id.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranStsPyrBbmList.NoReferensi.Visible) { // subAktivitasDataStartPenyaluranStsPyrBbmList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranStsPyrBbmList.RowCount)_SubAktivitasDataStartPenyaluranSTSPyrBBM_NoReferensi" class="el_SubAktivitasDataStartPenyaluranSTSPyrBBM_NoReferensi">
<span @Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranStsPyrBbmList.NoReferensi.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranStsPyrBbmList.idProses.Visible) { // subAktivitasDataStartPenyaluranStsPyrBbmList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.idProses.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranStsPyrBbmList.RowCount)_SubAktivitasDataStartPenyaluranSTSPyrBBM_idProses" class="el_SubAktivitasDataStartPenyaluranSTSPyrBBM_idProses">
<span @Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranStsPyrBbmList.idProses.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranStsPyrBbmList.idAktifitas.Visible) { // subAktivitasDataStartPenyaluranStsPyrBbmList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranStsPyrBbmList.RowCount)_SubAktivitasDataStartPenyaluranSTSPyrBBM_idAktifitas" class="el_SubAktivitasDataStartPenyaluranSTSPyrBBM_idAktifitas">
<span @Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranStsPyrBbmList.idAktifitas.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranStsPyrBbmList.StatusAktivitas.Visible) { // subAktivitasDataStartPenyaluranStsPyrBbmList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranStsPyrBbmList.RowCount)_SubAktivitasDataStartPenyaluranSTSPyrBBM_StatusAktivitas" class="el_SubAktivitasDataStartPenyaluranSTSPyrBBM_StatusAktivitas">
<span @Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranStsPyrBbmList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranStsPyrBbmList.LastUpdatedBy.Visible) { // subAktivitasDataStartPenyaluranStsPyrBbmList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranStsPyrBbmList.RowCount)_SubAktivitasDataStartPenyaluranSTSPyrBBM_LastUpdatedBy" class="el_SubAktivitasDataStartPenyaluranSTSPyrBBM_LastUpdatedBy">
<span @Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranStsPyrBbmList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranStsPyrBbmList.lastUpdatedDate.Visible) { // subAktivitasDataStartPenyaluranStsPyrBbmList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranStsPyrBbmList.RowCount)_SubAktivitasDataStartPenyaluranSTSPyrBBM_lastUpdatedDate" class="el_SubAktivitasDataStartPenyaluranSTSPyrBBM_lastUpdatedDate">
<span @Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranStsPyrBbmList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranStsPyrBbmList.Tanggal.Visible) { // subAktivitasDataStartPenyaluranStsPyrBbmList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.Tanggal.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranStsPyrBbmList.RowCount)_SubAktivitasDataStartPenyaluranSTSPyrBBM_Tanggal" class="el_SubAktivitasDataStartPenyaluranSTSPyrBBM_Tanggal">
<span @Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranStsPyrBbmList.Tanggal.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranStsPyrBbmList.userInput.Visible) { // subAktivitasDataStartPenyaluranStsPyrBbmList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.userInput.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranStsPyrBbmList.RowCount)_SubAktivitasDataStartPenyaluranSTSPyrBBM_userInput" class="el_SubAktivitasDataStartPenyaluranSTSPyrBBM_userInput">
<span @Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranStsPyrBbmList.userInput.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranStsPyrBbmList.etlDate.Visible) { // subAktivitasDataStartPenyaluranStsPyrBbmList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.etlDate.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranStsPyrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranStsPyrBbmList.RowCount)_SubAktivitasDataStartPenyaluranSTSPyrBBM_etlDate" class="el_SubAktivitasDataStartPenyaluranSTSPyrBBM_etlDate">
<span @Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranStsPyrBbmList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasDataStartPenyaluranStsPyrBbmList.ListOptions.RenderBody("right", subAktivitasDataStartPenyaluranStsPyrBbmList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasDataStartPenyaluranStsPyrBbmList.RowIndex, "$rowindex$"))
        subAktivitasDataStartPenyaluranStsPyrBbmList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasDataStartPenyaluranStsPyrBbmList.IsCopy || subAktivitasDataStartPenyaluranStsPyrBbmList.IsAdd) && subAktivitasDataStartPenyaluranStsPyrBbmList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasDataStartPenyaluranStsPyrBbmList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasDataStartPenyaluranStsPyrBbmList.CurrentAction) && !subAktivitasDataStartPenyaluranStsPyrBbmList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasDataStartPenyaluranStsPyrBbmList.CloseRecordset(); }
@if (!subAktivitasDataStartPenyaluranStsPyrBbmList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasDataStartPenyaluranStsPyrBbmList.IsGridAdd && !(subAktivitasDataStartPenyaluranStsPyrBbmList.IsGridEdit && subAktivitasDataStartPenyaluranStsPyrBbmList.ModalGridEdit) && !subAktivitasDataStartPenyaluranStsPyrBbmList.IsMultiEdit) {
@Html.Raw(subAktivitasDataStartPenyaluranStsPyrBbmList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasDataStartPenyaluranStsPyrBbmList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasDataStartPenyaluranStsPyrBbmList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasDataStartPenyaluranStsPyrBbmList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasDataStartPenyaluranStsPyrBbmList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasDataStartPenyaluranStsPyrBbmList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasDataStartPenyaluranSTSPyrBBM");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
