@{
    // View
    View = this;

    // Check action result
    if (subAktivitasDataStopPembongkaranRtwView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasDataStopPembongkaranRtwView.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasDataStopPembongkaranRtwView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @subAktivitasDataStopPembongkaranRtwView.ExportOptions.RenderBody()
    @subAktivitasDataStopPembongkaranRtwView.OtherOptions.RenderBody()
</div>
}
@subAktivitasDataStopPembongkaranRtwView.ShowPageHeader()
@subAktivitasDataStopPembongkaranRtwView.ShowMessages()
<main class="view">
<form name="fSubAktivitasDataStopPembongkaranRTWview" id="fSubAktivitasDataStopPembongkaranRTWview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!subAktivitasDataStopPembongkaranRtwView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataStopPembongkaranRtwView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataStopPembongkaranRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fSubAktivitasDataStopPembongkaranRTWview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasDataStopPembongkaranRTWview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasDataStopPembongkaranRtwView.IsModal)">
<table class="@(subAktivitasDataStopPembongkaranRtwView.TableClass)">
@if (subAktivitasDataStopPembongkaranRtwView.id.Visible) { // subAktivitasDataStopPembongkaranRtwView.id.Visible (begin)
    <tr id="r_id" @Html.Raw(subAktivitasDataStopPembongkaranRtwView.id.RowAttributes)>
        <td class="@(subAktivitasDataStopPembongkaranRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataStopPembongkaranRTW_id">@Html.Raw(subAktivitasDataStopPembongkaranRtwView.id.Caption)</span></td>
        <td data-name="id" @Html.Raw(subAktivitasDataStopPembongkaranRtwView.id.CellAttributes)>
<span id="el_SubAktivitasDataStopPembongkaranRTW_id">
<span @Html.Raw(subAktivitasDataStopPembongkaranRtwView.id.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranRtwView.id.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataStopPembongkaranRtwView.id.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwView.NoReferensi.Visible) { // subAktivitasDataStopPembongkaranRtwView.NoReferensi.Visible (begin)
    <tr id="r_NoReferensi" @Html.Raw(subAktivitasDataStopPembongkaranRtwView.NoReferensi.RowAttributes)>
        <td class="@(subAktivitasDataStopPembongkaranRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataStopPembongkaranRTW_NoReferensi">@Html.Raw(subAktivitasDataStopPembongkaranRtwView.NoReferensi.Caption)</span></td>
        <td data-name="NoReferensi" @Html.Raw(subAktivitasDataStopPembongkaranRtwView.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasDataStopPembongkaranRTW_NoReferensi">
<span @Html.Raw(subAktivitasDataStopPembongkaranRtwView.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranRtwView.NoReferensi.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataStopPembongkaranRtwView.NoReferensi.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwView.idProses.Visible) { // subAktivitasDataStopPembongkaranRtwView.idProses.Visible (begin)
    <tr id="r_idProses" @Html.Raw(subAktivitasDataStopPembongkaranRtwView.idProses.RowAttributes)>
        <td class="@(subAktivitasDataStopPembongkaranRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataStopPembongkaranRTW_idProses">@Html.Raw(subAktivitasDataStopPembongkaranRtwView.idProses.Caption)</span></td>
        <td data-name="idProses" @Html.Raw(subAktivitasDataStopPembongkaranRtwView.idProses.CellAttributes)>
<span id="el_SubAktivitasDataStopPembongkaranRTW_idProses">
<span @Html.Raw(subAktivitasDataStopPembongkaranRtwView.idProses.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranRtwView.idProses.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataStopPembongkaranRtwView.idProses.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwView.idAktifitas.Visible) { // subAktivitasDataStopPembongkaranRtwView.idAktifitas.Visible (begin)
    <tr id="r_idAktifitas" @Html.Raw(subAktivitasDataStopPembongkaranRtwView.idAktifitas.RowAttributes)>
        <td class="@(subAktivitasDataStopPembongkaranRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataStopPembongkaranRTW_idAktifitas">@Html.Raw(subAktivitasDataStopPembongkaranRtwView.idAktifitas.Caption)</span></td>
        <td data-name="idAktifitas" @Html.Raw(subAktivitasDataStopPembongkaranRtwView.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasDataStopPembongkaranRTW_idAktifitas">
<span @Html.Raw(subAktivitasDataStopPembongkaranRtwView.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranRtwView.idAktifitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataStopPembongkaranRtwView.idAktifitas.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwView.StatusAktivitas.Visible) { // subAktivitasDataStopPembongkaranRtwView.StatusAktivitas.Visible (begin)
    <tr id="r_StatusAktivitas" @Html.Raw(subAktivitasDataStopPembongkaranRtwView.StatusAktivitas.RowAttributes)>
        <td class="@(subAktivitasDataStopPembongkaranRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataStopPembongkaranRTW_StatusAktivitas">@Html.Raw(subAktivitasDataStopPembongkaranRtwView.StatusAktivitas.Caption)</span></td>
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasDataStopPembongkaranRtwView.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasDataStopPembongkaranRTW_StatusAktivitas">
<span @Html.Raw(subAktivitasDataStopPembongkaranRtwView.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranRtwView.StatusAktivitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataStopPembongkaranRtwView.StatusAktivitas.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwView.LastUpdatedBy.Visible) { // subAktivitasDataStopPembongkaranRtwView.LastUpdatedBy.Visible (begin)
    <tr id="r_LastUpdatedBy" @Html.Raw(subAktivitasDataStopPembongkaranRtwView.LastUpdatedBy.RowAttributes)>
        <td class="@(subAktivitasDataStopPembongkaranRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataStopPembongkaranRTW_LastUpdatedBy">@Html.Raw(subAktivitasDataStopPembongkaranRtwView.LastUpdatedBy.Caption)</span></td>
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasDataStopPembongkaranRtwView.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasDataStopPembongkaranRTW_LastUpdatedBy">
<span @Html.Raw(subAktivitasDataStopPembongkaranRtwView.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranRtwView.LastUpdatedBy.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataStopPembongkaranRtwView.LastUpdatedBy.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwView.lastUpdatedDate.Visible) { // subAktivitasDataStopPembongkaranRtwView.lastUpdatedDate.Visible (begin)
    <tr id="r_lastUpdatedDate" @Html.Raw(subAktivitasDataStopPembongkaranRtwView.lastUpdatedDate.RowAttributes)>
        <td class="@(subAktivitasDataStopPembongkaranRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataStopPembongkaranRTW_lastUpdatedDate">@Html.Raw(subAktivitasDataStopPembongkaranRtwView.lastUpdatedDate.Caption)</span></td>
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasDataStopPembongkaranRtwView.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasDataStopPembongkaranRTW_lastUpdatedDate">
<span @Html.Raw(subAktivitasDataStopPembongkaranRtwView.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranRtwView.lastUpdatedDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataStopPembongkaranRtwView.lastUpdatedDate.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwView.Tanggal.Visible) { // subAktivitasDataStopPembongkaranRtwView.Tanggal.Visible (begin)
    <tr id="r_Tanggal" @Html.Raw(subAktivitasDataStopPembongkaranRtwView.Tanggal.RowAttributes)>
        <td class="@(subAktivitasDataStopPembongkaranRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataStopPembongkaranRTW_Tanggal">@Html.Raw(subAktivitasDataStopPembongkaranRtwView.Tanggal.Caption)</span></td>
        <td data-name="Tanggal" @Html.Raw(subAktivitasDataStopPembongkaranRtwView.Tanggal.CellAttributes)>
<span id="el_SubAktivitasDataStopPembongkaranRTW_Tanggal">
<span @Html.Raw(subAktivitasDataStopPembongkaranRtwView.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranRtwView.Tanggal.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataStopPembongkaranRtwView.Tanggal.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwView.userInput.Visible) { // subAktivitasDataStopPembongkaranRtwView.userInput.Visible (begin)
    <tr id="r_userInput" @Html.Raw(subAktivitasDataStopPembongkaranRtwView.userInput.RowAttributes)>
        <td class="@(subAktivitasDataStopPembongkaranRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataStopPembongkaranRTW_userInput">@Html.Raw(subAktivitasDataStopPembongkaranRtwView.userInput.Caption)</span></td>
        <td data-name="userInput" @Html.Raw(subAktivitasDataStopPembongkaranRtwView.userInput.CellAttributes)>
<span id="el_SubAktivitasDataStopPembongkaranRTW_userInput">
<span @Html.Raw(subAktivitasDataStopPembongkaranRtwView.userInput.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranRtwView.userInput.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataStopPembongkaranRtwView.userInput.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwView.etlDate.Visible) { // subAktivitasDataStopPembongkaranRtwView.etlDate.Visible (begin)
    <tr id="r_etlDate" @Html.Raw(subAktivitasDataStopPembongkaranRtwView.etlDate.RowAttributes)>
        <td class="@(subAktivitasDataStopPembongkaranRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataStopPembongkaranRTW_etlDate">@Html.Raw(subAktivitasDataStopPembongkaranRtwView.etlDate.Caption)</span></td>
        <td data-name="etlDate" @Html.Raw(subAktivitasDataStopPembongkaranRtwView.etlDate.CellAttributes)>
<span id="el_SubAktivitasDataStopPembongkaranRTW_etlDate">
<span @Html.Raw(subAktivitasDataStopPembongkaranRtwView.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranRtwView.etlDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataStopPembongkaranRtwView.etlDate.Visible (end) *@
</table>
@{ subAktivitasDataStopPembongkaranRtwView.CloseRecordset(); }
</form>
</main>
@subAktivitasDataStopPembongkaranRtwView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasDataStopPembongkaranRtwView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
