@{
    // View
    View = this;

    // Check action result
    if (subAktivitasArSesuaiCqdrtwList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasArSesuaiCqdrtwList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasArSesuaiCqdrtwList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasArSesuaiCqdrtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasARSesuaiCQDRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasArSesuaiCqdrtwList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasArSesuaiCqdrtwList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasArSesuaiCqdrtwList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasArSesuaiCqdrtwList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasArSesuaiCqdrtwList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasArSesuaiCqdrtwList.TotalRecords > 0 && subAktivitasArSesuaiCqdrtwList.ExportOptions.Visible) {
    subAktivitasArSesuaiCqdrtwList.ExportOptions.Render("body");
}
@if (subAktivitasArSesuaiCqdrtwList.ImportOptions.Visible) {
    subAktivitasArSesuaiCqdrtwList.ImportOptions.Render("body");
}
@if (subAktivitasArSesuaiCqdrtwList.SearchOptions.Visible) {
    subAktivitasArSesuaiCqdrtwList.SearchOptions.Render("body");
}
@if (subAktivitasArSesuaiCqdrtwList.FilterOptions.Visible) {
    subAktivitasArSesuaiCqdrtwList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasArSesuaiCqdrtwList.IsModal) {
<form name="fSubAktivitasARSesuaiCQDRTWsrch" id="fSubAktivitasARSesuaiCQDRTWsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasARSesuaiCQDRTWsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasArSesuaiCqdrtwList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasArSesuaiCqdrtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasARSesuaiCQDRTW: currentTable } });
var currentForm;
var fSubAktivitasARSesuaiCQDRTWsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasARSesuaiCQDRTWsrch")
        .setPageId("list")
@if (subAktivitasArSesuaiCqdrtwList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasArSesuaiCqdrtwList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasArSesuaiCqdrtwList.IsExport() && Empty(subAktivitasArSesuaiCqdrtwList.CurrentAction) && subAktivitasArSesuaiCqdrtwList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasArSesuaiCqdrtwList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasArSesuaiCqdrtwList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasArSesuaiCqdrtwList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasArSesuaiCqdrtwList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasARSesuaiCQDRTWsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasArSesuaiCqdrtwList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasARSesuaiCQDRTWsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasArSesuaiCqdrtwList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasARSesuaiCQDRTWsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasArSesuaiCqdrtwList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasARSesuaiCQDRTWsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasArSesuaiCqdrtwList.ShowPageHeader()
@subAktivitasArSesuaiCqdrtwList.ShowMessages()
<main class="list @(subAktivitasArSesuaiCqdrtwList.TotalRecords == 0 && !subAktivitasArSesuaiCqdrtwList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasArSesuaiCqdrtwList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasArSesuaiCqdrtwList.TotalRecords > 0 || !Empty(subAktivitasArSesuaiCqdrtwList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasArSesuaiCqdrtwList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasArSesuaiCqdrtwList.TableGridClass)">
<form name="@(subAktivitasArSesuaiCqdrtwList.FormName)" id="@(subAktivitasArSesuaiCqdrtwList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasArSesuaiCqdrtwList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasArSesuaiCqdrtwList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasARSesuaiCQDRTW" class="card-body ew-grid-middle-panel @(subAktivitasArSesuaiCqdrtwList.TableContainerClass)" style="@(subAktivitasArSesuaiCqdrtwList.TableContainerStyle)">
@if (subAktivitasArSesuaiCqdrtwList.TotalRecords > 0 || subAktivitasArSesuaiCqdrtwList.IsGridEdit || subAktivitasArSesuaiCqdrtwList.IsMultiEdit) {
<table id="tbl_SubAktivitasARSesuaiCQDRTWlist" class="@(subAktivitasArSesuaiCqdrtwList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasArSesuaiCqdrtwList.RowType = RowType.Header;

    // Render list options
    await subAktivitasArSesuaiCqdrtwList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasArSesuaiCqdrtwList.ListOptions.RenderHeader("left")
@if (subAktivitasArSesuaiCqdrtwList.NoReferensi.Visible) { // subAktivitasArSesuaiCqdrtwList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasArSesuaiCqdrtwList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasARSesuaiCQDRTW_NoReferensi" class="SubAktivitasARSesuaiCQDRTW_NoReferensi">@Html.Raw(subAktivitasArSesuaiCqdrtwList.RenderFieldHeader(subAktivitasArSesuaiCqdrtwList.NoReferensi))</div></th>
} @* subAktivitasArSesuaiCqdrtwList.NoReferensi.Visible (end) *@
@if (subAktivitasArSesuaiCqdrtwList.idProses.Visible) { // subAktivitasArSesuaiCqdrtwList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasArSesuaiCqdrtwList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasARSesuaiCQDRTW_idProses" class="SubAktivitasARSesuaiCQDRTW_idProses">@Html.Raw(subAktivitasArSesuaiCqdrtwList.RenderFieldHeader(subAktivitasArSesuaiCqdrtwList.idProses))</div></th>
} @* subAktivitasArSesuaiCqdrtwList.idProses.Visible (end) *@
@if (subAktivitasArSesuaiCqdrtwList.idAktifitas.Visible) { // subAktivitasArSesuaiCqdrtwList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasArSesuaiCqdrtwList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasARSesuaiCQDRTW_idAktifitas" class="SubAktivitasARSesuaiCQDRTW_idAktifitas">@Html.Raw(subAktivitasArSesuaiCqdrtwList.RenderFieldHeader(subAktivitasArSesuaiCqdrtwList.idAktifitas))</div></th>
} @* subAktivitasArSesuaiCqdrtwList.idAktifitas.Visible (end) *@
@if (subAktivitasArSesuaiCqdrtwList.StatusAktivitas.Visible) { // subAktivitasArSesuaiCqdrtwList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasArSesuaiCqdrtwList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasARSesuaiCQDRTW_StatusAktivitas" class="SubAktivitasARSesuaiCQDRTW_StatusAktivitas">@Html.Raw(subAktivitasArSesuaiCqdrtwList.RenderFieldHeader(subAktivitasArSesuaiCqdrtwList.StatusAktivitas))</div></th>
} @* subAktivitasArSesuaiCqdrtwList.StatusAktivitas.Visible (end) *@
@if (subAktivitasArSesuaiCqdrtwList.LastUpdatedBy.Visible) { // subAktivitasArSesuaiCqdrtwList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasArSesuaiCqdrtwList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasARSesuaiCQDRTW_LastUpdatedBy" class="SubAktivitasARSesuaiCQDRTW_LastUpdatedBy">@Html.Raw(subAktivitasArSesuaiCqdrtwList.RenderFieldHeader(subAktivitasArSesuaiCqdrtwList.LastUpdatedBy))</div></th>
} @* subAktivitasArSesuaiCqdrtwList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasArSesuaiCqdrtwList.lastUpdatedDate.Visible) { // subAktivitasArSesuaiCqdrtwList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasArSesuaiCqdrtwList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasARSesuaiCQDRTW_lastUpdatedDate" class="SubAktivitasARSesuaiCQDRTW_lastUpdatedDate">@Html.Raw(subAktivitasArSesuaiCqdrtwList.RenderFieldHeader(subAktivitasArSesuaiCqdrtwList.lastUpdatedDate))</div></th>
} @* subAktivitasArSesuaiCqdrtwList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasArSesuaiCqdrtwList.KL_Obs.Visible) { // subAktivitasArSesuaiCqdrtwList.KL_Obs.Visible (begin)
        <th data-name="KL_Obs" class="@(subAktivitasArSesuaiCqdrtwList.KL_Obs.HeaderCellClass)"><div id="elh_SubAktivitasARSesuaiCQDRTW_KL_Obs" class="SubAktivitasARSesuaiCQDRTW_KL_Obs">@Html.Raw(subAktivitasArSesuaiCqdrtwList.RenderFieldHeader(subAktivitasArSesuaiCqdrtwList.KL_Obs))</div></th>
} @* subAktivitasArSesuaiCqdrtwList.KL_Obs.Visible (end) *@
@if (subAktivitasArSesuaiCqdrtwList.KL_15.Visible) { // subAktivitasArSesuaiCqdrtwList.KL_15.Visible (begin)
        <th data-name="KL_15" class="@(subAktivitasArSesuaiCqdrtwList.KL_15.HeaderCellClass)"><div id="elh_SubAktivitasARSesuaiCQDRTW_KL_15" class="SubAktivitasARSesuaiCQDRTW_KL_15">@Html.Raw(subAktivitasArSesuaiCqdrtwList.RenderFieldHeader(subAktivitasArSesuaiCqdrtwList.KL_15))</div></th>
} @* subAktivitasArSesuaiCqdrtwList.KL_15.Visible (end) *@
@if (subAktivitasArSesuaiCqdrtwList.Barrels.Visible) { // subAktivitasArSesuaiCqdrtwList.Barrels.Visible (begin)
        <th data-name="Barrels" class="@(subAktivitasArSesuaiCqdrtwList.Barrels.HeaderCellClass)"><div id="elh_SubAktivitasARSesuaiCQDRTW_Barrels" class="SubAktivitasARSesuaiCQDRTW_Barrels">@Html.Raw(subAktivitasArSesuaiCqdrtwList.RenderFieldHeader(subAktivitasArSesuaiCqdrtwList.Barrels))</div></th>
} @* subAktivitasArSesuaiCqdrtwList.Barrels.Visible (end) *@
@if (subAktivitasArSesuaiCqdrtwList.LT.Visible) { // subAktivitasArSesuaiCqdrtwList.LT.Visible (begin)
        <th data-name="LT" class="@(subAktivitasArSesuaiCqdrtwList.LT.HeaderCellClass)"><div id="elh_SubAktivitasARSesuaiCQDRTW_LT" class="SubAktivitasARSesuaiCQDRTW_LT">@Html.Raw(subAktivitasArSesuaiCqdrtwList.RenderFieldHeader(subAktivitasArSesuaiCqdrtwList.LT))</div></th>
} @* subAktivitasArSesuaiCqdrtwList.LT.Visible (end) *@
@if (subAktivitasArSesuaiCqdrtwList.MT.Visible) { // subAktivitasArSesuaiCqdrtwList.MT.Visible (begin)
        <th data-name="MT" class="@(subAktivitasArSesuaiCqdrtwList.MT.HeaderCellClass)"><div id="elh_SubAktivitasARSesuaiCQDRTW_MT" class="SubAktivitasARSesuaiCQDRTW_MT">@Html.Raw(subAktivitasArSesuaiCqdrtwList.RenderFieldHeader(subAktivitasArSesuaiCqdrtwList.MT))</div></th>
} @* subAktivitasArSesuaiCqdrtwList.MT.Visible (end) *@
@if (subAktivitasArSesuaiCqdrtwList.userInput.Visible) { // subAktivitasArSesuaiCqdrtwList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasArSesuaiCqdrtwList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasARSesuaiCQDRTW_userInput" class="SubAktivitasARSesuaiCQDRTW_userInput">@Html.Raw(subAktivitasArSesuaiCqdrtwList.RenderFieldHeader(subAktivitasArSesuaiCqdrtwList.userInput))</div></th>
} @* subAktivitasArSesuaiCqdrtwList.userInput.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasArSesuaiCqdrtwList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasArSesuaiCqdrtwList.PageNumber)">
@{
    await subAktivitasArSesuaiCqdrtwList.SetupGrid();
    bool eof = subAktivitasArSesuaiCqdrtwList.Recordset == null; // DN
}
@while (subAktivitasArSesuaiCqdrtwList.RecordCount < subAktivitasArSesuaiCqdrtwList.StopRecord || SameString(subAktivitasArSesuaiCqdrtwList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasArSesuaiCqdrtwList.RowIndex, "$rowindex$") &&
        (!subAktivitasArSesuaiCqdrtwList.IsGridAdd || subAktivitasArSesuaiCqdrtwList.CurrentMode == "copy") &&
        (!((subAktivitasArSesuaiCqdrtwList.IsCopy || subAktivitasArSesuaiCqdrtwList.IsAdd) && subAktivitasArSesuaiCqdrtwList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasArSesuaiCqdrtwList.Recordset.ReadAsync();
    subAktivitasArSesuaiCqdrtwList.RecordCount++;
    if (subAktivitasArSesuaiCqdrtwList.RecordCount >= subAktivitasArSesuaiCqdrtwList.StartRecord) {
        await subAktivitasArSesuaiCqdrtwList.SetupRow();
    <tr @Html.Raw(subAktivitasArSesuaiCqdrtwList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasArSesuaiCqdrtwList.ListOptions.RenderBody("left", subAktivitasArSesuaiCqdrtwList.RowCount)
    @if (subAktivitasArSesuaiCqdrtwList.NoReferensi.Visible) { // subAktivitasArSesuaiCqdrtwList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasArSesuaiCqdrtwList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasArSesuaiCqdrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasArSesuaiCqdrtwList.RowCount)_SubAktivitasARSesuaiCQDRTW_NoReferensi" class="el_SubAktivitasARSesuaiCQDRTW_NoReferensi">
<span @Html.Raw(subAktivitasArSesuaiCqdrtwList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasArSesuaiCqdrtwList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasArSesuaiCqdrtwList.NoReferensi.Visible (end) *@
    @if (subAktivitasArSesuaiCqdrtwList.idProses.Visible) { // subAktivitasArSesuaiCqdrtwList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasArSesuaiCqdrtwList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasArSesuaiCqdrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasArSesuaiCqdrtwList.RowCount)_SubAktivitasARSesuaiCQDRTW_idProses" class="el_SubAktivitasARSesuaiCQDRTW_idProses">
<span @Html.Raw(subAktivitasArSesuaiCqdrtwList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasArSesuaiCqdrtwList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasArSesuaiCqdrtwList.idProses.Visible (end) *@
    @if (subAktivitasArSesuaiCqdrtwList.idAktifitas.Visible) { // subAktivitasArSesuaiCqdrtwList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasArSesuaiCqdrtwList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasArSesuaiCqdrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasArSesuaiCqdrtwList.RowCount)_SubAktivitasARSesuaiCQDRTW_idAktifitas" class="el_SubAktivitasARSesuaiCQDRTW_idAktifitas">
<span @Html.Raw(subAktivitasArSesuaiCqdrtwList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasArSesuaiCqdrtwList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasArSesuaiCqdrtwList.idAktifitas.Visible (end) *@
    @if (subAktivitasArSesuaiCqdrtwList.StatusAktivitas.Visible) { // subAktivitasArSesuaiCqdrtwList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasArSesuaiCqdrtwList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasArSesuaiCqdrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasArSesuaiCqdrtwList.RowCount)_SubAktivitasARSesuaiCQDRTW_StatusAktivitas" class="el_SubAktivitasARSesuaiCQDRTW_StatusAktivitas">
<span @Html.Raw(subAktivitasArSesuaiCqdrtwList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasArSesuaiCqdrtwList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasArSesuaiCqdrtwList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasArSesuaiCqdrtwList.LastUpdatedBy.Visible) { // subAktivitasArSesuaiCqdrtwList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasArSesuaiCqdrtwList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasArSesuaiCqdrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasArSesuaiCqdrtwList.RowCount)_SubAktivitasARSesuaiCQDRTW_LastUpdatedBy" class="el_SubAktivitasARSesuaiCQDRTW_LastUpdatedBy">
<span @Html.Raw(subAktivitasArSesuaiCqdrtwList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasArSesuaiCqdrtwList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasArSesuaiCqdrtwList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasArSesuaiCqdrtwList.lastUpdatedDate.Visible) { // subAktivitasArSesuaiCqdrtwList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasArSesuaiCqdrtwList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasArSesuaiCqdrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasArSesuaiCqdrtwList.RowCount)_SubAktivitasARSesuaiCQDRTW_lastUpdatedDate" class="el_SubAktivitasARSesuaiCQDRTW_lastUpdatedDate">
<span @Html.Raw(subAktivitasArSesuaiCqdrtwList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasArSesuaiCqdrtwList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasArSesuaiCqdrtwList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasArSesuaiCqdrtwList.KL_Obs.Visible) { // subAktivitasArSesuaiCqdrtwList.KL_Obs.Visible (begin)
        <td data-name="KL_Obs" @Html.Raw(subAktivitasArSesuaiCqdrtwList.KL_Obs.CellAttributes)>
<span id="el@(SameString(subAktivitasArSesuaiCqdrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasArSesuaiCqdrtwList.RowCount)_SubAktivitasARSesuaiCQDRTW_KL_Obs" class="el_SubAktivitasARSesuaiCQDRTW_KL_Obs">
<span @Html.Raw(subAktivitasArSesuaiCqdrtwList.KL_Obs.ViewAttributes)>
@Html.Raw(subAktivitasArSesuaiCqdrtwList.KL_Obs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasArSesuaiCqdrtwList.KL_Obs.Visible (end) *@
    @if (subAktivitasArSesuaiCqdrtwList.KL_15.Visible) { // subAktivitasArSesuaiCqdrtwList.KL_15.Visible (begin)
        <td data-name="KL_15" @Html.Raw(subAktivitasArSesuaiCqdrtwList.KL_15.CellAttributes)>
<span id="el@(SameString(subAktivitasArSesuaiCqdrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasArSesuaiCqdrtwList.RowCount)_SubAktivitasARSesuaiCQDRTW_KL_15" class="el_SubAktivitasARSesuaiCQDRTW_KL_15">
<span @Html.Raw(subAktivitasArSesuaiCqdrtwList.KL_15.ViewAttributes)>
@Html.Raw(subAktivitasArSesuaiCqdrtwList.KL_15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasArSesuaiCqdrtwList.KL_15.Visible (end) *@
    @if (subAktivitasArSesuaiCqdrtwList.Barrels.Visible) { // subAktivitasArSesuaiCqdrtwList.Barrels.Visible (begin)
        <td data-name="Barrels" @Html.Raw(subAktivitasArSesuaiCqdrtwList.Barrels.CellAttributes)>
<span id="el@(SameString(subAktivitasArSesuaiCqdrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasArSesuaiCqdrtwList.RowCount)_SubAktivitasARSesuaiCQDRTW_Barrels" class="el_SubAktivitasARSesuaiCQDRTW_Barrels">
<span @Html.Raw(subAktivitasArSesuaiCqdrtwList.Barrels.ViewAttributes)>
@Html.Raw(subAktivitasArSesuaiCqdrtwList.Barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasArSesuaiCqdrtwList.Barrels.Visible (end) *@
    @if (subAktivitasArSesuaiCqdrtwList.LT.Visible) { // subAktivitasArSesuaiCqdrtwList.LT.Visible (begin)
        <td data-name="LT" @Html.Raw(subAktivitasArSesuaiCqdrtwList.LT.CellAttributes)>
<span id="el@(SameString(subAktivitasArSesuaiCqdrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasArSesuaiCqdrtwList.RowCount)_SubAktivitasARSesuaiCQDRTW_LT" class="el_SubAktivitasARSesuaiCQDRTW_LT">
<span @Html.Raw(subAktivitasArSesuaiCqdrtwList.LT.ViewAttributes)>
@Html.Raw(subAktivitasArSesuaiCqdrtwList.LT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasArSesuaiCqdrtwList.LT.Visible (end) *@
    @if (subAktivitasArSesuaiCqdrtwList.MT.Visible) { // subAktivitasArSesuaiCqdrtwList.MT.Visible (begin)
        <td data-name="MT" @Html.Raw(subAktivitasArSesuaiCqdrtwList.MT.CellAttributes)>
<span id="el@(SameString(subAktivitasArSesuaiCqdrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasArSesuaiCqdrtwList.RowCount)_SubAktivitasARSesuaiCQDRTW_MT" class="el_SubAktivitasARSesuaiCQDRTW_MT">
<span @Html.Raw(subAktivitasArSesuaiCqdrtwList.MT.ViewAttributes)>
@Html.Raw(subAktivitasArSesuaiCqdrtwList.MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasArSesuaiCqdrtwList.MT.Visible (end) *@
    @if (subAktivitasArSesuaiCqdrtwList.userInput.Visible) { // subAktivitasArSesuaiCqdrtwList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasArSesuaiCqdrtwList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasArSesuaiCqdrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasArSesuaiCqdrtwList.RowCount)_SubAktivitasARSesuaiCQDRTW_userInput" class="el_SubAktivitasARSesuaiCQDRTW_userInput">
<span @Html.Raw(subAktivitasArSesuaiCqdrtwList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasArSesuaiCqdrtwList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasArSesuaiCqdrtwList.userInput.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasArSesuaiCqdrtwList.ListOptions.RenderBody("right", subAktivitasArSesuaiCqdrtwList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasArSesuaiCqdrtwList.RowIndex, "$rowindex$"))
        subAktivitasArSesuaiCqdrtwList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasArSesuaiCqdrtwList.IsCopy || subAktivitasArSesuaiCqdrtwList.IsAdd) && subAktivitasArSesuaiCqdrtwList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasArSesuaiCqdrtwList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasArSesuaiCqdrtwList.CurrentAction) && !subAktivitasArSesuaiCqdrtwList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasArSesuaiCqdrtwList.CloseRecordset(); }
@if (!subAktivitasArSesuaiCqdrtwList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasArSesuaiCqdrtwList.IsGridAdd && !(subAktivitasArSesuaiCqdrtwList.IsGridEdit && subAktivitasArSesuaiCqdrtwList.ModalGridEdit) && !subAktivitasArSesuaiCqdrtwList.IsMultiEdit) {
@Html.Raw(subAktivitasArSesuaiCqdrtwList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasArSesuaiCqdrtwList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasArSesuaiCqdrtwList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasArSesuaiCqdrtwList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasArSesuaiCqdrtwList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasArSesuaiCqdrtwList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasARSesuaiCQDRTW");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
