@{
    // View
    View = this;

    // Check action result
    if (subAktivitasSfadNewBlstsPnrBbmList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasSfadNewBlstsPnrBbmList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasSfadNewBlstsPnrBbmList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasSfadNewBlstsPnrBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasSFADNewBLSTSPnrBBM: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasSfadNewBlstsPnrBbmList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasSfadNewBlstsPnrBbmList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasSfadNewBlstsPnrBbmList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasSfadNewBlstsPnrBbmList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasSfadNewBlstsPnrBbmList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasSfadNewBlstsPnrBbmList.TotalRecords > 0 && subAktivitasSfadNewBlstsPnrBbmList.ExportOptions.Visible) {
    subAktivitasSfadNewBlstsPnrBbmList.ExportOptions.Render("body");
}
@if (subAktivitasSfadNewBlstsPnrBbmList.ImportOptions.Visible) {
    subAktivitasSfadNewBlstsPnrBbmList.ImportOptions.Render("body");
}
@if (subAktivitasSfadNewBlstsPnrBbmList.SearchOptions.Visible) {
    subAktivitasSfadNewBlstsPnrBbmList.SearchOptions.Render("body");
}
@if (subAktivitasSfadNewBlstsPnrBbmList.FilterOptions.Visible) {
    subAktivitasSfadNewBlstsPnrBbmList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasSfadNewBlstsPnrBbmList.IsModal) {
<form name="fSubAktivitasSFADNewBLSTSPnrBBMsrch" id="fSubAktivitasSFADNewBLSTSPnrBBMsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasSFADNewBLSTSPnrBBMsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasSfadNewBlstsPnrBbmList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasSfadNewBlstsPnrBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasSFADNewBLSTSPnrBBM: currentTable } });
var currentForm;
var fSubAktivitasSFADNewBLSTSPnrBBMsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasSFADNewBLSTSPnrBBMsrch")
        .setPageId("list")
@if (subAktivitasSfadNewBlstsPnrBbmList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasSfadNewBlstsPnrBbmList.IsExport() && Empty(subAktivitasSfadNewBlstsPnrBbmList.CurrentAction) && subAktivitasSfadNewBlstsPnrBbmList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasSfadNewBlstsPnrBbmList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasSfadNewBlstsPnrBbmList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasSfadNewBlstsPnrBbmList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasSFADNewBLSTSPnrBBMsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasSfadNewBlstsPnrBbmList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasSFADNewBLSTSPnrBBMsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasSfadNewBlstsPnrBbmList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasSFADNewBLSTSPnrBBMsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasSfadNewBlstsPnrBbmList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasSFADNewBLSTSPnrBBMsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasSfadNewBlstsPnrBbmList.ShowPageHeader()
@subAktivitasSfadNewBlstsPnrBbmList.ShowMessages()
<main class="list @(subAktivitasSfadNewBlstsPnrBbmList.TotalRecords == 0 && !subAktivitasSfadNewBlstsPnrBbmList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasSfadNewBlstsPnrBbmList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasSfadNewBlstsPnrBbmList.TotalRecords > 0 || !Empty(subAktivitasSfadNewBlstsPnrBbmList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasSfadNewBlstsPnrBbmList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasSfadNewBlstsPnrBbmList.TableGridClass)">
<form name="@(subAktivitasSfadNewBlstsPnrBbmList.FormName)" id="@(subAktivitasSfadNewBlstsPnrBbmList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasSfadNewBlstsPnrBbmList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasSfadNewBlstsPnrBbmList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasSFADNewBLSTSPnrBBM" class="card-body ew-grid-middle-panel @(subAktivitasSfadNewBlstsPnrBbmList.TableContainerClass)" style="@(subAktivitasSfadNewBlstsPnrBbmList.TableContainerStyle)">
@if (subAktivitasSfadNewBlstsPnrBbmList.TotalRecords > 0 || subAktivitasSfadNewBlstsPnrBbmList.IsGridEdit || subAktivitasSfadNewBlstsPnrBbmList.IsMultiEdit) {
<table id="tbl_SubAktivitasSFADNewBLSTSPnrBBMlist" class="@(subAktivitasSfadNewBlstsPnrBbmList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasSfadNewBlstsPnrBbmList.RowType = RowType.Header;

    // Render list options
    await subAktivitasSfadNewBlstsPnrBbmList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasSfadNewBlstsPnrBbmList.ListOptions.RenderHeader("left")
@if (subAktivitasSfadNewBlstsPnrBbmList.id.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasSfadNewBlstsPnrBbmList.id.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSPnrBBM_id" class="SubAktivitasSFADNewBLSTSPnrBBM_id">@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.RenderFieldHeader(subAktivitasSfadNewBlstsPnrBbmList.id))</div></th>
} @* subAktivitasSfadNewBlstsPnrBbmList.id.Visible (end) *@
@if (subAktivitasSfadNewBlstsPnrBbmList.NoReferensi.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasSfadNewBlstsPnrBbmList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSPnrBBM_NoReferensi" class="SubAktivitasSFADNewBLSTSPnrBBM_NoReferensi">@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.RenderFieldHeader(subAktivitasSfadNewBlstsPnrBbmList.NoReferensi))</div></th>
} @* subAktivitasSfadNewBlstsPnrBbmList.NoReferensi.Visible (end) *@
@if (subAktivitasSfadNewBlstsPnrBbmList.idProses.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasSfadNewBlstsPnrBbmList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSPnrBBM_idProses" class="SubAktivitasSFADNewBLSTSPnrBBM_idProses">@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.RenderFieldHeader(subAktivitasSfadNewBlstsPnrBbmList.idProses))</div></th>
} @* subAktivitasSfadNewBlstsPnrBbmList.idProses.Visible (end) *@
@if (subAktivitasSfadNewBlstsPnrBbmList.idAktifitas.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasSfadNewBlstsPnrBbmList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSPnrBBM_idAktifitas" class="SubAktivitasSFADNewBLSTSPnrBBM_idAktifitas">@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.RenderFieldHeader(subAktivitasSfadNewBlstsPnrBbmList.idAktifitas))</div></th>
} @* subAktivitasSfadNewBlstsPnrBbmList.idAktifitas.Visible (end) *@
@if (subAktivitasSfadNewBlstsPnrBbmList.StatusAktivitas.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasSfadNewBlstsPnrBbmList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSPnrBBM_StatusAktivitas" class="SubAktivitasSFADNewBLSTSPnrBBM_StatusAktivitas">@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.RenderFieldHeader(subAktivitasSfadNewBlstsPnrBbmList.StatusAktivitas))</div></th>
} @* subAktivitasSfadNewBlstsPnrBbmList.StatusAktivitas.Visible (end) *@
@if (subAktivitasSfadNewBlstsPnrBbmList.LastUpdatedBy.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasSfadNewBlstsPnrBbmList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSPnrBBM_LastUpdatedBy" class="SubAktivitasSFADNewBLSTSPnrBBM_LastUpdatedBy">@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.RenderFieldHeader(subAktivitasSfadNewBlstsPnrBbmList.LastUpdatedBy))</div></th>
} @* subAktivitasSfadNewBlstsPnrBbmList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasSfadNewBlstsPnrBbmList.lastUpdatedDate.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasSfadNewBlstsPnrBbmList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSPnrBBM_lastUpdatedDate" class="SubAktivitasSFADNewBLSTSPnrBBM_lastUpdatedDate">@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.RenderFieldHeader(subAktivitasSfadNewBlstsPnrBbmList.lastUpdatedDate))</div></th>
} @* subAktivitasSfadNewBlstsPnrBbmList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasSfadNewBlstsPnrBbmList.ApakahAdaROB.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.ApakahAdaROB.Visible (begin)
        <th data-name="ApakahAdaROB" class="@(subAktivitasSfadNewBlstsPnrBbmList.ApakahAdaROB.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSPnrBBM_ApakahAdaROB" class="SubAktivitasSFADNewBLSTSPnrBBM_ApakahAdaROB">@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.RenderFieldHeader(subAktivitasSfadNewBlstsPnrBbmList.ApakahAdaROB))</div></th>
} @* subAktivitasSfadNewBlstsPnrBbmList.ApakahAdaROB.Visible (end) *@
@if (subAktivitasSfadNewBlstsPnrBbmList.ApakahTerdapatROB.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.ApakahTerdapatROB.Visible (begin)
        <th data-name="ApakahTerdapatROB" class="@(subAktivitasSfadNewBlstsPnrBbmList.ApakahTerdapatROB.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSPnrBBM_ApakahTerdapatROB" class="SubAktivitasSFADNewBLSTSPnrBBM_ApakahTerdapatROB">@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.RenderFieldHeader(subAktivitasSfadNewBlstsPnrBbmList.ApakahTerdapatROB))</div></th>
} @* subAktivitasSfadNewBlstsPnrBbmList.ApakahTerdapatROB.Visible (end) *@
@if (subAktivitasSfadNewBlstsPnrBbmList.Import.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.Import.Visible (begin)
        <th data-name="Import" class="@(subAktivitasSfadNewBlstsPnrBbmList.Import.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSPnrBBM_Import" class="SubAktivitasSFADNewBLSTSPnrBBM_Import">@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.RenderFieldHeader(subAktivitasSfadNewBlstsPnrBbmList.Import))</div></th>
} @* subAktivitasSfadNewBlstsPnrBbmList.Import.Visible (end) *@
@if (subAktivitasSfadNewBlstsPnrBbmList.Tujuan.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.Tujuan.Visible (begin)
        <th data-name="Tujuan" class="@(subAktivitasSfadNewBlstsPnrBbmList.Tujuan.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSPnrBBM_Tujuan" class="SubAktivitasSFADNewBLSTSPnrBBM_Tujuan">@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.RenderFieldHeader(subAktivitasSfadNewBlstsPnrBbmList.Tujuan))</div></th>
} @* subAktivitasSfadNewBlstsPnrBbmList.Tujuan.Visible (end) *@
@if (subAktivitasSfadNewBlstsPnrBbmList.SFAD_klobs.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.SFAD_klobs.Visible (begin)
        <th data-name="SFAD_klobs" class="@(subAktivitasSfadNewBlstsPnrBbmList.SFAD_klobs.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSPnrBBM_SFAD_klobs" class="SubAktivitasSFADNewBLSTSPnrBBM_SFAD_klobs">@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.RenderFieldHeader(subAktivitasSfadNewBlstsPnrBbmList.SFAD_klobs))</div></th>
} @* subAktivitasSfadNewBlstsPnrBbmList.SFAD_klobs.Visible (end) *@
@if (subAktivitasSfadNewBlstsPnrBbmList.SFAD_kl15.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.SFAD_kl15.Visible (begin)
        <th data-name="SFAD_kl15" class="@(subAktivitasSfadNewBlstsPnrBbmList.SFAD_kl15.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSPnrBBM_SFAD_kl15" class="SubAktivitasSFADNewBLSTSPnrBBM_SFAD_kl15">@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.RenderFieldHeader(subAktivitasSfadNewBlstsPnrBbmList.SFAD_kl15))</div></th>
} @* subAktivitasSfadNewBlstsPnrBbmList.SFAD_kl15.Visible (end) *@
@if (subAktivitasSfadNewBlstsPnrBbmList.SFAD_barrels.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.SFAD_barrels.Visible (begin)
        <th data-name="SFAD_barrels" class="@(subAktivitasSfadNewBlstsPnrBbmList.SFAD_barrels.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSPnrBBM_SFAD_barrels" class="SubAktivitasSFADNewBLSTSPnrBBM_SFAD_barrels">@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.RenderFieldHeader(subAktivitasSfadNewBlstsPnrBbmList.SFAD_barrels))</div></th>
} @* subAktivitasSfadNewBlstsPnrBbmList.SFAD_barrels.Visible (end) *@
@if (subAktivitasSfadNewBlstsPnrBbmList.SFAD_lt.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.SFAD_lt.Visible (begin)
        <th data-name="SFAD_lt" class="@(subAktivitasSfadNewBlstsPnrBbmList.SFAD_lt.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSPnrBBM_SFAD_lt" class="SubAktivitasSFADNewBLSTSPnrBBM_SFAD_lt">@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.RenderFieldHeader(subAktivitasSfadNewBlstsPnrBbmList.SFAD_lt))</div></th>
} @* subAktivitasSfadNewBlstsPnrBbmList.SFAD_lt.Visible (end) *@
@if (subAktivitasSfadNewBlstsPnrBbmList.SFAD_mt.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.SFAD_mt.Visible (begin)
        <th data-name="SFAD_mt" class="@(subAktivitasSfadNewBlstsPnrBbmList.SFAD_mt.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSPnrBBM_SFAD_mt" class="SubAktivitasSFADNewBLSTSPnrBBM_SFAD_mt">@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.RenderFieldHeader(subAktivitasSfadNewBlstsPnrBbmList.SFAD_mt))</div></th>
} @* subAktivitasSfadNewBlstsPnrBbmList.SFAD_mt.Visible (end) *@
@if (subAktivitasSfadNewBlstsPnrBbmList.NewBl_klobs.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.NewBl_klobs.Visible (begin)
        <th data-name="NewBl_klobs" class="@(subAktivitasSfadNewBlstsPnrBbmList.NewBl_klobs.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSPnrBBM_NewBl_klobs" class="SubAktivitasSFADNewBLSTSPnrBBM_NewBl_klobs">@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.RenderFieldHeader(subAktivitasSfadNewBlstsPnrBbmList.NewBl_klobs))</div></th>
} @* subAktivitasSfadNewBlstsPnrBbmList.NewBl_klobs.Visible (end) *@
@if (subAktivitasSfadNewBlstsPnrBbmList.NewBl_kl15.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.NewBl_kl15.Visible (begin)
        <th data-name="NewBl_kl15" class="@(subAktivitasSfadNewBlstsPnrBbmList.NewBl_kl15.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSPnrBBM_NewBl_kl15" class="SubAktivitasSFADNewBLSTSPnrBBM_NewBl_kl15">@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.RenderFieldHeader(subAktivitasSfadNewBlstsPnrBbmList.NewBl_kl15))</div></th>
} @* subAktivitasSfadNewBlstsPnrBbmList.NewBl_kl15.Visible (end) *@
@if (subAktivitasSfadNewBlstsPnrBbmList.NewBl_barrels.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.NewBl_barrels.Visible (begin)
        <th data-name="NewBl_barrels" class="@(subAktivitasSfadNewBlstsPnrBbmList.NewBl_barrels.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSPnrBBM_NewBl_barrels" class="SubAktivitasSFADNewBLSTSPnrBBM_NewBl_barrels">@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.RenderFieldHeader(subAktivitasSfadNewBlstsPnrBbmList.NewBl_barrels))</div></th>
} @* subAktivitasSfadNewBlstsPnrBbmList.NewBl_barrels.Visible (end) *@
@if (subAktivitasSfadNewBlstsPnrBbmList.NewBl_lt.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.NewBl_lt.Visible (begin)
        <th data-name="NewBl_lt" class="@(subAktivitasSfadNewBlstsPnrBbmList.NewBl_lt.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSPnrBBM_NewBl_lt" class="SubAktivitasSFADNewBLSTSPnrBBM_NewBl_lt">@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.RenderFieldHeader(subAktivitasSfadNewBlstsPnrBbmList.NewBl_lt))</div></th>
} @* subAktivitasSfadNewBlstsPnrBbmList.NewBl_lt.Visible (end) *@
@if (subAktivitasSfadNewBlstsPnrBbmList.NewBl_mt.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.NewBl_mt.Visible (begin)
        <th data-name="NewBl_mt" class="@(subAktivitasSfadNewBlstsPnrBbmList.NewBl_mt.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSPnrBBM_NewBl_mt" class="SubAktivitasSFADNewBLSTSPnrBBM_NewBl_mt">@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.RenderFieldHeader(subAktivitasSfadNewBlstsPnrBbmList.NewBl_mt))</div></th>
} @* subAktivitasSfadNewBlstsPnrBbmList.NewBl_mt.Visible (end) *@
@if (subAktivitasSfadNewBlstsPnrBbmList.AR45B_klobs.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.AR45B_klobs.Visible (begin)
        <th data-name="AR45B_klobs" class="@(subAktivitasSfadNewBlstsPnrBbmList.AR45B_klobs.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSPnrBBM_AR45B_klobs" class="SubAktivitasSFADNewBLSTSPnrBBM_AR45B_klobs">@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.RenderFieldHeader(subAktivitasSfadNewBlstsPnrBbmList.AR45B_klobs))</div></th>
} @* subAktivitasSfadNewBlstsPnrBbmList.AR45B_klobs.Visible (end) *@
@if (subAktivitasSfadNewBlstsPnrBbmList.AR45B_kl15.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.AR45B_kl15.Visible (begin)
        <th data-name="AR45B_kl15" class="@(subAktivitasSfadNewBlstsPnrBbmList.AR45B_kl15.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSPnrBBM_AR45B_kl15" class="SubAktivitasSFADNewBLSTSPnrBBM_AR45B_kl15">@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.RenderFieldHeader(subAktivitasSfadNewBlstsPnrBbmList.AR45B_kl15))</div></th>
} @* subAktivitasSfadNewBlstsPnrBbmList.AR45B_kl15.Visible (end) *@
@if (subAktivitasSfadNewBlstsPnrBbmList.AR45B_barrels.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.AR45B_barrels.Visible (begin)
        <th data-name="AR45B_barrels" class="@(subAktivitasSfadNewBlstsPnrBbmList.AR45B_barrels.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSPnrBBM_AR45B_barrels" class="SubAktivitasSFADNewBLSTSPnrBBM_AR45B_barrels">@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.RenderFieldHeader(subAktivitasSfadNewBlstsPnrBbmList.AR45B_barrels))</div></th>
} @* subAktivitasSfadNewBlstsPnrBbmList.AR45B_barrels.Visible (end) *@
@if (subAktivitasSfadNewBlstsPnrBbmList.AR45B_lt.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.AR45B_lt.Visible (begin)
        <th data-name="AR45B_lt" class="@(subAktivitasSfadNewBlstsPnrBbmList.AR45B_lt.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSPnrBBM_AR45B_lt" class="SubAktivitasSFADNewBLSTSPnrBBM_AR45B_lt">@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.RenderFieldHeader(subAktivitasSfadNewBlstsPnrBbmList.AR45B_lt))</div></th>
} @* subAktivitasSfadNewBlstsPnrBbmList.AR45B_lt.Visible (end) *@
@if (subAktivitasSfadNewBlstsPnrBbmList.AR45B_mt.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.AR45B_mt.Visible (begin)
        <th data-name="AR45B_mt" class="@(subAktivitasSfadNewBlstsPnrBbmList.AR45B_mt.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSPnrBBM_AR45B_mt" class="SubAktivitasSFADNewBLSTSPnrBBM_AR45B_mt">@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.RenderFieldHeader(subAktivitasSfadNewBlstsPnrBbmList.AR45B_mt))</div></th>
} @* subAktivitasSfadNewBlstsPnrBbmList.AR45B_mt.Visible (end) *@
@if (subAktivitasSfadNewBlstsPnrBbmList.userInput.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasSfadNewBlstsPnrBbmList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSPnrBBM_userInput" class="SubAktivitasSFADNewBLSTSPnrBBM_userInput">@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.RenderFieldHeader(subAktivitasSfadNewBlstsPnrBbmList.userInput))</div></th>
} @* subAktivitasSfadNewBlstsPnrBbmList.userInput.Visible (end) *@
@if (subAktivitasSfadNewBlstsPnrBbmList.etlDate.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasSfadNewBlstsPnrBbmList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSPnrBBM_etlDate" class="SubAktivitasSFADNewBLSTSPnrBBM_etlDate">@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.RenderFieldHeader(subAktivitasSfadNewBlstsPnrBbmList.etlDate))</div></th>
} @* subAktivitasSfadNewBlstsPnrBbmList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasSfadNewBlstsPnrBbmList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasSfadNewBlstsPnrBbmList.PageNumber)">
@{
    await subAktivitasSfadNewBlstsPnrBbmList.SetupGrid();
    bool eof = subAktivitasSfadNewBlstsPnrBbmList.Recordset == null; // DN
}
@while (subAktivitasSfadNewBlstsPnrBbmList.RecordCount < subAktivitasSfadNewBlstsPnrBbmList.StopRecord || SameString(subAktivitasSfadNewBlstsPnrBbmList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasSfadNewBlstsPnrBbmList.RowIndex, "$rowindex$") &&
        (!subAktivitasSfadNewBlstsPnrBbmList.IsGridAdd || subAktivitasSfadNewBlstsPnrBbmList.CurrentMode == "copy") &&
        (!((subAktivitasSfadNewBlstsPnrBbmList.IsCopy || subAktivitasSfadNewBlstsPnrBbmList.IsAdd) && subAktivitasSfadNewBlstsPnrBbmList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasSfadNewBlstsPnrBbmList.Recordset.ReadAsync();
    subAktivitasSfadNewBlstsPnrBbmList.RecordCount++;
    if (subAktivitasSfadNewBlstsPnrBbmList.RecordCount >= subAktivitasSfadNewBlstsPnrBbmList.StartRecord) {
        await subAktivitasSfadNewBlstsPnrBbmList.SetupRow();
    <tr @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasSfadNewBlstsPnrBbmList.ListOptions.RenderBody("left", subAktivitasSfadNewBlstsPnrBbmList.RowCount)
    @if (subAktivitasSfadNewBlstsPnrBbmList.id.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstsPnrBbmList.RowCount)_SubAktivitasSFADNewBLSTSPnrBBM_id" class="el_SubAktivitasSFADNewBLSTSPnrBBM_id">
<span @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.id.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstsPnrBbmList.id.Visible (end) *@
    @if (subAktivitasSfadNewBlstsPnrBbmList.NoReferensi.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstsPnrBbmList.RowCount)_SubAktivitasSFADNewBLSTSPnrBBM_NoReferensi" class="el_SubAktivitasSFADNewBLSTSPnrBBM_NoReferensi">
<span @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstsPnrBbmList.NoReferensi.Visible (end) *@
    @if (subAktivitasSfadNewBlstsPnrBbmList.idProses.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstsPnrBbmList.RowCount)_SubAktivitasSFADNewBLSTSPnrBBM_idProses" class="el_SubAktivitasSFADNewBLSTSPnrBBM_idProses">
<span @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstsPnrBbmList.idProses.Visible (end) *@
    @if (subAktivitasSfadNewBlstsPnrBbmList.idAktifitas.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstsPnrBbmList.RowCount)_SubAktivitasSFADNewBLSTSPnrBBM_idAktifitas" class="el_SubAktivitasSFADNewBLSTSPnrBBM_idAktifitas">
<span @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstsPnrBbmList.idAktifitas.Visible (end) *@
    @if (subAktivitasSfadNewBlstsPnrBbmList.StatusAktivitas.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstsPnrBbmList.RowCount)_SubAktivitasSFADNewBLSTSPnrBBM_StatusAktivitas" class="el_SubAktivitasSFADNewBLSTSPnrBBM_StatusAktivitas">
<span @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstsPnrBbmList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasSfadNewBlstsPnrBbmList.LastUpdatedBy.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstsPnrBbmList.RowCount)_SubAktivitasSFADNewBLSTSPnrBBM_LastUpdatedBy" class="el_SubAktivitasSFADNewBLSTSPnrBBM_LastUpdatedBy">
<span @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstsPnrBbmList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasSfadNewBlstsPnrBbmList.lastUpdatedDate.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstsPnrBbmList.RowCount)_SubAktivitasSFADNewBLSTSPnrBBM_lastUpdatedDate" class="el_SubAktivitasSFADNewBLSTSPnrBBM_lastUpdatedDate">
<span @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstsPnrBbmList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasSfadNewBlstsPnrBbmList.ApakahAdaROB.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.ApakahAdaROB.Visible (begin)
        <td data-name="ApakahAdaROB" @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.ApakahAdaROB.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstsPnrBbmList.RowCount)_SubAktivitasSFADNewBLSTSPnrBBM_ApakahAdaROB" class="el_SubAktivitasSFADNewBLSTSPnrBBM_ApakahAdaROB">
<span @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.ApakahAdaROB.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.ApakahAdaROB.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstsPnrBbmList.ApakahAdaROB.Visible (end) *@
    @if (subAktivitasSfadNewBlstsPnrBbmList.ApakahTerdapatROB.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.ApakahTerdapatROB.Visible (begin)
        <td data-name="ApakahTerdapatROB" @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.ApakahTerdapatROB.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstsPnrBbmList.RowCount)_SubAktivitasSFADNewBLSTSPnrBBM_ApakahTerdapatROB" class="el_SubAktivitasSFADNewBLSTSPnrBBM_ApakahTerdapatROB">
<span @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.ApakahTerdapatROB.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(subAktivitasSfadNewBlstsPnrBbmList.ApakahTerdapatROB.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstsPnrBbmList.ApakahTerdapatROB.Visible (end) *@
    @if (subAktivitasSfadNewBlstsPnrBbmList.Import.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.Import.Visible (begin)
        <td data-name="Import" @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.Import.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstsPnrBbmList.RowCount)_SubAktivitasSFADNewBLSTSPnrBBM_Import" class="el_SubAktivitasSFADNewBLSTSPnrBBM_Import">
<span @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.Import.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(subAktivitasSfadNewBlstsPnrBbmList.Import.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstsPnrBbmList.Import.Visible (end) *@
    @if (subAktivitasSfadNewBlstsPnrBbmList.Tujuan.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.Tujuan.Visible (begin)
        <td data-name="Tujuan" @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.Tujuan.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstsPnrBbmList.RowCount)_SubAktivitasSFADNewBLSTSPnrBBM_Tujuan" class="el_SubAktivitasSFADNewBLSTSPnrBBM_Tujuan">
<span @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.Tujuan.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.Tujuan.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstsPnrBbmList.Tujuan.Visible (end) *@
    @if (subAktivitasSfadNewBlstsPnrBbmList.SFAD_klobs.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.SFAD_klobs.Visible (begin)
        <td data-name="SFAD_klobs" @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.SFAD_klobs.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstsPnrBbmList.RowCount)_SubAktivitasSFADNewBLSTSPnrBBM_SFAD_klobs" class="el_SubAktivitasSFADNewBLSTSPnrBBM_SFAD_klobs">
<span @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.SFAD_klobs.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.SFAD_klobs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstsPnrBbmList.SFAD_klobs.Visible (end) *@
    @if (subAktivitasSfadNewBlstsPnrBbmList.SFAD_kl15.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.SFAD_kl15.Visible (begin)
        <td data-name="SFAD_kl15" @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.SFAD_kl15.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstsPnrBbmList.RowCount)_SubAktivitasSFADNewBLSTSPnrBBM_SFAD_kl15" class="el_SubAktivitasSFADNewBLSTSPnrBBM_SFAD_kl15">
<span @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.SFAD_kl15.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.SFAD_kl15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstsPnrBbmList.SFAD_kl15.Visible (end) *@
    @if (subAktivitasSfadNewBlstsPnrBbmList.SFAD_barrels.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.SFAD_barrels.Visible (begin)
        <td data-name="SFAD_barrels" @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.SFAD_barrels.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstsPnrBbmList.RowCount)_SubAktivitasSFADNewBLSTSPnrBBM_SFAD_barrels" class="el_SubAktivitasSFADNewBLSTSPnrBBM_SFAD_barrels">
<span @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.SFAD_barrels.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.SFAD_barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstsPnrBbmList.SFAD_barrels.Visible (end) *@
    @if (subAktivitasSfadNewBlstsPnrBbmList.SFAD_lt.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.SFAD_lt.Visible (begin)
        <td data-name="SFAD_lt" @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.SFAD_lt.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstsPnrBbmList.RowCount)_SubAktivitasSFADNewBLSTSPnrBBM_SFAD_lt" class="el_SubAktivitasSFADNewBLSTSPnrBBM_SFAD_lt">
<span @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.SFAD_lt.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.SFAD_lt.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstsPnrBbmList.SFAD_lt.Visible (end) *@
    @if (subAktivitasSfadNewBlstsPnrBbmList.SFAD_mt.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.SFAD_mt.Visible (begin)
        <td data-name="SFAD_mt" @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.SFAD_mt.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstsPnrBbmList.RowCount)_SubAktivitasSFADNewBLSTSPnrBBM_SFAD_mt" class="el_SubAktivitasSFADNewBLSTSPnrBBM_SFAD_mt">
<span @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.SFAD_mt.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.SFAD_mt.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstsPnrBbmList.SFAD_mt.Visible (end) *@
    @if (subAktivitasSfadNewBlstsPnrBbmList.NewBl_klobs.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.NewBl_klobs.Visible (begin)
        <td data-name="NewBl_klobs" @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.NewBl_klobs.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstsPnrBbmList.RowCount)_SubAktivitasSFADNewBLSTSPnrBBM_NewBl_klobs" class="el_SubAktivitasSFADNewBLSTSPnrBBM_NewBl_klobs">
<span @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.NewBl_klobs.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.NewBl_klobs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstsPnrBbmList.NewBl_klobs.Visible (end) *@
    @if (subAktivitasSfadNewBlstsPnrBbmList.NewBl_kl15.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.NewBl_kl15.Visible (begin)
        <td data-name="NewBl_kl15" @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.NewBl_kl15.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstsPnrBbmList.RowCount)_SubAktivitasSFADNewBLSTSPnrBBM_NewBl_kl15" class="el_SubAktivitasSFADNewBLSTSPnrBBM_NewBl_kl15">
<span @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.NewBl_kl15.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.NewBl_kl15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstsPnrBbmList.NewBl_kl15.Visible (end) *@
    @if (subAktivitasSfadNewBlstsPnrBbmList.NewBl_barrels.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.NewBl_barrels.Visible (begin)
        <td data-name="NewBl_barrels" @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.NewBl_barrels.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstsPnrBbmList.RowCount)_SubAktivitasSFADNewBLSTSPnrBBM_NewBl_barrels" class="el_SubAktivitasSFADNewBLSTSPnrBBM_NewBl_barrels">
<span @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.NewBl_barrels.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.NewBl_barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstsPnrBbmList.NewBl_barrels.Visible (end) *@
    @if (subAktivitasSfadNewBlstsPnrBbmList.NewBl_lt.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.NewBl_lt.Visible (begin)
        <td data-name="NewBl_lt" @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.NewBl_lt.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstsPnrBbmList.RowCount)_SubAktivitasSFADNewBLSTSPnrBBM_NewBl_lt" class="el_SubAktivitasSFADNewBLSTSPnrBBM_NewBl_lt">
<span @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.NewBl_lt.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.NewBl_lt.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstsPnrBbmList.NewBl_lt.Visible (end) *@
    @if (subAktivitasSfadNewBlstsPnrBbmList.NewBl_mt.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.NewBl_mt.Visible (begin)
        <td data-name="NewBl_mt" @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.NewBl_mt.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstsPnrBbmList.RowCount)_SubAktivitasSFADNewBLSTSPnrBBM_NewBl_mt" class="el_SubAktivitasSFADNewBLSTSPnrBBM_NewBl_mt">
<span @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.NewBl_mt.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.NewBl_mt.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstsPnrBbmList.NewBl_mt.Visible (end) *@
    @if (subAktivitasSfadNewBlstsPnrBbmList.AR45B_klobs.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.AR45B_klobs.Visible (begin)
        <td data-name="AR45B_klobs" @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.AR45B_klobs.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstsPnrBbmList.RowCount)_SubAktivitasSFADNewBLSTSPnrBBM_AR45B_klobs" class="el_SubAktivitasSFADNewBLSTSPnrBBM_AR45B_klobs">
<span @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.AR45B_klobs.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.AR45B_klobs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstsPnrBbmList.AR45B_klobs.Visible (end) *@
    @if (subAktivitasSfadNewBlstsPnrBbmList.AR45B_kl15.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.AR45B_kl15.Visible (begin)
        <td data-name="AR45B_kl15" @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.AR45B_kl15.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstsPnrBbmList.RowCount)_SubAktivitasSFADNewBLSTSPnrBBM_AR45B_kl15" class="el_SubAktivitasSFADNewBLSTSPnrBBM_AR45B_kl15">
<span @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.AR45B_kl15.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.AR45B_kl15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstsPnrBbmList.AR45B_kl15.Visible (end) *@
    @if (subAktivitasSfadNewBlstsPnrBbmList.AR45B_barrels.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.AR45B_barrels.Visible (begin)
        <td data-name="AR45B_barrels" @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.AR45B_barrels.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstsPnrBbmList.RowCount)_SubAktivitasSFADNewBLSTSPnrBBM_AR45B_barrels" class="el_SubAktivitasSFADNewBLSTSPnrBBM_AR45B_barrels">
<span @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.AR45B_barrels.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.AR45B_barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstsPnrBbmList.AR45B_barrels.Visible (end) *@
    @if (subAktivitasSfadNewBlstsPnrBbmList.AR45B_lt.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.AR45B_lt.Visible (begin)
        <td data-name="AR45B_lt" @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.AR45B_lt.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstsPnrBbmList.RowCount)_SubAktivitasSFADNewBLSTSPnrBBM_AR45B_lt" class="el_SubAktivitasSFADNewBLSTSPnrBBM_AR45B_lt">
<span @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.AR45B_lt.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.AR45B_lt.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstsPnrBbmList.AR45B_lt.Visible (end) *@
    @if (subAktivitasSfadNewBlstsPnrBbmList.AR45B_mt.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.AR45B_mt.Visible (begin)
        <td data-name="AR45B_mt" @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.AR45B_mt.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstsPnrBbmList.RowCount)_SubAktivitasSFADNewBLSTSPnrBBM_AR45B_mt" class="el_SubAktivitasSFADNewBLSTSPnrBBM_AR45B_mt">
<span @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.AR45B_mt.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.AR45B_mt.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstsPnrBbmList.AR45B_mt.Visible (end) *@
    @if (subAktivitasSfadNewBlstsPnrBbmList.userInput.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstsPnrBbmList.RowCount)_SubAktivitasSFADNewBLSTSPnrBBM_userInput" class="el_SubAktivitasSFADNewBLSTSPnrBBM_userInput">
<span @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstsPnrBbmList.userInput.Visible (end) *@
    @if (subAktivitasSfadNewBlstsPnrBbmList.etlDate.Visible) { // subAktivitasSfadNewBlstsPnrBbmList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstsPnrBbmList.RowCount)_SubAktivitasSFADNewBLSTSPnrBBM_etlDate" class="el_SubAktivitasSFADNewBLSTSPnrBBM_etlDate">
<span @Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstsPnrBbmList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasSfadNewBlstsPnrBbmList.ListOptions.RenderBody("right", subAktivitasSfadNewBlstsPnrBbmList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasSfadNewBlstsPnrBbmList.RowIndex, "$rowindex$"))
        subAktivitasSfadNewBlstsPnrBbmList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasSfadNewBlstsPnrBbmList.IsCopy || subAktivitasSfadNewBlstsPnrBbmList.IsAdd) && subAktivitasSfadNewBlstsPnrBbmList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasSfadNewBlstsPnrBbmList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasSfadNewBlstsPnrBbmList.CurrentAction) && !subAktivitasSfadNewBlstsPnrBbmList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasSfadNewBlstsPnrBbmList.CloseRecordset(); }
@if (!subAktivitasSfadNewBlstsPnrBbmList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasSfadNewBlstsPnrBbmList.IsGridAdd && !(subAktivitasSfadNewBlstsPnrBbmList.IsGridEdit && subAktivitasSfadNewBlstsPnrBbmList.ModalGridEdit) && !subAktivitasSfadNewBlstsPnrBbmList.IsMultiEdit) {
@Html.Raw(subAktivitasSfadNewBlstsPnrBbmList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasSfadNewBlstsPnrBbmList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasSfadNewBlstsPnrBbmList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasSfadNewBlstsPnrBbmList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasSfadNewBlstsPnrBbmList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasSfadNewBlstsPnrBbmList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasSFADNewBLSTSPnrBBM");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
