@{
    // View
    View = this;

    // Check action result
    if (subAktivitasLogbookJembatanTimbangLpgEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasLogbookJembatanTimbangLpgEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasLogbookJembatanTimbangLpgEdit.ShowPageHeader()
@subAktivitasLogbookJembatanTimbangLpgEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasLogbookJembatanTimbangLPGedit" id="fSubAktivitasLogbookJembatanTimbangLPGedit" class="@(subAktivitasLogbookJembatanTimbangLpgEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasLogbookJembatanTimbangLpgEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasLogbookJembatanTimbangLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasLogbookJembatanTimbangLPGedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasLogbookJembatanTimbangLPGedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["NomorTangki", [fields.NomorTangki.visible && fields.NomorTangki.required ? ew.Validators.required(fields.NomorTangki.caption) : null], fields.NomorTangki.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["SPA", [fields.SPA.visible && fields.SPA.required ? ew.Validators.required(fields.SPA.caption) : null], fields.SPA.isInvalid],
            ["TimbanganAwal", [fields.TimbanganAwal.visible && fields.TimbanganAwal.required ? ew.Validators.required(fields.TimbanganAwal.caption) : null], fields.TimbanganAwal.isInvalid],
            ["TimbanganAkhir", [fields.TimbanganAkhir.visible && fields.TimbanganAkhir.required ? ew.Validators.required(fields.TimbanganAkhir.caption) : null], fields.TimbanganAkhir.isInvalid],
            ["NetWight", [fields.NetWight.visible && fields.NetWight.required ? ew.Validators.required(fields.NetWight.caption) : null], fields.NetWight.isInvalid],
            ["PresentaseLevelRotoGauge", [fields.PresentaseLevelRotoGauge.visible && fields.PresentaseLevelRotoGauge.required ? ew.Validators.required(fields.PresentaseLevelRotoGauge.caption) : null], fields.PresentaseLevelRotoGauge.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasLogbookJembatanTimbangLpgEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasLogbookJembatanTimbangLpgEdit.OldKeyName)" value="@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasLogbookJembatanTimbangLpgEdit.id.Visible) { // subAktivitasLogbookJembatanTimbangLpgEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.id.RowAttributes)>
        <label id="elh_SubAktivitasLogbookJembatanTimbangLPG_id" class="@(subAktivitasLogbookJembatanTimbangLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.id.Caption)@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookJembatanTimbangLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.id.CellAttributes)>
<span id="el_SubAktivitasLogbookJembatanTimbangLPG_id">
<span @Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasLogbookJembatanTimbangLpgEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasLogbookJembatanTimbangLPG" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasLogbookJembatanTimbangLpgEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasLogbookJembatanTimbangLpgEdit.id.Visible (end) *@
@if (subAktivitasLogbookJembatanTimbangLpgEdit.idProses.Visible) { // subAktivitasLogbookJembatanTimbangLpgEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasLogbookJembatanTimbangLPG_idProses" for="x_idProses" class="@(subAktivitasLogbookJembatanTimbangLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.idProses.Caption)@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookJembatanTimbangLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasLogbookJembatanTimbangLPG_idProses">
<input type="@(subAktivitasLogbookJembatanTimbangLpgEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubAktivitasLogbookJembatanTimbangLPG" data-field="x_idProses" value="@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookJembatanTimbangLpgEdit.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookJembatanTimbangLpgEdit.idProses.FormatPattern)"@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookJembatanTimbangLpgEdit.idProses.Visible (end) *@
@if (subAktivitasLogbookJembatanTimbangLpgEdit.idAktifitas.Visible) { // subAktivitasLogbookJembatanTimbangLpgEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasLogbookJembatanTimbangLPG_idAktifitas" for="x_idAktifitas" class="@(subAktivitasLogbookJembatanTimbangLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.idAktifitas.Caption)@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookJembatanTimbangLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasLogbookJembatanTimbangLPG_idAktifitas">
<input type="@(subAktivitasLogbookJembatanTimbangLpgEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubAktivitasLogbookJembatanTimbangLPG" data-field="x_idAktifitas" value="@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookJembatanTimbangLpgEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookJembatanTimbangLpgEdit.idAktifitas.FormatPattern)"@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookJembatanTimbangLpgEdit.idAktifitas.Visible (end) *@
@if (subAktivitasLogbookJembatanTimbangLpgEdit.NoReferensi.Visible) { // subAktivitasLogbookJembatanTimbangLpgEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasLogbookJembatanTimbangLPG_NoReferensi" for="x_NoReferensi" class="@(subAktivitasLogbookJembatanTimbangLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.NoReferensi.Caption)@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookJembatanTimbangLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasLogbookJembatanTimbangLPG_NoReferensi">
<input type="@(subAktivitasLogbookJembatanTimbangLpgEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasLogbookJembatanTimbangLPG" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.NoReferensi.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookJembatanTimbangLpgEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookJembatanTimbangLpgEdit.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookJembatanTimbangLpgEdit.NoReferensi.Visible (end) *@
@if (subAktivitasLogbookJembatanTimbangLpgEdit.NomorTangki.Visible) { // subAktivitasLogbookJembatanTimbangLpgEdit.NomorTangki.Visible (begin)
    <div id="r_NomorTangki" @Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.NomorTangki.RowAttributes)>
        <label id="elh_SubAktivitasLogbookJembatanTimbangLPG_NomorTangki" for="x_NomorTangki" class="@(subAktivitasLogbookJembatanTimbangLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.NomorTangki.Caption)@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.NomorTangki.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookJembatanTimbangLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.NomorTangki.CellAttributes)>
<span id="el_SubAktivitasLogbookJembatanTimbangLPG_NomorTangki">
<input type="@(subAktivitasLogbookJembatanTimbangLpgEdit.NomorTangki.InputTextType)" name="x_NomorTangki" id="x_NomorTangki" data-table="SubAktivitasLogbookJembatanTimbangLPG" data-field="x_NomorTangki" value="@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.NomorTangki.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookJembatanTimbangLpgEdit.NomorTangki.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookJembatanTimbangLpgEdit.NomorTangki.FormatPattern)"@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.NomorTangki.EditAttributes) aria-describedby="x_NomorTangki_help">
@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.NomorTangki.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.NomorTangki.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookJembatanTimbangLpgEdit.NomorTangki.Visible (end) *@
@if (subAktivitasLogbookJembatanTimbangLpgEdit.Produk.Visible) { // subAktivitasLogbookJembatanTimbangLpgEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.Produk.RowAttributes)>
        <label id="elh_SubAktivitasLogbookJembatanTimbangLPG_Produk" for="x_Produk" class="@(subAktivitasLogbookJembatanTimbangLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.Produk.Caption)@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookJembatanTimbangLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.Produk.CellAttributes)>
<span id="el_SubAktivitasLogbookJembatanTimbangLPG_Produk">
<input type="@(subAktivitasLogbookJembatanTimbangLpgEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasLogbookJembatanTimbangLPG" data-field="x_Produk" value="@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.Produk.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookJembatanTimbangLpgEdit.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookJembatanTimbangLpgEdit.Produk.FormatPattern)"@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookJembatanTimbangLpgEdit.Produk.Visible (end) *@
@if (subAktivitasLogbookJembatanTimbangLpgEdit.SPA.Visible) { // subAktivitasLogbookJembatanTimbangLpgEdit.SPA.Visible (begin)
    <div id="r_SPA" @Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.SPA.RowAttributes)>
        <label id="elh_SubAktivitasLogbookJembatanTimbangLPG_SPA" for="x_SPA" class="@(subAktivitasLogbookJembatanTimbangLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.SPA.Caption)@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.SPA.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookJembatanTimbangLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.SPA.CellAttributes)>
<span id="el_SubAktivitasLogbookJembatanTimbangLPG_SPA">
<input type="@(subAktivitasLogbookJembatanTimbangLpgEdit.SPA.InputTextType)" name="x_SPA" id="x_SPA" data-table="SubAktivitasLogbookJembatanTimbangLPG" data-field="x_SPA" value="@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.SPA.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookJembatanTimbangLpgEdit.SPA.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookJembatanTimbangLpgEdit.SPA.FormatPattern)"@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.SPA.EditAttributes) aria-describedby="x_SPA_help">
@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.SPA.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.SPA.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookJembatanTimbangLpgEdit.SPA.Visible (end) *@
@if (subAktivitasLogbookJembatanTimbangLpgEdit.TimbanganAwal.Visible) { // subAktivitasLogbookJembatanTimbangLpgEdit.TimbanganAwal.Visible (begin)
    <div id="r_TimbanganAwal" @Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.TimbanganAwal.RowAttributes)>
        <label id="elh_SubAktivitasLogbookJembatanTimbangLPG_TimbanganAwal" for="x_TimbanganAwal" class="@(subAktivitasLogbookJembatanTimbangLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.TimbanganAwal.Caption)@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.TimbanganAwal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookJembatanTimbangLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.TimbanganAwal.CellAttributes)>
<span id="el_SubAktivitasLogbookJembatanTimbangLPG_TimbanganAwal">
<input type="@(subAktivitasLogbookJembatanTimbangLpgEdit.TimbanganAwal.InputTextType)" name="x_TimbanganAwal" id="x_TimbanganAwal" data-table="SubAktivitasLogbookJembatanTimbangLPG" data-field="x_TimbanganAwal" value="@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.TimbanganAwal.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookJembatanTimbangLpgEdit.TimbanganAwal.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookJembatanTimbangLpgEdit.TimbanganAwal.FormatPattern)"@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.TimbanganAwal.EditAttributes) aria-describedby="x_TimbanganAwal_help">
@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.TimbanganAwal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.TimbanganAwal.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookJembatanTimbangLpgEdit.TimbanganAwal.Visible (end) *@
@if (subAktivitasLogbookJembatanTimbangLpgEdit.TimbanganAkhir.Visible) { // subAktivitasLogbookJembatanTimbangLpgEdit.TimbanganAkhir.Visible (begin)
    <div id="r_TimbanganAkhir" @Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.TimbanganAkhir.RowAttributes)>
        <label id="elh_SubAktivitasLogbookJembatanTimbangLPG_TimbanganAkhir" for="x_TimbanganAkhir" class="@(subAktivitasLogbookJembatanTimbangLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.TimbanganAkhir.Caption)@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.TimbanganAkhir.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookJembatanTimbangLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.TimbanganAkhir.CellAttributes)>
<span id="el_SubAktivitasLogbookJembatanTimbangLPG_TimbanganAkhir">
<input type="@(subAktivitasLogbookJembatanTimbangLpgEdit.TimbanganAkhir.InputTextType)" name="x_TimbanganAkhir" id="x_TimbanganAkhir" data-table="SubAktivitasLogbookJembatanTimbangLPG" data-field="x_TimbanganAkhir" value="@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.TimbanganAkhir.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookJembatanTimbangLpgEdit.TimbanganAkhir.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookJembatanTimbangLpgEdit.TimbanganAkhir.FormatPattern)"@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.TimbanganAkhir.EditAttributes) aria-describedby="x_TimbanganAkhir_help">
@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.TimbanganAkhir.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.TimbanganAkhir.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookJembatanTimbangLpgEdit.TimbanganAkhir.Visible (end) *@
@if (subAktivitasLogbookJembatanTimbangLpgEdit.NetWight.Visible) { // subAktivitasLogbookJembatanTimbangLpgEdit.NetWight.Visible (begin)
    <div id="r_NetWight" @Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.NetWight.RowAttributes)>
        <label id="elh_SubAktivitasLogbookJembatanTimbangLPG_NetWight" for="x_NetWight" class="@(subAktivitasLogbookJembatanTimbangLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.NetWight.Caption)@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.NetWight.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookJembatanTimbangLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.NetWight.CellAttributes)>
<span id="el_SubAktivitasLogbookJembatanTimbangLPG_NetWight">
<input type="@(subAktivitasLogbookJembatanTimbangLpgEdit.NetWight.InputTextType)" name="x_NetWight" id="x_NetWight" data-table="SubAktivitasLogbookJembatanTimbangLPG" data-field="x_NetWight" value="@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.NetWight.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookJembatanTimbangLpgEdit.NetWight.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookJembatanTimbangLpgEdit.NetWight.FormatPattern)"@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.NetWight.EditAttributes) aria-describedby="x_NetWight_help">
@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.NetWight.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.NetWight.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookJembatanTimbangLpgEdit.NetWight.Visible (end) *@
@if (subAktivitasLogbookJembatanTimbangLpgEdit.PresentaseLevelRotoGauge.Visible) { // subAktivitasLogbookJembatanTimbangLpgEdit.PresentaseLevelRotoGauge.Visible (begin)
    <div id="r_PresentaseLevelRotoGauge" @Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.PresentaseLevelRotoGauge.RowAttributes)>
        <label id="elh_SubAktivitasLogbookJembatanTimbangLPG_PresentaseLevelRotoGauge" for="x_PresentaseLevelRotoGauge" class="@(subAktivitasLogbookJembatanTimbangLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.PresentaseLevelRotoGauge.Caption)@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.PresentaseLevelRotoGauge.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookJembatanTimbangLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.PresentaseLevelRotoGauge.CellAttributes)>
<span id="el_SubAktivitasLogbookJembatanTimbangLPG_PresentaseLevelRotoGauge">
<input type="@(subAktivitasLogbookJembatanTimbangLpgEdit.PresentaseLevelRotoGauge.InputTextType)" name="x_PresentaseLevelRotoGauge" id="x_PresentaseLevelRotoGauge" data-table="SubAktivitasLogbookJembatanTimbangLPG" data-field="x_PresentaseLevelRotoGauge" value="@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.PresentaseLevelRotoGauge.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookJembatanTimbangLpgEdit.PresentaseLevelRotoGauge.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookJembatanTimbangLpgEdit.PresentaseLevelRotoGauge.FormatPattern)"@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.PresentaseLevelRotoGauge.EditAttributes) aria-describedby="x_PresentaseLevelRotoGauge_help">
@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.PresentaseLevelRotoGauge.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.PresentaseLevelRotoGauge.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookJembatanTimbangLpgEdit.PresentaseLevelRotoGauge.Visible (end) *@
@if (subAktivitasLogbookJembatanTimbangLpgEdit.userInput.Visible) { // subAktivitasLogbookJembatanTimbangLpgEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.userInput.RowAttributes)>
        <label id="elh_SubAktivitasLogbookJembatanTimbangLPG_userInput" for="x_userInput" class="@(subAktivitasLogbookJembatanTimbangLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.userInput.Caption)@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookJembatanTimbangLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.userInput.CellAttributes)>
<span id="el_SubAktivitasLogbookJembatanTimbangLPG_userInput">
<input type="@(subAktivitasLogbookJembatanTimbangLpgEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasLogbookJembatanTimbangLPG" data-field="x_userInput" value="@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookJembatanTimbangLpgEdit.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookJembatanTimbangLpgEdit.userInput.FormatPattern)"@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookJembatanTimbangLpgEdit.userInput.Visible (end) *@
@if (subAktivitasLogbookJembatanTimbangLpgEdit.etlDate.Visible) { // subAktivitasLogbookJembatanTimbangLpgEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasLogbookJembatanTimbangLPG_etlDate" for="x_etlDate" class="@(subAktivitasLogbookJembatanTimbangLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.etlDate.Caption)@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookJembatanTimbangLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.etlDate.CellAttributes)>
<span id="el_SubAktivitasLogbookJembatanTimbangLPG_etlDate">
<input type="@(subAktivitasLogbookJembatanTimbangLpgEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasLogbookJembatanTimbangLPG" data-field="x_etlDate" value="@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookJembatanTimbangLpgEdit.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookJembatanTimbangLpgEdit.etlDate.FormatPattern)"@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.etlDate.GetErrorMessage())</div>
@if (!subAktivitasLogbookJembatanTimbangLpgEdit.etlDate.ReadOnly && !subAktivitasLogbookJembatanTimbangLpgEdit.etlDate.Disabled && !subAktivitasLogbookJembatanTimbangLpgEdit.etlDate.EditAttrs.Is("readonly") && !subAktivitasLogbookJembatanTimbangLpgEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasLogbookJembatanTimbangLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasLogbookJembatanTimbangLPGedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasLogbookJembatanTimbangLpgEdit.etlDate.Visible (end) *@
@if (subAktivitasLogbookJembatanTimbangLpgEdit.LastUpdatedBy.Visible) { // subAktivitasLogbookJembatanTimbangLpgEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasLogbookJembatanTimbangLPG_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasLogbookJembatanTimbangLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookJembatanTimbangLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasLogbookJembatanTimbangLPG_LastUpdatedBy">
<input type="@(subAktivitasLogbookJembatanTimbangLpgEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasLogbookJembatanTimbangLPG" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookJembatanTimbangLpgEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookJembatanTimbangLpgEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookJembatanTimbangLpgEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasLogbookJembatanTimbangLpgEdit.lastUpdatedDate.Visible) { // subAktivitasLogbookJembatanTimbangLpgEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasLogbookJembatanTimbangLPG_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasLogbookJembatanTimbangLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookJembatanTimbangLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasLogbookJembatanTimbangLPG_lastUpdatedDate">
<input type="@(subAktivitasLogbookJembatanTimbangLpgEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasLogbookJembatanTimbangLPG" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookJembatanTimbangLpgEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookJembatanTimbangLpgEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasLogbookJembatanTimbangLpgEdit.lastUpdatedDate.ReadOnly && !subAktivitasLogbookJembatanTimbangLpgEdit.lastUpdatedDate.Disabled && !subAktivitasLogbookJembatanTimbangLpgEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasLogbookJembatanTimbangLpgEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasLogbookJembatanTimbangLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasLogbookJembatanTimbangLPGedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasLogbookJembatanTimbangLpgEdit.lastUpdatedDate.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasLogbookJembatanTimbangLpgEdit.CloseRecordset(); }
@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasLogbookJembatanTimbangLpgEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasLogbookJembatanTimbangLPGedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasLogbookJembatanTimbangLPGedit" data-href="@AppPath(subAktivitasLogbookJembatanTimbangLpgEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasLogbookJembatanTimbangLpgEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasLogbookJembatanTimbangLpgEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasLogbookJembatanTimbangLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
