@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputHslPemeriksaanAdd.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputHslPemeriksaanAdd.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputHslPemeriksaanAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputHslPemeriksaan: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fSubAktivitasFormInputHslPemeriksaanadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputHslPemeriksaanadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["Tanggal", [fields.Tanggal.visible && fields.Tanggal.required ? ew.Validators.required(fields.Tanggal.caption) : null, ew.Validators.datetime(fields.Tanggal.clientFormatPattern)], fields.Tanggal.isInvalid],
            ["NamaKegiatan", [fields.NamaKegiatan.visible && fields.NamaKegiatan.required ? ew.Validators.required(fields.NamaKegiatan.caption) : null], fields.NamaKegiatan.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["Density", [fields.Density.visible && fields.Density.required ? ew.Validators.required(fields.Density.caption) : null], fields.Density.isInvalid],
            ["Temperature", [fields.Temperature.visible && fields.Temperature.required ? ew.Validators.required(fields.Temperature.caption) : null], fields.Temperature.isInvalid],
            ["Pressure", [fields.Pressure.visible && fields.Pressure.required ? ew.Validators.required(fields.Pressure.caption) : null], fields.Pressure.isInvalid],
            ["Keterangan", [fields.Keterangan.visible && fields.Keterangan.required ? ew.Validators.required(fields.Keterangan.caption) : null], fields.Keterangan.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["TanggalJamSOP", [fields.TanggalJamSOP.visible && fields.TanggalJamSOP.required ? ew.Validators.required(fields.TanggalJamSOP.caption) : null, ew.Validators.datetime(fields.TanggalJamSOP.clientFormatPattern)], fields.TanggalJamSOP.isInvalid],
            ["SelisihWaktu", [fields.SelisihWaktu.visible && fields.SelisihWaktu.required ? ew.Validators.required(fields.SelisihWaktu.caption) : null], fields.SelisihWaktu.isInvalid],
            ["IsQualityActive", [fields.IsQualityActive.visible && fields.IsQualityActive.required ? ew.Validators.required(fields.IsQualityActive.caption) : null], fields.IsQualityActive.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "IsQualityActive": @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.IsQualityActive.ToClientList(subAktivitasFormInputHslPemeriksaanAdd)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasFormInputHslPemeriksaanAdd.ShowPageHeader()
@subAktivitasFormInputHslPemeriksaanAdd.ShowMessages()
<form name="fSubAktivitasFormInputHslPemeriksaanadd" id="fSubAktivitasFormInputHslPemeriksaanadd" class="@(subAktivitasFormInputHslPemeriksaanAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputHslPemeriksaanAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasFormInputHslPemeriksaanAdd.OldKeyName)" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (subAktivitasFormInputHslPemeriksaanAdd.idAktifitas.Visible) { // subAktivitasFormInputHslPemeriksaanAdd.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_idAktifitas" for="x_idAktifitas" class="@(subAktivitasFormInputHslPemeriksaanAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.idAktifitas.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_idAktifitas">
<input type="@(subAktivitasFormInputHslPemeriksaanAdd.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_idAktifitas" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanAdd.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHslPemeriksaanAdd.idAktifitas.FormatPattern)"@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanAdd.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanAdd.idProses.Visible) { // subAktivitasFormInputHslPemeriksaanAdd.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.idProses.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_idProses" for="x_idProses" class="@(subAktivitasFormInputHslPemeriksaanAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.idProses.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_idProses">
<input type="@(subAktivitasFormInputHslPemeriksaanAdd.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_idProses" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanAdd.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHslPemeriksaanAdd.idProses.FormatPattern)"@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanAdd.idProses.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanAdd.NoReferensi.Visible) { // subAktivitasFormInputHslPemeriksaanAdd.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_NoReferensi" for="x_NoReferensi" class="@(subAktivitasFormInputHslPemeriksaanAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.NoReferensi.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_NoReferensi">
<input type="@(subAktivitasFormInputHslPemeriksaanAdd.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.NoReferensi.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanAdd.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHslPemeriksaanAdd.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanAdd.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanAdd.Tanggal.Visible) { // subAktivitasFormInputHslPemeriksaanAdd.Tanggal.Visible (begin)
    <div id="r_Tanggal" @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Tanggal.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_Tanggal" for="x_Tanggal" class="@(subAktivitasFormInputHslPemeriksaanAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Tanggal.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Tanggal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Tanggal.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_Tanggal">
<input type="@(subAktivitasFormInputHslPemeriksaanAdd.Tanggal.InputTextType)" name="x_Tanggal" id="x_Tanggal" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_Tanggal" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Tanggal.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanAdd.Tanggal.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHslPemeriksaanAdd.Tanggal.FormatPattern)"@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Tanggal.EditAttributes) aria-describedby="x_Tanggal_help">
@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Tanggal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Tanggal.GetErrorMessage())</div>
@if (!subAktivitasFormInputHslPemeriksaanAdd.Tanggal.ReadOnly && !subAktivitasFormInputHslPemeriksaanAdd.Tanggal.Disabled && !subAktivitasFormInputHslPemeriksaanAdd.Tanggal.EditAttrs.Is("readonly") && !subAktivitasFormInputHslPemeriksaanAdd.Tanggal.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputHslPemeriksaanadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputHslPemeriksaanadd", "x_Tanggal", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanAdd.Tanggal.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanAdd.NamaKegiatan.Visible) { // subAktivitasFormInputHslPemeriksaanAdd.NamaKegiatan.Visible (begin)
    <div id="r_NamaKegiatan" @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.NamaKegiatan.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_NamaKegiatan" for="x_NamaKegiatan" class="@(subAktivitasFormInputHslPemeriksaanAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.NamaKegiatan.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.NamaKegiatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.NamaKegiatan.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_NamaKegiatan">
<input type="@(subAktivitasFormInputHslPemeriksaanAdd.NamaKegiatan.InputTextType)" name="x_NamaKegiatan" id="x_NamaKegiatan" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_NamaKegiatan" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.NamaKegiatan.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanAdd.NamaKegiatan.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHslPemeriksaanAdd.NamaKegiatan.FormatPattern)"@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.NamaKegiatan.EditAttributes) aria-describedby="x_NamaKegiatan_help">
@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.NamaKegiatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.NamaKegiatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanAdd.NamaKegiatan.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanAdd.Produk.Visible) { // subAktivitasFormInputHslPemeriksaanAdd.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Produk.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_Produk" for="x_Produk" class="@(subAktivitasFormInputHslPemeriksaanAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Produk.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Produk.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_Produk">
<input type="@(subAktivitasFormInputHslPemeriksaanAdd.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_Produk" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Produk.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanAdd.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHslPemeriksaanAdd.Produk.FormatPattern)"@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanAdd.Produk.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanAdd.Density.Visible) { // subAktivitasFormInputHslPemeriksaanAdd.Density.Visible (begin)
    <div id="r_Density" @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Density.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_Density" for="x_Density" class="@(subAktivitasFormInputHslPemeriksaanAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Density.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Density.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Density.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_Density">
<input type="@(subAktivitasFormInputHslPemeriksaanAdd.Density.InputTextType)" name="x_Density" id="x_Density" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_Density" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Density.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanAdd.Density.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHslPemeriksaanAdd.Density.FormatPattern)"@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Density.EditAttributes) aria-describedby="x_Density_help">
@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Density.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Density.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanAdd.Density.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanAdd.Temperature.Visible) { // subAktivitasFormInputHslPemeriksaanAdd.Temperature.Visible (begin)
    <div id="r_Temperature" @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Temperature.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_Temperature" for="x_Temperature" class="@(subAktivitasFormInputHslPemeriksaanAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Temperature.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Temperature.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Temperature.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_Temperature">
<input type="@(subAktivitasFormInputHslPemeriksaanAdd.Temperature.InputTextType)" name="x_Temperature" id="x_Temperature" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_Temperature" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Temperature.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanAdd.Temperature.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHslPemeriksaanAdd.Temperature.FormatPattern)"@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Temperature.EditAttributes) aria-describedby="x_Temperature_help">
@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Temperature.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Temperature.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanAdd.Temperature.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanAdd.Pressure.Visible) { // subAktivitasFormInputHslPemeriksaanAdd.Pressure.Visible (begin)
    <div id="r_Pressure" @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Pressure.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_Pressure" for="x_Pressure" class="@(subAktivitasFormInputHslPemeriksaanAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Pressure.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Pressure.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Pressure.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_Pressure">
<input type="@(subAktivitasFormInputHslPemeriksaanAdd.Pressure.InputTextType)" name="x_Pressure" id="x_Pressure" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_Pressure" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Pressure.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanAdd.Pressure.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHslPemeriksaanAdd.Pressure.FormatPattern)"@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Pressure.EditAttributes) aria-describedby="x_Pressure_help">
@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Pressure.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Pressure.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanAdd.Pressure.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanAdd.Keterangan.Visible) { // subAktivitasFormInputHslPemeriksaanAdd.Keterangan.Visible (begin)
    <div id="r_Keterangan" @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Keterangan.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_Keterangan" for="x_Keterangan" class="@(subAktivitasFormInputHslPemeriksaanAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Keterangan.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Keterangan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Keterangan.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_Keterangan">
<input type="@(subAktivitasFormInputHslPemeriksaanAdd.Keterangan.InputTextType)" name="x_Keterangan" id="x_Keterangan" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_Keterangan" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Keterangan.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanAdd.Keterangan.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHslPemeriksaanAdd.Keterangan.FormatPattern)"@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Keterangan.EditAttributes) aria-describedby="x_Keterangan_help">
@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Keterangan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.Keterangan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanAdd.Keterangan.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanAdd.userInput.Visible) { // subAktivitasFormInputHslPemeriksaanAdd.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.userInput.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_userInput" for="x_userInput" class="@(subAktivitasFormInputHslPemeriksaanAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.userInput.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_userInput">
<input type="@(subAktivitasFormInputHslPemeriksaanAdd.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_userInput" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanAdd.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHslPemeriksaanAdd.userInput.FormatPattern)"@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanAdd.userInput.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanAdd.etlDate.Visible) { // subAktivitasFormInputHslPemeriksaanAdd.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_etlDate" for="x_etlDate" class="@(subAktivitasFormInputHslPemeriksaanAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.etlDate.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_etlDate">
<input type="@(subAktivitasFormInputHslPemeriksaanAdd.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_etlDate" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanAdd.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHslPemeriksaanAdd.etlDate.FormatPattern)"@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.etlDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputHslPemeriksaanAdd.etlDate.ReadOnly && !subAktivitasFormInputHslPemeriksaanAdd.etlDate.Disabled && !subAktivitasFormInputHslPemeriksaanAdd.etlDate.EditAttrs.Is("readonly") && !subAktivitasFormInputHslPemeriksaanAdd.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputHslPemeriksaanadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputHslPemeriksaanadd", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanAdd.etlDate.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanAdd.LastUpdatedBy.Visible) { // subAktivitasFormInputHslPemeriksaanAdd.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasFormInputHslPemeriksaanAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.LastUpdatedBy.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_LastUpdatedBy">
<input type="@(subAktivitasFormInputHslPemeriksaanAdd.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanAdd.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHslPemeriksaanAdd.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanAdd.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanAdd.lastUpdatedDate.Visible) { // subAktivitasFormInputHslPemeriksaanAdd.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasFormInputHslPemeriksaanAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.lastUpdatedDate.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_lastUpdatedDate">
<input type="@(subAktivitasFormInputHslPemeriksaanAdd.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanAdd.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHslPemeriksaanAdd.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputHslPemeriksaanAdd.lastUpdatedDate.ReadOnly && !subAktivitasFormInputHslPemeriksaanAdd.lastUpdatedDate.Disabled && !subAktivitasFormInputHslPemeriksaanAdd.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasFormInputHslPemeriksaanAdd.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputHslPemeriksaanadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputHslPemeriksaanadd", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanAdd.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanAdd.TanggalJamSOP.Visible) { // subAktivitasFormInputHslPemeriksaanAdd.TanggalJamSOP.Visible (begin)
    <div id="r_TanggalJamSOP" @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.TanggalJamSOP.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_TanggalJamSOP" for="x_TanggalJamSOP" class="@(subAktivitasFormInputHslPemeriksaanAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.TanggalJamSOP.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.TanggalJamSOP.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.TanggalJamSOP.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_TanggalJamSOP">
<input type="@(subAktivitasFormInputHslPemeriksaanAdd.TanggalJamSOP.InputTextType)" name="x_TanggalJamSOP" id="x_TanggalJamSOP" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_TanggalJamSOP" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.TanggalJamSOP.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanAdd.TanggalJamSOP.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHslPemeriksaanAdd.TanggalJamSOP.FormatPattern)"@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.TanggalJamSOP.EditAttributes) aria-describedby="x_TanggalJamSOP_help">
@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.TanggalJamSOP.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.TanggalJamSOP.GetErrorMessage())</div>
@if (!subAktivitasFormInputHslPemeriksaanAdd.TanggalJamSOP.ReadOnly && !subAktivitasFormInputHslPemeriksaanAdd.TanggalJamSOP.Disabled && !subAktivitasFormInputHslPemeriksaanAdd.TanggalJamSOP.EditAttrs.Is("readonly") && !subAktivitasFormInputHslPemeriksaanAdd.TanggalJamSOP.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputHslPemeriksaanadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputHslPemeriksaanadd", "x_TanggalJamSOP", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanAdd.TanggalJamSOP.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanAdd.SelisihWaktu.Visible) { // subAktivitasFormInputHslPemeriksaanAdd.SelisihWaktu.Visible (begin)
    <div id="r_SelisihWaktu" @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.SelisihWaktu.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_SelisihWaktu" for="x_SelisihWaktu" class="@(subAktivitasFormInputHslPemeriksaanAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.SelisihWaktu.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.SelisihWaktu.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.SelisihWaktu.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_SelisihWaktu">
<input type="@(subAktivitasFormInputHslPemeriksaanAdd.SelisihWaktu.InputTextType)" name="x_SelisihWaktu" id="x_SelisihWaktu" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_SelisihWaktu" value="@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.SelisihWaktu.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanAdd.SelisihWaktu.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHslPemeriksaanAdd.SelisihWaktu.FormatPattern)"@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.SelisihWaktu.EditAttributes) aria-describedby="x_SelisihWaktu_help">
@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.SelisihWaktu.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.SelisihWaktu.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanAdd.SelisihWaktu.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanAdd.IsQualityActive.Visible) { // subAktivitasFormInputHslPemeriksaanAdd.IsQualityActive.Visible (begin)
    <div id="r_IsQualityActive" @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.IsQualityActive.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHslPemeriksaan_IsQualityActive" class="@(subAktivitasFormInputHslPemeriksaanAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.IsQualityActive.Caption)@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.IsQualityActive.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHslPemeriksaanAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.IsQualityActive.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_IsQualityActive">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(subAktivitasFormInputHslPemeriksaanAdd.IsQualityActive.IsInvalidClass)" data-table="SubAktivitasFormInputHslPemeriksaan" data-field="x_IsQualityActive" data-boolean name="x_IsQualityActive" id="x_IsQualityActive" value="1" checked="@ConvertToBool(subAktivitasFormInputHslPemeriksaanAdd.IsQualityActive.CurrentValue)" @Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.IsQualityActive.EditAttributes) aria-describedby="x_IsQualityActive_help">
    <div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.IsQualityActive.GetErrorMessage())</div>
</div>
@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.IsQualityActive.GetCustomMessage)
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHslPemeriksaanAdd.IsQualityActive.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasFormInputHslPemeriksaanAdd.CloseRecordset(); }
@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasFormInputHslPemeriksaanAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasFormInputHslPemeriksaanadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasFormInputHslPemeriksaanadd" data-href="@AppPath(subAktivitasFormInputHslPemeriksaanAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasFormInputHslPemeriksaanAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@subAktivitasFormInputHslPemeriksaanAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputHslPemeriksaan");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
