@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputDataStartPembongkaranView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputDataStartPembongkaranView.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputDataStartPembongkaranView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @subAktivitasFormInputDataStartPembongkaranView.ExportOptions.RenderBody()
    @subAktivitasFormInputDataStartPembongkaranView.OtherOptions.RenderBody()
</div>
}
@subAktivitasFormInputDataStartPembongkaranView.ShowPageHeader()
@subAktivitasFormInputDataStartPembongkaranView.ShowMessages()
<main class="view">
<form name="fSubAktivitasFormInputDataStartPembongkaranview" id="fSubAktivitasFormInputDataStartPembongkaranview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!subAktivitasFormInputDataStartPembongkaranView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputDataStartPembongkaranView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputDataStartPembongkaran: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fSubAktivitasFormInputDataStartPembongkaranview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputDataStartPembongkaranview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputDataStartPembongkaranView.IsModal)">
<table class="@(subAktivitasFormInputDataStartPembongkaranView.TableClass)">
@if (subAktivitasFormInputDataStartPembongkaranView.id.Visible) { // subAktivitasFormInputDataStartPembongkaranView.id.Visible (begin)
    <tr id="r_id" @Html.Raw(subAktivitasFormInputDataStartPembongkaranView.id.RowAttributes)>
        <td class="@(subAktivitasFormInputDataStartPembongkaranView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataStartPembongkaran_id">@Html.Raw(subAktivitasFormInputDataStartPembongkaranView.id.Caption)</span></td>
        <td data-name="id" @Html.Raw(subAktivitasFormInputDataStartPembongkaranView.id.CellAttributes)>
<span id="el_SubAktivitasFormInputDataStartPembongkaran_id">
<span @Html.Raw(subAktivitasFormInputDataStartPembongkaranView.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPembongkaranView.id.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataStartPembongkaranView.id.Visible (end) *@
@if (subAktivitasFormInputDataStartPembongkaranView.NoReferensi.Visible) { // subAktivitasFormInputDataStartPembongkaranView.NoReferensi.Visible (begin)
    <tr id="r_NoReferensi" @Html.Raw(subAktivitasFormInputDataStartPembongkaranView.NoReferensi.RowAttributes)>
        <td class="@(subAktivitasFormInputDataStartPembongkaranView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataStartPembongkaran_NoReferensi">@Html.Raw(subAktivitasFormInputDataStartPembongkaranView.NoReferensi.Caption)</span></td>
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputDataStartPembongkaranView.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputDataStartPembongkaran_NoReferensi">
<span @Html.Raw(subAktivitasFormInputDataStartPembongkaranView.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPembongkaranView.NoReferensi.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataStartPembongkaranView.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputDataStartPembongkaranView.idProses.Visible) { // subAktivitasFormInputDataStartPembongkaranView.idProses.Visible (begin)
    <tr id="r_idProses" @Html.Raw(subAktivitasFormInputDataStartPembongkaranView.idProses.RowAttributes)>
        <td class="@(subAktivitasFormInputDataStartPembongkaranView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataStartPembongkaran_idProses">@Html.Raw(subAktivitasFormInputDataStartPembongkaranView.idProses.Caption)</span></td>
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputDataStartPembongkaranView.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputDataStartPembongkaran_idProses">
<span @Html.Raw(subAktivitasFormInputDataStartPembongkaranView.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPembongkaranView.idProses.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataStartPembongkaranView.idProses.Visible (end) *@
@if (subAktivitasFormInputDataStartPembongkaranView.idAktifitas.Visible) { // subAktivitasFormInputDataStartPembongkaranView.idAktifitas.Visible (begin)
    <tr id="r_idAktifitas" @Html.Raw(subAktivitasFormInputDataStartPembongkaranView.idAktifitas.RowAttributes)>
        <td class="@(subAktivitasFormInputDataStartPembongkaranView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataStartPembongkaran_idAktifitas">@Html.Raw(subAktivitasFormInputDataStartPembongkaranView.idAktifitas.Caption)</span></td>
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputDataStartPembongkaranView.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputDataStartPembongkaran_idAktifitas">
<span @Html.Raw(subAktivitasFormInputDataStartPembongkaranView.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPembongkaranView.idAktifitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataStartPembongkaranView.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputDataStartPembongkaranView.StatusAktivitas.Visible) { // subAktivitasFormInputDataStartPembongkaranView.StatusAktivitas.Visible (begin)
    <tr id="r_StatusAktivitas" @Html.Raw(subAktivitasFormInputDataStartPembongkaranView.StatusAktivitas.RowAttributes)>
        <td class="@(subAktivitasFormInputDataStartPembongkaranView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataStartPembongkaran_StatusAktivitas">@Html.Raw(subAktivitasFormInputDataStartPembongkaranView.StatusAktivitas.Caption)</span></td>
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputDataStartPembongkaranView.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasFormInputDataStartPembongkaran_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputDataStartPembongkaranView.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPembongkaranView.StatusAktivitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataStartPembongkaranView.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputDataStartPembongkaranView.LastUpdatedBy.Visible) { // subAktivitasFormInputDataStartPembongkaranView.LastUpdatedBy.Visible (begin)
    <tr id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputDataStartPembongkaranView.LastUpdatedBy.RowAttributes)>
        <td class="@(subAktivitasFormInputDataStartPembongkaranView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataStartPembongkaran_LastUpdatedBy">@Html.Raw(subAktivitasFormInputDataStartPembongkaranView.LastUpdatedBy.Caption)</span></td>
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputDataStartPembongkaranView.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputDataStartPembongkaran_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputDataStartPembongkaranView.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPembongkaranView.LastUpdatedBy.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataStartPembongkaranView.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputDataStartPembongkaranView.lastUpdatedDate.Visible) { // subAktivitasFormInputDataStartPembongkaranView.lastUpdatedDate.Visible (begin)
    <tr id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputDataStartPembongkaranView.lastUpdatedDate.RowAttributes)>
        <td class="@(subAktivitasFormInputDataStartPembongkaranView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataStartPembongkaran_lastUpdatedDate">@Html.Raw(subAktivitasFormInputDataStartPembongkaranView.lastUpdatedDate.Caption)</span></td>
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputDataStartPembongkaranView.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputDataStartPembongkaran_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputDataStartPembongkaranView.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPembongkaranView.lastUpdatedDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataStartPembongkaranView.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputDataStartPembongkaranView.Tanggal.Visible) { // subAktivitasFormInputDataStartPembongkaranView.Tanggal.Visible (begin)
    <tr id="r_Tanggal" @Html.Raw(subAktivitasFormInputDataStartPembongkaranView.Tanggal.RowAttributes)>
        <td class="@(subAktivitasFormInputDataStartPembongkaranView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataStartPembongkaran_Tanggal">@Html.Raw(subAktivitasFormInputDataStartPembongkaranView.Tanggal.Caption)</span></td>
        <td data-name="Tanggal" @Html.Raw(subAktivitasFormInputDataStartPembongkaranView.Tanggal.CellAttributes)>
<span id="el_SubAktivitasFormInputDataStartPembongkaran_Tanggal">
<span @Html.Raw(subAktivitasFormInputDataStartPembongkaranView.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPembongkaranView.Tanggal.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataStartPembongkaranView.Tanggal.Visible (end) *@
@if (subAktivitasFormInputDataStartPembongkaranView.userInput.Visible) { // subAktivitasFormInputDataStartPembongkaranView.userInput.Visible (begin)
    <tr id="r_userInput" @Html.Raw(subAktivitasFormInputDataStartPembongkaranView.userInput.RowAttributes)>
        <td class="@(subAktivitasFormInputDataStartPembongkaranView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataStartPembongkaran_userInput">@Html.Raw(subAktivitasFormInputDataStartPembongkaranView.userInput.Caption)</span></td>
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputDataStartPembongkaranView.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputDataStartPembongkaran_userInput">
<span @Html.Raw(subAktivitasFormInputDataStartPembongkaranView.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPembongkaranView.userInput.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataStartPembongkaranView.userInput.Visible (end) *@
@if (subAktivitasFormInputDataStartPembongkaranView.etlDate.Visible) { // subAktivitasFormInputDataStartPembongkaranView.etlDate.Visible (begin)
    <tr id="r_etlDate" @Html.Raw(subAktivitasFormInputDataStartPembongkaranView.etlDate.RowAttributes)>
        <td class="@(subAktivitasFormInputDataStartPembongkaranView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataStartPembongkaran_etlDate">@Html.Raw(subAktivitasFormInputDataStartPembongkaranView.etlDate.Caption)</span></td>
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputDataStartPembongkaranView.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputDataStartPembongkaran_etlDate">
<span @Html.Raw(subAktivitasFormInputDataStartPembongkaranView.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPembongkaranView.etlDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataStartPembongkaranView.etlDate.Visible (end) *@
</table>
@{ subAktivitasFormInputDataStartPembongkaranView.CloseRecordset(); }
</form>
</main>
@subAktivitasFormInputDataStartPembongkaranView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputDataStartPembongkaranView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
