@{
    // View
    View = this;

    // Check action result
    if (subAktivitasLogbookPenerimaanStsPymLpgEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasLogbookPenerimaanStsPymLpgEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasLogbookPenerimaanStsPymLpgEdit.ShowPageHeader()
@subAktivitasLogbookPenerimaanStsPymLpgEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasLogbookPenerimaanSTSPymLPGedit" id="fSubAktivitasLogbookPenerimaanSTSPymLPGedit" class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasLogbookPenerimaanStsPymLpgEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasLogbookPenerimaanSTSPymLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasLogbookPenerimaanSTSPymLPGedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasLogbookPenerimaanSTSPymLPGedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["Nama_Kapal", [fields.Nama_Kapal.visible && fields.Nama_Kapal.required ? ew.Validators.required(fields.Nama_Kapal.caption) : null], fields.Nama_Kapal.isInvalid],
            ["TanggalJam", [fields.TanggalJam.visible && fields.TanggalJam.required ? ew.Validators.required(fields.TanggalJam.caption) : null, ew.Validators.datetime(fields.TanggalJam.clientFormatPattern)], fields.TanggalJam.isInvalid],
            ["Nama_Kegiatan", [fields.Nama_Kegiatan.visible && fields.Nama_Kegiatan.required ? ew.Validators.required(fields.Nama_Kegiatan.caption) : null], fields.Nama_Kegiatan.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["Density", [fields.Density.visible && fields.Density.required ? ew.Validators.required(fields.Density.caption) : null], fields.Density.isInvalid],
            ["Temperatur", [fields.Temperatur.visible && fields.Temperatur.required ? ew.Validators.required(fields.Temperatur.caption) : null], fields.Temperatur.isInvalid],
            ["Level", [fields.Level.visible && fields.Level.required ? ew.Validators.required(fields.Level.caption) : null], fields.Level.isInvalid],
            ["Volume", [fields.Volume.visible && fields.Volume.required ? ew.Validators.required(fields.Volume.caption) : null], fields.Volume.isInvalid],
            ["Flowrate", [fields.Flowrate.visible && fields.Flowrate.required ? ew.Validators.required(fields.Flowrate.caption) : null], fields.Flowrate.isInvalid],
            ["Keterangan", [fields.Keterangan.visible && fields.Keterangan.required ? ew.Validators.required(fields.Keterangan.caption) : null], fields.Keterangan.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["SubAktivitasHasilPemeriksaanId", [fields.SubAktivitasHasilPemeriksaanId.visible && fields.SubAktivitasHasilPemeriksaanId.required ? ew.Validators.required(fields.SubAktivitasHasilPemeriksaanId.caption) : null, ew.Validators.integer], fields.SubAktivitasHasilPemeriksaanId.isInvalid],
            ["TanggalJamSOP", [fields.TanggalJamSOP.visible && fields.TanggalJamSOP.required ? ew.Validators.required(fields.TanggalJamSOP.caption) : null, ew.Validators.datetime(fields.TanggalJamSOP.clientFormatPattern)], fields.TanggalJamSOP.isInvalid],
            ["SelisihWaktu", [fields.SelisihWaktu.visible && fields.SelisihWaktu.required ? ew.Validators.required(fields.SelisihWaktu.caption) : null], fields.SelisihWaktu.isInvalid],
            ["IsQualityActive", [fields.IsQualityActive.visible && fields.IsQualityActive.required ? ew.Validators.required(fields.IsQualityActive.caption) : null], fields.IsQualityActive.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "IsQualityActive": @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.IsQualityActive.ToClientList(subAktivitasLogbookPenerimaanStsPymLpgEdit)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasLogbookPenerimaanStsPymLpgEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.OldKeyName)" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasLogbookPenerimaanStsPymLpgEdit.id.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.id.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_id" class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.id.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.id.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymLPG_id">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasLogbookPenerimaanStsPymLpgEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasLogbookPenerimaanSTSPymLPG" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymLpgEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymLpgEdit.id.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgEdit.idProses.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_idProses" for="x_idProses" class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.idProses.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymLPG_idProses">
<input type="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubAktivitasLogbookPenerimaanSTSPymLPG" data-field="x_idProses" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymLpgEdit.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.idProses.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymLpgEdit.idProses.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgEdit.idAktifitas.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_idAktifitas" for="x_idAktifitas" class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.idAktifitas.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymLPG_idAktifitas">
<input type="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubAktivitasLogbookPenerimaanSTSPymLPG" data-field="x_idAktifitas" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymLpgEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.idAktifitas.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymLpgEdit.idAktifitas.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgEdit.NoReferensi.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_NoReferensi" for="x_NoReferensi" class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.NoReferensi.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymLPG_NoReferensi">
<input type="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasLogbookPenerimaanSTSPymLPG" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.NoReferensi.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymLpgEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymLpgEdit.NoReferensi.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgEdit.Nama_Kapal.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgEdit.Nama_Kapal.Visible (begin)
    <div id="r_Nama_Kapal" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Nama_Kapal.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_Nama_Kapal" for="x_Nama_Kapal" class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Nama_Kapal.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Nama_Kapal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Nama_Kapal.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymLPG_Nama_Kapal">
<input type="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.Nama_Kapal.InputTextType)" name="x_Nama_Kapal" id="x_Nama_Kapal" data-table="SubAktivitasLogbookPenerimaanSTSPymLPG" data-field="x_Nama_Kapal" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Nama_Kapal.EditValue)" size="30" maxlength="200" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymLpgEdit.Nama_Kapal.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.Nama_Kapal.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Nama_Kapal.EditAttributes) aria-describedby="x_Nama_Kapal_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Nama_Kapal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Nama_Kapal.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymLpgEdit.Nama_Kapal.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJam.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJam.Visible (begin)
    <div id="r_TanggalJam" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJam.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_TanggalJam" for="x_TanggalJam" class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJam.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJam.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJam.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymLPG_TanggalJam">
<input type="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJam.InputTextType)" name="x_TanggalJam" id="x_TanggalJam" data-table="SubAktivitasLogbookPenerimaanSTSPymLPG" data-field="x_TanggalJam" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJam.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJam.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJam.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJam.EditAttributes) aria-describedby="x_TanggalJam_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJam.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJam.GetErrorMessage())</div>
@if (!subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJam.ReadOnly && !subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJam.Disabled && !subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJam.EditAttrs.Is("readonly") && !subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJam.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasLogbookPenerimaanSTSPymLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasLogbookPenerimaanSTSPymLPGedit", "x_TanggalJam", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJam.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgEdit.Nama_Kegiatan.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgEdit.Nama_Kegiatan.Visible (begin)
    <div id="r_Nama_Kegiatan" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Nama_Kegiatan.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_Nama_Kegiatan" for="x_Nama_Kegiatan" class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Nama_Kegiatan.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Nama_Kegiatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Nama_Kegiatan.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymLPG_Nama_Kegiatan">
<input type="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.Nama_Kegiatan.InputTextType)" name="x_Nama_Kegiatan" id="x_Nama_Kegiatan" data-table="SubAktivitasLogbookPenerimaanSTSPymLPG" data-field="x_Nama_Kegiatan" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Nama_Kegiatan.EditValue)" size="30" maxlength="200" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymLpgEdit.Nama_Kegiatan.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.Nama_Kegiatan.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Nama_Kegiatan.EditAttributes) aria-describedby="x_Nama_Kegiatan_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Nama_Kegiatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Nama_Kegiatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymLpgEdit.Nama_Kegiatan.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgEdit.Produk.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Produk.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_Produk" for="x_Produk" class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Produk.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Produk.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymLPG_Produk">
<input type="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasLogbookPenerimaanSTSPymLPG" data-field="x_Produk" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Produk.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymLpgEdit.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.Produk.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymLpgEdit.Produk.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgEdit.Density.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgEdit.Density.Visible (begin)
    <div id="r_Density" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Density.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_Density" for="x_Density" class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Density.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Density.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Density.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymLPG_Density">
<input type="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.Density.InputTextType)" name="x_Density" id="x_Density" data-table="SubAktivitasLogbookPenerimaanSTSPymLPG" data-field="x_Density" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Density.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymLpgEdit.Density.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.Density.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Density.EditAttributes) aria-describedby="x_Density_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Density.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Density.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymLpgEdit.Density.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgEdit.Temperatur.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgEdit.Temperatur.Visible (begin)
    <div id="r_Temperatur" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Temperatur.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_Temperatur" for="x_Temperatur" class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Temperatur.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Temperatur.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Temperatur.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymLPG_Temperatur">
<input type="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.Temperatur.InputTextType)" name="x_Temperatur" id="x_Temperatur" data-table="SubAktivitasLogbookPenerimaanSTSPymLPG" data-field="x_Temperatur" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Temperatur.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymLpgEdit.Temperatur.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.Temperatur.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Temperatur.EditAttributes) aria-describedby="x_Temperatur_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Temperatur.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Temperatur.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymLpgEdit.Temperatur.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgEdit.Level.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgEdit.Level.Visible (begin)
    <div id="r_Level" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Level.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_Level" for="x_Level" class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Level.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Level.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Level.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymLPG_Level">
<input type="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.Level.InputTextType)" name="x_Level" id="x_Level" data-table="SubAktivitasLogbookPenerimaanSTSPymLPG" data-field="x_Level" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Level.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymLpgEdit.Level.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.Level.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Level.EditAttributes) aria-describedby="x_Level_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Level.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Level.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymLpgEdit.Level.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgEdit.Volume.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgEdit.Volume.Visible (begin)
    <div id="r_Volume" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Volume.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_Volume" for="x_Volume" class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Volume.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Volume.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Volume.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymLPG_Volume">
<input type="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.Volume.InputTextType)" name="x_Volume" id="x_Volume" data-table="SubAktivitasLogbookPenerimaanSTSPymLPG" data-field="x_Volume" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Volume.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymLpgEdit.Volume.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.Volume.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Volume.EditAttributes) aria-describedby="x_Volume_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Volume.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Volume.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymLpgEdit.Volume.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgEdit.Flowrate.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgEdit.Flowrate.Visible (begin)
    <div id="r_Flowrate" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Flowrate.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_Flowrate" for="x_Flowrate" class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Flowrate.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Flowrate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Flowrate.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymLPG_Flowrate">
<input type="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.Flowrate.InputTextType)" name="x_Flowrate" id="x_Flowrate" data-table="SubAktivitasLogbookPenerimaanSTSPymLPG" data-field="x_Flowrate" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Flowrate.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymLpgEdit.Flowrate.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.Flowrate.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Flowrate.EditAttributes) aria-describedby="x_Flowrate_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Flowrate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Flowrate.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymLpgEdit.Flowrate.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgEdit.Keterangan.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgEdit.Keterangan.Visible (begin)
    <div id="r_Keterangan" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Keterangan.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_Keterangan" for="x_Keterangan" class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Keterangan.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Keterangan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Keterangan.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymLPG_Keterangan">
<textarea data-table="SubAktivitasLogbookPenerimaanSTSPymLPG" data-field="x_Keterangan" name="x_Keterangan" id="x_Keterangan" cols="35" rows="4" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymLpgEdit.Keterangan.PlaceHolder))"@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Keterangan.EditAttributes) aria-describedby="x_Keterangan_help">@(subAktivitasLogbookPenerimaanStsPymLpgEdit.Keterangan.EditValue)</textarea>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Keterangan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.Keterangan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymLpgEdit.Keterangan.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgEdit.userInput.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.userInput.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_userInput" for="x_userInput" class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.userInput.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.userInput.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymLPG_userInput">
<input type="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasLogbookPenerimaanSTSPymLPG" data-field="x_userInput" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymLpgEdit.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.userInput.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymLpgEdit.userInput.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgEdit.etlDate.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_etlDate" for="x_etlDate" class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.etlDate.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.etlDate.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymLPG_etlDate">
<input type="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasLogbookPenerimaanSTSPymLPG" data-field="x_etlDate" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymLpgEdit.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.etlDate.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.etlDate.GetErrorMessage())</div>
@if (!subAktivitasLogbookPenerimaanStsPymLpgEdit.etlDate.ReadOnly && !subAktivitasLogbookPenerimaanStsPymLpgEdit.etlDate.Disabled && !subAktivitasLogbookPenerimaanStsPymLpgEdit.etlDate.EditAttrs.Is("readonly") && !subAktivitasLogbookPenerimaanStsPymLpgEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasLogbookPenerimaanSTSPymLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasLogbookPenerimaanSTSPymLPGedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymLpgEdit.etlDate.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgEdit.LastUpdatedBy.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymLPG_LastUpdatedBy">
<input type="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasLogbookPenerimaanSTSPymLPG" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymLpgEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymLpgEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymLPG_lastUpdatedDate">
<input type="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasLogbookPenerimaanSTSPymLPG" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.ReadOnly && !subAktivitasLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.Disabled && !subAktivitasLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasLogbookPenerimaanSTSPymLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasLogbookPenerimaanSTSPymLPGedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgEdit.SubAktivitasHasilPemeriksaanId.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgEdit.SubAktivitasHasilPemeriksaanId.Visible (begin)
    <div id="r_SubAktivitasHasilPemeriksaanId" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.SubAktivitasHasilPemeriksaanId.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_SubAktivitasHasilPemeriksaanId" for="x_SubAktivitasHasilPemeriksaanId" class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.SubAktivitasHasilPemeriksaanId.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.SubAktivitasHasilPemeriksaanId.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.SubAktivitasHasilPemeriksaanId.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymLPG_SubAktivitasHasilPemeriksaanId">
<input type="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.SubAktivitasHasilPemeriksaanId.InputTextType)" name="x_SubAktivitasHasilPemeriksaanId" id="x_SubAktivitasHasilPemeriksaanId" data-table="SubAktivitasLogbookPenerimaanSTSPymLPG" data-field="x_SubAktivitasHasilPemeriksaanId" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.SubAktivitasHasilPemeriksaanId.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymLpgEdit.SubAktivitasHasilPemeriksaanId.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.SubAktivitasHasilPemeriksaanId.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.SubAktivitasHasilPemeriksaanId.EditAttributes) aria-describedby="x_SubAktivitasHasilPemeriksaanId_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.SubAktivitasHasilPemeriksaanId.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.SubAktivitasHasilPemeriksaanId.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymLpgEdit.SubAktivitasHasilPemeriksaanId.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJamSOP.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJamSOP.Visible (begin)
    <div id="r_TanggalJamSOP" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJamSOP.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_TanggalJamSOP" for="x_TanggalJamSOP" class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJamSOP.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJamSOP.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJamSOP.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymLPG_TanggalJamSOP">
<input type="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJamSOP.InputTextType)" name="x_TanggalJamSOP" id="x_TanggalJamSOP" data-table="SubAktivitasLogbookPenerimaanSTSPymLPG" data-field="x_TanggalJamSOP" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJamSOP.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJamSOP.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJamSOP.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJamSOP.EditAttributes) aria-describedby="x_TanggalJamSOP_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJamSOP.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJamSOP.GetErrorMessage())</div>
@if (!subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJamSOP.ReadOnly && !subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJamSOP.Disabled && !subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJamSOP.EditAttrs.Is("readonly") && !subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJamSOP.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasLogbookPenerimaanSTSPymLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasLogbookPenerimaanSTSPymLPGedit", "x_TanggalJamSOP", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymLpgEdit.TanggalJamSOP.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgEdit.SelisihWaktu.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgEdit.SelisihWaktu.Visible (begin)
    <div id="r_SelisihWaktu" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.SelisihWaktu.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_SelisihWaktu" for="x_SelisihWaktu" class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.SelisihWaktu.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.SelisihWaktu.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.SelisihWaktu.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymLPG_SelisihWaktu">
<input type="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.SelisihWaktu.InputTextType)" name="x_SelisihWaktu" id="x_SelisihWaktu" data-table="SubAktivitasLogbookPenerimaanSTSPymLPG" data-field="x_SelisihWaktu" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.SelisihWaktu.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymLpgEdit.SelisihWaktu.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.SelisihWaktu.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.SelisihWaktu.EditAttributes) aria-describedby="x_SelisihWaktu_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.SelisihWaktu.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.SelisihWaktu.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymLpgEdit.SelisihWaktu.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymLpgEdit.IsQualityActive.Visible) { // subAktivitasLogbookPenerimaanStsPymLpgEdit.IsQualityActive.Visible (begin)
    <div id="r_IsQualityActive" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.IsQualityActive.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymLPG_IsQualityActive" class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.IsQualityActive.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.IsQualityActive.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.IsQualityActive.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymLPG_IsQualityActive">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(subAktivitasLogbookPenerimaanStsPymLpgEdit.IsQualityActive.IsInvalidClass)" data-table="SubAktivitasLogbookPenerimaanSTSPymLPG" data-field="x_IsQualityActive" data-boolean name="x_IsQualityActive" id="x_IsQualityActive" value="1" checked="@ConvertToBool(subAktivitasLogbookPenerimaanStsPymLpgEdit.IsQualityActive.CurrentValue)" @Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.IsQualityActive.EditAttributes) aria-describedby="x_IsQualityActive_help">
    <div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.IsQualityActive.GetErrorMessage())</div>
</div>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.IsQualityActive.GetCustomMessage)
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymLpgEdit.IsQualityActive.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasLogbookPenerimaanStsPymLpgEdit.CloseRecordset(); }
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasLogbookPenerimaanStsPymLpgEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasLogbookPenerimaanSTSPymLPGedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasLogbookPenerimaanSTSPymLPGedit" data-href="@AppPath(subAktivitasLogbookPenerimaanStsPymLpgEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasLogbookPenerimaanStsPymLpgEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasLogbookPenerimaanStsPymLpgEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasLogbookPenerimaanSTSPymLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
