@{
    // View
    View = this;

    // Check action result
    if (subAktivitasDataStartPenyaluranLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasDataStartPenyaluranLpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasDataStartPenyaluranLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataStartPenyaluranLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataStartPenyaluranLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasDataStartPenyaluranLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasDataStartPenyaluranLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasDataStartPenyaluranLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasDataStartPenyaluranLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasDataStartPenyaluranLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasDataStartPenyaluranLpgList.TotalRecords > 0 && subAktivitasDataStartPenyaluranLpgList.ExportOptions.Visible) {
    subAktivitasDataStartPenyaluranLpgList.ExportOptions.Render("body");
}
@if (subAktivitasDataStartPenyaluranLpgList.ImportOptions.Visible) {
    subAktivitasDataStartPenyaluranLpgList.ImportOptions.Render("body");
}
@if (subAktivitasDataStartPenyaluranLpgList.SearchOptions.Visible) {
    subAktivitasDataStartPenyaluranLpgList.SearchOptions.Render("body");
}
@if (subAktivitasDataStartPenyaluranLpgList.FilterOptions.Visible) {
    subAktivitasDataStartPenyaluranLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasDataStartPenyaluranLpgList.IsModal) {
<form name="fSubAktivitasDataStartPenyaluranLPGsrch" id="fSubAktivitasDataStartPenyaluranLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasDataStartPenyaluranLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasDataStartPenyaluranLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataStartPenyaluranLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataStartPenyaluranLPG: currentTable } });
var currentForm;
var fSubAktivitasDataStartPenyaluranLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasDataStartPenyaluranLPGsrch")
        .setPageId("list")
@if (subAktivitasDataStartPenyaluranLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasDataStartPenyaluranLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasDataStartPenyaluranLpgList.IsExport() && Empty(subAktivitasDataStartPenyaluranLpgList.CurrentAction) && subAktivitasDataStartPenyaluranLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasDataStartPenyaluranLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasDataStartPenyaluranLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasDataStartPenyaluranLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasDataStartPenyaluranLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasDataStartPenyaluranLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStartPenyaluranLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasDataStartPenyaluranLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStartPenyaluranLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasDataStartPenyaluranLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStartPenyaluranLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasDataStartPenyaluranLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasDataStartPenyaluranLpgList.ShowPageHeader()
@subAktivitasDataStartPenyaluranLpgList.ShowMessages()
<main class="list @(subAktivitasDataStartPenyaluranLpgList.TotalRecords == 0 && !subAktivitasDataStartPenyaluranLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasDataStartPenyaluranLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasDataStartPenyaluranLpgList.TotalRecords > 0 || !Empty(subAktivitasDataStartPenyaluranLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasDataStartPenyaluranLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasDataStartPenyaluranLpgList.TableGridClass)">
<form name="@(subAktivitasDataStartPenyaluranLpgList.FormName)" id="@(subAktivitasDataStartPenyaluranLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasDataStartPenyaluranLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasDataStartPenyaluranLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasDataStartPenyaluranLPG" class="card-body ew-grid-middle-panel @(subAktivitasDataStartPenyaluranLpgList.TableContainerClass)" style="@(subAktivitasDataStartPenyaluranLpgList.TableContainerStyle)">
@if (subAktivitasDataStartPenyaluranLpgList.TotalRecords > 0 || subAktivitasDataStartPenyaluranLpgList.IsGridEdit || subAktivitasDataStartPenyaluranLpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasDataStartPenyaluranLPGlist" class="@(subAktivitasDataStartPenyaluranLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasDataStartPenyaluranLpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasDataStartPenyaluranLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasDataStartPenyaluranLpgList.ListOptions.RenderHeader("left")
@if (subAktivitasDataStartPenyaluranLpgList.id.Visible) { // subAktivitasDataStartPenyaluranLpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasDataStartPenyaluranLpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranLPG_id" class="SubAktivitasDataStartPenyaluranLPG_id">@Html.Raw(subAktivitasDataStartPenyaluranLpgList.RenderFieldHeader(subAktivitasDataStartPenyaluranLpgList.id))</div></th>
} @* subAktivitasDataStartPenyaluranLpgList.id.Visible (end) *@
@if (subAktivitasDataStartPenyaluranLpgList.NoReferensi.Visible) { // subAktivitasDataStartPenyaluranLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasDataStartPenyaluranLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranLPG_NoReferensi" class="SubAktivitasDataStartPenyaluranLPG_NoReferensi">@Html.Raw(subAktivitasDataStartPenyaluranLpgList.RenderFieldHeader(subAktivitasDataStartPenyaluranLpgList.NoReferensi))</div></th>
} @* subAktivitasDataStartPenyaluranLpgList.NoReferensi.Visible (end) *@
@if (subAktivitasDataStartPenyaluranLpgList.idProses.Visible) { // subAktivitasDataStartPenyaluranLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasDataStartPenyaluranLpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranLPG_idProses" class="SubAktivitasDataStartPenyaluranLPG_idProses">@Html.Raw(subAktivitasDataStartPenyaluranLpgList.RenderFieldHeader(subAktivitasDataStartPenyaluranLpgList.idProses))</div></th>
} @* subAktivitasDataStartPenyaluranLpgList.idProses.Visible (end) *@
@if (subAktivitasDataStartPenyaluranLpgList.idAktifitas.Visible) { // subAktivitasDataStartPenyaluranLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasDataStartPenyaluranLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranLPG_idAktifitas" class="SubAktivitasDataStartPenyaluranLPG_idAktifitas">@Html.Raw(subAktivitasDataStartPenyaluranLpgList.RenderFieldHeader(subAktivitasDataStartPenyaluranLpgList.idAktifitas))</div></th>
} @* subAktivitasDataStartPenyaluranLpgList.idAktifitas.Visible (end) *@
@if (subAktivitasDataStartPenyaluranLpgList.StatusAktivitas.Visible) { // subAktivitasDataStartPenyaluranLpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasDataStartPenyaluranLpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranLPG_StatusAktivitas" class="SubAktivitasDataStartPenyaluranLPG_StatusAktivitas">@Html.Raw(subAktivitasDataStartPenyaluranLpgList.RenderFieldHeader(subAktivitasDataStartPenyaluranLpgList.StatusAktivitas))</div></th>
} @* subAktivitasDataStartPenyaluranLpgList.StatusAktivitas.Visible (end) *@
@if (subAktivitasDataStartPenyaluranLpgList.LastUpdatedBy.Visible) { // subAktivitasDataStartPenyaluranLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasDataStartPenyaluranLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranLPG_LastUpdatedBy" class="SubAktivitasDataStartPenyaluranLPG_LastUpdatedBy">@Html.Raw(subAktivitasDataStartPenyaluranLpgList.RenderFieldHeader(subAktivitasDataStartPenyaluranLpgList.LastUpdatedBy))</div></th>
} @* subAktivitasDataStartPenyaluranLpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasDataStartPenyaluranLpgList.lastUpdatedDate.Visible) { // subAktivitasDataStartPenyaluranLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasDataStartPenyaluranLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranLPG_lastUpdatedDate" class="SubAktivitasDataStartPenyaluranLPG_lastUpdatedDate">@Html.Raw(subAktivitasDataStartPenyaluranLpgList.RenderFieldHeader(subAktivitasDataStartPenyaluranLpgList.lastUpdatedDate))</div></th>
} @* subAktivitasDataStartPenyaluranLpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasDataStartPenyaluranLpgList.Tanggal.Visible) { // subAktivitasDataStartPenyaluranLpgList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasDataStartPenyaluranLpgList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranLPG_Tanggal" class="SubAktivitasDataStartPenyaluranLPG_Tanggal">@Html.Raw(subAktivitasDataStartPenyaluranLpgList.RenderFieldHeader(subAktivitasDataStartPenyaluranLpgList.Tanggal))</div></th>
} @* subAktivitasDataStartPenyaluranLpgList.Tanggal.Visible (end) *@
@if (subAktivitasDataStartPenyaluranLpgList.userInput.Visible) { // subAktivitasDataStartPenyaluranLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasDataStartPenyaluranLpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranLPG_userInput" class="SubAktivitasDataStartPenyaluranLPG_userInput">@Html.Raw(subAktivitasDataStartPenyaluranLpgList.RenderFieldHeader(subAktivitasDataStartPenyaluranLpgList.userInput))</div></th>
} @* subAktivitasDataStartPenyaluranLpgList.userInput.Visible (end) *@
@if (subAktivitasDataStartPenyaluranLpgList.etlDate.Visible) { // subAktivitasDataStartPenyaluranLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasDataStartPenyaluranLpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranLPG_etlDate" class="SubAktivitasDataStartPenyaluranLPG_etlDate">@Html.Raw(subAktivitasDataStartPenyaluranLpgList.RenderFieldHeader(subAktivitasDataStartPenyaluranLpgList.etlDate))</div></th>
} @* subAktivitasDataStartPenyaluranLpgList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasDataStartPenyaluranLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasDataStartPenyaluranLpgList.PageNumber)">
@{
    await subAktivitasDataStartPenyaluranLpgList.SetupGrid();
    bool eof = subAktivitasDataStartPenyaluranLpgList.Recordset == null; // DN
}
@while (subAktivitasDataStartPenyaluranLpgList.RecordCount < subAktivitasDataStartPenyaluranLpgList.StopRecord || SameString(subAktivitasDataStartPenyaluranLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasDataStartPenyaluranLpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasDataStartPenyaluranLpgList.IsGridAdd || subAktivitasDataStartPenyaluranLpgList.CurrentMode == "copy") &&
        (!((subAktivitasDataStartPenyaluranLpgList.IsCopy || subAktivitasDataStartPenyaluranLpgList.IsAdd) && subAktivitasDataStartPenyaluranLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasDataStartPenyaluranLpgList.Recordset.ReadAsync();
    subAktivitasDataStartPenyaluranLpgList.RecordCount++;
    if (subAktivitasDataStartPenyaluranLpgList.RecordCount >= subAktivitasDataStartPenyaluranLpgList.StartRecord) {
        await subAktivitasDataStartPenyaluranLpgList.SetupRow();
    <tr @Html.Raw(subAktivitasDataStartPenyaluranLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasDataStartPenyaluranLpgList.ListOptions.RenderBody("left", subAktivitasDataStartPenyaluranLpgList.RowCount)
    @if (subAktivitasDataStartPenyaluranLpgList.id.Visible) { // subAktivitasDataStartPenyaluranLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasDataStartPenyaluranLpgList.id.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranLpgList.RowCount)_SubAktivitasDataStartPenyaluranLPG_id" class="el_SubAktivitasDataStartPenyaluranLPG_id">
<span @Html.Raw(subAktivitasDataStartPenyaluranLpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranLpgList.id.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranLpgList.NoReferensi.Visible) { // subAktivitasDataStartPenyaluranLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasDataStartPenyaluranLpgList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranLpgList.RowCount)_SubAktivitasDataStartPenyaluranLPG_NoReferensi" class="el_SubAktivitasDataStartPenyaluranLPG_NoReferensi">
<span @Html.Raw(subAktivitasDataStartPenyaluranLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranLpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranLpgList.idProses.Visible) { // subAktivitasDataStartPenyaluranLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasDataStartPenyaluranLpgList.idProses.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranLpgList.RowCount)_SubAktivitasDataStartPenyaluranLPG_idProses" class="el_SubAktivitasDataStartPenyaluranLPG_idProses">
<span @Html.Raw(subAktivitasDataStartPenyaluranLpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranLpgList.idProses.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranLpgList.idAktifitas.Visible) { // subAktivitasDataStartPenyaluranLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasDataStartPenyaluranLpgList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranLpgList.RowCount)_SubAktivitasDataStartPenyaluranLPG_idAktifitas" class="el_SubAktivitasDataStartPenyaluranLPG_idAktifitas">
<span @Html.Raw(subAktivitasDataStartPenyaluranLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranLpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranLpgList.StatusAktivitas.Visible) { // subAktivitasDataStartPenyaluranLpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasDataStartPenyaluranLpgList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranLpgList.RowCount)_SubAktivitasDataStartPenyaluranLPG_StatusAktivitas" class="el_SubAktivitasDataStartPenyaluranLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasDataStartPenyaluranLpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranLpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranLpgList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranLpgList.LastUpdatedBy.Visible) { // subAktivitasDataStartPenyaluranLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasDataStartPenyaluranLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranLpgList.RowCount)_SubAktivitasDataStartPenyaluranLPG_LastUpdatedBy" class="el_SubAktivitasDataStartPenyaluranLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasDataStartPenyaluranLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranLpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranLpgList.lastUpdatedDate.Visible) { // subAktivitasDataStartPenyaluranLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasDataStartPenyaluranLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranLpgList.RowCount)_SubAktivitasDataStartPenyaluranLPG_lastUpdatedDate" class="el_SubAktivitasDataStartPenyaluranLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasDataStartPenyaluranLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranLpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranLpgList.Tanggal.Visible) { // subAktivitasDataStartPenyaluranLpgList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasDataStartPenyaluranLpgList.Tanggal.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranLpgList.RowCount)_SubAktivitasDataStartPenyaluranLPG_Tanggal" class="el_SubAktivitasDataStartPenyaluranLPG_Tanggal">
<span @Html.Raw(subAktivitasDataStartPenyaluranLpgList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranLpgList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranLpgList.Tanggal.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranLpgList.userInput.Visible) { // subAktivitasDataStartPenyaluranLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasDataStartPenyaluranLpgList.userInput.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranLpgList.RowCount)_SubAktivitasDataStartPenyaluranLPG_userInput" class="el_SubAktivitasDataStartPenyaluranLPG_userInput">
<span @Html.Raw(subAktivitasDataStartPenyaluranLpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranLpgList.userInput.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranLpgList.etlDate.Visible) { // subAktivitasDataStartPenyaluranLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasDataStartPenyaluranLpgList.etlDate.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranLpgList.RowCount)_SubAktivitasDataStartPenyaluranLPG_etlDate" class="el_SubAktivitasDataStartPenyaluranLPG_etlDate">
<span @Html.Raw(subAktivitasDataStartPenyaluranLpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranLpgList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasDataStartPenyaluranLpgList.ListOptions.RenderBody("right", subAktivitasDataStartPenyaluranLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasDataStartPenyaluranLpgList.RowIndex, "$rowindex$"))
        subAktivitasDataStartPenyaluranLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasDataStartPenyaluranLpgList.IsCopy || subAktivitasDataStartPenyaluranLpgList.IsAdd) && subAktivitasDataStartPenyaluranLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasDataStartPenyaluranLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasDataStartPenyaluranLpgList.CurrentAction) && !subAktivitasDataStartPenyaluranLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasDataStartPenyaluranLpgList.CloseRecordset(); }
@if (!subAktivitasDataStartPenyaluranLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasDataStartPenyaluranLpgList.IsGridAdd && !(subAktivitasDataStartPenyaluranLpgList.IsGridEdit && subAktivitasDataStartPenyaluranLpgList.ModalGridEdit) && !subAktivitasDataStartPenyaluranLpgList.IsMultiEdit) {
@Html.Raw(subAktivitasDataStartPenyaluranLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasDataStartPenyaluranLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasDataStartPenyaluranLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasDataStartPenyaluranLpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasDataStartPenyaluranLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasDataStartPenyaluranLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasDataStartPenyaluranLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
