@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputBLnSfalrtwDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputBLnSfalrtwDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputBLnSfalrtwDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputBLnSFALRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fSubAktivitasFormInputBLnSFALRTWdelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputBLnSFALRTWdelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasFormInputBLnSfalrtwDelete.ShowPageHeader()
@subAktivitasFormInputBLnSfalrtwDelete.ShowMessages()
<form name="fSubAktivitasFormInputBLnSFALRTWdelete" id="fSubAktivitasFormInputBLnSFALRTWdelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in subAktivitasFormInputBLnSfalrtwDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(subAktivitasFormInputBLnSfalrtwDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(subAktivitasFormInputBLnSfalrtwDelete.TableContainerClass)" style="@(subAktivitasFormInputBLnSfalrtwDelete.TableContainerStyle)">
<table class="@(subAktivitasFormInputBLnSfalrtwDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (subAktivitasFormInputBLnSfalrtwDelete.id.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.id.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.id.HeaderCellClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_id" class="SubAktivitasFormInputBLnSFALRTW_id">@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.id.Caption)</span></th>
} @* subAktivitasFormInputBLnSfalrtwDelete.id.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.idAktifitas.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.idAktifitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.idAktifitas.HeaderCellClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_idAktifitas" class="SubAktivitasFormInputBLnSFALRTW_idAktifitas">@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.idAktifitas.Caption)</span></th>
} @* subAktivitasFormInputBLnSfalrtwDelete.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.BL_KLObs.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.BL_KLObs.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.BL_KLObs.HeaderCellClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_BL_KLObs" class="SubAktivitasFormInputBLnSFALRTW_BL_KLObs">@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.BL_KLObs.Caption)</span></th>
} @* subAktivitasFormInputBLnSfalrtwDelete.BL_KLObs.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.BL_KL15.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.BL_KL15.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.BL_KL15.HeaderCellClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_BL_KL15" class="SubAktivitasFormInputBLnSFALRTW_BL_KL15">@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.BL_KL15.Caption)</span></th>
} @* subAktivitasFormInputBLnSfalrtwDelete.BL_KL15.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.BL_Barrels.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.BL_Barrels.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.BL_Barrels.HeaderCellClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_BL_Barrels" class="SubAktivitasFormInputBLnSFALRTW_BL_Barrels">@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.BL_Barrels.Caption)</span></th>
} @* subAktivitasFormInputBLnSfalrtwDelete.BL_Barrels.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.BL_LT.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.BL_LT.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.BL_LT.HeaderCellClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_BL_LT" class="SubAktivitasFormInputBLnSFALRTW_BL_LT">@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.BL_LT.Caption)</span></th>
} @* subAktivitasFormInputBLnSfalrtwDelete.BL_LT.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.BL_MT.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.BL_MT.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.BL_MT.HeaderCellClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_BL_MT" class="SubAktivitasFormInputBLnSFALRTW_BL_MT">@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.BL_MT.Caption)</span></th>
} @* subAktivitasFormInputBLnSfalrtwDelete.BL_MT.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.SFAL_KLObs.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.SFAL_KLObs.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.SFAL_KLObs.HeaderCellClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_SFAL_KLObs" class="SubAktivitasFormInputBLnSFALRTW_SFAL_KLObs">@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.SFAL_KLObs.Caption)</span></th>
} @* subAktivitasFormInputBLnSfalrtwDelete.SFAL_KLObs.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.SFAL_KL15.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.SFAL_KL15.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.SFAL_KL15.HeaderCellClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_SFAL_KL15" class="SubAktivitasFormInputBLnSFALRTW_SFAL_KL15">@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.SFAL_KL15.Caption)</span></th>
} @* subAktivitasFormInputBLnSfalrtwDelete.SFAL_KL15.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.SFAL_Barrels.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.SFAL_Barrels.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.SFAL_Barrels.HeaderCellClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_SFAL_Barrels" class="SubAktivitasFormInputBLnSFALRTW_SFAL_Barrels">@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.SFAL_Barrels.Caption)</span></th>
} @* subAktivitasFormInputBLnSfalrtwDelete.SFAL_Barrels.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.SFAL_LT.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.SFAL_LT.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.SFAL_LT.HeaderCellClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_SFAL_LT" class="SubAktivitasFormInputBLnSFALRTW_SFAL_LT">@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.SFAL_LT.Caption)</span></th>
} @* subAktivitasFormInputBLnSfalrtwDelete.SFAL_LT.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.SFAL_MT.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.SFAL_MT.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.SFAL_MT.HeaderCellClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_SFAL_MT" class="SubAktivitasFormInputBLnSFALRTW_SFAL_MT">@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.SFAL_MT.Caption)</span></th>
} @* subAktivitasFormInputBLnSfalrtwDelete.SFAL_MT.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.userInput.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.userInput.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.userInput.HeaderCellClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_userInput" class="SubAktivitasFormInputBLnSFALRTW_userInput">@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.userInput.Caption)</span></th>
} @* subAktivitasFormInputBLnSfalrtwDelete.userInput.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.etlDate.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.etlDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.etlDate.HeaderCellClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_etlDate" class="SubAktivitasFormInputBLnSFALRTW_etlDate">@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.etlDate.Caption)</span></th>
} @* subAktivitasFormInputBLnSfalrtwDelete.etlDate.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.idProses.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.idProses.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.idProses.HeaderCellClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_idProses" class="SubAktivitasFormInputBLnSFALRTW_idProses">@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.idProses.Caption)</span></th>
} @* subAktivitasFormInputBLnSfalrtwDelete.idProses.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.LastUpdatedBy.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.LastUpdatedBy.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.LastUpdatedBy.HeaderCellClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_LastUpdatedBy" class="SubAktivitasFormInputBLnSFALRTW_LastUpdatedBy">@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.LastUpdatedBy.Caption)</span></th>
} @* subAktivitasFormInputBLnSfalrtwDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.lastUpdatedDate.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.lastUpdatedDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.lastUpdatedDate.HeaderCellClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_lastUpdatedDate" class="SubAktivitasFormInputBLnSFALRTW_lastUpdatedDate">@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.lastUpdatedDate.Caption)</span></th>
} @* subAktivitasFormInputBLnSfalrtwDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.NoReferensi.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.NoReferensi.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.NoReferensi.HeaderCellClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_NoReferensi" class="SubAktivitasFormInputBLnSFALRTW_NoReferensi">@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.NoReferensi.Caption)</span></th>
} @* subAktivitasFormInputBLnSfalrtwDelete.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.StatusAktivitas.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.StatusAktivitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.StatusAktivitas.HeaderCellClass)"><span id="elh_SubAktivitasFormInputBLnSFALRTW_StatusAktivitas" class="SubAktivitasFormInputBLnSFALRTW_StatusAktivitas">@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.StatusAktivitas.Caption)</span></th>
} @* subAktivitasFormInputBLnSfalrtwDelete.StatusAktivitas.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ subAktivitasFormInputBLnSfalrtwDelete.RecordCount = 0; }
@while (subAktivitasFormInputBLnSfalrtwDelete.Recordset != null && await subAktivitasFormInputBLnSfalrtwDelete.Recordset.ReadAsync()) { // DN
    subAktivitasFormInputBLnSfalrtwDelete.RecordCount++;
    subAktivitasFormInputBLnSfalrtwDelete.RowCount++;

    // Set row properties
    subAktivitasFormInputBLnSfalrtwDelete.ResetAttributes();
    subAktivitasFormInputBLnSfalrtwDelete.RowType = RowType.View; // View

    // Get the field contents
    await subAktivitasFormInputBLnSfalrtwDelete.LoadRowValues(subAktivitasFormInputBLnSfalrtwDelete.Recordset);

    // Render row
    await subAktivitasFormInputBLnSfalrtwDelete.RenderRow();
    <tr @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.RowAttributes)>
@if (subAktivitasFormInputBLnSfalrtwDelete.id.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.id.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.id.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.id.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputBLnSfalrtwDelete.id.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.idAktifitas.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.idAktifitas.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.idAktifitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.idAktifitas.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputBLnSfalrtwDelete.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.BL_KLObs.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.BL_KLObs.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.BL_KLObs.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.BL_KLObs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.BL_KLObs.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputBLnSfalrtwDelete.BL_KLObs.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.BL_KL15.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.BL_KL15.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.BL_KL15.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.BL_KL15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.BL_KL15.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputBLnSfalrtwDelete.BL_KL15.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.BL_Barrels.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.BL_Barrels.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.BL_Barrels.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.BL_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.BL_Barrels.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputBLnSfalrtwDelete.BL_Barrels.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.BL_LT.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.BL_LT.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.BL_LT.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.BL_LT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.BL_LT.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputBLnSfalrtwDelete.BL_LT.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.BL_MT.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.BL_MT.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.BL_MT.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.BL_MT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.BL_MT.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputBLnSfalrtwDelete.BL_MT.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.SFAL_KLObs.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.SFAL_KLObs.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.SFAL_KLObs.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.SFAL_KLObs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.SFAL_KLObs.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputBLnSfalrtwDelete.SFAL_KLObs.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.SFAL_KL15.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.SFAL_KL15.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.SFAL_KL15.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.SFAL_KL15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.SFAL_KL15.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputBLnSfalrtwDelete.SFAL_KL15.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.SFAL_Barrels.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.SFAL_Barrels.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.SFAL_Barrels.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.SFAL_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.SFAL_Barrels.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputBLnSfalrtwDelete.SFAL_Barrels.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.SFAL_LT.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.SFAL_LT.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.SFAL_LT.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.SFAL_LT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.SFAL_LT.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputBLnSfalrtwDelete.SFAL_LT.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.SFAL_MT.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.SFAL_MT.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.SFAL_MT.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.SFAL_MT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.SFAL_MT.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputBLnSfalrtwDelete.SFAL_MT.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.userInput.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.userInput.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.userInput.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.userInput.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputBLnSfalrtwDelete.userInput.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.etlDate.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.etlDate.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.etlDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.etlDate.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputBLnSfalrtwDelete.etlDate.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.idProses.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.idProses.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.idProses.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.idProses.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputBLnSfalrtwDelete.idProses.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.LastUpdatedBy.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.LastUpdatedBy.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.LastUpdatedBy.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.LastUpdatedBy.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputBLnSfalrtwDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.lastUpdatedDate.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.lastUpdatedDate.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.lastUpdatedDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.lastUpdatedDate.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputBLnSfalrtwDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.NoReferensi.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.NoReferensi.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.NoReferensi.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.NoReferensi.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputBLnSfalrtwDelete.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputBLnSfalrtwDelete.StatusAktivitas.Visible) { // subAktivitasFormInputBLnSfalrtwDelete.StatusAktivitas.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.StatusAktivitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputBLnSfalrtwDelete.StatusAktivitas.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputBLnSfalrtwDelete.StatusAktivitas.Visible (end) *@
    </tr>
}
@{ subAktivitasFormInputBLnSfalrtwDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(subAktivitasFormInputBLnSfalrtwDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@subAktivitasFormInputBLnSfalrtwDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
