@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputNilaiBLnAlAdd.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputNilaiBLnAlAdd.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputNilaiBLnAlAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputNilaiBLnAL: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fSubAktivitasFormInputNilaiBLnALadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputNilaiBLnALadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["BL_KLObs", [fields.BL_KLObs.visible && fields.BL_KLObs.required ? ew.Validators.required(fields.BL_KLObs.caption) : null], fields.BL_KLObs.isInvalid],
            ["BL_KL15", [fields.BL_KL15.visible && fields.BL_KL15.required ? ew.Validators.required(fields.BL_KL15.caption) : null], fields.BL_KL15.isInvalid],
            ["BL_Barrels", [fields.BL_Barrels.visible && fields.BL_Barrels.required ? ew.Validators.required(fields.BL_Barrels.caption) : null], fields.BL_Barrels.isInvalid],
            ["BL_LT", [fields.BL_LT.visible && fields.BL_LT.required ? ew.Validators.required(fields.BL_LT.caption) : null], fields.BL_LT.isInvalid],
            ["BL_MT", [fields.BL_MT.visible && fields.BL_MT.required ? ew.Validators.required(fields.BL_MT.caption) : null], fields.BL_MT.isInvalid],
            ["AL_KLObs", [fields.AL_KLObs.visible && fields.AL_KLObs.required ? ew.Validators.required(fields.AL_KLObs.caption) : null], fields.AL_KLObs.isInvalid],
            ["AL_KL15", [fields.AL_KL15.visible && fields.AL_KL15.required ? ew.Validators.required(fields.AL_KL15.caption) : null], fields.AL_KL15.isInvalid],
            ["AL_Barrels", [fields.AL_Barrels.visible && fields.AL_Barrels.required ? ew.Validators.required(fields.AL_Barrels.caption) : null], fields.AL_Barrels.isInvalid],
            ["AL_LT", [fields.AL_LT.visible && fields.AL_LT.required ? ew.Validators.required(fields.AL_LT.caption) : null], fields.AL_LT.isInvalid],
            ["AL_MT", [fields.AL_MT.visible && fields.AL_MT.required ? ew.Validators.required(fields.AL_MT.caption) : null], fields.AL_MT.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null, ew.Validators.integer], fields.StatusAktivitas.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "idAktifitas": @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.idAktifitas.ToClientList(subAktivitasFormInputNilaiBLnAlAdd)),
            "idProses": @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.idProses.ToClientList(subAktivitasFormInputNilaiBLnAlAdd)),
            "StatusAktivitas": @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.StatusAktivitas.ToClientList(subAktivitasFormInputNilaiBLnAlAdd)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasFormInputNilaiBLnAlAdd.ShowPageHeader()
@subAktivitasFormInputNilaiBLnAlAdd.ShowMessages()
<form name="fSubAktivitasFormInputNilaiBLnALadd" id="fSubAktivitasFormInputNilaiBLnALadd" class="@(subAktivitasFormInputNilaiBLnAlAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputNilaiBLnAlAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasFormInputNilaiBLnAlAdd.OldKeyName)" value="@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (subAktivitasFormInputNilaiBLnAlAdd.idAktifitas.Visible) { // subAktivitasFormInputNilaiBLnAlAdd.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiBLnAL_idAktifitas" class="@(subAktivitasFormInputNilaiBLnAlAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.idAktifitas.Caption)@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiBLnAlAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_idAktifitas">
<span>@{
    if (IsRTL) {
        subAktivitasFormInputNilaiBLnAlAdd.idAktifitas.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_idAktifitas" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_idAktifitas" id="sv_x_idAktifitas" value="@(RemoveHtml(ConvertToString(subAktivitasFormInputNilaiBLnAlAdd.idAktifitas.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBLnAlAdd.idAktifitas.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBLnAlAdd.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiBLnAlAdd.idAktifitas.FormatPattern)" @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasFormInputNilaiBLnAL" data-field="x_idAktifitas" data-input="sv_x_idAktifitas" data-value-separator="@(subAktivitasFormInputNilaiBLnAlAdd.idAktifitas.DisplayValueSeparatorAttribute)" name="x_idAktifitas" id="x_idAktifitas" value="@(HtmlEncode(subAktivitasFormInputNilaiBLnAlAdd.idAktifitas.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.idAktifitas.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasFormInputNilaiBLnALadd"], function() {
    fSubAktivitasFormInputNilaiBLnALadd.createAutoSuggest(Object.assign({"id":"x_idAktifitas","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasFormInputNilaiBLnAlAdd.idAktifitas.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasFormInputNilaiBLnAL.fields.idAktifitas.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.idAktifitas.Lookup.GetParamTag(subAktivitasFormInputNilaiBLnAlAdd, "p_x_idAktifitas"))
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiBLnAlAdd.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlAdd.idProses.Visible) { // subAktivitasFormInputNilaiBLnAlAdd.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.idProses.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiBLnAL_idProses" class="@(subAktivitasFormInputNilaiBLnAlAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.idProses.Caption)@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiBLnAlAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_idProses">
<span>@{
    if (IsRTL) {
        subAktivitasFormInputNilaiBLnAlAdd.idProses.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_idProses" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_idProses" id="sv_x_idProses" value="@(RemoveHtml(ConvertToString(subAktivitasFormInputNilaiBLnAlAdd.idProses.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBLnAlAdd.idProses.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBLnAlAdd.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiBLnAlAdd.idProses.FormatPattern)" @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.idProses.EditAttributes) aria-describedby="x_idProses_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasFormInputNilaiBLnAL" data-field="x_idProses" data-input="sv_x_idProses" data-value-separator="@(subAktivitasFormInputNilaiBLnAlAdd.idProses.DisplayValueSeparatorAttribute)" name="x_idProses" id="x_idProses" value="@(HtmlEncode(subAktivitasFormInputNilaiBLnAlAdd.idProses.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.idProses.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasFormInputNilaiBLnALadd"], function() {
    fSubAktivitasFormInputNilaiBLnALadd.createAutoSuggest(Object.assign({"id":"x_idProses","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasFormInputNilaiBLnAlAdd.idProses.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasFormInputNilaiBLnAL.fields.idProses.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.idProses.Lookup.GetParamTag(subAktivitasFormInputNilaiBLnAlAdd, "p_x_idProses"))
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiBLnAlAdd.idProses.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlAdd.NoReferensi.Visible) { // subAktivitasFormInputNilaiBLnAlAdd.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiBLnAL_NoReferensi" for="x_NoReferensi" class="@(subAktivitasFormInputNilaiBLnAlAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.NoReferensi.Caption)@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiBLnAlAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_NoReferensi">
<input type="@(subAktivitasFormInputNilaiBLnAlAdd.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasFormInputNilaiBLnAL" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.NoReferensi.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBLnAlAdd.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiBLnAlAdd.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiBLnAlAdd.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlAdd.BL_KLObs.Visible) { // subAktivitasFormInputNilaiBLnAlAdd.BL_KLObs.Visible (begin)
    <div id="r_BL_KLObs" @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_KLObs.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiBLnAL_BL_KLObs" for="x_BL_KLObs" class="@(subAktivitasFormInputNilaiBLnAlAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_KLObs.Caption)@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_KLObs.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiBLnAlAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_KLObs.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_BL_KLObs">
<input type="@(subAktivitasFormInputNilaiBLnAlAdd.BL_KLObs.InputTextType)" name="x_BL_KLObs" id="x_BL_KLObs" data-table="SubAktivitasFormInputNilaiBLnAL" data-field="x_BL_KLObs" value="@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_KLObs.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBLnAlAdd.BL_KLObs.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiBLnAlAdd.BL_KLObs.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_KLObs.EditAttributes) aria-describedby="x_BL_KLObs_help">
@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_KLObs.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_KLObs.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiBLnAlAdd.BL_KLObs.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlAdd.BL_KL15.Visible) { // subAktivitasFormInputNilaiBLnAlAdd.BL_KL15.Visible (begin)
    <div id="r_BL_KL15" @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_KL15.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiBLnAL_BL_KL15" for="x_BL_KL15" class="@(subAktivitasFormInputNilaiBLnAlAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_KL15.Caption)@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_KL15.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiBLnAlAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_KL15.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_BL_KL15">
<input type="@(subAktivitasFormInputNilaiBLnAlAdd.BL_KL15.InputTextType)" name="x_BL_KL15" id="x_BL_KL15" data-table="SubAktivitasFormInputNilaiBLnAL" data-field="x_BL_KL15" value="@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_KL15.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBLnAlAdd.BL_KL15.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiBLnAlAdd.BL_KL15.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_KL15.EditAttributes) aria-describedby="x_BL_KL15_help">
@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_KL15.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_KL15.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiBLnAlAdd.BL_KL15.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlAdd.BL_Barrels.Visible) { // subAktivitasFormInputNilaiBLnAlAdd.BL_Barrels.Visible (begin)
    <div id="r_BL_Barrels" @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_Barrels.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiBLnAL_BL_Barrels" for="x_BL_Barrels" class="@(subAktivitasFormInputNilaiBLnAlAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_Barrels.Caption)@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_Barrels.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiBLnAlAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_Barrels.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_BL_Barrels">
<input type="@(subAktivitasFormInputNilaiBLnAlAdd.BL_Barrels.InputTextType)" name="x_BL_Barrels" id="x_BL_Barrels" data-table="SubAktivitasFormInputNilaiBLnAL" data-field="x_BL_Barrels" value="@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_Barrels.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBLnAlAdd.BL_Barrels.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiBLnAlAdd.BL_Barrels.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_Barrels.EditAttributes) aria-describedby="x_BL_Barrels_help">
@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_Barrels.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_Barrels.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiBLnAlAdd.BL_Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlAdd.BL_LT.Visible) { // subAktivitasFormInputNilaiBLnAlAdd.BL_LT.Visible (begin)
    <div id="r_BL_LT" @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_LT.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiBLnAL_BL_LT" for="x_BL_LT" class="@(subAktivitasFormInputNilaiBLnAlAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_LT.Caption)@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_LT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiBLnAlAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_LT.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_BL_LT">
<input type="@(subAktivitasFormInputNilaiBLnAlAdd.BL_LT.InputTextType)" name="x_BL_LT" id="x_BL_LT" data-table="SubAktivitasFormInputNilaiBLnAL" data-field="x_BL_LT" value="@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_LT.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBLnAlAdd.BL_LT.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiBLnAlAdd.BL_LT.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_LT.EditAttributes) aria-describedby="x_BL_LT_help">
@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_LT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_LT.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiBLnAlAdd.BL_LT.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlAdd.BL_MT.Visible) { // subAktivitasFormInputNilaiBLnAlAdd.BL_MT.Visible (begin)
    <div id="r_BL_MT" @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_MT.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiBLnAL_BL_MT" for="x_BL_MT" class="@(subAktivitasFormInputNilaiBLnAlAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_MT.Caption)@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_MT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiBLnAlAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_MT.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_BL_MT">
<input type="@(subAktivitasFormInputNilaiBLnAlAdd.BL_MT.InputTextType)" name="x_BL_MT" id="x_BL_MT" data-table="SubAktivitasFormInputNilaiBLnAL" data-field="x_BL_MT" value="@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_MT.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBLnAlAdd.BL_MT.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiBLnAlAdd.BL_MT.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_MT.EditAttributes) aria-describedby="x_BL_MT_help">
@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_MT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.BL_MT.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiBLnAlAdd.BL_MT.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlAdd.AL_KLObs.Visible) { // subAktivitasFormInputNilaiBLnAlAdd.AL_KLObs.Visible (begin)
    <div id="r_AL_KLObs" @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_KLObs.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiBLnAL_AL_KLObs" for="x_AL_KLObs" class="@(subAktivitasFormInputNilaiBLnAlAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_KLObs.Caption)@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_KLObs.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiBLnAlAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_KLObs.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_AL_KLObs">
<input type="@(subAktivitasFormInputNilaiBLnAlAdd.AL_KLObs.InputTextType)" name="x_AL_KLObs" id="x_AL_KLObs" data-table="SubAktivitasFormInputNilaiBLnAL" data-field="x_AL_KLObs" value="@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_KLObs.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBLnAlAdd.AL_KLObs.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiBLnAlAdd.AL_KLObs.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_KLObs.EditAttributes) aria-describedby="x_AL_KLObs_help">
@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_KLObs.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_KLObs.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiBLnAlAdd.AL_KLObs.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlAdd.AL_KL15.Visible) { // subAktivitasFormInputNilaiBLnAlAdd.AL_KL15.Visible (begin)
    <div id="r_AL_KL15" @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_KL15.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiBLnAL_AL_KL15" for="x_AL_KL15" class="@(subAktivitasFormInputNilaiBLnAlAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_KL15.Caption)@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_KL15.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiBLnAlAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_KL15.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_AL_KL15">
<input type="@(subAktivitasFormInputNilaiBLnAlAdd.AL_KL15.InputTextType)" name="x_AL_KL15" id="x_AL_KL15" data-table="SubAktivitasFormInputNilaiBLnAL" data-field="x_AL_KL15" value="@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_KL15.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBLnAlAdd.AL_KL15.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiBLnAlAdd.AL_KL15.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_KL15.EditAttributes) aria-describedby="x_AL_KL15_help">
@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_KL15.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_KL15.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiBLnAlAdd.AL_KL15.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlAdd.AL_Barrels.Visible) { // subAktivitasFormInputNilaiBLnAlAdd.AL_Barrels.Visible (begin)
    <div id="r_AL_Barrels" @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_Barrels.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiBLnAL_AL_Barrels" for="x_AL_Barrels" class="@(subAktivitasFormInputNilaiBLnAlAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_Barrels.Caption)@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_Barrels.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiBLnAlAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_Barrels.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_AL_Barrels">
<input type="@(subAktivitasFormInputNilaiBLnAlAdd.AL_Barrels.InputTextType)" name="x_AL_Barrels" id="x_AL_Barrels" data-table="SubAktivitasFormInputNilaiBLnAL" data-field="x_AL_Barrels" value="@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_Barrels.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBLnAlAdd.AL_Barrels.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiBLnAlAdd.AL_Barrels.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_Barrels.EditAttributes) aria-describedby="x_AL_Barrels_help">
@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_Barrels.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_Barrels.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiBLnAlAdd.AL_Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlAdd.AL_LT.Visible) { // subAktivitasFormInputNilaiBLnAlAdd.AL_LT.Visible (begin)
    <div id="r_AL_LT" @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_LT.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiBLnAL_AL_LT" for="x_AL_LT" class="@(subAktivitasFormInputNilaiBLnAlAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_LT.Caption)@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_LT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiBLnAlAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_LT.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_AL_LT">
<input type="@(subAktivitasFormInputNilaiBLnAlAdd.AL_LT.InputTextType)" name="x_AL_LT" id="x_AL_LT" data-table="SubAktivitasFormInputNilaiBLnAL" data-field="x_AL_LT" value="@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_LT.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBLnAlAdd.AL_LT.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiBLnAlAdd.AL_LT.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_LT.EditAttributes) aria-describedby="x_AL_LT_help">
@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_LT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_LT.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiBLnAlAdd.AL_LT.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlAdd.AL_MT.Visible) { // subAktivitasFormInputNilaiBLnAlAdd.AL_MT.Visible (begin)
    <div id="r_AL_MT" @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_MT.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiBLnAL_AL_MT" for="x_AL_MT" class="@(subAktivitasFormInputNilaiBLnAlAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_MT.Caption)@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_MT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiBLnAlAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_MT.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_AL_MT">
<input type="@(subAktivitasFormInputNilaiBLnAlAdd.AL_MT.InputTextType)" name="x_AL_MT" id="x_AL_MT" data-table="SubAktivitasFormInputNilaiBLnAL" data-field="x_AL_MT" value="@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_MT.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBLnAlAdd.AL_MT.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiBLnAlAdd.AL_MT.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_MT.EditAttributes) aria-describedby="x_AL_MT_help">
@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_MT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.AL_MT.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiBLnAlAdd.AL_MT.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlAdd.userInput.Visible) { // subAktivitasFormInputNilaiBLnAlAdd.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.userInput.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiBLnAL_userInput" for="x_userInput" class="@(subAktivitasFormInputNilaiBLnAlAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.userInput.Caption)@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiBLnAlAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_userInput">
<input type="@(subAktivitasFormInputNilaiBLnAlAdd.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasFormInputNilaiBLnAL" data-field="x_userInput" value="@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBLnAlAdd.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiBLnAlAdd.userInput.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiBLnAlAdd.userInput.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlAdd.etlDate.Visible) { // subAktivitasFormInputNilaiBLnAlAdd.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiBLnAL_etlDate" for="x_etlDate" class="@(subAktivitasFormInputNilaiBLnAlAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.etlDate.Caption)@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiBLnAlAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_etlDate">
<input type="@(subAktivitasFormInputNilaiBLnAlAdd.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasFormInputNilaiBLnAL" data-field="x_etlDate" value="@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBLnAlAdd.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiBLnAlAdd.etlDate.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.etlDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputNilaiBLnAlAdd.etlDate.ReadOnly && !subAktivitasFormInputNilaiBLnAlAdd.etlDate.Disabled && !subAktivitasFormInputNilaiBLnAlAdd.etlDate.EditAttrs.Is("readonly") && !subAktivitasFormInputNilaiBLnAlAdd.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputNilaiBLnALadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputNilaiBLnALadd", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiBLnAlAdd.etlDate.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlAdd.LastUpdatedBy.Visible) { // subAktivitasFormInputNilaiBLnAlAdd.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiBLnAL_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasFormInputNilaiBLnAlAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.LastUpdatedBy.Caption)@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiBLnAlAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_LastUpdatedBy">
<input type="@(subAktivitasFormInputNilaiBLnAlAdd.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasFormInputNilaiBLnAL" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBLnAlAdd.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiBLnAlAdd.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiBLnAlAdd.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlAdd.lastUpdatedDate.Visible) { // subAktivitasFormInputNilaiBLnAlAdd.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiBLnAL_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasFormInputNilaiBLnAlAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.lastUpdatedDate.Caption)@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiBLnAlAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_lastUpdatedDate">
<input type="@(subAktivitasFormInputNilaiBLnAlAdd.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasFormInputNilaiBLnAL" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBLnAlAdd.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiBLnAlAdd.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputNilaiBLnAlAdd.lastUpdatedDate.ReadOnly && !subAktivitasFormInputNilaiBLnAlAdd.lastUpdatedDate.Disabled && !subAktivitasFormInputNilaiBLnAlAdd.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasFormInputNilaiBLnAlAdd.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputNilaiBLnALadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputNilaiBLnALadd", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiBLnAlAdd.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlAdd.StatusAktivitas.Visible) { // subAktivitasFormInputNilaiBLnAlAdd.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.StatusAktivitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiBLnAL_StatusAktivitas" class="@(subAktivitasFormInputNilaiBLnAlAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.StatusAktivitas.Caption)@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiBLnAlAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_StatusAktivitas">
<span>@{
    if (IsRTL) {
        subAktivitasFormInputNilaiBLnAlAdd.StatusAktivitas.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_StatusAktivitas" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_StatusAktivitas" id="sv_x_StatusAktivitas" value="@(RemoveHtml(ConvertToString(subAktivitasFormInputNilaiBLnAlAdd.StatusAktivitas.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBLnAlAdd.StatusAktivitas.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBLnAlAdd.StatusAktivitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiBLnAlAdd.StatusAktivitas.FormatPattern)" @Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.StatusAktivitas.EditAttributes) aria-describedby="x_StatusAktivitas_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasFormInputNilaiBLnAL" data-field="x_StatusAktivitas" data-input="sv_x_StatusAktivitas" data-value-separator="@(subAktivitasFormInputNilaiBLnAlAdd.StatusAktivitas.DisplayValueSeparatorAttribute)" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@(HtmlEncode(subAktivitasFormInputNilaiBLnAlAdd.StatusAktivitas.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.StatusAktivitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.StatusAktivitas.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasFormInputNilaiBLnALadd"], function() {
    fSubAktivitasFormInputNilaiBLnALadd.createAutoSuggest(Object.assign({"id":"x_StatusAktivitas","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasFormInputNilaiBLnAlAdd.StatusAktivitas.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasFormInputNilaiBLnAL.fields.StatusAktivitas.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.StatusAktivitas.Lookup.GetParamTag(subAktivitasFormInputNilaiBLnAlAdd, "p_x_StatusAktivitas"))
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiBLnAlAdd.StatusAktivitas.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasFormInputNilaiBLnAlAdd.CloseRecordset(); }
@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasFormInputNilaiBLnAlAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasFormInputNilaiBLnALadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasFormInputNilaiBLnALadd" data-href="@AppPath(subAktivitasFormInputNilaiBLnAlAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasFormInputNilaiBLnAlAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@subAktivitasFormInputNilaiBLnAlAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputNilaiBLnAL");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
