@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputDataStartPembongkaranList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputDataStartPembongkaranList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputDataStartPembongkaranList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputDataStartPembongkaranList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputDataStartPembongkaran: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasFormInputDataStartPembongkaranList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasFormInputDataStartPembongkaranList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasFormInputDataStartPembongkaranList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasFormInputDataStartPembongkaranList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasFormInputDataStartPembongkaranList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasFormInputDataStartPembongkaranList.TotalRecords > 0 && subAktivitasFormInputDataStartPembongkaranList.ExportOptions.Visible) {
    subAktivitasFormInputDataStartPembongkaranList.ExportOptions.Render("body");
}
@if (subAktivitasFormInputDataStartPembongkaranList.ImportOptions.Visible) {
    subAktivitasFormInputDataStartPembongkaranList.ImportOptions.Render("body");
}
@if (subAktivitasFormInputDataStartPembongkaranList.SearchOptions.Visible) {
    subAktivitasFormInputDataStartPembongkaranList.SearchOptions.Render("body");
}
@if (subAktivitasFormInputDataStartPembongkaranList.FilterOptions.Visible) {
    subAktivitasFormInputDataStartPembongkaranList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasFormInputDataStartPembongkaranList.IsModal) {
<form name="fSubAktivitasFormInputDataStartPembongkaransrch" id="fSubAktivitasFormInputDataStartPembongkaransrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasFormInputDataStartPembongkaransrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasFormInputDataStartPembongkaranList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputDataStartPembongkaranList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputDataStartPembongkaran: currentTable } });
var currentForm;
var fSubAktivitasFormInputDataStartPembongkaransrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputDataStartPembongkaransrch")
        .setPageId("list")
@if (subAktivitasFormInputDataStartPembongkaranList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasFormInputDataStartPembongkaranList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasFormInputDataStartPembongkaranList.IsExport() && Empty(subAktivitasFormInputDataStartPembongkaranList.CurrentAction) && subAktivitasFormInputDataStartPembongkaranList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasFormInputDataStartPembongkaranList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasFormInputDataStartPembongkaranList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasFormInputDataStartPembongkaranList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasFormInputDataStartPembongkaranList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasFormInputDataStartPembongkaransrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputDataStartPembongkaranList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasFormInputDataStartPembongkaransrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputDataStartPembongkaranList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasFormInputDataStartPembongkaransrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputDataStartPembongkaranList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasFormInputDataStartPembongkaransrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasFormInputDataStartPembongkaranList.ShowPageHeader()
@subAktivitasFormInputDataStartPembongkaranList.ShowMessages()
<main class="list @(subAktivitasFormInputDataStartPembongkaranList.TotalRecords == 0 && !subAktivitasFormInputDataStartPembongkaranList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasFormInputDataStartPembongkaranList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasFormInputDataStartPembongkaranList.TotalRecords > 0 || !Empty(subAktivitasFormInputDataStartPembongkaranList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasFormInputDataStartPembongkaranList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasFormInputDataStartPembongkaranList.TableGridClass)">
<form name="@(subAktivitasFormInputDataStartPembongkaranList.FormName)" id="@(subAktivitasFormInputDataStartPembongkaranList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasFormInputDataStartPembongkaranList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasFormInputDataStartPembongkaranList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasFormInputDataStartPembongkaran" class="card-body ew-grid-middle-panel @(subAktivitasFormInputDataStartPembongkaranList.TableContainerClass)" style="@(subAktivitasFormInputDataStartPembongkaranList.TableContainerStyle)">
@if (subAktivitasFormInputDataStartPembongkaranList.TotalRecords > 0 || subAktivitasFormInputDataStartPembongkaranList.IsGridEdit || subAktivitasFormInputDataStartPembongkaranList.IsMultiEdit) {
<table id="tbl_SubAktivitasFormInputDataStartPembongkaranlist" class="@(subAktivitasFormInputDataStartPembongkaranList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasFormInputDataStartPembongkaranList.RowType = RowType.Header;

    // Render list options
    await subAktivitasFormInputDataStartPembongkaranList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasFormInputDataStartPembongkaranList.ListOptions.RenderHeader("left")
@if (subAktivitasFormInputDataStartPembongkaranList.id.Visible) { // subAktivitasFormInputDataStartPembongkaranList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasFormInputDataStartPembongkaranList.id.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStartPembongkaran_id" class="SubAktivitasFormInputDataStartPembongkaran_id">@Html.Raw(subAktivitasFormInputDataStartPembongkaranList.RenderFieldHeader(subAktivitasFormInputDataStartPembongkaranList.id))</div></th>
} @* subAktivitasFormInputDataStartPembongkaranList.id.Visible (end) *@
@if (subAktivitasFormInputDataStartPembongkaranList.NoReferensi.Visible) { // subAktivitasFormInputDataStartPembongkaranList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasFormInputDataStartPembongkaranList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStartPembongkaran_NoReferensi" class="SubAktivitasFormInputDataStartPembongkaran_NoReferensi">@Html.Raw(subAktivitasFormInputDataStartPembongkaranList.RenderFieldHeader(subAktivitasFormInputDataStartPembongkaranList.NoReferensi))</div></th>
} @* subAktivitasFormInputDataStartPembongkaranList.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputDataStartPembongkaranList.idProses.Visible) { // subAktivitasFormInputDataStartPembongkaranList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasFormInputDataStartPembongkaranList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStartPembongkaran_idProses" class="SubAktivitasFormInputDataStartPembongkaran_idProses">@Html.Raw(subAktivitasFormInputDataStartPembongkaranList.RenderFieldHeader(subAktivitasFormInputDataStartPembongkaranList.idProses))</div></th>
} @* subAktivitasFormInputDataStartPembongkaranList.idProses.Visible (end) *@
@if (subAktivitasFormInputDataStartPembongkaranList.idAktifitas.Visible) { // subAktivitasFormInputDataStartPembongkaranList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasFormInputDataStartPembongkaranList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStartPembongkaran_idAktifitas" class="SubAktivitasFormInputDataStartPembongkaran_idAktifitas">@Html.Raw(subAktivitasFormInputDataStartPembongkaranList.RenderFieldHeader(subAktivitasFormInputDataStartPembongkaranList.idAktifitas))</div></th>
} @* subAktivitasFormInputDataStartPembongkaranList.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputDataStartPembongkaranList.StatusAktivitas.Visible) { // subAktivitasFormInputDataStartPembongkaranList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasFormInputDataStartPembongkaranList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStartPembongkaran_StatusAktivitas" class="SubAktivitasFormInputDataStartPembongkaran_StatusAktivitas">@Html.Raw(subAktivitasFormInputDataStartPembongkaranList.RenderFieldHeader(subAktivitasFormInputDataStartPembongkaranList.StatusAktivitas))</div></th>
} @* subAktivitasFormInputDataStartPembongkaranList.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputDataStartPembongkaranList.LastUpdatedBy.Visible) { // subAktivitasFormInputDataStartPembongkaranList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasFormInputDataStartPembongkaranList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStartPembongkaran_LastUpdatedBy" class="SubAktivitasFormInputDataStartPembongkaran_LastUpdatedBy">@Html.Raw(subAktivitasFormInputDataStartPembongkaranList.RenderFieldHeader(subAktivitasFormInputDataStartPembongkaranList.LastUpdatedBy))</div></th>
} @* subAktivitasFormInputDataStartPembongkaranList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputDataStartPembongkaranList.lastUpdatedDate.Visible) { // subAktivitasFormInputDataStartPembongkaranList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasFormInputDataStartPembongkaranList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStartPembongkaran_lastUpdatedDate" class="SubAktivitasFormInputDataStartPembongkaran_lastUpdatedDate">@Html.Raw(subAktivitasFormInputDataStartPembongkaranList.RenderFieldHeader(subAktivitasFormInputDataStartPembongkaranList.lastUpdatedDate))</div></th>
} @* subAktivitasFormInputDataStartPembongkaranList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputDataStartPembongkaranList.Tanggal.Visible) { // subAktivitasFormInputDataStartPembongkaranList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasFormInputDataStartPembongkaranList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStartPembongkaran_Tanggal" class="SubAktivitasFormInputDataStartPembongkaran_Tanggal">@Html.Raw(subAktivitasFormInputDataStartPembongkaranList.RenderFieldHeader(subAktivitasFormInputDataStartPembongkaranList.Tanggal))</div></th>
} @* subAktivitasFormInputDataStartPembongkaranList.Tanggal.Visible (end) *@
@if (subAktivitasFormInputDataStartPembongkaranList.userInput.Visible) { // subAktivitasFormInputDataStartPembongkaranList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasFormInputDataStartPembongkaranList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStartPembongkaran_userInput" class="SubAktivitasFormInputDataStartPembongkaran_userInput">@Html.Raw(subAktivitasFormInputDataStartPembongkaranList.RenderFieldHeader(subAktivitasFormInputDataStartPembongkaranList.userInput))</div></th>
} @* subAktivitasFormInputDataStartPembongkaranList.userInput.Visible (end) *@
@if (subAktivitasFormInputDataStartPembongkaranList.etlDate.Visible) { // subAktivitasFormInputDataStartPembongkaranList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasFormInputDataStartPembongkaranList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStartPembongkaran_etlDate" class="SubAktivitasFormInputDataStartPembongkaran_etlDate">@Html.Raw(subAktivitasFormInputDataStartPembongkaranList.RenderFieldHeader(subAktivitasFormInputDataStartPembongkaranList.etlDate))</div></th>
} @* subAktivitasFormInputDataStartPembongkaranList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasFormInputDataStartPembongkaranList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasFormInputDataStartPembongkaranList.PageNumber)">
@{
    await subAktivitasFormInputDataStartPembongkaranList.SetupGrid();
    bool eof = subAktivitasFormInputDataStartPembongkaranList.Recordset == null; // DN
}
@while (subAktivitasFormInputDataStartPembongkaranList.RecordCount < subAktivitasFormInputDataStartPembongkaranList.StopRecord || SameString(subAktivitasFormInputDataStartPembongkaranList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasFormInputDataStartPembongkaranList.RowIndex, "$rowindex$") &&
        (!subAktivitasFormInputDataStartPembongkaranList.IsGridAdd || subAktivitasFormInputDataStartPembongkaranList.CurrentMode == "copy") &&
        (!((subAktivitasFormInputDataStartPembongkaranList.IsCopy || subAktivitasFormInputDataStartPembongkaranList.IsAdd) && subAktivitasFormInputDataStartPembongkaranList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasFormInputDataStartPembongkaranList.Recordset.ReadAsync();
    subAktivitasFormInputDataStartPembongkaranList.RecordCount++;
    if (subAktivitasFormInputDataStartPembongkaranList.RecordCount >= subAktivitasFormInputDataStartPembongkaranList.StartRecord) {
        await subAktivitasFormInputDataStartPembongkaranList.SetupRow();
    <tr @Html.Raw(subAktivitasFormInputDataStartPembongkaranList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasFormInputDataStartPembongkaranList.ListOptions.RenderBody("left", subAktivitasFormInputDataStartPembongkaranList.RowCount)
    @if (subAktivitasFormInputDataStartPembongkaranList.id.Visible) { // subAktivitasFormInputDataStartPembongkaranList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasFormInputDataStartPembongkaranList.id.CellAttributes)>
<span id="el@(subAktivitasFormInputDataStartPembongkaranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputDataStartPembongkaranList.RowCount)_SubAktivitasFormInputDataStartPembongkaran_id" class="el_SubAktivitasFormInputDataStartPembongkaran_id">
<span @Html.Raw(subAktivitasFormInputDataStartPembongkaranList.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPembongkaranList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStartPembongkaranList.id.Visible (end) *@
    @if (subAktivitasFormInputDataStartPembongkaranList.NoReferensi.Visible) { // subAktivitasFormInputDataStartPembongkaranList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputDataStartPembongkaranList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasFormInputDataStartPembongkaranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputDataStartPembongkaranList.RowCount)_SubAktivitasFormInputDataStartPembongkaran_NoReferensi" class="el_SubAktivitasFormInputDataStartPembongkaran_NoReferensi">
<span @Html.Raw(subAktivitasFormInputDataStartPembongkaranList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPembongkaranList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStartPembongkaranList.NoReferensi.Visible (end) *@
    @if (subAktivitasFormInputDataStartPembongkaranList.idProses.Visible) { // subAktivitasFormInputDataStartPembongkaranList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputDataStartPembongkaranList.idProses.CellAttributes)>
<span id="el@(subAktivitasFormInputDataStartPembongkaranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputDataStartPembongkaranList.RowCount)_SubAktivitasFormInputDataStartPembongkaran_idProses" class="el_SubAktivitasFormInputDataStartPembongkaran_idProses">
<span @Html.Raw(subAktivitasFormInputDataStartPembongkaranList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPembongkaranList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStartPembongkaranList.idProses.Visible (end) *@
    @if (subAktivitasFormInputDataStartPembongkaranList.idAktifitas.Visible) { // subAktivitasFormInputDataStartPembongkaranList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputDataStartPembongkaranList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasFormInputDataStartPembongkaranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputDataStartPembongkaranList.RowCount)_SubAktivitasFormInputDataStartPembongkaran_idAktifitas" class="el_SubAktivitasFormInputDataStartPembongkaran_idAktifitas">
<span @Html.Raw(subAktivitasFormInputDataStartPembongkaranList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPembongkaranList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStartPembongkaranList.idAktifitas.Visible (end) *@
    @if (subAktivitasFormInputDataStartPembongkaranList.StatusAktivitas.Visible) { // subAktivitasFormInputDataStartPembongkaranList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputDataStartPembongkaranList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasFormInputDataStartPembongkaranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputDataStartPembongkaranList.RowCount)_SubAktivitasFormInputDataStartPembongkaran_StatusAktivitas" class="el_SubAktivitasFormInputDataStartPembongkaran_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputDataStartPembongkaranList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPembongkaranList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStartPembongkaranList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasFormInputDataStartPembongkaranList.LastUpdatedBy.Visible) { // subAktivitasFormInputDataStartPembongkaranList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputDataStartPembongkaranList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasFormInputDataStartPembongkaranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputDataStartPembongkaranList.RowCount)_SubAktivitasFormInputDataStartPembongkaran_LastUpdatedBy" class="el_SubAktivitasFormInputDataStartPembongkaran_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputDataStartPembongkaranList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPembongkaranList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStartPembongkaranList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasFormInputDataStartPembongkaranList.lastUpdatedDate.Visible) { // subAktivitasFormInputDataStartPembongkaranList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputDataStartPembongkaranList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasFormInputDataStartPembongkaranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputDataStartPembongkaranList.RowCount)_SubAktivitasFormInputDataStartPembongkaran_lastUpdatedDate" class="el_SubAktivitasFormInputDataStartPembongkaran_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputDataStartPembongkaranList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPembongkaranList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStartPembongkaranList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasFormInputDataStartPembongkaranList.Tanggal.Visible) { // subAktivitasFormInputDataStartPembongkaranList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasFormInputDataStartPembongkaranList.Tanggal.CellAttributes)>
<span id="el@(subAktivitasFormInputDataStartPembongkaranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputDataStartPembongkaranList.RowCount)_SubAktivitasFormInputDataStartPembongkaran_Tanggal" class="el_SubAktivitasFormInputDataStartPembongkaran_Tanggal">
<span @Html.Raw(subAktivitasFormInputDataStartPembongkaranList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPembongkaranList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStartPembongkaranList.Tanggal.Visible (end) *@
    @if (subAktivitasFormInputDataStartPembongkaranList.userInput.Visible) { // subAktivitasFormInputDataStartPembongkaranList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputDataStartPembongkaranList.userInput.CellAttributes)>
<span id="el@(subAktivitasFormInputDataStartPembongkaranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputDataStartPembongkaranList.RowCount)_SubAktivitasFormInputDataStartPembongkaran_userInput" class="el_SubAktivitasFormInputDataStartPembongkaran_userInput">
<span @Html.Raw(subAktivitasFormInputDataStartPembongkaranList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPembongkaranList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStartPembongkaranList.userInput.Visible (end) *@
    @if (subAktivitasFormInputDataStartPembongkaranList.etlDate.Visible) { // subAktivitasFormInputDataStartPembongkaranList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputDataStartPembongkaranList.etlDate.CellAttributes)>
<span id="el@(subAktivitasFormInputDataStartPembongkaranList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputDataStartPembongkaranList.RowCount)_SubAktivitasFormInputDataStartPembongkaran_etlDate" class="el_SubAktivitasFormInputDataStartPembongkaran_etlDate">
<span @Html.Raw(subAktivitasFormInputDataStartPembongkaranList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPembongkaranList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStartPembongkaranList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasFormInputDataStartPembongkaranList.ListOptions.RenderBody("right", subAktivitasFormInputDataStartPembongkaranList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasFormInputDataStartPembongkaranList.RowIndex, "$rowindex$"))
        subAktivitasFormInputDataStartPembongkaranList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasFormInputDataStartPembongkaranList.IsCopy || subAktivitasFormInputDataStartPembongkaranList.IsAdd) && subAktivitasFormInputDataStartPembongkaranList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasFormInputDataStartPembongkaranList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasFormInputDataStartPembongkaranList.CurrentAction) && !subAktivitasFormInputDataStartPembongkaranList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasFormInputDataStartPembongkaranList.CloseRecordset(); }
@if (!subAktivitasFormInputDataStartPembongkaranList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasFormInputDataStartPembongkaranList.IsGridAdd && !(subAktivitasFormInputDataStartPembongkaranList.IsGridEdit && subAktivitasFormInputDataStartPembongkaranList.ModalGridEdit) && !subAktivitasFormInputDataStartPembongkaranList.IsMultiEdit) {
@Html.Raw(subAktivitasFormInputDataStartPembongkaranList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasFormInputDataStartPembongkaranList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasFormInputDataStartPembongkaranList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasFormInputDataStartPembongkaranList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasFormInputDataStartPembongkaranList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputDataStartPembongkaranList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputDataStartPembongkaran");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
