@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiBlsfalstslpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiBlsfalstslpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasNilaiBlsfalstslpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiBlsfalstslpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiBLSFALSTSLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasNilaiBlsfalstslpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasNilaiBlsfalstslpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasNilaiBlsfalstslpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasNilaiBlsfalstslpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasNilaiBlsfalstslpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasNilaiBlsfalstslpgList.TotalRecords > 0 && subAktivitasNilaiBlsfalstslpgList.ExportOptions.Visible) {
    subAktivitasNilaiBlsfalstslpgList.ExportOptions.Render("body");
}
@if (subAktivitasNilaiBlsfalstslpgList.ImportOptions.Visible) {
    subAktivitasNilaiBlsfalstslpgList.ImportOptions.Render("body");
}
@if (subAktivitasNilaiBlsfalstslpgList.SearchOptions.Visible) {
    subAktivitasNilaiBlsfalstslpgList.SearchOptions.Render("body");
}
@if (subAktivitasNilaiBlsfalstslpgList.FilterOptions.Visible) {
    subAktivitasNilaiBlsfalstslpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasNilaiBlsfalstslpgList.IsModal) {
<form name="fSubAktivitasNilaiBLSFALSTSLPGsrch" id="fSubAktivitasNilaiBLSFALSTSLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasNilaiBLSFALSTSLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasNilaiBlsfalstslpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiBlsfalstslpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiBLSFALSTSLPG: currentTable } });
var currentForm;
var fSubAktivitasNilaiBLSFALSTSLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiBLSFALSTSLPGsrch")
        .setPageId("list")
@if (subAktivitasNilaiBlsfalstslpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasNilaiBlsfalstslpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasNilaiBlsfalstslpgList.IsExport() && Empty(subAktivitasNilaiBlsfalstslpgList.CurrentAction) && subAktivitasNilaiBlsfalstslpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasNilaiBlsfalstslpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasNilaiBlsfalstslpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasNilaiBlsfalstslpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasNilaiBlsfalstslpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasNilaiBLSFALSTSLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiBlsfalstslpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasNilaiBLSFALSTSLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiBlsfalstslpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasNilaiBLSFALSTSLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiBlsfalstslpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasNilaiBLSFALSTSLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasNilaiBlsfalstslpgList.ShowPageHeader()
@subAktivitasNilaiBlsfalstslpgList.ShowMessages()
<main class="list @(subAktivitasNilaiBlsfalstslpgList.TotalRecords == 0 && !subAktivitasNilaiBlsfalstslpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasNilaiBlsfalstslpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasNilaiBlsfalstslpgList.TotalRecords > 0 || !Empty(subAktivitasNilaiBlsfalstslpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasNilaiBlsfalstslpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasNilaiBlsfalstslpgList.TableGridClass)">
<form name="@(subAktivitasNilaiBlsfalstslpgList.FormName)" id="@(subAktivitasNilaiBlsfalstslpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasNilaiBlsfalstslpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasNilaiBlsfalstslpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasNilaiBLSFALSTSLPG" class="card-body ew-grid-middle-panel @(subAktivitasNilaiBlsfalstslpgList.TableContainerClass)" style="@(subAktivitasNilaiBlsfalstslpgList.TableContainerStyle)">
@if (subAktivitasNilaiBlsfalstslpgList.TotalRecords > 0 || subAktivitasNilaiBlsfalstslpgList.IsGridEdit || subAktivitasNilaiBlsfalstslpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasNilaiBLSFALSTSLPGlist" class="@(subAktivitasNilaiBlsfalstslpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasNilaiBlsfalstslpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasNilaiBlsfalstslpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasNilaiBlsfalstslpgList.ListOptions.RenderHeader("left")
@if (subAktivitasNilaiBlsfalstslpgList.id.Visible) { // subAktivitasNilaiBlsfalstslpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasNilaiBlsfalstslpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALSTSLPG_id" class="SubAktivitasNilaiBLSFALSTSLPG_id">@Html.Raw(subAktivitasNilaiBlsfalstslpgList.RenderFieldHeader(subAktivitasNilaiBlsfalstslpgList.id))</div></th>
} @* subAktivitasNilaiBlsfalstslpgList.id.Visible (end) *@
@if (subAktivitasNilaiBlsfalstslpgList.idAktifitas.Visible) { // subAktivitasNilaiBlsfalstslpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasNilaiBlsfalstslpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALSTSLPG_idAktifitas" class="SubAktivitasNilaiBLSFALSTSLPG_idAktifitas">@Html.Raw(subAktivitasNilaiBlsfalstslpgList.RenderFieldHeader(subAktivitasNilaiBlsfalstslpgList.idAktifitas))</div></th>
} @* subAktivitasNilaiBlsfalstslpgList.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiBlsfalstslpgList.BL_mt.Visible) { // subAktivitasNilaiBlsfalstslpgList.BL_mt.Visible (begin)
        <th data-name="BL_mt" class="@(subAktivitasNilaiBlsfalstslpgList.BL_mt.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALSTSLPG_BL_mt" class="SubAktivitasNilaiBLSFALSTSLPG_BL_mt">@Html.Raw(subAktivitasNilaiBlsfalstslpgList.RenderFieldHeader(subAktivitasNilaiBlsfalstslpgList.BL_mt))</div></th>
} @* subAktivitasNilaiBlsfalstslpgList.BL_mt.Visible (end) *@
@if (subAktivitasNilaiBlsfalstslpgList.SFAL_mt.Visible) { // subAktivitasNilaiBlsfalstslpgList.SFAL_mt.Visible (begin)
        <th data-name="SFAL_mt" class="@(subAktivitasNilaiBlsfalstslpgList.SFAL_mt.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALSTSLPG_SFAL_mt" class="SubAktivitasNilaiBLSFALSTSLPG_SFAL_mt">@Html.Raw(subAktivitasNilaiBlsfalstslpgList.RenderFieldHeader(subAktivitasNilaiBlsfalstslpgList.SFAL_mt))</div></th>
} @* subAktivitasNilaiBlsfalstslpgList.SFAL_mt.Visible (end) *@
@if (subAktivitasNilaiBlsfalstslpgList.userInput.Visible) { // subAktivitasNilaiBlsfalstslpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasNilaiBlsfalstslpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALSTSLPG_userInput" class="SubAktivitasNilaiBLSFALSTSLPG_userInput">@Html.Raw(subAktivitasNilaiBlsfalstslpgList.RenderFieldHeader(subAktivitasNilaiBlsfalstslpgList.userInput))</div></th>
} @* subAktivitasNilaiBlsfalstslpgList.userInput.Visible (end) *@
@if (subAktivitasNilaiBlsfalstslpgList.etlDate.Visible) { // subAktivitasNilaiBlsfalstslpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasNilaiBlsfalstslpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALSTSLPG_etlDate" class="SubAktivitasNilaiBLSFALSTSLPG_etlDate">@Html.Raw(subAktivitasNilaiBlsfalstslpgList.RenderFieldHeader(subAktivitasNilaiBlsfalstslpgList.etlDate))</div></th>
} @* subAktivitasNilaiBlsfalstslpgList.etlDate.Visible (end) *@
@if (subAktivitasNilaiBlsfalstslpgList.idProses.Visible) { // subAktivitasNilaiBlsfalstslpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasNilaiBlsfalstslpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALSTSLPG_idProses" class="SubAktivitasNilaiBLSFALSTSLPG_idProses">@Html.Raw(subAktivitasNilaiBlsfalstslpgList.RenderFieldHeader(subAktivitasNilaiBlsfalstslpgList.idProses))</div></th>
} @* subAktivitasNilaiBlsfalstslpgList.idProses.Visible (end) *@
@if (subAktivitasNilaiBlsfalstslpgList.LastUpdatedBy.Visible) { // subAktivitasNilaiBlsfalstslpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasNilaiBlsfalstslpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALSTSLPG_LastUpdatedBy" class="SubAktivitasNilaiBLSFALSTSLPG_LastUpdatedBy">@Html.Raw(subAktivitasNilaiBlsfalstslpgList.RenderFieldHeader(subAktivitasNilaiBlsfalstslpgList.LastUpdatedBy))</div></th>
} @* subAktivitasNilaiBlsfalstslpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiBlsfalstslpgList.lastUpdatedDate.Visible) { // subAktivitasNilaiBlsfalstslpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasNilaiBlsfalstslpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALSTSLPG_lastUpdatedDate" class="SubAktivitasNilaiBLSFALSTSLPG_lastUpdatedDate">@Html.Raw(subAktivitasNilaiBlsfalstslpgList.RenderFieldHeader(subAktivitasNilaiBlsfalstslpgList.lastUpdatedDate))</div></th>
} @* subAktivitasNilaiBlsfalstslpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasNilaiBlsfalstslpgList.NoReferensi.Visible) { // subAktivitasNilaiBlsfalstslpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasNilaiBlsfalstslpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALSTSLPG_NoReferensi" class="SubAktivitasNilaiBLSFALSTSLPG_NoReferensi">@Html.Raw(subAktivitasNilaiBlsfalstslpgList.RenderFieldHeader(subAktivitasNilaiBlsfalstslpgList.NoReferensi))</div></th>
} @* subAktivitasNilaiBlsfalstslpgList.NoReferensi.Visible (end) *@
@if (subAktivitasNilaiBlsfalstslpgList.StatusAktivitas.Visible) { // subAktivitasNilaiBlsfalstslpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasNilaiBlsfalstslpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALSTSLPG_StatusAktivitas" class="SubAktivitasNilaiBLSFALSTSLPG_StatusAktivitas">@Html.Raw(subAktivitasNilaiBlsfalstslpgList.RenderFieldHeader(subAktivitasNilaiBlsfalstslpgList.StatusAktivitas))</div></th>
} @* subAktivitasNilaiBlsfalstslpgList.StatusAktivitas.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasNilaiBlsfalstslpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasNilaiBlsfalstslpgList.PageNumber)">
@{
    await subAktivitasNilaiBlsfalstslpgList.SetupGrid();
    bool eof = subAktivitasNilaiBlsfalstslpgList.Recordset == null; // DN
}
@while (subAktivitasNilaiBlsfalstslpgList.RecordCount < subAktivitasNilaiBlsfalstslpgList.StopRecord || SameString(subAktivitasNilaiBlsfalstslpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasNilaiBlsfalstslpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasNilaiBlsfalstslpgList.IsGridAdd || subAktivitasNilaiBlsfalstslpgList.CurrentMode == "copy") &&
        (!((subAktivitasNilaiBlsfalstslpgList.IsCopy || subAktivitasNilaiBlsfalstslpgList.IsAdd) && subAktivitasNilaiBlsfalstslpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasNilaiBlsfalstslpgList.Recordset.ReadAsync();
    subAktivitasNilaiBlsfalstslpgList.RecordCount++;
    if (subAktivitasNilaiBlsfalstslpgList.RecordCount >= subAktivitasNilaiBlsfalstslpgList.StartRecord) {
        await subAktivitasNilaiBlsfalstslpgList.SetupRow();
    <tr @Html.Raw(subAktivitasNilaiBlsfalstslpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasNilaiBlsfalstslpgList.ListOptions.RenderBody("left", subAktivitasNilaiBlsfalstslpgList.RowCount)
    @if (subAktivitasNilaiBlsfalstslpgList.id.Visible) { // subAktivitasNilaiBlsfalstslpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasNilaiBlsfalstslpgList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalstslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalstslpgList.RowCount)_SubAktivitasNilaiBLSFALSTSLPG_id" class="el_SubAktivitasNilaiBLSFALSTSLPG_id">
<span @Html.Raw(subAktivitasNilaiBlsfalstslpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalstslpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalstslpgList.id.Visible (end) *@
    @if (subAktivitasNilaiBlsfalstslpgList.idAktifitas.Visible) { // subAktivitasNilaiBlsfalstslpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasNilaiBlsfalstslpgList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalstslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalstslpgList.RowCount)_SubAktivitasNilaiBLSFALSTSLPG_idAktifitas" class="el_SubAktivitasNilaiBLSFALSTSLPG_idAktifitas">
<span @Html.Raw(subAktivitasNilaiBlsfalstslpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalstslpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalstslpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasNilaiBlsfalstslpgList.BL_mt.Visible) { // subAktivitasNilaiBlsfalstslpgList.BL_mt.Visible (begin)
        <td data-name="BL_mt" @Html.Raw(subAktivitasNilaiBlsfalstslpgList.BL_mt.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalstslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalstslpgList.RowCount)_SubAktivitasNilaiBLSFALSTSLPG_BL_mt" class="el_SubAktivitasNilaiBLSFALSTSLPG_BL_mt">
<span @Html.Raw(subAktivitasNilaiBlsfalstslpgList.BL_mt.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalstslpgList.BL_mt.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalstslpgList.BL_mt.Visible (end) *@
    @if (subAktivitasNilaiBlsfalstslpgList.SFAL_mt.Visible) { // subAktivitasNilaiBlsfalstslpgList.SFAL_mt.Visible (begin)
        <td data-name="SFAL_mt" @Html.Raw(subAktivitasNilaiBlsfalstslpgList.SFAL_mt.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalstslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalstslpgList.RowCount)_SubAktivitasNilaiBLSFALSTSLPG_SFAL_mt" class="el_SubAktivitasNilaiBLSFALSTSLPG_SFAL_mt">
<span @Html.Raw(subAktivitasNilaiBlsfalstslpgList.SFAL_mt.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalstslpgList.SFAL_mt.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalstslpgList.SFAL_mt.Visible (end) *@
    @if (subAktivitasNilaiBlsfalstslpgList.userInput.Visible) { // subAktivitasNilaiBlsfalstslpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasNilaiBlsfalstslpgList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalstslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalstslpgList.RowCount)_SubAktivitasNilaiBLSFALSTSLPG_userInput" class="el_SubAktivitasNilaiBLSFALSTSLPG_userInput">
<span @Html.Raw(subAktivitasNilaiBlsfalstslpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalstslpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalstslpgList.userInput.Visible (end) *@
    @if (subAktivitasNilaiBlsfalstslpgList.etlDate.Visible) { // subAktivitasNilaiBlsfalstslpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasNilaiBlsfalstslpgList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalstslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalstslpgList.RowCount)_SubAktivitasNilaiBLSFALSTSLPG_etlDate" class="el_SubAktivitasNilaiBLSFALSTSLPG_etlDate">
<span @Html.Raw(subAktivitasNilaiBlsfalstslpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalstslpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalstslpgList.etlDate.Visible (end) *@
    @if (subAktivitasNilaiBlsfalstslpgList.idProses.Visible) { // subAktivitasNilaiBlsfalstslpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasNilaiBlsfalstslpgList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalstslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalstslpgList.RowCount)_SubAktivitasNilaiBLSFALSTSLPG_idProses" class="el_SubAktivitasNilaiBLSFALSTSLPG_idProses">
<span @Html.Raw(subAktivitasNilaiBlsfalstslpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalstslpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalstslpgList.idProses.Visible (end) *@
    @if (subAktivitasNilaiBlsfalstslpgList.LastUpdatedBy.Visible) { // subAktivitasNilaiBlsfalstslpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasNilaiBlsfalstslpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalstslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalstslpgList.RowCount)_SubAktivitasNilaiBLSFALSTSLPG_LastUpdatedBy" class="el_SubAktivitasNilaiBLSFALSTSLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasNilaiBlsfalstslpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalstslpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalstslpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasNilaiBlsfalstslpgList.lastUpdatedDate.Visible) { // subAktivitasNilaiBlsfalstslpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasNilaiBlsfalstslpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalstslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalstslpgList.RowCount)_SubAktivitasNilaiBLSFALSTSLPG_lastUpdatedDate" class="el_SubAktivitasNilaiBLSFALSTSLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasNilaiBlsfalstslpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalstslpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalstslpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasNilaiBlsfalstslpgList.NoReferensi.Visible) { // subAktivitasNilaiBlsfalstslpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasNilaiBlsfalstslpgList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalstslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalstslpgList.RowCount)_SubAktivitasNilaiBLSFALSTSLPG_NoReferensi" class="el_SubAktivitasNilaiBLSFALSTSLPG_NoReferensi">
<span @Html.Raw(subAktivitasNilaiBlsfalstslpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalstslpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalstslpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasNilaiBlsfalstslpgList.StatusAktivitas.Visible) { // subAktivitasNilaiBlsfalstslpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasNilaiBlsfalstslpgList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalstslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalstslpgList.RowCount)_SubAktivitasNilaiBLSFALSTSLPG_StatusAktivitas" class="el_SubAktivitasNilaiBLSFALSTSLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasNilaiBlsfalstslpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalstslpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalstslpgList.StatusAktivitas.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasNilaiBlsfalstslpgList.ListOptions.RenderBody("right", subAktivitasNilaiBlsfalstslpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasNilaiBlsfalstslpgList.RowIndex, "$rowindex$"))
        subAktivitasNilaiBlsfalstslpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasNilaiBlsfalstslpgList.IsCopy || subAktivitasNilaiBlsfalstslpgList.IsAdd) && subAktivitasNilaiBlsfalstslpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasNilaiBlsfalstslpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasNilaiBlsfalstslpgList.CurrentAction) && !subAktivitasNilaiBlsfalstslpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasNilaiBlsfalstslpgList.CloseRecordset(); }
@if (!subAktivitasNilaiBlsfalstslpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasNilaiBlsfalstslpgList.IsGridAdd && !(subAktivitasNilaiBlsfalstslpgList.IsGridEdit && subAktivitasNilaiBlsfalstslpgList.ModalGridEdit) && !subAktivitasNilaiBlsfalstslpgList.IsMultiEdit) {
@Html.Raw(subAktivitasNilaiBlsfalstslpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasNilaiBlsfalstslpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasNilaiBlsfalstslpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasNilaiBlsfalstslpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasNilaiBlsfalstslpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasNilaiBlsfalstslpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasNilaiBLSFALSTSLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
