@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputNilaiAktualDischargeDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputNilaiAktualDischargeDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputNilaiAktualDischargeDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputNilaiAktualDischarge: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fSubAktivitasFormInputNilaiAktualDischargedelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputNilaiAktualDischargedelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasFormInputNilaiAktualDischargeDelete.ShowPageHeader()
@subAktivitasFormInputNilaiAktualDischargeDelete.ShowMessages()
<form name="fSubAktivitasFormInputNilaiAktualDischargedelete" id="fSubAktivitasFormInputNilaiAktualDischargedelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in subAktivitasFormInputNilaiAktualDischargeDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(subAktivitasFormInputNilaiAktualDischargeDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(subAktivitasFormInputNilaiAktualDischargeDelete.TableContainerClass)" style="@(subAktivitasFormInputNilaiAktualDischargeDelete.TableContainerStyle)">
<table class="@(subAktivitasFormInputNilaiAktualDischargeDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (subAktivitasFormInputNilaiAktualDischargeDelete.id.Visible) { // subAktivitasFormInputNilaiAktualDischargeDelete.id.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.id.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktualDischarge_id" class="SubAktivitasFormInputNilaiAktualDischarge_id">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.id.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktualDischargeDelete.id.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeDelete.idAktifitas.Visible) { // subAktivitasFormInputNilaiAktualDischargeDelete.idAktifitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.idAktifitas.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktualDischarge_idAktifitas" class="SubAktivitasFormInputNilaiAktualDischarge_idAktifitas">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.idAktifitas.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktualDischargeDelete.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeDelete.idProses.Visible) { // subAktivitasFormInputNilaiAktualDischargeDelete.idProses.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.idProses.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktualDischarge_idProses" class="SubAktivitasFormInputNilaiAktualDischarge_idProses">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.idProses.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktualDischargeDelete.idProses.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeDelete.NoReferensi.Visible) { // subAktivitasFormInputNilaiAktualDischargeDelete.NoReferensi.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.NoReferensi.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktualDischarge_NoReferensi" class="SubAktivitasFormInputNilaiAktualDischarge_NoReferensi">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.NoReferensi.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktualDischargeDelete.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeDelete.KL_Obs.Visible) { // subAktivitasFormInputNilaiAktualDischargeDelete.KL_Obs.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.KL_Obs.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktualDischarge_KL_Obs" class="SubAktivitasFormInputNilaiAktualDischarge_KL_Obs">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.KL_Obs.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktualDischargeDelete.KL_Obs.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeDelete.KL_15.Visible) { // subAktivitasFormInputNilaiAktualDischargeDelete.KL_15.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.KL_15.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktualDischarge_KL_15" class="SubAktivitasFormInputNilaiAktualDischarge_KL_15">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.KL_15.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktualDischargeDelete.KL_15.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeDelete.Barrels.Visible) { // subAktivitasFormInputNilaiAktualDischargeDelete.Barrels.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.Barrels.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktualDischarge_Barrels" class="SubAktivitasFormInputNilaiAktualDischarge_Barrels">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.Barrels.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktualDischargeDelete.Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeDelete.LT.Visible) { // subAktivitasFormInputNilaiAktualDischargeDelete.LT.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.LT.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktualDischarge_LT" class="SubAktivitasFormInputNilaiAktualDischarge_LT">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.LT.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktualDischargeDelete.LT.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeDelete.MT.Visible) { // subAktivitasFormInputNilaiAktualDischargeDelete.MT.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.MT.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktualDischarge_MT" class="SubAktivitasFormInputNilaiAktualDischarge_MT">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.MT.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktualDischargeDelete.MT.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeDelete.userInput.Visible) { // subAktivitasFormInputNilaiAktualDischargeDelete.userInput.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.userInput.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktualDischarge_userInput" class="SubAktivitasFormInputNilaiAktualDischarge_userInput">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.userInput.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktualDischargeDelete.userInput.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeDelete.etlDate.Visible) { // subAktivitasFormInputNilaiAktualDischargeDelete.etlDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.etlDate.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktualDischarge_etlDate" class="SubAktivitasFormInputNilaiAktualDischarge_etlDate">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.etlDate.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktualDischargeDelete.etlDate.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeDelete.LastUpdatedBy.Visible) { // subAktivitasFormInputNilaiAktualDischargeDelete.LastUpdatedBy.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.LastUpdatedBy.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktualDischarge_LastUpdatedBy" class="SubAktivitasFormInputNilaiAktualDischarge_LastUpdatedBy">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.LastUpdatedBy.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktualDischargeDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeDelete.lastUpdatedDate.Visible) { // subAktivitasFormInputNilaiAktualDischargeDelete.lastUpdatedDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.lastUpdatedDate.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktualDischarge_lastUpdatedDate" class="SubAktivitasFormInputNilaiAktualDischarge_lastUpdatedDate">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.lastUpdatedDate.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktualDischargeDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeDelete.StatusAktivitas.Visible) { // subAktivitasFormInputNilaiAktualDischargeDelete.StatusAktivitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.StatusAktivitas.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktualDischarge_StatusAktivitas" class="SubAktivitasFormInputNilaiAktualDischarge_StatusAktivitas">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.StatusAktivitas.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktualDischargeDelete.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeDelete.ApakahAdaROB.Visible) { // subAktivitasFormInputNilaiAktualDischargeDelete.ApakahAdaROB.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.ApakahAdaROB.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktualDischarge_ApakahAdaROB" class="SubAktivitasFormInputNilaiAktualDischarge_ApakahAdaROB">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.ApakahAdaROB.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktualDischargeDelete.ApakahAdaROB.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeDelete.Tujuan.Visible) { // subAktivitasFormInputNilaiAktualDischargeDelete.Tujuan.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.Tujuan.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiAktualDischarge_Tujuan" class="SubAktivitasFormInputNilaiAktualDischarge_Tujuan">@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.Tujuan.Caption)</span></th>
} @* subAktivitasFormInputNilaiAktualDischargeDelete.Tujuan.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ subAktivitasFormInputNilaiAktualDischargeDelete.RecordCount = 0; }
@while (subAktivitasFormInputNilaiAktualDischargeDelete.Recordset != null && await subAktivitasFormInputNilaiAktualDischargeDelete.Recordset.ReadAsync()) { // DN
    subAktivitasFormInputNilaiAktualDischargeDelete.RecordCount++;
    subAktivitasFormInputNilaiAktualDischargeDelete.RowCount++;

    // Set row properties
    subAktivitasFormInputNilaiAktualDischargeDelete.ResetAttributes();
    subAktivitasFormInputNilaiAktualDischargeDelete.RowType = RowType.View; // View

    // Get the field contents
    await subAktivitasFormInputNilaiAktualDischargeDelete.LoadRowValues(subAktivitasFormInputNilaiAktualDischargeDelete.Recordset);

    // Render row
    await subAktivitasFormInputNilaiAktualDischargeDelete.RenderRow();
    <tr @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.RowAttributes)>
@if (subAktivitasFormInputNilaiAktualDischargeDelete.id.Visible) { // subAktivitasFormInputNilaiAktualDischargeDelete.id.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.id.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.id.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktualDischargeDelete.id.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeDelete.idAktifitas.Visible) { // subAktivitasFormInputNilaiAktualDischargeDelete.idAktifitas.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.idAktifitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.idAktifitas.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktualDischargeDelete.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeDelete.idProses.Visible) { // subAktivitasFormInputNilaiAktualDischargeDelete.idProses.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.idProses.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.idProses.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktualDischargeDelete.idProses.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeDelete.NoReferensi.Visible) { // subAktivitasFormInputNilaiAktualDischargeDelete.NoReferensi.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.NoReferensi.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.NoReferensi.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktualDischargeDelete.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeDelete.KL_Obs.Visible) { // subAktivitasFormInputNilaiAktualDischargeDelete.KL_Obs.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.KL_Obs.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.KL_Obs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.KL_Obs.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktualDischargeDelete.KL_Obs.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeDelete.KL_15.Visible) { // subAktivitasFormInputNilaiAktualDischargeDelete.KL_15.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.KL_15.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.KL_15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.KL_15.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktualDischargeDelete.KL_15.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeDelete.Barrels.Visible) { // subAktivitasFormInputNilaiAktualDischargeDelete.Barrels.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.Barrels.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.Barrels.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.Barrels.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktualDischargeDelete.Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeDelete.LT.Visible) { // subAktivitasFormInputNilaiAktualDischargeDelete.LT.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.LT.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.LT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.LT.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktualDischargeDelete.LT.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeDelete.MT.Visible) { // subAktivitasFormInputNilaiAktualDischargeDelete.MT.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.MT.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.MT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.MT.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktualDischargeDelete.MT.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeDelete.userInput.Visible) { // subAktivitasFormInputNilaiAktualDischargeDelete.userInput.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.userInput.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.userInput.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktualDischargeDelete.userInput.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeDelete.etlDate.Visible) { // subAktivitasFormInputNilaiAktualDischargeDelete.etlDate.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.etlDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.etlDate.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktualDischargeDelete.etlDate.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeDelete.LastUpdatedBy.Visible) { // subAktivitasFormInputNilaiAktualDischargeDelete.LastUpdatedBy.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.LastUpdatedBy.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.LastUpdatedBy.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktualDischargeDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeDelete.lastUpdatedDate.Visible) { // subAktivitasFormInputNilaiAktualDischargeDelete.lastUpdatedDate.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.lastUpdatedDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.lastUpdatedDate.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktualDischargeDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeDelete.StatusAktivitas.Visible) { // subAktivitasFormInputNilaiAktualDischargeDelete.StatusAktivitas.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.StatusAktivitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.StatusAktivitas.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktualDischargeDelete.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeDelete.ApakahAdaROB.Visible) { // subAktivitasFormInputNilaiAktualDischargeDelete.ApakahAdaROB.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.ApakahAdaROB.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.ApakahAdaROB.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(subAktivitasFormInputNilaiAktualDischargeDelete.ApakahAdaROB.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span></td>
} @* subAktivitasFormInputNilaiAktualDischargeDelete.ApakahAdaROB.Visible (end) *@
@if (subAktivitasFormInputNilaiAktualDischargeDelete.Tujuan.Visible) { // subAktivitasFormInputNilaiAktualDischargeDelete.Tujuan.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.Tujuan.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.Tujuan.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiAktualDischargeDelete.Tujuan.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiAktualDischargeDelete.Tujuan.Visible (end) *@
    </tr>
}
@{ subAktivitasFormInputNilaiAktualDischargeDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(subAktivitasFormInputNilaiAktualDischargeDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@subAktivitasFormInputNilaiAktualDischargeDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
