@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.TotalRecords > 0 && subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.ExportOptions.Visible) {
    subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.ExportOptions.Render("body");
}
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.ImportOptions.Visible) {
    subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.ImportOptions.Render("body");
}
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.SearchOptions.Visible) {
    subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.SearchOptions.Render("body");
}
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.FilterOptions.Visible) {
    subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.IsModal) {
<form name="fSubAktivitasNilaiBLSFALPenyaluranSTSPyrLPGsrch" id="fSubAktivitasNilaiBLSFALPenyaluranSTSPyrLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasNilaiBLSFALPenyaluranSTSPyrLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG: currentTable } });
var currentForm;
var fSubAktivitasNilaiBLSFALPenyaluranSTSPyrLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiBLSFALPenyaluranSTSPyrLPGsrch")
        .setPageId("list")
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.IsExport() && Empty(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.CurrentAction) && subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasNilaiBLSFALPenyaluranSTSPyrLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasNilaiBLSFALPenyaluranSTSPyrLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasNilaiBLSFALPenyaluranSTSPyrLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasNilaiBLSFALPenyaluranSTSPyrLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.ShowPageHeader()
@subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.ShowMessages()
<main class="list @(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.TotalRecords == 0 && !subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.TotalRecords > 0 || !Empty(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.TableGridClass)">
<form name="@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.FormName)" id="@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG" class="card-body ew-grid-middle-panel @(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.TableContainerClass)" style="@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.TableContainerStyle)">
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.TotalRecords > 0 || subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.IsGridEdit || subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPGlist" class="@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.ListOptions.RenderHeader("left")
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.id.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_id" class="SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_id">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.id))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.id.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.NoReferensi.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_NoReferensi" class="SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_NoReferensi">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.NoReferensi))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.NoReferensi.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.idProses.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_idProses" class="SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_idProses">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.idProses))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.idProses.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.idAktifitas.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_idAktifitas" class="SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_idAktifitas">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.idAktifitas))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.StatusAktivitas.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_StatusAktivitas" class="SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_StatusAktivitas">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.StatusAktivitas))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.StatusAktivitas.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.LastUpdatedBy.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_LastUpdatedBy" class="SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_LastUpdatedBy">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.LastUpdatedBy))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.lastUpdatedDate.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_lastUpdatedDate" class="SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_lastUpdatedDate">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.lastUpdatedDate))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.BL_MT.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.BL_MT.Visible (begin)
        <th data-name="BL_MT" class="@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.BL_MT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_BL_MT" class="SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_BL_MT">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.BL_MT))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.BL_MT.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.SFAL_MT.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.SFAL_MT.Visible (begin)
        <th data-name="SFAL_MT" class="@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.SFAL_MT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_SFAL_MT" class="SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_SFAL_MT">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.SFAL_MT))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.SFAL_MT.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.userInput.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_userInput" class="SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_userInput">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.userInput))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.userInput.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.etlDate.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_etlDate" class="SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_etlDate">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.etlDate))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.PageNumber)">
@{
    await subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.SetupGrid();
    bool eof = subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.Recordset == null; // DN
}
@while (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RecordCount < subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.StopRecord || SameString(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.IsGridAdd || subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.CurrentMode == "copy") &&
        (!((subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.IsCopy || subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.IsAdd) && subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.Recordset.ReadAsync();
    subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RecordCount++;
    if (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RecordCount >= subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.StartRecord) {
        await subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.SetupRow();
    <tr @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.ListOptions.RenderBody("left", subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowCount)
    @if (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.id.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.id.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_id" class="el_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_id">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.id.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.NoReferensi.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_NoReferensi" class="el_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_NoReferensi">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.idProses.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.idProses.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_idProses" class="el_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_idProses">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.idProses.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.idAktifitas.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_idAktifitas" class="el_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_idAktifitas">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.StatusAktivitas.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_StatusAktivitas" class="el_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.LastUpdatedBy.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_LastUpdatedBy" class="el_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.lastUpdatedDate.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_lastUpdatedDate" class="el_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.BL_MT.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.BL_MT.Visible (begin)
        <td data-name="BL_MT" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.BL_MT.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_BL_MT" class="el_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_BL_MT">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.BL_MT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.BL_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.BL_MT.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.SFAL_MT.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.SFAL_MT.Visible (begin)
        <td data-name="SFAL_MT" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.SFAL_MT.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_SFAL_MT" class="el_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_SFAL_MT">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.SFAL_MT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.SFAL_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.SFAL_MT.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.userInput.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.userInput.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_userInput" class="el_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_userInput">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.userInput.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.etlDate.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.etlDate.CellAttributes)>
<span id="el@(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_etlDate" class="el_SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG_etlDate">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.ListOptions.RenderBody("right", subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowIndex, "$rowindex$"))
        subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.IsCopy || subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.IsAdd) && subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.CurrentAction) && !subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.CloseRecordset(); }
@if (!subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.IsGridAdd && !(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.IsGridEdit && subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.ModalGridEdit) && !subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.IsMultiEdit) {
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasNilaiBlsfalPenyaluranStsPyrLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasNilaiBLSFALPenyaluranSTSPyrLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
