@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiBlPenKonLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiBlPenKonLpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasNilaiBlPenKonLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiBlPenKonLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiBLPenKonLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasNilaiBlPenKonLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasNilaiBlPenKonLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasNilaiBlPenKonLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasNilaiBlPenKonLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasNilaiBlPenKonLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasNilaiBlPenKonLpgList.TotalRecords > 0 && subAktivitasNilaiBlPenKonLpgList.ExportOptions.Visible) {
    subAktivitasNilaiBlPenKonLpgList.ExportOptions.Render("body");
}
@if (subAktivitasNilaiBlPenKonLpgList.ImportOptions.Visible) {
    subAktivitasNilaiBlPenKonLpgList.ImportOptions.Render("body");
}
@if (subAktivitasNilaiBlPenKonLpgList.SearchOptions.Visible) {
    subAktivitasNilaiBlPenKonLpgList.SearchOptions.Render("body");
}
@if (subAktivitasNilaiBlPenKonLpgList.FilterOptions.Visible) {
    subAktivitasNilaiBlPenKonLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasNilaiBlPenKonLpgList.IsModal) {
<form name="fSubAktivitasNilaiBLPenKonLPGsrch" id="fSubAktivitasNilaiBLPenKonLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasNilaiBLPenKonLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasNilaiBlPenKonLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiBlPenKonLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiBLPenKonLPG: currentTable } });
var currentForm;
var fSubAktivitasNilaiBLPenKonLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiBLPenKonLPGsrch")
        .setPageId("list")
@if (subAktivitasNilaiBlPenKonLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasNilaiBlPenKonLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasNilaiBlPenKonLpgList.IsExport() && Empty(subAktivitasNilaiBlPenKonLpgList.CurrentAction) && subAktivitasNilaiBlPenKonLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasNilaiBlPenKonLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasNilaiBlPenKonLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasNilaiBlPenKonLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasNilaiBlPenKonLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasNilaiBLPenKonLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiBlPenKonLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasNilaiBLPenKonLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiBlPenKonLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasNilaiBLPenKonLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiBlPenKonLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasNilaiBLPenKonLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasNilaiBlPenKonLpgList.ShowPageHeader()
@subAktivitasNilaiBlPenKonLpgList.ShowMessages()
<main class="list @(subAktivitasNilaiBlPenKonLpgList.TotalRecords == 0 && !subAktivitasNilaiBlPenKonLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasNilaiBlPenKonLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasNilaiBlPenKonLpgList.TotalRecords > 0 || !Empty(subAktivitasNilaiBlPenKonLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasNilaiBlPenKonLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasNilaiBlPenKonLpgList.TableGridClass)">
<form name="@(subAktivitasNilaiBlPenKonLpgList.FormName)" id="@(subAktivitasNilaiBlPenKonLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasNilaiBlPenKonLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasNilaiBlPenKonLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasNilaiBLPenKonLPG" class="card-body ew-grid-middle-panel @(subAktivitasNilaiBlPenKonLpgList.TableContainerClass)" style="@(subAktivitasNilaiBlPenKonLpgList.TableContainerStyle)">
@if (subAktivitasNilaiBlPenKonLpgList.TotalRecords > 0 || subAktivitasNilaiBlPenKonLpgList.IsGridEdit || subAktivitasNilaiBlPenKonLpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasNilaiBLPenKonLPGlist" class="@(subAktivitasNilaiBlPenKonLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasNilaiBlPenKonLpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasNilaiBlPenKonLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasNilaiBlPenKonLpgList.ListOptions.RenderHeader("left")
@if (subAktivitasNilaiBlPenKonLpgList.id.Visible) { // subAktivitasNilaiBlPenKonLpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasNilaiBlPenKonLpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLPenKonLPG_id" class="SubAktivitasNilaiBLPenKonLPG_id">@Html.Raw(subAktivitasNilaiBlPenKonLpgList.RenderFieldHeader(subAktivitasNilaiBlPenKonLpgList.id))</div></th>
} @* subAktivitasNilaiBlPenKonLpgList.id.Visible (end) *@
@if (subAktivitasNilaiBlPenKonLpgList.idProses.Visible) { // subAktivitasNilaiBlPenKonLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasNilaiBlPenKonLpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLPenKonLPG_idProses" class="SubAktivitasNilaiBLPenKonLPG_idProses">@Html.Raw(subAktivitasNilaiBlPenKonLpgList.RenderFieldHeader(subAktivitasNilaiBlPenKonLpgList.idProses))</div></th>
} @* subAktivitasNilaiBlPenKonLpgList.idProses.Visible (end) *@
@if (subAktivitasNilaiBlPenKonLpgList.idAktifitas.Visible) { // subAktivitasNilaiBlPenKonLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasNilaiBlPenKonLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLPenKonLPG_idAktifitas" class="SubAktivitasNilaiBLPenKonLPG_idAktifitas">@Html.Raw(subAktivitasNilaiBlPenKonLpgList.RenderFieldHeader(subAktivitasNilaiBlPenKonLpgList.idAktifitas))</div></th>
} @* subAktivitasNilaiBlPenKonLpgList.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiBlPenKonLpgList.NoReferensi.Visible) { // subAktivitasNilaiBlPenKonLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasNilaiBlPenKonLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLPenKonLPG_NoReferensi" class="SubAktivitasNilaiBLPenKonLPG_NoReferensi">@Html.Raw(subAktivitasNilaiBlPenKonLpgList.RenderFieldHeader(subAktivitasNilaiBlPenKonLpgList.NoReferensi))</div></th>
} @* subAktivitasNilaiBlPenKonLpgList.NoReferensi.Visible (end) *@
@if (subAktivitasNilaiBlPenKonLpgList.StatusAktivitas.Visible) { // subAktivitasNilaiBlPenKonLpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasNilaiBlPenKonLpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLPenKonLPG_StatusAktivitas" class="SubAktivitasNilaiBLPenKonLPG_StatusAktivitas">@Html.Raw(subAktivitasNilaiBlPenKonLpgList.RenderFieldHeader(subAktivitasNilaiBlPenKonLpgList.StatusAktivitas))</div></th>
} @* subAktivitasNilaiBlPenKonLpgList.StatusAktivitas.Visible (end) *@
@if (subAktivitasNilaiBlPenKonLpgList.LastUpdatedBy.Visible) { // subAktivitasNilaiBlPenKonLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasNilaiBlPenKonLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLPenKonLPG_LastUpdatedBy" class="SubAktivitasNilaiBLPenKonLPG_LastUpdatedBy">@Html.Raw(subAktivitasNilaiBlPenKonLpgList.RenderFieldHeader(subAktivitasNilaiBlPenKonLpgList.LastUpdatedBy))</div></th>
} @* subAktivitasNilaiBlPenKonLpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiBlPenKonLpgList.lastUpdatedDate.Visible) { // subAktivitasNilaiBlPenKonLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasNilaiBlPenKonLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLPenKonLPG_lastUpdatedDate" class="SubAktivitasNilaiBLPenKonLPG_lastUpdatedDate">@Html.Raw(subAktivitasNilaiBlPenKonLpgList.RenderFieldHeader(subAktivitasNilaiBlPenKonLpgList.lastUpdatedDate))</div></th>
} @* subAktivitasNilaiBlPenKonLpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasNilaiBlPenKonLpgList.BL_MT.Visible) { // subAktivitasNilaiBlPenKonLpgList.BL_MT.Visible (begin)
        <th data-name="BL_MT" class="@(subAktivitasNilaiBlPenKonLpgList.BL_MT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLPenKonLPG_BL_MT" class="SubAktivitasNilaiBLPenKonLPG_BL_MT">@Html.Raw(subAktivitasNilaiBlPenKonLpgList.RenderFieldHeader(subAktivitasNilaiBlPenKonLpgList.BL_MT))</div></th>
} @* subAktivitasNilaiBlPenKonLpgList.BL_MT.Visible (end) *@
@if (subAktivitasNilaiBlPenKonLpgList.SFAL_MT.Visible) { // subAktivitasNilaiBlPenKonLpgList.SFAL_MT.Visible (begin)
        <th data-name="SFAL_MT" class="@(subAktivitasNilaiBlPenKonLpgList.SFAL_MT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLPenKonLPG_SFAL_MT" class="SubAktivitasNilaiBLPenKonLPG_SFAL_MT">@Html.Raw(subAktivitasNilaiBlPenKonLpgList.RenderFieldHeader(subAktivitasNilaiBlPenKonLpgList.SFAL_MT))</div></th>
} @* subAktivitasNilaiBlPenKonLpgList.SFAL_MT.Visible (end) *@
@if (subAktivitasNilaiBlPenKonLpgList.etlDate.Visible) { // subAktivitasNilaiBlPenKonLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasNilaiBlPenKonLpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLPenKonLPG_etlDate" class="SubAktivitasNilaiBLPenKonLPG_etlDate">@Html.Raw(subAktivitasNilaiBlPenKonLpgList.RenderFieldHeader(subAktivitasNilaiBlPenKonLpgList.etlDate))</div></th>
} @* subAktivitasNilaiBlPenKonLpgList.etlDate.Visible (end) *@
@if (subAktivitasNilaiBlPenKonLpgList.userInput.Visible) { // subAktivitasNilaiBlPenKonLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasNilaiBlPenKonLpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLPenKonLPG_userInput" class="SubAktivitasNilaiBLPenKonLPG_userInput">@Html.Raw(subAktivitasNilaiBlPenKonLpgList.RenderFieldHeader(subAktivitasNilaiBlPenKonLpgList.userInput))</div></th>
} @* subAktivitasNilaiBlPenKonLpgList.userInput.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasNilaiBlPenKonLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasNilaiBlPenKonLpgList.PageNumber)">
@{
    await subAktivitasNilaiBlPenKonLpgList.SetupGrid();
    bool eof = subAktivitasNilaiBlPenKonLpgList.Recordset == null; // DN
}
@while (subAktivitasNilaiBlPenKonLpgList.RecordCount < subAktivitasNilaiBlPenKonLpgList.StopRecord || SameString(subAktivitasNilaiBlPenKonLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasNilaiBlPenKonLpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasNilaiBlPenKonLpgList.IsGridAdd || subAktivitasNilaiBlPenKonLpgList.CurrentMode == "copy") &&
        (!((subAktivitasNilaiBlPenKonLpgList.IsCopy || subAktivitasNilaiBlPenKonLpgList.IsAdd) && subAktivitasNilaiBlPenKonLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasNilaiBlPenKonLpgList.Recordset.ReadAsync();
    subAktivitasNilaiBlPenKonLpgList.RecordCount++;
    if (subAktivitasNilaiBlPenKonLpgList.RecordCount >= subAktivitasNilaiBlPenKonLpgList.StartRecord) {
        await subAktivitasNilaiBlPenKonLpgList.SetupRow();
    <tr @Html.Raw(subAktivitasNilaiBlPenKonLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasNilaiBlPenKonLpgList.ListOptions.RenderBody("left", subAktivitasNilaiBlPenKonLpgList.RowCount)
    @if (subAktivitasNilaiBlPenKonLpgList.id.Visible) { // subAktivitasNilaiBlPenKonLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasNilaiBlPenKonLpgList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlPenKonLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlPenKonLpgList.RowCount)_SubAktivitasNilaiBLPenKonLPG_id" class="el_SubAktivitasNilaiBLPenKonLPG_id">
<span @Html.Raw(subAktivitasNilaiBlPenKonLpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlPenKonLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlPenKonLpgList.id.Visible (end) *@
    @if (subAktivitasNilaiBlPenKonLpgList.idProses.Visible) { // subAktivitasNilaiBlPenKonLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasNilaiBlPenKonLpgList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlPenKonLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlPenKonLpgList.RowCount)_SubAktivitasNilaiBLPenKonLPG_idProses" class="el_SubAktivitasNilaiBLPenKonLPG_idProses">
<span @Html.Raw(subAktivitasNilaiBlPenKonLpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlPenKonLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlPenKonLpgList.idProses.Visible (end) *@
    @if (subAktivitasNilaiBlPenKonLpgList.idAktifitas.Visible) { // subAktivitasNilaiBlPenKonLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasNilaiBlPenKonLpgList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlPenKonLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlPenKonLpgList.RowCount)_SubAktivitasNilaiBLPenKonLPG_idAktifitas" class="el_SubAktivitasNilaiBLPenKonLPG_idAktifitas">
<span @Html.Raw(subAktivitasNilaiBlPenKonLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlPenKonLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlPenKonLpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasNilaiBlPenKonLpgList.NoReferensi.Visible) { // subAktivitasNilaiBlPenKonLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasNilaiBlPenKonLpgList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlPenKonLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlPenKonLpgList.RowCount)_SubAktivitasNilaiBLPenKonLPG_NoReferensi" class="el_SubAktivitasNilaiBLPenKonLPG_NoReferensi">
<span @Html.Raw(subAktivitasNilaiBlPenKonLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlPenKonLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlPenKonLpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasNilaiBlPenKonLpgList.StatusAktivitas.Visible) { // subAktivitasNilaiBlPenKonLpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasNilaiBlPenKonLpgList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlPenKonLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlPenKonLpgList.RowCount)_SubAktivitasNilaiBLPenKonLPG_StatusAktivitas" class="el_SubAktivitasNilaiBLPenKonLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasNilaiBlPenKonLpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlPenKonLpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlPenKonLpgList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasNilaiBlPenKonLpgList.LastUpdatedBy.Visible) { // subAktivitasNilaiBlPenKonLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasNilaiBlPenKonLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlPenKonLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlPenKonLpgList.RowCount)_SubAktivitasNilaiBLPenKonLPG_LastUpdatedBy" class="el_SubAktivitasNilaiBLPenKonLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasNilaiBlPenKonLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlPenKonLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlPenKonLpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasNilaiBlPenKonLpgList.lastUpdatedDate.Visible) { // subAktivitasNilaiBlPenKonLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasNilaiBlPenKonLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlPenKonLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlPenKonLpgList.RowCount)_SubAktivitasNilaiBLPenKonLPG_lastUpdatedDate" class="el_SubAktivitasNilaiBLPenKonLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasNilaiBlPenKonLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlPenKonLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlPenKonLpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasNilaiBlPenKonLpgList.BL_MT.Visible) { // subAktivitasNilaiBlPenKonLpgList.BL_MT.Visible (begin)
        <td data-name="BL_MT" @Html.Raw(subAktivitasNilaiBlPenKonLpgList.BL_MT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlPenKonLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlPenKonLpgList.RowCount)_SubAktivitasNilaiBLPenKonLPG_BL_MT" class="el_SubAktivitasNilaiBLPenKonLPG_BL_MT">
<span @Html.Raw(subAktivitasNilaiBlPenKonLpgList.BL_MT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlPenKonLpgList.BL_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlPenKonLpgList.BL_MT.Visible (end) *@
    @if (subAktivitasNilaiBlPenKonLpgList.SFAL_MT.Visible) { // subAktivitasNilaiBlPenKonLpgList.SFAL_MT.Visible (begin)
        <td data-name="SFAL_MT" @Html.Raw(subAktivitasNilaiBlPenKonLpgList.SFAL_MT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlPenKonLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlPenKonLpgList.RowCount)_SubAktivitasNilaiBLPenKonLPG_SFAL_MT" class="el_SubAktivitasNilaiBLPenKonLPG_SFAL_MT">
<span @Html.Raw(subAktivitasNilaiBlPenKonLpgList.SFAL_MT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlPenKonLpgList.SFAL_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlPenKonLpgList.SFAL_MT.Visible (end) *@
    @if (subAktivitasNilaiBlPenKonLpgList.etlDate.Visible) { // subAktivitasNilaiBlPenKonLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasNilaiBlPenKonLpgList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlPenKonLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlPenKonLpgList.RowCount)_SubAktivitasNilaiBLPenKonLPG_etlDate" class="el_SubAktivitasNilaiBLPenKonLPG_etlDate">
<span @Html.Raw(subAktivitasNilaiBlPenKonLpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlPenKonLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlPenKonLpgList.etlDate.Visible (end) *@
    @if (subAktivitasNilaiBlPenKonLpgList.userInput.Visible) { // subAktivitasNilaiBlPenKonLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasNilaiBlPenKonLpgList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlPenKonLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlPenKonLpgList.RowCount)_SubAktivitasNilaiBLPenKonLPG_userInput" class="el_SubAktivitasNilaiBLPenKonLPG_userInput">
<span @Html.Raw(subAktivitasNilaiBlPenKonLpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlPenKonLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlPenKonLpgList.userInput.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasNilaiBlPenKonLpgList.ListOptions.RenderBody("right", subAktivitasNilaiBlPenKonLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasNilaiBlPenKonLpgList.RowIndex, "$rowindex$"))
        subAktivitasNilaiBlPenKonLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasNilaiBlPenKonLpgList.IsCopy || subAktivitasNilaiBlPenKonLpgList.IsAdd) && subAktivitasNilaiBlPenKonLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasNilaiBlPenKonLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasNilaiBlPenKonLpgList.CurrentAction) && !subAktivitasNilaiBlPenKonLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasNilaiBlPenKonLpgList.CloseRecordset(); }
@if (!subAktivitasNilaiBlPenKonLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasNilaiBlPenKonLpgList.IsGridAdd && !(subAktivitasNilaiBlPenKonLpgList.IsGridEdit && subAktivitasNilaiBlPenKonLpgList.ModalGridEdit) && !subAktivitasNilaiBlPenKonLpgList.IsMultiEdit) {
@Html.Raw(subAktivitasNilaiBlPenKonLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasNilaiBlPenKonLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasNilaiBlPenKonLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasNilaiBlPenKonLpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasNilaiBlPenKonLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasNilaiBlPenKonLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasNilaiBLPenKonLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
