@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputMonitoringStockStsPymSbbmList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputMonitoringStockStsPymSbbmList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputMonitoringStockStsPymSbbmList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputMonitoringStockStsPymSbbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputMonitoringStockSTSPymSBBM: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasFormInputMonitoringStockStsPymSbbmList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasFormInputMonitoringStockStsPymSbbmList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasFormInputMonitoringStockStsPymSbbmList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasFormInputMonitoringStockStsPymSbbmList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasFormInputMonitoringStockStsPymSbbmList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasFormInputMonitoringStockStsPymSbbmList.TotalRecords > 0 && subAktivitasFormInputMonitoringStockStsPymSbbmList.ExportOptions.Visible) {
    subAktivitasFormInputMonitoringStockStsPymSbbmList.ExportOptions.Render("body");
}
@if (subAktivitasFormInputMonitoringStockStsPymSbbmList.ImportOptions.Visible) {
    subAktivitasFormInputMonitoringStockStsPymSbbmList.ImportOptions.Render("body");
}
@if (subAktivitasFormInputMonitoringStockStsPymSbbmList.SearchOptions.Visible) {
    subAktivitasFormInputMonitoringStockStsPymSbbmList.SearchOptions.Render("body");
}
@if (subAktivitasFormInputMonitoringStockStsPymSbbmList.FilterOptions.Visible) {
    subAktivitasFormInputMonitoringStockStsPymSbbmList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasFormInputMonitoringStockStsPymSbbmList.IsModal) {
<form name="fSubAktivitasFormInputMonitoringStockSTSPymSBBMsrch" id="fSubAktivitasFormInputMonitoringStockSTSPymSBBMsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasFormInputMonitoringStockSTSPymSBBMsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasFormInputMonitoringStockStsPymSbbmList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputMonitoringStockStsPymSbbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputMonitoringStockSTSPymSBBM: currentTable } });
var currentForm;
var fSubAktivitasFormInputMonitoringStockSTSPymSBBMsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputMonitoringStockSTSPymSBBMsrch")
        .setPageId("list")
@if (subAktivitasFormInputMonitoringStockStsPymSbbmList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasFormInputMonitoringStockStsPymSbbmList.IsExport() && Empty(subAktivitasFormInputMonitoringStockStsPymSbbmList.CurrentAction) && subAktivitasFormInputMonitoringStockStsPymSbbmList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSbbmList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasFormInputMonitoringStockStsPymSbbmList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasFormInputMonitoringStockStsPymSbbmList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasFormInputMonitoringStockSTSPymSBBMsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputMonitoringStockStsPymSbbmList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasFormInputMonitoringStockSTSPymSBBMsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputMonitoringStockStsPymSbbmList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasFormInputMonitoringStockSTSPymSBBMsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputMonitoringStockStsPymSbbmList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasFormInputMonitoringStockSTSPymSBBMsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasFormInputMonitoringStockStsPymSbbmList.ShowPageHeader()
@subAktivitasFormInputMonitoringStockStsPymSbbmList.ShowMessages()
<main class="list @(subAktivitasFormInputMonitoringStockStsPymSbbmList.TotalRecords == 0 && !subAktivitasFormInputMonitoringStockStsPymSbbmList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasFormInputMonitoringStockStsPymSbbmList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasFormInputMonitoringStockStsPymSbbmList.TotalRecords > 0 || !Empty(subAktivitasFormInputMonitoringStockStsPymSbbmList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasFormInputMonitoringStockStsPymSbbmList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasFormInputMonitoringStockStsPymSbbmList.TableGridClass)">
<form name="@(subAktivitasFormInputMonitoringStockStsPymSbbmList.FormName)" id="@(subAktivitasFormInputMonitoringStockStsPymSbbmList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasFormInputMonitoringStockStsPymSbbmList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasFormInputMonitoringStockStsPymSbbmList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasFormInputMonitoringStockSTSPymSBBM" class="card-body ew-grid-middle-panel @(subAktivitasFormInputMonitoringStockStsPymSbbmList.TableContainerClass)" style="@(subAktivitasFormInputMonitoringStockStsPymSbbmList.TableContainerStyle)">
@if (subAktivitasFormInputMonitoringStockStsPymSbbmList.TotalRecords > 0 || subAktivitasFormInputMonitoringStockStsPymSbbmList.IsGridEdit || subAktivitasFormInputMonitoringStockStsPymSbbmList.IsMultiEdit) {
<table id="tbl_SubAktivitasFormInputMonitoringStockSTSPymSBBMlist" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasFormInputMonitoringStockStsPymSbbmList.RowType = RowType.Header;

    // Render list options
    await subAktivitasFormInputMonitoringStockStsPymSbbmList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasFormInputMonitoringStockStsPymSbbmList.ListOptions.RenderHeader("left")
@if (subAktivitasFormInputMonitoringStockStsPymSbbmList.id.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmList.id.HeaderCellClass)"><div id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_id" class="SubAktivitasFormInputMonitoringStockSTSPymSBBM_id">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.RenderFieldHeader(subAktivitasFormInputMonitoringStockStsPymSbbmList.id))</div></th>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmList.id.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSbbmList.idProses.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_idProses" class="SubAktivitasFormInputMonitoringStockSTSPymSBBM_idProses">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.RenderFieldHeader(subAktivitasFormInputMonitoringStockStsPymSbbmList.idProses))</div></th>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmList.idProses.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSbbmList.idAktifitas.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_idAktifitas" class="SubAktivitasFormInputMonitoringStockSTSPymSBBM_idAktifitas">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.RenderFieldHeader(subAktivitasFormInputMonitoringStockStsPymSbbmList.idAktifitas))</div></th>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmList.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSbbmList.NoReferensi.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_NoReferensi" class="SubAktivitasFormInputMonitoringStockSTSPymSBBM_NoReferensi">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.RenderFieldHeader(subAktivitasFormInputMonitoringStockStsPymSbbmList.NoReferensi))</div></th>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmList.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSbbmList.NomorTangki.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmList.NomorTangki.Visible (begin)
        <th data-name="NomorTangki" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmList.NomorTangki.HeaderCellClass)"><div id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_NomorTangki" class="SubAktivitasFormInputMonitoringStockSTSPymSBBM_NomorTangki">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.RenderFieldHeader(subAktivitasFormInputMonitoringStockStsPymSbbmList.NomorTangki))</div></th>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmList.NomorTangki.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSbbmList.Produk.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_Produk" class="SubAktivitasFormInputMonitoringStockSTSPymSBBM_Produk">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.RenderFieldHeader(subAktivitasFormInputMonitoringStockStsPymSbbmList.Produk))</div></th>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmList.Produk.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSbbmList.Aktivitas2.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmList.Aktivitas2.Visible (begin)
        <th data-name="Aktivitas2" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmList.Aktivitas2.HeaderCellClass)"><div id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_Aktivitas2" class="SubAktivitasFormInputMonitoringStockSTSPymSBBM_Aktivitas2">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.RenderFieldHeader(subAktivitasFormInputMonitoringStockStsPymSbbmList.Aktivitas2))</div></th>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmList.Aktivitas2.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSbbmList.QuantityAwal.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmList.QuantityAwal.Visible (begin)
        <th data-name="QuantityAwal" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmList.QuantityAwal.HeaderCellClass)"><div id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_QuantityAwal" class="SubAktivitasFormInputMonitoringStockSTSPymSBBM_QuantityAwal">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.RenderFieldHeader(subAktivitasFormInputMonitoringStockStsPymSbbmList.QuantityAwal))</div></th>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmList.QuantityAwal.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSbbmList.QuantityAkhir.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmList.QuantityAkhir.Visible (begin)
        <th data-name="QuantityAkhir" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmList.QuantityAkhir.HeaderCellClass)"><div id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_QuantityAkhir" class="SubAktivitasFormInputMonitoringStockSTSPymSBBM_QuantityAkhir">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.RenderFieldHeader(subAktivitasFormInputMonitoringStockStsPymSbbmList.QuantityAkhir))</div></th>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmList.QuantityAkhir.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSbbmList.Flowrate.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmList.Flowrate.Visible (begin)
        <th data-name="Flowrate" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmList.Flowrate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_Flowrate" class="SubAktivitasFormInputMonitoringStockSTSPymSBBM_Flowrate">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.RenderFieldHeader(subAktivitasFormInputMonitoringStockStsPymSbbmList.Flowrate))</div></th>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmList.Flowrate.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSbbmList.userInput.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_userInput" class="SubAktivitasFormInputMonitoringStockSTSPymSBBM_userInput">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.RenderFieldHeader(subAktivitasFormInputMonitoringStockStsPymSbbmList.userInput))</div></th>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmList.userInput.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSbbmList.etlDate.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_etlDate" class="SubAktivitasFormInputMonitoringStockSTSPymSBBM_etlDate">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.RenderFieldHeader(subAktivitasFormInputMonitoringStockStsPymSbbmList.etlDate))</div></th>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmList.etlDate.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSbbmList.LastUpdatedBy.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_LastUpdatedBy" class="SubAktivitasFormInputMonitoringStockSTSPymSBBM_LastUpdatedBy">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.RenderFieldHeader(subAktivitasFormInputMonitoringStockStsPymSbbmList.LastUpdatedBy))</div></th>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSbbmList.lastUpdatedDate.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_lastUpdatedDate" class="SubAktivitasFormInputMonitoringStockSTSPymSBBM_lastUpdatedDate">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.RenderFieldHeader(subAktivitasFormInputMonitoringStockStsPymSbbmList.lastUpdatedDate))</div></th>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSbbmList.TanggalQuantityAwal.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmList.TanggalQuantityAwal.Visible (begin)
        <th data-name="TanggalQuantityAwal" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmList.TanggalQuantityAwal.HeaderCellClass)"><div id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_TanggalQuantityAwal" class="SubAktivitasFormInputMonitoringStockSTSPymSBBM_TanggalQuantityAwal">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.RenderFieldHeader(subAktivitasFormInputMonitoringStockStsPymSbbmList.TanggalQuantityAwal))</div></th>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmList.TanggalQuantityAwal.Visible (end) *@
@if (subAktivitasFormInputMonitoringStockStsPymSbbmList.TanggalQuantityAkhir.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmList.TanggalQuantityAkhir.Visible (begin)
        <th data-name="TanggalQuantityAkhir" class="@(subAktivitasFormInputMonitoringStockStsPymSbbmList.TanggalQuantityAkhir.HeaderCellClass)"><div id="elh_SubAktivitasFormInputMonitoringStockSTSPymSBBM_TanggalQuantityAkhir" class="SubAktivitasFormInputMonitoringStockSTSPymSBBM_TanggalQuantityAkhir">@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.RenderFieldHeader(subAktivitasFormInputMonitoringStockStsPymSbbmList.TanggalQuantityAkhir))</div></th>
} @* subAktivitasFormInputMonitoringStockStsPymSbbmList.TanggalQuantityAkhir.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasFormInputMonitoringStockStsPymSbbmList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasFormInputMonitoringStockStsPymSbbmList.PageNumber)">
@{
    await subAktivitasFormInputMonitoringStockStsPymSbbmList.SetupGrid();
    bool eof = subAktivitasFormInputMonitoringStockStsPymSbbmList.Recordset == null; // DN
}
@while (subAktivitasFormInputMonitoringStockStsPymSbbmList.RecordCount < subAktivitasFormInputMonitoringStockStsPymSbbmList.StopRecord || SameString(subAktivitasFormInputMonitoringStockStsPymSbbmList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasFormInputMonitoringStockStsPymSbbmList.RowIndex, "$rowindex$") &&
        (!subAktivitasFormInputMonitoringStockStsPymSbbmList.IsGridAdd || subAktivitasFormInputMonitoringStockStsPymSbbmList.CurrentMode == "copy") &&
        (!((subAktivitasFormInputMonitoringStockStsPymSbbmList.IsCopy || subAktivitasFormInputMonitoringStockStsPymSbbmList.IsAdd) && subAktivitasFormInputMonitoringStockStsPymSbbmList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasFormInputMonitoringStockStsPymSbbmList.Recordset.ReadAsync();
    subAktivitasFormInputMonitoringStockStsPymSbbmList.RecordCount++;
    if (subAktivitasFormInputMonitoringStockStsPymSbbmList.RecordCount >= subAktivitasFormInputMonitoringStockStsPymSbbmList.StartRecord) {
        await subAktivitasFormInputMonitoringStockStsPymSbbmList.SetupRow();
    <tr @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasFormInputMonitoringStockStsPymSbbmList.ListOptions.RenderBody("left", subAktivitasFormInputMonitoringStockStsPymSbbmList.RowCount)
    @if (subAktivitasFormInputMonitoringStockStsPymSbbmList.id.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.id.CellAttributes)>
<span id="el@(subAktivitasFormInputMonitoringStockStsPymSbbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputMonitoringStockStsPymSbbmList.RowCount)_SubAktivitasFormInputMonitoringStockSTSPymSBBM_id" class="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_id">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputMonitoringStockStsPymSbbmList.id.Visible (end) *@
    @if (subAktivitasFormInputMonitoringStockStsPymSbbmList.idProses.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.idProses.CellAttributes)>
<span id="el@(subAktivitasFormInputMonitoringStockStsPymSbbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputMonitoringStockStsPymSbbmList.RowCount)_SubAktivitasFormInputMonitoringStockSTSPymSBBM_idProses" class="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_idProses">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputMonitoringStockStsPymSbbmList.idProses.Visible (end) *@
    @if (subAktivitasFormInputMonitoringStockStsPymSbbmList.idAktifitas.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasFormInputMonitoringStockStsPymSbbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputMonitoringStockStsPymSbbmList.RowCount)_SubAktivitasFormInputMonitoringStockSTSPymSBBM_idAktifitas" class="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_idAktifitas">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputMonitoringStockStsPymSbbmList.idAktifitas.Visible (end) *@
    @if (subAktivitasFormInputMonitoringStockStsPymSbbmList.NoReferensi.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasFormInputMonitoringStockStsPymSbbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputMonitoringStockStsPymSbbmList.RowCount)_SubAktivitasFormInputMonitoringStockSTSPymSBBM_NoReferensi" class="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_NoReferensi">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputMonitoringStockStsPymSbbmList.NoReferensi.Visible (end) *@
    @if (subAktivitasFormInputMonitoringStockStsPymSbbmList.NomorTangki.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmList.NomorTangki.Visible (begin)
        <td data-name="NomorTangki" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.NomorTangki.CellAttributes)>
<span id="el@(subAktivitasFormInputMonitoringStockStsPymSbbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputMonitoringStockStsPymSbbmList.RowCount)_SubAktivitasFormInputMonitoringStockSTSPymSBBM_NomorTangki" class="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_NomorTangki">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.NomorTangki.ViewAttributes)>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.NomorTangki.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputMonitoringStockStsPymSbbmList.NomorTangki.Visible (end) *@
    @if (subAktivitasFormInputMonitoringStockStsPymSbbmList.Produk.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.Produk.CellAttributes)>
<span id="el@(subAktivitasFormInputMonitoringStockStsPymSbbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputMonitoringStockStsPymSbbmList.RowCount)_SubAktivitasFormInputMonitoringStockSTSPymSBBM_Produk" class="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_Produk">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputMonitoringStockStsPymSbbmList.Produk.Visible (end) *@
    @if (subAktivitasFormInputMonitoringStockStsPymSbbmList.Aktivitas2.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmList.Aktivitas2.Visible (begin)
        <td data-name="Aktivitas2" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.Aktivitas2.CellAttributes)>
<span id="el@(subAktivitasFormInputMonitoringStockStsPymSbbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputMonitoringStockStsPymSbbmList.RowCount)_SubAktivitasFormInputMonitoringStockSTSPymSBBM_Aktivitas2" class="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_Aktivitas2">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.Aktivitas2.ViewAttributes)>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.Aktivitas2.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputMonitoringStockStsPymSbbmList.Aktivitas2.Visible (end) *@
    @if (subAktivitasFormInputMonitoringStockStsPymSbbmList.QuantityAwal.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmList.QuantityAwal.Visible (begin)
        <td data-name="QuantityAwal" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.QuantityAwal.CellAttributes)>
<span id="el@(subAktivitasFormInputMonitoringStockStsPymSbbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputMonitoringStockStsPymSbbmList.RowCount)_SubAktivitasFormInputMonitoringStockSTSPymSBBM_QuantityAwal" class="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_QuantityAwal">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.QuantityAwal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.QuantityAwal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputMonitoringStockStsPymSbbmList.QuantityAwal.Visible (end) *@
    @if (subAktivitasFormInputMonitoringStockStsPymSbbmList.QuantityAkhir.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmList.QuantityAkhir.Visible (begin)
        <td data-name="QuantityAkhir" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.QuantityAkhir.CellAttributes)>
<span id="el@(subAktivitasFormInputMonitoringStockStsPymSbbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputMonitoringStockStsPymSbbmList.RowCount)_SubAktivitasFormInputMonitoringStockSTSPymSBBM_QuantityAkhir" class="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_QuantityAkhir">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.QuantityAkhir.ViewAttributes)>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.QuantityAkhir.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputMonitoringStockStsPymSbbmList.QuantityAkhir.Visible (end) *@
    @if (subAktivitasFormInputMonitoringStockStsPymSbbmList.Flowrate.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmList.Flowrate.Visible (begin)
        <td data-name="Flowrate" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.Flowrate.CellAttributes)>
<span id="el@(subAktivitasFormInputMonitoringStockStsPymSbbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputMonitoringStockStsPymSbbmList.RowCount)_SubAktivitasFormInputMonitoringStockSTSPymSBBM_Flowrate" class="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_Flowrate">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.Flowrate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.Flowrate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputMonitoringStockStsPymSbbmList.Flowrate.Visible (end) *@
    @if (subAktivitasFormInputMonitoringStockStsPymSbbmList.userInput.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.userInput.CellAttributes)>
<span id="el@(subAktivitasFormInputMonitoringStockStsPymSbbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputMonitoringStockStsPymSbbmList.RowCount)_SubAktivitasFormInputMonitoringStockSTSPymSBBM_userInput" class="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_userInput">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputMonitoringStockStsPymSbbmList.userInput.Visible (end) *@
    @if (subAktivitasFormInputMonitoringStockStsPymSbbmList.etlDate.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.etlDate.CellAttributes)>
<span id="el@(subAktivitasFormInputMonitoringStockStsPymSbbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputMonitoringStockStsPymSbbmList.RowCount)_SubAktivitasFormInputMonitoringStockSTSPymSBBM_etlDate" class="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_etlDate">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputMonitoringStockStsPymSbbmList.etlDate.Visible (end) *@
    @if (subAktivitasFormInputMonitoringStockStsPymSbbmList.LastUpdatedBy.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasFormInputMonitoringStockStsPymSbbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputMonitoringStockStsPymSbbmList.RowCount)_SubAktivitasFormInputMonitoringStockSTSPymSBBM_LastUpdatedBy" class="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputMonitoringStockStsPymSbbmList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasFormInputMonitoringStockStsPymSbbmList.lastUpdatedDate.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasFormInputMonitoringStockStsPymSbbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputMonitoringStockStsPymSbbmList.RowCount)_SubAktivitasFormInputMonitoringStockSTSPymSBBM_lastUpdatedDate" class="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputMonitoringStockStsPymSbbmList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasFormInputMonitoringStockStsPymSbbmList.TanggalQuantityAwal.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmList.TanggalQuantityAwal.Visible (begin)
        <td data-name="TanggalQuantityAwal" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.TanggalQuantityAwal.CellAttributes)>
<span id="el@(subAktivitasFormInputMonitoringStockStsPymSbbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputMonitoringStockStsPymSbbmList.RowCount)_SubAktivitasFormInputMonitoringStockSTSPymSBBM_TanggalQuantityAwal" class="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_TanggalQuantityAwal">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.TanggalQuantityAwal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.TanggalQuantityAwal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputMonitoringStockStsPymSbbmList.TanggalQuantityAwal.Visible (end) *@
    @if (subAktivitasFormInputMonitoringStockStsPymSbbmList.TanggalQuantityAkhir.Visible) { // subAktivitasFormInputMonitoringStockStsPymSbbmList.TanggalQuantityAkhir.Visible (begin)
        <td data-name="TanggalQuantityAkhir" @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.TanggalQuantityAkhir.CellAttributes)>
<span id="el@(subAktivitasFormInputMonitoringStockStsPymSbbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputMonitoringStockStsPymSbbmList.RowCount)_SubAktivitasFormInputMonitoringStockSTSPymSBBM_TanggalQuantityAkhir" class="el_SubAktivitasFormInputMonitoringStockSTSPymSBBM_TanggalQuantityAkhir">
<span @Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.TanggalQuantityAkhir.ViewAttributes)>
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.TanggalQuantityAkhir.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputMonitoringStockStsPymSbbmList.TanggalQuantityAkhir.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasFormInputMonitoringStockStsPymSbbmList.ListOptions.RenderBody("right", subAktivitasFormInputMonitoringStockStsPymSbbmList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasFormInputMonitoringStockStsPymSbbmList.RowIndex, "$rowindex$"))
        subAktivitasFormInputMonitoringStockStsPymSbbmList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasFormInputMonitoringStockStsPymSbbmList.IsCopy || subAktivitasFormInputMonitoringStockStsPymSbbmList.IsAdd) && subAktivitasFormInputMonitoringStockStsPymSbbmList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasFormInputMonitoringStockStsPymSbbmList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasFormInputMonitoringStockStsPymSbbmList.CurrentAction) && !subAktivitasFormInputMonitoringStockStsPymSbbmList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasFormInputMonitoringStockStsPymSbbmList.CloseRecordset(); }
@if (!subAktivitasFormInputMonitoringStockStsPymSbbmList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasFormInputMonitoringStockStsPymSbbmList.IsGridAdd && !(subAktivitasFormInputMonitoringStockStsPymSbbmList.IsGridEdit && subAktivitasFormInputMonitoringStockStsPymSbbmList.ModalGridEdit) && !subAktivitasFormInputMonitoringStockStsPymSbbmList.IsMultiEdit) {
@Html.Raw(subAktivitasFormInputMonitoringStockStsPymSbbmList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasFormInputMonitoringStockStsPymSbbmList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasFormInputMonitoringStockStsPymSbbmList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasFormInputMonitoringStockStsPymSbbmList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasFormInputMonitoringStockStsPymSbbmList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputMonitoringStockStsPymSbbmList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputMonitoringStockSTSPymSBBM");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
