@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputLogbMonitoringStockRtwAdd.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputLogbMonitoringStockRtwAdd.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputLogbMonitoringStockRtwAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputLogbMonitoringStockRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fSubAktivitasFormInputLogbMonitoringStockRTWadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputLogbMonitoringStockRTWadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["NoTangki", [fields.NoTangki.visible && fields.NoTangki.required ? ew.Validators.required(fields.NoTangki.caption) : null, ew.Validators.integer], fields.NoTangki.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["Aktivitas2", [fields.Aktivitas2.visible && fields.Aktivitas2.required ? ew.Validators.required(fields.Aktivitas2.caption) : null], fields.Aktivitas2.isInvalid],
            ["LevelTangki", [fields.LevelTangki.visible && fields.LevelTangki.required ? ew.Validators.required(fields.LevelTangki.caption) : null], fields.LevelTangki.isInvalid],
            ["Volume", [fields.Volume.visible && fields.Volume.required ? ew.Validators.required(fields.Volume.caption) : null], fields.Volume.isInvalid],
            ["Flowrate", [fields.Flowrate.visible && fields.Flowrate.required ? ew.Validators.required(fields.Flowrate.caption) : null], fields.Flowrate.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasFormInputLogbMonitoringStockRtwAdd.ShowPageHeader()
@subAktivitasFormInputLogbMonitoringStockRtwAdd.ShowMessages()
<form name="fSubAktivitasFormInputLogbMonitoringStockRTWadd" id="fSubAktivitasFormInputLogbMonitoringStockRTWadd" class="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputLogbMonitoringStockRtwAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.OldKeyName)" value="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (subAktivitasFormInputLogbMonitoringStockRtwAdd.idAktifitas.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwAdd.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_idAktifitas" for="x_idAktifitas" class="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.idAktifitas.Caption)@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_idAktifitas">
<input type="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubAktivitasFormInputLogbMonitoringStockRTW" data-field="x_idAktifitas" value="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbMonitoringStockRtwAdd.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.idAktifitas.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbMonitoringStockRtwAdd.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwAdd.NoTangki.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwAdd.NoTangki.Visible (begin)
    <div id="r_NoTangki" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.NoTangki.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_NoTangki" for="x_NoTangki" class="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.NoTangki.Caption)@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.NoTangki.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.NoTangki.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_NoTangki">
<input type="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.NoTangki.InputTextType)" name="x_NoTangki" id="x_NoTangki" data-table="SubAktivitasFormInputLogbMonitoringStockRTW" data-field="x_NoTangki" value="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.NoTangki.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbMonitoringStockRtwAdd.NoTangki.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.NoTangki.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.NoTangki.EditAttributes) aria-describedby="x_NoTangki_help">
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.NoTangki.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.NoTangki.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbMonitoringStockRtwAdd.NoTangki.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwAdd.Produk.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwAdd.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.Produk.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_Produk" for="x_Produk" class="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.Produk.Caption)@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.Produk.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_Produk">
<input type="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasFormInputLogbMonitoringStockRTW" data-field="x_Produk" value="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.Produk.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbMonitoringStockRtwAdd.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.Produk.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbMonitoringStockRtwAdd.Produk.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwAdd.Aktivitas2.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwAdd.Aktivitas2.Visible (begin)
    <div id="r_Aktivitas2" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.Aktivitas2.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_Aktivitas2" for="x_Aktivitas2" class="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.Aktivitas2.Caption)@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.Aktivitas2.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.Aktivitas2.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_Aktivitas2">
<input type="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.Aktivitas2.InputTextType)" name="x_Aktivitas2" id="x_Aktivitas2" data-table="SubAktivitasFormInputLogbMonitoringStockRTW" data-field="x_Aktivitas2" value="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.Aktivitas2.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbMonitoringStockRtwAdd.Aktivitas2.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.Aktivitas2.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.Aktivitas2.EditAttributes) aria-describedby="x_Aktivitas2_help">
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.Aktivitas2.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.Aktivitas2.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbMonitoringStockRtwAdd.Aktivitas2.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwAdd.LevelTangki.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwAdd.LevelTangki.Visible (begin)
    <div id="r_LevelTangki" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.LevelTangki.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_LevelTangki" for="x_LevelTangki" class="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.LevelTangki.Caption)@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.LevelTangki.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.LevelTangki.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_LevelTangki">
<input type="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.LevelTangki.InputTextType)" name="x_LevelTangki" id="x_LevelTangki" data-table="SubAktivitasFormInputLogbMonitoringStockRTW" data-field="x_LevelTangki" value="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.LevelTangki.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbMonitoringStockRtwAdd.LevelTangki.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.LevelTangki.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.LevelTangki.EditAttributes) aria-describedby="x_LevelTangki_help">
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.LevelTangki.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.LevelTangki.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbMonitoringStockRtwAdd.LevelTangki.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwAdd.Volume.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwAdd.Volume.Visible (begin)
    <div id="r_Volume" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.Volume.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_Volume" for="x_Volume" class="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.Volume.Caption)@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.Volume.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.Volume.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_Volume">
<input type="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.Volume.InputTextType)" name="x_Volume" id="x_Volume" data-table="SubAktivitasFormInputLogbMonitoringStockRTW" data-field="x_Volume" value="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.Volume.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbMonitoringStockRtwAdd.Volume.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.Volume.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.Volume.EditAttributes) aria-describedby="x_Volume_help">
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.Volume.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.Volume.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbMonitoringStockRtwAdd.Volume.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwAdd.Flowrate.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwAdd.Flowrate.Visible (begin)
    <div id="r_Flowrate" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.Flowrate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_Flowrate" for="x_Flowrate" class="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.Flowrate.Caption)@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.Flowrate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.Flowrate.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_Flowrate">
<input type="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.Flowrate.InputTextType)" name="x_Flowrate" id="x_Flowrate" data-table="SubAktivitasFormInputLogbMonitoringStockRTW" data-field="x_Flowrate" value="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.Flowrate.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbMonitoringStockRtwAdd.Flowrate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.Flowrate.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.Flowrate.EditAttributes) aria-describedby="x_Flowrate_help">
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.Flowrate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.Flowrate.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbMonitoringStockRtwAdd.Flowrate.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwAdd.userInput.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwAdd.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.userInput.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_userInput" for="x_userInput" class="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.userInput.Caption)@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_userInput">
<input type="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasFormInputLogbMonitoringStockRTW" data-field="x_userInput" value="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbMonitoringStockRtwAdd.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.userInput.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbMonitoringStockRtwAdd.userInput.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwAdd.etlDate.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwAdd.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_etlDate" for="x_etlDate" class="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.etlDate.Caption)@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_etlDate">
<input type="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasFormInputLogbMonitoringStockRTW" data-field="x_etlDate" value="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbMonitoringStockRtwAdd.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.etlDate.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.etlDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputLogbMonitoringStockRtwAdd.etlDate.ReadOnly && !subAktivitasFormInputLogbMonitoringStockRtwAdd.etlDate.Disabled && !subAktivitasFormInputLogbMonitoringStockRtwAdd.etlDate.EditAttrs.Is("readonly") && !subAktivitasFormInputLogbMonitoringStockRtwAdd.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputLogbMonitoringStockRTWadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputLogbMonitoringStockRTWadd", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbMonitoringStockRtwAdd.etlDate.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwAdd.idProses.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwAdd.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.idProses.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_idProses" for="x_idProses" class="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.idProses.Caption)@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_idProses">
<input type="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubAktivitasFormInputLogbMonitoringStockRTW" data-field="x_idProses" value="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbMonitoringStockRtwAdd.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.idProses.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbMonitoringStockRtwAdd.idProses.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwAdd.LastUpdatedBy.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwAdd.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.LastUpdatedBy.Caption)@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_LastUpdatedBy">
<input type="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasFormInputLogbMonitoringStockRTW" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbMonitoringStockRtwAdd.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbMonitoringStockRtwAdd.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwAdd.lastUpdatedDate.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwAdd.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.lastUpdatedDate.Caption)@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_lastUpdatedDate">
<input type="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasFormInputLogbMonitoringStockRTW" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbMonitoringStockRtwAdd.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputLogbMonitoringStockRtwAdd.lastUpdatedDate.ReadOnly && !subAktivitasFormInputLogbMonitoringStockRtwAdd.lastUpdatedDate.Disabled && !subAktivitasFormInputLogbMonitoringStockRtwAdd.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasFormInputLogbMonitoringStockRtwAdd.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputLogbMonitoringStockRTWadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputLogbMonitoringStockRTWadd", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbMonitoringStockRtwAdd.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwAdd.NoReferensi.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwAdd.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_NoReferensi" for="x_NoReferensi" class="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.NoReferensi.Caption)@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_NoReferensi">
<input type="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasFormInputLogbMonitoringStockRTW" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.NoReferensi.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbMonitoringStockRtwAdd.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbMonitoringStockRtwAdd.NoReferensi.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasFormInputLogbMonitoringStockRtwAdd.CloseRecordset(); }
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasFormInputLogbMonitoringStockRtwAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasFormInputLogbMonitoringStockRTWadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasFormInputLogbMonitoringStockRTWadd" data-href="@AppPath(subAktivitasFormInputLogbMonitoringStockRtwAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@subAktivitasFormInputLogbMonitoringStockRtwAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputLogbMonitoringStockRTW");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
