@{
    // View
    View = this;

    // Check action result
    if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasInputDataPenyaluranKonsinyasiPipaList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasInputDataPenyaluranKonsinyasiPipaList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasInputDataPenyaluranKonsinyasiPipaList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasInputDataPenyaluranKonsinyasiPipa: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasInputDataPenyaluranKonsinyasiPipaList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasInputDataPenyaluranKonsinyasiPipaList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.TotalRecords > 0 && subAktivitasInputDataPenyaluranKonsinyasiPipaList.ExportOptions.Visible) {
    subAktivitasInputDataPenyaluranKonsinyasiPipaList.ExportOptions.Render("body");
}
@if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.ImportOptions.Visible) {
    subAktivitasInputDataPenyaluranKonsinyasiPipaList.ImportOptions.Render("body");
}
@if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.SearchOptions.Visible) {
    subAktivitasInputDataPenyaluranKonsinyasiPipaList.SearchOptions.Render("body");
}
@if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.FilterOptions.Visible) {
    subAktivitasInputDataPenyaluranKonsinyasiPipaList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasInputDataPenyaluranKonsinyasiPipaList.IsModal) {
<form name="fSubAktivitasInputDataPenyaluranKonsinyasiPipasrch" id="fSubAktivitasInputDataPenyaluranKonsinyasiPipasrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasInputDataPenyaluranKonsinyasiPipasrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasInputDataPenyaluranKonsinyasiPipaList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasInputDataPenyaluranKonsinyasiPipaList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasInputDataPenyaluranKonsinyasiPipa: currentTable } });
var currentForm;
var fSubAktivitasInputDataPenyaluranKonsinyasiPipasrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasInputDataPenyaluranKonsinyasiPipasrch")
        .setPageId("list")
@if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasInputDataPenyaluranKonsinyasiPipaList.IsExport() && Empty(subAktivitasInputDataPenyaluranKonsinyasiPipaList.CurrentAction) && subAktivitasInputDataPenyaluranKonsinyasiPipaList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasInputDataPenyaluranKonsinyasiPipaList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasInputDataPenyaluranKonsinyasiPipaList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasInputDataPenyaluranKonsinyasiPipasrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasInputDataPenyaluranKonsinyasiPipasrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasInputDataPenyaluranKonsinyasiPipasrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasInputDataPenyaluranKonsinyasiPipasrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasInputDataPenyaluranKonsinyasiPipaList.ShowPageHeader()
@subAktivitasInputDataPenyaluranKonsinyasiPipaList.ShowMessages()
<main class="list @(subAktivitasInputDataPenyaluranKonsinyasiPipaList.TotalRecords == 0 && !subAktivitasInputDataPenyaluranKonsinyasiPipaList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasInputDataPenyaluranKonsinyasiPipaList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.TotalRecords > 0 || !Empty(subAktivitasInputDataPenyaluranKonsinyasiPipaList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasInputDataPenyaluranKonsinyasiPipaList.TableGridClass)">
<form name="@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.FormName)" id="@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasInputDataPenyaluranKonsinyasiPipaList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasInputDataPenyaluranKonsinyasiPipa" class="card-body ew-grid-middle-panel @(subAktivitasInputDataPenyaluranKonsinyasiPipaList.TableContainerClass)" style="@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.TableContainerStyle)">
@if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.TotalRecords > 0 || subAktivitasInputDataPenyaluranKonsinyasiPipaList.IsGridEdit || subAktivitasInputDataPenyaluranKonsinyasiPipaList.IsMultiEdit) {
<table id="tbl_SubAktivitasInputDataPenyaluranKonsinyasiPipalist" class="@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowType = RowType.Header;

    // Render list options
    await subAktivitasInputDataPenyaluranKonsinyasiPipaList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasInputDataPenyaluranKonsinyasiPipaList.ListOptions.RenderHeader("left")
@if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.id.Visible) { // subAktivitasInputDataPenyaluranKonsinyasiPipaList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.id.HeaderCellClass)"><div id="elh_SubAktivitasInputDataPenyaluranKonsinyasiPipa_id" class="SubAktivitasInputDataPenyaluranKonsinyasiPipa_id">@Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.RenderFieldHeader(subAktivitasInputDataPenyaluranKonsinyasiPipaList.id))</div></th>
} @* subAktivitasInputDataPenyaluranKonsinyasiPipaList.id.Visible (end) *@
@if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.NoReferensi.Visible) { // subAktivitasInputDataPenyaluranKonsinyasiPipaList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasInputDataPenyaluranKonsinyasiPipa_NoReferensi" class="SubAktivitasInputDataPenyaluranKonsinyasiPipa_NoReferensi">@Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.RenderFieldHeader(subAktivitasInputDataPenyaluranKonsinyasiPipaList.NoReferensi))</div></th>
} @* subAktivitasInputDataPenyaluranKonsinyasiPipaList.NoReferensi.Visible (end) *@
@if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.idProses.Visible) { // subAktivitasInputDataPenyaluranKonsinyasiPipaList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasInputDataPenyaluranKonsinyasiPipa_idProses" class="SubAktivitasInputDataPenyaluranKonsinyasiPipa_idProses">@Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.RenderFieldHeader(subAktivitasInputDataPenyaluranKonsinyasiPipaList.idProses))</div></th>
} @* subAktivitasInputDataPenyaluranKonsinyasiPipaList.idProses.Visible (end) *@
@if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.idAktifitas.Visible) { // subAktivitasInputDataPenyaluranKonsinyasiPipaList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasInputDataPenyaluranKonsinyasiPipa_idAktifitas" class="SubAktivitasInputDataPenyaluranKonsinyasiPipa_idAktifitas">@Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.RenderFieldHeader(subAktivitasInputDataPenyaluranKonsinyasiPipaList.idAktifitas))</div></th>
} @* subAktivitasInputDataPenyaluranKonsinyasiPipaList.idAktifitas.Visible (end) *@
@if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.StatusAktivitas.Visible) { // subAktivitasInputDataPenyaluranKonsinyasiPipaList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasInputDataPenyaluranKonsinyasiPipa_StatusAktivitas" class="SubAktivitasInputDataPenyaluranKonsinyasiPipa_StatusAktivitas">@Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.RenderFieldHeader(subAktivitasInputDataPenyaluranKonsinyasiPipaList.StatusAktivitas))</div></th>
} @* subAktivitasInputDataPenyaluranKonsinyasiPipaList.StatusAktivitas.Visible (end) *@
@if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.LastUpdatedBy.Visible) { // subAktivitasInputDataPenyaluranKonsinyasiPipaList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasInputDataPenyaluranKonsinyasiPipa_LastUpdatedBy" class="SubAktivitasInputDataPenyaluranKonsinyasiPipa_LastUpdatedBy">@Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.RenderFieldHeader(subAktivitasInputDataPenyaluranKonsinyasiPipaList.LastUpdatedBy))</div></th>
} @* subAktivitasInputDataPenyaluranKonsinyasiPipaList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.lastUpdatedDate.Visible) { // subAktivitasInputDataPenyaluranKonsinyasiPipaList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasInputDataPenyaluranKonsinyasiPipa_lastUpdatedDate" class="SubAktivitasInputDataPenyaluranKonsinyasiPipa_lastUpdatedDate">@Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.RenderFieldHeader(subAktivitasInputDataPenyaluranKonsinyasiPipaList.lastUpdatedDate))</div></th>
} @* subAktivitasInputDataPenyaluranKonsinyasiPipaList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.Produk.Visible) { // subAktivitasInputDataPenyaluranKonsinyasiPipaList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasInputDataPenyaluranKonsinyasiPipa_Produk" class="SubAktivitasInputDataPenyaluranKonsinyasiPipa_Produk">@Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.RenderFieldHeader(subAktivitasInputDataPenyaluranKonsinyasiPipaList.Produk))</div></th>
} @* subAktivitasInputDataPenyaluranKonsinyasiPipaList.Produk.Visible (end) *@
@if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.Nominasi.Visible) { // subAktivitasInputDataPenyaluranKonsinyasiPipaList.Nominasi.Visible (begin)
        <th data-name="Nominasi" class="@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.Nominasi.HeaderCellClass)"><div id="elh_SubAktivitasInputDataPenyaluranKonsinyasiPipa_Nominasi" class="SubAktivitasInputDataPenyaluranKonsinyasiPipa_Nominasi">@Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.RenderFieldHeader(subAktivitasInputDataPenyaluranKonsinyasiPipaList.Nominasi))</div></th>
} @* subAktivitasInputDataPenyaluranKonsinyasiPipaList.Nominasi.Visible (end) *@
@if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.NoUrut.Visible) { // subAktivitasInputDataPenyaluranKonsinyasiPipaList.NoUrut.Visible (begin)
        <th data-name="NoUrut" class="@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.NoUrut.HeaderCellClass)"><div id="elh_SubAktivitasInputDataPenyaluranKonsinyasiPipa_NoUrut" class="SubAktivitasInputDataPenyaluranKonsinyasiPipa_NoUrut">@Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.RenderFieldHeader(subAktivitasInputDataPenyaluranKonsinyasiPipaList.NoUrut))</div></th>
} @* subAktivitasInputDataPenyaluranKonsinyasiPipaList.NoUrut.Visible (end) *@
@if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.userInput.Visible) { // subAktivitasInputDataPenyaluranKonsinyasiPipaList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasInputDataPenyaluranKonsinyasiPipa_userInput" class="SubAktivitasInputDataPenyaluranKonsinyasiPipa_userInput">@Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.RenderFieldHeader(subAktivitasInputDataPenyaluranKonsinyasiPipaList.userInput))</div></th>
} @* subAktivitasInputDataPenyaluranKonsinyasiPipaList.userInput.Visible (end) *@
@if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.etlDate.Visible) { // subAktivitasInputDataPenyaluranKonsinyasiPipaList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasInputDataPenyaluranKonsinyasiPipa_etlDate" class="SubAktivitasInputDataPenyaluranKonsinyasiPipa_etlDate">@Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.RenderFieldHeader(subAktivitasInputDataPenyaluranKonsinyasiPipaList.etlDate))</div></th>
} @* subAktivitasInputDataPenyaluranKonsinyasiPipaList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasInputDataPenyaluranKonsinyasiPipaList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.PageNumber)">
@{
    await subAktivitasInputDataPenyaluranKonsinyasiPipaList.SetupGrid();
    bool eof = subAktivitasInputDataPenyaluranKonsinyasiPipaList.Recordset == null; // DN
}
@while (subAktivitasInputDataPenyaluranKonsinyasiPipaList.RecordCount < subAktivitasInputDataPenyaluranKonsinyasiPipaList.StopRecord || SameString(subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowIndex, "$rowindex$") &&
        (!subAktivitasInputDataPenyaluranKonsinyasiPipaList.IsGridAdd || subAktivitasInputDataPenyaluranKonsinyasiPipaList.CurrentMode == "copy") &&
        (!((subAktivitasInputDataPenyaluranKonsinyasiPipaList.IsCopy || subAktivitasInputDataPenyaluranKonsinyasiPipaList.IsAdd) && subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasInputDataPenyaluranKonsinyasiPipaList.Recordset.ReadAsync();
    subAktivitasInputDataPenyaluranKonsinyasiPipaList.RecordCount++;
    if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.RecordCount >= subAktivitasInputDataPenyaluranKonsinyasiPipaList.StartRecord) {
        await subAktivitasInputDataPenyaluranKonsinyasiPipaList.SetupRow();
    <tr @Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasInputDataPenyaluranKonsinyasiPipaList.ListOptions.RenderBody("left", subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowCount)
    @if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.id.Visible) { // subAktivitasInputDataPenyaluranKonsinyasiPipaList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.id.CellAttributes)>
<span id="el@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowCount)_SubAktivitasInputDataPenyaluranKonsinyasiPipa_id" class="el_SubAktivitasInputDataPenyaluranKonsinyasiPipa_id">
<span @Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.id.ViewAttributes)>
@Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataPenyaluranKonsinyasiPipaList.id.Visible (end) *@
    @if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.NoReferensi.Visible) { // subAktivitasInputDataPenyaluranKonsinyasiPipaList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowCount)_SubAktivitasInputDataPenyaluranKonsinyasiPipa_NoReferensi" class="el_SubAktivitasInputDataPenyaluranKonsinyasiPipa_NoReferensi">
<span @Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataPenyaluranKonsinyasiPipaList.NoReferensi.Visible (end) *@
    @if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.idProses.Visible) { // subAktivitasInputDataPenyaluranKonsinyasiPipaList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.idProses.CellAttributes)>
<span id="el@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowCount)_SubAktivitasInputDataPenyaluranKonsinyasiPipa_idProses" class="el_SubAktivitasInputDataPenyaluranKonsinyasiPipa_idProses">
<span @Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataPenyaluranKonsinyasiPipaList.idProses.Visible (end) *@
    @if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.idAktifitas.Visible) { // subAktivitasInputDataPenyaluranKonsinyasiPipaList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowCount)_SubAktivitasInputDataPenyaluranKonsinyasiPipa_idAktifitas" class="el_SubAktivitasInputDataPenyaluranKonsinyasiPipa_idAktifitas">
<span @Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataPenyaluranKonsinyasiPipaList.idAktifitas.Visible (end) *@
    @if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.StatusAktivitas.Visible) { // subAktivitasInputDataPenyaluranKonsinyasiPipaList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowCount)_SubAktivitasInputDataPenyaluranKonsinyasiPipa_StatusAktivitas" class="el_SubAktivitasInputDataPenyaluranKonsinyasiPipa_StatusAktivitas">
<span @Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataPenyaluranKonsinyasiPipaList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.LastUpdatedBy.Visible) { // subAktivitasInputDataPenyaluranKonsinyasiPipaList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowCount)_SubAktivitasInputDataPenyaluranKonsinyasiPipa_LastUpdatedBy" class="el_SubAktivitasInputDataPenyaluranKonsinyasiPipa_LastUpdatedBy">
<span @Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataPenyaluranKonsinyasiPipaList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.lastUpdatedDate.Visible) { // subAktivitasInputDataPenyaluranKonsinyasiPipaList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowCount)_SubAktivitasInputDataPenyaluranKonsinyasiPipa_lastUpdatedDate" class="el_SubAktivitasInputDataPenyaluranKonsinyasiPipa_lastUpdatedDate">
<span @Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataPenyaluranKonsinyasiPipaList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.Produk.Visible) { // subAktivitasInputDataPenyaluranKonsinyasiPipaList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.Produk.CellAttributes)>
<span id="el@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowCount)_SubAktivitasInputDataPenyaluranKonsinyasiPipa_Produk" class="el_SubAktivitasInputDataPenyaluranKonsinyasiPipa_Produk">
<span @Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataPenyaluranKonsinyasiPipaList.Produk.Visible (end) *@
    @if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.Nominasi.Visible) { // subAktivitasInputDataPenyaluranKonsinyasiPipaList.Nominasi.Visible (begin)
        <td data-name="Nominasi" @Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.Nominasi.CellAttributes)>
<span id="el@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowCount)_SubAktivitasInputDataPenyaluranKonsinyasiPipa_Nominasi" class="el_SubAktivitasInputDataPenyaluranKonsinyasiPipa_Nominasi">
<span @Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.Nominasi.ViewAttributes)>
@Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.Nominasi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataPenyaluranKonsinyasiPipaList.Nominasi.Visible (end) *@
    @if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.NoUrut.Visible) { // subAktivitasInputDataPenyaluranKonsinyasiPipaList.NoUrut.Visible (begin)
        <td data-name="NoUrut" @Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.NoUrut.CellAttributes)>
<span id="el@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowCount)_SubAktivitasInputDataPenyaluranKonsinyasiPipa_NoUrut" class="el_SubAktivitasInputDataPenyaluranKonsinyasiPipa_NoUrut">
<span @Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.NoUrut.ViewAttributes)>
@Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.NoUrut.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataPenyaluranKonsinyasiPipaList.NoUrut.Visible (end) *@
    @if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.userInput.Visible) { // subAktivitasInputDataPenyaluranKonsinyasiPipaList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.userInput.CellAttributes)>
<span id="el@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowCount)_SubAktivitasInputDataPenyaluranKonsinyasiPipa_userInput" class="el_SubAktivitasInputDataPenyaluranKonsinyasiPipa_userInput">
<span @Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataPenyaluranKonsinyasiPipaList.userInput.Visible (end) *@
    @if (subAktivitasInputDataPenyaluranKonsinyasiPipaList.etlDate.Visible) { // subAktivitasInputDataPenyaluranKonsinyasiPipaList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.etlDate.CellAttributes)>
<span id="el@(subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowCount)_SubAktivitasInputDataPenyaluranKonsinyasiPipa_etlDate" class="el_SubAktivitasInputDataPenyaluranKonsinyasiPipa_etlDate">
<span @Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataPenyaluranKonsinyasiPipaList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasInputDataPenyaluranKonsinyasiPipaList.ListOptions.RenderBody("right", subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowIndex, "$rowindex$"))
        subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasInputDataPenyaluranKonsinyasiPipaList.IsCopy || subAktivitasInputDataPenyaluranKonsinyasiPipaList.IsAdd) && subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasInputDataPenyaluranKonsinyasiPipaList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasInputDataPenyaluranKonsinyasiPipaList.CurrentAction) && !subAktivitasInputDataPenyaluranKonsinyasiPipaList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasInputDataPenyaluranKonsinyasiPipaList.CloseRecordset(); }
@if (!subAktivitasInputDataPenyaluranKonsinyasiPipaList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasInputDataPenyaluranKonsinyasiPipaList.IsGridAdd && !(subAktivitasInputDataPenyaluranKonsinyasiPipaList.IsGridEdit && subAktivitasInputDataPenyaluranKonsinyasiPipaList.ModalGridEdit) && !subAktivitasInputDataPenyaluranKonsinyasiPipaList.IsMultiEdit) {
@Html.Raw(subAktivitasInputDataPenyaluranKonsinyasiPipaList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasInputDataPenyaluranKonsinyasiPipaList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasInputDataPenyaluranKonsinyasiPipaList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasInputDataPenyaluranKonsinyasiPipaList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasInputDataPenyaluranKonsinyasiPipaList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasInputDataPenyaluranKonsinyasiPipaList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasInputDataPenyaluranKonsinyasiPipa");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
