@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputHslPemeriksaanList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputHslPemeriksaanList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputHslPemeriksaanList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputHslPemeriksaanList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputHslPemeriksaan: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasFormInputHslPemeriksaanList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasFormInputHslPemeriksaanList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasFormInputHslPemeriksaanList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasFormInputHslPemeriksaanList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasFormInputHslPemeriksaanList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasFormInputHslPemeriksaanList.TotalRecords > 0 && subAktivitasFormInputHslPemeriksaanList.ExportOptions.Visible) {
    subAktivitasFormInputHslPemeriksaanList.ExportOptions.Render("body");
}
@if (subAktivitasFormInputHslPemeriksaanList.ImportOptions.Visible) {
    subAktivitasFormInputHslPemeriksaanList.ImportOptions.Render("body");
}
@if (subAktivitasFormInputHslPemeriksaanList.SearchOptions.Visible) {
    subAktivitasFormInputHslPemeriksaanList.SearchOptions.Render("body");
}
@if (subAktivitasFormInputHslPemeriksaanList.FilterOptions.Visible) {
    subAktivitasFormInputHslPemeriksaanList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasFormInputHslPemeriksaanList.IsModal) {
<form name="fSubAktivitasFormInputHslPemeriksaansrch" id="fSubAktivitasFormInputHslPemeriksaansrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasFormInputHslPemeriksaansrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasFormInputHslPemeriksaanList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputHslPemeriksaanList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputHslPemeriksaan: currentTable } });
var currentForm;
var fSubAktivitasFormInputHslPemeriksaansrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputHslPemeriksaansrch")
        .setPageId("list")
@if (subAktivitasFormInputHslPemeriksaanList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasFormInputHslPemeriksaanList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasFormInputHslPemeriksaanList.IsExport() && Empty(subAktivitasFormInputHslPemeriksaanList.CurrentAction) && subAktivitasFormInputHslPemeriksaanList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasFormInputHslPemeriksaanList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasFormInputHslPemeriksaanList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasFormInputHslPemeriksaanList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasFormInputHslPemeriksaanList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasFormInputHslPemeriksaansrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputHslPemeriksaanList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasFormInputHslPemeriksaansrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputHslPemeriksaanList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasFormInputHslPemeriksaansrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputHslPemeriksaanList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasFormInputHslPemeriksaansrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasFormInputHslPemeriksaanList.ShowPageHeader()
@subAktivitasFormInputHslPemeriksaanList.ShowMessages()
<main class="list @(subAktivitasFormInputHslPemeriksaanList.TotalRecords == 0 && !subAktivitasFormInputHslPemeriksaanList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasFormInputHslPemeriksaanList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasFormInputHslPemeriksaanList.TotalRecords > 0 || !Empty(subAktivitasFormInputHslPemeriksaanList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasFormInputHslPemeriksaanList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasFormInputHslPemeriksaanList.TableGridClass)">
<form name="@(subAktivitasFormInputHslPemeriksaanList.FormName)" id="@(subAktivitasFormInputHslPemeriksaanList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasFormInputHslPemeriksaanList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasFormInputHslPemeriksaanList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasFormInputHslPemeriksaan" class="card-body ew-grid-middle-panel @(subAktivitasFormInputHslPemeriksaanList.TableContainerClass)" style="@(subAktivitasFormInputHslPemeriksaanList.TableContainerStyle)">
@if (subAktivitasFormInputHslPemeriksaanList.TotalRecords > 0 || subAktivitasFormInputHslPemeriksaanList.IsGridEdit || subAktivitasFormInputHslPemeriksaanList.IsMultiEdit) {
<table id="tbl_SubAktivitasFormInputHslPemeriksaanlist" class="@(subAktivitasFormInputHslPemeriksaanList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasFormInputHslPemeriksaanList.RowType = RowType.Header;

    // Render list options
    await subAktivitasFormInputHslPemeriksaanList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasFormInputHslPemeriksaanList.ListOptions.RenderHeader("left")
@if (subAktivitasFormInputHslPemeriksaanList.id.Visible) { // subAktivitasFormInputHslPemeriksaanList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasFormInputHslPemeriksaanList.id.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHslPemeriksaan_id" class="SubAktivitasFormInputHslPemeriksaan_id">@Html.Raw(subAktivitasFormInputHslPemeriksaanList.RenderFieldHeader(subAktivitasFormInputHslPemeriksaanList.id))</div></th>
} @* subAktivitasFormInputHslPemeriksaanList.id.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanList.idAktifitas.Visible) { // subAktivitasFormInputHslPemeriksaanList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasFormInputHslPemeriksaanList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHslPemeriksaan_idAktifitas" class="SubAktivitasFormInputHslPemeriksaan_idAktifitas">@Html.Raw(subAktivitasFormInputHslPemeriksaanList.RenderFieldHeader(subAktivitasFormInputHslPemeriksaanList.idAktifitas))</div></th>
} @* subAktivitasFormInputHslPemeriksaanList.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanList.idProses.Visible) { // subAktivitasFormInputHslPemeriksaanList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasFormInputHslPemeriksaanList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHslPemeriksaan_idProses" class="SubAktivitasFormInputHslPemeriksaan_idProses">@Html.Raw(subAktivitasFormInputHslPemeriksaanList.RenderFieldHeader(subAktivitasFormInputHslPemeriksaanList.idProses))</div></th>
} @* subAktivitasFormInputHslPemeriksaanList.idProses.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanList.NoReferensi.Visible) { // subAktivitasFormInputHslPemeriksaanList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasFormInputHslPemeriksaanList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHslPemeriksaan_NoReferensi" class="SubAktivitasFormInputHslPemeriksaan_NoReferensi">@Html.Raw(subAktivitasFormInputHslPemeriksaanList.RenderFieldHeader(subAktivitasFormInputHslPemeriksaanList.NoReferensi))</div></th>
} @* subAktivitasFormInputHslPemeriksaanList.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanList.Tanggal.Visible) { // subAktivitasFormInputHslPemeriksaanList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasFormInputHslPemeriksaanList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHslPemeriksaan_Tanggal" class="SubAktivitasFormInputHslPemeriksaan_Tanggal">@Html.Raw(subAktivitasFormInputHslPemeriksaanList.RenderFieldHeader(subAktivitasFormInputHslPemeriksaanList.Tanggal))</div></th>
} @* subAktivitasFormInputHslPemeriksaanList.Tanggal.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanList.NamaKegiatan.Visible) { // subAktivitasFormInputHslPemeriksaanList.NamaKegiatan.Visible (begin)
        <th data-name="NamaKegiatan" class="@(subAktivitasFormInputHslPemeriksaanList.NamaKegiatan.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHslPemeriksaan_NamaKegiatan" class="SubAktivitasFormInputHslPemeriksaan_NamaKegiatan">@Html.Raw(subAktivitasFormInputHslPemeriksaanList.RenderFieldHeader(subAktivitasFormInputHslPemeriksaanList.NamaKegiatan))</div></th>
} @* subAktivitasFormInputHslPemeriksaanList.NamaKegiatan.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanList.Produk.Visible) { // subAktivitasFormInputHslPemeriksaanList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasFormInputHslPemeriksaanList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHslPemeriksaan_Produk" class="SubAktivitasFormInputHslPemeriksaan_Produk">@Html.Raw(subAktivitasFormInputHslPemeriksaanList.RenderFieldHeader(subAktivitasFormInputHslPemeriksaanList.Produk))</div></th>
} @* subAktivitasFormInputHslPemeriksaanList.Produk.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanList.Density.Visible) { // subAktivitasFormInputHslPemeriksaanList.Density.Visible (begin)
        <th data-name="Density" class="@(subAktivitasFormInputHslPemeriksaanList.Density.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHslPemeriksaan_Density" class="SubAktivitasFormInputHslPemeriksaan_Density">@Html.Raw(subAktivitasFormInputHslPemeriksaanList.RenderFieldHeader(subAktivitasFormInputHslPemeriksaanList.Density))</div></th>
} @* subAktivitasFormInputHslPemeriksaanList.Density.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanList.Temperature.Visible) { // subAktivitasFormInputHslPemeriksaanList.Temperature.Visible (begin)
        <th data-name="Temperature" class="@(subAktivitasFormInputHslPemeriksaanList.Temperature.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHslPemeriksaan_Temperature" class="SubAktivitasFormInputHslPemeriksaan_Temperature">@Html.Raw(subAktivitasFormInputHslPemeriksaanList.RenderFieldHeader(subAktivitasFormInputHslPemeriksaanList.Temperature))</div></th>
} @* subAktivitasFormInputHslPemeriksaanList.Temperature.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanList.Pressure.Visible) { // subAktivitasFormInputHslPemeriksaanList.Pressure.Visible (begin)
        <th data-name="Pressure" class="@(subAktivitasFormInputHslPemeriksaanList.Pressure.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHslPemeriksaan_Pressure" class="SubAktivitasFormInputHslPemeriksaan_Pressure">@Html.Raw(subAktivitasFormInputHslPemeriksaanList.RenderFieldHeader(subAktivitasFormInputHslPemeriksaanList.Pressure))</div></th>
} @* subAktivitasFormInputHslPemeriksaanList.Pressure.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanList.Keterangan.Visible) { // subAktivitasFormInputHslPemeriksaanList.Keterangan.Visible (begin)
        <th data-name="Keterangan" class="@(subAktivitasFormInputHslPemeriksaanList.Keterangan.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHslPemeriksaan_Keterangan" class="SubAktivitasFormInputHslPemeriksaan_Keterangan">@Html.Raw(subAktivitasFormInputHslPemeriksaanList.RenderFieldHeader(subAktivitasFormInputHslPemeriksaanList.Keterangan))</div></th>
} @* subAktivitasFormInputHslPemeriksaanList.Keterangan.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanList.userInput.Visible) { // subAktivitasFormInputHslPemeriksaanList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasFormInputHslPemeriksaanList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHslPemeriksaan_userInput" class="SubAktivitasFormInputHslPemeriksaan_userInput">@Html.Raw(subAktivitasFormInputHslPemeriksaanList.RenderFieldHeader(subAktivitasFormInputHslPemeriksaanList.userInput))</div></th>
} @* subAktivitasFormInputHslPemeriksaanList.userInput.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanList.etlDate.Visible) { // subAktivitasFormInputHslPemeriksaanList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasFormInputHslPemeriksaanList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHslPemeriksaan_etlDate" class="SubAktivitasFormInputHslPemeriksaan_etlDate">@Html.Raw(subAktivitasFormInputHslPemeriksaanList.RenderFieldHeader(subAktivitasFormInputHslPemeriksaanList.etlDate))</div></th>
} @* subAktivitasFormInputHslPemeriksaanList.etlDate.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanList.LastUpdatedBy.Visible) { // subAktivitasFormInputHslPemeriksaanList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasFormInputHslPemeriksaanList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHslPemeriksaan_LastUpdatedBy" class="SubAktivitasFormInputHslPemeriksaan_LastUpdatedBy">@Html.Raw(subAktivitasFormInputHslPemeriksaanList.RenderFieldHeader(subAktivitasFormInputHslPemeriksaanList.LastUpdatedBy))</div></th>
} @* subAktivitasFormInputHslPemeriksaanList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanList.lastUpdatedDate.Visible) { // subAktivitasFormInputHslPemeriksaanList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasFormInputHslPemeriksaanList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHslPemeriksaan_lastUpdatedDate" class="SubAktivitasFormInputHslPemeriksaan_lastUpdatedDate">@Html.Raw(subAktivitasFormInputHslPemeriksaanList.RenderFieldHeader(subAktivitasFormInputHslPemeriksaanList.lastUpdatedDate))</div></th>
} @* subAktivitasFormInputHslPemeriksaanList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanList.TanggalJamSOP.Visible) { // subAktivitasFormInputHslPemeriksaanList.TanggalJamSOP.Visible (begin)
        <th data-name="TanggalJamSOP" class="@(subAktivitasFormInputHslPemeriksaanList.TanggalJamSOP.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHslPemeriksaan_TanggalJamSOP" class="SubAktivitasFormInputHslPemeriksaan_TanggalJamSOP">@Html.Raw(subAktivitasFormInputHslPemeriksaanList.RenderFieldHeader(subAktivitasFormInputHslPemeriksaanList.TanggalJamSOP))</div></th>
} @* subAktivitasFormInputHslPemeriksaanList.TanggalJamSOP.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanList.SelisihWaktu.Visible) { // subAktivitasFormInputHslPemeriksaanList.SelisihWaktu.Visible (begin)
        <th data-name="SelisihWaktu" class="@(subAktivitasFormInputHslPemeriksaanList.SelisihWaktu.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHslPemeriksaan_SelisihWaktu" class="SubAktivitasFormInputHslPemeriksaan_SelisihWaktu">@Html.Raw(subAktivitasFormInputHslPemeriksaanList.RenderFieldHeader(subAktivitasFormInputHslPemeriksaanList.SelisihWaktu))</div></th>
} @* subAktivitasFormInputHslPemeriksaanList.SelisihWaktu.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanList.IsQualityActive.Visible) { // subAktivitasFormInputHslPemeriksaanList.IsQualityActive.Visible (begin)
        <th data-name="IsQualityActive" class="@(subAktivitasFormInputHslPemeriksaanList.IsQualityActive.HeaderCellClass)"><div id="elh_SubAktivitasFormInputHslPemeriksaan_IsQualityActive" class="SubAktivitasFormInputHslPemeriksaan_IsQualityActive">@Html.Raw(subAktivitasFormInputHslPemeriksaanList.RenderFieldHeader(subAktivitasFormInputHslPemeriksaanList.IsQualityActive))</div></th>
} @* subAktivitasFormInputHslPemeriksaanList.IsQualityActive.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasFormInputHslPemeriksaanList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasFormInputHslPemeriksaanList.PageNumber)">
@{
    await subAktivitasFormInputHslPemeriksaanList.SetupGrid();
    bool eof = subAktivitasFormInputHslPemeriksaanList.Recordset == null; // DN
}
@while (subAktivitasFormInputHslPemeriksaanList.RecordCount < subAktivitasFormInputHslPemeriksaanList.StopRecord || SameString(subAktivitasFormInputHslPemeriksaanList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasFormInputHslPemeriksaanList.RowIndex, "$rowindex$") &&
        (!subAktivitasFormInputHslPemeriksaanList.IsGridAdd || subAktivitasFormInputHslPemeriksaanList.CurrentMode == "copy") &&
        (!((subAktivitasFormInputHslPemeriksaanList.IsCopy || subAktivitasFormInputHslPemeriksaanList.IsAdd) && subAktivitasFormInputHslPemeriksaanList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasFormInputHslPemeriksaanList.Recordset.ReadAsync();
    subAktivitasFormInputHslPemeriksaanList.RecordCount++;
    if (subAktivitasFormInputHslPemeriksaanList.RecordCount >= subAktivitasFormInputHslPemeriksaanList.StartRecord) {
        await subAktivitasFormInputHslPemeriksaanList.SetupRow();
    <tr @Html.Raw(subAktivitasFormInputHslPemeriksaanList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasFormInputHslPemeriksaanList.ListOptions.RenderBody("left", subAktivitasFormInputHslPemeriksaanList.RowCount)
    @if (subAktivitasFormInputHslPemeriksaanList.id.Visible) { // subAktivitasFormInputHslPemeriksaanList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasFormInputHslPemeriksaanList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputHslPemeriksaanList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputHslPemeriksaanList.RowCount)_SubAktivitasFormInputHslPemeriksaan_id" class="el_SubAktivitasFormInputHslPemeriksaan_id">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanList.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHslPemeriksaanList.id.Visible (end) *@
    @if (subAktivitasFormInputHslPemeriksaanList.idAktifitas.Visible) { // subAktivitasFormInputHslPemeriksaanList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputHslPemeriksaanList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputHslPemeriksaanList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputHslPemeriksaanList.RowCount)_SubAktivitasFormInputHslPemeriksaan_idAktifitas" class="el_SubAktivitasFormInputHslPemeriksaan_idAktifitas">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHslPemeriksaanList.idAktifitas.Visible (end) *@
    @if (subAktivitasFormInputHslPemeriksaanList.idProses.Visible) { // subAktivitasFormInputHslPemeriksaanList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputHslPemeriksaanList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputHslPemeriksaanList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputHslPemeriksaanList.RowCount)_SubAktivitasFormInputHslPemeriksaan_idProses" class="el_SubAktivitasFormInputHslPemeriksaan_idProses">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHslPemeriksaanList.idProses.Visible (end) *@
    @if (subAktivitasFormInputHslPemeriksaanList.NoReferensi.Visible) { // subAktivitasFormInputHslPemeriksaanList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputHslPemeriksaanList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputHslPemeriksaanList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputHslPemeriksaanList.RowCount)_SubAktivitasFormInputHslPemeriksaan_NoReferensi" class="el_SubAktivitasFormInputHslPemeriksaan_NoReferensi">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHslPemeriksaanList.NoReferensi.Visible (end) *@
    @if (subAktivitasFormInputHslPemeriksaanList.Tanggal.Visible) { // subAktivitasFormInputHslPemeriksaanList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasFormInputHslPemeriksaanList.Tanggal.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputHslPemeriksaanList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputHslPemeriksaanList.RowCount)_SubAktivitasFormInputHslPemeriksaan_Tanggal" class="el_SubAktivitasFormInputHslPemeriksaan_Tanggal">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHslPemeriksaanList.Tanggal.Visible (end) *@
    @if (subAktivitasFormInputHslPemeriksaanList.NamaKegiatan.Visible) { // subAktivitasFormInputHslPemeriksaanList.NamaKegiatan.Visible (begin)
        <td data-name="NamaKegiatan" @Html.Raw(subAktivitasFormInputHslPemeriksaanList.NamaKegiatan.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputHslPemeriksaanList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputHslPemeriksaanList.RowCount)_SubAktivitasFormInputHslPemeriksaan_NamaKegiatan" class="el_SubAktivitasFormInputHslPemeriksaan_NamaKegiatan">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanList.NamaKegiatan.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanList.NamaKegiatan.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHslPemeriksaanList.NamaKegiatan.Visible (end) *@
    @if (subAktivitasFormInputHslPemeriksaanList.Produk.Visible) { // subAktivitasFormInputHslPemeriksaanList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasFormInputHslPemeriksaanList.Produk.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputHslPemeriksaanList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputHslPemeriksaanList.RowCount)_SubAktivitasFormInputHslPemeriksaan_Produk" class="el_SubAktivitasFormInputHslPemeriksaan_Produk">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHslPemeriksaanList.Produk.Visible (end) *@
    @if (subAktivitasFormInputHslPemeriksaanList.Density.Visible) { // subAktivitasFormInputHslPemeriksaanList.Density.Visible (begin)
        <td data-name="Density" @Html.Raw(subAktivitasFormInputHslPemeriksaanList.Density.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputHslPemeriksaanList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputHslPemeriksaanList.RowCount)_SubAktivitasFormInputHslPemeriksaan_Density" class="el_SubAktivitasFormInputHslPemeriksaan_Density">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanList.Density.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanList.Density.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHslPemeriksaanList.Density.Visible (end) *@
    @if (subAktivitasFormInputHslPemeriksaanList.Temperature.Visible) { // subAktivitasFormInputHslPemeriksaanList.Temperature.Visible (begin)
        <td data-name="Temperature" @Html.Raw(subAktivitasFormInputHslPemeriksaanList.Temperature.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputHslPemeriksaanList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputHslPemeriksaanList.RowCount)_SubAktivitasFormInputHslPemeriksaan_Temperature" class="el_SubAktivitasFormInputHslPemeriksaan_Temperature">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanList.Temperature.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanList.Temperature.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHslPemeriksaanList.Temperature.Visible (end) *@
    @if (subAktivitasFormInputHslPemeriksaanList.Pressure.Visible) { // subAktivitasFormInputHslPemeriksaanList.Pressure.Visible (begin)
        <td data-name="Pressure" @Html.Raw(subAktivitasFormInputHslPemeriksaanList.Pressure.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputHslPemeriksaanList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputHslPemeriksaanList.RowCount)_SubAktivitasFormInputHslPemeriksaan_Pressure" class="el_SubAktivitasFormInputHslPemeriksaan_Pressure">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanList.Pressure.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanList.Pressure.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHslPemeriksaanList.Pressure.Visible (end) *@
    @if (subAktivitasFormInputHslPemeriksaanList.Keterangan.Visible) { // subAktivitasFormInputHslPemeriksaanList.Keterangan.Visible (begin)
        <td data-name="Keterangan" @Html.Raw(subAktivitasFormInputHslPemeriksaanList.Keterangan.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputHslPemeriksaanList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputHslPemeriksaanList.RowCount)_SubAktivitasFormInputHslPemeriksaan_Keterangan" class="el_SubAktivitasFormInputHslPemeriksaan_Keterangan">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanList.Keterangan.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanList.Keterangan.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHslPemeriksaanList.Keterangan.Visible (end) *@
    @if (subAktivitasFormInputHslPemeriksaanList.userInput.Visible) { // subAktivitasFormInputHslPemeriksaanList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputHslPemeriksaanList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputHslPemeriksaanList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputHslPemeriksaanList.RowCount)_SubAktivitasFormInputHslPemeriksaan_userInput" class="el_SubAktivitasFormInputHslPemeriksaan_userInput">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHslPemeriksaanList.userInput.Visible (end) *@
    @if (subAktivitasFormInputHslPemeriksaanList.etlDate.Visible) { // subAktivitasFormInputHslPemeriksaanList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputHslPemeriksaanList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputHslPemeriksaanList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputHslPemeriksaanList.RowCount)_SubAktivitasFormInputHslPemeriksaan_etlDate" class="el_SubAktivitasFormInputHslPemeriksaan_etlDate">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHslPemeriksaanList.etlDate.Visible (end) *@
    @if (subAktivitasFormInputHslPemeriksaanList.LastUpdatedBy.Visible) { // subAktivitasFormInputHslPemeriksaanList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputHslPemeriksaanList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputHslPemeriksaanList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputHslPemeriksaanList.RowCount)_SubAktivitasFormInputHslPemeriksaan_LastUpdatedBy" class="el_SubAktivitasFormInputHslPemeriksaan_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHslPemeriksaanList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasFormInputHslPemeriksaanList.lastUpdatedDate.Visible) { // subAktivitasFormInputHslPemeriksaanList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputHslPemeriksaanList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputHslPemeriksaanList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputHslPemeriksaanList.RowCount)_SubAktivitasFormInputHslPemeriksaan_lastUpdatedDate" class="el_SubAktivitasFormInputHslPemeriksaan_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHslPemeriksaanList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasFormInputHslPemeriksaanList.TanggalJamSOP.Visible) { // subAktivitasFormInputHslPemeriksaanList.TanggalJamSOP.Visible (begin)
        <td data-name="TanggalJamSOP" @Html.Raw(subAktivitasFormInputHslPemeriksaanList.TanggalJamSOP.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputHslPemeriksaanList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputHslPemeriksaanList.RowCount)_SubAktivitasFormInputHslPemeriksaan_TanggalJamSOP" class="el_SubAktivitasFormInputHslPemeriksaan_TanggalJamSOP">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanList.TanggalJamSOP.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanList.TanggalJamSOP.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHslPemeriksaanList.TanggalJamSOP.Visible (end) *@
    @if (subAktivitasFormInputHslPemeriksaanList.SelisihWaktu.Visible) { // subAktivitasFormInputHslPemeriksaanList.SelisihWaktu.Visible (begin)
        <td data-name="SelisihWaktu" @Html.Raw(subAktivitasFormInputHslPemeriksaanList.SelisihWaktu.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputHslPemeriksaanList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputHslPemeriksaanList.RowCount)_SubAktivitasFormInputHslPemeriksaan_SelisihWaktu" class="el_SubAktivitasFormInputHslPemeriksaan_SelisihWaktu">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanList.SelisihWaktu.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanList.SelisihWaktu.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputHslPemeriksaanList.SelisihWaktu.Visible (end) *@
    @if (subAktivitasFormInputHslPemeriksaanList.IsQualityActive.Visible) { // subAktivitasFormInputHslPemeriksaanList.IsQualityActive.Visible (begin)
        <td data-name="IsQualityActive" @Html.Raw(subAktivitasFormInputHslPemeriksaanList.IsQualityActive.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputHslPemeriksaanList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputHslPemeriksaanList.RowCount)_SubAktivitasFormInputHslPemeriksaan_IsQualityActive" class="el_SubAktivitasFormInputHslPemeriksaan_IsQualityActive">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanList.IsQualityActive.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(subAktivitasFormInputHslPemeriksaanList.IsQualityActive.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span>
</td>
    } @* subAktivitasFormInputHslPemeriksaanList.IsQualityActive.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasFormInputHslPemeriksaanList.ListOptions.RenderBody("right", subAktivitasFormInputHslPemeriksaanList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasFormInputHslPemeriksaanList.RowIndex, "$rowindex$"))
        subAktivitasFormInputHslPemeriksaanList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasFormInputHslPemeriksaanList.IsCopy || subAktivitasFormInputHslPemeriksaanList.IsAdd) && subAktivitasFormInputHslPemeriksaanList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasFormInputHslPemeriksaanList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasFormInputHslPemeriksaanList.CurrentAction) && !subAktivitasFormInputHslPemeriksaanList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasFormInputHslPemeriksaanList.CloseRecordset(); }
@if (!subAktivitasFormInputHslPemeriksaanList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasFormInputHslPemeriksaanList.IsGridAdd && !(subAktivitasFormInputHslPemeriksaanList.IsGridEdit && subAktivitasFormInputHslPemeriksaanList.ModalGridEdit) && !subAktivitasFormInputHslPemeriksaanList.IsMultiEdit) {
@Html.Raw(subAktivitasFormInputHslPemeriksaanList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasFormInputHslPemeriksaanList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasFormInputHslPemeriksaanList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasFormInputHslPemeriksaanList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasFormInputHslPemeriksaanList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputHslPemeriksaanList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputHslPemeriksaan");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
