@{
    // View
    View = this;

    // Check action result
    if (subAktivitasDataStartPembongkaranRtwDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasDataStartPembongkaranRtwDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataStartPembongkaranRtwDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataStartPembongkaranRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fSubAktivitasDataStartPembongkaranRTWdelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasDataStartPembongkaranRTWdelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasDataStartPembongkaranRtwDelete.ShowPageHeader()
@subAktivitasDataStartPembongkaranRtwDelete.ShowMessages()
<form name="fSubAktivitasDataStartPembongkaranRTWdelete" id="fSubAktivitasDataStartPembongkaranRTWdelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in subAktivitasDataStartPembongkaranRtwDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(subAktivitasDataStartPembongkaranRtwDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(subAktivitasDataStartPembongkaranRtwDelete.TableContainerClass)" style="@(subAktivitasDataStartPembongkaranRtwDelete.TableContainerStyle)">
<table class="@(subAktivitasDataStartPembongkaranRtwDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (subAktivitasDataStartPembongkaranRtwDelete.id.Visible) { // subAktivitasDataStartPembongkaranRtwDelete.id.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.id.HeaderCellClass)"><span id="elh_SubAktivitasDataStartPembongkaranRTW_id" class="SubAktivitasDataStartPembongkaranRTW_id">@Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.id.Caption)</span></th>
} @* subAktivitasDataStartPembongkaranRtwDelete.id.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwDelete.NoReferensi.Visible) { // subAktivitasDataStartPembongkaranRtwDelete.NoReferensi.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.NoReferensi.HeaderCellClass)"><span id="elh_SubAktivitasDataStartPembongkaranRTW_NoReferensi" class="SubAktivitasDataStartPembongkaranRTW_NoReferensi">@Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.NoReferensi.Caption)</span></th>
} @* subAktivitasDataStartPembongkaranRtwDelete.NoReferensi.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwDelete.idProses.Visible) { // subAktivitasDataStartPembongkaranRtwDelete.idProses.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.idProses.HeaderCellClass)"><span id="elh_SubAktivitasDataStartPembongkaranRTW_idProses" class="SubAktivitasDataStartPembongkaranRTW_idProses">@Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.idProses.Caption)</span></th>
} @* subAktivitasDataStartPembongkaranRtwDelete.idProses.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwDelete.idAktifitas.Visible) { // subAktivitasDataStartPembongkaranRtwDelete.idAktifitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.idAktifitas.HeaderCellClass)"><span id="elh_SubAktivitasDataStartPembongkaranRTW_idAktifitas" class="SubAktivitasDataStartPembongkaranRTW_idAktifitas">@Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.idAktifitas.Caption)</span></th>
} @* subAktivitasDataStartPembongkaranRtwDelete.idAktifitas.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwDelete.StatusAktivitas.Visible) { // subAktivitasDataStartPembongkaranRtwDelete.StatusAktivitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.StatusAktivitas.HeaderCellClass)"><span id="elh_SubAktivitasDataStartPembongkaranRTW_StatusAktivitas" class="SubAktivitasDataStartPembongkaranRTW_StatusAktivitas">@Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.StatusAktivitas.Caption)</span></th>
} @* subAktivitasDataStartPembongkaranRtwDelete.StatusAktivitas.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwDelete.LastUpdatedBy.Visible) { // subAktivitasDataStartPembongkaranRtwDelete.LastUpdatedBy.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.LastUpdatedBy.HeaderCellClass)"><span id="elh_SubAktivitasDataStartPembongkaranRTW_LastUpdatedBy" class="SubAktivitasDataStartPembongkaranRTW_LastUpdatedBy">@Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.LastUpdatedBy.Caption)</span></th>
} @* subAktivitasDataStartPembongkaranRtwDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwDelete.lastUpdatedDate.Visible) { // subAktivitasDataStartPembongkaranRtwDelete.lastUpdatedDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.lastUpdatedDate.HeaderCellClass)"><span id="elh_SubAktivitasDataStartPembongkaranRTW_lastUpdatedDate" class="SubAktivitasDataStartPembongkaranRTW_lastUpdatedDate">@Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.lastUpdatedDate.Caption)</span></th>
} @* subAktivitasDataStartPembongkaranRtwDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwDelete.Tanggal.Visible) { // subAktivitasDataStartPembongkaranRtwDelete.Tanggal.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.Tanggal.HeaderCellClass)"><span id="elh_SubAktivitasDataStartPembongkaranRTW_Tanggal" class="SubAktivitasDataStartPembongkaranRTW_Tanggal">@Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.Tanggal.Caption)</span></th>
} @* subAktivitasDataStartPembongkaranRtwDelete.Tanggal.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwDelete.userInput.Visible) { // subAktivitasDataStartPembongkaranRtwDelete.userInput.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.userInput.HeaderCellClass)"><span id="elh_SubAktivitasDataStartPembongkaranRTW_userInput" class="SubAktivitasDataStartPembongkaranRTW_userInput">@Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.userInput.Caption)</span></th>
} @* subAktivitasDataStartPembongkaranRtwDelete.userInput.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwDelete.etlDate.Visible) { // subAktivitasDataStartPembongkaranRtwDelete.etlDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.etlDate.HeaderCellClass)"><span id="elh_SubAktivitasDataStartPembongkaranRTW_etlDate" class="SubAktivitasDataStartPembongkaranRTW_etlDate">@Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.etlDate.Caption)</span></th>
} @* subAktivitasDataStartPembongkaranRtwDelete.etlDate.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ subAktivitasDataStartPembongkaranRtwDelete.RecordCount = 0; }
@while (subAktivitasDataStartPembongkaranRtwDelete.Recordset != null && await subAktivitasDataStartPembongkaranRtwDelete.Recordset.ReadAsync()) { // DN
    subAktivitasDataStartPembongkaranRtwDelete.RecordCount++;
    subAktivitasDataStartPembongkaranRtwDelete.RowCount++;

    // Set row properties
    subAktivitasDataStartPembongkaranRtwDelete.ResetAttributes();
    subAktivitasDataStartPembongkaranRtwDelete.RowType = RowType.View; // View

    // Get the field contents
    await subAktivitasDataStartPembongkaranRtwDelete.LoadRowValues(subAktivitasDataStartPembongkaranRtwDelete.Recordset);

    // Render row
    await subAktivitasDataStartPembongkaranRtwDelete.RenderRow();
    <tr @Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.RowAttributes)>
@if (subAktivitasDataStartPembongkaranRtwDelete.id.Visible) { // subAktivitasDataStartPembongkaranRtwDelete.id.Visible (begin)
        <td @Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.id.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.id.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.id.GetViewValue())</span>
</span></td>
} @* subAktivitasDataStartPembongkaranRtwDelete.id.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwDelete.NoReferensi.Visible) { // subAktivitasDataStartPembongkaranRtwDelete.NoReferensi.Visible (begin)
        <td @Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.NoReferensi.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.NoReferensi.GetViewValue())</span>
</span></td>
} @* subAktivitasDataStartPembongkaranRtwDelete.NoReferensi.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwDelete.idProses.Visible) { // subAktivitasDataStartPembongkaranRtwDelete.idProses.Visible (begin)
        <td @Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.idProses.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.idProses.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.idProses.GetViewValue())</span>
</span></td>
} @* subAktivitasDataStartPembongkaranRtwDelete.idProses.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwDelete.idAktifitas.Visible) { // subAktivitasDataStartPembongkaranRtwDelete.idAktifitas.Visible (begin)
        <td @Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.idAktifitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.idAktifitas.GetViewValue())</span>
</span></td>
} @* subAktivitasDataStartPembongkaranRtwDelete.idAktifitas.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwDelete.StatusAktivitas.Visible) { // subAktivitasDataStartPembongkaranRtwDelete.StatusAktivitas.Visible (begin)
        <td @Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.StatusAktivitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.StatusAktivitas.GetViewValue())</span>
</span></td>
} @* subAktivitasDataStartPembongkaranRtwDelete.StatusAktivitas.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwDelete.LastUpdatedBy.Visible) { // subAktivitasDataStartPembongkaranRtwDelete.LastUpdatedBy.Visible (begin)
        <td @Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.LastUpdatedBy.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.LastUpdatedBy.GetViewValue())</span>
</span></td>
} @* subAktivitasDataStartPembongkaranRtwDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwDelete.lastUpdatedDate.Visible) { // subAktivitasDataStartPembongkaranRtwDelete.lastUpdatedDate.Visible (begin)
        <td @Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.lastUpdatedDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.lastUpdatedDate.GetViewValue())</span>
</span></td>
} @* subAktivitasDataStartPembongkaranRtwDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwDelete.Tanggal.Visible) { // subAktivitasDataStartPembongkaranRtwDelete.Tanggal.Visible (begin)
        <td @Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.Tanggal.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.Tanggal.GetViewValue())</span>
</span></td>
} @* subAktivitasDataStartPembongkaranRtwDelete.Tanggal.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwDelete.userInput.Visible) { // subAktivitasDataStartPembongkaranRtwDelete.userInput.Visible (begin)
        <td @Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.userInput.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.userInput.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.userInput.GetViewValue())</span>
</span></td>
} @* subAktivitasDataStartPembongkaranRtwDelete.userInput.Visible (end) *@
@if (subAktivitasDataStartPembongkaranRtwDelete.etlDate.Visible) { // subAktivitasDataStartPembongkaranRtwDelete.etlDate.Visible (begin)
        <td @Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.etlDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranRtwDelete.etlDate.GetViewValue())</span>
</span></td>
} @* subAktivitasDataStartPembongkaranRtwDelete.etlDate.Visible (end) *@
    </tr>
}
@{ subAktivitasDataStartPembongkaranRtwDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(subAktivitasDataStartPembongkaranRtwDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@subAktivitasDataStartPembongkaranRtwDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
