@{
    // View
    View = this;

    // Check action result
    if (subaktivitasInputLogbookPenyaluranPipaEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subaktivitasInputLogbookPenyaluranPipaEdit.UseLayout ? "_Layout" : "";
}
@subaktivitasInputLogbookPenyaluranPipaEdit.ShowPageHeader()
@subaktivitasInputLogbookPenyaluranPipaEdit.ShowMessages()
<main class="edit">
<form name="fSubaktivitasInputLogbookPenyaluranPipaedit" id="fSubaktivitasInputLogbookPenyaluranPipaedit" class="@(subaktivitasInputLogbookPenyaluranPipaEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasInputLogbookPenyaluranPipaEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasInputLogbookPenyaluranPipa: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubaktivitasInputLogbookPenyaluranPipaedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubaktivitasInputLogbookPenyaluranPipaedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["Id", [fields.Id.visible && fields.Id.required ? ew.Validators.required(fields.Id.caption) : null], fields.Id.isInvalid],
            ["IdAktifitas", [fields.IdAktifitas.visible && fields.IdAktifitas.required ? ew.Validators.required(fields.IdAktifitas.caption) : null, ew.Validators.integer], fields.IdAktifitas.isInvalid],
            ["NomorTangki", [fields.NomorTangki.visible && fields.NomorTangki.required ? ew.Validators.required(fields.NomorTangki.caption) : null], fields.NomorTangki.isInvalid],
            ["LO", [fields.LO.visible && fields.LO.required ? ew.Validators.required(fields.LO.caption) : null], fields.LO.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["MeterAwal", [fields.MeterAwal.visible && fields.MeterAwal.required ? ew.Validators.required(fields.MeterAwal.caption) : null], fields.MeterAwal.isInvalid],
            ["Quantity", [fields.Quantity.visible && fields.Quantity.required ? ew.Validators.required(fields.Quantity.caption) : null], fields.Quantity.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["Tanggal", [fields.Tanggal.visible && fields.Tanggal.required ? ew.Validators.required(fields.Tanggal.caption) : null, ew.Validators.datetime(fields.Tanggal.clientFormatPattern)], fields.Tanggal.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subaktivitasInputLogbookPenyaluranPipaEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subaktivitasInputLogbookPenyaluranPipaEdit.OldKeyName)" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subaktivitasInputLogbookPenyaluranPipaEdit.Id.Visible) { // subaktivitasInputLogbookPenyaluranPipaEdit.Id.Visible (begin)
    <div id="r_Id" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.Id.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Id" class="@(subaktivitasInputLogbookPenyaluranPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.Id.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.Id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.Id.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Id">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.Id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subaktivitasInputLogbookPenyaluranPipaEdit.Id.EditValue)))"></span>
<input type="hidden" data-table="SubaktivitasInputLogbookPenyaluranPipa" data-field="x_Id" data-hidden="1" name="x_Id" id="x_Id" value="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaEdit.Id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaEdit.Id.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaEdit.IdAktifitas.Visible) { // subaktivitasInputLogbookPenyaluranPipaEdit.IdAktifitas.Visible (begin)
    <div id="r_IdAktifitas" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.IdAktifitas.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_IdAktifitas" for="x_IdAktifitas" class="@(subaktivitasInputLogbookPenyaluranPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.IdAktifitas.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.IdAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.IdAktifitas.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_IdAktifitas">
<input type="@(subaktivitasInputLogbookPenyaluranPipaEdit.IdAktifitas.InputTextType)" name="x_IdAktifitas" id="x_IdAktifitas" data-table="SubaktivitasInputLogbookPenyaluranPipa" data-field="x_IdAktifitas" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.IdAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaEdit.IdAktifitas.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaEdit.IdAktifitas.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.IdAktifitas.EditAttributes) aria-describedby="x_IdAktifitas_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.IdAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.IdAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaEdit.IdAktifitas.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaEdit.NomorTangki.Visible) { // subaktivitasInputLogbookPenyaluranPipaEdit.NomorTangki.Visible (begin)
    <div id="r_NomorTangki" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.NomorTangki.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_NomorTangki" for="x_NomorTangki" class="@(subaktivitasInputLogbookPenyaluranPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.NomorTangki.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.NomorTangki.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.NomorTangki.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_NomorTangki">
<input type="@(subaktivitasInputLogbookPenyaluranPipaEdit.NomorTangki.InputTextType)" name="x_NomorTangki" id="x_NomorTangki" data-table="SubaktivitasInputLogbookPenyaluranPipa" data-field="x_NomorTangki" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.NomorTangki.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaEdit.NomorTangki.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaEdit.NomorTangki.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.NomorTangki.EditAttributes) aria-describedby="x_NomorTangki_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.NomorTangki.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.NomorTangki.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaEdit.NomorTangki.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaEdit.LO.Visible) { // subaktivitasInputLogbookPenyaluranPipaEdit.LO.Visible (begin)
    <div id="r_LO" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.LO.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_LO" for="x_LO" class="@(subaktivitasInputLogbookPenyaluranPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.LO.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.LO.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.LO.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_LO">
<input type="@(subaktivitasInputLogbookPenyaluranPipaEdit.LO.InputTextType)" name="x_LO" id="x_LO" data-table="SubaktivitasInputLogbookPenyaluranPipa" data-field="x_LO" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.LO.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaEdit.LO.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaEdit.LO.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.LO.EditAttributes) aria-describedby="x_LO_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.LO.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.LO.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaEdit.LO.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaEdit.Produk.Visible) { // subaktivitasInputLogbookPenyaluranPipaEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.Produk.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Produk" for="x_Produk" class="@(subaktivitasInputLogbookPenyaluranPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.Produk.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.Produk.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Produk">
<input type="@(subaktivitasInputLogbookPenyaluranPipaEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubaktivitasInputLogbookPenyaluranPipa" data-field="x_Produk" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.Produk.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaEdit.Produk.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaEdit.Produk.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaEdit.Produk.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaEdit.MeterAwal.Visible) { // subaktivitasInputLogbookPenyaluranPipaEdit.MeterAwal.Visible (begin)
    <div id="r_MeterAwal" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.MeterAwal.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_MeterAwal" for="x_MeterAwal" class="@(subaktivitasInputLogbookPenyaluranPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.MeterAwal.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.MeterAwal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.MeterAwal.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_MeterAwal">
<input type="@(subaktivitasInputLogbookPenyaluranPipaEdit.MeterAwal.InputTextType)" name="x_MeterAwal" id="x_MeterAwal" data-table="SubaktivitasInputLogbookPenyaluranPipa" data-field="x_MeterAwal" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.MeterAwal.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaEdit.MeterAwal.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaEdit.MeterAwal.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.MeterAwal.EditAttributes) aria-describedby="x_MeterAwal_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.MeterAwal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.MeterAwal.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaEdit.MeterAwal.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaEdit.Quantity.Visible) { // subaktivitasInputLogbookPenyaluranPipaEdit.Quantity.Visible (begin)
    <div id="r_Quantity" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.Quantity.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Quantity" for="x_Quantity" class="@(subaktivitasInputLogbookPenyaluranPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.Quantity.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.Quantity.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.Quantity.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Quantity">
<input type="@(subaktivitasInputLogbookPenyaluranPipaEdit.Quantity.InputTextType)" name="x_Quantity" id="x_Quantity" data-table="SubaktivitasInputLogbookPenyaluranPipa" data-field="x_Quantity" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.Quantity.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaEdit.Quantity.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaEdit.Quantity.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.Quantity.EditAttributes) aria-describedby="x_Quantity_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.Quantity.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.Quantity.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaEdit.Quantity.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaEdit.userInput.Visible) { // subaktivitasInputLogbookPenyaluranPipaEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.userInput.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_userInput" for="x_userInput" class="@(subaktivitasInputLogbookPenyaluranPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.userInput.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.userInput.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_userInput">
<input type="@(subaktivitasInputLogbookPenyaluranPipaEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubaktivitasInputLogbookPenyaluranPipa" data-field="x_userInput" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaEdit.userInput.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaEdit.userInput.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaEdit.userInput.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaEdit.etlDate.Visible) { // subaktivitasInputLogbookPenyaluranPipaEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.etlDate.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_etlDate" for="x_etlDate" class="@(subaktivitasInputLogbookPenyaluranPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.etlDate.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.etlDate.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_etlDate">
<input type="@(subaktivitasInputLogbookPenyaluranPipaEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubaktivitasInputLogbookPenyaluranPipa" data-field="x_etlDate" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaEdit.etlDate.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaEdit.etlDate.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.etlDate.GetErrorMessage())</div>
@if (!subaktivitasInputLogbookPenyaluranPipaEdit.etlDate.ReadOnly && !subaktivitasInputLogbookPenyaluranPipaEdit.etlDate.Disabled && !subaktivitasInputLogbookPenyaluranPipaEdit.etlDate.EditAttrs.Is("readonly") && !subaktivitasInputLogbookPenyaluranPipaEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubaktivitasInputLogbookPenyaluranPipaedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubaktivitasInputLogbookPenyaluranPipaedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaEdit.etlDate.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaEdit.idProses.Visible) { // subaktivitasInputLogbookPenyaluranPipaEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.idProses.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_idProses" for="x_idProses" class="@(subaktivitasInputLogbookPenyaluranPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.idProses.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.idProses.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_idProses">
<input type="@(subaktivitasInputLogbookPenyaluranPipaEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubaktivitasInputLogbookPenyaluranPipa" data-field="x_idProses" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaEdit.idProses.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaEdit.idProses.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaEdit.idProses.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaEdit.LastUpdatedBy.Visible) { // subaktivitasInputLogbookPenyaluranPipaEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subaktivitasInputLogbookPenyaluranPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.LastUpdatedBy.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_LastUpdatedBy">
<input type="@(subaktivitasInputLogbookPenyaluranPipaEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubaktivitasInputLogbookPenyaluranPipa" data-field="x_LastUpdatedBy" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaEdit.LastUpdatedBy.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaEdit.lastUpdatedDate.Visible) { // subaktivitasInputLogbookPenyaluranPipaEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subaktivitasInputLogbookPenyaluranPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.lastUpdatedDate.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_lastUpdatedDate">
<input type="@(subaktivitasInputLogbookPenyaluranPipaEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubaktivitasInputLogbookPenyaluranPipa" data-field="x_lastUpdatedDate" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subaktivitasInputLogbookPenyaluranPipaEdit.lastUpdatedDate.ReadOnly && !subaktivitasInputLogbookPenyaluranPipaEdit.lastUpdatedDate.Disabled && !subaktivitasInputLogbookPenyaluranPipaEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subaktivitasInputLogbookPenyaluranPipaEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubaktivitasInputLogbookPenyaluranPipaedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubaktivitasInputLogbookPenyaluranPipaedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaEdit.lastUpdatedDate.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaEdit.NoReferensi.Visible) { // subaktivitasInputLogbookPenyaluranPipaEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_NoReferensi" for="x_NoReferensi" class="@(subaktivitasInputLogbookPenyaluranPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.NoReferensi.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.NoReferensi.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_NoReferensi">
<input type="@(subaktivitasInputLogbookPenyaluranPipaEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubaktivitasInputLogbookPenyaluranPipa" data-field="x_NoReferensi" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.NoReferensi.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaEdit.NoReferensi.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaEdit.NoReferensi.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaEdit.Tanggal.Visible) { // subaktivitasInputLogbookPenyaluranPipaEdit.Tanggal.Visible (begin)
    <div id="r_Tanggal" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.Tanggal.RowAttributes)>
        <label id="elh_SubaktivitasInputLogbookPenyaluranPipa_Tanggal" for="x_Tanggal" class="@(subaktivitasInputLogbookPenyaluranPipaEdit.LeftColumnClass)">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.Tanggal.Caption)@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.Tanggal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasInputLogbookPenyaluranPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.Tanggal.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Tanggal">
<input type="@(subaktivitasInputLogbookPenyaluranPipaEdit.Tanggal.InputTextType)" name="x_Tanggal" id="x_Tanggal" data-table="SubaktivitasInputLogbookPenyaluranPipa" data-field="x_Tanggal" value="@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.Tanggal.EditValue)" placeholder="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaEdit.Tanggal.PlaceHolder))" data-format-pattern="@(subaktivitasInputLogbookPenyaluranPipaEdit.Tanggal.FormatPattern)"@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.Tanggal.EditAttributes) aria-describedby="x_Tanggal_help">
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.Tanggal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.Tanggal.GetErrorMessage())</div>
@if (!subaktivitasInputLogbookPenyaluranPipaEdit.Tanggal.ReadOnly && !subaktivitasInputLogbookPenyaluranPipaEdit.Tanggal.Disabled && !subaktivitasInputLogbookPenyaluranPipaEdit.Tanggal.EditAttrs.Is("readonly") && !subaktivitasInputLogbookPenyaluranPipaEdit.Tanggal.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubaktivitasInputLogbookPenyaluranPipaedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubaktivitasInputLogbookPenyaluranPipaedit", "x_Tanggal", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subaktivitasInputLogbookPenyaluranPipaEdit.Tanggal.Visible (end) *@
</div><!-- /page* -->
@{ subaktivitasInputLogbookPenyaluranPipaEdit.CloseRecordset(); }
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subaktivitasInputLogbookPenyaluranPipaEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubaktivitasInputLogbookPenyaluranPipaedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubaktivitasInputLogbookPenyaluranPipaedit" data-href="@AppPath(subaktivitasInputLogbookPenyaluranPipaEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subaktivitasInputLogbookPenyaluranPipaEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubaktivitasInputLogbookPenyaluranPipa");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
