@{
    // View
    View = this;

    // Check action result
    if (subaktivitasNilaiAgreementStsPnrBbmList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subaktivitasNilaiAgreementStsPnrBbmList.UseLayout ? "_Layout" : "";
}
@if (!subaktivitasNilaiAgreementStsPnrBbmList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasNilaiAgreementStsPnrBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasNilaiAgreementSTSPnrBBM: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subaktivitasNilaiAgreementStsPnrBbmList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subaktivitasNilaiAgreementStsPnrBbmList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subaktivitasNilaiAgreementStsPnrBbmList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subaktivitasNilaiAgreementStsPnrBbmList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subaktivitasNilaiAgreementStsPnrBbmList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subaktivitasNilaiAgreementStsPnrBbmList.TotalRecords > 0 && subaktivitasNilaiAgreementStsPnrBbmList.ExportOptions.Visible) {
    subaktivitasNilaiAgreementStsPnrBbmList.ExportOptions.Render("body");
}
@if (subaktivitasNilaiAgreementStsPnrBbmList.ImportOptions.Visible) {
    subaktivitasNilaiAgreementStsPnrBbmList.ImportOptions.Render("body");
}
@if (subaktivitasNilaiAgreementStsPnrBbmList.SearchOptions.Visible) {
    subaktivitasNilaiAgreementStsPnrBbmList.SearchOptions.Render("body");
}
@if (subaktivitasNilaiAgreementStsPnrBbmList.FilterOptions.Visible) {
    subaktivitasNilaiAgreementStsPnrBbmList.FilterOptions.Render("body");
}
</div>
}
@if (!subaktivitasNilaiAgreementStsPnrBbmList.IsModal) {
<form name="fSubaktivitasNilaiAgreementSTSPnrBBMsrch" id="fSubaktivitasNilaiAgreementSTSPnrBBMsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubaktivitasNilaiAgreementSTSPnrBBMsrch_search_panel" class="mb-2 mb-sm-0 @(subaktivitasNilaiAgreementStsPnrBbmList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasNilaiAgreementStsPnrBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasNilaiAgreementSTSPnrBBM: currentTable } });
var currentForm;
var fSubaktivitasNilaiAgreementSTSPnrBBMsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubaktivitasNilaiAgreementSTSPnrBBMsrch")
        .setPageId("list")
@if (subaktivitasNilaiAgreementStsPnrBbmList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subaktivitasNilaiAgreementStsPnrBbmList.IsExport() && Empty(subaktivitasNilaiAgreementStsPnrBbmList.CurrentAction) && subaktivitasNilaiAgreementStsPnrBbmList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subaktivitasNilaiAgreementStsPnrBbmList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subaktivitasNilaiAgreementStsPnrBbmList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subaktivitasNilaiAgreementStsPnrBbmList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubaktivitasNilaiAgreementSTSPnrBBMsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subaktivitasNilaiAgreementStsPnrBbmList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubaktivitasNilaiAgreementSTSPnrBBMsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subaktivitasNilaiAgreementStsPnrBbmList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubaktivitasNilaiAgreementSTSPnrBBMsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subaktivitasNilaiAgreementStsPnrBbmList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubaktivitasNilaiAgreementSTSPnrBBMsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subaktivitasNilaiAgreementStsPnrBbmList.ShowPageHeader()
@subaktivitasNilaiAgreementStsPnrBbmList.ShowMessages()
<main class="list @(subaktivitasNilaiAgreementStsPnrBbmList.TotalRecords == 0 && !subaktivitasNilaiAgreementStsPnrBbmList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subaktivitasNilaiAgreementStsPnrBbmList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subaktivitasNilaiAgreementStsPnrBbmList.TotalRecords > 0 || !Empty(subaktivitasNilaiAgreementStsPnrBbmList.CurrentAction)) {
<div class="card ew-card ew-grid@(subaktivitasNilaiAgreementStsPnrBbmList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subaktivitasNilaiAgreementStsPnrBbmList.TableGridClass)">
<form name="@(subaktivitasNilaiAgreementStsPnrBbmList.FormName)" id="@(subaktivitasNilaiAgreementStsPnrBbmList.FormName)" class="ew-form ew-list-form" action="@AppPath(subaktivitasNilaiAgreementStsPnrBbmList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subaktivitasNilaiAgreementStsPnrBbmList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubaktivitasNilaiAgreementSTSPnrBBM" class="card-body ew-grid-middle-panel @(subaktivitasNilaiAgreementStsPnrBbmList.TableContainerClass)" style="@(subaktivitasNilaiAgreementStsPnrBbmList.TableContainerStyle)">
@if (subaktivitasNilaiAgreementStsPnrBbmList.TotalRecords > 0 || subaktivitasNilaiAgreementStsPnrBbmList.IsGridEdit || subaktivitasNilaiAgreementStsPnrBbmList.IsMultiEdit) {
<table id="tbl_SubaktivitasNilaiAgreementSTSPnrBBMlist" class="@(subaktivitasNilaiAgreementStsPnrBbmList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subaktivitasNilaiAgreementStsPnrBbmList.RowType = RowType.Header;

    // Render list options
    await subaktivitasNilaiAgreementStsPnrBbmList.RenderListOptions();
}
@* Render list options (header, left) *@
@subaktivitasNilaiAgreementStsPnrBbmList.ListOptions.RenderHeader("left")
@if (subaktivitasNilaiAgreementStsPnrBbmList.id.Visible) { // subaktivitasNilaiAgreementStsPnrBbmList.id.Visible (begin)
        <th data-name="id" class="@(subaktivitasNilaiAgreementStsPnrBbmList.id.HeaderCellClass)"><div id="elh_SubaktivitasNilaiAgreementSTSPnrBBM_id" class="SubaktivitasNilaiAgreementSTSPnrBBM_id">@Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.RenderFieldHeader(subaktivitasNilaiAgreementStsPnrBbmList.id))</div></th>
} @* subaktivitasNilaiAgreementStsPnrBbmList.id.Visible (end) *@
@if (subaktivitasNilaiAgreementStsPnrBbmList.NoReferensi.Visible) { // subaktivitasNilaiAgreementStsPnrBbmList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subaktivitasNilaiAgreementStsPnrBbmList.NoReferensi.HeaderCellClass)"><div id="elh_SubaktivitasNilaiAgreementSTSPnrBBM_NoReferensi" class="SubaktivitasNilaiAgreementSTSPnrBBM_NoReferensi">@Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.RenderFieldHeader(subaktivitasNilaiAgreementStsPnrBbmList.NoReferensi))</div></th>
} @* subaktivitasNilaiAgreementStsPnrBbmList.NoReferensi.Visible (end) *@
@if (subaktivitasNilaiAgreementStsPnrBbmList.idProses.Visible) { // subaktivitasNilaiAgreementStsPnrBbmList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subaktivitasNilaiAgreementStsPnrBbmList.idProses.HeaderCellClass)"><div id="elh_SubaktivitasNilaiAgreementSTSPnrBBM_idProses" class="SubaktivitasNilaiAgreementSTSPnrBBM_idProses">@Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.RenderFieldHeader(subaktivitasNilaiAgreementStsPnrBbmList.idProses))</div></th>
} @* subaktivitasNilaiAgreementStsPnrBbmList.idProses.Visible (end) *@
@if (subaktivitasNilaiAgreementStsPnrBbmList.idAktifitas.Visible) { // subaktivitasNilaiAgreementStsPnrBbmList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subaktivitasNilaiAgreementStsPnrBbmList.idAktifitas.HeaderCellClass)"><div id="elh_SubaktivitasNilaiAgreementSTSPnrBBM_idAktifitas" class="SubaktivitasNilaiAgreementSTSPnrBBM_idAktifitas">@Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.RenderFieldHeader(subaktivitasNilaiAgreementStsPnrBbmList.idAktifitas))</div></th>
} @* subaktivitasNilaiAgreementStsPnrBbmList.idAktifitas.Visible (end) *@
@if (subaktivitasNilaiAgreementStsPnrBbmList.StatusAktivitas.Visible) { // subaktivitasNilaiAgreementStsPnrBbmList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subaktivitasNilaiAgreementStsPnrBbmList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubaktivitasNilaiAgreementSTSPnrBBM_StatusAktivitas" class="SubaktivitasNilaiAgreementSTSPnrBBM_StatusAktivitas">@Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.RenderFieldHeader(subaktivitasNilaiAgreementStsPnrBbmList.StatusAktivitas))</div></th>
} @* subaktivitasNilaiAgreementStsPnrBbmList.StatusAktivitas.Visible (end) *@
@if (subaktivitasNilaiAgreementStsPnrBbmList.LastUpdatedBy.Visible) { // subaktivitasNilaiAgreementStsPnrBbmList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subaktivitasNilaiAgreementStsPnrBbmList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubaktivitasNilaiAgreementSTSPnrBBM_LastUpdatedBy" class="SubaktivitasNilaiAgreementSTSPnrBBM_LastUpdatedBy">@Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.RenderFieldHeader(subaktivitasNilaiAgreementStsPnrBbmList.LastUpdatedBy))</div></th>
} @* subaktivitasNilaiAgreementStsPnrBbmList.LastUpdatedBy.Visible (end) *@
@if (subaktivitasNilaiAgreementStsPnrBbmList.lastUpdatedDate.Visible) { // subaktivitasNilaiAgreementStsPnrBbmList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subaktivitasNilaiAgreementStsPnrBbmList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubaktivitasNilaiAgreementSTSPnrBBM_lastUpdatedDate" class="SubaktivitasNilaiAgreementSTSPnrBBM_lastUpdatedDate">@Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.RenderFieldHeader(subaktivitasNilaiAgreementStsPnrBbmList.lastUpdatedDate))</div></th>
} @* subaktivitasNilaiAgreementStsPnrBbmList.lastUpdatedDate.Visible (end) *@
@if (subaktivitasNilaiAgreementStsPnrBbmList.Flowrate.Visible) { // subaktivitasNilaiAgreementStsPnrBbmList.Flowrate.Visible (begin)
        <th data-name="Flowrate" class="@(subaktivitasNilaiAgreementStsPnrBbmList.Flowrate.HeaderCellClass)"><div id="elh_SubaktivitasNilaiAgreementSTSPnrBBM_Flowrate" class="SubaktivitasNilaiAgreementSTSPnrBBM_Flowrate">@Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.RenderFieldHeader(subaktivitasNilaiAgreementStsPnrBbmList.Flowrate))</div></th>
} @* subaktivitasNilaiAgreementStsPnrBbmList.Flowrate.Visible (end) *@
@if (subaktivitasNilaiAgreementStsPnrBbmList.Pressure.Visible) { // subaktivitasNilaiAgreementStsPnrBbmList.Pressure.Visible (begin)
        <th data-name="Pressure" class="@(subaktivitasNilaiAgreementStsPnrBbmList.Pressure.HeaderCellClass)"><div id="elh_SubaktivitasNilaiAgreementSTSPnrBBM_Pressure" class="SubaktivitasNilaiAgreementSTSPnrBBM_Pressure">@Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.RenderFieldHeader(subaktivitasNilaiAgreementStsPnrBbmList.Pressure))</div></th>
} @* subaktivitasNilaiAgreementStsPnrBbmList.Pressure.Visible (end) *@
@if (subaktivitasNilaiAgreementStsPnrBbmList.StrippingTime.Visible) { // subaktivitasNilaiAgreementStsPnrBbmList.StrippingTime.Visible (begin)
        <th data-name="StrippingTime" class="@(subaktivitasNilaiAgreementStsPnrBbmList.StrippingTime.HeaderCellClass)"><div id="elh_SubaktivitasNilaiAgreementSTSPnrBBM_StrippingTime" class="SubaktivitasNilaiAgreementSTSPnrBBM_StrippingTime">@Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.RenderFieldHeader(subaktivitasNilaiAgreementStsPnrBbmList.StrippingTime))</div></th>
} @* subaktivitasNilaiAgreementStsPnrBbmList.StrippingTime.Visible (end) *@
@if (subaktivitasNilaiAgreementStsPnrBbmList.LamaPembongkaran.Visible) { // subaktivitasNilaiAgreementStsPnrBbmList.LamaPembongkaran.Visible (begin)
        <th data-name="LamaPembongkaran" class="@(subaktivitasNilaiAgreementStsPnrBbmList.LamaPembongkaran.HeaderCellClass)"><div id="elh_SubaktivitasNilaiAgreementSTSPnrBBM_LamaPembongkaran" class="SubaktivitasNilaiAgreementSTSPnrBBM_LamaPembongkaran">@Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.RenderFieldHeader(subaktivitasNilaiAgreementStsPnrBbmList.LamaPembongkaran))</div></th>
} @* subaktivitasNilaiAgreementStsPnrBbmList.LamaPembongkaran.Visible (end) *@
@if (subaktivitasNilaiAgreementStsPnrBbmList.ETC.Visible) { // subaktivitasNilaiAgreementStsPnrBbmList.ETC.Visible (begin)
        <th data-name="ETC" class="@(subaktivitasNilaiAgreementStsPnrBbmList.ETC.HeaderCellClass)"><div id="elh_SubaktivitasNilaiAgreementSTSPnrBBM_ETC" class="SubaktivitasNilaiAgreementSTSPnrBBM_ETC">@Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.RenderFieldHeader(subaktivitasNilaiAgreementStsPnrBbmList.ETC))</div></th>
} @* subaktivitasNilaiAgreementStsPnrBbmList.ETC.Visible (end) *@
@if (subaktivitasNilaiAgreementStsPnrBbmList.userInput.Visible) { // subaktivitasNilaiAgreementStsPnrBbmList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subaktivitasNilaiAgreementStsPnrBbmList.userInput.HeaderCellClass)"><div id="elh_SubaktivitasNilaiAgreementSTSPnrBBM_userInput" class="SubaktivitasNilaiAgreementSTSPnrBBM_userInput">@Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.RenderFieldHeader(subaktivitasNilaiAgreementStsPnrBbmList.userInput))</div></th>
} @* subaktivitasNilaiAgreementStsPnrBbmList.userInput.Visible (end) *@
@if (subaktivitasNilaiAgreementStsPnrBbmList.etlDate.Visible) { // subaktivitasNilaiAgreementStsPnrBbmList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subaktivitasNilaiAgreementStsPnrBbmList.etlDate.HeaderCellClass)"><div id="elh_SubaktivitasNilaiAgreementSTSPnrBBM_etlDate" class="SubaktivitasNilaiAgreementSTSPnrBBM_etlDate">@Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.RenderFieldHeader(subaktivitasNilaiAgreementStsPnrBbmList.etlDate))</div></th>
} @* subaktivitasNilaiAgreementStsPnrBbmList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subaktivitasNilaiAgreementStsPnrBbmList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subaktivitasNilaiAgreementStsPnrBbmList.PageNumber)">
@{
    await subaktivitasNilaiAgreementStsPnrBbmList.SetupGrid();
    bool eof = subaktivitasNilaiAgreementStsPnrBbmList.Recordset == null; // DN
}
@while (subaktivitasNilaiAgreementStsPnrBbmList.RecordCount < subaktivitasNilaiAgreementStsPnrBbmList.StopRecord || SameString(subaktivitasNilaiAgreementStsPnrBbmList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subaktivitasNilaiAgreementStsPnrBbmList.RowIndex, "$rowindex$") &&
        (!subaktivitasNilaiAgreementStsPnrBbmList.IsGridAdd || subaktivitasNilaiAgreementStsPnrBbmList.CurrentMode == "copy") &&
        (!((subaktivitasNilaiAgreementStsPnrBbmList.IsCopy || subaktivitasNilaiAgreementStsPnrBbmList.IsAdd) && subaktivitasNilaiAgreementStsPnrBbmList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subaktivitasNilaiAgreementStsPnrBbmList.Recordset.ReadAsync();
    subaktivitasNilaiAgreementStsPnrBbmList.RecordCount++;
    if (subaktivitasNilaiAgreementStsPnrBbmList.RecordCount >= subaktivitasNilaiAgreementStsPnrBbmList.StartRecord) {
        await subaktivitasNilaiAgreementStsPnrBbmList.SetupRow();
    <tr @Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.RowAttributes)>
    @* Render list options (body, left) *@
    @subaktivitasNilaiAgreementStsPnrBbmList.ListOptions.RenderBody("left", subaktivitasNilaiAgreementStsPnrBbmList.RowCount)
    @if (subaktivitasNilaiAgreementStsPnrBbmList.id.Visible) { // subaktivitasNilaiAgreementStsPnrBbmList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.id.CellAttributes)>
<span id="el@(subaktivitasNilaiAgreementStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiAgreementStsPnrBbmList.RowCount)_SubaktivitasNilaiAgreementSTSPnrBBM_id" class="el_SubaktivitasNilaiAgreementSTSPnrBBM_id">
<span @Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.id.ViewAttributes)>
@Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.id.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiAgreementStsPnrBbmList.id.Visible (end) *@
    @if (subaktivitasNilaiAgreementStsPnrBbmList.NoReferensi.Visible) { // subaktivitasNilaiAgreementStsPnrBbmList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.NoReferensi.CellAttributes)>
<span id="el@(subaktivitasNilaiAgreementStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiAgreementStsPnrBbmList.RowCount)_SubaktivitasNilaiAgreementSTSPnrBBM_NoReferensi" class="el_SubaktivitasNilaiAgreementSTSPnrBBM_NoReferensi">
<span @Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.NoReferensi.ViewAttributes)>
@Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiAgreementStsPnrBbmList.NoReferensi.Visible (end) *@
    @if (subaktivitasNilaiAgreementStsPnrBbmList.idProses.Visible) { // subaktivitasNilaiAgreementStsPnrBbmList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.idProses.CellAttributes)>
<span id="el@(subaktivitasNilaiAgreementStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiAgreementStsPnrBbmList.RowCount)_SubaktivitasNilaiAgreementSTSPnrBBM_idProses" class="el_SubaktivitasNilaiAgreementSTSPnrBBM_idProses">
<span @Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.idProses.ViewAttributes)>
@Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiAgreementStsPnrBbmList.idProses.Visible (end) *@
    @if (subaktivitasNilaiAgreementStsPnrBbmList.idAktifitas.Visible) { // subaktivitasNilaiAgreementStsPnrBbmList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.idAktifitas.CellAttributes)>
<span id="el@(subaktivitasNilaiAgreementStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiAgreementStsPnrBbmList.RowCount)_SubaktivitasNilaiAgreementSTSPnrBBM_idAktifitas" class="el_SubaktivitasNilaiAgreementSTSPnrBBM_idAktifitas">
<span @Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.idAktifitas.ViewAttributes)>
@Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiAgreementStsPnrBbmList.idAktifitas.Visible (end) *@
    @if (subaktivitasNilaiAgreementStsPnrBbmList.StatusAktivitas.Visible) { // subaktivitasNilaiAgreementStsPnrBbmList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.StatusAktivitas.CellAttributes)>
<span id="el@(subaktivitasNilaiAgreementStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiAgreementStsPnrBbmList.RowCount)_SubaktivitasNilaiAgreementSTSPnrBBM_StatusAktivitas" class="el_SubaktivitasNilaiAgreementSTSPnrBBM_StatusAktivitas">
<span @Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiAgreementStsPnrBbmList.StatusAktivitas.Visible (end) *@
    @if (subaktivitasNilaiAgreementStsPnrBbmList.LastUpdatedBy.Visible) { // subaktivitasNilaiAgreementStsPnrBbmList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.LastUpdatedBy.CellAttributes)>
<span id="el@(subaktivitasNilaiAgreementStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiAgreementStsPnrBbmList.RowCount)_SubaktivitasNilaiAgreementSTSPnrBBM_LastUpdatedBy" class="el_SubaktivitasNilaiAgreementSTSPnrBBM_LastUpdatedBy">
<span @Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiAgreementStsPnrBbmList.LastUpdatedBy.Visible (end) *@
    @if (subaktivitasNilaiAgreementStsPnrBbmList.lastUpdatedDate.Visible) { // subaktivitasNilaiAgreementStsPnrBbmList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.lastUpdatedDate.CellAttributes)>
<span id="el@(subaktivitasNilaiAgreementStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiAgreementStsPnrBbmList.RowCount)_SubaktivitasNilaiAgreementSTSPnrBBM_lastUpdatedDate" class="el_SubaktivitasNilaiAgreementSTSPnrBBM_lastUpdatedDate">
<span @Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiAgreementStsPnrBbmList.lastUpdatedDate.Visible (end) *@
    @if (subaktivitasNilaiAgreementStsPnrBbmList.Flowrate.Visible) { // subaktivitasNilaiAgreementStsPnrBbmList.Flowrate.Visible (begin)
        <td data-name="Flowrate" @Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.Flowrate.CellAttributes)>
<span id="el@(subaktivitasNilaiAgreementStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiAgreementStsPnrBbmList.RowCount)_SubaktivitasNilaiAgreementSTSPnrBBM_Flowrate" class="el_SubaktivitasNilaiAgreementSTSPnrBBM_Flowrate">
<span @Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.Flowrate.ViewAttributes)>
@Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.Flowrate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiAgreementStsPnrBbmList.Flowrate.Visible (end) *@
    @if (subaktivitasNilaiAgreementStsPnrBbmList.Pressure.Visible) { // subaktivitasNilaiAgreementStsPnrBbmList.Pressure.Visible (begin)
        <td data-name="Pressure" @Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.Pressure.CellAttributes)>
<span id="el@(subaktivitasNilaiAgreementStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiAgreementStsPnrBbmList.RowCount)_SubaktivitasNilaiAgreementSTSPnrBBM_Pressure" class="el_SubaktivitasNilaiAgreementSTSPnrBBM_Pressure">
<span @Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.Pressure.ViewAttributes)>
@Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.Pressure.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiAgreementStsPnrBbmList.Pressure.Visible (end) *@
    @if (subaktivitasNilaiAgreementStsPnrBbmList.StrippingTime.Visible) { // subaktivitasNilaiAgreementStsPnrBbmList.StrippingTime.Visible (begin)
        <td data-name="StrippingTime" @Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.StrippingTime.CellAttributes)>
<span id="el@(subaktivitasNilaiAgreementStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiAgreementStsPnrBbmList.RowCount)_SubaktivitasNilaiAgreementSTSPnrBBM_StrippingTime" class="el_SubaktivitasNilaiAgreementSTSPnrBBM_StrippingTime">
<span @Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.StrippingTime.ViewAttributes)>
@Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.StrippingTime.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiAgreementStsPnrBbmList.StrippingTime.Visible (end) *@
    @if (subaktivitasNilaiAgreementStsPnrBbmList.LamaPembongkaran.Visible) { // subaktivitasNilaiAgreementStsPnrBbmList.LamaPembongkaran.Visible (begin)
        <td data-name="LamaPembongkaran" @Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.LamaPembongkaran.CellAttributes)>
<span id="el@(subaktivitasNilaiAgreementStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiAgreementStsPnrBbmList.RowCount)_SubaktivitasNilaiAgreementSTSPnrBBM_LamaPembongkaran" class="el_SubaktivitasNilaiAgreementSTSPnrBBM_LamaPembongkaran">
<span @Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.LamaPembongkaran.ViewAttributes)>
@Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.LamaPembongkaran.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiAgreementStsPnrBbmList.LamaPembongkaran.Visible (end) *@
    @if (subaktivitasNilaiAgreementStsPnrBbmList.ETC.Visible) { // subaktivitasNilaiAgreementStsPnrBbmList.ETC.Visible (begin)
        <td data-name="ETC" @Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.ETC.CellAttributes)>
<span id="el@(subaktivitasNilaiAgreementStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiAgreementStsPnrBbmList.RowCount)_SubaktivitasNilaiAgreementSTSPnrBBM_ETC" class="el_SubaktivitasNilaiAgreementSTSPnrBBM_ETC">
<span @Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.ETC.ViewAttributes)>
@Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.ETC.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiAgreementStsPnrBbmList.ETC.Visible (end) *@
    @if (subaktivitasNilaiAgreementStsPnrBbmList.userInput.Visible) { // subaktivitasNilaiAgreementStsPnrBbmList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.userInput.CellAttributes)>
<span id="el@(subaktivitasNilaiAgreementStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiAgreementStsPnrBbmList.RowCount)_SubaktivitasNilaiAgreementSTSPnrBBM_userInput" class="el_SubaktivitasNilaiAgreementSTSPnrBBM_userInput">
<span @Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.userInput.ViewAttributes)>
@Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiAgreementStsPnrBbmList.userInput.Visible (end) *@
    @if (subaktivitasNilaiAgreementStsPnrBbmList.etlDate.Visible) { // subaktivitasNilaiAgreementStsPnrBbmList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.etlDate.CellAttributes)>
<span id="el@(subaktivitasNilaiAgreementStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiAgreementStsPnrBbmList.RowCount)_SubaktivitasNilaiAgreementSTSPnrBBM_etlDate" class="el_SubaktivitasNilaiAgreementSTSPnrBBM_etlDate">
<span @Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.etlDate.ViewAttributes)>
@Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiAgreementStsPnrBbmList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subaktivitasNilaiAgreementStsPnrBbmList.ListOptions.RenderBody("right", subaktivitasNilaiAgreementStsPnrBbmList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subaktivitasNilaiAgreementStsPnrBbmList.RowIndex, "$rowindex$"))
        subaktivitasNilaiAgreementStsPnrBbmList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subaktivitasNilaiAgreementStsPnrBbmList.IsCopy || subaktivitasNilaiAgreementStsPnrBbmList.IsAdd) && subaktivitasNilaiAgreementStsPnrBbmList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subaktivitasNilaiAgreementStsPnrBbmList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subaktivitasNilaiAgreementStsPnrBbmList.CurrentAction) && !subaktivitasNilaiAgreementStsPnrBbmList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subaktivitasNilaiAgreementStsPnrBbmList.CloseRecordset(); }
@if (!subaktivitasNilaiAgreementStsPnrBbmList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subaktivitasNilaiAgreementStsPnrBbmList.IsGridAdd && !(subaktivitasNilaiAgreementStsPnrBbmList.IsGridEdit && subaktivitasNilaiAgreementStsPnrBbmList.ModalGridEdit) && !subaktivitasNilaiAgreementStsPnrBbmList.IsMultiEdit) {
@Html.Raw(subaktivitasNilaiAgreementStsPnrBbmList.Pager.Render())
}
<div class="ew-list-other-options">
@subaktivitasNilaiAgreementStsPnrBbmList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subaktivitasNilaiAgreementStsPnrBbmList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subaktivitasNilaiAgreementStsPnrBbmList.FooterOptions.RenderBody()
</div>
</main>
@subaktivitasNilaiAgreementStsPnrBbmList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subaktivitasNilaiAgreementStsPnrBbmList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubaktivitasNilaiAgreementSTSPnrBBM");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
