@{
    // View
    View = this;

    // Check action result
    if (subAktivitasRencanaPenyaluranPerProdukList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasRencanaPenyaluranPerProdukList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasRencanaPenyaluranPerProdukList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasRencanaPenyaluranPerProdukList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasRencanaPenyaluranPerProduk: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasRencanaPenyaluranPerProdukList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasRencanaPenyaluranPerProdukList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasRencanaPenyaluranPerProdukList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasRencanaPenyaluranPerProdukList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasRencanaPenyaluranPerProdukList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasRencanaPenyaluranPerProdukList.TotalRecords > 0 && subAktivitasRencanaPenyaluranPerProdukList.ExportOptions.Visible) {
    subAktivitasRencanaPenyaluranPerProdukList.ExportOptions.Render("body");
}
@if (subAktivitasRencanaPenyaluranPerProdukList.ImportOptions.Visible) {
    subAktivitasRencanaPenyaluranPerProdukList.ImportOptions.Render("body");
}
@if (subAktivitasRencanaPenyaluranPerProdukList.SearchOptions.Visible) {
    subAktivitasRencanaPenyaluranPerProdukList.SearchOptions.Render("body");
}
@if (subAktivitasRencanaPenyaluranPerProdukList.FilterOptions.Visible) {
    subAktivitasRencanaPenyaluranPerProdukList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasRencanaPenyaluranPerProdukList.IsModal) {
<form name="fSubAktivitasRencanaPenyaluranPerProduksrch" id="fSubAktivitasRencanaPenyaluranPerProduksrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasRencanaPenyaluranPerProduksrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasRencanaPenyaluranPerProdukList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasRencanaPenyaluranPerProdukList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasRencanaPenyaluranPerProduk: currentTable } });
var currentForm;
var fSubAktivitasRencanaPenyaluranPerProduksrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasRencanaPenyaluranPerProduksrch")
        .setPageId("list")
@if (subAktivitasRencanaPenyaluranPerProdukList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasRencanaPenyaluranPerProdukList.IsExport() && Empty(subAktivitasRencanaPenyaluranPerProdukList.CurrentAction) && subAktivitasRencanaPenyaluranPerProdukList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasRencanaPenyaluranPerProdukList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasRencanaPenyaluranPerProdukList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasRencanaPenyaluranPerProdukList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasRencanaPenyaluranPerProduksrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasRencanaPenyaluranPerProdukList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasRencanaPenyaluranPerProduksrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasRencanaPenyaluranPerProdukList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasRencanaPenyaluranPerProduksrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasRencanaPenyaluranPerProdukList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasRencanaPenyaluranPerProduksrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasRencanaPenyaluranPerProdukList.ShowPageHeader()
@subAktivitasRencanaPenyaluranPerProdukList.ShowMessages()
<main class="list @(subAktivitasRencanaPenyaluranPerProdukList.TotalRecords == 0 && !subAktivitasRencanaPenyaluranPerProdukList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasRencanaPenyaluranPerProdukList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasRencanaPenyaluranPerProdukList.TotalRecords > 0 || !Empty(subAktivitasRencanaPenyaluranPerProdukList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasRencanaPenyaluranPerProdukList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasRencanaPenyaluranPerProdukList.TableGridClass)">
<form name="@(subAktivitasRencanaPenyaluranPerProdukList.FormName)" id="@(subAktivitasRencanaPenyaluranPerProdukList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasRencanaPenyaluranPerProdukList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasRencanaPenyaluranPerProdukList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasRencanaPenyaluranPerProduk" class="card-body ew-grid-middle-panel @(subAktivitasRencanaPenyaluranPerProdukList.TableContainerClass)" style="@(subAktivitasRencanaPenyaluranPerProdukList.TableContainerStyle)">
@if (subAktivitasRencanaPenyaluranPerProdukList.TotalRecords > 0 || subAktivitasRencanaPenyaluranPerProdukList.IsGridEdit || subAktivitasRencanaPenyaluranPerProdukList.IsMultiEdit) {
<table id="tbl_SubAktivitasRencanaPenyaluranPerProduklist" class="@(subAktivitasRencanaPenyaluranPerProdukList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasRencanaPenyaluranPerProdukList.RowType = RowType.Header;

    // Render list options
    await subAktivitasRencanaPenyaluranPerProdukList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasRencanaPenyaluranPerProdukList.ListOptions.RenderHeader("left")
@if (subAktivitasRencanaPenyaluranPerProdukList.idProses.Visible) { // subAktivitasRencanaPenyaluranPerProdukList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasRencanaPenyaluranPerProdukList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasRencanaPenyaluranPerProduk_idProses" class="SubAktivitasRencanaPenyaluranPerProduk_idProses">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.RenderFieldHeader(subAktivitasRencanaPenyaluranPerProdukList.idProses))</div></th>
} @* subAktivitasRencanaPenyaluranPerProdukList.idProses.Visible (end) *@
@if (subAktivitasRencanaPenyaluranPerProdukList.idAktifitas.Visible) { // subAktivitasRencanaPenyaluranPerProdukList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasRencanaPenyaluranPerProdukList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasRencanaPenyaluranPerProduk_idAktifitas" class="SubAktivitasRencanaPenyaluranPerProduk_idAktifitas">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.RenderFieldHeader(subAktivitasRencanaPenyaluranPerProdukList.idAktifitas))</div></th>
} @* subAktivitasRencanaPenyaluranPerProdukList.idAktifitas.Visible (end) *@
@if (subAktivitasRencanaPenyaluranPerProdukList.NoReferensi.Visible) { // subAktivitasRencanaPenyaluranPerProdukList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasRencanaPenyaluranPerProdukList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasRencanaPenyaluranPerProduk_NoReferensi" class="SubAktivitasRencanaPenyaluranPerProduk_NoReferensi">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.RenderFieldHeader(subAktivitasRencanaPenyaluranPerProdukList.NoReferensi))</div></th>
} @* subAktivitasRencanaPenyaluranPerProdukList.NoReferensi.Visible (end) *@
@if (subAktivitasRencanaPenyaluranPerProdukList.Produk.Visible) { // subAktivitasRencanaPenyaluranPerProdukList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasRencanaPenyaluranPerProdukList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasRencanaPenyaluranPerProduk_Produk" class="SubAktivitasRencanaPenyaluranPerProduk_Produk">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.RenderFieldHeader(subAktivitasRencanaPenyaluranPerProdukList.Produk))</div></th>
} @* subAktivitasRencanaPenyaluranPerProdukList.Produk.Visible (end) *@
@if (subAktivitasRencanaPenyaluranPerProdukList.Shift1.Visible) { // subAktivitasRencanaPenyaluranPerProdukList.Shift1.Visible (begin)
        <th data-name="Shift1" class="@(subAktivitasRencanaPenyaluranPerProdukList.Shift1.HeaderCellClass)"><div id="elh_SubAktivitasRencanaPenyaluranPerProduk_Shift1" class="SubAktivitasRencanaPenyaluranPerProduk_Shift1">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.RenderFieldHeader(subAktivitasRencanaPenyaluranPerProdukList.Shift1))</div></th>
} @* subAktivitasRencanaPenyaluranPerProdukList.Shift1.Visible (end) *@
@if (subAktivitasRencanaPenyaluranPerProdukList.Shift2.Visible) { // subAktivitasRencanaPenyaluranPerProdukList.Shift2.Visible (begin)
        <th data-name="Shift2" class="@(subAktivitasRencanaPenyaluranPerProdukList.Shift2.HeaderCellClass)"><div id="elh_SubAktivitasRencanaPenyaluranPerProduk_Shift2" class="SubAktivitasRencanaPenyaluranPerProduk_Shift2">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.RenderFieldHeader(subAktivitasRencanaPenyaluranPerProdukList.Shift2))</div></th>
} @* subAktivitasRencanaPenyaluranPerProdukList.Shift2.Visible (end) *@
@if (subAktivitasRencanaPenyaluranPerProdukList.Shift3.Visible) { // subAktivitasRencanaPenyaluranPerProdukList.Shift3.Visible (begin)
        <th data-name="Shift3" class="@(subAktivitasRencanaPenyaluranPerProdukList.Shift3.HeaderCellClass)"><div id="elh_SubAktivitasRencanaPenyaluranPerProduk_Shift3" class="SubAktivitasRencanaPenyaluranPerProduk_Shift3">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.RenderFieldHeader(subAktivitasRencanaPenyaluranPerProdukList.Shift3))</div></th>
} @* subAktivitasRencanaPenyaluranPerProdukList.Shift3.Visible (end) *@
@if (subAktivitasRencanaPenyaluranPerProdukList.Shift4.Visible) { // subAktivitasRencanaPenyaluranPerProdukList.Shift4.Visible (begin)
        <th data-name="Shift4" class="@(subAktivitasRencanaPenyaluranPerProdukList.Shift4.HeaderCellClass)"><div id="elh_SubAktivitasRencanaPenyaluranPerProduk_Shift4" class="SubAktivitasRencanaPenyaluranPerProduk_Shift4">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.RenderFieldHeader(subAktivitasRencanaPenyaluranPerProdukList.Shift4))</div></th>
} @* subAktivitasRencanaPenyaluranPerProdukList.Shift4.Visible (end) *@
@if (subAktivitasRencanaPenyaluranPerProdukList.Total.Visible) { // subAktivitasRencanaPenyaluranPerProdukList.Total.Visible (begin)
        <th data-name="Total" class="@(subAktivitasRencanaPenyaluranPerProdukList.Total.HeaderCellClass)"><div id="elh_SubAktivitasRencanaPenyaluranPerProduk_Total" class="SubAktivitasRencanaPenyaluranPerProduk_Total">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.RenderFieldHeader(subAktivitasRencanaPenyaluranPerProdukList.Total))</div></th>
} @* subAktivitasRencanaPenyaluranPerProdukList.Total.Visible (end) *@
@if (subAktivitasRencanaPenyaluranPerProdukList.userInput.Visible) { // subAktivitasRencanaPenyaluranPerProdukList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasRencanaPenyaluranPerProdukList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasRencanaPenyaluranPerProduk_userInput" class="SubAktivitasRencanaPenyaluranPerProduk_userInput">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.RenderFieldHeader(subAktivitasRencanaPenyaluranPerProdukList.userInput))</div></th>
} @* subAktivitasRencanaPenyaluranPerProdukList.userInput.Visible (end) *@
@if (subAktivitasRencanaPenyaluranPerProdukList.LastUpdatedBy.Visible) { // subAktivitasRencanaPenyaluranPerProdukList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasRencanaPenyaluranPerProdukList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasRencanaPenyaluranPerProduk_LastUpdatedBy" class="SubAktivitasRencanaPenyaluranPerProduk_LastUpdatedBy">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.RenderFieldHeader(subAktivitasRencanaPenyaluranPerProdukList.LastUpdatedBy))</div></th>
} @* subAktivitasRencanaPenyaluranPerProdukList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasRencanaPenyaluranPerProdukList.lastUpdatedDate.Visible) { // subAktivitasRencanaPenyaluranPerProdukList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasRencanaPenyaluranPerProdukList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasRencanaPenyaluranPerProduk_lastUpdatedDate" class="SubAktivitasRencanaPenyaluranPerProduk_lastUpdatedDate">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.RenderFieldHeader(subAktivitasRencanaPenyaluranPerProdukList.lastUpdatedDate))</div></th>
} @* subAktivitasRencanaPenyaluranPerProdukList.lastUpdatedDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasRencanaPenyaluranPerProdukList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasRencanaPenyaluranPerProdukList.PageNumber)">
@{
    await subAktivitasRencanaPenyaluranPerProdukList.SetupGrid();
    bool eof = subAktivitasRencanaPenyaluranPerProdukList.Recordset == null; // DN
}
@while (subAktivitasRencanaPenyaluranPerProdukList.RecordCount < subAktivitasRencanaPenyaluranPerProdukList.StopRecord || SameString(subAktivitasRencanaPenyaluranPerProdukList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasRencanaPenyaluranPerProdukList.RowIndex, "$rowindex$") &&
        (!subAktivitasRencanaPenyaluranPerProdukList.IsGridAdd || subAktivitasRencanaPenyaluranPerProdukList.CurrentMode == "copy") &&
        (!((subAktivitasRencanaPenyaluranPerProdukList.IsCopy || subAktivitasRencanaPenyaluranPerProdukList.IsAdd) && subAktivitasRencanaPenyaluranPerProdukList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasRencanaPenyaluranPerProdukList.Recordset.ReadAsync();
    subAktivitasRencanaPenyaluranPerProdukList.RecordCount++;
    if (subAktivitasRencanaPenyaluranPerProdukList.RecordCount >= subAktivitasRencanaPenyaluranPerProdukList.StartRecord) {
        await subAktivitasRencanaPenyaluranPerProdukList.SetupRow();
    <tr @Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasRencanaPenyaluranPerProdukList.ListOptions.RenderBody("left", subAktivitasRencanaPenyaluranPerProdukList.RowCount)
    @if (subAktivitasRencanaPenyaluranPerProdukList.idProses.Visible) { // subAktivitasRencanaPenyaluranPerProdukList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasRencanaPenyaluranPerProdukList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasRencanaPenyaluranPerProdukList.RowCount)_SubAktivitasRencanaPenyaluranPerProduk_idProses" class="el_SubAktivitasRencanaPenyaluranPerProduk_idProses">
<span @Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasRencanaPenyaluranPerProdukList.idProses.Visible (end) *@
    @if (subAktivitasRencanaPenyaluranPerProdukList.idAktifitas.Visible) { // subAktivitasRencanaPenyaluranPerProdukList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasRencanaPenyaluranPerProdukList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasRencanaPenyaluranPerProdukList.RowCount)_SubAktivitasRencanaPenyaluranPerProduk_idAktifitas" class="el_SubAktivitasRencanaPenyaluranPerProduk_idAktifitas">
<span @Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasRencanaPenyaluranPerProdukList.idAktifitas.Visible (end) *@
    @if (subAktivitasRencanaPenyaluranPerProdukList.NoReferensi.Visible) { // subAktivitasRencanaPenyaluranPerProdukList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasRencanaPenyaluranPerProdukList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasRencanaPenyaluranPerProdukList.RowCount)_SubAktivitasRencanaPenyaluranPerProduk_NoReferensi" class="el_SubAktivitasRencanaPenyaluranPerProduk_NoReferensi">
<span @Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasRencanaPenyaluranPerProdukList.NoReferensi.Visible (end) *@
    @if (subAktivitasRencanaPenyaluranPerProdukList.Produk.Visible) { // subAktivitasRencanaPenyaluranPerProdukList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.Produk.CellAttributes)>
<span id="el@(SameString(subAktivitasRencanaPenyaluranPerProdukList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasRencanaPenyaluranPerProdukList.RowCount)_SubAktivitasRencanaPenyaluranPerProduk_Produk" class="el_SubAktivitasRencanaPenyaluranPerProduk_Produk">
<span @Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasRencanaPenyaluranPerProdukList.Produk.Visible (end) *@
    @if (subAktivitasRencanaPenyaluranPerProdukList.Shift1.Visible) { // subAktivitasRencanaPenyaluranPerProdukList.Shift1.Visible (begin)
        <td data-name="Shift1" @Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.Shift1.CellAttributes)>
<span id="el@(SameString(subAktivitasRencanaPenyaluranPerProdukList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasRencanaPenyaluranPerProdukList.RowCount)_SubAktivitasRencanaPenyaluranPerProduk_Shift1" class="el_SubAktivitasRencanaPenyaluranPerProduk_Shift1">
<span @Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.Shift1.ViewAttributes)>
@Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.Shift1.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasRencanaPenyaluranPerProdukList.Shift1.Visible (end) *@
    @if (subAktivitasRencanaPenyaluranPerProdukList.Shift2.Visible) { // subAktivitasRencanaPenyaluranPerProdukList.Shift2.Visible (begin)
        <td data-name="Shift2" @Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.Shift2.CellAttributes)>
<span id="el@(SameString(subAktivitasRencanaPenyaluranPerProdukList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasRencanaPenyaluranPerProdukList.RowCount)_SubAktivitasRencanaPenyaluranPerProduk_Shift2" class="el_SubAktivitasRencanaPenyaluranPerProduk_Shift2">
<span @Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.Shift2.ViewAttributes)>
@Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.Shift2.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasRencanaPenyaluranPerProdukList.Shift2.Visible (end) *@
    @if (subAktivitasRencanaPenyaluranPerProdukList.Shift3.Visible) { // subAktivitasRencanaPenyaluranPerProdukList.Shift3.Visible (begin)
        <td data-name="Shift3" @Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.Shift3.CellAttributes)>
<span id="el@(SameString(subAktivitasRencanaPenyaluranPerProdukList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasRencanaPenyaluranPerProdukList.RowCount)_SubAktivitasRencanaPenyaluranPerProduk_Shift3" class="el_SubAktivitasRencanaPenyaluranPerProduk_Shift3">
<span @Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.Shift3.ViewAttributes)>
@Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.Shift3.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasRencanaPenyaluranPerProdukList.Shift3.Visible (end) *@
    @if (subAktivitasRencanaPenyaluranPerProdukList.Shift4.Visible) { // subAktivitasRencanaPenyaluranPerProdukList.Shift4.Visible (begin)
        <td data-name="Shift4" @Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.Shift4.CellAttributes)>
<span id="el@(SameString(subAktivitasRencanaPenyaluranPerProdukList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasRencanaPenyaluranPerProdukList.RowCount)_SubAktivitasRencanaPenyaluranPerProduk_Shift4" class="el_SubAktivitasRencanaPenyaluranPerProduk_Shift4">
<span @Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.Shift4.ViewAttributes)>
@Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.Shift4.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasRencanaPenyaluranPerProdukList.Shift4.Visible (end) *@
    @if (subAktivitasRencanaPenyaluranPerProdukList.Total.Visible) { // subAktivitasRencanaPenyaluranPerProdukList.Total.Visible (begin)
        <td data-name="Total" @Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.Total.CellAttributes)>
<span id="el@(SameString(subAktivitasRencanaPenyaluranPerProdukList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasRencanaPenyaluranPerProdukList.RowCount)_SubAktivitasRencanaPenyaluranPerProduk_Total" class="el_SubAktivitasRencanaPenyaluranPerProduk_Total">
<span @Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.Total.ViewAttributes)>
@Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.Total.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasRencanaPenyaluranPerProdukList.Total.Visible (end) *@
    @if (subAktivitasRencanaPenyaluranPerProdukList.userInput.Visible) { // subAktivitasRencanaPenyaluranPerProdukList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasRencanaPenyaluranPerProdukList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasRencanaPenyaluranPerProdukList.RowCount)_SubAktivitasRencanaPenyaluranPerProduk_userInput" class="el_SubAktivitasRencanaPenyaluranPerProduk_userInput">
<span @Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasRencanaPenyaluranPerProdukList.userInput.Visible (end) *@
    @if (subAktivitasRencanaPenyaluranPerProdukList.LastUpdatedBy.Visible) { // subAktivitasRencanaPenyaluranPerProdukList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasRencanaPenyaluranPerProdukList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasRencanaPenyaluranPerProdukList.RowCount)_SubAktivitasRencanaPenyaluranPerProduk_LastUpdatedBy" class="el_SubAktivitasRencanaPenyaluranPerProduk_LastUpdatedBy">
<span @Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasRencanaPenyaluranPerProdukList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasRencanaPenyaluranPerProdukList.lastUpdatedDate.Visible) { // subAktivitasRencanaPenyaluranPerProdukList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasRencanaPenyaluranPerProdukList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasRencanaPenyaluranPerProdukList.RowCount)_SubAktivitasRencanaPenyaluranPerProduk_lastUpdatedDate" class="el_SubAktivitasRencanaPenyaluranPerProduk_lastUpdatedDate">
<span @Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasRencanaPenyaluranPerProdukList.lastUpdatedDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasRencanaPenyaluranPerProdukList.ListOptions.RenderBody("right", subAktivitasRencanaPenyaluranPerProdukList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasRencanaPenyaluranPerProdukList.RowIndex, "$rowindex$"))
        subAktivitasRencanaPenyaluranPerProdukList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasRencanaPenyaluranPerProdukList.IsCopy || subAktivitasRencanaPenyaluranPerProdukList.IsAdd) && subAktivitasRencanaPenyaluranPerProdukList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasRencanaPenyaluranPerProdukList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasRencanaPenyaluranPerProdukList.CurrentAction) && !subAktivitasRencanaPenyaluranPerProdukList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasRencanaPenyaluranPerProdukList.CloseRecordset(); }
@if (!subAktivitasRencanaPenyaluranPerProdukList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasRencanaPenyaluranPerProdukList.IsGridAdd && !(subAktivitasRencanaPenyaluranPerProdukList.IsGridEdit && subAktivitasRencanaPenyaluranPerProdukList.ModalGridEdit) && !subAktivitasRencanaPenyaluranPerProdukList.IsMultiEdit) {
@Html.Raw(subAktivitasRencanaPenyaluranPerProdukList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasRencanaPenyaluranPerProdukList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasRencanaPenyaluranPerProdukList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasRencanaPenyaluranPerProdukList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasRencanaPenyaluranPerProdukList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasRencanaPenyaluranPerProdukList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasRencanaPenyaluranPerProduk");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
