@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputDataMobilTangkiAdd.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputDataMobilTangkiAdd.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputDataMobilTangkiAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputDataMobilTangki: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fSubAktivitasFormInputDataMobilTangkiadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputDataMobilTangkiadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null, ew.Validators.integer], fields.StatusAktivitas.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["JenisProduk", [fields.JenisProduk.visible && fields.JenisProduk.required ? ew.Validators.required(fields.JenisProduk.caption) : null], fields.JenisProduk.isInvalid],
            ["Shipment", [fields.Shipment.visible && fields.Shipment.required ? ew.Validators.required(fields.Shipment.caption) : null], fields.Shipment.isInvalid],
            ["Tanggal", [fields.Tanggal.visible && fields.Tanggal.required ? ew.Validators.required(fields.Tanggal.caption) : null, ew.Validators.datetime(fields.Tanggal.clientFormatPattern)], fields.Tanggal.isInvalid],
            ["NomorPolisi", [fields.NomorPolisi.visible && fields.NomorPolisi.required ? ew.Validators.required(fields.NomorPolisi.caption) : null], fields.NomorPolisi.isInvalid],
            ["Nominasi", [fields.Nominasi.visible && fields.Nominasi.required ? ew.Validators.required(fields.Nominasi.caption) : null], fields.Nominasi.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "idProses": @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.idProses.ToClientList(subAktivitasFormInputDataMobilTangkiAdd)),
            "idAktifitas": @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.idAktifitas.ToClientList(subAktivitasFormInputDataMobilTangkiAdd)),
            "StatusAktivitas": @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.StatusAktivitas.ToClientList(subAktivitasFormInputDataMobilTangkiAdd)),
            "JenisProduk": @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.JenisProduk.ToClientList(subAktivitasFormInputDataMobilTangkiAdd)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasFormInputDataMobilTangkiAdd.ShowPageHeader()
@subAktivitasFormInputDataMobilTangkiAdd.ShowMessages()
<form name="fSubAktivitasFormInputDataMobilTangkiadd" id="fSubAktivitasFormInputDataMobilTangkiadd" class="@(subAktivitasFormInputDataMobilTangkiAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputDataMobilTangkiAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasFormInputDataMobilTangkiAdd.OldKeyName)" value="@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (subAktivitasFormInputDataMobilTangkiAdd.NoReferensi.Visible) { // subAktivitasFormInputDataMobilTangkiAdd.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataMobilTangki_NoReferensi" for="x_NoReferensi" class="@(subAktivitasFormInputDataMobilTangkiAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.NoReferensi.Caption)@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputDataMobilTangkiAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputDataMobilTangki_NoReferensi">
<input type="@(subAktivitasFormInputDataMobilTangkiAdd.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasFormInputDataMobilTangki" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.NoReferensi.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputDataMobilTangkiAdd.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputDataMobilTangkiAdd.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputDataMobilTangkiAdd.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiAdd.idProses.Visible) { // subAktivitasFormInputDataMobilTangkiAdd.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.idProses.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataMobilTangki_idProses" class="@(subAktivitasFormInputDataMobilTangkiAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.idProses.Caption)@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputDataMobilTangkiAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputDataMobilTangki_idProses">
<span>@{
    if (IsRTL) {
        subAktivitasFormInputDataMobilTangkiAdd.idProses.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_idProses" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_idProses" id="sv_x_idProses" value="@(RemoveHtml(ConvertToString(subAktivitasFormInputDataMobilTangkiAdd.idProses.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputDataMobilTangkiAdd.idProses.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputDataMobilTangkiAdd.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputDataMobilTangkiAdd.idProses.FormatPattern)" @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.idProses.EditAttributes) aria-describedby="x_idProses_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasFormInputDataMobilTangki" data-field="x_idProses" data-input="sv_x_idProses" data-value-separator="@(subAktivitasFormInputDataMobilTangkiAdd.idProses.DisplayValueSeparatorAttribute)" name="x_idProses" id="x_idProses" value="@(HtmlEncode(subAktivitasFormInputDataMobilTangkiAdd.idProses.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.idProses.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasFormInputDataMobilTangkiadd"], function() {
    fSubAktivitasFormInputDataMobilTangkiadd.createAutoSuggest(Object.assign({"id":"x_idProses","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasFormInputDataMobilTangkiAdd.idProses.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasFormInputDataMobilTangki.fields.idProses.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.idProses.Lookup.GetParamTag(subAktivitasFormInputDataMobilTangkiAdd, "p_x_idProses"))
</span>
</div></div>
    </div>
} @* subAktivitasFormInputDataMobilTangkiAdd.idProses.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiAdd.idAktifitas.Visible) { // subAktivitasFormInputDataMobilTangkiAdd.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataMobilTangki_idAktifitas" class="@(subAktivitasFormInputDataMobilTangkiAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.idAktifitas.Caption)@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputDataMobilTangkiAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputDataMobilTangki_idAktifitas">
<span>@{
    if (IsRTL) {
        subAktivitasFormInputDataMobilTangkiAdd.idAktifitas.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_idAktifitas" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_idAktifitas" id="sv_x_idAktifitas" value="@(RemoveHtml(ConvertToString(subAktivitasFormInputDataMobilTangkiAdd.idAktifitas.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputDataMobilTangkiAdd.idAktifitas.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputDataMobilTangkiAdd.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputDataMobilTangkiAdd.idAktifitas.FormatPattern)" @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasFormInputDataMobilTangki" data-field="x_idAktifitas" data-input="sv_x_idAktifitas" data-value-separator="@(subAktivitasFormInputDataMobilTangkiAdd.idAktifitas.DisplayValueSeparatorAttribute)" name="x_idAktifitas" id="x_idAktifitas" value="@(HtmlEncode(subAktivitasFormInputDataMobilTangkiAdd.idAktifitas.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.idAktifitas.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasFormInputDataMobilTangkiadd"], function() {
    fSubAktivitasFormInputDataMobilTangkiadd.createAutoSuggest(Object.assign({"id":"x_idAktifitas","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasFormInputDataMobilTangkiAdd.idAktifitas.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasFormInputDataMobilTangki.fields.idAktifitas.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.idAktifitas.Lookup.GetParamTag(subAktivitasFormInputDataMobilTangkiAdd, "p_x_idAktifitas"))
</span>
</div></div>
    </div>
} @* subAktivitasFormInputDataMobilTangkiAdd.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiAdd.StatusAktivitas.Visible) { // subAktivitasFormInputDataMobilTangkiAdd.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.StatusAktivitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataMobilTangki_StatusAktivitas" class="@(subAktivitasFormInputDataMobilTangkiAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.StatusAktivitas.Caption)@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputDataMobilTangkiAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasFormInputDataMobilTangki_StatusAktivitas">
<span>@{
    if (IsRTL) {
        subAktivitasFormInputDataMobilTangkiAdd.StatusAktivitas.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_StatusAktivitas" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_StatusAktivitas" id="sv_x_StatusAktivitas" value="@(RemoveHtml(ConvertToString(subAktivitasFormInputDataMobilTangkiAdd.StatusAktivitas.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputDataMobilTangkiAdd.StatusAktivitas.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputDataMobilTangkiAdd.StatusAktivitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputDataMobilTangkiAdd.StatusAktivitas.FormatPattern)" @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.StatusAktivitas.EditAttributes) aria-describedby="x_StatusAktivitas_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasFormInputDataMobilTangki" data-field="x_StatusAktivitas" data-input="sv_x_StatusAktivitas" data-value-separator="@(subAktivitasFormInputDataMobilTangkiAdd.StatusAktivitas.DisplayValueSeparatorAttribute)" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@(HtmlEncode(subAktivitasFormInputDataMobilTangkiAdd.StatusAktivitas.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.StatusAktivitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.StatusAktivitas.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasFormInputDataMobilTangkiadd"], function() {
    fSubAktivitasFormInputDataMobilTangkiadd.createAutoSuggest(Object.assign({"id":"x_StatusAktivitas","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasFormInputDataMobilTangkiAdd.StatusAktivitas.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasFormInputDataMobilTangki.fields.StatusAktivitas.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.StatusAktivitas.Lookup.GetParamTag(subAktivitasFormInputDataMobilTangkiAdd, "p_x_StatusAktivitas"))
</span>
</div></div>
    </div>
} @* subAktivitasFormInputDataMobilTangkiAdd.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiAdd.LastUpdatedBy.Visible) { // subAktivitasFormInputDataMobilTangkiAdd.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataMobilTangki_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasFormInputDataMobilTangkiAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.LastUpdatedBy.Caption)@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputDataMobilTangkiAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputDataMobilTangki_LastUpdatedBy">
<input type="@(subAktivitasFormInputDataMobilTangkiAdd.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasFormInputDataMobilTangki" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputDataMobilTangkiAdd.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputDataMobilTangkiAdd.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputDataMobilTangkiAdd.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiAdd.lastUpdatedDate.Visible) { // subAktivitasFormInputDataMobilTangkiAdd.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataMobilTangki_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasFormInputDataMobilTangkiAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.lastUpdatedDate.Caption)@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputDataMobilTangkiAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputDataMobilTangki_lastUpdatedDate">
<input type="@(subAktivitasFormInputDataMobilTangkiAdd.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasFormInputDataMobilTangki" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputDataMobilTangkiAdd.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputDataMobilTangkiAdd.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputDataMobilTangkiAdd.lastUpdatedDate.ReadOnly && !subAktivitasFormInputDataMobilTangkiAdd.lastUpdatedDate.Disabled && !subAktivitasFormInputDataMobilTangkiAdd.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasFormInputDataMobilTangkiAdd.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputDataMobilTangkiadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputDataMobilTangkiadd", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputDataMobilTangkiAdd.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiAdd.JenisProduk.Visible) { // subAktivitasFormInputDataMobilTangkiAdd.JenisProduk.Visible (begin)
    <div id="r_JenisProduk" @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.JenisProduk.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataMobilTangki_JenisProduk" class="@(subAktivitasFormInputDataMobilTangkiAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.JenisProduk.Caption)@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.JenisProduk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputDataMobilTangkiAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.JenisProduk.CellAttributes)>
<span id="el_SubAktivitasFormInputDataMobilTangki_JenisProduk">
<span>@{
    if (IsRTL) {
        subAktivitasFormInputDataMobilTangkiAdd.JenisProduk.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_JenisProduk" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_JenisProduk" id="sv_x_JenisProduk" value="@(RemoveHtml(ConvertToString(subAktivitasFormInputDataMobilTangkiAdd.JenisProduk.EditValue)))" autocomplete="off" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputDataMobilTangkiAdd.JenisProduk.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputDataMobilTangkiAdd.JenisProduk.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputDataMobilTangkiAdd.JenisProduk.FormatPattern)" @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.JenisProduk.EditAttributes) aria-describedby="x_JenisProduk_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasFormInputDataMobilTangki" data-field="x_JenisProduk" data-input="sv_x_JenisProduk" data-value-separator="@(subAktivitasFormInputDataMobilTangkiAdd.JenisProduk.DisplayValueSeparatorAttribute)" name="x_JenisProduk" id="x_JenisProduk" value="@(HtmlEncode(subAktivitasFormInputDataMobilTangkiAdd.JenisProduk.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.JenisProduk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.JenisProduk.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasFormInputDataMobilTangkiadd"], function() {
    fSubAktivitasFormInputDataMobilTangkiadd.createAutoSuggest(Object.assign({"id":"x_JenisProduk","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasFormInputDataMobilTangkiAdd.JenisProduk.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasFormInputDataMobilTangki.fields.JenisProduk.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.JenisProduk.Lookup.GetParamTag(subAktivitasFormInputDataMobilTangkiAdd, "p_x_JenisProduk"))
</span>
</div></div>
    </div>
} @* subAktivitasFormInputDataMobilTangkiAdd.JenisProduk.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiAdd.Shipment.Visible) { // subAktivitasFormInputDataMobilTangkiAdd.Shipment.Visible (begin)
    <div id="r_Shipment" @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.Shipment.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataMobilTangki_Shipment" for="x_Shipment" class="@(subAktivitasFormInputDataMobilTangkiAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.Shipment.Caption)@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.Shipment.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputDataMobilTangkiAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.Shipment.CellAttributes)>
<span id="el_SubAktivitasFormInputDataMobilTangki_Shipment">
<input type="@(subAktivitasFormInputDataMobilTangkiAdd.Shipment.InputTextType)" name="x_Shipment" id="x_Shipment" data-table="SubAktivitasFormInputDataMobilTangki" data-field="x_Shipment" value="@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.Shipment.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputDataMobilTangkiAdd.Shipment.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputDataMobilTangkiAdd.Shipment.FormatPattern)"@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.Shipment.EditAttributes) aria-describedby="x_Shipment_help">
@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.Shipment.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.Shipment.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputDataMobilTangkiAdd.Shipment.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiAdd.Tanggal.Visible) { // subAktivitasFormInputDataMobilTangkiAdd.Tanggal.Visible (begin)
    <div id="r_Tanggal" @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.Tanggal.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataMobilTangki_Tanggal" for="x_Tanggal" class="@(subAktivitasFormInputDataMobilTangkiAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.Tanggal.Caption)@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.Tanggal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputDataMobilTangkiAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.Tanggal.CellAttributes)>
<span id="el_SubAktivitasFormInputDataMobilTangki_Tanggal">
<input type="@(subAktivitasFormInputDataMobilTangkiAdd.Tanggal.InputTextType)" name="x_Tanggal" id="x_Tanggal" data-table="SubAktivitasFormInputDataMobilTangki" data-field="x_Tanggal" value="@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.Tanggal.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputDataMobilTangkiAdd.Tanggal.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputDataMobilTangkiAdd.Tanggal.FormatPattern)"@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.Tanggal.EditAttributes) aria-describedby="x_Tanggal_help">
@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.Tanggal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.Tanggal.GetErrorMessage())</div>
@if (!subAktivitasFormInputDataMobilTangkiAdd.Tanggal.ReadOnly && !subAktivitasFormInputDataMobilTangkiAdd.Tanggal.Disabled && !subAktivitasFormInputDataMobilTangkiAdd.Tanggal.EditAttrs.Is("readonly") && !subAktivitasFormInputDataMobilTangkiAdd.Tanggal.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputDataMobilTangkiadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputDataMobilTangkiadd", "x_Tanggal", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputDataMobilTangkiAdd.Tanggal.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiAdd.NomorPolisi.Visible) { // subAktivitasFormInputDataMobilTangkiAdd.NomorPolisi.Visible (begin)
    <div id="r_NomorPolisi" @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.NomorPolisi.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataMobilTangki_NomorPolisi" for="x_NomorPolisi" class="@(subAktivitasFormInputDataMobilTangkiAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.NomorPolisi.Caption)@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.NomorPolisi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputDataMobilTangkiAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.NomorPolisi.CellAttributes)>
<span id="el_SubAktivitasFormInputDataMobilTangki_NomorPolisi">
<input type="@(subAktivitasFormInputDataMobilTangkiAdd.NomorPolisi.InputTextType)" name="x_NomorPolisi" id="x_NomorPolisi" data-table="SubAktivitasFormInputDataMobilTangki" data-field="x_NomorPolisi" value="@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.NomorPolisi.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputDataMobilTangkiAdd.NomorPolisi.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputDataMobilTangkiAdd.NomorPolisi.FormatPattern)"@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.NomorPolisi.EditAttributes) aria-describedby="x_NomorPolisi_help">
@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.NomorPolisi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.NomorPolisi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputDataMobilTangkiAdd.NomorPolisi.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiAdd.Nominasi.Visible) { // subAktivitasFormInputDataMobilTangkiAdd.Nominasi.Visible (begin)
    <div id="r_Nominasi" @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.Nominasi.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataMobilTangki_Nominasi" for="x_Nominasi" class="@(subAktivitasFormInputDataMobilTangkiAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.Nominasi.Caption)@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.Nominasi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputDataMobilTangkiAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.Nominasi.CellAttributes)>
<span id="el_SubAktivitasFormInputDataMobilTangki_Nominasi">
<input type="@(subAktivitasFormInputDataMobilTangkiAdd.Nominasi.InputTextType)" name="x_Nominasi" id="x_Nominasi" data-table="SubAktivitasFormInputDataMobilTangki" data-field="x_Nominasi" value="@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.Nominasi.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputDataMobilTangkiAdd.Nominasi.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputDataMobilTangkiAdd.Nominasi.FormatPattern)"@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.Nominasi.EditAttributes) aria-describedby="x_Nominasi_help">
@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.Nominasi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.Nominasi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputDataMobilTangkiAdd.Nominasi.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiAdd.userInput.Visible) { // subAktivitasFormInputDataMobilTangkiAdd.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.userInput.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataMobilTangki_userInput" for="x_userInput" class="@(subAktivitasFormInputDataMobilTangkiAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.userInput.Caption)@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputDataMobilTangkiAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputDataMobilTangki_userInput">
<input type="@(subAktivitasFormInputDataMobilTangkiAdd.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasFormInputDataMobilTangki" data-field="x_userInput" value="@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputDataMobilTangkiAdd.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputDataMobilTangkiAdd.userInput.FormatPattern)"@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputDataMobilTangkiAdd.userInput.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiAdd.etlDate.Visible) { // subAktivitasFormInputDataMobilTangkiAdd.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataMobilTangki_etlDate" for="x_etlDate" class="@(subAktivitasFormInputDataMobilTangkiAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.etlDate.Caption)@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputDataMobilTangkiAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputDataMobilTangki_etlDate">
<input type="@(subAktivitasFormInputDataMobilTangkiAdd.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasFormInputDataMobilTangki" data-field="x_etlDate" value="@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputDataMobilTangkiAdd.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputDataMobilTangkiAdd.etlDate.FormatPattern)"@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.etlDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputDataMobilTangkiAdd.etlDate.ReadOnly && !subAktivitasFormInputDataMobilTangkiAdd.etlDate.Disabled && !subAktivitasFormInputDataMobilTangkiAdd.etlDate.EditAttrs.Is("readonly") && !subAktivitasFormInputDataMobilTangkiAdd.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputDataMobilTangkiadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputDataMobilTangkiadd", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputDataMobilTangkiAdd.etlDate.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasFormInputDataMobilTangkiAdd.CloseRecordset(); }
@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasFormInputDataMobilTangkiAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasFormInputDataMobilTangkiadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasFormInputDataMobilTangkiadd" data-href="@AppPath(subAktivitasFormInputDataMobilTangkiAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasFormInputDataMobilTangkiAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@subAktivitasFormInputDataMobilTangkiAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputDataMobilTangki");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
