@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputLogbMonitoringStockRtwList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputLogbMonitoringStockRtwList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputLogbMonitoringStockRtwList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputLogbMonitoringStockRtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputLogbMonitoringStockRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasFormInputLogbMonitoringStockRtwList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasFormInputLogbMonitoringStockRtwList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasFormInputLogbMonitoringStockRtwList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasFormInputLogbMonitoringStockRtwList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasFormInputLogbMonitoringStockRtwList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasFormInputLogbMonitoringStockRtwList.TotalRecords > 0 && subAktivitasFormInputLogbMonitoringStockRtwList.ExportOptions.Visible) {
    subAktivitasFormInputLogbMonitoringStockRtwList.ExportOptions.Render("body");
}
@if (subAktivitasFormInputLogbMonitoringStockRtwList.ImportOptions.Visible) {
    subAktivitasFormInputLogbMonitoringStockRtwList.ImportOptions.Render("body");
}
@if (subAktivitasFormInputLogbMonitoringStockRtwList.SearchOptions.Visible) {
    subAktivitasFormInputLogbMonitoringStockRtwList.SearchOptions.Render("body");
}
@if (subAktivitasFormInputLogbMonitoringStockRtwList.FilterOptions.Visible) {
    subAktivitasFormInputLogbMonitoringStockRtwList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasFormInputLogbMonitoringStockRtwList.IsModal) {
<form name="fSubAktivitasFormInputLogbMonitoringStockRTWsrch" id="fSubAktivitasFormInputLogbMonitoringStockRTWsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasFormInputLogbMonitoringStockRTWsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasFormInputLogbMonitoringStockRtwList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputLogbMonitoringStockRtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputLogbMonitoringStockRTW: currentTable } });
var currentForm;
var fSubAktivitasFormInputLogbMonitoringStockRTWsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputLogbMonitoringStockRTWsrch")
        .setPageId("list")
@if (subAktivitasFormInputLogbMonitoringStockRtwList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasFormInputLogbMonitoringStockRtwList.IsExport() && Empty(subAktivitasFormInputLogbMonitoringStockRtwList.CurrentAction) && subAktivitasFormInputLogbMonitoringStockRtwList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbMonitoringStockRtwList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasFormInputLogbMonitoringStockRtwList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasFormInputLogbMonitoringStockRtwList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasFormInputLogbMonitoringStockRTWsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputLogbMonitoringStockRtwList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasFormInputLogbMonitoringStockRTWsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputLogbMonitoringStockRtwList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasFormInputLogbMonitoringStockRTWsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputLogbMonitoringStockRtwList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasFormInputLogbMonitoringStockRTWsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasFormInputLogbMonitoringStockRtwList.ShowPageHeader()
@subAktivitasFormInputLogbMonitoringStockRtwList.ShowMessages()
<main class="list @(subAktivitasFormInputLogbMonitoringStockRtwList.TotalRecords == 0 && !subAktivitasFormInputLogbMonitoringStockRtwList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasFormInputLogbMonitoringStockRtwList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasFormInputLogbMonitoringStockRtwList.TotalRecords > 0 || !Empty(subAktivitasFormInputLogbMonitoringStockRtwList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasFormInputLogbMonitoringStockRtwList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasFormInputLogbMonitoringStockRtwList.TableGridClass)">
<form name="@(subAktivitasFormInputLogbMonitoringStockRtwList.FormName)" id="@(subAktivitasFormInputLogbMonitoringStockRtwList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasFormInputLogbMonitoringStockRtwList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasFormInputLogbMonitoringStockRtwList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasFormInputLogbMonitoringStockRTW" class="card-body ew-grid-middle-panel @(subAktivitasFormInputLogbMonitoringStockRtwList.TableContainerClass)" style="@(subAktivitasFormInputLogbMonitoringStockRtwList.TableContainerStyle)">
@if (subAktivitasFormInputLogbMonitoringStockRtwList.TotalRecords > 0 || subAktivitasFormInputLogbMonitoringStockRtwList.IsGridEdit || subAktivitasFormInputLogbMonitoringStockRtwList.IsMultiEdit) {
<table id="tbl_SubAktivitasFormInputLogbMonitoringStockRTWlist" class="@(subAktivitasFormInputLogbMonitoringStockRtwList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasFormInputLogbMonitoringStockRtwList.RowType = RowType.Header;

    // Render list options
    await subAktivitasFormInputLogbMonitoringStockRtwList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasFormInputLogbMonitoringStockRtwList.ListOptions.RenderHeader("left")
@if (subAktivitasFormInputLogbMonitoringStockRtwList.id.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasFormInputLogbMonitoringStockRtwList.id.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_id" class="SubAktivitasFormInputLogbMonitoringStockRTW_id">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.RenderFieldHeader(subAktivitasFormInputLogbMonitoringStockRtwList.id))</div></th>
} @* subAktivitasFormInputLogbMonitoringStockRtwList.id.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwList.idAktifitas.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasFormInputLogbMonitoringStockRtwList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_idAktifitas" class="SubAktivitasFormInputLogbMonitoringStockRTW_idAktifitas">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.RenderFieldHeader(subAktivitasFormInputLogbMonitoringStockRtwList.idAktifitas))</div></th>
} @* subAktivitasFormInputLogbMonitoringStockRtwList.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwList.NoTangki.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwList.NoTangki.Visible (begin)
        <th data-name="NoTangki" class="@(subAktivitasFormInputLogbMonitoringStockRtwList.NoTangki.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_NoTangki" class="SubAktivitasFormInputLogbMonitoringStockRTW_NoTangki">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.RenderFieldHeader(subAktivitasFormInputLogbMonitoringStockRtwList.NoTangki))</div></th>
} @* subAktivitasFormInputLogbMonitoringStockRtwList.NoTangki.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwList.Produk.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasFormInputLogbMonitoringStockRtwList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_Produk" class="SubAktivitasFormInputLogbMonitoringStockRTW_Produk">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.RenderFieldHeader(subAktivitasFormInputLogbMonitoringStockRtwList.Produk))</div></th>
} @* subAktivitasFormInputLogbMonitoringStockRtwList.Produk.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwList.Aktivitas2.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwList.Aktivitas2.Visible (begin)
        <th data-name="Aktivitas2" class="@(subAktivitasFormInputLogbMonitoringStockRtwList.Aktivitas2.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_Aktivitas2" class="SubAktivitasFormInputLogbMonitoringStockRTW_Aktivitas2">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.RenderFieldHeader(subAktivitasFormInputLogbMonitoringStockRtwList.Aktivitas2))</div></th>
} @* subAktivitasFormInputLogbMonitoringStockRtwList.Aktivitas2.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwList.LevelTangki.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwList.LevelTangki.Visible (begin)
        <th data-name="LevelTangki" class="@(subAktivitasFormInputLogbMonitoringStockRtwList.LevelTangki.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_LevelTangki" class="SubAktivitasFormInputLogbMonitoringStockRTW_LevelTangki">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.RenderFieldHeader(subAktivitasFormInputLogbMonitoringStockRtwList.LevelTangki))</div></th>
} @* subAktivitasFormInputLogbMonitoringStockRtwList.LevelTangki.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwList.Volume.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwList.Volume.Visible (begin)
        <th data-name="Volume" class="@(subAktivitasFormInputLogbMonitoringStockRtwList.Volume.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_Volume" class="SubAktivitasFormInputLogbMonitoringStockRTW_Volume">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.RenderFieldHeader(subAktivitasFormInputLogbMonitoringStockRtwList.Volume))</div></th>
} @* subAktivitasFormInputLogbMonitoringStockRtwList.Volume.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwList.Flowrate.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwList.Flowrate.Visible (begin)
        <th data-name="Flowrate" class="@(subAktivitasFormInputLogbMonitoringStockRtwList.Flowrate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_Flowrate" class="SubAktivitasFormInputLogbMonitoringStockRTW_Flowrate">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.RenderFieldHeader(subAktivitasFormInputLogbMonitoringStockRtwList.Flowrate))</div></th>
} @* subAktivitasFormInputLogbMonitoringStockRtwList.Flowrate.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwList.userInput.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasFormInputLogbMonitoringStockRtwList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_userInput" class="SubAktivitasFormInputLogbMonitoringStockRTW_userInput">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.RenderFieldHeader(subAktivitasFormInputLogbMonitoringStockRtwList.userInput))</div></th>
} @* subAktivitasFormInputLogbMonitoringStockRtwList.userInput.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwList.etlDate.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasFormInputLogbMonitoringStockRtwList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_etlDate" class="SubAktivitasFormInputLogbMonitoringStockRTW_etlDate">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.RenderFieldHeader(subAktivitasFormInputLogbMonitoringStockRtwList.etlDate))</div></th>
} @* subAktivitasFormInputLogbMonitoringStockRtwList.etlDate.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwList.idProses.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasFormInputLogbMonitoringStockRtwList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_idProses" class="SubAktivitasFormInputLogbMonitoringStockRTW_idProses">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.RenderFieldHeader(subAktivitasFormInputLogbMonitoringStockRtwList.idProses))</div></th>
} @* subAktivitasFormInputLogbMonitoringStockRtwList.idProses.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwList.LastUpdatedBy.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasFormInputLogbMonitoringStockRtwList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_LastUpdatedBy" class="SubAktivitasFormInputLogbMonitoringStockRTW_LastUpdatedBy">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.RenderFieldHeader(subAktivitasFormInputLogbMonitoringStockRtwList.LastUpdatedBy))</div></th>
} @* subAktivitasFormInputLogbMonitoringStockRtwList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwList.lastUpdatedDate.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasFormInputLogbMonitoringStockRtwList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_lastUpdatedDate" class="SubAktivitasFormInputLogbMonitoringStockRTW_lastUpdatedDate">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.RenderFieldHeader(subAktivitasFormInputLogbMonitoringStockRtwList.lastUpdatedDate))</div></th>
} @* subAktivitasFormInputLogbMonitoringStockRtwList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwList.NoReferensi.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasFormInputLogbMonitoringStockRtwList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_NoReferensi" class="SubAktivitasFormInputLogbMonitoringStockRTW_NoReferensi">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.RenderFieldHeader(subAktivitasFormInputLogbMonitoringStockRtwList.NoReferensi))</div></th>
} @* subAktivitasFormInputLogbMonitoringStockRtwList.NoReferensi.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasFormInputLogbMonitoringStockRtwList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasFormInputLogbMonitoringStockRtwList.PageNumber)">
@{
    await subAktivitasFormInputLogbMonitoringStockRtwList.SetupGrid();
    bool eof = subAktivitasFormInputLogbMonitoringStockRtwList.Recordset == null; // DN
}
@while (subAktivitasFormInputLogbMonitoringStockRtwList.RecordCount < subAktivitasFormInputLogbMonitoringStockRtwList.StopRecord || SameString(subAktivitasFormInputLogbMonitoringStockRtwList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasFormInputLogbMonitoringStockRtwList.RowIndex, "$rowindex$") &&
        (!subAktivitasFormInputLogbMonitoringStockRtwList.IsGridAdd || subAktivitasFormInputLogbMonitoringStockRtwList.CurrentMode == "copy") &&
        (!((subAktivitasFormInputLogbMonitoringStockRtwList.IsCopy || subAktivitasFormInputLogbMonitoringStockRtwList.IsAdd) && subAktivitasFormInputLogbMonitoringStockRtwList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasFormInputLogbMonitoringStockRtwList.Recordset.ReadAsync();
    subAktivitasFormInputLogbMonitoringStockRtwList.RecordCount++;
    if (subAktivitasFormInputLogbMonitoringStockRtwList.RecordCount >= subAktivitasFormInputLogbMonitoringStockRtwList.StartRecord) {
        await subAktivitasFormInputLogbMonitoringStockRtwList.SetupRow();
    <tr @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasFormInputLogbMonitoringStockRtwList.ListOptions.RenderBody("left", subAktivitasFormInputLogbMonitoringStockRtwList.RowCount)
    @if (subAktivitasFormInputLogbMonitoringStockRtwList.id.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.id.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbMonitoringStockRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbMonitoringStockRtwList.RowCount)_SubAktivitasFormInputLogbMonitoringStockRTW_id" class="el_SubAktivitasFormInputLogbMonitoringStockRTW_id">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbMonitoringStockRtwList.id.Visible (end) *@
    @if (subAktivitasFormInputLogbMonitoringStockRtwList.idAktifitas.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbMonitoringStockRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbMonitoringStockRtwList.RowCount)_SubAktivitasFormInputLogbMonitoringStockRTW_idAktifitas" class="el_SubAktivitasFormInputLogbMonitoringStockRTW_idAktifitas">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbMonitoringStockRtwList.idAktifitas.Visible (end) *@
    @if (subAktivitasFormInputLogbMonitoringStockRtwList.NoTangki.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwList.NoTangki.Visible (begin)
        <td data-name="NoTangki" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.NoTangki.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbMonitoringStockRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbMonitoringStockRtwList.RowCount)_SubAktivitasFormInputLogbMonitoringStockRTW_NoTangki" class="el_SubAktivitasFormInputLogbMonitoringStockRTW_NoTangki">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.NoTangki.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.NoTangki.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbMonitoringStockRtwList.NoTangki.Visible (end) *@
    @if (subAktivitasFormInputLogbMonitoringStockRtwList.Produk.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.Produk.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbMonitoringStockRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbMonitoringStockRtwList.RowCount)_SubAktivitasFormInputLogbMonitoringStockRTW_Produk" class="el_SubAktivitasFormInputLogbMonitoringStockRTW_Produk">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbMonitoringStockRtwList.Produk.Visible (end) *@
    @if (subAktivitasFormInputLogbMonitoringStockRtwList.Aktivitas2.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwList.Aktivitas2.Visible (begin)
        <td data-name="Aktivitas2" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.Aktivitas2.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbMonitoringStockRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbMonitoringStockRtwList.RowCount)_SubAktivitasFormInputLogbMonitoringStockRTW_Aktivitas2" class="el_SubAktivitasFormInputLogbMonitoringStockRTW_Aktivitas2">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.Aktivitas2.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.Aktivitas2.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbMonitoringStockRtwList.Aktivitas2.Visible (end) *@
    @if (subAktivitasFormInputLogbMonitoringStockRtwList.LevelTangki.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwList.LevelTangki.Visible (begin)
        <td data-name="LevelTangki" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.LevelTangki.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbMonitoringStockRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbMonitoringStockRtwList.RowCount)_SubAktivitasFormInputLogbMonitoringStockRTW_LevelTangki" class="el_SubAktivitasFormInputLogbMonitoringStockRTW_LevelTangki">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.LevelTangki.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.LevelTangki.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbMonitoringStockRtwList.LevelTangki.Visible (end) *@
    @if (subAktivitasFormInputLogbMonitoringStockRtwList.Volume.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwList.Volume.Visible (begin)
        <td data-name="Volume" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.Volume.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbMonitoringStockRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbMonitoringStockRtwList.RowCount)_SubAktivitasFormInputLogbMonitoringStockRTW_Volume" class="el_SubAktivitasFormInputLogbMonitoringStockRTW_Volume">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.Volume.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.Volume.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbMonitoringStockRtwList.Volume.Visible (end) *@
    @if (subAktivitasFormInputLogbMonitoringStockRtwList.Flowrate.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwList.Flowrate.Visible (begin)
        <td data-name="Flowrate" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.Flowrate.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbMonitoringStockRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbMonitoringStockRtwList.RowCount)_SubAktivitasFormInputLogbMonitoringStockRTW_Flowrate" class="el_SubAktivitasFormInputLogbMonitoringStockRTW_Flowrate">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.Flowrate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.Flowrate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbMonitoringStockRtwList.Flowrate.Visible (end) *@
    @if (subAktivitasFormInputLogbMonitoringStockRtwList.userInput.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.userInput.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbMonitoringStockRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbMonitoringStockRtwList.RowCount)_SubAktivitasFormInputLogbMonitoringStockRTW_userInput" class="el_SubAktivitasFormInputLogbMonitoringStockRTW_userInput">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbMonitoringStockRtwList.userInput.Visible (end) *@
    @if (subAktivitasFormInputLogbMonitoringStockRtwList.etlDate.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.etlDate.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbMonitoringStockRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbMonitoringStockRtwList.RowCount)_SubAktivitasFormInputLogbMonitoringStockRTW_etlDate" class="el_SubAktivitasFormInputLogbMonitoringStockRTW_etlDate">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbMonitoringStockRtwList.etlDate.Visible (end) *@
    @if (subAktivitasFormInputLogbMonitoringStockRtwList.idProses.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.idProses.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbMonitoringStockRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbMonitoringStockRtwList.RowCount)_SubAktivitasFormInputLogbMonitoringStockRTW_idProses" class="el_SubAktivitasFormInputLogbMonitoringStockRTW_idProses">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbMonitoringStockRtwList.idProses.Visible (end) *@
    @if (subAktivitasFormInputLogbMonitoringStockRtwList.LastUpdatedBy.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbMonitoringStockRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbMonitoringStockRtwList.RowCount)_SubAktivitasFormInputLogbMonitoringStockRTW_LastUpdatedBy" class="el_SubAktivitasFormInputLogbMonitoringStockRTW_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbMonitoringStockRtwList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasFormInputLogbMonitoringStockRtwList.lastUpdatedDate.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbMonitoringStockRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbMonitoringStockRtwList.RowCount)_SubAktivitasFormInputLogbMonitoringStockRTW_lastUpdatedDate" class="el_SubAktivitasFormInputLogbMonitoringStockRTW_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbMonitoringStockRtwList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasFormInputLogbMonitoringStockRtwList.NoReferensi.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbMonitoringStockRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbMonitoringStockRtwList.RowCount)_SubAktivitasFormInputLogbMonitoringStockRTW_NoReferensi" class="el_SubAktivitasFormInputLogbMonitoringStockRTW_NoReferensi">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbMonitoringStockRtwList.NoReferensi.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasFormInputLogbMonitoringStockRtwList.ListOptions.RenderBody("right", subAktivitasFormInputLogbMonitoringStockRtwList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasFormInputLogbMonitoringStockRtwList.RowIndex, "$rowindex$"))
        subAktivitasFormInputLogbMonitoringStockRtwList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasFormInputLogbMonitoringStockRtwList.IsCopy || subAktivitasFormInputLogbMonitoringStockRtwList.IsAdd) && subAktivitasFormInputLogbMonitoringStockRtwList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasFormInputLogbMonitoringStockRtwList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasFormInputLogbMonitoringStockRtwList.CurrentAction) && !subAktivitasFormInputLogbMonitoringStockRtwList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasFormInputLogbMonitoringStockRtwList.CloseRecordset(); }
@if (!subAktivitasFormInputLogbMonitoringStockRtwList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasFormInputLogbMonitoringStockRtwList.IsGridAdd && !(subAktivitasFormInputLogbMonitoringStockRtwList.IsGridEdit && subAktivitasFormInputLogbMonitoringStockRtwList.ModalGridEdit) && !subAktivitasFormInputLogbMonitoringStockRtwList.IsMultiEdit) {
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasFormInputLogbMonitoringStockRtwList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasFormInputLogbMonitoringStockRtwList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasFormInputLogbMonitoringStockRtwList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasFormInputLogbMonitoringStockRtwList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputLogbMonitoringStockRtwList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputLogbMonitoringStockRTW");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
