@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputNilaiBLnAlDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputNilaiBLnAlDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputNilaiBLnAlDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputNilaiBLnAL: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fSubAktivitasFormInputNilaiBLnALdelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputNilaiBLnALdelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasFormInputNilaiBLnAlDelete.ShowPageHeader()
@subAktivitasFormInputNilaiBLnAlDelete.ShowMessages()
<form name="fSubAktivitasFormInputNilaiBLnALdelete" id="fSubAktivitasFormInputNilaiBLnALdelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in subAktivitasFormInputNilaiBLnAlDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(subAktivitasFormInputNilaiBLnAlDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(subAktivitasFormInputNilaiBLnAlDelete.TableContainerClass)" style="@(subAktivitasFormInputNilaiBLnAlDelete.TableContainerStyle)">
<table class="@(subAktivitasFormInputNilaiBLnAlDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (subAktivitasFormInputNilaiBLnAlDelete.id.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.id.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.id.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_id" class="SubAktivitasFormInputNilaiBLnAL_id">@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.id.Caption)</span></th>
} @* subAktivitasFormInputNilaiBLnAlDelete.id.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.idAktifitas.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.idAktifitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.idAktifitas.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_idAktifitas" class="SubAktivitasFormInputNilaiBLnAL_idAktifitas">@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.idAktifitas.Caption)</span></th>
} @* subAktivitasFormInputNilaiBLnAlDelete.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.idProses.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.idProses.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.idProses.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_idProses" class="SubAktivitasFormInputNilaiBLnAL_idProses">@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.idProses.Caption)</span></th>
} @* subAktivitasFormInputNilaiBLnAlDelete.idProses.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.NoReferensi.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.NoReferensi.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.NoReferensi.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_NoReferensi" class="SubAktivitasFormInputNilaiBLnAL_NoReferensi">@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.NoReferensi.Caption)</span></th>
} @* subAktivitasFormInputNilaiBLnAlDelete.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.BL_KLObs.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.BL_KLObs.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.BL_KLObs.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_BL_KLObs" class="SubAktivitasFormInputNilaiBLnAL_BL_KLObs">@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.BL_KLObs.Caption)</span></th>
} @* subAktivitasFormInputNilaiBLnAlDelete.BL_KLObs.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.BL_KL15.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.BL_KL15.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.BL_KL15.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_BL_KL15" class="SubAktivitasFormInputNilaiBLnAL_BL_KL15">@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.BL_KL15.Caption)</span></th>
} @* subAktivitasFormInputNilaiBLnAlDelete.BL_KL15.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.BL_Barrels.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.BL_Barrels.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.BL_Barrels.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_BL_Barrels" class="SubAktivitasFormInputNilaiBLnAL_BL_Barrels">@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.BL_Barrels.Caption)</span></th>
} @* subAktivitasFormInputNilaiBLnAlDelete.BL_Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.BL_LT.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.BL_LT.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.BL_LT.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_BL_LT" class="SubAktivitasFormInputNilaiBLnAL_BL_LT">@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.BL_LT.Caption)</span></th>
} @* subAktivitasFormInputNilaiBLnAlDelete.BL_LT.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.BL_MT.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.BL_MT.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.BL_MT.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_BL_MT" class="SubAktivitasFormInputNilaiBLnAL_BL_MT">@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.BL_MT.Caption)</span></th>
} @* subAktivitasFormInputNilaiBLnAlDelete.BL_MT.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.AL_KLObs.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.AL_KLObs.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.AL_KLObs.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_AL_KLObs" class="SubAktivitasFormInputNilaiBLnAL_AL_KLObs">@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.AL_KLObs.Caption)</span></th>
} @* subAktivitasFormInputNilaiBLnAlDelete.AL_KLObs.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.AL_KL15.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.AL_KL15.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.AL_KL15.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_AL_KL15" class="SubAktivitasFormInputNilaiBLnAL_AL_KL15">@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.AL_KL15.Caption)</span></th>
} @* subAktivitasFormInputNilaiBLnAlDelete.AL_KL15.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.AL_Barrels.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.AL_Barrels.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.AL_Barrels.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_AL_Barrels" class="SubAktivitasFormInputNilaiBLnAL_AL_Barrels">@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.AL_Barrels.Caption)</span></th>
} @* subAktivitasFormInputNilaiBLnAlDelete.AL_Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.AL_LT.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.AL_LT.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.AL_LT.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_AL_LT" class="SubAktivitasFormInputNilaiBLnAL_AL_LT">@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.AL_LT.Caption)</span></th>
} @* subAktivitasFormInputNilaiBLnAlDelete.AL_LT.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.AL_MT.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.AL_MT.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.AL_MT.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_AL_MT" class="SubAktivitasFormInputNilaiBLnAL_AL_MT">@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.AL_MT.Caption)</span></th>
} @* subAktivitasFormInputNilaiBLnAlDelete.AL_MT.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.userInput.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.userInput.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.userInput.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_userInput" class="SubAktivitasFormInputNilaiBLnAL_userInput">@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.userInput.Caption)</span></th>
} @* subAktivitasFormInputNilaiBLnAlDelete.userInput.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.etlDate.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.etlDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.etlDate.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_etlDate" class="SubAktivitasFormInputNilaiBLnAL_etlDate">@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.etlDate.Caption)</span></th>
} @* subAktivitasFormInputNilaiBLnAlDelete.etlDate.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.LastUpdatedBy.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.LastUpdatedBy.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.LastUpdatedBy.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_LastUpdatedBy" class="SubAktivitasFormInputNilaiBLnAL_LastUpdatedBy">@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.LastUpdatedBy.Caption)</span></th>
} @* subAktivitasFormInputNilaiBLnAlDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.lastUpdatedDate.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.lastUpdatedDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.lastUpdatedDate.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_lastUpdatedDate" class="SubAktivitasFormInputNilaiBLnAL_lastUpdatedDate">@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.lastUpdatedDate.Caption)</span></th>
} @* subAktivitasFormInputNilaiBLnAlDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.StatusAktivitas.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.StatusAktivitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.StatusAktivitas.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_StatusAktivitas" class="SubAktivitasFormInputNilaiBLnAL_StatusAktivitas">@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.StatusAktivitas.Caption)</span></th>
} @* subAktivitasFormInputNilaiBLnAlDelete.StatusAktivitas.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ subAktivitasFormInputNilaiBLnAlDelete.RecordCount = 0; }
@while (subAktivitasFormInputNilaiBLnAlDelete.Recordset != null && await subAktivitasFormInputNilaiBLnAlDelete.Recordset.ReadAsync()) { // DN
    subAktivitasFormInputNilaiBLnAlDelete.RecordCount++;
    subAktivitasFormInputNilaiBLnAlDelete.RowCount++;

    // Set row properties
    subAktivitasFormInputNilaiBLnAlDelete.ResetAttributes();
    subAktivitasFormInputNilaiBLnAlDelete.RowType = RowType.View; // View

    // Get the field contents
    await subAktivitasFormInputNilaiBLnAlDelete.LoadRowValues(subAktivitasFormInputNilaiBLnAlDelete.Recordset);

    // Render row
    await subAktivitasFormInputNilaiBLnAlDelete.RenderRow();
    <tr @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.RowAttributes)>
@if (subAktivitasFormInputNilaiBLnAlDelete.id.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.id.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.id.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.id.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBLnAlDelete.id.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.idAktifitas.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.idAktifitas.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.idAktifitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.idAktifitas.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBLnAlDelete.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.idProses.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.idProses.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.idProses.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.idProses.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBLnAlDelete.idProses.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.NoReferensi.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.NoReferensi.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.NoReferensi.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.NoReferensi.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBLnAlDelete.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.BL_KLObs.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.BL_KLObs.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.BL_KLObs.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.BL_KLObs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.BL_KLObs.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBLnAlDelete.BL_KLObs.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.BL_KL15.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.BL_KL15.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.BL_KL15.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.BL_KL15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.BL_KL15.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBLnAlDelete.BL_KL15.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.BL_Barrels.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.BL_Barrels.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.BL_Barrels.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.BL_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.BL_Barrels.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBLnAlDelete.BL_Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.BL_LT.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.BL_LT.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.BL_LT.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.BL_LT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.BL_LT.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBLnAlDelete.BL_LT.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.BL_MT.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.BL_MT.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.BL_MT.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.BL_MT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.BL_MT.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBLnAlDelete.BL_MT.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.AL_KLObs.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.AL_KLObs.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.AL_KLObs.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.AL_KLObs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.AL_KLObs.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBLnAlDelete.AL_KLObs.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.AL_KL15.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.AL_KL15.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.AL_KL15.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.AL_KL15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.AL_KL15.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBLnAlDelete.AL_KL15.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.AL_Barrels.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.AL_Barrels.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.AL_Barrels.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.AL_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.AL_Barrels.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBLnAlDelete.AL_Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.AL_LT.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.AL_LT.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.AL_LT.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.AL_LT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.AL_LT.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBLnAlDelete.AL_LT.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.AL_MT.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.AL_MT.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.AL_MT.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.AL_MT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.AL_MT.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBLnAlDelete.AL_MT.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.userInput.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.userInput.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.userInput.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.userInput.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBLnAlDelete.userInput.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.etlDate.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.etlDate.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.etlDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.etlDate.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBLnAlDelete.etlDate.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.LastUpdatedBy.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.LastUpdatedBy.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.LastUpdatedBy.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.LastUpdatedBy.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBLnAlDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.lastUpdatedDate.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.lastUpdatedDate.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.lastUpdatedDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.lastUpdatedDate.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBLnAlDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlDelete.StatusAktivitas.Visible) { // subAktivitasFormInputNilaiBLnAlDelete.StatusAktivitas.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.StatusAktivitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlDelete.StatusAktivitas.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBLnAlDelete.StatusAktivitas.Visible (end) *@
    </tr>
}
@{ subAktivitasFormInputNilaiBLnAlDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(subAktivitasFormInputNilaiBLnAlDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@subAktivitasFormInputNilaiBLnAlDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
