@{
    // View
    View = this;

    // Check action result
    if (subaktivitasNilaiAgreementEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subaktivitasNilaiAgreementEdit.UseLayout ? "_Layout" : "";
}
@subaktivitasNilaiAgreementEdit.ShowPageHeader()
@subaktivitasNilaiAgreementEdit.ShowMessages()
<main class="edit">
<form name="fSubaktivitasNilaiAgreementedit" id="fSubaktivitasNilaiAgreementedit" class="@(subaktivitasNilaiAgreementEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasNilaiAgreementEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasNilaiAgreement: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubaktivitasNilaiAgreementedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubaktivitasNilaiAgreementedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null], fields.idAktifitas.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null], fields.idProses.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null], fields.StatusAktivitas.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null], fields.lastUpdatedDate.isInvalid],
            ["Pressure", [fields.Pressure.visible && fields.Pressure.required ? ew.Validators.required(fields.Pressure.caption) : null], fields.Pressure.isInvalid],
            ["Flowrate", [fields.Flowrate.visible && fields.Flowrate.required ? ew.Validators.required(fields.Flowrate.caption) : null], fields.Flowrate.isInvalid],
            ["StrippingTime", [fields.StrippingTime.visible && fields.StrippingTime.required ? ew.Validators.required(fields.StrippingTime.caption) : null], fields.StrippingTime.isInvalid],
            ["LamaPembongkaran", [fields.LamaPembongkaran.visible && fields.LamaPembongkaran.required ? ew.Validators.required(fields.LamaPembongkaran.caption) : null], fields.LamaPembongkaran.isInvalid],
            ["ETC", [fields.ETC.visible && fields.ETC.required ? ew.Validators.required(fields.ETC.caption) : null], fields.ETC.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    // var flowrate = fobj.elements["x_Flowrate"]?.value || "";
                    // var regex = /^[0-9]*\.?[0-9]*$/;
                    // if (!regex.test(flowrate)) {
                    //     alert("Kolom flowrate hanya boleh berisi angka dan titik desimal.");
                    //     return false;
                    // } 
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Client script
    // Write your client script here, no need to add script tags.
    var parent_url = ew.PATH_BASE;
    var IdProses = "@subaktivitasNilaiAgreementEdit.idProses.CurrentValue";
    var NoReferensi = "@subaktivitasNilaiAgreementEdit.NoReferensi.CurrentValue";
    $("#x_Flowrate, #x_Pressure, #x_StrippingTime").on('focus', function () {
        hideFeedback($(this));
    });
    function hideFeedback(el) {
        let feedback = el.siblings('.invalid-feedback');
        feedback.hide();
    }
    function handleCustomSubmit(status) {
        let idAktivitas = $("#x_idAktifitas").val();
        const originalStatus = document.querySelector('#el_SubaktivitasNilaiAgreement_StatusAktivitas .form-control-plaintext').textContent;
        $.ajax({
            url: parent_url + `api/LookUpList/check_valid_status_aktivitas?idAktivitas=${idAktivitas}&originalStatus=${originalStatus}`,
            type: 'GET',
            beforeSend: function () {
                showLoading();
            },
            success: function (response) {
                if (!response.IsValid){
                    hideLoading();
                    ew.alert(response.Message ?? "Status aktivitas telah diubah oleh pengguna lain");
                    return;
                } else {
                    // custom validate dipindah kesini
                    var inputMap = {
                        "#x_Flowrate": "Flowrate",
                        "#x_Pressure": "Pressure",
                        "#x_StrippingTime": "Striping Time"
                    };
                    let isValid = true;
                    $('.invalid-feedback').hide();
                    for (var id in inputMap) {
                        var el = $(id);
                        var label = inputMap[id];
                        var val = el.val().trim();
                        var feedback = el.siblings('.invalid-feedback');
                        if (id != "x_Pressure") {
                            if (val === "") {
                                feedback.text('*' + label + ' tidak boleh kosong.').show();
                                isValid = false;
                                continue;
                            }
                        }
                        if (isNaN(val)) {
                            feedback.text('*' + label + ' harus diisi dengan angka desimal yang valid.').show();
                            isValid = false;
                            continue;
                        }
                        if (id != "#x_Pressure") {
                            var number = parseFloat(val);
                            if (number <= 0) {
                                feedback.text('*' + label + ' harus bernilai lebih dari 0.').show();
                                isValid = false;
                            }
                        }
                    }
                    if (!isValid) {
                        hideLoading();
                        ew.alert('Nilai input harus berupa angka desimal yang valid.');
                        return;
                    }
                    let form = $("#fSubaktivitasNilaiAgreementedit");
                    $.ajax({
                        url: form.attr("action"),
                        type: form.attr("method"),
                        data: form.serialize(),
                        success: function (response) {
                            updateStatus(idAktivitas, status);
                        },
                        error: function (xhr, status, error) {
                            hideLoading();
                            ew.alert("Gagal menyimpan data.");
                            console.error("Form submit gagal:", error);
                        }
                    });  
                }
            },
            error: function (xhr, status, error) {
                hideLoading();
                ew.alert("Gagal menyimpan data.");
                console.error("Form submit gagal:", error);
            }
        }); 
    }
    function updateStatus(idAktivitas, status) {
        $.ajax({
            url: parent_url + `api/LookUpList/update_status_aktivitas?idAktivitas=${idAktivitas}&statusAktivitas=${status}`,
            type: 'POST',
            success: function () {
                $.ajax({
                    url: parent_url + 'api/LookUpList/generate_etc',
                    method: 'POST',
                    data: JSON.stringify({ NoReferensi: NoReferensi }),
                    contentType: 'application/json',
                    success: function (res) {
                        setTimeout(function () {
                            if (status == "Completed" || status == "Completed Edit") {
                                window.location.href = `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`;
                            } else {
                                location.reload();
                            }
                        }, 1000);
                    },
                    error: function (err) {
                        hideLoading();
                        ew.alert('Perubahan gagal disimpan.');
                        console.error(err);
                    },
                });
            },
            error: function (xhr, status, error) {
                hideLoading();
                ew.alert("Status gagal diperbarui.");
                console.error("Update status gagal:", error);
            }
        });
    }
    function reverseStatus(status, catatan) {
        showLoading();
        let idAktivitas = $("#x_idAktifitas").val();
        $.ajax({
            url: parent_url + `api/LookUpList/update_status_aktivitas-v2`,
            type: 'POST',
            data: JSON.stringify({ IdAktivitas: idAktivitas, StatusAktivitas: status, Catatan: catatan ?? null }),
            contentType: 'application/json',
            success: function () {
                $.ajax({
                    url: parent_url + 'api/LookUpList/generate_etc',
                    method: 'POST',
                    data: JSON.stringify({ NoReferensi: NoReferensi }),
                    contentType: 'application/json',
                    success: function (res) {
                        setTimeout(function () {
                            window.location.href = `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`;
                        }, 1000);
                    },
                    error: function (err) {
                        hideLoading();
                        ew.alert('Perubahan gagal disimpan.');
                        console.error(err);
                    },
                });
            },
            error: function (xhr, status, error) {
                ew.alert("Status gagal diperbarui.");
                console.error("Update status gagal:", error);
            },
            complete: function () {
                hideLoading();
            }
        });
    }
    $(document).on("click", "#btn-draft", function () {
        handleCustomSubmit("Draft");
    });
    $(document).on("click", "#btn-completed", function () {
        handleCustomSubmit("Completed");
    });
    $(document).on("click", "#btn-editing", function () {
        handleCustomSubmit("Editing");
    });
    $(document).on("click", "#btn-completedEdit", function () {
        handleCustomSubmit("Completed Edit");
    });
    $(document).on("submit", "#reverseStatusEditingModalForm", function (e) {
        e.preventDefault();
        let catatanText = $("#catatanReverseStatusEditing").val();
        reverseStatus("Editing", catatanText);
    });
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subaktivitasNilaiAgreementEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subaktivitasNilaiAgreementEdit.OldKeyName)" value="@Html.Raw(subaktivitasNilaiAgreementEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subaktivitasNilaiAgreementEdit.idAktifitas.Visible) { // subaktivitasNilaiAgreementEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subaktivitasNilaiAgreementEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubaktivitasNilaiAgreement_idAktifitas" class="@(subaktivitasNilaiAgreementEdit.LeftColumnClass)">@Html.Raw(subaktivitasNilaiAgreementEdit.idAktifitas.Caption)@Html.Raw(subaktivitasNilaiAgreementEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasNilaiAgreementEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiAgreementEdit.idAktifitas.CellAttributes)>
<span id="el_SubaktivitasNilaiAgreement_idAktifitas">
<span @Html.Raw(subaktivitasNilaiAgreementEdit.idAktifitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subaktivitasNilaiAgreementEdit.idAktifitas.DisplayValue(subaktivitasNilaiAgreementEdit.idAktifitas.EditValue))</span></span>
<input type="hidden" data-table="SubaktivitasNilaiAgreement" data-field="x_idAktifitas" data-hidden="1" name="x_idAktifitas" id="x_idAktifitas" value="@Html.Raw(HtmlEncode(subaktivitasNilaiAgreementEdit.idAktifitas.CurrentValue))">
</span>
</div></div>
    </div>
} @* subaktivitasNilaiAgreementEdit.idAktifitas.Visible (end) *@
@if (subaktivitasNilaiAgreementEdit.idProses.Visible) { // subaktivitasNilaiAgreementEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subaktivitasNilaiAgreementEdit.idProses.RowAttributes)>
        <label id="elh_SubaktivitasNilaiAgreement_idProses" class="@(subaktivitasNilaiAgreementEdit.LeftColumnClass)">@Html.Raw(subaktivitasNilaiAgreementEdit.idProses.Caption)@Html.Raw(subaktivitasNilaiAgreementEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasNilaiAgreementEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiAgreementEdit.idProses.CellAttributes)>
<span id="el_SubaktivitasNilaiAgreement_idProses">
<span @Html.Raw(subaktivitasNilaiAgreementEdit.idProses.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subaktivitasNilaiAgreementEdit.idProses.DisplayValue(subaktivitasNilaiAgreementEdit.idProses.EditValue))</span></span>
<input type="hidden" data-table="SubaktivitasNilaiAgreement" data-field="x_idProses" data-hidden="1" name="x_idProses" id="x_idProses" value="@Html.Raw(HtmlEncode(subaktivitasNilaiAgreementEdit.idProses.CurrentValue))">
</span>
</div></div>
    </div>
} @* subaktivitasNilaiAgreementEdit.idProses.Visible (end) *@
@if (subaktivitasNilaiAgreementEdit.NoReferensi.Visible) { // subaktivitasNilaiAgreementEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subaktivitasNilaiAgreementEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubaktivitasNilaiAgreement_NoReferensi" for="x_NoReferensi" class="@(subaktivitasNilaiAgreementEdit.LeftColumnClass)">@Html.Raw(subaktivitasNilaiAgreementEdit.NoReferensi.Caption)@Html.Raw(subaktivitasNilaiAgreementEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasNilaiAgreementEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiAgreementEdit.NoReferensi.CellAttributes)>
<span id="el_SubaktivitasNilaiAgreement_NoReferensi">
<span @Html.Raw(subaktivitasNilaiAgreementEdit.NoReferensi.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subaktivitasNilaiAgreementEdit.NoReferensi.EditValue)))"></span>
<input type="hidden" data-table="SubaktivitasNilaiAgreement" data-field="x_NoReferensi" data-hidden="1" name="x_NoReferensi" id="x_NoReferensi" value="@Html.Raw(HtmlEncode(subaktivitasNilaiAgreementEdit.NoReferensi.CurrentValue))">
</span>
</div></div>
    </div>
} @* subaktivitasNilaiAgreementEdit.NoReferensi.Visible (end) *@
@if (subaktivitasNilaiAgreementEdit.StatusAktivitas.Visible) { // subaktivitasNilaiAgreementEdit.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subaktivitasNilaiAgreementEdit.StatusAktivitas.RowAttributes)>
        <label id="elh_SubaktivitasNilaiAgreement_StatusAktivitas" class="@(subaktivitasNilaiAgreementEdit.LeftColumnClass)">@Html.Raw(subaktivitasNilaiAgreementEdit.StatusAktivitas.Caption)@Html.Raw(subaktivitasNilaiAgreementEdit.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasNilaiAgreementEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiAgreementEdit.StatusAktivitas.CellAttributes)>
<span id="el_SubaktivitasNilaiAgreement_StatusAktivitas">
<span @Html.Raw(subaktivitasNilaiAgreementEdit.StatusAktivitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subaktivitasNilaiAgreementEdit.StatusAktivitas.DisplayValue(subaktivitasNilaiAgreementEdit.StatusAktivitas.EditValue))</span></span>
<input type="hidden" data-table="SubaktivitasNilaiAgreement" data-field="x_StatusAktivitas" data-hidden="1" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@Html.Raw(HtmlEncode(subaktivitasNilaiAgreementEdit.StatusAktivitas.CurrentValue))">
</span>
</div></div>
    </div>
} @* subaktivitasNilaiAgreementEdit.StatusAktivitas.Visible (end) *@
@if (subaktivitasNilaiAgreementEdit.LastUpdatedBy.Visible) { // subaktivitasNilaiAgreementEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subaktivitasNilaiAgreementEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubaktivitasNilaiAgreement_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subaktivitasNilaiAgreementEdit.LeftColumnClass)">@Html.Raw(subaktivitasNilaiAgreementEdit.LastUpdatedBy.Caption)@Html.Raw(subaktivitasNilaiAgreementEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasNilaiAgreementEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiAgreementEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubaktivitasNilaiAgreement_LastUpdatedBy">
<span @Html.Raw(subaktivitasNilaiAgreementEdit.LastUpdatedBy.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subaktivitasNilaiAgreementEdit.LastUpdatedBy.EditValue)))"></span>
<input type="hidden" data-table="SubaktivitasNilaiAgreement" data-field="x_LastUpdatedBy" data-hidden="1" name="x_LastUpdatedBy" id="x_LastUpdatedBy" value="@Html.Raw(HtmlEncode(subaktivitasNilaiAgreementEdit.LastUpdatedBy.CurrentValue))">
</span>
</div></div>
    </div>
} @* subaktivitasNilaiAgreementEdit.LastUpdatedBy.Visible (end) *@
@if (subaktivitasNilaiAgreementEdit.lastUpdatedDate.Visible) { // subaktivitasNilaiAgreementEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subaktivitasNilaiAgreementEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubaktivitasNilaiAgreement_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subaktivitasNilaiAgreementEdit.LeftColumnClass)">@Html.Raw(subaktivitasNilaiAgreementEdit.lastUpdatedDate.Caption)@Html.Raw(subaktivitasNilaiAgreementEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasNilaiAgreementEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiAgreementEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubaktivitasNilaiAgreement_lastUpdatedDate">
<span @Html.Raw(subaktivitasNilaiAgreementEdit.lastUpdatedDate.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subaktivitasNilaiAgreementEdit.lastUpdatedDate.EditValue)))"></span>
<input type="hidden" data-table="SubaktivitasNilaiAgreement" data-field="x_lastUpdatedDate" data-hidden="1" name="x_lastUpdatedDate" id="x_lastUpdatedDate" value="@Html.Raw(HtmlEncode(subaktivitasNilaiAgreementEdit.lastUpdatedDate.CurrentValue))">
</span>
</div></div>
    </div>
} @* subaktivitasNilaiAgreementEdit.lastUpdatedDate.Visible (end) *@
@if (subaktivitasNilaiAgreementEdit.Pressure.Visible) { // subaktivitasNilaiAgreementEdit.Pressure.Visible (begin)
    <div id="r_Pressure" @Html.Raw(subaktivitasNilaiAgreementEdit.Pressure.RowAttributes)>
        <label id="elh_SubaktivitasNilaiAgreement_Pressure" for="x_Pressure" class="@(subaktivitasNilaiAgreementEdit.LeftColumnClass)">@Html.Raw(subaktivitasNilaiAgreementEdit.Pressure.Caption)@Html.Raw(subaktivitasNilaiAgreementEdit.Pressure.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasNilaiAgreementEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiAgreementEdit.Pressure.CellAttributes)>
<span id="el_SubaktivitasNilaiAgreement_Pressure">
<input type="@(subaktivitasNilaiAgreementEdit.Pressure.InputTextType)" name="x_Pressure" id="x_Pressure" data-table="SubaktivitasNilaiAgreement" data-field="x_Pressure" value="@Html.Raw(subaktivitasNilaiAgreementEdit.Pressure.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subaktivitasNilaiAgreementEdit.Pressure.PlaceHolder))" data-format-pattern="@(subaktivitasNilaiAgreementEdit.Pressure.FormatPattern)"@Html.Raw(subaktivitasNilaiAgreementEdit.Pressure.EditAttributes) aria-describedby="x_Pressure_help">
@Html.Raw(subaktivitasNilaiAgreementEdit.Pressure.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasNilaiAgreementEdit.Pressure.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasNilaiAgreementEdit.Pressure.Visible (end) *@
@if (subaktivitasNilaiAgreementEdit.Flowrate.Visible) { // subaktivitasNilaiAgreementEdit.Flowrate.Visible (begin)
    <div id="r_Flowrate" @Html.Raw(subaktivitasNilaiAgreementEdit.Flowrate.RowAttributes)>
        <label id="elh_SubaktivitasNilaiAgreement_Flowrate" for="x_Flowrate" class="@(subaktivitasNilaiAgreementEdit.LeftColumnClass)">@Html.Raw(subaktivitasNilaiAgreementEdit.Flowrate.Caption)@Html.Raw(subaktivitasNilaiAgreementEdit.Flowrate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasNilaiAgreementEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiAgreementEdit.Flowrate.CellAttributes)>
<span id="el_SubaktivitasNilaiAgreement_Flowrate">
<input type="@(subaktivitasNilaiAgreementEdit.Flowrate.InputTextType)" name="x_Flowrate" id="x_Flowrate" data-table="SubaktivitasNilaiAgreement" data-field="x_Flowrate" value="@Html.Raw(subaktivitasNilaiAgreementEdit.Flowrate.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subaktivitasNilaiAgreementEdit.Flowrate.PlaceHolder))" data-format-pattern="@(subaktivitasNilaiAgreementEdit.Flowrate.FormatPattern)"@Html.Raw(subaktivitasNilaiAgreementEdit.Flowrate.EditAttributes) aria-describedby="x_Flowrate_help">
@Html.Raw(subaktivitasNilaiAgreementEdit.Flowrate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasNilaiAgreementEdit.Flowrate.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasNilaiAgreementEdit.Flowrate.Visible (end) *@
@if (subaktivitasNilaiAgreementEdit.StrippingTime.Visible) { // subaktivitasNilaiAgreementEdit.StrippingTime.Visible (begin)
    <div id="r_StrippingTime" @Html.Raw(subaktivitasNilaiAgreementEdit.StrippingTime.RowAttributes)>
        <label id="elh_SubaktivitasNilaiAgreement_StrippingTime" for="x_StrippingTime" class="@(subaktivitasNilaiAgreementEdit.LeftColumnClass)">@Html.Raw(subaktivitasNilaiAgreementEdit.StrippingTime.Caption)@Html.Raw(subaktivitasNilaiAgreementEdit.StrippingTime.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasNilaiAgreementEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiAgreementEdit.StrippingTime.CellAttributes)>
<span id="el_SubaktivitasNilaiAgreement_StrippingTime">
<input type="@(subaktivitasNilaiAgreementEdit.StrippingTime.InputTextType)" name="x_StrippingTime" id="x_StrippingTime" data-table="SubaktivitasNilaiAgreement" data-field="x_StrippingTime" value="@Html.Raw(subaktivitasNilaiAgreementEdit.StrippingTime.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subaktivitasNilaiAgreementEdit.StrippingTime.PlaceHolder))" data-format-pattern="@(subaktivitasNilaiAgreementEdit.StrippingTime.FormatPattern)"@Html.Raw(subaktivitasNilaiAgreementEdit.StrippingTime.EditAttributes) aria-describedby="x_StrippingTime_help">
@Html.Raw(subaktivitasNilaiAgreementEdit.StrippingTime.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasNilaiAgreementEdit.StrippingTime.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasNilaiAgreementEdit.StrippingTime.Visible (end) *@
@if (subaktivitasNilaiAgreementEdit.LamaPembongkaran.Visible) { // subaktivitasNilaiAgreementEdit.LamaPembongkaran.Visible (begin)
    <div id="r_LamaPembongkaran" @Html.Raw(subaktivitasNilaiAgreementEdit.LamaPembongkaran.RowAttributes)>
        <label id="elh_SubaktivitasNilaiAgreement_LamaPembongkaran" for="x_LamaPembongkaran" class="@(subaktivitasNilaiAgreementEdit.LeftColumnClass)">@Html.Raw(subaktivitasNilaiAgreementEdit.LamaPembongkaran.Caption)@Html.Raw(subaktivitasNilaiAgreementEdit.LamaPembongkaran.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasNilaiAgreementEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiAgreementEdit.LamaPembongkaran.CellAttributes)>
<span id="el_SubaktivitasNilaiAgreement_LamaPembongkaran">
<span @Html.Raw(subaktivitasNilaiAgreementEdit.LamaPembongkaran.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subaktivitasNilaiAgreementEdit.LamaPembongkaran.EditValue)))"></span>
<input type="hidden" data-table="SubaktivitasNilaiAgreement" data-field="x_LamaPembongkaran" data-hidden="1" name="x_LamaPembongkaran" id="x_LamaPembongkaran" value="@Html.Raw(HtmlEncode(subaktivitasNilaiAgreementEdit.LamaPembongkaran.CurrentValue))">
</span>
</div></div>
    </div>
} @* subaktivitasNilaiAgreementEdit.LamaPembongkaran.Visible (end) *@
@if (subaktivitasNilaiAgreementEdit.ETC.Visible) { // subaktivitasNilaiAgreementEdit.ETC.Visible (begin)
    <div id="r_ETC" @Html.Raw(subaktivitasNilaiAgreementEdit.ETC.RowAttributes)>
        <label id="elh_SubaktivitasNilaiAgreement_ETC" for="x_ETC" class="@(subaktivitasNilaiAgreementEdit.LeftColumnClass)">@Html.Raw(subaktivitasNilaiAgreementEdit.ETC.Caption)@Html.Raw(subaktivitasNilaiAgreementEdit.ETC.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasNilaiAgreementEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiAgreementEdit.ETC.CellAttributes)>
<span id="el_SubaktivitasNilaiAgreement_ETC">
<span @Html.Raw(subaktivitasNilaiAgreementEdit.ETC.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subaktivitasNilaiAgreementEdit.ETC.EditValue)))"></span>
<input type="hidden" data-table="SubaktivitasNilaiAgreement" data-field="x_ETC" data-hidden="1" name="x_ETC" id="x_ETC" value="@Html.Raw(HtmlEncode(subaktivitasNilaiAgreementEdit.ETC.CurrentValue))">
</span>
</div></div>
    </div>
} @* subaktivitasNilaiAgreementEdit.ETC.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="SubaktivitasNilaiAgreement" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subaktivitasNilaiAgreementEdit.id.CurrentValue))">
@{ subaktivitasNilaiAgreementEdit.CloseRecordset(); }
@Html.Raw(subaktivitasNilaiAgreementEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subaktivitasNilaiAgreementEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubaktivitasNilaiAgreementedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubaktivitasNilaiAgreementedit" data-href="@AppPath(subaktivitasNilaiAgreementEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subaktivitasNilaiAgreementEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subaktivitasNilaiAgreementEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubaktivitasNilaiAgreement");
});
</script>
<script>
loadjs.ready("load", function() {
    // Startup script
    var IdReferensi = "@subaktivitasNilaiAgreementEdit.NoReferensi.CurrentValue";
    var IdProses = "@subaktivitasNilaiAgreementEdit.idProses.CurrentValue";
    var idAktivitas = "@subaktivitasNilaiAgreementEdit.idAktifitas.CurrentValue";
    var NamaAktivitas = $('#el_SubaktivitasNilaiAgreement_idAktifitas').text();
    const userLevel = "@CurrentUserLevel()";
    let currentStatusAktivitas = "";
    var parent_url = ew.PATH_BASE;
    var steps = [
        { number: 1, label: "Penerimaan", url: `${parent_url}PenerimaanList`, icon: "fa-box-open" },
        { number: 2, label: "Proses", url: `${parent_url}ProsesList?cmd=search&x_IdReferensi%5B%5D=${IdReferensi}&search=&searchtype=`, icon: "fa-gears" },
        { number: 3, label: "Aktivitas", url: `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`, icon: "fa-list-check" },
        { number: 4, label: NamaAktivitas, url: '', icon: "fa-file-circle-check" }
    ];
    var currentStep = 4;
    $("<style>")
        .prop("type", "text/css")
        .html(`
            .stepper {
                display: flex;
                counter-reset: step;
                flex-wrap: nowrap;        /* jangan pecah ke bawah */
                overflow-x: auto;         /* scroll horizontal */
                -webkit-overflow-scrolling: touch; /* smooth scroll di mobile */
                padding-bottom: 8px;      /* space biar scroll bar gak nempel */
            }
            .stepper::-webkit-scrollbar {
            height: 6px; /* tipis */
            }
            .stepper::-webkit-scrollbar-thumb {
                background-color: #ccc;
                border-radius: 3px;
            }
            .step {
                width: 150px;
                text-align: center;
                position: relative;
            }
            .step:not(:last-child)::after {
                content: '';
                position: absolute;
                top: 20px;
                right: -50%;
                width: 100%;
                height: 4px;
                background-color: #ccc;
                z-index: 0;
            }
            .step.completed:not(:last-child)::after {
                background-color: #3c6dbd;
            }
            .step-icon {
                width: 36px;
                height: 36px;
                line-height: 36px;
                border-radius: 50%;
                background: #ccc;
                display: inline-block;
                z-index: 1;
                position: relative;
                color: white;
                font-weight: bold;
            }
            .step.active .step-icon {
                background: #3c6dbd;
            }
            .step-label {
                margin-top: 8px;
                font-size: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6px;
                color: #333;
            }
            .step-label {
                color: #3c6dbd !important;
                text-decoration: none;
                margin: 0;
                padding: 0;
            }
            .step-label-not-active {
                color: #CCCCCC !important;
            }
            .ag-theme-quartz .ag-header {
                background-color: #3c6dbd !important;
            }
            .ag-theme-quartz .ag-header-cell-label {
                color: #ffffff !important;
            }
            .ag-theme-quartz .ag-icon-filter {
                color: #ffffff !important;
            }
            .rotate-down {
                transform: rotate(90deg);
                transition: transform 0.3s ease;
            }
            .rotate-right {
                transform: rotate(0deg);
                transition: transform 0.3s ease;
            }
        `)
        .appendTo("head");
    var $stepperWrapper = $('<div class="d-flex border-bottom border-2 pb-2"><div class="stepper"></div></div>');
    var $stepper = $stepperWrapper.find(".stepper");
    steps.forEach(function (step, i) {
        var isActive = step.number === currentStep;
        var isCompleted = step.number < currentStep;
        var stepClass = isActive ? "active" : isCompleted ? "completed" : "";
        var icon, labelContent, html;
        if (isActive) {
            icon = `<div class="step-icon bg-success">${step.number}</div>`;
            labelContent = `<div class="step-label"><p class="text-success mb-1"><i class="fa-solid ${step.icon} me-1 text-success"></i> ${step.label}</p></div>`;
            html = `<div class="step ${stepClass} text-success">${icon}${labelContent}</div>`;
        } else if (isCompleted) {
            icon = `<div class="step-icon" style="background: #3c6dbd;">${step.number}</div>`;
            labelContent = `<div class="step-label"><a href="${step.url}" class="text-primary"><i class="fa-solid ${step.icon} me-1"></i>${step.label}</a></div>`;
            html = `<div class="step ${stepClass}">${icon}${labelContent}</div>`;
        } else {
            icon = `<div class="step-icon">${step.number}</div>`;
            labelContent = `<div class="step-label-not-active"><p style="margin: 0;"><i class="fa-solid ${step.icon} me-1"></i>${step.label}</p></div>`;
            html = `<div class="step ${stepClass} text-secondary">${icon}${labelContent}</div>`;
        }
        $stepper.append(html);
    });
    $(".content-header .container-fluid .row").append($stepperWrapper);
    $("#btn-action").hide();
    $("#btn-cancel").html('<i class="fa-solid fa-ban"></i></i> Cancel');
    const $cancelButton = $("#btn-cancel");
    const idAktifitas = $("#x_idAktifitas").val();
    $('#el_SubaktivitasNilaiAgreement_LastUpdatedBy').addClass('d-flex gap-3');
    $('#el_SubaktivitasNilaiAgreement_LastUpdatedBy').append(`
        <button type="button" class="btn btn-primary ew-btn ps-2" expand-log="false">
            <i class="fa-solid fa-caret-right fa-2xl me-2 caret-icon rotate-right"></i>
            Log History
            <i class="fa-solid fa-clock-rotate-left ms-1"></i> 
        </button>
    `);
    $(document).on('click', 'button[expand-log]', function () {
        const $btn = $(this);
        const isExpanded = $btn.attr('expand-log') === 'true';
        const $row = $('#log-table-row');
        const $wrapper = $('#log-table-wrapper');
        const $caret = $btn.find('.caret-icon');
        if (!isExpanded) {
            $btn.attr('expand-log', 'true');
            $row.removeClass('d-none');
            setTimeout(() => {
                $wrapper.css({
                    maxHeight: '500px'
                });
            }, 10);
            $caret.removeClass('rotate-right').addClass('rotate-down');
        } else {
            $btn.attr('expand-log', 'false');
            $wrapper.css({
                maxHeight: '0'
            });
            setTimeout(() => {
                $row.addClass('d-none');
            }, 600);
            $caret.removeClass('rotate-down').addClass('rotate-right');
        }
    });
    if (idAktivitas && idAktivitas !== "0") {
        $.ajax({
            url: parent_url + `api/LookUpList/sub-aktivitas/startup?idAktivitas=${idAktivitas}`,
            type: 'GET',
            success: function(response) {
                // cek status
                if ($cancelButton.length){
                    let status = response.StatusAktivitas;
                    currentStatusAktivitas = status;
                    let $customButtons = ``;
                    switch (status) {
                        case "Waiting":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-draft">
                                    <i class="fas fa-save"></i> Save
                                </button>
                            `;
                            break;
                        case "Draft":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-draft">
                                    <i class="fas fa-save"></i> Save
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completed">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `
                            break;
                        case "Completed":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-editing">
                                    <i class="fa-solid fa-pen-to-square"></i> Edit
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completedEdit">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `;
                            break;
                        case "Editing":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-editing">
                                    <i class="fa-solid fa-pen-to-square"></i> Edit
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completedEdit">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `;
                            break;
                        case "Completed Edit":
                            if (userLevel === '4'){
                                $customButtons = `
                                    <button type="button" class="btn btn-warning ew-btn ml-2" id="btn-reverse-status">
                                        <i class="fa-solid fa-pen-to-square"></i> Edit 
                                    </button>
                                `;
                            }
                            break;
                    }
                    $cancelButton.before($customButtons);
                }

                // Cek is editable
                if(!response.IsEditable || response.StatusAktivitas === "Completed Edit"){
                    $("#btn-draft").hide();
                    $("#btn-editing").hide();
                    $("#btn-completed").hide();
                    $("#btn-completedEdit").hide();
                    $('input, select, textarea').prop('disabled', true);
                    $('#catatanReverseStatusEditing').prop('disabled', false);
                }

                // Log
                const mappedData = response.LogAktivitas.map(item => ({
                    Aktivitas: item.Aktivitas,
                    Username: item.UserName,
                    StatusAktivitas: item.StatusAktivitas,
                    Tanggal: item.Tanggal,
                    Catatan: item.Catatan
                }));
                $.getScript('https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js', function () {
                        $('#r_LastUpdatedBy').after(`
                            <div id="log-table-row" class="d-none row m-0">
                                <div class="p-0 col-2"></div>
                                <div class="p-0 col-10">
                                    <div id="log-table-wrapper" style="overflow: hidden; transition: all 0.6s ease; max-height: 0;">
                                        <div id="myGrid" class="ag-theme-quartz w-100 my-3" style="height: 300px;"></div>
                                    </div>
                                </div>
                            </div>
                        `);
                        const gridOptions = {
                            rowData: mappedData,
                            columnDefs: [
                                {
                                    headerName: 'No.',
                                    valueGetter: 'node.rowIndex + 1',
                                    width: 80,
                                    filter: false
                                },
                                {
                                    headerName: 'Aktivitas',
                                    field: 'Aktivitas',
                                    flex: 1
                                },
                                {
                                    headerName: 'Username',
                                    field: 'Username',
                                    flex: 1
                                },
                                {
                                    headerName: 'Status Aktivitas',
                                    field: 'StatusAktivitas',
                                    flex: 1
                                },
                                {
                                    headerName: 'Tanggal',
                                    field: 'Tanggal',
                                    flex: 1
                                },
                                {
                                    headerName: 'Catatan',
                                    field: 'Catatan',
                                    flex: 1
                                }
                            ],
                            defaultColDef: {
                                sortable: false,
                                suppressMovable: true,
                                filter: true,
                                resizable: false
                            },
                            rowSelection: 'multiple',
                            suppressRowClickSelection: true,
                            pagination: true,
                            paginationPageSize: 10
                        };
                        const myGridElement = document.querySelector('#myGrid');
                        agGrid.createGrid(myGridElement, gridOptions);
                    });
            },
            error: function(xhr, status, error) {
                ew.alert(xhr.responseJSON.message ?? "Terjadi kesalahan dalam memuat data");
            }
        });
    } else {
        console.warn("Skipping startup API: Invalid IdAktivitas");
        $('button[expand-log]').hide(); 
        $("#btn-draft, #btn-editing, #btn-completed, #btn-completedEdit").hide();
        $('input, select, textarea').prop('disabled', true);
    }
    $("#x_Flowrate, #x_Pressure, #x_StrippingTime")
        .attr('inputmode', 'numeric')
        .on('input', function () {
            let val = $(this).val();
            let isNegative = val.startsWith('-');
            val = val.replace(',', '.');
            val = val.replace(/[^0-9.]/g, '');
            const parts = val.split('.');
            if (parts.length > 2) {
                val = parts[0] + '.' + parts.slice(1).join('');
            }
            if (isNegative) {
                val = '-' + val;
            }
            $(this).val(val);
        });

        // Reverse Status to Editing
    let reverseStatusModal = `<div class="modal fade" id="confirmReverseStatusEditingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header bg-primary">
                    <h1 class="modal-title fs-5" id="confirmReverseStatusEditingModalTitle">Konfirmasi Kembalikan Status</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form id="reverseStatusEditingModalForm">
                    <div class="modal-body px-2 py-1">
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Catatan:</label>
                            <textarea class="form-control" id="catatanReverseStatusEditing" required rows="4"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnReverseStatusEditingModalCancel">Batal</button>
                        <button type="submit" class="btn btn-primary" id="btnReverseStatusEditingModalSubmit">Lanjutkan</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>`
    $("body").append(reverseStatusModal);
    $("#btnReverseStatusEditingModalCancel").click(function (event) {
        event.preventDefault();
        $("#confirmReverseStatusEditingModal").modal("hide");
    });
    $(document).on("click", "#btn-reverse-status", function () {
        $("#confirmReverseStatusEditingModal").modal("show");
    });
});
</script>
