@{
    // View
    View = this;

    // Check action result
    if (subAktivitasStopPenyaluranPipaList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasStopPenyaluranPipaList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasStopPenyaluranPipaList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasStopPenyaluranPipaList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasStopPenyaluranPipa: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasStopPenyaluranPipaList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasStopPenyaluranPipaList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasStopPenyaluranPipaList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasStopPenyaluranPipaList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasStopPenyaluranPipaList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasStopPenyaluranPipaList.TotalRecords > 0 && subAktivitasStopPenyaluranPipaList.ExportOptions.Visible) {
    subAktivitasStopPenyaluranPipaList.ExportOptions.Render("body");
}
@if (subAktivitasStopPenyaluranPipaList.ImportOptions.Visible) {
    subAktivitasStopPenyaluranPipaList.ImportOptions.Render("body");
}
@if (subAktivitasStopPenyaluranPipaList.SearchOptions.Visible) {
    subAktivitasStopPenyaluranPipaList.SearchOptions.Render("body");
}
@if (subAktivitasStopPenyaluranPipaList.FilterOptions.Visible) {
    subAktivitasStopPenyaluranPipaList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasStopPenyaluranPipaList.IsModal) {
<form name="fSubAktivitasStopPenyaluranPipasrch" id="fSubAktivitasStopPenyaluranPipasrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasStopPenyaluranPipasrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasStopPenyaluranPipaList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasStopPenyaluranPipaList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasStopPenyaluranPipa: currentTable } });
var currentForm;
var fSubAktivitasStopPenyaluranPipasrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasStopPenyaluranPipasrch")
        .setPageId("list")
@if (subAktivitasStopPenyaluranPipaList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasStopPenyaluranPipaList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasStopPenyaluranPipaList.IsExport() && Empty(subAktivitasStopPenyaluranPipaList.CurrentAction) && subAktivitasStopPenyaluranPipaList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasStopPenyaluranPipaList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasStopPenyaluranPipaList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasStopPenyaluranPipaList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasStopPenyaluranPipaList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasStopPenyaluranPipasrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasStopPenyaluranPipaList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasStopPenyaluranPipasrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasStopPenyaluranPipaList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasStopPenyaluranPipasrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasStopPenyaluranPipaList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasStopPenyaluranPipasrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasStopPenyaluranPipaList.ShowPageHeader()
@subAktivitasStopPenyaluranPipaList.ShowMessages()
<main class="list @(subAktivitasStopPenyaluranPipaList.TotalRecords == 0 && !subAktivitasStopPenyaluranPipaList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasStopPenyaluranPipaList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasStopPenyaluranPipaList.TotalRecords > 0 || !Empty(subAktivitasStopPenyaluranPipaList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasStopPenyaluranPipaList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasStopPenyaluranPipaList.TableGridClass)">
<form name="@(subAktivitasStopPenyaluranPipaList.FormName)" id="@(subAktivitasStopPenyaluranPipaList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasStopPenyaluranPipaList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasStopPenyaluranPipaList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasStopPenyaluranPipa" class="card-body ew-grid-middle-panel @(subAktivitasStopPenyaluranPipaList.TableContainerClass)" style="@(subAktivitasStopPenyaluranPipaList.TableContainerStyle)">
@if (subAktivitasStopPenyaluranPipaList.TotalRecords > 0 || subAktivitasStopPenyaluranPipaList.IsGridEdit || subAktivitasStopPenyaluranPipaList.IsMultiEdit) {
<table id="tbl_SubAktivitasStopPenyaluranPipalist" class="@(subAktivitasStopPenyaluranPipaList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasStopPenyaluranPipaList.RowType = RowType.Header;

    // Render list options
    await subAktivitasStopPenyaluranPipaList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasStopPenyaluranPipaList.ListOptions.RenderHeader("left")
@if (subAktivitasStopPenyaluranPipaList.id.Visible) { // subAktivitasStopPenyaluranPipaList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasStopPenyaluranPipaList.id.HeaderCellClass)"><div id="elh_SubAktivitasStopPenyaluranPipa_id" class="SubAktivitasStopPenyaluranPipa_id">@Html.Raw(subAktivitasStopPenyaluranPipaList.RenderFieldHeader(subAktivitasStopPenyaluranPipaList.id))</div></th>
} @* subAktivitasStopPenyaluranPipaList.id.Visible (end) *@
@if (subAktivitasStopPenyaluranPipaList.NoReferensi.Visible) { // subAktivitasStopPenyaluranPipaList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasStopPenyaluranPipaList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasStopPenyaluranPipa_NoReferensi" class="SubAktivitasStopPenyaluranPipa_NoReferensi">@Html.Raw(subAktivitasStopPenyaluranPipaList.RenderFieldHeader(subAktivitasStopPenyaluranPipaList.NoReferensi))</div></th>
} @* subAktivitasStopPenyaluranPipaList.NoReferensi.Visible (end) *@
@if (subAktivitasStopPenyaluranPipaList.idProses.Visible) { // subAktivitasStopPenyaluranPipaList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasStopPenyaluranPipaList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasStopPenyaluranPipa_idProses" class="SubAktivitasStopPenyaluranPipa_idProses">@Html.Raw(subAktivitasStopPenyaluranPipaList.RenderFieldHeader(subAktivitasStopPenyaluranPipaList.idProses))</div></th>
} @* subAktivitasStopPenyaluranPipaList.idProses.Visible (end) *@
@if (subAktivitasStopPenyaluranPipaList.idAktifitas.Visible) { // subAktivitasStopPenyaluranPipaList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasStopPenyaluranPipaList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasStopPenyaluranPipa_idAktifitas" class="SubAktivitasStopPenyaluranPipa_idAktifitas">@Html.Raw(subAktivitasStopPenyaluranPipaList.RenderFieldHeader(subAktivitasStopPenyaluranPipaList.idAktifitas))</div></th>
} @* subAktivitasStopPenyaluranPipaList.idAktifitas.Visible (end) *@
@if (subAktivitasStopPenyaluranPipaList.StatusAktivitas.Visible) { // subAktivitasStopPenyaluranPipaList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasStopPenyaluranPipaList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasStopPenyaluranPipa_StatusAktivitas" class="SubAktivitasStopPenyaluranPipa_StatusAktivitas">@Html.Raw(subAktivitasStopPenyaluranPipaList.RenderFieldHeader(subAktivitasStopPenyaluranPipaList.StatusAktivitas))</div></th>
} @* subAktivitasStopPenyaluranPipaList.StatusAktivitas.Visible (end) *@
@if (subAktivitasStopPenyaluranPipaList.LastUpdatedBy.Visible) { // subAktivitasStopPenyaluranPipaList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasStopPenyaluranPipaList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasStopPenyaluranPipa_LastUpdatedBy" class="SubAktivitasStopPenyaluranPipa_LastUpdatedBy">@Html.Raw(subAktivitasStopPenyaluranPipaList.RenderFieldHeader(subAktivitasStopPenyaluranPipaList.LastUpdatedBy))</div></th>
} @* subAktivitasStopPenyaluranPipaList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasStopPenyaluranPipaList.lastUpdatedDate.Visible) { // subAktivitasStopPenyaluranPipaList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasStopPenyaluranPipaList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasStopPenyaluranPipa_lastUpdatedDate" class="SubAktivitasStopPenyaluranPipa_lastUpdatedDate">@Html.Raw(subAktivitasStopPenyaluranPipaList.RenderFieldHeader(subAktivitasStopPenyaluranPipaList.lastUpdatedDate))</div></th>
} @* subAktivitasStopPenyaluranPipaList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasStopPenyaluranPipaList.Tanggal.Visible) { // subAktivitasStopPenyaluranPipaList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasStopPenyaluranPipaList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasStopPenyaluranPipa_Tanggal" class="SubAktivitasStopPenyaluranPipa_Tanggal">@Html.Raw(subAktivitasStopPenyaluranPipaList.RenderFieldHeader(subAktivitasStopPenyaluranPipaList.Tanggal))</div></th>
} @* subAktivitasStopPenyaluranPipaList.Tanggal.Visible (end) *@
@if (subAktivitasStopPenyaluranPipaList.userInput.Visible) { // subAktivitasStopPenyaluranPipaList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasStopPenyaluranPipaList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasStopPenyaluranPipa_userInput" class="SubAktivitasStopPenyaluranPipa_userInput">@Html.Raw(subAktivitasStopPenyaluranPipaList.RenderFieldHeader(subAktivitasStopPenyaluranPipaList.userInput))</div></th>
} @* subAktivitasStopPenyaluranPipaList.userInput.Visible (end) *@
@if (subAktivitasStopPenyaluranPipaList.etlDate.Visible) { // subAktivitasStopPenyaluranPipaList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasStopPenyaluranPipaList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasStopPenyaluranPipa_etlDate" class="SubAktivitasStopPenyaluranPipa_etlDate">@Html.Raw(subAktivitasStopPenyaluranPipaList.RenderFieldHeader(subAktivitasStopPenyaluranPipaList.etlDate))</div></th>
} @* subAktivitasStopPenyaluranPipaList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasStopPenyaluranPipaList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasStopPenyaluranPipaList.PageNumber)">
@{
    await subAktivitasStopPenyaluranPipaList.SetupGrid();
    bool eof = subAktivitasStopPenyaluranPipaList.Recordset == null; // DN
}
@while (subAktivitasStopPenyaluranPipaList.RecordCount < subAktivitasStopPenyaluranPipaList.StopRecord || SameString(subAktivitasStopPenyaluranPipaList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasStopPenyaluranPipaList.RowIndex, "$rowindex$") &&
        (!subAktivitasStopPenyaluranPipaList.IsGridAdd || subAktivitasStopPenyaluranPipaList.CurrentMode == "copy") &&
        (!((subAktivitasStopPenyaluranPipaList.IsCopy || subAktivitasStopPenyaluranPipaList.IsAdd) && subAktivitasStopPenyaluranPipaList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasStopPenyaluranPipaList.Recordset.ReadAsync();
    subAktivitasStopPenyaluranPipaList.RecordCount++;
    if (subAktivitasStopPenyaluranPipaList.RecordCount >= subAktivitasStopPenyaluranPipaList.StartRecord) {
        await subAktivitasStopPenyaluranPipaList.SetupRow();
    <tr @Html.Raw(subAktivitasStopPenyaluranPipaList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasStopPenyaluranPipaList.ListOptions.RenderBody("left", subAktivitasStopPenyaluranPipaList.RowCount)
    @if (subAktivitasStopPenyaluranPipaList.id.Visible) { // subAktivitasStopPenyaluranPipaList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasStopPenyaluranPipaList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasStopPenyaluranPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStopPenyaluranPipaList.RowCount)_SubAktivitasStopPenyaluranPipa_id" class="el_SubAktivitasStopPenyaluranPipa_id">
<span @Html.Raw(subAktivitasStopPenyaluranPipaList.id.ViewAttributes)>
@Html.Raw(subAktivitasStopPenyaluranPipaList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopPenyaluranPipaList.id.Visible (end) *@
    @if (subAktivitasStopPenyaluranPipaList.NoReferensi.Visible) { // subAktivitasStopPenyaluranPipaList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasStopPenyaluranPipaList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasStopPenyaluranPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStopPenyaluranPipaList.RowCount)_SubAktivitasStopPenyaluranPipa_NoReferensi" class="el_SubAktivitasStopPenyaluranPipa_NoReferensi">
<span @Html.Raw(subAktivitasStopPenyaluranPipaList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasStopPenyaluranPipaList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopPenyaluranPipaList.NoReferensi.Visible (end) *@
    @if (subAktivitasStopPenyaluranPipaList.idProses.Visible) { // subAktivitasStopPenyaluranPipaList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasStopPenyaluranPipaList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasStopPenyaluranPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStopPenyaluranPipaList.RowCount)_SubAktivitasStopPenyaluranPipa_idProses" class="el_SubAktivitasStopPenyaluranPipa_idProses">
<span @Html.Raw(subAktivitasStopPenyaluranPipaList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasStopPenyaluranPipaList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopPenyaluranPipaList.idProses.Visible (end) *@
    @if (subAktivitasStopPenyaluranPipaList.idAktifitas.Visible) { // subAktivitasStopPenyaluranPipaList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasStopPenyaluranPipaList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasStopPenyaluranPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStopPenyaluranPipaList.RowCount)_SubAktivitasStopPenyaluranPipa_idAktifitas" class="el_SubAktivitasStopPenyaluranPipa_idAktifitas">
<span @Html.Raw(subAktivitasStopPenyaluranPipaList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasStopPenyaluranPipaList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopPenyaluranPipaList.idAktifitas.Visible (end) *@
    @if (subAktivitasStopPenyaluranPipaList.StatusAktivitas.Visible) { // subAktivitasStopPenyaluranPipaList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasStopPenyaluranPipaList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasStopPenyaluranPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStopPenyaluranPipaList.RowCount)_SubAktivitasStopPenyaluranPipa_StatusAktivitas" class="el_SubAktivitasStopPenyaluranPipa_StatusAktivitas">
<span @Html.Raw(subAktivitasStopPenyaluranPipaList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasStopPenyaluranPipaList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopPenyaluranPipaList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasStopPenyaluranPipaList.LastUpdatedBy.Visible) { // subAktivitasStopPenyaluranPipaList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasStopPenyaluranPipaList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasStopPenyaluranPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStopPenyaluranPipaList.RowCount)_SubAktivitasStopPenyaluranPipa_LastUpdatedBy" class="el_SubAktivitasStopPenyaluranPipa_LastUpdatedBy">
<span @Html.Raw(subAktivitasStopPenyaluranPipaList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasStopPenyaluranPipaList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopPenyaluranPipaList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasStopPenyaluranPipaList.lastUpdatedDate.Visible) { // subAktivitasStopPenyaluranPipaList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasStopPenyaluranPipaList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasStopPenyaluranPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStopPenyaluranPipaList.RowCount)_SubAktivitasStopPenyaluranPipa_lastUpdatedDate" class="el_SubAktivitasStopPenyaluranPipa_lastUpdatedDate">
<span @Html.Raw(subAktivitasStopPenyaluranPipaList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasStopPenyaluranPipaList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopPenyaluranPipaList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasStopPenyaluranPipaList.Tanggal.Visible) { // subAktivitasStopPenyaluranPipaList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasStopPenyaluranPipaList.Tanggal.CellAttributes)>
<span id="el@(SameString(subAktivitasStopPenyaluranPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStopPenyaluranPipaList.RowCount)_SubAktivitasStopPenyaluranPipa_Tanggal" class="el_SubAktivitasStopPenyaluranPipa_Tanggal">
<span @Html.Raw(subAktivitasStopPenyaluranPipaList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasStopPenyaluranPipaList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopPenyaluranPipaList.Tanggal.Visible (end) *@
    @if (subAktivitasStopPenyaluranPipaList.userInput.Visible) { // subAktivitasStopPenyaluranPipaList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasStopPenyaluranPipaList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasStopPenyaluranPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStopPenyaluranPipaList.RowCount)_SubAktivitasStopPenyaluranPipa_userInput" class="el_SubAktivitasStopPenyaluranPipa_userInput">
<span @Html.Raw(subAktivitasStopPenyaluranPipaList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasStopPenyaluranPipaList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopPenyaluranPipaList.userInput.Visible (end) *@
    @if (subAktivitasStopPenyaluranPipaList.etlDate.Visible) { // subAktivitasStopPenyaluranPipaList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasStopPenyaluranPipaList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasStopPenyaluranPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStopPenyaluranPipaList.RowCount)_SubAktivitasStopPenyaluranPipa_etlDate" class="el_SubAktivitasStopPenyaluranPipa_etlDate">
<span @Html.Raw(subAktivitasStopPenyaluranPipaList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasStopPenyaluranPipaList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopPenyaluranPipaList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasStopPenyaluranPipaList.ListOptions.RenderBody("right", subAktivitasStopPenyaluranPipaList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasStopPenyaluranPipaList.RowIndex, "$rowindex$"))
        subAktivitasStopPenyaluranPipaList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasStopPenyaluranPipaList.IsCopy || subAktivitasStopPenyaluranPipaList.IsAdd) && subAktivitasStopPenyaluranPipaList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasStopPenyaluranPipaList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasStopPenyaluranPipaList.CurrentAction) && !subAktivitasStopPenyaluranPipaList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasStopPenyaluranPipaList.CloseRecordset(); }
@if (!subAktivitasStopPenyaluranPipaList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasStopPenyaluranPipaList.IsGridAdd && !(subAktivitasStopPenyaluranPipaList.IsGridEdit && subAktivitasStopPenyaluranPipaList.ModalGridEdit) && !subAktivitasStopPenyaluranPipaList.IsMultiEdit) {
@Html.Raw(subAktivitasStopPenyaluranPipaList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasStopPenyaluranPipaList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasStopPenyaluranPipaList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasStopPenyaluranPipaList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasStopPenyaluranPipaList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasStopPenyaluranPipaList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasStopPenyaluranPipa");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
