@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiARsesuaiCqdPipaList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiARsesuaiCqdPipaList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasNilaiARsesuaiCqdPipaList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiARsesuaiCqdPipaList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiARsesuaiCQDPipa: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasNilaiARsesuaiCqdPipaList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasNilaiARsesuaiCqdPipaList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasNilaiARsesuaiCqdPipaList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasNilaiARsesuaiCqdPipaList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasNilaiARsesuaiCqdPipaList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasNilaiARsesuaiCqdPipaList.TotalRecords > 0 && subAktivitasNilaiARsesuaiCqdPipaList.ExportOptions.Visible) {
    subAktivitasNilaiARsesuaiCqdPipaList.ExportOptions.Render("body");
}
@if (subAktivitasNilaiARsesuaiCqdPipaList.ImportOptions.Visible) {
    subAktivitasNilaiARsesuaiCqdPipaList.ImportOptions.Render("body");
}
@if (subAktivitasNilaiARsesuaiCqdPipaList.SearchOptions.Visible) {
    subAktivitasNilaiARsesuaiCqdPipaList.SearchOptions.Render("body");
}
@if (subAktivitasNilaiARsesuaiCqdPipaList.FilterOptions.Visible) {
    subAktivitasNilaiARsesuaiCqdPipaList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasNilaiARsesuaiCqdPipaList.IsModal) {
<form name="fSubAktivitasNilaiARsesuaiCQDPipasrch" id="fSubAktivitasNilaiARsesuaiCQDPipasrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasNilaiARsesuaiCQDPipasrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasNilaiARsesuaiCqdPipaList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiARsesuaiCqdPipaList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiARsesuaiCQDPipa: currentTable } });
var currentForm;
var fSubAktivitasNilaiARsesuaiCQDPipasrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiARsesuaiCQDPipasrch")
        .setPageId("list")
@if (subAktivitasNilaiARsesuaiCqdPipaList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasNilaiARsesuaiCqdPipaList.IsExport() && Empty(subAktivitasNilaiARsesuaiCqdPipaList.CurrentAction) && subAktivitasNilaiARsesuaiCqdPipaList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasNilaiARsesuaiCqdPipaList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasNilaiARsesuaiCqdPipaList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasNilaiARsesuaiCqdPipaList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasNilaiARsesuaiCQDPipasrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiARsesuaiCqdPipaList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasNilaiARsesuaiCQDPipasrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiARsesuaiCqdPipaList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasNilaiARsesuaiCQDPipasrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiARsesuaiCqdPipaList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasNilaiARsesuaiCQDPipasrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasNilaiARsesuaiCqdPipaList.ShowPageHeader()
@subAktivitasNilaiARsesuaiCqdPipaList.ShowMessages()
<main class="list @(subAktivitasNilaiARsesuaiCqdPipaList.TotalRecords == 0 && !subAktivitasNilaiARsesuaiCqdPipaList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasNilaiARsesuaiCqdPipaList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasNilaiARsesuaiCqdPipaList.TotalRecords > 0 || !Empty(subAktivitasNilaiARsesuaiCqdPipaList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasNilaiARsesuaiCqdPipaList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasNilaiARsesuaiCqdPipaList.TableGridClass)">
<form name="@(subAktivitasNilaiARsesuaiCqdPipaList.FormName)" id="@(subAktivitasNilaiARsesuaiCqdPipaList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasNilaiARsesuaiCqdPipaList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasNilaiARsesuaiCqdPipaList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasNilaiARsesuaiCQDPipa" class="card-body ew-grid-middle-panel @(subAktivitasNilaiARsesuaiCqdPipaList.TableContainerClass)" style="@(subAktivitasNilaiARsesuaiCqdPipaList.TableContainerStyle)">
@if (subAktivitasNilaiARsesuaiCqdPipaList.TotalRecords > 0 || subAktivitasNilaiARsesuaiCqdPipaList.IsGridEdit || subAktivitasNilaiARsesuaiCqdPipaList.IsMultiEdit) {
<table id="tbl_SubAktivitasNilaiARsesuaiCQDPipalist" class="@(subAktivitasNilaiARsesuaiCqdPipaList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasNilaiARsesuaiCqdPipaList.RowType = RowType.Header;

    // Render list options
    await subAktivitasNilaiARsesuaiCqdPipaList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasNilaiARsesuaiCqdPipaList.ListOptions.RenderHeader("left")
@if (subAktivitasNilaiARsesuaiCqdPipaList.id.Visible) { // subAktivitasNilaiARsesuaiCqdPipaList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasNilaiARsesuaiCqdPipaList.id.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDPipa_id" class="SubAktivitasNilaiARsesuaiCQDPipa_id">@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdPipaList.id))</div></th>
} @* subAktivitasNilaiARsesuaiCqdPipaList.id.Visible (end) *@
@if (subAktivitasNilaiARsesuaiCqdPipaList.idProses.Visible) { // subAktivitasNilaiARsesuaiCqdPipaList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasNilaiARsesuaiCqdPipaList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDPipa_idProses" class="SubAktivitasNilaiARsesuaiCQDPipa_idProses">@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdPipaList.idProses))</div></th>
} @* subAktivitasNilaiARsesuaiCqdPipaList.idProses.Visible (end) *@
@if (subAktivitasNilaiARsesuaiCqdPipaList.idAktifitas.Visible) { // subAktivitasNilaiARsesuaiCqdPipaList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasNilaiARsesuaiCqdPipaList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDPipa_idAktifitas" class="SubAktivitasNilaiARsesuaiCQDPipa_idAktifitas">@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdPipaList.idAktifitas))</div></th>
} @* subAktivitasNilaiARsesuaiCqdPipaList.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiARsesuaiCqdPipaList.NoReferensi.Visible) { // subAktivitasNilaiARsesuaiCqdPipaList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasNilaiARsesuaiCqdPipaList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDPipa_NoReferensi" class="SubAktivitasNilaiARsesuaiCQDPipa_NoReferensi">@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdPipaList.NoReferensi))</div></th>
} @* subAktivitasNilaiARsesuaiCqdPipaList.NoReferensi.Visible (end) *@
@if (subAktivitasNilaiARsesuaiCqdPipaList.KlObs.Visible) { // subAktivitasNilaiARsesuaiCqdPipaList.KlObs.Visible (begin)
        <th data-name="KlObs" class="@(subAktivitasNilaiARsesuaiCqdPipaList.KlObs.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDPipa_KlObs" class="SubAktivitasNilaiARsesuaiCQDPipa_KlObs">@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdPipaList.KlObs))</div></th>
} @* subAktivitasNilaiARsesuaiCqdPipaList.KlObs.Visible (end) *@
@if (subAktivitasNilaiARsesuaiCqdPipaList.Kl15.Visible) { // subAktivitasNilaiARsesuaiCqdPipaList.Kl15.Visible (begin)
        <th data-name="Kl15" class="@(subAktivitasNilaiARsesuaiCqdPipaList.Kl15.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDPipa_Kl15" class="SubAktivitasNilaiARsesuaiCQDPipa_Kl15">@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdPipaList.Kl15))</div></th>
} @* subAktivitasNilaiARsesuaiCqdPipaList.Kl15.Visible (end) *@
@if (subAktivitasNilaiARsesuaiCqdPipaList.Barrels.Visible) { // subAktivitasNilaiARsesuaiCqdPipaList.Barrels.Visible (begin)
        <th data-name="Barrels" class="@(subAktivitasNilaiARsesuaiCqdPipaList.Barrels.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDPipa_Barrels" class="SubAktivitasNilaiARsesuaiCQDPipa_Barrels">@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdPipaList.Barrels))</div></th>
} @* subAktivitasNilaiARsesuaiCqdPipaList.Barrels.Visible (end) *@
@if (subAktivitasNilaiARsesuaiCqdPipaList.LT.Visible) { // subAktivitasNilaiARsesuaiCqdPipaList.LT.Visible (begin)
        <th data-name="LT" class="@(subAktivitasNilaiARsesuaiCqdPipaList.LT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDPipa_LT" class="SubAktivitasNilaiARsesuaiCQDPipa_LT">@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdPipaList.LT))</div></th>
} @* subAktivitasNilaiARsesuaiCqdPipaList.LT.Visible (end) *@
@if (subAktivitasNilaiARsesuaiCqdPipaList.MT.Visible) { // subAktivitasNilaiARsesuaiCqdPipaList.MT.Visible (begin)
        <th data-name="MT" class="@(subAktivitasNilaiARsesuaiCqdPipaList.MT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDPipa_MT" class="SubAktivitasNilaiARsesuaiCQDPipa_MT">@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdPipaList.MT))</div></th>
} @* subAktivitasNilaiARsesuaiCqdPipaList.MT.Visible (end) *@
@if (subAktivitasNilaiARsesuaiCqdPipaList.userInput.Visible) { // subAktivitasNilaiARsesuaiCqdPipaList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasNilaiARsesuaiCqdPipaList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDPipa_userInput" class="SubAktivitasNilaiARsesuaiCQDPipa_userInput">@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdPipaList.userInput))</div></th>
} @* subAktivitasNilaiARsesuaiCqdPipaList.userInput.Visible (end) *@
@if (subAktivitasNilaiARsesuaiCqdPipaList.etlDate.Visible) { // subAktivitasNilaiARsesuaiCqdPipaList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasNilaiARsesuaiCqdPipaList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDPipa_etlDate" class="SubAktivitasNilaiARsesuaiCQDPipa_etlDate">@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdPipaList.etlDate))</div></th>
} @* subAktivitasNilaiARsesuaiCqdPipaList.etlDate.Visible (end) *@
@if (subAktivitasNilaiARsesuaiCqdPipaList.LastUpdatedBy.Visible) { // subAktivitasNilaiARsesuaiCqdPipaList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasNilaiARsesuaiCqdPipaList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDPipa_LastUpdatedBy" class="SubAktivitasNilaiARsesuaiCQDPipa_LastUpdatedBy">@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdPipaList.LastUpdatedBy))</div></th>
} @* subAktivitasNilaiARsesuaiCqdPipaList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiARsesuaiCqdPipaList.lastUpdatedDate.Visible) { // subAktivitasNilaiARsesuaiCqdPipaList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasNilaiARsesuaiCqdPipaList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDPipa_lastUpdatedDate" class="SubAktivitasNilaiARsesuaiCQDPipa_lastUpdatedDate">@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdPipaList.lastUpdatedDate))</div></th>
} @* subAktivitasNilaiARsesuaiCqdPipaList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasNilaiARsesuaiCqdPipaList.StatusAktivitas.Visible) { // subAktivitasNilaiARsesuaiCqdPipaList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasNilaiARsesuaiCqdPipaList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDPipa_StatusAktivitas" class="SubAktivitasNilaiARsesuaiCQDPipa_StatusAktivitas">@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdPipaList.StatusAktivitas))</div></th>
} @* subAktivitasNilaiARsesuaiCqdPipaList.StatusAktivitas.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasNilaiARsesuaiCqdPipaList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasNilaiARsesuaiCqdPipaList.PageNumber)">
@{
    await subAktivitasNilaiARsesuaiCqdPipaList.SetupGrid();
    bool eof = subAktivitasNilaiARsesuaiCqdPipaList.Recordset == null; // DN
}
@while (subAktivitasNilaiARsesuaiCqdPipaList.RecordCount < subAktivitasNilaiARsesuaiCqdPipaList.StopRecord || SameString(subAktivitasNilaiARsesuaiCqdPipaList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasNilaiARsesuaiCqdPipaList.RowIndex, "$rowindex$") &&
        (!subAktivitasNilaiARsesuaiCqdPipaList.IsGridAdd || subAktivitasNilaiARsesuaiCqdPipaList.CurrentMode == "copy") &&
        (!((subAktivitasNilaiARsesuaiCqdPipaList.IsCopy || subAktivitasNilaiARsesuaiCqdPipaList.IsAdd) && subAktivitasNilaiARsesuaiCqdPipaList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasNilaiARsesuaiCqdPipaList.Recordset.ReadAsync();
    subAktivitasNilaiARsesuaiCqdPipaList.RecordCount++;
    if (subAktivitasNilaiARsesuaiCqdPipaList.RecordCount >= subAktivitasNilaiARsesuaiCqdPipaList.StartRecord) {
        await subAktivitasNilaiARsesuaiCqdPipaList.SetupRow();
    <tr @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasNilaiARsesuaiCqdPipaList.ListOptions.RenderBody("left", subAktivitasNilaiARsesuaiCqdPipaList.RowCount)
    @if (subAktivitasNilaiARsesuaiCqdPipaList.id.Visible) { // subAktivitasNilaiARsesuaiCqdPipaList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdPipaList.RowCount)_SubAktivitasNilaiARsesuaiCQDPipa_id" class="el_SubAktivitasNilaiARsesuaiCQDPipa_id">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.id.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdPipaList.id.Visible (end) *@
    @if (subAktivitasNilaiARsesuaiCqdPipaList.idProses.Visible) { // subAktivitasNilaiARsesuaiCqdPipaList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdPipaList.RowCount)_SubAktivitasNilaiARsesuaiCQDPipa_idProses" class="el_SubAktivitasNilaiARsesuaiCQDPipa_idProses">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdPipaList.idProses.Visible (end) *@
    @if (subAktivitasNilaiARsesuaiCqdPipaList.idAktifitas.Visible) { // subAktivitasNilaiARsesuaiCqdPipaList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdPipaList.RowCount)_SubAktivitasNilaiARsesuaiCQDPipa_idAktifitas" class="el_SubAktivitasNilaiARsesuaiCQDPipa_idAktifitas">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdPipaList.idAktifitas.Visible (end) *@
    @if (subAktivitasNilaiARsesuaiCqdPipaList.NoReferensi.Visible) { // subAktivitasNilaiARsesuaiCqdPipaList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdPipaList.RowCount)_SubAktivitasNilaiARsesuaiCQDPipa_NoReferensi" class="el_SubAktivitasNilaiARsesuaiCQDPipa_NoReferensi">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdPipaList.NoReferensi.Visible (end) *@
    @if (subAktivitasNilaiARsesuaiCqdPipaList.KlObs.Visible) { // subAktivitasNilaiARsesuaiCqdPipaList.KlObs.Visible (begin)
        <td data-name="KlObs" @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.KlObs.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdPipaList.RowCount)_SubAktivitasNilaiARsesuaiCQDPipa_KlObs" class="el_SubAktivitasNilaiARsesuaiCQDPipa_KlObs">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.KlObs.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.KlObs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdPipaList.KlObs.Visible (end) *@
    @if (subAktivitasNilaiARsesuaiCqdPipaList.Kl15.Visible) { // subAktivitasNilaiARsesuaiCqdPipaList.Kl15.Visible (begin)
        <td data-name="Kl15" @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.Kl15.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdPipaList.RowCount)_SubAktivitasNilaiARsesuaiCQDPipa_Kl15" class="el_SubAktivitasNilaiARsesuaiCQDPipa_Kl15">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.Kl15.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.Kl15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdPipaList.Kl15.Visible (end) *@
    @if (subAktivitasNilaiARsesuaiCqdPipaList.Barrels.Visible) { // subAktivitasNilaiARsesuaiCqdPipaList.Barrels.Visible (begin)
        <td data-name="Barrels" @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.Barrels.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdPipaList.RowCount)_SubAktivitasNilaiARsesuaiCQDPipa_Barrels" class="el_SubAktivitasNilaiARsesuaiCQDPipa_Barrels">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.Barrels.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.Barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdPipaList.Barrels.Visible (end) *@
    @if (subAktivitasNilaiARsesuaiCqdPipaList.LT.Visible) { // subAktivitasNilaiARsesuaiCqdPipaList.LT.Visible (begin)
        <td data-name="LT" @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.LT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdPipaList.RowCount)_SubAktivitasNilaiARsesuaiCQDPipa_LT" class="el_SubAktivitasNilaiARsesuaiCQDPipa_LT">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.LT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.LT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdPipaList.LT.Visible (end) *@
    @if (subAktivitasNilaiARsesuaiCqdPipaList.MT.Visible) { // subAktivitasNilaiARsesuaiCqdPipaList.MT.Visible (begin)
        <td data-name="MT" @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.MT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdPipaList.RowCount)_SubAktivitasNilaiARsesuaiCQDPipa_MT" class="el_SubAktivitasNilaiARsesuaiCQDPipa_MT">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.MT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdPipaList.MT.Visible (end) *@
    @if (subAktivitasNilaiARsesuaiCqdPipaList.userInput.Visible) { // subAktivitasNilaiARsesuaiCqdPipaList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdPipaList.RowCount)_SubAktivitasNilaiARsesuaiCQDPipa_userInput" class="el_SubAktivitasNilaiARsesuaiCQDPipa_userInput">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdPipaList.userInput.Visible (end) *@
    @if (subAktivitasNilaiARsesuaiCqdPipaList.etlDate.Visible) { // subAktivitasNilaiARsesuaiCqdPipaList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdPipaList.RowCount)_SubAktivitasNilaiARsesuaiCQDPipa_etlDate" class="el_SubAktivitasNilaiARsesuaiCQDPipa_etlDate">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdPipaList.etlDate.Visible (end) *@
    @if (subAktivitasNilaiARsesuaiCqdPipaList.LastUpdatedBy.Visible) { // subAktivitasNilaiARsesuaiCqdPipaList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdPipaList.RowCount)_SubAktivitasNilaiARsesuaiCQDPipa_LastUpdatedBy" class="el_SubAktivitasNilaiARsesuaiCQDPipa_LastUpdatedBy">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdPipaList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasNilaiARsesuaiCqdPipaList.lastUpdatedDate.Visible) { // subAktivitasNilaiARsesuaiCqdPipaList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdPipaList.RowCount)_SubAktivitasNilaiARsesuaiCQDPipa_lastUpdatedDate" class="el_SubAktivitasNilaiARsesuaiCQDPipa_lastUpdatedDate">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdPipaList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasNilaiARsesuaiCqdPipaList.StatusAktivitas.Visible) { // subAktivitasNilaiARsesuaiCqdPipaList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdPipaList.RowCount)_SubAktivitasNilaiARsesuaiCQDPipa_StatusAktivitas" class="el_SubAktivitasNilaiARsesuaiCQDPipa_StatusAktivitas">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdPipaList.StatusAktivitas.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasNilaiARsesuaiCqdPipaList.ListOptions.RenderBody("right", subAktivitasNilaiARsesuaiCqdPipaList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasNilaiARsesuaiCqdPipaList.RowIndex, "$rowindex$"))
        subAktivitasNilaiARsesuaiCqdPipaList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasNilaiARsesuaiCqdPipaList.IsCopy || subAktivitasNilaiARsesuaiCqdPipaList.IsAdd) && subAktivitasNilaiARsesuaiCqdPipaList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasNilaiARsesuaiCqdPipaList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasNilaiARsesuaiCqdPipaList.CurrentAction) && !subAktivitasNilaiARsesuaiCqdPipaList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasNilaiARsesuaiCqdPipaList.CloseRecordset(); }
@if (!subAktivitasNilaiARsesuaiCqdPipaList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasNilaiARsesuaiCqdPipaList.IsGridAdd && !(subAktivitasNilaiARsesuaiCqdPipaList.IsGridEdit && subAktivitasNilaiARsesuaiCqdPipaList.ModalGridEdit) && !subAktivitasNilaiARsesuaiCqdPipaList.IsMultiEdit) {
@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasNilaiARsesuaiCqdPipaList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasNilaiARsesuaiCqdPipaList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasNilaiARsesuaiCqdPipaList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasNilaiARsesuaiCqdPipaList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasNilaiARsesuaiCqdPipaList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasNilaiARsesuaiCQDPipa");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
