@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.ShowPageHeader()
@subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGedit" id="fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGedit" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputLogbookPenerimaanSTSPymLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["Nama_Kapal", [fields.Nama_Kapal.visible && fields.Nama_Kapal.required ? ew.Validators.required(fields.Nama_Kapal.caption) : null], fields.Nama_Kapal.isInvalid],
            ["Tanggal", [fields.Tanggal.visible && fields.Tanggal.required ? ew.Validators.required(fields.Tanggal.caption) : null, ew.Validators.datetime(fields.Tanggal.clientFormatPattern)], fields.Tanggal.isInvalid],
            ["Nama_Kegiatan", [fields.Nama_Kegiatan.visible && fields.Nama_Kegiatan.required ? ew.Validators.required(fields.Nama_Kegiatan.caption) : null], fields.Nama_Kegiatan.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["Density", [fields.Density.visible && fields.Density.required ? ew.Validators.required(fields.Density.caption) : null], fields.Density.isInvalid],
            ["Temperatur", [fields.Temperatur.visible && fields.Temperatur.required ? ew.Validators.required(fields.Temperatur.caption) : null], fields.Temperatur.isInvalid],
            ["Keterangan", [fields.Keterangan.visible && fields.Keterangan.required ? ew.Validators.required(fields.Keterangan.caption) : null], fields.Keterangan.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["SubAktivitasHasilPemeriksaanId", [fields.SubAktivitasHasilPemeriksaanId.visible && fields.SubAktivitasHasilPemeriksaanId.required ? ew.Validators.required(fields.SubAktivitasHasilPemeriksaanId.caption) : null, ew.Validators.integer], fields.SubAktivitasHasilPemeriksaanId.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.OldKeyName)" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.id.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.id.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_id" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.id.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.id.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_id">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.id.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.idProses.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_idProses" for="x_idProses" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.idProses.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_idProses">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG" data-field="x_idProses" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.idProses.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.idProses.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.idAktifitas.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_idAktifitas" for="x_idAktifitas" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.idAktifitas.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_idAktifitas">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG" data-field="x_idAktifitas" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.idAktifitas.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.NoReferensi.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_NoReferensi" for="x_NoReferensi" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.NoReferensi.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_NoReferensi">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.NoReferensi.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Nama_Kapal.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Nama_Kapal.Visible (begin)
    <div id="r_Nama_Kapal" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Nama_Kapal.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Nama_Kapal" for="x_Nama_Kapal" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Nama_Kapal.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Nama_Kapal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Nama_Kapal.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Nama_Kapal">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Nama_Kapal.InputTextType)" name="x_Nama_Kapal" id="x_Nama_Kapal" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG" data-field="x_Nama_Kapal" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Nama_Kapal.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Nama_Kapal.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Nama_Kapal.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Nama_Kapal.EditAttributes) aria-describedby="x_Nama_Kapal_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Nama_Kapal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Nama_Kapal.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Nama_Kapal.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Tanggal.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Tanggal.Visible (begin)
    <div id="r_Tanggal" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Tanggal.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Tanggal" for="x_Tanggal" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Tanggal.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Tanggal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Tanggal.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Tanggal">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Tanggal.InputTextType)" name="x_Tanggal" id="x_Tanggal" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG" data-field="x_Tanggal" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Tanggal.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Tanggal.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Tanggal.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Tanggal.EditAttributes) aria-describedby="x_Tanggal_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Tanggal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Tanggal.GetErrorMessage())</div>
@if (!subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Tanggal.ReadOnly && !subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Tanggal.Disabled && !subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Tanggal.EditAttrs.Is("readonly") && !subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Tanggal.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGedit", "x_Tanggal", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Tanggal.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Nama_Kegiatan.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Nama_Kegiatan.Visible (begin)
    <div id="r_Nama_Kegiatan" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Nama_Kegiatan.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Nama_Kegiatan" for="x_Nama_Kegiatan" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Nama_Kegiatan.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Nama_Kegiatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Nama_Kegiatan.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Nama_Kegiatan">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Nama_Kegiatan.InputTextType)" name="x_Nama_Kegiatan" id="x_Nama_Kegiatan" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG" data-field="x_Nama_Kegiatan" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Nama_Kegiatan.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Nama_Kegiatan.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Nama_Kegiatan.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Nama_Kegiatan.EditAttributes) aria-describedby="x_Nama_Kegiatan_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Nama_Kegiatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Nama_Kegiatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Nama_Kegiatan.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Produk.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Produk.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Produk" for="x_Produk" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Produk.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Produk.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Produk">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG" data-field="x_Produk" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Produk.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Produk.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Produk.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Density.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Density.Visible (begin)
    <div id="r_Density" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Density.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Density" for="x_Density" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Density.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Density.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Density.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Density">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Density.InputTextType)" name="x_Density" id="x_Density" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG" data-field="x_Density" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Density.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Density.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Density.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Density.EditAttributes) aria-describedby="x_Density_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Density.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Density.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Density.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Temperatur.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Temperatur.Visible (begin)
    <div id="r_Temperatur" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Temperatur.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Temperatur" for="x_Temperatur" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Temperatur.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Temperatur.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Temperatur.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Temperatur">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Temperatur.InputTextType)" name="x_Temperatur" id="x_Temperatur" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG" data-field="x_Temperatur" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Temperatur.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Temperatur.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Temperatur.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Temperatur.EditAttributes) aria-describedby="x_Temperatur_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Temperatur.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Temperatur.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Temperatur.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Keterangan.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Keterangan.Visible (begin)
    <div id="r_Keterangan" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Keterangan.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Keterangan" for="x_Keterangan" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Keterangan.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Keterangan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Keterangan.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Keterangan">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Keterangan.InputTextType)" name="x_Keterangan" id="x_Keterangan" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG" data-field="x_Keterangan" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Keterangan.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Keterangan.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Keterangan.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Keterangan.EditAttributes) aria-describedby="x_Keterangan_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Keterangan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Keterangan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.Keterangan.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.userInput.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.userInput.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_userInput" for="x_userInput" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.userInput.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_userInput">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG" data-field="x_userInput" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.userInput.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.userInput.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.etlDate.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_etlDate" for="x_etlDate" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.etlDate.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_etlDate">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG" data-field="x_etlDate" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.etlDate.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.etlDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.etlDate.ReadOnly && !subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.etlDate.Disabled && !subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.etlDate.EditAttrs.Is("readonly") && !subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.etlDate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.LastUpdatedBy.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_LastUpdatedBy">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_lastUpdatedDate">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.ReadOnly && !subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.Disabled && !subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.SubAktivitasHasilPemeriksaanId.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.SubAktivitasHasilPemeriksaanId.Visible (begin)
    <div id="r_SubAktivitasHasilPemeriksaanId" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.SubAktivitasHasilPemeriksaanId.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_SubAktivitasHasilPemeriksaanId" for="x_SubAktivitasHasilPemeriksaanId" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.SubAktivitasHasilPemeriksaanId.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.SubAktivitasHasilPemeriksaanId.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.SubAktivitasHasilPemeriksaanId.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_SubAktivitasHasilPemeriksaanId">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.SubAktivitasHasilPemeriksaanId.InputTextType)" name="x_SubAktivitasHasilPemeriksaanId" id="x_SubAktivitasHasilPemeriksaanId" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG" data-field="x_SubAktivitasHasilPemeriksaanId" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.SubAktivitasHasilPemeriksaanId.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.SubAktivitasHasilPemeriksaanId.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.SubAktivitasHasilPemeriksaanId.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.SubAktivitasHasilPemeriksaanId.EditAttributes) aria-describedby="x_SubAktivitasHasilPemeriksaanId_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.SubAktivitasHasilPemeriksaanId.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.SubAktivitasHasilPemeriksaanId.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.SubAktivitasHasilPemeriksaanId.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.CloseRecordset(); }
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGedit" data-href="@AppPath(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasFormInputLogbookPenerimaanStsPymLpgEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputLogbookPenerimaanSTSPymLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
