@{
    // View
    View = this;

    // Check action result
    if (subAktivitasInputLogbookPenerimaanPipaList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasInputLogbookPenerimaanPipaList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasInputLogbookPenerimaanPipaList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasInputLogbookPenerimaanPipaList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasInputLogbookPenerimaanPipa: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasInputLogbookPenerimaanPipaList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasInputLogbookPenerimaanPipaList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasInputLogbookPenerimaanPipaList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasInputLogbookPenerimaanPipaList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasInputLogbookPenerimaanPipaList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasInputLogbookPenerimaanPipaList.TotalRecords > 0 && subAktivitasInputLogbookPenerimaanPipaList.ExportOptions.Visible) {
    subAktivitasInputLogbookPenerimaanPipaList.ExportOptions.Render("body");
}
@if (subAktivitasInputLogbookPenerimaanPipaList.ImportOptions.Visible) {
    subAktivitasInputLogbookPenerimaanPipaList.ImportOptions.Render("body");
}
@if (subAktivitasInputLogbookPenerimaanPipaList.SearchOptions.Visible) {
    subAktivitasInputLogbookPenerimaanPipaList.SearchOptions.Render("body");
}
@if (subAktivitasInputLogbookPenerimaanPipaList.FilterOptions.Visible) {
    subAktivitasInputLogbookPenerimaanPipaList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasInputLogbookPenerimaanPipaList.IsModal) {
<form name="fSubAktivitasInputLogbookPenerimaanPipasrch" id="fSubAktivitasInputLogbookPenerimaanPipasrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasInputLogbookPenerimaanPipasrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasInputLogbookPenerimaanPipaList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasInputLogbookPenerimaanPipaList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasInputLogbookPenerimaanPipa: currentTable } });
var currentForm;
var fSubAktivitasInputLogbookPenerimaanPipasrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasInputLogbookPenerimaanPipasrch")
        .setPageId("list")
@if (subAktivitasInputLogbookPenerimaanPipaList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasInputLogbookPenerimaanPipaList.IsExport() && Empty(subAktivitasInputLogbookPenerimaanPipaList.CurrentAction) && subAktivitasInputLogbookPenerimaanPipaList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPipaList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasInputLogbookPenerimaanPipaList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasInputLogbookPenerimaanPipaList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasInputLogbookPenerimaanPipasrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasInputLogbookPenerimaanPipaList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasInputLogbookPenerimaanPipasrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasInputLogbookPenerimaanPipaList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasInputLogbookPenerimaanPipasrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasInputLogbookPenerimaanPipaList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasInputLogbookPenerimaanPipasrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasInputLogbookPenerimaanPipaList.ShowPageHeader()
@subAktivitasInputLogbookPenerimaanPipaList.ShowMessages()
<main class="list @(subAktivitasInputLogbookPenerimaanPipaList.TotalRecords == 0 && !subAktivitasInputLogbookPenerimaanPipaList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasInputLogbookPenerimaanPipaList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasInputLogbookPenerimaanPipaList.TotalRecords > 0 || !Empty(subAktivitasInputLogbookPenerimaanPipaList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasInputLogbookPenerimaanPipaList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasInputLogbookPenerimaanPipaList.TableGridClass)">
<form name="@(subAktivitasInputLogbookPenerimaanPipaList.FormName)" id="@(subAktivitasInputLogbookPenerimaanPipaList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasInputLogbookPenerimaanPipaList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasInputLogbookPenerimaanPipaList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasInputLogbookPenerimaanPipa" class="card-body ew-grid-middle-panel @(subAktivitasInputLogbookPenerimaanPipaList.TableContainerClass)" style="@(subAktivitasInputLogbookPenerimaanPipaList.TableContainerStyle)">
@if (subAktivitasInputLogbookPenerimaanPipaList.TotalRecords > 0 || subAktivitasInputLogbookPenerimaanPipaList.IsGridEdit || subAktivitasInputLogbookPenerimaanPipaList.IsMultiEdit) {
<table id="tbl_SubAktivitasInputLogbookPenerimaanPipalist" class="@(subAktivitasInputLogbookPenerimaanPipaList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasInputLogbookPenerimaanPipaList.RowType = RowType.Header;

    // Render list options
    await subAktivitasInputLogbookPenerimaanPipaList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasInputLogbookPenerimaanPipaList.ListOptions.RenderHeader("left")
@if (subAktivitasInputLogbookPenerimaanPipaList.id.Visible) { // subAktivitasInputLogbookPenerimaanPipaList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasInputLogbookPenerimaanPipaList.id.HeaderCellClass)"><div id="elh_SubAktivitasInputLogbookPenerimaanPipa_id" class="SubAktivitasInputLogbookPenerimaanPipa_id">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasInputLogbookPenerimaanPipaList.id))</div></th>
} @* subAktivitasInputLogbookPenerimaanPipaList.id.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPipaList.idAktifitas.Visible) { // subAktivitasInputLogbookPenerimaanPipaList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasInputLogbookPenerimaanPipaList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasInputLogbookPenerimaanPipa_idAktifitas" class="SubAktivitasInputLogbookPenerimaanPipa_idAktifitas">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasInputLogbookPenerimaanPipaList.idAktifitas))</div></th>
} @* subAktivitasInputLogbookPenerimaanPipaList.idAktifitas.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPipaList.NamaBatch.Visible) { // subAktivitasInputLogbookPenerimaanPipaList.NamaBatch.Visible (begin)
        <th data-name="NamaBatch" class="@(subAktivitasInputLogbookPenerimaanPipaList.NamaBatch.HeaderCellClass)"><div id="elh_SubAktivitasInputLogbookPenerimaanPipa_NamaBatch" class="SubAktivitasInputLogbookPenerimaanPipa_NamaBatch">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasInputLogbookPenerimaanPipaList.NamaBatch))</div></th>
} @* subAktivitasInputLogbookPenerimaanPipaList.NamaBatch.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPipaList.TanggalJam.Visible) { // subAktivitasInputLogbookPenerimaanPipaList.TanggalJam.Visible (begin)
        <th data-name="TanggalJam" class="@(subAktivitasInputLogbookPenerimaanPipaList.TanggalJam.HeaderCellClass)"><div id="elh_SubAktivitasInputLogbookPenerimaanPipa_TanggalJam" class="SubAktivitasInputLogbookPenerimaanPipa_TanggalJam">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasInputLogbookPenerimaanPipaList.TanggalJam))</div></th>
} @* subAktivitasInputLogbookPenerimaanPipaList.TanggalJam.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPipaList.NamaKegiatan.Visible) { // subAktivitasInputLogbookPenerimaanPipaList.NamaKegiatan.Visible (begin)
        <th data-name="NamaKegiatan" class="@(subAktivitasInputLogbookPenerimaanPipaList.NamaKegiatan.HeaderCellClass)"><div id="elh_SubAktivitasInputLogbookPenerimaanPipa_NamaKegiatan" class="SubAktivitasInputLogbookPenerimaanPipa_NamaKegiatan">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasInputLogbookPenerimaanPipaList.NamaKegiatan))</div></th>
} @* subAktivitasInputLogbookPenerimaanPipaList.NamaKegiatan.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPipaList.Produk.Visible) { // subAktivitasInputLogbookPenerimaanPipaList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasInputLogbookPenerimaanPipaList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasInputLogbookPenerimaanPipa_Produk" class="SubAktivitasInputLogbookPenerimaanPipa_Produk">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasInputLogbookPenerimaanPipaList.Produk))</div></th>
} @* subAktivitasInputLogbookPenerimaanPipaList.Produk.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPipaList.Density.Visible) { // subAktivitasInputLogbookPenerimaanPipaList.Density.Visible (begin)
        <th data-name="Density" class="@(subAktivitasInputLogbookPenerimaanPipaList.Density.HeaderCellClass)"><div id="elh_SubAktivitasInputLogbookPenerimaanPipa_Density" class="SubAktivitasInputLogbookPenerimaanPipa_Density">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasInputLogbookPenerimaanPipaList.Density))</div></th>
} @* subAktivitasInputLogbookPenerimaanPipaList.Density.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPipaList.Temperature.Visible) { // subAktivitasInputLogbookPenerimaanPipaList.Temperature.Visible (begin)
        <th data-name="Temperature" class="@(subAktivitasInputLogbookPenerimaanPipaList.Temperature.HeaderCellClass)"><div id="elh_SubAktivitasInputLogbookPenerimaanPipa_Temperature" class="SubAktivitasInputLogbookPenerimaanPipa_Temperature">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasInputLogbookPenerimaanPipaList.Temperature))</div></th>
} @* subAktivitasInputLogbookPenerimaanPipaList.Temperature.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPipaList.userInput.Visible) { // subAktivitasInputLogbookPenerimaanPipaList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasInputLogbookPenerimaanPipaList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasInputLogbookPenerimaanPipa_userInput" class="SubAktivitasInputLogbookPenerimaanPipa_userInput">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasInputLogbookPenerimaanPipaList.userInput))</div></th>
} @* subAktivitasInputLogbookPenerimaanPipaList.userInput.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPipaList.etlDate.Visible) { // subAktivitasInputLogbookPenerimaanPipaList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasInputLogbookPenerimaanPipaList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasInputLogbookPenerimaanPipa_etlDate" class="SubAktivitasInputLogbookPenerimaanPipa_etlDate">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasInputLogbookPenerimaanPipaList.etlDate))</div></th>
} @* subAktivitasInputLogbookPenerimaanPipaList.etlDate.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPipaList.idProses.Visible) { // subAktivitasInputLogbookPenerimaanPipaList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasInputLogbookPenerimaanPipaList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasInputLogbookPenerimaanPipa_idProses" class="SubAktivitasInputLogbookPenerimaanPipa_idProses">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasInputLogbookPenerimaanPipaList.idProses))</div></th>
} @* subAktivitasInputLogbookPenerimaanPipaList.idProses.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPipaList.LastUpdatedBy.Visible) { // subAktivitasInputLogbookPenerimaanPipaList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasInputLogbookPenerimaanPipaList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasInputLogbookPenerimaanPipa_LastUpdatedBy" class="SubAktivitasInputLogbookPenerimaanPipa_LastUpdatedBy">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasInputLogbookPenerimaanPipaList.LastUpdatedBy))</div></th>
} @* subAktivitasInputLogbookPenerimaanPipaList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPipaList.lastUpdatedDate.Visible) { // subAktivitasInputLogbookPenerimaanPipaList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasInputLogbookPenerimaanPipaList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasInputLogbookPenerimaanPipa_lastUpdatedDate" class="SubAktivitasInputLogbookPenerimaanPipa_lastUpdatedDate">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasInputLogbookPenerimaanPipaList.lastUpdatedDate))</div></th>
} @* subAktivitasInputLogbookPenerimaanPipaList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPipaList.NoReferensi.Visible) { // subAktivitasInputLogbookPenerimaanPipaList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasInputLogbookPenerimaanPipaList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasInputLogbookPenerimaanPipa_NoReferensi" class="SubAktivitasInputLogbookPenerimaanPipa_NoReferensi">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasInputLogbookPenerimaanPipaList.NoReferensi))</div></th>
} @* subAktivitasInputLogbookPenerimaanPipaList.NoReferensi.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPipaList.SubAktivitasHasilPemeriksaanId.Visible) { // subAktivitasInputLogbookPenerimaanPipaList.SubAktivitasHasilPemeriksaanId.Visible (begin)
        <th data-name="SubAktivitasHasilPemeriksaanId" class="@(subAktivitasInputLogbookPenerimaanPipaList.SubAktivitasHasilPemeriksaanId.HeaderCellClass)"><div id="elh_SubAktivitasInputLogbookPenerimaanPipa_SubAktivitasHasilPemeriksaanId" class="SubAktivitasInputLogbookPenerimaanPipa_SubAktivitasHasilPemeriksaanId">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasInputLogbookPenerimaanPipaList.SubAktivitasHasilPemeriksaanId))</div></th>
} @* subAktivitasInputLogbookPenerimaanPipaList.SubAktivitasHasilPemeriksaanId.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasInputLogbookPenerimaanPipaList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasInputLogbookPenerimaanPipaList.PageNumber)">
@{
    await subAktivitasInputLogbookPenerimaanPipaList.SetupGrid();
    bool eof = subAktivitasInputLogbookPenerimaanPipaList.Recordset == null; // DN
}
@while (subAktivitasInputLogbookPenerimaanPipaList.RecordCount < subAktivitasInputLogbookPenerimaanPipaList.StopRecord || SameString(subAktivitasInputLogbookPenerimaanPipaList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasInputLogbookPenerimaanPipaList.RowIndex, "$rowindex$") &&
        (!subAktivitasInputLogbookPenerimaanPipaList.IsGridAdd || subAktivitasInputLogbookPenerimaanPipaList.CurrentMode == "copy") &&
        (!((subAktivitasInputLogbookPenerimaanPipaList.IsCopy || subAktivitasInputLogbookPenerimaanPipaList.IsAdd) && subAktivitasInputLogbookPenerimaanPipaList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasInputLogbookPenerimaanPipaList.Recordset.ReadAsync();
    subAktivitasInputLogbookPenerimaanPipaList.RecordCount++;
    if (subAktivitasInputLogbookPenerimaanPipaList.RecordCount >= subAktivitasInputLogbookPenerimaanPipaList.StartRecord) {
        await subAktivitasInputLogbookPenerimaanPipaList.SetupRow();
    <tr @Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasInputLogbookPenerimaanPipaList.ListOptions.RenderBody("left", subAktivitasInputLogbookPenerimaanPipaList.RowCount)
    @if (subAktivitasInputLogbookPenerimaanPipaList.id.Visible) { // subAktivitasInputLogbookPenerimaanPipaList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasInputLogbookPenerimaanPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasInputLogbookPenerimaanPipa_id" class="el_SubAktivitasInputLogbookPenerimaanPipa_id">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.id.ViewAttributes)>
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputLogbookPenerimaanPipaList.id.Visible (end) *@
    @if (subAktivitasInputLogbookPenerimaanPipaList.idAktifitas.Visible) { // subAktivitasInputLogbookPenerimaanPipaList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasInputLogbookPenerimaanPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasInputLogbookPenerimaanPipa_idAktifitas" class="el_SubAktivitasInputLogbookPenerimaanPipa_idAktifitas">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputLogbookPenerimaanPipaList.idAktifitas.Visible (end) *@
    @if (subAktivitasInputLogbookPenerimaanPipaList.NamaBatch.Visible) { // subAktivitasInputLogbookPenerimaanPipaList.NamaBatch.Visible (begin)
        <td data-name="NamaBatch" @Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.NamaBatch.CellAttributes)>
<span id="el@(SameString(subAktivitasInputLogbookPenerimaanPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasInputLogbookPenerimaanPipa_NamaBatch" class="el_SubAktivitasInputLogbookPenerimaanPipa_NamaBatch">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.NamaBatch.ViewAttributes)>
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.NamaBatch.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputLogbookPenerimaanPipaList.NamaBatch.Visible (end) *@
    @if (subAktivitasInputLogbookPenerimaanPipaList.TanggalJam.Visible) { // subAktivitasInputLogbookPenerimaanPipaList.TanggalJam.Visible (begin)
        <td data-name="TanggalJam" @Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.TanggalJam.CellAttributes)>
<span id="el@(SameString(subAktivitasInputLogbookPenerimaanPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasInputLogbookPenerimaanPipa_TanggalJam" class="el_SubAktivitasInputLogbookPenerimaanPipa_TanggalJam">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.TanggalJam.ViewAttributes)>
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.TanggalJam.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputLogbookPenerimaanPipaList.TanggalJam.Visible (end) *@
    @if (subAktivitasInputLogbookPenerimaanPipaList.NamaKegiatan.Visible) { // subAktivitasInputLogbookPenerimaanPipaList.NamaKegiatan.Visible (begin)
        <td data-name="NamaKegiatan" @Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.NamaKegiatan.CellAttributes)>
<span id="el@(SameString(subAktivitasInputLogbookPenerimaanPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasInputLogbookPenerimaanPipa_NamaKegiatan" class="el_SubAktivitasInputLogbookPenerimaanPipa_NamaKegiatan">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.NamaKegiatan.ViewAttributes)>
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.NamaKegiatan.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputLogbookPenerimaanPipaList.NamaKegiatan.Visible (end) *@
    @if (subAktivitasInputLogbookPenerimaanPipaList.Produk.Visible) { // subAktivitasInputLogbookPenerimaanPipaList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.Produk.CellAttributes)>
<span id="el@(SameString(subAktivitasInputLogbookPenerimaanPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasInputLogbookPenerimaanPipa_Produk" class="el_SubAktivitasInputLogbookPenerimaanPipa_Produk">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputLogbookPenerimaanPipaList.Produk.Visible (end) *@
    @if (subAktivitasInputLogbookPenerimaanPipaList.Density.Visible) { // subAktivitasInputLogbookPenerimaanPipaList.Density.Visible (begin)
        <td data-name="Density" @Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.Density.CellAttributes)>
<span id="el@(SameString(subAktivitasInputLogbookPenerimaanPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasInputLogbookPenerimaanPipa_Density" class="el_SubAktivitasInputLogbookPenerimaanPipa_Density">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.Density.ViewAttributes)>
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.Density.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputLogbookPenerimaanPipaList.Density.Visible (end) *@
    @if (subAktivitasInputLogbookPenerimaanPipaList.Temperature.Visible) { // subAktivitasInputLogbookPenerimaanPipaList.Temperature.Visible (begin)
        <td data-name="Temperature" @Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.Temperature.CellAttributes)>
<span id="el@(SameString(subAktivitasInputLogbookPenerimaanPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasInputLogbookPenerimaanPipa_Temperature" class="el_SubAktivitasInputLogbookPenerimaanPipa_Temperature">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.Temperature.ViewAttributes)>
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.Temperature.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputLogbookPenerimaanPipaList.Temperature.Visible (end) *@
    @if (subAktivitasInputLogbookPenerimaanPipaList.userInput.Visible) { // subAktivitasInputLogbookPenerimaanPipaList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasInputLogbookPenerimaanPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasInputLogbookPenerimaanPipa_userInput" class="el_SubAktivitasInputLogbookPenerimaanPipa_userInput">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputLogbookPenerimaanPipaList.userInput.Visible (end) *@
    @if (subAktivitasInputLogbookPenerimaanPipaList.etlDate.Visible) { // subAktivitasInputLogbookPenerimaanPipaList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasInputLogbookPenerimaanPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasInputLogbookPenerimaanPipa_etlDate" class="el_SubAktivitasInputLogbookPenerimaanPipa_etlDate">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputLogbookPenerimaanPipaList.etlDate.Visible (end) *@
    @if (subAktivitasInputLogbookPenerimaanPipaList.idProses.Visible) { // subAktivitasInputLogbookPenerimaanPipaList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasInputLogbookPenerimaanPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasInputLogbookPenerimaanPipa_idProses" class="el_SubAktivitasInputLogbookPenerimaanPipa_idProses">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputLogbookPenerimaanPipaList.idProses.Visible (end) *@
    @if (subAktivitasInputLogbookPenerimaanPipaList.LastUpdatedBy.Visible) { // subAktivitasInputLogbookPenerimaanPipaList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasInputLogbookPenerimaanPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasInputLogbookPenerimaanPipa_LastUpdatedBy" class="el_SubAktivitasInputLogbookPenerimaanPipa_LastUpdatedBy">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputLogbookPenerimaanPipaList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasInputLogbookPenerimaanPipaList.lastUpdatedDate.Visible) { // subAktivitasInputLogbookPenerimaanPipaList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasInputLogbookPenerimaanPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasInputLogbookPenerimaanPipa_lastUpdatedDate" class="el_SubAktivitasInputLogbookPenerimaanPipa_lastUpdatedDate">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputLogbookPenerimaanPipaList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasInputLogbookPenerimaanPipaList.NoReferensi.Visible) { // subAktivitasInputLogbookPenerimaanPipaList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasInputLogbookPenerimaanPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasInputLogbookPenerimaanPipa_NoReferensi" class="el_SubAktivitasInputLogbookPenerimaanPipa_NoReferensi">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputLogbookPenerimaanPipaList.NoReferensi.Visible (end) *@
    @if (subAktivitasInputLogbookPenerimaanPipaList.SubAktivitasHasilPemeriksaanId.Visible) { // subAktivitasInputLogbookPenerimaanPipaList.SubAktivitasHasilPemeriksaanId.Visible (begin)
        <td data-name="SubAktivitasHasilPemeriksaanId" @Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.SubAktivitasHasilPemeriksaanId.CellAttributes)>
<span id="el@(SameString(subAktivitasInputLogbookPenerimaanPipaList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasInputLogbookPenerimaanPipa_SubAktivitasHasilPemeriksaanId" class="el_SubAktivitasInputLogbookPenerimaanPipa_SubAktivitasHasilPemeriksaanId">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.SubAktivitasHasilPemeriksaanId.ViewAttributes)>
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.SubAktivitasHasilPemeriksaanId.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputLogbookPenerimaanPipaList.SubAktivitasHasilPemeriksaanId.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasInputLogbookPenerimaanPipaList.ListOptions.RenderBody("right", subAktivitasInputLogbookPenerimaanPipaList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasInputLogbookPenerimaanPipaList.RowIndex, "$rowindex$"))
        subAktivitasInputLogbookPenerimaanPipaList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasInputLogbookPenerimaanPipaList.IsCopy || subAktivitasInputLogbookPenerimaanPipaList.IsAdd) && subAktivitasInputLogbookPenerimaanPipaList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasInputLogbookPenerimaanPipaList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasInputLogbookPenerimaanPipaList.CurrentAction) && !subAktivitasInputLogbookPenerimaanPipaList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasInputLogbookPenerimaanPipaList.CloseRecordset(); }
@if (!subAktivitasInputLogbookPenerimaanPipaList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasInputLogbookPenerimaanPipaList.IsGridAdd && !(subAktivitasInputLogbookPenerimaanPipaList.IsGridEdit && subAktivitasInputLogbookPenerimaanPipaList.ModalGridEdit) && !subAktivitasInputLogbookPenerimaanPipaList.IsMultiEdit) {
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasInputLogbookPenerimaanPipaList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasInputLogbookPenerimaanPipaList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasInputLogbookPenerimaanPipaList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasInputLogbookPenerimaanPipaList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasInputLogbookPenerimaanPipaList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasInputLogbookPenerimaanPipa");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
