@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.TotalRecords > 0 && subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.ExportOptions.Visible) {
    subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.ExportOptions.Render("body");
}
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.ImportOptions.Visible) {
    subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.ImportOptions.Render("body");
}
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.SearchOptions.Visible) {
    subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.SearchOptions.Render("body");
}
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.FilterOptions.Visible) {
    subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.IsModal) {
<form name="fSubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPGsrch" id="fSubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG: currentTable } });
var currentForm;
var fSubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPGsrch")
        .setPageId("list")
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.IsExport() && Empty(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.CurrentAction) && subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.ShowPageHeader()
@subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.ShowMessages()
<main class="list @(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.TotalRecords == 0 && !subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.TotalRecords > 0 || !Empty(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.TableGridClass)">
<form name="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.FormName)" id="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG" class="card-body ew-grid-middle-panel @(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.TableContainerClass)" style="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.TableContainerStyle)">
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.TotalRecords > 0 || subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.IsGridEdit || subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPGlist" class="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.ListOptions.RenderHeader("left")
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.id.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_id" class="SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_id">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.id))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.id.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.idProses.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_idProses" class="SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_idProses">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.idProses))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.idProses.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.idAktifitas.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_idAktifitas" class="SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_idAktifitas">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.idAktifitas))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.NoReferensi.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_NoReferensi" class="SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_NoReferensi">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.NoReferensi))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.StatusAktivitas.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_StatusAktivitas" class="SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_StatusAktivitas">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.StatusAktivitas))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.LastUpdatedBy.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_LastUpdatedBy" class="SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_LastUpdatedBy">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.LastUpdatedBy))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.lastUpdatedDate.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_lastUpdatedDate" class="SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_lastUpdatedDate">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.lastUpdatedDate))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.BL_MT.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.BL_MT.Visible (begin)
        <th data-name="BL_MT" class="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.BL_MT.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_BL_MT" class="SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_BL_MT">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.BL_MT))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.BL_MT.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.SFAL_MT.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.SFAL_MT.Visible (begin)
        <th data-name="SFAL_MT" class="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.SFAL_MT.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_SFAL_MT" class="SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_SFAL_MT">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.SFAL_MT))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.SFAL_MT.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.etlDate.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_etlDate" class="SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_etlDate">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.etlDate))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.etlDate.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.userInput.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_userInput" class="SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_userInput">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.userInput))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.userInput.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.PageNumber)">
@{
    await subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.SetupGrid();
    bool eof = subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.Recordset == null; // DN
}
@while (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RecordCount < subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.StopRecord || SameString(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.IsGridAdd || subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.CurrentMode == "copy") &&
        (!((subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.IsCopy || subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.IsAdd) && subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.Recordset.ReadAsync();
    subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RecordCount++;
    if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RecordCount >= subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.StartRecord) {
        await subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.SetupRow();
    <tr @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.ListOptions.RenderBody("left", subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowCount)
    @if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.id.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.id.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_id" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_id">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.id.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.idProses.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.idProses.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_idProses" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_idProses">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.idProses.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.idAktifitas.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_idAktifitas" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_idAktifitas">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.NoReferensi.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_NoReferensi" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_NoReferensi">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.StatusAktivitas.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_StatusAktivitas" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.LastUpdatedBy.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_LastUpdatedBy" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.lastUpdatedDate.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_lastUpdatedDate" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.BL_MT.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.BL_MT.Visible (begin)
        <td data-name="BL_MT" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.BL_MT.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_BL_MT" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_BL_MT">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.BL_MT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.BL_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.BL_MT.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.SFAL_MT.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.SFAL_MT.Visible (begin)
        <td data-name="SFAL_MT" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.SFAL_MT.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_SFAL_MT" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_SFAL_MT">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.SFAL_MT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.SFAL_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.SFAL_MT.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.etlDate.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.etlDate.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_etlDate" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_etlDate">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.etlDate.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.userInput.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.userInput.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_userInput" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG_userInput">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.userInput.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.ListOptions.RenderBody("right", subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowIndex, "$rowindex$"))
        subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.IsCopy || subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.IsAdd) && subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.CurrentAction) && !subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.CloseRecordset(); }
@if (!subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.IsGridAdd && !(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.IsGridEdit && subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.ModalGridEdit) && !subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.IsMultiEdit) {
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputNilaiBLsesuaiCqlstsPymLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputNilaiBLsesuaiCQLSTSPymLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
