@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputNilaiARsesuaiCqdTruckView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputNilaiARsesuaiCqdTruckView.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputNilaiARsesuaiCqdTruckView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @subAktivitasFormInputNilaiARsesuaiCqdTruckView.ExportOptions.RenderBody()
    @subAktivitasFormInputNilaiARsesuaiCqdTruckView.OtherOptions.RenderBody()
</div>
}
@subAktivitasFormInputNilaiARsesuaiCqdTruckView.ShowPageHeader()
@subAktivitasFormInputNilaiARsesuaiCqdTruckView.ShowMessages()
<main class="view">
<form name="fSubAktivitasFormInputNilaiARsesuaiCQDTruckview" id="fSubAktivitasFormInputNilaiARsesuaiCQDTruckview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!subAktivitasFormInputNilaiARsesuaiCqdTruckView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputNilaiARsesuaiCqdTruckView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputNilaiARsesuaiCQDTruck: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fSubAktivitasFormInputNilaiARsesuaiCQDTruckview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputNilaiARsesuaiCQDTruckview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputNilaiARsesuaiCqdTruckView.IsModal)">
<table class="@(subAktivitasFormInputNilaiARsesuaiCqdTruckView.TableClass)">
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckView.id.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckView.id.Visible (begin)
    <tr id="r_id" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.id.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiARsesuaiCqdTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_id">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.id.Caption)</span></td>
        <td data-name="id" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.id.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiARsesuaiCQDTruck_id">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.id.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckView.id.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckView.idAktifitas.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckView.idAktifitas.Visible (begin)
    <tr id="r_idAktifitas" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.idAktifitas.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiARsesuaiCqdTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_idAktifitas">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.idAktifitas.Caption)</span></td>
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiARsesuaiCQDTruck_idAktifitas">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.idAktifitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckView.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckView.idProses.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckView.idProses.Visible (begin)
    <tr id="r_idProses" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.idProses.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiARsesuaiCqdTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_idProses">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.idProses.Caption)</span></td>
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiARsesuaiCQDTruck_idProses">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.idProses.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckView.idProses.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckView.NoReferensi.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckView.NoReferensi.Visible (begin)
    <tr id="r_NoReferensi" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.NoReferensi.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiARsesuaiCqdTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_NoReferensi">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.NoReferensi.Caption)</span></td>
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiARsesuaiCQDTruck_NoReferensi">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.NoReferensi.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckView.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckView.KL_Obs.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckView.KL_Obs.Visible (begin)
    <tr id="r_KL_Obs" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.KL_Obs.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiARsesuaiCqdTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_KL_Obs">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.KL_Obs.Caption)</span></td>
        <td data-name="KL_Obs" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.KL_Obs.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiARsesuaiCQDTruck_KL_Obs">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.KL_Obs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.KL_Obs.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckView.KL_Obs.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckView.KL_15.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckView.KL_15.Visible (begin)
    <tr id="r_KL_15" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.KL_15.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiARsesuaiCqdTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_KL_15">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.KL_15.Caption)</span></td>
        <td data-name="KL_15" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.KL_15.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiARsesuaiCQDTruck_KL_15">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.KL_15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.KL_15.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckView.KL_15.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckView.Barrels.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckView.Barrels.Visible (begin)
    <tr id="r_Barrels" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.Barrels.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiARsesuaiCqdTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_Barrels">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.Barrels.Caption)</span></td>
        <td data-name="Barrels" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.Barrels.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiARsesuaiCQDTruck_Barrels">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.Barrels.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.Barrels.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckView.Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckView.LT.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckView.LT.Visible (begin)
    <tr id="r_LT" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.LT.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiARsesuaiCqdTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_LT">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.LT.Caption)</span></td>
        <td data-name="LT" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.LT.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiARsesuaiCQDTruck_LT">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.LT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.LT.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckView.LT.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckView.MT.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckView.MT.Visible (begin)
    <tr id="r_MT" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.MT.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiARsesuaiCqdTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_MT">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.MT.Caption)</span></td>
        <td data-name="MT" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.MT.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiARsesuaiCQDTruck_MT">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.MT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.MT.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckView.MT.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckView.userInput.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckView.userInput.Visible (begin)
    <tr id="r_userInput" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.userInput.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiARsesuaiCqdTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_userInput">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.userInput.Caption)</span></td>
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiARsesuaiCQDTruck_userInput">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.userInput.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckView.userInput.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckView.etlDate.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckView.etlDate.Visible (begin)
    <tr id="r_etlDate" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.etlDate.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiARsesuaiCqdTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_etlDate">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.etlDate.Caption)</span></td>
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiARsesuaiCQDTruck_etlDate">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.etlDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckView.etlDate.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckView.LastUpdatedBy.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckView.LastUpdatedBy.Visible (begin)
    <tr id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.LastUpdatedBy.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiARsesuaiCqdTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_LastUpdatedBy">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.LastUpdatedBy.Caption)</span></td>
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiARsesuaiCQDTruck_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.LastUpdatedBy.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckView.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckView.lastUpdatedDate.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckView.lastUpdatedDate.Visible (begin)
    <tr id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.lastUpdatedDate.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiARsesuaiCqdTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_lastUpdatedDate">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.lastUpdatedDate.Caption)</span></td>
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiARsesuaiCQDTruck_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.lastUpdatedDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckView.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckView.StatusAktivitas.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckView.StatusAktivitas.Visible (begin)
    <tr id="r_StatusAktivitas" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.StatusAktivitas.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiARsesuaiCqdTruckView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_StatusAktivitas">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.StatusAktivitas.Caption)</span></td>
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiARsesuaiCQDTruck_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckView.StatusAktivitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckView.StatusAktivitas.Visible (end) *@
</table>
@{ subAktivitasFormInputNilaiARsesuaiCqdTruckView.CloseRecordset(); }
</form>
</main>
@subAktivitasFormInputNilaiARsesuaiCqdTruckView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputNilaiARsesuaiCqdTruckView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
