@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputDataGerbongKetelRtwList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputDataGerbongKetelRtwList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputDataGerbongKetelRtwList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputDataGerbongKetelRtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputDataGerbongKetelRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasFormInputDataGerbongKetelRtwList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasFormInputDataGerbongKetelRtwList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasFormInputDataGerbongKetelRtwList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasFormInputDataGerbongKetelRtwList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasFormInputDataGerbongKetelRtwList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasFormInputDataGerbongKetelRtwList.TotalRecords > 0 && subAktivitasFormInputDataGerbongKetelRtwList.ExportOptions.Visible) {
    subAktivitasFormInputDataGerbongKetelRtwList.ExportOptions.Render("body");
}
@if (subAktivitasFormInputDataGerbongKetelRtwList.ImportOptions.Visible) {
    subAktivitasFormInputDataGerbongKetelRtwList.ImportOptions.Render("body");
}
@if (subAktivitasFormInputDataGerbongKetelRtwList.SearchOptions.Visible) {
    subAktivitasFormInputDataGerbongKetelRtwList.SearchOptions.Render("body");
}
@if (subAktivitasFormInputDataGerbongKetelRtwList.FilterOptions.Visible) {
    subAktivitasFormInputDataGerbongKetelRtwList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasFormInputDataGerbongKetelRtwList.IsModal) {
<form name="fSubAktivitasFormInputDataGerbongKetelRTWsrch" id="fSubAktivitasFormInputDataGerbongKetelRTWsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasFormInputDataGerbongKetelRTWsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasFormInputDataGerbongKetelRtwList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputDataGerbongKetelRtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputDataGerbongKetelRTW: currentTable } });
var currentForm;
var fSubAktivitasFormInputDataGerbongKetelRTWsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputDataGerbongKetelRTWsrch")
        .setPageId("list")
@if (subAktivitasFormInputDataGerbongKetelRtwList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasFormInputDataGerbongKetelRtwList.IsExport() && Empty(subAktivitasFormInputDataGerbongKetelRtwList.CurrentAction) && subAktivitasFormInputDataGerbongKetelRtwList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasFormInputDataGerbongKetelRtwList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasFormInputDataGerbongKetelRtwList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasFormInputDataGerbongKetelRtwList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasFormInputDataGerbongKetelRTWsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputDataGerbongKetelRtwList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasFormInputDataGerbongKetelRTWsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputDataGerbongKetelRtwList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasFormInputDataGerbongKetelRTWsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputDataGerbongKetelRtwList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasFormInputDataGerbongKetelRTWsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasFormInputDataGerbongKetelRtwList.ShowPageHeader()
@subAktivitasFormInputDataGerbongKetelRtwList.ShowMessages()
<main class="list @(subAktivitasFormInputDataGerbongKetelRtwList.TotalRecords == 0 && !subAktivitasFormInputDataGerbongKetelRtwList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasFormInputDataGerbongKetelRtwList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasFormInputDataGerbongKetelRtwList.TotalRecords > 0 || !Empty(subAktivitasFormInputDataGerbongKetelRtwList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasFormInputDataGerbongKetelRtwList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasFormInputDataGerbongKetelRtwList.TableGridClass)">
<form name="@(subAktivitasFormInputDataGerbongKetelRtwList.FormName)" id="@(subAktivitasFormInputDataGerbongKetelRtwList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasFormInputDataGerbongKetelRtwList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasFormInputDataGerbongKetelRtwList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasFormInputDataGerbongKetelRTW" class="card-body ew-grid-middle-panel @(subAktivitasFormInputDataGerbongKetelRtwList.TableContainerClass)" style="@(subAktivitasFormInputDataGerbongKetelRtwList.TableContainerStyle)">
@if (subAktivitasFormInputDataGerbongKetelRtwList.TotalRecords > 0 || subAktivitasFormInputDataGerbongKetelRtwList.IsGridEdit || subAktivitasFormInputDataGerbongKetelRtwList.IsMultiEdit) {
<table id="tbl_SubAktivitasFormInputDataGerbongKetelRTWlist" class="@(subAktivitasFormInputDataGerbongKetelRtwList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasFormInputDataGerbongKetelRtwList.RowType = RowType.Header;

    // Render list options
    await subAktivitasFormInputDataGerbongKetelRtwList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasFormInputDataGerbongKetelRtwList.ListOptions.RenderHeader("left")
@if (subAktivitasFormInputDataGerbongKetelRtwList.NoReferensi.Visible) { // subAktivitasFormInputDataGerbongKetelRtwList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasFormInputDataGerbongKetelRtwList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataGerbongKetelRTW_NoReferensi" class="SubAktivitasFormInputDataGerbongKetelRTW_NoReferensi">@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.RenderFieldHeader(subAktivitasFormInputDataGerbongKetelRtwList.NoReferensi))</div></th>
} @* subAktivitasFormInputDataGerbongKetelRtwList.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputDataGerbongKetelRtwList.idProses.Visible) { // subAktivitasFormInputDataGerbongKetelRtwList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasFormInputDataGerbongKetelRtwList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataGerbongKetelRTW_idProses" class="SubAktivitasFormInputDataGerbongKetelRTW_idProses">@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.RenderFieldHeader(subAktivitasFormInputDataGerbongKetelRtwList.idProses))</div></th>
} @* subAktivitasFormInputDataGerbongKetelRtwList.idProses.Visible (end) *@
@if (subAktivitasFormInputDataGerbongKetelRtwList.idAktifitas.Visible) { // subAktivitasFormInputDataGerbongKetelRtwList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasFormInputDataGerbongKetelRtwList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataGerbongKetelRTW_idAktifitas" class="SubAktivitasFormInputDataGerbongKetelRTW_idAktifitas">@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.RenderFieldHeader(subAktivitasFormInputDataGerbongKetelRtwList.idAktifitas))</div></th>
} @* subAktivitasFormInputDataGerbongKetelRtwList.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputDataGerbongKetelRtwList.StatusAktivitas.Visible) { // subAktivitasFormInputDataGerbongKetelRtwList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasFormInputDataGerbongKetelRtwList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataGerbongKetelRTW_StatusAktivitas" class="SubAktivitasFormInputDataGerbongKetelRTW_StatusAktivitas">@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.RenderFieldHeader(subAktivitasFormInputDataGerbongKetelRtwList.StatusAktivitas))</div></th>
} @* subAktivitasFormInputDataGerbongKetelRtwList.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputDataGerbongKetelRtwList.LastUpdatedBy.Visible) { // subAktivitasFormInputDataGerbongKetelRtwList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasFormInputDataGerbongKetelRtwList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataGerbongKetelRTW_LastUpdatedBy" class="SubAktivitasFormInputDataGerbongKetelRTW_LastUpdatedBy">@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.RenderFieldHeader(subAktivitasFormInputDataGerbongKetelRtwList.LastUpdatedBy))</div></th>
} @* subAktivitasFormInputDataGerbongKetelRtwList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputDataGerbongKetelRtwList.lastUpdatedDate.Visible) { // subAktivitasFormInputDataGerbongKetelRtwList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasFormInputDataGerbongKetelRtwList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataGerbongKetelRTW_lastUpdatedDate" class="SubAktivitasFormInputDataGerbongKetelRTW_lastUpdatedDate">@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.RenderFieldHeader(subAktivitasFormInputDataGerbongKetelRtwList.lastUpdatedDate))</div></th>
} @* subAktivitasFormInputDataGerbongKetelRtwList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputDataGerbongKetelRtwList.Jns_Produk.Visible) { // subAktivitasFormInputDataGerbongKetelRtwList.Jns_Produk.Visible (begin)
        <th data-name="Jns_Produk" class="@(subAktivitasFormInputDataGerbongKetelRtwList.Jns_Produk.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataGerbongKetelRTW_Jns_Produk" class="SubAktivitasFormInputDataGerbongKetelRTW_Jns_Produk">@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.RenderFieldHeader(subAktivitasFormInputDataGerbongKetelRtwList.Jns_Produk))</div></th>
} @* subAktivitasFormInputDataGerbongKetelRtwList.Jns_Produk.Visible (end) *@
@if (subAktivitasFormInputDataGerbongKetelRtwList.Nominasi.Visible) { // subAktivitasFormInputDataGerbongKetelRtwList.Nominasi.Visible (begin)
        <th data-name="Nominasi" class="@(subAktivitasFormInputDataGerbongKetelRtwList.Nominasi.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataGerbongKetelRTW_Nominasi" class="SubAktivitasFormInputDataGerbongKetelRTW_Nominasi">@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.RenderFieldHeader(subAktivitasFormInputDataGerbongKetelRtwList.Nominasi))</div></th>
} @* subAktivitasFormInputDataGerbongKetelRtwList.Nominasi.Visible (end) *@
@if (subAktivitasFormInputDataGerbongKetelRtwList.Tanggal.Visible) { // subAktivitasFormInputDataGerbongKetelRtwList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasFormInputDataGerbongKetelRtwList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataGerbongKetelRTW_Tanggal" class="SubAktivitasFormInputDataGerbongKetelRTW_Tanggal">@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.RenderFieldHeader(subAktivitasFormInputDataGerbongKetelRtwList.Tanggal))</div></th>
} @* subAktivitasFormInputDataGerbongKetelRtwList.Tanggal.Visible (end) *@
@if (subAktivitasFormInputDataGerbongKetelRtwList.DetailGerbong.Visible) { // subAktivitasFormInputDataGerbongKetelRtwList.DetailGerbong.Visible (begin)
        <th data-name="DetailGerbong" class="@(subAktivitasFormInputDataGerbongKetelRtwList.DetailGerbong.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataGerbongKetelRTW_DetailGerbong" class="SubAktivitasFormInputDataGerbongKetelRTW_DetailGerbong">@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.RenderFieldHeader(subAktivitasFormInputDataGerbongKetelRtwList.DetailGerbong))</div></th>
} @* subAktivitasFormInputDataGerbongKetelRtwList.DetailGerbong.Visible (end) *@
@if (subAktivitasFormInputDataGerbongKetelRtwList.userInput.Visible) { // subAktivitasFormInputDataGerbongKetelRtwList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasFormInputDataGerbongKetelRtwList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataGerbongKetelRTW_userInput" class="SubAktivitasFormInputDataGerbongKetelRTW_userInput">@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.RenderFieldHeader(subAktivitasFormInputDataGerbongKetelRtwList.userInput))</div></th>
} @* subAktivitasFormInputDataGerbongKetelRtwList.userInput.Visible (end) *@
@if (subAktivitasFormInputDataGerbongKetelRtwList.DetailQuantity.Visible) { // subAktivitasFormInputDataGerbongKetelRtwList.DetailQuantity.Visible (begin)
        <th data-name="DetailQuantity" class="@(subAktivitasFormInputDataGerbongKetelRtwList.DetailQuantity.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataGerbongKetelRTW_DetailQuantity" class="SubAktivitasFormInputDataGerbongKetelRTW_DetailQuantity">@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.RenderFieldHeader(subAktivitasFormInputDataGerbongKetelRtwList.DetailQuantity))</div></th>
} @* subAktivitasFormInputDataGerbongKetelRtwList.DetailQuantity.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasFormInputDataGerbongKetelRtwList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasFormInputDataGerbongKetelRtwList.PageNumber)">
@{
    await subAktivitasFormInputDataGerbongKetelRtwList.SetupGrid();
    bool eof = subAktivitasFormInputDataGerbongKetelRtwList.Recordset == null; // DN
}
@while (subAktivitasFormInputDataGerbongKetelRtwList.RecordCount < subAktivitasFormInputDataGerbongKetelRtwList.StopRecord || SameString(subAktivitasFormInputDataGerbongKetelRtwList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasFormInputDataGerbongKetelRtwList.RowIndex, "$rowindex$") &&
        (!subAktivitasFormInputDataGerbongKetelRtwList.IsGridAdd || subAktivitasFormInputDataGerbongKetelRtwList.CurrentMode == "copy") &&
        (!((subAktivitasFormInputDataGerbongKetelRtwList.IsCopy || subAktivitasFormInputDataGerbongKetelRtwList.IsAdd) && subAktivitasFormInputDataGerbongKetelRtwList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasFormInputDataGerbongKetelRtwList.Recordset.ReadAsync();
    subAktivitasFormInputDataGerbongKetelRtwList.RecordCount++;
    if (subAktivitasFormInputDataGerbongKetelRtwList.RecordCount >= subAktivitasFormInputDataGerbongKetelRtwList.StartRecord) {
        await subAktivitasFormInputDataGerbongKetelRtwList.SetupRow();
    <tr @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasFormInputDataGerbongKetelRtwList.ListOptions.RenderBody("left", subAktivitasFormInputDataGerbongKetelRtwList.RowCount)
    @if (subAktivitasFormInputDataGerbongKetelRtwList.NoReferensi.Visible) { // subAktivitasFormInputDataGerbongKetelRtwList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataGerbongKetelRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataGerbongKetelRtwList.RowCount)_SubAktivitasFormInputDataGerbongKetelRTW_NoReferensi" class="el_SubAktivitasFormInputDataGerbongKetelRTW_NoReferensi">
<span @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataGerbongKetelRtwList.NoReferensi.Visible (end) *@
    @if (subAktivitasFormInputDataGerbongKetelRtwList.idProses.Visible) { // subAktivitasFormInputDataGerbongKetelRtwList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataGerbongKetelRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataGerbongKetelRtwList.RowCount)_SubAktivitasFormInputDataGerbongKetelRTW_idProses" class="el_SubAktivitasFormInputDataGerbongKetelRTW_idProses">
<span @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataGerbongKetelRtwList.idProses.Visible (end) *@
    @if (subAktivitasFormInputDataGerbongKetelRtwList.idAktifitas.Visible) { // subAktivitasFormInputDataGerbongKetelRtwList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataGerbongKetelRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataGerbongKetelRtwList.RowCount)_SubAktivitasFormInputDataGerbongKetelRTW_idAktifitas" class="el_SubAktivitasFormInputDataGerbongKetelRTW_idAktifitas">
<span @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataGerbongKetelRtwList.idAktifitas.Visible (end) *@
    @if (subAktivitasFormInputDataGerbongKetelRtwList.StatusAktivitas.Visible) { // subAktivitasFormInputDataGerbongKetelRtwList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataGerbongKetelRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataGerbongKetelRtwList.RowCount)_SubAktivitasFormInputDataGerbongKetelRTW_StatusAktivitas" class="el_SubAktivitasFormInputDataGerbongKetelRTW_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataGerbongKetelRtwList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasFormInputDataGerbongKetelRtwList.LastUpdatedBy.Visible) { // subAktivitasFormInputDataGerbongKetelRtwList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataGerbongKetelRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataGerbongKetelRtwList.RowCount)_SubAktivitasFormInputDataGerbongKetelRTW_LastUpdatedBy" class="el_SubAktivitasFormInputDataGerbongKetelRTW_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataGerbongKetelRtwList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasFormInputDataGerbongKetelRtwList.lastUpdatedDate.Visible) { // subAktivitasFormInputDataGerbongKetelRtwList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataGerbongKetelRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataGerbongKetelRtwList.RowCount)_SubAktivitasFormInputDataGerbongKetelRTW_lastUpdatedDate" class="el_SubAktivitasFormInputDataGerbongKetelRTW_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataGerbongKetelRtwList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasFormInputDataGerbongKetelRtwList.Jns_Produk.Visible) { // subAktivitasFormInputDataGerbongKetelRtwList.Jns_Produk.Visible (begin)
        <td data-name="Jns_Produk" @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.Jns_Produk.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataGerbongKetelRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataGerbongKetelRtwList.RowCount)_SubAktivitasFormInputDataGerbongKetelRTW_Jns_Produk" class="el_SubAktivitasFormInputDataGerbongKetelRTW_Jns_Produk">
<span @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.Jns_Produk.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.Jns_Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataGerbongKetelRtwList.Jns_Produk.Visible (end) *@
    @if (subAktivitasFormInputDataGerbongKetelRtwList.Nominasi.Visible) { // subAktivitasFormInputDataGerbongKetelRtwList.Nominasi.Visible (begin)
        <td data-name="Nominasi" @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.Nominasi.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataGerbongKetelRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataGerbongKetelRtwList.RowCount)_SubAktivitasFormInputDataGerbongKetelRTW_Nominasi" class="el_SubAktivitasFormInputDataGerbongKetelRTW_Nominasi">
<span @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.Nominasi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.Nominasi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataGerbongKetelRtwList.Nominasi.Visible (end) *@
    @if (subAktivitasFormInputDataGerbongKetelRtwList.Tanggal.Visible) { // subAktivitasFormInputDataGerbongKetelRtwList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.Tanggal.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataGerbongKetelRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataGerbongKetelRtwList.RowCount)_SubAktivitasFormInputDataGerbongKetelRTW_Tanggal" class="el_SubAktivitasFormInputDataGerbongKetelRTW_Tanggal">
<span @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataGerbongKetelRtwList.Tanggal.Visible (end) *@
    @if (subAktivitasFormInputDataGerbongKetelRtwList.DetailGerbong.Visible) { // subAktivitasFormInputDataGerbongKetelRtwList.DetailGerbong.Visible (begin)
        <td data-name="DetailGerbong" @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.DetailGerbong.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataGerbongKetelRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataGerbongKetelRtwList.RowCount)_SubAktivitasFormInputDataGerbongKetelRTW_DetailGerbong" class="el_SubAktivitasFormInputDataGerbongKetelRTW_DetailGerbong">
<span @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.DetailGerbong.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.DetailGerbong.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataGerbongKetelRtwList.DetailGerbong.Visible (end) *@
    @if (subAktivitasFormInputDataGerbongKetelRtwList.userInput.Visible) { // subAktivitasFormInputDataGerbongKetelRtwList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataGerbongKetelRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataGerbongKetelRtwList.RowCount)_SubAktivitasFormInputDataGerbongKetelRTW_userInput" class="el_SubAktivitasFormInputDataGerbongKetelRTW_userInput">
<span @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataGerbongKetelRtwList.userInput.Visible (end) *@
    @if (subAktivitasFormInputDataGerbongKetelRtwList.DetailQuantity.Visible) { // subAktivitasFormInputDataGerbongKetelRtwList.DetailQuantity.Visible (begin)
        <td data-name="DetailQuantity" @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.DetailQuantity.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataGerbongKetelRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataGerbongKetelRtwList.RowCount)_SubAktivitasFormInputDataGerbongKetelRTW_DetailQuantity" class="el_SubAktivitasFormInputDataGerbongKetelRTW_DetailQuantity">
<span @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.DetailQuantity.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.DetailQuantity.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataGerbongKetelRtwList.DetailQuantity.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasFormInputDataGerbongKetelRtwList.ListOptions.RenderBody("right", subAktivitasFormInputDataGerbongKetelRtwList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasFormInputDataGerbongKetelRtwList.RowIndex, "$rowindex$"))
        subAktivitasFormInputDataGerbongKetelRtwList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasFormInputDataGerbongKetelRtwList.IsCopy || subAktivitasFormInputDataGerbongKetelRtwList.IsAdd) && subAktivitasFormInputDataGerbongKetelRtwList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasFormInputDataGerbongKetelRtwList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasFormInputDataGerbongKetelRtwList.CurrentAction) && !subAktivitasFormInputDataGerbongKetelRtwList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasFormInputDataGerbongKetelRtwList.CloseRecordset(); }
@if (!subAktivitasFormInputDataGerbongKetelRtwList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasFormInputDataGerbongKetelRtwList.IsGridAdd && !(subAktivitasFormInputDataGerbongKetelRtwList.IsGridEdit && subAktivitasFormInputDataGerbongKetelRtwList.ModalGridEdit) && !subAktivitasFormInputDataGerbongKetelRtwList.IsMultiEdit) {
@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasFormInputDataGerbongKetelRtwList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasFormInputDataGerbongKetelRtwList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasFormInputDataGerbongKetelRtwList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasFormInputDataGerbongKetelRtwList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputDataGerbongKetelRtwList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputDataGerbongKetelRTW");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
