@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputNilaiBLsesuaiCqlTruckList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputNilaiBLsesuaiCqlTruckList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputNilaiBLsesuaiCQLTruck: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasFormInputNilaiBLsesuaiCqlTruckList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.TotalRecords > 0 && subAktivitasFormInputNilaiBLsesuaiCqlTruckList.ExportOptions.Visible) {
    subAktivitasFormInputNilaiBLsesuaiCqlTruckList.ExportOptions.Render("body");
}
@if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.ImportOptions.Visible) {
    subAktivitasFormInputNilaiBLsesuaiCqlTruckList.ImportOptions.Render("body");
}
@if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.SearchOptions.Visible) {
    subAktivitasFormInputNilaiBLsesuaiCqlTruckList.SearchOptions.Render("body");
}
@if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.FilterOptions.Visible) {
    subAktivitasFormInputNilaiBLsesuaiCqlTruckList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasFormInputNilaiBLsesuaiCqlTruckList.IsModal) {
<form name="fSubAktivitasFormInputNilaiBLsesuaiCQLTrucksrch" id="fSubAktivitasFormInputNilaiBLsesuaiCQLTrucksrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasFormInputNilaiBLsesuaiCQLTrucksrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputNilaiBLsesuaiCQLTruck: currentTable } });
var currentForm;
var fSubAktivitasFormInputNilaiBLsesuaiCQLTrucksrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputNilaiBLsesuaiCQLTrucksrch")
        .setPageId("list")
@if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasFormInputNilaiBLsesuaiCqlTruckList.IsExport() && Empty(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.CurrentAction) && subAktivitasFormInputNilaiBLsesuaiCqlTruckList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasFormInputNilaiBLsesuaiCQLTrucksrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasFormInputNilaiBLsesuaiCQLTrucksrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasFormInputNilaiBLsesuaiCQLTrucksrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasFormInputNilaiBLsesuaiCQLTrucksrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasFormInputNilaiBLsesuaiCqlTruckList.ShowPageHeader()
@subAktivitasFormInputNilaiBLsesuaiCqlTruckList.ShowMessages()
<main class="list @(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.TotalRecords == 0 && !subAktivitasFormInputNilaiBLsesuaiCqlTruckList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasFormInputNilaiBLsesuaiCqlTruckList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.TotalRecords > 0 || !Empty(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.TableGridClass)">
<form name="@(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.FormName)" id="@(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasFormInputNilaiBLsesuaiCQLTruck" class="card-body ew-grid-middle-panel @(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.TableContainerClass)" style="@(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.TableContainerStyle)">
@if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.TotalRecords > 0 || subAktivitasFormInputNilaiBLsesuaiCqlTruckList.IsGridEdit || subAktivitasFormInputNilaiBLsesuaiCqlTruckList.IsMultiEdit) {
<table id="tbl_SubAktivitasFormInputNilaiBLsesuaiCQLTrucklist" class="@(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowType = RowType.Header;

    // Render list options
    await subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasFormInputNilaiBLsesuaiCqlTruckList.ListOptions.RenderHeader("left")
@if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.id.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlTruckList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.id.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_id" class="SubAktivitasFormInputNilaiBLsesuaiCQLTruck_id">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.id))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlTruckList.id.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.idAktifitas.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlTruckList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_idAktifitas" class="SubAktivitasFormInputNilaiBLsesuaiCQLTruck_idAktifitas">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.idAktifitas))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlTruckList.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.idProses.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlTruckList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_idProses" class="SubAktivitasFormInputNilaiBLsesuaiCQLTruck_idProses">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.idProses))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlTruckList.idProses.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.NoReferensi.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlTruckList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_NoReferensi" class="SubAktivitasFormInputNilaiBLsesuaiCQLTruck_NoReferensi">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.NoReferensi))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlTruckList.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.KL_Obs.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlTruckList.KL_Obs.Visible (begin)
        <th data-name="KL_Obs" class="@(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.KL_Obs.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_KL_Obs" class="SubAktivitasFormInputNilaiBLsesuaiCQLTruck_KL_Obs">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.KL_Obs))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlTruckList.KL_Obs.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.KL_15.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlTruckList.KL_15.Visible (begin)
        <th data-name="KL_15" class="@(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.KL_15.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_KL_15" class="SubAktivitasFormInputNilaiBLsesuaiCQLTruck_KL_15">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.KL_15))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlTruckList.KL_15.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.Barrels.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlTruckList.Barrels.Visible (begin)
        <th data-name="Barrels" class="@(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.Barrels.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_Barrels" class="SubAktivitasFormInputNilaiBLsesuaiCQLTruck_Barrels">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.Barrels))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlTruckList.Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.LT.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlTruckList.LT.Visible (begin)
        <th data-name="LT" class="@(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.LT.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_LT" class="SubAktivitasFormInputNilaiBLsesuaiCQLTruck_LT">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.LT))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlTruckList.LT.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.MT.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlTruckList.MT.Visible (begin)
        <th data-name="MT" class="@(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.MT.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_MT" class="SubAktivitasFormInputNilaiBLsesuaiCQLTruck_MT">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.MT))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlTruckList.MT.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.userInput.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlTruckList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_userInput" class="SubAktivitasFormInputNilaiBLsesuaiCQLTruck_userInput">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.userInput))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlTruckList.userInput.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.etlDate.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlTruckList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_etlDate" class="SubAktivitasFormInputNilaiBLsesuaiCQLTruck_etlDate">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.etlDate))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlTruckList.etlDate.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.LastUpdatedBy.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlTruckList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_LastUpdatedBy" class="SubAktivitasFormInputNilaiBLsesuaiCQLTruck_LastUpdatedBy">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.LastUpdatedBy))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlTruckList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.lastUpdatedDate.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlTruckList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_lastUpdatedDate" class="SubAktivitasFormInputNilaiBLsesuaiCQLTruck_lastUpdatedDate">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.lastUpdatedDate))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlTruckList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.StatusAktivitas.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlTruckList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_StatusAktivitas" class="SubAktivitasFormInputNilaiBLsesuaiCQLTruck_StatusAktivitas">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.StatusAktivitas))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlTruckList.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.TotalPenyaluran.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlTruckList.TotalPenyaluran.Visible (begin)
        <th data-name="TotalPenyaluran" class="@(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.TotalPenyaluran.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_TotalPenyaluran" class="SubAktivitasFormInputNilaiBLsesuaiCQLTruck_TotalPenyaluran">@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RenderFieldHeader(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.TotalPenyaluran))</div></th>
} @* subAktivitasFormInputNilaiBLsesuaiCqlTruckList.TotalPenyaluran.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasFormInputNilaiBLsesuaiCqlTruckList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.PageNumber)">
@{
    await subAktivitasFormInputNilaiBLsesuaiCqlTruckList.SetupGrid();
    bool eof = subAktivitasFormInputNilaiBLsesuaiCqlTruckList.Recordset == null; // DN
}
@while (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RecordCount < subAktivitasFormInputNilaiBLsesuaiCqlTruckList.StopRecord || SameString(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowIndex, "$rowindex$") &&
        (!subAktivitasFormInputNilaiBLsesuaiCqlTruckList.IsGridAdd || subAktivitasFormInputNilaiBLsesuaiCqlTruckList.CurrentMode == "copy") &&
        (!((subAktivitasFormInputNilaiBLsesuaiCqlTruckList.IsCopy || subAktivitasFormInputNilaiBLsesuaiCqlTruckList.IsAdd) && subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasFormInputNilaiBLsesuaiCqlTruckList.Recordset.ReadAsync();
    subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RecordCount++;
    if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RecordCount >= subAktivitasFormInputNilaiBLsesuaiCqlTruckList.StartRecord) {
        await subAktivitasFormInputNilaiBLsesuaiCqlTruckList.SetupRow();
    <tr @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasFormInputNilaiBLsesuaiCqlTruckList.ListOptions.RenderBody("left", subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowCount)
    @if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.id.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlTruckList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_id" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_id">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlTruckList.id.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.idAktifitas.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlTruckList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_idAktifitas" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_idAktifitas">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlTruckList.idAktifitas.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.idProses.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlTruckList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_idProses" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_idProses">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlTruckList.idProses.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.NoReferensi.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlTruckList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_NoReferensi" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_NoReferensi">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlTruckList.NoReferensi.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.KL_Obs.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlTruckList.KL_Obs.Visible (begin)
        <td data-name="KL_Obs" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.KL_Obs.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_KL_Obs" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_KL_Obs">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.KL_Obs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.KL_Obs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlTruckList.KL_Obs.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.KL_15.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlTruckList.KL_15.Visible (begin)
        <td data-name="KL_15" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.KL_15.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_KL_15" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_KL_15">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.KL_15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.KL_15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlTruckList.KL_15.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.Barrels.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlTruckList.Barrels.Visible (begin)
        <td data-name="Barrels" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.Barrels.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_Barrels" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_Barrels">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.Barrels.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.Barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlTruckList.Barrels.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.LT.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlTruckList.LT.Visible (begin)
        <td data-name="LT" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.LT.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_LT" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_LT">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.LT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.LT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlTruckList.LT.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.MT.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlTruckList.MT.Visible (begin)
        <td data-name="MT" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.MT.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_MT" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_MT">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.MT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlTruckList.MT.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.userInput.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlTruckList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_userInput" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_userInput">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlTruckList.userInput.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.etlDate.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlTruckList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_etlDate" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_etlDate">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlTruckList.etlDate.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.LastUpdatedBy.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlTruckList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_LastUpdatedBy" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlTruckList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.lastUpdatedDate.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlTruckList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_lastUpdatedDate" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlTruckList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.StatusAktivitas.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlTruckList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_StatusAktivitas" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlTruckList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLsesuaiCqlTruckList.TotalPenyaluran.Visible) { // subAktivitasFormInputNilaiBLsesuaiCqlTruckList.TotalPenyaluran.Visible (begin)
        <td data-name="TotalPenyaluran" @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.TotalPenyaluran.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowCount)_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_TotalPenyaluran" class="el_SubAktivitasFormInputNilaiBLsesuaiCQLTruck_TotalPenyaluran">
<span @Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.TotalPenyaluran.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.TotalPenyaluran.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLsesuaiCqlTruckList.TotalPenyaluran.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasFormInputNilaiBLsesuaiCqlTruckList.ListOptions.RenderBody("right", subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowIndex, "$rowindex$"))
        subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasFormInputNilaiBLsesuaiCqlTruckList.IsCopy || subAktivitasFormInputNilaiBLsesuaiCqlTruckList.IsAdd) && subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasFormInputNilaiBLsesuaiCqlTruckList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.CurrentAction) && !subAktivitasFormInputNilaiBLsesuaiCqlTruckList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasFormInputNilaiBLsesuaiCqlTruckList.CloseRecordset(); }
@if (!subAktivitasFormInputNilaiBLsesuaiCqlTruckList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasFormInputNilaiBLsesuaiCqlTruckList.IsGridAdd && !(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.IsGridEdit && subAktivitasFormInputNilaiBLsesuaiCqlTruckList.ModalGridEdit) && !subAktivitasFormInputNilaiBLsesuaiCqlTruckList.IsMultiEdit) {
@Html.Raw(subAktivitasFormInputNilaiBLsesuaiCqlTruckList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasFormInputNilaiBLsesuaiCqlTruckList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasFormInputNilaiBLsesuaiCqlTruckList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasFormInputNilaiBLsesuaiCqlTruckList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasFormInputNilaiBLsesuaiCqlTruckList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputNilaiBLsesuaiCqlTruckList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputNilaiBLsesuaiCQLTruck");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
