@{
    // View
    View = this;

    // Check action result
    if (subAktivitasHasilPemeriksaanPenKonEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasHasilPemeriksaanPenKonEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasHasilPemeriksaanPenKonEdit.ShowPageHeader()
@subAktivitasHasilPemeriksaanPenKonEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasHasilPemeriksaanPenKonedit" id="fSubAktivitasHasilPemeriksaanPenKonedit" class="@(subAktivitasHasilPemeriksaanPenKonEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasHasilPemeriksaanPenKonEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasHasilPemeriksaanPenKon: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasHasilPemeriksaanPenKonedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasHasilPemeriksaanPenKonedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null], fields.idAktifitas.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null], fields.lastUpdatedDate.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null], fields.StatusAktivitas.isInvalid],
            ["NamaKapal", [fields.NamaKapal.visible && fields.NamaKapal.required ? ew.Validators.required(fields.NamaKapal.caption) : null], fields.NamaKapal.isInvalid],
            ["Tanggal", [fields.Tanggal.visible && fields.Tanggal.required ? ew.Validators.required(fields.Tanggal.caption) : null, ew.Validators.datetime(fields.Tanggal.clientFormatPattern)], fields.Tanggal.isInvalid],
            ["NamaKegiatan", [fields.NamaKegiatan.visible && fields.NamaKegiatan.required ? ew.Validators.required(fields.NamaKegiatan.caption) : null], fields.NamaKegiatan.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["Density", [fields.Density.visible && fields.Density.required ? ew.Validators.required(fields.Density.caption) : null], fields.Density.isInvalid],
            ["Temperature", [fields.Temperature.visible && fields.Temperature.required ? ew.Validators.required(fields.Temperature.caption) : null], fields.Temperature.isInvalid],
            ["Pressure", [fields.Pressure.visible && fields.Pressure.required ? ew.Validators.required(fields.Pressure.caption) : null], fields.Pressure.isInvalid],
            ["Keterangan", [fields.Keterangan.visible && fields.Keterangan.required ? ew.Validators.required(fields.Keterangan.caption) : null], fields.Keterangan.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Client script
    // Write your client script here, no need to add script tags.
    var parent_url = ew.PATH_BASE;
    var IdProses = "@subAktivitasHasilPemeriksaanPenKonEdit.idProses.CurrentValue";
    function handleCustomSubmit(status) {
        let idAktivitas = $("#x_idAktifitas").val();
        // const originalStatus = document.querySelector('#el_SubAktivitasHasilPemeriksaanPenKon_StatusAktivitas .form-control-plaintext').textContent;
        let originalStatus = $("#el_SubAktivitasHasilPemeriksaanPenKon_StatusAktivitas .form-control-plaintext").text().trim();
        $.ajax({
            url: parent_url + `api/LookUpList/check_valid_status_aktivitas?idAktivitas=${idAktivitas}&originalStatus=${originalStatus}`,
            type: 'GET',
            beforeSend: function () {
                showLoading();
            },
            success: function (response) {
                if (!response.IsValid){
                    hideLoading();
                    ew.alert(response.Message ?? "Status aktivitas telah diubah oleh pengguna lain");
                    return;
                } else {
                    let form = $("#fSubAktivitasHasilPemeriksaanPenKonedit");
                    $.ajax({
                        url: form.attr("action"),
                        type: form.attr("method"),
                        data: form.serialize(),
                        success: function (response) {
                            updateStatus(idAktivitas, status);
                        },
                        error: function (xhr, status, error) {
                            hideLoading();
                            ew.alert("Gagal menyimpan data.");
                            console.error("Form submit gagal:", error);
                        }
                    });  
                }
            },
            error: function (xhr, status, error) {
                hideLoading();
                ew.alert("Gagal menyimpan data.");
                console.error("Form submit gagal:", error);
            }
        }); 
    }
    function updateStatus(idAktivitas, status) {
        $.ajax({
            url: parent_url + `api/LookUpList/update_status_aktivitas?idAktivitas=${idAktivitas}&statusAktivitas=${status}`,
            type: 'POST',
            success: function () {
                console.log("Status berhasil diperbarui.");
                if (status == "Completed" || status == "Completed Edit") {
                    window.location.href = `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`;
                } else {
                    location.reload();
                }
            },
            error: function (xhr, status, error) {
                ew.alert("Status gagal diperbarui.");
                console.error("Update status gagal:", error);
            },
            complete: function () {
                hideLoading();
            }
        });
    }
    $(document).on("click", "#btn-draft", function () {
        handleCustomSubmit("Draft");
    });
    $(document).on("click", "#btn-completed", function () {
        handleCustomSubmit("Completed");
    });
    $(document).on("click", "#btn-editing", function () {
        handleCustomSubmit("Editing");
    });
    $(document).on("click", "#btn-completedEdit", function () {
        handleCustomSubmit("Completed Edit");
    });
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasHasilPemeriksaanPenKonEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasHasilPemeriksaanPenKonEdit.OldKeyName)" value="@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasHasilPemeriksaanPenKonEdit.idProses.Visible) { // subAktivitasHasilPemeriksaanPenKonEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenKon_idProses" class="@(subAktivitasHasilPemeriksaanPenKonEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.idProses.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenKonEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenKon_idProses">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.idProses.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.idProses.DisplayValue(subAktivitasHasilPemeriksaanPenKonEdit.idProses.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasHasilPemeriksaanPenKon" data-field="x_idProses" data-hidden="1" name="x_idProses" id="x_idProses" value="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenKonEdit.idProses.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenKonEdit.idProses.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenKonEdit.idAktifitas.Visible) { // subAktivitasHasilPemeriksaanPenKonEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenKon_idAktifitas" class="@(subAktivitasHasilPemeriksaanPenKonEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.idAktifitas.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenKonEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenKon_idAktifitas">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.idAktifitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.idAktifitas.DisplayValue(subAktivitasHasilPemeriksaanPenKonEdit.idAktifitas.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasHasilPemeriksaanPenKon" data-field="x_idAktifitas" data-hidden="1" name="x_idAktifitas" id="x_idAktifitas" value="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenKonEdit.idAktifitas.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenKonEdit.idAktifitas.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenKonEdit.NoReferensi.Visible) { // subAktivitasHasilPemeriksaanPenKonEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenKon_NoReferensi" for="x_NoReferensi" class="@(subAktivitasHasilPemeriksaanPenKonEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.NoReferensi.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenKonEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenKon_NoReferensi">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.NoReferensi.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasHasilPemeriksaanPenKonEdit.NoReferensi.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasHasilPemeriksaanPenKon" data-field="x_NoReferensi" data-hidden="1" name="x_NoReferensi" id="x_NoReferensi" value="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenKonEdit.NoReferensi.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenKonEdit.NoReferensi.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenKonEdit.LastUpdatedBy.Visible) { // subAktivitasHasilPemeriksaanPenKonEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenKon_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasHasilPemeriksaanPenKonEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenKonEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenKon_LastUpdatedBy">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.LastUpdatedBy.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasHasilPemeriksaanPenKonEdit.LastUpdatedBy.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasHasilPemeriksaanPenKon" data-field="x_LastUpdatedBy" data-hidden="1" name="x_LastUpdatedBy" id="x_LastUpdatedBy" value="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenKonEdit.LastUpdatedBy.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenKonEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenKonEdit.lastUpdatedDate.Visible) { // subAktivitasHasilPemeriksaanPenKonEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenKon_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasHasilPemeriksaanPenKonEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenKonEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenKon_lastUpdatedDate">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.lastUpdatedDate.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasHasilPemeriksaanPenKonEdit.lastUpdatedDate.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasHasilPemeriksaanPenKon" data-field="x_lastUpdatedDate" data-hidden="1" name="x_lastUpdatedDate" id="x_lastUpdatedDate" value="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenKonEdit.lastUpdatedDate.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenKonEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenKonEdit.StatusAktivitas.Visible) { // subAktivitasHasilPemeriksaanPenKonEdit.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.StatusAktivitas.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenKon_StatusAktivitas" class="@(subAktivitasHasilPemeriksaanPenKonEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.StatusAktivitas.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenKonEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenKon_StatusAktivitas">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.StatusAktivitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.StatusAktivitas.DisplayValue(subAktivitasHasilPemeriksaanPenKonEdit.StatusAktivitas.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasHasilPemeriksaanPenKon" data-field="x_StatusAktivitas" data-hidden="1" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenKonEdit.StatusAktivitas.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenKonEdit.StatusAktivitas.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenKonEdit.NamaKapal.Visible) { // subAktivitasHasilPemeriksaanPenKonEdit.NamaKapal.Visible (begin)
    <div id="r_NamaKapal" @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.NamaKapal.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenKon_NamaKapal" for="x_NamaKapal" class="@(subAktivitasHasilPemeriksaanPenKonEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.NamaKapal.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.NamaKapal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenKonEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.NamaKapal.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenKon_NamaKapal">
<input type="@(subAktivitasHasilPemeriksaanPenKonEdit.NamaKapal.InputTextType)" name="x_NamaKapal" id="x_NamaKapal" data-table="SubAktivitasHasilPemeriksaanPenKon" data-field="x_NamaKapal" value="@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.NamaKapal.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenKonEdit.NamaKapal.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenKonEdit.NamaKapal.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.NamaKapal.EditAttributes) aria-describedby="x_NamaKapal_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.NamaKapal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.NamaKapal.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenKonEdit.NamaKapal.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenKonEdit.Tanggal.Visible) { // subAktivitasHasilPemeriksaanPenKonEdit.Tanggal.Visible (begin)
    <div id="r_Tanggal" @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Tanggal.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenKon_Tanggal" for="x_Tanggal" class="@(subAktivitasHasilPemeriksaanPenKonEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Tanggal.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Tanggal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenKonEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Tanggal.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenKon_Tanggal">
<input type="@(subAktivitasHasilPemeriksaanPenKonEdit.Tanggal.InputTextType)" name="x_Tanggal" id="x_Tanggal" data-table="SubAktivitasHasilPemeriksaanPenKon" data-field="x_Tanggal" value="@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Tanggal.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenKonEdit.Tanggal.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenKonEdit.Tanggal.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Tanggal.EditAttributes) aria-describedby="x_Tanggal_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Tanggal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Tanggal.GetErrorMessage())</div>
@if (!subAktivitasHasilPemeriksaanPenKonEdit.Tanggal.ReadOnly && !subAktivitasHasilPemeriksaanPenKonEdit.Tanggal.Disabled && !subAktivitasHasilPemeriksaanPenKonEdit.Tanggal.EditAttrs.Is("readonly") && !subAktivitasHasilPemeriksaanPenKonEdit.Tanggal.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasHasilPemeriksaanPenKonedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasHasilPemeriksaanPenKonedit", "x_Tanggal", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenKonEdit.Tanggal.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenKonEdit.NamaKegiatan.Visible) { // subAktivitasHasilPemeriksaanPenKonEdit.NamaKegiatan.Visible (begin)
    <div id="r_NamaKegiatan" @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.NamaKegiatan.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenKon_NamaKegiatan" for="x_NamaKegiatan" class="@(subAktivitasHasilPemeriksaanPenKonEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.NamaKegiatan.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.NamaKegiatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenKonEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.NamaKegiatan.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenKon_NamaKegiatan">
<input type="@(subAktivitasHasilPemeriksaanPenKonEdit.NamaKegiatan.InputTextType)" name="x_NamaKegiatan" id="x_NamaKegiatan" data-table="SubAktivitasHasilPemeriksaanPenKon" data-field="x_NamaKegiatan" value="@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.NamaKegiatan.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenKonEdit.NamaKegiatan.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenKonEdit.NamaKegiatan.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.NamaKegiatan.EditAttributes) aria-describedby="x_NamaKegiatan_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.NamaKegiatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.NamaKegiatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenKonEdit.NamaKegiatan.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenKonEdit.Produk.Visible) { // subAktivitasHasilPemeriksaanPenKonEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Produk.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenKon_Produk" for="x_Produk" class="@(subAktivitasHasilPemeriksaanPenKonEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Produk.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenKonEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Produk.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenKon_Produk">
<input type="@(subAktivitasHasilPemeriksaanPenKonEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasHasilPemeriksaanPenKon" data-field="x_Produk" value="@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Produk.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenKonEdit.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenKonEdit.Produk.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenKonEdit.Produk.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenKonEdit.Density.Visible) { // subAktivitasHasilPemeriksaanPenKonEdit.Density.Visible (begin)
    <div id="r_Density" @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Density.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenKon_Density" for="x_Density" class="@(subAktivitasHasilPemeriksaanPenKonEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Density.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Density.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenKonEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Density.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenKon_Density">
<input type="@(subAktivitasHasilPemeriksaanPenKonEdit.Density.InputTextType)" name="x_Density" id="x_Density" data-table="SubAktivitasHasilPemeriksaanPenKon" data-field="x_Density" value="@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Density.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenKonEdit.Density.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenKonEdit.Density.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Density.EditAttributes) aria-describedby="x_Density_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Density.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Density.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenKonEdit.Density.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenKonEdit.Temperature.Visible) { // subAktivitasHasilPemeriksaanPenKonEdit.Temperature.Visible (begin)
    <div id="r_Temperature" @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Temperature.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenKon_Temperature" for="x_Temperature" class="@(subAktivitasHasilPemeriksaanPenKonEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Temperature.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Temperature.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenKonEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Temperature.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenKon_Temperature">
<input type="@(subAktivitasHasilPemeriksaanPenKonEdit.Temperature.InputTextType)" name="x_Temperature" id="x_Temperature" data-table="SubAktivitasHasilPemeriksaanPenKon" data-field="x_Temperature" value="@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Temperature.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenKonEdit.Temperature.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenKonEdit.Temperature.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Temperature.EditAttributes) aria-describedby="x_Temperature_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Temperature.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Temperature.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenKonEdit.Temperature.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenKonEdit.Pressure.Visible) { // subAktivitasHasilPemeriksaanPenKonEdit.Pressure.Visible (begin)
    <div id="r_Pressure" @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Pressure.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenKon_Pressure" for="x_Pressure" class="@(subAktivitasHasilPemeriksaanPenKonEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Pressure.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Pressure.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenKonEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Pressure.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenKon_Pressure">
<input type="@(subAktivitasHasilPemeriksaanPenKonEdit.Pressure.InputTextType)" name="x_Pressure" id="x_Pressure" data-table="SubAktivitasHasilPemeriksaanPenKon" data-field="x_Pressure" value="@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Pressure.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenKonEdit.Pressure.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenKonEdit.Pressure.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Pressure.EditAttributes) aria-describedby="x_Pressure_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Pressure.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Pressure.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenKonEdit.Pressure.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenKonEdit.Keterangan.Visible) { // subAktivitasHasilPemeriksaanPenKonEdit.Keterangan.Visible (begin)
    <div id="r_Keterangan" @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Keterangan.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenKon_Keterangan" for="x_Keterangan" class="@(subAktivitasHasilPemeriksaanPenKonEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Keterangan.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Keterangan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenKonEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Keterangan.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenKon_Keterangan">
<input type="@(subAktivitasHasilPemeriksaanPenKonEdit.Keterangan.InputTextType)" name="x_Keterangan" id="x_Keterangan" data-table="SubAktivitasHasilPemeriksaanPenKon" data-field="x_Keterangan" value="@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Keterangan.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenKonEdit.Keterangan.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenKonEdit.Keterangan.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Keterangan.EditAttributes) aria-describedby="x_Keterangan_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Keterangan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.Keterangan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenKonEdit.Keterangan.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="SubAktivitasHasilPemeriksaanPenKon" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenKonEdit.id.CurrentValue))">
@{ subAktivitasHasilPemeriksaanPenKonEdit.CloseRecordset(); }
@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasHasilPemeriksaanPenKonEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasHasilPemeriksaanPenKonedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasHasilPemeriksaanPenKonedit" data-href="@AppPath(subAktivitasHasilPemeriksaanPenKonEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasHasilPemeriksaanPenKonEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasHasilPemeriksaanPenKonEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasHasilPemeriksaanPenKon");
});
</script>
<script>
loadjs.ready("load", function() {
    // Startup script
    // Write your table-specific startup script here
    // document.write("page loaded");
    var IdReferensi = "@subAktivitasHasilPemeriksaanPenKonEdit.NoReferensi.CurrentValue";
    var IdProses = "@subAktivitasHasilPemeriksaanPenKonEdit.idProses.CurrentValue";
    var idAktivitas = "@subAktivitasHasilPemeriksaanPenKonEdit.idAktifitas.CurrentValue";
    var NamaAktivitas = $('#el_SubAktivitasHasilPemeriksaanPenKon_idAktifitas').text();
    var parent_url = ew.PATH_BASE;
    var steps = [
        { number: 1, label: "Proses Penyaluran", url: `${parent_url}PenyaluranList`, icon: "fa-truck-fast" },
        { number: 2, label: "Proses", url: `${parent_url}ProsesList?cmd=search&x_IdReferensi%5B%5D=${IdReferensi}&search=&searchtype=`, icon: "fa-gears" },
        { number: 3, label: "Aktivitas", url: `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`, icon: "fa-list-check" },
        { number: 4, label: NamaAktivitas, url: '', icon: "fa-file-circle-check" }
    ];
    var currentStep = 4;
    $("<style>")
        .prop("type", "text/css")
        .html(`
            .stepper {
                display: flex;
                counter-reset: step;
                flex-wrap: nowrap;        /* jangan pecah ke bawah */
                overflow-x: auto;         /* scroll horizontal */
                -webkit-overflow-scrolling: touch; /* smooth scroll di mobile */
                padding-bottom: 8px;      /* space biar scroll bar gak nempel */
            }
            .stepper::-webkit-scrollbar {
            height: 6px; /* tipis */
            }
            .stepper::-webkit-scrollbar-thumb {
                background-color: #ccc;
                border-radius: 3px;
            }
            .step {
                width: 150px;
                text-align: center;
                position: relative;
            }
            .step:not(:last-child)::after {
                content: '';
                position: absolute;
                top: 20px;
                right: -50%;
                width: 100%;
                height: 4px;
                background-color: #ccc;
                z-index: 0;
            }
            .step.completed:not(:last-child)::after {
                background-color: #3c6dbd;
            }
            .step-icon {
                width: 36px;
                height: 36px;
                line-height: 36px;
                border-radius: 50%;
                background: #ccc;
                display: inline-block;
                z-index: 1;
                position: relative;
                color: white;
                font-weight: bold;
            }
            .step.active .step-icon {
                background: #3c6dbd;
            }
            .step-label {
                margin-top: 8px;
                font-size: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6px;
                color: #333;
            }
            .step-label {
                color: #3c6dbd !important;
                text-decoration: none;
                margin: 0;
                padding: 0;
            }
            .step-label-not-active {
                color: #CCCCCC !important;
            }
            .ag-theme-quartz .ag-header {
                background-color: #3c6dbd !important;
            }
            .ag-theme-quartz .ag-header-cell-label {
                color: #ffffff !important;
            }
            .ag-theme-quartz .ag-icon-filter {
                color: #ffffff !important;
            }
            .rotate-down {
                transform: rotate(90deg);
                transition: transform 0.3s ease;
            }
            .rotate-right {
                transform: rotate(0deg);
                transition: transform 0.3s ease;
            }
        `)
        .appendTo("head");
    var $stepperWrapper = $('<div class="d-flex border-bottom border-2 pb-2"><div class="stepper"></div></div>');
    var $stepper = $stepperWrapper.find(".stepper");
    steps.forEach(function (step, i) {
        var isActive = step.number === currentStep;
        var isCompleted = step.number < currentStep;
        var stepClass = isActive ? "active" : isCompleted ? "completed" : "";
        var icon, labelContent, html;
        if (isActive) {
            icon = `<div class="step-icon bg-success">${step.number}</div>`;
            labelContent = `<div class="step-label"><p class="text-success mb-1"><i class="fa-solid ${step.icon} me-1 text-success"></i> ${step.label}</p></div>`;
            html = `<div class="step ${stepClass} text-success">${icon}${labelContent}</div>`;
        } else if (isCompleted) {
            icon = `<div class="step-icon" style="background: #3c6dbd;">${step.number}</div>`;
            labelContent = `<div class="step-label"><a href="${step.url}" class="text-primary"><i class="fa-solid ${step.icon} me-1"></i>${step.label}</a></div>`;
            html = `<div class="step ${stepClass}">${icon}${labelContent}</div>`;
        } else {
            icon = `<div class="step-icon">${step.number}</div>`;
            labelContent = `<div class="step-label-not-active"><p style="margin: 0;"><i class="fa-solid ${step.icon} me-1"></i>${step.label}</p></div>`;
            html = `<div class="step ${stepClass} text-secondary">${icon}${labelContent}</div>`;
        }
        $stepper.append(html);
    });
    $(".content-header .container-fluid .row").append($stepperWrapper);
    $("#btn-action").hide();
    $("#btn-cancel").html('<i class="fa-solid fa-ban"></i></i> Cancel');
    const $cancelButton = $("#btn-cancel");
    const idAktifitas = $("#x_idAktifitas").val();
    let StatusAktivitas = $('#el_SubAktivitasHasilPemeriksaanPenKon_StatusAktivitas').text().trim();

    // --- log aktivitas start ---
    $('#el_SubAktivitasHasilPemeriksaanPenKon_LastUpdatedBy').addClass('d-flex gap-3');
    $('#el_SubAktivitasHasilPemeriksaanPenKon_LastUpdatedBy').append(`
        <button type="button" class="btn btn-primary ew-btn ps-2" expand-log="false">
            <i class="fa-solid fa-caret-right fa-2xl me-2 caret-icon rotate-right"></i>
            Log History
            <i class="fa-solid fa-clock-rotate-left ms-1"></i> 
        </button>
    `);
    $(document).on('click', 'button[expand-log]', function () {
        const $btn = $(this);
        const isExpanded = $btn.attr('expand-log') === 'true';
        const $row = $('#log-table-row');
        const $wrapper = $('#log-table-wrapper');
        const $caret = $btn.find('.caret-icon');
        if (!isExpanded) {
            $btn.attr('expand-log', 'true');
            $row.removeClass('d-none');
            setTimeout(() => {
                $wrapper.css({
                    maxHeight: '500px'
                });
            }, 10);
            $caret.removeClass('rotate-right').addClass('rotate-down');
        } else {
            $btn.attr('expand-log', 'false');
            $wrapper.css({
                maxHeight: '0'
            });
            setTimeout(() => {
                $row.addClass('d-none');
            }, 600);
            $caret.removeClass('rotate-down').addClass('rotate-right');
        }
    });
    if (idAktivitas && idAktivitas !== "0") {
        $.ajax({
            url: parent_url + `api/LookUpList/sub-aktivitas/startup?idAktivitas=${idAktivitas}`,
            type: 'GET',
            success: function(response) {
                // cek status
                if ($cancelButton.length){
                    let status = response.StatusAktivitas;
                    currentStatusAktivitas = status;
                    let $customButtons = ``;
                    switch (status) {
                        case "Waiting":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-draft">
                                    <i class="fas fa-save"></i> Save
                                </button>
                            `;
                            break;
                        case "Draft":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-draft">
                                    <i class="fas fa-save"></i> Save
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completed">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `
                            break;
                        case "Completed":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-editing">
                                    <i class="fa-solid fa-pen-to-square"></i> Edit
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completedEdit">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `;
                            break;
                        case "Editing":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-editing">
                                    <i class="fa-solid fa-pen-to-square"></i> Edit
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completedEdit">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `;
                            break;
                        case "Completed Edit":
                            if (userLevel === '4'){
                                $customButtons = `
                                    <button type="button" class="btn btn-warning ew-btn ml-2" id="btn-reverse-status">
                                        <i class="fa-solid fa-pen-to-square"></i> Edit 
                                    </button>
                                `;
                            }
                            break;
                    }
                    $cancelButton.before($customButtons);
                }

                // Cek is editable
                if(!response.IsEditable || response.StatusAktivitas === "Completed Edit"){
                    $("#btn-draft").hide();
                    $("#btn-editing").hide();
                    $("#btn-completed").hide();
                    $("#btn-completedEdit").hide();
                    $('input, select, textarea').prop('disabled', true);
                    $('#catatanReverseStatusEditing').prop('disabled', false);
                }

                // Log
                const mappedData = response.LogAktivitas.map(item => ({
                    Aktivitas: item.Aktivitas,
                    Username: item.UserName,
                    StatusAktivitas: item.StatusAktivitas,
                    Tanggal: item.Tanggal,
                    Catatan: item.Catatan
                }));
                $.getScript('https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js', function () {
                        $('#r_LastUpdatedBy').after(`
                            <div id="log-table-row" class="d-none row m-0">
                                <div class="p-0 col-2"></div>
                                <div class="p-0 col-10">
                                    <div id="log-table-wrapper" style="overflow: hidden; transition: all 0.6s ease; max-height: 0;">
                                        <div id="myGrid" class="ag-theme-quartz w-100 my-3" style="height: 300px;"></div>
                                    </div>
                                </div>
                            </div>
                        `);
                        const gridOptions = {
                            rowData: mappedData,
                            columnDefs: [
                                {
                                    headerName: 'No.',
                                    valueGetter: 'node.rowIndex + 1',
                                    width: 80,
                                    filter: false
                                },
                                {
                                    headerName: 'Aktivitas',
                                    field: 'Aktivitas',
                                    flex: 1
                                },
                                {
                                    headerName: 'Username',
                                    field: 'Username',
                                    flex: 1
                                },
                                {
                                    headerName: 'Status Aktivitas',
                                    field: 'StatusAktivitas',
                                    flex: 1
                                },
                                {
                                    headerName: 'Tanggal',
                                    field: 'Tanggal',
                                    flex: 1
                                },
                                {
                                    headerName: 'Catatan',
                                    field: 'Catatan',
                                    flex: 1
                                }
                            ],
                            defaultColDef: {
                                sortable: false,
                                suppressMovable: true,
                                filter: true,
                                resizable: false
                            },
                            rowSelection: 'multiple',
                            suppressRowClickSelection: true,
                            pagination: true,
                            paginationPageSize: 10
                        };
                        const myGridElement = document.querySelector('#myGrid');
                        agGrid.createGrid(myGridElement, gridOptions);
                    });
            },
            error: function(xhr, status, error) {
                ew.alert(xhr.responseJSON.message ?? "Terjadi kesalahan dalam memuat data");
            }
        });
    } else {
        console.warn("Skipping startup API: Invalid IdAktivitas");
        $('button[expand-log]').hide(); 
        $("#btn-draft, #btn-editing, #btn-completed, #btn-completedEdit").hide();
        $('input, select, textarea').prop('disabled', true);
    }
    // --- log aktivitas end ---
    $('#x_Density, #x_Temperature, #x_Pressure')
        .attr('inputmode', 'numeric')
        .on('input', function () {
            let val = $(this).val();
            let isNegative = val.startsWith('-');
            val = val.replace(',', '.');
            val = val.replace(/[^0-9.]/g, '');
            const parts = val.split('.');
            if (parts.length > 2) {
                val = parts[0] + '.' + parts.slice(1).join('');
            }
            if (isNegative) {
                val = '-' + val;
            }
            $(this).val(val);
        });
});
</script>
