@{
    // View
    View = this;

    // Check action result
    if (subaktivitasHasilPemeriksaanLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subaktivitasHasilPemeriksaanLpgList.UseLayout ? "_Layout" : "";
}
@if (!subaktivitasHasilPemeriksaanLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasHasilPemeriksaanLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasHasilPemeriksaanLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subaktivitasHasilPemeriksaanLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subaktivitasHasilPemeriksaanLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subaktivitasHasilPemeriksaanLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subaktivitasHasilPemeriksaanLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subaktivitasHasilPemeriksaanLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subaktivitasHasilPemeriksaanLpgList.TotalRecords > 0 && subaktivitasHasilPemeriksaanLpgList.ExportOptions.Visible) {
    subaktivitasHasilPemeriksaanLpgList.ExportOptions.Render("body");
}
@if (subaktivitasHasilPemeriksaanLpgList.ImportOptions.Visible) {
    subaktivitasHasilPemeriksaanLpgList.ImportOptions.Render("body");
}
@if (subaktivitasHasilPemeriksaanLpgList.SearchOptions.Visible) {
    subaktivitasHasilPemeriksaanLpgList.SearchOptions.Render("body");
}
@if (subaktivitasHasilPemeriksaanLpgList.FilterOptions.Visible) {
    subaktivitasHasilPemeriksaanLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subaktivitasHasilPemeriksaanLpgList.IsModal) {
<form name="fSubaktivitasHasilPemeriksaanLPGsrch" id="fSubaktivitasHasilPemeriksaanLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubaktivitasHasilPemeriksaanLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subaktivitasHasilPemeriksaanLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasHasilPemeriksaanLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasHasilPemeriksaanLPG: currentTable } });
var currentForm;
var fSubaktivitasHasilPemeriksaanLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubaktivitasHasilPemeriksaanLPGsrch")
        .setPageId("list")
@if (subaktivitasHasilPemeriksaanLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subaktivitasHasilPemeriksaanLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subaktivitasHasilPemeriksaanLpgList.IsExport() && Empty(subaktivitasHasilPemeriksaanLpgList.CurrentAction) && subaktivitasHasilPemeriksaanLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subaktivitasHasilPemeriksaanLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subaktivitasHasilPemeriksaanLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subaktivitasHasilPemeriksaanLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubaktivitasHasilPemeriksaanLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subaktivitasHasilPemeriksaanLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubaktivitasHasilPemeriksaanLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subaktivitasHasilPemeriksaanLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubaktivitasHasilPemeriksaanLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subaktivitasHasilPemeriksaanLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubaktivitasHasilPemeriksaanLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subaktivitasHasilPemeriksaanLpgList.ShowPageHeader()
@subaktivitasHasilPemeriksaanLpgList.ShowMessages()
<main class="list @(subaktivitasHasilPemeriksaanLpgList.TotalRecords == 0 && !subaktivitasHasilPemeriksaanLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subaktivitasHasilPemeriksaanLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subaktivitasHasilPemeriksaanLpgList.TotalRecords > 0 || !Empty(subaktivitasHasilPemeriksaanLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subaktivitasHasilPemeriksaanLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subaktivitasHasilPemeriksaanLpgList.TableGridClass)">
<form name="@(subaktivitasHasilPemeriksaanLpgList.FormName)" id="@(subaktivitasHasilPemeriksaanLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subaktivitasHasilPemeriksaanLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subaktivitasHasilPemeriksaanLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubaktivitasHasilPemeriksaanLPG" class="card-body ew-grid-middle-panel @(subaktivitasHasilPemeriksaanLpgList.TableContainerClass)" style="@(subaktivitasHasilPemeriksaanLpgList.TableContainerStyle)">
@if (subaktivitasHasilPemeriksaanLpgList.TotalRecords > 0 || subaktivitasHasilPemeriksaanLpgList.IsGridEdit || subaktivitasHasilPemeriksaanLpgList.IsMultiEdit) {
<table id="tbl_SubaktivitasHasilPemeriksaanLPGlist" class="@(subaktivitasHasilPemeriksaanLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subaktivitasHasilPemeriksaanLpgList.RowType = RowType.Header;

    // Render list options
    await subaktivitasHasilPemeriksaanLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subaktivitasHasilPemeriksaanLpgList.ListOptions.RenderHeader("left")
@if (subaktivitasHasilPemeriksaanLpgList.id.Visible) { // subaktivitasHasilPemeriksaanLpgList.id.Visible (begin)
        <th data-name="id" class="@(subaktivitasHasilPemeriksaanLpgList.id.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanLPG_id" class="SubaktivitasHasilPemeriksaanLPG_id">@Html.Raw(subaktivitasHasilPemeriksaanLpgList.RenderFieldHeader(subaktivitasHasilPemeriksaanLpgList.id))</div></th>
} @* subaktivitasHasilPemeriksaanLpgList.id.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgList.idAktifitas.Visible) { // subaktivitasHasilPemeriksaanLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subaktivitasHasilPemeriksaanLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanLPG_idAktifitas" class="SubaktivitasHasilPemeriksaanLPG_idAktifitas">@Html.Raw(subaktivitasHasilPemeriksaanLpgList.RenderFieldHeader(subaktivitasHasilPemeriksaanLpgList.idAktifitas))</div></th>
} @* subaktivitasHasilPemeriksaanLpgList.idAktifitas.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgList.NamaKapal.Visible) { // subaktivitasHasilPemeriksaanLpgList.NamaKapal.Visible (begin)
        <th data-name="NamaKapal" class="@(subaktivitasHasilPemeriksaanLpgList.NamaKapal.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanLPG_NamaKapal" class="SubaktivitasHasilPemeriksaanLPG_NamaKapal">@Html.Raw(subaktivitasHasilPemeriksaanLpgList.RenderFieldHeader(subaktivitasHasilPemeriksaanLpgList.NamaKapal))</div></th>
} @* subaktivitasHasilPemeriksaanLpgList.NamaKapal.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgList.TanggalJam.Visible) { // subaktivitasHasilPemeriksaanLpgList.TanggalJam.Visible (begin)
        <th data-name="TanggalJam" class="@(subaktivitasHasilPemeriksaanLpgList.TanggalJam.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanLPG_TanggalJam" class="SubaktivitasHasilPemeriksaanLPG_TanggalJam">@Html.Raw(subaktivitasHasilPemeriksaanLpgList.RenderFieldHeader(subaktivitasHasilPemeriksaanLpgList.TanggalJam))</div></th>
} @* subaktivitasHasilPemeriksaanLpgList.TanggalJam.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgList.NamaKegiatan.Visible) { // subaktivitasHasilPemeriksaanLpgList.NamaKegiatan.Visible (begin)
        <th data-name="NamaKegiatan" class="@(subaktivitasHasilPemeriksaanLpgList.NamaKegiatan.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanLPG_NamaKegiatan" class="SubaktivitasHasilPemeriksaanLPG_NamaKegiatan">@Html.Raw(subaktivitasHasilPemeriksaanLpgList.RenderFieldHeader(subaktivitasHasilPemeriksaanLpgList.NamaKegiatan))</div></th>
} @* subaktivitasHasilPemeriksaanLpgList.NamaKegiatan.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgList.Produk.Visible) { // subaktivitasHasilPemeriksaanLpgList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subaktivitasHasilPemeriksaanLpgList.Produk.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanLPG_Produk" class="SubaktivitasHasilPemeriksaanLPG_Produk">@Html.Raw(subaktivitasHasilPemeriksaanLpgList.RenderFieldHeader(subaktivitasHasilPemeriksaanLpgList.Produk))</div></th>
} @* subaktivitasHasilPemeriksaanLpgList.Produk.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgList.Density.Visible) { // subaktivitasHasilPemeriksaanLpgList.Density.Visible (begin)
        <th data-name="Density" class="@(subaktivitasHasilPemeriksaanLpgList.Density.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanLPG_Density" class="SubaktivitasHasilPemeriksaanLPG_Density">@Html.Raw(subaktivitasHasilPemeriksaanLpgList.RenderFieldHeader(subaktivitasHasilPemeriksaanLpgList.Density))</div></th>
} @* subaktivitasHasilPemeriksaanLpgList.Density.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgList.Temperature.Visible) { // subaktivitasHasilPemeriksaanLpgList.Temperature.Visible (begin)
        <th data-name="Temperature" class="@(subaktivitasHasilPemeriksaanLpgList.Temperature.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanLPG_Temperature" class="SubaktivitasHasilPemeriksaanLPG_Temperature">@Html.Raw(subaktivitasHasilPemeriksaanLpgList.RenderFieldHeader(subaktivitasHasilPemeriksaanLpgList.Temperature))</div></th>
} @* subaktivitasHasilPemeriksaanLpgList.Temperature.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgList.Pressure.Visible) { // subaktivitasHasilPemeriksaanLpgList.Pressure.Visible (begin)
        <th data-name="Pressure" class="@(subaktivitasHasilPemeriksaanLpgList.Pressure.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanLPG_Pressure" class="SubaktivitasHasilPemeriksaanLPG_Pressure">@Html.Raw(subaktivitasHasilPemeriksaanLpgList.RenderFieldHeader(subaktivitasHasilPemeriksaanLpgList.Pressure))</div></th>
} @* subaktivitasHasilPemeriksaanLpgList.Pressure.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgList.userInput.Visible) { // subaktivitasHasilPemeriksaanLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subaktivitasHasilPemeriksaanLpgList.userInput.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanLPG_userInput" class="SubaktivitasHasilPemeriksaanLPG_userInput">@Html.Raw(subaktivitasHasilPemeriksaanLpgList.RenderFieldHeader(subaktivitasHasilPemeriksaanLpgList.userInput))</div></th>
} @* subaktivitasHasilPemeriksaanLpgList.userInput.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgList.etlDate.Visible) { // subaktivitasHasilPemeriksaanLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subaktivitasHasilPemeriksaanLpgList.etlDate.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanLPG_etlDate" class="SubaktivitasHasilPemeriksaanLPG_etlDate">@Html.Raw(subaktivitasHasilPemeriksaanLpgList.RenderFieldHeader(subaktivitasHasilPemeriksaanLpgList.etlDate))</div></th>
} @* subaktivitasHasilPemeriksaanLpgList.etlDate.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgList.idProses.Visible) { // subaktivitasHasilPemeriksaanLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subaktivitasHasilPemeriksaanLpgList.idProses.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanLPG_idProses" class="SubaktivitasHasilPemeriksaanLPG_idProses">@Html.Raw(subaktivitasHasilPemeriksaanLpgList.RenderFieldHeader(subaktivitasHasilPemeriksaanLpgList.idProses))</div></th>
} @* subaktivitasHasilPemeriksaanLpgList.idProses.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgList.LastUpdatedBy.Visible) { // subaktivitasHasilPemeriksaanLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subaktivitasHasilPemeriksaanLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanLPG_LastUpdatedBy" class="SubaktivitasHasilPemeriksaanLPG_LastUpdatedBy">@Html.Raw(subaktivitasHasilPemeriksaanLpgList.RenderFieldHeader(subaktivitasHasilPemeriksaanLpgList.LastUpdatedBy))</div></th>
} @* subaktivitasHasilPemeriksaanLpgList.LastUpdatedBy.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgList.lastUpdatedDate.Visible) { // subaktivitasHasilPemeriksaanLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subaktivitasHasilPemeriksaanLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanLPG_lastUpdatedDate" class="SubaktivitasHasilPemeriksaanLPG_lastUpdatedDate">@Html.Raw(subaktivitasHasilPemeriksaanLpgList.RenderFieldHeader(subaktivitasHasilPemeriksaanLpgList.lastUpdatedDate))</div></th>
} @* subaktivitasHasilPemeriksaanLpgList.lastUpdatedDate.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgList.NoReferensi.Visible) { // subaktivitasHasilPemeriksaanLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subaktivitasHasilPemeriksaanLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanLPG_NoReferensi" class="SubaktivitasHasilPemeriksaanLPG_NoReferensi">@Html.Raw(subaktivitasHasilPemeriksaanLpgList.RenderFieldHeader(subaktivitasHasilPemeriksaanLpgList.NoReferensi))</div></th>
} @* subaktivitasHasilPemeriksaanLpgList.NoReferensi.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgList.TanggalJamSOP.Visible) { // subaktivitasHasilPemeriksaanLpgList.TanggalJamSOP.Visible (begin)
        <th data-name="TanggalJamSOP" class="@(subaktivitasHasilPemeriksaanLpgList.TanggalJamSOP.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanLPG_TanggalJamSOP" class="SubaktivitasHasilPemeriksaanLPG_TanggalJamSOP">@Html.Raw(subaktivitasHasilPemeriksaanLpgList.RenderFieldHeader(subaktivitasHasilPemeriksaanLpgList.TanggalJamSOP))</div></th>
} @* subaktivitasHasilPemeriksaanLpgList.TanggalJamSOP.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgList.SelisihWaktu.Visible) { // subaktivitasHasilPemeriksaanLpgList.SelisihWaktu.Visible (begin)
        <th data-name="SelisihWaktu" class="@(subaktivitasHasilPemeriksaanLpgList.SelisihWaktu.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanLPG_SelisihWaktu" class="SubaktivitasHasilPemeriksaanLPG_SelisihWaktu">@Html.Raw(subaktivitasHasilPemeriksaanLpgList.RenderFieldHeader(subaktivitasHasilPemeriksaanLpgList.SelisihWaktu))</div></th>
} @* subaktivitasHasilPemeriksaanLpgList.SelisihWaktu.Visible (end) *@
@if (subaktivitasHasilPemeriksaanLpgList.IsQualityActive.Visible) { // subaktivitasHasilPemeriksaanLpgList.IsQualityActive.Visible (begin)
        <th data-name="IsQualityActive" class="@(subaktivitasHasilPemeriksaanLpgList.IsQualityActive.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanLPG_IsQualityActive" class="SubaktivitasHasilPemeriksaanLPG_IsQualityActive">@Html.Raw(subaktivitasHasilPemeriksaanLpgList.RenderFieldHeader(subaktivitasHasilPemeriksaanLpgList.IsQualityActive))</div></th>
} @* subaktivitasHasilPemeriksaanLpgList.IsQualityActive.Visible (end) *@
@* Render list options (header, right) *@
@subaktivitasHasilPemeriksaanLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subaktivitasHasilPemeriksaanLpgList.PageNumber)">
@{
    await subaktivitasHasilPemeriksaanLpgList.SetupGrid();
    bool eof = subaktivitasHasilPemeriksaanLpgList.Recordset == null; // DN
}
@while (subaktivitasHasilPemeriksaanLpgList.RecordCount < subaktivitasHasilPemeriksaanLpgList.StopRecord || SameString(subaktivitasHasilPemeriksaanLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subaktivitasHasilPemeriksaanLpgList.RowIndex, "$rowindex$") &&
        (!subaktivitasHasilPemeriksaanLpgList.IsGridAdd || subaktivitasHasilPemeriksaanLpgList.CurrentMode == "copy") &&
        (!((subaktivitasHasilPemeriksaanLpgList.IsCopy || subaktivitasHasilPemeriksaanLpgList.IsAdd) && subaktivitasHasilPemeriksaanLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subaktivitasHasilPemeriksaanLpgList.Recordset.ReadAsync();
    subaktivitasHasilPemeriksaanLpgList.RecordCount++;
    if (subaktivitasHasilPemeriksaanLpgList.RecordCount >= subaktivitasHasilPemeriksaanLpgList.StartRecord) {
        await subaktivitasHasilPemeriksaanLpgList.SetupRow();
    <tr @Html.Raw(subaktivitasHasilPemeriksaanLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subaktivitasHasilPemeriksaanLpgList.ListOptions.RenderBody("left", subaktivitasHasilPemeriksaanLpgList.RowCount)
    @if (subaktivitasHasilPemeriksaanLpgList.id.Visible) { // subaktivitasHasilPemeriksaanLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subaktivitasHasilPemeriksaanLpgList.id.CellAttributes)>
<span id="el@(SameString(subaktivitasHasilPemeriksaanLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasHasilPemeriksaanLpgList.RowCount)_SubaktivitasHasilPemeriksaanLPG_id" class="el_SubaktivitasHasilPemeriksaanLPG_id">
<span @Html.Raw(subaktivitasHasilPemeriksaanLpgList.id.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanLpgList.id.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanLpgList.idAktifitas.Visible) { // subaktivitasHasilPemeriksaanLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subaktivitasHasilPemeriksaanLpgList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subaktivitasHasilPemeriksaanLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasHasilPemeriksaanLpgList.RowCount)_SubaktivitasHasilPemeriksaanLPG_idAktifitas" class="el_SubaktivitasHasilPemeriksaanLPG_idAktifitas">
<span @Html.Raw(subaktivitasHasilPemeriksaanLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanLpgList.idAktifitas.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanLpgList.NamaKapal.Visible) { // subaktivitasHasilPemeriksaanLpgList.NamaKapal.Visible (begin)
        <td data-name="NamaKapal" @Html.Raw(subaktivitasHasilPemeriksaanLpgList.NamaKapal.CellAttributes)>
<span id="el@(SameString(subaktivitasHasilPemeriksaanLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasHasilPemeriksaanLpgList.RowCount)_SubaktivitasHasilPemeriksaanLPG_NamaKapal" class="el_SubaktivitasHasilPemeriksaanLPG_NamaKapal">
<span @Html.Raw(subaktivitasHasilPemeriksaanLpgList.NamaKapal.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanLpgList.NamaKapal.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanLpgList.NamaKapal.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanLpgList.TanggalJam.Visible) { // subaktivitasHasilPemeriksaanLpgList.TanggalJam.Visible (begin)
        <td data-name="TanggalJam" @Html.Raw(subaktivitasHasilPemeriksaanLpgList.TanggalJam.CellAttributes)>
<span id="el@(SameString(subaktivitasHasilPemeriksaanLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasHasilPemeriksaanLpgList.RowCount)_SubaktivitasHasilPemeriksaanLPG_TanggalJam" class="el_SubaktivitasHasilPemeriksaanLPG_TanggalJam">
<span @Html.Raw(subaktivitasHasilPemeriksaanLpgList.TanggalJam.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanLpgList.TanggalJam.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanLpgList.TanggalJam.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanLpgList.NamaKegiatan.Visible) { // subaktivitasHasilPemeriksaanLpgList.NamaKegiatan.Visible (begin)
        <td data-name="NamaKegiatan" @Html.Raw(subaktivitasHasilPemeriksaanLpgList.NamaKegiatan.CellAttributes)>
<span id="el@(SameString(subaktivitasHasilPemeriksaanLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasHasilPemeriksaanLpgList.RowCount)_SubaktivitasHasilPemeriksaanLPG_NamaKegiatan" class="el_SubaktivitasHasilPemeriksaanLPG_NamaKegiatan">
<span @Html.Raw(subaktivitasHasilPemeriksaanLpgList.NamaKegiatan.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanLpgList.NamaKegiatan.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanLpgList.NamaKegiatan.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanLpgList.Produk.Visible) { // subaktivitasHasilPemeriksaanLpgList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subaktivitasHasilPemeriksaanLpgList.Produk.CellAttributes)>
<span id="el@(SameString(subaktivitasHasilPemeriksaanLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasHasilPemeriksaanLpgList.RowCount)_SubaktivitasHasilPemeriksaanLPG_Produk" class="el_SubaktivitasHasilPemeriksaanLPG_Produk">
<span @Html.Raw(subaktivitasHasilPemeriksaanLpgList.Produk.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanLpgList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanLpgList.Produk.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanLpgList.Density.Visible) { // subaktivitasHasilPemeriksaanLpgList.Density.Visible (begin)
        <td data-name="Density" @Html.Raw(subaktivitasHasilPemeriksaanLpgList.Density.CellAttributes)>
<span id="el@(SameString(subaktivitasHasilPemeriksaanLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasHasilPemeriksaanLpgList.RowCount)_SubaktivitasHasilPemeriksaanLPG_Density" class="el_SubaktivitasHasilPemeriksaanLPG_Density">
<span @Html.Raw(subaktivitasHasilPemeriksaanLpgList.Density.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanLpgList.Density.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanLpgList.Density.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanLpgList.Temperature.Visible) { // subaktivitasHasilPemeriksaanLpgList.Temperature.Visible (begin)
        <td data-name="Temperature" @Html.Raw(subaktivitasHasilPemeriksaanLpgList.Temperature.CellAttributes)>
<span id="el@(SameString(subaktivitasHasilPemeriksaanLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasHasilPemeriksaanLpgList.RowCount)_SubaktivitasHasilPemeriksaanLPG_Temperature" class="el_SubaktivitasHasilPemeriksaanLPG_Temperature">
<span @Html.Raw(subaktivitasHasilPemeriksaanLpgList.Temperature.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanLpgList.Temperature.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanLpgList.Temperature.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanLpgList.Pressure.Visible) { // subaktivitasHasilPemeriksaanLpgList.Pressure.Visible (begin)
        <td data-name="Pressure" @Html.Raw(subaktivitasHasilPemeriksaanLpgList.Pressure.CellAttributes)>
<span id="el@(SameString(subaktivitasHasilPemeriksaanLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasHasilPemeriksaanLpgList.RowCount)_SubaktivitasHasilPemeriksaanLPG_Pressure" class="el_SubaktivitasHasilPemeriksaanLPG_Pressure">
<span @Html.Raw(subaktivitasHasilPemeriksaanLpgList.Pressure.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanLpgList.Pressure.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanLpgList.Pressure.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanLpgList.userInput.Visible) { // subaktivitasHasilPemeriksaanLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subaktivitasHasilPemeriksaanLpgList.userInput.CellAttributes)>
<span id="el@(SameString(subaktivitasHasilPemeriksaanLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasHasilPemeriksaanLpgList.RowCount)_SubaktivitasHasilPemeriksaanLPG_userInput" class="el_SubaktivitasHasilPemeriksaanLPG_userInput">
<span @Html.Raw(subaktivitasHasilPemeriksaanLpgList.userInput.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanLpgList.userInput.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanLpgList.etlDate.Visible) { // subaktivitasHasilPemeriksaanLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subaktivitasHasilPemeriksaanLpgList.etlDate.CellAttributes)>
<span id="el@(SameString(subaktivitasHasilPemeriksaanLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasHasilPemeriksaanLpgList.RowCount)_SubaktivitasHasilPemeriksaanLPG_etlDate" class="el_SubaktivitasHasilPemeriksaanLPG_etlDate">
<span @Html.Raw(subaktivitasHasilPemeriksaanLpgList.etlDate.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanLpgList.etlDate.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanLpgList.idProses.Visible) { // subaktivitasHasilPemeriksaanLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subaktivitasHasilPemeriksaanLpgList.idProses.CellAttributes)>
<span id="el@(SameString(subaktivitasHasilPemeriksaanLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasHasilPemeriksaanLpgList.RowCount)_SubaktivitasHasilPemeriksaanLPG_idProses" class="el_SubaktivitasHasilPemeriksaanLPG_idProses">
<span @Html.Raw(subaktivitasHasilPemeriksaanLpgList.idProses.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanLpgList.idProses.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanLpgList.LastUpdatedBy.Visible) { // subaktivitasHasilPemeriksaanLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subaktivitasHasilPemeriksaanLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subaktivitasHasilPemeriksaanLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasHasilPemeriksaanLpgList.RowCount)_SubaktivitasHasilPemeriksaanLPG_LastUpdatedBy" class="el_SubaktivitasHasilPemeriksaanLPG_LastUpdatedBy">
<span @Html.Raw(subaktivitasHasilPemeriksaanLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanLpgList.LastUpdatedBy.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanLpgList.lastUpdatedDate.Visible) { // subaktivitasHasilPemeriksaanLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subaktivitasHasilPemeriksaanLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subaktivitasHasilPemeriksaanLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasHasilPemeriksaanLpgList.RowCount)_SubaktivitasHasilPemeriksaanLPG_lastUpdatedDate" class="el_SubaktivitasHasilPemeriksaanLPG_lastUpdatedDate">
<span @Html.Raw(subaktivitasHasilPemeriksaanLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanLpgList.lastUpdatedDate.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanLpgList.NoReferensi.Visible) { // subaktivitasHasilPemeriksaanLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subaktivitasHasilPemeriksaanLpgList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subaktivitasHasilPemeriksaanLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasHasilPemeriksaanLpgList.RowCount)_SubaktivitasHasilPemeriksaanLPG_NoReferensi" class="el_SubaktivitasHasilPemeriksaanLPG_NoReferensi">
<span @Html.Raw(subaktivitasHasilPemeriksaanLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanLpgList.NoReferensi.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanLpgList.TanggalJamSOP.Visible) { // subaktivitasHasilPemeriksaanLpgList.TanggalJamSOP.Visible (begin)
        <td data-name="TanggalJamSOP" @Html.Raw(subaktivitasHasilPemeriksaanLpgList.TanggalJamSOP.CellAttributes)>
<span id="el@(SameString(subaktivitasHasilPemeriksaanLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasHasilPemeriksaanLpgList.RowCount)_SubaktivitasHasilPemeriksaanLPG_TanggalJamSOP" class="el_SubaktivitasHasilPemeriksaanLPG_TanggalJamSOP">
<span @Html.Raw(subaktivitasHasilPemeriksaanLpgList.TanggalJamSOP.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanLpgList.TanggalJamSOP.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanLpgList.TanggalJamSOP.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanLpgList.SelisihWaktu.Visible) { // subaktivitasHasilPemeriksaanLpgList.SelisihWaktu.Visible (begin)
        <td data-name="SelisihWaktu" @Html.Raw(subaktivitasHasilPemeriksaanLpgList.SelisihWaktu.CellAttributes)>
<span id="el@(SameString(subaktivitasHasilPemeriksaanLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasHasilPemeriksaanLpgList.RowCount)_SubaktivitasHasilPemeriksaanLPG_SelisihWaktu" class="el_SubaktivitasHasilPemeriksaanLPG_SelisihWaktu">
<span @Html.Raw(subaktivitasHasilPemeriksaanLpgList.SelisihWaktu.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanLpgList.SelisihWaktu.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanLpgList.SelisihWaktu.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanLpgList.IsQualityActive.Visible) { // subaktivitasHasilPemeriksaanLpgList.IsQualityActive.Visible (begin)
        <td data-name="IsQualityActive" @Html.Raw(subaktivitasHasilPemeriksaanLpgList.IsQualityActive.CellAttributes)>
<span id="el@(SameString(subaktivitasHasilPemeriksaanLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasHasilPemeriksaanLpgList.RowCount)_SubaktivitasHasilPemeriksaanLPG_IsQualityActive" class="el_SubaktivitasHasilPemeriksaanLPG_IsQualityActive">
<span @Html.Raw(subaktivitasHasilPemeriksaanLpgList.IsQualityActive.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(subaktivitasHasilPemeriksaanLpgList.IsQualityActive.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanLpgList.IsQualityActive.Visible (end) *@
    @* Render list options (body, right) *@
    @subaktivitasHasilPemeriksaanLpgList.ListOptions.RenderBody("right", subaktivitasHasilPemeriksaanLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subaktivitasHasilPemeriksaanLpgList.RowIndex, "$rowindex$"))
        subaktivitasHasilPemeriksaanLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subaktivitasHasilPemeriksaanLpgList.IsCopy || subaktivitasHasilPemeriksaanLpgList.IsAdd) && subaktivitasHasilPemeriksaanLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subaktivitasHasilPemeriksaanLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subaktivitasHasilPemeriksaanLpgList.CurrentAction) && !subaktivitasHasilPemeriksaanLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subaktivitasHasilPemeriksaanLpgList.CloseRecordset(); }
@if (!subaktivitasHasilPemeriksaanLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subaktivitasHasilPemeriksaanLpgList.IsGridAdd && !(subaktivitasHasilPemeriksaanLpgList.IsGridEdit && subaktivitasHasilPemeriksaanLpgList.ModalGridEdit) && !subaktivitasHasilPemeriksaanLpgList.IsMultiEdit) {
@Html.Raw(subaktivitasHasilPemeriksaanLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subaktivitasHasilPemeriksaanLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subaktivitasHasilPemeriksaanLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subaktivitasHasilPemeriksaanLpgList.FooterOptions.RenderBody()
</div>
</main>
@subaktivitasHasilPemeriksaanLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subaktivitasHasilPemeriksaanLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubaktivitasHasilPemeriksaanLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
