@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputFlowrateRtwDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputFlowrateRtwDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputFlowrateRtwDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputFlowrateRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fSubAktivitasFormInputFlowrateRTWdelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputFlowrateRTWdelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasFormInputFlowrateRtwDelete.ShowPageHeader()
@subAktivitasFormInputFlowrateRtwDelete.ShowMessages()
<form name="fSubAktivitasFormInputFlowrateRTWdelete" id="fSubAktivitasFormInputFlowrateRTWdelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in subAktivitasFormInputFlowrateRtwDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(subAktivitasFormInputFlowrateRtwDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(subAktivitasFormInputFlowrateRtwDelete.TableContainerClass)" style="@(subAktivitasFormInputFlowrateRtwDelete.TableContainerStyle)">
<table class="@(subAktivitasFormInputFlowrateRtwDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (subAktivitasFormInputFlowrateRtwDelete.id.Visible) { // subAktivitasFormInputFlowrateRtwDelete.id.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.id.HeaderCellClass)"><span id="elh_SubAktivitasFormInputFlowrateRTW_id" class="SubAktivitasFormInputFlowrateRTW_id">@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.id.Caption)</span></th>
} @* subAktivitasFormInputFlowrateRtwDelete.id.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwDelete.NoReferensi.Visible) { // subAktivitasFormInputFlowrateRtwDelete.NoReferensi.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.NoReferensi.HeaderCellClass)"><span id="elh_SubAktivitasFormInputFlowrateRTW_NoReferensi" class="SubAktivitasFormInputFlowrateRTW_NoReferensi">@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.NoReferensi.Caption)</span></th>
} @* subAktivitasFormInputFlowrateRtwDelete.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwDelete.idProses.Visible) { // subAktivitasFormInputFlowrateRtwDelete.idProses.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.idProses.HeaderCellClass)"><span id="elh_SubAktivitasFormInputFlowrateRTW_idProses" class="SubAktivitasFormInputFlowrateRTW_idProses">@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.idProses.Caption)</span></th>
} @* subAktivitasFormInputFlowrateRtwDelete.idProses.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwDelete.idAktifitas.Visible) { // subAktivitasFormInputFlowrateRtwDelete.idAktifitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.idAktifitas.HeaderCellClass)"><span id="elh_SubAktivitasFormInputFlowrateRTW_idAktifitas" class="SubAktivitasFormInputFlowrateRTW_idAktifitas">@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.idAktifitas.Caption)</span></th>
} @* subAktivitasFormInputFlowrateRtwDelete.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwDelete.StatusAktivitas.Visible) { // subAktivitasFormInputFlowrateRtwDelete.StatusAktivitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.StatusAktivitas.HeaderCellClass)"><span id="elh_SubAktivitasFormInputFlowrateRTW_StatusAktivitas" class="SubAktivitasFormInputFlowrateRTW_StatusAktivitas">@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.StatusAktivitas.Caption)</span></th>
} @* subAktivitasFormInputFlowrateRtwDelete.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwDelete.LastUpdatedBy.Visible) { // subAktivitasFormInputFlowrateRtwDelete.LastUpdatedBy.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.LastUpdatedBy.HeaderCellClass)"><span id="elh_SubAktivitasFormInputFlowrateRTW_LastUpdatedBy" class="SubAktivitasFormInputFlowrateRTW_LastUpdatedBy">@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.LastUpdatedBy.Caption)</span></th>
} @* subAktivitasFormInputFlowrateRtwDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwDelete.lastUpdatedDate.Visible) { // subAktivitasFormInputFlowrateRtwDelete.lastUpdatedDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.lastUpdatedDate.HeaderCellClass)"><span id="elh_SubAktivitasFormInputFlowrateRTW_lastUpdatedDate" class="SubAktivitasFormInputFlowrateRTW_lastUpdatedDate">@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.lastUpdatedDate.Caption)</span></th>
} @* subAktivitasFormInputFlowrateRtwDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwDelete.Flowrate.Visible) { // subAktivitasFormInputFlowrateRtwDelete.Flowrate.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.Flowrate.HeaderCellClass)"><span id="elh_SubAktivitasFormInputFlowrateRTW_Flowrate" class="SubAktivitasFormInputFlowrateRTW_Flowrate">@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.Flowrate.Caption)</span></th>
} @* subAktivitasFormInputFlowrateRtwDelete.Flowrate.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwDelete.StrippingTime.Visible) { // subAktivitasFormInputFlowrateRtwDelete.StrippingTime.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.StrippingTime.HeaderCellClass)"><span id="elh_SubAktivitasFormInputFlowrateRTW_StrippingTime" class="SubAktivitasFormInputFlowrateRTW_StrippingTime">@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.StrippingTime.Caption)</span></th>
} @* subAktivitasFormInputFlowrateRtwDelete.StrippingTime.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwDelete.Pressuren.Visible) { // subAktivitasFormInputFlowrateRtwDelete.Pressuren.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.Pressuren.HeaderCellClass)"><span id="elh_SubAktivitasFormInputFlowrateRTW_Pressuren" class="SubAktivitasFormInputFlowrateRTW_Pressuren">@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.Pressuren.Caption)</span></th>
} @* subAktivitasFormInputFlowrateRtwDelete.Pressuren.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwDelete.LamaPembongkaran.Visible) { // subAktivitasFormInputFlowrateRtwDelete.LamaPembongkaran.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.LamaPembongkaran.HeaderCellClass)"><span id="elh_SubAktivitasFormInputFlowrateRTW_LamaPembongkaran" class="SubAktivitasFormInputFlowrateRTW_LamaPembongkaran">@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.LamaPembongkaran.Caption)</span></th>
} @* subAktivitasFormInputFlowrateRtwDelete.LamaPembongkaran.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwDelete.ETC.Visible) { // subAktivitasFormInputFlowrateRtwDelete.ETC.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.ETC.HeaderCellClass)"><span id="elh_SubAktivitasFormInputFlowrateRTW_ETC" class="SubAktivitasFormInputFlowrateRTW_ETC">@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.ETC.Caption)</span></th>
} @* subAktivitasFormInputFlowrateRtwDelete.ETC.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwDelete.userInput.Visible) { // subAktivitasFormInputFlowrateRtwDelete.userInput.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.userInput.HeaderCellClass)"><span id="elh_SubAktivitasFormInputFlowrateRTW_userInput" class="SubAktivitasFormInputFlowrateRTW_userInput">@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.userInput.Caption)</span></th>
} @* subAktivitasFormInputFlowrateRtwDelete.userInput.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwDelete.etlDate.Visible) { // subAktivitasFormInputFlowrateRtwDelete.etlDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.etlDate.HeaderCellClass)"><span id="elh_SubAktivitasFormInputFlowrateRTW_etlDate" class="SubAktivitasFormInputFlowrateRTW_etlDate">@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.etlDate.Caption)</span></th>
} @* subAktivitasFormInputFlowrateRtwDelete.etlDate.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ subAktivitasFormInputFlowrateRtwDelete.RecordCount = 0; }
@while (subAktivitasFormInputFlowrateRtwDelete.Recordset != null && await subAktivitasFormInputFlowrateRtwDelete.Recordset.ReadAsync()) { // DN
    subAktivitasFormInputFlowrateRtwDelete.RecordCount++;
    subAktivitasFormInputFlowrateRtwDelete.RowCount++;

    // Set row properties
    subAktivitasFormInputFlowrateRtwDelete.ResetAttributes();
    subAktivitasFormInputFlowrateRtwDelete.RowType = RowType.View; // View

    // Get the field contents
    await subAktivitasFormInputFlowrateRtwDelete.LoadRowValues(subAktivitasFormInputFlowrateRtwDelete.Recordset);

    // Render row
    await subAktivitasFormInputFlowrateRtwDelete.RenderRow();
    <tr @Html.Raw(subAktivitasFormInputFlowrateRtwDelete.RowAttributes)>
@if (subAktivitasFormInputFlowrateRtwDelete.id.Visible) { // subAktivitasFormInputFlowrateRtwDelete.id.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputFlowrateRtwDelete.id.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwDelete.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.id.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputFlowrateRtwDelete.id.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwDelete.NoReferensi.Visible) { // subAktivitasFormInputFlowrateRtwDelete.NoReferensi.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputFlowrateRtwDelete.NoReferensi.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwDelete.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.NoReferensi.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputFlowrateRtwDelete.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwDelete.idProses.Visible) { // subAktivitasFormInputFlowrateRtwDelete.idProses.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputFlowrateRtwDelete.idProses.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwDelete.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.idProses.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputFlowrateRtwDelete.idProses.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwDelete.idAktifitas.Visible) { // subAktivitasFormInputFlowrateRtwDelete.idAktifitas.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputFlowrateRtwDelete.idAktifitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwDelete.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.idAktifitas.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputFlowrateRtwDelete.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwDelete.StatusAktivitas.Visible) { // subAktivitasFormInputFlowrateRtwDelete.StatusAktivitas.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputFlowrateRtwDelete.StatusAktivitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwDelete.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.StatusAktivitas.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputFlowrateRtwDelete.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwDelete.LastUpdatedBy.Visible) { // subAktivitasFormInputFlowrateRtwDelete.LastUpdatedBy.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputFlowrateRtwDelete.LastUpdatedBy.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwDelete.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.LastUpdatedBy.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputFlowrateRtwDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwDelete.lastUpdatedDate.Visible) { // subAktivitasFormInputFlowrateRtwDelete.lastUpdatedDate.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputFlowrateRtwDelete.lastUpdatedDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwDelete.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.lastUpdatedDate.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputFlowrateRtwDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwDelete.Flowrate.Visible) { // subAktivitasFormInputFlowrateRtwDelete.Flowrate.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputFlowrateRtwDelete.Flowrate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwDelete.Flowrate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.Flowrate.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputFlowrateRtwDelete.Flowrate.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwDelete.StrippingTime.Visible) { // subAktivitasFormInputFlowrateRtwDelete.StrippingTime.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputFlowrateRtwDelete.StrippingTime.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwDelete.StrippingTime.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.StrippingTime.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputFlowrateRtwDelete.StrippingTime.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwDelete.Pressuren.Visible) { // subAktivitasFormInputFlowrateRtwDelete.Pressuren.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputFlowrateRtwDelete.Pressuren.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwDelete.Pressuren.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.Pressuren.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputFlowrateRtwDelete.Pressuren.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwDelete.LamaPembongkaran.Visible) { // subAktivitasFormInputFlowrateRtwDelete.LamaPembongkaran.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputFlowrateRtwDelete.LamaPembongkaran.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwDelete.LamaPembongkaran.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.LamaPembongkaran.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputFlowrateRtwDelete.LamaPembongkaran.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwDelete.ETC.Visible) { // subAktivitasFormInputFlowrateRtwDelete.ETC.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputFlowrateRtwDelete.ETC.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwDelete.ETC.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.ETC.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputFlowrateRtwDelete.ETC.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwDelete.userInput.Visible) { // subAktivitasFormInputFlowrateRtwDelete.userInput.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputFlowrateRtwDelete.userInput.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwDelete.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.userInput.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputFlowrateRtwDelete.userInput.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwDelete.etlDate.Visible) { // subAktivitasFormInputFlowrateRtwDelete.etlDate.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputFlowrateRtwDelete.etlDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwDelete.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwDelete.etlDate.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputFlowrateRtwDelete.etlDate.Visible (end) *@
    </tr>
}
@{ subAktivitasFormInputFlowrateRtwDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(subAktivitasFormInputFlowrateRtwDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@subAktivitasFormInputFlowrateRtwDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
