@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputDataMobilTangkiView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputDataMobilTangkiView.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputDataMobilTangkiView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @subAktivitasFormInputDataMobilTangkiView.ExportOptions.RenderBody()
    @subAktivitasFormInputDataMobilTangkiView.OtherOptions.RenderBody()
</div>
}
@subAktivitasFormInputDataMobilTangkiView.ShowPageHeader()
@subAktivitasFormInputDataMobilTangkiView.ShowMessages()
<main class="view">
<form name="fSubAktivitasFormInputDataMobilTangkiview" id="fSubAktivitasFormInputDataMobilTangkiview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!subAktivitasFormInputDataMobilTangkiView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputDataMobilTangkiView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputDataMobilTangki: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fSubAktivitasFormInputDataMobilTangkiview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputDataMobilTangkiview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputDataMobilTangkiView.IsModal)">
<table class="@(subAktivitasFormInputDataMobilTangkiView.TableClass)">
@if (subAktivitasFormInputDataMobilTangkiView.id.Visible) { // subAktivitasFormInputDataMobilTangkiView.id.Visible (begin)
    <tr id="r_id" @Html.Raw(subAktivitasFormInputDataMobilTangkiView.id.RowAttributes)>
        <td class="@(subAktivitasFormInputDataMobilTangkiView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataMobilTangki_id">@Html.Raw(subAktivitasFormInputDataMobilTangkiView.id.Caption)</span></td>
        <td data-name="id" @Html.Raw(subAktivitasFormInputDataMobilTangkiView.id.CellAttributes)>
<span id="el_SubAktivitasFormInputDataMobilTangki_id">
<span @Html.Raw(subAktivitasFormInputDataMobilTangkiView.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataMobilTangkiView.id.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataMobilTangkiView.id.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiView.NoReferensi.Visible) { // subAktivitasFormInputDataMobilTangkiView.NoReferensi.Visible (begin)
    <tr id="r_NoReferensi" @Html.Raw(subAktivitasFormInputDataMobilTangkiView.NoReferensi.RowAttributes)>
        <td class="@(subAktivitasFormInputDataMobilTangkiView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataMobilTangki_NoReferensi">@Html.Raw(subAktivitasFormInputDataMobilTangkiView.NoReferensi.Caption)</span></td>
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputDataMobilTangkiView.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputDataMobilTangki_NoReferensi">
<span @Html.Raw(subAktivitasFormInputDataMobilTangkiView.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataMobilTangkiView.NoReferensi.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataMobilTangkiView.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiView.idProses.Visible) { // subAktivitasFormInputDataMobilTangkiView.idProses.Visible (begin)
    <tr id="r_idProses" @Html.Raw(subAktivitasFormInputDataMobilTangkiView.idProses.RowAttributes)>
        <td class="@(subAktivitasFormInputDataMobilTangkiView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataMobilTangki_idProses">@Html.Raw(subAktivitasFormInputDataMobilTangkiView.idProses.Caption)</span></td>
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputDataMobilTangkiView.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputDataMobilTangki_idProses">
<span @Html.Raw(subAktivitasFormInputDataMobilTangkiView.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataMobilTangkiView.idProses.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataMobilTangkiView.idProses.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiView.idAktifitas.Visible) { // subAktivitasFormInputDataMobilTangkiView.idAktifitas.Visible (begin)
    <tr id="r_idAktifitas" @Html.Raw(subAktivitasFormInputDataMobilTangkiView.idAktifitas.RowAttributes)>
        <td class="@(subAktivitasFormInputDataMobilTangkiView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataMobilTangki_idAktifitas">@Html.Raw(subAktivitasFormInputDataMobilTangkiView.idAktifitas.Caption)</span></td>
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputDataMobilTangkiView.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputDataMobilTangki_idAktifitas">
<span @Html.Raw(subAktivitasFormInputDataMobilTangkiView.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataMobilTangkiView.idAktifitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataMobilTangkiView.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiView.StatusAktivitas.Visible) { // subAktivitasFormInputDataMobilTangkiView.StatusAktivitas.Visible (begin)
    <tr id="r_StatusAktivitas" @Html.Raw(subAktivitasFormInputDataMobilTangkiView.StatusAktivitas.RowAttributes)>
        <td class="@(subAktivitasFormInputDataMobilTangkiView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataMobilTangki_StatusAktivitas">@Html.Raw(subAktivitasFormInputDataMobilTangkiView.StatusAktivitas.Caption)</span></td>
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputDataMobilTangkiView.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasFormInputDataMobilTangki_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputDataMobilTangkiView.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataMobilTangkiView.StatusAktivitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataMobilTangkiView.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiView.LastUpdatedBy.Visible) { // subAktivitasFormInputDataMobilTangkiView.LastUpdatedBy.Visible (begin)
    <tr id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputDataMobilTangkiView.LastUpdatedBy.RowAttributes)>
        <td class="@(subAktivitasFormInputDataMobilTangkiView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataMobilTangki_LastUpdatedBy">@Html.Raw(subAktivitasFormInputDataMobilTangkiView.LastUpdatedBy.Caption)</span></td>
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputDataMobilTangkiView.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputDataMobilTangki_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputDataMobilTangkiView.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataMobilTangkiView.LastUpdatedBy.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataMobilTangkiView.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiView.lastUpdatedDate.Visible) { // subAktivitasFormInputDataMobilTangkiView.lastUpdatedDate.Visible (begin)
    <tr id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputDataMobilTangkiView.lastUpdatedDate.RowAttributes)>
        <td class="@(subAktivitasFormInputDataMobilTangkiView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataMobilTangki_lastUpdatedDate">@Html.Raw(subAktivitasFormInputDataMobilTangkiView.lastUpdatedDate.Caption)</span></td>
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputDataMobilTangkiView.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputDataMobilTangki_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputDataMobilTangkiView.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataMobilTangkiView.lastUpdatedDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataMobilTangkiView.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiView.JenisProduk.Visible) { // subAktivitasFormInputDataMobilTangkiView.JenisProduk.Visible (begin)
    <tr id="r_JenisProduk" @Html.Raw(subAktivitasFormInputDataMobilTangkiView.JenisProduk.RowAttributes)>
        <td class="@(subAktivitasFormInputDataMobilTangkiView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataMobilTangki_JenisProduk">@Html.Raw(subAktivitasFormInputDataMobilTangkiView.JenisProduk.Caption)</span></td>
        <td data-name="JenisProduk" @Html.Raw(subAktivitasFormInputDataMobilTangkiView.JenisProduk.CellAttributes)>
<span id="el_SubAktivitasFormInputDataMobilTangki_JenisProduk">
<span @Html.Raw(subAktivitasFormInputDataMobilTangkiView.JenisProduk.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataMobilTangkiView.JenisProduk.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataMobilTangkiView.JenisProduk.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiView.Shipment.Visible) { // subAktivitasFormInputDataMobilTangkiView.Shipment.Visible (begin)
    <tr id="r_Shipment" @Html.Raw(subAktivitasFormInputDataMobilTangkiView.Shipment.RowAttributes)>
        <td class="@(subAktivitasFormInputDataMobilTangkiView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataMobilTangki_Shipment">@Html.Raw(subAktivitasFormInputDataMobilTangkiView.Shipment.Caption)</span></td>
        <td data-name="Shipment" @Html.Raw(subAktivitasFormInputDataMobilTangkiView.Shipment.CellAttributes)>
<span id="el_SubAktivitasFormInputDataMobilTangki_Shipment">
<span @Html.Raw(subAktivitasFormInputDataMobilTangkiView.Shipment.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataMobilTangkiView.Shipment.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataMobilTangkiView.Shipment.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiView.Tanggal.Visible) { // subAktivitasFormInputDataMobilTangkiView.Tanggal.Visible (begin)
    <tr id="r_Tanggal" @Html.Raw(subAktivitasFormInputDataMobilTangkiView.Tanggal.RowAttributes)>
        <td class="@(subAktivitasFormInputDataMobilTangkiView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataMobilTangki_Tanggal">@Html.Raw(subAktivitasFormInputDataMobilTangkiView.Tanggal.Caption)</span></td>
        <td data-name="Tanggal" @Html.Raw(subAktivitasFormInputDataMobilTangkiView.Tanggal.CellAttributes)>
<span id="el_SubAktivitasFormInputDataMobilTangki_Tanggal">
<span @Html.Raw(subAktivitasFormInputDataMobilTangkiView.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataMobilTangkiView.Tanggal.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataMobilTangkiView.Tanggal.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiView.NomorPolisi.Visible) { // subAktivitasFormInputDataMobilTangkiView.NomorPolisi.Visible (begin)
    <tr id="r_NomorPolisi" @Html.Raw(subAktivitasFormInputDataMobilTangkiView.NomorPolisi.RowAttributes)>
        <td class="@(subAktivitasFormInputDataMobilTangkiView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataMobilTangki_NomorPolisi">@Html.Raw(subAktivitasFormInputDataMobilTangkiView.NomorPolisi.Caption)</span></td>
        <td data-name="NomorPolisi" @Html.Raw(subAktivitasFormInputDataMobilTangkiView.NomorPolisi.CellAttributes)>
<span id="el_SubAktivitasFormInputDataMobilTangki_NomorPolisi">
<span @Html.Raw(subAktivitasFormInputDataMobilTangkiView.NomorPolisi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataMobilTangkiView.NomorPolisi.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataMobilTangkiView.NomorPolisi.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiView.Nominasi.Visible) { // subAktivitasFormInputDataMobilTangkiView.Nominasi.Visible (begin)
    <tr id="r_Nominasi" @Html.Raw(subAktivitasFormInputDataMobilTangkiView.Nominasi.RowAttributes)>
        <td class="@(subAktivitasFormInputDataMobilTangkiView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataMobilTangki_Nominasi">@Html.Raw(subAktivitasFormInputDataMobilTangkiView.Nominasi.Caption)</span></td>
        <td data-name="Nominasi" @Html.Raw(subAktivitasFormInputDataMobilTangkiView.Nominasi.CellAttributes)>
<span id="el_SubAktivitasFormInputDataMobilTangki_Nominasi">
<span @Html.Raw(subAktivitasFormInputDataMobilTangkiView.Nominasi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataMobilTangkiView.Nominasi.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataMobilTangkiView.Nominasi.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiView.userInput.Visible) { // subAktivitasFormInputDataMobilTangkiView.userInput.Visible (begin)
    <tr id="r_userInput" @Html.Raw(subAktivitasFormInputDataMobilTangkiView.userInput.RowAttributes)>
        <td class="@(subAktivitasFormInputDataMobilTangkiView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataMobilTangki_userInput">@Html.Raw(subAktivitasFormInputDataMobilTangkiView.userInput.Caption)</span></td>
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputDataMobilTangkiView.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputDataMobilTangki_userInput">
<span @Html.Raw(subAktivitasFormInputDataMobilTangkiView.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataMobilTangkiView.userInput.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataMobilTangkiView.userInput.Visible (end) *@
@if (subAktivitasFormInputDataMobilTangkiView.etlDate.Visible) { // subAktivitasFormInputDataMobilTangkiView.etlDate.Visible (begin)
    <tr id="r_etlDate" @Html.Raw(subAktivitasFormInputDataMobilTangkiView.etlDate.RowAttributes)>
        <td class="@(subAktivitasFormInputDataMobilTangkiView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputDataMobilTangki_etlDate">@Html.Raw(subAktivitasFormInputDataMobilTangkiView.etlDate.Caption)</span></td>
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputDataMobilTangkiView.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputDataMobilTangki_etlDate">
<span @Html.Raw(subAktivitasFormInputDataMobilTangkiView.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataMobilTangkiView.etlDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputDataMobilTangkiView.etlDate.Visible (end) *@
</table>
@{ subAktivitasFormInputDataMobilTangkiView.CloseRecordset(); }
</form>
</main>
@subAktivitasFormInputDataMobilTangkiView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputDataMobilTangkiView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
