@{
    // View
    View = this;

    // Check action result
    if (subaktivitasNilaiSfblstsPymLpgEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subaktivitasNilaiSfblstsPymLpgEdit.UseLayout ? "_Layout" : "";
}
@subaktivitasNilaiSfblstsPymLpgEdit.ShowPageHeader()
@subaktivitasNilaiSfblstsPymLpgEdit.ShowMessages()
<main class="edit">
<form name="fSubaktivitasNilaiSFBLSTSPymLPGedit" id="fSubaktivitasNilaiSFBLSTSPymLPGedit" class="@(subaktivitasNilaiSfblstsPymLpgEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasNilaiSfblstsPymLpgEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasNilaiSFBLSTSPymLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubaktivitasNilaiSFBLSTSPymLPGedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubaktivitasNilaiSFBLSTSPymLPGedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null], fields.idAktifitas.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null], fields.lastUpdatedDate.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null], fields.StatusAktivitas.isInvalid],
            ["mt", [fields.mt.visible && fields.mt.required ? ew.Validators.required(fields.mt.caption) : null], fields.mt.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Client script
    // Write your client script here, no need to add script tags.
    var parent_url = ew.PATH_BASE;
    var NoReferensi = $("#x_NoReferensi").val();
    var IdProses = $("#x_idProses").val();
    var IdAktivitas = $("#x_idAktifitas").val();
    let proceedSubmitStatus = null;
    $("#x_mt").on('focus', function () {
        hideFeedback($(this));
    });
    function hideFeedback(el) {
        let feedback = el.siblings('.invalid-feedback');
        feedback.hide();
    }
    function validasiInput() {
        var inputMap = {
            "#x_mt": "Mt"
        };
        let isValid = true;
        $('.invalid-feedback').hide();
        let zeroOrNegativeFields = [];
        for (var id in inputMap) {
            var el = $(id);
            var label = inputMap[id];
            var val = el.val().trim();
            el.val(val);
            var feedback = el.siblings('.invalid-feedback');
            if (val === "") {
                feedback.text('*' + label + ' tidak boleh kosong.').show();
                isValid = false;
                continue;
            }
            if (isNaN(val)) {
                feedback.text('*' + label + ' harus diisi dengan angka desimal yang valid.').show();
                isValid = false;
                continue;
            }
            var number = parseFloat(val);
            if (number <= 0) {
                zeroOrNegativeFields.push(label)
            }
        }
        let fieldNotValid = [];
        for (const fieldId in inputMap) {
            const el = $(fieldId);
            const label = inputMap[fieldId];
            if (el.length && !el.val().trim()) {
                fieldNotValid.push(label);
                isValid = false
            }
        }
        if (!isValid) {
            ew.alert("Field tidak boleh kosong: " + fieldNotValid.join(", "));
            return { isValid: false}; // Gagal submit
        } else {
            $('.invalid-feedback').hide();
            if (zeroOrNegativeFields.length > 0) {
                return { isValid: false, hasNegative: true, fields: zeroOrNegativeFields };
            }
                return { isValid: true};
        }
        return { isValid: true};
    }
    function handleCustomSubmit(status) {
        const isValidInput = validasiInput();
        if (!isValidInput.isValid && !isValidInput.hasNegative) return;
        let allNegativeFields = [];
        if (isValidInput.hasNegative) allNegativeFields = allNegativeFields.concat(isValidInput.fields);
        if (allNegativeFields.length > 0) {
            let warningText = "Field berikut bernilai 0 atau kurang: " + allNegativeFields.join(", ") + ". Apakah Anda ingin tetap menyimpan?";
            $("#warningValueText").text(warningText);
            proceedSubmitStatus = status;
            $("#warningValueModal").modal("show");
            return;
        }
        submitFinal(status);
    }
    function submitFinal(status) {
        let idAktivitas = $("#x_idAktifitas").val();
        let originalStatus = $("#el_SubaktivitasNilaiSFBLSTSPymLPG_StatusAktivitas .form-control-plaintext").text().trim();
        $.ajax({
            url: parent_url + `api/LookUpList/check_valid_status_aktivitas?idAktivitas=${idAktivitas}&originalStatus=${originalStatus}`,
            type: 'GET',
            beforeSend: function () {
                showLoading();
            },
            success: function (response) {
                if (!response.IsValid){
                    hideLoading();
                    ew.alert(response.Message ?? "Status aktivitas telah diubah oleh pengguna lain");
                    return;
                } else {
                    let form = $("#fSubaktivitasNilaiSFBLSTSPymLPGedit");
                    $.ajax({
                        url: form.attr("action"),
                        type: form.attr("method"),
                        data: form.serialize(),
                        success: function (response) {
                            updateStatus(idAktivitas, status);
                        },
                        error: function (xhr, status, error) {
                            hideLoading();
                            ew.alert("Gagal menyimpan data.");
                            console.error("Form submit gagal:", error);
                        }
                    }); 
                }
            },
            error: function (xhr, status, error) {
                hideLoading();
                ew.alert("Gagal menyimpan data.");
                console.error("Form submit gagal:", error);
            }
        }); 
    }
    function updateStatus(idAktivitas, status) {
        $.ajax({
            url: parent_url + `api/LookUpList/update_status_aktivitas?idAktivitas=${idAktivitas}&statusAktivitas=${status}`,
            type: 'POST',
            success: function () {
                if (status == "Completed" || status == "Completed Edit") {
                    window.location.href = `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`;
                } else {
                    location.reload();
                }
            },
            error: function (xhr, status, error) {
                hideLoading();
                ew.alert("Status gagal diperbarui.");
                console.error("Update status gagal:", error);
            }
        });
    }
    function reverseStatus(status, catatan) {
        showLoading();
        let idAktivitas = $("#x_idAktifitas").val();
        $.ajax({
            url: parent_url + `api/LookUpList/update_status_aktivitas-v2`,
            type: 'POST',
            data: JSON.stringify({ IdAktivitas: idAktivitas, StatusAktivitas: status, Catatan: catatan ?? null }),
            contentType: 'application/json',
            success: function () {
                setTimeout(function () {
                    window.location.href = `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`;
                }, 1000);
            },
            error: function (xhr, status, error) {
                ew.alert("Status gagal diperbarui.");
                console.error("Update status gagal:", error);
            },
            complete: function () {
                hideLoading();
            }
        });
    }
    $(document).on("click", "#btn-draft", function () {
        handleCustomSubmit("Draft");
    });
    $(document).on("click", "#btn-completed", function () {
        handleCustomSubmit("Completed");
    });
    $(document).on("click", "#btn-editing", function () {
        handleCustomSubmit("Editing");
    });
    $(document).on("click", "#btn-completedEdit", function () {
        handleCustomSubmit("Completed Edit");
    });
    $(document).on("click", "#btn-confirm-modal", function () {
        $("#warningValueModal").modal("hide");
        submitFinal(proceedSubmitStatus);
    });
    $(document).on("submit", "#reverseStatusEditingModalForm", function (e) {
        e.preventDefault();
        let catatanText = $("#catatanReverseStatusEditing").val();
        reverseStatus("Editing", catatanText);
    });
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subaktivitasNilaiSfblstsPymLpgEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subaktivitasNilaiSfblstsPymLpgEdit.OldKeyName)" value="@Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subaktivitasNilaiSfblstsPymLpgEdit.NoReferensi.Visible) { // subaktivitasNilaiSfblstsPymLpgEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubaktivitasNilaiSFBLSTSPymLPG_NoReferensi" for="x_NoReferensi" class="@(subaktivitasNilaiSfblstsPymLpgEdit.LeftColumnClass)">@Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.NoReferensi.Caption)@Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasNilaiSfblstsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.NoReferensi.CellAttributes)>
<span id="el_SubaktivitasNilaiSFBLSTSPymLPG_NoReferensi">
<span @Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.NoReferensi.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subaktivitasNilaiSfblstsPymLpgEdit.NoReferensi.EditValue)))"></span>
<input type="hidden" data-table="SubaktivitasNilaiSFBLSTSPymLPG" data-field="x_NoReferensi" data-hidden="1" name="x_NoReferensi" id="x_NoReferensi" value="@Html.Raw(HtmlEncode(subaktivitasNilaiSfblstsPymLpgEdit.NoReferensi.CurrentValue))">
</span>
</div></div>
    </div>
} @* subaktivitasNilaiSfblstsPymLpgEdit.NoReferensi.Visible (end) *@
@if (subaktivitasNilaiSfblstsPymLpgEdit.idProses.Visible) { // subaktivitasNilaiSfblstsPymLpgEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.idProses.RowAttributes)>
        <label id="elh_SubaktivitasNilaiSFBLSTSPymLPG_idProses" class="@(subaktivitasNilaiSfblstsPymLpgEdit.LeftColumnClass)">@Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.idProses.Caption)@Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasNilaiSfblstsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.idProses.CellAttributes)>
<span id="el_SubaktivitasNilaiSFBLSTSPymLPG_idProses">
<span @Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.idProses.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.idProses.DisplayValue(subaktivitasNilaiSfblstsPymLpgEdit.idProses.EditValue))</span></span>
<input type="hidden" data-table="SubaktivitasNilaiSFBLSTSPymLPG" data-field="x_idProses" data-hidden="1" name="x_idProses" id="x_idProses" value="@Html.Raw(HtmlEncode(subaktivitasNilaiSfblstsPymLpgEdit.idProses.CurrentValue))">
</span>
</div></div>
    </div>
} @* subaktivitasNilaiSfblstsPymLpgEdit.idProses.Visible (end) *@
@if (subaktivitasNilaiSfblstsPymLpgEdit.idAktifitas.Visible) { // subaktivitasNilaiSfblstsPymLpgEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubaktivitasNilaiSFBLSTSPymLPG_idAktifitas" class="@(subaktivitasNilaiSfblstsPymLpgEdit.LeftColumnClass)">@Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.idAktifitas.Caption)@Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasNilaiSfblstsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.idAktifitas.CellAttributes)>
<span id="el_SubaktivitasNilaiSFBLSTSPymLPG_idAktifitas">
<span @Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.idAktifitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.idAktifitas.DisplayValue(subaktivitasNilaiSfblstsPymLpgEdit.idAktifitas.EditValue))</span></span>
<input type="hidden" data-table="SubaktivitasNilaiSFBLSTSPymLPG" data-field="x_idAktifitas" data-hidden="1" name="x_idAktifitas" id="x_idAktifitas" value="@Html.Raw(HtmlEncode(subaktivitasNilaiSfblstsPymLpgEdit.idAktifitas.CurrentValue))">
</span>
</div></div>
    </div>
} @* subaktivitasNilaiSfblstsPymLpgEdit.idAktifitas.Visible (end) *@
@if (subaktivitasNilaiSfblstsPymLpgEdit.LastUpdatedBy.Visible) { // subaktivitasNilaiSfblstsPymLpgEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubaktivitasNilaiSFBLSTSPymLPG_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subaktivitasNilaiSfblstsPymLpgEdit.LeftColumnClass)">@Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.LastUpdatedBy.Caption)@Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasNilaiSfblstsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubaktivitasNilaiSFBLSTSPymLPG_LastUpdatedBy">
<span @Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.LastUpdatedBy.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subaktivitasNilaiSfblstsPymLpgEdit.LastUpdatedBy.EditValue)))"></span>
<input type="hidden" data-table="SubaktivitasNilaiSFBLSTSPymLPG" data-field="x_LastUpdatedBy" data-hidden="1" name="x_LastUpdatedBy" id="x_LastUpdatedBy" value="@Html.Raw(HtmlEncode(subaktivitasNilaiSfblstsPymLpgEdit.LastUpdatedBy.CurrentValue))">
</span>
</div></div>
    </div>
} @* subaktivitasNilaiSfblstsPymLpgEdit.LastUpdatedBy.Visible (end) *@
@if (subaktivitasNilaiSfblstsPymLpgEdit.lastUpdatedDate.Visible) { // subaktivitasNilaiSfblstsPymLpgEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubaktivitasNilaiSFBLSTSPymLPG_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subaktivitasNilaiSfblstsPymLpgEdit.LeftColumnClass)">@Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.lastUpdatedDate.Caption)@Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasNilaiSfblstsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubaktivitasNilaiSFBLSTSPymLPG_lastUpdatedDate">
<span @Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.lastUpdatedDate.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subaktivitasNilaiSfblstsPymLpgEdit.lastUpdatedDate.EditValue)))"></span>
<input type="hidden" data-table="SubaktivitasNilaiSFBLSTSPymLPG" data-field="x_lastUpdatedDate" data-hidden="1" name="x_lastUpdatedDate" id="x_lastUpdatedDate" value="@Html.Raw(HtmlEncode(subaktivitasNilaiSfblstsPymLpgEdit.lastUpdatedDate.CurrentValue))">
</span>
</div></div>
    </div>
} @* subaktivitasNilaiSfblstsPymLpgEdit.lastUpdatedDate.Visible (end) *@
@if (subaktivitasNilaiSfblstsPymLpgEdit.StatusAktivitas.Visible) { // subaktivitasNilaiSfblstsPymLpgEdit.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.StatusAktivitas.RowAttributes)>
        <label id="elh_SubaktivitasNilaiSFBLSTSPymLPG_StatusAktivitas" class="@(subaktivitasNilaiSfblstsPymLpgEdit.LeftColumnClass)">@Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.StatusAktivitas.Caption)@Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasNilaiSfblstsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.StatusAktivitas.CellAttributes)>
<span id="el_SubaktivitasNilaiSFBLSTSPymLPG_StatusAktivitas">
<span @Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.StatusAktivitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.StatusAktivitas.DisplayValue(subaktivitasNilaiSfblstsPymLpgEdit.StatusAktivitas.EditValue))</span></span>
<input type="hidden" data-table="SubaktivitasNilaiSFBLSTSPymLPG" data-field="x_StatusAktivitas" data-hidden="1" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@Html.Raw(HtmlEncode(subaktivitasNilaiSfblstsPymLpgEdit.StatusAktivitas.CurrentValue))">
</span>
</div></div>
    </div>
} @* subaktivitasNilaiSfblstsPymLpgEdit.StatusAktivitas.Visible (end) *@
@if (subaktivitasNilaiSfblstsPymLpgEdit.mt.Visible) { // subaktivitasNilaiSfblstsPymLpgEdit.mt.Visible (begin)
    <div id="r_mt" @Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.mt.RowAttributes)>
        <label id="elh_SubaktivitasNilaiSFBLSTSPymLPG_mt" for="x_mt" class="@(subaktivitasNilaiSfblstsPymLpgEdit.LeftColumnClass)">@Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.mt.Caption)@Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.mt.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subaktivitasNilaiSfblstsPymLpgEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.mt.CellAttributes)>
<span id="el_SubaktivitasNilaiSFBLSTSPymLPG_mt">
<input type="@(subaktivitasNilaiSfblstsPymLpgEdit.mt.InputTextType)" name="x_mt" id="x_mt" data-table="SubaktivitasNilaiSFBLSTSPymLPG" data-field="x_mt" value="@Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.mt.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subaktivitasNilaiSfblstsPymLpgEdit.mt.PlaceHolder))" data-format-pattern="@(subaktivitasNilaiSfblstsPymLpgEdit.mt.FormatPattern)"@Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.mt.EditAttributes) aria-describedby="x_mt_help">
@Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.mt.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.mt.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subaktivitasNilaiSfblstsPymLpgEdit.mt.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="SubaktivitasNilaiSFBLSTSPymLPG" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subaktivitasNilaiSfblstsPymLpgEdit.id.CurrentValue))">
@{ subaktivitasNilaiSfblstsPymLpgEdit.CloseRecordset(); }
@Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subaktivitasNilaiSfblstsPymLpgEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubaktivitasNilaiSFBLSTSPymLPGedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubaktivitasNilaiSFBLSTSPymLPGedit" data-href="@AppPath(subaktivitasNilaiSfblstsPymLpgEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subaktivitasNilaiSfblstsPymLpgEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subaktivitasNilaiSfblstsPymLpgEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubaktivitasNilaiSFBLSTSPymLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Startup script
    var IdReferensi = "@subaktivitasNilaiSfblstsPymLpgEdit.NoReferensi.CurrentValue";
    var IdProses = "@subaktivitasNilaiSfblstsPymLpgEdit.idProses.CurrentValue";
    var idAktivitas = "@subaktivitasNilaiSfblstsPymLpgEdit.idAktifitas.CurrentValue";
    var NamaAktivitas = $('#el_SubaktivitasNilaiSFBLSTSPymLPG_idAktifitas').text();
    var parent_url = ew.PATH_BASE;
    const userLevel = "@CurrentUserLevel()";
    var steps = [
        { number: 1, label: "Proses Penerimaan", url: `${parent_url}PenimbunanList`, icon: "fa-box-open" },
        { number: 2, label: "Proses", url: `${parent_url}ProsesList?cmd=search&x_IdReferensi%5B%5D=${IdReferensi}&search=&searchtype=`, icon: "fa-gears" },
        { number: 3, label: "Aktivitas", url: `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`, icon: "fa-list-check" },
        { number: 4, label: NamaAktivitas, url: '', icon: "fa-file-circle-check" }
    ];
    var currentStep = 4;
    $("<style>")
        .prop("type", "text/css")
        .html(`
            .stepper {
                display: flex;
                counter-reset: step;
                flex-wrap: nowrap;        /* jangan pecah ke bawah */
                overflow-x: auto;         /* scroll horizontal */
                -webkit-overflow-scrolling: touch; /* smooth scroll di mobile */
                padding-bottom: 8px;      /* space biar scroll bar gak nempel */
            }
            .stepper::-webkit-scrollbar {
            height: 6px; /* tipis */
            }
            .stepper::-webkit-scrollbar-thumb {
                background-color: #ccc;
                border-radius: 3px;
            }
            .step {
                width: 150px;
                text-align: center;
                position: relative;
            }
            .step:not(:last-child)::after {
                content: '';
                position: absolute;
                top: 20px;
                right: -50%;
                width: 100%;
                height: 4px;
                background-color: #ccc;
                z-index: 0;
            }
            .step.completed:not(:last-child)::after {
                background-color: #3c6dbd;
            }
            .step-icon {
                width: 36px;
                height: 36px;
                line-height: 36px;
                border-radius: 50%;
                background: #ccc;
                display: inline-block;
                z-index: 1;
                position: relative;
                color: white;
                font-weight: bold;
            }
            .step.active .step-icon {
                background: #3c6dbd;
            }
            .step-label {
                margin-top: 8px;
                font-size: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6px;
                color: #333;
            }
            .step-label {
                color: #3c6dbd !important;
                text-decoration: none;
                margin: 0;
                padding: 0;
            }
            .step-label-not-active {
                color: #CCCCCC !important;
            }
            .ag-theme-quartz .ag-header {
                background-color: #3c6dbd !important;
            }
            .ag-theme-quartz .ag-header-cell-label {
                color: #ffffff !important;
            }
            .ag-theme-quartz .ag-icon-filter {
                color: #ffffff !important;
            }
            .rotate-down {
                transform: rotate(90deg);
                transition: transform 0.3s ease;
            }
            .rotate-right {
                transform: rotate(0deg);
                transition: transform 0.3s ease;
            }
            .header-table {
                background-color: #3c6dbd !important;
                color: #fff !important;
            }
            .newblsfad{
                width: 15%;
            }
            .ar45b{
                width: 15%;
            }
        `)
        .appendTo("head");
    var $stepperWrapper = $('<div class="d-flex border-bottom border-2 pb-2"><div class="stepper"></div></div>');
    var $stepper = $stepperWrapper.find(".stepper");
    steps.forEach(function (step, i) {
        var isActive = step.number === currentStep;
        var isCompleted = step.number < currentStep;
        var stepClass = isActive ? "active" : isCompleted ? "completed" : "";
        var icon, labelContent, html;
        if (isActive) {
            icon = `<div class="step-icon bg-success">${step.number}</div>`;
            labelContent = `<div class="step-label"><p class="text-success mb-1"><i class="fa-solid ${step.icon} me-1 text-success"></i> ${step.label}</p></div>`;
            html = `<div class="step ${stepClass} text-success">${icon}${labelContent}</div>`;
        } else if (isCompleted) {
            icon = `<div class="step-icon" style="background: #3c6dbd;">${step.number}</div>`;
            labelContent = `<div class="step-label"><a href="${step.url}" class="text-primary"><i class="fa-solid ${step.icon} me-1"></i>${step.label}</a></div>`;
            html = `<div class="step ${stepClass}">${icon}${labelContent}</div>`;
        } else {
            icon = `<div class="step-icon">${step.number}</div>`;
            labelContent = `<div class="step-label-not-active"><p style="margin: 0;"><i class="fa-solid ${step.icon} me-1"></i>${step.label}</p></div>`;
            html = `<div class="step ${stepClass} text-secondary">${icon}${labelContent}</div>`;
        }
        $stepper.append(html);
    });
    $(".content-header .container-fluid .row").append($stepperWrapper);
    $("#btn-action").hide();
    $("#btn-cancel").html('<i class="fa-solid fa-ban"></i></i> Cancel');
    const $cancelButton = $("#btn-cancel");
    const idAktifitas = $("#x_idAktifitas").val();

    // --- log aktivitas start ---
    $('#el_SubaktivitasNilaiSFBLSTSPymLPG_LastUpdatedBy').addClass('d-flex gap-3');
    $('#el_SubaktivitasNilaiSFBLSTSPymLPG_LastUpdatedBy').append(`
        <button type="button" class="btn btn-primary ew-btn ps-2" expand-log="false">
            <i class="fa-solid fa-caret-right fa-2xl me-2 caret-icon rotate-right"></i>
            Log History
            <i class="fa-solid fa-clock-rotate-left ms-1"></i> 
        </button>
    `);
    $(document).on('click', 'button[expand-log]', function () {
        const $btn = $(this);
        const isExpanded = $btn.attr('expand-log') === 'true';
        const $row = $('#log-table-row');
        const $wrapper = $('#log-table-wrapper');
        const $caret = $btn.find('.caret-icon');
        if (!isExpanded) {
            $btn.attr('expand-log', 'true');
            $row.removeClass('d-none');
            setTimeout(() => {
                $wrapper.css({
                    maxHeight: '500px'
                });
            }, 10);
            $caret.removeClass('rotate-right').addClass('rotate-down');
        } else {
            $btn.attr('expand-log', 'false');
            $wrapper.css({
                maxHeight: '0'
            });
            setTimeout(() => {
                $row.addClass('d-none');
            }, 600);
            $caret.removeClass('rotate-down').addClass('rotate-right');
        }
    });
    if (idAktivitas && idAktivitas !== "0") {
        $.ajax({
            url: parent_url + `api/LookUpList/sub-aktivitas/startup?idAktivitas=${idAktivitas}`,
            type: 'GET',
            success: function(response) {
                // cek status
                if ($cancelButton.length){
                    let status = response.StatusAktivitas;
                    currentStatusAktivitas = status;
                    let $customButtons = ``;
                    switch (status) {
                        case "Waiting":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-draft">
                                    <i class="fas fa-save"></i> Save
                                </button>
                            `;
                            break;
                        case "Draft":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-draft">
                                    <i class="fas fa-save"></i> Save
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completed">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `
                            break;
                        case "Completed":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-editing">
                                    <i class="fa-solid fa-pen-to-square"></i> Edit
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completedEdit">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `;
                            break;
                        case "Editing":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-editing">
                                    <i class="fa-solid fa-pen-to-square"></i> Edit
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completedEdit">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `;
                            break;
                        case "Completed Edit":
                            if (userLevel === '4'){
                                $customButtons = `
                                    <button type="button" class="btn btn-warning ew-btn ml-2" id="btn-reverse-status">
                                        <i class="fa-solid fa-pen-to-square"></i> Edit 
                                    </button>
                                `;
                            }
                            break;
                    }
                    $cancelButton.before($customButtons);
                }

                // Cek is editable
                if(!response.IsEditable || response.StatusAktivitas === "Completed Edit"){
                    $("#btn-draft").hide();
                    $("#btn-editing").hide();
                    $("#btn-completed").hide();
                    $("#btn-completedEdit").hide();
                    $('input, select, textarea').prop('disabled', true);
                }

                // Log
                const mappedData = response.LogAktivitas.map(item => ({
                    Aktivitas: item.Aktivitas,
                    Username: item.UserName,
                    StatusAktivitas: item.StatusAktivitas,
                    Tanggal: item.Tanggal,
                    Catatan: item.Catatan
                }));
                $.getScript('https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js', function () {
                        $('#r_LastUpdatedBy').after(`
                            <div id="log-table-row" class="d-none row m-0">
                                <div class="p-0 col-2"></div>
                                <div class="p-0 col-10">
                                    <div id="log-table-wrapper" style="overflow: hidden; transition: all 0.6s ease; max-height: 0;">
                                        <div id="myGrid" class="ag-theme-quartz w-100 my-3" style="height: 300px;"></div>
                                    </div>
                                </div>
                            </div>
                        `);
                        const gridOptions = {
                            rowData: mappedData,
                            columnDefs: [
                                {
                                    headerName: 'No.',
                                    valueGetter: 'node.rowIndex + 1',
                                    width: 80,
                                    filter: false
                                },
                                {
                                    headerName: 'Aktivitas',
                                    field: 'Aktivitas',
                                    flex: 1
                                },
                                {
                                    headerName: 'Username',
                                    field: 'Username',
                                    flex: 1
                                },
                                {
                                    headerName: 'Status Aktivitas',
                                    field: 'StatusAktivitas',
                                    flex: 1
                                },
                                {
                                    headerName: 'Tanggal',
                                    field: 'Tanggal',
                                    flex: 1
                                },
                                {
                                    headerName: 'Catatan',
                                    field: 'Catatan',
                                    flex: 1
                                }
                            ],
                            defaultColDef: {
                                sortable: false,
                                suppressMovable: true,
                                filter: true,
                                resizable: false
                            },
                            rowSelection: 'multiple',
                            suppressRowClickSelection: true,
                            pagination: true,
                            paginationPageSize: 10
                        };
                        const myGridElement = document.querySelector('#myGrid');
                        agGrid.createGrid(myGridElement, gridOptions);
                    });
            },
            error: function(xhr, status, error) {
                ew.alert(xhr.responseJSON.message ?? "Terjadi kesalahan dalam memuat data");
            }
        });
    } else {
        console.warn("Skipping startup API: Invalid IdAktivitas");
        $('button[expand-log]').hide(); 
        $("#btn-draft, #btn-editing, #btn-completed, #btn-completedEdit").hide();
        $('input, select, textarea').prop('disabled', true);
    }
    // --- log aktivitas end ---
    const tableHtml = `
    <div class="d-flex flex-column flex-md-row w-100 gap-4">
        <div id="allValues" class="w-100">
            <div>
                <div id="table_bl_sfad_api" class="border rounded-3 overflow-hidden w-50 mb-4">
                    <table class="table rounded-4 m-0">
                        <thead>
                            <tr style="height: 50px;">
                                <td class="fw-bold header-table">Satuan</th>
                                <td class="fw-bold header-table">SFBL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="height: 58px;">
                                <td><strong>Metric Ton</strong></td>
                                <td id="td_SFBL_Mt"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>           
            </div>
        </div>
    </div>
    `;
    $("#r_StatusAktivitas").after(tableHtml);
    const moveField = (fieldId, targetTdId) => {
        const fieldRow = $("#" + fieldId).closest(".row");
        $("#" + fieldId).appendTo("#" + targetTdId); // move field to table
        fieldRow.hide(); // hide original
    };
    moveField("el_SubaktivitasNilaiSFBLSTSPymLPG_mt", "td_SFBL_Mt");
    let uploadModal = `<div class="modal fade" id="warningValueModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="warningValueModalTitle">Konfirmasi Simpan Data</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id='warningValueText'>
            Konfirmasi 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-cancel-modal">Batal</button>
            <button type="button" class="btn btn-primary" id="btn-confirm-modal">Lanjutkan</button>
          </div>
        </div>
      </div>
    </div>`
    $("body").append(uploadModal);
    $("#btn-cancel-modal").click(function (event) {
        event.preventDefault();
        $("#warningValueModal").modal("hide");
    });
    $('#x_mt')
        .attr('inputmode', 'numeric')
        .on('input', function () {
            let val = $(this).val();
            let isNegative = val.startsWith('-');
            val = val.replace(',', '.');
            val = val.replace(/[^0-9.]/g, '');
            const parts = val.split('.');
            if (parts.length > 2) {
                val = parts[0] + '.' + parts.slice(1).join('');
            }
            if (isNegative) {
                val = '-' + val;
            }
            $(this).val(val);
        });
});
</script>
