@{
    // View
    View = this;

    // Check action result
    if (subAktivitasStopBongkarLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasStopBongkarLpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasStopBongkarLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasStopBongkarLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasStopBongkarLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasStopBongkarLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasStopBongkarLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasStopBongkarLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasStopBongkarLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasStopBongkarLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasStopBongkarLpgList.TotalRecords > 0 && subAktivitasStopBongkarLpgList.ExportOptions.Visible) {
    subAktivitasStopBongkarLpgList.ExportOptions.Render("body");
}
@if (subAktivitasStopBongkarLpgList.ImportOptions.Visible) {
    subAktivitasStopBongkarLpgList.ImportOptions.Render("body");
}
@if (subAktivitasStopBongkarLpgList.SearchOptions.Visible) {
    subAktivitasStopBongkarLpgList.SearchOptions.Render("body");
}
@if (subAktivitasStopBongkarLpgList.FilterOptions.Visible) {
    subAktivitasStopBongkarLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasStopBongkarLpgList.IsModal) {
<form name="fSubAktivitasStopBongkarLPGsrch" id="fSubAktivitasStopBongkarLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasStopBongkarLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasStopBongkarLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasStopBongkarLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasStopBongkarLPG: currentTable } });
var currentForm;
var fSubAktivitasStopBongkarLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasStopBongkarLPGsrch")
        .setPageId("list")
@if (subAktivitasStopBongkarLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasStopBongkarLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasStopBongkarLpgList.IsExport() && Empty(subAktivitasStopBongkarLpgList.CurrentAction) && subAktivitasStopBongkarLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasStopBongkarLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasStopBongkarLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasStopBongkarLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasStopBongkarLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasStopBongkarLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasStopBongkarLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasStopBongkarLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasStopBongkarLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasStopBongkarLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasStopBongkarLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasStopBongkarLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasStopBongkarLpgList.ShowPageHeader()
@subAktivitasStopBongkarLpgList.ShowMessages()
<main class="list @(subAktivitasStopBongkarLpgList.TotalRecords == 0 && !subAktivitasStopBongkarLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasStopBongkarLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasStopBongkarLpgList.TotalRecords > 0 || !Empty(subAktivitasStopBongkarLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasStopBongkarLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasStopBongkarLpgList.TableGridClass)">
<form name="@(subAktivitasStopBongkarLpgList.FormName)" id="@(subAktivitasStopBongkarLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasStopBongkarLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasStopBongkarLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasStopBongkarLPG" class="card-body ew-grid-middle-panel @(subAktivitasStopBongkarLpgList.TableContainerClass)" style="@(subAktivitasStopBongkarLpgList.TableContainerStyle)">
@if (subAktivitasStopBongkarLpgList.TotalRecords > 0 || subAktivitasStopBongkarLpgList.IsGridEdit || subAktivitasStopBongkarLpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasStopBongkarLPGlist" class="@(subAktivitasStopBongkarLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasStopBongkarLpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasStopBongkarLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasStopBongkarLpgList.ListOptions.RenderHeader("left")
@if (subAktivitasStopBongkarLpgList.id.Visible) { // subAktivitasStopBongkarLpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasStopBongkarLpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasStopBongkarLPG_id" class="SubAktivitasStopBongkarLPG_id">@Html.Raw(subAktivitasStopBongkarLpgList.RenderFieldHeader(subAktivitasStopBongkarLpgList.id))</div></th>
} @* subAktivitasStopBongkarLpgList.id.Visible (end) *@
@if (subAktivitasStopBongkarLpgList.idProses.Visible) { // subAktivitasStopBongkarLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasStopBongkarLpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasStopBongkarLPG_idProses" class="SubAktivitasStopBongkarLPG_idProses">@Html.Raw(subAktivitasStopBongkarLpgList.RenderFieldHeader(subAktivitasStopBongkarLpgList.idProses))</div></th>
} @* subAktivitasStopBongkarLpgList.idProses.Visible (end) *@
@if (subAktivitasStopBongkarLpgList.idAktifitas.Visible) { // subAktivitasStopBongkarLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasStopBongkarLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasStopBongkarLPG_idAktifitas" class="SubAktivitasStopBongkarLPG_idAktifitas">@Html.Raw(subAktivitasStopBongkarLpgList.RenderFieldHeader(subAktivitasStopBongkarLpgList.idAktifitas))</div></th>
} @* subAktivitasStopBongkarLpgList.idAktifitas.Visible (end) *@
@if (subAktivitasStopBongkarLpgList.NoReferensi.Visible) { // subAktivitasStopBongkarLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasStopBongkarLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasStopBongkarLPG_NoReferensi" class="SubAktivitasStopBongkarLPG_NoReferensi">@Html.Raw(subAktivitasStopBongkarLpgList.RenderFieldHeader(subAktivitasStopBongkarLpgList.NoReferensi))</div></th>
} @* subAktivitasStopBongkarLpgList.NoReferensi.Visible (end) *@
@if (subAktivitasStopBongkarLpgList.StatusAktivitas.Visible) { // subAktivitasStopBongkarLpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasStopBongkarLpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasStopBongkarLPG_StatusAktivitas" class="SubAktivitasStopBongkarLPG_StatusAktivitas">@Html.Raw(subAktivitasStopBongkarLpgList.RenderFieldHeader(subAktivitasStopBongkarLpgList.StatusAktivitas))</div></th>
} @* subAktivitasStopBongkarLpgList.StatusAktivitas.Visible (end) *@
@if (subAktivitasStopBongkarLpgList.LastUpdatedBy.Visible) { // subAktivitasStopBongkarLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasStopBongkarLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasStopBongkarLPG_LastUpdatedBy" class="SubAktivitasStopBongkarLPG_LastUpdatedBy">@Html.Raw(subAktivitasStopBongkarLpgList.RenderFieldHeader(subAktivitasStopBongkarLpgList.LastUpdatedBy))</div></th>
} @* subAktivitasStopBongkarLpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasStopBongkarLpgList.lastUpdatedDate.Visible) { // subAktivitasStopBongkarLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasStopBongkarLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasStopBongkarLPG_lastUpdatedDate" class="SubAktivitasStopBongkarLPG_lastUpdatedDate">@Html.Raw(subAktivitasStopBongkarLpgList.RenderFieldHeader(subAktivitasStopBongkarLpgList.lastUpdatedDate))</div></th>
} @* subAktivitasStopBongkarLpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasStopBongkarLpgList.tglStopBongkar.Visible) { // subAktivitasStopBongkarLpgList.tglStopBongkar.Visible (begin)
        <th data-name="tglStopBongkar" class="@(subAktivitasStopBongkarLpgList.tglStopBongkar.HeaderCellClass)"><div id="elh_SubAktivitasStopBongkarLPG_tglStopBongkar" class="SubAktivitasStopBongkarLPG_tglStopBongkar">@Html.Raw(subAktivitasStopBongkarLpgList.RenderFieldHeader(subAktivitasStopBongkarLpgList.tglStopBongkar))</div></th>
} @* subAktivitasStopBongkarLpgList.tglStopBongkar.Visible (end) *@
@if (subAktivitasStopBongkarLpgList.userInput.Visible) { // subAktivitasStopBongkarLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasStopBongkarLpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasStopBongkarLPG_userInput" class="SubAktivitasStopBongkarLPG_userInput">@Html.Raw(subAktivitasStopBongkarLpgList.RenderFieldHeader(subAktivitasStopBongkarLpgList.userInput))</div></th>
} @* subAktivitasStopBongkarLpgList.userInput.Visible (end) *@
@if (subAktivitasStopBongkarLpgList.etlDate.Visible) { // subAktivitasStopBongkarLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasStopBongkarLpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasStopBongkarLPG_etlDate" class="SubAktivitasStopBongkarLPG_etlDate">@Html.Raw(subAktivitasStopBongkarLpgList.RenderFieldHeader(subAktivitasStopBongkarLpgList.etlDate))</div></th>
} @* subAktivitasStopBongkarLpgList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasStopBongkarLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasStopBongkarLpgList.PageNumber)">
@{
    await subAktivitasStopBongkarLpgList.SetupGrid();
    bool eof = subAktivitasStopBongkarLpgList.Recordset == null; // DN
}
@while (subAktivitasStopBongkarLpgList.RecordCount < subAktivitasStopBongkarLpgList.StopRecord || SameString(subAktivitasStopBongkarLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasStopBongkarLpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasStopBongkarLpgList.IsGridAdd || subAktivitasStopBongkarLpgList.CurrentMode == "copy") &&
        (!((subAktivitasStopBongkarLpgList.IsCopy || subAktivitasStopBongkarLpgList.IsAdd) && subAktivitasStopBongkarLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasStopBongkarLpgList.Recordset.ReadAsync();
    subAktivitasStopBongkarLpgList.RecordCount++;
    if (subAktivitasStopBongkarLpgList.RecordCount >= subAktivitasStopBongkarLpgList.StartRecord) {
        await subAktivitasStopBongkarLpgList.SetupRow();
    <tr @Html.Raw(subAktivitasStopBongkarLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasStopBongkarLpgList.ListOptions.RenderBody("left", subAktivitasStopBongkarLpgList.RowCount)
    @if (subAktivitasStopBongkarLpgList.id.Visible) { // subAktivitasStopBongkarLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasStopBongkarLpgList.id.CellAttributes)>
<span id="el@(subAktivitasStopBongkarLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasStopBongkarLpgList.RowCount)_SubAktivitasStopBongkarLPG_id" class="el_SubAktivitasStopBongkarLPG_id">
<span @Html.Raw(subAktivitasStopBongkarLpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasStopBongkarLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopBongkarLpgList.id.Visible (end) *@
    @if (subAktivitasStopBongkarLpgList.idProses.Visible) { // subAktivitasStopBongkarLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasStopBongkarLpgList.idProses.CellAttributes)>
<span id="el@(subAktivitasStopBongkarLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasStopBongkarLpgList.RowCount)_SubAktivitasStopBongkarLPG_idProses" class="el_SubAktivitasStopBongkarLPG_idProses">
<span @Html.Raw(subAktivitasStopBongkarLpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasStopBongkarLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopBongkarLpgList.idProses.Visible (end) *@
    @if (subAktivitasStopBongkarLpgList.idAktifitas.Visible) { // subAktivitasStopBongkarLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasStopBongkarLpgList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasStopBongkarLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasStopBongkarLpgList.RowCount)_SubAktivitasStopBongkarLPG_idAktifitas" class="el_SubAktivitasStopBongkarLPG_idAktifitas">
<span @Html.Raw(subAktivitasStopBongkarLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasStopBongkarLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopBongkarLpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasStopBongkarLpgList.NoReferensi.Visible) { // subAktivitasStopBongkarLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasStopBongkarLpgList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasStopBongkarLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasStopBongkarLpgList.RowCount)_SubAktivitasStopBongkarLPG_NoReferensi" class="el_SubAktivitasStopBongkarLPG_NoReferensi">
<span @Html.Raw(subAktivitasStopBongkarLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasStopBongkarLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopBongkarLpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasStopBongkarLpgList.StatusAktivitas.Visible) { // subAktivitasStopBongkarLpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasStopBongkarLpgList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasStopBongkarLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasStopBongkarLpgList.RowCount)_SubAktivitasStopBongkarLPG_StatusAktivitas" class="el_SubAktivitasStopBongkarLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasStopBongkarLpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasStopBongkarLpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopBongkarLpgList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasStopBongkarLpgList.LastUpdatedBy.Visible) { // subAktivitasStopBongkarLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasStopBongkarLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasStopBongkarLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasStopBongkarLpgList.RowCount)_SubAktivitasStopBongkarLPG_LastUpdatedBy" class="el_SubAktivitasStopBongkarLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasStopBongkarLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasStopBongkarLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopBongkarLpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasStopBongkarLpgList.lastUpdatedDate.Visible) { // subAktivitasStopBongkarLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasStopBongkarLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasStopBongkarLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasStopBongkarLpgList.RowCount)_SubAktivitasStopBongkarLPG_lastUpdatedDate" class="el_SubAktivitasStopBongkarLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasStopBongkarLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasStopBongkarLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopBongkarLpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasStopBongkarLpgList.tglStopBongkar.Visible) { // subAktivitasStopBongkarLpgList.tglStopBongkar.Visible (begin)
        <td data-name="tglStopBongkar" @Html.Raw(subAktivitasStopBongkarLpgList.tglStopBongkar.CellAttributes)>
<span id="el@(subAktivitasStopBongkarLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasStopBongkarLpgList.RowCount)_SubAktivitasStopBongkarLPG_tglStopBongkar" class="el_SubAktivitasStopBongkarLPG_tglStopBongkar">
<span @Html.Raw(subAktivitasStopBongkarLpgList.tglStopBongkar.ViewAttributes)>
@Html.Raw(subAktivitasStopBongkarLpgList.tglStopBongkar.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopBongkarLpgList.tglStopBongkar.Visible (end) *@
    @if (subAktivitasStopBongkarLpgList.userInput.Visible) { // subAktivitasStopBongkarLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasStopBongkarLpgList.userInput.CellAttributes)>
<span id="el@(subAktivitasStopBongkarLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasStopBongkarLpgList.RowCount)_SubAktivitasStopBongkarLPG_userInput" class="el_SubAktivitasStopBongkarLPG_userInput">
<span @Html.Raw(subAktivitasStopBongkarLpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasStopBongkarLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopBongkarLpgList.userInput.Visible (end) *@
    @if (subAktivitasStopBongkarLpgList.etlDate.Visible) { // subAktivitasStopBongkarLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasStopBongkarLpgList.etlDate.CellAttributes)>
<span id="el@(subAktivitasStopBongkarLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasStopBongkarLpgList.RowCount)_SubAktivitasStopBongkarLPG_etlDate" class="el_SubAktivitasStopBongkarLPG_etlDate">
<span @Html.Raw(subAktivitasStopBongkarLpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasStopBongkarLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopBongkarLpgList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasStopBongkarLpgList.ListOptions.RenderBody("right", subAktivitasStopBongkarLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasStopBongkarLpgList.RowIndex, "$rowindex$"))
        subAktivitasStopBongkarLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasStopBongkarLpgList.IsCopy || subAktivitasStopBongkarLpgList.IsAdd) && subAktivitasStopBongkarLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasStopBongkarLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasStopBongkarLpgList.CurrentAction) && !subAktivitasStopBongkarLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasStopBongkarLpgList.CloseRecordset(); }
@if (!subAktivitasStopBongkarLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasStopBongkarLpgList.IsGridAdd && !(subAktivitasStopBongkarLpgList.IsGridEdit && subAktivitasStopBongkarLpgList.ModalGridEdit) && !subAktivitasStopBongkarLpgList.IsMultiEdit) {
@Html.Raw(subAktivitasStopBongkarLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasStopBongkarLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasStopBongkarLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasStopBongkarLpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasStopBongkarLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasStopBongkarLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasStopBongkarLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
