@{
    // View
    View = this;

    // Check action result
    if (subAktivitasDataStopPembongkaranRtwAdd.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasDataStopPembongkaranRtwAdd.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataStopPembongkaranRtwAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataStopPembongkaranRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fSubAktivitasDataStopPembongkaranRTWadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasDataStopPembongkaranRTWadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null, ew.Validators.integer], fields.StatusAktivitas.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["Tanggal", [fields.Tanggal.visible && fields.Tanggal.required ? ew.Validators.required(fields.Tanggal.caption) : null, ew.Validators.datetime(fields.Tanggal.clientFormatPattern)], fields.Tanggal.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "idProses": @Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.idProses.ToClientList(subAktivitasDataStopPembongkaranRtwAdd)),
            "idAktifitas": @Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.idAktifitas.ToClientList(subAktivitasDataStopPembongkaranRtwAdd)),
            "StatusAktivitas": @Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.StatusAktivitas.ToClientList(subAktivitasDataStopPembongkaranRtwAdd)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasDataStopPembongkaranRtwAdd.ShowPageHeader()
@subAktivitasDataStopPembongkaranRtwAdd.ShowMessages()
<form name="fSubAktivitasDataStopPembongkaranRTWadd" id="fSubAktivitasDataStopPembongkaranRTWadd" class="@(subAktivitasDataStopPembongkaranRtwAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasDataStopPembongkaranRtwAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasDataStopPembongkaranRtwAdd.OldKeyName)" value="@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (subAktivitasDataStopPembongkaranRtwAdd.NoReferensi.Visible) { // subAktivitasDataStopPembongkaranRtwAdd.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasDataStopPembongkaranRTW_NoReferensi" for="x_NoReferensi" class="@(subAktivitasDataStopPembongkaranRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.NoReferensi.Caption)@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasDataStopPembongkaranRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasDataStopPembongkaranRTW_NoReferensi">
<input type="@(subAktivitasDataStopPembongkaranRtwAdd.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasDataStopPembongkaranRTW" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.NoReferensi.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasDataStopPembongkaranRtwAdd.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasDataStopPembongkaranRtwAdd.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasDataStopPembongkaranRtwAdd.NoReferensi.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwAdd.idProses.Visible) { // subAktivitasDataStopPembongkaranRtwAdd.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.idProses.RowAttributes)>
        <label id="elh_SubAktivitasDataStopPembongkaranRTW_idProses" class="@(subAktivitasDataStopPembongkaranRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.idProses.Caption)@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasDataStopPembongkaranRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.idProses.CellAttributes)>
<span id="el_SubAktivitasDataStopPembongkaranRTW_idProses">
<span>@{
    if (IsRTL) {
        subAktivitasDataStopPembongkaranRtwAdd.idProses.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_idProses" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_idProses" id="sv_x_idProses" value="@(RemoveHtml(ConvertToString(subAktivitasDataStopPembongkaranRtwAdd.idProses.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasDataStopPembongkaranRtwAdd.idProses.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasDataStopPembongkaranRtwAdd.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasDataStopPembongkaranRtwAdd.idProses.FormatPattern)" @Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.idProses.EditAttributes) aria-describedby="x_idProses_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasDataStopPembongkaranRTW" data-field="x_idProses" data-input="sv_x_idProses" data-value-separator="@(subAktivitasDataStopPembongkaranRtwAdd.idProses.DisplayValueSeparatorAttribute)" name="x_idProses" id="x_idProses" value="@(HtmlEncode(subAktivitasDataStopPembongkaranRtwAdd.idProses.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.idProses.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasDataStopPembongkaranRTWadd"], function() {
    fSubAktivitasDataStopPembongkaranRTWadd.createAutoSuggest(Object.assign({"id":"x_idProses","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasDataStopPembongkaranRtwAdd.idProses.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasDataStopPembongkaranRTW.fields.idProses.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.idProses.Lookup.GetParamTag(subAktivitasDataStopPembongkaranRtwAdd, "p_x_idProses"))
</span>
</div></div>
    </div>
} @* subAktivitasDataStopPembongkaranRtwAdd.idProses.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwAdd.idAktifitas.Visible) { // subAktivitasDataStopPembongkaranRtwAdd.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasDataStopPembongkaranRTW_idAktifitas" class="@(subAktivitasDataStopPembongkaranRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.idAktifitas.Caption)@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasDataStopPembongkaranRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasDataStopPembongkaranRTW_idAktifitas">
<span>@{
    if (IsRTL) {
        subAktivitasDataStopPembongkaranRtwAdd.idAktifitas.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_idAktifitas" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_idAktifitas" id="sv_x_idAktifitas" value="@(RemoveHtml(ConvertToString(subAktivitasDataStopPembongkaranRtwAdd.idAktifitas.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasDataStopPembongkaranRtwAdd.idAktifitas.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasDataStopPembongkaranRtwAdd.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasDataStopPembongkaranRtwAdd.idAktifitas.FormatPattern)" @Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasDataStopPembongkaranRTW" data-field="x_idAktifitas" data-input="sv_x_idAktifitas" data-value-separator="@(subAktivitasDataStopPembongkaranRtwAdd.idAktifitas.DisplayValueSeparatorAttribute)" name="x_idAktifitas" id="x_idAktifitas" value="@(HtmlEncode(subAktivitasDataStopPembongkaranRtwAdd.idAktifitas.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.idAktifitas.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasDataStopPembongkaranRTWadd"], function() {
    fSubAktivitasDataStopPembongkaranRTWadd.createAutoSuggest(Object.assign({"id":"x_idAktifitas","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasDataStopPembongkaranRtwAdd.idAktifitas.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasDataStopPembongkaranRTW.fields.idAktifitas.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.idAktifitas.Lookup.GetParamTag(subAktivitasDataStopPembongkaranRtwAdd, "p_x_idAktifitas"))
</span>
</div></div>
    </div>
} @* subAktivitasDataStopPembongkaranRtwAdd.idAktifitas.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwAdd.StatusAktivitas.Visible) { // subAktivitasDataStopPembongkaranRtwAdd.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.StatusAktivitas.RowAttributes)>
        <label id="elh_SubAktivitasDataStopPembongkaranRTW_StatusAktivitas" class="@(subAktivitasDataStopPembongkaranRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.StatusAktivitas.Caption)@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasDataStopPembongkaranRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasDataStopPembongkaranRTW_StatusAktivitas">
<span>@{
    if (IsRTL) {
        subAktivitasDataStopPembongkaranRtwAdd.StatusAktivitas.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_StatusAktivitas" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_StatusAktivitas" id="sv_x_StatusAktivitas" value="@(RemoveHtml(ConvertToString(subAktivitasDataStopPembongkaranRtwAdd.StatusAktivitas.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasDataStopPembongkaranRtwAdd.StatusAktivitas.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasDataStopPembongkaranRtwAdd.StatusAktivitas.PlaceHolder))" data-format-pattern="@(subAktivitasDataStopPembongkaranRtwAdd.StatusAktivitas.FormatPattern)" @Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.StatusAktivitas.EditAttributes) aria-describedby="x_StatusAktivitas_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasDataStopPembongkaranRTW" data-field="x_StatusAktivitas" data-input="sv_x_StatusAktivitas" data-value-separator="@(subAktivitasDataStopPembongkaranRtwAdd.StatusAktivitas.DisplayValueSeparatorAttribute)" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@(HtmlEncode(subAktivitasDataStopPembongkaranRtwAdd.StatusAktivitas.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.StatusAktivitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.StatusAktivitas.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasDataStopPembongkaranRTWadd"], function() {
    fSubAktivitasDataStopPembongkaranRTWadd.createAutoSuggest(Object.assign({"id":"x_StatusAktivitas","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasDataStopPembongkaranRtwAdd.StatusAktivitas.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasDataStopPembongkaranRTW.fields.StatusAktivitas.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.StatusAktivitas.Lookup.GetParamTag(subAktivitasDataStopPembongkaranRtwAdd, "p_x_StatusAktivitas"))
</span>
</div></div>
    </div>
} @* subAktivitasDataStopPembongkaranRtwAdd.StatusAktivitas.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwAdd.LastUpdatedBy.Visible) { // subAktivitasDataStopPembongkaranRtwAdd.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasDataStopPembongkaranRTW_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasDataStopPembongkaranRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.LastUpdatedBy.Caption)@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasDataStopPembongkaranRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasDataStopPembongkaranRTW_LastUpdatedBy">
<input type="@(subAktivitasDataStopPembongkaranRtwAdd.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasDataStopPembongkaranRTW" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasDataStopPembongkaranRtwAdd.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasDataStopPembongkaranRtwAdd.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasDataStopPembongkaranRtwAdd.LastUpdatedBy.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwAdd.lastUpdatedDate.Visible) { // subAktivitasDataStopPembongkaranRtwAdd.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasDataStopPembongkaranRTW_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasDataStopPembongkaranRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.lastUpdatedDate.Caption)@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasDataStopPembongkaranRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasDataStopPembongkaranRTW_lastUpdatedDate">
<input type="@(subAktivitasDataStopPembongkaranRtwAdd.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasDataStopPembongkaranRTW" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasDataStopPembongkaranRtwAdd.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasDataStopPembongkaranRtwAdd.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasDataStopPembongkaranRtwAdd.lastUpdatedDate.ReadOnly && !subAktivitasDataStopPembongkaranRtwAdd.lastUpdatedDate.Disabled && !subAktivitasDataStopPembongkaranRtwAdd.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasDataStopPembongkaranRtwAdd.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasDataStopPembongkaranRTWadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasDataStopPembongkaranRTWadd", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasDataStopPembongkaranRtwAdd.lastUpdatedDate.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwAdd.Tanggal.Visible) { // subAktivitasDataStopPembongkaranRtwAdd.Tanggal.Visible (begin)
    <div id="r_Tanggal" @Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.Tanggal.RowAttributes)>
        <label id="elh_SubAktivitasDataStopPembongkaranRTW_Tanggal" for="x_Tanggal" class="@(subAktivitasDataStopPembongkaranRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.Tanggal.Caption)@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.Tanggal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasDataStopPembongkaranRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.Tanggal.CellAttributes)>
<span id="el_SubAktivitasDataStopPembongkaranRTW_Tanggal">
<input type="@(subAktivitasDataStopPembongkaranRtwAdd.Tanggal.InputTextType)" name="x_Tanggal" id="x_Tanggal" data-table="SubAktivitasDataStopPembongkaranRTW" data-field="x_Tanggal" value="@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.Tanggal.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasDataStopPembongkaranRtwAdd.Tanggal.PlaceHolder))" data-format-pattern="@(subAktivitasDataStopPembongkaranRtwAdd.Tanggal.FormatPattern)"@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.Tanggal.EditAttributes) aria-describedby="x_Tanggal_help">
@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.Tanggal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.Tanggal.GetErrorMessage())</div>
@if (!subAktivitasDataStopPembongkaranRtwAdd.Tanggal.ReadOnly && !subAktivitasDataStopPembongkaranRtwAdd.Tanggal.Disabled && !subAktivitasDataStopPembongkaranRtwAdd.Tanggal.EditAttrs.Is("readonly") && !subAktivitasDataStopPembongkaranRtwAdd.Tanggal.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasDataStopPembongkaranRTWadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasDataStopPembongkaranRTWadd", "x_Tanggal", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasDataStopPembongkaranRtwAdd.Tanggal.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwAdd.userInput.Visible) { // subAktivitasDataStopPembongkaranRtwAdd.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.userInput.RowAttributes)>
        <label id="elh_SubAktivitasDataStopPembongkaranRTW_userInput" for="x_userInput" class="@(subAktivitasDataStopPembongkaranRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.userInput.Caption)@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasDataStopPembongkaranRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.userInput.CellAttributes)>
<span id="el_SubAktivitasDataStopPembongkaranRTW_userInput">
<input type="@(subAktivitasDataStopPembongkaranRtwAdd.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasDataStopPembongkaranRTW" data-field="x_userInput" value="@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasDataStopPembongkaranRtwAdd.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasDataStopPembongkaranRtwAdd.userInput.FormatPattern)"@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasDataStopPembongkaranRtwAdd.userInput.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwAdd.etlDate.Visible) { // subAktivitasDataStopPembongkaranRtwAdd.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasDataStopPembongkaranRTW_etlDate" for="x_etlDate" class="@(subAktivitasDataStopPembongkaranRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.etlDate.Caption)@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasDataStopPembongkaranRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.etlDate.CellAttributes)>
<span id="el_SubAktivitasDataStopPembongkaranRTW_etlDate">
<input type="@(subAktivitasDataStopPembongkaranRtwAdd.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasDataStopPembongkaranRTW" data-field="x_etlDate" value="@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasDataStopPembongkaranRtwAdd.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasDataStopPembongkaranRtwAdd.etlDate.FormatPattern)"@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.etlDate.GetErrorMessage())</div>
@if (!subAktivitasDataStopPembongkaranRtwAdd.etlDate.ReadOnly && !subAktivitasDataStopPembongkaranRtwAdd.etlDate.Disabled && !subAktivitasDataStopPembongkaranRtwAdd.etlDate.EditAttrs.Is("readonly") && !subAktivitasDataStopPembongkaranRtwAdd.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasDataStopPembongkaranRTWadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasDataStopPembongkaranRTWadd", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasDataStopPembongkaranRtwAdd.etlDate.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasDataStopPembongkaranRtwAdd.CloseRecordset(); }
@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasDataStopPembongkaranRtwAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasDataStopPembongkaranRTWadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasDataStopPembongkaranRTWadd" data-href="@AppPath(subAktivitasDataStopPembongkaranRtwAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasDataStopPembongkaranRtwAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@subAktivitasDataStopPembongkaranRtwAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasDataStopPembongkaranRTW");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
