@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputLogbookPenerimaanSTSPymLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGdelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGdelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.ShowPageHeader()
@subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.ShowMessages()
<form name="fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGdelete" id="fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGdelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.TableContainerClass)" style="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.TableContainerStyle)">
<table class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.id.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.id.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.id.HeaderCellClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_id" class="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_id">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.id.Caption)</span></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.id.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.idProses.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.idProses.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.idProses.HeaderCellClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_idProses" class="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_idProses">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.idProses.Caption)</span></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.idProses.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.idAktifitas.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.idAktifitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.idAktifitas.HeaderCellClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_idAktifitas" class="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_idAktifitas">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.idAktifitas.Caption)</span></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.NoReferensi.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.NoReferensi.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.NoReferensi.HeaderCellClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_NoReferensi" class="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_NoReferensi">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.NoReferensi.Caption)</span></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Nama_Kapal.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Nama_Kapal.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Nama_Kapal.HeaderCellClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Nama_Kapal" class="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Nama_Kapal">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Nama_Kapal.Caption)</span></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Nama_Kapal.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Tanggal.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Tanggal.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Tanggal.HeaderCellClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Tanggal" class="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Tanggal">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Tanggal.Caption)</span></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Tanggal.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Nama_Kegiatan.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Nama_Kegiatan.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Nama_Kegiatan.HeaderCellClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Nama_Kegiatan" class="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Nama_Kegiatan">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Nama_Kegiatan.Caption)</span></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Nama_Kegiatan.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Produk.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Produk.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Produk.HeaderCellClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Produk" class="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Produk">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Produk.Caption)</span></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Produk.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Density.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Density.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Density.HeaderCellClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Density" class="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Density">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Density.Caption)</span></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Density.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Temperatur.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Temperatur.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Temperatur.HeaderCellClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Temperatur" class="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Temperatur">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Temperatur.Caption)</span></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Temperatur.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Keterangan.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Keterangan.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Keterangan.HeaderCellClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Keterangan" class="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Keterangan">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Keterangan.Caption)</span></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Keterangan.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.userInput.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.userInput.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.userInput.HeaderCellClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_userInput" class="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_userInput">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.userInput.Caption)</span></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.userInput.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.etlDate.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.etlDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.etlDate.HeaderCellClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_etlDate" class="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_etlDate">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.etlDate.Caption)</span></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.etlDate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.LastUpdatedBy.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.LastUpdatedBy.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.LastUpdatedBy.HeaderCellClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_LastUpdatedBy" class="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_LastUpdatedBy">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.LastUpdatedBy.Caption)</span></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.lastUpdatedDate.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.lastUpdatedDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.lastUpdatedDate.HeaderCellClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_lastUpdatedDate" class="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_lastUpdatedDate">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.lastUpdatedDate.Caption)</span></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.SubAktivitasHasilPemeriksaanId.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.SubAktivitasHasilPemeriksaanId.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.SubAktivitasHasilPemeriksaanId.HeaderCellClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_SubAktivitasHasilPemeriksaanId" class="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_SubAktivitasHasilPemeriksaanId">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.SubAktivitasHasilPemeriksaanId.Caption)</span></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.SubAktivitasHasilPemeriksaanId.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.RecordCount = 0; }
@while (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Recordset != null && await subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Recordset.ReadAsync()) { // DN
    subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.RecordCount++;
    subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.RowCount++;

    // Set row properties
    subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.ResetAttributes();
    subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.RowType = RowType.View; // View

    // Get the field contents
    await subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.LoadRowValues(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Recordset);

    // Render row
    await subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.RenderRow();
    <tr @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.RowAttributes)>
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.id.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.id.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.id.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.id.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.id.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.idProses.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.idProses.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.idProses.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.idProses.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.idProses.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.idAktifitas.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.idAktifitas.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.idAktifitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.idAktifitas.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.NoReferensi.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.NoReferensi.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.NoReferensi.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.NoReferensi.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Nama_Kapal.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Nama_Kapal.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Nama_Kapal.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Nama_Kapal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Nama_Kapal.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Nama_Kapal.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Tanggal.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Tanggal.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Tanggal.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Tanggal.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Tanggal.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Nama_Kegiatan.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Nama_Kegiatan.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Nama_Kegiatan.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Nama_Kegiatan.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Nama_Kegiatan.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Nama_Kegiatan.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Produk.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Produk.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Produk.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Produk.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Produk.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Produk.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Density.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Density.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Density.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Density.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Density.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Density.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Temperatur.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Temperatur.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Temperatur.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Temperatur.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Temperatur.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Temperatur.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Keterangan.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Keterangan.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Keterangan.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Keterangan.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Keterangan.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.Keterangan.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.userInput.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.userInput.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.userInput.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.userInput.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.userInput.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.etlDate.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.etlDate.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.etlDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.etlDate.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.etlDate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.LastUpdatedBy.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.LastUpdatedBy.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.LastUpdatedBy.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.LastUpdatedBy.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.lastUpdatedDate.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.lastUpdatedDate.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.lastUpdatedDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.lastUpdatedDate.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.SubAktivitasHasilPemeriksaanId.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.SubAktivitasHasilPemeriksaanId.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.SubAktivitasHasilPemeriksaanId.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.SubAktivitasHasilPemeriksaanId.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.SubAktivitasHasilPemeriksaanId.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.SubAktivitasHasilPemeriksaanId.Visible (end) *@
    </tr>
}
@{ subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@subAktivitasFormInputLogbookPenerimaanStsPymLpgDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
