@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputLogbookPenerimaanStsPymBbmList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputLogbookPenerimaanStsPymBbmList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputLogbookPenerimaanSTSPymBBM: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasFormInputLogbookPenerimaanStsPymBbmList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.TotalRecords > 0 && subAktivitasFormInputLogbookPenerimaanStsPymBbmList.ExportOptions.Visible) {
    subAktivitasFormInputLogbookPenerimaanStsPymBbmList.ExportOptions.Render("body");
}
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.ImportOptions.Visible) {
    subAktivitasFormInputLogbookPenerimaanStsPymBbmList.ImportOptions.Render("body");
}
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.SearchOptions.Visible) {
    subAktivitasFormInputLogbookPenerimaanStsPymBbmList.SearchOptions.Render("body");
}
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.FilterOptions.Visible) {
    subAktivitasFormInputLogbookPenerimaanStsPymBbmList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasFormInputLogbookPenerimaanStsPymBbmList.IsModal) {
<form name="fSubAktivitasFormInputLogbookPenerimaanSTSPymBBMsrch" id="fSubAktivitasFormInputLogbookPenerimaanSTSPymBBMsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasFormInputLogbookPenerimaanSTSPymBBMsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputLogbookPenerimaanSTSPymBBM: currentTable } });
var currentForm;
var fSubAktivitasFormInputLogbookPenerimaanSTSPymBBMsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputLogbookPenerimaanSTSPymBBMsrch")
        .setPageId("list")
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasFormInputLogbookPenerimaanStsPymBbmList.IsExport() && Empty(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.CurrentAction) && subAktivitasFormInputLogbookPenerimaanStsPymBbmList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasFormInputLogbookPenerimaanSTSPymBBMsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasFormInputLogbookPenerimaanSTSPymBBMsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasFormInputLogbookPenerimaanSTSPymBBMsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasFormInputLogbookPenerimaanSTSPymBBMsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasFormInputLogbookPenerimaanStsPymBbmList.ShowPageHeader()
@subAktivitasFormInputLogbookPenerimaanStsPymBbmList.ShowMessages()
<main class="list @(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.TotalRecords == 0 && !subAktivitasFormInputLogbookPenerimaanStsPymBbmList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasFormInputLogbookPenerimaanStsPymBbmList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.TotalRecords > 0 || !Empty(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.TableGridClass)">
<form name="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.FormName)" id="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM" class="card-body ew-grid-middle-panel @(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.TableContainerClass)" style="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.TableContainerStyle)">
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.TotalRecords > 0 || subAktivitasFormInputLogbookPenerimaanStsPymBbmList.IsGridEdit || subAktivitasFormInputLogbookPenerimaanStsPymBbmList.IsMultiEdit) {
<table id="tbl_SubAktivitasFormInputLogbookPenerimaanSTSPymBBMlist" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowType = RowType.Header;

    // Render list options
    await subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasFormInputLogbookPenerimaanStsPymBbmList.ListOptions.RenderHeader("left")
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.id.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.id.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_id" class="SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_id">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.id))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymBbmList.id.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.idProses.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_idProses" class="SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_idProses">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.idProses))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymBbmList.idProses.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.idAktifitas.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_idAktifitas" class="SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_idAktifitas">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.idAktifitas))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymBbmList.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.NoReferensi.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_NoReferensi" class="SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_NoReferensi">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.NoReferensi))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymBbmList.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Nama_Kapal.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Nama_Kapal.Visible (begin)
        <th data-name="Nama_Kapal" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Nama_Kapal.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Nama_Kapal" class="SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Nama_Kapal">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Nama_Kapal))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Nama_Kapal.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Tanggal.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Tanggal" class="SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Tanggal">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Tanggal))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Tanggal.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Nama_Kegiatan.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Nama_Kegiatan.Visible (begin)
        <th data-name="Nama_Kegiatan" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Nama_Kegiatan.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Nama_Kegiatan" class="SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Nama_Kegiatan">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Nama_Kegiatan))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Nama_Kegiatan.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Produk.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Produk" class="SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Produk">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Produk))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Produk.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Density.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Density.Visible (begin)
        <th data-name="Density" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Density.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Density" class="SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Density">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Density))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Density.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Temperatur.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Temperatur.Visible (begin)
        <th data-name="Temperatur" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Temperatur.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Temperatur" class="SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Temperatur">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Temperatur))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Temperatur.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Keterangan.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Keterangan.Visible (begin)
        <th data-name="Keterangan" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Keterangan.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Keterangan" class="SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Keterangan">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Keterangan))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Keterangan.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.userInput.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_userInput" class="SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_userInput">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.userInput))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymBbmList.userInput.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.etlDate.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_etlDate" class="SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_etlDate">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.etlDate))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymBbmList.etlDate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.LastUpdatedBy.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_LastUpdatedBy" class="SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_LastUpdatedBy">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.LastUpdatedBy))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymBbmList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.lastUpdatedDate.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_lastUpdatedDate" class="SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_lastUpdatedDate">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.lastUpdatedDate))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymBbmList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.SubAktivitasHasilPemeriksaanId.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmList.SubAktivitasHasilPemeriksaanId.Visible (begin)
        <th data-name="SubAktivitasHasilPemeriksaanId" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.SubAktivitasHasilPemeriksaanId.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_SubAktivitasHasilPemeriksaanId" class="SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_SubAktivitasHasilPemeriksaanId">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.SubAktivitasHasilPemeriksaanId))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanStsPymBbmList.SubAktivitasHasilPemeriksaanId.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasFormInputLogbookPenerimaanStsPymBbmList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.PageNumber)">
@{
    await subAktivitasFormInputLogbookPenerimaanStsPymBbmList.SetupGrid();
    bool eof = subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Recordset == null; // DN
}
@while (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RecordCount < subAktivitasFormInputLogbookPenerimaanStsPymBbmList.StopRecord || SameString(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") &&
        (!subAktivitasFormInputLogbookPenerimaanStsPymBbmList.IsGridAdd || subAktivitasFormInputLogbookPenerimaanStsPymBbmList.CurrentMode == "copy") &&
        (!((subAktivitasFormInputLogbookPenerimaanStsPymBbmList.IsCopy || subAktivitasFormInputLogbookPenerimaanStsPymBbmList.IsAdd) && subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Recordset.ReadAsync();
    subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RecordCount++;
    if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RecordCount >= subAktivitasFormInputLogbookPenerimaanStsPymBbmList.StartRecord) {
        await subAktivitasFormInputLogbookPenerimaanStsPymBbmList.SetupRow();
    <tr @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasFormInputLogbookPenerimaanStsPymBbmList.ListOptions.RenderBody("left", subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowCount)
    @if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.id.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_id" class="el_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_id">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanStsPymBbmList.id.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.idProses.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_idProses" class="el_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_idProses">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanStsPymBbmList.idProses.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.idAktifitas.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_idAktifitas" class="el_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_idAktifitas">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanStsPymBbmList.idAktifitas.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.NoReferensi.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_NoReferensi" class="el_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_NoReferensi">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanStsPymBbmList.NoReferensi.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Nama_Kapal.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Nama_Kapal.Visible (begin)
        <td data-name="Nama_Kapal" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Nama_Kapal.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Nama_Kapal" class="el_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Nama_Kapal">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Nama_Kapal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Nama_Kapal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Nama_Kapal.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Tanggal.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Tanggal.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Tanggal" class="el_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Tanggal">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Tanggal.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Nama_Kegiatan.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Nama_Kegiatan.Visible (begin)
        <td data-name="Nama_Kegiatan" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Nama_Kegiatan.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Nama_Kegiatan" class="el_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Nama_Kegiatan">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Nama_Kegiatan.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Nama_Kegiatan.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Nama_Kegiatan.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Produk.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Produk.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Produk" class="el_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Produk">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Produk.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Density.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Density.Visible (begin)
        <td data-name="Density" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Density.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Density" class="el_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Density">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Density.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Density.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Density.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Temperatur.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Temperatur.Visible (begin)
        <td data-name="Temperatur" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Temperatur.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Temperatur" class="el_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Temperatur">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Temperatur.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Temperatur.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Temperatur.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Keterangan.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Keterangan.Visible (begin)
        <td data-name="Keterangan" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Keterangan.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Keterangan" class="el_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Keterangan">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Keterangan.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Keterangan.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Keterangan.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.userInput.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_userInput" class="el_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_userInput">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanStsPymBbmList.userInput.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.etlDate.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_etlDate" class="el_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_etlDate">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanStsPymBbmList.etlDate.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.LastUpdatedBy.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_LastUpdatedBy" class="el_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanStsPymBbmList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.lastUpdatedDate.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_lastUpdatedDate" class="el_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanStsPymBbmList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanStsPymBbmList.SubAktivitasHasilPemeriksaanId.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmList.SubAktivitasHasilPemeriksaanId.Visible (begin)
        <td data-name="SubAktivitasHasilPemeriksaanId" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.SubAktivitasHasilPemeriksaanId.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_SubAktivitasHasilPemeriksaanId" class="el_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_SubAktivitasHasilPemeriksaanId">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.SubAktivitasHasilPemeriksaanId.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.SubAktivitasHasilPemeriksaanId.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanStsPymBbmList.SubAktivitasHasilPemeriksaanId.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasFormInputLogbookPenerimaanStsPymBbmList.ListOptions.RenderBody("right", subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$"))
        subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasFormInputLogbookPenerimaanStsPymBbmList.IsCopy || subAktivitasFormInputLogbookPenerimaanStsPymBbmList.IsAdd) && subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasFormInputLogbookPenerimaanStsPymBbmList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.CurrentAction) && !subAktivitasFormInputLogbookPenerimaanStsPymBbmList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasFormInputLogbookPenerimaanStsPymBbmList.CloseRecordset(); }
@if (!subAktivitasFormInputLogbookPenerimaanStsPymBbmList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasFormInputLogbookPenerimaanStsPymBbmList.IsGridAdd && !(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.IsGridEdit && subAktivitasFormInputLogbookPenerimaanStsPymBbmList.ModalGridEdit) && !subAktivitasFormInputLogbookPenerimaanStsPymBbmList.IsMultiEdit) {
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasFormInputLogbookPenerimaanStsPymBbmList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasFormInputLogbookPenerimaanStsPymBbmList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasFormInputLogbookPenerimaanStsPymBbmList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasFormInputLogbookPenerimaanStsPymBbmList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputLogbookPenerimaanStsPymBbmList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputLogbookPenerimaanSTSPymBBM");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
