@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputNilaiBLnAlList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputNilaiBLnAlList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputNilaiBLnAlList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputNilaiBLnAlList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputNilaiBLnAL: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasFormInputNilaiBLnAlList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasFormInputNilaiBLnAlList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasFormInputNilaiBLnAlList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasFormInputNilaiBLnAlList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasFormInputNilaiBLnAlList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasFormInputNilaiBLnAlList.TotalRecords > 0 && subAktivitasFormInputNilaiBLnAlList.ExportOptions.Visible) {
    subAktivitasFormInputNilaiBLnAlList.ExportOptions.Render("body");
}
@if (subAktivitasFormInputNilaiBLnAlList.ImportOptions.Visible) {
    subAktivitasFormInputNilaiBLnAlList.ImportOptions.Render("body");
}
@if (subAktivitasFormInputNilaiBLnAlList.SearchOptions.Visible) {
    subAktivitasFormInputNilaiBLnAlList.SearchOptions.Render("body");
}
@if (subAktivitasFormInputNilaiBLnAlList.FilterOptions.Visible) {
    subAktivitasFormInputNilaiBLnAlList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasFormInputNilaiBLnAlList.IsModal) {
<form name="fSubAktivitasFormInputNilaiBLnALsrch" id="fSubAktivitasFormInputNilaiBLnALsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasFormInputNilaiBLnALsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasFormInputNilaiBLnAlList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputNilaiBLnAlList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputNilaiBLnAL: currentTable } });
var currentForm;
var fSubAktivitasFormInputNilaiBLnALsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputNilaiBLnALsrch")
        .setPageId("list")
@if (subAktivitasFormInputNilaiBLnAlList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasFormInputNilaiBLnAlList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasFormInputNilaiBLnAlList.IsExport() && Empty(subAktivitasFormInputNilaiBLnAlList.CurrentAction) && subAktivitasFormInputNilaiBLnAlList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiBLnAlList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasFormInputNilaiBLnAlList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasFormInputNilaiBLnAlList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasFormInputNilaiBLnAlList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasFormInputNilaiBLnALsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputNilaiBLnAlList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasFormInputNilaiBLnALsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputNilaiBLnAlList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasFormInputNilaiBLnALsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputNilaiBLnAlList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasFormInputNilaiBLnALsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasFormInputNilaiBLnAlList.ShowPageHeader()
@subAktivitasFormInputNilaiBLnAlList.ShowMessages()
<main class="list @(subAktivitasFormInputNilaiBLnAlList.TotalRecords == 0 && !subAktivitasFormInputNilaiBLnAlList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasFormInputNilaiBLnAlList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasFormInputNilaiBLnAlList.TotalRecords > 0 || !Empty(subAktivitasFormInputNilaiBLnAlList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasFormInputNilaiBLnAlList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasFormInputNilaiBLnAlList.TableGridClass)">
<form name="@(subAktivitasFormInputNilaiBLnAlList.FormName)" id="@(subAktivitasFormInputNilaiBLnAlList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasFormInputNilaiBLnAlList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasFormInputNilaiBLnAlList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasFormInputNilaiBLnAL" class="card-body ew-grid-middle-panel @(subAktivitasFormInputNilaiBLnAlList.TableContainerClass)" style="@(subAktivitasFormInputNilaiBLnAlList.TableContainerStyle)">
@if (subAktivitasFormInputNilaiBLnAlList.TotalRecords > 0 || subAktivitasFormInputNilaiBLnAlList.IsGridEdit || subAktivitasFormInputNilaiBLnAlList.IsMultiEdit) {
<table id="tbl_SubAktivitasFormInputNilaiBLnALlist" class="@(subAktivitasFormInputNilaiBLnAlList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasFormInputNilaiBLnAlList.RowType = RowType.Header;

    // Render list options
    await subAktivitasFormInputNilaiBLnAlList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasFormInputNilaiBLnAlList.ListOptions.RenderHeader("left")
@if (subAktivitasFormInputNilaiBLnAlList.id.Visible) { // subAktivitasFormInputNilaiBLnAlList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasFormInputNilaiBLnAlList.id.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLnAL_id" class="SubAktivitasFormInputNilaiBLnAL_id">@Html.Raw(subAktivitasFormInputNilaiBLnAlList.RenderFieldHeader(subAktivitasFormInputNilaiBLnAlList.id))</div></th>
} @* subAktivitasFormInputNilaiBLnAlList.id.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlList.idAktifitas.Visible) { // subAktivitasFormInputNilaiBLnAlList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasFormInputNilaiBLnAlList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLnAL_idAktifitas" class="SubAktivitasFormInputNilaiBLnAL_idAktifitas">@Html.Raw(subAktivitasFormInputNilaiBLnAlList.RenderFieldHeader(subAktivitasFormInputNilaiBLnAlList.idAktifitas))</div></th>
} @* subAktivitasFormInputNilaiBLnAlList.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlList.idProses.Visible) { // subAktivitasFormInputNilaiBLnAlList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasFormInputNilaiBLnAlList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLnAL_idProses" class="SubAktivitasFormInputNilaiBLnAL_idProses">@Html.Raw(subAktivitasFormInputNilaiBLnAlList.RenderFieldHeader(subAktivitasFormInputNilaiBLnAlList.idProses))</div></th>
} @* subAktivitasFormInputNilaiBLnAlList.idProses.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlList.NoReferensi.Visible) { // subAktivitasFormInputNilaiBLnAlList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasFormInputNilaiBLnAlList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLnAL_NoReferensi" class="SubAktivitasFormInputNilaiBLnAL_NoReferensi">@Html.Raw(subAktivitasFormInputNilaiBLnAlList.RenderFieldHeader(subAktivitasFormInputNilaiBLnAlList.NoReferensi))</div></th>
} @* subAktivitasFormInputNilaiBLnAlList.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlList.BL_KLObs.Visible) { // subAktivitasFormInputNilaiBLnAlList.BL_KLObs.Visible (begin)
        <th data-name="BL_KLObs" class="@(subAktivitasFormInputNilaiBLnAlList.BL_KLObs.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLnAL_BL_KLObs" class="SubAktivitasFormInputNilaiBLnAL_BL_KLObs">@Html.Raw(subAktivitasFormInputNilaiBLnAlList.RenderFieldHeader(subAktivitasFormInputNilaiBLnAlList.BL_KLObs))</div></th>
} @* subAktivitasFormInputNilaiBLnAlList.BL_KLObs.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlList.BL_KL15.Visible) { // subAktivitasFormInputNilaiBLnAlList.BL_KL15.Visible (begin)
        <th data-name="BL_KL15" class="@(subAktivitasFormInputNilaiBLnAlList.BL_KL15.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLnAL_BL_KL15" class="SubAktivitasFormInputNilaiBLnAL_BL_KL15">@Html.Raw(subAktivitasFormInputNilaiBLnAlList.RenderFieldHeader(subAktivitasFormInputNilaiBLnAlList.BL_KL15))</div></th>
} @* subAktivitasFormInputNilaiBLnAlList.BL_KL15.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlList.BL_Barrels.Visible) { // subAktivitasFormInputNilaiBLnAlList.BL_Barrels.Visible (begin)
        <th data-name="BL_Barrels" class="@(subAktivitasFormInputNilaiBLnAlList.BL_Barrels.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLnAL_BL_Barrels" class="SubAktivitasFormInputNilaiBLnAL_BL_Barrels">@Html.Raw(subAktivitasFormInputNilaiBLnAlList.RenderFieldHeader(subAktivitasFormInputNilaiBLnAlList.BL_Barrels))</div></th>
} @* subAktivitasFormInputNilaiBLnAlList.BL_Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlList.BL_LT.Visible) { // subAktivitasFormInputNilaiBLnAlList.BL_LT.Visible (begin)
        <th data-name="BL_LT" class="@(subAktivitasFormInputNilaiBLnAlList.BL_LT.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLnAL_BL_LT" class="SubAktivitasFormInputNilaiBLnAL_BL_LT">@Html.Raw(subAktivitasFormInputNilaiBLnAlList.RenderFieldHeader(subAktivitasFormInputNilaiBLnAlList.BL_LT))</div></th>
} @* subAktivitasFormInputNilaiBLnAlList.BL_LT.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlList.BL_MT.Visible) { // subAktivitasFormInputNilaiBLnAlList.BL_MT.Visible (begin)
        <th data-name="BL_MT" class="@(subAktivitasFormInputNilaiBLnAlList.BL_MT.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLnAL_BL_MT" class="SubAktivitasFormInputNilaiBLnAL_BL_MT">@Html.Raw(subAktivitasFormInputNilaiBLnAlList.RenderFieldHeader(subAktivitasFormInputNilaiBLnAlList.BL_MT))</div></th>
} @* subAktivitasFormInputNilaiBLnAlList.BL_MT.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlList.AL_KLObs.Visible) { // subAktivitasFormInputNilaiBLnAlList.AL_KLObs.Visible (begin)
        <th data-name="AL_KLObs" class="@(subAktivitasFormInputNilaiBLnAlList.AL_KLObs.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLnAL_AL_KLObs" class="SubAktivitasFormInputNilaiBLnAL_AL_KLObs">@Html.Raw(subAktivitasFormInputNilaiBLnAlList.RenderFieldHeader(subAktivitasFormInputNilaiBLnAlList.AL_KLObs))</div></th>
} @* subAktivitasFormInputNilaiBLnAlList.AL_KLObs.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlList.AL_KL15.Visible) { // subAktivitasFormInputNilaiBLnAlList.AL_KL15.Visible (begin)
        <th data-name="AL_KL15" class="@(subAktivitasFormInputNilaiBLnAlList.AL_KL15.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLnAL_AL_KL15" class="SubAktivitasFormInputNilaiBLnAL_AL_KL15">@Html.Raw(subAktivitasFormInputNilaiBLnAlList.RenderFieldHeader(subAktivitasFormInputNilaiBLnAlList.AL_KL15))</div></th>
} @* subAktivitasFormInputNilaiBLnAlList.AL_KL15.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlList.AL_Barrels.Visible) { // subAktivitasFormInputNilaiBLnAlList.AL_Barrels.Visible (begin)
        <th data-name="AL_Barrels" class="@(subAktivitasFormInputNilaiBLnAlList.AL_Barrels.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLnAL_AL_Barrels" class="SubAktivitasFormInputNilaiBLnAL_AL_Barrels">@Html.Raw(subAktivitasFormInputNilaiBLnAlList.RenderFieldHeader(subAktivitasFormInputNilaiBLnAlList.AL_Barrels))</div></th>
} @* subAktivitasFormInputNilaiBLnAlList.AL_Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlList.AL_LT.Visible) { // subAktivitasFormInputNilaiBLnAlList.AL_LT.Visible (begin)
        <th data-name="AL_LT" class="@(subAktivitasFormInputNilaiBLnAlList.AL_LT.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLnAL_AL_LT" class="SubAktivitasFormInputNilaiBLnAL_AL_LT">@Html.Raw(subAktivitasFormInputNilaiBLnAlList.RenderFieldHeader(subAktivitasFormInputNilaiBLnAlList.AL_LT))</div></th>
} @* subAktivitasFormInputNilaiBLnAlList.AL_LT.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlList.AL_MT.Visible) { // subAktivitasFormInputNilaiBLnAlList.AL_MT.Visible (begin)
        <th data-name="AL_MT" class="@(subAktivitasFormInputNilaiBLnAlList.AL_MT.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLnAL_AL_MT" class="SubAktivitasFormInputNilaiBLnAL_AL_MT">@Html.Raw(subAktivitasFormInputNilaiBLnAlList.RenderFieldHeader(subAktivitasFormInputNilaiBLnAlList.AL_MT))</div></th>
} @* subAktivitasFormInputNilaiBLnAlList.AL_MT.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlList.userInput.Visible) { // subAktivitasFormInputNilaiBLnAlList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasFormInputNilaiBLnAlList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLnAL_userInput" class="SubAktivitasFormInputNilaiBLnAL_userInput">@Html.Raw(subAktivitasFormInputNilaiBLnAlList.RenderFieldHeader(subAktivitasFormInputNilaiBLnAlList.userInput))</div></th>
} @* subAktivitasFormInputNilaiBLnAlList.userInput.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlList.etlDate.Visible) { // subAktivitasFormInputNilaiBLnAlList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasFormInputNilaiBLnAlList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLnAL_etlDate" class="SubAktivitasFormInputNilaiBLnAL_etlDate">@Html.Raw(subAktivitasFormInputNilaiBLnAlList.RenderFieldHeader(subAktivitasFormInputNilaiBLnAlList.etlDate))</div></th>
} @* subAktivitasFormInputNilaiBLnAlList.etlDate.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlList.LastUpdatedBy.Visible) { // subAktivitasFormInputNilaiBLnAlList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasFormInputNilaiBLnAlList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLnAL_LastUpdatedBy" class="SubAktivitasFormInputNilaiBLnAL_LastUpdatedBy">@Html.Raw(subAktivitasFormInputNilaiBLnAlList.RenderFieldHeader(subAktivitasFormInputNilaiBLnAlList.LastUpdatedBy))</div></th>
} @* subAktivitasFormInputNilaiBLnAlList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlList.lastUpdatedDate.Visible) { // subAktivitasFormInputNilaiBLnAlList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasFormInputNilaiBLnAlList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLnAL_lastUpdatedDate" class="SubAktivitasFormInputNilaiBLnAL_lastUpdatedDate">@Html.Raw(subAktivitasFormInputNilaiBLnAlList.RenderFieldHeader(subAktivitasFormInputNilaiBLnAlList.lastUpdatedDate))</div></th>
} @* subAktivitasFormInputNilaiBLnAlList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlList.StatusAktivitas.Visible) { // subAktivitasFormInputNilaiBLnAlList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasFormInputNilaiBLnAlList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiBLnAL_StatusAktivitas" class="SubAktivitasFormInputNilaiBLnAL_StatusAktivitas">@Html.Raw(subAktivitasFormInputNilaiBLnAlList.RenderFieldHeader(subAktivitasFormInputNilaiBLnAlList.StatusAktivitas))</div></th>
} @* subAktivitasFormInputNilaiBLnAlList.StatusAktivitas.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasFormInputNilaiBLnAlList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasFormInputNilaiBLnAlList.PageNumber)">
@{
    await subAktivitasFormInputNilaiBLnAlList.SetupGrid();
    bool eof = subAktivitasFormInputNilaiBLnAlList.Recordset == null; // DN
}
@while (subAktivitasFormInputNilaiBLnAlList.RecordCount < subAktivitasFormInputNilaiBLnAlList.StopRecord || SameString(subAktivitasFormInputNilaiBLnAlList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasFormInputNilaiBLnAlList.RowIndex, "$rowindex$") &&
        (!subAktivitasFormInputNilaiBLnAlList.IsGridAdd || subAktivitasFormInputNilaiBLnAlList.CurrentMode == "copy") &&
        (!((subAktivitasFormInputNilaiBLnAlList.IsCopy || subAktivitasFormInputNilaiBLnAlList.IsAdd) && subAktivitasFormInputNilaiBLnAlList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasFormInputNilaiBLnAlList.Recordset.ReadAsync();
    subAktivitasFormInputNilaiBLnAlList.RecordCount++;
    if (subAktivitasFormInputNilaiBLnAlList.RecordCount >= subAktivitasFormInputNilaiBLnAlList.StartRecord) {
        await subAktivitasFormInputNilaiBLnAlList.SetupRow();
    <tr @Html.Raw(subAktivitasFormInputNilaiBLnAlList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasFormInputNilaiBLnAlList.ListOptions.RenderBody("left", subAktivitasFormInputNilaiBLnAlList.RowCount)
    @if (subAktivitasFormInputNilaiBLnAlList.id.Visible) { // subAktivitasFormInputNilaiBLnAlList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasFormInputNilaiBLnAlList.id.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiBLnAlList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiBLnAlList.RowCount)_SubAktivitasFormInputNilaiBLnAL_id" class="el_SubAktivitasFormInputNilaiBLnAL_id">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlList.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLnAlList.id.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLnAlList.idAktifitas.Visible) { // subAktivitasFormInputNilaiBLnAlList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputNilaiBLnAlList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiBLnAlList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiBLnAlList.RowCount)_SubAktivitasFormInputNilaiBLnAL_idAktifitas" class="el_SubAktivitasFormInputNilaiBLnAL_idAktifitas">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLnAlList.idAktifitas.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLnAlList.idProses.Visible) { // subAktivitasFormInputNilaiBLnAlList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputNilaiBLnAlList.idProses.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiBLnAlList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiBLnAlList.RowCount)_SubAktivitasFormInputNilaiBLnAL_idProses" class="el_SubAktivitasFormInputNilaiBLnAL_idProses">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLnAlList.idProses.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLnAlList.NoReferensi.Visible) { // subAktivitasFormInputNilaiBLnAlList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputNilaiBLnAlList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiBLnAlList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiBLnAlList.RowCount)_SubAktivitasFormInputNilaiBLnAL_NoReferensi" class="el_SubAktivitasFormInputNilaiBLnAL_NoReferensi">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLnAlList.NoReferensi.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLnAlList.BL_KLObs.Visible) { // subAktivitasFormInputNilaiBLnAlList.BL_KLObs.Visible (begin)
        <td data-name="BL_KLObs" @Html.Raw(subAktivitasFormInputNilaiBLnAlList.BL_KLObs.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiBLnAlList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiBLnAlList.RowCount)_SubAktivitasFormInputNilaiBLnAL_BL_KLObs" class="el_SubAktivitasFormInputNilaiBLnAL_BL_KLObs">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlList.BL_KLObs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlList.BL_KLObs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLnAlList.BL_KLObs.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLnAlList.BL_KL15.Visible) { // subAktivitasFormInputNilaiBLnAlList.BL_KL15.Visible (begin)
        <td data-name="BL_KL15" @Html.Raw(subAktivitasFormInputNilaiBLnAlList.BL_KL15.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiBLnAlList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiBLnAlList.RowCount)_SubAktivitasFormInputNilaiBLnAL_BL_KL15" class="el_SubAktivitasFormInputNilaiBLnAL_BL_KL15">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlList.BL_KL15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlList.BL_KL15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLnAlList.BL_KL15.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLnAlList.BL_Barrels.Visible) { // subAktivitasFormInputNilaiBLnAlList.BL_Barrels.Visible (begin)
        <td data-name="BL_Barrels" @Html.Raw(subAktivitasFormInputNilaiBLnAlList.BL_Barrels.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiBLnAlList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiBLnAlList.RowCount)_SubAktivitasFormInputNilaiBLnAL_BL_Barrels" class="el_SubAktivitasFormInputNilaiBLnAL_BL_Barrels">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlList.BL_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlList.BL_Barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLnAlList.BL_Barrels.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLnAlList.BL_LT.Visible) { // subAktivitasFormInputNilaiBLnAlList.BL_LT.Visible (begin)
        <td data-name="BL_LT" @Html.Raw(subAktivitasFormInputNilaiBLnAlList.BL_LT.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiBLnAlList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiBLnAlList.RowCount)_SubAktivitasFormInputNilaiBLnAL_BL_LT" class="el_SubAktivitasFormInputNilaiBLnAL_BL_LT">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlList.BL_LT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlList.BL_LT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLnAlList.BL_LT.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLnAlList.BL_MT.Visible) { // subAktivitasFormInputNilaiBLnAlList.BL_MT.Visible (begin)
        <td data-name="BL_MT" @Html.Raw(subAktivitasFormInputNilaiBLnAlList.BL_MT.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiBLnAlList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiBLnAlList.RowCount)_SubAktivitasFormInputNilaiBLnAL_BL_MT" class="el_SubAktivitasFormInputNilaiBLnAL_BL_MT">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlList.BL_MT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlList.BL_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLnAlList.BL_MT.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLnAlList.AL_KLObs.Visible) { // subAktivitasFormInputNilaiBLnAlList.AL_KLObs.Visible (begin)
        <td data-name="AL_KLObs" @Html.Raw(subAktivitasFormInputNilaiBLnAlList.AL_KLObs.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiBLnAlList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiBLnAlList.RowCount)_SubAktivitasFormInputNilaiBLnAL_AL_KLObs" class="el_SubAktivitasFormInputNilaiBLnAL_AL_KLObs">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlList.AL_KLObs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlList.AL_KLObs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLnAlList.AL_KLObs.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLnAlList.AL_KL15.Visible) { // subAktivitasFormInputNilaiBLnAlList.AL_KL15.Visible (begin)
        <td data-name="AL_KL15" @Html.Raw(subAktivitasFormInputNilaiBLnAlList.AL_KL15.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiBLnAlList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiBLnAlList.RowCount)_SubAktivitasFormInputNilaiBLnAL_AL_KL15" class="el_SubAktivitasFormInputNilaiBLnAL_AL_KL15">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlList.AL_KL15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlList.AL_KL15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLnAlList.AL_KL15.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLnAlList.AL_Barrels.Visible) { // subAktivitasFormInputNilaiBLnAlList.AL_Barrels.Visible (begin)
        <td data-name="AL_Barrels" @Html.Raw(subAktivitasFormInputNilaiBLnAlList.AL_Barrels.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiBLnAlList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiBLnAlList.RowCount)_SubAktivitasFormInputNilaiBLnAL_AL_Barrels" class="el_SubAktivitasFormInputNilaiBLnAL_AL_Barrels">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlList.AL_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlList.AL_Barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLnAlList.AL_Barrels.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLnAlList.AL_LT.Visible) { // subAktivitasFormInputNilaiBLnAlList.AL_LT.Visible (begin)
        <td data-name="AL_LT" @Html.Raw(subAktivitasFormInputNilaiBLnAlList.AL_LT.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiBLnAlList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiBLnAlList.RowCount)_SubAktivitasFormInputNilaiBLnAL_AL_LT" class="el_SubAktivitasFormInputNilaiBLnAL_AL_LT">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlList.AL_LT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlList.AL_LT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLnAlList.AL_LT.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLnAlList.AL_MT.Visible) { // subAktivitasFormInputNilaiBLnAlList.AL_MT.Visible (begin)
        <td data-name="AL_MT" @Html.Raw(subAktivitasFormInputNilaiBLnAlList.AL_MT.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiBLnAlList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiBLnAlList.RowCount)_SubAktivitasFormInputNilaiBLnAL_AL_MT" class="el_SubAktivitasFormInputNilaiBLnAL_AL_MT">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlList.AL_MT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlList.AL_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLnAlList.AL_MT.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLnAlList.userInput.Visible) { // subAktivitasFormInputNilaiBLnAlList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputNilaiBLnAlList.userInput.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiBLnAlList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiBLnAlList.RowCount)_SubAktivitasFormInputNilaiBLnAL_userInput" class="el_SubAktivitasFormInputNilaiBLnAL_userInput">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLnAlList.userInput.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLnAlList.etlDate.Visible) { // subAktivitasFormInputNilaiBLnAlList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputNilaiBLnAlList.etlDate.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiBLnAlList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiBLnAlList.RowCount)_SubAktivitasFormInputNilaiBLnAL_etlDate" class="el_SubAktivitasFormInputNilaiBLnAL_etlDate">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLnAlList.etlDate.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLnAlList.LastUpdatedBy.Visible) { // subAktivitasFormInputNilaiBLnAlList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputNilaiBLnAlList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiBLnAlList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiBLnAlList.RowCount)_SubAktivitasFormInputNilaiBLnAL_LastUpdatedBy" class="el_SubAktivitasFormInputNilaiBLnAL_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLnAlList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLnAlList.lastUpdatedDate.Visible) { // subAktivitasFormInputNilaiBLnAlList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputNilaiBLnAlList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiBLnAlList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiBLnAlList.RowCount)_SubAktivitasFormInputNilaiBLnAL_lastUpdatedDate" class="el_SubAktivitasFormInputNilaiBLnAL_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLnAlList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasFormInputNilaiBLnAlList.StatusAktivitas.Visible) { // subAktivitasFormInputNilaiBLnAlList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputNilaiBLnAlList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiBLnAlList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiBLnAlList.RowCount)_SubAktivitasFormInputNilaiBLnAL_StatusAktivitas" class="el_SubAktivitasFormInputNilaiBLnAL_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiBLnAlList.StatusAktivitas.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasFormInputNilaiBLnAlList.ListOptions.RenderBody("right", subAktivitasFormInputNilaiBLnAlList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasFormInputNilaiBLnAlList.RowIndex, "$rowindex$"))
        subAktivitasFormInputNilaiBLnAlList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasFormInputNilaiBLnAlList.IsCopy || subAktivitasFormInputNilaiBLnAlList.IsAdd) && subAktivitasFormInputNilaiBLnAlList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasFormInputNilaiBLnAlList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasFormInputNilaiBLnAlList.CurrentAction) && !subAktivitasFormInputNilaiBLnAlList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasFormInputNilaiBLnAlList.CloseRecordset(); }
@if (!subAktivitasFormInputNilaiBLnAlList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasFormInputNilaiBLnAlList.IsGridAdd && !(subAktivitasFormInputNilaiBLnAlList.IsGridEdit && subAktivitasFormInputNilaiBLnAlList.ModalGridEdit) && !subAktivitasFormInputNilaiBLnAlList.IsMultiEdit) {
@Html.Raw(subAktivitasFormInputNilaiBLnAlList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasFormInputNilaiBLnAlList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasFormInputNilaiBLnAlList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasFormInputNilaiBLnAlList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasFormInputNilaiBLnAlList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputNilaiBLnAlList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputNilaiBLnAL");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
