@{
    // View
    View = this;

    // Check action result
    if (subaktivitasNilaiBlalbdPipaList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subaktivitasNilaiBlalbdPipaList.UseLayout ? "_Layout" : "";
}
@if (!subaktivitasNilaiBlalbdPipaList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasNilaiBlalbdPipaList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasNilaiBLALBDPipa: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subaktivitasNilaiBlalbdPipaList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subaktivitasNilaiBlalbdPipaList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subaktivitasNilaiBlalbdPipaList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subaktivitasNilaiBlalbdPipaList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subaktivitasNilaiBlalbdPipaList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subaktivitasNilaiBlalbdPipaList.TotalRecords > 0 && subaktivitasNilaiBlalbdPipaList.ExportOptions.Visible) {
    subaktivitasNilaiBlalbdPipaList.ExportOptions.Render("body");
}
@if (subaktivitasNilaiBlalbdPipaList.ImportOptions.Visible) {
    subaktivitasNilaiBlalbdPipaList.ImportOptions.Render("body");
}
@if (subaktivitasNilaiBlalbdPipaList.SearchOptions.Visible) {
    subaktivitasNilaiBlalbdPipaList.SearchOptions.Render("body");
}
@if (subaktivitasNilaiBlalbdPipaList.FilterOptions.Visible) {
    subaktivitasNilaiBlalbdPipaList.FilterOptions.Render("body");
}
</div>
}
@if (!subaktivitasNilaiBlalbdPipaList.IsModal) {
<form name="fSubaktivitasNilaiBLALBDPipasrch" id="fSubaktivitasNilaiBLALBDPipasrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubaktivitasNilaiBLALBDPipasrch_search_panel" class="mb-2 mb-sm-0 @(subaktivitasNilaiBlalbdPipaList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasNilaiBlalbdPipaList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasNilaiBLALBDPipa: currentTable } });
var currentForm;
var fSubaktivitasNilaiBLALBDPipasrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubaktivitasNilaiBLALBDPipasrch")
        .setPageId("list")
@if (subaktivitasNilaiBlalbdPipaList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subaktivitasNilaiBlalbdPipaList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subaktivitasNilaiBlalbdPipaList.IsExport() && Empty(subaktivitasNilaiBlalbdPipaList.CurrentAction) && subaktivitasNilaiBlalbdPipaList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subaktivitasNilaiBlalbdPipaList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subaktivitasNilaiBlalbdPipaList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subaktivitasNilaiBlalbdPipaList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subaktivitasNilaiBlalbdPipaList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubaktivitasNilaiBLALBDPipasrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subaktivitasNilaiBlalbdPipaList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubaktivitasNilaiBLALBDPipasrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subaktivitasNilaiBlalbdPipaList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubaktivitasNilaiBLALBDPipasrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subaktivitasNilaiBlalbdPipaList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubaktivitasNilaiBLALBDPipasrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subaktivitasNilaiBlalbdPipaList.ShowPageHeader()
@subaktivitasNilaiBlalbdPipaList.ShowMessages()
<main class="list @(subaktivitasNilaiBlalbdPipaList.TotalRecords == 0 && !subaktivitasNilaiBlalbdPipaList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subaktivitasNilaiBlalbdPipaList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subaktivitasNilaiBlalbdPipaList.TotalRecords > 0 || !Empty(subaktivitasNilaiBlalbdPipaList.CurrentAction)) {
<div class="card ew-card ew-grid@(subaktivitasNilaiBlalbdPipaList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subaktivitasNilaiBlalbdPipaList.TableGridClass)">
<form name="@(subaktivitasNilaiBlalbdPipaList.FormName)" id="@(subaktivitasNilaiBlalbdPipaList.FormName)" class="ew-form ew-list-form" action="@AppPath(subaktivitasNilaiBlalbdPipaList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subaktivitasNilaiBlalbdPipaList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubaktivitasNilaiBLALBDPipa" class="card-body ew-grid-middle-panel @(subaktivitasNilaiBlalbdPipaList.TableContainerClass)" style="@(subaktivitasNilaiBlalbdPipaList.TableContainerStyle)">
@if (subaktivitasNilaiBlalbdPipaList.TotalRecords > 0 || subaktivitasNilaiBlalbdPipaList.IsGridEdit || subaktivitasNilaiBlalbdPipaList.IsMultiEdit) {
<table id="tbl_SubaktivitasNilaiBLALBDPipalist" class="@(subaktivitasNilaiBlalbdPipaList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subaktivitasNilaiBlalbdPipaList.RowType = RowType.Header;

    // Render list options
    await subaktivitasNilaiBlalbdPipaList.RenderListOptions();
}
@* Render list options (header, left) *@
@subaktivitasNilaiBlalbdPipaList.ListOptions.RenderHeader("left")
@if (subaktivitasNilaiBlalbdPipaList.id.Visible) { // subaktivitasNilaiBlalbdPipaList.id.Visible (begin)
        <th data-name="id" class="@(subaktivitasNilaiBlalbdPipaList.id.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLALBDPipa_id" class="SubaktivitasNilaiBLALBDPipa_id">@Html.Raw(subaktivitasNilaiBlalbdPipaList.RenderFieldHeader(subaktivitasNilaiBlalbdPipaList.id))</div></th>
} @* subaktivitasNilaiBlalbdPipaList.id.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaList.idAktifitas.Visible) { // subaktivitasNilaiBlalbdPipaList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subaktivitasNilaiBlalbdPipaList.idAktifitas.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLALBDPipa_idAktifitas" class="SubaktivitasNilaiBLALBDPipa_idAktifitas">@Html.Raw(subaktivitasNilaiBlalbdPipaList.RenderFieldHeader(subaktivitasNilaiBlalbdPipaList.idAktifitas))</div></th>
} @* subaktivitasNilaiBlalbdPipaList.idAktifitas.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaList.BL_klobs.Visible) { // subaktivitasNilaiBlalbdPipaList.BL_klobs.Visible (begin)
        <th data-name="BL_klobs" class="@(subaktivitasNilaiBlalbdPipaList.BL_klobs.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLALBDPipa_BL_klobs" class="SubaktivitasNilaiBLALBDPipa_BL_klobs">@Html.Raw(subaktivitasNilaiBlalbdPipaList.RenderFieldHeader(subaktivitasNilaiBlalbdPipaList.BL_klobs))</div></th>
} @* subaktivitasNilaiBlalbdPipaList.BL_klobs.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaList.BL_kl15.Visible) { // subaktivitasNilaiBlalbdPipaList.BL_kl15.Visible (begin)
        <th data-name="BL_kl15" class="@(subaktivitasNilaiBlalbdPipaList.BL_kl15.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLALBDPipa_BL_kl15" class="SubaktivitasNilaiBLALBDPipa_BL_kl15">@Html.Raw(subaktivitasNilaiBlalbdPipaList.RenderFieldHeader(subaktivitasNilaiBlalbdPipaList.BL_kl15))</div></th>
} @* subaktivitasNilaiBlalbdPipaList.BL_kl15.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaList.BL_barrels.Visible) { // subaktivitasNilaiBlalbdPipaList.BL_barrels.Visible (begin)
        <th data-name="BL_barrels" class="@(subaktivitasNilaiBlalbdPipaList.BL_barrels.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLALBDPipa_BL_barrels" class="SubaktivitasNilaiBLALBDPipa_BL_barrels">@Html.Raw(subaktivitasNilaiBlalbdPipaList.RenderFieldHeader(subaktivitasNilaiBlalbdPipaList.BL_barrels))</div></th>
} @* subaktivitasNilaiBlalbdPipaList.BL_barrels.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaList.BL_lt.Visible) { // subaktivitasNilaiBlalbdPipaList.BL_lt.Visible (begin)
        <th data-name="BL_lt" class="@(subaktivitasNilaiBlalbdPipaList.BL_lt.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLALBDPipa_BL_lt" class="SubaktivitasNilaiBLALBDPipa_BL_lt">@Html.Raw(subaktivitasNilaiBlalbdPipaList.RenderFieldHeader(subaktivitasNilaiBlalbdPipaList.BL_lt))</div></th>
} @* subaktivitasNilaiBlalbdPipaList.BL_lt.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaList.BL_mt.Visible) { // subaktivitasNilaiBlalbdPipaList.BL_mt.Visible (begin)
        <th data-name="BL_mt" class="@(subaktivitasNilaiBlalbdPipaList.BL_mt.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLALBDPipa_BL_mt" class="SubaktivitasNilaiBLALBDPipa_BL_mt">@Html.Raw(subaktivitasNilaiBlalbdPipaList.RenderFieldHeader(subaktivitasNilaiBlalbdPipaList.BL_mt))</div></th>
} @* subaktivitasNilaiBlalbdPipaList.BL_mt.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaList.AL_klobs.Visible) { // subaktivitasNilaiBlalbdPipaList.AL_klobs.Visible (begin)
        <th data-name="AL_klobs" class="@(subaktivitasNilaiBlalbdPipaList.AL_klobs.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLALBDPipa_AL_klobs" class="SubaktivitasNilaiBLALBDPipa_AL_klobs">@Html.Raw(subaktivitasNilaiBlalbdPipaList.RenderFieldHeader(subaktivitasNilaiBlalbdPipaList.AL_klobs))</div></th>
} @* subaktivitasNilaiBlalbdPipaList.AL_klobs.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaList.AL_kl15.Visible) { // subaktivitasNilaiBlalbdPipaList.AL_kl15.Visible (begin)
        <th data-name="AL_kl15" class="@(subaktivitasNilaiBlalbdPipaList.AL_kl15.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLALBDPipa_AL_kl15" class="SubaktivitasNilaiBLALBDPipa_AL_kl15">@Html.Raw(subaktivitasNilaiBlalbdPipaList.RenderFieldHeader(subaktivitasNilaiBlalbdPipaList.AL_kl15))</div></th>
} @* subaktivitasNilaiBlalbdPipaList.AL_kl15.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaList.AL_barrels.Visible) { // subaktivitasNilaiBlalbdPipaList.AL_barrels.Visible (begin)
        <th data-name="AL_barrels" class="@(subaktivitasNilaiBlalbdPipaList.AL_barrels.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLALBDPipa_AL_barrels" class="SubaktivitasNilaiBLALBDPipa_AL_barrels">@Html.Raw(subaktivitasNilaiBlalbdPipaList.RenderFieldHeader(subaktivitasNilaiBlalbdPipaList.AL_barrels))</div></th>
} @* subaktivitasNilaiBlalbdPipaList.AL_barrels.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaList.AL_lt.Visible) { // subaktivitasNilaiBlalbdPipaList.AL_lt.Visible (begin)
        <th data-name="AL_lt" class="@(subaktivitasNilaiBlalbdPipaList.AL_lt.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLALBDPipa_AL_lt" class="SubaktivitasNilaiBLALBDPipa_AL_lt">@Html.Raw(subaktivitasNilaiBlalbdPipaList.RenderFieldHeader(subaktivitasNilaiBlalbdPipaList.AL_lt))</div></th>
} @* subaktivitasNilaiBlalbdPipaList.AL_lt.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaList.AL_mt.Visible) { // subaktivitasNilaiBlalbdPipaList.AL_mt.Visible (begin)
        <th data-name="AL_mt" class="@(subaktivitasNilaiBlalbdPipaList.AL_mt.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLALBDPipa_AL_mt" class="SubaktivitasNilaiBLALBDPipa_AL_mt">@Html.Raw(subaktivitasNilaiBlalbdPipaList.RenderFieldHeader(subaktivitasNilaiBlalbdPipaList.AL_mt))</div></th>
} @* subaktivitasNilaiBlalbdPipaList.AL_mt.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaList.BD_klobs.Visible) { // subaktivitasNilaiBlalbdPipaList.BD_klobs.Visible (begin)
        <th data-name="BD_klobs" class="@(subaktivitasNilaiBlalbdPipaList.BD_klobs.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLALBDPipa_BD_klobs" class="SubaktivitasNilaiBLALBDPipa_BD_klobs">@Html.Raw(subaktivitasNilaiBlalbdPipaList.RenderFieldHeader(subaktivitasNilaiBlalbdPipaList.BD_klobs))</div></th>
} @* subaktivitasNilaiBlalbdPipaList.BD_klobs.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaList.BD_kl15.Visible) { // subaktivitasNilaiBlalbdPipaList.BD_kl15.Visible (begin)
        <th data-name="BD_kl15" class="@(subaktivitasNilaiBlalbdPipaList.BD_kl15.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLALBDPipa_BD_kl15" class="SubaktivitasNilaiBLALBDPipa_BD_kl15">@Html.Raw(subaktivitasNilaiBlalbdPipaList.RenderFieldHeader(subaktivitasNilaiBlalbdPipaList.BD_kl15))</div></th>
} @* subaktivitasNilaiBlalbdPipaList.BD_kl15.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaList.BD_barrels.Visible) { // subaktivitasNilaiBlalbdPipaList.BD_barrels.Visible (begin)
        <th data-name="BD_barrels" class="@(subaktivitasNilaiBlalbdPipaList.BD_barrels.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLALBDPipa_BD_barrels" class="SubaktivitasNilaiBLALBDPipa_BD_barrels">@Html.Raw(subaktivitasNilaiBlalbdPipaList.RenderFieldHeader(subaktivitasNilaiBlalbdPipaList.BD_barrels))</div></th>
} @* subaktivitasNilaiBlalbdPipaList.BD_barrels.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaList.BD_lt.Visible) { // subaktivitasNilaiBlalbdPipaList.BD_lt.Visible (begin)
        <th data-name="BD_lt" class="@(subaktivitasNilaiBlalbdPipaList.BD_lt.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLALBDPipa_BD_lt" class="SubaktivitasNilaiBLALBDPipa_BD_lt">@Html.Raw(subaktivitasNilaiBlalbdPipaList.RenderFieldHeader(subaktivitasNilaiBlalbdPipaList.BD_lt))</div></th>
} @* subaktivitasNilaiBlalbdPipaList.BD_lt.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaList.BD_mt.Visible) { // subaktivitasNilaiBlalbdPipaList.BD_mt.Visible (begin)
        <th data-name="BD_mt" class="@(subaktivitasNilaiBlalbdPipaList.BD_mt.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLALBDPipa_BD_mt" class="SubaktivitasNilaiBLALBDPipa_BD_mt">@Html.Raw(subaktivitasNilaiBlalbdPipaList.RenderFieldHeader(subaktivitasNilaiBlalbdPipaList.BD_mt))</div></th>
} @* subaktivitasNilaiBlalbdPipaList.BD_mt.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaList.userInput.Visible) { // subaktivitasNilaiBlalbdPipaList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subaktivitasNilaiBlalbdPipaList.userInput.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLALBDPipa_userInput" class="SubaktivitasNilaiBLALBDPipa_userInput">@Html.Raw(subaktivitasNilaiBlalbdPipaList.RenderFieldHeader(subaktivitasNilaiBlalbdPipaList.userInput))</div></th>
} @* subaktivitasNilaiBlalbdPipaList.userInput.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaList.etlDate.Visible) { // subaktivitasNilaiBlalbdPipaList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subaktivitasNilaiBlalbdPipaList.etlDate.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLALBDPipa_etlDate" class="SubaktivitasNilaiBLALBDPipa_etlDate">@Html.Raw(subaktivitasNilaiBlalbdPipaList.RenderFieldHeader(subaktivitasNilaiBlalbdPipaList.etlDate))</div></th>
} @* subaktivitasNilaiBlalbdPipaList.etlDate.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaList.idProses.Visible) { // subaktivitasNilaiBlalbdPipaList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subaktivitasNilaiBlalbdPipaList.idProses.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLALBDPipa_idProses" class="SubaktivitasNilaiBLALBDPipa_idProses">@Html.Raw(subaktivitasNilaiBlalbdPipaList.RenderFieldHeader(subaktivitasNilaiBlalbdPipaList.idProses))</div></th>
} @* subaktivitasNilaiBlalbdPipaList.idProses.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaList.LastUpdatedBy.Visible) { // subaktivitasNilaiBlalbdPipaList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subaktivitasNilaiBlalbdPipaList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLALBDPipa_LastUpdatedBy" class="SubaktivitasNilaiBLALBDPipa_LastUpdatedBy">@Html.Raw(subaktivitasNilaiBlalbdPipaList.RenderFieldHeader(subaktivitasNilaiBlalbdPipaList.LastUpdatedBy))</div></th>
} @* subaktivitasNilaiBlalbdPipaList.LastUpdatedBy.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaList.lastUpdatedDate.Visible) { // subaktivitasNilaiBlalbdPipaList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subaktivitasNilaiBlalbdPipaList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLALBDPipa_lastUpdatedDate" class="SubaktivitasNilaiBLALBDPipa_lastUpdatedDate">@Html.Raw(subaktivitasNilaiBlalbdPipaList.RenderFieldHeader(subaktivitasNilaiBlalbdPipaList.lastUpdatedDate))</div></th>
} @* subaktivitasNilaiBlalbdPipaList.lastUpdatedDate.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaList.NoReferensi.Visible) { // subaktivitasNilaiBlalbdPipaList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subaktivitasNilaiBlalbdPipaList.NoReferensi.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLALBDPipa_NoReferensi" class="SubaktivitasNilaiBLALBDPipa_NoReferensi">@Html.Raw(subaktivitasNilaiBlalbdPipaList.RenderFieldHeader(subaktivitasNilaiBlalbdPipaList.NoReferensi))</div></th>
} @* subaktivitasNilaiBlalbdPipaList.NoReferensi.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaList.StatusAktivitas.Visible) { // subaktivitasNilaiBlalbdPipaList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subaktivitasNilaiBlalbdPipaList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubaktivitasNilaiBLALBDPipa_StatusAktivitas" class="SubaktivitasNilaiBLALBDPipa_StatusAktivitas">@Html.Raw(subaktivitasNilaiBlalbdPipaList.RenderFieldHeader(subaktivitasNilaiBlalbdPipaList.StatusAktivitas))</div></th>
} @* subaktivitasNilaiBlalbdPipaList.StatusAktivitas.Visible (end) *@
@* Render list options (header, right) *@
@subaktivitasNilaiBlalbdPipaList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subaktivitasNilaiBlalbdPipaList.PageNumber)">
@{
    await subaktivitasNilaiBlalbdPipaList.SetupGrid();
    bool eof = subaktivitasNilaiBlalbdPipaList.Recordset == null; // DN
}
@while (subaktivitasNilaiBlalbdPipaList.RecordCount < subaktivitasNilaiBlalbdPipaList.StopRecord || SameString(subaktivitasNilaiBlalbdPipaList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subaktivitasNilaiBlalbdPipaList.RowIndex, "$rowindex$") &&
        (!subaktivitasNilaiBlalbdPipaList.IsGridAdd || subaktivitasNilaiBlalbdPipaList.CurrentMode == "copy") &&
        (!((subaktivitasNilaiBlalbdPipaList.IsCopy || subaktivitasNilaiBlalbdPipaList.IsAdd) && subaktivitasNilaiBlalbdPipaList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subaktivitasNilaiBlalbdPipaList.Recordset.ReadAsync();
    subaktivitasNilaiBlalbdPipaList.RecordCount++;
    if (subaktivitasNilaiBlalbdPipaList.RecordCount >= subaktivitasNilaiBlalbdPipaList.StartRecord) {
        await subaktivitasNilaiBlalbdPipaList.SetupRow();
    <tr @Html.Raw(subaktivitasNilaiBlalbdPipaList.RowAttributes)>
    @* Render list options (body, left) *@
    @subaktivitasNilaiBlalbdPipaList.ListOptions.RenderBody("left", subaktivitasNilaiBlalbdPipaList.RowCount)
    @if (subaktivitasNilaiBlalbdPipaList.id.Visible) { // subaktivitasNilaiBlalbdPipaList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subaktivitasNilaiBlalbdPipaList.id.CellAttributes)>
<span id="el@(subaktivitasNilaiBlalbdPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiBlalbdPipaList.RowCount)_SubaktivitasNilaiBLALBDPipa_id" class="el_SubaktivitasNilaiBLALBDPipa_id">
<span @Html.Raw(subaktivitasNilaiBlalbdPipaList.id.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlalbdPipaList.id.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlalbdPipaList.id.Visible (end) *@
    @if (subaktivitasNilaiBlalbdPipaList.idAktifitas.Visible) { // subaktivitasNilaiBlalbdPipaList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subaktivitasNilaiBlalbdPipaList.idAktifitas.CellAttributes)>
<span id="el@(subaktivitasNilaiBlalbdPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiBlalbdPipaList.RowCount)_SubaktivitasNilaiBLALBDPipa_idAktifitas" class="el_SubaktivitasNilaiBLALBDPipa_idAktifitas">
<span @Html.Raw(subaktivitasNilaiBlalbdPipaList.idAktifitas.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlalbdPipaList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlalbdPipaList.idAktifitas.Visible (end) *@
    @if (subaktivitasNilaiBlalbdPipaList.BL_klobs.Visible) { // subaktivitasNilaiBlalbdPipaList.BL_klobs.Visible (begin)
        <td data-name="BL_klobs" @Html.Raw(subaktivitasNilaiBlalbdPipaList.BL_klobs.CellAttributes)>
<span id="el@(subaktivitasNilaiBlalbdPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiBlalbdPipaList.RowCount)_SubaktivitasNilaiBLALBDPipa_BL_klobs" class="el_SubaktivitasNilaiBLALBDPipa_BL_klobs">
<span @Html.Raw(subaktivitasNilaiBlalbdPipaList.BL_klobs.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlalbdPipaList.BL_klobs.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlalbdPipaList.BL_klobs.Visible (end) *@
    @if (subaktivitasNilaiBlalbdPipaList.BL_kl15.Visible) { // subaktivitasNilaiBlalbdPipaList.BL_kl15.Visible (begin)
        <td data-name="BL_kl15" @Html.Raw(subaktivitasNilaiBlalbdPipaList.BL_kl15.CellAttributes)>
<span id="el@(subaktivitasNilaiBlalbdPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiBlalbdPipaList.RowCount)_SubaktivitasNilaiBLALBDPipa_BL_kl15" class="el_SubaktivitasNilaiBLALBDPipa_BL_kl15">
<span @Html.Raw(subaktivitasNilaiBlalbdPipaList.BL_kl15.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlalbdPipaList.BL_kl15.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlalbdPipaList.BL_kl15.Visible (end) *@
    @if (subaktivitasNilaiBlalbdPipaList.BL_barrels.Visible) { // subaktivitasNilaiBlalbdPipaList.BL_barrels.Visible (begin)
        <td data-name="BL_barrels" @Html.Raw(subaktivitasNilaiBlalbdPipaList.BL_barrels.CellAttributes)>
<span id="el@(subaktivitasNilaiBlalbdPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiBlalbdPipaList.RowCount)_SubaktivitasNilaiBLALBDPipa_BL_barrels" class="el_SubaktivitasNilaiBLALBDPipa_BL_barrels">
<span @Html.Raw(subaktivitasNilaiBlalbdPipaList.BL_barrels.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlalbdPipaList.BL_barrels.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlalbdPipaList.BL_barrels.Visible (end) *@
    @if (subaktivitasNilaiBlalbdPipaList.BL_lt.Visible) { // subaktivitasNilaiBlalbdPipaList.BL_lt.Visible (begin)
        <td data-name="BL_lt" @Html.Raw(subaktivitasNilaiBlalbdPipaList.BL_lt.CellAttributes)>
<span id="el@(subaktivitasNilaiBlalbdPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiBlalbdPipaList.RowCount)_SubaktivitasNilaiBLALBDPipa_BL_lt" class="el_SubaktivitasNilaiBLALBDPipa_BL_lt">
<span @Html.Raw(subaktivitasNilaiBlalbdPipaList.BL_lt.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlalbdPipaList.BL_lt.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlalbdPipaList.BL_lt.Visible (end) *@
    @if (subaktivitasNilaiBlalbdPipaList.BL_mt.Visible) { // subaktivitasNilaiBlalbdPipaList.BL_mt.Visible (begin)
        <td data-name="BL_mt" @Html.Raw(subaktivitasNilaiBlalbdPipaList.BL_mt.CellAttributes)>
<span id="el@(subaktivitasNilaiBlalbdPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiBlalbdPipaList.RowCount)_SubaktivitasNilaiBLALBDPipa_BL_mt" class="el_SubaktivitasNilaiBLALBDPipa_BL_mt">
<span @Html.Raw(subaktivitasNilaiBlalbdPipaList.BL_mt.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlalbdPipaList.BL_mt.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlalbdPipaList.BL_mt.Visible (end) *@
    @if (subaktivitasNilaiBlalbdPipaList.AL_klobs.Visible) { // subaktivitasNilaiBlalbdPipaList.AL_klobs.Visible (begin)
        <td data-name="AL_klobs" @Html.Raw(subaktivitasNilaiBlalbdPipaList.AL_klobs.CellAttributes)>
<span id="el@(subaktivitasNilaiBlalbdPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiBlalbdPipaList.RowCount)_SubaktivitasNilaiBLALBDPipa_AL_klobs" class="el_SubaktivitasNilaiBLALBDPipa_AL_klobs">
<span @Html.Raw(subaktivitasNilaiBlalbdPipaList.AL_klobs.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlalbdPipaList.AL_klobs.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlalbdPipaList.AL_klobs.Visible (end) *@
    @if (subaktivitasNilaiBlalbdPipaList.AL_kl15.Visible) { // subaktivitasNilaiBlalbdPipaList.AL_kl15.Visible (begin)
        <td data-name="AL_kl15" @Html.Raw(subaktivitasNilaiBlalbdPipaList.AL_kl15.CellAttributes)>
<span id="el@(subaktivitasNilaiBlalbdPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiBlalbdPipaList.RowCount)_SubaktivitasNilaiBLALBDPipa_AL_kl15" class="el_SubaktivitasNilaiBLALBDPipa_AL_kl15">
<span @Html.Raw(subaktivitasNilaiBlalbdPipaList.AL_kl15.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlalbdPipaList.AL_kl15.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlalbdPipaList.AL_kl15.Visible (end) *@
    @if (subaktivitasNilaiBlalbdPipaList.AL_barrels.Visible) { // subaktivitasNilaiBlalbdPipaList.AL_barrels.Visible (begin)
        <td data-name="AL_barrels" @Html.Raw(subaktivitasNilaiBlalbdPipaList.AL_barrels.CellAttributes)>
<span id="el@(subaktivitasNilaiBlalbdPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiBlalbdPipaList.RowCount)_SubaktivitasNilaiBLALBDPipa_AL_barrels" class="el_SubaktivitasNilaiBLALBDPipa_AL_barrels">
<span @Html.Raw(subaktivitasNilaiBlalbdPipaList.AL_barrels.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlalbdPipaList.AL_barrels.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlalbdPipaList.AL_barrels.Visible (end) *@
    @if (subaktivitasNilaiBlalbdPipaList.AL_lt.Visible) { // subaktivitasNilaiBlalbdPipaList.AL_lt.Visible (begin)
        <td data-name="AL_lt" @Html.Raw(subaktivitasNilaiBlalbdPipaList.AL_lt.CellAttributes)>
<span id="el@(subaktivitasNilaiBlalbdPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiBlalbdPipaList.RowCount)_SubaktivitasNilaiBLALBDPipa_AL_lt" class="el_SubaktivitasNilaiBLALBDPipa_AL_lt">
<span @Html.Raw(subaktivitasNilaiBlalbdPipaList.AL_lt.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlalbdPipaList.AL_lt.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlalbdPipaList.AL_lt.Visible (end) *@
    @if (subaktivitasNilaiBlalbdPipaList.AL_mt.Visible) { // subaktivitasNilaiBlalbdPipaList.AL_mt.Visible (begin)
        <td data-name="AL_mt" @Html.Raw(subaktivitasNilaiBlalbdPipaList.AL_mt.CellAttributes)>
<span id="el@(subaktivitasNilaiBlalbdPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiBlalbdPipaList.RowCount)_SubaktivitasNilaiBLALBDPipa_AL_mt" class="el_SubaktivitasNilaiBLALBDPipa_AL_mt">
<span @Html.Raw(subaktivitasNilaiBlalbdPipaList.AL_mt.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlalbdPipaList.AL_mt.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlalbdPipaList.AL_mt.Visible (end) *@
    @if (subaktivitasNilaiBlalbdPipaList.BD_klobs.Visible) { // subaktivitasNilaiBlalbdPipaList.BD_klobs.Visible (begin)
        <td data-name="BD_klobs" @Html.Raw(subaktivitasNilaiBlalbdPipaList.BD_klobs.CellAttributes)>
<span id="el@(subaktivitasNilaiBlalbdPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiBlalbdPipaList.RowCount)_SubaktivitasNilaiBLALBDPipa_BD_klobs" class="el_SubaktivitasNilaiBLALBDPipa_BD_klobs">
<span @Html.Raw(subaktivitasNilaiBlalbdPipaList.BD_klobs.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlalbdPipaList.BD_klobs.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlalbdPipaList.BD_klobs.Visible (end) *@
    @if (subaktivitasNilaiBlalbdPipaList.BD_kl15.Visible) { // subaktivitasNilaiBlalbdPipaList.BD_kl15.Visible (begin)
        <td data-name="BD_kl15" @Html.Raw(subaktivitasNilaiBlalbdPipaList.BD_kl15.CellAttributes)>
<span id="el@(subaktivitasNilaiBlalbdPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiBlalbdPipaList.RowCount)_SubaktivitasNilaiBLALBDPipa_BD_kl15" class="el_SubaktivitasNilaiBLALBDPipa_BD_kl15">
<span @Html.Raw(subaktivitasNilaiBlalbdPipaList.BD_kl15.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlalbdPipaList.BD_kl15.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlalbdPipaList.BD_kl15.Visible (end) *@
    @if (subaktivitasNilaiBlalbdPipaList.BD_barrels.Visible) { // subaktivitasNilaiBlalbdPipaList.BD_barrels.Visible (begin)
        <td data-name="BD_barrels" @Html.Raw(subaktivitasNilaiBlalbdPipaList.BD_barrels.CellAttributes)>
<span id="el@(subaktivitasNilaiBlalbdPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiBlalbdPipaList.RowCount)_SubaktivitasNilaiBLALBDPipa_BD_barrels" class="el_SubaktivitasNilaiBLALBDPipa_BD_barrels">
<span @Html.Raw(subaktivitasNilaiBlalbdPipaList.BD_barrels.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlalbdPipaList.BD_barrels.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlalbdPipaList.BD_barrels.Visible (end) *@
    @if (subaktivitasNilaiBlalbdPipaList.BD_lt.Visible) { // subaktivitasNilaiBlalbdPipaList.BD_lt.Visible (begin)
        <td data-name="BD_lt" @Html.Raw(subaktivitasNilaiBlalbdPipaList.BD_lt.CellAttributes)>
<span id="el@(subaktivitasNilaiBlalbdPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiBlalbdPipaList.RowCount)_SubaktivitasNilaiBLALBDPipa_BD_lt" class="el_SubaktivitasNilaiBLALBDPipa_BD_lt">
<span @Html.Raw(subaktivitasNilaiBlalbdPipaList.BD_lt.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlalbdPipaList.BD_lt.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlalbdPipaList.BD_lt.Visible (end) *@
    @if (subaktivitasNilaiBlalbdPipaList.BD_mt.Visible) { // subaktivitasNilaiBlalbdPipaList.BD_mt.Visible (begin)
        <td data-name="BD_mt" @Html.Raw(subaktivitasNilaiBlalbdPipaList.BD_mt.CellAttributes)>
<span id="el@(subaktivitasNilaiBlalbdPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiBlalbdPipaList.RowCount)_SubaktivitasNilaiBLALBDPipa_BD_mt" class="el_SubaktivitasNilaiBLALBDPipa_BD_mt">
<span @Html.Raw(subaktivitasNilaiBlalbdPipaList.BD_mt.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlalbdPipaList.BD_mt.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlalbdPipaList.BD_mt.Visible (end) *@
    @if (subaktivitasNilaiBlalbdPipaList.userInput.Visible) { // subaktivitasNilaiBlalbdPipaList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subaktivitasNilaiBlalbdPipaList.userInput.CellAttributes)>
<span id="el@(subaktivitasNilaiBlalbdPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiBlalbdPipaList.RowCount)_SubaktivitasNilaiBLALBDPipa_userInput" class="el_SubaktivitasNilaiBLALBDPipa_userInput">
<span @Html.Raw(subaktivitasNilaiBlalbdPipaList.userInput.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlalbdPipaList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlalbdPipaList.userInput.Visible (end) *@
    @if (subaktivitasNilaiBlalbdPipaList.etlDate.Visible) { // subaktivitasNilaiBlalbdPipaList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subaktivitasNilaiBlalbdPipaList.etlDate.CellAttributes)>
<span id="el@(subaktivitasNilaiBlalbdPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiBlalbdPipaList.RowCount)_SubaktivitasNilaiBLALBDPipa_etlDate" class="el_SubaktivitasNilaiBLALBDPipa_etlDate">
<span @Html.Raw(subaktivitasNilaiBlalbdPipaList.etlDate.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlalbdPipaList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlalbdPipaList.etlDate.Visible (end) *@
    @if (subaktivitasNilaiBlalbdPipaList.idProses.Visible) { // subaktivitasNilaiBlalbdPipaList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subaktivitasNilaiBlalbdPipaList.idProses.CellAttributes)>
<span id="el@(subaktivitasNilaiBlalbdPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiBlalbdPipaList.RowCount)_SubaktivitasNilaiBLALBDPipa_idProses" class="el_SubaktivitasNilaiBLALBDPipa_idProses">
<span @Html.Raw(subaktivitasNilaiBlalbdPipaList.idProses.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlalbdPipaList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlalbdPipaList.idProses.Visible (end) *@
    @if (subaktivitasNilaiBlalbdPipaList.LastUpdatedBy.Visible) { // subaktivitasNilaiBlalbdPipaList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subaktivitasNilaiBlalbdPipaList.LastUpdatedBy.CellAttributes)>
<span id="el@(subaktivitasNilaiBlalbdPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiBlalbdPipaList.RowCount)_SubaktivitasNilaiBLALBDPipa_LastUpdatedBy" class="el_SubaktivitasNilaiBLALBDPipa_LastUpdatedBy">
<span @Html.Raw(subaktivitasNilaiBlalbdPipaList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlalbdPipaList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlalbdPipaList.LastUpdatedBy.Visible (end) *@
    @if (subaktivitasNilaiBlalbdPipaList.lastUpdatedDate.Visible) { // subaktivitasNilaiBlalbdPipaList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subaktivitasNilaiBlalbdPipaList.lastUpdatedDate.CellAttributes)>
<span id="el@(subaktivitasNilaiBlalbdPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiBlalbdPipaList.RowCount)_SubaktivitasNilaiBLALBDPipa_lastUpdatedDate" class="el_SubaktivitasNilaiBLALBDPipa_lastUpdatedDate">
<span @Html.Raw(subaktivitasNilaiBlalbdPipaList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlalbdPipaList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlalbdPipaList.lastUpdatedDate.Visible (end) *@
    @if (subaktivitasNilaiBlalbdPipaList.NoReferensi.Visible) { // subaktivitasNilaiBlalbdPipaList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subaktivitasNilaiBlalbdPipaList.NoReferensi.CellAttributes)>
<span id="el@(subaktivitasNilaiBlalbdPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiBlalbdPipaList.RowCount)_SubaktivitasNilaiBLALBDPipa_NoReferensi" class="el_SubaktivitasNilaiBLALBDPipa_NoReferensi">
<span @Html.Raw(subaktivitasNilaiBlalbdPipaList.NoReferensi.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlalbdPipaList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlalbdPipaList.NoReferensi.Visible (end) *@
    @if (subaktivitasNilaiBlalbdPipaList.StatusAktivitas.Visible) { // subaktivitasNilaiBlalbdPipaList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subaktivitasNilaiBlalbdPipaList.StatusAktivitas.CellAttributes)>
<span id="el@(subaktivitasNilaiBlalbdPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasNilaiBlalbdPipaList.RowCount)_SubaktivitasNilaiBLALBDPipa_StatusAktivitas" class="el_SubaktivitasNilaiBLALBDPipa_StatusAktivitas">
<span @Html.Raw(subaktivitasNilaiBlalbdPipaList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subaktivitasNilaiBlalbdPipaList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiBlalbdPipaList.StatusAktivitas.Visible (end) *@
    @* Render list options (body, right) *@
    @subaktivitasNilaiBlalbdPipaList.ListOptions.RenderBody("right", subaktivitasNilaiBlalbdPipaList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subaktivitasNilaiBlalbdPipaList.RowIndex, "$rowindex$"))
        subaktivitasNilaiBlalbdPipaList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subaktivitasNilaiBlalbdPipaList.IsCopy || subaktivitasNilaiBlalbdPipaList.IsAdd) && subaktivitasNilaiBlalbdPipaList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subaktivitasNilaiBlalbdPipaList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subaktivitasNilaiBlalbdPipaList.CurrentAction) && !subaktivitasNilaiBlalbdPipaList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subaktivitasNilaiBlalbdPipaList.CloseRecordset(); }
@if (!subaktivitasNilaiBlalbdPipaList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subaktivitasNilaiBlalbdPipaList.IsGridAdd && !(subaktivitasNilaiBlalbdPipaList.IsGridEdit && subaktivitasNilaiBlalbdPipaList.ModalGridEdit) && !subaktivitasNilaiBlalbdPipaList.IsMultiEdit) {
@Html.Raw(subaktivitasNilaiBlalbdPipaList.Pager.Render())
}
<div class="ew-list-other-options">
@subaktivitasNilaiBlalbdPipaList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subaktivitasNilaiBlalbdPipaList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subaktivitasNilaiBlalbdPipaList.FooterOptions.RenderBody()
</div>
</main>
@subaktivitasNilaiBlalbdPipaList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subaktivitasNilaiBlalbdPipaList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubaktivitasNilaiBLALBDPipa");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
