@{
    // View
    View = this;

    // Check action result
    if (subaktivitasHasilPemeriksaanStsPnrBbmList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subaktivitasHasilPemeriksaanStsPnrBbmList.UseLayout ? "_Layout" : "";
}
@if (!subaktivitasHasilPemeriksaanStsPnrBbmList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasHasilPemeriksaanStsPnrBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasHasilPemeriksaanSTSPnrBBM: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subaktivitasHasilPemeriksaanStsPnrBbmList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subaktivitasHasilPemeriksaanStsPnrBbmList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subaktivitasHasilPemeriksaanStsPnrBbmList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subaktivitasHasilPemeriksaanStsPnrBbmList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subaktivitasHasilPemeriksaanStsPnrBbmList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subaktivitasHasilPemeriksaanStsPnrBbmList.TotalRecords > 0 && subaktivitasHasilPemeriksaanStsPnrBbmList.ExportOptions.Visible) {
    subaktivitasHasilPemeriksaanStsPnrBbmList.ExportOptions.Render("body");
}
@if (subaktivitasHasilPemeriksaanStsPnrBbmList.ImportOptions.Visible) {
    subaktivitasHasilPemeriksaanStsPnrBbmList.ImportOptions.Render("body");
}
@if (subaktivitasHasilPemeriksaanStsPnrBbmList.SearchOptions.Visible) {
    subaktivitasHasilPemeriksaanStsPnrBbmList.SearchOptions.Render("body");
}
@if (subaktivitasHasilPemeriksaanStsPnrBbmList.FilterOptions.Visible) {
    subaktivitasHasilPemeriksaanStsPnrBbmList.FilterOptions.Render("body");
}
</div>
}
@if (!subaktivitasHasilPemeriksaanStsPnrBbmList.IsModal) {
<form name="fSubaktivitasHasilPemeriksaanSTSPnrBBMsrch" id="fSubaktivitasHasilPemeriksaanSTSPnrBBMsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubaktivitasHasilPemeriksaanSTSPnrBBMsrch_search_panel" class="mb-2 mb-sm-0 @(subaktivitasHasilPemeriksaanStsPnrBbmList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasHasilPemeriksaanStsPnrBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasHasilPemeriksaanSTSPnrBBM: currentTable } });
var currentForm;
var fSubaktivitasHasilPemeriksaanSTSPnrBBMsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubaktivitasHasilPemeriksaanSTSPnrBBMsrch")
        .setPageId("list")
@if (subaktivitasHasilPemeriksaanStsPnrBbmList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subaktivitasHasilPemeriksaanStsPnrBbmList.IsExport() && Empty(subaktivitasHasilPemeriksaanStsPnrBbmList.CurrentAction) && subaktivitasHasilPemeriksaanStsPnrBbmList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subaktivitasHasilPemeriksaanStsPnrBbmList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subaktivitasHasilPemeriksaanStsPnrBbmList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subaktivitasHasilPemeriksaanStsPnrBbmList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubaktivitasHasilPemeriksaanSTSPnrBBMsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subaktivitasHasilPemeriksaanStsPnrBbmList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubaktivitasHasilPemeriksaanSTSPnrBBMsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subaktivitasHasilPemeriksaanStsPnrBbmList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubaktivitasHasilPemeriksaanSTSPnrBBMsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subaktivitasHasilPemeriksaanStsPnrBbmList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubaktivitasHasilPemeriksaanSTSPnrBBMsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subaktivitasHasilPemeriksaanStsPnrBbmList.ShowPageHeader()
@subaktivitasHasilPemeriksaanStsPnrBbmList.ShowMessages()
<main class="list @(subaktivitasHasilPemeriksaanStsPnrBbmList.TotalRecords == 0 && !subaktivitasHasilPemeriksaanStsPnrBbmList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subaktivitasHasilPemeriksaanStsPnrBbmList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subaktivitasHasilPemeriksaanStsPnrBbmList.TotalRecords > 0 || !Empty(subaktivitasHasilPemeriksaanStsPnrBbmList.CurrentAction)) {
<div class="card ew-card ew-grid@(subaktivitasHasilPemeriksaanStsPnrBbmList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subaktivitasHasilPemeriksaanStsPnrBbmList.TableGridClass)">
<form name="@(subaktivitasHasilPemeriksaanStsPnrBbmList.FormName)" id="@(subaktivitasHasilPemeriksaanStsPnrBbmList.FormName)" class="ew-form ew-list-form" action="@AppPath(subaktivitasHasilPemeriksaanStsPnrBbmList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subaktivitasHasilPemeriksaanStsPnrBbmList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubaktivitasHasilPemeriksaanSTSPnrBBM" class="card-body ew-grid-middle-panel @(subaktivitasHasilPemeriksaanStsPnrBbmList.TableContainerClass)" style="@(subaktivitasHasilPemeriksaanStsPnrBbmList.TableContainerStyle)">
@if (subaktivitasHasilPemeriksaanStsPnrBbmList.TotalRecords > 0 || subaktivitasHasilPemeriksaanStsPnrBbmList.IsGridEdit || subaktivitasHasilPemeriksaanStsPnrBbmList.IsMultiEdit) {
<table id="tbl_SubaktivitasHasilPemeriksaanSTSPnrBBMlist" class="@(subaktivitasHasilPemeriksaanStsPnrBbmList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subaktivitasHasilPemeriksaanStsPnrBbmList.RowType = RowType.Header;

    // Render list options
    await subaktivitasHasilPemeriksaanStsPnrBbmList.RenderListOptions();
}
@* Render list options (header, left) *@
@subaktivitasHasilPemeriksaanStsPnrBbmList.ListOptions.RenderHeader("left")
@if (subaktivitasHasilPemeriksaanStsPnrBbmList.id.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.id.Visible (begin)
        <th data-name="id" class="@(subaktivitasHasilPemeriksaanStsPnrBbmList.id.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_id" class="SubaktivitasHasilPemeriksaanSTSPnrBBM_id">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.RenderFieldHeader(subaktivitasHasilPemeriksaanStsPnrBbmList.id))</div></th>
} @* subaktivitasHasilPemeriksaanStsPnrBbmList.id.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmList.idAktifitas.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subaktivitasHasilPemeriksaanStsPnrBbmList.idAktifitas.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_idAktifitas" class="SubaktivitasHasilPemeriksaanSTSPnrBBM_idAktifitas">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.RenderFieldHeader(subaktivitasHasilPemeriksaanStsPnrBbmList.idAktifitas))</div></th>
} @* subaktivitasHasilPemeriksaanStsPnrBbmList.idAktifitas.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmList.NamaKapal.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.NamaKapal.Visible (begin)
        <th data-name="NamaKapal" class="@(subaktivitasHasilPemeriksaanStsPnrBbmList.NamaKapal.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_NamaKapal" class="SubaktivitasHasilPemeriksaanSTSPnrBBM_NamaKapal">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.RenderFieldHeader(subaktivitasHasilPemeriksaanStsPnrBbmList.NamaKapal))</div></th>
} @* subaktivitasHasilPemeriksaanStsPnrBbmList.NamaKapal.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmList.TanggalJam.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.TanggalJam.Visible (begin)
        <th data-name="TanggalJam" class="@(subaktivitasHasilPemeriksaanStsPnrBbmList.TanggalJam.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_TanggalJam" class="SubaktivitasHasilPemeriksaanSTSPnrBBM_TanggalJam">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.RenderFieldHeader(subaktivitasHasilPemeriksaanStsPnrBbmList.TanggalJam))</div></th>
} @* subaktivitasHasilPemeriksaanStsPnrBbmList.TanggalJam.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmList.NamaKegiatan.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.NamaKegiatan.Visible (begin)
        <th data-name="NamaKegiatan" class="@(subaktivitasHasilPemeriksaanStsPnrBbmList.NamaKegiatan.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_NamaKegiatan" class="SubaktivitasHasilPemeriksaanSTSPnrBBM_NamaKegiatan">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.RenderFieldHeader(subaktivitasHasilPemeriksaanStsPnrBbmList.NamaKegiatan))</div></th>
} @* subaktivitasHasilPemeriksaanStsPnrBbmList.NamaKegiatan.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmList.Produk.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subaktivitasHasilPemeriksaanStsPnrBbmList.Produk.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_Produk" class="SubaktivitasHasilPemeriksaanSTSPnrBBM_Produk">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.RenderFieldHeader(subaktivitasHasilPemeriksaanStsPnrBbmList.Produk))</div></th>
} @* subaktivitasHasilPemeriksaanStsPnrBbmList.Produk.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmList.Density.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.Density.Visible (begin)
        <th data-name="Density" class="@(subaktivitasHasilPemeriksaanStsPnrBbmList.Density.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_Density" class="SubaktivitasHasilPemeriksaanSTSPnrBBM_Density">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.RenderFieldHeader(subaktivitasHasilPemeriksaanStsPnrBbmList.Density))</div></th>
} @* subaktivitasHasilPemeriksaanStsPnrBbmList.Density.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmList.Temperature.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.Temperature.Visible (begin)
        <th data-name="Temperature" class="@(subaktivitasHasilPemeriksaanStsPnrBbmList.Temperature.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_Temperature" class="SubaktivitasHasilPemeriksaanSTSPnrBBM_Temperature">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.RenderFieldHeader(subaktivitasHasilPemeriksaanStsPnrBbmList.Temperature))</div></th>
} @* subaktivitasHasilPemeriksaanStsPnrBbmList.Temperature.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmList.Pressure.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.Pressure.Visible (begin)
        <th data-name="Pressure" class="@(subaktivitasHasilPemeriksaanStsPnrBbmList.Pressure.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_Pressure" class="SubaktivitasHasilPemeriksaanSTSPnrBBM_Pressure">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.RenderFieldHeader(subaktivitasHasilPemeriksaanStsPnrBbmList.Pressure))</div></th>
} @* subaktivitasHasilPemeriksaanStsPnrBbmList.Pressure.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmList.userInput.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subaktivitasHasilPemeriksaanStsPnrBbmList.userInput.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_userInput" class="SubaktivitasHasilPemeriksaanSTSPnrBBM_userInput">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.RenderFieldHeader(subaktivitasHasilPemeriksaanStsPnrBbmList.userInput))</div></th>
} @* subaktivitasHasilPemeriksaanStsPnrBbmList.userInput.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmList.etlDate.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subaktivitasHasilPemeriksaanStsPnrBbmList.etlDate.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_etlDate" class="SubaktivitasHasilPemeriksaanSTSPnrBBM_etlDate">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.RenderFieldHeader(subaktivitasHasilPemeriksaanStsPnrBbmList.etlDate))</div></th>
} @* subaktivitasHasilPemeriksaanStsPnrBbmList.etlDate.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmList.idProses.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subaktivitasHasilPemeriksaanStsPnrBbmList.idProses.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_idProses" class="SubaktivitasHasilPemeriksaanSTSPnrBBM_idProses">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.RenderFieldHeader(subaktivitasHasilPemeriksaanStsPnrBbmList.idProses))</div></th>
} @* subaktivitasHasilPemeriksaanStsPnrBbmList.idProses.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmList.LastUpdatedBy.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subaktivitasHasilPemeriksaanStsPnrBbmList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_LastUpdatedBy" class="SubaktivitasHasilPemeriksaanSTSPnrBBM_LastUpdatedBy">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.RenderFieldHeader(subaktivitasHasilPemeriksaanStsPnrBbmList.LastUpdatedBy))</div></th>
} @* subaktivitasHasilPemeriksaanStsPnrBbmList.LastUpdatedBy.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmList.lastUpdatedDate.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subaktivitasHasilPemeriksaanStsPnrBbmList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_lastUpdatedDate" class="SubaktivitasHasilPemeriksaanSTSPnrBBM_lastUpdatedDate">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.RenderFieldHeader(subaktivitasHasilPemeriksaanStsPnrBbmList.lastUpdatedDate))</div></th>
} @* subaktivitasHasilPemeriksaanStsPnrBbmList.lastUpdatedDate.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmList.NoReferensi.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subaktivitasHasilPemeriksaanStsPnrBbmList.NoReferensi.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_NoReferensi" class="SubaktivitasHasilPemeriksaanSTSPnrBBM_NoReferensi">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.RenderFieldHeader(subaktivitasHasilPemeriksaanStsPnrBbmList.NoReferensi))</div></th>
} @* subaktivitasHasilPemeriksaanStsPnrBbmList.NoReferensi.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmList.TanggalJamSOP.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.TanggalJamSOP.Visible (begin)
        <th data-name="TanggalJamSOP" class="@(subaktivitasHasilPemeriksaanStsPnrBbmList.TanggalJamSOP.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_TanggalJamSOP" class="SubaktivitasHasilPemeriksaanSTSPnrBBM_TanggalJamSOP">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.RenderFieldHeader(subaktivitasHasilPemeriksaanStsPnrBbmList.TanggalJamSOP))</div></th>
} @* subaktivitasHasilPemeriksaanStsPnrBbmList.TanggalJamSOP.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmList.SelisihWaktu.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.SelisihWaktu.Visible (begin)
        <th data-name="SelisihWaktu" class="@(subaktivitasHasilPemeriksaanStsPnrBbmList.SelisihWaktu.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_SelisihWaktu" class="SubaktivitasHasilPemeriksaanSTSPnrBBM_SelisihWaktu">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.RenderFieldHeader(subaktivitasHasilPemeriksaanStsPnrBbmList.SelisihWaktu))</div></th>
} @* subaktivitasHasilPemeriksaanStsPnrBbmList.SelisihWaktu.Visible (end) *@
@if (subaktivitasHasilPemeriksaanStsPnrBbmList.IsQualityActive.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.IsQualityActive.Visible (begin)
        <th data-name="IsQualityActive" class="@(subaktivitasHasilPemeriksaanStsPnrBbmList.IsQualityActive.HeaderCellClass)"><div id="elh_SubaktivitasHasilPemeriksaanSTSPnrBBM_IsQualityActive" class="SubaktivitasHasilPemeriksaanSTSPnrBBM_IsQualityActive">@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.RenderFieldHeader(subaktivitasHasilPemeriksaanStsPnrBbmList.IsQualityActive))</div></th>
} @* subaktivitasHasilPemeriksaanStsPnrBbmList.IsQualityActive.Visible (end) *@
@* Render list options (header, right) *@
@subaktivitasHasilPemeriksaanStsPnrBbmList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subaktivitasHasilPemeriksaanStsPnrBbmList.PageNumber)">
@{
    await subaktivitasHasilPemeriksaanStsPnrBbmList.SetupGrid();
    bool eof = subaktivitasHasilPemeriksaanStsPnrBbmList.Recordset == null; // DN
}
@while (subaktivitasHasilPemeriksaanStsPnrBbmList.RecordCount < subaktivitasHasilPemeriksaanStsPnrBbmList.StopRecord || SameString(subaktivitasHasilPemeriksaanStsPnrBbmList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subaktivitasHasilPemeriksaanStsPnrBbmList.RowIndex, "$rowindex$") &&
        (!subaktivitasHasilPemeriksaanStsPnrBbmList.IsGridAdd || subaktivitasHasilPemeriksaanStsPnrBbmList.CurrentMode == "copy") &&
        (!((subaktivitasHasilPemeriksaanStsPnrBbmList.IsCopy || subaktivitasHasilPemeriksaanStsPnrBbmList.IsAdd) && subaktivitasHasilPemeriksaanStsPnrBbmList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subaktivitasHasilPemeriksaanStsPnrBbmList.Recordset.ReadAsync();
    subaktivitasHasilPemeriksaanStsPnrBbmList.RecordCount++;
    if (subaktivitasHasilPemeriksaanStsPnrBbmList.RecordCount >= subaktivitasHasilPemeriksaanStsPnrBbmList.StartRecord) {
        await subaktivitasHasilPemeriksaanStsPnrBbmList.SetupRow();
    <tr @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.RowAttributes)>
    @* Render list options (body, left) *@
    @subaktivitasHasilPemeriksaanStsPnrBbmList.ListOptions.RenderBody("left", subaktivitasHasilPemeriksaanStsPnrBbmList.RowCount)
    @if (subaktivitasHasilPemeriksaanStsPnrBbmList.id.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.id.CellAttributes)>
<span id="el@(subaktivitasHasilPemeriksaanStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasHasilPemeriksaanStsPnrBbmList.RowCount)_SubaktivitasHasilPemeriksaanSTSPnrBBM_id" class="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_id">
<span @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.id.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.id.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanStsPnrBbmList.id.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanStsPnrBbmList.idAktifitas.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.idAktifitas.CellAttributes)>
<span id="el@(subaktivitasHasilPemeriksaanStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasHasilPemeriksaanStsPnrBbmList.RowCount)_SubaktivitasHasilPemeriksaanSTSPnrBBM_idAktifitas" class="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_idAktifitas">
<span @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.idAktifitas.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanStsPnrBbmList.idAktifitas.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanStsPnrBbmList.NamaKapal.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.NamaKapal.Visible (begin)
        <td data-name="NamaKapal" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.NamaKapal.CellAttributes)>
<span id="el@(subaktivitasHasilPemeriksaanStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasHasilPemeriksaanStsPnrBbmList.RowCount)_SubaktivitasHasilPemeriksaanSTSPnrBBM_NamaKapal" class="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_NamaKapal">
<span @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.NamaKapal.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.NamaKapal.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanStsPnrBbmList.NamaKapal.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanStsPnrBbmList.TanggalJam.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.TanggalJam.Visible (begin)
        <td data-name="TanggalJam" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.TanggalJam.CellAttributes)>
<span id="el@(subaktivitasHasilPemeriksaanStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasHasilPemeriksaanStsPnrBbmList.RowCount)_SubaktivitasHasilPemeriksaanSTSPnrBBM_TanggalJam" class="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_TanggalJam">
<span @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.TanggalJam.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.TanggalJam.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanStsPnrBbmList.TanggalJam.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanStsPnrBbmList.NamaKegiatan.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.NamaKegiatan.Visible (begin)
        <td data-name="NamaKegiatan" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.NamaKegiatan.CellAttributes)>
<span id="el@(subaktivitasHasilPemeriksaanStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasHasilPemeriksaanStsPnrBbmList.RowCount)_SubaktivitasHasilPemeriksaanSTSPnrBBM_NamaKegiatan" class="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_NamaKegiatan">
<span @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.NamaKegiatan.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.NamaKegiatan.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanStsPnrBbmList.NamaKegiatan.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanStsPnrBbmList.Produk.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.Produk.CellAttributes)>
<span id="el@(subaktivitasHasilPemeriksaanStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasHasilPemeriksaanStsPnrBbmList.RowCount)_SubaktivitasHasilPemeriksaanSTSPnrBBM_Produk" class="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_Produk">
<span @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.Produk.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanStsPnrBbmList.Produk.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanStsPnrBbmList.Density.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.Density.Visible (begin)
        <td data-name="Density" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.Density.CellAttributes)>
<span id="el@(subaktivitasHasilPemeriksaanStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasHasilPemeriksaanStsPnrBbmList.RowCount)_SubaktivitasHasilPemeriksaanSTSPnrBBM_Density" class="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_Density">
<span @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.Density.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.Density.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanStsPnrBbmList.Density.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanStsPnrBbmList.Temperature.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.Temperature.Visible (begin)
        <td data-name="Temperature" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.Temperature.CellAttributes)>
<span id="el@(subaktivitasHasilPemeriksaanStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasHasilPemeriksaanStsPnrBbmList.RowCount)_SubaktivitasHasilPemeriksaanSTSPnrBBM_Temperature" class="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_Temperature">
<span @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.Temperature.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.Temperature.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanStsPnrBbmList.Temperature.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanStsPnrBbmList.Pressure.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.Pressure.Visible (begin)
        <td data-name="Pressure" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.Pressure.CellAttributes)>
<span id="el@(subaktivitasHasilPemeriksaanStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasHasilPemeriksaanStsPnrBbmList.RowCount)_SubaktivitasHasilPemeriksaanSTSPnrBBM_Pressure" class="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_Pressure">
<span @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.Pressure.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.Pressure.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanStsPnrBbmList.Pressure.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanStsPnrBbmList.userInput.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.userInput.CellAttributes)>
<span id="el@(subaktivitasHasilPemeriksaanStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasHasilPemeriksaanStsPnrBbmList.RowCount)_SubaktivitasHasilPemeriksaanSTSPnrBBM_userInput" class="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_userInput">
<span @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.userInput.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanStsPnrBbmList.userInput.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanStsPnrBbmList.etlDate.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.etlDate.CellAttributes)>
<span id="el@(subaktivitasHasilPemeriksaanStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasHasilPemeriksaanStsPnrBbmList.RowCount)_SubaktivitasHasilPemeriksaanSTSPnrBBM_etlDate" class="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_etlDate">
<span @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.etlDate.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanStsPnrBbmList.etlDate.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanStsPnrBbmList.idProses.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.idProses.CellAttributes)>
<span id="el@(subaktivitasHasilPemeriksaanStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasHasilPemeriksaanStsPnrBbmList.RowCount)_SubaktivitasHasilPemeriksaanSTSPnrBBM_idProses" class="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_idProses">
<span @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.idProses.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanStsPnrBbmList.idProses.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanStsPnrBbmList.LastUpdatedBy.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.LastUpdatedBy.CellAttributes)>
<span id="el@(subaktivitasHasilPemeriksaanStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasHasilPemeriksaanStsPnrBbmList.RowCount)_SubaktivitasHasilPemeriksaanSTSPnrBBM_LastUpdatedBy" class="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_LastUpdatedBy">
<span @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanStsPnrBbmList.LastUpdatedBy.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanStsPnrBbmList.lastUpdatedDate.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.lastUpdatedDate.CellAttributes)>
<span id="el@(subaktivitasHasilPemeriksaanStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasHasilPemeriksaanStsPnrBbmList.RowCount)_SubaktivitasHasilPemeriksaanSTSPnrBBM_lastUpdatedDate" class="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_lastUpdatedDate">
<span @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanStsPnrBbmList.lastUpdatedDate.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanStsPnrBbmList.NoReferensi.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.NoReferensi.CellAttributes)>
<span id="el@(subaktivitasHasilPemeriksaanStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasHasilPemeriksaanStsPnrBbmList.RowCount)_SubaktivitasHasilPemeriksaanSTSPnrBBM_NoReferensi" class="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_NoReferensi">
<span @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.NoReferensi.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanStsPnrBbmList.NoReferensi.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanStsPnrBbmList.TanggalJamSOP.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.TanggalJamSOP.Visible (begin)
        <td data-name="TanggalJamSOP" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.TanggalJamSOP.CellAttributes)>
<span id="el@(subaktivitasHasilPemeriksaanStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasHasilPemeriksaanStsPnrBbmList.RowCount)_SubaktivitasHasilPemeriksaanSTSPnrBBM_TanggalJamSOP" class="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_TanggalJamSOP">
<span @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.TanggalJamSOP.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.TanggalJamSOP.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanStsPnrBbmList.TanggalJamSOP.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanStsPnrBbmList.SelisihWaktu.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.SelisihWaktu.Visible (begin)
        <td data-name="SelisihWaktu" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.SelisihWaktu.CellAttributes)>
<span id="el@(subaktivitasHasilPemeriksaanStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasHasilPemeriksaanStsPnrBbmList.RowCount)_SubaktivitasHasilPemeriksaanSTSPnrBBM_SelisihWaktu" class="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_SelisihWaktu">
<span @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.SelisihWaktu.ViewAttributes)>
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.SelisihWaktu.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanStsPnrBbmList.SelisihWaktu.Visible (end) *@
    @if (subaktivitasHasilPemeriksaanStsPnrBbmList.IsQualityActive.Visible) { // subaktivitasHasilPemeriksaanStsPnrBbmList.IsQualityActive.Visible (begin)
        <td data-name="IsQualityActive" @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.IsQualityActive.CellAttributes)>
<span id="el@(subaktivitasHasilPemeriksaanStsPnrBbmList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasHasilPemeriksaanStsPnrBbmList.RowCount)_SubaktivitasHasilPemeriksaanSTSPnrBBM_IsQualityActive" class="el_SubaktivitasHasilPemeriksaanSTSPnrBBM_IsQualityActive">
<span @Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.IsQualityActive.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(subaktivitasHasilPemeriksaanStsPnrBbmList.IsQualityActive.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span>
</td>
    } @* subaktivitasHasilPemeriksaanStsPnrBbmList.IsQualityActive.Visible (end) *@
    @* Render list options (body, right) *@
    @subaktivitasHasilPemeriksaanStsPnrBbmList.ListOptions.RenderBody("right", subaktivitasHasilPemeriksaanStsPnrBbmList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subaktivitasHasilPemeriksaanStsPnrBbmList.RowIndex, "$rowindex$"))
        subaktivitasHasilPemeriksaanStsPnrBbmList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subaktivitasHasilPemeriksaanStsPnrBbmList.IsCopy || subaktivitasHasilPemeriksaanStsPnrBbmList.IsAdd) && subaktivitasHasilPemeriksaanStsPnrBbmList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subaktivitasHasilPemeriksaanStsPnrBbmList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subaktivitasHasilPemeriksaanStsPnrBbmList.CurrentAction) && !subaktivitasHasilPemeriksaanStsPnrBbmList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subaktivitasHasilPemeriksaanStsPnrBbmList.CloseRecordset(); }
@if (!subaktivitasHasilPemeriksaanStsPnrBbmList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subaktivitasHasilPemeriksaanStsPnrBbmList.IsGridAdd && !(subaktivitasHasilPemeriksaanStsPnrBbmList.IsGridEdit && subaktivitasHasilPemeriksaanStsPnrBbmList.ModalGridEdit) && !subaktivitasHasilPemeriksaanStsPnrBbmList.IsMultiEdit) {
@Html.Raw(subaktivitasHasilPemeriksaanStsPnrBbmList.Pager.Render())
}
<div class="ew-list-other-options">
@subaktivitasHasilPemeriksaanStsPnrBbmList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subaktivitasHasilPemeriksaanStsPnrBbmList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subaktivitasHasilPemeriksaanStsPnrBbmList.FooterOptions.RenderBody()
</div>
</main>
@subaktivitasHasilPemeriksaanStsPnrBbmList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subaktivitasHasilPemeriksaanStsPnrBbmList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubaktivitasHasilPemeriksaanSTSPnrBBM");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
