@{
    // View
    View = this;

    // Check action result
    if (subAktivitasLogbookPenerimaanStsPymBbmEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasLogbookPenerimaanStsPymBbmEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasLogbookPenerimaanStsPymBbmEdit.ShowPageHeader()
@subAktivitasLogbookPenerimaanStsPymBbmEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasLogbookPenerimaanSTSPymBBMedit" id="fSubAktivitasLogbookPenerimaanSTSPymBBMedit" class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasLogbookPenerimaanStsPymBbmEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasLogbookPenerimaanSTSPymBBM: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasLogbookPenerimaanSTSPymBBMedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasLogbookPenerimaanSTSPymBBMedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["Nama_Kapal", [fields.Nama_Kapal.visible && fields.Nama_Kapal.required ? ew.Validators.required(fields.Nama_Kapal.caption) : null], fields.Nama_Kapal.isInvalid],
            ["TanggalJam", [fields.TanggalJam.visible && fields.TanggalJam.required ? ew.Validators.required(fields.TanggalJam.caption) : null, ew.Validators.datetime(fields.TanggalJam.clientFormatPattern)], fields.TanggalJam.isInvalid],
            ["Nama_Kegiatan", [fields.Nama_Kegiatan.visible && fields.Nama_Kegiatan.required ? ew.Validators.required(fields.Nama_Kegiatan.caption) : null], fields.Nama_Kegiatan.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["Density", [fields.Density.visible && fields.Density.required ? ew.Validators.required(fields.Density.caption) : null], fields.Density.isInvalid],
            ["Temperatur", [fields.Temperatur.visible && fields.Temperatur.required ? ew.Validators.required(fields.Temperatur.caption) : null], fields.Temperatur.isInvalid],
            ["Level", [fields.Level.visible && fields.Level.required ? ew.Validators.required(fields.Level.caption) : null], fields.Level.isInvalid],
            ["Volume", [fields.Volume.visible && fields.Volume.required ? ew.Validators.required(fields.Volume.caption) : null], fields.Volume.isInvalid],
            ["Flowrate", [fields.Flowrate.visible && fields.Flowrate.required ? ew.Validators.required(fields.Flowrate.caption) : null], fields.Flowrate.isInvalid],
            ["Keterangan", [fields.Keterangan.visible && fields.Keterangan.required ? ew.Validators.required(fields.Keterangan.caption) : null], fields.Keterangan.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["SubAktivitasHasilPemeriksaanId", [fields.SubAktivitasHasilPemeriksaanId.visible && fields.SubAktivitasHasilPemeriksaanId.required ? ew.Validators.required(fields.SubAktivitasHasilPemeriksaanId.caption) : null, ew.Validators.integer], fields.SubAktivitasHasilPemeriksaanId.isInvalid],
            ["TanggalJamSOP", [fields.TanggalJamSOP.visible && fields.TanggalJamSOP.required ? ew.Validators.required(fields.TanggalJamSOP.caption) : null, ew.Validators.datetime(fields.TanggalJamSOP.clientFormatPattern)], fields.TanggalJamSOP.isInvalid],
            ["SelisihWaktu", [fields.SelisihWaktu.visible && fields.SelisihWaktu.required ? ew.Validators.required(fields.SelisihWaktu.caption) : null], fields.SelisihWaktu.isInvalid],
            ["IsQualityActive", [fields.IsQualityActive.visible && fields.IsQualityActive.required ? ew.Validators.required(fields.IsQualityActive.caption) : null], fields.IsQualityActive.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "IsQualityActive": @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.IsQualityActive.ToClientList(subAktivitasLogbookPenerimaanStsPymBbmEdit)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasLogbookPenerimaanStsPymBbmEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.OldKeyName)" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasLogbookPenerimaanStsPymBbmEdit.id.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.id.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_id" class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.id.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.id.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymBBM_id">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasLogbookPenerimaanStsPymBbmEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasLogbookPenerimaanSTSPymBBM" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymBbmEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymBbmEdit.id.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmEdit.idProses.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_idProses" for="x_idProses" class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.idProses.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymBBM_idProses">
<input type="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubAktivitasLogbookPenerimaanSTSPymBBM" data-field="x_idProses" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymBbmEdit.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.idProses.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymBbmEdit.idProses.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmEdit.idAktifitas.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_idAktifitas" for="x_idAktifitas" class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.idAktifitas.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymBBM_idAktifitas">
<input type="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubAktivitasLogbookPenerimaanSTSPymBBM" data-field="x_idAktifitas" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymBbmEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.idAktifitas.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymBbmEdit.idAktifitas.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmEdit.NoReferensi.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_NoReferensi" for="x_NoReferensi" class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.NoReferensi.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymBBM_NoReferensi">
<input type="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasLogbookPenerimaanSTSPymBBM" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.NoReferensi.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymBbmEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymBbmEdit.NoReferensi.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmEdit.Nama_Kapal.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmEdit.Nama_Kapal.Visible (begin)
    <div id="r_Nama_Kapal" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Nama_Kapal.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_Nama_Kapal" for="x_Nama_Kapal" class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Nama_Kapal.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Nama_Kapal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Nama_Kapal.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymBBM_Nama_Kapal">
<input type="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.Nama_Kapal.InputTextType)" name="x_Nama_Kapal" id="x_Nama_Kapal" data-table="SubAktivitasLogbookPenerimaanSTSPymBBM" data-field="x_Nama_Kapal" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Nama_Kapal.EditValue)" size="30" maxlength="200" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymBbmEdit.Nama_Kapal.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.Nama_Kapal.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Nama_Kapal.EditAttributes) aria-describedby="x_Nama_Kapal_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Nama_Kapal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Nama_Kapal.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymBbmEdit.Nama_Kapal.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJam.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJam.Visible (begin)
    <div id="r_TanggalJam" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJam.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_TanggalJam" for="x_TanggalJam" class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJam.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJam.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJam.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymBBM_TanggalJam">
<input type="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJam.InputTextType)" name="x_TanggalJam" id="x_TanggalJam" data-table="SubAktivitasLogbookPenerimaanSTSPymBBM" data-field="x_TanggalJam" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJam.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJam.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJam.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJam.EditAttributes) aria-describedby="x_TanggalJam_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJam.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJam.GetErrorMessage())</div>
@if (!subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJam.ReadOnly && !subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJam.Disabled && !subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJam.EditAttrs.Is("readonly") && !subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJam.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasLogbookPenerimaanSTSPymBBMedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasLogbookPenerimaanSTSPymBBMedit", "x_TanggalJam", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJam.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmEdit.Nama_Kegiatan.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmEdit.Nama_Kegiatan.Visible (begin)
    <div id="r_Nama_Kegiatan" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Nama_Kegiatan.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_Nama_Kegiatan" for="x_Nama_Kegiatan" class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Nama_Kegiatan.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Nama_Kegiatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Nama_Kegiatan.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymBBM_Nama_Kegiatan">
<input type="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.Nama_Kegiatan.InputTextType)" name="x_Nama_Kegiatan" id="x_Nama_Kegiatan" data-table="SubAktivitasLogbookPenerimaanSTSPymBBM" data-field="x_Nama_Kegiatan" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Nama_Kegiatan.EditValue)" size="30" maxlength="200" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymBbmEdit.Nama_Kegiatan.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.Nama_Kegiatan.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Nama_Kegiatan.EditAttributes) aria-describedby="x_Nama_Kegiatan_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Nama_Kegiatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Nama_Kegiatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymBbmEdit.Nama_Kegiatan.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmEdit.Produk.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Produk.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_Produk" for="x_Produk" class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Produk.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Produk.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymBBM_Produk">
<input type="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasLogbookPenerimaanSTSPymBBM" data-field="x_Produk" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Produk.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymBbmEdit.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.Produk.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymBbmEdit.Produk.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmEdit.Density.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmEdit.Density.Visible (begin)
    <div id="r_Density" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Density.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_Density" for="x_Density" class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Density.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Density.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Density.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymBBM_Density">
<input type="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.Density.InputTextType)" name="x_Density" id="x_Density" data-table="SubAktivitasLogbookPenerimaanSTSPymBBM" data-field="x_Density" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Density.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymBbmEdit.Density.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.Density.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Density.EditAttributes) aria-describedby="x_Density_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Density.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Density.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymBbmEdit.Density.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmEdit.Temperatur.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmEdit.Temperatur.Visible (begin)
    <div id="r_Temperatur" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Temperatur.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_Temperatur" for="x_Temperatur" class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Temperatur.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Temperatur.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Temperatur.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymBBM_Temperatur">
<input type="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.Temperatur.InputTextType)" name="x_Temperatur" id="x_Temperatur" data-table="SubAktivitasLogbookPenerimaanSTSPymBBM" data-field="x_Temperatur" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Temperatur.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymBbmEdit.Temperatur.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.Temperatur.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Temperatur.EditAttributes) aria-describedby="x_Temperatur_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Temperatur.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Temperatur.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymBbmEdit.Temperatur.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmEdit.Level.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmEdit.Level.Visible (begin)
    <div id="r_Level" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Level.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_Level" for="x_Level" class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Level.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Level.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Level.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymBBM_Level">
<input type="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.Level.InputTextType)" name="x_Level" id="x_Level" data-table="SubAktivitasLogbookPenerimaanSTSPymBBM" data-field="x_Level" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Level.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymBbmEdit.Level.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.Level.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Level.EditAttributes) aria-describedby="x_Level_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Level.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Level.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymBbmEdit.Level.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmEdit.Volume.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmEdit.Volume.Visible (begin)
    <div id="r_Volume" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Volume.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_Volume" for="x_Volume" class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Volume.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Volume.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Volume.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymBBM_Volume">
<input type="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.Volume.InputTextType)" name="x_Volume" id="x_Volume" data-table="SubAktivitasLogbookPenerimaanSTSPymBBM" data-field="x_Volume" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Volume.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymBbmEdit.Volume.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.Volume.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Volume.EditAttributes) aria-describedby="x_Volume_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Volume.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Volume.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymBbmEdit.Volume.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmEdit.Flowrate.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmEdit.Flowrate.Visible (begin)
    <div id="r_Flowrate" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Flowrate.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_Flowrate" for="x_Flowrate" class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Flowrate.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Flowrate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Flowrate.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymBBM_Flowrate">
<input type="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.Flowrate.InputTextType)" name="x_Flowrate" id="x_Flowrate" data-table="SubAktivitasLogbookPenerimaanSTSPymBBM" data-field="x_Flowrate" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Flowrate.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymBbmEdit.Flowrate.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.Flowrate.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Flowrate.EditAttributes) aria-describedby="x_Flowrate_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Flowrate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Flowrate.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymBbmEdit.Flowrate.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmEdit.Keterangan.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmEdit.Keterangan.Visible (begin)
    <div id="r_Keterangan" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Keterangan.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_Keterangan" for="x_Keterangan" class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Keterangan.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Keterangan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Keterangan.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymBBM_Keterangan">
<textarea data-table="SubAktivitasLogbookPenerimaanSTSPymBBM" data-field="x_Keterangan" name="x_Keterangan" id="x_Keterangan" cols="35" rows="4" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymBbmEdit.Keterangan.PlaceHolder))"@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Keterangan.EditAttributes) aria-describedby="x_Keterangan_help">@(subAktivitasLogbookPenerimaanStsPymBbmEdit.Keterangan.EditValue)</textarea>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Keterangan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.Keterangan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymBbmEdit.Keterangan.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmEdit.userInput.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.userInput.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_userInput" for="x_userInput" class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.userInput.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.userInput.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymBBM_userInput">
<input type="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasLogbookPenerimaanSTSPymBBM" data-field="x_userInput" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymBbmEdit.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.userInput.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymBbmEdit.userInput.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmEdit.etlDate.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_etlDate" for="x_etlDate" class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.etlDate.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.etlDate.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymBBM_etlDate">
<input type="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasLogbookPenerimaanSTSPymBBM" data-field="x_etlDate" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymBbmEdit.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.etlDate.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.etlDate.GetErrorMessage())</div>
@if (!subAktivitasLogbookPenerimaanStsPymBbmEdit.etlDate.ReadOnly && !subAktivitasLogbookPenerimaanStsPymBbmEdit.etlDate.Disabled && !subAktivitasLogbookPenerimaanStsPymBbmEdit.etlDate.EditAttrs.Is("readonly") && !subAktivitasLogbookPenerimaanStsPymBbmEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasLogbookPenerimaanSTSPymBBMedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasLogbookPenerimaanSTSPymBBMedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymBbmEdit.etlDate.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmEdit.LastUpdatedBy.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymBBM_LastUpdatedBy">
<input type="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasLogbookPenerimaanSTSPymBBM" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymBbmEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymBbmEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymBBM_lastUpdatedDate">
<input type="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasLogbookPenerimaanSTSPymBBM" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.ReadOnly && !subAktivitasLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.Disabled && !subAktivitasLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasLogbookPenerimaanSTSPymBBMedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasLogbookPenerimaanSTSPymBBMedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmEdit.SubAktivitasHasilPemeriksaanId.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmEdit.SubAktivitasHasilPemeriksaanId.Visible (begin)
    <div id="r_SubAktivitasHasilPemeriksaanId" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.SubAktivitasHasilPemeriksaanId.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_SubAktivitasHasilPemeriksaanId" for="x_SubAktivitasHasilPemeriksaanId" class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.SubAktivitasHasilPemeriksaanId.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.SubAktivitasHasilPemeriksaanId.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.SubAktivitasHasilPemeriksaanId.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymBBM_SubAktivitasHasilPemeriksaanId">
<input type="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.SubAktivitasHasilPemeriksaanId.InputTextType)" name="x_SubAktivitasHasilPemeriksaanId" id="x_SubAktivitasHasilPemeriksaanId" data-table="SubAktivitasLogbookPenerimaanSTSPymBBM" data-field="x_SubAktivitasHasilPemeriksaanId" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.SubAktivitasHasilPemeriksaanId.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymBbmEdit.SubAktivitasHasilPemeriksaanId.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.SubAktivitasHasilPemeriksaanId.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.SubAktivitasHasilPemeriksaanId.EditAttributes) aria-describedby="x_SubAktivitasHasilPemeriksaanId_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.SubAktivitasHasilPemeriksaanId.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.SubAktivitasHasilPemeriksaanId.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymBbmEdit.SubAktivitasHasilPemeriksaanId.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJamSOP.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJamSOP.Visible (begin)
    <div id="r_TanggalJamSOP" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJamSOP.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_TanggalJamSOP" for="x_TanggalJamSOP" class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJamSOP.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJamSOP.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJamSOP.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymBBM_TanggalJamSOP">
<input type="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJamSOP.InputTextType)" name="x_TanggalJamSOP" id="x_TanggalJamSOP" data-table="SubAktivitasLogbookPenerimaanSTSPymBBM" data-field="x_TanggalJamSOP" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJamSOP.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJamSOP.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJamSOP.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJamSOP.EditAttributes) aria-describedby="x_TanggalJamSOP_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJamSOP.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJamSOP.GetErrorMessage())</div>
@if (!subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJamSOP.ReadOnly && !subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJamSOP.Disabled && !subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJamSOP.EditAttrs.Is("readonly") && !subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJamSOP.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasLogbookPenerimaanSTSPymBBMedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasLogbookPenerimaanSTSPymBBMedit", "x_TanggalJamSOP", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymBbmEdit.TanggalJamSOP.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmEdit.SelisihWaktu.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmEdit.SelisihWaktu.Visible (begin)
    <div id="r_SelisihWaktu" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.SelisihWaktu.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_SelisihWaktu" for="x_SelisihWaktu" class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.SelisihWaktu.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.SelisihWaktu.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.SelisihWaktu.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymBBM_SelisihWaktu">
<input type="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.SelisihWaktu.InputTextType)" name="x_SelisihWaktu" id="x_SelisihWaktu" data-table="SubAktivitasLogbookPenerimaanSTSPymBBM" data-field="x_SelisihWaktu" value="@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.SelisihWaktu.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymBbmEdit.SelisihWaktu.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.SelisihWaktu.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.SelisihWaktu.EditAttributes) aria-describedby="x_SelisihWaktu_help">
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.SelisihWaktu.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.SelisihWaktu.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymBbmEdit.SelisihWaktu.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmEdit.IsQualityActive.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmEdit.IsQualityActive.Visible (begin)
    <div id="r_IsQualityActive" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.IsQualityActive.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_IsQualityActive" class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.IsQualityActive.Caption)@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.IsQualityActive.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.IsQualityActive.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanSTSPymBBM_IsQualityActive">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(subAktivitasLogbookPenerimaanStsPymBbmEdit.IsQualityActive.IsInvalidClass)" data-table="SubAktivitasLogbookPenerimaanSTSPymBBM" data-field="x_IsQualityActive" data-boolean name="x_IsQualityActive" id="x_IsQualityActive" value="1" checked="@ConvertToBool(subAktivitasLogbookPenerimaanStsPymBbmEdit.IsQualityActive.CurrentValue)" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.IsQualityActive.EditAttributes) aria-describedby="x_IsQualityActive_help">
    <div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.IsQualityActive.GetErrorMessage())</div>
</div>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.IsQualityActive.GetCustomMessage)
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanStsPymBbmEdit.IsQualityActive.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasLogbookPenerimaanStsPymBbmEdit.CloseRecordset(); }
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasLogbookPenerimaanStsPymBbmEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasLogbookPenerimaanSTSPymBBMedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasLogbookPenerimaanSTSPymBBMedit" data-href="@AppPath(subAktivitasLogbookPenerimaanStsPymBbmEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasLogbookPenerimaanStsPymBbmEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasLogbookPenerimaanSTSPymBBM");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
