@{
    // View
    View = this;

    // Check action result
    if (subAktivitasDataGerbongKetelRtwDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasDataGerbongKetelRtwDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataGerbongKetelRtwDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataGerbongKetelRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fSubAktivitasDataGerbongKetelRTWdelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasDataGerbongKetelRTWdelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasDataGerbongKetelRtwDelete.ShowPageHeader()
@subAktivitasDataGerbongKetelRtwDelete.ShowMessages()
<form name="fSubAktivitasDataGerbongKetelRTWdelete" id="fSubAktivitasDataGerbongKetelRTWdelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in subAktivitasDataGerbongKetelRtwDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(subAktivitasDataGerbongKetelRtwDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(subAktivitasDataGerbongKetelRtwDelete.TableContainerClass)" style="@(subAktivitasDataGerbongKetelRtwDelete.TableContainerStyle)">
<table class="@(subAktivitasDataGerbongKetelRtwDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (subAktivitasDataGerbongKetelRtwDelete.id.Visible) { // subAktivitasDataGerbongKetelRtwDelete.id.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.id.HeaderCellClass)"><span id="elh_SubAktivitasDataGerbongKetelRTW_id" class="SubAktivitasDataGerbongKetelRTW_id">@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.id.Caption)</span></th>
} @* subAktivitasDataGerbongKetelRtwDelete.id.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwDelete.NoReferensi.Visible) { // subAktivitasDataGerbongKetelRtwDelete.NoReferensi.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.NoReferensi.HeaderCellClass)"><span id="elh_SubAktivitasDataGerbongKetelRTW_NoReferensi" class="SubAktivitasDataGerbongKetelRTW_NoReferensi">@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.NoReferensi.Caption)</span></th>
} @* subAktivitasDataGerbongKetelRtwDelete.NoReferensi.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwDelete.idProses.Visible) { // subAktivitasDataGerbongKetelRtwDelete.idProses.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.idProses.HeaderCellClass)"><span id="elh_SubAktivitasDataGerbongKetelRTW_idProses" class="SubAktivitasDataGerbongKetelRTW_idProses">@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.idProses.Caption)</span></th>
} @* subAktivitasDataGerbongKetelRtwDelete.idProses.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwDelete.idAktifitas.Visible) { // subAktivitasDataGerbongKetelRtwDelete.idAktifitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.idAktifitas.HeaderCellClass)"><span id="elh_SubAktivitasDataGerbongKetelRTW_idAktifitas" class="SubAktivitasDataGerbongKetelRTW_idAktifitas">@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.idAktifitas.Caption)</span></th>
} @* subAktivitasDataGerbongKetelRtwDelete.idAktifitas.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwDelete.StatusAktivitas.Visible) { // subAktivitasDataGerbongKetelRtwDelete.StatusAktivitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.StatusAktivitas.HeaderCellClass)"><span id="elh_SubAktivitasDataGerbongKetelRTW_StatusAktivitas" class="SubAktivitasDataGerbongKetelRTW_StatusAktivitas">@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.StatusAktivitas.Caption)</span></th>
} @* subAktivitasDataGerbongKetelRtwDelete.StatusAktivitas.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwDelete.LastUpdatedBy.Visible) { // subAktivitasDataGerbongKetelRtwDelete.LastUpdatedBy.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.LastUpdatedBy.HeaderCellClass)"><span id="elh_SubAktivitasDataGerbongKetelRTW_LastUpdatedBy" class="SubAktivitasDataGerbongKetelRTW_LastUpdatedBy">@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.LastUpdatedBy.Caption)</span></th>
} @* subAktivitasDataGerbongKetelRtwDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwDelete.lastUpdatedDate.Visible) { // subAktivitasDataGerbongKetelRtwDelete.lastUpdatedDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.lastUpdatedDate.HeaderCellClass)"><span id="elh_SubAktivitasDataGerbongKetelRTW_lastUpdatedDate" class="SubAktivitasDataGerbongKetelRTW_lastUpdatedDate">@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.lastUpdatedDate.Caption)</span></th>
} @* subAktivitasDataGerbongKetelRtwDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwDelete.Shipment.Visible) { // subAktivitasDataGerbongKetelRtwDelete.Shipment.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.Shipment.HeaderCellClass)"><span id="elh_SubAktivitasDataGerbongKetelRTW_Shipment" class="SubAktivitasDataGerbongKetelRTW_Shipment">@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.Shipment.Caption)</span></th>
} @* subAktivitasDataGerbongKetelRtwDelete.Shipment.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwDelete.JenisProduk.Visible) { // subAktivitasDataGerbongKetelRtwDelete.JenisProduk.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.JenisProduk.HeaderCellClass)"><span id="elh_SubAktivitasDataGerbongKetelRTW_JenisProduk" class="SubAktivitasDataGerbongKetelRTW_JenisProduk">@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.JenisProduk.Caption)</span></th>
} @* subAktivitasDataGerbongKetelRtwDelete.JenisProduk.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwDelete.TanggalTiba.Visible) { // subAktivitasDataGerbongKetelRtwDelete.TanggalTiba.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.TanggalTiba.HeaderCellClass)"><span id="elh_SubAktivitasDataGerbongKetelRTW_TanggalTiba" class="SubAktivitasDataGerbongKetelRTW_TanggalTiba">@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.TanggalTiba.Caption)</span></th>
} @* subAktivitasDataGerbongKetelRtwDelete.TanggalTiba.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwDelete.Nominasi.Visible) { // subAktivitasDataGerbongKetelRtwDelete.Nominasi.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.Nominasi.HeaderCellClass)"><span id="elh_SubAktivitasDataGerbongKetelRTW_Nominasi" class="SubAktivitasDataGerbongKetelRTW_Nominasi">@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.Nominasi.Caption)</span></th>
} @* subAktivitasDataGerbongKetelRtwDelete.Nominasi.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwDelete.userInput.Visible) { // subAktivitasDataGerbongKetelRtwDelete.userInput.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.userInput.HeaderCellClass)"><span id="elh_SubAktivitasDataGerbongKetelRTW_userInput" class="SubAktivitasDataGerbongKetelRTW_userInput">@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.userInput.Caption)</span></th>
} @* subAktivitasDataGerbongKetelRtwDelete.userInput.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwDelete.etlDate.Visible) { // subAktivitasDataGerbongKetelRtwDelete.etlDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.etlDate.HeaderCellClass)"><span id="elh_SubAktivitasDataGerbongKetelRTW_etlDate" class="SubAktivitasDataGerbongKetelRTW_etlDate">@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.etlDate.Caption)</span></th>
} @* subAktivitasDataGerbongKetelRtwDelete.etlDate.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwDelete.DetailGerbong.Visible) { // subAktivitasDataGerbongKetelRtwDelete.DetailGerbong.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.DetailGerbong.HeaderCellClass)"><span id="elh_SubAktivitasDataGerbongKetelRTW_DetailGerbong" class="SubAktivitasDataGerbongKetelRTW_DetailGerbong">@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.DetailGerbong.Caption)</span></th>
} @* subAktivitasDataGerbongKetelRtwDelete.DetailGerbong.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwDelete.DetailQuantity.Visible) { // subAktivitasDataGerbongKetelRtwDelete.DetailQuantity.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.DetailQuantity.HeaderCellClass)"><span id="elh_SubAktivitasDataGerbongKetelRTW_DetailQuantity" class="SubAktivitasDataGerbongKetelRTW_DetailQuantity">@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.DetailQuantity.Caption)</span></th>
} @* subAktivitasDataGerbongKetelRtwDelete.DetailQuantity.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ subAktivitasDataGerbongKetelRtwDelete.RecordCount = 0; }
@while (subAktivitasDataGerbongKetelRtwDelete.Recordset != null && await subAktivitasDataGerbongKetelRtwDelete.Recordset.ReadAsync()) { // DN
    subAktivitasDataGerbongKetelRtwDelete.RecordCount++;
    subAktivitasDataGerbongKetelRtwDelete.RowCount++;

    // Set row properties
    subAktivitasDataGerbongKetelRtwDelete.ResetAttributes();
    subAktivitasDataGerbongKetelRtwDelete.RowType = RowType.View; // View

    // Get the field contents
    await subAktivitasDataGerbongKetelRtwDelete.LoadRowValues(subAktivitasDataGerbongKetelRtwDelete.Recordset);

    // Render row
    await subAktivitasDataGerbongKetelRtwDelete.RenderRow();
    <tr @Html.Raw(subAktivitasDataGerbongKetelRtwDelete.RowAttributes)>
@if (subAktivitasDataGerbongKetelRtwDelete.id.Visible) { // subAktivitasDataGerbongKetelRtwDelete.id.Visible (begin)
        <td @Html.Raw(subAktivitasDataGerbongKetelRtwDelete.id.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwDelete.id.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.id.GetViewValue())</span>
</span></td>
} @* subAktivitasDataGerbongKetelRtwDelete.id.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwDelete.NoReferensi.Visible) { // subAktivitasDataGerbongKetelRtwDelete.NoReferensi.Visible (begin)
        <td @Html.Raw(subAktivitasDataGerbongKetelRtwDelete.NoReferensi.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwDelete.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.NoReferensi.GetViewValue())</span>
</span></td>
} @* subAktivitasDataGerbongKetelRtwDelete.NoReferensi.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwDelete.idProses.Visible) { // subAktivitasDataGerbongKetelRtwDelete.idProses.Visible (begin)
        <td @Html.Raw(subAktivitasDataGerbongKetelRtwDelete.idProses.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwDelete.idProses.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.idProses.GetViewValue())</span>
</span></td>
} @* subAktivitasDataGerbongKetelRtwDelete.idProses.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwDelete.idAktifitas.Visible) { // subAktivitasDataGerbongKetelRtwDelete.idAktifitas.Visible (begin)
        <td @Html.Raw(subAktivitasDataGerbongKetelRtwDelete.idAktifitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwDelete.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.idAktifitas.GetViewValue())</span>
</span></td>
} @* subAktivitasDataGerbongKetelRtwDelete.idAktifitas.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwDelete.StatusAktivitas.Visible) { // subAktivitasDataGerbongKetelRtwDelete.StatusAktivitas.Visible (begin)
        <td @Html.Raw(subAktivitasDataGerbongKetelRtwDelete.StatusAktivitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwDelete.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.StatusAktivitas.GetViewValue())</span>
</span></td>
} @* subAktivitasDataGerbongKetelRtwDelete.StatusAktivitas.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwDelete.LastUpdatedBy.Visible) { // subAktivitasDataGerbongKetelRtwDelete.LastUpdatedBy.Visible (begin)
        <td @Html.Raw(subAktivitasDataGerbongKetelRtwDelete.LastUpdatedBy.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwDelete.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.LastUpdatedBy.GetViewValue())</span>
</span></td>
} @* subAktivitasDataGerbongKetelRtwDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwDelete.lastUpdatedDate.Visible) { // subAktivitasDataGerbongKetelRtwDelete.lastUpdatedDate.Visible (begin)
        <td @Html.Raw(subAktivitasDataGerbongKetelRtwDelete.lastUpdatedDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwDelete.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.lastUpdatedDate.GetViewValue())</span>
</span></td>
} @* subAktivitasDataGerbongKetelRtwDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwDelete.Shipment.Visible) { // subAktivitasDataGerbongKetelRtwDelete.Shipment.Visible (begin)
        <td @Html.Raw(subAktivitasDataGerbongKetelRtwDelete.Shipment.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwDelete.Shipment.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.Shipment.GetViewValue())</span>
</span></td>
} @* subAktivitasDataGerbongKetelRtwDelete.Shipment.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwDelete.JenisProduk.Visible) { // subAktivitasDataGerbongKetelRtwDelete.JenisProduk.Visible (begin)
        <td @Html.Raw(subAktivitasDataGerbongKetelRtwDelete.JenisProduk.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwDelete.JenisProduk.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.JenisProduk.GetViewValue())</span>
</span></td>
} @* subAktivitasDataGerbongKetelRtwDelete.JenisProduk.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwDelete.TanggalTiba.Visible) { // subAktivitasDataGerbongKetelRtwDelete.TanggalTiba.Visible (begin)
        <td @Html.Raw(subAktivitasDataGerbongKetelRtwDelete.TanggalTiba.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwDelete.TanggalTiba.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.TanggalTiba.GetViewValue())</span>
</span></td>
} @* subAktivitasDataGerbongKetelRtwDelete.TanggalTiba.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwDelete.Nominasi.Visible) { // subAktivitasDataGerbongKetelRtwDelete.Nominasi.Visible (begin)
        <td @Html.Raw(subAktivitasDataGerbongKetelRtwDelete.Nominasi.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwDelete.Nominasi.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.Nominasi.GetViewValue())</span>
</span></td>
} @* subAktivitasDataGerbongKetelRtwDelete.Nominasi.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwDelete.userInput.Visible) { // subAktivitasDataGerbongKetelRtwDelete.userInput.Visible (begin)
        <td @Html.Raw(subAktivitasDataGerbongKetelRtwDelete.userInput.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwDelete.userInput.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.userInput.GetViewValue())</span>
</span></td>
} @* subAktivitasDataGerbongKetelRtwDelete.userInput.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwDelete.etlDate.Visible) { // subAktivitasDataGerbongKetelRtwDelete.etlDate.Visible (begin)
        <td @Html.Raw(subAktivitasDataGerbongKetelRtwDelete.etlDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwDelete.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.etlDate.GetViewValue())</span>
</span></td>
} @* subAktivitasDataGerbongKetelRtwDelete.etlDate.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwDelete.DetailGerbong.Visible) { // subAktivitasDataGerbongKetelRtwDelete.DetailGerbong.Visible (begin)
        <td @Html.Raw(subAktivitasDataGerbongKetelRtwDelete.DetailGerbong.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwDelete.DetailGerbong.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.DetailGerbong.GetViewValue())</span>
</span></td>
} @* subAktivitasDataGerbongKetelRtwDelete.DetailGerbong.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwDelete.DetailQuantity.Visible) { // subAktivitasDataGerbongKetelRtwDelete.DetailQuantity.Visible (begin)
        <td @Html.Raw(subAktivitasDataGerbongKetelRtwDelete.DetailQuantity.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwDelete.DetailQuantity.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwDelete.DetailQuantity.GetViewValue())</span>
</span></td>
} @* subAktivitasDataGerbongKetelRtwDelete.DetailQuantity.Visible (end) *@
    </tr>
}
@{ subAktivitasDataGerbongKetelRtwDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(subAktivitasDataGerbongKetelRtwDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@subAktivitasDataGerbongKetelRtwDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
