@{
    // View
    View = this;

    // Check action result
    if (subAktivitasDataGerbongKetelRtwList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasDataGerbongKetelRtwList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasDataGerbongKetelRtwList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataGerbongKetelRtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataGerbongKetelRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasDataGerbongKetelRtwList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasDataGerbongKetelRtwList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasDataGerbongKetelRtwList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasDataGerbongKetelRtwList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasDataGerbongKetelRtwList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasDataGerbongKetelRtwList.TotalRecords > 0 && subAktivitasDataGerbongKetelRtwList.ExportOptions.Visible) {
    subAktivitasDataGerbongKetelRtwList.ExportOptions.Render("body");
}
@if (subAktivitasDataGerbongKetelRtwList.ImportOptions.Visible) {
    subAktivitasDataGerbongKetelRtwList.ImportOptions.Render("body");
}
@if (subAktivitasDataGerbongKetelRtwList.SearchOptions.Visible) {
    subAktivitasDataGerbongKetelRtwList.SearchOptions.Render("body");
}
@if (subAktivitasDataGerbongKetelRtwList.FilterOptions.Visible) {
    subAktivitasDataGerbongKetelRtwList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasDataGerbongKetelRtwList.IsModal) {
<form name="fSubAktivitasDataGerbongKetelRTWsrch" id="fSubAktivitasDataGerbongKetelRTWsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasDataGerbongKetelRTWsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasDataGerbongKetelRtwList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataGerbongKetelRtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataGerbongKetelRTW: currentTable } });
var currentForm;
var fSubAktivitasDataGerbongKetelRTWsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasDataGerbongKetelRTWsrch")
        .setPageId("list")
@if (subAktivitasDataGerbongKetelRtwList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasDataGerbongKetelRtwList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasDataGerbongKetelRtwList.IsExport() && Empty(subAktivitasDataGerbongKetelRtwList.CurrentAction) && subAktivitasDataGerbongKetelRtwList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasDataGerbongKetelRtwList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasDataGerbongKetelRtwList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasDataGerbongKetelRtwList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasDataGerbongKetelRtwList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasDataGerbongKetelRTWsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataGerbongKetelRtwList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasDataGerbongKetelRTWsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataGerbongKetelRtwList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasDataGerbongKetelRTWsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataGerbongKetelRtwList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasDataGerbongKetelRTWsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasDataGerbongKetelRtwList.ShowPageHeader()
@subAktivitasDataGerbongKetelRtwList.ShowMessages()
<main class="list @(subAktivitasDataGerbongKetelRtwList.TotalRecords == 0 && !subAktivitasDataGerbongKetelRtwList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasDataGerbongKetelRtwList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasDataGerbongKetelRtwList.TotalRecords > 0 || !Empty(subAktivitasDataGerbongKetelRtwList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasDataGerbongKetelRtwList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasDataGerbongKetelRtwList.TableGridClass)">
<form name="@(subAktivitasDataGerbongKetelRtwList.FormName)" id="@(subAktivitasDataGerbongKetelRtwList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasDataGerbongKetelRtwList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasDataGerbongKetelRtwList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasDataGerbongKetelRTW" class="card-body ew-grid-middle-panel @(subAktivitasDataGerbongKetelRtwList.TableContainerClass)" style="@(subAktivitasDataGerbongKetelRtwList.TableContainerStyle)">
@if (subAktivitasDataGerbongKetelRtwList.TotalRecords > 0 || subAktivitasDataGerbongKetelRtwList.IsGridEdit || subAktivitasDataGerbongKetelRtwList.IsMultiEdit) {
<table id="tbl_SubAktivitasDataGerbongKetelRTWlist" class="@(subAktivitasDataGerbongKetelRtwList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasDataGerbongKetelRtwList.RowType = RowType.Header;

    // Render list options
    await subAktivitasDataGerbongKetelRtwList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasDataGerbongKetelRtwList.ListOptions.RenderHeader("left")
@if (subAktivitasDataGerbongKetelRtwList.id.Visible) { // subAktivitasDataGerbongKetelRtwList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasDataGerbongKetelRtwList.id.HeaderCellClass)"><div id="elh_SubAktivitasDataGerbongKetelRTW_id" class="SubAktivitasDataGerbongKetelRTW_id">@Html.Raw(subAktivitasDataGerbongKetelRtwList.RenderFieldHeader(subAktivitasDataGerbongKetelRtwList.id))</div></th>
} @* subAktivitasDataGerbongKetelRtwList.id.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwList.NoReferensi.Visible) { // subAktivitasDataGerbongKetelRtwList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasDataGerbongKetelRtwList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasDataGerbongKetelRTW_NoReferensi" class="SubAktivitasDataGerbongKetelRTW_NoReferensi">@Html.Raw(subAktivitasDataGerbongKetelRtwList.RenderFieldHeader(subAktivitasDataGerbongKetelRtwList.NoReferensi))</div></th>
} @* subAktivitasDataGerbongKetelRtwList.NoReferensi.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwList.idProses.Visible) { // subAktivitasDataGerbongKetelRtwList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasDataGerbongKetelRtwList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasDataGerbongKetelRTW_idProses" class="SubAktivitasDataGerbongKetelRTW_idProses">@Html.Raw(subAktivitasDataGerbongKetelRtwList.RenderFieldHeader(subAktivitasDataGerbongKetelRtwList.idProses))</div></th>
} @* subAktivitasDataGerbongKetelRtwList.idProses.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwList.idAktifitas.Visible) { // subAktivitasDataGerbongKetelRtwList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasDataGerbongKetelRtwList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasDataGerbongKetelRTW_idAktifitas" class="SubAktivitasDataGerbongKetelRTW_idAktifitas">@Html.Raw(subAktivitasDataGerbongKetelRtwList.RenderFieldHeader(subAktivitasDataGerbongKetelRtwList.idAktifitas))</div></th>
} @* subAktivitasDataGerbongKetelRtwList.idAktifitas.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwList.StatusAktivitas.Visible) { // subAktivitasDataGerbongKetelRtwList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasDataGerbongKetelRtwList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasDataGerbongKetelRTW_StatusAktivitas" class="SubAktivitasDataGerbongKetelRTW_StatusAktivitas">@Html.Raw(subAktivitasDataGerbongKetelRtwList.RenderFieldHeader(subAktivitasDataGerbongKetelRtwList.StatusAktivitas))</div></th>
} @* subAktivitasDataGerbongKetelRtwList.StatusAktivitas.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwList.LastUpdatedBy.Visible) { // subAktivitasDataGerbongKetelRtwList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasDataGerbongKetelRtwList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasDataGerbongKetelRTW_LastUpdatedBy" class="SubAktivitasDataGerbongKetelRTW_LastUpdatedBy">@Html.Raw(subAktivitasDataGerbongKetelRtwList.RenderFieldHeader(subAktivitasDataGerbongKetelRtwList.LastUpdatedBy))</div></th>
} @* subAktivitasDataGerbongKetelRtwList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwList.lastUpdatedDate.Visible) { // subAktivitasDataGerbongKetelRtwList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasDataGerbongKetelRtwList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasDataGerbongKetelRTW_lastUpdatedDate" class="SubAktivitasDataGerbongKetelRTW_lastUpdatedDate">@Html.Raw(subAktivitasDataGerbongKetelRtwList.RenderFieldHeader(subAktivitasDataGerbongKetelRtwList.lastUpdatedDate))</div></th>
} @* subAktivitasDataGerbongKetelRtwList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwList.Shipment.Visible) { // subAktivitasDataGerbongKetelRtwList.Shipment.Visible (begin)
        <th data-name="Shipment" class="@(subAktivitasDataGerbongKetelRtwList.Shipment.HeaderCellClass)"><div id="elh_SubAktivitasDataGerbongKetelRTW_Shipment" class="SubAktivitasDataGerbongKetelRTW_Shipment">@Html.Raw(subAktivitasDataGerbongKetelRtwList.RenderFieldHeader(subAktivitasDataGerbongKetelRtwList.Shipment))</div></th>
} @* subAktivitasDataGerbongKetelRtwList.Shipment.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwList.JenisProduk.Visible) { // subAktivitasDataGerbongKetelRtwList.JenisProduk.Visible (begin)
        <th data-name="JenisProduk" class="@(subAktivitasDataGerbongKetelRtwList.JenisProduk.HeaderCellClass)"><div id="elh_SubAktivitasDataGerbongKetelRTW_JenisProduk" class="SubAktivitasDataGerbongKetelRTW_JenisProduk">@Html.Raw(subAktivitasDataGerbongKetelRtwList.RenderFieldHeader(subAktivitasDataGerbongKetelRtwList.JenisProduk))</div></th>
} @* subAktivitasDataGerbongKetelRtwList.JenisProduk.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwList.TanggalTiba.Visible) { // subAktivitasDataGerbongKetelRtwList.TanggalTiba.Visible (begin)
        <th data-name="TanggalTiba" class="@(subAktivitasDataGerbongKetelRtwList.TanggalTiba.HeaderCellClass)"><div id="elh_SubAktivitasDataGerbongKetelRTW_TanggalTiba" class="SubAktivitasDataGerbongKetelRTW_TanggalTiba">@Html.Raw(subAktivitasDataGerbongKetelRtwList.RenderFieldHeader(subAktivitasDataGerbongKetelRtwList.TanggalTiba))</div></th>
} @* subAktivitasDataGerbongKetelRtwList.TanggalTiba.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwList.Nominasi.Visible) { // subAktivitasDataGerbongKetelRtwList.Nominasi.Visible (begin)
        <th data-name="Nominasi" class="@(subAktivitasDataGerbongKetelRtwList.Nominasi.HeaderCellClass)"><div id="elh_SubAktivitasDataGerbongKetelRTW_Nominasi" class="SubAktivitasDataGerbongKetelRTW_Nominasi">@Html.Raw(subAktivitasDataGerbongKetelRtwList.RenderFieldHeader(subAktivitasDataGerbongKetelRtwList.Nominasi))</div></th>
} @* subAktivitasDataGerbongKetelRtwList.Nominasi.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwList.userInput.Visible) { // subAktivitasDataGerbongKetelRtwList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasDataGerbongKetelRtwList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasDataGerbongKetelRTW_userInput" class="SubAktivitasDataGerbongKetelRTW_userInput">@Html.Raw(subAktivitasDataGerbongKetelRtwList.RenderFieldHeader(subAktivitasDataGerbongKetelRtwList.userInput))</div></th>
} @* subAktivitasDataGerbongKetelRtwList.userInput.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwList.etlDate.Visible) { // subAktivitasDataGerbongKetelRtwList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasDataGerbongKetelRtwList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasDataGerbongKetelRTW_etlDate" class="SubAktivitasDataGerbongKetelRTW_etlDate">@Html.Raw(subAktivitasDataGerbongKetelRtwList.RenderFieldHeader(subAktivitasDataGerbongKetelRtwList.etlDate))</div></th>
} @* subAktivitasDataGerbongKetelRtwList.etlDate.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwList.DetailGerbong.Visible) { // subAktivitasDataGerbongKetelRtwList.DetailGerbong.Visible (begin)
        <th data-name="DetailGerbong" class="@(subAktivitasDataGerbongKetelRtwList.DetailGerbong.HeaderCellClass)"><div id="elh_SubAktivitasDataGerbongKetelRTW_DetailGerbong" class="SubAktivitasDataGerbongKetelRTW_DetailGerbong">@Html.Raw(subAktivitasDataGerbongKetelRtwList.RenderFieldHeader(subAktivitasDataGerbongKetelRtwList.DetailGerbong))</div></th>
} @* subAktivitasDataGerbongKetelRtwList.DetailGerbong.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwList.DetailQuantity.Visible) { // subAktivitasDataGerbongKetelRtwList.DetailQuantity.Visible (begin)
        <th data-name="DetailQuantity" class="@(subAktivitasDataGerbongKetelRtwList.DetailQuantity.HeaderCellClass)"><div id="elh_SubAktivitasDataGerbongKetelRTW_DetailQuantity" class="SubAktivitasDataGerbongKetelRTW_DetailQuantity">@Html.Raw(subAktivitasDataGerbongKetelRtwList.RenderFieldHeader(subAktivitasDataGerbongKetelRtwList.DetailQuantity))</div></th>
} @* subAktivitasDataGerbongKetelRtwList.DetailQuantity.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasDataGerbongKetelRtwList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasDataGerbongKetelRtwList.PageNumber)">
@{
    await subAktivitasDataGerbongKetelRtwList.SetupGrid();
    bool eof = subAktivitasDataGerbongKetelRtwList.Recordset == null; // DN
}
@while (subAktivitasDataGerbongKetelRtwList.RecordCount < subAktivitasDataGerbongKetelRtwList.StopRecord || SameString(subAktivitasDataGerbongKetelRtwList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasDataGerbongKetelRtwList.RowIndex, "$rowindex$") &&
        (!subAktivitasDataGerbongKetelRtwList.IsGridAdd || subAktivitasDataGerbongKetelRtwList.CurrentMode == "copy") &&
        (!((subAktivitasDataGerbongKetelRtwList.IsCopy || subAktivitasDataGerbongKetelRtwList.IsAdd) && subAktivitasDataGerbongKetelRtwList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasDataGerbongKetelRtwList.Recordset.ReadAsync();
    subAktivitasDataGerbongKetelRtwList.RecordCount++;
    if (subAktivitasDataGerbongKetelRtwList.RecordCount >= subAktivitasDataGerbongKetelRtwList.StartRecord) {
        await subAktivitasDataGerbongKetelRtwList.SetupRow();
    <tr @Html.Raw(subAktivitasDataGerbongKetelRtwList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasDataGerbongKetelRtwList.ListOptions.RenderBody("left", subAktivitasDataGerbongKetelRtwList.RowCount)
    @if (subAktivitasDataGerbongKetelRtwList.id.Visible) { // subAktivitasDataGerbongKetelRtwList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasDataGerbongKetelRtwList.id.CellAttributes)>
<span id="el@(subAktivitasDataGerbongKetelRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataGerbongKetelRtwList.RowCount)_SubAktivitasDataGerbongKetelRTW_id" class="el_SubAktivitasDataGerbongKetelRTW_id">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwList.id.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataGerbongKetelRtwList.id.Visible (end) *@
    @if (subAktivitasDataGerbongKetelRtwList.NoReferensi.Visible) { // subAktivitasDataGerbongKetelRtwList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasDataGerbongKetelRtwList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasDataGerbongKetelRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataGerbongKetelRtwList.RowCount)_SubAktivitasDataGerbongKetelRTW_NoReferensi" class="el_SubAktivitasDataGerbongKetelRTW_NoReferensi">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataGerbongKetelRtwList.NoReferensi.Visible (end) *@
    @if (subAktivitasDataGerbongKetelRtwList.idProses.Visible) { // subAktivitasDataGerbongKetelRtwList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasDataGerbongKetelRtwList.idProses.CellAttributes)>
<span id="el@(subAktivitasDataGerbongKetelRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataGerbongKetelRtwList.RowCount)_SubAktivitasDataGerbongKetelRTW_idProses" class="el_SubAktivitasDataGerbongKetelRTW_idProses">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataGerbongKetelRtwList.idProses.Visible (end) *@
    @if (subAktivitasDataGerbongKetelRtwList.idAktifitas.Visible) { // subAktivitasDataGerbongKetelRtwList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasDataGerbongKetelRtwList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasDataGerbongKetelRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataGerbongKetelRtwList.RowCount)_SubAktivitasDataGerbongKetelRTW_idAktifitas" class="el_SubAktivitasDataGerbongKetelRTW_idAktifitas">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataGerbongKetelRtwList.idAktifitas.Visible (end) *@
    @if (subAktivitasDataGerbongKetelRtwList.StatusAktivitas.Visible) { // subAktivitasDataGerbongKetelRtwList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasDataGerbongKetelRtwList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasDataGerbongKetelRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataGerbongKetelRtwList.RowCount)_SubAktivitasDataGerbongKetelRTW_StatusAktivitas" class="el_SubAktivitasDataGerbongKetelRTW_StatusAktivitas">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataGerbongKetelRtwList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasDataGerbongKetelRtwList.LastUpdatedBy.Visible) { // subAktivitasDataGerbongKetelRtwList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasDataGerbongKetelRtwList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasDataGerbongKetelRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataGerbongKetelRtwList.RowCount)_SubAktivitasDataGerbongKetelRTW_LastUpdatedBy" class="el_SubAktivitasDataGerbongKetelRTW_LastUpdatedBy">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataGerbongKetelRtwList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasDataGerbongKetelRtwList.lastUpdatedDate.Visible) { // subAktivitasDataGerbongKetelRtwList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasDataGerbongKetelRtwList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasDataGerbongKetelRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataGerbongKetelRtwList.RowCount)_SubAktivitasDataGerbongKetelRTW_lastUpdatedDate" class="el_SubAktivitasDataGerbongKetelRTW_lastUpdatedDate">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataGerbongKetelRtwList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasDataGerbongKetelRtwList.Shipment.Visible) { // subAktivitasDataGerbongKetelRtwList.Shipment.Visible (begin)
        <td data-name="Shipment" @Html.Raw(subAktivitasDataGerbongKetelRtwList.Shipment.CellAttributes)>
<span id="el@(subAktivitasDataGerbongKetelRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataGerbongKetelRtwList.RowCount)_SubAktivitasDataGerbongKetelRTW_Shipment" class="el_SubAktivitasDataGerbongKetelRTW_Shipment">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwList.Shipment.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwList.Shipment.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataGerbongKetelRtwList.Shipment.Visible (end) *@
    @if (subAktivitasDataGerbongKetelRtwList.JenisProduk.Visible) { // subAktivitasDataGerbongKetelRtwList.JenisProduk.Visible (begin)
        <td data-name="JenisProduk" @Html.Raw(subAktivitasDataGerbongKetelRtwList.JenisProduk.CellAttributes)>
<span id="el@(subAktivitasDataGerbongKetelRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataGerbongKetelRtwList.RowCount)_SubAktivitasDataGerbongKetelRTW_JenisProduk" class="el_SubAktivitasDataGerbongKetelRTW_JenisProduk">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwList.JenisProduk.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwList.JenisProduk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataGerbongKetelRtwList.JenisProduk.Visible (end) *@
    @if (subAktivitasDataGerbongKetelRtwList.TanggalTiba.Visible) { // subAktivitasDataGerbongKetelRtwList.TanggalTiba.Visible (begin)
        <td data-name="TanggalTiba" @Html.Raw(subAktivitasDataGerbongKetelRtwList.TanggalTiba.CellAttributes)>
<span id="el@(subAktivitasDataGerbongKetelRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataGerbongKetelRtwList.RowCount)_SubAktivitasDataGerbongKetelRTW_TanggalTiba" class="el_SubAktivitasDataGerbongKetelRTW_TanggalTiba">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwList.TanggalTiba.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwList.TanggalTiba.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataGerbongKetelRtwList.TanggalTiba.Visible (end) *@
    @if (subAktivitasDataGerbongKetelRtwList.Nominasi.Visible) { // subAktivitasDataGerbongKetelRtwList.Nominasi.Visible (begin)
        <td data-name="Nominasi" @Html.Raw(subAktivitasDataGerbongKetelRtwList.Nominasi.CellAttributes)>
<span id="el@(subAktivitasDataGerbongKetelRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataGerbongKetelRtwList.RowCount)_SubAktivitasDataGerbongKetelRTW_Nominasi" class="el_SubAktivitasDataGerbongKetelRTW_Nominasi">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwList.Nominasi.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwList.Nominasi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataGerbongKetelRtwList.Nominasi.Visible (end) *@
    @if (subAktivitasDataGerbongKetelRtwList.userInput.Visible) { // subAktivitasDataGerbongKetelRtwList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasDataGerbongKetelRtwList.userInput.CellAttributes)>
<span id="el@(subAktivitasDataGerbongKetelRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataGerbongKetelRtwList.RowCount)_SubAktivitasDataGerbongKetelRTW_userInput" class="el_SubAktivitasDataGerbongKetelRTW_userInput">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataGerbongKetelRtwList.userInput.Visible (end) *@
    @if (subAktivitasDataGerbongKetelRtwList.etlDate.Visible) { // subAktivitasDataGerbongKetelRtwList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasDataGerbongKetelRtwList.etlDate.CellAttributes)>
<span id="el@(subAktivitasDataGerbongKetelRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataGerbongKetelRtwList.RowCount)_SubAktivitasDataGerbongKetelRTW_etlDate" class="el_SubAktivitasDataGerbongKetelRTW_etlDate">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataGerbongKetelRtwList.etlDate.Visible (end) *@
    @if (subAktivitasDataGerbongKetelRtwList.DetailGerbong.Visible) { // subAktivitasDataGerbongKetelRtwList.DetailGerbong.Visible (begin)
        <td data-name="DetailGerbong" @Html.Raw(subAktivitasDataGerbongKetelRtwList.DetailGerbong.CellAttributes)>
<span id="el@(subAktivitasDataGerbongKetelRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataGerbongKetelRtwList.RowCount)_SubAktivitasDataGerbongKetelRTW_DetailGerbong" class="el_SubAktivitasDataGerbongKetelRTW_DetailGerbong">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwList.DetailGerbong.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwList.DetailGerbong.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataGerbongKetelRtwList.DetailGerbong.Visible (end) *@
    @if (subAktivitasDataGerbongKetelRtwList.DetailQuantity.Visible) { // subAktivitasDataGerbongKetelRtwList.DetailQuantity.Visible (begin)
        <td data-name="DetailQuantity" @Html.Raw(subAktivitasDataGerbongKetelRtwList.DetailQuantity.CellAttributes)>
<span id="el@(subAktivitasDataGerbongKetelRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataGerbongKetelRtwList.RowCount)_SubAktivitasDataGerbongKetelRTW_DetailQuantity" class="el_SubAktivitasDataGerbongKetelRTW_DetailQuantity">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwList.DetailQuantity.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwList.DetailQuantity.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataGerbongKetelRtwList.DetailQuantity.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasDataGerbongKetelRtwList.ListOptions.RenderBody("right", subAktivitasDataGerbongKetelRtwList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasDataGerbongKetelRtwList.RowIndex, "$rowindex$"))
        subAktivitasDataGerbongKetelRtwList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasDataGerbongKetelRtwList.IsCopy || subAktivitasDataGerbongKetelRtwList.IsAdd) && subAktivitasDataGerbongKetelRtwList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasDataGerbongKetelRtwList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasDataGerbongKetelRtwList.CurrentAction) && !subAktivitasDataGerbongKetelRtwList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasDataGerbongKetelRtwList.CloseRecordset(); }
@if (!subAktivitasDataGerbongKetelRtwList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasDataGerbongKetelRtwList.IsGridAdd && !(subAktivitasDataGerbongKetelRtwList.IsGridEdit && subAktivitasDataGerbongKetelRtwList.ModalGridEdit) && !subAktivitasDataGerbongKetelRtwList.IsMultiEdit) {
@Html.Raw(subAktivitasDataGerbongKetelRtwList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasDataGerbongKetelRtwList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasDataGerbongKetelRtwList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasDataGerbongKetelRtwList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasDataGerbongKetelRtwList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasDataGerbongKetelRtwList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasDataGerbongKetelRTW");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
