@{
    // View
    View = this;

    // Check action result
    if (subAktivitasTotalRencanaPenyaluranList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasTotalRencanaPenyaluranList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasTotalRencanaPenyaluranList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasTotalRencanaPenyaluranList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasTotalRencanaPenyaluran: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasTotalRencanaPenyaluranList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasTotalRencanaPenyaluranList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasTotalRencanaPenyaluranList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasTotalRencanaPenyaluranList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasTotalRencanaPenyaluranList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasTotalRencanaPenyaluranList.TotalRecords > 0 && subAktivitasTotalRencanaPenyaluranList.ExportOptions.Visible) {
    subAktivitasTotalRencanaPenyaluranList.ExportOptions.Render("body");
}
@if (subAktivitasTotalRencanaPenyaluranList.ImportOptions.Visible) {
    subAktivitasTotalRencanaPenyaluranList.ImportOptions.Render("body");
}
@if (subAktivitasTotalRencanaPenyaluranList.SearchOptions.Visible) {
    subAktivitasTotalRencanaPenyaluranList.SearchOptions.Render("body");
}
@if (subAktivitasTotalRencanaPenyaluranList.FilterOptions.Visible) {
    subAktivitasTotalRencanaPenyaluranList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasTotalRencanaPenyaluranList.IsModal) {
<form name="fSubAktivitasTotalRencanaPenyaluransrch" id="fSubAktivitasTotalRencanaPenyaluransrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasTotalRencanaPenyaluransrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasTotalRencanaPenyaluranList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasTotalRencanaPenyaluranList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasTotalRencanaPenyaluran: currentTable } });
var currentForm;
var fSubAktivitasTotalRencanaPenyaluransrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasTotalRencanaPenyaluransrch")
        .setPageId("list")
@if (subAktivitasTotalRencanaPenyaluranList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasTotalRencanaPenyaluranList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasTotalRencanaPenyaluranList.IsExport() && Empty(subAktivitasTotalRencanaPenyaluranList.CurrentAction) && subAktivitasTotalRencanaPenyaluranList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasTotalRencanaPenyaluranList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasTotalRencanaPenyaluranList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasTotalRencanaPenyaluranList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasTotalRencanaPenyaluranList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasTotalRencanaPenyaluransrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasTotalRencanaPenyaluranList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasTotalRencanaPenyaluransrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasTotalRencanaPenyaluranList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasTotalRencanaPenyaluransrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasTotalRencanaPenyaluranList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasTotalRencanaPenyaluransrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasTotalRencanaPenyaluranList.ShowPageHeader()
@subAktivitasTotalRencanaPenyaluranList.ShowMessages()
<main class="list @(subAktivitasTotalRencanaPenyaluranList.TotalRecords == 0 && !subAktivitasTotalRencanaPenyaluranList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasTotalRencanaPenyaluranList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasTotalRencanaPenyaluranList.TotalRecords > 0 || !Empty(subAktivitasTotalRencanaPenyaluranList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasTotalRencanaPenyaluranList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasTotalRencanaPenyaluranList.TableGridClass)">
<form name="@(subAktivitasTotalRencanaPenyaluranList.FormName)" id="@(subAktivitasTotalRencanaPenyaluranList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasTotalRencanaPenyaluranList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasTotalRencanaPenyaluranList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasTotalRencanaPenyaluran" class="card-body ew-grid-middle-panel @(subAktivitasTotalRencanaPenyaluranList.TableContainerClass)" style="@(subAktivitasTotalRencanaPenyaluranList.TableContainerStyle)">
@if (subAktivitasTotalRencanaPenyaluranList.TotalRecords > 0 || subAktivitasTotalRencanaPenyaluranList.IsGridEdit || subAktivitasTotalRencanaPenyaluranList.IsMultiEdit) {
<table id="tbl_SubAktivitasTotalRencanaPenyaluranlist" class="@(subAktivitasTotalRencanaPenyaluranList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasTotalRencanaPenyaluranList.RowType = RowType.Header;

    // Render list options
    await subAktivitasTotalRencanaPenyaluranList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasTotalRencanaPenyaluranList.ListOptions.RenderHeader("left")
@if (subAktivitasTotalRencanaPenyaluranList.id.Visible) { // subAktivitasTotalRencanaPenyaluranList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasTotalRencanaPenyaluranList.id.HeaderCellClass)"><div id="elh_SubAktivitasTotalRencanaPenyaluran_id" class="SubAktivitasTotalRencanaPenyaluran_id">@Html.Raw(subAktivitasTotalRencanaPenyaluranList.RenderFieldHeader(subAktivitasTotalRencanaPenyaluranList.id))</div></th>
} @* subAktivitasTotalRencanaPenyaluranList.id.Visible (end) *@
@if (subAktivitasTotalRencanaPenyaluranList.idProses.Visible) { // subAktivitasTotalRencanaPenyaluranList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasTotalRencanaPenyaluranList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasTotalRencanaPenyaluran_idProses" class="SubAktivitasTotalRencanaPenyaluran_idProses">@Html.Raw(subAktivitasTotalRencanaPenyaluranList.RenderFieldHeader(subAktivitasTotalRencanaPenyaluranList.idProses))</div></th>
} @* subAktivitasTotalRencanaPenyaluranList.idProses.Visible (end) *@
@if (subAktivitasTotalRencanaPenyaluranList.idAktifitas.Visible) { // subAktivitasTotalRencanaPenyaluranList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasTotalRencanaPenyaluranList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasTotalRencanaPenyaluran_idAktifitas" class="SubAktivitasTotalRencanaPenyaluran_idAktifitas">@Html.Raw(subAktivitasTotalRencanaPenyaluranList.RenderFieldHeader(subAktivitasTotalRencanaPenyaluranList.idAktifitas))</div></th>
} @* subAktivitasTotalRencanaPenyaluranList.idAktifitas.Visible (end) *@
@if (subAktivitasTotalRencanaPenyaluranList.NoReferensi.Visible) { // subAktivitasTotalRencanaPenyaluranList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasTotalRencanaPenyaluranList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasTotalRencanaPenyaluran_NoReferensi" class="SubAktivitasTotalRencanaPenyaluran_NoReferensi">@Html.Raw(subAktivitasTotalRencanaPenyaluranList.RenderFieldHeader(subAktivitasTotalRencanaPenyaluranList.NoReferensi))</div></th>
} @* subAktivitasTotalRencanaPenyaluranList.NoReferensi.Visible (end) *@
@if (subAktivitasTotalRencanaPenyaluranList.TanggalJam.Visible) { // subAktivitasTotalRencanaPenyaluranList.TanggalJam.Visible (begin)
        <th data-name="TanggalJam" class="@(subAktivitasTotalRencanaPenyaluranList.TanggalJam.HeaderCellClass)"><div id="elh_SubAktivitasTotalRencanaPenyaluran_TanggalJam" class="SubAktivitasTotalRencanaPenyaluran_TanggalJam">@Html.Raw(subAktivitasTotalRencanaPenyaluranList.RenderFieldHeader(subAktivitasTotalRencanaPenyaluranList.TanggalJam))</div></th>
} @* subAktivitasTotalRencanaPenyaluranList.TanggalJam.Visible (end) *@
@if (subAktivitasTotalRencanaPenyaluranList.Produk.Visible) { // subAktivitasTotalRencanaPenyaluranList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasTotalRencanaPenyaluranList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasTotalRencanaPenyaluran_Produk" class="SubAktivitasTotalRencanaPenyaluran_Produk">@Html.Raw(subAktivitasTotalRencanaPenyaluranList.RenderFieldHeader(subAktivitasTotalRencanaPenyaluranList.Produk))</div></th>
} @* subAktivitasTotalRencanaPenyaluranList.Produk.Visible (end) *@
@if (subAktivitasTotalRencanaPenyaluranList.RencanaPenyaluranKL.Visible) { // subAktivitasTotalRencanaPenyaluranList.RencanaPenyaluranKL.Visible (begin)
        <th data-name="RencanaPenyaluranKL" class="@(subAktivitasTotalRencanaPenyaluranList.RencanaPenyaluranKL.HeaderCellClass)"><div id="elh_SubAktivitasTotalRencanaPenyaluran_RencanaPenyaluranKL" class="SubAktivitasTotalRencanaPenyaluran_RencanaPenyaluranKL">@Html.Raw(subAktivitasTotalRencanaPenyaluranList.RenderFieldHeader(subAktivitasTotalRencanaPenyaluranList.RencanaPenyaluranKL))</div></th>
} @* subAktivitasTotalRencanaPenyaluranList.RencanaPenyaluranKL.Visible (end) *@
@if (subAktivitasTotalRencanaPenyaluranList.userInput.Visible) { // subAktivitasTotalRencanaPenyaluranList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasTotalRencanaPenyaluranList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasTotalRencanaPenyaluran_userInput" class="SubAktivitasTotalRencanaPenyaluran_userInput">@Html.Raw(subAktivitasTotalRencanaPenyaluranList.RenderFieldHeader(subAktivitasTotalRencanaPenyaluranList.userInput))</div></th>
} @* subAktivitasTotalRencanaPenyaluranList.userInput.Visible (end) *@
@if (subAktivitasTotalRencanaPenyaluranList.etlDate.Visible) { // subAktivitasTotalRencanaPenyaluranList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasTotalRencanaPenyaluranList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasTotalRencanaPenyaluran_etlDate" class="SubAktivitasTotalRencanaPenyaluran_etlDate">@Html.Raw(subAktivitasTotalRencanaPenyaluranList.RenderFieldHeader(subAktivitasTotalRencanaPenyaluranList.etlDate))</div></th>
} @* subAktivitasTotalRencanaPenyaluranList.etlDate.Visible (end) *@
@if (subAktivitasTotalRencanaPenyaluranList.LastUpdatedBy.Visible) { // subAktivitasTotalRencanaPenyaluranList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasTotalRencanaPenyaluranList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasTotalRencanaPenyaluran_LastUpdatedBy" class="SubAktivitasTotalRencanaPenyaluran_LastUpdatedBy">@Html.Raw(subAktivitasTotalRencanaPenyaluranList.RenderFieldHeader(subAktivitasTotalRencanaPenyaluranList.LastUpdatedBy))</div></th>
} @* subAktivitasTotalRencanaPenyaluranList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasTotalRencanaPenyaluranList.lastUpdatedDate.Visible) { // subAktivitasTotalRencanaPenyaluranList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasTotalRencanaPenyaluranList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasTotalRencanaPenyaluran_lastUpdatedDate" class="SubAktivitasTotalRencanaPenyaluran_lastUpdatedDate">@Html.Raw(subAktivitasTotalRencanaPenyaluranList.RenderFieldHeader(subAktivitasTotalRencanaPenyaluranList.lastUpdatedDate))</div></th>
} @* subAktivitasTotalRencanaPenyaluranList.lastUpdatedDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasTotalRencanaPenyaluranList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasTotalRencanaPenyaluranList.PageNumber)">
@{
    await subAktivitasTotalRencanaPenyaluranList.SetupGrid();
    bool eof = subAktivitasTotalRencanaPenyaluranList.Recordset == null; // DN
}
@while (subAktivitasTotalRencanaPenyaluranList.RecordCount < subAktivitasTotalRencanaPenyaluranList.StopRecord || SameString(subAktivitasTotalRencanaPenyaluranList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasTotalRencanaPenyaluranList.RowIndex, "$rowindex$") &&
        (!subAktivitasTotalRencanaPenyaluranList.IsGridAdd || subAktivitasTotalRencanaPenyaluranList.CurrentMode == "copy") &&
        (!((subAktivitasTotalRencanaPenyaluranList.IsCopy || subAktivitasTotalRencanaPenyaluranList.IsAdd) && subAktivitasTotalRencanaPenyaluranList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasTotalRencanaPenyaluranList.Recordset.ReadAsync();
    subAktivitasTotalRencanaPenyaluranList.RecordCount++;
    if (subAktivitasTotalRencanaPenyaluranList.RecordCount >= subAktivitasTotalRencanaPenyaluranList.StartRecord) {
        await subAktivitasTotalRencanaPenyaluranList.SetupRow();
    <tr @Html.Raw(subAktivitasTotalRencanaPenyaluranList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasTotalRencanaPenyaluranList.ListOptions.RenderBody("left", subAktivitasTotalRencanaPenyaluranList.RowCount)
    @if (subAktivitasTotalRencanaPenyaluranList.id.Visible) { // subAktivitasTotalRencanaPenyaluranList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasTotalRencanaPenyaluranList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasTotalRencanaPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasTotalRencanaPenyaluranList.RowCount)_SubAktivitasTotalRencanaPenyaluran_id" class="el_SubAktivitasTotalRencanaPenyaluran_id">
<span @Html.Raw(subAktivitasTotalRencanaPenyaluranList.id.ViewAttributes)>
@Html.Raw(subAktivitasTotalRencanaPenyaluranList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasTotalRencanaPenyaluranList.id.Visible (end) *@
    @if (subAktivitasTotalRencanaPenyaluranList.idProses.Visible) { // subAktivitasTotalRencanaPenyaluranList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasTotalRencanaPenyaluranList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasTotalRencanaPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasTotalRencanaPenyaluranList.RowCount)_SubAktivitasTotalRencanaPenyaluran_idProses" class="el_SubAktivitasTotalRencanaPenyaluran_idProses">
<span @Html.Raw(subAktivitasTotalRencanaPenyaluranList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasTotalRencanaPenyaluranList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasTotalRencanaPenyaluranList.idProses.Visible (end) *@
    @if (subAktivitasTotalRencanaPenyaluranList.idAktifitas.Visible) { // subAktivitasTotalRencanaPenyaluranList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasTotalRencanaPenyaluranList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasTotalRencanaPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasTotalRencanaPenyaluranList.RowCount)_SubAktivitasTotalRencanaPenyaluran_idAktifitas" class="el_SubAktivitasTotalRencanaPenyaluran_idAktifitas">
<span @Html.Raw(subAktivitasTotalRencanaPenyaluranList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasTotalRencanaPenyaluranList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasTotalRencanaPenyaluranList.idAktifitas.Visible (end) *@
    @if (subAktivitasTotalRencanaPenyaluranList.NoReferensi.Visible) { // subAktivitasTotalRencanaPenyaluranList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasTotalRencanaPenyaluranList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasTotalRencanaPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasTotalRencanaPenyaluranList.RowCount)_SubAktivitasTotalRencanaPenyaluran_NoReferensi" class="el_SubAktivitasTotalRencanaPenyaluran_NoReferensi">
<span @Html.Raw(subAktivitasTotalRencanaPenyaluranList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasTotalRencanaPenyaluranList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasTotalRencanaPenyaluranList.NoReferensi.Visible (end) *@
    @if (subAktivitasTotalRencanaPenyaluranList.TanggalJam.Visible) { // subAktivitasTotalRencanaPenyaluranList.TanggalJam.Visible (begin)
        <td data-name="TanggalJam" @Html.Raw(subAktivitasTotalRencanaPenyaluranList.TanggalJam.CellAttributes)>
<span id="el@(SameString(subAktivitasTotalRencanaPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasTotalRencanaPenyaluranList.RowCount)_SubAktivitasTotalRencanaPenyaluran_TanggalJam" class="el_SubAktivitasTotalRencanaPenyaluran_TanggalJam">
<span @Html.Raw(subAktivitasTotalRencanaPenyaluranList.TanggalJam.ViewAttributes)>
@Html.Raw(subAktivitasTotalRencanaPenyaluranList.TanggalJam.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasTotalRencanaPenyaluranList.TanggalJam.Visible (end) *@
    @if (subAktivitasTotalRencanaPenyaluranList.Produk.Visible) { // subAktivitasTotalRencanaPenyaluranList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasTotalRencanaPenyaluranList.Produk.CellAttributes)>
<span id="el@(SameString(subAktivitasTotalRencanaPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasTotalRencanaPenyaluranList.RowCount)_SubAktivitasTotalRencanaPenyaluran_Produk" class="el_SubAktivitasTotalRencanaPenyaluran_Produk">
<span @Html.Raw(subAktivitasTotalRencanaPenyaluranList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasTotalRencanaPenyaluranList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasTotalRencanaPenyaluranList.Produk.Visible (end) *@
    @if (subAktivitasTotalRencanaPenyaluranList.RencanaPenyaluranKL.Visible) { // subAktivitasTotalRencanaPenyaluranList.RencanaPenyaluranKL.Visible (begin)
        <td data-name="RencanaPenyaluranKL" @Html.Raw(subAktivitasTotalRencanaPenyaluranList.RencanaPenyaluranKL.CellAttributes)>
<span id="el@(SameString(subAktivitasTotalRencanaPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasTotalRencanaPenyaluranList.RowCount)_SubAktivitasTotalRencanaPenyaluran_RencanaPenyaluranKL" class="el_SubAktivitasTotalRencanaPenyaluran_RencanaPenyaluranKL">
<span @Html.Raw(subAktivitasTotalRencanaPenyaluranList.RencanaPenyaluranKL.ViewAttributes)>
@Html.Raw(subAktivitasTotalRencanaPenyaluranList.RencanaPenyaluranKL.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasTotalRencanaPenyaluranList.RencanaPenyaluranKL.Visible (end) *@
    @if (subAktivitasTotalRencanaPenyaluranList.userInput.Visible) { // subAktivitasTotalRencanaPenyaluranList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasTotalRencanaPenyaluranList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasTotalRencanaPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasTotalRencanaPenyaluranList.RowCount)_SubAktivitasTotalRencanaPenyaluran_userInput" class="el_SubAktivitasTotalRencanaPenyaluran_userInput">
<span @Html.Raw(subAktivitasTotalRencanaPenyaluranList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasTotalRencanaPenyaluranList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasTotalRencanaPenyaluranList.userInput.Visible (end) *@
    @if (subAktivitasTotalRencanaPenyaluranList.etlDate.Visible) { // subAktivitasTotalRencanaPenyaluranList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasTotalRencanaPenyaluranList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasTotalRencanaPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasTotalRencanaPenyaluranList.RowCount)_SubAktivitasTotalRencanaPenyaluran_etlDate" class="el_SubAktivitasTotalRencanaPenyaluran_etlDate">
<span @Html.Raw(subAktivitasTotalRencanaPenyaluranList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasTotalRencanaPenyaluranList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasTotalRencanaPenyaluranList.etlDate.Visible (end) *@
    @if (subAktivitasTotalRencanaPenyaluranList.LastUpdatedBy.Visible) { // subAktivitasTotalRencanaPenyaluranList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasTotalRencanaPenyaluranList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasTotalRencanaPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasTotalRencanaPenyaluranList.RowCount)_SubAktivitasTotalRencanaPenyaluran_LastUpdatedBy" class="el_SubAktivitasTotalRencanaPenyaluran_LastUpdatedBy">
<span @Html.Raw(subAktivitasTotalRencanaPenyaluranList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasTotalRencanaPenyaluranList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasTotalRencanaPenyaluranList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasTotalRencanaPenyaluranList.lastUpdatedDate.Visible) { // subAktivitasTotalRencanaPenyaluranList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasTotalRencanaPenyaluranList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasTotalRencanaPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasTotalRencanaPenyaluranList.RowCount)_SubAktivitasTotalRencanaPenyaluran_lastUpdatedDate" class="el_SubAktivitasTotalRencanaPenyaluran_lastUpdatedDate">
<span @Html.Raw(subAktivitasTotalRencanaPenyaluranList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasTotalRencanaPenyaluranList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasTotalRencanaPenyaluranList.lastUpdatedDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasTotalRencanaPenyaluranList.ListOptions.RenderBody("right", subAktivitasTotalRencanaPenyaluranList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasTotalRencanaPenyaluranList.RowIndex, "$rowindex$"))
        subAktivitasTotalRencanaPenyaluranList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasTotalRencanaPenyaluranList.IsCopy || subAktivitasTotalRencanaPenyaluranList.IsAdd) && subAktivitasTotalRencanaPenyaluranList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasTotalRencanaPenyaluranList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasTotalRencanaPenyaluranList.CurrentAction) && !subAktivitasTotalRencanaPenyaluranList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasTotalRencanaPenyaluranList.CloseRecordset(); }
@if (!subAktivitasTotalRencanaPenyaluranList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasTotalRencanaPenyaluranList.IsGridAdd && !(subAktivitasTotalRencanaPenyaluranList.IsGridEdit && subAktivitasTotalRencanaPenyaluranList.ModalGridEdit) && !subAktivitasTotalRencanaPenyaluranList.IsMultiEdit) {
@Html.Raw(subAktivitasTotalRencanaPenyaluranList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasTotalRencanaPenyaluranList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasTotalRencanaPenyaluranList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasTotalRencanaPenyaluranList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasTotalRencanaPenyaluranList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasTotalRencanaPenyaluranList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasTotalRencanaPenyaluran");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
