@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputFlowrateDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputFlowrateDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputFlowrateDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputFlowrate: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fSubAktivitasFormInputFlowratedelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputFlowratedelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasFormInputFlowrateDelete.ShowPageHeader()
@subAktivitasFormInputFlowrateDelete.ShowMessages()
<form name="fSubAktivitasFormInputFlowratedelete" id="fSubAktivitasFormInputFlowratedelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in subAktivitasFormInputFlowrateDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(subAktivitasFormInputFlowrateDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(subAktivitasFormInputFlowrateDelete.TableContainerClass)" style="@(subAktivitasFormInputFlowrateDelete.TableContainerStyle)">
<table class="@(subAktivitasFormInputFlowrateDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (subAktivitasFormInputFlowrateDelete.id.Visible) { // subAktivitasFormInputFlowrateDelete.id.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputFlowrateDelete.id.HeaderCellClass)"><span id="elh_SubAktivitasFormInputFlowrate_id" class="SubAktivitasFormInputFlowrate_id">@Html.Raw(subAktivitasFormInputFlowrateDelete.id.Caption)</span></th>
} @* subAktivitasFormInputFlowrateDelete.id.Visible (end) *@
@if (subAktivitasFormInputFlowrateDelete.NoReferensi.Visible) { // subAktivitasFormInputFlowrateDelete.NoReferensi.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputFlowrateDelete.NoReferensi.HeaderCellClass)"><span id="elh_SubAktivitasFormInputFlowrate_NoReferensi" class="SubAktivitasFormInputFlowrate_NoReferensi">@Html.Raw(subAktivitasFormInputFlowrateDelete.NoReferensi.Caption)</span></th>
} @* subAktivitasFormInputFlowrateDelete.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputFlowrateDelete.idProses.Visible) { // subAktivitasFormInputFlowrateDelete.idProses.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputFlowrateDelete.idProses.HeaderCellClass)"><span id="elh_SubAktivitasFormInputFlowrate_idProses" class="SubAktivitasFormInputFlowrate_idProses">@Html.Raw(subAktivitasFormInputFlowrateDelete.idProses.Caption)</span></th>
} @* subAktivitasFormInputFlowrateDelete.idProses.Visible (end) *@
@if (subAktivitasFormInputFlowrateDelete.idAktifitas.Visible) { // subAktivitasFormInputFlowrateDelete.idAktifitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputFlowrateDelete.idAktifitas.HeaderCellClass)"><span id="elh_SubAktivitasFormInputFlowrate_idAktifitas" class="SubAktivitasFormInputFlowrate_idAktifitas">@Html.Raw(subAktivitasFormInputFlowrateDelete.idAktifitas.Caption)</span></th>
} @* subAktivitasFormInputFlowrateDelete.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputFlowrateDelete.StatusAktivitas.Visible) { // subAktivitasFormInputFlowrateDelete.StatusAktivitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputFlowrateDelete.StatusAktivitas.HeaderCellClass)"><span id="elh_SubAktivitasFormInputFlowrate_StatusAktivitas" class="SubAktivitasFormInputFlowrate_StatusAktivitas">@Html.Raw(subAktivitasFormInputFlowrateDelete.StatusAktivitas.Caption)</span></th>
} @* subAktivitasFormInputFlowrateDelete.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputFlowrateDelete.LastUpdatedBy.Visible) { // subAktivitasFormInputFlowrateDelete.LastUpdatedBy.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputFlowrateDelete.LastUpdatedBy.HeaderCellClass)"><span id="elh_SubAktivitasFormInputFlowrate_LastUpdatedBy" class="SubAktivitasFormInputFlowrate_LastUpdatedBy">@Html.Raw(subAktivitasFormInputFlowrateDelete.LastUpdatedBy.Caption)</span></th>
} @* subAktivitasFormInputFlowrateDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputFlowrateDelete.lastUpdatedDate.Visible) { // subAktivitasFormInputFlowrateDelete.lastUpdatedDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputFlowrateDelete.lastUpdatedDate.HeaderCellClass)"><span id="elh_SubAktivitasFormInputFlowrate_lastUpdatedDate" class="SubAktivitasFormInputFlowrate_lastUpdatedDate">@Html.Raw(subAktivitasFormInputFlowrateDelete.lastUpdatedDate.Caption)</span></th>
} @* subAktivitasFormInputFlowrateDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputFlowrateDelete.Flowrate.Visible) { // subAktivitasFormInputFlowrateDelete.Flowrate.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputFlowrateDelete.Flowrate.HeaderCellClass)"><span id="elh_SubAktivitasFormInputFlowrate_Flowrate" class="SubAktivitasFormInputFlowrate_Flowrate">@Html.Raw(subAktivitasFormInputFlowrateDelete.Flowrate.Caption)</span></th>
} @* subAktivitasFormInputFlowrateDelete.Flowrate.Visible (end) *@
@if (subAktivitasFormInputFlowrateDelete.StrippingTime.Visible) { // subAktivitasFormInputFlowrateDelete.StrippingTime.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputFlowrateDelete.StrippingTime.HeaderCellClass)"><span id="elh_SubAktivitasFormInputFlowrate_StrippingTime" class="SubAktivitasFormInputFlowrate_StrippingTime">@Html.Raw(subAktivitasFormInputFlowrateDelete.StrippingTime.Caption)</span></th>
} @* subAktivitasFormInputFlowrateDelete.StrippingTime.Visible (end) *@
@if (subAktivitasFormInputFlowrateDelete.Pressure.Visible) { // subAktivitasFormInputFlowrateDelete.Pressure.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputFlowrateDelete.Pressure.HeaderCellClass)"><span id="elh_SubAktivitasFormInputFlowrate_Pressure" class="SubAktivitasFormInputFlowrate_Pressure">@Html.Raw(subAktivitasFormInputFlowrateDelete.Pressure.Caption)</span></th>
} @* subAktivitasFormInputFlowrateDelete.Pressure.Visible (end) *@
@if (subAktivitasFormInputFlowrateDelete.LamaPembongkaran.Visible) { // subAktivitasFormInputFlowrateDelete.LamaPembongkaran.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputFlowrateDelete.LamaPembongkaran.HeaderCellClass)"><span id="elh_SubAktivitasFormInputFlowrate_LamaPembongkaran" class="SubAktivitasFormInputFlowrate_LamaPembongkaran">@Html.Raw(subAktivitasFormInputFlowrateDelete.LamaPembongkaran.Caption)</span></th>
} @* subAktivitasFormInputFlowrateDelete.LamaPembongkaran.Visible (end) *@
@if (subAktivitasFormInputFlowrateDelete.ETC.Visible) { // subAktivitasFormInputFlowrateDelete.ETC.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputFlowrateDelete.ETC.HeaderCellClass)"><span id="elh_SubAktivitasFormInputFlowrate_ETC" class="SubAktivitasFormInputFlowrate_ETC">@Html.Raw(subAktivitasFormInputFlowrateDelete.ETC.Caption)</span></th>
} @* subAktivitasFormInputFlowrateDelete.ETC.Visible (end) *@
@if (subAktivitasFormInputFlowrateDelete.userInput.Visible) { // subAktivitasFormInputFlowrateDelete.userInput.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputFlowrateDelete.userInput.HeaderCellClass)"><span id="elh_SubAktivitasFormInputFlowrate_userInput" class="SubAktivitasFormInputFlowrate_userInput">@Html.Raw(subAktivitasFormInputFlowrateDelete.userInput.Caption)</span></th>
} @* subAktivitasFormInputFlowrateDelete.userInput.Visible (end) *@
@if (subAktivitasFormInputFlowrateDelete.etlDate.Visible) { // subAktivitasFormInputFlowrateDelete.etlDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputFlowrateDelete.etlDate.HeaderCellClass)"><span id="elh_SubAktivitasFormInputFlowrate_etlDate" class="SubAktivitasFormInputFlowrate_etlDate">@Html.Raw(subAktivitasFormInputFlowrateDelete.etlDate.Caption)</span></th>
} @* subAktivitasFormInputFlowrateDelete.etlDate.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ subAktivitasFormInputFlowrateDelete.RecordCount = 0; }
@while (subAktivitasFormInputFlowrateDelete.Recordset != null && await subAktivitasFormInputFlowrateDelete.Recordset.ReadAsync()) { // DN
    subAktivitasFormInputFlowrateDelete.RecordCount++;
    subAktivitasFormInputFlowrateDelete.RowCount++;

    // Set row properties
    subAktivitasFormInputFlowrateDelete.ResetAttributes();
    subAktivitasFormInputFlowrateDelete.RowType = RowType.View; // View

    // Get the field contents
    await subAktivitasFormInputFlowrateDelete.LoadRowValues(subAktivitasFormInputFlowrateDelete.Recordset);

    // Render row
    await subAktivitasFormInputFlowrateDelete.RenderRow();
    <tr @Html.Raw(subAktivitasFormInputFlowrateDelete.RowAttributes)>
@if (subAktivitasFormInputFlowrateDelete.id.Visible) { // subAktivitasFormInputFlowrateDelete.id.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputFlowrateDelete.id.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputFlowrateDelete.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateDelete.id.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputFlowrateDelete.id.Visible (end) *@
@if (subAktivitasFormInputFlowrateDelete.NoReferensi.Visible) { // subAktivitasFormInputFlowrateDelete.NoReferensi.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputFlowrateDelete.NoReferensi.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputFlowrateDelete.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateDelete.NoReferensi.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputFlowrateDelete.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputFlowrateDelete.idProses.Visible) { // subAktivitasFormInputFlowrateDelete.idProses.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputFlowrateDelete.idProses.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputFlowrateDelete.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateDelete.idProses.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputFlowrateDelete.idProses.Visible (end) *@
@if (subAktivitasFormInputFlowrateDelete.idAktifitas.Visible) { // subAktivitasFormInputFlowrateDelete.idAktifitas.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputFlowrateDelete.idAktifitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputFlowrateDelete.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateDelete.idAktifitas.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputFlowrateDelete.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputFlowrateDelete.StatusAktivitas.Visible) { // subAktivitasFormInputFlowrateDelete.StatusAktivitas.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputFlowrateDelete.StatusAktivitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputFlowrateDelete.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateDelete.StatusAktivitas.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputFlowrateDelete.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputFlowrateDelete.LastUpdatedBy.Visible) { // subAktivitasFormInputFlowrateDelete.LastUpdatedBy.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputFlowrateDelete.LastUpdatedBy.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputFlowrateDelete.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateDelete.LastUpdatedBy.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputFlowrateDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputFlowrateDelete.lastUpdatedDate.Visible) { // subAktivitasFormInputFlowrateDelete.lastUpdatedDate.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputFlowrateDelete.lastUpdatedDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputFlowrateDelete.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateDelete.lastUpdatedDate.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputFlowrateDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputFlowrateDelete.Flowrate.Visible) { // subAktivitasFormInputFlowrateDelete.Flowrate.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputFlowrateDelete.Flowrate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputFlowrateDelete.Flowrate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateDelete.Flowrate.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputFlowrateDelete.Flowrate.Visible (end) *@
@if (subAktivitasFormInputFlowrateDelete.StrippingTime.Visible) { // subAktivitasFormInputFlowrateDelete.StrippingTime.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputFlowrateDelete.StrippingTime.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputFlowrateDelete.StrippingTime.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateDelete.StrippingTime.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputFlowrateDelete.StrippingTime.Visible (end) *@
@if (subAktivitasFormInputFlowrateDelete.Pressure.Visible) { // subAktivitasFormInputFlowrateDelete.Pressure.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputFlowrateDelete.Pressure.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputFlowrateDelete.Pressure.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateDelete.Pressure.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputFlowrateDelete.Pressure.Visible (end) *@
@if (subAktivitasFormInputFlowrateDelete.LamaPembongkaran.Visible) { // subAktivitasFormInputFlowrateDelete.LamaPembongkaran.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputFlowrateDelete.LamaPembongkaran.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputFlowrateDelete.LamaPembongkaran.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateDelete.LamaPembongkaran.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputFlowrateDelete.LamaPembongkaran.Visible (end) *@
@if (subAktivitasFormInputFlowrateDelete.ETC.Visible) { // subAktivitasFormInputFlowrateDelete.ETC.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputFlowrateDelete.ETC.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputFlowrateDelete.ETC.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateDelete.ETC.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputFlowrateDelete.ETC.Visible (end) *@
@if (subAktivitasFormInputFlowrateDelete.userInput.Visible) { // subAktivitasFormInputFlowrateDelete.userInput.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputFlowrateDelete.userInput.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputFlowrateDelete.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateDelete.userInput.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputFlowrateDelete.userInput.Visible (end) *@
@if (subAktivitasFormInputFlowrateDelete.etlDate.Visible) { // subAktivitasFormInputFlowrateDelete.etlDate.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputFlowrateDelete.etlDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputFlowrateDelete.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateDelete.etlDate.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputFlowrateDelete.etlDate.Visible (end) *@
    </tr>
}
@{ subAktivitasFormInputFlowrateDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(subAktivitasFormInputFlowrateDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@subAktivitasFormInputFlowrateDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
