@{
    // View
    View = this;

    // Check action result
    if (subAktivitasDataStopPembongkaranRtwDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasDataStopPembongkaranRtwDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataStopPembongkaranRtwDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataStopPembongkaranRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fSubAktivitasDataStopPembongkaranRTWdelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasDataStopPembongkaranRTWdelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasDataStopPembongkaranRtwDelete.ShowPageHeader()
@subAktivitasDataStopPembongkaranRtwDelete.ShowMessages()
<form name="fSubAktivitasDataStopPembongkaranRTWdelete" id="fSubAktivitasDataStopPembongkaranRTWdelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in subAktivitasDataStopPembongkaranRtwDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(subAktivitasDataStopPembongkaranRtwDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(subAktivitasDataStopPembongkaranRtwDelete.TableContainerClass)" style="@(subAktivitasDataStopPembongkaranRtwDelete.TableContainerStyle)">
<table class="@(subAktivitasDataStopPembongkaranRtwDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (subAktivitasDataStopPembongkaranRtwDelete.id.Visible) { // subAktivitasDataStopPembongkaranRtwDelete.id.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.id.HeaderCellClass)"><span id="elh_SubAktivitasDataStopPembongkaranRTW_id" class="SubAktivitasDataStopPembongkaranRTW_id">@Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.id.Caption)</span></th>
} @* subAktivitasDataStopPembongkaranRtwDelete.id.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwDelete.NoReferensi.Visible) { // subAktivitasDataStopPembongkaranRtwDelete.NoReferensi.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.NoReferensi.HeaderCellClass)"><span id="elh_SubAktivitasDataStopPembongkaranRTW_NoReferensi" class="SubAktivitasDataStopPembongkaranRTW_NoReferensi">@Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.NoReferensi.Caption)</span></th>
} @* subAktivitasDataStopPembongkaranRtwDelete.NoReferensi.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwDelete.idProses.Visible) { // subAktivitasDataStopPembongkaranRtwDelete.idProses.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.idProses.HeaderCellClass)"><span id="elh_SubAktivitasDataStopPembongkaranRTW_idProses" class="SubAktivitasDataStopPembongkaranRTW_idProses">@Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.idProses.Caption)</span></th>
} @* subAktivitasDataStopPembongkaranRtwDelete.idProses.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwDelete.idAktifitas.Visible) { // subAktivitasDataStopPembongkaranRtwDelete.idAktifitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.idAktifitas.HeaderCellClass)"><span id="elh_SubAktivitasDataStopPembongkaranRTW_idAktifitas" class="SubAktivitasDataStopPembongkaranRTW_idAktifitas">@Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.idAktifitas.Caption)</span></th>
} @* subAktivitasDataStopPembongkaranRtwDelete.idAktifitas.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwDelete.StatusAktivitas.Visible) { // subAktivitasDataStopPembongkaranRtwDelete.StatusAktivitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.StatusAktivitas.HeaderCellClass)"><span id="elh_SubAktivitasDataStopPembongkaranRTW_StatusAktivitas" class="SubAktivitasDataStopPembongkaranRTW_StatusAktivitas">@Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.StatusAktivitas.Caption)</span></th>
} @* subAktivitasDataStopPembongkaranRtwDelete.StatusAktivitas.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwDelete.LastUpdatedBy.Visible) { // subAktivitasDataStopPembongkaranRtwDelete.LastUpdatedBy.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.LastUpdatedBy.HeaderCellClass)"><span id="elh_SubAktivitasDataStopPembongkaranRTW_LastUpdatedBy" class="SubAktivitasDataStopPembongkaranRTW_LastUpdatedBy">@Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.LastUpdatedBy.Caption)</span></th>
} @* subAktivitasDataStopPembongkaranRtwDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwDelete.lastUpdatedDate.Visible) { // subAktivitasDataStopPembongkaranRtwDelete.lastUpdatedDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.lastUpdatedDate.HeaderCellClass)"><span id="elh_SubAktivitasDataStopPembongkaranRTW_lastUpdatedDate" class="SubAktivitasDataStopPembongkaranRTW_lastUpdatedDate">@Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.lastUpdatedDate.Caption)</span></th>
} @* subAktivitasDataStopPembongkaranRtwDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwDelete.Tanggal.Visible) { // subAktivitasDataStopPembongkaranRtwDelete.Tanggal.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.Tanggal.HeaderCellClass)"><span id="elh_SubAktivitasDataStopPembongkaranRTW_Tanggal" class="SubAktivitasDataStopPembongkaranRTW_Tanggal">@Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.Tanggal.Caption)</span></th>
} @* subAktivitasDataStopPembongkaranRtwDelete.Tanggal.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwDelete.userInput.Visible) { // subAktivitasDataStopPembongkaranRtwDelete.userInput.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.userInput.HeaderCellClass)"><span id="elh_SubAktivitasDataStopPembongkaranRTW_userInput" class="SubAktivitasDataStopPembongkaranRTW_userInput">@Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.userInput.Caption)</span></th>
} @* subAktivitasDataStopPembongkaranRtwDelete.userInput.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwDelete.etlDate.Visible) { // subAktivitasDataStopPembongkaranRtwDelete.etlDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.etlDate.HeaderCellClass)"><span id="elh_SubAktivitasDataStopPembongkaranRTW_etlDate" class="SubAktivitasDataStopPembongkaranRTW_etlDate">@Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.etlDate.Caption)</span></th>
} @* subAktivitasDataStopPembongkaranRtwDelete.etlDate.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ subAktivitasDataStopPembongkaranRtwDelete.RecordCount = 0; }
@while (subAktivitasDataStopPembongkaranRtwDelete.Recordset != null && await subAktivitasDataStopPembongkaranRtwDelete.Recordset.ReadAsync()) { // DN
    subAktivitasDataStopPembongkaranRtwDelete.RecordCount++;
    subAktivitasDataStopPembongkaranRtwDelete.RowCount++;

    // Set row properties
    subAktivitasDataStopPembongkaranRtwDelete.ResetAttributes();
    subAktivitasDataStopPembongkaranRtwDelete.RowType = RowType.View; // View

    // Get the field contents
    await subAktivitasDataStopPembongkaranRtwDelete.LoadRowValues(subAktivitasDataStopPembongkaranRtwDelete.Recordset);

    // Render row
    await subAktivitasDataStopPembongkaranRtwDelete.RenderRow();
    <tr @Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.RowAttributes)>
@if (subAktivitasDataStopPembongkaranRtwDelete.id.Visible) { // subAktivitasDataStopPembongkaranRtwDelete.id.Visible (begin)
        <td @Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.id.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.id.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.id.GetViewValue())</span>
</span></td>
} @* subAktivitasDataStopPembongkaranRtwDelete.id.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwDelete.NoReferensi.Visible) { // subAktivitasDataStopPembongkaranRtwDelete.NoReferensi.Visible (begin)
        <td @Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.NoReferensi.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.NoReferensi.GetViewValue())</span>
</span></td>
} @* subAktivitasDataStopPembongkaranRtwDelete.NoReferensi.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwDelete.idProses.Visible) { // subAktivitasDataStopPembongkaranRtwDelete.idProses.Visible (begin)
        <td @Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.idProses.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.idProses.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.idProses.GetViewValue())</span>
</span></td>
} @* subAktivitasDataStopPembongkaranRtwDelete.idProses.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwDelete.idAktifitas.Visible) { // subAktivitasDataStopPembongkaranRtwDelete.idAktifitas.Visible (begin)
        <td @Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.idAktifitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.idAktifitas.GetViewValue())</span>
</span></td>
} @* subAktivitasDataStopPembongkaranRtwDelete.idAktifitas.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwDelete.StatusAktivitas.Visible) { // subAktivitasDataStopPembongkaranRtwDelete.StatusAktivitas.Visible (begin)
        <td @Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.StatusAktivitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.StatusAktivitas.GetViewValue())</span>
</span></td>
} @* subAktivitasDataStopPembongkaranRtwDelete.StatusAktivitas.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwDelete.LastUpdatedBy.Visible) { // subAktivitasDataStopPembongkaranRtwDelete.LastUpdatedBy.Visible (begin)
        <td @Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.LastUpdatedBy.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.LastUpdatedBy.GetViewValue())</span>
</span></td>
} @* subAktivitasDataStopPembongkaranRtwDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwDelete.lastUpdatedDate.Visible) { // subAktivitasDataStopPembongkaranRtwDelete.lastUpdatedDate.Visible (begin)
        <td @Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.lastUpdatedDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.lastUpdatedDate.GetViewValue())</span>
</span></td>
} @* subAktivitasDataStopPembongkaranRtwDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwDelete.Tanggal.Visible) { // subAktivitasDataStopPembongkaranRtwDelete.Tanggal.Visible (begin)
        <td @Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.Tanggal.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.Tanggal.GetViewValue())</span>
</span></td>
} @* subAktivitasDataStopPembongkaranRtwDelete.Tanggal.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwDelete.userInput.Visible) { // subAktivitasDataStopPembongkaranRtwDelete.userInput.Visible (begin)
        <td @Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.userInput.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.userInput.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.userInput.GetViewValue())</span>
</span></td>
} @* subAktivitasDataStopPembongkaranRtwDelete.userInput.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwDelete.etlDate.Visible) { // subAktivitasDataStopPembongkaranRtwDelete.etlDate.Visible (begin)
        <td @Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.etlDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranRtwDelete.etlDate.GetViewValue())</span>
</span></td>
} @* subAktivitasDataStopPembongkaranRtwDelete.etlDate.Visible (end) *@
    </tr>
}
@{ subAktivitasDataStopPembongkaranRtwDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(subAktivitasDataStopPembongkaranRtwDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@subAktivitasDataStopPembongkaranRtwDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
