@{
    // View
    View = this;

    // Check action result
    if (subAktivitasLaporanStockStscsbbmList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasLaporanStockStscsbbmList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasLaporanStockStscsbbmList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasLaporanStockStscsbbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasLaporanStockSTSCSBBM: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasLaporanStockStscsbbmList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasLaporanStockStscsbbmList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasLaporanStockStscsbbmList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasLaporanStockStscsbbmList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasLaporanStockStscsbbmList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasLaporanStockStscsbbmList.TotalRecords > 0 && subAktivitasLaporanStockStscsbbmList.ExportOptions.Visible) {
    subAktivitasLaporanStockStscsbbmList.ExportOptions.Render("body");
}
@if (subAktivitasLaporanStockStscsbbmList.ImportOptions.Visible) {
    subAktivitasLaporanStockStscsbbmList.ImportOptions.Render("body");
}
@if (subAktivitasLaporanStockStscsbbmList.SearchOptions.Visible) {
    subAktivitasLaporanStockStscsbbmList.SearchOptions.Render("body");
}
@if (subAktivitasLaporanStockStscsbbmList.FilterOptions.Visible) {
    subAktivitasLaporanStockStscsbbmList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasLaporanStockStscsbbmList.IsModal) {
<form name="fSubAktivitasLaporanStockSTSCSBBMsrch" id="fSubAktivitasLaporanStockSTSCSBBMsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasLaporanStockSTSCSBBMsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasLaporanStockStscsbbmList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasLaporanStockStscsbbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasLaporanStockSTSCSBBM: currentTable } });
var currentForm;
var fSubAktivitasLaporanStockSTSCSBBMsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasLaporanStockSTSCSBBMsrch")
        .setPageId("list")
@if (subAktivitasLaporanStockStscsbbmList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasLaporanStockStscsbbmList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasLaporanStockStscsbbmList.IsExport() && Empty(subAktivitasLaporanStockStscsbbmList.CurrentAction) && subAktivitasLaporanStockStscsbbmList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasLaporanStockStscsbbmList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasLaporanStockStscsbbmList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasLaporanStockStscsbbmList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasLaporanStockStscsbbmList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasLaporanStockSTSCSBBMsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasLaporanStockStscsbbmList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasLaporanStockSTSCSBBMsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasLaporanStockStscsbbmList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasLaporanStockSTSCSBBMsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasLaporanStockStscsbbmList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasLaporanStockSTSCSBBMsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasLaporanStockStscsbbmList.ShowPageHeader()
@subAktivitasLaporanStockStscsbbmList.ShowMessages()
<main class="list @(subAktivitasLaporanStockStscsbbmList.TotalRecords == 0 && !subAktivitasLaporanStockStscsbbmList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasLaporanStockStscsbbmList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasLaporanStockStscsbbmList.TotalRecords > 0 || !Empty(subAktivitasLaporanStockStscsbbmList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasLaporanStockStscsbbmList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasLaporanStockStscsbbmList.TableGridClass)">
<form name="@(subAktivitasLaporanStockStscsbbmList.FormName)" id="@(subAktivitasLaporanStockStscsbbmList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasLaporanStockStscsbbmList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasLaporanStockStscsbbmList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasLaporanStockSTSCSBBM" class="card-body ew-grid-middle-panel @(subAktivitasLaporanStockStscsbbmList.TableContainerClass)" style="@(subAktivitasLaporanStockStscsbbmList.TableContainerStyle)">
@if (subAktivitasLaporanStockStscsbbmList.TotalRecords > 0 || subAktivitasLaporanStockStscsbbmList.IsGridEdit || subAktivitasLaporanStockStscsbbmList.IsMultiEdit) {
<table id="tbl_SubAktivitasLaporanStockSTSCSBBMlist" class="@(subAktivitasLaporanStockStscsbbmList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasLaporanStockStscsbbmList.RowType = RowType.Header;

    // Render list options
    await subAktivitasLaporanStockStscsbbmList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasLaporanStockStscsbbmList.ListOptions.RenderHeader("left")
@if (subAktivitasLaporanStockStscsbbmList.NoReferensi.Visible) { // subAktivitasLaporanStockStscsbbmList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasLaporanStockStscsbbmList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStockSTSCSBBM_NoReferensi" class="SubAktivitasLaporanStockSTSCSBBM_NoReferensi">@Html.Raw(subAktivitasLaporanStockStscsbbmList.RenderFieldHeader(subAktivitasLaporanStockStscsbbmList.NoReferensi))</div></th>
} @* subAktivitasLaporanStockStscsbbmList.NoReferensi.Visible (end) *@
@if (subAktivitasLaporanStockStscsbbmList.idProses.Visible) { // subAktivitasLaporanStockStscsbbmList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasLaporanStockStscsbbmList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStockSTSCSBBM_idProses" class="SubAktivitasLaporanStockSTSCSBBM_idProses">@Html.Raw(subAktivitasLaporanStockStscsbbmList.RenderFieldHeader(subAktivitasLaporanStockStscsbbmList.idProses))</div></th>
} @* subAktivitasLaporanStockStscsbbmList.idProses.Visible (end) *@
@if (subAktivitasLaporanStockStscsbbmList.idAktifitas.Visible) { // subAktivitasLaporanStockStscsbbmList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasLaporanStockStscsbbmList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStockSTSCSBBM_idAktifitas" class="SubAktivitasLaporanStockSTSCSBBM_idAktifitas">@Html.Raw(subAktivitasLaporanStockStscsbbmList.RenderFieldHeader(subAktivitasLaporanStockStscsbbmList.idAktifitas))</div></th>
} @* subAktivitasLaporanStockStscsbbmList.idAktifitas.Visible (end) *@
@if (subAktivitasLaporanStockStscsbbmList.StatusAktivitas.Visible) { // subAktivitasLaporanStockStscsbbmList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasLaporanStockStscsbbmList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStockSTSCSBBM_StatusAktivitas" class="SubAktivitasLaporanStockSTSCSBBM_StatusAktivitas">@Html.Raw(subAktivitasLaporanStockStscsbbmList.RenderFieldHeader(subAktivitasLaporanStockStscsbbmList.StatusAktivitas))</div></th>
} @* subAktivitasLaporanStockStscsbbmList.StatusAktivitas.Visible (end) *@
@if (subAktivitasLaporanStockStscsbbmList.LastUpdatedBy.Visible) { // subAktivitasLaporanStockStscsbbmList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasLaporanStockStscsbbmList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStockSTSCSBBM_LastUpdatedBy" class="SubAktivitasLaporanStockSTSCSBBM_LastUpdatedBy">@Html.Raw(subAktivitasLaporanStockStscsbbmList.RenderFieldHeader(subAktivitasLaporanStockStscsbbmList.LastUpdatedBy))</div></th>
} @* subAktivitasLaporanStockStscsbbmList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasLaporanStockStscsbbmList.lastUpdatedDate.Visible) { // subAktivitasLaporanStockStscsbbmList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasLaporanStockStscsbbmList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStockSTSCSBBM_lastUpdatedDate" class="SubAktivitasLaporanStockSTSCSBBM_lastUpdatedDate">@Html.Raw(subAktivitasLaporanStockStscsbbmList.RenderFieldHeader(subAktivitasLaporanStockStscsbbmList.lastUpdatedDate))</div></th>
} @* subAktivitasLaporanStockStscsbbmList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasLaporanStockStscsbbmList.StockAwal.Visible) { // subAktivitasLaporanStockStscsbbmList.StockAwal.Visible (begin)
        <th data-name="StockAwal" class="@(subAktivitasLaporanStockStscsbbmList.StockAwal.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStockSTSCSBBM_StockAwal" class="SubAktivitasLaporanStockSTSCSBBM_StockAwal">@Html.Raw(subAktivitasLaporanStockStscsbbmList.RenderFieldHeader(subAktivitasLaporanStockStscsbbmList.StockAwal))</div></th>
} @* subAktivitasLaporanStockStscsbbmList.StockAwal.Visible (end) *@
@if (subAktivitasLaporanStockStscsbbmList.Penerimaan2.Visible) { // subAktivitasLaporanStockStscsbbmList.Penerimaan2.Visible (begin)
        <th data-name="Penerimaan2" class="@(subAktivitasLaporanStockStscsbbmList.Penerimaan2.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStockSTSCSBBM_Penerimaan2" class="SubAktivitasLaporanStockSTSCSBBM_Penerimaan2">@Html.Raw(subAktivitasLaporanStockStscsbbmList.RenderFieldHeader(subAktivitasLaporanStockStscsbbmList.Penerimaan2))</div></th>
} @* subAktivitasLaporanStockStscsbbmList.Penerimaan2.Visible (end) *@
@if (subAktivitasLaporanStockStscsbbmList.Penyaluran2.Visible) { // subAktivitasLaporanStockStscsbbmList.Penyaluran2.Visible (begin)
        <th data-name="Penyaluran2" class="@(subAktivitasLaporanStockStscsbbmList.Penyaluran2.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStockSTSCSBBM_Penyaluran2" class="SubAktivitasLaporanStockSTSCSBBM_Penyaluran2">@Html.Raw(subAktivitasLaporanStockStscsbbmList.RenderFieldHeader(subAktivitasLaporanStockStscsbbmList.Penyaluran2))</div></th>
} @* subAktivitasLaporanStockStscsbbmList.Penyaluran2.Visible (end) *@
@if (subAktivitasLaporanStockStscsbbmList.StockAkhir.Visible) { // subAktivitasLaporanStockStscsbbmList.StockAkhir.Visible (begin)
        <th data-name="StockAkhir" class="@(subAktivitasLaporanStockStscsbbmList.StockAkhir.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStockSTSCSBBM_StockAkhir" class="SubAktivitasLaporanStockSTSCSBBM_StockAkhir">@Html.Raw(subAktivitasLaporanStockStscsbbmList.RenderFieldHeader(subAktivitasLaporanStockStscsbbmList.StockAkhir))</div></th>
} @* subAktivitasLaporanStockStscsbbmList.StockAkhir.Visible (end) *@
@if (subAktivitasLaporanStockStscsbbmList.WorkingLoss.Visible) { // subAktivitasLaporanStockStscsbbmList.WorkingLoss.Visible (begin)
        <th data-name="WorkingLoss" class="@(subAktivitasLaporanStockStscsbbmList.WorkingLoss.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStockSTSCSBBM_WorkingLoss" class="SubAktivitasLaporanStockSTSCSBBM_WorkingLoss">@Html.Raw(subAktivitasLaporanStockStscsbbmList.RenderFieldHeader(subAktivitasLaporanStockStscsbbmList.WorkingLoss))</div></th>
} @* subAktivitasLaporanStockStscsbbmList.WorkingLoss.Visible (end) *@
@if (subAktivitasLaporanStockStscsbbmList.Presentase.Visible) { // subAktivitasLaporanStockStscsbbmList.Presentase.Visible (begin)
        <th data-name="Presentase" class="@(subAktivitasLaporanStockStscsbbmList.Presentase.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStockSTSCSBBM_Presentase" class="SubAktivitasLaporanStockSTSCSBBM_Presentase">@Html.Raw(subAktivitasLaporanStockStscsbbmList.RenderFieldHeader(subAktivitasLaporanStockStscsbbmList.Presentase))</div></th>
} @* subAktivitasLaporanStockStscsbbmList.Presentase.Visible (end) *@
@if (subAktivitasLaporanStockStscsbbmList.userInput.Visible) { // subAktivitasLaporanStockStscsbbmList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasLaporanStockStscsbbmList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStockSTSCSBBM_userInput" class="SubAktivitasLaporanStockSTSCSBBM_userInput">@Html.Raw(subAktivitasLaporanStockStscsbbmList.RenderFieldHeader(subAktivitasLaporanStockStscsbbmList.userInput))</div></th>
} @* subAktivitasLaporanStockStscsbbmList.userInput.Visible (end) *@
@if (subAktivitasLaporanStockStscsbbmList.Tangki.Visible) { // subAktivitasLaporanStockStscsbbmList.Tangki.Visible (begin)
        <th data-name="Tangki" class="@(subAktivitasLaporanStockStscsbbmList.Tangki.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStockSTSCSBBM_Tangki" class="SubAktivitasLaporanStockSTSCSBBM_Tangki">@Html.Raw(subAktivitasLaporanStockStscsbbmList.RenderFieldHeader(subAktivitasLaporanStockStscsbbmList.Tangki))</div></th>
} @* subAktivitasLaporanStockStscsbbmList.Tangki.Visible (end) *@
@if (subAktivitasLaporanStockStscsbbmList.Produk.Visible) { // subAktivitasLaporanStockStscsbbmList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasLaporanStockStscsbbmList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStockSTSCSBBM_Produk" class="SubAktivitasLaporanStockSTSCSBBM_Produk">@Html.Raw(subAktivitasLaporanStockStscsbbmList.RenderFieldHeader(subAktivitasLaporanStockStscsbbmList.Produk))</div></th>
} @* subAktivitasLaporanStockStscsbbmList.Produk.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasLaporanStockStscsbbmList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasLaporanStockStscsbbmList.PageNumber)">
@{
    await subAktivitasLaporanStockStscsbbmList.SetupGrid();
    bool eof = subAktivitasLaporanStockStscsbbmList.Recordset == null; // DN
}
@while (subAktivitasLaporanStockStscsbbmList.RecordCount < subAktivitasLaporanStockStscsbbmList.StopRecord || SameString(subAktivitasLaporanStockStscsbbmList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasLaporanStockStscsbbmList.RowIndex, "$rowindex$") &&
        (!subAktivitasLaporanStockStscsbbmList.IsGridAdd || subAktivitasLaporanStockStscsbbmList.CurrentMode == "copy") &&
        (!((subAktivitasLaporanStockStscsbbmList.IsCopy || subAktivitasLaporanStockStscsbbmList.IsAdd) && subAktivitasLaporanStockStscsbbmList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasLaporanStockStscsbbmList.Recordset.ReadAsync();
    subAktivitasLaporanStockStscsbbmList.RecordCount++;
    if (subAktivitasLaporanStockStscsbbmList.RecordCount >= subAktivitasLaporanStockStscsbbmList.StartRecord) {
        await subAktivitasLaporanStockStscsbbmList.SetupRow();
    <tr @Html.Raw(subAktivitasLaporanStockStscsbbmList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasLaporanStockStscsbbmList.ListOptions.RenderBody("left", subAktivitasLaporanStockStscsbbmList.RowCount)
    @if (subAktivitasLaporanStockStscsbbmList.NoReferensi.Visible) { // subAktivitasLaporanStockStscsbbmList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasLaporanStockStscsbbmList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasLaporanStockStscsbbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLaporanStockStscsbbmList.RowCount)_SubAktivitasLaporanStockSTSCSBBM_NoReferensi" class="el_SubAktivitasLaporanStockSTSCSBBM_NoReferensi">
<span @Html.Raw(subAktivitasLaporanStockStscsbbmList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockStscsbbmList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockStscsbbmList.NoReferensi.Visible (end) *@
    @if (subAktivitasLaporanStockStscsbbmList.idProses.Visible) { // subAktivitasLaporanStockStscsbbmList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasLaporanStockStscsbbmList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasLaporanStockStscsbbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLaporanStockStscsbbmList.RowCount)_SubAktivitasLaporanStockSTSCSBBM_idProses" class="el_SubAktivitasLaporanStockSTSCSBBM_idProses">
<span @Html.Raw(subAktivitasLaporanStockStscsbbmList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockStscsbbmList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockStscsbbmList.idProses.Visible (end) *@
    @if (subAktivitasLaporanStockStscsbbmList.idAktifitas.Visible) { // subAktivitasLaporanStockStscsbbmList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasLaporanStockStscsbbmList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasLaporanStockStscsbbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLaporanStockStscsbbmList.RowCount)_SubAktivitasLaporanStockSTSCSBBM_idAktifitas" class="el_SubAktivitasLaporanStockSTSCSBBM_idAktifitas">
<span @Html.Raw(subAktivitasLaporanStockStscsbbmList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockStscsbbmList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockStscsbbmList.idAktifitas.Visible (end) *@
    @if (subAktivitasLaporanStockStscsbbmList.StatusAktivitas.Visible) { // subAktivitasLaporanStockStscsbbmList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasLaporanStockStscsbbmList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasLaporanStockStscsbbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLaporanStockStscsbbmList.RowCount)_SubAktivitasLaporanStockSTSCSBBM_StatusAktivitas" class="el_SubAktivitasLaporanStockSTSCSBBM_StatusAktivitas">
<span @Html.Raw(subAktivitasLaporanStockStscsbbmList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockStscsbbmList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockStscsbbmList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasLaporanStockStscsbbmList.LastUpdatedBy.Visible) { // subAktivitasLaporanStockStscsbbmList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasLaporanStockStscsbbmList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasLaporanStockStscsbbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLaporanStockStscsbbmList.RowCount)_SubAktivitasLaporanStockSTSCSBBM_LastUpdatedBy" class="el_SubAktivitasLaporanStockSTSCSBBM_LastUpdatedBy">
<span @Html.Raw(subAktivitasLaporanStockStscsbbmList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockStscsbbmList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockStscsbbmList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasLaporanStockStscsbbmList.lastUpdatedDate.Visible) { // subAktivitasLaporanStockStscsbbmList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasLaporanStockStscsbbmList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasLaporanStockStscsbbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLaporanStockStscsbbmList.RowCount)_SubAktivitasLaporanStockSTSCSBBM_lastUpdatedDate" class="el_SubAktivitasLaporanStockSTSCSBBM_lastUpdatedDate">
<span @Html.Raw(subAktivitasLaporanStockStscsbbmList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockStscsbbmList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockStscsbbmList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasLaporanStockStscsbbmList.StockAwal.Visible) { // subAktivitasLaporanStockStscsbbmList.StockAwal.Visible (begin)
        <td data-name="StockAwal" @Html.Raw(subAktivitasLaporanStockStscsbbmList.StockAwal.CellAttributes)>
<span id="el@(SameString(subAktivitasLaporanStockStscsbbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLaporanStockStscsbbmList.RowCount)_SubAktivitasLaporanStockSTSCSBBM_StockAwal" class="el_SubAktivitasLaporanStockSTSCSBBM_StockAwal">
<span @Html.Raw(subAktivitasLaporanStockStscsbbmList.StockAwal.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockStscsbbmList.StockAwal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockStscsbbmList.StockAwal.Visible (end) *@
    @if (subAktivitasLaporanStockStscsbbmList.Penerimaan2.Visible) { // subAktivitasLaporanStockStscsbbmList.Penerimaan2.Visible (begin)
        <td data-name="Penerimaan2" @Html.Raw(subAktivitasLaporanStockStscsbbmList.Penerimaan2.CellAttributes)>
<span id="el@(SameString(subAktivitasLaporanStockStscsbbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLaporanStockStscsbbmList.RowCount)_SubAktivitasLaporanStockSTSCSBBM_Penerimaan2" class="el_SubAktivitasLaporanStockSTSCSBBM_Penerimaan2">
<span @Html.Raw(subAktivitasLaporanStockStscsbbmList.Penerimaan2.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockStscsbbmList.Penerimaan2.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockStscsbbmList.Penerimaan2.Visible (end) *@
    @if (subAktivitasLaporanStockStscsbbmList.Penyaluran2.Visible) { // subAktivitasLaporanStockStscsbbmList.Penyaluran2.Visible (begin)
        <td data-name="Penyaluran2" @Html.Raw(subAktivitasLaporanStockStscsbbmList.Penyaluran2.CellAttributes)>
<span id="el@(SameString(subAktivitasLaporanStockStscsbbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLaporanStockStscsbbmList.RowCount)_SubAktivitasLaporanStockSTSCSBBM_Penyaluran2" class="el_SubAktivitasLaporanStockSTSCSBBM_Penyaluran2">
<span @Html.Raw(subAktivitasLaporanStockStscsbbmList.Penyaluran2.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockStscsbbmList.Penyaluran2.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockStscsbbmList.Penyaluran2.Visible (end) *@
    @if (subAktivitasLaporanStockStscsbbmList.StockAkhir.Visible) { // subAktivitasLaporanStockStscsbbmList.StockAkhir.Visible (begin)
        <td data-name="StockAkhir" @Html.Raw(subAktivitasLaporanStockStscsbbmList.StockAkhir.CellAttributes)>
<span id="el@(SameString(subAktivitasLaporanStockStscsbbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLaporanStockStscsbbmList.RowCount)_SubAktivitasLaporanStockSTSCSBBM_StockAkhir" class="el_SubAktivitasLaporanStockSTSCSBBM_StockAkhir">
<span @Html.Raw(subAktivitasLaporanStockStscsbbmList.StockAkhir.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockStscsbbmList.StockAkhir.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockStscsbbmList.StockAkhir.Visible (end) *@
    @if (subAktivitasLaporanStockStscsbbmList.WorkingLoss.Visible) { // subAktivitasLaporanStockStscsbbmList.WorkingLoss.Visible (begin)
        <td data-name="WorkingLoss" @Html.Raw(subAktivitasLaporanStockStscsbbmList.WorkingLoss.CellAttributes)>
<span id="el@(SameString(subAktivitasLaporanStockStscsbbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLaporanStockStscsbbmList.RowCount)_SubAktivitasLaporanStockSTSCSBBM_WorkingLoss" class="el_SubAktivitasLaporanStockSTSCSBBM_WorkingLoss">
<span @Html.Raw(subAktivitasLaporanStockStscsbbmList.WorkingLoss.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockStscsbbmList.WorkingLoss.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockStscsbbmList.WorkingLoss.Visible (end) *@
    @if (subAktivitasLaporanStockStscsbbmList.Presentase.Visible) { // subAktivitasLaporanStockStscsbbmList.Presentase.Visible (begin)
        <td data-name="Presentase" @Html.Raw(subAktivitasLaporanStockStscsbbmList.Presentase.CellAttributes)>
<span id="el@(SameString(subAktivitasLaporanStockStscsbbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLaporanStockStscsbbmList.RowCount)_SubAktivitasLaporanStockSTSCSBBM_Presentase" class="el_SubAktivitasLaporanStockSTSCSBBM_Presentase">
<span @Html.Raw(subAktivitasLaporanStockStscsbbmList.Presentase.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockStscsbbmList.Presentase.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockStscsbbmList.Presentase.Visible (end) *@
    @if (subAktivitasLaporanStockStscsbbmList.userInput.Visible) { // subAktivitasLaporanStockStscsbbmList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasLaporanStockStscsbbmList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasLaporanStockStscsbbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLaporanStockStscsbbmList.RowCount)_SubAktivitasLaporanStockSTSCSBBM_userInput" class="el_SubAktivitasLaporanStockSTSCSBBM_userInput">
<span @Html.Raw(subAktivitasLaporanStockStscsbbmList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockStscsbbmList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockStscsbbmList.userInput.Visible (end) *@
    @if (subAktivitasLaporanStockStscsbbmList.Tangki.Visible) { // subAktivitasLaporanStockStscsbbmList.Tangki.Visible (begin)
        <td data-name="Tangki" @Html.Raw(subAktivitasLaporanStockStscsbbmList.Tangki.CellAttributes)>
<span id="el@(SameString(subAktivitasLaporanStockStscsbbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLaporanStockStscsbbmList.RowCount)_SubAktivitasLaporanStockSTSCSBBM_Tangki" class="el_SubAktivitasLaporanStockSTSCSBBM_Tangki">
<span @Html.Raw(subAktivitasLaporanStockStscsbbmList.Tangki.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockStscsbbmList.Tangki.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockStscsbbmList.Tangki.Visible (end) *@
    @if (subAktivitasLaporanStockStscsbbmList.Produk.Visible) { // subAktivitasLaporanStockStscsbbmList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasLaporanStockStscsbbmList.Produk.CellAttributes)>
<span id="el@(SameString(subAktivitasLaporanStockStscsbbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLaporanStockStscsbbmList.RowCount)_SubAktivitasLaporanStockSTSCSBBM_Produk" class="el_SubAktivitasLaporanStockSTSCSBBM_Produk">
<span @Html.Raw(subAktivitasLaporanStockStscsbbmList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockStscsbbmList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockStscsbbmList.Produk.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasLaporanStockStscsbbmList.ListOptions.RenderBody("right", subAktivitasLaporanStockStscsbbmList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasLaporanStockStscsbbmList.RowIndex, "$rowindex$"))
        subAktivitasLaporanStockStscsbbmList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasLaporanStockStscsbbmList.IsCopy || subAktivitasLaporanStockStscsbbmList.IsAdd) && subAktivitasLaporanStockStscsbbmList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasLaporanStockStscsbbmList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasLaporanStockStscsbbmList.CurrentAction) && !subAktivitasLaporanStockStscsbbmList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasLaporanStockStscsbbmList.CloseRecordset(); }
@if (!subAktivitasLaporanStockStscsbbmList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasLaporanStockStscsbbmList.IsGridAdd && !(subAktivitasLaporanStockStscsbbmList.IsGridEdit && subAktivitasLaporanStockStscsbbmList.ModalGridEdit) && !subAktivitasLaporanStockStscsbbmList.IsMultiEdit) {
@Html.Raw(subAktivitasLaporanStockStscsbbmList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasLaporanStockStscsbbmList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasLaporanStockStscsbbmList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasLaporanStockStscsbbmList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasLaporanStockStscsbbmList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasLaporanStockStscsbbmList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasLaporanStockSTSCSBBM");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
