@{
    // View
    View = this;

    // Check action result
    if (subAktivitasDataKapalStslpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasDataKapalStslpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasDataKapalStslpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataKapalStslpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataKapalSTSLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasDataKapalStslpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasDataKapalStslpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasDataKapalStslpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasDataKapalStslpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasDataKapalStslpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasDataKapalStslpgList.TotalRecords > 0 && subAktivitasDataKapalStslpgList.ExportOptions.Visible) {
    subAktivitasDataKapalStslpgList.ExportOptions.Render("body");
}
@if (subAktivitasDataKapalStslpgList.ImportOptions.Visible) {
    subAktivitasDataKapalStslpgList.ImportOptions.Render("body");
}
@if (subAktivitasDataKapalStslpgList.SearchOptions.Visible) {
    subAktivitasDataKapalStslpgList.SearchOptions.Render("body");
}
@if (subAktivitasDataKapalStslpgList.FilterOptions.Visible) {
    subAktivitasDataKapalStslpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasDataKapalStslpgList.IsModal) {
<form name="fSubAktivitasDataKapalSTSLPGsrch" id="fSubAktivitasDataKapalSTSLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasDataKapalSTSLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasDataKapalStslpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataKapalStslpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataKapalSTSLPG: currentTable } });
var currentForm;
var fSubAktivitasDataKapalSTSLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasDataKapalSTSLPGsrch")
        .setPageId("list")
@if (subAktivitasDataKapalStslpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasDataKapalStslpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasDataKapalStslpgList.IsExport() && Empty(subAktivitasDataKapalStslpgList.CurrentAction) && subAktivitasDataKapalStslpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasDataKapalStslpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasDataKapalStslpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasDataKapalStslpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasDataKapalStslpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasDataKapalSTSLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataKapalStslpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasDataKapalSTSLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataKapalStslpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasDataKapalSTSLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataKapalStslpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasDataKapalSTSLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasDataKapalStslpgList.ShowPageHeader()
@subAktivitasDataKapalStslpgList.ShowMessages()
<main class="list @(subAktivitasDataKapalStslpgList.TotalRecords == 0 && !subAktivitasDataKapalStslpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasDataKapalStslpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasDataKapalStslpgList.TotalRecords > 0 || !Empty(subAktivitasDataKapalStslpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasDataKapalStslpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasDataKapalStslpgList.TableGridClass)">
<form name="@(subAktivitasDataKapalStslpgList.FormName)" id="@(subAktivitasDataKapalStslpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasDataKapalStslpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasDataKapalStslpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasDataKapalSTSLPG" class="card-body ew-grid-middle-panel @(subAktivitasDataKapalStslpgList.TableContainerClass)" style="@(subAktivitasDataKapalStslpgList.TableContainerStyle)">
@if (subAktivitasDataKapalStslpgList.TotalRecords > 0 || subAktivitasDataKapalStslpgList.IsGridEdit || subAktivitasDataKapalStslpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasDataKapalSTSLPGlist" class="@(subAktivitasDataKapalStslpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasDataKapalStslpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasDataKapalStslpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasDataKapalStslpgList.ListOptions.RenderHeader("left")
@if (subAktivitasDataKapalStslpgList.id.Visible) { // subAktivitasDataKapalStslpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasDataKapalStslpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasDataKapalSTSLPG_id" class="SubAktivitasDataKapalSTSLPG_id">@Html.Raw(subAktivitasDataKapalStslpgList.RenderFieldHeader(subAktivitasDataKapalStslpgList.id))</div></th>
} @* subAktivitasDataKapalStslpgList.id.Visible (end) *@
@if (subAktivitasDataKapalStslpgList.NoReferensi.Visible) { // subAktivitasDataKapalStslpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasDataKapalStslpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasDataKapalSTSLPG_NoReferensi" class="SubAktivitasDataKapalSTSLPG_NoReferensi">@Html.Raw(subAktivitasDataKapalStslpgList.RenderFieldHeader(subAktivitasDataKapalStslpgList.NoReferensi))</div></th>
} @* subAktivitasDataKapalStslpgList.NoReferensi.Visible (end) *@
@if (subAktivitasDataKapalStslpgList.idProses.Visible) { // subAktivitasDataKapalStslpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasDataKapalStslpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasDataKapalSTSLPG_idProses" class="SubAktivitasDataKapalSTSLPG_idProses">@Html.Raw(subAktivitasDataKapalStslpgList.RenderFieldHeader(subAktivitasDataKapalStslpgList.idProses))</div></th>
} @* subAktivitasDataKapalStslpgList.idProses.Visible (end) *@
@if (subAktivitasDataKapalStslpgList.idAktifitas.Visible) { // subAktivitasDataKapalStslpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasDataKapalStslpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasDataKapalSTSLPG_idAktifitas" class="SubAktivitasDataKapalSTSLPG_idAktifitas">@Html.Raw(subAktivitasDataKapalStslpgList.RenderFieldHeader(subAktivitasDataKapalStslpgList.idAktifitas))</div></th>
} @* subAktivitasDataKapalStslpgList.idAktifitas.Visible (end) *@
@if (subAktivitasDataKapalStslpgList.StatusAktivitas.Visible) { // subAktivitasDataKapalStslpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasDataKapalStslpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasDataKapalSTSLPG_StatusAktivitas" class="SubAktivitasDataKapalSTSLPG_StatusAktivitas">@Html.Raw(subAktivitasDataKapalStslpgList.RenderFieldHeader(subAktivitasDataKapalStslpgList.StatusAktivitas))</div></th>
} @* subAktivitasDataKapalStslpgList.StatusAktivitas.Visible (end) *@
@if (subAktivitasDataKapalStslpgList.lastUpdatedBy.Visible) { // subAktivitasDataKapalStslpgList.lastUpdatedBy.Visible (begin)
        <th data-name="lastUpdatedBy" class="@(subAktivitasDataKapalStslpgList.lastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasDataKapalSTSLPG_lastUpdatedBy" class="SubAktivitasDataKapalSTSLPG_lastUpdatedBy">@Html.Raw(subAktivitasDataKapalStslpgList.RenderFieldHeader(subAktivitasDataKapalStslpgList.lastUpdatedBy))</div></th>
} @* subAktivitasDataKapalStslpgList.lastUpdatedBy.Visible (end) *@
@if (subAktivitasDataKapalStslpgList.lastUpdatedDate.Visible) { // subAktivitasDataKapalStslpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasDataKapalStslpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasDataKapalSTSLPG_lastUpdatedDate" class="SubAktivitasDataKapalSTSLPG_lastUpdatedDate">@Html.Raw(subAktivitasDataKapalStslpgList.RenderFieldHeader(subAktivitasDataKapalStslpgList.lastUpdatedDate))</div></th>
} @* subAktivitasDataKapalStslpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasDataKapalStslpgList.namakapal.Visible) { // subAktivitasDataKapalStslpgList.namakapal.Visible (begin)
        <th data-name="namakapal" class="@(subAktivitasDataKapalStslpgList.namakapal.HeaderCellClass)"><div id="elh_SubAktivitasDataKapalSTSLPG_namakapal" class="SubAktivitasDataKapalSTSLPG_namakapal">@Html.Raw(subAktivitasDataKapalStslpgList.RenderFieldHeader(subAktivitasDataKapalStslpgList.namakapal))</div></th>
} @* subAktivitasDataKapalStslpgList.namakapal.Visible (end) *@
@if (subAktivitasDataKapalStslpgList.shipment.Visible) { // subAktivitasDataKapalStslpgList.shipment.Visible (begin)
        <th data-name="shipment" class="@(subAktivitasDataKapalStslpgList.shipment.HeaderCellClass)"><div id="elh_SubAktivitasDataKapalSTSLPG_shipment" class="SubAktivitasDataKapalSTSLPG_shipment">@Html.Raw(subAktivitasDataKapalStslpgList.RenderFieldHeader(subAktivitasDataKapalStslpgList.shipment))</div></th>
} @* subAktivitasDataKapalStslpgList.shipment.Visible (end) *@
@if (subAktivitasDataKapalStslpgList.produk.Visible) { // subAktivitasDataKapalStslpgList.produk.Visible (begin)
        <th data-name="produk" class="@(subAktivitasDataKapalStslpgList.produk.HeaderCellClass)"><div id="elh_SubAktivitasDataKapalSTSLPG_produk" class="SubAktivitasDataKapalSTSLPG_produk">@Html.Raw(subAktivitasDataKapalStslpgList.RenderFieldHeader(subAktivitasDataKapalStslpgList.produk))</div></th>
} @* subAktivitasDataKapalStslpgList.produk.Visible (end) *@
@if (subAktivitasDataKapalStslpgList.nominasi.Visible) { // subAktivitasDataKapalStslpgList.nominasi.Visible (begin)
        <th data-name="nominasi" class="@(subAktivitasDataKapalStslpgList.nominasi.HeaderCellClass)"><div id="elh_SubAktivitasDataKapalSTSLPG_nominasi" class="SubAktivitasDataKapalSTSLPG_nominasi">@Html.Raw(subAktivitasDataKapalStslpgList.RenderFieldHeader(subAktivitasDataKapalStslpgList.nominasi))</div></th>
} @* subAktivitasDataKapalStslpgList.nominasi.Visible (end) *@
@if (subAktivitasDataKapalStslpgList.tgltiba.Visible) { // subAktivitasDataKapalStslpgList.tgltiba.Visible (begin)
        <th data-name="tgltiba" class="@(subAktivitasDataKapalStslpgList.tgltiba.HeaderCellClass)"><div id="elh_SubAktivitasDataKapalSTSLPG_tgltiba" class="SubAktivitasDataKapalSTSLPG_tgltiba">@Html.Raw(subAktivitasDataKapalStslpgList.RenderFieldHeader(subAktivitasDataKapalStslpgList.tgltiba))</div></th>
} @* subAktivitasDataKapalStslpgList.tgltiba.Visible (end) *@
@if (subAktivitasDataKapalStslpgList.userInput.Visible) { // subAktivitasDataKapalStslpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasDataKapalStslpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasDataKapalSTSLPG_userInput" class="SubAktivitasDataKapalSTSLPG_userInput">@Html.Raw(subAktivitasDataKapalStslpgList.RenderFieldHeader(subAktivitasDataKapalStslpgList.userInput))</div></th>
} @* subAktivitasDataKapalStslpgList.userInput.Visible (end) *@
@if (subAktivitasDataKapalStslpgList.etlDate.Visible) { // subAktivitasDataKapalStslpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasDataKapalStslpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasDataKapalSTSLPG_etlDate" class="SubAktivitasDataKapalSTSLPG_etlDate">@Html.Raw(subAktivitasDataKapalStslpgList.RenderFieldHeader(subAktivitasDataKapalStslpgList.etlDate))</div></th>
} @* subAktivitasDataKapalStslpgList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasDataKapalStslpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasDataKapalStslpgList.PageNumber)">
@{
    await subAktivitasDataKapalStslpgList.SetupGrid();
    bool eof = subAktivitasDataKapalStslpgList.Recordset == null; // DN
}
@while (subAktivitasDataKapalStslpgList.RecordCount < subAktivitasDataKapalStslpgList.StopRecord || SameString(subAktivitasDataKapalStslpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasDataKapalStslpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasDataKapalStslpgList.IsGridAdd || subAktivitasDataKapalStslpgList.CurrentMode == "copy") &&
        (!((subAktivitasDataKapalStslpgList.IsCopy || subAktivitasDataKapalStslpgList.IsAdd) && subAktivitasDataKapalStslpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasDataKapalStslpgList.Recordset.ReadAsync();
    subAktivitasDataKapalStslpgList.RecordCount++;
    if (subAktivitasDataKapalStslpgList.RecordCount >= subAktivitasDataKapalStslpgList.StartRecord) {
        await subAktivitasDataKapalStslpgList.SetupRow();
    <tr @Html.Raw(subAktivitasDataKapalStslpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasDataKapalStslpgList.ListOptions.RenderBody("left", subAktivitasDataKapalStslpgList.RowCount)
    @if (subAktivitasDataKapalStslpgList.id.Visible) { // subAktivitasDataKapalStslpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasDataKapalStslpgList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasDataKapalStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataKapalStslpgList.RowCount)_SubAktivitasDataKapalSTSLPG_id" class="el_SubAktivitasDataKapalSTSLPG_id">
<span @Html.Raw(subAktivitasDataKapalStslpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasDataKapalStslpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataKapalStslpgList.id.Visible (end) *@
    @if (subAktivitasDataKapalStslpgList.NoReferensi.Visible) { // subAktivitasDataKapalStslpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasDataKapalStslpgList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasDataKapalStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataKapalStslpgList.RowCount)_SubAktivitasDataKapalSTSLPG_NoReferensi" class="el_SubAktivitasDataKapalSTSLPG_NoReferensi">
<span @Html.Raw(subAktivitasDataKapalStslpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasDataKapalStslpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataKapalStslpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasDataKapalStslpgList.idProses.Visible) { // subAktivitasDataKapalStslpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasDataKapalStslpgList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasDataKapalStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataKapalStslpgList.RowCount)_SubAktivitasDataKapalSTSLPG_idProses" class="el_SubAktivitasDataKapalSTSLPG_idProses">
<span @Html.Raw(subAktivitasDataKapalStslpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasDataKapalStslpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataKapalStslpgList.idProses.Visible (end) *@
    @if (subAktivitasDataKapalStslpgList.idAktifitas.Visible) { // subAktivitasDataKapalStslpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasDataKapalStslpgList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasDataKapalStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataKapalStslpgList.RowCount)_SubAktivitasDataKapalSTSLPG_idAktifitas" class="el_SubAktivitasDataKapalSTSLPG_idAktifitas">
<span @Html.Raw(subAktivitasDataKapalStslpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasDataKapalStslpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataKapalStslpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasDataKapalStslpgList.StatusAktivitas.Visible) { // subAktivitasDataKapalStslpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasDataKapalStslpgList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasDataKapalStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataKapalStslpgList.RowCount)_SubAktivitasDataKapalSTSLPG_StatusAktivitas" class="el_SubAktivitasDataKapalSTSLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasDataKapalStslpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasDataKapalStslpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataKapalStslpgList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasDataKapalStslpgList.lastUpdatedBy.Visible) { // subAktivitasDataKapalStslpgList.lastUpdatedBy.Visible (begin)
        <td data-name="lastUpdatedBy" @Html.Raw(subAktivitasDataKapalStslpgList.lastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasDataKapalStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataKapalStslpgList.RowCount)_SubAktivitasDataKapalSTSLPG_lastUpdatedBy" class="el_SubAktivitasDataKapalSTSLPG_lastUpdatedBy">
<span @Html.Raw(subAktivitasDataKapalStslpgList.lastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasDataKapalStslpgList.lastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataKapalStslpgList.lastUpdatedBy.Visible (end) *@
    @if (subAktivitasDataKapalStslpgList.lastUpdatedDate.Visible) { // subAktivitasDataKapalStslpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasDataKapalStslpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasDataKapalStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataKapalStslpgList.RowCount)_SubAktivitasDataKapalSTSLPG_lastUpdatedDate" class="el_SubAktivitasDataKapalSTSLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasDataKapalStslpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasDataKapalStslpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataKapalStslpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasDataKapalStslpgList.namakapal.Visible) { // subAktivitasDataKapalStslpgList.namakapal.Visible (begin)
        <td data-name="namakapal" @Html.Raw(subAktivitasDataKapalStslpgList.namakapal.CellAttributes)>
<span id="el@(SameString(subAktivitasDataKapalStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataKapalStslpgList.RowCount)_SubAktivitasDataKapalSTSLPG_namakapal" class="el_SubAktivitasDataKapalSTSLPG_namakapal">
<span @Html.Raw(subAktivitasDataKapalStslpgList.namakapal.ViewAttributes)>
@Html.Raw(subAktivitasDataKapalStslpgList.namakapal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataKapalStslpgList.namakapal.Visible (end) *@
    @if (subAktivitasDataKapalStslpgList.shipment.Visible) { // subAktivitasDataKapalStslpgList.shipment.Visible (begin)
        <td data-name="shipment" @Html.Raw(subAktivitasDataKapalStslpgList.shipment.CellAttributes)>
<span id="el@(SameString(subAktivitasDataKapalStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataKapalStslpgList.RowCount)_SubAktivitasDataKapalSTSLPG_shipment" class="el_SubAktivitasDataKapalSTSLPG_shipment">
<span @Html.Raw(subAktivitasDataKapalStslpgList.shipment.ViewAttributes)>
@Html.Raw(subAktivitasDataKapalStslpgList.shipment.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataKapalStslpgList.shipment.Visible (end) *@
    @if (subAktivitasDataKapalStslpgList.produk.Visible) { // subAktivitasDataKapalStslpgList.produk.Visible (begin)
        <td data-name="produk" @Html.Raw(subAktivitasDataKapalStslpgList.produk.CellAttributes)>
<span id="el@(SameString(subAktivitasDataKapalStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataKapalStslpgList.RowCount)_SubAktivitasDataKapalSTSLPG_produk" class="el_SubAktivitasDataKapalSTSLPG_produk">
<span @Html.Raw(subAktivitasDataKapalStslpgList.produk.ViewAttributes)>
@Html.Raw(subAktivitasDataKapalStslpgList.produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataKapalStslpgList.produk.Visible (end) *@
    @if (subAktivitasDataKapalStslpgList.nominasi.Visible) { // subAktivitasDataKapalStslpgList.nominasi.Visible (begin)
        <td data-name="nominasi" @Html.Raw(subAktivitasDataKapalStslpgList.nominasi.CellAttributes)>
<span id="el@(SameString(subAktivitasDataKapalStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataKapalStslpgList.RowCount)_SubAktivitasDataKapalSTSLPG_nominasi" class="el_SubAktivitasDataKapalSTSLPG_nominasi">
<span @Html.Raw(subAktivitasDataKapalStslpgList.nominasi.ViewAttributes)>
@Html.Raw(subAktivitasDataKapalStslpgList.nominasi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataKapalStslpgList.nominasi.Visible (end) *@
    @if (subAktivitasDataKapalStslpgList.tgltiba.Visible) { // subAktivitasDataKapalStslpgList.tgltiba.Visible (begin)
        <td data-name="tgltiba" @Html.Raw(subAktivitasDataKapalStslpgList.tgltiba.CellAttributes)>
<span id="el@(SameString(subAktivitasDataKapalStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataKapalStslpgList.RowCount)_SubAktivitasDataKapalSTSLPG_tgltiba" class="el_SubAktivitasDataKapalSTSLPG_tgltiba">
<span @Html.Raw(subAktivitasDataKapalStslpgList.tgltiba.ViewAttributes)>
@Html.Raw(subAktivitasDataKapalStslpgList.tgltiba.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataKapalStslpgList.tgltiba.Visible (end) *@
    @if (subAktivitasDataKapalStslpgList.userInput.Visible) { // subAktivitasDataKapalStslpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasDataKapalStslpgList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasDataKapalStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataKapalStslpgList.RowCount)_SubAktivitasDataKapalSTSLPG_userInput" class="el_SubAktivitasDataKapalSTSLPG_userInput">
<span @Html.Raw(subAktivitasDataKapalStslpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasDataKapalStslpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataKapalStslpgList.userInput.Visible (end) *@
    @if (subAktivitasDataKapalStslpgList.etlDate.Visible) { // subAktivitasDataKapalStslpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasDataKapalStslpgList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasDataKapalStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataKapalStslpgList.RowCount)_SubAktivitasDataKapalSTSLPG_etlDate" class="el_SubAktivitasDataKapalSTSLPG_etlDate">
<span @Html.Raw(subAktivitasDataKapalStslpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasDataKapalStslpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataKapalStslpgList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasDataKapalStslpgList.ListOptions.RenderBody("right", subAktivitasDataKapalStslpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasDataKapalStslpgList.RowIndex, "$rowindex$"))
        subAktivitasDataKapalStslpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasDataKapalStslpgList.IsCopy || subAktivitasDataKapalStslpgList.IsAdd) && subAktivitasDataKapalStslpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasDataKapalStslpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasDataKapalStslpgList.CurrentAction) && !subAktivitasDataKapalStslpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasDataKapalStslpgList.CloseRecordset(); }
@if (!subAktivitasDataKapalStslpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasDataKapalStslpgList.IsGridAdd && !(subAktivitasDataKapalStslpgList.IsGridEdit && subAktivitasDataKapalStslpgList.ModalGridEdit) && !subAktivitasDataKapalStslpgList.IsMultiEdit) {
@Html.Raw(subAktivitasDataKapalStslpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasDataKapalStslpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasDataKapalStslpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasDataKapalStslpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasDataKapalStslpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasDataKapalStslpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasDataKapalSTSLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
