@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputHasilPemeriksaanPipaEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputHasilPemeriksaanPipaEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasFormInputHasilPemeriksaanPipaEdit.ShowPageHeader()
@subAktivitasFormInputHasilPemeriksaanPipaEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasFormInputHasilPemeriksaanPipaedit" id="fSubAktivitasFormInputHasilPemeriksaanPipaedit" class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputHasilPemeriksaanPipaEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputHasilPemeriksaanPipa: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasFormInputHasilPemeriksaanPipaedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputHasilPemeriksaanPipaedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["NamaBatch", [fields.NamaBatch.visible && fields.NamaBatch.required ? ew.Validators.required(fields.NamaBatch.caption) : null], fields.NamaBatch.isInvalid],
            ["TanggalJam", [fields.TanggalJam.visible && fields.TanggalJam.required ? ew.Validators.required(fields.TanggalJam.caption) : null, ew.Validators.datetime(fields.TanggalJam.clientFormatPattern)], fields.TanggalJam.isInvalid],
            ["NamaKegiatan", [fields.NamaKegiatan.visible && fields.NamaKegiatan.required ? ew.Validators.required(fields.NamaKegiatan.caption) : null], fields.NamaKegiatan.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["Density", [fields.Density.visible && fields.Density.required ? ew.Validators.required(fields.Density.caption) : null], fields.Density.isInvalid],
            ["Temperature", [fields.Temperature.visible && fields.Temperature.required ? ew.Validators.required(fields.Temperature.caption) : null], fields.Temperature.isInvalid],
            ["Pressure", [fields.Pressure.visible && fields.Pressure.required ? ew.Validators.required(fields.Pressure.caption) : null], fields.Pressure.isInvalid],
            ["Keterangan", [fields.Keterangan.visible && fields.Keterangan.required ? ew.Validators.required(fields.Keterangan.caption) : null], fields.Keterangan.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null, ew.Validators.integer], fields.StatusAktivitas.isInvalid],
            ["TanggalJamSOP", [fields.TanggalJamSOP.visible && fields.TanggalJamSOP.required ? ew.Validators.required(fields.TanggalJamSOP.caption) : null, ew.Validators.datetime(fields.TanggalJamSOP.clientFormatPattern)], fields.TanggalJamSOP.isInvalid],
            ["SelisihWaktu", [fields.SelisihWaktu.visible && fields.SelisihWaktu.required ? ew.Validators.required(fields.SelisihWaktu.caption) : null], fields.SelisihWaktu.isInvalid],
            ["IsQualityActive", [fields.IsQualityActive.visible && fields.IsQualityActive.required ? ew.Validators.required(fields.IsQualityActive.caption) : null], fields.IsQualityActive.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "IsQualityActive": @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.IsQualityActive.ToClientList(subAktivitasFormInputHasilPemeriksaanPipaEdit)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputHasilPemeriksaanPipaEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.OldKeyName)" value="@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasFormInputHasilPemeriksaanPipaEdit.NoReferensi.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_NoReferensi" for="x_NoReferensi" class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.NoReferensi.Caption)@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputHasilPemeriksaanPipa_NoReferensi">
<input type="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasFormInputHasilPemeriksaanPipa" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.NoReferensi.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHasilPemeriksaanPipaEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHasilPemeriksaanPipaEdit.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaEdit.idAktifitas.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_idAktifitas" for="x_idAktifitas" class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.idAktifitas.Caption)@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputHasilPemeriksaanPipa_idAktifitas">
<input type="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubAktivitasFormInputHasilPemeriksaanPipa" data-field="x_idAktifitas" value="@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHasilPemeriksaanPipaEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.idAktifitas.FormatPattern)"@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHasilPemeriksaanPipaEdit.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaEdit.NamaBatch.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaEdit.NamaBatch.Visible (begin)
    <div id="r_NamaBatch" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.NamaBatch.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_NamaBatch" for="x_NamaBatch" class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.NamaBatch.Caption)@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.NamaBatch.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.NamaBatch.CellAttributes)>
<span id="el_SubAktivitasFormInputHasilPemeriksaanPipa_NamaBatch">
<input type="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.NamaBatch.InputTextType)" name="x_NamaBatch" id="x_NamaBatch" data-table="SubAktivitasFormInputHasilPemeriksaanPipa" data-field="x_NamaBatch" value="@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.NamaBatch.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHasilPemeriksaanPipaEdit.NamaBatch.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.NamaBatch.FormatPattern)"@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.NamaBatch.EditAttributes) aria-describedby="x_NamaBatch_help">
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.NamaBatch.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.NamaBatch.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHasilPemeriksaanPipaEdit.NamaBatch.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJam.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJam.Visible (begin)
    <div id="r_TanggalJam" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJam.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_TanggalJam" for="x_TanggalJam" class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJam.Caption)@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJam.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJam.CellAttributes)>
<span id="el_SubAktivitasFormInputHasilPemeriksaanPipa_TanggalJam">
<input type="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJam.InputTextType)" name="x_TanggalJam" id="x_TanggalJam" data-table="SubAktivitasFormInputHasilPemeriksaanPipa" data-field="x_TanggalJam" value="@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJam.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJam.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJam.FormatPattern)"@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJam.EditAttributes) aria-describedby="x_TanggalJam_help">
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJam.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJam.GetErrorMessage())</div>
@if (!subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJam.ReadOnly && !subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJam.Disabled && !subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJam.EditAttrs.Is("readonly") && !subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJam.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputHasilPemeriksaanPipaedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputHasilPemeriksaanPipaedit", "x_TanggalJam", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJam.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaEdit.NamaKegiatan.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaEdit.NamaKegiatan.Visible (begin)
    <div id="r_NamaKegiatan" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.NamaKegiatan.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_NamaKegiatan" for="x_NamaKegiatan" class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.NamaKegiatan.Caption)@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.NamaKegiatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.NamaKegiatan.CellAttributes)>
<span id="el_SubAktivitasFormInputHasilPemeriksaanPipa_NamaKegiatan">
<input type="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.NamaKegiatan.InputTextType)" name="x_NamaKegiatan" id="x_NamaKegiatan" data-table="SubAktivitasFormInputHasilPemeriksaanPipa" data-field="x_NamaKegiatan" value="@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.NamaKegiatan.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHasilPemeriksaanPipaEdit.NamaKegiatan.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.NamaKegiatan.FormatPattern)"@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.NamaKegiatan.EditAttributes) aria-describedby="x_NamaKegiatan_help">
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.NamaKegiatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.NamaKegiatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHasilPemeriksaanPipaEdit.NamaKegiatan.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaEdit.Produk.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Produk.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_Produk" for="x_Produk" class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Produk.Caption)@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Produk.CellAttributes)>
<span id="el_SubAktivitasFormInputHasilPemeriksaanPipa_Produk">
<input type="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasFormInputHasilPemeriksaanPipa" data-field="x_Produk" value="@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Produk.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHasilPemeriksaanPipaEdit.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.Produk.FormatPattern)"@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHasilPemeriksaanPipaEdit.Produk.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaEdit.Density.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaEdit.Density.Visible (begin)
    <div id="r_Density" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Density.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_Density" for="x_Density" class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Density.Caption)@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Density.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Density.CellAttributes)>
<span id="el_SubAktivitasFormInputHasilPemeriksaanPipa_Density">
<input type="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.Density.InputTextType)" name="x_Density" id="x_Density" data-table="SubAktivitasFormInputHasilPemeriksaanPipa" data-field="x_Density" value="@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Density.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHasilPemeriksaanPipaEdit.Density.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.Density.FormatPattern)"@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Density.EditAttributes) aria-describedby="x_Density_help">
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Density.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Density.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHasilPemeriksaanPipaEdit.Density.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaEdit.Temperature.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaEdit.Temperature.Visible (begin)
    <div id="r_Temperature" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Temperature.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_Temperature" for="x_Temperature" class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Temperature.Caption)@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Temperature.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Temperature.CellAttributes)>
<span id="el_SubAktivitasFormInputHasilPemeriksaanPipa_Temperature">
<input type="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.Temperature.InputTextType)" name="x_Temperature" id="x_Temperature" data-table="SubAktivitasFormInputHasilPemeriksaanPipa" data-field="x_Temperature" value="@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Temperature.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHasilPemeriksaanPipaEdit.Temperature.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.Temperature.FormatPattern)"@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Temperature.EditAttributes) aria-describedby="x_Temperature_help">
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Temperature.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Temperature.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHasilPemeriksaanPipaEdit.Temperature.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaEdit.Pressure.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaEdit.Pressure.Visible (begin)
    <div id="r_Pressure" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Pressure.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_Pressure" for="x_Pressure" class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Pressure.Caption)@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Pressure.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Pressure.CellAttributes)>
<span id="el_SubAktivitasFormInputHasilPemeriksaanPipa_Pressure">
<input type="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.Pressure.InputTextType)" name="x_Pressure" id="x_Pressure" data-table="SubAktivitasFormInputHasilPemeriksaanPipa" data-field="x_Pressure" value="@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Pressure.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHasilPemeriksaanPipaEdit.Pressure.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.Pressure.FormatPattern)"@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Pressure.EditAttributes) aria-describedby="x_Pressure_help">
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Pressure.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Pressure.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHasilPemeriksaanPipaEdit.Pressure.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaEdit.Keterangan.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaEdit.Keterangan.Visible (begin)
    <div id="r_Keterangan" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Keterangan.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_Keterangan" for="x_Keterangan" class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Keterangan.Caption)@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Keterangan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Keterangan.CellAttributes)>
<span id="el_SubAktivitasFormInputHasilPemeriksaanPipa_Keterangan">
<textarea data-table="SubAktivitasFormInputHasilPemeriksaanPipa" data-field="x_Keterangan" name="x_Keterangan" id="x_Keterangan" cols="35" rows="4" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHasilPemeriksaanPipaEdit.Keterangan.PlaceHolder))"@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Keterangan.EditAttributes) aria-describedby="x_Keterangan_help">@(subAktivitasFormInputHasilPemeriksaanPipaEdit.Keterangan.EditValue)</textarea>
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Keterangan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.Keterangan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHasilPemeriksaanPipaEdit.Keterangan.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaEdit.userInput.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.userInput.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_userInput" for="x_userInput" class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.userInput.Caption)@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputHasilPemeriksaanPipa_userInput">
<input type="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasFormInputHasilPemeriksaanPipa" data-field="x_userInput" value="@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHasilPemeriksaanPipaEdit.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.userInput.FormatPattern)"@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHasilPemeriksaanPipaEdit.userInput.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaEdit.etlDate.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_etlDate" for="x_etlDate" class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.etlDate.Caption)@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputHasilPemeriksaanPipa_etlDate">
<input type="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasFormInputHasilPemeriksaanPipa" data-field="x_etlDate" value="@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHasilPemeriksaanPipaEdit.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.etlDate.FormatPattern)"@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.etlDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputHasilPemeriksaanPipaEdit.etlDate.ReadOnly && !subAktivitasFormInputHasilPemeriksaanPipaEdit.etlDate.Disabled && !subAktivitasFormInputHasilPemeriksaanPipaEdit.etlDate.EditAttrs.Is("readonly") && !subAktivitasFormInputHasilPemeriksaanPipaEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputHasilPemeriksaanPipaedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputHasilPemeriksaanPipaedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHasilPemeriksaanPipaEdit.etlDate.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaEdit.idProses.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_idProses" for="x_idProses" class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.idProses.Caption)@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputHasilPemeriksaanPipa_idProses">
<input type="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubAktivitasFormInputHasilPemeriksaanPipa" data-field="x_idProses" value="@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHasilPemeriksaanPipaEdit.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.idProses.FormatPattern)"@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHasilPemeriksaanPipaEdit.idProses.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaEdit.LastUpdatedBy.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputHasilPemeriksaanPipa_LastUpdatedBy">
<input type="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasFormInputHasilPemeriksaanPipa" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHasilPemeriksaanPipaEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHasilPemeriksaanPipaEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaEdit.lastUpdatedDate.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputHasilPemeriksaanPipa_lastUpdatedDate">
<input type="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasFormInputHasilPemeriksaanPipa" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHasilPemeriksaanPipaEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputHasilPemeriksaanPipaEdit.lastUpdatedDate.ReadOnly && !subAktivitasFormInputHasilPemeriksaanPipaEdit.lastUpdatedDate.Disabled && !subAktivitasFormInputHasilPemeriksaanPipaEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasFormInputHasilPemeriksaanPipaEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputHasilPemeriksaanPipaedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputHasilPemeriksaanPipaedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHasilPemeriksaanPipaEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaEdit.StatusAktivitas.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaEdit.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.StatusAktivitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_StatusAktivitas" for="x_StatusAktivitas" class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.StatusAktivitas.Caption)@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasFormInputHasilPemeriksaanPipa_StatusAktivitas">
<input type="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.StatusAktivitas.InputTextType)" name="x_StatusAktivitas" id="x_StatusAktivitas" data-table="SubAktivitasFormInputHasilPemeriksaanPipa" data-field="x_StatusAktivitas" value="@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.StatusAktivitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHasilPemeriksaanPipaEdit.StatusAktivitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.StatusAktivitas.FormatPattern)"@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.StatusAktivitas.EditAttributes) aria-describedby="x_StatusAktivitas_help">
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.StatusAktivitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.StatusAktivitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHasilPemeriksaanPipaEdit.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJamSOP.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJamSOP.Visible (begin)
    <div id="r_TanggalJamSOP" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJamSOP.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_TanggalJamSOP" for="x_TanggalJamSOP" class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJamSOP.Caption)@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJamSOP.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJamSOP.CellAttributes)>
<span id="el_SubAktivitasFormInputHasilPemeriksaanPipa_TanggalJamSOP">
<input type="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJamSOP.InputTextType)" name="x_TanggalJamSOP" id="x_TanggalJamSOP" data-table="SubAktivitasFormInputHasilPemeriksaanPipa" data-field="x_TanggalJamSOP" value="@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJamSOP.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJamSOP.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJamSOP.FormatPattern)"@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJamSOP.EditAttributes) aria-describedby="x_TanggalJamSOP_help">
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJamSOP.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJamSOP.GetErrorMessage())</div>
@if (!subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJamSOP.ReadOnly && !subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJamSOP.Disabled && !subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJamSOP.EditAttrs.Is("readonly") && !subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJamSOP.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputHasilPemeriksaanPipaedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputHasilPemeriksaanPipaedit", "x_TanggalJamSOP", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHasilPemeriksaanPipaEdit.TanggalJamSOP.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaEdit.SelisihWaktu.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaEdit.SelisihWaktu.Visible (begin)
    <div id="r_SelisihWaktu" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.SelisihWaktu.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_SelisihWaktu" for="x_SelisihWaktu" class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.SelisihWaktu.Caption)@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.SelisihWaktu.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.SelisihWaktu.CellAttributes)>
<span id="el_SubAktivitasFormInputHasilPemeriksaanPipa_SelisihWaktu">
<input type="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.SelisihWaktu.InputTextType)" name="x_SelisihWaktu" id="x_SelisihWaktu" data-table="SubAktivitasFormInputHasilPemeriksaanPipa" data-field="x_SelisihWaktu" value="@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.SelisihWaktu.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputHasilPemeriksaanPipaEdit.SelisihWaktu.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.SelisihWaktu.FormatPattern)"@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.SelisihWaktu.EditAttributes) aria-describedby="x_SelisihWaktu_help">
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.SelisihWaktu.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.SelisihWaktu.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHasilPemeriksaanPipaEdit.SelisihWaktu.Visible (end) *@
@if (subAktivitasFormInputHasilPemeriksaanPipaEdit.IsQualityActive.Visible) { // subAktivitasFormInputHasilPemeriksaanPipaEdit.IsQualityActive.Visible (begin)
    <div id="r_IsQualityActive" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.IsQualityActive.RowAttributes)>
        <label id="elh_SubAktivitasFormInputHasilPemeriksaanPipa_IsQualityActive" class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.IsQualityActive.Caption)@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.IsQualityActive.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.IsQualityActive.CellAttributes)>
<span id="el_SubAktivitasFormInputHasilPemeriksaanPipa_IsQualityActive">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(subAktivitasFormInputHasilPemeriksaanPipaEdit.IsQualityActive.IsInvalidClass)" data-table="SubAktivitasFormInputHasilPemeriksaanPipa" data-field="x_IsQualityActive" data-boolean name="x_IsQualityActive" id="x_IsQualityActive" value="1" checked="@ConvertToBool(subAktivitasFormInputHasilPemeriksaanPipaEdit.IsQualityActive.CurrentValue)" @Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.IsQualityActive.EditAttributes) aria-describedby="x_IsQualityActive_help">
    <div class="invalid-feedback">@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.IsQualityActive.GetErrorMessage())</div>
</div>
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.IsQualityActive.GetCustomMessage)
</span>
</div></div>
    </div>
} @* subAktivitasFormInputHasilPemeriksaanPipaEdit.IsQualityActive.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="SubAktivitasFormInputHasilPemeriksaanPipa" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasFormInputHasilPemeriksaanPipaEdit.id.CurrentValue))">
@{ subAktivitasFormInputHasilPemeriksaanPipaEdit.CloseRecordset(); }
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasFormInputHasilPemeriksaanPipaEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasFormInputHasilPemeriksaanPipaedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasFormInputHasilPemeriksaanPipaedit" data-href="@AppPath(subAktivitasFormInputHasilPemeriksaanPipaEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasFormInputHasilPemeriksaanPipaEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasFormInputHasilPemeriksaanPipaEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputHasilPemeriksaanPipa");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
