@{
    // View
    View = this;

    // Check action result
    if (subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.TotalRecords > 0 && subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.ExportOptions.Visible) {
    subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.ExportOptions.Render("body");
}
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.ImportOptions.Visible) {
    subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.ImportOptions.Render("body");
}
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.SearchOptions.Visible) {
    subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.SearchOptions.Render("body");
}
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.FilterOptions.Visible) {
    subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.IsModal) {
<form name="fSubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPGsrch" id="fSubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG: currentTable } });
var currentForm;
var fSubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPGsrch")
        .setPageId("list")
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.IsExport() && Empty(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.CurrentAction) && subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.ShowPageHeader()
@subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.ShowMessages()
<main class="list @(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.TotalRecords == 0 && !subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.TotalRecords > 0 || !Empty(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.TableGridClass)">
<form name="@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.FormName)" id="@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG" class="card-body ew-grid-middle-panel @(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.TableContainerClass)" style="@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.TableContainerStyle)">
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.TotalRecords > 0 || subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.IsGridEdit || subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPGlist" class="@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.ListOptions.RenderHeader("left")
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.id.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_id" class="SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_id">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.id))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.id.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.NoReferensi.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_NoReferensi" class="SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_NoReferensi">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.NoReferensi))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.NoReferensi.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.idProses.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_idProses" class="SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_idProses">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.idProses))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.idProses.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.idAktifitas.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_idAktifitas" class="SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_idAktifitas">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.idAktifitas))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.idAktifitas.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.StatusAktivitas.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_StatusAktivitas" class="SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_StatusAktivitas">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.StatusAktivitas))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.StatusAktivitas.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.LastUpdatedBy.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_LastUpdatedBy" class="SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_LastUpdatedBy">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.LastUpdatedBy))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.lastUpdatedDate.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_lastUpdatedDate" class="SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_lastUpdatedDate">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.lastUpdatedDate))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.Tanggal.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_Tanggal" class="SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_Tanggal">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.Tanggal))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.Tanggal.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.userInput.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_userInput" class="SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_userInput">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.userInput))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.userInput.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.etlDate.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_etlDate" class="SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_etlDate">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.etlDate))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.PageNumber)">
@{
    await subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.SetupGrid();
    bool eof = subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.Recordset == null; // DN
}
@while (subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RecordCount < subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.StopRecord || SameString(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.IsGridAdd || subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.CurrentMode == "copy") &&
        (!((subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.IsCopy || subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.IsAdd) && subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.Recordset.ReadAsync();
    subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RecordCount++;
    if (subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RecordCount >= subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.StartRecord) {
        await subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.SetupRow();
    <tr @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.ListOptions.RenderBody("left", subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RowCount)
    @if (subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.id.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.id.CellAttributes)>
<span id="el@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_id" class="el_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_id">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.id.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.NoReferensi.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_NoReferensi" class="el_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_NoReferensi">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.idProses.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.idProses.CellAttributes)>
<span id="el@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_idProses" class="el_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_idProses">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.idProses.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.idAktifitas.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_idAktifitas" class="el_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_idAktifitas">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.StatusAktivitas.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_StatusAktivitas" class="el_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.LastUpdatedBy.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_LastUpdatedBy" class="el_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.lastUpdatedDate.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_lastUpdatedDate" class="el_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.Tanggal.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.Tanggal.CellAttributes)>
<span id="el@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_Tanggal" class="el_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_Tanggal">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.Tanggal.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.userInput.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.userInput.CellAttributes)>
<span id="el@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_userInput" class="el_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_userInput">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.userInput.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.etlDate.Visible) { // subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.etlDate.CellAttributes)>
<span id="el@(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_etlDate" class="el_SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG_etlDate">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.ListOptions.RenderBody("right", subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RowIndex, "$rowindex$"))
        subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.IsCopy || subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.IsAdd) && subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.CurrentAction) && !subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.CloseRecordset(); }
@if (!subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.IsGridAdd && !(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.IsGridEdit && subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.ModalGridEdit) && !subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.IsMultiEdit) {
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasKeberangkatanKapalPenyaluranStsPyrLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasKeberangkatanKapalPenyaluranSTSPyrLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
