@{
    // View
    View = this;

    // Check action result
    if (subaktivitasStartBongkarStsPnrBbmList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subaktivitasStartBongkarStsPnrBbmList.UseLayout ? "_Layout" : "";
}
@if (!subaktivitasStartBongkarStsPnrBbmList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasStartBongkarStsPnrBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasStartBongkarSTSPnrBBM: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subaktivitasStartBongkarStsPnrBbmList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subaktivitasStartBongkarStsPnrBbmList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subaktivitasStartBongkarStsPnrBbmList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subaktivitasStartBongkarStsPnrBbmList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subaktivitasStartBongkarStsPnrBbmList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subaktivitasStartBongkarStsPnrBbmList.TotalRecords > 0 && subaktivitasStartBongkarStsPnrBbmList.ExportOptions.Visible) {
    subaktivitasStartBongkarStsPnrBbmList.ExportOptions.Render("body");
}
@if (subaktivitasStartBongkarStsPnrBbmList.ImportOptions.Visible) {
    subaktivitasStartBongkarStsPnrBbmList.ImportOptions.Render("body");
}
@if (subaktivitasStartBongkarStsPnrBbmList.SearchOptions.Visible) {
    subaktivitasStartBongkarStsPnrBbmList.SearchOptions.Render("body");
}
@if (subaktivitasStartBongkarStsPnrBbmList.FilterOptions.Visible) {
    subaktivitasStartBongkarStsPnrBbmList.FilterOptions.Render("body");
}
</div>
}
@if (!subaktivitasStartBongkarStsPnrBbmList.IsModal) {
<form name="fSubaktivitasStartBongkarSTSPnrBBMsrch" id="fSubaktivitasStartBongkarSTSPnrBBMsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubaktivitasStartBongkarSTSPnrBBMsrch_search_panel" class="mb-2 mb-sm-0 @(subaktivitasStartBongkarStsPnrBbmList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasStartBongkarStsPnrBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasStartBongkarSTSPnrBBM: currentTable } });
var currentForm;
var fSubaktivitasStartBongkarSTSPnrBBMsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubaktivitasStartBongkarSTSPnrBBMsrch")
        .setPageId("list")
@if (subaktivitasStartBongkarStsPnrBbmList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subaktivitasStartBongkarStsPnrBbmList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subaktivitasStartBongkarStsPnrBbmList.IsExport() && Empty(subaktivitasStartBongkarStsPnrBbmList.CurrentAction) && subaktivitasStartBongkarStsPnrBbmList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subaktivitasStartBongkarStsPnrBbmList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subaktivitasStartBongkarStsPnrBbmList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subaktivitasStartBongkarStsPnrBbmList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subaktivitasStartBongkarStsPnrBbmList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubaktivitasStartBongkarSTSPnrBBMsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subaktivitasStartBongkarStsPnrBbmList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubaktivitasStartBongkarSTSPnrBBMsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subaktivitasStartBongkarStsPnrBbmList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubaktivitasStartBongkarSTSPnrBBMsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subaktivitasStartBongkarStsPnrBbmList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubaktivitasStartBongkarSTSPnrBBMsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subaktivitasStartBongkarStsPnrBbmList.ShowPageHeader()
@subaktivitasStartBongkarStsPnrBbmList.ShowMessages()
<main class="list @(subaktivitasStartBongkarStsPnrBbmList.TotalRecords == 0 && !subaktivitasStartBongkarStsPnrBbmList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subaktivitasStartBongkarStsPnrBbmList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subaktivitasStartBongkarStsPnrBbmList.TotalRecords > 0 || !Empty(subaktivitasStartBongkarStsPnrBbmList.CurrentAction)) {
<div class="card ew-card ew-grid@(subaktivitasStartBongkarStsPnrBbmList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subaktivitasStartBongkarStsPnrBbmList.TableGridClass)">
<form name="@(subaktivitasStartBongkarStsPnrBbmList.FormName)" id="@(subaktivitasStartBongkarStsPnrBbmList.FormName)" class="ew-form ew-list-form" action="@AppPath(subaktivitasStartBongkarStsPnrBbmList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subaktivitasStartBongkarStsPnrBbmList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubaktivitasStartBongkarSTSPnrBBM" class="card-body ew-grid-middle-panel @(subaktivitasStartBongkarStsPnrBbmList.TableContainerClass)" style="@(subaktivitasStartBongkarStsPnrBbmList.TableContainerStyle)">
@if (subaktivitasStartBongkarStsPnrBbmList.TotalRecords > 0 || subaktivitasStartBongkarStsPnrBbmList.IsGridEdit || subaktivitasStartBongkarStsPnrBbmList.IsMultiEdit) {
<table id="tbl_SubaktivitasStartBongkarSTSPnrBBMlist" class="@(subaktivitasStartBongkarStsPnrBbmList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subaktivitasStartBongkarStsPnrBbmList.RowType = RowType.Header;

    // Render list options
    await subaktivitasStartBongkarStsPnrBbmList.RenderListOptions();
}
@* Render list options (header, left) *@
@subaktivitasStartBongkarStsPnrBbmList.ListOptions.RenderHeader("left")
@if (subaktivitasStartBongkarStsPnrBbmList.id.Visible) { // subaktivitasStartBongkarStsPnrBbmList.id.Visible (begin)
        <th data-name="id" class="@(subaktivitasStartBongkarStsPnrBbmList.id.HeaderCellClass)"><div id="elh_SubaktivitasStartBongkarSTSPnrBBM_id" class="SubaktivitasStartBongkarSTSPnrBBM_id">@Html.Raw(subaktivitasStartBongkarStsPnrBbmList.RenderFieldHeader(subaktivitasStartBongkarStsPnrBbmList.id))</div></th>
} @* subaktivitasStartBongkarStsPnrBbmList.id.Visible (end) *@
@if (subaktivitasStartBongkarStsPnrBbmList.NoReferensi.Visible) { // subaktivitasStartBongkarStsPnrBbmList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subaktivitasStartBongkarStsPnrBbmList.NoReferensi.HeaderCellClass)"><div id="elh_SubaktivitasStartBongkarSTSPnrBBM_NoReferensi" class="SubaktivitasStartBongkarSTSPnrBBM_NoReferensi">@Html.Raw(subaktivitasStartBongkarStsPnrBbmList.RenderFieldHeader(subaktivitasStartBongkarStsPnrBbmList.NoReferensi))</div></th>
} @* subaktivitasStartBongkarStsPnrBbmList.NoReferensi.Visible (end) *@
@if (subaktivitasStartBongkarStsPnrBbmList.idProses.Visible) { // subaktivitasStartBongkarStsPnrBbmList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subaktivitasStartBongkarStsPnrBbmList.idProses.HeaderCellClass)"><div id="elh_SubaktivitasStartBongkarSTSPnrBBM_idProses" class="SubaktivitasStartBongkarSTSPnrBBM_idProses">@Html.Raw(subaktivitasStartBongkarStsPnrBbmList.RenderFieldHeader(subaktivitasStartBongkarStsPnrBbmList.idProses))</div></th>
} @* subaktivitasStartBongkarStsPnrBbmList.idProses.Visible (end) *@
@if (subaktivitasStartBongkarStsPnrBbmList.idAktifitas.Visible) { // subaktivitasStartBongkarStsPnrBbmList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subaktivitasStartBongkarStsPnrBbmList.idAktifitas.HeaderCellClass)"><div id="elh_SubaktivitasStartBongkarSTSPnrBBM_idAktifitas" class="SubaktivitasStartBongkarSTSPnrBBM_idAktifitas">@Html.Raw(subaktivitasStartBongkarStsPnrBbmList.RenderFieldHeader(subaktivitasStartBongkarStsPnrBbmList.idAktifitas))</div></th>
} @* subaktivitasStartBongkarStsPnrBbmList.idAktifitas.Visible (end) *@
@if (subaktivitasStartBongkarStsPnrBbmList.StatusAktivitas.Visible) { // subaktivitasStartBongkarStsPnrBbmList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subaktivitasStartBongkarStsPnrBbmList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubaktivitasStartBongkarSTSPnrBBM_StatusAktivitas" class="SubaktivitasStartBongkarSTSPnrBBM_StatusAktivitas">@Html.Raw(subaktivitasStartBongkarStsPnrBbmList.RenderFieldHeader(subaktivitasStartBongkarStsPnrBbmList.StatusAktivitas))</div></th>
} @* subaktivitasStartBongkarStsPnrBbmList.StatusAktivitas.Visible (end) *@
@if (subaktivitasStartBongkarStsPnrBbmList.LastUpdatedBy.Visible) { // subaktivitasStartBongkarStsPnrBbmList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subaktivitasStartBongkarStsPnrBbmList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubaktivitasStartBongkarSTSPnrBBM_LastUpdatedBy" class="SubaktivitasStartBongkarSTSPnrBBM_LastUpdatedBy">@Html.Raw(subaktivitasStartBongkarStsPnrBbmList.RenderFieldHeader(subaktivitasStartBongkarStsPnrBbmList.LastUpdatedBy))</div></th>
} @* subaktivitasStartBongkarStsPnrBbmList.LastUpdatedBy.Visible (end) *@
@if (subaktivitasStartBongkarStsPnrBbmList.lastUpdatedDate.Visible) { // subaktivitasStartBongkarStsPnrBbmList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subaktivitasStartBongkarStsPnrBbmList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubaktivitasStartBongkarSTSPnrBBM_lastUpdatedDate" class="SubaktivitasStartBongkarSTSPnrBBM_lastUpdatedDate">@Html.Raw(subaktivitasStartBongkarStsPnrBbmList.RenderFieldHeader(subaktivitasStartBongkarStsPnrBbmList.lastUpdatedDate))</div></th>
} @* subaktivitasStartBongkarStsPnrBbmList.lastUpdatedDate.Visible (end) *@
@if (subaktivitasStartBongkarStsPnrBbmList.tglStartBongkar.Visible) { // subaktivitasStartBongkarStsPnrBbmList.tglStartBongkar.Visible (begin)
        <th data-name="tglStartBongkar" class="@(subaktivitasStartBongkarStsPnrBbmList.tglStartBongkar.HeaderCellClass)"><div id="elh_SubaktivitasStartBongkarSTSPnrBBM_tglStartBongkar" class="SubaktivitasStartBongkarSTSPnrBBM_tglStartBongkar">@Html.Raw(subaktivitasStartBongkarStsPnrBbmList.RenderFieldHeader(subaktivitasStartBongkarStsPnrBbmList.tglStartBongkar))</div></th>
} @* subaktivitasStartBongkarStsPnrBbmList.tglStartBongkar.Visible (end) *@
@if (subaktivitasStartBongkarStsPnrBbmList.userInput.Visible) { // subaktivitasStartBongkarStsPnrBbmList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subaktivitasStartBongkarStsPnrBbmList.userInput.HeaderCellClass)"><div id="elh_SubaktivitasStartBongkarSTSPnrBBM_userInput" class="SubaktivitasStartBongkarSTSPnrBBM_userInput">@Html.Raw(subaktivitasStartBongkarStsPnrBbmList.RenderFieldHeader(subaktivitasStartBongkarStsPnrBbmList.userInput))</div></th>
} @* subaktivitasStartBongkarStsPnrBbmList.userInput.Visible (end) *@
@if (subaktivitasStartBongkarStsPnrBbmList.etlDate.Visible) { // subaktivitasStartBongkarStsPnrBbmList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subaktivitasStartBongkarStsPnrBbmList.etlDate.HeaderCellClass)"><div id="elh_SubaktivitasStartBongkarSTSPnrBBM_etlDate" class="SubaktivitasStartBongkarSTSPnrBBM_etlDate">@Html.Raw(subaktivitasStartBongkarStsPnrBbmList.RenderFieldHeader(subaktivitasStartBongkarStsPnrBbmList.etlDate))</div></th>
} @* subaktivitasStartBongkarStsPnrBbmList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subaktivitasStartBongkarStsPnrBbmList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subaktivitasStartBongkarStsPnrBbmList.PageNumber)">
@{
    await subaktivitasStartBongkarStsPnrBbmList.SetupGrid();
    bool eof = subaktivitasStartBongkarStsPnrBbmList.Recordset == null; // DN
}
@while (subaktivitasStartBongkarStsPnrBbmList.RecordCount < subaktivitasStartBongkarStsPnrBbmList.StopRecord || SameString(subaktivitasStartBongkarStsPnrBbmList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subaktivitasStartBongkarStsPnrBbmList.RowIndex, "$rowindex$") &&
        (!subaktivitasStartBongkarStsPnrBbmList.IsGridAdd || subaktivitasStartBongkarStsPnrBbmList.CurrentMode == "copy") &&
        (!((subaktivitasStartBongkarStsPnrBbmList.IsCopy || subaktivitasStartBongkarStsPnrBbmList.IsAdd) && subaktivitasStartBongkarStsPnrBbmList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subaktivitasStartBongkarStsPnrBbmList.Recordset.ReadAsync();
    subaktivitasStartBongkarStsPnrBbmList.RecordCount++;
    if (subaktivitasStartBongkarStsPnrBbmList.RecordCount >= subaktivitasStartBongkarStsPnrBbmList.StartRecord) {
        await subaktivitasStartBongkarStsPnrBbmList.SetupRow();
    <tr @Html.Raw(subaktivitasStartBongkarStsPnrBbmList.RowAttributes)>
    @* Render list options (body, left) *@
    @subaktivitasStartBongkarStsPnrBbmList.ListOptions.RenderBody("left", subaktivitasStartBongkarStsPnrBbmList.RowCount)
    @if (subaktivitasStartBongkarStsPnrBbmList.id.Visible) { // subaktivitasStartBongkarStsPnrBbmList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subaktivitasStartBongkarStsPnrBbmList.id.CellAttributes)>
<span id="el@(SameString(subaktivitasStartBongkarStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasStartBongkarStsPnrBbmList.RowCount)_SubaktivitasStartBongkarSTSPnrBBM_id" class="el_SubaktivitasStartBongkarSTSPnrBBM_id">
<span @Html.Raw(subaktivitasStartBongkarStsPnrBbmList.id.ViewAttributes)>
@Html.Raw(subaktivitasStartBongkarStsPnrBbmList.id.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStartBongkarStsPnrBbmList.id.Visible (end) *@
    @if (subaktivitasStartBongkarStsPnrBbmList.NoReferensi.Visible) { // subaktivitasStartBongkarStsPnrBbmList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subaktivitasStartBongkarStsPnrBbmList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subaktivitasStartBongkarStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasStartBongkarStsPnrBbmList.RowCount)_SubaktivitasStartBongkarSTSPnrBBM_NoReferensi" class="el_SubaktivitasStartBongkarSTSPnrBBM_NoReferensi">
<span @Html.Raw(subaktivitasStartBongkarStsPnrBbmList.NoReferensi.ViewAttributes)>
@Html.Raw(subaktivitasStartBongkarStsPnrBbmList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStartBongkarStsPnrBbmList.NoReferensi.Visible (end) *@
    @if (subaktivitasStartBongkarStsPnrBbmList.idProses.Visible) { // subaktivitasStartBongkarStsPnrBbmList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subaktivitasStartBongkarStsPnrBbmList.idProses.CellAttributes)>
<span id="el@(SameString(subaktivitasStartBongkarStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasStartBongkarStsPnrBbmList.RowCount)_SubaktivitasStartBongkarSTSPnrBBM_idProses" class="el_SubaktivitasStartBongkarSTSPnrBBM_idProses">
<span @Html.Raw(subaktivitasStartBongkarStsPnrBbmList.idProses.ViewAttributes)>
@Html.Raw(subaktivitasStartBongkarStsPnrBbmList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStartBongkarStsPnrBbmList.idProses.Visible (end) *@
    @if (subaktivitasStartBongkarStsPnrBbmList.idAktifitas.Visible) { // subaktivitasStartBongkarStsPnrBbmList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subaktivitasStartBongkarStsPnrBbmList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subaktivitasStartBongkarStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasStartBongkarStsPnrBbmList.RowCount)_SubaktivitasStartBongkarSTSPnrBBM_idAktifitas" class="el_SubaktivitasStartBongkarSTSPnrBBM_idAktifitas">
<span @Html.Raw(subaktivitasStartBongkarStsPnrBbmList.idAktifitas.ViewAttributes)>
@Html.Raw(subaktivitasStartBongkarStsPnrBbmList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStartBongkarStsPnrBbmList.idAktifitas.Visible (end) *@
    @if (subaktivitasStartBongkarStsPnrBbmList.StatusAktivitas.Visible) { // subaktivitasStartBongkarStsPnrBbmList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subaktivitasStartBongkarStsPnrBbmList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subaktivitasStartBongkarStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasStartBongkarStsPnrBbmList.RowCount)_SubaktivitasStartBongkarSTSPnrBBM_StatusAktivitas" class="el_SubaktivitasStartBongkarSTSPnrBBM_StatusAktivitas">
<span @Html.Raw(subaktivitasStartBongkarStsPnrBbmList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subaktivitasStartBongkarStsPnrBbmList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStartBongkarStsPnrBbmList.StatusAktivitas.Visible (end) *@
    @if (subaktivitasStartBongkarStsPnrBbmList.LastUpdatedBy.Visible) { // subaktivitasStartBongkarStsPnrBbmList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subaktivitasStartBongkarStsPnrBbmList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subaktivitasStartBongkarStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasStartBongkarStsPnrBbmList.RowCount)_SubaktivitasStartBongkarSTSPnrBBM_LastUpdatedBy" class="el_SubaktivitasStartBongkarSTSPnrBBM_LastUpdatedBy">
<span @Html.Raw(subaktivitasStartBongkarStsPnrBbmList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subaktivitasStartBongkarStsPnrBbmList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStartBongkarStsPnrBbmList.LastUpdatedBy.Visible (end) *@
    @if (subaktivitasStartBongkarStsPnrBbmList.lastUpdatedDate.Visible) { // subaktivitasStartBongkarStsPnrBbmList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subaktivitasStartBongkarStsPnrBbmList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subaktivitasStartBongkarStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasStartBongkarStsPnrBbmList.RowCount)_SubaktivitasStartBongkarSTSPnrBBM_lastUpdatedDate" class="el_SubaktivitasStartBongkarSTSPnrBBM_lastUpdatedDate">
<span @Html.Raw(subaktivitasStartBongkarStsPnrBbmList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subaktivitasStartBongkarStsPnrBbmList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStartBongkarStsPnrBbmList.lastUpdatedDate.Visible (end) *@
    @if (subaktivitasStartBongkarStsPnrBbmList.tglStartBongkar.Visible) { // subaktivitasStartBongkarStsPnrBbmList.tglStartBongkar.Visible (begin)
        <td data-name="tglStartBongkar" @Html.Raw(subaktivitasStartBongkarStsPnrBbmList.tglStartBongkar.CellAttributes)>
<span id="el@(SameString(subaktivitasStartBongkarStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasStartBongkarStsPnrBbmList.RowCount)_SubaktivitasStartBongkarSTSPnrBBM_tglStartBongkar" class="el_SubaktivitasStartBongkarSTSPnrBBM_tglStartBongkar">
<span @Html.Raw(subaktivitasStartBongkarStsPnrBbmList.tglStartBongkar.ViewAttributes)>
@Html.Raw(subaktivitasStartBongkarStsPnrBbmList.tglStartBongkar.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStartBongkarStsPnrBbmList.tglStartBongkar.Visible (end) *@
    @if (subaktivitasStartBongkarStsPnrBbmList.userInput.Visible) { // subaktivitasStartBongkarStsPnrBbmList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subaktivitasStartBongkarStsPnrBbmList.userInput.CellAttributes)>
<span id="el@(SameString(subaktivitasStartBongkarStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasStartBongkarStsPnrBbmList.RowCount)_SubaktivitasStartBongkarSTSPnrBBM_userInput" class="el_SubaktivitasStartBongkarSTSPnrBBM_userInput">
<span @Html.Raw(subaktivitasStartBongkarStsPnrBbmList.userInput.ViewAttributes)>
@Html.Raw(subaktivitasStartBongkarStsPnrBbmList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStartBongkarStsPnrBbmList.userInput.Visible (end) *@
    @if (subaktivitasStartBongkarStsPnrBbmList.etlDate.Visible) { // subaktivitasStartBongkarStsPnrBbmList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subaktivitasStartBongkarStsPnrBbmList.etlDate.CellAttributes)>
<span id="el@(SameString(subaktivitasStartBongkarStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasStartBongkarStsPnrBbmList.RowCount)_SubaktivitasStartBongkarSTSPnrBBM_etlDate" class="el_SubaktivitasStartBongkarSTSPnrBBM_etlDate">
<span @Html.Raw(subaktivitasStartBongkarStsPnrBbmList.etlDate.ViewAttributes)>
@Html.Raw(subaktivitasStartBongkarStsPnrBbmList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStartBongkarStsPnrBbmList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subaktivitasStartBongkarStsPnrBbmList.ListOptions.RenderBody("right", subaktivitasStartBongkarStsPnrBbmList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subaktivitasStartBongkarStsPnrBbmList.RowIndex, "$rowindex$"))
        subaktivitasStartBongkarStsPnrBbmList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subaktivitasStartBongkarStsPnrBbmList.IsCopy || subaktivitasStartBongkarStsPnrBbmList.IsAdd) && subaktivitasStartBongkarStsPnrBbmList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subaktivitasStartBongkarStsPnrBbmList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subaktivitasStartBongkarStsPnrBbmList.CurrentAction) && !subaktivitasStartBongkarStsPnrBbmList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subaktivitasStartBongkarStsPnrBbmList.CloseRecordset(); }
@if (!subaktivitasStartBongkarStsPnrBbmList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subaktivitasStartBongkarStsPnrBbmList.IsGridAdd && !(subaktivitasStartBongkarStsPnrBbmList.IsGridEdit && subaktivitasStartBongkarStsPnrBbmList.ModalGridEdit) && !subaktivitasStartBongkarStsPnrBbmList.IsMultiEdit) {
@Html.Raw(subaktivitasStartBongkarStsPnrBbmList.Pager.Render())
}
<div class="ew-list-other-options">
@subaktivitasStartBongkarStsPnrBbmList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subaktivitasStartBongkarStsPnrBbmList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subaktivitasStartBongkarStsPnrBbmList.FooterOptions.RenderBody()
</div>
</main>
@subaktivitasStartBongkarStsPnrBbmList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subaktivitasStartBongkarStsPnrBbmList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubaktivitasStartBongkarSTSPnrBBM");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
