@{
    // View
    View = this;

    // Check action result
    if (subAktivitasTotalPenyaluranList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasTotalPenyaluranList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasTotalPenyaluranList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasTotalPenyaluranList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasTotalPenyaluran: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasTotalPenyaluranList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasTotalPenyaluranList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasTotalPenyaluranList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasTotalPenyaluranList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasTotalPenyaluranList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasTotalPenyaluranList.TotalRecords > 0 && subAktivitasTotalPenyaluranList.ExportOptions.Visible) {
    subAktivitasTotalPenyaluranList.ExportOptions.Render("body");
}
@if (subAktivitasTotalPenyaluranList.ImportOptions.Visible) {
    subAktivitasTotalPenyaluranList.ImportOptions.Render("body");
}
@if (subAktivitasTotalPenyaluranList.SearchOptions.Visible) {
    subAktivitasTotalPenyaluranList.SearchOptions.Render("body");
}
@if (subAktivitasTotalPenyaluranList.FilterOptions.Visible) {
    subAktivitasTotalPenyaluranList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasTotalPenyaluranList.IsModal) {
<form name="fSubAktivitasTotalPenyaluransrch" id="fSubAktivitasTotalPenyaluransrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasTotalPenyaluransrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasTotalPenyaluranList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasTotalPenyaluranList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasTotalPenyaluran: currentTable } });
var currentForm;
var fSubAktivitasTotalPenyaluransrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasTotalPenyaluransrch")
        .setPageId("list")
@if (subAktivitasTotalPenyaluranList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasTotalPenyaluranList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasTotalPenyaluranList.IsExport() && Empty(subAktivitasTotalPenyaluranList.CurrentAction) && subAktivitasTotalPenyaluranList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasTotalPenyaluranList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasTotalPenyaluranList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasTotalPenyaluranList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasTotalPenyaluranList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasTotalPenyaluransrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasTotalPenyaluranList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasTotalPenyaluransrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasTotalPenyaluranList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasTotalPenyaluransrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasTotalPenyaluranList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasTotalPenyaluransrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasTotalPenyaluranList.ShowPageHeader()
@subAktivitasTotalPenyaluranList.ShowMessages()
<main class="list @(subAktivitasTotalPenyaluranList.TotalRecords == 0 && !subAktivitasTotalPenyaluranList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasTotalPenyaluranList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasTotalPenyaluranList.TotalRecords > 0 || !Empty(subAktivitasTotalPenyaluranList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasTotalPenyaluranList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasTotalPenyaluranList.TableGridClass)">
<form name="@(subAktivitasTotalPenyaluranList.FormName)" id="@(subAktivitasTotalPenyaluranList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasTotalPenyaluranList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasTotalPenyaluranList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasTotalPenyaluran" class="card-body ew-grid-middle-panel @(subAktivitasTotalPenyaluranList.TableContainerClass)" style="@(subAktivitasTotalPenyaluranList.TableContainerStyle)">
@if (subAktivitasTotalPenyaluranList.TotalRecords > 0 || subAktivitasTotalPenyaluranList.IsGridEdit || subAktivitasTotalPenyaluranList.IsMultiEdit) {
<table id="tbl_SubAktivitasTotalPenyaluranlist" class="@(subAktivitasTotalPenyaluranList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasTotalPenyaluranList.RowType = RowType.Header;

    // Render list options
    await subAktivitasTotalPenyaluranList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasTotalPenyaluranList.ListOptions.RenderHeader("left")
@if (subAktivitasTotalPenyaluranList.NoReferensi.Visible) { // subAktivitasTotalPenyaluranList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasTotalPenyaluranList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasTotalPenyaluran_NoReferensi" class="SubAktivitasTotalPenyaluran_NoReferensi">@Html.Raw(subAktivitasTotalPenyaluranList.RenderFieldHeader(subAktivitasTotalPenyaluranList.NoReferensi))</div></th>
} @* subAktivitasTotalPenyaluranList.NoReferensi.Visible (end) *@
@if (subAktivitasTotalPenyaluranList.idProses.Visible) { // subAktivitasTotalPenyaluranList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasTotalPenyaluranList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasTotalPenyaluran_idProses" class="SubAktivitasTotalPenyaluran_idProses">@Html.Raw(subAktivitasTotalPenyaluranList.RenderFieldHeader(subAktivitasTotalPenyaluranList.idProses))</div></th>
} @* subAktivitasTotalPenyaluranList.idProses.Visible (end) *@
@if (subAktivitasTotalPenyaluranList.idAktifitas.Visible) { // subAktivitasTotalPenyaluranList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasTotalPenyaluranList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasTotalPenyaluran_idAktifitas" class="SubAktivitasTotalPenyaluran_idAktifitas">@Html.Raw(subAktivitasTotalPenyaluranList.RenderFieldHeader(subAktivitasTotalPenyaluranList.idAktifitas))</div></th>
} @* subAktivitasTotalPenyaluranList.idAktifitas.Visible (end) *@
@if (subAktivitasTotalPenyaluranList.StatusAktivitas.Visible) { // subAktivitasTotalPenyaluranList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasTotalPenyaluranList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasTotalPenyaluran_StatusAktivitas" class="SubAktivitasTotalPenyaluran_StatusAktivitas">@Html.Raw(subAktivitasTotalPenyaluranList.RenderFieldHeader(subAktivitasTotalPenyaluranList.StatusAktivitas))</div></th>
} @* subAktivitasTotalPenyaluranList.StatusAktivitas.Visible (end) *@
@if (subAktivitasTotalPenyaluranList.LastUpdatedBy.Visible) { // subAktivitasTotalPenyaluranList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasTotalPenyaluranList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasTotalPenyaluran_LastUpdatedBy" class="SubAktivitasTotalPenyaluran_LastUpdatedBy">@Html.Raw(subAktivitasTotalPenyaluranList.RenderFieldHeader(subAktivitasTotalPenyaluranList.LastUpdatedBy))</div></th>
} @* subAktivitasTotalPenyaluranList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasTotalPenyaluranList.lastUpdatedDate.Visible) { // subAktivitasTotalPenyaluranList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasTotalPenyaluranList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasTotalPenyaluran_lastUpdatedDate" class="SubAktivitasTotalPenyaluran_lastUpdatedDate">@Html.Raw(subAktivitasTotalPenyaluranList.RenderFieldHeader(subAktivitasTotalPenyaluranList.lastUpdatedDate))</div></th>
} @* subAktivitasTotalPenyaluranList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasTotalPenyaluranList.TotalPenyaluran.Visible) { // subAktivitasTotalPenyaluranList.TotalPenyaluran.Visible (begin)
        <th data-name="TotalPenyaluran" class="@(subAktivitasTotalPenyaluranList.TotalPenyaluran.HeaderCellClass)"><div id="elh_SubAktivitasTotalPenyaluran_TotalPenyaluran" class="SubAktivitasTotalPenyaluran_TotalPenyaluran">@Html.Raw(subAktivitasTotalPenyaluranList.RenderFieldHeader(subAktivitasTotalPenyaluranList.TotalPenyaluran))</div></th>
} @* subAktivitasTotalPenyaluranList.TotalPenyaluran.Visible (end) *@
@if (subAktivitasTotalPenyaluranList.StokAkhir.Visible) { // subAktivitasTotalPenyaluranList.StokAkhir.Visible (begin)
        <th data-name="StokAkhir" class="@(subAktivitasTotalPenyaluranList.StokAkhir.HeaderCellClass)"><div id="elh_SubAktivitasTotalPenyaluran_StokAkhir" class="SubAktivitasTotalPenyaluran_StokAkhir">@Html.Raw(subAktivitasTotalPenyaluranList.RenderFieldHeader(subAktivitasTotalPenyaluranList.StokAkhir))</div></th>
} @* subAktivitasTotalPenyaluranList.StokAkhir.Visible (end) *@
@if (subAktivitasTotalPenyaluranList.userInput.Visible) { // subAktivitasTotalPenyaluranList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasTotalPenyaluranList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasTotalPenyaluran_userInput" class="SubAktivitasTotalPenyaluran_userInput">@Html.Raw(subAktivitasTotalPenyaluranList.RenderFieldHeader(subAktivitasTotalPenyaluranList.userInput))</div></th>
} @* subAktivitasTotalPenyaluranList.userInput.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasTotalPenyaluranList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasTotalPenyaluranList.PageNumber)">
@{
    await subAktivitasTotalPenyaluranList.SetupGrid();
    bool eof = subAktivitasTotalPenyaluranList.Recordset == null; // DN
}
@while (subAktivitasTotalPenyaluranList.RecordCount < subAktivitasTotalPenyaluranList.StopRecord || SameString(subAktivitasTotalPenyaluranList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasTotalPenyaluranList.RowIndex, "$rowindex$") &&
        (!subAktivitasTotalPenyaluranList.IsGridAdd || subAktivitasTotalPenyaluranList.CurrentMode == "copy") &&
        (!((subAktivitasTotalPenyaluranList.IsCopy || subAktivitasTotalPenyaluranList.IsAdd) && subAktivitasTotalPenyaluranList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasTotalPenyaluranList.Recordset.ReadAsync();
    subAktivitasTotalPenyaluranList.RecordCount++;
    if (subAktivitasTotalPenyaluranList.RecordCount >= subAktivitasTotalPenyaluranList.StartRecord) {
        await subAktivitasTotalPenyaluranList.SetupRow();
    <tr @Html.Raw(subAktivitasTotalPenyaluranList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasTotalPenyaluranList.ListOptions.RenderBody("left", subAktivitasTotalPenyaluranList.RowCount)
    @if (subAktivitasTotalPenyaluranList.NoReferensi.Visible) { // subAktivitasTotalPenyaluranList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasTotalPenyaluranList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasTotalPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasTotalPenyaluranList.RowCount)_SubAktivitasTotalPenyaluran_NoReferensi" class="el_SubAktivitasTotalPenyaluran_NoReferensi">
<span @Html.Raw(subAktivitasTotalPenyaluranList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasTotalPenyaluranList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasTotalPenyaluranList.NoReferensi.Visible (end) *@
    @if (subAktivitasTotalPenyaluranList.idProses.Visible) { // subAktivitasTotalPenyaluranList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasTotalPenyaluranList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasTotalPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasTotalPenyaluranList.RowCount)_SubAktivitasTotalPenyaluran_idProses" class="el_SubAktivitasTotalPenyaluran_idProses">
<span @Html.Raw(subAktivitasTotalPenyaluranList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasTotalPenyaluranList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasTotalPenyaluranList.idProses.Visible (end) *@
    @if (subAktivitasTotalPenyaluranList.idAktifitas.Visible) { // subAktivitasTotalPenyaluranList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasTotalPenyaluranList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasTotalPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasTotalPenyaluranList.RowCount)_SubAktivitasTotalPenyaluran_idAktifitas" class="el_SubAktivitasTotalPenyaluran_idAktifitas">
<span @Html.Raw(subAktivitasTotalPenyaluranList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasTotalPenyaluranList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasTotalPenyaluranList.idAktifitas.Visible (end) *@
    @if (subAktivitasTotalPenyaluranList.StatusAktivitas.Visible) { // subAktivitasTotalPenyaluranList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasTotalPenyaluranList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasTotalPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasTotalPenyaluranList.RowCount)_SubAktivitasTotalPenyaluran_StatusAktivitas" class="el_SubAktivitasTotalPenyaluran_StatusAktivitas">
<span @Html.Raw(subAktivitasTotalPenyaluranList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasTotalPenyaluranList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasTotalPenyaluranList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasTotalPenyaluranList.LastUpdatedBy.Visible) { // subAktivitasTotalPenyaluranList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasTotalPenyaluranList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasTotalPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasTotalPenyaluranList.RowCount)_SubAktivitasTotalPenyaluran_LastUpdatedBy" class="el_SubAktivitasTotalPenyaluran_LastUpdatedBy">
<span @Html.Raw(subAktivitasTotalPenyaluranList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasTotalPenyaluranList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasTotalPenyaluranList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasTotalPenyaluranList.lastUpdatedDate.Visible) { // subAktivitasTotalPenyaluranList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasTotalPenyaluranList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasTotalPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasTotalPenyaluranList.RowCount)_SubAktivitasTotalPenyaluran_lastUpdatedDate" class="el_SubAktivitasTotalPenyaluran_lastUpdatedDate">
<span @Html.Raw(subAktivitasTotalPenyaluranList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasTotalPenyaluranList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasTotalPenyaluranList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasTotalPenyaluranList.TotalPenyaluran.Visible) { // subAktivitasTotalPenyaluranList.TotalPenyaluran.Visible (begin)
        <td data-name="TotalPenyaluran" @Html.Raw(subAktivitasTotalPenyaluranList.TotalPenyaluran.CellAttributes)>
<span id="el@(SameString(subAktivitasTotalPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasTotalPenyaluranList.RowCount)_SubAktivitasTotalPenyaluran_TotalPenyaluran" class="el_SubAktivitasTotalPenyaluran_TotalPenyaluran">
<span @Html.Raw(subAktivitasTotalPenyaluranList.TotalPenyaluran.ViewAttributes)>
@Html.Raw(subAktivitasTotalPenyaluranList.TotalPenyaluran.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasTotalPenyaluranList.TotalPenyaluran.Visible (end) *@
    @if (subAktivitasTotalPenyaluranList.StokAkhir.Visible) { // subAktivitasTotalPenyaluranList.StokAkhir.Visible (begin)
        <td data-name="StokAkhir" @Html.Raw(subAktivitasTotalPenyaluranList.StokAkhir.CellAttributes)>
<span id="el@(SameString(subAktivitasTotalPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasTotalPenyaluranList.RowCount)_SubAktivitasTotalPenyaluran_StokAkhir" class="el_SubAktivitasTotalPenyaluran_StokAkhir">
<span @Html.Raw(subAktivitasTotalPenyaluranList.StokAkhir.ViewAttributes)>
@Html.Raw(subAktivitasTotalPenyaluranList.StokAkhir.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasTotalPenyaluranList.StokAkhir.Visible (end) *@
    @if (subAktivitasTotalPenyaluranList.userInput.Visible) { // subAktivitasTotalPenyaluranList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasTotalPenyaluranList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasTotalPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasTotalPenyaluranList.RowCount)_SubAktivitasTotalPenyaluran_userInput" class="el_SubAktivitasTotalPenyaluran_userInput">
<span @Html.Raw(subAktivitasTotalPenyaluranList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasTotalPenyaluranList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasTotalPenyaluranList.userInput.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasTotalPenyaluranList.ListOptions.RenderBody("right", subAktivitasTotalPenyaluranList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasTotalPenyaluranList.RowIndex, "$rowindex$"))
        subAktivitasTotalPenyaluranList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasTotalPenyaluranList.IsCopy || subAktivitasTotalPenyaluranList.IsAdd) && subAktivitasTotalPenyaluranList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasTotalPenyaluranList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasTotalPenyaluranList.CurrentAction) && !subAktivitasTotalPenyaluranList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasTotalPenyaluranList.CloseRecordset(); }
@if (!subAktivitasTotalPenyaluranList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasTotalPenyaluranList.IsGridAdd && !(subAktivitasTotalPenyaluranList.IsGridEdit && subAktivitasTotalPenyaluranList.ModalGridEdit) && !subAktivitasTotalPenyaluranList.IsMultiEdit) {
@Html.Raw(subAktivitasTotalPenyaluranList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasTotalPenyaluranList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasTotalPenyaluranList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasTotalPenyaluranList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasTotalPenyaluranList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasTotalPenyaluranList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasTotalPenyaluran");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
