@{
    // View
    View = this;

    // Check action result
    if (subaktivitasNilaiBlalbdPipaEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subaktivitasNilaiBlalbdPipaEdit.UseLayout ? "_Layout" : "";
}
@subaktivitasNilaiBlalbdPipaEdit.ShowPageHeader()
@subaktivitasNilaiBlalbdPipaEdit.ShowMessages()
<main class="edit">
<form name="fSubaktivitasNilaiBLALBDPipaedit" id="fSubaktivitasNilaiBLALBDPipaedit" class="@(subaktivitasNilaiBlalbdPipaEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasNilaiBlalbdPipaEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasNilaiBLALBDPipa: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubaktivitasNilaiBLALBDPipaedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubaktivitasNilaiBLALBDPipaedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null], fields.idAktifitas.isInvalid],
            ["BL_klobs", [fields.BL_klobs.visible && fields.BL_klobs.required ? ew.Validators.required(fields.BL_klobs.caption) : null], fields.BL_klobs.isInvalid],
            ["BL_kl15", [fields.BL_kl15.visible && fields.BL_kl15.required ? ew.Validators.required(fields.BL_kl15.caption) : null], fields.BL_kl15.isInvalid],
            ["BL_barrels", [fields.BL_barrels.visible && fields.BL_barrels.required ? ew.Validators.required(fields.BL_barrels.caption) : null], fields.BL_barrels.isInvalid],
            ["BL_lt", [fields.BL_lt.visible && fields.BL_lt.required ? ew.Validators.required(fields.BL_lt.caption) : null], fields.BL_lt.isInvalid],
            ["BL_mt", [fields.BL_mt.visible && fields.BL_mt.required ? ew.Validators.required(fields.BL_mt.caption) : null], fields.BL_mt.isInvalid],
            ["AL_klobs", [fields.AL_klobs.visible && fields.AL_klobs.required ? ew.Validators.required(fields.AL_klobs.caption) : null], fields.AL_klobs.isInvalid],
            ["AL_kl15", [fields.AL_kl15.visible && fields.AL_kl15.required ? ew.Validators.required(fields.AL_kl15.caption) : null], fields.AL_kl15.isInvalid],
            ["AL_barrels", [fields.AL_barrels.visible && fields.AL_barrels.required ? ew.Validators.required(fields.AL_barrels.caption) : null], fields.AL_barrels.isInvalid],
            ["AL_lt", [fields.AL_lt.visible && fields.AL_lt.required ? ew.Validators.required(fields.AL_lt.caption) : null], fields.AL_lt.isInvalid],
            ["AL_mt", [fields.AL_mt.visible && fields.AL_mt.required ? ew.Validators.required(fields.AL_mt.caption) : null], fields.AL_mt.isInvalid],
            ["BD_klobs", [fields.BD_klobs.visible && fields.BD_klobs.required ? ew.Validators.required(fields.BD_klobs.caption) : null], fields.BD_klobs.isInvalid],
            ["BD_kl15", [fields.BD_kl15.visible && fields.BD_kl15.required ? ew.Validators.required(fields.BD_kl15.caption) : null], fields.BD_kl15.isInvalid],
            ["BD_barrels", [fields.BD_barrels.visible && fields.BD_barrels.required ? ew.Validators.required(fields.BD_barrels.caption) : null], fields.BD_barrels.isInvalid],
            ["BD_lt", [fields.BD_lt.visible && fields.BD_lt.required ? ew.Validators.required(fields.BD_lt.caption) : null], fields.BD_lt.isInvalid],
            ["BD_mt", [fields.BD_mt.visible && fields.BD_mt.required ? ew.Validators.required(fields.BD_mt.caption) : null], fields.BD_mt.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null], fields.idProses.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null], fields.lastUpdatedDate.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null], fields.StatusAktivitas.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Client script
    // Write your client script here, no need to add script tags.
    var parent_url = ew.PATH_BASE;
    var NoReferensi = $("#x_NoReferensi").val();
    var IdProses = $("#x_idProses").val();
    var IdAktivitas = $("#x_idAktifitas").val();
    let proceedSubmitStatus = null;
    $("#x_BL_klobs, #x_BL_kl15, #x_BL_barrels, #x_BL_mt, #x_BL_lt, #x_AL_klobs, #x_AL_kl15, #x_AL_barrels, #x_AL_mt, #x_AL_lt, #x_BD_klobs, #x_BD_kl15, #x_BD_barrels, #x_BD_mt, #x_BD_lt").on('focus', function () {
        hideFeedback($(this));
    });
    function hideFeedback(el) {
        let feedback = el.siblings('.invalid-feedback');
        feedback.hide();
    }
    function validasiInput() {
        var inputMap = {
            "#x_BL_klobs": "BL KL Obs",
            "#x_BL_kl15": "BL KL 15",
            "#x_BL_barrels": "BL Barrels",
            "#x_BL_mt": "BL Mt",
            "#x_BL_lt": "BL Lt",
            "#x_AL_klobs": "AL KL Obs",
            "#x_AL_kl15": "AL KL 15",
            "#x_AL_barrels": "AL Barrels",
            "#x_AL_mt": "AL Mt",
            "#x_AL_lt": "AL Lt",
            "#x_BD_klobs": "BD KL Obs",
            "#x_BD_kl15": "BD KL 15",
            "#x_BD_barrels": "BD Barrels",
            "#x_BD_mt": "BD Mt",
            "#x_BD_lt": "BD Lt"
        };
        let isValid = true;
        $('.invalid-feedback').hide();
        let zeroOrNegativeFields = [];
        for (var id in inputMap) {
            var el = $(id);
            var label = inputMap[id];
            var val = el.val().trim();
            el.val(val);
            var feedback = el.siblings('.invalid-feedback');
            if (val === "") {
                feedback.text('*' + label + ' tidak boleh kosong.').show();
                isValid = false;
                continue;
            }
            if (isNaN(val)) {
                feedback.text('*' + label + ' harus diisi dengan angka desimal yang valid.').show();
                isValid = false;
                continue;
            }
            var number = parseFloat(val);
            if (number <= 0) {
                zeroOrNegativeFields.push(label)
                // feedback.text('*' + label + ' tidak boleh bernilai 0.').show();
                // isValid = false;
            }
        }
        let fieldNotValid = [];
        for (const fieldId in inputMap) {
            const el = $(fieldId);
            const label = inputMap[fieldId];
            if (el.length && !el.val().trim()) {
                fieldNotValid.push(label);
                isValid = false
            }
        }
        if (!isValid) {
            ew.alert("Field tidak boleh kosong: " + fieldNotValid.join(", "));
            return { isValid: false}; // Gagal submit
        } else {
            $('.invalid-feedback').hide();
            if (zeroOrNegativeFields.length > 0) {
                return { isValid: false, hasNegative: true, fields: zeroOrNegativeFields };
            }
                return { isValid: true};
        }
        return { isValid: true};
    }
    function handleCustomSubmit(status) {
        let idAktivitas = $("#x_idAktifitas").val();
        const originalStatus = document.querySelector('#el_SubaktivitasNilaiBLALBDPipa_StatusAktivitas .form-control-plaintext').textContent;
        const isValidInput = validasiInput();
        if (!isValidInput.isValid && !isValidInput.hasNegative) return;
        let allNegativeFields = [];
        if (isValidInput.hasNegative) allNegativeFields = allNegativeFields.concat(isValidInput.fields);
        if (allNegativeFields.length > 0) {
            let warningText = "Field berikut bernilai 0 atau kurang: " + allNegativeFields.join(", ") + ". Apakah Anda ingin tetap menyimpan?";
            $("#warningValueText").text(warningText);
            proceedSubmitStatus = status;
            $("#warningValueModal").modal("show");
            return;
        }

        // Jika nilai valid langsung submit
        submitFinal(status);
    }
    function submitFinal(status) {
        let idAktivitas = $("#x_idAktifitas").val();
        const originalStatus = document.querySelector('#el_SubaktivitasNilaiBLALBDPipa_StatusAktivitas .form-control-plaintext').textContent;
        $.ajax({
            url: parent_url + `api/LookUpList/check_valid_status_aktivitas?idAktivitas=${idAktivitas}&originalStatus=${originalStatus}`,
            type: 'GET',
            beforeSend: function () {
                showLoading();
            },
            success: function (response) {
                if (!response.IsValid){
                    hideLoading();
                    ew.alert(response.Message ?? "Status aktivitas telah diubah oleh pengguna lain");
                    return;
                } else {
                    let form = $("#fSubaktivitasNilaiBLALBDPipaedit");
                    $.ajax({
                        url: form.attr("action"),
                        type: form.attr("method"),
                        data: form.serialize(),
                        success: function (response) {
                            updateStatus(idAktivitas, status);
                        },
                        error: function (xhr, status, error) {
                            hideLoading();
                            ew.alert("Gagal menyimpan data.");
                            console.error("Form submit gagal:", error);
                        }
                    }); 
                }
            },
            error: function (xhr, status, error) {
                hideLoading();
                ew.alert("Gagal menyimpan data.");
                console.error("Form submit gagal:", error);
            }
        }); 
    }
    function updateStatus(idAktivitas, status) {
        $.ajax({
            url: parent_url + `api/LookUpList/update_status_aktivitas?idAktivitas=${idAktivitas}&statusAktivitas=${status}`,
            type: 'POST',
            success: function () {
                hideLoading();
                ew.alert('Perubahan berhasil disimpan.');
                setTimeout(function () {
                    if (status == "Completed" || status == "Completed Edit") {
                        window.location.href = `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`;
                    } else {
                        location.reload();
                    }
                }, 1000);
            },
            error: function (xhr, status, error) {
                hideLoading();
                ew.alert("Status gagal diperbarui.");
                console.error("Update status gagal:", error);
            }
        });
    }
    function reverseStatus(status, catatan) {
    showLoading();
    let idAktivitas = $("#x_idAktifitas").val();
    $.ajax({
            url: parent_url + `api/LookUpList/update_status_aktivitas-v2`,
            type: 'POST',
            data: JSON.stringify({ IdAktivitas: idAktivitas, StatusAktivitas: status, Catatan: catatan ?? null }),
            contentType: 'application/json',
            success: function () {
                hideLoading();
                ew.alert('Perubahan berhasil disimpan.');
                setTimeout(function () {
                    window.location.href = `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`;
                }, 1000);
            },
            error: function (xhr, status, error) {
                ew.alert("Status gagal diperbarui.");
                console.error("Update status gagal:", error);
            },
            complete: function () {
                hideLoading();
            }
        });
    }
    $(document).on("click", "#btn-draft", function () {
        handleCustomSubmit("Draft");
    });
    $(document).on("click", "#btn-completed", function () {
        handleCustomSubmit("Completed");
    });
    $(document).on("click", "#btn-editing", function () {
        handleCustomSubmit("Editing");
    });
    $(document).on("click", "#btn-completedEdit", function () {
        handleCustomSubmit("Completed Edit");
    });
    $(document).on("click", "#btn-confirm-modal", function () {
        $("#warningValueModal").modal("hide");
        submitFinal(proceedSubmitStatus);
    });
    $(document).on("submit", "#reverseStatusEditingModalForm", function (e) {
        e.preventDefault();
        let catatanText = $("#catatanReverseStatusEditing").val();
        reverseStatus("Editing", catatanText);
    });
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subaktivitasNilaiBlalbdPipaEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subaktivitasNilaiBlalbdPipaEdit.OldKeyName)" value="@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.OldKey)">
<div class="ew-edit-div d-none"><!-- page* -->
@if (subaktivitasNilaiBlalbdPipaEdit.idAktifitas.Visible) { // subaktivitasNilaiBlalbdPipaEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubaktivitasNilaiBLALBDPipa_idAktifitas" class="@(subaktivitasNilaiBlalbdPipaEdit.LeftColumnClass)"><template id="tpc_SubaktivitasNilaiBLALBDPipa_idAktifitas">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.idAktifitas.Caption)@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subaktivitasNilaiBlalbdPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.idAktifitas.CellAttributes)>
<template id="tpx_SubaktivitasNilaiBLALBDPipa_idAktifitas"><span id="el_SubaktivitasNilaiBLALBDPipa_idAktifitas">
<span @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.idAktifitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.idAktifitas.DisplayValue(subaktivitasNilaiBlalbdPipaEdit.idAktifitas.EditValue))</span></span>
<input type="hidden" data-table="SubaktivitasNilaiBLALBDPipa" data-field="x_idAktifitas" data-hidden="1" name="x_idAktifitas" id="x_idAktifitas" value="@Html.Raw(HtmlEncode(subaktivitasNilaiBlalbdPipaEdit.idAktifitas.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subaktivitasNilaiBlalbdPipaEdit.idAktifitas.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaEdit.BL_klobs.Visible) { // subaktivitasNilaiBlalbdPipaEdit.BL_klobs.Visible (begin)
    <div id="r_BL_klobs" @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_klobs.RowAttributes)>
        <label id="elh_SubaktivitasNilaiBLALBDPipa_BL_klobs" for="x_BL_klobs" class="@(subaktivitasNilaiBlalbdPipaEdit.LeftColumnClass)"><template id="tpc_SubaktivitasNilaiBLALBDPipa_BL_klobs">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_klobs.Caption)@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_klobs.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subaktivitasNilaiBlalbdPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_klobs.CellAttributes)>
<template id="tpx_SubaktivitasNilaiBLALBDPipa_BL_klobs"><span id="el_SubaktivitasNilaiBLALBDPipa_BL_klobs">
<input type="@(subaktivitasNilaiBlalbdPipaEdit.BL_klobs.InputTextType)" name="x_BL_klobs" id="x_BL_klobs" data-table="SubaktivitasNilaiBLALBDPipa" data-field="x_BL_klobs" value="@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_klobs.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subaktivitasNilaiBlalbdPipaEdit.BL_klobs.PlaceHolder))" data-format-pattern="@(subaktivitasNilaiBlalbdPipaEdit.BL_klobs.FormatPattern)"@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_klobs.EditAttributes) aria-describedby="x_BL_klobs_help">
@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_klobs.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_klobs.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subaktivitasNilaiBlalbdPipaEdit.BL_klobs.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaEdit.BL_kl15.Visible) { // subaktivitasNilaiBlalbdPipaEdit.BL_kl15.Visible (begin)
    <div id="r_BL_kl15" @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_kl15.RowAttributes)>
        <label id="elh_SubaktivitasNilaiBLALBDPipa_BL_kl15" for="x_BL_kl15" class="@(subaktivitasNilaiBlalbdPipaEdit.LeftColumnClass)"><template id="tpc_SubaktivitasNilaiBLALBDPipa_BL_kl15">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_kl15.Caption)@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_kl15.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subaktivitasNilaiBlalbdPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_kl15.CellAttributes)>
<template id="tpx_SubaktivitasNilaiBLALBDPipa_BL_kl15"><span id="el_SubaktivitasNilaiBLALBDPipa_BL_kl15">
<input type="@(subaktivitasNilaiBlalbdPipaEdit.BL_kl15.InputTextType)" name="x_BL_kl15" id="x_BL_kl15" data-table="SubaktivitasNilaiBLALBDPipa" data-field="x_BL_kl15" value="@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_kl15.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subaktivitasNilaiBlalbdPipaEdit.BL_kl15.PlaceHolder))" data-format-pattern="@(subaktivitasNilaiBlalbdPipaEdit.BL_kl15.FormatPattern)"@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_kl15.EditAttributes) aria-describedby="x_BL_kl15_help">
@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_kl15.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_kl15.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subaktivitasNilaiBlalbdPipaEdit.BL_kl15.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaEdit.BL_barrels.Visible) { // subaktivitasNilaiBlalbdPipaEdit.BL_barrels.Visible (begin)
    <div id="r_BL_barrels" @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_barrels.RowAttributes)>
        <label id="elh_SubaktivitasNilaiBLALBDPipa_BL_barrels" for="x_BL_barrels" class="@(subaktivitasNilaiBlalbdPipaEdit.LeftColumnClass)"><template id="tpc_SubaktivitasNilaiBLALBDPipa_BL_barrels">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_barrels.Caption)@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_barrels.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subaktivitasNilaiBlalbdPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_barrels.CellAttributes)>
<template id="tpx_SubaktivitasNilaiBLALBDPipa_BL_barrels"><span id="el_SubaktivitasNilaiBLALBDPipa_BL_barrels">
<input type="@(subaktivitasNilaiBlalbdPipaEdit.BL_barrels.InputTextType)" name="x_BL_barrels" id="x_BL_barrels" data-table="SubaktivitasNilaiBLALBDPipa" data-field="x_BL_barrels" value="@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_barrels.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subaktivitasNilaiBlalbdPipaEdit.BL_barrels.PlaceHolder))" data-format-pattern="@(subaktivitasNilaiBlalbdPipaEdit.BL_barrels.FormatPattern)"@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_barrels.EditAttributes) aria-describedby="x_BL_barrels_help">
@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_barrels.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_barrels.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subaktivitasNilaiBlalbdPipaEdit.BL_barrels.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaEdit.BL_lt.Visible) { // subaktivitasNilaiBlalbdPipaEdit.BL_lt.Visible (begin)
    <div id="r_BL_lt" @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_lt.RowAttributes)>
        <label id="elh_SubaktivitasNilaiBLALBDPipa_BL_lt" for="x_BL_lt" class="@(subaktivitasNilaiBlalbdPipaEdit.LeftColumnClass)"><template id="tpc_SubaktivitasNilaiBLALBDPipa_BL_lt">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_lt.Caption)@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_lt.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subaktivitasNilaiBlalbdPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_lt.CellAttributes)>
<template id="tpx_SubaktivitasNilaiBLALBDPipa_BL_lt"><span id="el_SubaktivitasNilaiBLALBDPipa_BL_lt">
<input type="@(subaktivitasNilaiBlalbdPipaEdit.BL_lt.InputTextType)" name="x_BL_lt" id="x_BL_lt" data-table="SubaktivitasNilaiBLALBDPipa" data-field="x_BL_lt" value="@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_lt.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subaktivitasNilaiBlalbdPipaEdit.BL_lt.PlaceHolder))" data-format-pattern="@(subaktivitasNilaiBlalbdPipaEdit.BL_lt.FormatPattern)"@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_lt.EditAttributes) aria-describedby="x_BL_lt_help">
@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_lt.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_lt.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subaktivitasNilaiBlalbdPipaEdit.BL_lt.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaEdit.BL_mt.Visible) { // subaktivitasNilaiBlalbdPipaEdit.BL_mt.Visible (begin)
    <div id="r_BL_mt" @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_mt.RowAttributes)>
        <label id="elh_SubaktivitasNilaiBLALBDPipa_BL_mt" for="x_BL_mt" class="@(subaktivitasNilaiBlalbdPipaEdit.LeftColumnClass)"><template id="tpc_SubaktivitasNilaiBLALBDPipa_BL_mt">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_mt.Caption)@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_mt.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subaktivitasNilaiBlalbdPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_mt.CellAttributes)>
<template id="tpx_SubaktivitasNilaiBLALBDPipa_BL_mt"><span id="el_SubaktivitasNilaiBLALBDPipa_BL_mt">
<input type="@(subaktivitasNilaiBlalbdPipaEdit.BL_mt.InputTextType)" name="x_BL_mt" id="x_BL_mt" data-table="SubaktivitasNilaiBLALBDPipa" data-field="x_BL_mt" value="@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_mt.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subaktivitasNilaiBlalbdPipaEdit.BL_mt.PlaceHolder))" data-format-pattern="@(subaktivitasNilaiBlalbdPipaEdit.BL_mt.FormatPattern)"@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_mt.EditAttributes) aria-describedby="x_BL_mt_help">
@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_mt.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BL_mt.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subaktivitasNilaiBlalbdPipaEdit.BL_mt.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaEdit.AL_klobs.Visible) { // subaktivitasNilaiBlalbdPipaEdit.AL_klobs.Visible (begin)
    <div id="r_AL_klobs" @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_klobs.RowAttributes)>
        <label id="elh_SubaktivitasNilaiBLALBDPipa_AL_klobs" for="x_AL_klobs" class="@(subaktivitasNilaiBlalbdPipaEdit.LeftColumnClass)"><template id="tpc_SubaktivitasNilaiBLALBDPipa_AL_klobs">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_klobs.Caption)@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_klobs.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subaktivitasNilaiBlalbdPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_klobs.CellAttributes)>
<template id="tpx_SubaktivitasNilaiBLALBDPipa_AL_klobs"><span id="el_SubaktivitasNilaiBLALBDPipa_AL_klobs">
<input type="@(subaktivitasNilaiBlalbdPipaEdit.AL_klobs.InputTextType)" name="x_AL_klobs" id="x_AL_klobs" data-table="SubaktivitasNilaiBLALBDPipa" data-field="x_AL_klobs" value="@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_klobs.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subaktivitasNilaiBlalbdPipaEdit.AL_klobs.PlaceHolder))" data-format-pattern="@(subaktivitasNilaiBlalbdPipaEdit.AL_klobs.FormatPattern)"@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_klobs.EditAttributes) aria-describedby="x_AL_klobs_help">
@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_klobs.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_klobs.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subaktivitasNilaiBlalbdPipaEdit.AL_klobs.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaEdit.AL_kl15.Visible) { // subaktivitasNilaiBlalbdPipaEdit.AL_kl15.Visible (begin)
    <div id="r_AL_kl15" @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_kl15.RowAttributes)>
        <label id="elh_SubaktivitasNilaiBLALBDPipa_AL_kl15" for="x_AL_kl15" class="@(subaktivitasNilaiBlalbdPipaEdit.LeftColumnClass)"><template id="tpc_SubaktivitasNilaiBLALBDPipa_AL_kl15">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_kl15.Caption)@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_kl15.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subaktivitasNilaiBlalbdPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_kl15.CellAttributes)>
<template id="tpx_SubaktivitasNilaiBLALBDPipa_AL_kl15"><span id="el_SubaktivitasNilaiBLALBDPipa_AL_kl15">
<input type="@(subaktivitasNilaiBlalbdPipaEdit.AL_kl15.InputTextType)" name="x_AL_kl15" id="x_AL_kl15" data-table="SubaktivitasNilaiBLALBDPipa" data-field="x_AL_kl15" value="@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_kl15.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subaktivitasNilaiBlalbdPipaEdit.AL_kl15.PlaceHolder))" data-format-pattern="@(subaktivitasNilaiBlalbdPipaEdit.AL_kl15.FormatPattern)"@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_kl15.EditAttributes) aria-describedby="x_AL_kl15_help">
@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_kl15.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_kl15.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subaktivitasNilaiBlalbdPipaEdit.AL_kl15.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaEdit.AL_barrels.Visible) { // subaktivitasNilaiBlalbdPipaEdit.AL_barrels.Visible (begin)
    <div id="r_AL_barrels" @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_barrels.RowAttributes)>
        <label id="elh_SubaktivitasNilaiBLALBDPipa_AL_barrels" for="x_AL_barrels" class="@(subaktivitasNilaiBlalbdPipaEdit.LeftColumnClass)"><template id="tpc_SubaktivitasNilaiBLALBDPipa_AL_barrels">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_barrels.Caption)@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_barrels.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subaktivitasNilaiBlalbdPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_barrels.CellAttributes)>
<template id="tpx_SubaktivitasNilaiBLALBDPipa_AL_barrels"><span id="el_SubaktivitasNilaiBLALBDPipa_AL_barrels">
<input type="@(subaktivitasNilaiBlalbdPipaEdit.AL_barrels.InputTextType)" name="x_AL_barrels" id="x_AL_barrels" data-table="SubaktivitasNilaiBLALBDPipa" data-field="x_AL_barrels" value="@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_barrels.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subaktivitasNilaiBlalbdPipaEdit.AL_barrels.PlaceHolder))" data-format-pattern="@(subaktivitasNilaiBlalbdPipaEdit.AL_barrels.FormatPattern)"@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_barrels.EditAttributes) aria-describedby="x_AL_barrels_help">
@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_barrels.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_barrels.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subaktivitasNilaiBlalbdPipaEdit.AL_barrels.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaEdit.AL_lt.Visible) { // subaktivitasNilaiBlalbdPipaEdit.AL_lt.Visible (begin)
    <div id="r_AL_lt" @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_lt.RowAttributes)>
        <label id="elh_SubaktivitasNilaiBLALBDPipa_AL_lt" for="x_AL_lt" class="@(subaktivitasNilaiBlalbdPipaEdit.LeftColumnClass)"><template id="tpc_SubaktivitasNilaiBLALBDPipa_AL_lt">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_lt.Caption)@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_lt.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subaktivitasNilaiBlalbdPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_lt.CellAttributes)>
<template id="tpx_SubaktivitasNilaiBLALBDPipa_AL_lt"><span id="el_SubaktivitasNilaiBLALBDPipa_AL_lt">
<input type="@(subaktivitasNilaiBlalbdPipaEdit.AL_lt.InputTextType)" name="x_AL_lt" id="x_AL_lt" data-table="SubaktivitasNilaiBLALBDPipa" data-field="x_AL_lt" value="@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_lt.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subaktivitasNilaiBlalbdPipaEdit.AL_lt.PlaceHolder))" data-format-pattern="@(subaktivitasNilaiBlalbdPipaEdit.AL_lt.FormatPattern)"@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_lt.EditAttributes) aria-describedby="x_AL_lt_help">
@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_lt.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_lt.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subaktivitasNilaiBlalbdPipaEdit.AL_lt.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaEdit.AL_mt.Visible) { // subaktivitasNilaiBlalbdPipaEdit.AL_mt.Visible (begin)
    <div id="r_AL_mt" @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_mt.RowAttributes)>
        <label id="elh_SubaktivitasNilaiBLALBDPipa_AL_mt" for="x_AL_mt" class="@(subaktivitasNilaiBlalbdPipaEdit.LeftColumnClass)"><template id="tpc_SubaktivitasNilaiBLALBDPipa_AL_mt">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_mt.Caption)@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_mt.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subaktivitasNilaiBlalbdPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_mt.CellAttributes)>
<template id="tpx_SubaktivitasNilaiBLALBDPipa_AL_mt"><span id="el_SubaktivitasNilaiBLALBDPipa_AL_mt">
<input type="@(subaktivitasNilaiBlalbdPipaEdit.AL_mt.InputTextType)" name="x_AL_mt" id="x_AL_mt" data-table="SubaktivitasNilaiBLALBDPipa" data-field="x_AL_mt" value="@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_mt.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subaktivitasNilaiBlalbdPipaEdit.AL_mt.PlaceHolder))" data-format-pattern="@(subaktivitasNilaiBlalbdPipaEdit.AL_mt.FormatPattern)"@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_mt.EditAttributes) aria-describedby="x_AL_mt_help">
@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_mt.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.AL_mt.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subaktivitasNilaiBlalbdPipaEdit.AL_mt.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaEdit.BD_klobs.Visible) { // subaktivitasNilaiBlalbdPipaEdit.BD_klobs.Visible (begin)
    <div id="r_BD_klobs" @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_klobs.RowAttributes)>
        <label id="elh_SubaktivitasNilaiBLALBDPipa_BD_klobs" for="x_BD_klobs" class="@(subaktivitasNilaiBlalbdPipaEdit.LeftColumnClass)"><template id="tpc_SubaktivitasNilaiBLALBDPipa_BD_klobs">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_klobs.Caption)@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_klobs.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subaktivitasNilaiBlalbdPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_klobs.CellAttributes)>
<template id="tpx_SubaktivitasNilaiBLALBDPipa_BD_klobs"><span id="el_SubaktivitasNilaiBLALBDPipa_BD_klobs">
<input type="@(subaktivitasNilaiBlalbdPipaEdit.BD_klobs.InputTextType)" name="x_BD_klobs" id="x_BD_klobs" data-table="SubaktivitasNilaiBLALBDPipa" data-field="x_BD_klobs" value="@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_klobs.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subaktivitasNilaiBlalbdPipaEdit.BD_klobs.PlaceHolder))" data-format-pattern="@(subaktivitasNilaiBlalbdPipaEdit.BD_klobs.FormatPattern)"@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_klobs.EditAttributes) aria-describedby="x_BD_klobs_help">
@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_klobs.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_klobs.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subaktivitasNilaiBlalbdPipaEdit.BD_klobs.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaEdit.BD_kl15.Visible) { // subaktivitasNilaiBlalbdPipaEdit.BD_kl15.Visible (begin)
    <div id="r_BD_kl15" @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_kl15.RowAttributes)>
        <label id="elh_SubaktivitasNilaiBLALBDPipa_BD_kl15" for="x_BD_kl15" class="@(subaktivitasNilaiBlalbdPipaEdit.LeftColumnClass)"><template id="tpc_SubaktivitasNilaiBLALBDPipa_BD_kl15">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_kl15.Caption)@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_kl15.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subaktivitasNilaiBlalbdPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_kl15.CellAttributes)>
<template id="tpx_SubaktivitasNilaiBLALBDPipa_BD_kl15"><span id="el_SubaktivitasNilaiBLALBDPipa_BD_kl15">
<input type="@(subaktivitasNilaiBlalbdPipaEdit.BD_kl15.InputTextType)" name="x_BD_kl15" id="x_BD_kl15" data-table="SubaktivitasNilaiBLALBDPipa" data-field="x_BD_kl15" value="@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_kl15.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subaktivitasNilaiBlalbdPipaEdit.BD_kl15.PlaceHolder))" data-format-pattern="@(subaktivitasNilaiBlalbdPipaEdit.BD_kl15.FormatPattern)"@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_kl15.EditAttributes) aria-describedby="x_BD_kl15_help">
@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_kl15.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_kl15.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subaktivitasNilaiBlalbdPipaEdit.BD_kl15.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaEdit.BD_barrels.Visible) { // subaktivitasNilaiBlalbdPipaEdit.BD_barrels.Visible (begin)
    <div id="r_BD_barrels" @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_barrels.RowAttributes)>
        <label id="elh_SubaktivitasNilaiBLALBDPipa_BD_barrels" for="x_BD_barrels" class="@(subaktivitasNilaiBlalbdPipaEdit.LeftColumnClass)"><template id="tpc_SubaktivitasNilaiBLALBDPipa_BD_barrels">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_barrels.Caption)@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_barrels.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subaktivitasNilaiBlalbdPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_barrels.CellAttributes)>
<template id="tpx_SubaktivitasNilaiBLALBDPipa_BD_barrels"><span id="el_SubaktivitasNilaiBLALBDPipa_BD_barrels">
<input type="@(subaktivitasNilaiBlalbdPipaEdit.BD_barrels.InputTextType)" name="x_BD_barrels" id="x_BD_barrels" data-table="SubaktivitasNilaiBLALBDPipa" data-field="x_BD_barrels" value="@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_barrels.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subaktivitasNilaiBlalbdPipaEdit.BD_barrels.PlaceHolder))" data-format-pattern="@(subaktivitasNilaiBlalbdPipaEdit.BD_barrels.FormatPattern)"@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_barrels.EditAttributes) aria-describedby="x_BD_barrels_help">
@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_barrels.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_barrels.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subaktivitasNilaiBlalbdPipaEdit.BD_barrels.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaEdit.BD_lt.Visible) { // subaktivitasNilaiBlalbdPipaEdit.BD_lt.Visible (begin)
    <div id="r_BD_lt" @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_lt.RowAttributes)>
        <label id="elh_SubaktivitasNilaiBLALBDPipa_BD_lt" for="x_BD_lt" class="@(subaktivitasNilaiBlalbdPipaEdit.LeftColumnClass)"><template id="tpc_SubaktivitasNilaiBLALBDPipa_BD_lt">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_lt.Caption)@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_lt.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subaktivitasNilaiBlalbdPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_lt.CellAttributes)>
<template id="tpx_SubaktivitasNilaiBLALBDPipa_BD_lt"><span id="el_SubaktivitasNilaiBLALBDPipa_BD_lt">
<input type="@(subaktivitasNilaiBlalbdPipaEdit.BD_lt.InputTextType)" name="x_BD_lt" id="x_BD_lt" data-table="SubaktivitasNilaiBLALBDPipa" data-field="x_BD_lt" value="@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_lt.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subaktivitasNilaiBlalbdPipaEdit.BD_lt.PlaceHolder))" data-format-pattern="@(subaktivitasNilaiBlalbdPipaEdit.BD_lt.FormatPattern)"@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_lt.EditAttributes) aria-describedby="x_BD_lt_help">
@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_lt.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_lt.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subaktivitasNilaiBlalbdPipaEdit.BD_lt.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaEdit.BD_mt.Visible) { // subaktivitasNilaiBlalbdPipaEdit.BD_mt.Visible (begin)
    <div id="r_BD_mt" @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_mt.RowAttributes)>
        <label id="elh_SubaktivitasNilaiBLALBDPipa_BD_mt" for="x_BD_mt" class="@(subaktivitasNilaiBlalbdPipaEdit.LeftColumnClass)"><template id="tpc_SubaktivitasNilaiBLALBDPipa_BD_mt">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_mt.Caption)@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_mt.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subaktivitasNilaiBlalbdPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_mt.CellAttributes)>
<template id="tpx_SubaktivitasNilaiBLALBDPipa_BD_mt"><span id="el_SubaktivitasNilaiBLALBDPipa_BD_mt">
<input type="@(subaktivitasNilaiBlalbdPipaEdit.BD_mt.InputTextType)" name="x_BD_mt" id="x_BD_mt" data-table="SubaktivitasNilaiBLALBDPipa" data-field="x_BD_mt" value="@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_mt.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subaktivitasNilaiBlalbdPipaEdit.BD_mt.PlaceHolder))" data-format-pattern="@(subaktivitasNilaiBlalbdPipaEdit.BD_mt.FormatPattern)"@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_mt.EditAttributes) aria-describedby="x_BD_mt_help">
@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_mt.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.BD_mt.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subaktivitasNilaiBlalbdPipaEdit.BD_mt.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaEdit.idProses.Visible) { // subaktivitasNilaiBlalbdPipaEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.idProses.RowAttributes)>
        <label id="elh_SubaktivitasNilaiBLALBDPipa_idProses" class="@(subaktivitasNilaiBlalbdPipaEdit.LeftColumnClass)"><template id="tpc_SubaktivitasNilaiBLALBDPipa_idProses">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.idProses.Caption)@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subaktivitasNilaiBlalbdPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.idProses.CellAttributes)>
<template id="tpx_SubaktivitasNilaiBLALBDPipa_idProses"><span id="el_SubaktivitasNilaiBLALBDPipa_idProses">
<span @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.idProses.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.idProses.DisplayValue(subaktivitasNilaiBlalbdPipaEdit.idProses.EditValue))</span></span>
<input type="hidden" data-table="SubaktivitasNilaiBLALBDPipa" data-field="x_idProses" data-hidden="1" name="x_idProses" id="x_idProses" value="@Html.Raw(HtmlEncode(subaktivitasNilaiBlalbdPipaEdit.idProses.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subaktivitasNilaiBlalbdPipaEdit.idProses.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaEdit.LastUpdatedBy.Visible) { // subaktivitasNilaiBlalbdPipaEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubaktivitasNilaiBLALBDPipa_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subaktivitasNilaiBlalbdPipaEdit.LeftColumnClass)"><template id="tpc_SubaktivitasNilaiBLALBDPipa_LastUpdatedBy">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.LastUpdatedBy.Caption)@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subaktivitasNilaiBlalbdPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.LastUpdatedBy.CellAttributes)>
<template id="tpx_SubaktivitasNilaiBLALBDPipa_LastUpdatedBy"><span id="el_SubaktivitasNilaiBLALBDPipa_LastUpdatedBy">
<span @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.LastUpdatedBy.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subaktivitasNilaiBlalbdPipaEdit.LastUpdatedBy.EditValue)))"></span>
<input type="hidden" data-table="SubaktivitasNilaiBLALBDPipa" data-field="x_LastUpdatedBy" data-hidden="1" name="x_LastUpdatedBy" id="x_LastUpdatedBy" value="@Html.Raw(HtmlEncode(subaktivitasNilaiBlalbdPipaEdit.LastUpdatedBy.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subaktivitasNilaiBlalbdPipaEdit.LastUpdatedBy.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaEdit.lastUpdatedDate.Visible) { // subaktivitasNilaiBlalbdPipaEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubaktivitasNilaiBLALBDPipa_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subaktivitasNilaiBlalbdPipaEdit.LeftColumnClass)"><template id="tpc_SubaktivitasNilaiBLALBDPipa_lastUpdatedDate">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.lastUpdatedDate.Caption)@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subaktivitasNilaiBlalbdPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.lastUpdatedDate.CellAttributes)>
<template id="tpx_SubaktivitasNilaiBLALBDPipa_lastUpdatedDate"><span id="el_SubaktivitasNilaiBLALBDPipa_lastUpdatedDate">
<span @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.lastUpdatedDate.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subaktivitasNilaiBlalbdPipaEdit.lastUpdatedDate.EditValue)))"></span>
<input type="hidden" data-table="SubaktivitasNilaiBLALBDPipa" data-field="x_lastUpdatedDate" data-hidden="1" name="x_lastUpdatedDate" id="x_lastUpdatedDate" value="@Html.Raw(HtmlEncode(subaktivitasNilaiBlalbdPipaEdit.lastUpdatedDate.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subaktivitasNilaiBlalbdPipaEdit.lastUpdatedDate.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaEdit.NoReferensi.Visible) { // subaktivitasNilaiBlalbdPipaEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubaktivitasNilaiBLALBDPipa_NoReferensi" for="x_NoReferensi" class="@(subaktivitasNilaiBlalbdPipaEdit.LeftColumnClass)"><template id="tpc_SubaktivitasNilaiBLALBDPipa_NoReferensi">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.NoReferensi.Caption)@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subaktivitasNilaiBlalbdPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.NoReferensi.CellAttributes)>
<template id="tpx_SubaktivitasNilaiBLALBDPipa_NoReferensi"><span id="el_SubaktivitasNilaiBLALBDPipa_NoReferensi">
<span @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.NoReferensi.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subaktivitasNilaiBlalbdPipaEdit.NoReferensi.EditValue)))"></span>
<input type="hidden" data-table="SubaktivitasNilaiBLALBDPipa" data-field="x_NoReferensi" data-hidden="1" name="x_NoReferensi" id="x_NoReferensi" value="@Html.Raw(HtmlEncode(subaktivitasNilaiBlalbdPipaEdit.NoReferensi.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subaktivitasNilaiBlalbdPipaEdit.NoReferensi.Visible (end) *@
@if (subaktivitasNilaiBlalbdPipaEdit.StatusAktivitas.Visible) { // subaktivitasNilaiBlalbdPipaEdit.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.StatusAktivitas.RowAttributes)>
        <label id="elh_SubaktivitasNilaiBLALBDPipa_StatusAktivitas" class="@(subaktivitasNilaiBlalbdPipaEdit.LeftColumnClass)"><template id="tpc_SubaktivitasNilaiBLALBDPipa_StatusAktivitas">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.StatusAktivitas.Caption)@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subaktivitasNilaiBlalbdPipaEdit.RightColumnClass)"><div @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.StatusAktivitas.CellAttributes)>
<template id="tpx_SubaktivitasNilaiBLALBDPipa_StatusAktivitas"><span id="el_SubaktivitasNilaiBLALBDPipa_StatusAktivitas">
<span @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.StatusAktivitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.StatusAktivitas.DisplayValue(subaktivitasNilaiBlalbdPipaEdit.StatusAktivitas.EditValue))</span></span>
<input type="hidden" data-table="SubaktivitasNilaiBLALBDPipa" data-field="x_StatusAktivitas" data-hidden="1" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@Html.Raw(HtmlEncode(subaktivitasNilaiBlalbdPipaEdit.StatusAktivitas.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subaktivitasNilaiBlalbdPipaEdit.StatusAktivitas.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="SubaktivitasNilaiBLALBDPipa" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subaktivitasNilaiBlalbdPipaEdit.id.CurrentValue))">
<div id="tpd_SubaktivitasNilaiBLALBDPipaedit" class="ew-custom-template"></div>
<template id="tpm_SubaktivitasNilaiBLALBDPipaedit">
<div id="ct_subaktivitasNilaiBlalbdPipaEdit"><style>
    .view-page-table td {
        white-space: normal !important;
        word-wrap: break-word;
    }
    .view-page-table th {
        background-color: #006BB7;
    }
    .body-table {
        background-color: #fff;
    }
    .header-table {
        background-color: #006BB7 !important;
        color: #fff !important;
    }
    .view-page-table {
        table-layout: fixed;
    }
    .tab-content {
        display: none;
    }
    .tab-content.active {
        display: block;
    }
    .ag-theme-quartz .ag-header {
        background-color: #006BB7 !important;
    }
    .ag-theme-quartz .ag-header-cell-label {
        color: #ffffff !important;
    }
    .ag-theme-quartz .ag-icon-filter {
        color: #ffffff !important;
    }
    .rotate-down {
        transform: rotate(90deg);
        transition: transform 0.3s ease;
    }
    .rotate-right {
        transform: rotate(0deg);
        transition: transform 0.3s ease;
    }
</style>
<div class="row mb-2">
    <div class="col-2 fw-bold d-flex align-items-center">
        @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.idAktifitas.Caption)
    </div>
    <div class="col-10">
        <slot class="ew-slot" name="tpx_SubaktivitasNilaiBLALBDPipa_idAktifitas"></slot>
    </div>
</div>
<div class="row mb-2">
    <div class="col-2 fw-bold d-flex align-items-center">
        @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.idProses.Caption)
    </div>
    <div class="col-10">
        <slot class="ew-slot" name="tpx_SubaktivitasNilaiBLALBDPipa_idProses"></slot>
    </div>
</div>
<div class="row mb-2">
    <div class="col-2 fw-bold d-flex align-items-center">
        @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.NoReferensi.Caption)
    </div>
    <div class="col-10">
        <slot class="ew-slot" name="tpx_SubaktivitasNilaiBLALBDPipa_NoReferensi"></slot>
    </div>
</div>
<div class="row mb-3">
    <div class="col-2 fw-bold d-flex align-items-center">
        @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.StatusAktivitas.Caption)
    </div>
    <div class="col-10">
        <slot class="ew-slot" name="tpx_SubaktivitasNilaiBLALBDPipa_StatusAktivitas"></slot>
    </div>
</div>
<div class="row mb-3">
    <div class="col-2 fw-bold d-flex align-items-center">
        @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.LastUpdatedBy.Caption)
    </div>
    <div class="col-10 d-flex gap-3">
        <slot class="ew-slot" name="tpx_SubaktivitasNilaiBLALBDPipa_LastUpdatedBy"></slot>
        <button type="button" class="btn btn-primary ew-btn ps-2" expand-log="false">
            <i class="fa-solid fa-caret-right fa-2xl me-2 caret-icon rotate-right"></i>
            Log History
            <i class="fa-solid fa-clock-rotate-left ms-1"></i> 
        </button>
    </div>
</div>
<div id="log-table-row" class="d-none row m-0">
    <div class="p-0">
        <div id="log-table-wrapper" style="overflow: hidden; transition: all 0.6s ease; max-height: 0;">
            <div id="myGrid" class="ag-theme-quartz w-75 my-3" style="height: 300px;"></div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-2 fw-bold d-flex align-items-center">
        @Html.Raw(subaktivitasNilaiBlalbdPipaEdit.lastUpdatedDate.Caption)
    </div>
    <div class="col-10">
        <slot class="ew-slot" name="tpx_SubaktivitasNilaiBLALBDPipa_lastUpdatedDate"></slot>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-9 border rounded p-0 mb-3">
        <table aria-hidden="true" class="table table-hover view-page-table w-100 m-0">
            <tbody>
                <tr>
                    <td width="20%" class="fw-bold header-table">Satuan</td>
                    <td width="20%" class="fw-bold header-table">BL</td>
                    <td width="20%" class="fw-bold header-table">AL</td>
                    <td width="20%" class="fw-bold header-table">BD</td>
                    <td width="20%" class="fw-bold header-table">AR</td>
                </tr>
                <tr>
                    <td class="text-break fw-bold">KL Obs</td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubaktivitasNilaiBLALBDPipa_BL_klobs"></slot></td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubaktivitasNilaiBLALBDPipa_AL_klobs"></slot></td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubaktivitasNilaiBLALBDPipa_BD_klobs"></slot></td>
                    <td class="text-break body-table"><p id="AR-klobs"></p></td>
                </tr>
                <tr>
                    <td class="text-break fw-bold">KL 15</td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubaktivitasNilaiBLALBDPipa_BL_kl15"></slot></td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubaktivitasNilaiBLALBDPipa_AL_kl15"></slot></td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubaktivitasNilaiBLALBDPipa_BD_kl15"></slot></td>
                    <td class="text-break body-table"><p id="AR-kl15"></p></td>
                </tr>
                <tr>
                    <td class="text-break fw-bold">Barrels</td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubaktivitasNilaiBLALBDPipa_BL_barrels"></slot></td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubaktivitasNilaiBLALBDPipa_AL_barrels"></slot></td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubaktivitasNilaiBLALBDPipa_BD_barrels"></slot></td>
                    <td class="text-break body-table"><p id="AR-barrels"></p></td>
                </tr>
                <tr>
                    <td class="text-break fw-bold">Metric Ton</td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubaktivitasNilaiBLALBDPipa_BL_mt"></slot></td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubaktivitasNilaiBLALBDPipa_AL_mt"></slot></td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubaktivitasNilaiBLALBDPipa_BD_mt"></slot></td>
                    <td class="text-break body-table"><p id="AR-mt"></p></td>
                </tr>
                <tr>
                    <td class="text-break fw-bold">Long Ton</td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubaktivitasNilaiBLALBDPipa_BL_lt"></slot></td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubaktivitasNilaiBLALBDPipa_AL_lt"></slot></td>
                    <td class="text-break body-table"><slot class="ew-slot" name="tpx_SubaktivitasNilaiBLALBDPipa_BD_lt"></slot></td>
                    <td class="text-break body-table"><p id="AR-lt"></p></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<table aria-hidden="true" class="table table-hover view-page-table w-25 mb-3">
    <tbody>
        <tr>
            <td class="text-break fw-bold">R1</td>
            <td class="text-break body-table fw-bold" id="R1"></td>
        </tr>
        <tr>
            <td class="text-break fw-bold">R2</td>
            <td class="text-break body-table fw-bold" id="R2"></td>
        </tr>
        <tr>
            <td class="text-break fw-bold">R3</td>
            <td class="text-break body-table fw-bold" id="R3"></td>
        </tr>
        <tr>
            <td class="text-break fw-bold">R4</td>
            <td class="text-break body-table fw-bold" id="R4"></td>
        </tr>
    </tbody>
</table></div>
</template>
@{ subaktivitasNilaiBlalbdPipaEdit.CloseRecordset(); }
@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subaktivitasNilaiBlalbdPipaEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubaktivitasNilaiBLALBDPipaedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubaktivitasNilaiBLALBDPipaedit" data-href="@AppPath(subaktivitasNilaiBlalbdPipaEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subaktivitasNilaiBlalbdPipaEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
<script class="ew-apply-template">
loadjs.ready(ew.applyTemplateId, function() {
    var $ = jQuery;
    ew.templateData = { rows: @Html.Raw(ConvertToJson(subaktivitasNilaiBlalbdPipaEdit.Rows)) };
    ew.applyTemplate("tpd_SubaktivitasNilaiBLALBDPipaedit", "tpm_SubaktivitasNilaiBLALBDPipaedit", "SubaktivitasNilaiBLALBDPipaedit", "@(subaktivitasNilaiBlalbdPipaEdit.Export)", "SubaktivitasNilaiBLALBDPipa", ew.templateData.rows[0], @(subaktivitasNilaiBlalbdPipaEdit.IsModal ? "true" : "false"));
    loadjs.done("customtemplate");
});
</script>
</main>
@subaktivitasNilaiBlalbdPipaEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubaktivitasNilaiBLALBDPipa");
});
</script>
<script>
loadjs.ready("load", function() {
    // Startup script
    var NoReferensi = "@subaktivitasNilaiBlalbdPipaEdit.NoReferensi.CurrentValue";
    var IdProses = "@subaktivitasNilaiBlalbdPipaEdit.idProses.CurrentValue";
    var idAktivitas = "@subaktivitasNilaiBlalbdPipaEdit.idAktifitas.CurrentValue";
    var NamaAktivitas = $('#el_SubaktivitasNilaiBLALBDPipa_idAktifitas').text();
    const userLevel = "@CurrentUserLevel()";
    let currentStatusAktivitas = "";
    var parent_url = ew.PATH_BASE;
    var steps = [
        { number: 1, label: "Penerimaan", url: `${parent_url}PenerimaanList`, icon: "fa-box-open" },
        { number: 2, label: "Proses", url: `${parent_url}ProsesList?cmd=search&x_IdReferensi%5B%5D=${NoReferensi}&search=&searchtype=`, icon: "fa-gears" },
        { number: 3, label: "Aktivitas", url: `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`, icon: "fa-list-check" },
        { number: 4, label: NamaAktivitas, url: '', icon: "fa-file-circle-check" }
    ];
    var currentStep = 4;
    $("<style>")
        .prop("type", "text/css")
        .html(`
            .stepper {
                display: flex;
                counter-reset: step;
                flex-wrap: nowrap;        /* jangan pecah ke bawah */
                overflow-x: auto;         /* scroll horizontal */
                -webkit-overflow-scrolling: touch; /* smooth scroll di mobile */
                padding-bottom: 8px;      /* space biar scroll bar gak nempel */
            }
            .stepper::-webkit-scrollbar {
            height: 6px; /* tipis */
            }
            .stepper::-webkit-scrollbar-thumb {
                background-color: #ccc;
                border-radius: 3px;
            }
            .step {
                width: 150px;
                text-align: center;
                position: relative;
            }
            .step:not(:last-child)::after {
                content: '';
                position: absolute;
                top: 20px;
                right: -50%;
                width: 100%;
                height: 4px;
                background-color: #ccc;
                z-index: 0;
            }
            .step.completed:not(:last-child)::after {
                background-color: #3c6dbd;
            }
            .step-icon {
                width: 36px;
                height: 36px;
                line-height: 36px;
                border-radius: 50%;
                background: #ccc;
                display: inline-block;
                z-index: 1;
                position: relative;
                color: white;
                font-weight: bold;
            }
            .step.active .step-icon {
                background: #3c6dbd;
            }
            .step-label {
                margin-top: 8px;
                font-size: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6px;
                color: #333;
            }
            .step-label {
                color: #3c6dbd !important;
                text-decoration: none;
                margin: 0;
                padding: 0;
            }
            .step-label-not-active {
                color: #CCCCCC !important;
            }
        `)
        .appendTo("head");
    var $stepperWrapper = $('<div class="d-flex border-bottom border-2 pb-2"><div class="stepper"></div></div>');
    var $stepper = $stepperWrapper.find(".stepper");
    steps.forEach(function (step, i) {
        var isActive = step.number === currentStep;
        var isCompleted = step.number < currentStep;
        var stepClass = isActive ? "active" : isCompleted ? "completed" : "";
        var icon, labelContent, html;
        if (isActive) {
            icon = `<div class="step-icon bg-success">${step.number}</div>`;
            labelContent = `<div class="step-label"><p class="text-success mb-1"><i class="fa-solid ${step.icon} me-1 text-success"></i> ${step.label}</p></div>`;
            html = `<div class="step ${stepClass} text-success">${icon}${labelContent}</div>`;
        } else if (isCompleted) {
            icon = `<div class="step-icon" style="background: #3c6dbd;">${step.number}</div>`;
            labelContent = `<div class="step-label"><a href="${step.url}" class="text-primary"><i class="fa-solid ${step.icon} me-1"></i>${step.label}</a></div>`;
            html = `<div class="step ${stepClass}">${icon}${labelContent}</div>`;
        } else {
            icon = `<div class="step-icon">${step.number}</div>`;
            labelContent = `<div class="step-label-not-active"><p style="margin: 0;"><i class="fa-solid ${step.icon} me-1"></i>${step.label}</p></div>`;
            html = `<div class="step ${stepClass} text-secondary">${icon}${labelContent}</div>`;
        }
        $stepper.append(html);
    });
    $(".content-header .container-fluid .row").append($stepperWrapper);
    $("#btn-action").hide();
    $("#btn-cancel").html('<i class="fa-solid fa-ban"></i></i> Cancel');
    const $cancelButton = $("#btn-cancel");
    const idAktifitas = $("#x_idAktifitas").val();
    $(document).on('click', 'button[expand-log]', function () {
        const $btn = $(this);
        const isExpanded = $btn.attr('expand-log') === 'true';
        const $row = $('#log-table-row');
        const $wrapper = $('#log-table-wrapper');
        const $caret = $btn.find('.caret-icon');
        if (!isExpanded) {
            $btn.attr('expand-log', 'true');
            $row.removeClass('d-none');
            setTimeout(() => {
                $wrapper.css({
                    maxHeight: '500px'
                });
            }, 10);
            $caret.removeClass('rotate-right').addClass('rotate-down');
        } else {
            $btn.attr('expand-log', 'false');
            $wrapper.css({
                maxHeight: '0'
            });
            setTimeout(() => {
                $row.addClass('d-none');
            }, 600);
            $caret.removeClass('rotate-down').addClass('rotate-right');
        }
    });
    if (idAktivitas && idAktivitas !== "0") {
        $.ajax({
            url: parent_url + `api/LookUpList/sub-aktivitas/startup?idAktivitas=${idAktivitas}`,
            type: 'GET',
            success: function(response) {
                // cek status
                if ($cancelButton.length){
                    let status = response.StatusAktivitas;
                    currentStatusAktivitas = status;
                    let $customButtons = ``;
                    switch (status) {
                        case "Waiting":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-draft">
                                    <i class="fas fa-save"></i> Save
                                </button>
                            `;
                            break;
                        case "Draft":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-draft">
                                    <i class="fas fa-save"></i> Save
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completed">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `
                            break;
                        case "Completed":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-editing">
                                    <i class="fa-solid fa-pen-to-square"></i> Edit
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completedEdit">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `;
                            break;
                        case "Editing":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-editing">
                                    <i class="fa-solid fa-pen-to-square"></i> Edit
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completedEdit">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `;
                            break;
                        case "Completed Edit":
                            if (userLevel === '4'){
                                $customButtons = `
                                    <button type="button" class="btn btn-warning ew-btn ml-2" id="btn-reverse-status">
                                        <i class="fa-solid fa-pen-to-square"></i> Edit 
                                    </button>
                                `;
                            }
                            break;
                    }
                    $cancelButton.before($customButtons);
                }

                // Cek is editable
                if(!response.IsEditable || response.StatusAktivitas === "Completed Edit"){
                    $("#btn-draft").hide();
                    $("#btn-editing").hide();
                    $("#btn-completed").hide();
                    $("#btn-completedEdit").hide();
                    $('input, select, textarea').prop('disabled', true);
                    $('#catatanReverseStatusEditing').prop('disabled', false);
                }

                // Log
                const mappedData = response.LogAktivitas.map(item => ({
                    Aktivitas: item.Aktivitas,
                    Username: item.UserName,
                    StatusAktivitas: item.StatusAktivitas,
                    Tanggal: item.Tanggal,
                    Catatan: item.Catatan
                }));
                $.getScript('https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js', function () {
                        $('#r_lastUpdatedBy').after(`
                            <div id="log-table-row" class="d-none row m-0">
                                <div class="p-0 col-2"></div>
                                <div class="p-0 col-10">
                                    <div id="log-table-wrapper" style="overflow: hidden; transition: all 0.6s ease; max-height: 0;">
                                        <div id="myGrid" class="ag-theme-quartz w-100 my-3" style="height: 300px;"></div>
                                    </div>
                                </div>
                            </div>
                        `);
                        const gridOptions = {
                            rowData: mappedData,
                            columnDefs: [
                                {
                                    headerName: 'No.',
                                    valueGetter: 'node.rowIndex + 1',
                                    width: 80,
                                    filter: false
                                },
                                {
                                    headerName: 'Aktivitas',
                                    field: 'Aktivitas',
                                    flex: 1
                                },
                                {
                                    headerName: 'Username',
                                    field: 'Username',
                                    flex: 1
                                },
                                {
                                    headerName: 'Status Aktivitas',
                                    field: 'StatusAktivitas',
                                    flex: 1
                                },
                                {
                                    headerName: 'Tanggal',
                                    field: 'Tanggal',
                                    flex: 1
                                },
                                {
                                    headerName: 'Catatan',
                                    field: 'Catatan',
                                    flex: 1
                                }
                            ],
                            defaultColDef: {
                                sortable: false,
                                suppressMovable: true,
                                filter: true,
                                resizable: false
                            },
                            rowSelection: 'multiple',
                            suppressRowClickSelection: true,
                            pagination: true,
                            paginationPageSize: 10
                        };
                        const myGridElement = document.querySelector('#myGrid');
                        agGrid.createGrid(myGridElement, gridOptions);
                    });
            },
            error: function(xhr, status, error) {
                ew.alert(xhr.responseJSON.message ?? "Terjadi kesalahan dalam memuat data");
            }
        });
    } else {
        console.warn("Skipping startup API: Invalid IdAktivitas");
        $('button[expand-log]').hide(); 
        $("#btn-draft, #btn-editing, #btn-completed, #btn-completedEdit").hide();
        $('input, select, textarea').prop('disabled', true);
    }
    $.ajax({
        url: parent_url + "api/LookUpList/GetARValue",
        type: "GET",
        data: {
            NoReferensi: NoReferensi,
            Jenis: 'PIPA'
        },
        success: function(rs){
            if (rs.success) {
                $('#AR-klobs').text(rs.klobs);
                $('#AR-kl15').text(rs.kl15);
                $('#AR-barrels').text(rs.barrels);
                $('#AR-lt').text(rs.lt);
                $('#AR-mt').text(rs.mt);
            }
        },
        error: function (xhr, status, error) {
            console.log("Error: " + xhr.responseText);
        }
    });
    $.ajax({
        url: parent_url + "api/LookUpList/GetRValue",
        type: "GET",
        data: {
            NoReferensi: NoReferensi,
            Menu: "Refinery",
            Jenis: "PIPA"
        },
        success: function(rs){
            if (rs.success) {

                ["R1", "R2", "R3", "R4"].forEach(key => {
                    let val = parseFloat(rs[key]);
                    const el = document.getElementById(key);
                    if (!isNaN(val)) {
                        let color = "";
                        val = val * 100;
                        if (key === "R2") {
                            if (val < -0.07) {
                                color = "#ba313b";
                            } else if (val >= -0.07 && val <= 0) {
                                color = "#3c6dbd";
                            } else {
                                color = "#198754";
                            }
                        } else {
                            if (val < -0.125) {
                                color = "#ba313b";
                            } else if (val >= -0.125 && val <= 0) {
                                color = "#3c6dbd";
                            } else {
                                color = "#198754";
                            }
                        }
                        el.textContent = val.toFixed(3) + "%";
                        el.style.color = color;
                    }
                });
            }
        },
        error: function (xhr, status, error) {
            console.log("Error: " + xhr.responseText);
        }
    });
    $('#x_BL_klobs, #x_BL_kl15, #x_BL_barrels, #x_BL_mt, #x_BL_lt, #x_AL_klobs, #x_AL_kl15, #x_AL_barrels, #x_AL_mt, #x_AL_lt, #x_BD_klobs, #x_BD_kl15, #x_BD_barrels, #x_BD_mt, #x_BD_lt')
        .attr('inputmode', 'numeric')
        .on('input', function () {
            let val = $(this).val();
            let isNegative = val.startsWith('-');
            val = val.replace(',', '.');
            val = val.replace(/[^0-9.]/g, '');
            const parts = val.split('.');
            if (parts.length > 2) {
                val = parts[0] + '.' + parts.slice(1).join('');
            }
            if (isNegative) {
                val = '-' + val;
            }
            $(this).val(val);
        });
    let uploadModal = `<div class="modal fade" id="warningValueModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="warningValueModalTitle">Konfirmasi Simpan Data</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id='warningValueText'>
            Konfirmasi 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-cancel-modal">Batal</button>
            <button type="button" class="btn btn-primary" id="btn-confirm-modal">Lanjutkan</button>
          </div>
        </div>
      </div>
    </div>`
     let reverseStatusModal = `<div class="modal fade" id="confirmReverseStatusEditingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header bg-primary">
                    <h1 class="modal-title fs-5" id="confirmReverseStatusEditingModalTitle">Konfirmasi Kembalikan Status</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form id="reverseStatusEditingModalForm">
                    <div class="modal-body px-2 py-1">
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Catatan:</label>
                            <textarea class="form-control" id="catatanReverseStatusEditing" required rows="4"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnReverseStatusEditingModalCancel">Batal</button>
                        <button type="submit" class="btn btn-primary" id="btnReverseStatusEditingModalSubmit">Lanjutkan</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>`
    $("body").append(uploadModal);
    $("body").append(reverseStatusModal);
    $("#btn-cancel-modal").click(function (event) {
        event.preventDefault();
        $("#warningValueModal").modal("hide");
    });
    $("#btnReverseStatusEditingModalCancel").click(function (event) {
        event.preventDefault();
        $("#confirmReverseStatusEditingModal").modal("hide");
    });
    $(document).on("click", "#btn-reverse-status", function () {
        $("#confirmReverseStatusEditingModal").modal("show");
    });
});
</script>
