@{
    // View
    View = this;

    // Check action result
    if (subAktivitasDataKapalStsPnrBbmList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasDataKapalStsPnrBbmList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasDataKapalStsPnrBbmList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataKapalStsPnrBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataKapalSTSPnrBBM: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasDataKapalStsPnrBbmList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasDataKapalStsPnrBbmList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasDataKapalStsPnrBbmList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasDataKapalStsPnrBbmList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasDataKapalStsPnrBbmList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasDataKapalStsPnrBbmList.TotalRecords > 0 && subAktivitasDataKapalStsPnrBbmList.ExportOptions.Visible) {
    subAktivitasDataKapalStsPnrBbmList.ExportOptions.Render("body");
}
@if (subAktivitasDataKapalStsPnrBbmList.ImportOptions.Visible) {
    subAktivitasDataKapalStsPnrBbmList.ImportOptions.Render("body");
}
@if (subAktivitasDataKapalStsPnrBbmList.SearchOptions.Visible) {
    subAktivitasDataKapalStsPnrBbmList.SearchOptions.Render("body");
}
@if (subAktivitasDataKapalStsPnrBbmList.FilterOptions.Visible) {
    subAktivitasDataKapalStsPnrBbmList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasDataKapalStsPnrBbmList.IsModal) {
<form name="fSubAktivitasDataKapalSTSPnrBBMsrch" id="fSubAktivitasDataKapalSTSPnrBBMsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasDataKapalSTSPnrBBMsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasDataKapalStsPnrBbmList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataKapalStsPnrBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataKapalSTSPnrBBM: currentTable } });
var currentForm;
var fSubAktivitasDataKapalSTSPnrBBMsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasDataKapalSTSPnrBBMsrch")
        .setPageId("list")
@if (subAktivitasDataKapalStsPnrBbmList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasDataKapalStsPnrBbmList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasDataKapalStsPnrBbmList.IsExport() && Empty(subAktivitasDataKapalStsPnrBbmList.CurrentAction) && subAktivitasDataKapalStsPnrBbmList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasDataKapalStsPnrBbmList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasDataKapalStsPnrBbmList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasDataKapalStsPnrBbmList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasDataKapalStsPnrBbmList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasDataKapalSTSPnrBBMsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataKapalStsPnrBbmList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasDataKapalSTSPnrBBMsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataKapalStsPnrBbmList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasDataKapalSTSPnrBBMsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataKapalStsPnrBbmList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasDataKapalSTSPnrBBMsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasDataKapalStsPnrBbmList.ShowPageHeader()
@subAktivitasDataKapalStsPnrBbmList.ShowMessages()
<main class="list @(subAktivitasDataKapalStsPnrBbmList.TotalRecords == 0 && !subAktivitasDataKapalStsPnrBbmList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasDataKapalStsPnrBbmList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasDataKapalStsPnrBbmList.TotalRecords > 0 || !Empty(subAktivitasDataKapalStsPnrBbmList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasDataKapalStsPnrBbmList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasDataKapalStsPnrBbmList.TableGridClass)">
<form name="@(subAktivitasDataKapalStsPnrBbmList.FormName)" id="@(subAktivitasDataKapalStsPnrBbmList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasDataKapalStsPnrBbmList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasDataKapalStsPnrBbmList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasDataKapalSTSPnrBBM" class="card-body ew-grid-middle-panel @(subAktivitasDataKapalStsPnrBbmList.TableContainerClass)" style="@(subAktivitasDataKapalStsPnrBbmList.TableContainerStyle)">
@if (subAktivitasDataKapalStsPnrBbmList.TotalRecords > 0 || subAktivitasDataKapalStsPnrBbmList.IsGridEdit || subAktivitasDataKapalStsPnrBbmList.IsMultiEdit) {
<table id="tbl_SubAktivitasDataKapalSTSPnrBBMlist" class="@(subAktivitasDataKapalStsPnrBbmList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasDataKapalStsPnrBbmList.RowType = RowType.Header;

    // Render list options
    await subAktivitasDataKapalStsPnrBbmList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasDataKapalStsPnrBbmList.ListOptions.RenderHeader("left")
@if (subAktivitasDataKapalStsPnrBbmList.id.Visible) { // subAktivitasDataKapalStsPnrBbmList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasDataKapalStsPnrBbmList.id.HeaderCellClass)"><div id="elh_SubAktivitasDataKapalSTSPnrBBM_id" class="SubAktivitasDataKapalSTSPnrBBM_id">@Html.Raw(subAktivitasDataKapalStsPnrBbmList.RenderFieldHeader(subAktivitasDataKapalStsPnrBbmList.id))</div></th>
} @* subAktivitasDataKapalStsPnrBbmList.id.Visible (end) *@
@if (subAktivitasDataKapalStsPnrBbmList.NoReferensi.Visible) { // subAktivitasDataKapalStsPnrBbmList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasDataKapalStsPnrBbmList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasDataKapalSTSPnrBBM_NoReferensi" class="SubAktivitasDataKapalSTSPnrBBM_NoReferensi">@Html.Raw(subAktivitasDataKapalStsPnrBbmList.RenderFieldHeader(subAktivitasDataKapalStsPnrBbmList.NoReferensi))</div></th>
} @* subAktivitasDataKapalStsPnrBbmList.NoReferensi.Visible (end) *@
@if (subAktivitasDataKapalStsPnrBbmList.idProses.Visible) { // subAktivitasDataKapalStsPnrBbmList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasDataKapalStsPnrBbmList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasDataKapalSTSPnrBBM_idProses" class="SubAktivitasDataKapalSTSPnrBBM_idProses">@Html.Raw(subAktivitasDataKapalStsPnrBbmList.RenderFieldHeader(subAktivitasDataKapalStsPnrBbmList.idProses))</div></th>
} @* subAktivitasDataKapalStsPnrBbmList.idProses.Visible (end) *@
@if (subAktivitasDataKapalStsPnrBbmList.idAktifitas.Visible) { // subAktivitasDataKapalStsPnrBbmList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasDataKapalStsPnrBbmList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasDataKapalSTSPnrBBM_idAktifitas" class="SubAktivitasDataKapalSTSPnrBBM_idAktifitas">@Html.Raw(subAktivitasDataKapalStsPnrBbmList.RenderFieldHeader(subAktivitasDataKapalStsPnrBbmList.idAktifitas))</div></th>
} @* subAktivitasDataKapalStsPnrBbmList.idAktifitas.Visible (end) *@
@if (subAktivitasDataKapalStsPnrBbmList.StatusAktivitas.Visible) { // subAktivitasDataKapalStsPnrBbmList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasDataKapalStsPnrBbmList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasDataKapalSTSPnrBBM_StatusAktivitas" class="SubAktivitasDataKapalSTSPnrBBM_StatusAktivitas">@Html.Raw(subAktivitasDataKapalStsPnrBbmList.RenderFieldHeader(subAktivitasDataKapalStsPnrBbmList.StatusAktivitas))</div></th>
} @* subAktivitasDataKapalStsPnrBbmList.StatusAktivitas.Visible (end) *@
@if (subAktivitasDataKapalStsPnrBbmList.lastUpdatedBy.Visible) { // subAktivitasDataKapalStsPnrBbmList.lastUpdatedBy.Visible (begin)
        <th data-name="lastUpdatedBy" class="@(subAktivitasDataKapalStsPnrBbmList.lastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasDataKapalSTSPnrBBM_lastUpdatedBy" class="SubAktivitasDataKapalSTSPnrBBM_lastUpdatedBy">@Html.Raw(subAktivitasDataKapalStsPnrBbmList.RenderFieldHeader(subAktivitasDataKapalStsPnrBbmList.lastUpdatedBy))</div></th>
} @* subAktivitasDataKapalStsPnrBbmList.lastUpdatedBy.Visible (end) *@
@if (subAktivitasDataKapalStsPnrBbmList.lastUpdatedDate.Visible) { // subAktivitasDataKapalStsPnrBbmList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasDataKapalStsPnrBbmList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasDataKapalSTSPnrBBM_lastUpdatedDate" class="SubAktivitasDataKapalSTSPnrBBM_lastUpdatedDate">@Html.Raw(subAktivitasDataKapalStsPnrBbmList.RenderFieldHeader(subAktivitasDataKapalStsPnrBbmList.lastUpdatedDate))</div></th>
} @* subAktivitasDataKapalStsPnrBbmList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasDataKapalStsPnrBbmList.namakapal.Visible) { // subAktivitasDataKapalStsPnrBbmList.namakapal.Visible (begin)
        <th data-name="namakapal" class="@(subAktivitasDataKapalStsPnrBbmList.namakapal.HeaderCellClass)"><div id="elh_SubAktivitasDataKapalSTSPnrBBM_namakapal" class="SubAktivitasDataKapalSTSPnrBBM_namakapal">@Html.Raw(subAktivitasDataKapalStsPnrBbmList.RenderFieldHeader(subAktivitasDataKapalStsPnrBbmList.namakapal))</div></th>
} @* subAktivitasDataKapalStsPnrBbmList.namakapal.Visible (end) *@
@if (subAktivitasDataKapalStsPnrBbmList.shipment.Visible) { // subAktivitasDataKapalStsPnrBbmList.shipment.Visible (begin)
        <th data-name="shipment" class="@(subAktivitasDataKapalStsPnrBbmList.shipment.HeaderCellClass)"><div id="elh_SubAktivitasDataKapalSTSPnrBBM_shipment" class="SubAktivitasDataKapalSTSPnrBBM_shipment">@Html.Raw(subAktivitasDataKapalStsPnrBbmList.RenderFieldHeader(subAktivitasDataKapalStsPnrBbmList.shipment))</div></th>
} @* subAktivitasDataKapalStsPnrBbmList.shipment.Visible (end) *@
@if (subAktivitasDataKapalStsPnrBbmList.produk.Visible) { // subAktivitasDataKapalStsPnrBbmList.produk.Visible (begin)
        <th data-name="produk" class="@(subAktivitasDataKapalStsPnrBbmList.produk.HeaderCellClass)"><div id="elh_SubAktivitasDataKapalSTSPnrBBM_produk" class="SubAktivitasDataKapalSTSPnrBBM_produk">@Html.Raw(subAktivitasDataKapalStsPnrBbmList.RenderFieldHeader(subAktivitasDataKapalStsPnrBbmList.produk))</div></th>
} @* subAktivitasDataKapalStsPnrBbmList.produk.Visible (end) *@
@if (subAktivitasDataKapalStsPnrBbmList.tgltiba.Visible) { // subAktivitasDataKapalStsPnrBbmList.tgltiba.Visible (begin)
        <th data-name="tgltiba" class="@(subAktivitasDataKapalStsPnrBbmList.tgltiba.HeaderCellClass)"><div id="elh_SubAktivitasDataKapalSTSPnrBBM_tgltiba" class="SubAktivitasDataKapalSTSPnrBBM_tgltiba">@Html.Raw(subAktivitasDataKapalStsPnrBbmList.RenderFieldHeader(subAktivitasDataKapalStsPnrBbmList.tgltiba))</div></th>
} @* subAktivitasDataKapalStsPnrBbmList.tgltiba.Visible (end) *@
@if (subAktivitasDataKapalStsPnrBbmList.nominasi.Visible) { // subAktivitasDataKapalStsPnrBbmList.nominasi.Visible (begin)
        <th data-name="nominasi" class="@(subAktivitasDataKapalStsPnrBbmList.nominasi.HeaderCellClass)"><div id="elh_SubAktivitasDataKapalSTSPnrBBM_nominasi" class="SubAktivitasDataKapalSTSPnrBBM_nominasi">@Html.Raw(subAktivitasDataKapalStsPnrBbmList.RenderFieldHeader(subAktivitasDataKapalStsPnrBbmList.nominasi))</div></th>
} @* subAktivitasDataKapalStsPnrBbmList.nominasi.Visible (end) *@
@if (subAktivitasDataKapalStsPnrBbmList.userInput.Visible) { // subAktivitasDataKapalStsPnrBbmList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasDataKapalStsPnrBbmList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasDataKapalSTSPnrBBM_userInput" class="SubAktivitasDataKapalSTSPnrBBM_userInput">@Html.Raw(subAktivitasDataKapalStsPnrBbmList.RenderFieldHeader(subAktivitasDataKapalStsPnrBbmList.userInput))</div></th>
} @* subAktivitasDataKapalStsPnrBbmList.userInput.Visible (end) *@
@if (subAktivitasDataKapalStsPnrBbmList.etlDate.Visible) { // subAktivitasDataKapalStsPnrBbmList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasDataKapalStsPnrBbmList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasDataKapalSTSPnrBBM_etlDate" class="SubAktivitasDataKapalSTSPnrBBM_etlDate">@Html.Raw(subAktivitasDataKapalStsPnrBbmList.RenderFieldHeader(subAktivitasDataKapalStsPnrBbmList.etlDate))</div></th>
} @* subAktivitasDataKapalStsPnrBbmList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasDataKapalStsPnrBbmList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasDataKapalStsPnrBbmList.PageNumber)">
@{
    await subAktivitasDataKapalStsPnrBbmList.SetupGrid();
    bool eof = subAktivitasDataKapalStsPnrBbmList.Recordset == null; // DN
}
@while (subAktivitasDataKapalStsPnrBbmList.RecordCount < subAktivitasDataKapalStsPnrBbmList.StopRecord || SameString(subAktivitasDataKapalStsPnrBbmList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasDataKapalStsPnrBbmList.RowIndex, "$rowindex$") &&
        (!subAktivitasDataKapalStsPnrBbmList.IsGridAdd || subAktivitasDataKapalStsPnrBbmList.CurrentMode == "copy") &&
        (!((subAktivitasDataKapalStsPnrBbmList.IsCopy || subAktivitasDataKapalStsPnrBbmList.IsAdd) && subAktivitasDataKapalStsPnrBbmList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasDataKapalStsPnrBbmList.Recordset.ReadAsync();
    subAktivitasDataKapalStsPnrBbmList.RecordCount++;
    if (subAktivitasDataKapalStsPnrBbmList.RecordCount >= subAktivitasDataKapalStsPnrBbmList.StartRecord) {
        await subAktivitasDataKapalStsPnrBbmList.SetupRow();
    <tr @Html.Raw(subAktivitasDataKapalStsPnrBbmList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasDataKapalStsPnrBbmList.ListOptions.RenderBody("left", subAktivitasDataKapalStsPnrBbmList.RowCount)
    @if (subAktivitasDataKapalStsPnrBbmList.id.Visible) { // subAktivitasDataKapalStsPnrBbmList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasDataKapalStsPnrBbmList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasDataKapalStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataKapalStsPnrBbmList.RowCount)_SubAktivitasDataKapalSTSPnrBBM_id" class="el_SubAktivitasDataKapalSTSPnrBBM_id">
<span @Html.Raw(subAktivitasDataKapalStsPnrBbmList.id.ViewAttributes)>
@Html.Raw(subAktivitasDataKapalStsPnrBbmList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataKapalStsPnrBbmList.id.Visible (end) *@
    @if (subAktivitasDataKapalStsPnrBbmList.NoReferensi.Visible) { // subAktivitasDataKapalStsPnrBbmList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasDataKapalStsPnrBbmList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasDataKapalStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataKapalStsPnrBbmList.RowCount)_SubAktivitasDataKapalSTSPnrBBM_NoReferensi" class="el_SubAktivitasDataKapalSTSPnrBBM_NoReferensi">
<span @Html.Raw(subAktivitasDataKapalStsPnrBbmList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasDataKapalStsPnrBbmList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataKapalStsPnrBbmList.NoReferensi.Visible (end) *@
    @if (subAktivitasDataKapalStsPnrBbmList.idProses.Visible) { // subAktivitasDataKapalStsPnrBbmList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasDataKapalStsPnrBbmList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasDataKapalStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataKapalStsPnrBbmList.RowCount)_SubAktivitasDataKapalSTSPnrBBM_idProses" class="el_SubAktivitasDataKapalSTSPnrBBM_idProses">
<span @Html.Raw(subAktivitasDataKapalStsPnrBbmList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasDataKapalStsPnrBbmList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataKapalStsPnrBbmList.idProses.Visible (end) *@
    @if (subAktivitasDataKapalStsPnrBbmList.idAktifitas.Visible) { // subAktivitasDataKapalStsPnrBbmList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasDataKapalStsPnrBbmList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasDataKapalStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataKapalStsPnrBbmList.RowCount)_SubAktivitasDataKapalSTSPnrBBM_idAktifitas" class="el_SubAktivitasDataKapalSTSPnrBBM_idAktifitas">
<span @Html.Raw(subAktivitasDataKapalStsPnrBbmList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasDataKapalStsPnrBbmList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataKapalStsPnrBbmList.idAktifitas.Visible (end) *@
    @if (subAktivitasDataKapalStsPnrBbmList.StatusAktivitas.Visible) { // subAktivitasDataKapalStsPnrBbmList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasDataKapalStsPnrBbmList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasDataKapalStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataKapalStsPnrBbmList.RowCount)_SubAktivitasDataKapalSTSPnrBBM_StatusAktivitas" class="el_SubAktivitasDataKapalSTSPnrBBM_StatusAktivitas">
<span @Html.Raw(subAktivitasDataKapalStsPnrBbmList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasDataKapalStsPnrBbmList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataKapalStsPnrBbmList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasDataKapalStsPnrBbmList.lastUpdatedBy.Visible) { // subAktivitasDataKapalStsPnrBbmList.lastUpdatedBy.Visible (begin)
        <td data-name="lastUpdatedBy" @Html.Raw(subAktivitasDataKapalStsPnrBbmList.lastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasDataKapalStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataKapalStsPnrBbmList.RowCount)_SubAktivitasDataKapalSTSPnrBBM_lastUpdatedBy" class="el_SubAktivitasDataKapalSTSPnrBBM_lastUpdatedBy">
<span @Html.Raw(subAktivitasDataKapalStsPnrBbmList.lastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasDataKapalStsPnrBbmList.lastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataKapalStsPnrBbmList.lastUpdatedBy.Visible (end) *@
    @if (subAktivitasDataKapalStsPnrBbmList.lastUpdatedDate.Visible) { // subAktivitasDataKapalStsPnrBbmList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasDataKapalStsPnrBbmList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasDataKapalStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataKapalStsPnrBbmList.RowCount)_SubAktivitasDataKapalSTSPnrBBM_lastUpdatedDate" class="el_SubAktivitasDataKapalSTSPnrBBM_lastUpdatedDate">
<span @Html.Raw(subAktivitasDataKapalStsPnrBbmList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasDataKapalStsPnrBbmList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataKapalStsPnrBbmList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasDataKapalStsPnrBbmList.namakapal.Visible) { // subAktivitasDataKapalStsPnrBbmList.namakapal.Visible (begin)
        <td data-name="namakapal" @Html.Raw(subAktivitasDataKapalStsPnrBbmList.namakapal.CellAttributes)>
<span id="el@(SameString(subAktivitasDataKapalStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataKapalStsPnrBbmList.RowCount)_SubAktivitasDataKapalSTSPnrBBM_namakapal" class="el_SubAktivitasDataKapalSTSPnrBBM_namakapal">
<span @Html.Raw(subAktivitasDataKapalStsPnrBbmList.namakapal.ViewAttributes)>
@Html.Raw(subAktivitasDataKapalStsPnrBbmList.namakapal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataKapalStsPnrBbmList.namakapal.Visible (end) *@
    @if (subAktivitasDataKapalStsPnrBbmList.shipment.Visible) { // subAktivitasDataKapalStsPnrBbmList.shipment.Visible (begin)
        <td data-name="shipment" @Html.Raw(subAktivitasDataKapalStsPnrBbmList.shipment.CellAttributes)>
<span id="el@(SameString(subAktivitasDataKapalStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataKapalStsPnrBbmList.RowCount)_SubAktivitasDataKapalSTSPnrBBM_shipment" class="el_SubAktivitasDataKapalSTSPnrBBM_shipment">
<span @Html.Raw(subAktivitasDataKapalStsPnrBbmList.shipment.ViewAttributes)>
@Html.Raw(subAktivitasDataKapalStsPnrBbmList.shipment.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataKapalStsPnrBbmList.shipment.Visible (end) *@
    @if (subAktivitasDataKapalStsPnrBbmList.produk.Visible) { // subAktivitasDataKapalStsPnrBbmList.produk.Visible (begin)
        <td data-name="produk" @Html.Raw(subAktivitasDataKapalStsPnrBbmList.produk.CellAttributes)>
<span id="el@(SameString(subAktivitasDataKapalStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataKapalStsPnrBbmList.RowCount)_SubAktivitasDataKapalSTSPnrBBM_produk" class="el_SubAktivitasDataKapalSTSPnrBBM_produk">
<span @Html.Raw(subAktivitasDataKapalStsPnrBbmList.produk.ViewAttributes)>
@Html.Raw(subAktivitasDataKapalStsPnrBbmList.produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataKapalStsPnrBbmList.produk.Visible (end) *@
    @if (subAktivitasDataKapalStsPnrBbmList.tgltiba.Visible) { // subAktivitasDataKapalStsPnrBbmList.tgltiba.Visible (begin)
        <td data-name="tgltiba" @Html.Raw(subAktivitasDataKapalStsPnrBbmList.tgltiba.CellAttributes)>
<span id="el@(SameString(subAktivitasDataKapalStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataKapalStsPnrBbmList.RowCount)_SubAktivitasDataKapalSTSPnrBBM_tgltiba" class="el_SubAktivitasDataKapalSTSPnrBBM_tgltiba">
<span @Html.Raw(subAktivitasDataKapalStsPnrBbmList.tgltiba.ViewAttributes)>
@Html.Raw(subAktivitasDataKapalStsPnrBbmList.tgltiba.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataKapalStsPnrBbmList.tgltiba.Visible (end) *@
    @if (subAktivitasDataKapalStsPnrBbmList.nominasi.Visible) { // subAktivitasDataKapalStsPnrBbmList.nominasi.Visible (begin)
        <td data-name="nominasi" @Html.Raw(subAktivitasDataKapalStsPnrBbmList.nominasi.CellAttributes)>
<span id="el@(SameString(subAktivitasDataKapalStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataKapalStsPnrBbmList.RowCount)_SubAktivitasDataKapalSTSPnrBBM_nominasi" class="el_SubAktivitasDataKapalSTSPnrBBM_nominasi">
<span @Html.Raw(subAktivitasDataKapalStsPnrBbmList.nominasi.ViewAttributes)>
@Html.Raw(subAktivitasDataKapalStsPnrBbmList.nominasi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataKapalStsPnrBbmList.nominasi.Visible (end) *@
    @if (subAktivitasDataKapalStsPnrBbmList.userInput.Visible) { // subAktivitasDataKapalStsPnrBbmList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasDataKapalStsPnrBbmList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasDataKapalStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataKapalStsPnrBbmList.RowCount)_SubAktivitasDataKapalSTSPnrBBM_userInput" class="el_SubAktivitasDataKapalSTSPnrBBM_userInput">
<span @Html.Raw(subAktivitasDataKapalStsPnrBbmList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasDataKapalStsPnrBbmList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataKapalStsPnrBbmList.userInput.Visible (end) *@
    @if (subAktivitasDataKapalStsPnrBbmList.etlDate.Visible) { // subAktivitasDataKapalStsPnrBbmList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasDataKapalStsPnrBbmList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasDataKapalStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataKapalStsPnrBbmList.RowCount)_SubAktivitasDataKapalSTSPnrBBM_etlDate" class="el_SubAktivitasDataKapalSTSPnrBBM_etlDate">
<span @Html.Raw(subAktivitasDataKapalStsPnrBbmList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasDataKapalStsPnrBbmList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataKapalStsPnrBbmList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasDataKapalStsPnrBbmList.ListOptions.RenderBody("right", subAktivitasDataKapalStsPnrBbmList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasDataKapalStsPnrBbmList.RowIndex, "$rowindex$"))
        subAktivitasDataKapalStsPnrBbmList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasDataKapalStsPnrBbmList.IsCopy || subAktivitasDataKapalStsPnrBbmList.IsAdd) && subAktivitasDataKapalStsPnrBbmList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasDataKapalStsPnrBbmList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasDataKapalStsPnrBbmList.CurrentAction) && !subAktivitasDataKapalStsPnrBbmList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasDataKapalStsPnrBbmList.CloseRecordset(); }
@if (!subAktivitasDataKapalStsPnrBbmList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasDataKapalStsPnrBbmList.IsGridAdd && !(subAktivitasDataKapalStsPnrBbmList.IsGridEdit && subAktivitasDataKapalStsPnrBbmList.ModalGridEdit) && !subAktivitasDataKapalStsPnrBbmList.IsMultiEdit) {
@Html.Raw(subAktivitasDataKapalStsPnrBbmList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasDataKapalStsPnrBbmList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasDataKapalStsPnrBbmList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasDataKapalStsPnrBbmList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasDataKapalStsPnrBbmList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasDataKapalStsPnrBbmList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasDataKapalSTSPnrBBM");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
