@{
    // View
    View = this;

    // Check action result
    if (subaktivitasKapalBerangkatStsPnrBbmList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subaktivitasKapalBerangkatStsPnrBbmList.UseLayout ? "_Layout" : "";
}
@if (!subaktivitasKapalBerangkatStsPnrBbmList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasKapalBerangkatStsPnrBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasKapalBerangkatSTSPnrBBM: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subaktivitasKapalBerangkatStsPnrBbmList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subaktivitasKapalBerangkatStsPnrBbmList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subaktivitasKapalBerangkatStsPnrBbmList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subaktivitasKapalBerangkatStsPnrBbmList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subaktivitasKapalBerangkatStsPnrBbmList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subaktivitasKapalBerangkatStsPnrBbmList.TotalRecords > 0 && subaktivitasKapalBerangkatStsPnrBbmList.ExportOptions.Visible) {
    subaktivitasKapalBerangkatStsPnrBbmList.ExportOptions.Render("body");
}
@if (subaktivitasKapalBerangkatStsPnrBbmList.ImportOptions.Visible) {
    subaktivitasKapalBerangkatStsPnrBbmList.ImportOptions.Render("body");
}
@if (subaktivitasKapalBerangkatStsPnrBbmList.SearchOptions.Visible) {
    subaktivitasKapalBerangkatStsPnrBbmList.SearchOptions.Render("body");
}
@if (subaktivitasKapalBerangkatStsPnrBbmList.FilterOptions.Visible) {
    subaktivitasKapalBerangkatStsPnrBbmList.FilterOptions.Render("body");
}
</div>
}
@if (!subaktivitasKapalBerangkatStsPnrBbmList.IsModal) {
<form name="fSubaktivitasKapalBerangkatSTSPnrBBMsrch" id="fSubaktivitasKapalBerangkatSTSPnrBBMsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubaktivitasKapalBerangkatSTSPnrBBMsrch_search_panel" class="mb-2 mb-sm-0 @(subaktivitasKapalBerangkatStsPnrBbmList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasKapalBerangkatStsPnrBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasKapalBerangkatSTSPnrBBM: currentTable } });
var currentForm;
var fSubaktivitasKapalBerangkatSTSPnrBBMsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubaktivitasKapalBerangkatSTSPnrBBMsrch")
        .setPageId("list")
@if (subaktivitasKapalBerangkatStsPnrBbmList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subaktivitasKapalBerangkatStsPnrBbmList.IsExport() && Empty(subaktivitasKapalBerangkatStsPnrBbmList.CurrentAction) && subaktivitasKapalBerangkatStsPnrBbmList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subaktivitasKapalBerangkatStsPnrBbmList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subaktivitasKapalBerangkatStsPnrBbmList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subaktivitasKapalBerangkatStsPnrBbmList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubaktivitasKapalBerangkatSTSPnrBBMsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subaktivitasKapalBerangkatStsPnrBbmList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubaktivitasKapalBerangkatSTSPnrBBMsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subaktivitasKapalBerangkatStsPnrBbmList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubaktivitasKapalBerangkatSTSPnrBBMsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subaktivitasKapalBerangkatStsPnrBbmList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubaktivitasKapalBerangkatSTSPnrBBMsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subaktivitasKapalBerangkatStsPnrBbmList.ShowPageHeader()
@subaktivitasKapalBerangkatStsPnrBbmList.ShowMessages()
<main class="list @(subaktivitasKapalBerangkatStsPnrBbmList.TotalRecords == 0 && !subaktivitasKapalBerangkatStsPnrBbmList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subaktivitasKapalBerangkatStsPnrBbmList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subaktivitasKapalBerangkatStsPnrBbmList.TotalRecords > 0 || !Empty(subaktivitasKapalBerangkatStsPnrBbmList.CurrentAction)) {
<div class="card ew-card ew-grid@(subaktivitasKapalBerangkatStsPnrBbmList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subaktivitasKapalBerangkatStsPnrBbmList.TableGridClass)">
<form name="@(subaktivitasKapalBerangkatStsPnrBbmList.FormName)" id="@(subaktivitasKapalBerangkatStsPnrBbmList.FormName)" class="ew-form ew-list-form" action="@AppPath(subaktivitasKapalBerangkatStsPnrBbmList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subaktivitasKapalBerangkatStsPnrBbmList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubaktivitasKapalBerangkatSTSPnrBBM" class="card-body ew-grid-middle-panel @(subaktivitasKapalBerangkatStsPnrBbmList.TableContainerClass)" style="@(subaktivitasKapalBerangkatStsPnrBbmList.TableContainerStyle)">
@if (subaktivitasKapalBerangkatStsPnrBbmList.TotalRecords > 0 || subaktivitasKapalBerangkatStsPnrBbmList.IsGridEdit || subaktivitasKapalBerangkatStsPnrBbmList.IsMultiEdit) {
<table id="tbl_SubaktivitasKapalBerangkatSTSPnrBBMlist" class="@(subaktivitasKapalBerangkatStsPnrBbmList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subaktivitasKapalBerangkatStsPnrBbmList.RowType = RowType.Header;

    // Render list options
    await subaktivitasKapalBerangkatStsPnrBbmList.RenderListOptions();
}
@* Render list options (header, left) *@
@subaktivitasKapalBerangkatStsPnrBbmList.ListOptions.RenderHeader("left")
@if (subaktivitasKapalBerangkatStsPnrBbmList.id.Visible) { // subaktivitasKapalBerangkatStsPnrBbmList.id.Visible (begin)
        <th data-name="id" class="@(subaktivitasKapalBerangkatStsPnrBbmList.id.HeaderCellClass)"><div id="elh_SubaktivitasKapalBerangkatSTSPnrBBM_id" class="SubaktivitasKapalBerangkatSTSPnrBBM_id">@Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.RenderFieldHeader(subaktivitasKapalBerangkatStsPnrBbmList.id))</div></th>
} @* subaktivitasKapalBerangkatStsPnrBbmList.id.Visible (end) *@
@if (subaktivitasKapalBerangkatStsPnrBbmList.NoReferensi.Visible) { // subaktivitasKapalBerangkatStsPnrBbmList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subaktivitasKapalBerangkatStsPnrBbmList.NoReferensi.HeaderCellClass)"><div id="elh_SubaktivitasKapalBerangkatSTSPnrBBM_NoReferensi" class="SubaktivitasKapalBerangkatSTSPnrBBM_NoReferensi">@Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.RenderFieldHeader(subaktivitasKapalBerangkatStsPnrBbmList.NoReferensi))</div></th>
} @* subaktivitasKapalBerangkatStsPnrBbmList.NoReferensi.Visible (end) *@
@if (subaktivitasKapalBerangkatStsPnrBbmList.idProses.Visible) { // subaktivitasKapalBerangkatStsPnrBbmList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subaktivitasKapalBerangkatStsPnrBbmList.idProses.HeaderCellClass)"><div id="elh_SubaktivitasKapalBerangkatSTSPnrBBM_idProses" class="SubaktivitasKapalBerangkatSTSPnrBBM_idProses">@Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.RenderFieldHeader(subaktivitasKapalBerangkatStsPnrBbmList.idProses))</div></th>
} @* subaktivitasKapalBerangkatStsPnrBbmList.idProses.Visible (end) *@
@if (subaktivitasKapalBerangkatStsPnrBbmList.idAktifitas.Visible) { // subaktivitasKapalBerangkatStsPnrBbmList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subaktivitasKapalBerangkatStsPnrBbmList.idAktifitas.HeaderCellClass)"><div id="elh_SubaktivitasKapalBerangkatSTSPnrBBM_idAktifitas" class="SubaktivitasKapalBerangkatSTSPnrBBM_idAktifitas">@Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.RenderFieldHeader(subaktivitasKapalBerangkatStsPnrBbmList.idAktifitas))</div></th>
} @* subaktivitasKapalBerangkatStsPnrBbmList.idAktifitas.Visible (end) *@
@if (subaktivitasKapalBerangkatStsPnrBbmList.StatusAktivitas.Visible) { // subaktivitasKapalBerangkatStsPnrBbmList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subaktivitasKapalBerangkatStsPnrBbmList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubaktivitasKapalBerangkatSTSPnrBBM_StatusAktivitas" class="SubaktivitasKapalBerangkatSTSPnrBBM_StatusAktivitas">@Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.RenderFieldHeader(subaktivitasKapalBerangkatStsPnrBbmList.StatusAktivitas))</div></th>
} @* subaktivitasKapalBerangkatStsPnrBbmList.StatusAktivitas.Visible (end) *@
@if (subaktivitasKapalBerangkatStsPnrBbmList.LastUpdatedBy.Visible) { // subaktivitasKapalBerangkatStsPnrBbmList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subaktivitasKapalBerangkatStsPnrBbmList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubaktivitasKapalBerangkatSTSPnrBBM_LastUpdatedBy" class="SubaktivitasKapalBerangkatSTSPnrBBM_LastUpdatedBy">@Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.RenderFieldHeader(subaktivitasKapalBerangkatStsPnrBbmList.LastUpdatedBy))</div></th>
} @* subaktivitasKapalBerangkatStsPnrBbmList.LastUpdatedBy.Visible (end) *@
@if (subaktivitasKapalBerangkatStsPnrBbmList.lastUpdatedDate.Visible) { // subaktivitasKapalBerangkatStsPnrBbmList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subaktivitasKapalBerangkatStsPnrBbmList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubaktivitasKapalBerangkatSTSPnrBBM_lastUpdatedDate" class="SubaktivitasKapalBerangkatSTSPnrBBM_lastUpdatedDate">@Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.RenderFieldHeader(subaktivitasKapalBerangkatStsPnrBbmList.lastUpdatedDate))</div></th>
} @* subaktivitasKapalBerangkatStsPnrBbmList.lastUpdatedDate.Visible (end) *@
@if (subaktivitasKapalBerangkatStsPnrBbmList.tglBerangkat.Visible) { // subaktivitasKapalBerangkatStsPnrBbmList.tglBerangkat.Visible (begin)
        <th data-name="tglBerangkat" class="@(subaktivitasKapalBerangkatStsPnrBbmList.tglBerangkat.HeaderCellClass)"><div id="elh_SubaktivitasKapalBerangkatSTSPnrBBM_tglBerangkat" class="SubaktivitasKapalBerangkatSTSPnrBBM_tglBerangkat">@Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.RenderFieldHeader(subaktivitasKapalBerangkatStsPnrBbmList.tglBerangkat))</div></th>
} @* subaktivitasKapalBerangkatStsPnrBbmList.tglBerangkat.Visible (end) *@
@if (subaktivitasKapalBerangkatStsPnrBbmList.userInput.Visible) { // subaktivitasKapalBerangkatStsPnrBbmList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subaktivitasKapalBerangkatStsPnrBbmList.userInput.HeaderCellClass)"><div id="elh_SubaktivitasKapalBerangkatSTSPnrBBM_userInput" class="SubaktivitasKapalBerangkatSTSPnrBBM_userInput">@Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.RenderFieldHeader(subaktivitasKapalBerangkatStsPnrBbmList.userInput))</div></th>
} @* subaktivitasKapalBerangkatStsPnrBbmList.userInput.Visible (end) *@
@if (subaktivitasKapalBerangkatStsPnrBbmList.etlDate.Visible) { // subaktivitasKapalBerangkatStsPnrBbmList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subaktivitasKapalBerangkatStsPnrBbmList.etlDate.HeaderCellClass)"><div id="elh_SubaktivitasKapalBerangkatSTSPnrBBM_etlDate" class="SubaktivitasKapalBerangkatSTSPnrBBM_etlDate">@Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.RenderFieldHeader(subaktivitasKapalBerangkatStsPnrBbmList.etlDate))</div></th>
} @* subaktivitasKapalBerangkatStsPnrBbmList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subaktivitasKapalBerangkatStsPnrBbmList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subaktivitasKapalBerangkatStsPnrBbmList.PageNumber)">
@{
    await subaktivitasKapalBerangkatStsPnrBbmList.SetupGrid();
    bool eof = subaktivitasKapalBerangkatStsPnrBbmList.Recordset == null; // DN
}
@while (subaktivitasKapalBerangkatStsPnrBbmList.RecordCount < subaktivitasKapalBerangkatStsPnrBbmList.StopRecord || SameString(subaktivitasKapalBerangkatStsPnrBbmList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subaktivitasKapalBerangkatStsPnrBbmList.RowIndex, "$rowindex$") &&
        (!subaktivitasKapalBerangkatStsPnrBbmList.IsGridAdd || subaktivitasKapalBerangkatStsPnrBbmList.CurrentMode == "copy") &&
        (!((subaktivitasKapalBerangkatStsPnrBbmList.IsCopy || subaktivitasKapalBerangkatStsPnrBbmList.IsAdd) && subaktivitasKapalBerangkatStsPnrBbmList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subaktivitasKapalBerangkatStsPnrBbmList.Recordset.ReadAsync();
    subaktivitasKapalBerangkatStsPnrBbmList.RecordCount++;
    if (subaktivitasKapalBerangkatStsPnrBbmList.RecordCount >= subaktivitasKapalBerangkatStsPnrBbmList.StartRecord) {
        await subaktivitasKapalBerangkatStsPnrBbmList.SetupRow();
    <tr @Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.RowAttributes)>
    @* Render list options (body, left) *@
    @subaktivitasKapalBerangkatStsPnrBbmList.ListOptions.RenderBody("left", subaktivitasKapalBerangkatStsPnrBbmList.RowCount)
    @if (subaktivitasKapalBerangkatStsPnrBbmList.id.Visible) { // subaktivitasKapalBerangkatStsPnrBbmList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.id.CellAttributes)>
<span id="el@(SameString(subaktivitasKapalBerangkatStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasKapalBerangkatStsPnrBbmList.RowCount)_SubaktivitasKapalBerangkatSTSPnrBBM_id" class="el_SubaktivitasKapalBerangkatSTSPnrBBM_id">
<span @Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.id.ViewAttributes)>
@Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.id.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasKapalBerangkatStsPnrBbmList.id.Visible (end) *@
    @if (subaktivitasKapalBerangkatStsPnrBbmList.NoReferensi.Visible) { // subaktivitasKapalBerangkatStsPnrBbmList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subaktivitasKapalBerangkatStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasKapalBerangkatStsPnrBbmList.RowCount)_SubaktivitasKapalBerangkatSTSPnrBBM_NoReferensi" class="el_SubaktivitasKapalBerangkatSTSPnrBBM_NoReferensi">
<span @Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.NoReferensi.ViewAttributes)>
@Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasKapalBerangkatStsPnrBbmList.NoReferensi.Visible (end) *@
    @if (subaktivitasKapalBerangkatStsPnrBbmList.idProses.Visible) { // subaktivitasKapalBerangkatStsPnrBbmList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.idProses.CellAttributes)>
<span id="el@(SameString(subaktivitasKapalBerangkatStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasKapalBerangkatStsPnrBbmList.RowCount)_SubaktivitasKapalBerangkatSTSPnrBBM_idProses" class="el_SubaktivitasKapalBerangkatSTSPnrBBM_idProses">
<span @Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.idProses.ViewAttributes)>
@Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasKapalBerangkatStsPnrBbmList.idProses.Visible (end) *@
    @if (subaktivitasKapalBerangkatStsPnrBbmList.idAktifitas.Visible) { // subaktivitasKapalBerangkatStsPnrBbmList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subaktivitasKapalBerangkatStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasKapalBerangkatStsPnrBbmList.RowCount)_SubaktivitasKapalBerangkatSTSPnrBBM_idAktifitas" class="el_SubaktivitasKapalBerangkatSTSPnrBBM_idAktifitas">
<span @Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.idAktifitas.ViewAttributes)>
@Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasKapalBerangkatStsPnrBbmList.idAktifitas.Visible (end) *@
    @if (subaktivitasKapalBerangkatStsPnrBbmList.StatusAktivitas.Visible) { // subaktivitasKapalBerangkatStsPnrBbmList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subaktivitasKapalBerangkatStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasKapalBerangkatStsPnrBbmList.RowCount)_SubaktivitasKapalBerangkatSTSPnrBBM_StatusAktivitas" class="el_SubaktivitasKapalBerangkatSTSPnrBBM_StatusAktivitas">
<span @Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasKapalBerangkatStsPnrBbmList.StatusAktivitas.Visible (end) *@
    @if (subaktivitasKapalBerangkatStsPnrBbmList.LastUpdatedBy.Visible) { // subaktivitasKapalBerangkatStsPnrBbmList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subaktivitasKapalBerangkatStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasKapalBerangkatStsPnrBbmList.RowCount)_SubaktivitasKapalBerangkatSTSPnrBBM_LastUpdatedBy" class="el_SubaktivitasKapalBerangkatSTSPnrBBM_LastUpdatedBy">
<span @Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasKapalBerangkatStsPnrBbmList.LastUpdatedBy.Visible (end) *@
    @if (subaktivitasKapalBerangkatStsPnrBbmList.lastUpdatedDate.Visible) { // subaktivitasKapalBerangkatStsPnrBbmList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subaktivitasKapalBerangkatStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasKapalBerangkatStsPnrBbmList.RowCount)_SubaktivitasKapalBerangkatSTSPnrBBM_lastUpdatedDate" class="el_SubaktivitasKapalBerangkatSTSPnrBBM_lastUpdatedDate">
<span @Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasKapalBerangkatStsPnrBbmList.lastUpdatedDate.Visible (end) *@
    @if (subaktivitasKapalBerangkatStsPnrBbmList.tglBerangkat.Visible) { // subaktivitasKapalBerangkatStsPnrBbmList.tglBerangkat.Visible (begin)
        <td data-name="tglBerangkat" @Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.tglBerangkat.CellAttributes)>
<span id="el@(SameString(subaktivitasKapalBerangkatStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasKapalBerangkatStsPnrBbmList.RowCount)_SubaktivitasKapalBerangkatSTSPnrBBM_tglBerangkat" class="el_SubaktivitasKapalBerangkatSTSPnrBBM_tglBerangkat">
<span @Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.tglBerangkat.ViewAttributes)>
@Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.tglBerangkat.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasKapalBerangkatStsPnrBbmList.tglBerangkat.Visible (end) *@
    @if (subaktivitasKapalBerangkatStsPnrBbmList.userInput.Visible) { // subaktivitasKapalBerangkatStsPnrBbmList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.userInput.CellAttributes)>
<span id="el@(SameString(subaktivitasKapalBerangkatStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasKapalBerangkatStsPnrBbmList.RowCount)_SubaktivitasKapalBerangkatSTSPnrBBM_userInput" class="el_SubaktivitasKapalBerangkatSTSPnrBBM_userInput">
<span @Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.userInput.ViewAttributes)>
@Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasKapalBerangkatStsPnrBbmList.userInput.Visible (end) *@
    @if (subaktivitasKapalBerangkatStsPnrBbmList.etlDate.Visible) { // subaktivitasKapalBerangkatStsPnrBbmList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.etlDate.CellAttributes)>
<span id="el@(SameString(subaktivitasKapalBerangkatStsPnrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasKapalBerangkatStsPnrBbmList.RowCount)_SubaktivitasKapalBerangkatSTSPnrBBM_etlDate" class="el_SubaktivitasKapalBerangkatSTSPnrBBM_etlDate">
<span @Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.etlDate.ViewAttributes)>
@Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasKapalBerangkatStsPnrBbmList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subaktivitasKapalBerangkatStsPnrBbmList.ListOptions.RenderBody("right", subaktivitasKapalBerangkatStsPnrBbmList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subaktivitasKapalBerangkatStsPnrBbmList.RowIndex, "$rowindex$"))
        subaktivitasKapalBerangkatStsPnrBbmList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subaktivitasKapalBerangkatStsPnrBbmList.IsCopy || subaktivitasKapalBerangkatStsPnrBbmList.IsAdd) && subaktivitasKapalBerangkatStsPnrBbmList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subaktivitasKapalBerangkatStsPnrBbmList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subaktivitasKapalBerangkatStsPnrBbmList.CurrentAction) && !subaktivitasKapalBerangkatStsPnrBbmList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subaktivitasKapalBerangkatStsPnrBbmList.CloseRecordset(); }
@if (!subaktivitasKapalBerangkatStsPnrBbmList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subaktivitasKapalBerangkatStsPnrBbmList.IsGridAdd && !(subaktivitasKapalBerangkatStsPnrBbmList.IsGridEdit && subaktivitasKapalBerangkatStsPnrBbmList.ModalGridEdit) && !subaktivitasKapalBerangkatStsPnrBbmList.IsMultiEdit) {
@Html.Raw(subaktivitasKapalBerangkatStsPnrBbmList.Pager.Render())
}
<div class="ew-list-other-options">
@subaktivitasKapalBerangkatStsPnrBbmList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subaktivitasKapalBerangkatStsPnrBbmList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subaktivitasKapalBerangkatStsPnrBbmList.FooterOptions.RenderBody()
</div>
</main>
@subaktivitasKapalBerangkatStsPnrBbmList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subaktivitasKapalBerangkatStsPnrBbmList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubaktivitasKapalBerangkatSTSPnrBBM");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
