@{
    // View
    View = this;

    // Check action result
    if (subAktivitasTotalPenyaluranLpgEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasTotalPenyaluranLpgEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasTotalPenyaluranLpgEdit.ShowPageHeader()
@subAktivitasTotalPenyaluranLpgEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasTotalPenyaluranLPGedit" id="fSubAktivitasTotalPenyaluranLPGedit" class="@(subAktivitasTotalPenyaluranLpgEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasTotalPenyaluranLpgEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasTotalPenyaluranLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasTotalPenyaluranLPGedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasTotalPenyaluranLPGedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["TotalPenyaluran", [fields.TotalPenyaluran.visible && fields.TotalPenyaluran.required ? ew.Validators.required(fields.TotalPenyaluran.caption) : null], fields.TotalPenyaluran.isInvalid],
            ["StokAkhir", [fields.StokAkhir.visible && fields.StokAkhir.required ? ew.Validators.required(fields.StokAkhir.caption) : null], fields.StokAkhir.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasTotalPenyaluranLpgEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasTotalPenyaluranLpgEdit.OldKeyName)" value="@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasTotalPenyaluranLpgEdit.id.Visible) { // subAktivitasTotalPenyaluranLpgEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subAktivitasTotalPenyaluranLpgEdit.id.RowAttributes)>
        <label id="elh_SubAktivitasTotalPenyaluranLPG_id" class="@(subAktivitasTotalPenyaluranLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.id.Caption)@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasTotalPenyaluranLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasTotalPenyaluranLpgEdit.id.CellAttributes)>
<span id="el_SubAktivitasTotalPenyaluranLPG_id">
<span @Html.Raw(subAktivitasTotalPenyaluranLpgEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasTotalPenyaluranLpgEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasTotalPenyaluranLPG" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasTotalPenyaluranLpgEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasTotalPenyaluranLpgEdit.id.Visible (end) *@
@if (subAktivitasTotalPenyaluranLpgEdit.idProses.Visible) { // subAktivitasTotalPenyaluranLpgEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasTotalPenyaluranLpgEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasTotalPenyaluranLPG_idProses" for="x_idProses" class="@(subAktivitasTotalPenyaluranLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.idProses.Caption)@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasTotalPenyaluranLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasTotalPenyaluranLpgEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasTotalPenyaluranLPG_idProses">
<input type="@(subAktivitasTotalPenyaluranLpgEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubAktivitasTotalPenyaluranLPG" data-field="x_idProses" value="@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasTotalPenyaluranLpgEdit.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasTotalPenyaluranLpgEdit.idProses.FormatPattern)"@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasTotalPenyaluranLpgEdit.idProses.Visible (end) *@
@if (subAktivitasTotalPenyaluranLpgEdit.idAktifitas.Visible) { // subAktivitasTotalPenyaluranLpgEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasTotalPenyaluranLpgEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasTotalPenyaluranLPG_idAktifitas" for="x_idAktifitas" class="@(subAktivitasTotalPenyaluranLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.idAktifitas.Caption)@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasTotalPenyaluranLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasTotalPenyaluranLpgEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasTotalPenyaluranLPG_idAktifitas">
<input type="@(subAktivitasTotalPenyaluranLpgEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubAktivitasTotalPenyaluranLPG" data-field="x_idAktifitas" value="@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasTotalPenyaluranLpgEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasTotalPenyaluranLpgEdit.idAktifitas.FormatPattern)"@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasTotalPenyaluranLpgEdit.idAktifitas.Visible (end) *@
@if (subAktivitasTotalPenyaluranLpgEdit.NoReferensi.Visible) { // subAktivitasTotalPenyaluranLpgEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasTotalPenyaluranLpgEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasTotalPenyaluranLPG_NoReferensi" for="x_NoReferensi" class="@(subAktivitasTotalPenyaluranLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.NoReferensi.Caption)@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasTotalPenyaluranLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasTotalPenyaluranLpgEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasTotalPenyaluranLPG_NoReferensi">
<input type="@(subAktivitasTotalPenyaluranLpgEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasTotalPenyaluranLPG" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.NoReferensi.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasTotalPenyaluranLpgEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasTotalPenyaluranLpgEdit.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasTotalPenyaluranLpgEdit.NoReferensi.Visible (end) *@
@if (subAktivitasTotalPenyaluranLpgEdit.TotalPenyaluran.Visible) { // subAktivitasTotalPenyaluranLpgEdit.TotalPenyaluran.Visible (begin)
    <div id="r_TotalPenyaluran" @Html.Raw(subAktivitasTotalPenyaluranLpgEdit.TotalPenyaluran.RowAttributes)>
        <label id="elh_SubAktivitasTotalPenyaluranLPG_TotalPenyaluran" for="x_TotalPenyaluran" class="@(subAktivitasTotalPenyaluranLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.TotalPenyaluran.Caption)@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.TotalPenyaluran.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasTotalPenyaluranLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasTotalPenyaluranLpgEdit.TotalPenyaluran.CellAttributes)>
<span id="el_SubAktivitasTotalPenyaluranLPG_TotalPenyaluran">
<input type="@(subAktivitasTotalPenyaluranLpgEdit.TotalPenyaluran.InputTextType)" name="x_TotalPenyaluran" id="x_TotalPenyaluran" data-table="SubAktivitasTotalPenyaluranLPG" data-field="x_TotalPenyaluran" value="@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.TotalPenyaluran.EditValue)" size="30" maxlength="53" placeholder="@Html.Raw(HtmlEncode(subAktivitasTotalPenyaluranLpgEdit.TotalPenyaluran.PlaceHolder))" data-format-pattern="@(subAktivitasTotalPenyaluranLpgEdit.TotalPenyaluran.FormatPattern)"@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.TotalPenyaluran.EditAttributes) aria-describedby="x_TotalPenyaluran_help">
@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.TotalPenyaluran.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.TotalPenyaluran.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasTotalPenyaluranLpgEdit.TotalPenyaluran.Visible (end) *@
@if (subAktivitasTotalPenyaluranLpgEdit.StokAkhir.Visible) { // subAktivitasTotalPenyaluranLpgEdit.StokAkhir.Visible (begin)
    <div id="r_StokAkhir" @Html.Raw(subAktivitasTotalPenyaluranLpgEdit.StokAkhir.RowAttributes)>
        <label id="elh_SubAktivitasTotalPenyaluranLPG_StokAkhir" for="x_StokAkhir" class="@(subAktivitasTotalPenyaluranLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.StokAkhir.Caption)@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.StokAkhir.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasTotalPenyaluranLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasTotalPenyaluranLpgEdit.StokAkhir.CellAttributes)>
<span id="el_SubAktivitasTotalPenyaluranLPG_StokAkhir">
<input type="@(subAktivitasTotalPenyaluranLpgEdit.StokAkhir.InputTextType)" name="x_StokAkhir" id="x_StokAkhir" data-table="SubAktivitasTotalPenyaluranLPG" data-field="x_StokAkhir" value="@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.StokAkhir.EditValue)" size="30" maxlength="53" placeholder="@Html.Raw(HtmlEncode(subAktivitasTotalPenyaluranLpgEdit.StokAkhir.PlaceHolder))" data-format-pattern="@(subAktivitasTotalPenyaluranLpgEdit.StokAkhir.FormatPattern)"@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.StokAkhir.EditAttributes) aria-describedby="x_StokAkhir_help">
@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.StokAkhir.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.StokAkhir.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasTotalPenyaluranLpgEdit.StokAkhir.Visible (end) *@
@if (subAktivitasTotalPenyaluranLpgEdit.userInput.Visible) { // subAktivitasTotalPenyaluranLpgEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasTotalPenyaluranLpgEdit.userInput.RowAttributes)>
        <label id="elh_SubAktivitasTotalPenyaluranLPG_userInput" for="x_userInput" class="@(subAktivitasTotalPenyaluranLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.userInput.Caption)@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasTotalPenyaluranLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasTotalPenyaluranLpgEdit.userInput.CellAttributes)>
<span id="el_SubAktivitasTotalPenyaluranLPG_userInput">
<input type="@(subAktivitasTotalPenyaluranLpgEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasTotalPenyaluranLPG" data-field="x_userInput" value="@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasTotalPenyaluranLpgEdit.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasTotalPenyaluranLpgEdit.userInput.FormatPattern)"@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasTotalPenyaluranLpgEdit.userInput.Visible (end) *@
@if (subAktivitasTotalPenyaluranLpgEdit.etlDate.Visible) { // subAktivitasTotalPenyaluranLpgEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasTotalPenyaluranLpgEdit.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasTotalPenyaluranLPG_etlDate" for="x_etlDate" class="@(subAktivitasTotalPenyaluranLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.etlDate.Caption)@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasTotalPenyaluranLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasTotalPenyaluranLpgEdit.etlDate.CellAttributes)>
<span id="el_SubAktivitasTotalPenyaluranLPG_etlDate">
<input type="@(subAktivitasTotalPenyaluranLpgEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasTotalPenyaluranLPG" data-field="x_etlDate" value="@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasTotalPenyaluranLpgEdit.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasTotalPenyaluranLpgEdit.etlDate.FormatPattern)"@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.etlDate.GetErrorMessage())</div>
@if (!subAktivitasTotalPenyaluranLpgEdit.etlDate.ReadOnly && !subAktivitasTotalPenyaluranLpgEdit.etlDate.Disabled && !subAktivitasTotalPenyaluranLpgEdit.etlDate.EditAttrs.Is("readonly") && !subAktivitasTotalPenyaluranLpgEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasTotalPenyaluranLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasTotalPenyaluranLPGedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasTotalPenyaluranLpgEdit.etlDate.Visible (end) *@
@if (subAktivitasTotalPenyaluranLpgEdit.LastUpdatedBy.Visible) { // subAktivitasTotalPenyaluranLpgEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasTotalPenyaluranLpgEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasTotalPenyaluranLPG_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasTotalPenyaluranLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasTotalPenyaluranLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasTotalPenyaluranLpgEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasTotalPenyaluranLPG_LastUpdatedBy">
<input type="@(subAktivitasTotalPenyaluranLpgEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasTotalPenyaluranLPG" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasTotalPenyaluranLpgEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasTotalPenyaluranLpgEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasTotalPenyaluranLpgEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasTotalPenyaluranLpgEdit.lastUpdatedDate.Visible) { // subAktivitasTotalPenyaluranLpgEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasTotalPenyaluranLpgEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasTotalPenyaluranLPG_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasTotalPenyaluranLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasTotalPenyaluranLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasTotalPenyaluranLpgEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasTotalPenyaluranLPG_lastUpdatedDate">
<input type="@(subAktivitasTotalPenyaluranLpgEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasTotalPenyaluranLPG" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasTotalPenyaluranLpgEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasTotalPenyaluranLpgEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasTotalPenyaluranLpgEdit.lastUpdatedDate.ReadOnly && !subAktivitasTotalPenyaluranLpgEdit.lastUpdatedDate.Disabled && !subAktivitasTotalPenyaluranLpgEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasTotalPenyaluranLpgEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasTotalPenyaluranLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasTotalPenyaluranLPGedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasTotalPenyaluranLpgEdit.lastUpdatedDate.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasTotalPenyaluranLpgEdit.CloseRecordset(); }
@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasTotalPenyaluranLpgEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasTotalPenyaluranLPGedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasTotalPenyaluranLPGedit" data-href="@AppPath(subAktivitasTotalPenyaluranLpgEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasTotalPenyaluranLpgEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasTotalPenyaluranLpgEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasTotalPenyaluranLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
