@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiSfbdrtwDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiSfbdrtwDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiSfbdrtwDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiSFBDRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fSubAktivitasNilaiSFBDRTWdelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiSFBDRTWdelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasNilaiSfbdrtwDelete.ShowPageHeader()
@subAktivitasNilaiSfbdrtwDelete.ShowMessages()
<form name="fSubAktivitasNilaiSFBDRTWdelete" id="fSubAktivitasNilaiSFBDRTWdelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in subAktivitasNilaiSfbdrtwDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(subAktivitasNilaiSfbdrtwDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(subAktivitasNilaiSfbdrtwDelete.TableContainerClass)" style="@(subAktivitasNilaiSfbdrtwDelete.TableContainerStyle)">
<table class="@(subAktivitasNilaiSfbdrtwDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (subAktivitasNilaiSfbdrtwDelete.id.Visible) { // subAktivitasNilaiSfbdrtwDelete.id.Visible (begin)
        <th class="@Html.Raw(subAktivitasNilaiSfbdrtwDelete.id.HeaderCellClass)"><span id="elh_SubAktivitasNilaiSFBDRTW_id" class="SubAktivitasNilaiSFBDRTW_id">@Html.Raw(subAktivitasNilaiSfbdrtwDelete.id.Caption)</span></th>
} @* subAktivitasNilaiSfbdrtwDelete.id.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwDelete.idAktifitas.Visible) { // subAktivitasNilaiSfbdrtwDelete.idAktifitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasNilaiSfbdrtwDelete.idAktifitas.HeaderCellClass)"><span id="elh_SubAktivitasNilaiSFBDRTW_idAktifitas" class="SubAktivitasNilaiSFBDRTW_idAktifitas">@Html.Raw(subAktivitasNilaiSfbdrtwDelete.idAktifitas.Caption)</span></th>
} @* subAktivitasNilaiSfbdrtwDelete.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwDelete.SFBD_KL_Obs.Visible) { // subAktivitasNilaiSfbdrtwDelete.SFBD_KL_Obs.Visible (begin)
        <th class="@Html.Raw(subAktivitasNilaiSfbdrtwDelete.SFBD_KL_Obs.HeaderCellClass)"><span id="elh_SubAktivitasNilaiSFBDRTW_SFBD_KL_Obs" class="SubAktivitasNilaiSFBDRTW_SFBD_KL_Obs">@Html.Raw(subAktivitasNilaiSfbdrtwDelete.SFBD_KL_Obs.Caption)</span></th>
} @* subAktivitasNilaiSfbdrtwDelete.SFBD_KL_Obs.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwDelete.SFBD_KL_15.Visible) { // subAktivitasNilaiSfbdrtwDelete.SFBD_KL_15.Visible (begin)
        <th class="@Html.Raw(subAktivitasNilaiSfbdrtwDelete.SFBD_KL_15.HeaderCellClass)"><span id="elh_SubAktivitasNilaiSFBDRTW_SFBD_KL_15" class="SubAktivitasNilaiSFBDRTW_SFBD_KL_15">@Html.Raw(subAktivitasNilaiSfbdrtwDelete.SFBD_KL_15.Caption)</span></th>
} @* subAktivitasNilaiSfbdrtwDelete.SFBD_KL_15.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwDelete.SFBD_Barrels.Visible) { // subAktivitasNilaiSfbdrtwDelete.SFBD_Barrels.Visible (begin)
        <th class="@Html.Raw(subAktivitasNilaiSfbdrtwDelete.SFBD_Barrels.HeaderCellClass)"><span id="elh_SubAktivitasNilaiSFBDRTW_SFBD_Barrels" class="SubAktivitasNilaiSFBDRTW_SFBD_Barrels">@Html.Raw(subAktivitasNilaiSfbdrtwDelete.SFBD_Barrels.Caption)</span></th>
} @* subAktivitasNilaiSfbdrtwDelete.SFBD_Barrels.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwDelete.SFBD_LT.Visible) { // subAktivitasNilaiSfbdrtwDelete.SFBD_LT.Visible (begin)
        <th class="@Html.Raw(subAktivitasNilaiSfbdrtwDelete.SFBD_LT.HeaderCellClass)"><span id="elh_SubAktivitasNilaiSFBDRTW_SFBD_LT" class="SubAktivitasNilaiSFBDRTW_SFBD_LT">@Html.Raw(subAktivitasNilaiSfbdrtwDelete.SFBD_LT.Caption)</span></th>
} @* subAktivitasNilaiSfbdrtwDelete.SFBD_LT.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwDelete.SFBD_MT.Visible) { // subAktivitasNilaiSfbdrtwDelete.SFBD_MT.Visible (begin)
        <th class="@Html.Raw(subAktivitasNilaiSfbdrtwDelete.SFBD_MT.HeaderCellClass)"><span id="elh_SubAktivitasNilaiSFBDRTW_SFBD_MT" class="SubAktivitasNilaiSFBDRTW_SFBD_MT">@Html.Raw(subAktivitasNilaiSfbdrtwDelete.SFBD_MT.Caption)</span></th>
} @* subAktivitasNilaiSfbdrtwDelete.SFBD_MT.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwDelete.userInput.Visible) { // subAktivitasNilaiSfbdrtwDelete.userInput.Visible (begin)
        <th class="@Html.Raw(subAktivitasNilaiSfbdrtwDelete.userInput.HeaderCellClass)"><span id="elh_SubAktivitasNilaiSFBDRTW_userInput" class="SubAktivitasNilaiSFBDRTW_userInput">@Html.Raw(subAktivitasNilaiSfbdrtwDelete.userInput.Caption)</span></th>
} @* subAktivitasNilaiSfbdrtwDelete.userInput.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwDelete.etlDate.Visible) { // subAktivitasNilaiSfbdrtwDelete.etlDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasNilaiSfbdrtwDelete.etlDate.HeaderCellClass)"><span id="elh_SubAktivitasNilaiSFBDRTW_etlDate" class="SubAktivitasNilaiSFBDRTW_etlDate">@Html.Raw(subAktivitasNilaiSfbdrtwDelete.etlDate.Caption)</span></th>
} @* subAktivitasNilaiSfbdrtwDelete.etlDate.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwDelete.LastUpdatedBy.Visible) { // subAktivitasNilaiSfbdrtwDelete.LastUpdatedBy.Visible (begin)
        <th class="@Html.Raw(subAktivitasNilaiSfbdrtwDelete.LastUpdatedBy.HeaderCellClass)"><span id="elh_SubAktivitasNilaiSFBDRTW_LastUpdatedBy" class="SubAktivitasNilaiSFBDRTW_LastUpdatedBy">@Html.Raw(subAktivitasNilaiSfbdrtwDelete.LastUpdatedBy.Caption)</span></th>
} @* subAktivitasNilaiSfbdrtwDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwDelete.lastUpdatedDate.Visible) { // subAktivitasNilaiSfbdrtwDelete.lastUpdatedDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasNilaiSfbdrtwDelete.lastUpdatedDate.HeaderCellClass)"><span id="elh_SubAktivitasNilaiSFBDRTW_lastUpdatedDate" class="SubAktivitasNilaiSFBDRTW_lastUpdatedDate">@Html.Raw(subAktivitasNilaiSfbdrtwDelete.lastUpdatedDate.Caption)</span></th>
} @* subAktivitasNilaiSfbdrtwDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwDelete.NoReferensi.Visible) { // subAktivitasNilaiSfbdrtwDelete.NoReferensi.Visible (begin)
        <th class="@Html.Raw(subAktivitasNilaiSfbdrtwDelete.NoReferensi.HeaderCellClass)"><span id="elh_SubAktivitasNilaiSFBDRTW_NoReferensi" class="SubAktivitasNilaiSFBDRTW_NoReferensi">@Html.Raw(subAktivitasNilaiSfbdrtwDelete.NoReferensi.Caption)</span></th>
} @* subAktivitasNilaiSfbdrtwDelete.NoReferensi.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwDelete.idProses.Visible) { // subAktivitasNilaiSfbdrtwDelete.idProses.Visible (begin)
        <th class="@Html.Raw(subAktivitasNilaiSfbdrtwDelete.idProses.HeaderCellClass)"><span id="elh_SubAktivitasNilaiSFBDRTW_idProses" class="SubAktivitasNilaiSFBDRTW_idProses">@Html.Raw(subAktivitasNilaiSfbdrtwDelete.idProses.Caption)</span></th>
} @* subAktivitasNilaiSfbdrtwDelete.idProses.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwDelete.StatusAktivitas.Visible) { // subAktivitasNilaiSfbdrtwDelete.StatusAktivitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasNilaiSfbdrtwDelete.StatusAktivitas.HeaderCellClass)"><span id="elh_SubAktivitasNilaiSFBDRTW_StatusAktivitas" class="SubAktivitasNilaiSFBDRTW_StatusAktivitas">@Html.Raw(subAktivitasNilaiSfbdrtwDelete.StatusAktivitas.Caption)</span></th>
} @* subAktivitasNilaiSfbdrtwDelete.StatusAktivitas.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ subAktivitasNilaiSfbdrtwDelete.RecordCount = 0; }
@while (subAktivitasNilaiSfbdrtwDelete.Recordset != null && await subAktivitasNilaiSfbdrtwDelete.Recordset.ReadAsync()) { // DN
    subAktivitasNilaiSfbdrtwDelete.RecordCount++;
    subAktivitasNilaiSfbdrtwDelete.RowCount++;

    // Set row properties
    subAktivitasNilaiSfbdrtwDelete.ResetAttributes();
    subAktivitasNilaiSfbdrtwDelete.RowType = RowType.View; // View

    // Get the field contents
    await subAktivitasNilaiSfbdrtwDelete.LoadRowValues(subAktivitasNilaiSfbdrtwDelete.Recordset);

    // Render row
    await subAktivitasNilaiSfbdrtwDelete.RenderRow();
    <tr @Html.Raw(subAktivitasNilaiSfbdrtwDelete.RowAttributes)>
@if (subAktivitasNilaiSfbdrtwDelete.id.Visible) { // subAktivitasNilaiSfbdrtwDelete.id.Visible (begin)
        <td @Html.Raw(subAktivitasNilaiSfbdrtwDelete.id.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasNilaiSfbdrtwDelete.id.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwDelete.id.GetViewValue())</span>
</span></td>
} @* subAktivitasNilaiSfbdrtwDelete.id.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwDelete.idAktifitas.Visible) { // subAktivitasNilaiSfbdrtwDelete.idAktifitas.Visible (begin)
        <td @Html.Raw(subAktivitasNilaiSfbdrtwDelete.idAktifitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasNilaiSfbdrtwDelete.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwDelete.idAktifitas.GetViewValue())</span>
</span></td>
} @* subAktivitasNilaiSfbdrtwDelete.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwDelete.SFBD_KL_Obs.Visible) { // subAktivitasNilaiSfbdrtwDelete.SFBD_KL_Obs.Visible (begin)
        <td @Html.Raw(subAktivitasNilaiSfbdrtwDelete.SFBD_KL_Obs.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasNilaiSfbdrtwDelete.SFBD_KL_Obs.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwDelete.SFBD_KL_Obs.GetViewValue())</span>
</span></td>
} @* subAktivitasNilaiSfbdrtwDelete.SFBD_KL_Obs.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwDelete.SFBD_KL_15.Visible) { // subAktivitasNilaiSfbdrtwDelete.SFBD_KL_15.Visible (begin)
        <td @Html.Raw(subAktivitasNilaiSfbdrtwDelete.SFBD_KL_15.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasNilaiSfbdrtwDelete.SFBD_KL_15.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwDelete.SFBD_KL_15.GetViewValue())</span>
</span></td>
} @* subAktivitasNilaiSfbdrtwDelete.SFBD_KL_15.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwDelete.SFBD_Barrels.Visible) { // subAktivitasNilaiSfbdrtwDelete.SFBD_Barrels.Visible (begin)
        <td @Html.Raw(subAktivitasNilaiSfbdrtwDelete.SFBD_Barrels.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasNilaiSfbdrtwDelete.SFBD_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwDelete.SFBD_Barrels.GetViewValue())</span>
</span></td>
} @* subAktivitasNilaiSfbdrtwDelete.SFBD_Barrels.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwDelete.SFBD_LT.Visible) { // subAktivitasNilaiSfbdrtwDelete.SFBD_LT.Visible (begin)
        <td @Html.Raw(subAktivitasNilaiSfbdrtwDelete.SFBD_LT.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasNilaiSfbdrtwDelete.SFBD_LT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwDelete.SFBD_LT.GetViewValue())</span>
</span></td>
} @* subAktivitasNilaiSfbdrtwDelete.SFBD_LT.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwDelete.SFBD_MT.Visible) { // subAktivitasNilaiSfbdrtwDelete.SFBD_MT.Visible (begin)
        <td @Html.Raw(subAktivitasNilaiSfbdrtwDelete.SFBD_MT.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasNilaiSfbdrtwDelete.SFBD_MT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwDelete.SFBD_MT.GetViewValue())</span>
</span></td>
} @* subAktivitasNilaiSfbdrtwDelete.SFBD_MT.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwDelete.userInput.Visible) { // subAktivitasNilaiSfbdrtwDelete.userInput.Visible (begin)
        <td @Html.Raw(subAktivitasNilaiSfbdrtwDelete.userInput.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasNilaiSfbdrtwDelete.userInput.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwDelete.userInput.GetViewValue())</span>
</span></td>
} @* subAktivitasNilaiSfbdrtwDelete.userInput.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwDelete.etlDate.Visible) { // subAktivitasNilaiSfbdrtwDelete.etlDate.Visible (begin)
        <td @Html.Raw(subAktivitasNilaiSfbdrtwDelete.etlDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasNilaiSfbdrtwDelete.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwDelete.etlDate.GetViewValue())</span>
</span></td>
} @* subAktivitasNilaiSfbdrtwDelete.etlDate.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwDelete.LastUpdatedBy.Visible) { // subAktivitasNilaiSfbdrtwDelete.LastUpdatedBy.Visible (begin)
        <td @Html.Raw(subAktivitasNilaiSfbdrtwDelete.LastUpdatedBy.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasNilaiSfbdrtwDelete.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwDelete.LastUpdatedBy.GetViewValue())</span>
</span></td>
} @* subAktivitasNilaiSfbdrtwDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwDelete.lastUpdatedDate.Visible) { // subAktivitasNilaiSfbdrtwDelete.lastUpdatedDate.Visible (begin)
        <td @Html.Raw(subAktivitasNilaiSfbdrtwDelete.lastUpdatedDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasNilaiSfbdrtwDelete.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwDelete.lastUpdatedDate.GetViewValue())</span>
</span></td>
} @* subAktivitasNilaiSfbdrtwDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwDelete.NoReferensi.Visible) { // subAktivitasNilaiSfbdrtwDelete.NoReferensi.Visible (begin)
        <td @Html.Raw(subAktivitasNilaiSfbdrtwDelete.NoReferensi.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasNilaiSfbdrtwDelete.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwDelete.NoReferensi.GetViewValue())</span>
</span></td>
} @* subAktivitasNilaiSfbdrtwDelete.NoReferensi.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwDelete.idProses.Visible) { // subAktivitasNilaiSfbdrtwDelete.idProses.Visible (begin)
        <td @Html.Raw(subAktivitasNilaiSfbdrtwDelete.idProses.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasNilaiSfbdrtwDelete.idProses.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwDelete.idProses.GetViewValue())</span>
</span></td>
} @* subAktivitasNilaiSfbdrtwDelete.idProses.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwDelete.StatusAktivitas.Visible) { // subAktivitasNilaiSfbdrtwDelete.StatusAktivitas.Visible (begin)
        <td @Html.Raw(subAktivitasNilaiSfbdrtwDelete.StatusAktivitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasNilaiSfbdrtwDelete.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwDelete.StatusAktivitas.GetViewValue())</span>
</span></td>
} @* subAktivitasNilaiSfbdrtwDelete.StatusAktivitas.Visible (end) *@
    </tr>
}
@{ subAktivitasNilaiSfbdrtwDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(subAktivitasNilaiSfbdrtwDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@subAktivitasNilaiSfbdrtwDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
