@{
    // View
    View = this;

    // Check action result
    if (subAktivitasRencanaPenyaluranPerProdukEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasRencanaPenyaluranPerProdukEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasRencanaPenyaluranPerProdukEdit.ShowPageHeader()
@subAktivitasRencanaPenyaluranPerProdukEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasRencanaPenyaluranPerProdukedit" id="fSubAktivitasRencanaPenyaluranPerProdukedit" class="@(subAktivitasRencanaPenyaluranPerProdukEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasRencanaPenyaluranPerProdukEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasRencanaPenyaluranPerProduk: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasRencanaPenyaluranPerProdukedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasRencanaPenyaluranPerProdukedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["Shift1", [fields.Shift1.visible && fields.Shift1.required ? ew.Validators.required(fields.Shift1.caption) : null], fields.Shift1.isInvalid],
            ["Shift2", [fields.Shift2.visible && fields.Shift2.required ? ew.Validators.required(fields.Shift2.caption) : null], fields.Shift2.isInvalid],
            ["Shift3", [fields.Shift3.visible && fields.Shift3.required ? ew.Validators.required(fields.Shift3.caption) : null], fields.Shift3.isInvalid],
            ["Shift4", [fields.Shift4.visible && fields.Shift4.required ? ew.Validators.required(fields.Shift4.caption) : null], fields.Shift4.isInvalid],
            ["Total", [fields.Total.visible && fields.Total.required ? ew.Validators.required(fields.Total.caption) : null], fields.Total.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasRencanaPenyaluranPerProdukEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasRencanaPenyaluranPerProdukEdit.OldKeyName)" value="@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasRencanaPenyaluranPerProdukEdit.id.Visible) { // subAktivitasRencanaPenyaluranPerProdukEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.id.RowAttributes)>
        <label id="elh_SubAktivitasRencanaPenyaluranPerProduk_id" class="@(subAktivitasRencanaPenyaluranPerProdukEdit.LeftColumnClass)">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.id.Caption)@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasRencanaPenyaluranPerProdukEdit.RightColumnClass)"><div @Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.id.CellAttributes)>
<span id="el_SubAktivitasRencanaPenyaluranPerProduk_id">
<span @Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasRencanaPenyaluranPerProdukEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasRencanaPenyaluranPerProduk" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasRencanaPenyaluranPerProdukEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasRencanaPenyaluranPerProdukEdit.id.Visible (end) *@
@if (subAktivitasRencanaPenyaluranPerProdukEdit.idProses.Visible) { // subAktivitasRencanaPenyaluranPerProdukEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasRencanaPenyaluranPerProduk_idProses" for="x_idProses" class="@(subAktivitasRencanaPenyaluranPerProdukEdit.LeftColumnClass)">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.idProses.Caption)@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasRencanaPenyaluranPerProdukEdit.RightColumnClass)"><div @Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasRencanaPenyaluranPerProduk_idProses">
<input type="@(subAktivitasRencanaPenyaluranPerProdukEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubAktivitasRencanaPenyaluranPerProduk" data-field="x_idProses" value="@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasRencanaPenyaluranPerProdukEdit.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasRencanaPenyaluranPerProdukEdit.idProses.FormatPattern)"@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasRencanaPenyaluranPerProdukEdit.idProses.Visible (end) *@
@if (subAktivitasRencanaPenyaluranPerProdukEdit.idAktifitas.Visible) { // subAktivitasRencanaPenyaluranPerProdukEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasRencanaPenyaluranPerProduk_idAktifitas" for="x_idAktifitas" class="@(subAktivitasRencanaPenyaluranPerProdukEdit.LeftColumnClass)">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.idAktifitas.Caption)@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasRencanaPenyaluranPerProdukEdit.RightColumnClass)"><div @Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasRencanaPenyaluranPerProduk_idAktifitas">
<input type="@(subAktivitasRencanaPenyaluranPerProdukEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubAktivitasRencanaPenyaluranPerProduk" data-field="x_idAktifitas" value="@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasRencanaPenyaluranPerProdukEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasRencanaPenyaluranPerProdukEdit.idAktifitas.FormatPattern)"@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasRencanaPenyaluranPerProdukEdit.idAktifitas.Visible (end) *@
@if (subAktivitasRencanaPenyaluranPerProdukEdit.NoReferensi.Visible) { // subAktivitasRencanaPenyaluranPerProdukEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasRencanaPenyaluranPerProduk_NoReferensi" for="x_NoReferensi" class="@(subAktivitasRencanaPenyaluranPerProdukEdit.LeftColumnClass)">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.NoReferensi.Caption)@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasRencanaPenyaluranPerProdukEdit.RightColumnClass)"><div @Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasRencanaPenyaluranPerProduk_NoReferensi">
<input type="@(subAktivitasRencanaPenyaluranPerProdukEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasRencanaPenyaluranPerProduk" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.NoReferensi.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasRencanaPenyaluranPerProdukEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasRencanaPenyaluranPerProdukEdit.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasRencanaPenyaluranPerProdukEdit.NoReferensi.Visible (end) *@
@if (subAktivitasRencanaPenyaluranPerProdukEdit.Produk.Visible) { // subAktivitasRencanaPenyaluranPerProdukEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Produk.RowAttributes)>
        <label id="elh_SubAktivitasRencanaPenyaluranPerProduk_Produk" for="x_Produk" class="@(subAktivitasRencanaPenyaluranPerProdukEdit.LeftColumnClass)">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Produk.Caption)@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasRencanaPenyaluranPerProdukEdit.RightColumnClass)"><div @Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Produk.CellAttributes)>
<span id="el_SubAktivitasRencanaPenyaluranPerProduk_Produk">
<input type="@(subAktivitasRencanaPenyaluranPerProdukEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasRencanaPenyaluranPerProduk" data-field="x_Produk" value="@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Produk.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasRencanaPenyaluranPerProdukEdit.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasRencanaPenyaluranPerProdukEdit.Produk.FormatPattern)"@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasRencanaPenyaluranPerProdukEdit.Produk.Visible (end) *@
@if (subAktivitasRencanaPenyaluranPerProdukEdit.Shift1.Visible) { // subAktivitasRencanaPenyaluranPerProdukEdit.Shift1.Visible (begin)
    <div id="r_Shift1" @Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Shift1.RowAttributes)>
        <label id="elh_SubAktivitasRencanaPenyaluranPerProduk_Shift1" for="x_Shift1" class="@(subAktivitasRencanaPenyaluranPerProdukEdit.LeftColumnClass)">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Shift1.Caption)@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Shift1.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasRencanaPenyaluranPerProdukEdit.RightColumnClass)"><div @Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Shift1.CellAttributes)>
<span id="el_SubAktivitasRencanaPenyaluranPerProduk_Shift1">
<input type="@(subAktivitasRencanaPenyaluranPerProdukEdit.Shift1.InputTextType)" name="x_Shift1" id="x_Shift1" data-table="SubAktivitasRencanaPenyaluranPerProduk" data-field="x_Shift1" value="@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Shift1.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasRencanaPenyaluranPerProdukEdit.Shift1.PlaceHolder))" data-format-pattern="@(subAktivitasRencanaPenyaluranPerProdukEdit.Shift1.FormatPattern)"@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Shift1.EditAttributes) aria-describedby="x_Shift1_help">
@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Shift1.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Shift1.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasRencanaPenyaluranPerProdukEdit.Shift1.Visible (end) *@
@if (subAktivitasRencanaPenyaluranPerProdukEdit.Shift2.Visible) { // subAktivitasRencanaPenyaluranPerProdukEdit.Shift2.Visible (begin)
    <div id="r_Shift2" @Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Shift2.RowAttributes)>
        <label id="elh_SubAktivitasRencanaPenyaluranPerProduk_Shift2" for="x_Shift2" class="@(subAktivitasRencanaPenyaluranPerProdukEdit.LeftColumnClass)">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Shift2.Caption)@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Shift2.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasRencanaPenyaluranPerProdukEdit.RightColumnClass)"><div @Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Shift2.CellAttributes)>
<span id="el_SubAktivitasRencanaPenyaluranPerProduk_Shift2">
<input type="@(subAktivitasRencanaPenyaluranPerProdukEdit.Shift2.InputTextType)" name="x_Shift2" id="x_Shift2" data-table="SubAktivitasRencanaPenyaluranPerProduk" data-field="x_Shift2" value="@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Shift2.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasRencanaPenyaluranPerProdukEdit.Shift2.PlaceHolder))" data-format-pattern="@(subAktivitasRencanaPenyaluranPerProdukEdit.Shift2.FormatPattern)"@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Shift2.EditAttributes) aria-describedby="x_Shift2_help">
@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Shift2.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Shift2.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasRencanaPenyaluranPerProdukEdit.Shift2.Visible (end) *@
@if (subAktivitasRencanaPenyaluranPerProdukEdit.Shift3.Visible) { // subAktivitasRencanaPenyaluranPerProdukEdit.Shift3.Visible (begin)
    <div id="r_Shift3" @Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Shift3.RowAttributes)>
        <label id="elh_SubAktivitasRencanaPenyaluranPerProduk_Shift3" for="x_Shift3" class="@(subAktivitasRencanaPenyaluranPerProdukEdit.LeftColumnClass)">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Shift3.Caption)@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Shift3.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasRencanaPenyaluranPerProdukEdit.RightColumnClass)"><div @Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Shift3.CellAttributes)>
<span id="el_SubAktivitasRencanaPenyaluranPerProduk_Shift3">
<input type="@(subAktivitasRencanaPenyaluranPerProdukEdit.Shift3.InputTextType)" name="x_Shift3" id="x_Shift3" data-table="SubAktivitasRencanaPenyaluranPerProduk" data-field="x_Shift3" value="@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Shift3.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasRencanaPenyaluranPerProdukEdit.Shift3.PlaceHolder))" data-format-pattern="@(subAktivitasRencanaPenyaluranPerProdukEdit.Shift3.FormatPattern)"@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Shift3.EditAttributes) aria-describedby="x_Shift3_help">
@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Shift3.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Shift3.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasRencanaPenyaluranPerProdukEdit.Shift3.Visible (end) *@
@if (subAktivitasRencanaPenyaluranPerProdukEdit.Shift4.Visible) { // subAktivitasRencanaPenyaluranPerProdukEdit.Shift4.Visible (begin)
    <div id="r_Shift4" @Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Shift4.RowAttributes)>
        <label id="elh_SubAktivitasRencanaPenyaluranPerProduk_Shift4" for="x_Shift4" class="@(subAktivitasRencanaPenyaluranPerProdukEdit.LeftColumnClass)">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Shift4.Caption)@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Shift4.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasRencanaPenyaluranPerProdukEdit.RightColumnClass)"><div @Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Shift4.CellAttributes)>
<span id="el_SubAktivitasRencanaPenyaluranPerProduk_Shift4">
<input type="@(subAktivitasRencanaPenyaluranPerProdukEdit.Shift4.InputTextType)" name="x_Shift4" id="x_Shift4" data-table="SubAktivitasRencanaPenyaluranPerProduk" data-field="x_Shift4" value="@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Shift4.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasRencanaPenyaluranPerProdukEdit.Shift4.PlaceHolder))" data-format-pattern="@(subAktivitasRencanaPenyaluranPerProdukEdit.Shift4.FormatPattern)"@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Shift4.EditAttributes) aria-describedby="x_Shift4_help">
@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Shift4.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Shift4.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasRencanaPenyaluranPerProdukEdit.Shift4.Visible (end) *@
@if (subAktivitasRencanaPenyaluranPerProdukEdit.Total.Visible) { // subAktivitasRencanaPenyaluranPerProdukEdit.Total.Visible (begin)
    <div id="r_Total" @Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Total.RowAttributes)>
        <label id="elh_SubAktivitasRencanaPenyaluranPerProduk_Total" for="x_Total" class="@(subAktivitasRencanaPenyaluranPerProdukEdit.LeftColumnClass)">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Total.Caption)@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Total.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasRencanaPenyaluranPerProdukEdit.RightColumnClass)"><div @Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Total.CellAttributes)>
<span id="el_SubAktivitasRencanaPenyaluranPerProduk_Total">
<input type="@(subAktivitasRencanaPenyaluranPerProdukEdit.Total.InputTextType)" name="x_Total" id="x_Total" data-table="SubAktivitasRencanaPenyaluranPerProduk" data-field="x_Total" value="@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Total.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasRencanaPenyaluranPerProdukEdit.Total.PlaceHolder))" data-format-pattern="@(subAktivitasRencanaPenyaluranPerProdukEdit.Total.FormatPattern)"@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Total.EditAttributes) aria-describedby="x_Total_help">
@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Total.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.Total.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasRencanaPenyaluranPerProdukEdit.Total.Visible (end) *@
@if (subAktivitasRencanaPenyaluranPerProdukEdit.userInput.Visible) { // subAktivitasRencanaPenyaluranPerProdukEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.userInput.RowAttributes)>
        <label id="elh_SubAktivitasRencanaPenyaluranPerProduk_userInput" for="x_userInput" class="@(subAktivitasRencanaPenyaluranPerProdukEdit.LeftColumnClass)">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.userInput.Caption)@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasRencanaPenyaluranPerProdukEdit.RightColumnClass)"><div @Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.userInput.CellAttributes)>
<span id="el_SubAktivitasRencanaPenyaluranPerProduk_userInput">
<input type="@(subAktivitasRencanaPenyaluranPerProdukEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasRencanaPenyaluranPerProduk" data-field="x_userInput" value="@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasRencanaPenyaluranPerProdukEdit.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasRencanaPenyaluranPerProdukEdit.userInput.FormatPattern)"@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasRencanaPenyaluranPerProdukEdit.userInput.Visible (end) *@
@if (subAktivitasRencanaPenyaluranPerProdukEdit.etlDate.Visible) { // subAktivitasRencanaPenyaluranPerProdukEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasRencanaPenyaluranPerProduk_etlDate" for="x_etlDate" class="@(subAktivitasRencanaPenyaluranPerProdukEdit.LeftColumnClass)">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.etlDate.Caption)@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasRencanaPenyaluranPerProdukEdit.RightColumnClass)"><div @Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.etlDate.CellAttributes)>
<span id="el_SubAktivitasRencanaPenyaluranPerProduk_etlDate">
<input type="@(subAktivitasRencanaPenyaluranPerProdukEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasRencanaPenyaluranPerProduk" data-field="x_etlDate" value="@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasRencanaPenyaluranPerProdukEdit.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasRencanaPenyaluranPerProdukEdit.etlDate.FormatPattern)"@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.etlDate.GetErrorMessage())</div>
@if (!subAktivitasRencanaPenyaluranPerProdukEdit.etlDate.ReadOnly && !subAktivitasRencanaPenyaluranPerProdukEdit.etlDate.Disabled && !subAktivitasRencanaPenyaluranPerProdukEdit.etlDate.EditAttrs.Is("readonly") && !subAktivitasRencanaPenyaluranPerProdukEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasRencanaPenyaluranPerProdukedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasRencanaPenyaluranPerProdukedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasRencanaPenyaluranPerProdukEdit.etlDate.Visible (end) *@
@if (subAktivitasRencanaPenyaluranPerProdukEdit.LastUpdatedBy.Visible) { // subAktivitasRencanaPenyaluranPerProdukEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasRencanaPenyaluranPerProduk_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasRencanaPenyaluranPerProdukEdit.LeftColumnClass)">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasRencanaPenyaluranPerProdukEdit.RightColumnClass)"><div @Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasRencanaPenyaluranPerProduk_LastUpdatedBy">
<input type="@(subAktivitasRencanaPenyaluranPerProdukEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasRencanaPenyaluranPerProduk" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasRencanaPenyaluranPerProdukEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasRencanaPenyaluranPerProdukEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasRencanaPenyaluranPerProdukEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasRencanaPenyaluranPerProdukEdit.lastUpdatedDate.Visible) { // subAktivitasRencanaPenyaluranPerProdukEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasRencanaPenyaluranPerProduk_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasRencanaPenyaluranPerProdukEdit.LeftColumnClass)">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasRencanaPenyaluranPerProdukEdit.RightColumnClass)"><div @Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasRencanaPenyaluranPerProduk_lastUpdatedDate">
<input type="@(subAktivitasRencanaPenyaluranPerProdukEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasRencanaPenyaluranPerProduk" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasRencanaPenyaluranPerProdukEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasRencanaPenyaluranPerProdukEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasRencanaPenyaluranPerProdukEdit.lastUpdatedDate.ReadOnly && !subAktivitasRencanaPenyaluranPerProdukEdit.lastUpdatedDate.Disabled && !subAktivitasRencanaPenyaluranPerProdukEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasRencanaPenyaluranPerProdukEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasRencanaPenyaluranPerProdukedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasRencanaPenyaluranPerProdukedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasRencanaPenyaluranPerProdukEdit.lastUpdatedDate.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasRencanaPenyaluranPerProdukEdit.CloseRecordset(); }
@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasRencanaPenyaluranPerProdukEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasRencanaPenyaluranPerProdukedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasRencanaPenyaluranPerProdukedit" data-href="@AppPath(subAktivitasRencanaPenyaluranPerProdukEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasRencanaPenyaluranPerProdukEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasRencanaPenyaluranPerProdukEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasRencanaPenyaluranPerProduk");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
