@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiBDperGerbongList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiBDperGerbongList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasNilaiBDperGerbongList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiBDperGerbongList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiBDperGerbong: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasNilaiBDperGerbongList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasNilaiBDperGerbongList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasNilaiBDperGerbongList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasNilaiBDperGerbongList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasNilaiBDperGerbongList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasNilaiBDperGerbongList.TotalRecords > 0 && subAktivitasNilaiBDperGerbongList.ExportOptions.Visible) {
    subAktivitasNilaiBDperGerbongList.ExportOptions.Render("body");
}
@if (subAktivitasNilaiBDperGerbongList.ImportOptions.Visible) {
    subAktivitasNilaiBDperGerbongList.ImportOptions.Render("body");
}
@if (subAktivitasNilaiBDperGerbongList.SearchOptions.Visible) {
    subAktivitasNilaiBDperGerbongList.SearchOptions.Render("body");
}
@if (subAktivitasNilaiBDperGerbongList.FilterOptions.Visible) {
    subAktivitasNilaiBDperGerbongList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasNilaiBDperGerbongList.IsModal) {
<form name="fSubAktivitasNilaiBDperGerbongsrch" id="fSubAktivitasNilaiBDperGerbongsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasNilaiBDperGerbongsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasNilaiBDperGerbongList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiBDperGerbongList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiBDperGerbong: currentTable } });
var currentForm;
var fSubAktivitasNilaiBDperGerbongsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiBDperGerbongsrch")
        .setPageId("list")
@if (subAktivitasNilaiBDperGerbongList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasNilaiBDperGerbongList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasNilaiBDperGerbongList.IsExport() && Empty(subAktivitasNilaiBDperGerbongList.CurrentAction) && subAktivitasNilaiBDperGerbongList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasNilaiBDperGerbongList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasNilaiBDperGerbongList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasNilaiBDperGerbongList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasNilaiBDperGerbongList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasNilaiBDperGerbongsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiBDperGerbongList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasNilaiBDperGerbongsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiBDperGerbongList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasNilaiBDperGerbongsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiBDperGerbongList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasNilaiBDperGerbongsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasNilaiBDperGerbongList.ShowPageHeader()
@subAktivitasNilaiBDperGerbongList.ShowMessages()
<main class="list @(subAktivitasNilaiBDperGerbongList.TotalRecords == 0 && !subAktivitasNilaiBDperGerbongList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasNilaiBDperGerbongList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasNilaiBDperGerbongList.TotalRecords > 0 || !Empty(subAktivitasNilaiBDperGerbongList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasNilaiBDperGerbongList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasNilaiBDperGerbongList.TableGridClass)">
<form name="@(subAktivitasNilaiBDperGerbongList.FormName)" id="@(subAktivitasNilaiBDperGerbongList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasNilaiBDperGerbongList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasNilaiBDperGerbongList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasNilaiBDperGerbong" class="card-body ew-grid-middle-panel @(subAktivitasNilaiBDperGerbongList.TableContainerClass)" style="@(subAktivitasNilaiBDperGerbongList.TableContainerStyle)">
@if (subAktivitasNilaiBDperGerbongList.TotalRecords > 0 || subAktivitasNilaiBDperGerbongList.IsGridEdit || subAktivitasNilaiBDperGerbongList.IsMultiEdit) {
<table id="tbl_SubAktivitasNilaiBDperGerbonglist" class="@(subAktivitasNilaiBDperGerbongList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasNilaiBDperGerbongList.RowType = RowType.Header;

    // Render list options
    await subAktivitasNilaiBDperGerbongList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasNilaiBDperGerbongList.ListOptions.RenderHeader("left")
@if (subAktivitasNilaiBDperGerbongList.id.Visible) { // subAktivitasNilaiBDperGerbongList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasNilaiBDperGerbongList.id.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBDperGerbong_id" class="SubAktivitasNilaiBDperGerbong_id">@Html.Raw(subAktivitasNilaiBDperGerbongList.RenderFieldHeader(subAktivitasNilaiBDperGerbongList.id))</div></th>
} @* subAktivitasNilaiBDperGerbongList.id.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongList.idAktifitas.Visible) { // subAktivitasNilaiBDperGerbongList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasNilaiBDperGerbongList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBDperGerbong_idAktifitas" class="SubAktivitasNilaiBDperGerbong_idAktifitas">@Html.Raw(subAktivitasNilaiBDperGerbongList.RenderFieldHeader(subAktivitasNilaiBDperGerbongList.idAktifitas))</div></th>
} @* subAktivitasNilaiBDperGerbongList.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongList.NomorGerbongKertel.Visible) { // subAktivitasNilaiBDperGerbongList.NomorGerbongKertel.Visible (begin)
        <th data-name="NomorGerbongKertel" class="@(subAktivitasNilaiBDperGerbongList.NomorGerbongKertel.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBDperGerbong_NomorGerbongKertel" class="SubAktivitasNilaiBDperGerbong_NomorGerbongKertel">@Html.Raw(subAktivitasNilaiBDperGerbongList.RenderFieldHeader(subAktivitasNilaiBDperGerbongList.NomorGerbongKertel))</div></th>
} @* subAktivitasNilaiBDperGerbongList.NomorGerbongKertel.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongList.KL_Obs.Visible) { // subAktivitasNilaiBDperGerbongList.KL_Obs.Visible (begin)
        <th data-name="KL_Obs" class="@(subAktivitasNilaiBDperGerbongList.KL_Obs.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBDperGerbong_KL_Obs" class="SubAktivitasNilaiBDperGerbong_KL_Obs">@Html.Raw(subAktivitasNilaiBDperGerbongList.RenderFieldHeader(subAktivitasNilaiBDperGerbongList.KL_Obs))</div></th>
} @* subAktivitasNilaiBDperGerbongList.KL_Obs.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongList.KL_15.Visible) { // subAktivitasNilaiBDperGerbongList.KL_15.Visible (begin)
        <th data-name="KL_15" class="@(subAktivitasNilaiBDperGerbongList.KL_15.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBDperGerbong_KL_15" class="SubAktivitasNilaiBDperGerbong_KL_15">@Html.Raw(subAktivitasNilaiBDperGerbongList.RenderFieldHeader(subAktivitasNilaiBDperGerbongList.KL_15))</div></th>
} @* subAktivitasNilaiBDperGerbongList.KL_15.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongList.Barrels.Visible) { // subAktivitasNilaiBDperGerbongList.Barrels.Visible (begin)
        <th data-name="Barrels" class="@(subAktivitasNilaiBDperGerbongList.Barrels.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBDperGerbong_Barrels" class="SubAktivitasNilaiBDperGerbong_Barrels">@Html.Raw(subAktivitasNilaiBDperGerbongList.RenderFieldHeader(subAktivitasNilaiBDperGerbongList.Barrels))</div></th>
} @* subAktivitasNilaiBDperGerbongList.Barrels.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongList.LT.Visible) { // subAktivitasNilaiBDperGerbongList.LT.Visible (begin)
        <th data-name="LT" class="@(subAktivitasNilaiBDperGerbongList.LT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBDperGerbong_LT" class="SubAktivitasNilaiBDperGerbong_LT">@Html.Raw(subAktivitasNilaiBDperGerbongList.RenderFieldHeader(subAktivitasNilaiBDperGerbongList.LT))</div></th>
} @* subAktivitasNilaiBDperGerbongList.LT.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongList.MT.Visible) { // subAktivitasNilaiBDperGerbongList.MT.Visible (begin)
        <th data-name="MT" class="@(subAktivitasNilaiBDperGerbongList.MT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBDperGerbong_MT" class="SubAktivitasNilaiBDperGerbong_MT">@Html.Raw(subAktivitasNilaiBDperGerbongList.RenderFieldHeader(subAktivitasNilaiBDperGerbongList.MT))</div></th>
} @* subAktivitasNilaiBDperGerbongList.MT.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongList.etlDate.Visible) { // subAktivitasNilaiBDperGerbongList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasNilaiBDperGerbongList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBDperGerbong_etlDate" class="SubAktivitasNilaiBDperGerbong_etlDate">@Html.Raw(subAktivitasNilaiBDperGerbongList.RenderFieldHeader(subAktivitasNilaiBDperGerbongList.etlDate))</div></th>
} @* subAktivitasNilaiBDperGerbongList.etlDate.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongList.LastUpdatedBy.Visible) { // subAktivitasNilaiBDperGerbongList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasNilaiBDperGerbongList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBDperGerbong_LastUpdatedBy" class="SubAktivitasNilaiBDperGerbong_LastUpdatedBy">@Html.Raw(subAktivitasNilaiBDperGerbongList.RenderFieldHeader(subAktivitasNilaiBDperGerbongList.LastUpdatedBy))</div></th>
} @* subAktivitasNilaiBDperGerbongList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongList.lastUpdatedDate.Visible) { // subAktivitasNilaiBDperGerbongList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasNilaiBDperGerbongList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBDperGerbong_lastUpdatedDate" class="SubAktivitasNilaiBDperGerbong_lastUpdatedDate">@Html.Raw(subAktivitasNilaiBDperGerbongList.RenderFieldHeader(subAktivitasNilaiBDperGerbongList.lastUpdatedDate))</div></th>
} @* subAktivitasNilaiBDperGerbongList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongList.NoReferensi.Visible) { // subAktivitasNilaiBDperGerbongList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasNilaiBDperGerbongList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBDperGerbong_NoReferensi" class="SubAktivitasNilaiBDperGerbong_NoReferensi">@Html.Raw(subAktivitasNilaiBDperGerbongList.RenderFieldHeader(subAktivitasNilaiBDperGerbongList.NoReferensi))</div></th>
} @* subAktivitasNilaiBDperGerbongList.NoReferensi.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongList.idProses.Visible) { // subAktivitasNilaiBDperGerbongList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasNilaiBDperGerbongList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBDperGerbong_idProses" class="SubAktivitasNilaiBDperGerbong_idProses">@Html.Raw(subAktivitasNilaiBDperGerbongList.RenderFieldHeader(subAktivitasNilaiBDperGerbongList.idProses))</div></th>
} @* subAktivitasNilaiBDperGerbongList.idProses.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongList.StatusAktivitas.Visible) { // subAktivitasNilaiBDperGerbongList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasNilaiBDperGerbongList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBDperGerbong_StatusAktivitas" class="SubAktivitasNilaiBDperGerbong_StatusAktivitas">@Html.Raw(subAktivitasNilaiBDperGerbongList.RenderFieldHeader(subAktivitasNilaiBDperGerbongList.StatusAktivitas))</div></th>
} @* subAktivitasNilaiBDperGerbongList.StatusAktivitas.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongList.userInput.Visible) { // subAktivitasNilaiBDperGerbongList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasNilaiBDperGerbongList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBDperGerbong_userInput" class="SubAktivitasNilaiBDperGerbong_userInput">@Html.Raw(subAktivitasNilaiBDperGerbongList.RenderFieldHeader(subAktivitasNilaiBDperGerbongList.userInput))</div></th>
} @* subAktivitasNilaiBDperGerbongList.userInput.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongList.Produk.Visible) { // subAktivitasNilaiBDperGerbongList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasNilaiBDperGerbongList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBDperGerbong_Produk" class="SubAktivitasNilaiBDperGerbong_Produk">@Html.Raw(subAktivitasNilaiBDperGerbongList.RenderFieldHeader(subAktivitasNilaiBDperGerbongList.Produk))</div></th>
} @* subAktivitasNilaiBDperGerbongList.Produk.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasNilaiBDperGerbongList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasNilaiBDperGerbongList.PageNumber)">
@{
    await subAktivitasNilaiBDperGerbongList.SetupGrid();
    bool eof = subAktivitasNilaiBDperGerbongList.Recordset == null; // DN
}
@while (subAktivitasNilaiBDperGerbongList.RecordCount < subAktivitasNilaiBDperGerbongList.StopRecord || SameString(subAktivitasNilaiBDperGerbongList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasNilaiBDperGerbongList.RowIndex, "$rowindex$") &&
        (!subAktivitasNilaiBDperGerbongList.IsGridAdd || subAktivitasNilaiBDperGerbongList.CurrentMode == "copy") &&
        (!((subAktivitasNilaiBDperGerbongList.IsCopy || subAktivitasNilaiBDperGerbongList.IsAdd) && subAktivitasNilaiBDperGerbongList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasNilaiBDperGerbongList.Recordset.ReadAsync();
    subAktivitasNilaiBDperGerbongList.RecordCount++;
    if (subAktivitasNilaiBDperGerbongList.RecordCount >= subAktivitasNilaiBDperGerbongList.StartRecord) {
        await subAktivitasNilaiBDperGerbongList.SetupRow();
    <tr @Html.Raw(subAktivitasNilaiBDperGerbongList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasNilaiBDperGerbongList.ListOptions.RenderBody("left", subAktivitasNilaiBDperGerbongList.RowCount)
    @if (subAktivitasNilaiBDperGerbongList.id.Visible) { // subAktivitasNilaiBDperGerbongList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasNilaiBDperGerbongList.id.CellAttributes)>
<span id="el@(subAktivitasNilaiBDperGerbongList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBDperGerbongList.RowCount)_SubAktivitasNilaiBDperGerbong_id" class="el_SubAktivitasNilaiBDperGerbong_id">
<span @Html.Raw(subAktivitasNilaiBDperGerbongList.id.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBDperGerbongList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBDperGerbongList.id.Visible (end) *@
    @if (subAktivitasNilaiBDperGerbongList.idAktifitas.Visible) { // subAktivitasNilaiBDperGerbongList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasNilaiBDperGerbongList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasNilaiBDperGerbongList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBDperGerbongList.RowCount)_SubAktivitasNilaiBDperGerbong_idAktifitas" class="el_SubAktivitasNilaiBDperGerbong_idAktifitas">
<span @Html.Raw(subAktivitasNilaiBDperGerbongList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBDperGerbongList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBDperGerbongList.idAktifitas.Visible (end) *@
    @if (subAktivitasNilaiBDperGerbongList.NomorGerbongKertel.Visible) { // subAktivitasNilaiBDperGerbongList.NomorGerbongKertel.Visible (begin)
        <td data-name="NomorGerbongKertel" @Html.Raw(subAktivitasNilaiBDperGerbongList.NomorGerbongKertel.CellAttributes)>
<span id="el@(subAktivitasNilaiBDperGerbongList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBDperGerbongList.RowCount)_SubAktivitasNilaiBDperGerbong_NomorGerbongKertel" class="el_SubAktivitasNilaiBDperGerbong_NomorGerbongKertel">
<span @Html.Raw(subAktivitasNilaiBDperGerbongList.NomorGerbongKertel.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBDperGerbongList.NomorGerbongKertel.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBDperGerbongList.NomorGerbongKertel.Visible (end) *@
    @if (subAktivitasNilaiBDperGerbongList.KL_Obs.Visible) { // subAktivitasNilaiBDperGerbongList.KL_Obs.Visible (begin)
        <td data-name="KL_Obs" @Html.Raw(subAktivitasNilaiBDperGerbongList.KL_Obs.CellAttributes)>
<span id="el@(subAktivitasNilaiBDperGerbongList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBDperGerbongList.RowCount)_SubAktivitasNilaiBDperGerbong_KL_Obs" class="el_SubAktivitasNilaiBDperGerbong_KL_Obs">
<span @Html.Raw(subAktivitasNilaiBDperGerbongList.KL_Obs.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBDperGerbongList.KL_Obs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBDperGerbongList.KL_Obs.Visible (end) *@
    @if (subAktivitasNilaiBDperGerbongList.KL_15.Visible) { // subAktivitasNilaiBDperGerbongList.KL_15.Visible (begin)
        <td data-name="KL_15" @Html.Raw(subAktivitasNilaiBDperGerbongList.KL_15.CellAttributes)>
<span id="el@(subAktivitasNilaiBDperGerbongList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBDperGerbongList.RowCount)_SubAktivitasNilaiBDperGerbong_KL_15" class="el_SubAktivitasNilaiBDperGerbong_KL_15">
<span @Html.Raw(subAktivitasNilaiBDperGerbongList.KL_15.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBDperGerbongList.KL_15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBDperGerbongList.KL_15.Visible (end) *@
    @if (subAktivitasNilaiBDperGerbongList.Barrels.Visible) { // subAktivitasNilaiBDperGerbongList.Barrels.Visible (begin)
        <td data-name="Barrels" @Html.Raw(subAktivitasNilaiBDperGerbongList.Barrels.CellAttributes)>
<span id="el@(subAktivitasNilaiBDperGerbongList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBDperGerbongList.RowCount)_SubAktivitasNilaiBDperGerbong_Barrels" class="el_SubAktivitasNilaiBDperGerbong_Barrels">
<span @Html.Raw(subAktivitasNilaiBDperGerbongList.Barrels.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBDperGerbongList.Barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBDperGerbongList.Barrels.Visible (end) *@
    @if (subAktivitasNilaiBDperGerbongList.LT.Visible) { // subAktivitasNilaiBDperGerbongList.LT.Visible (begin)
        <td data-name="LT" @Html.Raw(subAktivitasNilaiBDperGerbongList.LT.CellAttributes)>
<span id="el@(subAktivitasNilaiBDperGerbongList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBDperGerbongList.RowCount)_SubAktivitasNilaiBDperGerbong_LT" class="el_SubAktivitasNilaiBDperGerbong_LT">
<span @Html.Raw(subAktivitasNilaiBDperGerbongList.LT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBDperGerbongList.LT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBDperGerbongList.LT.Visible (end) *@
    @if (subAktivitasNilaiBDperGerbongList.MT.Visible) { // subAktivitasNilaiBDperGerbongList.MT.Visible (begin)
        <td data-name="MT" @Html.Raw(subAktivitasNilaiBDperGerbongList.MT.CellAttributes)>
<span id="el@(subAktivitasNilaiBDperGerbongList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBDperGerbongList.RowCount)_SubAktivitasNilaiBDperGerbong_MT" class="el_SubAktivitasNilaiBDperGerbong_MT">
<span @Html.Raw(subAktivitasNilaiBDperGerbongList.MT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBDperGerbongList.MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBDperGerbongList.MT.Visible (end) *@
    @if (subAktivitasNilaiBDperGerbongList.etlDate.Visible) { // subAktivitasNilaiBDperGerbongList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasNilaiBDperGerbongList.etlDate.CellAttributes)>
<span id="el@(subAktivitasNilaiBDperGerbongList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBDperGerbongList.RowCount)_SubAktivitasNilaiBDperGerbong_etlDate" class="el_SubAktivitasNilaiBDperGerbong_etlDate">
<span @Html.Raw(subAktivitasNilaiBDperGerbongList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBDperGerbongList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBDperGerbongList.etlDate.Visible (end) *@
    @if (subAktivitasNilaiBDperGerbongList.LastUpdatedBy.Visible) { // subAktivitasNilaiBDperGerbongList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasNilaiBDperGerbongList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasNilaiBDperGerbongList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBDperGerbongList.RowCount)_SubAktivitasNilaiBDperGerbong_LastUpdatedBy" class="el_SubAktivitasNilaiBDperGerbong_LastUpdatedBy">
<span @Html.Raw(subAktivitasNilaiBDperGerbongList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBDperGerbongList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBDperGerbongList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasNilaiBDperGerbongList.lastUpdatedDate.Visible) { // subAktivitasNilaiBDperGerbongList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasNilaiBDperGerbongList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasNilaiBDperGerbongList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBDperGerbongList.RowCount)_SubAktivitasNilaiBDperGerbong_lastUpdatedDate" class="el_SubAktivitasNilaiBDperGerbong_lastUpdatedDate">
<span @Html.Raw(subAktivitasNilaiBDperGerbongList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBDperGerbongList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBDperGerbongList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasNilaiBDperGerbongList.NoReferensi.Visible) { // subAktivitasNilaiBDperGerbongList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasNilaiBDperGerbongList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasNilaiBDperGerbongList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBDperGerbongList.RowCount)_SubAktivitasNilaiBDperGerbong_NoReferensi" class="el_SubAktivitasNilaiBDperGerbong_NoReferensi">
<span @Html.Raw(subAktivitasNilaiBDperGerbongList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBDperGerbongList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBDperGerbongList.NoReferensi.Visible (end) *@
    @if (subAktivitasNilaiBDperGerbongList.idProses.Visible) { // subAktivitasNilaiBDperGerbongList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasNilaiBDperGerbongList.idProses.CellAttributes)>
<span id="el@(subAktivitasNilaiBDperGerbongList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBDperGerbongList.RowCount)_SubAktivitasNilaiBDperGerbong_idProses" class="el_SubAktivitasNilaiBDperGerbong_idProses">
<span @Html.Raw(subAktivitasNilaiBDperGerbongList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBDperGerbongList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBDperGerbongList.idProses.Visible (end) *@
    @if (subAktivitasNilaiBDperGerbongList.StatusAktivitas.Visible) { // subAktivitasNilaiBDperGerbongList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasNilaiBDperGerbongList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasNilaiBDperGerbongList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBDperGerbongList.RowCount)_SubAktivitasNilaiBDperGerbong_StatusAktivitas" class="el_SubAktivitasNilaiBDperGerbong_StatusAktivitas">
<span @Html.Raw(subAktivitasNilaiBDperGerbongList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBDperGerbongList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBDperGerbongList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasNilaiBDperGerbongList.userInput.Visible) { // subAktivitasNilaiBDperGerbongList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasNilaiBDperGerbongList.userInput.CellAttributes)>
<span id="el@(subAktivitasNilaiBDperGerbongList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBDperGerbongList.RowCount)_SubAktivitasNilaiBDperGerbong_userInput" class="el_SubAktivitasNilaiBDperGerbong_userInput">
<span @Html.Raw(subAktivitasNilaiBDperGerbongList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBDperGerbongList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBDperGerbongList.userInput.Visible (end) *@
    @if (subAktivitasNilaiBDperGerbongList.Produk.Visible) { // subAktivitasNilaiBDperGerbongList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasNilaiBDperGerbongList.Produk.CellAttributes)>
<span id="el@(subAktivitasNilaiBDperGerbongList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiBDperGerbongList.RowCount)_SubAktivitasNilaiBDperGerbong_Produk" class="el_SubAktivitasNilaiBDperGerbong_Produk">
<span @Html.Raw(subAktivitasNilaiBDperGerbongList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBDperGerbongList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBDperGerbongList.Produk.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasNilaiBDperGerbongList.ListOptions.RenderBody("right", subAktivitasNilaiBDperGerbongList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasNilaiBDperGerbongList.RowIndex, "$rowindex$"))
        subAktivitasNilaiBDperGerbongList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasNilaiBDperGerbongList.IsCopy || subAktivitasNilaiBDperGerbongList.IsAdd) && subAktivitasNilaiBDperGerbongList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasNilaiBDperGerbongList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasNilaiBDperGerbongList.CurrentAction) && !subAktivitasNilaiBDperGerbongList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasNilaiBDperGerbongList.CloseRecordset(); }
@if (!subAktivitasNilaiBDperGerbongList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasNilaiBDperGerbongList.IsGridAdd && !(subAktivitasNilaiBDperGerbongList.IsGridEdit && subAktivitasNilaiBDperGerbongList.ModalGridEdit) && !subAktivitasNilaiBDperGerbongList.IsMultiEdit) {
@Html.Raw(subAktivitasNilaiBDperGerbongList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasNilaiBDperGerbongList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasNilaiBDperGerbongList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasNilaiBDperGerbongList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasNilaiBDperGerbongList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasNilaiBDperGerbongList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasNilaiBDperGerbong");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
