@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputLogbMonitoringStockRtwDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputLogbMonitoringStockRtwDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputLogbMonitoringStockRtwDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputLogbMonitoringStockRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fSubAktivitasFormInputLogbMonitoringStockRTWdelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputLogbMonitoringStockRTWdelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasFormInputLogbMonitoringStockRtwDelete.ShowPageHeader()
@subAktivitasFormInputLogbMonitoringStockRtwDelete.ShowMessages()
<form name="fSubAktivitasFormInputLogbMonitoringStockRTWdelete" id="fSubAktivitasFormInputLogbMonitoringStockRTWdelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in subAktivitasFormInputLogbMonitoringStockRtwDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(subAktivitasFormInputLogbMonitoringStockRtwDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(subAktivitasFormInputLogbMonitoringStockRtwDelete.TableContainerClass)" style="@(subAktivitasFormInputLogbMonitoringStockRtwDelete.TableContainerStyle)">
<table class="@(subAktivitasFormInputLogbMonitoringStockRtwDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (subAktivitasFormInputLogbMonitoringStockRtwDelete.id.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwDelete.id.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.id.HeaderCellClass)"><span id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_id" class="SubAktivitasFormInputLogbMonitoringStockRTW_id">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.id.Caption)</span></th>
} @* subAktivitasFormInputLogbMonitoringStockRtwDelete.id.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwDelete.idAktifitas.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwDelete.idAktifitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.idAktifitas.HeaderCellClass)"><span id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_idAktifitas" class="SubAktivitasFormInputLogbMonitoringStockRTW_idAktifitas">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.idAktifitas.Caption)</span></th>
} @* subAktivitasFormInputLogbMonitoringStockRtwDelete.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwDelete.NoTangki.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwDelete.NoTangki.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.NoTangki.HeaderCellClass)"><span id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_NoTangki" class="SubAktivitasFormInputLogbMonitoringStockRTW_NoTangki">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.NoTangki.Caption)</span></th>
} @* subAktivitasFormInputLogbMonitoringStockRtwDelete.NoTangki.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwDelete.Produk.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwDelete.Produk.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.Produk.HeaderCellClass)"><span id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_Produk" class="SubAktivitasFormInputLogbMonitoringStockRTW_Produk">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.Produk.Caption)</span></th>
} @* subAktivitasFormInputLogbMonitoringStockRtwDelete.Produk.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwDelete.Aktivitas2.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwDelete.Aktivitas2.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.Aktivitas2.HeaderCellClass)"><span id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_Aktivitas2" class="SubAktivitasFormInputLogbMonitoringStockRTW_Aktivitas2">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.Aktivitas2.Caption)</span></th>
} @* subAktivitasFormInputLogbMonitoringStockRtwDelete.Aktivitas2.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwDelete.LevelTangki.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwDelete.LevelTangki.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.LevelTangki.HeaderCellClass)"><span id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_LevelTangki" class="SubAktivitasFormInputLogbMonitoringStockRTW_LevelTangki">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.LevelTangki.Caption)</span></th>
} @* subAktivitasFormInputLogbMonitoringStockRtwDelete.LevelTangki.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwDelete.Volume.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwDelete.Volume.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.Volume.HeaderCellClass)"><span id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_Volume" class="SubAktivitasFormInputLogbMonitoringStockRTW_Volume">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.Volume.Caption)</span></th>
} @* subAktivitasFormInputLogbMonitoringStockRtwDelete.Volume.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwDelete.Flowrate.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwDelete.Flowrate.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.Flowrate.HeaderCellClass)"><span id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_Flowrate" class="SubAktivitasFormInputLogbMonitoringStockRTW_Flowrate">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.Flowrate.Caption)</span></th>
} @* subAktivitasFormInputLogbMonitoringStockRtwDelete.Flowrate.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwDelete.userInput.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwDelete.userInput.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.userInput.HeaderCellClass)"><span id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_userInput" class="SubAktivitasFormInputLogbMonitoringStockRTW_userInput">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.userInput.Caption)</span></th>
} @* subAktivitasFormInputLogbMonitoringStockRtwDelete.userInput.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwDelete.etlDate.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwDelete.etlDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.etlDate.HeaderCellClass)"><span id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_etlDate" class="SubAktivitasFormInputLogbMonitoringStockRTW_etlDate">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.etlDate.Caption)</span></th>
} @* subAktivitasFormInputLogbMonitoringStockRtwDelete.etlDate.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwDelete.idProses.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwDelete.idProses.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.idProses.HeaderCellClass)"><span id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_idProses" class="SubAktivitasFormInputLogbMonitoringStockRTW_idProses">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.idProses.Caption)</span></th>
} @* subAktivitasFormInputLogbMonitoringStockRtwDelete.idProses.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwDelete.LastUpdatedBy.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwDelete.LastUpdatedBy.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.LastUpdatedBy.HeaderCellClass)"><span id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_LastUpdatedBy" class="SubAktivitasFormInputLogbMonitoringStockRTW_LastUpdatedBy">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.LastUpdatedBy.Caption)</span></th>
} @* subAktivitasFormInputLogbMonitoringStockRtwDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwDelete.lastUpdatedDate.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwDelete.lastUpdatedDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.lastUpdatedDate.HeaderCellClass)"><span id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_lastUpdatedDate" class="SubAktivitasFormInputLogbMonitoringStockRTW_lastUpdatedDate">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.lastUpdatedDate.Caption)</span></th>
} @* subAktivitasFormInputLogbMonitoringStockRtwDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwDelete.NoReferensi.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwDelete.NoReferensi.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.NoReferensi.HeaderCellClass)"><span id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_NoReferensi" class="SubAktivitasFormInputLogbMonitoringStockRTW_NoReferensi">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.NoReferensi.Caption)</span></th>
} @* subAktivitasFormInputLogbMonitoringStockRtwDelete.NoReferensi.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ subAktivitasFormInputLogbMonitoringStockRtwDelete.RecordCount = 0; }
@while (subAktivitasFormInputLogbMonitoringStockRtwDelete.Recordset != null && await subAktivitasFormInputLogbMonitoringStockRtwDelete.Recordset.ReadAsync()) { // DN
    subAktivitasFormInputLogbMonitoringStockRtwDelete.RecordCount++;
    subAktivitasFormInputLogbMonitoringStockRtwDelete.RowCount++;

    // Set row properties
    subAktivitasFormInputLogbMonitoringStockRtwDelete.ResetAttributes();
    subAktivitasFormInputLogbMonitoringStockRtwDelete.RowType = RowType.View; // View

    // Get the field contents
    await subAktivitasFormInputLogbMonitoringStockRtwDelete.LoadRowValues(subAktivitasFormInputLogbMonitoringStockRtwDelete.Recordset);

    // Render row
    await subAktivitasFormInputLogbMonitoringStockRtwDelete.RenderRow();
    <tr @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.RowAttributes)>
@if (subAktivitasFormInputLogbMonitoringStockRtwDelete.id.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwDelete.id.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.id.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.id.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputLogbMonitoringStockRtwDelete.id.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwDelete.idAktifitas.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwDelete.idAktifitas.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.idAktifitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.idAktifitas.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputLogbMonitoringStockRtwDelete.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwDelete.NoTangki.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwDelete.NoTangki.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.NoTangki.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.NoTangki.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.NoTangki.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputLogbMonitoringStockRtwDelete.NoTangki.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwDelete.Produk.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwDelete.Produk.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.Produk.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.Produk.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.Produk.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputLogbMonitoringStockRtwDelete.Produk.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwDelete.Aktivitas2.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwDelete.Aktivitas2.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.Aktivitas2.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.Aktivitas2.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.Aktivitas2.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputLogbMonitoringStockRtwDelete.Aktivitas2.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwDelete.LevelTangki.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwDelete.LevelTangki.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.LevelTangki.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.LevelTangki.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.LevelTangki.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputLogbMonitoringStockRtwDelete.LevelTangki.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwDelete.Volume.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwDelete.Volume.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.Volume.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.Volume.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.Volume.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputLogbMonitoringStockRtwDelete.Volume.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwDelete.Flowrate.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwDelete.Flowrate.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.Flowrate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.Flowrate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.Flowrate.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputLogbMonitoringStockRtwDelete.Flowrate.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwDelete.userInput.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwDelete.userInput.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.userInput.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.userInput.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputLogbMonitoringStockRtwDelete.userInput.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwDelete.etlDate.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwDelete.etlDate.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.etlDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.etlDate.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputLogbMonitoringStockRtwDelete.etlDate.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwDelete.idProses.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwDelete.idProses.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.idProses.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.idProses.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputLogbMonitoringStockRtwDelete.idProses.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwDelete.LastUpdatedBy.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwDelete.LastUpdatedBy.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.LastUpdatedBy.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.LastUpdatedBy.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputLogbMonitoringStockRtwDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwDelete.lastUpdatedDate.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwDelete.lastUpdatedDate.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.lastUpdatedDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.lastUpdatedDate.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputLogbMonitoringStockRtwDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwDelete.NoReferensi.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwDelete.NoReferensi.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.NoReferensi.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwDelete.NoReferensi.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputLogbMonitoringStockRtwDelete.NoReferensi.Visible (end) *@
    </tr>
}
@{ subAktivitasFormInputLogbMonitoringStockRtwDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(subAktivitasFormInputLogbMonitoringStockRtwDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@subAktivitasFormInputLogbMonitoringStockRtwDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
