@{
    // View
    View = this;

    // Check action result
    if (subaktivitasNilaiSfblstsPymBbmList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subaktivitasNilaiSfblstsPymBbmList.UseLayout ? "_Layout" : "";
}
@if (!subaktivitasNilaiSfblstsPymBbmList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasNilaiSfblstsPymBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasNilaiSFBLSTSPymBBM: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subaktivitasNilaiSfblstsPymBbmList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subaktivitasNilaiSfblstsPymBbmList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subaktivitasNilaiSfblstsPymBbmList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subaktivitasNilaiSfblstsPymBbmList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subaktivitasNilaiSfblstsPymBbmList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subaktivitasNilaiSfblstsPymBbmList.TotalRecords > 0 && subaktivitasNilaiSfblstsPymBbmList.ExportOptions.Visible) {
    subaktivitasNilaiSfblstsPymBbmList.ExportOptions.Render("body");
}
@if (subaktivitasNilaiSfblstsPymBbmList.ImportOptions.Visible) {
    subaktivitasNilaiSfblstsPymBbmList.ImportOptions.Render("body");
}
@if (subaktivitasNilaiSfblstsPymBbmList.SearchOptions.Visible) {
    subaktivitasNilaiSfblstsPymBbmList.SearchOptions.Render("body");
}
@if (subaktivitasNilaiSfblstsPymBbmList.FilterOptions.Visible) {
    subaktivitasNilaiSfblstsPymBbmList.FilterOptions.Render("body");
}
</div>
}
@if (!subaktivitasNilaiSfblstsPymBbmList.IsModal) {
<form name="fSubaktivitasNilaiSFBLSTSPymBBMsrch" id="fSubaktivitasNilaiSFBLSTSPymBBMsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubaktivitasNilaiSFBLSTSPymBBMsrch_search_panel" class="mb-2 mb-sm-0 @(subaktivitasNilaiSfblstsPymBbmList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasNilaiSfblstsPymBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasNilaiSFBLSTSPymBBM: currentTable } });
var currentForm;
var fSubaktivitasNilaiSFBLSTSPymBBMsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubaktivitasNilaiSFBLSTSPymBBMsrch")
        .setPageId("list")
@if (subaktivitasNilaiSfblstsPymBbmList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subaktivitasNilaiSfblstsPymBbmList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subaktivitasNilaiSfblstsPymBbmList.IsExport() && Empty(subaktivitasNilaiSfblstsPymBbmList.CurrentAction) && subaktivitasNilaiSfblstsPymBbmList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subaktivitasNilaiSfblstsPymBbmList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subaktivitasNilaiSfblstsPymBbmList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subaktivitasNilaiSfblstsPymBbmList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subaktivitasNilaiSfblstsPymBbmList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubaktivitasNilaiSFBLSTSPymBBMsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subaktivitasNilaiSfblstsPymBbmList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubaktivitasNilaiSFBLSTSPymBBMsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subaktivitasNilaiSfblstsPymBbmList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubaktivitasNilaiSFBLSTSPymBBMsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subaktivitasNilaiSfblstsPymBbmList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubaktivitasNilaiSFBLSTSPymBBMsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subaktivitasNilaiSfblstsPymBbmList.ShowPageHeader()
@subaktivitasNilaiSfblstsPymBbmList.ShowMessages()
<main class="list @(subaktivitasNilaiSfblstsPymBbmList.TotalRecords == 0 && !subaktivitasNilaiSfblstsPymBbmList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subaktivitasNilaiSfblstsPymBbmList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subaktivitasNilaiSfblstsPymBbmList.TotalRecords > 0 || !Empty(subaktivitasNilaiSfblstsPymBbmList.CurrentAction)) {
<div class="card ew-card ew-grid@(subaktivitasNilaiSfblstsPymBbmList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subaktivitasNilaiSfblstsPymBbmList.TableGridClass)">
<form name="@(subaktivitasNilaiSfblstsPymBbmList.FormName)" id="@(subaktivitasNilaiSfblstsPymBbmList.FormName)" class="ew-form ew-list-form" action="@AppPath(subaktivitasNilaiSfblstsPymBbmList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subaktivitasNilaiSfblstsPymBbmList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubaktivitasNilaiSFBLSTSPymBBM" class="card-body ew-grid-middle-panel @(subaktivitasNilaiSfblstsPymBbmList.TableContainerClass)" style="@(subaktivitasNilaiSfblstsPymBbmList.TableContainerStyle)">
@if (subaktivitasNilaiSfblstsPymBbmList.TotalRecords > 0 || subaktivitasNilaiSfblstsPymBbmList.IsGridEdit || subaktivitasNilaiSfblstsPymBbmList.IsMultiEdit) {
<table id="tbl_SubaktivitasNilaiSFBLSTSPymBBMlist" class="@(subaktivitasNilaiSfblstsPymBbmList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subaktivitasNilaiSfblstsPymBbmList.RowType = RowType.Header;

    // Render list options
    await subaktivitasNilaiSfblstsPymBbmList.RenderListOptions();
}
@* Render list options (header, left) *@
@subaktivitasNilaiSfblstsPymBbmList.ListOptions.RenderHeader("left")
@if (subaktivitasNilaiSfblstsPymBbmList.id.Visible) { // subaktivitasNilaiSfblstsPymBbmList.id.Visible (begin)
        <th data-name="id" class="@(subaktivitasNilaiSfblstsPymBbmList.id.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBLSTSPymBBM_id" class="SubaktivitasNilaiSFBLSTSPymBBM_id">@Html.Raw(subaktivitasNilaiSfblstsPymBbmList.RenderFieldHeader(subaktivitasNilaiSfblstsPymBbmList.id))</div></th>
} @* subaktivitasNilaiSfblstsPymBbmList.id.Visible (end) *@
@if (subaktivitasNilaiSfblstsPymBbmList.idProses.Visible) { // subaktivitasNilaiSfblstsPymBbmList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subaktivitasNilaiSfblstsPymBbmList.idProses.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBLSTSPymBBM_idProses" class="SubaktivitasNilaiSFBLSTSPymBBM_idProses">@Html.Raw(subaktivitasNilaiSfblstsPymBbmList.RenderFieldHeader(subaktivitasNilaiSfblstsPymBbmList.idProses))</div></th>
} @* subaktivitasNilaiSfblstsPymBbmList.idProses.Visible (end) *@
@if (subaktivitasNilaiSfblstsPymBbmList.idAktifitas.Visible) { // subaktivitasNilaiSfblstsPymBbmList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subaktivitasNilaiSfblstsPymBbmList.idAktifitas.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBLSTSPymBBM_idAktifitas" class="SubaktivitasNilaiSFBLSTSPymBBM_idAktifitas">@Html.Raw(subaktivitasNilaiSfblstsPymBbmList.RenderFieldHeader(subaktivitasNilaiSfblstsPymBbmList.idAktifitas))</div></th>
} @* subaktivitasNilaiSfblstsPymBbmList.idAktifitas.Visible (end) *@
@if (subaktivitasNilaiSfblstsPymBbmList.NoReferensi.Visible) { // subaktivitasNilaiSfblstsPymBbmList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subaktivitasNilaiSfblstsPymBbmList.NoReferensi.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBLSTSPymBBM_NoReferensi" class="SubaktivitasNilaiSFBLSTSPymBBM_NoReferensi">@Html.Raw(subaktivitasNilaiSfblstsPymBbmList.RenderFieldHeader(subaktivitasNilaiSfblstsPymBbmList.NoReferensi))</div></th>
} @* subaktivitasNilaiSfblstsPymBbmList.NoReferensi.Visible (end) *@
@if (subaktivitasNilaiSfblstsPymBbmList.lastUpdatedDate.Visible) { // subaktivitasNilaiSfblstsPymBbmList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subaktivitasNilaiSfblstsPymBbmList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBLSTSPymBBM_lastUpdatedDate" class="SubaktivitasNilaiSFBLSTSPymBBM_lastUpdatedDate">@Html.Raw(subaktivitasNilaiSfblstsPymBbmList.RenderFieldHeader(subaktivitasNilaiSfblstsPymBbmList.lastUpdatedDate))</div></th>
} @* subaktivitasNilaiSfblstsPymBbmList.lastUpdatedDate.Visible (end) *@
@if (subaktivitasNilaiSfblstsPymBbmList.LastUpdatedBy.Visible) { // subaktivitasNilaiSfblstsPymBbmList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subaktivitasNilaiSfblstsPymBbmList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBLSTSPymBBM_LastUpdatedBy" class="SubaktivitasNilaiSFBLSTSPymBBM_LastUpdatedBy">@Html.Raw(subaktivitasNilaiSfblstsPymBbmList.RenderFieldHeader(subaktivitasNilaiSfblstsPymBbmList.LastUpdatedBy))</div></th>
} @* subaktivitasNilaiSfblstsPymBbmList.LastUpdatedBy.Visible (end) *@
@if (subaktivitasNilaiSfblstsPymBbmList.StatusAktivitas.Visible) { // subaktivitasNilaiSfblstsPymBbmList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subaktivitasNilaiSfblstsPymBbmList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBLSTSPymBBM_StatusAktivitas" class="SubaktivitasNilaiSFBLSTSPymBBM_StatusAktivitas">@Html.Raw(subaktivitasNilaiSfblstsPymBbmList.RenderFieldHeader(subaktivitasNilaiSfblstsPymBbmList.StatusAktivitas))</div></th>
} @* subaktivitasNilaiSfblstsPymBbmList.StatusAktivitas.Visible (end) *@
@if (subaktivitasNilaiSfblstsPymBbmList.klobs.Visible) { // subaktivitasNilaiSfblstsPymBbmList.klobs.Visible (begin)
        <th data-name="klobs" class="@(subaktivitasNilaiSfblstsPymBbmList.klobs.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBLSTSPymBBM_klobs" class="SubaktivitasNilaiSFBLSTSPymBBM_klobs">@Html.Raw(subaktivitasNilaiSfblstsPymBbmList.RenderFieldHeader(subaktivitasNilaiSfblstsPymBbmList.klobs))</div></th>
} @* subaktivitasNilaiSfblstsPymBbmList.klobs.Visible (end) *@
@if (subaktivitasNilaiSfblstsPymBbmList.kl15.Visible) { // subaktivitasNilaiSfblstsPymBbmList.kl15.Visible (begin)
        <th data-name="kl15" class="@(subaktivitasNilaiSfblstsPymBbmList.kl15.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBLSTSPymBBM_kl15" class="SubaktivitasNilaiSFBLSTSPymBBM_kl15">@Html.Raw(subaktivitasNilaiSfblstsPymBbmList.RenderFieldHeader(subaktivitasNilaiSfblstsPymBbmList.kl15))</div></th>
} @* subaktivitasNilaiSfblstsPymBbmList.kl15.Visible (end) *@
@if (subaktivitasNilaiSfblstsPymBbmList.barrels.Visible) { // subaktivitasNilaiSfblstsPymBbmList.barrels.Visible (begin)
        <th data-name="barrels" class="@(subaktivitasNilaiSfblstsPymBbmList.barrels.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBLSTSPymBBM_barrels" class="SubaktivitasNilaiSFBLSTSPymBBM_barrels">@Html.Raw(subaktivitasNilaiSfblstsPymBbmList.RenderFieldHeader(subaktivitasNilaiSfblstsPymBbmList.barrels))</div></th>
} @* subaktivitasNilaiSfblstsPymBbmList.barrels.Visible (end) *@
@if (subaktivitasNilaiSfblstsPymBbmList.lt.Visible) { // subaktivitasNilaiSfblstsPymBbmList.lt.Visible (begin)
        <th data-name="lt" class="@(subaktivitasNilaiSfblstsPymBbmList.lt.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBLSTSPymBBM_lt" class="SubaktivitasNilaiSFBLSTSPymBBM_lt">@Html.Raw(subaktivitasNilaiSfblstsPymBbmList.RenderFieldHeader(subaktivitasNilaiSfblstsPymBbmList.lt))</div></th>
} @* subaktivitasNilaiSfblstsPymBbmList.lt.Visible (end) *@
@if (subaktivitasNilaiSfblstsPymBbmList.mt.Visible) { // subaktivitasNilaiSfblstsPymBbmList.mt.Visible (begin)
        <th data-name="mt" class="@(subaktivitasNilaiSfblstsPymBbmList.mt.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBLSTSPymBBM_mt" class="SubaktivitasNilaiSFBLSTSPymBBM_mt">@Html.Raw(subaktivitasNilaiSfblstsPymBbmList.RenderFieldHeader(subaktivitasNilaiSfblstsPymBbmList.mt))</div></th>
} @* subaktivitasNilaiSfblstsPymBbmList.mt.Visible (end) *@
@if (subaktivitasNilaiSfblstsPymBbmList.userInput.Visible) { // subaktivitasNilaiSfblstsPymBbmList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subaktivitasNilaiSfblstsPymBbmList.userInput.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBLSTSPymBBM_userInput" class="SubaktivitasNilaiSFBLSTSPymBBM_userInput">@Html.Raw(subaktivitasNilaiSfblstsPymBbmList.RenderFieldHeader(subaktivitasNilaiSfblstsPymBbmList.userInput))</div></th>
} @* subaktivitasNilaiSfblstsPymBbmList.userInput.Visible (end) *@
@if (subaktivitasNilaiSfblstsPymBbmList.etlDate.Visible) { // subaktivitasNilaiSfblstsPymBbmList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subaktivitasNilaiSfblstsPymBbmList.etlDate.HeaderCellClass)"><div id="elh_SubaktivitasNilaiSFBLSTSPymBBM_etlDate" class="SubaktivitasNilaiSFBLSTSPymBBM_etlDate">@Html.Raw(subaktivitasNilaiSfblstsPymBbmList.RenderFieldHeader(subaktivitasNilaiSfblstsPymBbmList.etlDate))</div></th>
} @* subaktivitasNilaiSfblstsPymBbmList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subaktivitasNilaiSfblstsPymBbmList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subaktivitasNilaiSfblstsPymBbmList.PageNumber)">
@{
    await subaktivitasNilaiSfblstsPymBbmList.SetupGrid();
    bool eof = subaktivitasNilaiSfblstsPymBbmList.Recordset == null; // DN
}
@while (subaktivitasNilaiSfblstsPymBbmList.RecordCount < subaktivitasNilaiSfblstsPymBbmList.StopRecord || SameString(subaktivitasNilaiSfblstsPymBbmList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subaktivitasNilaiSfblstsPymBbmList.RowIndex, "$rowindex$") &&
        (!subaktivitasNilaiSfblstsPymBbmList.IsGridAdd || subaktivitasNilaiSfblstsPymBbmList.CurrentMode == "copy") &&
        (!((subaktivitasNilaiSfblstsPymBbmList.IsCopy || subaktivitasNilaiSfblstsPymBbmList.IsAdd) && subaktivitasNilaiSfblstsPymBbmList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subaktivitasNilaiSfblstsPymBbmList.Recordset.ReadAsync();
    subaktivitasNilaiSfblstsPymBbmList.RecordCount++;
    if (subaktivitasNilaiSfblstsPymBbmList.RecordCount >= subaktivitasNilaiSfblstsPymBbmList.StartRecord) {
        await subaktivitasNilaiSfblstsPymBbmList.SetupRow();
    <tr @Html.Raw(subaktivitasNilaiSfblstsPymBbmList.RowAttributes)>
    @* Render list options (body, left) *@
    @subaktivitasNilaiSfblstsPymBbmList.ListOptions.RenderBody("left", subaktivitasNilaiSfblstsPymBbmList.RowCount)
    @if (subaktivitasNilaiSfblstsPymBbmList.id.Visible) { // subaktivitasNilaiSfblstsPymBbmList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subaktivitasNilaiSfblstsPymBbmList.id.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiSfblstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiSfblstsPymBbmList.RowCount)_SubaktivitasNilaiSFBLSTSPymBBM_id" class="el_SubaktivitasNilaiSFBLSTSPymBBM_id">
<span @Html.Raw(subaktivitasNilaiSfblstsPymBbmList.id.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfblstsPymBbmList.id.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfblstsPymBbmList.id.Visible (end) *@
    @if (subaktivitasNilaiSfblstsPymBbmList.idProses.Visible) { // subaktivitasNilaiSfblstsPymBbmList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subaktivitasNilaiSfblstsPymBbmList.idProses.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiSfblstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiSfblstsPymBbmList.RowCount)_SubaktivitasNilaiSFBLSTSPymBBM_idProses" class="el_SubaktivitasNilaiSFBLSTSPymBBM_idProses">
<span @Html.Raw(subaktivitasNilaiSfblstsPymBbmList.idProses.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfblstsPymBbmList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfblstsPymBbmList.idProses.Visible (end) *@
    @if (subaktivitasNilaiSfblstsPymBbmList.idAktifitas.Visible) { // subaktivitasNilaiSfblstsPymBbmList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subaktivitasNilaiSfblstsPymBbmList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiSfblstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiSfblstsPymBbmList.RowCount)_SubaktivitasNilaiSFBLSTSPymBBM_idAktifitas" class="el_SubaktivitasNilaiSFBLSTSPymBBM_idAktifitas">
<span @Html.Raw(subaktivitasNilaiSfblstsPymBbmList.idAktifitas.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfblstsPymBbmList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfblstsPymBbmList.idAktifitas.Visible (end) *@
    @if (subaktivitasNilaiSfblstsPymBbmList.NoReferensi.Visible) { // subaktivitasNilaiSfblstsPymBbmList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subaktivitasNilaiSfblstsPymBbmList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiSfblstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiSfblstsPymBbmList.RowCount)_SubaktivitasNilaiSFBLSTSPymBBM_NoReferensi" class="el_SubaktivitasNilaiSFBLSTSPymBBM_NoReferensi">
<span @Html.Raw(subaktivitasNilaiSfblstsPymBbmList.NoReferensi.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfblstsPymBbmList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfblstsPymBbmList.NoReferensi.Visible (end) *@
    @if (subaktivitasNilaiSfblstsPymBbmList.lastUpdatedDate.Visible) { // subaktivitasNilaiSfblstsPymBbmList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subaktivitasNilaiSfblstsPymBbmList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiSfblstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiSfblstsPymBbmList.RowCount)_SubaktivitasNilaiSFBLSTSPymBBM_lastUpdatedDate" class="el_SubaktivitasNilaiSFBLSTSPymBBM_lastUpdatedDate">
<span @Html.Raw(subaktivitasNilaiSfblstsPymBbmList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfblstsPymBbmList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfblstsPymBbmList.lastUpdatedDate.Visible (end) *@
    @if (subaktivitasNilaiSfblstsPymBbmList.LastUpdatedBy.Visible) { // subaktivitasNilaiSfblstsPymBbmList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subaktivitasNilaiSfblstsPymBbmList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiSfblstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiSfblstsPymBbmList.RowCount)_SubaktivitasNilaiSFBLSTSPymBBM_LastUpdatedBy" class="el_SubaktivitasNilaiSFBLSTSPymBBM_LastUpdatedBy">
<span @Html.Raw(subaktivitasNilaiSfblstsPymBbmList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfblstsPymBbmList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfblstsPymBbmList.LastUpdatedBy.Visible (end) *@
    @if (subaktivitasNilaiSfblstsPymBbmList.StatusAktivitas.Visible) { // subaktivitasNilaiSfblstsPymBbmList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subaktivitasNilaiSfblstsPymBbmList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiSfblstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiSfblstsPymBbmList.RowCount)_SubaktivitasNilaiSFBLSTSPymBBM_StatusAktivitas" class="el_SubaktivitasNilaiSFBLSTSPymBBM_StatusAktivitas">
<span @Html.Raw(subaktivitasNilaiSfblstsPymBbmList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfblstsPymBbmList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfblstsPymBbmList.StatusAktivitas.Visible (end) *@
    @if (subaktivitasNilaiSfblstsPymBbmList.klobs.Visible) { // subaktivitasNilaiSfblstsPymBbmList.klobs.Visible (begin)
        <td data-name="klobs" @Html.Raw(subaktivitasNilaiSfblstsPymBbmList.klobs.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiSfblstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiSfblstsPymBbmList.RowCount)_SubaktivitasNilaiSFBLSTSPymBBM_klobs" class="el_SubaktivitasNilaiSFBLSTSPymBBM_klobs">
<span @Html.Raw(subaktivitasNilaiSfblstsPymBbmList.klobs.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfblstsPymBbmList.klobs.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfblstsPymBbmList.klobs.Visible (end) *@
    @if (subaktivitasNilaiSfblstsPymBbmList.kl15.Visible) { // subaktivitasNilaiSfblstsPymBbmList.kl15.Visible (begin)
        <td data-name="kl15" @Html.Raw(subaktivitasNilaiSfblstsPymBbmList.kl15.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiSfblstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiSfblstsPymBbmList.RowCount)_SubaktivitasNilaiSFBLSTSPymBBM_kl15" class="el_SubaktivitasNilaiSFBLSTSPymBBM_kl15">
<span @Html.Raw(subaktivitasNilaiSfblstsPymBbmList.kl15.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfblstsPymBbmList.kl15.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfblstsPymBbmList.kl15.Visible (end) *@
    @if (subaktivitasNilaiSfblstsPymBbmList.barrels.Visible) { // subaktivitasNilaiSfblstsPymBbmList.barrels.Visible (begin)
        <td data-name="barrels" @Html.Raw(subaktivitasNilaiSfblstsPymBbmList.barrels.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiSfblstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiSfblstsPymBbmList.RowCount)_SubaktivitasNilaiSFBLSTSPymBBM_barrels" class="el_SubaktivitasNilaiSFBLSTSPymBBM_barrels">
<span @Html.Raw(subaktivitasNilaiSfblstsPymBbmList.barrels.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfblstsPymBbmList.barrels.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfblstsPymBbmList.barrels.Visible (end) *@
    @if (subaktivitasNilaiSfblstsPymBbmList.lt.Visible) { // subaktivitasNilaiSfblstsPymBbmList.lt.Visible (begin)
        <td data-name="lt" @Html.Raw(subaktivitasNilaiSfblstsPymBbmList.lt.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiSfblstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiSfblstsPymBbmList.RowCount)_SubaktivitasNilaiSFBLSTSPymBBM_lt" class="el_SubaktivitasNilaiSFBLSTSPymBBM_lt">
<span @Html.Raw(subaktivitasNilaiSfblstsPymBbmList.lt.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfblstsPymBbmList.lt.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfblstsPymBbmList.lt.Visible (end) *@
    @if (subaktivitasNilaiSfblstsPymBbmList.mt.Visible) { // subaktivitasNilaiSfblstsPymBbmList.mt.Visible (begin)
        <td data-name="mt" @Html.Raw(subaktivitasNilaiSfblstsPymBbmList.mt.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiSfblstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiSfblstsPymBbmList.RowCount)_SubaktivitasNilaiSFBLSTSPymBBM_mt" class="el_SubaktivitasNilaiSFBLSTSPymBBM_mt">
<span @Html.Raw(subaktivitasNilaiSfblstsPymBbmList.mt.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfblstsPymBbmList.mt.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfblstsPymBbmList.mt.Visible (end) *@
    @if (subaktivitasNilaiSfblstsPymBbmList.userInput.Visible) { // subaktivitasNilaiSfblstsPymBbmList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subaktivitasNilaiSfblstsPymBbmList.userInput.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiSfblstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiSfblstsPymBbmList.RowCount)_SubaktivitasNilaiSFBLSTSPymBBM_userInput" class="el_SubaktivitasNilaiSFBLSTSPymBBM_userInput">
<span @Html.Raw(subaktivitasNilaiSfblstsPymBbmList.userInput.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfblstsPymBbmList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfblstsPymBbmList.userInput.Visible (end) *@
    @if (subaktivitasNilaiSfblstsPymBbmList.etlDate.Visible) { // subaktivitasNilaiSfblstsPymBbmList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subaktivitasNilaiSfblstsPymBbmList.etlDate.CellAttributes)>
<span id="el@(SameString(subaktivitasNilaiSfblstsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subaktivitasNilaiSfblstsPymBbmList.RowCount)_SubaktivitasNilaiSFBLSTSPymBBM_etlDate" class="el_SubaktivitasNilaiSFBLSTSPymBBM_etlDate">
<span @Html.Raw(subaktivitasNilaiSfblstsPymBbmList.etlDate.ViewAttributes)>
@Html.Raw(subaktivitasNilaiSfblstsPymBbmList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasNilaiSfblstsPymBbmList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subaktivitasNilaiSfblstsPymBbmList.ListOptions.RenderBody("right", subaktivitasNilaiSfblstsPymBbmList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subaktivitasNilaiSfblstsPymBbmList.RowIndex, "$rowindex$"))
        subaktivitasNilaiSfblstsPymBbmList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subaktivitasNilaiSfblstsPymBbmList.IsCopy || subaktivitasNilaiSfblstsPymBbmList.IsAdd) && subaktivitasNilaiSfblstsPymBbmList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subaktivitasNilaiSfblstsPymBbmList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subaktivitasNilaiSfblstsPymBbmList.CurrentAction) && !subaktivitasNilaiSfblstsPymBbmList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subaktivitasNilaiSfblstsPymBbmList.CloseRecordset(); }
@if (!subaktivitasNilaiSfblstsPymBbmList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subaktivitasNilaiSfblstsPymBbmList.IsGridAdd && !(subaktivitasNilaiSfblstsPymBbmList.IsGridEdit && subaktivitasNilaiSfblstsPymBbmList.ModalGridEdit) && !subaktivitasNilaiSfblstsPymBbmList.IsMultiEdit) {
@Html.Raw(subaktivitasNilaiSfblstsPymBbmList.Pager.Render())
}
<div class="ew-list-other-options">
@subaktivitasNilaiSfblstsPymBbmList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subaktivitasNilaiSfblstsPymBbmList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subaktivitasNilaiSfblstsPymBbmList.FooterOptions.RenderBody()
</div>
</main>
@subaktivitasNilaiSfblstsPymBbmList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subaktivitasNilaiSfblstsPymBbmList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubaktivitasNilaiSFBLSTSPymBBM");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
