@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiBLdanAlrtwList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiBLdanAlrtwList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasNilaiBLdanAlrtwList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiBLdanAlrtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiBLdanALRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasNilaiBLdanAlrtwList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasNilaiBLdanAlrtwList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasNilaiBLdanAlrtwList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasNilaiBLdanAlrtwList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasNilaiBLdanAlrtwList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasNilaiBLdanAlrtwList.TotalRecords > 0 && subAktivitasNilaiBLdanAlrtwList.ExportOptions.Visible) {
    subAktivitasNilaiBLdanAlrtwList.ExportOptions.Render("body");
}
@if (subAktivitasNilaiBLdanAlrtwList.ImportOptions.Visible) {
    subAktivitasNilaiBLdanAlrtwList.ImportOptions.Render("body");
}
@if (subAktivitasNilaiBLdanAlrtwList.SearchOptions.Visible) {
    subAktivitasNilaiBLdanAlrtwList.SearchOptions.Render("body");
}
@if (subAktivitasNilaiBLdanAlrtwList.FilterOptions.Visible) {
    subAktivitasNilaiBLdanAlrtwList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasNilaiBLdanAlrtwList.IsModal) {
<form name="fSubAktivitasNilaiBLdanALRTWsrch" id="fSubAktivitasNilaiBLdanALRTWsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasNilaiBLdanALRTWsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasNilaiBLdanAlrtwList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiBLdanAlrtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiBLdanALRTW: currentTable } });
var currentForm;
var fSubAktivitasNilaiBLdanALRTWsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiBLdanALRTWsrch")
        .setPageId("list")
@if (subAktivitasNilaiBLdanAlrtwList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasNilaiBLdanAlrtwList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasNilaiBLdanAlrtwList.IsExport() && Empty(subAktivitasNilaiBLdanAlrtwList.CurrentAction) && subAktivitasNilaiBLdanAlrtwList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasNilaiBLdanAlrtwList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasNilaiBLdanAlrtwList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasNilaiBLdanAlrtwList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasNilaiBLdanAlrtwList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasNilaiBLdanALRTWsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiBLdanAlrtwList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasNilaiBLdanALRTWsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiBLdanAlrtwList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasNilaiBLdanALRTWsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiBLdanAlrtwList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasNilaiBLdanALRTWsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasNilaiBLdanAlrtwList.ShowPageHeader()
@subAktivitasNilaiBLdanAlrtwList.ShowMessages()
<main class="list @(subAktivitasNilaiBLdanAlrtwList.TotalRecords == 0 && !subAktivitasNilaiBLdanAlrtwList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasNilaiBLdanAlrtwList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasNilaiBLdanAlrtwList.TotalRecords > 0 || !Empty(subAktivitasNilaiBLdanAlrtwList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasNilaiBLdanAlrtwList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasNilaiBLdanAlrtwList.TableGridClass)">
<form name="@(subAktivitasNilaiBLdanAlrtwList.FormName)" id="@(subAktivitasNilaiBLdanAlrtwList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasNilaiBLdanAlrtwList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasNilaiBLdanAlrtwList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasNilaiBLdanALRTW" class="card-body ew-grid-middle-panel @(subAktivitasNilaiBLdanAlrtwList.TableContainerClass)" style="@(subAktivitasNilaiBLdanAlrtwList.TableContainerStyle)">
@if (subAktivitasNilaiBLdanAlrtwList.TotalRecords > 0 || subAktivitasNilaiBLdanAlrtwList.IsGridEdit || subAktivitasNilaiBLdanAlrtwList.IsMultiEdit) {
<table id="tbl_SubAktivitasNilaiBLdanALRTWlist" class="@(subAktivitasNilaiBLdanAlrtwList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasNilaiBLdanAlrtwList.RowType = RowType.Header;

    // Render list options
    await subAktivitasNilaiBLdanAlrtwList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasNilaiBLdanAlrtwList.ListOptions.RenderHeader("left")
@if (subAktivitasNilaiBLdanAlrtwList.idAktifitas.Visible) { // subAktivitasNilaiBLdanAlrtwList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasNilaiBLdanAlrtwList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLdanALRTW_idAktifitas" class="SubAktivitasNilaiBLdanALRTW_idAktifitas">@Html.Raw(subAktivitasNilaiBLdanAlrtwList.RenderFieldHeader(subAktivitasNilaiBLdanAlrtwList.idAktifitas))</div></th>
} @* subAktivitasNilaiBLdanAlrtwList.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiBLdanAlrtwList.StatusAktivitas.Visible) { // subAktivitasNilaiBLdanAlrtwList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasNilaiBLdanAlrtwList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLdanALRTW_StatusAktivitas" class="SubAktivitasNilaiBLdanALRTW_StatusAktivitas">@Html.Raw(subAktivitasNilaiBLdanAlrtwList.RenderFieldHeader(subAktivitasNilaiBLdanAlrtwList.StatusAktivitas))</div></th>
} @* subAktivitasNilaiBLdanAlrtwList.StatusAktivitas.Visible (end) *@
@if (subAktivitasNilaiBLdanAlrtwList.BL_KL_Obs.Visible) { // subAktivitasNilaiBLdanAlrtwList.BL_KL_Obs.Visible (begin)
        <th data-name="BL_KL_Obs" class="@(subAktivitasNilaiBLdanAlrtwList.BL_KL_Obs.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLdanALRTW_BL_KL_Obs" class="SubAktivitasNilaiBLdanALRTW_BL_KL_Obs">@Html.Raw(subAktivitasNilaiBLdanAlrtwList.RenderFieldHeader(subAktivitasNilaiBLdanAlrtwList.BL_KL_Obs))</div></th>
} @* subAktivitasNilaiBLdanAlrtwList.BL_KL_Obs.Visible (end) *@
@if (subAktivitasNilaiBLdanAlrtwList.BL_KL_15.Visible) { // subAktivitasNilaiBLdanAlrtwList.BL_KL_15.Visible (begin)
        <th data-name="BL_KL_15" class="@(subAktivitasNilaiBLdanAlrtwList.BL_KL_15.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLdanALRTW_BL_KL_15" class="SubAktivitasNilaiBLdanALRTW_BL_KL_15">@Html.Raw(subAktivitasNilaiBLdanAlrtwList.RenderFieldHeader(subAktivitasNilaiBLdanAlrtwList.BL_KL_15))</div></th>
} @* subAktivitasNilaiBLdanAlrtwList.BL_KL_15.Visible (end) *@
@if (subAktivitasNilaiBLdanAlrtwList.BL_Barrels.Visible) { // subAktivitasNilaiBLdanAlrtwList.BL_Barrels.Visible (begin)
        <th data-name="BL_Barrels" class="@(subAktivitasNilaiBLdanAlrtwList.BL_Barrels.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLdanALRTW_BL_Barrels" class="SubAktivitasNilaiBLdanALRTW_BL_Barrels">@Html.Raw(subAktivitasNilaiBLdanAlrtwList.RenderFieldHeader(subAktivitasNilaiBLdanAlrtwList.BL_Barrels))</div></th>
} @* subAktivitasNilaiBLdanAlrtwList.BL_Barrels.Visible (end) *@
@if (subAktivitasNilaiBLdanAlrtwList.BL_LT.Visible) { // subAktivitasNilaiBLdanAlrtwList.BL_LT.Visible (begin)
        <th data-name="BL_LT" class="@(subAktivitasNilaiBLdanAlrtwList.BL_LT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLdanALRTW_BL_LT" class="SubAktivitasNilaiBLdanALRTW_BL_LT">@Html.Raw(subAktivitasNilaiBLdanAlrtwList.RenderFieldHeader(subAktivitasNilaiBLdanAlrtwList.BL_LT))</div></th>
} @* subAktivitasNilaiBLdanAlrtwList.BL_LT.Visible (end) *@
@if (subAktivitasNilaiBLdanAlrtwList.BL_MT.Visible) { // subAktivitasNilaiBLdanAlrtwList.BL_MT.Visible (begin)
        <th data-name="BL_MT" class="@(subAktivitasNilaiBLdanAlrtwList.BL_MT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLdanALRTW_BL_MT" class="SubAktivitasNilaiBLdanALRTW_BL_MT">@Html.Raw(subAktivitasNilaiBLdanAlrtwList.RenderFieldHeader(subAktivitasNilaiBLdanAlrtwList.BL_MT))</div></th>
} @* subAktivitasNilaiBLdanAlrtwList.BL_MT.Visible (end) *@
@if (subAktivitasNilaiBLdanAlrtwList.AL_KL_Obs.Visible) { // subAktivitasNilaiBLdanAlrtwList.AL_KL_Obs.Visible (begin)
        <th data-name="AL_KL_Obs" class="@(subAktivitasNilaiBLdanAlrtwList.AL_KL_Obs.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLdanALRTW_AL_KL_Obs" class="SubAktivitasNilaiBLdanALRTW_AL_KL_Obs">@Html.Raw(subAktivitasNilaiBLdanAlrtwList.RenderFieldHeader(subAktivitasNilaiBLdanAlrtwList.AL_KL_Obs))</div></th>
} @* subAktivitasNilaiBLdanAlrtwList.AL_KL_Obs.Visible (end) *@
@if (subAktivitasNilaiBLdanAlrtwList.AL_KL_15.Visible) { // subAktivitasNilaiBLdanAlrtwList.AL_KL_15.Visible (begin)
        <th data-name="AL_KL_15" class="@(subAktivitasNilaiBLdanAlrtwList.AL_KL_15.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLdanALRTW_AL_KL_15" class="SubAktivitasNilaiBLdanALRTW_AL_KL_15">@Html.Raw(subAktivitasNilaiBLdanAlrtwList.RenderFieldHeader(subAktivitasNilaiBLdanAlrtwList.AL_KL_15))</div></th>
} @* subAktivitasNilaiBLdanAlrtwList.AL_KL_15.Visible (end) *@
@if (subAktivitasNilaiBLdanAlrtwList.AL_Barrels.Visible) { // subAktivitasNilaiBLdanAlrtwList.AL_Barrels.Visible (begin)
        <th data-name="AL_Barrels" class="@(subAktivitasNilaiBLdanAlrtwList.AL_Barrels.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLdanALRTW_AL_Barrels" class="SubAktivitasNilaiBLdanALRTW_AL_Barrels">@Html.Raw(subAktivitasNilaiBLdanAlrtwList.RenderFieldHeader(subAktivitasNilaiBLdanAlrtwList.AL_Barrels))</div></th>
} @* subAktivitasNilaiBLdanAlrtwList.AL_Barrels.Visible (end) *@
@if (subAktivitasNilaiBLdanAlrtwList.AL_LT.Visible) { // subAktivitasNilaiBLdanAlrtwList.AL_LT.Visible (begin)
        <th data-name="AL_LT" class="@(subAktivitasNilaiBLdanAlrtwList.AL_LT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLdanALRTW_AL_LT" class="SubAktivitasNilaiBLdanALRTW_AL_LT">@Html.Raw(subAktivitasNilaiBLdanAlrtwList.RenderFieldHeader(subAktivitasNilaiBLdanAlrtwList.AL_LT))</div></th>
} @* subAktivitasNilaiBLdanAlrtwList.AL_LT.Visible (end) *@
@if (subAktivitasNilaiBLdanAlrtwList.AL_MT.Visible) { // subAktivitasNilaiBLdanAlrtwList.AL_MT.Visible (begin)
        <th data-name="AL_MT" class="@(subAktivitasNilaiBLdanAlrtwList.AL_MT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLdanALRTW_AL_MT" class="SubAktivitasNilaiBLdanALRTW_AL_MT">@Html.Raw(subAktivitasNilaiBLdanAlrtwList.RenderFieldHeader(subAktivitasNilaiBLdanAlrtwList.AL_MT))</div></th>
} @* subAktivitasNilaiBLdanAlrtwList.AL_MT.Visible (end) *@
@if (subAktivitasNilaiBLdanAlrtwList.userInput.Visible) { // subAktivitasNilaiBLdanAlrtwList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasNilaiBLdanAlrtwList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLdanALRTW_userInput" class="SubAktivitasNilaiBLdanALRTW_userInput">@Html.Raw(subAktivitasNilaiBLdanAlrtwList.RenderFieldHeader(subAktivitasNilaiBLdanAlrtwList.userInput))</div></th>
} @* subAktivitasNilaiBLdanAlrtwList.userInput.Visible (end) *@
@if (subAktivitasNilaiBLdanAlrtwList.idProses.Visible) { // subAktivitasNilaiBLdanAlrtwList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasNilaiBLdanAlrtwList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLdanALRTW_idProses" class="SubAktivitasNilaiBLdanALRTW_idProses">@Html.Raw(subAktivitasNilaiBLdanAlrtwList.RenderFieldHeader(subAktivitasNilaiBLdanAlrtwList.idProses))</div></th>
} @* subAktivitasNilaiBLdanAlrtwList.idProses.Visible (end) *@
@if (subAktivitasNilaiBLdanAlrtwList.LastUpdatedBy.Visible) { // subAktivitasNilaiBLdanAlrtwList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasNilaiBLdanAlrtwList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLdanALRTW_LastUpdatedBy" class="SubAktivitasNilaiBLdanALRTW_LastUpdatedBy">@Html.Raw(subAktivitasNilaiBLdanAlrtwList.RenderFieldHeader(subAktivitasNilaiBLdanAlrtwList.LastUpdatedBy))</div></th>
} @* subAktivitasNilaiBLdanAlrtwList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiBLdanAlrtwList.lastUpdatedDate.Visible) { // subAktivitasNilaiBLdanAlrtwList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasNilaiBLdanAlrtwList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLdanALRTW_lastUpdatedDate" class="SubAktivitasNilaiBLdanALRTW_lastUpdatedDate">@Html.Raw(subAktivitasNilaiBLdanAlrtwList.RenderFieldHeader(subAktivitasNilaiBLdanAlrtwList.lastUpdatedDate))</div></th>
} @* subAktivitasNilaiBLdanAlrtwList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasNilaiBLdanAlrtwList.NoReferensi.Visible) { // subAktivitasNilaiBLdanAlrtwList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasNilaiBLdanAlrtwList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLdanALRTW_NoReferensi" class="SubAktivitasNilaiBLdanALRTW_NoReferensi">@Html.Raw(subAktivitasNilaiBLdanAlrtwList.RenderFieldHeader(subAktivitasNilaiBLdanAlrtwList.NoReferensi))</div></th>
} @* subAktivitasNilaiBLdanAlrtwList.NoReferensi.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasNilaiBLdanAlrtwList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasNilaiBLdanAlrtwList.PageNumber)">
@{
    await subAktivitasNilaiBLdanAlrtwList.SetupGrid();
    bool eof = subAktivitasNilaiBLdanAlrtwList.Recordset == null; // DN
}
@while (subAktivitasNilaiBLdanAlrtwList.RecordCount < subAktivitasNilaiBLdanAlrtwList.StopRecord || SameString(subAktivitasNilaiBLdanAlrtwList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasNilaiBLdanAlrtwList.RowIndex, "$rowindex$") &&
        (!subAktivitasNilaiBLdanAlrtwList.IsGridAdd || subAktivitasNilaiBLdanAlrtwList.CurrentMode == "copy") &&
        (!((subAktivitasNilaiBLdanAlrtwList.IsCopy || subAktivitasNilaiBLdanAlrtwList.IsAdd) && subAktivitasNilaiBLdanAlrtwList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasNilaiBLdanAlrtwList.Recordset.ReadAsync();
    subAktivitasNilaiBLdanAlrtwList.RecordCount++;
    if (subAktivitasNilaiBLdanAlrtwList.RecordCount >= subAktivitasNilaiBLdanAlrtwList.StartRecord) {
        await subAktivitasNilaiBLdanAlrtwList.SetupRow();
    <tr @Html.Raw(subAktivitasNilaiBLdanAlrtwList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasNilaiBLdanAlrtwList.ListOptions.RenderBody("left", subAktivitasNilaiBLdanAlrtwList.RowCount)
    @if (subAktivitasNilaiBLdanAlrtwList.idAktifitas.Visible) { // subAktivitasNilaiBLdanAlrtwList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasNilaiBLdanAlrtwList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBLdanAlrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBLdanAlrtwList.RowCount)_SubAktivitasNilaiBLdanALRTW_idAktifitas" class="el_SubAktivitasNilaiBLdanALRTW_idAktifitas">
<span @Html.Raw(subAktivitasNilaiBLdanAlrtwList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBLdanAlrtwList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBLdanAlrtwList.idAktifitas.Visible (end) *@
    @if (subAktivitasNilaiBLdanAlrtwList.StatusAktivitas.Visible) { // subAktivitasNilaiBLdanAlrtwList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasNilaiBLdanAlrtwList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBLdanAlrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBLdanAlrtwList.RowCount)_SubAktivitasNilaiBLdanALRTW_StatusAktivitas" class="el_SubAktivitasNilaiBLdanALRTW_StatusAktivitas">
<span @Html.Raw(subAktivitasNilaiBLdanAlrtwList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBLdanAlrtwList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBLdanAlrtwList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasNilaiBLdanAlrtwList.BL_KL_Obs.Visible) { // subAktivitasNilaiBLdanAlrtwList.BL_KL_Obs.Visible (begin)
        <td data-name="BL_KL_Obs" @Html.Raw(subAktivitasNilaiBLdanAlrtwList.BL_KL_Obs.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBLdanAlrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBLdanAlrtwList.RowCount)_SubAktivitasNilaiBLdanALRTW_BL_KL_Obs" class="el_SubAktivitasNilaiBLdanALRTW_BL_KL_Obs">
<span @Html.Raw(subAktivitasNilaiBLdanAlrtwList.BL_KL_Obs.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBLdanAlrtwList.BL_KL_Obs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBLdanAlrtwList.BL_KL_Obs.Visible (end) *@
    @if (subAktivitasNilaiBLdanAlrtwList.BL_KL_15.Visible) { // subAktivitasNilaiBLdanAlrtwList.BL_KL_15.Visible (begin)
        <td data-name="BL_KL_15" @Html.Raw(subAktivitasNilaiBLdanAlrtwList.BL_KL_15.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBLdanAlrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBLdanAlrtwList.RowCount)_SubAktivitasNilaiBLdanALRTW_BL_KL_15" class="el_SubAktivitasNilaiBLdanALRTW_BL_KL_15">
<span @Html.Raw(subAktivitasNilaiBLdanAlrtwList.BL_KL_15.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBLdanAlrtwList.BL_KL_15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBLdanAlrtwList.BL_KL_15.Visible (end) *@
    @if (subAktivitasNilaiBLdanAlrtwList.BL_Barrels.Visible) { // subAktivitasNilaiBLdanAlrtwList.BL_Barrels.Visible (begin)
        <td data-name="BL_Barrels" @Html.Raw(subAktivitasNilaiBLdanAlrtwList.BL_Barrels.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBLdanAlrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBLdanAlrtwList.RowCount)_SubAktivitasNilaiBLdanALRTW_BL_Barrels" class="el_SubAktivitasNilaiBLdanALRTW_BL_Barrels">
<span @Html.Raw(subAktivitasNilaiBLdanAlrtwList.BL_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBLdanAlrtwList.BL_Barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBLdanAlrtwList.BL_Barrels.Visible (end) *@
    @if (subAktivitasNilaiBLdanAlrtwList.BL_LT.Visible) { // subAktivitasNilaiBLdanAlrtwList.BL_LT.Visible (begin)
        <td data-name="BL_LT" @Html.Raw(subAktivitasNilaiBLdanAlrtwList.BL_LT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBLdanAlrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBLdanAlrtwList.RowCount)_SubAktivitasNilaiBLdanALRTW_BL_LT" class="el_SubAktivitasNilaiBLdanALRTW_BL_LT">
<span @Html.Raw(subAktivitasNilaiBLdanAlrtwList.BL_LT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBLdanAlrtwList.BL_LT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBLdanAlrtwList.BL_LT.Visible (end) *@
    @if (subAktivitasNilaiBLdanAlrtwList.BL_MT.Visible) { // subAktivitasNilaiBLdanAlrtwList.BL_MT.Visible (begin)
        <td data-name="BL_MT" @Html.Raw(subAktivitasNilaiBLdanAlrtwList.BL_MT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBLdanAlrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBLdanAlrtwList.RowCount)_SubAktivitasNilaiBLdanALRTW_BL_MT" class="el_SubAktivitasNilaiBLdanALRTW_BL_MT">
<span @Html.Raw(subAktivitasNilaiBLdanAlrtwList.BL_MT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBLdanAlrtwList.BL_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBLdanAlrtwList.BL_MT.Visible (end) *@
    @if (subAktivitasNilaiBLdanAlrtwList.AL_KL_Obs.Visible) { // subAktivitasNilaiBLdanAlrtwList.AL_KL_Obs.Visible (begin)
        <td data-name="AL_KL_Obs" @Html.Raw(subAktivitasNilaiBLdanAlrtwList.AL_KL_Obs.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBLdanAlrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBLdanAlrtwList.RowCount)_SubAktivitasNilaiBLdanALRTW_AL_KL_Obs" class="el_SubAktivitasNilaiBLdanALRTW_AL_KL_Obs">
<span @Html.Raw(subAktivitasNilaiBLdanAlrtwList.AL_KL_Obs.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBLdanAlrtwList.AL_KL_Obs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBLdanAlrtwList.AL_KL_Obs.Visible (end) *@
    @if (subAktivitasNilaiBLdanAlrtwList.AL_KL_15.Visible) { // subAktivitasNilaiBLdanAlrtwList.AL_KL_15.Visible (begin)
        <td data-name="AL_KL_15" @Html.Raw(subAktivitasNilaiBLdanAlrtwList.AL_KL_15.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBLdanAlrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBLdanAlrtwList.RowCount)_SubAktivitasNilaiBLdanALRTW_AL_KL_15" class="el_SubAktivitasNilaiBLdanALRTW_AL_KL_15">
<span @Html.Raw(subAktivitasNilaiBLdanAlrtwList.AL_KL_15.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBLdanAlrtwList.AL_KL_15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBLdanAlrtwList.AL_KL_15.Visible (end) *@
    @if (subAktivitasNilaiBLdanAlrtwList.AL_Barrels.Visible) { // subAktivitasNilaiBLdanAlrtwList.AL_Barrels.Visible (begin)
        <td data-name="AL_Barrels" @Html.Raw(subAktivitasNilaiBLdanAlrtwList.AL_Barrels.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBLdanAlrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBLdanAlrtwList.RowCount)_SubAktivitasNilaiBLdanALRTW_AL_Barrels" class="el_SubAktivitasNilaiBLdanALRTW_AL_Barrels">
<span @Html.Raw(subAktivitasNilaiBLdanAlrtwList.AL_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBLdanAlrtwList.AL_Barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBLdanAlrtwList.AL_Barrels.Visible (end) *@
    @if (subAktivitasNilaiBLdanAlrtwList.AL_LT.Visible) { // subAktivitasNilaiBLdanAlrtwList.AL_LT.Visible (begin)
        <td data-name="AL_LT" @Html.Raw(subAktivitasNilaiBLdanAlrtwList.AL_LT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBLdanAlrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBLdanAlrtwList.RowCount)_SubAktivitasNilaiBLdanALRTW_AL_LT" class="el_SubAktivitasNilaiBLdanALRTW_AL_LT">
<span @Html.Raw(subAktivitasNilaiBLdanAlrtwList.AL_LT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBLdanAlrtwList.AL_LT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBLdanAlrtwList.AL_LT.Visible (end) *@
    @if (subAktivitasNilaiBLdanAlrtwList.AL_MT.Visible) { // subAktivitasNilaiBLdanAlrtwList.AL_MT.Visible (begin)
        <td data-name="AL_MT" @Html.Raw(subAktivitasNilaiBLdanAlrtwList.AL_MT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBLdanAlrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBLdanAlrtwList.RowCount)_SubAktivitasNilaiBLdanALRTW_AL_MT" class="el_SubAktivitasNilaiBLdanALRTW_AL_MT">
<span @Html.Raw(subAktivitasNilaiBLdanAlrtwList.AL_MT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBLdanAlrtwList.AL_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBLdanAlrtwList.AL_MT.Visible (end) *@
    @if (subAktivitasNilaiBLdanAlrtwList.userInput.Visible) { // subAktivitasNilaiBLdanAlrtwList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasNilaiBLdanAlrtwList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBLdanAlrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBLdanAlrtwList.RowCount)_SubAktivitasNilaiBLdanALRTW_userInput" class="el_SubAktivitasNilaiBLdanALRTW_userInput">
<span @Html.Raw(subAktivitasNilaiBLdanAlrtwList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBLdanAlrtwList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBLdanAlrtwList.userInput.Visible (end) *@
    @if (subAktivitasNilaiBLdanAlrtwList.idProses.Visible) { // subAktivitasNilaiBLdanAlrtwList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasNilaiBLdanAlrtwList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBLdanAlrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBLdanAlrtwList.RowCount)_SubAktivitasNilaiBLdanALRTW_idProses" class="el_SubAktivitasNilaiBLdanALRTW_idProses">
<span @Html.Raw(subAktivitasNilaiBLdanAlrtwList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBLdanAlrtwList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBLdanAlrtwList.idProses.Visible (end) *@
    @if (subAktivitasNilaiBLdanAlrtwList.LastUpdatedBy.Visible) { // subAktivitasNilaiBLdanAlrtwList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasNilaiBLdanAlrtwList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBLdanAlrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBLdanAlrtwList.RowCount)_SubAktivitasNilaiBLdanALRTW_LastUpdatedBy" class="el_SubAktivitasNilaiBLdanALRTW_LastUpdatedBy">
<span @Html.Raw(subAktivitasNilaiBLdanAlrtwList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBLdanAlrtwList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBLdanAlrtwList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasNilaiBLdanAlrtwList.lastUpdatedDate.Visible) { // subAktivitasNilaiBLdanAlrtwList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasNilaiBLdanAlrtwList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBLdanAlrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBLdanAlrtwList.RowCount)_SubAktivitasNilaiBLdanALRTW_lastUpdatedDate" class="el_SubAktivitasNilaiBLdanALRTW_lastUpdatedDate">
<span @Html.Raw(subAktivitasNilaiBLdanAlrtwList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBLdanAlrtwList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBLdanAlrtwList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasNilaiBLdanAlrtwList.NoReferensi.Visible) { // subAktivitasNilaiBLdanAlrtwList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasNilaiBLdanAlrtwList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBLdanAlrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBLdanAlrtwList.RowCount)_SubAktivitasNilaiBLdanALRTW_NoReferensi" class="el_SubAktivitasNilaiBLdanALRTW_NoReferensi">
<span @Html.Raw(subAktivitasNilaiBLdanAlrtwList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBLdanAlrtwList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBLdanAlrtwList.NoReferensi.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasNilaiBLdanAlrtwList.ListOptions.RenderBody("right", subAktivitasNilaiBLdanAlrtwList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasNilaiBLdanAlrtwList.RowIndex, "$rowindex$"))
        subAktivitasNilaiBLdanAlrtwList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasNilaiBLdanAlrtwList.IsCopy || subAktivitasNilaiBLdanAlrtwList.IsAdd) && subAktivitasNilaiBLdanAlrtwList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasNilaiBLdanAlrtwList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasNilaiBLdanAlrtwList.CurrentAction) && !subAktivitasNilaiBLdanAlrtwList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasNilaiBLdanAlrtwList.CloseRecordset(); }
@if (!subAktivitasNilaiBLdanAlrtwList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasNilaiBLdanAlrtwList.IsGridAdd && !(subAktivitasNilaiBLdanAlrtwList.IsGridEdit && subAktivitasNilaiBLdanAlrtwList.ModalGridEdit) && !subAktivitasNilaiBLdanAlrtwList.IsMultiEdit) {
@Html.Raw(subAktivitasNilaiBLdanAlrtwList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasNilaiBLdanAlrtwList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasNilaiBLdanAlrtwList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasNilaiBLdanAlrtwList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasNilaiBLdanAlrtwList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasNilaiBLdanAlrtwList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasNilaiBLdanALRTW");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
