@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputNilaiBLnAlView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputNilaiBLnAlView.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputNilaiBLnAlView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @subAktivitasFormInputNilaiBLnAlView.ExportOptions.RenderBody()
    @subAktivitasFormInputNilaiBLnAlView.OtherOptions.RenderBody()
</div>
}
@subAktivitasFormInputNilaiBLnAlView.ShowPageHeader()
@subAktivitasFormInputNilaiBLnAlView.ShowMessages()
<main class="view">
<form name="fSubAktivitasFormInputNilaiBLnALview" id="fSubAktivitasFormInputNilaiBLnALview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!subAktivitasFormInputNilaiBLnAlView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputNilaiBLnAlView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputNilaiBLnAL: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fSubAktivitasFormInputNilaiBLnALview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputNilaiBLnALview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputNilaiBLnAlView.IsModal)">
<table class="@(subAktivitasFormInputNilaiBLnAlView.TableClass)">
@if (subAktivitasFormInputNilaiBLnAlView.id.Visible) { // subAktivitasFormInputNilaiBLnAlView.id.Visible (begin)
    <tr id="r_id" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.id.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiBLnAlView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_id">@Html.Raw(subAktivitasFormInputNilaiBLnAlView.id.Caption)</span></td>
        <td data-name="id" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.id.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_id">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlView.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlView.id.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiBLnAlView.id.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlView.idAktifitas.Visible) { // subAktivitasFormInputNilaiBLnAlView.idAktifitas.Visible (begin)
    <tr id="r_idAktifitas" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.idAktifitas.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiBLnAlView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_idAktifitas">@Html.Raw(subAktivitasFormInputNilaiBLnAlView.idAktifitas.Caption)</span></td>
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_idAktifitas">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlView.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlView.idAktifitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiBLnAlView.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlView.idProses.Visible) { // subAktivitasFormInputNilaiBLnAlView.idProses.Visible (begin)
    <tr id="r_idProses" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.idProses.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiBLnAlView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_idProses">@Html.Raw(subAktivitasFormInputNilaiBLnAlView.idProses.Caption)</span></td>
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_idProses">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlView.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlView.idProses.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiBLnAlView.idProses.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlView.NoReferensi.Visible) { // subAktivitasFormInputNilaiBLnAlView.NoReferensi.Visible (begin)
    <tr id="r_NoReferensi" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.NoReferensi.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiBLnAlView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_NoReferensi">@Html.Raw(subAktivitasFormInputNilaiBLnAlView.NoReferensi.Caption)</span></td>
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_NoReferensi">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlView.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlView.NoReferensi.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiBLnAlView.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlView.BL_KLObs.Visible) { // subAktivitasFormInputNilaiBLnAlView.BL_KLObs.Visible (begin)
    <tr id="r_BL_KLObs" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.BL_KLObs.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiBLnAlView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_BL_KLObs">@Html.Raw(subAktivitasFormInputNilaiBLnAlView.BL_KLObs.Caption)</span></td>
        <td data-name="BL_KLObs" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.BL_KLObs.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_BL_KLObs">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlView.BL_KLObs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlView.BL_KLObs.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiBLnAlView.BL_KLObs.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlView.BL_KL15.Visible) { // subAktivitasFormInputNilaiBLnAlView.BL_KL15.Visible (begin)
    <tr id="r_BL_KL15" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.BL_KL15.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiBLnAlView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_BL_KL15">@Html.Raw(subAktivitasFormInputNilaiBLnAlView.BL_KL15.Caption)</span></td>
        <td data-name="BL_KL15" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.BL_KL15.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_BL_KL15">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlView.BL_KL15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlView.BL_KL15.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiBLnAlView.BL_KL15.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlView.BL_Barrels.Visible) { // subAktivitasFormInputNilaiBLnAlView.BL_Barrels.Visible (begin)
    <tr id="r_BL_Barrels" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.BL_Barrels.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiBLnAlView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_BL_Barrels">@Html.Raw(subAktivitasFormInputNilaiBLnAlView.BL_Barrels.Caption)</span></td>
        <td data-name="BL_Barrels" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.BL_Barrels.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_BL_Barrels">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlView.BL_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlView.BL_Barrels.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiBLnAlView.BL_Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlView.BL_LT.Visible) { // subAktivitasFormInputNilaiBLnAlView.BL_LT.Visible (begin)
    <tr id="r_BL_LT" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.BL_LT.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiBLnAlView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_BL_LT">@Html.Raw(subAktivitasFormInputNilaiBLnAlView.BL_LT.Caption)</span></td>
        <td data-name="BL_LT" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.BL_LT.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_BL_LT">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlView.BL_LT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlView.BL_LT.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiBLnAlView.BL_LT.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlView.BL_MT.Visible) { // subAktivitasFormInputNilaiBLnAlView.BL_MT.Visible (begin)
    <tr id="r_BL_MT" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.BL_MT.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiBLnAlView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_BL_MT">@Html.Raw(subAktivitasFormInputNilaiBLnAlView.BL_MT.Caption)</span></td>
        <td data-name="BL_MT" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.BL_MT.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_BL_MT">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlView.BL_MT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlView.BL_MT.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiBLnAlView.BL_MT.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlView.AL_KLObs.Visible) { // subAktivitasFormInputNilaiBLnAlView.AL_KLObs.Visible (begin)
    <tr id="r_AL_KLObs" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.AL_KLObs.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiBLnAlView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_AL_KLObs">@Html.Raw(subAktivitasFormInputNilaiBLnAlView.AL_KLObs.Caption)</span></td>
        <td data-name="AL_KLObs" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.AL_KLObs.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_AL_KLObs">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlView.AL_KLObs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlView.AL_KLObs.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiBLnAlView.AL_KLObs.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlView.AL_KL15.Visible) { // subAktivitasFormInputNilaiBLnAlView.AL_KL15.Visible (begin)
    <tr id="r_AL_KL15" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.AL_KL15.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiBLnAlView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_AL_KL15">@Html.Raw(subAktivitasFormInputNilaiBLnAlView.AL_KL15.Caption)</span></td>
        <td data-name="AL_KL15" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.AL_KL15.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_AL_KL15">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlView.AL_KL15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlView.AL_KL15.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiBLnAlView.AL_KL15.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlView.AL_Barrels.Visible) { // subAktivitasFormInputNilaiBLnAlView.AL_Barrels.Visible (begin)
    <tr id="r_AL_Barrels" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.AL_Barrels.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiBLnAlView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_AL_Barrels">@Html.Raw(subAktivitasFormInputNilaiBLnAlView.AL_Barrels.Caption)</span></td>
        <td data-name="AL_Barrels" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.AL_Barrels.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_AL_Barrels">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlView.AL_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlView.AL_Barrels.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiBLnAlView.AL_Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlView.AL_LT.Visible) { // subAktivitasFormInputNilaiBLnAlView.AL_LT.Visible (begin)
    <tr id="r_AL_LT" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.AL_LT.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiBLnAlView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_AL_LT">@Html.Raw(subAktivitasFormInputNilaiBLnAlView.AL_LT.Caption)</span></td>
        <td data-name="AL_LT" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.AL_LT.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_AL_LT">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlView.AL_LT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlView.AL_LT.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiBLnAlView.AL_LT.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlView.AL_MT.Visible) { // subAktivitasFormInputNilaiBLnAlView.AL_MT.Visible (begin)
    <tr id="r_AL_MT" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.AL_MT.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiBLnAlView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_AL_MT">@Html.Raw(subAktivitasFormInputNilaiBLnAlView.AL_MT.Caption)</span></td>
        <td data-name="AL_MT" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.AL_MT.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_AL_MT">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlView.AL_MT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlView.AL_MT.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiBLnAlView.AL_MT.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlView.userInput.Visible) { // subAktivitasFormInputNilaiBLnAlView.userInput.Visible (begin)
    <tr id="r_userInput" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.userInput.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiBLnAlView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_userInput">@Html.Raw(subAktivitasFormInputNilaiBLnAlView.userInput.Caption)</span></td>
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_userInput">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlView.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlView.userInput.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiBLnAlView.userInput.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlView.etlDate.Visible) { // subAktivitasFormInputNilaiBLnAlView.etlDate.Visible (begin)
    <tr id="r_etlDate" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.etlDate.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiBLnAlView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_etlDate">@Html.Raw(subAktivitasFormInputNilaiBLnAlView.etlDate.Caption)</span></td>
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_etlDate">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlView.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlView.etlDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiBLnAlView.etlDate.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlView.LastUpdatedBy.Visible) { // subAktivitasFormInputNilaiBLnAlView.LastUpdatedBy.Visible (begin)
    <tr id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.LastUpdatedBy.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiBLnAlView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_LastUpdatedBy">@Html.Raw(subAktivitasFormInputNilaiBLnAlView.LastUpdatedBy.Caption)</span></td>
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlView.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlView.LastUpdatedBy.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiBLnAlView.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlView.lastUpdatedDate.Visible) { // subAktivitasFormInputNilaiBLnAlView.lastUpdatedDate.Visible (begin)
    <tr id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.lastUpdatedDate.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiBLnAlView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_lastUpdatedDate">@Html.Raw(subAktivitasFormInputNilaiBLnAlView.lastUpdatedDate.Caption)</span></td>
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlView.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlView.lastUpdatedDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiBLnAlView.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputNilaiBLnAlView.StatusAktivitas.Visible) { // subAktivitasFormInputNilaiBLnAlView.StatusAktivitas.Visible (begin)
    <tr id="r_StatusAktivitas" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.StatusAktivitas.RowAttributes)>
        <td class="@(subAktivitasFormInputNilaiBLnAlView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputNilaiBLnAL_StatusAktivitas">@Html.Raw(subAktivitasFormInputNilaiBLnAlView.StatusAktivitas.Caption)</span></td>
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputNilaiBLnAlView.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiBLnAL_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputNilaiBLnAlView.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBLnAlView.StatusAktivitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputNilaiBLnAlView.StatusAktivitas.Visible (end) *@
</table>
@{ subAktivitasFormInputNilaiBLnAlView.CloseRecordset(); }
</form>
</main>
@subAktivitasFormInputNilaiBLnAlView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputNilaiBLnAlView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
