@{
    // View
    View = this;

    // Check action result
    if (subAktivitasInputLogbookPenerimaanPenKonLpgEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasInputLogbookPenerimaanPenKonLpgEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasInputLogbookPenerimaanPenKonLpgEdit.ShowPageHeader()
@subAktivitasInputLogbookPenerimaanPenKonLpgEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasInputLogbookPenerimaanPenKonLPGedit" id="fSubAktivitasInputLogbookPenerimaanPenKonLPGedit" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasInputLogbookPenerimaanPenKonLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasInputLogbookPenerimaanPenKonLPGedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasInputLogbookPenerimaanPenKonLPGedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["Nama_Kapal", [fields.Nama_Kapal.visible && fields.Nama_Kapal.required ? ew.Validators.required(fields.Nama_Kapal.caption) : null], fields.Nama_Kapal.isInvalid],
            ["Tanggal", [fields.Tanggal.visible && fields.Tanggal.required ? ew.Validators.required(fields.Tanggal.caption) : null, ew.Validators.datetime(fields.Tanggal.clientFormatPattern)], fields.Tanggal.isInvalid],
            ["Nama_Kegiatan", [fields.Nama_Kegiatan.visible && fields.Nama_Kegiatan.required ? ew.Validators.required(fields.Nama_Kegiatan.caption) : null], fields.Nama_Kegiatan.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["Density", [fields.Density.visible && fields.Density.required ? ew.Validators.required(fields.Density.caption) : null], fields.Density.isInvalid],
            ["Temperatur", [fields.Temperatur.visible && fields.Temperatur.required ? ew.Validators.required(fields.Temperatur.caption) : null], fields.Temperatur.isInvalid],
            ["Keterangan", [fields.Keterangan.visible && fields.Keterangan.required ? ew.Validators.required(fields.Keterangan.caption) : null], fields.Keterangan.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["SubAktivitasHasilPemeriksaanId", [fields.SubAktivitasHasilPemeriksaanId.visible && fields.SubAktivitasHasilPemeriksaanId.required ? ew.Validators.required(fields.SubAktivitasHasilPemeriksaanId.caption) : null, ew.Validators.integer], fields.SubAktivitasHasilPemeriksaanId.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.OldKeyName)" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasInputLogbookPenerimaanPenKonLpgEdit.id.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.id.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPenKonLPG_id" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.id.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.id.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPenKonLPG_id">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasInputLogbookPenerimaanPenKonLPG" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPenKonLpgEdit.id.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonLpgEdit.idProses.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPenKonLPG_idProses" for="x_idProses" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.idProses.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPenKonLPG_idProses">
<input type="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubAktivitasInputLogbookPenerimaanPenKonLPG" data-field="x_idProses" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.idProses.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPenKonLpgEdit.idProses.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonLpgEdit.idAktifitas.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPenKonLPG_idAktifitas" for="x_idAktifitas" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.idAktifitas.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPenKonLPG_idAktifitas">
<input type="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubAktivitasInputLogbookPenerimaanPenKonLPG" data-field="x_idAktifitas" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.idAktifitas.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPenKonLpgEdit.idAktifitas.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonLpgEdit.NoReferensi.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPenKonLPG_NoReferensi" for="x_NoReferensi" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.NoReferensi.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPenKonLPG_NoReferensi">
<input type="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasInputLogbookPenerimaanPenKonLPG" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.NoReferensi.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPenKonLpgEdit.NoReferensi.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Nama_Kapal.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Nama_Kapal.Visible (begin)
    <div id="r_Nama_Kapal" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Nama_Kapal.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPenKonLPG_Nama_Kapal" for="x_Nama_Kapal" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Nama_Kapal.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Nama_Kapal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Nama_Kapal.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPenKonLPG_Nama_Kapal">
<input type="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Nama_Kapal.InputTextType)" name="x_Nama_Kapal" id="x_Nama_Kapal" data-table="SubAktivitasInputLogbookPenerimaanPenKonLPG" data-field="x_Nama_Kapal" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Nama_Kapal.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Nama_Kapal.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Nama_Kapal.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Nama_Kapal.EditAttributes) aria-describedby="x_Nama_Kapal_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Nama_Kapal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Nama_Kapal.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Nama_Kapal.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Tanggal.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Tanggal.Visible (begin)
    <div id="r_Tanggal" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Tanggal.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPenKonLPG_Tanggal" for="x_Tanggal" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Tanggal.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Tanggal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Tanggal.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPenKonLPG_Tanggal">
<input type="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Tanggal.InputTextType)" name="x_Tanggal" id="x_Tanggal" data-table="SubAktivitasInputLogbookPenerimaanPenKonLPG" data-field="x_Tanggal" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Tanggal.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Tanggal.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Tanggal.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Tanggal.EditAttributes) aria-describedby="x_Tanggal_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Tanggal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Tanggal.GetErrorMessage())</div>
@if (!subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Tanggal.ReadOnly && !subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Tanggal.Disabled && !subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Tanggal.EditAttrs.Is("readonly") && !subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Tanggal.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasInputLogbookPenerimaanPenKonLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasInputLogbookPenerimaanPenKonLPGedit", "x_Tanggal", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Tanggal.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Nama_Kegiatan.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Nama_Kegiatan.Visible (begin)
    <div id="r_Nama_Kegiatan" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Nama_Kegiatan.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPenKonLPG_Nama_Kegiatan" for="x_Nama_Kegiatan" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Nama_Kegiatan.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Nama_Kegiatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Nama_Kegiatan.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPenKonLPG_Nama_Kegiatan">
<input type="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Nama_Kegiatan.InputTextType)" name="x_Nama_Kegiatan" id="x_Nama_Kegiatan" data-table="SubAktivitasInputLogbookPenerimaanPenKonLPG" data-field="x_Nama_Kegiatan" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Nama_Kegiatan.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Nama_Kegiatan.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Nama_Kegiatan.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Nama_Kegiatan.EditAttributes) aria-describedby="x_Nama_Kegiatan_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Nama_Kegiatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Nama_Kegiatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Nama_Kegiatan.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Produk.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Produk.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPenKonLPG_Produk" for="x_Produk" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Produk.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Produk.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPenKonLPG_Produk">
<input type="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasInputLogbookPenerimaanPenKonLPG" data-field="x_Produk" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Produk.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Produk.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Produk.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Density.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Density.Visible (begin)
    <div id="r_Density" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Density.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPenKonLPG_Density" for="x_Density" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Density.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Density.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Density.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPenKonLPG_Density">
<input type="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Density.InputTextType)" name="x_Density" id="x_Density" data-table="SubAktivitasInputLogbookPenerimaanPenKonLPG" data-field="x_Density" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Density.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Density.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Density.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Density.EditAttributes) aria-describedby="x_Density_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Density.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Density.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Density.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Temperatur.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Temperatur.Visible (begin)
    <div id="r_Temperatur" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Temperatur.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPenKonLPG_Temperatur" for="x_Temperatur" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Temperatur.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Temperatur.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Temperatur.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPenKonLPG_Temperatur">
<input type="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Temperatur.InputTextType)" name="x_Temperatur" id="x_Temperatur" data-table="SubAktivitasInputLogbookPenerimaanPenKonLPG" data-field="x_Temperatur" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Temperatur.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Temperatur.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Temperatur.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Temperatur.EditAttributes) aria-describedby="x_Temperatur_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Temperatur.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Temperatur.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Temperatur.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Keterangan.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Keterangan.Visible (begin)
    <div id="r_Keterangan" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Keterangan.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPenKonLPG_Keterangan" for="x_Keterangan" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Keterangan.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Keterangan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Keterangan.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPenKonLPG_Keterangan">
<input type="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Keterangan.InputTextType)" name="x_Keterangan" id="x_Keterangan" data-table="SubAktivitasInputLogbookPenerimaanPenKonLPG" data-field="x_Keterangan" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Keterangan.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Keterangan.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Keterangan.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Keterangan.EditAttributes) aria-describedby="x_Keterangan_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Keterangan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Keterangan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPenKonLpgEdit.Keterangan.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonLpgEdit.userInput.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.userInput.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPenKonLPG_userInput" for="x_userInput" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.userInput.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.userInput.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPenKonLPG_userInput">
<input type="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasInputLogbookPenerimaanPenKonLPG" data-field="x_userInput" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.userInput.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPenKonLpgEdit.userInput.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonLpgEdit.etlDate.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPenKonLPG_etlDate" for="x_etlDate" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.etlDate.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.etlDate.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPenKonLPG_etlDate">
<input type="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasInputLogbookPenerimaanPenKonLPG" data-field="x_etlDate" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.etlDate.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.etlDate.GetErrorMessage())</div>
@if (!subAktivitasInputLogbookPenerimaanPenKonLpgEdit.etlDate.ReadOnly && !subAktivitasInputLogbookPenerimaanPenKonLpgEdit.etlDate.Disabled && !subAktivitasInputLogbookPenerimaanPenKonLpgEdit.etlDate.EditAttrs.Is("readonly") && !subAktivitasInputLogbookPenerimaanPenKonLpgEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasInputLogbookPenerimaanPenKonLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasInputLogbookPenerimaanPenKonLPGedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPenKonLpgEdit.etlDate.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonLpgEdit.LastUpdatedBy.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPenKonLPG_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPenKonLPG_LastUpdatedBy">
<input type="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasInputLogbookPenerimaanPenKonLPG" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPenKonLpgEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonLpgEdit.lastUpdatedDate.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPenKonLPG_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPenKonLPG_lastUpdatedDate">
<input type="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasInputLogbookPenerimaanPenKonLPG" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasInputLogbookPenerimaanPenKonLpgEdit.lastUpdatedDate.ReadOnly && !subAktivitasInputLogbookPenerimaanPenKonLpgEdit.lastUpdatedDate.Disabled && !subAktivitasInputLogbookPenerimaanPenKonLpgEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasInputLogbookPenerimaanPenKonLpgEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasInputLogbookPenerimaanPenKonLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasInputLogbookPenerimaanPenKonLPGedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPenKonLpgEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonLpgEdit.SubAktivitasHasilPemeriksaanId.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgEdit.SubAktivitasHasilPemeriksaanId.Visible (begin)
    <div id="r_SubAktivitasHasilPemeriksaanId" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.SubAktivitasHasilPemeriksaanId.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPenKonLPG_SubAktivitasHasilPemeriksaanId" for="x_SubAktivitasHasilPemeriksaanId" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.SubAktivitasHasilPemeriksaanId.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.SubAktivitasHasilPemeriksaanId.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.SubAktivitasHasilPemeriksaanId.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPenKonLPG_SubAktivitasHasilPemeriksaanId">
<input type="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.SubAktivitasHasilPemeriksaanId.InputTextType)" name="x_SubAktivitasHasilPemeriksaanId" id="x_SubAktivitasHasilPemeriksaanId" data-table="SubAktivitasInputLogbookPenerimaanPenKonLPG" data-field="x_SubAktivitasHasilPemeriksaanId" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.SubAktivitasHasilPemeriksaanId.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.SubAktivitasHasilPemeriksaanId.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.SubAktivitasHasilPemeriksaanId.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.SubAktivitasHasilPemeriksaanId.EditAttributes) aria-describedby="x_SubAktivitasHasilPemeriksaanId_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.SubAktivitasHasilPemeriksaanId.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.SubAktivitasHasilPemeriksaanId.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPenKonLpgEdit.SubAktivitasHasilPemeriksaanId.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasInputLogbookPenerimaanPenKonLpgEdit.CloseRecordset(); }
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasInputLogbookPenerimaanPenKonLPGedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasInputLogbookPenerimaanPenKonLPGedit" data-href="@AppPath(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasInputLogbookPenerimaanPenKonLpgEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasInputLogbookPenerimaanPenKonLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
