@{
    // View
    View = this;

    // Check action result
    if (subAktivitasDataGerbongKetelRtwView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasDataGerbongKetelRtwView.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasDataGerbongKetelRtwView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @subAktivitasDataGerbongKetelRtwView.ExportOptions.RenderBody()
    @subAktivitasDataGerbongKetelRtwView.OtherOptions.RenderBody()
</div>
}
@subAktivitasDataGerbongKetelRtwView.ShowPageHeader()
@subAktivitasDataGerbongKetelRtwView.ShowMessages()
<main class="view">
<form name="fSubAktivitasDataGerbongKetelRTWview" id="fSubAktivitasDataGerbongKetelRTWview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!subAktivitasDataGerbongKetelRtwView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataGerbongKetelRtwView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataGerbongKetelRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fSubAktivitasDataGerbongKetelRTWview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasDataGerbongKetelRTWview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasDataGerbongKetelRtwView.IsModal)">
<table class="@(subAktivitasDataGerbongKetelRtwView.TableClass)">
@if (subAktivitasDataGerbongKetelRtwView.id.Visible) { // subAktivitasDataGerbongKetelRtwView.id.Visible (begin)
    <tr id="r_id" @Html.Raw(subAktivitasDataGerbongKetelRtwView.id.RowAttributes)>
        <td class="@(subAktivitasDataGerbongKetelRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataGerbongKetelRTW_id">@Html.Raw(subAktivitasDataGerbongKetelRtwView.id.Caption)</span></td>
        <td data-name="id" @Html.Raw(subAktivitasDataGerbongKetelRtwView.id.CellAttributes)>
<span id="el_SubAktivitasDataGerbongKetelRTW_id">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwView.id.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwView.id.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataGerbongKetelRtwView.id.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwView.NoReferensi.Visible) { // subAktivitasDataGerbongKetelRtwView.NoReferensi.Visible (begin)
    <tr id="r_NoReferensi" @Html.Raw(subAktivitasDataGerbongKetelRtwView.NoReferensi.RowAttributes)>
        <td class="@(subAktivitasDataGerbongKetelRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataGerbongKetelRTW_NoReferensi">@Html.Raw(subAktivitasDataGerbongKetelRtwView.NoReferensi.Caption)</span></td>
        <td data-name="NoReferensi" @Html.Raw(subAktivitasDataGerbongKetelRtwView.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasDataGerbongKetelRTW_NoReferensi">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwView.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwView.NoReferensi.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataGerbongKetelRtwView.NoReferensi.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwView.idProses.Visible) { // subAktivitasDataGerbongKetelRtwView.idProses.Visible (begin)
    <tr id="r_idProses" @Html.Raw(subAktivitasDataGerbongKetelRtwView.idProses.RowAttributes)>
        <td class="@(subAktivitasDataGerbongKetelRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataGerbongKetelRTW_idProses">@Html.Raw(subAktivitasDataGerbongKetelRtwView.idProses.Caption)</span></td>
        <td data-name="idProses" @Html.Raw(subAktivitasDataGerbongKetelRtwView.idProses.CellAttributes)>
<span id="el_SubAktivitasDataGerbongKetelRTW_idProses">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwView.idProses.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwView.idProses.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataGerbongKetelRtwView.idProses.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwView.idAktifitas.Visible) { // subAktivitasDataGerbongKetelRtwView.idAktifitas.Visible (begin)
    <tr id="r_idAktifitas" @Html.Raw(subAktivitasDataGerbongKetelRtwView.idAktifitas.RowAttributes)>
        <td class="@(subAktivitasDataGerbongKetelRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataGerbongKetelRTW_idAktifitas">@Html.Raw(subAktivitasDataGerbongKetelRtwView.idAktifitas.Caption)</span></td>
        <td data-name="idAktifitas" @Html.Raw(subAktivitasDataGerbongKetelRtwView.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasDataGerbongKetelRTW_idAktifitas">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwView.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwView.idAktifitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataGerbongKetelRtwView.idAktifitas.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwView.StatusAktivitas.Visible) { // subAktivitasDataGerbongKetelRtwView.StatusAktivitas.Visible (begin)
    <tr id="r_StatusAktivitas" @Html.Raw(subAktivitasDataGerbongKetelRtwView.StatusAktivitas.RowAttributes)>
        <td class="@(subAktivitasDataGerbongKetelRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataGerbongKetelRTW_StatusAktivitas">@Html.Raw(subAktivitasDataGerbongKetelRtwView.StatusAktivitas.Caption)</span></td>
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasDataGerbongKetelRtwView.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasDataGerbongKetelRTW_StatusAktivitas">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwView.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwView.StatusAktivitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataGerbongKetelRtwView.StatusAktivitas.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwView.LastUpdatedBy.Visible) { // subAktivitasDataGerbongKetelRtwView.LastUpdatedBy.Visible (begin)
    <tr id="r_LastUpdatedBy" @Html.Raw(subAktivitasDataGerbongKetelRtwView.LastUpdatedBy.RowAttributes)>
        <td class="@(subAktivitasDataGerbongKetelRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataGerbongKetelRTW_LastUpdatedBy">@Html.Raw(subAktivitasDataGerbongKetelRtwView.LastUpdatedBy.Caption)</span></td>
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasDataGerbongKetelRtwView.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasDataGerbongKetelRTW_LastUpdatedBy">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwView.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwView.LastUpdatedBy.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataGerbongKetelRtwView.LastUpdatedBy.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwView.lastUpdatedDate.Visible) { // subAktivitasDataGerbongKetelRtwView.lastUpdatedDate.Visible (begin)
    <tr id="r_lastUpdatedDate" @Html.Raw(subAktivitasDataGerbongKetelRtwView.lastUpdatedDate.RowAttributes)>
        <td class="@(subAktivitasDataGerbongKetelRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataGerbongKetelRTW_lastUpdatedDate">@Html.Raw(subAktivitasDataGerbongKetelRtwView.lastUpdatedDate.Caption)</span></td>
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasDataGerbongKetelRtwView.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasDataGerbongKetelRTW_lastUpdatedDate">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwView.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwView.lastUpdatedDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataGerbongKetelRtwView.lastUpdatedDate.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwView.Shipment.Visible) { // subAktivitasDataGerbongKetelRtwView.Shipment.Visible (begin)
    <tr id="r_Shipment" @Html.Raw(subAktivitasDataGerbongKetelRtwView.Shipment.RowAttributes)>
        <td class="@(subAktivitasDataGerbongKetelRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataGerbongKetelRTW_Shipment">@Html.Raw(subAktivitasDataGerbongKetelRtwView.Shipment.Caption)</span></td>
        <td data-name="Shipment" @Html.Raw(subAktivitasDataGerbongKetelRtwView.Shipment.CellAttributes)>
<span id="el_SubAktivitasDataGerbongKetelRTW_Shipment">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwView.Shipment.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwView.Shipment.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataGerbongKetelRtwView.Shipment.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwView.JenisProduk.Visible) { // subAktivitasDataGerbongKetelRtwView.JenisProduk.Visible (begin)
    <tr id="r_JenisProduk" @Html.Raw(subAktivitasDataGerbongKetelRtwView.JenisProduk.RowAttributes)>
        <td class="@(subAktivitasDataGerbongKetelRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataGerbongKetelRTW_JenisProduk">@Html.Raw(subAktivitasDataGerbongKetelRtwView.JenisProduk.Caption)</span></td>
        <td data-name="JenisProduk" @Html.Raw(subAktivitasDataGerbongKetelRtwView.JenisProduk.CellAttributes)>
<span id="el_SubAktivitasDataGerbongKetelRTW_JenisProduk">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwView.JenisProduk.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwView.JenisProduk.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataGerbongKetelRtwView.JenisProduk.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwView.TanggalTiba.Visible) { // subAktivitasDataGerbongKetelRtwView.TanggalTiba.Visible (begin)
    <tr id="r_TanggalTiba" @Html.Raw(subAktivitasDataGerbongKetelRtwView.TanggalTiba.RowAttributes)>
        <td class="@(subAktivitasDataGerbongKetelRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataGerbongKetelRTW_TanggalTiba">@Html.Raw(subAktivitasDataGerbongKetelRtwView.TanggalTiba.Caption)</span></td>
        <td data-name="TanggalTiba" @Html.Raw(subAktivitasDataGerbongKetelRtwView.TanggalTiba.CellAttributes)>
<span id="el_SubAktivitasDataGerbongKetelRTW_TanggalTiba">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwView.TanggalTiba.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwView.TanggalTiba.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataGerbongKetelRtwView.TanggalTiba.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwView.Nominasi.Visible) { // subAktivitasDataGerbongKetelRtwView.Nominasi.Visible (begin)
    <tr id="r_Nominasi" @Html.Raw(subAktivitasDataGerbongKetelRtwView.Nominasi.RowAttributes)>
        <td class="@(subAktivitasDataGerbongKetelRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataGerbongKetelRTW_Nominasi">@Html.Raw(subAktivitasDataGerbongKetelRtwView.Nominasi.Caption)</span></td>
        <td data-name="Nominasi" @Html.Raw(subAktivitasDataGerbongKetelRtwView.Nominasi.CellAttributes)>
<span id="el_SubAktivitasDataGerbongKetelRTW_Nominasi">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwView.Nominasi.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwView.Nominasi.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataGerbongKetelRtwView.Nominasi.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwView.userInput.Visible) { // subAktivitasDataGerbongKetelRtwView.userInput.Visible (begin)
    <tr id="r_userInput" @Html.Raw(subAktivitasDataGerbongKetelRtwView.userInput.RowAttributes)>
        <td class="@(subAktivitasDataGerbongKetelRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataGerbongKetelRTW_userInput">@Html.Raw(subAktivitasDataGerbongKetelRtwView.userInput.Caption)</span></td>
        <td data-name="userInput" @Html.Raw(subAktivitasDataGerbongKetelRtwView.userInput.CellAttributes)>
<span id="el_SubAktivitasDataGerbongKetelRTW_userInput">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwView.userInput.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwView.userInput.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataGerbongKetelRtwView.userInput.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwView.etlDate.Visible) { // subAktivitasDataGerbongKetelRtwView.etlDate.Visible (begin)
    <tr id="r_etlDate" @Html.Raw(subAktivitasDataGerbongKetelRtwView.etlDate.RowAttributes)>
        <td class="@(subAktivitasDataGerbongKetelRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataGerbongKetelRTW_etlDate">@Html.Raw(subAktivitasDataGerbongKetelRtwView.etlDate.Caption)</span></td>
        <td data-name="etlDate" @Html.Raw(subAktivitasDataGerbongKetelRtwView.etlDate.CellAttributes)>
<span id="el_SubAktivitasDataGerbongKetelRTW_etlDate">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwView.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwView.etlDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataGerbongKetelRtwView.etlDate.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwView.DetailGerbong.Visible) { // subAktivitasDataGerbongKetelRtwView.DetailGerbong.Visible (begin)
    <tr id="r_DetailGerbong" @Html.Raw(subAktivitasDataGerbongKetelRtwView.DetailGerbong.RowAttributes)>
        <td class="@(subAktivitasDataGerbongKetelRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataGerbongKetelRTW_DetailGerbong">@Html.Raw(subAktivitasDataGerbongKetelRtwView.DetailGerbong.Caption)</span></td>
        <td data-name="DetailGerbong" @Html.Raw(subAktivitasDataGerbongKetelRtwView.DetailGerbong.CellAttributes)>
<span id="el_SubAktivitasDataGerbongKetelRTW_DetailGerbong">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwView.DetailGerbong.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwView.DetailGerbong.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataGerbongKetelRtwView.DetailGerbong.Visible (end) *@
@if (subAktivitasDataGerbongKetelRtwView.DetailQuantity.Visible) { // subAktivitasDataGerbongKetelRtwView.DetailQuantity.Visible (begin)
    <tr id="r_DetailQuantity" @Html.Raw(subAktivitasDataGerbongKetelRtwView.DetailQuantity.RowAttributes)>
        <td class="@(subAktivitasDataGerbongKetelRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasDataGerbongKetelRTW_DetailQuantity">@Html.Raw(subAktivitasDataGerbongKetelRtwView.DetailQuantity.Caption)</span></td>
        <td data-name="DetailQuantity" @Html.Raw(subAktivitasDataGerbongKetelRtwView.DetailQuantity.CellAttributes)>
<span id="el_SubAktivitasDataGerbongKetelRTW_DetailQuantity">
<span @Html.Raw(subAktivitasDataGerbongKetelRtwView.DetailQuantity.ViewAttributes)>
@Html.Raw(subAktivitasDataGerbongKetelRtwView.DetailQuantity.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasDataGerbongKetelRtwView.DetailQuantity.Visible (end) *@
</table>
@{ subAktivitasDataGerbongKetelRtwView.CloseRecordset(); }
</form>
</main>
@subAktivitasDataGerbongKetelRtwView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasDataGerbongKetelRtwView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
