@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.ShowPageHeader()
@subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasFormInputLogbookPenerimaanSTSPymBBMedit" id="fSubAktivitasFormInputLogbookPenerimaanSTSPymBBMedit" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputLogbookPenerimaanSTSPymBBM: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasFormInputLogbookPenerimaanSTSPymBBMedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputLogbookPenerimaanSTSPymBBMedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["Nama_Kapal", [fields.Nama_Kapal.visible && fields.Nama_Kapal.required ? ew.Validators.required(fields.Nama_Kapal.caption) : null], fields.Nama_Kapal.isInvalid],
            ["Tanggal", [fields.Tanggal.visible && fields.Tanggal.required ? ew.Validators.required(fields.Tanggal.caption) : null, ew.Validators.datetime(fields.Tanggal.clientFormatPattern)], fields.Tanggal.isInvalid],
            ["Nama_Kegiatan", [fields.Nama_Kegiatan.visible && fields.Nama_Kegiatan.required ? ew.Validators.required(fields.Nama_Kegiatan.caption) : null], fields.Nama_Kegiatan.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["Density", [fields.Density.visible && fields.Density.required ? ew.Validators.required(fields.Density.caption) : null], fields.Density.isInvalid],
            ["Temperatur", [fields.Temperatur.visible && fields.Temperatur.required ? ew.Validators.required(fields.Temperatur.caption) : null], fields.Temperatur.isInvalid],
            ["Keterangan", [fields.Keterangan.visible && fields.Keterangan.required ? ew.Validators.required(fields.Keterangan.caption) : null], fields.Keterangan.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["SubAktivitasHasilPemeriksaanId", [fields.SubAktivitasHasilPemeriksaanId.visible && fields.SubAktivitasHasilPemeriksaanId.required ? ew.Validators.required(fields.SubAktivitasHasilPemeriksaanId.caption) : null, ew.Validators.integer], fields.SubAktivitasHasilPemeriksaanId.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.OldKeyName)" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.id.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.id.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_id" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.id.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.id.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_id">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymBBM" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.id.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.idProses.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_idProses" for="x_idProses" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.idProses.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_idProses">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymBBM" data-field="x_idProses" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.idProses.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.idProses.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.idAktifitas.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_idAktifitas" for="x_idAktifitas" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.idAktifitas.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_idAktifitas">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymBBM" data-field="x_idAktifitas" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.idAktifitas.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.NoReferensi.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_NoReferensi" for="x_NoReferensi" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.NoReferensi.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_NoReferensi">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymBBM" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.NoReferensi.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Nama_Kapal.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Nama_Kapal.Visible (begin)
    <div id="r_Nama_Kapal" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Nama_Kapal.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Nama_Kapal" for="x_Nama_Kapal" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Nama_Kapal.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Nama_Kapal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Nama_Kapal.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Nama_Kapal">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Nama_Kapal.InputTextType)" name="x_Nama_Kapal" id="x_Nama_Kapal" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymBBM" data-field="x_Nama_Kapal" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Nama_Kapal.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Nama_Kapal.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Nama_Kapal.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Nama_Kapal.EditAttributes) aria-describedby="x_Nama_Kapal_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Nama_Kapal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Nama_Kapal.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Nama_Kapal.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Tanggal.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Tanggal.Visible (begin)
    <div id="r_Tanggal" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Tanggal.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Tanggal" for="x_Tanggal" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Tanggal.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Tanggal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Tanggal.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Tanggal">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Tanggal.InputTextType)" name="x_Tanggal" id="x_Tanggal" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymBBM" data-field="x_Tanggal" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Tanggal.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Tanggal.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Tanggal.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Tanggal.EditAttributes) aria-describedby="x_Tanggal_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Tanggal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Tanggal.GetErrorMessage())</div>
@if (!subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Tanggal.ReadOnly && !subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Tanggal.Disabled && !subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Tanggal.EditAttrs.Is("readonly") && !subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Tanggal.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputLogbookPenerimaanSTSPymBBMedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputLogbookPenerimaanSTSPymBBMedit", "x_Tanggal", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Tanggal.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Nama_Kegiatan.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Nama_Kegiatan.Visible (begin)
    <div id="r_Nama_Kegiatan" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Nama_Kegiatan.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Nama_Kegiatan" for="x_Nama_Kegiatan" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Nama_Kegiatan.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Nama_Kegiatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Nama_Kegiatan.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Nama_Kegiatan">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Nama_Kegiatan.InputTextType)" name="x_Nama_Kegiatan" id="x_Nama_Kegiatan" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymBBM" data-field="x_Nama_Kegiatan" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Nama_Kegiatan.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Nama_Kegiatan.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Nama_Kegiatan.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Nama_Kegiatan.EditAttributes) aria-describedby="x_Nama_Kegiatan_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Nama_Kegiatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Nama_Kegiatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Nama_Kegiatan.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Produk.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Produk.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Produk" for="x_Produk" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Produk.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Produk.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Produk">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymBBM" data-field="x_Produk" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Produk.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Produk.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Produk.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Density.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Density.Visible (begin)
    <div id="r_Density" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Density.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Density" for="x_Density" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Density.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Density.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Density.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Density">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Density.InputTextType)" name="x_Density" id="x_Density" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymBBM" data-field="x_Density" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Density.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Density.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Density.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Density.EditAttributes) aria-describedby="x_Density_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Density.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Density.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Density.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Temperatur.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Temperatur.Visible (begin)
    <div id="r_Temperatur" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Temperatur.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Temperatur" for="x_Temperatur" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Temperatur.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Temperatur.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Temperatur.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Temperatur">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Temperatur.InputTextType)" name="x_Temperatur" id="x_Temperatur" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymBBM" data-field="x_Temperatur" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Temperatur.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Temperatur.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Temperatur.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Temperatur.EditAttributes) aria-describedby="x_Temperatur_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Temperatur.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Temperatur.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Temperatur.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Keterangan.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Keterangan.Visible (begin)
    <div id="r_Keterangan" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Keterangan.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Keterangan" for="x_Keterangan" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Keterangan.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Keterangan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Keterangan.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_Keterangan">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Keterangan.InputTextType)" name="x_Keterangan" id="x_Keterangan" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymBBM" data-field="x_Keterangan" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Keterangan.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Keterangan.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Keterangan.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Keterangan.EditAttributes) aria-describedby="x_Keterangan_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Keterangan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Keterangan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.Keterangan.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.userInput.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.userInput.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_userInput" for="x_userInput" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.userInput.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_userInput">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymBBM" data-field="x_userInput" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.userInput.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.userInput.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.etlDate.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_etlDate" for="x_etlDate" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.etlDate.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_etlDate">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymBBM" data-field="x_etlDate" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.etlDate.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.etlDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.etlDate.ReadOnly && !subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.etlDate.Disabled && !subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.etlDate.EditAttrs.Is("readonly") && !subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputLogbookPenerimaanSTSPymBBMedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputLogbookPenerimaanSTSPymBBMedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.etlDate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.LastUpdatedBy.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_LastUpdatedBy">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymBBM" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_lastUpdatedDate">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymBBM" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.ReadOnly && !subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.Disabled && !subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputLogbookPenerimaanSTSPymBBMedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputLogbookPenerimaanSTSPymBBMedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.SubAktivitasHasilPemeriksaanId.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.SubAktivitasHasilPemeriksaanId.Visible (begin)
    <div id="r_SubAktivitasHasilPemeriksaanId" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.SubAktivitasHasilPemeriksaanId.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_SubAktivitasHasilPemeriksaanId" for="x_SubAktivitasHasilPemeriksaanId" class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.SubAktivitasHasilPemeriksaanId.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.SubAktivitasHasilPemeriksaanId.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.SubAktivitasHasilPemeriksaanId.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymBBM_SubAktivitasHasilPemeriksaanId">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.SubAktivitasHasilPemeriksaanId.InputTextType)" name="x_SubAktivitasHasilPemeriksaanId" id="x_SubAktivitasHasilPemeriksaanId" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymBBM" data-field="x_SubAktivitasHasilPemeriksaanId" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.SubAktivitasHasilPemeriksaanId.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.SubAktivitasHasilPemeriksaanId.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.SubAktivitasHasilPemeriksaanId.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.SubAktivitasHasilPemeriksaanId.EditAttributes) aria-describedby="x_SubAktivitasHasilPemeriksaanId_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.SubAktivitasHasilPemeriksaanId.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.SubAktivitasHasilPemeriksaanId.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.SubAktivitasHasilPemeriksaanId.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.CloseRecordset(); }
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasFormInputLogbookPenerimaanSTSPymBBMedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasFormInputLogbookPenerimaanSTSPymBBMedit" data-href="@AppPath(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasFormInputLogbookPenerimaanStsPymBbmEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputLogbookPenerimaanSTSPymBBM");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
