@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputDataGerbongKetelRtwEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputDataGerbongKetelRtwEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasFormInputDataGerbongKetelRtwEdit.ShowPageHeader()
@subAktivitasFormInputDataGerbongKetelRtwEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasFormInputDataGerbongKetelRTWedit" id="fSubAktivitasFormInputDataGerbongKetelRTWedit" class="@(subAktivitasFormInputDataGerbongKetelRtwEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputDataGerbongKetelRtwEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputDataGerbongKetelRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasFormInputDataGerbongKetelRTWedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputDataGerbongKetelRTWedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null], fields.idAktifitas.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null], fields.StatusAktivitas.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null], fields.lastUpdatedDate.isInvalid],
            ["Jns_Produk", [fields.Jns_Produk.visible && fields.Jns_Produk.required ? ew.Validators.required(fields.Jns_Produk.caption) : null], fields.Jns_Produk.isInvalid],
            ["Nominasi", [fields.Nominasi.visible && fields.Nominasi.required ? ew.Validators.required(fields.Nominasi.caption) : null], fields.Nominasi.isInvalid],
            ["Tanggal", [fields.Tanggal.visible && fields.Tanggal.required ? ew.Validators.required(fields.Tanggal.caption) : null, ew.Validators.datetime(fields.Tanggal.clientFormatPattern)], fields.Tanggal.isInvalid],
            ["DetailGerbong", [fields.DetailGerbong.visible && fields.DetailGerbong.required ? ew.Validators.required(fields.DetailGerbong.caption) : null], fields.DetailGerbong.isInvalid],
            ["DetailQuantity", [fields.DetailQuantity.visible && fields.DetailQuantity.required ? ew.Validators.required(fields.DetailQuantity.caption) : null], fields.DetailQuantity.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Client script
    // Write your client script here, no need to add script tags.
    var IdProses = "@subAktivitasFormInputDataGerbongKetelRtwEdit.idProses.CurrentValue";
    var NoReferensi = "@subAktivitasFormInputDataGerbongKetelRtwEdit.NoReferensi.CurrentValue";
    var parent_url = ew.PATH_BASE;
    function handleCustomSubmit(status) {
        let idAktivitas = $("#x_idAktifitas").val();
        const originalStatus = document.querySelector('#el_SubAktivitasFormInputDataGerbongKetelRTW_StatusAktivitas .form-control-plaintext').textContent;
        $.ajax({
            url: parent_url + `api/LookUpList/check_valid_status_aktivitas?idAktivitas=${idAktivitas}&originalStatus=${originalStatus}`,
            type: 'GET',
            success: function (response) {
                if (!response.IsValid){
                    hideLoading();
                    ew.alert(response.Message ?? "Status aktivitas telah diubah oleh pengguna lain");
                    return;
                } else {
                    // Submit form AJAX
                    /* var inputMap = {
                        "#x_DetailGerbong": "Detail Gerbong",
                        "#x_DetailQuantity": "Detail Quantity"
                    };
                    var gerbongValues = [];
                    var quantityValues = [];
                    var totalQty = 0;
                    $('.isi-detail-gerbong').each(function (i) {
                        var gerbong = $(this).val()?.trim() ?? "";
                        gerbong = gerbong.replace(/[;|<>\"'\\\/]/g, '');
                        gerbong = gerbong.replace(/\s+/g, ' ');
                        if (gerbong === "") return;
                        var qty = $('.isi-detail-quantity').eq(i).val()?.trim() ?? "";
                        if (qty === "" || isNaN(qty)) qty = "0";
                        var num = parseFloat(qty);
                        if (num < 0) num = 0;
                        totalQty += num;
                        gerbongValues.push(gerbong);
                        quantityValues.push(num.toString());
                    });
                    var nominasi = parseFloat($('#x_Nominasi').val());
                    if (isNaN(nominasi)) nominasi = 0;
                    if (totalQty > nominasi) {
                        hideLoading();
                        ew.alert(
                            `Total Detail Quantity (${totalQty}) tidak boleh melebihi Nominasi (${nominasi}).`
                        );
                        return;
                    }
                    $('#x_DetailGerbong').val(gerbongValues.join(';'));
                    $('#x_DetailQuantity').val(quantityValues.join(';')); */
                    let form = $("#fSubAktivitasFormInputDataGerbongKetelRTWedit");
                    $.ajax({
                        url: form.attr("action"),
                        type: form.attr("method"),
                        data: form.serialize(),
                        success: function (response) {
                            updateStatus(idAktivitas, status);
                        },
                        error: function (xhr, status, error) {
                            hideLoading();
                            ew.alert("Gagal menyimpan data.");
                            console.error("Form submit gagal:", error);
                        }
                    });
                }
            },
            error: function (xhr, status, error) {
                hideLoading();
                ew.alert("Gagal menyimpan data.");
                console.error("Form submit gagal:", error);
            }
        });
    }
    function updateStatus(idAktivitas, status) {
        $.ajax({
            url: parent_url + `api/LookUpList/update_status_aktivitas?idAktivitas=${idAktivitas}&statusAktivitas=${status}`,
            type: 'POST',
            success: function () {
                ew.alert("Perubahan berhasil disimpan!");
                setTimeout(function () {
                    if (status == "Completed" || status == "Completed Edit") {
                        window.location.href = `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`;
                    } else {
                        location.reload();
                    }
                }, 1000);
            },
            error: function (xhr, status, error) {
                ew.alert("Status gagal diperbarui.");
                console.error("Update status gagal:", error);
            },
            complete: function () {
                hideLoading();
            }
        });
    }
    function reverseStatus(status, catatan) {
        showLoading();
        let idAktivitas = $("#x_idAktifitas").val();
        $.ajax({
                url: parent_url + `api/LookUpList/update_status_aktivitas-v2`,
                type: 'POST',
                data: JSON.stringify({ IdAktivitas: idAktivitas, StatusAktivitas: status, Catatan: catatan ?? null }),
                contentType: 'application/json',
                success: function () {
                    $.ajax({
                        url: parent_url + 'api/LookUpList/generate_etc',
                        method: 'POST',
                        data: JSON.stringify({ NoReferensi: NoReferensi }),
                        contentType: 'application/json',
                        success: function (res) {
                            setTimeout(function () {
                                window.location.href = `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`;
                            }, 1000);
                        },
                        error: function (err) {
                            hideLoading();
                            ew.alert('Perubahan gagal disimpan.');
                            console.error(err);
                        },
                    });
                },
                error: function (xhr, status, error) {
                    ew.alert("Status gagal diperbarui.");
                    console.error("Update status gagal:", error);
                },
                complete: function () {
                    hideLoading();
                }
            });
        }
    $(document).on("submit", "#reverseStatusEditingModalForm", function (e) {
        e.preventDefault();
        let catatanText = $("#catatanReverseStatusEditing").val();
        reverseStatus("Editing", catatanText);
    });
    $(document).on("click", "#btn-draft", function () {
        handleCustomSubmit("Draft");
    });
    $(document).on("click", "#btn-completed", function () {
        handleCustomSubmit("Completed");
    });
    $(document).on("click", "#btn-editing", function () {
        handleCustomSubmit("Editing");
    });
    $(document).on("click", "#btn-completedEdit", function () {
        handleCustomSubmit("Completed Edit");
    });
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputDataGerbongKetelRtwEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasFormInputDataGerbongKetelRtwEdit.OldKeyName)" value="@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.OldKey)">
<div class="ew-edit-div d-none"><!-- page* -->
@if (subAktivitasFormInputDataGerbongKetelRtwEdit.NoReferensi.Visible) { // subAktivitasFormInputDataGerbongKetelRtwEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataGerbongKetelRTW_NoReferensi" for="x_NoReferensi" class="@(subAktivitasFormInputDataGerbongKetelRtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputDataGerbongKetelRTW_NoReferensi">@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.NoReferensi.Caption)@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputDataGerbongKetelRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.NoReferensi.CellAttributes)>
<template id="tpx_SubAktivitasFormInputDataGerbongKetelRTW_NoReferensi"><span id="el_SubAktivitasFormInputDataGerbongKetelRTW_NoReferensi">
<span @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.NoReferensi.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasFormInputDataGerbongKetelRtwEdit.NoReferensi.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasFormInputDataGerbongKetelRTW" data-field="x_NoReferensi" data-hidden="1" name="x_NoReferensi" id="x_NoReferensi" value="@Html.Raw(HtmlEncode(subAktivitasFormInputDataGerbongKetelRtwEdit.NoReferensi.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputDataGerbongKetelRtwEdit.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputDataGerbongKetelRtwEdit.idProses.Visible) { // subAktivitasFormInputDataGerbongKetelRtwEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataGerbongKetelRTW_idProses" class="@(subAktivitasFormInputDataGerbongKetelRtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputDataGerbongKetelRTW_idProses">@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.idProses.Caption)@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputDataGerbongKetelRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.idProses.CellAttributes)>
<template id="tpx_SubAktivitasFormInputDataGerbongKetelRTW_idProses"><span id="el_SubAktivitasFormInputDataGerbongKetelRTW_idProses">
<span @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.idProses.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.idProses.DisplayValue(subAktivitasFormInputDataGerbongKetelRtwEdit.idProses.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasFormInputDataGerbongKetelRTW" data-field="x_idProses" data-hidden="1" name="x_idProses" id="x_idProses" value="@Html.Raw(HtmlEncode(subAktivitasFormInputDataGerbongKetelRtwEdit.idProses.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputDataGerbongKetelRtwEdit.idProses.Visible (end) *@
@if (subAktivitasFormInputDataGerbongKetelRtwEdit.idAktifitas.Visible) { // subAktivitasFormInputDataGerbongKetelRtwEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataGerbongKetelRTW_idAktifitas" class="@(subAktivitasFormInputDataGerbongKetelRtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputDataGerbongKetelRTW_idAktifitas">@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.idAktifitas.Caption)@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputDataGerbongKetelRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.idAktifitas.CellAttributes)>
<template id="tpx_SubAktivitasFormInputDataGerbongKetelRTW_idAktifitas"><span id="el_SubAktivitasFormInputDataGerbongKetelRTW_idAktifitas">
<span @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.idAktifitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.idAktifitas.DisplayValue(subAktivitasFormInputDataGerbongKetelRtwEdit.idAktifitas.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasFormInputDataGerbongKetelRTW" data-field="x_idAktifitas" data-hidden="1" name="x_idAktifitas" id="x_idAktifitas" value="@Html.Raw(HtmlEncode(subAktivitasFormInputDataGerbongKetelRtwEdit.idAktifitas.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputDataGerbongKetelRtwEdit.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputDataGerbongKetelRtwEdit.StatusAktivitas.Visible) { // subAktivitasFormInputDataGerbongKetelRtwEdit.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.StatusAktivitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataGerbongKetelRTW_StatusAktivitas" class="@(subAktivitasFormInputDataGerbongKetelRtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputDataGerbongKetelRTW_StatusAktivitas">@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.StatusAktivitas.Caption)@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputDataGerbongKetelRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.StatusAktivitas.CellAttributes)>
<template id="tpx_SubAktivitasFormInputDataGerbongKetelRTW_StatusAktivitas"><span id="el_SubAktivitasFormInputDataGerbongKetelRTW_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.StatusAktivitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.StatusAktivitas.DisplayValue(subAktivitasFormInputDataGerbongKetelRtwEdit.StatusAktivitas.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasFormInputDataGerbongKetelRTW" data-field="x_StatusAktivitas" data-hidden="1" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@Html.Raw(HtmlEncode(subAktivitasFormInputDataGerbongKetelRtwEdit.StatusAktivitas.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputDataGerbongKetelRtwEdit.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputDataGerbongKetelRtwEdit.LastUpdatedBy.Visible) { // subAktivitasFormInputDataGerbongKetelRtwEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataGerbongKetelRTW_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasFormInputDataGerbongKetelRtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputDataGerbongKetelRTW_LastUpdatedBy">@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputDataGerbongKetelRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.LastUpdatedBy.CellAttributes)>
<template id="tpx_SubAktivitasFormInputDataGerbongKetelRTW_LastUpdatedBy"><span id="el_SubAktivitasFormInputDataGerbongKetelRTW_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.LastUpdatedBy.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasFormInputDataGerbongKetelRtwEdit.LastUpdatedBy.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasFormInputDataGerbongKetelRTW" data-field="x_LastUpdatedBy" data-hidden="1" name="x_LastUpdatedBy" id="x_LastUpdatedBy" value="@Html.Raw(HtmlEncode(subAktivitasFormInputDataGerbongKetelRtwEdit.LastUpdatedBy.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputDataGerbongKetelRtwEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputDataGerbongKetelRtwEdit.lastUpdatedDate.Visible) { // subAktivitasFormInputDataGerbongKetelRtwEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataGerbongKetelRTW_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasFormInputDataGerbongKetelRtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputDataGerbongKetelRTW_lastUpdatedDate">@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputDataGerbongKetelRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.lastUpdatedDate.CellAttributes)>
<template id="tpx_SubAktivitasFormInputDataGerbongKetelRTW_lastUpdatedDate"><span id="el_SubAktivitasFormInputDataGerbongKetelRTW_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.lastUpdatedDate.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasFormInputDataGerbongKetelRtwEdit.lastUpdatedDate.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasFormInputDataGerbongKetelRTW" data-field="x_lastUpdatedDate" data-hidden="1" name="x_lastUpdatedDate" id="x_lastUpdatedDate" value="@Html.Raw(HtmlEncode(subAktivitasFormInputDataGerbongKetelRtwEdit.lastUpdatedDate.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputDataGerbongKetelRtwEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputDataGerbongKetelRtwEdit.Jns_Produk.Visible) { // subAktivitasFormInputDataGerbongKetelRtwEdit.Jns_Produk.Visible (begin)
    <div id="r_Jns_Produk" @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.Jns_Produk.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataGerbongKetelRTW_Jns_Produk" class="@(subAktivitasFormInputDataGerbongKetelRtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputDataGerbongKetelRTW_Jns_Produk">@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.Jns_Produk.Caption)@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.Jns_Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputDataGerbongKetelRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.Jns_Produk.CellAttributes)>
<template id="tpx_SubAktivitasFormInputDataGerbongKetelRTW_Jns_Produk"><span id="el_SubAktivitasFormInputDataGerbongKetelRTW_Jns_Produk">
<span @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.Jns_Produk.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.Jns_Produk.DisplayValue(subAktivitasFormInputDataGerbongKetelRtwEdit.Jns_Produk.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasFormInputDataGerbongKetelRTW" data-field="x_Jns_Produk" data-hidden="1" name="x_Jns_Produk" id="x_Jns_Produk" value="@Html.Raw(HtmlEncode(subAktivitasFormInputDataGerbongKetelRtwEdit.Jns_Produk.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputDataGerbongKetelRtwEdit.Jns_Produk.Visible (end) *@
@if (subAktivitasFormInputDataGerbongKetelRtwEdit.Nominasi.Visible) { // subAktivitasFormInputDataGerbongKetelRtwEdit.Nominasi.Visible (begin)
    <div id="r_Nominasi" @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.Nominasi.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataGerbongKetelRTW_Nominasi" for="x_Nominasi" class="@(subAktivitasFormInputDataGerbongKetelRtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputDataGerbongKetelRTW_Nominasi">@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.Nominasi.Caption)@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.Nominasi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputDataGerbongKetelRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.Nominasi.CellAttributes)>
<template id="tpx_SubAktivitasFormInputDataGerbongKetelRTW_Nominasi"><span id="el_SubAktivitasFormInputDataGerbongKetelRTW_Nominasi">
<span @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.Nominasi.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasFormInputDataGerbongKetelRtwEdit.Nominasi.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasFormInputDataGerbongKetelRTW" data-field="x_Nominasi" data-hidden="1" name="x_Nominasi" id="x_Nominasi" value="@Html.Raw(HtmlEncode(subAktivitasFormInputDataGerbongKetelRtwEdit.Nominasi.CurrentValue))">
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputDataGerbongKetelRtwEdit.Nominasi.Visible (end) *@
@if (subAktivitasFormInputDataGerbongKetelRtwEdit.Tanggal.Visible) { // subAktivitasFormInputDataGerbongKetelRtwEdit.Tanggal.Visible (begin)
    <div id="r_Tanggal" @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.Tanggal.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataGerbongKetelRTW_Tanggal" for="x_Tanggal" class="@(subAktivitasFormInputDataGerbongKetelRtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputDataGerbongKetelRTW_Tanggal">@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.Tanggal.Caption)@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.Tanggal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputDataGerbongKetelRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.Tanggal.CellAttributes)>
<template id="tpx_SubAktivitasFormInputDataGerbongKetelRTW_Tanggal"><span id="el_SubAktivitasFormInputDataGerbongKetelRTW_Tanggal">
<input type="@(subAktivitasFormInputDataGerbongKetelRtwEdit.Tanggal.InputTextType)" name="x_Tanggal" id="x_Tanggal" data-table="SubAktivitasFormInputDataGerbongKetelRTW" data-field="x_Tanggal" value="@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.Tanggal.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputDataGerbongKetelRtwEdit.Tanggal.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputDataGerbongKetelRtwEdit.Tanggal.FormatPattern)"@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.Tanggal.EditAttributes) aria-describedby="x_Tanggal_help">
@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.Tanggal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.Tanggal.GetErrorMessage())</div>
@if (!subAktivitasFormInputDataGerbongKetelRtwEdit.Tanggal.ReadOnly && !subAktivitasFormInputDataGerbongKetelRtwEdit.Tanggal.Disabled && !subAktivitasFormInputDataGerbongKetelRtwEdit.Tanggal.EditAttrs.Is("readonly") && !subAktivitasFormInputDataGerbongKetelRtwEdit.Tanggal.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputDataGerbongKetelRTWedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputDataGerbongKetelRTWedit", "x_Tanggal", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputDataGerbongKetelRtwEdit.Tanggal.Visible (end) *@
@if (subAktivitasFormInputDataGerbongKetelRtwEdit.DetailGerbong.Visible) { // subAktivitasFormInputDataGerbongKetelRtwEdit.DetailGerbong.Visible (begin)
    <div id="r_DetailGerbong" @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.DetailGerbong.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataGerbongKetelRTW_DetailGerbong" for="x_DetailGerbong" class="@(subAktivitasFormInputDataGerbongKetelRtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputDataGerbongKetelRTW_DetailGerbong">@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.DetailGerbong.Caption)@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.DetailGerbong.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputDataGerbongKetelRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.DetailGerbong.CellAttributes)>
<template id="tpx_SubAktivitasFormInputDataGerbongKetelRTW_DetailGerbong"><span id="el_SubAktivitasFormInputDataGerbongKetelRTW_DetailGerbong">
<input type="@(subAktivitasFormInputDataGerbongKetelRtwEdit.DetailGerbong.InputTextType)" name="x_DetailGerbong" id="x_DetailGerbong" data-table="SubAktivitasFormInputDataGerbongKetelRTW" data-field="x_DetailGerbong" value="@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.DetailGerbong.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputDataGerbongKetelRtwEdit.DetailGerbong.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputDataGerbongKetelRtwEdit.DetailGerbong.FormatPattern)"@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.DetailGerbong.EditAttributes) aria-describedby="x_DetailGerbong_help">
@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.DetailGerbong.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.DetailGerbong.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputDataGerbongKetelRtwEdit.DetailGerbong.Visible (end) *@
@if (subAktivitasFormInputDataGerbongKetelRtwEdit.DetailQuantity.Visible) { // subAktivitasFormInputDataGerbongKetelRtwEdit.DetailQuantity.Visible (begin)
    <div id="r_DetailQuantity" @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.DetailQuantity.RowAttributes)>
        <label id="elh_SubAktivitasFormInputDataGerbongKetelRTW_DetailQuantity" for="x_DetailQuantity" class="@(subAktivitasFormInputDataGerbongKetelRtwEdit.LeftColumnClass)"><template id="tpc_SubAktivitasFormInputDataGerbongKetelRTW_DetailQuantity">@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.DetailQuantity.Caption)@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.DetailQuantity.Required ? Language.Phrase("FieldRequiredIndicator") : "")</template></label>
        <div class="@(subAktivitasFormInputDataGerbongKetelRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.DetailQuantity.CellAttributes)>
<template id="tpx_SubAktivitasFormInputDataGerbongKetelRTW_DetailQuantity"><span id="el_SubAktivitasFormInputDataGerbongKetelRTW_DetailQuantity">
<input type="@(subAktivitasFormInputDataGerbongKetelRtwEdit.DetailQuantity.InputTextType)" name="x_DetailQuantity" id="x_DetailQuantity" data-table="SubAktivitasFormInputDataGerbongKetelRTW" data-field="x_DetailQuantity" value="@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.DetailQuantity.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputDataGerbongKetelRtwEdit.DetailQuantity.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputDataGerbongKetelRtwEdit.DetailQuantity.FormatPattern)"@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.DetailQuantity.EditAttributes) aria-describedby="x_DetailQuantity_help">
@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.DetailQuantity.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.DetailQuantity.GetErrorMessage())</div>
</span></template>
</div></div>
    </div>
} @* subAktivitasFormInputDataGerbongKetelRtwEdit.DetailQuantity.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="SubAktivitasFormInputDataGerbongKetelRTW" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasFormInputDataGerbongKetelRtwEdit.id.CurrentValue))">
<div id="tpd_SubAktivitasFormInputDataGerbongKetelRTWedit" class="ew-custom-template"></div>
<template id="tpm_SubAktivitasFormInputDataGerbongKetelRTWedit">
<div id="ct_subAktivitasFormInputDataGerbongKetelRtwEdit">@* @{
    List<Dictionary<string, object>> resultList = new List<Dictionary<string, object>>();
    string NoReferensi = subAktivitasFormInputDataGerbongKetelRtwEdit.NoReferensi.CurrentValue?.ToString();
    string IdAktivitas = subAktivitasFormInputDataGerbongKetelRtwEdit.idAktifitas.CurrentValue?.ToString();
    string TipeProses = "", Caption = "(KL)";
    string sqlQuery = @"
        WITH GerbongSplit AS (
            SELECT
                SA.id,
                value AS DetailGerbong,
                ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS rn
            FROM subAktivitasFormInputDataGerbongKetelRtw SA
            CROSS APPLY STRING_SPLIT(SA.DetailGerbong, ';')
            WHERE SA.NoReferensi = @NoReferensi
        ),
        QuantitySplit AS (
            SELECT
                SA.id,
                value AS DetailQuantity,
                ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS rn
            FROM subAktivitasFormInputDataGerbongKetelRtw SA
            CROSS APPLY STRING_SPLIT(ISNULL(SA.DetailQuantity, '0'), ';')
            WHERE SA.NoReferensi = @NoReferensi
        )
        SELECT
            g.DetailGerbong,
            q.DetailQuantity
        FROM GerbongSplit g
        LEFT JOIN QuantitySplit q
            ON g.id = q.id
        AND g.rn = q.rn
        ORDER BY g.rn;
    ";
    using (SqlConnection sqlConnection = GetConnection("Db").OpenConnection()) {
        using (SqlCommand command = new SqlCommand(sqlQuery, sqlConnection)) {
            command.Parameters.AddWithValue("@NoReferensi", NoReferensi);
            using (SqlDataReader rs = command.ExecuteReader()) {
                while (rs.Read()) {
                    Dictionary<string, object> row = new Dictionary<string, object>();
                    for (int i = 0; i < rs.FieldCount; i++) {
                        row[rs.GetName(i)] = rs[i] != null? rs[i] : "";
                    }
                    resultList.Add(row);
                }
            }
        }
        sqlQuery = "SELECT TOP 1 TipeProses FROM Aktivitas WHERE IdAktivitas = @IdAktivitas";
        using (SqlCommand command = new SqlCommand(sqlQuery, sqlConnection)) {
            command.Parameters.AddWithValue("@IdAktivitas", IdAktivitas);
            using (SqlDataReader rs = command.ExecuteReader()) {
                if (rs.Read()) {
                    TipeProses = rs[0] != null? rs[0].ToString() : "";
                }
            }
        }
    }
} *@
<style>
    .view-page-table td {
        white-space: normal !important;
        word-wrap: break-word;
    }
    .view-page-table th {
        background-color: #006BB7;
    }
    .body-table {
        background-color: #fff;
    }
    .header-table {
        background-color: #006BB7 !important;
        color: #fff !important;
    }
    .view-page-table {
        table-layout: fixed;
    }
    .tab-content {
    display: none;
    }
    .tab-content.active {
        display: block;
    }
    .ag-theme-quartz .ag-header {
        background-color: #006BB7 !important;
    }
    .ag-theme-quartz .ag-header-cell-label {
        color: #ffffff !important;
    }
    .ag-theme-quartz .ag-icon-filter {
        color: #ffffff !important;
    }
    .rotate-down {
        transform: rotate(90deg);
        transition: transform 0.3s ease;
    }
    .rotate-right {
        transform: rotate(0deg);
        transition: transform 0.3s ease;
    }
</style>
<div class="row mb-2">
    <div class="col-2 fw-bold d-flex align-items-center">
        @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.NoReferensi.Caption)
    </div>
    <div class="col-10">
        <slot class="ew-slot" name="tpx_SubAktivitasFormInputDataGerbongKetelRTW_NoReferensi"></slot>
    </div>
</div>
<div class="row mb-2">
    <div class="col-2 fw-bold d-flex align-items-center">
        @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.idProses.Caption)
    </div>
    <div class="col-10">
        <slot class="ew-slot" name="tpx_SubAktivitasFormInputDataGerbongKetelRTW_idProses"></slot>
    </div>
</div>
<div class="row mb-2">
    <div class="col-2 fw-bold d-flex align-items-center">
        @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.idAktifitas.Caption)
    </div>
    <div class="col-10">
        <slot class="ew-slot" name="tpx_SubAktivitasFormInputDataGerbongKetelRTW_idAktifitas"></slot>
    </div>
</div>
<div class="row mb-3">
    <div class="col-2 fw-bold d-flex align-items-center">
        @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.StatusAktivitas.Caption)
    </div>
    <div class="col-10">
        <slot class="ew-slot" name="tpx_SubAktivitasFormInputDataGerbongKetelRTW_StatusAktivitas"></slot>
    </div>
</div>
<div class="row mb-3">
    <div class="col-2 fw-bold d-flex align-items-center">
        @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.LastUpdatedBy.Caption)
    </div>
    <div class="col-10 d-flex gap-3">
        <slot class="ew-slot" name="tpx_SubAktivitasFormInputDataGerbongKetelRTW_LastUpdatedBy"></slot>
        <button type="button" class="btn btn-primary ew-btn ps-2" expand-log="false">
            <i class="fa-solid fa-caret-right fa-2xl me-2 caret-icon rotate-right"></i>
            Log History
            <i class="fa-solid fa-clock-rotate-left ms-1"></i> 
        </button>
    </div>
</div>
<div id="log-table-row" class="d-none row m-0">
    <div class="p-0">
        <div id="log-table-wrapper" style="overflow: hidden; transition: all 0.6s ease; max-height: 0;">
            <div id="myGrid" class="ag-theme-quartz w-75 my-3" style="height: 300px;"></div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-2 fw-bold d-flex align-items-center">
        @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.lastUpdatedDate.Caption)
    </div>
    <div class="col-10">
        <slot class="ew-slot" name="tpx_SubAktivitasFormInputDataGerbongKetelRTW_lastUpdatedDate"></slot>
    </div>
</div>
<div class="row mb-3">
    <div class="col-2 fw-bold d-flex align-items-center">
        @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.Jns_Produk.Caption)
    </div>
    <div class="col-10">
        <slot class="ew-slot" name="tpx_SubAktivitasFormInputDataGerbongKetelRTW_Jns_Produk"></slot>
    </div>
</div>
<div class="row mb-3">
    <div class="col-2 fw-bold d-flex align-items-center">
        Nominasi (KL)
    </div>
    <div class="col-10">
        <slot class="ew-slot" name="tpx_SubAktivitasFormInputDataGerbongKetelRTW_Nominasi"></slot>
    </div>
</div>
<div class="row mb-3">
    <div class="col-2 fw-bold d-flex align-items-center">
        @Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.Tanggal.Caption)
    </div>
    <div class="col-10">
        <slot class="ew-slot" name="tpx_SubAktivitasFormInputDataGerbongKetelRTW_Tanggal"></slot>
    </div>
</div>
@* <input type="hidden" id="x_DetailGerbong" name="x_DetailGerbong" />
<input type="hidden" id="x_DetailQuantity" name="x_DetailQuantity" />
<div class="row">
    <div class="col-2">
    </div>
    <div class="col-2">
        <button type="button" id="btnAddGerbong" class="btn btn-primary ew-btn ps-2" expand-log="false">
            + Tambah Gerbong
        </button>
    </div>
</div>
<div class="row">
    <div class="col-2">
    </div>
    <div class="col-10 border rounded p-0 mb-3">
        <table aria-hidden="true" class="table table-hover view-page-table w-100 m-0">
            <tbody id="gerbongBody">
                <tr>
                    <td class="fw-bold header-table" style="width:80px;"></td>
                    <td class="fw-bold header-table">Gerbong</td>
                    <td class="fw-bold header-table">Quantity (KL)</td>
                </tr>
                @for (int i = 0; i < resultList.Count; i++)
                {
                    var row = resultList[i];
                    var idx = i + 1;
                    var DetailGerbong = row.ContainsKey("DetailGerbong") ? row["DetailGerbong"]?.ToString() : "";
                    var DetailQuantity = row.ContainsKey("DetailQuantity") ? row["DetailQuantity"]?.ToString() : "";
                    <tr>
                        <td class="text-center">
                            <button type="button" class="btn btn-sm btn-danger btn-remove-row"> ✕ </button>
                        </td>
                        <td class="text-break body-table"> 
                            <input type="text"
                                class="form-control isi-detail-gerbong"
                                name="anak[@i].DetailGerbong"
                                value="@DetailGerbong" 
                                style="width: 100%;"/>
                        </td>
                        <td class="text-break body-table"> 
                            <input type="text"
                                class="form-control input-numeric isi-detail-quantity"
                                name="anak[@i].DetailQuantity"
                                value="@DetailQuantity" 
                                style="width: 100%;"/>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function() {
        $(".input-numeric")
            .attr('inputmode', 'numeric')
            .on('input', function () {
                let val = $(this).val();
                let isNegative = val.startsWith('-');
                val = val.replace(',', '.');
                val = val.replace(/[^0-9.]/g, '');
                const parts = val.split('.');
                if (parts.length > 2) {
                    val = parts[0] + '.' + parts.slice(1).join('');
                }
                if (isNegative) {
                    val = '-' + val;
                }
                $(this).val(val);
            });
    });
    $('#btnAddGerbong').on('click', function () {
        var tbody = $('#gerbongBody');
        var idx = tbody.children('tr').length;
        var rowHtml = `
            <tr>
                <td class="text-center">
                    <button type="button"
                            class="btn btn-sm btn-danger btn-remove-row">
                        ✕
                    </button>
                </td>
                <td>
                    <input type="text"
                        class="form-control isi-detail-gerbong"
                        name="anak[${idx}].DetailGerbong"
                        data-idx="${idx}"
                        placeholder="Gerbong ${idx}">
                </td>
                <td>
                    <input type="text"
                        class="form-control input-numeric isi-detail-quantity"
                        name="anak[${idx}].DetailQuantity"
                        data-idx="${idx}"
                        placeholder="0">
                </td>
            </tr>
        `;
        tbody.append(rowHtml);
    });
    $(document).on('click', '.btn-remove-row', function () {
        $(this).closest('tr').remove();
        reindexRows();
    });
    function reindexRows() {
        $('#gerbongBody tr').each(function (i) {
            $(this).find('.isi-detail-gerbong')
                .attr('name', `anak[${i}].DetailGerbong`)
                .attr('data-idx', i)
                .attr('placeholder', `Gerbong ${i + 1}`);
            $(this).find('.isi-detail-quantity')
                .attr('name', `anak[${i}].DetailQuantity`)
                .attr('data-idx', i);
        });
    }
    $(document).on('input', '.isi-detail-gerbong', function () {
        const forb = /[;|<>\"'\\\/]/g;
        let val = $(this).val();
        if (forb.test(val)) {
            $(this).val(val.replace(forb, ''));
        }
    });
</script> *@
</div>
</template>
@{ subAktivitasFormInputDataGerbongKetelRtwEdit.CloseRecordset(); }
@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasFormInputDataGerbongKetelRtwEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasFormInputDataGerbongKetelRTWedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasFormInputDataGerbongKetelRTWedit" data-href="@AppPath(subAktivitasFormInputDataGerbongKetelRtwEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasFormInputDataGerbongKetelRtwEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
<script class="ew-apply-template">
loadjs.ready(ew.applyTemplateId, function() {
    var $ = jQuery;
    ew.templateData = { rows: @Html.Raw(ConvertToJson(subAktivitasFormInputDataGerbongKetelRtwEdit.Rows)) };
    ew.applyTemplate("tpd_SubAktivitasFormInputDataGerbongKetelRTWedit", "tpm_SubAktivitasFormInputDataGerbongKetelRTWedit", "SubAktivitasFormInputDataGerbongKetelRTWedit", "@(subAktivitasFormInputDataGerbongKetelRtwEdit.Export)", "SubAktivitasFormInputDataGerbongKetelRTW", ew.templateData.rows[0], @(subAktivitasFormInputDataGerbongKetelRtwEdit.IsModal ? "true" : "false"));
    loadjs.done("customtemplate");
});
</script>
</main>
@subAktivitasFormInputDataGerbongKetelRtwEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputDataGerbongKetelRTW");
});
</script>
<script>
loadjs.ready("load", function() {
    // Startup script
    var IdReferensi = "@subAktivitasFormInputDataGerbongKetelRtwEdit.NoReferensi.CurrentValue";
    var IdProses = "@subAktivitasFormInputDataGerbongKetelRtwEdit.idProses.CurrentValue";
    var idAktivitas = "@subAktivitasFormInputDataGerbongKetelRtwEdit.idAktifitas.CurrentValue";
    var NamaAktivitas = $('#el_SubAktivitasFormInputDataGerbongKetelRTW_idAktifitas').text();
    var parent_url = ew.PATH_BASE;
    const userLevel = "@CurrentUserLevel()";
    let currentStatusAktivitas = "";
    var steps = [
        { number: 1, label: "Proses Penyaluran", url: `${parent_url}PenyaluranList`, icon: "fa-truck-fast" },
        { number: 2, label: "Proses", url: `${parent_url}ProsesList?cmd=search&x_IdReferensi%5B%5D=${IdReferensi}&search=&searchtype=`, icon: "fa-gears" },
        { number: 3, label: "Aktivitas", url: `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`, icon: "fa-list-check" },
        { number: 4, label: NamaAktivitas, url: '', icon: "fa-file-circle-check" }
    ];
    var currentStep = 4;
    $("<style>")
        .prop("type", "text/css")
        .html(`
            .stepper {
                display: flex;
                counter-reset: step;
                flex-wrap: nowrap;        /* jangan pecah ke bawah */
                overflow-x: auto;         /* scroll horizontal */
                -webkit-overflow-scrolling: touch; /* smooth scroll di mobile */
                padding-bottom: 8px;      /* space biar scroll bar gak nempel */
            }
            .stepper::-webkit-scrollbar {
            height: 6px; /* tipis */
            }
            .stepper::-webkit-scrollbar-thumb {
                background-color: #ccc;
                border-radius: 3px;
            }
            .step {
                width: 150px;
                text-align: center;
                position: relative;
            }
            .step:not(:last-child)::after {
                content: '';
                position: absolute;
                top: 20px;
                right: -50%;
                width: 100%;
                height: 4px;
                background-color: #ccc;
                z-index: 0;
            }
            .step.completed:not(:last-child)::after {
                background-color: #3c6dbd;
            }
            .step-icon {
                width: 36px;
                height: 36px;
                line-height: 36px;
                border-radius: 50%;
                background: #ccc;
                display: inline-block;
                z-index: 1;
                position: relative;
                color: white;
                font-weight: bold;
            }
            .step.active .step-icon {
                background: #3c6dbd;
            }
            .step-label {
                margin-top: 8px;
                font-size: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6px;
                color: #333;
            }
            .step-label {
                color: #3c6dbd !important;
                text-decoration: none;
                margin: 0;
                padding: 0;
            }
            .step-label-not-active {
                color: #CCCCCC !important;
            }
            .ag-theme-quartz .ag-header {
                background-color: #3c6dbd !important;
            }
            .ag-theme-quartz .ag-header-cell-label {
                color: #ffffff !important;
            }
            .ag-theme-quartz .ag-icon-filter {
                color: #ffffff !important;
            }
            .rotate-down {
                transform: rotate(90deg);
                transition: transform 0.3s ease;
            }
            .rotate-right {
                transform: rotate(0deg);
                transition: transform 0.3s ease;
            }
        `)
        .appendTo("head");
    var $stepperWrapper = $('<div class="d-flex border-bottom border-2 pb-2"><div class="stepper"></div></div>');
    var $stepper = $stepperWrapper.find(".stepper");
    steps.forEach(function (step, i) {
        var isActive = step.number === currentStep;
        var isCompleted = step.number < currentStep;
        var stepClass = isActive ? "active" : isCompleted ? "completed" : "";
        var icon, labelContent, html;
        if (isActive) {
            icon = `<div class="step-icon bg-success">${step.number}</div>`;
            labelContent = `<div class="step-label"><p class="text-success mb-1"><i class="fa-solid ${step.icon} me-1 text-success"></i> ${step.label}</p></div>`;
            html = `<div class="step ${stepClass} text-success">${icon}${labelContent}</div>`;
        } else if (isCompleted) {
            icon = `<div class="step-icon" style="background: #3c6dbd;">${step.number}</div>`;
            labelContent = `<div class="step-label"><a href="${step.url}" class="text-primary"><i class="fa-solid ${step.icon} me-1"></i>${step.label}</a></div>`;
            html = `<div class="step ${stepClass}">${icon}${labelContent}</div>`;
        } else {
            icon = `<div class="step-icon">${step.number}</div>`;
            labelContent = `<div class="step-label-not-active"><p style="margin: 0;"><i class="fa-solid ${step.icon} me-1"></i>${step.label}</p></div>`;
            html = `<div class="step ${stepClass} text-secondary">${icon}${labelContent}</div>`;
        }
        $stepper.append(html);
    });
    $(".content-header .container-fluid .row").append($stepperWrapper);
    $("#btn-action").hide();
    $("#btn-cancel").html('<i class="fa-solid fa-ban"></i></i> Cancel');
    const $cancelButton = $("#btn-cancel");
    const idAktifitas = $("#x_idAktifitas").val();

    // --- log aktivitas start ---
    $('#el_SubAktivitasFormInputDataGerbongKetelRTW_LastUpdatedBy').addClass('d-flex gap-3');
    $('#el_SubAktivitasFormInputDataGerbongKetelRTW_LastUpdatedBy').append(`
        <button type="button" class="btn btn-primary ew-btn ps-2" expand-log="false">
            <i class="fa-solid fa-caret-right fa-2xl me-2 caret-icon rotate-right"></i>
            Log History
            <i class="fa-solid fa-clock-rotate-left ms-1"></i> 
        </button>
    `);
    $(document).on('click', 'button[expand-log]', function () {
        const $btn = $(this);
        const isExpanded = $btn.attr('expand-log') === 'true';
        const $row = $('#log-table-row');
        const $wrapper = $('#log-table-wrapper');
        const $caret = $btn.find('.caret-icon');
        if (!isExpanded) {
            $btn.attr('expand-log', 'true');
            $row.removeClass('d-none');
            setTimeout(() => {
                $wrapper.css({
                    maxHeight: '500px'
                });
            }, 10);
            $caret.removeClass('rotate-right').addClass('rotate-down');
        } else {
            $btn.attr('expand-log', 'false');
            $wrapper.css({
                maxHeight: '0'
            });
            setTimeout(() => {
                $row.addClass('d-none');
            }, 600);
            $caret.removeClass('rotate-down').addClass('rotate-right');
        }
    });
    if (idAktivitas && idAktivitas !== "0") {
        $.ajax({
            url: parent_url + `api/LookUpList/sub-aktivitas/startup?idAktivitas=${idAktivitas}`,
            type: 'GET',
            success: function(response) {
                // cek status
                if ($cancelButton.length){
                    let status = response.StatusAktivitas;
                    currentStatusAktivitas = status;
                    let $customButtons = ``;
                    switch (status) {
                        case "Waiting":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-draft">
                                    <i class="fas fa-save"></i> Save
                                </button>
                            `;
                            break;
                        case "Draft":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-draft">
                                    <i class="fas fa-save"></i> Save
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completed">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `
                            break;
                        case "Completed":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-editing">
                                    <i class="fa-solid fa-pen-to-square"></i> Edit
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completedEdit">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `;
                            break;
                        case "Editing":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-editing">
                                    <i class="fa-solid fa-pen-to-square"></i> Edit
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completedEdit">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `;
                            break;
                        case "Completed Edit":
                            if (userLevel === '4'){
                                $customButtons = `
                                    <button type="button" class="btn btn-warning ew-btn ml-2" id="btn-reverse-status">
                                        <i class="fa-solid fa-pen-to-square"></i> Edit 
                                    </button>
                                `;
                            }
                            break;
                    }
                    $cancelButton.before($customButtons);
                }

                // Cek is editable
                if(!response.IsEditable || response.StatusAktivitas === "Completed Edit"){
                    $("#btn-draft").hide();
                    $("#btn-editing").hide();
                    $("#btn-completed").hide();
                    $("#btn-completedEdit").hide();
                    $('input, select, textarea').prop('disabled', true);
                    $('#catatanReverseStatusEditing').prop('disabled', false);
                }

                // Log
                const mappedData = response.LogAktivitas.map(item => ({
                    Aktivitas: item.Aktivitas,
                    Username: item.UserName,
                    StatusAktivitas: item.StatusAktivitas,
                    Tanggal: item.Tanggal,
                    Catatan: item.Catatan
                }));
                $.getScript('https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js', function () {
                        $('#r_LastUpdatedBy').after(`
                            <div id="log-table-row" class="d-none row m-0">
                                <div class="p-0 col-2"></div>
                                <div class="p-0 col-10">
                                    <div id="log-table-wrapper" style="overflow: hidden; transition: all 0.6s ease; max-height: 0;">
                                        <div id="myGrid" class="ag-theme-quartz w-100 my-3" style="height: 300px;"></div>
                                    </div>
                                </div>
                            </div>
                        `);
                        const gridOptions = {
                            rowData: mappedData,
                            columnDefs: [
                                {
                                    headerName: 'No.',
                                    valueGetter: 'node.rowIndex + 1',
                                    width: 80,
                                    filter: false
                                },
                                {
                                    headerName: 'Aktivitas',
                                    field: 'Aktivitas',
                                    flex: 1
                                },
                                {
                                    headerName: 'Username',
                                    field: 'Username',
                                    flex: 1
                                },
                                {
                                    headerName: 'Status Aktivitas',
                                    field: 'StatusAktivitas',
                                    flex: 1
                                },
                                {
                                    headerName: 'Tanggal',
                                    field: 'Tanggal',
                                    flex: 1
                                },
                                {
                                    headerName: 'Catatan',
                                    field: 'Catatan',
                                    flex: 1
                                }
                            ],
                            defaultColDef: {
                                sortable: false,
                                suppressMovable: true,
                                filter: true,
                                resizable: false
                            },
                            rowSelection: 'multiple',
                            suppressRowClickSelection: true,
                            pagination: true,
                            paginationPageSize: 10
                        };
                        const myGridElement = document.querySelector('#myGrid');
                        agGrid.createGrid(myGridElement, gridOptions);
                    });
            },
            error: function(xhr, status, error) {
                ew.alert(xhr.responseJSON.message ?? "Terjadi kesalahan dalam memuat data");
            }
        });
    } else {
        console.warn("Skipping startup API: Invalid IdAktivitas");
        $('button[expand-log]').hide(); 
        $("#btn-draft, #btn-editing, #btn-completed, #btn-completedEdit").hide();
        $('input, select, textarea').prop('disabled', true);
    }
    // --- log aktivitas end ---
     let reverseStatusModal = `<div class="modal fade" id="confirmReverseStatusEditingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header bg-primary">
                        <h1 class="modal-title fs-5" id="confirmReverseStatusEditingModalTitle">Konfirmasi Kembalikan Status</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <form id="reverseStatusEditingModalForm">
                        <div class="modal-body px-2 py-1">
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Catatan:</label>
                                <textarea class="form-control" id="catatanReverseStatusEditing" required rows="4"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnReverseStatusEditingModalCancel">Batal</button>
                            <button type="submit" class="btn btn-primary" id="btnReverseStatusEditingModalSubmit">Lanjutkan</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>`
    $("body").append(reverseStatusModal);
    $("#btnReverseStatusEditingModalCancel").click(function (event) {
        event.preventDefault();
        $("#confirmReverseStatusEditingModal").modal("hide");
    });
    $(document).on("click", "#btn-reverse-status", function () {
        $("#confirmReverseStatusEditingModal").modal("show");
    });
});
</script>
