@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputDataStartPenyaluranRtwList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputDataStartPenyaluranRtwList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputDataStartPenyaluranRtwList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputDataStartPenyaluranRtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputDataStartPenyaluranRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasFormInputDataStartPenyaluranRtwList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasFormInputDataStartPenyaluranRtwList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasFormInputDataStartPenyaluranRtwList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasFormInputDataStartPenyaluranRtwList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasFormInputDataStartPenyaluranRtwList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasFormInputDataStartPenyaluranRtwList.TotalRecords > 0 && subAktivitasFormInputDataStartPenyaluranRtwList.ExportOptions.Visible) {
    subAktivitasFormInputDataStartPenyaluranRtwList.ExportOptions.Render("body");
}
@if (subAktivitasFormInputDataStartPenyaluranRtwList.ImportOptions.Visible) {
    subAktivitasFormInputDataStartPenyaluranRtwList.ImportOptions.Render("body");
}
@if (subAktivitasFormInputDataStartPenyaluranRtwList.SearchOptions.Visible) {
    subAktivitasFormInputDataStartPenyaluranRtwList.SearchOptions.Render("body");
}
@if (subAktivitasFormInputDataStartPenyaluranRtwList.FilterOptions.Visible) {
    subAktivitasFormInputDataStartPenyaluranRtwList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasFormInputDataStartPenyaluranRtwList.IsModal) {
<form name="fSubAktivitasFormInputDataStartPenyaluranRTWsrch" id="fSubAktivitasFormInputDataStartPenyaluranRTWsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasFormInputDataStartPenyaluranRTWsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasFormInputDataStartPenyaluranRtwList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputDataStartPenyaluranRtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputDataStartPenyaluranRTW: currentTable } });
var currentForm;
var fSubAktivitasFormInputDataStartPenyaluranRTWsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputDataStartPenyaluranRTWsrch")
        .setPageId("list")
@if (subAktivitasFormInputDataStartPenyaluranRtwList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasFormInputDataStartPenyaluranRtwList.IsExport() && Empty(subAktivitasFormInputDataStartPenyaluranRtwList.CurrentAction) && subAktivitasFormInputDataStartPenyaluranRtwList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasFormInputDataStartPenyaluranRtwList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasFormInputDataStartPenyaluranRtwList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasFormInputDataStartPenyaluranRtwList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasFormInputDataStartPenyaluranRTWsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputDataStartPenyaluranRtwList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasFormInputDataStartPenyaluranRTWsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputDataStartPenyaluranRtwList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasFormInputDataStartPenyaluranRTWsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputDataStartPenyaluranRtwList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasFormInputDataStartPenyaluranRTWsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasFormInputDataStartPenyaluranRtwList.ShowPageHeader()
@subAktivitasFormInputDataStartPenyaluranRtwList.ShowMessages()
<main class="list @(subAktivitasFormInputDataStartPenyaluranRtwList.TotalRecords == 0 && !subAktivitasFormInputDataStartPenyaluranRtwList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasFormInputDataStartPenyaluranRtwList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasFormInputDataStartPenyaluranRtwList.TotalRecords > 0 || !Empty(subAktivitasFormInputDataStartPenyaluranRtwList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasFormInputDataStartPenyaluranRtwList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasFormInputDataStartPenyaluranRtwList.TableGridClass)">
<form name="@(subAktivitasFormInputDataStartPenyaluranRtwList.FormName)" id="@(subAktivitasFormInputDataStartPenyaluranRtwList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasFormInputDataStartPenyaluranRtwList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasFormInputDataStartPenyaluranRtwList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasFormInputDataStartPenyaluranRTW" class="card-body ew-grid-middle-panel @(subAktivitasFormInputDataStartPenyaluranRtwList.TableContainerClass)" style="@(subAktivitasFormInputDataStartPenyaluranRtwList.TableContainerStyle)">
@if (subAktivitasFormInputDataStartPenyaluranRtwList.TotalRecords > 0 || subAktivitasFormInputDataStartPenyaluranRtwList.IsGridEdit || subAktivitasFormInputDataStartPenyaluranRtwList.IsMultiEdit) {
<table id="tbl_SubAktivitasFormInputDataStartPenyaluranRTWlist" class="@(subAktivitasFormInputDataStartPenyaluranRtwList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasFormInputDataStartPenyaluranRtwList.RowType = RowType.Header;

    // Render list options
    await subAktivitasFormInputDataStartPenyaluranRtwList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasFormInputDataStartPenyaluranRtwList.ListOptions.RenderHeader("left")
@if (subAktivitasFormInputDataStartPenyaluranRtwList.NoReferensi.Visible) { // subAktivitasFormInputDataStartPenyaluranRtwList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasFormInputDataStartPenyaluranRtwList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStartPenyaluranRTW_NoReferensi" class="SubAktivitasFormInputDataStartPenyaluranRTW_NoReferensi">@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.RenderFieldHeader(subAktivitasFormInputDataStartPenyaluranRtwList.NoReferensi))</div></th>
} @* subAktivitasFormInputDataStartPenyaluranRtwList.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputDataStartPenyaluranRtwList.idProses.Visible) { // subAktivitasFormInputDataStartPenyaluranRtwList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasFormInputDataStartPenyaluranRtwList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStartPenyaluranRTW_idProses" class="SubAktivitasFormInputDataStartPenyaluranRTW_idProses">@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.RenderFieldHeader(subAktivitasFormInputDataStartPenyaluranRtwList.idProses))</div></th>
} @* subAktivitasFormInputDataStartPenyaluranRtwList.idProses.Visible (end) *@
@if (subAktivitasFormInputDataStartPenyaluranRtwList.idAktifitas.Visible) { // subAktivitasFormInputDataStartPenyaluranRtwList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasFormInputDataStartPenyaluranRtwList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStartPenyaluranRTW_idAktifitas" class="SubAktivitasFormInputDataStartPenyaluranRTW_idAktifitas">@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.RenderFieldHeader(subAktivitasFormInputDataStartPenyaluranRtwList.idAktifitas))</div></th>
} @* subAktivitasFormInputDataStartPenyaluranRtwList.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputDataStartPenyaluranRtwList.StatusAktivitas.Visible) { // subAktivitasFormInputDataStartPenyaluranRtwList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasFormInputDataStartPenyaluranRtwList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStartPenyaluranRTW_StatusAktivitas" class="SubAktivitasFormInputDataStartPenyaluranRTW_StatusAktivitas">@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.RenderFieldHeader(subAktivitasFormInputDataStartPenyaluranRtwList.StatusAktivitas))</div></th>
} @* subAktivitasFormInputDataStartPenyaluranRtwList.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputDataStartPenyaluranRtwList.LastUpdatedBy.Visible) { // subAktivitasFormInputDataStartPenyaluranRtwList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasFormInputDataStartPenyaluranRtwList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStartPenyaluranRTW_LastUpdatedBy" class="SubAktivitasFormInputDataStartPenyaluranRTW_LastUpdatedBy">@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.RenderFieldHeader(subAktivitasFormInputDataStartPenyaluranRtwList.LastUpdatedBy))</div></th>
} @* subAktivitasFormInputDataStartPenyaluranRtwList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputDataStartPenyaluranRtwList.lastUpdatedDate.Visible) { // subAktivitasFormInputDataStartPenyaluranRtwList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasFormInputDataStartPenyaluranRtwList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStartPenyaluranRTW_lastUpdatedDate" class="SubAktivitasFormInputDataStartPenyaluranRTW_lastUpdatedDate">@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.RenderFieldHeader(subAktivitasFormInputDataStartPenyaluranRtwList.lastUpdatedDate))</div></th>
} @* subAktivitasFormInputDataStartPenyaluranRtwList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputDataStartPenyaluranRtwList.Tanggal.Visible) { // subAktivitasFormInputDataStartPenyaluranRtwList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasFormInputDataStartPenyaluranRtwList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStartPenyaluranRTW_Tanggal" class="SubAktivitasFormInputDataStartPenyaluranRTW_Tanggal">@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.RenderFieldHeader(subAktivitasFormInputDataStartPenyaluranRtwList.Tanggal))</div></th>
} @* subAktivitasFormInputDataStartPenyaluranRtwList.Tanggal.Visible (end) *@
@if (subAktivitasFormInputDataStartPenyaluranRtwList.userInput.Visible) { // subAktivitasFormInputDataStartPenyaluranRtwList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasFormInputDataStartPenyaluranRtwList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStartPenyaluranRTW_userInput" class="SubAktivitasFormInputDataStartPenyaluranRTW_userInput">@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.RenderFieldHeader(subAktivitasFormInputDataStartPenyaluranRtwList.userInput))</div></th>
} @* subAktivitasFormInputDataStartPenyaluranRtwList.userInput.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasFormInputDataStartPenyaluranRtwList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasFormInputDataStartPenyaluranRtwList.PageNumber)">
@{
    await subAktivitasFormInputDataStartPenyaluranRtwList.SetupGrid();
    bool eof = subAktivitasFormInputDataStartPenyaluranRtwList.Recordset == null; // DN
}
@while (subAktivitasFormInputDataStartPenyaluranRtwList.RecordCount < subAktivitasFormInputDataStartPenyaluranRtwList.StopRecord || SameString(subAktivitasFormInputDataStartPenyaluranRtwList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasFormInputDataStartPenyaluranRtwList.RowIndex, "$rowindex$") &&
        (!subAktivitasFormInputDataStartPenyaluranRtwList.IsGridAdd || subAktivitasFormInputDataStartPenyaluranRtwList.CurrentMode == "copy") &&
        (!((subAktivitasFormInputDataStartPenyaluranRtwList.IsCopy || subAktivitasFormInputDataStartPenyaluranRtwList.IsAdd) && subAktivitasFormInputDataStartPenyaluranRtwList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasFormInputDataStartPenyaluranRtwList.Recordset.ReadAsync();
    subAktivitasFormInputDataStartPenyaluranRtwList.RecordCount++;
    if (subAktivitasFormInputDataStartPenyaluranRtwList.RecordCount >= subAktivitasFormInputDataStartPenyaluranRtwList.StartRecord) {
        await subAktivitasFormInputDataStartPenyaluranRtwList.SetupRow();
    <tr @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasFormInputDataStartPenyaluranRtwList.ListOptions.RenderBody("left", subAktivitasFormInputDataStartPenyaluranRtwList.RowCount)
    @if (subAktivitasFormInputDataStartPenyaluranRtwList.NoReferensi.Visible) { // subAktivitasFormInputDataStartPenyaluranRtwList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasFormInputDataStartPenyaluranRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputDataStartPenyaluranRtwList.RowCount)_SubAktivitasFormInputDataStartPenyaluranRTW_NoReferensi" class="el_SubAktivitasFormInputDataStartPenyaluranRTW_NoReferensi">
<span @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStartPenyaluranRtwList.NoReferensi.Visible (end) *@
    @if (subAktivitasFormInputDataStartPenyaluranRtwList.idProses.Visible) { // subAktivitasFormInputDataStartPenyaluranRtwList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.idProses.CellAttributes)>
<span id="el@(subAktivitasFormInputDataStartPenyaluranRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputDataStartPenyaluranRtwList.RowCount)_SubAktivitasFormInputDataStartPenyaluranRTW_idProses" class="el_SubAktivitasFormInputDataStartPenyaluranRTW_idProses">
<span @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStartPenyaluranRtwList.idProses.Visible (end) *@
    @if (subAktivitasFormInputDataStartPenyaluranRtwList.idAktifitas.Visible) { // subAktivitasFormInputDataStartPenyaluranRtwList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasFormInputDataStartPenyaluranRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputDataStartPenyaluranRtwList.RowCount)_SubAktivitasFormInputDataStartPenyaluranRTW_idAktifitas" class="el_SubAktivitasFormInputDataStartPenyaluranRTW_idAktifitas">
<span @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStartPenyaluranRtwList.idAktifitas.Visible (end) *@
    @if (subAktivitasFormInputDataStartPenyaluranRtwList.StatusAktivitas.Visible) { // subAktivitasFormInputDataStartPenyaluranRtwList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasFormInputDataStartPenyaluranRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputDataStartPenyaluranRtwList.RowCount)_SubAktivitasFormInputDataStartPenyaluranRTW_StatusAktivitas" class="el_SubAktivitasFormInputDataStartPenyaluranRTW_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStartPenyaluranRtwList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasFormInputDataStartPenyaluranRtwList.LastUpdatedBy.Visible) { // subAktivitasFormInputDataStartPenyaluranRtwList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasFormInputDataStartPenyaluranRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputDataStartPenyaluranRtwList.RowCount)_SubAktivitasFormInputDataStartPenyaluranRTW_LastUpdatedBy" class="el_SubAktivitasFormInputDataStartPenyaluranRTW_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStartPenyaluranRtwList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasFormInputDataStartPenyaluranRtwList.lastUpdatedDate.Visible) { // subAktivitasFormInputDataStartPenyaluranRtwList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasFormInputDataStartPenyaluranRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputDataStartPenyaluranRtwList.RowCount)_SubAktivitasFormInputDataStartPenyaluranRTW_lastUpdatedDate" class="el_SubAktivitasFormInputDataStartPenyaluranRTW_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStartPenyaluranRtwList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasFormInputDataStartPenyaluranRtwList.Tanggal.Visible) { // subAktivitasFormInputDataStartPenyaluranRtwList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.Tanggal.CellAttributes)>
<span id="el@(subAktivitasFormInputDataStartPenyaluranRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputDataStartPenyaluranRtwList.RowCount)_SubAktivitasFormInputDataStartPenyaluranRTW_Tanggal" class="el_SubAktivitasFormInputDataStartPenyaluranRTW_Tanggal">
<span @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStartPenyaluranRtwList.Tanggal.Visible (end) *@
    @if (subAktivitasFormInputDataStartPenyaluranRtwList.userInput.Visible) { // subAktivitasFormInputDataStartPenyaluranRtwList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.userInput.CellAttributes)>
<span id="el@(subAktivitasFormInputDataStartPenyaluranRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputDataStartPenyaluranRtwList.RowCount)_SubAktivitasFormInputDataStartPenyaluranRTW_userInput" class="el_SubAktivitasFormInputDataStartPenyaluranRTW_userInput">
<span @Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStartPenyaluranRtwList.userInput.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasFormInputDataStartPenyaluranRtwList.ListOptions.RenderBody("right", subAktivitasFormInputDataStartPenyaluranRtwList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasFormInputDataStartPenyaluranRtwList.RowIndex, "$rowindex$"))
        subAktivitasFormInputDataStartPenyaluranRtwList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasFormInputDataStartPenyaluranRtwList.IsCopy || subAktivitasFormInputDataStartPenyaluranRtwList.IsAdd) && subAktivitasFormInputDataStartPenyaluranRtwList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasFormInputDataStartPenyaluranRtwList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasFormInputDataStartPenyaluranRtwList.CurrentAction) && !subAktivitasFormInputDataStartPenyaluranRtwList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasFormInputDataStartPenyaluranRtwList.CloseRecordset(); }
@if (!subAktivitasFormInputDataStartPenyaluranRtwList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasFormInputDataStartPenyaluranRtwList.IsGridAdd && !(subAktivitasFormInputDataStartPenyaluranRtwList.IsGridEdit && subAktivitasFormInputDataStartPenyaluranRtwList.ModalGridEdit) && !subAktivitasFormInputDataStartPenyaluranRtwList.IsMultiEdit) {
@Html.Raw(subAktivitasFormInputDataStartPenyaluranRtwList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasFormInputDataStartPenyaluranRtwList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasFormInputDataStartPenyaluranRtwList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasFormInputDataStartPenyaluranRtwList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasFormInputDataStartPenyaluranRtwList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputDataStartPenyaluranRtwList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputDataStartPenyaluranRTW");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
