@{
    // View
    View = this;

    // Check action result
    if (subAktivitasDataStopPenyaluranList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasDataStopPenyaluranList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasDataStopPenyaluranList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataStopPenyaluranList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataStopPenyaluran: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasDataStopPenyaluranList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasDataStopPenyaluranList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasDataStopPenyaluranList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasDataStopPenyaluranList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasDataStopPenyaluranList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasDataStopPenyaluranList.TotalRecords > 0 && subAktivitasDataStopPenyaluranList.ExportOptions.Visible) {
    subAktivitasDataStopPenyaluranList.ExportOptions.Render("body");
}
@if (subAktivitasDataStopPenyaluranList.ImportOptions.Visible) {
    subAktivitasDataStopPenyaluranList.ImportOptions.Render("body");
}
@if (subAktivitasDataStopPenyaluranList.SearchOptions.Visible) {
    subAktivitasDataStopPenyaluranList.SearchOptions.Render("body");
}
@if (subAktivitasDataStopPenyaluranList.FilterOptions.Visible) {
    subAktivitasDataStopPenyaluranList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasDataStopPenyaluranList.IsModal) {
<form name="fSubAktivitasDataStopPenyaluransrch" id="fSubAktivitasDataStopPenyaluransrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasDataStopPenyaluransrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasDataStopPenyaluranList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataStopPenyaluranList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataStopPenyaluran: currentTable } });
var currentForm;
var fSubAktivitasDataStopPenyaluransrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasDataStopPenyaluransrch")
        .setPageId("list")
@if (subAktivitasDataStopPenyaluranList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasDataStopPenyaluranList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasDataStopPenyaluranList.IsExport() && Empty(subAktivitasDataStopPenyaluranList.CurrentAction) && subAktivitasDataStopPenyaluranList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasDataStopPenyaluranList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasDataStopPenyaluranList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasDataStopPenyaluranList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasDataStopPenyaluranList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasDataStopPenyaluransrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStopPenyaluranList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasDataStopPenyaluransrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStopPenyaluranList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasDataStopPenyaluransrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStopPenyaluranList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasDataStopPenyaluransrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasDataStopPenyaluranList.ShowPageHeader()
@subAktivitasDataStopPenyaluranList.ShowMessages()
<main class="list @(subAktivitasDataStopPenyaluranList.TotalRecords == 0 && !subAktivitasDataStopPenyaluranList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasDataStopPenyaluranList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasDataStopPenyaluranList.TotalRecords > 0 || !Empty(subAktivitasDataStopPenyaluranList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasDataStopPenyaluranList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasDataStopPenyaluranList.TableGridClass)">
<form name="@(subAktivitasDataStopPenyaluranList.FormName)" id="@(subAktivitasDataStopPenyaluranList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasDataStopPenyaluranList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasDataStopPenyaluranList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasDataStopPenyaluran" class="card-body ew-grid-middle-panel @(subAktivitasDataStopPenyaluranList.TableContainerClass)" style="@(subAktivitasDataStopPenyaluranList.TableContainerStyle)">
@if (subAktivitasDataStopPenyaluranList.TotalRecords > 0 || subAktivitasDataStopPenyaluranList.IsGridEdit || subAktivitasDataStopPenyaluranList.IsMultiEdit) {
<table id="tbl_SubAktivitasDataStopPenyaluranlist" class="@(subAktivitasDataStopPenyaluranList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasDataStopPenyaluranList.RowType = RowType.Header;

    // Render list options
    await subAktivitasDataStopPenyaluranList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasDataStopPenyaluranList.ListOptions.RenderHeader("left")
@if (subAktivitasDataStopPenyaluranList.NoReferensi.Visible) { // subAktivitasDataStopPenyaluranList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasDataStopPenyaluranList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluran_NoReferensi" class="SubAktivitasDataStopPenyaluran_NoReferensi">@Html.Raw(subAktivitasDataStopPenyaluranList.RenderFieldHeader(subAktivitasDataStopPenyaluranList.NoReferensi))</div></th>
} @* subAktivitasDataStopPenyaluranList.NoReferensi.Visible (end) *@
@if (subAktivitasDataStopPenyaluranList.idProses.Visible) { // subAktivitasDataStopPenyaluranList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasDataStopPenyaluranList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluran_idProses" class="SubAktivitasDataStopPenyaluran_idProses">@Html.Raw(subAktivitasDataStopPenyaluranList.RenderFieldHeader(subAktivitasDataStopPenyaluranList.idProses))</div></th>
} @* subAktivitasDataStopPenyaluranList.idProses.Visible (end) *@
@if (subAktivitasDataStopPenyaluranList.idAktifitas.Visible) { // subAktivitasDataStopPenyaluranList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasDataStopPenyaluranList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluran_idAktifitas" class="SubAktivitasDataStopPenyaluran_idAktifitas">@Html.Raw(subAktivitasDataStopPenyaluranList.RenderFieldHeader(subAktivitasDataStopPenyaluranList.idAktifitas))</div></th>
} @* subAktivitasDataStopPenyaluranList.idAktifitas.Visible (end) *@
@if (subAktivitasDataStopPenyaluranList.StatusAktivitas.Visible) { // subAktivitasDataStopPenyaluranList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasDataStopPenyaluranList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluran_StatusAktivitas" class="SubAktivitasDataStopPenyaluran_StatusAktivitas">@Html.Raw(subAktivitasDataStopPenyaluranList.RenderFieldHeader(subAktivitasDataStopPenyaluranList.StatusAktivitas))</div></th>
} @* subAktivitasDataStopPenyaluranList.StatusAktivitas.Visible (end) *@
@if (subAktivitasDataStopPenyaluranList.Tanggal.Visible) { // subAktivitasDataStopPenyaluranList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasDataStopPenyaluranList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluran_Tanggal" class="SubAktivitasDataStopPenyaluran_Tanggal">@Html.Raw(subAktivitasDataStopPenyaluranList.RenderFieldHeader(subAktivitasDataStopPenyaluranList.Tanggal))</div></th>
} @* subAktivitasDataStopPenyaluranList.Tanggal.Visible (end) *@
@if (subAktivitasDataStopPenyaluranList.userInput.Visible) { // subAktivitasDataStopPenyaluranList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasDataStopPenyaluranList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluran_userInput" class="SubAktivitasDataStopPenyaluran_userInput">@Html.Raw(subAktivitasDataStopPenyaluranList.RenderFieldHeader(subAktivitasDataStopPenyaluranList.userInput))</div></th>
} @* subAktivitasDataStopPenyaluranList.userInput.Visible (end) *@
@if (subAktivitasDataStopPenyaluranList.LastUpdatedBy.Visible) { // subAktivitasDataStopPenyaluranList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasDataStopPenyaluranList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluran_LastUpdatedBy" class="SubAktivitasDataStopPenyaluran_LastUpdatedBy">@Html.Raw(subAktivitasDataStopPenyaluranList.RenderFieldHeader(subAktivitasDataStopPenyaluranList.LastUpdatedBy))</div></th>
} @* subAktivitasDataStopPenyaluranList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasDataStopPenyaluranList.lastUpdatedDate.Visible) { // subAktivitasDataStopPenyaluranList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasDataStopPenyaluranList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluran_lastUpdatedDate" class="SubAktivitasDataStopPenyaluran_lastUpdatedDate">@Html.Raw(subAktivitasDataStopPenyaluranList.RenderFieldHeader(subAktivitasDataStopPenyaluranList.lastUpdatedDate))</div></th>
} @* subAktivitasDataStopPenyaluranList.lastUpdatedDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasDataStopPenyaluranList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasDataStopPenyaluranList.PageNumber)">
@{
    await subAktivitasDataStopPenyaluranList.SetupGrid();
    bool eof = subAktivitasDataStopPenyaluranList.Recordset == null; // DN
}
@while (subAktivitasDataStopPenyaluranList.RecordCount < subAktivitasDataStopPenyaluranList.StopRecord || SameString(subAktivitasDataStopPenyaluranList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasDataStopPenyaluranList.RowIndex, "$rowindex$") &&
        (!subAktivitasDataStopPenyaluranList.IsGridAdd || subAktivitasDataStopPenyaluranList.CurrentMode == "copy") &&
        (!((subAktivitasDataStopPenyaluranList.IsCopy || subAktivitasDataStopPenyaluranList.IsAdd) && subAktivitasDataStopPenyaluranList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasDataStopPenyaluranList.Recordset.ReadAsync();
    subAktivitasDataStopPenyaluranList.RecordCount++;
    if (subAktivitasDataStopPenyaluranList.RecordCount >= subAktivitasDataStopPenyaluranList.StartRecord) {
        await subAktivitasDataStopPenyaluranList.SetupRow();
    <tr @Html.Raw(subAktivitasDataStopPenyaluranList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasDataStopPenyaluranList.ListOptions.RenderBody("left", subAktivitasDataStopPenyaluranList.RowCount)
    @if (subAktivitasDataStopPenyaluranList.NoReferensi.Visible) { // subAktivitasDataStopPenyaluranList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasDataStopPenyaluranList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStopPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStopPenyaluranList.RowCount)_SubAktivitasDataStopPenyaluran_NoReferensi" class="el_SubAktivitasDataStopPenyaluran_NoReferensi">
<span @Html.Raw(subAktivitasDataStopPenyaluranList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranList.NoReferensi.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranList.idProses.Visible) { // subAktivitasDataStopPenyaluranList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasDataStopPenyaluranList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStopPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStopPenyaluranList.RowCount)_SubAktivitasDataStopPenyaluran_idProses" class="el_SubAktivitasDataStopPenyaluran_idProses">
<span @Html.Raw(subAktivitasDataStopPenyaluranList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranList.idProses.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranList.idAktifitas.Visible) { // subAktivitasDataStopPenyaluranList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasDataStopPenyaluranList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStopPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStopPenyaluranList.RowCount)_SubAktivitasDataStopPenyaluran_idAktifitas" class="el_SubAktivitasDataStopPenyaluran_idAktifitas">
<span @Html.Raw(subAktivitasDataStopPenyaluranList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranList.idAktifitas.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranList.StatusAktivitas.Visible) { // subAktivitasDataStopPenyaluranList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasDataStopPenyaluranList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStopPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStopPenyaluranList.RowCount)_SubAktivitasDataStopPenyaluran_StatusAktivitas" class="el_SubAktivitasDataStopPenyaluran_StatusAktivitas">
<span @Html.Raw(subAktivitasDataStopPenyaluranList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranList.Tanggal.Visible) { // subAktivitasDataStopPenyaluranList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasDataStopPenyaluranList.Tanggal.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStopPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStopPenyaluranList.RowCount)_SubAktivitasDataStopPenyaluran_Tanggal" class="el_SubAktivitasDataStopPenyaluran_Tanggal">
<span @Html.Raw(subAktivitasDataStopPenyaluranList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranList.Tanggal.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranList.userInput.Visible) { // subAktivitasDataStopPenyaluranList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasDataStopPenyaluranList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStopPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStopPenyaluranList.RowCount)_SubAktivitasDataStopPenyaluran_userInput" class="el_SubAktivitasDataStopPenyaluran_userInput">
<span @Html.Raw(subAktivitasDataStopPenyaluranList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranList.userInput.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranList.LastUpdatedBy.Visible) { // subAktivitasDataStopPenyaluranList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasDataStopPenyaluranList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStopPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStopPenyaluranList.RowCount)_SubAktivitasDataStopPenyaluran_LastUpdatedBy" class="el_SubAktivitasDataStopPenyaluran_LastUpdatedBy">
<span @Html.Raw(subAktivitasDataStopPenyaluranList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranList.lastUpdatedDate.Visible) { // subAktivitasDataStopPenyaluranList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasDataStopPenyaluranList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStopPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStopPenyaluranList.RowCount)_SubAktivitasDataStopPenyaluran_lastUpdatedDate" class="el_SubAktivitasDataStopPenyaluran_lastUpdatedDate">
<span @Html.Raw(subAktivitasDataStopPenyaluranList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranList.lastUpdatedDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasDataStopPenyaluranList.ListOptions.RenderBody("right", subAktivitasDataStopPenyaluranList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasDataStopPenyaluranList.RowIndex, "$rowindex$"))
        subAktivitasDataStopPenyaluranList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasDataStopPenyaluranList.IsCopy || subAktivitasDataStopPenyaluranList.IsAdd) && subAktivitasDataStopPenyaluranList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasDataStopPenyaluranList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasDataStopPenyaluranList.CurrentAction) && !subAktivitasDataStopPenyaluranList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasDataStopPenyaluranList.CloseRecordset(); }
@if (!subAktivitasDataStopPenyaluranList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasDataStopPenyaluranList.IsGridAdd && !(subAktivitasDataStopPenyaluranList.IsGridEdit && subAktivitasDataStopPenyaluranList.ModalGridEdit) && !subAktivitasDataStopPenyaluranList.IsMultiEdit) {
@Html.Raw(subAktivitasDataStopPenyaluranList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasDataStopPenyaluranList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasDataStopPenyaluranList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasDataStopPenyaluranList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasDataStopPenyaluranList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasDataStopPenyaluranList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasDataStopPenyaluran");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
