@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputLogbookPenerimaanSTSPymLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["Nama_Kapal", [fields.Nama_Kapal.visible && fields.Nama_Kapal.required ? ew.Validators.required(fields.Nama_Kapal.caption) : null], fields.Nama_Kapal.isInvalid],
            ["Tanggal", [fields.Tanggal.visible && fields.Tanggal.required ? ew.Validators.required(fields.Tanggal.caption) : null, ew.Validators.datetime(fields.Tanggal.clientFormatPattern)], fields.Tanggal.isInvalid],
            ["Nama_Kegiatan", [fields.Nama_Kegiatan.visible && fields.Nama_Kegiatan.required ? ew.Validators.required(fields.Nama_Kegiatan.caption) : null], fields.Nama_Kegiatan.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["Density", [fields.Density.visible && fields.Density.required ? ew.Validators.required(fields.Density.caption) : null], fields.Density.isInvalid],
            ["Temperatur", [fields.Temperatur.visible && fields.Temperatur.required ? ew.Validators.required(fields.Temperatur.caption) : null], fields.Temperatur.isInvalid],
            ["Keterangan", [fields.Keterangan.visible && fields.Keterangan.required ? ew.Validators.required(fields.Keterangan.caption) : null], fields.Keterangan.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["SubAktivitasHasilPemeriksaanId", [fields.SubAktivitasHasilPemeriksaanId.visible && fields.SubAktivitasHasilPemeriksaanId.required ? ew.Validators.required(fields.SubAktivitasHasilPemeriksaanId.caption) : null, ew.Validators.integer], fields.SubAktivitasHasilPemeriksaanId.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.ShowPageHeader()
@subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.ShowMessages()
<form name="fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGadd" id="fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGadd" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.OldKeyName)" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.idProses.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.idProses.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_idProses" for="x_idProses" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.idProses.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_idProses">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG" data-field="x_idProses" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.idProses.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.idProses.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.idAktifitas.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_idAktifitas" for="x_idAktifitas" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.idAktifitas.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_idAktifitas">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG" data-field="x_idAktifitas" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.idAktifitas.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.NoReferensi.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_NoReferensi" for="x_NoReferensi" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.NoReferensi.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_NoReferensi">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.NoReferensi.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Nama_Kapal.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Nama_Kapal.Visible (begin)
    <div id="r_Nama_Kapal" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Nama_Kapal.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Nama_Kapal" for="x_Nama_Kapal" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Nama_Kapal.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Nama_Kapal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Nama_Kapal.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Nama_Kapal">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Nama_Kapal.InputTextType)" name="x_Nama_Kapal" id="x_Nama_Kapal" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG" data-field="x_Nama_Kapal" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Nama_Kapal.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Nama_Kapal.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Nama_Kapal.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Nama_Kapal.EditAttributes) aria-describedby="x_Nama_Kapal_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Nama_Kapal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Nama_Kapal.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Nama_Kapal.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Tanggal.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Tanggal.Visible (begin)
    <div id="r_Tanggal" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Tanggal.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Tanggal" for="x_Tanggal" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Tanggal.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Tanggal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Tanggal.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Tanggal">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Tanggal.InputTextType)" name="x_Tanggal" id="x_Tanggal" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG" data-field="x_Tanggal" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Tanggal.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Tanggal.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Tanggal.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Tanggal.EditAttributes) aria-describedby="x_Tanggal_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Tanggal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Tanggal.GetErrorMessage())</div>
@if (!subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Tanggal.ReadOnly && !subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Tanggal.Disabled && !subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Tanggal.EditAttrs.Is("readonly") && !subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Tanggal.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGadd", "x_Tanggal", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Tanggal.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Nama_Kegiatan.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Nama_Kegiatan.Visible (begin)
    <div id="r_Nama_Kegiatan" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Nama_Kegiatan.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Nama_Kegiatan" for="x_Nama_Kegiatan" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Nama_Kegiatan.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Nama_Kegiatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Nama_Kegiatan.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Nama_Kegiatan">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Nama_Kegiatan.InputTextType)" name="x_Nama_Kegiatan" id="x_Nama_Kegiatan" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG" data-field="x_Nama_Kegiatan" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Nama_Kegiatan.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Nama_Kegiatan.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Nama_Kegiatan.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Nama_Kegiatan.EditAttributes) aria-describedby="x_Nama_Kegiatan_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Nama_Kegiatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Nama_Kegiatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Nama_Kegiatan.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Produk.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Produk.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Produk" for="x_Produk" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Produk.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Produk.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Produk">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG" data-field="x_Produk" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Produk.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Produk.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Produk.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Density.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Density.Visible (begin)
    <div id="r_Density" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Density.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Density" for="x_Density" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Density.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Density.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Density.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Density">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Density.InputTextType)" name="x_Density" id="x_Density" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG" data-field="x_Density" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Density.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Density.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Density.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Density.EditAttributes) aria-describedby="x_Density_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Density.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Density.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Density.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Temperatur.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Temperatur.Visible (begin)
    <div id="r_Temperatur" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Temperatur.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Temperatur" for="x_Temperatur" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Temperatur.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Temperatur.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Temperatur.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Temperatur">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Temperatur.InputTextType)" name="x_Temperatur" id="x_Temperatur" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG" data-field="x_Temperatur" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Temperatur.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Temperatur.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Temperatur.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Temperatur.EditAttributes) aria-describedby="x_Temperatur_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Temperatur.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Temperatur.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Temperatur.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Keterangan.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Keterangan.Visible (begin)
    <div id="r_Keterangan" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Keterangan.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Keterangan" for="x_Keterangan" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Keterangan.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Keterangan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Keterangan.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Keterangan">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Keterangan.InputTextType)" name="x_Keterangan" id="x_Keterangan" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG" data-field="x_Keterangan" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Keterangan.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Keterangan.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Keterangan.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Keterangan.EditAttributes) aria-describedby="x_Keterangan_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Keterangan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Keterangan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.Keterangan.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.userInput.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.userInput.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_userInput" for="x_userInput" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.userInput.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_userInput">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG" data-field="x_userInput" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.userInput.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.userInput.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.etlDate.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_etlDate" for="x_etlDate" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.etlDate.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_etlDate">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG" data-field="x_etlDate" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.etlDate.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.etlDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.etlDate.ReadOnly && !subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.etlDate.Disabled && !subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.etlDate.EditAttrs.Is("readonly") && !subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGadd", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.etlDate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.LastUpdatedBy.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.LastUpdatedBy.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_LastUpdatedBy">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.lastUpdatedDate.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.lastUpdatedDate.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_lastUpdatedDate">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.lastUpdatedDate.ReadOnly && !subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.lastUpdatedDate.Disabled && !subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGadd", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.SubAktivitasHasilPemeriksaanId.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.SubAktivitasHasilPemeriksaanId.Visible (begin)
    <div id="r_SubAktivitasHasilPemeriksaanId" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.SubAktivitasHasilPemeriksaanId.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_SubAktivitasHasilPemeriksaanId" for="x_SubAktivitasHasilPemeriksaanId" class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.SubAktivitasHasilPemeriksaanId.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.SubAktivitasHasilPemeriksaanId.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.SubAktivitasHasilPemeriksaanId.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_SubAktivitasHasilPemeriksaanId">
<input type="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.SubAktivitasHasilPemeriksaanId.InputTextType)" name="x_SubAktivitasHasilPemeriksaanId" id="x_SubAktivitasHasilPemeriksaanId" data-table="SubAktivitasFormInputLogbookPenerimaanSTSPymLPG" data-field="x_SubAktivitasHasilPemeriksaanId" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.SubAktivitasHasilPemeriksaanId.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.SubAktivitasHasilPemeriksaanId.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.SubAktivitasHasilPemeriksaanId.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.SubAktivitasHasilPemeriksaanId.EditAttributes) aria-describedby="x_SubAktivitasHasilPemeriksaanId_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.SubAktivitasHasilPemeriksaanId.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.SubAktivitasHasilPemeriksaanId.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.SubAktivitasHasilPemeriksaanId.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.CloseRecordset(); }
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGadd" data-href="@AppPath(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@subAktivitasFormInputLogbookPenerimaanStsPymLpgAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputLogbookPenerimaanSTSPymLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
