@{
    // View
    View = this;

    // Check action result
    if (subAktivitasLogbookMonitoringStockEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasLogbookMonitoringStockEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasLogbookMonitoringStockEdit.ShowPageHeader()
@subAktivitasLogbookMonitoringStockEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasLogbookMonitoringStockedit" id="fSubAktivitasLogbookMonitoringStockedit" class="@(subAktivitasLogbookMonitoringStockEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasLogbookMonitoringStockEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasLogbookMonitoringStock: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasLogbookMonitoringStockedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasLogbookMonitoringStockedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null], fields.idAktifitas.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["Nomor_Tangki", [fields.Nomor_Tangki.visible && fields.Nomor_Tangki.required ? ew.Validators.required(fields.Nomor_Tangki.caption) : null], fields.Nomor_Tangki.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null], fields.StatusAktivitas.isInvalid],
            ["Aktivitas2", [fields.Aktivitas2.visible && fields.Aktivitas2.required ? ew.Validators.required(fields.Aktivitas2.caption) : null], fields.Aktivitas2.isInvalid],
            ["Level_Tangki", [fields.Level_Tangki.visible && fields.Level_Tangki.required ? ew.Validators.required(fields.Level_Tangki.caption) : null], fields.Level_Tangki.isInvalid],
            ["Volume_KLObs", [fields.Volume_KLObs.visible && fields.Volume_KLObs.required ? ew.Validators.required(fields.Volume_KLObs.caption) : null], fields.Volume_KLObs.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["IdPlant", [fields.IdPlant.visible && fields.IdPlant.required ? ew.Validators.required(fields.IdPlant.caption) : null, ew.Validators.integer], fields.IdPlant.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasLogbookMonitoringStockEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasLogbookMonitoringStockEdit.OldKeyName)" value="@Html.Raw(subAktivitasLogbookMonitoringStockEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasLogbookMonitoringStockEdit.id.Visible) { // subAktivitasLogbookMonitoringStockEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subAktivitasLogbookMonitoringStockEdit.id.RowAttributes)>
        <label id="elh_SubAktivitasLogbookMonitoringStock_id" class="@(subAktivitasLogbookMonitoringStockEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookMonitoringStockEdit.id.Caption)@Html.Raw(subAktivitasLogbookMonitoringStockEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookMonitoringStockEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookMonitoringStockEdit.id.CellAttributes)>
<span id="el_SubAktivitasLogbookMonitoringStock_id">
<span @Html.Raw(subAktivitasLogbookMonitoringStockEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasLogbookMonitoringStockEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasLogbookMonitoringStock" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasLogbookMonitoringStockEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasLogbookMonitoringStockEdit.id.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockEdit.idProses.Visible) { // subAktivitasLogbookMonitoringStockEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasLogbookMonitoringStockEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasLogbookMonitoringStock_idProses" for="x_idProses" class="@(subAktivitasLogbookMonitoringStockEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookMonitoringStockEdit.idProses.Caption)@Html.Raw(subAktivitasLogbookMonitoringStockEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookMonitoringStockEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookMonitoringStockEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasLogbookMonitoringStock_idProses">
<input type="@(subAktivitasLogbookMonitoringStockEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubAktivitasLogbookMonitoringStock" data-field="x_idProses" value="@Html.Raw(subAktivitasLogbookMonitoringStockEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookMonitoringStockEdit.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookMonitoringStockEdit.idProses.FormatPattern)"@Html.Raw(subAktivitasLogbookMonitoringStockEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subAktivitasLogbookMonitoringStockEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookMonitoringStockEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookMonitoringStockEdit.idProses.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockEdit.idAktifitas.Visible) { // subAktivitasLogbookMonitoringStockEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasLogbookMonitoringStockEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasLogbookMonitoringStock_idAktifitas" for="x_idAktifitas" class="@(subAktivitasLogbookMonitoringStockEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookMonitoringStockEdit.idAktifitas.Caption)@Html.Raw(subAktivitasLogbookMonitoringStockEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookMonitoringStockEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookMonitoringStockEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasLogbookMonitoringStock_idAktifitas">
<input type="@(subAktivitasLogbookMonitoringStockEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubAktivitasLogbookMonitoringStock" data-field="x_idAktifitas" value="@Html.Raw(subAktivitasLogbookMonitoringStockEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookMonitoringStockEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookMonitoringStockEdit.idAktifitas.FormatPattern)"@Html.Raw(subAktivitasLogbookMonitoringStockEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subAktivitasLogbookMonitoringStockEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookMonitoringStockEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookMonitoringStockEdit.idAktifitas.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockEdit.NoReferensi.Visible) { // subAktivitasLogbookMonitoringStockEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasLogbookMonitoringStockEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasLogbookMonitoringStock_NoReferensi" for="x_NoReferensi" class="@(subAktivitasLogbookMonitoringStockEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookMonitoringStockEdit.NoReferensi.Caption)@Html.Raw(subAktivitasLogbookMonitoringStockEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookMonitoringStockEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookMonitoringStockEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasLogbookMonitoringStock_NoReferensi">
<input type="@(subAktivitasLogbookMonitoringStockEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasLogbookMonitoringStock" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasLogbookMonitoringStockEdit.NoReferensi.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookMonitoringStockEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookMonitoringStockEdit.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasLogbookMonitoringStockEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasLogbookMonitoringStockEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookMonitoringStockEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookMonitoringStockEdit.NoReferensi.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockEdit.Nomor_Tangki.Visible) { // subAktivitasLogbookMonitoringStockEdit.Nomor_Tangki.Visible (begin)
    <div id="r_Nomor_Tangki" @Html.Raw(subAktivitasLogbookMonitoringStockEdit.Nomor_Tangki.RowAttributes)>
        <label id="elh_SubAktivitasLogbookMonitoringStock_Nomor_Tangki" for="x_Nomor_Tangki" class="@(subAktivitasLogbookMonitoringStockEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookMonitoringStockEdit.Nomor_Tangki.Caption)@Html.Raw(subAktivitasLogbookMonitoringStockEdit.Nomor_Tangki.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookMonitoringStockEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookMonitoringStockEdit.Nomor_Tangki.CellAttributes)>
<span id="el_SubAktivitasLogbookMonitoringStock_Nomor_Tangki">
<input type="@(subAktivitasLogbookMonitoringStockEdit.Nomor_Tangki.InputTextType)" name="x_Nomor_Tangki" id="x_Nomor_Tangki" data-table="SubAktivitasLogbookMonitoringStock" data-field="x_Nomor_Tangki" value="@Html.Raw(subAktivitasLogbookMonitoringStockEdit.Nomor_Tangki.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookMonitoringStockEdit.Nomor_Tangki.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookMonitoringStockEdit.Nomor_Tangki.FormatPattern)"@Html.Raw(subAktivitasLogbookMonitoringStockEdit.Nomor_Tangki.EditAttributes) aria-describedby="x_Nomor_Tangki_help">
@Html.Raw(subAktivitasLogbookMonitoringStockEdit.Nomor_Tangki.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookMonitoringStockEdit.Nomor_Tangki.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookMonitoringStockEdit.Nomor_Tangki.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockEdit.Produk.Visible) { // subAktivitasLogbookMonitoringStockEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasLogbookMonitoringStockEdit.Produk.RowAttributes)>
        <label id="elh_SubAktivitasLogbookMonitoringStock_Produk" for="x_Produk" class="@(subAktivitasLogbookMonitoringStockEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookMonitoringStockEdit.Produk.Caption)@Html.Raw(subAktivitasLogbookMonitoringStockEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookMonitoringStockEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookMonitoringStockEdit.Produk.CellAttributes)>
<span id="el_SubAktivitasLogbookMonitoringStock_Produk">
<input type="@(subAktivitasLogbookMonitoringStockEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasLogbookMonitoringStock" data-field="x_Produk" value="@Html.Raw(subAktivitasLogbookMonitoringStockEdit.Produk.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookMonitoringStockEdit.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookMonitoringStockEdit.Produk.FormatPattern)"@Html.Raw(subAktivitasLogbookMonitoringStockEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasLogbookMonitoringStockEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookMonitoringStockEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookMonitoringStockEdit.Produk.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockEdit.StatusAktivitas.Visible) { // subAktivitasLogbookMonitoringStockEdit.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subAktivitasLogbookMonitoringStockEdit.StatusAktivitas.RowAttributes)>
        <label id="elh_SubAktivitasLogbookMonitoringStock_StatusAktivitas" class="@(subAktivitasLogbookMonitoringStockEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookMonitoringStockEdit.StatusAktivitas.Caption)@Html.Raw(subAktivitasLogbookMonitoringStockEdit.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookMonitoringStockEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookMonitoringStockEdit.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasLogbookMonitoringStock_StatusAktivitas">
<span @Html.Raw(subAktivitasLogbookMonitoringStockEdit.StatusAktivitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasLogbookMonitoringStockEdit.StatusAktivitas.DisplayValue(subAktivitasLogbookMonitoringStockEdit.StatusAktivitas.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasLogbookMonitoringStock" data-field="x_StatusAktivitas" data-hidden="1" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@Html.Raw(HtmlEncode(subAktivitasLogbookMonitoringStockEdit.StatusAktivitas.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasLogbookMonitoringStockEdit.StatusAktivitas.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockEdit.Aktivitas2.Visible) { // subAktivitasLogbookMonitoringStockEdit.Aktivitas2.Visible (begin)
    <div id="r_Aktivitas2" @Html.Raw(subAktivitasLogbookMonitoringStockEdit.Aktivitas2.RowAttributes)>
        <label id="elh_SubAktivitasLogbookMonitoringStock_Aktivitas2" for="x_Aktivitas2" class="@(subAktivitasLogbookMonitoringStockEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookMonitoringStockEdit.Aktivitas2.Caption)@Html.Raw(subAktivitasLogbookMonitoringStockEdit.Aktivitas2.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookMonitoringStockEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookMonitoringStockEdit.Aktivitas2.CellAttributes)>
<span id="el_SubAktivitasLogbookMonitoringStock_Aktivitas2">
<input type="@(subAktivitasLogbookMonitoringStockEdit.Aktivitas2.InputTextType)" name="x_Aktivitas2" id="x_Aktivitas2" data-table="SubAktivitasLogbookMonitoringStock" data-field="x_Aktivitas2" value="@Html.Raw(subAktivitasLogbookMonitoringStockEdit.Aktivitas2.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookMonitoringStockEdit.Aktivitas2.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookMonitoringStockEdit.Aktivitas2.FormatPattern)"@Html.Raw(subAktivitasLogbookMonitoringStockEdit.Aktivitas2.EditAttributes) aria-describedby="x_Aktivitas2_help">
@Html.Raw(subAktivitasLogbookMonitoringStockEdit.Aktivitas2.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookMonitoringStockEdit.Aktivitas2.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookMonitoringStockEdit.Aktivitas2.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockEdit.Level_Tangki.Visible) { // subAktivitasLogbookMonitoringStockEdit.Level_Tangki.Visible (begin)
    <div id="r_Level_Tangki" @Html.Raw(subAktivitasLogbookMonitoringStockEdit.Level_Tangki.RowAttributes)>
        <label id="elh_SubAktivitasLogbookMonitoringStock_Level_Tangki" for="x_Level_Tangki" class="@(subAktivitasLogbookMonitoringStockEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookMonitoringStockEdit.Level_Tangki.Caption)@Html.Raw(subAktivitasLogbookMonitoringStockEdit.Level_Tangki.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookMonitoringStockEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookMonitoringStockEdit.Level_Tangki.CellAttributes)>
<span id="el_SubAktivitasLogbookMonitoringStock_Level_Tangki">
<input type="@(subAktivitasLogbookMonitoringStockEdit.Level_Tangki.InputTextType)" name="x_Level_Tangki" id="x_Level_Tangki" data-table="SubAktivitasLogbookMonitoringStock" data-field="x_Level_Tangki" value="@Html.Raw(subAktivitasLogbookMonitoringStockEdit.Level_Tangki.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookMonitoringStockEdit.Level_Tangki.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookMonitoringStockEdit.Level_Tangki.FormatPattern)"@Html.Raw(subAktivitasLogbookMonitoringStockEdit.Level_Tangki.EditAttributes) aria-describedby="x_Level_Tangki_help">
@Html.Raw(subAktivitasLogbookMonitoringStockEdit.Level_Tangki.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookMonitoringStockEdit.Level_Tangki.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookMonitoringStockEdit.Level_Tangki.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockEdit.Volume_KLObs.Visible) { // subAktivitasLogbookMonitoringStockEdit.Volume_KLObs.Visible (begin)
    <div id="r_Volume_KLObs" @Html.Raw(subAktivitasLogbookMonitoringStockEdit.Volume_KLObs.RowAttributes)>
        <label id="elh_SubAktivitasLogbookMonitoringStock_Volume_KLObs" for="x_Volume_KLObs" class="@(subAktivitasLogbookMonitoringStockEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookMonitoringStockEdit.Volume_KLObs.Caption)@Html.Raw(subAktivitasLogbookMonitoringStockEdit.Volume_KLObs.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookMonitoringStockEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookMonitoringStockEdit.Volume_KLObs.CellAttributes)>
<span id="el_SubAktivitasLogbookMonitoringStock_Volume_KLObs">
<input type="@(subAktivitasLogbookMonitoringStockEdit.Volume_KLObs.InputTextType)" name="x_Volume_KLObs" id="x_Volume_KLObs" data-table="SubAktivitasLogbookMonitoringStock" data-field="x_Volume_KLObs" value="@Html.Raw(subAktivitasLogbookMonitoringStockEdit.Volume_KLObs.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookMonitoringStockEdit.Volume_KLObs.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookMonitoringStockEdit.Volume_KLObs.FormatPattern)"@Html.Raw(subAktivitasLogbookMonitoringStockEdit.Volume_KLObs.EditAttributes) aria-describedby="x_Volume_KLObs_help">
@Html.Raw(subAktivitasLogbookMonitoringStockEdit.Volume_KLObs.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookMonitoringStockEdit.Volume_KLObs.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookMonitoringStockEdit.Volume_KLObs.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockEdit.userInput.Visible) { // subAktivitasLogbookMonitoringStockEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasLogbookMonitoringStockEdit.userInput.RowAttributes)>
        <label id="elh_SubAktivitasLogbookMonitoringStock_userInput" for="x_userInput" class="@(subAktivitasLogbookMonitoringStockEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookMonitoringStockEdit.userInput.Caption)@Html.Raw(subAktivitasLogbookMonitoringStockEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookMonitoringStockEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookMonitoringStockEdit.userInput.CellAttributes)>
<span id="el_SubAktivitasLogbookMonitoringStock_userInput">
<input type="@(subAktivitasLogbookMonitoringStockEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasLogbookMonitoringStock" data-field="x_userInput" value="@Html.Raw(subAktivitasLogbookMonitoringStockEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookMonitoringStockEdit.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookMonitoringStockEdit.userInput.FormatPattern)"@Html.Raw(subAktivitasLogbookMonitoringStockEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasLogbookMonitoringStockEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookMonitoringStockEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookMonitoringStockEdit.userInput.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockEdit.etlDate.Visible) { // subAktivitasLogbookMonitoringStockEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasLogbookMonitoringStockEdit.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasLogbookMonitoringStock_etlDate" for="x_etlDate" class="@(subAktivitasLogbookMonitoringStockEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookMonitoringStockEdit.etlDate.Caption)@Html.Raw(subAktivitasLogbookMonitoringStockEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookMonitoringStockEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookMonitoringStockEdit.etlDate.CellAttributes)>
<span id="el_SubAktivitasLogbookMonitoringStock_etlDate">
<input type="@(subAktivitasLogbookMonitoringStockEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasLogbookMonitoringStock" data-field="x_etlDate" value="@Html.Raw(subAktivitasLogbookMonitoringStockEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookMonitoringStockEdit.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookMonitoringStockEdit.etlDate.FormatPattern)"@Html.Raw(subAktivitasLogbookMonitoringStockEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasLogbookMonitoringStockEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookMonitoringStockEdit.etlDate.GetErrorMessage())</div>
@if (!subAktivitasLogbookMonitoringStockEdit.etlDate.ReadOnly && !subAktivitasLogbookMonitoringStockEdit.etlDate.Disabled && !subAktivitasLogbookMonitoringStockEdit.etlDate.EditAttrs.Is("readonly") && !subAktivitasLogbookMonitoringStockEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasLogbookMonitoringStockedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasLogbookMonitoringStockedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasLogbookMonitoringStockEdit.etlDate.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockEdit.LastUpdatedBy.Visible) { // subAktivitasLogbookMonitoringStockEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasLogbookMonitoringStockEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasLogbookMonitoringStock_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasLogbookMonitoringStockEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookMonitoringStockEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasLogbookMonitoringStockEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookMonitoringStockEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookMonitoringStockEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasLogbookMonitoringStock_LastUpdatedBy">
<input type="@(subAktivitasLogbookMonitoringStockEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasLogbookMonitoringStock" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasLogbookMonitoringStockEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookMonitoringStockEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookMonitoringStockEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasLogbookMonitoringStockEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasLogbookMonitoringStockEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookMonitoringStockEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookMonitoringStockEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockEdit.lastUpdatedDate.Visible) { // subAktivitasLogbookMonitoringStockEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasLogbookMonitoringStockEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasLogbookMonitoringStock_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasLogbookMonitoringStockEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookMonitoringStockEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasLogbookMonitoringStockEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookMonitoringStockEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookMonitoringStockEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasLogbookMonitoringStock_lastUpdatedDate">
<input type="@(subAktivitasLogbookMonitoringStockEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasLogbookMonitoringStock" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasLogbookMonitoringStockEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookMonitoringStockEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookMonitoringStockEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasLogbookMonitoringStockEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasLogbookMonitoringStockEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookMonitoringStockEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasLogbookMonitoringStockEdit.lastUpdatedDate.ReadOnly && !subAktivitasLogbookMonitoringStockEdit.lastUpdatedDate.Disabled && !subAktivitasLogbookMonitoringStockEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasLogbookMonitoringStockEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasLogbookMonitoringStockedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasLogbookMonitoringStockedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasLogbookMonitoringStockEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasLogbookMonitoringStockEdit.IdPlant.Visible) { // subAktivitasLogbookMonitoringStockEdit.IdPlant.Visible (begin)
    <div id="r_IdPlant" @Html.Raw(subAktivitasLogbookMonitoringStockEdit.IdPlant.RowAttributes)>
        <label id="elh_SubAktivitasLogbookMonitoringStock_IdPlant" for="x_IdPlant" class="@(subAktivitasLogbookMonitoringStockEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookMonitoringStockEdit.IdPlant.Caption)@Html.Raw(subAktivitasLogbookMonitoringStockEdit.IdPlant.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookMonitoringStockEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookMonitoringStockEdit.IdPlant.CellAttributes)>
<span id="el_SubAktivitasLogbookMonitoringStock_IdPlant">
<input type="@(subAktivitasLogbookMonitoringStockEdit.IdPlant.InputTextType)" name="x_IdPlant" id="x_IdPlant" data-table="SubAktivitasLogbookMonitoringStock" data-field="x_IdPlant" value="@Html.Raw(subAktivitasLogbookMonitoringStockEdit.IdPlant.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookMonitoringStockEdit.IdPlant.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookMonitoringStockEdit.IdPlant.FormatPattern)"@Html.Raw(subAktivitasLogbookMonitoringStockEdit.IdPlant.EditAttributes) aria-describedby="x_IdPlant_help">
@Html.Raw(subAktivitasLogbookMonitoringStockEdit.IdPlant.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookMonitoringStockEdit.IdPlant.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookMonitoringStockEdit.IdPlant.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasLogbookMonitoringStockEdit.CloseRecordset(); }
@Html.Raw(subAktivitasLogbookMonitoringStockEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasLogbookMonitoringStockEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasLogbookMonitoringStockedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasLogbookMonitoringStockedit" data-href="@AppPath(subAktivitasLogbookMonitoringStockEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasLogbookMonitoringStockEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasLogbookMonitoringStockEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasLogbookMonitoringStock");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
