@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputLogbookPenerimaanRtwList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputLogbookPenerimaanRtwList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputLogbookPenerimaanRtwList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputLogbookPenerimaanRtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputLogbookPenerimaanRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasFormInputLogbookPenerimaanRtwList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasFormInputLogbookPenerimaanRtwList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasFormInputLogbookPenerimaanRtwList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasFormInputLogbookPenerimaanRtwList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasFormInputLogbookPenerimaanRtwList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasFormInputLogbookPenerimaanRtwList.TotalRecords > 0 && subAktivitasFormInputLogbookPenerimaanRtwList.ExportOptions.Visible) {
    subAktivitasFormInputLogbookPenerimaanRtwList.ExportOptions.Render("body");
}
@if (subAktivitasFormInputLogbookPenerimaanRtwList.ImportOptions.Visible) {
    subAktivitasFormInputLogbookPenerimaanRtwList.ImportOptions.Render("body");
}
@if (subAktivitasFormInputLogbookPenerimaanRtwList.SearchOptions.Visible) {
    subAktivitasFormInputLogbookPenerimaanRtwList.SearchOptions.Render("body");
}
@if (subAktivitasFormInputLogbookPenerimaanRtwList.FilterOptions.Visible) {
    subAktivitasFormInputLogbookPenerimaanRtwList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasFormInputLogbookPenerimaanRtwList.IsModal) {
<form name="fSubAktivitasFormInputLogbookPenerimaanRTWsrch" id="fSubAktivitasFormInputLogbookPenerimaanRTWsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasFormInputLogbookPenerimaanRTWsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasFormInputLogbookPenerimaanRtwList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputLogbookPenerimaanRtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputLogbookPenerimaanRTW: currentTable } });
var currentForm;
var fSubAktivitasFormInputLogbookPenerimaanRTWsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputLogbookPenerimaanRTWsrch")
        .setPageId("list")
@if (subAktivitasFormInputLogbookPenerimaanRtwList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasFormInputLogbookPenerimaanRtwList.IsExport() && Empty(subAktivitasFormInputLogbookPenerimaanRtwList.CurrentAction) && subAktivitasFormInputLogbookPenerimaanRtwList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanRtwList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasFormInputLogbookPenerimaanRtwList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasFormInputLogbookPenerimaanRtwList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasFormInputLogbookPenerimaanRTWsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputLogbookPenerimaanRtwList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasFormInputLogbookPenerimaanRTWsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputLogbookPenerimaanRtwList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasFormInputLogbookPenerimaanRTWsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputLogbookPenerimaanRtwList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasFormInputLogbookPenerimaanRTWsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasFormInputLogbookPenerimaanRtwList.ShowPageHeader()
@subAktivitasFormInputLogbookPenerimaanRtwList.ShowMessages()
<main class="list @(subAktivitasFormInputLogbookPenerimaanRtwList.TotalRecords == 0 && !subAktivitasFormInputLogbookPenerimaanRtwList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasFormInputLogbookPenerimaanRtwList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasFormInputLogbookPenerimaanRtwList.TotalRecords > 0 || !Empty(subAktivitasFormInputLogbookPenerimaanRtwList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasFormInputLogbookPenerimaanRtwList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasFormInputLogbookPenerimaanRtwList.TableGridClass)">
<form name="@(subAktivitasFormInputLogbookPenerimaanRtwList.FormName)" id="@(subAktivitasFormInputLogbookPenerimaanRtwList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasFormInputLogbookPenerimaanRtwList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasFormInputLogbookPenerimaanRtwList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasFormInputLogbookPenerimaanRTW" class="card-body ew-grid-middle-panel @(subAktivitasFormInputLogbookPenerimaanRtwList.TableContainerClass)" style="@(subAktivitasFormInputLogbookPenerimaanRtwList.TableContainerStyle)">
@if (subAktivitasFormInputLogbookPenerimaanRtwList.TotalRecords > 0 || subAktivitasFormInputLogbookPenerimaanRtwList.IsGridEdit || subAktivitasFormInputLogbookPenerimaanRtwList.IsMultiEdit) {
<table id="tbl_SubAktivitasFormInputLogbookPenerimaanRTWlist" class="@(subAktivitasFormInputLogbookPenerimaanRtwList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasFormInputLogbookPenerimaanRtwList.RowType = RowType.Header;

    // Render list options
    await subAktivitasFormInputLogbookPenerimaanRtwList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasFormInputLogbookPenerimaanRtwList.ListOptions.RenderHeader("left")
@if (subAktivitasFormInputLogbookPenerimaanRtwList.id.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasFormInputLogbookPenerimaanRtwList.id.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_id" class="SubAktivitasFormInputLogbookPenerimaanRTW_id">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanRtwList.id))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanRtwList.id.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwList.idAktifitas.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasFormInputLogbookPenerimaanRtwList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_idAktifitas" class="SubAktivitasFormInputLogbookPenerimaanRTW_idAktifitas">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanRtwList.idAktifitas))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanRtwList.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwList.Tanggal.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasFormInputLogbookPenerimaanRtwList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_Tanggal" class="SubAktivitasFormInputLogbookPenerimaanRTW_Tanggal">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanRtwList.Tanggal))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanRtwList.Tanggal.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwList.NamaKegiatan.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.NamaKegiatan.Visible (begin)
        <th data-name="NamaKegiatan" class="@(subAktivitasFormInputLogbookPenerimaanRtwList.NamaKegiatan.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_NamaKegiatan" class="SubAktivitasFormInputLogbookPenerimaanRTW_NamaKegiatan">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanRtwList.NamaKegiatan))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanRtwList.NamaKegiatan.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwList.Produk.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasFormInputLogbookPenerimaanRtwList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_Produk" class="SubAktivitasFormInputLogbookPenerimaanRTW_Produk">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanRtwList.Produk))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanRtwList.Produk.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwList.Density.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.Density.Visible (begin)
        <th data-name="Density" class="@(subAktivitasFormInputLogbookPenerimaanRtwList.Density.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_Density" class="SubAktivitasFormInputLogbookPenerimaanRTW_Density">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanRtwList.Density))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanRtwList.Density.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwList.Temperature.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.Temperature.Visible (begin)
        <th data-name="Temperature" class="@(subAktivitasFormInputLogbookPenerimaanRtwList.Temperature.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_Temperature" class="SubAktivitasFormInputLogbookPenerimaanRTW_Temperature">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanRtwList.Temperature))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanRtwList.Temperature.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwList.Level.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.Level.Visible (begin)
        <th data-name="Level" class="@(subAktivitasFormInputLogbookPenerimaanRtwList.Level.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_Level" class="SubAktivitasFormInputLogbookPenerimaanRTW_Level">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanRtwList.Level))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanRtwList.Level.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwList.Volume.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.Volume.Visible (begin)
        <th data-name="Volume" class="@(subAktivitasFormInputLogbookPenerimaanRtwList.Volume.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_Volume" class="SubAktivitasFormInputLogbookPenerimaanRTW_Volume">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanRtwList.Volume))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanRtwList.Volume.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwList.Flowrate.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.Flowrate.Visible (begin)
        <th data-name="Flowrate" class="@(subAktivitasFormInputLogbookPenerimaanRtwList.Flowrate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_Flowrate" class="SubAktivitasFormInputLogbookPenerimaanRTW_Flowrate">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanRtwList.Flowrate))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanRtwList.Flowrate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwList.userInput.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasFormInputLogbookPenerimaanRtwList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_userInput" class="SubAktivitasFormInputLogbookPenerimaanRTW_userInput">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanRtwList.userInput))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanRtwList.userInput.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwList.etlDate.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasFormInputLogbookPenerimaanRtwList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_etlDate" class="SubAktivitasFormInputLogbookPenerimaanRTW_etlDate">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanRtwList.etlDate))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanRtwList.etlDate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwList.idProses.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasFormInputLogbookPenerimaanRtwList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_idProses" class="SubAktivitasFormInputLogbookPenerimaanRTW_idProses">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanRtwList.idProses))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanRtwList.idProses.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwList.LastUpdatedBy.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasFormInputLogbookPenerimaanRtwList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_LastUpdatedBy" class="SubAktivitasFormInputLogbookPenerimaanRTW_LastUpdatedBy">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanRtwList.LastUpdatedBy))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanRtwList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwList.lastUpdatedDate.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasFormInputLogbookPenerimaanRtwList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_lastUpdatedDate" class="SubAktivitasFormInputLogbookPenerimaanRTW_lastUpdatedDate">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanRtwList.lastUpdatedDate))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanRtwList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwList.NoReferensi.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasFormInputLogbookPenerimaanRtwList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_NoReferensi" class="SubAktivitasFormInputLogbookPenerimaanRTW_NoReferensi">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanRtwList.NoReferensi))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanRtwList.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwList.SubAktivitasFormInputHslPemeriksaanRTWId.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.SubAktivitasFormInputHslPemeriksaanRTWId.Visible (begin)
        <th data-name="SubAktivitasFormInputHslPemeriksaanRTWId" class="@(subAktivitasFormInputLogbookPenerimaanRtwList.SubAktivitasFormInputHslPemeriksaanRTWId.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_SubAktivitasFormInputHslPemeriksaanRTWId" class="SubAktivitasFormInputLogbookPenerimaanRTW_SubAktivitasFormInputHslPemeriksaanRTWId">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanRtwList.SubAktivitasFormInputHslPemeriksaanRTWId))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanRtwList.SubAktivitasFormInputHslPemeriksaanRTWId.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwList.TanggalJamSOP.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.TanggalJamSOP.Visible (begin)
        <th data-name="TanggalJamSOP" class="@(subAktivitasFormInputLogbookPenerimaanRtwList.TanggalJamSOP.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_TanggalJamSOP" class="SubAktivitasFormInputLogbookPenerimaanRTW_TanggalJamSOP">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanRtwList.TanggalJamSOP))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanRtwList.TanggalJamSOP.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwList.SelisihWaktu.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.SelisihWaktu.Visible (begin)
        <th data-name="SelisihWaktu" class="@(subAktivitasFormInputLogbookPenerimaanRtwList.SelisihWaktu.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_SelisihWaktu" class="SubAktivitasFormInputLogbookPenerimaanRTW_SelisihWaktu">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanRtwList.SelisihWaktu))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanRtwList.SelisihWaktu.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanRtwList.IsQualityActive.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.IsQualityActive.Visible (begin)
        <th data-name="IsQualityActive" class="@(subAktivitasFormInputLogbookPenerimaanRtwList.IsQualityActive.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanRTW_IsQualityActive" class="SubAktivitasFormInputLogbookPenerimaanRTW_IsQualityActive">@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanRtwList.IsQualityActive))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanRtwList.IsQualityActive.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasFormInputLogbookPenerimaanRtwList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasFormInputLogbookPenerimaanRtwList.PageNumber)">
@{
    await subAktivitasFormInputLogbookPenerimaanRtwList.SetupGrid();
    bool eof = subAktivitasFormInputLogbookPenerimaanRtwList.Recordset == null; // DN
}
@while (subAktivitasFormInputLogbookPenerimaanRtwList.RecordCount < subAktivitasFormInputLogbookPenerimaanRtwList.StopRecord || SameString(subAktivitasFormInputLogbookPenerimaanRtwList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasFormInputLogbookPenerimaanRtwList.RowIndex, "$rowindex$") &&
        (!subAktivitasFormInputLogbookPenerimaanRtwList.IsGridAdd || subAktivitasFormInputLogbookPenerimaanRtwList.CurrentMode == "copy") &&
        (!((subAktivitasFormInputLogbookPenerimaanRtwList.IsCopy || subAktivitasFormInputLogbookPenerimaanRtwList.IsAdd) && subAktivitasFormInputLogbookPenerimaanRtwList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasFormInputLogbookPenerimaanRtwList.Recordset.ReadAsync();
    subAktivitasFormInputLogbookPenerimaanRtwList.RecordCount++;
    if (subAktivitasFormInputLogbookPenerimaanRtwList.RecordCount >= subAktivitasFormInputLogbookPenerimaanRtwList.StartRecord) {
        await subAktivitasFormInputLogbookPenerimaanRtwList.SetupRow();
    <tr @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasFormInputLogbookPenerimaanRtwList.ListOptions.RenderBody("left", subAktivitasFormInputLogbookPenerimaanRtwList.RowCount)
    @if (subAktivitasFormInputLogbookPenerimaanRtwList.id.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanRtwList.RowCount)_SubAktivitasFormInputLogbookPenerimaanRTW_id" class="el_SubAktivitasFormInputLogbookPenerimaanRTW_id">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanRtwList.id.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanRtwList.idAktifitas.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanRtwList.RowCount)_SubAktivitasFormInputLogbookPenerimaanRTW_idAktifitas" class="el_SubAktivitasFormInputLogbookPenerimaanRTW_idAktifitas">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanRtwList.idAktifitas.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanRtwList.Tanggal.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.Tanggal.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanRtwList.RowCount)_SubAktivitasFormInputLogbookPenerimaanRTW_Tanggal" class="el_SubAktivitasFormInputLogbookPenerimaanRTW_Tanggal">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanRtwList.Tanggal.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanRtwList.NamaKegiatan.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.NamaKegiatan.Visible (begin)
        <td data-name="NamaKegiatan" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.NamaKegiatan.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanRtwList.RowCount)_SubAktivitasFormInputLogbookPenerimaanRTW_NamaKegiatan" class="el_SubAktivitasFormInputLogbookPenerimaanRTW_NamaKegiatan">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.NamaKegiatan.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.NamaKegiatan.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanRtwList.NamaKegiatan.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanRtwList.Produk.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.Produk.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanRtwList.RowCount)_SubAktivitasFormInputLogbookPenerimaanRTW_Produk" class="el_SubAktivitasFormInputLogbookPenerimaanRTW_Produk">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanRtwList.Produk.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanRtwList.Density.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.Density.Visible (begin)
        <td data-name="Density" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.Density.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanRtwList.RowCount)_SubAktivitasFormInputLogbookPenerimaanRTW_Density" class="el_SubAktivitasFormInputLogbookPenerimaanRTW_Density">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.Density.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.Density.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanRtwList.Density.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanRtwList.Temperature.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.Temperature.Visible (begin)
        <td data-name="Temperature" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.Temperature.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanRtwList.RowCount)_SubAktivitasFormInputLogbookPenerimaanRTW_Temperature" class="el_SubAktivitasFormInputLogbookPenerimaanRTW_Temperature">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.Temperature.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.Temperature.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanRtwList.Temperature.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanRtwList.Level.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.Level.Visible (begin)
        <td data-name="Level" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.Level.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanRtwList.RowCount)_SubAktivitasFormInputLogbookPenerimaanRTW_Level" class="el_SubAktivitasFormInputLogbookPenerimaanRTW_Level">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.Level.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.Level.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanRtwList.Level.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanRtwList.Volume.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.Volume.Visible (begin)
        <td data-name="Volume" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.Volume.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanRtwList.RowCount)_SubAktivitasFormInputLogbookPenerimaanRTW_Volume" class="el_SubAktivitasFormInputLogbookPenerimaanRTW_Volume">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.Volume.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.Volume.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanRtwList.Volume.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanRtwList.Flowrate.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.Flowrate.Visible (begin)
        <td data-name="Flowrate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.Flowrate.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanRtwList.RowCount)_SubAktivitasFormInputLogbookPenerimaanRTW_Flowrate" class="el_SubAktivitasFormInputLogbookPenerimaanRTW_Flowrate">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.Flowrate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.Flowrate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanRtwList.Flowrate.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanRtwList.userInput.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanRtwList.RowCount)_SubAktivitasFormInputLogbookPenerimaanRTW_userInput" class="el_SubAktivitasFormInputLogbookPenerimaanRTW_userInput">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanRtwList.userInput.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanRtwList.etlDate.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanRtwList.RowCount)_SubAktivitasFormInputLogbookPenerimaanRTW_etlDate" class="el_SubAktivitasFormInputLogbookPenerimaanRTW_etlDate">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanRtwList.etlDate.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanRtwList.idProses.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanRtwList.RowCount)_SubAktivitasFormInputLogbookPenerimaanRTW_idProses" class="el_SubAktivitasFormInputLogbookPenerimaanRTW_idProses">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanRtwList.idProses.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanRtwList.LastUpdatedBy.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanRtwList.RowCount)_SubAktivitasFormInputLogbookPenerimaanRTW_LastUpdatedBy" class="el_SubAktivitasFormInputLogbookPenerimaanRTW_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanRtwList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanRtwList.lastUpdatedDate.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanRtwList.RowCount)_SubAktivitasFormInputLogbookPenerimaanRTW_lastUpdatedDate" class="el_SubAktivitasFormInputLogbookPenerimaanRTW_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanRtwList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanRtwList.NoReferensi.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanRtwList.RowCount)_SubAktivitasFormInputLogbookPenerimaanRTW_NoReferensi" class="el_SubAktivitasFormInputLogbookPenerimaanRTW_NoReferensi">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanRtwList.NoReferensi.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanRtwList.SubAktivitasFormInputHslPemeriksaanRTWId.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.SubAktivitasFormInputHslPemeriksaanRTWId.Visible (begin)
        <td data-name="SubAktivitasFormInputHslPemeriksaanRTWId" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.SubAktivitasFormInputHslPemeriksaanRTWId.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanRtwList.RowCount)_SubAktivitasFormInputLogbookPenerimaanRTW_SubAktivitasFormInputHslPemeriksaanRTWId" class="el_SubAktivitasFormInputLogbookPenerimaanRTW_SubAktivitasFormInputHslPemeriksaanRTWId">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.SubAktivitasFormInputHslPemeriksaanRTWId.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.SubAktivitasFormInputHslPemeriksaanRTWId.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanRtwList.SubAktivitasFormInputHslPemeriksaanRTWId.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanRtwList.TanggalJamSOP.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.TanggalJamSOP.Visible (begin)
        <td data-name="TanggalJamSOP" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.TanggalJamSOP.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanRtwList.RowCount)_SubAktivitasFormInputLogbookPenerimaanRTW_TanggalJamSOP" class="el_SubAktivitasFormInputLogbookPenerimaanRTW_TanggalJamSOP">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.TanggalJamSOP.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.TanggalJamSOP.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanRtwList.TanggalJamSOP.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanRtwList.SelisihWaktu.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.SelisihWaktu.Visible (begin)
        <td data-name="SelisihWaktu" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.SelisihWaktu.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanRtwList.RowCount)_SubAktivitasFormInputLogbookPenerimaanRTW_SelisihWaktu" class="el_SubAktivitasFormInputLogbookPenerimaanRTW_SelisihWaktu">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.SelisihWaktu.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.SelisihWaktu.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanRtwList.SelisihWaktu.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanRtwList.IsQualityActive.Visible) { // subAktivitasFormInputLogbookPenerimaanRtwList.IsQualityActive.Visible (begin)
        <td data-name="IsQualityActive" @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.IsQualityActive.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputLogbookPenerimaanRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanRtwList.RowCount)_SubAktivitasFormInputLogbookPenerimaanRTW_IsQualityActive" class="el_SubAktivitasFormInputLogbookPenerimaanRTW_IsQualityActive">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.IsQualityActive.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(subAktivitasFormInputLogbookPenerimaanRtwList.IsQualityActive.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanRtwList.IsQualityActive.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasFormInputLogbookPenerimaanRtwList.ListOptions.RenderBody("right", subAktivitasFormInputLogbookPenerimaanRtwList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasFormInputLogbookPenerimaanRtwList.RowIndex, "$rowindex$"))
        subAktivitasFormInputLogbookPenerimaanRtwList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasFormInputLogbookPenerimaanRtwList.IsCopy || subAktivitasFormInputLogbookPenerimaanRtwList.IsAdd) && subAktivitasFormInputLogbookPenerimaanRtwList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasFormInputLogbookPenerimaanRtwList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasFormInputLogbookPenerimaanRtwList.CurrentAction) && !subAktivitasFormInputLogbookPenerimaanRtwList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasFormInputLogbookPenerimaanRtwList.CloseRecordset(); }
@if (!subAktivitasFormInputLogbookPenerimaanRtwList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasFormInputLogbookPenerimaanRtwList.IsGridAdd && !(subAktivitasFormInputLogbookPenerimaanRtwList.IsGridEdit && subAktivitasFormInputLogbookPenerimaanRtwList.ModalGridEdit) && !subAktivitasFormInputLogbookPenerimaanRtwList.IsMultiEdit) {
@Html.Raw(subAktivitasFormInputLogbookPenerimaanRtwList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasFormInputLogbookPenerimaanRtwList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasFormInputLogbookPenerimaanRtwList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasFormInputLogbookPenerimaanRtwList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasFormInputLogbookPenerimaanRtwList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputLogbookPenerimaanRtwList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputLogbookPenerimaanRTW");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
