@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiBDperGerbongView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiBDperGerbongView.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasNilaiBDperGerbongView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @subAktivitasNilaiBDperGerbongView.ExportOptions.RenderBody()
    @subAktivitasNilaiBDperGerbongView.OtherOptions.RenderBody()
</div>
}
@subAktivitasNilaiBDperGerbongView.ShowPageHeader()
@subAktivitasNilaiBDperGerbongView.ShowMessages()
<main class="view">
<form name="fSubAktivitasNilaiBDperGerbongview" id="fSubAktivitasNilaiBDperGerbongview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!subAktivitasNilaiBDperGerbongView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiBDperGerbongView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiBDperGerbong: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fSubAktivitasNilaiBDperGerbongview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiBDperGerbongview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasNilaiBDperGerbongView.IsModal)">
<table class="@(subAktivitasNilaiBDperGerbongView.TableClass)">
@if (subAktivitasNilaiBDperGerbongView.id.Visible) { // subAktivitasNilaiBDperGerbongView.id.Visible (begin)
    <tr id="r_id" @Html.Raw(subAktivitasNilaiBDperGerbongView.id.RowAttributes)>
        <td class="@(subAktivitasNilaiBDperGerbongView.TableLeftColumnClass)"><span id="elh_SubAktivitasNilaiBDperGerbong_id">@Html.Raw(subAktivitasNilaiBDperGerbongView.id.Caption)</span></td>
        <td data-name="id" @Html.Raw(subAktivitasNilaiBDperGerbongView.id.CellAttributes)>
<span id="el_SubAktivitasNilaiBDperGerbong_id">
<span @Html.Raw(subAktivitasNilaiBDperGerbongView.id.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBDperGerbongView.id.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasNilaiBDperGerbongView.id.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongView.idAktifitas.Visible) { // subAktivitasNilaiBDperGerbongView.idAktifitas.Visible (begin)
    <tr id="r_idAktifitas" @Html.Raw(subAktivitasNilaiBDperGerbongView.idAktifitas.RowAttributes)>
        <td class="@(subAktivitasNilaiBDperGerbongView.TableLeftColumnClass)"><span id="elh_SubAktivitasNilaiBDperGerbong_idAktifitas">@Html.Raw(subAktivitasNilaiBDperGerbongView.idAktifitas.Caption)</span></td>
        <td data-name="idAktifitas" @Html.Raw(subAktivitasNilaiBDperGerbongView.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasNilaiBDperGerbong_idAktifitas">
<span @Html.Raw(subAktivitasNilaiBDperGerbongView.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBDperGerbongView.idAktifitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasNilaiBDperGerbongView.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongView.NomorGerbongKertel.Visible) { // subAktivitasNilaiBDperGerbongView.NomorGerbongKertel.Visible (begin)
    <tr id="r_NomorGerbongKertel" @Html.Raw(subAktivitasNilaiBDperGerbongView.NomorGerbongKertel.RowAttributes)>
        <td class="@(subAktivitasNilaiBDperGerbongView.TableLeftColumnClass)"><span id="elh_SubAktivitasNilaiBDperGerbong_NomorGerbongKertel">@Html.Raw(subAktivitasNilaiBDperGerbongView.NomorGerbongKertel.Caption)</span></td>
        <td data-name="NomorGerbongKertel" @Html.Raw(subAktivitasNilaiBDperGerbongView.NomorGerbongKertel.CellAttributes)>
<span id="el_SubAktivitasNilaiBDperGerbong_NomorGerbongKertel">
<span @Html.Raw(subAktivitasNilaiBDperGerbongView.NomorGerbongKertel.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBDperGerbongView.NomorGerbongKertel.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasNilaiBDperGerbongView.NomorGerbongKertel.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongView.KL_Obs.Visible) { // subAktivitasNilaiBDperGerbongView.KL_Obs.Visible (begin)
    <tr id="r_KL_Obs" @Html.Raw(subAktivitasNilaiBDperGerbongView.KL_Obs.RowAttributes)>
        <td class="@(subAktivitasNilaiBDperGerbongView.TableLeftColumnClass)"><span id="elh_SubAktivitasNilaiBDperGerbong_KL_Obs">@Html.Raw(subAktivitasNilaiBDperGerbongView.KL_Obs.Caption)</span></td>
        <td data-name="KL_Obs" @Html.Raw(subAktivitasNilaiBDperGerbongView.KL_Obs.CellAttributes)>
<span id="el_SubAktivitasNilaiBDperGerbong_KL_Obs">
<span @Html.Raw(subAktivitasNilaiBDperGerbongView.KL_Obs.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBDperGerbongView.KL_Obs.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasNilaiBDperGerbongView.KL_Obs.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongView.KL_15.Visible) { // subAktivitasNilaiBDperGerbongView.KL_15.Visible (begin)
    <tr id="r_KL_15" @Html.Raw(subAktivitasNilaiBDperGerbongView.KL_15.RowAttributes)>
        <td class="@(subAktivitasNilaiBDperGerbongView.TableLeftColumnClass)"><span id="elh_SubAktivitasNilaiBDperGerbong_KL_15">@Html.Raw(subAktivitasNilaiBDperGerbongView.KL_15.Caption)</span></td>
        <td data-name="KL_15" @Html.Raw(subAktivitasNilaiBDperGerbongView.KL_15.CellAttributes)>
<span id="el_SubAktivitasNilaiBDperGerbong_KL_15">
<span @Html.Raw(subAktivitasNilaiBDperGerbongView.KL_15.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBDperGerbongView.KL_15.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasNilaiBDperGerbongView.KL_15.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongView.Barrels.Visible) { // subAktivitasNilaiBDperGerbongView.Barrels.Visible (begin)
    <tr id="r_Barrels" @Html.Raw(subAktivitasNilaiBDperGerbongView.Barrels.RowAttributes)>
        <td class="@(subAktivitasNilaiBDperGerbongView.TableLeftColumnClass)"><span id="elh_SubAktivitasNilaiBDperGerbong_Barrels">@Html.Raw(subAktivitasNilaiBDperGerbongView.Barrels.Caption)</span></td>
        <td data-name="Barrels" @Html.Raw(subAktivitasNilaiBDperGerbongView.Barrels.CellAttributes)>
<span id="el_SubAktivitasNilaiBDperGerbong_Barrels">
<span @Html.Raw(subAktivitasNilaiBDperGerbongView.Barrels.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBDperGerbongView.Barrels.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasNilaiBDperGerbongView.Barrels.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongView.LT.Visible) { // subAktivitasNilaiBDperGerbongView.LT.Visible (begin)
    <tr id="r_LT" @Html.Raw(subAktivitasNilaiBDperGerbongView.LT.RowAttributes)>
        <td class="@(subAktivitasNilaiBDperGerbongView.TableLeftColumnClass)"><span id="elh_SubAktivitasNilaiBDperGerbong_LT">@Html.Raw(subAktivitasNilaiBDperGerbongView.LT.Caption)</span></td>
        <td data-name="LT" @Html.Raw(subAktivitasNilaiBDperGerbongView.LT.CellAttributes)>
<span id="el_SubAktivitasNilaiBDperGerbong_LT">
<span @Html.Raw(subAktivitasNilaiBDperGerbongView.LT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBDperGerbongView.LT.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasNilaiBDperGerbongView.LT.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongView.MT.Visible) { // subAktivitasNilaiBDperGerbongView.MT.Visible (begin)
    <tr id="r_MT" @Html.Raw(subAktivitasNilaiBDperGerbongView.MT.RowAttributes)>
        <td class="@(subAktivitasNilaiBDperGerbongView.TableLeftColumnClass)"><span id="elh_SubAktivitasNilaiBDperGerbong_MT">@Html.Raw(subAktivitasNilaiBDperGerbongView.MT.Caption)</span></td>
        <td data-name="MT" @Html.Raw(subAktivitasNilaiBDperGerbongView.MT.CellAttributes)>
<span id="el_SubAktivitasNilaiBDperGerbong_MT">
<span @Html.Raw(subAktivitasNilaiBDperGerbongView.MT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBDperGerbongView.MT.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasNilaiBDperGerbongView.MT.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongView.etlDate.Visible) { // subAktivitasNilaiBDperGerbongView.etlDate.Visible (begin)
    <tr id="r_etlDate" @Html.Raw(subAktivitasNilaiBDperGerbongView.etlDate.RowAttributes)>
        <td class="@(subAktivitasNilaiBDperGerbongView.TableLeftColumnClass)"><span id="elh_SubAktivitasNilaiBDperGerbong_etlDate">@Html.Raw(subAktivitasNilaiBDperGerbongView.etlDate.Caption)</span></td>
        <td data-name="etlDate" @Html.Raw(subAktivitasNilaiBDperGerbongView.etlDate.CellAttributes)>
<span id="el_SubAktivitasNilaiBDperGerbong_etlDate">
<span @Html.Raw(subAktivitasNilaiBDperGerbongView.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBDperGerbongView.etlDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasNilaiBDperGerbongView.etlDate.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongView.LastUpdatedBy.Visible) { // subAktivitasNilaiBDperGerbongView.LastUpdatedBy.Visible (begin)
    <tr id="r_LastUpdatedBy" @Html.Raw(subAktivitasNilaiBDperGerbongView.LastUpdatedBy.RowAttributes)>
        <td class="@(subAktivitasNilaiBDperGerbongView.TableLeftColumnClass)"><span id="elh_SubAktivitasNilaiBDperGerbong_LastUpdatedBy">@Html.Raw(subAktivitasNilaiBDperGerbongView.LastUpdatedBy.Caption)</span></td>
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasNilaiBDperGerbongView.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasNilaiBDperGerbong_LastUpdatedBy">
<span @Html.Raw(subAktivitasNilaiBDperGerbongView.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBDperGerbongView.LastUpdatedBy.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasNilaiBDperGerbongView.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongView.lastUpdatedDate.Visible) { // subAktivitasNilaiBDperGerbongView.lastUpdatedDate.Visible (begin)
    <tr id="r_lastUpdatedDate" @Html.Raw(subAktivitasNilaiBDperGerbongView.lastUpdatedDate.RowAttributes)>
        <td class="@(subAktivitasNilaiBDperGerbongView.TableLeftColumnClass)"><span id="elh_SubAktivitasNilaiBDperGerbong_lastUpdatedDate">@Html.Raw(subAktivitasNilaiBDperGerbongView.lastUpdatedDate.Caption)</span></td>
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasNilaiBDperGerbongView.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasNilaiBDperGerbong_lastUpdatedDate">
<span @Html.Raw(subAktivitasNilaiBDperGerbongView.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBDperGerbongView.lastUpdatedDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasNilaiBDperGerbongView.lastUpdatedDate.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongView.NoReferensi.Visible) { // subAktivitasNilaiBDperGerbongView.NoReferensi.Visible (begin)
    <tr id="r_NoReferensi" @Html.Raw(subAktivitasNilaiBDperGerbongView.NoReferensi.RowAttributes)>
        <td class="@(subAktivitasNilaiBDperGerbongView.TableLeftColumnClass)"><span id="elh_SubAktivitasNilaiBDperGerbong_NoReferensi">@Html.Raw(subAktivitasNilaiBDperGerbongView.NoReferensi.Caption)</span></td>
        <td data-name="NoReferensi" @Html.Raw(subAktivitasNilaiBDperGerbongView.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasNilaiBDperGerbong_NoReferensi">
<span @Html.Raw(subAktivitasNilaiBDperGerbongView.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBDperGerbongView.NoReferensi.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasNilaiBDperGerbongView.NoReferensi.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongView.idProses.Visible) { // subAktivitasNilaiBDperGerbongView.idProses.Visible (begin)
    <tr id="r_idProses" @Html.Raw(subAktivitasNilaiBDperGerbongView.idProses.RowAttributes)>
        <td class="@(subAktivitasNilaiBDperGerbongView.TableLeftColumnClass)"><span id="elh_SubAktivitasNilaiBDperGerbong_idProses">@Html.Raw(subAktivitasNilaiBDperGerbongView.idProses.Caption)</span></td>
        <td data-name="idProses" @Html.Raw(subAktivitasNilaiBDperGerbongView.idProses.CellAttributes)>
<span id="el_SubAktivitasNilaiBDperGerbong_idProses">
<span @Html.Raw(subAktivitasNilaiBDperGerbongView.idProses.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBDperGerbongView.idProses.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasNilaiBDperGerbongView.idProses.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongView.StatusAktivitas.Visible) { // subAktivitasNilaiBDperGerbongView.StatusAktivitas.Visible (begin)
    <tr id="r_StatusAktivitas" @Html.Raw(subAktivitasNilaiBDperGerbongView.StatusAktivitas.RowAttributes)>
        <td class="@(subAktivitasNilaiBDperGerbongView.TableLeftColumnClass)"><span id="elh_SubAktivitasNilaiBDperGerbong_StatusAktivitas">@Html.Raw(subAktivitasNilaiBDperGerbongView.StatusAktivitas.Caption)</span></td>
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasNilaiBDperGerbongView.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasNilaiBDperGerbong_StatusAktivitas">
<span @Html.Raw(subAktivitasNilaiBDperGerbongView.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBDperGerbongView.StatusAktivitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasNilaiBDperGerbongView.StatusAktivitas.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongView.userInput.Visible) { // subAktivitasNilaiBDperGerbongView.userInput.Visible (begin)
    <tr id="r_userInput" @Html.Raw(subAktivitasNilaiBDperGerbongView.userInput.RowAttributes)>
        <td class="@(subAktivitasNilaiBDperGerbongView.TableLeftColumnClass)"><span id="elh_SubAktivitasNilaiBDperGerbong_userInput">@Html.Raw(subAktivitasNilaiBDperGerbongView.userInput.Caption)</span></td>
        <td data-name="userInput" @Html.Raw(subAktivitasNilaiBDperGerbongView.userInput.CellAttributes)>
<span id="el_SubAktivitasNilaiBDperGerbong_userInput">
<span @Html.Raw(subAktivitasNilaiBDperGerbongView.userInput.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBDperGerbongView.userInput.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasNilaiBDperGerbongView.userInput.Visible (end) *@
@if (subAktivitasNilaiBDperGerbongView.Produk.Visible) { // subAktivitasNilaiBDperGerbongView.Produk.Visible (begin)
    <tr id="r_Produk" @Html.Raw(subAktivitasNilaiBDperGerbongView.Produk.RowAttributes)>
        <td class="@(subAktivitasNilaiBDperGerbongView.TableLeftColumnClass)"><span id="elh_SubAktivitasNilaiBDperGerbong_Produk">@Html.Raw(subAktivitasNilaiBDperGerbongView.Produk.Caption)</span></td>
        <td data-name="Produk" @Html.Raw(subAktivitasNilaiBDperGerbongView.Produk.CellAttributes)>
<span id="el_SubAktivitasNilaiBDperGerbong_Produk">
<span @Html.Raw(subAktivitasNilaiBDperGerbongView.Produk.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBDperGerbongView.Produk.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasNilaiBDperGerbongView.Produk.Visible (end) *@
</table>
@{ subAktivitasNilaiBDperGerbongView.CloseRecordset(); }
</form>
</main>
@subAktivitasNilaiBDperGerbongView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasNilaiBDperGerbongView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
