@{
    // View
    View = this;

    // Check action result
    if (subAktivitasInputDataKapalStsPyrLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasInputDataKapalStsPyrLpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasInputDataKapalStsPyrLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasInputDataKapalStsPyrLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasInputDataKapalSTSPyrLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasInputDataKapalStsPyrLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasInputDataKapalStsPyrLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasInputDataKapalStsPyrLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasInputDataKapalStsPyrLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasInputDataKapalStsPyrLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasInputDataKapalStsPyrLpgList.TotalRecords > 0 && subAktivitasInputDataKapalStsPyrLpgList.ExportOptions.Visible) {
    subAktivitasInputDataKapalStsPyrLpgList.ExportOptions.Render("body");
}
@if (subAktivitasInputDataKapalStsPyrLpgList.ImportOptions.Visible) {
    subAktivitasInputDataKapalStsPyrLpgList.ImportOptions.Render("body");
}
@if (subAktivitasInputDataKapalStsPyrLpgList.SearchOptions.Visible) {
    subAktivitasInputDataKapalStsPyrLpgList.SearchOptions.Render("body");
}
@if (subAktivitasInputDataKapalStsPyrLpgList.FilterOptions.Visible) {
    subAktivitasInputDataKapalStsPyrLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasInputDataKapalStsPyrLpgList.IsModal) {
<form name="fSubAktivitasInputDataKapalSTSPyrLPGsrch" id="fSubAktivitasInputDataKapalSTSPyrLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasInputDataKapalSTSPyrLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasInputDataKapalStsPyrLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasInputDataKapalStsPyrLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasInputDataKapalSTSPyrLPG: currentTable } });
var currentForm;
var fSubAktivitasInputDataKapalSTSPyrLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasInputDataKapalSTSPyrLPGsrch")
        .setPageId("list")
@if (subAktivitasInputDataKapalStsPyrLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasInputDataKapalStsPyrLpgList.IsExport() && Empty(subAktivitasInputDataKapalStsPyrLpgList.CurrentAction) && subAktivitasInputDataKapalStsPyrLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasInputDataKapalStsPyrLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasInputDataKapalStsPyrLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasInputDataKapalStsPyrLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasInputDataKapalSTSPyrLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasInputDataKapalStsPyrLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasInputDataKapalSTSPyrLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasInputDataKapalStsPyrLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasInputDataKapalSTSPyrLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasInputDataKapalStsPyrLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasInputDataKapalSTSPyrLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasInputDataKapalStsPyrLpgList.ShowPageHeader()
@subAktivitasInputDataKapalStsPyrLpgList.ShowMessages()
<main class="list @(subAktivitasInputDataKapalStsPyrLpgList.TotalRecords == 0 && !subAktivitasInputDataKapalStsPyrLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasInputDataKapalStsPyrLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasInputDataKapalStsPyrLpgList.TotalRecords > 0 || !Empty(subAktivitasInputDataKapalStsPyrLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasInputDataKapalStsPyrLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasInputDataKapalStsPyrLpgList.TableGridClass)">
<form name="@(subAktivitasInputDataKapalStsPyrLpgList.FormName)" id="@(subAktivitasInputDataKapalStsPyrLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasInputDataKapalStsPyrLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasInputDataKapalStsPyrLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasInputDataKapalSTSPyrLPG" class="card-body ew-grid-middle-panel @(subAktivitasInputDataKapalStsPyrLpgList.TableContainerClass)" style="@(subAktivitasInputDataKapalStsPyrLpgList.TableContainerStyle)">
@if (subAktivitasInputDataKapalStsPyrLpgList.TotalRecords > 0 || subAktivitasInputDataKapalStsPyrLpgList.IsGridEdit || subAktivitasInputDataKapalStsPyrLpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasInputDataKapalSTSPyrLPGlist" class="@(subAktivitasInputDataKapalStsPyrLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasInputDataKapalStsPyrLpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasInputDataKapalStsPyrLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasInputDataKapalStsPyrLpgList.ListOptions.RenderHeader("left")
@if (subAktivitasInputDataKapalStsPyrLpgList.id.Visible) { // subAktivitasInputDataKapalStsPyrLpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasInputDataKapalStsPyrLpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalSTSPyrLPG_id" class="SubAktivitasInputDataKapalSTSPyrLPG_id">@Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.RenderFieldHeader(subAktivitasInputDataKapalStsPyrLpgList.id))</div></th>
} @* subAktivitasInputDataKapalStsPyrLpgList.id.Visible (end) *@
@if (subAktivitasInputDataKapalStsPyrLpgList.NoReferensi.Visible) { // subAktivitasInputDataKapalStsPyrLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasInputDataKapalStsPyrLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalSTSPyrLPG_NoReferensi" class="SubAktivitasInputDataKapalSTSPyrLPG_NoReferensi">@Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.RenderFieldHeader(subAktivitasInputDataKapalStsPyrLpgList.NoReferensi))</div></th>
} @* subAktivitasInputDataKapalStsPyrLpgList.NoReferensi.Visible (end) *@
@if (subAktivitasInputDataKapalStsPyrLpgList.idProses.Visible) { // subAktivitasInputDataKapalStsPyrLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasInputDataKapalStsPyrLpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalSTSPyrLPG_idProses" class="SubAktivitasInputDataKapalSTSPyrLPG_idProses">@Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.RenderFieldHeader(subAktivitasInputDataKapalStsPyrLpgList.idProses))</div></th>
} @* subAktivitasInputDataKapalStsPyrLpgList.idProses.Visible (end) *@
@if (subAktivitasInputDataKapalStsPyrLpgList.idAktifitas.Visible) { // subAktivitasInputDataKapalStsPyrLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasInputDataKapalStsPyrLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalSTSPyrLPG_idAktifitas" class="SubAktivitasInputDataKapalSTSPyrLPG_idAktifitas">@Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.RenderFieldHeader(subAktivitasInputDataKapalStsPyrLpgList.idAktifitas))</div></th>
} @* subAktivitasInputDataKapalStsPyrLpgList.idAktifitas.Visible (end) *@
@if (subAktivitasInputDataKapalStsPyrLpgList.StatusAktivitas.Visible) { // subAktivitasInputDataKapalStsPyrLpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasInputDataKapalStsPyrLpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalSTSPyrLPG_StatusAktivitas" class="SubAktivitasInputDataKapalSTSPyrLPG_StatusAktivitas">@Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.RenderFieldHeader(subAktivitasInputDataKapalStsPyrLpgList.StatusAktivitas))</div></th>
} @* subAktivitasInputDataKapalStsPyrLpgList.StatusAktivitas.Visible (end) *@
@if (subAktivitasInputDataKapalStsPyrLpgList.LastUpdatedBy.Visible) { // subAktivitasInputDataKapalStsPyrLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasInputDataKapalStsPyrLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalSTSPyrLPG_LastUpdatedBy" class="SubAktivitasInputDataKapalSTSPyrLPG_LastUpdatedBy">@Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.RenderFieldHeader(subAktivitasInputDataKapalStsPyrLpgList.LastUpdatedBy))</div></th>
} @* subAktivitasInputDataKapalStsPyrLpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasInputDataKapalStsPyrLpgList.lastUpdatedDate.Visible) { // subAktivitasInputDataKapalStsPyrLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasInputDataKapalStsPyrLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalSTSPyrLPG_lastUpdatedDate" class="SubAktivitasInputDataKapalSTSPyrLPG_lastUpdatedDate">@Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.RenderFieldHeader(subAktivitasInputDataKapalStsPyrLpgList.lastUpdatedDate))</div></th>
} @* subAktivitasInputDataKapalStsPyrLpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasInputDataKapalStsPyrLpgList.NamaKapal.Visible) { // subAktivitasInputDataKapalStsPyrLpgList.NamaKapal.Visible (begin)
        <th data-name="NamaKapal" class="@(subAktivitasInputDataKapalStsPyrLpgList.NamaKapal.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalSTSPyrLPG_NamaKapal" class="SubAktivitasInputDataKapalSTSPyrLPG_NamaKapal">@Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.RenderFieldHeader(subAktivitasInputDataKapalStsPyrLpgList.NamaKapal))</div></th>
} @* subAktivitasInputDataKapalStsPyrLpgList.NamaKapal.Visible (end) *@
@if (subAktivitasInputDataKapalStsPyrLpgList.VoyageNumber.Visible) { // subAktivitasInputDataKapalStsPyrLpgList.VoyageNumber.Visible (begin)
        <th data-name="VoyageNumber" class="@(subAktivitasInputDataKapalStsPyrLpgList.VoyageNumber.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalSTSPyrLPG_VoyageNumber" class="SubAktivitasInputDataKapalSTSPyrLPG_VoyageNumber">@Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.RenderFieldHeader(subAktivitasInputDataKapalStsPyrLpgList.VoyageNumber))</div></th>
} @* subAktivitasInputDataKapalStsPyrLpgList.VoyageNumber.Visible (end) *@
@if (subAktivitasInputDataKapalStsPyrLpgList.TanggalTiba.Visible) { // subAktivitasInputDataKapalStsPyrLpgList.TanggalTiba.Visible (begin)
        <th data-name="TanggalTiba" class="@(subAktivitasInputDataKapalStsPyrLpgList.TanggalTiba.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalSTSPyrLPG_TanggalTiba" class="SubAktivitasInputDataKapalSTSPyrLPG_TanggalTiba">@Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.RenderFieldHeader(subAktivitasInputDataKapalStsPyrLpgList.TanggalTiba))</div></th>
} @* subAktivitasInputDataKapalStsPyrLpgList.TanggalTiba.Visible (end) *@
@if (subAktivitasInputDataKapalStsPyrLpgList.Nominasi.Visible) { // subAktivitasInputDataKapalStsPyrLpgList.Nominasi.Visible (begin)
        <th data-name="Nominasi" class="@(subAktivitasInputDataKapalStsPyrLpgList.Nominasi.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalSTSPyrLPG_Nominasi" class="SubAktivitasInputDataKapalSTSPyrLPG_Nominasi">@Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.RenderFieldHeader(subAktivitasInputDataKapalStsPyrLpgList.Nominasi))</div></th>
} @* subAktivitasInputDataKapalStsPyrLpgList.Nominasi.Visible (end) *@
@if (subAktivitasInputDataKapalStsPyrLpgList.JenisProduk.Visible) { // subAktivitasInputDataKapalStsPyrLpgList.JenisProduk.Visible (begin)
        <th data-name="JenisProduk" class="@(subAktivitasInputDataKapalStsPyrLpgList.JenisProduk.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalSTSPyrLPG_JenisProduk" class="SubAktivitasInputDataKapalSTSPyrLPG_JenisProduk">@Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.RenderFieldHeader(subAktivitasInputDataKapalStsPyrLpgList.JenisProduk))</div></th>
} @* subAktivitasInputDataKapalStsPyrLpgList.JenisProduk.Visible (end) *@
@if (subAktivitasInputDataKapalStsPyrLpgList.etlDate.Visible) { // subAktivitasInputDataKapalStsPyrLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasInputDataKapalStsPyrLpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalSTSPyrLPG_etlDate" class="SubAktivitasInputDataKapalSTSPyrLPG_etlDate">@Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.RenderFieldHeader(subAktivitasInputDataKapalStsPyrLpgList.etlDate))</div></th>
} @* subAktivitasInputDataKapalStsPyrLpgList.etlDate.Visible (end) *@
@if (subAktivitasInputDataKapalStsPyrLpgList.userInput.Visible) { // subAktivitasInputDataKapalStsPyrLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasInputDataKapalStsPyrLpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalSTSPyrLPG_userInput" class="SubAktivitasInputDataKapalSTSPyrLPG_userInput">@Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.RenderFieldHeader(subAktivitasInputDataKapalStsPyrLpgList.userInput))</div></th>
} @* subAktivitasInputDataKapalStsPyrLpgList.userInput.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasInputDataKapalStsPyrLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasInputDataKapalStsPyrLpgList.PageNumber)">
@{
    await subAktivitasInputDataKapalStsPyrLpgList.SetupGrid();
    bool eof = subAktivitasInputDataKapalStsPyrLpgList.Recordset == null; // DN
}
@while (subAktivitasInputDataKapalStsPyrLpgList.RecordCount < subAktivitasInputDataKapalStsPyrLpgList.StopRecord || SameString(subAktivitasInputDataKapalStsPyrLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasInputDataKapalStsPyrLpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasInputDataKapalStsPyrLpgList.IsGridAdd || subAktivitasInputDataKapalStsPyrLpgList.CurrentMode == "copy") &&
        (!((subAktivitasInputDataKapalStsPyrLpgList.IsCopy || subAktivitasInputDataKapalStsPyrLpgList.IsAdd) && subAktivitasInputDataKapalStsPyrLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasInputDataKapalStsPyrLpgList.Recordset.ReadAsync();
    subAktivitasInputDataKapalStsPyrLpgList.RecordCount++;
    if (subAktivitasInputDataKapalStsPyrLpgList.RecordCount >= subAktivitasInputDataKapalStsPyrLpgList.StartRecord) {
        await subAktivitasInputDataKapalStsPyrLpgList.SetupRow();
    <tr @Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasInputDataKapalStsPyrLpgList.ListOptions.RenderBody("left", subAktivitasInputDataKapalStsPyrLpgList.RowCount)
    @if (subAktivitasInputDataKapalStsPyrLpgList.id.Visible) { // subAktivitasInputDataKapalStsPyrLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataKapalStsPyrLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataKapalStsPyrLpgList.RowCount)_SubAktivitasInputDataKapalSTSPyrLPG_id" class="el_SubAktivitasInputDataKapalSTSPyrLPG_id">
<span @Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalStsPyrLpgList.id.Visible (end) *@
    @if (subAktivitasInputDataKapalStsPyrLpgList.NoReferensi.Visible) { // subAktivitasInputDataKapalStsPyrLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataKapalStsPyrLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataKapalStsPyrLpgList.RowCount)_SubAktivitasInputDataKapalSTSPyrLPG_NoReferensi" class="el_SubAktivitasInputDataKapalSTSPyrLPG_NoReferensi">
<span @Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalStsPyrLpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasInputDataKapalStsPyrLpgList.idProses.Visible) { // subAktivitasInputDataKapalStsPyrLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataKapalStsPyrLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataKapalStsPyrLpgList.RowCount)_SubAktivitasInputDataKapalSTSPyrLPG_idProses" class="el_SubAktivitasInputDataKapalSTSPyrLPG_idProses">
<span @Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalStsPyrLpgList.idProses.Visible (end) *@
    @if (subAktivitasInputDataKapalStsPyrLpgList.idAktifitas.Visible) { // subAktivitasInputDataKapalStsPyrLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataKapalStsPyrLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataKapalStsPyrLpgList.RowCount)_SubAktivitasInputDataKapalSTSPyrLPG_idAktifitas" class="el_SubAktivitasInputDataKapalSTSPyrLPG_idAktifitas">
<span @Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalStsPyrLpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasInputDataKapalStsPyrLpgList.StatusAktivitas.Visible) { // subAktivitasInputDataKapalStsPyrLpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataKapalStsPyrLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataKapalStsPyrLpgList.RowCount)_SubAktivitasInputDataKapalSTSPyrLPG_StatusAktivitas" class="el_SubAktivitasInputDataKapalSTSPyrLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalStsPyrLpgList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasInputDataKapalStsPyrLpgList.LastUpdatedBy.Visible) { // subAktivitasInputDataKapalStsPyrLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataKapalStsPyrLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataKapalStsPyrLpgList.RowCount)_SubAktivitasInputDataKapalSTSPyrLPG_LastUpdatedBy" class="el_SubAktivitasInputDataKapalSTSPyrLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalStsPyrLpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasInputDataKapalStsPyrLpgList.lastUpdatedDate.Visible) { // subAktivitasInputDataKapalStsPyrLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataKapalStsPyrLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataKapalStsPyrLpgList.RowCount)_SubAktivitasInputDataKapalSTSPyrLPG_lastUpdatedDate" class="el_SubAktivitasInputDataKapalSTSPyrLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalStsPyrLpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasInputDataKapalStsPyrLpgList.NamaKapal.Visible) { // subAktivitasInputDataKapalStsPyrLpgList.NamaKapal.Visible (begin)
        <td data-name="NamaKapal" @Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.NamaKapal.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataKapalStsPyrLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataKapalStsPyrLpgList.RowCount)_SubAktivitasInputDataKapalSTSPyrLPG_NamaKapal" class="el_SubAktivitasInputDataKapalSTSPyrLPG_NamaKapal">
<span @Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.NamaKapal.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.NamaKapal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalStsPyrLpgList.NamaKapal.Visible (end) *@
    @if (subAktivitasInputDataKapalStsPyrLpgList.VoyageNumber.Visible) { // subAktivitasInputDataKapalStsPyrLpgList.VoyageNumber.Visible (begin)
        <td data-name="VoyageNumber" @Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.VoyageNumber.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataKapalStsPyrLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataKapalStsPyrLpgList.RowCount)_SubAktivitasInputDataKapalSTSPyrLPG_VoyageNumber" class="el_SubAktivitasInputDataKapalSTSPyrLPG_VoyageNumber">
<span @Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.VoyageNumber.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.VoyageNumber.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalStsPyrLpgList.VoyageNumber.Visible (end) *@
    @if (subAktivitasInputDataKapalStsPyrLpgList.TanggalTiba.Visible) { // subAktivitasInputDataKapalStsPyrLpgList.TanggalTiba.Visible (begin)
        <td data-name="TanggalTiba" @Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.TanggalTiba.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataKapalStsPyrLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataKapalStsPyrLpgList.RowCount)_SubAktivitasInputDataKapalSTSPyrLPG_TanggalTiba" class="el_SubAktivitasInputDataKapalSTSPyrLPG_TanggalTiba">
<span @Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.TanggalTiba.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.TanggalTiba.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalStsPyrLpgList.TanggalTiba.Visible (end) *@
    @if (subAktivitasInputDataKapalStsPyrLpgList.Nominasi.Visible) { // subAktivitasInputDataKapalStsPyrLpgList.Nominasi.Visible (begin)
        <td data-name="Nominasi" @Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.Nominasi.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataKapalStsPyrLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataKapalStsPyrLpgList.RowCount)_SubAktivitasInputDataKapalSTSPyrLPG_Nominasi" class="el_SubAktivitasInputDataKapalSTSPyrLPG_Nominasi">
<span @Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.Nominasi.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.Nominasi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalStsPyrLpgList.Nominasi.Visible (end) *@
    @if (subAktivitasInputDataKapalStsPyrLpgList.JenisProduk.Visible) { // subAktivitasInputDataKapalStsPyrLpgList.JenisProduk.Visible (begin)
        <td data-name="JenisProduk" @Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.JenisProduk.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataKapalStsPyrLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataKapalStsPyrLpgList.RowCount)_SubAktivitasInputDataKapalSTSPyrLPG_JenisProduk" class="el_SubAktivitasInputDataKapalSTSPyrLPG_JenisProduk">
<span @Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.JenisProduk.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.JenisProduk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalStsPyrLpgList.JenisProduk.Visible (end) *@
    @if (subAktivitasInputDataKapalStsPyrLpgList.etlDate.Visible) { // subAktivitasInputDataKapalStsPyrLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataKapalStsPyrLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataKapalStsPyrLpgList.RowCount)_SubAktivitasInputDataKapalSTSPyrLPG_etlDate" class="el_SubAktivitasInputDataKapalSTSPyrLPG_etlDate">
<span @Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalStsPyrLpgList.etlDate.Visible (end) *@
    @if (subAktivitasInputDataKapalStsPyrLpgList.userInput.Visible) { // subAktivitasInputDataKapalStsPyrLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataKapalStsPyrLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataKapalStsPyrLpgList.RowCount)_SubAktivitasInputDataKapalSTSPyrLPG_userInput" class="el_SubAktivitasInputDataKapalSTSPyrLPG_userInput">
<span @Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalStsPyrLpgList.userInput.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasInputDataKapalStsPyrLpgList.ListOptions.RenderBody("right", subAktivitasInputDataKapalStsPyrLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasInputDataKapalStsPyrLpgList.RowIndex, "$rowindex$"))
        subAktivitasInputDataKapalStsPyrLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasInputDataKapalStsPyrLpgList.IsCopy || subAktivitasInputDataKapalStsPyrLpgList.IsAdd) && subAktivitasInputDataKapalStsPyrLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasInputDataKapalStsPyrLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasInputDataKapalStsPyrLpgList.CurrentAction) && !subAktivitasInputDataKapalStsPyrLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasInputDataKapalStsPyrLpgList.CloseRecordset(); }
@if (!subAktivitasInputDataKapalStsPyrLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasInputDataKapalStsPyrLpgList.IsGridAdd && !(subAktivitasInputDataKapalStsPyrLpgList.IsGridEdit && subAktivitasInputDataKapalStsPyrLpgList.ModalGridEdit) && !subAktivitasInputDataKapalStsPyrLpgList.IsMultiEdit) {
@Html.Raw(subAktivitasInputDataKapalStsPyrLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasInputDataKapalStsPyrLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasInputDataKapalStsPyrLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasInputDataKapalStsPyrLpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasInputDataKapalStsPyrLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasInputDataKapalStsPyrLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasInputDataKapalSTSPyrLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
