@{
    // View
    View = this;

    // Check action result
    if (subAkivitasNilaiAktualDischargePipaLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAkivitasNilaiAktualDischargePipaLpgList.UseLayout ? "_Layout" : "";
}
@if (!subAkivitasNilaiAktualDischargePipaLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAkivitasNilaiAktualDischargePipaLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAkivitasNilaiAktualDischargePipaLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAkivitasNilaiAktualDischargePipaLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAkivitasNilaiAktualDischargePipaLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAkivitasNilaiAktualDischargePipaLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAkivitasNilaiAktualDischargePipaLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAkivitasNilaiAktualDischargePipaLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAkivitasNilaiAktualDischargePipaLpgList.TotalRecords > 0 && subAkivitasNilaiAktualDischargePipaLpgList.ExportOptions.Visible) {
    subAkivitasNilaiAktualDischargePipaLpgList.ExportOptions.Render("body");
}
@if (subAkivitasNilaiAktualDischargePipaLpgList.ImportOptions.Visible) {
    subAkivitasNilaiAktualDischargePipaLpgList.ImportOptions.Render("body");
}
@if (subAkivitasNilaiAktualDischargePipaLpgList.SearchOptions.Visible) {
    subAkivitasNilaiAktualDischargePipaLpgList.SearchOptions.Render("body");
}
@if (subAkivitasNilaiAktualDischargePipaLpgList.FilterOptions.Visible) {
    subAkivitasNilaiAktualDischargePipaLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAkivitasNilaiAktualDischargePipaLpgList.IsModal) {
<form name="fSubAkivitasNilaiAktualDischargePipaLPGsrch" id="fSubAkivitasNilaiAktualDischargePipaLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAkivitasNilaiAktualDischargePipaLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAkivitasNilaiAktualDischargePipaLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAkivitasNilaiAktualDischargePipaLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAkivitasNilaiAktualDischargePipaLPG: currentTable } });
var currentForm;
var fSubAkivitasNilaiAktualDischargePipaLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAkivitasNilaiAktualDischargePipaLPGsrch")
        .setPageId("list")
@if (subAkivitasNilaiAktualDischargePipaLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAkivitasNilaiAktualDischargePipaLpgList.IsExport() && Empty(subAkivitasNilaiAktualDischargePipaLpgList.CurrentAction) && subAkivitasNilaiAktualDischargePipaLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAkivitasNilaiAktualDischargePipaLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAkivitasNilaiAktualDischargePipaLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAkivitasNilaiAktualDischargePipaLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAkivitasNilaiAktualDischargePipaLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAkivitasNilaiAktualDischargePipaLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAkivitasNilaiAktualDischargePipaLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAkivitasNilaiAktualDischargePipaLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAkivitasNilaiAktualDischargePipaLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAkivitasNilaiAktualDischargePipaLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAkivitasNilaiAktualDischargePipaLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAkivitasNilaiAktualDischargePipaLpgList.ShowPageHeader()
@subAkivitasNilaiAktualDischargePipaLpgList.ShowMessages()
<main class="list @(subAkivitasNilaiAktualDischargePipaLpgList.TotalRecords == 0 && !subAkivitasNilaiAktualDischargePipaLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAkivitasNilaiAktualDischargePipaLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAkivitasNilaiAktualDischargePipaLpgList.TotalRecords > 0 || !Empty(subAkivitasNilaiAktualDischargePipaLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAkivitasNilaiAktualDischargePipaLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAkivitasNilaiAktualDischargePipaLpgList.TableGridClass)">
<form name="@(subAkivitasNilaiAktualDischargePipaLpgList.FormName)" id="@(subAkivitasNilaiAktualDischargePipaLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAkivitasNilaiAktualDischargePipaLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAkivitasNilaiAktualDischargePipaLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAkivitasNilaiAktualDischargePipaLPG" class="card-body ew-grid-middle-panel @(subAkivitasNilaiAktualDischargePipaLpgList.TableContainerClass)" style="@(subAkivitasNilaiAktualDischargePipaLpgList.TableContainerStyle)">
@if (subAkivitasNilaiAktualDischargePipaLpgList.TotalRecords > 0 || subAkivitasNilaiAktualDischargePipaLpgList.IsGridEdit || subAkivitasNilaiAktualDischargePipaLpgList.IsMultiEdit) {
<table id="tbl_SubAkivitasNilaiAktualDischargePipaLPGlist" class="@(subAkivitasNilaiAktualDischargePipaLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAkivitasNilaiAktualDischargePipaLpgList.RowType = RowType.Header;

    // Render list options
    await subAkivitasNilaiAktualDischargePipaLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAkivitasNilaiAktualDischargePipaLpgList.ListOptions.RenderHeader("left")
@if (subAkivitasNilaiAktualDischargePipaLpgList.id.Visible) { // subAkivitasNilaiAktualDischargePipaLpgList.id.Visible (begin)
        <th data-name="id" class="@(subAkivitasNilaiAktualDischargePipaLpgList.id.HeaderCellClass)"><div id="elh_SubAkivitasNilaiAktualDischargePipaLPG_id" class="SubAkivitasNilaiAktualDischargePipaLPG_id">@Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.RenderFieldHeader(subAkivitasNilaiAktualDischargePipaLpgList.id))</div></th>
} @* subAkivitasNilaiAktualDischargePipaLpgList.id.Visible (end) *@
@if (subAkivitasNilaiAktualDischargePipaLpgList.NoReferensi.Visible) { // subAkivitasNilaiAktualDischargePipaLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAkivitasNilaiAktualDischargePipaLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAkivitasNilaiAktualDischargePipaLPG_NoReferensi" class="SubAkivitasNilaiAktualDischargePipaLPG_NoReferensi">@Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.RenderFieldHeader(subAkivitasNilaiAktualDischargePipaLpgList.NoReferensi))</div></th>
} @* subAkivitasNilaiAktualDischargePipaLpgList.NoReferensi.Visible (end) *@
@if (subAkivitasNilaiAktualDischargePipaLpgList.idProses.Visible) { // subAkivitasNilaiAktualDischargePipaLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAkivitasNilaiAktualDischargePipaLpgList.idProses.HeaderCellClass)"><div id="elh_SubAkivitasNilaiAktualDischargePipaLPG_idProses" class="SubAkivitasNilaiAktualDischargePipaLPG_idProses">@Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.RenderFieldHeader(subAkivitasNilaiAktualDischargePipaLpgList.idProses))</div></th>
} @* subAkivitasNilaiAktualDischargePipaLpgList.idProses.Visible (end) *@
@if (subAkivitasNilaiAktualDischargePipaLpgList.idAktifitas.Visible) { // subAkivitasNilaiAktualDischargePipaLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAkivitasNilaiAktualDischargePipaLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAkivitasNilaiAktualDischargePipaLPG_idAktifitas" class="SubAkivitasNilaiAktualDischargePipaLPG_idAktifitas">@Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.RenderFieldHeader(subAkivitasNilaiAktualDischargePipaLpgList.idAktifitas))</div></th>
} @* subAkivitasNilaiAktualDischargePipaLpgList.idAktifitas.Visible (end) *@
@if (subAkivitasNilaiAktualDischargePipaLpgList.StatusAktivitas.Visible) { // subAkivitasNilaiAktualDischargePipaLpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAkivitasNilaiAktualDischargePipaLpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAkivitasNilaiAktualDischargePipaLPG_StatusAktivitas" class="SubAkivitasNilaiAktualDischargePipaLPG_StatusAktivitas">@Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.RenderFieldHeader(subAkivitasNilaiAktualDischargePipaLpgList.StatusAktivitas))</div></th>
} @* subAkivitasNilaiAktualDischargePipaLpgList.StatusAktivitas.Visible (end) *@
@if (subAkivitasNilaiAktualDischargePipaLpgList.LastUpdatedBy.Visible) { // subAkivitasNilaiAktualDischargePipaLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAkivitasNilaiAktualDischargePipaLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAkivitasNilaiAktualDischargePipaLPG_LastUpdatedBy" class="SubAkivitasNilaiAktualDischargePipaLPG_LastUpdatedBy">@Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.RenderFieldHeader(subAkivitasNilaiAktualDischargePipaLpgList.LastUpdatedBy))</div></th>
} @* subAkivitasNilaiAktualDischargePipaLpgList.LastUpdatedBy.Visible (end) *@
@if (subAkivitasNilaiAktualDischargePipaLpgList.lastUpdatedDate.Visible) { // subAkivitasNilaiAktualDischargePipaLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAkivitasNilaiAktualDischargePipaLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAkivitasNilaiAktualDischargePipaLPG_lastUpdatedDate" class="SubAkivitasNilaiAktualDischargePipaLPG_lastUpdatedDate">@Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.RenderFieldHeader(subAkivitasNilaiAktualDischargePipaLpgList.lastUpdatedDate))</div></th>
} @* subAkivitasNilaiAktualDischargePipaLpgList.lastUpdatedDate.Visible (end) *@
@if (subAkivitasNilaiAktualDischargePipaLpgList.AktualDischarge_mt.Visible) { // subAkivitasNilaiAktualDischargePipaLpgList.AktualDischarge_mt.Visible (begin)
        <th data-name="AktualDischarge_mt" class="@(subAkivitasNilaiAktualDischargePipaLpgList.AktualDischarge_mt.HeaderCellClass)"><div id="elh_SubAkivitasNilaiAktualDischargePipaLPG_AktualDischarge_mt" class="SubAkivitasNilaiAktualDischargePipaLPG_AktualDischarge_mt">@Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.RenderFieldHeader(subAkivitasNilaiAktualDischargePipaLpgList.AktualDischarge_mt))</div></th>
} @* subAkivitasNilaiAktualDischargePipaLpgList.AktualDischarge_mt.Visible (end) *@
@if (subAkivitasNilaiAktualDischargePipaLpgList.userInput.Visible) { // subAkivitasNilaiAktualDischargePipaLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAkivitasNilaiAktualDischargePipaLpgList.userInput.HeaderCellClass)"><div id="elh_SubAkivitasNilaiAktualDischargePipaLPG_userInput" class="SubAkivitasNilaiAktualDischargePipaLPG_userInput">@Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.RenderFieldHeader(subAkivitasNilaiAktualDischargePipaLpgList.userInput))</div></th>
} @* subAkivitasNilaiAktualDischargePipaLpgList.userInput.Visible (end) *@
@if (subAkivitasNilaiAktualDischargePipaLpgList.etlDate.Visible) { // subAkivitasNilaiAktualDischargePipaLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAkivitasNilaiAktualDischargePipaLpgList.etlDate.HeaderCellClass)"><div id="elh_SubAkivitasNilaiAktualDischargePipaLPG_etlDate" class="SubAkivitasNilaiAktualDischargePipaLPG_etlDate">@Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.RenderFieldHeader(subAkivitasNilaiAktualDischargePipaLpgList.etlDate))</div></th>
} @* subAkivitasNilaiAktualDischargePipaLpgList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAkivitasNilaiAktualDischargePipaLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAkivitasNilaiAktualDischargePipaLpgList.PageNumber)">
@{
    await subAkivitasNilaiAktualDischargePipaLpgList.SetupGrid();
    bool eof = subAkivitasNilaiAktualDischargePipaLpgList.Recordset == null; // DN
}
@while (subAkivitasNilaiAktualDischargePipaLpgList.RecordCount < subAkivitasNilaiAktualDischargePipaLpgList.StopRecord || SameString(subAkivitasNilaiAktualDischargePipaLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAkivitasNilaiAktualDischargePipaLpgList.RowIndex, "$rowindex$") &&
        (!subAkivitasNilaiAktualDischargePipaLpgList.IsGridAdd || subAkivitasNilaiAktualDischargePipaLpgList.CurrentMode == "copy") &&
        (!((subAkivitasNilaiAktualDischargePipaLpgList.IsCopy || subAkivitasNilaiAktualDischargePipaLpgList.IsAdd) && subAkivitasNilaiAktualDischargePipaLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAkivitasNilaiAktualDischargePipaLpgList.Recordset.ReadAsync();
    subAkivitasNilaiAktualDischargePipaLpgList.RecordCount++;
    if (subAkivitasNilaiAktualDischargePipaLpgList.RecordCount >= subAkivitasNilaiAktualDischargePipaLpgList.StartRecord) {
        await subAkivitasNilaiAktualDischargePipaLpgList.SetupRow();
    <tr @Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAkivitasNilaiAktualDischargePipaLpgList.ListOptions.RenderBody("left", subAkivitasNilaiAktualDischargePipaLpgList.RowCount)
    @if (subAkivitasNilaiAktualDischargePipaLpgList.id.Visible) { // subAkivitasNilaiAktualDischargePipaLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.id.CellAttributes)>
<span id="el@(subAkivitasNilaiAktualDischargePipaLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAkivitasNilaiAktualDischargePipaLpgList.RowCount)_SubAkivitasNilaiAktualDischargePipaLPG_id" class="el_SubAkivitasNilaiAktualDischargePipaLPG_id">
<span @Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.id.ViewAttributes)>
@Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAkivitasNilaiAktualDischargePipaLpgList.id.Visible (end) *@
    @if (subAkivitasNilaiAktualDischargePipaLpgList.NoReferensi.Visible) { // subAkivitasNilaiAktualDischargePipaLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.NoReferensi.CellAttributes)>
<span id="el@(subAkivitasNilaiAktualDischargePipaLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAkivitasNilaiAktualDischargePipaLpgList.RowCount)_SubAkivitasNilaiAktualDischargePipaLPG_NoReferensi" class="el_SubAkivitasNilaiAktualDischargePipaLPG_NoReferensi">
<span @Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAkivitasNilaiAktualDischargePipaLpgList.NoReferensi.Visible (end) *@
    @if (subAkivitasNilaiAktualDischargePipaLpgList.idProses.Visible) { // subAkivitasNilaiAktualDischargePipaLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.idProses.CellAttributes)>
<span id="el@(subAkivitasNilaiAktualDischargePipaLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAkivitasNilaiAktualDischargePipaLpgList.RowCount)_SubAkivitasNilaiAktualDischargePipaLPG_idProses" class="el_SubAkivitasNilaiAktualDischargePipaLPG_idProses">
<span @Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.idProses.ViewAttributes)>
@Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAkivitasNilaiAktualDischargePipaLpgList.idProses.Visible (end) *@
    @if (subAkivitasNilaiAktualDischargePipaLpgList.idAktifitas.Visible) { // subAkivitasNilaiAktualDischargePipaLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.idAktifitas.CellAttributes)>
<span id="el@(subAkivitasNilaiAktualDischargePipaLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAkivitasNilaiAktualDischargePipaLpgList.RowCount)_SubAkivitasNilaiAktualDischargePipaLPG_idAktifitas" class="el_SubAkivitasNilaiAktualDischargePipaLPG_idAktifitas">
<span @Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAkivitasNilaiAktualDischargePipaLpgList.idAktifitas.Visible (end) *@
    @if (subAkivitasNilaiAktualDischargePipaLpgList.StatusAktivitas.Visible) { // subAkivitasNilaiAktualDischargePipaLpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.StatusAktivitas.CellAttributes)>
<span id="el@(subAkivitasNilaiAktualDischargePipaLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAkivitasNilaiAktualDischargePipaLpgList.RowCount)_SubAkivitasNilaiAktualDischargePipaLPG_StatusAktivitas" class="el_SubAkivitasNilaiAktualDischargePipaLPG_StatusAktivitas">
<span @Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAkivitasNilaiAktualDischargePipaLpgList.StatusAktivitas.Visible (end) *@
    @if (subAkivitasNilaiAktualDischargePipaLpgList.LastUpdatedBy.Visible) { // subAkivitasNilaiAktualDischargePipaLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAkivitasNilaiAktualDischargePipaLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAkivitasNilaiAktualDischargePipaLpgList.RowCount)_SubAkivitasNilaiAktualDischargePipaLPG_LastUpdatedBy" class="el_SubAkivitasNilaiAktualDischargePipaLPG_LastUpdatedBy">
<span @Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAkivitasNilaiAktualDischargePipaLpgList.LastUpdatedBy.Visible (end) *@
    @if (subAkivitasNilaiAktualDischargePipaLpgList.lastUpdatedDate.Visible) { // subAkivitasNilaiAktualDischargePipaLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAkivitasNilaiAktualDischargePipaLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAkivitasNilaiAktualDischargePipaLpgList.RowCount)_SubAkivitasNilaiAktualDischargePipaLPG_lastUpdatedDate" class="el_SubAkivitasNilaiAktualDischargePipaLPG_lastUpdatedDate">
<span @Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAkivitasNilaiAktualDischargePipaLpgList.lastUpdatedDate.Visible (end) *@
    @if (subAkivitasNilaiAktualDischargePipaLpgList.AktualDischarge_mt.Visible) { // subAkivitasNilaiAktualDischargePipaLpgList.AktualDischarge_mt.Visible (begin)
        <td data-name="AktualDischarge_mt" @Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.AktualDischarge_mt.CellAttributes)>
<span id="el@(subAkivitasNilaiAktualDischargePipaLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAkivitasNilaiAktualDischargePipaLpgList.RowCount)_SubAkivitasNilaiAktualDischargePipaLPG_AktualDischarge_mt" class="el_SubAkivitasNilaiAktualDischargePipaLPG_AktualDischarge_mt">
<span @Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.AktualDischarge_mt.ViewAttributes)>
@Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.AktualDischarge_mt.GetViewValue())</span>
</span>
</td>
    } @* subAkivitasNilaiAktualDischargePipaLpgList.AktualDischarge_mt.Visible (end) *@
    @if (subAkivitasNilaiAktualDischargePipaLpgList.userInput.Visible) { // subAkivitasNilaiAktualDischargePipaLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.userInput.CellAttributes)>
<span id="el@(subAkivitasNilaiAktualDischargePipaLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAkivitasNilaiAktualDischargePipaLpgList.RowCount)_SubAkivitasNilaiAktualDischargePipaLPG_userInput" class="el_SubAkivitasNilaiAktualDischargePipaLPG_userInput">
<span @Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.userInput.ViewAttributes)>
@Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAkivitasNilaiAktualDischargePipaLpgList.userInput.Visible (end) *@
    @if (subAkivitasNilaiAktualDischargePipaLpgList.etlDate.Visible) { // subAkivitasNilaiAktualDischargePipaLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.etlDate.CellAttributes)>
<span id="el@(subAkivitasNilaiAktualDischargePipaLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAkivitasNilaiAktualDischargePipaLpgList.RowCount)_SubAkivitasNilaiAktualDischargePipaLPG_etlDate" class="el_SubAkivitasNilaiAktualDischargePipaLPG_etlDate">
<span @Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.etlDate.ViewAttributes)>
@Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAkivitasNilaiAktualDischargePipaLpgList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAkivitasNilaiAktualDischargePipaLpgList.ListOptions.RenderBody("right", subAkivitasNilaiAktualDischargePipaLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAkivitasNilaiAktualDischargePipaLpgList.RowIndex, "$rowindex$"))
        subAkivitasNilaiAktualDischargePipaLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAkivitasNilaiAktualDischargePipaLpgList.IsCopy || subAkivitasNilaiAktualDischargePipaLpgList.IsAdd) && subAkivitasNilaiAktualDischargePipaLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAkivitasNilaiAktualDischargePipaLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAkivitasNilaiAktualDischargePipaLpgList.CurrentAction) && !subAkivitasNilaiAktualDischargePipaLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAkivitasNilaiAktualDischargePipaLpgList.CloseRecordset(); }
@if (!subAkivitasNilaiAktualDischargePipaLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAkivitasNilaiAktualDischargePipaLpgList.IsGridAdd && !(subAkivitasNilaiAktualDischargePipaLpgList.IsGridEdit && subAkivitasNilaiAktualDischargePipaLpgList.ModalGridEdit) && !subAkivitasNilaiAktualDischargePipaLpgList.IsMultiEdit) {
@Html.Raw(subAkivitasNilaiAktualDischargePipaLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAkivitasNilaiAktualDischargePipaLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAkivitasNilaiAktualDischargePipaLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAkivitasNilaiAktualDischargePipaLpgList.FooterOptions.RenderBody()
</div>
</main>
@subAkivitasNilaiAktualDischargePipaLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAkivitasNilaiAktualDischargePipaLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAkivitasNilaiAktualDischargePipaLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
