@{
    // View
    View = this;

    // Check action result
    if (subAktivitasDataStartPembongkaranPipaList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasDataStartPembongkaranPipaList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasDataStartPembongkaranPipaList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataStartPembongkaranPipaList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataStartPembongkaranPipa: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasDataStartPembongkaranPipaList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasDataStartPembongkaranPipaList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasDataStartPembongkaranPipaList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasDataStartPembongkaranPipaList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasDataStartPembongkaranPipaList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasDataStartPembongkaranPipaList.TotalRecords > 0 && subAktivitasDataStartPembongkaranPipaList.ExportOptions.Visible) {
    subAktivitasDataStartPembongkaranPipaList.ExportOptions.Render("body");
}
@if (subAktivitasDataStartPembongkaranPipaList.ImportOptions.Visible) {
    subAktivitasDataStartPembongkaranPipaList.ImportOptions.Render("body");
}
@if (subAktivitasDataStartPembongkaranPipaList.SearchOptions.Visible) {
    subAktivitasDataStartPembongkaranPipaList.SearchOptions.Render("body");
}
@if (subAktivitasDataStartPembongkaranPipaList.FilterOptions.Visible) {
    subAktivitasDataStartPembongkaranPipaList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasDataStartPembongkaranPipaList.IsModal) {
<form name="fSubAktivitasDataStartPembongkaranPipasrch" id="fSubAktivitasDataStartPembongkaranPipasrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasDataStartPembongkaranPipasrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasDataStartPembongkaranPipaList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataStartPembongkaranPipaList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataStartPembongkaranPipa: currentTable } });
var currentForm;
var fSubAktivitasDataStartPembongkaranPipasrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasDataStartPembongkaranPipasrch")
        .setPageId("list")
@if (subAktivitasDataStartPembongkaranPipaList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasDataStartPembongkaranPipaList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasDataStartPembongkaranPipaList.IsExport() && Empty(subAktivitasDataStartPembongkaranPipaList.CurrentAction) && subAktivitasDataStartPembongkaranPipaList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasDataStartPembongkaranPipaList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasDataStartPembongkaranPipaList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasDataStartPembongkaranPipaList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasDataStartPembongkaranPipaList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasDataStartPembongkaranPipasrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStartPembongkaranPipaList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasDataStartPembongkaranPipasrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStartPembongkaranPipaList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasDataStartPembongkaranPipasrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStartPembongkaranPipaList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasDataStartPembongkaranPipasrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasDataStartPembongkaranPipaList.ShowPageHeader()
@subAktivitasDataStartPembongkaranPipaList.ShowMessages()
<main class="list @(subAktivitasDataStartPembongkaranPipaList.TotalRecords == 0 && !subAktivitasDataStartPembongkaranPipaList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasDataStartPembongkaranPipaList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasDataStartPembongkaranPipaList.TotalRecords > 0 || !Empty(subAktivitasDataStartPembongkaranPipaList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasDataStartPembongkaranPipaList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasDataStartPembongkaranPipaList.TableGridClass)">
<form name="@(subAktivitasDataStartPembongkaranPipaList.FormName)" id="@(subAktivitasDataStartPembongkaranPipaList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasDataStartPembongkaranPipaList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasDataStartPembongkaranPipaList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasDataStartPembongkaranPipa" class="card-body ew-grid-middle-panel @(subAktivitasDataStartPembongkaranPipaList.TableContainerClass)" style="@(subAktivitasDataStartPembongkaranPipaList.TableContainerStyle)">
@if (subAktivitasDataStartPembongkaranPipaList.TotalRecords > 0 || subAktivitasDataStartPembongkaranPipaList.IsGridEdit || subAktivitasDataStartPembongkaranPipaList.IsMultiEdit) {
<table id="tbl_SubAktivitasDataStartPembongkaranPipalist" class="@(subAktivitasDataStartPembongkaranPipaList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasDataStartPembongkaranPipaList.RowType = RowType.Header;

    // Render list options
    await subAktivitasDataStartPembongkaranPipaList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasDataStartPembongkaranPipaList.ListOptions.RenderHeader("left")
@if (subAktivitasDataStartPembongkaranPipaList.id.Visible) { // subAktivitasDataStartPembongkaranPipaList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasDataStartPembongkaranPipaList.id.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPembongkaranPipa_id" class="SubAktivitasDataStartPembongkaranPipa_id">@Html.Raw(subAktivitasDataStartPembongkaranPipaList.RenderFieldHeader(subAktivitasDataStartPembongkaranPipaList.id))</div></th>
} @* subAktivitasDataStartPembongkaranPipaList.id.Visible (end) *@
@if (subAktivitasDataStartPembongkaranPipaList.NoReferensi.Visible) { // subAktivitasDataStartPembongkaranPipaList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasDataStartPembongkaranPipaList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPembongkaranPipa_NoReferensi" class="SubAktivitasDataStartPembongkaranPipa_NoReferensi">@Html.Raw(subAktivitasDataStartPembongkaranPipaList.RenderFieldHeader(subAktivitasDataStartPembongkaranPipaList.NoReferensi))</div></th>
} @* subAktivitasDataStartPembongkaranPipaList.NoReferensi.Visible (end) *@
@if (subAktivitasDataStartPembongkaranPipaList.idProses.Visible) { // subAktivitasDataStartPembongkaranPipaList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasDataStartPembongkaranPipaList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPembongkaranPipa_idProses" class="SubAktivitasDataStartPembongkaranPipa_idProses">@Html.Raw(subAktivitasDataStartPembongkaranPipaList.RenderFieldHeader(subAktivitasDataStartPembongkaranPipaList.idProses))</div></th>
} @* subAktivitasDataStartPembongkaranPipaList.idProses.Visible (end) *@
@if (subAktivitasDataStartPembongkaranPipaList.idAktifitas.Visible) { // subAktivitasDataStartPembongkaranPipaList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasDataStartPembongkaranPipaList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPembongkaranPipa_idAktifitas" class="SubAktivitasDataStartPembongkaranPipa_idAktifitas">@Html.Raw(subAktivitasDataStartPembongkaranPipaList.RenderFieldHeader(subAktivitasDataStartPembongkaranPipaList.idAktifitas))</div></th>
} @* subAktivitasDataStartPembongkaranPipaList.idAktifitas.Visible (end) *@
@if (subAktivitasDataStartPembongkaranPipaList.StatusAktivitas.Visible) { // subAktivitasDataStartPembongkaranPipaList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasDataStartPembongkaranPipaList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPembongkaranPipa_StatusAktivitas" class="SubAktivitasDataStartPembongkaranPipa_StatusAktivitas">@Html.Raw(subAktivitasDataStartPembongkaranPipaList.RenderFieldHeader(subAktivitasDataStartPembongkaranPipaList.StatusAktivitas))</div></th>
} @* subAktivitasDataStartPembongkaranPipaList.StatusAktivitas.Visible (end) *@
@if (subAktivitasDataStartPembongkaranPipaList.LastUpdatedBy.Visible) { // subAktivitasDataStartPembongkaranPipaList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasDataStartPembongkaranPipaList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPembongkaranPipa_LastUpdatedBy" class="SubAktivitasDataStartPembongkaranPipa_LastUpdatedBy">@Html.Raw(subAktivitasDataStartPembongkaranPipaList.RenderFieldHeader(subAktivitasDataStartPembongkaranPipaList.LastUpdatedBy))</div></th>
} @* subAktivitasDataStartPembongkaranPipaList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasDataStartPembongkaranPipaList.lastUpdatedDate.Visible) { // subAktivitasDataStartPembongkaranPipaList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasDataStartPembongkaranPipaList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPembongkaranPipa_lastUpdatedDate" class="SubAktivitasDataStartPembongkaranPipa_lastUpdatedDate">@Html.Raw(subAktivitasDataStartPembongkaranPipaList.RenderFieldHeader(subAktivitasDataStartPembongkaranPipaList.lastUpdatedDate))</div></th>
} @* subAktivitasDataStartPembongkaranPipaList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasDataStartPembongkaranPipaList.tglStartBongkar.Visible) { // subAktivitasDataStartPembongkaranPipaList.tglStartBongkar.Visible (begin)
        <th data-name="tglStartBongkar" class="@(subAktivitasDataStartPembongkaranPipaList.tglStartBongkar.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPembongkaranPipa_tglStartBongkar" class="SubAktivitasDataStartPembongkaranPipa_tglStartBongkar">@Html.Raw(subAktivitasDataStartPembongkaranPipaList.RenderFieldHeader(subAktivitasDataStartPembongkaranPipaList.tglStartBongkar))</div></th>
} @* subAktivitasDataStartPembongkaranPipaList.tglStartBongkar.Visible (end) *@
@if (subAktivitasDataStartPembongkaranPipaList.userInput.Visible) { // subAktivitasDataStartPembongkaranPipaList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasDataStartPembongkaranPipaList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPembongkaranPipa_userInput" class="SubAktivitasDataStartPembongkaranPipa_userInput">@Html.Raw(subAktivitasDataStartPembongkaranPipaList.RenderFieldHeader(subAktivitasDataStartPembongkaranPipaList.userInput))</div></th>
} @* subAktivitasDataStartPembongkaranPipaList.userInput.Visible (end) *@
@if (subAktivitasDataStartPembongkaranPipaList.etlDate.Visible) { // subAktivitasDataStartPembongkaranPipaList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasDataStartPembongkaranPipaList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPembongkaranPipa_etlDate" class="SubAktivitasDataStartPembongkaranPipa_etlDate">@Html.Raw(subAktivitasDataStartPembongkaranPipaList.RenderFieldHeader(subAktivitasDataStartPembongkaranPipaList.etlDate))</div></th>
} @* subAktivitasDataStartPembongkaranPipaList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasDataStartPembongkaranPipaList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasDataStartPembongkaranPipaList.PageNumber)">
@{
    await subAktivitasDataStartPembongkaranPipaList.SetupGrid();
    bool eof = subAktivitasDataStartPembongkaranPipaList.Recordset == null; // DN
}
@while (subAktivitasDataStartPembongkaranPipaList.RecordCount < subAktivitasDataStartPembongkaranPipaList.StopRecord || SameString(subAktivitasDataStartPembongkaranPipaList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasDataStartPembongkaranPipaList.RowIndex, "$rowindex$") &&
        (!subAktivitasDataStartPembongkaranPipaList.IsGridAdd || subAktivitasDataStartPembongkaranPipaList.CurrentMode == "copy") &&
        (!((subAktivitasDataStartPembongkaranPipaList.IsCopy || subAktivitasDataStartPembongkaranPipaList.IsAdd) && subAktivitasDataStartPembongkaranPipaList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasDataStartPembongkaranPipaList.Recordset.ReadAsync();
    subAktivitasDataStartPembongkaranPipaList.RecordCount++;
    if (subAktivitasDataStartPembongkaranPipaList.RecordCount >= subAktivitasDataStartPembongkaranPipaList.StartRecord) {
        await subAktivitasDataStartPembongkaranPipaList.SetupRow();
    <tr @Html.Raw(subAktivitasDataStartPembongkaranPipaList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasDataStartPembongkaranPipaList.ListOptions.RenderBody("left", subAktivitasDataStartPembongkaranPipaList.RowCount)
    @if (subAktivitasDataStartPembongkaranPipaList.id.Visible) { // subAktivitasDataStartPembongkaranPipaList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasDataStartPembongkaranPipaList.id.CellAttributes)>
<span id="el@(subAktivitasDataStartPembongkaranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPembongkaranPipaList.RowCount)_SubAktivitasDataStartPembongkaranPipa_id" class="el_SubAktivitasDataStartPembongkaranPipa_id">
<span @Html.Raw(subAktivitasDataStartPembongkaranPipaList.id.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranPipaList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPembongkaranPipaList.id.Visible (end) *@
    @if (subAktivitasDataStartPembongkaranPipaList.NoReferensi.Visible) { // subAktivitasDataStartPembongkaranPipaList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasDataStartPembongkaranPipaList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasDataStartPembongkaranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPembongkaranPipaList.RowCount)_SubAktivitasDataStartPembongkaranPipa_NoReferensi" class="el_SubAktivitasDataStartPembongkaranPipa_NoReferensi">
<span @Html.Raw(subAktivitasDataStartPembongkaranPipaList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranPipaList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPembongkaranPipaList.NoReferensi.Visible (end) *@
    @if (subAktivitasDataStartPembongkaranPipaList.idProses.Visible) { // subAktivitasDataStartPembongkaranPipaList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasDataStartPembongkaranPipaList.idProses.CellAttributes)>
<span id="el@(subAktivitasDataStartPembongkaranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPembongkaranPipaList.RowCount)_SubAktivitasDataStartPembongkaranPipa_idProses" class="el_SubAktivitasDataStartPembongkaranPipa_idProses">
<span @Html.Raw(subAktivitasDataStartPembongkaranPipaList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranPipaList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPembongkaranPipaList.idProses.Visible (end) *@
    @if (subAktivitasDataStartPembongkaranPipaList.idAktifitas.Visible) { // subAktivitasDataStartPembongkaranPipaList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasDataStartPembongkaranPipaList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasDataStartPembongkaranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPembongkaranPipaList.RowCount)_SubAktivitasDataStartPembongkaranPipa_idAktifitas" class="el_SubAktivitasDataStartPembongkaranPipa_idAktifitas">
<span @Html.Raw(subAktivitasDataStartPembongkaranPipaList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranPipaList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPembongkaranPipaList.idAktifitas.Visible (end) *@
    @if (subAktivitasDataStartPembongkaranPipaList.StatusAktivitas.Visible) { // subAktivitasDataStartPembongkaranPipaList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasDataStartPembongkaranPipaList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasDataStartPembongkaranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPembongkaranPipaList.RowCount)_SubAktivitasDataStartPembongkaranPipa_StatusAktivitas" class="el_SubAktivitasDataStartPembongkaranPipa_StatusAktivitas">
<span @Html.Raw(subAktivitasDataStartPembongkaranPipaList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranPipaList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPembongkaranPipaList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasDataStartPembongkaranPipaList.LastUpdatedBy.Visible) { // subAktivitasDataStartPembongkaranPipaList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasDataStartPembongkaranPipaList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasDataStartPembongkaranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPembongkaranPipaList.RowCount)_SubAktivitasDataStartPembongkaranPipa_LastUpdatedBy" class="el_SubAktivitasDataStartPembongkaranPipa_LastUpdatedBy">
<span @Html.Raw(subAktivitasDataStartPembongkaranPipaList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranPipaList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPembongkaranPipaList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasDataStartPembongkaranPipaList.lastUpdatedDate.Visible) { // subAktivitasDataStartPembongkaranPipaList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasDataStartPembongkaranPipaList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasDataStartPembongkaranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPembongkaranPipaList.RowCount)_SubAktivitasDataStartPembongkaranPipa_lastUpdatedDate" class="el_SubAktivitasDataStartPembongkaranPipa_lastUpdatedDate">
<span @Html.Raw(subAktivitasDataStartPembongkaranPipaList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranPipaList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPembongkaranPipaList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasDataStartPembongkaranPipaList.tglStartBongkar.Visible) { // subAktivitasDataStartPembongkaranPipaList.tglStartBongkar.Visible (begin)
        <td data-name="tglStartBongkar" @Html.Raw(subAktivitasDataStartPembongkaranPipaList.tglStartBongkar.CellAttributes)>
<span id="el@(subAktivitasDataStartPembongkaranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPembongkaranPipaList.RowCount)_SubAktivitasDataStartPembongkaranPipa_tglStartBongkar" class="el_SubAktivitasDataStartPembongkaranPipa_tglStartBongkar">
<span @Html.Raw(subAktivitasDataStartPembongkaranPipaList.tglStartBongkar.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranPipaList.tglStartBongkar.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPembongkaranPipaList.tglStartBongkar.Visible (end) *@
    @if (subAktivitasDataStartPembongkaranPipaList.userInput.Visible) { // subAktivitasDataStartPembongkaranPipaList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasDataStartPembongkaranPipaList.userInput.CellAttributes)>
<span id="el@(subAktivitasDataStartPembongkaranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPembongkaranPipaList.RowCount)_SubAktivitasDataStartPembongkaranPipa_userInput" class="el_SubAktivitasDataStartPembongkaranPipa_userInput">
<span @Html.Raw(subAktivitasDataStartPembongkaranPipaList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranPipaList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPembongkaranPipaList.userInput.Visible (end) *@
    @if (subAktivitasDataStartPembongkaranPipaList.etlDate.Visible) { // subAktivitasDataStartPembongkaranPipaList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasDataStartPembongkaranPipaList.etlDate.CellAttributes)>
<span id="el@(subAktivitasDataStartPembongkaranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPembongkaranPipaList.RowCount)_SubAktivitasDataStartPembongkaranPipa_etlDate" class="el_SubAktivitasDataStartPembongkaranPipa_etlDate">
<span @Html.Raw(subAktivitasDataStartPembongkaranPipaList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPembongkaranPipaList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPembongkaranPipaList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasDataStartPembongkaranPipaList.ListOptions.RenderBody("right", subAktivitasDataStartPembongkaranPipaList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasDataStartPembongkaranPipaList.RowIndex, "$rowindex$"))
        subAktivitasDataStartPembongkaranPipaList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasDataStartPembongkaranPipaList.IsCopy || subAktivitasDataStartPembongkaranPipaList.IsAdd) && subAktivitasDataStartPembongkaranPipaList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasDataStartPembongkaranPipaList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasDataStartPembongkaranPipaList.CurrentAction) && !subAktivitasDataStartPembongkaranPipaList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasDataStartPembongkaranPipaList.CloseRecordset(); }
@if (!subAktivitasDataStartPembongkaranPipaList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasDataStartPembongkaranPipaList.IsGridAdd && !(subAktivitasDataStartPembongkaranPipaList.IsGridEdit && subAktivitasDataStartPembongkaranPipaList.ModalGridEdit) && !subAktivitasDataStartPembongkaranPipaList.IsMultiEdit) {
@Html.Raw(subAktivitasDataStartPembongkaranPipaList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasDataStartPembongkaranPipaList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasDataStartPembongkaranPipaList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasDataStartPembongkaranPipaList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasDataStartPembongkaranPipaList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasDataStartPembongkaranPipaList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasDataStartPembongkaranPipa");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
