@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputNilaiBdDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputNilaiBdDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputNilaiBdDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputNilaiBD: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fSubAktivitasFormInputNilaiBDdelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputNilaiBDdelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasFormInputNilaiBdDelete.ShowPageHeader()
@subAktivitasFormInputNilaiBdDelete.ShowMessages()
<form name="fSubAktivitasFormInputNilaiBDdelete" id="fSubAktivitasFormInputNilaiBDdelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in subAktivitasFormInputNilaiBdDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(subAktivitasFormInputNilaiBdDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(subAktivitasFormInputNilaiBdDelete.TableContainerClass)" style="@(subAktivitasFormInputNilaiBdDelete.TableContainerStyle)">
<table class="@(subAktivitasFormInputNilaiBdDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (subAktivitasFormInputNilaiBdDelete.id.Visible) { // subAktivitasFormInputNilaiBdDelete.id.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBdDelete.id.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBD_id" class="SubAktivitasFormInputNilaiBD_id">@Html.Raw(subAktivitasFormInputNilaiBdDelete.id.Caption)</span></th>
} @* subAktivitasFormInputNilaiBdDelete.id.Visible (end) *@
@if (subAktivitasFormInputNilaiBdDelete.idAktifitas.Visible) { // subAktivitasFormInputNilaiBdDelete.idAktifitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBdDelete.idAktifitas.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBD_idAktifitas" class="SubAktivitasFormInputNilaiBD_idAktifitas">@Html.Raw(subAktivitasFormInputNilaiBdDelete.idAktifitas.Caption)</span></th>
} @* subAktivitasFormInputNilaiBdDelete.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputNilaiBdDelete.idProses.Visible) { // subAktivitasFormInputNilaiBdDelete.idProses.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBdDelete.idProses.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBD_idProses" class="SubAktivitasFormInputNilaiBD_idProses">@Html.Raw(subAktivitasFormInputNilaiBdDelete.idProses.Caption)</span></th>
} @* subAktivitasFormInputNilaiBdDelete.idProses.Visible (end) *@
@if (subAktivitasFormInputNilaiBdDelete.NoReferensi.Visible) { // subAktivitasFormInputNilaiBdDelete.NoReferensi.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBdDelete.NoReferensi.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBD_NoReferensi" class="SubAktivitasFormInputNilaiBD_NoReferensi">@Html.Raw(subAktivitasFormInputNilaiBdDelete.NoReferensi.Caption)</span></th>
} @* subAktivitasFormInputNilaiBdDelete.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputNilaiBdDelete.BD_KLObs.Visible) { // subAktivitasFormInputNilaiBdDelete.BD_KLObs.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBdDelete.BD_KLObs.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBD_BD_KLObs" class="SubAktivitasFormInputNilaiBD_BD_KLObs">@Html.Raw(subAktivitasFormInputNilaiBdDelete.BD_KLObs.Caption)</span></th>
} @* subAktivitasFormInputNilaiBdDelete.BD_KLObs.Visible (end) *@
@if (subAktivitasFormInputNilaiBdDelete.BD_KL15.Visible) { // subAktivitasFormInputNilaiBdDelete.BD_KL15.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBdDelete.BD_KL15.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBD_BD_KL15" class="SubAktivitasFormInputNilaiBD_BD_KL15">@Html.Raw(subAktivitasFormInputNilaiBdDelete.BD_KL15.Caption)</span></th>
} @* subAktivitasFormInputNilaiBdDelete.BD_KL15.Visible (end) *@
@if (subAktivitasFormInputNilaiBdDelete.BD_Barrels.Visible) { // subAktivitasFormInputNilaiBdDelete.BD_Barrels.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBdDelete.BD_Barrels.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBD_BD_Barrels" class="SubAktivitasFormInputNilaiBD_BD_Barrels">@Html.Raw(subAktivitasFormInputNilaiBdDelete.BD_Barrels.Caption)</span></th>
} @* subAktivitasFormInputNilaiBdDelete.BD_Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiBdDelete.BD_LT.Visible) { // subAktivitasFormInputNilaiBdDelete.BD_LT.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBdDelete.BD_LT.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBD_BD_LT" class="SubAktivitasFormInputNilaiBD_BD_LT">@Html.Raw(subAktivitasFormInputNilaiBdDelete.BD_LT.Caption)</span></th>
} @* subAktivitasFormInputNilaiBdDelete.BD_LT.Visible (end) *@
@if (subAktivitasFormInputNilaiBdDelete.BD_MT.Visible) { // subAktivitasFormInputNilaiBdDelete.BD_MT.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBdDelete.BD_MT.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBD_BD_MT" class="SubAktivitasFormInputNilaiBD_BD_MT">@Html.Raw(subAktivitasFormInputNilaiBdDelete.BD_MT.Caption)</span></th>
} @* subAktivitasFormInputNilaiBdDelete.BD_MT.Visible (end) *@
@if (subAktivitasFormInputNilaiBdDelete.userInput.Visible) { // subAktivitasFormInputNilaiBdDelete.userInput.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBdDelete.userInput.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBD_userInput" class="SubAktivitasFormInputNilaiBD_userInput">@Html.Raw(subAktivitasFormInputNilaiBdDelete.userInput.Caption)</span></th>
} @* subAktivitasFormInputNilaiBdDelete.userInput.Visible (end) *@
@if (subAktivitasFormInputNilaiBdDelete.etlDate.Visible) { // subAktivitasFormInputNilaiBdDelete.etlDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBdDelete.etlDate.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBD_etlDate" class="SubAktivitasFormInputNilaiBD_etlDate">@Html.Raw(subAktivitasFormInputNilaiBdDelete.etlDate.Caption)</span></th>
} @* subAktivitasFormInputNilaiBdDelete.etlDate.Visible (end) *@
@if (subAktivitasFormInputNilaiBdDelete.LastUpdatedBy.Visible) { // subAktivitasFormInputNilaiBdDelete.LastUpdatedBy.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBdDelete.LastUpdatedBy.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBD_LastUpdatedBy" class="SubAktivitasFormInputNilaiBD_LastUpdatedBy">@Html.Raw(subAktivitasFormInputNilaiBdDelete.LastUpdatedBy.Caption)</span></th>
} @* subAktivitasFormInputNilaiBdDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputNilaiBdDelete.lastUpdatedDate.Visible) { // subAktivitasFormInputNilaiBdDelete.lastUpdatedDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBdDelete.lastUpdatedDate.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBD_lastUpdatedDate" class="SubAktivitasFormInputNilaiBD_lastUpdatedDate">@Html.Raw(subAktivitasFormInputNilaiBdDelete.lastUpdatedDate.Caption)</span></th>
} @* subAktivitasFormInputNilaiBdDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputNilaiBdDelete.StatusAktivitas.Visible) { // subAktivitasFormInputNilaiBdDelete.StatusAktivitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputNilaiBdDelete.StatusAktivitas.HeaderCellClass)"><span id="elh_SubAktivitasFormInputNilaiBD_StatusAktivitas" class="SubAktivitasFormInputNilaiBD_StatusAktivitas">@Html.Raw(subAktivitasFormInputNilaiBdDelete.StatusAktivitas.Caption)</span></th>
} @* subAktivitasFormInputNilaiBdDelete.StatusAktivitas.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ subAktivitasFormInputNilaiBdDelete.RecordCount = 0; }
@while (subAktivitasFormInputNilaiBdDelete.Recordset != null && await subAktivitasFormInputNilaiBdDelete.Recordset.ReadAsync()) { // DN
    subAktivitasFormInputNilaiBdDelete.RecordCount++;
    subAktivitasFormInputNilaiBdDelete.RowCount++;

    // Set row properties
    subAktivitasFormInputNilaiBdDelete.ResetAttributes();
    subAktivitasFormInputNilaiBdDelete.RowType = RowType.View; // View

    // Get the field contents
    await subAktivitasFormInputNilaiBdDelete.LoadRowValues(subAktivitasFormInputNilaiBdDelete.Recordset);

    // Render row
    await subAktivitasFormInputNilaiBdDelete.RenderRow();
    <tr @Html.Raw(subAktivitasFormInputNilaiBdDelete.RowAttributes)>
@if (subAktivitasFormInputNilaiBdDelete.id.Visible) { // subAktivitasFormInputNilaiBdDelete.id.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBdDelete.id.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBdDelete.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBdDelete.id.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBdDelete.id.Visible (end) *@
@if (subAktivitasFormInputNilaiBdDelete.idAktifitas.Visible) { // subAktivitasFormInputNilaiBdDelete.idAktifitas.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBdDelete.idAktifitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBdDelete.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBdDelete.idAktifitas.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBdDelete.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputNilaiBdDelete.idProses.Visible) { // subAktivitasFormInputNilaiBdDelete.idProses.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBdDelete.idProses.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBdDelete.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBdDelete.idProses.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBdDelete.idProses.Visible (end) *@
@if (subAktivitasFormInputNilaiBdDelete.NoReferensi.Visible) { // subAktivitasFormInputNilaiBdDelete.NoReferensi.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBdDelete.NoReferensi.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBdDelete.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBdDelete.NoReferensi.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBdDelete.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputNilaiBdDelete.BD_KLObs.Visible) { // subAktivitasFormInputNilaiBdDelete.BD_KLObs.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBdDelete.BD_KLObs.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBdDelete.BD_KLObs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBdDelete.BD_KLObs.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBdDelete.BD_KLObs.Visible (end) *@
@if (subAktivitasFormInputNilaiBdDelete.BD_KL15.Visible) { // subAktivitasFormInputNilaiBdDelete.BD_KL15.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBdDelete.BD_KL15.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBdDelete.BD_KL15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBdDelete.BD_KL15.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBdDelete.BD_KL15.Visible (end) *@
@if (subAktivitasFormInputNilaiBdDelete.BD_Barrels.Visible) { // subAktivitasFormInputNilaiBdDelete.BD_Barrels.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBdDelete.BD_Barrels.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBdDelete.BD_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBdDelete.BD_Barrels.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBdDelete.BD_Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiBdDelete.BD_LT.Visible) { // subAktivitasFormInputNilaiBdDelete.BD_LT.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBdDelete.BD_LT.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBdDelete.BD_LT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBdDelete.BD_LT.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBdDelete.BD_LT.Visible (end) *@
@if (subAktivitasFormInputNilaiBdDelete.BD_MT.Visible) { // subAktivitasFormInputNilaiBdDelete.BD_MT.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBdDelete.BD_MT.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBdDelete.BD_MT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBdDelete.BD_MT.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBdDelete.BD_MT.Visible (end) *@
@if (subAktivitasFormInputNilaiBdDelete.userInput.Visible) { // subAktivitasFormInputNilaiBdDelete.userInput.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBdDelete.userInput.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBdDelete.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBdDelete.userInput.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBdDelete.userInput.Visible (end) *@
@if (subAktivitasFormInputNilaiBdDelete.etlDate.Visible) { // subAktivitasFormInputNilaiBdDelete.etlDate.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBdDelete.etlDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBdDelete.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBdDelete.etlDate.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBdDelete.etlDate.Visible (end) *@
@if (subAktivitasFormInputNilaiBdDelete.LastUpdatedBy.Visible) { // subAktivitasFormInputNilaiBdDelete.LastUpdatedBy.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBdDelete.LastUpdatedBy.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBdDelete.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBdDelete.LastUpdatedBy.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBdDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputNilaiBdDelete.lastUpdatedDate.Visible) { // subAktivitasFormInputNilaiBdDelete.lastUpdatedDate.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBdDelete.lastUpdatedDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBdDelete.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBdDelete.lastUpdatedDate.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBdDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputNilaiBdDelete.StatusAktivitas.Visible) { // subAktivitasFormInputNilaiBdDelete.StatusAktivitas.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputNilaiBdDelete.StatusAktivitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputNilaiBdDelete.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiBdDelete.StatusAktivitas.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputNilaiBdDelete.StatusAktivitas.Visible (end) *@
    </tr>
}
@{ subAktivitasFormInputNilaiBdDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(subAktivitasFormInputNilaiBdDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@subAktivitasFormInputNilaiBdDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
