@{
    // View
    View = this;

    // Check action result
    if (subAktivitasSfadNewBlstslpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasSfadNewBlstslpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasSfadNewBlstslpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasSfadNewBlstslpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasSFADNewBLSTSLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasSfadNewBlstslpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasSfadNewBlstslpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasSfadNewBlstslpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasSfadNewBlstslpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasSfadNewBlstslpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasSfadNewBlstslpgList.TotalRecords > 0 && subAktivitasSfadNewBlstslpgList.ExportOptions.Visible) {
    subAktivitasSfadNewBlstslpgList.ExportOptions.Render("body");
}
@if (subAktivitasSfadNewBlstslpgList.ImportOptions.Visible) {
    subAktivitasSfadNewBlstslpgList.ImportOptions.Render("body");
}
@if (subAktivitasSfadNewBlstslpgList.SearchOptions.Visible) {
    subAktivitasSfadNewBlstslpgList.SearchOptions.Render("body");
}
@if (subAktivitasSfadNewBlstslpgList.FilterOptions.Visible) {
    subAktivitasSfadNewBlstslpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasSfadNewBlstslpgList.IsModal) {
<form name="fSubAktivitasSFADNewBLSTSLPGsrch" id="fSubAktivitasSFADNewBLSTSLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasSFADNewBLSTSLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasSfadNewBlstslpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasSfadNewBlstslpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasSFADNewBLSTSLPG: currentTable } });
var currentForm;
var fSubAktivitasSFADNewBLSTSLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasSFADNewBLSTSLPGsrch")
        .setPageId("list")
@if (subAktivitasSfadNewBlstslpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasSfadNewBlstslpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasSfadNewBlstslpgList.IsExport() && Empty(subAktivitasSfadNewBlstslpgList.CurrentAction) && subAktivitasSfadNewBlstslpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasSfadNewBlstslpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasSfadNewBlstslpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasSfadNewBlstslpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasSfadNewBlstslpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasSFADNewBLSTSLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasSfadNewBlstslpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasSFADNewBLSTSLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasSfadNewBlstslpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasSFADNewBLSTSLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasSfadNewBlstslpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasSFADNewBLSTSLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasSfadNewBlstslpgList.ShowPageHeader()
@subAktivitasSfadNewBlstslpgList.ShowMessages()
<main class="list @(subAktivitasSfadNewBlstslpgList.TotalRecords == 0 && !subAktivitasSfadNewBlstslpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasSfadNewBlstslpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasSfadNewBlstslpgList.TotalRecords > 0 || !Empty(subAktivitasSfadNewBlstslpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasSfadNewBlstslpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasSfadNewBlstslpgList.TableGridClass)">
<form name="@(subAktivitasSfadNewBlstslpgList.FormName)" id="@(subAktivitasSfadNewBlstslpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasSfadNewBlstslpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasSfadNewBlstslpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasSFADNewBLSTSLPG" class="card-body ew-grid-middle-panel @(subAktivitasSfadNewBlstslpgList.TableContainerClass)" style="@(subAktivitasSfadNewBlstslpgList.TableContainerStyle)">
@if (subAktivitasSfadNewBlstslpgList.TotalRecords > 0 || subAktivitasSfadNewBlstslpgList.IsGridEdit || subAktivitasSfadNewBlstslpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasSFADNewBLSTSLPGlist" class="@(subAktivitasSfadNewBlstslpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasSfadNewBlstslpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasSfadNewBlstslpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasSfadNewBlstslpgList.ListOptions.RenderHeader("left")
@if (subAktivitasSfadNewBlstslpgList.id.Visible) { // subAktivitasSfadNewBlstslpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasSfadNewBlstslpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSLPG_id" class="SubAktivitasSFADNewBLSTSLPG_id">@Html.Raw(subAktivitasSfadNewBlstslpgList.RenderFieldHeader(subAktivitasSfadNewBlstslpgList.id))</div></th>
} @* subAktivitasSfadNewBlstslpgList.id.Visible (end) *@
@if (subAktivitasSfadNewBlstslpgList.NoReferensi.Visible) { // subAktivitasSfadNewBlstslpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasSfadNewBlstslpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSLPG_NoReferensi" class="SubAktivitasSFADNewBLSTSLPG_NoReferensi">@Html.Raw(subAktivitasSfadNewBlstslpgList.RenderFieldHeader(subAktivitasSfadNewBlstslpgList.NoReferensi))</div></th>
} @* subAktivitasSfadNewBlstslpgList.NoReferensi.Visible (end) *@
@if (subAktivitasSfadNewBlstslpgList.idProses.Visible) { // subAktivitasSfadNewBlstslpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasSfadNewBlstslpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSLPG_idProses" class="SubAktivitasSFADNewBLSTSLPG_idProses">@Html.Raw(subAktivitasSfadNewBlstslpgList.RenderFieldHeader(subAktivitasSfadNewBlstslpgList.idProses))</div></th>
} @* subAktivitasSfadNewBlstslpgList.idProses.Visible (end) *@
@if (subAktivitasSfadNewBlstslpgList.idAktifitas.Visible) { // subAktivitasSfadNewBlstslpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasSfadNewBlstslpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSLPG_idAktifitas" class="SubAktivitasSFADNewBLSTSLPG_idAktifitas">@Html.Raw(subAktivitasSfadNewBlstslpgList.RenderFieldHeader(subAktivitasSfadNewBlstslpgList.idAktifitas))</div></th>
} @* subAktivitasSfadNewBlstslpgList.idAktifitas.Visible (end) *@
@if (subAktivitasSfadNewBlstslpgList.StatusAktivitas.Visible) { // subAktivitasSfadNewBlstslpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasSfadNewBlstslpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSLPG_StatusAktivitas" class="SubAktivitasSFADNewBLSTSLPG_StatusAktivitas">@Html.Raw(subAktivitasSfadNewBlstslpgList.RenderFieldHeader(subAktivitasSfadNewBlstslpgList.StatusAktivitas))</div></th>
} @* subAktivitasSfadNewBlstslpgList.StatusAktivitas.Visible (end) *@
@if (subAktivitasSfadNewBlstslpgList.LastUpdatedBy.Visible) { // subAktivitasSfadNewBlstslpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasSfadNewBlstslpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSLPG_LastUpdatedBy" class="SubAktivitasSFADNewBLSTSLPG_LastUpdatedBy">@Html.Raw(subAktivitasSfadNewBlstslpgList.RenderFieldHeader(subAktivitasSfadNewBlstslpgList.LastUpdatedBy))</div></th>
} @* subAktivitasSfadNewBlstslpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasSfadNewBlstslpgList.lastUpdatedDate.Visible) { // subAktivitasSfadNewBlstslpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasSfadNewBlstslpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSLPG_lastUpdatedDate" class="SubAktivitasSFADNewBLSTSLPG_lastUpdatedDate">@Html.Raw(subAktivitasSfadNewBlstslpgList.RenderFieldHeader(subAktivitasSfadNewBlstslpgList.lastUpdatedDate))</div></th>
} @* subAktivitasSfadNewBlstslpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasSfadNewBlstslpgList.ApakahTerdapatROB.Visible) { // subAktivitasSfadNewBlstslpgList.ApakahTerdapatROB.Visible (begin)
        <th data-name="ApakahTerdapatROB" class="@(subAktivitasSfadNewBlstslpgList.ApakahTerdapatROB.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSLPG_ApakahTerdapatROB" class="SubAktivitasSFADNewBLSTSLPG_ApakahTerdapatROB">@Html.Raw(subAktivitasSfadNewBlstslpgList.RenderFieldHeader(subAktivitasSfadNewBlstslpgList.ApakahTerdapatROB))</div></th>
} @* subAktivitasSfadNewBlstslpgList.ApakahTerdapatROB.Visible (end) *@
@if (subAktivitasSfadNewBlstslpgList.Import.Visible) { // subAktivitasSfadNewBlstslpgList.Import.Visible (begin)
        <th data-name="Import" class="@(subAktivitasSfadNewBlstslpgList.Import.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSLPG_Import" class="SubAktivitasSFADNewBLSTSLPG_Import">@Html.Raw(subAktivitasSfadNewBlstslpgList.RenderFieldHeader(subAktivitasSfadNewBlstslpgList.Import))</div></th>
} @* subAktivitasSfadNewBlstslpgList.Import.Visible (end) *@
@if (subAktivitasSfadNewBlstslpgList.Tujuan.Visible) { // subAktivitasSfadNewBlstslpgList.Tujuan.Visible (begin)
        <th data-name="Tujuan" class="@(subAktivitasSfadNewBlstslpgList.Tujuan.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSLPG_Tujuan" class="SubAktivitasSFADNewBLSTSLPG_Tujuan">@Html.Raw(subAktivitasSfadNewBlstslpgList.RenderFieldHeader(subAktivitasSfadNewBlstslpgList.Tujuan))</div></th>
} @* subAktivitasSfadNewBlstslpgList.Tujuan.Visible (end) *@
@if (subAktivitasSfadNewBlstslpgList.ApakahAdaROB.Visible) { // subAktivitasSfadNewBlstslpgList.ApakahAdaROB.Visible (begin)
        <th data-name="ApakahAdaROB" class="@(subAktivitasSfadNewBlstslpgList.ApakahAdaROB.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSLPG_ApakahAdaROB" class="SubAktivitasSFADNewBLSTSLPG_ApakahAdaROB">@Html.Raw(subAktivitasSfadNewBlstslpgList.RenderFieldHeader(subAktivitasSfadNewBlstslpgList.ApakahAdaROB))</div></th>
} @* subAktivitasSfadNewBlstslpgList.ApakahAdaROB.Visible (end) *@
@if (subAktivitasSfadNewBlstslpgList.SFAD_mt.Visible) { // subAktivitasSfadNewBlstslpgList.SFAD_mt.Visible (begin)
        <th data-name="SFAD_mt" class="@(subAktivitasSfadNewBlstslpgList.SFAD_mt.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSLPG_SFAD_mt" class="SubAktivitasSFADNewBLSTSLPG_SFAD_mt">@Html.Raw(subAktivitasSfadNewBlstslpgList.RenderFieldHeader(subAktivitasSfadNewBlstslpgList.SFAD_mt))</div></th>
} @* subAktivitasSfadNewBlstslpgList.SFAD_mt.Visible (end) *@
@if (subAktivitasSfadNewBlstslpgList.NewBl_mt.Visible) { // subAktivitasSfadNewBlstslpgList.NewBl_mt.Visible (begin)
        <th data-name="NewBl_mt" class="@(subAktivitasSfadNewBlstslpgList.NewBl_mt.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSLPG_NewBl_mt" class="SubAktivitasSFADNewBLSTSLPG_NewBl_mt">@Html.Raw(subAktivitasSfadNewBlstslpgList.RenderFieldHeader(subAktivitasSfadNewBlstslpgList.NewBl_mt))</div></th>
} @* subAktivitasSfadNewBlstslpgList.NewBl_mt.Visible (end) *@
@if (subAktivitasSfadNewBlstslpgList.AR45B_mt.Visible) { // subAktivitasSfadNewBlstslpgList.AR45B_mt.Visible (begin)
        <th data-name="AR45B_mt" class="@(subAktivitasSfadNewBlstslpgList.AR45B_mt.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSLPG_AR45B_mt" class="SubAktivitasSFADNewBLSTSLPG_AR45B_mt">@Html.Raw(subAktivitasSfadNewBlstslpgList.RenderFieldHeader(subAktivitasSfadNewBlstslpgList.AR45B_mt))</div></th>
} @* subAktivitasSfadNewBlstslpgList.AR45B_mt.Visible (end) *@
@if (subAktivitasSfadNewBlstslpgList.userInput.Visible) { // subAktivitasSfadNewBlstslpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasSfadNewBlstslpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSLPG_userInput" class="SubAktivitasSFADNewBLSTSLPG_userInput">@Html.Raw(subAktivitasSfadNewBlstslpgList.RenderFieldHeader(subAktivitasSfadNewBlstslpgList.userInput))</div></th>
} @* subAktivitasSfadNewBlstslpgList.userInput.Visible (end) *@
@if (subAktivitasSfadNewBlstslpgList.etlDate.Visible) { // subAktivitasSfadNewBlstslpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasSfadNewBlstslpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasSFADNewBLSTSLPG_etlDate" class="SubAktivitasSFADNewBLSTSLPG_etlDate">@Html.Raw(subAktivitasSfadNewBlstslpgList.RenderFieldHeader(subAktivitasSfadNewBlstslpgList.etlDate))</div></th>
} @* subAktivitasSfadNewBlstslpgList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasSfadNewBlstslpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasSfadNewBlstslpgList.PageNumber)">
@{
    await subAktivitasSfadNewBlstslpgList.SetupGrid();
    bool eof = subAktivitasSfadNewBlstslpgList.Recordset == null; // DN
}
@while (subAktivitasSfadNewBlstslpgList.RecordCount < subAktivitasSfadNewBlstslpgList.StopRecord || SameString(subAktivitasSfadNewBlstslpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasSfadNewBlstslpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasSfadNewBlstslpgList.IsGridAdd || subAktivitasSfadNewBlstslpgList.CurrentMode == "copy") &&
        (!((subAktivitasSfadNewBlstslpgList.IsCopy || subAktivitasSfadNewBlstslpgList.IsAdd) && subAktivitasSfadNewBlstslpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasSfadNewBlstslpgList.Recordset.ReadAsync();
    subAktivitasSfadNewBlstslpgList.RecordCount++;
    if (subAktivitasSfadNewBlstslpgList.RecordCount >= subAktivitasSfadNewBlstslpgList.StartRecord) {
        await subAktivitasSfadNewBlstslpgList.SetupRow();
    <tr @Html.Raw(subAktivitasSfadNewBlstslpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasSfadNewBlstslpgList.ListOptions.RenderBody("left", subAktivitasSfadNewBlstslpgList.RowCount)
    @if (subAktivitasSfadNewBlstslpgList.id.Visible) { // subAktivitasSfadNewBlstslpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasSfadNewBlstslpgList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstslpgList.RowCount)_SubAktivitasSFADNewBLSTSLPG_id" class="el_SubAktivitasSFADNewBLSTSLPG_id">
<span @Html.Raw(subAktivitasSfadNewBlstslpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstslpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstslpgList.id.Visible (end) *@
    @if (subAktivitasSfadNewBlstslpgList.NoReferensi.Visible) { // subAktivitasSfadNewBlstslpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasSfadNewBlstslpgList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstslpgList.RowCount)_SubAktivitasSFADNewBLSTSLPG_NoReferensi" class="el_SubAktivitasSFADNewBLSTSLPG_NoReferensi">
<span @Html.Raw(subAktivitasSfadNewBlstslpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstslpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstslpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasSfadNewBlstslpgList.idProses.Visible) { // subAktivitasSfadNewBlstslpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasSfadNewBlstslpgList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstslpgList.RowCount)_SubAktivitasSFADNewBLSTSLPG_idProses" class="el_SubAktivitasSFADNewBLSTSLPG_idProses">
<span @Html.Raw(subAktivitasSfadNewBlstslpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstslpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstslpgList.idProses.Visible (end) *@
    @if (subAktivitasSfadNewBlstslpgList.idAktifitas.Visible) { // subAktivitasSfadNewBlstslpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasSfadNewBlstslpgList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstslpgList.RowCount)_SubAktivitasSFADNewBLSTSLPG_idAktifitas" class="el_SubAktivitasSFADNewBLSTSLPG_idAktifitas">
<span @Html.Raw(subAktivitasSfadNewBlstslpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstslpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstslpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasSfadNewBlstslpgList.StatusAktivitas.Visible) { // subAktivitasSfadNewBlstslpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasSfadNewBlstslpgList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstslpgList.RowCount)_SubAktivitasSFADNewBLSTSLPG_StatusAktivitas" class="el_SubAktivitasSFADNewBLSTSLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasSfadNewBlstslpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstslpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstslpgList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasSfadNewBlstslpgList.LastUpdatedBy.Visible) { // subAktivitasSfadNewBlstslpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasSfadNewBlstslpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstslpgList.RowCount)_SubAktivitasSFADNewBLSTSLPG_LastUpdatedBy" class="el_SubAktivitasSFADNewBLSTSLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasSfadNewBlstslpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstslpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstslpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasSfadNewBlstslpgList.lastUpdatedDate.Visible) { // subAktivitasSfadNewBlstslpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasSfadNewBlstslpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstslpgList.RowCount)_SubAktivitasSFADNewBLSTSLPG_lastUpdatedDate" class="el_SubAktivitasSFADNewBLSTSLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasSfadNewBlstslpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstslpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstslpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasSfadNewBlstslpgList.ApakahTerdapatROB.Visible) { // subAktivitasSfadNewBlstslpgList.ApakahTerdapatROB.Visible (begin)
        <td data-name="ApakahTerdapatROB" @Html.Raw(subAktivitasSfadNewBlstslpgList.ApakahTerdapatROB.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstslpgList.RowCount)_SubAktivitasSFADNewBLSTSLPG_ApakahTerdapatROB" class="el_SubAktivitasSFADNewBLSTSLPG_ApakahTerdapatROB">
<span @Html.Raw(subAktivitasSfadNewBlstslpgList.ApakahTerdapatROB.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(subAktivitasSfadNewBlstslpgList.ApakahTerdapatROB.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstslpgList.ApakahTerdapatROB.Visible (end) *@
    @if (subAktivitasSfadNewBlstslpgList.Import.Visible) { // subAktivitasSfadNewBlstslpgList.Import.Visible (begin)
        <td data-name="Import" @Html.Raw(subAktivitasSfadNewBlstslpgList.Import.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstslpgList.RowCount)_SubAktivitasSFADNewBLSTSLPG_Import" class="el_SubAktivitasSFADNewBLSTSLPG_Import">
<span @Html.Raw(subAktivitasSfadNewBlstslpgList.Import.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(subAktivitasSfadNewBlstslpgList.Import.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstslpgList.Import.Visible (end) *@
    @if (subAktivitasSfadNewBlstslpgList.Tujuan.Visible) { // subAktivitasSfadNewBlstslpgList.Tujuan.Visible (begin)
        <td data-name="Tujuan" @Html.Raw(subAktivitasSfadNewBlstslpgList.Tujuan.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstslpgList.RowCount)_SubAktivitasSFADNewBLSTSLPG_Tujuan" class="el_SubAktivitasSFADNewBLSTSLPG_Tujuan">
<span @Html.Raw(subAktivitasSfadNewBlstslpgList.Tujuan.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstslpgList.Tujuan.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstslpgList.Tujuan.Visible (end) *@
    @if (subAktivitasSfadNewBlstslpgList.ApakahAdaROB.Visible) { // subAktivitasSfadNewBlstslpgList.ApakahAdaROB.Visible (begin)
        <td data-name="ApakahAdaROB" @Html.Raw(subAktivitasSfadNewBlstslpgList.ApakahAdaROB.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstslpgList.RowCount)_SubAktivitasSFADNewBLSTSLPG_ApakahAdaROB" class="el_SubAktivitasSFADNewBLSTSLPG_ApakahAdaROB">
<span @Html.Raw(subAktivitasSfadNewBlstslpgList.ApakahAdaROB.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstslpgList.ApakahAdaROB.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstslpgList.ApakahAdaROB.Visible (end) *@
    @if (subAktivitasSfadNewBlstslpgList.SFAD_mt.Visible) { // subAktivitasSfadNewBlstslpgList.SFAD_mt.Visible (begin)
        <td data-name="SFAD_mt" @Html.Raw(subAktivitasSfadNewBlstslpgList.SFAD_mt.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstslpgList.RowCount)_SubAktivitasSFADNewBLSTSLPG_SFAD_mt" class="el_SubAktivitasSFADNewBLSTSLPG_SFAD_mt">
<span @Html.Raw(subAktivitasSfadNewBlstslpgList.SFAD_mt.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstslpgList.SFAD_mt.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstslpgList.SFAD_mt.Visible (end) *@
    @if (subAktivitasSfadNewBlstslpgList.NewBl_mt.Visible) { // subAktivitasSfadNewBlstslpgList.NewBl_mt.Visible (begin)
        <td data-name="NewBl_mt" @Html.Raw(subAktivitasSfadNewBlstslpgList.NewBl_mt.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstslpgList.RowCount)_SubAktivitasSFADNewBLSTSLPG_NewBl_mt" class="el_SubAktivitasSFADNewBLSTSLPG_NewBl_mt">
<span @Html.Raw(subAktivitasSfadNewBlstslpgList.NewBl_mt.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstslpgList.NewBl_mt.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstslpgList.NewBl_mt.Visible (end) *@
    @if (subAktivitasSfadNewBlstslpgList.AR45B_mt.Visible) { // subAktivitasSfadNewBlstslpgList.AR45B_mt.Visible (begin)
        <td data-name="AR45B_mt" @Html.Raw(subAktivitasSfadNewBlstslpgList.AR45B_mt.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstslpgList.RowCount)_SubAktivitasSFADNewBLSTSLPG_AR45B_mt" class="el_SubAktivitasSFADNewBLSTSLPG_AR45B_mt">
<span @Html.Raw(subAktivitasSfadNewBlstslpgList.AR45B_mt.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstslpgList.AR45B_mt.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstslpgList.AR45B_mt.Visible (end) *@
    @if (subAktivitasSfadNewBlstslpgList.userInput.Visible) { // subAktivitasSfadNewBlstslpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasSfadNewBlstslpgList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstslpgList.RowCount)_SubAktivitasSFADNewBLSTSLPG_userInput" class="el_SubAktivitasSFADNewBLSTSLPG_userInput">
<span @Html.Raw(subAktivitasSfadNewBlstslpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstslpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstslpgList.userInput.Visible (end) *@
    @if (subAktivitasSfadNewBlstslpgList.etlDate.Visible) { // subAktivitasSfadNewBlstslpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasSfadNewBlstslpgList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasSfadNewBlstslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasSfadNewBlstslpgList.RowCount)_SubAktivitasSFADNewBLSTSLPG_etlDate" class="el_SubAktivitasSFADNewBLSTSLPG_etlDate">
<span @Html.Raw(subAktivitasSfadNewBlstslpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasSfadNewBlstslpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasSfadNewBlstslpgList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasSfadNewBlstslpgList.ListOptions.RenderBody("right", subAktivitasSfadNewBlstslpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasSfadNewBlstslpgList.RowIndex, "$rowindex$"))
        subAktivitasSfadNewBlstslpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasSfadNewBlstslpgList.IsCopy || subAktivitasSfadNewBlstslpgList.IsAdd) && subAktivitasSfadNewBlstslpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasSfadNewBlstslpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasSfadNewBlstslpgList.CurrentAction) && !subAktivitasSfadNewBlstslpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasSfadNewBlstslpgList.CloseRecordset(); }
@if (!subAktivitasSfadNewBlstslpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasSfadNewBlstslpgList.IsGridAdd && !(subAktivitasSfadNewBlstslpgList.IsGridEdit && subAktivitasSfadNewBlstslpgList.ModalGridEdit) && !subAktivitasSfadNewBlstslpgList.IsMultiEdit) {
@Html.Raw(subAktivitasSfadNewBlstslpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasSfadNewBlstslpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasSfadNewBlstslpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasSfadNewBlstslpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasSfadNewBlstslpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasSfadNewBlstslpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasSFADNewBLSTSLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
