@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiAgreementLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiAgreementLpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasNilaiAgreementLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiAgreementLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiAgreementLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasNilaiAgreementLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasNilaiAgreementLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasNilaiAgreementLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasNilaiAgreementLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasNilaiAgreementLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasNilaiAgreementLpgList.TotalRecords > 0 && subAktivitasNilaiAgreementLpgList.ExportOptions.Visible) {
    subAktivitasNilaiAgreementLpgList.ExportOptions.Render("body");
}
@if (subAktivitasNilaiAgreementLpgList.ImportOptions.Visible) {
    subAktivitasNilaiAgreementLpgList.ImportOptions.Render("body");
}
@if (subAktivitasNilaiAgreementLpgList.SearchOptions.Visible) {
    subAktivitasNilaiAgreementLpgList.SearchOptions.Render("body");
}
@if (subAktivitasNilaiAgreementLpgList.FilterOptions.Visible) {
    subAktivitasNilaiAgreementLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasNilaiAgreementLpgList.IsModal) {
<form name="fSubAktivitasNilaiAgreementLPGsrch" id="fSubAktivitasNilaiAgreementLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasNilaiAgreementLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasNilaiAgreementLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiAgreementLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiAgreementLPG: currentTable } });
var currentForm;
var fSubAktivitasNilaiAgreementLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiAgreementLPGsrch")
        .setPageId("list")
@if (subAktivitasNilaiAgreementLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasNilaiAgreementLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasNilaiAgreementLpgList.IsExport() && Empty(subAktivitasNilaiAgreementLpgList.CurrentAction) && subAktivitasNilaiAgreementLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasNilaiAgreementLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasNilaiAgreementLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasNilaiAgreementLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasNilaiAgreementLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasNilaiAgreementLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiAgreementLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasNilaiAgreementLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiAgreementLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasNilaiAgreementLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiAgreementLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasNilaiAgreementLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasNilaiAgreementLpgList.ShowPageHeader()
@subAktivitasNilaiAgreementLpgList.ShowMessages()
<main class="list @(subAktivitasNilaiAgreementLpgList.TotalRecords == 0 && !subAktivitasNilaiAgreementLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasNilaiAgreementLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasNilaiAgreementLpgList.TotalRecords > 0 || !Empty(subAktivitasNilaiAgreementLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasNilaiAgreementLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasNilaiAgreementLpgList.TableGridClass)">
<form name="@(subAktivitasNilaiAgreementLpgList.FormName)" id="@(subAktivitasNilaiAgreementLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasNilaiAgreementLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasNilaiAgreementLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasNilaiAgreementLPG" class="card-body ew-grid-middle-panel @(subAktivitasNilaiAgreementLpgList.TableContainerClass)" style="@(subAktivitasNilaiAgreementLpgList.TableContainerStyle)">
@if (subAktivitasNilaiAgreementLpgList.TotalRecords > 0 || subAktivitasNilaiAgreementLpgList.IsGridEdit || subAktivitasNilaiAgreementLpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasNilaiAgreementLPGlist" class="@(subAktivitasNilaiAgreementLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasNilaiAgreementLpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasNilaiAgreementLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasNilaiAgreementLpgList.ListOptions.RenderHeader("left")
@if (subAktivitasNilaiAgreementLpgList.id.Visible) { // subAktivitasNilaiAgreementLpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasNilaiAgreementLpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementLPG_id" class="SubAktivitasNilaiAgreementLPG_id">@Html.Raw(subAktivitasNilaiAgreementLpgList.RenderFieldHeader(subAktivitasNilaiAgreementLpgList.id))</div></th>
} @* subAktivitasNilaiAgreementLpgList.id.Visible (end) *@
@if (subAktivitasNilaiAgreementLpgList.NoReferensi.Visible) { // subAktivitasNilaiAgreementLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasNilaiAgreementLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementLPG_NoReferensi" class="SubAktivitasNilaiAgreementLPG_NoReferensi">@Html.Raw(subAktivitasNilaiAgreementLpgList.RenderFieldHeader(subAktivitasNilaiAgreementLpgList.NoReferensi))</div></th>
} @* subAktivitasNilaiAgreementLpgList.NoReferensi.Visible (end) *@
@if (subAktivitasNilaiAgreementLpgList.idProses.Visible) { // subAktivitasNilaiAgreementLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasNilaiAgreementLpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementLPG_idProses" class="SubAktivitasNilaiAgreementLPG_idProses">@Html.Raw(subAktivitasNilaiAgreementLpgList.RenderFieldHeader(subAktivitasNilaiAgreementLpgList.idProses))</div></th>
} @* subAktivitasNilaiAgreementLpgList.idProses.Visible (end) *@
@if (subAktivitasNilaiAgreementLpgList.idAktifitas.Visible) { // subAktivitasNilaiAgreementLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasNilaiAgreementLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementLPG_idAktifitas" class="SubAktivitasNilaiAgreementLPG_idAktifitas">@Html.Raw(subAktivitasNilaiAgreementLpgList.RenderFieldHeader(subAktivitasNilaiAgreementLpgList.idAktifitas))</div></th>
} @* subAktivitasNilaiAgreementLpgList.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiAgreementLpgList.StatusAktivitas.Visible) { // subAktivitasNilaiAgreementLpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasNilaiAgreementLpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementLPG_StatusAktivitas" class="SubAktivitasNilaiAgreementLPG_StatusAktivitas">@Html.Raw(subAktivitasNilaiAgreementLpgList.RenderFieldHeader(subAktivitasNilaiAgreementLpgList.StatusAktivitas))</div></th>
} @* subAktivitasNilaiAgreementLpgList.StatusAktivitas.Visible (end) *@
@if (subAktivitasNilaiAgreementLpgList.LastUpdatedBy.Visible) { // subAktivitasNilaiAgreementLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasNilaiAgreementLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementLPG_LastUpdatedBy" class="SubAktivitasNilaiAgreementLPG_LastUpdatedBy">@Html.Raw(subAktivitasNilaiAgreementLpgList.RenderFieldHeader(subAktivitasNilaiAgreementLpgList.LastUpdatedBy))</div></th>
} @* subAktivitasNilaiAgreementLpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiAgreementLpgList.lastUpdatedDate.Visible) { // subAktivitasNilaiAgreementLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasNilaiAgreementLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementLPG_lastUpdatedDate" class="SubAktivitasNilaiAgreementLPG_lastUpdatedDate">@Html.Raw(subAktivitasNilaiAgreementLpgList.RenderFieldHeader(subAktivitasNilaiAgreementLpgList.lastUpdatedDate))</div></th>
} @* subAktivitasNilaiAgreementLpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasNilaiAgreementLpgList.Pressure.Visible) { // subAktivitasNilaiAgreementLpgList.Pressure.Visible (begin)
        <th data-name="Pressure" class="@(subAktivitasNilaiAgreementLpgList.Pressure.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementLPG_Pressure" class="SubAktivitasNilaiAgreementLPG_Pressure">@Html.Raw(subAktivitasNilaiAgreementLpgList.RenderFieldHeader(subAktivitasNilaiAgreementLpgList.Pressure))</div></th>
} @* subAktivitasNilaiAgreementLpgList.Pressure.Visible (end) *@
@if (subAktivitasNilaiAgreementLpgList.Flowrate.Visible) { // subAktivitasNilaiAgreementLpgList.Flowrate.Visible (begin)
        <th data-name="Flowrate" class="@(subAktivitasNilaiAgreementLpgList.Flowrate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementLPG_Flowrate" class="SubAktivitasNilaiAgreementLPG_Flowrate">@Html.Raw(subAktivitasNilaiAgreementLpgList.RenderFieldHeader(subAktivitasNilaiAgreementLpgList.Flowrate))</div></th>
} @* subAktivitasNilaiAgreementLpgList.Flowrate.Visible (end) *@
@if (subAktivitasNilaiAgreementLpgList.StrippingTime.Visible) { // subAktivitasNilaiAgreementLpgList.StrippingTime.Visible (begin)
        <th data-name="StrippingTime" class="@(subAktivitasNilaiAgreementLpgList.StrippingTime.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementLPG_StrippingTime" class="SubAktivitasNilaiAgreementLPG_StrippingTime">@Html.Raw(subAktivitasNilaiAgreementLpgList.RenderFieldHeader(subAktivitasNilaiAgreementLpgList.StrippingTime))</div></th>
} @* subAktivitasNilaiAgreementLpgList.StrippingTime.Visible (end) *@
@if (subAktivitasNilaiAgreementLpgList.LamaPembongkaran.Visible) { // subAktivitasNilaiAgreementLpgList.LamaPembongkaran.Visible (begin)
        <th data-name="LamaPembongkaran" class="@(subAktivitasNilaiAgreementLpgList.LamaPembongkaran.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementLPG_LamaPembongkaran" class="SubAktivitasNilaiAgreementLPG_LamaPembongkaran">@Html.Raw(subAktivitasNilaiAgreementLpgList.RenderFieldHeader(subAktivitasNilaiAgreementLpgList.LamaPembongkaran))</div></th>
} @* subAktivitasNilaiAgreementLpgList.LamaPembongkaran.Visible (end) *@
@if (subAktivitasNilaiAgreementLpgList.ETC.Visible) { // subAktivitasNilaiAgreementLpgList.ETC.Visible (begin)
        <th data-name="ETC" class="@(subAktivitasNilaiAgreementLpgList.ETC.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementLPG_ETC" class="SubAktivitasNilaiAgreementLPG_ETC">@Html.Raw(subAktivitasNilaiAgreementLpgList.RenderFieldHeader(subAktivitasNilaiAgreementLpgList.ETC))</div></th>
} @* subAktivitasNilaiAgreementLpgList.ETC.Visible (end) *@
@if (subAktivitasNilaiAgreementLpgList.userInput.Visible) { // subAktivitasNilaiAgreementLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasNilaiAgreementLpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementLPG_userInput" class="SubAktivitasNilaiAgreementLPG_userInput">@Html.Raw(subAktivitasNilaiAgreementLpgList.RenderFieldHeader(subAktivitasNilaiAgreementLpgList.userInput))</div></th>
} @* subAktivitasNilaiAgreementLpgList.userInput.Visible (end) *@
@if (subAktivitasNilaiAgreementLpgList.etlDate.Visible) { // subAktivitasNilaiAgreementLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasNilaiAgreementLpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiAgreementLPG_etlDate" class="SubAktivitasNilaiAgreementLPG_etlDate">@Html.Raw(subAktivitasNilaiAgreementLpgList.RenderFieldHeader(subAktivitasNilaiAgreementLpgList.etlDate))</div></th>
} @* subAktivitasNilaiAgreementLpgList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasNilaiAgreementLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasNilaiAgreementLpgList.PageNumber)">
@{
    await subAktivitasNilaiAgreementLpgList.SetupGrid();
    bool eof = subAktivitasNilaiAgreementLpgList.Recordset == null; // DN
}
@while (subAktivitasNilaiAgreementLpgList.RecordCount < subAktivitasNilaiAgreementLpgList.StopRecord || SameString(subAktivitasNilaiAgreementLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasNilaiAgreementLpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasNilaiAgreementLpgList.IsGridAdd || subAktivitasNilaiAgreementLpgList.CurrentMode == "copy") &&
        (!((subAktivitasNilaiAgreementLpgList.IsCopy || subAktivitasNilaiAgreementLpgList.IsAdd) && subAktivitasNilaiAgreementLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasNilaiAgreementLpgList.Recordset.ReadAsync();
    subAktivitasNilaiAgreementLpgList.RecordCount++;
    if (subAktivitasNilaiAgreementLpgList.RecordCount >= subAktivitasNilaiAgreementLpgList.StartRecord) {
        await subAktivitasNilaiAgreementLpgList.SetupRow();
    <tr @Html.Raw(subAktivitasNilaiAgreementLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasNilaiAgreementLpgList.ListOptions.RenderBody("left", subAktivitasNilaiAgreementLpgList.RowCount)
    @if (subAktivitasNilaiAgreementLpgList.id.Visible) { // subAktivitasNilaiAgreementLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasNilaiAgreementLpgList.id.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementLpgList.RowCount)_SubAktivitasNilaiAgreementLPG_id" class="el_SubAktivitasNilaiAgreementLPG_id">
<span @Html.Raw(subAktivitasNilaiAgreementLpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementLpgList.id.Visible (end) *@
    @if (subAktivitasNilaiAgreementLpgList.NoReferensi.Visible) { // subAktivitasNilaiAgreementLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasNilaiAgreementLpgList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementLpgList.RowCount)_SubAktivitasNilaiAgreementLPG_NoReferensi" class="el_SubAktivitasNilaiAgreementLPG_NoReferensi">
<span @Html.Raw(subAktivitasNilaiAgreementLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementLpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasNilaiAgreementLpgList.idProses.Visible) { // subAktivitasNilaiAgreementLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasNilaiAgreementLpgList.idProses.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementLpgList.RowCount)_SubAktivitasNilaiAgreementLPG_idProses" class="el_SubAktivitasNilaiAgreementLPG_idProses">
<span @Html.Raw(subAktivitasNilaiAgreementLpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementLpgList.idProses.Visible (end) *@
    @if (subAktivitasNilaiAgreementLpgList.idAktifitas.Visible) { // subAktivitasNilaiAgreementLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasNilaiAgreementLpgList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementLpgList.RowCount)_SubAktivitasNilaiAgreementLPG_idAktifitas" class="el_SubAktivitasNilaiAgreementLPG_idAktifitas">
<span @Html.Raw(subAktivitasNilaiAgreementLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementLpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasNilaiAgreementLpgList.StatusAktivitas.Visible) { // subAktivitasNilaiAgreementLpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasNilaiAgreementLpgList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementLpgList.RowCount)_SubAktivitasNilaiAgreementLPG_StatusAktivitas" class="el_SubAktivitasNilaiAgreementLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasNilaiAgreementLpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementLpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementLpgList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasNilaiAgreementLpgList.LastUpdatedBy.Visible) { // subAktivitasNilaiAgreementLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasNilaiAgreementLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementLpgList.RowCount)_SubAktivitasNilaiAgreementLPG_LastUpdatedBy" class="el_SubAktivitasNilaiAgreementLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasNilaiAgreementLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementLpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasNilaiAgreementLpgList.lastUpdatedDate.Visible) { // subAktivitasNilaiAgreementLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasNilaiAgreementLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementLpgList.RowCount)_SubAktivitasNilaiAgreementLPG_lastUpdatedDate" class="el_SubAktivitasNilaiAgreementLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasNilaiAgreementLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementLpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasNilaiAgreementLpgList.Pressure.Visible) { // subAktivitasNilaiAgreementLpgList.Pressure.Visible (begin)
        <td data-name="Pressure" @Html.Raw(subAktivitasNilaiAgreementLpgList.Pressure.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementLpgList.RowCount)_SubAktivitasNilaiAgreementLPG_Pressure" class="el_SubAktivitasNilaiAgreementLPG_Pressure">
<span @Html.Raw(subAktivitasNilaiAgreementLpgList.Pressure.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementLpgList.Pressure.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementLpgList.Pressure.Visible (end) *@
    @if (subAktivitasNilaiAgreementLpgList.Flowrate.Visible) { // subAktivitasNilaiAgreementLpgList.Flowrate.Visible (begin)
        <td data-name="Flowrate" @Html.Raw(subAktivitasNilaiAgreementLpgList.Flowrate.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementLpgList.RowCount)_SubAktivitasNilaiAgreementLPG_Flowrate" class="el_SubAktivitasNilaiAgreementLPG_Flowrate">
<span @Html.Raw(subAktivitasNilaiAgreementLpgList.Flowrate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementLpgList.Flowrate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementLpgList.Flowrate.Visible (end) *@
    @if (subAktivitasNilaiAgreementLpgList.StrippingTime.Visible) { // subAktivitasNilaiAgreementLpgList.StrippingTime.Visible (begin)
        <td data-name="StrippingTime" @Html.Raw(subAktivitasNilaiAgreementLpgList.StrippingTime.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementLpgList.RowCount)_SubAktivitasNilaiAgreementLPG_StrippingTime" class="el_SubAktivitasNilaiAgreementLPG_StrippingTime">
<span @Html.Raw(subAktivitasNilaiAgreementLpgList.StrippingTime.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementLpgList.StrippingTime.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementLpgList.StrippingTime.Visible (end) *@
    @if (subAktivitasNilaiAgreementLpgList.LamaPembongkaran.Visible) { // subAktivitasNilaiAgreementLpgList.LamaPembongkaran.Visible (begin)
        <td data-name="LamaPembongkaran" @Html.Raw(subAktivitasNilaiAgreementLpgList.LamaPembongkaran.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementLpgList.RowCount)_SubAktivitasNilaiAgreementLPG_LamaPembongkaran" class="el_SubAktivitasNilaiAgreementLPG_LamaPembongkaran">
<span @Html.Raw(subAktivitasNilaiAgreementLpgList.LamaPembongkaran.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementLpgList.LamaPembongkaran.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementLpgList.LamaPembongkaran.Visible (end) *@
    @if (subAktivitasNilaiAgreementLpgList.ETC.Visible) { // subAktivitasNilaiAgreementLpgList.ETC.Visible (begin)
        <td data-name="ETC" @Html.Raw(subAktivitasNilaiAgreementLpgList.ETC.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementLpgList.RowCount)_SubAktivitasNilaiAgreementLPG_ETC" class="el_SubAktivitasNilaiAgreementLPG_ETC">
<span @Html.Raw(subAktivitasNilaiAgreementLpgList.ETC.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementLpgList.ETC.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementLpgList.ETC.Visible (end) *@
    @if (subAktivitasNilaiAgreementLpgList.userInput.Visible) { // subAktivitasNilaiAgreementLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasNilaiAgreementLpgList.userInput.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementLpgList.RowCount)_SubAktivitasNilaiAgreementLPG_userInput" class="el_SubAktivitasNilaiAgreementLPG_userInput">
<span @Html.Raw(subAktivitasNilaiAgreementLpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementLpgList.userInput.Visible (end) *@
    @if (subAktivitasNilaiAgreementLpgList.etlDate.Visible) { // subAktivitasNilaiAgreementLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasNilaiAgreementLpgList.etlDate.CellAttributes)>
<span id="el@(subAktivitasNilaiAgreementLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasNilaiAgreementLpgList.RowCount)_SubAktivitasNilaiAgreementLPG_etlDate" class="el_SubAktivitasNilaiAgreementLPG_etlDate">
<span @Html.Raw(subAktivitasNilaiAgreementLpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiAgreementLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiAgreementLpgList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasNilaiAgreementLpgList.ListOptions.RenderBody("right", subAktivitasNilaiAgreementLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasNilaiAgreementLpgList.RowIndex, "$rowindex$"))
        subAktivitasNilaiAgreementLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasNilaiAgreementLpgList.IsCopy || subAktivitasNilaiAgreementLpgList.IsAdd) && subAktivitasNilaiAgreementLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasNilaiAgreementLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasNilaiAgreementLpgList.CurrentAction) && !subAktivitasNilaiAgreementLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasNilaiAgreementLpgList.CloseRecordset(); }
@if (!subAktivitasNilaiAgreementLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasNilaiAgreementLpgList.IsGridAdd && !(subAktivitasNilaiAgreementLpgList.IsGridEdit && subAktivitasNilaiAgreementLpgList.ModalGridEdit) && !subAktivitasNilaiAgreementLpgList.IsMultiEdit) {
@Html.Raw(subAktivitasNilaiAgreementLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasNilaiAgreementLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasNilaiAgreementLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasNilaiAgreementLpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasNilaiAgreementLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasNilaiAgreementLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasNilaiAgreementLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
