@{
    // View
    View = this;

    // Check action result
    if (subAktivitasStopBongkarStslpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasStopBongkarStslpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasStopBongkarStslpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasStopBongkarStslpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasStopBongkarSTSLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasStopBongkarStslpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasStopBongkarStslpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasStopBongkarStslpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasStopBongkarStslpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasStopBongkarStslpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasStopBongkarStslpgList.TotalRecords > 0 && subAktivitasStopBongkarStslpgList.ExportOptions.Visible) {
    subAktivitasStopBongkarStslpgList.ExportOptions.Render("body");
}
@if (subAktivitasStopBongkarStslpgList.ImportOptions.Visible) {
    subAktivitasStopBongkarStslpgList.ImportOptions.Render("body");
}
@if (subAktivitasStopBongkarStslpgList.SearchOptions.Visible) {
    subAktivitasStopBongkarStslpgList.SearchOptions.Render("body");
}
@if (subAktivitasStopBongkarStslpgList.FilterOptions.Visible) {
    subAktivitasStopBongkarStslpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasStopBongkarStslpgList.IsModal) {
<form name="fSubAktivitasStopBongkarSTSLPGsrch" id="fSubAktivitasStopBongkarSTSLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasStopBongkarSTSLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasStopBongkarStslpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasStopBongkarStslpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasStopBongkarSTSLPG: currentTable } });
var currentForm;
var fSubAktivitasStopBongkarSTSLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasStopBongkarSTSLPGsrch")
        .setPageId("list")
@if (subAktivitasStopBongkarStslpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasStopBongkarStslpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasStopBongkarStslpgList.IsExport() && Empty(subAktivitasStopBongkarStslpgList.CurrentAction) && subAktivitasStopBongkarStslpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasStopBongkarStslpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasStopBongkarStslpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasStopBongkarStslpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasStopBongkarStslpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasStopBongkarSTSLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasStopBongkarStslpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasStopBongkarSTSLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasStopBongkarStslpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasStopBongkarSTSLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasStopBongkarStslpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasStopBongkarSTSLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasStopBongkarStslpgList.ShowPageHeader()
@subAktivitasStopBongkarStslpgList.ShowMessages()
<main class="list @(subAktivitasStopBongkarStslpgList.TotalRecords == 0 && !subAktivitasStopBongkarStslpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasStopBongkarStslpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasStopBongkarStslpgList.TotalRecords > 0 || !Empty(subAktivitasStopBongkarStslpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasStopBongkarStslpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasStopBongkarStslpgList.TableGridClass)">
<form name="@(subAktivitasStopBongkarStslpgList.FormName)" id="@(subAktivitasStopBongkarStslpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasStopBongkarStslpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasStopBongkarStslpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasStopBongkarSTSLPG" class="card-body ew-grid-middle-panel @(subAktivitasStopBongkarStslpgList.TableContainerClass)" style="@(subAktivitasStopBongkarStslpgList.TableContainerStyle)">
@if (subAktivitasStopBongkarStslpgList.TotalRecords > 0 || subAktivitasStopBongkarStslpgList.IsGridEdit || subAktivitasStopBongkarStslpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasStopBongkarSTSLPGlist" class="@(subAktivitasStopBongkarStslpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasStopBongkarStslpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasStopBongkarStslpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasStopBongkarStslpgList.ListOptions.RenderHeader("left")
@if (subAktivitasStopBongkarStslpgList.id.Visible) { // subAktivitasStopBongkarStslpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasStopBongkarStslpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasStopBongkarSTSLPG_id" class="SubAktivitasStopBongkarSTSLPG_id">@Html.Raw(subAktivitasStopBongkarStslpgList.RenderFieldHeader(subAktivitasStopBongkarStslpgList.id))</div></th>
} @* subAktivitasStopBongkarStslpgList.id.Visible (end) *@
@if (subAktivitasStopBongkarStslpgList.NoReferensi.Visible) { // subAktivitasStopBongkarStslpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasStopBongkarStslpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasStopBongkarSTSLPG_NoReferensi" class="SubAktivitasStopBongkarSTSLPG_NoReferensi">@Html.Raw(subAktivitasStopBongkarStslpgList.RenderFieldHeader(subAktivitasStopBongkarStslpgList.NoReferensi))</div></th>
} @* subAktivitasStopBongkarStslpgList.NoReferensi.Visible (end) *@
@if (subAktivitasStopBongkarStslpgList.idProses.Visible) { // subAktivitasStopBongkarStslpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasStopBongkarStslpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasStopBongkarSTSLPG_idProses" class="SubAktivitasStopBongkarSTSLPG_idProses">@Html.Raw(subAktivitasStopBongkarStslpgList.RenderFieldHeader(subAktivitasStopBongkarStslpgList.idProses))</div></th>
} @* subAktivitasStopBongkarStslpgList.idProses.Visible (end) *@
@if (subAktivitasStopBongkarStslpgList.idAktifitas.Visible) { // subAktivitasStopBongkarStslpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasStopBongkarStslpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasStopBongkarSTSLPG_idAktifitas" class="SubAktivitasStopBongkarSTSLPG_idAktifitas">@Html.Raw(subAktivitasStopBongkarStslpgList.RenderFieldHeader(subAktivitasStopBongkarStslpgList.idAktifitas))</div></th>
} @* subAktivitasStopBongkarStslpgList.idAktifitas.Visible (end) *@
@if (subAktivitasStopBongkarStslpgList.StatusAktivitas.Visible) { // subAktivitasStopBongkarStslpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasStopBongkarStslpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasStopBongkarSTSLPG_StatusAktivitas" class="SubAktivitasStopBongkarSTSLPG_StatusAktivitas">@Html.Raw(subAktivitasStopBongkarStslpgList.RenderFieldHeader(subAktivitasStopBongkarStslpgList.StatusAktivitas))</div></th>
} @* subAktivitasStopBongkarStslpgList.StatusAktivitas.Visible (end) *@
@if (subAktivitasStopBongkarStslpgList.LastUpdatedBy.Visible) { // subAktivitasStopBongkarStslpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasStopBongkarStslpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasStopBongkarSTSLPG_LastUpdatedBy" class="SubAktivitasStopBongkarSTSLPG_LastUpdatedBy">@Html.Raw(subAktivitasStopBongkarStslpgList.RenderFieldHeader(subAktivitasStopBongkarStslpgList.LastUpdatedBy))</div></th>
} @* subAktivitasStopBongkarStslpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasStopBongkarStslpgList.lastUpdatedDate.Visible) { // subAktivitasStopBongkarStslpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasStopBongkarStslpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasStopBongkarSTSLPG_lastUpdatedDate" class="SubAktivitasStopBongkarSTSLPG_lastUpdatedDate">@Html.Raw(subAktivitasStopBongkarStslpgList.RenderFieldHeader(subAktivitasStopBongkarStslpgList.lastUpdatedDate))</div></th>
} @* subAktivitasStopBongkarStslpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasStopBongkarStslpgList.tglStopBongkar.Visible) { // subAktivitasStopBongkarStslpgList.tglStopBongkar.Visible (begin)
        <th data-name="tglStopBongkar" class="@(subAktivitasStopBongkarStslpgList.tglStopBongkar.HeaderCellClass)"><div id="elh_SubAktivitasStopBongkarSTSLPG_tglStopBongkar" class="SubAktivitasStopBongkarSTSLPG_tglStopBongkar">@Html.Raw(subAktivitasStopBongkarStslpgList.RenderFieldHeader(subAktivitasStopBongkarStslpgList.tglStopBongkar))</div></th>
} @* subAktivitasStopBongkarStslpgList.tglStopBongkar.Visible (end) *@
@if (subAktivitasStopBongkarStslpgList.userInput.Visible) { // subAktivitasStopBongkarStslpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasStopBongkarStslpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasStopBongkarSTSLPG_userInput" class="SubAktivitasStopBongkarSTSLPG_userInput">@Html.Raw(subAktivitasStopBongkarStslpgList.RenderFieldHeader(subAktivitasStopBongkarStslpgList.userInput))</div></th>
} @* subAktivitasStopBongkarStslpgList.userInput.Visible (end) *@
@if (subAktivitasStopBongkarStslpgList.etlDate.Visible) { // subAktivitasStopBongkarStslpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasStopBongkarStslpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasStopBongkarSTSLPG_etlDate" class="SubAktivitasStopBongkarSTSLPG_etlDate">@Html.Raw(subAktivitasStopBongkarStslpgList.RenderFieldHeader(subAktivitasStopBongkarStslpgList.etlDate))</div></th>
} @* subAktivitasStopBongkarStslpgList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasStopBongkarStslpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasStopBongkarStslpgList.PageNumber)">
@{
    await subAktivitasStopBongkarStslpgList.SetupGrid();
    bool eof = subAktivitasStopBongkarStslpgList.Recordset == null; // DN
}
@while (subAktivitasStopBongkarStslpgList.RecordCount < subAktivitasStopBongkarStslpgList.StopRecord || SameString(subAktivitasStopBongkarStslpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasStopBongkarStslpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasStopBongkarStslpgList.IsGridAdd || subAktivitasStopBongkarStslpgList.CurrentMode == "copy") &&
        (!((subAktivitasStopBongkarStslpgList.IsCopy || subAktivitasStopBongkarStslpgList.IsAdd) && subAktivitasStopBongkarStslpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasStopBongkarStslpgList.Recordset.ReadAsync();
    subAktivitasStopBongkarStslpgList.RecordCount++;
    if (subAktivitasStopBongkarStslpgList.RecordCount >= subAktivitasStopBongkarStslpgList.StartRecord) {
        await subAktivitasStopBongkarStslpgList.SetupRow();
    <tr @Html.Raw(subAktivitasStopBongkarStslpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasStopBongkarStslpgList.ListOptions.RenderBody("left", subAktivitasStopBongkarStslpgList.RowCount)
    @if (subAktivitasStopBongkarStslpgList.id.Visible) { // subAktivitasStopBongkarStslpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasStopBongkarStslpgList.id.CellAttributes)>
<span id="el@(subAktivitasStopBongkarStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasStopBongkarStslpgList.RowCount)_SubAktivitasStopBongkarSTSLPG_id" class="el_SubAktivitasStopBongkarSTSLPG_id">
<span @Html.Raw(subAktivitasStopBongkarStslpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasStopBongkarStslpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopBongkarStslpgList.id.Visible (end) *@
    @if (subAktivitasStopBongkarStslpgList.NoReferensi.Visible) { // subAktivitasStopBongkarStslpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasStopBongkarStslpgList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasStopBongkarStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasStopBongkarStslpgList.RowCount)_SubAktivitasStopBongkarSTSLPG_NoReferensi" class="el_SubAktivitasStopBongkarSTSLPG_NoReferensi">
<span @Html.Raw(subAktivitasStopBongkarStslpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasStopBongkarStslpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopBongkarStslpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasStopBongkarStslpgList.idProses.Visible) { // subAktivitasStopBongkarStslpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasStopBongkarStslpgList.idProses.CellAttributes)>
<span id="el@(subAktivitasStopBongkarStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasStopBongkarStslpgList.RowCount)_SubAktivitasStopBongkarSTSLPG_idProses" class="el_SubAktivitasStopBongkarSTSLPG_idProses">
<span @Html.Raw(subAktivitasStopBongkarStslpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasStopBongkarStslpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopBongkarStslpgList.idProses.Visible (end) *@
    @if (subAktivitasStopBongkarStslpgList.idAktifitas.Visible) { // subAktivitasStopBongkarStslpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasStopBongkarStslpgList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasStopBongkarStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasStopBongkarStslpgList.RowCount)_SubAktivitasStopBongkarSTSLPG_idAktifitas" class="el_SubAktivitasStopBongkarSTSLPG_idAktifitas">
<span @Html.Raw(subAktivitasStopBongkarStslpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasStopBongkarStslpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopBongkarStslpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasStopBongkarStslpgList.StatusAktivitas.Visible) { // subAktivitasStopBongkarStslpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasStopBongkarStslpgList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasStopBongkarStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasStopBongkarStslpgList.RowCount)_SubAktivitasStopBongkarSTSLPG_StatusAktivitas" class="el_SubAktivitasStopBongkarSTSLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasStopBongkarStslpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasStopBongkarStslpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopBongkarStslpgList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasStopBongkarStslpgList.LastUpdatedBy.Visible) { // subAktivitasStopBongkarStslpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasStopBongkarStslpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasStopBongkarStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasStopBongkarStslpgList.RowCount)_SubAktivitasStopBongkarSTSLPG_LastUpdatedBy" class="el_SubAktivitasStopBongkarSTSLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasStopBongkarStslpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasStopBongkarStslpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopBongkarStslpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasStopBongkarStslpgList.lastUpdatedDate.Visible) { // subAktivitasStopBongkarStslpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasStopBongkarStslpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasStopBongkarStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasStopBongkarStslpgList.RowCount)_SubAktivitasStopBongkarSTSLPG_lastUpdatedDate" class="el_SubAktivitasStopBongkarSTSLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasStopBongkarStslpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasStopBongkarStslpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopBongkarStslpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasStopBongkarStslpgList.tglStopBongkar.Visible) { // subAktivitasStopBongkarStslpgList.tglStopBongkar.Visible (begin)
        <td data-name="tglStopBongkar" @Html.Raw(subAktivitasStopBongkarStslpgList.tglStopBongkar.CellAttributes)>
<span id="el@(subAktivitasStopBongkarStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasStopBongkarStslpgList.RowCount)_SubAktivitasStopBongkarSTSLPG_tglStopBongkar" class="el_SubAktivitasStopBongkarSTSLPG_tglStopBongkar">
<span @Html.Raw(subAktivitasStopBongkarStslpgList.tglStopBongkar.ViewAttributes)>
@Html.Raw(subAktivitasStopBongkarStslpgList.tglStopBongkar.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopBongkarStslpgList.tglStopBongkar.Visible (end) *@
    @if (subAktivitasStopBongkarStslpgList.userInput.Visible) { // subAktivitasStopBongkarStslpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasStopBongkarStslpgList.userInput.CellAttributes)>
<span id="el@(subAktivitasStopBongkarStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasStopBongkarStslpgList.RowCount)_SubAktivitasStopBongkarSTSLPG_userInput" class="el_SubAktivitasStopBongkarSTSLPG_userInput">
<span @Html.Raw(subAktivitasStopBongkarStslpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasStopBongkarStslpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopBongkarStslpgList.userInput.Visible (end) *@
    @if (subAktivitasStopBongkarStslpgList.etlDate.Visible) { // subAktivitasStopBongkarStslpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasStopBongkarStslpgList.etlDate.CellAttributes)>
<span id="el@(subAktivitasStopBongkarStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasStopBongkarStslpgList.RowCount)_SubAktivitasStopBongkarSTSLPG_etlDate" class="el_SubAktivitasStopBongkarSTSLPG_etlDate">
<span @Html.Raw(subAktivitasStopBongkarStslpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasStopBongkarStslpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStopBongkarStslpgList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasStopBongkarStslpgList.ListOptions.RenderBody("right", subAktivitasStopBongkarStslpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasStopBongkarStslpgList.RowIndex, "$rowindex$"))
        subAktivitasStopBongkarStslpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasStopBongkarStslpgList.IsCopy || subAktivitasStopBongkarStslpgList.IsAdd) && subAktivitasStopBongkarStslpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasStopBongkarStslpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasStopBongkarStslpgList.CurrentAction) && !subAktivitasStopBongkarStslpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasStopBongkarStslpgList.CloseRecordset(); }
@if (!subAktivitasStopBongkarStslpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasStopBongkarStslpgList.IsGridAdd && !(subAktivitasStopBongkarStslpgList.IsGridEdit && subAktivitasStopBongkarStslpgList.ModalGridEdit) && !subAktivitasStopBongkarStslpgList.IsMultiEdit) {
@Html.Raw(subAktivitasStopBongkarStslpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasStopBongkarStslpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasStopBongkarStslpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasStopBongkarStslpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasStopBongkarStslpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasStopBongkarStslpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasStopBongkarSTSLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
