@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputNilaiAktDischargeRtwAdd.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputNilaiAktDischargeRtwAdd.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputNilaiAktDischargeRtwAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputNilaiAktDischargeRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fSubAktivitasFormInputNilaiAktDischargeRTWadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputNilaiAktDischargeRTWadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null, ew.Validators.integer], fields.StatusAktivitas.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["Import", [fields.Import.visible && fields.Import.required ? ew.Validators.required(fields.Import.caption) : null], fields.Import.isInvalid],
            ["ApakahAdaROB", [fields.ApakahAdaROB.visible && fields.ApakahAdaROB.required ? ew.Validators.required(fields.ApakahAdaROB.caption) : null], fields.ApakahAdaROB.isInvalid],
            ["Tujuan", [fields.Tujuan.visible && fields.Tujuan.required ? ew.Validators.required(fields.Tujuan.caption) : null], fields.Tujuan.isInvalid],
            ["SFAD_KLObs", [fields.SFAD_KLObs.visible && fields.SFAD_KLObs.required ? ew.Validators.required(fields.SFAD_KLObs.caption) : null], fields.SFAD_KLObs.isInvalid],
            ["SFAD_KL15", [fields.SFAD_KL15.visible && fields.SFAD_KL15.required ? ew.Validators.required(fields.SFAD_KL15.caption) : null], fields.SFAD_KL15.isInvalid],
            ["SFAD_Barrels", [fields.SFAD_Barrels.visible && fields.SFAD_Barrels.required ? ew.Validators.required(fields.SFAD_Barrels.caption) : null], fields.SFAD_Barrels.isInvalid],
            ["SFAD_LT", [fields.SFAD_LT.visible && fields.SFAD_LT.required ? ew.Validators.required(fields.SFAD_LT.caption) : null], fields.SFAD_LT.isInvalid],
            ["SFAD_MT", [fields.SFAD_MT.visible && fields.SFAD_MT.required ? ew.Validators.required(fields.SFAD_MT.caption) : null], fields.SFAD_MT.isInvalid],
            ["NewBL_KLObs", [fields.NewBL_KLObs.visible && fields.NewBL_KLObs.required ? ew.Validators.required(fields.NewBL_KLObs.caption) : null], fields.NewBL_KLObs.isInvalid],
            ["NewBL_KL15", [fields.NewBL_KL15.visible && fields.NewBL_KL15.required ? ew.Validators.required(fields.NewBL_KL15.caption) : null], fields.NewBL_KL15.isInvalid],
            ["NewBL_Barrels", [fields.NewBL_Barrels.visible && fields.NewBL_Barrels.required ? ew.Validators.required(fields.NewBL_Barrels.caption) : null], fields.NewBL_Barrels.isInvalid],
            ["NewBL_LT", [fields.NewBL_LT.visible && fields.NewBL_LT.required ? ew.Validators.required(fields.NewBL_LT.caption) : null], fields.NewBL_LT.isInvalid],
            ["NewBL_MT", [fields.NewBL_MT.visible && fields.NewBL_MT.required ? ew.Validators.required(fields.NewBL_MT.caption) : null], fields.NewBL_MT.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["AR45B_klobs", [fields.AR45B_klobs.visible && fields.AR45B_klobs.required ? ew.Validators.required(fields.AR45B_klobs.caption) : null], fields.AR45B_klobs.isInvalid],
            ["AR45B_kl15", [fields.AR45B_kl15.visible && fields.AR45B_kl15.required ? ew.Validators.required(fields.AR45B_kl15.caption) : null], fields.AR45B_kl15.isInvalid],
            ["AR45B_Barrel", [fields.AR45B_Barrel.visible && fields.AR45B_Barrel.required ? ew.Validators.required(fields.AR45B_Barrel.caption) : null], fields.AR45B_Barrel.isInvalid],
            ["AR45B_lt", [fields.AR45B_lt.visible && fields.AR45B_lt.required ? ew.Validators.required(fields.AR45B_lt.caption) : null], fields.AR45B_lt.isInvalid],
            ["AR45B_mt", [fields.AR45B_mt.visible && fields.AR45B_mt.required ? ew.Validators.required(fields.AR45B_mt.caption) : null], fields.AR45B_mt.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "idProses": @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.idProses.ToClientList(subAktivitasFormInputNilaiAktDischargeRtwAdd)),
            "idAktifitas": @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.idAktifitas.ToClientList(subAktivitasFormInputNilaiAktDischargeRtwAdd)),
            "StatusAktivitas": @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.StatusAktivitas.ToClientList(subAktivitasFormInputNilaiAktDischargeRtwAdd)),
            "Import": @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.Import.ToClientList(subAktivitasFormInputNilaiAktDischargeRtwAdd)),
            "ApakahAdaROB": @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.ApakahAdaROB.ToClientList(subAktivitasFormInputNilaiAktDischargeRtwAdd)),
            "Tujuan": @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.Tujuan.ToClientList(subAktivitasFormInputNilaiAktDischargeRtwAdd)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasFormInputNilaiAktDischargeRtwAdd.ShowPageHeader()
@subAktivitasFormInputNilaiAktDischargeRtwAdd.ShowMessages()
<form name="fSubAktivitasFormInputNilaiAktDischargeRTWadd" id="fSubAktivitasFormInputNilaiAktDischargeRTWadd" class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputNilaiAktDischargeRtwAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.OldKeyName)" value="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (subAktivitasFormInputNilaiAktDischargeRtwAdd.NoReferensi.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwAdd.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_NoReferensi" for="x_NoReferensi" class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NoReferensi.Caption)@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_NoReferensi">
<input type="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasFormInputNilaiAktDischargeRTW" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NoReferensi.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktDischargeRtwAdd.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktDischargeRtwAdd.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwAdd.idProses.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwAdd.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.idProses.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_idProses" class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.idProses.Caption)@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_idProses">
<span>@{
    if (IsRTL) {
        subAktivitasFormInputNilaiAktDischargeRtwAdd.idProses.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_idProses" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_idProses" id="sv_x_idProses" value="@(RemoveHtml(ConvertToString(subAktivitasFormInputNilaiAktDischargeRtwAdd.idProses.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktDischargeRtwAdd.idProses.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktDischargeRtwAdd.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.idProses.FormatPattern)" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.idProses.EditAttributes) aria-describedby="x_idProses_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasFormInputNilaiAktDischargeRTW" data-field="x_idProses" data-input="sv_x_idProses" data-value-separator="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.idProses.DisplayValueSeparatorAttribute)" name="x_idProses" id="x_idProses" value="@(HtmlEncode(subAktivitasFormInputNilaiAktDischargeRtwAdd.idProses.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.idProses.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasFormInputNilaiAktDischargeRTWadd"], function() {
    fSubAktivitasFormInputNilaiAktDischargeRTWadd.createAutoSuggest(Object.assign({"id":"x_idProses","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasFormInputNilaiAktDischargeRtwAdd.idProses.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasFormInputNilaiAktDischargeRTW.fields.idProses.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.idProses.Lookup.GetParamTag(subAktivitasFormInputNilaiAktDischargeRtwAdd, "p_x_idProses"))
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktDischargeRtwAdd.idProses.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwAdd.idAktifitas.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwAdd.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_idAktifitas" class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.idAktifitas.Caption)@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_idAktifitas">
<span>@{
    if (IsRTL) {
        subAktivitasFormInputNilaiAktDischargeRtwAdd.idAktifitas.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_idAktifitas" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_idAktifitas" id="sv_x_idAktifitas" value="@(RemoveHtml(ConvertToString(subAktivitasFormInputNilaiAktDischargeRtwAdd.idAktifitas.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktDischargeRtwAdd.idAktifitas.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktDischargeRtwAdd.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.idAktifitas.FormatPattern)" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasFormInputNilaiAktDischargeRTW" data-field="x_idAktifitas" data-input="sv_x_idAktifitas" data-value-separator="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.idAktifitas.DisplayValueSeparatorAttribute)" name="x_idAktifitas" id="x_idAktifitas" value="@(HtmlEncode(subAktivitasFormInputNilaiAktDischargeRtwAdd.idAktifitas.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.idAktifitas.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasFormInputNilaiAktDischargeRTWadd"], function() {
    fSubAktivitasFormInputNilaiAktDischargeRTWadd.createAutoSuggest(Object.assign({"id":"x_idAktifitas","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasFormInputNilaiAktDischargeRtwAdd.idAktifitas.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasFormInputNilaiAktDischargeRTW.fields.idAktifitas.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.idAktifitas.Lookup.GetParamTag(subAktivitasFormInputNilaiAktDischargeRtwAdd, "p_x_idAktifitas"))
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktDischargeRtwAdd.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwAdd.StatusAktivitas.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwAdd.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.StatusAktivitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_StatusAktivitas" class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.StatusAktivitas.Caption)@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_StatusAktivitas">
<span>@{
    if (IsRTL) {
        subAktivitasFormInputNilaiAktDischargeRtwAdd.StatusAktivitas.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_StatusAktivitas" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_StatusAktivitas" id="sv_x_StatusAktivitas" value="@(RemoveHtml(ConvertToString(subAktivitasFormInputNilaiAktDischargeRtwAdd.StatusAktivitas.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktDischargeRtwAdd.StatusAktivitas.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktDischargeRtwAdd.StatusAktivitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.StatusAktivitas.FormatPattern)" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.StatusAktivitas.EditAttributes) aria-describedby="x_StatusAktivitas_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasFormInputNilaiAktDischargeRTW" data-field="x_StatusAktivitas" data-input="sv_x_StatusAktivitas" data-value-separator="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.StatusAktivitas.DisplayValueSeparatorAttribute)" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@(HtmlEncode(subAktivitasFormInputNilaiAktDischargeRtwAdd.StatusAktivitas.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.StatusAktivitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.StatusAktivitas.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasFormInputNilaiAktDischargeRTWadd"], function() {
    fSubAktivitasFormInputNilaiAktDischargeRTWadd.createAutoSuggest(Object.assign({"id":"x_StatusAktivitas","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasFormInputNilaiAktDischargeRtwAdd.StatusAktivitas.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasFormInputNilaiAktDischargeRTW.fields.StatusAktivitas.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.StatusAktivitas.Lookup.GetParamTag(subAktivitasFormInputNilaiAktDischargeRtwAdd, "p_x_StatusAktivitas"))
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktDischargeRtwAdd.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwAdd.LastUpdatedBy.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwAdd.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.LastUpdatedBy.Caption)@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_LastUpdatedBy">
<input type="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasFormInputNilaiAktDischargeRTW" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktDischargeRtwAdd.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktDischargeRtwAdd.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwAdd.lastUpdatedDate.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwAdd.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.lastUpdatedDate.Caption)@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_lastUpdatedDate">
<input type="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasFormInputNilaiAktDischargeRTW" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktDischargeRtwAdd.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputNilaiAktDischargeRtwAdd.lastUpdatedDate.ReadOnly && !subAktivitasFormInputNilaiAktDischargeRtwAdd.lastUpdatedDate.Disabled && !subAktivitasFormInputNilaiAktDischargeRtwAdd.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasFormInputNilaiAktDischargeRtwAdd.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputNilaiAktDischargeRTWadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputNilaiAktDischargeRTWadd", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktDischargeRtwAdd.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwAdd.Import.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwAdd.Import.Visible (begin)
    <div id="r_Import" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.Import.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_Import" class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.Import.Caption)@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.Import.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.Import.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_Import">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(subAktivitasFormInputNilaiAktDischargeRtwAdd.Import.IsInvalidClass)" data-table="SubAktivitasFormInputNilaiAktDischargeRTW" data-field="x_Import" data-boolean name="x_Import" id="x_Import" value="1" checked="@ConvertToBool(subAktivitasFormInputNilaiAktDischargeRtwAdd.Import.CurrentValue)" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.Import.EditAttributes) aria-describedby="x_Import_help">
    <div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.Import.GetErrorMessage())</div>
</div>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.Import.GetCustomMessage)
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktDischargeRtwAdd.Import.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwAdd.ApakahAdaROB.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwAdd.ApakahAdaROB.Visible (begin)
    <div id="r_ApakahAdaROB" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.ApakahAdaROB.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_ApakahAdaROB" class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.ApakahAdaROB.Caption)@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.ApakahAdaROB.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.ApakahAdaROB.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_ApakahAdaROB">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(subAktivitasFormInputNilaiAktDischargeRtwAdd.ApakahAdaROB.IsInvalidClass)" data-table="SubAktivitasFormInputNilaiAktDischargeRTW" data-field="x_ApakahAdaROB" data-boolean name="x_ApakahAdaROB" id="x_ApakahAdaROB" value="1" checked="@ConvertToBool(subAktivitasFormInputNilaiAktDischargeRtwAdd.ApakahAdaROB.CurrentValue)" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.ApakahAdaROB.EditAttributes) aria-describedby="x_ApakahAdaROB_help">
    <div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.ApakahAdaROB.GetErrorMessage())</div>
</div>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.ApakahAdaROB.GetCustomMessage)
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktDischargeRtwAdd.ApakahAdaROB.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwAdd.Tujuan.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwAdd.Tujuan.Visible (begin)
    <div id="r_Tujuan" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.Tujuan.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_Tujuan" for="x_Tujuan" class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.Tujuan.Caption)@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.Tujuan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.Tujuan.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_Tujuan">
    <select
        id="x_Tujuan"
        name="x_Tujuan"
        class="form-select ew-select@(subAktivitasFormInputNilaiAktDischargeRtwAdd.Tujuan.IsInvalidClass)"
        data-select2-id="fSubAktivitasFormInputNilaiAktDischargeRTWadd_x_Tujuan"
        data-table="SubAktivitasFormInputNilaiAktDischargeRTW"
        data-field="x_Tujuan"
        data-value-separator="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.Tujuan.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(subAktivitasFormInputNilaiAktDischargeRtwAdd.Tujuan.PlaceHolder))"
        @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.Tujuan.EditAttributes)>
        @(subAktivitasFormInputNilaiAktDischargeRtwAdd.Tujuan.SelectOptionListHtml("x_Tujuan"))
    </select>
    @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.Tujuan.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.Tujuan.GetErrorMessage())</div>
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.Tujuan.Lookup.GetParamTag(subAktivitasFormInputNilaiAktDischargeRtwAdd, "p_x_Tujuan"))
<script>
loadjs.ready("fSubAktivitasFormInputNilaiAktDischargeRTWadd", function() {
    var options = { name: "x_Tujuan", selectId: "fSubAktivitasFormInputNilaiAktDischargeRTWadd_x_Tujuan" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fSubAktivitasFormInputNilaiAktDischargeRTWadd.lists.Tujuan?.lookupOptions.length) {
        options.data = { id: "x_Tujuan", form: "fSubAktivitasFormInputNilaiAktDischargeRTWadd" };
    } else {
        options.ajax = { id: "x_Tujuan", form: "fSubAktivitasFormInputNilaiAktDischargeRTWadd", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumInputLength = ew.selectMinimumInputLength;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.SubAktivitasFormInputNilaiAktDischargeRTW.fields.Tujuan.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktDischargeRtwAdd.Tujuan.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_KLObs.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_KLObs.Visible (begin)
    <div id="r_SFAD_KLObs" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_KLObs.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_KLObs" for="x_SFAD_KLObs" class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_KLObs.Caption)@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_KLObs.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_KLObs.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_KLObs">
<input type="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_KLObs.InputTextType)" name="x_SFAD_KLObs" id="x_SFAD_KLObs" data-table="SubAktivitasFormInputNilaiAktDischargeRTW" data-field="x_SFAD_KLObs" value="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_KLObs.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_KLObs.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_KLObs.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_KLObs.EditAttributes) aria-describedby="x_SFAD_KLObs_help">
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_KLObs.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_KLObs.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_KLObs.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_KL15.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_KL15.Visible (begin)
    <div id="r_SFAD_KL15" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_KL15.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_KL15" for="x_SFAD_KL15" class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_KL15.Caption)@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_KL15.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_KL15.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_KL15">
<input type="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_KL15.InputTextType)" name="x_SFAD_KL15" id="x_SFAD_KL15" data-table="SubAktivitasFormInputNilaiAktDischargeRTW" data-field="x_SFAD_KL15" value="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_KL15.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_KL15.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_KL15.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_KL15.EditAttributes) aria-describedby="x_SFAD_KL15_help">
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_KL15.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_KL15.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_KL15.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_Barrels.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_Barrels.Visible (begin)
    <div id="r_SFAD_Barrels" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_Barrels.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_Barrels" for="x_SFAD_Barrels" class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_Barrels.Caption)@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_Barrels.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_Barrels.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_Barrels">
<input type="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_Barrels.InputTextType)" name="x_SFAD_Barrels" id="x_SFAD_Barrels" data-table="SubAktivitasFormInputNilaiAktDischargeRTW" data-field="x_SFAD_Barrels" value="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_Barrels.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_Barrels.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_Barrels.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_Barrels.EditAttributes) aria-describedby="x_SFAD_Barrels_help">
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_Barrels.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_Barrels.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_LT.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_LT.Visible (begin)
    <div id="r_SFAD_LT" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_LT.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_LT" for="x_SFAD_LT" class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_LT.Caption)@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_LT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_LT.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_LT">
<input type="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_LT.InputTextType)" name="x_SFAD_LT" id="x_SFAD_LT" data-table="SubAktivitasFormInputNilaiAktDischargeRTW" data-field="x_SFAD_LT" value="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_LT.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_LT.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_LT.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_LT.EditAttributes) aria-describedby="x_SFAD_LT_help">
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_LT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_LT.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_LT.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_MT.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_MT.Visible (begin)
    <div id="r_SFAD_MT" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_MT.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_MT" for="x_SFAD_MT" class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_MT.Caption)@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_MT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_MT.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_SFAD_MT">
<input type="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_MT.InputTextType)" name="x_SFAD_MT" id="x_SFAD_MT" data-table="SubAktivitasFormInputNilaiAktDischargeRTW" data-field="x_SFAD_MT" value="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_MT.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_MT.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_MT.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_MT.EditAttributes) aria-describedby="x_SFAD_MT_help">
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_MT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_MT.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktDischargeRtwAdd.SFAD_MT.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_KLObs.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_KLObs.Visible (begin)
    <div id="r_NewBL_KLObs" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_KLObs.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_KLObs" for="x_NewBL_KLObs" class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_KLObs.Caption)@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_KLObs.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_KLObs.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_KLObs">
<input type="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_KLObs.InputTextType)" name="x_NewBL_KLObs" id="x_NewBL_KLObs" data-table="SubAktivitasFormInputNilaiAktDischargeRTW" data-field="x_NewBL_KLObs" value="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_KLObs.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_KLObs.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_KLObs.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_KLObs.EditAttributes) aria-describedby="x_NewBL_KLObs_help">
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_KLObs.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_KLObs.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_KLObs.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_KL15.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_KL15.Visible (begin)
    <div id="r_NewBL_KL15" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_KL15.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_KL15" for="x_NewBL_KL15" class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_KL15.Caption)@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_KL15.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_KL15.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_KL15">
<input type="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_KL15.InputTextType)" name="x_NewBL_KL15" id="x_NewBL_KL15" data-table="SubAktivitasFormInputNilaiAktDischargeRTW" data-field="x_NewBL_KL15" value="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_KL15.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_KL15.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_KL15.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_KL15.EditAttributes) aria-describedby="x_NewBL_KL15_help">
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_KL15.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_KL15.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_KL15.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_Barrels.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_Barrels.Visible (begin)
    <div id="r_NewBL_Barrels" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_Barrels.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_Barrels" for="x_NewBL_Barrels" class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_Barrels.Caption)@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_Barrels.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_Barrels.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_Barrels">
<input type="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_Barrels.InputTextType)" name="x_NewBL_Barrels" id="x_NewBL_Barrels" data-table="SubAktivitasFormInputNilaiAktDischargeRTW" data-field="x_NewBL_Barrels" value="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_Barrels.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_Barrels.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_Barrels.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_Barrels.EditAttributes) aria-describedby="x_NewBL_Barrels_help">
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_Barrels.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_Barrels.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_LT.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_LT.Visible (begin)
    <div id="r_NewBL_LT" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_LT.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_LT" for="x_NewBL_LT" class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_LT.Caption)@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_LT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_LT.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_LT">
<input type="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_LT.InputTextType)" name="x_NewBL_LT" id="x_NewBL_LT" data-table="SubAktivitasFormInputNilaiAktDischargeRTW" data-field="x_NewBL_LT" value="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_LT.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_LT.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_LT.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_LT.EditAttributes) aria-describedby="x_NewBL_LT_help">
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_LT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_LT.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_LT.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_MT.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_MT.Visible (begin)
    <div id="r_NewBL_MT" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_MT.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_MT" for="x_NewBL_MT" class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_MT.Caption)@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_MT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_MT.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_NewBL_MT">
<input type="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_MT.InputTextType)" name="x_NewBL_MT" id="x_NewBL_MT" data-table="SubAktivitasFormInputNilaiAktDischargeRTW" data-field="x_NewBL_MT" value="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_MT.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_MT.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_MT.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_MT.EditAttributes) aria-describedby="x_NewBL_MT_help">
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_MT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_MT.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktDischargeRtwAdd.NewBL_MT.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwAdd.userInput.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwAdd.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.userInput.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_userInput" for="x_userInput" class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.userInput.Caption)@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_userInput">
<input type="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasFormInputNilaiAktDischargeRTW" data-field="x_userInput" value="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktDischargeRtwAdd.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.userInput.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktDischargeRtwAdd.userInput.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwAdd.etlDate.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwAdd.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_etlDate" for="x_etlDate" class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.etlDate.Caption)@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_etlDate">
<input type="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasFormInputNilaiAktDischargeRTW" data-field="x_etlDate" value="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktDischargeRtwAdd.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.etlDate.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.etlDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputNilaiAktDischargeRtwAdd.etlDate.ReadOnly && !subAktivitasFormInputNilaiAktDischargeRtwAdd.etlDate.Disabled && !subAktivitasFormInputNilaiAktDischargeRtwAdd.etlDate.EditAttrs.Is("readonly") && !subAktivitasFormInputNilaiAktDischargeRtwAdd.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputNilaiAktDischargeRTWadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputNilaiAktDischargeRTWadd", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktDischargeRtwAdd.etlDate.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_klobs.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_klobs.Visible (begin)
    <div id="r_AR45B_klobs" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_klobs.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_klobs" for="x_AR45B_klobs" class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_klobs.Caption)@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_klobs.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_klobs.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_klobs">
<input type="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_klobs.InputTextType)" name="x_AR45B_klobs" id="x_AR45B_klobs" data-table="SubAktivitasFormInputNilaiAktDischargeRTW" data-field="x_AR45B_klobs" value="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_klobs.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_klobs.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_klobs.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_klobs.EditAttributes) aria-describedby="x_AR45B_klobs_help">
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_klobs.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_klobs.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_klobs.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_kl15.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_kl15.Visible (begin)
    <div id="r_AR45B_kl15" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_kl15.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_kl15" for="x_AR45B_kl15" class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_kl15.Caption)@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_kl15.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_kl15.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_kl15">
<input type="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_kl15.InputTextType)" name="x_AR45B_kl15" id="x_AR45B_kl15" data-table="SubAktivitasFormInputNilaiAktDischargeRTW" data-field="x_AR45B_kl15" value="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_kl15.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_kl15.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_kl15.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_kl15.EditAttributes) aria-describedby="x_AR45B_kl15_help">
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_kl15.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_kl15.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_kl15.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_Barrel.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_Barrel.Visible (begin)
    <div id="r_AR45B_Barrel" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_Barrel.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_Barrel" for="x_AR45B_Barrel" class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_Barrel.Caption)@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_Barrel.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_Barrel.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_Barrel">
<input type="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_Barrel.InputTextType)" name="x_AR45B_Barrel" id="x_AR45B_Barrel" data-table="SubAktivitasFormInputNilaiAktDischargeRTW" data-field="x_AR45B_Barrel" value="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_Barrel.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_Barrel.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_Barrel.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_Barrel.EditAttributes) aria-describedby="x_AR45B_Barrel_help">
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_Barrel.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_Barrel.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_Barrel.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_lt.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_lt.Visible (begin)
    <div id="r_AR45B_lt" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_lt.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_lt" for="x_AR45B_lt" class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_lt.Caption)@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_lt.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_lt.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_lt">
<input type="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_lt.InputTextType)" name="x_AR45B_lt" id="x_AR45B_lt" data-table="SubAktivitasFormInputNilaiAktDischargeRTW" data-field="x_AR45B_lt" value="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_lt.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_lt.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_lt.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_lt.EditAttributes) aria-describedby="x_AR45B_lt_help">
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_lt.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_lt.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_lt.Visible (end) *@
@if (subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_mt.Visible) { // subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_mt.Visible (begin)
    <div id="r_AR45B_mt" @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_mt.RowAttributes)>
        <label id="elh_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_mt" for="x_AR45B_mt" class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_mt.Caption)@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_mt.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_mt.CellAttributes)>
<span id="el_SubAktivitasFormInputNilaiAktDischargeRTW_AR45B_mt">
<input type="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_mt.InputTextType)" name="x_AR45B_mt" id="x_AR45B_mt" data-table="SubAktivitasFormInputNilaiAktDischargeRTW" data-field="x_AR45B_mt" value="@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_mt.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_mt.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_mt.FormatPattern)"@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_mt.EditAttributes) aria-describedby="x_AR45B_mt_help">
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_mt.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_mt.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputNilaiAktDischargeRtwAdd.AR45B_mt.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasFormInputNilaiAktDischargeRtwAdd.CloseRecordset(); }
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasFormInputNilaiAktDischargeRtwAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasFormInputNilaiAktDischargeRTWadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasFormInputNilaiAktDischargeRTWadd" data-href="@AppPath(subAktivitasFormInputNilaiAktDischargeRtwAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasFormInputNilaiAktDischargeRtwAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@subAktivitasFormInputNilaiAktDischargeRtwAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputNilaiAktDischargeRTW");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
