@{
    // View
    View = this;

    // Check action result
    if (subAktivitasDataStartPenyaluranPipaList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasDataStartPenyaluranPipaList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasDataStartPenyaluranPipaList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataStartPenyaluranPipaList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataStartPenyaluranPipa: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasDataStartPenyaluranPipaList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasDataStartPenyaluranPipaList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasDataStartPenyaluranPipaList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasDataStartPenyaluranPipaList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasDataStartPenyaluranPipaList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasDataStartPenyaluranPipaList.TotalRecords > 0 && subAktivitasDataStartPenyaluranPipaList.ExportOptions.Visible) {
    subAktivitasDataStartPenyaluranPipaList.ExportOptions.Render("body");
}
@if (subAktivitasDataStartPenyaluranPipaList.ImportOptions.Visible) {
    subAktivitasDataStartPenyaluranPipaList.ImportOptions.Render("body");
}
@if (subAktivitasDataStartPenyaluranPipaList.SearchOptions.Visible) {
    subAktivitasDataStartPenyaluranPipaList.SearchOptions.Render("body");
}
@if (subAktivitasDataStartPenyaluranPipaList.FilterOptions.Visible) {
    subAktivitasDataStartPenyaluranPipaList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasDataStartPenyaluranPipaList.IsModal) {
<form name="fSubAktivitasDataStartPenyaluranPipasrch" id="fSubAktivitasDataStartPenyaluranPipasrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasDataStartPenyaluranPipasrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasDataStartPenyaluranPipaList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataStartPenyaluranPipaList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataStartPenyaluranPipa: currentTable } });
var currentForm;
var fSubAktivitasDataStartPenyaluranPipasrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasDataStartPenyaluranPipasrch")
        .setPageId("list")
@if (subAktivitasDataStartPenyaluranPipaList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasDataStartPenyaluranPipaList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasDataStartPenyaluranPipaList.IsExport() && Empty(subAktivitasDataStartPenyaluranPipaList.CurrentAction) && subAktivitasDataStartPenyaluranPipaList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasDataStartPenyaluranPipaList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasDataStartPenyaluranPipaList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasDataStartPenyaluranPipaList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasDataStartPenyaluranPipaList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasDataStartPenyaluranPipasrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStartPenyaluranPipaList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasDataStartPenyaluranPipasrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStartPenyaluranPipaList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasDataStartPenyaluranPipasrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStartPenyaluranPipaList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasDataStartPenyaluranPipasrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasDataStartPenyaluranPipaList.ShowPageHeader()
@subAktivitasDataStartPenyaluranPipaList.ShowMessages()
<main class="list @(subAktivitasDataStartPenyaluranPipaList.TotalRecords == 0 && !subAktivitasDataStartPenyaluranPipaList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasDataStartPenyaluranPipaList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasDataStartPenyaluranPipaList.TotalRecords > 0 || !Empty(subAktivitasDataStartPenyaluranPipaList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasDataStartPenyaluranPipaList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasDataStartPenyaluranPipaList.TableGridClass)">
<form name="@(subAktivitasDataStartPenyaluranPipaList.FormName)" id="@(subAktivitasDataStartPenyaluranPipaList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasDataStartPenyaluranPipaList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasDataStartPenyaluranPipaList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasDataStartPenyaluranPipa" class="card-body ew-grid-middle-panel @(subAktivitasDataStartPenyaluranPipaList.TableContainerClass)" style="@(subAktivitasDataStartPenyaluranPipaList.TableContainerStyle)">
@if (subAktivitasDataStartPenyaluranPipaList.TotalRecords > 0 || subAktivitasDataStartPenyaluranPipaList.IsGridEdit || subAktivitasDataStartPenyaluranPipaList.IsMultiEdit) {
<table id="tbl_SubAktivitasDataStartPenyaluranPipalist" class="@(subAktivitasDataStartPenyaluranPipaList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasDataStartPenyaluranPipaList.RowType = RowType.Header;

    // Render list options
    await subAktivitasDataStartPenyaluranPipaList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasDataStartPenyaluranPipaList.ListOptions.RenderHeader("left")
@if (subAktivitasDataStartPenyaluranPipaList.id.Visible) { // subAktivitasDataStartPenyaluranPipaList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasDataStartPenyaluranPipaList.id.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranPipa_id" class="SubAktivitasDataStartPenyaluranPipa_id">@Html.Raw(subAktivitasDataStartPenyaluranPipaList.RenderFieldHeader(subAktivitasDataStartPenyaluranPipaList.id))</div></th>
} @* subAktivitasDataStartPenyaluranPipaList.id.Visible (end) *@
@if (subAktivitasDataStartPenyaluranPipaList.NoReferensi.Visible) { // subAktivitasDataStartPenyaluranPipaList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasDataStartPenyaluranPipaList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranPipa_NoReferensi" class="SubAktivitasDataStartPenyaluranPipa_NoReferensi">@Html.Raw(subAktivitasDataStartPenyaluranPipaList.RenderFieldHeader(subAktivitasDataStartPenyaluranPipaList.NoReferensi))</div></th>
} @* subAktivitasDataStartPenyaluranPipaList.NoReferensi.Visible (end) *@
@if (subAktivitasDataStartPenyaluranPipaList.idProses.Visible) { // subAktivitasDataStartPenyaluranPipaList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasDataStartPenyaluranPipaList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranPipa_idProses" class="SubAktivitasDataStartPenyaluranPipa_idProses">@Html.Raw(subAktivitasDataStartPenyaluranPipaList.RenderFieldHeader(subAktivitasDataStartPenyaluranPipaList.idProses))</div></th>
} @* subAktivitasDataStartPenyaluranPipaList.idProses.Visible (end) *@
@if (subAktivitasDataStartPenyaluranPipaList.idAktifitas.Visible) { // subAktivitasDataStartPenyaluranPipaList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasDataStartPenyaluranPipaList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranPipa_idAktifitas" class="SubAktivitasDataStartPenyaluranPipa_idAktifitas">@Html.Raw(subAktivitasDataStartPenyaluranPipaList.RenderFieldHeader(subAktivitasDataStartPenyaluranPipaList.idAktifitas))</div></th>
} @* subAktivitasDataStartPenyaluranPipaList.idAktifitas.Visible (end) *@
@if (subAktivitasDataStartPenyaluranPipaList.StatusAktivitas.Visible) { // subAktivitasDataStartPenyaluranPipaList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasDataStartPenyaluranPipaList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranPipa_StatusAktivitas" class="SubAktivitasDataStartPenyaluranPipa_StatusAktivitas">@Html.Raw(subAktivitasDataStartPenyaluranPipaList.RenderFieldHeader(subAktivitasDataStartPenyaluranPipaList.StatusAktivitas))</div></th>
} @* subAktivitasDataStartPenyaluranPipaList.StatusAktivitas.Visible (end) *@
@if (subAktivitasDataStartPenyaluranPipaList.LastUpdatedBy.Visible) { // subAktivitasDataStartPenyaluranPipaList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasDataStartPenyaluranPipaList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranPipa_LastUpdatedBy" class="SubAktivitasDataStartPenyaluranPipa_LastUpdatedBy">@Html.Raw(subAktivitasDataStartPenyaluranPipaList.RenderFieldHeader(subAktivitasDataStartPenyaluranPipaList.LastUpdatedBy))</div></th>
} @* subAktivitasDataStartPenyaluranPipaList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasDataStartPenyaluranPipaList.lastUpdatedDate.Visible) { // subAktivitasDataStartPenyaluranPipaList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasDataStartPenyaluranPipaList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranPipa_lastUpdatedDate" class="SubAktivitasDataStartPenyaluranPipa_lastUpdatedDate">@Html.Raw(subAktivitasDataStartPenyaluranPipaList.RenderFieldHeader(subAktivitasDataStartPenyaluranPipaList.lastUpdatedDate))</div></th>
} @* subAktivitasDataStartPenyaluranPipaList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasDataStartPenyaluranPipaList.Tanggal.Visible) { // subAktivitasDataStartPenyaluranPipaList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasDataStartPenyaluranPipaList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranPipa_Tanggal" class="SubAktivitasDataStartPenyaluranPipa_Tanggal">@Html.Raw(subAktivitasDataStartPenyaluranPipaList.RenderFieldHeader(subAktivitasDataStartPenyaluranPipaList.Tanggal))</div></th>
} @* subAktivitasDataStartPenyaluranPipaList.Tanggal.Visible (end) *@
@if (subAktivitasDataStartPenyaluranPipaList.userInput.Visible) { // subAktivitasDataStartPenyaluranPipaList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasDataStartPenyaluranPipaList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranPipa_userInput" class="SubAktivitasDataStartPenyaluranPipa_userInput">@Html.Raw(subAktivitasDataStartPenyaluranPipaList.RenderFieldHeader(subAktivitasDataStartPenyaluranPipaList.userInput))</div></th>
} @* subAktivitasDataStartPenyaluranPipaList.userInput.Visible (end) *@
@if (subAktivitasDataStartPenyaluranPipaList.etlDate.Visible) { // subAktivitasDataStartPenyaluranPipaList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasDataStartPenyaluranPipaList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranPipa_etlDate" class="SubAktivitasDataStartPenyaluranPipa_etlDate">@Html.Raw(subAktivitasDataStartPenyaluranPipaList.RenderFieldHeader(subAktivitasDataStartPenyaluranPipaList.etlDate))</div></th>
} @* subAktivitasDataStartPenyaluranPipaList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasDataStartPenyaluranPipaList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasDataStartPenyaluranPipaList.PageNumber)">
@{
    await subAktivitasDataStartPenyaluranPipaList.SetupGrid();
    bool eof = subAktivitasDataStartPenyaluranPipaList.Recordset == null; // DN
}
@while (subAktivitasDataStartPenyaluranPipaList.RecordCount < subAktivitasDataStartPenyaluranPipaList.StopRecord || SameString(subAktivitasDataStartPenyaluranPipaList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasDataStartPenyaluranPipaList.RowIndex, "$rowindex$") &&
        (!subAktivitasDataStartPenyaluranPipaList.IsGridAdd || subAktivitasDataStartPenyaluranPipaList.CurrentMode == "copy") &&
        (!((subAktivitasDataStartPenyaluranPipaList.IsCopy || subAktivitasDataStartPenyaluranPipaList.IsAdd) && subAktivitasDataStartPenyaluranPipaList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasDataStartPenyaluranPipaList.Recordset.ReadAsync();
    subAktivitasDataStartPenyaluranPipaList.RecordCount++;
    if (subAktivitasDataStartPenyaluranPipaList.RecordCount >= subAktivitasDataStartPenyaluranPipaList.StartRecord) {
        await subAktivitasDataStartPenyaluranPipaList.SetupRow();
    <tr @Html.Raw(subAktivitasDataStartPenyaluranPipaList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasDataStartPenyaluranPipaList.ListOptions.RenderBody("left", subAktivitasDataStartPenyaluranPipaList.RowCount)
    @if (subAktivitasDataStartPenyaluranPipaList.id.Visible) { // subAktivitasDataStartPenyaluranPipaList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasDataStartPenyaluranPipaList.id.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranPipaList.RowCount)_SubAktivitasDataStartPenyaluranPipa_id" class="el_SubAktivitasDataStartPenyaluranPipa_id">
<span @Html.Raw(subAktivitasDataStartPenyaluranPipaList.id.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranPipaList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranPipaList.id.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranPipaList.NoReferensi.Visible) { // subAktivitasDataStartPenyaluranPipaList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasDataStartPenyaluranPipaList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranPipaList.RowCount)_SubAktivitasDataStartPenyaluranPipa_NoReferensi" class="el_SubAktivitasDataStartPenyaluranPipa_NoReferensi">
<span @Html.Raw(subAktivitasDataStartPenyaluranPipaList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranPipaList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranPipaList.NoReferensi.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranPipaList.idProses.Visible) { // subAktivitasDataStartPenyaluranPipaList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasDataStartPenyaluranPipaList.idProses.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranPipaList.RowCount)_SubAktivitasDataStartPenyaluranPipa_idProses" class="el_SubAktivitasDataStartPenyaluranPipa_idProses">
<span @Html.Raw(subAktivitasDataStartPenyaluranPipaList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranPipaList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranPipaList.idProses.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranPipaList.idAktifitas.Visible) { // subAktivitasDataStartPenyaluranPipaList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasDataStartPenyaluranPipaList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranPipaList.RowCount)_SubAktivitasDataStartPenyaluranPipa_idAktifitas" class="el_SubAktivitasDataStartPenyaluranPipa_idAktifitas">
<span @Html.Raw(subAktivitasDataStartPenyaluranPipaList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranPipaList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranPipaList.idAktifitas.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranPipaList.StatusAktivitas.Visible) { // subAktivitasDataStartPenyaluranPipaList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasDataStartPenyaluranPipaList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranPipaList.RowCount)_SubAktivitasDataStartPenyaluranPipa_StatusAktivitas" class="el_SubAktivitasDataStartPenyaluranPipa_StatusAktivitas">
<span @Html.Raw(subAktivitasDataStartPenyaluranPipaList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranPipaList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranPipaList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranPipaList.LastUpdatedBy.Visible) { // subAktivitasDataStartPenyaluranPipaList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasDataStartPenyaluranPipaList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranPipaList.RowCount)_SubAktivitasDataStartPenyaluranPipa_LastUpdatedBy" class="el_SubAktivitasDataStartPenyaluranPipa_LastUpdatedBy">
<span @Html.Raw(subAktivitasDataStartPenyaluranPipaList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranPipaList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranPipaList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranPipaList.lastUpdatedDate.Visible) { // subAktivitasDataStartPenyaluranPipaList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasDataStartPenyaluranPipaList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranPipaList.RowCount)_SubAktivitasDataStartPenyaluranPipa_lastUpdatedDate" class="el_SubAktivitasDataStartPenyaluranPipa_lastUpdatedDate">
<span @Html.Raw(subAktivitasDataStartPenyaluranPipaList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranPipaList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranPipaList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranPipaList.Tanggal.Visible) { // subAktivitasDataStartPenyaluranPipaList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasDataStartPenyaluranPipaList.Tanggal.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranPipaList.RowCount)_SubAktivitasDataStartPenyaluranPipa_Tanggal" class="el_SubAktivitasDataStartPenyaluranPipa_Tanggal">
<span @Html.Raw(subAktivitasDataStartPenyaluranPipaList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranPipaList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranPipaList.Tanggal.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranPipaList.userInput.Visible) { // subAktivitasDataStartPenyaluranPipaList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasDataStartPenyaluranPipaList.userInput.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranPipaList.RowCount)_SubAktivitasDataStartPenyaluranPipa_userInput" class="el_SubAktivitasDataStartPenyaluranPipa_userInput">
<span @Html.Raw(subAktivitasDataStartPenyaluranPipaList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranPipaList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranPipaList.userInput.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranPipaList.etlDate.Visible) { // subAktivitasDataStartPenyaluranPipaList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasDataStartPenyaluranPipaList.etlDate.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranPipaList.RowCount)_SubAktivitasDataStartPenyaluranPipa_etlDate" class="el_SubAktivitasDataStartPenyaluranPipa_etlDate">
<span @Html.Raw(subAktivitasDataStartPenyaluranPipaList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranPipaList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranPipaList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasDataStartPenyaluranPipaList.ListOptions.RenderBody("right", subAktivitasDataStartPenyaluranPipaList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasDataStartPenyaluranPipaList.RowIndex, "$rowindex$"))
        subAktivitasDataStartPenyaluranPipaList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasDataStartPenyaluranPipaList.IsCopy || subAktivitasDataStartPenyaluranPipaList.IsAdd) && subAktivitasDataStartPenyaluranPipaList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasDataStartPenyaluranPipaList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasDataStartPenyaluranPipaList.CurrentAction) && !subAktivitasDataStartPenyaluranPipaList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasDataStartPenyaluranPipaList.CloseRecordset(); }
@if (!subAktivitasDataStartPenyaluranPipaList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasDataStartPenyaluranPipaList.IsGridAdd && !(subAktivitasDataStartPenyaluranPipaList.IsGridEdit && subAktivitasDataStartPenyaluranPipaList.ModalGridEdit) && !subAktivitasDataStartPenyaluranPipaList.IsMultiEdit) {
@Html.Raw(subAktivitasDataStartPenyaluranPipaList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasDataStartPenyaluranPipaList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasDataStartPenyaluranPipaList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasDataStartPenyaluranPipaList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasDataStartPenyaluranPipaList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasDataStartPenyaluranPipaList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasDataStartPenyaluranPipa");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
