@{
    // View
    View = this;

    // Check action result
    if (subAktivitasDataMobilTangkiMtGateInList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasDataMobilTangkiMtGateInList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasDataMobilTangkiMtGateInList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataMobilTangkiMtGateInList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataMobilTangkiMTGateIn: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasDataMobilTangkiMtGateInList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasDataMobilTangkiMtGateInList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasDataMobilTangkiMtGateInList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasDataMobilTangkiMtGateInList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasDataMobilTangkiMtGateInList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasDataMobilTangkiMtGateInList.TotalRecords > 0 && subAktivitasDataMobilTangkiMtGateInList.ExportOptions.Visible) {
    subAktivitasDataMobilTangkiMtGateInList.ExportOptions.Render("body");
}
@if (subAktivitasDataMobilTangkiMtGateInList.ImportOptions.Visible) {
    subAktivitasDataMobilTangkiMtGateInList.ImportOptions.Render("body");
}
@if (subAktivitasDataMobilTangkiMtGateInList.SearchOptions.Visible) {
    subAktivitasDataMobilTangkiMtGateInList.SearchOptions.Render("body");
}
@if (subAktivitasDataMobilTangkiMtGateInList.FilterOptions.Visible) {
    subAktivitasDataMobilTangkiMtGateInList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasDataMobilTangkiMtGateInList.IsModal) {
<form name="fSubAktivitasDataMobilTangkiMTGateInsrch" id="fSubAktivitasDataMobilTangkiMTGateInsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasDataMobilTangkiMTGateInsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasDataMobilTangkiMtGateInList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataMobilTangkiMtGateInList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataMobilTangkiMTGateIn: currentTable } });
var currentForm;
var fSubAktivitasDataMobilTangkiMTGateInsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasDataMobilTangkiMTGateInsrch")
        .setPageId("list")
@if (subAktivitasDataMobilTangkiMtGateInList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasDataMobilTangkiMtGateInList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasDataMobilTangkiMtGateInList.IsExport() && Empty(subAktivitasDataMobilTangkiMtGateInList.CurrentAction) && subAktivitasDataMobilTangkiMtGateInList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasDataMobilTangkiMtGateInList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasDataMobilTangkiMtGateInList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasDataMobilTangkiMtGateInList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasDataMobilTangkiMtGateInList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasDataMobilTangkiMTGateInsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataMobilTangkiMtGateInList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasDataMobilTangkiMTGateInsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataMobilTangkiMtGateInList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasDataMobilTangkiMTGateInsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataMobilTangkiMtGateInList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasDataMobilTangkiMTGateInsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasDataMobilTangkiMtGateInList.ShowPageHeader()
@subAktivitasDataMobilTangkiMtGateInList.ShowMessages()
<main class="list @(subAktivitasDataMobilTangkiMtGateInList.TotalRecords == 0 && !subAktivitasDataMobilTangkiMtGateInList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasDataMobilTangkiMtGateInList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasDataMobilTangkiMtGateInList.TotalRecords > 0 || !Empty(subAktivitasDataMobilTangkiMtGateInList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasDataMobilTangkiMtGateInList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasDataMobilTangkiMtGateInList.TableGridClass)">
<form name="@(subAktivitasDataMobilTangkiMtGateInList.FormName)" id="@(subAktivitasDataMobilTangkiMtGateInList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasDataMobilTangkiMtGateInList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasDataMobilTangkiMtGateInList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasDataMobilTangkiMTGateIn" class="card-body ew-grid-middle-panel @(subAktivitasDataMobilTangkiMtGateInList.TableContainerClass)" style="@(subAktivitasDataMobilTangkiMtGateInList.TableContainerStyle)">
@if (subAktivitasDataMobilTangkiMtGateInList.TotalRecords > 0 || subAktivitasDataMobilTangkiMtGateInList.IsGridEdit || subAktivitasDataMobilTangkiMtGateInList.IsMultiEdit) {
<table id="tbl_SubAktivitasDataMobilTangkiMTGateInlist" class="@(subAktivitasDataMobilTangkiMtGateInList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasDataMobilTangkiMtGateInList.RowType = RowType.Header;

    // Render list options
    await subAktivitasDataMobilTangkiMtGateInList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasDataMobilTangkiMtGateInList.ListOptions.RenderHeader("left")
@if (subAktivitasDataMobilTangkiMtGateInList.NoReferensi.Visible) { // subAktivitasDataMobilTangkiMtGateInList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasDataMobilTangkiMtGateInList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateIn_NoReferensi" class="SubAktivitasDataMobilTangkiMTGateIn_NoReferensi">@Html.Raw(subAktivitasDataMobilTangkiMtGateInList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateInList.NoReferensi))</div></th>
} @* subAktivitasDataMobilTangkiMtGateInList.NoReferensi.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateInList.idProses.Visible) { // subAktivitasDataMobilTangkiMtGateInList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasDataMobilTangkiMtGateInList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateIn_idProses" class="SubAktivitasDataMobilTangkiMTGateIn_idProses">@Html.Raw(subAktivitasDataMobilTangkiMtGateInList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateInList.idProses))</div></th>
} @* subAktivitasDataMobilTangkiMtGateInList.idProses.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateInList.idAktifitas.Visible) { // subAktivitasDataMobilTangkiMtGateInList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasDataMobilTangkiMtGateInList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateIn_idAktifitas" class="SubAktivitasDataMobilTangkiMTGateIn_idAktifitas">@Html.Raw(subAktivitasDataMobilTangkiMtGateInList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateInList.idAktifitas))</div></th>
} @* subAktivitasDataMobilTangkiMtGateInList.idAktifitas.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateInList.StatusAktivitas.Visible) { // subAktivitasDataMobilTangkiMtGateInList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasDataMobilTangkiMtGateInList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateIn_StatusAktivitas" class="SubAktivitasDataMobilTangkiMTGateIn_StatusAktivitas">@Html.Raw(subAktivitasDataMobilTangkiMtGateInList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateInList.StatusAktivitas))</div></th>
} @* subAktivitasDataMobilTangkiMtGateInList.StatusAktivitas.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateInList.LastUpdatedBy.Visible) { // subAktivitasDataMobilTangkiMtGateInList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasDataMobilTangkiMtGateInList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateIn_LastUpdatedBy" class="SubAktivitasDataMobilTangkiMTGateIn_LastUpdatedBy">@Html.Raw(subAktivitasDataMobilTangkiMtGateInList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateInList.LastUpdatedBy))</div></th>
} @* subAktivitasDataMobilTangkiMtGateInList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateInList.lastUpdatedDate.Visible) { // subAktivitasDataMobilTangkiMtGateInList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasDataMobilTangkiMtGateInList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateIn_lastUpdatedDate" class="SubAktivitasDataMobilTangkiMTGateIn_lastUpdatedDate">@Html.Raw(subAktivitasDataMobilTangkiMtGateInList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateInList.lastUpdatedDate))</div></th>
} @* subAktivitasDataMobilTangkiMtGateInList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateInList.NomorPolisi.Visible) { // subAktivitasDataMobilTangkiMtGateInList.NomorPolisi.Visible (begin)
        <th data-name="NomorPolisi" class="@(subAktivitasDataMobilTangkiMtGateInList.NomorPolisi.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateIn_NomorPolisi" class="SubAktivitasDataMobilTangkiMTGateIn_NomorPolisi">@Html.Raw(subAktivitasDataMobilTangkiMtGateInList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateInList.NomorPolisi))</div></th>
} @* subAktivitasDataMobilTangkiMtGateInList.NomorPolisi.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateInList.AMT.Visible) { // subAktivitasDataMobilTangkiMtGateInList.AMT.Visible (begin)
        <th data-name="AMT" class="@(subAktivitasDataMobilTangkiMtGateInList.AMT.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateIn_AMT" class="SubAktivitasDataMobilTangkiMTGateIn_AMT">@Html.Raw(subAktivitasDataMobilTangkiMtGateInList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateInList.AMT))</div></th>
} @* subAktivitasDataMobilTangkiMtGateInList.AMT.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateInList.WaktuGateIn.Visible) { // subAktivitasDataMobilTangkiMtGateInList.WaktuGateIn.Visible (begin)
        <th data-name="WaktuGateIn" class="@(subAktivitasDataMobilTangkiMtGateInList.WaktuGateIn.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateIn_WaktuGateIn" class="SubAktivitasDataMobilTangkiMTGateIn_WaktuGateIn">@Html.Raw(subAktivitasDataMobilTangkiMtGateInList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateInList.WaktuGateIn))</div></th>
} @* subAktivitasDataMobilTangkiMtGateInList.WaktuGateIn.Visible (end) *@
@if (subAktivitasDataMobilTangkiMtGateInList.userInput.Visible) { // subAktivitasDataMobilTangkiMtGateInList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasDataMobilTangkiMtGateInList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasDataMobilTangkiMTGateIn_userInput" class="SubAktivitasDataMobilTangkiMTGateIn_userInput">@Html.Raw(subAktivitasDataMobilTangkiMtGateInList.RenderFieldHeader(subAktivitasDataMobilTangkiMtGateInList.userInput))</div></th>
} @* subAktivitasDataMobilTangkiMtGateInList.userInput.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasDataMobilTangkiMtGateInList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasDataMobilTangkiMtGateInList.PageNumber)">
@{
    await subAktivitasDataMobilTangkiMtGateInList.SetupGrid();
    bool eof = subAktivitasDataMobilTangkiMtGateInList.Recordset == null; // DN
}
@while (subAktivitasDataMobilTangkiMtGateInList.RecordCount < subAktivitasDataMobilTangkiMtGateInList.StopRecord || SameString(subAktivitasDataMobilTangkiMtGateInList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasDataMobilTangkiMtGateInList.RowIndex, "$rowindex$") &&
        (!subAktivitasDataMobilTangkiMtGateInList.IsGridAdd || subAktivitasDataMobilTangkiMtGateInList.CurrentMode == "copy") &&
        (!((subAktivitasDataMobilTangkiMtGateInList.IsCopy || subAktivitasDataMobilTangkiMtGateInList.IsAdd) && subAktivitasDataMobilTangkiMtGateInList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasDataMobilTangkiMtGateInList.Recordset.ReadAsync();
    subAktivitasDataMobilTangkiMtGateInList.RecordCount++;
    if (subAktivitasDataMobilTangkiMtGateInList.RecordCount >= subAktivitasDataMobilTangkiMtGateInList.StartRecord) {
        await subAktivitasDataMobilTangkiMtGateInList.SetupRow();
    <tr @Html.Raw(subAktivitasDataMobilTangkiMtGateInList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasDataMobilTangkiMtGateInList.ListOptions.RenderBody("left", subAktivitasDataMobilTangkiMtGateInList.RowCount)
    @if (subAktivitasDataMobilTangkiMtGateInList.NoReferensi.Visible) { // subAktivitasDataMobilTangkiMtGateInList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasDataMobilTangkiMtGateInList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasDataMobilTangkiMtGateInList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateInList.RowCount)_SubAktivitasDataMobilTangkiMTGateIn_NoReferensi" class="el_SubAktivitasDataMobilTangkiMTGateIn_NoReferensi">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateInList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateInList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateInList.NoReferensi.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateInList.idProses.Visible) { // subAktivitasDataMobilTangkiMtGateInList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasDataMobilTangkiMtGateInList.idProses.CellAttributes)>
<span id="el@(subAktivitasDataMobilTangkiMtGateInList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateInList.RowCount)_SubAktivitasDataMobilTangkiMTGateIn_idProses" class="el_SubAktivitasDataMobilTangkiMTGateIn_idProses">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateInList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateInList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateInList.idProses.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateInList.idAktifitas.Visible) { // subAktivitasDataMobilTangkiMtGateInList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasDataMobilTangkiMtGateInList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasDataMobilTangkiMtGateInList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateInList.RowCount)_SubAktivitasDataMobilTangkiMTGateIn_idAktifitas" class="el_SubAktivitasDataMobilTangkiMTGateIn_idAktifitas">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateInList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateInList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateInList.idAktifitas.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateInList.StatusAktivitas.Visible) { // subAktivitasDataMobilTangkiMtGateInList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasDataMobilTangkiMtGateInList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasDataMobilTangkiMtGateInList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateInList.RowCount)_SubAktivitasDataMobilTangkiMTGateIn_StatusAktivitas" class="el_SubAktivitasDataMobilTangkiMTGateIn_StatusAktivitas">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateInList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateInList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateInList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateInList.LastUpdatedBy.Visible) { // subAktivitasDataMobilTangkiMtGateInList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasDataMobilTangkiMtGateInList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasDataMobilTangkiMtGateInList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateInList.RowCount)_SubAktivitasDataMobilTangkiMTGateIn_LastUpdatedBy" class="el_SubAktivitasDataMobilTangkiMTGateIn_LastUpdatedBy">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateInList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateInList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateInList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateInList.lastUpdatedDate.Visible) { // subAktivitasDataMobilTangkiMtGateInList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasDataMobilTangkiMtGateInList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasDataMobilTangkiMtGateInList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateInList.RowCount)_SubAktivitasDataMobilTangkiMTGateIn_lastUpdatedDate" class="el_SubAktivitasDataMobilTangkiMTGateIn_lastUpdatedDate">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateInList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateInList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateInList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateInList.NomorPolisi.Visible) { // subAktivitasDataMobilTangkiMtGateInList.NomorPolisi.Visible (begin)
        <td data-name="NomorPolisi" @Html.Raw(subAktivitasDataMobilTangkiMtGateInList.NomorPolisi.CellAttributes)>
<span id="el@(subAktivitasDataMobilTangkiMtGateInList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateInList.RowCount)_SubAktivitasDataMobilTangkiMTGateIn_NomorPolisi" class="el_SubAktivitasDataMobilTangkiMTGateIn_NomorPolisi">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateInList.NomorPolisi.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateInList.NomorPolisi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateInList.NomorPolisi.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateInList.AMT.Visible) { // subAktivitasDataMobilTangkiMtGateInList.AMT.Visible (begin)
        <td data-name="AMT" @Html.Raw(subAktivitasDataMobilTangkiMtGateInList.AMT.CellAttributes)>
<span id="el@(subAktivitasDataMobilTangkiMtGateInList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateInList.RowCount)_SubAktivitasDataMobilTangkiMTGateIn_AMT" class="el_SubAktivitasDataMobilTangkiMTGateIn_AMT">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateInList.AMT.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateInList.AMT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateInList.AMT.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateInList.WaktuGateIn.Visible) { // subAktivitasDataMobilTangkiMtGateInList.WaktuGateIn.Visible (begin)
        <td data-name="WaktuGateIn" @Html.Raw(subAktivitasDataMobilTangkiMtGateInList.WaktuGateIn.CellAttributes)>
<span id="el@(subAktivitasDataMobilTangkiMtGateInList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateInList.RowCount)_SubAktivitasDataMobilTangkiMTGateIn_WaktuGateIn" class="el_SubAktivitasDataMobilTangkiMTGateIn_WaktuGateIn">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateInList.WaktuGateIn.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateInList.WaktuGateIn.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateInList.WaktuGateIn.Visible (end) *@
    @if (subAktivitasDataMobilTangkiMtGateInList.userInput.Visible) { // subAktivitasDataMobilTangkiMtGateInList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasDataMobilTangkiMtGateInList.userInput.CellAttributes)>
<span id="el@(subAktivitasDataMobilTangkiMtGateInList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataMobilTangkiMtGateInList.RowCount)_SubAktivitasDataMobilTangkiMTGateIn_userInput" class="el_SubAktivitasDataMobilTangkiMTGateIn_userInput">
<span @Html.Raw(subAktivitasDataMobilTangkiMtGateInList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasDataMobilTangkiMtGateInList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataMobilTangkiMtGateInList.userInput.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasDataMobilTangkiMtGateInList.ListOptions.RenderBody("right", subAktivitasDataMobilTangkiMtGateInList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasDataMobilTangkiMtGateInList.RowIndex, "$rowindex$"))
        subAktivitasDataMobilTangkiMtGateInList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasDataMobilTangkiMtGateInList.IsCopy || subAktivitasDataMobilTangkiMtGateInList.IsAdd) && subAktivitasDataMobilTangkiMtGateInList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasDataMobilTangkiMtGateInList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasDataMobilTangkiMtGateInList.CurrentAction) && !subAktivitasDataMobilTangkiMtGateInList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasDataMobilTangkiMtGateInList.CloseRecordset(); }
@if (!subAktivitasDataMobilTangkiMtGateInList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasDataMobilTangkiMtGateInList.IsGridAdd && !(subAktivitasDataMobilTangkiMtGateInList.IsGridEdit && subAktivitasDataMobilTangkiMtGateInList.ModalGridEdit) && !subAktivitasDataMobilTangkiMtGateInList.IsMultiEdit) {
@Html.Raw(subAktivitasDataMobilTangkiMtGateInList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasDataMobilTangkiMtGateInList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasDataMobilTangkiMtGateInList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasDataMobilTangkiMtGateInList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasDataMobilTangkiMtGateInList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasDataMobilTangkiMtGateInList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasDataMobilTangkiMTGateIn");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
