@{
    // View
    View = this;

    // Check action result
    if (subAktivitasHasilPemeriksaanPenyaluranLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasHasilPemeriksaanPenyaluranLpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasHasilPemeriksaanPenyaluranLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasHasilPemeriksaanPenyaluranLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasHasilPemeriksaanPenyaluranLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasHasilPemeriksaanPenyaluranLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasHasilPemeriksaanPenyaluranLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasHasilPemeriksaanPenyaluranLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasHasilPemeriksaanPenyaluranLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasHasilPemeriksaanPenyaluranLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasHasilPemeriksaanPenyaluranLpgList.TotalRecords > 0 && subAktivitasHasilPemeriksaanPenyaluranLpgList.ExportOptions.Visible) {
    subAktivitasHasilPemeriksaanPenyaluranLpgList.ExportOptions.Render("body");
}
@if (subAktivitasHasilPemeriksaanPenyaluranLpgList.ImportOptions.Visible) {
    subAktivitasHasilPemeriksaanPenyaluranLpgList.ImportOptions.Render("body");
}
@if (subAktivitasHasilPemeriksaanPenyaluranLpgList.SearchOptions.Visible) {
    subAktivitasHasilPemeriksaanPenyaluranLpgList.SearchOptions.Render("body");
}
@if (subAktivitasHasilPemeriksaanPenyaluranLpgList.FilterOptions.Visible) {
    subAktivitasHasilPemeriksaanPenyaluranLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasHasilPemeriksaanPenyaluranLpgList.IsModal) {
<form name="fSubAktivitasHasilPemeriksaanPenyaluranLPGsrch" id="fSubAktivitasHasilPemeriksaanPenyaluranLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasHasilPemeriksaanPenyaluranLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasHasilPemeriksaanPenyaluranLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasHasilPemeriksaanPenyaluranLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasHasilPemeriksaanPenyaluranLPG: currentTable } });
var currentForm;
var fSubAktivitasHasilPemeriksaanPenyaluranLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasHasilPemeriksaanPenyaluranLPGsrch")
        .setPageId("list")
@if (subAktivitasHasilPemeriksaanPenyaluranLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasHasilPemeriksaanPenyaluranLpgList.IsExport() && Empty(subAktivitasHasilPemeriksaanPenyaluranLpgList.CurrentAction) && subAktivitasHasilPemeriksaanPenyaluranLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasHasilPemeriksaanPenyaluranLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasHasilPemeriksaanPenyaluranLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasHasilPemeriksaanPenyaluranLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasHasilPemeriksaanPenyaluranLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasHasilPemeriksaanPenyaluranLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasHasilPemeriksaanPenyaluranLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasHasilPemeriksaanPenyaluranLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasHasilPemeriksaanPenyaluranLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasHasilPemeriksaanPenyaluranLpgList.ShowPageHeader()
@subAktivitasHasilPemeriksaanPenyaluranLpgList.ShowMessages()
<main class="list @(subAktivitasHasilPemeriksaanPenyaluranLpgList.TotalRecords == 0 && !subAktivitasHasilPemeriksaanPenyaluranLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasHasilPemeriksaanPenyaluranLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasHasilPemeriksaanPenyaluranLpgList.TotalRecords > 0 || !Empty(subAktivitasHasilPemeriksaanPenyaluranLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasHasilPemeriksaanPenyaluranLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasHasilPemeriksaanPenyaluranLpgList.TableGridClass)">
<form name="@(subAktivitasHasilPemeriksaanPenyaluranLpgList.FormName)" id="@(subAktivitasHasilPemeriksaanPenyaluranLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasHasilPemeriksaanPenyaluranLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasHasilPemeriksaanPenyaluranLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasHasilPemeriksaanPenyaluranLPG" class="card-body ew-grid-middle-panel @(subAktivitasHasilPemeriksaanPenyaluranLpgList.TableContainerClass)" style="@(subAktivitasHasilPemeriksaanPenyaluranLpgList.TableContainerStyle)">
@if (subAktivitasHasilPemeriksaanPenyaluranLpgList.TotalRecords > 0 || subAktivitasHasilPemeriksaanPenyaluranLpgList.IsGridEdit || subAktivitasHasilPemeriksaanPenyaluranLpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasHasilPemeriksaanPenyaluranLPGlist" class="@(subAktivitasHasilPemeriksaanPenyaluranLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasHasilPemeriksaanPenyaluranLpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasHasilPemeriksaanPenyaluranLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasHasilPemeriksaanPenyaluranLpgList.ListOptions.RenderHeader("left")
@if (subAktivitasHasilPemeriksaanPenyaluranLpgList.id.Visible) { // subAktivitasHasilPemeriksaanPenyaluranLpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasHasilPemeriksaanPenyaluranLpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranLPG_id" class="SubAktivitasHasilPemeriksaanPenyaluranLPG_id">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranLpgList.id))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranLpgList.id.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranLpgList.idProses.Visible) { // subAktivitasHasilPemeriksaanPenyaluranLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasHasilPemeriksaanPenyaluranLpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranLPG_idProses" class="SubAktivitasHasilPemeriksaanPenyaluranLPG_idProses">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranLpgList.idProses))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranLpgList.idProses.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranLpgList.idAktifitas.Visible) { // subAktivitasHasilPemeriksaanPenyaluranLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasHasilPemeriksaanPenyaluranLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranLPG_idAktifitas" class="SubAktivitasHasilPemeriksaanPenyaluranLPG_idAktifitas">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranLpgList.idAktifitas))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranLpgList.idAktifitas.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranLpgList.NoReferensi.Visible) { // subAktivitasHasilPemeriksaanPenyaluranLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasHasilPemeriksaanPenyaluranLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranLPG_NoReferensi" class="SubAktivitasHasilPemeriksaanPenyaluranLPG_NoReferensi">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranLpgList.NoReferensi))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranLpgList.NoReferensi.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranLpgList.NamaKapal.Visible) { // subAktivitasHasilPemeriksaanPenyaluranLpgList.NamaKapal.Visible (begin)
        <th data-name="NamaKapal" class="@(subAktivitasHasilPemeriksaanPenyaluranLpgList.NamaKapal.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranLPG_NamaKapal" class="SubAktivitasHasilPemeriksaanPenyaluranLPG_NamaKapal">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranLpgList.NamaKapal))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranLpgList.NamaKapal.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranLpgList.Tanggal.Visible) { // subAktivitasHasilPemeriksaanPenyaluranLpgList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasHasilPemeriksaanPenyaluranLpgList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranLPG_Tanggal" class="SubAktivitasHasilPemeriksaanPenyaluranLPG_Tanggal">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranLpgList.Tanggal))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranLpgList.Tanggal.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranLpgList.NamaKegiatan.Visible) { // subAktivitasHasilPemeriksaanPenyaluranLpgList.NamaKegiatan.Visible (begin)
        <th data-name="NamaKegiatan" class="@(subAktivitasHasilPemeriksaanPenyaluranLpgList.NamaKegiatan.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranLPG_NamaKegiatan" class="SubAktivitasHasilPemeriksaanPenyaluranLPG_NamaKegiatan">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranLpgList.NamaKegiatan))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranLpgList.NamaKegiatan.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranLpgList.Produk.Visible) { // subAktivitasHasilPemeriksaanPenyaluranLpgList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasHasilPemeriksaanPenyaluranLpgList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranLPG_Produk" class="SubAktivitasHasilPemeriksaanPenyaluranLPG_Produk">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranLpgList.Produk))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranLpgList.Produk.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranLpgList.Density.Visible) { // subAktivitasHasilPemeriksaanPenyaluranLpgList.Density.Visible (begin)
        <th data-name="Density" class="@(subAktivitasHasilPemeriksaanPenyaluranLpgList.Density.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranLPG_Density" class="SubAktivitasHasilPemeriksaanPenyaluranLPG_Density">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranLpgList.Density))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranLpgList.Density.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranLpgList.Temperature.Visible) { // subAktivitasHasilPemeriksaanPenyaluranLpgList.Temperature.Visible (begin)
        <th data-name="Temperature" class="@(subAktivitasHasilPemeriksaanPenyaluranLpgList.Temperature.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranLPG_Temperature" class="SubAktivitasHasilPemeriksaanPenyaluranLPG_Temperature">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranLpgList.Temperature))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranLpgList.Temperature.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranLpgList.Pressure.Visible) { // subAktivitasHasilPemeriksaanPenyaluranLpgList.Pressure.Visible (begin)
        <th data-name="Pressure" class="@(subAktivitasHasilPemeriksaanPenyaluranLpgList.Pressure.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranLPG_Pressure" class="SubAktivitasHasilPemeriksaanPenyaluranLPG_Pressure">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranLpgList.Pressure))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranLpgList.Pressure.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranLpgList.userInput.Visible) { // subAktivitasHasilPemeriksaanPenyaluranLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasHasilPemeriksaanPenyaluranLpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranLPG_userInput" class="SubAktivitasHasilPemeriksaanPenyaluranLPG_userInput">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranLpgList.userInput))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranLpgList.userInput.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranLpgList.etlDate.Visible) { // subAktivitasHasilPemeriksaanPenyaluranLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasHasilPemeriksaanPenyaluranLpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranLPG_etlDate" class="SubAktivitasHasilPemeriksaanPenyaluranLPG_etlDate">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranLpgList.etlDate))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranLpgList.etlDate.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranLpgList.LastUpdatedBy.Visible) { // subAktivitasHasilPemeriksaanPenyaluranLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasHasilPemeriksaanPenyaluranLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranLPG_LastUpdatedBy" class="SubAktivitasHasilPemeriksaanPenyaluranLPG_LastUpdatedBy">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranLpgList.LastUpdatedBy))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranLpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranLpgList.lastUpdatedDate.Visible) { // subAktivitasHasilPemeriksaanPenyaluranLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasHasilPemeriksaanPenyaluranLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluranLPG_lastUpdatedDate" class="SubAktivitasHasilPemeriksaanPenyaluranLPG_lastUpdatedDate">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranLpgList.lastUpdatedDate))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranLpgList.lastUpdatedDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasHasilPemeriksaanPenyaluranLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasHasilPemeriksaanPenyaluranLpgList.PageNumber)">
@{
    await subAktivitasHasilPemeriksaanPenyaluranLpgList.SetupGrid();
    bool eof = subAktivitasHasilPemeriksaanPenyaluranLpgList.Recordset == null; // DN
}
@while (subAktivitasHasilPemeriksaanPenyaluranLpgList.RecordCount < subAktivitasHasilPemeriksaanPenyaluranLpgList.StopRecord || SameString(subAktivitasHasilPemeriksaanPenyaluranLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasHasilPemeriksaanPenyaluranLpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasHasilPemeriksaanPenyaluranLpgList.IsGridAdd || subAktivitasHasilPemeriksaanPenyaluranLpgList.CurrentMode == "copy") &&
        (!((subAktivitasHasilPemeriksaanPenyaluranLpgList.IsCopy || subAktivitasHasilPemeriksaanPenyaluranLpgList.IsAdd) && subAktivitasHasilPemeriksaanPenyaluranLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasHasilPemeriksaanPenyaluranLpgList.Recordset.ReadAsync();
    subAktivitasHasilPemeriksaanPenyaluranLpgList.RecordCount++;
    if (subAktivitasHasilPemeriksaanPenyaluranLpgList.RecordCount >= subAktivitasHasilPemeriksaanPenyaluranLpgList.StartRecord) {
        await subAktivitasHasilPemeriksaanPenyaluranLpgList.SetupRow();
    <tr @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasHasilPemeriksaanPenyaluranLpgList.ListOptions.RenderBody("left", subAktivitasHasilPemeriksaanPenyaluranLpgList.RowCount)
    @if (subAktivitasHasilPemeriksaanPenyaluranLpgList.id.Visible) { // subAktivitasHasilPemeriksaanPenyaluranLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranLpgList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranLPG_id" class="el_SubAktivitasHasilPemeriksaanPenyaluranLPG_id">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranLpgList.id.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranLpgList.idProses.Visible) { // subAktivitasHasilPemeriksaanPenyaluranLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranLpgList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranLPG_idProses" class="el_SubAktivitasHasilPemeriksaanPenyaluranLPG_idProses">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranLpgList.idProses.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranLpgList.idAktifitas.Visible) { // subAktivitasHasilPemeriksaanPenyaluranLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranLpgList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranLPG_idAktifitas" class="el_SubAktivitasHasilPemeriksaanPenyaluranLPG_idAktifitas">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranLpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranLpgList.NoReferensi.Visible) { // subAktivitasHasilPemeriksaanPenyaluranLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranLpgList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranLPG_NoReferensi" class="el_SubAktivitasHasilPemeriksaanPenyaluranLPG_NoReferensi">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranLpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranLpgList.NamaKapal.Visible) { // subAktivitasHasilPemeriksaanPenyaluranLpgList.NamaKapal.Visible (begin)
        <td data-name="NamaKapal" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.NamaKapal.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranLpgList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranLPG_NamaKapal" class="el_SubAktivitasHasilPemeriksaanPenyaluranLPG_NamaKapal">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.NamaKapal.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.NamaKapal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranLpgList.NamaKapal.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranLpgList.Tanggal.Visible) { // subAktivitasHasilPemeriksaanPenyaluranLpgList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.Tanggal.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranLpgList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranLPG_Tanggal" class="el_SubAktivitasHasilPemeriksaanPenyaluranLPG_Tanggal">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranLpgList.Tanggal.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranLpgList.NamaKegiatan.Visible) { // subAktivitasHasilPemeriksaanPenyaluranLpgList.NamaKegiatan.Visible (begin)
        <td data-name="NamaKegiatan" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.NamaKegiatan.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranLpgList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranLPG_NamaKegiatan" class="el_SubAktivitasHasilPemeriksaanPenyaluranLPG_NamaKegiatan">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.NamaKegiatan.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.NamaKegiatan.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranLpgList.NamaKegiatan.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranLpgList.Produk.Visible) { // subAktivitasHasilPemeriksaanPenyaluranLpgList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.Produk.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranLpgList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranLPG_Produk" class="el_SubAktivitasHasilPemeriksaanPenyaluranLPG_Produk">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranLpgList.Produk.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranLpgList.Density.Visible) { // subAktivitasHasilPemeriksaanPenyaluranLpgList.Density.Visible (begin)
        <td data-name="Density" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.Density.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranLpgList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranLPG_Density" class="el_SubAktivitasHasilPemeriksaanPenyaluranLPG_Density">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.Density.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.Density.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranLpgList.Density.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranLpgList.Temperature.Visible) { // subAktivitasHasilPemeriksaanPenyaluranLpgList.Temperature.Visible (begin)
        <td data-name="Temperature" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.Temperature.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranLpgList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranLPG_Temperature" class="el_SubAktivitasHasilPemeriksaanPenyaluranLPG_Temperature">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.Temperature.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.Temperature.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranLpgList.Temperature.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranLpgList.Pressure.Visible) { // subAktivitasHasilPemeriksaanPenyaluranLpgList.Pressure.Visible (begin)
        <td data-name="Pressure" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.Pressure.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranLpgList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranLPG_Pressure" class="el_SubAktivitasHasilPemeriksaanPenyaluranLPG_Pressure">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.Pressure.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.Pressure.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranLpgList.Pressure.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranLpgList.userInput.Visible) { // subAktivitasHasilPemeriksaanPenyaluranLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranLpgList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranLPG_userInput" class="el_SubAktivitasHasilPemeriksaanPenyaluranLPG_userInput">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranLpgList.userInput.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranLpgList.etlDate.Visible) { // subAktivitasHasilPemeriksaanPenyaluranLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranLpgList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranLPG_etlDate" class="el_SubAktivitasHasilPemeriksaanPenyaluranLPG_etlDate">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranLpgList.etlDate.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranLpgList.LastUpdatedBy.Visible) { // subAktivitasHasilPemeriksaanPenyaluranLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranLpgList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranLPG_LastUpdatedBy" class="el_SubAktivitasHasilPemeriksaanPenyaluranLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranLpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranLpgList.lastUpdatedDate.Visible) { // subAktivitasHasilPemeriksaanPenyaluranLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranLpgList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluranLPG_lastUpdatedDate" class="el_SubAktivitasHasilPemeriksaanPenyaluranLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranLpgList.lastUpdatedDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasHasilPemeriksaanPenyaluranLpgList.ListOptions.RenderBody("right", subAktivitasHasilPemeriksaanPenyaluranLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasHasilPemeriksaanPenyaluranLpgList.RowIndex, "$rowindex$"))
        subAktivitasHasilPemeriksaanPenyaluranLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasHasilPemeriksaanPenyaluranLpgList.IsCopy || subAktivitasHasilPemeriksaanPenyaluranLpgList.IsAdd) && subAktivitasHasilPemeriksaanPenyaluranLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasHasilPemeriksaanPenyaluranLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasHasilPemeriksaanPenyaluranLpgList.CurrentAction) && !subAktivitasHasilPemeriksaanPenyaluranLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasHasilPemeriksaanPenyaluranLpgList.CloseRecordset(); }
@if (!subAktivitasHasilPemeriksaanPenyaluranLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasHasilPemeriksaanPenyaluranLpgList.IsGridAdd && !(subAktivitasHasilPemeriksaanPenyaluranLpgList.IsGridEdit && subAktivitasHasilPemeriksaanPenyaluranLpgList.ModalGridEdit) && !subAktivitasHasilPemeriksaanPenyaluranLpgList.IsMultiEdit) {
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasHasilPemeriksaanPenyaluranLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasHasilPemeriksaanPenyaluranLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasHasilPemeriksaanPenyaluranLpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasHasilPemeriksaanPenyaluranLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasHasilPemeriksaanPenyaluranLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasHasilPemeriksaanPenyaluranLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
