@{
    // View
    View = this;

    // Check action result
    if (subaktivitasInputLogbookPenyaluranPipaList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subaktivitasInputLogbookPenyaluranPipaList.UseLayout ? "_Layout" : "";
}
@if (!subaktivitasInputLogbookPenyaluranPipaList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasInputLogbookPenyaluranPipaList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasInputLogbookPenyaluranPipa: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subaktivitasInputLogbookPenyaluranPipaList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subaktivitasInputLogbookPenyaluranPipaList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subaktivitasInputLogbookPenyaluranPipaList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subaktivitasInputLogbookPenyaluranPipaList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subaktivitasInputLogbookPenyaluranPipaList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subaktivitasInputLogbookPenyaluranPipaList.TotalRecords > 0 && subaktivitasInputLogbookPenyaluranPipaList.ExportOptions.Visible) {
    subaktivitasInputLogbookPenyaluranPipaList.ExportOptions.Render("body");
}
@if (subaktivitasInputLogbookPenyaluranPipaList.ImportOptions.Visible) {
    subaktivitasInputLogbookPenyaluranPipaList.ImportOptions.Render("body");
}
@if (subaktivitasInputLogbookPenyaluranPipaList.SearchOptions.Visible) {
    subaktivitasInputLogbookPenyaluranPipaList.SearchOptions.Render("body");
}
@if (subaktivitasInputLogbookPenyaluranPipaList.FilterOptions.Visible) {
    subaktivitasInputLogbookPenyaluranPipaList.FilterOptions.Render("body");
}
</div>
}
@if (!subaktivitasInputLogbookPenyaluranPipaList.IsModal) {
<form name="fSubaktivitasInputLogbookPenyaluranPipasrch" id="fSubaktivitasInputLogbookPenyaluranPipasrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubaktivitasInputLogbookPenyaluranPipasrch_search_panel" class="mb-2 mb-sm-0 @(subaktivitasInputLogbookPenyaluranPipaList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasInputLogbookPenyaluranPipaList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasInputLogbookPenyaluranPipa: currentTable } });
var currentForm;
var fSubaktivitasInputLogbookPenyaluranPipasrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubaktivitasInputLogbookPenyaluranPipasrch")
        .setPageId("list")
@if (subaktivitasInputLogbookPenyaluranPipaList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subaktivitasInputLogbookPenyaluranPipaList.IsExport() && Empty(subaktivitasInputLogbookPenyaluranPipaList.CurrentAction) && subaktivitasInputLogbookPenyaluranPipaList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subaktivitasInputLogbookPenyaluranPipaList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subaktivitasInputLogbookPenyaluranPipaList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubaktivitasInputLogbookPenyaluranPipasrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subaktivitasInputLogbookPenyaluranPipaList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubaktivitasInputLogbookPenyaluranPipasrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subaktivitasInputLogbookPenyaluranPipaList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubaktivitasInputLogbookPenyaluranPipasrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subaktivitasInputLogbookPenyaluranPipaList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubaktivitasInputLogbookPenyaluranPipasrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subaktivitasInputLogbookPenyaluranPipaList.ShowPageHeader()
@subaktivitasInputLogbookPenyaluranPipaList.ShowMessages()
<main class="list @(subaktivitasInputLogbookPenyaluranPipaList.TotalRecords == 0 && !subaktivitasInputLogbookPenyaluranPipaList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subaktivitasInputLogbookPenyaluranPipaList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subaktivitasInputLogbookPenyaluranPipaList.TotalRecords > 0 || !Empty(subaktivitasInputLogbookPenyaluranPipaList.CurrentAction)) {
<div class="card ew-card ew-grid@(subaktivitasInputLogbookPenyaluranPipaList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subaktivitasInputLogbookPenyaluranPipaList.TableGridClass)">
<form name="@(subaktivitasInputLogbookPenyaluranPipaList.FormName)" id="@(subaktivitasInputLogbookPenyaluranPipaList.FormName)" class="ew-form ew-list-form" action="@AppPath(subaktivitasInputLogbookPenyaluranPipaList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subaktivitasInputLogbookPenyaluranPipaList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubaktivitasInputLogbookPenyaluranPipa" class="card-body ew-grid-middle-panel @(subaktivitasInputLogbookPenyaluranPipaList.TableContainerClass)" style="@(subaktivitasInputLogbookPenyaluranPipaList.TableContainerStyle)">
@if (subaktivitasInputLogbookPenyaluranPipaList.TotalRecords > 0 || subaktivitasInputLogbookPenyaluranPipaList.IsGridEdit || subaktivitasInputLogbookPenyaluranPipaList.IsMultiEdit) {
<table id="tbl_SubaktivitasInputLogbookPenyaluranPipalist" class="@(subaktivitasInputLogbookPenyaluranPipaList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subaktivitasInputLogbookPenyaluranPipaList.RowType = RowType.Header;

    // Render list options
    await subaktivitasInputLogbookPenyaluranPipaList.RenderListOptions();
}
@* Render list options (header, left) *@
@subaktivitasInputLogbookPenyaluranPipaList.ListOptions.RenderHeader("left")
@if (subaktivitasInputLogbookPenyaluranPipaList.Id.Visible) { // subaktivitasInputLogbookPenyaluranPipaList.Id.Visible (begin)
        <th data-name="Id" class="@(subaktivitasInputLogbookPenyaluranPipaList.Id.HeaderCellClass)"><div id="elh_SubaktivitasInputLogbookPenyaluranPipa_Id" class="SubaktivitasInputLogbookPenyaluranPipa_Id">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.RenderFieldHeader(subaktivitasInputLogbookPenyaluranPipaList.Id))</div></th>
} @* subaktivitasInputLogbookPenyaluranPipaList.Id.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaList.IdAktifitas.Visible) { // subaktivitasInputLogbookPenyaluranPipaList.IdAktifitas.Visible (begin)
        <th data-name="IdAktifitas" class="@(subaktivitasInputLogbookPenyaluranPipaList.IdAktifitas.HeaderCellClass)"><div id="elh_SubaktivitasInputLogbookPenyaluranPipa_IdAktifitas" class="SubaktivitasInputLogbookPenyaluranPipa_IdAktifitas">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.RenderFieldHeader(subaktivitasInputLogbookPenyaluranPipaList.IdAktifitas))</div></th>
} @* subaktivitasInputLogbookPenyaluranPipaList.IdAktifitas.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaList.NomorTangki.Visible) { // subaktivitasInputLogbookPenyaluranPipaList.NomorTangki.Visible (begin)
        <th data-name="NomorTangki" class="@(subaktivitasInputLogbookPenyaluranPipaList.NomorTangki.HeaderCellClass)"><div id="elh_SubaktivitasInputLogbookPenyaluranPipa_NomorTangki" class="SubaktivitasInputLogbookPenyaluranPipa_NomorTangki">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.RenderFieldHeader(subaktivitasInputLogbookPenyaluranPipaList.NomorTangki))</div></th>
} @* subaktivitasInputLogbookPenyaluranPipaList.NomorTangki.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaList.LO.Visible) { // subaktivitasInputLogbookPenyaluranPipaList.LO.Visible (begin)
        <th data-name="LO" class="@(subaktivitasInputLogbookPenyaluranPipaList.LO.HeaderCellClass)"><div id="elh_SubaktivitasInputLogbookPenyaluranPipa_LO" class="SubaktivitasInputLogbookPenyaluranPipa_LO">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.RenderFieldHeader(subaktivitasInputLogbookPenyaluranPipaList.LO))</div></th>
} @* subaktivitasInputLogbookPenyaluranPipaList.LO.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaList.Produk.Visible) { // subaktivitasInputLogbookPenyaluranPipaList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subaktivitasInputLogbookPenyaluranPipaList.Produk.HeaderCellClass)"><div id="elh_SubaktivitasInputLogbookPenyaluranPipa_Produk" class="SubaktivitasInputLogbookPenyaluranPipa_Produk">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.RenderFieldHeader(subaktivitasInputLogbookPenyaluranPipaList.Produk))</div></th>
} @* subaktivitasInputLogbookPenyaluranPipaList.Produk.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaList.MeterAwal.Visible) { // subaktivitasInputLogbookPenyaluranPipaList.MeterAwal.Visible (begin)
        <th data-name="MeterAwal" class="@(subaktivitasInputLogbookPenyaluranPipaList.MeterAwal.HeaderCellClass)"><div id="elh_SubaktivitasInputLogbookPenyaluranPipa_MeterAwal" class="SubaktivitasInputLogbookPenyaluranPipa_MeterAwal">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.RenderFieldHeader(subaktivitasInputLogbookPenyaluranPipaList.MeterAwal))</div></th>
} @* subaktivitasInputLogbookPenyaluranPipaList.MeterAwal.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaList.Quantity.Visible) { // subaktivitasInputLogbookPenyaluranPipaList.Quantity.Visible (begin)
        <th data-name="Quantity" class="@(subaktivitasInputLogbookPenyaluranPipaList.Quantity.HeaderCellClass)"><div id="elh_SubaktivitasInputLogbookPenyaluranPipa_Quantity" class="SubaktivitasInputLogbookPenyaluranPipa_Quantity">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.RenderFieldHeader(subaktivitasInputLogbookPenyaluranPipaList.Quantity))</div></th>
} @* subaktivitasInputLogbookPenyaluranPipaList.Quantity.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaList.userInput.Visible) { // subaktivitasInputLogbookPenyaluranPipaList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subaktivitasInputLogbookPenyaluranPipaList.userInput.HeaderCellClass)"><div id="elh_SubaktivitasInputLogbookPenyaluranPipa_userInput" class="SubaktivitasInputLogbookPenyaluranPipa_userInput">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.RenderFieldHeader(subaktivitasInputLogbookPenyaluranPipaList.userInput))</div></th>
} @* subaktivitasInputLogbookPenyaluranPipaList.userInput.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaList.etlDate.Visible) { // subaktivitasInputLogbookPenyaluranPipaList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subaktivitasInputLogbookPenyaluranPipaList.etlDate.HeaderCellClass)"><div id="elh_SubaktivitasInputLogbookPenyaluranPipa_etlDate" class="SubaktivitasInputLogbookPenyaluranPipa_etlDate">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.RenderFieldHeader(subaktivitasInputLogbookPenyaluranPipaList.etlDate))</div></th>
} @* subaktivitasInputLogbookPenyaluranPipaList.etlDate.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaList.idProses.Visible) { // subaktivitasInputLogbookPenyaluranPipaList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subaktivitasInputLogbookPenyaluranPipaList.idProses.HeaderCellClass)"><div id="elh_SubaktivitasInputLogbookPenyaluranPipa_idProses" class="SubaktivitasInputLogbookPenyaluranPipa_idProses">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.RenderFieldHeader(subaktivitasInputLogbookPenyaluranPipaList.idProses))</div></th>
} @* subaktivitasInputLogbookPenyaluranPipaList.idProses.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaList.LastUpdatedBy.Visible) { // subaktivitasInputLogbookPenyaluranPipaList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subaktivitasInputLogbookPenyaluranPipaList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubaktivitasInputLogbookPenyaluranPipa_LastUpdatedBy" class="SubaktivitasInputLogbookPenyaluranPipa_LastUpdatedBy">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.RenderFieldHeader(subaktivitasInputLogbookPenyaluranPipaList.LastUpdatedBy))</div></th>
} @* subaktivitasInputLogbookPenyaluranPipaList.LastUpdatedBy.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaList.lastUpdatedDate.Visible) { // subaktivitasInputLogbookPenyaluranPipaList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subaktivitasInputLogbookPenyaluranPipaList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubaktivitasInputLogbookPenyaluranPipa_lastUpdatedDate" class="SubaktivitasInputLogbookPenyaluranPipa_lastUpdatedDate">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.RenderFieldHeader(subaktivitasInputLogbookPenyaluranPipaList.lastUpdatedDate))</div></th>
} @* subaktivitasInputLogbookPenyaluranPipaList.lastUpdatedDate.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaList.NoReferensi.Visible) { // subaktivitasInputLogbookPenyaluranPipaList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subaktivitasInputLogbookPenyaluranPipaList.NoReferensi.HeaderCellClass)"><div id="elh_SubaktivitasInputLogbookPenyaluranPipa_NoReferensi" class="SubaktivitasInputLogbookPenyaluranPipa_NoReferensi">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.RenderFieldHeader(subaktivitasInputLogbookPenyaluranPipaList.NoReferensi))</div></th>
} @* subaktivitasInputLogbookPenyaluranPipaList.NoReferensi.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaList.Tanggal.Visible) { // subaktivitasInputLogbookPenyaluranPipaList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subaktivitasInputLogbookPenyaluranPipaList.Tanggal.HeaderCellClass)"><div id="elh_SubaktivitasInputLogbookPenyaluranPipa_Tanggal" class="SubaktivitasInputLogbookPenyaluranPipa_Tanggal">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.RenderFieldHeader(subaktivitasInputLogbookPenyaluranPipaList.Tanggal))</div></th>
} @* subaktivitasInputLogbookPenyaluranPipaList.Tanggal.Visible (end) *@
@* Render list options (header, right) *@
@subaktivitasInputLogbookPenyaluranPipaList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subaktivitasInputLogbookPenyaluranPipaList.PageNumber)">
@{
    await subaktivitasInputLogbookPenyaluranPipaList.SetupGrid();
    bool eof = subaktivitasInputLogbookPenyaluranPipaList.Recordset == null; // DN
}
@while (subaktivitasInputLogbookPenyaluranPipaList.RecordCount < subaktivitasInputLogbookPenyaluranPipaList.StopRecord || SameString(subaktivitasInputLogbookPenyaluranPipaList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subaktivitasInputLogbookPenyaluranPipaList.RowIndex, "$rowindex$") &&
        (!subaktivitasInputLogbookPenyaluranPipaList.IsGridAdd || subaktivitasInputLogbookPenyaluranPipaList.CurrentMode == "copy") &&
        (!((subaktivitasInputLogbookPenyaluranPipaList.IsCopy || subaktivitasInputLogbookPenyaluranPipaList.IsAdd) && subaktivitasInputLogbookPenyaluranPipaList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subaktivitasInputLogbookPenyaluranPipaList.Recordset.ReadAsync();
    subaktivitasInputLogbookPenyaluranPipaList.RecordCount++;
    if (subaktivitasInputLogbookPenyaluranPipaList.RecordCount >= subaktivitasInputLogbookPenyaluranPipaList.StartRecord) {
        await subaktivitasInputLogbookPenyaluranPipaList.SetupRow();
    <tr @Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.RowAttributes)>
    @* Render list options (body, left) *@
    @subaktivitasInputLogbookPenyaluranPipaList.ListOptions.RenderBody("left", subaktivitasInputLogbookPenyaluranPipaList.RowCount)
    @if (subaktivitasInputLogbookPenyaluranPipaList.Id.Visible) { // subaktivitasInputLogbookPenyaluranPipaList.Id.Visible (begin)
        <td data-name="Id" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.Id.CellAttributes)>
<span id="el@(subaktivitasInputLogbookPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasInputLogbookPenyaluranPipaList.RowCount)_SubaktivitasInputLogbookPenyaluranPipa_Id" class="el_SubaktivitasInputLogbookPenyaluranPipa_Id">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.Id.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.Id.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputLogbookPenyaluranPipaList.Id.Visible (end) *@
    @if (subaktivitasInputLogbookPenyaluranPipaList.IdAktifitas.Visible) { // subaktivitasInputLogbookPenyaluranPipaList.IdAktifitas.Visible (begin)
        <td data-name="IdAktifitas" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.IdAktifitas.CellAttributes)>
<span id="el@(subaktivitasInputLogbookPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasInputLogbookPenyaluranPipaList.RowCount)_SubaktivitasInputLogbookPenyaluranPipa_IdAktifitas" class="el_SubaktivitasInputLogbookPenyaluranPipa_IdAktifitas">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.IdAktifitas.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.IdAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputLogbookPenyaluranPipaList.IdAktifitas.Visible (end) *@
    @if (subaktivitasInputLogbookPenyaluranPipaList.NomorTangki.Visible) { // subaktivitasInputLogbookPenyaluranPipaList.NomorTangki.Visible (begin)
        <td data-name="NomorTangki" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.NomorTangki.CellAttributes)>
<span id="el@(subaktivitasInputLogbookPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasInputLogbookPenyaluranPipaList.RowCount)_SubaktivitasInputLogbookPenyaluranPipa_NomorTangki" class="el_SubaktivitasInputLogbookPenyaluranPipa_NomorTangki">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.NomorTangki.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.NomorTangki.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputLogbookPenyaluranPipaList.NomorTangki.Visible (end) *@
    @if (subaktivitasInputLogbookPenyaluranPipaList.LO.Visible) { // subaktivitasInputLogbookPenyaluranPipaList.LO.Visible (begin)
        <td data-name="LO" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.LO.CellAttributes)>
<span id="el@(subaktivitasInputLogbookPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasInputLogbookPenyaluranPipaList.RowCount)_SubaktivitasInputLogbookPenyaluranPipa_LO" class="el_SubaktivitasInputLogbookPenyaluranPipa_LO">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.LO.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.LO.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputLogbookPenyaluranPipaList.LO.Visible (end) *@
    @if (subaktivitasInputLogbookPenyaluranPipaList.Produk.Visible) { // subaktivitasInputLogbookPenyaluranPipaList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.Produk.CellAttributes)>
<span id="el@(subaktivitasInputLogbookPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasInputLogbookPenyaluranPipaList.RowCount)_SubaktivitasInputLogbookPenyaluranPipa_Produk" class="el_SubaktivitasInputLogbookPenyaluranPipa_Produk">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.Produk.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputLogbookPenyaluranPipaList.Produk.Visible (end) *@
    @if (subaktivitasInputLogbookPenyaluranPipaList.MeterAwal.Visible) { // subaktivitasInputLogbookPenyaluranPipaList.MeterAwal.Visible (begin)
        <td data-name="MeterAwal" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.MeterAwal.CellAttributes)>
<span id="el@(subaktivitasInputLogbookPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasInputLogbookPenyaluranPipaList.RowCount)_SubaktivitasInputLogbookPenyaluranPipa_MeterAwal" class="el_SubaktivitasInputLogbookPenyaluranPipa_MeterAwal">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.MeterAwal.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.MeterAwal.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputLogbookPenyaluranPipaList.MeterAwal.Visible (end) *@
    @if (subaktivitasInputLogbookPenyaluranPipaList.Quantity.Visible) { // subaktivitasInputLogbookPenyaluranPipaList.Quantity.Visible (begin)
        <td data-name="Quantity" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.Quantity.CellAttributes)>
<span id="el@(subaktivitasInputLogbookPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasInputLogbookPenyaluranPipaList.RowCount)_SubaktivitasInputLogbookPenyaluranPipa_Quantity" class="el_SubaktivitasInputLogbookPenyaluranPipa_Quantity">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.Quantity.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.Quantity.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputLogbookPenyaluranPipaList.Quantity.Visible (end) *@
    @if (subaktivitasInputLogbookPenyaluranPipaList.userInput.Visible) { // subaktivitasInputLogbookPenyaluranPipaList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.userInput.CellAttributes)>
<span id="el@(subaktivitasInputLogbookPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasInputLogbookPenyaluranPipaList.RowCount)_SubaktivitasInputLogbookPenyaluranPipa_userInput" class="el_SubaktivitasInputLogbookPenyaluranPipa_userInput">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.userInput.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputLogbookPenyaluranPipaList.userInput.Visible (end) *@
    @if (subaktivitasInputLogbookPenyaluranPipaList.etlDate.Visible) { // subaktivitasInputLogbookPenyaluranPipaList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.etlDate.CellAttributes)>
<span id="el@(subaktivitasInputLogbookPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasInputLogbookPenyaluranPipaList.RowCount)_SubaktivitasInputLogbookPenyaluranPipa_etlDate" class="el_SubaktivitasInputLogbookPenyaluranPipa_etlDate">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.etlDate.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputLogbookPenyaluranPipaList.etlDate.Visible (end) *@
    @if (subaktivitasInputLogbookPenyaluranPipaList.idProses.Visible) { // subaktivitasInputLogbookPenyaluranPipaList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.idProses.CellAttributes)>
<span id="el@(subaktivitasInputLogbookPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasInputLogbookPenyaluranPipaList.RowCount)_SubaktivitasInputLogbookPenyaluranPipa_idProses" class="el_SubaktivitasInputLogbookPenyaluranPipa_idProses">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.idProses.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputLogbookPenyaluranPipaList.idProses.Visible (end) *@
    @if (subaktivitasInputLogbookPenyaluranPipaList.LastUpdatedBy.Visible) { // subaktivitasInputLogbookPenyaluranPipaList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.LastUpdatedBy.CellAttributes)>
<span id="el@(subaktivitasInputLogbookPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasInputLogbookPenyaluranPipaList.RowCount)_SubaktivitasInputLogbookPenyaluranPipa_LastUpdatedBy" class="el_SubaktivitasInputLogbookPenyaluranPipa_LastUpdatedBy">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputLogbookPenyaluranPipaList.LastUpdatedBy.Visible (end) *@
    @if (subaktivitasInputLogbookPenyaluranPipaList.lastUpdatedDate.Visible) { // subaktivitasInputLogbookPenyaluranPipaList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.lastUpdatedDate.CellAttributes)>
<span id="el@(subaktivitasInputLogbookPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasInputLogbookPenyaluranPipaList.RowCount)_SubaktivitasInputLogbookPenyaluranPipa_lastUpdatedDate" class="el_SubaktivitasInputLogbookPenyaluranPipa_lastUpdatedDate">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputLogbookPenyaluranPipaList.lastUpdatedDate.Visible (end) *@
    @if (subaktivitasInputLogbookPenyaluranPipaList.NoReferensi.Visible) { // subaktivitasInputLogbookPenyaluranPipaList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.NoReferensi.CellAttributes)>
<span id="el@(subaktivitasInputLogbookPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasInputLogbookPenyaluranPipaList.RowCount)_SubaktivitasInputLogbookPenyaluranPipa_NoReferensi" class="el_SubaktivitasInputLogbookPenyaluranPipa_NoReferensi">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.NoReferensi.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputLogbookPenyaluranPipaList.NoReferensi.Visible (end) *@
    @if (subaktivitasInputLogbookPenyaluranPipaList.Tanggal.Visible) { // subaktivitasInputLogbookPenyaluranPipaList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.Tanggal.CellAttributes)>
<span id="el@(subaktivitasInputLogbookPenyaluranPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasInputLogbookPenyaluranPipaList.RowCount)_SubaktivitasInputLogbookPenyaluranPipa_Tanggal" class="el_SubaktivitasInputLogbookPenyaluranPipa_Tanggal">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.Tanggal.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasInputLogbookPenyaluranPipaList.Tanggal.Visible (end) *@
    @* Render list options (body, right) *@
    @subaktivitasInputLogbookPenyaluranPipaList.ListOptions.RenderBody("right", subaktivitasInputLogbookPenyaluranPipaList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subaktivitasInputLogbookPenyaluranPipaList.RowIndex, "$rowindex$"))
        subaktivitasInputLogbookPenyaluranPipaList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subaktivitasInputLogbookPenyaluranPipaList.IsCopy || subaktivitasInputLogbookPenyaluranPipaList.IsAdd) && subaktivitasInputLogbookPenyaluranPipaList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subaktivitasInputLogbookPenyaluranPipaList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subaktivitasInputLogbookPenyaluranPipaList.CurrentAction) && !subaktivitasInputLogbookPenyaluranPipaList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subaktivitasInputLogbookPenyaluranPipaList.CloseRecordset(); }
@if (!subaktivitasInputLogbookPenyaluranPipaList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subaktivitasInputLogbookPenyaluranPipaList.IsGridAdd && !(subaktivitasInputLogbookPenyaluranPipaList.IsGridEdit && subaktivitasInputLogbookPenyaluranPipaList.ModalGridEdit) && !subaktivitasInputLogbookPenyaluranPipaList.IsMultiEdit) {
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaList.Pager.Render())
}
<div class="ew-list-other-options">
@subaktivitasInputLogbookPenyaluranPipaList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subaktivitasInputLogbookPenyaluranPipaList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subaktivitasInputLogbookPenyaluranPipaList.FooterOptions.RenderBody()
</div>
</main>
@subaktivitasInputLogbookPenyaluranPipaList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subaktivitasInputLogbookPenyaluranPipaList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubaktivitasInputLogbookPenyaluranPipa");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
