@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputLogbookPenerimaanStsPymLpgView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputLogbookPenerimaanStsPymLpgView.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputLogbookPenerimaanStsPymLpgView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @subAktivitasFormInputLogbookPenerimaanStsPymLpgView.ExportOptions.RenderBody()
    @subAktivitasFormInputLogbookPenerimaanStsPymLpgView.OtherOptions.RenderBody()
</div>
}
@subAktivitasFormInputLogbookPenerimaanStsPymLpgView.ShowPageHeader()
@subAktivitasFormInputLogbookPenerimaanStsPymLpgView.ShowMessages()
<main class="view">
<form name="fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGview" id="fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!subAktivitasFormInputLogbookPenerimaanStsPymLpgView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputLogbookPenerimaanSTSPymLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputLogbookPenerimaanSTSPymLPGview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.IsModal)">
<table class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.TableClass)">
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgView.id.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgView.id.Visible (begin)
    <tr id="r_id" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.id.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_id">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.id.Caption)</span></td>
        <td data-name="id" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.id.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_id">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.id.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgView.id.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgView.idProses.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgView.idProses.Visible (begin)
    <tr id="r_idProses" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.idProses.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_idProses">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.idProses.Caption)</span></td>
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_idProses">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.idProses.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgView.idProses.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgView.idAktifitas.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgView.idAktifitas.Visible (begin)
    <tr id="r_idAktifitas" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.idAktifitas.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_idAktifitas">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.idAktifitas.Caption)</span></td>
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_idAktifitas">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.idAktifitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgView.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgView.NoReferensi.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgView.NoReferensi.Visible (begin)
    <tr id="r_NoReferensi" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.NoReferensi.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_NoReferensi">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.NoReferensi.Caption)</span></td>
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_NoReferensi">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.NoReferensi.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgView.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Nama_Kapal.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Nama_Kapal.Visible (begin)
    <tr id="r_Nama_Kapal" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Nama_Kapal.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Nama_Kapal">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Nama_Kapal.Caption)</span></td>
        <td data-name="Nama_Kapal" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Nama_Kapal.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Nama_Kapal">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Nama_Kapal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Nama_Kapal.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Nama_Kapal.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Tanggal.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Tanggal.Visible (begin)
    <tr id="r_Tanggal" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Tanggal.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Tanggal">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Tanggal.Caption)</span></td>
        <td data-name="Tanggal" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Tanggal.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Tanggal">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Tanggal.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Tanggal.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Nama_Kegiatan.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Nama_Kegiatan.Visible (begin)
    <tr id="r_Nama_Kegiatan" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Nama_Kegiatan.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Nama_Kegiatan">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Nama_Kegiatan.Caption)</span></td>
        <td data-name="Nama_Kegiatan" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Nama_Kegiatan.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Nama_Kegiatan">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Nama_Kegiatan.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Nama_Kegiatan.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Nama_Kegiatan.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Produk.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Produk.Visible (begin)
    <tr id="r_Produk" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Produk.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Produk">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Produk.Caption)</span></td>
        <td data-name="Produk" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Produk.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Produk">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Produk.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Produk.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Produk.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Density.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Density.Visible (begin)
    <tr id="r_Density" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Density.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Density">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Density.Caption)</span></td>
        <td data-name="Density" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Density.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Density">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Density.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Density.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Density.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Temperatur.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Temperatur.Visible (begin)
    <tr id="r_Temperatur" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Temperatur.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Temperatur">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Temperatur.Caption)</span></td>
        <td data-name="Temperatur" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Temperatur.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Temperatur">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Temperatur.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Temperatur.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Temperatur.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Keterangan.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Keterangan.Visible (begin)
    <tr id="r_Keterangan" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Keterangan.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Keterangan">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Keterangan.Caption)</span></td>
        <td data-name="Keterangan" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Keterangan.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_Keterangan">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Keterangan.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Keterangan.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgView.Keterangan.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgView.userInput.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgView.userInput.Visible (begin)
    <tr id="r_userInput" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.userInput.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_userInput">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.userInput.Caption)</span></td>
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_userInput">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.userInput.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgView.userInput.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgView.etlDate.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgView.etlDate.Visible (begin)
    <tr id="r_etlDate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.etlDate.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_etlDate">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.etlDate.Caption)</span></td>
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_etlDate">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.etlDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgView.etlDate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgView.LastUpdatedBy.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgView.LastUpdatedBy.Visible (begin)
    <tr id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.LastUpdatedBy.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_LastUpdatedBy">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.LastUpdatedBy.Caption)</span></td>
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.LastUpdatedBy.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgView.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgView.lastUpdatedDate.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgView.lastUpdatedDate.Visible (begin)
    <tr id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.lastUpdatedDate.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_lastUpdatedDate">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.lastUpdatedDate.Caption)</span></td>
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.lastUpdatedDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgView.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanStsPymLpgView.SubAktivitasHasilPemeriksaanId.Visible) { // subAktivitasFormInputLogbookPenerimaanStsPymLpgView.SubAktivitasHasilPemeriksaanId.Visible (begin)
    <tr id="r_SubAktivitasHasilPemeriksaanId" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.SubAktivitasHasilPemeriksaanId.RowAttributes)>
        <td class="@(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_SubAktivitasHasilPemeriksaanId">@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.SubAktivitasHasilPemeriksaanId.Caption)</span></td>
        <td data-name="SubAktivitasHasilPemeriksaanId" @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.SubAktivitasHasilPemeriksaanId.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanSTSPymLPG_SubAktivitasHasilPemeriksaanId">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.SubAktivitasHasilPemeriksaanId.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanStsPymLpgView.SubAktivitasHasilPemeriksaanId.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputLogbookPenerimaanStsPymLpgView.SubAktivitasHasilPemeriksaanId.Visible (end) *@
</table>
@{ subAktivitasFormInputLogbookPenerimaanStsPymLpgView.CloseRecordset(); }
</form>
</main>
@subAktivitasFormInputLogbookPenerimaanStsPymLpgView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputLogbookPenerimaanStsPymLpgView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
