@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.TotalRecords > 0 && subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.ExportOptions.Visible) {
    subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.ExportOptions.Render("body");
}
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.ImportOptions.Visible) {
    subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.ImportOptions.Render("body");
}
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SearchOptions.Visible) {
    subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SearchOptions.Render("body");
}
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.FilterOptions.Visible) {
    subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.IsModal) {
<form name="fSubAktivitasNilaiBLSFALPenyaluranSTSPyrBBMsrch" id="fSubAktivitasNilaiBLSFALPenyaluranSTSPyrBBMsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasNilaiBLSFALPenyaluranSTSPyrBBMsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM: currentTable } });
var currentForm;
var fSubAktivitasNilaiBLSFALPenyaluranSTSPyrBBMsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiBLSFALPenyaluranSTSPyrBBMsrch")
        .setPageId("list")
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.IsExport() && Empty(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.CurrentAction) && subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasNilaiBLSFALPenyaluranSTSPyrBBMsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasNilaiBLSFALPenyaluranSTSPyrBBMsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasNilaiBLSFALPenyaluranSTSPyrBBMsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasNilaiBLSFALPenyaluranSTSPyrBBMsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.ShowPageHeader()
@subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.ShowMessages()
<main class="list @(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.TotalRecords == 0 && !subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.TotalRecords > 0 || !Empty(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.TableGridClass)">
<form name="@(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.FormName)" id="@(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM" class="card-body ew-grid-middle-panel @(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.TableContainerClass)" style="@(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.TableContainerStyle)">
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.TotalRecords > 0 || subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.IsGridEdit || subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.IsMultiEdit) {
<table id="tbl_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBMlist" class="@(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowType = RowType.Header;

    // Render list options
    await subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.ListOptions.RenderHeader("left")
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.id.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.id.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_id" class="SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_id">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.id))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.id.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.idProses.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_idProses" class="SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_idProses">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.idProses))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.idProses.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.idAktifitas.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_idAktifitas" class="SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_idAktifitas">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.idAktifitas))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.NoReferensi.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_NoReferensi" class="SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_NoReferensi">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.NoReferensi))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.NoReferensi.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_KLObs.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_KLObs.Visible (begin)
        <th data-name="BL_KLObs" class="@(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_KLObs.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_BL_KLObs" class="SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_BL_KLObs">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_KLObs))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_KLObs.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_KL15.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_KL15.Visible (begin)
        <th data-name="BL_KL15" class="@(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_KL15.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_BL_KL15" class="SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_BL_KL15">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_KL15))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_KL15.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_Barrels.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_Barrels.Visible (begin)
        <th data-name="BL_Barrels" class="@(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_Barrels.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_BL_Barrels" class="SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_BL_Barrels">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_Barrels))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_Barrels.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_LT.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_LT.Visible (begin)
        <th data-name="BL_LT" class="@(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_LT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_BL_LT" class="SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_BL_LT">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_LT))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_LT.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_MT.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_MT.Visible (begin)
        <th data-name="BL_MT" class="@(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_MT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_BL_MT" class="SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_BL_MT">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_MT))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_MT.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_KLObs.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_KLObs.Visible (begin)
        <th data-name="SFAL_KLObs" class="@(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_KLObs.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_SFAL_KLObs" class="SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_SFAL_KLObs">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_KLObs))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_KLObs.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_KL15.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_KL15.Visible (begin)
        <th data-name="SFAL_KL15" class="@(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_KL15.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_SFAL_KL15" class="SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_SFAL_KL15">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_KL15))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_KL15.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_Barrels.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_Barrels.Visible (begin)
        <th data-name="SFAL_Barrels" class="@(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_Barrels.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_SFAL_Barrels" class="SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_SFAL_Barrels">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_Barrels))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_Barrels.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_LT.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_LT.Visible (begin)
        <th data-name="SFAL_LT" class="@(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_LT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_SFAL_LT" class="SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_SFAL_LT">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_LT))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_LT.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_MT.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_MT.Visible (begin)
        <th data-name="SFAL_MT" class="@(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_MT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_SFAL_MT" class="SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_SFAL_MT">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_MT))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_MT.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.userInput.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_userInput" class="SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_userInput">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.userInput))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.userInput.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.etlDate.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_etlDate" class="SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_etlDate">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.etlDate))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.etlDate.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.LastUpdatedBy.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_LastUpdatedBy" class="SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_LastUpdatedBy">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.LastUpdatedBy))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.lastUpdatedDate.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_lastUpdatedDate" class="SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_lastUpdatedDate">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.lastUpdatedDate))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.StatusAktivitas.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_StatusAktivitas" class="SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_StatusAktivitas">@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RenderFieldHeader(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.StatusAktivitas))</div></th>
} @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.StatusAktivitas.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.PageNumber)">
@{
    await subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SetupGrid();
    bool eof = subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.Recordset == null; // DN
}
@while (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RecordCount < subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.StopRecord || SameString(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") &&
        (!subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.IsGridAdd || subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.CurrentMode == "copy") &&
        (!((subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.IsCopy || subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.IsAdd) && subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.Recordset.ReadAsync();
    subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RecordCount++;
    if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RecordCount >= subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.StartRecord) {
        await subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SetupRow();
    <tr @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.ListOptions.RenderBody("left", subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowCount)
    @if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.id.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_id" class="el_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_id">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.id.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.id.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.idProses.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_idProses" class="el_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_idProses">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.idProses.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.idAktifitas.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_idAktifitas" class="el_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_idAktifitas">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.idAktifitas.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.NoReferensi.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_NoReferensi" class="el_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_NoReferensi">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.NoReferensi.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_KLObs.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_KLObs.Visible (begin)
        <td data-name="BL_KLObs" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_KLObs.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_BL_KLObs" class="el_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_BL_KLObs">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_KLObs.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_KLObs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_KLObs.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_KL15.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_KL15.Visible (begin)
        <td data-name="BL_KL15" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_KL15.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_BL_KL15" class="el_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_BL_KL15">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_KL15.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_KL15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_KL15.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_Barrels.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_Barrels.Visible (begin)
        <td data-name="BL_Barrels" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_Barrels.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_BL_Barrels" class="el_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_BL_Barrels">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_Barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_Barrels.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_LT.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_LT.Visible (begin)
        <td data-name="BL_LT" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_LT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_BL_LT" class="el_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_BL_LT">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_LT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_LT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_LT.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_MT.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_MT.Visible (begin)
        <td data-name="BL_MT" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_MT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_BL_MT" class="el_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_BL_MT">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_MT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.BL_MT.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_KLObs.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_KLObs.Visible (begin)
        <td data-name="SFAL_KLObs" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_KLObs.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_SFAL_KLObs" class="el_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_SFAL_KLObs">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_KLObs.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_KLObs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_KLObs.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_KL15.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_KL15.Visible (begin)
        <td data-name="SFAL_KL15" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_KL15.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_SFAL_KL15" class="el_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_SFAL_KL15">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_KL15.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_KL15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_KL15.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_Barrels.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_Barrels.Visible (begin)
        <td data-name="SFAL_Barrels" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_Barrels.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_SFAL_Barrels" class="el_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_SFAL_Barrels">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_Barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_Barrels.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_LT.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_LT.Visible (begin)
        <td data-name="SFAL_LT" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_LT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_SFAL_LT" class="el_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_SFAL_LT">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_LT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_LT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_LT.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_MT.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_MT.Visible (begin)
        <td data-name="SFAL_MT" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_MT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_SFAL_MT" class="el_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_SFAL_MT">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_MT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.SFAL_MT.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.userInput.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_userInput" class="el_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_userInput">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.userInput.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.etlDate.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_etlDate" class="el_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_etlDate">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.etlDate.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.LastUpdatedBy.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_LastUpdatedBy" class="el_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_LastUpdatedBy">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.lastUpdatedDate.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_lastUpdatedDate" class="el_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_lastUpdatedDate">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.StatusAktivitas.Visible) { // subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowCount)_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_StatusAktivitas" class="el_SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM_StatusAktivitas">
<span @Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.StatusAktivitas.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.ListOptions.RenderBody("right", subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowIndex, "$rowindex$"))
        subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.IsCopy || subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.IsAdd) && subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.CurrentAction) && !subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.CloseRecordset(); }
@if (!subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.IsGridAdd && !(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.IsGridEdit && subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.ModalGridEdit) && !subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.IsMultiEdit) {
@Html.Raw(subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasNilaiBlsfalPenyaluranStsPyrBbmList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasNilaiBLSFALPenyaluranSTSPyrBBM");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
