@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputDataStopPembongkaranList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputDataStopPembongkaranList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputDataStopPembongkaranList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputDataStopPembongkaranList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputDataStopPembongkaran: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasFormInputDataStopPembongkaranList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasFormInputDataStopPembongkaranList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasFormInputDataStopPembongkaranList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasFormInputDataStopPembongkaranList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasFormInputDataStopPembongkaranList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasFormInputDataStopPembongkaranList.TotalRecords > 0 && subAktivitasFormInputDataStopPembongkaranList.ExportOptions.Visible) {
    subAktivitasFormInputDataStopPembongkaranList.ExportOptions.Render("body");
}
@if (subAktivitasFormInputDataStopPembongkaranList.ImportOptions.Visible) {
    subAktivitasFormInputDataStopPembongkaranList.ImportOptions.Render("body");
}
@if (subAktivitasFormInputDataStopPembongkaranList.SearchOptions.Visible) {
    subAktivitasFormInputDataStopPembongkaranList.SearchOptions.Render("body");
}
@if (subAktivitasFormInputDataStopPembongkaranList.FilterOptions.Visible) {
    subAktivitasFormInputDataStopPembongkaranList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasFormInputDataStopPembongkaranList.IsModal) {
<form name="fSubAktivitasFormInputDataStopPembongkaransrch" id="fSubAktivitasFormInputDataStopPembongkaransrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasFormInputDataStopPembongkaransrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasFormInputDataStopPembongkaranList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputDataStopPembongkaranList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputDataStopPembongkaran: currentTable } });
var currentForm;
var fSubAktivitasFormInputDataStopPembongkaransrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputDataStopPembongkaransrch")
        .setPageId("list")
@if (subAktivitasFormInputDataStopPembongkaranList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasFormInputDataStopPembongkaranList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasFormInputDataStopPembongkaranList.IsExport() && Empty(subAktivitasFormInputDataStopPembongkaranList.CurrentAction) && subAktivitasFormInputDataStopPembongkaranList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasFormInputDataStopPembongkaranList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasFormInputDataStopPembongkaranList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasFormInputDataStopPembongkaranList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasFormInputDataStopPembongkaranList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasFormInputDataStopPembongkaransrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputDataStopPembongkaranList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasFormInputDataStopPembongkaransrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputDataStopPembongkaranList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasFormInputDataStopPembongkaransrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputDataStopPembongkaranList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasFormInputDataStopPembongkaransrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasFormInputDataStopPembongkaranList.ShowPageHeader()
@subAktivitasFormInputDataStopPembongkaranList.ShowMessages()
<main class="list @(subAktivitasFormInputDataStopPembongkaranList.TotalRecords == 0 && !subAktivitasFormInputDataStopPembongkaranList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasFormInputDataStopPembongkaranList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasFormInputDataStopPembongkaranList.TotalRecords > 0 || !Empty(subAktivitasFormInputDataStopPembongkaranList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasFormInputDataStopPembongkaranList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasFormInputDataStopPembongkaranList.TableGridClass)">
<form name="@(subAktivitasFormInputDataStopPembongkaranList.FormName)" id="@(subAktivitasFormInputDataStopPembongkaranList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasFormInputDataStopPembongkaranList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasFormInputDataStopPembongkaranList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasFormInputDataStopPembongkaran" class="card-body ew-grid-middle-panel @(subAktivitasFormInputDataStopPembongkaranList.TableContainerClass)" style="@(subAktivitasFormInputDataStopPembongkaranList.TableContainerStyle)">
@if (subAktivitasFormInputDataStopPembongkaranList.TotalRecords > 0 || subAktivitasFormInputDataStopPembongkaranList.IsGridEdit || subAktivitasFormInputDataStopPembongkaranList.IsMultiEdit) {
<table id="tbl_SubAktivitasFormInputDataStopPembongkaranlist" class="@(subAktivitasFormInputDataStopPembongkaranList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasFormInputDataStopPembongkaranList.RowType = RowType.Header;

    // Render list options
    await subAktivitasFormInputDataStopPembongkaranList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasFormInputDataStopPembongkaranList.ListOptions.RenderHeader("left")
@if (subAktivitasFormInputDataStopPembongkaranList.id.Visible) { // subAktivitasFormInputDataStopPembongkaranList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasFormInputDataStopPembongkaranList.id.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStopPembongkaran_id" class="SubAktivitasFormInputDataStopPembongkaran_id">@Html.Raw(subAktivitasFormInputDataStopPembongkaranList.RenderFieldHeader(subAktivitasFormInputDataStopPembongkaranList.id))</div></th>
} @* subAktivitasFormInputDataStopPembongkaranList.id.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranList.NoReferensi.Visible) { // subAktivitasFormInputDataStopPembongkaranList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasFormInputDataStopPembongkaranList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStopPembongkaran_NoReferensi" class="SubAktivitasFormInputDataStopPembongkaran_NoReferensi">@Html.Raw(subAktivitasFormInputDataStopPembongkaranList.RenderFieldHeader(subAktivitasFormInputDataStopPembongkaranList.NoReferensi))</div></th>
} @* subAktivitasFormInputDataStopPembongkaranList.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranList.idProses.Visible) { // subAktivitasFormInputDataStopPembongkaranList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasFormInputDataStopPembongkaranList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStopPembongkaran_idProses" class="SubAktivitasFormInputDataStopPembongkaran_idProses">@Html.Raw(subAktivitasFormInputDataStopPembongkaranList.RenderFieldHeader(subAktivitasFormInputDataStopPembongkaranList.idProses))</div></th>
} @* subAktivitasFormInputDataStopPembongkaranList.idProses.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranList.idAktifitas.Visible) { // subAktivitasFormInputDataStopPembongkaranList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasFormInputDataStopPembongkaranList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStopPembongkaran_idAktifitas" class="SubAktivitasFormInputDataStopPembongkaran_idAktifitas">@Html.Raw(subAktivitasFormInputDataStopPembongkaranList.RenderFieldHeader(subAktivitasFormInputDataStopPembongkaranList.idAktifitas))</div></th>
} @* subAktivitasFormInputDataStopPembongkaranList.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranList.StatusAktivitas.Visible) { // subAktivitasFormInputDataStopPembongkaranList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasFormInputDataStopPembongkaranList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStopPembongkaran_StatusAktivitas" class="SubAktivitasFormInputDataStopPembongkaran_StatusAktivitas">@Html.Raw(subAktivitasFormInputDataStopPembongkaranList.RenderFieldHeader(subAktivitasFormInputDataStopPembongkaranList.StatusAktivitas))</div></th>
} @* subAktivitasFormInputDataStopPembongkaranList.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranList.LastUpdatedBy.Visible) { // subAktivitasFormInputDataStopPembongkaranList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasFormInputDataStopPembongkaranList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStopPembongkaran_LastUpdatedBy" class="SubAktivitasFormInputDataStopPembongkaran_LastUpdatedBy">@Html.Raw(subAktivitasFormInputDataStopPembongkaranList.RenderFieldHeader(subAktivitasFormInputDataStopPembongkaranList.LastUpdatedBy))</div></th>
} @* subAktivitasFormInputDataStopPembongkaranList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranList.lastUpdatedDate.Visible) { // subAktivitasFormInputDataStopPembongkaranList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasFormInputDataStopPembongkaranList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStopPembongkaran_lastUpdatedDate" class="SubAktivitasFormInputDataStopPembongkaran_lastUpdatedDate">@Html.Raw(subAktivitasFormInputDataStopPembongkaranList.RenderFieldHeader(subAktivitasFormInputDataStopPembongkaranList.lastUpdatedDate))</div></th>
} @* subAktivitasFormInputDataStopPembongkaranList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranList.Tanggal.Visible) { // subAktivitasFormInputDataStopPembongkaranList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasFormInputDataStopPembongkaranList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStopPembongkaran_Tanggal" class="SubAktivitasFormInputDataStopPembongkaran_Tanggal">@Html.Raw(subAktivitasFormInputDataStopPembongkaranList.RenderFieldHeader(subAktivitasFormInputDataStopPembongkaranList.Tanggal))</div></th>
} @* subAktivitasFormInputDataStopPembongkaranList.Tanggal.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranList.userInput.Visible) { // subAktivitasFormInputDataStopPembongkaranList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasFormInputDataStopPembongkaranList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStopPembongkaran_userInput" class="SubAktivitasFormInputDataStopPembongkaran_userInput">@Html.Raw(subAktivitasFormInputDataStopPembongkaranList.RenderFieldHeader(subAktivitasFormInputDataStopPembongkaranList.userInput))</div></th>
} @* subAktivitasFormInputDataStopPembongkaranList.userInput.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranList.etlDate.Visible) { // subAktivitasFormInputDataStopPembongkaranList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasFormInputDataStopPembongkaranList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputDataStopPembongkaran_etlDate" class="SubAktivitasFormInputDataStopPembongkaran_etlDate">@Html.Raw(subAktivitasFormInputDataStopPembongkaranList.RenderFieldHeader(subAktivitasFormInputDataStopPembongkaranList.etlDate))</div></th>
} @* subAktivitasFormInputDataStopPembongkaranList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasFormInputDataStopPembongkaranList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasFormInputDataStopPembongkaranList.PageNumber)">
@{
    await subAktivitasFormInputDataStopPembongkaranList.SetupGrid();
    bool eof = subAktivitasFormInputDataStopPembongkaranList.Recordset == null; // DN
}
@while (subAktivitasFormInputDataStopPembongkaranList.RecordCount < subAktivitasFormInputDataStopPembongkaranList.StopRecord || SameString(subAktivitasFormInputDataStopPembongkaranList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasFormInputDataStopPembongkaranList.RowIndex, "$rowindex$") &&
        (!subAktivitasFormInputDataStopPembongkaranList.IsGridAdd || subAktivitasFormInputDataStopPembongkaranList.CurrentMode == "copy") &&
        (!((subAktivitasFormInputDataStopPembongkaranList.IsCopy || subAktivitasFormInputDataStopPembongkaranList.IsAdd) && subAktivitasFormInputDataStopPembongkaranList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasFormInputDataStopPembongkaranList.Recordset.ReadAsync();
    subAktivitasFormInputDataStopPembongkaranList.RecordCount++;
    if (subAktivitasFormInputDataStopPembongkaranList.RecordCount >= subAktivitasFormInputDataStopPembongkaranList.StartRecord) {
        await subAktivitasFormInputDataStopPembongkaranList.SetupRow();
    <tr @Html.Raw(subAktivitasFormInputDataStopPembongkaranList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasFormInputDataStopPembongkaranList.ListOptions.RenderBody("left", subAktivitasFormInputDataStopPembongkaranList.RowCount)
    @if (subAktivitasFormInputDataStopPembongkaranList.id.Visible) { // subAktivitasFormInputDataStopPembongkaranList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasFormInputDataStopPembongkaranList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataStopPembongkaranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataStopPembongkaranList.RowCount)_SubAktivitasFormInputDataStopPembongkaran_id" class="el_SubAktivitasFormInputDataStopPembongkaran_id">
<span @Html.Raw(subAktivitasFormInputDataStopPembongkaranList.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPembongkaranList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStopPembongkaranList.id.Visible (end) *@
    @if (subAktivitasFormInputDataStopPembongkaranList.NoReferensi.Visible) { // subAktivitasFormInputDataStopPembongkaranList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputDataStopPembongkaranList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataStopPembongkaranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataStopPembongkaranList.RowCount)_SubAktivitasFormInputDataStopPembongkaran_NoReferensi" class="el_SubAktivitasFormInputDataStopPembongkaran_NoReferensi">
<span @Html.Raw(subAktivitasFormInputDataStopPembongkaranList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPembongkaranList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStopPembongkaranList.NoReferensi.Visible (end) *@
    @if (subAktivitasFormInputDataStopPembongkaranList.idProses.Visible) { // subAktivitasFormInputDataStopPembongkaranList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputDataStopPembongkaranList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataStopPembongkaranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataStopPembongkaranList.RowCount)_SubAktivitasFormInputDataStopPembongkaran_idProses" class="el_SubAktivitasFormInputDataStopPembongkaran_idProses">
<span @Html.Raw(subAktivitasFormInputDataStopPembongkaranList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPembongkaranList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStopPembongkaranList.idProses.Visible (end) *@
    @if (subAktivitasFormInputDataStopPembongkaranList.idAktifitas.Visible) { // subAktivitasFormInputDataStopPembongkaranList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputDataStopPembongkaranList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataStopPembongkaranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataStopPembongkaranList.RowCount)_SubAktivitasFormInputDataStopPembongkaran_idAktifitas" class="el_SubAktivitasFormInputDataStopPembongkaran_idAktifitas">
<span @Html.Raw(subAktivitasFormInputDataStopPembongkaranList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPembongkaranList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStopPembongkaranList.idAktifitas.Visible (end) *@
    @if (subAktivitasFormInputDataStopPembongkaranList.StatusAktivitas.Visible) { // subAktivitasFormInputDataStopPembongkaranList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputDataStopPembongkaranList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataStopPembongkaranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataStopPembongkaranList.RowCount)_SubAktivitasFormInputDataStopPembongkaran_StatusAktivitas" class="el_SubAktivitasFormInputDataStopPembongkaran_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputDataStopPembongkaranList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPembongkaranList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStopPembongkaranList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasFormInputDataStopPembongkaranList.LastUpdatedBy.Visible) { // subAktivitasFormInputDataStopPembongkaranList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputDataStopPembongkaranList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataStopPembongkaranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataStopPembongkaranList.RowCount)_SubAktivitasFormInputDataStopPembongkaran_LastUpdatedBy" class="el_SubAktivitasFormInputDataStopPembongkaran_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputDataStopPembongkaranList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPembongkaranList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStopPembongkaranList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasFormInputDataStopPembongkaranList.lastUpdatedDate.Visible) { // subAktivitasFormInputDataStopPembongkaranList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputDataStopPembongkaranList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataStopPembongkaranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataStopPembongkaranList.RowCount)_SubAktivitasFormInputDataStopPembongkaran_lastUpdatedDate" class="el_SubAktivitasFormInputDataStopPembongkaran_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputDataStopPembongkaranList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPembongkaranList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStopPembongkaranList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasFormInputDataStopPembongkaranList.Tanggal.Visible) { // subAktivitasFormInputDataStopPembongkaranList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasFormInputDataStopPembongkaranList.Tanggal.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataStopPembongkaranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataStopPembongkaranList.RowCount)_SubAktivitasFormInputDataStopPembongkaran_Tanggal" class="el_SubAktivitasFormInputDataStopPembongkaran_Tanggal">
<span @Html.Raw(subAktivitasFormInputDataStopPembongkaranList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPembongkaranList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStopPembongkaranList.Tanggal.Visible (end) *@
    @if (subAktivitasFormInputDataStopPembongkaranList.userInput.Visible) { // subAktivitasFormInputDataStopPembongkaranList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputDataStopPembongkaranList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataStopPembongkaranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataStopPembongkaranList.RowCount)_SubAktivitasFormInputDataStopPembongkaran_userInput" class="el_SubAktivitasFormInputDataStopPembongkaran_userInput">
<span @Html.Raw(subAktivitasFormInputDataStopPembongkaranList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPembongkaranList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStopPembongkaranList.userInput.Visible (end) *@
    @if (subAktivitasFormInputDataStopPembongkaranList.etlDate.Visible) { // subAktivitasFormInputDataStopPembongkaranList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputDataStopPembongkaranList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasFormInputDataStopPembongkaranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasFormInputDataStopPembongkaranList.RowCount)_SubAktivitasFormInputDataStopPembongkaran_etlDate" class="el_SubAktivitasFormInputDataStopPembongkaran_etlDate">
<span @Html.Raw(subAktivitasFormInputDataStopPembongkaranList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPembongkaranList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputDataStopPembongkaranList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasFormInputDataStopPembongkaranList.ListOptions.RenderBody("right", subAktivitasFormInputDataStopPembongkaranList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasFormInputDataStopPembongkaranList.RowIndex, "$rowindex$"))
        subAktivitasFormInputDataStopPembongkaranList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasFormInputDataStopPembongkaranList.IsCopy || subAktivitasFormInputDataStopPembongkaranList.IsAdd) && subAktivitasFormInputDataStopPembongkaranList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasFormInputDataStopPembongkaranList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasFormInputDataStopPembongkaranList.CurrentAction) && !subAktivitasFormInputDataStopPembongkaranList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasFormInputDataStopPembongkaranList.CloseRecordset(); }
@if (!subAktivitasFormInputDataStopPembongkaranList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasFormInputDataStopPembongkaranList.IsGridAdd && !(subAktivitasFormInputDataStopPembongkaranList.IsGridEdit && subAktivitasFormInputDataStopPembongkaranList.ModalGridEdit) && !subAktivitasFormInputDataStopPembongkaranList.IsMultiEdit) {
@Html.Raw(subAktivitasFormInputDataStopPembongkaranList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasFormInputDataStopPembongkaranList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasFormInputDataStopPembongkaranList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasFormInputDataStopPembongkaranList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasFormInputDataStopPembongkaranList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputDataStopPembongkaranList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputDataStopPembongkaran");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
