@{
    // View
    View = this;

    // Check action result
    if (subaktivitasStopBongkarList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subaktivitasStopBongkarList.UseLayout ? "_Layout" : "";
}
@if (!subaktivitasStopBongkarList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasStopBongkarList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasStopBongkar: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subaktivitasStopBongkarList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subaktivitasStopBongkarList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subaktivitasStopBongkarList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subaktivitasStopBongkarList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subaktivitasStopBongkarList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subaktivitasStopBongkarList.TotalRecords > 0 && subaktivitasStopBongkarList.ExportOptions.Visible) {
    subaktivitasStopBongkarList.ExportOptions.Render("body");
}
@if (subaktivitasStopBongkarList.ImportOptions.Visible) {
    subaktivitasStopBongkarList.ImportOptions.Render("body");
}
@if (subaktivitasStopBongkarList.SearchOptions.Visible) {
    subaktivitasStopBongkarList.SearchOptions.Render("body");
}
@if (subaktivitasStopBongkarList.FilterOptions.Visible) {
    subaktivitasStopBongkarList.FilterOptions.Render("body");
}
</div>
}
@if (!subaktivitasStopBongkarList.IsModal) {
<form name="fSubaktivitasStopBongkarsrch" id="fSubaktivitasStopBongkarsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubaktivitasStopBongkarsrch_search_panel" class="mb-2 mb-sm-0 @(subaktivitasStopBongkarList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasStopBongkarList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasStopBongkar: currentTable } });
var currentForm;
var fSubaktivitasStopBongkarsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubaktivitasStopBongkarsrch")
        .setPageId("list")
@if (subaktivitasStopBongkarList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subaktivitasStopBongkarList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subaktivitasStopBongkarList.IsExport() && Empty(subaktivitasStopBongkarList.CurrentAction) && subaktivitasStopBongkarList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subaktivitasStopBongkarList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subaktivitasStopBongkarList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subaktivitasStopBongkarList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subaktivitasStopBongkarList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubaktivitasStopBongkarsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subaktivitasStopBongkarList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubaktivitasStopBongkarsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subaktivitasStopBongkarList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubaktivitasStopBongkarsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subaktivitasStopBongkarList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubaktivitasStopBongkarsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subaktivitasStopBongkarList.ShowPageHeader()
@subaktivitasStopBongkarList.ShowMessages()
<main class="list @(subaktivitasStopBongkarList.TotalRecords == 0 && !subaktivitasStopBongkarList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subaktivitasStopBongkarList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subaktivitasStopBongkarList.TotalRecords > 0 || !Empty(subaktivitasStopBongkarList.CurrentAction)) {
<div class="card ew-card ew-grid@(subaktivitasStopBongkarList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subaktivitasStopBongkarList.TableGridClass)">
<form name="@(subaktivitasStopBongkarList.FormName)" id="@(subaktivitasStopBongkarList.FormName)" class="ew-form ew-list-form" action="@AppPath(subaktivitasStopBongkarList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subaktivitasStopBongkarList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubaktivitasStopBongkar" class="card-body ew-grid-middle-panel @(subaktivitasStopBongkarList.TableContainerClass)" style="@(subaktivitasStopBongkarList.TableContainerStyle)">
@if (subaktivitasStopBongkarList.TotalRecords > 0 || subaktivitasStopBongkarList.IsGridEdit || subaktivitasStopBongkarList.IsMultiEdit) {
<table id="tbl_SubaktivitasStopBongkarlist" class="@(subaktivitasStopBongkarList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subaktivitasStopBongkarList.RowType = RowType.Header;

    // Render list options
    await subaktivitasStopBongkarList.RenderListOptions();
}
@* Render list options (header, left) *@
@subaktivitasStopBongkarList.ListOptions.RenderHeader("left")
@if (subaktivitasStopBongkarList.idAktifitas.Visible) { // subaktivitasStopBongkarList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subaktivitasStopBongkarList.idAktifitas.HeaderCellClass)"><div id="elh_SubaktivitasStopBongkar_idAktifitas" class="SubaktivitasStopBongkar_idAktifitas">@Html.Raw(subaktivitasStopBongkarList.RenderFieldHeader(subaktivitasStopBongkarList.idAktifitas))</div></th>
} @* subaktivitasStopBongkarList.idAktifitas.Visible (end) *@
@if (subaktivitasStopBongkarList.idProses.Visible) { // subaktivitasStopBongkarList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subaktivitasStopBongkarList.idProses.HeaderCellClass)"><div id="elh_SubaktivitasStopBongkar_idProses" class="SubaktivitasStopBongkar_idProses">@Html.Raw(subaktivitasStopBongkarList.RenderFieldHeader(subaktivitasStopBongkarList.idProses))</div></th>
} @* subaktivitasStopBongkarList.idProses.Visible (end) *@
@if (subaktivitasStopBongkarList.NoReferensi.Visible) { // subaktivitasStopBongkarList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subaktivitasStopBongkarList.NoReferensi.HeaderCellClass)"><div id="elh_SubaktivitasStopBongkar_NoReferensi" class="SubaktivitasStopBongkar_NoReferensi">@Html.Raw(subaktivitasStopBongkarList.RenderFieldHeader(subaktivitasStopBongkarList.NoReferensi))</div></th>
} @* subaktivitasStopBongkarList.NoReferensi.Visible (end) *@
@if (subaktivitasStopBongkarList.StatusAktivitas.Visible) { // subaktivitasStopBongkarList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subaktivitasStopBongkarList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubaktivitasStopBongkar_StatusAktivitas" class="SubaktivitasStopBongkar_StatusAktivitas">@Html.Raw(subaktivitasStopBongkarList.RenderFieldHeader(subaktivitasStopBongkarList.StatusAktivitas))</div></th>
} @* subaktivitasStopBongkarList.StatusAktivitas.Visible (end) *@
@if (subaktivitasStopBongkarList.LastUpdatedBy.Visible) { // subaktivitasStopBongkarList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subaktivitasStopBongkarList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubaktivitasStopBongkar_LastUpdatedBy" class="SubaktivitasStopBongkar_LastUpdatedBy">@Html.Raw(subaktivitasStopBongkarList.RenderFieldHeader(subaktivitasStopBongkarList.LastUpdatedBy))</div></th>
} @* subaktivitasStopBongkarList.LastUpdatedBy.Visible (end) *@
@if (subaktivitasStopBongkarList.lastUpdatedDate.Visible) { // subaktivitasStopBongkarList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subaktivitasStopBongkarList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubaktivitasStopBongkar_lastUpdatedDate" class="SubaktivitasStopBongkar_lastUpdatedDate">@Html.Raw(subaktivitasStopBongkarList.RenderFieldHeader(subaktivitasStopBongkarList.lastUpdatedDate))</div></th>
} @* subaktivitasStopBongkarList.lastUpdatedDate.Visible (end) *@
@if (subaktivitasStopBongkarList.tglStopBongkar.Visible) { // subaktivitasStopBongkarList.tglStopBongkar.Visible (begin)
        <th data-name="tglStopBongkar" class="@(subaktivitasStopBongkarList.tglStopBongkar.HeaderCellClass)"><div id="elh_SubaktivitasStopBongkar_tglStopBongkar" class="SubaktivitasStopBongkar_tglStopBongkar">@Html.Raw(subaktivitasStopBongkarList.RenderFieldHeader(subaktivitasStopBongkarList.tglStopBongkar))</div></th>
} @* subaktivitasStopBongkarList.tglStopBongkar.Visible (end) *@
@if (subaktivitasStopBongkarList.userInput.Visible) { // subaktivitasStopBongkarList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subaktivitasStopBongkarList.userInput.HeaderCellClass)"><div id="elh_SubaktivitasStopBongkar_userInput" class="SubaktivitasStopBongkar_userInput">@Html.Raw(subaktivitasStopBongkarList.RenderFieldHeader(subaktivitasStopBongkarList.userInput))</div></th>
} @* subaktivitasStopBongkarList.userInput.Visible (end) *@
@* Render list options (header, right) *@
@subaktivitasStopBongkarList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subaktivitasStopBongkarList.PageNumber)">
@{
    await subaktivitasStopBongkarList.SetupGrid();
    bool eof = subaktivitasStopBongkarList.Recordset == null; // DN
}
@while (subaktivitasStopBongkarList.RecordCount < subaktivitasStopBongkarList.StopRecord || SameString(subaktivitasStopBongkarList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subaktivitasStopBongkarList.RowIndex, "$rowindex$") &&
        (!subaktivitasStopBongkarList.IsGridAdd || subaktivitasStopBongkarList.CurrentMode == "copy") &&
        (!((subaktivitasStopBongkarList.IsCopy || subaktivitasStopBongkarList.IsAdd) && subaktivitasStopBongkarList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subaktivitasStopBongkarList.Recordset.ReadAsync();
    subaktivitasStopBongkarList.RecordCount++;
    if (subaktivitasStopBongkarList.RecordCount >= subaktivitasStopBongkarList.StartRecord) {
        await subaktivitasStopBongkarList.SetupRow();
    <tr @Html.Raw(subaktivitasStopBongkarList.RowAttributes)>
    @* Render list options (body, left) *@
    @subaktivitasStopBongkarList.ListOptions.RenderBody("left", subaktivitasStopBongkarList.RowCount)
    @if (subaktivitasStopBongkarList.idAktifitas.Visible) { // subaktivitasStopBongkarList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subaktivitasStopBongkarList.idAktifitas.CellAttributes)>
<span id="el@(subaktivitasStopBongkarList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasStopBongkarList.RowCount)_SubaktivitasStopBongkar_idAktifitas" class="el_SubaktivitasStopBongkar_idAktifitas">
<span @Html.Raw(subaktivitasStopBongkarList.idAktifitas.ViewAttributes)>
@Html.Raw(subaktivitasStopBongkarList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStopBongkarList.idAktifitas.Visible (end) *@
    @if (subaktivitasStopBongkarList.idProses.Visible) { // subaktivitasStopBongkarList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subaktivitasStopBongkarList.idProses.CellAttributes)>
<span id="el@(subaktivitasStopBongkarList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasStopBongkarList.RowCount)_SubaktivitasStopBongkar_idProses" class="el_SubaktivitasStopBongkar_idProses">
<span @Html.Raw(subaktivitasStopBongkarList.idProses.ViewAttributes)>
@Html.Raw(subaktivitasStopBongkarList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStopBongkarList.idProses.Visible (end) *@
    @if (subaktivitasStopBongkarList.NoReferensi.Visible) { // subaktivitasStopBongkarList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subaktivitasStopBongkarList.NoReferensi.CellAttributes)>
<span id="el@(subaktivitasStopBongkarList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasStopBongkarList.RowCount)_SubaktivitasStopBongkar_NoReferensi" class="el_SubaktivitasStopBongkar_NoReferensi">
<span @Html.Raw(subaktivitasStopBongkarList.NoReferensi.ViewAttributes)>
@Html.Raw(subaktivitasStopBongkarList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStopBongkarList.NoReferensi.Visible (end) *@
    @if (subaktivitasStopBongkarList.StatusAktivitas.Visible) { // subaktivitasStopBongkarList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subaktivitasStopBongkarList.StatusAktivitas.CellAttributes)>
<span id="el@(subaktivitasStopBongkarList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasStopBongkarList.RowCount)_SubaktivitasStopBongkar_StatusAktivitas" class="el_SubaktivitasStopBongkar_StatusAktivitas">
<span @Html.Raw(subaktivitasStopBongkarList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subaktivitasStopBongkarList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStopBongkarList.StatusAktivitas.Visible (end) *@
    @if (subaktivitasStopBongkarList.LastUpdatedBy.Visible) { // subaktivitasStopBongkarList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subaktivitasStopBongkarList.LastUpdatedBy.CellAttributes)>
<span id="el@(subaktivitasStopBongkarList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasStopBongkarList.RowCount)_SubaktivitasStopBongkar_LastUpdatedBy" class="el_SubaktivitasStopBongkar_LastUpdatedBy">
<span @Html.Raw(subaktivitasStopBongkarList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subaktivitasStopBongkarList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStopBongkarList.LastUpdatedBy.Visible (end) *@
    @if (subaktivitasStopBongkarList.lastUpdatedDate.Visible) { // subaktivitasStopBongkarList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subaktivitasStopBongkarList.lastUpdatedDate.CellAttributes)>
<span id="el@(subaktivitasStopBongkarList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasStopBongkarList.RowCount)_SubaktivitasStopBongkar_lastUpdatedDate" class="el_SubaktivitasStopBongkar_lastUpdatedDate">
<span @Html.Raw(subaktivitasStopBongkarList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subaktivitasStopBongkarList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStopBongkarList.lastUpdatedDate.Visible (end) *@
    @if (subaktivitasStopBongkarList.tglStopBongkar.Visible) { // subaktivitasStopBongkarList.tglStopBongkar.Visible (begin)
        <td data-name="tglStopBongkar" @Html.Raw(subaktivitasStopBongkarList.tglStopBongkar.CellAttributes)>
<span id="el@(subaktivitasStopBongkarList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasStopBongkarList.RowCount)_SubaktivitasStopBongkar_tglStopBongkar" class="el_SubaktivitasStopBongkar_tglStopBongkar">
<span @Html.Raw(subaktivitasStopBongkarList.tglStopBongkar.ViewAttributes)>
@Html.Raw(subaktivitasStopBongkarList.tglStopBongkar.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStopBongkarList.tglStopBongkar.Visible (end) *@
    @if (subaktivitasStopBongkarList.userInput.Visible) { // subaktivitasStopBongkarList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subaktivitasStopBongkarList.userInput.CellAttributes)>
<span id="el@(subaktivitasStopBongkarList.RowIndex == "$rowindex$" ? "$rowindex$" : subaktivitasStopBongkarList.RowCount)_SubaktivitasStopBongkar_userInput" class="el_SubaktivitasStopBongkar_userInput">
<span @Html.Raw(subaktivitasStopBongkarList.userInput.ViewAttributes)>
@Html.Raw(subaktivitasStopBongkarList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subaktivitasStopBongkarList.userInput.Visible (end) *@
    @* Render list options (body, right) *@
    @subaktivitasStopBongkarList.ListOptions.RenderBody("right", subaktivitasStopBongkarList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subaktivitasStopBongkarList.RowIndex, "$rowindex$"))
        subaktivitasStopBongkarList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subaktivitasStopBongkarList.IsCopy || subaktivitasStopBongkarList.IsAdd) && subaktivitasStopBongkarList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subaktivitasStopBongkarList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subaktivitasStopBongkarList.CurrentAction) && !subaktivitasStopBongkarList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subaktivitasStopBongkarList.CloseRecordset(); }
@if (!subaktivitasStopBongkarList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subaktivitasStopBongkarList.IsGridAdd && !(subaktivitasStopBongkarList.IsGridEdit && subaktivitasStopBongkarList.ModalGridEdit) && !subaktivitasStopBongkarList.IsMultiEdit) {
@Html.Raw(subaktivitasStopBongkarList.Pager.Render())
}
<div class="ew-list-other-options">
@subaktivitasStopBongkarList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subaktivitasStopBongkarList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subaktivitasStopBongkarList.FooterOptions.RenderBody()
</div>
</main>
@subaktivitasStopBongkarList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subaktivitasStopBongkarList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubaktivitasStopBongkar");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
