@{
    // View
    View = this;

    // Check action result
    if (subAktivitasKeberangkatanKapalPenyaluranList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasKeberangkatanKapalPenyaluranList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasKeberangkatanKapalPenyaluranList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasKeberangkatanKapalPenyaluranList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasKeberangkatanKapalPenyaluran: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasKeberangkatanKapalPenyaluranList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasKeberangkatanKapalPenyaluranList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasKeberangkatanKapalPenyaluranList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasKeberangkatanKapalPenyaluranList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasKeberangkatanKapalPenyaluranList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasKeberangkatanKapalPenyaluranList.TotalRecords > 0 && subAktivitasKeberangkatanKapalPenyaluranList.ExportOptions.Visible) {
    subAktivitasKeberangkatanKapalPenyaluranList.ExportOptions.Render("body");
}
@if (subAktivitasKeberangkatanKapalPenyaluranList.ImportOptions.Visible) {
    subAktivitasKeberangkatanKapalPenyaluranList.ImportOptions.Render("body");
}
@if (subAktivitasKeberangkatanKapalPenyaluranList.SearchOptions.Visible) {
    subAktivitasKeberangkatanKapalPenyaluranList.SearchOptions.Render("body");
}
@if (subAktivitasKeberangkatanKapalPenyaluranList.FilterOptions.Visible) {
    subAktivitasKeberangkatanKapalPenyaluranList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasKeberangkatanKapalPenyaluranList.IsModal) {
<form name="fSubAktivitasKeberangkatanKapalPenyaluransrch" id="fSubAktivitasKeberangkatanKapalPenyaluransrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasKeberangkatanKapalPenyaluransrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasKeberangkatanKapalPenyaluranList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasKeberangkatanKapalPenyaluranList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasKeberangkatanKapalPenyaluran: currentTable } });
var currentForm;
var fSubAktivitasKeberangkatanKapalPenyaluransrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasKeberangkatanKapalPenyaluransrch")
        .setPageId("list")
@if (subAktivitasKeberangkatanKapalPenyaluranList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasKeberangkatanKapalPenyaluranList.IsExport() && Empty(subAktivitasKeberangkatanKapalPenyaluranList.CurrentAction) && subAktivitasKeberangkatanKapalPenyaluranList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasKeberangkatanKapalPenyaluranList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasKeberangkatanKapalPenyaluranList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasKeberangkatanKapalPenyaluranList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasKeberangkatanKapalPenyaluransrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasKeberangkatanKapalPenyaluranList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasKeberangkatanKapalPenyaluransrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasKeberangkatanKapalPenyaluranList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasKeberangkatanKapalPenyaluransrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasKeberangkatanKapalPenyaluranList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasKeberangkatanKapalPenyaluransrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasKeberangkatanKapalPenyaluranList.ShowPageHeader()
@subAktivitasKeberangkatanKapalPenyaluranList.ShowMessages()
<main class="list @(subAktivitasKeberangkatanKapalPenyaluranList.TotalRecords == 0 && !subAktivitasKeberangkatanKapalPenyaluranList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasKeberangkatanKapalPenyaluranList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasKeberangkatanKapalPenyaluranList.TotalRecords > 0 || !Empty(subAktivitasKeberangkatanKapalPenyaluranList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasKeberangkatanKapalPenyaluranList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasKeberangkatanKapalPenyaluranList.TableGridClass)">
<form name="@(subAktivitasKeberangkatanKapalPenyaluranList.FormName)" id="@(subAktivitasKeberangkatanKapalPenyaluranList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasKeberangkatanKapalPenyaluranList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasKeberangkatanKapalPenyaluranList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasKeberangkatanKapalPenyaluran" class="card-body ew-grid-middle-panel @(subAktivitasKeberangkatanKapalPenyaluranList.TableContainerClass)" style="@(subAktivitasKeberangkatanKapalPenyaluranList.TableContainerStyle)">
@if (subAktivitasKeberangkatanKapalPenyaluranList.TotalRecords > 0 || subAktivitasKeberangkatanKapalPenyaluranList.IsGridEdit || subAktivitasKeberangkatanKapalPenyaluranList.IsMultiEdit) {
<table id="tbl_SubAktivitasKeberangkatanKapalPenyaluranlist" class="@(subAktivitasKeberangkatanKapalPenyaluranList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasKeberangkatanKapalPenyaluranList.RowType = RowType.Header;

    // Render list options
    await subAktivitasKeberangkatanKapalPenyaluranList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasKeberangkatanKapalPenyaluranList.ListOptions.RenderHeader("left")
@if (subAktivitasKeberangkatanKapalPenyaluranList.idProses.Visible) { // subAktivitasKeberangkatanKapalPenyaluranList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasKeberangkatanKapalPenyaluranList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluran_idProses" class="SubAktivitasKeberangkatanKapalPenyaluran_idProses">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranList.idProses))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranList.idProses.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranList.idAktifitas.Visible) { // subAktivitasKeberangkatanKapalPenyaluranList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasKeberangkatanKapalPenyaluranList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluran_idAktifitas" class="SubAktivitasKeberangkatanKapalPenyaluran_idAktifitas">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranList.idAktifitas))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranList.idAktifitas.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranList.NoReferensi.Visible) { // subAktivitasKeberangkatanKapalPenyaluranList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasKeberangkatanKapalPenyaluranList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluran_NoReferensi" class="SubAktivitasKeberangkatanKapalPenyaluran_NoReferensi">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranList.NoReferensi))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranList.NoReferensi.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranList.StatusAktivitas.Visible) { // subAktivitasKeberangkatanKapalPenyaluranList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasKeberangkatanKapalPenyaluranList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluran_StatusAktivitas" class="SubAktivitasKeberangkatanKapalPenyaluran_StatusAktivitas">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranList.StatusAktivitas))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranList.StatusAktivitas.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranList.Tanggal.Visible) { // subAktivitasKeberangkatanKapalPenyaluranList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasKeberangkatanKapalPenyaluranList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluran_Tanggal" class="SubAktivitasKeberangkatanKapalPenyaluran_Tanggal">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranList.Tanggal))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranList.Tanggal.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranList.userInput.Visible) { // subAktivitasKeberangkatanKapalPenyaluranList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasKeberangkatanKapalPenyaluranList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluran_userInput" class="SubAktivitasKeberangkatanKapalPenyaluran_userInput">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranList.userInput))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranList.userInput.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranList.LastUpdatedBy.Visible) { // subAktivitasKeberangkatanKapalPenyaluranList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasKeberangkatanKapalPenyaluranList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluran_LastUpdatedBy" class="SubAktivitasKeberangkatanKapalPenyaluran_LastUpdatedBy">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranList.LastUpdatedBy))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranList.lastUpdatedDate.Visible) { // subAktivitasKeberangkatanKapalPenyaluranList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasKeberangkatanKapalPenyaluranList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluran_lastUpdatedDate" class="SubAktivitasKeberangkatanKapalPenyaluran_lastUpdatedDate">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranList.lastUpdatedDate))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranList.lastUpdatedDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasKeberangkatanKapalPenyaluranList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasKeberangkatanKapalPenyaluranList.PageNumber)">
@{
    await subAktivitasKeberangkatanKapalPenyaluranList.SetupGrid();
    bool eof = subAktivitasKeberangkatanKapalPenyaluranList.Recordset == null; // DN
}
@while (subAktivitasKeberangkatanKapalPenyaluranList.RecordCount < subAktivitasKeberangkatanKapalPenyaluranList.StopRecord || SameString(subAktivitasKeberangkatanKapalPenyaluranList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasKeberangkatanKapalPenyaluranList.RowIndex, "$rowindex$") &&
        (!subAktivitasKeberangkatanKapalPenyaluranList.IsGridAdd || subAktivitasKeberangkatanKapalPenyaluranList.CurrentMode == "copy") &&
        (!((subAktivitasKeberangkatanKapalPenyaluranList.IsCopy || subAktivitasKeberangkatanKapalPenyaluranList.IsAdd) && subAktivitasKeberangkatanKapalPenyaluranList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasKeberangkatanKapalPenyaluranList.Recordset.ReadAsync();
    subAktivitasKeberangkatanKapalPenyaluranList.RecordCount++;
    if (subAktivitasKeberangkatanKapalPenyaluranList.RecordCount >= subAktivitasKeberangkatanKapalPenyaluranList.StartRecord) {
        await subAktivitasKeberangkatanKapalPenyaluranList.SetupRow();
    <tr @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasKeberangkatanKapalPenyaluranList.ListOptions.RenderBody("left", subAktivitasKeberangkatanKapalPenyaluranList.RowCount)
    @if (subAktivitasKeberangkatanKapalPenyaluranList.idProses.Visible) { // subAktivitasKeberangkatanKapalPenyaluranList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluran_idProses" class="el_SubAktivitasKeberangkatanKapalPenyaluran_idProses">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranList.idProses.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranList.idAktifitas.Visible) { // subAktivitasKeberangkatanKapalPenyaluranList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluran_idAktifitas" class="el_SubAktivitasKeberangkatanKapalPenyaluran_idAktifitas">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranList.idAktifitas.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranList.NoReferensi.Visible) { // subAktivitasKeberangkatanKapalPenyaluranList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluran_NoReferensi" class="el_SubAktivitasKeberangkatanKapalPenyaluran_NoReferensi">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranList.NoReferensi.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranList.StatusAktivitas.Visible) { // subAktivitasKeberangkatanKapalPenyaluranList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluran_StatusAktivitas" class="el_SubAktivitasKeberangkatanKapalPenyaluran_StatusAktivitas">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranList.Tanggal.Visible) { // subAktivitasKeberangkatanKapalPenyaluranList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.Tanggal.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluran_Tanggal" class="el_SubAktivitasKeberangkatanKapalPenyaluran_Tanggal">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranList.Tanggal.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranList.userInput.Visible) { // subAktivitasKeberangkatanKapalPenyaluranList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluran_userInput" class="el_SubAktivitasKeberangkatanKapalPenyaluran_userInput">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranList.userInput.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranList.LastUpdatedBy.Visible) { // subAktivitasKeberangkatanKapalPenyaluranList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluran_LastUpdatedBy" class="el_SubAktivitasKeberangkatanKapalPenyaluran_LastUpdatedBy">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranList.lastUpdatedDate.Visible) { // subAktivitasKeberangkatanKapalPenyaluranList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluran_lastUpdatedDate" class="el_SubAktivitasKeberangkatanKapalPenyaluran_lastUpdatedDate">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranList.lastUpdatedDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasKeberangkatanKapalPenyaluranList.ListOptions.RenderBody("right", subAktivitasKeberangkatanKapalPenyaluranList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasKeberangkatanKapalPenyaluranList.RowIndex, "$rowindex$"))
        subAktivitasKeberangkatanKapalPenyaluranList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasKeberangkatanKapalPenyaluranList.IsCopy || subAktivitasKeberangkatanKapalPenyaluranList.IsAdd) && subAktivitasKeberangkatanKapalPenyaluranList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasKeberangkatanKapalPenyaluranList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasKeberangkatanKapalPenyaluranList.CurrentAction) && !subAktivitasKeberangkatanKapalPenyaluranList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasKeberangkatanKapalPenyaluranList.CloseRecordset(); }
@if (!subAktivitasKeberangkatanKapalPenyaluranList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasKeberangkatanKapalPenyaluranList.IsGridAdd && !(subAktivitasKeberangkatanKapalPenyaluranList.IsGridEdit && subAktivitasKeberangkatanKapalPenyaluranList.ModalGridEdit) && !subAktivitasKeberangkatanKapalPenyaluranList.IsMultiEdit) {
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasKeberangkatanKapalPenyaluranList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasKeberangkatanKapalPenyaluranList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasKeberangkatanKapalPenyaluranList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasKeberangkatanKapalPenyaluranList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasKeberangkatanKapalPenyaluranList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasKeberangkatanKapalPenyaluran");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
