@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputLogbookPenerimaanPipaList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputLogbookPenerimaanPipaList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputLogbookPenerimaanPipaList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputLogbookPenerimaanPipaList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputLogbookPenerimaanPipa: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasFormInputLogbookPenerimaanPipaList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasFormInputLogbookPenerimaanPipaList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasFormInputLogbookPenerimaanPipaList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasFormInputLogbookPenerimaanPipaList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasFormInputLogbookPenerimaanPipaList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasFormInputLogbookPenerimaanPipaList.TotalRecords > 0 && subAktivitasFormInputLogbookPenerimaanPipaList.ExportOptions.Visible) {
    subAktivitasFormInputLogbookPenerimaanPipaList.ExportOptions.Render("body");
}
@if (subAktivitasFormInputLogbookPenerimaanPipaList.ImportOptions.Visible) {
    subAktivitasFormInputLogbookPenerimaanPipaList.ImportOptions.Render("body");
}
@if (subAktivitasFormInputLogbookPenerimaanPipaList.SearchOptions.Visible) {
    subAktivitasFormInputLogbookPenerimaanPipaList.SearchOptions.Render("body");
}
@if (subAktivitasFormInputLogbookPenerimaanPipaList.FilterOptions.Visible) {
    subAktivitasFormInputLogbookPenerimaanPipaList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasFormInputLogbookPenerimaanPipaList.IsModal) {
<form name="fSubAktivitasFormInputLogbookPenerimaanPipasrch" id="fSubAktivitasFormInputLogbookPenerimaanPipasrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasFormInputLogbookPenerimaanPipasrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasFormInputLogbookPenerimaanPipaList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputLogbookPenerimaanPipaList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputLogbookPenerimaanPipa: currentTable } });
var currentForm;
var fSubAktivitasFormInputLogbookPenerimaanPipasrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputLogbookPenerimaanPipasrch")
        .setPageId("list")
@if (subAktivitasFormInputLogbookPenerimaanPipaList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasFormInputLogbookPenerimaanPipaList.IsExport() && Empty(subAktivitasFormInputLogbookPenerimaanPipaList.CurrentAction) && subAktivitasFormInputLogbookPenerimaanPipaList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanPipaList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasFormInputLogbookPenerimaanPipaList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasFormInputLogbookPenerimaanPipaList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasFormInputLogbookPenerimaanPipasrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputLogbookPenerimaanPipaList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasFormInputLogbookPenerimaanPipasrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputLogbookPenerimaanPipaList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasFormInputLogbookPenerimaanPipasrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputLogbookPenerimaanPipaList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasFormInputLogbookPenerimaanPipasrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasFormInputLogbookPenerimaanPipaList.ShowPageHeader()
@subAktivitasFormInputLogbookPenerimaanPipaList.ShowMessages()
<main class="list @(subAktivitasFormInputLogbookPenerimaanPipaList.TotalRecords == 0 && !subAktivitasFormInputLogbookPenerimaanPipaList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasFormInputLogbookPenerimaanPipaList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasFormInputLogbookPenerimaanPipaList.TotalRecords > 0 || !Empty(subAktivitasFormInputLogbookPenerimaanPipaList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasFormInputLogbookPenerimaanPipaList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasFormInputLogbookPenerimaanPipaList.TableGridClass)">
<form name="@(subAktivitasFormInputLogbookPenerimaanPipaList.FormName)" id="@(subAktivitasFormInputLogbookPenerimaanPipaList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasFormInputLogbookPenerimaanPipaList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasFormInputLogbookPenerimaanPipaList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasFormInputLogbookPenerimaanPipa" class="card-body ew-grid-middle-panel @(subAktivitasFormInputLogbookPenerimaanPipaList.TableContainerClass)" style="@(subAktivitasFormInputLogbookPenerimaanPipaList.TableContainerStyle)">
@if (subAktivitasFormInputLogbookPenerimaanPipaList.TotalRecords > 0 || subAktivitasFormInputLogbookPenerimaanPipaList.IsGridEdit || subAktivitasFormInputLogbookPenerimaanPipaList.IsMultiEdit) {
<table id="tbl_SubAktivitasFormInputLogbookPenerimaanPipalist" class="@(subAktivitasFormInputLogbookPenerimaanPipaList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasFormInputLogbookPenerimaanPipaList.RowType = RowType.Header;

    // Render list options
    await subAktivitasFormInputLogbookPenerimaanPipaList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasFormInputLogbookPenerimaanPipaList.ListOptions.RenderHeader("left")
@if (subAktivitasFormInputLogbookPenerimaanPipaList.id.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasFormInputLogbookPenerimaanPipaList.id.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_id" class="SubAktivitasFormInputLogbookPenerimaanPipa_id">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanPipaList.id))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanPipaList.id.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaList.idAktifitas.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasFormInputLogbookPenerimaanPipaList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_idAktifitas" class="SubAktivitasFormInputLogbookPenerimaanPipa_idAktifitas">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanPipaList.idAktifitas))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanPipaList.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaList.NamaBatch.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.NamaBatch.Visible (begin)
        <th data-name="NamaBatch" class="@(subAktivitasFormInputLogbookPenerimaanPipaList.NamaBatch.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_NamaBatch" class="SubAktivitasFormInputLogbookPenerimaanPipa_NamaBatch">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanPipaList.NamaBatch))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanPipaList.NamaBatch.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaList.TanggalJam.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.TanggalJam.Visible (begin)
        <th data-name="TanggalJam" class="@(subAktivitasFormInputLogbookPenerimaanPipaList.TanggalJam.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_TanggalJam" class="SubAktivitasFormInputLogbookPenerimaanPipa_TanggalJam">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanPipaList.TanggalJam))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanPipaList.TanggalJam.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaList.NamaKegiatan.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.NamaKegiatan.Visible (begin)
        <th data-name="NamaKegiatan" class="@(subAktivitasFormInputLogbookPenerimaanPipaList.NamaKegiatan.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_NamaKegiatan" class="SubAktivitasFormInputLogbookPenerimaanPipa_NamaKegiatan">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanPipaList.NamaKegiatan))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanPipaList.NamaKegiatan.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaList.Produk.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasFormInputLogbookPenerimaanPipaList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_Produk" class="SubAktivitasFormInputLogbookPenerimaanPipa_Produk">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanPipaList.Produk))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanPipaList.Produk.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaList.Density.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.Density.Visible (begin)
        <th data-name="Density" class="@(subAktivitasFormInputLogbookPenerimaanPipaList.Density.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_Density" class="SubAktivitasFormInputLogbookPenerimaanPipa_Density">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanPipaList.Density))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanPipaList.Density.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaList.Temperature.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.Temperature.Visible (begin)
        <th data-name="Temperature" class="@(subAktivitasFormInputLogbookPenerimaanPipaList.Temperature.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_Temperature" class="SubAktivitasFormInputLogbookPenerimaanPipa_Temperature">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanPipaList.Temperature))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanPipaList.Temperature.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaList.Level.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.Level.Visible (begin)
        <th data-name="Level" class="@(subAktivitasFormInputLogbookPenerimaanPipaList.Level.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_Level" class="SubAktivitasFormInputLogbookPenerimaanPipa_Level">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanPipaList.Level))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanPipaList.Level.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaList.Volume.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.Volume.Visible (begin)
        <th data-name="Volume" class="@(subAktivitasFormInputLogbookPenerimaanPipaList.Volume.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_Volume" class="SubAktivitasFormInputLogbookPenerimaanPipa_Volume">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanPipaList.Volume))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanPipaList.Volume.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaList.Flowrate.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.Flowrate.Visible (begin)
        <th data-name="Flowrate" class="@(subAktivitasFormInputLogbookPenerimaanPipaList.Flowrate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_Flowrate" class="SubAktivitasFormInputLogbookPenerimaanPipa_Flowrate">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanPipaList.Flowrate))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanPipaList.Flowrate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaList.userInput.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasFormInputLogbookPenerimaanPipaList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_userInput" class="SubAktivitasFormInputLogbookPenerimaanPipa_userInput">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanPipaList.userInput))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanPipaList.userInput.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaList.etlDate.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasFormInputLogbookPenerimaanPipaList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_etlDate" class="SubAktivitasFormInputLogbookPenerimaanPipa_etlDate">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanPipaList.etlDate))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanPipaList.etlDate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaList.idProses.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasFormInputLogbookPenerimaanPipaList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_idProses" class="SubAktivitasFormInputLogbookPenerimaanPipa_idProses">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanPipaList.idProses))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanPipaList.idProses.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaList.LastUpdatedBy.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasFormInputLogbookPenerimaanPipaList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_LastUpdatedBy" class="SubAktivitasFormInputLogbookPenerimaanPipa_LastUpdatedBy">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanPipaList.LastUpdatedBy))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanPipaList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaList.lastUpdatedDate.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasFormInputLogbookPenerimaanPipaList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_lastUpdatedDate" class="SubAktivitasFormInputLogbookPenerimaanPipa_lastUpdatedDate">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanPipaList.lastUpdatedDate))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanPipaList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaList.NoReferensi.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasFormInputLogbookPenerimaanPipaList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_NoReferensi" class="SubAktivitasFormInputLogbookPenerimaanPipa_NoReferensi">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanPipaList.NoReferensi))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanPipaList.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaList.SubAktivitasHasilPemeriksaanId.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.SubAktivitasHasilPemeriksaanId.Visible (begin)
        <th data-name="SubAktivitasHasilPemeriksaanId" class="@(subAktivitasFormInputLogbookPenerimaanPipaList.SubAktivitasHasilPemeriksaanId.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_SubAktivitasHasilPemeriksaanId" class="SubAktivitasFormInputLogbookPenerimaanPipa_SubAktivitasHasilPemeriksaanId">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanPipaList.SubAktivitasHasilPemeriksaanId))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanPipaList.SubAktivitasHasilPemeriksaanId.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaList.TanggalJamSOP.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.TanggalJamSOP.Visible (begin)
        <th data-name="TanggalJamSOP" class="@(subAktivitasFormInputLogbookPenerimaanPipaList.TanggalJamSOP.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_TanggalJamSOP" class="SubAktivitasFormInputLogbookPenerimaanPipa_TanggalJamSOP">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanPipaList.TanggalJamSOP))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanPipaList.TanggalJamSOP.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaList.SelisihWaktu.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.SelisihWaktu.Visible (begin)
        <th data-name="SelisihWaktu" class="@(subAktivitasFormInputLogbookPenerimaanPipaList.SelisihWaktu.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_SelisihWaktu" class="SubAktivitasFormInputLogbookPenerimaanPipa_SelisihWaktu">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanPipaList.SelisihWaktu))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanPipaList.SelisihWaktu.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaList.IsQualityActive.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.IsQualityActive.Visible (begin)
        <th data-name="IsQualityActive" class="@(subAktivitasFormInputLogbookPenerimaanPipaList.IsQualityActive.HeaderCellClass)"><div id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_IsQualityActive" class="SubAktivitasFormInputLogbookPenerimaanPipa_IsQualityActive">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.RenderFieldHeader(subAktivitasFormInputLogbookPenerimaanPipaList.IsQualityActive))</div></th>
} @* subAktivitasFormInputLogbookPenerimaanPipaList.IsQualityActive.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasFormInputLogbookPenerimaanPipaList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasFormInputLogbookPenerimaanPipaList.PageNumber)">
@{
    await subAktivitasFormInputLogbookPenerimaanPipaList.SetupGrid();
    bool eof = subAktivitasFormInputLogbookPenerimaanPipaList.Recordset == null; // DN
}
@while (subAktivitasFormInputLogbookPenerimaanPipaList.RecordCount < subAktivitasFormInputLogbookPenerimaanPipaList.StopRecord || SameString(subAktivitasFormInputLogbookPenerimaanPipaList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasFormInputLogbookPenerimaanPipaList.RowIndex, "$rowindex$") &&
        (!subAktivitasFormInputLogbookPenerimaanPipaList.IsGridAdd || subAktivitasFormInputLogbookPenerimaanPipaList.CurrentMode == "copy") &&
        (!((subAktivitasFormInputLogbookPenerimaanPipaList.IsCopy || subAktivitasFormInputLogbookPenerimaanPipaList.IsAdd) && subAktivitasFormInputLogbookPenerimaanPipaList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasFormInputLogbookPenerimaanPipaList.Recordset.ReadAsync();
    subAktivitasFormInputLogbookPenerimaanPipaList.RecordCount++;
    if (subAktivitasFormInputLogbookPenerimaanPipaList.RecordCount >= subAktivitasFormInputLogbookPenerimaanPipaList.StartRecord) {
        await subAktivitasFormInputLogbookPenerimaanPipaList.SetupRow();
    <tr @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasFormInputLogbookPenerimaanPipaList.ListOptions.RenderBody("left", subAktivitasFormInputLogbookPenerimaanPipaList.RowCount)
    @if (subAktivitasFormInputLogbookPenerimaanPipaList.id.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.id.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasFormInputLogbookPenerimaanPipa_id" class="el_SubAktivitasFormInputLogbookPenerimaanPipa_id">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanPipaList.id.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanPipaList.idAktifitas.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasFormInputLogbookPenerimaanPipa_idAktifitas" class="el_SubAktivitasFormInputLogbookPenerimaanPipa_idAktifitas">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanPipaList.idAktifitas.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanPipaList.NamaBatch.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.NamaBatch.Visible (begin)
        <td data-name="NamaBatch" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.NamaBatch.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasFormInputLogbookPenerimaanPipa_NamaBatch" class="el_SubAktivitasFormInputLogbookPenerimaanPipa_NamaBatch">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.NamaBatch.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.NamaBatch.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanPipaList.NamaBatch.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanPipaList.TanggalJam.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.TanggalJam.Visible (begin)
        <td data-name="TanggalJam" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.TanggalJam.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasFormInputLogbookPenerimaanPipa_TanggalJam" class="el_SubAktivitasFormInputLogbookPenerimaanPipa_TanggalJam">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.TanggalJam.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.TanggalJam.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanPipaList.TanggalJam.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanPipaList.NamaKegiatan.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.NamaKegiatan.Visible (begin)
        <td data-name="NamaKegiatan" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.NamaKegiatan.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasFormInputLogbookPenerimaanPipa_NamaKegiatan" class="el_SubAktivitasFormInputLogbookPenerimaanPipa_NamaKegiatan">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.NamaKegiatan.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.NamaKegiatan.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanPipaList.NamaKegiatan.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanPipaList.Produk.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.Produk.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasFormInputLogbookPenerimaanPipa_Produk" class="el_SubAktivitasFormInputLogbookPenerimaanPipa_Produk">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanPipaList.Produk.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanPipaList.Density.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.Density.Visible (begin)
        <td data-name="Density" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.Density.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasFormInputLogbookPenerimaanPipa_Density" class="el_SubAktivitasFormInputLogbookPenerimaanPipa_Density">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.Density.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.Density.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanPipaList.Density.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanPipaList.Temperature.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.Temperature.Visible (begin)
        <td data-name="Temperature" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.Temperature.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasFormInputLogbookPenerimaanPipa_Temperature" class="el_SubAktivitasFormInputLogbookPenerimaanPipa_Temperature">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.Temperature.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.Temperature.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanPipaList.Temperature.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanPipaList.Level.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.Level.Visible (begin)
        <td data-name="Level" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.Level.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasFormInputLogbookPenerimaanPipa_Level" class="el_SubAktivitasFormInputLogbookPenerimaanPipa_Level">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.Level.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.Level.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanPipaList.Level.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanPipaList.Volume.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.Volume.Visible (begin)
        <td data-name="Volume" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.Volume.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasFormInputLogbookPenerimaanPipa_Volume" class="el_SubAktivitasFormInputLogbookPenerimaanPipa_Volume">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.Volume.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.Volume.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanPipaList.Volume.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanPipaList.Flowrate.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.Flowrate.Visible (begin)
        <td data-name="Flowrate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.Flowrate.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasFormInputLogbookPenerimaanPipa_Flowrate" class="el_SubAktivitasFormInputLogbookPenerimaanPipa_Flowrate">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.Flowrate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.Flowrate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanPipaList.Flowrate.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanPipaList.userInput.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.userInput.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasFormInputLogbookPenerimaanPipa_userInput" class="el_SubAktivitasFormInputLogbookPenerimaanPipa_userInput">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanPipaList.userInput.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanPipaList.etlDate.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.etlDate.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasFormInputLogbookPenerimaanPipa_etlDate" class="el_SubAktivitasFormInputLogbookPenerimaanPipa_etlDate">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanPipaList.etlDate.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanPipaList.idProses.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.idProses.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasFormInputLogbookPenerimaanPipa_idProses" class="el_SubAktivitasFormInputLogbookPenerimaanPipa_idProses">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanPipaList.idProses.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanPipaList.LastUpdatedBy.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasFormInputLogbookPenerimaanPipa_LastUpdatedBy" class="el_SubAktivitasFormInputLogbookPenerimaanPipa_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanPipaList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanPipaList.lastUpdatedDate.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasFormInputLogbookPenerimaanPipa_lastUpdatedDate" class="el_SubAktivitasFormInputLogbookPenerimaanPipa_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanPipaList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanPipaList.NoReferensi.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasFormInputLogbookPenerimaanPipa_NoReferensi" class="el_SubAktivitasFormInputLogbookPenerimaanPipa_NoReferensi">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanPipaList.NoReferensi.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanPipaList.SubAktivitasHasilPemeriksaanId.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.SubAktivitasHasilPemeriksaanId.Visible (begin)
        <td data-name="SubAktivitasHasilPemeriksaanId" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.SubAktivitasHasilPemeriksaanId.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasFormInputLogbookPenerimaanPipa_SubAktivitasHasilPemeriksaanId" class="el_SubAktivitasFormInputLogbookPenerimaanPipa_SubAktivitasHasilPemeriksaanId">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.SubAktivitasHasilPemeriksaanId.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.SubAktivitasHasilPemeriksaanId.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanPipaList.SubAktivitasHasilPemeriksaanId.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanPipaList.TanggalJamSOP.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.TanggalJamSOP.Visible (begin)
        <td data-name="TanggalJamSOP" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.TanggalJamSOP.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasFormInputLogbookPenerimaanPipa_TanggalJamSOP" class="el_SubAktivitasFormInputLogbookPenerimaanPipa_TanggalJamSOP">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.TanggalJamSOP.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.TanggalJamSOP.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanPipaList.TanggalJamSOP.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanPipaList.SelisihWaktu.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.SelisihWaktu.Visible (begin)
        <td data-name="SelisihWaktu" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.SelisihWaktu.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasFormInputLogbookPenerimaanPipa_SelisihWaktu" class="el_SubAktivitasFormInputLogbookPenerimaanPipa_SelisihWaktu">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.SelisihWaktu.ViewAttributes)>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.SelisihWaktu.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanPipaList.SelisihWaktu.Visible (end) *@
    @if (subAktivitasFormInputLogbookPenerimaanPipaList.IsQualityActive.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaList.IsQualityActive.Visible (begin)
        <td data-name="IsQualityActive" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.IsQualityActive.CellAttributes)>
<span id="el@(subAktivitasFormInputLogbookPenerimaanPipaList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputLogbookPenerimaanPipaList.RowCount)_SubAktivitasFormInputLogbookPenerimaanPipa_IsQualityActive" class="el_SubAktivitasFormInputLogbookPenerimaanPipa_IsQualityActive">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.IsQualityActive.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(subAktivitasFormInputLogbookPenerimaanPipaList.IsQualityActive.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span>
</td>
    } @* subAktivitasFormInputLogbookPenerimaanPipaList.IsQualityActive.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasFormInputLogbookPenerimaanPipaList.ListOptions.RenderBody("right", subAktivitasFormInputLogbookPenerimaanPipaList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasFormInputLogbookPenerimaanPipaList.RowIndex, "$rowindex$"))
        subAktivitasFormInputLogbookPenerimaanPipaList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasFormInputLogbookPenerimaanPipaList.IsCopy || subAktivitasFormInputLogbookPenerimaanPipaList.IsAdd) && subAktivitasFormInputLogbookPenerimaanPipaList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasFormInputLogbookPenerimaanPipaList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasFormInputLogbookPenerimaanPipaList.CurrentAction) && !subAktivitasFormInputLogbookPenerimaanPipaList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasFormInputLogbookPenerimaanPipaList.CloseRecordset(); }
@if (!subAktivitasFormInputLogbookPenerimaanPipaList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasFormInputLogbookPenerimaanPipaList.IsGridAdd && !(subAktivitasFormInputLogbookPenerimaanPipaList.IsGridEdit && subAktivitasFormInputLogbookPenerimaanPipaList.ModalGridEdit) && !subAktivitasFormInputLogbookPenerimaanPipaList.IsMultiEdit) {
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasFormInputLogbookPenerimaanPipaList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasFormInputLogbookPenerimaanPipaList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasFormInputLogbookPenerimaanPipaList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasFormInputLogbookPenerimaanPipaList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputLogbookPenerimaanPipaList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputLogbookPenerimaanPipa");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
