@{
    // View
    View = this;

    // Check action result
    if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.ShowPageHeader()
@subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBMedit" id="fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBMedit" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBMedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBMedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["NamaKapal", [fields.NamaKapal.visible && fields.NamaKapal.required ? ew.Validators.required(fields.NamaKapal.caption) : null], fields.NamaKapal.isInvalid],
            ["Tanggal", [fields.Tanggal.visible && fields.Tanggal.required ? ew.Validators.required(fields.Tanggal.caption) : null, ew.Validators.datetime(fields.Tanggal.clientFormatPattern)], fields.Tanggal.isInvalid],
            ["NamaKegiatan", [fields.NamaKegiatan.visible && fields.NamaKegiatan.required ? ew.Validators.required(fields.NamaKegiatan.caption) : null], fields.NamaKegiatan.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["Density", [fields.Density.visible && fields.Density.required ? ew.Validators.required(fields.Density.caption) : null], fields.Density.isInvalid],
            ["Temperature", [fields.Temperature.visible && fields.Temperature.required ? ew.Validators.required(fields.Temperature.caption) : null], fields.Temperature.isInvalid],
            ["Pressure", [fields.Pressure.visible && fields.Pressure.required ? ew.Validators.required(fields.Pressure.caption) : null], fields.Pressure.isInvalid],
            ["Keterangan", [fields.Keterangan.visible && fields.Keterangan.required ? ew.Validators.required(fields.Keterangan.caption) : null], fields.Keterangan.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.OldKeyName)" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.id.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.id.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_id" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.id.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.id.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_id">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.id.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.idProses.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_idProses" for="x_idProses" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.idProses.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_idProses">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM" data-field="x_idProses" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.idProses.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.idProses.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.idAktifitas.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_idAktifitas" for="x_idAktifitas" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.idAktifitas.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_idAktifitas">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM" data-field="x_idAktifitas" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.idAktifitas.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.idAktifitas.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NoReferensi.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_NoReferensi" for="x_NoReferensi" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NoReferensi.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_NoReferensi">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NoReferensi.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NoReferensi.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NamaKapal.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NamaKapal.Visible (begin)
    <div id="r_NamaKapal" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NamaKapal.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_NamaKapal" for="x_NamaKapal" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NamaKapal.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NamaKapal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NamaKapal.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_NamaKapal">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NamaKapal.InputTextType)" name="x_NamaKapal" id="x_NamaKapal" data-table="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM" data-field="x_NamaKapal" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NamaKapal.EditValue)" size="30" maxlength="200" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NamaKapal.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NamaKapal.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NamaKapal.EditAttributes) aria-describedby="x_NamaKapal_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NamaKapal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NamaKapal.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NamaKapal.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Tanggal.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Tanggal.Visible (begin)
    <div id="r_Tanggal" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Tanggal.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_Tanggal" for="x_Tanggal" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Tanggal.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Tanggal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Tanggal.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_Tanggal">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Tanggal.InputTextType)" name="x_Tanggal" id="x_Tanggal" data-table="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM" data-field="x_Tanggal" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Tanggal.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Tanggal.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Tanggal.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Tanggal.EditAttributes) aria-describedby="x_Tanggal_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Tanggal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Tanggal.GetErrorMessage())</div>
@if (!subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Tanggal.ReadOnly && !subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Tanggal.Disabled && !subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Tanggal.EditAttrs.Is("readonly") && !subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Tanggal.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBMedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBMedit", "x_Tanggal", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Tanggal.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NamaKegiatan.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NamaKegiatan.Visible (begin)
    <div id="r_NamaKegiatan" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NamaKegiatan.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_NamaKegiatan" for="x_NamaKegiatan" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NamaKegiatan.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NamaKegiatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NamaKegiatan.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_NamaKegiatan">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NamaKegiatan.InputTextType)" name="x_NamaKegiatan" id="x_NamaKegiatan" data-table="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM" data-field="x_NamaKegiatan" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NamaKegiatan.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NamaKegiatan.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NamaKegiatan.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NamaKegiatan.EditAttributes) aria-describedby="x_NamaKegiatan_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NamaKegiatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NamaKegiatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.NamaKegiatan.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Produk.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Produk.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_Produk" for="x_Produk" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Produk.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Produk.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_Produk">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM" data-field="x_Produk" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Produk.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Produk.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Produk.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Density.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Density.Visible (begin)
    <div id="r_Density" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Density.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_Density" for="x_Density" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Density.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Density.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Density.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_Density">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Density.InputTextType)" name="x_Density" id="x_Density" data-table="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM" data-field="x_Density" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Density.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Density.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Density.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Density.EditAttributes) aria-describedby="x_Density_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Density.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Density.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Density.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Temperature.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Temperature.Visible (begin)
    <div id="r_Temperature" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Temperature.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_Temperature" for="x_Temperature" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Temperature.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Temperature.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Temperature.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_Temperature">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Temperature.InputTextType)" name="x_Temperature" id="x_Temperature" data-table="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM" data-field="x_Temperature" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Temperature.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Temperature.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Temperature.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Temperature.EditAttributes) aria-describedby="x_Temperature_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Temperature.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Temperature.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Temperature.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Pressure.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Pressure.Visible (begin)
    <div id="r_Pressure" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Pressure.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_Pressure" for="x_Pressure" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Pressure.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Pressure.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Pressure.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_Pressure">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Pressure.InputTextType)" name="x_Pressure" id="x_Pressure" data-table="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM" data-field="x_Pressure" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Pressure.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Pressure.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Pressure.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Pressure.EditAttributes) aria-describedby="x_Pressure_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Pressure.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Pressure.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Pressure.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Keterangan.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Keterangan.Visible (begin)
    <div id="r_Keterangan" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Keterangan.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_Keterangan" for="x_Keterangan" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Keterangan.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Keterangan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Keterangan.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_Keterangan">
<textarea data-table="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM" data-field="x_Keterangan" name="x_Keterangan" id="x_Keterangan" cols="35" rows="4" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Keterangan.PlaceHolder))"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Keterangan.EditAttributes) aria-describedby="x_Keterangan_help">@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Keterangan.EditValue)</textarea>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Keterangan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Keterangan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.Keterangan.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.userInput.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.userInput.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_userInput" for="x_userInput" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.userInput.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.userInput.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_userInput">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM" data-field="x_userInput" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.userInput.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.userInput.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.etlDate.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_etlDate" for="x_etlDate" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.etlDate.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.etlDate.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_etlDate">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM" data-field="x_etlDate" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.etlDate.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.etlDate.GetErrorMessage())</div>
@if (!subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.etlDate.ReadOnly && !subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.etlDate.Disabled && !subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.etlDate.EditAttrs.Is("readonly") && !subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBMedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBMedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.etlDate.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.LastUpdatedBy.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_LastUpdatedBy">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.lastUpdatedDate.Visible) { // subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM_lastUpdatedDate">
<input type="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.lastUpdatedDate.ReadOnly && !subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.lastUpdatedDate.Disabled && !subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBMedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBMedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.lastUpdatedDate.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.CloseRecordset(); }
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBMedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBMedit" data-href="@AppPath(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasHasilPemeriksaanPenyaluranStsPyrBbmEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasHasilPemeriksaanPenyaluranSTSPyrBBM");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
