@{
    // View
    View = this;

    // Check action result
    if (subAktivitasStartBongkarLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasStartBongkarLpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasStartBongkarLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasStartBongkarLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasStartBongkarLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasStartBongkarLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasStartBongkarLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasStartBongkarLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasStartBongkarLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasStartBongkarLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasStartBongkarLpgList.TotalRecords > 0 && subAktivitasStartBongkarLpgList.ExportOptions.Visible) {
    subAktivitasStartBongkarLpgList.ExportOptions.Render("body");
}
@if (subAktivitasStartBongkarLpgList.ImportOptions.Visible) {
    subAktivitasStartBongkarLpgList.ImportOptions.Render("body");
}
@if (subAktivitasStartBongkarLpgList.SearchOptions.Visible) {
    subAktivitasStartBongkarLpgList.SearchOptions.Render("body");
}
@if (subAktivitasStartBongkarLpgList.FilterOptions.Visible) {
    subAktivitasStartBongkarLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasStartBongkarLpgList.IsModal) {
<form name="fSubAktivitasStartBongkarLPGsrch" id="fSubAktivitasStartBongkarLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasStartBongkarLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasStartBongkarLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasStartBongkarLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasStartBongkarLPG: currentTable } });
var currentForm;
var fSubAktivitasStartBongkarLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasStartBongkarLPGsrch")
        .setPageId("list")
@if (subAktivitasStartBongkarLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasStartBongkarLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasStartBongkarLpgList.IsExport() && Empty(subAktivitasStartBongkarLpgList.CurrentAction) && subAktivitasStartBongkarLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasStartBongkarLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasStartBongkarLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasStartBongkarLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasStartBongkarLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasStartBongkarLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasStartBongkarLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasStartBongkarLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasStartBongkarLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasStartBongkarLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasStartBongkarLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasStartBongkarLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasStartBongkarLpgList.ShowPageHeader()
@subAktivitasStartBongkarLpgList.ShowMessages()
<main class="list @(subAktivitasStartBongkarLpgList.TotalRecords == 0 && !subAktivitasStartBongkarLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasStartBongkarLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasStartBongkarLpgList.TotalRecords > 0 || !Empty(subAktivitasStartBongkarLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasStartBongkarLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasStartBongkarLpgList.TableGridClass)">
<form name="@(subAktivitasStartBongkarLpgList.FormName)" id="@(subAktivitasStartBongkarLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasStartBongkarLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasStartBongkarLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasStartBongkarLPG" class="card-body ew-grid-middle-panel @(subAktivitasStartBongkarLpgList.TableContainerClass)" style="@(subAktivitasStartBongkarLpgList.TableContainerStyle)">
@if (subAktivitasStartBongkarLpgList.TotalRecords > 0 || subAktivitasStartBongkarLpgList.IsGridEdit || subAktivitasStartBongkarLpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasStartBongkarLPGlist" class="@(subAktivitasStartBongkarLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasStartBongkarLpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasStartBongkarLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasStartBongkarLpgList.ListOptions.RenderHeader("left")
@if (subAktivitasStartBongkarLpgList.id.Visible) { // subAktivitasStartBongkarLpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasStartBongkarLpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasStartBongkarLPG_id" class="SubAktivitasStartBongkarLPG_id">@Html.Raw(subAktivitasStartBongkarLpgList.RenderFieldHeader(subAktivitasStartBongkarLpgList.id))</div></th>
} @* subAktivitasStartBongkarLpgList.id.Visible (end) *@
@if (subAktivitasStartBongkarLpgList.idProses.Visible) { // subAktivitasStartBongkarLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasStartBongkarLpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasStartBongkarLPG_idProses" class="SubAktivitasStartBongkarLPG_idProses">@Html.Raw(subAktivitasStartBongkarLpgList.RenderFieldHeader(subAktivitasStartBongkarLpgList.idProses))</div></th>
} @* subAktivitasStartBongkarLpgList.idProses.Visible (end) *@
@if (subAktivitasStartBongkarLpgList.idAktifitas.Visible) { // subAktivitasStartBongkarLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasStartBongkarLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasStartBongkarLPG_idAktifitas" class="SubAktivitasStartBongkarLPG_idAktifitas">@Html.Raw(subAktivitasStartBongkarLpgList.RenderFieldHeader(subAktivitasStartBongkarLpgList.idAktifitas))</div></th>
} @* subAktivitasStartBongkarLpgList.idAktifitas.Visible (end) *@
@if (subAktivitasStartBongkarLpgList.NoReferensi.Visible) { // subAktivitasStartBongkarLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasStartBongkarLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasStartBongkarLPG_NoReferensi" class="SubAktivitasStartBongkarLPG_NoReferensi">@Html.Raw(subAktivitasStartBongkarLpgList.RenderFieldHeader(subAktivitasStartBongkarLpgList.NoReferensi))</div></th>
} @* subAktivitasStartBongkarLpgList.NoReferensi.Visible (end) *@
@if (subAktivitasStartBongkarLpgList.StatusAktivitas.Visible) { // subAktivitasStartBongkarLpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasStartBongkarLpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasStartBongkarLPG_StatusAktivitas" class="SubAktivitasStartBongkarLPG_StatusAktivitas">@Html.Raw(subAktivitasStartBongkarLpgList.RenderFieldHeader(subAktivitasStartBongkarLpgList.StatusAktivitas))</div></th>
} @* subAktivitasStartBongkarLpgList.StatusAktivitas.Visible (end) *@
@if (subAktivitasStartBongkarLpgList.LastUpdatedBy.Visible) { // subAktivitasStartBongkarLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasStartBongkarLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasStartBongkarLPG_LastUpdatedBy" class="SubAktivitasStartBongkarLPG_LastUpdatedBy">@Html.Raw(subAktivitasStartBongkarLpgList.RenderFieldHeader(subAktivitasStartBongkarLpgList.LastUpdatedBy))</div></th>
} @* subAktivitasStartBongkarLpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasStartBongkarLpgList.lastUpdatedDate.Visible) { // subAktivitasStartBongkarLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasStartBongkarLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasStartBongkarLPG_lastUpdatedDate" class="SubAktivitasStartBongkarLPG_lastUpdatedDate">@Html.Raw(subAktivitasStartBongkarLpgList.RenderFieldHeader(subAktivitasStartBongkarLpgList.lastUpdatedDate))</div></th>
} @* subAktivitasStartBongkarLpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasStartBongkarLpgList.tglStartBongkar.Visible) { // subAktivitasStartBongkarLpgList.tglStartBongkar.Visible (begin)
        <th data-name="tglStartBongkar" class="@(subAktivitasStartBongkarLpgList.tglStartBongkar.HeaderCellClass)"><div id="elh_SubAktivitasStartBongkarLPG_tglStartBongkar" class="SubAktivitasStartBongkarLPG_tglStartBongkar">@Html.Raw(subAktivitasStartBongkarLpgList.RenderFieldHeader(subAktivitasStartBongkarLpgList.tglStartBongkar))</div></th>
} @* subAktivitasStartBongkarLpgList.tglStartBongkar.Visible (end) *@
@if (subAktivitasStartBongkarLpgList.userInput.Visible) { // subAktivitasStartBongkarLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasStartBongkarLpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasStartBongkarLPG_userInput" class="SubAktivitasStartBongkarLPG_userInput">@Html.Raw(subAktivitasStartBongkarLpgList.RenderFieldHeader(subAktivitasStartBongkarLpgList.userInput))</div></th>
} @* subAktivitasStartBongkarLpgList.userInput.Visible (end) *@
@if (subAktivitasStartBongkarLpgList.etlDate.Visible) { // subAktivitasStartBongkarLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasStartBongkarLpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasStartBongkarLPG_etlDate" class="SubAktivitasStartBongkarLPG_etlDate">@Html.Raw(subAktivitasStartBongkarLpgList.RenderFieldHeader(subAktivitasStartBongkarLpgList.etlDate))</div></th>
} @* subAktivitasStartBongkarLpgList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasStartBongkarLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasStartBongkarLpgList.PageNumber)">
@{
    await subAktivitasStartBongkarLpgList.SetupGrid();
    bool eof = subAktivitasStartBongkarLpgList.Recordset == null; // DN
}
@while (subAktivitasStartBongkarLpgList.RecordCount < subAktivitasStartBongkarLpgList.StopRecord || SameString(subAktivitasStartBongkarLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasStartBongkarLpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasStartBongkarLpgList.IsGridAdd || subAktivitasStartBongkarLpgList.CurrentMode == "copy") &&
        (!((subAktivitasStartBongkarLpgList.IsCopy || subAktivitasStartBongkarLpgList.IsAdd) && subAktivitasStartBongkarLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasStartBongkarLpgList.Recordset.ReadAsync();
    subAktivitasStartBongkarLpgList.RecordCount++;
    if (subAktivitasStartBongkarLpgList.RecordCount >= subAktivitasStartBongkarLpgList.StartRecord) {
        await subAktivitasStartBongkarLpgList.SetupRow();
    <tr @Html.Raw(subAktivitasStartBongkarLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasStartBongkarLpgList.ListOptions.RenderBody("left", subAktivitasStartBongkarLpgList.RowCount)
    @if (subAktivitasStartBongkarLpgList.id.Visible) { // subAktivitasStartBongkarLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasStartBongkarLpgList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasStartBongkarLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStartBongkarLpgList.RowCount)_SubAktivitasStartBongkarLPG_id" class="el_SubAktivitasStartBongkarLPG_id">
<span @Html.Raw(subAktivitasStartBongkarLpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasStartBongkarLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStartBongkarLpgList.id.Visible (end) *@
    @if (subAktivitasStartBongkarLpgList.idProses.Visible) { // subAktivitasStartBongkarLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasStartBongkarLpgList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasStartBongkarLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStartBongkarLpgList.RowCount)_SubAktivitasStartBongkarLPG_idProses" class="el_SubAktivitasStartBongkarLPG_idProses">
<span @Html.Raw(subAktivitasStartBongkarLpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasStartBongkarLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStartBongkarLpgList.idProses.Visible (end) *@
    @if (subAktivitasStartBongkarLpgList.idAktifitas.Visible) { // subAktivitasStartBongkarLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasStartBongkarLpgList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasStartBongkarLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStartBongkarLpgList.RowCount)_SubAktivitasStartBongkarLPG_idAktifitas" class="el_SubAktivitasStartBongkarLPG_idAktifitas">
<span @Html.Raw(subAktivitasStartBongkarLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasStartBongkarLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStartBongkarLpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasStartBongkarLpgList.NoReferensi.Visible) { // subAktivitasStartBongkarLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasStartBongkarLpgList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasStartBongkarLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStartBongkarLpgList.RowCount)_SubAktivitasStartBongkarLPG_NoReferensi" class="el_SubAktivitasStartBongkarLPG_NoReferensi">
<span @Html.Raw(subAktivitasStartBongkarLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasStartBongkarLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStartBongkarLpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasStartBongkarLpgList.StatusAktivitas.Visible) { // subAktivitasStartBongkarLpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasStartBongkarLpgList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasStartBongkarLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStartBongkarLpgList.RowCount)_SubAktivitasStartBongkarLPG_StatusAktivitas" class="el_SubAktivitasStartBongkarLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasStartBongkarLpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasStartBongkarLpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStartBongkarLpgList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasStartBongkarLpgList.LastUpdatedBy.Visible) { // subAktivitasStartBongkarLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasStartBongkarLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasStartBongkarLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStartBongkarLpgList.RowCount)_SubAktivitasStartBongkarLPG_LastUpdatedBy" class="el_SubAktivitasStartBongkarLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasStartBongkarLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasStartBongkarLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStartBongkarLpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasStartBongkarLpgList.lastUpdatedDate.Visible) { // subAktivitasStartBongkarLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasStartBongkarLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasStartBongkarLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStartBongkarLpgList.RowCount)_SubAktivitasStartBongkarLPG_lastUpdatedDate" class="el_SubAktivitasStartBongkarLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasStartBongkarLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasStartBongkarLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStartBongkarLpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasStartBongkarLpgList.tglStartBongkar.Visible) { // subAktivitasStartBongkarLpgList.tglStartBongkar.Visible (begin)
        <td data-name="tglStartBongkar" @Html.Raw(subAktivitasStartBongkarLpgList.tglStartBongkar.CellAttributes)>
<span id="el@(SameString(subAktivitasStartBongkarLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStartBongkarLpgList.RowCount)_SubAktivitasStartBongkarLPG_tglStartBongkar" class="el_SubAktivitasStartBongkarLPG_tglStartBongkar">
<span @Html.Raw(subAktivitasStartBongkarLpgList.tglStartBongkar.ViewAttributes)>
@Html.Raw(subAktivitasStartBongkarLpgList.tglStartBongkar.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStartBongkarLpgList.tglStartBongkar.Visible (end) *@
    @if (subAktivitasStartBongkarLpgList.userInput.Visible) { // subAktivitasStartBongkarLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasStartBongkarLpgList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasStartBongkarLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStartBongkarLpgList.RowCount)_SubAktivitasStartBongkarLPG_userInput" class="el_SubAktivitasStartBongkarLPG_userInput">
<span @Html.Raw(subAktivitasStartBongkarLpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasStartBongkarLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStartBongkarLpgList.userInput.Visible (end) *@
    @if (subAktivitasStartBongkarLpgList.etlDate.Visible) { // subAktivitasStartBongkarLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasStartBongkarLpgList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasStartBongkarLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasStartBongkarLpgList.RowCount)_SubAktivitasStartBongkarLPG_etlDate" class="el_SubAktivitasStartBongkarLPG_etlDate">
<span @Html.Raw(subAktivitasStartBongkarLpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasStartBongkarLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasStartBongkarLpgList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasStartBongkarLpgList.ListOptions.RenderBody("right", subAktivitasStartBongkarLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasStartBongkarLpgList.RowIndex, "$rowindex$"))
        subAktivitasStartBongkarLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasStartBongkarLpgList.IsCopy || subAktivitasStartBongkarLpgList.IsAdd) && subAktivitasStartBongkarLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasStartBongkarLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasStartBongkarLpgList.CurrentAction) && !subAktivitasStartBongkarLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasStartBongkarLpgList.CloseRecordset(); }
@if (!subAktivitasStartBongkarLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasStartBongkarLpgList.IsGridAdd && !(subAktivitasStartBongkarLpgList.IsGridEdit && subAktivitasStartBongkarLpgList.ModalGridEdit) && !subAktivitasStartBongkarLpgList.IsMultiEdit) {
@Html.Raw(subAktivitasStartBongkarLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasStartBongkarLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasStartBongkarLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasStartBongkarLpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasStartBongkarLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasStartBongkarLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasStartBongkarLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
