@{
    // View
    View = this;

    // Check action result
    if (subAktivitasRealisasiPenyaluranPerProdukEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasRealisasiPenyaluranPerProdukEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasRealisasiPenyaluranPerProdukEdit.ShowPageHeader()
@subAktivitasRealisasiPenyaluranPerProdukEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasRealisasiPenyaluranPerProdukedit" id="fSubAktivitasRealisasiPenyaluranPerProdukedit" class="@(subAktivitasRealisasiPenyaluranPerProdukEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasRealisasiPenyaluranPerProdukEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasRealisasiPenyaluranPerProduk: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasRealisasiPenyaluranPerProdukedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasRealisasiPenyaluranPerProdukedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["Shift1", [fields.Shift1.visible && fields.Shift1.required ? ew.Validators.required(fields.Shift1.caption) : null], fields.Shift1.isInvalid],
            ["Shift2", [fields.Shift2.visible && fields.Shift2.required ? ew.Validators.required(fields.Shift2.caption) : null], fields.Shift2.isInvalid],
            ["Shift3", [fields.Shift3.visible && fields.Shift3.required ? ew.Validators.required(fields.Shift3.caption) : null], fields.Shift3.isInvalid],
            ["Shift4", [fields.Shift4.visible && fields.Shift4.required ? ew.Validators.required(fields.Shift4.caption) : null], fields.Shift4.isInvalid],
            ["Total", [fields.Total.visible && fields.Total.required ? ew.Validators.required(fields.Total.caption) : null], fields.Total.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasRealisasiPenyaluranPerProdukEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasRealisasiPenyaluranPerProdukEdit.OldKeyName)" value="@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasRealisasiPenyaluranPerProdukEdit.id.Visible) { // subAktivitasRealisasiPenyaluranPerProdukEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.id.RowAttributes)>
        <label id="elh_SubAktivitasRealisasiPenyaluranPerProduk_id" class="@(subAktivitasRealisasiPenyaluranPerProdukEdit.LeftColumnClass)">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.id.Caption)@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasRealisasiPenyaluranPerProdukEdit.RightColumnClass)"><div @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.id.CellAttributes)>
<span id="el_SubAktivitasRealisasiPenyaluranPerProduk_id">
<span @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasRealisasiPenyaluranPerProdukEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasRealisasiPenyaluranPerProduk" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasRealisasiPenyaluranPerProdukEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasRealisasiPenyaluranPerProdukEdit.id.Visible (end) *@
@if (subAktivitasRealisasiPenyaluranPerProdukEdit.idProses.Visible) { // subAktivitasRealisasiPenyaluranPerProdukEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasRealisasiPenyaluranPerProduk_idProses" for="x_idProses" class="@(subAktivitasRealisasiPenyaluranPerProdukEdit.LeftColumnClass)">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.idProses.Caption)@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasRealisasiPenyaluranPerProdukEdit.RightColumnClass)"><div @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasRealisasiPenyaluranPerProduk_idProses">
<input type="@(subAktivitasRealisasiPenyaluranPerProdukEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubAktivitasRealisasiPenyaluranPerProduk" data-field="x_idProses" value="@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasRealisasiPenyaluranPerProdukEdit.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasRealisasiPenyaluranPerProdukEdit.idProses.FormatPattern)"@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasRealisasiPenyaluranPerProdukEdit.idProses.Visible (end) *@
@if (subAktivitasRealisasiPenyaluranPerProdukEdit.idAktifitas.Visible) { // subAktivitasRealisasiPenyaluranPerProdukEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasRealisasiPenyaluranPerProduk_idAktifitas" for="x_idAktifitas" class="@(subAktivitasRealisasiPenyaluranPerProdukEdit.LeftColumnClass)">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.idAktifitas.Caption)@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasRealisasiPenyaluranPerProdukEdit.RightColumnClass)"><div @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasRealisasiPenyaluranPerProduk_idAktifitas">
<input type="@(subAktivitasRealisasiPenyaluranPerProdukEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubAktivitasRealisasiPenyaluranPerProduk" data-field="x_idAktifitas" value="@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasRealisasiPenyaluranPerProdukEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasRealisasiPenyaluranPerProdukEdit.idAktifitas.FormatPattern)"@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasRealisasiPenyaluranPerProdukEdit.idAktifitas.Visible (end) *@
@if (subAktivitasRealisasiPenyaluranPerProdukEdit.NoReferensi.Visible) { // subAktivitasRealisasiPenyaluranPerProdukEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasRealisasiPenyaluranPerProduk_NoReferensi" for="x_NoReferensi" class="@(subAktivitasRealisasiPenyaluranPerProdukEdit.LeftColumnClass)">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.NoReferensi.Caption)@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasRealisasiPenyaluranPerProdukEdit.RightColumnClass)"><div @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasRealisasiPenyaluranPerProduk_NoReferensi">
<input type="@(subAktivitasRealisasiPenyaluranPerProdukEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasRealisasiPenyaluranPerProduk" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.NoReferensi.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasRealisasiPenyaluranPerProdukEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasRealisasiPenyaluranPerProdukEdit.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasRealisasiPenyaluranPerProdukEdit.NoReferensi.Visible (end) *@
@if (subAktivitasRealisasiPenyaluranPerProdukEdit.Produk.Visible) { // subAktivitasRealisasiPenyaluranPerProdukEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Produk.RowAttributes)>
        <label id="elh_SubAktivitasRealisasiPenyaluranPerProduk_Produk" for="x_Produk" class="@(subAktivitasRealisasiPenyaluranPerProdukEdit.LeftColumnClass)">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Produk.Caption)@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasRealisasiPenyaluranPerProdukEdit.RightColumnClass)"><div @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Produk.CellAttributes)>
<span id="el_SubAktivitasRealisasiPenyaluranPerProduk_Produk">
<input type="@(subAktivitasRealisasiPenyaluranPerProdukEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasRealisasiPenyaluranPerProduk" data-field="x_Produk" value="@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Produk.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasRealisasiPenyaluranPerProdukEdit.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasRealisasiPenyaluranPerProdukEdit.Produk.FormatPattern)"@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasRealisasiPenyaluranPerProdukEdit.Produk.Visible (end) *@
@if (subAktivitasRealisasiPenyaluranPerProdukEdit.Shift1.Visible) { // subAktivitasRealisasiPenyaluranPerProdukEdit.Shift1.Visible (begin)
    <div id="r_Shift1" @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift1.RowAttributes)>
        <label id="elh_SubAktivitasRealisasiPenyaluranPerProduk_Shift1" for="x_Shift1" class="@(subAktivitasRealisasiPenyaluranPerProdukEdit.LeftColumnClass)">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift1.Caption)@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift1.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasRealisasiPenyaluranPerProdukEdit.RightColumnClass)"><div @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift1.CellAttributes)>
<span id="el_SubAktivitasRealisasiPenyaluranPerProduk_Shift1">
<input type="@(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift1.InputTextType)" name="x_Shift1" id="x_Shift1" data-table="SubAktivitasRealisasiPenyaluranPerProduk" data-field="x_Shift1" value="@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift1.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift1.PlaceHolder))" data-format-pattern="@(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift1.FormatPattern)"@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift1.EditAttributes) aria-describedby="x_Shift1_help">
@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift1.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift1.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasRealisasiPenyaluranPerProdukEdit.Shift1.Visible (end) *@
@if (subAktivitasRealisasiPenyaluranPerProdukEdit.Shift2.Visible) { // subAktivitasRealisasiPenyaluranPerProdukEdit.Shift2.Visible (begin)
    <div id="r_Shift2" @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift2.RowAttributes)>
        <label id="elh_SubAktivitasRealisasiPenyaluranPerProduk_Shift2" for="x_Shift2" class="@(subAktivitasRealisasiPenyaluranPerProdukEdit.LeftColumnClass)">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift2.Caption)@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift2.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasRealisasiPenyaluranPerProdukEdit.RightColumnClass)"><div @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift2.CellAttributes)>
<span id="el_SubAktivitasRealisasiPenyaluranPerProduk_Shift2">
<input type="@(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift2.InputTextType)" name="x_Shift2" id="x_Shift2" data-table="SubAktivitasRealisasiPenyaluranPerProduk" data-field="x_Shift2" value="@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift2.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift2.PlaceHolder))" data-format-pattern="@(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift2.FormatPattern)"@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift2.EditAttributes) aria-describedby="x_Shift2_help">
@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift2.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift2.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasRealisasiPenyaluranPerProdukEdit.Shift2.Visible (end) *@
@if (subAktivitasRealisasiPenyaluranPerProdukEdit.Shift3.Visible) { // subAktivitasRealisasiPenyaluranPerProdukEdit.Shift3.Visible (begin)
    <div id="r_Shift3" @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift3.RowAttributes)>
        <label id="elh_SubAktivitasRealisasiPenyaluranPerProduk_Shift3" for="x_Shift3" class="@(subAktivitasRealisasiPenyaluranPerProdukEdit.LeftColumnClass)">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift3.Caption)@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift3.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasRealisasiPenyaluranPerProdukEdit.RightColumnClass)"><div @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift3.CellAttributes)>
<span id="el_SubAktivitasRealisasiPenyaluranPerProduk_Shift3">
<input type="@(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift3.InputTextType)" name="x_Shift3" id="x_Shift3" data-table="SubAktivitasRealisasiPenyaluranPerProduk" data-field="x_Shift3" value="@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift3.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift3.PlaceHolder))" data-format-pattern="@(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift3.FormatPattern)"@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift3.EditAttributes) aria-describedby="x_Shift3_help">
@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift3.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift3.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasRealisasiPenyaluranPerProdukEdit.Shift3.Visible (end) *@
@if (subAktivitasRealisasiPenyaluranPerProdukEdit.Shift4.Visible) { // subAktivitasRealisasiPenyaluranPerProdukEdit.Shift4.Visible (begin)
    <div id="r_Shift4" @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift4.RowAttributes)>
        <label id="elh_SubAktivitasRealisasiPenyaluranPerProduk_Shift4" for="x_Shift4" class="@(subAktivitasRealisasiPenyaluranPerProdukEdit.LeftColumnClass)">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift4.Caption)@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift4.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasRealisasiPenyaluranPerProdukEdit.RightColumnClass)"><div @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift4.CellAttributes)>
<span id="el_SubAktivitasRealisasiPenyaluranPerProduk_Shift4">
<input type="@(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift4.InputTextType)" name="x_Shift4" id="x_Shift4" data-table="SubAktivitasRealisasiPenyaluranPerProduk" data-field="x_Shift4" value="@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift4.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift4.PlaceHolder))" data-format-pattern="@(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift4.FormatPattern)"@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift4.EditAttributes) aria-describedby="x_Shift4_help">
@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift4.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Shift4.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasRealisasiPenyaluranPerProdukEdit.Shift4.Visible (end) *@
@if (subAktivitasRealisasiPenyaluranPerProdukEdit.Total.Visible) { // subAktivitasRealisasiPenyaluranPerProdukEdit.Total.Visible (begin)
    <div id="r_Total" @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Total.RowAttributes)>
        <label id="elh_SubAktivitasRealisasiPenyaluranPerProduk_Total" for="x_Total" class="@(subAktivitasRealisasiPenyaluranPerProdukEdit.LeftColumnClass)">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Total.Caption)@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Total.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasRealisasiPenyaluranPerProdukEdit.RightColumnClass)"><div @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Total.CellAttributes)>
<span id="el_SubAktivitasRealisasiPenyaluranPerProduk_Total">
<input type="@(subAktivitasRealisasiPenyaluranPerProdukEdit.Total.InputTextType)" name="x_Total" id="x_Total" data-table="SubAktivitasRealisasiPenyaluranPerProduk" data-field="x_Total" value="@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Total.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasRealisasiPenyaluranPerProdukEdit.Total.PlaceHolder))" data-format-pattern="@(subAktivitasRealisasiPenyaluranPerProdukEdit.Total.FormatPattern)"@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Total.EditAttributes) aria-describedby="x_Total_help">
@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Total.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.Total.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasRealisasiPenyaluranPerProdukEdit.Total.Visible (end) *@
@if (subAktivitasRealisasiPenyaluranPerProdukEdit.userInput.Visible) { // subAktivitasRealisasiPenyaluranPerProdukEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.userInput.RowAttributes)>
        <label id="elh_SubAktivitasRealisasiPenyaluranPerProduk_userInput" for="x_userInput" class="@(subAktivitasRealisasiPenyaluranPerProdukEdit.LeftColumnClass)">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.userInput.Caption)@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasRealisasiPenyaluranPerProdukEdit.RightColumnClass)"><div @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.userInput.CellAttributes)>
<span id="el_SubAktivitasRealisasiPenyaluranPerProduk_userInput">
<input type="@(subAktivitasRealisasiPenyaluranPerProdukEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasRealisasiPenyaluranPerProduk" data-field="x_userInput" value="@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasRealisasiPenyaluranPerProdukEdit.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasRealisasiPenyaluranPerProdukEdit.userInput.FormatPattern)"@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasRealisasiPenyaluranPerProdukEdit.userInput.Visible (end) *@
@if (subAktivitasRealisasiPenyaluranPerProdukEdit.etlDate.Visible) { // subAktivitasRealisasiPenyaluranPerProdukEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasRealisasiPenyaluranPerProduk_etlDate" for="x_etlDate" class="@(subAktivitasRealisasiPenyaluranPerProdukEdit.LeftColumnClass)">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.etlDate.Caption)@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasRealisasiPenyaluranPerProdukEdit.RightColumnClass)"><div @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.etlDate.CellAttributes)>
<span id="el_SubAktivitasRealisasiPenyaluranPerProduk_etlDate">
<input type="@(subAktivitasRealisasiPenyaluranPerProdukEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasRealisasiPenyaluranPerProduk" data-field="x_etlDate" value="@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasRealisasiPenyaluranPerProdukEdit.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasRealisasiPenyaluranPerProdukEdit.etlDate.FormatPattern)"@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.etlDate.GetErrorMessage())</div>
@if (!subAktivitasRealisasiPenyaluranPerProdukEdit.etlDate.ReadOnly && !subAktivitasRealisasiPenyaluranPerProdukEdit.etlDate.Disabled && !subAktivitasRealisasiPenyaluranPerProdukEdit.etlDate.EditAttrs.Is("readonly") && !subAktivitasRealisasiPenyaluranPerProdukEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasRealisasiPenyaluranPerProdukedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasRealisasiPenyaluranPerProdukedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasRealisasiPenyaluranPerProdukEdit.etlDate.Visible (end) *@
@if (subAktivitasRealisasiPenyaluranPerProdukEdit.LastUpdatedBy.Visible) { // subAktivitasRealisasiPenyaluranPerProdukEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasRealisasiPenyaluranPerProduk_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasRealisasiPenyaluranPerProdukEdit.LeftColumnClass)">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasRealisasiPenyaluranPerProdukEdit.RightColumnClass)"><div @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasRealisasiPenyaluranPerProduk_LastUpdatedBy">
<input type="@(subAktivitasRealisasiPenyaluranPerProdukEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasRealisasiPenyaluranPerProduk" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasRealisasiPenyaluranPerProdukEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasRealisasiPenyaluranPerProdukEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasRealisasiPenyaluranPerProdukEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasRealisasiPenyaluranPerProdukEdit.lastUpdatedDate.Visible) { // subAktivitasRealisasiPenyaluranPerProdukEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasRealisasiPenyaluranPerProduk_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasRealisasiPenyaluranPerProdukEdit.LeftColumnClass)">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasRealisasiPenyaluranPerProdukEdit.RightColumnClass)"><div @Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasRealisasiPenyaluranPerProduk_lastUpdatedDate">
<input type="@(subAktivitasRealisasiPenyaluranPerProdukEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasRealisasiPenyaluranPerProduk" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasRealisasiPenyaluranPerProdukEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasRealisasiPenyaluranPerProdukEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasRealisasiPenyaluranPerProdukEdit.lastUpdatedDate.ReadOnly && !subAktivitasRealisasiPenyaluranPerProdukEdit.lastUpdatedDate.Disabled && !subAktivitasRealisasiPenyaluranPerProdukEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasRealisasiPenyaluranPerProdukEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasRealisasiPenyaluranPerProdukedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasRealisasiPenyaluranPerProdukedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasRealisasiPenyaluranPerProdukEdit.lastUpdatedDate.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasRealisasiPenyaluranPerProdukEdit.CloseRecordset(); }
@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasRealisasiPenyaluranPerProdukEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasRealisasiPenyaluranPerProdukedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasRealisasiPenyaluranPerProdukedit" data-href="@AppPath(subAktivitasRealisasiPenyaluranPerProdukEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasRealisasiPenyaluranPerProdukEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasRealisasiPenyaluranPerProdukEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasRealisasiPenyaluranPerProduk");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
