@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiSfbdrtwAdd.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiSfbdrtwAdd.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiSfbdrtwAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiSFBDRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fSubAktivitasNilaiSFBDRTWadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiSFBDRTWadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["SFBD_KL_Obs", [fields.SFBD_KL_Obs.visible && fields.SFBD_KL_Obs.required ? ew.Validators.required(fields.SFBD_KL_Obs.caption) : null], fields.SFBD_KL_Obs.isInvalid],
            ["SFBD_KL_15", [fields.SFBD_KL_15.visible && fields.SFBD_KL_15.required ? ew.Validators.required(fields.SFBD_KL_15.caption) : null], fields.SFBD_KL_15.isInvalid],
            ["SFBD_Barrels", [fields.SFBD_Barrels.visible && fields.SFBD_Barrels.required ? ew.Validators.required(fields.SFBD_Barrels.caption) : null], fields.SFBD_Barrels.isInvalid],
            ["SFBD_LT", [fields.SFBD_LT.visible && fields.SFBD_LT.required ? ew.Validators.required(fields.SFBD_LT.caption) : null], fields.SFBD_LT.isInvalid],
            ["SFBD_MT", [fields.SFBD_MT.visible && fields.SFBD_MT.required ? ew.Validators.required(fields.SFBD_MT.caption) : null], fields.SFBD_MT.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null, ew.Validators.integer], fields.StatusAktivitas.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "idAktifitas": @Html.Raw(subAktivitasNilaiSfbdrtwAdd.idAktifitas.ToClientList(subAktivitasNilaiSfbdrtwAdd)),
            "idProses": @Html.Raw(subAktivitasNilaiSfbdrtwAdd.idProses.ToClientList(subAktivitasNilaiSfbdrtwAdd)),
            "StatusAktivitas": @Html.Raw(subAktivitasNilaiSfbdrtwAdd.StatusAktivitas.ToClientList(subAktivitasNilaiSfbdrtwAdd)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasNilaiSfbdrtwAdd.ShowPageHeader()
@subAktivitasNilaiSfbdrtwAdd.ShowMessages()
<form name="fSubAktivitasNilaiSFBDRTWadd" id="fSubAktivitasNilaiSFBDRTWadd" class="@(subAktivitasNilaiSfbdrtwAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasNilaiSfbdrtwAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasNilaiSfbdrtwAdd.OldKeyName)" value="@Html.Raw(subAktivitasNilaiSfbdrtwAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (subAktivitasNilaiSfbdrtwAdd.idAktifitas.Visible) { // subAktivitasNilaiSfbdrtwAdd.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasNilaiSfbdrtwAdd.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasNilaiSFBDRTW_idAktifitas" class="@(subAktivitasNilaiSfbdrtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasNilaiSfbdrtwAdd.idAktifitas.Caption)@Html.Raw(subAktivitasNilaiSfbdrtwAdd.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiSfbdrtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiSfbdrtwAdd.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasNilaiSFBDRTW_idAktifitas">
<span>@{
    if (IsRTL) {
        subAktivitasNilaiSfbdrtwAdd.idAktifitas.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_idAktifitas" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_idAktifitas" id="sv_x_idAktifitas" value="@(RemoveHtml(ConvertToString(subAktivitasNilaiSfbdrtwAdd.idAktifitas.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiSfbdrtwAdd.idAktifitas.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiSfbdrtwAdd.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiSfbdrtwAdd.idAktifitas.FormatPattern)" @Html.Raw(subAktivitasNilaiSfbdrtwAdd.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasNilaiSFBDRTW" data-field="x_idAktifitas" data-input="sv_x_idAktifitas" data-value-separator="@(subAktivitasNilaiSfbdrtwAdd.idAktifitas.DisplayValueSeparatorAttribute)" name="x_idAktifitas" id="x_idAktifitas" value="@(HtmlEncode(subAktivitasNilaiSfbdrtwAdd.idAktifitas.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasNilaiSfbdrtwAdd.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiSfbdrtwAdd.idAktifitas.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasNilaiSFBDRTWadd"], function() {
    fSubAktivitasNilaiSFBDRTWadd.createAutoSuggest(Object.assign({"id":"x_idAktifitas","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasNilaiSfbdrtwAdd.idAktifitas.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasNilaiSFBDRTW.fields.idAktifitas.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasNilaiSfbdrtwAdd.idAktifitas.Lookup.GetParamTag(subAktivitasNilaiSfbdrtwAdd, "p_x_idAktifitas"))
</span>
</div></div>
    </div>
} @* subAktivitasNilaiSfbdrtwAdd.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwAdd.SFBD_KL_Obs.Visible) { // subAktivitasNilaiSfbdrtwAdd.SFBD_KL_Obs.Visible (begin)
    <div id="r_SFBD_KL_Obs" @Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_KL_Obs.RowAttributes)>
        <label id="elh_SubAktivitasNilaiSFBDRTW_SFBD_KL_Obs" for="x_SFBD_KL_Obs" class="@(subAktivitasNilaiSfbdrtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_KL_Obs.Caption)@Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_KL_Obs.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiSfbdrtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_KL_Obs.CellAttributes)>
<span id="el_SubAktivitasNilaiSFBDRTW_SFBD_KL_Obs">
<input type="@(subAktivitasNilaiSfbdrtwAdd.SFBD_KL_Obs.InputTextType)" name="x_SFBD_KL_Obs" id="x_SFBD_KL_Obs" data-table="SubAktivitasNilaiSFBDRTW" data-field="x_SFBD_KL_Obs" value="@Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_KL_Obs.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiSfbdrtwAdd.SFBD_KL_Obs.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiSfbdrtwAdd.SFBD_KL_Obs.FormatPattern)"@Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_KL_Obs.EditAttributes) aria-describedby="x_SFBD_KL_Obs_help">
@Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_KL_Obs.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_KL_Obs.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasNilaiSfbdrtwAdd.SFBD_KL_Obs.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwAdd.SFBD_KL_15.Visible) { // subAktivitasNilaiSfbdrtwAdd.SFBD_KL_15.Visible (begin)
    <div id="r_SFBD_KL_15" @Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_KL_15.RowAttributes)>
        <label id="elh_SubAktivitasNilaiSFBDRTW_SFBD_KL_15" for="x_SFBD_KL_15" class="@(subAktivitasNilaiSfbdrtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_KL_15.Caption)@Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_KL_15.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiSfbdrtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_KL_15.CellAttributes)>
<span id="el_SubAktivitasNilaiSFBDRTW_SFBD_KL_15">
<input type="@(subAktivitasNilaiSfbdrtwAdd.SFBD_KL_15.InputTextType)" name="x_SFBD_KL_15" id="x_SFBD_KL_15" data-table="SubAktivitasNilaiSFBDRTW" data-field="x_SFBD_KL_15" value="@Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_KL_15.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiSfbdrtwAdd.SFBD_KL_15.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiSfbdrtwAdd.SFBD_KL_15.FormatPattern)"@Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_KL_15.EditAttributes) aria-describedby="x_SFBD_KL_15_help">
@Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_KL_15.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_KL_15.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasNilaiSfbdrtwAdd.SFBD_KL_15.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwAdd.SFBD_Barrels.Visible) { // subAktivitasNilaiSfbdrtwAdd.SFBD_Barrels.Visible (begin)
    <div id="r_SFBD_Barrels" @Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_Barrels.RowAttributes)>
        <label id="elh_SubAktivitasNilaiSFBDRTW_SFBD_Barrels" for="x_SFBD_Barrels" class="@(subAktivitasNilaiSfbdrtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_Barrels.Caption)@Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_Barrels.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiSfbdrtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_Barrels.CellAttributes)>
<span id="el_SubAktivitasNilaiSFBDRTW_SFBD_Barrels">
<input type="@(subAktivitasNilaiSfbdrtwAdd.SFBD_Barrels.InputTextType)" name="x_SFBD_Barrels" id="x_SFBD_Barrels" data-table="SubAktivitasNilaiSFBDRTW" data-field="x_SFBD_Barrels" value="@Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_Barrels.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiSfbdrtwAdd.SFBD_Barrels.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiSfbdrtwAdd.SFBD_Barrels.FormatPattern)"@Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_Barrels.EditAttributes) aria-describedby="x_SFBD_Barrels_help">
@Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_Barrels.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_Barrels.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasNilaiSfbdrtwAdd.SFBD_Barrels.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwAdd.SFBD_LT.Visible) { // subAktivitasNilaiSfbdrtwAdd.SFBD_LT.Visible (begin)
    <div id="r_SFBD_LT" @Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_LT.RowAttributes)>
        <label id="elh_SubAktivitasNilaiSFBDRTW_SFBD_LT" for="x_SFBD_LT" class="@(subAktivitasNilaiSfbdrtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_LT.Caption)@Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_LT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiSfbdrtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_LT.CellAttributes)>
<span id="el_SubAktivitasNilaiSFBDRTW_SFBD_LT">
<input type="@(subAktivitasNilaiSfbdrtwAdd.SFBD_LT.InputTextType)" name="x_SFBD_LT" id="x_SFBD_LT" data-table="SubAktivitasNilaiSFBDRTW" data-field="x_SFBD_LT" value="@Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_LT.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiSfbdrtwAdd.SFBD_LT.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiSfbdrtwAdd.SFBD_LT.FormatPattern)"@Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_LT.EditAttributes) aria-describedby="x_SFBD_LT_help">
@Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_LT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_LT.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasNilaiSfbdrtwAdd.SFBD_LT.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwAdd.SFBD_MT.Visible) { // subAktivitasNilaiSfbdrtwAdd.SFBD_MT.Visible (begin)
    <div id="r_SFBD_MT" @Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_MT.RowAttributes)>
        <label id="elh_SubAktivitasNilaiSFBDRTW_SFBD_MT" for="x_SFBD_MT" class="@(subAktivitasNilaiSfbdrtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_MT.Caption)@Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_MT.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiSfbdrtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_MT.CellAttributes)>
<span id="el_SubAktivitasNilaiSFBDRTW_SFBD_MT">
<input type="@(subAktivitasNilaiSfbdrtwAdd.SFBD_MT.InputTextType)" name="x_SFBD_MT" id="x_SFBD_MT" data-table="SubAktivitasNilaiSFBDRTW" data-field="x_SFBD_MT" value="@Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_MT.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiSfbdrtwAdd.SFBD_MT.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiSfbdrtwAdd.SFBD_MT.FormatPattern)"@Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_MT.EditAttributes) aria-describedby="x_SFBD_MT_help">
@Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_MT.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiSfbdrtwAdd.SFBD_MT.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasNilaiSfbdrtwAdd.SFBD_MT.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwAdd.userInput.Visible) { // subAktivitasNilaiSfbdrtwAdd.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasNilaiSfbdrtwAdd.userInput.RowAttributes)>
        <label id="elh_SubAktivitasNilaiSFBDRTW_userInput" for="x_userInput" class="@(subAktivitasNilaiSfbdrtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasNilaiSfbdrtwAdd.userInput.Caption)@Html.Raw(subAktivitasNilaiSfbdrtwAdd.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiSfbdrtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiSfbdrtwAdd.userInput.CellAttributes)>
<span id="el_SubAktivitasNilaiSFBDRTW_userInput">
<input type="@(subAktivitasNilaiSfbdrtwAdd.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasNilaiSFBDRTW" data-field="x_userInput" value="@Html.Raw(subAktivitasNilaiSfbdrtwAdd.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiSfbdrtwAdd.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiSfbdrtwAdd.userInput.FormatPattern)"@Html.Raw(subAktivitasNilaiSfbdrtwAdd.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasNilaiSfbdrtwAdd.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiSfbdrtwAdd.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasNilaiSfbdrtwAdd.userInput.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwAdd.etlDate.Visible) { // subAktivitasNilaiSfbdrtwAdd.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasNilaiSfbdrtwAdd.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasNilaiSFBDRTW_etlDate" for="x_etlDate" class="@(subAktivitasNilaiSfbdrtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasNilaiSfbdrtwAdd.etlDate.Caption)@Html.Raw(subAktivitasNilaiSfbdrtwAdd.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiSfbdrtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiSfbdrtwAdd.etlDate.CellAttributes)>
<span id="el_SubAktivitasNilaiSFBDRTW_etlDate">
<input type="@(subAktivitasNilaiSfbdrtwAdd.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasNilaiSFBDRTW" data-field="x_etlDate" value="@Html.Raw(subAktivitasNilaiSfbdrtwAdd.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiSfbdrtwAdd.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiSfbdrtwAdd.etlDate.FormatPattern)"@Html.Raw(subAktivitasNilaiSfbdrtwAdd.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasNilaiSfbdrtwAdd.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiSfbdrtwAdd.etlDate.GetErrorMessage())</div>
@if (!subAktivitasNilaiSfbdrtwAdd.etlDate.ReadOnly && !subAktivitasNilaiSfbdrtwAdd.etlDate.Disabled && !subAktivitasNilaiSfbdrtwAdd.etlDate.EditAttrs.Is("readonly") && !subAktivitasNilaiSfbdrtwAdd.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasNilaiSFBDRTWadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasNilaiSFBDRTWadd", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasNilaiSfbdrtwAdd.etlDate.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwAdd.LastUpdatedBy.Visible) { // subAktivitasNilaiSfbdrtwAdd.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasNilaiSfbdrtwAdd.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasNilaiSFBDRTW_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasNilaiSfbdrtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasNilaiSfbdrtwAdd.LastUpdatedBy.Caption)@Html.Raw(subAktivitasNilaiSfbdrtwAdd.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiSfbdrtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiSfbdrtwAdd.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasNilaiSFBDRTW_LastUpdatedBy">
<input type="@(subAktivitasNilaiSfbdrtwAdd.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasNilaiSFBDRTW" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasNilaiSfbdrtwAdd.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiSfbdrtwAdd.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiSfbdrtwAdd.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasNilaiSfbdrtwAdd.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasNilaiSfbdrtwAdd.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiSfbdrtwAdd.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasNilaiSfbdrtwAdd.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwAdd.lastUpdatedDate.Visible) { // subAktivitasNilaiSfbdrtwAdd.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasNilaiSfbdrtwAdd.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasNilaiSFBDRTW_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasNilaiSfbdrtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasNilaiSfbdrtwAdd.lastUpdatedDate.Caption)@Html.Raw(subAktivitasNilaiSfbdrtwAdd.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiSfbdrtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiSfbdrtwAdd.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasNilaiSFBDRTW_lastUpdatedDate">
<input type="@(subAktivitasNilaiSfbdrtwAdd.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasNilaiSFBDRTW" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasNilaiSfbdrtwAdd.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiSfbdrtwAdd.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiSfbdrtwAdd.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasNilaiSfbdrtwAdd.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasNilaiSfbdrtwAdd.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiSfbdrtwAdd.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasNilaiSfbdrtwAdd.lastUpdatedDate.ReadOnly && !subAktivitasNilaiSfbdrtwAdd.lastUpdatedDate.Disabled && !subAktivitasNilaiSfbdrtwAdd.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasNilaiSfbdrtwAdd.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasNilaiSFBDRTWadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasNilaiSFBDRTWadd", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasNilaiSfbdrtwAdd.lastUpdatedDate.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwAdd.NoReferensi.Visible) { // subAktivitasNilaiSfbdrtwAdd.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasNilaiSfbdrtwAdd.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasNilaiSFBDRTW_NoReferensi" for="x_NoReferensi" class="@(subAktivitasNilaiSfbdrtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasNilaiSfbdrtwAdd.NoReferensi.Caption)@Html.Raw(subAktivitasNilaiSfbdrtwAdd.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiSfbdrtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiSfbdrtwAdd.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasNilaiSFBDRTW_NoReferensi">
<input type="@(subAktivitasNilaiSfbdrtwAdd.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasNilaiSFBDRTW" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasNilaiSfbdrtwAdd.NoReferensi.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiSfbdrtwAdd.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiSfbdrtwAdd.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasNilaiSfbdrtwAdd.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasNilaiSfbdrtwAdd.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiSfbdrtwAdd.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasNilaiSfbdrtwAdd.NoReferensi.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwAdd.idProses.Visible) { // subAktivitasNilaiSfbdrtwAdd.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasNilaiSfbdrtwAdd.idProses.RowAttributes)>
        <label id="elh_SubAktivitasNilaiSFBDRTW_idProses" class="@(subAktivitasNilaiSfbdrtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasNilaiSfbdrtwAdd.idProses.Caption)@Html.Raw(subAktivitasNilaiSfbdrtwAdd.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiSfbdrtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiSfbdrtwAdd.idProses.CellAttributes)>
<span id="el_SubAktivitasNilaiSFBDRTW_idProses">
<span>@{
    if (IsRTL) {
        subAktivitasNilaiSfbdrtwAdd.idProses.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_idProses" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_idProses" id="sv_x_idProses" value="@(RemoveHtml(ConvertToString(subAktivitasNilaiSfbdrtwAdd.idProses.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiSfbdrtwAdd.idProses.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiSfbdrtwAdd.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiSfbdrtwAdd.idProses.FormatPattern)" @Html.Raw(subAktivitasNilaiSfbdrtwAdd.idProses.EditAttributes) aria-describedby="x_idProses_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasNilaiSFBDRTW" data-field="x_idProses" data-input="sv_x_idProses" data-value-separator="@(subAktivitasNilaiSfbdrtwAdd.idProses.DisplayValueSeparatorAttribute)" name="x_idProses" id="x_idProses" value="@(HtmlEncode(subAktivitasNilaiSfbdrtwAdd.idProses.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasNilaiSfbdrtwAdd.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiSfbdrtwAdd.idProses.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasNilaiSFBDRTWadd"], function() {
    fSubAktivitasNilaiSFBDRTWadd.createAutoSuggest(Object.assign({"id":"x_idProses","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasNilaiSfbdrtwAdd.idProses.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasNilaiSFBDRTW.fields.idProses.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasNilaiSfbdrtwAdd.idProses.Lookup.GetParamTag(subAktivitasNilaiSfbdrtwAdd, "p_x_idProses"))
</span>
</div></div>
    </div>
} @* subAktivitasNilaiSfbdrtwAdd.idProses.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwAdd.StatusAktivitas.Visible) { // subAktivitasNilaiSfbdrtwAdd.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subAktivitasNilaiSfbdrtwAdd.StatusAktivitas.RowAttributes)>
        <label id="elh_SubAktivitasNilaiSFBDRTW_StatusAktivitas" class="@(subAktivitasNilaiSfbdrtwAdd.LeftColumnClass)">@Html.Raw(subAktivitasNilaiSfbdrtwAdd.StatusAktivitas.Caption)@Html.Raw(subAktivitasNilaiSfbdrtwAdd.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasNilaiSfbdrtwAdd.RightColumnClass)"><div @Html.Raw(subAktivitasNilaiSfbdrtwAdd.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasNilaiSFBDRTW_StatusAktivitas">
<span>@{
    if (IsRTL) {
        subAktivitasNilaiSfbdrtwAdd.StatusAktivitas.EditAttrs["dir"] = "rtl";
    }
}</span>
<span id="as_x_StatusAktivitas" class="ew-auto-suggest">
    <input type="text" class="form-control" name="sv_x_StatusAktivitas" id="sv_x_StatusAktivitas" value="@(RemoveHtml(ConvertToString(subAktivitasNilaiSfbdrtwAdd.StatusAktivitas.EditValue)))" autocomplete="off" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiSfbdrtwAdd.StatusAktivitas.PlaceHolder))" data-placeholder="@Html.Raw(HtmlEncode(subAktivitasNilaiSfbdrtwAdd.StatusAktivitas.PlaceHolder))" data-format-pattern="@(subAktivitasNilaiSfbdrtwAdd.StatusAktivitas.FormatPattern)" @Html.Raw(subAktivitasNilaiSfbdrtwAdd.StatusAktivitas.EditAttributes) aria-describedby="x_StatusAktivitas_help">
</span>
<selection-list hidden class="form-control" data-table="SubAktivitasNilaiSFBDRTW" data-field="x_StatusAktivitas" data-input="sv_x_StatusAktivitas" data-value-separator="@(subAktivitasNilaiSfbdrtwAdd.StatusAktivitas.DisplayValueSeparatorAttribute)" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@(HtmlEncode(subAktivitasNilaiSfbdrtwAdd.StatusAktivitas.CurrentValue))"></selection-list>
@Html.Raw(subAktivitasNilaiSfbdrtwAdd.StatusAktivitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasNilaiSfbdrtwAdd.StatusAktivitas.GetErrorMessage())</div>
<script>
loadjs.ready(["fSubAktivitasNilaiSFBDRTWadd"], function() {
    fSubAktivitasNilaiSFBDRTWadd.createAutoSuggest(Object.assign({"id":"x_StatusAktivitas","forceSelect":false}, { lookupAllDisplayFields: @(subAktivitasNilaiSfbdrtwAdd.StatusAktivitas.Lookup.LookupAllDisplayFields ? "true" : "false") }, ew.vars.tables.SubAktivitasNilaiSFBDRTW.fields.StatusAktivitas.autoSuggestOptions));
});
</script>
@Html.Raw(subAktivitasNilaiSfbdrtwAdd.StatusAktivitas.Lookup.GetParamTag(subAktivitasNilaiSfbdrtwAdd, "p_x_StatusAktivitas"))
</span>
</div></div>
    </div>
} @* subAktivitasNilaiSfbdrtwAdd.StatusAktivitas.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasNilaiSfbdrtwAdd.CloseRecordset(); }
@Html.Raw(subAktivitasNilaiSfbdrtwAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasNilaiSfbdrtwAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasNilaiSFBDRTWadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasNilaiSFBDRTWadd" data-href="@AppPath(subAktivitasNilaiSfbdrtwAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasNilaiSfbdrtwAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@subAktivitasNilaiSfbdrtwAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasNilaiSFBDRTW");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
