@{
    // View
    View = this;

    // Check action result
    if (subAktivitasHasilPemeriksaanPenyaluranList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasHasilPemeriksaanPenyaluranList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasHasilPemeriksaanPenyaluranList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasHasilPemeriksaanPenyaluranList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasHasilPemeriksaanPenyaluran: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasHasilPemeriksaanPenyaluranList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasHasilPemeriksaanPenyaluranList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasHasilPemeriksaanPenyaluranList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasHasilPemeriksaanPenyaluranList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasHasilPemeriksaanPenyaluranList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasHasilPemeriksaanPenyaluranList.TotalRecords > 0 && subAktivitasHasilPemeriksaanPenyaluranList.ExportOptions.Visible) {
    subAktivitasHasilPemeriksaanPenyaluranList.ExportOptions.Render("body");
}
@if (subAktivitasHasilPemeriksaanPenyaluranList.ImportOptions.Visible) {
    subAktivitasHasilPemeriksaanPenyaluranList.ImportOptions.Render("body");
}
@if (subAktivitasHasilPemeriksaanPenyaluranList.SearchOptions.Visible) {
    subAktivitasHasilPemeriksaanPenyaluranList.SearchOptions.Render("body");
}
@if (subAktivitasHasilPemeriksaanPenyaluranList.FilterOptions.Visible) {
    subAktivitasHasilPemeriksaanPenyaluranList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasHasilPemeriksaanPenyaluranList.IsModal) {
<form name="fSubAktivitasHasilPemeriksaanPenyaluransrch" id="fSubAktivitasHasilPemeriksaanPenyaluransrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasHasilPemeriksaanPenyaluransrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasHasilPemeriksaanPenyaluranList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasHasilPemeriksaanPenyaluranList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasHasilPemeriksaanPenyaluran: currentTable } });
var currentForm;
var fSubAktivitasHasilPemeriksaanPenyaluransrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasHasilPemeriksaanPenyaluransrch")
        .setPageId("list")
@if (subAktivitasHasilPemeriksaanPenyaluranList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasHasilPemeriksaanPenyaluranList.IsExport() && Empty(subAktivitasHasilPemeriksaanPenyaluranList.CurrentAction) && subAktivitasHasilPemeriksaanPenyaluranList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasHasilPemeriksaanPenyaluranList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasHasilPemeriksaanPenyaluranList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasHasilPemeriksaanPenyaluransrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasHasilPemeriksaanPenyaluranList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasHasilPemeriksaanPenyaluransrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasHasilPemeriksaanPenyaluranList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasHasilPemeriksaanPenyaluransrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasHasilPemeriksaanPenyaluranList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasHasilPemeriksaanPenyaluransrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasHasilPemeriksaanPenyaluranList.ShowPageHeader()
@subAktivitasHasilPemeriksaanPenyaluranList.ShowMessages()
<main class="list @(subAktivitasHasilPemeriksaanPenyaluranList.TotalRecords == 0 && !subAktivitasHasilPemeriksaanPenyaluranList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasHasilPemeriksaanPenyaluranList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasHasilPemeriksaanPenyaluranList.TotalRecords > 0 || !Empty(subAktivitasHasilPemeriksaanPenyaluranList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasHasilPemeriksaanPenyaluranList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasHasilPemeriksaanPenyaluranList.TableGridClass)">
<form name="@(subAktivitasHasilPemeriksaanPenyaluranList.FormName)" id="@(subAktivitasHasilPemeriksaanPenyaluranList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasHasilPemeriksaanPenyaluranList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasHasilPemeriksaanPenyaluranList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasHasilPemeriksaanPenyaluran" class="card-body ew-grid-middle-panel @(subAktivitasHasilPemeriksaanPenyaluranList.TableContainerClass)" style="@(subAktivitasHasilPemeriksaanPenyaluranList.TableContainerStyle)">
@if (subAktivitasHasilPemeriksaanPenyaluranList.TotalRecords > 0 || subAktivitasHasilPemeriksaanPenyaluranList.IsGridEdit || subAktivitasHasilPemeriksaanPenyaluranList.IsMultiEdit) {
<table id="tbl_SubAktivitasHasilPemeriksaanPenyaluranlist" class="@(subAktivitasHasilPemeriksaanPenyaluranList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasHasilPemeriksaanPenyaluranList.RowType = RowType.Header;

    // Render list options
    await subAktivitasHasilPemeriksaanPenyaluranList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasHasilPemeriksaanPenyaluranList.ListOptions.RenderHeader("left")
@if (subAktivitasHasilPemeriksaanPenyaluranList.idProses.Visible) { // subAktivitasHasilPemeriksaanPenyaluranList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasHasilPemeriksaanPenyaluranList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluran_idProses" class="SubAktivitasHasilPemeriksaanPenyaluran_idProses">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranList.idProses))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranList.idProses.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranList.idAktifitas.Visible) { // subAktivitasHasilPemeriksaanPenyaluranList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasHasilPemeriksaanPenyaluranList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluran_idAktifitas" class="SubAktivitasHasilPemeriksaanPenyaluran_idAktifitas">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranList.idAktifitas))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranList.idAktifitas.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranList.NoReferensi.Visible) { // subAktivitasHasilPemeriksaanPenyaluranList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasHasilPemeriksaanPenyaluranList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluran_NoReferensi" class="SubAktivitasHasilPemeriksaanPenyaluran_NoReferensi">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranList.NoReferensi))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranList.NoReferensi.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranList.NamaKapal.Visible) { // subAktivitasHasilPemeriksaanPenyaluranList.NamaKapal.Visible (begin)
        <th data-name="NamaKapal" class="@(subAktivitasHasilPemeriksaanPenyaluranList.NamaKapal.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluran_NamaKapal" class="SubAktivitasHasilPemeriksaanPenyaluran_NamaKapal">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranList.NamaKapal))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranList.NamaKapal.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranList.Tanggal.Visible) { // subAktivitasHasilPemeriksaanPenyaluranList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasHasilPemeriksaanPenyaluranList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluran_Tanggal" class="SubAktivitasHasilPemeriksaanPenyaluran_Tanggal">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranList.Tanggal))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranList.Tanggal.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranList.NamaKegiatan.Visible) { // subAktivitasHasilPemeriksaanPenyaluranList.NamaKegiatan.Visible (begin)
        <th data-name="NamaKegiatan" class="@(subAktivitasHasilPemeriksaanPenyaluranList.NamaKegiatan.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluran_NamaKegiatan" class="SubAktivitasHasilPemeriksaanPenyaluran_NamaKegiatan">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranList.NamaKegiatan))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranList.NamaKegiatan.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranList.Produk.Visible) { // subAktivitasHasilPemeriksaanPenyaluranList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasHasilPemeriksaanPenyaluranList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluran_Produk" class="SubAktivitasHasilPemeriksaanPenyaluran_Produk">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranList.Produk))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranList.Produk.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranList.Density.Visible) { // subAktivitasHasilPemeriksaanPenyaluranList.Density.Visible (begin)
        <th data-name="Density" class="@(subAktivitasHasilPemeriksaanPenyaluranList.Density.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluran_Density" class="SubAktivitasHasilPemeriksaanPenyaluran_Density">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranList.Density))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranList.Density.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranList.Temperature.Visible) { // subAktivitasHasilPemeriksaanPenyaluranList.Temperature.Visible (begin)
        <th data-name="Temperature" class="@(subAktivitasHasilPemeriksaanPenyaluranList.Temperature.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluran_Temperature" class="SubAktivitasHasilPemeriksaanPenyaluran_Temperature">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranList.Temperature))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranList.Temperature.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranList.Pressure.Visible) { // subAktivitasHasilPemeriksaanPenyaluranList.Pressure.Visible (begin)
        <th data-name="Pressure" class="@(subAktivitasHasilPemeriksaanPenyaluranList.Pressure.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluran_Pressure" class="SubAktivitasHasilPemeriksaanPenyaluran_Pressure">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranList.Pressure))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranList.Pressure.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranList.userInput.Visible) { // subAktivitasHasilPemeriksaanPenyaluranList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasHasilPemeriksaanPenyaluranList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluran_userInput" class="SubAktivitasHasilPemeriksaanPenyaluran_userInput">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranList.userInput))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranList.userInput.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranList.LastUpdatedBy.Visible) { // subAktivitasHasilPemeriksaanPenyaluranList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasHasilPemeriksaanPenyaluranList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluran_LastUpdatedBy" class="SubAktivitasHasilPemeriksaanPenyaluran_LastUpdatedBy">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranList.LastUpdatedBy))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPenyaluranList.lastUpdatedDate.Visible) { // subAktivitasHasilPemeriksaanPenyaluranList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasHasilPemeriksaanPenyaluranList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanPenyaluran_lastUpdatedDate" class="SubAktivitasHasilPemeriksaanPenyaluran_lastUpdatedDate">@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.RenderFieldHeader(subAktivitasHasilPemeriksaanPenyaluranList.lastUpdatedDate))</div></th>
} @* subAktivitasHasilPemeriksaanPenyaluranList.lastUpdatedDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasHasilPemeriksaanPenyaluranList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasHasilPemeriksaanPenyaluranList.PageNumber)">
@{
    await subAktivitasHasilPemeriksaanPenyaluranList.SetupGrid();
    bool eof = subAktivitasHasilPemeriksaanPenyaluranList.Recordset == null; // DN
}
@while (subAktivitasHasilPemeriksaanPenyaluranList.RecordCount < subAktivitasHasilPemeriksaanPenyaluranList.StopRecord || SameString(subAktivitasHasilPemeriksaanPenyaluranList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasHasilPemeriksaanPenyaluranList.RowIndex, "$rowindex$") &&
        (!subAktivitasHasilPemeriksaanPenyaluranList.IsGridAdd || subAktivitasHasilPemeriksaanPenyaluranList.CurrentMode == "copy") &&
        (!((subAktivitasHasilPemeriksaanPenyaluranList.IsCopy || subAktivitasHasilPemeriksaanPenyaluranList.IsAdd) && subAktivitasHasilPemeriksaanPenyaluranList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasHasilPemeriksaanPenyaluranList.Recordset.ReadAsync();
    subAktivitasHasilPemeriksaanPenyaluranList.RecordCount++;
    if (subAktivitasHasilPemeriksaanPenyaluranList.RecordCount >= subAktivitasHasilPemeriksaanPenyaluranList.StartRecord) {
        await subAktivitasHasilPemeriksaanPenyaluranList.SetupRow();
    <tr @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasHasilPemeriksaanPenyaluranList.ListOptions.RenderBody("left", subAktivitasHasilPemeriksaanPenyaluranList.RowCount)
    @if (subAktivitasHasilPemeriksaanPenyaluranList.idProses.Visible) { // subAktivitasHasilPemeriksaanPenyaluranList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluran_idProses" class="el_SubAktivitasHasilPemeriksaanPenyaluran_idProses">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranList.idProses.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranList.idAktifitas.Visible) { // subAktivitasHasilPemeriksaanPenyaluranList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluran_idAktifitas" class="el_SubAktivitasHasilPemeriksaanPenyaluran_idAktifitas">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranList.idAktifitas.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranList.NoReferensi.Visible) { // subAktivitasHasilPemeriksaanPenyaluranList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluran_NoReferensi" class="el_SubAktivitasHasilPemeriksaanPenyaluran_NoReferensi">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranList.NoReferensi.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranList.NamaKapal.Visible) { // subAktivitasHasilPemeriksaanPenyaluranList.NamaKapal.Visible (begin)
        <td data-name="NamaKapal" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.NamaKapal.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluran_NamaKapal" class="el_SubAktivitasHasilPemeriksaanPenyaluran_NamaKapal">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.NamaKapal.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.NamaKapal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranList.NamaKapal.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranList.Tanggal.Visible) { // subAktivitasHasilPemeriksaanPenyaluranList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.Tanggal.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluran_Tanggal" class="el_SubAktivitasHasilPemeriksaanPenyaluran_Tanggal">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranList.Tanggal.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranList.NamaKegiatan.Visible) { // subAktivitasHasilPemeriksaanPenyaluranList.NamaKegiatan.Visible (begin)
        <td data-name="NamaKegiatan" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.NamaKegiatan.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluran_NamaKegiatan" class="el_SubAktivitasHasilPemeriksaanPenyaluran_NamaKegiatan">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.NamaKegiatan.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.NamaKegiatan.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranList.NamaKegiatan.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranList.Produk.Visible) { // subAktivitasHasilPemeriksaanPenyaluranList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.Produk.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluran_Produk" class="el_SubAktivitasHasilPemeriksaanPenyaluran_Produk">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranList.Produk.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranList.Density.Visible) { // subAktivitasHasilPemeriksaanPenyaluranList.Density.Visible (begin)
        <td data-name="Density" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.Density.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluran_Density" class="el_SubAktivitasHasilPemeriksaanPenyaluran_Density">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.Density.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.Density.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranList.Density.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranList.Temperature.Visible) { // subAktivitasHasilPemeriksaanPenyaluranList.Temperature.Visible (begin)
        <td data-name="Temperature" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.Temperature.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluran_Temperature" class="el_SubAktivitasHasilPemeriksaanPenyaluran_Temperature">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.Temperature.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.Temperature.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranList.Temperature.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranList.Pressure.Visible) { // subAktivitasHasilPemeriksaanPenyaluranList.Pressure.Visible (begin)
        <td data-name="Pressure" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.Pressure.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluran_Pressure" class="el_SubAktivitasHasilPemeriksaanPenyaluran_Pressure">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.Pressure.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.Pressure.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranList.Pressure.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranList.userInput.Visible) { // subAktivitasHasilPemeriksaanPenyaluranList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluran_userInput" class="el_SubAktivitasHasilPemeriksaanPenyaluran_userInput">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranList.userInput.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranList.LastUpdatedBy.Visible) { // subAktivitasHasilPemeriksaanPenyaluranList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluran_LastUpdatedBy" class="el_SubAktivitasHasilPemeriksaanPenyaluran_LastUpdatedBy">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanPenyaluranList.lastUpdatedDate.Visible) { // subAktivitasHasilPemeriksaanPenyaluranList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasHasilPemeriksaanPenyaluranList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasHasilPemeriksaanPenyaluranList.RowCount)_SubAktivitasHasilPemeriksaanPenyaluran_lastUpdatedDate" class="el_SubAktivitasHasilPemeriksaanPenyaluran_lastUpdatedDate">
<span @Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanPenyaluranList.lastUpdatedDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasHasilPemeriksaanPenyaluranList.ListOptions.RenderBody("right", subAktivitasHasilPemeriksaanPenyaluranList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasHasilPemeriksaanPenyaluranList.RowIndex, "$rowindex$"))
        subAktivitasHasilPemeriksaanPenyaluranList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasHasilPemeriksaanPenyaluranList.IsCopy || subAktivitasHasilPemeriksaanPenyaluranList.IsAdd) && subAktivitasHasilPemeriksaanPenyaluranList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasHasilPemeriksaanPenyaluranList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasHasilPemeriksaanPenyaluranList.CurrentAction) && !subAktivitasHasilPemeriksaanPenyaluranList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasHasilPemeriksaanPenyaluranList.CloseRecordset(); }
@if (!subAktivitasHasilPemeriksaanPenyaluranList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasHasilPemeriksaanPenyaluranList.IsGridAdd && !(subAktivitasHasilPemeriksaanPenyaluranList.IsGridEdit && subAktivitasHasilPemeriksaanPenyaluranList.ModalGridEdit) && !subAktivitasHasilPemeriksaanPenyaluranList.IsMultiEdit) {
@Html.Raw(subAktivitasHasilPemeriksaanPenyaluranList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasHasilPemeriksaanPenyaluranList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasHasilPemeriksaanPenyaluranList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasHasilPemeriksaanPenyaluranList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasHasilPemeriksaanPenyaluranList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasHasilPemeriksaanPenyaluranList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasHasilPemeriksaanPenyaluran");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
