@{
    // View
    View = this;

    // Check action result
    if (subAktivitasLaporanStockStscslpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasLaporanStockStscslpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasLaporanStockStscslpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasLaporanStockStscslpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasLaporanStockSTSCSLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasLaporanStockStscslpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasLaporanStockStscslpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasLaporanStockStscslpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasLaporanStockStscslpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasLaporanStockStscslpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasLaporanStockStscslpgList.TotalRecords > 0 && subAktivitasLaporanStockStscslpgList.ExportOptions.Visible) {
    subAktivitasLaporanStockStscslpgList.ExportOptions.Render("body");
}
@if (subAktivitasLaporanStockStscslpgList.ImportOptions.Visible) {
    subAktivitasLaporanStockStscslpgList.ImportOptions.Render("body");
}
@if (subAktivitasLaporanStockStscslpgList.SearchOptions.Visible) {
    subAktivitasLaporanStockStscslpgList.SearchOptions.Render("body");
}
@if (subAktivitasLaporanStockStscslpgList.FilterOptions.Visible) {
    subAktivitasLaporanStockStscslpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasLaporanStockStscslpgList.IsModal) {
<form name="fSubAktivitasLaporanStockSTSCSLPGsrch" id="fSubAktivitasLaporanStockSTSCSLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasLaporanStockSTSCSLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasLaporanStockStscslpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasLaporanStockStscslpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasLaporanStockSTSCSLPG: currentTable } });
var currentForm;
var fSubAktivitasLaporanStockSTSCSLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasLaporanStockSTSCSLPGsrch")
        .setPageId("list")
@if (subAktivitasLaporanStockStscslpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasLaporanStockStscslpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasLaporanStockStscslpgList.IsExport() && Empty(subAktivitasLaporanStockStscslpgList.CurrentAction) && subAktivitasLaporanStockStscslpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasLaporanStockStscslpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasLaporanStockStscslpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasLaporanStockStscslpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasLaporanStockStscslpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasLaporanStockSTSCSLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasLaporanStockStscslpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasLaporanStockSTSCSLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasLaporanStockStscslpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasLaporanStockSTSCSLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasLaporanStockStscslpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasLaporanStockSTSCSLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasLaporanStockStscslpgList.ShowPageHeader()
@subAktivitasLaporanStockStscslpgList.ShowMessages()
<main class="list @(subAktivitasLaporanStockStscslpgList.TotalRecords == 0 && !subAktivitasLaporanStockStscslpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasLaporanStockStscslpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasLaporanStockStscslpgList.TotalRecords > 0 || !Empty(subAktivitasLaporanStockStscslpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasLaporanStockStscslpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasLaporanStockStscslpgList.TableGridClass)">
<form name="@(subAktivitasLaporanStockStscslpgList.FormName)" id="@(subAktivitasLaporanStockStscslpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasLaporanStockStscslpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasLaporanStockStscslpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasLaporanStockSTSCSLPG" class="card-body ew-grid-middle-panel @(subAktivitasLaporanStockStscslpgList.TableContainerClass)" style="@(subAktivitasLaporanStockStscslpgList.TableContainerStyle)">
@if (subAktivitasLaporanStockStscslpgList.TotalRecords > 0 || subAktivitasLaporanStockStscslpgList.IsGridEdit || subAktivitasLaporanStockStscslpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasLaporanStockSTSCSLPGlist" class="@(subAktivitasLaporanStockStscslpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasLaporanStockStscslpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasLaporanStockStscslpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasLaporanStockStscslpgList.ListOptions.RenderHeader("left")
@if (subAktivitasLaporanStockStscslpgList.NoReferensi.Visible) { // subAktivitasLaporanStockStscslpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasLaporanStockStscslpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStockSTSCSLPG_NoReferensi" class="SubAktivitasLaporanStockSTSCSLPG_NoReferensi">@Html.Raw(subAktivitasLaporanStockStscslpgList.RenderFieldHeader(subAktivitasLaporanStockStscslpgList.NoReferensi))</div></th>
} @* subAktivitasLaporanStockStscslpgList.NoReferensi.Visible (end) *@
@if (subAktivitasLaporanStockStscslpgList.idProses.Visible) { // subAktivitasLaporanStockStscslpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasLaporanStockStscslpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStockSTSCSLPG_idProses" class="SubAktivitasLaporanStockSTSCSLPG_idProses">@Html.Raw(subAktivitasLaporanStockStscslpgList.RenderFieldHeader(subAktivitasLaporanStockStscslpgList.idProses))</div></th>
} @* subAktivitasLaporanStockStscslpgList.idProses.Visible (end) *@
@if (subAktivitasLaporanStockStscslpgList.idAktifitas.Visible) { // subAktivitasLaporanStockStscslpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasLaporanStockStscslpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStockSTSCSLPG_idAktifitas" class="SubAktivitasLaporanStockSTSCSLPG_idAktifitas">@Html.Raw(subAktivitasLaporanStockStscslpgList.RenderFieldHeader(subAktivitasLaporanStockStscslpgList.idAktifitas))</div></th>
} @* subAktivitasLaporanStockStscslpgList.idAktifitas.Visible (end) *@
@if (subAktivitasLaporanStockStscslpgList.StatusAktivitas.Visible) { // subAktivitasLaporanStockStscslpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasLaporanStockStscslpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStockSTSCSLPG_StatusAktivitas" class="SubAktivitasLaporanStockSTSCSLPG_StatusAktivitas">@Html.Raw(subAktivitasLaporanStockStscslpgList.RenderFieldHeader(subAktivitasLaporanStockStscslpgList.StatusAktivitas))</div></th>
} @* subAktivitasLaporanStockStscslpgList.StatusAktivitas.Visible (end) *@
@if (subAktivitasLaporanStockStscslpgList.LastUpdatedBy.Visible) { // subAktivitasLaporanStockStscslpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasLaporanStockStscslpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStockSTSCSLPG_LastUpdatedBy" class="SubAktivitasLaporanStockSTSCSLPG_LastUpdatedBy">@Html.Raw(subAktivitasLaporanStockStscslpgList.RenderFieldHeader(subAktivitasLaporanStockStscslpgList.LastUpdatedBy))</div></th>
} @* subAktivitasLaporanStockStscslpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasLaporanStockStscslpgList.lastUpdatedDate.Visible) { // subAktivitasLaporanStockStscslpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasLaporanStockStscslpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStockSTSCSLPG_lastUpdatedDate" class="SubAktivitasLaporanStockSTSCSLPG_lastUpdatedDate">@Html.Raw(subAktivitasLaporanStockStscslpgList.RenderFieldHeader(subAktivitasLaporanStockStscslpgList.lastUpdatedDate))</div></th>
} @* subAktivitasLaporanStockStscslpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasLaporanStockStscslpgList.StockAwal.Visible) { // subAktivitasLaporanStockStscslpgList.StockAwal.Visible (begin)
        <th data-name="StockAwal" class="@(subAktivitasLaporanStockStscslpgList.StockAwal.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStockSTSCSLPG_StockAwal" class="SubAktivitasLaporanStockSTSCSLPG_StockAwal">@Html.Raw(subAktivitasLaporanStockStscslpgList.RenderFieldHeader(subAktivitasLaporanStockStscslpgList.StockAwal))</div></th>
} @* subAktivitasLaporanStockStscslpgList.StockAwal.Visible (end) *@
@if (subAktivitasLaporanStockStscslpgList.Penerimaan2.Visible) { // subAktivitasLaporanStockStscslpgList.Penerimaan2.Visible (begin)
        <th data-name="Penerimaan2" class="@(subAktivitasLaporanStockStscslpgList.Penerimaan2.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStockSTSCSLPG_Penerimaan2" class="SubAktivitasLaporanStockSTSCSLPG_Penerimaan2">@Html.Raw(subAktivitasLaporanStockStscslpgList.RenderFieldHeader(subAktivitasLaporanStockStscslpgList.Penerimaan2))</div></th>
} @* subAktivitasLaporanStockStscslpgList.Penerimaan2.Visible (end) *@
@if (subAktivitasLaporanStockStscslpgList.Penyaluran2.Visible) { // subAktivitasLaporanStockStscslpgList.Penyaluran2.Visible (begin)
        <th data-name="Penyaluran2" class="@(subAktivitasLaporanStockStscslpgList.Penyaluran2.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStockSTSCSLPG_Penyaluran2" class="SubAktivitasLaporanStockSTSCSLPG_Penyaluran2">@Html.Raw(subAktivitasLaporanStockStscslpgList.RenderFieldHeader(subAktivitasLaporanStockStscslpgList.Penyaluran2))</div></th>
} @* subAktivitasLaporanStockStscslpgList.Penyaluran2.Visible (end) *@
@if (subAktivitasLaporanStockStscslpgList.StockAkhir.Visible) { // subAktivitasLaporanStockStscslpgList.StockAkhir.Visible (begin)
        <th data-name="StockAkhir" class="@(subAktivitasLaporanStockStscslpgList.StockAkhir.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStockSTSCSLPG_StockAkhir" class="SubAktivitasLaporanStockSTSCSLPG_StockAkhir">@Html.Raw(subAktivitasLaporanStockStscslpgList.RenderFieldHeader(subAktivitasLaporanStockStscslpgList.StockAkhir))</div></th>
} @* subAktivitasLaporanStockStscslpgList.StockAkhir.Visible (end) *@
@if (subAktivitasLaporanStockStscslpgList.WorkingLoss.Visible) { // subAktivitasLaporanStockStscslpgList.WorkingLoss.Visible (begin)
        <th data-name="WorkingLoss" class="@(subAktivitasLaporanStockStscslpgList.WorkingLoss.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStockSTSCSLPG_WorkingLoss" class="SubAktivitasLaporanStockSTSCSLPG_WorkingLoss">@Html.Raw(subAktivitasLaporanStockStscslpgList.RenderFieldHeader(subAktivitasLaporanStockStscslpgList.WorkingLoss))</div></th>
} @* subAktivitasLaporanStockStscslpgList.WorkingLoss.Visible (end) *@
@if (subAktivitasLaporanStockStscslpgList.Presentase.Visible) { // subAktivitasLaporanStockStscslpgList.Presentase.Visible (begin)
        <th data-name="Presentase" class="@(subAktivitasLaporanStockStscslpgList.Presentase.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStockSTSCSLPG_Presentase" class="SubAktivitasLaporanStockSTSCSLPG_Presentase">@Html.Raw(subAktivitasLaporanStockStscslpgList.RenderFieldHeader(subAktivitasLaporanStockStscslpgList.Presentase))</div></th>
} @* subAktivitasLaporanStockStscslpgList.Presentase.Visible (end) *@
@if (subAktivitasLaporanStockStscslpgList.userInput.Visible) { // subAktivitasLaporanStockStscslpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasLaporanStockStscslpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStockSTSCSLPG_userInput" class="SubAktivitasLaporanStockSTSCSLPG_userInput">@Html.Raw(subAktivitasLaporanStockStscslpgList.RenderFieldHeader(subAktivitasLaporanStockStscslpgList.userInput))</div></th>
} @* subAktivitasLaporanStockStscslpgList.userInput.Visible (end) *@
@if (subAktivitasLaporanStockStscslpgList.Tangki.Visible) { // subAktivitasLaporanStockStscslpgList.Tangki.Visible (begin)
        <th data-name="Tangki" class="@(subAktivitasLaporanStockStscslpgList.Tangki.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStockSTSCSLPG_Tangki" class="SubAktivitasLaporanStockSTSCSLPG_Tangki">@Html.Raw(subAktivitasLaporanStockStscslpgList.RenderFieldHeader(subAktivitasLaporanStockStscslpgList.Tangki))</div></th>
} @* subAktivitasLaporanStockStscslpgList.Tangki.Visible (end) *@
@if (subAktivitasLaporanStockStscslpgList.Produk.Visible) { // subAktivitasLaporanStockStscslpgList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasLaporanStockStscslpgList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasLaporanStockSTSCSLPG_Produk" class="SubAktivitasLaporanStockSTSCSLPG_Produk">@Html.Raw(subAktivitasLaporanStockStscslpgList.RenderFieldHeader(subAktivitasLaporanStockStscslpgList.Produk))</div></th>
} @* subAktivitasLaporanStockStscslpgList.Produk.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasLaporanStockStscslpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasLaporanStockStscslpgList.PageNumber)">
@{
    await subAktivitasLaporanStockStscslpgList.SetupGrid();
    bool eof = subAktivitasLaporanStockStscslpgList.Recordset == null; // DN
}
@while (subAktivitasLaporanStockStscslpgList.RecordCount < subAktivitasLaporanStockStscslpgList.StopRecord || SameString(subAktivitasLaporanStockStscslpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasLaporanStockStscslpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasLaporanStockStscslpgList.IsGridAdd || subAktivitasLaporanStockStscslpgList.CurrentMode == "copy") &&
        (!((subAktivitasLaporanStockStscslpgList.IsCopy || subAktivitasLaporanStockStscslpgList.IsAdd) && subAktivitasLaporanStockStscslpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasLaporanStockStscslpgList.Recordset.ReadAsync();
    subAktivitasLaporanStockStscslpgList.RecordCount++;
    if (subAktivitasLaporanStockStscslpgList.RecordCount >= subAktivitasLaporanStockStscslpgList.StartRecord) {
        await subAktivitasLaporanStockStscslpgList.SetupRow();
    <tr @Html.Raw(subAktivitasLaporanStockStscslpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasLaporanStockStscslpgList.ListOptions.RenderBody("left", subAktivitasLaporanStockStscslpgList.RowCount)
    @if (subAktivitasLaporanStockStscslpgList.NoReferensi.Visible) { // subAktivitasLaporanStockStscslpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasLaporanStockStscslpgList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasLaporanStockStscslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasLaporanStockStscslpgList.RowCount)_SubAktivitasLaporanStockSTSCSLPG_NoReferensi" class="el_SubAktivitasLaporanStockSTSCSLPG_NoReferensi">
<span @Html.Raw(subAktivitasLaporanStockStscslpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockStscslpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockStscslpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasLaporanStockStscslpgList.idProses.Visible) { // subAktivitasLaporanStockStscslpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasLaporanStockStscslpgList.idProses.CellAttributes)>
<span id="el@(subAktivitasLaporanStockStscslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasLaporanStockStscslpgList.RowCount)_SubAktivitasLaporanStockSTSCSLPG_idProses" class="el_SubAktivitasLaporanStockSTSCSLPG_idProses">
<span @Html.Raw(subAktivitasLaporanStockStscslpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockStscslpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockStscslpgList.idProses.Visible (end) *@
    @if (subAktivitasLaporanStockStscslpgList.idAktifitas.Visible) { // subAktivitasLaporanStockStscslpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasLaporanStockStscslpgList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasLaporanStockStscslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasLaporanStockStscslpgList.RowCount)_SubAktivitasLaporanStockSTSCSLPG_idAktifitas" class="el_SubAktivitasLaporanStockSTSCSLPG_idAktifitas">
<span @Html.Raw(subAktivitasLaporanStockStscslpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockStscslpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockStscslpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasLaporanStockStscslpgList.StatusAktivitas.Visible) { // subAktivitasLaporanStockStscslpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasLaporanStockStscslpgList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasLaporanStockStscslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasLaporanStockStscslpgList.RowCount)_SubAktivitasLaporanStockSTSCSLPG_StatusAktivitas" class="el_SubAktivitasLaporanStockSTSCSLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasLaporanStockStscslpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockStscslpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockStscslpgList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasLaporanStockStscslpgList.LastUpdatedBy.Visible) { // subAktivitasLaporanStockStscslpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasLaporanStockStscslpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasLaporanStockStscslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasLaporanStockStscslpgList.RowCount)_SubAktivitasLaporanStockSTSCSLPG_LastUpdatedBy" class="el_SubAktivitasLaporanStockSTSCSLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasLaporanStockStscslpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockStscslpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockStscslpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasLaporanStockStscslpgList.lastUpdatedDate.Visible) { // subAktivitasLaporanStockStscslpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasLaporanStockStscslpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasLaporanStockStscslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasLaporanStockStscslpgList.RowCount)_SubAktivitasLaporanStockSTSCSLPG_lastUpdatedDate" class="el_SubAktivitasLaporanStockSTSCSLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasLaporanStockStscslpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockStscslpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockStscslpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasLaporanStockStscslpgList.StockAwal.Visible) { // subAktivitasLaporanStockStscslpgList.StockAwal.Visible (begin)
        <td data-name="StockAwal" @Html.Raw(subAktivitasLaporanStockStscslpgList.StockAwal.CellAttributes)>
<span id="el@(subAktivitasLaporanStockStscslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasLaporanStockStscslpgList.RowCount)_SubAktivitasLaporanStockSTSCSLPG_StockAwal" class="el_SubAktivitasLaporanStockSTSCSLPG_StockAwal">
<span @Html.Raw(subAktivitasLaporanStockStscslpgList.StockAwal.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockStscslpgList.StockAwal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockStscslpgList.StockAwal.Visible (end) *@
    @if (subAktivitasLaporanStockStscslpgList.Penerimaan2.Visible) { // subAktivitasLaporanStockStscslpgList.Penerimaan2.Visible (begin)
        <td data-name="Penerimaan2" @Html.Raw(subAktivitasLaporanStockStscslpgList.Penerimaan2.CellAttributes)>
<span id="el@(subAktivitasLaporanStockStscslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasLaporanStockStscslpgList.RowCount)_SubAktivitasLaporanStockSTSCSLPG_Penerimaan2" class="el_SubAktivitasLaporanStockSTSCSLPG_Penerimaan2">
<span @Html.Raw(subAktivitasLaporanStockStscslpgList.Penerimaan2.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockStscslpgList.Penerimaan2.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockStscslpgList.Penerimaan2.Visible (end) *@
    @if (subAktivitasLaporanStockStscslpgList.Penyaluran2.Visible) { // subAktivitasLaporanStockStscslpgList.Penyaluran2.Visible (begin)
        <td data-name="Penyaluran2" @Html.Raw(subAktivitasLaporanStockStscslpgList.Penyaluran2.CellAttributes)>
<span id="el@(subAktivitasLaporanStockStscslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasLaporanStockStscslpgList.RowCount)_SubAktivitasLaporanStockSTSCSLPG_Penyaluran2" class="el_SubAktivitasLaporanStockSTSCSLPG_Penyaluran2">
<span @Html.Raw(subAktivitasLaporanStockStscslpgList.Penyaluran2.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockStscslpgList.Penyaluran2.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockStscslpgList.Penyaluran2.Visible (end) *@
    @if (subAktivitasLaporanStockStscslpgList.StockAkhir.Visible) { // subAktivitasLaporanStockStscslpgList.StockAkhir.Visible (begin)
        <td data-name="StockAkhir" @Html.Raw(subAktivitasLaporanStockStscslpgList.StockAkhir.CellAttributes)>
<span id="el@(subAktivitasLaporanStockStscslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasLaporanStockStscslpgList.RowCount)_SubAktivitasLaporanStockSTSCSLPG_StockAkhir" class="el_SubAktivitasLaporanStockSTSCSLPG_StockAkhir">
<span @Html.Raw(subAktivitasLaporanStockStscslpgList.StockAkhir.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockStscslpgList.StockAkhir.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockStscslpgList.StockAkhir.Visible (end) *@
    @if (subAktivitasLaporanStockStscslpgList.WorkingLoss.Visible) { // subAktivitasLaporanStockStscslpgList.WorkingLoss.Visible (begin)
        <td data-name="WorkingLoss" @Html.Raw(subAktivitasLaporanStockStscslpgList.WorkingLoss.CellAttributes)>
<span id="el@(subAktivitasLaporanStockStscslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasLaporanStockStscslpgList.RowCount)_SubAktivitasLaporanStockSTSCSLPG_WorkingLoss" class="el_SubAktivitasLaporanStockSTSCSLPG_WorkingLoss">
<span @Html.Raw(subAktivitasLaporanStockStscslpgList.WorkingLoss.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockStscslpgList.WorkingLoss.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockStscslpgList.WorkingLoss.Visible (end) *@
    @if (subAktivitasLaporanStockStscslpgList.Presentase.Visible) { // subAktivitasLaporanStockStscslpgList.Presentase.Visible (begin)
        <td data-name="Presentase" @Html.Raw(subAktivitasLaporanStockStscslpgList.Presentase.CellAttributes)>
<span id="el@(subAktivitasLaporanStockStscslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasLaporanStockStscslpgList.RowCount)_SubAktivitasLaporanStockSTSCSLPG_Presentase" class="el_SubAktivitasLaporanStockSTSCSLPG_Presentase">
<span @Html.Raw(subAktivitasLaporanStockStscslpgList.Presentase.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockStscslpgList.Presentase.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockStscslpgList.Presentase.Visible (end) *@
    @if (subAktivitasLaporanStockStscslpgList.userInput.Visible) { // subAktivitasLaporanStockStscslpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasLaporanStockStscslpgList.userInput.CellAttributes)>
<span id="el@(subAktivitasLaporanStockStscslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasLaporanStockStscslpgList.RowCount)_SubAktivitasLaporanStockSTSCSLPG_userInput" class="el_SubAktivitasLaporanStockSTSCSLPG_userInput">
<span @Html.Raw(subAktivitasLaporanStockStscslpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockStscslpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockStscslpgList.userInput.Visible (end) *@
    @if (subAktivitasLaporanStockStscslpgList.Tangki.Visible) { // subAktivitasLaporanStockStscslpgList.Tangki.Visible (begin)
        <td data-name="Tangki" @Html.Raw(subAktivitasLaporanStockStscslpgList.Tangki.CellAttributes)>
<span id="el@(subAktivitasLaporanStockStscslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasLaporanStockStscslpgList.RowCount)_SubAktivitasLaporanStockSTSCSLPG_Tangki" class="el_SubAktivitasLaporanStockSTSCSLPG_Tangki">
<span @Html.Raw(subAktivitasLaporanStockStscslpgList.Tangki.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockStscslpgList.Tangki.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockStscslpgList.Tangki.Visible (end) *@
    @if (subAktivitasLaporanStockStscslpgList.Produk.Visible) { // subAktivitasLaporanStockStscslpgList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasLaporanStockStscslpgList.Produk.CellAttributes)>
<span id="el@(subAktivitasLaporanStockStscslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasLaporanStockStscslpgList.RowCount)_SubAktivitasLaporanStockSTSCSLPG_Produk" class="el_SubAktivitasLaporanStockSTSCSLPG_Produk">
<span @Html.Raw(subAktivitasLaporanStockStscslpgList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasLaporanStockStscslpgList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLaporanStockStscslpgList.Produk.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasLaporanStockStscslpgList.ListOptions.RenderBody("right", subAktivitasLaporanStockStscslpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasLaporanStockStscslpgList.RowIndex, "$rowindex$"))
        subAktivitasLaporanStockStscslpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasLaporanStockStscslpgList.IsCopy || subAktivitasLaporanStockStscslpgList.IsAdd) && subAktivitasLaporanStockStscslpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasLaporanStockStscslpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasLaporanStockStscslpgList.CurrentAction) && !subAktivitasLaporanStockStscslpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasLaporanStockStscslpgList.CloseRecordset(); }
@if (!subAktivitasLaporanStockStscslpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasLaporanStockStscslpgList.IsGridAdd && !(subAktivitasLaporanStockStscslpgList.IsGridEdit && subAktivitasLaporanStockStscslpgList.ModalGridEdit) && !subAktivitasLaporanStockStscslpgList.IsMultiEdit) {
@Html.Raw(subAktivitasLaporanStockStscslpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasLaporanStockStscslpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasLaporanStockStscslpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasLaporanStockStscslpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasLaporanStockStscslpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasLaporanStockStscslpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasLaporanStockSTSCSLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
