@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputHslPemeriksaanDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputHslPemeriksaanDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputHslPemeriksaanDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputHslPemeriksaan: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fSubAktivitasFormInputHslPemeriksaandelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputHslPemeriksaandelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasFormInputHslPemeriksaanDelete.ShowPageHeader()
@subAktivitasFormInputHslPemeriksaanDelete.ShowMessages()
<form name="fSubAktivitasFormInputHslPemeriksaandelete" id="fSubAktivitasFormInputHslPemeriksaandelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in subAktivitasFormInputHslPemeriksaanDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(subAktivitasFormInputHslPemeriksaanDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(subAktivitasFormInputHslPemeriksaanDelete.TableContainerClass)" style="@(subAktivitasFormInputHslPemeriksaanDelete.TableContainerStyle)">
<table class="@(subAktivitasFormInputHslPemeriksaanDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (subAktivitasFormInputHslPemeriksaanDelete.id.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.id.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.id.HeaderCellClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_id" class="SubAktivitasFormInputHslPemeriksaan_id">@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.id.Caption)</span></th>
} @* subAktivitasFormInputHslPemeriksaanDelete.id.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.idAktifitas.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.idAktifitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.idAktifitas.HeaderCellClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_idAktifitas" class="SubAktivitasFormInputHslPemeriksaan_idAktifitas">@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.idAktifitas.Caption)</span></th>
} @* subAktivitasFormInputHslPemeriksaanDelete.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.idProses.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.idProses.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.idProses.HeaderCellClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_idProses" class="SubAktivitasFormInputHslPemeriksaan_idProses">@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.idProses.Caption)</span></th>
} @* subAktivitasFormInputHslPemeriksaanDelete.idProses.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.NoReferensi.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.NoReferensi.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.NoReferensi.HeaderCellClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_NoReferensi" class="SubAktivitasFormInputHslPemeriksaan_NoReferensi">@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.NoReferensi.Caption)</span></th>
} @* subAktivitasFormInputHslPemeriksaanDelete.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.Tanggal.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.Tanggal.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.Tanggal.HeaderCellClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_Tanggal" class="SubAktivitasFormInputHslPemeriksaan_Tanggal">@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.Tanggal.Caption)</span></th>
} @* subAktivitasFormInputHslPemeriksaanDelete.Tanggal.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.NamaKegiatan.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.NamaKegiatan.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.NamaKegiatan.HeaderCellClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_NamaKegiatan" class="SubAktivitasFormInputHslPemeriksaan_NamaKegiatan">@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.NamaKegiatan.Caption)</span></th>
} @* subAktivitasFormInputHslPemeriksaanDelete.NamaKegiatan.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.Produk.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.Produk.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.Produk.HeaderCellClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_Produk" class="SubAktivitasFormInputHslPemeriksaan_Produk">@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.Produk.Caption)</span></th>
} @* subAktivitasFormInputHslPemeriksaanDelete.Produk.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.Density.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.Density.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.Density.HeaderCellClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_Density" class="SubAktivitasFormInputHslPemeriksaan_Density">@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.Density.Caption)</span></th>
} @* subAktivitasFormInputHslPemeriksaanDelete.Density.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.Temperature.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.Temperature.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.Temperature.HeaderCellClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_Temperature" class="SubAktivitasFormInputHslPemeriksaan_Temperature">@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.Temperature.Caption)</span></th>
} @* subAktivitasFormInputHslPemeriksaanDelete.Temperature.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.Pressure.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.Pressure.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.Pressure.HeaderCellClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_Pressure" class="SubAktivitasFormInputHslPemeriksaan_Pressure">@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.Pressure.Caption)</span></th>
} @* subAktivitasFormInputHslPemeriksaanDelete.Pressure.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.Keterangan.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.Keterangan.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.Keterangan.HeaderCellClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_Keterangan" class="SubAktivitasFormInputHslPemeriksaan_Keterangan">@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.Keterangan.Caption)</span></th>
} @* subAktivitasFormInputHslPemeriksaanDelete.Keterangan.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.userInput.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.userInput.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.userInput.HeaderCellClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_userInput" class="SubAktivitasFormInputHslPemeriksaan_userInput">@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.userInput.Caption)</span></th>
} @* subAktivitasFormInputHslPemeriksaanDelete.userInput.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.etlDate.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.etlDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.etlDate.HeaderCellClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_etlDate" class="SubAktivitasFormInputHslPemeriksaan_etlDate">@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.etlDate.Caption)</span></th>
} @* subAktivitasFormInputHslPemeriksaanDelete.etlDate.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.LastUpdatedBy.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.LastUpdatedBy.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.LastUpdatedBy.HeaderCellClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_LastUpdatedBy" class="SubAktivitasFormInputHslPemeriksaan_LastUpdatedBy">@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.LastUpdatedBy.Caption)</span></th>
} @* subAktivitasFormInputHslPemeriksaanDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.lastUpdatedDate.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.lastUpdatedDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.lastUpdatedDate.HeaderCellClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_lastUpdatedDate" class="SubAktivitasFormInputHslPemeriksaan_lastUpdatedDate">@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.lastUpdatedDate.Caption)</span></th>
} @* subAktivitasFormInputHslPemeriksaanDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.TanggalJamSOP.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.TanggalJamSOP.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.TanggalJamSOP.HeaderCellClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_TanggalJamSOP" class="SubAktivitasFormInputHslPemeriksaan_TanggalJamSOP">@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.TanggalJamSOP.Caption)</span></th>
} @* subAktivitasFormInputHslPemeriksaanDelete.TanggalJamSOP.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.SelisihWaktu.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.SelisihWaktu.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.SelisihWaktu.HeaderCellClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_SelisihWaktu" class="SubAktivitasFormInputHslPemeriksaan_SelisihWaktu">@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.SelisihWaktu.Caption)</span></th>
} @* subAktivitasFormInputHslPemeriksaanDelete.SelisihWaktu.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.IsQualityActive.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.IsQualityActive.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.IsQualityActive.HeaderCellClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_IsQualityActive" class="SubAktivitasFormInputHslPemeriksaan_IsQualityActive">@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.IsQualityActive.Caption)</span></th>
} @* subAktivitasFormInputHslPemeriksaanDelete.IsQualityActive.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ subAktivitasFormInputHslPemeriksaanDelete.RecordCount = 0; }
@while (subAktivitasFormInputHslPemeriksaanDelete.Recordset != null && await subAktivitasFormInputHslPemeriksaanDelete.Recordset.ReadAsync()) { // DN
    subAktivitasFormInputHslPemeriksaanDelete.RecordCount++;
    subAktivitasFormInputHslPemeriksaanDelete.RowCount++;

    // Set row properties
    subAktivitasFormInputHslPemeriksaanDelete.ResetAttributes();
    subAktivitasFormInputHslPemeriksaanDelete.RowType = RowType.View; // View

    // Get the field contents
    await subAktivitasFormInputHslPemeriksaanDelete.LoadRowValues(subAktivitasFormInputHslPemeriksaanDelete.Recordset);

    // Render row
    await subAktivitasFormInputHslPemeriksaanDelete.RenderRow();
    <tr @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.RowAttributes)>
@if (subAktivitasFormInputHslPemeriksaanDelete.id.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.id.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.id.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.id.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputHslPemeriksaanDelete.id.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.idAktifitas.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.idAktifitas.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.idAktifitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.idAktifitas.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputHslPemeriksaanDelete.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.idProses.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.idProses.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.idProses.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.idProses.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputHslPemeriksaanDelete.idProses.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.NoReferensi.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.NoReferensi.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.NoReferensi.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.NoReferensi.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputHslPemeriksaanDelete.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.Tanggal.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.Tanggal.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.Tanggal.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.Tanggal.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputHslPemeriksaanDelete.Tanggal.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.NamaKegiatan.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.NamaKegiatan.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.NamaKegiatan.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.NamaKegiatan.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.NamaKegiatan.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputHslPemeriksaanDelete.NamaKegiatan.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.Produk.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.Produk.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.Produk.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.Produk.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.Produk.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputHslPemeriksaanDelete.Produk.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.Density.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.Density.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.Density.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.Density.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.Density.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputHslPemeriksaanDelete.Density.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.Temperature.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.Temperature.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.Temperature.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.Temperature.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.Temperature.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputHslPemeriksaanDelete.Temperature.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.Pressure.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.Pressure.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.Pressure.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.Pressure.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.Pressure.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputHslPemeriksaanDelete.Pressure.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.Keterangan.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.Keterangan.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.Keterangan.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.Keterangan.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.Keterangan.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputHslPemeriksaanDelete.Keterangan.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.userInput.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.userInput.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.userInput.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.userInput.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputHslPemeriksaanDelete.userInput.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.etlDate.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.etlDate.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.etlDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.etlDate.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputHslPemeriksaanDelete.etlDate.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.LastUpdatedBy.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.LastUpdatedBy.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.LastUpdatedBy.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.LastUpdatedBy.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputHslPemeriksaanDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.lastUpdatedDate.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.lastUpdatedDate.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.lastUpdatedDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.lastUpdatedDate.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputHslPemeriksaanDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.TanggalJamSOP.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.TanggalJamSOP.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.TanggalJamSOP.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.TanggalJamSOP.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.TanggalJamSOP.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputHslPemeriksaanDelete.TanggalJamSOP.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.SelisihWaktu.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.SelisihWaktu.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.SelisihWaktu.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.SelisihWaktu.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.SelisihWaktu.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputHslPemeriksaanDelete.SelisihWaktu.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanDelete.IsQualityActive.Visible) { // subAktivitasFormInputHslPemeriksaanDelete.IsQualityActive.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.IsQualityActive.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanDelete.IsQualityActive.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(subAktivitasFormInputHslPemeriksaanDelete.IsQualityActive.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span></td>
} @* subAktivitasFormInputHslPemeriksaanDelete.IsQualityActive.Visible (end) *@
    </tr>
}
@{ subAktivitasFormInputHslPemeriksaanDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(subAktivitasFormInputHslPemeriksaanDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@subAktivitasFormInputHslPemeriksaanDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
