@{
    // View
    View = this;

    // Check action result
    if (subAktivitasInputLogbookPenerimaanPipaEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasInputLogbookPenerimaanPipaEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasInputLogbookPenerimaanPipaEdit.ShowPageHeader()
@subAktivitasInputLogbookPenerimaanPipaEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasInputLogbookPenerimaanPipaedit" id="fSubAktivitasInputLogbookPenerimaanPipaedit" class="@(subAktivitasInputLogbookPenerimaanPipaEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasInputLogbookPenerimaanPipaEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasInputLogbookPenerimaanPipa: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasInputLogbookPenerimaanPipaedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasInputLogbookPenerimaanPipaedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["NamaBatch", [fields.NamaBatch.visible && fields.NamaBatch.required ? ew.Validators.required(fields.NamaBatch.caption) : null], fields.NamaBatch.isInvalid],
            ["TanggalJam", [fields.TanggalJam.visible && fields.TanggalJam.required ? ew.Validators.required(fields.TanggalJam.caption) : null, ew.Validators.datetime(fields.TanggalJam.clientFormatPattern)], fields.TanggalJam.isInvalid],
            ["NamaKegiatan", [fields.NamaKegiatan.visible && fields.NamaKegiatan.required ? ew.Validators.required(fields.NamaKegiatan.caption) : null], fields.NamaKegiatan.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["Density", [fields.Density.visible && fields.Density.required ? ew.Validators.required(fields.Density.caption) : null], fields.Density.isInvalid],
            ["Temperature", [fields.Temperature.visible && fields.Temperature.required ? ew.Validators.required(fields.Temperature.caption) : null], fields.Temperature.isInvalid],
            ["Keterangan", [fields.Keterangan.visible && fields.Keterangan.required ? ew.Validators.required(fields.Keterangan.caption) : null], fields.Keterangan.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["SubAktivitasHasilPemeriksaanId", [fields.SubAktivitasHasilPemeriksaanId.visible && fields.SubAktivitasHasilPemeriksaanId.required ? ew.Validators.required(fields.SubAktivitasHasilPemeriksaanId.caption) : null, ew.Validators.integer], fields.SubAktivitasHasilPemeriksaanId.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasInputLogbookPenerimaanPipaEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasInputLogbookPenerimaanPipaEdit.OldKeyName)" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasInputLogbookPenerimaanPipaEdit.id.Visible) { // subAktivitasInputLogbookPenerimaanPipaEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.id.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPipa_id" class="@(subAktivitasInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.id.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.id.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPipa_id">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasInputLogbookPenerimaanPipaEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasInputLogbookPenerimaanPipa" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPipaEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPipaEdit.id.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPipaEdit.idAktifitas.Visible) { // subAktivitasInputLogbookPenerimaanPipaEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPipa_idAktifitas" for="x_idAktifitas" class="@(subAktivitasInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.idAktifitas.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPipa_idAktifitas">
<input type="@(subAktivitasInputLogbookPenerimaanPipaEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubAktivitasInputLogbookPenerimaanPipa" data-field="x_idAktifitas" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPipaEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPipaEdit.idAktifitas.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPipaEdit.idAktifitas.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPipaEdit.NamaBatch.Visible) { // subAktivitasInputLogbookPenerimaanPipaEdit.NamaBatch.Visible (begin)
    <div id="r_NamaBatch" @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.NamaBatch.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPipa_NamaBatch" for="x_NamaBatch" class="@(subAktivitasInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.NamaBatch.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.NamaBatch.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.NamaBatch.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPipa_NamaBatch">
<input type="@(subAktivitasInputLogbookPenerimaanPipaEdit.NamaBatch.InputTextType)" name="x_NamaBatch" id="x_NamaBatch" data-table="SubAktivitasInputLogbookPenerimaanPipa" data-field="x_NamaBatch" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.NamaBatch.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPipaEdit.NamaBatch.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPipaEdit.NamaBatch.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.NamaBatch.EditAttributes) aria-describedby="x_NamaBatch_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.NamaBatch.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.NamaBatch.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPipaEdit.NamaBatch.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPipaEdit.TanggalJam.Visible) { // subAktivitasInputLogbookPenerimaanPipaEdit.TanggalJam.Visible (begin)
    <div id="r_TanggalJam" @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.TanggalJam.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPipa_TanggalJam" for="x_TanggalJam" class="@(subAktivitasInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.TanggalJam.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.TanggalJam.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.TanggalJam.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPipa_TanggalJam">
<input type="@(subAktivitasInputLogbookPenerimaanPipaEdit.TanggalJam.InputTextType)" name="x_TanggalJam" id="x_TanggalJam" data-table="SubAktivitasInputLogbookPenerimaanPipa" data-field="x_TanggalJam" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.TanggalJam.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPipaEdit.TanggalJam.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPipaEdit.TanggalJam.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.TanggalJam.EditAttributes) aria-describedby="x_TanggalJam_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.TanggalJam.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.TanggalJam.GetErrorMessage())</div>
@if (!subAktivitasInputLogbookPenerimaanPipaEdit.TanggalJam.ReadOnly && !subAktivitasInputLogbookPenerimaanPipaEdit.TanggalJam.Disabled && !subAktivitasInputLogbookPenerimaanPipaEdit.TanggalJam.EditAttrs.Is("readonly") && !subAktivitasInputLogbookPenerimaanPipaEdit.TanggalJam.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasInputLogbookPenerimaanPipaedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasInputLogbookPenerimaanPipaedit", "x_TanggalJam", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPipaEdit.TanggalJam.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPipaEdit.NamaKegiatan.Visible) { // subAktivitasInputLogbookPenerimaanPipaEdit.NamaKegiatan.Visible (begin)
    <div id="r_NamaKegiatan" @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.NamaKegiatan.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPipa_NamaKegiatan" for="x_NamaKegiatan" class="@(subAktivitasInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.NamaKegiatan.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.NamaKegiatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.NamaKegiatan.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPipa_NamaKegiatan">
<input type="@(subAktivitasInputLogbookPenerimaanPipaEdit.NamaKegiatan.InputTextType)" name="x_NamaKegiatan" id="x_NamaKegiatan" data-table="SubAktivitasInputLogbookPenerimaanPipa" data-field="x_NamaKegiatan" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.NamaKegiatan.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPipaEdit.NamaKegiatan.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPipaEdit.NamaKegiatan.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.NamaKegiatan.EditAttributes) aria-describedby="x_NamaKegiatan_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.NamaKegiatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.NamaKegiatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPipaEdit.NamaKegiatan.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPipaEdit.Produk.Visible) { // subAktivitasInputLogbookPenerimaanPipaEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.Produk.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPipa_Produk" for="x_Produk" class="@(subAktivitasInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.Produk.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.Produk.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPipa_Produk">
<input type="@(subAktivitasInputLogbookPenerimaanPipaEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasInputLogbookPenerimaanPipa" data-field="x_Produk" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.Produk.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPipaEdit.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPipaEdit.Produk.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPipaEdit.Produk.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPipaEdit.Density.Visible) { // subAktivitasInputLogbookPenerimaanPipaEdit.Density.Visible (begin)
    <div id="r_Density" @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.Density.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPipa_Density" for="x_Density" class="@(subAktivitasInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.Density.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.Density.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.Density.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPipa_Density">
<input type="@(subAktivitasInputLogbookPenerimaanPipaEdit.Density.InputTextType)" name="x_Density" id="x_Density" data-table="SubAktivitasInputLogbookPenerimaanPipa" data-field="x_Density" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.Density.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPipaEdit.Density.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPipaEdit.Density.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.Density.EditAttributes) aria-describedby="x_Density_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.Density.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.Density.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPipaEdit.Density.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPipaEdit.Temperature.Visible) { // subAktivitasInputLogbookPenerimaanPipaEdit.Temperature.Visible (begin)
    <div id="r_Temperature" @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.Temperature.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPipa_Temperature" for="x_Temperature" class="@(subAktivitasInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.Temperature.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.Temperature.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.Temperature.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPipa_Temperature">
<input type="@(subAktivitasInputLogbookPenerimaanPipaEdit.Temperature.InputTextType)" name="x_Temperature" id="x_Temperature" data-table="SubAktivitasInputLogbookPenerimaanPipa" data-field="x_Temperature" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.Temperature.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPipaEdit.Temperature.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPipaEdit.Temperature.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.Temperature.EditAttributes) aria-describedby="x_Temperature_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.Temperature.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.Temperature.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPipaEdit.Temperature.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPipaEdit.Keterangan.Visible) { // subAktivitasInputLogbookPenerimaanPipaEdit.Keterangan.Visible (begin)
    <div id="r_Keterangan" @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.Keterangan.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPipa_Keterangan" for="x_Keterangan" class="@(subAktivitasInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.Keterangan.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.Keterangan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.Keterangan.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPipa_Keterangan">
<textarea data-table="SubAktivitasInputLogbookPenerimaanPipa" data-field="x_Keterangan" name="x_Keterangan" id="x_Keterangan" cols="35" rows="4" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPipaEdit.Keterangan.PlaceHolder))"@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.Keterangan.EditAttributes) aria-describedby="x_Keterangan_help">@(subAktivitasInputLogbookPenerimaanPipaEdit.Keterangan.EditValue)</textarea>
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.Keterangan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.Keterangan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPipaEdit.Keterangan.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPipaEdit.userInput.Visible) { // subAktivitasInputLogbookPenerimaanPipaEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.userInput.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPipa_userInput" for="x_userInput" class="@(subAktivitasInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.userInput.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.userInput.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPipa_userInput">
<input type="@(subAktivitasInputLogbookPenerimaanPipaEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasInputLogbookPenerimaanPipa" data-field="x_userInput" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPipaEdit.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPipaEdit.userInput.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPipaEdit.userInput.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPipaEdit.etlDate.Visible) { // subAktivitasInputLogbookPenerimaanPipaEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPipa_etlDate" for="x_etlDate" class="@(subAktivitasInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.etlDate.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.etlDate.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPipa_etlDate">
<input type="@(subAktivitasInputLogbookPenerimaanPipaEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasInputLogbookPenerimaanPipa" data-field="x_etlDate" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPipaEdit.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPipaEdit.etlDate.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.etlDate.GetErrorMessage())</div>
@if (!subAktivitasInputLogbookPenerimaanPipaEdit.etlDate.ReadOnly && !subAktivitasInputLogbookPenerimaanPipaEdit.etlDate.Disabled && !subAktivitasInputLogbookPenerimaanPipaEdit.etlDate.EditAttrs.Is("readonly") && !subAktivitasInputLogbookPenerimaanPipaEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasInputLogbookPenerimaanPipaedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasInputLogbookPenerimaanPipaedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPipaEdit.etlDate.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPipaEdit.idProses.Visible) { // subAktivitasInputLogbookPenerimaanPipaEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPipa_idProses" for="x_idProses" class="@(subAktivitasInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.idProses.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPipa_idProses">
<input type="@(subAktivitasInputLogbookPenerimaanPipaEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubAktivitasInputLogbookPenerimaanPipa" data-field="x_idProses" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPipaEdit.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPipaEdit.idProses.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPipaEdit.idProses.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPipaEdit.LastUpdatedBy.Visible) { // subAktivitasInputLogbookPenerimaanPipaEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPipa_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPipa_LastUpdatedBy">
<input type="@(subAktivitasInputLogbookPenerimaanPipaEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasInputLogbookPenerimaanPipa" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPipaEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPipaEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPipaEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPipaEdit.lastUpdatedDate.Visible) { // subAktivitasInputLogbookPenerimaanPipaEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPipa_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPipa_lastUpdatedDate">
<input type="@(subAktivitasInputLogbookPenerimaanPipaEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasInputLogbookPenerimaanPipa" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPipaEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPipaEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasInputLogbookPenerimaanPipaEdit.lastUpdatedDate.ReadOnly && !subAktivitasInputLogbookPenerimaanPipaEdit.lastUpdatedDate.Disabled && !subAktivitasInputLogbookPenerimaanPipaEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasInputLogbookPenerimaanPipaEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasInputLogbookPenerimaanPipaedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasInputLogbookPenerimaanPipaedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPipaEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPipaEdit.NoReferensi.Visible) { // subAktivitasInputLogbookPenerimaanPipaEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPipa_NoReferensi" for="x_NoReferensi" class="@(subAktivitasInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.NoReferensi.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPipa_NoReferensi">
<input type="@(subAktivitasInputLogbookPenerimaanPipaEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasInputLogbookPenerimaanPipa" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.NoReferensi.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPipaEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPipaEdit.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPipaEdit.NoReferensi.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPipaEdit.SubAktivitasHasilPemeriksaanId.Visible) { // subAktivitasInputLogbookPenerimaanPipaEdit.SubAktivitasHasilPemeriksaanId.Visible (begin)
    <div id="r_SubAktivitasHasilPemeriksaanId" @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.SubAktivitasHasilPemeriksaanId.RowAttributes)>
        <label id="elh_SubAktivitasInputLogbookPenerimaanPipa_SubAktivitasHasilPemeriksaanId" for="x_SubAktivitasHasilPemeriksaanId" class="@(subAktivitasInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.SubAktivitasHasilPemeriksaanId.Caption)@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.SubAktivitasHasilPemeriksaanId.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.SubAktivitasHasilPemeriksaanId.CellAttributes)>
<span id="el_SubAktivitasInputLogbookPenerimaanPipa_SubAktivitasHasilPemeriksaanId">
<input type="@(subAktivitasInputLogbookPenerimaanPipaEdit.SubAktivitasHasilPemeriksaanId.InputTextType)" name="x_SubAktivitasHasilPemeriksaanId" id="x_SubAktivitasHasilPemeriksaanId" data-table="SubAktivitasInputLogbookPenerimaanPipa" data-field="x_SubAktivitasHasilPemeriksaanId" value="@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.SubAktivitasHasilPemeriksaanId.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPipaEdit.SubAktivitasHasilPemeriksaanId.PlaceHolder))" data-format-pattern="@(subAktivitasInputLogbookPenerimaanPipaEdit.SubAktivitasHasilPemeriksaanId.FormatPattern)"@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.SubAktivitasHasilPemeriksaanId.EditAttributes) aria-describedby="x_SubAktivitasHasilPemeriksaanId_help">
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.SubAktivitasHasilPemeriksaanId.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.SubAktivitasHasilPemeriksaanId.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputLogbookPenerimaanPipaEdit.SubAktivitasHasilPemeriksaanId.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasInputLogbookPenerimaanPipaEdit.CloseRecordset(); }
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasInputLogbookPenerimaanPipaEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasInputLogbookPenerimaanPipaedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasInputLogbookPenerimaanPipaedit" data-href="@AppPath(subAktivitasInputLogbookPenerimaanPipaEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasInputLogbookPenerimaanPipaEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasInputLogbookPenerimaanPipaEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasInputLogbookPenerimaanPipa");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
