@{
    // View
    View = this;

    // Check action result
    if (subAktivitasHasilPemeriksaanStslpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasHasilPemeriksaanStslpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasHasilPemeriksaanStslpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasHasilPemeriksaanStslpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasHasilPemeriksaanSTSLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasHasilPemeriksaanStslpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasHasilPemeriksaanStslpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasHasilPemeriksaanStslpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasHasilPemeriksaanStslpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasHasilPemeriksaanStslpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasHasilPemeriksaanStslpgList.TotalRecords > 0 && subAktivitasHasilPemeriksaanStslpgList.ExportOptions.Visible) {
    subAktivitasHasilPemeriksaanStslpgList.ExportOptions.Render("body");
}
@if (subAktivitasHasilPemeriksaanStslpgList.ImportOptions.Visible) {
    subAktivitasHasilPemeriksaanStslpgList.ImportOptions.Render("body");
}
@if (subAktivitasHasilPemeriksaanStslpgList.SearchOptions.Visible) {
    subAktivitasHasilPemeriksaanStslpgList.SearchOptions.Render("body");
}
@if (subAktivitasHasilPemeriksaanStslpgList.FilterOptions.Visible) {
    subAktivitasHasilPemeriksaanStslpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasHasilPemeriksaanStslpgList.IsModal) {
<form name="fSubAktivitasHasilPemeriksaanSTSLPGsrch" id="fSubAktivitasHasilPemeriksaanSTSLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasHasilPemeriksaanSTSLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasHasilPemeriksaanStslpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasHasilPemeriksaanStslpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasHasilPemeriksaanSTSLPG: currentTable } });
var currentForm;
var fSubAktivitasHasilPemeriksaanSTSLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasHasilPemeriksaanSTSLPGsrch")
        .setPageId("list")
@if (subAktivitasHasilPemeriksaanStslpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasHasilPemeriksaanStslpgList.IsExport() && Empty(subAktivitasHasilPemeriksaanStslpgList.CurrentAction) && subAktivitasHasilPemeriksaanStslpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanStslpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasHasilPemeriksaanStslpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasHasilPemeriksaanStslpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasHasilPemeriksaanSTSLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasHasilPemeriksaanStslpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasHasilPemeriksaanSTSLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasHasilPemeriksaanStslpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasHasilPemeriksaanSTSLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasHasilPemeriksaanStslpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasHasilPemeriksaanSTSLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasHasilPemeriksaanStslpgList.ShowPageHeader()
@subAktivitasHasilPemeriksaanStslpgList.ShowMessages()
<main class="list @(subAktivitasHasilPemeriksaanStslpgList.TotalRecords == 0 && !subAktivitasHasilPemeriksaanStslpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasHasilPemeriksaanStslpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasHasilPemeriksaanStslpgList.TotalRecords > 0 || !Empty(subAktivitasHasilPemeriksaanStslpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasHasilPemeriksaanStslpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasHasilPemeriksaanStslpgList.TableGridClass)">
<form name="@(subAktivitasHasilPemeriksaanStslpgList.FormName)" id="@(subAktivitasHasilPemeriksaanStslpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasHasilPemeriksaanStslpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasHasilPemeriksaanStslpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasHasilPemeriksaanSTSLPG" class="card-body ew-grid-middle-panel @(subAktivitasHasilPemeriksaanStslpgList.TableContainerClass)" style="@(subAktivitasHasilPemeriksaanStslpgList.TableContainerStyle)">
@if (subAktivitasHasilPemeriksaanStslpgList.TotalRecords > 0 || subAktivitasHasilPemeriksaanStslpgList.IsGridEdit || subAktivitasHasilPemeriksaanStslpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasHasilPemeriksaanSTSLPGlist" class="@(subAktivitasHasilPemeriksaanStslpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasHasilPemeriksaanStslpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasHasilPemeriksaanStslpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasHasilPemeriksaanStslpgList.ListOptions.RenderHeader("left")
@if (subAktivitasHasilPemeriksaanStslpgList.id.Visible) { // subAktivitasHasilPemeriksaanStslpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasHasilPemeriksaanStslpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanSTSLPG_id" class="SubAktivitasHasilPemeriksaanSTSLPG_id">@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanStslpgList.id))</div></th>
} @* subAktivitasHasilPemeriksaanStslpgList.id.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgList.idAktifitas.Visible) { // subAktivitasHasilPemeriksaanStslpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasHasilPemeriksaanStslpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanSTSLPG_idAktifitas" class="SubAktivitasHasilPemeriksaanSTSLPG_idAktifitas">@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanStslpgList.idAktifitas))</div></th>
} @* subAktivitasHasilPemeriksaanStslpgList.idAktifitas.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgList.NamaKapal.Visible) { // subAktivitasHasilPemeriksaanStslpgList.NamaKapal.Visible (begin)
        <th data-name="NamaKapal" class="@(subAktivitasHasilPemeriksaanStslpgList.NamaKapal.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanSTSLPG_NamaKapal" class="SubAktivitasHasilPemeriksaanSTSLPG_NamaKapal">@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanStslpgList.NamaKapal))</div></th>
} @* subAktivitasHasilPemeriksaanStslpgList.NamaKapal.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgList.TanggalJam.Visible) { // subAktivitasHasilPemeriksaanStslpgList.TanggalJam.Visible (begin)
        <th data-name="TanggalJam" class="@(subAktivitasHasilPemeriksaanStslpgList.TanggalJam.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanSTSLPG_TanggalJam" class="SubAktivitasHasilPemeriksaanSTSLPG_TanggalJam">@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanStslpgList.TanggalJam))</div></th>
} @* subAktivitasHasilPemeriksaanStslpgList.TanggalJam.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgList.NamaKegiatan.Visible) { // subAktivitasHasilPemeriksaanStslpgList.NamaKegiatan.Visible (begin)
        <th data-name="NamaKegiatan" class="@(subAktivitasHasilPemeriksaanStslpgList.NamaKegiatan.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanSTSLPG_NamaKegiatan" class="SubAktivitasHasilPemeriksaanSTSLPG_NamaKegiatan">@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanStslpgList.NamaKegiatan))</div></th>
} @* subAktivitasHasilPemeriksaanStslpgList.NamaKegiatan.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgList.Produk.Visible) { // subAktivitasHasilPemeriksaanStslpgList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasHasilPemeriksaanStslpgList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanSTSLPG_Produk" class="SubAktivitasHasilPemeriksaanSTSLPG_Produk">@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanStslpgList.Produk))</div></th>
} @* subAktivitasHasilPemeriksaanStslpgList.Produk.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgList.Density.Visible) { // subAktivitasHasilPemeriksaanStslpgList.Density.Visible (begin)
        <th data-name="Density" class="@(subAktivitasHasilPemeriksaanStslpgList.Density.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanSTSLPG_Density" class="SubAktivitasHasilPemeriksaanSTSLPG_Density">@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanStslpgList.Density))</div></th>
} @* subAktivitasHasilPemeriksaanStslpgList.Density.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgList.Temperature.Visible) { // subAktivitasHasilPemeriksaanStslpgList.Temperature.Visible (begin)
        <th data-name="Temperature" class="@(subAktivitasHasilPemeriksaanStslpgList.Temperature.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanSTSLPG_Temperature" class="SubAktivitasHasilPemeriksaanSTSLPG_Temperature">@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanStslpgList.Temperature))</div></th>
} @* subAktivitasHasilPemeriksaanStslpgList.Temperature.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgList.Pressure.Visible) { // subAktivitasHasilPemeriksaanStslpgList.Pressure.Visible (begin)
        <th data-name="Pressure" class="@(subAktivitasHasilPemeriksaanStslpgList.Pressure.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanSTSLPG_Pressure" class="SubAktivitasHasilPemeriksaanSTSLPG_Pressure">@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanStslpgList.Pressure))</div></th>
} @* subAktivitasHasilPemeriksaanStslpgList.Pressure.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgList.userInput.Visible) { // subAktivitasHasilPemeriksaanStslpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasHasilPemeriksaanStslpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanSTSLPG_userInput" class="SubAktivitasHasilPemeriksaanSTSLPG_userInput">@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanStslpgList.userInput))</div></th>
} @* subAktivitasHasilPemeriksaanStslpgList.userInput.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgList.etlDate.Visible) { // subAktivitasHasilPemeriksaanStslpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasHasilPemeriksaanStslpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanSTSLPG_etlDate" class="SubAktivitasHasilPemeriksaanSTSLPG_etlDate">@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanStslpgList.etlDate))</div></th>
} @* subAktivitasHasilPemeriksaanStslpgList.etlDate.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgList.idProses.Visible) { // subAktivitasHasilPemeriksaanStslpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasHasilPemeriksaanStslpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanSTSLPG_idProses" class="SubAktivitasHasilPemeriksaanSTSLPG_idProses">@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanStslpgList.idProses))</div></th>
} @* subAktivitasHasilPemeriksaanStslpgList.idProses.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgList.LastUpdatedBy.Visible) { // subAktivitasHasilPemeriksaanStslpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasHasilPemeriksaanStslpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanSTSLPG_LastUpdatedBy" class="SubAktivitasHasilPemeriksaanSTSLPG_LastUpdatedBy">@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanStslpgList.LastUpdatedBy))</div></th>
} @* subAktivitasHasilPemeriksaanStslpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgList.lastUpdatedDate.Visible) { // subAktivitasHasilPemeriksaanStslpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasHasilPemeriksaanStslpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanSTSLPG_lastUpdatedDate" class="SubAktivitasHasilPemeriksaanSTSLPG_lastUpdatedDate">@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanStslpgList.lastUpdatedDate))</div></th>
} @* subAktivitasHasilPemeriksaanStslpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgList.NoReferensi.Visible) { // subAktivitasHasilPemeriksaanStslpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasHasilPemeriksaanStslpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanSTSLPG_NoReferensi" class="SubAktivitasHasilPemeriksaanSTSLPG_NoReferensi">@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanStslpgList.NoReferensi))</div></th>
} @* subAktivitasHasilPemeriksaanStslpgList.NoReferensi.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgList.TanggalJamSOP.Visible) { // subAktivitasHasilPemeriksaanStslpgList.TanggalJamSOP.Visible (begin)
        <th data-name="TanggalJamSOP" class="@(subAktivitasHasilPemeriksaanStslpgList.TanggalJamSOP.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanSTSLPG_TanggalJamSOP" class="SubAktivitasHasilPemeriksaanSTSLPG_TanggalJamSOP">@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanStslpgList.TanggalJamSOP))</div></th>
} @* subAktivitasHasilPemeriksaanStslpgList.TanggalJamSOP.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgList.SelisihWaktu.Visible) { // subAktivitasHasilPemeriksaanStslpgList.SelisihWaktu.Visible (begin)
        <th data-name="SelisihWaktu" class="@(subAktivitasHasilPemeriksaanStslpgList.SelisihWaktu.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanSTSLPG_SelisihWaktu" class="SubAktivitasHasilPemeriksaanSTSLPG_SelisihWaktu">@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanStslpgList.SelisihWaktu))</div></th>
} @* subAktivitasHasilPemeriksaanStslpgList.SelisihWaktu.Visible (end) *@
@if (subAktivitasHasilPemeriksaanStslpgList.IsQualityActive.Visible) { // subAktivitasHasilPemeriksaanStslpgList.IsQualityActive.Visible (begin)
        <th data-name="IsQualityActive" class="@(subAktivitasHasilPemeriksaanStslpgList.IsQualityActive.HeaderCellClass)"><div id="elh_SubAktivitasHasilPemeriksaanSTSLPG_IsQualityActive" class="SubAktivitasHasilPemeriksaanSTSLPG_IsQualityActive">@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.RenderFieldHeader(subAktivitasHasilPemeriksaanStslpgList.IsQualityActive))</div></th>
} @* subAktivitasHasilPemeriksaanStslpgList.IsQualityActive.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasHasilPemeriksaanStslpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasHasilPemeriksaanStslpgList.PageNumber)">
@{
    await subAktivitasHasilPemeriksaanStslpgList.SetupGrid();
    bool eof = subAktivitasHasilPemeriksaanStslpgList.Recordset == null; // DN
}
@while (subAktivitasHasilPemeriksaanStslpgList.RecordCount < subAktivitasHasilPemeriksaanStslpgList.StopRecord || SameString(subAktivitasHasilPemeriksaanStslpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasHasilPemeriksaanStslpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasHasilPemeriksaanStslpgList.IsGridAdd || subAktivitasHasilPemeriksaanStslpgList.CurrentMode == "copy") &&
        (!((subAktivitasHasilPemeriksaanStslpgList.IsCopy || subAktivitasHasilPemeriksaanStslpgList.IsAdd) && subAktivitasHasilPemeriksaanStslpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasHasilPemeriksaanStslpgList.Recordset.ReadAsync();
    subAktivitasHasilPemeriksaanStslpgList.RecordCount++;
    if (subAktivitasHasilPemeriksaanStslpgList.RecordCount >= subAktivitasHasilPemeriksaanStslpgList.StartRecord) {
        await subAktivitasHasilPemeriksaanStslpgList.SetupRow();
    <tr @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasHasilPemeriksaanStslpgList.ListOptions.RenderBody("left", subAktivitasHasilPemeriksaanStslpgList.RowCount)
    @if (subAktivitasHasilPemeriksaanStslpgList.id.Visible) { // subAktivitasHasilPemeriksaanStslpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.id.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanStslpgList.RowCount)_SubAktivitasHasilPemeriksaanSTSLPG_id" class="el_SubAktivitasHasilPemeriksaanSTSLPG_id">
<span @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanStslpgList.id.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanStslpgList.idAktifitas.Visible) { // subAktivitasHasilPemeriksaanStslpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanStslpgList.RowCount)_SubAktivitasHasilPemeriksaanSTSLPG_idAktifitas" class="el_SubAktivitasHasilPemeriksaanSTSLPG_idAktifitas">
<span @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanStslpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanStslpgList.NamaKapal.Visible) { // subAktivitasHasilPemeriksaanStslpgList.NamaKapal.Visible (begin)
        <td data-name="NamaKapal" @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.NamaKapal.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanStslpgList.RowCount)_SubAktivitasHasilPemeriksaanSTSLPG_NamaKapal" class="el_SubAktivitasHasilPemeriksaanSTSLPG_NamaKapal">
<span @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.NamaKapal.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.NamaKapal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanStslpgList.NamaKapal.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanStslpgList.TanggalJam.Visible) { // subAktivitasHasilPemeriksaanStslpgList.TanggalJam.Visible (begin)
        <td data-name="TanggalJam" @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.TanggalJam.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanStslpgList.RowCount)_SubAktivitasHasilPemeriksaanSTSLPG_TanggalJam" class="el_SubAktivitasHasilPemeriksaanSTSLPG_TanggalJam">
<span @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.TanggalJam.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.TanggalJam.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanStslpgList.TanggalJam.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanStslpgList.NamaKegiatan.Visible) { // subAktivitasHasilPemeriksaanStslpgList.NamaKegiatan.Visible (begin)
        <td data-name="NamaKegiatan" @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.NamaKegiatan.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanStslpgList.RowCount)_SubAktivitasHasilPemeriksaanSTSLPG_NamaKegiatan" class="el_SubAktivitasHasilPemeriksaanSTSLPG_NamaKegiatan">
<span @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.NamaKegiatan.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.NamaKegiatan.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanStslpgList.NamaKegiatan.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanStslpgList.Produk.Visible) { // subAktivitasHasilPemeriksaanStslpgList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.Produk.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanStslpgList.RowCount)_SubAktivitasHasilPemeriksaanSTSLPG_Produk" class="el_SubAktivitasHasilPemeriksaanSTSLPG_Produk">
<span @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanStslpgList.Produk.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanStslpgList.Density.Visible) { // subAktivitasHasilPemeriksaanStslpgList.Density.Visible (begin)
        <td data-name="Density" @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.Density.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanStslpgList.RowCount)_SubAktivitasHasilPemeriksaanSTSLPG_Density" class="el_SubAktivitasHasilPemeriksaanSTSLPG_Density">
<span @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.Density.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.Density.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanStslpgList.Density.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanStslpgList.Temperature.Visible) { // subAktivitasHasilPemeriksaanStslpgList.Temperature.Visible (begin)
        <td data-name="Temperature" @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.Temperature.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanStslpgList.RowCount)_SubAktivitasHasilPemeriksaanSTSLPG_Temperature" class="el_SubAktivitasHasilPemeriksaanSTSLPG_Temperature">
<span @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.Temperature.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.Temperature.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanStslpgList.Temperature.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanStslpgList.Pressure.Visible) { // subAktivitasHasilPemeriksaanStslpgList.Pressure.Visible (begin)
        <td data-name="Pressure" @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.Pressure.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanStslpgList.RowCount)_SubAktivitasHasilPemeriksaanSTSLPG_Pressure" class="el_SubAktivitasHasilPemeriksaanSTSLPG_Pressure">
<span @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.Pressure.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.Pressure.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanStslpgList.Pressure.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanStslpgList.userInput.Visible) { // subAktivitasHasilPemeriksaanStslpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.userInput.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanStslpgList.RowCount)_SubAktivitasHasilPemeriksaanSTSLPG_userInput" class="el_SubAktivitasHasilPemeriksaanSTSLPG_userInput">
<span @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanStslpgList.userInput.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanStslpgList.etlDate.Visible) { // subAktivitasHasilPemeriksaanStslpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.etlDate.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanStslpgList.RowCount)_SubAktivitasHasilPemeriksaanSTSLPG_etlDate" class="el_SubAktivitasHasilPemeriksaanSTSLPG_etlDate">
<span @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanStslpgList.etlDate.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanStslpgList.idProses.Visible) { // subAktivitasHasilPemeriksaanStslpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.idProses.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanStslpgList.RowCount)_SubAktivitasHasilPemeriksaanSTSLPG_idProses" class="el_SubAktivitasHasilPemeriksaanSTSLPG_idProses">
<span @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanStslpgList.idProses.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanStslpgList.LastUpdatedBy.Visible) { // subAktivitasHasilPemeriksaanStslpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanStslpgList.RowCount)_SubAktivitasHasilPemeriksaanSTSLPG_LastUpdatedBy" class="el_SubAktivitasHasilPemeriksaanSTSLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanStslpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanStslpgList.lastUpdatedDate.Visible) { // subAktivitasHasilPemeriksaanStslpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanStslpgList.RowCount)_SubAktivitasHasilPemeriksaanSTSLPG_lastUpdatedDate" class="el_SubAktivitasHasilPemeriksaanSTSLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanStslpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanStslpgList.NoReferensi.Visible) { // subAktivitasHasilPemeriksaanStslpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanStslpgList.RowCount)_SubAktivitasHasilPemeriksaanSTSLPG_NoReferensi" class="el_SubAktivitasHasilPemeriksaanSTSLPG_NoReferensi">
<span @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanStslpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanStslpgList.TanggalJamSOP.Visible) { // subAktivitasHasilPemeriksaanStslpgList.TanggalJamSOP.Visible (begin)
        <td data-name="TanggalJamSOP" @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.TanggalJamSOP.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanStslpgList.RowCount)_SubAktivitasHasilPemeriksaanSTSLPG_TanggalJamSOP" class="el_SubAktivitasHasilPemeriksaanSTSLPG_TanggalJamSOP">
<span @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.TanggalJamSOP.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.TanggalJamSOP.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanStslpgList.TanggalJamSOP.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanStslpgList.SelisihWaktu.Visible) { // subAktivitasHasilPemeriksaanStslpgList.SelisihWaktu.Visible (begin)
        <td data-name="SelisihWaktu" @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.SelisihWaktu.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanStslpgList.RowCount)_SubAktivitasHasilPemeriksaanSTSLPG_SelisihWaktu" class="el_SubAktivitasHasilPemeriksaanSTSLPG_SelisihWaktu">
<span @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.SelisihWaktu.ViewAttributes)>
@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.SelisihWaktu.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanStslpgList.SelisihWaktu.Visible (end) *@
    @if (subAktivitasHasilPemeriksaanStslpgList.IsQualityActive.Visible) { // subAktivitasHasilPemeriksaanStslpgList.IsQualityActive.Visible (begin)
        <td data-name="IsQualityActive" @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.IsQualityActive.CellAttributes)>
<span id="el@(subAktivitasHasilPemeriksaanStslpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasHasilPemeriksaanStslpgList.RowCount)_SubAktivitasHasilPemeriksaanSTSLPG_IsQualityActive" class="el_SubAktivitasHasilPemeriksaanSTSLPG_IsQualityActive">
<span @Html.Raw(subAktivitasHasilPemeriksaanStslpgList.IsQualityActive.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(subAktivitasHasilPemeriksaanStslpgList.IsQualityActive.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span>
</td>
    } @* subAktivitasHasilPemeriksaanStslpgList.IsQualityActive.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasHasilPemeriksaanStslpgList.ListOptions.RenderBody("right", subAktivitasHasilPemeriksaanStslpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasHasilPemeriksaanStslpgList.RowIndex, "$rowindex$"))
        subAktivitasHasilPemeriksaanStslpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasHasilPemeriksaanStslpgList.IsCopy || subAktivitasHasilPemeriksaanStslpgList.IsAdd) && subAktivitasHasilPemeriksaanStslpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasHasilPemeriksaanStslpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasHasilPemeriksaanStslpgList.CurrentAction) && !subAktivitasHasilPemeriksaanStslpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasHasilPemeriksaanStslpgList.CloseRecordset(); }
@if (!subAktivitasHasilPemeriksaanStslpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasHasilPemeriksaanStslpgList.IsGridAdd && !(subAktivitasHasilPemeriksaanStslpgList.IsGridEdit && subAktivitasHasilPemeriksaanStslpgList.ModalGridEdit) && !subAktivitasHasilPemeriksaanStslpgList.IsMultiEdit) {
@Html.Raw(subAktivitasHasilPemeriksaanStslpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasHasilPemeriksaanStslpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasHasilPemeriksaanStslpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasHasilPemeriksaanStslpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasHasilPemeriksaanStslpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasHasilPemeriksaanStslpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasHasilPemeriksaanSTSLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
