@{
    // View
    View = this;

    // Check action result
    if (subAktivitasKapalBerangkatStslpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasKapalBerangkatStslpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasKapalBerangkatStslpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasKapalBerangkatStslpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasKapalBerangkatSTSLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasKapalBerangkatStslpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasKapalBerangkatStslpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasKapalBerangkatStslpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasKapalBerangkatStslpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasKapalBerangkatStslpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasKapalBerangkatStslpgList.TotalRecords > 0 && subAktivitasKapalBerangkatStslpgList.ExportOptions.Visible) {
    subAktivitasKapalBerangkatStslpgList.ExportOptions.Render("body");
}
@if (subAktivitasKapalBerangkatStslpgList.ImportOptions.Visible) {
    subAktivitasKapalBerangkatStslpgList.ImportOptions.Render("body");
}
@if (subAktivitasKapalBerangkatStslpgList.SearchOptions.Visible) {
    subAktivitasKapalBerangkatStslpgList.SearchOptions.Render("body");
}
@if (subAktivitasKapalBerangkatStslpgList.FilterOptions.Visible) {
    subAktivitasKapalBerangkatStslpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasKapalBerangkatStslpgList.IsModal) {
<form name="fSubAktivitasKapalBerangkatSTSLPGsrch" id="fSubAktivitasKapalBerangkatSTSLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasKapalBerangkatSTSLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasKapalBerangkatStslpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasKapalBerangkatStslpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasKapalBerangkatSTSLPG: currentTable } });
var currentForm;
var fSubAktivitasKapalBerangkatSTSLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasKapalBerangkatSTSLPGsrch")
        .setPageId("list")
@if (subAktivitasKapalBerangkatStslpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasKapalBerangkatStslpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasKapalBerangkatStslpgList.IsExport() && Empty(subAktivitasKapalBerangkatStslpgList.CurrentAction) && subAktivitasKapalBerangkatStslpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasKapalBerangkatStslpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasKapalBerangkatStslpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasKapalBerangkatStslpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasKapalBerangkatStslpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasKapalBerangkatSTSLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasKapalBerangkatStslpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasKapalBerangkatSTSLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasKapalBerangkatStslpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasKapalBerangkatSTSLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasKapalBerangkatStslpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasKapalBerangkatSTSLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasKapalBerangkatStslpgList.ShowPageHeader()
@subAktivitasKapalBerangkatStslpgList.ShowMessages()
<main class="list @(subAktivitasKapalBerangkatStslpgList.TotalRecords == 0 && !subAktivitasKapalBerangkatStslpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasKapalBerangkatStslpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasKapalBerangkatStslpgList.TotalRecords > 0 || !Empty(subAktivitasKapalBerangkatStslpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasKapalBerangkatStslpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasKapalBerangkatStslpgList.TableGridClass)">
<form name="@(subAktivitasKapalBerangkatStslpgList.FormName)" id="@(subAktivitasKapalBerangkatStslpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasKapalBerangkatStslpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasKapalBerangkatStslpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasKapalBerangkatSTSLPG" class="card-body ew-grid-middle-panel @(subAktivitasKapalBerangkatStslpgList.TableContainerClass)" style="@(subAktivitasKapalBerangkatStslpgList.TableContainerStyle)">
@if (subAktivitasKapalBerangkatStslpgList.TotalRecords > 0 || subAktivitasKapalBerangkatStslpgList.IsGridEdit || subAktivitasKapalBerangkatStslpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasKapalBerangkatSTSLPGlist" class="@(subAktivitasKapalBerangkatStslpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasKapalBerangkatStslpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasKapalBerangkatStslpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasKapalBerangkatStslpgList.ListOptions.RenderHeader("left")
@if (subAktivitasKapalBerangkatStslpgList.id.Visible) { // subAktivitasKapalBerangkatStslpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasKapalBerangkatStslpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasKapalBerangkatSTSLPG_id" class="SubAktivitasKapalBerangkatSTSLPG_id">@Html.Raw(subAktivitasKapalBerangkatStslpgList.RenderFieldHeader(subAktivitasKapalBerangkatStslpgList.id))</div></th>
} @* subAktivitasKapalBerangkatStslpgList.id.Visible (end) *@
@if (subAktivitasKapalBerangkatStslpgList.NoReferensi.Visible) { // subAktivitasKapalBerangkatStslpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasKapalBerangkatStslpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasKapalBerangkatSTSLPG_NoReferensi" class="SubAktivitasKapalBerangkatSTSLPG_NoReferensi">@Html.Raw(subAktivitasKapalBerangkatStslpgList.RenderFieldHeader(subAktivitasKapalBerangkatStslpgList.NoReferensi))</div></th>
} @* subAktivitasKapalBerangkatStslpgList.NoReferensi.Visible (end) *@
@if (subAktivitasKapalBerangkatStslpgList.idProses.Visible) { // subAktivitasKapalBerangkatStslpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasKapalBerangkatStslpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasKapalBerangkatSTSLPG_idProses" class="SubAktivitasKapalBerangkatSTSLPG_idProses">@Html.Raw(subAktivitasKapalBerangkatStslpgList.RenderFieldHeader(subAktivitasKapalBerangkatStslpgList.idProses))</div></th>
} @* subAktivitasKapalBerangkatStslpgList.idProses.Visible (end) *@
@if (subAktivitasKapalBerangkatStslpgList.idAktifitas.Visible) { // subAktivitasKapalBerangkatStslpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasKapalBerangkatStslpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasKapalBerangkatSTSLPG_idAktifitas" class="SubAktivitasKapalBerangkatSTSLPG_idAktifitas">@Html.Raw(subAktivitasKapalBerangkatStslpgList.RenderFieldHeader(subAktivitasKapalBerangkatStslpgList.idAktifitas))</div></th>
} @* subAktivitasKapalBerangkatStslpgList.idAktifitas.Visible (end) *@
@if (subAktivitasKapalBerangkatStslpgList.StatusAktivitas.Visible) { // subAktivitasKapalBerangkatStslpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasKapalBerangkatStslpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasKapalBerangkatSTSLPG_StatusAktivitas" class="SubAktivitasKapalBerangkatSTSLPG_StatusAktivitas">@Html.Raw(subAktivitasKapalBerangkatStslpgList.RenderFieldHeader(subAktivitasKapalBerangkatStslpgList.StatusAktivitas))</div></th>
} @* subAktivitasKapalBerangkatStslpgList.StatusAktivitas.Visible (end) *@
@if (subAktivitasKapalBerangkatStslpgList.LastUpdatedBy.Visible) { // subAktivitasKapalBerangkatStslpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasKapalBerangkatStslpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasKapalBerangkatSTSLPG_LastUpdatedBy" class="SubAktivitasKapalBerangkatSTSLPG_LastUpdatedBy">@Html.Raw(subAktivitasKapalBerangkatStslpgList.RenderFieldHeader(subAktivitasKapalBerangkatStslpgList.LastUpdatedBy))</div></th>
} @* subAktivitasKapalBerangkatStslpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasKapalBerangkatStslpgList.lastUpdatedDate.Visible) { // subAktivitasKapalBerangkatStslpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasKapalBerangkatStslpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasKapalBerangkatSTSLPG_lastUpdatedDate" class="SubAktivitasKapalBerangkatSTSLPG_lastUpdatedDate">@Html.Raw(subAktivitasKapalBerangkatStslpgList.RenderFieldHeader(subAktivitasKapalBerangkatStslpgList.lastUpdatedDate))</div></th>
} @* subAktivitasKapalBerangkatStslpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasKapalBerangkatStslpgList.tglBerangkat.Visible) { // subAktivitasKapalBerangkatStslpgList.tglBerangkat.Visible (begin)
        <th data-name="tglBerangkat" class="@(subAktivitasKapalBerangkatStslpgList.tglBerangkat.HeaderCellClass)"><div id="elh_SubAktivitasKapalBerangkatSTSLPG_tglBerangkat" class="SubAktivitasKapalBerangkatSTSLPG_tglBerangkat">@Html.Raw(subAktivitasKapalBerangkatStslpgList.RenderFieldHeader(subAktivitasKapalBerangkatStslpgList.tglBerangkat))</div></th>
} @* subAktivitasKapalBerangkatStslpgList.tglBerangkat.Visible (end) *@
@if (subAktivitasKapalBerangkatStslpgList.userInput.Visible) { // subAktivitasKapalBerangkatStslpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasKapalBerangkatStslpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasKapalBerangkatSTSLPG_userInput" class="SubAktivitasKapalBerangkatSTSLPG_userInput">@Html.Raw(subAktivitasKapalBerangkatStslpgList.RenderFieldHeader(subAktivitasKapalBerangkatStslpgList.userInput))</div></th>
} @* subAktivitasKapalBerangkatStslpgList.userInput.Visible (end) *@
@if (subAktivitasKapalBerangkatStslpgList.etlDate.Visible) { // subAktivitasKapalBerangkatStslpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasKapalBerangkatStslpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasKapalBerangkatSTSLPG_etlDate" class="SubAktivitasKapalBerangkatSTSLPG_etlDate">@Html.Raw(subAktivitasKapalBerangkatStslpgList.RenderFieldHeader(subAktivitasKapalBerangkatStslpgList.etlDate))</div></th>
} @* subAktivitasKapalBerangkatStslpgList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasKapalBerangkatStslpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasKapalBerangkatStslpgList.PageNumber)">
@{
    await subAktivitasKapalBerangkatStslpgList.SetupGrid();
    bool eof = subAktivitasKapalBerangkatStslpgList.Recordset == null; // DN
}
@while (subAktivitasKapalBerangkatStslpgList.RecordCount < subAktivitasKapalBerangkatStslpgList.StopRecord || SameString(subAktivitasKapalBerangkatStslpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasKapalBerangkatStslpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasKapalBerangkatStslpgList.IsGridAdd || subAktivitasKapalBerangkatStslpgList.CurrentMode == "copy") &&
        (!((subAktivitasKapalBerangkatStslpgList.IsCopy || subAktivitasKapalBerangkatStslpgList.IsAdd) && subAktivitasKapalBerangkatStslpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasKapalBerangkatStslpgList.Recordset.ReadAsync();
    subAktivitasKapalBerangkatStslpgList.RecordCount++;
    if (subAktivitasKapalBerangkatStslpgList.RecordCount >= subAktivitasKapalBerangkatStslpgList.StartRecord) {
        await subAktivitasKapalBerangkatStslpgList.SetupRow();
    <tr @Html.Raw(subAktivitasKapalBerangkatStslpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasKapalBerangkatStslpgList.ListOptions.RenderBody("left", subAktivitasKapalBerangkatStslpgList.RowCount)
    @if (subAktivitasKapalBerangkatStslpgList.id.Visible) { // subAktivitasKapalBerangkatStslpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasKapalBerangkatStslpgList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasKapalBerangkatStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKapalBerangkatStslpgList.RowCount)_SubAktivitasKapalBerangkatSTSLPG_id" class="el_SubAktivitasKapalBerangkatSTSLPG_id">
<span @Html.Raw(subAktivitasKapalBerangkatStslpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasKapalBerangkatStslpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKapalBerangkatStslpgList.id.Visible (end) *@
    @if (subAktivitasKapalBerangkatStslpgList.NoReferensi.Visible) { // subAktivitasKapalBerangkatStslpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasKapalBerangkatStslpgList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasKapalBerangkatStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKapalBerangkatStslpgList.RowCount)_SubAktivitasKapalBerangkatSTSLPG_NoReferensi" class="el_SubAktivitasKapalBerangkatSTSLPG_NoReferensi">
<span @Html.Raw(subAktivitasKapalBerangkatStslpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasKapalBerangkatStslpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKapalBerangkatStslpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasKapalBerangkatStslpgList.idProses.Visible) { // subAktivitasKapalBerangkatStslpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasKapalBerangkatStslpgList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasKapalBerangkatStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKapalBerangkatStslpgList.RowCount)_SubAktivitasKapalBerangkatSTSLPG_idProses" class="el_SubAktivitasKapalBerangkatSTSLPG_idProses">
<span @Html.Raw(subAktivitasKapalBerangkatStslpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasKapalBerangkatStslpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKapalBerangkatStslpgList.idProses.Visible (end) *@
    @if (subAktivitasKapalBerangkatStslpgList.idAktifitas.Visible) { // subAktivitasKapalBerangkatStslpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasKapalBerangkatStslpgList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasKapalBerangkatStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKapalBerangkatStslpgList.RowCount)_SubAktivitasKapalBerangkatSTSLPG_idAktifitas" class="el_SubAktivitasKapalBerangkatSTSLPG_idAktifitas">
<span @Html.Raw(subAktivitasKapalBerangkatStslpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasKapalBerangkatStslpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKapalBerangkatStslpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasKapalBerangkatStslpgList.StatusAktivitas.Visible) { // subAktivitasKapalBerangkatStslpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasKapalBerangkatStslpgList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasKapalBerangkatStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKapalBerangkatStslpgList.RowCount)_SubAktivitasKapalBerangkatSTSLPG_StatusAktivitas" class="el_SubAktivitasKapalBerangkatSTSLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasKapalBerangkatStslpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasKapalBerangkatStslpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKapalBerangkatStslpgList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasKapalBerangkatStslpgList.LastUpdatedBy.Visible) { // subAktivitasKapalBerangkatStslpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasKapalBerangkatStslpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasKapalBerangkatStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKapalBerangkatStslpgList.RowCount)_SubAktivitasKapalBerangkatSTSLPG_LastUpdatedBy" class="el_SubAktivitasKapalBerangkatSTSLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasKapalBerangkatStslpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasKapalBerangkatStslpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKapalBerangkatStslpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasKapalBerangkatStslpgList.lastUpdatedDate.Visible) { // subAktivitasKapalBerangkatStslpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasKapalBerangkatStslpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasKapalBerangkatStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKapalBerangkatStslpgList.RowCount)_SubAktivitasKapalBerangkatSTSLPG_lastUpdatedDate" class="el_SubAktivitasKapalBerangkatSTSLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasKapalBerangkatStslpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasKapalBerangkatStslpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKapalBerangkatStslpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasKapalBerangkatStslpgList.tglBerangkat.Visible) { // subAktivitasKapalBerangkatStslpgList.tglBerangkat.Visible (begin)
        <td data-name="tglBerangkat" @Html.Raw(subAktivitasKapalBerangkatStslpgList.tglBerangkat.CellAttributes)>
<span id="el@(SameString(subAktivitasKapalBerangkatStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKapalBerangkatStslpgList.RowCount)_SubAktivitasKapalBerangkatSTSLPG_tglBerangkat" class="el_SubAktivitasKapalBerangkatSTSLPG_tglBerangkat">
<span @Html.Raw(subAktivitasKapalBerangkatStslpgList.tglBerangkat.ViewAttributes)>
@Html.Raw(subAktivitasKapalBerangkatStslpgList.tglBerangkat.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKapalBerangkatStslpgList.tglBerangkat.Visible (end) *@
    @if (subAktivitasKapalBerangkatStslpgList.userInput.Visible) { // subAktivitasKapalBerangkatStslpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasKapalBerangkatStslpgList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasKapalBerangkatStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKapalBerangkatStslpgList.RowCount)_SubAktivitasKapalBerangkatSTSLPG_userInput" class="el_SubAktivitasKapalBerangkatSTSLPG_userInput">
<span @Html.Raw(subAktivitasKapalBerangkatStslpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasKapalBerangkatStslpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKapalBerangkatStslpgList.userInput.Visible (end) *@
    @if (subAktivitasKapalBerangkatStslpgList.etlDate.Visible) { // subAktivitasKapalBerangkatStslpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasKapalBerangkatStslpgList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasKapalBerangkatStslpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKapalBerangkatStslpgList.RowCount)_SubAktivitasKapalBerangkatSTSLPG_etlDate" class="el_SubAktivitasKapalBerangkatSTSLPG_etlDate">
<span @Html.Raw(subAktivitasKapalBerangkatStslpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasKapalBerangkatStslpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKapalBerangkatStslpgList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasKapalBerangkatStslpgList.ListOptions.RenderBody("right", subAktivitasKapalBerangkatStslpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasKapalBerangkatStslpgList.RowIndex, "$rowindex$"))
        subAktivitasKapalBerangkatStslpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasKapalBerangkatStslpgList.IsCopy || subAktivitasKapalBerangkatStslpgList.IsAdd) && subAktivitasKapalBerangkatStslpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasKapalBerangkatStslpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasKapalBerangkatStslpgList.CurrentAction) && !subAktivitasKapalBerangkatStslpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasKapalBerangkatStslpgList.CloseRecordset(); }
@if (!subAktivitasKapalBerangkatStslpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasKapalBerangkatStslpgList.IsGridAdd && !(subAktivitasKapalBerangkatStslpgList.IsGridEdit && subAktivitasKapalBerangkatStslpgList.ModalGridEdit) && !subAktivitasKapalBerangkatStslpgList.IsMultiEdit) {
@Html.Raw(subAktivitasKapalBerangkatStslpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasKapalBerangkatStslpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasKapalBerangkatStslpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasKapalBerangkatStslpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasKapalBerangkatStslpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasKapalBerangkatStslpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasKapalBerangkatSTSLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
