@{
    // View
    View = this;

    // Check action result
    if (subAktivitasInputDataKapalLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasInputDataKapalLpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasInputDataKapalLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasInputDataKapalLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasInputDataKapalLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasInputDataKapalLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasInputDataKapalLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasInputDataKapalLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasInputDataKapalLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasInputDataKapalLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasInputDataKapalLpgList.TotalRecords > 0 && subAktivitasInputDataKapalLpgList.ExportOptions.Visible) {
    subAktivitasInputDataKapalLpgList.ExportOptions.Render("body");
}
@if (subAktivitasInputDataKapalLpgList.ImportOptions.Visible) {
    subAktivitasInputDataKapalLpgList.ImportOptions.Render("body");
}
@if (subAktivitasInputDataKapalLpgList.SearchOptions.Visible) {
    subAktivitasInputDataKapalLpgList.SearchOptions.Render("body");
}
@if (subAktivitasInputDataKapalLpgList.FilterOptions.Visible) {
    subAktivitasInputDataKapalLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasInputDataKapalLpgList.IsModal) {
<form name="fSubAktivitasInputDataKapalLPGsrch" id="fSubAktivitasInputDataKapalLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasInputDataKapalLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasInputDataKapalLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasInputDataKapalLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasInputDataKapalLPG: currentTable } });
var currentForm;
var fSubAktivitasInputDataKapalLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasInputDataKapalLPGsrch")
        .setPageId("list")
@if (subAktivitasInputDataKapalLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasInputDataKapalLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasInputDataKapalLpgList.IsExport() && Empty(subAktivitasInputDataKapalLpgList.CurrentAction) && subAktivitasInputDataKapalLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasInputDataKapalLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasInputDataKapalLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasInputDataKapalLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasInputDataKapalLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasInputDataKapalLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasInputDataKapalLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasInputDataKapalLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasInputDataKapalLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasInputDataKapalLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasInputDataKapalLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasInputDataKapalLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasInputDataKapalLpgList.ShowPageHeader()
@subAktivitasInputDataKapalLpgList.ShowMessages()
<main class="list @(subAktivitasInputDataKapalLpgList.TotalRecords == 0 && !subAktivitasInputDataKapalLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasInputDataKapalLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasInputDataKapalLpgList.TotalRecords > 0 || !Empty(subAktivitasInputDataKapalLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasInputDataKapalLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasInputDataKapalLpgList.TableGridClass)">
<form name="@(subAktivitasInputDataKapalLpgList.FormName)" id="@(subAktivitasInputDataKapalLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasInputDataKapalLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasInputDataKapalLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasInputDataKapalLPG" class="card-body ew-grid-middle-panel @(subAktivitasInputDataKapalLpgList.TableContainerClass)" style="@(subAktivitasInputDataKapalLpgList.TableContainerStyle)">
@if (subAktivitasInputDataKapalLpgList.TotalRecords > 0 || subAktivitasInputDataKapalLpgList.IsGridEdit || subAktivitasInputDataKapalLpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasInputDataKapalLPGlist" class="@(subAktivitasInputDataKapalLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasInputDataKapalLpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasInputDataKapalLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasInputDataKapalLpgList.ListOptions.RenderHeader("left")
@if (subAktivitasInputDataKapalLpgList.id.Visible) { // subAktivitasInputDataKapalLpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasInputDataKapalLpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalLPG_id" class="SubAktivitasInputDataKapalLPG_id">@Html.Raw(subAktivitasInputDataKapalLpgList.RenderFieldHeader(subAktivitasInputDataKapalLpgList.id))</div></th>
} @* subAktivitasInputDataKapalLpgList.id.Visible (end) *@
@if (subAktivitasInputDataKapalLpgList.NoReferensi.Visible) { // subAktivitasInputDataKapalLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasInputDataKapalLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalLPG_NoReferensi" class="SubAktivitasInputDataKapalLPG_NoReferensi">@Html.Raw(subAktivitasInputDataKapalLpgList.RenderFieldHeader(subAktivitasInputDataKapalLpgList.NoReferensi))</div></th>
} @* subAktivitasInputDataKapalLpgList.NoReferensi.Visible (end) *@
@if (subAktivitasInputDataKapalLpgList.idProses.Visible) { // subAktivitasInputDataKapalLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasInputDataKapalLpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalLPG_idProses" class="SubAktivitasInputDataKapalLPG_idProses">@Html.Raw(subAktivitasInputDataKapalLpgList.RenderFieldHeader(subAktivitasInputDataKapalLpgList.idProses))</div></th>
} @* subAktivitasInputDataKapalLpgList.idProses.Visible (end) *@
@if (subAktivitasInputDataKapalLpgList.idAktifitas.Visible) { // subAktivitasInputDataKapalLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasInputDataKapalLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalLPG_idAktifitas" class="SubAktivitasInputDataKapalLPG_idAktifitas">@Html.Raw(subAktivitasInputDataKapalLpgList.RenderFieldHeader(subAktivitasInputDataKapalLpgList.idAktifitas))</div></th>
} @* subAktivitasInputDataKapalLpgList.idAktifitas.Visible (end) *@
@if (subAktivitasInputDataKapalLpgList.StatusAktivitas.Visible) { // subAktivitasInputDataKapalLpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasInputDataKapalLpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalLPG_StatusAktivitas" class="SubAktivitasInputDataKapalLPG_StatusAktivitas">@Html.Raw(subAktivitasInputDataKapalLpgList.RenderFieldHeader(subAktivitasInputDataKapalLpgList.StatusAktivitas))</div></th>
} @* subAktivitasInputDataKapalLpgList.StatusAktivitas.Visible (end) *@
@if (subAktivitasInputDataKapalLpgList.LastUpdatedBy.Visible) { // subAktivitasInputDataKapalLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasInputDataKapalLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalLPG_LastUpdatedBy" class="SubAktivitasInputDataKapalLPG_LastUpdatedBy">@Html.Raw(subAktivitasInputDataKapalLpgList.RenderFieldHeader(subAktivitasInputDataKapalLpgList.LastUpdatedBy))</div></th>
} @* subAktivitasInputDataKapalLpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasInputDataKapalLpgList.lastUpdatedDate.Visible) { // subAktivitasInputDataKapalLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasInputDataKapalLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalLPG_lastUpdatedDate" class="SubAktivitasInputDataKapalLPG_lastUpdatedDate">@Html.Raw(subAktivitasInputDataKapalLpgList.RenderFieldHeader(subAktivitasInputDataKapalLpgList.lastUpdatedDate))</div></th>
} @* subAktivitasInputDataKapalLpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasInputDataKapalLpgList.NamaKapal.Visible) { // subAktivitasInputDataKapalLpgList.NamaKapal.Visible (begin)
        <th data-name="NamaKapal" class="@(subAktivitasInputDataKapalLpgList.NamaKapal.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalLPG_NamaKapal" class="SubAktivitasInputDataKapalLPG_NamaKapal">@Html.Raw(subAktivitasInputDataKapalLpgList.RenderFieldHeader(subAktivitasInputDataKapalLpgList.NamaKapal))</div></th>
} @* subAktivitasInputDataKapalLpgList.NamaKapal.Visible (end) *@
@if (subAktivitasInputDataKapalLpgList.VoyageNumber.Visible) { // subAktivitasInputDataKapalLpgList.VoyageNumber.Visible (begin)
        <th data-name="VoyageNumber" class="@(subAktivitasInputDataKapalLpgList.VoyageNumber.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalLPG_VoyageNumber" class="SubAktivitasInputDataKapalLPG_VoyageNumber">@Html.Raw(subAktivitasInputDataKapalLpgList.RenderFieldHeader(subAktivitasInputDataKapalLpgList.VoyageNumber))</div></th>
} @* subAktivitasInputDataKapalLpgList.VoyageNumber.Visible (end) *@
@if (subAktivitasInputDataKapalLpgList.TanggalTiba.Visible) { // subAktivitasInputDataKapalLpgList.TanggalTiba.Visible (begin)
        <th data-name="TanggalTiba" class="@(subAktivitasInputDataKapalLpgList.TanggalTiba.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalLPG_TanggalTiba" class="SubAktivitasInputDataKapalLPG_TanggalTiba">@Html.Raw(subAktivitasInputDataKapalLpgList.RenderFieldHeader(subAktivitasInputDataKapalLpgList.TanggalTiba))</div></th>
} @* subAktivitasInputDataKapalLpgList.TanggalTiba.Visible (end) *@
@if (subAktivitasInputDataKapalLpgList.Nominasi.Visible) { // subAktivitasInputDataKapalLpgList.Nominasi.Visible (begin)
        <th data-name="Nominasi" class="@(subAktivitasInputDataKapalLpgList.Nominasi.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalLPG_Nominasi" class="SubAktivitasInputDataKapalLPG_Nominasi">@Html.Raw(subAktivitasInputDataKapalLpgList.RenderFieldHeader(subAktivitasInputDataKapalLpgList.Nominasi))</div></th>
} @* subAktivitasInputDataKapalLpgList.Nominasi.Visible (end) *@
@if (subAktivitasInputDataKapalLpgList.JenisProduk.Visible) { // subAktivitasInputDataKapalLpgList.JenisProduk.Visible (begin)
        <th data-name="JenisProduk" class="@(subAktivitasInputDataKapalLpgList.JenisProduk.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalLPG_JenisProduk" class="SubAktivitasInputDataKapalLPG_JenisProduk">@Html.Raw(subAktivitasInputDataKapalLpgList.RenderFieldHeader(subAktivitasInputDataKapalLpgList.JenisProduk))</div></th>
} @* subAktivitasInputDataKapalLpgList.JenisProduk.Visible (end) *@
@if (subAktivitasInputDataKapalLpgList.etlDate.Visible) { // subAktivitasInputDataKapalLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasInputDataKapalLpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalLPG_etlDate" class="SubAktivitasInputDataKapalLPG_etlDate">@Html.Raw(subAktivitasInputDataKapalLpgList.RenderFieldHeader(subAktivitasInputDataKapalLpgList.etlDate))</div></th>
} @* subAktivitasInputDataKapalLpgList.etlDate.Visible (end) *@
@if (subAktivitasInputDataKapalLpgList.userInput.Visible) { // subAktivitasInputDataKapalLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasInputDataKapalLpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasInputDataKapalLPG_userInput" class="SubAktivitasInputDataKapalLPG_userInput">@Html.Raw(subAktivitasInputDataKapalLpgList.RenderFieldHeader(subAktivitasInputDataKapalLpgList.userInput))</div></th>
} @* subAktivitasInputDataKapalLpgList.userInput.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasInputDataKapalLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasInputDataKapalLpgList.PageNumber)">
@{
    await subAktivitasInputDataKapalLpgList.SetupGrid();
    bool eof = subAktivitasInputDataKapalLpgList.Recordset == null; // DN
}
@while (subAktivitasInputDataKapalLpgList.RecordCount < subAktivitasInputDataKapalLpgList.StopRecord || SameString(subAktivitasInputDataKapalLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasInputDataKapalLpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasInputDataKapalLpgList.IsGridAdd || subAktivitasInputDataKapalLpgList.CurrentMode == "copy") &&
        (!((subAktivitasInputDataKapalLpgList.IsCopy || subAktivitasInputDataKapalLpgList.IsAdd) && subAktivitasInputDataKapalLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasInputDataKapalLpgList.Recordset.ReadAsync();
    subAktivitasInputDataKapalLpgList.RecordCount++;
    if (subAktivitasInputDataKapalLpgList.RecordCount >= subAktivitasInputDataKapalLpgList.StartRecord) {
        await subAktivitasInputDataKapalLpgList.SetupRow();
    <tr @Html.Raw(subAktivitasInputDataKapalLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasInputDataKapalLpgList.ListOptions.RenderBody("left", subAktivitasInputDataKapalLpgList.RowCount)
    @if (subAktivitasInputDataKapalLpgList.id.Visible) { // subAktivitasInputDataKapalLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasInputDataKapalLpgList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataKapalLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataKapalLpgList.RowCount)_SubAktivitasInputDataKapalLPG_id" class="el_SubAktivitasInputDataKapalLPG_id">
<span @Html.Raw(subAktivitasInputDataKapalLpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalLpgList.id.Visible (end) *@
    @if (subAktivitasInputDataKapalLpgList.NoReferensi.Visible) { // subAktivitasInputDataKapalLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasInputDataKapalLpgList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataKapalLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataKapalLpgList.RowCount)_SubAktivitasInputDataKapalLPG_NoReferensi" class="el_SubAktivitasInputDataKapalLPG_NoReferensi">
<span @Html.Raw(subAktivitasInputDataKapalLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalLpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasInputDataKapalLpgList.idProses.Visible) { // subAktivitasInputDataKapalLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasInputDataKapalLpgList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataKapalLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataKapalLpgList.RowCount)_SubAktivitasInputDataKapalLPG_idProses" class="el_SubAktivitasInputDataKapalLPG_idProses">
<span @Html.Raw(subAktivitasInputDataKapalLpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalLpgList.idProses.Visible (end) *@
    @if (subAktivitasInputDataKapalLpgList.idAktifitas.Visible) { // subAktivitasInputDataKapalLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasInputDataKapalLpgList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataKapalLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataKapalLpgList.RowCount)_SubAktivitasInputDataKapalLPG_idAktifitas" class="el_SubAktivitasInputDataKapalLPG_idAktifitas">
<span @Html.Raw(subAktivitasInputDataKapalLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalLpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasInputDataKapalLpgList.StatusAktivitas.Visible) { // subAktivitasInputDataKapalLpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasInputDataKapalLpgList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataKapalLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataKapalLpgList.RowCount)_SubAktivitasInputDataKapalLPG_StatusAktivitas" class="el_SubAktivitasInputDataKapalLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasInputDataKapalLpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalLpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalLpgList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasInputDataKapalLpgList.LastUpdatedBy.Visible) { // subAktivitasInputDataKapalLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasInputDataKapalLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataKapalLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataKapalLpgList.RowCount)_SubAktivitasInputDataKapalLPG_LastUpdatedBy" class="el_SubAktivitasInputDataKapalLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasInputDataKapalLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalLpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasInputDataKapalLpgList.lastUpdatedDate.Visible) { // subAktivitasInputDataKapalLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasInputDataKapalLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataKapalLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataKapalLpgList.RowCount)_SubAktivitasInputDataKapalLPG_lastUpdatedDate" class="el_SubAktivitasInputDataKapalLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasInputDataKapalLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalLpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasInputDataKapalLpgList.NamaKapal.Visible) { // subAktivitasInputDataKapalLpgList.NamaKapal.Visible (begin)
        <td data-name="NamaKapal" @Html.Raw(subAktivitasInputDataKapalLpgList.NamaKapal.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataKapalLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataKapalLpgList.RowCount)_SubAktivitasInputDataKapalLPG_NamaKapal" class="el_SubAktivitasInputDataKapalLPG_NamaKapal">
<span @Html.Raw(subAktivitasInputDataKapalLpgList.NamaKapal.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalLpgList.NamaKapal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalLpgList.NamaKapal.Visible (end) *@
    @if (subAktivitasInputDataKapalLpgList.VoyageNumber.Visible) { // subAktivitasInputDataKapalLpgList.VoyageNumber.Visible (begin)
        <td data-name="VoyageNumber" @Html.Raw(subAktivitasInputDataKapalLpgList.VoyageNumber.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataKapalLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataKapalLpgList.RowCount)_SubAktivitasInputDataKapalLPG_VoyageNumber" class="el_SubAktivitasInputDataKapalLPG_VoyageNumber">
<span @Html.Raw(subAktivitasInputDataKapalLpgList.VoyageNumber.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalLpgList.VoyageNumber.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalLpgList.VoyageNumber.Visible (end) *@
    @if (subAktivitasInputDataKapalLpgList.TanggalTiba.Visible) { // subAktivitasInputDataKapalLpgList.TanggalTiba.Visible (begin)
        <td data-name="TanggalTiba" @Html.Raw(subAktivitasInputDataKapalLpgList.TanggalTiba.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataKapalLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataKapalLpgList.RowCount)_SubAktivitasInputDataKapalLPG_TanggalTiba" class="el_SubAktivitasInputDataKapalLPG_TanggalTiba">
<span @Html.Raw(subAktivitasInputDataKapalLpgList.TanggalTiba.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalLpgList.TanggalTiba.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalLpgList.TanggalTiba.Visible (end) *@
    @if (subAktivitasInputDataKapalLpgList.Nominasi.Visible) { // subAktivitasInputDataKapalLpgList.Nominasi.Visible (begin)
        <td data-name="Nominasi" @Html.Raw(subAktivitasInputDataKapalLpgList.Nominasi.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataKapalLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataKapalLpgList.RowCount)_SubAktivitasInputDataKapalLPG_Nominasi" class="el_SubAktivitasInputDataKapalLPG_Nominasi">
<span @Html.Raw(subAktivitasInputDataKapalLpgList.Nominasi.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalLpgList.Nominasi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalLpgList.Nominasi.Visible (end) *@
    @if (subAktivitasInputDataKapalLpgList.JenisProduk.Visible) { // subAktivitasInputDataKapalLpgList.JenisProduk.Visible (begin)
        <td data-name="JenisProduk" @Html.Raw(subAktivitasInputDataKapalLpgList.JenisProduk.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataKapalLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataKapalLpgList.RowCount)_SubAktivitasInputDataKapalLPG_JenisProduk" class="el_SubAktivitasInputDataKapalLPG_JenisProduk">
<span @Html.Raw(subAktivitasInputDataKapalLpgList.JenisProduk.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalLpgList.JenisProduk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalLpgList.JenisProduk.Visible (end) *@
    @if (subAktivitasInputDataKapalLpgList.etlDate.Visible) { // subAktivitasInputDataKapalLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasInputDataKapalLpgList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataKapalLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataKapalLpgList.RowCount)_SubAktivitasInputDataKapalLPG_etlDate" class="el_SubAktivitasInputDataKapalLPG_etlDate">
<span @Html.Raw(subAktivitasInputDataKapalLpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalLpgList.etlDate.Visible (end) *@
    @if (subAktivitasInputDataKapalLpgList.userInput.Visible) { // subAktivitasInputDataKapalLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasInputDataKapalLpgList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasInputDataKapalLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputDataKapalLpgList.RowCount)_SubAktivitasInputDataKapalLPG_userInput" class="el_SubAktivitasInputDataKapalLPG_userInput">
<span @Html.Raw(subAktivitasInputDataKapalLpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasInputDataKapalLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputDataKapalLpgList.userInput.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasInputDataKapalLpgList.ListOptions.RenderBody("right", subAktivitasInputDataKapalLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasInputDataKapalLpgList.RowIndex, "$rowindex$"))
        subAktivitasInputDataKapalLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasInputDataKapalLpgList.IsCopy || subAktivitasInputDataKapalLpgList.IsAdd) && subAktivitasInputDataKapalLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasInputDataKapalLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasInputDataKapalLpgList.CurrentAction) && !subAktivitasInputDataKapalLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasInputDataKapalLpgList.CloseRecordset(); }
@if (!subAktivitasInputDataKapalLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasInputDataKapalLpgList.IsGridAdd && !(subAktivitasInputDataKapalLpgList.IsGridEdit && subAktivitasInputDataKapalLpgList.ModalGridEdit) && !subAktivitasInputDataKapalLpgList.IsMultiEdit) {
@Html.Raw(subAktivitasInputDataKapalLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasInputDataKapalLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasInputDataKapalLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasInputDataKapalLpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasInputDataKapalLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasInputDataKapalLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasInputDataKapalLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
