@{
    // View
    View = this;

    // Check action result
    if (subAktivitasHasilPemeriksaanPipaEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasHasilPemeriksaanPipaEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasHasilPemeriksaanPipaEdit.ShowPageHeader()
@subAktivitasHasilPemeriksaanPipaEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasHasilPemeriksaanPipaedit" id="fSubAktivitasHasilPemeriksaanPipaedit" class="@(subAktivitasHasilPemeriksaanPipaEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasHasilPemeriksaanPipaEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasHasilPemeriksaanPipa: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasHasilPemeriksaanPipaedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasHasilPemeriksaanPipaedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["NoBatch", [fields.NoBatch.visible && fields.NoBatch.required ? ew.Validators.required(fields.NoBatch.caption) : null], fields.NoBatch.isInvalid],
            ["Tanggal", [fields.Tanggal.visible && fields.Tanggal.required ? ew.Validators.required(fields.Tanggal.caption) : null, ew.Validators.datetime(fields.Tanggal.clientFormatPattern)], fields.Tanggal.isInvalid],
            ["Nama_Kegiatan", [fields.Nama_Kegiatan.visible && fields.Nama_Kegiatan.required ? ew.Validators.required(fields.Nama_Kegiatan.caption) : null], fields.Nama_Kegiatan.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["Density", [fields.Density.visible && fields.Density.required ? ew.Validators.required(fields.Density.caption) : null], fields.Density.isInvalid],
            ["Temperature", [fields.Temperature.visible && fields.Temperature.required ? ew.Validators.required(fields.Temperature.caption) : null], fields.Temperature.isInvalid],
            ["Pressure", [fields.Pressure.visible && fields.Pressure.required ? ew.Validators.required(fields.Pressure.caption) : null], fields.Pressure.isInvalid],
            ["VolumeDischarge", [fields.VolumeDischarge.visible && fields.VolumeDischarge.required ? ew.Validators.required(fields.VolumeDischarge.caption) : null], fields.VolumeDischarge.isInvalid],
            ["Flowrate", [fields.Flowrate.visible && fields.Flowrate.required ? ew.Validators.required(fields.Flowrate.caption) : null], fields.Flowrate.isInvalid],
            ["Keterangan", [fields.Keterangan.visible && fields.Keterangan.required ? ew.Validators.required(fields.Keterangan.caption) : null], fields.Keterangan.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["SubAktivitasHasilPemeriksaanId", [fields.SubAktivitasHasilPemeriksaanId.visible && fields.SubAktivitasHasilPemeriksaanId.required ? ew.Validators.required(fields.SubAktivitasHasilPemeriksaanId.caption) : null, ew.Validators.integer], fields.SubAktivitasHasilPemeriksaanId.isInvalid],
            ["TotalTerima", [fields.TotalTerima.visible && fields.TotalTerima.required ? ew.Validators.required(fields.TotalTerima.caption) : null], fields.TotalTerima.isInvalid],
            ["ETC", [fields.ETC.visible && fields.ETC.required ? ew.Validators.required(fields.ETC.caption) : null, ew.Validators.datetime(fields.ETC.clientFormatPattern)], fields.ETC.isInvalid],
            ["ETA", [fields.ETA.visible && fields.ETA.required ? ew.Validators.required(fields.ETA.caption) : null, ew.Validators.datetime(fields.ETA.clientFormatPattern)], fields.ETA.isInvalid],
            ["ETA2", [fields.ETA2.visible && fields.ETA2.required ? ew.Validators.required(fields.ETA2.caption) : null, ew.Validators.datetime(fields.ETA2.clientFormatPattern)], fields.ETA2.isInvalid],
            ["ETA3", [fields.ETA3.visible && fields.ETA3.required ? ew.Validators.required(fields.ETA3.caption) : null, ew.Validators.datetime(fields.ETA3.clientFormatPattern)], fields.ETA3.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasHasilPemeriksaanPipaEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasHasilPemeriksaanPipaEdit.OldKeyName)" value="@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasHasilPemeriksaanPipaEdit.id.Visible) { // subAktivitasHasilPemeriksaanPipaEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.id.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPipa_id" class="@(subAktivitasHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.id.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.id.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPipa_id">
<span @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasHasilPemeriksaanPipaEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasHasilPemeriksaanPipa" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPipaEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPipaEdit.id.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPipaEdit.idProses.Visible) { // subAktivitasHasilPemeriksaanPipaEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPipa_idProses" for="x_idProses" class="@(subAktivitasHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.idProses.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPipa_idProses">
<input type="@(subAktivitasHasilPemeriksaanPipaEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubAktivitasHasilPemeriksaanPipa" data-field="x_idProses" value="@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPipaEdit.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPipaEdit.idProses.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPipaEdit.idProses.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPipaEdit.idAktifitas.Visible) { // subAktivitasHasilPemeriksaanPipaEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPipa_idAktifitas" for="x_idAktifitas" class="@(subAktivitasHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.idAktifitas.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPipa_idAktifitas">
<input type="@(subAktivitasHasilPemeriksaanPipaEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubAktivitasHasilPemeriksaanPipa" data-field="x_idAktifitas" value="@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPipaEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPipaEdit.idAktifitas.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPipaEdit.idAktifitas.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPipaEdit.NoReferensi.Visible) { // subAktivitasHasilPemeriksaanPipaEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPipa_NoReferensi" for="x_NoReferensi" class="@(subAktivitasHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.NoReferensi.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPipa_NoReferensi">
<input type="@(subAktivitasHasilPemeriksaanPipaEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasHasilPemeriksaanPipa" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.NoReferensi.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPipaEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPipaEdit.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPipaEdit.NoReferensi.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPipaEdit.NoBatch.Visible) { // subAktivitasHasilPemeriksaanPipaEdit.NoBatch.Visible (begin)
    <div id="r_NoBatch" @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.NoBatch.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPipa_NoBatch" for="x_NoBatch" class="@(subAktivitasHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.NoBatch.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.NoBatch.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.NoBatch.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPipa_NoBatch">
<input type="@(subAktivitasHasilPemeriksaanPipaEdit.NoBatch.InputTextType)" name="x_NoBatch" id="x_NoBatch" data-table="SubAktivitasHasilPemeriksaanPipa" data-field="x_NoBatch" value="@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.NoBatch.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPipaEdit.NoBatch.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPipaEdit.NoBatch.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.NoBatch.EditAttributes) aria-describedby="x_NoBatch_help">
@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.NoBatch.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.NoBatch.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPipaEdit.NoBatch.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPipaEdit.Tanggal.Visible) { // subAktivitasHasilPemeriksaanPipaEdit.Tanggal.Visible (begin)
    <div id="r_Tanggal" @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Tanggal.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPipa_Tanggal" for="x_Tanggal" class="@(subAktivitasHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Tanggal.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Tanggal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Tanggal.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPipa_Tanggal">
<input type="@(subAktivitasHasilPemeriksaanPipaEdit.Tanggal.InputTextType)" name="x_Tanggal" id="x_Tanggal" data-table="SubAktivitasHasilPemeriksaanPipa" data-field="x_Tanggal" value="@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Tanggal.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPipaEdit.Tanggal.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPipaEdit.Tanggal.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Tanggal.EditAttributes) aria-describedby="x_Tanggal_help">
@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Tanggal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Tanggal.GetErrorMessage())</div>
@if (!subAktivitasHasilPemeriksaanPipaEdit.Tanggal.ReadOnly && !subAktivitasHasilPemeriksaanPipaEdit.Tanggal.Disabled && !subAktivitasHasilPemeriksaanPipaEdit.Tanggal.EditAttrs.Is("readonly") && !subAktivitasHasilPemeriksaanPipaEdit.Tanggal.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasHasilPemeriksaanPipaedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasHasilPemeriksaanPipaedit", "x_Tanggal", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPipaEdit.Tanggal.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPipaEdit.Nama_Kegiatan.Visible) { // subAktivitasHasilPemeriksaanPipaEdit.Nama_Kegiatan.Visible (begin)
    <div id="r_Nama_Kegiatan" @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Nama_Kegiatan.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPipa_Nama_Kegiatan" for="x_Nama_Kegiatan" class="@(subAktivitasHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Nama_Kegiatan.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Nama_Kegiatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Nama_Kegiatan.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPipa_Nama_Kegiatan">
<input type="@(subAktivitasHasilPemeriksaanPipaEdit.Nama_Kegiatan.InputTextType)" name="x_Nama_Kegiatan" id="x_Nama_Kegiatan" data-table="SubAktivitasHasilPemeriksaanPipa" data-field="x_Nama_Kegiatan" value="@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Nama_Kegiatan.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPipaEdit.Nama_Kegiatan.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPipaEdit.Nama_Kegiatan.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Nama_Kegiatan.EditAttributes) aria-describedby="x_Nama_Kegiatan_help">
@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Nama_Kegiatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Nama_Kegiatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPipaEdit.Nama_Kegiatan.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPipaEdit.Produk.Visible) { // subAktivitasHasilPemeriksaanPipaEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Produk.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPipa_Produk" for="x_Produk" class="@(subAktivitasHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Produk.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Produk.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPipa_Produk">
<input type="@(subAktivitasHasilPemeriksaanPipaEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasHasilPemeriksaanPipa" data-field="x_Produk" value="@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Produk.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPipaEdit.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPipaEdit.Produk.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPipaEdit.Produk.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPipaEdit.Density.Visible) { // subAktivitasHasilPemeriksaanPipaEdit.Density.Visible (begin)
    <div id="r_Density" @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Density.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPipa_Density" for="x_Density" class="@(subAktivitasHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Density.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Density.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Density.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPipa_Density">
<input type="@(subAktivitasHasilPemeriksaanPipaEdit.Density.InputTextType)" name="x_Density" id="x_Density" data-table="SubAktivitasHasilPemeriksaanPipa" data-field="x_Density" value="@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Density.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPipaEdit.Density.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPipaEdit.Density.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Density.EditAttributes) aria-describedby="x_Density_help">
@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Density.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Density.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPipaEdit.Density.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPipaEdit.Temperature.Visible) { // subAktivitasHasilPemeriksaanPipaEdit.Temperature.Visible (begin)
    <div id="r_Temperature" @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Temperature.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPipa_Temperature" for="x_Temperature" class="@(subAktivitasHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Temperature.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Temperature.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Temperature.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPipa_Temperature">
<input type="@(subAktivitasHasilPemeriksaanPipaEdit.Temperature.InputTextType)" name="x_Temperature" id="x_Temperature" data-table="SubAktivitasHasilPemeriksaanPipa" data-field="x_Temperature" value="@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Temperature.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPipaEdit.Temperature.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPipaEdit.Temperature.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Temperature.EditAttributes) aria-describedby="x_Temperature_help">
@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Temperature.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Temperature.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPipaEdit.Temperature.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPipaEdit.Pressure.Visible) { // subAktivitasHasilPemeriksaanPipaEdit.Pressure.Visible (begin)
    <div id="r_Pressure" @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Pressure.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPipa_Pressure" for="x_Pressure" class="@(subAktivitasHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Pressure.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Pressure.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Pressure.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPipa_Pressure">
<input type="@(subAktivitasHasilPemeriksaanPipaEdit.Pressure.InputTextType)" name="x_Pressure" id="x_Pressure" data-table="SubAktivitasHasilPemeriksaanPipa" data-field="x_Pressure" value="@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Pressure.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPipaEdit.Pressure.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPipaEdit.Pressure.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Pressure.EditAttributes) aria-describedby="x_Pressure_help">
@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Pressure.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Pressure.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPipaEdit.Pressure.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPipaEdit.VolumeDischarge.Visible) { // subAktivitasHasilPemeriksaanPipaEdit.VolumeDischarge.Visible (begin)
    <div id="r_VolumeDischarge" @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.VolumeDischarge.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPipa_VolumeDischarge" for="x_VolumeDischarge" class="@(subAktivitasHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.VolumeDischarge.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.VolumeDischarge.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.VolumeDischarge.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPipa_VolumeDischarge">
<input type="@(subAktivitasHasilPemeriksaanPipaEdit.VolumeDischarge.InputTextType)" name="x_VolumeDischarge" id="x_VolumeDischarge" data-table="SubAktivitasHasilPemeriksaanPipa" data-field="x_VolumeDischarge" value="@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.VolumeDischarge.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPipaEdit.VolumeDischarge.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPipaEdit.VolumeDischarge.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.VolumeDischarge.EditAttributes) aria-describedby="x_VolumeDischarge_help">
@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.VolumeDischarge.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.VolumeDischarge.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPipaEdit.VolumeDischarge.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPipaEdit.Flowrate.Visible) { // subAktivitasHasilPemeriksaanPipaEdit.Flowrate.Visible (begin)
    <div id="r_Flowrate" @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Flowrate.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPipa_Flowrate" for="x_Flowrate" class="@(subAktivitasHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Flowrate.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Flowrate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Flowrate.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPipa_Flowrate">
<input type="@(subAktivitasHasilPemeriksaanPipaEdit.Flowrate.InputTextType)" name="x_Flowrate" id="x_Flowrate" data-table="SubAktivitasHasilPemeriksaanPipa" data-field="x_Flowrate" value="@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Flowrate.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPipaEdit.Flowrate.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPipaEdit.Flowrate.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Flowrate.EditAttributes) aria-describedby="x_Flowrate_help">
@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Flowrate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Flowrate.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPipaEdit.Flowrate.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPipaEdit.Keterangan.Visible) { // subAktivitasHasilPemeriksaanPipaEdit.Keterangan.Visible (begin)
    <div id="r_Keterangan" @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Keterangan.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPipa_Keterangan" for="x_Keterangan" class="@(subAktivitasHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Keterangan.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Keterangan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Keterangan.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPipa_Keterangan">
<input type="@(subAktivitasHasilPemeriksaanPipaEdit.Keterangan.InputTextType)" name="x_Keterangan" id="x_Keterangan" data-table="SubAktivitasHasilPemeriksaanPipa" data-field="x_Keterangan" value="@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Keterangan.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPipaEdit.Keterangan.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPipaEdit.Keterangan.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Keterangan.EditAttributes) aria-describedby="x_Keterangan_help">
@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Keterangan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.Keterangan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPipaEdit.Keterangan.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPipaEdit.userInput.Visible) { // subAktivitasHasilPemeriksaanPipaEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.userInput.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPipa_userInput" for="x_userInput" class="@(subAktivitasHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.userInput.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.userInput.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPipa_userInput">
<input type="@(subAktivitasHasilPemeriksaanPipaEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasHasilPemeriksaanPipa" data-field="x_userInput" value="@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPipaEdit.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPipaEdit.userInput.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPipaEdit.userInput.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPipaEdit.etlDate.Visible) { // subAktivitasHasilPemeriksaanPipaEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPipa_etlDate" for="x_etlDate" class="@(subAktivitasHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.etlDate.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.etlDate.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPipa_etlDate">
<input type="@(subAktivitasHasilPemeriksaanPipaEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasHasilPemeriksaanPipa" data-field="x_etlDate" value="@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPipaEdit.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPipaEdit.etlDate.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.etlDate.GetErrorMessage())</div>
@if (!subAktivitasHasilPemeriksaanPipaEdit.etlDate.ReadOnly && !subAktivitasHasilPemeriksaanPipaEdit.etlDate.Disabled && !subAktivitasHasilPemeriksaanPipaEdit.etlDate.EditAttrs.Is("readonly") && !subAktivitasHasilPemeriksaanPipaEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasHasilPemeriksaanPipaedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasHasilPemeriksaanPipaedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPipaEdit.etlDate.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPipaEdit.LastUpdatedBy.Visible) { // subAktivitasHasilPemeriksaanPipaEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPipa_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPipa_LastUpdatedBy">
<input type="@(subAktivitasHasilPemeriksaanPipaEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasHasilPemeriksaanPipa" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPipaEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPipaEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPipaEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPipaEdit.lastUpdatedDate.Visible) { // subAktivitasHasilPemeriksaanPipaEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPipa_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPipa_lastUpdatedDate">
<input type="@(subAktivitasHasilPemeriksaanPipaEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasHasilPemeriksaanPipa" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPipaEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPipaEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasHasilPemeriksaanPipaEdit.lastUpdatedDate.ReadOnly && !subAktivitasHasilPemeriksaanPipaEdit.lastUpdatedDate.Disabled && !subAktivitasHasilPemeriksaanPipaEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasHasilPemeriksaanPipaEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasHasilPemeriksaanPipaedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasHasilPemeriksaanPipaedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPipaEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPipaEdit.SubAktivitasHasilPemeriksaanId.Visible) { // subAktivitasHasilPemeriksaanPipaEdit.SubAktivitasHasilPemeriksaanId.Visible (begin)
    <div id="r_SubAktivitasHasilPemeriksaanId" @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.SubAktivitasHasilPemeriksaanId.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPipa_SubAktivitasHasilPemeriksaanId" for="x_SubAktivitasHasilPemeriksaanId" class="@(subAktivitasHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.SubAktivitasHasilPemeriksaanId.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.SubAktivitasHasilPemeriksaanId.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.SubAktivitasHasilPemeriksaanId.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPipa_SubAktivitasHasilPemeriksaanId">
<input type="@(subAktivitasHasilPemeriksaanPipaEdit.SubAktivitasHasilPemeriksaanId.InputTextType)" name="x_SubAktivitasHasilPemeriksaanId" id="x_SubAktivitasHasilPemeriksaanId" data-table="SubAktivitasHasilPemeriksaanPipa" data-field="x_SubAktivitasHasilPemeriksaanId" value="@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.SubAktivitasHasilPemeriksaanId.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPipaEdit.SubAktivitasHasilPemeriksaanId.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPipaEdit.SubAktivitasHasilPemeriksaanId.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.SubAktivitasHasilPemeriksaanId.EditAttributes) aria-describedby="x_SubAktivitasHasilPemeriksaanId_help">
@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.SubAktivitasHasilPemeriksaanId.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.SubAktivitasHasilPemeriksaanId.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPipaEdit.SubAktivitasHasilPemeriksaanId.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPipaEdit.TotalTerima.Visible) { // subAktivitasHasilPemeriksaanPipaEdit.TotalTerima.Visible (begin)
    <div id="r_TotalTerima" @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.TotalTerima.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPipa_TotalTerima" for="x_TotalTerima" class="@(subAktivitasHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.TotalTerima.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.TotalTerima.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.TotalTerima.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPipa_TotalTerima">
<input type="@(subAktivitasHasilPemeriksaanPipaEdit.TotalTerima.InputTextType)" name="x_TotalTerima" id="x_TotalTerima" data-table="SubAktivitasHasilPemeriksaanPipa" data-field="x_TotalTerima" value="@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.TotalTerima.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPipaEdit.TotalTerima.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPipaEdit.TotalTerima.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.TotalTerima.EditAttributes) aria-describedby="x_TotalTerima_help">
@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.TotalTerima.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.TotalTerima.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPipaEdit.TotalTerima.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPipaEdit.ETC.Visible) { // subAktivitasHasilPemeriksaanPipaEdit.ETC.Visible (begin)
    <div id="r_ETC" @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.ETC.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPipa_ETC" for="x_ETC" class="@(subAktivitasHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.ETC.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.ETC.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.ETC.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPipa_ETC">
<input type="@(subAktivitasHasilPemeriksaanPipaEdit.ETC.InputTextType)" name="x_ETC" id="x_ETC" data-table="SubAktivitasHasilPemeriksaanPipa" data-field="x_ETC" value="@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.ETC.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPipaEdit.ETC.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPipaEdit.ETC.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.ETC.EditAttributes) aria-describedby="x_ETC_help">
@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.ETC.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.ETC.GetErrorMessage())</div>
@if (!subAktivitasHasilPemeriksaanPipaEdit.ETC.ReadOnly && !subAktivitasHasilPemeriksaanPipaEdit.ETC.Disabled && !subAktivitasHasilPemeriksaanPipaEdit.ETC.EditAttrs.Is("readonly") && !subAktivitasHasilPemeriksaanPipaEdit.ETC.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasHasilPemeriksaanPipaedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasHasilPemeriksaanPipaedit", "x_ETC", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPipaEdit.ETC.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPipaEdit.ETA.Visible) { // subAktivitasHasilPemeriksaanPipaEdit.ETA.Visible (begin)
    <div id="r_ETA" @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.ETA.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPipa_ETA" for="x_ETA" class="@(subAktivitasHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.ETA.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.ETA.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.ETA.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPipa_ETA">
<input type="@(subAktivitasHasilPemeriksaanPipaEdit.ETA.InputTextType)" name="x_ETA" id="x_ETA" data-table="SubAktivitasHasilPemeriksaanPipa" data-field="x_ETA" value="@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.ETA.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPipaEdit.ETA.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPipaEdit.ETA.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.ETA.EditAttributes) aria-describedby="x_ETA_help">
@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.ETA.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.ETA.GetErrorMessage())</div>
@if (!subAktivitasHasilPemeriksaanPipaEdit.ETA.ReadOnly && !subAktivitasHasilPemeriksaanPipaEdit.ETA.Disabled && !subAktivitasHasilPemeriksaanPipaEdit.ETA.EditAttrs.Is("readonly") && !subAktivitasHasilPemeriksaanPipaEdit.ETA.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasHasilPemeriksaanPipaedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasHasilPemeriksaanPipaedit", "x_ETA", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPipaEdit.ETA.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPipaEdit.ETA2.Visible) { // subAktivitasHasilPemeriksaanPipaEdit.ETA2.Visible (begin)
    <div id="r_ETA2" @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.ETA2.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPipa_ETA2" for="x_ETA2" class="@(subAktivitasHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.ETA2.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.ETA2.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.ETA2.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPipa_ETA2">
<input type="@(subAktivitasHasilPemeriksaanPipaEdit.ETA2.InputTextType)" name="x_ETA2" id="x_ETA2" data-table="SubAktivitasHasilPemeriksaanPipa" data-field="x_ETA2" value="@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.ETA2.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPipaEdit.ETA2.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPipaEdit.ETA2.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.ETA2.EditAttributes) aria-describedby="x_ETA2_help">
@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.ETA2.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.ETA2.GetErrorMessage())</div>
@if (!subAktivitasHasilPemeriksaanPipaEdit.ETA2.ReadOnly && !subAktivitasHasilPemeriksaanPipaEdit.ETA2.Disabled && !subAktivitasHasilPemeriksaanPipaEdit.ETA2.EditAttrs.Is("readonly") && !subAktivitasHasilPemeriksaanPipaEdit.ETA2.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasHasilPemeriksaanPipaedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasHasilPemeriksaanPipaedit", "x_ETA2", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPipaEdit.ETA2.Visible (end) *@
@if (subAktivitasHasilPemeriksaanPipaEdit.ETA3.Visible) { // subAktivitasHasilPemeriksaanPipaEdit.ETA3.Visible (begin)
    <div id="r_ETA3" @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.ETA3.RowAttributes)>
        <label id="elh_SubAktivitasHasilPemeriksaanPipa_ETA3" for="x_ETA3" class="@(subAktivitasHasilPemeriksaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.ETA3.Caption)@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.ETA3.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasHasilPemeriksaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.ETA3.CellAttributes)>
<span id="el_SubAktivitasHasilPemeriksaanPipa_ETA3">
<input type="@(subAktivitasHasilPemeriksaanPipaEdit.ETA3.InputTextType)" name="x_ETA3" id="x_ETA3" data-table="SubAktivitasHasilPemeriksaanPipa" data-field="x_ETA3" value="@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.ETA3.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasHasilPemeriksaanPipaEdit.ETA3.PlaceHolder))" data-format-pattern="@(subAktivitasHasilPemeriksaanPipaEdit.ETA3.FormatPattern)"@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.ETA3.EditAttributes) aria-describedby="x_ETA3_help">
@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.ETA3.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.ETA3.GetErrorMessage())</div>
@if (!subAktivitasHasilPemeriksaanPipaEdit.ETA3.ReadOnly && !subAktivitasHasilPemeriksaanPipaEdit.ETA3.Disabled && !subAktivitasHasilPemeriksaanPipaEdit.ETA3.EditAttrs.Is("readonly") && !subAktivitasHasilPemeriksaanPipaEdit.ETA3.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasHasilPemeriksaanPipaedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasHasilPemeriksaanPipaedit", "x_ETA3", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasHasilPemeriksaanPipaEdit.ETA3.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasHasilPemeriksaanPipaEdit.CloseRecordset(); }
@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasHasilPemeriksaanPipaEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasHasilPemeriksaanPipaedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasHasilPemeriksaanPipaedit" data-href="@AppPath(subAktivitasHasilPemeriksaanPipaEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasHasilPemeriksaanPipaEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasHasilPemeriksaanPipaEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasHasilPemeriksaanPipa");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
