@{
    // View
    View = this;

    // Check action result
    if (subAktivitasDataStartPenyaluranStsPyrLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasDataStartPenyaluranStsPyrLpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasDataStartPenyaluranStsPyrLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataStartPenyaluranStsPyrLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataStartPenyaluranSTSPyrLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasDataStartPenyaluranStsPyrLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasDataStartPenyaluranStsPyrLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasDataStartPenyaluranStsPyrLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasDataStartPenyaluranStsPyrLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasDataStartPenyaluranStsPyrLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasDataStartPenyaluranStsPyrLpgList.TotalRecords > 0 && subAktivitasDataStartPenyaluranStsPyrLpgList.ExportOptions.Visible) {
    subAktivitasDataStartPenyaluranStsPyrLpgList.ExportOptions.Render("body");
}
@if (subAktivitasDataStartPenyaluranStsPyrLpgList.ImportOptions.Visible) {
    subAktivitasDataStartPenyaluranStsPyrLpgList.ImportOptions.Render("body");
}
@if (subAktivitasDataStartPenyaluranStsPyrLpgList.SearchOptions.Visible) {
    subAktivitasDataStartPenyaluranStsPyrLpgList.SearchOptions.Render("body");
}
@if (subAktivitasDataStartPenyaluranStsPyrLpgList.FilterOptions.Visible) {
    subAktivitasDataStartPenyaluranStsPyrLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasDataStartPenyaluranStsPyrLpgList.IsModal) {
<form name="fSubAktivitasDataStartPenyaluranSTSPyrLPGsrch" id="fSubAktivitasDataStartPenyaluranSTSPyrLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasDataStartPenyaluranSTSPyrLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasDataStartPenyaluranStsPyrLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataStartPenyaluranStsPyrLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataStartPenyaluranSTSPyrLPG: currentTable } });
var currentForm;
var fSubAktivitasDataStartPenyaluranSTSPyrLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasDataStartPenyaluranSTSPyrLPGsrch")
        .setPageId("list")
@if (subAktivitasDataStartPenyaluranStsPyrLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasDataStartPenyaluranStsPyrLpgList.IsExport() && Empty(subAktivitasDataStartPenyaluranStsPyrLpgList.CurrentAction) && subAktivitasDataStartPenyaluranStsPyrLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasDataStartPenyaluranStsPyrLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasDataStartPenyaluranStsPyrLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasDataStartPenyaluranStsPyrLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasDataStartPenyaluranSTSPyrLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStartPenyaluranStsPyrLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasDataStartPenyaluranSTSPyrLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStartPenyaluranStsPyrLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasDataStartPenyaluranSTSPyrLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStartPenyaluranStsPyrLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasDataStartPenyaluranSTSPyrLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasDataStartPenyaluranStsPyrLpgList.ShowPageHeader()
@subAktivitasDataStartPenyaluranStsPyrLpgList.ShowMessages()
<main class="list @(subAktivitasDataStartPenyaluranStsPyrLpgList.TotalRecords == 0 && !subAktivitasDataStartPenyaluranStsPyrLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasDataStartPenyaluranStsPyrLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasDataStartPenyaluranStsPyrLpgList.TotalRecords > 0 || !Empty(subAktivitasDataStartPenyaluranStsPyrLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasDataStartPenyaluranStsPyrLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasDataStartPenyaluranStsPyrLpgList.TableGridClass)">
<form name="@(subAktivitasDataStartPenyaluranStsPyrLpgList.FormName)" id="@(subAktivitasDataStartPenyaluranStsPyrLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasDataStartPenyaluranStsPyrLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasDataStartPenyaluranStsPyrLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasDataStartPenyaluranSTSPyrLPG" class="card-body ew-grid-middle-panel @(subAktivitasDataStartPenyaluranStsPyrLpgList.TableContainerClass)" style="@(subAktivitasDataStartPenyaluranStsPyrLpgList.TableContainerStyle)">
@if (subAktivitasDataStartPenyaluranStsPyrLpgList.TotalRecords > 0 || subAktivitasDataStartPenyaluranStsPyrLpgList.IsGridEdit || subAktivitasDataStartPenyaluranStsPyrLpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasDataStartPenyaluranSTSPyrLPGlist" class="@(subAktivitasDataStartPenyaluranStsPyrLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasDataStartPenyaluranStsPyrLpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasDataStartPenyaluranStsPyrLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasDataStartPenyaluranStsPyrLpgList.ListOptions.RenderHeader("left")
@if (subAktivitasDataStartPenyaluranStsPyrLpgList.id.Visible) { // subAktivitasDataStartPenyaluranStsPyrLpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasDataStartPenyaluranStsPyrLpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranSTSPyrLPG_id" class="SubAktivitasDataStartPenyaluranSTSPyrLPG_id">@Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasDataStartPenyaluranStsPyrLpgList.id))</div></th>
} @* subAktivitasDataStartPenyaluranStsPyrLpgList.id.Visible (end) *@
@if (subAktivitasDataStartPenyaluranStsPyrLpgList.NoReferensi.Visible) { // subAktivitasDataStartPenyaluranStsPyrLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasDataStartPenyaluranStsPyrLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranSTSPyrLPG_NoReferensi" class="SubAktivitasDataStartPenyaluranSTSPyrLPG_NoReferensi">@Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasDataStartPenyaluranStsPyrLpgList.NoReferensi))</div></th>
} @* subAktivitasDataStartPenyaluranStsPyrLpgList.NoReferensi.Visible (end) *@
@if (subAktivitasDataStartPenyaluranStsPyrLpgList.idProses.Visible) { // subAktivitasDataStartPenyaluranStsPyrLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasDataStartPenyaluranStsPyrLpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranSTSPyrLPG_idProses" class="SubAktivitasDataStartPenyaluranSTSPyrLPG_idProses">@Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasDataStartPenyaluranStsPyrLpgList.idProses))</div></th>
} @* subAktivitasDataStartPenyaluranStsPyrLpgList.idProses.Visible (end) *@
@if (subAktivitasDataStartPenyaluranStsPyrLpgList.idAktifitas.Visible) { // subAktivitasDataStartPenyaluranStsPyrLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasDataStartPenyaluranStsPyrLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranSTSPyrLPG_idAktifitas" class="SubAktivitasDataStartPenyaluranSTSPyrLPG_idAktifitas">@Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasDataStartPenyaluranStsPyrLpgList.idAktifitas))</div></th>
} @* subAktivitasDataStartPenyaluranStsPyrLpgList.idAktifitas.Visible (end) *@
@if (subAktivitasDataStartPenyaluranStsPyrLpgList.StatusAktivitas.Visible) { // subAktivitasDataStartPenyaluranStsPyrLpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasDataStartPenyaluranStsPyrLpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranSTSPyrLPG_StatusAktivitas" class="SubAktivitasDataStartPenyaluranSTSPyrLPG_StatusAktivitas">@Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasDataStartPenyaluranStsPyrLpgList.StatusAktivitas))</div></th>
} @* subAktivitasDataStartPenyaluranStsPyrLpgList.StatusAktivitas.Visible (end) *@
@if (subAktivitasDataStartPenyaluranStsPyrLpgList.LastUpdatedBy.Visible) { // subAktivitasDataStartPenyaluranStsPyrLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasDataStartPenyaluranStsPyrLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranSTSPyrLPG_LastUpdatedBy" class="SubAktivitasDataStartPenyaluranSTSPyrLPG_LastUpdatedBy">@Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasDataStartPenyaluranStsPyrLpgList.LastUpdatedBy))</div></th>
} @* subAktivitasDataStartPenyaluranStsPyrLpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasDataStartPenyaluranStsPyrLpgList.lastUpdatedDate.Visible) { // subAktivitasDataStartPenyaluranStsPyrLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasDataStartPenyaluranStsPyrLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranSTSPyrLPG_lastUpdatedDate" class="SubAktivitasDataStartPenyaluranSTSPyrLPG_lastUpdatedDate">@Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasDataStartPenyaluranStsPyrLpgList.lastUpdatedDate))</div></th>
} @* subAktivitasDataStartPenyaluranStsPyrLpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasDataStartPenyaluranStsPyrLpgList.Tanggal.Visible) { // subAktivitasDataStartPenyaluranStsPyrLpgList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasDataStartPenyaluranStsPyrLpgList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranSTSPyrLPG_Tanggal" class="SubAktivitasDataStartPenyaluranSTSPyrLPG_Tanggal">@Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasDataStartPenyaluranStsPyrLpgList.Tanggal))</div></th>
} @* subAktivitasDataStartPenyaluranStsPyrLpgList.Tanggal.Visible (end) *@
@if (subAktivitasDataStartPenyaluranStsPyrLpgList.userInput.Visible) { // subAktivitasDataStartPenyaluranStsPyrLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasDataStartPenyaluranStsPyrLpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranSTSPyrLPG_userInput" class="SubAktivitasDataStartPenyaluranSTSPyrLPG_userInput">@Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasDataStartPenyaluranStsPyrLpgList.userInput))</div></th>
} @* subAktivitasDataStartPenyaluranStsPyrLpgList.userInput.Visible (end) *@
@if (subAktivitasDataStartPenyaluranStsPyrLpgList.etlDate.Visible) { // subAktivitasDataStartPenyaluranStsPyrLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasDataStartPenyaluranStsPyrLpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasDataStartPenyaluranSTSPyrLPG_etlDate" class="SubAktivitasDataStartPenyaluranSTSPyrLPG_etlDate">@Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasDataStartPenyaluranStsPyrLpgList.etlDate))</div></th>
} @* subAktivitasDataStartPenyaluranStsPyrLpgList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasDataStartPenyaluranStsPyrLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasDataStartPenyaluranStsPyrLpgList.PageNumber)">
@{
    await subAktivitasDataStartPenyaluranStsPyrLpgList.SetupGrid();
    bool eof = subAktivitasDataStartPenyaluranStsPyrLpgList.Recordset == null; // DN
}
@while (subAktivitasDataStartPenyaluranStsPyrLpgList.RecordCount < subAktivitasDataStartPenyaluranStsPyrLpgList.StopRecord || SameString(subAktivitasDataStartPenyaluranStsPyrLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasDataStartPenyaluranStsPyrLpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasDataStartPenyaluranStsPyrLpgList.IsGridAdd || subAktivitasDataStartPenyaluranStsPyrLpgList.CurrentMode == "copy") &&
        (!((subAktivitasDataStartPenyaluranStsPyrLpgList.IsCopy || subAktivitasDataStartPenyaluranStsPyrLpgList.IsAdd) && subAktivitasDataStartPenyaluranStsPyrLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasDataStartPenyaluranStsPyrLpgList.Recordset.ReadAsync();
    subAktivitasDataStartPenyaluranStsPyrLpgList.RecordCount++;
    if (subAktivitasDataStartPenyaluranStsPyrLpgList.RecordCount >= subAktivitasDataStartPenyaluranStsPyrLpgList.StartRecord) {
        await subAktivitasDataStartPenyaluranStsPyrLpgList.SetupRow();
    <tr @Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasDataStartPenyaluranStsPyrLpgList.ListOptions.RenderBody("left", subAktivitasDataStartPenyaluranStsPyrLpgList.RowCount)
    @if (subAktivitasDataStartPenyaluranStsPyrLpgList.id.Visible) { // subAktivitasDataStartPenyaluranStsPyrLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.id.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranStsPyrLpgList.RowCount)_SubAktivitasDataStartPenyaluranSTSPyrLPG_id" class="el_SubAktivitasDataStartPenyaluranSTSPyrLPG_id">
<span @Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranStsPyrLpgList.id.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranStsPyrLpgList.NoReferensi.Visible) { // subAktivitasDataStartPenyaluranStsPyrLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranStsPyrLpgList.RowCount)_SubAktivitasDataStartPenyaluranSTSPyrLPG_NoReferensi" class="el_SubAktivitasDataStartPenyaluranSTSPyrLPG_NoReferensi">
<span @Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranStsPyrLpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranStsPyrLpgList.idProses.Visible) { // subAktivitasDataStartPenyaluranStsPyrLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.idProses.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranStsPyrLpgList.RowCount)_SubAktivitasDataStartPenyaluranSTSPyrLPG_idProses" class="el_SubAktivitasDataStartPenyaluranSTSPyrLPG_idProses">
<span @Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranStsPyrLpgList.idProses.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranStsPyrLpgList.idAktifitas.Visible) { // subAktivitasDataStartPenyaluranStsPyrLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranStsPyrLpgList.RowCount)_SubAktivitasDataStartPenyaluranSTSPyrLPG_idAktifitas" class="el_SubAktivitasDataStartPenyaluranSTSPyrLPG_idAktifitas">
<span @Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranStsPyrLpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranStsPyrLpgList.StatusAktivitas.Visible) { // subAktivitasDataStartPenyaluranStsPyrLpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranStsPyrLpgList.RowCount)_SubAktivitasDataStartPenyaluranSTSPyrLPG_StatusAktivitas" class="el_SubAktivitasDataStartPenyaluranSTSPyrLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranStsPyrLpgList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranStsPyrLpgList.LastUpdatedBy.Visible) { // subAktivitasDataStartPenyaluranStsPyrLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranStsPyrLpgList.RowCount)_SubAktivitasDataStartPenyaluranSTSPyrLPG_LastUpdatedBy" class="el_SubAktivitasDataStartPenyaluranSTSPyrLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranStsPyrLpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranStsPyrLpgList.lastUpdatedDate.Visible) { // subAktivitasDataStartPenyaluranStsPyrLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranStsPyrLpgList.RowCount)_SubAktivitasDataStartPenyaluranSTSPyrLPG_lastUpdatedDate" class="el_SubAktivitasDataStartPenyaluranSTSPyrLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranStsPyrLpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranStsPyrLpgList.Tanggal.Visible) { // subAktivitasDataStartPenyaluranStsPyrLpgList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.Tanggal.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranStsPyrLpgList.RowCount)_SubAktivitasDataStartPenyaluranSTSPyrLPG_Tanggal" class="el_SubAktivitasDataStartPenyaluranSTSPyrLPG_Tanggal">
<span @Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranStsPyrLpgList.Tanggal.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranStsPyrLpgList.userInput.Visible) { // subAktivitasDataStartPenyaluranStsPyrLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.userInput.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranStsPyrLpgList.RowCount)_SubAktivitasDataStartPenyaluranSTSPyrLPG_userInput" class="el_SubAktivitasDataStartPenyaluranSTSPyrLPG_userInput">
<span @Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranStsPyrLpgList.userInput.Visible (end) *@
    @if (subAktivitasDataStartPenyaluranStsPyrLpgList.etlDate.Visible) { // subAktivitasDataStartPenyaluranStsPyrLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.etlDate.CellAttributes)>
<span id="el@(subAktivitasDataStartPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStartPenyaluranStsPyrLpgList.RowCount)_SubAktivitasDataStartPenyaluranSTSPyrLPG_etlDate" class="el_SubAktivitasDataStartPenyaluranSTSPyrLPG_etlDate">
<span @Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStartPenyaluranStsPyrLpgList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasDataStartPenyaluranStsPyrLpgList.ListOptions.RenderBody("right", subAktivitasDataStartPenyaluranStsPyrLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasDataStartPenyaluranStsPyrLpgList.RowIndex, "$rowindex$"))
        subAktivitasDataStartPenyaluranStsPyrLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasDataStartPenyaluranStsPyrLpgList.IsCopy || subAktivitasDataStartPenyaluranStsPyrLpgList.IsAdd) && subAktivitasDataStartPenyaluranStsPyrLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasDataStartPenyaluranStsPyrLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasDataStartPenyaluranStsPyrLpgList.CurrentAction) && !subAktivitasDataStartPenyaluranStsPyrLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasDataStartPenyaluranStsPyrLpgList.CloseRecordset(); }
@if (!subAktivitasDataStartPenyaluranStsPyrLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasDataStartPenyaluranStsPyrLpgList.IsGridAdd && !(subAktivitasDataStartPenyaluranStsPyrLpgList.IsGridEdit && subAktivitasDataStartPenyaluranStsPyrLpgList.ModalGridEdit) && !subAktivitasDataStartPenyaluranStsPyrLpgList.IsMultiEdit) {
@Html.Raw(subAktivitasDataStartPenyaluranStsPyrLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasDataStartPenyaluranStsPyrLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasDataStartPenyaluranStsPyrLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasDataStartPenyaluranStsPyrLpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasDataStartPenyaluranStsPyrLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasDataStartPenyaluranStsPyrLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasDataStartPenyaluranSTSPyrLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
