@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiSfbdrtwList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiSfbdrtwList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasNilaiSfbdrtwList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiSfbdrtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiSFBDRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasNilaiSfbdrtwList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasNilaiSfbdrtwList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasNilaiSfbdrtwList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasNilaiSfbdrtwList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasNilaiSfbdrtwList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasNilaiSfbdrtwList.TotalRecords > 0 && subAktivitasNilaiSfbdrtwList.ExportOptions.Visible) {
    subAktivitasNilaiSfbdrtwList.ExportOptions.Render("body");
}
@if (subAktivitasNilaiSfbdrtwList.ImportOptions.Visible) {
    subAktivitasNilaiSfbdrtwList.ImportOptions.Render("body");
}
@if (subAktivitasNilaiSfbdrtwList.SearchOptions.Visible) {
    subAktivitasNilaiSfbdrtwList.SearchOptions.Render("body");
}
@if (subAktivitasNilaiSfbdrtwList.FilterOptions.Visible) {
    subAktivitasNilaiSfbdrtwList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasNilaiSfbdrtwList.IsModal) {
<form name="fSubAktivitasNilaiSFBDRTWsrch" id="fSubAktivitasNilaiSFBDRTWsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasNilaiSFBDRTWsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasNilaiSfbdrtwList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiSfbdrtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiSFBDRTW: currentTable } });
var currentForm;
var fSubAktivitasNilaiSFBDRTWsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiSFBDRTWsrch")
        .setPageId("list")
@if (subAktivitasNilaiSfbdrtwList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasNilaiSfbdrtwList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasNilaiSfbdrtwList.IsExport() && Empty(subAktivitasNilaiSfbdrtwList.CurrentAction) && subAktivitasNilaiSfbdrtwList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasNilaiSfbdrtwList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasNilaiSfbdrtwList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasNilaiSfbdrtwList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasNilaiSfbdrtwList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasNilaiSFBDRTWsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiSfbdrtwList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasNilaiSFBDRTWsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiSfbdrtwList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasNilaiSFBDRTWsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiSfbdrtwList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasNilaiSFBDRTWsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasNilaiSfbdrtwList.ShowPageHeader()
@subAktivitasNilaiSfbdrtwList.ShowMessages()
<main class="list @(subAktivitasNilaiSfbdrtwList.TotalRecords == 0 && !subAktivitasNilaiSfbdrtwList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasNilaiSfbdrtwList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasNilaiSfbdrtwList.TotalRecords > 0 || !Empty(subAktivitasNilaiSfbdrtwList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasNilaiSfbdrtwList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasNilaiSfbdrtwList.TableGridClass)">
<form name="@(subAktivitasNilaiSfbdrtwList.FormName)" id="@(subAktivitasNilaiSfbdrtwList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasNilaiSfbdrtwList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasNilaiSfbdrtwList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasNilaiSFBDRTW" class="card-body ew-grid-middle-panel @(subAktivitasNilaiSfbdrtwList.TableContainerClass)" style="@(subAktivitasNilaiSfbdrtwList.TableContainerStyle)">
@if (subAktivitasNilaiSfbdrtwList.TotalRecords > 0 || subAktivitasNilaiSfbdrtwList.IsGridEdit || subAktivitasNilaiSfbdrtwList.IsMultiEdit) {
<table id="tbl_SubAktivitasNilaiSFBDRTWlist" class="@(subAktivitasNilaiSfbdrtwList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasNilaiSfbdrtwList.RowType = RowType.Header;

    // Render list options
    await subAktivitasNilaiSfbdrtwList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasNilaiSfbdrtwList.ListOptions.RenderHeader("left")
@if (subAktivitasNilaiSfbdrtwList.id.Visible) { // subAktivitasNilaiSfbdrtwList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasNilaiSfbdrtwList.id.HeaderCellClass)"><div id="elh_SubAktivitasNilaiSFBDRTW_id" class="SubAktivitasNilaiSFBDRTW_id">@Html.Raw(subAktivitasNilaiSfbdrtwList.RenderFieldHeader(subAktivitasNilaiSfbdrtwList.id))</div></th>
} @* subAktivitasNilaiSfbdrtwList.id.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwList.idAktifitas.Visible) { // subAktivitasNilaiSfbdrtwList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasNilaiSfbdrtwList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiSFBDRTW_idAktifitas" class="SubAktivitasNilaiSFBDRTW_idAktifitas">@Html.Raw(subAktivitasNilaiSfbdrtwList.RenderFieldHeader(subAktivitasNilaiSfbdrtwList.idAktifitas))</div></th>
} @* subAktivitasNilaiSfbdrtwList.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwList.SFBD_KL_Obs.Visible) { // subAktivitasNilaiSfbdrtwList.SFBD_KL_Obs.Visible (begin)
        <th data-name="SFBD_KL_Obs" class="@(subAktivitasNilaiSfbdrtwList.SFBD_KL_Obs.HeaderCellClass)"><div id="elh_SubAktivitasNilaiSFBDRTW_SFBD_KL_Obs" class="SubAktivitasNilaiSFBDRTW_SFBD_KL_Obs">@Html.Raw(subAktivitasNilaiSfbdrtwList.RenderFieldHeader(subAktivitasNilaiSfbdrtwList.SFBD_KL_Obs))</div></th>
} @* subAktivitasNilaiSfbdrtwList.SFBD_KL_Obs.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwList.SFBD_KL_15.Visible) { // subAktivitasNilaiSfbdrtwList.SFBD_KL_15.Visible (begin)
        <th data-name="SFBD_KL_15" class="@(subAktivitasNilaiSfbdrtwList.SFBD_KL_15.HeaderCellClass)"><div id="elh_SubAktivitasNilaiSFBDRTW_SFBD_KL_15" class="SubAktivitasNilaiSFBDRTW_SFBD_KL_15">@Html.Raw(subAktivitasNilaiSfbdrtwList.RenderFieldHeader(subAktivitasNilaiSfbdrtwList.SFBD_KL_15))</div></th>
} @* subAktivitasNilaiSfbdrtwList.SFBD_KL_15.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwList.SFBD_Barrels.Visible) { // subAktivitasNilaiSfbdrtwList.SFBD_Barrels.Visible (begin)
        <th data-name="SFBD_Barrels" class="@(subAktivitasNilaiSfbdrtwList.SFBD_Barrels.HeaderCellClass)"><div id="elh_SubAktivitasNilaiSFBDRTW_SFBD_Barrels" class="SubAktivitasNilaiSFBDRTW_SFBD_Barrels">@Html.Raw(subAktivitasNilaiSfbdrtwList.RenderFieldHeader(subAktivitasNilaiSfbdrtwList.SFBD_Barrels))</div></th>
} @* subAktivitasNilaiSfbdrtwList.SFBD_Barrels.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwList.SFBD_LT.Visible) { // subAktivitasNilaiSfbdrtwList.SFBD_LT.Visible (begin)
        <th data-name="SFBD_LT" class="@(subAktivitasNilaiSfbdrtwList.SFBD_LT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiSFBDRTW_SFBD_LT" class="SubAktivitasNilaiSFBDRTW_SFBD_LT">@Html.Raw(subAktivitasNilaiSfbdrtwList.RenderFieldHeader(subAktivitasNilaiSfbdrtwList.SFBD_LT))</div></th>
} @* subAktivitasNilaiSfbdrtwList.SFBD_LT.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwList.SFBD_MT.Visible) { // subAktivitasNilaiSfbdrtwList.SFBD_MT.Visible (begin)
        <th data-name="SFBD_MT" class="@(subAktivitasNilaiSfbdrtwList.SFBD_MT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiSFBDRTW_SFBD_MT" class="SubAktivitasNilaiSFBDRTW_SFBD_MT">@Html.Raw(subAktivitasNilaiSfbdrtwList.RenderFieldHeader(subAktivitasNilaiSfbdrtwList.SFBD_MT))</div></th>
} @* subAktivitasNilaiSfbdrtwList.SFBD_MT.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwList.userInput.Visible) { // subAktivitasNilaiSfbdrtwList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasNilaiSfbdrtwList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasNilaiSFBDRTW_userInput" class="SubAktivitasNilaiSFBDRTW_userInput">@Html.Raw(subAktivitasNilaiSfbdrtwList.RenderFieldHeader(subAktivitasNilaiSfbdrtwList.userInput))</div></th>
} @* subAktivitasNilaiSfbdrtwList.userInput.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwList.etlDate.Visible) { // subAktivitasNilaiSfbdrtwList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasNilaiSfbdrtwList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiSFBDRTW_etlDate" class="SubAktivitasNilaiSFBDRTW_etlDate">@Html.Raw(subAktivitasNilaiSfbdrtwList.RenderFieldHeader(subAktivitasNilaiSfbdrtwList.etlDate))</div></th>
} @* subAktivitasNilaiSfbdrtwList.etlDate.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwList.LastUpdatedBy.Visible) { // subAktivitasNilaiSfbdrtwList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasNilaiSfbdrtwList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasNilaiSFBDRTW_LastUpdatedBy" class="SubAktivitasNilaiSFBDRTW_LastUpdatedBy">@Html.Raw(subAktivitasNilaiSfbdrtwList.RenderFieldHeader(subAktivitasNilaiSfbdrtwList.LastUpdatedBy))</div></th>
} @* subAktivitasNilaiSfbdrtwList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwList.lastUpdatedDate.Visible) { // subAktivitasNilaiSfbdrtwList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasNilaiSfbdrtwList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiSFBDRTW_lastUpdatedDate" class="SubAktivitasNilaiSFBDRTW_lastUpdatedDate">@Html.Raw(subAktivitasNilaiSfbdrtwList.RenderFieldHeader(subAktivitasNilaiSfbdrtwList.lastUpdatedDate))</div></th>
} @* subAktivitasNilaiSfbdrtwList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwList.NoReferensi.Visible) { // subAktivitasNilaiSfbdrtwList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasNilaiSfbdrtwList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasNilaiSFBDRTW_NoReferensi" class="SubAktivitasNilaiSFBDRTW_NoReferensi">@Html.Raw(subAktivitasNilaiSfbdrtwList.RenderFieldHeader(subAktivitasNilaiSfbdrtwList.NoReferensi))</div></th>
} @* subAktivitasNilaiSfbdrtwList.NoReferensi.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwList.idProses.Visible) { // subAktivitasNilaiSfbdrtwList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasNilaiSfbdrtwList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasNilaiSFBDRTW_idProses" class="SubAktivitasNilaiSFBDRTW_idProses">@Html.Raw(subAktivitasNilaiSfbdrtwList.RenderFieldHeader(subAktivitasNilaiSfbdrtwList.idProses))</div></th>
} @* subAktivitasNilaiSfbdrtwList.idProses.Visible (end) *@
@if (subAktivitasNilaiSfbdrtwList.StatusAktivitas.Visible) { // subAktivitasNilaiSfbdrtwList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasNilaiSfbdrtwList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiSFBDRTW_StatusAktivitas" class="SubAktivitasNilaiSFBDRTW_StatusAktivitas">@Html.Raw(subAktivitasNilaiSfbdrtwList.RenderFieldHeader(subAktivitasNilaiSfbdrtwList.StatusAktivitas))</div></th>
} @* subAktivitasNilaiSfbdrtwList.StatusAktivitas.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasNilaiSfbdrtwList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasNilaiSfbdrtwList.PageNumber)">
@{
    await subAktivitasNilaiSfbdrtwList.SetupGrid();
    bool eof = subAktivitasNilaiSfbdrtwList.Recordset == null; // DN
}
@while (subAktivitasNilaiSfbdrtwList.RecordCount < subAktivitasNilaiSfbdrtwList.StopRecord || SameString(subAktivitasNilaiSfbdrtwList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasNilaiSfbdrtwList.RowIndex, "$rowindex$") &&
        (!subAktivitasNilaiSfbdrtwList.IsGridAdd || subAktivitasNilaiSfbdrtwList.CurrentMode == "copy") &&
        (!((subAktivitasNilaiSfbdrtwList.IsCopy || subAktivitasNilaiSfbdrtwList.IsAdd) && subAktivitasNilaiSfbdrtwList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasNilaiSfbdrtwList.Recordset.ReadAsync();
    subAktivitasNilaiSfbdrtwList.RecordCount++;
    if (subAktivitasNilaiSfbdrtwList.RecordCount >= subAktivitasNilaiSfbdrtwList.StartRecord) {
        await subAktivitasNilaiSfbdrtwList.SetupRow();
    <tr @Html.Raw(subAktivitasNilaiSfbdrtwList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasNilaiSfbdrtwList.ListOptions.RenderBody("left", subAktivitasNilaiSfbdrtwList.RowCount)
    @if (subAktivitasNilaiSfbdrtwList.id.Visible) { // subAktivitasNilaiSfbdrtwList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasNilaiSfbdrtwList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiSfbdrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiSfbdrtwList.RowCount)_SubAktivitasNilaiSFBDRTW_id" class="el_SubAktivitasNilaiSFBDRTW_id">
<span @Html.Raw(subAktivitasNilaiSfbdrtwList.id.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiSfbdrtwList.id.Visible (end) *@
    @if (subAktivitasNilaiSfbdrtwList.idAktifitas.Visible) { // subAktivitasNilaiSfbdrtwList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasNilaiSfbdrtwList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiSfbdrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiSfbdrtwList.RowCount)_SubAktivitasNilaiSFBDRTW_idAktifitas" class="el_SubAktivitasNilaiSFBDRTW_idAktifitas">
<span @Html.Raw(subAktivitasNilaiSfbdrtwList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiSfbdrtwList.idAktifitas.Visible (end) *@
    @if (subAktivitasNilaiSfbdrtwList.SFBD_KL_Obs.Visible) { // subAktivitasNilaiSfbdrtwList.SFBD_KL_Obs.Visible (begin)
        <td data-name="SFBD_KL_Obs" @Html.Raw(subAktivitasNilaiSfbdrtwList.SFBD_KL_Obs.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiSfbdrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiSfbdrtwList.RowCount)_SubAktivitasNilaiSFBDRTW_SFBD_KL_Obs" class="el_SubAktivitasNilaiSFBDRTW_SFBD_KL_Obs">
<span @Html.Raw(subAktivitasNilaiSfbdrtwList.SFBD_KL_Obs.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwList.SFBD_KL_Obs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiSfbdrtwList.SFBD_KL_Obs.Visible (end) *@
    @if (subAktivitasNilaiSfbdrtwList.SFBD_KL_15.Visible) { // subAktivitasNilaiSfbdrtwList.SFBD_KL_15.Visible (begin)
        <td data-name="SFBD_KL_15" @Html.Raw(subAktivitasNilaiSfbdrtwList.SFBD_KL_15.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiSfbdrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiSfbdrtwList.RowCount)_SubAktivitasNilaiSFBDRTW_SFBD_KL_15" class="el_SubAktivitasNilaiSFBDRTW_SFBD_KL_15">
<span @Html.Raw(subAktivitasNilaiSfbdrtwList.SFBD_KL_15.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwList.SFBD_KL_15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiSfbdrtwList.SFBD_KL_15.Visible (end) *@
    @if (subAktivitasNilaiSfbdrtwList.SFBD_Barrels.Visible) { // subAktivitasNilaiSfbdrtwList.SFBD_Barrels.Visible (begin)
        <td data-name="SFBD_Barrels" @Html.Raw(subAktivitasNilaiSfbdrtwList.SFBD_Barrels.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiSfbdrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiSfbdrtwList.RowCount)_SubAktivitasNilaiSFBDRTW_SFBD_Barrels" class="el_SubAktivitasNilaiSFBDRTW_SFBD_Barrels">
<span @Html.Raw(subAktivitasNilaiSfbdrtwList.SFBD_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwList.SFBD_Barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiSfbdrtwList.SFBD_Barrels.Visible (end) *@
    @if (subAktivitasNilaiSfbdrtwList.SFBD_LT.Visible) { // subAktivitasNilaiSfbdrtwList.SFBD_LT.Visible (begin)
        <td data-name="SFBD_LT" @Html.Raw(subAktivitasNilaiSfbdrtwList.SFBD_LT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiSfbdrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiSfbdrtwList.RowCount)_SubAktivitasNilaiSFBDRTW_SFBD_LT" class="el_SubAktivitasNilaiSFBDRTW_SFBD_LT">
<span @Html.Raw(subAktivitasNilaiSfbdrtwList.SFBD_LT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwList.SFBD_LT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiSfbdrtwList.SFBD_LT.Visible (end) *@
    @if (subAktivitasNilaiSfbdrtwList.SFBD_MT.Visible) { // subAktivitasNilaiSfbdrtwList.SFBD_MT.Visible (begin)
        <td data-name="SFBD_MT" @Html.Raw(subAktivitasNilaiSfbdrtwList.SFBD_MT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiSfbdrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiSfbdrtwList.RowCount)_SubAktivitasNilaiSFBDRTW_SFBD_MT" class="el_SubAktivitasNilaiSFBDRTW_SFBD_MT">
<span @Html.Raw(subAktivitasNilaiSfbdrtwList.SFBD_MT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwList.SFBD_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiSfbdrtwList.SFBD_MT.Visible (end) *@
    @if (subAktivitasNilaiSfbdrtwList.userInput.Visible) { // subAktivitasNilaiSfbdrtwList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasNilaiSfbdrtwList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiSfbdrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiSfbdrtwList.RowCount)_SubAktivitasNilaiSFBDRTW_userInput" class="el_SubAktivitasNilaiSFBDRTW_userInput">
<span @Html.Raw(subAktivitasNilaiSfbdrtwList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiSfbdrtwList.userInput.Visible (end) *@
    @if (subAktivitasNilaiSfbdrtwList.etlDate.Visible) { // subAktivitasNilaiSfbdrtwList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasNilaiSfbdrtwList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiSfbdrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiSfbdrtwList.RowCount)_SubAktivitasNilaiSFBDRTW_etlDate" class="el_SubAktivitasNilaiSFBDRTW_etlDate">
<span @Html.Raw(subAktivitasNilaiSfbdrtwList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiSfbdrtwList.etlDate.Visible (end) *@
    @if (subAktivitasNilaiSfbdrtwList.LastUpdatedBy.Visible) { // subAktivitasNilaiSfbdrtwList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasNilaiSfbdrtwList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiSfbdrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiSfbdrtwList.RowCount)_SubAktivitasNilaiSFBDRTW_LastUpdatedBy" class="el_SubAktivitasNilaiSFBDRTW_LastUpdatedBy">
<span @Html.Raw(subAktivitasNilaiSfbdrtwList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiSfbdrtwList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasNilaiSfbdrtwList.lastUpdatedDate.Visible) { // subAktivitasNilaiSfbdrtwList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasNilaiSfbdrtwList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiSfbdrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiSfbdrtwList.RowCount)_SubAktivitasNilaiSFBDRTW_lastUpdatedDate" class="el_SubAktivitasNilaiSFBDRTW_lastUpdatedDate">
<span @Html.Raw(subAktivitasNilaiSfbdrtwList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiSfbdrtwList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasNilaiSfbdrtwList.NoReferensi.Visible) { // subAktivitasNilaiSfbdrtwList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasNilaiSfbdrtwList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiSfbdrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiSfbdrtwList.RowCount)_SubAktivitasNilaiSFBDRTW_NoReferensi" class="el_SubAktivitasNilaiSFBDRTW_NoReferensi">
<span @Html.Raw(subAktivitasNilaiSfbdrtwList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiSfbdrtwList.NoReferensi.Visible (end) *@
    @if (subAktivitasNilaiSfbdrtwList.idProses.Visible) { // subAktivitasNilaiSfbdrtwList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasNilaiSfbdrtwList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiSfbdrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiSfbdrtwList.RowCount)_SubAktivitasNilaiSFBDRTW_idProses" class="el_SubAktivitasNilaiSFBDRTW_idProses">
<span @Html.Raw(subAktivitasNilaiSfbdrtwList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiSfbdrtwList.idProses.Visible (end) *@
    @if (subAktivitasNilaiSfbdrtwList.StatusAktivitas.Visible) { // subAktivitasNilaiSfbdrtwList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasNilaiSfbdrtwList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiSfbdrtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiSfbdrtwList.RowCount)_SubAktivitasNilaiSFBDRTW_StatusAktivitas" class="el_SubAktivitasNilaiSFBDRTW_StatusAktivitas">
<span @Html.Raw(subAktivitasNilaiSfbdrtwList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiSfbdrtwList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiSfbdrtwList.StatusAktivitas.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasNilaiSfbdrtwList.ListOptions.RenderBody("right", subAktivitasNilaiSfbdrtwList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasNilaiSfbdrtwList.RowIndex, "$rowindex$"))
        subAktivitasNilaiSfbdrtwList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasNilaiSfbdrtwList.IsCopy || subAktivitasNilaiSfbdrtwList.IsAdd) && subAktivitasNilaiSfbdrtwList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasNilaiSfbdrtwList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasNilaiSfbdrtwList.CurrentAction) && !subAktivitasNilaiSfbdrtwList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasNilaiSfbdrtwList.CloseRecordset(); }
@if (!subAktivitasNilaiSfbdrtwList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasNilaiSfbdrtwList.IsGridAdd && !(subAktivitasNilaiSfbdrtwList.IsGridEdit && subAktivitasNilaiSfbdrtwList.ModalGridEdit) && !subAktivitasNilaiSfbdrtwList.IsMultiEdit) {
@Html.Raw(subAktivitasNilaiSfbdrtwList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasNilaiSfbdrtwList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasNilaiSfbdrtwList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasNilaiSfbdrtwList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasNilaiSfbdrtwList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasNilaiSfbdrtwList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasNilaiSFBDRTW");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
