@{
    // View
    View = this;

    // Check action result
    if (subAktivitasDataStopPembongkaranRtwList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasDataStopPembongkaranRtwList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasDataStopPembongkaranRtwList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataStopPembongkaranRtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataStopPembongkaranRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasDataStopPembongkaranRtwList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasDataStopPembongkaranRtwList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasDataStopPembongkaranRtwList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasDataStopPembongkaranRtwList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasDataStopPembongkaranRtwList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasDataStopPembongkaranRtwList.TotalRecords > 0 && subAktivitasDataStopPembongkaranRtwList.ExportOptions.Visible) {
    subAktivitasDataStopPembongkaranRtwList.ExportOptions.Render("body");
}
@if (subAktivitasDataStopPembongkaranRtwList.ImportOptions.Visible) {
    subAktivitasDataStopPembongkaranRtwList.ImportOptions.Render("body");
}
@if (subAktivitasDataStopPembongkaranRtwList.SearchOptions.Visible) {
    subAktivitasDataStopPembongkaranRtwList.SearchOptions.Render("body");
}
@if (subAktivitasDataStopPembongkaranRtwList.FilterOptions.Visible) {
    subAktivitasDataStopPembongkaranRtwList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasDataStopPembongkaranRtwList.IsModal) {
<form name="fSubAktivitasDataStopPembongkaranRTWsrch" id="fSubAktivitasDataStopPembongkaranRTWsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasDataStopPembongkaranRTWsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasDataStopPembongkaranRtwList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataStopPembongkaranRtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataStopPembongkaranRTW: currentTable } });
var currentForm;
var fSubAktivitasDataStopPembongkaranRTWsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasDataStopPembongkaranRTWsrch")
        .setPageId("list")
@if (subAktivitasDataStopPembongkaranRtwList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasDataStopPembongkaranRtwList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasDataStopPembongkaranRtwList.IsExport() && Empty(subAktivitasDataStopPembongkaranRtwList.CurrentAction) && subAktivitasDataStopPembongkaranRtwList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasDataStopPembongkaranRtwList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasDataStopPembongkaranRtwList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasDataStopPembongkaranRtwList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasDataStopPembongkaranRtwList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasDataStopPembongkaranRTWsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStopPembongkaranRtwList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasDataStopPembongkaranRTWsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStopPembongkaranRtwList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasDataStopPembongkaranRTWsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStopPembongkaranRtwList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasDataStopPembongkaranRTWsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasDataStopPembongkaranRtwList.ShowPageHeader()
@subAktivitasDataStopPembongkaranRtwList.ShowMessages()
<main class="list @(subAktivitasDataStopPembongkaranRtwList.TotalRecords == 0 && !subAktivitasDataStopPembongkaranRtwList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasDataStopPembongkaranRtwList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasDataStopPembongkaranRtwList.TotalRecords > 0 || !Empty(subAktivitasDataStopPembongkaranRtwList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasDataStopPembongkaranRtwList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasDataStopPembongkaranRtwList.TableGridClass)">
<form name="@(subAktivitasDataStopPembongkaranRtwList.FormName)" id="@(subAktivitasDataStopPembongkaranRtwList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasDataStopPembongkaranRtwList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasDataStopPembongkaranRtwList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasDataStopPembongkaranRTW" class="card-body ew-grid-middle-panel @(subAktivitasDataStopPembongkaranRtwList.TableContainerClass)" style="@(subAktivitasDataStopPembongkaranRtwList.TableContainerStyle)">
@if (subAktivitasDataStopPembongkaranRtwList.TotalRecords > 0 || subAktivitasDataStopPembongkaranRtwList.IsGridEdit || subAktivitasDataStopPembongkaranRtwList.IsMultiEdit) {
<table id="tbl_SubAktivitasDataStopPembongkaranRTWlist" class="@(subAktivitasDataStopPembongkaranRtwList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasDataStopPembongkaranRtwList.RowType = RowType.Header;

    // Render list options
    await subAktivitasDataStopPembongkaranRtwList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasDataStopPembongkaranRtwList.ListOptions.RenderHeader("left")
@if (subAktivitasDataStopPembongkaranRtwList.id.Visible) { // subAktivitasDataStopPembongkaranRtwList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasDataStopPembongkaranRtwList.id.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPembongkaranRTW_id" class="SubAktivitasDataStopPembongkaranRTW_id">@Html.Raw(subAktivitasDataStopPembongkaranRtwList.RenderFieldHeader(subAktivitasDataStopPembongkaranRtwList.id))</div></th>
} @* subAktivitasDataStopPembongkaranRtwList.id.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwList.NoReferensi.Visible) { // subAktivitasDataStopPembongkaranRtwList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasDataStopPembongkaranRtwList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPembongkaranRTW_NoReferensi" class="SubAktivitasDataStopPembongkaranRTW_NoReferensi">@Html.Raw(subAktivitasDataStopPembongkaranRtwList.RenderFieldHeader(subAktivitasDataStopPembongkaranRtwList.NoReferensi))</div></th>
} @* subAktivitasDataStopPembongkaranRtwList.NoReferensi.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwList.idProses.Visible) { // subAktivitasDataStopPembongkaranRtwList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasDataStopPembongkaranRtwList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPembongkaranRTW_idProses" class="SubAktivitasDataStopPembongkaranRTW_idProses">@Html.Raw(subAktivitasDataStopPembongkaranRtwList.RenderFieldHeader(subAktivitasDataStopPembongkaranRtwList.idProses))</div></th>
} @* subAktivitasDataStopPembongkaranRtwList.idProses.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwList.idAktifitas.Visible) { // subAktivitasDataStopPembongkaranRtwList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasDataStopPembongkaranRtwList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPembongkaranRTW_idAktifitas" class="SubAktivitasDataStopPembongkaranRTW_idAktifitas">@Html.Raw(subAktivitasDataStopPembongkaranRtwList.RenderFieldHeader(subAktivitasDataStopPembongkaranRtwList.idAktifitas))</div></th>
} @* subAktivitasDataStopPembongkaranRtwList.idAktifitas.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwList.StatusAktivitas.Visible) { // subAktivitasDataStopPembongkaranRtwList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasDataStopPembongkaranRtwList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPembongkaranRTW_StatusAktivitas" class="SubAktivitasDataStopPembongkaranRTW_StatusAktivitas">@Html.Raw(subAktivitasDataStopPembongkaranRtwList.RenderFieldHeader(subAktivitasDataStopPembongkaranRtwList.StatusAktivitas))</div></th>
} @* subAktivitasDataStopPembongkaranRtwList.StatusAktivitas.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwList.LastUpdatedBy.Visible) { // subAktivitasDataStopPembongkaranRtwList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasDataStopPembongkaranRtwList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPembongkaranRTW_LastUpdatedBy" class="SubAktivitasDataStopPembongkaranRTW_LastUpdatedBy">@Html.Raw(subAktivitasDataStopPembongkaranRtwList.RenderFieldHeader(subAktivitasDataStopPembongkaranRtwList.LastUpdatedBy))</div></th>
} @* subAktivitasDataStopPembongkaranRtwList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwList.lastUpdatedDate.Visible) { // subAktivitasDataStopPembongkaranRtwList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasDataStopPembongkaranRtwList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPembongkaranRTW_lastUpdatedDate" class="SubAktivitasDataStopPembongkaranRTW_lastUpdatedDate">@Html.Raw(subAktivitasDataStopPembongkaranRtwList.RenderFieldHeader(subAktivitasDataStopPembongkaranRtwList.lastUpdatedDate))</div></th>
} @* subAktivitasDataStopPembongkaranRtwList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwList.Tanggal.Visible) { // subAktivitasDataStopPembongkaranRtwList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasDataStopPembongkaranRtwList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPembongkaranRTW_Tanggal" class="SubAktivitasDataStopPembongkaranRTW_Tanggal">@Html.Raw(subAktivitasDataStopPembongkaranRtwList.RenderFieldHeader(subAktivitasDataStopPembongkaranRtwList.Tanggal))</div></th>
} @* subAktivitasDataStopPembongkaranRtwList.Tanggal.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwList.userInput.Visible) { // subAktivitasDataStopPembongkaranRtwList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasDataStopPembongkaranRtwList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPembongkaranRTW_userInput" class="SubAktivitasDataStopPembongkaranRTW_userInput">@Html.Raw(subAktivitasDataStopPembongkaranRtwList.RenderFieldHeader(subAktivitasDataStopPembongkaranRtwList.userInput))</div></th>
} @* subAktivitasDataStopPembongkaranRtwList.userInput.Visible (end) *@
@if (subAktivitasDataStopPembongkaranRtwList.etlDate.Visible) { // subAktivitasDataStopPembongkaranRtwList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasDataStopPembongkaranRtwList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPembongkaranRTW_etlDate" class="SubAktivitasDataStopPembongkaranRTW_etlDate">@Html.Raw(subAktivitasDataStopPembongkaranRtwList.RenderFieldHeader(subAktivitasDataStopPembongkaranRtwList.etlDate))</div></th>
} @* subAktivitasDataStopPembongkaranRtwList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasDataStopPembongkaranRtwList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasDataStopPembongkaranRtwList.PageNumber)">
@{
    await subAktivitasDataStopPembongkaranRtwList.SetupGrid();
    bool eof = subAktivitasDataStopPembongkaranRtwList.Recordset == null; // DN
}
@while (subAktivitasDataStopPembongkaranRtwList.RecordCount < subAktivitasDataStopPembongkaranRtwList.StopRecord || SameString(subAktivitasDataStopPembongkaranRtwList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasDataStopPembongkaranRtwList.RowIndex, "$rowindex$") &&
        (!subAktivitasDataStopPembongkaranRtwList.IsGridAdd || subAktivitasDataStopPembongkaranRtwList.CurrentMode == "copy") &&
        (!((subAktivitasDataStopPembongkaranRtwList.IsCopy || subAktivitasDataStopPembongkaranRtwList.IsAdd) && subAktivitasDataStopPembongkaranRtwList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasDataStopPembongkaranRtwList.Recordset.ReadAsync();
    subAktivitasDataStopPembongkaranRtwList.RecordCount++;
    if (subAktivitasDataStopPembongkaranRtwList.RecordCount >= subAktivitasDataStopPembongkaranRtwList.StartRecord) {
        await subAktivitasDataStopPembongkaranRtwList.SetupRow();
    <tr @Html.Raw(subAktivitasDataStopPembongkaranRtwList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasDataStopPembongkaranRtwList.ListOptions.RenderBody("left", subAktivitasDataStopPembongkaranRtwList.RowCount)
    @if (subAktivitasDataStopPembongkaranRtwList.id.Visible) { // subAktivitasDataStopPembongkaranRtwList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasDataStopPembongkaranRtwList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStopPembongkaranRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStopPembongkaranRtwList.RowCount)_SubAktivitasDataStopPembongkaranRTW_id" class="el_SubAktivitasDataStopPembongkaranRTW_id">
<span @Html.Raw(subAktivitasDataStopPembongkaranRtwList.id.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranRtwList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPembongkaranRtwList.id.Visible (end) *@
    @if (subAktivitasDataStopPembongkaranRtwList.NoReferensi.Visible) { // subAktivitasDataStopPembongkaranRtwList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasDataStopPembongkaranRtwList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStopPembongkaranRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStopPembongkaranRtwList.RowCount)_SubAktivitasDataStopPembongkaranRTW_NoReferensi" class="el_SubAktivitasDataStopPembongkaranRTW_NoReferensi">
<span @Html.Raw(subAktivitasDataStopPembongkaranRtwList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranRtwList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPembongkaranRtwList.NoReferensi.Visible (end) *@
    @if (subAktivitasDataStopPembongkaranRtwList.idProses.Visible) { // subAktivitasDataStopPembongkaranRtwList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasDataStopPembongkaranRtwList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStopPembongkaranRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStopPembongkaranRtwList.RowCount)_SubAktivitasDataStopPembongkaranRTW_idProses" class="el_SubAktivitasDataStopPembongkaranRTW_idProses">
<span @Html.Raw(subAktivitasDataStopPembongkaranRtwList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranRtwList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPembongkaranRtwList.idProses.Visible (end) *@
    @if (subAktivitasDataStopPembongkaranRtwList.idAktifitas.Visible) { // subAktivitasDataStopPembongkaranRtwList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasDataStopPembongkaranRtwList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStopPembongkaranRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStopPembongkaranRtwList.RowCount)_SubAktivitasDataStopPembongkaranRTW_idAktifitas" class="el_SubAktivitasDataStopPembongkaranRTW_idAktifitas">
<span @Html.Raw(subAktivitasDataStopPembongkaranRtwList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranRtwList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPembongkaranRtwList.idAktifitas.Visible (end) *@
    @if (subAktivitasDataStopPembongkaranRtwList.StatusAktivitas.Visible) { // subAktivitasDataStopPembongkaranRtwList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasDataStopPembongkaranRtwList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStopPembongkaranRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStopPembongkaranRtwList.RowCount)_SubAktivitasDataStopPembongkaranRTW_StatusAktivitas" class="el_SubAktivitasDataStopPembongkaranRTW_StatusAktivitas">
<span @Html.Raw(subAktivitasDataStopPembongkaranRtwList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranRtwList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPembongkaranRtwList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasDataStopPembongkaranRtwList.LastUpdatedBy.Visible) { // subAktivitasDataStopPembongkaranRtwList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasDataStopPembongkaranRtwList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStopPembongkaranRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStopPembongkaranRtwList.RowCount)_SubAktivitasDataStopPembongkaranRTW_LastUpdatedBy" class="el_SubAktivitasDataStopPembongkaranRTW_LastUpdatedBy">
<span @Html.Raw(subAktivitasDataStopPembongkaranRtwList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranRtwList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPembongkaranRtwList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasDataStopPembongkaranRtwList.lastUpdatedDate.Visible) { // subAktivitasDataStopPembongkaranRtwList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasDataStopPembongkaranRtwList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStopPembongkaranRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStopPembongkaranRtwList.RowCount)_SubAktivitasDataStopPembongkaranRTW_lastUpdatedDate" class="el_SubAktivitasDataStopPembongkaranRTW_lastUpdatedDate">
<span @Html.Raw(subAktivitasDataStopPembongkaranRtwList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranRtwList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPembongkaranRtwList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasDataStopPembongkaranRtwList.Tanggal.Visible) { // subAktivitasDataStopPembongkaranRtwList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasDataStopPembongkaranRtwList.Tanggal.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStopPembongkaranRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStopPembongkaranRtwList.RowCount)_SubAktivitasDataStopPembongkaranRTW_Tanggal" class="el_SubAktivitasDataStopPembongkaranRTW_Tanggal">
<span @Html.Raw(subAktivitasDataStopPembongkaranRtwList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranRtwList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPembongkaranRtwList.Tanggal.Visible (end) *@
    @if (subAktivitasDataStopPembongkaranRtwList.userInput.Visible) { // subAktivitasDataStopPembongkaranRtwList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasDataStopPembongkaranRtwList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStopPembongkaranRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStopPembongkaranRtwList.RowCount)_SubAktivitasDataStopPembongkaranRTW_userInput" class="el_SubAktivitasDataStopPembongkaranRTW_userInput">
<span @Html.Raw(subAktivitasDataStopPembongkaranRtwList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranRtwList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPembongkaranRtwList.userInput.Visible (end) *@
    @if (subAktivitasDataStopPembongkaranRtwList.etlDate.Visible) { // subAktivitasDataStopPembongkaranRtwList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasDataStopPembongkaranRtwList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasDataStopPembongkaranRtwList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasDataStopPembongkaranRtwList.RowCount)_SubAktivitasDataStopPembongkaranRTW_etlDate" class="el_SubAktivitasDataStopPembongkaranRTW_etlDate">
<span @Html.Raw(subAktivitasDataStopPembongkaranRtwList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPembongkaranRtwList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPembongkaranRtwList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasDataStopPembongkaranRtwList.ListOptions.RenderBody("right", subAktivitasDataStopPembongkaranRtwList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasDataStopPembongkaranRtwList.RowIndex, "$rowindex$"))
        subAktivitasDataStopPembongkaranRtwList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasDataStopPembongkaranRtwList.IsCopy || subAktivitasDataStopPembongkaranRtwList.IsAdd) && subAktivitasDataStopPembongkaranRtwList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasDataStopPembongkaranRtwList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasDataStopPembongkaranRtwList.CurrentAction) && !subAktivitasDataStopPembongkaranRtwList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasDataStopPembongkaranRtwList.CloseRecordset(); }
@if (!subAktivitasDataStopPembongkaranRtwList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasDataStopPembongkaranRtwList.IsGridAdd && !(subAktivitasDataStopPembongkaranRtwList.IsGridEdit && subAktivitasDataStopPembongkaranRtwList.ModalGridEdit) && !subAktivitasDataStopPembongkaranRtwList.IsMultiEdit) {
@Html.Raw(subAktivitasDataStopPembongkaranRtwList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasDataStopPembongkaranRtwList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasDataStopPembongkaranRtwList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasDataStopPembongkaranRtwList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasDataStopPembongkaranRtwList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasDataStopPembongkaranRtwList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasDataStopPembongkaranRTW");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
