@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputHslPemeriksaanView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputHslPemeriksaanView.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputHslPemeriksaanView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @subAktivitasFormInputHslPemeriksaanView.ExportOptions.RenderBody()
    @subAktivitasFormInputHslPemeriksaanView.OtherOptions.RenderBody()
</div>
}
@subAktivitasFormInputHslPemeriksaanView.ShowPageHeader()
@subAktivitasFormInputHslPemeriksaanView.ShowMessages()
<main class="view">
<form name="fSubAktivitasFormInputHslPemeriksaanview" id="fSubAktivitasFormInputHslPemeriksaanview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!subAktivitasFormInputHslPemeriksaanView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputHslPemeriksaanView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputHslPemeriksaan: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fSubAktivitasFormInputHslPemeriksaanview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputHslPemeriksaanview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputHslPemeriksaanView.IsModal)">
<table class="@(subAktivitasFormInputHslPemeriksaanView.TableClass)">
@if (subAktivitasFormInputHslPemeriksaanView.id.Visible) { // subAktivitasFormInputHslPemeriksaanView.id.Visible (begin)
    <tr id="r_id" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.id.RowAttributes)>
        <td class="@(subAktivitasFormInputHslPemeriksaanView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_id">@Html.Raw(subAktivitasFormInputHslPemeriksaanView.id.Caption)</span></td>
        <td data-name="id" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.id.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_id">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanView.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanView.id.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputHslPemeriksaanView.id.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanView.idAktifitas.Visible) { // subAktivitasFormInputHslPemeriksaanView.idAktifitas.Visible (begin)
    <tr id="r_idAktifitas" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.idAktifitas.RowAttributes)>
        <td class="@(subAktivitasFormInputHslPemeriksaanView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_idAktifitas">@Html.Raw(subAktivitasFormInputHslPemeriksaanView.idAktifitas.Caption)</span></td>
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_idAktifitas">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanView.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanView.idAktifitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputHslPemeriksaanView.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanView.idProses.Visible) { // subAktivitasFormInputHslPemeriksaanView.idProses.Visible (begin)
    <tr id="r_idProses" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.idProses.RowAttributes)>
        <td class="@(subAktivitasFormInputHslPemeriksaanView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_idProses">@Html.Raw(subAktivitasFormInputHslPemeriksaanView.idProses.Caption)</span></td>
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_idProses">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanView.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanView.idProses.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputHslPemeriksaanView.idProses.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanView.NoReferensi.Visible) { // subAktivitasFormInputHslPemeriksaanView.NoReferensi.Visible (begin)
    <tr id="r_NoReferensi" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.NoReferensi.RowAttributes)>
        <td class="@(subAktivitasFormInputHslPemeriksaanView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_NoReferensi">@Html.Raw(subAktivitasFormInputHslPemeriksaanView.NoReferensi.Caption)</span></td>
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_NoReferensi">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanView.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanView.NoReferensi.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputHslPemeriksaanView.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanView.Tanggal.Visible) { // subAktivitasFormInputHslPemeriksaanView.Tanggal.Visible (begin)
    <tr id="r_Tanggal" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.Tanggal.RowAttributes)>
        <td class="@(subAktivitasFormInputHslPemeriksaanView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_Tanggal">@Html.Raw(subAktivitasFormInputHslPemeriksaanView.Tanggal.Caption)</span></td>
        <td data-name="Tanggal" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.Tanggal.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_Tanggal">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanView.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanView.Tanggal.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputHslPemeriksaanView.Tanggal.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanView.NamaKegiatan.Visible) { // subAktivitasFormInputHslPemeriksaanView.NamaKegiatan.Visible (begin)
    <tr id="r_NamaKegiatan" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.NamaKegiatan.RowAttributes)>
        <td class="@(subAktivitasFormInputHslPemeriksaanView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_NamaKegiatan">@Html.Raw(subAktivitasFormInputHslPemeriksaanView.NamaKegiatan.Caption)</span></td>
        <td data-name="NamaKegiatan" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.NamaKegiatan.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_NamaKegiatan">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanView.NamaKegiatan.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanView.NamaKegiatan.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputHslPemeriksaanView.NamaKegiatan.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanView.Produk.Visible) { // subAktivitasFormInputHslPemeriksaanView.Produk.Visible (begin)
    <tr id="r_Produk" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.Produk.RowAttributes)>
        <td class="@(subAktivitasFormInputHslPemeriksaanView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_Produk">@Html.Raw(subAktivitasFormInputHslPemeriksaanView.Produk.Caption)</span></td>
        <td data-name="Produk" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.Produk.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_Produk">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanView.Produk.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanView.Produk.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputHslPemeriksaanView.Produk.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanView.Density.Visible) { // subAktivitasFormInputHslPemeriksaanView.Density.Visible (begin)
    <tr id="r_Density" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.Density.RowAttributes)>
        <td class="@(subAktivitasFormInputHslPemeriksaanView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_Density">@Html.Raw(subAktivitasFormInputHslPemeriksaanView.Density.Caption)</span></td>
        <td data-name="Density" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.Density.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_Density">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanView.Density.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanView.Density.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputHslPemeriksaanView.Density.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanView.Temperature.Visible) { // subAktivitasFormInputHslPemeriksaanView.Temperature.Visible (begin)
    <tr id="r_Temperature" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.Temperature.RowAttributes)>
        <td class="@(subAktivitasFormInputHslPemeriksaanView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_Temperature">@Html.Raw(subAktivitasFormInputHslPemeriksaanView.Temperature.Caption)</span></td>
        <td data-name="Temperature" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.Temperature.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_Temperature">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanView.Temperature.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanView.Temperature.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputHslPemeriksaanView.Temperature.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanView.Pressure.Visible) { // subAktivitasFormInputHslPemeriksaanView.Pressure.Visible (begin)
    <tr id="r_Pressure" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.Pressure.RowAttributes)>
        <td class="@(subAktivitasFormInputHslPemeriksaanView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_Pressure">@Html.Raw(subAktivitasFormInputHslPemeriksaanView.Pressure.Caption)</span></td>
        <td data-name="Pressure" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.Pressure.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_Pressure">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanView.Pressure.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanView.Pressure.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputHslPemeriksaanView.Pressure.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanView.Keterangan.Visible) { // subAktivitasFormInputHslPemeriksaanView.Keterangan.Visible (begin)
    <tr id="r_Keterangan" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.Keterangan.RowAttributes)>
        <td class="@(subAktivitasFormInputHslPemeriksaanView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_Keterangan">@Html.Raw(subAktivitasFormInputHslPemeriksaanView.Keterangan.Caption)</span></td>
        <td data-name="Keterangan" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.Keterangan.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_Keterangan">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanView.Keterangan.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanView.Keterangan.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputHslPemeriksaanView.Keterangan.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanView.userInput.Visible) { // subAktivitasFormInputHslPemeriksaanView.userInput.Visible (begin)
    <tr id="r_userInput" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.userInput.RowAttributes)>
        <td class="@(subAktivitasFormInputHslPemeriksaanView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_userInput">@Html.Raw(subAktivitasFormInputHslPemeriksaanView.userInput.Caption)</span></td>
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_userInput">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanView.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanView.userInput.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputHslPemeriksaanView.userInput.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanView.etlDate.Visible) { // subAktivitasFormInputHslPemeriksaanView.etlDate.Visible (begin)
    <tr id="r_etlDate" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.etlDate.RowAttributes)>
        <td class="@(subAktivitasFormInputHslPemeriksaanView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_etlDate">@Html.Raw(subAktivitasFormInputHslPemeriksaanView.etlDate.Caption)</span></td>
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_etlDate">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanView.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanView.etlDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputHslPemeriksaanView.etlDate.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanView.LastUpdatedBy.Visible) { // subAktivitasFormInputHslPemeriksaanView.LastUpdatedBy.Visible (begin)
    <tr id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.LastUpdatedBy.RowAttributes)>
        <td class="@(subAktivitasFormInputHslPemeriksaanView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_LastUpdatedBy">@Html.Raw(subAktivitasFormInputHslPemeriksaanView.LastUpdatedBy.Caption)</span></td>
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanView.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanView.LastUpdatedBy.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputHslPemeriksaanView.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanView.lastUpdatedDate.Visible) { // subAktivitasFormInputHslPemeriksaanView.lastUpdatedDate.Visible (begin)
    <tr id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.lastUpdatedDate.RowAttributes)>
        <td class="@(subAktivitasFormInputHslPemeriksaanView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_lastUpdatedDate">@Html.Raw(subAktivitasFormInputHslPemeriksaanView.lastUpdatedDate.Caption)</span></td>
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanView.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanView.lastUpdatedDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputHslPemeriksaanView.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanView.TanggalJamSOP.Visible) { // subAktivitasFormInputHslPemeriksaanView.TanggalJamSOP.Visible (begin)
    <tr id="r_TanggalJamSOP" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.TanggalJamSOP.RowAttributes)>
        <td class="@(subAktivitasFormInputHslPemeriksaanView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_TanggalJamSOP">@Html.Raw(subAktivitasFormInputHslPemeriksaanView.TanggalJamSOP.Caption)</span></td>
        <td data-name="TanggalJamSOP" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.TanggalJamSOP.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_TanggalJamSOP">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanView.TanggalJamSOP.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanView.TanggalJamSOP.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputHslPemeriksaanView.TanggalJamSOP.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanView.SelisihWaktu.Visible) { // subAktivitasFormInputHslPemeriksaanView.SelisihWaktu.Visible (begin)
    <tr id="r_SelisihWaktu" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.SelisihWaktu.RowAttributes)>
        <td class="@(subAktivitasFormInputHslPemeriksaanView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_SelisihWaktu">@Html.Raw(subAktivitasFormInputHslPemeriksaanView.SelisihWaktu.Caption)</span></td>
        <td data-name="SelisihWaktu" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.SelisihWaktu.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_SelisihWaktu">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanView.SelisihWaktu.ViewAttributes)>
@Html.Raw(subAktivitasFormInputHslPemeriksaanView.SelisihWaktu.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputHslPemeriksaanView.SelisihWaktu.Visible (end) *@
@if (subAktivitasFormInputHslPemeriksaanView.IsQualityActive.Visible) { // subAktivitasFormInputHslPemeriksaanView.IsQualityActive.Visible (begin)
    <tr id="r_IsQualityActive" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.IsQualityActive.RowAttributes)>
        <td class="@(subAktivitasFormInputHslPemeriksaanView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputHslPemeriksaan_IsQualityActive">@Html.Raw(subAktivitasFormInputHslPemeriksaanView.IsQualityActive.Caption)</span></td>
        <td data-name="IsQualityActive" @Html.Raw(subAktivitasFormInputHslPemeriksaanView.IsQualityActive.CellAttributes)>
<span id="el_SubAktivitasFormInputHslPemeriksaan_IsQualityActive">
<span @Html.Raw(subAktivitasFormInputHslPemeriksaanView.IsQualityActive.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(subAktivitasFormInputHslPemeriksaanView.IsQualityActive.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span></td>
    </tr>
} @* subAktivitasFormInputHslPemeriksaanView.IsQualityActive.Visible (end) *@
</table>
@{ subAktivitasFormInputHslPemeriksaanView.CloseRecordset(); }
</form>
</main>
@subAktivitasFormInputHslPemeriksaanView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputHslPemeriksaanView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
