@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputDataStopPembongkaranDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputDataStopPembongkaranDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputDataStopPembongkaranDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputDataStopPembongkaran: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fSubAktivitasFormInputDataStopPembongkarandelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputDataStopPembongkarandelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@subAktivitasFormInputDataStopPembongkaranDelete.ShowPageHeader()
@subAktivitasFormInputDataStopPembongkaranDelete.ShowMessages()
<form name="fSubAktivitasFormInputDataStopPembongkarandelete" id="fSubAktivitasFormInputDataStopPembongkarandelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in subAktivitasFormInputDataStopPembongkaranDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(subAktivitasFormInputDataStopPembongkaranDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(subAktivitasFormInputDataStopPembongkaranDelete.TableContainerClass)" style="@(subAktivitasFormInputDataStopPembongkaranDelete.TableContainerStyle)">
<table class="@(subAktivitasFormInputDataStopPembongkaranDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (subAktivitasFormInputDataStopPembongkaranDelete.id.Visible) { // subAktivitasFormInputDataStopPembongkaranDelete.id.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.id.HeaderCellClass)"><span id="elh_SubAktivitasFormInputDataStopPembongkaran_id" class="SubAktivitasFormInputDataStopPembongkaran_id">@Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.id.Caption)</span></th>
} @* subAktivitasFormInputDataStopPembongkaranDelete.id.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranDelete.NoReferensi.Visible) { // subAktivitasFormInputDataStopPembongkaranDelete.NoReferensi.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.NoReferensi.HeaderCellClass)"><span id="elh_SubAktivitasFormInputDataStopPembongkaran_NoReferensi" class="SubAktivitasFormInputDataStopPembongkaran_NoReferensi">@Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.NoReferensi.Caption)</span></th>
} @* subAktivitasFormInputDataStopPembongkaranDelete.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranDelete.idProses.Visible) { // subAktivitasFormInputDataStopPembongkaranDelete.idProses.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.idProses.HeaderCellClass)"><span id="elh_SubAktivitasFormInputDataStopPembongkaran_idProses" class="SubAktivitasFormInputDataStopPembongkaran_idProses">@Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.idProses.Caption)</span></th>
} @* subAktivitasFormInputDataStopPembongkaranDelete.idProses.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranDelete.idAktifitas.Visible) { // subAktivitasFormInputDataStopPembongkaranDelete.idAktifitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.idAktifitas.HeaderCellClass)"><span id="elh_SubAktivitasFormInputDataStopPembongkaran_idAktifitas" class="SubAktivitasFormInputDataStopPembongkaran_idAktifitas">@Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.idAktifitas.Caption)</span></th>
} @* subAktivitasFormInputDataStopPembongkaranDelete.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranDelete.StatusAktivitas.Visible) { // subAktivitasFormInputDataStopPembongkaranDelete.StatusAktivitas.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.StatusAktivitas.HeaderCellClass)"><span id="elh_SubAktivitasFormInputDataStopPembongkaran_StatusAktivitas" class="SubAktivitasFormInputDataStopPembongkaran_StatusAktivitas">@Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.StatusAktivitas.Caption)</span></th>
} @* subAktivitasFormInputDataStopPembongkaranDelete.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranDelete.LastUpdatedBy.Visible) { // subAktivitasFormInputDataStopPembongkaranDelete.LastUpdatedBy.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.LastUpdatedBy.HeaderCellClass)"><span id="elh_SubAktivitasFormInputDataStopPembongkaran_LastUpdatedBy" class="SubAktivitasFormInputDataStopPembongkaran_LastUpdatedBy">@Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.LastUpdatedBy.Caption)</span></th>
} @* subAktivitasFormInputDataStopPembongkaranDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranDelete.lastUpdatedDate.Visible) { // subAktivitasFormInputDataStopPembongkaranDelete.lastUpdatedDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.lastUpdatedDate.HeaderCellClass)"><span id="elh_SubAktivitasFormInputDataStopPembongkaran_lastUpdatedDate" class="SubAktivitasFormInputDataStopPembongkaran_lastUpdatedDate">@Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.lastUpdatedDate.Caption)</span></th>
} @* subAktivitasFormInputDataStopPembongkaranDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranDelete.Tanggal.Visible) { // subAktivitasFormInputDataStopPembongkaranDelete.Tanggal.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.Tanggal.HeaderCellClass)"><span id="elh_SubAktivitasFormInputDataStopPembongkaran_Tanggal" class="SubAktivitasFormInputDataStopPembongkaran_Tanggal">@Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.Tanggal.Caption)</span></th>
} @* subAktivitasFormInputDataStopPembongkaranDelete.Tanggal.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranDelete.userInput.Visible) { // subAktivitasFormInputDataStopPembongkaranDelete.userInput.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.userInput.HeaderCellClass)"><span id="elh_SubAktivitasFormInputDataStopPembongkaran_userInput" class="SubAktivitasFormInputDataStopPembongkaran_userInput">@Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.userInput.Caption)</span></th>
} @* subAktivitasFormInputDataStopPembongkaranDelete.userInput.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranDelete.etlDate.Visible) { // subAktivitasFormInputDataStopPembongkaranDelete.etlDate.Visible (begin)
        <th class="@Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.etlDate.HeaderCellClass)"><span id="elh_SubAktivitasFormInputDataStopPembongkaran_etlDate" class="SubAktivitasFormInputDataStopPembongkaran_etlDate">@Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.etlDate.Caption)</span></th>
} @* subAktivitasFormInputDataStopPembongkaranDelete.etlDate.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ subAktivitasFormInputDataStopPembongkaranDelete.RecordCount = 0; }
@while (subAktivitasFormInputDataStopPembongkaranDelete.Recordset != null && await subAktivitasFormInputDataStopPembongkaranDelete.Recordset.ReadAsync()) { // DN
    subAktivitasFormInputDataStopPembongkaranDelete.RecordCount++;
    subAktivitasFormInputDataStopPembongkaranDelete.RowCount++;

    // Set row properties
    subAktivitasFormInputDataStopPembongkaranDelete.ResetAttributes();
    subAktivitasFormInputDataStopPembongkaranDelete.RowType = RowType.View; // View

    // Get the field contents
    await subAktivitasFormInputDataStopPembongkaranDelete.LoadRowValues(subAktivitasFormInputDataStopPembongkaranDelete.Recordset);

    // Render row
    await subAktivitasFormInputDataStopPembongkaranDelete.RenderRow();
    <tr @Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.RowAttributes)>
@if (subAktivitasFormInputDataStopPembongkaranDelete.id.Visible) { // subAktivitasFormInputDataStopPembongkaranDelete.id.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.id.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.id.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputDataStopPembongkaranDelete.id.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranDelete.NoReferensi.Visible) { // subAktivitasFormInputDataStopPembongkaranDelete.NoReferensi.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.NoReferensi.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.NoReferensi.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputDataStopPembongkaranDelete.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranDelete.idProses.Visible) { // subAktivitasFormInputDataStopPembongkaranDelete.idProses.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.idProses.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.idProses.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputDataStopPembongkaranDelete.idProses.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranDelete.idAktifitas.Visible) { // subAktivitasFormInputDataStopPembongkaranDelete.idAktifitas.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.idAktifitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.idAktifitas.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputDataStopPembongkaranDelete.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranDelete.StatusAktivitas.Visible) { // subAktivitasFormInputDataStopPembongkaranDelete.StatusAktivitas.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.StatusAktivitas.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.StatusAktivitas.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputDataStopPembongkaranDelete.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranDelete.LastUpdatedBy.Visible) { // subAktivitasFormInputDataStopPembongkaranDelete.LastUpdatedBy.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.LastUpdatedBy.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.LastUpdatedBy.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputDataStopPembongkaranDelete.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranDelete.lastUpdatedDate.Visible) { // subAktivitasFormInputDataStopPembongkaranDelete.lastUpdatedDate.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.lastUpdatedDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.lastUpdatedDate.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputDataStopPembongkaranDelete.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranDelete.Tanggal.Visible) { // subAktivitasFormInputDataStopPembongkaranDelete.Tanggal.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.Tanggal.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.Tanggal.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputDataStopPembongkaranDelete.Tanggal.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranDelete.userInput.Visible) { // subAktivitasFormInputDataStopPembongkaranDelete.userInput.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.userInput.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.userInput.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputDataStopPembongkaranDelete.userInput.Visible (end) *@
@if (subAktivitasFormInputDataStopPembongkaranDelete.etlDate.Visible) { // subAktivitasFormInputDataStopPembongkaranDelete.etlDate.Visible (begin)
        <td @Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.etlDate.CellAttributes)>
<span id="">
<span @Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputDataStopPembongkaranDelete.etlDate.GetViewValue())</span>
</span></td>
} @* subAktivitasFormInputDataStopPembongkaranDelete.etlDate.Visible (end) *@
    </tr>
}
@{ subAktivitasFormInputDataStopPembongkaranDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(subAktivitasFormInputDataStopPembongkaranDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@subAktivitasFormInputDataStopPembongkaranDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
