@{
    // View
    View = this;

    // Check action result
    if (subAktivitasKeberangkatanKapalPenyaluranLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasKeberangkatanKapalPenyaluranLpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasKeberangkatanKapalPenyaluranLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasKeberangkatanKapalPenyaluranLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasKeberangkatanKapalPenyaluranLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasKeberangkatanKapalPenyaluranLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasKeberangkatanKapalPenyaluranLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasKeberangkatanKapalPenyaluranLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasKeberangkatanKapalPenyaluranLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasKeberangkatanKapalPenyaluranLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasKeberangkatanKapalPenyaluranLpgList.TotalRecords > 0 && subAktivitasKeberangkatanKapalPenyaluranLpgList.ExportOptions.Visible) {
    subAktivitasKeberangkatanKapalPenyaluranLpgList.ExportOptions.Render("body");
}
@if (subAktivitasKeberangkatanKapalPenyaluranLpgList.ImportOptions.Visible) {
    subAktivitasKeberangkatanKapalPenyaluranLpgList.ImportOptions.Render("body");
}
@if (subAktivitasKeberangkatanKapalPenyaluranLpgList.SearchOptions.Visible) {
    subAktivitasKeberangkatanKapalPenyaluranLpgList.SearchOptions.Render("body");
}
@if (subAktivitasKeberangkatanKapalPenyaluranLpgList.FilterOptions.Visible) {
    subAktivitasKeberangkatanKapalPenyaluranLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasKeberangkatanKapalPenyaluranLpgList.IsModal) {
<form name="fSubAktivitasKeberangkatanKapalPenyaluranLPGsrch" id="fSubAktivitasKeberangkatanKapalPenyaluranLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasKeberangkatanKapalPenyaluranLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasKeberangkatanKapalPenyaluranLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasKeberangkatanKapalPenyaluranLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasKeberangkatanKapalPenyaluranLPG: currentTable } });
var currentForm;
var fSubAktivitasKeberangkatanKapalPenyaluranLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasKeberangkatanKapalPenyaluranLPGsrch")
        .setPageId("list")
@if (subAktivitasKeberangkatanKapalPenyaluranLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasKeberangkatanKapalPenyaluranLpgList.IsExport() && Empty(subAktivitasKeberangkatanKapalPenyaluranLpgList.CurrentAction) && subAktivitasKeberangkatanKapalPenyaluranLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasKeberangkatanKapalPenyaluranLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasKeberangkatanKapalPenyaluranLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasKeberangkatanKapalPenyaluranLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasKeberangkatanKapalPenyaluranLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasKeberangkatanKapalPenyaluranLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasKeberangkatanKapalPenyaluranLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasKeberangkatanKapalPenyaluranLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasKeberangkatanKapalPenyaluranLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasKeberangkatanKapalPenyaluranLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasKeberangkatanKapalPenyaluranLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasKeberangkatanKapalPenyaluranLpgList.ShowPageHeader()
@subAktivitasKeberangkatanKapalPenyaluranLpgList.ShowMessages()
<main class="list @(subAktivitasKeberangkatanKapalPenyaluranLpgList.TotalRecords == 0 && !subAktivitasKeberangkatanKapalPenyaluranLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasKeberangkatanKapalPenyaluranLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasKeberangkatanKapalPenyaluranLpgList.TotalRecords > 0 || !Empty(subAktivitasKeberangkatanKapalPenyaluranLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasKeberangkatanKapalPenyaluranLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasKeberangkatanKapalPenyaluranLpgList.TableGridClass)">
<form name="@(subAktivitasKeberangkatanKapalPenyaluranLpgList.FormName)" id="@(subAktivitasKeberangkatanKapalPenyaluranLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasKeberangkatanKapalPenyaluranLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasKeberangkatanKapalPenyaluranLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasKeberangkatanKapalPenyaluranLPG" class="card-body ew-grid-middle-panel @(subAktivitasKeberangkatanKapalPenyaluranLpgList.TableContainerClass)" style="@(subAktivitasKeberangkatanKapalPenyaluranLpgList.TableContainerStyle)">
@if (subAktivitasKeberangkatanKapalPenyaluranLpgList.TotalRecords > 0 || subAktivitasKeberangkatanKapalPenyaluranLpgList.IsGridEdit || subAktivitasKeberangkatanKapalPenyaluranLpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasKeberangkatanKapalPenyaluranLPGlist" class="@(subAktivitasKeberangkatanKapalPenyaluranLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasKeberangkatanKapalPenyaluranLpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasKeberangkatanKapalPenyaluranLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasKeberangkatanKapalPenyaluranLpgList.ListOptions.RenderHeader("left")
@if (subAktivitasKeberangkatanKapalPenyaluranLpgList.id.Visible) { // subAktivitasKeberangkatanKapalPenyaluranLpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasKeberangkatanKapalPenyaluranLpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluranLPG_id" class="SubAktivitasKeberangkatanKapalPenyaluranLPG_id">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranLpgList.id))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranLpgList.id.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranLpgList.NoReferensi.Visible) { // subAktivitasKeberangkatanKapalPenyaluranLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasKeberangkatanKapalPenyaluranLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluranLPG_NoReferensi" class="SubAktivitasKeberangkatanKapalPenyaluranLPG_NoReferensi">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranLpgList.NoReferensi))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranLpgList.NoReferensi.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranLpgList.idProses.Visible) { // subAktivitasKeberangkatanKapalPenyaluranLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasKeberangkatanKapalPenyaluranLpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluranLPG_idProses" class="SubAktivitasKeberangkatanKapalPenyaluranLPG_idProses">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranLpgList.idProses))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranLpgList.idProses.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranLpgList.idAktifitas.Visible) { // subAktivitasKeberangkatanKapalPenyaluranLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasKeberangkatanKapalPenyaluranLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluranLPG_idAktifitas" class="SubAktivitasKeberangkatanKapalPenyaluranLPG_idAktifitas">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranLpgList.idAktifitas))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranLpgList.idAktifitas.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranLpgList.StatusAktivitas.Visible) { // subAktivitasKeberangkatanKapalPenyaluranLpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasKeberangkatanKapalPenyaluranLpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluranLPG_StatusAktivitas" class="SubAktivitasKeberangkatanKapalPenyaluranLPG_StatusAktivitas">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranLpgList.StatusAktivitas))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranLpgList.StatusAktivitas.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranLpgList.LastUpdatedBy.Visible) { // subAktivitasKeberangkatanKapalPenyaluranLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasKeberangkatanKapalPenyaluranLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluranLPG_LastUpdatedBy" class="SubAktivitasKeberangkatanKapalPenyaluranLPG_LastUpdatedBy">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranLpgList.LastUpdatedBy))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranLpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranLpgList.lastUpdatedDate.Visible) { // subAktivitasKeberangkatanKapalPenyaluranLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasKeberangkatanKapalPenyaluranLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluranLPG_lastUpdatedDate" class="SubAktivitasKeberangkatanKapalPenyaluranLPG_lastUpdatedDate">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranLpgList.lastUpdatedDate))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranLpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranLpgList.Tanggal.Visible) { // subAktivitasKeberangkatanKapalPenyaluranLpgList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasKeberangkatanKapalPenyaluranLpgList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluranLPG_Tanggal" class="SubAktivitasKeberangkatanKapalPenyaluranLPG_Tanggal">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranLpgList.Tanggal))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranLpgList.Tanggal.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranLpgList.userInput.Visible) { // subAktivitasKeberangkatanKapalPenyaluranLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasKeberangkatanKapalPenyaluranLpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluranLPG_userInput" class="SubAktivitasKeberangkatanKapalPenyaluranLPG_userInput">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranLpgList.userInput))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranLpgList.userInput.Visible (end) *@
@if (subAktivitasKeberangkatanKapalPenyaluranLpgList.etlDate.Visible) { // subAktivitasKeberangkatanKapalPenyaluranLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasKeberangkatanKapalPenyaluranLpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasKeberangkatanKapalPenyaluranLPG_etlDate" class="SubAktivitasKeberangkatanKapalPenyaluranLPG_etlDate">@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.RenderFieldHeader(subAktivitasKeberangkatanKapalPenyaluranLpgList.etlDate))</div></th>
} @* subAktivitasKeberangkatanKapalPenyaluranLpgList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasKeberangkatanKapalPenyaluranLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasKeberangkatanKapalPenyaluranLpgList.PageNumber)">
@{
    await subAktivitasKeberangkatanKapalPenyaluranLpgList.SetupGrid();
    bool eof = subAktivitasKeberangkatanKapalPenyaluranLpgList.Recordset == null; // DN
}
@while (subAktivitasKeberangkatanKapalPenyaluranLpgList.RecordCount < subAktivitasKeberangkatanKapalPenyaluranLpgList.StopRecord || SameString(subAktivitasKeberangkatanKapalPenyaluranLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasKeberangkatanKapalPenyaluranLpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasKeberangkatanKapalPenyaluranLpgList.IsGridAdd || subAktivitasKeberangkatanKapalPenyaluranLpgList.CurrentMode == "copy") &&
        (!((subAktivitasKeberangkatanKapalPenyaluranLpgList.IsCopy || subAktivitasKeberangkatanKapalPenyaluranLpgList.IsAdd) && subAktivitasKeberangkatanKapalPenyaluranLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasKeberangkatanKapalPenyaluranLpgList.Recordset.ReadAsync();
    subAktivitasKeberangkatanKapalPenyaluranLpgList.RecordCount++;
    if (subAktivitasKeberangkatanKapalPenyaluranLpgList.RecordCount >= subAktivitasKeberangkatanKapalPenyaluranLpgList.StartRecord) {
        await subAktivitasKeberangkatanKapalPenyaluranLpgList.SetupRow();
    <tr @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasKeberangkatanKapalPenyaluranLpgList.ListOptions.RenderBody("left", subAktivitasKeberangkatanKapalPenyaluranLpgList.RowCount)
    @if (subAktivitasKeberangkatanKapalPenyaluranLpgList.id.Visible) { // subAktivitasKeberangkatanKapalPenyaluranLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranLpgList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluranLPG_id" class="el_SubAktivitasKeberangkatanKapalPenyaluranLPG_id">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranLpgList.id.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranLpgList.NoReferensi.Visible) { // subAktivitasKeberangkatanKapalPenyaluranLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranLpgList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluranLPG_NoReferensi" class="el_SubAktivitasKeberangkatanKapalPenyaluranLPG_NoReferensi">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranLpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranLpgList.idProses.Visible) { // subAktivitasKeberangkatanKapalPenyaluranLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranLpgList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluranLPG_idProses" class="el_SubAktivitasKeberangkatanKapalPenyaluranLPG_idProses">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranLpgList.idProses.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranLpgList.idAktifitas.Visible) { // subAktivitasKeberangkatanKapalPenyaluranLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranLpgList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluranLPG_idAktifitas" class="el_SubAktivitasKeberangkatanKapalPenyaluranLPG_idAktifitas">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranLpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranLpgList.StatusAktivitas.Visible) { // subAktivitasKeberangkatanKapalPenyaluranLpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranLpgList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluranLPG_StatusAktivitas" class="el_SubAktivitasKeberangkatanKapalPenyaluranLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranLpgList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranLpgList.LastUpdatedBy.Visible) { // subAktivitasKeberangkatanKapalPenyaluranLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranLpgList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluranLPG_LastUpdatedBy" class="el_SubAktivitasKeberangkatanKapalPenyaluranLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranLpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranLpgList.lastUpdatedDate.Visible) { // subAktivitasKeberangkatanKapalPenyaluranLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranLpgList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluranLPG_lastUpdatedDate" class="el_SubAktivitasKeberangkatanKapalPenyaluranLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranLpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranLpgList.Tanggal.Visible) { // subAktivitasKeberangkatanKapalPenyaluranLpgList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.Tanggal.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranLpgList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluranLPG_Tanggal" class="el_SubAktivitasKeberangkatanKapalPenyaluranLPG_Tanggal">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranLpgList.Tanggal.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranLpgList.userInput.Visible) { // subAktivitasKeberangkatanKapalPenyaluranLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranLpgList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluranLPG_userInput" class="el_SubAktivitasKeberangkatanKapalPenyaluranLPG_userInput">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranLpgList.userInput.Visible (end) *@
    @if (subAktivitasKeberangkatanKapalPenyaluranLpgList.etlDate.Visible) { // subAktivitasKeberangkatanKapalPenyaluranLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasKeberangkatanKapalPenyaluranLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasKeberangkatanKapalPenyaluranLpgList.RowCount)_SubAktivitasKeberangkatanKapalPenyaluranLPG_etlDate" class="el_SubAktivitasKeberangkatanKapalPenyaluranLPG_etlDate">
<span @Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasKeberangkatanKapalPenyaluranLpgList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasKeberangkatanKapalPenyaluranLpgList.ListOptions.RenderBody("right", subAktivitasKeberangkatanKapalPenyaluranLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasKeberangkatanKapalPenyaluranLpgList.RowIndex, "$rowindex$"))
        subAktivitasKeberangkatanKapalPenyaluranLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasKeberangkatanKapalPenyaluranLpgList.IsCopy || subAktivitasKeberangkatanKapalPenyaluranLpgList.IsAdd) && subAktivitasKeberangkatanKapalPenyaluranLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasKeberangkatanKapalPenyaluranLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasKeberangkatanKapalPenyaluranLpgList.CurrentAction) && !subAktivitasKeberangkatanKapalPenyaluranLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasKeberangkatanKapalPenyaluranLpgList.CloseRecordset(); }
@if (!subAktivitasKeberangkatanKapalPenyaluranLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasKeberangkatanKapalPenyaluranLpgList.IsGridAdd && !(subAktivitasKeberangkatanKapalPenyaluranLpgList.IsGridEdit && subAktivitasKeberangkatanKapalPenyaluranLpgList.ModalGridEdit) && !subAktivitasKeberangkatanKapalPenyaluranLpgList.IsMultiEdit) {
@Html.Raw(subAktivitasKeberangkatanKapalPenyaluranLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasKeberangkatanKapalPenyaluranLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasKeberangkatanKapalPenyaluranLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasKeberangkatanKapalPenyaluranLpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasKeberangkatanKapalPenyaluranLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasKeberangkatanKapalPenyaluranLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasKeberangkatanKapalPenyaluranLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
