@{
    // View
    View = this;

    // Check action result
    if (subAktivitasDataStopPenyaluranStsPyrLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasDataStopPenyaluranStsPyrLpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasDataStopPenyaluranStsPyrLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataStopPenyaluranStsPyrLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataStopPenyaluranSTSPyrLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasDataStopPenyaluranStsPyrLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasDataStopPenyaluranStsPyrLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasDataStopPenyaluranStsPyrLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasDataStopPenyaluranStsPyrLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasDataStopPenyaluranStsPyrLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasDataStopPenyaluranStsPyrLpgList.TotalRecords > 0 && subAktivitasDataStopPenyaluranStsPyrLpgList.ExportOptions.Visible) {
    subAktivitasDataStopPenyaluranStsPyrLpgList.ExportOptions.Render("body");
}
@if (subAktivitasDataStopPenyaluranStsPyrLpgList.ImportOptions.Visible) {
    subAktivitasDataStopPenyaluranStsPyrLpgList.ImportOptions.Render("body");
}
@if (subAktivitasDataStopPenyaluranStsPyrLpgList.SearchOptions.Visible) {
    subAktivitasDataStopPenyaluranStsPyrLpgList.SearchOptions.Render("body");
}
@if (subAktivitasDataStopPenyaluranStsPyrLpgList.FilterOptions.Visible) {
    subAktivitasDataStopPenyaluranStsPyrLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasDataStopPenyaluranStsPyrLpgList.IsModal) {
<form name="fSubAktivitasDataStopPenyaluranSTSPyrLPGsrch" id="fSubAktivitasDataStopPenyaluranSTSPyrLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasDataStopPenyaluranSTSPyrLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasDataStopPenyaluranStsPyrLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasDataStopPenyaluranStsPyrLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasDataStopPenyaluranSTSPyrLPG: currentTable } });
var currentForm;
var fSubAktivitasDataStopPenyaluranSTSPyrLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasDataStopPenyaluranSTSPyrLPGsrch")
        .setPageId("list")
@if (subAktivitasDataStopPenyaluranStsPyrLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasDataStopPenyaluranStsPyrLpgList.IsExport() && Empty(subAktivitasDataStopPenyaluranStsPyrLpgList.CurrentAction) && subAktivitasDataStopPenyaluranStsPyrLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasDataStopPenyaluranStsPyrLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasDataStopPenyaluranStsPyrLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasDataStopPenyaluranStsPyrLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasDataStopPenyaluranSTSPyrLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStopPenyaluranStsPyrLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasDataStopPenyaluranSTSPyrLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStopPenyaluranStsPyrLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasDataStopPenyaluranSTSPyrLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasDataStopPenyaluranStsPyrLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasDataStopPenyaluranSTSPyrLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasDataStopPenyaluranStsPyrLpgList.ShowPageHeader()
@subAktivitasDataStopPenyaluranStsPyrLpgList.ShowMessages()
<main class="list @(subAktivitasDataStopPenyaluranStsPyrLpgList.TotalRecords == 0 && !subAktivitasDataStopPenyaluranStsPyrLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasDataStopPenyaluranStsPyrLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasDataStopPenyaluranStsPyrLpgList.TotalRecords > 0 || !Empty(subAktivitasDataStopPenyaluranStsPyrLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasDataStopPenyaluranStsPyrLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasDataStopPenyaluranStsPyrLpgList.TableGridClass)">
<form name="@(subAktivitasDataStopPenyaluranStsPyrLpgList.FormName)" id="@(subAktivitasDataStopPenyaluranStsPyrLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasDataStopPenyaluranStsPyrLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasDataStopPenyaluranStsPyrLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasDataStopPenyaluranSTSPyrLPG" class="card-body ew-grid-middle-panel @(subAktivitasDataStopPenyaluranStsPyrLpgList.TableContainerClass)" style="@(subAktivitasDataStopPenyaluranStsPyrLpgList.TableContainerStyle)">
@if (subAktivitasDataStopPenyaluranStsPyrLpgList.TotalRecords > 0 || subAktivitasDataStopPenyaluranStsPyrLpgList.IsGridEdit || subAktivitasDataStopPenyaluranStsPyrLpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasDataStopPenyaluranSTSPyrLPGlist" class="@(subAktivitasDataStopPenyaluranStsPyrLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasDataStopPenyaluranStsPyrLpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasDataStopPenyaluranStsPyrLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasDataStopPenyaluranStsPyrLpgList.ListOptions.RenderHeader("left")
@if (subAktivitasDataStopPenyaluranStsPyrLpgList.id.Visible) { // subAktivitasDataStopPenyaluranStsPyrLpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasDataStopPenyaluranStsPyrLpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluranSTSPyrLPG_id" class="SubAktivitasDataStopPenyaluranSTSPyrLPG_id">@Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasDataStopPenyaluranStsPyrLpgList.id))</div></th>
} @* subAktivitasDataStopPenyaluranStsPyrLpgList.id.Visible (end) *@
@if (subAktivitasDataStopPenyaluranStsPyrLpgList.NoReferensi.Visible) { // subAktivitasDataStopPenyaluranStsPyrLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasDataStopPenyaluranStsPyrLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluranSTSPyrLPG_NoReferensi" class="SubAktivitasDataStopPenyaluranSTSPyrLPG_NoReferensi">@Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasDataStopPenyaluranStsPyrLpgList.NoReferensi))</div></th>
} @* subAktivitasDataStopPenyaluranStsPyrLpgList.NoReferensi.Visible (end) *@
@if (subAktivitasDataStopPenyaluranStsPyrLpgList.idProses.Visible) { // subAktivitasDataStopPenyaluranStsPyrLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasDataStopPenyaluranStsPyrLpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluranSTSPyrLPG_idProses" class="SubAktivitasDataStopPenyaluranSTSPyrLPG_idProses">@Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasDataStopPenyaluranStsPyrLpgList.idProses))</div></th>
} @* subAktivitasDataStopPenyaluranStsPyrLpgList.idProses.Visible (end) *@
@if (subAktivitasDataStopPenyaluranStsPyrLpgList.idAktifitas.Visible) { // subAktivitasDataStopPenyaluranStsPyrLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasDataStopPenyaluranStsPyrLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluranSTSPyrLPG_idAktifitas" class="SubAktivitasDataStopPenyaluranSTSPyrLPG_idAktifitas">@Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasDataStopPenyaluranStsPyrLpgList.idAktifitas))</div></th>
} @* subAktivitasDataStopPenyaluranStsPyrLpgList.idAktifitas.Visible (end) *@
@if (subAktivitasDataStopPenyaluranStsPyrLpgList.StatusAktivitas.Visible) { // subAktivitasDataStopPenyaluranStsPyrLpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasDataStopPenyaluranStsPyrLpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluranSTSPyrLPG_StatusAktivitas" class="SubAktivitasDataStopPenyaluranSTSPyrLPG_StatusAktivitas">@Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasDataStopPenyaluranStsPyrLpgList.StatusAktivitas))</div></th>
} @* subAktivitasDataStopPenyaluranStsPyrLpgList.StatusAktivitas.Visible (end) *@
@if (subAktivitasDataStopPenyaluranStsPyrLpgList.LastUpdatedBy.Visible) { // subAktivitasDataStopPenyaluranStsPyrLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasDataStopPenyaluranStsPyrLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluranSTSPyrLPG_LastUpdatedBy" class="SubAktivitasDataStopPenyaluranSTSPyrLPG_LastUpdatedBy">@Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasDataStopPenyaluranStsPyrLpgList.LastUpdatedBy))</div></th>
} @* subAktivitasDataStopPenyaluranStsPyrLpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasDataStopPenyaluranStsPyrLpgList.lastUpdatedDate.Visible) { // subAktivitasDataStopPenyaluranStsPyrLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasDataStopPenyaluranStsPyrLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluranSTSPyrLPG_lastUpdatedDate" class="SubAktivitasDataStopPenyaluranSTSPyrLPG_lastUpdatedDate">@Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasDataStopPenyaluranStsPyrLpgList.lastUpdatedDate))</div></th>
} @* subAktivitasDataStopPenyaluranStsPyrLpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasDataStopPenyaluranStsPyrLpgList.Tanggal.Visible) { // subAktivitasDataStopPenyaluranStsPyrLpgList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasDataStopPenyaluranStsPyrLpgList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluranSTSPyrLPG_Tanggal" class="SubAktivitasDataStopPenyaluranSTSPyrLPG_Tanggal">@Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasDataStopPenyaluranStsPyrLpgList.Tanggal))</div></th>
} @* subAktivitasDataStopPenyaluranStsPyrLpgList.Tanggal.Visible (end) *@
@if (subAktivitasDataStopPenyaluranStsPyrLpgList.userInput.Visible) { // subAktivitasDataStopPenyaluranStsPyrLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasDataStopPenyaluranStsPyrLpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluranSTSPyrLPG_userInput" class="SubAktivitasDataStopPenyaluranSTSPyrLPG_userInput">@Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasDataStopPenyaluranStsPyrLpgList.userInput))</div></th>
} @* subAktivitasDataStopPenyaluranStsPyrLpgList.userInput.Visible (end) *@
@if (subAktivitasDataStopPenyaluranStsPyrLpgList.etlDate.Visible) { // subAktivitasDataStopPenyaluranStsPyrLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasDataStopPenyaluranStsPyrLpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasDataStopPenyaluranSTSPyrLPG_etlDate" class="SubAktivitasDataStopPenyaluranSTSPyrLPG_etlDate">@Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.RenderFieldHeader(subAktivitasDataStopPenyaluranStsPyrLpgList.etlDate))</div></th>
} @* subAktivitasDataStopPenyaluranStsPyrLpgList.etlDate.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasDataStopPenyaluranStsPyrLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasDataStopPenyaluranStsPyrLpgList.PageNumber)">
@{
    await subAktivitasDataStopPenyaluranStsPyrLpgList.SetupGrid();
    bool eof = subAktivitasDataStopPenyaluranStsPyrLpgList.Recordset == null; // DN
}
@while (subAktivitasDataStopPenyaluranStsPyrLpgList.RecordCount < subAktivitasDataStopPenyaluranStsPyrLpgList.StopRecord || SameString(subAktivitasDataStopPenyaluranStsPyrLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasDataStopPenyaluranStsPyrLpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasDataStopPenyaluranStsPyrLpgList.IsGridAdd || subAktivitasDataStopPenyaluranStsPyrLpgList.CurrentMode == "copy") &&
        (!((subAktivitasDataStopPenyaluranStsPyrLpgList.IsCopy || subAktivitasDataStopPenyaluranStsPyrLpgList.IsAdd) && subAktivitasDataStopPenyaluranStsPyrLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasDataStopPenyaluranStsPyrLpgList.Recordset.ReadAsync();
    subAktivitasDataStopPenyaluranStsPyrLpgList.RecordCount++;
    if (subAktivitasDataStopPenyaluranStsPyrLpgList.RecordCount >= subAktivitasDataStopPenyaluranStsPyrLpgList.StartRecord) {
        await subAktivitasDataStopPenyaluranStsPyrLpgList.SetupRow();
    <tr @Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasDataStopPenyaluranStsPyrLpgList.ListOptions.RenderBody("left", subAktivitasDataStopPenyaluranStsPyrLpgList.RowCount)
    @if (subAktivitasDataStopPenyaluranStsPyrLpgList.id.Visible) { // subAktivitasDataStopPenyaluranStsPyrLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.id.CellAttributes)>
<span id="el@(subAktivitasDataStopPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPenyaluranStsPyrLpgList.RowCount)_SubAktivitasDataStopPenyaluranSTSPyrLPG_id" class="el_SubAktivitasDataStopPenyaluranSTSPyrLPG_id">
<span @Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranStsPyrLpgList.id.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranStsPyrLpgList.NoReferensi.Visible) { // subAktivitasDataStopPenyaluranStsPyrLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasDataStopPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPenyaluranStsPyrLpgList.RowCount)_SubAktivitasDataStopPenyaluranSTSPyrLPG_NoReferensi" class="el_SubAktivitasDataStopPenyaluranSTSPyrLPG_NoReferensi">
<span @Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranStsPyrLpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranStsPyrLpgList.idProses.Visible) { // subAktivitasDataStopPenyaluranStsPyrLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.idProses.CellAttributes)>
<span id="el@(subAktivitasDataStopPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPenyaluranStsPyrLpgList.RowCount)_SubAktivitasDataStopPenyaluranSTSPyrLPG_idProses" class="el_SubAktivitasDataStopPenyaluranSTSPyrLPG_idProses">
<span @Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranStsPyrLpgList.idProses.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranStsPyrLpgList.idAktifitas.Visible) { // subAktivitasDataStopPenyaluranStsPyrLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasDataStopPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPenyaluranStsPyrLpgList.RowCount)_SubAktivitasDataStopPenyaluranSTSPyrLPG_idAktifitas" class="el_SubAktivitasDataStopPenyaluranSTSPyrLPG_idAktifitas">
<span @Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranStsPyrLpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranStsPyrLpgList.StatusAktivitas.Visible) { // subAktivitasDataStopPenyaluranStsPyrLpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasDataStopPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPenyaluranStsPyrLpgList.RowCount)_SubAktivitasDataStopPenyaluranSTSPyrLPG_StatusAktivitas" class="el_SubAktivitasDataStopPenyaluranSTSPyrLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranStsPyrLpgList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranStsPyrLpgList.LastUpdatedBy.Visible) { // subAktivitasDataStopPenyaluranStsPyrLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasDataStopPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPenyaluranStsPyrLpgList.RowCount)_SubAktivitasDataStopPenyaluranSTSPyrLPG_LastUpdatedBy" class="el_SubAktivitasDataStopPenyaluranSTSPyrLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranStsPyrLpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranStsPyrLpgList.lastUpdatedDate.Visible) { // subAktivitasDataStopPenyaluranStsPyrLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasDataStopPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPenyaluranStsPyrLpgList.RowCount)_SubAktivitasDataStopPenyaluranSTSPyrLPG_lastUpdatedDate" class="el_SubAktivitasDataStopPenyaluranSTSPyrLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranStsPyrLpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranStsPyrLpgList.Tanggal.Visible) { // subAktivitasDataStopPenyaluranStsPyrLpgList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.Tanggal.CellAttributes)>
<span id="el@(subAktivitasDataStopPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPenyaluranStsPyrLpgList.RowCount)_SubAktivitasDataStopPenyaluranSTSPyrLPG_Tanggal" class="el_SubAktivitasDataStopPenyaluranSTSPyrLPG_Tanggal">
<span @Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranStsPyrLpgList.Tanggal.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranStsPyrLpgList.userInput.Visible) { // subAktivitasDataStopPenyaluranStsPyrLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.userInput.CellAttributes)>
<span id="el@(subAktivitasDataStopPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPenyaluranStsPyrLpgList.RowCount)_SubAktivitasDataStopPenyaluranSTSPyrLPG_userInput" class="el_SubAktivitasDataStopPenyaluranSTSPyrLPG_userInput">
<span @Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranStsPyrLpgList.userInput.Visible (end) *@
    @if (subAktivitasDataStopPenyaluranStsPyrLpgList.etlDate.Visible) { // subAktivitasDataStopPenyaluranStsPyrLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.etlDate.CellAttributes)>
<span id="el@(subAktivitasDataStopPenyaluranStsPyrLpgList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasDataStopPenyaluranStsPyrLpgList.RowCount)_SubAktivitasDataStopPenyaluranSTSPyrLPG_etlDate" class="el_SubAktivitasDataStopPenyaluranSTSPyrLPG_etlDate">
<span @Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasDataStopPenyaluranStsPyrLpgList.etlDate.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasDataStopPenyaluranStsPyrLpgList.ListOptions.RenderBody("right", subAktivitasDataStopPenyaluranStsPyrLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasDataStopPenyaluranStsPyrLpgList.RowIndex, "$rowindex$"))
        subAktivitasDataStopPenyaluranStsPyrLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasDataStopPenyaluranStsPyrLpgList.IsCopy || subAktivitasDataStopPenyaluranStsPyrLpgList.IsAdd) && subAktivitasDataStopPenyaluranStsPyrLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasDataStopPenyaluranStsPyrLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasDataStopPenyaluranStsPyrLpgList.CurrentAction) && !subAktivitasDataStopPenyaluranStsPyrLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasDataStopPenyaluranStsPyrLpgList.CloseRecordset(); }
@if (!subAktivitasDataStopPenyaluranStsPyrLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasDataStopPenyaluranStsPyrLpgList.IsGridAdd && !(subAktivitasDataStopPenyaluranStsPyrLpgList.IsGridEdit && subAktivitasDataStopPenyaluranStsPyrLpgList.ModalGridEdit) && !subAktivitasDataStopPenyaluranStsPyrLpgList.IsMultiEdit) {
@Html.Raw(subAktivitasDataStopPenyaluranStsPyrLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasDataStopPenyaluranStsPyrLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasDataStopPenyaluranStsPyrLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasDataStopPenyaluranStsPyrLpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasDataStopPenyaluranStsPyrLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasDataStopPenyaluranStsPyrLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasDataStopPenyaluranSTSPyrLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
