@{
    // View
    View = this;

    // Check action result
    if (subAktivitasLogbookPenerimaanStsPymBbmList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasLogbookPenerimaanStsPymBbmList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasLogbookPenerimaanStsPymBbmList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasLogbookPenerimaanStsPymBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasLogbookPenerimaanSTSPymBBM: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasLogbookPenerimaanStsPymBbmList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasLogbookPenerimaanStsPymBbmList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasLogbookPenerimaanStsPymBbmList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasLogbookPenerimaanStsPymBbmList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasLogbookPenerimaanStsPymBbmList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasLogbookPenerimaanStsPymBbmList.TotalRecords > 0 && subAktivitasLogbookPenerimaanStsPymBbmList.ExportOptions.Visible) {
    subAktivitasLogbookPenerimaanStsPymBbmList.ExportOptions.Render("body");
}
@if (subAktivitasLogbookPenerimaanStsPymBbmList.ImportOptions.Visible) {
    subAktivitasLogbookPenerimaanStsPymBbmList.ImportOptions.Render("body");
}
@if (subAktivitasLogbookPenerimaanStsPymBbmList.SearchOptions.Visible) {
    subAktivitasLogbookPenerimaanStsPymBbmList.SearchOptions.Render("body");
}
@if (subAktivitasLogbookPenerimaanStsPymBbmList.FilterOptions.Visible) {
    subAktivitasLogbookPenerimaanStsPymBbmList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasLogbookPenerimaanStsPymBbmList.IsModal) {
<form name="fSubAktivitasLogbookPenerimaanSTSPymBBMsrch" id="fSubAktivitasLogbookPenerimaanSTSPymBBMsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasLogbookPenerimaanSTSPymBBMsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasLogbookPenerimaanStsPymBbmList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasLogbookPenerimaanStsPymBbmList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasLogbookPenerimaanSTSPymBBM: currentTable } });
var currentForm;
var fSubAktivitasLogbookPenerimaanSTSPymBBMsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasLogbookPenerimaanSTSPymBBMsrch")
        .setPageId("list")
@if (subAktivitasLogbookPenerimaanStsPymBbmList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasLogbookPenerimaanStsPymBbmList.IsExport() && Empty(subAktivitasLogbookPenerimaanStsPymBbmList.CurrentAction) && subAktivitasLogbookPenerimaanStsPymBbmList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanStsPymBbmList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasLogbookPenerimaanStsPymBbmList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasLogbookPenerimaanStsPymBbmList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasLogbookPenerimaanSTSPymBBMsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasLogbookPenerimaanStsPymBbmList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasLogbookPenerimaanSTSPymBBMsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasLogbookPenerimaanStsPymBbmList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasLogbookPenerimaanSTSPymBBMsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasLogbookPenerimaanStsPymBbmList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasLogbookPenerimaanSTSPymBBMsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasLogbookPenerimaanStsPymBbmList.ShowPageHeader()
@subAktivitasLogbookPenerimaanStsPymBbmList.ShowMessages()
<main class="list @(subAktivitasLogbookPenerimaanStsPymBbmList.TotalRecords == 0 && !subAktivitasLogbookPenerimaanStsPymBbmList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasLogbookPenerimaanStsPymBbmList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasLogbookPenerimaanStsPymBbmList.TotalRecords > 0 || !Empty(subAktivitasLogbookPenerimaanStsPymBbmList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasLogbookPenerimaanStsPymBbmList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasLogbookPenerimaanStsPymBbmList.TableGridClass)">
<form name="@(subAktivitasLogbookPenerimaanStsPymBbmList.FormName)" id="@(subAktivitasLogbookPenerimaanStsPymBbmList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasLogbookPenerimaanStsPymBbmList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasLogbookPenerimaanStsPymBbmList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasLogbookPenerimaanSTSPymBBM" class="card-body ew-grid-middle-panel @(subAktivitasLogbookPenerimaanStsPymBbmList.TableContainerClass)" style="@(subAktivitasLogbookPenerimaanStsPymBbmList.TableContainerStyle)">
@if (subAktivitasLogbookPenerimaanStsPymBbmList.TotalRecords > 0 || subAktivitasLogbookPenerimaanStsPymBbmList.IsGridEdit || subAktivitasLogbookPenerimaanStsPymBbmList.IsMultiEdit) {
<table id="tbl_SubAktivitasLogbookPenerimaanSTSPymBBMlist" class="@(subAktivitasLogbookPenerimaanStsPymBbmList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasLogbookPenerimaanStsPymBbmList.RowType = RowType.Header;

    // Render list options
    await subAktivitasLogbookPenerimaanStsPymBbmList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasLogbookPenerimaanStsPymBbmList.ListOptions.RenderHeader("left")
@if (subAktivitasLogbookPenerimaanStsPymBbmList.id.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasLogbookPenerimaanStsPymBbmList.id.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_id" class="SubAktivitasLogbookPenerimaanSTSPymBBM_id">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymBbmList.id))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymBbmList.id.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmList.idProses.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasLogbookPenerimaanStsPymBbmList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_idProses" class="SubAktivitasLogbookPenerimaanSTSPymBBM_idProses">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymBbmList.idProses))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymBbmList.idProses.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmList.idAktifitas.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasLogbookPenerimaanStsPymBbmList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_idAktifitas" class="SubAktivitasLogbookPenerimaanSTSPymBBM_idAktifitas">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymBbmList.idAktifitas))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymBbmList.idAktifitas.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmList.NoReferensi.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasLogbookPenerimaanStsPymBbmList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_NoReferensi" class="SubAktivitasLogbookPenerimaanSTSPymBBM_NoReferensi">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymBbmList.NoReferensi))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymBbmList.NoReferensi.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmList.Nama_Kapal.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.Nama_Kapal.Visible (begin)
        <th data-name="Nama_Kapal" class="@(subAktivitasLogbookPenerimaanStsPymBbmList.Nama_Kapal.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_Nama_Kapal" class="SubAktivitasLogbookPenerimaanSTSPymBBM_Nama_Kapal">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymBbmList.Nama_Kapal))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymBbmList.Nama_Kapal.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmList.TanggalJam.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.TanggalJam.Visible (begin)
        <th data-name="TanggalJam" class="@(subAktivitasLogbookPenerimaanStsPymBbmList.TanggalJam.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_TanggalJam" class="SubAktivitasLogbookPenerimaanSTSPymBBM_TanggalJam">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymBbmList.TanggalJam))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymBbmList.TanggalJam.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmList.Nama_Kegiatan.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.Nama_Kegiatan.Visible (begin)
        <th data-name="Nama_Kegiatan" class="@(subAktivitasLogbookPenerimaanStsPymBbmList.Nama_Kegiatan.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_Nama_Kegiatan" class="SubAktivitasLogbookPenerimaanSTSPymBBM_Nama_Kegiatan">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymBbmList.Nama_Kegiatan))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymBbmList.Nama_Kegiatan.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmList.Produk.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasLogbookPenerimaanStsPymBbmList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_Produk" class="SubAktivitasLogbookPenerimaanSTSPymBBM_Produk">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymBbmList.Produk))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymBbmList.Produk.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmList.Density.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.Density.Visible (begin)
        <th data-name="Density" class="@(subAktivitasLogbookPenerimaanStsPymBbmList.Density.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_Density" class="SubAktivitasLogbookPenerimaanSTSPymBBM_Density">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymBbmList.Density))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymBbmList.Density.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmList.Temperatur.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.Temperatur.Visible (begin)
        <th data-name="Temperatur" class="@(subAktivitasLogbookPenerimaanStsPymBbmList.Temperatur.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_Temperatur" class="SubAktivitasLogbookPenerimaanSTSPymBBM_Temperatur">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymBbmList.Temperatur))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymBbmList.Temperatur.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmList.Level.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.Level.Visible (begin)
        <th data-name="Level" class="@(subAktivitasLogbookPenerimaanStsPymBbmList.Level.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_Level" class="SubAktivitasLogbookPenerimaanSTSPymBBM_Level">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymBbmList.Level))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymBbmList.Level.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmList.Volume.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.Volume.Visible (begin)
        <th data-name="Volume" class="@(subAktivitasLogbookPenerimaanStsPymBbmList.Volume.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_Volume" class="SubAktivitasLogbookPenerimaanSTSPymBBM_Volume">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymBbmList.Volume))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymBbmList.Volume.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmList.Flowrate.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.Flowrate.Visible (begin)
        <th data-name="Flowrate" class="@(subAktivitasLogbookPenerimaanStsPymBbmList.Flowrate.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_Flowrate" class="SubAktivitasLogbookPenerimaanSTSPymBBM_Flowrate">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymBbmList.Flowrate))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymBbmList.Flowrate.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmList.userInput.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasLogbookPenerimaanStsPymBbmList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_userInput" class="SubAktivitasLogbookPenerimaanSTSPymBBM_userInput">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymBbmList.userInput))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymBbmList.userInput.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmList.etlDate.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasLogbookPenerimaanStsPymBbmList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_etlDate" class="SubAktivitasLogbookPenerimaanSTSPymBBM_etlDate">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymBbmList.etlDate))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymBbmList.etlDate.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmList.LastUpdatedBy.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasLogbookPenerimaanStsPymBbmList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_LastUpdatedBy" class="SubAktivitasLogbookPenerimaanSTSPymBBM_LastUpdatedBy">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymBbmList.LastUpdatedBy))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymBbmList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmList.lastUpdatedDate.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasLogbookPenerimaanStsPymBbmList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_lastUpdatedDate" class="SubAktivitasLogbookPenerimaanSTSPymBBM_lastUpdatedDate">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymBbmList.lastUpdatedDate))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymBbmList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmList.SubAktivitasHasilPemeriksaanId.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.SubAktivitasHasilPemeriksaanId.Visible (begin)
        <th data-name="SubAktivitasHasilPemeriksaanId" class="@(subAktivitasLogbookPenerimaanStsPymBbmList.SubAktivitasHasilPemeriksaanId.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_SubAktivitasHasilPemeriksaanId" class="SubAktivitasLogbookPenerimaanSTSPymBBM_SubAktivitasHasilPemeriksaanId">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymBbmList.SubAktivitasHasilPemeriksaanId))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymBbmList.SubAktivitasHasilPemeriksaanId.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmList.TanggalJamSOP.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.TanggalJamSOP.Visible (begin)
        <th data-name="TanggalJamSOP" class="@(subAktivitasLogbookPenerimaanStsPymBbmList.TanggalJamSOP.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_TanggalJamSOP" class="SubAktivitasLogbookPenerimaanSTSPymBBM_TanggalJamSOP">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymBbmList.TanggalJamSOP))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymBbmList.TanggalJamSOP.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmList.SelisihWaktu.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.SelisihWaktu.Visible (begin)
        <th data-name="SelisihWaktu" class="@(subAktivitasLogbookPenerimaanStsPymBbmList.SelisihWaktu.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_SelisihWaktu" class="SubAktivitasLogbookPenerimaanSTSPymBBM_SelisihWaktu">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymBbmList.SelisihWaktu))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymBbmList.SelisihWaktu.Visible (end) *@
@if (subAktivitasLogbookPenerimaanStsPymBbmList.IsQualityActive.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.IsQualityActive.Visible (begin)
        <th data-name="IsQualityActive" class="@(subAktivitasLogbookPenerimaanStsPymBbmList.IsQualityActive.HeaderCellClass)"><div id="elh_SubAktivitasLogbookPenerimaanSTSPymBBM_IsQualityActive" class="SubAktivitasLogbookPenerimaanSTSPymBBM_IsQualityActive">@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.RenderFieldHeader(subAktivitasLogbookPenerimaanStsPymBbmList.IsQualityActive))</div></th>
} @* subAktivitasLogbookPenerimaanStsPymBbmList.IsQualityActive.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasLogbookPenerimaanStsPymBbmList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasLogbookPenerimaanStsPymBbmList.PageNumber)">
@{
    await subAktivitasLogbookPenerimaanStsPymBbmList.SetupGrid();
    bool eof = subAktivitasLogbookPenerimaanStsPymBbmList.Recordset == null; // DN
}
@while (subAktivitasLogbookPenerimaanStsPymBbmList.RecordCount < subAktivitasLogbookPenerimaanStsPymBbmList.StopRecord || SameString(subAktivitasLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") &&
        (!subAktivitasLogbookPenerimaanStsPymBbmList.IsGridAdd || subAktivitasLogbookPenerimaanStsPymBbmList.CurrentMode == "copy") &&
        (!((subAktivitasLogbookPenerimaanStsPymBbmList.IsCopy || subAktivitasLogbookPenerimaanStsPymBbmList.IsAdd) && subAktivitasLogbookPenerimaanStsPymBbmList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasLogbookPenerimaanStsPymBbmList.Recordset.ReadAsync();
    subAktivitasLogbookPenerimaanStsPymBbmList.RecordCount++;
    if (subAktivitasLogbookPenerimaanStsPymBbmList.RecordCount >= subAktivitasLogbookPenerimaanStsPymBbmList.StartRecord) {
        await subAktivitasLogbookPenerimaanStsPymBbmList.SetupRow();
    <tr @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasLogbookPenerimaanStsPymBbmList.ListOptions.RenderBody("left", subAktivitasLogbookPenerimaanStsPymBbmList.RowCount)
    @if (subAktivitasLogbookPenerimaanStsPymBbmList.id.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymBBM_id" class="el_SubAktivitasLogbookPenerimaanSTSPymBBM_id">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.id.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymBbmList.id.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymBbmList.idProses.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymBBM_idProses" class="el_SubAktivitasLogbookPenerimaanSTSPymBBM_idProses">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymBbmList.idProses.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymBbmList.idAktifitas.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymBBM_idAktifitas" class="el_SubAktivitasLogbookPenerimaanSTSPymBBM_idAktifitas">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymBbmList.idAktifitas.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymBbmList.NoReferensi.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymBBM_NoReferensi" class="el_SubAktivitasLogbookPenerimaanSTSPymBBM_NoReferensi">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymBbmList.NoReferensi.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymBbmList.Nama_Kapal.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.Nama_Kapal.Visible (begin)
        <td data-name="Nama_Kapal" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.Nama_Kapal.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymBBM_Nama_Kapal" class="el_SubAktivitasLogbookPenerimaanSTSPymBBM_Nama_Kapal">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.Nama_Kapal.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.Nama_Kapal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymBbmList.Nama_Kapal.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymBbmList.TanggalJam.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.TanggalJam.Visible (begin)
        <td data-name="TanggalJam" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.TanggalJam.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymBBM_TanggalJam" class="el_SubAktivitasLogbookPenerimaanSTSPymBBM_TanggalJam">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.TanggalJam.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.TanggalJam.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymBbmList.TanggalJam.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymBbmList.Nama_Kegiatan.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.Nama_Kegiatan.Visible (begin)
        <td data-name="Nama_Kegiatan" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.Nama_Kegiatan.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymBBM_Nama_Kegiatan" class="el_SubAktivitasLogbookPenerimaanSTSPymBBM_Nama_Kegiatan">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.Nama_Kegiatan.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.Nama_Kegiatan.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymBbmList.Nama_Kegiatan.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymBbmList.Produk.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.Produk.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymBBM_Produk" class="el_SubAktivitasLogbookPenerimaanSTSPymBBM_Produk">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymBbmList.Produk.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymBbmList.Density.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.Density.Visible (begin)
        <td data-name="Density" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.Density.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymBBM_Density" class="el_SubAktivitasLogbookPenerimaanSTSPymBBM_Density">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.Density.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.Density.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymBbmList.Density.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymBbmList.Temperatur.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.Temperatur.Visible (begin)
        <td data-name="Temperatur" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.Temperatur.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymBBM_Temperatur" class="el_SubAktivitasLogbookPenerimaanSTSPymBBM_Temperatur">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.Temperatur.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.Temperatur.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymBbmList.Temperatur.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymBbmList.Level.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.Level.Visible (begin)
        <td data-name="Level" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.Level.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymBBM_Level" class="el_SubAktivitasLogbookPenerimaanSTSPymBBM_Level">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.Level.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.Level.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymBbmList.Level.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymBbmList.Volume.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.Volume.Visible (begin)
        <td data-name="Volume" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.Volume.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymBBM_Volume" class="el_SubAktivitasLogbookPenerimaanSTSPymBBM_Volume">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.Volume.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.Volume.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymBbmList.Volume.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymBbmList.Flowrate.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.Flowrate.Visible (begin)
        <td data-name="Flowrate" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.Flowrate.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymBBM_Flowrate" class="el_SubAktivitasLogbookPenerimaanSTSPymBBM_Flowrate">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.Flowrate.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.Flowrate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymBbmList.Flowrate.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymBbmList.userInput.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymBBM_userInput" class="el_SubAktivitasLogbookPenerimaanSTSPymBBM_userInput">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymBbmList.userInput.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymBbmList.etlDate.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymBBM_etlDate" class="el_SubAktivitasLogbookPenerimaanSTSPymBBM_etlDate">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymBbmList.etlDate.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymBbmList.LastUpdatedBy.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymBBM_LastUpdatedBy" class="el_SubAktivitasLogbookPenerimaanSTSPymBBM_LastUpdatedBy">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymBbmList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymBbmList.lastUpdatedDate.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymBBM_lastUpdatedDate" class="el_SubAktivitasLogbookPenerimaanSTSPymBBM_lastUpdatedDate">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymBbmList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymBbmList.SubAktivitasHasilPemeriksaanId.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.SubAktivitasHasilPemeriksaanId.Visible (begin)
        <td data-name="SubAktivitasHasilPemeriksaanId" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.SubAktivitasHasilPemeriksaanId.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymBBM_SubAktivitasHasilPemeriksaanId" class="el_SubAktivitasLogbookPenerimaanSTSPymBBM_SubAktivitasHasilPemeriksaanId">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.SubAktivitasHasilPemeriksaanId.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.SubAktivitasHasilPemeriksaanId.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymBbmList.SubAktivitasHasilPemeriksaanId.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymBbmList.TanggalJamSOP.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.TanggalJamSOP.Visible (begin)
        <td data-name="TanggalJamSOP" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.TanggalJamSOP.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymBBM_TanggalJamSOP" class="el_SubAktivitasLogbookPenerimaanSTSPymBBM_TanggalJamSOP">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.TanggalJamSOP.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.TanggalJamSOP.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymBbmList.TanggalJamSOP.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymBbmList.SelisihWaktu.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.SelisihWaktu.Visible (begin)
        <td data-name="SelisihWaktu" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.SelisihWaktu.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymBBM_SelisihWaktu" class="el_SubAktivitasLogbookPenerimaanSTSPymBBM_SelisihWaktu">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.SelisihWaktu.ViewAttributes)>
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.SelisihWaktu.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymBbmList.SelisihWaktu.Visible (end) *@
    @if (subAktivitasLogbookPenerimaanStsPymBbmList.IsQualityActive.Visible) { // subAktivitasLogbookPenerimaanStsPymBbmList.IsQualityActive.Visible (begin)
        <td data-name="IsQualityActive" @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.IsQualityActive.CellAttributes)>
<span id="el@(SameString(subAktivitasLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasLogbookPenerimaanStsPymBbmList.RowCount)_SubAktivitasLogbookPenerimaanSTSPymBBM_IsQualityActive" class="el_SubAktivitasLogbookPenerimaanSTSPymBBM_IsQualityActive">
<span @Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.IsQualityActive.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(subAktivitasLogbookPenerimaanStsPymBbmList.IsQualityActive.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span>
</td>
    } @* subAktivitasLogbookPenerimaanStsPymBbmList.IsQualityActive.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasLogbookPenerimaanStsPymBbmList.ListOptions.RenderBody("right", subAktivitasLogbookPenerimaanStsPymBbmList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasLogbookPenerimaanStsPymBbmList.RowIndex, "$rowindex$"))
        subAktivitasLogbookPenerimaanStsPymBbmList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasLogbookPenerimaanStsPymBbmList.IsCopy || subAktivitasLogbookPenerimaanStsPymBbmList.IsAdd) && subAktivitasLogbookPenerimaanStsPymBbmList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasLogbookPenerimaanStsPymBbmList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasLogbookPenerimaanStsPymBbmList.CurrentAction) && !subAktivitasLogbookPenerimaanStsPymBbmList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasLogbookPenerimaanStsPymBbmList.CloseRecordset(); }
@if (!subAktivitasLogbookPenerimaanStsPymBbmList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasLogbookPenerimaanStsPymBbmList.IsGridAdd && !(subAktivitasLogbookPenerimaanStsPymBbmList.IsGridEdit && subAktivitasLogbookPenerimaanStsPymBbmList.ModalGridEdit) && !subAktivitasLogbookPenerimaanStsPymBbmList.IsMultiEdit) {
@Html.Raw(subAktivitasLogbookPenerimaanStsPymBbmList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasLogbookPenerimaanStsPymBbmList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasLogbookPenerimaanStsPymBbmList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasLogbookPenerimaanStsPymBbmList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasLogbookPenerimaanStsPymBbmList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasLogbookPenerimaanStsPymBbmList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasLogbookPenerimaanSTSPymBBM");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
