@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputNilaiARsesuaiCqdTruckList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputNilaiARsesuaiCqdTruckList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputNilaiARsesuaiCqdTruckList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputNilaiARsesuaiCQDTruck: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasFormInputNilaiARsesuaiCqdTruckList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasFormInputNilaiARsesuaiCqdTruckList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.TotalRecords > 0 && subAktivitasFormInputNilaiARsesuaiCqdTruckList.ExportOptions.Visible) {
    subAktivitasFormInputNilaiARsesuaiCqdTruckList.ExportOptions.Render("body");
}
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.ImportOptions.Visible) {
    subAktivitasFormInputNilaiARsesuaiCqdTruckList.ImportOptions.Render("body");
}
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.SearchOptions.Visible) {
    subAktivitasFormInputNilaiARsesuaiCqdTruckList.SearchOptions.Render("body");
}
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.FilterOptions.Visible) {
    subAktivitasFormInputNilaiARsesuaiCqdTruckList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasFormInputNilaiARsesuaiCqdTruckList.IsModal) {
<form name="fSubAktivitasFormInputNilaiARsesuaiCQDTrucksrch" id="fSubAktivitasFormInputNilaiARsesuaiCQDTrucksrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasFormInputNilaiARsesuaiCQDTrucksrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasFormInputNilaiARsesuaiCqdTruckList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputNilaiARsesuaiCqdTruckList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputNilaiARsesuaiCQDTruck: currentTable } });
var currentForm;
var fSubAktivitasFormInputNilaiARsesuaiCQDTrucksrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputNilaiARsesuaiCQDTrucksrch")
        .setPageId("list")
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasFormInputNilaiARsesuaiCqdTruckList.IsExport() && Empty(subAktivitasFormInputNilaiARsesuaiCqdTruckList.CurrentAction) && subAktivitasFormInputNilaiARsesuaiCqdTruckList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasFormInputNilaiARsesuaiCqdTruckList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasFormInputNilaiARsesuaiCqdTruckList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasFormInputNilaiARsesuaiCQDTrucksrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasFormInputNilaiARsesuaiCQDTrucksrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasFormInputNilaiARsesuaiCQDTrucksrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasFormInputNilaiARsesuaiCQDTrucksrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasFormInputNilaiARsesuaiCqdTruckList.ShowPageHeader()
@subAktivitasFormInputNilaiARsesuaiCqdTruckList.ShowMessages()
<main class="list @(subAktivitasFormInputNilaiARsesuaiCqdTruckList.TotalRecords == 0 && !subAktivitasFormInputNilaiARsesuaiCqdTruckList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasFormInputNilaiARsesuaiCqdTruckList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.TotalRecords > 0 || !Empty(subAktivitasFormInputNilaiARsesuaiCqdTruckList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasFormInputNilaiARsesuaiCqdTruckList.TableGridClass)">
<form name="@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.FormName)" id="@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasFormInputNilaiARsesuaiCqdTruckList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasFormInputNilaiARsesuaiCQDTruck" class="card-body ew-grid-middle-panel @(subAktivitasFormInputNilaiARsesuaiCqdTruckList.TableContainerClass)" style="@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.TableContainerStyle)">
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.TotalRecords > 0 || subAktivitasFormInputNilaiARsesuaiCqdTruckList.IsGridEdit || subAktivitasFormInputNilaiARsesuaiCqdTruckList.IsMultiEdit) {
<table id="tbl_SubAktivitasFormInputNilaiARsesuaiCQDTrucklist" class="@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowType = RowType.Header;

    // Render list options
    await subAktivitasFormInputNilaiARsesuaiCqdTruckList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasFormInputNilaiARsesuaiCqdTruckList.ListOptions.RenderHeader("left")
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.id.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.id.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_id" class="SubAktivitasFormInputNilaiARsesuaiCQDTruck_id">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.RenderFieldHeader(subAktivitasFormInputNilaiARsesuaiCqdTruckList.id))</div></th>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckList.id.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.idAktifitas.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_idAktifitas" class="SubAktivitasFormInputNilaiARsesuaiCQDTruck_idAktifitas">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.RenderFieldHeader(subAktivitasFormInputNilaiARsesuaiCqdTruckList.idAktifitas))</div></th>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckList.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.idProses.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_idProses" class="SubAktivitasFormInputNilaiARsesuaiCQDTruck_idProses">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.RenderFieldHeader(subAktivitasFormInputNilaiARsesuaiCqdTruckList.idProses))</div></th>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckList.idProses.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.NoReferensi.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_NoReferensi" class="SubAktivitasFormInputNilaiARsesuaiCQDTruck_NoReferensi">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.RenderFieldHeader(subAktivitasFormInputNilaiARsesuaiCqdTruckList.NoReferensi))</div></th>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckList.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.KL_Obs.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckList.KL_Obs.Visible (begin)
        <th data-name="KL_Obs" class="@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.KL_Obs.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_KL_Obs" class="SubAktivitasFormInputNilaiARsesuaiCQDTruck_KL_Obs">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.RenderFieldHeader(subAktivitasFormInputNilaiARsesuaiCqdTruckList.KL_Obs))</div></th>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckList.KL_Obs.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.KL_15.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckList.KL_15.Visible (begin)
        <th data-name="KL_15" class="@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.KL_15.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_KL_15" class="SubAktivitasFormInputNilaiARsesuaiCQDTruck_KL_15">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.RenderFieldHeader(subAktivitasFormInputNilaiARsesuaiCqdTruckList.KL_15))</div></th>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckList.KL_15.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.Barrels.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckList.Barrels.Visible (begin)
        <th data-name="Barrels" class="@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.Barrels.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_Barrels" class="SubAktivitasFormInputNilaiARsesuaiCQDTruck_Barrels">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.RenderFieldHeader(subAktivitasFormInputNilaiARsesuaiCqdTruckList.Barrels))</div></th>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckList.Barrels.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.LT.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckList.LT.Visible (begin)
        <th data-name="LT" class="@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.LT.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_LT" class="SubAktivitasFormInputNilaiARsesuaiCQDTruck_LT">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.RenderFieldHeader(subAktivitasFormInputNilaiARsesuaiCqdTruckList.LT))</div></th>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckList.LT.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.MT.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckList.MT.Visible (begin)
        <th data-name="MT" class="@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.MT.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_MT" class="SubAktivitasFormInputNilaiARsesuaiCQDTruck_MT">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.RenderFieldHeader(subAktivitasFormInputNilaiARsesuaiCqdTruckList.MT))</div></th>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckList.MT.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.userInput.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_userInput" class="SubAktivitasFormInputNilaiARsesuaiCQDTruck_userInput">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.RenderFieldHeader(subAktivitasFormInputNilaiARsesuaiCqdTruckList.userInput))</div></th>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckList.userInput.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.etlDate.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_etlDate" class="SubAktivitasFormInputNilaiARsesuaiCQDTruck_etlDate">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.RenderFieldHeader(subAktivitasFormInputNilaiARsesuaiCqdTruckList.etlDate))</div></th>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckList.etlDate.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.LastUpdatedBy.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_LastUpdatedBy" class="SubAktivitasFormInputNilaiARsesuaiCQDTruck_LastUpdatedBy">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.RenderFieldHeader(subAktivitasFormInputNilaiARsesuaiCqdTruckList.LastUpdatedBy))</div></th>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.lastUpdatedDate.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_lastUpdatedDate" class="SubAktivitasFormInputNilaiARsesuaiCQDTruck_lastUpdatedDate">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.RenderFieldHeader(subAktivitasFormInputNilaiARsesuaiCqdTruckList.lastUpdatedDate))</div></th>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.StatusAktivitas.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasFormInputNilaiARsesuaiCQDTruck_StatusAktivitas" class="SubAktivitasFormInputNilaiARsesuaiCQDTruck_StatusAktivitas">@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.RenderFieldHeader(subAktivitasFormInputNilaiARsesuaiCqdTruckList.StatusAktivitas))</div></th>
} @* subAktivitasFormInputNilaiARsesuaiCqdTruckList.StatusAktivitas.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasFormInputNilaiARsesuaiCqdTruckList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.PageNumber)">
@{
    await subAktivitasFormInputNilaiARsesuaiCqdTruckList.SetupGrid();
    bool eof = subAktivitasFormInputNilaiARsesuaiCqdTruckList.Recordset == null; // DN
}
@while (subAktivitasFormInputNilaiARsesuaiCqdTruckList.RecordCount < subAktivitasFormInputNilaiARsesuaiCqdTruckList.StopRecord || SameString(subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowIndex, "$rowindex$") &&
        (!subAktivitasFormInputNilaiARsesuaiCqdTruckList.IsGridAdd || subAktivitasFormInputNilaiARsesuaiCqdTruckList.CurrentMode == "copy") &&
        (!((subAktivitasFormInputNilaiARsesuaiCqdTruckList.IsCopy || subAktivitasFormInputNilaiARsesuaiCqdTruckList.IsAdd) && subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasFormInputNilaiARsesuaiCqdTruckList.Recordset.ReadAsync();
    subAktivitasFormInputNilaiARsesuaiCqdTruckList.RecordCount++;
    if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.RecordCount >= subAktivitasFormInputNilaiARsesuaiCqdTruckList.StartRecord) {
        await subAktivitasFormInputNilaiARsesuaiCqdTruckList.SetupRow();
    <tr @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasFormInputNilaiARsesuaiCqdTruckList.ListOptions.RenderBody("left", subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowCount)
    @if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.id.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.id.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowCount)_SubAktivitasFormInputNilaiARsesuaiCQDTruck_id" class="el_SubAktivitasFormInputNilaiARsesuaiCQDTruck_id">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiARsesuaiCqdTruckList.id.Visible (end) *@
    @if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.idAktifitas.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowCount)_SubAktivitasFormInputNilaiARsesuaiCQDTruck_idAktifitas" class="el_SubAktivitasFormInputNilaiARsesuaiCQDTruck_idAktifitas">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiARsesuaiCqdTruckList.idAktifitas.Visible (end) *@
    @if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.idProses.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.idProses.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowCount)_SubAktivitasFormInputNilaiARsesuaiCQDTruck_idProses" class="el_SubAktivitasFormInputNilaiARsesuaiCQDTruck_idProses">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiARsesuaiCqdTruckList.idProses.Visible (end) *@
    @if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.NoReferensi.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowCount)_SubAktivitasFormInputNilaiARsesuaiCQDTruck_NoReferensi" class="el_SubAktivitasFormInputNilaiARsesuaiCQDTruck_NoReferensi">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiARsesuaiCqdTruckList.NoReferensi.Visible (end) *@
    @if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.KL_Obs.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckList.KL_Obs.Visible (begin)
        <td data-name="KL_Obs" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.KL_Obs.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowCount)_SubAktivitasFormInputNilaiARsesuaiCQDTruck_KL_Obs" class="el_SubAktivitasFormInputNilaiARsesuaiCQDTruck_KL_Obs">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.KL_Obs.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.KL_Obs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiARsesuaiCqdTruckList.KL_Obs.Visible (end) *@
    @if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.KL_15.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckList.KL_15.Visible (begin)
        <td data-name="KL_15" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.KL_15.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowCount)_SubAktivitasFormInputNilaiARsesuaiCQDTruck_KL_15" class="el_SubAktivitasFormInputNilaiARsesuaiCQDTruck_KL_15">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.KL_15.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.KL_15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiARsesuaiCqdTruckList.KL_15.Visible (end) *@
    @if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.Barrels.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckList.Barrels.Visible (begin)
        <td data-name="Barrels" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.Barrels.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowCount)_SubAktivitasFormInputNilaiARsesuaiCQDTruck_Barrels" class="el_SubAktivitasFormInputNilaiARsesuaiCQDTruck_Barrels">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.Barrels.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.Barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiARsesuaiCqdTruckList.Barrels.Visible (end) *@
    @if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.LT.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckList.LT.Visible (begin)
        <td data-name="LT" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.LT.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowCount)_SubAktivitasFormInputNilaiARsesuaiCQDTruck_LT" class="el_SubAktivitasFormInputNilaiARsesuaiCQDTruck_LT">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.LT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.LT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiARsesuaiCqdTruckList.LT.Visible (end) *@
    @if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.MT.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckList.MT.Visible (begin)
        <td data-name="MT" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.MT.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowCount)_SubAktivitasFormInputNilaiARsesuaiCQDTruck_MT" class="el_SubAktivitasFormInputNilaiARsesuaiCQDTruck_MT">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.MT.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiARsesuaiCqdTruckList.MT.Visible (end) *@
    @if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.userInput.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.userInput.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowCount)_SubAktivitasFormInputNilaiARsesuaiCQDTruck_userInput" class="el_SubAktivitasFormInputNilaiARsesuaiCQDTruck_userInput">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiARsesuaiCqdTruckList.userInput.Visible (end) *@
    @if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.etlDate.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.etlDate.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowCount)_SubAktivitasFormInputNilaiARsesuaiCQDTruck_etlDate" class="el_SubAktivitasFormInputNilaiARsesuaiCQDTruck_etlDate">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiARsesuaiCqdTruckList.etlDate.Visible (end) *@
    @if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.LastUpdatedBy.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowCount)_SubAktivitasFormInputNilaiARsesuaiCQDTruck_LastUpdatedBy" class="el_SubAktivitasFormInputNilaiARsesuaiCQDTruck_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiARsesuaiCqdTruckList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.lastUpdatedDate.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowCount)_SubAktivitasFormInputNilaiARsesuaiCQDTruck_lastUpdatedDate" class="el_SubAktivitasFormInputNilaiARsesuaiCQDTruck_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiARsesuaiCqdTruckList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasFormInputNilaiARsesuaiCqdTruckList.StatusAktivitas.Visible) { // subAktivitasFormInputNilaiARsesuaiCqdTruckList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowCount)_SubAktivitasFormInputNilaiARsesuaiCQDTruck_StatusAktivitas" class="el_SubAktivitasFormInputNilaiARsesuaiCQDTruck_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasFormInputNilaiARsesuaiCqdTruckList.StatusAktivitas.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasFormInputNilaiARsesuaiCqdTruckList.ListOptions.RenderBody("right", subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowIndex, "$rowindex$"))
        subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasFormInputNilaiARsesuaiCqdTruckList.IsCopy || subAktivitasFormInputNilaiARsesuaiCqdTruckList.IsAdd) && subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasFormInputNilaiARsesuaiCqdTruckList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasFormInputNilaiARsesuaiCqdTruckList.CurrentAction) && !subAktivitasFormInputNilaiARsesuaiCqdTruckList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasFormInputNilaiARsesuaiCqdTruckList.CloseRecordset(); }
@if (!subAktivitasFormInputNilaiARsesuaiCqdTruckList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasFormInputNilaiARsesuaiCqdTruckList.IsGridAdd && !(subAktivitasFormInputNilaiARsesuaiCqdTruckList.IsGridEdit && subAktivitasFormInputNilaiARsesuaiCqdTruckList.ModalGridEdit) && !subAktivitasFormInputNilaiARsesuaiCqdTruckList.IsMultiEdit) {
@Html.Raw(subAktivitasFormInputNilaiARsesuaiCqdTruckList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasFormInputNilaiARsesuaiCqdTruckList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasFormInputNilaiARsesuaiCqdTruckList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasFormInputNilaiARsesuaiCqdTruckList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasFormInputNilaiARsesuaiCqdTruckList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputNilaiARsesuaiCqdTruckList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputNilaiARsesuaiCQDTruck");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
