@{
    // View
    View = this;

    // Check action result
    if (subAktivitasInputLogbookPenerimaanPenKonLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasInputLogbookPenerimaanPenKonLpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasInputLogbookPenerimaanPenKonLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasInputLogbookPenerimaanPenKonLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasInputLogbookPenerimaanPenKonLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasInputLogbookPenerimaanPenKonLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasInputLogbookPenerimaanPenKonLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasInputLogbookPenerimaanPenKonLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasInputLogbookPenerimaanPenKonLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasInputLogbookPenerimaanPenKonLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasInputLogbookPenerimaanPenKonLpgList.TotalRecords > 0 && subAktivitasInputLogbookPenerimaanPenKonLpgList.ExportOptions.Visible) {
    subAktivitasInputLogbookPenerimaanPenKonLpgList.ExportOptions.Render("body");
}
@if (subAktivitasInputLogbookPenerimaanPenKonLpgList.ImportOptions.Visible) {
    subAktivitasInputLogbookPenerimaanPenKonLpgList.ImportOptions.Render("body");
}
@if (subAktivitasInputLogbookPenerimaanPenKonLpgList.SearchOptions.Visible) {
    subAktivitasInputLogbookPenerimaanPenKonLpgList.SearchOptions.Render("body");
}
@if (subAktivitasInputLogbookPenerimaanPenKonLpgList.FilterOptions.Visible) {
    subAktivitasInputLogbookPenerimaanPenKonLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasInputLogbookPenerimaanPenKonLpgList.IsModal) {
<form name="fSubAktivitasInputLogbookPenerimaanPenKonLPGsrch" id="fSubAktivitasInputLogbookPenerimaanPenKonLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasInputLogbookPenerimaanPenKonLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasInputLogbookPenerimaanPenKonLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasInputLogbookPenerimaanPenKonLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasInputLogbookPenerimaanPenKonLPG: currentTable } });
var currentForm;
var fSubAktivitasInputLogbookPenerimaanPenKonLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasInputLogbookPenerimaanPenKonLPGsrch")
        .setPageId("list")
@if (subAktivitasInputLogbookPenerimaanPenKonLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasInputLogbookPenerimaanPenKonLpgList.IsExport() && Empty(subAktivitasInputLogbookPenerimaanPenKonLpgList.CurrentAction) && subAktivitasInputLogbookPenerimaanPenKonLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasInputLogbookPenerimaanPenKonLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasInputLogbookPenerimaanPenKonLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasInputLogbookPenerimaanPenKonLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasInputLogbookPenerimaanPenKonLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasInputLogbookPenerimaanPenKonLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasInputLogbookPenerimaanPenKonLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasInputLogbookPenerimaanPenKonLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasInputLogbookPenerimaanPenKonLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasInputLogbookPenerimaanPenKonLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasInputLogbookPenerimaanPenKonLpgList.ShowPageHeader()
@subAktivitasInputLogbookPenerimaanPenKonLpgList.ShowMessages()
<main class="list @(subAktivitasInputLogbookPenerimaanPenKonLpgList.TotalRecords == 0 && !subAktivitasInputLogbookPenerimaanPenKonLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasInputLogbookPenerimaanPenKonLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasInputLogbookPenerimaanPenKonLpgList.TotalRecords > 0 || !Empty(subAktivitasInputLogbookPenerimaanPenKonLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasInputLogbookPenerimaanPenKonLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasInputLogbookPenerimaanPenKonLpgList.TableGridClass)">
<form name="@(subAktivitasInputLogbookPenerimaanPenKonLpgList.FormName)" id="@(subAktivitasInputLogbookPenerimaanPenKonLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasInputLogbookPenerimaanPenKonLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasInputLogbookPenerimaanPenKonLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasInputLogbookPenerimaanPenKonLPG" class="card-body ew-grid-middle-panel @(subAktivitasInputLogbookPenerimaanPenKonLpgList.TableContainerClass)" style="@(subAktivitasInputLogbookPenerimaanPenKonLpgList.TableContainerStyle)">
@if (subAktivitasInputLogbookPenerimaanPenKonLpgList.TotalRecords > 0 || subAktivitasInputLogbookPenerimaanPenKonLpgList.IsGridEdit || subAktivitasInputLogbookPenerimaanPenKonLpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasInputLogbookPenerimaanPenKonLPGlist" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasInputLogbookPenerimaanPenKonLpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasInputLogbookPenerimaanPenKonLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasInputLogbookPenerimaanPenKonLpgList.ListOptions.RenderHeader("left")
@if (subAktivitasInputLogbookPenerimaanPenKonLpgList.id.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasInputLogbookPenerimaanPenKonLPG_id" class="SubAktivitasInputLogbookPenerimaanPenKonLPG_id">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.RenderFieldHeader(subAktivitasInputLogbookPenerimaanPenKonLpgList.id))</div></th>
} @* subAktivitasInputLogbookPenerimaanPenKonLpgList.id.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonLpgList.idProses.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasInputLogbookPenerimaanPenKonLPG_idProses" class="SubAktivitasInputLogbookPenerimaanPenKonLPG_idProses">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.RenderFieldHeader(subAktivitasInputLogbookPenerimaanPenKonLpgList.idProses))</div></th>
} @* subAktivitasInputLogbookPenerimaanPenKonLpgList.idProses.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonLpgList.idAktifitas.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasInputLogbookPenerimaanPenKonLPG_idAktifitas" class="SubAktivitasInputLogbookPenerimaanPenKonLPG_idAktifitas">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.RenderFieldHeader(subAktivitasInputLogbookPenerimaanPenKonLpgList.idAktifitas))</div></th>
} @* subAktivitasInputLogbookPenerimaanPenKonLpgList.idAktifitas.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonLpgList.NoReferensi.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasInputLogbookPenerimaanPenKonLPG_NoReferensi" class="SubAktivitasInputLogbookPenerimaanPenKonLPG_NoReferensi">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.RenderFieldHeader(subAktivitasInputLogbookPenerimaanPenKonLpgList.NoReferensi))</div></th>
} @* subAktivitasInputLogbookPenerimaanPenKonLpgList.NoReferensi.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonLpgList.Nama_Kapal.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgList.Nama_Kapal.Visible (begin)
        <th data-name="Nama_Kapal" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgList.Nama_Kapal.HeaderCellClass)"><div id="elh_SubAktivitasInputLogbookPenerimaanPenKonLPG_Nama_Kapal" class="SubAktivitasInputLogbookPenerimaanPenKonLPG_Nama_Kapal">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.RenderFieldHeader(subAktivitasInputLogbookPenerimaanPenKonLpgList.Nama_Kapal))</div></th>
} @* subAktivitasInputLogbookPenerimaanPenKonLpgList.Nama_Kapal.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonLpgList.Tanggal.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgList.Tanggal.Visible (begin)
        <th data-name="Tanggal" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgList.Tanggal.HeaderCellClass)"><div id="elh_SubAktivitasInputLogbookPenerimaanPenKonLPG_Tanggal" class="SubAktivitasInputLogbookPenerimaanPenKonLPG_Tanggal">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.RenderFieldHeader(subAktivitasInputLogbookPenerimaanPenKonLpgList.Tanggal))</div></th>
} @* subAktivitasInputLogbookPenerimaanPenKonLpgList.Tanggal.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonLpgList.Nama_Kegiatan.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgList.Nama_Kegiatan.Visible (begin)
        <th data-name="Nama_Kegiatan" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgList.Nama_Kegiatan.HeaderCellClass)"><div id="elh_SubAktivitasInputLogbookPenerimaanPenKonLPG_Nama_Kegiatan" class="SubAktivitasInputLogbookPenerimaanPenKonLPG_Nama_Kegiatan">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.RenderFieldHeader(subAktivitasInputLogbookPenerimaanPenKonLpgList.Nama_Kegiatan))</div></th>
} @* subAktivitasInputLogbookPenerimaanPenKonLpgList.Nama_Kegiatan.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonLpgList.Produk.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgList.Produk.Visible (begin)
        <th data-name="Produk" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgList.Produk.HeaderCellClass)"><div id="elh_SubAktivitasInputLogbookPenerimaanPenKonLPG_Produk" class="SubAktivitasInputLogbookPenerimaanPenKonLPG_Produk">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.RenderFieldHeader(subAktivitasInputLogbookPenerimaanPenKonLpgList.Produk))</div></th>
} @* subAktivitasInputLogbookPenerimaanPenKonLpgList.Produk.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonLpgList.Density.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgList.Density.Visible (begin)
        <th data-name="Density" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgList.Density.HeaderCellClass)"><div id="elh_SubAktivitasInputLogbookPenerimaanPenKonLPG_Density" class="SubAktivitasInputLogbookPenerimaanPenKonLPG_Density">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.RenderFieldHeader(subAktivitasInputLogbookPenerimaanPenKonLpgList.Density))</div></th>
} @* subAktivitasInputLogbookPenerimaanPenKonLpgList.Density.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonLpgList.Temperatur.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgList.Temperatur.Visible (begin)
        <th data-name="Temperatur" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgList.Temperatur.HeaderCellClass)"><div id="elh_SubAktivitasInputLogbookPenerimaanPenKonLPG_Temperatur" class="SubAktivitasInputLogbookPenerimaanPenKonLPG_Temperatur">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.RenderFieldHeader(subAktivitasInputLogbookPenerimaanPenKonLpgList.Temperatur))</div></th>
} @* subAktivitasInputLogbookPenerimaanPenKonLpgList.Temperatur.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonLpgList.Keterangan.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgList.Keterangan.Visible (begin)
        <th data-name="Keterangan" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgList.Keterangan.HeaderCellClass)"><div id="elh_SubAktivitasInputLogbookPenerimaanPenKonLPG_Keterangan" class="SubAktivitasInputLogbookPenerimaanPenKonLPG_Keterangan">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.RenderFieldHeader(subAktivitasInputLogbookPenerimaanPenKonLpgList.Keterangan))</div></th>
} @* subAktivitasInputLogbookPenerimaanPenKonLpgList.Keterangan.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonLpgList.userInput.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasInputLogbookPenerimaanPenKonLPG_userInput" class="SubAktivitasInputLogbookPenerimaanPenKonLPG_userInput">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.RenderFieldHeader(subAktivitasInputLogbookPenerimaanPenKonLpgList.userInput))</div></th>
} @* subAktivitasInputLogbookPenerimaanPenKonLpgList.userInput.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonLpgList.etlDate.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasInputLogbookPenerimaanPenKonLPG_etlDate" class="SubAktivitasInputLogbookPenerimaanPenKonLPG_etlDate">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.RenderFieldHeader(subAktivitasInputLogbookPenerimaanPenKonLpgList.etlDate))</div></th>
} @* subAktivitasInputLogbookPenerimaanPenKonLpgList.etlDate.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonLpgList.LastUpdatedBy.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasInputLogbookPenerimaanPenKonLPG_LastUpdatedBy" class="SubAktivitasInputLogbookPenerimaanPenKonLPG_LastUpdatedBy">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.RenderFieldHeader(subAktivitasInputLogbookPenerimaanPenKonLpgList.LastUpdatedBy))</div></th>
} @* subAktivitasInputLogbookPenerimaanPenKonLpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonLpgList.lastUpdatedDate.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasInputLogbookPenerimaanPenKonLPG_lastUpdatedDate" class="SubAktivitasInputLogbookPenerimaanPenKonLPG_lastUpdatedDate">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.RenderFieldHeader(subAktivitasInputLogbookPenerimaanPenKonLpgList.lastUpdatedDate))</div></th>
} @* subAktivitasInputLogbookPenerimaanPenKonLpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasInputLogbookPenerimaanPenKonLpgList.SubAktivitasHasilPemeriksaanId.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgList.SubAktivitasHasilPemeriksaanId.Visible (begin)
        <th data-name="SubAktivitasHasilPemeriksaanId" class="@(subAktivitasInputLogbookPenerimaanPenKonLpgList.SubAktivitasHasilPemeriksaanId.HeaderCellClass)"><div id="elh_SubAktivitasInputLogbookPenerimaanPenKonLPG_SubAktivitasHasilPemeriksaanId" class="SubAktivitasInputLogbookPenerimaanPenKonLPG_SubAktivitasHasilPemeriksaanId">@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.RenderFieldHeader(subAktivitasInputLogbookPenerimaanPenKonLpgList.SubAktivitasHasilPemeriksaanId))</div></th>
} @* subAktivitasInputLogbookPenerimaanPenKonLpgList.SubAktivitasHasilPemeriksaanId.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasInputLogbookPenerimaanPenKonLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasInputLogbookPenerimaanPenKonLpgList.PageNumber)">
@{
    await subAktivitasInputLogbookPenerimaanPenKonLpgList.SetupGrid();
    bool eof = subAktivitasInputLogbookPenerimaanPenKonLpgList.Recordset == null; // DN
}
@while (subAktivitasInputLogbookPenerimaanPenKonLpgList.RecordCount < subAktivitasInputLogbookPenerimaanPenKonLpgList.StopRecord || SameString(subAktivitasInputLogbookPenerimaanPenKonLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasInputLogbookPenerimaanPenKonLpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasInputLogbookPenerimaanPenKonLpgList.IsGridAdd || subAktivitasInputLogbookPenerimaanPenKonLpgList.CurrentMode == "copy") &&
        (!((subAktivitasInputLogbookPenerimaanPenKonLpgList.IsCopy || subAktivitasInputLogbookPenerimaanPenKonLpgList.IsAdd) && subAktivitasInputLogbookPenerimaanPenKonLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasInputLogbookPenerimaanPenKonLpgList.Recordset.ReadAsync();
    subAktivitasInputLogbookPenerimaanPenKonLpgList.RecordCount++;
    if (subAktivitasInputLogbookPenerimaanPenKonLpgList.RecordCount >= subAktivitasInputLogbookPenerimaanPenKonLpgList.StartRecord) {
        await subAktivitasInputLogbookPenerimaanPenKonLpgList.SetupRow();
    <tr @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasInputLogbookPenerimaanPenKonLpgList.ListOptions.RenderBody("left", subAktivitasInputLogbookPenerimaanPenKonLpgList.RowCount)
    @if (subAktivitasInputLogbookPenerimaanPenKonLpgList.id.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasInputLogbookPenerimaanPenKonLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputLogbookPenerimaanPenKonLpgList.RowCount)_SubAktivitasInputLogbookPenerimaanPenKonLPG_id" class="el_SubAktivitasInputLogbookPenerimaanPenKonLPG_id">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputLogbookPenerimaanPenKonLpgList.id.Visible (end) *@
    @if (subAktivitasInputLogbookPenerimaanPenKonLpgList.idProses.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasInputLogbookPenerimaanPenKonLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputLogbookPenerimaanPenKonLpgList.RowCount)_SubAktivitasInputLogbookPenerimaanPenKonLPG_idProses" class="el_SubAktivitasInputLogbookPenerimaanPenKonLPG_idProses">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputLogbookPenerimaanPenKonLpgList.idProses.Visible (end) *@
    @if (subAktivitasInputLogbookPenerimaanPenKonLpgList.idAktifitas.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasInputLogbookPenerimaanPenKonLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputLogbookPenerimaanPenKonLpgList.RowCount)_SubAktivitasInputLogbookPenerimaanPenKonLPG_idAktifitas" class="el_SubAktivitasInputLogbookPenerimaanPenKonLPG_idAktifitas">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputLogbookPenerimaanPenKonLpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasInputLogbookPenerimaanPenKonLpgList.NoReferensi.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasInputLogbookPenerimaanPenKonLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputLogbookPenerimaanPenKonLpgList.RowCount)_SubAktivitasInputLogbookPenerimaanPenKonLPG_NoReferensi" class="el_SubAktivitasInputLogbookPenerimaanPenKonLPG_NoReferensi">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputLogbookPenerimaanPenKonLpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasInputLogbookPenerimaanPenKonLpgList.Nama_Kapal.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgList.Nama_Kapal.Visible (begin)
        <td data-name="Nama_Kapal" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.Nama_Kapal.CellAttributes)>
<span id="el@(SameString(subAktivitasInputLogbookPenerimaanPenKonLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputLogbookPenerimaanPenKonLpgList.RowCount)_SubAktivitasInputLogbookPenerimaanPenKonLPG_Nama_Kapal" class="el_SubAktivitasInputLogbookPenerimaanPenKonLPG_Nama_Kapal">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.Nama_Kapal.ViewAttributes)>
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.Nama_Kapal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputLogbookPenerimaanPenKonLpgList.Nama_Kapal.Visible (end) *@
    @if (subAktivitasInputLogbookPenerimaanPenKonLpgList.Tanggal.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgList.Tanggal.Visible (begin)
        <td data-name="Tanggal" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.Tanggal.CellAttributes)>
<span id="el@(SameString(subAktivitasInputLogbookPenerimaanPenKonLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputLogbookPenerimaanPenKonLpgList.RowCount)_SubAktivitasInputLogbookPenerimaanPenKonLPG_Tanggal" class="el_SubAktivitasInputLogbookPenerimaanPenKonLPG_Tanggal">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.Tanggal.ViewAttributes)>
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.Tanggal.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputLogbookPenerimaanPenKonLpgList.Tanggal.Visible (end) *@
    @if (subAktivitasInputLogbookPenerimaanPenKonLpgList.Nama_Kegiatan.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgList.Nama_Kegiatan.Visible (begin)
        <td data-name="Nama_Kegiatan" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.Nama_Kegiatan.CellAttributes)>
<span id="el@(SameString(subAktivitasInputLogbookPenerimaanPenKonLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputLogbookPenerimaanPenKonLpgList.RowCount)_SubAktivitasInputLogbookPenerimaanPenKonLPG_Nama_Kegiatan" class="el_SubAktivitasInputLogbookPenerimaanPenKonLPG_Nama_Kegiatan">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.Nama_Kegiatan.ViewAttributes)>
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.Nama_Kegiatan.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputLogbookPenerimaanPenKonLpgList.Nama_Kegiatan.Visible (end) *@
    @if (subAktivitasInputLogbookPenerimaanPenKonLpgList.Produk.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgList.Produk.Visible (begin)
        <td data-name="Produk" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.Produk.CellAttributes)>
<span id="el@(SameString(subAktivitasInputLogbookPenerimaanPenKonLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputLogbookPenerimaanPenKonLpgList.RowCount)_SubAktivitasInputLogbookPenerimaanPenKonLPG_Produk" class="el_SubAktivitasInputLogbookPenerimaanPenKonLPG_Produk">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.Produk.ViewAttributes)>
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.Produk.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputLogbookPenerimaanPenKonLpgList.Produk.Visible (end) *@
    @if (subAktivitasInputLogbookPenerimaanPenKonLpgList.Density.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgList.Density.Visible (begin)
        <td data-name="Density" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.Density.CellAttributes)>
<span id="el@(SameString(subAktivitasInputLogbookPenerimaanPenKonLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputLogbookPenerimaanPenKonLpgList.RowCount)_SubAktivitasInputLogbookPenerimaanPenKonLPG_Density" class="el_SubAktivitasInputLogbookPenerimaanPenKonLPG_Density">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.Density.ViewAttributes)>
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.Density.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputLogbookPenerimaanPenKonLpgList.Density.Visible (end) *@
    @if (subAktivitasInputLogbookPenerimaanPenKonLpgList.Temperatur.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgList.Temperatur.Visible (begin)
        <td data-name="Temperatur" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.Temperatur.CellAttributes)>
<span id="el@(SameString(subAktivitasInputLogbookPenerimaanPenKonLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputLogbookPenerimaanPenKonLpgList.RowCount)_SubAktivitasInputLogbookPenerimaanPenKonLPG_Temperatur" class="el_SubAktivitasInputLogbookPenerimaanPenKonLPG_Temperatur">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.Temperatur.ViewAttributes)>
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.Temperatur.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputLogbookPenerimaanPenKonLpgList.Temperatur.Visible (end) *@
    @if (subAktivitasInputLogbookPenerimaanPenKonLpgList.Keterangan.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgList.Keterangan.Visible (begin)
        <td data-name="Keterangan" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.Keterangan.CellAttributes)>
<span id="el@(SameString(subAktivitasInputLogbookPenerimaanPenKonLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputLogbookPenerimaanPenKonLpgList.RowCount)_SubAktivitasInputLogbookPenerimaanPenKonLPG_Keterangan" class="el_SubAktivitasInputLogbookPenerimaanPenKonLPG_Keterangan">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.Keterangan.ViewAttributes)>
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.Keterangan.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputLogbookPenerimaanPenKonLpgList.Keterangan.Visible (end) *@
    @if (subAktivitasInputLogbookPenerimaanPenKonLpgList.userInput.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasInputLogbookPenerimaanPenKonLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputLogbookPenerimaanPenKonLpgList.RowCount)_SubAktivitasInputLogbookPenerimaanPenKonLPG_userInput" class="el_SubAktivitasInputLogbookPenerimaanPenKonLPG_userInput">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputLogbookPenerimaanPenKonLpgList.userInput.Visible (end) *@
    @if (subAktivitasInputLogbookPenerimaanPenKonLpgList.etlDate.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasInputLogbookPenerimaanPenKonLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputLogbookPenerimaanPenKonLpgList.RowCount)_SubAktivitasInputLogbookPenerimaanPenKonLPG_etlDate" class="el_SubAktivitasInputLogbookPenerimaanPenKonLPG_etlDate">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputLogbookPenerimaanPenKonLpgList.etlDate.Visible (end) *@
    @if (subAktivitasInputLogbookPenerimaanPenKonLpgList.LastUpdatedBy.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasInputLogbookPenerimaanPenKonLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputLogbookPenerimaanPenKonLpgList.RowCount)_SubAktivitasInputLogbookPenerimaanPenKonLPG_LastUpdatedBy" class="el_SubAktivitasInputLogbookPenerimaanPenKonLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputLogbookPenerimaanPenKonLpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasInputLogbookPenerimaanPenKonLpgList.lastUpdatedDate.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasInputLogbookPenerimaanPenKonLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputLogbookPenerimaanPenKonLpgList.RowCount)_SubAktivitasInputLogbookPenerimaanPenKonLPG_lastUpdatedDate" class="el_SubAktivitasInputLogbookPenerimaanPenKonLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputLogbookPenerimaanPenKonLpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasInputLogbookPenerimaanPenKonLpgList.SubAktivitasHasilPemeriksaanId.Visible) { // subAktivitasInputLogbookPenerimaanPenKonLpgList.SubAktivitasHasilPemeriksaanId.Visible (begin)
        <td data-name="SubAktivitasHasilPemeriksaanId" @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.SubAktivitasHasilPemeriksaanId.CellAttributes)>
<span id="el@(SameString(subAktivitasInputLogbookPenerimaanPenKonLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasInputLogbookPenerimaanPenKonLpgList.RowCount)_SubAktivitasInputLogbookPenerimaanPenKonLPG_SubAktivitasHasilPemeriksaanId" class="el_SubAktivitasInputLogbookPenerimaanPenKonLPG_SubAktivitasHasilPemeriksaanId">
<span @Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.SubAktivitasHasilPemeriksaanId.ViewAttributes)>
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.SubAktivitasHasilPemeriksaanId.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputLogbookPenerimaanPenKonLpgList.SubAktivitasHasilPemeriksaanId.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasInputLogbookPenerimaanPenKonLpgList.ListOptions.RenderBody("right", subAktivitasInputLogbookPenerimaanPenKonLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasInputLogbookPenerimaanPenKonLpgList.RowIndex, "$rowindex$"))
        subAktivitasInputLogbookPenerimaanPenKonLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasInputLogbookPenerimaanPenKonLpgList.IsCopy || subAktivitasInputLogbookPenerimaanPenKonLpgList.IsAdd) && subAktivitasInputLogbookPenerimaanPenKonLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasInputLogbookPenerimaanPenKonLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasInputLogbookPenerimaanPenKonLpgList.CurrentAction) && !subAktivitasInputLogbookPenerimaanPenKonLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasInputLogbookPenerimaanPenKonLpgList.CloseRecordset(); }
@if (!subAktivitasInputLogbookPenerimaanPenKonLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasInputLogbookPenerimaanPenKonLpgList.IsGridAdd && !(subAktivitasInputLogbookPenerimaanPenKonLpgList.IsGridEdit && subAktivitasInputLogbookPenerimaanPenKonLpgList.ModalGridEdit) && !subAktivitasInputLogbookPenerimaanPenKonLpgList.IsMultiEdit) {
@Html.Raw(subAktivitasInputLogbookPenerimaanPenKonLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasInputLogbookPenerimaanPenKonLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasInputLogbookPenerimaanPenKonLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasInputLogbookPenerimaanPenKonLpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasInputLogbookPenerimaanPenKonLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasInputLogbookPenerimaanPenKonLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasInputLogbookPenerimaanPenKonLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
