@{
    // View
    View = this;

    // Check action result
    if (subaktivitasInputLogbookPenyaluranPipaBackupView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subaktivitasInputLogbookPenyaluranPipaBackupView.UseLayout ? "_Layout" : "";
}
@if (!subaktivitasInputLogbookPenyaluranPipaBackupView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @subaktivitasInputLogbookPenyaluranPipaBackupView.ExportOptions.RenderBody()
    @subaktivitasInputLogbookPenyaluranPipaBackupView.OtherOptions.RenderBody()
</div>
}
@subaktivitasInputLogbookPenyaluranPipaBackupView.ShowPageHeader()
@subaktivitasInputLogbookPenyaluranPipaBackupView.ShowMessages()
<main class="view">
<form name="fSubaktivitasInputLogbookPenyaluranPipa_Backupview" id="fSubaktivitasInputLogbookPenyaluranPipa_Backupview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!subaktivitasInputLogbookPenyaluranPipaBackupView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subaktivitasInputLogbookPenyaluranPipaBackupView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubaktivitasInputLogbookPenyaluranPipa_Backup: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fSubaktivitasInputLogbookPenyaluranPipa_Backupview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubaktivitasInputLogbookPenyaluranPipa_Backupview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(subaktivitasInputLogbookPenyaluranPipaBackupView.IsModal)">
<table class="@(subaktivitasInputLogbookPenyaluranPipaBackupView.TableClass)">
@if (subaktivitasInputLogbookPenyaluranPipaBackupView.id.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupView.id.Visible (begin)
    <tr id="r_id" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.id.RowAttributes)>
        <td class="@(subaktivitasInputLogbookPenyaluranPipaBackupView.TableLeftColumnClass)"><span id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_id">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.id.Caption)</span></td>
        <td data-name="id" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.id.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_id">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.id.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.id.GetViewValue())</span>
</span></td>
    </tr>
} @* subaktivitasInputLogbookPenyaluranPipaBackupView.id.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupView.idAktifitas.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupView.idAktifitas.Visible (begin)
    <tr id="r_idAktifitas" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.idAktifitas.RowAttributes)>
        <td class="@(subaktivitasInputLogbookPenyaluranPipaBackupView.TableLeftColumnClass)"><span id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_idAktifitas">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.idAktifitas.Caption)</span></td>
        <td data-name="idAktifitas" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.idAktifitas.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_idAktifitas">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.idAktifitas.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.idAktifitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subaktivitasInputLogbookPenyaluranPipaBackupView.idAktifitas.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupView.NomorTangki.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupView.NomorTangki.Visible (begin)
    <tr id="r_NomorTangki" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.NomorTangki.RowAttributes)>
        <td class="@(subaktivitasInputLogbookPenyaluranPipaBackupView.TableLeftColumnClass)"><span id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_NomorTangki">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.NomorTangki.Caption)</span></td>
        <td data-name="NomorTangki" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.NomorTangki.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_NomorTangki">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.NomorTangki.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.NomorTangki.GetViewValue())</span>
</span></td>
    </tr>
} @* subaktivitasInputLogbookPenyaluranPipaBackupView.NomorTangki.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupView.LO.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupView.LO.Visible (begin)
    <tr id="r_LO" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.LO.RowAttributes)>
        <td class="@(subaktivitasInputLogbookPenyaluranPipaBackupView.TableLeftColumnClass)"><span id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_LO">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.LO.Caption)</span></td>
        <td data-name="LO" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.LO.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_LO">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.LO.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.LO.GetViewValue())</span>
</span></td>
    </tr>
} @* subaktivitasInputLogbookPenyaluranPipaBackupView.LO.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupView.Produk.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupView.Produk.Visible (begin)
    <tr id="r_Produk" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.Produk.RowAttributes)>
        <td class="@(subaktivitasInputLogbookPenyaluranPipaBackupView.TableLeftColumnClass)"><span id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_Produk">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.Produk.Caption)</span></td>
        <td data-name="Produk" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.Produk.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_Produk">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.Produk.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.Produk.GetViewValue())</span>
</span></td>
    </tr>
} @* subaktivitasInputLogbookPenyaluranPipaBackupView.Produk.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupView.MeterAwal.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupView.MeterAwal.Visible (begin)
    <tr id="r_MeterAwal" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.MeterAwal.RowAttributes)>
        <td class="@(subaktivitasInputLogbookPenyaluranPipaBackupView.TableLeftColumnClass)"><span id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_MeterAwal">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.MeterAwal.Caption)</span></td>
        <td data-name="MeterAwal" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.MeterAwal.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_MeterAwal">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.MeterAwal.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.MeterAwal.GetViewValue())</span>
</span></td>
    </tr>
} @* subaktivitasInputLogbookPenyaluranPipaBackupView.MeterAwal.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupView.MeterAkhir.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupView.MeterAkhir.Visible (begin)
    <tr id="r_MeterAkhir" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.MeterAkhir.RowAttributes)>
        <td class="@(subaktivitasInputLogbookPenyaluranPipaBackupView.TableLeftColumnClass)"><span id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_MeterAkhir">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.MeterAkhir.Caption)</span></td>
        <td data-name="MeterAkhir" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.MeterAkhir.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_MeterAkhir">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.MeterAkhir.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.MeterAkhir.GetViewValue())</span>
</span></td>
    </tr>
} @* subaktivitasInputLogbookPenyaluranPipaBackupView.MeterAkhir.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupView.Quantity.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupView.Quantity.Visible (begin)
    <tr id="r_Quantity" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.Quantity.RowAttributes)>
        <td class="@(subaktivitasInputLogbookPenyaluranPipaBackupView.TableLeftColumnClass)"><span id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_Quantity">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.Quantity.Caption)</span></td>
        <td data-name="Quantity" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.Quantity.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_Quantity">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.Quantity.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.Quantity.GetViewValue())</span>
</span></td>
    </tr>
} @* subaktivitasInputLogbookPenyaluranPipaBackupView.Quantity.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupView.BayNumber.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupView.BayNumber.Visible (begin)
    <tr id="r_BayNumber" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.BayNumber.RowAttributes)>
        <td class="@(subaktivitasInputLogbookPenyaluranPipaBackupView.TableLeftColumnClass)"><span id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_BayNumber">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.BayNumber.Caption)</span></td>
        <td data-name="BayNumber" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.BayNumber.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_BayNumber">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.BayNumber.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.BayNumber.GetViewValue())</span>
</span></td>
    </tr>
} @* subaktivitasInputLogbookPenyaluranPipaBackupView.BayNumber.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupView.userInput.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupView.userInput.Visible (begin)
    <tr id="r_userInput" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.userInput.RowAttributes)>
        <td class="@(subaktivitasInputLogbookPenyaluranPipaBackupView.TableLeftColumnClass)"><span id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_userInput">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.userInput.Caption)</span></td>
        <td data-name="userInput" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.userInput.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_userInput">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.userInput.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.userInput.GetViewValue())</span>
</span></td>
    </tr>
} @* subaktivitasInputLogbookPenyaluranPipaBackupView.userInput.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupView.etlDate.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupView.etlDate.Visible (begin)
    <tr id="r_etlDate" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.etlDate.RowAttributes)>
        <td class="@(subaktivitasInputLogbookPenyaluranPipaBackupView.TableLeftColumnClass)"><span id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_etlDate">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.etlDate.Caption)</span></td>
        <td data-name="etlDate" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.etlDate.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_etlDate">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.etlDate.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.etlDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subaktivitasInputLogbookPenyaluranPipaBackupView.etlDate.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupView.idProses.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupView.idProses.Visible (begin)
    <tr id="r_idProses" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.idProses.RowAttributes)>
        <td class="@(subaktivitasInputLogbookPenyaluranPipaBackupView.TableLeftColumnClass)"><span id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_idProses">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.idProses.Caption)</span></td>
        <td data-name="idProses" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.idProses.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_idProses">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.idProses.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.idProses.GetViewValue())</span>
</span></td>
    </tr>
} @* subaktivitasInputLogbookPenyaluranPipaBackupView.idProses.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupView.LastUpdatedBy.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupView.LastUpdatedBy.Visible (begin)
    <tr id="r_LastUpdatedBy" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.LastUpdatedBy.RowAttributes)>
        <td class="@(subaktivitasInputLogbookPenyaluranPipaBackupView.TableLeftColumnClass)"><span id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_LastUpdatedBy">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.LastUpdatedBy.Caption)</span></td>
        <td data-name="LastUpdatedBy" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.LastUpdatedBy.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_LastUpdatedBy">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.LastUpdatedBy.GetViewValue())</span>
</span></td>
    </tr>
} @* subaktivitasInputLogbookPenyaluranPipaBackupView.LastUpdatedBy.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupView.lastUpdatedDate.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupView.lastUpdatedDate.Visible (begin)
    <tr id="r_lastUpdatedDate" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.lastUpdatedDate.RowAttributes)>
        <td class="@(subaktivitasInputLogbookPenyaluranPipaBackupView.TableLeftColumnClass)"><span id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_lastUpdatedDate">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.lastUpdatedDate.Caption)</span></td>
        <td data-name="lastUpdatedDate" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.lastUpdatedDate.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_lastUpdatedDate">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.lastUpdatedDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subaktivitasInputLogbookPenyaluranPipaBackupView.lastUpdatedDate.Visible (end) *@
@if (subaktivitasInputLogbookPenyaluranPipaBackupView.NoReferensi.Visible) { // subaktivitasInputLogbookPenyaluranPipaBackupView.NoReferensi.Visible (begin)
    <tr id="r_NoReferensi" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.NoReferensi.RowAttributes)>
        <td class="@(subaktivitasInputLogbookPenyaluranPipaBackupView.TableLeftColumnClass)"><span id="elh_SubaktivitasInputLogbookPenyaluranPipa_Backup_NoReferensi">@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.NoReferensi.Caption)</span></td>
        <td data-name="NoReferensi" @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.NoReferensi.CellAttributes)>
<span id="el_SubaktivitasInputLogbookPenyaluranPipa_Backup_NoReferensi">
<span @Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.NoReferensi.ViewAttributes)>
@Html.Raw(subaktivitasInputLogbookPenyaluranPipaBackupView.NoReferensi.GetViewValue())</span>
</span></td>
    </tr>
} @* subaktivitasInputLogbookPenyaluranPipaBackupView.NoReferensi.Visible (end) *@
</table>
@{ subaktivitasInputLogbookPenyaluranPipaBackupView.CloseRecordset(); }
</form>
</main>
@subaktivitasInputLogbookPenyaluranPipaBackupView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subaktivitasInputLogbookPenyaluranPipaBackupView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
