@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputLogbookPenerimaanPipaEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputLogbookPenerimaanPipaEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasFormInputLogbookPenerimaanPipaEdit.ShowPageHeader()
@subAktivitasFormInputLogbookPenerimaanPipaEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasFormInputLogbookPenerimaanPipaedit" id="fSubAktivitasFormInputLogbookPenerimaanPipaedit" class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputLogbookPenerimaanPipaEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputLogbookPenerimaanPipa: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasFormInputLogbookPenerimaanPipaedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputLogbookPenerimaanPipaedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["NamaBatch", [fields.NamaBatch.visible && fields.NamaBatch.required ? ew.Validators.required(fields.NamaBatch.caption) : null], fields.NamaBatch.isInvalid],
            ["TanggalJam", [fields.TanggalJam.visible && fields.TanggalJam.required ? ew.Validators.required(fields.TanggalJam.caption) : null, ew.Validators.datetime(fields.TanggalJam.clientFormatPattern)], fields.TanggalJam.isInvalid],
            ["NamaKegiatan", [fields.NamaKegiatan.visible && fields.NamaKegiatan.required ? ew.Validators.required(fields.NamaKegiatan.caption) : null], fields.NamaKegiatan.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["Density", [fields.Density.visible && fields.Density.required ? ew.Validators.required(fields.Density.caption) : null], fields.Density.isInvalid],
            ["Temperature", [fields.Temperature.visible && fields.Temperature.required ? ew.Validators.required(fields.Temperature.caption) : null], fields.Temperature.isInvalid],
            ["Level", [fields.Level.visible && fields.Level.required ? ew.Validators.required(fields.Level.caption) : null], fields.Level.isInvalid],
            ["Volume", [fields.Volume.visible && fields.Volume.required ? ew.Validators.required(fields.Volume.caption) : null], fields.Volume.isInvalid],
            ["Flowrate", [fields.Flowrate.visible && fields.Flowrate.required ? ew.Validators.required(fields.Flowrate.caption) : null], fields.Flowrate.isInvalid],
            ["Keterangan", [fields.Keterangan.visible && fields.Keterangan.required ? ew.Validators.required(fields.Keterangan.caption) : null], fields.Keterangan.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["SubAktivitasHasilPemeriksaanId", [fields.SubAktivitasHasilPemeriksaanId.visible && fields.SubAktivitasHasilPemeriksaanId.required ? ew.Validators.required(fields.SubAktivitasHasilPemeriksaanId.caption) : null, ew.Validators.integer], fields.SubAktivitasHasilPemeriksaanId.isInvalid],
            ["TanggalJamSOP", [fields.TanggalJamSOP.visible && fields.TanggalJamSOP.required ? ew.Validators.required(fields.TanggalJamSOP.caption) : null, ew.Validators.datetime(fields.TanggalJamSOP.clientFormatPattern)], fields.TanggalJamSOP.isInvalid],
            ["SelisihWaktu", [fields.SelisihWaktu.visible && fields.SelisihWaktu.required ? ew.Validators.required(fields.SelisihWaktu.caption) : null], fields.SelisihWaktu.isInvalid],
            ["IsQualityActive", [fields.IsQualityActive.visible && fields.IsQualityActive.required ? ew.Validators.required(fields.IsQualityActive.caption) : null], fields.IsQualityActive.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "IsQualityActive": @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.IsQualityActive.ToClientList(subAktivitasFormInputLogbookPenerimaanPipaEdit)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputLogbookPenerimaanPipaEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.OldKeyName)" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasFormInputLogbookPenerimaanPipaEdit.id.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.id.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_id" class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.id.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.id.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanPipa_id">
<span @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasFormInputLogbookPenerimaanPipaEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasFormInputLogbookPenerimaanPipa" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanPipaEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanPipaEdit.id.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaEdit.idAktifitas.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_idAktifitas" for="x_idAktifitas" class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.idAktifitas.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanPipa_idAktifitas">
<input type="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubAktivitasFormInputLogbookPenerimaanPipa" data-field="x_idAktifitas" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanPipaEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.idAktifitas.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanPipaEdit.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaEdit.NamaBatch.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaEdit.NamaBatch.Visible (begin)
    <div id="r_NamaBatch" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.NamaBatch.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_NamaBatch" for="x_NamaBatch" class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.NamaBatch.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.NamaBatch.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.NamaBatch.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanPipa_NamaBatch">
<input type="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.NamaBatch.InputTextType)" name="x_NamaBatch" id="x_NamaBatch" data-table="SubAktivitasFormInputLogbookPenerimaanPipa" data-field="x_NamaBatch" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.NamaBatch.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanPipaEdit.NamaBatch.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.NamaBatch.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.NamaBatch.EditAttributes) aria-describedby="x_NamaBatch_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.NamaBatch.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.NamaBatch.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanPipaEdit.NamaBatch.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJam.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJam.Visible (begin)
    <div id="r_TanggalJam" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJam.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_TanggalJam" for="x_TanggalJam" class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJam.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJam.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJam.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanPipa_TanggalJam">
<input type="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJam.InputTextType)" name="x_TanggalJam" id="x_TanggalJam" data-table="SubAktivitasFormInputLogbookPenerimaanPipa" data-field="x_TanggalJam" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJam.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJam.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJam.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJam.EditAttributes) aria-describedby="x_TanggalJam_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJam.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJam.GetErrorMessage())</div>
@if (!subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJam.ReadOnly && !subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJam.Disabled && !subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJam.EditAttrs.Is("readonly") && !subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJam.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputLogbookPenerimaanPipaedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputLogbookPenerimaanPipaedit", "x_TanggalJam", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJam.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaEdit.NamaKegiatan.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaEdit.NamaKegiatan.Visible (begin)
    <div id="r_NamaKegiatan" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.NamaKegiatan.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_NamaKegiatan" for="x_NamaKegiatan" class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.NamaKegiatan.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.NamaKegiatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.NamaKegiatan.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanPipa_NamaKegiatan">
<input type="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.NamaKegiatan.InputTextType)" name="x_NamaKegiatan" id="x_NamaKegiatan" data-table="SubAktivitasFormInputLogbookPenerimaanPipa" data-field="x_NamaKegiatan" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.NamaKegiatan.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanPipaEdit.NamaKegiatan.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.NamaKegiatan.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.NamaKegiatan.EditAttributes) aria-describedby="x_NamaKegiatan_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.NamaKegiatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.NamaKegiatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanPipaEdit.NamaKegiatan.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaEdit.Produk.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Produk.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_Produk" for="x_Produk" class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Produk.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Produk.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanPipa_Produk">
<input type="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasFormInputLogbookPenerimaanPipa" data-field="x_Produk" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Produk.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanPipaEdit.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.Produk.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanPipaEdit.Produk.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaEdit.Density.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaEdit.Density.Visible (begin)
    <div id="r_Density" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Density.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_Density" for="x_Density" class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Density.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Density.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Density.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanPipa_Density">
<input type="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.Density.InputTextType)" name="x_Density" id="x_Density" data-table="SubAktivitasFormInputLogbookPenerimaanPipa" data-field="x_Density" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Density.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanPipaEdit.Density.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.Density.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Density.EditAttributes) aria-describedby="x_Density_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Density.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Density.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanPipaEdit.Density.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaEdit.Temperature.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaEdit.Temperature.Visible (begin)
    <div id="r_Temperature" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Temperature.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_Temperature" for="x_Temperature" class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Temperature.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Temperature.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Temperature.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanPipa_Temperature">
<input type="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.Temperature.InputTextType)" name="x_Temperature" id="x_Temperature" data-table="SubAktivitasFormInputLogbookPenerimaanPipa" data-field="x_Temperature" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Temperature.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanPipaEdit.Temperature.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.Temperature.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Temperature.EditAttributes) aria-describedby="x_Temperature_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Temperature.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Temperature.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanPipaEdit.Temperature.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaEdit.Level.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaEdit.Level.Visible (begin)
    <div id="r_Level" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Level.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_Level" for="x_Level" class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Level.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Level.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Level.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanPipa_Level">
<input type="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.Level.InputTextType)" name="x_Level" id="x_Level" data-table="SubAktivitasFormInputLogbookPenerimaanPipa" data-field="x_Level" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Level.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanPipaEdit.Level.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.Level.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Level.EditAttributes) aria-describedby="x_Level_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Level.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Level.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanPipaEdit.Level.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaEdit.Volume.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaEdit.Volume.Visible (begin)
    <div id="r_Volume" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Volume.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_Volume" for="x_Volume" class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Volume.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Volume.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Volume.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanPipa_Volume">
<input type="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.Volume.InputTextType)" name="x_Volume" id="x_Volume" data-table="SubAktivitasFormInputLogbookPenerimaanPipa" data-field="x_Volume" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Volume.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanPipaEdit.Volume.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.Volume.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Volume.EditAttributes) aria-describedby="x_Volume_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Volume.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Volume.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanPipaEdit.Volume.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaEdit.Flowrate.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaEdit.Flowrate.Visible (begin)
    <div id="r_Flowrate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Flowrate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_Flowrate" for="x_Flowrate" class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Flowrate.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Flowrate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Flowrate.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanPipa_Flowrate">
<input type="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.Flowrate.InputTextType)" name="x_Flowrate" id="x_Flowrate" data-table="SubAktivitasFormInputLogbookPenerimaanPipa" data-field="x_Flowrate" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Flowrate.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanPipaEdit.Flowrate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.Flowrate.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Flowrate.EditAttributes) aria-describedby="x_Flowrate_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Flowrate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Flowrate.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanPipaEdit.Flowrate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaEdit.Keterangan.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaEdit.Keterangan.Visible (begin)
    <div id="r_Keterangan" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Keterangan.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_Keterangan" for="x_Keterangan" class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Keterangan.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Keterangan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Keterangan.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanPipa_Keterangan">
<textarea data-table="SubAktivitasFormInputLogbookPenerimaanPipa" data-field="x_Keterangan" name="x_Keterangan" id="x_Keterangan" cols="35" rows="4" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanPipaEdit.Keterangan.PlaceHolder))"@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Keterangan.EditAttributes) aria-describedby="x_Keterangan_help">@(subAktivitasFormInputLogbookPenerimaanPipaEdit.Keterangan.EditValue)</textarea>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Keterangan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.Keterangan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanPipaEdit.Keterangan.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaEdit.userInput.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.userInput.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_userInput" for="x_userInput" class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.userInput.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanPipa_userInput">
<input type="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasFormInputLogbookPenerimaanPipa" data-field="x_userInput" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanPipaEdit.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.userInput.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanPipaEdit.userInput.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaEdit.etlDate.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_etlDate" for="x_etlDate" class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.etlDate.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanPipa_etlDate">
<input type="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasFormInputLogbookPenerimaanPipa" data-field="x_etlDate" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanPipaEdit.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.etlDate.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.etlDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputLogbookPenerimaanPipaEdit.etlDate.ReadOnly && !subAktivitasFormInputLogbookPenerimaanPipaEdit.etlDate.Disabled && !subAktivitasFormInputLogbookPenerimaanPipaEdit.etlDate.EditAttrs.Is("readonly") && !subAktivitasFormInputLogbookPenerimaanPipaEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputLogbookPenerimaanPipaedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputLogbookPenerimaanPipaedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanPipaEdit.etlDate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaEdit.idProses.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_idProses" for="x_idProses" class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.idProses.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanPipa_idProses">
<input type="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubAktivitasFormInputLogbookPenerimaanPipa" data-field="x_idProses" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanPipaEdit.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.idProses.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanPipaEdit.idProses.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaEdit.LastUpdatedBy.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanPipa_LastUpdatedBy">
<input type="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasFormInputLogbookPenerimaanPipa" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanPipaEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanPipaEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaEdit.lastUpdatedDate.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanPipa_lastUpdatedDate">
<input type="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasFormInputLogbookPenerimaanPipa" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanPipaEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputLogbookPenerimaanPipaEdit.lastUpdatedDate.ReadOnly && !subAktivitasFormInputLogbookPenerimaanPipaEdit.lastUpdatedDate.Disabled && !subAktivitasFormInputLogbookPenerimaanPipaEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasFormInputLogbookPenerimaanPipaEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputLogbookPenerimaanPipaedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputLogbookPenerimaanPipaedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanPipaEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaEdit.NoReferensi.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_NoReferensi" for="x_NoReferensi" class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.NoReferensi.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanPipa_NoReferensi">
<input type="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasFormInputLogbookPenerimaanPipa" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.NoReferensi.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanPipaEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanPipaEdit.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaEdit.SubAktivitasHasilPemeriksaanId.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaEdit.SubAktivitasHasilPemeriksaanId.Visible (begin)
    <div id="r_SubAktivitasHasilPemeriksaanId" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.SubAktivitasHasilPemeriksaanId.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_SubAktivitasHasilPemeriksaanId" for="x_SubAktivitasHasilPemeriksaanId" class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.SubAktivitasHasilPemeriksaanId.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.SubAktivitasHasilPemeriksaanId.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.SubAktivitasHasilPemeriksaanId.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanPipa_SubAktivitasHasilPemeriksaanId">
<input type="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.SubAktivitasHasilPemeriksaanId.InputTextType)" name="x_SubAktivitasHasilPemeriksaanId" id="x_SubAktivitasHasilPemeriksaanId" data-table="SubAktivitasFormInputLogbookPenerimaanPipa" data-field="x_SubAktivitasHasilPemeriksaanId" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.SubAktivitasHasilPemeriksaanId.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanPipaEdit.SubAktivitasHasilPemeriksaanId.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.SubAktivitasHasilPemeriksaanId.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.SubAktivitasHasilPemeriksaanId.EditAttributes) aria-describedby="x_SubAktivitasHasilPemeriksaanId_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.SubAktivitasHasilPemeriksaanId.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.SubAktivitasHasilPemeriksaanId.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanPipaEdit.SubAktivitasHasilPemeriksaanId.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJamSOP.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJamSOP.Visible (begin)
    <div id="r_TanggalJamSOP" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJamSOP.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_TanggalJamSOP" for="x_TanggalJamSOP" class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJamSOP.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJamSOP.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJamSOP.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanPipa_TanggalJamSOP">
<input type="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJamSOP.InputTextType)" name="x_TanggalJamSOP" id="x_TanggalJamSOP" data-table="SubAktivitasFormInputLogbookPenerimaanPipa" data-field="x_TanggalJamSOP" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJamSOP.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJamSOP.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJamSOP.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJamSOP.EditAttributes) aria-describedby="x_TanggalJamSOP_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJamSOP.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJamSOP.GetErrorMessage())</div>
@if (!subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJamSOP.ReadOnly && !subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJamSOP.Disabled && !subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJamSOP.EditAttrs.Is("readonly") && !subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJamSOP.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputLogbookPenerimaanPipaedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputLogbookPenerimaanPipaedit", "x_TanggalJamSOP", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanPipaEdit.TanggalJamSOP.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaEdit.SelisihWaktu.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaEdit.SelisihWaktu.Visible (begin)
    <div id="r_SelisihWaktu" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.SelisihWaktu.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_SelisihWaktu" for="x_SelisihWaktu" class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.SelisihWaktu.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.SelisihWaktu.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.SelisihWaktu.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanPipa_SelisihWaktu">
<input type="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.SelisihWaktu.InputTextType)" name="x_SelisihWaktu" id="x_SelisihWaktu" data-table="SubAktivitasFormInputLogbookPenerimaanPipa" data-field="x_SelisihWaktu" value="@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.SelisihWaktu.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbookPenerimaanPipaEdit.SelisihWaktu.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.SelisihWaktu.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.SelisihWaktu.EditAttributes) aria-describedby="x_SelisihWaktu_help">
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.SelisihWaktu.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.SelisihWaktu.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanPipaEdit.SelisihWaktu.Visible (end) *@
@if (subAktivitasFormInputLogbookPenerimaanPipaEdit.IsQualityActive.Visible) { // subAktivitasFormInputLogbookPenerimaanPipaEdit.IsQualityActive.Visible (begin)
    <div id="r_IsQualityActive" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.IsQualityActive.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbookPenerimaanPipa_IsQualityActive" class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.IsQualityActive.Caption)@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.IsQualityActive.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.IsQualityActive.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbookPenerimaanPipa_IsQualityActive">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(subAktivitasFormInputLogbookPenerimaanPipaEdit.IsQualityActive.IsInvalidClass)" data-table="SubAktivitasFormInputLogbookPenerimaanPipa" data-field="x_IsQualityActive" data-boolean name="x_IsQualityActive" id="x_IsQualityActive" value="1" checked="@ConvertToBool(subAktivitasFormInputLogbookPenerimaanPipaEdit.IsQualityActive.CurrentValue)" @Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.IsQualityActive.EditAttributes) aria-describedby="x_IsQualityActive_help">
    <div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.IsQualityActive.GetErrorMessage())</div>
</div>
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.IsQualityActive.GetCustomMessage)
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbookPenerimaanPipaEdit.IsQualityActive.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasFormInputLogbookPenerimaanPipaEdit.CloseRecordset(); }
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasFormInputLogbookPenerimaanPipaEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasFormInputLogbookPenerimaanPipaedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasFormInputLogbookPenerimaanPipaedit" data-href="@AppPath(subAktivitasFormInputLogbookPenerimaanPipaEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasFormInputLogbookPenerimaanPipaEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasFormInputLogbookPenerimaanPipaEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputLogbookPenerimaanPipa");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
