@{
    // View
    View = this;

    // Check action result
    if (subAktivitasLaporanStockStscslpgEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasLaporanStockStscslpgEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasLaporanStockStscslpgEdit.ShowPageHeader()
@subAktivitasLaporanStockStscslpgEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasLaporanStockSTSCSLPGedit" id="fSubAktivitasLaporanStockSTSCSLPGedit" class="@(subAktivitasLaporanStockStscslpgEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasLaporanStockStscslpgEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasLaporanStockSTSCSLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasLaporanStockSTSCSLPGedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasLaporanStockSTSCSLPGedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null], fields.idAktifitas.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null], fields.StatusAktivitas.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null], fields.lastUpdatedDate.isInvalid],
            ["StockAwal", [fields.StockAwal.visible && fields.StockAwal.required ? ew.Validators.required(fields.StockAwal.caption) : null], fields.StockAwal.isInvalid],
            ["Penerimaan2", [fields.Penerimaan2.visible && fields.Penerimaan2.required ? ew.Validators.required(fields.Penerimaan2.caption) : null], fields.Penerimaan2.isInvalid],
            ["Penyaluran2", [fields.Penyaluran2.visible && fields.Penyaluran2.required ? ew.Validators.required(fields.Penyaluran2.caption) : null], fields.Penyaluran2.isInvalid],
            ["StockAkhir", [fields.StockAkhir.visible && fields.StockAkhir.required ? ew.Validators.required(fields.StockAkhir.caption) : null], fields.StockAkhir.isInvalid],
            ["WorkingLoss", [fields.WorkingLoss.visible && fields.WorkingLoss.required ? ew.Validators.required(fields.WorkingLoss.caption) : null], fields.WorkingLoss.isInvalid],
            ["Presentase", [fields.Presentase.visible && fields.Presentase.required ? ew.Validators.required(fields.Presentase.caption) : null], fields.Presentase.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Client script
    // client script 
    var parent_url = ew.PATH_BASE;
    var IdProses = "@subAktivitasLaporanStockStscslpg.idProses.CurrentValue";
    $('#x_StockAwal, #x_Penerimaan2, #x_Penyaluran2, #x_StockAkhir')
        .attr('inputmode', 'numeric')
        .on('input', function () {
            let val = $(this).val();
            let isNegative = val.startsWith('-');
            val = val.replace(',', '.');
            val = val.replace(/[^0-9.]/g, '');
            const parts = val.split('.');
            if (parts.length > 2) {
                val = parts[0] + '.' + parts.slice(1).join('');
            }
            if (isNegative) {
                val = '-' + val;
            }
            $(this).val(val);
        });
    $('#x_StockAwal, #x_Penerimaan2, #x_Penyaluran2, #x_StockAkhir').on('focus', function () {
        hideFeedback($(this));
    });
    function hideFeedback(el) {
        let feedback = el.siblings('.invalid-feedback');
        feedback.hide();
    }
    function handleCustomSubmit(status) {
        var inputMap = {
                "#x_StockAwal": "Stock Awal (MT)",
                "#x_Penerimaan2": "Penerimaan (MT)",
                "#x_Penyaluran2": "Penyaluran (MT)",
                "#x_StockAkhir": "Stock Akhir (MT)"
        };
        let isValid = true;
        $('.invalid-feedback').hide();
        for (var id in inputMap) {
            var el = $(id);
            var label = inputMap[id];
            var val = el.val().trim();
            var feedback = el.siblings('.invalid-feedback');
            if (val === "") {
                feedback.text('*' + label + ' tidak boleh kosong.').show();
                isValid = false;
                continue;
            }
            if (isNaN(val)) {
                feedback.text('*' + label + ' harus diisi dengan angka desimal yang valid.').show();
                isValid = false;
                continue;
            }
        }
        if (!isValid) {
            ew.alert('Nilai input harus berupa angka desimal yang valid.');
            return;
        }
        let idAktivitas = $("#x_idAktifitas").val();
        const originalStatus = document.querySelector('#el_SubAktivitasLaporanStockSTSCSLPG_StatusAktivitas .form-control-plaintext').textContent;
        $.ajax({
            url: parent_url + `api/LookUpList/check_valid_status_aktivitas?idAktivitas=${idAktivitas}&originalStatus=${originalStatus}`,
            type: 'GET',
            beforeSend: function () {
                showLoading();
            },
            success: function (response) {
                if (!response.IsValid){
                    hideLoading();
                    ew.alert(response.Message ?? "Status aktivitas telah diubah oleh pengguna lain");
                    return;
                } else {
                    let form = $("#fSubAktivitasLaporanStockSTSCSLPGedit");
                    $.ajax({
                        url: form.attr("action"),
                        type: form.attr("method"),
                        data: form.serialize(),
                        success: function (response) {
                            updateStatus(idAktivitas, status);
                        },
                        error: function (xhr, status, error) {
                            hideLoading();
                            ew.alert("Gagal menyimpan data.");
                            console.error("Form submit gagal:", error);
                        }
                    });  
                }
            },
            error: function (xhr, status, error) {
                hideLoading();
                ew.alert("Gagal menyimpan data.");
                console.error("Form submit gagal:", error);
            }
        }); 
    }
    function updateStatus(idAktivitas, status) {
        $.ajax({
            url: parent_url + `api/LookUpList/update_status_aktivitas?idAktivitas=${idAktivitas}&statusAktivitas=${status}`,
            type: 'POST',
            success: function () {
                console.log("Status berhasil diperbarui.");
                if (status == "Completed" || status == "Completed Edit") {
                    window.location.href = `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`;
                } else {
                    location.reload();
                }
            },
            error: function (xhr, status, error) {
                ew.alert("Status gagal diperbarui.");
                console.error("Update status gagal:", error);
            },
            complete: function () {
                hideLoading();
            }
        });
    }
    function reverseStatus(status, catatan) {
        showLoading();
        let idAktivitas = $("#x_idAktifitas").val();
        $.ajax({
            url: parent_url + `api/LookUpList/update_status_aktivitas-v2`,
            type: 'POST',
            data: JSON.stringify({ IdAktivitas: idAktivitas, StatusAktivitas: status, Catatan: catatan ?? null }),
            contentType: 'application/json',
            success: function () {
                setTimeout(function () {
                    window.location.href = `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`;
                }, 1000);
            },
            error: function (xhr, status, error) {
                ew.alert("Status gagal diperbarui.");
                console.error("Update status gagal:", error);
            },
            complete: function () {
                hideLoading();
            }
        });
    }
    $(document).on("submit", "#reverseStatusEditingModalForm", function (e) {
        e.preventDefault();
        let catatanText = $("#catatanReverseStatusEditing").val();
        reverseStatus("Editing", catatanText);
    });
    $(document).on("click", "#btn-draft", function () {
        handleCustomSubmit("Draft");
    });
    $(document).on("click", "#btn-completed", function () {
        handleCustomSubmit("Completed");
    });
    $(document).on("click", "#btn-editing", function () {
        handleCustomSubmit("Editing");
    });
    $(document).on("click", "#btn-completedEdit", function () {
        handleCustomSubmit("Completed Edit");
    });
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasLaporanStockStscslpgEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasLaporanStockStscslpgEdit.OldKeyName)" value="@Html.Raw(subAktivitasLaporanStockStscslpgEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasLaporanStockStscslpgEdit.NoReferensi.Visible) { // subAktivitasLaporanStockStscslpgEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasLaporanStockStscslpgEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasLaporanStockSTSCSLPG_NoReferensi" for="x_NoReferensi" class="@(subAktivitasLaporanStockStscslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLaporanStockStscslpgEdit.NoReferensi.Caption)@Html.Raw(subAktivitasLaporanStockStscslpgEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLaporanStockStscslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLaporanStockStscslpgEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasLaporanStockSTSCSLPG_NoReferensi">
<span @Html.Raw(subAktivitasLaporanStockStscslpgEdit.NoReferensi.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasLaporanStockStscslpgEdit.NoReferensi.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasLaporanStockSTSCSLPG" data-field="x_NoReferensi" data-hidden="1" name="x_NoReferensi" id="x_NoReferensi" value="@Html.Raw(HtmlEncode(subAktivitasLaporanStockStscslpgEdit.NoReferensi.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasLaporanStockStscslpgEdit.NoReferensi.Visible (end) *@
@if (subAktivitasLaporanStockStscslpgEdit.idProses.Visible) { // subAktivitasLaporanStockStscslpgEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasLaporanStockStscslpgEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasLaporanStockSTSCSLPG_idProses" class="@(subAktivitasLaporanStockStscslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLaporanStockStscslpgEdit.idProses.Caption)@Html.Raw(subAktivitasLaporanStockStscslpgEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLaporanStockStscslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLaporanStockStscslpgEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasLaporanStockSTSCSLPG_idProses">
<span @Html.Raw(subAktivitasLaporanStockStscslpgEdit.idProses.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasLaporanStockStscslpgEdit.idProses.DisplayValue(subAktivitasLaporanStockStscslpgEdit.idProses.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasLaporanStockSTSCSLPG" data-field="x_idProses" data-hidden="1" name="x_idProses" id="x_idProses" value="@Html.Raw(HtmlEncode(subAktivitasLaporanStockStscslpgEdit.idProses.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasLaporanStockStscslpgEdit.idProses.Visible (end) *@
@if (subAktivitasLaporanStockStscslpgEdit.idAktifitas.Visible) { // subAktivitasLaporanStockStscslpgEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasLaporanStockStscslpgEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasLaporanStockSTSCSLPG_idAktifitas" class="@(subAktivitasLaporanStockStscslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLaporanStockStscslpgEdit.idAktifitas.Caption)@Html.Raw(subAktivitasLaporanStockStscslpgEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLaporanStockStscslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLaporanStockStscslpgEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasLaporanStockSTSCSLPG_idAktifitas">
<span @Html.Raw(subAktivitasLaporanStockStscslpgEdit.idAktifitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasLaporanStockStscslpgEdit.idAktifitas.DisplayValue(subAktivitasLaporanStockStscslpgEdit.idAktifitas.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasLaporanStockSTSCSLPG" data-field="x_idAktifitas" data-hidden="1" name="x_idAktifitas" id="x_idAktifitas" value="@Html.Raw(HtmlEncode(subAktivitasLaporanStockStscslpgEdit.idAktifitas.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasLaporanStockStscslpgEdit.idAktifitas.Visible (end) *@
@if (subAktivitasLaporanStockStscslpgEdit.StatusAktivitas.Visible) { // subAktivitasLaporanStockStscslpgEdit.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subAktivitasLaporanStockStscslpgEdit.StatusAktivitas.RowAttributes)>
        <label id="elh_SubAktivitasLaporanStockSTSCSLPG_StatusAktivitas" class="@(subAktivitasLaporanStockStscslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLaporanStockStscslpgEdit.StatusAktivitas.Caption)@Html.Raw(subAktivitasLaporanStockStscslpgEdit.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLaporanStockStscslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLaporanStockStscslpgEdit.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasLaporanStockSTSCSLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasLaporanStockStscslpgEdit.StatusAktivitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasLaporanStockStscslpgEdit.StatusAktivitas.DisplayValue(subAktivitasLaporanStockStscslpgEdit.StatusAktivitas.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasLaporanStockSTSCSLPG" data-field="x_StatusAktivitas" data-hidden="1" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@Html.Raw(HtmlEncode(subAktivitasLaporanStockStscslpgEdit.StatusAktivitas.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasLaporanStockStscslpgEdit.StatusAktivitas.Visible (end) *@
@if (subAktivitasLaporanStockStscslpgEdit.LastUpdatedBy.Visible) { // subAktivitasLaporanStockStscslpgEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasLaporanStockStscslpgEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasLaporanStockSTSCSLPG_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasLaporanStockStscslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLaporanStockStscslpgEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasLaporanStockStscslpgEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLaporanStockStscslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLaporanStockStscslpgEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasLaporanStockSTSCSLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasLaporanStockStscslpgEdit.LastUpdatedBy.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasLaporanStockStscslpgEdit.LastUpdatedBy.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasLaporanStockSTSCSLPG" data-field="x_LastUpdatedBy" data-hidden="1" name="x_LastUpdatedBy" id="x_LastUpdatedBy" value="@Html.Raw(HtmlEncode(subAktivitasLaporanStockStscslpgEdit.LastUpdatedBy.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasLaporanStockStscslpgEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasLaporanStockStscslpgEdit.lastUpdatedDate.Visible) { // subAktivitasLaporanStockStscslpgEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasLaporanStockStscslpgEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasLaporanStockSTSCSLPG_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasLaporanStockStscslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLaporanStockStscslpgEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasLaporanStockStscslpgEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLaporanStockStscslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLaporanStockStscslpgEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasLaporanStockSTSCSLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasLaporanStockStscslpgEdit.lastUpdatedDate.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasLaporanStockStscslpgEdit.lastUpdatedDate.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasLaporanStockSTSCSLPG" data-field="x_lastUpdatedDate" data-hidden="1" name="x_lastUpdatedDate" id="x_lastUpdatedDate" value="@Html.Raw(HtmlEncode(subAktivitasLaporanStockStscslpgEdit.lastUpdatedDate.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasLaporanStockStscslpgEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasLaporanStockStscslpgEdit.StockAwal.Visible) { // subAktivitasLaporanStockStscslpgEdit.StockAwal.Visible (begin)
    <div id="r_StockAwal" @Html.Raw(subAktivitasLaporanStockStscslpgEdit.StockAwal.RowAttributes)>
        <label id="elh_SubAktivitasLaporanStockSTSCSLPG_StockAwal" for="x_StockAwal" class="@(subAktivitasLaporanStockStscslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLaporanStockStscslpgEdit.StockAwal.Caption)@Html.Raw(subAktivitasLaporanStockStscslpgEdit.StockAwal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLaporanStockStscslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLaporanStockStscslpgEdit.StockAwal.CellAttributes)>
<span id="el_SubAktivitasLaporanStockSTSCSLPG_StockAwal">
<input type="@(subAktivitasLaporanStockStscslpgEdit.StockAwal.InputTextType)" name="x_StockAwal" id="x_StockAwal" data-table="SubAktivitasLaporanStockSTSCSLPG" data-field="x_StockAwal" value="@Html.Raw(subAktivitasLaporanStockStscslpgEdit.StockAwal.EditValue)" size="30" maxlength="53" placeholder="@Html.Raw(HtmlEncode(subAktivitasLaporanStockStscslpgEdit.StockAwal.PlaceHolder))" data-format-pattern="@(subAktivitasLaporanStockStscslpgEdit.StockAwal.FormatPattern)"@Html.Raw(subAktivitasLaporanStockStscslpgEdit.StockAwal.EditAttributes) aria-describedby="x_StockAwal_help">
@Html.Raw(subAktivitasLaporanStockStscslpgEdit.StockAwal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLaporanStockStscslpgEdit.StockAwal.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLaporanStockStscslpgEdit.StockAwal.Visible (end) *@
@if (subAktivitasLaporanStockStscslpgEdit.Penerimaan2.Visible) { // subAktivitasLaporanStockStscslpgEdit.Penerimaan2.Visible (begin)
    <div id="r_Penerimaan2" @Html.Raw(subAktivitasLaporanStockStscslpgEdit.Penerimaan2.RowAttributes)>
        <label id="elh_SubAktivitasLaporanStockSTSCSLPG_Penerimaan2" for="x_Penerimaan2" class="@(subAktivitasLaporanStockStscslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLaporanStockStscslpgEdit.Penerimaan2.Caption)@Html.Raw(subAktivitasLaporanStockStscslpgEdit.Penerimaan2.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLaporanStockStscslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLaporanStockStscslpgEdit.Penerimaan2.CellAttributes)>
<span id="el_SubAktivitasLaporanStockSTSCSLPG_Penerimaan2">
<input type="@(subAktivitasLaporanStockStscslpgEdit.Penerimaan2.InputTextType)" name="x_Penerimaan2" id="x_Penerimaan2" data-table="SubAktivitasLaporanStockSTSCSLPG" data-field="x_Penerimaan2" value="@Html.Raw(subAktivitasLaporanStockStscslpgEdit.Penerimaan2.EditValue)" size="30" maxlength="53" placeholder="@Html.Raw(HtmlEncode(subAktivitasLaporanStockStscslpgEdit.Penerimaan2.PlaceHolder))" data-format-pattern="@(subAktivitasLaporanStockStscslpgEdit.Penerimaan2.FormatPattern)"@Html.Raw(subAktivitasLaporanStockStscslpgEdit.Penerimaan2.EditAttributes) aria-describedby="x_Penerimaan2_help">
@Html.Raw(subAktivitasLaporanStockStscslpgEdit.Penerimaan2.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLaporanStockStscslpgEdit.Penerimaan2.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLaporanStockStscslpgEdit.Penerimaan2.Visible (end) *@
@if (subAktivitasLaporanStockStscslpgEdit.Penyaluran2.Visible) { // subAktivitasLaporanStockStscslpgEdit.Penyaluran2.Visible (begin)
    <div id="r_Penyaluran2" @Html.Raw(subAktivitasLaporanStockStscslpgEdit.Penyaluran2.RowAttributes)>
        <label id="elh_SubAktivitasLaporanStockSTSCSLPG_Penyaluran2" for="x_Penyaluran2" class="@(subAktivitasLaporanStockStscslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLaporanStockStscslpgEdit.Penyaluran2.Caption)@Html.Raw(subAktivitasLaporanStockStscslpgEdit.Penyaluran2.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLaporanStockStscslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLaporanStockStscslpgEdit.Penyaluran2.CellAttributes)>
<span id="el_SubAktivitasLaporanStockSTSCSLPG_Penyaluran2">
<input type="@(subAktivitasLaporanStockStscslpgEdit.Penyaluran2.InputTextType)" name="x_Penyaluran2" id="x_Penyaluran2" data-table="SubAktivitasLaporanStockSTSCSLPG" data-field="x_Penyaluran2" value="@Html.Raw(subAktivitasLaporanStockStscslpgEdit.Penyaluran2.EditValue)" size="30" maxlength="53" placeholder="@Html.Raw(HtmlEncode(subAktivitasLaporanStockStscslpgEdit.Penyaluran2.PlaceHolder))" data-format-pattern="@(subAktivitasLaporanStockStscslpgEdit.Penyaluran2.FormatPattern)"@Html.Raw(subAktivitasLaporanStockStscslpgEdit.Penyaluran2.EditAttributes) aria-describedby="x_Penyaluran2_help">
@Html.Raw(subAktivitasLaporanStockStscslpgEdit.Penyaluran2.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLaporanStockStscslpgEdit.Penyaluran2.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLaporanStockStscslpgEdit.Penyaluran2.Visible (end) *@
@if (subAktivitasLaporanStockStscslpgEdit.StockAkhir.Visible) { // subAktivitasLaporanStockStscslpgEdit.StockAkhir.Visible (begin)
    <div id="r_StockAkhir" @Html.Raw(subAktivitasLaporanStockStscslpgEdit.StockAkhir.RowAttributes)>
        <label id="elh_SubAktivitasLaporanStockSTSCSLPG_StockAkhir" for="x_StockAkhir" class="@(subAktivitasLaporanStockStscslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLaporanStockStscslpgEdit.StockAkhir.Caption)@Html.Raw(subAktivitasLaporanStockStscslpgEdit.StockAkhir.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLaporanStockStscslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLaporanStockStscslpgEdit.StockAkhir.CellAttributes)>
<span id="el_SubAktivitasLaporanStockSTSCSLPG_StockAkhir">
<input type="@(subAktivitasLaporanStockStscslpgEdit.StockAkhir.InputTextType)" name="x_StockAkhir" id="x_StockAkhir" data-table="SubAktivitasLaporanStockSTSCSLPG" data-field="x_StockAkhir" value="@Html.Raw(subAktivitasLaporanStockStscslpgEdit.StockAkhir.EditValue)" size="30" maxlength="53" placeholder="@Html.Raw(HtmlEncode(subAktivitasLaporanStockStscslpgEdit.StockAkhir.PlaceHolder))" data-format-pattern="@(subAktivitasLaporanStockStscslpgEdit.StockAkhir.FormatPattern)"@Html.Raw(subAktivitasLaporanStockStscslpgEdit.StockAkhir.EditAttributes) aria-describedby="x_StockAkhir_help">
@Html.Raw(subAktivitasLaporanStockStscslpgEdit.StockAkhir.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLaporanStockStscslpgEdit.StockAkhir.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLaporanStockStscslpgEdit.StockAkhir.Visible (end) *@
@if (subAktivitasLaporanStockStscslpgEdit.WorkingLoss.Visible) { // subAktivitasLaporanStockStscslpgEdit.WorkingLoss.Visible (begin)
    <div id="r_WorkingLoss" @Html.Raw(subAktivitasLaporanStockStscslpgEdit.WorkingLoss.RowAttributes)>
        <label id="elh_SubAktivitasLaporanStockSTSCSLPG_WorkingLoss" for="x_WorkingLoss" class="@(subAktivitasLaporanStockStscslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLaporanStockStscslpgEdit.WorkingLoss.Caption)@Html.Raw(subAktivitasLaporanStockStscslpgEdit.WorkingLoss.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLaporanStockStscslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLaporanStockStscslpgEdit.WorkingLoss.CellAttributes)>
<span id="el_SubAktivitasLaporanStockSTSCSLPG_WorkingLoss">
<span @Html.Raw(subAktivitasLaporanStockStscslpgEdit.WorkingLoss.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasLaporanStockStscslpgEdit.WorkingLoss.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasLaporanStockSTSCSLPG" data-field="x_WorkingLoss" data-hidden="1" name="x_WorkingLoss" id="x_WorkingLoss" value="@Html.Raw(HtmlEncode(subAktivitasLaporanStockStscslpgEdit.WorkingLoss.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasLaporanStockStscslpgEdit.WorkingLoss.Visible (end) *@
@if (subAktivitasLaporanStockStscslpgEdit.Presentase.Visible) { // subAktivitasLaporanStockStscslpgEdit.Presentase.Visible (begin)
    <div id="r_Presentase" @Html.Raw(subAktivitasLaporanStockStscslpgEdit.Presentase.RowAttributes)>
        <label id="elh_SubAktivitasLaporanStockSTSCSLPG_Presentase" for="x_Presentase" class="@(subAktivitasLaporanStockStscslpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLaporanStockStscslpgEdit.Presentase.Caption)@Html.Raw(subAktivitasLaporanStockStscslpgEdit.Presentase.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLaporanStockStscslpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLaporanStockStscslpgEdit.Presentase.CellAttributes)>
<span id="el_SubAktivitasLaporanStockSTSCSLPG_Presentase">
<span @Html.Raw(subAktivitasLaporanStockStscslpgEdit.Presentase.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasLaporanStockStscslpgEdit.Presentase.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasLaporanStockSTSCSLPG" data-field="x_Presentase" data-hidden="1" name="x_Presentase" id="x_Presentase" value="@Html.Raw(HtmlEncode(subAktivitasLaporanStockStscslpgEdit.Presentase.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasLaporanStockStscslpgEdit.Presentase.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="SubAktivitasLaporanStockSTSCSLPG" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasLaporanStockStscslpgEdit.id.CurrentValue))">
@{ subAktivitasLaporanStockStscslpgEdit.CloseRecordset(); }
@Html.Raw(subAktivitasLaporanStockStscslpgEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasLaporanStockStscslpgEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasLaporanStockSTSCSLPGedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasLaporanStockSTSCSLPGedit" data-href="@AppPath(subAktivitasLaporanStockStscslpgEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasLaporanStockStscslpgEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasLaporanStockStscslpgEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasLaporanStockSTSCSLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Startup script
    // startup script 
    var IdReferensi = "@subAktivitasLaporanStockStscslpg.NoReferensi.CurrentValue";
    var IdProses = "@subAktivitasLaporanStockStscslpg.idProses.CurrentValue";
    var idAktivitas = "@subAktivitasLaporanStockStscslpg.idAktifitas.CurrentValue";
    var NamaAktivitas = $('#el_SubAktivitasLaporanStockSTSCSLPG_idAktifitas').text();
    var parent_url = ew.PATH_BASE;
    var steps = [
        { number: 1, label: "Closing Stock", url: `${parent_url}ClosingStockList`, icon: "fa-inbox" },
        { number: 2, label: "Proses", url: `${parent_url}ProsesList?cmd=search&x_IdReferensi%5B%5D=${IdReferensi}&search=&searchtype=`, icon: "fa-gears" },
        { number: 3, label: "Aktivitas", url: `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`, icon: "fa-list-check" },
        { number: 4, label: NamaAktivitas, url: '', icon: "fa-file-circle-check" }
    ];
    var currentStep = 4;
    $("<style>")
        .prop("type", "text/css")
        .html(`
            .stepper {
                display: flex;
                counter-reset: step;
                flex-wrap: nowrap;        /* jangan pecah ke bawah */
                overflow-x: auto;         /* scroll horizontal */
                -webkit-overflow-scrolling: touch; /* smooth scroll di mobile */
                padding-bottom: 8px;      /* space biar scroll bar gak nempel */
            }
            .stepper::-webkit-scrollbar {
            height: 6px; /* tipis */
            }
            .stepper::-webkit-scrollbar-thumb {
                background-color: #ccc;
                border-radius: 3px;
            }
            .step {
                width: 150px;
                text-align: center;
                position: relative;
            }
            .step:not(:last-child)::after {
                content: '';
                position: absolute;
                top: 20px;
                right: -50%;
                width: 100%;
                height: 4px;
                background-color: #ccc;
                z-index: 0;
            }
            .step.completed:not(:last-child)::after {
                background-color: #3c6dbd;
            }
            .step-icon {
                width: 36px;
                height: 36px;
                line-height: 36px;
                border-radius: 50%;
                background: #ccc;
                display: inline-block;
                z-index: 1;
                position: relative;
                color: white;
                font-weight: bold;
            }
            .step.active .step-icon {
                background: #3c6dbd;
            }
            .step-label {
                margin-top: 8px;
                font-size: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6px;
                color: #333;
            }
            .step-label {
                color: #3c6dbd !important;
                text-decoration: none;
                margin: 0;
                padding: 0;
            }
            .step-label-not-active {
                color: #CCCCCC !important;
            }
            .ag-theme-quartz .ag-header {
                background-color: #3c6dbd !important;
            }
            .ag-theme-quartz .ag-header-cell-label {
                color: #ffffff !important;
            }
            .ag-theme-quartz .ag-icon-filter {
                color: #ffffff !important;
            }
            .rotate-down {
                transform: rotate(90deg);
                transition: transform 0.3s ease;
            }
            .rotate-right {
                transform: rotate(0deg);
                transition: transform 0.3s ease;
            }
        `)
        .appendTo("head");
    var $stepperWrapper = $('<div class="d-flex border-bottom border-2 pb-2"><div class="stepper"></div></div>');
    var $stepper = $stepperWrapper.find(".stepper");
    steps.forEach(function (step, i) {
        var isActive = step.number === currentStep;
        var isCompleted = step.number < currentStep;
        var stepClass = isActive ? "active" : isCompleted ? "completed" : "";
        var icon, labelContent, html;
        if (isActive) {
            icon = `<div class="step-icon bg-success">${step.number}</div>`;
            labelContent = `<div class="step-label"><p class="text-success mb-1"><i class="fa-solid ${step.icon} me-1 text-success"></i> ${step.label}</p></div>`;
            html = `<div class="step ${stepClass} text-success">${icon}${labelContent}</div>`;
        } else if (isCompleted) {
            icon = `<div class="step-icon" style="background: #3c6dbd;">${step.number}</div>`;
            labelContent = `<div class="step-label"><a href="${step.url}" class="text-primary"><i class="fa-solid ${step.icon} me-1"></i>${step.label}</a></div>`;
            html = `<div class="step ${stepClass}">${icon}${labelContent}</div>`;
        } else {
            icon = `<div class="step-icon">${step.number}</div>`;
            labelContent = `<div class="step-label-not-active"><p style="margin: 0;"><i class="fa-solid ${step.icon} me-1"></i>${step.label}</p></div>`;
            html = `<div class="step ${stepClass} text-secondary">${icon}${labelContent}</div>`;
        }
        $stepper.append(html);
    });
    $(".content-header .container-fluid .row").append($stepperWrapper);
    $("#btn-action").hide();
    $("#btn-cancel").html('<i class="fa-solid fa-ban"></i></i> Cancel');
    const $cancelButton = $("#btn-cancel");
    const idAktifitas = $("#x_idAktifitas").val();

    // --- log aktivitas start ---
    $('#el_SubAktivitasLaporanStockSTSCSLPG_LastUpdatedBy').addClass('d-flex gap-3');
    $('#el_SubAktivitasLaporanStockSTSCSLPG_LastUpdatedBy').append(`
        <button type="button" class="btn btn-primary ew-btn ps-2" expand-log="false">
            <i class="fa-solid fa-caret-right fa-2xl me-2 caret-icon rotate-right"></i>
            Log History
            <i class="fa-solid fa-clock-rotate-left ms-1"></i> 
        </button>
    `);
    $('#r_StockAwal').css('max-width', '660px');
    $('#r_Penerimaan2').css('max-width', '660px');
    $('#r_Penyaluran2').css('max-width', '660px');
    $('#r_StockAkhir').css('max-width', '660px');
    $('#r_WorkingLoss').css('max-width', '660px');
    $('#r_Presentase').css('max-width', '660px');
    $(document).on('click', 'button[expand-log]', function () {
        const $btn = $(this);
        const isExpanded = $btn.attr('expand-log') === 'true';
        const $row = $('#log-table-row');
        const $wrapper = $('#log-table-wrapper');
        const $caret = $btn.find('.caret-icon');
        if (!isExpanded) {
            $btn.attr('expand-log', 'true');
            $row.removeClass('d-none');
            setTimeout(() => {
                $wrapper.css({
                    maxHeight: '500px'
                });
            }, 10);
            $caret.removeClass('rotate-right').addClass('rotate-down');
        } else {
            $btn.attr('expand-log', 'false');
            $wrapper.css({
                maxHeight: '0'
            });
            setTimeout(() => {
                $row.addClass('d-none');
            }, 600);
            $caret.removeClass('rotate-down').addClass('rotate-right');
        }
    });
    if (idAktivitas && idAktivitas !== "0") {
        $.ajax({
            url: parent_url + `api/LookUpList/sub-aktivitas/startup?idAktivitas=${idAktivitas}`,
            type: 'GET',
            success: function(response) {
                // cek status
                if ($cancelButton.length){
                    let status = response.StatusAktivitas;
                    currentStatusAktivitas = status;
                    let $customButtons = ``;
                    switch (status) {
                        case "Waiting":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-draft">
                                    <i class="fas fa-save"></i> Save
                                </button>
                            `;
                            break;
                        case "Draft":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-draft">
                                    <i class="fas fa-save"></i> Save
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completed">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `
                            break;
                        case "Completed":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-editing">
                                    <i class="fa-solid fa-pen-to-square"></i> Edit
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completedEdit">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `;
                            break;
                        case "Editing":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-editing">
                                    <i class="fa-solid fa-pen-to-square"></i> Edit
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completedEdit">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `;
                            break;
                        case "Completed Edit":
                            if (userLevel === '4'){
                                $customButtons = `
                                    <button type="button" class="btn btn-warning ew-btn ml-2" id="btn-reverse-status">
                                        <i class="fa-solid fa-pen-to-square"></i> Edit 
                                    </button>
                                `;
                            }
                            break;
                    }
                    $cancelButton.before($customButtons);
                }

                // Cek is editable
                if(!response.IsEditable || response.StatusAktivitas === "Completed Edit"){
                    $("#btn-draft").hide();
                    $("#btn-editing").hide();
                    $("#btn-completed").hide();
                    $("#btn-completedEdit").hide();
                    $('input, select, textarea').prop('disabled', true);
                    $('#catatanReverseStatusEditing').prop('disabled', false);
                }

                // Log
                const mappedData = response.LogAktivitas.map(item => ({
                    Aktivitas: item.Aktivitas,
                    Username: item.UserName,
                    StatusAktivitas: item.StatusAktivitas,
                    Tanggal: item.Tanggal,
                    Catatan: item.Catatan
                }));
                $.getScript('https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js', function () {
                        $('#r_LastUpdatedBy').after(`
                            <div id="log-table-row" class="d-none row m-0">
                                <div class="p-0 col-2"></div>
                                <div class="p-0 col-10">
                                    <div id="log-table-wrapper" style="overflow: hidden; transition: all 0.6s ease; max-height: 0;">
                                        <div id="myGrid" class="ag-theme-quartz w-100 my-3" style="height: 300px;"></div>
                                    </div>
                                </div>
                            </div>
                        `);
                        const gridOptions = {
                            rowData: mappedData,
                            columnDefs: [
                                {
                                    headerName: 'No.',
                                    valueGetter: 'node.rowIndex + 1',
                                    width: 80,
                                    filter: false
                                },
                                {
                                    headerName: 'Aktivitas',
                                    field: 'Aktivitas',
                                    flex: 1
                                },
                                {
                                    headerName: 'Username',
                                    field: 'Username',
                                    flex: 1
                                },
                                {
                                    headerName: 'Status Aktivitas',
                                    field: 'StatusAktivitas',
                                    flex: 1
                                },
                                {
                                    headerName: 'Tanggal',
                                    field: 'Tanggal',
                                    flex: 1
                                },
                                {
                                    headerName: 'Catatan',
                                    field: 'Catatan',
                                    flex: 1
                                }
                            ],
                            defaultColDef: {
                                sortable: false,
                                suppressMovable: true,
                                filter: true,
                                resizable: false
                            },
                            rowSelection: 'multiple',
                            suppressRowClickSelection: true,
                            pagination: true,
                            paginationPageSize: 10
                        };
                        const myGridElement = document.querySelector('#myGrid');
                        agGrid.createGrid(myGridElement, gridOptions);
                    });
            },
            error: function(xhr, status, error) {
                ew.alert(xhr.responseJSON.message ?? "Terjadi kesalahan dalam memuat data");
            }
        });
    } else {
        console.warn("Skipping startup API: Invalid IdAktivitas");
        $('button[expand-log]').hide(); 
        $("#btn-draft, #btn-editing, #btn-completed, #btn-completedEdit").hide();
        $('input, select, textarea').prop('disabled', true);
    }
    // --- log aktivitas end ---
    function eventLaporanStockHarian() {
        const stockAwal = parseFloat($('#x_StockAwal').val());
        const stockAkhir = parseFloat($('#x_StockAkhir').val());
        const penerimaan = parseFloat($('#x_Penerimaan2').val());
        const penyaluran = parseFloat($('#x_Penyaluran2').val());
        if (!isNaN(stockAwal) && !isNaN(stockAkhir) && !isNaN(penerimaan) && !isNaN(penyaluran)) {
            const expectedStockAkhir = stockAwal + penerimaan - penyaluran;
            const workingLoss = stockAkhir - expectedStockAkhir;
            const persentase = workingLoss / (stockAwal + penerimaan) * 100;
            $('#el_SubAktivitasLaporanStockSTSCSLPG_WorkingLoss input').val(workingLoss.toFixed(2));
            $('#el_SubAktivitasLaporanStockSTSCSLPG_Presentase input').val(persentase.toFixed(2)+"%");
            $('#x_WorkingLoss').val(workingLoss.toFixed(2));
            $('#x_Presentase').val(persentase.toFixed(2)+"%");
        } else {
            $('#el_SubAktivitasLaporanStockSTSCSLPG_WorkingLoss input').val('');
            $('#el_SubAktivitasLaporanStockSTSCSLPG_Presentase input').val('');
            $('#x_WorkingLoss').val('');
            $('#x_Presentase').val('');
        }
    }
    $(document).on('input', '#x_StockAwal, #x_StockAkhir, #x_Penerimaan2, #x_Penyaluran2', function () {
        eventLaporanStockHarian();
    });
    eventLaporanStockHarian();

    // Cari elemen container dengan id r_lastUpdatedDate
    var el = document.getElementById("r_lastUpdatedDate");
    if (el) {
        // Buat elemen note
        var note = document.createElement("div");
        note.innerHTML = `
            <div class="mt-2">
              <div class="card border-primary shadow-sm" style="max-width: 650px;">
                <div class="card-header bg-primary text-white py-2 px-3">
                  <strong>Petunjuk Pengisian Data</strong>
                </div>
                <div class="card-body py-2 px-3 text-dark">
                  <p class="mb-2">
                        Gunakan satuan sesuai jenis produk saat mengisi <strong>Stock Awal, Penerimaan, Penyaluran, dan Stock Akhir</strong>:
                  </p>
                  <p class="mb-1"><strong>BBM </strong> menggunakan satuan <strong>Kilo Liter (KL)</strong></p>
                  <p class="mb-1"><strong>LPG </strong> menggunakan satuan <strong>Metric Ton (MT)</strong></p>
                      <p class="mb-0 fst-italic">Gunakan satuan dengan benar agar data tercatat secara akurat.</p>
                </div>
              </div>
            </div>
    `;
        note.style.marginTop = "5px";

        // Sisipkan setelah elemen
        el.parentNode.insertBefore(note, el.nextSibling);
    }
    let reverseStatusModal = `<div class="modal fade" id="confirmReverseStatusEditingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
            <h1 class="modal-title fs-5" id="confirmReverseStatusEditingModalTitle">Konfirmasi Kembalikan Status</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="reverseStatusEditingModalForm">
            <div class="modal-body px-2 py-1">
                <div class="mb-3">
                    <label for="message-text" class="col-form-label">Catatan:</label>
                    <textarea class="form-control" id="catatanReverseStatusEditing" required rows="4"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnReverseStatusEditingModalCancel">Batal</button>
                <button type="submit" class="btn btn-primary" id="btnReverseStatusEditingModalSubmit">Lanjutkan</button>
            </div>
            </form>
        </div>
        </div>
    </div>`
    $("body").append(reverseStatusModal);
    $("#btnReverseStatusEditingModalCancel").click(function (event) {
        event.preventDefault();
        $("#confirmReverseStatusEditingModal").modal("hide");
    });
    $(document).on("click", "#btn-reverse-status", function () {
        $("#confirmReverseStatusEditingModal").modal("show");
    });
});
</script>
