@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputFlowrateRtwView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputFlowrateRtwView.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasFormInputFlowrateRtwView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @subAktivitasFormInputFlowrateRtwView.ExportOptions.RenderBody()
    @subAktivitasFormInputFlowrateRtwView.OtherOptions.RenderBody()
</div>
}
@subAktivitasFormInputFlowrateRtwView.ShowPageHeader()
@subAktivitasFormInputFlowrateRtwView.ShowMessages()
<main class="view">
<form name="fSubAktivitasFormInputFlowrateRTWview" id="fSubAktivitasFormInputFlowrateRTWview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!subAktivitasFormInputFlowrateRtwView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputFlowrateRtwView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputFlowrateRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fSubAktivitasFormInputFlowrateRTWview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputFlowrateRTWview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputFlowrateRtwView.IsModal)">
<table class="@(subAktivitasFormInputFlowrateRtwView.TableClass)">
@if (subAktivitasFormInputFlowrateRtwView.id.Visible) { // subAktivitasFormInputFlowrateRtwView.id.Visible (begin)
    <tr id="r_id" @Html.Raw(subAktivitasFormInputFlowrateRtwView.id.RowAttributes)>
        <td class="@(subAktivitasFormInputFlowrateRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputFlowrateRTW_id">@Html.Raw(subAktivitasFormInputFlowrateRtwView.id.Caption)</span></td>
        <td data-name="id" @Html.Raw(subAktivitasFormInputFlowrateRtwView.id.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrateRTW_id">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwView.id.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwView.id.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputFlowrateRtwView.id.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwView.NoReferensi.Visible) { // subAktivitasFormInputFlowrateRtwView.NoReferensi.Visible (begin)
    <tr id="r_NoReferensi" @Html.Raw(subAktivitasFormInputFlowrateRtwView.NoReferensi.RowAttributes)>
        <td class="@(subAktivitasFormInputFlowrateRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputFlowrateRTW_NoReferensi">@Html.Raw(subAktivitasFormInputFlowrateRtwView.NoReferensi.Caption)</span></td>
        <td data-name="NoReferensi" @Html.Raw(subAktivitasFormInputFlowrateRtwView.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrateRTW_NoReferensi">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwView.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwView.NoReferensi.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputFlowrateRtwView.NoReferensi.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwView.idProses.Visible) { // subAktivitasFormInputFlowrateRtwView.idProses.Visible (begin)
    <tr id="r_idProses" @Html.Raw(subAktivitasFormInputFlowrateRtwView.idProses.RowAttributes)>
        <td class="@(subAktivitasFormInputFlowrateRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputFlowrateRTW_idProses">@Html.Raw(subAktivitasFormInputFlowrateRtwView.idProses.Caption)</span></td>
        <td data-name="idProses" @Html.Raw(subAktivitasFormInputFlowrateRtwView.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrateRTW_idProses">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwView.idProses.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwView.idProses.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputFlowrateRtwView.idProses.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwView.idAktifitas.Visible) { // subAktivitasFormInputFlowrateRtwView.idAktifitas.Visible (begin)
    <tr id="r_idAktifitas" @Html.Raw(subAktivitasFormInputFlowrateRtwView.idAktifitas.RowAttributes)>
        <td class="@(subAktivitasFormInputFlowrateRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputFlowrateRTW_idAktifitas">@Html.Raw(subAktivitasFormInputFlowrateRtwView.idAktifitas.Caption)</span></td>
        <td data-name="idAktifitas" @Html.Raw(subAktivitasFormInputFlowrateRtwView.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrateRTW_idAktifitas">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwView.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwView.idAktifitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputFlowrateRtwView.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwView.StatusAktivitas.Visible) { // subAktivitasFormInputFlowrateRtwView.StatusAktivitas.Visible (begin)
    <tr id="r_StatusAktivitas" @Html.Raw(subAktivitasFormInputFlowrateRtwView.StatusAktivitas.RowAttributes)>
        <td class="@(subAktivitasFormInputFlowrateRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputFlowrateRTW_StatusAktivitas">@Html.Raw(subAktivitasFormInputFlowrateRtwView.StatusAktivitas.Caption)</span></td>
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasFormInputFlowrateRtwView.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrateRTW_StatusAktivitas">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwView.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwView.StatusAktivitas.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputFlowrateRtwView.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwView.LastUpdatedBy.Visible) { // subAktivitasFormInputFlowrateRtwView.LastUpdatedBy.Visible (begin)
    <tr id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputFlowrateRtwView.LastUpdatedBy.RowAttributes)>
        <td class="@(subAktivitasFormInputFlowrateRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputFlowrateRTW_LastUpdatedBy">@Html.Raw(subAktivitasFormInputFlowrateRtwView.LastUpdatedBy.Caption)</span></td>
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasFormInputFlowrateRtwView.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrateRTW_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwView.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwView.LastUpdatedBy.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputFlowrateRtwView.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwView.lastUpdatedDate.Visible) { // subAktivitasFormInputFlowrateRtwView.lastUpdatedDate.Visible (begin)
    <tr id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputFlowrateRtwView.lastUpdatedDate.RowAttributes)>
        <td class="@(subAktivitasFormInputFlowrateRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputFlowrateRTW_lastUpdatedDate">@Html.Raw(subAktivitasFormInputFlowrateRtwView.lastUpdatedDate.Caption)</span></td>
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasFormInputFlowrateRtwView.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrateRTW_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwView.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwView.lastUpdatedDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputFlowrateRtwView.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwView.Flowrate.Visible) { // subAktivitasFormInputFlowrateRtwView.Flowrate.Visible (begin)
    <tr id="r_Flowrate" @Html.Raw(subAktivitasFormInputFlowrateRtwView.Flowrate.RowAttributes)>
        <td class="@(subAktivitasFormInputFlowrateRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputFlowrateRTW_Flowrate">@Html.Raw(subAktivitasFormInputFlowrateRtwView.Flowrate.Caption)</span></td>
        <td data-name="Flowrate" @Html.Raw(subAktivitasFormInputFlowrateRtwView.Flowrate.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrateRTW_Flowrate">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwView.Flowrate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwView.Flowrate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputFlowrateRtwView.Flowrate.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwView.StrippingTime.Visible) { // subAktivitasFormInputFlowrateRtwView.StrippingTime.Visible (begin)
    <tr id="r_StrippingTime" @Html.Raw(subAktivitasFormInputFlowrateRtwView.StrippingTime.RowAttributes)>
        <td class="@(subAktivitasFormInputFlowrateRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputFlowrateRTW_StrippingTime">@Html.Raw(subAktivitasFormInputFlowrateRtwView.StrippingTime.Caption)</span></td>
        <td data-name="StrippingTime" @Html.Raw(subAktivitasFormInputFlowrateRtwView.StrippingTime.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrateRTW_StrippingTime">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwView.StrippingTime.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwView.StrippingTime.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputFlowrateRtwView.StrippingTime.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwView.Pressuren.Visible) { // subAktivitasFormInputFlowrateRtwView.Pressuren.Visible (begin)
    <tr id="r_Pressuren" @Html.Raw(subAktivitasFormInputFlowrateRtwView.Pressuren.RowAttributes)>
        <td class="@(subAktivitasFormInputFlowrateRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputFlowrateRTW_Pressuren">@Html.Raw(subAktivitasFormInputFlowrateRtwView.Pressuren.Caption)</span></td>
        <td data-name="Pressuren" @Html.Raw(subAktivitasFormInputFlowrateRtwView.Pressuren.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrateRTW_Pressuren">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwView.Pressuren.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwView.Pressuren.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputFlowrateRtwView.Pressuren.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwView.LamaPembongkaran.Visible) { // subAktivitasFormInputFlowrateRtwView.LamaPembongkaran.Visible (begin)
    <tr id="r_LamaPembongkaran" @Html.Raw(subAktivitasFormInputFlowrateRtwView.LamaPembongkaran.RowAttributes)>
        <td class="@(subAktivitasFormInputFlowrateRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputFlowrateRTW_LamaPembongkaran">@Html.Raw(subAktivitasFormInputFlowrateRtwView.LamaPembongkaran.Caption)</span></td>
        <td data-name="LamaPembongkaran" @Html.Raw(subAktivitasFormInputFlowrateRtwView.LamaPembongkaran.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrateRTW_LamaPembongkaran">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwView.LamaPembongkaran.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwView.LamaPembongkaran.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputFlowrateRtwView.LamaPembongkaran.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwView.ETC.Visible) { // subAktivitasFormInputFlowrateRtwView.ETC.Visible (begin)
    <tr id="r_ETC" @Html.Raw(subAktivitasFormInputFlowrateRtwView.ETC.RowAttributes)>
        <td class="@(subAktivitasFormInputFlowrateRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputFlowrateRTW_ETC">@Html.Raw(subAktivitasFormInputFlowrateRtwView.ETC.Caption)</span></td>
        <td data-name="ETC" @Html.Raw(subAktivitasFormInputFlowrateRtwView.ETC.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrateRTW_ETC">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwView.ETC.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwView.ETC.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputFlowrateRtwView.ETC.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwView.userInput.Visible) { // subAktivitasFormInputFlowrateRtwView.userInput.Visible (begin)
    <tr id="r_userInput" @Html.Raw(subAktivitasFormInputFlowrateRtwView.userInput.RowAttributes)>
        <td class="@(subAktivitasFormInputFlowrateRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputFlowrateRTW_userInput">@Html.Raw(subAktivitasFormInputFlowrateRtwView.userInput.Caption)</span></td>
        <td data-name="userInput" @Html.Raw(subAktivitasFormInputFlowrateRtwView.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrateRTW_userInput">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwView.userInput.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwView.userInput.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputFlowrateRtwView.userInput.Visible (end) *@
@if (subAktivitasFormInputFlowrateRtwView.etlDate.Visible) { // subAktivitasFormInputFlowrateRtwView.etlDate.Visible (begin)
    <tr id="r_etlDate" @Html.Raw(subAktivitasFormInputFlowrateRtwView.etlDate.RowAttributes)>
        <td class="@(subAktivitasFormInputFlowrateRtwView.TableLeftColumnClass)"><span id="elh_SubAktivitasFormInputFlowrateRTW_etlDate">@Html.Raw(subAktivitasFormInputFlowrateRtwView.etlDate.Caption)</span></td>
        <td data-name="etlDate" @Html.Raw(subAktivitasFormInputFlowrateRtwView.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputFlowrateRTW_etlDate">
<span @Html.Raw(subAktivitasFormInputFlowrateRtwView.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasFormInputFlowrateRtwView.etlDate.GetViewValue())</span>
</span></td>
    </tr>
} @* subAktivitasFormInputFlowrateRtwView.etlDate.Visible (end) *@
</table>
@{ subAktivitasFormInputFlowrateRtwView.CloseRecordset(); }
</form>
</main>
@subAktivitasFormInputFlowrateRtwView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasFormInputFlowrateRtwView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
