@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormInputLogbMonitoringStockRtwEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormInputLogbMonitoringStockRtwEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasFormInputLogbMonitoringStockRtwEdit.ShowPageHeader()
@subAktivitasFormInputLogbMonitoringStockRtwEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasFormInputLogbMonitoringStockRTWedit" id="fSubAktivitasFormInputLogbMonitoringStockRTWedit" class="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormInputLogbMonitoringStockRtwEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormInputLogbMonitoringStockRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasFormInputLogbMonitoringStockRTWedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormInputLogbMonitoringStockRTWedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["NoTangki", [fields.NoTangki.visible && fields.NoTangki.required ? ew.Validators.required(fields.NoTangki.caption) : null, ew.Validators.integer], fields.NoTangki.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["Aktivitas2", [fields.Aktivitas2.visible && fields.Aktivitas2.required ? ew.Validators.required(fields.Aktivitas2.caption) : null], fields.Aktivitas2.isInvalid],
            ["LevelTangki", [fields.LevelTangki.visible && fields.LevelTangki.required ? ew.Validators.required(fields.LevelTangki.caption) : null], fields.LevelTangki.isInvalid],
            ["Volume", [fields.Volume.visible && fields.Volume.required ? ew.Validators.required(fields.Volume.caption) : null], fields.Volume.isInvalid],
            ["Flowrate", [fields.Flowrate.visible && fields.Flowrate.required ? ew.Validators.required(fields.Flowrate.caption) : null], fields.Flowrate.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormInputLogbMonitoringStockRtwEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.OldKeyName)" value="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasFormInputLogbMonitoringStockRtwEdit.id.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.id.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_id" class="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.id.Caption)@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.id.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_id">
<span @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasFormInputLogbMonitoringStockRtwEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasFormInputLogbMonitoringStockRTW" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbMonitoringStockRtwEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbMonitoringStockRtwEdit.id.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwEdit.idAktifitas.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_idAktifitas" for="x_idAktifitas" class="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.idAktifitas.Caption)@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_idAktifitas">
<input type="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubAktivitasFormInputLogbMonitoringStockRTW" data-field="x_idAktifitas" value="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbMonitoringStockRtwEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.idAktifitas.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbMonitoringStockRtwEdit.idAktifitas.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwEdit.NoTangki.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwEdit.NoTangki.Visible (begin)
    <div id="r_NoTangki" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.NoTangki.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_NoTangki" for="x_NoTangki" class="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.NoTangki.Caption)@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.NoTangki.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.NoTangki.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_NoTangki">
<input type="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.NoTangki.InputTextType)" name="x_NoTangki" id="x_NoTangki" data-table="SubAktivitasFormInputLogbMonitoringStockRTW" data-field="x_NoTangki" value="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.NoTangki.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbMonitoringStockRtwEdit.NoTangki.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.NoTangki.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.NoTangki.EditAttributes) aria-describedby="x_NoTangki_help">
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.NoTangki.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.NoTangki.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbMonitoringStockRtwEdit.NoTangki.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwEdit.Produk.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.Produk.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_Produk" for="x_Produk" class="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.Produk.Caption)@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.Produk.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_Produk">
<input type="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasFormInputLogbMonitoringStockRTW" data-field="x_Produk" value="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.Produk.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbMonitoringStockRtwEdit.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.Produk.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbMonitoringStockRtwEdit.Produk.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwEdit.Aktivitas2.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwEdit.Aktivitas2.Visible (begin)
    <div id="r_Aktivitas2" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.Aktivitas2.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_Aktivitas2" for="x_Aktivitas2" class="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.Aktivitas2.Caption)@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.Aktivitas2.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.Aktivitas2.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_Aktivitas2">
<input type="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.Aktivitas2.InputTextType)" name="x_Aktivitas2" id="x_Aktivitas2" data-table="SubAktivitasFormInputLogbMonitoringStockRTW" data-field="x_Aktivitas2" value="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.Aktivitas2.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbMonitoringStockRtwEdit.Aktivitas2.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.Aktivitas2.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.Aktivitas2.EditAttributes) aria-describedby="x_Aktivitas2_help">
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.Aktivitas2.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.Aktivitas2.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbMonitoringStockRtwEdit.Aktivitas2.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwEdit.LevelTangki.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwEdit.LevelTangki.Visible (begin)
    <div id="r_LevelTangki" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.LevelTangki.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_LevelTangki" for="x_LevelTangki" class="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.LevelTangki.Caption)@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.LevelTangki.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.LevelTangki.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_LevelTangki">
<input type="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.LevelTangki.InputTextType)" name="x_LevelTangki" id="x_LevelTangki" data-table="SubAktivitasFormInputLogbMonitoringStockRTW" data-field="x_LevelTangki" value="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.LevelTangki.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbMonitoringStockRtwEdit.LevelTangki.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.LevelTangki.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.LevelTangki.EditAttributes) aria-describedby="x_LevelTangki_help">
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.LevelTangki.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.LevelTangki.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbMonitoringStockRtwEdit.LevelTangki.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwEdit.Volume.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwEdit.Volume.Visible (begin)
    <div id="r_Volume" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.Volume.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_Volume" for="x_Volume" class="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.Volume.Caption)@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.Volume.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.Volume.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_Volume">
<input type="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.Volume.InputTextType)" name="x_Volume" id="x_Volume" data-table="SubAktivitasFormInputLogbMonitoringStockRTW" data-field="x_Volume" value="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.Volume.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbMonitoringStockRtwEdit.Volume.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.Volume.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.Volume.EditAttributes) aria-describedby="x_Volume_help">
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.Volume.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.Volume.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbMonitoringStockRtwEdit.Volume.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwEdit.Flowrate.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwEdit.Flowrate.Visible (begin)
    <div id="r_Flowrate" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.Flowrate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_Flowrate" for="x_Flowrate" class="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.Flowrate.Caption)@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.Flowrate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.Flowrate.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_Flowrate">
<input type="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.Flowrate.InputTextType)" name="x_Flowrate" id="x_Flowrate" data-table="SubAktivitasFormInputLogbMonitoringStockRTW" data-field="x_Flowrate" value="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.Flowrate.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbMonitoringStockRtwEdit.Flowrate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.Flowrate.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.Flowrate.EditAttributes) aria-describedby="x_Flowrate_help">
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.Flowrate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.Flowrate.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbMonitoringStockRtwEdit.Flowrate.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwEdit.userInput.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.userInput.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_userInput" for="x_userInput" class="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.userInput.Caption)@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.userInput.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_userInput">
<input type="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasFormInputLogbMonitoringStockRTW" data-field="x_userInput" value="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbMonitoringStockRtwEdit.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.userInput.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbMonitoringStockRtwEdit.userInput.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwEdit.etlDate.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_etlDate" for="x_etlDate" class="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.etlDate.Caption)@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.etlDate.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_etlDate">
<input type="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasFormInputLogbMonitoringStockRTW" data-field="x_etlDate" value="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbMonitoringStockRtwEdit.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.etlDate.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.etlDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputLogbMonitoringStockRtwEdit.etlDate.ReadOnly && !subAktivitasFormInputLogbMonitoringStockRtwEdit.etlDate.Disabled && !subAktivitasFormInputLogbMonitoringStockRtwEdit.etlDate.EditAttrs.Is("readonly") && !subAktivitasFormInputLogbMonitoringStockRtwEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputLogbMonitoringStockRTWedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputLogbMonitoringStockRTWedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbMonitoringStockRtwEdit.etlDate.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwEdit.idProses.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_idProses" for="x_idProses" class="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.idProses.Caption)@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_idProses">
<input type="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubAktivitasFormInputLogbMonitoringStockRTW" data-field="x_idProses" value="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbMonitoringStockRtwEdit.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.idProses.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbMonitoringStockRtwEdit.idProses.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwEdit.LastUpdatedBy.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_LastUpdatedBy">
<input type="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasFormInputLogbMonitoringStockRTW" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbMonitoringStockRtwEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbMonitoringStockRtwEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwEdit.lastUpdatedDate.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_lastUpdatedDate">
<input type="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasFormInputLogbMonitoringStockRTW" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbMonitoringStockRtwEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasFormInputLogbMonitoringStockRtwEdit.lastUpdatedDate.ReadOnly && !subAktivitasFormInputLogbMonitoringStockRtwEdit.lastUpdatedDate.Disabled && !subAktivitasFormInputLogbMonitoringStockRtwEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasFormInputLogbMonitoringStockRtwEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasFormInputLogbMonitoringStockRTWedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasFormInputLogbMonitoringStockRTWedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbMonitoringStockRtwEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormInputLogbMonitoringStockRtwEdit.NoReferensi.Visible) { // subAktivitasFormInputLogbMonitoringStockRtwEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasFormInputLogbMonitoringStockRTW_NoReferensi" for="x_NoReferensi" class="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.NoReferensi.Caption)@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormInputLogbMonitoringStockRTW_NoReferensi">
<input type="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasFormInputLogbMonitoringStockRTW" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.NoReferensi.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormInputLogbMonitoringStockRtwEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormInputLogbMonitoringStockRtwEdit.NoReferensi.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasFormInputLogbMonitoringStockRtwEdit.CloseRecordset(); }
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasFormInputLogbMonitoringStockRtwEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasFormInputLogbMonitoringStockRTWedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasFormInputLogbMonitoringStockRTWedit" data-href="@AppPath(subAktivitasFormInputLogbMonitoringStockRtwEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasFormInputLogbMonitoringStockRtwEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasFormInputLogbMonitoringStockRtwEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormInputLogbMonitoringStockRTW");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
