@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiARsesuaiCqdPipaLpgList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiARsesuaiCqdPipaLpgList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasNilaiARsesuaiCqdPipaLpgList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiARsesuaiCqdPipaLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiARsesuaiCQDPipaLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasNilaiARsesuaiCqdPipaLpgList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasNilaiARsesuaiCqdPipaLpgList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasNilaiARsesuaiCqdPipaLpgList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasNilaiARsesuaiCqdPipaLpgList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasNilaiARsesuaiCqdPipaLpgList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasNilaiARsesuaiCqdPipaLpgList.TotalRecords > 0 && subAktivitasNilaiARsesuaiCqdPipaLpgList.ExportOptions.Visible) {
    subAktivitasNilaiARsesuaiCqdPipaLpgList.ExportOptions.Render("body");
}
@if (subAktivitasNilaiARsesuaiCqdPipaLpgList.ImportOptions.Visible) {
    subAktivitasNilaiARsesuaiCqdPipaLpgList.ImportOptions.Render("body");
}
@if (subAktivitasNilaiARsesuaiCqdPipaLpgList.SearchOptions.Visible) {
    subAktivitasNilaiARsesuaiCqdPipaLpgList.SearchOptions.Render("body");
}
@if (subAktivitasNilaiARsesuaiCqdPipaLpgList.FilterOptions.Visible) {
    subAktivitasNilaiARsesuaiCqdPipaLpgList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasNilaiARsesuaiCqdPipaLpgList.IsModal) {
<form name="fSubAktivitasNilaiARsesuaiCQDPipaLPGsrch" id="fSubAktivitasNilaiARsesuaiCQDPipaLPGsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasNilaiARsesuaiCQDPipaLPGsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasNilaiARsesuaiCqdPipaLpgList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiARsesuaiCqdPipaLpgList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiARsesuaiCQDPipaLPG: currentTable } });
var currentForm;
var fSubAktivitasNilaiARsesuaiCQDPipaLPGsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiARsesuaiCQDPipaLPGsrch")
        .setPageId("list")
@if (subAktivitasNilaiARsesuaiCqdPipaLpgList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasNilaiARsesuaiCqdPipaLpgList.IsExport() && Empty(subAktivitasNilaiARsesuaiCqdPipaLpgList.CurrentAction) && subAktivitasNilaiARsesuaiCqdPipaLpgList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasNilaiARsesuaiCqdPipaLpgList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasNilaiARsesuaiCqdPipaLpgList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasNilaiARsesuaiCqdPipaLpgList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasNilaiARsesuaiCQDPipaLPGsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiARsesuaiCqdPipaLpgList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasNilaiARsesuaiCQDPipaLPGsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiARsesuaiCqdPipaLpgList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasNilaiARsesuaiCQDPipaLPGsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiARsesuaiCqdPipaLpgList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasNilaiARsesuaiCQDPipaLPGsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasNilaiARsesuaiCqdPipaLpgList.ShowPageHeader()
@subAktivitasNilaiARsesuaiCqdPipaLpgList.ShowMessages()
<main class="list @(subAktivitasNilaiARsesuaiCqdPipaLpgList.TotalRecords == 0 && !subAktivitasNilaiARsesuaiCqdPipaLpgList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasNilaiARsesuaiCqdPipaLpgList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasNilaiARsesuaiCqdPipaLpgList.TotalRecords > 0 || !Empty(subAktivitasNilaiARsesuaiCqdPipaLpgList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasNilaiARsesuaiCqdPipaLpgList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasNilaiARsesuaiCqdPipaLpgList.TableGridClass)">
<form name="@(subAktivitasNilaiARsesuaiCqdPipaLpgList.FormName)" id="@(subAktivitasNilaiARsesuaiCqdPipaLpgList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasNilaiARsesuaiCqdPipaLpgList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasNilaiARsesuaiCqdPipaLpgList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasNilaiARsesuaiCQDPipaLPG" class="card-body ew-grid-middle-panel @(subAktivitasNilaiARsesuaiCqdPipaLpgList.TableContainerClass)" style="@(subAktivitasNilaiARsesuaiCqdPipaLpgList.TableContainerStyle)">
@if (subAktivitasNilaiARsesuaiCqdPipaLpgList.TotalRecords > 0 || subAktivitasNilaiARsesuaiCqdPipaLpgList.IsGridEdit || subAktivitasNilaiARsesuaiCqdPipaLpgList.IsMultiEdit) {
<table id="tbl_SubAktivitasNilaiARsesuaiCQDPipaLPGlist" class="@(subAktivitasNilaiARsesuaiCqdPipaLpgList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasNilaiARsesuaiCqdPipaLpgList.RowType = RowType.Header;

    // Render list options
    await subAktivitasNilaiARsesuaiCqdPipaLpgList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasNilaiARsesuaiCqdPipaLpgList.ListOptions.RenderHeader("left")
@if (subAktivitasNilaiARsesuaiCqdPipaLpgList.id.Visible) { // subAktivitasNilaiARsesuaiCqdPipaLpgList.id.Visible (begin)
        <th data-name="id" class="@(subAktivitasNilaiARsesuaiCqdPipaLpgList.id.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDPipaLPG_id" class="SubAktivitasNilaiARsesuaiCQDPipaLPG_id">@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdPipaLpgList.id))</div></th>
} @* subAktivitasNilaiARsesuaiCqdPipaLpgList.id.Visible (end) *@
@if (subAktivitasNilaiARsesuaiCqdPipaLpgList.idProses.Visible) { // subAktivitasNilaiARsesuaiCqdPipaLpgList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasNilaiARsesuaiCqdPipaLpgList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDPipaLPG_idProses" class="SubAktivitasNilaiARsesuaiCQDPipaLPG_idProses">@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdPipaLpgList.idProses))</div></th>
} @* subAktivitasNilaiARsesuaiCqdPipaLpgList.idProses.Visible (end) *@
@if (subAktivitasNilaiARsesuaiCqdPipaLpgList.idAktifitas.Visible) { // subAktivitasNilaiARsesuaiCqdPipaLpgList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasNilaiARsesuaiCqdPipaLpgList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDPipaLPG_idAktifitas" class="SubAktivitasNilaiARsesuaiCQDPipaLPG_idAktifitas">@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdPipaLpgList.idAktifitas))</div></th>
} @* subAktivitasNilaiARsesuaiCqdPipaLpgList.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiARsesuaiCqdPipaLpgList.NoReferensi.Visible) { // subAktivitasNilaiARsesuaiCqdPipaLpgList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasNilaiARsesuaiCqdPipaLpgList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDPipaLPG_NoReferensi" class="SubAktivitasNilaiARsesuaiCQDPipaLPG_NoReferensi">@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdPipaLpgList.NoReferensi))</div></th>
} @* subAktivitasNilaiARsesuaiCqdPipaLpgList.NoReferensi.Visible (end) *@
@if (subAktivitasNilaiARsesuaiCqdPipaLpgList.MT.Visible) { // subAktivitasNilaiARsesuaiCqdPipaLpgList.MT.Visible (begin)
        <th data-name="MT" class="@(subAktivitasNilaiARsesuaiCqdPipaLpgList.MT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDPipaLPG_MT" class="SubAktivitasNilaiARsesuaiCQDPipaLPG_MT">@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdPipaLpgList.MT))</div></th>
} @* subAktivitasNilaiARsesuaiCqdPipaLpgList.MT.Visible (end) *@
@if (subAktivitasNilaiARsesuaiCqdPipaLpgList.userInput.Visible) { // subAktivitasNilaiARsesuaiCqdPipaLpgList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasNilaiARsesuaiCqdPipaLpgList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDPipaLPG_userInput" class="SubAktivitasNilaiARsesuaiCQDPipaLPG_userInput">@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdPipaLpgList.userInput))</div></th>
} @* subAktivitasNilaiARsesuaiCqdPipaLpgList.userInput.Visible (end) *@
@if (subAktivitasNilaiARsesuaiCqdPipaLpgList.etlDate.Visible) { // subAktivitasNilaiARsesuaiCqdPipaLpgList.etlDate.Visible (begin)
        <th data-name="etlDate" class="@(subAktivitasNilaiARsesuaiCqdPipaLpgList.etlDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDPipaLPG_etlDate" class="SubAktivitasNilaiARsesuaiCQDPipaLPG_etlDate">@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdPipaLpgList.etlDate))</div></th>
} @* subAktivitasNilaiARsesuaiCqdPipaLpgList.etlDate.Visible (end) *@
@if (subAktivitasNilaiARsesuaiCqdPipaLpgList.LastUpdatedBy.Visible) { // subAktivitasNilaiARsesuaiCqdPipaLpgList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasNilaiARsesuaiCqdPipaLpgList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDPipaLPG_LastUpdatedBy" class="SubAktivitasNilaiARsesuaiCQDPipaLPG_LastUpdatedBy">@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdPipaLpgList.LastUpdatedBy))</div></th>
} @* subAktivitasNilaiARsesuaiCqdPipaLpgList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiARsesuaiCqdPipaLpgList.lastUpdatedDate.Visible) { // subAktivitasNilaiARsesuaiCqdPipaLpgList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasNilaiARsesuaiCqdPipaLpgList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDPipaLPG_lastUpdatedDate" class="SubAktivitasNilaiARsesuaiCQDPipaLPG_lastUpdatedDate">@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdPipaLpgList.lastUpdatedDate))</div></th>
} @* subAktivitasNilaiARsesuaiCqdPipaLpgList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasNilaiARsesuaiCqdPipaLpgList.StatusAktivitas.Visible) { // subAktivitasNilaiARsesuaiCqdPipaLpgList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasNilaiARsesuaiCqdPipaLpgList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiARsesuaiCQDPipaLPG_StatusAktivitas" class="SubAktivitasNilaiARsesuaiCQDPipaLPG_StatusAktivitas">@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.RenderFieldHeader(subAktivitasNilaiARsesuaiCqdPipaLpgList.StatusAktivitas))</div></th>
} @* subAktivitasNilaiARsesuaiCqdPipaLpgList.StatusAktivitas.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasNilaiARsesuaiCqdPipaLpgList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasNilaiARsesuaiCqdPipaLpgList.PageNumber)">
@{
    await subAktivitasNilaiARsesuaiCqdPipaLpgList.SetupGrid();
    bool eof = subAktivitasNilaiARsesuaiCqdPipaLpgList.Recordset == null; // DN
}
@while (subAktivitasNilaiARsesuaiCqdPipaLpgList.RecordCount < subAktivitasNilaiARsesuaiCqdPipaLpgList.StopRecord || SameString(subAktivitasNilaiARsesuaiCqdPipaLpgList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasNilaiARsesuaiCqdPipaLpgList.RowIndex, "$rowindex$") &&
        (!subAktivitasNilaiARsesuaiCqdPipaLpgList.IsGridAdd || subAktivitasNilaiARsesuaiCqdPipaLpgList.CurrentMode == "copy") &&
        (!((subAktivitasNilaiARsesuaiCqdPipaLpgList.IsCopy || subAktivitasNilaiARsesuaiCqdPipaLpgList.IsAdd) && subAktivitasNilaiARsesuaiCqdPipaLpgList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasNilaiARsesuaiCqdPipaLpgList.Recordset.ReadAsync();
    subAktivitasNilaiARsesuaiCqdPipaLpgList.RecordCount++;
    if (subAktivitasNilaiARsesuaiCqdPipaLpgList.RecordCount >= subAktivitasNilaiARsesuaiCqdPipaLpgList.StartRecord) {
        await subAktivitasNilaiARsesuaiCqdPipaLpgList.SetupRow();
    <tr @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasNilaiARsesuaiCqdPipaLpgList.ListOptions.RenderBody("left", subAktivitasNilaiARsesuaiCqdPipaLpgList.RowCount)
    @if (subAktivitasNilaiARsesuaiCqdPipaLpgList.id.Visible) { // subAktivitasNilaiARsesuaiCqdPipaLpgList.id.Visible (begin)
        <td data-name="id" @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.id.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdPipaLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdPipaLpgList.RowCount)_SubAktivitasNilaiARsesuaiCQDPipaLPG_id" class="el_SubAktivitasNilaiARsesuaiCQDPipaLPG_id">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.id.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.id.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdPipaLpgList.id.Visible (end) *@
    @if (subAktivitasNilaiARsesuaiCqdPipaLpgList.idProses.Visible) { // subAktivitasNilaiARsesuaiCqdPipaLpgList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdPipaLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdPipaLpgList.RowCount)_SubAktivitasNilaiARsesuaiCQDPipaLPG_idProses" class="el_SubAktivitasNilaiARsesuaiCQDPipaLPG_idProses">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdPipaLpgList.idProses.Visible (end) *@
    @if (subAktivitasNilaiARsesuaiCqdPipaLpgList.idAktifitas.Visible) { // subAktivitasNilaiARsesuaiCqdPipaLpgList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdPipaLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdPipaLpgList.RowCount)_SubAktivitasNilaiARsesuaiCQDPipaLPG_idAktifitas" class="el_SubAktivitasNilaiARsesuaiCQDPipaLPG_idAktifitas">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdPipaLpgList.idAktifitas.Visible (end) *@
    @if (subAktivitasNilaiARsesuaiCqdPipaLpgList.NoReferensi.Visible) { // subAktivitasNilaiARsesuaiCqdPipaLpgList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdPipaLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdPipaLpgList.RowCount)_SubAktivitasNilaiARsesuaiCQDPipaLPG_NoReferensi" class="el_SubAktivitasNilaiARsesuaiCQDPipaLPG_NoReferensi">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdPipaLpgList.NoReferensi.Visible (end) *@
    @if (subAktivitasNilaiARsesuaiCqdPipaLpgList.MT.Visible) { // subAktivitasNilaiARsesuaiCqdPipaLpgList.MT.Visible (begin)
        <td data-name="MT" @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.MT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdPipaLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdPipaLpgList.RowCount)_SubAktivitasNilaiARsesuaiCQDPipaLPG_MT" class="el_SubAktivitasNilaiARsesuaiCQDPipaLPG_MT">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.MT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdPipaLpgList.MT.Visible (end) *@
    @if (subAktivitasNilaiARsesuaiCqdPipaLpgList.userInput.Visible) { // subAktivitasNilaiARsesuaiCqdPipaLpgList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdPipaLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdPipaLpgList.RowCount)_SubAktivitasNilaiARsesuaiCQDPipaLPG_userInput" class="el_SubAktivitasNilaiARsesuaiCQDPipaLPG_userInput">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdPipaLpgList.userInput.Visible (end) *@
    @if (subAktivitasNilaiARsesuaiCqdPipaLpgList.etlDate.Visible) { // subAktivitasNilaiARsesuaiCqdPipaLpgList.etlDate.Visible (begin)
        <td data-name="etlDate" @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.etlDate.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdPipaLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdPipaLpgList.RowCount)_SubAktivitasNilaiARsesuaiCQDPipaLPG_etlDate" class="el_SubAktivitasNilaiARsesuaiCQDPipaLPG_etlDate">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.etlDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.etlDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdPipaLpgList.etlDate.Visible (end) *@
    @if (subAktivitasNilaiARsesuaiCqdPipaLpgList.LastUpdatedBy.Visible) { // subAktivitasNilaiARsesuaiCqdPipaLpgList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdPipaLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdPipaLpgList.RowCount)_SubAktivitasNilaiARsesuaiCQDPipaLPG_LastUpdatedBy" class="el_SubAktivitasNilaiARsesuaiCQDPipaLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdPipaLpgList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasNilaiARsesuaiCqdPipaLpgList.lastUpdatedDate.Visible) { // subAktivitasNilaiARsesuaiCqdPipaLpgList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdPipaLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdPipaLpgList.RowCount)_SubAktivitasNilaiARsesuaiCQDPipaLPG_lastUpdatedDate" class="el_SubAktivitasNilaiARsesuaiCQDPipaLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdPipaLpgList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasNilaiARsesuaiCqdPipaLpgList.StatusAktivitas.Visible) { // subAktivitasNilaiARsesuaiCqdPipaLpgList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiARsesuaiCqdPipaLpgList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiARsesuaiCqdPipaLpgList.RowCount)_SubAktivitasNilaiARsesuaiCQDPipaLPG_StatusAktivitas" class="el_SubAktivitasNilaiARsesuaiCQDPipaLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiARsesuaiCqdPipaLpgList.StatusAktivitas.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasNilaiARsesuaiCqdPipaLpgList.ListOptions.RenderBody("right", subAktivitasNilaiARsesuaiCqdPipaLpgList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasNilaiARsesuaiCqdPipaLpgList.RowIndex, "$rowindex$"))
        subAktivitasNilaiARsesuaiCqdPipaLpgList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasNilaiARsesuaiCqdPipaLpgList.IsCopy || subAktivitasNilaiARsesuaiCqdPipaLpgList.IsAdd) && subAktivitasNilaiARsesuaiCqdPipaLpgList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasNilaiARsesuaiCqdPipaLpgList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasNilaiARsesuaiCqdPipaLpgList.CurrentAction) && !subAktivitasNilaiARsesuaiCqdPipaLpgList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasNilaiARsesuaiCqdPipaLpgList.CloseRecordset(); }
@if (!subAktivitasNilaiARsesuaiCqdPipaLpgList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasNilaiARsesuaiCqdPipaLpgList.IsGridAdd && !(subAktivitasNilaiARsesuaiCqdPipaLpgList.IsGridEdit && subAktivitasNilaiARsesuaiCqdPipaLpgList.ModalGridEdit) && !subAktivitasNilaiARsesuaiCqdPipaLpgList.IsMultiEdit) {
@Html.Raw(subAktivitasNilaiARsesuaiCqdPipaLpgList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasNilaiARsesuaiCqdPipaLpgList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasNilaiARsesuaiCqdPipaLpgList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasNilaiARsesuaiCqdPipaLpgList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasNilaiARsesuaiCqdPipaLpgList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasNilaiARsesuaiCqdPipaLpgList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasNilaiARsesuaiCQDPipaLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
