@{
    // View
    View = this;

    // Check action result
    if (subAktivitasFormNilaiSfalarstsPymBbmEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasFormNilaiSfalarstsPymBbmEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasFormNilaiSfalarstsPymBbmEdit.ShowPageHeader()
@subAktivitasFormNilaiSfalarstsPymBbmEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasFormNilaiSFALARSTSPymBBMedit" id="fSubAktivitasFormNilaiSFALARSTSPymBBMedit" class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasFormNilaiSfalarstsPymBbmEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasFormNilaiSFALARSTSPymBBM: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasFormNilaiSFALARSTSPymBBMedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasFormNilaiSFALARSTSPymBBMedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null], fields.idAktifitas.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null], fields.StatusAktivitas.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null], fields.lastUpdatedDate.isInvalid],
            ["SFAL_klobs", [fields.SFAL_klobs.visible && fields.SFAL_klobs.required ? ew.Validators.required(fields.SFAL_klobs.caption) : null], fields.SFAL_klobs.isInvalid],
            ["SFAL_kl15", [fields.SFAL_kl15.visible && fields.SFAL_kl15.required ? ew.Validators.required(fields.SFAL_kl15.caption) : null], fields.SFAL_kl15.isInvalid],
            ["SFAL_barrels", [fields.SFAL_barrels.visible && fields.SFAL_barrels.required ? ew.Validators.required(fields.SFAL_barrels.caption) : null], fields.SFAL_barrels.isInvalid],
            ["SFAL_lt", [fields.SFAL_lt.visible && fields.SFAL_lt.required ? ew.Validators.required(fields.SFAL_lt.caption) : null], fields.SFAL_lt.isInvalid],
            ["SFAL_mt", [fields.SFAL_mt.visible && fields.SFAL_mt.required ? ew.Validators.required(fields.SFAL_mt.caption) : null], fields.SFAL_mt.isInvalid],
            ["AR_klobs", [fields.AR_klobs.visible && fields.AR_klobs.required ? ew.Validators.required(fields.AR_klobs.caption) : null], fields.AR_klobs.isInvalid],
            ["AR_kl15", [fields.AR_kl15.visible && fields.AR_kl15.required ? ew.Validators.required(fields.AR_kl15.caption) : null], fields.AR_kl15.isInvalid],
            ["AR_barrels", [fields.AR_barrels.visible && fields.AR_barrels.required ? ew.Validators.required(fields.AR_barrels.caption) : null], fields.AR_barrels.isInvalid],
            ["AR_lt", [fields.AR_lt.visible && fields.AR_lt.required ? ew.Validators.required(fields.AR_lt.caption) : null], fields.AR_lt.isInvalid],
            ["AR_mt", [fields.AR_mt.visible && fields.AR_mt.required ? ew.Validators.required(fields.AR_mt.caption) : null], fields.AR_mt.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Client script
    // Write your client script here, no need to add script tags.
    var parent_url = ew.PATH_BASE;
    var IdProses = "@subAktivitasFormNilaiSfalarstsPymBbmEdit.idProses.CurrentValue";
    var NoReferensi = "@subAktivitasFormNilaiSfalarstsPymBbmEdit.NoReferensi.CurrentValue";
    let proceedSubmitStatus = null;
    const IdAktivitas = "@subAktivitasFormNilaiSfalarstsPymBbmEdit.idAktifitas.CurrentValue";
    $('#x_AR_klobs, #x_AR_kl15, #x_AR_barrels, #x_AR_mt, #x_AR_lt, #x_SFAL_klobs, #x_SFAL_kl15, #x_SFAL_barrels, #x_SFAL_mt, #x_SFAL_lt').on('focus', function () {
        hideFeedback($(this));
    });
    function hideFeedback(el) {
        let feedback = el.siblings('.invalid-feedback');
        feedback.hide();
    }
    function validasiInput(){
        var inputMap = {
            "#x_AR_klobs": "AR KL Obs",
            "#x_AR_kl15": "AR KL 15",
            "#x_AR_barrels": "AR Barrels",
            "#x_AR_mt": "AR Mt",
            "#x_AR_lt": "AR Lt",
            "#x_SFAL_klobs": "SFAL KL Obs",
            "#x_SFAL_kl15": "SFAL KL 15",
            "#x_SFAL_barrels": "SFAL Barrels",
            "#x_SFAL_mt": "SFAL Mt",
            "#x_SFAL_lt": "SFAL Lt"
        };
        let isValid = true;
        $('.invalid-feedback').hide();
        let zeroOrNegativeFields = [];
        for (var id in inputMap) {
            var el = $(id);
            var label = inputMap[id];
            var val = el.val().trim();
            el.val(val);
            var feedback = el.siblings('.invalid-feedback');
            if (val === "") {
                feedback.text('*' + label + ' tidak boleh kosong.').show();
                isValid = false;
                continue;
            }
            if (isNaN(val)) {
                feedback.text('*' + label + ' harus diisi dengan angka desimal yang valid.').show();
                isValid = false;
                continue;
            }
            var number = parseFloat(val);
            if (number <= 0) {
                zeroOrNegativeFields.push(label)
            }
        }
        if (!isValid) {
            ew.alert('Nilai input harus berupa angka desimal yang valid.');
            return;
        }
        let fieldNotValid = [];
        for (const fieldId in inputMap) {
            const el = $(fieldId);
            const label = inputMap[fieldId];
            if (el.length && !el.val().trim()) {
                fieldNotValid.push(label);
                isValid = false
            }
        }
        if (!isValid) {
            ew.alert("Field tidak boleh kosong: " + fieldNotValid.join(", "));
            return { isValid: false}; // Gagal submit
        } else {
            $('.invalid-feedback').hide();
            if (zeroOrNegativeFields.length > 0) {
                return { isValid: false, hasNegative: true, fields: zeroOrNegativeFields };
            }
                return { isValid: true};
        }
        return { isValid: true};
    }
    function handleCustomSubmit(status) {
        let idAktivitas = $("#x_idAktifitas").val();
        const originalStatus = document.querySelector('#el_SubAktivitasFormNilaiSFALARSTSPymBBM_StatusAktivitas .form-control-plaintext').textContent;
        const isValidInput = validasiInput();
        if (!isValidInput.isValid && !isValidInput.hasNegative) return;
        let allNegativeFields = [];
        if (isValidInput.hasNegative) allNegativeFields = allNegativeFields.concat(isValidInput.fields);
        if (allNegativeFields.length > 0) {
            let warningText = "Field berikut bernilai 0 atau kurang: " + allNegativeFields.join(", ") + ". Apakah Anda ingin tetap menyimpan?";
            $("#warningValueText").text(warningText);
            proceedSubmitStatus = status;
            $("#warningValueModal").modal("show");
            return;
        }
        submitFinal(status);
    }
    function submitFinal(status) {
        let idAktivitas = $("#x_idAktifitas").val();
        const originalStatus = document.querySelector('#el_SubAktivitasFormNilaiSFALARSTSPymBBM_StatusAktivitas .form-control-plaintext').textContent;
        $.ajax({
            url: parent_url + `api/LookUpList/check_valid_status_aktivitas?idAktivitas=${idAktivitas}&originalStatus=${originalStatus}`,
            type: 'GET',
            beforeSend: function () {
                showLoading();
            },
            success: function (response) {
                if (!response.IsValid){
                    hideLoading();
                    ew.alert(response.Message ?? "Status aktivitas telah diubah oleh pengguna lain");
                    return;
                } else {
                    let form = $("#fSubAktivitasFormNilaiSFALARSTSPymBBMedit");
                    $.ajax({
                        url: form.attr("action"),
                        type: form.attr("method"),
                        data: form.serialize(),
                        success: function (response) {
                            updateStatus(idAktivitas, status);
                        },
                        error: function (xhr, status, error) {
                            hideLoading();
                            ew.alert("Gagal menyimpan data.");
                            console.error("Form submit gagal:", error);
                        }
                    });  
                }
            },
            error: function (xhr, status, error) {
                hideLoading();
                ew.alert("Gagal menyimpan data.");
                console.error("Form submit gagal:", error);
            }
        }); 
    }
    function updateStatus(idAktivitas, status) {
        $.ajax({
            url: parent_url + `api/LookUpList/update_status_aktivitas?idAktivitas=${idAktivitas}&statusAktivitas=${status}`,
            type: 'POST',
            success: function () {
                $.ajax({
                    url: parent_url + 'api/LookUpList/update_lop_r3_r4',
                    type: 'POST',
                    data: JSON.stringify({
                                NoReferensi: NoReferensi,
                                IdProses: IdProses,
                                IdAktivitas: IdAktivitas,
                                TipeProduk: 'BBM'
                    }),
                    contentType: 'application/json',
                    success: function (res) {
                        // window.location.href = `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`;
                        if (status == "Completed" || status == "Completed Edit") {
                            window.location.href = `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`;
                        } else {
                            location.reload();
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Update Aktivitas Dokumen gagal:", error);
                    },
                    complete: function () {
                                hideLoading();
                    }
                });
                // if (status == "Completed" || status == "Completed Edit") {
                //             window.location.href = `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`;
                //         } else {
                //             location.reload();
                //         }
                // $.ajax({
                //     url: parent_url + 'api/LookUpList/UpdateSFALAR',
                //     type: 'POST',
                //     data: JSON.stringify({ NoReferensi: NoReferensi }),
                //     contentType: 'application/json',
                //     success: function (res) {
                //         if (status == "Completed" || status == "Completed Edit") {
                //             window.location.href = `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`;
                //         } else {
                //             location.reload();
                //         }    
                //     },
                //     error: function (xhr, status, error) {
                //         console.error("Update Aktivitas Dokumen gagal:", error);
                //     },
                //     complete: function () {
                //         hideLoading();
                //     }
                // });
            },
            error: function (xhr, status, error) {
                ew.alert("Status gagal diperbarui.");
                console.error("Update status gagal:", error);
            },
            complete: function () {
                hideLoading();
            }
        });
    }
    function reverseStatus(status, catatan) {
            showLoading();
            let idAktivitas = $("#x_idAktifitas").val();
            $.ajax({
                    url: parent_url + `api/LookUpList/update_status_aktivitas-v2`,
                    type: 'POST',
                    data: JSON.stringify({ IdAktivitas: idAktivitas, StatusAktivitas: status, Catatan: catatan ?? null }),
                    contentType: 'application/json',
                    success: function () {
                        $.ajax({
                            url: parent_url + 'api/LookUpList/generate_etc',
                            method: 'POST',
                            data: JSON.stringify({ NoReferensi: NoReferensi }),
                            contentType: 'application/json',
                            success: function (res) {
                                setTimeout(function () {
                                    window.location.href = `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`;
                                }, 1000);
                            },
                            error: function (err) {
                                hideLoading();
                                ew.alert('Perubahan gagal disimpan.');
                                console.error(err);
                            },
                        });
                    },
                    error: function (xhr, status, error) {
                        ew.alert("Status gagal diperbarui.");
                        console.error("Update status gagal:", error);
                    },
                    complete: function () {
                        hideLoading();
                    }
                });
    }
    $(document).on("click", "#btn-draft", function () {
        handleCustomSubmit("Draft");
    });
    $(document).on("click", "#btn-completed", function () {
        handleCustomSubmit("Completed");
    });
    $(document).on("click", "#btn-editing", function () {
        handleCustomSubmit("Editing");
    });
    $(document).on("click", "#btn-completedEdit", function () {
        handleCustomSubmit("Completed Edit");
    });
    $(document).on("click", "#btn-confirm-modal", function () {
        $("#warningValueModal").modal("hide");
        submitFinal(proceedSubmitStatus);
    });
    $(document).on("submit", "#reverseStatusEditingModalForm", function (e) {
        e.preventDefault();
        let catatanText = $("#catatanReverseStatusEditing").val();
        reverseStatus("Editing", catatanText);
    });
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasFormNilaiSfalarstsPymBbmEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.OldKeyName)" value="@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasFormNilaiSfalarstsPymBbmEdit.NoReferensi.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_NoReferensi" for="x_NoReferensi" class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.NoReferensi.Caption)@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasFormNilaiSFALARSTSPymBBM_NoReferensi">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.NoReferensi.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasFormNilaiSfalarstsPymBbmEdit.NoReferensi.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasFormNilaiSFALARSTSPymBBM" data-field="x_NoReferensi" data-hidden="1" name="x_NoReferensi" id="x_NoReferensi" value="@Html.Raw(HtmlEncode(subAktivitasFormNilaiSfalarstsPymBbmEdit.NoReferensi.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasFormNilaiSfalarstsPymBbmEdit.NoReferensi.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmEdit.idProses.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_idProses" for="x_idProses" class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.idProses.Caption)@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasFormNilaiSFALARSTSPymBBM_idProses">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.idProses.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.idProses.DisplayValue(subAktivitasFormNilaiSfalarstsPymBbmEdit.idProses.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasFormNilaiSFALARSTSPymBBM" data-field="x_idProses" data-hidden="1" name="x_idProses" id="x_idProses" value="@Html.Raw(HtmlEncode(subAktivitasFormNilaiSfalarstsPymBbmEdit.idProses.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasFormNilaiSfalarstsPymBbmEdit.idProses.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmEdit.idAktifitas.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_idAktifitas" for="x_idAktifitas" class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.idAktifitas.Caption)@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasFormNilaiSFALARSTSPymBBM_idAktifitas">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.idAktifitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.idAktifitas.DisplayValue(subAktivitasFormNilaiSfalarstsPymBbmEdit.idAktifitas.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasFormNilaiSFALARSTSPymBBM" data-field="x_idAktifitas" data-hidden="1" name="x_idAktifitas" id="x_idAktifitas" value="@Html.Raw(HtmlEncode(subAktivitasFormNilaiSfalarstsPymBbmEdit.idAktifitas.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasFormNilaiSfalarstsPymBbmEdit.idAktifitas.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmEdit.StatusAktivitas.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmEdit.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.StatusAktivitas.RowAttributes)>
        <label id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_StatusAktivitas" for="x_StatusAktivitas" class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.StatusAktivitas.Caption)@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasFormNilaiSFALARSTSPymBBM_StatusAktivitas">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.StatusAktivitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.StatusAktivitas.DisplayValue(subAktivitasFormNilaiSfalarstsPymBbmEdit.StatusAktivitas.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasFormNilaiSFALARSTSPymBBM" data-field="x_StatusAktivitas" data-hidden="1" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@Html.Raw(HtmlEncode(subAktivitasFormNilaiSfalarstsPymBbmEdit.StatusAktivitas.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasFormNilaiSfalarstsPymBbmEdit.StatusAktivitas.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmEdit.LastUpdatedBy.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasFormNilaiSFALARSTSPymBBM_LastUpdatedBy">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.LastUpdatedBy.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasFormNilaiSfalarstsPymBbmEdit.LastUpdatedBy.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasFormNilaiSFALARSTSPymBBM" data-field="x_LastUpdatedBy" data-hidden="1" name="x_LastUpdatedBy" id="x_LastUpdatedBy" value="@Html.Raw(HtmlEncode(subAktivitasFormNilaiSfalarstsPymBbmEdit.LastUpdatedBy.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasFormNilaiSfalarstsPymBbmEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmEdit.lastUpdatedDate.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasFormNilaiSFALARSTSPymBBM_lastUpdatedDate">
<span @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.lastUpdatedDate.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasFormNilaiSfalarstsPymBbmEdit.lastUpdatedDate.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasFormNilaiSFALARSTSPymBBM" data-field="x_lastUpdatedDate" data-hidden="1" name="x_lastUpdatedDate" id="x_lastUpdatedDate" value="@Html.Raw(HtmlEncode(subAktivitasFormNilaiSfalarstsPymBbmEdit.lastUpdatedDate.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasFormNilaiSfalarstsPymBbmEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_klobs.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_klobs.Visible (begin)
    <div id="r_SFAL_klobs" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_klobs.RowAttributes)>
        <label id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_klobs" for="x_SFAL_klobs" class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_klobs.Caption)@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_klobs.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_klobs.CellAttributes)>
<span id="el_SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_klobs">
<input type="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_klobs.InputTextType)" name="x_SFAL_klobs" id="x_SFAL_klobs" data-table="SubAktivitasFormNilaiSFALARSTSPymBBM" data-field="x_SFAL_klobs" value="@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_klobs.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_klobs.PlaceHolder))" data-format-pattern="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_klobs.FormatPattern)"@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_klobs.EditAttributes) aria-describedby="x_SFAL_klobs_help">
@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_klobs.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_klobs.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_klobs.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_kl15.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_kl15.Visible (begin)
    <div id="r_SFAL_kl15" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_kl15.RowAttributes)>
        <label id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_kl15" for="x_SFAL_kl15" class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_kl15.Caption)@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_kl15.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_kl15.CellAttributes)>
<span id="el_SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_kl15">
<input type="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_kl15.InputTextType)" name="x_SFAL_kl15" id="x_SFAL_kl15" data-table="SubAktivitasFormNilaiSFALARSTSPymBBM" data-field="x_SFAL_kl15" value="@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_kl15.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_kl15.PlaceHolder))" data-format-pattern="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_kl15.FormatPattern)"@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_kl15.EditAttributes) aria-describedby="x_SFAL_kl15_help">
@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_kl15.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_kl15.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_kl15.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_barrels.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_barrels.Visible (begin)
    <div id="r_SFAL_barrels" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_barrels.RowAttributes)>
        <label id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_barrels" for="x_SFAL_barrels" class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_barrels.Caption)@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_barrels.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_barrels.CellAttributes)>
<span id="el_SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_barrels">
<input type="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_barrels.InputTextType)" name="x_SFAL_barrels" id="x_SFAL_barrels" data-table="SubAktivitasFormNilaiSFALARSTSPymBBM" data-field="x_SFAL_barrels" value="@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_barrels.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_barrels.PlaceHolder))" data-format-pattern="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_barrels.FormatPattern)"@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_barrels.EditAttributes) aria-describedby="x_SFAL_barrels_help">
@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_barrels.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_barrels.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_barrels.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_lt.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_lt.Visible (begin)
    <div id="r_SFAL_lt" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_lt.RowAttributes)>
        <label id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_lt" for="x_SFAL_lt" class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_lt.Caption)@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_lt.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_lt.CellAttributes)>
<span id="el_SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_lt">
<input type="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_lt.InputTextType)" name="x_SFAL_lt" id="x_SFAL_lt" data-table="SubAktivitasFormNilaiSFALARSTSPymBBM" data-field="x_SFAL_lt" value="@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_lt.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_lt.PlaceHolder))" data-format-pattern="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_lt.FormatPattern)"@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_lt.EditAttributes) aria-describedby="x_SFAL_lt_help">
@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_lt.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_lt.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_lt.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_mt.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_mt.Visible (begin)
    <div id="r_SFAL_mt" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_mt.RowAttributes)>
        <label id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_mt" for="x_SFAL_mt" class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_mt.Caption)@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_mt.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_mt.CellAttributes)>
<span id="el_SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_mt">
<input type="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_mt.InputTextType)" name="x_SFAL_mt" id="x_SFAL_mt" data-table="SubAktivitasFormNilaiSFALARSTSPymBBM" data-field="x_SFAL_mt" value="@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_mt.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_mt.PlaceHolder))" data-format-pattern="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_mt.FormatPattern)"@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_mt.EditAttributes) aria-describedby="x_SFAL_mt_help">
@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_mt.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_mt.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormNilaiSfalarstsPymBbmEdit.SFAL_mt.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_klobs.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_klobs.Visible (begin)
    <div id="r_AR_klobs" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_klobs.RowAttributes)>
        <label id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_AR_klobs" for="x_AR_klobs" class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_klobs.Caption)@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_klobs.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_klobs.CellAttributes)>
<span id="el_SubAktivitasFormNilaiSFALARSTSPymBBM_AR_klobs">
<input type="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_klobs.InputTextType)" name="x_AR_klobs" id="x_AR_klobs" data-table="SubAktivitasFormNilaiSFALARSTSPymBBM" data-field="x_AR_klobs" value="@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_klobs.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_klobs.PlaceHolder))" data-format-pattern="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_klobs.FormatPattern)"@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_klobs.EditAttributes) aria-describedby="x_AR_klobs_help">
@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_klobs.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_klobs.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_klobs.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_kl15.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_kl15.Visible (begin)
    <div id="r_AR_kl15" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_kl15.RowAttributes)>
        <label id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_AR_kl15" for="x_AR_kl15" class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_kl15.Caption)@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_kl15.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_kl15.CellAttributes)>
<span id="el_SubAktivitasFormNilaiSFALARSTSPymBBM_AR_kl15">
<input type="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_kl15.InputTextType)" name="x_AR_kl15" id="x_AR_kl15" data-table="SubAktivitasFormNilaiSFALARSTSPymBBM" data-field="x_AR_kl15" value="@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_kl15.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_kl15.PlaceHolder))" data-format-pattern="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_kl15.FormatPattern)"@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_kl15.EditAttributes) aria-describedby="x_AR_kl15_help">
@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_kl15.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_kl15.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_kl15.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_barrels.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_barrels.Visible (begin)
    <div id="r_AR_barrels" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_barrels.RowAttributes)>
        <label id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_AR_barrels" for="x_AR_barrels" class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_barrels.Caption)@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_barrels.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_barrels.CellAttributes)>
<span id="el_SubAktivitasFormNilaiSFALARSTSPymBBM_AR_barrels">
<input type="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_barrels.InputTextType)" name="x_AR_barrels" id="x_AR_barrels" data-table="SubAktivitasFormNilaiSFALARSTSPymBBM" data-field="x_AR_barrels" value="@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_barrels.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_barrels.PlaceHolder))" data-format-pattern="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_barrels.FormatPattern)"@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_barrels.EditAttributes) aria-describedby="x_AR_barrels_help">
@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_barrels.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_barrels.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_barrels.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_lt.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_lt.Visible (begin)
    <div id="r_AR_lt" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_lt.RowAttributes)>
        <label id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_AR_lt" for="x_AR_lt" class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_lt.Caption)@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_lt.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_lt.CellAttributes)>
<span id="el_SubAktivitasFormNilaiSFALARSTSPymBBM_AR_lt">
<input type="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_lt.InputTextType)" name="x_AR_lt" id="x_AR_lt" data-table="SubAktivitasFormNilaiSFALARSTSPymBBM" data-field="x_AR_lt" value="@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_lt.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_lt.PlaceHolder))" data-format-pattern="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_lt.FormatPattern)"@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_lt.EditAttributes) aria-describedby="x_AR_lt_help">
@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_lt.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_lt.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_lt.Visible (end) *@
@if (subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_mt.Visible) { // subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_mt.Visible (begin)
    <div id="r_AR_mt" @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_mt.RowAttributes)>
        <label id="elh_SubAktivitasFormNilaiSFALARSTSPymBBM_AR_mt" for="x_AR_mt" class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.LeftColumnClass)">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_mt.Caption)@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_mt.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.RightColumnClass)"><div @Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_mt.CellAttributes)>
<span id="el_SubAktivitasFormNilaiSFALARSTSPymBBM_AR_mt">
<input type="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_mt.InputTextType)" name="x_AR_mt" id="x_AR_mt" data-table="SubAktivitasFormNilaiSFALARSTSPymBBM" data-field="x_AR_mt" value="@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_mt.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_mt.PlaceHolder))" data-format-pattern="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_mt.FormatPattern)"@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_mt.EditAttributes) aria-describedby="x_AR_mt_help">
@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_mt.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_mt.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasFormNilaiSfalarstsPymBbmEdit.AR_mt.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="SubAktivitasFormNilaiSFALARSTSPymBBM" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasFormNilaiSfalarstsPymBbmEdit.id.CurrentValue))">
@{ subAktivitasFormNilaiSfalarstsPymBbmEdit.CloseRecordset(); }
@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasFormNilaiSfalarstsPymBbmEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasFormNilaiSFALARSTSPymBBMedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasFormNilaiSFALARSTSPymBBMedit" data-href="@AppPath(subAktivitasFormNilaiSfalarstsPymBbmEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasFormNilaiSfalarstsPymBbmEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasFormNilaiSfalarstsPymBbmEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasFormNilaiSFALARSTSPymBBM");
});
</script>
<script>
loadjs.ready("load", function() {
    // Startup script
    var IdReferensi = "@subAktivitasFormNilaiSfalarstsPymBbmEdit.NoReferensi.CurrentValue";
    var IdProses = "@subAktivitasFormNilaiSfalarstsPymBbmEdit.idProses.CurrentValue";
    var idAktivitas = "@subAktivitasFormNilaiSfalarstsPymBbmEdit.idAktifitas.CurrentValue";
    var NamaAktivitas = $('#el_SubAktivitasFormNilaiSFALARSTSPymBBM_idAktifitas').text();
    let StatusAktivitas = "";
    const userLevel = "@CurrentUserLevel()";
    var parent_url = ew.PATH_BASE;
    var steps = [
        { number: 1, label: "Proses Penerimaan", url: `${parent_url}PenimbunanList`, icon: "fa-box-open" },
        { number: 2, label: "Proses", url: `${parent_url}ProsesList?cmd=search&x_IdReferensi%5B%5D=${IdReferensi}&search=&searchtype=`, icon: "fa-gears" },
        { number: 3, label: "Aktivitas", url: `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`, icon: "fa-list-check" },
        { number: 4, label: NamaAktivitas, url: '', icon: "fa-file-circle-check" }
    ];
    var currentStep = 4;
    $("<style>")
        .prop("type", "text/css")
        .html(`
            .stepper {
                display: flex;
                counter-reset: step;
                flex-wrap: nowrap;        /* jangan pecah ke bawah */
                overflow-x: auto;         /* scroll horizontal */
                -webkit-overflow-scrolling: touch; /* smooth scroll di mobile */
                padding-bottom: 8px;      /* space biar scroll bar gak nempel */
            }
            .stepper::-webkit-scrollbar {
            height: 6px; /* tipis */
            }
            .stepper::-webkit-scrollbar-thumb {
                background-color: #ccc;
                border-radius: 3px;
            }
            .step {
                width: 150px;
                text-align: center;
                position: relative;
            }
            .step:not(:last-child)::after {
                content: '';
                position: absolute;
                top: 20px;
                right: -50%;
                width: 100%;
                height: 4px;
                background-color: #ccc;
                z-index: 0;
            }
            .step.completed:not(:last-child)::after {
                background-color: #3c6dbd;
            }
            .step-icon {
                width: 36px;
                height: 36px;
                line-height: 36px;
                border-radius: 50%;
                background: #ccc;
                display: inline-block;
                z-index: 1;
                position: relative;
                color: white;
                font-weight: bold;
            }
            .step.active .step-icon {
                background: #3c6dbd;
            }
            .step-label {
                margin-top: 8px;
                font-size: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6px;
                color: #333;
            }
            .step-label {
                color: #3c6dbd !important;
                text-decoration: none;
                margin: 0;
                padding: 0;
            }
            .step-label-not-active {
                color: #CCCCCC !important;
            }
            .ag-theme-quartz .ag-header {
                background-color: #3c6dbd !important;
            }
            .ag-theme-quartz .ag-header-cell-label {
                color: #ffffff !important;
            }
            .ag-theme-quartz .ag-icon-filter {
                color: #ffffff !important;
            }
            .rotate-down {
                transform: rotate(90deg);
                transition: transform 0.3s ease;
            }
            .rotate-right {
                transform: rotate(0deg);
                transition: transform 0.3s ease;
            }
            .header-table {
                background-color: #3c6dbd !important;
                color: #fff !important;
            }
            .newblsfad{
                width: 15%;
            }
            .ar45b{
                width: 15%;
            }
            #table_bl_sfad_api table {
                width: 100%;             
                table-layout: fixed;    
                max-width: 850px;        
            }
        `)
        .appendTo("head");
    var $stepperWrapper = $('<div class="d-flex border-bottom border-2 pb-2"><div class="stepper"></div></div>');
    var $stepper = $stepperWrapper.find(".stepper");
    steps.forEach(function (step, i) {
        var isActive = step.number === currentStep;
        var isCompleted = step.number < currentStep;
        var stepClass = isActive ? "active" : isCompleted ? "completed" : "";
        var icon, labelContent, html;
        if (isActive) {
            icon = `<div class="step-icon bg-success">${step.number}</div>`;
            labelContent = `<div class="step-label"><p class="text-success mb-1"><i class="fa-solid ${step.icon} me-1 text-success"></i> ${step.label}</p></div>`;
            html = `<div class="step ${stepClass} text-success">${icon}${labelContent}</div>`;
        } else if (isCompleted) {
            icon = `<div class="step-icon" style="background: #3c6dbd;">${step.number}</div>`;
            labelContent = `<div class="step-label"><a href="${step.url}" class="text-primary"><i class="fa-solid ${step.icon} me-1"></i>${step.label}</a></div>`;
            html = `<div class="step ${stepClass}">${icon}${labelContent}</div>`;
        } else {
            icon = `<div class="step-icon">${step.number}</div>`;
            labelContent = `<div class="step-label-not-active"><p style="margin: 0;"><i class="fa-solid ${step.icon} me-1"></i>${step.label}</p></div>`;
            html = `<div class="step ${stepClass} text-secondary">${icon}${labelContent}</div>`;
        }
        $stepper.append(html);
    });
    $(".content-header .container-fluid .row").append($stepperWrapper);
    $("#btn-action").hide();
    $("#btn-cancel").html('<i class="fa-solid fa-ban"></i></i> Cancel');
    const $cancelButton = $("#btn-cancel");
    const idAktifitas = $("#x_idAktifitas").val();
    // --- log aktivitas start ---
    $('#el_SubAktivitasFormNilaiSFALARSTSPymBBM_LastUpdatedBy').addClass('d-flex gap-3');
    $('#el_SubAktivitasFormNilaiSFALARSTSPymBBM_LastUpdatedBy').append(`
        <button type="button" class="btn btn-primary ew-btn ps-2" expand-log="false">
            <i class="fa-solid fa-caret-right fa-2xl me-2 caret-icon rotate-right"></i>
            Log History
            <i class="fa-solid fa-clock-rotate-left ms-1"></i> 
        </button>
    `);
    $(document).on('click', 'button[expand-log]', function () {
        const $btn = $(this);
        const isExpanded = $btn.attr('expand-log') === 'true';
        const $row = $('#log-table-row');
        const $wrapper = $('#log-table-wrapper');
        const $caret = $btn.find('.caret-icon');
        if (!isExpanded) {
            $btn.attr('expand-log', 'true');
            $row.removeClass('d-none');
            setTimeout(() => {
                $wrapper.css({
                    maxHeight: '500px'
                });
            }, 10);
            $caret.removeClass('rotate-right').addClass('rotate-down');
        } else {
            $btn.attr('expand-log', 'false');
            $wrapper.css({
                maxHeight: '0'
            });
            setTimeout(() => {
                $row.addClass('d-none');
            }, 600);
            $caret.removeClass('rotate-down').addClass('rotate-right');
        }
    });
    if (idAktivitas && idAktivitas !== "0") {
        $.ajax({
            url: parent_url + `api/LookUpList/sub-aktivitas/startup?idAktivitas=${idAktivitas}`,
            type: 'GET',
            success: function(response) {
                // cek status
                if ($cancelButton.length){
                    let status = response.StatusAktivitas;
                    currentStatusAktivitas = status;
                    let $customButtons = ``;
                    switch (status) {
                        case "Waiting":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-draft">
                                    <i class="fas fa-save"></i> Save
                                </button>
                            `;
                            break;
                        case "Draft":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-draft">
                                    <i class="fas fa-save"></i> Save
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completed">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `
                            break;
                        case "Completed":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-editing">
                                    <i class="fa-solid fa-pen-to-square"></i> Edit
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completedEdit">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `;
                            break;
                        case "Editing":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-editing">
                                    <i class="fa-solid fa-pen-to-square"></i> Edit
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completedEdit">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `;
                            break;
                        case "Completed Edit":
                            if (userLevel === '4'){
                                $customButtons = `
                                    <button type="button" class="btn btn-warning ew-btn ml-2" id="btn-reverse-status">
                                        <i class="fa-solid fa-pen-to-square"></i> Edit 
                                    </button>
                                `;
                            }
                            break;
                    }
                    $cancelButton.before($customButtons);
                }

                // Cek is editable
                if(!response.IsEditable || response.StatusAktivitas === "Completed Edit"){
                    $("#btn-draft").hide();
                    $("#btn-editing").hide();
                    $("#btn-completed").hide();
                    $("#btn-completedEdit").hide();
                    $('input, select, textarea').prop('disabled', true);
                    $('#catatanReverseStatusEditing').prop('disabled', false);
                }

                // Log
                const mappedData = response.LogAktivitas.map(item => ({
                    Aktivitas: item.Aktivitas,
                    Username: item.UserName,
                    StatusAktivitas: item.StatusAktivitas,
                    Tanggal: item.Tanggal,
                    Catatan: item.Catatan
                }));
                $.getScript('https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js', function () {
                        $('#r_LastUpdatedBy').after(`
                            <div id="log-table-row" class="d-none row m-0">
                                <div class="p-0 col-2"></div>
                                <div class="p-0 col-10">
                                    <div id="log-table-wrapper" style="overflow: hidden; transition: all 0.6s ease; max-height: 0;">
                                        <div id="myGrid" class="ag-theme-quartz w-100 my-3" style="height: 300px;"></div>
                                    </div>
                                </div>
                            </div>
                        `);
                        const gridOptions = {
                            rowData: mappedData,
                            columnDefs: [
                                {
                                    headerName: 'No.',
                                    valueGetter: 'node.rowIndex + 1',
                                    width: 80,
                                    filter: false
                                },
                                {
                                    headerName: 'Aktivitas',
                                    field: 'Aktivitas',
                                    flex: 1
                                },
                                {
                                    headerName: 'Username',
                                    field: 'Username',
                                    flex: 1
                                },
                                {
                                    headerName: 'Status Aktivitas',
                                    field: 'StatusAktivitas',
                                    flex: 1
                                },
                                {
                                    headerName: 'Tanggal',
                                    field: 'Tanggal',
                                    flex: 1
                                },
                                {
                                    headerName: 'Catatan',
                                    field: 'Catatan',
                                    flex: 1
                                }
                            ],
                            defaultColDef: {
                                sortable: false,
                                suppressMovable: true,
                                filter: true,
                                resizable: false
                            },
                            rowSelection: 'multiple',
                            suppressRowClickSelection: true,
                            pagination: true,
                            paginationPageSize: 10
                        };
                        const myGridElement = document.querySelector('#myGrid');
                        agGrid.createGrid(myGridElement, gridOptions);
                    });
            },
            error: function(xhr, status, error) {
                ew.alert(xhr.responseJSON.message ?? "Terjadi kesalahan dalam memuat data");
            }
        });
    } else {
        console.warn("Skipping startup API: Invalid IdAktivitas");
        $('button[expand-log]').hide(); 
        $("#btn-draft, #btn-editing, #btn-completed, #btn-completedEdit").hide();
        $('input, select, textarea').prop('disabled', true);
    }
    // --- log aktivitas end ---
        const tableHtml = `
        <div class="d-flex flex-column flex-md-row w-100 gap-4">
            <div id="allValues" class="w-100">
                <div>
                    <div id="table_bl_sfad_api" class="table-responsive border rounded-3 mb-4" style="max-width: 850px;">
                        <table class="table rounded-4 m-0">
                            <thead>
                                <tr style="height: 50px;">
                                    <th class="fw-bold header-table">Satuan</th>
                                    <th class="fw-bold header-table">BL</th>
                                    <th class="fw-bold header-table">SFAL</th>
                                    <th class="fw-bold header-table">SFBD</th>
                                    <th class="fw-bold header-table">SFAL</th>
                                    <th class="fw-bold header-table">SFBL</th>
                                    <th class="fw-bold header-table">AR</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="height: 58px;">
                                    <td><strong>KL Obs</strong></td>
                                    <td id="td_BL_KlObs_api"></td>
                                    <td id="td_SFAL_KlObs_api"></td>
                                    <td id="td_SFBD_KlObs_api"></td>
                                    <td id="td_SFAL_KlObs"></td>
                                    <td id="td_SFBL_KlObs_api"></td>
                                    <td id="td_AR_KlObs"></td>
                                </tr>
                                <tr style="height: 58px;">
                                    <td><strong> KL 15</strong></td>
                                    <td id="td_BL_Kl15_api"></td>
                                    <td id="td_SFAL_Kl15_api"></td>
                                    <td id="td_SFBD_Kl15_api"></td>
                                    <td id="td_SFAL_Kl15"></td>
                                    <td id="td_SFBL_Kl15_api"></td>
                                    <td id="td_AR_Kl15"></td>
                                </tr>
                                <tr style="height: 58px;">
                                    <td><strong>Barrel</strong></td>
                                    <td id="td_BL_Barrels_api"></td>
                                    <td id="td_SFAL_Barrels_api"></td>
                                    <td id="td_SFBD_Barrels_api"></td>
                                    <td id="td_SFAL_Barrels"></td>
                                    <td id="td_SFBL_Barrels_api"></td>
                                    <td id="td_AR_Barrels"></td>
                                </tr>
                                <tr style="height: 58px;">
                                    <td><strong>Metric Ton</strong></td>
                                    <td id="td_BL_Mt_api"></td>
                                    <td id="td_SFAL_Mt_api"></td>
                                    <td id="td_SFBD_Mt_api"></td>
                                    <td id="td_SFAL_Mt"></td>
                                    <td id="td_SFBL_Mt_api"></td>
                                    <td id="td_AR_Mt"></td>
                                </tr>
                                <tr style="height: 58px;">
                                    <td><strong>Long Ton</strong></td>
                                    <td id="td_BL_Lt_api"></td>
                                    <td id="td_SFAL_Lt_api"></td>
                                    <td id="td_SFBD_Lt_api"></td>
                                    <td id="td_SFAL_Lt"></td>
                                    <td id="td_SFBL_Lt_api"></td>
                                    <td id="td_AR_Lt"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>           
                </div>
                <table aria-hidden="true" class="table table-hover view-page-table w-50 mb-3">
                    <tbody>
                        <tr>
                            <td class="text-break fw-bold">R1</td>
                            <td class="text-break body-table fw-bold" id="R1"></td>
                        </tr>
                        <tr>
                            <td class="text-break fw-bold">R2</td>
                            <td class="text-break body-table fw-bold" id="R2"></td>
                        </tr>
                        <tr>
                            <td class="text-break fw-bold">R3</td>
                            <td class="text-break body-table fw-bold" id="R3"></td>
                        </tr>
                        <tr>
                            <td class="text-break fw-bold">R4</td>
                            <td class="text-break body-table fw-bold" id="R4"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
            `;
            $("#r_lastUpdatedDate").after(tableHtml);
            const moveField = (fieldId, targetTdId) => {
                const fieldRow = $("#" + fieldId).closest(".row");
                $("#" + fieldId).appendTo("#" + targetTdId); // move field to table
                fieldRow.hide(); // hide original
            };
            moveField("el_SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_klobs", "td_SFAL_KlObs");
            moveField("el_SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_kl15", "td_SFAL_Kl15");
            moveField("el_SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_barrels", "td_SFAL_Barrels");
            moveField("el_SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_mt", "td_SFAL_Mt");
            moveField("el_SubAktivitasFormNilaiSFALARSTSPymBBM_SFAL_lt", "td_SFAL_Lt");
            moveField("el_SubAktivitasFormNilaiSFALARSTSPymBBM_AR_klobs", "td_AR_KlObs");
            moveField("el_SubAktivitasFormNilaiSFALARSTSPymBBM_AR_kl15", "td_AR_Kl15");
            moveField("el_SubAktivitasFormNilaiSFALARSTSPymBBM_AR_barrels", "td_AR_Barrels");
            moveField("el_SubAktivitasFormNilaiSFALARSTSPymBBM_AR_mt", "td_AR_Mt");
            moveField("el_SubAktivitasFormNilaiSFALARSTSPymBBM_AR_lt", "td_AR_Lt");
        var r4Value = 0;
        var r4ImportValue = 0;
    function toNumber(value) {
        if (value === null || value === undefined) return 0;
        if (typeof value === "string") value = value.trim();
        const num = parseFloat(value);
        return isNaN(num) ? 0 : num;
    }  
    let sfblData = {};
    function updateAR() {
        const sfblKlobs   = sfblData.klobs   ?? 0;
        const sfblKl15    = sfblData.kl15    ?? 0;
        const sfblBarrels = sfblData.barrels ?? 0;
        const sfblMt      = sfblData.mt      ?? 0;
        const sfblLt      = sfblData.lt      ?? 0;
        const sfalKlobs   = toNumber($('#x_SFAL_klobs').val());
        const sfalKl15    = toNumber($('#x_SFAL_kl15').val());
        const sfalBarrels = toNumber($('#x_SFAL_barrels').val());
        const sfalMt      = toNumber($('#x_SFAL_mt').val());
        const sfalLt      = toNumber($('#x_SFAL_lt').val());
        const arKlobs   = sfalKlobs   - sfblKlobs;
        const arKl15    = sfalKl15    - sfblKl15;
        const arBarrels = sfalBarrels - sfblBarrels;
        const arMt      = sfalMt      - sfblMt;
        const arLt      = sfalLt      - sfblLt;
        $("#x_AR_klobs").val(arKlobs).prop("readonly", true);
        $("#x_AR_kl15").val(arKl15).prop("readonly", true);
        $("#x_AR_barrels").val(arBarrels).prop("readonly", true);
        $("#x_AR_mt").val(arMt).prop("readonly", true);
        $("#x_AR_lt").val(arLt).prop("readonly", true);
    }
    $.ajax({
            url: parent_url + `api/LookUpList/GetNomorPenerimaanFromPenimbunan?NomorPenimbunan=${IdReferensi}`,
            method: "GET",
            success: function (res) {
                if (res.success) {
                    const noReferensi = res.nomorPenerimaan;

                    // Bl
                    $.get(parent_url + `api/LookUpList/GetSFBLValue?NoReferensi=${IdReferensi}&Jenis=STSBBM`, function (data) {
                    if (data.success) {
                        sfblData = {
                            klobs:   toNumber(data.klobs),
                            kl15:    toNumber(data.kl15),
                            barrels: toNumber(data.barrels),
                            mt:      toNumber(data.mt),
                            lt:      toNumber(data.lt)
                        };

                        // tampilkan ke tabel
                        $("#td_SFBL_KlObs_api").text(sfblData.klobs);
                        $("#td_SFBL_Kl15_api").text(sfblData.kl15);
                        $("#td_SFBL_Barrels_api").text(sfblData.barrels);
                        $("#td_SFBL_Mt_api").text(sfblData.mt);
                        $("#td_SFBL_Lt_api").text(sfblData.lt);

                        // hitung pertama kali
                        updateAR();
                    }
                });

                // SFAL
                $.get(parent_url + `api/LookUpList/GetBLSFALValue?NoReferensi=${noReferensi}&Jenis=STSBBM`, function (data) {
                    if (data.success) {
                        // BL
                        $("#td_BL_KlObs_api").text(data.bl_klobs);
                        $("#td_BL_Kl15_api").text(data.bl_kl15);
                        $("#td_BL_Barrels_api").text(data.bl_barrels);
                        $("#td_BL_Mt_api").text(data.bl_mt);
                        $("#td_BL_Lt_api").text(data.bl_lt);
                        // SFAL
                        $("#td_SFAL_KlObs_api").text(data.sfal_klobs);
                        $("#td_SFAL_Kl15_api").text(data.sfal_kl15);
                        $("#td_SFAL_Barrels_api").text(data.sfal_barrels);
                        $("#td_SFAL_Mt_api").text(data.sfal_mt);
                        $("#td_SFAL_Lt_api").text(data.sfal_lt);

                        // const ar45Raw = $("#x_AR45B_barrels").val();
                        // const ar45 = parseFloat(ar45Raw || "0");
                        // const bl = parseFloat(data.bl_barrels);

                        // if (!isNaN(ar45) && !isNaN(bl) && bl !== 0) {
                        //     const result = ((ar45 - bl) / bl)*100;
                        //     r4ImportValue = result;
                        //     const isChecked = $("#x_ApakahTerdapatROB").prop("checked");
                        //     if (isChecked){
                        //         $("#R445").text("0.000%");
                        //     } else {
                        //         $("#R445").text(result.toFixed(3) + "%");
                        //     }
                        // } else {
                        //     $("#R445").text("0.000%");
                        // }
                        // const isChecked = $("#x_ApakahTerdapatROB").prop("checked");
                        // if (isChecked){
                        //     $("#R445").text("0.000%");
                        // } else {
                        //     if (!isNaN(ar45) && !isNaN(bl) && bl !== 0) {
                        //         const result = ((ar45 - bl) / bl)*100;
                        //         $("#R445").text(result.toFixed(3) + "%");
                        //     } else {
                        //         $("#R445").text("0.000%");
                        //     }
                        // }
                    }
                });

                // SFBD
                $.get(parent_url + `api/LookUpList/GetSFBDValue?NoReferensi=${noReferensi}&Jenis=STSBBM`, function (data) {
                    if (data.success) {
                        $("#td_SFBD_KlObs_api").text(data.klobs);
                        $("#td_SFBD_Kl15_api").text(data.kl15);
                        $("#td_SFBD_Barrels_api").text(data.barrels);
                        $("#td_SFBD_Mt_api").text(data.mt);
                        $("#td_SFBD_Lt_api").text(data.lt);
                    }
                });
                $.ajax({
                    url: parent_url + "api/LookUpList/GetRValue",
                    type: "GET",
                    data: {
                        NoReferensi: IdReferensi,
                        Jenis: "STSBBM",
                        Menu: "Penimbunan"
                    },
                    success: function(rs){
                        if (rs.success) {

                            ["R1", "R2", "R3", "R4"].forEach(key => {
                                let val = parseFloat(rs[key]);
                                const el = document.getElementById(key);
                                if (!isNaN(val)) {
                                    let color = "";
                                    val = val * 100;
                                    if (key === "R2") {
                                        if (val < -0.125) {
                                            color = "#ba313b";
                                        } else if (val >= -0.125 && val <= 0) {
                                            color = "#3c6dbd";
                                        } else {
                                            color = "#198754";
                                        }
                                    } else {
                                        if (key == "R4"){
                                            r4Value = val;
                                            const isChecked = $("#x_ApakahTerdapatROB").prop("checked");
                                            if (isChecked){
                                                val = 0;
                                            }
                                        }
                                        if (val < -0.125) {
                                            color = "#ba313b";
                                        } else if (val >= -0.125 && val <= 0) {
                                            color = "#3c6dbd";
                                        } else {
                                            color = "#198754";
                                        }
                                    }
                                    el.textContent = val.toFixed(3) + "%";
                                    el.style.color = color;
                                }
                            });
                        }
                    }
                });  
                } else {
                    alert("Gagal mendapatkan nomor referensi: " + res.message);
                }
            }
        });
    $.ajax({
        url: parent_url + "api/LookUpList/GetRValue",
        type: "GET",
        data: {
            NoReferensi: IdReferensi,
            Jenis: "STSBBM",
            Menu: "Penimbunan Sts"
        },
        success: function(rs){
            if (rs.success) {

                ["R1", "R2", "R3", "R4"].forEach(key => {
                    let val = parseFloat(rs[key]);
                    const el = document.getElementById(key);
                    if (!isNaN(val)) {
                        let color = "";
                        val = val * 100;
                        if (key === "R2") {
                            if (val < -0.125) {
                                color = "#ba313b";
                            } else if (val >= -0.125 && val <= 0) {
                                color = "#3c6dbd";
                            } else {
                                color = "#198754";
                            }
                        } else {
                            if (key == "R4"){
                                r4Value = val;
                                // const isChecked = $("#x_ApakahTerdapatROB").prop("checked");
                                // if (isChecked){
                                //     val = 0;
                                // }
                            }
                            if (val < -0.125) {
                                color = "#ba313b";
                            } else if (val >= -0.125 && val <= 0) {
                                color = "#3c6dbd";
                            } else {
                                color = "#198754";
                            }
                        }
                        el.textContent = val.toFixed(3) + "%";
                        el.style.color = color;
                    }
                });
            }
        },
        error: function (xhr, status, error) {
            console.log("Error: " + xhr.responseText);
        }
    });  

    // Pasang listener supaya setiap perubahan SFAL langsung update AR
    $("#x_SFAL_klobs, #x_SFAL_kl15, #x_SFAL_barrels, #x_SFAL_mt, #x_SFAL_lt")
        .on("input change", function () {
            updateAR();
        });
    let uploadModal = `<div class="modal fade" id="warningValueModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="warningValueModalTitle">Konfirmasi Simpan Data</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id='warningValueText'>
            Konfirmasi 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-cancel-modal">Batal</button>
            <button type="button" class="btn btn-primary" id="btn-confirm-modal">Lanjutkan</button>
          </div>
        </div>
      </div>
    </div>`
    $("body").append(uploadModal);
    $("#btn-cancel-modal").click(function (event) {
        event.preventDefault();
        $("#warningValueModal").modal("hide");
    });
    $('#x_AR_klobs, #x_AR_kl15, #x_AR_barrels, #x_AR_mt, #x_AR_lt, #x_SFAL_klobs, #x_SFAL_kl15, #x_SFAL_barrels, #x_SFAL_mt, #x_SFAL_lt')
        .attr('inputmode', 'numeric')
        .on('input', function () {
            let val = $(this).val();
            let isNegative = val.startsWith('-');
            val = val.replace(',', '.');
            val = val.replace(/[^0-9.]/g, '');
            const parts = val.split('.');
            if (parts.length > 2) {
                val = parts[0] + '.' + parts.slice(1).join('');
            }
            if (isNegative) {
                val = '-' + val;
            }
            $(this).val(val);
        });

                // Cari elemen container dengan id r_Tujuan
            var el = document.getElementById("r_Tujuan");
            if (el) {
                // Buat elemen note
                var note = document.createElement("div");
                note.innerHTML = `
                <div class="mt-2">
                  <div class="card border-primary shadow-sm" style="max-width: 850px;">
                    <div class="card-header bg-primary text-white py-2 px-3">
                          <strong>Informasi Pengisian AR</strong>
                    </div>
                    <div class="card-body py-2 px-3 text-dark">
                      <p class="mb-2">
                      Nilai <strong>AR (KL Obs, KL 15, Barrel, Metric Ton, dan Long Ton)</strong> tidak diinput langsung pada form ini.
                            Pengisian dilakukan melalui menu <strong>Penyimpanan</strong>, kemudian pilih bagian <strong>Proses Penerimaan</strong>, dengan menyesuaikan <strong>Nomor Referensi Penerimaan yang sama.</strong>
                      </p>
                    </div>
                  </div>
                </div>
        `;
                note.style.marginTop = "5px";

                // Sisipkan setelah elemen
                el.parentNode.insertBefore(note, el.nextSibling);
            }

        // Reverse Status to Editing
            let reverseStatusModal = `<div class="modal fade" id="confirmReverseStatusEditingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header bg-primary">
                    <h1 class="modal-title fs-5" id="confirmReverseStatusEditingModalTitle">Konfirmasi Kembalikan Status</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form id="reverseStatusEditingModalForm">
                    <div class="modal-body px-2 py-1">
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Catatan:</label>
                            <textarea class="form-control" id="catatanReverseStatusEditing" required rows="4"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnReverseStatusEditingModalCancel">Batal</button>
                        <button type="submit" class="btn btn-primary" id="btnReverseStatusEditingModalSubmit">Lanjutkan</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>`
    $("body").append(reverseStatusModal);
    $("#btnReverseStatusEditingModalCancel").click(function (event) {
        event.preventDefault();
        $("#confirmReverseStatusEditingModal").modal("hide");
    });
    $(document).on("click", "#btn-reverse-status", function () {
        $("#confirmReverseStatusEditingModal").modal("show");
    });
});
</script>
