@{
    // View
    View = this;

    // Check action result
    if (subAktivitasInputFlowrateRtwList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasInputFlowrateRtwList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasInputFlowrateRtwList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasInputFlowrateRtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasInputFlowrateRTW: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasInputFlowrateRtwList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasInputFlowrateRtwList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasInputFlowrateRtwList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasInputFlowrateRtwList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasInputFlowrateRtwList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasInputFlowrateRtwList.TotalRecords > 0 && subAktivitasInputFlowrateRtwList.ExportOptions.Visible) {
    subAktivitasInputFlowrateRtwList.ExportOptions.Render("body");
}
@if (subAktivitasInputFlowrateRtwList.ImportOptions.Visible) {
    subAktivitasInputFlowrateRtwList.ImportOptions.Render("body");
}
@if (subAktivitasInputFlowrateRtwList.SearchOptions.Visible) {
    subAktivitasInputFlowrateRtwList.SearchOptions.Render("body");
}
@if (subAktivitasInputFlowrateRtwList.FilterOptions.Visible) {
    subAktivitasInputFlowrateRtwList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasInputFlowrateRtwList.IsModal) {
<form name="fSubAktivitasInputFlowrateRTWsrch" id="fSubAktivitasInputFlowrateRTWsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasInputFlowrateRTWsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasInputFlowrateRtwList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasInputFlowrateRtwList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasInputFlowrateRTW: currentTable } });
var currentForm;
var fSubAktivitasInputFlowrateRTWsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasInputFlowrateRTWsrch")
        .setPageId("list")
@if (subAktivitasInputFlowrateRtwList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasInputFlowrateRtwList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasInputFlowrateRtwList.IsExport() && Empty(subAktivitasInputFlowrateRtwList.CurrentAction) && subAktivitasInputFlowrateRtwList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasInputFlowrateRtwList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasInputFlowrateRtwList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasInputFlowrateRtwList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasInputFlowrateRtwList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasInputFlowrateRTWsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasInputFlowrateRtwList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasInputFlowrateRTWsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasInputFlowrateRtwList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasInputFlowrateRTWsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasInputFlowrateRtwList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasInputFlowrateRTWsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasInputFlowrateRtwList.ShowPageHeader()
@subAktivitasInputFlowrateRtwList.ShowMessages()
<main class="list @(subAktivitasInputFlowrateRtwList.TotalRecords == 0 && !subAktivitasInputFlowrateRtwList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasInputFlowrateRtwList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasInputFlowrateRtwList.TotalRecords > 0 || !Empty(subAktivitasInputFlowrateRtwList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasInputFlowrateRtwList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasInputFlowrateRtwList.TableGridClass)">
<form name="@(subAktivitasInputFlowrateRtwList.FormName)" id="@(subAktivitasInputFlowrateRtwList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasInputFlowrateRtwList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasInputFlowrateRtwList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasInputFlowrateRTW" class="card-body ew-grid-middle-panel @(subAktivitasInputFlowrateRtwList.TableContainerClass)" style="@(subAktivitasInputFlowrateRtwList.TableContainerStyle)">
@if (subAktivitasInputFlowrateRtwList.TotalRecords > 0 || subAktivitasInputFlowrateRtwList.IsGridEdit || subAktivitasInputFlowrateRtwList.IsMultiEdit) {
<table id="tbl_SubAktivitasInputFlowrateRTWlist" class="@(subAktivitasInputFlowrateRtwList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasInputFlowrateRtwList.RowType = RowType.Header;

    // Render list options
    await subAktivitasInputFlowrateRtwList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasInputFlowrateRtwList.ListOptions.RenderHeader("left")
@if (subAktivitasInputFlowrateRtwList.NoReferensi.Visible) { // subAktivitasInputFlowrateRtwList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasInputFlowrateRtwList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasInputFlowrateRTW_NoReferensi" class="SubAktivitasInputFlowrateRTW_NoReferensi">@Html.Raw(subAktivitasInputFlowrateRtwList.RenderFieldHeader(subAktivitasInputFlowrateRtwList.NoReferensi))</div></th>
} @* subAktivitasInputFlowrateRtwList.NoReferensi.Visible (end) *@
@if (subAktivitasInputFlowrateRtwList.idProses.Visible) { // subAktivitasInputFlowrateRtwList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasInputFlowrateRtwList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasInputFlowrateRTW_idProses" class="SubAktivitasInputFlowrateRTW_idProses">@Html.Raw(subAktivitasInputFlowrateRtwList.RenderFieldHeader(subAktivitasInputFlowrateRtwList.idProses))</div></th>
} @* subAktivitasInputFlowrateRtwList.idProses.Visible (end) *@
@if (subAktivitasInputFlowrateRtwList.idAktifitas.Visible) { // subAktivitasInputFlowrateRtwList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasInputFlowrateRtwList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasInputFlowrateRTW_idAktifitas" class="SubAktivitasInputFlowrateRTW_idAktifitas">@Html.Raw(subAktivitasInputFlowrateRtwList.RenderFieldHeader(subAktivitasInputFlowrateRtwList.idAktifitas))</div></th>
} @* subAktivitasInputFlowrateRtwList.idAktifitas.Visible (end) *@
@if (subAktivitasInputFlowrateRtwList.StatusAktivitas.Visible) { // subAktivitasInputFlowrateRtwList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasInputFlowrateRtwList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasInputFlowrateRTW_StatusAktivitas" class="SubAktivitasInputFlowrateRTW_StatusAktivitas">@Html.Raw(subAktivitasInputFlowrateRtwList.RenderFieldHeader(subAktivitasInputFlowrateRtwList.StatusAktivitas))</div></th>
} @* subAktivitasInputFlowrateRtwList.StatusAktivitas.Visible (end) *@
@if (subAktivitasInputFlowrateRtwList.LastUpdatedBy.Visible) { // subAktivitasInputFlowrateRtwList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasInputFlowrateRtwList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasInputFlowrateRTW_LastUpdatedBy" class="SubAktivitasInputFlowrateRTW_LastUpdatedBy">@Html.Raw(subAktivitasInputFlowrateRtwList.RenderFieldHeader(subAktivitasInputFlowrateRtwList.LastUpdatedBy))</div></th>
} @* subAktivitasInputFlowrateRtwList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasInputFlowrateRtwList.lastUpdatedDate.Visible) { // subAktivitasInputFlowrateRtwList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasInputFlowrateRtwList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasInputFlowrateRTW_lastUpdatedDate" class="SubAktivitasInputFlowrateRTW_lastUpdatedDate">@Html.Raw(subAktivitasInputFlowrateRtwList.RenderFieldHeader(subAktivitasInputFlowrateRtwList.lastUpdatedDate))</div></th>
} @* subAktivitasInputFlowrateRtwList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasInputFlowrateRtwList.Flowrate.Visible) { // subAktivitasInputFlowrateRtwList.Flowrate.Visible (begin)
        <th data-name="Flowrate" class="@(subAktivitasInputFlowrateRtwList.Flowrate.HeaderCellClass)"><div id="elh_SubAktivitasInputFlowrateRTW_Flowrate" class="SubAktivitasInputFlowrateRTW_Flowrate">@Html.Raw(subAktivitasInputFlowrateRtwList.RenderFieldHeader(subAktivitasInputFlowrateRtwList.Flowrate))</div></th>
} @* subAktivitasInputFlowrateRtwList.Flowrate.Visible (end) *@
@if (subAktivitasInputFlowrateRtwList.Pressure.Visible) { // subAktivitasInputFlowrateRtwList.Pressure.Visible (begin)
        <th data-name="Pressure" class="@(subAktivitasInputFlowrateRtwList.Pressure.HeaderCellClass)"><div id="elh_SubAktivitasInputFlowrateRTW_Pressure" class="SubAktivitasInputFlowrateRTW_Pressure">@Html.Raw(subAktivitasInputFlowrateRtwList.RenderFieldHeader(subAktivitasInputFlowrateRtwList.Pressure))</div></th>
} @* subAktivitasInputFlowrateRtwList.Pressure.Visible (end) *@
@if (subAktivitasInputFlowrateRtwList.LamaPembongkaran.Visible) { // subAktivitasInputFlowrateRtwList.LamaPembongkaran.Visible (begin)
        <th data-name="LamaPembongkaran" class="@(subAktivitasInputFlowrateRtwList.LamaPembongkaran.HeaderCellClass)"><div id="elh_SubAktivitasInputFlowrateRTW_LamaPembongkaran" class="SubAktivitasInputFlowrateRTW_LamaPembongkaran">@Html.Raw(subAktivitasInputFlowrateRtwList.RenderFieldHeader(subAktivitasInputFlowrateRtwList.LamaPembongkaran))</div></th>
} @* subAktivitasInputFlowrateRtwList.LamaPembongkaran.Visible (end) *@
@if (subAktivitasInputFlowrateRtwList.ETC.Visible) { // subAktivitasInputFlowrateRtwList.ETC.Visible (begin)
        <th data-name="ETC" class="@(subAktivitasInputFlowrateRtwList.ETC.HeaderCellClass)"><div id="elh_SubAktivitasInputFlowrateRTW_ETC" class="SubAktivitasInputFlowrateRTW_ETC">@Html.Raw(subAktivitasInputFlowrateRtwList.RenderFieldHeader(subAktivitasInputFlowrateRtwList.ETC))</div></th>
} @* subAktivitasInputFlowrateRtwList.ETC.Visible (end) *@
@if (subAktivitasInputFlowrateRtwList.userInput.Visible) { // subAktivitasInputFlowrateRtwList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasInputFlowrateRtwList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasInputFlowrateRTW_userInput" class="SubAktivitasInputFlowrateRTW_userInput">@Html.Raw(subAktivitasInputFlowrateRtwList.RenderFieldHeader(subAktivitasInputFlowrateRtwList.userInput))</div></th>
} @* subAktivitasInputFlowrateRtwList.userInput.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasInputFlowrateRtwList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasInputFlowrateRtwList.PageNumber)">
@{
    await subAktivitasInputFlowrateRtwList.SetupGrid();
    bool eof = subAktivitasInputFlowrateRtwList.Recordset == null; // DN
}
@while (subAktivitasInputFlowrateRtwList.RecordCount < subAktivitasInputFlowrateRtwList.StopRecord || SameString(subAktivitasInputFlowrateRtwList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasInputFlowrateRtwList.RowIndex, "$rowindex$") &&
        (!subAktivitasInputFlowrateRtwList.IsGridAdd || subAktivitasInputFlowrateRtwList.CurrentMode == "copy") &&
        (!((subAktivitasInputFlowrateRtwList.IsCopy || subAktivitasInputFlowrateRtwList.IsAdd) && subAktivitasInputFlowrateRtwList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasInputFlowrateRtwList.Recordset.ReadAsync();
    subAktivitasInputFlowrateRtwList.RecordCount++;
    if (subAktivitasInputFlowrateRtwList.RecordCount >= subAktivitasInputFlowrateRtwList.StartRecord) {
        await subAktivitasInputFlowrateRtwList.SetupRow();
    <tr @Html.Raw(subAktivitasInputFlowrateRtwList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasInputFlowrateRtwList.ListOptions.RenderBody("left", subAktivitasInputFlowrateRtwList.RowCount)
    @if (subAktivitasInputFlowrateRtwList.NoReferensi.Visible) { // subAktivitasInputFlowrateRtwList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasInputFlowrateRtwList.NoReferensi.CellAttributes)>
<span id="el@(subAktivitasInputFlowrateRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputFlowrateRtwList.RowCount)_SubAktivitasInputFlowrateRTW_NoReferensi" class="el_SubAktivitasInputFlowrateRTW_NoReferensi">
<span @Html.Raw(subAktivitasInputFlowrateRtwList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasInputFlowrateRtwList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputFlowrateRtwList.NoReferensi.Visible (end) *@
    @if (subAktivitasInputFlowrateRtwList.idProses.Visible) { // subAktivitasInputFlowrateRtwList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasInputFlowrateRtwList.idProses.CellAttributes)>
<span id="el@(subAktivitasInputFlowrateRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputFlowrateRtwList.RowCount)_SubAktivitasInputFlowrateRTW_idProses" class="el_SubAktivitasInputFlowrateRTW_idProses">
<span @Html.Raw(subAktivitasInputFlowrateRtwList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasInputFlowrateRtwList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputFlowrateRtwList.idProses.Visible (end) *@
    @if (subAktivitasInputFlowrateRtwList.idAktifitas.Visible) { // subAktivitasInputFlowrateRtwList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasInputFlowrateRtwList.idAktifitas.CellAttributes)>
<span id="el@(subAktivitasInputFlowrateRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputFlowrateRtwList.RowCount)_SubAktivitasInputFlowrateRTW_idAktifitas" class="el_SubAktivitasInputFlowrateRTW_idAktifitas">
<span @Html.Raw(subAktivitasInputFlowrateRtwList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasInputFlowrateRtwList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputFlowrateRtwList.idAktifitas.Visible (end) *@
    @if (subAktivitasInputFlowrateRtwList.StatusAktivitas.Visible) { // subAktivitasInputFlowrateRtwList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasInputFlowrateRtwList.StatusAktivitas.CellAttributes)>
<span id="el@(subAktivitasInputFlowrateRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputFlowrateRtwList.RowCount)_SubAktivitasInputFlowrateRTW_StatusAktivitas" class="el_SubAktivitasInputFlowrateRTW_StatusAktivitas">
<span @Html.Raw(subAktivitasInputFlowrateRtwList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasInputFlowrateRtwList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputFlowrateRtwList.StatusAktivitas.Visible (end) *@
    @if (subAktivitasInputFlowrateRtwList.LastUpdatedBy.Visible) { // subAktivitasInputFlowrateRtwList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasInputFlowrateRtwList.LastUpdatedBy.CellAttributes)>
<span id="el@(subAktivitasInputFlowrateRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputFlowrateRtwList.RowCount)_SubAktivitasInputFlowrateRTW_LastUpdatedBy" class="el_SubAktivitasInputFlowrateRTW_LastUpdatedBy">
<span @Html.Raw(subAktivitasInputFlowrateRtwList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasInputFlowrateRtwList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputFlowrateRtwList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasInputFlowrateRtwList.lastUpdatedDate.Visible) { // subAktivitasInputFlowrateRtwList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasInputFlowrateRtwList.lastUpdatedDate.CellAttributes)>
<span id="el@(subAktivitasInputFlowrateRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputFlowrateRtwList.RowCount)_SubAktivitasInputFlowrateRTW_lastUpdatedDate" class="el_SubAktivitasInputFlowrateRTW_lastUpdatedDate">
<span @Html.Raw(subAktivitasInputFlowrateRtwList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasInputFlowrateRtwList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputFlowrateRtwList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasInputFlowrateRtwList.Flowrate.Visible) { // subAktivitasInputFlowrateRtwList.Flowrate.Visible (begin)
        <td data-name="Flowrate" @Html.Raw(subAktivitasInputFlowrateRtwList.Flowrate.CellAttributes)>
<span id="el@(subAktivitasInputFlowrateRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputFlowrateRtwList.RowCount)_SubAktivitasInputFlowrateRTW_Flowrate" class="el_SubAktivitasInputFlowrateRTW_Flowrate">
<span @Html.Raw(subAktivitasInputFlowrateRtwList.Flowrate.ViewAttributes)>
@Html.Raw(subAktivitasInputFlowrateRtwList.Flowrate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputFlowrateRtwList.Flowrate.Visible (end) *@
    @if (subAktivitasInputFlowrateRtwList.Pressure.Visible) { // subAktivitasInputFlowrateRtwList.Pressure.Visible (begin)
        <td data-name="Pressure" @Html.Raw(subAktivitasInputFlowrateRtwList.Pressure.CellAttributes)>
<span id="el@(subAktivitasInputFlowrateRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputFlowrateRtwList.RowCount)_SubAktivitasInputFlowrateRTW_Pressure" class="el_SubAktivitasInputFlowrateRTW_Pressure">
<span @Html.Raw(subAktivitasInputFlowrateRtwList.Pressure.ViewAttributes)>
@Html.Raw(subAktivitasInputFlowrateRtwList.Pressure.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputFlowrateRtwList.Pressure.Visible (end) *@
    @if (subAktivitasInputFlowrateRtwList.LamaPembongkaran.Visible) { // subAktivitasInputFlowrateRtwList.LamaPembongkaran.Visible (begin)
        <td data-name="LamaPembongkaran" @Html.Raw(subAktivitasInputFlowrateRtwList.LamaPembongkaran.CellAttributes)>
<span id="el@(subAktivitasInputFlowrateRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputFlowrateRtwList.RowCount)_SubAktivitasInputFlowrateRTW_LamaPembongkaran" class="el_SubAktivitasInputFlowrateRTW_LamaPembongkaran">
<span @Html.Raw(subAktivitasInputFlowrateRtwList.LamaPembongkaran.ViewAttributes)>
@Html.Raw(subAktivitasInputFlowrateRtwList.LamaPembongkaran.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputFlowrateRtwList.LamaPembongkaran.Visible (end) *@
    @if (subAktivitasInputFlowrateRtwList.ETC.Visible) { // subAktivitasInputFlowrateRtwList.ETC.Visible (begin)
        <td data-name="ETC" @Html.Raw(subAktivitasInputFlowrateRtwList.ETC.CellAttributes)>
<span id="el@(subAktivitasInputFlowrateRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputFlowrateRtwList.RowCount)_SubAktivitasInputFlowrateRTW_ETC" class="el_SubAktivitasInputFlowrateRTW_ETC">
<span @Html.Raw(subAktivitasInputFlowrateRtwList.ETC.ViewAttributes)>
@Html.Raw(subAktivitasInputFlowrateRtwList.ETC.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputFlowrateRtwList.ETC.Visible (end) *@
    @if (subAktivitasInputFlowrateRtwList.userInput.Visible) { // subAktivitasInputFlowrateRtwList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasInputFlowrateRtwList.userInput.CellAttributes)>
<span id="el@(subAktivitasInputFlowrateRtwList.RowIndex == "$rowindex$" ? "$rowindex$" : subAktivitasInputFlowrateRtwList.RowCount)_SubAktivitasInputFlowrateRTW_userInput" class="el_SubAktivitasInputFlowrateRTW_userInput">
<span @Html.Raw(subAktivitasInputFlowrateRtwList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasInputFlowrateRtwList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasInputFlowrateRtwList.userInput.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasInputFlowrateRtwList.ListOptions.RenderBody("right", subAktivitasInputFlowrateRtwList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasInputFlowrateRtwList.RowIndex, "$rowindex$"))
        subAktivitasInputFlowrateRtwList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasInputFlowrateRtwList.IsCopy || subAktivitasInputFlowrateRtwList.IsAdd) && subAktivitasInputFlowrateRtwList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasInputFlowrateRtwList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasInputFlowrateRtwList.CurrentAction) && !subAktivitasInputFlowrateRtwList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasInputFlowrateRtwList.CloseRecordset(); }
@if (!subAktivitasInputFlowrateRtwList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasInputFlowrateRtwList.IsGridAdd && !(subAktivitasInputFlowrateRtwList.IsGridEdit && subAktivitasInputFlowrateRtwList.ModalGridEdit) && !subAktivitasInputFlowrateRtwList.IsMultiEdit) {
@Html.Raw(subAktivitasInputFlowrateRtwList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasInputFlowrateRtwList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasInputFlowrateRtwList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasInputFlowrateRtwList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasInputFlowrateRtwList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasInputFlowrateRtwList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasInputFlowrateRTW");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
