@{
    // View
    View = this;

    // Check action result
    if (subAktivitasLogbookPenerimaanLpgEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasLogbookPenerimaanLpgEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasLogbookPenerimaanLpgEdit.ShowPageHeader()
@subAktivitasLogbookPenerimaanLpgEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasLogbookPenerimaanLPGedit" id="fSubAktivitasLogbookPenerimaanLPGedit" class="@(subAktivitasLogbookPenerimaanLpgEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasLogbookPenerimaanLpgEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasLogbookPenerimaanLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasLogbookPenerimaanLPGedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasLogbookPenerimaanLPGedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null, ew.Validators.integer], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null, ew.Validators.integer], fields.idAktifitas.isInvalid],
            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["Nama_Kapal", [fields.Nama_Kapal.visible && fields.Nama_Kapal.required ? ew.Validators.required(fields.Nama_Kapal.caption) : null], fields.Nama_Kapal.isInvalid],
            ["TanggalJam", [fields.TanggalJam.visible && fields.TanggalJam.required ? ew.Validators.required(fields.TanggalJam.caption) : null, ew.Validators.datetime(fields.TanggalJam.clientFormatPattern)], fields.TanggalJam.isInvalid],
            ["Nama_Kegiatan", [fields.Nama_Kegiatan.visible && fields.Nama_Kegiatan.required ? ew.Validators.required(fields.Nama_Kegiatan.caption) : null], fields.Nama_Kegiatan.isInvalid],
            ["Produk", [fields.Produk.visible && fields.Produk.required ? ew.Validators.required(fields.Produk.caption) : null], fields.Produk.isInvalid],
            ["Density", [fields.Density.visible && fields.Density.required ? ew.Validators.required(fields.Density.caption) : null], fields.Density.isInvalid],
            ["Temperatur", [fields.Temperatur.visible && fields.Temperatur.required ? ew.Validators.required(fields.Temperatur.caption) : null], fields.Temperatur.isInvalid],
            ["Keterangan", [fields.Keterangan.visible && fields.Keterangan.required ? ew.Validators.required(fields.Keterangan.caption) : null], fields.Keterangan.isInvalid],
            ["userInput", [fields.userInput.visible && fields.userInput.required ? ew.Validators.required(fields.userInput.caption) : null], fields.userInput.isInvalid],
            ["etlDate", [fields.etlDate.visible && fields.etlDate.required ? ew.Validators.required(fields.etlDate.caption) : null, ew.Validators.datetime(fields.etlDate.clientFormatPattern)], fields.etlDate.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null, ew.Validators.datetime(fields.lastUpdatedDate.clientFormatPattern)], fields.lastUpdatedDate.isInvalid],
            ["SubAktivitasHasilPemeriksaanId", [fields.SubAktivitasHasilPemeriksaanId.visible && fields.SubAktivitasHasilPemeriksaanId.required ? ew.Validators.required(fields.SubAktivitasHasilPemeriksaanId.caption) : null, ew.Validators.integer], fields.SubAktivitasHasilPemeriksaanId.isInvalid],
            ["Level", [fields.Level.visible && fields.Level.required ? ew.Validators.required(fields.Level.caption) : null], fields.Level.isInvalid],
            ["Volume", [fields.Volume.visible && fields.Volume.required ? ew.Validators.required(fields.Volume.caption) : null], fields.Volume.isInvalid],
            ["Flowrate", [fields.Flowrate.visible && fields.Flowrate.required ? ew.Validators.required(fields.Flowrate.caption) : null], fields.Flowrate.isInvalid],
            ["TanggalJamSOP", [fields.TanggalJamSOP.visible && fields.TanggalJamSOP.required ? ew.Validators.required(fields.TanggalJamSOP.caption) : null, ew.Validators.datetime(fields.TanggalJamSOP.clientFormatPattern)], fields.TanggalJamSOP.isInvalid],
            ["SelisihWaktu", [fields.SelisihWaktu.visible && fields.SelisihWaktu.required ? ew.Validators.required(fields.SelisihWaktu.caption) : null], fields.SelisihWaktu.isInvalid],
            ["IsQualityActive", [fields.IsQualityActive.visible && fields.IsQualityActive.required ? ew.Validators.required(fields.IsQualityActive.caption) : null], fields.IsQualityActive.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "IsQualityActive": @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.IsQualityActive.ToClientList(subAktivitasLogbookPenerimaanLpgEdit)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasLogbookPenerimaanLpgEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasLogbookPenerimaanLpgEdit.OldKeyName)" value="@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasLogbookPenerimaanLpgEdit.id.Visible) { // subAktivitasLogbookPenerimaanLpgEdit.id.Visible (begin)
    <div id="r_id" @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.id.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanLPG_id" class="@(subAktivitasLogbookPenerimaanLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.id.Caption)@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.id.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanLPG_id">
<span @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasLogbookPenerimaanLpgEdit.id.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasLogbookPenerimaanLPG" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanLpgEdit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanLpgEdit.id.Visible (end) *@
@if (subAktivitasLogbookPenerimaanLpgEdit.idProses.Visible) { // subAktivitasLogbookPenerimaanLpgEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanLPG_idProses" for="x_idProses" class="@(subAktivitasLogbookPenerimaanLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.idProses.Caption)@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanLPG_idProses">
<input type="@(subAktivitasLogbookPenerimaanLpgEdit.idProses.InputTextType)" name="x_idProses" id="x_idProses" data-table="SubAktivitasLogbookPenerimaanLPG" data-field="x_idProses" value="@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.idProses.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanLpgEdit.idProses.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanLpgEdit.idProses.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.idProses.EditAttributes) aria-describedby="x_idProses_help">
@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.idProses.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.idProses.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanLpgEdit.idProses.Visible (end) *@
@if (subAktivitasLogbookPenerimaanLpgEdit.idAktifitas.Visible) { // subAktivitasLogbookPenerimaanLpgEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanLPG_idAktifitas" for="x_idAktifitas" class="@(subAktivitasLogbookPenerimaanLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.idAktifitas.Caption)@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanLPG_idAktifitas">
<input type="@(subAktivitasLogbookPenerimaanLpgEdit.idAktifitas.InputTextType)" name="x_idAktifitas" id="x_idAktifitas" data-table="SubAktivitasLogbookPenerimaanLPG" data-field="x_idAktifitas" value="@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.idAktifitas.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanLpgEdit.idAktifitas.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanLpgEdit.idAktifitas.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.idAktifitas.EditAttributes) aria-describedby="x_idAktifitas_help">
@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.idAktifitas.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.idAktifitas.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanLpgEdit.idAktifitas.Visible (end) *@
@if (subAktivitasLogbookPenerimaanLpgEdit.NoReferensi.Visible) { // subAktivitasLogbookPenerimaanLpgEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanLPG_NoReferensi" for="x_NoReferensi" class="@(subAktivitasLogbookPenerimaanLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.NoReferensi.Caption)@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanLPG_NoReferensi">
<input type="@(subAktivitasLogbookPenerimaanLpgEdit.NoReferensi.InputTextType)" name="x_NoReferensi" id="x_NoReferensi" data-table="SubAktivitasLogbookPenerimaanLPG" data-field="x_NoReferensi" value="@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.NoReferensi.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanLpgEdit.NoReferensi.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanLpgEdit.NoReferensi.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.NoReferensi.EditAttributes) aria-describedby="x_NoReferensi_help">
@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.NoReferensi.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.NoReferensi.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanLpgEdit.NoReferensi.Visible (end) *@
@if (subAktivitasLogbookPenerimaanLpgEdit.Nama_Kapal.Visible) { // subAktivitasLogbookPenerimaanLpgEdit.Nama_Kapal.Visible (begin)
    <div id="r_Nama_Kapal" @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Nama_Kapal.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanLPG_Nama_Kapal" for="x_Nama_Kapal" class="@(subAktivitasLogbookPenerimaanLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Nama_Kapal.Caption)@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Nama_Kapal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Nama_Kapal.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanLPG_Nama_Kapal">
<input type="@(subAktivitasLogbookPenerimaanLpgEdit.Nama_Kapal.InputTextType)" name="x_Nama_Kapal" id="x_Nama_Kapal" data-table="SubAktivitasLogbookPenerimaanLPG" data-field="x_Nama_Kapal" value="@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Nama_Kapal.EditValue)" size="30" maxlength="200" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanLpgEdit.Nama_Kapal.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanLpgEdit.Nama_Kapal.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Nama_Kapal.EditAttributes) aria-describedby="x_Nama_Kapal_help">
@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Nama_Kapal.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Nama_Kapal.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanLpgEdit.Nama_Kapal.Visible (end) *@
@if (subAktivitasLogbookPenerimaanLpgEdit.TanggalJam.Visible) { // subAktivitasLogbookPenerimaanLpgEdit.TanggalJam.Visible (begin)
    <div id="r_TanggalJam" @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.TanggalJam.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanLPG_TanggalJam" for="x_TanggalJam" class="@(subAktivitasLogbookPenerimaanLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.TanggalJam.Caption)@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.TanggalJam.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.TanggalJam.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanLPG_TanggalJam">
<input type="@(subAktivitasLogbookPenerimaanLpgEdit.TanggalJam.InputTextType)" name="x_TanggalJam" id="x_TanggalJam" data-table="SubAktivitasLogbookPenerimaanLPG" data-field="x_TanggalJam" value="@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.TanggalJam.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanLpgEdit.TanggalJam.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanLpgEdit.TanggalJam.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.TanggalJam.EditAttributes) aria-describedby="x_TanggalJam_help">
@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.TanggalJam.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.TanggalJam.GetErrorMessage())</div>
@if (!subAktivitasLogbookPenerimaanLpgEdit.TanggalJam.ReadOnly && !subAktivitasLogbookPenerimaanLpgEdit.TanggalJam.Disabled && !subAktivitasLogbookPenerimaanLpgEdit.TanggalJam.EditAttrs.Is("readonly") && !subAktivitasLogbookPenerimaanLpgEdit.TanggalJam.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasLogbookPenerimaanLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasLogbookPenerimaanLPGedit", "x_TanggalJam", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanLpgEdit.TanggalJam.Visible (end) *@
@if (subAktivitasLogbookPenerimaanLpgEdit.Nama_Kegiatan.Visible) { // subAktivitasLogbookPenerimaanLpgEdit.Nama_Kegiatan.Visible (begin)
    <div id="r_Nama_Kegiatan" @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Nama_Kegiatan.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanLPG_Nama_Kegiatan" for="x_Nama_Kegiatan" class="@(subAktivitasLogbookPenerimaanLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Nama_Kegiatan.Caption)@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Nama_Kegiatan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Nama_Kegiatan.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanLPG_Nama_Kegiatan">
<input type="@(subAktivitasLogbookPenerimaanLpgEdit.Nama_Kegiatan.InputTextType)" name="x_Nama_Kegiatan" id="x_Nama_Kegiatan" data-table="SubAktivitasLogbookPenerimaanLPG" data-field="x_Nama_Kegiatan" value="@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Nama_Kegiatan.EditValue)" size="30" maxlength="200" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanLpgEdit.Nama_Kegiatan.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanLpgEdit.Nama_Kegiatan.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Nama_Kegiatan.EditAttributes) aria-describedby="x_Nama_Kegiatan_help">
@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Nama_Kegiatan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Nama_Kegiatan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanLpgEdit.Nama_Kegiatan.Visible (end) *@
@if (subAktivitasLogbookPenerimaanLpgEdit.Produk.Visible) { // subAktivitasLogbookPenerimaanLpgEdit.Produk.Visible (begin)
    <div id="r_Produk" @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Produk.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanLPG_Produk" for="x_Produk" class="@(subAktivitasLogbookPenerimaanLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Produk.Caption)@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Produk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Produk.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanLPG_Produk">
<input type="@(subAktivitasLogbookPenerimaanLpgEdit.Produk.InputTextType)" name="x_Produk" id="x_Produk" data-table="SubAktivitasLogbookPenerimaanLPG" data-field="x_Produk" value="@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Produk.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanLpgEdit.Produk.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanLpgEdit.Produk.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Produk.EditAttributes) aria-describedby="x_Produk_help">
@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Produk.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Produk.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanLpgEdit.Produk.Visible (end) *@
@if (subAktivitasLogbookPenerimaanLpgEdit.Density.Visible) { // subAktivitasLogbookPenerimaanLpgEdit.Density.Visible (begin)
    <div id="r_Density" @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Density.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanLPG_Density" for="x_Density" class="@(subAktivitasLogbookPenerimaanLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Density.Caption)@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Density.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Density.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanLPG_Density">
<input type="@(subAktivitasLogbookPenerimaanLpgEdit.Density.InputTextType)" name="x_Density" id="x_Density" data-table="SubAktivitasLogbookPenerimaanLPG" data-field="x_Density" value="@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Density.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanLpgEdit.Density.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanLpgEdit.Density.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Density.EditAttributes) aria-describedby="x_Density_help">
@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Density.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Density.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanLpgEdit.Density.Visible (end) *@
@if (subAktivitasLogbookPenerimaanLpgEdit.Temperatur.Visible) { // subAktivitasLogbookPenerimaanLpgEdit.Temperatur.Visible (begin)
    <div id="r_Temperatur" @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Temperatur.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanLPG_Temperatur" for="x_Temperatur" class="@(subAktivitasLogbookPenerimaanLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Temperatur.Caption)@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Temperatur.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Temperatur.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanLPG_Temperatur">
<input type="@(subAktivitasLogbookPenerimaanLpgEdit.Temperatur.InputTextType)" name="x_Temperatur" id="x_Temperatur" data-table="SubAktivitasLogbookPenerimaanLPG" data-field="x_Temperatur" value="@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Temperatur.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanLpgEdit.Temperatur.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanLpgEdit.Temperatur.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Temperatur.EditAttributes) aria-describedby="x_Temperatur_help">
@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Temperatur.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Temperatur.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanLpgEdit.Temperatur.Visible (end) *@
@if (subAktivitasLogbookPenerimaanLpgEdit.Keterangan.Visible) { // subAktivitasLogbookPenerimaanLpgEdit.Keterangan.Visible (begin)
    <div id="r_Keterangan" @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Keterangan.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanLPG_Keterangan" for="x_Keterangan" class="@(subAktivitasLogbookPenerimaanLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Keterangan.Caption)@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Keterangan.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Keterangan.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanLPG_Keterangan">
<textarea data-table="SubAktivitasLogbookPenerimaanLPG" data-field="x_Keterangan" name="x_Keterangan" id="x_Keterangan" cols="35" rows="4" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanLpgEdit.Keterangan.PlaceHolder))"@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Keterangan.EditAttributes) aria-describedby="x_Keterangan_help">@(subAktivitasLogbookPenerimaanLpgEdit.Keterangan.EditValue)</textarea>
@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Keterangan.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Keterangan.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanLpgEdit.Keterangan.Visible (end) *@
@if (subAktivitasLogbookPenerimaanLpgEdit.userInput.Visible) { // subAktivitasLogbookPenerimaanLpgEdit.userInput.Visible (begin)
    <div id="r_userInput" @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.userInput.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanLPG_userInput" for="x_userInput" class="@(subAktivitasLogbookPenerimaanLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.userInput.Caption)@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.userInput.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.userInput.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanLPG_userInput">
<input type="@(subAktivitasLogbookPenerimaanLpgEdit.userInput.InputTextType)" name="x_userInput" id="x_userInput" data-table="SubAktivitasLogbookPenerimaanLPG" data-field="x_userInput" value="@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.userInput.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanLpgEdit.userInput.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanLpgEdit.userInput.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.userInput.EditAttributes) aria-describedby="x_userInput_help">
@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.userInput.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.userInput.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanLpgEdit.userInput.Visible (end) *@
@if (subAktivitasLogbookPenerimaanLpgEdit.etlDate.Visible) { // subAktivitasLogbookPenerimaanLpgEdit.etlDate.Visible (begin)
    <div id="r_etlDate" @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.etlDate.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanLPG_etlDate" for="x_etlDate" class="@(subAktivitasLogbookPenerimaanLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.etlDate.Caption)@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.etlDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.etlDate.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanLPG_etlDate">
<input type="@(subAktivitasLogbookPenerimaanLpgEdit.etlDate.InputTextType)" name="x_etlDate" id="x_etlDate" data-table="SubAktivitasLogbookPenerimaanLPG" data-field="x_etlDate" value="@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.etlDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanLpgEdit.etlDate.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanLpgEdit.etlDate.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.etlDate.EditAttributes) aria-describedby="x_etlDate_help">
@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.etlDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.etlDate.GetErrorMessage())</div>
@if (!subAktivitasLogbookPenerimaanLpgEdit.etlDate.ReadOnly && !subAktivitasLogbookPenerimaanLpgEdit.etlDate.Disabled && !subAktivitasLogbookPenerimaanLpgEdit.etlDate.EditAttrs.Is("readonly") && !subAktivitasLogbookPenerimaanLpgEdit.etlDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasLogbookPenerimaanLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasLogbookPenerimaanLPGedit", "x_etlDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanLpgEdit.etlDate.Visible (end) *@
@if (subAktivitasLogbookPenerimaanLpgEdit.LastUpdatedBy.Visible) { // subAktivitasLogbookPenerimaanLpgEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanLPG_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasLogbookPenerimaanLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanLPG_LastUpdatedBy">
<input type="@(subAktivitasLogbookPenerimaanLpgEdit.LastUpdatedBy.InputTextType)" name="x_LastUpdatedBy" id="x_LastUpdatedBy" data-table="SubAktivitasLogbookPenerimaanLPG" data-field="x_LastUpdatedBy" value="@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.LastUpdatedBy.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanLpgEdit.LastUpdatedBy.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanLpgEdit.LastUpdatedBy.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.LastUpdatedBy.EditAttributes) aria-describedby="x_LastUpdatedBy_help">
@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.LastUpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.LastUpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanLpgEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasLogbookPenerimaanLpgEdit.lastUpdatedDate.Visible) { // subAktivitasLogbookPenerimaanLpgEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanLPG_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasLogbookPenerimaanLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanLPG_lastUpdatedDate">
<input type="@(subAktivitasLogbookPenerimaanLpgEdit.lastUpdatedDate.InputTextType)" name="x_lastUpdatedDate" id="x_lastUpdatedDate" data-table="SubAktivitasLogbookPenerimaanLPG" data-field="x_lastUpdatedDate" value="@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.lastUpdatedDate.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanLpgEdit.lastUpdatedDate.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanLpgEdit.lastUpdatedDate.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.lastUpdatedDate.EditAttributes) aria-describedby="x_lastUpdatedDate_help">
@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.lastUpdatedDate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.lastUpdatedDate.GetErrorMessage())</div>
@if (!subAktivitasLogbookPenerimaanLpgEdit.lastUpdatedDate.ReadOnly && !subAktivitasLogbookPenerimaanLpgEdit.lastUpdatedDate.Disabled && !subAktivitasLogbookPenerimaanLpgEdit.lastUpdatedDate.EditAttrs.Is("readonly") && !subAktivitasLogbookPenerimaanLpgEdit.lastUpdatedDate.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasLogbookPenerimaanLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasLogbookPenerimaanLPGedit", "x_lastUpdatedDate", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanLpgEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasLogbookPenerimaanLpgEdit.SubAktivitasHasilPemeriksaanId.Visible) { // subAktivitasLogbookPenerimaanLpgEdit.SubAktivitasHasilPemeriksaanId.Visible (begin)
    <div id="r_SubAktivitasHasilPemeriksaanId" @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.SubAktivitasHasilPemeriksaanId.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanLPG_SubAktivitasHasilPemeriksaanId" for="x_SubAktivitasHasilPemeriksaanId" class="@(subAktivitasLogbookPenerimaanLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.SubAktivitasHasilPemeriksaanId.Caption)@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.SubAktivitasHasilPemeriksaanId.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.SubAktivitasHasilPemeriksaanId.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanLPG_SubAktivitasHasilPemeriksaanId">
<input type="@(subAktivitasLogbookPenerimaanLpgEdit.SubAktivitasHasilPemeriksaanId.InputTextType)" name="x_SubAktivitasHasilPemeriksaanId" id="x_SubAktivitasHasilPemeriksaanId" data-table="SubAktivitasLogbookPenerimaanLPG" data-field="x_SubAktivitasHasilPemeriksaanId" value="@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.SubAktivitasHasilPemeriksaanId.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanLpgEdit.SubAktivitasHasilPemeriksaanId.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanLpgEdit.SubAktivitasHasilPemeriksaanId.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.SubAktivitasHasilPemeriksaanId.EditAttributes) aria-describedby="x_SubAktivitasHasilPemeriksaanId_help">
@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.SubAktivitasHasilPemeriksaanId.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.SubAktivitasHasilPemeriksaanId.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanLpgEdit.SubAktivitasHasilPemeriksaanId.Visible (end) *@
@if (subAktivitasLogbookPenerimaanLpgEdit.Level.Visible) { // subAktivitasLogbookPenerimaanLpgEdit.Level.Visible (begin)
    <div id="r_Level" @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Level.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanLPG_Level" for="x_Level" class="@(subAktivitasLogbookPenerimaanLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Level.Caption)@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Level.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Level.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanLPG_Level">
<input type="@(subAktivitasLogbookPenerimaanLpgEdit.Level.InputTextType)" name="x_Level" id="x_Level" data-table="SubAktivitasLogbookPenerimaanLPG" data-field="x_Level" value="@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Level.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanLpgEdit.Level.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanLpgEdit.Level.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Level.EditAttributes) aria-describedby="x_Level_help">
@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Level.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Level.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanLpgEdit.Level.Visible (end) *@
@if (subAktivitasLogbookPenerimaanLpgEdit.Volume.Visible) { // subAktivitasLogbookPenerimaanLpgEdit.Volume.Visible (begin)
    <div id="r_Volume" @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Volume.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanLPG_Volume" for="x_Volume" class="@(subAktivitasLogbookPenerimaanLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Volume.Caption)@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Volume.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Volume.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanLPG_Volume">
<input type="@(subAktivitasLogbookPenerimaanLpgEdit.Volume.InputTextType)" name="x_Volume" id="x_Volume" data-table="SubAktivitasLogbookPenerimaanLPG" data-field="x_Volume" value="@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Volume.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanLpgEdit.Volume.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanLpgEdit.Volume.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Volume.EditAttributes) aria-describedby="x_Volume_help">
@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Volume.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Volume.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanLpgEdit.Volume.Visible (end) *@
@if (subAktivitasLogbookPenerimaanLpgEdit.Flowrate.Visible) { // subAktivitasLogbookPenerimaanLpgEdit.Flowrate.Visible (begin)
    <div id="r_Flowrate" @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Flowrate.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanLPG_Flowrate" for="x_Flowrate" class="@(subAktivitasLogbookPenerimaanLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Flowrate.Caption)@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Flowrate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Flowrate.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanLPG_Flowrate">
<input type="@(subAktivitasLogbookPenerimaanLpgEdit.Flowrate.InputTextType)" name="x_Flowrate" id="x_Flowrate" data-table="SubAktivitasLogbookPenerimaanLPG" data-field="x_Flowrate" value="@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Flowrate.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanLpgEdit.Flowrate.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanLpgEdit.Flowrate.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Flowrate.EditAttributes) aria-describedby="x_Flowrate_help">
@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Flowrate.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.Flowrate.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanLpgEdit.Flowrate.Visible (end) *@
@if (subAktivitasLogbookPenerimaanLpgEdit.TanggalJamSOP.Visible) { // subAktivitasLogbookPenerimaanLpgEdit.TanggalJamSOP.Visible (begin)
    <div id="r_TanggalJamSOP" @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.TanggalJamSOP.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanLPG_TanggalJamSOP" for="x_TanggalJamSOP" class="@(subAktivitasLogbookPenerimaanLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.TanggalJamSOP.Caption)@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.TanggalJamSOP.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.TanggalJamSOP.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanLPG_TanggalJamSOP">
<input type="@(subAktivitasLogbookPenerimaanLpgEdit.TanggalJamSOP.InputTextType)" name="x_TanggalJamSOP" id="x_TanggalJamSOP" data-table="SubAktivitasLogbookPenerimaanLPG" data-field="x_TanggalJamSOP" value="@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.TanggalJamSOP.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanLpgEdit.TanggalJamSOP.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanLpgEdit.TanggalJamSOP.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.TanggalJamSOP.EditAttributes) aria-describedby="x_TanggalJamSOP_help">
@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.TanggalJamSOP.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.TanggalJamSOP.GetErrorMessage())</div>
@if (!subAktivitasLogbookPenerimaanLpgEdit.TanggalJamSOP.ReadOnly && !subAktivitasLogbookPenerimaanLpgEdit.TanggalJamSOP.Disabled && !subAktivitasLogbookPenerimaanLpgEdit.TanggalJamSOP.EditAttrs.Is("readonly") && !subAktivitasLogbookPenerimaanLpgEdit.TanggalJamSOP.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasLogbookPenerimaanLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasLogbookPenerimaanLPGedit", "x_TanggalJamSOP", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanLpgEdit.TanggalJamSOP.Visible (end) *@
@if (subAktivitasLogbookPenerimaanLpgEdit.SelisihWaktu.Visible) { // subAktivitasLogbookPenerimaanLpgEdit.SelisihWaktu.Visible (begin)
    <div id="r_SelisihWaktu" @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.SelisihWaktu.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanLPG_SelisihWaktu" for="x_SelisihWaktu" class="@(subAktivitasLogbookPenerimaanLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.SelisihWaktu.Caption)@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.SelisihWaktu.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.SelisihWaktu.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanLPG_SelisihWaktu">
<input type="@(subAktivitasLogbookPenerimaanLpgEdit.SelisihWaktu.InputTextType)" name="x_SelisihWaktu" id="x_SelisihWaktu" data-table="SubAktivitasLogbookPenerimaanLPG" data-field="x_SelisihWaktu" value="@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.SelisihWaktu.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasLogbookPenerimaanLpgEdit.SelisihWaktu.PlaceHolder))" data-format-pattern="@(subAktivitasLogbookPenerimaanLpgEdit.SelisihWaktu.FormatPattern)"@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.SelisihWaktu.EditAttributes) aria-describedby="x_SelisihWaktu_help">
@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.SelisihWaktu.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.SelisihWaktu.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanLpgEdit.SelisihWaktu.Visible (end) *@
@if (subAktivitasLogbookPenerimaanLpgEdit.IsQualityActive.Visible) { // subAktivitasLogbookPenerimaanLpgEdit.IsQualityActive.Visible (begin)
    <div id="r_IsQualityActive" @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.IsQualityActive.RowAttributes)>
        <label id="elh_SubAktivitasLogbookPenerimaanLPG_IsQualityActive" class="@(subAktivitasLogbookPenerimaanLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.IsQualityActive.Caption)@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.IsQualityActive.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasLogbookPenerimaanLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.IsQualityActive.CellAttributes)>
<span id="el_SubAktivitasLogbookPenerimaanLPG_IsQualityActive">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(subAktivitasLogbookPenerimaanLpgEdit.IsQualityActive.IsInvalidClass)" data-table="SubAktivitasLogbookPenerimaanLPG" data-field="x_IsQualityActive" data-boolean name="x_IsQualityActive" id="x_IsQualityActive" value="1" checked="@ConvertToBool(subAktivitasLogbookPenerimaanLpgEdit.IsQualityActive.CurrentValue)" @Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.IsQualityActive.EditAttributes) aria-describedby="x_IsQualityActive_help">
    <div class="invalid-feedback">@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.IsQualityActive.GetErrorMessage())</div>
</div>
@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.IsQualityActive.GetCustomMessage)
</span>
</div></div>
    </div>
} @* subAktivitasLogbookPenerimaanLpgEdit.IsQualityActive.Visible (end) *@
</div><!-- /page* -->
@{ subAktivitasLogbookPenerimaanLpgEdit.CloseRecordset(); }
@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasLogbookPenerimaanLpgEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasLogbookPenerimaanLPGedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasLogbookPenerimaanLPGedit" data-href="@AppPath(subAktivitasLogbookPenerimaanLpgEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasLogbookPenerimaanLpgEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasLogbookPenerimaanLpgEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasLogbookPenerimaanLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
