@{
    // View
    View = this;

    // Check action result
    if (subAktivitasNilaiNewBlsfadsfblList.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasNilaiNewBlsfadsfblList.UseLayout ? "_Layout" : "";
}
@if (!subAktivitasNilaiNewBlsfadsfblList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiNewBlsfadsfblList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiNewBLSFADSFBL: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(subAktivitasNilaiNewBlsfadsfblList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(subAktivitasNilaiNewBlsfadsfblList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(subAktivitasNilaiNewBlsfadsfblList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(subAktivitasNilaiNewBlsfadsfblList.FormKeyCountName)")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!subAktivitasNilaiNewBlsfadsfblList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (subAktivitasNilaiNewBlsfadsfblList.TotalRecords > 0 && subAktivitasNilaiNewBlsfadsfblList.ExportOptions.Visible) {
    subAktivitasNilaiNewBlsfadsfblList.ExportOptions.Render("body");
}
@if (subAktivitasNilaiNewBlsfadsfblList.ImportOptions.Visible) {
    subAktivitasNilaiNewBlsfadsfblList.ImportOptions.Render("body");
}
@if (subAktivitasNilaiNewBlsfadsfblList.SearchOptions.Visible) {
    subAktivitasNilaiNewBlsfadsfblList.SearchOptions.Render("body");
}
@if (subAktivitasNilaiNewBlsfadsfblList.FilterOptions.Visible) {
    subAktivitasNilaiNewBlsfadsfblList.FilterOptions.Render("body");
}
</div>
}
@if (!subAktivitasNilaiNewBlsfadsfblList.IsModal) {
<form name="fSubAktivitasNilaiNewBLSFADSFBLsrch" id="fSubAktivitasNilaiNewBLSFADSFBLsrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fSubAktivitasNilaiNewBLSFADSFBLsrch_search_panel" class="mb-2 mb-sm-0 @(subAktivitasNilaiNewBlsfadsfblList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasNilaiNewBlsfadsfblList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasNilaiNewBLSFADSFBL: currentTable } });
var currentForm;
var fSubAktivitasNilaiNewBLSFADSFBLsrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasNilaiNewBLSFADSFBLsrch")
        .setPageId("list")
@if (subAktivitasNilaiNewBlsfadsfblList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!subAktivitasNilaiNewBlsfadsfblList.IsExport() && Empty(subAktivitasNilaiNewBlsfadsfblList.CurrentAction) && subAktivitasNilaiNewBlsfadsfblList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(subAktivitasNilaiNewBlsfadsfblList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(subAktivitasNilaiNewBlsfadsfblList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(subAktivitasNilaiNewBlsfadsfblList.BasicSearch.SessionType == "" ? " active" : "")" form="fSubAktivitasNilaiNewBLSFADSFBLsrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiNewBlsfadsfblList.BasicSearch.SessionType == "=" ? " active" : "")" form="fSubAktivitasNilaiNewBLSFADSFBLsrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiNewBlsfadsfblList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fSubAktivitasNilaiNewBLSFADSFBLsrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(subAktivitasNilaiNewBlsfadsfblList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fSubAktivitasNilaiNewBLSFADSFBLsrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@subAktivitasNilaiNewBlsfadsfblList.ShowPageHeader()
@subAktivitasNilaiNewBlsfadsfblList.ShowMessages()
<main class="list @(subAktivitasNilaiNewBlsfadsfblList.TotalRecords == 0 && !subAktivitasNilaiNewBlsfadsfblList.IsAdd ? " ew-no-record" : "")">
<div id="ew-header-options">
    @subAktivitasNilaiNewBlsfadsfblList.HeaderOptions.RenderBody()
</div>
<div id="ew-list">
@if (subAktivitasNilaiNewBlsfadsfblList.TotalRecords > 0 || !Empty(subAktivitasNilaiNewBlsfadsfblList.CurrentAction)) {
<div class="card ew-card ew-grid@(subAktivitasNilaiNewBlsfadsfblList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(subAktivitasNilaiNewBlsfadsfblList.TableGridClass)">
<form name="@(subAktivitasNilaiNewBlsfadsfblList.FormName)" id="@(subAktivitasNilaiNewBlsfadsfblList.FormName)" class="ew-form ew-list-form" action="@AppPath(subAktivitasNilaiNewBlsfadsfblList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (subAktivitasNilaiNewBlsfadsfblList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_SubAktivitasNilaiNewBLSFADSFBL" class="card-body ew-grid-middle-panel @(subAktivitasNilaiNewBlsfadsfblList.TableContainerClass)" style="@(subAktivitasNilaiNewBlsfadsfblList.TableContainerStyle)">
@if (subAktivitasNilaiNewBlsfadsfblList.TotalRecords > 0 || subAktivitasNilaiNewBlsfadsfblList.IsGridEdit || subAktivitasNilaiNewBlsfadsfblList.IsMultiEdit) {
<table id="tbl_SubAktivitasNilaiNewBLSFADSFBLlist" class="@(subAktivitasNilaiNewBlsfadsfblList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    subAktivitasNilaiNewBlsfadsfblList.RowType = RowType.Header;

    // Render list options
    await subAktivitasNilaiNewBlsfadsfblList.RenderListOptions();
}
@* Render list options (header, left) *@
@subAktivitasNilaiNewBlsfadsfblList.ListOptions.RenderHeader("left")
@if (subAktivitasNilaiNewBlsfadsfblList.idProses.Visible) { // subAktivitasNilaiNewBlsfadsfblList.idProses.Visible (begin)
        <th data-name="idProses" class="@(subAktivitasNilaiNewBlsfadsfblList.idProses.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBL_idProses" class="SubAktivitasNilaiNewBLSFADSFBL_idProses">@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblList.idProses))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblList.idProses.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblList.idAktifitas.Visible) { // subAktivitasNilaiNewBlsfadsfblList.idAktifitas.Visible (begin)
        <th data-name="idAktifitas" class="@(subAktivitasNilaiNewBlsfadsfblList.idAktifitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBL_idAktifitas" class="SubAktivitasNilaiNewBLSFADSFBL_idAktifitas">@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblList.idAktifitas))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblList.idAktifitas.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblList.NoReferensi.Visible) { // subAktivitasNilaiNewBlsfadsfblList.NoReferensi.Visible (begin)
        <th data-name="NoReferensi" class="@(subAktivitasNilaiNewBlsfadsfblList.NoReferensi.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBL_NoReferensi" class="SubAktivitasNilaiNewBLSFADSFBL_NoReferensi">@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblList.NoReferensi))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblList.NoReferensi.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblList.NewBL_KLObs.Visible) { // subAktivitasNilaiNewBlsfadsfblList.NewBL_KLObs.Visible (begin)
        <th data-name="NewBL_KLObs" class="@(subAktivitasNilaiNewBlsfadsfblList.NewBL_KLObs.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBL_NewBL_KLObs" class="SubAktivitasNilaiNewBLSFADSFBL_NewBL_KLObs">@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblList.NewBL_KLObs))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblList.NewBL_KLObs.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblList.NewBL_KL15.Visible) { // subAktivitasNilaiNewBlsfadsfblList.NewBL_KL15.Visible (begin)
        <th data-name="NewBL_KL15" class="@(subAktivitasNilaiNewBlsfadsfblList.NewBL_KL15.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBL_NewBL_KL15" class="SubAktivitasNilaiNewBLSFADSFBL_NewBL_KL15">@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblList.NewBL_KL15))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblList.NewBL_KL15.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblList.NewBL_Barrels.Visible) { // subAktivitasNilaiNewBlsfadsfblList.NewBL_Barrels.Visible (begin)
        <th data-name="NewBL_Barrels" class="@(subAktivitasNilaiNewBlsfadsfblList.NewBL_Barrels.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBL_NewBL_Barrels" class="SubAktivitasNilaiNewBLSFADSFBL_NewBL_Barrels">@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblList.NewBL_Barrels))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblList.NewBL_Barrels.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblList.NewBL_LT.Visible) { // subAktivitasNilaiNewBlsfadsfblList.NewBL_LT.Visible (begin)
        <th data-name="NewBL_LT" class="@(subAktivitasNilaiNewBlsfadsfblList.NewBL_LT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBL_NewBL_LT" class="SubAktivitasNilaiNewBLSFADSFBL_NewBL_LT">@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblList.NewBL_LT))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblList.NewBL_LT.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblList.NewBL_MT.Visible) { // subAktivitasNilaiNewBlsfadsfblList.NewBL_MT.Visible (begin)
        <th data-name="NewBL_MT" class="@(subAktivitasNilaiNewBlsfadsfblList.NewBL_MT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBL_NewBL_MT" class="SubAktivitasNilaiNewBLSFADSFBL_NewBL_MT">@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblList.NewBL_MT))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblList.NewBL_MT.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblList.SFAD_KLObs.Visible) { // subAktivitasNilaiNewBlsfadsfblList.SFAD_KLObs.Visible (begin)
        <th data-name="SFAD_KLObs" class="@(subAktivitasNilaiNewBlsfadsfblList.SFAD_KLObs.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBL_SFAD_KLObs" class="SubAktivitasNilaiNewBLSFADSFBL_SFAD_KLObs">@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblList.SFAD_KLObs))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblList.SFAD_KLObs.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblList.SFAD_KL15.Visible) { // subAktivitasNilaiNewBlsfadsfblList.SFAD_KL15.Visible (begin)
        <th data-name="SFAD_KL15" class="@(subAktivitasNilaiNewBlsfadsfblList.SFAD_KL15.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBL_SFAD_KL15" class="SubAktivitasNilaiNewBLSFADSFBL_SFAD_KL15">@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblList.SFAD_KL15))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblList.SFAD_KL15.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblList.SFAD_Barrels.Visible) { // subAktivitasNilaiNewBlsfadsfblList.SFAD_Barrels.Visible (begin)
        <th data-name="SFAD_Barrels" class="@(subAktivitasNilaiNewBlsfadsfblList.SFAD_Barrels.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBL_SFAD_Barrels" class="SubAktivitasNilaiNewBLSFADSFBL_SFAD_Barrels">@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblList.SFAD_Barrels))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblList.SFAD_Barrels.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblList.SFAD_MT.Visible) { // subAktivitasNilaiNewBlsfadsfblList.SFAD_MT.Visible (begin)
        <th data-name="SFAD_MT" class="@(subAktivitasNilaiNewBlsfadsfblList.SFAD_MT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBL_SFAD_MT" class="SubAktivitasNilaiNewBLSFADSFBL_SFAD_MT">@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblList.SFAD_MT))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblList.SFAD_MT.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblList.SFAD_LT.Visible) { // subAktivitasNilaiNewBlsfadsfblList.SFAD_LT.Visible (begin)
        <th data-name="SFAD_LT" class="@(subAktivitasNilaiNewBlsfadsfblList.SFAD_LT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBL_SFAD_LT" class="SubAktivitasNilaiNewBLSFADSFBL_SFAD_LT">@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblList.SFAD_LT))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblList.SFAD_LT.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblList.SFBL_KLObs.Visible) { // subAktivitasNilaiNewBlsfadsfblList.SFBL_KLObs.Visible (begin)
        <th data-name="SFBL_KLObs" class="@(subAktivitasNilaiNewBlsfadsfblList.SFBL_KLObs.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBL_SFBL_KLObs" class="SubAktivitasNilaiNewBLSFADSFBL_SFBL_KLObs">@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblList.SFBL_KLObs))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblList.SFBL_KLObs.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblList.SFBL_KL15.Visible) { // subAktivitasNilaiNewBlsfadsfblList.SFBL_KL15.Visible (begin)
        <th data-name="SFBL_KL15" class="@(subAktivitasNilaiNewBlsfadsfblList.SFBL_KL15.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBL_SFBL_KL15" class="SubAktivitasNilaiNewBLSFADSFBL_SFBL_KL15">@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblList.SFBL_KL15))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblList.SFBL_KL15.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblList.SFBL_Barrels.Visible) { // subAktivitasNilaiNewBlsfadsfblList.SFBL_Barrels.Visible (begin)
        <th data-name="SFBL_Barrels" class="@(subAktivitasNilaiNewBlsfadsfblList.SFBL_Barrels.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBL_SFBL_Barrels" class="SubAktivitasNilaiNewBLSFADSFBL_SFBL_Barrels">@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblList.SFBL_Barrels))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblList.SFBL_Barrels.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblList.SFBL_LT.Visible) { // subAktivitasNilaiNewBlsfadsfblList.SFBL_LT.Visible (begin)
        <th data-name="SFBL_LT" class="@(subAktivitasNilaiNewBlsfadsfblList.SFBL_LT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBL_SFBL_LT" class="SubAktivitasNilaiNewBLSFADSFBL_SFBL_LT">@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblList.SFBL_LT))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblList.SFBL_LT.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblList.SFBL_MT.Visible) { // subAktivitasNilaiNewBlsfadsfblList.SFBL_MT.Visible (begin)
        <th data-name="SFBL_MT" class="@(subAktivitasNilaiNewBlsfadsfblList.SFBL_MT.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBL_SFBL_MT" class="SubAktivitasNilaiNewBLSFADSFBL_SFBL_MT">@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblList.SFBL_MT))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblList.SFBL_MT.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblList.userInput.Visible) { // subAktivitasNilaiNewBlsfadsfblList.userInput.Visible (begin)
        <th data-name="userInput" class="@(subAktivitasNilaiNewBlsfadsfblList.userInput.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBL_userInput" class="SubAktivitasNilaiNewBLSFADSFBL_userInput">@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblList.userInput))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblList.userInput.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblList.LastUpdatedBy.Visible) { // subAktivitasNilaiNewBlsfadsfblList.LastUpdatedBy.Visible (begin)
        <th data-name="LastUpdatedBy" class="@(subAktivitasNilaiNewBlsfadsfblList.LastUpdatedBy.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBL_LastUpdatedBy" class="SubAktivitasNilaiNewBLSFADSFBL_LastUpdatedBy">@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblList.LastUpdatedBy))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblList.LastUpdatedBy.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblList.lastUpdatedDate.Visible) { // subAktivitasNilaiNewBlsfadsfblList.lastUpdatedDate.Visible (begin)
        <th data-name="lastUpdatedDate" class="@(subAktivitasNilaiNewBlsfadsfblList.lastUpdatedDate.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBL_lastUpdatedDate" class="SubAktivitasNilaiNewBLSFADSFBL_lastUpdatedDate">@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblList.lastUpdatedDate))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblList.lastUpdatedDate.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblList.ExROB.Visible) { // subAktivitasNilaiNewBlsfadsfblList.ExROB.Visible (begin)
        <th data-name="ExROB" class="@(subAktivitasNilaiNewBlsfadsfblList.ExROB.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBL_ExROB" class="SubAktivitasNilaiNewBLSFADSFBL_ExROB">@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblList.ExROB))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblList.ExROB.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblList.NoPenerimaan.Visible) { // subAktivitasNilaiNewBlsfadsfblList.NoPenerimaan.Visible (begin)
        <th data-name="NoPenerimaan" class="@(subAktivitasNilaiNewBlsfadsfblList.NoPenerimaan.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBL_NoPenerimaan" class="SubAktivitasNilaiNewBLSFADSFBL_NoPenerimaan">@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblList.NoPenerimaan))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblList.NoPenerimaan.Visible (end) *@
@if (subAktivitasNilaiNewBlsfadsfblList.StatusAktivitas.Visible) { // subAktivitasNilaiNewBlsfadsfblList.StatusAktivitas.Visible (begin)
        <th data-name="StatusAktivitas" class="@(subAktivitasNilaiNewBlsfadsfblList.StatusAktivitas.HeaderCellClass)"><div id="elh_SubAktivitasNilaiNewBLSFADSFBL_StatusAktivitas" class="SubAktivitasNilaiNewBLSFADSFBL_StatusAktivitas">@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.RenderFieldHeader(subAktivitasNilaiNewBlsfadsfblList.StatusAktivitas))</div></th>
} @* subAktivitasNilaiNewBlsfadsfblList.StatusAktivitas.Visible (end) *@
@* Render list options (header, right) *@
@subAktivitasNilaiNewBlsfadsfblList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(subAktivitasNilaiNewBlsfadsfblList.PageNumber)">
@{
    await subAktivitasNilaiNewBlsfadsfblList.SetupGrid();
    bool eof = subAktivitasNilaiNewBlsfadsfblList.Recordset == null; // DN
}
@while (subAktivitasNilaiNewBlsfadsfblList.RecordCount < subAktivitasNilaiNewBlsfadsfblList.StopRecord || SameString(subAktivitasNilaiNewBlsfadsfblList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(subAktivitasNilaiNewBlsfadsfblList.RowIndex, "$rowindex$") &&
        (!subAktivitasNilaiNewBlsfadsfblList.IsGridAdd || subAktivitasNilaiNewBlsfadsfblList.CurrentMode == "copy") &&
        (!((subAktivitasNilaiNewBlsfadsfblList.IsCopy || subAktivitasNilaiNewBlsfadsfblList.IsAdd) && subAktivitasNilaiNewBlsfadsfblList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await subAktivitasNilaiNewBlsfadsfblList.Recordset.ReadAsync();
    subAktivitasNilaiNewBlsfadsfblList.RecordCount++;
    if (subAktivitasNilaiNewBlsfadsfblList.RecordCount >= subAktivitasNilaiNewBlsfadsfblList.StartRecord) {
        await subAktivitasNilaiNewBlsfadsfblList.SetupRow();
    <tr @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.RowAttributes)>
    @* Render list options (body, left) *@
    @subAktivitasNilaiNewBlsfadsfblList.ListOptions.RenderBody("left", subAktivitasNilaiNewBlsfadsfblList.RowCount)
    @if (subAktivitasNilaiNewBlsfadsfblList.idProses.Visible) { // subAktivitasNilaiNewBlsfadsfblList.idProses.Visible (begin)
        <td data-name="idProses" @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.idProses.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblList.RowCount)_SubAktivitasNilaiNewBLSFADSFBL_idProses" class="el_SubAktivitasNilaiNewBLSFADSFBL_idProses">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.idProses.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.idProses.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblList.idProses.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblList.idAktifitas.Visible) { // subAktivitasNilaiNewBlsfadsfblList.idAktifitas.Visible (begin)
        <td data-name="idAktifitas" @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.idAktifitas.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblList.RowCount)_SubAktivitasNilaiNewBLSFADSFBL_idAktifitas" class="el_SubAktivitasNilaiNewBLSFADSFBL_idAktifitas">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.idAktifitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.idAktifitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblList.idAktifitas.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblList.NoReferensi.Visible) { // subAktivitasNilaiNewBlsfadsfblList.NoReferensi.Visible (begin)
        <td data-name="NoReferensi" @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.NoReferensi.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblList.RowCount)_SubAktivitasNilaiNewBLSFADSFBL_NoReferensi" class="el_SubAktivitasNilaiNewBLSFADSFBL_NoReferensi">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.NoReferensi.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.NoReferensi.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblList.NoReferensi.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblList.NewBL_KLObs.Visible) { // subAktivitasNilaiNewBlsfadsfblList.NewBL_KLObs.Visible (begin)
        <td data-name="NewBL_KLObs" @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.NewBL_KLObs.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblList.RowCount)_SubAktivitasNilaiNewBLSFADSFBL_NewBL_KLObs" class="el_SubAktivitasNilaiNewBLSFADSFBL_NewBL_KLObs">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.NewBL_KLObs.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.NewBL_KLObs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblList.NewBL_KLObs.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblList.NewBL_KL15.Visible) { // subAktivitasNilaiNewBlsfadsfblList.NewBL_KL15.Visible (begin)
        <td data-name="NewBL_KL15" @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.NewBL_KL15.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblList.RowCount)_SubAktivitasNilaiNewBLSFADSFBL_NewBL_KL15" class="el_SubAktivitasNilaiNewBLSFADSFBL_NewBL_KL15">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.NewBL_KL15.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.NewBL_KL15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblList.NewBL_KL15.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblList.NewBL_Barrels.Visible) { // subAktivitasNilaiNewBlsfadsfblList.NewBL_Barrels.Visible (begin)
        <td data-name="NewBL_Barrels" @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.NewBL_Barrels.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblList.RowCount)_SubAktivitasNilaiNewBLSFADSFBL_NewBL_Barrels" class="el_SubAktivitasNilaiNewBLSFADSFBL_NewBL_Barrels">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.NewBL_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.NewBL_Barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblList.NewBL_Barrels.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblList.NewBL_LT.Visible) { // subAktivitasNilaiNewBlsfadsfblList.NewBL_LT.Visible (begin)
        <td data-name="NewBL_LT" @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.NewBL_LT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblList.RowCount)_SubAktivitasNilaiNewBLSFADSFBL_NewBL_LT" class="el_SubAktivitasNilaiNewBLSFADSFBL_NewBL_LT">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.NewBL_LT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.NewBL_LT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblList.NewBL_LT.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblList.NewBL_MT.Visible) { // subAktivitasNilaiNewBlsfadsfblList.NewBL_MT.Visible (begin)
        <td data-name="NewBL_MT" @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.NewBL_MT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblList.RowCount)_SubAktivitasNilaiNewBLSFADSFBL_NewBL_MT" class="el_SubAktivitasNilaiNewBLSFADSFBL_NewBL_MT">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.NewBL_MT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.NewBL_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblList.NewBL_MT.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblList.SFAD_KLObs.Visible) { // subAktivitasNilaiNewBlsfadsfblList.SFAD_KLObs.Visible (begin)
        <td data-name="SFAD_KLObs" @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.SFAD_KLObs.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblList.RowCount)_SubAktivitasNilaiNewBLSFADSFBL_SFAD_KLObs" class="el_SubAktivitasNilaiNewBLSFADSFBL_SFAD_KLObs">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.SFAD_KLObs.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.SFAD_KLObs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblList.SFAD_KLObs.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblList.SFAD_KL15.Visible) { // subAktivitasNilaiNewBlsfadsfblList.SFAD_KL15.Visible (begin)
        <td data-name="SFAD_KL15" @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.SFAD_KL15.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblList.RowCount)_SubAktivitasNilaiNewBLSFADSFBL_SFAD_KL15" class="el_SubAktivitasNilaiNewBLSFADSFBL_SFAD_KL15">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.SFAD_KL15.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.SFAD_KL15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblList.SFAD_KL15.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblList.SFAD_Barrels.Visible) { // subAktivitasNilaiNewBlsfadsfblList.SFAD_Barrels.Visible (begin)
        <td data-name="SFAD_Barrels" @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.SFAD_Barrels.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblList.RowCount)_SubAktivitasNilaiNewBLSFADSFBL_SFAD_Barrels" class="el_SubAktivitasNilaiNewBLSFADSFBL_SFAD_Barrels">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.SFAD_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.SFAD_Barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblList.SFAD_Barrels.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblList.SFAD_MT.Visible) { // subAktivitasNilaiNewBlsfadsfblList.SFAD_MT.Visible (begin)
        <td data-name="SFAD_MT" @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.SFAD_MT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblList.RowCount)_SubAktivitasNilaiNewBLSFADSFBL_SFAD_MT" class="el_SubAktivitasNilaiNewBLSFADSFBL_SFAD_MT">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.SFAD_MT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.SFAD_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblList.SFAD_MT.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblList.SFAD_LT.Visible) { // subAktivitasNilaiNewBlsfadsfblList.SFAD_LT.Visible (begin)
        <td data-name="SFAD_LT" @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.SFAD_LT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblList.RowCount)_SubAktivitasNilaiNewBLSFADSFBL_SFAD_LT" class="el_SubAktivitasNilaiNewBLSFADSFBL_SFAD_LT">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.SFAD_LT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.SFAD_LT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblList.SFAD_LT.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblList.SFBL_KLObs.Visible) { // subAktivitasNilaiNewBlsfadsfblList.SFBL_KLObs.Visible (begin)
        <td data-name="SFBL_KLObs" @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.SFBL_KLObs.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblList.RowCount)_SubAktivitasNilaiNewBLSFADSFBL_SFBL_KLObs" class="el_SubAktivitasNilaiNewBLSFADSFBL_SFBL_KLObs">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.SFBL_KLObs.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.SFBL_KLObs.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblList.SFBL_KLObs.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblList.SFBL_KL15.Visible) { // subAktivitasNilaiNewBlsfadsfblList.SFBL_KL15.Visible (begin)
        <td data-name="SFBL_KL15" @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.SFBL_KL15.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblList.RowCount)_SubAktivitasNilaiNewBLSFADSFBL_SFBL_KL15" class="el_SubAktivitasNilaiNewBLSFADSFBL_SFBL_KL15">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.SFBL_KL15.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.SFBL_KL15.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblList.SFBL_KL15.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblList.SFBL_Barrels.Visible) { // subAktivitasNilaiNewBlsfadsfblList.SFBL_Barrels.Visible (begin)
        <td data-name="SFBL_Barrels" @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.SFBL_Barrels.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblList.RowCount)_SubAktivitasNilaiNewBLSFADSFBL_SFBL_Barrels" class="el_SubAktivitasNilaiNewBLSFADSFBL_SFBL_Barrels">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.SFBL_Barrels.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.SFBL_Barrels.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblList.SFBL_Barrels.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblList.SFBL_LT.Visible) { // subAktivitasNilaiNewBlsfadsfblList.SFBL_LT.Visible (begin)
        <td data-name="SFBL_LT" @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.SFBL_LT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblList.RowCount)_SubAktivitasNilaiNewBLSFADSFBL_SFBL_LT" class="el_SubAktivitasNilaiNewBLSFADSFBL_SFBL_LT">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.SFBL_LT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.SFBL_LT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblList.SFBL_LT.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblList.SFBL_MT.Visible) { // subAktivitasNilaiNewBlsfadsfblList.SFBL_MT.Visible (begin)
        <td data-name="SFBL_MT" @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.SFBL_MT.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblList.RowCount)_SubAktivitasNilaiNewBLSFADSFBL_SFBL_MT" class="el_SubAktivitasNilaiNewBLSFADSFBL_SFBL_MT">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.SFBL_MT.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.SFBL_MT.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblList.SFBL_MT.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblList.userInput.Visible) { // subAktivitasNilaiNewBlsfadsfblList.userInput.Visible (begin)
        <td data-name="userInput" @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.userInput.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblList.RowCount)_SubAktivitasNilaiNewBLSFADSFBL_userInput" class="el_SubAktivitasNilaiNewBLSFADSFBL_userInput">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.userInput.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.userInput.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblList.userInput.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblList.LastUpdatedBy.Visible) { // subAktivitasNilaiNewBlsfadsfblList.LastUpdatedBy.Visible (begin)
        <td data-name="LastUpdatedBy" @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.LastUpdatedBy.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblList.RowCount)_SubAktivitasNilaiNewBLSFADSFBL_LastUpdatedBy" class="el_SubAktivitasNilaiNewBLSFADSFBL_LastUpdatedBy">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.LastUpdatedBy.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.LastUpdatedBy.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblList.LastUpdatedBy.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblList.lastUpdatedDate.Visible) { // subAktivitasNilaiNewBlsfadsfblList.lastUpdatedDate.Visible (begin)
        <td data-name="lastUpdatedDate" @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.lastUpdatedDate.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblList.RowCount)_SubAktivitasNilaiNewBLSFADSFBL_lastUpdatedDate" class="el_SubAktivitasNilaiNewBLSFADSFBL_lastUpdatedDate">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.lastUpdatedDate.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.lastUpdatedDate.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblList.lastUpdatedDate.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblList.ExROB.Visible) { // subAktivitasNilaiNewBlsfadsfblList.ExROB.Visible (begin)
        <td data-name="ExROB" @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.ExROB.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblList.RowCount)_SubAktivitasNilaiNewBLSFADSFBL_ExROB" class="el_SubAktivitasNilaiNewBLSFADSFBL_ExROB">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.ExROB.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(subAktivitasNilaiNewBlsfadsfblList.ExROB.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblList.ExROB.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblList.NoPenerimaan.Visible) { // subAktivitasNilaiNewBlsfadsfblList.NoPenerimaan.Visible (begin)
        <td data-name="NoPenerimaan" @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.NoPenerimaan.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblList.RowCount)_SubAktivitasNilaiNewBLSFADSFBL_NoPenerimaan" class="el_SubAktivitasNilaiNewBLSFADSFBL_NoPenerimaan">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.NoPenerimaan.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.NoPenerimaan.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblList.NoPenerimaan.Visible (end) *@
    @if (subAktivitasNilaiNewBlsfadsfblList.StatusAktivitas.Visible) { // subAktivitasNilaiNewBlsfadsfblList.StatusAktivitas.Visible (begin)
        <td data-name="StatusAktivitas" @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.StatusAktivitas.CellAttributes)>
<span id="el@(SameString(subAktivitasNilaiNewBlsfadsfblList.RowIndex, "$rowindex$") ? "$rowindex$" : subAktivitasNilaiNewBlsfadsfblList.RowCount)_SubAktivitasNilaiNewBLSFADSFBL_StatusAktivitas" class="el_SubAktivitasNilaiNewBLSFADSFBL_StatusAktivitas">
<span @Html.Raw(subAktivitasNilaiNewBlsfadsfblList.StatusAktivitas.ViewAttributes)>
@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.StatusAktivitas.GetViewValue())</span>
</span>
</td>
    } @* subAktivitasNilaiNewBlsfadsfblList.StatusAktivitas.Visible (end) *@
    @* Render list options (body, right) *@
    @subAktivitasNilaiNewBlsfadsfblList.ListOptions.RenderBody("right", subAktivitasNilaiNewBlsfadsfblList.RowCount)
    </tr>
    } @* End if *@

    // Reset for template row
    if (SameString(subAktivitasNilaiNewBlsfadsfblList.RowIndex, "$rowindex$"))
        subAktivitasNilaiNewBlsfadsfblList.RowIndex = 0;

    // Reset inline add/copy row
    if ((subAktivitasNilaiNewBlsfadsfblList.IsCopy || subAktivitasNilaiNewBlsfadsfblList.IsAdd) && subAktivitasNilaiNewBlsfadsfblList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        subAktivitasNilaiNewBlsfadsfblList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(subAktivitasNilaiNewBlsfadsfblList.CurrentAction) && !subAktivitasNilaiNewBlsfadsfblList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ subAktivitasNilaiNewBlsfadsfblList.CloseRecordset(); }
@if (!subAktivitasNilaiNewBlsfadsfblList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!subAktivitasNilaiNewBlsfadsfblList.IsGridAdd && !(subAktivitasNilaiNewBlsfadsfblList.IsGridEdit && subAktivitasNilaiNewBlsfadsfblList.ModalGridEdit) && !subAktivitasNilaiNewBlsfadsfblList.IsMultiEdit) {
@Html.Raw(subAktivitasNilaiNewBlsfadsfblList.Pager.Render())
}
<div class="ew-list-other-options">
@subAktivitasNilaiNewBlsfadsfblList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@subAktivitasNilaiNewBlsfadsfblList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
<div id="ew-footer-options">
    @subAktivitasNilaiNewBlsfadsfblList.FooterOptions.RenderBody()
</div>
</main>
@subAktivitasNilaiNewBlsfadsfblList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!subAktivitasNilaiNewBlsfadsfblList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasNilaiNewBLSFADSFBL");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
