@{
    // View
    View = this;

    // Check action result
    if (subAktivitasInputDataKapalLpgEdit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = subAktivitasInputDataKapalLpgEdit.UseLayout ? "_Layout" : "";
}
@subAktivitasInputDataKapalLpgEdit.ShowPageHeader()
@subAktivitasInputDataKapalLpgEdit.ShowMessages()
<main class="edit">
<form name="fSubAktivitasInputDataKapalLPGedit" id="fSubAktivitasInputDataKapalLPGedit" class="@(subAktivitasInputDataKapalLpgEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(subAktivitasInputDataKapalLpgEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { SubAktivitasInputDataKapalLPG: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fSubAktivitasInputDataKapalLPGedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fSubAktivitasInputDataKapalLPGedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["NoReferensi", [fields.NoReferensi.visible && fields.NoReferensi.required ? ew.Validators.required(fields.NoReferensi.caption) : null], fields.NoReferensi.isInvalid],
            ["idProses", [fields.idProses.visible && fields.idProses.required ? ew.Validators.required(fields.idProses.caption) : null], fields.idProses.isInvalid],
            ["idAktifitas", [fields.idAktifitas.visible && fields.idAktifitas.required ? ew.Validators.required(fields.idAktifitas.caption) : null], fields.idAktifitas.isInvalid],
            ["StatusAktivitas", [fields.StatusAktivitas.visible && fields.StatusAktivitas.required ? ew.Validators.required(fields.StatusAktivitas.caption) : null], fields.StatusAktivitas.isInvalid],
            ["LastUpdatedBy", [fields.LastUpdatedBy.visible && fields.LastUpdatedBy.required ? ew.Validators.required(fields.LastUpdatedBy.caption) : null], fields.LastUpdatedBy.isInvalid],
            ["lastUpdatedDate", [fields.lastUpdatedDate.visible && fields.lastUpdatedDate.required ? ew.Validators.required(fields.lastUpdatedDate.caption) : null], fields.lastUpdatedDate.isInvalid],
            ["NamaKapal", [fields.NamaKapal.visible && fields.NamaKapal.required ? ew.Validators.required(fields.NamaKapal.caption) : null], fields.NamaKapal.isInvalid],
            ["VoyageNumber", [fields.VoyageNumber.visible && fields.VoyageNumber.required ? ew.Validators.required(fields.VoyageNumber.caption) : null], fields.VoyageNumber.isInvalid],
            ["TanggalTiba", [fields.TanggalTiba.visible && fields.TanggalTiba.required ? ew.Validators.required(fields.TanggalTiba.caption) : null, ew.Validators.datetime(fields.TanggalTiba.clientFormatPattern)], fields.TanggalTiba.isInvalid],
            ["Nominasi", [fields.Nominasi.visible && fields.Nominasi.required ? ew.Validators.required(fields.Nominasi.caption) : null], fields.Nominasi.isInvalid],
            ["JenisProduk", [fields.JenisProduk.visible && fields.JenisProduk.required ? ew.Validators.required(fields.JenisProduk.caption) : null], fields.JenisProduk.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Client script
    // Write your client script here, no need to add script tags.
    var IdProses = "@subAktivitasInputDataKapalLpgEdit.idProses.CurrentValue";
    var NoReferensi = "@subAktivitasInputDataKapalLpgEdit.NoReferensi.CurrentValue";
    var parent_url = ew.PATH_BASE;
    $('#x_Nominasi')
        .attr('inputmode', 'numeric')
        .on('input', function () {
            let val = $(this).val();
            let isNegative = val.startsWith('-');
            val = val.replace(',', '.');
            val = val.replace(/[^0-9.]/g, '');
            const parts = val.split('.');
            if (parts.length > 2) {
                val = parts[0] + '.' + parts.slice(1).join('');
            }
            if (isNegative) {
                val = '-' + val;
            }
            $(this).val(val);
        });
    $('#x_Nominasi').on('focus', function () {
        hideFeedback($(this));
    });
    function hideFeedback(el) {
        let feedback = el.siblings('.invalid-feedback');
        feedback.hide();
    }
    function handleCustomSubmit(status) {
        let idAktivitas = $("#x_idAktifitas").val();
        const originalStatus = document.querySelector('#el_SubAktivitasInputDataKapalLPG_StatusAktivitas .form-control-plaintext').textContent;
        let tgltibaVal = $("#x_TanggalTiba").val();
        let noReferensi = $("#x_NoReferensi").val();
        $.ajax({
            url: parent_url + 'api/LookUpList/get_tanggal_tiba_sandar',
            type: 'GET',
            data: {
                NoReferensi: noReferensi,
                Menu: "Penyaluran"
            },
            beforeSend: function () {
                showLoading();
            },
            success: function (rs) {
                let tanggalSandar = new Date(rs.tanggalSandar);
                if (!tgltibaVal) {
                    hideLoading();
                    ew.alert("Tanggal tiba tidak boleh kosong");
                    return;
                }
                let tanggalTiba = new Date(tgltibaVal);
                if (tanggalTiba > tanggalSandar) {
                    hideLoading();
                    ew.alert("Tanggal tiba tidak boleh melebihi dari tanggal sandar");
                    return;
                }
                $.ajax({
                    url: parent_url + `api/LookUpList/check_valid_status_aktivitas?idAktivitas=${idAktivitas}&originalStatus=${originalStatus}`,
                    type: 'GET',
                    success: function (response) {
                        if (!response.IsValid){
                            hideLoading();
                            ew.alert(response.Message ?? "Status aktivitas telah diubah oleh pengguna lain");
                            return;
                        } else {
                            // Submit form AJAX
                            let form = $("#fSubAktivitasInputDataKapalLPGedit");
                            $.ajax({
                                url: form.attr("action"),
                                type: form.attr("method"),
                                data: form.serialize(),
                                success: function (response) {
                                    updateStatus(idAktivitas, status);
                                },
                                error: function (xhr, status, error) {
                                    hideLoading();
                                    ew.alert("Gagal menyimpan data.");
                                    console.error("Form submit gagal:", error);
                                }
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        hideLoading();
                        ew.alert("Gagal menyimpan data.");
                        console.error("Form submit gagal:", error);
                    }
                });
            },
            error: function (xhr, status, error) {
                hideLoading();
                console.error("Gagal mengambil tanggal sandar:", error);
            }
        });
    }
    function updateStatus(idAktivitas, status) {
        $.ajax({
            url: parent_url + `api/LookUpList/update_status_aktivitas?idAktivitas=${idAktivitas}&statusAktivitas=${status}`,
            type: 'POST',
            success: function () {
                $.ajax({
                    url: parent_url + 'api/LookUpList/generate_etc_konsinyasi',
                    method: 'POST',
                    data: JSON.stringify({ 
                        NoReferensi: NoReferensi,
                        Jenis: "LPG"
                    }),
                    contentType: 'application/json',
                    success: function (res) {
                        setTimeout(function () {
                            if (status == "Completed" || status == "Completed Edit") {
                                window.location.href = `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`;
                            } else {
                                location.reload();
                            }
                        }, 1000);
                    },
                    error: function (err) {
                        hideLoading();
                        ew.alert('Perubahan gagal disimpan.');
                        console.error(err);
                    },
                });
            },
            error: function (xhr, status, error) {
                ew.alert("Status gagal diperbarui.");
                console.error("Update status gagal:", error);
            },
            complete: function () {
                hideLoading();
            }
        });
    }
    function reverseStatus(status, catatan) {
        showLoading();
        let idAktivitas = $("#x_idAktifitas").val();
        $.ajax({
                url: parent_url + `api/LookUpList/update_status_aktivitas-v2`,
                type: 'POST',
                data: JSON.stringify({ IdAktivitas: idAktivitas, StatusAktivitas: status, Catatan: catatan ?? null }),
                contentType: 'application/json',
                success: function () {
                    $.ajax({
                        url: parent_url + 'api/LookUpList/generate_etc',
                        method: 'POST',
                        data: JSON.stringify({ NoReferensi: NoReferensi }),
                        contentType: 'application/json',
                        success: function (res) {
                            setTimeout(function () {
                                window.location.href = `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`;
                            }, 1000);
                        },
                        error: function (err) {
                            hideLoading();
                            ew.alert('Perubahan gagal disimpan.');
                            console.error(err);
                        },
                    });
                },
                error: function (xhr, status, error) {
                    ew.alert("Status gagal diperbarui.");
                    console.error("Update status gagal:", error);
                },
                complete: function () {
                    hideLoading();
                }
            });
        }
    $(document).on("submit", "#reverseStatusEditingModalForm", function (e) {
        e.preventDefault();
        let catatanText = $("#catatanReverseStatusEditing").val();
        reverseStatus("Editing", catatanText);
    });
    $(document).on("click", "#btn-draft", function () {
        handleCustomSubmit("Draft");
    });
    $(document).on("click", "#btn-completed", function () {
        handleCustomSubmit("Completed");
    });
    $(document).on("click", "#btn-editing", function () {
        handleCustomSubmit("Editing");
    });
    $(document).on("click", "#btn-completedEdit", function () {
        handleCustomSubmit("Completed Edit");
    });
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(subAktivitasInputDataKapalLpgEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(subAktivitasInputDataKapalLpgEdit.OldKeyName)" value="@Html.Raw(subAktivitasInputDataKapalLpgEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (subAktivitasInputDataKapalLpgEdit.NoReferensi.Visible) { // subAktivitasInputDataKapalLpgEdit.NoReferensi.Visible (begin)
    <div id="r_NoReferensi" @Html.Raw(subAktivitasInputDataKapalLpgEdit.NoReferensi.RowAttributes)>
        <label id="elh_SubAktivitasInputDataKapalLPG_NoReferensi" for="x_NoReferensi" class="@(subAktivitasInputDataKapalLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataKapalLpgEdit.NoReferensi.Caption)@Html.Raw(subAktivitasInputDataKapalLpgEdit.NoReferensi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataKapalLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataKapalLpgEdit.NoReferensi.CellAttributes)>
<span id="el_SubAktivitasInputDataKapalLPG_NoReferensi">
<span @Html.Raw(subAktivitasInputDataKapalLpgEdit.NoReferensi.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasInputDataKapalLpgEdit.NoReferensi.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasInputDataKapalLPG" data-field="x_NoReferensi" data-hidden="1" name="x_NoReferensi" id="x_NoReferensi" value="@Html.Raw(HtmlEncode(subAktivitasInputDataKapalLpgEdit.NoReferensi.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasInputDataKapalLpgEdit.NoReferensi.Visible (end) *@
@if (subAktivitasInputDataKapalLpgEdit.idProses.Visible) { // subAktivitasInputDataKapalLpgEdit.idProses.Visible (begin)
    <div id="r_idProses" @Html.Raw(subAktivitasInputDataKapalLpgEdit.idProses.RowAttributes)>
        <label id="elh_SubAktivitasInputDataKapalLPG_idProses" class="@(subAktivitasInputDataKapalLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataKapalLpgEdit.idProses.Caption)@Html.Raw(subAktivitasInputDataKapalLpgEdit.idProses.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataKapalLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataKapalLpgEdit.idProses.CellAttributes)>
<span id="el_SubAktivitasInputDataKapalLPG_idProses">
<span @Html.Raw(subAktivitasInputDataKapalLpgEdit.idProses.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasInputDataKapalLpgEdit.idProses.DisplayValue(subAktivitasInputDataKapalLpgEdit.idProses.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasInputDataKapalLPG" data-field="x_idProses" data-hidden="1" name="x_idProses" id="x_idProses" value="@Html.Raw(HtmlEncode(subAktivitasInputDataKapalLpgEdit.idProses.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasInputDataKapalLpgEdit.idProses.Visible (end) *@
@if (subAktivitasInputDataKapalLpgEdit.idAktifitas.Visible) { // subAktivitasInputDataKapalLpgEdit.idAktifitas.Visible (begin)
    <div id="r_idAktifitas" @Html.Raw(subAktivitasInputDataKapalLpgEdit.idAktifitas.RowAttributes)>
        <label id="elh_SubAktivitasInputDataKapalLPG_idAktifitas" for="x_idAktifitas" class="@(subAktivitasInputDataKapalLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataKapalLpgEdit.idAktifitas.Caption)@Html.Raw(subAktivitasInputDataKapalLpgEdit.idAktifitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataKapalLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataKapalLpgEdit.idAktifitas.CellAttributes)>
<span id="el_SubAktivitasInputDataKapalLPG_idAktifitas">
<span @Html.Raw(subAktivitasInputDataKapalLpgEdit.idAktifitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasInputDataKapalLpgEdit.idAktifitas.DisplayValue(subAktivitasInputDataKapalLpgEdit.idAktifitas.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasInputDataKapalLPG" data-field="x_idAktifitas" data-hidden="1" name="x_idAktifitas" id="x_idAktifitas" value="@Html.Raw(HtmlEncode(subAktivitasInputDataKapalLpgEdit.idAktifitas.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasInputDataKapalLpgEdit.idAktifitas.Visible (end) *@
@if (subAktivitasInputDataKapalLpgEdit.StatusAktivitas.Visible) { // subAktivitasInputDataKapalLpgEdit.StatusAktivitas.Visible (begin)
    <div id="r_StatusAktivitas" @Html.Raw(subAktivitasInputDataKapalLpgEdit.StatusAktivitas.RowAttributes)>
        <label id="elh_SubAktivitasInputDataKapalLPG_StatusAktivitas" for="x_StatusAktivitas" class="@(subAktivitasInputDataKapalLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataKapalLpgEdit.StatusAktivitas.Caption)@Html.Raw(subAktivitasInputDataKapalLpgEdit.StatusAktivitas.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataKapalLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataKapalLpgEdit.StatusAktivitas.CellAttributes)>
<span id="el_SubAktivitasInputDataKapalLPG_StatusAktivitas">
<span @Html.Raw(subAktivitasInputDataKapalLpgEdit.StatusAktivitas.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasInputDataKapalLpgEdit.StatusAktivitas.DisplayValue(subAktivitasInputDataKapalLpgEdit.StatusAktivitas.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasInputDataKapalLPG" data-field="x_StatusAktivitas" data-hidden="1" name="x_StatusAktivitas" id="x_StatusAktivitas" value="@Html.Raw(HtmlEncode(subAktivitasInputDataKapalLpgEdit.StatusAktivitas.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasInputDataKapalLpgEdit.StatusAktivitas.Visible (end) *@
@if (subAktivitasInputDataKapalLpgEdit.LastUpdatedBy.Visible) { // subAktivitasInputDataKapalLpgEdit.LastUpdatedBy.Visible (begin)
    <div id="r_LastUpdatedBy" @Html.Raw(subAktivitasInputDataKapalLpgEdit.LastUpdatedBy.RowAttributes)>
        <label id="elh_SubAktivitasInputDataKapalLPG_LastUpdatedBy" for="x_LastUpdatedBy" class="@(subAktivitasInputDataKapalLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataKapalLpgEdit.LastUpdatedBy.Caption)@Html.Raw(subAktivitasInputDataKapalLpgEdit.LastUpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataKapalLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataKapalLpgEdit.LastUpdatedBy.CellAttributes)>
<span id="el_SubAktivitasInputDataKapalLPG_LastUpdatedBy">
<span @Html.Raw(subAktivitasInputDataKapalLpgEdit.LastUpdatedBy.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasInputDataKapalLpgEdit.LastUpdatedBy.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasInputDataKapalLPG" data-field="x_LastUpdatedBy" data-hidden="1" name="x_LastUpdatedBy" id="x_LastUpdatedBy" value="@Html.Raw(HtmlEncode(subAktivitasInputDataKapalLpgEdit.LastUpdatedBy.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasInputDataKapalLpgEdit.LastUpdatedBy.Visible (end) *@
@if (subAktivitasInputDataKapalLpgEdit.lastUpdatedDate.Visible) { // subAktivitasInputDataKapalLpgEdit.lastUpdatedDate.Visible (begin)
    <div id="r_lastUpdatedDate" @Html.Raw(subAktivitasInputDataKapalLpgEdit.lastUpdatedDate.RowAttributes)>
        <label id="elh_SubAktivitasInputDataKapalLPG_lastUpdatedDate" for="x_lastUpdatedDate" class="@(subAktivitasInputDataKapalLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataKapalLpgEdit.lastUpdatedDate.Caption)@Html.Raw(subAktivitasInputDataKapalLpgEdit.lastUpdatedDate.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataKapalLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataKapalLpgEdit.lastUpdatedDate.CellAttributes)>
<span id="el_SubAktivitasInputDataKapalLPG_lastUpdatedDate">
<span @Html.Raw(subAktivitasInputDataKapalLpgEdit.lastUpdatedDate.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasInputDataKapalLpgEdit.lastUpdatedDate.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasInputDataKapalLPG" data-field="x_lastUpdatedDate" data-hidden="1" name="x_lastUpdatedDate" id="x_lastUpdatedDate" value="@Html.Raw(HtmlEncode(subAktivitasInputDataKapalLpgEdit.lastUpdatedDate.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasInputDataKapalLpgEdit.lastUpdatedDate.Visible (end) *@
@if (subAktivitasInputDataKapalLpgEdit.NamaKapal.Visible) { // subAktivitasInputDataKapalLpgEdit.NamaKapal.Visible (begin)
    <div id="r_NamaKapal" @Html.Raw(subAktivitasInputDataKapalLpgEdit.NamaKapal.RowAttributes)>
        <label id="elh_SubAktivitasInputDataKapalLPG_NamaKapal" for="x_NamaKapal" class="@(subAktivitasInputDataKapalLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataKapalLpgEdit.NamaKapal.Caption)@Html.Raw(subAktivitasInputDataKapalLpgEdit.NamaKapal.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataKapalLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataKapalLpgEdit.NamaKapal.CellAttributes)>
<span id="el_SubAktivitasInputDataKapalLPG_NamaKapal">
<span @Html.Raw(subAktivitasInputDataKapalLpgEdit.NamaKapal.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasInputDataKapalLpgEdit.NamaKapal.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasInputDataKapalLPG" data-field="x_NamaKapal" data-hidden="1" name="x_NamaKapal" id="x_NamaKapal" value="@Html.Raw(HtmlEncode(subAktivitasInputDataKapalLpgEdit.NamaKapal.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasInputDataKapalLpgEdit.NamaKapal.Visible (end) *@
@if (subAktivitasInputDataKapalLpgEdit.VoyageNumber.Visible) { // subAktivitasInputDataKapalLpgEdit.VoyageNumber.Visible (begin)
    <div id="r_VoyageNumber" @Html.Raw(subAktivitasInputDataKapalLpgEdit.VoyageNumber.RowAttributes)>
        <label id="elh_SubAktivitasInputDataKapalLPG_VoyageNumber" for="x_VoyageNumber" class="@(subAktivitasInputDataKapalLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataKapalLpgEdit.VoyageNumber.Caption)@Html.Raw(subAktivitasInputDataKapalLpgEdit.VoyageNumber.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataKapalLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataKapalLpgEdit.VoyageNumber.CellAttributes)>
<span id="el_SubAktivitasInputDataKapalLPG_VoyageNumber">
<input type="@(subAktivitasInputDataKapalLpgEdit.VoyageNumber.InputTextType)" name="x_VoyageNumber" id="x_VoyageNumber" data-table="SubAktivitasInputDataKapalLPG" data-field="x_VoyageNumber" value="@Html.Raw(subAktivitasInputDataKapalLpgEdit.VoyageNumber.EditValue)" size="30" maxlength="100" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputDataKapalLpgEdit.VoyageNumber.PlaceHolder))" data-format-pattern="@(subAktivitasInputDataKapalLpgEdit.VoyageNumber.FormatPattern)"@Html.Raw(subAktivitasInputDataKapalLpgEdit.VoyageNumber.EditAttributes) aria-describedby="x_VoyageNumber_help">
@Html.Raw(subAktivitasInputDataKapalLpgEdit.VoyageNumber.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputDataKapalLpgEdit.VoyageNumber.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* subAktivitasInputDataKapalLpgEdit.VoyageNumber.Visible (end) *@
@if (subAktivitasInputDataKapalLpgEdit.TanggalTiba.Visible) { // subAktivitasInputDataKapalLpgEdit.TanggalTiba.Visible (begin)
    <div id="r_TanggalTiba" @Html.Raw(subAktivitasInputDataKapalLpgEdit.TanggalTiba.RowAttributes)>
        <label id="elh_SubAktivitasInputDataKapalLPG_TanggalTiba" for="x_TanggalTiba" class="@(subAktivitasInputDataKapalLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataKapalLpgEdit.TanggalTiba.Caption)@Html.Raw(subAktivitasInputDataKapalLpgEdit.TanggalTiba.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataKapalLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataKapalLpgEdit.TanggalTiba.CellAttributes)>
<span id="el_SubAktivitasInputDataKapalLPG_TanggalTiba">
<input type="@(subAktivitasInputDataKapalLpgEdit.TanggalTiba.InputTextType)" name="x_TanggalTiba" id="x_TanggalTiba" data-table="SubAktivitasInputDataKapalLPG" data-field="x_TanggalTiba" value="@Html.Raw(subAktivitasInputDataKapalLpgEdit.TanggalTiba.EditValue)" placeholder="@Html.Raw(HtmlEncode(subAktivitasInputDataKapalLpgEdit.TanggalTiba.PlaceHolder))" data-format-pattern="@(subAktivitasInputDataKapalLpgEdit.TanggalTiba.FormatPattern)"@Html.Raw(subAktivitasInputDataKapalLpgEdit.TanggalTiba.EditAttributes) aria-describedby="x_TanggalTiba_help">
@Html.Raw(subAktivitasInputDataKapalLpgEdit.TanggalTiba.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(subAktivitasInputDataKapalLpgEdit.TanggalTiba.GetErrorMessage())</div>
@if (!subAktivitasInputDataKapalLpgEdit.TanggalTiba.ReadOnly && !subAktivitasInputDataKapalLpgEdit.TanggalTiba.Disabled && !subAktivitasInputDataKapalLpgEdit.TanggalTiba.EditAttrs.Is("readonly") && !subAktivitasInputDataKapalLpgEdit.TanggalTiba.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fSubAktivitasInputDataKapalLPGedit", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(9))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        clock: !!format.match(/h/i) || !!format.match(/m/) || !!format.match(/s/i),
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                theme: ew.getPreferredTheme()
                }
            };
    ew.createDateTimePicker("fSubAktivitasInputDataKapalLPGedit", "x_TanggalTiba", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* subAktivitasInputDataKapalLpgEdit.TanggalTiba.Visible (end) *@
@if (subAktivitasInputDataKapalLpgEdit.Nominasi.Visible) { // subAktivitasInputDataKapalLpgEdit.Nominasi.Visible (begin)
    <div id="r_Nominasi" @Html.Raw(subAktivitasInputDataKapalLpgEdit.Nominasi.RowAttributes)>
        <label id="elh_SubAktivitasInputDataKapalLPG_Nominasi" for="x_Nominasi" class="@(subAktivitasInputDataKapalLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataKapalLpgEdit.Nominasi.Caption)@Html.Raw(subAktivitasInputDataKapalLpgEdit.Nominasi.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataKapalLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataKapalLpgEdit.Nominasi.CellAttributes)>
<span id="el_SubAktivitasInputDataKapalLPG_Nominasi">
<span @Html.Raw(subAktivitasInputDataKapalLpgEdit.Nominasi.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(subAktivitasInputDataKapalLpgEdit.Nominasi.EditValue)))"></span>
<input type="hidden" data-table="SubAktivitasInputDataKapalLPG" data-field="x_Nominasi" data-hidden="1" name="x_Nominasi" id="x_Nominasi" value="@Html.Raw(HtmlEncode(subAktivitasInputDataKapalLpgEdit.Nominasi.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasInputDataKapalLpgEdit.Nominasi.Visible (end) *@
@if (subAktivitasInputDataKapalLpgEdit.JenisProduk.Visible) { // subAktivitasInputDataKapalLpgEdit.JenisProduk.Visible (begin)
    <div id="r_JenisProduk" @Html.Raw(subAktivitasInputDataKapalLpgEdit.JenisProduk.RowAttributes)>
        <label id="elh_SubAktivitasInputDataKapalLPG_JenisProduk" for="x_JenisProduk" class="@(subAktivitasInputDataKapalLpgEdit.LeftColumnClass)">@Html.Raw(subAktivitasInputDataKapalLpgEdit.JenisProduk.Caption)@Html.Raw(subAktivitasInputDataKapalLpgEdit.JenisProduk.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(subAktivitasInputDataKapalLpgEdit.RightColumnClass)"><div @Html.Raw(subAktivitasInputDataKapalLpgEdit.JenisProduk.CellAttributes)>
<span id="el_SubAktivitasInputDataKapalLPG_JenisProduk">
<span @Html.Raw(subAktivitasInputDataKapalLpgEdit.JenisProduk.ViewAttributes)>
<span class="form-control-plaintext">@Html.Raw(subAktivitasInputDataKapalLpgEdit.JenisProduk.DisplayValue(subAktivitasInputDataKapalLpgEdit.JenisProduk.EditValue))</span></span>
<input type="hidden" data-table="SubAktivitasInputDataKapalLPG" data-field="x_JenisProduk" data-hidden="1" name="x_JenisProduk" id="x_JenisProduk" value="@Html.Raw(HtmlEncode(subAktivitasInputDataKapalLpgEdit.JenisProduk.CurrentValue))">
</span>
</div></div>
    </div>
} @* subAktivitasInputDataKapalLpgEdit.JenisProduk.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="SubAktivitasInputDataKapalLPG" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(subAktivitasInputDataKapalLpgEdit.id.CurrentValue))">
@{ subAktivitasInputDataKapalLpgEdit.CloseRecordset(); }
@Html.Raw(subAktivitasInputDataKapalLpgEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(subAktivitasInputDataKapalLpgEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fSubAktivitasInputDataKapalLPGedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fSubAktivitasInputDataKapalLPGedit" data-href="@AppPath(subAktivitasInputDataKapalLpgEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(subAktivitasInputDataKapalLpgEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@subAktivitasInputDataKapalLpgEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("SubAktivitasInputDataKapalLPG");
});
</script>
<script>
loadjs.ready("load", function() {
    // Startup script
    var IdReferensi = "@subAktivitasInputDataKapalLpgEdit.NoReferensi.CurrentValue";
    var IdProses = "@subAktivitasInputDataKapalLpgEdit.idProses.CurrentValue";
    var idAktivitas = "@subAktivitasInputDataKapalLpgEdit.idAktifitas.CurrentValue";
    var NamaAktivitas = $('#el_SubAktivitasInputDataKapalLPG_idAktifitas').text();
    var parent_url = ew.PATH_BASE;
    const userLevel = "@CurrentUserLevel()";
    let currentStatusAktivitas = "";
    var steps = [
        { number: 1, label: "Proses Penyaluran", url: `${parent_url}PenyaluranList`, icon: "fa-truck-fast" },
        { number: 2, label: "Proses", url: `${parent_url}ProsesList?cmd=search&x_IdReferensi%5B%5D=${IdReferensi}&search=&searchtype=`, icon: "fa-gears" },
        { number: 3, label: "Aktivitas", url: `${parent_url}AktivitasList?cmd=search&x_IdProses%5B%5D=${IdProses}&search=&searchtype=`, icon: "fa-list-check" },
        { number: 4, label: NamaAktivitas, url: '', icon: "fa-file-circle-check" }
    ];
    var currentStep = 4;
    $("<style>")
        .prop("type", "text/css")
        .html(`
            .stepper {
                display: flex;
                counter-reset: step;
                flex-wrap: nowrap;        /* jangan pecah ke bawah */
                overflow-x: auto;         /* scroll horizontal */
                -webkit-overflow-scrolling: touch; /* smooth scroll di mobile */
                padding-bottom: 8px;      /* space biar scroll bar gak nempel */
            }
            .stepper::-webkit-scrollbar {
            height: 6px; /* tipis */
            }
            .stepper::-webkit-scrollbar-thumb {
                background-color: #ccc;
                border-radius: 3px;
            }
            .step {
                width: 150px;
                text-align: center;
                position: relative;
            }
            .step:not(:last-child)::after {
                content: '';
                position: absolute;
                top: 20px;
                right: -50%;
                width: 100%;
                height: 4px;
                background-color: #ccc;
                z-index: 0;
            }
            .step.completed:not(:last-child)::after {
                background-color: #3c6dbd;
            }
            .step-icon {
                width: 36px;
                height: 36px;
                line-height: 36px;
                border-radius: 50%;
                background: #ccc;
                display: inline-block;
                z-index: 1;
                position: relative;
                color: white;
                font-weight: bold;
            }
            .step.active .step-icon {
                background: #3c6dbd;
            }
            .step-label {
                margin-top: 8px;
                font-size: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6px;
                color: #333;
            }
            .step-label {
                color: #3c6dbd !important;
                text-decoration: none;
                margin: 0;
                padding: 0;
            }
            .step-label-not-active {
                color: #CCCCCC !important;
            }
            .ag-theme-quartz .ag-header {
                background-color: #3c6dbd !important;
            }
            .ag-theme-quartz .ag-header-cell-label {
                color: #ffffff !important;
            }
            .ag-theme-quartz .ag-icon-filter {
                color: #ffffff !important;
            }
            .rotate-down {
                transform: rotate(90deg);
                transition: transform 0.3s ease;
            }
            .rotate-right {
                transform: rotate(0deg);
                transition: transform 0.3s ease;
            }
        `)
        .appendTo("head");
    var $stepperWrapper = $('<div class="d-flex border-bottom border-2 pb-2"><div class="stepper"></div></div>');
    var $stepper = $stepperWrapper.find(".stepper");
    steps.forEach(function (step, i) {
        var isActive = step.number === currentStep;
        var isCompleted = step.number < currentStep;
        var stepClass = isActive ? "active" : isCompleted ? "completed" : "";
        var icon, labelContent, html;
        if (isActive) {
            icon = `<div class="step-icon bg-success">${step.number}</div>`;
            labelContent = `<div class="step-label"><p class="text-success mb-1"><i class="fa-solid ${step.icon} me-1 text-success"></i> ${step.label}</p></div>`;
            html = `<div class="step ${stepClass} text-success">${icon}${labelContent}</div>`;
        } else if (isCompleted) {
            icon = `<div class="step-icon" style="background: #3c6dbd;">${step.number}</div>`;
            labelContent = `<div class="step-label"><a href="${step.url}" class="text-primary"><i class="fa-solid ${step.icon} me-1"></i>${step.label}</a></div>`;
            html = `<div class="step ${stepClass}">${icon}${labelContent}</div>`;
        } else {
            icon = `<div class="step-icon">${step.number}</div>`;
            labelContent = `<div class="step-label-not-active"><p style="margin: 0;"><i class="fa-solid ${step.icon} me-1"></i>${step.label}</p></div>`;
            html = `<div class="step ${stepClass} text-secondary">${icon}${labelContent}</div>`;
        }
        $stepper.append(html);
    });
    $(".content-header .container-fluid .row").append($stepperWrapper);

    // let $btnSubmit = $("#btn-action");
    // let $btnCancel = $("#btn-cancel");
    // $btnSubmit.removeClass("btn-success")
    //     .addClass("btn-primary")
    //     .html('<i class="fas fa-save"></i> Save');
    // $btnCancel.html('<i class="fas fa-ban"></i> Cancel');
    $("#btn-action").hide();
    $("#btn-cancel").html('<i class="fa-solid fa-ban"></i></i> Cancel');
    const $cancelButton = $("#btn-cancel");
    const idAktifitas = $("#x_idAktifitas").val();

    // --- log aktivitas start ---
    $('#el_SubAktivitasInputDataKapalLPG_LastUpdatedBy').addClass('d-flex gap-3');
    $('#el_SubAktivitasInputDataKapalLPG_LastUpdatedBy').append(`
        <button type="button" class="btn btn-primary ew-btn ps-2" expand-log="false">
            <i class="fa-solid fa-caret-right fa-2xl me-2 caret-icon rotate-right"></i>
            Log History
            <i class="fa-solid fa-clock-rotate-left ms-1"></i> 
        </button>
    `);
    $(document).on('click', 'button[expand-log]', function () {
        const $btn = $(this);
        const isExpanded = $btn.attr('expand-log') === 'true';
        const $row = $('#log-table-row');
        const $wrapper = $('#log-table-wrapper');
        const $caret = $btn.find('.caret-icon');
        if (!isExpanded) {
            $btn.attr('expand-log', 'true');
            $row.removeClass('d-none');
            setTimeout(() => {
                $wrapper.css({
                    maxHeight: '500px'
                });
            }, 10);
            $caret.removeClass('rotate-right').addClass('rotate-down');
        } else {
            $btn.attr('expand-log', 'false');
            $wrapper.css({
                maxHeight: '0'
            });
            setTimeout(() => {
                $row.addClass('d-none');
            }, 600);
            $caret.removeClass('rotate-down').addClass('rotate-right');
        }
    });
    if (idAktivitas && idAktivitas !== "0") {
        $.ajax({
            url: parent_url + `api/LookUpList/sub-aktivitas/startup?idAktivitas=${idAktivitas}`,
            type: 'GET',
            success: function(response) {
                // cek status
                if ($cancelButton.length){
                    let status = response.StatusAktivitas;
                    currentStatusAktivitas = status;
                    let $customButtons = ``;
                    switch (status) {
                        case "Waiting":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-draft">
                                    <i class="fas fa-save"></i> Save
                                </button>
                            `;
                            break;
                        case "Draft":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-draft">
                                    <i class="fas fa-save"></i> Save
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completed">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `
                            break;
                        case "Completed":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-editing">
                                    <i class="fa-solid fa-pen-to-square"></i> Edit
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completedEdit">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `;
                            break;
                        case "Editing":
                            $customButtons = `
                                <button type="button" class="btn btn-primary ew-btn ml-2" id="btn-editing">
                                    <i class="fa-solid fa-pen-to-square"></i> Edit
                                </button>
                                <button type="button" class="btn btn-success ew-btn ml-2" id="btn-completedEdit">
                                    <i class="fas fa-paper-plane"></i> Submit
                                </button>
                            `;
                            break;
                        case "Completed Edit":
                            if (userLevel === '4'){
                                $customButtons = `
                                    <button type="button" class="btn btn-warning ew-btn ml-2" id="btn-reverse-status">
                                        <i class="fa-solid fa-pen-to-square"></i> Edit 
                                    </button>
                                `;
                            }
                            break;
                    }
                    $cancelButton.before($customButtons);
                }

                // Cek is editable
                if(!response.IsEditable || response.StatusAktivitas === "Completed Edit"){
                    $("#btn-draft").hide();
                    $("#btn-editing").hide();
                    $("#btn-completed").hide();
                    $("#btn-completedEdit").hide();
                    $('input, select, textarea').prop('disabled', true);
                    $('#catatanReverseStatusEditing').prop('disabled', false);
                }

                // Log
                const mappedData = response.LogAktivitas.map(item => ({
                    Aktivitas: item.Aktivitas,
                    Username: item.UserName,
                    StatusAktivitas: item.StatusAktivitas,
                    Tanggal: item.Tanggal,
                    Catatan: item.Catatan
                }));
                $.getScript('https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js', function () {
                        $('#r_LastUpdatedBy').after(`
                            <div id="log-table-row" class="d-none row m-0">
                                <div class="p-0 col-2"></div>
                                <div class="p-0 col-10">
                                    <div id="log-table-wrapper" style="overflow: hidden; transition: all 0.6s ease; max-height: 0;">
                                        <div id="myGrid" class="ag-theme-quartz w-100 my-3" style="height: 300px;"></div>
                                    </div>
                                </div>
                            </div>
                        `);
                        const gridOptions = {
                            rowData: mappedData,
                            columnDefs: [
                                {
                                    headerName: 'No.',
                                    valueGetter: 'node.rowIndex + 1',
                                    width: 80,
                                    filter: false
                                },
                                {
                                    headerName: 'Aktivitas',
                                    field: 'Aktivitas',
                                    flex: 1
                                },
                                {
                                    headerName: 'Username',
                                    field: 'Username',
                                    flex: 1
                                },
                                {
                                    headerName: 'Status Aktivitas',
                                    field: 'StatusAktivitas',
                                    flex: 1
                                },
                                {
                                    headerName: 'Tanggal',
                                    field: 'Tanggal',
                                    flex: 1
                                },
                                {
                                    headerName: 'Catatan',
                                    field: 'Catatan',
                                    flex: 1
                                }
                            ],
                            defaultColDef: {
                                sortable: false,
                                suppressMovable: true,
                                filter: true,
                                resizable: false
                            },
                            rowSelection: 'multiple',
                            suppressRowClickSelection: true,
                            pagination: true,
                            paginationPageSize: 10
                        };
                        const myGridElement = document.querySelector('#myGrid');
                        agGrid.createGrid(myGridElement, gridOptions);
                    });
            },
            error: function(xhr, status, error) {
                ew.alert(xhr.responseJSON.message ?? "Terjadi kesalahan dalam memuat data");
            }
        });
    } else {
        console.warn("Skipping startup API: Invalid IdAktivitas");
        $('button[expand-log]').hide(); 
        $("#btn-draft, #btn-editing, #btn-completed, #btn-completedEdit").hide();
        $('input, select, textarea').prop('disabled', true);
    }
    // --- log aktivitas end ---
     let reverseStatusModal = `<div class="modal fade" id="confirmReverseStatusEditingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header bg-primary">
                        <h1 class="modal-title fs-5" id="confirmReverseStatusEditingModalTitle">Konfirmasi Kembalikan Status</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <form id="reverseStatusEditingModalForm">
                        <div class="modal-body px-2 py-1">
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Catatan:</label>
                                <textarea class="form-control" id="catatanReverseStatusEditing" required rows="4"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnReverseStatusEditingModalCancel">Batal</button>
                            <button type="submit" class="btn btn-primary" id="btnReverseStatusEditingModalSubmit">Lanjutkan</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>`
    $("body").append(reverseStatusModal);
    $("#btnReverseStatusEditingModalCancel").click(function (event) {
        event.preventDefault();
        $("#confirmReverseStatusEditingModal").modal("hide");
    });
    $(document).on("click", "#btn-reverse-status", function () {
        $("#confirmReverseStatusEditingModal").modal("show");
    });
});
</script>
