@{
    // View
    View = this;

    // Check action result
    if (templateAktivitasView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = templateAktivitasView.UseLayout ? "_Layout" : "";
}
@if (!templateAktivitasView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @templateAktivitasView.ExportOptions.RenderBody()
    @templateAktivitasView.OtherOptions.RenderBody()
</div>
}
@templateAktivitasView.ShowPageHeader()
@templateAktivitasView.ShowMessages()
<main class="view">
<form name="fTemplateAktivitasview" id="fTemplateAktivitasview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!templateAktivitasView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(templateAktivitasView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { TemplateAktivitas: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fTemplateAktivitasview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fTemplateAktivitasview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(templateAktivitasView.IsModal)">
<table class="@(templateAktivitasView.TableClass)">
@if (templateAktivitasView.IdTemplateAktivitas.Visible) { // templateAktivitasView.IdTemplateAktivitas.Visible (begin)
    <tr id="r_IdTemplateAktivitas" @Html.Raw(templateAktivitasView.IdTemplateAktivitas.RowAttributes)>
        <td class="@(templateAktivitasView.TableLeftColumnClass)"><span id="elh_TemplateAktivitas_IdTemplateAktivitas">@Html.Raw(templateAktivitasView.IdTemplateAktivitas.Caption)</span></td>
        <td data-name="IdTemplateAktivitas" @Html.Raw(templateAktivitasView.IdTemplateAktivitas.CellAttributes)>
<span id="el_TemplateAktivitas_IdTemplateAktivitas">
<span @Html.Raw(templateAktivitasView.IdTemplateAktivitas.ViewAttributes)>
@Html.Raw(templateAktivitasView.IdTemplateAktivitas.GetViewValue())</span>
</span></td>
    </tr>
} @* templateAktivitasView.IdTemplateAktivitas.Visible (end) *@
@if (templateAktivitasView.IdTemplateProses.Visible) { // templateAktivitasView.IdTemplateProses.Visible (begin)
    <tr id="r_IdTemplateProses" @Html.Raw(templateAktivitasView.IdTemplateProses.RowAttributes)>
        <td class="@(templateAktivitasView.TableLeftColumnClass)"><span id="elh_TemplateAktivitas_IdTemplateProses">@Html.Raw(templateAktivitasView.IdTemplateProses.Caption)</span></td>
        <td data-name="IdTemplateProses" @Html.Raw(templateAktivitasView.IdTemplateProses.CellAttributes)>
<span id="el_TemplateAktivitas_IdTemplateProses">
<span @Html.Raw(templateAktivitasView.IdTemplateProses.ViewAttributes)>
@Html.Raw(templateAktivitasView.IdTemplateProses.GetViewValue())</span>
</span></td>
    </tr>
} @* templateAktivitasView.IdTemplateProses.Visible (end) *@
@if (templateAktivitasView.UrutanAktivitas.Visible) { // templateAktivitasView.UrutanAktivitas.Visible (begin)
    <tr id="r_UrutanAktivitas" @Html.Raw(templateAktivitasView.UrutanAktivitas.RowAttributes)>
        <td class="@(templateAktivitasView.TableLeftColumnClass)"><span id="elh_TemplateAktivitas_UrutanAktivitas">@Html.Raw(templateAktivitasView.UrutanAktivitas.Caption)</span></td>
        <td data-name="UrutanAktivitas" @Html.Raw(templateAktivitasView.UrutanAktivitas.CellAttributes)>
<span id="el_TemplateAktivitas_UrutanAktivitas">
<span @Html.Raw(templateAktivitasView.UrutanAktivitas.ViewAttributes)>
@Html.Raw(templateAktivitasView.UrutanAktivitas.GetViewValue())</span>
</span></td>
    </tr>
} @* templateAktivitasView.UrutanAktivitas.Visible (end) *@
@if (templateAktivitasView.NamaAktivitas.Visible) { // templateAktivitasView.NamaAktivitas.Visible (begin)
    <tr id="r_NamaAktivitas" @Html.Raw(templateAktivitasView.NamaAktivitas.RowAttributes)>
        <td class="@(templateAktivitasView.TableLeftColumnClass)"><span id="elh_TemplateAktivitas_NamaAktivitas">@Html.Raw(templateAktivitasView.NamaAktivitas.Caption)</span></td>
        <td data-name="NamaAktivitas" @Html.Raw(templateAktivitasView.NamaAktivitas.CellAttributes)>
<span id="el_TemplateAktivitas_NamaAktivitas">
<span @Html.Raw(templateAktivitasView.NamaAktivitas.ViewAttributes)>
@Html.Raw(templateAktivitasView.NamaAktivitas.GetViewValue())</span>
</span></td>
    </tr>
} @* templateAktivitasView.NamaAktivitas.Visible (end) *@
@if (templateAktivitasView.IdPIC.Visible) { // templateAktivitasView.IdPIC.Visible (begin)
    <tr id="r_IdPIC" @Html.Raw(templateAktivitasView.IdPIC.RowAttributes)>
        <td class="@(templateAktivitasView.TableLeftColumnClass)"><span id="elh_TemplateAktivitas_IdPIC">@Html.Raw(templateAktivitasView.IdPIC.Caption)</span></td>
        <td data-name="IdPIC" @Html.Raw(templateAktivitasView.IdPIC.CellAttributes)>
<span id="el_TemplateAktivitas_IdPIC">
<span @Html.Raw(templateAktivitasView.IdPIC.ViewAttributes)>
@Html.Raw(templateAktivitasView.IdPIC.GetViewValue())</span>
</span></td>
    </tr>
} @* templateAktivitasView.IdPIC.Visible (end) *@
@if (templateAktivitasView.Keterangan.Visible) { // templateAktivitasView.Keterangan.Visible (begin)
    <tr id="r_Keterangan" @Html.Raw(templateAktivitasView.Keterangan.RowAttributes)>
        <td class="@(templateAktivitasView.TableLeftColumnClass)"><span id="elh_TemplateAktivitas_Keterangan">@Html.Raw(templateAktivitasView.Keterangan.Caption)</span></td>
        <td data-name="Keterangan" @Html.Raw(templateAktivitasView.Keterangan.CellAttributes)>
<span id="el_TemplateAktivitas_Keterangan">
<span @Html.Raw(templateAktivitasView.Keterangan.ViewAttributes)>
@Html.Raw(templateAktivitasView.Keterangan.GetViewValue())</span>
</span></td>
    </tr>
} @* templateAktivitasView.Keterangan.Visible (end) *@
@if (templateAktivitasView.DibuatOleh.Visible) { // templateAktivitasView.DibuatOleh.Visible (begin)
    <tr id="r_DibuatOleh" @Html.Raw(templateAktivitasView.DibuatOleh.RowAttributes)>
        <td class="@(templateAktivitasView.TableLeftColumnClass)"><span id="elh_TemplateAktivitas_DibuatOleh">@Html.Raw(templateAktivitasView.DibuatOleh.Caption)</span></td>
        <td data-name="DibuatOleh" @Html.Raw(templateAktivitasView.DibuatOleh.CellAttributes)>
<span id="el_TemplateAktivitas_DibuatOleh">
<span @Html.Raw(templateAktivitasView.DibuatOleh.ViewAttributes)>
@Html.Raw(templateAktivitasView.DibuatOleh.GetViewValue())</span>
</span></td>
    </tr>
} @* templateAktivitasView.DibuatOleh.Visible (end) *@
@if (templateAktivitasView.TanggalDibuat.Visible) { // templateAktivitasView.TanggalDibuat.Visible (begin)
    <tr id="r_TanggalDibuat" @Html.Raw(templateAktivitasView.TanggalDibuat.RowAttributes)>
        <td class="@(templateAktivitasView.TableLeftColumnClass)"><span id="elh_TemplateAktivitas_TanggalDibuat">@Html.Raw(templateAktivitasView.TanggalDibuat.Caption)</span></td>
        <td data-name="TanggalDibuat" @Html.Raw(templateAktivitasView.TanggalDibuat.CellAttributes)>
<span id="el_TemplateAktivitas_TanggalDibuat">
<span @Html.Raw(templateAktivitasView.TanggalDibuat.ViewAttributes)>
@Html.Raw(templateAktivitasView.TanggalDibuat.GetViewValue())</span>
</span></td>
    </tr>
} @* templateAktivitasView.TanggalDibuat.Visible (end) *@
@if (templateAktivitasView.DiperbaruiOleh.Visible) { // templateAktivitasView.DiperbaruiOleh.Visible (begin)
    <tr id="r_DiperbaruiOleh" @Html.Raw(templateAktivitasView.DiperbaruiOleh.RowAttributes)>
        <td class="@(templateAktivitasView.TableLeftColumnClass)"><span id="elh_TemplateAktivitas_DiperbaruiOleh">@Html.Raw(templateAktivitasView.DiperbaruiOleh.Caption)</span></td>
        <td data-name="DiperbaruiOleh" @Html.Raw(templateAktivitasView.DiperbaruiOleh.CellAttributes)>
<span id="el_TemplateAktivitas_DiperbaruiOleh">
<span @Html.Raw(templateAktivitasView.DiperbaruiOleh.ViewAttributes)>
@Html.Raw(templateAktivitasView.DiperbaruiOleh.GetViewValue())</span>
</span></td>
    </tr>
} @* templateAktivitasView.DiperbaruiOleh.Visible (end) *@
@if (templateAktivitasView.TanggalDiperbarui.Visible) { // templateAktivitasView.TanggalDiperbarui.Visible (begin)
    <tr id="r_TanggalDiperbarui" @Html.Raw(templateAktivitasView.TanggalDiperbarui.RowAttributes)>
        <td class="@(templateAktivitasView.TableLeftColumnClass)"><span id="elh_TemplateAktivitas_TanggalDiperbarui">@Html.Raw(templateAktivitasView.TanggalDiperbarui.Caption)</span></td>
        <td data-name="TanggalDiperbarui" @Html.Raw(templateAktivitasView.TanggalDiperbarui.CellAttributes)>
<span id="el_TemplateAktivitas_TanggalDiperbarui">
<span @Html.Raw(templateAktivitasView.TanggalDiperbarui.ViewAttributes)>
@Html.Raw(templateAktivitasView.TanggalDiperbarui.GetViewValue())</span>
</span></td>
    </tr>
} @* templateAktivitasView.TanggalDiperbarui.Visible (end) *@
@if (templateAktivitasView.TipeAktivitas.Visible) { // templateAktivitasView.TipeAktivitas.Visible (begin)
    <tr id="r_TipeAktivitas" @Html.Raw(templateAktivitasView.TipeAktivitas.RowAttributes)>
        <td class="@(templateAktivitasView.TableLeftColumnClass)"><span id="elh_TemplateAktivitas_TipeAktivitas">@Html.Raw(templateAktivitasView.TipeAktivitas.Caption)</span></td>
        <td data-name="TipeAktivitas" @Html.Raw(templateAktivitasView.TipeAktivitas.CellAttributes)>
<span id="el_TemplateAktivitas_TipeAktivitas">
<span @Html.Raw(templateAktivitasView.TipeAktivitas.ViewAttributes)>
@Html.Raw(templateAktivitasView.TipeAktivitas.GetViewValue())</span>
</span></td>
    </tr>
} @* templateAktivitasView.TipeAktivitas.Visible (end) *@
@if (templateAktivitasView._URL.Visible) { // templateAktivitasView._URL.Visible (begin)
    <tr id="r__URL" @Html.Raw(templateAktivitasView._URL.RowAttributes)>
        <td class="@(templateAktivitasView.TableLeftColumnClass)"><span id="elh_TemplateAktivitas__URL">@Html.Raw(templateAktivitasView._URL.Caption)</span></td>
        <td data-name="_URL" @Html.Raw(templateAktivitasView._URL.CellAttributes)>
<span id="el_TemplateAktivitas__URL">
<span @Html.Raw(templateAktivitasView._URL.ViewAttributes)>
@Html.Raw(templateAktivitasView._URL.GetViewValue())</span>
</span></td>
    </tr>
} @* templateAktivitasView._URL.Visible (end) *@
</table>
@{ templateAktivitasView.CloseRecordset(); }
@if (templateAktivitasView.CurrentDetailTables.Contains("TemplateAktivitasDokumen") && Resolve("TemplateAktivitasDokumen").DetailView) {
    if (!Empty(templateAktivitasView.CurrentDetailTable)) {
<h4 class="ew-detail-caption">@Html.Raw(Language.TablePhrase("TemplateAktivitasDokumen", "TblCaption"))</h4>
    }
        @await Html.PartialAsync("TemplateAktivitasDokumenGrid")
    View = this;
}
</form>
</main>
@templateAktivitasView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!templateAktivitasView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
