@{
    var masterTable = Resolve("TemplateProses");
    masterTable.TableClass = "table table-bordered table-hover table-sm ew-table ew-master-table"; // DN
}
@if (masterTable.Visible) { // masterTable.Visible (begin)
<div class="ew-master-div">
<table id="tbl_TemplateProsesmaster" class="table ew-view-table ew-master-table ew-vertical">
    <tbody>
        @if (masterTable.IdTemplate.Visible) { // masterTable.IdTemplate.Visible (begin)
        <tr id="r_IdTemplate" @Html.Raw(masterTable.IdTemplate.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.IdTemplate.Caption)</td>
            <td @Html.Raw(masterTable.IdTemplate.CellAttributes)>
<span id="el_TemplateProses_IdTemplate">
<span @Html.Raw(masterTable.IdTemplate.ViewAttributes)>
@Html.Raw(masterTable.IdTemplate.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.IdTemplate.Visible (end) *@
        @if (masterTable.UrutanProses.Visible) { // masterTable.UrutanProses.Visible (begin)
        <tr id="r_UrutanProses" @Html.Raw(masterTable.UrutanProses.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.UrutanProses.Caption)</td>
            <td @Html.Raw(masterTable.UrutanProses.CellAttributes)>
<span id="el_TemplateProses_UrutanProses">
<span @Html.Raw(masterTable.UrutanProses.ViewAttributes)>
@Html.Raw(masterTable.UrutanProses.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.UrutanProses.Visible (end) *@
        @if (masterTable.NamaProses.Visible) { // masterTable.NamaProses.Visible (begin)
        <tr id="r_NamaProses" @Html.Raw(masterTable.NamaProses.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.NamaProses.Caption)</td>
            <td @Html.Raw(masterTable.NamaProses.CellAttributes)>
<span id="el_TemplateProses_NamaProses">
<span @Html.Raw(masterTable.NamaProses.ViewAttributes)>
@Html.Raw(masterTable.NamaProses.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.NamaProses.Visible (end) *@
        @if (masterTable.IdPIC.Visible) { // masterTable.IdPIC.Visible (begin)
        <tr id="r_IdPIC" @Html.Raw(masterTable.IdPIC.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.IdPIC.Caption)</td>
            <td @Html.Raw(masterTable.IdPIC.CellAttributes)>
<span id="el_TemplateProses_IdPIC">
<span @Html.Raw(masterTable.IdPIC.ViewAttributes)>
@Html.Raw(masterTable.IdPIC.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.IdPIC.Visible (end) *@
        @if (masterTable.IdTools.Visible) { // masterTable.IdTools.Visible (begin)
        <tr id="r_IdTools" @Html.Raw(masterTable.IdTools.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.IdTools.Caption)</td>
            <td @Html.Raw(masterTable.IdTools.CellAttributes)>
<span id="el_TemplateProses_IdTools">
<span @Html.Raw(masterTable.IdTools.ViewAttributes)>
@Html.Raw(masterTable.IdTools.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.IdTools.Visible (end) *@
        @if (masterTable.Keterangan.Visible) { // masterTable.Keterangan.Visible (begin)
        <tr id="r_Keterangan" @Html.Raw(masterTable.Keterangan.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.Keterangan.Caption)</td>
            <td @Html.Raw(masterTable.Keterangan.CellAttributes)>
<span id="el_TemplateProses_Keterangan">
<span @Html.Raw(masterTable.Keterangan.ViewAttributes)>
@Html.Raw(masterTable.Keterangan.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.Keterangan.Visible (end) *@
        @if (masterTable.DibuatOleh.Visible) { // masterTable.DibuatOleh.Visible (begin)
        <tr id="r_DibuatOleh" @Html.Raw(masterTable.DibuatOleh.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.DibuatOleh.Caption)</td>
            <td @Html.Raw(masterTable.DibuatOleh.CellAttributes)>
<span id="el_TemplateProses_DibuatOleh">
<span @Html.Raw(masterTable.DibuatOleh.ViewAttributes)>
@Html.Raw(masterTable.DibuatOleh.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.DibuatOleh.Visible (end) *@
        @if (masterTable.TanggalDibuat.Visible) { // masterTable.TanggalDibuat.Visible (begin)
        <tr id="r_TanggalDibuat" @Html.Raw(masterTable.TanggalDibuat.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.TanggalDibuat.Caption)</td>
            <td @Html.Raw(masterTable.TanggalDibuat.CellAttributes)>
<span id="el_TemplateProses_TanggalDibuat">
<span @Html.Raw(masterTable.TanggalDibuat.ViewAttributes)>
@Html.Raw(masterTable.TanggalDibuat.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.TanggalDibuat.Visible (end) *@
        @if (masterTable.DiperbaruiOleh.Visible) { // masterTable.DiperbaruiOleh.Visible (begin)
        <tr id="r_DiperbaruiOleh" @Html.Raw(masterTable.DiperbaruiOleh.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.DiperbaruiOleh.Caption)</td>
            <td @Html.Raw(masterTable.DiperbaruiOleh.CellAttributes)>
<span id="el_TemplateProses_DiperbaruiOleh">
<span @Html.Raw(masterTable.DiperbaruiOleh.ViewAttributes)>
@Html.Raw(masterTable.DiperbaruiOleh.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.DiperbaruiOleh.Visible (end) *@
        @if (masterTable.TanggalDiperbarui.Visible) { // masterTable.TanggalDiperbarui.Visible (begin)
        <tr id="r_TanggalDiperbarui" @Html.Raw(masterTable.TanggalDiperbarui.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.TanggalDiperbarui.Caption)</td>
            <td @Html.Raw(masterTable.TanggalDiperbarui.CellAttributes)>
<span id="el_TemplateProses_TanggalDiperbarui">
<span @Html.Raw(masterTable.TanggalDiperbarui.ViewAttributes)>
@Html.Raw(masterTable.TanggalDiperbarui.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.TanggalDiperbarui.Visible (end) *@
    </tbody>
</table>
</div>
} @* masterTable.Visible (end) *@
