@{
    // View
    View = this;

    // Check action result
    if (templateProsesView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = templateProsesView.UseLayout ? "_Layout" : "";
}
@if (!templateProsesView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @templateProsesView.ExportOptions.RenderBody()
    @templateProsesView.OtherOptions.RenderBody()
</div>
}
@templateProsesView.ShowPageHeader()
@templateProsesView.ShowMessages()
<main class="view">
<form name="fTemplateProsesview" id="fTemplateProsesview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!templateProsesView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(templateProsesView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { TemplateProses: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fTemplateProsesview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fTemplateProsesview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(templateProsesView.IsModal)">
<table class="@(templateProsesView.TableClass)">
@if (templateProsesView.IdTemplateProses.Visible) { // templateProsesView.IdTemplateProses.Visible (begin)
    <tr id="r_IdTemplateProses" @Html.Raw(templateProsesView.IdTemplateProses.RowAttributes)>
        <td class="@(templateProsesView.TableLeftColumnClass)"><span id="elh_TemplateProses_IdTemplateProses">@Html.Raw(templateProsesView.IdTemplateProses.Caption)</span></td>
        <td data-name="IdTemplateProses" @Html.Raw(templateProsesView.IdTemplateProses.CellAttributes)>
<span id="el_TemplateProses_IdTemplateProses">
<span @Html.Raw(templateProsesView.IdTemplateProses.ViewAttributes)>
@Html.Raw(templateProsesView.IdTemplateProses.GetViewValue())</span>
</span></td>
    </tr>
} @* templateProsesView.IdTemplateProses.Visible (end) *@
@if (templateProsesView.IdTemplate.Visible) { // templateProsesView.IdTemplate.Visible (begin)
    <tr id="r_IdTemplate" @Html.Raw(templateProsesView.IdTemplate.RowAttributes)>
        <td class="@(templateProsesView.TableLeftColumnClass)"><span id="elh_TemplateProses_IdTemplate">@Html.Raw(templateProsesView.IdTemplate.Caption)</span></td>
        <td data-name="IdTemplate" @Html.Raw(templateProsesView.IdTemplate.CellAttributes)>
<span id="el_TemplateProses_IdTemplate">
<span @Html.Raw(templateProsesView.IdTemplate.ViewAttributes)>
@Html.Raw(templateProsesView.IdTemplate.GetViewValue())</span>
</span></td>
    </tr>
} @* templateProsesView.IdTemplate.Visible (end) *@
@if (templateProsesView.UrutanProses.Visible) { // templateProsesView.UrutanProses.Visible (begin)
    <tr id="r_UrutanProses" @Html.Raw(templateProsesView.UrutanProses.RowAttributes)>
        <td class="@(templateProsesView.TableLeftColumnClass)"><span id="elh_TemplateProses_UrutanProses">@Html.Raw(templateProsesView.UrutanProses.Caption)</span></td>
        <td data-name="UrutanProses" @Html.Raw(templateProsesView.UrutanProses.CellAttributes)>
<span id="el_TemplateProses_UrutanProses">
<span @Html.Raw(templateProsesView.UrutanProses.ViewAttributes)>
@Html.Raw(templateProsesView.UrutanProses.GetViewValue())</span>
</span></td>
    </tr>
} @* templateProsesView.UrutanProses.Visible (end) *@
@if (templateProsesView.NamaProses.Visible) { // templateProsesView.NamaProses.Visible (begin)
    <tr id="r_NamaProses" @Html.Raw(templateProsesView.NamaProses.RowAttributes)>
        <td class="@(templateProsesView.TableLeftColumnClass)"><span id="elh_TemplateProses_NamaProses">@Html.Raw(templateProsesView.NamaProses.Caption)</span></td>
        <td data-name="NamaProses" @Html.Raw(templateProsesView.NamaProses.CellAttributes)>
<span id="el_TemplateProses_NamaProses">
<span @Html.Raw(templateProsesView.NamaProses.ViewAttributes)>
@Html.Raw(templateProsesView.NamaProses.GetViewValue())</span>
</span></td>
    </tr>
} @* templateProsesView.NamaProses.Visible (end) *@
@if (templateProsesView.IdPIC.Visible) { // templateProsesView.IdPIC.Visible (begin)
    <tr id="r_IdPIC" @Html.Raw(templateProsesView.IdPIC.RowAttributes)>
        <td class="@(templateProsesView.TableLeftColumnClass)"><span id="elh_TemplateProses_IdPIC">@Html.Raw(templateProsesView.IdPIC.Caption)</span></td>
        <td data-name="IdPIC" @Html.Raw(templateProsesView.IdPIC.CellAttributes)>
<span id="el_TemplateProses_IdPIC">
<span @Html.Raw(templateProsesView.IdPIC.ViewAttributes)>
@Html.Raw(templateProsesView.IdPIC.GetViewValue())</span>
</span></td>
    </tr>
} @* templateProsesView.IdPIC.Visible (end) *@
@if (templateProsesView.IdTools.Visible) { // templateProsesView.IdTools.Visible (begin)
    <tr id="r_IdTools" @Html.Raw(templateProsesView.IdTools.RowAttributes)>
        <td class="@(templateProsesView.TableLeftColumnClass)"><span id="elh_TemplateProses_IdTools">@Html.Raw(templateProsesView.IdTools.Caption)</span></td>
        <td data-name="IdTools" @Html.Raw(templateProsesView.IdTools.CellAttributes)>
<span id="el_TemplateProses_IdTools">
<span @Html.Raw(templateProsesView.IdTools.ViewAttributes)>
@Html.Raw(templateProsesView.IdTools.GetViewValue())</span>
</span></td>
    </tr>
} @* templateProsesView.IdTools.Visible (end) *@
@if (templateProsesView.Keterangan.Visible) { // templateProsesView.Keterangan.Visible (begin)
    <tr id="r_Keterangan" @Html.Raw(templateProsesView.Keterangan.RowAttributes)>
        <td class="@(templateProsesView.TableLeftColumnClass)"><span id="elh_TemplateProses_Keterangan">@Html.Raw(templateProsesView.Keterangan.Caption)</span></td>
        <td data-name="Keterangan" @Html.Raw(templateProsesView.Keterangan.CellAttributes)>
<span id="el_TemplateProses_Keterangan">
<span @Html.Raw(templateProsesView.Keterangan.ViewAttributes)>
@Html.Raw(templateProsesView.Keterangan.GetViewValue())</span>
</span></td>
    </tr>
} @* templateProsesView.Keterangan.Visible (end) *@
@if (templateProsesView.DibuatOleh.Visible) { // templateProsesView.DibuatOleh.Visible (begin)
    <tr id="r_DibuatOleh" @Html.Raw(templateProsesView.DibuatOleh.RowAttributes)>
        <td class="@(templateProsesView.TableLeftColumnClass)"><span id="elh_TemplateProses_DibuatOleh">@Html.Raw(templateProsesView.DibuatOleh.Caption)</span></td>
        <td data-name="DibuatOleh" @Html.Raw(templateProsesView.DibuatOleh.CellAttributes)>
<span id="el_TemplateProses_DibuatOleh">
<span @Html.Raw(templateProsesView.DibuatOleh.ViewAttributes)>
@Html.Raw(templateProsesView.DibuatOleh.GetViewValue())</span>
</span></td>
    </tr>
} @* templateProsesView.DibuatOleh.Visible (end) *@
@if (templateProsesView.TanggalDibuat.Visible) { // templateProsesView.TanggalDibuat.Visible (begin)
    <tr id="r_TanggalDibuat" @Html.Raw(templateProsesView.TanggalDibuat.RowAttributes)>
        <td class="@(templateProsesView.TableLeftColumnClass)"><span id="elh_TemplateProses_TanggalDibuat">@Html.Raw(templateProsesView.TanggalDibuat.Caption)</span></td>
        <td data-name="TanggalDibuat" @Html.Raw(templateProsesView.TanggalDibuat.CellAttributes)>
<span id="el_TemplateProses_TanggalDibuat">
<span @Html.Raw(templateProsesView.TanggalDibuat.ViewAttributes)>
@Html.Raw(templateProsesView.TanggalDibuat.GetViewValue())</span>
</span></td>
    </tr>
} @* templateProsesView.TanggalDibuat.Visible (end) *@
@if (templateProsesView.DiperbaruiOleh.Visible) { // templateProsesView.DiperbaruiOleh.Visible (begin)
    <tr id="r_DiperbaruiOleh" @Html.Raw(templateProsesView.DiperbaruiOleh.RowAttributes)>
        <td class="@(templateProsesView.TableLeftColumnClass)"><span id="elh_TemplateProses_DiperbaruiOleh">@Html.Raw(templateProsesView.DiperbaruiOleh.Caption)</span></td>
        <td data-name="DiperbaruiOleh" @Html.Raw(templateProsesView.DiperbaruiOleh.CellAttributes)>
<span id="el_TemplateProses_DiperbaruiOleh">
<span @Html.Raw(templateProsesView.DiperbaruiOleh.ViewAttributes)>
@Html.Raw(templateProsesView.DiperbaruiOleh.GetViewValue())</span>
</span></td>
    </tr>
} @* templateProsesView.DiperbaruiOleh.Visible (end) *@
@if (templateProsesView.TanggalDiperbarui.Visible) { // templateProsesView.TanggalDiperbarui.Visible (begin)
    <tr id="r_TanggalDiperbarui" @Html.Raw(templateProsesView.TanggalDiperbarui.RowAttributes)>
        <td class="@(templateProsesView.TableLeftColumnClass)"><span id="elh_TemplateProses_TanggalDiperbarui">@Html.Raw(templateProsesView.TanggalDiperbarui.Caption)</span></td>
        <td data-name="TanggalDiperbarui" @Html.Raw(templateProsesView.TanggalDiperbarui.CellAttributes)>
<span id="el_TemplateProses_TanggalDiperbarui">
<span @Html.Raw(templateProsesView.TanggalDiperbarui.ViewAttributes)>
@Html.Raw(templateProsesView.TanggalDiperbarui.GetViewValue())</span>
</span></td>
    </tr>
} @* templateProsesView.TanggalDiperbarui.Visible (end) *@
</table>
@{ templateProsesView.CloseRecordset(); }
@if (templateProsesView.CurrentDetailTables.Contains("TemplateAktivitas") && Resolve("TemplateAktivitas").DetailView) {
    if (!Empty(templateProsesView.CurrentDetailTable)) {
<h4 class="ew-detail-caption">@Html.Raw(Language.TablePhrase("TemplateAktivitas", "TblCaption"))</h4>
    }
        @await Html.PartialAsync("TemplateAktivitasGrid")
    View = this;
}
</form>
</main>
@templateProsesView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!templateProsesView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
