@{
    var masterTable = Resolve("TemplateAktivitas");
    masterTable.TableClass = "table table-bordered table-hover table-sm ew-table ew-master-table"; // DN
}
@if (masterTable.Visible) { // masterTable.Visible (begin)
<div class="ew-master-div">
<table id="tbl_TemplateAktivitasmaster" class="table ew-view-table ew-master-table ew-vertical">
    <tbody>
        @if (masterTable.IdTemplateProses.Visible) { // masterTable.IdTemplateProses.Visible (begin)
        <tr id="r_IdTemplateProses" @Html.Raw(masterTable.IdTemplateProses.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.IdTemplateProses.Caption)</td>
            <td @Html.Raw(masterTable.IdTemplateProses.CellAttributes)>
<span id="el_TemplateAktivitas_IdTemplateProses">
<span @Html.Raw(masterTable.IdTemplateProses.ViewAttributes)>
@Html.Raw(masterTable.IdTemplateProses.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.IdTemplateProses.Visible (end) *@
        @if (masterTable.UrutanAktivitas.Visible) { // masterTable.UrutanAktivitas.Visible (begin)
        <tr id="r_UrutanAktivitas" @Html.Raw(masterTable.UrutanAktivitas.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.UrutanAktivitas.Caption)</td>
            <td @Html.Raw(masterTable.UrutanAktivitas.CellAttributes)>
<span id="el_TemplateAktivitas_UrutanAktivitas">
<span @Html.Raw(masterTable.UrutanAktivitas.ViewAttributes)>
@Html.Raw(masterTable.UrutanAktivitas.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.UrutanAktivitas.Visible (end) *@
        @if (masterTable.NamaAktivitas.Visible) { // masterTable.NamaAktivitas.Visible (begin)
        <tr id="r_NamaAktivitas" @Html.Raw(masterTable.NamaAktivitas.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.NamaAktivitas.Caption)</td>
            <td @Html.Raw(masterTable.NamaAktivitas.CellAttributes)>
<span id="el_TemplateAktivitas_NamaAktivitas">
<span @Html.Raw(masterTable.NamaAktivitas.ViewAttributes)>
@Html.Raw(masterTable.NamaAktivitas.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.NamaAktivitas.Visible (end) *@
        @if (masterTable.IdPIC.Visible) { // masterTable.IdPIC.Visible (begin)
        <tr id="r_IdPIC" @Html.Raw(masterTable.IdPIC.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.IdPIC.Caption)</td>
            <td @Html.Raw(masterTable.IdPIC.CellAttributes)>
<span id="el_TemplateAktivitas_IdPIC">
<span @Html.Raw(masterTable.IdPIC.ViewAttributes)>
@Html.Raw(masterTable.IdPIC.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.IdPIC.Visible (end) *@
        @if (masterTable.Keterangan.Visible) { // masterTable.Keterangan.Visible (begin)
        <tr id="r_Keterangan" @Html.Raw(masterTable.Keterangan.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.Keterangan.Caption)</td>
            <td @Html.Raw(masterTable.Keterangan.CellAttributes)>
<span id="el_TemplateAktivitas_Keterangan">
<span @Html.Raw(masterTable.Keterangan.ViewAttributes)>
@Html.Raw(masterTable.Keterangan.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.Keterangan.Visible (end) *@
        @if (masterTable.DibuatOleh.Visible) { // masterTable.DibuatOleh.Visible (begin)
        <tr id="r_DibuatOleh" @Html.Raw(masterTable.DibuatOleh.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.DibuatOleh.Caption)</td>
            <td @Html.Raw(masterTable.DibuatOleh.CellAttributes)>
<span id="el_TemplateAktivitas_DibuatOleh">
<span @Html.Raw(masterTable.DibuatOleh.ViewAttributes)>
@Html.Raw(masterTable.DibuatOleh.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.DibuatOleh.Visible (end) *@
        @if (masterTable.TanggalDibuat.Visible) { // masterTable.TanggalDibuat.Visible (begin)
        <tr id="r_TanggalDibuat" @Html.Raw(masterTable.TanggalDibuat.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.TanggalDibuat.Caption)</td>
            <td @Html.Raw(masterTable.TanggalDibuat.CellAttributes)>
<span id="el_TemplateAktivitas_TanggalDibuat">
<span @Html.Raw(masterTable.TanggalDibuat.ViewAttributes)>
@Html.Raw(masterTable.TanggalDibuat.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.TanggalDibuat.Visible (end) *@
        @if (masterTable.DiperbaruiOleh.Visible) { // masterTable.DiperbaruiOleh.Visible (begin)
        <tr id="r_DiperbaruiOleh" @Html.Raw(masterTable.DiperbaruiOleh.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.DiperbaruiOleh.Caption)</td>
            <td @Html.Raw(masterTable.DiperbaruiOleh.CellAttributes)>
<span id="el_TemplateAktivitas_DiperbaruiOleh">
<span @Html.Raw(masterTable.DiperbaruiOleh.ViewAttributes)>
@Html.Raw(masterTable.DiperbaruiOleh.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.DiperbaruiOleh.Visible (end) *@
        @if (masterTable.TanggalDiperbarui.Visible) { // masterTable.TanggalDiperbarui.Visible (begin)
        <tr id="r_TanggalDiperbarui" @Html.Raw(masterTable.TanggalDiperbarui.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.TanggalDiperbarui.Caption)</td>
            <td @Html.Raw(masterTable.TanggalDiperbarui.CellAttributes)>
<span id="el_TemplateAktivitas_TanggalDiperbarui">
<span @Html.Raw(masterTable.TanggalDiperbarui.ViewAttributes)>
@Html.Raw(masterTable.TanggalDiperbarui.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.TanggalDiperbarui.Visible (end) *@
        @if (masterTable.TipeAktivitas.Visible) { // masterTable.TipeAktivitas.Visible (begin)
        <tr id="r_TipeAktivitas" @Html.Raw(masterTable.TipeAktivitas.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable.TipeAktivitas.Caption)</td>
            <td @Html.Raw(masterTable.TipeAktivitas.CellAttributes)>
<span id="el_TemplateAktivitas_TipeAktivitas">
<span @Html.Raw(masterTable.TipeAktivitas.ViewAttributes)>
@Html.Raw(masterTable.TipeAktivitas.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable.TipeAktivitas.Visible (end) *@
        @if (masterTable._URL.Visible) { // masterTable._URL.Visible (begin)
        <tr id="r__URL" @Html.Raw(masterTable._URL.RowAttributes)>
            <td class="@(masterTable.TableLeftColumnClass)">@Html.Raw(masterTable._URL.Caption)</td>
            <td @Html.Raw(masterTable._URL.CellAttributes)>
<span id="el_TemplateAktivitas__URL">
<span @Html.Raw(masterTable._URL.ViewAttributes)>
@Html.Raw(masterTable._URL.GetViewValue())</span>
</span></td>
        </tr>
        } @* masterTable._URL.Visible (end) *@
    </tbody>
</table>
</div>
} @* masterTable.Visible (end) *@
