@{
    // View
    View = this;

    // Check action result
    if (templateAktivitasDokumenView.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = templateAktivitasDokumenView.UseLayout ? "_Layout" : "";
}
@if (!templateAktivitasDokumenView.IsExport()) {
<div class="btn-toolbar ew-toolbar">
    @templateAktivitasDokumenView.ExportOptions.RenderBody()
    @templateAktivitasDokumenView.OtherOptions.RenderBody()
</div>
}
@templateAktivitasDokumenView.ShowPageHeader()
@templateAktivitasDokumenView.ShowMessages()
<main class="view">
<form name="fTemplateAktivitasDokumenview" id="fTemplateAktivitasDokumenview" class="ew-form ew-view-form overlay-wrapper" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (!templateAktivitasDokumenView.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(templateAktivitasDokumenView.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { TemplateAktivitasDokumen: currentTable } });
var currentPageID = ew.PAGE_ID = "view";
var currentForm;
var fTemplateAktivitasDokumenview;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fTemplateAktivitasDokumenview")
        .setPageId("view")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="modal" value="@ConvertToInt(templateAktivitasDokumenView.IsModal)">
<table class="@(templateAktivitasDokumenView.TableClass)">
@if (templateAktivitasDokumenView.IdTemplateAktivitasDokumen.Visible) { // templateAktivitasDokumenView.IdTemplateAktivitasDokumen.Visible (begin)
    <tr id="r_IdTemplateAktivitasDokumen" @Html.Raw(templateAktivitasDokumenView.IdTemplateAktivitasDokumen.RowAttributes)>
        <td class="@(templateAktivitasDokumenView.TableLeftColumnClass)"><span id="elh_TemplateAktivitasDokumen_IdTemplateAktivitasDokumen">@Html.Raw(templateAktivitasDokumenView.IdTemplateAktivitasDokumen.Caption)</span></td>
        <td data-name="IdTemplateAktivitasDokumen" @Html.Raw(templateAktivitasDokumenView.IdTemplateAktivitasDokumen.CellAttributes)>
<span id="el_TemplateAktivitasDokumen_IdTemplateAktivitasDokumen">
<span @Html.Raw(templateAktivitasDokumenView.IdTemplateAktivitasDokumen.ViewAttributes)>
@Html.Raw(templateAktivitasDokumenView.IdTemplateAktivitasDokumen.GetViewValue())</span>
</span></td>
    </tr>
} @* templateAktivitasDokumenView.IdTemplateAktivitasDokumen.Visible (end) *@
@if (templateAktivitasDokumenView.IdTemplateAktivitas.Visible) { // templateAktivitasDokumenView.IdTemplateAktivitas.Visible (begin)
    <tr id="r_IdTemplateAktivitas" @Html.Raw(templateAktivitasDokumenView.IdTemplateAktivitas.RowAttributes)>
        <td class="@(templateAktivitasDokumenView.TableLeftColumnClass)"><span id="elh_TemplateAktivitasDokumen_IdTemplateAktivitas">@Html.Raw(templateAktivitasDokumenView.IdTemplateAktivitas.Caption)</span></td>
        <td data-name="IdTemplateAktivitas" @Html.Raw(templateAktivitasDokumenView.IdTemplateAktivitas.CellAttributes)>
<span id="el_TemplateAktivitasDokumen_IdTemplateAktivitas">
<span @Html.Raw(templateAktivitasDokumenView.IdTemplateAktivitas.ViewAttributes)>
@Html.Raw(templateAktivitasDokumenView.IdTemplateAktivitas.GetViewValue())</span>
</span></td>
    </tr>
} @* templateAktivitasDokumenView.IdTemplateAktivitas.Visible (end) *@
@if (templateAktivitasDokumenView.IdDokumen.Visible) { // templateAktivitasDokumenView.IdDokumen.Visible (begin)
    <tr id="r_IdDokumen" @Html.Raw(templateAktivitasDokumenView.IdDokumen.RowAttributes)>
        <td class="@(templateAktivitasDokumenView.TableLeftColumnClass)"><span id="elh_TemplateAktivitasDokumen_IdDokumen">@Html.Raw(templateAktivitasDokumenView.IdDokumen.Caption)</span></td>
        <td data-name="IdDokumen" @Html.Raw(templateAktivitasDokumenView.IdDokumen.CellAttributes)>
<span id="el_TemplateAktivitasDokumen_IdDokumen">
<span @Html.Raw(templateAktivitasDokumenView.IdDokumen.ViewAttributes)>
@Html.Raw(templateAktivitasDokumenView.IdDokumen.GetViewValue())</span>
</span></td>
    </tr>
} @* templateAktivitasDokumenView.IdDokumen.Visible (end) *@
@if (templateAktivitasDokumenView.WajibUpload.Visible) { // templateAktivitasDokumenView.WajibUpload.Visible (begin)
    <tr id="r_WajibUpload" @Html.Raw(templateAktivitasDokumenView.WajibUpload.RowAttributes)>
        <td class="@(templateAktivitasDokumenView.TableLeftColumnClass)"><span id="elh_TemplateAktivitasDokumen_WajibUpload">@Html.Raw(templateAktivitasDokumenView.WajibUpload.Caption)</span></td>
        <td data-name="WajibUpload" @Html.Raw(templateAktivitasDokumenView.WajibUpload.CellAttributes)>
<span id="el_TemplateAktivitasDokumen_WajibUpload">
<span @Html.Raw(templateAktivitasDokumenView.WajibUpload.ViewAttributes)>
<i class="fa-regular @(ConvertToBool(templateAktivitasDokumenView.WajibUpload.CurrentValue) ? "fa-square-check" : "fa-square") ew-icon ew-boolean"></i>
</span>
</span></td>
    </tr>
} @* templateAktivitasDokumenView.WajibUpload.Visible (end) *@
</table>
@{ templateAktivitasDokumenView.CloseRecordset(); }
</form>
</main>
@templateAktivitasDokumenView.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!templateAktivitasDokumenView.IsExport()) {
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
