@{
    // View
    View = this;

    // Check action result
    if (templateAktivitasDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = templateAktivitasDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(templateAktivitasDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { TemplateAktivitas: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fTemplateAktivitasdelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fTemplateAktivitasdelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Client script
    $('#fTemplateAktivitasdelete').on('submit', function (e) {
        e.preventDefault();
        showLoading();
        setTimeout(() => {
            hideLoading();
        }, 3000);
        this.requestSubmit();
    });
});
</script>
@templateAktivitasDelete.ShowPageHeader()
@templateAktivitasDelete.ShowMessages()
<form name="fTemplateAktivitasdelete" id="fTemplateAktivitasdelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in templateAktivitasDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(templateAktivitasDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(templateAktivitasDelete.TableContainerClass)" style="@(templateAktivitasDelete.TableContainerStyle)">
<table class="@(templateAktivitasDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (templateAktivitasDelete.IdTemplateProses.Visible) { // templateAktivitasDelete.IdTemplateProses.Visible (begin)
        <th class="@Html.Raw(templateAktivitasDelete.IdTemplateProses.HeaderCellClass)"><span id="elh_TemplateAktivitas_IdTemplateProses" class="TemplateAktivitas_IdTemplateProses">@Html.Raw(templateAktivitasDelete.IdTemplateProses.Caption)</span></th>
} @* templateAktivitasDelete.IdTemplateProses.Visible (end) *@
@if (templateAktivitasDelete.UrutanAktivitas.Visible) { // templateAktivitasDelete.UrutanAktivitas.Visible (begin)
        <th class="@Html.Raw(templateAktivitasDelete.UrutanAktivitas.HeaderCellClass)"><span id="elh_TemplateAktivitas_UrutanAktivitas" class="TemplateAktivitas_UrutanAktivitas">@Html.Raw(templateAktivitasDelete.UrutanAktivitas.Caption)</span></th>
} @* templateAktivitasDelete.UrutanAktivitas.Visible (end) *@
@if (templateAktivitasDelete.NamaAktivitas.Visible) { // templateAktivitasDelete.NamaAktivitas.Visible (begin)
        <th class="@Html.Raw(templateAktivitasDelete.NamaAktivitas.HeaderCellClass)"><span id="elh_TemplateAktivitas_NamaAktivitas" class="TemplateAktivitas_NamaAktivitas">@Html.Raw(templateAktivitasDelete.NamaAktivitas.Caption)</span></th>
} @* templateAktivitasDelete.NamaAktivitas.Visible (end) *@
@if (templateAktivitasDelete.IdPIC.Visible) { // templateAktivitasDelete.IdPIC.Visible (begin)
        <th class="@Html.Raw(templateAktivitasDelete.IdPIC.HeaderCellClass)"><span id="elh_TemplateAktivitas_IdPIC" class="TemplateAktivitas_IdPIC">@Html.Raw(templateAktivitasDelete.IdPIC.Caption)</span></th>
} @* templateAktivitasDelete.IdPIC.Visible (end) *@
@if (templateAktivitasDelete.Keterangan.Visible) { // templateAktivitasDelete.Keterangan.Visible (begin)
        <th class="@Html.Raw(templateAktivitasDelete.Keterangan.HeaderCellClass)"><span id="elh_TemplateAktivitas_Keterangan" class="TemplateAktivitas_Keterangan">@Html.Raw(templateAktivitasDelete.Keterangan.Caption)</span></th>
} @* templateAktivitasDelete.Keterangan.Visible (end) *@
@if (templateAktivitasDelete.DibuatOleh.Visible) { // templateAktivitasDelete.DibuatOleh.Visible (begin)
        <th class="@Html.Raw(templateAktivitasDelete.DibuatOleh.HeaderCellClass)"><span id="elh_TemplateAktivitas_DibuatOleh" class="TemplateAktivitas_DibuatOleh">@Html.Raw(templateAktivitasDelete.DibuatOleh.Caption)</span></th>
} @* templateAktivitasDelete.DibuatOleh.Visible (end) *@
@if (templateAktivitasDelete.TanggalDibuat.Visible) { // templateAktivitasDelete.TanggalDibuat.Visible (begin)
        <th class="@Html.Raw(templateAktivitasDelete.TanggalDibuat.HeaderCellClass)"><span id="elh_TemplateAktivitas_TanggalDibuat" class="TemplateAktivitas_TanggalDibuat">@Html.Raw(templateAktivitasDelete.TanggalDibuat.Caption)</span></th>
} @* templateAktivitasDelete.TanggalDibuat.Visible (end) *@
@if (templateAktivitasDelete.DiperbaruiOleh.Visible) { // templateAktivitasDelete.DiperbaruiOleh.Visible (begin)
        <th class="@Html.Raw(templateAktivitasDelete.DiperbaruiOleh.HeaderCellClass)"><span id="elh_TemplateAktivitas_DiperbaruiOleh" class="TemplateAktivitas_DiperbaruiOleh">@Html.Raw(templateAktivitasDelete.DiperbaruiOleh.Caption)</span></th>
} @* templateAktivitasDelete.DiperbaruiOleh.Visible (end) *@
@if (templateAktivitasDelete.TanggalDiperbarui.Visible) { // templateAktivitasDelete.TanggalDiperbarui.Visible (begin)
        <th class="@Html.Raw(templateAktivitasDelete.TanggalDiperbarui.HeaderCellClass)"><span id="elh_TemplateAktivitas_TanggalDiperbarui" class="TemplateAktivitas_TanggalDiperbarui">@Html.Raw(templateAktivitasDelete.TanggalDiperbarui.Caption)</span></th>
} @* templateAktivitasDelete.TanggalDiperbarui.Visible (end) *@
@if (templateAktivitasDelete.TipeAktivitas.Visible) { // templateAktivitasDelete.TipeAktivitas.Visible (begin)
        <th class="@Html.Raw(templateAktivitasDelete.TipeAktivitas.HeaderCellClass)"><span id="elh_TemplateAktivitas_TipeAktivitas" class="TemplateAktivitas_TipeAktivitas">@Html.Raw(templateAktivitasDelete.TipeAktivitas.Caption)</span></th>
} @* templateAktivitasDelete.TipeAktivitas.Visible (end) *@
@if (templateAktivitasDelete._URL.Visible) { // templateAktivitasDelete._URL.Visible (begin)
        <th class="@Html.Raw(templateAktivitasDelete._URL.HeaderCellClass)"><span id="elh_TemplateAktivitas__URL" class="TemplateAktivitas__URL">@Html.Raw(templateAktivitasDelete._URL.Caption)</span></th>
} @* templateAktivitasDelete._URL.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ templateAktivitasDelete.RecordCount = 0; }
@while (templateAktivitasDelete.Recordset != null && await templateAktivitasDelete.Recordset.ReadAsync()) { // DN
    templateAktivitasDelete.RecordCount++;
    templateAktivitasDelete.RowCount++;

    // Set row properties
    templateAktivitasDelete.ResetAttributes();
    templateAktivitasDelete.RowType = RowType.View; // View

    // Get the field contents
    await templateAktivitasDelete.LoadRowValues(templateAktivitasDelete.Recordset);

    // Render row
    await templateAktivitasDelete.RenderRow();
    <tr @Html.Raw(templateAktivitasDelete.RowAttributes)>
@if (templateAktivitasDelete.IdTemplateProses.Visible) { // templateAktivitasDelete.IdTemplateProses.Visible (begin)
        <td @Html.Raw(templateAktivitasDelete.IdTemplateProses.CellAttributes)>
<span id="">
<span @Html.Raw(templateAktivitasDelete.IdTemplateProses.ViewAttributes)>
@Html.Raw(templateAktivitasDelete.IdTemplateProses.GetViewValue())</span>
</span></td>
} @* templateAktivitasDelete.IdTemplateProses.Visible (end) *@
@if (templateAktivitasDelete.UrutanAktivitas.Visible) { // templateAktivitasDelete.UrutanAktivitas.Visible (begin)
        <td @Html.Raw(templateAktivitasDelete.UrutanAktivitas.CellAttributes)>
<span id="">
<span @Html.Raw(templateAktivitasDelete.UrutanAktivitas.ViewAttributes)>
@Html.Raw(templateAktivitasDelete.UrutanAktivitas.GetViewValue())</span>
</span></td>
} @* templateAktivitasDelete.UrutanAktivitas.Visible (end) *@
@if (templateAktivitasDelete.NamaAktivitas.Visible) { // templateAktivitasDelete.NamaAktivitas.Visible (begin)
        <td @Html.Raw(templateAktivitasDelete.NamaAktivitas.CellAttributes)>
<span id="">
<span @Html.Raw(templateAktivitasDelete.NamaAktivitas.ViewAttributes)>
@Html.Raw(templateAktivitasDelete.NamaAktivitas.GetViewValue())</span>
</span></td>
} @* templateAktivitasDelete.NamaAktivitas.Visible (end) *@
@if (templateAktivitasDelete.IdPIC.Visible) { // templateAktivitasDelete.IdPIC.Visible (begin)
        <td @Html.Raw(templateAktivitasDelete.IdPIC.CellAttributes)>
<span id="">
<span @Html.Raw(templateAktivitasDelete.IdPIC.ViewAttributes)>
@Html.Raw(templateAktivitasDelete.IdPIC.GetViewValue())</span>
</span></td>
} @* templateAktivitasDelete.IdPIC.Visible (end) *@
@if (templateAktivitasDelete.Keterangan.Visible) { // templateAktivitasDelete.Keterangan.Visible (begin)
        <td @Html.Raw(templateAktivitasDelete.Keterangan.CellAttributes)>
<span id="">
<span @Html.Raw(templateAktivitasDelete.Keterangan.ViewAttributes)>
@Html.Raw(templateAktivitasDelete.Keterangan.GetViewValue())</span>
</span></td>
} @* templateAktivitasDelete.Keterangan.Visible (end) *@
@if (templateAktivitasDelete.DibuatOleh.Visible) { // templateAktivitasDelete.DibuatOleh.Visible (begin)
        <td @Html.Raw(templateAktivitasDelete.DibuatOleh.CellAttributes)>
<span id="">
<span @Html.Raw(templateAktivitasDelete.DibuatOleh.ViewAttributes)>
@Html.Raw(templateAktivitasDelete.DibuatOleh.GetViewValue())</span>
</span></td>
} @* templateAktivitasDelete.DibuatOleh.Visible (end) *@
@if (templateAktivitasDelete.TanggalDibuat.Visible) { // templateAktivitasDelete.TanggalDibuat.Visible (begin)
        <td @Html.Raw(templateAktivitasDelete.TanggalDibuat.CellAttributes)>
<span id="">
<span @Html.Raw(templateAktivitasDelete.TanggalDibuat.ViewAttributes)>
@Html.Raw(templateAktivitasDelete.TanggalDibuat.GetViewValue())</span>
</span></td>
} @* templateAktivitasDelete.TanggalDibuat.Visible (end) *@
@if (templateAktivitasDelete.DiperbaruiOleh.Visible) { // templateAktivitasDelete.DiperbaruiOleh.Visible (begin)
        <td @Html.Raw(templateAktivitasDelete.DiperbaruiOleh.CellAttributes)>
<span id="">
<span @Html.Raw(templateAktivitasDelete.DiperbaruiOleh.ViewAttributes)>
@Html.Raw(templateAktivitasDelete.DiperbaruiOleh.GetViewValue())</span>
</span></td>
} @* templateAktivitasDelete.DiperbaruiOleh.Visible (end) *@
@if (templateAktivitasDelete.TanggalDiperbarui.Visible) { // templateAktivitasDelete.TanggalDiperbarui.Visible (begin)
        <td @Html.Raw(templateAktivitasDelete.TanggalDiperbarui.CellAttributes)>
<span id="">
<span @Html.Raw(templateAktivitasDelete.TanggalDiperbarui.ViewAttributes)>
@Html.Raw(templateAktivitasDelete.TanggalDiperbarui.GetViewValue())</span>
</span></td>
} @* templateAktivitasDelete.TanggalDiperbarui.Visible (end) *@
@if (templateAktivitasDelete.TipeAktivitas.Visible) { // templateAktivitasDelete.TipeAktivitas.Visible (begin)
        <td @Html.Raw(templateAktivitasDelete.TipeAktivitas.CellAttributes)>
<span id="">
<span @Html.Raw(templateAktivitasDelete.TipeAktivitas.ViewAttributes)>
@Html.Raw(templateAktivitasDelete.TipeAktivitas.GetViewValue())</span>
</span></td>
} @* templateAktivitasDelete.TipeAktivitas.Visible (end) *@
@if (templateAktivitasDelete._URL.Visible) { // templateAktivitasDelete._URL.Visible (begin)
        <td @Html.Raw(templateAktivitasDelete._URL.CellAttributes)>
<span id="">
<span @Html.Raw(templateAktivitasDelete._URL.ViewAttributes)>
@Html.Raw(templateAktivitasDelete._URL.GetViewValue())</span>
</span></td>
} @* templateAktivitasDelete._URL.Visible (end) *@
    </tr>
}
@{ templateAktivitasDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(templateAktivitasDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@templateAktivitasDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
