@{
    // View
    View = this;

    // Check action result
    if (templateProsesDelete.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = templateProsesDelete.UseLayout ? "_Layout" : "";
}
<script>
var currentTable = @Html.Raw(ConvertToJson(templateProsesDelete.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { TemplateProses: currentTable } });
var currentPageID = ew.PAGE_ID = "delete";
var currentForm;
var fTemplateProsesdelete;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fTemplateProsesdelete")
        .setPageId("delete")
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Client script
    $('#fTemplateProsesdelete').on('submit', function (e) {
        e.preventDefault();
        showLoading();
        setTimeout(() => {
            hideLoading();
        }, 3000);
        this.requestSubmit();
    });
});
</script>
@templateProsesDelete.ShowPageHeader()
@templateProsesDelete.ShowMessages()
<form name="fTemplateProsesdelete" id="fTemplateProsesdelete" class="ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in templateProsesDelete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid @(templateProsesDelete.TableGridClass)">
<div class="card-body ew-grid-middle-panel @(templateProsesDelete.TableContainerClass)" style="@(templateProsesDelete.TableContainerStyle)">
<table class="@(templateProsesDelete.TableClass)">
    <thead>
    <tr class="ew-table-header">
@if (templateProsesDelete.IdTemplate.Visible) { // templateProsesDelete.IdTemplate.Visible (begin)
        <th class="@Html.Raw(templateProsesDelete.IdTemplate.HeaderCellClass)"><span id="elh_TemplateProses_IdTemplate" class="TemplateProses_IdTemplate">@Html.Raw(templateProsesDelete.IdTemplate.Caption)</span></th>
} @* templateProsesDelete.IdTemplate.Visible (end) *@
@if (templateProsesDelete.UrutanProses.Visible) { // templateProsesDelete.UrutanProses.Visible (begin)
        <th class="@Html.Raw(templateProsesDelete.UrutanProses.HeaderCellClass)"><span id="elh_TemplateProses_UrutanProses" class="TemplateProses_UrutanProses">@Html.Raw(templateProsesDelete.UrutanProses.Caption)</span></th>
} @* templateProsesDelete.UrutanProses.Visible (end) *@
@if (templateProsesDelete.NamaProses.Visible) { // templateProsesDelete.NamaProses.Visible (begin)
        <th class="@Html.Raw(templateProsesDelete.NamaProses.HeaderCellClass)"><span id="elh_TemplateProses_NamaProses" class="TemplateProses_NamaProses">@Html.Raw(templateProsesDelete.NamaProses.Caption)</span></th>
} @* templateProsesDelete.NamaProses.Visible (end) *@
@if (templateProsesDelete.IdPIC.Visible) { // templateProsesDelete.IdPIC.Visible (begin)
        <th class="@Html.Raw(templateProsesDelete.IdPIC.HeaderCellClass)"><span id="elh_TemplateProses_IdPIC" class="TemplateProses_IdPIC">@Html.Raw(templateProsesDelete.IdPIC.Caption)</span></th>
} @* templateProsesDelete.IdPIC.Visible (end) *@
@if (templateProsesDelete.IdTools.Visible) { // templateProsesDelete.IdTools.Visible (begin)
        <th class="@Html.Raw(templateProsesDelete.IdTools.HeaderCellClass)"><span id="elh_TemplateProses_IdTools" class="TemplateProses_IdTools">@Html.Raw(templateProsesDelete.IdTools.Caption)</span></th>
} @* templateProsesDelete.IdTools.Visible (end) *@
@if (templateProsesDelete.Keterangan.Visible) { // templateProsesDelete.Keterangan.Visible (begin)
        <th class="@Html.Raw(templateProsesDelete.Keterangan.HeaderCellClass)"><span id="elh_TemplateProses_Keterangan" class="TemplateProses_Keterangan">@Html.Raw(templateProsesDelete.Keterangan.Caption)</span></th>
} @* templateProsesDelete.Keterangan.Visible (end) *@
@if (templateProsesDelete.DibuatOleh.Visible) { // templateProsesDelete.DibuatOleh.Visible (begin)
        <th class="@Html.Raw(templateProsesDelete.DibuatOleh.HeaderCellClass)"><span id="elh_TemplateProses_DibuatOleh" class="TemplateProses_DibuatOleh">@Html.Raw(templateProsesDelete.DibuatOleh.Caption)</span></th>
} @* templateProsesDelete.DibuatOleh.Visible (end) *@
@if (templateProsesDelete.TanggalDibuat.Visible) { // templateProsesDelete.TanggalDibuat.Visible (begin)
        <th class="@Html.Raw(templateProsesDelete.TanggalDibuat.HeaderCellClass)"><span id="elh_TemplateProses_TanggalDibuat" class="TemplateProses_TanggalDibuat">@Html.Raw(templateProsesDelete.TanggalDibuat.Caption)</span></th>
} @* templateProsesDelete.TanggalDibuat.Visible (end) *@
@if (templateProsesDelete.DiperbaruiOleh.Visible) { // templateProsesDelete.DiperbaruiOleh.Visible (begin)
        <th class="@Html.Raw(templateProsesDelete.DiperbaruiOleh.HeaderCellClass)"><span id="elh_TemplateProses_DiperbaruiOleh" class="TemplateProses_DiperbaruiOleh">@Html.Raw(templateProsesDelete.DiperbaruiOleh.Caption)</span></th>
} @* templateProsesDelete.DiperbaruiOleh.Visible (end) *@
@if (templateProsesDelete.TanggalDiperbarui.Visible) { // templateProsesDelete.TanggalDiperbarui.Visible (begin)
        <th class="@Html.Raw(templateProsesDelete.TanggalDiperbarui.HeaderCellClass)"><span id="elh_TemplateProses_TanggalDiperbarui" class="TemplateProses_TanggalDiperbarui">@Html.Raw(templateProsesDelete.TanggalDiperbarui.Caption)</span></th>
} @* templateProsesDelete.TanggalDiperbarui.Visible (end) *@
    </tr>
    </thead>
    <tbody>
@{ templateProsesDelete.RecordCount = 0; }
@while (templateProsesDelete.Recordset != null && await templateProsesDelete.Recordset.ReadAsync()) { // DN
    templateProsesDelete.RecordCount++;
    templateProsesDelete.RowCount++;

    // Set row properties
    templateProsesDelete.ResetAttributes();
    templateProsesDelete.RowType = RowType.View; // View

    // Get the field contents
    await templateProsesDelete.LoadRowValues(templateProsesDelete.Recordset);

    // Render row
    await templateProsesDelete.RenderRow();
    <tr @Html.Raw(templateProsesDelete.RowAttributes)>
@if (templateProsesDelete.IdTemplate.Visible) { // templateProsesDelete.IdTemplate.Visible (begin)
        <td @Html.Raw(templateProsesDelete.IdTemplate.CellAttributes)>
<span id="">
<span @Html.Raw(templateProsesDelete.IdTemplate.ViewAttributes)>
@Html.Raw(templateProsesDelete.IdTemplate.GetViewValue())</span>
</span></td>
} @* templateProsesDelete.IdTemplate.Visible (end) *@
@if (templateProsesDelete.UrutanProses.Visible) { // templateProsesDelete.UrutanProses.Visible (begin)
        <td @Html.Raw(templateProsesDelete.UrutanProses.CellAttributes)>
<span id="">
<span @Html.Raw(templateProsesDelete.UrutanProses.ViewAttributes)>
@Html.Raw(templateProsesDelete.UrutanProses.GetViewValue())</span>
</span></td>
} @* templateProsesDelete.UrutanProses.Visible (end) *@
@if (templateProsesDelete.NamaProses.Visible) { // templateProsesDelete.NamaProses.Visible (begin)
        <td @Html.Raw(templateProsesDelete.NamaProses.CellAttributes)>
<span id="">
<span @Html.Raw(templateProsesDelete.NamaProses.ViewAttributes)>
@Html.Raw(templateProsesDelete.NamaProses.GetViewValue())</span>
</span></td>
} @* templateProsesDelete.NamaProses.Visible (end) *@
@if (templateProsesDelete.IdPIC.Visible) { // templateProsesDelete.IdPIC.Visible (begin)
        <td @Html.Raw(templateProsesDelete.IdPIC.CellAttributes)>
<span id="">
<span @Html.Raw(templateProsesDelete.IdPIC.ViewAttributes)>
@Html.Raw(templateProsesDelete.IdPIC.GetViewValue())</span>
</span></td>
} @* templateProsesDelete.IdPIC.Visible (end) *@
@if (templateProsesDelete.IdTools.Visible) { // templateProsesDelete.IdTools.Visible (begin)
        <td @Html.Raw(templateProsesDelete.IdTools.CellAttributes)>
<span id="">
<span @Html.Raw(templateProsesDelete.IdTools.ViewAttributes)>
@Html.Raw(templateProsesDelete.IdTools.GetViewValue())</span>
</span></td>
} @* templateProsesDelete.IdTools.Visible (end) *@
@if (templateProsesDelete.Keterangan.Visible) { // templateProsesDelete.Keterangan.Visible (begin)
        <td @Html.Raw(templateProsesDelete.Keterangan.CellAttributes)>
<span id="">
<span @Html.Raw(templateProsesDelete.Keterangan.ViewAttributes)>
@Html.Raw(templateProsesDelete.Keterangan.GetViewValue())</span>
</span></td>
} @* templateProsesDelete.Keterangan.Visible (end) *@
@if (templateProsesDelete.DibuatOleh.Visible) { // templateProsesDelete.DibuatOleh.Visible (begin)
        <td @Html.Raw(templateProsesDelete.DibuatOleh.CellAttributes)>
<span id="">
<span @Html.Raw(templateProsesDelete.DibuatOleh.ViewAttributes)>
@Html.Raw(templateProsesDelete.DibuatOleh.GetViewValue())</span>
</span></td>
} @* templateProsesDelete.DibuatOleh.Visible (end) *@
@if (templateProsesDelete.TanggalDibuat.Visible) { // templateProsesDelete.TanggalDibuat.Visible (begin)
        <td @Html.Raw(templateProsesDelete.TanggalDibuat.CellAttributes)>
<span id="">
<span @Html.Raw(templateProsesDelete.TanggalDibuat.ViewAttributes)>
@Html.Raw(templateProsesDelete.TanggalDibuat.GetViewValue())</span>
</span></td>
} @* templateProsesDelete.TanggalDibuat.Visible (end) *@
@if (templateProsesDelete.DiperbaruiOleh.Visible) { // templateProsesDelete.DiperbaruiOleh.Visible (begin)
        <td @Html.Raw(templateProsesDelete.DiperbaruiOleh.CellAttributes)>
<span id="">
<span @Html.Raw(templateProsesDelete.DiperbaruiOleh.ViewAttributes)>
@Html.Raw(templateProsesDelete.DiperbaruiOleh.GetViewValue())</span>
</span></td>
} @* templateProsesDelete.DiperbaruiOleh.Visible (end) *@
@if (templateProsesDelete.TanggalDiperbarui.Visible) { // templateProsesDelete.TanggalDiperbarui.Visible (begin)
        <td @Html.Raw(templateProsesDelete.TanggalDiperbarui.CellAttributes)>
<span id="">
<span @Html.Raw(templateProsesDelete.TanggalDiperbarui.ViewAttributes)>
@Html.Raw(templateProsesDelete.TanggalDiperbarui.GetViewValue())</span>
</span></td>
} @* templateProsesDelete.TanggalDiperbarui.Visible (end) *@
    </tr>
}
@{ templateProsesDelete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div class="ew-buttons ew-desktop-buttons">
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(templateProsesDelete.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
</div>
</form>
@templateProsesDelete.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
